[2019-02-22 12:33] #5772 closed, assigned to yenda

[2019-02-22 12:54] tbenr commented on #7354
@krisc how you defined `chat/send-message` event?  (`capacities` in _extensions/core.cljs_)

[2019-02-22 12:59] #7487 closed, assigned to nobody

[2019-02-22 14:16] mandrigin commented on #7488
So we are going to release a new version soon to address the UI bugs. If everything goes as planned — next week.

[2019-02-22 14:49] churik opened #7557 ""Message syncing" section in profile is available for users on wi-fi"
# Problem

For users on Wi-Fi there is one feature that actually does nothing at attempt to tap on it. It was introduced as a part of https://github.com/status-im/status-react/pull//7433 .
I profile it looks like:
![fsdf](https://user-images.githubusercontent.com/4557972/53249652-ed063480-36b8-11e9-869b-7dd153d0c440.png)
So when the user is using  WI-Fi connection tries to tap on it - nothing happ

[2019-02-22 15:22] churik opened #7558 "PN is coming when receive a message from blocked user"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: was introduced by https://github.com/status-im/status-react/pull/7170. So if you block user, close app and this user sends you a message - you will receive PN. For now it is reproducible only on Android because of https://github.com/status-im/status-react/issues/7438

**Update:** on release 0.11.0  PNs are coming

[2019-02-22 15:30] hesterbruikman commented on #7557
Thanks for tagging Chu! On what platform and version is this? On iOS Nightly I do get the Message syncing settings screen, while being on Wi-Fi.

[2019-02-22 15:34] churik commented on #7557
Well for me nothing happens on both IOS 11.4. and Android 8.0 devices.

[2019-02-22 16:04] hesterbruikman commented on #7557
That's weird. Here's a screen recording of what it looks like for me: https://file.globalupload.io/1jCfKSdCQp.MP4

Recorded on iPhone 8. iOS 12.1.4 on WiFi.

<blockquote></blockquote>

[2019-02-22 17:10] Serhy opened #7559 ""Not connected. Tap for options" status for messages sent while fetching from mailserver in progress"
**_Type_**: Bug
**_Summary_**: When message is sent while blue progress bar in progress it very often ends up with the `Not connected. Tap for options` status. But in fact, the message reached mailserver fine since it can be received later from offline inbox

It's follow up issue to whisper-level mailserver message reliability improvement made in https://github.com/status-im/status-react/pull/7243

[2019-02-22 18:30] krisc commented on #7454
@gitcoinbot  @cammellos was giving me some help here https://github.com/krisc/status-react/commit/644b127f3973562e7bea5a2c2ecd58a0fbd0da91

I tried rebasing from latest dev branch and ran into some issues building. I probably won't get back into this until next week tbh.

[2019-02-22 18:32] krisc commented on #7354
@tbenr Oh totally forgot about this definition here. Thanks for reminding me! I had it like this:

[code]

seems so obvious haha

[2019-02-22 22:05] StatusSceptre commented on #7549
Also have this crash on release 0.9.33

[2019-02-24 01:18] ghost commented on #6872
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-24 06:06] StatusSceptre commented on #4158
@mul1sh are you still working on this?

[2019-02-24 08:18] ghost commented on #5556
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-24 09:24] Swader commented on #5556
6 months later...

[2019-02-24 09:38] mandrigin commented on #5556
Was moved to Pivotal, makes no sense to keep
it here too: https://www.pivotaltracker.com/epic/show/4179936

<blockquote><div><strong><a href="https://www.pivotaltracker.com/epic/show/4179936">Protecting login using biometrics (quicker login) - Pivotal Tracker</a></strong></div></blockquote>

[2019-02-24 09:38] #5556 closed, assigned to nobody

[2019-02-24 10:38] ghost commented on #6876
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-24 12:18] ghost commented on #5500
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-24 12:18] #5500 closed, assigned to nobody

[2019-02-24 12:28] ghost commented on #5749
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-24 12:34] mandrigin commented on #5749
Is that still the case? Do we still get timeouts for these tokens?

[2019-02-24 13:58] ghost commented on #6767
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-24 13:58] #6767 closed, assigned to nobody

[2019-02-24 18:17] StatusSceptre commented on #7352
@emmaodia if you need help make sure to check out this public chat on the Status app: https://get.status.im/chat/public/status-core

<blockquote><div><strong><a href="https://get.status.im/chat/public/status-core">Join the public chat: #status-core in Status</a></strong></div></blockquote>

[2019-02-25 06:16] mul1sh commented on #4158
@StatusSceptre yes I am, sorry for the late reply. But I will PR in a few hours 🙂 thanks.

[2019-02-25 06:29] #7453 closed, assigned to flexsurfer

[2019-02-25 08:31] goranjovic commented on #5749
@mandrigin it would still happen if we still used so large queries. It doesn't because we now  query only the last couple of weeks worth of blocks. The downside is that we only query the last couple of weeks.

[2019-02-25 08:36] oskarth opened #7565 "Desktop app should prompt for desktop integration"
When I install Status desktop AppImage on Linux (Fedora 29, it'd be nice if it prompted me to create desktop shortcuts. That way I could launch the app from Gnome Shell Menu etc.

Right now I have to launch it from my terminal with something like `status &` which is a bit annoying. I could create a custom desktop entry as well (e.g. https://ask.fedoraproject.org/en/question/30272/how-to-create-sho

[2019-02-25 08:36] oskarth commented on #7565
cc @vkjr @siphiuel

[2019-02-25 08:58] ghost commented on #6689
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-25 09:02] jakubgs commented on #6689
@dshulyak

As far as I can tell `MaxPeers` setting isn't a Whisper setting but a Devp2p one, I don't see anything related there:
https://github.com/status-im/whisper/blob/master/whisperv6/whisper.go
@adambabik would it be possible to send back an envelope about reaching max peers?

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img

[2019-02-25 09:15] annadanchenko commented on #7224
closing as release 0.9.33 is out

[2019-02-25 09:15] #7224 closed, assigned to nobody

[2019-02-25 09:24] annadanchenko opened #7566 "0.10.0 public mobile release (0.9.34 in old versioning scheme)"
issue to manage 0.10.0 release (this is the next release after 0.9.33 and would have 0.9.34 version but we are changing versioning scheme)

open issues and PRs for release: https://github.com/status-im/status-react/labels/release

[2019-02-25 09:57] guylouis opened #7568 "add WIBB token on Rinkeby"
Add support of WIBB token on Rinkeby network, to support Womens in Block Chain Barcelona DAO

Contract adress
0x7d4ccf6af2f0fdad48ee7958bcc28bdef7b732c7

Reference:
https://github.com/womeninblockchainbarcelona/wibb-project/blob/master/0.General/Importing-WIBB-tokens-to-Metamask.md

[2019-02-25 10:07] goranjovic opened #7570 "Decouple Sign message from Send transaction flow"
# Problem

Large PR with Wallet redesign is not mergeable because of dependencies between Send and Sign message flows

# Implementation

Decouple Sign message from Send transaction flow

# Acceptance Criteria

- flows are decoupled
- Sign message depends on navigation parameters only, not arbitrary (shared) part of app-db.

# Future Steps

Scavenge Wallet Redesign PR further - https://github.com/s

[2019-02-25 10:08] ghost commented on #6892
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-25 10:08] ghost commented on #6314
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-25 10:08] #6314 closed, assigned to tersec

[2019-02-25 10:11] goranjovic opened #7571 "Decouple Request transaction flow from Send transaction flow"
# Problem

Large PR with Wallet redesign is not mergeable because of dependencies between Send and Request transaction flows

# Implementation

Decouple Request transaction from Send transaction flow

# Acceptance Criteria

- flows are decoupled
- Request transaction does not depend on the same part of app-db as Send transaction does. (Refactoring to use navigation parameters only is outside the s

[2019-02-25 10:30] Serhy commented on #6840
There is no Ropsten (LES) available now in develop so I can't confirm, but very likely it still takes place.

[2019-02-25 10:36] goranjovic commented on #7568
@guylouis do we have any icon or logo for this one?

[2019-02-25 10:38] ghost commented on #6316
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-25 10:38] #6316 closed, assigned to tersec

[2019-02-25 10:57] rachelhamlin opened #7573 "Desktop unable to connect"
### Description

*Type*: Bug

*Summary*:

_Edit:_ It seems that my path that produced this problem was actually a downgrade previous nightly back to the [alpha build](https://status.im/get_desktop/).

~I downloaded the nightly today and can no longer connect. `Chat offline` after switching mail servers and restarting repeatedly. Old version was working.~

Is it just me who is still unable to conne

[2019-02-25 11:28] ghost commented on #6803
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-25 11:58] ghost commented on #6453
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-25 12:11] guylouis commented on #7568
Can't find any. Do we have a generic icon defined for tokens in this case ?

[2019-02-25 12:18] goranjovic commented on #7568
@guylouis yes, but it's a bit bland. Doesn't matter, I'll add it without the icon, if we do find it in the mean time we'll add it too, if not no harm.

[2019-02-25 12:52] churik commented on #7557
Can't reproduce on nightly 25/02/2019

[2019-02-25 12:52] #7557 closed, assigned to nobody

[2019-02-25 12:54] churik commented on #6803
Not stale

[2019-02-25 12:55] churik commented on #6453
Not stale

[2019-02-25 13:02] ghost commented on #6901
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-25 13:44] mandrigin commented on #7522
I will take a look

[2019-02-25 13:47] mandrigin commented on #6901
Constantinople issue, let's keep it open. Needs to be revisited after the hard fork and status-go upgrades.

[2019-02-25 16:02] ghost commented on #6897
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-25 16:14] annadanchenko opened #7579 "App in "Offline" state is launched if open app via Push notification (with saved password)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Offline state is shown for long time (10 minutes at least) if open app by tapping on push notification. password should be saved, so 1:1 chat is

[2019-02-25 16:22] churik commented on #5048
Still reproducible with ETHro on Ropsten network, however works fine with real ETH on mainnet and tokens on Ropsten.

[2019-02-25 17:23] jakubgs commented on #7566
![eh_impressive](https://user-images.githubusercontent.com/2212681/53355889-63f63400-392a-11e9-882c-ce768b0c6ad5.gif)

[2019-02-25 17:42] ghost commented on #6817
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-25 17:42] #6817 closed, assigned to nobody

[2019-02-25 18:02] ghost commented on #6818
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-25 19:58] #7217 closed, assigned to dmitryn

[2019-02-26 00:09] krisc commented on #7353
@jeluard , would like a response to my questions in my proposal.

[2019-02-26 08:22] rachelhamlin opened #7582 "Desktop not able to decrypt data; dead end"
### Description

*Type*: Bug

*Summary*: Had issues ~on the nightly~ [after downgrading to alpha](https://github.com/status-im/status-react/issues/7573) yesterday, so I uninstalled and reinstalled [alpha](https://status-im.ams3.digitaloceanspaces.com/StatusIm-181224-165548-797a3a-release.dmg), and now can't log in to Status. This error is now blocking me on any build I try, including [nightly](htt

[2019-02-26 08:27] mandrigin commented on #7582
that looks like a pretty serious issue :(

[2019-02-26 08:27] rachelhamlin commented on #7582
Glad you caught this @mandrigin - I'm struggling on every version I try now :(

[2019-02-26 08:42] cammellos commented on #7573
@rachelhamlin the pictures above are not from a nightly likely, so it looks like the app was dowgraded, do you remember where you downloaded this build from?

[2019-02-26 08:47] rachelhamlin commented on #7573
Is it possible I just downloaded the alpha build again? So here: https://status.im/get_desktop/

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/get_desktop/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></blockquote>

[2019-02-26 08:49] #7522 closed, assigned to mandrigin

[2019-02-26 08:53] mandrigin commented on #7507
I can reproduce on iOS too

[2019-02-26 09:04] #7573 closed, assigned to nobody

[2019-02-26 09:09] churik commented on #7582
@rachelhamlin @mandrigin in the case it can be helpful, when I encountered this error I always cleaned up data.
AFAIK this is the only way because we didn't support downgrades and for testing purposes we have possibility to run several instances (details are here https://github.com/status-im/status-react/pull/6666).

[2019-02-26 09:15] mandrigin commented on #7507
found a fix, will re-release status-go and make a PR here

[2019-02-26 09:28] ghost commented on #6912
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 09:38] ghost commented on #6821
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-26 09:38] #6821 closed, assigned to nobody

[2019-02-26 09:49] rachelhamlin commented on #7582
Okay, so here's where I'm at...

I've uninstalled Status and removed Status folder from ~/Library (MacOS).
Reinstalled and run Status and still same error.

I seem to remember there being additional files to delete when troubleshooting on Mac. Is there something more you can think of @churik? Reading your comments in #6666, but it doesn't seem I have to rename the files.

[2019-02-26 10:02] churik commented on #7582
https://github.com/status-im/status-react/pull/6666 is for future usage - you don't need to use your real data for testing, so it is much easier to create separate db and use PR or nightly or any experimental build with stable build simultaneously.

Please, try to do:
- delete your status app completely form `Applications`
- delete your Status data inside ` ~/Library/Application\ Support/`
- in te

[2019-02-26 10:03] cammellos commented on #7582
@rachelhamlin can you send us the logs? there might be an error line and we might be able to understand better what's going on. Thanks!

[2019-02-26 10:16] rachelhamlin commented on #7582
Hey @cammellos, here are my overall system logs (you'll see one outright reference to Status). Is there a way to grab application specific logs from my Mac? I'm strangely not seeing a folder for Status in `~/Library` or `~/Library/Logs`.

[code]

[2019-02-26 10:18] rachelhamlin commented on #7582
@churik thank you—following these instructions now.

[2019-02-26 10:24] rachelhamlin commented on #7582
Okay, wow. I've followed these steps:
[code]

And I'm still coming up against this error.

![image](https://user-images.githubusercontent.com/15470435/53405869-0f4dca00-39b9-11e9-9ace-875c691808cb.png)

Here are the latest system logs:

[code]

[2019-02-26 10:25] cammellos commented on #7582
thanks @rachelhamlin I think we need Status.log @churik do you know where it is on Mac? (also not sure will be populated if logs are not enabled)

[2019-02-26 10:34] churik commented on #7582
@cammellos yes, it is `~/Library/Application\ Support/Status/Status.log` - if Rachel didn't set this path manually in console.

But by default logging is disabled. So @rachelhamlin please, copy file from https://drive.google.com/open?id=1dCoiyHaSTnKvBI3bjx2K2QODRNAZolE2 to your `~/Library/Preferences/` and try to launch Status again. Probably we can get some logs after this.

<blockquote><div><str

[2019-02-26 11:02] rachelhamlin commented on #7582
Ah no, I have them under Application Support after all. Thanks @churik. @cammellos, it's a huge file, so here they are: https://drive.google.com/file/d/1VsgVJfWs2K0hSNuKuIuNGsdSrRpEJ5rT/view?usp=sharing

<blockquote><div><strong><a href="https://drive.google.com/file/d/1VsgVJfWs2K0hSNuKuIuNGsdSrRpEJ5rT/view?usp=sharing">Meet Google Drive – One place for all your files</a></strong></div><div>Google

[2019-02-26 11:03] churik commented on #7582
@rachelhamlin did you clear your `Status` folder under `Application Support`?
So it is empty and contains only `Status.log`?

[2019-02-26 11:08] ghost commented on #6904
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 11:32] yenda commented on #7582
@cammellos

`11:11:26.192 - D - [default] - invoked RNKeychainManager::setUsername with username =  "status-im.encryptionkey"
11:11:26.195 - D - [jsserver] - [status-im.utils.handlers:34] - Handling re-frame event:  :hardwallet.callback/on-retrieve-pairing-success
11:11:26.196 - I - [jsserver] - [status-im.data-store.realm.core:124] - realm: moving all realms
11:11:26.200 - W - [jsserver] - [statu

[2019-02-26 11:35] #7507 closed, assigned to mandrigin

[2019-02-26 11:38] #7541 closed, assigned to cammellos

[2019-02-26 11:57] cammellos commented on #7582
That error looks ok https://github.com/status-im/status-react/blob/25118052dfd9ca3b36c4fd13b267c7db9d9a9626/src/status_im/data_store/core.cljs#L24 , it's just for an old migration looks like.

`Realm file decryption failed` this looks like the actual error (not in our codebase).

@rachelhamlin What if you remove this file and try again? `/Users/rachelhamlin/Library/Application Support/Status/defau

[2019-02-26 12:06] rachelhamlin commented on #7582
Yoooo, that worked @cammellos! Deleted `default.realm` and restarted Status, and I can now recover my account. THANK YOU!

[2019-02-26 12:08] ghost commented on #6860
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 12:29] rachelhamlin commented on #7582
Just to document what happened once I did recover, I ended up with an endless `Signing you in...` screen, so quit again.

Reopened and my account had been recovered for me; I entered my password.

Got this error (which we could improve copy on):

![image](https://user-images.githubusercontent.com/15470435/53412568-ff8ab180-39c9-11e9-9fa5-69d7663cd752.png)

And was initially unable to see, start or

[2019-02-26 13:10] churik commented on #7582
@cammellos can you confirm that it was migration error and cleaned up data inside `Application support/Status` should fix it?
For possible future requests.

[2019-02-26 13:20] cammellos commented on #7582
@churik yes, looks like it was due to dowgrade, and cleaning up the dir fixed

[2019-02-26 13:23] churik commented on #7582
@rachelhamlin if you don't mind I'll close it. Reopen it if it is still relevant to you.

[2019-02-26 13:23] #7582 closed, assigned to nobody

[2019-02-26 13:52] mandrigin commented on #7579
it looks like we never sign in when we start the app from notifications

[2019-02-26 14:18] ghost commented on #3918
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 14:38] ghost commented on #6781
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-26 14:39] #6781 closed, assigned to nobody

[2019-02-26 14:46] ghost commented on #6827
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 14:48] ghost commented on #4765
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 14:51] #7537 closed, assigned to rasom

[2019-02-26 14:54] mandrigin commented on #7488
I guess everything that was there is fixed on `develop` branch and we are release testing new version here: https://github.com/status-im/status-react/issues/7566

closing this issue

[2019-02-26 14:54] #7488 closed, assigned to nobody

[2019-02-26 14:55] mandrigin commented on #7566
release ci job: https://ci.status.im/job/status-react/job/release/job/release%252F0.10.x/

release branch: `release/0.10.x`. we will use tags to mark the exact commits that are used for releases/hotfixes (like `0.10.0`, `0.10.1`, etc).
That is a usual practice in many open-source projects and will make it easier to navigate our history later.

<blockquote><img src="/static/988e78de/favicon.ico" wi

[2019-02-26 15:08] ghost commented on #6796
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-26 15:10] flexsurfer opened #7589 "Stickers packs horizontal scrolling"
The sticker pack menu, the one where you can select the sticker to send, should be horizontally page'able so you can swipe between sticker packs

[2019-02-26 15:57] mandrigin commented on #4765
shouldn't be an issue with partitioned discovery topic

[2019-02-26 15:57] #4765 closed, assigned to nobody

[2019-02-26 16:05] krisc commented on #7353
Since @jeluard is apparently on vacation, @tbenr do you think you can take a look at my proposal before I move forward?

[2019-02-26 16:14] mandrigin commented on #7566
just pushed Andrea's change (https://github.com/status-im/status-react/pull/7526) to develop and the release branch.

@annadanchenko do we have anything else that is waiting?

[2019-02-26 16:16] mandrigin commented on #7476
It is impossible to use the current status app in **genymotion** emulator with Android 7.0 and Android 7.1, due to the bug in compilation flags for genymotion's version of Android itself.

Stock emulator works just fine.
Real devices work just fine.

SauceLabs tests were moved to 8.x where this issue is not present anymore.

There is nothing we can do about 7.0 and 7.1 with genymotion, so I'm clos

[2019-02-26 16:16] #7476 closed, assigned to nobody

[2019-02-26 16:21] mandrigin commented on #1126
@hesterbruikman @rachelhamlin it would be nice to get some visuals for that and then open it as a bounty.

[2019-02-26 16:21] mandrigin commented on #1125
@jakubgs didn't we submit it at least once? :)

[2019-02-26 16:22] jakubgs commented on #1125
@mandrigin no clue.

[2019-02-26 16:25] mandrigin commented on #2681
@goranjovic @asemiankevich maybe we can make a bounty out of this bug instead?

[2019-02-26 16:28] mandrigin commented on #3375
we use caches as much as possible, but taking into account the amount of work we need to make sure that neither node package (even with yarn that we use), nor gradle (Android) nor CocoaPods (iOS) won't require any internet connection it might not worth it at least for now.

@PombeirP please reopen if you disagree.

[2019-02-26 16:28] #3375 closed, assigned to nobody

[2019-02-26 16:34] mandrigin commented on #3413
Can't reproduce in 0.9.33 (iPhone Xs, iOS 12) neither with existing nor with a fresh account. Closing for now.

[2019-02-26 16:34] #3413 closed, assigned to nobody

[2019-02-26 16:36] mandrigin commented on #3585
@StatusSceptre can we make this one a bounty?

[2019-02-26 16:37] mandrigin commented on #3734
@StatusSceptre @yenda should we make it a bounty?

[2019-02-26 16:38] mandrigin commented on #3918
Moved to the Core Improvements backlog as https://www.pivotaltracker.com/epic/show/4182832, closing this GH issue.

<blockquote><div><strong><a href="https://www.pivotaltracker.com/epic/show/4182832">Improve application empty states - Pivotal Tracker</a></strong></div></blockquote>

[2019-02-26 16:38] #3918 closed, assigned to nobody

[2019-02-26 16:40] mandrigin commented on #4011
@denis-sharypin are there designs ready?
@goranjovic do you think it makes a good bounty?

[2019-02-26 16:42] mandrigin commented on #3988
very abandoned issue, closing it.
please reopen if disagree

[2019-02-26 16:42] #3988 closed, assigned to nobody

[2019-02-26 16:43] mandrigin commented on #4184
@hesterbruikman that looks like an important one to have... can we get some design ideas here?

[2019-02-26 16:44] mandrigin commented on #4186
duplicate of https://github.com/status-im/status-react/issues/1126, closing

[2019-02-26 16:44] #4186 closed, assigned to nobody

[2019-02-26 17:03] mandrigin commented on #4190
@denis-sharypin @yenda I think we need some permanent notification in the UI about that. It would be cool to make some mockups and add it as a bounty. I think we already have a method to detect if the device is rooted, so it is purely a UI work.

[2019-02-26 17:04] mandrigin commented on #4185
@adambabik I guess (2) is fixed, @yenda do you know about (1)?

[2019-02-26 17:42] mandrigin commented on #6159
LES is definitely not a high-severity issue

[2019-02-26 17:42] mandrigin commented on #7531
@annadanchenko I think it is fixed in 0.10.0 release branch, right?

[2019-02-26 17:44] StatusSceptre commented on #7353
@flexsurfer may also be able to help with direction as well.

[2019-02-26 17:58] ghost commented on #5659
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 18:05] adambabik commented on #4185
@mandrigin no idea, I haven't heard about any work on this issue.

[2019-02-26 18:38] ghost commented on #5776
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-26 18:57] mandrigin commented on #5242
@churik can you check https://github.com/status-im/status-react/pull/7592 branch? it shouldn't crash Android anymore at least...

[2019-02-26 19:08] tbenr commented on #7353
@krisc @StatusSceptre i'll look at this this evening

[2019-02-26 19:36] StatusSceptre commented on #3585
Yes please add the appropriate labels “bounty-awaiting-approval” and an estimated size for fix. @mandrigin @yenda

[2019-02-26 19:42] mandrigin commented on #4814
Bancor doesn't work in Android's WebView, period (Tried Android 8.0, 9.0). There is nothing wrong with our code.

It works in Chrome though, so probably it uses some API that is available there but not in the system WebView. Maybe this PR will help, we will see: https://github.com/status-im/status-react/pull/7515

[2019-02-26 20:08] tbenr commented on #7353
@krisc where is your proposal? if is it on gitcoin, I don't have access to that...

[2019-02-27 05:47] oskarth opened #7595 "Feature Request: Better scrolling on Desktop for Linux"
I find it difficult to catch up on and refer to earlier conversations on Desktop due to a poor scrolling experience. Here are the main pain points:

1) Scrolling with mouse wheel is way too sensitive. It just flies off the handle.
2) I can't scroll with page up and down (nor ctrl-f to search like in most web-based chats, but that's a separate issue)
3) If I try to use my mouse to scroll, the bar d

[2019-02-27 09:02] rachelhamlin opened #7596 "Add Uniswap DApp"
### Description

Add Uniswap DApp.

**Name:** Uniswap
**URL:** https://uniswap.exchange
**Description:** Uniswap offers automated ERC20 exchange on Ethereum. There is no token, platform fee or listing free.
**Category:** Exchanges

Needs logo.

[2019-02-27 09:33] hesterbruikman commented on #1126
@andmironov I recall you have [Delete my account] in the new Settings menu under [Privacy and Security].

Do you have any proposals that can work in the current UI? If not @mandrigin I suggest we hold off on this issue until the new Settings screen is implemented.

[2019-02-27 09:39] ghost commented on #6593
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-27 09:39] #6593 closed, assigned to nobody

[2019-02-27 09:43] hesterbruikman opened #7598 "Beta alert on upgrading"
We currently show a Beta alert, informing users that the app they are using is in Beta.

Copy wass updated end of Feb.
Issue https://github.com/status-im/status-react/issues/7400
PR https://github.com/status-im/status-react/pull/7540

The alert is currently shown on:
- Recover account
- Create additional account
- Create new account

We want to show this alert also to users after upgrading to a ne

[2019-02-27 09:44] hesterbruikman commented on #7598
cc @mandrigin @rachelhamlin

[2019-02-27 09:45] goranjovic commented on #4011
@mandrigin sure, see no reason why not

[2019-02-27 10:05] rachelhamlin opened #7599 "Change text on web3 permissions in profile"
#### Expected behavior
DApp permissions tab on profile screen is named `DApp permissions`.

#### Actual behavior
Tab is named `Dapps permissions`.

<img src="https://user-images.githubusercontent.com/15470435/53482595-da587a80-3a7f-11e9-82f7-98eb60bfe748.png" width=250/>

[2019-02-27 10:26] ghost commented on #4868
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 10:52] rachelhamlin commented on #7598
Can we bounty this one as well? Also noticing that the copy update hasn't been merged for v.0.10.0.

[2019-02-27 11:09] ghost commented on #6933
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 11:49] ghost commented on #6936
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 12:36] #7400 closed, assigned to andmironov, rachelhamlin, hesterbruikman

[2019-02-27 12:44] mandrigin commented on #3585
@StatusSceptre ~~added XL label, because it requires changes in both status-go and status-react.~~

UPD: Mixed it up with removing account, changed to `m`.

[2019-02-27 12:53] mandrigin commented on #5557
replaced by this epic: https://www.pivotaltracker.com/epic/show/4179934

[2019-02-27 12:53] #5557 closed, assigned to mandrigin

[2019-02-27 12:56] mandrigin commented on #5793
Android is done and released, further improvements will be done in: https://www.pivotaltracker.com/epic/show/4246970

[2019-02-27 12:56] #5793 closed, assigned to mandrigin

[2019-02-27 12:58] mandrigin commented on #5776
let's do a bounty out of it!

[2019-02-27 12:59] ghost commented on #4991
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 12:59] ghost commented on #3487
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 13:00] #4205 closed, assigned to nobody

[2019-02-27 13:08] mandrigin commented on #5787
@gballet how do you see that exactly? don't show value in fiat at all?

[2019-02-27 13:09] ghost commented on #6938
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 13:11] mandrigin commented on #5654
let's do a bounty, it is easy to reproduce and it is well-specified

[2019-02-27 13:18] mandrigin commented on #6179
works for me on 0.9.33, but it doesn't support Privacy Mode. I don't think it is for us to fix, closing this one. feel free to reopen.

[2019-02-27 13:18] #6179 closed, assigned to nobody

[2019-02-27 13:20] mandrigin commented on #6132
fixed in https://github.com/status-im/status-react/pull/7556

[2019-02-27 13:20] #6132 closed, assigned to nobody

[2019-02-27 13:22] mandrigin commented on #6399
@errorists can you provide some mockups/colorscheme, so we can make a bounty out of it?

[2019-02-27 13:26] mandrigin commented on #6376
I 100% agree with that. We have some local caches now.

But in general the authors of npm, gradle and cocoapods seem to disagree with that statement 😢 , and fighting agains the tools looks not the most productive way to spend our time right now.

Closing

[2019-02-27 13:26] #6376 closed, assigned to nobody

[2019-02-27 13:35] errorists commented on #6399
@mandrigin I know it's a recurring request, however I'm strongly against theme'ing the UI until we actually fix it and arrive at a point where we can rest assured that the stuff in production resembles what we've designed in Figma and our interface is a solid foundation to build on. Sorry Igor, but I must decline. I'd love to help out tho however I can in making the UI we have now performant and d

[2019-02-27 13:40] mandrigin commented on #6399
okay, sure, closing this issue then

[2019-02-27 13:40] #6399 closed, assigned to nobody

[2019-02-27 13:41] annadanchenko commented on #7598
@rachelhamlin we are merging https://github.com/status-im/status-react/pull/7540 to v 0.10.0. Is it a problem?

[2019-02-27 13:42] rachelhamlin commented on #7598
Nope, totally okay to merge the copy change. Thanks @annadanchenko!

[2019-02-27 13:47] mandrigin commented on #6480
okay, we (Status) are a part of https://ethereum-magicians.org/c/working-groups/constrained-resource-client-ring
not much did happen, unless LES/ULC are implemented.
there priority of that is fairly low right now (we won't be able to re-start this work until we solve stuff like onboarding, better message reliability, better error reporting, security audit, etc), so I'll close this one.

<blockquot

[2019-02-27 13:47] #6480 closed, assigned to nobody

[2019-02-27 13:54] mandrigin commented on #6573
It is partially addressed by plainly storing your password. It doesn't protect if you give your smartphone to someone else though, for that it might be useful.

[2019-02-27 13:59] mandrigin commented on #6562
Seed is removed as soon as it backed up for security reasons. Making private key exportable for a user will also open a hole for an advisory that would like to extract the PK and the money protected by it.
@corpetty correct me if I'm wrong, but I would say that this is not something that we want to implement. Feel free to reopen.

[2019-02-27 13:59] #6562 closed, assigned to nobody

[2019-02-27 14:01] mandrigin commented on #6556
Doesn't crash for me anymore (iPhone XS, iOS 12), closing.

[2019-02-27 14:01] #6556 closed, assigned to nobody

[2019-02-27 14:04] mandrigin commented on #6542
The seed phrase is remove as soon as it is marked as "backed up", for security reasons. Before that, you can find it in your profile.
For the same reasons, it isn't possible and I don't think it is a good idea to be able to export your private keys. You can't just "change password", when the private key is leaked, all the funds in the wallet will be leaked too.
cc @corpetty
Feel free to reopen if

[2019-02-27 14:04] #6542 closed, assigned to nobody

[2019-02-27 14:05] mandrigin commented on #6538
Remote debugging works at least in the current `develop` branch. I checked it in both Chrome + Genymotion / Android 8.0 and iOS Simulator + Safari. Closing this as implemented.

[2019-02-27 14:05] #6538 closed, assigned to nobody

[2019-02-27 14:07] mandrigin commented on #6517
Still happens. Sounds like a good simple bounty to me.

[2019-02-27 14:09] ghost commented on #6940
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:09] ghost commented on #5611
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:10] mandrigin commented on #6837
looks like a nice little bounty

[2019-02-27 14:13] mandrigin commented on #6827
cannot reproduce on iPhone XS, iOS 12, closing

[2019-02-27 14:13] #6827 closed, assigned to nobody

[2019-02-27 14:14] mandrigin commented on #6758
a fix was added in status-go to avoid that, closing this issue

[2019-02-27 14:14] #6758 closed, assigned to rasom

[2019-02-27 14:16] mandrigin commented on #6717
I don't think we will fix it 100% while we are using whisper and while we are using a separate channel for push notifications (like Firebase).

PNs are guaranteed to arrive, Whisper messages don't provide guarantees like that.
Maybe data sync layer can help there (if we'll be able to request this message specifically from the network), but I'm not sure how to handle this exact issue.

[2019-02-27 14:18] churik commented on #5242
https://github.com/status-im/status-react/pull/7592 fixes scenario2
Scenario 1 is still relevant

[2019-02-27 14:18] mandrigin commented on #6689
I think we have an error notification for that right now even in Desktop and we should be much better at connecting to mailserver. Feel free to reopen if you are disagree.

[2019-02-27 14:18] #6689 closed, assigned to cammellos

[2019-02-27 14:18] annadanchenko opened #7605 "Vertical scrollbar is shown for 1-2 sec on Sign in to Status screen"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Unnecessary vertical scrollbar is shown for several seconds and then is hidden on Sign in to Status screen
![screenshot!UNITO-UNDERSCORE!20190225

[2019-02-27 14:19] ghost commented on #6633
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:19] ghost commented on #6445
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:20] mandrigin commented on #6924
I guess it isn't happening now? @yenda feel free to reopen if we want to keep it.

[2019-02-27 14:20] #6924 closed, assigned to gnl

[2019-02-27 14:20] mandrigin commented on #6905
moved to Pivotal but low priority now, so closing this issue.

[2019-02-27 14:20] #6905 closed, assigned to mandrigin

[2019-02-27 14:23] mandrigin commented on #7017
se don't, anymore

[2019-02-27 14:23] #7017 closed, assigned to nobody

[2019-02-27 14:26] ghost commented on #6614
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:26] mandrigin commented on #5242
So, what is left, is we need to parse URLs in the UI correctly, so if any of the invalid characters is used, it shouldn't be recognized. Let's put a bounty on it.

[2019-02-27 14:29] ghost commented on #6483
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:29] ghost commented on #6417
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:31] Serhy commented on #6633
Reproduced in 0.10 release (and develop)

[2019-02-27 14:32] mandrigin commented on #6417
I don't think that is a bug, maybe we just need to make sure that we notify a user correctly. So, tbh, I don't see anything to be fixed there.
Also, with device sync, you get much more than that.

feel free to reopen if you disagree.

[2019-02-27 14:32] #6417 closed, assigned to nobody

[2019-02-27 14:32] mandrigin commented on #6483
should be easy to fix, let's make it a bounty

[2019-02-27 14:33] mandrigin commented on #6633
looks like a nice bounty to do

[2019-02-27 14:36] mandrigin commented on #7531
cannot reproduce it on iPhone XS (iOS 12), 0.10.0 RC, closing.
feel free to reopen if you will be able to reproduce it.

[2019-02-27 14:36] #7531 closed, assigned to cammellos

[2019-02-27 14:39] ghost commented on #6427
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:39] ghost commented on #6451
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:39] ghost commented on #6452
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:49] ghost commented on #4994
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:49] ghost commented on #6606
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:49] ghost commented on #6203
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:49] ghost commented on #6206
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:49] ghost commented on #6259
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:54] yenda commented on #6924
I saw @gnl last weekend I should have asked him

[2019-02-27 14:57] rachelhamlin commented on #7605
@yenda is it possible this came out of fixing the overlap on small screens?

[2019-02-27 14:58] Serhy commented on #4994
Still the case in 0.10 develop/release

[2019-02-27 14:59] ghost commented on #4573
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 14:59] ghost commented on #6842
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-27 15:08] yenda commented on #7605
I am not able to reproduce on One Plus 5T but from the screenshot it looks like the screen is small enough to require a ScrollView, there is probably a few pixels to scroll down

edit: accidentally closed though I'm not sure it's an issue

[2019-02-27 15:19] ghost commented on #6724
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 15:19] ghost commented on #6618
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 15:22] annadanchenko commented on #7605
@yenda  I have another device: Pixel XL and on 0.9.33 release the screen had no scroll while on 0.10.0 it does. so it looks like regression and happens on some bigger screens too.
Also note that this scroll bar disappears after 1-2 seconds even if user does not touch the screen. I would assume that if it's a small screen size then scroll bar should be visible and does not disappear

0.9.33 release

[2019-02-27 15:26] ghost commented on #6934
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 15:28] yenda commented on #7605
![screenshot_20190227-162707](https://user-images.githubusercontent.com/1181225/53501561-af385000-3aac-11e9-90e6-a9796c79398f.jpg)
I don't have any scrollbar at all on OnePlus 5T `1080*2160`.
How can you get such a small screen on Pixel? Isn't it suppose to be `1440*2560`?

[2019-02-27 15:34] #7599 closed, assigned to mandrigin

[2019-02-27 16:00] churik opened #7610 "Some elements in Profile become black after interacting (IOS 11.4.1, "Sync all devices" button, "About", "Need help")"
### Description

*Type*: Bug

*Summary*: some elements are showm as black in Profile;Issue is reproducible only on IOS 11.4.1 (all fine with Android 8.0 and IOS 12.1)
So far three places are found:
 1) after restoring account on another device, button "Sync all devices" appears under devices in Profile. On tapping on this button it becomes black and left black until you reopen "Devices" screen.
2)

[2019-02-27 16:19] ghost commented on #6848
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-27 16:19] #6848 closed, assigned to nobody

[2019-02-27 16:33] churik commented on #7610
Part of screen is black in  "Need help" section and in "About" section on tapping/scrolling

Need help:
![img_4ae57195ba92-1](https://user-images.githubusercontent.com/4557972/53506201-c2035280-3ab5-11e9-93ec-6c3a511dd445.jpeg)

About
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/4557972/53506147-abf59200-3ab5-11e9-83ea-e31bd67de19c.gif)

[2019-02-27 16:43] flexsurfer opened #7611 "Update stickers contract and use "approveAndCall" feature"
StickerMarket new contract: 0x39d16CdB56b5a6a89e1A397A13Fe48034694316E

https://ropsten.etherscan.io/address/0x39d16cdb56b5a6a89e1a397a13fe48034694316e#code

What changed:
- Fixed the "approveAndCall" feature

[2019-02-27 17:32] gballet commented on #5787
@mandrigin yup, dogfooding all the way ;)

[2019-02-27 17:38] mandrigin commented on #5787
oh thanks! I will convert this one to a bounty then!

[2019-02-27 18:26] ghost commented on #6945
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-27 18:29] #7235 closed, assigned to vitvly, errorists

[2019-02-28 07:39] ghost commented on #6953
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 08:19] ghost commented on #5576
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-28 08:19] #5576 closed, assigned to nobody

[2019-02-28 08:22] tbenr commented on #7353
@krisc ok i put some time on this. My interpretation of @jeluard 's `channel` is "public chat". So I would follow  the `:chat.ui/start-public-chat` path to create a new topic from an extension event (topic name as a parameter). We need a confirmation from @jeluard

[2019-02-28 08:26] ghost commented on #6839
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-28 09:39] ghost commented on #4951
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:39] ghost commented on #5099
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:39] ghost commented on #5105
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:39] ghost commented on #5118
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:39] ghost commented on #5186
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:39] ghost commented on #5194
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:39] ghost commented on #5288
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:49] ghost commented on #5595
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:49] ghost commented on #5271
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:49] ghost commented on #4977
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 09:59] ghost commented on #5812
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 10:18] churik commented on #4977
not stale

[2019-02-28 10:30] Swader commented on #5812
This is sorely needed

[2019-02-28 10:33] annadanchenko opened #7617 "Search bar and Cancel button do not respond after opening user Profile from found public chat and sending a message to the user"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Search bar and Cancel button do not respond if
- find public chat via search
- open a user profile from this public chat
- send message to the u

[2019-02-28 10:33] churik commented on #5194
still relevant

[2019-02-28 10:34] Swader commented on #5595
A better question is why this was removed at all - all OSes have native emoji pickers. In windows it's WIN+period to summon it, in OS X as state above. Viber and Status are the only apps that block native input for no apparent reason. Right now, the native picker on Windows works but for some reason the emojis are black and white in Status.

[2019-02-28 10:34] churik commented on #5288
still relevant

[2019-02-28 10:35] churik commented on #5186
still relevant

[2019-02-28 10:36] churik commented on #5118
still relevant

[2019-02-28 10:36] churik commented on #5099
still relevant

[2019-02-28 10:36] churik commented on #5105
still relevant

[2019-02-28 10:39] rachelhamlin commented on #7235
Exciting to see this one closed 🤩 @siphiuel @yenda

[2019-02-28 10:39] eswarasai commented on #3585
@StatusSceptre @mandrigin -- I'll get started on this one and see if I can quickly resolve this issue. Let me know if there's anything I need to know in advance before jumping into this. Thanks!

[2019-02-28 10:43] denis-sharypin commented on #4011
@mandrigin Design is not ready yet. But I could quickly make it

[2019-02-28 11:23] churik commented on #7617
@yenda please, take a look when have time. Thanks!

[2019-02-28 11:49] ghost commented on #5547
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-28 11:49] #5547 closed, assigned to vitvly

[2019-02-28 11:52] Serhy opened #7619 "Logging shown as enabled but no geth.log in Desktop for new/recovered accont"
***Type***: Bug

***Summary***: When user recovered or created new account in Desktop builds, in `Advanced settings` -> `Logging` we show `Logging enabled?` toggle button in 'True' state but no geth.log logs are present.

If to disable toggle -> log in to account ->  there is no geth.log (as expected) -> then enable `Logging enable` toggle -> login -> geth.log exist as expected

We need to have `L

[2019-02-28 12:09] ghost commented on #6859
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-28 12:09] #6859 closed, assigned to nobody

[2019-02-28 12:44] asemiankevich opened #7621 "[Investigate] NFC tag is lost when tapping the card to the phone"
### Description

*Type*: Bug

*Summary*: Issue to investigate NFC tag loses when interacting with status keycard

#### Expected behavior
tag is found each time i tap the card to the phone

### Reproduction

Case 1:

- use empty card without applet
- use Huawei P10 Lite, under Android 8
- open status -> create account -> keycard
- tap the card and remove

[code]

[2019-02-28 12:59] ghost commented on #5852
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 13:05] mandrigin commented on #3585
@eswarasai we have a bottom sheet view, so it would be nice if you use it for this task. See `src/status_im/ui/screens/mobile_network_settings/events.cljs:L30`

[2019-02-28 13:26] ghost commented on #6946
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 13:29] Swader commented on #6946
Still a thing

[2019-02-28 13:39] ghost commented on #6747
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-28 13:39] #6747 closed, assigned to nobody

[2019-02-28 13:43] annadanchenko opened #7622 "Group invite is shown if group is created by blocked user and some other user joins the group"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Alice blocked Bob. When Bob creates a group chat then invite to the group is not shown to Alice. However, if some other user joins the group the

[2019-02-28 13:49] ghost commented on #5890
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 14:18] churik commented on #7622
Comment here:  https://github.com/status-im/status-react/pull/7170#issuecomment-458913087

@yenda @rachelhamlin @hesterbruikman  can you confirm that it is expected behavior or we consider it as an issue?

[2019-02-28 14:19] ghost commented on #6076
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 14:19] ghost commented on #6033
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 14:19] ghost commented on #5962
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 14:19] rachelhamlin commented on #7622
Still expected behavior, but I've added this to our pivotal icebox along with the other few block user bugs we'd picked out.

I think we should only prioritize it if we hear of it becoming an issue for people.

[2019-02-28 14:23] hesterbruikman commented on #7622
Agreed, seems like an edge case we need to monitor so good to have it on the board. As I recall there was more confusion around when 'invites' are send and groups joined from different devices. This requires more investigation and design of a Group creation flow. Would not prioritize this at the moment.

[2019-02-28 14:29] yenda commented on #7617
@churik I will deal with it on Monday, gave it a shot today but wasn't successful

[2019-02-28 15:26] ghost commented on #6395
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 15:49] ghost commented on #6497
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 15:49] ghost commented on #6607
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 15:49] ghost commented on #6458
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 15:59] ghost commented on #6464
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 16:19] ghost commented on #6613
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 16:59] ghost commented on #6663
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 17:19] ghost commented on #6959
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 17:19] ghost commented on #6902
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 17:19] ghost commented on #6795
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 17:19] ghost commented on #6779
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-28 18:31] StatusSceptre commented on #7358
You've been approved @g-laz77

[2019-02-28 18:37] krisc commented on #7454
@gitcoinbot  yes about to get back into it right now

[2019-02-28 19:58] g-laz77 commented on #7358
Great! I will get to work

[2019-02-28 22:29] krisc commented on #7454
Okay, so it makes a little more sense after updating to the latest develop branch. But I'm stuck adding the icon let alone with custom specs. Is it right that I should use `chat-icon.screen/default-chat-icon name`? I'm pretty lost trying to understand styles tbh. Well, anyway here is what I have so far. I'd appreciate some help @hesterbruikman @cammellos

[code]

[2019-03-01 00:05] bitsikka commented on #4158
oops! didn't realize you were working on this @mul1sh. Are you still working on it?

I was browsing through issues in gitcoin and saw that this issue had "Ready to work" status, and that previous person @leonardohof had stopped working on it.

[2019-03-01 00:53] BlinkyStitt commented on #7215
This is even worse on the latest version. Now the bar to select “home/wallet/profile” entirely covers the deny/approve buttons. I can’t use the app anymore

[2019-03-01 05:08] jeluard commented on #7353
Sounds right!

[2019-03-01 05:48] mul1sh commented on #4158
@bitsikka no worries, you can continue working on this because to be honest my PR is still in the works as I'm still learning the code. So go ahead and knock this one out 😃

[2019-03-01 07:11] rasom commented on #7215
This issue is not XS Max specific, it is rather related to `Larger Text` settings on iOS. It can't be reproduced with default settings.

It definitely can be much worse though
![screen shot 2019-03-01 at 09 10 09](https://user-images.githubusercontent.com/2364994/53622252-e8ce9f80-3c01-11e9-9190-6e01311412bc.png)

[2019-03-01 08:17] errorists opened #7630 "Remove the Unread Messages badge next to the <- back arrow in chats"
# Problem

Whenever you have unread messages and inside chat, we'd show a badge with a counter inside next to the top left back arrow. We don't need it anymore since the same purpose is better done by the 'Home' tab button.

# Implementation

- Kill the badge.

- Please stop the back arrow from changing color to blue whenever we show the badge, it should always be black

# Acceptance Criteria

Bad

[2019-03-01 08:45] bitsikka commented on #4158
@mul1sh thanks! I'm also still learning 😄 and this is going to be my first PR.

[2019-03-01 09:05] flexsurfer opened #7633 "Use react-native-fast-image for remote images"
In stickers and in extensions we load remote images and react native image works not perfect, react-native-fast-image has much better performance and better to use it for remote images

https://github.com/DylanVann/react-native-fast-image

[2019-03-01 09:13] rachelhamlin opened #7634 "Lokalise translations aren't updating in Status"
### User Story

As a user in a country with translation support, I would like to use Status in my own language.

### Description

*Type*: Bug

*Summary*: Translations from Lokalise aren't sticking. When @jinhojang93 makes a translation update, the language .js files are not updated + the app rolls out without new translations.

#### Expected behavior
Language files are updating with new content fr

[2019-03-01 09:18] annadanchenko commented on #7566
released

[2019-03-01 09:18] #7566 closed, assigned to nobody

[2019-03-01 09:20] annadanchenko opened #7636 "0.10.1 public mobile hotfix release"
issue to manage mobile 0.10.1 hotfix release

open issues and PRs for release: https://github.com/status-im/status-react/labels/release

[2019-03-01 09:21] rasom commented on #7634
in order to apply changes from okapis we need to create and merge a new pull request with changes, like this one https://github.com/status-im/status-react/pull/7635/files

<blockquote><img src="https://avatars0.githubusercontent.com/u/40699771?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://githu

[2019-03-01 09:22] rasom commented on #7634
This can be done in Lokalise ui by pressing `Upload` button and then `Build only`. Don't forget to select languages.

[2019-03-01 09:42] churik commented on #7534
Don't forget to check scenario 2 from https://github.com/status-im/status-react/pull/7550#issuecomment-468333333 - shouldn't be reproducible after redesign

[2019-03-01 10:32] annadanchenko commented on #7082
@mandrigin @antdanchenko  should it be closed if PR merged?

[2019-03-01 10:59] rachelhamlin opened #7639 "Small copy fixes for 0.10.1"
### Description

Can we please make the following copy adjustments on these strings for [#7636](https://github.com/status-im/status-react/issues/7636)?

1. `DApps permissions` to `DApp permissions` (Profile)

<img src="https://user-images.githubusercontent.com/15470435/53633530-03ac0e80-3c18-11e9-952d-2570dbf3f165.png" width=200/>

2. `Browsers` to `Browser` (Home search)

<img src="https://user-i

[2019-03-01 10:59] rachelhamlin commented on #7639
cc @hesterbruikman for a review, if you will :)

[2019-03-01 11:17] hesterbruikman commented on #7639
'Message syncing' also needs copy update on the bottom sheet.
I'll report the issue of the background seperately.

![screenshot_20190301-080037](https://user-images.githubusercontent.com/35233054/53634986-10cafc80-3c1c-11e9-8700-eaddddfc93bd.png)

[2019-03-01 11:17] #7589 closed, assigned to flexsurfer

[2019-03-01 11:26] hesterbruikman opened #7640 "Message sync/Mobile data bottom sheet background"
# Problem
On small screen, Android 7, the bottom sheet modal to set sync options over mobile data lacks background. This issue good not be reproduced earlier, but still persists.

Current behavior
Bottom sheetis shown without background, making sheet and background text unreadable.

Expected behavior
Bottom sheet is shown with background on all devices.

![screenshot!UNITO-UNDERSCORE!20190301-0800

[2019-03-01 11:38] #7216 closed, assigned to dmitryn

[2019-03-01 11:41] hesterbruikman opened #7641 "Snackbar in wallet obtrudes amount"
# Problem
When currency conversion error is shown, snackbar obtrudes content, specifically total asset value.

## Current behavior
Snackbar overlays wallet content

## Exected behavior
Snackbar pushes wallet content down

![signal-2019-03-01-080741](https://user-images.githubusercontent.com/35233054/53635884-cb5bfe80-3c1e-11e9-93bf-85b15b96c07f.png)

# Implementation
In Chat a new Snackbar compone

[2019-03-01 11:51] hesterbruikman opened #7642 "Navigation behavior settings opened in DApp"
# Problem
When ENS names is opened in Settings, this opens ENS in a DApp. When closing the browser, the app shows the Homescreen. This is technically expected behavior, but leads to confusion as it's not clear that ENS names will be opened and is opened in a DApp.

When including a Browser tab, the return state would be the Browser tab which is still different from he entry point Settings.

## Cur

[2019-03-01 12:02] hesterbruikman opened #7643 "Next level search bar behavior"
# Problem
When pulling down and showing the searchbar by accident, e.g. pull to refresh attempt, t stays persistant and takes unexpected effort to get it out of view.

## Current behavior
After pulling to show the searchbar I need to tap on it to find a 'Cancel'

## Expected behavior
The searchbar disappars like magic when not used;)

# Implementation
Persistant cancel icon
Searchbar can be 'pushe

[2019-03-01 12:04] hesterbruikman commented on #7643
@errorists any thoughts on how to manage Search bar disappearance?

[2019-03-01 12:24] errorists commented on #7643
Yeah, for reasons due with RN architecture we couldn't have it the way I intended to and now I'm beginning to consider the alternatives. What I'd propose is to get us moving on with searching message history and remove the animation, searchbar remains fixed at the beginning of chats list, dapps get their own tab and we remove browser results in search. To me the search right now is very beta and I

[2019-03-01 12:32] annadanchenko commented on #7639
@rachelhamlin chelhamlin

I guess you want it to be started from capital letter, so `Browser`, right?

[2019-03-01 13:00] rachelhamlin commented on #7639
Yes, fixed - thanks @annadanchenko

[2019-03-01 13:40] #7568 closed, assigned to goranjovic

[2019-03-01 13:41] #7570 closed, assigned to goranjovic

[2019-03-01 14:23] denis-sharypin commented on #4011
I've been researching the problem for a while and realized that it should be solved on the side of filters.
We need to extend filters functionality. Like this:
<img width="503" alt="screenshot 2019-03-01 15 17 47" src="https://user-images.githubusercontent.com/6559881/53643846-67910000-3c35-11e9-889c-19ead6ebfc68.png">

On the main `Transaction history` screen, we simply don't have enough space to

[2019-03-01 14:54] eswarasai commented on #3585
@mandrigin -- At the moment, I just tried to get back the old functionality working which utilised `toolbar/actions`. Although the earlier implementation of `Remove from contacts` is basically hiding the user from the `Contacts` sections under `Profile` but if I go to the User Profile via Chat, I can still see that the user is added to my contacts with the `Remove from contacts` option.

I can go

[2019-03-01 15:18] churik commented on #7621
Investigated build from https://github.com/status-im/status-react/pull/7581.
Link to build: http://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190228-163411-84bb06-pr.apk
I can setup card and create account normally, all following errors are about log in after setup.

What I faced:
1) once I've got white screen on Enter pin at attempt to login.
From logcat:
[code]
Full logcat:
[white.txt](h

[2019-03-01 15:21] emmaodia commented on #7352
WIP

[2019-03-01 16:01] #7262 closed, assigned to flexsurfer

[2019-03-01 17:32] Serhy opened #7646 "Remove e2e test related to Wallet Modal screen"
We removed Wallet Modal screen which could be accessed in 1-1/Group/Public chats, Dapp view in https://github.com/status-im/status-react/pull/7550#issuecomment-468551211 and here https://github.com/status-im/status-react/pull/7644

So no need to test it now:
- [x] Disable e2e tests related to Wallet Modal in Chats and Dapp view
- [x] Disable tests in TestRail related to Wallet Modal in Chats and D

[2019-03-01 18:03] krisc commented on #7353
I stopped work for this bounty because I'm already working on other bounties for status that I should finish up and wanted to apply for another Gitcoin bounty (not status). @tbenr or anyone else can take over if they like. But if this is still open when I finish up the other bounties, I'd like to continue with this again.

[2019-03-01 18:28] tbenr commented on #7353
@krisc ok. I can do this.

[2019-03-02 11:12] tbenr commented on #7353
ping to @StatusSceptre - we changed ownership of this one 😄

[2019-03-02 13:51] jinhojang6 commented on #7634
Thank you for the reply 👍 However, I cannot find the `upload` button in my lokalise project.

<img width="613" alt="screen shot 2019-03-02 at 10 30 50 pm" src="https://user-images.githubusercontent.com/41753422/53682617-e6bc2c00-3d3a-11e9-8de8-e1ec919d80a0.png">

 The lokalise documentation says the upload button is listed at the top as above but

<img width="1170" alt="screen shot 2019-03-02 at 1

[2019-03-02 18:10] StatusSceptre commented on #7353
@tbenr done!

[2019-03-03 00:19] ghost commented on #6861
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 01:19] ghost commented on #6872
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-03 09:19] ghost commented on #6977
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 10:39] ghost commented on #6876
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-03 10:39] #6876 closed, assigned to nobody

[2019-03-03 14:26] ghost commented on #6981
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 14:39] ghost commented on #6506
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 14:59] ghost commented on #5811
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 15:09] ghost commented on #6738
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 15:39] ghost commented on #6547
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 15:49] ghost commented on #6531
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-03 17:38] Swader commented on #6738
I get all messages intended for barry it seems. My name is bruno.stateofus.eth

[2019-03-03 17:39] Swader commented on #5811
Still a thing

[2019-03-03 18:12] tbenr commented on #6597
@StatusSceptre THANKS! :bowtie:

[2019-03-03 20:04] rachelhamlin commented on #6738
Yup, still think this one is a problem. I'll look into it again this week. Thanks @Swader.

[2019-03-03 20:59] rachelhamlin commented on #7634
Thanks for the directions @rasom. I've got access to the `Upload` flow but I'll see if we can upgrade you to an admin @jinhojang93. If not, we can schedule a regular time to push the update together.

[2019-03-04 01:07] qfrank opened #7650 "History message display incorrectly"
# Problem

After click on public channel '#status', can't see the message 'Anyone home?',pls check details with attach files.

![11](https://user-images.githubusercontent.com/12406719/53705075-d4d2aa00-3e5c-11e9-94bb-6422f4472143.png)
![12](https://user-images.githubusercontent.com/12406719/53705076-d56b4080-3e5c-11e9-9eba-4ac6fc3c9a95.png)
![13](https://user-images.githubusercontent.com/12406719/

[2019-03-04 07:56] #7634 closed, assigned to nobody

[2019-03-04 08:29] bitsikka commented on #7454
looks like in the right direction @krisc

If you're busy and not working on it anytime soon, I can give it a go

I believe I can figure this out from @yenda's pointer

[2019-03-04 09:19] ghost commented on #6571
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-04 09:25] annadanchenko commented on #7636
PRs already included in release:
https://github.com/status-im/status-react/pull/7635
https://github.com/status-im/status-react/pull/7637
https://github.com/status-im/status-react/pull/7653 (issue https://github.com/status-im/status-react/issues/7639)
https://github.com/status-im/status-react/pull/7660

[2019-03-04 09:49] decanus opened #7651 "Deeplinking issue (universal link to ENS username)"
### User Story
As a user, I expect that when I am sent a status link like https://get.status.im/user/foo.stateofus.eth, a chat is directly opened with the user `foo.stateofus.eth`. This is currently not the case..

#### Expected behavior

* Opens a chat directly with the user.

#### Actual behavior

* Status is opened

### Reproduction

* Simply share a link and click on it

### Additional Informa

[2019-03-04 10:09] ghost commented on #6892
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-04 10:09] #6892 closed, assigned to flexsurfer

[2019-03-04 10:28] annadanchenko opened #7652 "No fetching indicator is shown on Home tab"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: There is no fetching indicator shown on Home tab only if user opens some chat screen then indicator is shown. It gives user wrong impression on

[2019-03-04 10:44] rachelhamlin commented on #7652
@yenda possible for you to take a look at this one?

[2019-03-04 11:47] jeluard commented on #7371
@tbenr You might be interested with this one? :D

[2019-03-04 11:48] jeluard commented on #7365
@tbenr You might be interested with this one? :D

[2019-03-04 11:49] jeluard commented on #7357
@tbenr You might be interested with this one? :D

[2019-03-04 11:49] jeluard commented on #7352
@emmaodia Any WIP PR to share? :D

[2019-03-04 11:54] jakubgs commented on #7636
Okay, @mandrigin already added 75ff21be0 to [release/0.10.x](https://github.com/status-im/status-react/commits/release/0.10.x). Please ping me when the other 2 changes are ready to be added as well.

[2019-03-04 12:39] annadanchenko commented on #7652
@yenda I've rechecked iOS release 0.10.0 this issue exists there too, so it's not Android specific for release

[2019-03-04 13:03] annadanchenko commented on #7636
https://github.com/status-im/status-react/pull/7637 - ready to be merged into develop and cherry picked for 0.10.1 release

[2019-03-04 13:19] jeluard commented on #7365
See @tbenr You might be interested with this one? :D

[2019-03-04 13:19] #7365 closed, assigned to nobody

[2019-03-04 13:33] emmaodia commented on #7352
@jeluard  How can I reach you on the status app?

[2019-03-04 13:35] jeluard commented on #7352
My ENS name is `jeluard`. Feel free to ask in `#status-core`

[2019-03-04 14:08] churik opened #7655 "Navigation between "New Request" and "Send transaction" screens in wallet and chat tabs leads to erasing user input"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: for now you can navigate to wallet screen easily from chat screen and back and in case when on both tabs wallet screens ("Send Transaction", "New request") are shown it can cause some navigation glitches that mostly lead to replacing user input on other tab.

### Reproduction
[comment]: # (Describe how we can repl

[2019-03-04 14:09] churik commented on #7655
@rasom take a look if you have a time

[2019-03-04 14:41] jakubgs commented on #6252
Well, my request if for desktop, and it includes keyboard shortcuts. I guess there is a plan to start using mobile UI on desktop, but I don't know how close that is. But that lone doesn't cover my request for keyboard shortcuts for searching on desktop.

[2019-03-04 14:43] jakubgs commented on #5659
Eh, I don't care about this anymore.

[2019-03-04 14:43] #5659 closed, assigned to nobody

[2019-03-04 14:46] annadanchenko commented on #7639
@hesterbruikman what's wrong with 'Message syncing' copy on the bottom sheet? atm, all requested changes are implemented except this one. Can you provide the text, please?

[2019-03-04 14:46] jakubgs commented on #7636
I see @cammellos already cherry-picked these two:
* 458bc07a2a228ce5fcde99cd592af917c880610d - `Fix concurrent retry-request`
* 37c165a8e16a5d12207ee4859a4ecb2b4b6d5fd3 - `Add unpinning of mailservers`

I guess the only thing remaining is https://github.com/status-im/status-react/issues/7639 right?

[2019-03-04 14:54] churik opened #7657 "Icons in Contact list aren't rounded"
### Description
_Type_: Bug
_Summary_: icons for your contacts in Profile > Contact list aren't rounded - they are different in IOS and Android.

#### Expected behavior
Android:
![image 2019-03-04 15 51 54](https://user-images.githubusercontent.com/4557972/53740857-7118a300-3e95-11e9-8f36-bbe7af49a4d3.jpg)

#### Actual behavior
IOS:
![img!UNITO-UNDERSCORE!c4e5d9d08c5b-1](https://user-images.github

[2019-03-04 15:00] hesterbruikman commented on #7639
It's a minor change for consistency:
Sync using Mobile Network > Sync using Mobile data

[2019-03-04 15:02] annadanchenko commented on #7639
@cammellos can you address https://github.com/status-im/status-react/issues/7639#issuecomment-469283375 please?

[2019-03-04 15:25] annadanchenko commented on #7652
@yenda it's the last issue that needs a fix and will be included into hotfix release. Any estimate when it can be ready for testing?

[2019-03-04 15:28] Serhy opened #7658 "[TESTS] update tests suite of critical test cases"
In order to optimise e2e test suite of critical tests that we run against PR we reviewed the set recently and agreed that some tests needs to be moved (e.g. test for messaging in Group Chat) for running on PR level and some tests could be run on nightly build scope level

- [x] Update e2e test suite accordingly
- [x] Update testrail checklist

[2019-03-04 15:31] hesterbruikman commented on #7641
@goranjovic this one is not on any backlog at the moment. Can you advise on whether it should be or if this might be a bounty candidate?

cc @rachelhamlin

[2019-03-04 15:40] annadanchenko commented on #7636
now we are waiting for the fix for https://github.com/status-im/status-react/pull/7653 So one more extra PR in addition to #7639

[2019-03-04 15:48] rachelhamlin commented on #7641
Oh yes, let's put a bounty on. Would you mind helping a contributor with this @goranjovic?

[2019-03-04 15:51] churik opened #7661 "[TESTS] Add new critcal tests"
Add e2e for new critical tests:

- [x] [pair devices ](https://ethstatus.testrail.net/index.php?/cases/view/5762)
- [x] [block user feature](https://ethstatus.testrail.net/index.php?/cases/view/5763)
- [x] [chat search](https://ethstatus.testrail.net/index.php?/cases/view/5757)

[2019-03-04 16:02] jeluard commented on #7363
@tbenr You might enjoy this one too :D

[2019-03-04 16:06] tbenr commented on #7363
OK! that's interesting!

[2019-03-04 16:06] ghost commented on #6897
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-04 16:06] #6897 closed, assigned to nobody

[2019-03-04 16:16] ghost commented on #4434
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-04 16:20] Swader commented on #6571
Still a problem.

[2019-03-04 16:27] annadanchenko commented on #7636
https://github.com/status-im/status-react/pull/7653 - ready to be merged into develop and cherry picked for 0.10.1 release

[2019-03-04 16:29] #7639 closed, assigned to nobody

[2019-03-04 16:30] jakubgs commented on #7636
Merged and cherry picked:
* 0193e4bbf - `Update translations`

Build: https://ci.status.im/job/status-react/job/release/job/release%252F0.10.x/25/

[2019-03-04 17:16] annadanchenko commented on #7636
https://github.com/status-im/status-react/pull/7660 - ready to be merged into develop and cherry picked for 0.10.1 release

[2019-03-04 17:18] jakubgs commented on #7636
Merged an cherry picked:
* bac21a654 - `[fix 7652] fetching indicator on Home tab`

Build: https://ci.status.im/job/status-react/job/release/job/release%252F0.10.x/26/

[2019-03-04 17:21] annadanchenko commented on #7652
fixed by https://github.com/status-im/status-react/pull/7660

[2019-03-04 17:21] #7652 closed, assigned to yenda

[2019-03-04 17:46] rachelhamlin commented on #7636
Thanks for tracking all the issues here @annadanchenko. When do you want to push this?

[2019-03-04 18:14] krisc commented on #7454
@bitsikka sure the newest build was making it difficult for me to debug. You might want to apply on Gitcoin so @StatusSceptre can approve of your working on this.

[2019-03-04 19:05] bitsikka commented on #7454
thanks @krisc 👍

@StatusSceptre can you please approve?

@hesterbruikman can I please have access to the styling specs?

[2019-03-04 21:27] krisc commented on #1762
@tbenr Have  you continued with this yet?

[2019-03-04 22:48] StatusSceptre commented on #7454
done @bitsikka!

[2019-03-04 23:10] StatusSceptre commented on #6996
@nofwayy any update on  this one?

[2019-03-04 23:13] StatusSceptre commented on #7651
Great catch @decanus thanks for opening the issue!

@yenda @rasom @rachelhamlin FYI - what would need to be done to resolve this; is this part of the profile restructure? Currently ENS names are only served through the interface and deeplinks do not recognize them and contact code is default share.

[2019-03-05 04:06] ghost commented on #6300
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-05 06:54] bitsikka commented on #7454
great! thanks @StatusSceptre

I have already submitted the PR. Just need design input and reviews.

[2019-03-05 07:06] jeluard commented on #7253
@Serhy Looks like it's fixed now?

[2019-03-05 07:43] jeluard opened #7667 "Allow to add/remove custom network from an event"
### User Story

As a developer, I want to be able to add/remove a custom network from an [extension](https://status.im/extensions/) event. The network should be persisted across restarts.

[code]

There should also be an event allowing to switch between network.

[code]

### Description

*Type*: Feature

[2019-03-05 07:44] jeluard commented on #7667
@tbenr This tiny one is also similar to some you recently worked on! :D

[2019-03-05 08:50] churik commented on #6850
Again can reproduce  in RC 0.10.1,  nightly 04.03.2109
@yenda take a look when you have time, thanks!

[2019-03-05 09:27] churik opened #7671 "Can try to sign transaction with empty amount "Nulll is not an object (evaluating ''e.replace") if change amount or asset"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: it is possible  to change recipient \ asset in the wallet with after you fill up all data and tap on "Sign transaction". IMO it is better to lock these details after user tap on "Sign transaction" and unlock in case when user tap on "Cancel"

#### Expected behavior
can't change asset / recipient after step 5

####

[2019-03-05 09:36] ghost commented on #6912
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-05 09:43] annadanchenko opened #7672 "Different chat history for #status is shown on different app versions"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Using 3 different app versions I can see different content in #status history. Versions I use:
- 0.10.0 release,
- desktop nightly 0.9.0 (a34ec7

[2019-03-05 10:02] asemiankevich commented on #7672
so i have desktop V 0.9.0 (40b3100cf) (some old one).

here is the message pull for March 3

![image](https://user-images.githubusercontent.com/28752642/53796998-56eacd80-3f46-11e9-983e-f84e743f1b48.png)

and March 4

![image](https://user-images.githubusercontent.com/28752642/53797107-8ef21080-3f46-11e9-8639-b02145969f75.png)

`anyone home` message is missing, yes, some korean messages are in pla

[2019-03-05 10:05] churik opened #7673 "User automatically added to contact list after blocking / unblocking"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if you block and unblock a user, it will be added automatically to your contact list on app, but technically user is not your contact, because he can't see your custom name. So after blocking and unlocking user, you can't add it to contacts normally to share your profile data.

#### Expected behavior
user B  is no

[2019-03-05 10:10] rachelhamlin commented on #7651
Nice catch. I'd love to see this happen at some point.

[2019-03-05 10:20] annadanchenko opened #7674 "Public chat history disappears"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: History of the #status public chat was present yesterday and now it disappears.
![screenshot_20190305-083457](https://user-images.githubusercont

[2019-03-05 10:44] Swader commented on #6912
I don't think this is resolved

[2019-03-05 11:16] ghost commented on #6904
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-05 11:16] #6904 closed, assigned to nobody

[2019-03-05 11:30] goranjovic commented on #7641
@hesterbruikman This was actually intentional. The thing that gets hidden away is the total asset value *in fiat*. Now, this error happens when conversion rates are unknown because the api that gives us the rates is unreachable, e.g. blocked by proxy, down or phone is simply offline.

In that case, we were previously displaying 0, which is misleading and outright scary. At some point we made it hi

[2019-03-05 11:31] eswarasai commented on #3585
@mandrigin -- Any update here? Also, is there any active dev channel that I can join to get instant response for further queries? Thanks :)

[2019-03-05 11:33] goranjovic commented on #7641
I agree that we should have a design task to figure the proper way to communicate what I said above to the end user, as the current state was based on an ad hoc decision during release testing/fixing.

But we can't just implement it like described in this issue - would result in a regression.

[2019-03-05 11:36] Serhy opened #7676 "Search bar does not appear next time after pull-down gesture on Home screen performed with search bar shown [iPhone]"
***Type***: Bug

***Summary***: Search bar does not appear second (or more) times after pull Home screen down gesture been done while Search bar is present on screen. Please see video and steps of issue below

No issue with Android.

#### Expected behavior
Search bar appears on Home screen after pull-down gesture on iPhone

#### Actual behavior
Search bar does not appear on Home screen second time

[2019-03-05 11:45] Serhy commented on #7253
Indeed, @jeluard. Can't reproduce anymore with 0.10 release (and same with related issue #6166 which looks good now). Closing this issue.

[2019-03-05 11:45] #7253 closed, assigned to nobody

[2019-03-05 11:45] Serhy commented on #6166
Can't reproduce anymore with 0.10 release. Closing this issue.

[2019-03-05 11:45] #6166 closed, assigned to nobody

[2019-03-05 11:51] churik commented on #7676
Another scenario:

- Open Status and create new account
- Join any several chats
- Navigate back to Home screen
- Pull down Home screen so that "Search" bar appear
- Put the cursor in the Search bar (There is a 'Cancel' button should appear next to search bar)
- Tap 'Cancel' button
- Scroll to the end of chat list (pull up several times)
- Try to pull down again to see search bar.

Actual: can't s

[2019-03-05 12:16] ghost commented on #6860
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-05 12:16] #6860 closed, assigned to nobody

[2019-03-05 12:22] hesterbruikman commented on #3585
@eswarasai Thanks for your patience! Sorry to keep you waiting here. Best channel for more immediate response is:
#status-core http://get.status.im/chat/public/status-core
@StatusSceptre can you share the url to the 'Help' channel for otside of CET hours?

Correct, hiding the Remove from contacts option menu is the desired behavior. AFAIK 'actual' contact removal can cause issues that are handled

[2019-03-05 12:27] hesterbruikman commented on #7641
Thanks @goranjovic ! I'll create a design story for it in wallet and see who has time to look into this. It sounds like we need a distinction between empty states
(pending and not available) and error states/information.

This is not unique to wallet:) Will remove the bounty label until we have this figured out.

https://www.pivotaltracker.com/story/show/164399297

[2019-03-05 12:50] churik commented on #7215
Most visible on largest text on IOS 12.1 (IPhone XS) - because you can adjust it to 10 level without accessibility settings.

On IOS 11.4.1. only 7 levels are available by default, in order to reproduce it, you need to switch on accessibility mode.

[2019-03-05 12:53] annadanchenko opened #7679 "Endless fetching messages (>10 minutes)"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Fetching indicator is moving for > 10 minutes. First ~5 minutes I've joined no chats, later I've joined #testanna chat and still see no history a

[2019-03-05 13:23] annadanchenko commented on #7679
tried again on new installation, hotfix build 26.
Fetching stopped after 8 minutes. No chats were joined.

[geth.log](https://github.com/status-im/status-react/files/2931077/geth.log)
[Status.log](https://github.com/status-im/status-react/files/2931078/Status.log)

[2019-03-05 13:26] ghost commented on #6741
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-05 13:28] Serhy commented on #7679
It was all OK with two new accounts I created (Android 8.1) and fetching blue indicator finished in 1-1.5 mins...
However third account I created and without joining any chat - during next 12 minutes 'Fetching messages' blue indicator was still present. During that time mailserver changed only 1 time (from `mail-02.ac-cn-hongkong` to `mail-01.ac-cn-hongkong`) but several times it was visible mails

[2019-03-05 13:36] ghost commented on #7015
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-05 13:47] annadanchenko commented on #7679
on @cammellos request: checked on 0.10.0 when mail-01.ac-cn-hongkong is selected upon app launch, after this joined #status channel and got history in ~2 min.

[geth.log](https://github.com/status-im/status-react/files/2931170/geth.log)
[Status.log](https://github.com/status-im/status-react/files/2931171/Status.log)

[2019-03-05 14:56] ghost commented on #6812
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-05 15:00] churik opened #7681 "Warning about changing network appears only after logout and if you tap on "Connect" 2 times"
### Description

*Type*: Bug

*Summary*: if you tap once when changing network, you will be just logged out without any confirmation dialog, but if you tapped 2+ times one or several popups appeared after sign out.

#### Expected behavior
A confirmation dialog appears only once before logging out. User logged out after confirm.

#### Actual behavior
Confirmation dialog is shown after user was logg

[2019-03-05 15:03] rachelhamlin commented on #7534
@flexsurfer should I break this into two issues?

1) Separate DApps tab
2) Chat tab has plus icon in new position, with chat options only

[2019-03-05 15:06] ghost commented on #7016
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-05 15:19] jakubgs commented on #7636
It looks like @cammellos bumped the version to `0.10.2` unnecessarily in 88847c292a6a90fdac92fdc9c6ea41ad75ae9ca9.
Igor already changed it to `0.10.1` in c04831ad0820077c9f3771f91217a4d77be45fa9.

[2019-03-05 16:18] eswarasai commented on #3585
@hesterbruikman -- Thanks for the response. Whatever you've said makes sense. The only confusion is that, even though I've removed the user from the contacts, when I open the user profile, it still shows `In contacts` which can be confusing. I've already hidden the `Remove Contact` menu option. Just wanted to clear out things on the `In contacts` behaviour.

Alternative is to add a check if the us

[2019-03-05 16:19] tbenr commented on #1762
@krisc no I didn't. do you want to jump in this? Btw consider this https://github.com/status-im/status-react/pull/6144#issuecomment-451978773

[2019-03-05 16:41] hesterbruikman commented on #3585
To see if I understand what's going on. Is this what happens?
- You tap on the [Remove from contacts] when viewing my [Hester] profile
- You go to your [Profile] tab in the bottom menu
- You go to [Contacts]
- You see my name [Hester] in the contact list

[2019-03-05 16:47] flexsurfer commented on #7534
@rachelhamlin yeap, plus icon is a separate issue for sure, thanks

[2019-03-05 17:18] jakubgs commented on #7636
Okay, that was fixed. We have a ready `0.10.1` build:
https://ci.status.im/job/status-react/job/release/job/release%252F0.10.x/30/
Unless there's anything else we want to include then that build is good to go.

[2019-03-05 18:48] krisc commented on #1762
@tbenr I'll take a look at what you've done so far and see if I think I can take over.

[2019-03-05 19:02] g-laz77 commented on #7358
I have finally setup the entire environment to build status. I faced some issues while installing and resolving dependencies necessary. but I have now set it up properly.

[2019-03-05 19:12] asemiankevich commented on #7679
i can't now use any mailserver (literally) on iOS, even same mailserver works fine on Android devices.  Version 0.10.1 , go 0.23.0-beta.7

@annadanchenko @cammellos

[2019-03-05 19:17] krisc commented on #1762
@tbenr I think it is too advanced for me to move the PR forward. I'll be watching as this issue continues, however. Whenever that will be.

[2019-03-05 19:27] cammellos commented on #7679
@asemiankevich do you have any logs for that session? thanks!

[2019-03-05 19:31] asemiankevich commented on #7679
nope :(

[2019-03-05 20:33] krisc commented on #7105
@jeluard  I may want to work on this, but I'm not sure exactly what is needed. Is it like a helper function which extension events can call as a number range check? What would a usage example look like?

[2019-03-05 22:56] ghost commented on #7020
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-06 01:14] StatusSceptre commented on #7667
Ayyyy :) good one.

[2019-03-06 01:48] arnetheduck commented on #7337
Just hit this this on android.. got a notification (actually, two), clicked on it and the message appeared.

status version 0.10.0 2019022807

![screenshot_20190305_194203_im status ethereum](https://user-images.githubusercontent.com/1382986/53850031-941f8180-3f7f-11e9-9121-2fa740178863.jpg)

[2019-03-06 01:52] arnetheduck opened #7683 "Error error error.. doesn't support name when entering profile - about"
After hitting #7337, clicked ok to get rid of error and then wanted to click profile -> about to find app version. Got the attached error, had to restart app, now it works again.

![screenshot_20190305_194422_im status ethereum](https://user-images.githubusercontent.com/1382986/53850248-29227a80-3f80-11e9-837c-550e456b36a4.jpg)

[2019-03-06 04:51] eswarasai commented on #3585
@hesterbruikman -- Sorry for the delayed response. But here's the flow with the screenshots:

1) Tap on the `Remove from contacts` when viewing user profile

<img width="377" alt="screenshot 2019-03-06 at 9 47 57 am" src="https://user-images.githubusercontent.com/5172086/53856414-e3a19400-3ff7-11e9-893d-8f37d92347c0.png">

2) In the `Contacts List` from `Profile` tab in the bottom menu, the user i

[2019-03-06 07:30] jeluard commented on #7105
@krisc It should be extra parameters on the input component allowing to specify input value boundaries. This depends on #7104

[2019-03-06 07:55] bitsikka commented on #3585
btw there is ***#status-core-help*** for that
https://get.status.im/chat/public/status-core-help

It is where contributors like yourself(@eswarasai) hangout/voluntarily-help-each-other-out/discuss-any-other-concerns. Some with number of bounties and core-dev level experience under their belt.

No guarantees, but, please feel free to ask questions there during off CET hours when core-devs might not

[2019-03-06 08:50] rachelhamlin opened #7684 "Relocate and change menu for "+" icon on home/chat screen"
### User Story

As a user, I want my options to be more obvious to me on the home/chat screen so that I can start chats more easily.

### Description

*Type*: Feature

*Summary*: In #7534, we're separating DApps into their own tab and renaming the `Home` tab to `Chat`.

The new `Chat` screen will be redesigned to have the `+` icon in the bottom center (rather than top right), with fewer options.

[2019-03-06 08:59] #7658 closed, assigned to Serhy

[2019-03-06 09:33] churik opened #7686 "When resend long messages (> 20 rows) in public chats, 2 messages are shown for sender"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when resend long message (>20 rows, with "Show more" option) only one message is sent (it is expected) in public chat but fo sender two messages are shown.
![receiver](https://user-images.githubusercontent.com/4557972/53870828-3af53380-3ffb-11e9-9e5b-8310fdf740d0.png)

#### Expected behavior
one message will be se

[2019-03-06 10:22] annadanchenko commented on #7679
was fixed in hotfix 0.10.1 release build 30 by reverting "Fix concurrent retry-request". Still present in develop

[2019-03-06 10:24] annadanchenko commented on #7636
@rachelhamlin @pablanopete it looks like we can release today's afternoon if all is ready on comms side. please, check in #test-team channel for the latest status ~15:00 CET and let's target to release at 15:30 CET if all is OK

[2019-03-06 10:26] ghost commented on #6907
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-06 10:28] ghost commented on #4868
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 10:28] #4868 closed, assigned to nobody

[2019-03-06 11:11] flexsurfer commented on #7527
@rachelhamlin I suggest showing the message if dev mode is off, something like "To be able to install the extension you need to enable dev mode first in your Profile under Advanced", wdyt? could you help with the text of this message?

[2019-03-06 11:16] ghost commented on #6933
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 11:16] #6933 closed, assigned to nobody

[2019-03-06 11:23] annadanchenko commented on #7636
@rachelhamlin @pablanopete TestFlight build is Waiting for Review, so it might not be ready by 15:00 CET today.

[2019-03-06 11:47] rachelhamlin commented on #7527
Hmm. Tough one. If the user enables dev mode and revisits this chat, do we then display the install extension message @flexsurfer?

In that case, I'd write: "Please enable development mode in advanced settings (link to profile)."  [Option A]

Better yet, if we can deep link to the advanced settings section directly, "To see this message, enable development mode (link to advanced profile settings).

[2019-03-06 11:56] ghost commented on #6936
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 12:16] flexsurfer commented on #7527
@rachelhamlin or we can show popup "Enable dev mode and install" "Yes" "No" , in this case, we just enable dev mode when user press "yes" and install the extension

[2019-03-06 12:19] hesterbruikman opened #7688 "Implement loading screen public chat"
Extension to PR https://github.com/status-im/status-react/pull/7663 and #7454

# Problem
A screen was introduced to replace the start screen of a public chat from ""There are no messages in this chat yet" to "It's been quiet here for the last 24h, start the conversation or share this chat."

This screen or a populated chat is only shown after all messages of the last 24h have been fetched. This ca

[2019-03-06 12:21] hesterbruikman commented on #7688
@StatusSceptre can you reserve this bounty for @bitsikka is an additional unforeseen requirement to a bounty they were working on. https://github.com/status-im/status-react/pull/7663

[2019-03-06 12:54] rachelhamlin commented on #7527
Oooh that would really be best @flexsurfer. We don't need design for this, do we?

[2019-03-06 12:58] flexsurfer commented on #7527
@rachelhamlin we don't need, we can use a standard popup, I just need a text of this message

[2019-03-06 13:06] ghost commented on #3487
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 13:06] ghost commented on #4991
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 13:06] #3487 closed, assigned to nobody

[2019-03-06 13:06] #4991 closed, assigned to nobody

[2019-03-06 13:16] ghost commented on #6938
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 13:16] #6938 closed, assigned to nobody

[2019-03-06 13:19] rachelhamlin commented on #7527
Maybe something like this @flexsurfer?

<img src="https://user-images.githubusercontent.com/15470435/53883960-cb8f3c00-401a-11e9-9a84-27c4b4b20e8c.png" width=200/>

**Confirm Install**

`Development mode is required to install an extension. Do you want to enable and continue installing?`

`OK` `Cancel`

[2019-03-06 13:54] oskarth opened #7689 "Support Goerli testnet"
# Problem

I can't use Goerli cross-client testnet on 0.10, which is the new hot testnet.

# Acceptance Criteria
Under network settings, I expect to be able to select Goerli test net. I also expect it to work.

Rules for the future PR to be accepted.

# Notes

https://goerli.net/

I suggest we make this a bounty. I don't know the scope of this integration, so I defer to @mandrigin and @adambabik

[2019-03-06 14:16] ghost commented on #5611
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:16] ghost commented on #6940
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:16] #5611 closed, assigned to nobody

[2019-03-06 14:16] #6940 closed, assigned to nobody

[2019-03-06 14:26] rachelhamlin commented on #7676
Not ideal and we need to fix it, but I'd rather ensure that any TtT work in progress is wrapped before diverting for this. aka not urgent. @yenda @churik

[2019-03-06 14:26] ghost commented on #6445
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:26] ghost commented on #6614
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:26] #6614 closed, assigned to cammellos

[2019-03-06 14:46] ghost commented on #6452
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:46] ghost commented on #6451
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:46] ghost commented on #6427
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:46] #6452 closed, assigned to nobody

[2019-03-06 14:46] #6451 closed, assigned to nobody

[2019-03-06 14:46] #6427 closed, assigned to nobody

[2019-03-06 14:48] annadanchenko commented on #7636
TestFlight build not Approved yet, can take 1-2 days. Let's move release date to tomorrow (Mar 7) 15:00 CET

[2019-03-06 14:56] ghost commented on #6259
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:56] ghost commented on #6206
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:56] ghost commented on #6203
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:56] ghost commented on #6606
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 14:56] #6259 closed, assigned to nobody

[2019-03-06 14:56] #6206 closed, assigned to cammellos

[2019-03-06 14:56] #6203 closed, assigned to cammellos

[2019-03-06 14:56] #6606 closed, assigned to nobody

[2019-03-06 15:06] ghost commented on #4573
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 15:06] #4573 closed, assigned to nobody

[2019-03-06 15:26] ghost commented on #6618
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 15:26] ghost commented on #6934
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 15:26] ghost commented on #6724
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 15:26] #6934 closed, assigned to nobody

[2019-03-06 15:26] #6618 closed, assigned to nobody

[2019-03-06 16:01] #7630 closed, assigned to yenda

[2019-03-06 16:01] #7617 closed, assigned to nobody

[2019-03-06 16:10] #6597 closed, assigned to nobody

[2019-03-06 17:44] Serhy opened #7693 "Noticeable delay on navigation to Wallet main screen (more than 1s)"
***Type***: Bug

***Summary***: There is a noticiable lag when user navigates to Wallet main screen from Home or Profile screens. It takes 5-6 times more comparing to navigation on Home or Profile screens.
Despite the number of assets enabled in Wallet (means it's almost the same with 1 token or 30 tokens enabled on Wallet):
- On iPhoneX (powerful device) it's almost instant with any screen.
- On

[2019-03-06 18:26] ghost commented on #6945
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-06 18:38] #5281 closed, assigned to yenda

[2019-03-06 20:14] Swader commented on #6945
Reopening because it's important to me

[2019-03-06 21:24] krisc commented on #7354
@StatusSceptre made a new PR for this https://github.com/status-im/status-react/pull/7694

[2019-03-07 07:46] ghost commented on #6953
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 07:46] #6953 closed, assigned to nobody

[2019-03-07 08:05] #6907 closed, assigned to hetvart

[2019-03-07 08:26] ghost commented on #7035
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-07 08:36] ghost commented on #6846
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-07 09:46] ghost commented on #4951
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 09:46] #4951 closed, assigned to nobody

[2019-03-07 09:47] annadanchenko commented on #7636
Ready to release hotfix 0.10.1 today at 15:00 CET

[2019-03-07 09:51] jakubgs commented on #7489
Since I'm working on this in the open PR this is not an issue in `develop`. Closing.

[2019-03-07 09:51] #7489 closed, assigned to nobody

[2019-03-07 09:56] ghost commented on #5271
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 10:10] annadanchenko commented on #7693
on iPhone 5s, iOS 12.1.2 , nightly 0.11.0 (2019030708) from March 7 (no chats on Home screen, on Wallet - onboarding is done, so main Wallet screeen with default ETH and SNT assets are shown):

Home -> Profile (~0.05s)
[code]

Home -> Wallet (~0.85 sec: from 11:04:25.289510 +0100 to 11:04:26.132544 +0100)
[code]

[2019-03-07 10:24] Swader commented on #5271
Very important

[2019-03-07 11:21] Serhy commented on #7646
Waiting 0.10.1 is released before disabling wallet modal tests

[2019-03-07 12:00] asemiankevich opened #7696 "Add e2e test based on 7680 (sign typed message to dapp)"
# Problem

https://github.com/status-im/status-react/pull/7680 should be coverd in e2e tests with middle or low priority (run in nightlies, dont run in PRs).

- open status
- switch to ropsten
- open test dapp
- open transactions
- make sure text box for [Sign typed message] is pre-populate with JSON
- tap Sign Typed Message
- make sure Signed typed message has response hash

[2019-03-07 12:16] ghost commented on #7039
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-07 13:06] ghost commented on #5852
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 13:06] #5852 closed, assigned to nobody

[2019-03-07 13:13] annadanchenko commented on #5695
Can reproduce on nightly Mar 7 and on 0.10.1 release
both iOS and Android

[2019-03-07 13:56] ghost commented on #5890
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 13:56] #5890 closed, assigned to nobody

[2019-03-07 14:23] hesterbruikman commented on #3585
@eswarasai thanks for your patience on this! And @bitsikka thanks for jumping in. Indeed, #status-core-help should be a good place to get a faster response to questions.

Got some advice from @yenda on what might be going on. There should be a function to delete the contact from the database. If the contact seems to be in contacts after restarting (either in the Contact list or as shown on the use

[2019-03-07 14:27] ghost commented on #5962
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 14:27] ghost commented on #6033
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 14:27] ghost commented on #6076
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 14:27] #5962 closed, assigned to nobody

[2019-03-07 14:27] #6033 closed, assigned to yenda

[2019-03-07 14:27] #6076 closed, assigned to nobody

[2019-03-07 14:39] #5461 closed, assigned to flexsurfer

[2019-03-07 14:39] eswarasai commented on #3585
@hesterbruikman -- No problem. Thanks for getting back to me with the response. I'll spend some more time and try to achieve the above intended behaviour without causing any repercussions, if possible. I'll reach out to you once I have better understanding or hit any blockers :)

[2019-03-07 14:58] ghost commented on #6393
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-07 15:08] ghost commented on #5880
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-07 15:27] ghost commented on #6395
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 15:27] #6395 closed, assigned to SlizkovaGanna

[2019-03-07 15:54] annadanchenko commented on #7636
released

[2019-03-07 15:54] #7636 closed, assigned to nobody

[2019-03-07 15:59] ghost commented on #6458
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 15:59] ghost commented on #6497
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 15:59] ghost commented on #6607
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 15:59] #6497 closed, assigned to nobody

[2019-03-07 15:59] #6607 closed, assigned to nobody

[2019-03-07 16:01] hesterbruikman opened #7697 "Search bar animation behavior"
# Problem
The Status Home tab (soon to be Chat) has a searchbar implemented. This searchbar allows to find chats in the chat list and will in the near future also enable finding messages.

The searchbar was originally intended to behave like: https://www.dropbox.com/s/xyf77rl9jvesh1y/ScreenFlow%20copy%203.mp4?dl=0

For the most part this behavior has been implemented. There are a few issues that r

[2019-03-07 16:08] ghost commented on #6464
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 16:08] #6464 closed, assigned to nobody

[2019-03-07 16:27] ghost commented on #6613
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 16:27] #6613 closed, assigned to nobody

[2019-03-07 17:08] ghost commented on #6663
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 17:08] #6663 closed, assigned to nobody

[2019-03-07 17:27] ghost commented on #6779
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 17:27] ghost commented on #6795
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 17:27] ghost commented on #6902
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 17:27] ghost commented on #6959
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-07 17:27] #6779 closed, assigned to nobody

[2019-03-07 17:27] #6959 closed, assigned to nobody

[2019-03-07 17:28] StatusSceptre commented on #5217
Issue is still active via https://twitter.com/shivmalik/status/1103663875893927938?s=21 thread

[2019-03-07 20:02] rasom commented on #7686
on mobile send button is disabled if device is offline

[2019-03-08 08:26] asemiankevich opened #7699 "Add test to buy stickers in status app"
# Problem

We finally have 1 transaction required to buy stickers in status (https://github.com/status-im/status-react/pull/7687), please include this in tests.

Could run it in PRs and nightlies if we have enough space. If not - then nightlies only.

Steps how to buy stickers:
1. open status
2. switch to ropsten
3. faucet eth and stt
4. go to 1x1 chat and tap stickers icon
5. tap Get stickers
6.

[2019-03-08 09:25] churik commented on #7686
@rasom not in first two seconds. I updated issue to be more precise.

[2019-03-08 09:32] #7611 closed, assigned to flexsurfer

[2019-03-08 17:48] ghost commented on #7050
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-08 21:00] annadanchenko opened #7703 "status.im/stable does not contain 0.10.1 release files but has other artefact with 0.11.0 version"
# Problem
https://status.im/stable/ page for latest release builds contains artefact with 0.11.0 version that was not tested as release. This version contains some changes (Removed Wallet modals) that were introduced after latest public mobile release 0.10.1 I've checked it on apk file https://status-im.ams3.digitaloceanspaces.com/StatusIm-190307-172340-b63955-release.apk

<img width="1204" alt="S

[2019-03-09 01:28] decanus opened #7705 "Tabs and enters do not work in certain forms in status desktop"
### User Story

As a user I want to expect `tab` to move me to the next field in a form and `enter` to submit a form

### Description

When pressing tab on the loading account through the `12 seed phrase` option on status desktop, the field is never changed and when pressing the `enter` button the form is neither submitted.

[2019-03-09 18:18] ghost commented on #6962
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 00:27] ghost commented on #6861
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-10 00:27] #6861 closed, assigned to nobody

[2019-03-10 01:09] ghost commented on #5254
This could maybe be used: https://gotify.net/

[2019-03-10 03:04] AlleniCode opened #7707 "RealmJS.build/Release-iphoneos/RealmJS.build/Script-F63FF2C51C12462600B3B8E0.sh: line 29: node: command not found"
There is an error when I use Xcode to Archive:

/Users/zhangyutao/Library/Developer/Xcode/DerivedData/StatusIm-gzunxvmwsbjtksetngwgbybkyoje/Build/Intermediates.noindex/ArchiveIntermediates/StatusIm/IntermediateBuildFilesPath/RealmJS.build/Release-iphoneos/RealmJS.build/Script-F63FF2C51C12462600B3B8E0.sh: line 29: node: command not found
Command /bin/sh failed with exit code 127

[2019-03-10 08:59] ghost commented on #6297
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 09:19] ghost commented on #7060
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 09:27] ghost commented on #6977
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-10 09:27] #6977 closed, assigned to hetvart

[2019-03-10 12:09] ghost commented on #7057
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 12:09] ghost commented on #7059
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 13:27] ghost commented on #7064
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 13:59] ghost commented on #6216
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-10 14:27] ghost commented on #6981
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-10 14:49] ghost commented on #6506
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-10 14:49] #6506 closed, assigned to nobody

[2019-03-10 15:49] ghost commented on #6547
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-10 15:59] ghost commented on #6531
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-10 15:59] #6531 closed, assigned to nobody

[2019-03-11 07:59] ghost commented on #7069
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-11 08:01] hesterbruikman commented on #7688
^ @yenda can you give any advice on implementation of the chat loading screen? As in what signal to listen so see if message fetching has been completed?

[2019-03-11 08:04] Serhy commented on #7646
Done.

[2019-03-11 08:04] #7646 closed, assigned to Serhy

[2019-03-11 08:40] #7353 closed, assigned to nobody

[2019-03-11 08:59] ghost commented on #7070
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-11 08:59] adambabik commented on #7689
The first thing is to upgrade status-go to the newest go-ethereum. After it's done, this should be trivial and a bounty makes sense.

[2019-03-11 10:45] Serhy commented on #5967
Still an issue in Release 0.10.1 build. Should be fixed along with Wallet redesign. PR with Wallet redesign decoupled (https://github.com/status-im/status-react/pull/7263#issuecomment-465983635) in several tasks. This issue could be fixed after #7571 is fixed.

[2019-03-11 10:54] jeluard commented on #7667
Go @tbenr Go! :D

[2019-03-11 11:03] tbenr commented on #7667
🤣 🚀

[2019-03-11 11:22] annadanchenko commented on #7703
@jakubgs @andytudhope after  https://github.com/status-im/status.im/pull/249 apk file is fixed and points to 0.10.1 artefact. However, some issues still present:
1. iOS build contains only QR code that points to 0.11.0 version. Would expect link to ipa file from https://ci.status.im/job/status-react/job/release/job/release%252F0.10.x/30/ and QR Code for it
2. all desktop builds should be removed a

[2019-03-11 11:50] Swader commented on #7689
Please also consider adding https://lisinski.online - it's a national testnet we're running that's a clone of Goerli. We're also running shh and swarm, along with IPFS, so it's a full, public testnet meant to be pushed to its limits. I can help with this.

[2019-03-11 11:58] Serhy opened #7711 "[TESTS] Automate test cases when opening deep links"
Automate test cases:

- [x] [C5441](https://ethstatus.testrail.net/index.php?/cases/view/5441) Can open 1-1 chat using a valid deep link with user public key
- [x] [C5442](https://ethstatus.testrail.net/index.php?/cases/view/5442) Can open browser url using a deep link
- [x] [C5780](https://ethstatus.testrail.net/index.php?/cases/view/5780) Can open universal deep link with own contact code and be

[2019-03-11 12:10] annadanchenko opened #7712 "Remove READ_PROFILE permission in Android"
# Problem

We have a warning in PlayStore pre-launch report about READ_PROFILE permission:
[code]

I think we have this permission since times when it was possible to get your phone contacts. IT was removed long time ago and imo, there are no features that require READ_PROFILE permission. If it's true then READ_PROFILE should be removed.

[2019-03-11 12:49] ghost commented on #7025
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-11 12:49] ghost commented on #7026
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-11 13:34] annadanchenko opened #7713 "Jenkins build to update cn.status.im fails so page contains old link to release apk"
# Problem

https://cn.status.im/ contains link to apk from old release https://status-im.ams3.digitaloceanspaces.com/StatusIm-181217-093751-07a7a5-release.apk

If run https://ci.status.im/job/misc/job/cn.status.im/70/ it fails, so can't update to new apk. error in the build:
[code]

# Acceptance Criteria

https://cn.status.im/ page contains link to latest apk.
atm it's 0.10.1 https://status-im.ams

[2019-03-11 15:48] jeluard commented on #5461
@sidsverma @okwme @rstormsf It's now available in latest nightly! Please give it a try

[2019-03-11 16:02] Serhy opened #7714 "App freezes when using it while poor 2G connection enabled [iOS]"
***Type***: Bug

***Summary***: It was noticed with 2G connection (on iOS), where network to receive/send data is really poor. Also, perfectly reproducible if you don't have any funds on SIM so no cellular data available and any of LTE/3G/2G networks are enabled.
When using Status app with above conditions - app freezes when navigating between the screens.
In the video below pay attention at:  23r

[2019-03-11 16:06] hesterbruikman opened #7715 "Contextual bottom sheet on long press"
# Problem
In order to remove a chat, we currently use a 'swipe to delete' approach in the chat list. We'd like to replace 'swipe to delete' in places where it is used with 'longpress to delete' and introduce this appproach in places where currently a top right overflow menu is used.

'Swipte to delete' is a pattern that is known to not be intuitive for users across platforms. Its main downside bei

[2019-03-11 16:09] hesterbruikman commented on #3585
hi @eswarasai how are you getting on with this issue? if you have any questions, please reach out to https://get.status.im/chat/public/status-core-help

[2019-03-11 16:10] errorists commented on #7715
[Link to Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=375%3A3400) with an example of correct implementation, red is used to highlight destructive actions

[2019-03-11 16:13] #7082 closed, assigned to antdanchenko

[2019-03-11 16:19] ghost commented on #4434
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-11 16:19] #4434 closed, assigned to vitvly

[2019-03-11 17:36] okwme commented on #5461
doesn't work for me on newest testflight version : \
we're using this implementation:
https://github.com/clovers-network/clovers-dapp/blob/b80c4e90d889b6cfb5ffc8b0b1d892092b5ce40e/src/store/actions.js#L371

[2019-03-11 17:50] bitsikka commented on #7688
The approach I described earlier works only partially and we need something better.

While I've been sleuthing the whole time, and gathering a lot of contextual knowledge, so far, it is clear only that this problem is not trivial.

Because, as it turns out, fetching messages, determining whether there will be messages or not(waiting for messages to get populated and declare not empty, or declare e

[2019-03-11 17:51] jeluard commented on #5461
@flexsurfer Maybe you could take a look at this one?

[2019-03-11 17:52] jeluard commented on #5461
@okwme What exactly doesn't work? Can you provide more details?

[2019-03-11 18:07] flexsurfer commented on #5461
@okwme @jeluard i believe it's only available in nightlies, not in release yet, will be available in next release

[2019-03-11 18:13] jeluard commented on #5461
Oh right! It's nightly only, not TestFlight @okwme

[2019-03-11 18:40] emmaodia commented on #7352
I finally have it on my local machine. Encountering issues with AVD.
WIP

[2019-03-11 22:23] yenda commented on #7688
so if I understand correctly this issue is about creating a version of the screen for when the messages are currently being fetched and there is no messages fetched yet is that correct  @hesterbruikman ?

In that case @bitsikka first I would suggest that the appropriate state to be shown in the chat view should be computed in a subscription (i.e :state #{:empty :loading :messages}).
I would not re

[2019-03-11 22:43] yenda commented on #3585
@hesterbruikman should we talk about this issue in the profile design meeting tomorrow?

[2019-03-12 03:39] ghost commented on #6672
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 08:47] hesterbruikman commented on #7688
Exactly

[2019-03-12 09:09] ghost commented on #7074
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 10:05] oskarth commented on #7026
@cammellos what's the state of this?

[2019-03-12 10:05] oskarth commented on #7025
@cammellos what's the state of this?

[2019-03-12 10:05] oskarth commented on #7689
@adambabik do we have an issue for that? if it isn't prio I'd suggest making it a bounty as well.

[2019-03-12 10:17] cammellos commented on #7025
@oskarth working on it now, https://github.com/status-im/status-react/pull/7702 , so should be re-opened

[2019-03-12 10:18] cammellos commented on #7026
Currently pfs is guaranteed for the initial group, but not for members who have been added after, that still needs working, I will update the description

[2019-03-12 11:25] churik commented on #6458
Still relevant

[2019-03-12 11:28] churik commented on #5364
I believe still can be relevant, can you check @annadanchenko when you have time?

[2019-03-12 11:33] churik commented on #6981
Still relevant

[2019-03-12 11:37] churik commented on #4592
Fixed in 12/03/2019

[2019-03-12 11:39] churik commented on #7015
Still relevant

[2019-03-12 11:39] churik commented on #6812
Not stale

[2019-03-12 11:40] churik commented on #6216
Can be closed since we aiming to use same ui for mobile and desktop

[2019-03-12 11:40] #6216 closed, assigned to nobody

[2019-03-12 11:48] bitsikka commented on #7688
@yenda good point on

I see what you mean.

I had looked at `:mailserver/fetching?`, but it does not seem to be complete enough for this purpose. Because, it only accounts for primarily checking `:mailserver/pending-requests`, and not whether `:mailserver.callback/request-success` fired, or whether there was `:signals/signal-received`, and whether mailserver said "mailserver.request.completed", an

[2019-03-12 11:57] churik commented on #6297
Can be closed because of https://github.com/status-im/status-react/pull/7551

[2019-03-12 11:57] #6297 closed, assigned to goranjovic

[2019-03-12 11:59] churik commented on #6393
closed in #7637

[2019-03-12 11:59] #6393 closed, assigned to yenda

[2019-03-12 12:00] churik commented on #5880
Can be closed because of #7551

[2019-03-12 12:00] #5880 closed, assigned to nobody

[2019-03-12 12:00] churik commented on #7020
Can be closed because of #7551

[2019-03-12 12:00] #7020 closed, assigned to nobody

[2019-03-12 12:01] churik commented on #7057
@rachelhamlin are we still aiming to do this?

[2019-03-12 12:03] churik commented on #7074
Still relevant as far as I can understand

[2019-03-12 12:05] churik commented on #4352
Irrelevant

[2019-03-12 12:09] ghost commented on #6214
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 12:09] ghost commented on #6152
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 12:09] ghost commented on #6984
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 12:09] churik commented on #4604
Irrelevant now

[2019-03-12 12:20] yenda commented on #6214
@churik is this still an issue?

[2019-03-12 12:20] yenda commented on #7074
@churik no we are moving directly to 0.58

[2019-03-12 12:27] ghost commented on #6669
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 12:33] churik commented on #4839
Doesn't make sense in terms of https://github.com/status-im/status-react/pull/7551

[2019-03-12 12:33] churik commented on #4875
Doesn't make sense in terms of #7551

[2019-03-12 12:33] #4875 closed, assigned to nobody

[2019-03-12 12:33] churik commented on #4987
Doesn't make sense in terms of #7551

[2019-03-12 12:34] churik commented on #5081
Not a priority anymore

[2019-03-12 12:35] churik commented on #5104
Doesn't make sense in terms of #7551

[2019-03-12 12:35] churik commented on #5317
Not a priority anymore

[2019-03-12 12:36] churik commented on #5405
Not a priority anymore

[2019-03-12 12:37] churik commented on #5424
Not a priority anymore

[2019-03-12 12:37] churik commented on #5505
Doesn't make sense in terms of #7551

[2019-03-12 12:42] churik commented on #5547
Not a priority anymore

[2019-03-12 12:43] churik commented on #5856
Not a priority anymore

[2019-03-12 12:43] churik commented on #5858
Not a priority anymore

[2019-03-12 12:43] churik commented on #5859
Not a priority anymore

[2019-03-12 12:44] churik commented on #5860
Not a priority anymore

[2019-03-12 12:45] churik commented on #5933
Irrelevant in terms of https://github.com/status-im/status-react/pull/7551

[2019-03-12 12:45] churik commented on #5962
Irrelevant in terms of https://github.com/status-im/status-react/pull/7551

[2019-03-12 12:46] churik commented on #6033
Irrelevant in terms of https://github.com/status-im/status-react/pull/7551

[2019-03-12 12:47] churik commented on #6115
Irrelevant in terms of https://github.com/status-im/status-react/pull/7551

[2019-03-12 12:49] churik commented on #6445
Still relevant

[2019-03-12 12:50] churik commented on #6477
Irrelevant in terms of https://github.com/status-im/status-react/pull/7551

[2019-03-12 12:51] churik commented on #6506
Irrelevant in terms of #7551

[2019-03-12 12:51] churik commented on #6521
Irrelevant in terms of #7551

[2019-03-12 12:51] churik commented on #6531
Irrelevant in terms of #7551

[2019-03-12 12:52] churik commented on #6547
Still relevant

[2019-03-12 12:54] churik commented on #6593
@PombeirP WDYT about this issue? should it be reopened?

[2019-03-12 12:54] churik commented on #6607
Irrelevant in terms of #7551

[2019-03-12 12:54] churik commented on #6657
Irrelevant in terms of #7551

[2019-03-12 12:55] churik commented on #6663
Irrelevant in terms of #7551

[2019-03-12 12:55] churik commented on #6684
Irrelevant in terms of #7551

[2019-03-12 12:56] churik commented on #6724
Still relevant

[2019-03-12 12:57] churik commented on #6737
Irrelevant as I could understand

[2019-03-12 12:57] churik commented on #6747
Irrelevant in terms of #7551

[2019-03-12 12:57] churik commented on #6763
Irrelevant in terms of #7551

[2019-03-12 12:58] churik commented on #6767
Not reproducible

[2019-03-12 12:58] churik commented on #6795
Still relevant

[2019-03-12 12:59] churik commented on #6796
Relevant

[2019-03-12 12:59] churik commented on #6817
Irrelevant in terms of #7551

[2019-03-12 13:00] churik commented on #6818
Relevant

[2019-03-12 13:00] churik commented on #6876
Irrelevant in terms of #7551

[2019-03-12 13:01] yenda commented on #7688
@bitsikka to me `mailserver/fetching?` is exactly what `loading...` means, and once it is false you either show empty or messages state

[2019-03-12 13:02] churik commented on #6902
Relevant

[2019-03-12 13:02] churik commented on #6933
Irrelevant in terms of #7551

[2019-03-12 13:03] churik commented on #6934
Irrelevant in terms of #7551

[2019-03-12 13:03] churik commented on #6938
Irrelevant in terms of #7551

[2019-03-12 13:04] churik commented on #6959
Irrelevant in terms of #7551

[2019-03-12 13:06] churik commented on #6214
@yenda Yes, still an issue

[2019-03-12 13:06] pedropombeiro commented on #6593
I've since made some improvements to the Desktop logs, so maybe the current state is satisfactory. Let's leave it closed and if someone feels we still need to improve it more, then we can reopen or create new one.

[2019-03-12 13:15] #7074 closed, assigned to yenda

[2019-03-12 13:27] ghost commented on #6741
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-12 13:27] #6741 closed, assigned to errorists

[2019-03-12 14:12] annadanchenko commented on #5364
yes it's still relevant

[2019-03-12 14:20] Serhy opened #7722 "Double click on chat element in the list required to switch to another chat if I sent a message before"
***Type***: Bug

***Summary***:  Chat list views require double clicks in order to select particular chat (the first click apparently moves the view onfocus - so next clicks are actionable and select a chat element). It happens if the view was unfocused before by click, for example on 'Send message' button or switching from profile view to Home view. Please see video (view clicks) recorded and sce

[2019-03-12 15:04] asemiankevich opened #7723 "Stickers are not tappable right after install"
# Problem

Stickers pack is not tappable upon install.

note1: i can swipe to the right to switch to sticker pack
note2: after relaunch it works

# Steps

1. open status (e2e build)
2. switch to ropsten
3. buy some stickers and install
4. go back to 1x1 chat and tap the installed sticker pack icon

Expected: can tap sticker pack and select it
Actual: can switch only with swipe

[2019-03-12 15:09] ghost commented on #7016
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-12 15:19] ghost commented on #7016
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-12 15:31] bitsikka commented on #7688
@yenda yes, semantically `loading...`  is what `:mailserver/fetching?` means (and it being false ought to signal that **fetching** is complete).

What I am saying is, in the current implementation of existing code base around it, `mailserver/fetching?` becomes false even before messages have been **fetched** completely. Which means, there is no problem when there aren't any messages being received

[2019-03-12 15:38] annadanchenko opened #7724 "No "wrong password" error if enter wrong password on Sign Message screen"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: On Sign message screen there is no error and nothing happens if user entered wrong password and tap Sign. Would expect error message same as whe

[2019-03-12 18:49] ghost commented on #7083
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-12 19:41] krisc commented on #7204
@gitcoinbot I will get started with this when I finish up https://github.com/status-im/status-react/issues/7354 and https://github.com/status-im/status-react/issues/5287

[2019-03-13 06:27] rasom commented on #7707
looks similar to https://github.com/realm/realm-js/issues/1448

[2019-03-13 06:27] rasom commented on #7707
doesn't look like Status specific issue btw

[2019-03-13 06:48] bitsikka commented on #7688
Having that said, I have now a working wip PR in the works, and I will be proposing it soon (probably as part of  #7454).

It involves small time-out to wait for the possibility of incoming messages and feels hackish in a way, but should work well in normal network situations at least.

It also looks like it could be robust with a bit of extension to signal/transport/mailserver request/response co

[2019-03-13 08:17] bitsikka commented on #7688
regarding ^that part, looks like we can compare `LastEnvelopeHash` for it(the indication) 🤔.

[2019-03-13 09:33] asemiankevich commented on #7190
this screen  is also shown in the following case:
- create account (0 eth )
- complete onboarding
- add contact and open chat
- tap send ETH 0
- see insufficient funds
- tap cross button

[2019-03-13 09:54] asemiankevich commented on #6842
it now results in white screen

[2019-03-13 10:02] churik commented on #7188
Same error when you tap on "Get stickers" in offline, so very easy to get this error when your connection is not stable.
@rachelhamlin can we prioritize it?

[2019-03-13 11:23] rachelhamlin commented on #7188
Is this due to a bad connection or a bad address?

[2019-03-13 11:38] oskarth opened #7726 "Chaos Unicorn Meta Issue"
April 1 we are going to shutdown our cluster and other MITM services, see https://chaos-unicorn-day.org/ for more. This issue serves as an umbrella issue to ensure we prepare minimal set of things to do this properly.

Please create additional issues as it makes sense and replace the brief description in this issue, or post a comment below.

## Scope

* When: April; 9am-9am UTC
* Services impacted

[2019-03-13 11:39] oskarth commented on #7726
fyi @rachelhamlin @hesterbruikman

[2019-03-13 11:56] Swader commented on #7726
I will write a tutorial on how to run your own always-on zero-cost Full Ethereum and Status node.

[2019-03-13 16:31] mandrigin commented on #7707
@AlleniCode, the solution is listed in this comment: https://github.com/realm/realm-js/issues/1448#issuecomment-340757479

feel free to reopen this issue if it doesn't work for you

[2019-03-13 16:31] #7707 closed, assigned to nobody

[2019-03-13 16:38] mandrigin commented on #7689
https://github.com/status-im/status-go/issues/1413

[2019-03-13 16:44] mandrigin commented on #7070
@asemiankevich I don't think it should happen after we got rid of the StatusService, but feel free to reopen if you can still reproduce it.

[2019-03-13 16:44] #7070 closed, assigned to nobody

[2019-03-13 16:57] mandrigin commented on #7674
@annadanchenko @jarradh can anyone reproduce it on 0.10.1?

[2019-03-13 17:05] Swader opened #7729 "Add "Wallet only mode""
# Problem
Sometimes, I just want to use a dapp or send / receive assets. I don't care about chat at that moment - maybe I'm on a limited connection, maybe others in my household are using the internet for streaming and fetching messages would kill this, maybe I literally don't need chat, I just want to send some eth. Status starts syncing chat by default, which is detrimental to UX in such use cas

[2019-03-13 18:26] annadanchenko commented on #7726
list of known issues to be fixed:
https://github.com/status-im/status-react/issues/7553 Error `fx/defn expects a map of cofx as first argument...` if try to delete custom bootnode
https://github.com/status-im/status-react/issues/7681 Warning about changing network appears only after logout and if you tap on "Connect" 2 times
#4935 Account is blocked by `Ethereum node started incorrectly` error if

[2019-03-13 18:30] annadanchenko opened #7731 "0.11.0 mobile release"
issue to manage mobile 0.11.0 release

open issues and PRs for release: https://github.com/status-im/status-react/labels/release

Expected feature freeze date: end of day March 20
Expected release date: March 26

[2019-03-14 05:12] eswarasai commented on #3585
@hesterbruikman -- Sorry for the delay in getting back on this issue.

I've spent some time thinking about the semantics around removing vs blocking contact and also going through the existing implementation/functions. I came across `delete-contact-tx` method which is what you were referring to in the earlier comment, if I'm not wrong but it's not being used anywhere at the moment.

I'm new to Clo

[2019-03-14 08:27] ghost commented on #7035
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-14 08:27] #7035 closed, assigned to nobody

[2019-03-14 08:39] ghost commented on #6846
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-14 08:39] #6846 closed, assigned to nobody

[2019-03-14 09:27] mandrigin commented on #7726
Pivotal epic for that for Core Improvements team: https://www.pivotaltracker.com/epic/show/4218446

We will work on these tasks specifically next week (March 18th-22nd). We will pause all the other activities in Core Improvements for that week (except release testing).

[2019-03-14 09:51] #5443 closed, assigned to rasom

[2019-03-14 10:02] vkjr opened #7735 "npm start error on status desktop in debug mode"
# Problem

In first terminal window I ran:
`make prepare-desktop`
`make watch-desktop`
In second one:
`npm start`

npm start gives error:
[code]

# Implementation

I believe this is because clj-rn.conf.edn still references react-native-webview, whereas desktop_files/package.json.orig doesn't.

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in mind whi

[2019-03-14 10:10] #7534 closed, assigned to errorists, flexsurfer

[2019-03-14 10:21] hesterbruikman opened #7738 "Update to latest Inter UI Typeface"
# Problem
Current release uses an old version of Inter UI. We want this to be updated to the latest version.

# Implementation
New version needs to be downloaded and installed across platforms. https://github.com/rsms/inter

# Acceptance Criteria

# Notes

# Future Steps

[2019-03-14 10:49] oskarth commented on #7726
Draft blog post https://our.status.im/p/3c33ad00-c5c5-4bbb-852e-2609f3a09995/ going live in 24h, please let me know if you have any feedback

[2019-03-14 12:09] ghost commented on #6426
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-14 12:19] ghost commented on #7039
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-14 12:19] #7039 closed, assigned to nobody

[2019-03-14 12:38] pedropombeiro commented on #5928
@arnetheduck have you tried the feature/nix branch yet? Hopefully, we can close this after the branch is merged.

[2019-03-14 12:39] pedropombeiro commented on #5928
Regarding bash tab completion I had already fixed that maybe a couple months back.

[2019-03-14 12:45] #7075 closed, assigned to nobody

[2019-03-14 12:56] hesterbruikman commented on #7738
Typography specs on Figma: https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=787%3A1082

[2019-03-14 16:13] StatusSceptre commented on #1762
Should I stop work on @tbenr?

[2019-03-14 16:19] tbenr commented on #1762
@StatusSceptre sorry, i stopped my self.. definitely something I'm postponing too much.. maybe in the future we can go back on this...

[2019-03-14 17:44] Swader commented on #6426
Unbelieveable

[2019-03-14 23:19] ghost commented on #6822
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-15 05:59] #6822 closed, assigned to adambabik, goranjovic, jakubgs, corpetty

[2019-03-15 08:37] jeluard commented on #7352
@emmaodia How are things going? :)

[2019-03-15 08:53] annadanchenko commented on #7703
@andytudhope @jakubgs there are 3 issues left:
1. Apk link is wrong and does not work https://status-im.ams3.digitaloceanspaces.com/statusIm-190305-152317-ff3c9d-release.apk It should be capital S in StatusIm: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190305-152317-ff3c9d-release.apk
2. QR code for iOS still points to wrong 0.11.0 artefact. Would expect link to ipa file from https://c

[2019-03-15 09:01] bitsikka commented on #6850
I have a theory/take on this:

It happens because more often than not (maybe always) `(not group-chat)` in

[code]

becomes `true` because `group-chat` is `nil` and not because it is `false`

perhaps because when joining new public chat, upserting the chat and updating `current-chat-id` to the new chat in the app-db, happens after navigating to it, and not as we intended/assumed it to happen befor

[2019-03-15 09:35] annadanchenko commented on #1131
ok to close, no more Instabug

[2019-03-15 09:35] annadanchenko commented on #1150
ok to close, no more Instabug

[2019-03-15 09:36] annadanchenko commented on #1660
there is a feature in the app to block a user

[2019-03-15 09:36] annadanchenko commented on #3310
no more TestFairy so ok to close

[2019-03-15 09:37] annadanchenko commented on #4458
no more artifactory so ok to close

[2019-03-15 09:37] annadanchenko commented on #4627
no more Instabug so ok to close

[2019-03-15 09:37] annadanchenko commented on #4687
no more Instabug so ok to close

[2019-03-15 09:38] annadanchenko commented on #1149
no more Instabug so ok to close

[2019-03-15 09:42] #7724 closed, assigned to goranjovic

[2019-03-15 09:43] jeluard commented on #7465
Another nice one! :D @tbenr

[2019-03-15 09:44] #7571 closed, assigned to goranjovic

[2019-03-15 09:54] annadanchenko commented on #5025
will be redesign for wallet, ok to close for now

[2019-03-15 09:58] annadanchenko commented on #3474
can;t repro on 0.9.33

[2019-03-15 09:59] annadanchenko commented on #5554
@rachelhamlin @denis-sharypin @hesterbruikman is Recovery flow still a todo?

[2019-03-15 10:05] tbenr commented on #7465
oh yeah 👍

[2019-03-15 10:21] hesterbruikman opened #7743 "ONHOLD Remove blue circle icon on avatar when new person starts chat"
# Problem
We have a circle icon that is displayed on the avatar of a new person that sends you a chat. The behavior of the icon is illdefined and because of its infrequent use and similarities to a 'online' icon causes confusion for users. However, the icon serves the important function of mitigating risk of impersonation.

Impersonation can occur when.
User A (Jarrad) has added User B as contact

[2019-03-15 11:00] oskarth commented on #7726
Blog post done https://our.status.im/chaos-unicorn-day-april-1/

[2019-03-15 11:02] mandrigin commented on #7703
@annadanchenko I fixed the URL and removed QR codes because as it turns out we don't have any QR code generation for stable builds, so the nightlies were copy-pasted. Right now at least there are no wrong builds there, but obviously, this page needs waaaay more work.

@annadanchenko there is actually a file where you can fix the URLs itself: https://github.com/status-im/status.im/blob/develop/sour

[2019-03-15 11:27] hesterbruikman commented on #5554
Yes, looks like it is, thanks for flagging! Will add this issue to Onboarding on pivotal.

[2019-03-15 12:22] #7712 closed, assigned to cammellos

[2019-03-15 12:23] #7553 closed, assigned to cammellos

[2019-03-15 14:26] #7735 closed, assigned to vkjr

[2019-03-15 14:37] hesterbruikman commented on #7738
Wroked on here: https://github.com/status-im/status-react/pull/7742#pullrequestreview-215014141

[2019-03-15 14:37] #7738 closed, assigned to yenda, hesterbruikman

[2019-03-15 14:59] hesterbruikman commented on #7643
To be continued here: https://github.com/status-im/status-react/issues/7697

[2019-03-15 14:59] #7643 closed, assigned to nobody

[2019-03-15 15:05] mandrigin commented on #4391
@santteegt is it about data storage? we use a realm db for that (see *src/status_im/data_store/realm*).
As an example, you can take a look at `upsert_chat` function in *src/status_im/chat/models.cljs* and this PR: https://github.com/status-im/status-react/pull/7108

[2019-03-15 15:05] hesterbruikman commented on #7676
@Serhy referenced this issue in https://github.com/status-im/status-react/issues/7697

As @rachelhamlin mentioned, best if TtT can be wrapped up first. With @yenda we discussed to put a bounty and see if we can find someone who can focus on the animation behavior. With that said, are you ok if I close this issue and follow up in #7697 ?

[2019-03-15 15:13] Serhy commented on #7676
@hesterbruikman sure, it's not super urgent priority or blocker and it was noticed only on iOS.
Let's close it and follow up in #7697

[2019-03-15 15:18] #7676 closed, assigned to nobody

[2019-03-15 15:26] mandrigin commented on #7703
I remove the "high-severity" label, but the QR code generation should be fixed!

[2019-03-15 15:27] mandrigin commented on #7672
@annadanchenko okay, so is there any version that actually behaves properly? :)

[2019-03-15 16:15] PixelantDesign commented on #4158
@StatusSceptre looks like you have a PR submission from @bitsikka!

[2019-03-15 17:49] ghost commented on #7050
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-15 17:49] #7050 closed, assigned to nobody

[2019-03-15 17:58] Serhy commented on #4935
Updating issue description after retest with 0.11.0 app version:
Now, apart `Ethereum node started incorrectly` error there is a bunch of `Wrong decimals for token...` errors - same as described in the issue https://github.com/status-im/status-react/issues/6840

Now, after user specifies custom network with different chain and logs in to account: `Ethereum node started incorrectly` and `Wrong deci

[2019-03-16 18:19] ghost commented on #6962
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-16 18:19] #6962 closed, assigned to yenda

[2019-03-17 03:06] Swader opened #7746 "Custom Mailserver won't let me add one"
When I go into the add custom mailserver screen in advanced on mobile (iOS), no type of input will make the Save button clickable. I am unable to save any custom mailserver I'm running, tried IP, human readable domain name, enode address, nothing works. Like I'm not typing anything at all in - no error message either.

Androidd 9+.

[2019-03-17 03:39] emmaodia commented on #7352
Very well. Installation on Local Machine complete. Setting up AVD.

[2019-03-17 07:29] ghost commented on #7107
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-17 09:19] ghost commented on #7060
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-17 09:19] #7060 closed, assigned to cammellos

[2019-03-17 11:09] ghost commented on #6862
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-17 11:18] mandrigin commented on #7746
Definitely a release blocker taking the chaos unicorn day into account.
We need to both fix the bug and also show an example of what is expected to be entered there. It is confusing otherwise.

[2019-03-17 12:02] Swader commented on #6862
Still a thing

[2019-03-17 12:03] Swader commented on #7746
@oskarth maybe we should keep a list of chaos day blockers so we can prioritize in the next 10 days for chaos release?

[2019-03-17 12:09] ghost commented on #7059
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-17 12:09] #7059 closed, assigned to cammellos

[2019-03-17 13:27] ghost commented on #6414
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-17 13:27] ghost commented on #7064
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-17 13:27] #7064 closed, assigned to nobody

[2019-03-17 16:25] annadanchenko commented on #7746
@Swader can you share link you are trying to use for mailserver, please? there is a poor error handling that does not enable mailserver Save button if it considers link as invalid... I was adding custom mailserver successfully in one of the recent nightlies... Example of the link that worked for me:
enode://531e252ec966b7e83f5538c19bf1cde7381cc7949026a6e499b6e998e695751aadf26d4c98d5a4eabfb7cefd31c

[2019-03-17 18:09] Swader commented on #7746
So it expects an enode format? Ok hold on, let me regenerate and retry, then I'll post back.

[2019-03-17 18:20] Swader commented on #7746
`enode://b7a2fe6c8b53650076cb71b5acfad89a74adb2f123ad21d21e9a6dec733299f03ecc56c82fb814c8d0cac4c685e0ab0f6 9ab7c105f6127392821088f0dad6612:status-offline-inbox@192.168.0.54:30304`

This is local network only. Not exposing it outwards just yet.

[2019-03-17 18:25] Swader commented on #7746
No dice. Save button isn't triggering. I tried with a QR code, too.

[2019-03-18 07:09] ghost commented on #7125
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-18 07:19] jakubgs commented on #5424
Actually, this has been already done with all the `groovy` files:
https://github.com/status-im/status-react/tree/develop/ci

[2019-03-18 07:36] jakubgs commented on #7746
Why is there a space in this enode address?

[2019-03-18 07:44] Swader commented on #7746
Oh jesus, you're right. I didn't even see it at 3am. It lets me press Save now, but fails to connect with "could not be reached" error. Progress!

As a matter of UX (@hesterbruikman), I recommend updating the link checking regex here to specifically check for possible errors, to trim left and right, and to have more verbose error messages on fail (each regex check should ideally have its own messa

[2019-03-18 07:44] #7746 closed, assigned to nobody

[2019-03-18 07:48] asemiankevich opened #7750 "Fix Ropsten / Rinkeby faucet"
# Problem

old faucets are not working anymore

Rinkeby: http://51.15.60.23:3001/faucet-info

Ropsten: http://51.15.45.169:3001/faucet-info

# Acceptance Criteria

any other ways to get test ETH would be appreciated

[2019-03-18 07:59] ghost commented on #7069
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-18 07:59] #7069 closed, assigned to nobody

[2019-03-18 08:09] jakubgs commented on #7750
Will check on them.

[2019-03-18 08:10] jeluard commented on #7105
@StatusSceptre Can we accept @Alexanmtz ?

[2019-03-18 08:54] Swader commented on #7595
This applies to Windows as well. Scrolling is fine with mouse for me, but on trackpad, a single move will scroll the screen thousands of miles up/down, as if the easing is not detected.

[2019-03-18 09:49] alexanmtz commented on #7105
Yes @jeluard! Defintely. I just want to know afterwards if I have to solve the #7104 as well before start on this

[2019-03-18 09:51] jeluard commented on #7105
@alexanmtz I believe it makes more sense yes as this one would probably build on the other one?

[2019-03-18 09:56] alexanmtz commented on #7105
The other one was canceled on Gitcoin, so I can started on that but this would be two tasks, don't you think? You can reactivate the other one or consider the scope of this one to be this issue and the dependency.

[2019-03-18 09:59] jeluard commented on #7105
@alexanmtz Yes definitely. I don't know why it's been canceled but you can assume the same bounty will be made available.

@StatusSceptre Can you take a look at that?

[2019-03-18 10:01] alexanmtz commented on #7105
Ok, great @jeluard , I will wait the other one be available again so I can apply for that one first, once you approved I start on that one and then we proceed for this one after we merge the dependency.

[2019-03-18 10:02] jeluard commented on #7105
Feel free to start, we pay all our bounties ;)

[2019-03-18 10:05] jakubgs commented on #7713
Okay, I've fixed the builds for https://cn.status.im/ with https://github.com/status-im/cn.status.im/commit/29407f3bc43416971584b78cfdd0de9b941de84b.

I've also run this build: https://ci.status.im/job/misc/job/cn.status.im/78/
With the provided APK url as a parameter, the URL us now correct on https://cn.status.im/.

[2019-03-18 10:05] #7713 closed, assigned to jakubgs

[2019-03-18 10:34] jakubgs commented on #7703
This is a fix to missing Diawi link and QR code images: https://github.com/status-im/status.im/pull/255
For future reference, please create issues for https://status.im in the https://github.com/status-im/status.im repo.

[2019-03-18 10:40] alexanmtz commented on #7105
Ok @jeluard , great!

[2019-03-18 10:41] alexanmtz commented on #7104
As agreed with @jeluard on #7105 , I will work on this ✋

[2019-03-18 10:45] annadanchenko opened #7752 "No error message if provide wrong mailserver or bootnode url"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: There is no error message if provided url is considered as invalid. Save button is not enabled and user has no clues on what's wrong and what is

[2019-03-18 10:48] churik commented on #7752
close to https://github.com/status-im/status-react/issues/7333 - but seems there is no error anymore, before it was `Re-matches must match again a string`

[2019-03-18 11:14] jakubgs commented on #7750
So the faucet container is running:
[code]
I do get a redirect from http://faucet.status.im:
[code]
But the connection to HTTPS port times out:
[code]

[2019-03-18 11:23] jakubgs commented on #7750
Oh, I see what is happening, I currently can't SSH into `51.15.45.169`:
[code]
And that is where both faucets are located:
[code]
It appears that that host is down.

[2019-03-18 11:35] asemiankevich commented on #7750
@jakubgs i googled it a bit and seems this URL is no longer supported . @mandrigin @3esmit maybe you knpw something

[2019-03-18 11:35] rachelhamlin commented on #5554
@hesterbruikman ooh, do we have a pivotal board for that, or is it under core? Edit: Looks like core, I see the story.

[2019-03-18 11:42] jakubgs commented on #7750
It appears the host has been stopped:
[code]
Interestingly enough I can't see the region for the server, so I cannot inspect it.

[2019-03-18 11:56] jakubgs commented on #7750
I've managed to start it with:
[code]
Despite not being able to inspect it:
[code]
Interestingly now that it's in `starting` I can inspect it:
[code]
I was also unable to extract any info using `scw logs`, so I don't know why it was stopped.

[2019-03-18 12:00] jakubgs commented on #7750
Anyway, the server is now up:
[code]
And one of the endpoints is back: http://51.15.45.169:3001/faucet-info
But that's not correct, because the correct address should be https://faucet.status.im/faucet-info, but I can't seem to find a config for that endpoint on the host. What the fuck happened...

[2019-03-18 12:16] #7703 closed, assigned to jakubgs

[2019-03-18 12:21] jakubgs commented on #7750
So the `51.15.45.169` host __used__ to contain Nginx configuration for two endpoints:

* https://faucet.status.im and https://faucet-rinkeby.status.im

I revived it and there's a few weird things about it, for example, the container running there is different than on other faucet hosts:
[code]
It's using `farazdagi/faucet` instead of `statusim/faucet` on all other hosts, and there is no `ethereum/

[2019-03-18 12:23] jakubgs commented on #7750
I also found that `51.15.60.23` is running a weird `trinitronx/python-simplehttpserver` container:
[code]
Which seems to be hosting some node listing page - http://51.15.60.23/ - which loads nodes forever.
This has been started 9 hours ago:
[code]
But I can't seem to find who did it.

[2019-03-18 13:06] jakubgs commented on #7750
Okay, now http://51.15.60.23:3001/faucet-info is back up as well. I don't know why but 9 minutes ago both containers exited with `0`.

[2019-03-18 13:48] jakubgs commented on #7750
I've brought all three online:

* https://faucet-testnet.status.im/
* https://faucet-rinkeby.status.im/
* https://faucet-ropsten.status.im/

One issue is, the `rinkeby` and `testnet` both return this from `/faucet-info`:
[code]

[2019-03-18 13:49] jakubgs commented on #7750
Also https://faucet-ropsten.status.im/faucet-info seems to return:
[code]
Not sure why, I assume it wasn't like that before.

[2019-03-18 14:04] mandrigin commented on #7750
can it be because of Constantinople update?

[2019-03-18 14:08] annadanchenko commented on #7750
it looks like 0xadaf150b905cf5e6a778e553e15a139b6618bbb7 address was used long time ago and definitely was not sending 0.1 ETH last week or so when faucet was working https://ropsten.etherscan.io/address/0xadaf150b905cf5e6a778e553e15a139b6618bbb7

[2019-03-18 14:11] jakubgs commented on #7750
Oh, that's possible. It is running `ethereum/client-go:v1.7.2`, I assume that's too old?

[2019-03-18 14:13] jakubgs commented on #7750
I will try upgrading it to `v1.8.23`.

[2019-03-18 14:19] ghost commented on #7004
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-18 14:19] ghost commented on #7007
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-18 14:24] guylouis commented on #7004
can this be closed, or should we keep it for tracking ?

[2019-03-18 14:24] jakubgs commented on #7750
Whelp, I upgraded to `v1.8.23` for Rinkeby and this is what I get from https://faucet-rinkeby.status.im/faucet-info:
[code]
The `geth` container seems to be having syncing issues:
[code]

[2019-03-18 14:32] dmitryn commented on #7004
Let's close it

[2019-03-18 14:32] #7004 closed, assigned to nobody

[2019-03-18 14:40] jakubgs commented on #7750
What a fucking mess. Maybe it makes more sense to just start an `infra-faucet` and configure this stuff from scratch. Because fixing this is making me angry.

[2019-03-18 14:45] hesterbruikman opened #7757 "Status keeps crashing after Login"
# Problem
On certain days, Status keeps crashing after login for practically the whole day. On other days it works fine; haven't been able to find a plausible cause.

Phone: Faiprhone
OS: Android 7 (Low memory and slow processor!)
Status version: 0.10.1 (installed on March 5)
Issue persists on Mobile Network and Wifi

* Launch screen
* Enter password
* Snackbar Offline
* Snackbar Connected
* When

[2019-03-18 14:46] hesterbruikman commented on #7757
cc @annadanchenko @mandrigin

[2019-03-18 15:02] annadanchenko commented on #7757
@hesterbruikman as soon as it happens again can you launch app, sign in and send logs right after the crash, please? It's in Profile-> Advanced -> Send logs

[2019-03-18 15:03] annadanchenko commented on #7757
btw, are there any extensions installed? if so which ones? also have you upgraded from previous release or from nightly/PR build before installing 0.10.1?

[2019-03-18 15:18] hesterbruikman commented on #7757
I've tried, I can't get to them before the app crashes. Is there a file I can access on my phone?

[2019-03-18 17:56] Serhy opened #7758 "Same extension installed from QR code scanning and 'Open in Status' button recognised by app as different extension"
***Type***: Bug

***Summary***: Two users decided to install the chat-related extension: UserA opens universal deep link in mobile browser and taps 'Open in Status' and UserB who open universal link in, e.g. desktop browser, and scans QR code of the same extension.
When both UserA and UserB exchange extension message they realise that they are using a different extension.
It's visible on Extension

[2019-03-18 18:54] asemiankevich commented on #7757
I've installed 0.10.1 (2019031114) on my Android 7 - basic functionality works, no crashes at least at first glance. @hesterbruikman  which device you are using?

[2019-03-18 21:14] krisc commented on #5287
@StatusSceptre please see https://github.com/status-im/status-react/pull/7745

[2019-03-19 03:39] ghost commented on #6672
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-19 03:39] #6672 closed, assigned to nobody

[2019-03-19 03:49] ghost commented on #6454
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-19 08:48] cammellos commented on #7757
Just to add, I have had the same issue before, only happens once I had more data (chat & contacts). In the logs I saw an Out of memory error, so this is likely due to memory consumption.

[2019-03-19 08:59] ghost commented on #6510
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-19 08:59] ghost commented on #5975
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-19 08:59] ghost commented on #6921
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-19 08:59] ghost commented on #6843
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-19 10:03] annadanchenko commented on #7750
@jakubgs can it be solved today or tomorrow? I know you have a bunch of other tasks, so maybe we should ask for help from the team?

[2019-03-19 10:04] jakubgs commented on #7750
I've created https://github.com/status-im/infra-faucet and I'm working on deploying the Rinkeby cluster right now. I hope to be done by the end of the day.

[2019-03-19 11:04] antdanchenko commented on #7188
also the error is shown after opening a URL with mistake, e.g. `simpledaap.eth`

[2019-03-19 11:19] antdanchenko opened #7760 "Paste and other options are not shown after long press on URL input, on DApps screen"
Type: Bug

Summary: There are no `PASTE` and other options, after pressing on URL input for 10+ seconds

**Steps to reproduce:**
1. Create new account
2. Go to DApps screen
3. Hold URL input for several seconds

**Expected behavior**
PASTE and other options are shown, after pressing for ~2 seconds on URL input

**Additional Information**
Status version: 0.11.0
Operating System: Android

[2019-03-19 11:25] churik commented on #7760
Working fine on IOS 11.4.1 (IPhone 7)

[2019-03-19 11:27] Serhy commented on #7760
Works on iOS 12.1.4 (iPhoneX).
Confirmed on Android8 - no 'Paste' option to insert URL

[2019-03-19 11:55] #7363 closed, assigned to nobody

[2019-03-19 12:09] ghost commented on #6984
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-19 12:09] ghost commented on #6152
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-19 12:09] #6984 closed, assigned to nobody

[2019-03-19 12:09] #6152 closed, assigned to nobody

[2019-03-19 12:11] #7684 closed, assigned to flexsurfer

[2019-03-19 12:19] ghost commented on #6799
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-19 12:27] ghost commented on #6669
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-19 12:27] #6669 closed, assigned to nobody

[2019-03-19 13:32] jakubgs commented on #7750
So I'm having issues with https://github.com/status-im/faucet being not compatible with new geth versions. I'm going to try to fix it but it looks messy so I can't guarantee it will work today. If anyone needs `eth` in Ropsten on Rinkeby I have access to the old faucet wallet, so I can perform transfers by hand.

[2019-03-19 14:11] #7435 closed, assigned to flexsurfer

[2019-03-19 15:38] Serhy opened #7764 "Image on Welcome to Status screen is not center aligned on small device screens"
*Type*: Bug

*Summary*:
On small device screen resolution, like on iPhone5S (640×1136) the Welcome to Status image is aligned to left:

<img width="594" alt="Screenshot 2019-03-18 at 19 54 57" src="https://user-images.githubusercontent.com/6584810/54611371-19fafc80-4a57-11e9-9032-a8a182b00038.jpg">

Screen introduced with new screen from https://github.com/status-im/status-react/pull/7755
#### Exp

[2019-03-19 17:13] tbenr commented on #7357
@gitcoinbot yes I am. I'll close first another one before publishing a PR for this.

[2019-03-19 17:42] alexanmtz commented on #7104
@jeluard I have the project running on emulator (IOS), but there's just the initial screen and the log:

[code]

It's possible to provide the testflight invite for me to see the app and understand better how it works?

[2019-03-19 18:49] ghost commented on #7083
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-19 18:49] #7083 closed, assigned to nobody

[2019-03-19 18:55] Serhy opened #7765 "Non-mainnet as TX fee and TX history if account recovered after logout from contact that was in POA/xDAI/testnet"
***Type***:

***Summary***: UserA was on non-Mainnet network(POA/xDAI/Ropset/Rinkeby). If to log out of UserA -> recover/create another account UserB -> UserB is stick to network UserA was set at some places:
- transaction fee display non-Mainnet fees
- TX history is not-Mainnet
- Fiat values refer to non-Mainnet (on the main Wallet screen, send/request)
- try to add contact by ENS name (it won't

[2019-03-19 20:32] pbteja1998 commented on #5654
@Serhy Is this still available?

[2019-03-20 03:27] emizzle commented on #6872
Hi, this bug is still present and is affecting the `embark-status` plugin. Could we please keep this open?

[2019-03-20 07:19] ghost commented on #805
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-20 07:25] rasom commented on #805
nope

[2019-03-20 07:27] mandrigin commented on #805
We need to be sure that it is actually drains battery, because I suspect that Firebase is much worse than status-go node.

[2019-03-20 07:30] jeluard commented on #7104
Do you have `react-native start` running in a separate terminal?

[2019-03-20 08:34] asemiankevich commented on #7764
android 5.2" also in charge

![image](https://user-images.githubusercontent.com/28752642/54670152-09ed2680-4b04-11e9-9c5c-f273c17d2d43.png)

[2019-03-20 08:55] jeluard opened #7767 "Add event to delete a chat message"
### User Story

As a developer, I want to delete message from chats (including local db)

[2019-03-20 08:57] jeluard opened #7768 "Add a pair of events to encrypt/decrypt arbitrary data"
### User Story

As a developer, I want to be able to encrypt arbitrary data using a public key and decrypt using a local account.

### Description

*Type*: Feature

[2019-03-20 09:05] jeluard opened #7769 "Implement message wrapper hook"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want a simple hook to wrap any message.

_NOTE_ This event gives access to the underlying message. How to mitigate that?

### Description

Potential syntax:

[code]

[2019-03-20 09:07] annadanchenko opened #7770 "2 overlapping screens are shown for a second when creating account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When creating an account there is another screen shown on top of the expected one that looks messy. Can reproduce on Android only

<img width="5

[2019-03-20 09:09] ghost commented on #7147
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-20 09:29] annadanchenko opened #7771 "Beta warning popup is not shown after user created an account"
# Problem

In 0.10.1 we are showing Beta warning popup when user created an account and gets Home/Chat screen for the first time. Now it's not shown. Only after user closes the app and logs in again then popup is shown.

Happens on Android and iOS, nightly 0.11.0 March 20

Steps:
1. Create account and check is beta popup is shown

Expected popup:
![31302](https://user-images.githubusercontent.com/

[2019-03-20 09:55] hesterbruikman commented on #7771
When resolving this, please also take a look at Beta alert on upgrading which is slightly different, but might be low hanging when working on this issue. https://github.com/status-im/status-react/issues/7598

[2019-03-20 10:17] #7188 closed, assigned to flexsurfer

[2019-03-20 10:49] annadanchenko opened #7774 "There is no text "Searching message history coming..." inside Messages section for search results"
# Problem

For search results: It might look like search inside Messages does not work while we didn't implement it and should show  "Searching message history coming..." inside Messages section. This text was shown in 0.10.1 but is not shown in 0.11.0:

![Screenshot_20190320-114419](https://user-images.githubusercontent.com/6584810/54678716-022e8180-4b06-11e9-9944-5cc23b33010b.png)

Expected:

![

[2019-03-20 12:13] rachelhamlin commented on #7774
Womp womp, we have a regression on search @yenda.

[2019-03-20 12:27] Serhy commented on #5654
@pbteja1998 yes, issue still valid with 0.11.0 develop build.
As originally described: transaction sender sees 'Confirmed' on the transaction which failed.

[2019-03-20 13:55] Serhy opened #7776 "Blank screen after username submit when creating new account on Desktop"
***Type***: Bug

***Summary***: When creating new account on Desktop build after the step to specify the username there is a blank screen. No way to proceed to the main views.
If to re-open the app - the account is created - I can login and proceed to use the app.

Note: it's all fine for account recover

#### Expected behavior
User appears on Home screen after Username screen when creating new ac

[2019-03-20 14:13] hesterbruikman commented on #7757
Managed to get Status working on my Fairphone at last. Only step 7 and 8 seemed to have an effect. Any theories on whether this can be the case?

@cammellos what do you think of these opportunities to prevent getting stuck because of 'Out of memory' error:
- No fetching attempt when last received on client was +30 days ago.
- Manual fetching for channels that seem to have gone stale.

1. Delete ch

[2019-03-20 14:19] cammellos commented on #7757
@hesterbruikman it's due to the amount of data the app is loading in memory (number of chats/contacts), not necessarily on how much data we fetch from the mailserver etc (I was able to replicate the same issue in airplane mode). The best way to go about this is probably to try to understand where memory consumption is high, and what causes it, but we need to be able to replicate consistently ( I c

[2019-03-20 14:58] rasom commented on #7752
is this enough?
<img width=250 src=https://user-images.githubusercontent.com/2364994/54694739-6286e880-4b31-11e9-893d-0de9409a8896.jpg />

[2019-03-20 15:01] #7771 closed, assigned to rasom

[2019-03-20 15:08] annadanchenko commented on #7726
@corpetty suggested `to add a custom mailserver option in desktop before april 1. otherwise desktop will be useless` any feedback @rachelhamlin @oskarth @vkjr ?

[2019-03-20 15:10] mandrigin commented on #7752
@rasom also, as a placeholder, can we provide an  example enode id, so user knows what to enter there?

[2019-03-20 15:12] Swader commented on #7726
One guide is done: https://our.status.im/bulletproofing-against-chaos-unicorns-with-status-on-arm/

[2019-03-20 16:01] rasom commented on #7752
I'm not sure it will fit well in that tooltip, but I'll try

[2019-03-20 16:19] tbenr commented on #7667
@gitcoinbot the WIP PR is there. Currently working on it.

[2019-03-20 17:13] annadanchenko opened #7779 "Error "fx/defn expects a map of cofx as first argument got :url..." if scan QR code for bootnode"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If scan qr code for bootnode from https://gist.github.com/jacqueswww/3ddfc5ecfa09ecea702744ab15a2200d then error is shown and bootnode address is

[2019-03-20 17:43] #6633 closed, assigned to nobody

[2019-03-20 18:10] alexanmtz commented on #7104
I tried this as well @jeluard , and and executed `make run-ios`

[2019-03-20 19:10] krisc commented on #5776
@StatusSceptre can I get approved for this? I actually already found a quick fix. Just have to clean up the code

[2019-03-21 04:07] oskarth commented on #7726
@annadanchenko I think that's a good idea. @vkjr is this doable? Perhaps it is even not needed if we can merge the mobile UX in time.

[2019-03-21 07:28] rasom commented on #7752
@mandrigin @annadanchenko what about this one?

<img width=300 src=https://user-images.githubusercontent.com/2364994/54738122-8bec5680-4bbb-11e9-9a99-03156265cd9f.jpg />

[2019-03-21 07:42] mandrigin commented on #7752
@rasom I thought about it being in a placeholder of the text field, just like “specify a name”.
It would still be cool to add that, so when a person opens it for the first time, they know what to do.

And let’s keep this updated error message too.

[2019-03-21 07:44] errorists opened #7781 "Fixes to UI for composing a reply"
# Problem

Somehow during the latest batch of changes our reply UI got messed up a bit, this aims to fix it and improve how it renders on smaller screen devices

# Implementation

- [ ] remove the odd margin before usernames on quotes
- [ ] remove the border around quote

<img width="846" alt="Screenshot 2019-03-27 at 10 25 58" src="https://user-images.githubusercontent.com/4932774/55064768-d3228d

[2019-03-21 08:54] errorists opened #7785 "Implement the correct list item layout in chats list"
# Problem

The list item we currently use in our chat tab is all kinds of ugly wrong, this issue aims to fix that. It's up for discussion if we want to implement it as a component now, however we do it, I just want us to fix it :)

# Implementation

<img width="1393" alt="Screenshot 2019-03-21 at 09 05 27" src="https://user-images.githubusercontent.com/4932774/54739499-acff7800-4bb8-11e9-9fe8-c0a7

[2019-03-21 08:57] annadanchenko commented on #7726
@vkjr if we will use current desktop (not mobile UI one) then in addition to adding custom mailserver feature  we also need to fix https://github.com/status-im/status-react/issues/7430 as all users will face it  on chaos day

[2019-03-21 09:18] goranjovic opened #7786 "Gas estimation in ETH/token send from Wallet"
# Problem

Default gas limit value is hardcoded for both token and ether transfers from wallet.

This presents a problem in the following two use cases:

1. When user wants to trigger a smart contract default function by directly sending a transaction to the contract address. One example is sending 0 ETH to any ropsten token contract in order to get test tokens.
2. When token transfer function req

[2019-03-21 09:20] vitvly commented on #7726
I'll work on the mailserver fixes for Desktop.

[2019-03-21 09:22] Serhy commented on #5975
Still reproduced with 0.11.0 Develop build.
Same issue but now user landed not on Home view but Wallet view + on that Wallet view the 'Set up your Wallet' screen is shown to user again.

[2019-03-21 09:27] ghost commented on #7120
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-21 09:27] ghost commented on #7117
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-21 10:06] churik opened #7787 "[Tests] Automate all group chat tests"
Rethink and automate group chat tests from C3999 to C4004 in https://ethstatus.testrail.net/index.php?/suites/view/48

[2019-03-21 11:06] #7549 closed, assigned to rasom

[2019-03-21 11:14] churik opened #7788 "After deleting custom mailserver can save new custom mailserver with <no value>"
### Description
_Type_: Bug
_Summary_: when custom mailserver is added and deleted, after tapping on + again details of removed mailserver are shown. At attempt to connect to it "Warning! Connect to `<no value>`?" is shown, and if you choose "Confirm" > empty mailserver is shown in the list.

#### Expected behavior
no values are are preserved

#### Actual behavior
Can see all details of deleted ma

[2019-03-21 12:02] #7764 closed, assigned to flexsurfer

[2019-03-21 12:41] #7779 closed, assigned to cammellos

[2019-03-21 12:44] #5695 closed, assigned to yenda

[2019-03-21 13:19] pedropombeiro opened #7792 "Share /nix/store with host so that each job doesn't need to fetch the whole Nix store contents"
# Problem

The /nix/store folder should be mapped as a volume onto the Jenkins Docker image so they can be shared across builds.

Carry-over from https://github.com/status-im/status-react/pull/7506

[2019-03-21 13:21] pedropombeiro opened #7793 "Share Android SDK as a Docker volume in Android CI builds"
# Problem

Currently the Android SDK is being downloaded on every single build.

Carry over from https://github.com/status-im/status-react/pull/7506

[2019-03-21 13:22] pedropombeiro opened #7794 "Ensure nix-cache.status.im is used in NixOS"
# Problem

nix-cache.status.im is not being used in NixOS;

Carry over from https://github.com/status-im/status-react/pull/7506

[2019-03-21 13:23] pedropombeiro opened #7795 "Patch Android NDK binaries to use Nix's ld interpreter and Nix dependencies"
# Problem

We need to do this so that it can run on NixOS (ideally just build from source)

# Implementation

Ideally we should use Android SDK and NDK from nixpkgs, but if not feasible short-term, we should try to just build NDK from source.

Carry-over from https://github.com/status-im/status-react/pull/7506

[2019-03-21 14:41] #7752 closed, assigned to rasom

[2019-03-21 15:12] annadanchenko commented on #7726
@siphiuel to summarise expected fixes for Desktop:
1. add possibility to add a custom mailserver and switch to it (also remove it)
2. add possibility to enable bootnodes and add a custom bootnode (also remove it)
3. fix #7430

[2019-03-21 15:23] vkjr commented on #7726
@siphiuel, thanks for taking care about this!
(I'm on vacation till 30th March)

[2019-03-21 15:33] #7579 closed, assigned to cammellos

[2019-03-21 15:39] ghost commented on #5297
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-21 15:39] ghost commented on #5836
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-21 15:56] bitsikka opened #7799 "chat does not scroll if touch starts on top of datemark"
# Problem

In mobile, in any particular chat with messages, if you touch on the datemark separator(e.g. "Today", "Yesterday") while beginning to scroll - it doesn't scroll.

# Solution

Make the root view of status-im.ui.screens.chat.message.datemark/chat-datemark component a react/touchable-without-feedback view rather than plain react/view

PR incoming

[2019-03-21 16:13] #7776 closed, assigned to flexsurfer

[2019-03-21 16:14] annadanchenko commented on #7799
@bitsikka thank you!
can reproduce both on iOS and Android on today's nightly build

[2019-03-21 17:02] pbteja1998 commented on #5654
Hi @Serhy Can you help me in setting up the codebase locally and point me where the relevant code is?

Till now I followed the instructions in [this link](https://status.im/build_status/). Everthing installed successfully.

I want help with how to start the app? and it would also be helpful if you can point me to the relevant code related to this issue?

Thanks.

[2019-03-21 17:02] pbteja1998 commented on #5654
Also, can you please approve me to work on this issue?

[2019-03-21 17:57] krisc commented on #7204
@jeluard I need clarification on exactly what the new extension event you want. I noticed that there is already an extension event `extensions/ethereum-sign`. How would this new one differ?

From what I understand, the new event would be analogous to [`eth-sign`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sign), where the parameters to the extension event would be the address and message,

[2019-03-22 03:32] eswarasai commented on #3585
@hesterbruikman -- Any update here?

[2019-03-22 04:31] yenda commented on #3585
@eswarasai as you pointed out the semantics of deleting a contact are complex in this scenario. I think the best solution is to wait for my PR introducing system-tags to be merged https://github.com/status-im/status-react/pull/7805
Deleting a contact would mean removing the  :contact/added tag in that case

[2019-03-22 05:22] eswarasai commented on #3585
@yenda -- Thanks for the update. That makes sense to me and please do keep me posted once the PR is merged so that I can take this one forward :)

[2019-03-22 07:56] jakubgs commented on #7750
I believe the faucets are up and running now:
[code]
I will be removing the old hosts on Scaleway that we used to use and which IPs are listed in this issue. Please use the DNS names from now on.

[2019-03-22 07:56] #7750 closed, assigned to nobody

[2019-03-22 08:01] jeluard opened #7806 "Chat messages not correctly ordered"
### User Story

As a user, I want to see messages ordered by their timestamp

### Description

*Type*: Bug

![Image-1](https://user-images.githubusercontent.com/359723/54808619-0df28300-4c81-11e9-9cfe-b8a0b61fa30c.jpg)

[2019-03-22 08:06] jeluard commented on #7806
Just after the message disappeared

![Image-1 (1)](https://user-images.githubusercontent.com/359723/54808867-c8828580-4c81-11e9-9cd7-d1f3f0185c32.jpg)

[2019-03-22 08:26] cammellos commented on #7806
@jeluard timestamps cannot be used for ordering messages, as they don't give us enough guarantees (for a rationale https://github.com/status-im/status-react/blob/cfcfa01a64ed88b8e01e10b859e316c8de7d11c8/src/status_im/utils/clocks.cljs#L4 ), so it's generally ok to see out-of-order timestamps and does not necessarily 'indicate a bug.

For the specific issue, this is a known behavior, if a user post

[2019-03-22 08:34] jeluard commented on #7806
Ok I understand the technical limitations you are mentioning (under our current messaging architecture) now as a user I find that pretty concerning.

Really depends on the perspective :)

Maybe it would be worth having some page describing those behaviors and stating they are known limitations.

[2019-03-22 08:36] #7806 closed, assigned to cammellos

[2019-03-22 08:37] cammellos commented on #7806
@jeluard good idea, feel free to create one, it's a good way to get acquainted with this part of the codebase and understand the nuances of the implementation!

[2019-03-22 08:47] jeluard commented on #7806
@cammellos More talking of user expectations, not implementation.

Sounds like you are the one with that knowledge? I'd love to have a FAQ listing those limitations that random users (me?) are probably not aware of.

[2019-03-22 08:55] cammellos commented on #7806
I would expect you (and everyone else in the team of course) to have that knowledge of a fundamental part of the system and distributed p2p systems in general, as you are not really a random user, but a core developer :) , so that if there's anything to fix , anyone is able to at least understand the basics.

I am happy to assist if you have any question, but I think strong ownership is to be avoi

[2019-03-22 10:50] annadanchenko opened #7810 "Can't launch Status app on Windows - error "Qt5Core.dll was not found""
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Installed Windows nightly build https://status-im.ams3.digitaloceanspaces.com/StatusIm-190322-025900-cfcfa0-nightly.exe if launch installed app

[2019-03-22 11:23] #7681 closed, assigned to rasom

[2019-03-22 11:48] annadanchenko opened #7812 "[Wallet] No loading indicator if pull to refresh on main Wallet screen [ios only]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: There is no loading indicator if pull to refresh on main Wallet screen - just white space is shown

#### Expected behavior
[comment]: # (Describ

[2019-03-22 12:11] rasom commented on #4935
I propose to remove selection of "Network chain" from that screen and request network-id using RPC. While request is performing we can show activity indicator, if it fails  we show an alert which states that network can't be added.

As an alternative we can keep "Network chain" selection and compare it with the one we requested by the url, and in case if request failed or resulting id is not the s

[2019-03-22 12:12] rasom commented on #4935
Although we can check if saved network id corresponds to selected one when the network is actually started.

[2019-03-22 13:26] #7774 closed, assigned to yenda

[2019-03-22 13:31] #7810 closed, assigned to pedropombeiro

[2019-03-22 14:06] #7793 closed, assigned to pedropombeiro

[2019-03-22 16:00] Serhy commented on #5654
@StatusSceptre could you please approve @pbteja1998 for work on this issue?

@pbteja1998 I think this is the place from where you can start looking on the issue: https://github.com/status-im/status-react/blob/496f3f1cc78703c3d629f9f458a0e966b04e5c61/src/status_im/chat/commands/impl/transactions.cljs#L190
Where have you stopped in setting up the environment?
For me works successfully setting up app

[2019-03-22 16:18] pbteja1998 commented on #5654
@Serhy Genymotion is a paid product, isn't?

[2019-03-22 16:28] Serhy commented on #5654
@pbteja1998 They have 'Trial' option to use
Well it's not the only way you can set up an app. You can go with any of:

[code]

[2019-03-22 17:09] bitsikka opened #7819 "avoid series of effects involved in start-public-chat if re-adding already active chat"
# Problem

If a user re-joins a public chat that she already joined, currently the process of series of effects involved in starting a fresh public chat is triggered unnecessarily. Instead the app should avoid it by simply navigating to the already active chat.

While, on the surface, this does not change anything for users in general, once PR #7454 is merged, not having this will cause visual inc

[2019-03-22 17:37] Serhy opened #7821 "'Wallet set up screen' shown if close 'Send transaction' screen from 1-1 chat"
***Type***: Bug

***Summary***: When user decides to close 'Send transaction'  screen initiated from 1-1 chat he always redirected to 'Set up your Wallet' screen with 3-word phrase. Even if Wallet had been set up before `/send` message is sent.

#### Expected behavior
User appears on chat screen if he close 'Send transaction' screen initiated from 1-1 chat

#### Actual behavior
User appears on 'Se

[2019-03-22 17:41] Serhy commented on #7190
For the https://github.com/status-im/status-react/issues/7190#issuecomment-472346566 separate issue created https://github.com/status-im/status-react/issues/7821

#7821 chosen to be fixed before release. This issue is very similar to #7821 - marked with `release` too

[2019-03-22 19:59] alexanmtz commented on #7104
So @jeluard , this should be enough to run a app without issues?