[2018-01-29 10:30] Serhy opened #3161 "'Invalid URL: should be a string. Was: null' error is shown upon tap 'Open on etherscan.io' for unsigned transaction"
***Type***: Bug

***Summary***:
1) `Invalid URL: should be a string. Was: null` error is shown upon tap on 'Open on Etherscan.io' for unsigned transaction's 'Transaction details' screen.
2) 'Not applicable for unsigned transactions' value has copied upon tap on 'Copy transaction hash' option for unsigned transaction's 'Transaction details' screen.

#### Expected behavior
To not show 'Open on Ether

[2018-01-29 12:26] annadanchenko opened #3163 "Remove phone command from Console, consider update from previous version and infrustructure"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
1. Remove phone command in Console because we removed it in the profile and will not support in beta. Currently, text message to confirm num

[2018-01-29 16:55] joedooley commented on #3041
Seems like a good first issue. Mind if a give it a go? Thanks

[2018-01-29 19:03] pedropombeiro commented on #3096
I ran into the same issue. Didn't happen right after 5 minutes wait, but consistently did after 10 minutes. It looks like this might be due to the app getting suspended and not resumed correctly (maybe some logic missing in that situation), but can't tell for sure.

[2018-01-29 20:20] #2963 closed, assigned to rasom

[2018-01-29 20:34] andytudhope commented on #3041
Yeah absolutely @joedooley!! Looking forward to that PR 🎉

[2018-01-29 22:00] feuGeneA commented on #2965
@oskarth  , I took a quick stab at trying to correlate @JekaMas ' results above with @churik 's results in #2931 .  In short, I didn't find much of a correlation.

I made the following assumptions:
- churik had whisper enabled, implying her data should be compared to Jeka's "With whisper" data.
- churik's data consumption numbers are a sum of both receive and transmit totals.
- churik's "chatting

[2018-01-30 07:32] ghost commented on #2594
is this deprecated by #3164 of #3007 ?

[2018-01-30 08:08] flexsurfer commented on #3008
introduced here https://github.com/status-im/status-react/issues/3005

[2018-01-30 08:17] ghost opened #3166 "npm install stuck on fresh install of Ubuntu 17.10.1 or Linux Mint 18.3"
### Description
after cloning the repository and running `scripts/setup` it is stuck in npm install (high cpu load for like 6 hours without progress).
Wiki provided workaround (downgrade to npm@5.5.1) did not help.

### Reproduction
- install new Ubuntu 17.10.1 or Linux Mint 18.3
- clone repository
- run `scripts/setup`
- observe it stuck in `npm install`

[2018-01-30 10:11] marcusdworm commented on #1885
hi, my current build is 1.7.3 and I am getting the same error:

Error: intrinsic gas too low
    at web3.js:3143:20
    at web3.js:6347:15
    at web3.js:5081:36
    at web3.js:3021:24
    at <anonymous>:1:23

Note: I'm trying to run the contract is private network.
May I know how you guys fixed the error?

[2018-01-30 11:33] mandrigin commented on #3080
The patched version of `re-frame` (WIP): https://github.com/mandrigin/re-frame/tree/igorm/re-frame-perf-metrics

It is possible to set it up to your local Maven repo with `lein install`.
Then tweak the dependency in `project.clj` -> `[re-frame "0.10.2-igorm"]`.

The values are hard-coded there: 300ms for throughput, 100ms for an item, 100 items in the queue.
I'll continue working to both tweak the

[2018-01-30 12:33] flexsurfer commented on #2594
@audriu yes, we decided to remove this functionality and review it later

[2018-01-30 12:33] #2594 closed, assigned to nobody

[2018-01-30 13:33] annadanchenko commented on #3005
as discussed: Refresh functionality is out of scope in this PR.
Other features seem to be ok: can open url from chat, can Open url from "Start new chat" screen, can open DApp. Full browser screen is shown. If use links inside page then can open other pages and use <- and -> to navigate back and forward. Sometimes if tap on line in ios then it's opened in Safari (known https://github.com/status-im/

[2018-01-30 14:06] HofmannZ opened #3170 "null is not an object (evaluating 'e.schema')"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to add an additional account so that I can keep my assets separate.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happ

[2018-01-30 14:40] #3005 closed, assigned to flexsurfer

[2018-01-30 15:49] #3136 closed, assigned to nobody

[2018-01-30 15:50] yenda commented on #3081
@annadanchenko can we close this then ? It is currently in merge column but that's an issue and the related PRs are merged

[2018-01-30 17:12] annadanchenko opened #3172 "Can return to Home after log out if tap device back button [android]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: After user taps on log out it's still possible to return to Home and see chats if tap on device back button. It should not be possible. To see H

[2018-01-31 03:50] grishick opened #3174 "getting "web3 is not defined" error in webview on Android"
I am loading my DApp in webview on Android and getting error "web3 is not defined". This works fine on iOS, but latest playstore build for Android does not seem to inject web3.

[2018-01-31 08:21] annadanchenko commented on #3174
I've tried Status app from PlayStore (version 0.9.13) and can use Dapp Auction House to register name/send transaction. I also can send web3.eth.blockNumber in Console and get current block number. @grishick can you share your DApp url or provide more details, please?

[2018-01-31 09:29] annadanchenko opened #3175 "Accents characters (è, ù) in webview are shown as question marks [Android]"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Only on Android: accents characters (è, ù) are shown as question marks on webpages if opened in Status app. Same pages if open on same device via

[2018-01-31 09:40] status-open-bounty commented on #3175
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x5f7195c29c3e507ae053f2561fa0521b0417e42422483a3bac69ff3c38e75d7c](https://etherscan.io/tx/0x5f7195c29c3e507ae053f2561fa0521b0417e42422483a3bac69ff3c38e75d7c)

[2018-01-31 09:46] Serhy opened #3176 "icon_public-chat and icon_group-chat on Home screen view are not aligned with chat name text"
***Type***: Bug

*Summary*: The icon_public-chat and icon_group-chat on Home screen view are not aligned with the respective chat name. Additionally, on Android the icon_group-chat looks cut off.
The icon alignment should be made for both Android and iOS.

Android current view:
![screenshot_20180131-114801](https://user-images.githubusercontent.com/8749671/35616188-2f373240-067d-11e8-8f5f-fd6c68c1

[2018-01-31 10:26] alishaukat opened #3177 "Wallet shows "Error loading data" when you use internet behind http/https proxy."
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to <task> so that <goal>.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: <Bug|Feature>

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections be

[2018-01-31 11:30] Serhy opened #3178 "Back button doesn't work on 'New group chat' screen"
***Type***: Bug

***Summary***: Nothing happens when I tap `<` Back button on the 'New group chat' screen with the list of contacts to add.
Note: it's works fine for 'Join public chat' and 'Add new contact' screen. And the bug is not present in 0.9.13 release.

#### Expected behavior
I navigate back to 'Start new chat' when I tap `<` Back button on the 'New group chat' screen

#### Actual behavior

[2018-01-31 12:08] Serhy opened #3180 "No italic font in messages in 1-1, group and public chats for text wrapped up in tildes [iOS]"
***Type***: Bug

***Summary***: Text wrapped up in tildes not displayed with italic font style in 1-1 chat, group and public chats for iOS.
It's all fine for Android and text in message bubbles like `~ItalicText~` -> displays as _ItalicText_

#### Expected behavior
Text in message bubble wrapped up in tildes displayed with italic font style in 1-1, group and public chats on iOS

#### Actual behavi

[2018-01-31 12:43] oskarth commented on #3170
Possible duplicate: https://github.com/status-im/status-react/issues/3069

[2018-01-31 13:09] HofmannZ commented on #3069
The same bug also occurs on an iPhone 8 Plus

[2018-01-31 13:10] HofmannZ commented on #3170
Please update the effected devices on #3069 and consider this issue closed.

[2018-01-31 13:11] Serhy opened #3181 "Empty suggestion window stays on screen upon entering non-existing command in 1-1/group/public messagebox"
***Type***: Bug

***Summary***: Empty suggestion window stays on screen upon entering non-existing command in 1-1/group/public messagebox.

#### Expected behavior
Empty suggestion window hides on screen upon entering non-existing command in 1-1/group/public messagebox

#### Actual behavior
Empty suggestion window stays on screen upon entering non-existing command in 1-1/group/public messagebox
![i

[2018-01-31 13:21] yenda commented on #3172
I will fix this one, I see @foopang made a PR for it but we will need a broader fix, we should get rid of accounts/accounts key in app-db and wipe the whole app-db on logout.

[2018-01-31 13:43] foopang commented on #3172
@yenda I am closing my PR then if you fix. Thanks!

[2018-01-31 14:22] goranjovic commented on #3141
Adding `list-selection` to the "to skip" list

[2018-01-31 16:45] grishick commented on #3174
@annadanchenko thanks for looking into this. Here is the code for my dapp https://github.com/grishick/turnsypwa/tree/develop, and here it is deployed: https://goo.gl/7Cu59M. I can see it load fine in Status on my iPhone 5SE, but on Android (Samsung J2) I get "web3 is undefined" error.

[2018-01-31 16:48] grishick commented on #3174
here's the error report from my ionic dashboard:

Exception Detail:
[code]

at v.initAccount (providers/ethnetwork/ethnetwork.ts:103:11)
[code]

at ? (pages/friends/friends.ts:54:27)

[code]

[2018-01-31 16:56] grishick commented on #3174
I see that auction house works on my Android as well. Any idea what I am doing wrong?

[2018-01-31 18:59] yenda commented on #3166
I had the same problem Saturday, have you tried restarting your computer ? My problem was lack of ram

[2018-02-01 00:42] grishick commented on #3174
strangely, this works in Toshi Dev on Android just fine. Only the Status webview gives me this trouble

[2018-02-01 07:04] flexsurfer opened #3185 "Introduce "new chat" screen"
![image](https://user-images.githubusercontent.com/11790366/35666719-1f3968a8-073c-11e8-889e-fb68d91da799.png)

[2018-02-01 08:46] hanwencheng commented on #3013
working on it, will send the PR soon.

[2018-02-01 08:50] goranjovic opened #3187 "Fix i18n pluralization rules for all languages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want plurals to be displayed correctly for my language

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: The i18n library we are using supports label pluralization and will display a different text depending on the value of `count` parameter. However, the ru

[2018-02-01 08:55] yenda opened #3188 "Backup contacts feature before dropping migration in alpha"
As a user I would like a backup feature for contacts so that I can save them before updating to a breaking version of Status.

As a developper I want to speed up development speed in alpha which can be achieved by dropping migration. Since it will imply loss of db for users they should be able copy their list of contact in text format with one contact and its address coma separated per line.

[2018-02-01 12:25] Serhy opened #3189 "java.lang.RuntimeException: Could not invoke Status.sendWeb3Request app crash after log in with deleted 1-1 chat (100+ messages) (Android)"
***Type***: Bug

***Summary***: App crashes after 1 minute log in into account where deleted 1-1 chat (with 150 messages) and group chat (with 50 messages) were present before re-login.
Happens on Android.
I could not reproduce it on iPhoneX with the same dataset.

#### Expected behavior
No crash after log in to account and stay on Home screen for 1-2 minutes if there were deleted chats (with 100+

[2018-02-01 12:27] #3037 closed, assigned to nobody

[2018-02-02 07:25] oskarth commented on #2699
Removing myself as I'm not currently working on this.

@PombeirP We do (test pre_receiver), but it (1) assumes a certain key field is present (2) only partially simulates reality. So things can certainly be improved in this area.

[2018-02-02 07:30] alwx commented on #3178
I already fixed it here: https://github.com/status-im/status-react/pull/3173

[2018-02-02 08:11] goranjovic commented on #3157
This one is no longer reachable after a PR by @flexsurfer  There is no chat with dapps, so no way to reach the profile.

[2018-02-02 08:13] #2972 closed, assigned to janherich

[2018-02-02 08:25] annadanchenko commented on #2448
related issue? In wallet -> Send transaction. If type 0.00000055 then amount is converted to 0. Note that after typing 1st "5" amount becomes 5e-7 and when type second "5" amount becomes 0. So user can't send 0.00000055 from wallet (or any other small sum)

[2018-02-02 08:59] ghost commented on #3166
Restarting the computer - sounds like very windows-ish solution :D I tried rebooting :)
Actually of all things I have googled - one thing worked: to use "yarn install" instead of "npm install".

[2018-02-02 08:59] #3166 closed, assigned to nobody

[2018-02-02 08:59] audriu commented on #3166
Do you think I am putting it to the wiki?

[2018-02-02 09:20] hesterbruikman commented on #2448
Ouch, yes, especially on release people might try such small amounts when they are exploring the app. @jeluard where are we on this issue? Can you move forward or do you need alternative design solutions?

[2018-02-02 11:29] dmitryn commented on #3174
Just tested sample DApp on Android emulator (genymotion) - it works fine for me.

<img width="1232" alt="screenshot 2018-02-02 14 23 22" src="https://user-images.githubusercontent.com/23836/35730899-d8793166-0824-11e8-9c72-e65a0304d500.png">

But i see errors loading "Turnsy" DApp

<img width="1235" alt="screenshot 2018-02-02 14 27 17" src="https://user-images.githubusercontent.com/23836/35731028-

[2018-02-02 11:47] jeluard commented on #2448
@annadanchenko Is that for a specific token?
@hesterbruikman Thanks I think we have enough information to fix that for now!

[2018-02-02 11:48] oskarth opened #3193 "Script to measure bounties issued over time period"
### User Story

As a dev interested in improving monthly active contributors, I want to see and encourage people who post bounties.

As a dev interested in posting more bounties, I want to see how I'm doing over time so I feel incentivized to post more bounties.

### Description

*Type*: Feature/Tooling

*Summary*: Write a script that outputs a CSV to STDOUT with format something like `PERIOD, GIT

[2018-02-02 11:51] oskarth commented on #3193
Might be small one, not sure.

[2018-02-02 12:08] oskarth opened #3194 "Script to measure active contributors over time"
### User Story

As a dev interested in improving monthly active contributors, I want to measure it to see how we are doing. See https://wiki.status.im/Status_Organisational_Design#Goals_of_Organisation

### Description

*Type*: Feature/Tooling

*Summary*: Write a script that outputs a CSV to STDOUT with format something like `PERIOD, GITHUB_NAME, COMMITS*`. This will later be used in a spreadsheet

[2018-02-02 13:06] mandrigin commented on #3194
There are https://github.com/arzzen/git-quick-stats or `git-fame` that do similar things.

<blockquote><img src="https://avatars0.githubusercontent.com/u/6382002?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/arzzen/git-quick-stats">arzzen/git-quick-stats</a></strong></div><div>git-quic

[2018-02-02 14:00] dmitryn commented on #3174
Seems like JS from https://github.com/status-im/status-react/blob/7e78acc0cc492951e299b73c83eb0b78d067275d/src/status_im/ui/screens/browser/views.cljs#L86-L88 not getting loaded for Turnsy DApp.

It relates to the way how we inject JS into webview https://github.com/status-im/react-native-webview-bridge/blob/master/android/src/main/java/com/github/alinz/reactnativewebviewbridge/WebViewBridgeManage

[2018-02-02 14:03] #3076 closed, assigned to nobody

[2018-02-02 16:25] Serhy opened #3196 "Not aligned 'Share' icon, no shadow on app top bar, contact name is not in bold - on QR code screens"
***Type***: Bug

***Summary***: There are UI issues on both public key and address QR code screens:
1) ~On **iOS and Android** there is a black status bar~ (moved into separate issue #3227)
2) On Android only there is no shadow at the bottom line of app top bar
3) On iOS only the 'Share' icon should be aligned to the right to 12px
4) On iOS only - the contact name is not in the bold font style

**

[2018-02-02 16:56] status-open-bounty commented on #3194
Balance: 0 ETH
Tokens: SNT: 450.00
Contract address: [0x3fb20e7adab0c23e26624d4bc739e2fd5bcfaadb](https://etherscan.io/address/0x3fb20e7adab0c23e26624d4bc739e2fd5bcfaadb)
Network: Mainnet
Paid to: pablanopete
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-02 16:57] status-open-bounty commented on #3193
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xbc14001ac6ef0c7c290aa1b2fbc71e043a5c1731bfaf53da338b01d492bc62e4](https://etherscan.io/tx/0xbc14001ac6ef0c7c290aa1b2fbc71e043a5c1731bfaf53da338b01d492bc62e4)

[2018-02-02 17:09] status-open-bounty commented on #3187
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xf10223e66b72f26102d6528af0d9695c656ac72f5db90e8dbb2c875fc58e1dde](https://etherscan.io/tx/0xf10223e66b72f26102d6528af0d9695c656ac72f5db90e8dbb2c875fc58e1dde)

[2018-02-02 17:15] status-open-bounty commented on #3145
Balance: 0.000000 ETH
Tokens: SNT: 225.00
Contract address: [0x2f825461003745235c41b1b8ca31dd80ad29ee7e](https://etherscan.io/address/0x2f825461003745235c41b1b8ca31dd80ad29ee7e)
Network: Mainnet
Paid to: hanwencheng
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-02 17:27] #3067 closed, assigned to nobody

[2018-02-03 22:30] #2294 closed, assigned to yenda

[2018-02-04 12:38] Serhy opened #3199 "Text markup displayed on home screen when message formatted with asterisks or tildes"
***Type***: Bug

*Summary*: Text of message is not formatted accordingly on home screen when message in chat (1-1 / group / public) sent wrapped up with asterisks (`*`) or tildes (`~`)

#### Expected behavior
Text of message formatted on home screen in **bold**/_italic_ font when message in chat sent wrapped up with asterisks (`*`) or tildes (`~`)

#### Actual behavior
Text of message is not forma

[2018-02-04 12:57] Serhy opened #3200 "Emoji displayed in message box when request/send commands used in group chats for username having emoji short code"
***Type***: Bug

***Summary***: Emoji displayed in message box when request/send commands used in group chats for username having emoji short code. No need to decode any text in username in message box if it has emoji short codes (e.g. of such usernames: `ETH :smile:`, `:ok:`, `:s: :t: :a: :t: :u: :s:`)

#### Expected behavior
Original username displays in message box when request/send commands us

[2018-02-04 13:39] Serhy opened #3201 "Cursor in chat name and keyboard keep stay upon tap 'Save' button on 'Chat settings' screen when editing chat name"
***Type***: Bug

***Summary***: There is no indication to user that chat name has been edited on chat settings screen: after edit chat name and tap save, - keyboard stays open, save button disappears and user stay on the same screen thinking that nothing happened, but chat name has been changed under the hood.

#### Expected behavior
No cursor with keyboard upon tap 'Save' button on 'Chat settings

[2018-02-04 19:36] dshulyak commented on #2965
How is it relevant to measure network traffic when account is being created?
As far as I understand it won't have any impact on it. Neither on whisper, nor on les/eth. This is just a coincidence that when the account is being created new blocks or envelopes were received by a node.

[2018-02-04 20:32] hanwencheng commented on #3064
What is the problem with current metaData solution, is there a way to reproduce the error?

[2018-02-05 07:27] flexsurfer opened #3203 "Reorganize code sources, to make it possible to use views in desktop and fiddle projects"

[2018-02-05 07:45] jeluard commented on #3064
@hanwencheng What error?

This issue is about removing the default generic behavior (most of the time incorrect) and replace it with per list usage `keyExtractor`.

[2018-02-05 08:21] yenda commented on #3127
@asemiankevich please test in develop it should be fixed by https://github.com/status-im/status-react/pull/3198

[2018-02-05 08:21] yenda commented on #2820
@asemiankevich please test in develop it should be fixed by https://github.com/status-im/status-react/pull/3198

[2018-02-05 09:47] flexsurfer opened #3205 "Review status-im.ui.components.chat-icon.screen and introduce one universal component for contact's "icon""
Problem:
`status-im.ui.components.chat-icon.screen` ns  out of date and can be simplified

Introduce components in ui ns
something like `[contact-icon contact {:size 56}]` and `[chat-icon chat {:size 56}]`

https://github.com/status-im/status-react/pull/3195#discussion_r165902528

[2018-02-05 09:55] flexsurfer opened #3206 "Introduce common styles for labels"
Problem: We have a lot of duplication in styles for text components

Introduce common styles , and use these styles for all text components in code

https://github.com/status-im/status-react/pull/3195#discussion_r165903231

[2018-02-05 10:05] jeluard opened #3208 "Migrate off MenuContext"
### User Story

As a developer, I want to use patterns defined by design team

### Description

*Type*: Feature

`menu-context` have been deprecated in favor of `list-selection`. Make relevant changes.

Note: `MenuContext` is deprecated and triggers some noisy messages.

[2018-02-05 11:00] jeluard commented on #3157
@goranjovic Shall we close this?

[2018-02-05 11:01] goranjovic commented on #3157
Yeah, let's close it.

[2018-02-05 11:01] #3157 closed, assigned to nobody

[2018-02-05 11:21] wangfangc opened #3209 "The development server returned response error code:404"

[2018-02-05 11:34] status-open-bounty commented on #3139
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x061f7e7db956d1d8bb26bf33007eaf0ff52d6941](https://etherscan.io/address/0x061f7e7db956d1d8bb26bf33007eaf0ff52d6941)
Network: Mainnet
Paid to: rcullito
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-05 11:41] status-open-bounty commented on #3206
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x26c661bd04c2f74c259cf32cd6ee69b7d467a3153ecc5bedc85e33a3a6d06b24](https://etherscan.io/tx/0x26c661bd04c2f74c259cf32cd6ee69b7d467a3153ecc5bedc85e33a3a6d06b24)

[2018-02-05 11:42] status-open-bounty commented on #3205
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x9b5733c1e3afbf8aa44df5e5e4fec4f19202587a0a7f67c66f36ae7e72841ee4](https://etherscan.io/tx/0x9b5733c1e3afbf8aa44df5e5e4fec4f19202587a0a7f67c66f36ae7e72841ee4)

[2018-02-05 12:07] dmitryn opened #3210 "Replace reads from realm to reads from app-db"
### Description

Related to https://github.com/status-im/status-react/issues/3146

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

We don't want to read from Realm other than on app initialization. After app init, we already have data loaded to re-frame app-db so we can read f

[2018-02-05 12:50] dmitryn opened #3211 "[Perf] Test hypothesis 7: Use another JS thread for heavy computations"
### Identified Behavior

Sometimes view rendering is slow as main thread is occupied with heavy computations. As an example, account creation process is slow and laggy, message could appear in slow motion, etc.

### Hypothesis

Using another JS thread to do heavy computations could free main JS thread to do UI related computations (subscriptions, hiccup rendering, react diffs, etc).

### Assumptio

[2018-02-05 13:53] oskarth commented on #3205
@flexsurfer Can we please put the problem in issue as opposed to using a pointer to some comment?

[2018-02-05 13:54] oskarth commented on #3206
Same here, not clear what acceptance criteria is

[2018-02-05 14:29] asemiankevich opened #3213 "Reset to default and Done buttons are missing on Gas settings screen"
### Description

*Type*: Bug

*Summary*: `Reset to default` and `Done` buttons are not present now on Gas settings screen.

#### Expected behavior

Please check https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5a5cfee281c5d84b3e8ad58b for UI specification

![image](https://user-images.githubusercontent.com/28752642/35809315-4e2f10f8-0a99-11e8-83c4-3dc0c9de88d1.png)

#### Actual behavi

[2018-02-05 14:49] asemiankevich opened #3214 "Question mark is missing on Gas details screen"
### Description

*Type*: Bug

*Summary*: Add `?` mark (hint) in oval as shown on the mocks below

#### Expected behavior

## Android:

![image](https://user-images.githubusercontent.com/28752642/35810259-3429f3dc-0a9c-11e8-8701-6fec0c3aa5d4.png)

![image](https://user-images.githubusercontent.com/28752642/35810285-51b644b4-0a9c-11e8-8995-8720c200b38c.png)

## iOS

![image](https://user-images.gith

[2018-02-05 14:54] oskarth commented on #3081
Closing as it appears to have been fixed in release 0.9.13 / not needed / already done in develop.

[2018-02-05 14:54] #3081 closed, assigned to janherich

[2018-02-05 15:15] #2882 closed, assigned to jeluard

[2018-02-05 15:34] jeluard commented on #3196
@Serhy Could we split status-bar issue to a separate ticket? Those will require some more global thinking.

[2018-02-05 15:45] #2408 closed, assigned to nobody

[2018-02-05 17:36] andytudhope opened #3217 "Missing value for property chat.is-active"
### User Story

As a developer, I want to be able to add DApps and bots to Status using a functional API.

### Description

*Type*: Bug

*Summary*: Added a DApp that used to work, without any changes, to the new version of Status and received an error, even though everything else works correctly and the site is accessible and functional on localhost:3000

#### Expected behavior
Add DApp to Status

[2018-02-05 17:43] hanwencheng commented on #3064
@jeluard What is the incorrect behavior? I'm trying to first figure out if there is another solution rather than explicitly defining keyExtractor. I have Checked #3061 , it seems can not be tested in local environment, i.e. how to initialize a group chat? is there any mock address for anyone else except Jarrad?

[2018-02-05 17:51] jeluard commented on #3064
The incorrect behavior is due to generic `keyExtractor` so we want explicit `keyExtractor` per list. There is not issue to fix, rather style change to make sure we don't introduce subtle issues later on.

[2018-02-06 07:37] jeluard commented on #3013
@hanwencheng Would you mind sharing a screenshot of the existing implementation?

[2018-02-06 07:59] asemiankevich opened #3220 "Done button is not visible when pasting user address on iOS"
*Type*: Bug

*Summary*: There is a `Done` button on the screen where user can paste wallet address manually. This button is not visible on iOS.

#### Expected behavior
I am able to paste the address and tap Done in order to apply the changes and being redirected to previous screen. So I expect the Done button to be visible once I entered user address.

![image](https://user-images.githubuserconten

[2018-02-06 08:21] asemiankevich opened #3221 "Transaction Fee screen does not fit mocks"
### Description

*Type*: Bug

*Summary*: Adjust Transaction Fee screen to make it pixel perfect to mocks
#### Expected behavior

1. Done button is present on Gas details screen and is garded-out when no changes done
2. Done button is present and active when user has made some changes
3. Footer line is present at the bottom of the screen
4. Line and button match mocks
5. Line under header for iOS i

[2018-02-06 09:30] asemiankevich opened #3223 "Enter contact code screen does not fit mocks on iOS"
### Description

*Type*: Bug

*Summary*: Adjust the screen to match mocks

#### Expected behavior

1. Text box

![image](https://user-images.githubusercontent.com/28752642/35851376-f2855a14-0b38-11e8-8bbc-d670bb791acf.png)

2. Text alignment
![image](https://user-images.githubusercontent.com/28752642/35851363-e8eb9f72-0b38-11e8-9a59-aef9c46bfe49.png)

3. Header line

![image](https://user-images.g

[2018-02-06 10:01] jeluard opened #3224 "Open user profile when clicking on a user picture"
### User Story

As a user, I want to quickly navigate a user profile

### Description

*Type*: Feature

In a chat, I want to access a user profile when clicking a user picture

[2018-02-06 10:33] pedropombeiro commented on #3116
I wonder if this is related to the log entries we're seeing in https://github.com/status-im/status-react/issues/3096, which also happens after similar conditions are met.

[2018-02-06 11:13] status-open-bounty commented on #3126
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x781f72f5b4eea89d4ff2756e1de261b435a7e717](https://etherscan.io/address/0x781f72f5b4eea89d4ff2756e1de261b435a7e717)
Network: Mainnet
Paid to: janherich
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-06 12:03] flexsurfer opened #3226 "Introduce label component"
`[react/text {:style styles/total-balance-currency} (i18n/label :t/usd-currency)]]` - thats how we develop labels

Problems
1) noisy, because style object and i18n/label
2) impossible to search translation key usage because `:t`
3) requires `i18n/label`

Introduce label component
`[label styles/total-balance-currency :usd-currency]`
`[label :usd-currency]` - default , most usable style should be u

[2018-02-06 12:22] Serhy opened #3227 "Black status bar on QR code screens"
**Type**: Bug

**Summary**: There is a black status bar on public key QR code screen

**Android screen:**
<img width="747" alt="screen shot 2018-08-31 at 13 57 46" src="https://user-images.githubusercontent.com/8749671/44908930-0fc91900-ad26-11e8-88a3-e6450df3ddf0.png">

#### Expected behavior
White status bar on QR code screen

#### Actual behavior
Black status bar on QR code screen

### Reproduc

[2018-02-06 12:28] Serhy commented on #3196
@jeluard Done. #3227 created as separate for status-bar issue

[2018-02-06 12:35] asemiankevich opened #3229 "New home Add button does not match mocks (iOS)"
### Description

*Type*: Bug

*Summary*: New home Add button does not match mocks

#### Expected behavior

![image](https://user-images.githubusercontent.com/28752642/35859938-25719fd6-0b53-11e8-8cbb-61170ba587e7.png)

![image](https://user-images.githubusercontent.com/28752642/35859947-3057b8fe-0b53-11e8-97ad-f18f2cca7986.png)

#### Actual behavior

![image](https://user-images.githubusercontent.

[2018-02-06 13:04] jeluard opened #3230 "Implement theme support for components"
### User Story

As a developer, I want to have theme support for my component
### Description

*Type*: Feature

Most component are defined with white background in mind. Some screens (e.g. `wallets`) have dark backgrounds.

It should be possible to define themes (like `background-color`, `text-color`) that could be externally applied to whole screen without having to modify each component.

[2018-02-06 13:06] jeluard opened #3231 "Allow commands to hook with internal screens"
### User Story

As a developer, I want to be able to interact with internal screens from a command (including parameters)

### Description

The original use case is to use `/send` command in chat to simply redirect to the Wallet screen and let the user proceed from there as usual. Optionally, the parameters to the command could be used to pre-populate the Wallet screen fields.

*Type*: Feature

[2018-02-06 13:18] #3185 closed, assigned to flexsurfer

[2018-02-06 13:21] #3158 closed, assigned to flexsurfer

[2018-02-06 13:21] #3012 closed, assigned to flexsurfer

[2018-02-06 13:21] #3008 closed, assigned to flexsurfer

[2018-02-06 13:22] annadanchenko opened #3232 "Profile picture can't be set - nothing happens if select from gallery and crash if use capture"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In profile:
1. If select picture from gallery then it's not updated on profile, so sema system-generated picture is shown instead of selected pi

[2018-02-06 13:30] jeluard opened #3233 "Add token support to send commands"
### User Story

As a user, I want to send tokens from chat using `/send` command

### Description

*Type*: Feature

Currently only ETH can be used.

[2018-02-06 13:31] jeluard opened #3234 "Allow requesting token from wallet"
### User Story

As a user, I want to request tokens from wallet `request` screen.

### Description

A request sends a special chat message to the recipient. When the recipient interacts with that messages he gets a pre-populated `/send` command that allows him to easily send assets to the original sender.

Since it is not possible to send ERC20 tokens via chat at the moment, requesting them is als

[2018-02-06 13:40] status-open-bounty commented on #3116
Current balance: 0.000000 ETH
Contract address: [0x95f27acdaf1a6d730f8e2c4f6b8c284f0afc8d3e](https://etherscan.io/address/0x95f27acdaf1a6d730f8e2c4f6b8c284f0afc8d3e)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3116/cbac20fd494142f794620507b4bb1deeef3ffe6282f20ac9baadd4b6ce7f8bdc/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](htt

[2018-02-06 13:48] dmitryn commented on #3116
@PombeirP yes, you can find same log errors in TF session for device1.

[2018-02-06 13:49] dmitryn commented on #3096
Duplicate of https://github.com/status-im/status-react/issues/3116

[2018-02-06 13:49] #3096 closed, assigned to nobody

[2018-02-06 13:51] pedropombeiro commented on #3116
OK, just so we remember to close that one once this is fixed. Oh, it's been done already, good!

[2018-02-06 14:04] #2855 closed, assigned to nobody

[2018-02-06 14:08] dmitryn commented on #3126
This looks like the place we create async chan which is getting overwhelmed
https://github.com/status-im/status-react/blob/develop/src/status_im/protocol/web3/delivery.cljs#L56

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://g

[2018-02-06 14:21] dmitryn commented on #3126
@janherich is going to make PR to fix that

[2018-02-06 21:00] hanwencheng commented on #3013
Sure, here you go, on iphone 6
![simulator screen shot - iphone 7 - 2018-02-06 at 22 00 15](https://user-images.githubusercontent.com/6014309/35883888-2674a80c-0b89-11e8-842e-1bcbf5f8f5a7.png)

[2018-02-06 21:20] annadanchenko opened #3240 "Clean app DApps list, leave only working DApps"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I don't want to be confused with non-working DApps opened from Status app. So, we need to remove DApps that are no longer working in Testnet

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and

[2018-02-06 22:46] annadanchenko opened #3241 "Adjust Default Gas price to the lowest Standard instead of using hardcoded 21 Gwei"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a  user, I want to send ETH so that I do not pay high Gas price and I do not need to adjust it manually each time

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to

[2018-02-06 23:04] annadanchenko opened #3242 "Faucet command is not shown in Console for recovered account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: No faucet command is shown if recover account. Only / is shown
![screenshot_20180206-235907](https://user-images.githubusercontent.com/6584810/3

[2018-02-06 23:24] annadanchenko commented on #1303
Discover feature is removed

[2018-02-06 23:24] #1303 closed

[2018-02-06 23:24] annadanchenko commented on #697
Discover feature is removed

[2018-02-06 23:24] #697 closed

[2018-02-06 23:24] annadanchenko commented on #789
Discover feature is removed

[2018-02-06 23:24] #789 closed

[2018-02-06 23:25] annadanchenko commented on #2843
Discover feature is removed

[2018-02-06 23:25] #2843 closed, assigned to nobody

[2018-02-06 23:25] annadanchenko commented on #2635
Discover feature is removed

[2018-02-06 23:25] #2635 closed, assigned to nobody

[2018-02-06 23:25] annadanchenko commented on #2842
Discover feature is removed

[2018-02-06 23:25] #2842 closed, assigned to nobody

[2018-02-06 23:25] annadanchenko commented on #2617
Discover feature is removed

[2018-02-06 23:25] #2617 closed, assigned to nobody

[2018-02-06 23:25] annadanchenko commented on #2377
Discover feature is removed

[2018-02-06 23:25] #2377 closed, assigned to nobody

[2018-02-06 23:25] annadanchenko commented on #2305
Discover feature is removed

[2018-02-06 23:25] #2305 closed, assigned to nobody

[2018-02-06 23:26] annadanchenko commented on #2281
Discover feature is removed

[2018-02-06 23:26] #2281 closed, assigned to goranjovic

[2018-02-06 23:26] annadanchenko commented on #2306
Discover feature is removed

[2018-02-06 23:26] #2306 closed, assigned to nobody

[2018-02-06 23:26] annadanchenko commented on #2161
Discover feature is removed

[2018-02-06 23:26] #2161 closed, assigned to nobody

[2018-02-06 23:26] annadanchenko commented on #2222
Discover feature is removed

[2018-02-06 23:26] #2222 closed, assigned to nobody

[2018-02-06 23:26] annadanchenko commented on #2125
Discover feature is removed

[2018-02-06 23:26] #2125 closed, assigned to nobody

[2018-02-06 23:27] annadanchenko commented on #1350
Discover feature is removed

[2018-02-06 23:27] #1350 closed

[2018-02-06 23:27] annadanchenko commented on #1997
Discover feature is removed

[2018-02-06 23:27] #1997 closed, assigned to nobody

[2018-02-06 23:28] annadanchenko commented on #2317
Discover feature is removed

[2018-02-06 23:28] #2317 closed, assigned to nobody

[2018-02-06 23:28] annadanchenko commented on #2378
Discover feature is removed

[2018-02-06 23:28] #2378 closed, assigned to nobody

[2018-02-06 23:29] annadanchenko commented on #891
Phone command is removed

[2018-02-06 23:29] #891 closed

[2018-02-06 23:30] annadanchenko commented on #963
Phone feature is removed, so importing contacts from phone contacts is not possible anymore

[2018-02-06 23:30] #963 closed

[2018-02-06 23:30] annadanchenko commented on #1089
Phone feature is removed, so no confirmation code command anymore

[2018-02-06 23:30] #1089 closed

[2018-02-06 23:31] annadanchenko commented on #1230
Phone feature is removed

[2018-02-06 23:31] #1230 closed

[2018-02-06 23:31] annadanchenko commented on #1267
drawer is removed, not it's tab

[2018-02-06 23:31] #1267 closed

[2018-02-06 23:32] annadanchenko commented on #1342
Phone feature is removed

[2018-02-06 23:32] #1342 closed

[2018-02-06 23:33] annadanchenko commented on #1575
cant reproduce

[2018-02-06 23:33] #1575 closed

[2018-02-06 23:33] annadanchenko commented on #1657
Status field is removed

[2018-02-06 23:33] #1657 closed, assigned to nobody

[2018-02-06 23:34] annadanchenko commented on #2257
Phone feature is removed

[2018-02-06 23:34] #2257 closed, assigned to nobody

[2018-02-06 23:35] annadanchenko commented on #3069
also happens on iOhone 7 plus sometimes

[2018-02-06 23:35] #3170 closed, assigned to nobody

[2018-02-06 23:36] annadanchenko commented on #2811
Phone feature is removed

[2018-02-06 23:36] #2811 closed, assigned to nobody

[2018-02-06 23:36] annadanchenko commented on #2688
Phone feature is removed

[2018-02-06 23:36] #2688 closed, assigned to nobody

[2018-02-06 23:36] annadanchenko commented on #2485
Phone feature is removed

[2018-02-06 23:36] #2485 closed, assigned to nobody

[2018-02-06 23:37] annadanchenko commented on #1677
Phone feature is removed

[2018-02-06 23:37] #1677 closed, assigned to nobody

[2018-02-06 23:37] annadanchenko commented on #2376
Phone feature is removed

[2018-02-06 23:37] #2376 closed, assigned to nobody

[2018-02-06 23:37] annadanchenko commented on #1699
Phone feature is removed

[2018-02-06 23:37] #1699 closed, assigned to nobody

[2018-02-06 23:38] annadanchenko commented on #894
Phone feature is removed

[2018-02-06 23:38] #894 closed

[2018-02-06 23:40] annadanchenko commented on #2650
Contacts tab and groups are removed

[2018-02-06 23:40] #2650 closed, assigned to nobody

[2018-02-06 23:42] annadanchenko commented on #1420
Contacts and Discover tabs are removed

[2018-02-06 23:42] #1420 closed

[2018-02-06 23:42] #1243 closed

[2018-02-06 23:44] annadanchenko commented on #1352
Groups feature and Contacts tab are removed

[2018-02-06 23:44] #1352 closed

[2018-02-06 23:46] #2709 closed, assigned to janherich

[2018-02-06 23:47] annadanchenko commented on #2680
Location command is removed

[2018-02-06 23:47] #2680 closed, assigned to nobody

[2018-02-06 23:47] annadanchenko commented on #2980
Location command is removed

[2018-02-06 23:47] #2980 closed, assigned to nobody

[2018-02-06 23:48] annadanchenko commented on #2789
Location command is removed

[2018-02-06 23:48] #2789 closed, assigned to nobody

[2018-02-06 23:48] annadanchenko commented on #2763
Location command is removed

[2018-02-06 23:48] #2763 closed, assigned to nobody

[2018-02-06 23:49] annadanchenko commented on #2978
Location command is removed

[2018-02-06 23:49] #2978 closed, assigned to nobody

[2018-02-06 23:49] annadanchenko commented on #2979
Location command is removed

[2018-02-06 23:49] #2979 closed, assigned to nobody

[2018-02-06 23:49] annadanchenko commented on #1936
Location command is removed

[2018-02-06 23:49] #1936 closed, assigned to nobody

[2018-02-06 23:49] annadanchenko commented on #1552
Location command is removed

[2018-02-06 23:49] #1552 closed

[2018-02-06 23:50] annadanchenko commented on #2420
Location command is removed

[2018-02-06 23:50] #2420 closed, assigned to nobody

[2018-02-07 03:28] #3209 closed, assigned to nobody

[2018-02-07 06:24] antecasa commented on #3174
any update on this issue

[2018-02-07 07:27] #3145 closed, assigned to nobody

[2018-02-07 07:29] #2751 closed, assigned to nobody

[2018-02-07 09:38] annadanchenko opened #3243 "Other contact's profile needs cleanup"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If open other contact's profile from 1:1 chat (even if it's in my Contacts) that this screen is shown:
![img_2588](https://user-images.githubuse

[2018-02-07 10:03] asemiankevich opened #3244 "Can't remove participants in a group chat (iOS)"
### Description

*Type*: Bug

*Summary*: Cant remove participants from group chat when being a chat owner.

#### Expected behavior
I should have an option to remove people from chat i am administrator for

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/35910139-ac09be9e-0c06-11e8-9484-fc2d53a41c1b.png)

### Reproduction

- Open Status
- Create a group chat with s

[2018-02-07 10:43] annadanchenko commented on #3242
can;t reproduce on nightly from Feb 7

[2018-02-07 10:43] #3242 closed, assigned to nobody

[2018-02-07 10:49] asemiankevich opened #3246 "URL is opened outside Status app when clicking it in 1x1 chat"
### Description

*Type*: Bug

*Summary*: Wrong links operation in latest nightly

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior

on iOS:
- URL is opened in a browser outside the Status app when clicking it in 1x1 chat
- When i go back to Status app - I am logged out
- When I login back I can see the Browse chat on chats screen
![image](https://us

[2018-02-07 11:04] jeluard opened #3248 "Rework Contact profile details UI"
### User Story

As a user, I want a clean profile screen for user I chat with

Designs: https://zpl.io/2pxZQol (7th and 8th from left)

Type: Feature

[2018-02-07 11:07] status-open-bounty commented on #3241
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x3f9e972dcc8672d8cdd40948777f37300bcd83290e9993975812e4446ee69532](https://etherscan.io/tx/0x3f9e972dcc8672d8cdd40948777f37300bcd83290e9993975812e4446ee69532)

[2018-02-07 12:14] annadanchenko opened #3249 "Cleaned messages are shown if Clear History in group chat and relaunch app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user who cleaned the History of the chat I expect that cleaned messages will never be shown in  this chat again. New messages will be shown but old are deleted forever.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly

[2018-02-07 12:24] janherich commented on #3249
This is fixed in https://github.com/status-im/status-react/pull/3228 PR

[2018-02-07 12:25] yenda opened #3250 "Temporary remove private group chats"
It is not settled yet whether or not private group chats will be in the beta. Nevertheless we can remove them for now in order to speed up the whisper performance improvements we are working on and reintegrate private group chat later. We will keep the code for the UI but disable the acces in app and remove the code for the events.

Deadline for reintegrating private group chats if they are going

[2018-02-07 12:42] dmitryn commented on #3210
Related to https://github.com/status-im/ideas/issues/74

[2018-02-07 13:17] jeluard opened #3252 "Remove dependency on react-native-autolink"
### User Story

As a developer, I want to rely on dependency only when mandatory

### Description

*Type*: Feature

`react-native-autolink` is used in a [single place](https://github.com/status-im/status-react/blob/80fb8dde8baea957d37cdf94f0ea88f74b7c810a/src/status_im/chat/views/message/message.cljs#L142) to detect URL and give them proper styling.
This is trivial to do with a regexp, not need to

[2018-02-07 14:28] dmitryn commented on #3174
@antecasa no updates so far.

But i think this might be a direction to work on https://developer.android.com/reference/android/webkit/ServiceWorkerController.html
[code]

As far as i could tell, we need to intercept requests inside `shouldInterceptRequest` for Service Worker the same way we do with regular requests https://github.com/status-im/react-native-webview-bridge/blob/react-native-0.49/and

[2018-02-07 14:49] #3163 closed, assigned to yenda

[2018-02-07 16:23] dmitryn commented on #3055
We now occasionally get  "Number of retries for fetching peers exceed..." error. Looks like 3 retries with 300ms interval is not always enough.

[code]

[2018-02-07 16:30] annadanchenko opened #3256 "Send messages are removed from chat after upgrade"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: All messages in 1:1 and group chat for send command are removed after upgrade. They should be shown.

#### Expected behavior
[comment]: # (Descr

[2018-02-07 16:45] #3126 closed, assigned to janherich

[2018-02-07 19:46] #3246 closed, assigned to nobody

[2018-02-08 07:05] status-open-bounty commented on #3252
Balance: 0.000000 ETH
Tokens: SNT: 480.00
Contract address: [0xb64d29b5c18a4a8c5fbdbeb7df46485bc038dee6](https://etherscan.io/address/0xb64d29b5c18a4a8c5fbdbeb7df46485bc038dee6)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-08 07:06] status-open-bounty commented on #3174
Balance: 0.000000 ETH
Tokens: SNT: 1449.53
Contract address: [0x0f27ab0cbea63ba26724430062ae6a3dae722ce3](https://etherscan.io/address/0x0f27ab0cbea63ba26724430062ae6a3dae722ce3)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-08 07:33] status-open-bounty commented on #3226
Balance: 0 ETH
Tokens: SNT: 480.00
Contract address: [0xee03fd07483872937c79a99b48c6814c43d4638e](https://etherscan.io/address/0xee03fd07483872937c79a99b48c6814c43d4638e)
Network: Mainnet
Paid to: cheukyin699
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-08 07:34] status-open-bounty commented on #3223
Balance: 0.000000 ETH
Tokens: SNT: 240.00
Contract address: [0x0ed67228241801ff8270db0b3ec1958f5900db47](https://etherscan.io/address/0x0ed67228241801ff8270db0b3ec1958f5900db47)
Network: Mainnet
Paid to: dongwoo-kim
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-08 07:34] status-open-bounty commented on #3214
Balance: 0.000000 ETH
Tokens: SNT: 807.57
Contract address: [0x1ef968d03fdd187f55c36f3f705d724b97873578](https://etherscan.io/address/0x1ef968d03fdd187f55c36f3f705d724b97873578)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-08 10:24] Serhy opened #3261 "No 'Show QR'/'Copy to clipboard'/'Share' button for public key and address on user Profile [iOS]"
***Type***: Bug

***Summary***: No 'Show QR'/'Copy to clipboard'/'Share' button for public key and address on user Profile on iOS. So there is no way at the moment to get from added contact the public key or address data.
It's present on Android though.

#### Expected behavior
'Show QR'/'Copy to clipboard'/'Share' button are present for public key and address on user Profile on iOS

#### Actual be

[2018-02-08 10:26] Serhy commented on #3261
Similar (maybe with the same root cause) as https://github.com/status-im/status-react/issues/3244

[2018-02-08 10:53] #2987 closed, assigned to nobody

[2018-02-08 11:42] asemiankevich opened #3263 "App is asking an access to camera when I first open a profile screen (iOS)"
### Description

*Type*: Bug

*Summary*: App is asking an access to camera when I first open a profile screen

#### Expected behavior
Viewing user profile should not requre camera permissions. This should be called when I want to scan someone's address , so  when I want directly use the camera

#### Actual behavior

App is asking an access to camera when I first open a profile screen

![image](htt

[2018-02-08 11:44] asemiankevich commented on #3261
@Serhy this issue is not present in release candidate 0.9.14 so i will remove the label `release`

[2018-02-08 12:34] asemiankevich opened #3267 "Send / request transaction is shown as plain text on Home tab on sender device"
### Description

*Type*: Bug

*Summary*: send and request messages are shown as json on senders phone when looking at Home tab

#### Expected behavior

I want to see normal text message

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/35973038-0193f86e-0ce5-11e8-9c57-b792877fe803.png)

### Reproduction

- Open Status
- Create group chat
- Send some funds
- Go back

[2018-02-08 12:51] asemiankevich opened #3268 "Broken layout on viewing someones profile"
### Description

*Type*: Bug

*Summary*: Layout is broken when i open someones profile

#### Expected behavior

Layout is not broken

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/35973649-42d326b8-0ce7-11e8-9a0c-df4f11cb2db3.png)

![image](https://user-images.githubusercontent.com/28752642/35973751-a0c14c5a-0ce7-11e8-83af-e90e5c85a289.png)

### Reproduction

- O

[2018-02-08 13:41] denis-sharypin commented on #3093
@jeluard what options for message statuses we could have here? Sending, Sent, Seen?
and we can use a modal popup component for this right?

[2018-02-08 14:35] #3141 closed, assigned to goranjovic

[2018-02-08 14:58] jeluard commented on #3093
@denis-sharypin Good question. Maybe @rasom or @flexsurfer can give some details?

[2018-02-08 15:21] #2033 closed, assigned to janherich

[2018-02-08 15:22] #2022 closed, assigned to nobody

[2018-02-08 15:22] #1981 closed, assigned to andmironov

[2018-02-08 15:22] #1980 closed, assigned to andmironov

[2018-02-08 15:22] #1979 closed, assigned to andmironov

[2018-02-08 15:22] #1971 closed, assigned to nobody

[2018-02-08 15:22] #1947 closed, assigned to andmironov

[2018-02-08 15:22] #2883 closed, assigned to jeluard

[2018-02-08 15:22] #3042 closed, assigned to jeluard

[2018-02-08 15:22] #3220 closed, assigned to jeluard

[2018-02-08 15:23] jeluard commented on #1913
@annadanchenko Is this still relevant?

[2018-02-08 15:27] jeluard commented on #1858
@denis-sharypin @andmironov Do you have new mockups for pull to refresh with the new wallet design?

[2018-02-08 15:27] #1834 closed, assigned to nobody

[2018-02-08 15:27] #1745 closed, assigned to nobody

[2018-02-08 15:29] #2989 closed, assigned to nobody

[2018-02-08 15:33] #584 closed

[2018-02-08 15:33] #1510 closed

[2018-02-08 15:33] #1543 closed

[2018-02-08 15:34] jeluard commented on #1629
@oskarth Is that still relevant?

[2018-02-08 15:34] #1653 closed, assigned to yenda

[2018-02-08 15:34] #1654 closed, assigned to nobody

[2018-02-08 15:34] #1655 closed, assigned to nobody

[2018-02-08 15:34] #1722 closed, assigned to nobody

[2018-02-08 15:37] jeluard commented on #3021
@goranjovic Do we still have this issue?

[2018-02-08 15:38] goranjovic commented on #3021
@jeluard I think so, the difference is that Wallet gas price is hardcoded

[2018-02-08 16:30] annadanchenko opened #3269 "Replace "Ping" with "You have a new message" in push notification"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "Ping" is shown in the text of the push notification when user gets new message and Status app is not run on foreground. It's confusing as user

[2018-02-09 08:57] dmitryn opened #3271 "admin.peers() is empty"
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

#### Description
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

When app starts it connect to peers for messaging and offline inboxing. Sometimes, usually on next day in the morning , i start app in emulator and see `a

[2018-02-09 10:04] dmitryn commented on #3271
Just did one more run – admin.peers() were empty in the beginning, but ~90 seconds later after polling, one peer appeared:
[code]
And after that, app was able to request messages from that peer just fine.

[2018-02-09 10:05] adambabik commented on #3271
It looks like the time reported by the emulator is different than the time on the server. The app thinks it got a message from the future and, following the Whisper protocol, it disconnects the peers immediately. Not sure how your OS works or how the emulator works, but it looks like when the laptop goes to sleep, it stops syncing the clock (or, more likely, the emulator stops doing that) and when

[2018-02-09 10:06] adambabik commented on #3271
Oh, that would suggest that there is a reconnecting mechanism. It just probably does it every N minutes. Can you please upload the whole `geth.log`?

[2018-02-09 10:10] dmitryn commented on #3271
@adambabik
[geth.log](https://github.com/status-im/status-react/files/1710544/geth.log)

[2018-02-09 10:50] adambabik commented on #3269
At least on iOS, you can decide if the notification message is displayed immediately or only after you unlock the phone. Maybe we can at least provide who is the author of the message?

[2018-02-09 11:23] JekaMas opened #3274 "App crushes while taking a photo for profile"
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

#### Description
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

When I try to change profile photo making new one by camera the application crushes with error.

#### Steps to reproduce

- Open Status
- Open a profile
-

[2018-02-09 12:15] asemiankevich commented on #3263
I can't repro it in last nightly as well as in develop build. Closing.

[2018-02-09 12:15] #3263 closed, assigned to jeluard

[2018-02-09 12:36] Serhy opened #3275 "No 'Seen' message status on sender side if recipient seen the message being on 1-1 chat screen"
***Type***: Bug

***Summary***: Message sender does not see the 'Seen' status for the read message by recipient when 2 contacts have a 1-1 chat with each other and recipient seen the message being on 1-1 chat screen. ('Delivered' status keep stay in that case on sender side)
**Note**: in a case if message recipient received the message being **not** on 1-1 chat screen, navigating to 1-1 chat to re

[2018-02-09 13:39] denis-sharypin commented on #3244
Let's use our component for this action even it looks ridiculous with one option
![send-dropdown copy](https://user-images.githubusercontent.com/6559881/36030363-2c8274b6-0da7-11e8-8301-e294d7abd2df.png)

[2018-02-09 13:42] jeluard opened #3276 "Normalize button height"
### User Story

As a user, I want all buttons to look great

### Description

*Type*: Bug

After tests with design team it looks like the appropriate approach is to have a fixed width and text font size (i.e. no margin/padding)

[2018-02-09 13:47] feuGeneA commented on #3232
Also this after dismissing error listed in OP. Though it might help.
![ascreenshot_20180209-083441](https://user-images.githubusercontent.com/7883777/36030318-af24a084-0d74-11e8-8f2b-0049e385c2b1.png)

[2018-02-09 14:31] asemiankevich opened #3277 "Command messages are lost in console when upgrading app (0.9.13 -> 0.9.14 or 0.9.12b -> 0.9.14)"
### Description

*Type*: Bug

*Summary*:

1. no password message
2. no faucet message
3. no debug message

![image](https://user-images.githubusercontent.com/28752642/36032369-d3ca2aae-0dbe-11e8-85ec-ef3a0b928993.png)

![image](https://user-images.githubusercontent.com/28752642/36032386-e3036864-0dbe-11e8-8f1f-5a3770b8a336.png)

![image](https://user-images.githubusercontent.com/28752642/36032395-

[2018-02-09 14:36] #3208 closed, assigned to jeluard

[2018-02-09 14:39] status-open-bounty commented on #1762
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x4773f73f230fd3134bb2dc2be9d59063b8dad85a98cdb177d4531a8b1ec37bf8](https://etherscan.io/tx/0x4773f73f230fd3134bb2dc2be9d59063b8dad85a98cdb177d4531a8b1ec37bf8)

[2018-02-09 14:39] #3118 closed, assigned to nobody

[2018-02-09 15:46] denis-sharypin commented on #1858
It's quite a standard behavior. You can read about here:
iOS
https://developer.apple.com/ios/human-interface-guidelines/controls/refresh-content-controls/
Android
https://material.io/guidelines/patterns/swipe-to-refresh.html#

I believe a user should allow updating the whole screen not only part with assets.
![wallet reload](https://user-images.githubusercontent.com/6559881/36035855-7c30099a-0db8-

[2018-02-09 16:13] yevh-berdnyk opened #3278 "User removed from group chat doesn't receive message about he is deleted and group chat is renamed to Unknown"
### Description

*Type*: Bug

*Summary*: When user is removed from a group chat by the chat's admin he doesn't receive message about he was deleted. If the user is in the chat at the moment the chat's name is changed to Unknown. If he is not in the chat the chat is just removed from the list. User receives messages about he was deleted and invited if he added to the group chat again

#### Expected

[2018-02-09 16:49] denis-sharypin commented on #889
Overview
<img width="688" alt="screenshot 2018-02-09 17 42 00" src="https://user-images.githubusercontent.com/6559881/36038654-95e140e0-0dc0-11e8-9015-d0e6db3e4d2f.png">

Specs:
The label is aligned on the right side, it means when it grows it will expand to the left

Tap area: because of the tricky position of this label tap zone of a logout button should be reduced in a half
<img width="815" alt

[2018-02-09 17:14] pablanopete commented on #2704
Needed for CryptoKitties

[2018-02-09 18:52] annadanchenko commented on #3274
duplicate #3232

[2018-02-09 18:52] #3274 closed, assigned to nobody

[2018-02-09 20:48] divan opened #3280 "Update status-go on connection state changes"
### User Story

As a status-go :), I want to know when device network goes offline, switches networks, using expensive connection or on the poor quality network. I want to be notified by calling my `ConnectionChange()` API method.

### Description

*Type*: Feature
*Summary*: Implement event listener as described in https://facebook.github.io/react-native/docs/netinfo.html (example doc, feel free t

[2018-02-09 20:54] annadanchenko commented on #3006
In UI: can only check that there is no Search option in Group/public chat Settings
Discover and Contacts tabs are already removed - so can't see if search is there
Also performed upgrade on Android from 0.9.13 - works ok, no search option shown in group chat after upgrade. Can use app.

[2018-02-09 20:54] flexsurfer commented on #3280
listener implemented here https://github.com/status-im/status-react/blob/34f43e11cea8cc2cdaa1fb9c43bee3c4696286b0/src/status_im/network/handlers.cljs#L14

[2018-02-10 08:19] antdanchenko opened #3281 "Automated tests (Transactions) should be created/reworked according to sanity test cases"
### User Story
As an automation engineer I would like 'Transactions' tests to be created/reworked according to [sanity test cases](https://ethstatus.testrail.net/index.php?/suites/view/15&group_by=cases:section_id&group_order=asc&group_id=388)

### Description

- Create separate test suite with tests listed below:
  - [x] C1925 | Send transaction from Wallet screen to contact (via Recent recipient

[2018-02-10 08:28] antdanchenko opened #3282 "Automated tests (Messaging and Chat management tests) should be created/reworked according to sanity test cases"
### User Story
As an automation engineer I would like 'Messaging' and 'Chat management tests' to be created/reworked according to [sanity test cases](https://ethstatus.testrail.net/index.php?/suites/view/15&group_by=cases:section_id&group_order=asc&group_id=388)

### Description

- Create separate test suite with tests listed below:

  - [x] C1929 | Messaging in 1-1 chat: sending text message, sen

[2018-02-10 08:44] antdanchenko opened #3284 "Automated tests (Profile) should be created/reworked according to sanity test cases"
### User Story
As an automation engineer I would like 'Profile' tests to be created/reworked according to [sanity test cases](https://ethstatus.testrail.net/index.php?/suites/view/15&group_by=cases:section_id&group_order=asc&group_id=388)

### Description

- Add visual assertion to the framework, use PIL or openCV (main goal is to have an ability to compare image template with an area from the scr

[2018-02-10 08:51] antdanchenko opened #3285 "Automated tests (Sign in, DApps and browsing) should be created/reworked according to sanity test cases"
### User Story
As an automation engineer I would like 'Sign in', 'DApps and browsing' tests to be created/reworked according to [sanity test cases](https://ethstatus.testrail.net/index.php?/suites/view/15&group_by=cases:section_id&group_order=asc&group_id=388)

### Description
- Create separate test suite with tests listed below:
  - [x] C1933 | Auction house - can complete transaction
  - [x] C19

[2018-02-10 13:24] dshulyak commented on #3116
Just found this issue linked to another one that I was investigating. Application needs to re-create a filter if it wasn't used for longer than 300s. Please see https://github.com/ethereum/go-ethereum/blob/master/whisper/whisperv5/api.go#L76-L82 . That is by whisper design, used to prevent leaks of not used filters. The only thing we can do is to increase this "idle" timeout, but I doubt that it w

[2018-02-10 13:41] dshulyak commented on #3116
Also, it probably means that if app goes to sleep then all messages received by the geth node during that time won't be received by the app itself (because a filter is removed after 300s). Seems like a big issue to me).

We can disable that "cleaner", because we have only one filters consumer, and rely on status-react to always remove not used filters.

[2018-02-10 18:21] pedropombeiro commented on #3116
@dshulyak great find! I can confirm that it makes a difference, having created an Android build with the `run()` method commented out, I can keep on receiving new messages even after having left my phone alone for more than 10 minutes!

[2018-02-10 19:13] mandrigin commented on #3116
One important thing I want to point out, that `status-go` actually returned this error (filter not found).
I think we need to at least show some message if any of the web3 APIs returns an error. That would greatly simplify any debugging.

[2018-02-10 19:31] mandrigin commented on #3116
@dshulyak @PombeirP great! we can quickfix it with a patch. After that, it would be nice to upstream something that optionally disables this "garbage collection" because it isn't really compatible with any mobile use-case.
Btw, Whisper V6, does it also have this behaviour?

[2018-02-10 19:34] pedropombeiro commented on #3116
@mandrigin yeah, that was also my hope, but unfortunately the code stayed the same there.

[2018-02-11 10:22] dshulyak commented on #3116
Actually, there is an even better way to handle this without disabling a "cleaner". Whisper API provides subscription available on `shh_messages`, this subscription will create and poll filter internally every 250 ms. This way status-react doesn't have to poll `shh_getFilterMessages` in the foreground, and filter will be always open until the subscription will be explicitly closed.

Is there any r

[2018-02-11 13:53] dongwoo-kim commented on #3223
Hi @asemiankevich, I'm working on this issue.
I can understand the (1) Text box and (2) Text alignment, but (3) Header line is not clear to me.
I found that other pages in the wallet tab has no header line, although looks very similar.
Is it OK for only this page to have a header line?

[2018-02-11 20:00] payamrafiee opened #3286 "Re-login / create account failed when force closing the app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, when I force close the app and try to login again, I get this error. Please be noted that this doesn't happen every time! This happens probably 1/3 of tries.

![screen shot 2018-02-11 at 10 37 52 pm](https://user-images.githubusercontent.com/7308807/36077217-a49780ec-0f1c-11e8-8988-1651b23901c0.png)

[2018-02-12 02:19] StudioEtrange commented on #3193
Hello

So, which one to use ? In which case we should use the people who create the issue or put the bounty label on the issue ?

Can you describe more clearly the different cases please ?

[2018-02-12 03:56] rasom commented on #3093
We have `sending`, `sent`, `delivered`, `seen` atm

[2018-02-12 07:15] #1840 closed, assigned to jeluard

[2018-02-12 07:15] #2862 closed, assigned to jeluard

[2018-02-12 09:21] asemiankevich opened #3289 "Error Attempt to invoke virtual method when capturing a photo"
### Description

*Type*: Bug

*Summary*: App crashes with `java.lang.NullPointerException: Attempt to invoke virtual method 'android.hardware.Camera$Parameters android.hardware.Camera.getParameters()' on a null object reference` on Android when multitapping when capturing user picture

#### Expected behavior
no crash

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642

[2018-02-12 09:36] asemiankevich commented on #3223
Hello @dongwoo-kim the line under header for Recipient screen should be present for iOS according to the mocks attached

[2018-02-12 09:39] asemiankevich commented on #3244
closing this one as it is fixed in https://github.com/status-im/status-react/pull/3260

[2018-02-12 09:39] #3244 closed, assigned to jeluard

[2018-02-12 09:54] oskarth commented on #3194
Already solved internally. @andytudhope we can remove this one

[2018-02-12 09:54] #3194 closed, assigned to nobody

[2018-02-12 10:09] oskarth commented on #2787
See https://github.com/status-im/status-react/pull/3236

[2018-02-12 10:30] oskarth commented on #2998
@andytudhope Seems like the issue is harder than we initially thought, can we make this a medium bounty?

[2018-02-12 10:43] #3006 closed, assigned to alwx

[2018-02-12 10:44] #3232 closed, assigned to goranjovic

[2018-02-12 12:04] goranjovic commented on #3021
Related to #3288

[2018-02-12 12:15] mandrigin commented on #3116
If we update status-go to the latest `develop`, it should be fixed.
→ https://github.com/status-im/status-react/pull/3236 is the current update PR

[2018-02-12 12:42] rasom commented on #3289
can't reproduce this on Android devices, only see the next exception when press camera icon multiple times:
<img src="https://user-images.githubusercontent.com/2364994/36097242-1abc6210-1035-11e8-9c63-af8c7239d54c.png" width=320 />

[2018-02-12 12:46] asemiankevich commented on #3289
Just repro it within latest develop, using LGE - LG-H990 Android 7.0. Can reproduce the error @rasom has found too

[2018-02-12 14:09] adambabik commented on #3116
It would be great to have some insight from the status-react side because something is off. I believe it works this way:
1. When creating a filter to get messages through web3.js, a subscriber is returned which polls for messages (it's internal web3.js poller),
2. The app goes into background/airplane mode and is inactive for over 10 minutes,
3. The app goes foreground, status-go cleans up old fil

[2018-02-12 14:12] mandrigin commented on #3116
It does resume and prints messages in the logs, but it seems like the log level is off. And the polling continues.

[2018-02-12 14:19] asemiankevich opened #3292 "Prevent dApps, console and bots (?) to be added to group chat"
### Description

*Type*: Bug

*Summary*: We do not have any chat functionality with dapps for now so I dont see any reason to have them being added to group chat along with normal contacts. Currently this causes missing commands in group chat

#### Expected behavior
dapps are not in contact list when creating group chat so I am not able to add them
console should also be removed from selection
bot

[2018-02-12 14:20] adambabik commented on #3116
But how can it continue if the filter is gone? Unless this code is executed: https://github.com/ethereum/web3.js/blob/62dd77c7f43522eb568a001cf4c4df726f8efa69/lib/web3/requestmanager.js#L234-L236 which simply ignores any error...

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" heig

[2018-02-12 14:22] asemiankevich commented on #1723
duplicate of https://github.com/status-im/status-react/issues/3292 but i want to keep most recent one

[2018-02-12 14:22] #1723 closed, assigned to nobody

[2018-02-12 14:23] Serhy opened #3293 "App crashes when browsing google maps [Android]"
***Type***: Bug

*Summary*: Application crashes when browsing websites like:
- `https://www.google.com.ua/maps`
- scrolling through facebook News Feed
- surfing in status.im

The list is different and I've experienced app crash even on different websites (and on Dapps as well) - it just depends from the device. Google Maps is just nice example as per each zoom-in/zoom-out action it sends, receives

[2018-02-12 14:29] mandrigin commented on #3116
My debugger in Xcode tells me that the web3 methods are still being called. I didn't dive deep into the client-side code to figure out why.

I 100% agree with you that we need to investigate. Otherwise, it would be very hard to debug similar issues.

[2018-02-12 14:58] jeluard opened #3294 "Update etherscan URL"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to reflect etherscan API URL changes

### Description

*Type*: Bug

etherscan API URL have been [updated](https://etherscancom.freshdesk.com/support/solutions/articles/35000051806-change-of-testnet-api-service-endpoint-url). Reflect those changes in our codebase.

[2018-02-12 16:44] denis-sharypin opened #3295 "Add a timestamp to an every message"
### User Story

As a user, I want to know at what time my message was sent.

### Description

*Type*: Feature

[2018-02-12 16:50] flexsurfer commented on #3295
and was received

[2018-02-12 17:49] Serhy opened #3296 "App crashed followed by device soft reset on incoming google call on Android"
***Type***: Bug

***Summary***: App crashed followed by device soft reset on incoming google call on Android. This happened on Moto X Play real device.  Prior the incoming call UI of the application was laggy (> 5 seconds delays between screen updates), contact could answer the phone but UI was slow. After about 10 seconds complete freeze of UI, call dropped and soft reset (Google UI blanks out on

[2018-02-12 17:57] #2719 closed, assigned to denis-sharypin

[2018-02-13 00:57] rasom commented on #3289
https://github.com/react-native-community/react-native-camera/issues/1173

[2018-02-13 08:46] status-open-bounty commented on #3280
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0x977f91726b5f938ef07764c8168a0b5c57089764](https://etherscan.io/address/0x977f91726b5f938ef07764c8168a0b5c57089764)
Network: Mainnet
Paid to: rasom
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-13 08:47] status-open-bounty commented on #3221
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8b9eee13517ac85d527038f1b2d93d26ecf41bdc221cb34c6fe2c0105a88616f](https://etherscan.io/tx/0x8b9eee13517ac85d527038f1b2d93d26ecf41bdc221cb34c6fe2c0105a88616f)

[2018-02-13 09:04] status-open-bounty commented on #3230
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x80bed170094cedcec0f0fea609c5e92dc9c7cd7958bac9c8c92703acef657c6e](https://etherscan.io/tx/0x80bed170094cedcec0f0fea609c5e92dc9c7cd7958bac9c8c92703acef657c6e)

[2018-02-13 09:04] status-open-bounty commented on #1858
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0xb9f2e804f8977f418304b3f59734b8b114760ab4](https://etherscan.io/address/0xb9f2e804f8977f418304b3f59734b8b114760ab4)
Network: Mainnet
Paid to: jeluard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-13 09:05] status-open-bounty commented on #3229
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0x2465ba86150fb8e2a64c5631fee545dad588b5e5](https://etherscan.io/address/0x2465ba86150fb8e2a64c5631fee545dad588b5e5)
Network: Mainnet
Paid to: KatieStarks
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-13 09:11] asemiankevich commented on #3089
adding fix-them-all label as this is annoying bug that fails our autotests

[2018-02-13 09:21] asemiankevich opened #3300 "Error No protocol method IDeref.-deref defined for type undefined: shown when selecting recipient"
### Description

*Type*: Bug

*Summary*: Error `No protocol method IDeref.-deref defined for type undefined:` when selecting recipient

#### Expected behavior

I want to be able to select recipient

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/36142112-2770e96c-10b8-11e8-9606-98a4c7de4158.png)

### Reproduction

- Open Status
- Tap wallet -> send
- Tap select re

[2018-02-13 09:59] annadanchenko commented on #3240
@rasom re-checked the DApps list and more should be removed:
- Ethcro does not load on iOS,
- Augur - can’t connect account from Status,
- Maker Market - when open in Status says Not Connected to Ethereum.

[2018-02-13 10:02] rasom commented on #3240
ok, thanks

[2018-02-13 11:05] asemiankevich commented on #3300
Branch: PR-3302
Android: https://i.diawi.com/sbCJWG
iOS: https://i.diawi.com/bTpSVX

[2018-02-13 11:10] #3213 closed, assigned to jeluard

[2018-02-13 11:39] asemiankevich commented on #3300
removed the release label as the release branch was built incorrectly and reflected develop

[2018-02-13 11:45] #3300 closed, assigned to nobody

[2018-02-13 13:29] denis-sharypin commented on #3248
Mockups (last screens) — https://zpl.io/2pxZQol

<img width="891" alt="screenshot 2018-02-13 14 32 10" src="https://user-images.githubusercontent.com/6559881/36152339-fdf0ed36-10ca-11e8-9fcf-f7d5aa40691b.png">

If we don't have the block functionality right now, ignore it
<img width="916" alt="screenshot 2018-02-13 14 31 57" src="https://user-images.githubusercontent.com/6559881/36152346-044e975a-

[2018-02-13 13:32] yenda opened #3304 "Use clojurescript core inst-ms function for timestamps"
We have 2 different timestamp functions in `protocol.web3.utils` and `utils.datetime` namespaces. Replace them by clojurescript core `inst-ms` function

[2018-02-13 13:38] denis-sharypin commented on #3010
Duplicates https://github.com/status-im/status-react/issues/3248

[2018-02-13 13:50] denis-sharypin commented on #3083
<img width="891" alt="screenshot 2018-02-13 14 50 24" src="https://user-images.githubusercontent.com/6559881/36153032-422b03cc-10cd-11e8-8df7-44aafc99252d.png">

[2018-02-13 13:53] #1508 closed

[2018-02-13 13:53] #1507 closed

[2018-02-13 13:53] #1504 closed

[2018-02-13 13:53] #1503 closed

[2018-02-13 14:19] denis-sharypin opened #3305 "Add a visual difference between my messages and messages of a different person"
### User Story

As a user, I want to have a visual difference between my messages and messages of a different person to improve readability of chats.

[2018-02-13 14:44] #3010 closed, assigned to nobody

[2018-02-13 14:48] yevh-berdnyk opened #3307 "Broken functionality on profile of contacts after recovering access"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see profiles of my contacts and have an ability to remove them, get address and public key or start chat from profile.

### Description

*Type*: Bug

*Summary*: After recovering account some profiles of previously added contacts has broken style and functionality

#### Expected behavior

-

[2018-02-13 14:56] #3243 closed, assigned to goranjovic

[2018-02-13 15:32] denis-sharypin commented on #3009
Couple moe things:
1. The second line in the navigation bar should be also aligned to the left. Also, mind the gap between
userpick and name.

2. Message states (Sent, Delivered, Sending…) should have a bit different design. Sorry, we didn't introduce them into Zeplin mocks. It has a text style as names except for color. Keep current color for it

![slice](https://user-images.githubusercontent.com

[2018-02-13 16:26] annadanchenko opened #3310 "Identify users by public key+username in the builds with enabled TestFairy"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For PR/develop builds we enable TestFairy to see logs/screens for each test session. It would be more easier to capture sessions per user if

[2018-02-13 18:43] chadyj opened #3312 "Invite friends opens share sheet with download link"
### User Story

As a user, I want to share Status with my friends so that they can download the app and start chatting.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: From the "new" menu on Home, tap `Invite friends` which will open the system share sheet. The app will share a message saying `Get Status at https://status.im`

Note, this is a fast interim

[2018-02-13 18:55] chadyj opened #3313 "Join existing public chat or create a new channel"
### User Story

As a user, I want to view a featured list of public chats so that I can join them and start chatting.

As a user, I want to create a public chat so that I can create a community and start chatting.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: From Home hit `New`, then `Join public chat` and either a) enter a channel name to create a top

[2018-02-13 18:58] chadyj opened #3314 "Update DApp list for beta"
Add these  [DApps](https://docs.google.com/spreadsheets/d/1cPjVu5AizyGgz6J4PJwK62LQfB8LHTnPmAdJvyBqQLE/edit?usp=sharing) to showcase DApp potential and give new users an into to DApp possibilities.

cc @pablanopete

[2018-02-14 02:34] rasom commented on #3277
should be fixed here #3297

[2018-02-14 06:56] rasom commented on #3277
should be fixed here #3298

[2018-02-14 07:12] oskarth commented on #1629
@jeluard Not sure, you worked on this piece of the code most recently (ERC20). WDYT? Could go either way.

[2018-02-14 07:14] oskarth commented on #3193
Both solutions are acceptable, but the former is better. They aren't different cases as much as different ways of solving the same problem (trade-off: ease of implementation vs accuracy).

[2018-02-14 07:24] jeluard commented on #1629
We now have a dedicated [idea](https://github.com/status-im/ideas/issues/18) to track this so I think we can close this issue for now.

[2018-02-14 07:24] #1629 closed, assigned to nobody

[2018-02-14 08:59] churik opened #3316 "Text is overlapped by 'Done' and 'Reset to default' buttons on 'Transaction Fee' screen"
### Description

*Type*: Bug

*Summary*: gas limit explanation text is overlapped by buttons when opened keyboard

#### Expected behavior
all text should be visible

#### Actual behavior
text is overlapped by buttons 'Reset to default', 'Done'
![ois](https://user-images.githubusercontent.com/4557972/36195272-a586b3dc-1175-11e8-9038-2863d252d03f.png)

### Reproduction

- Open Status
- Log in
- Open

[2018-02-14 09:45] #3267 closed, assigned to alwx, janherich

[2018-02-14 11:03] Serhy commented on #3285
`C1933 | Auction house - can complete transaction` will be added in scope of #3281
`C1934 | Browse site from link sent in 1-1 chat (in Status, if possible in separate browser)` - will be added by @yevh-berdnyk in scope of #3282 (`C1929`s test)

@antdanchenko could you please add `C2079 | Create account, log out and sign in` with additional logic to stop the automation PR test suite execution if th

[2018-02-14 11:05] Serhy commented on #3284
C1937, C2088, C2089 - added in #3311

[2018-02-14 11:25] #3256 closed, assigned to rasom

[2018-02-14 11:25] #3277 closed, assigned to rasom

[2018-02-14 11:37] jeluard commented on #3241
`go-ethereum` will [adapt](https://www.ethnews.com/ethereum-foundations-nick-johnson-on-gwei-transaction-fees) it's estimation algorithm in the short term.
Current approach seems to be sufficient.

[2018-02-14 11:41] jeluard commented on #3248
@denis-sharypin Indeed no blocking support for now

[2018-02-14 12:22] asemiankevich opened #3317 "Black screen when using camera (Android)"
### Description

*Type*: Bug

*Summary*: adresses https://github.com/react-native-community/react-native-camera/issues/1234 and logged for tracking purposes

#### Expected behavior
user is able to use camera:
- to scan QRs
- to make a user picture

#### Actual behavior
black screen shown when using camera on Android

### Reproduction

- Open Status
- Tap Profile -> Edit ->Capture

### Additional I

[2018-02-14 12:23] dmitryn opened #3318 "App crash when using re-frame fork"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  App crashes when you do fresh install (not upgrade) on Android phone and using yenda/re-frame fork as dependency. More details here: https://gi

[2018-02-14 12:28] annadanchenko opened #3319 "STT/SNT tokens are not shown by default for recovered account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: For newly created account we show ETH and STT in the Assets list on Wallet. For recovered account we show only ETH. It should be consistent, so when account is recovered - show ETH and STT in Assets.

#### Expected behavior
[comment]: # (Describe what you expected to happen.)
After account is recovered: on Wallet

[2018-02-14 12:43] antdanchenko commented on #3281
please note, test case ` C2078 | Send transaction by scanning QR code` - is not possible to automate

[2018-02-14 12:45] yenda commented on #3318
To solve this issue the init sequence needs to be refactored so that it works in a predictible way and doesn't reproduce the above issue when using `yenda/re-frame` fork. The issue is currently not reproduced using dmitry/re-frame fork which is the same code the we assume it has to do with the order dependencies are loaded.

[2018-02-14 13:08] annadanchenko opened #3320 ""Contact code" instead of "recipient address" is used in menu for Choose recipient"
### Description

*Type*: Bug

*Summary*: Term "contact code" is used for recipient address in the menu on Send Transaction screen. It's wrong because term "contact code" is used for public key on Profile screen. These are 2 different things: address and public key. If we specify recipient address then we need to call this menu option "Enter recipient address"
![img_2607](https://user-images.github

[2018-02-14 13:21] jeluard opened #3321 "Migrate new group chat flow to latest mockups"
### User Story

As a user, I want to use latest mockups design when creating a group chat

### Description

*Type*: Feature

Migrate `start group chat` to latest [mockups](https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5a70319abc98f394488e37ae)

[2018-02-14 13:21] #3249 closed, assigned to nobody

[2018-02-14 13:25] jeluard commented on #3313
@chadyj Do we have a list of public chat we want to include?

[2018-02-14 13:27] asemiankevich commented on #3289
reopened as this commit needs to be rolled back. It does not fix the problem.

[2018-02-14 13:44] annadanchenko opened #3322 "Amount field is hidden behind keyboard if tap inside it on some Android screens (Galaxy S6, S7, ZTE A2017G)"
### Description

*Type*: Bug

*Summary*: Send transaction screen: if tap inside Amount field then keyboard is opened but field is hidden, so user can't see what's being typed. I would expect that focus is in the Amount field and that field is fully visible to me, so I do not need to scroll to it. It happens on several Android phones, e.g. Samsung galaxy S6, S7 and  ZTE A2017G (screenHeight 2560, s

[2018-02-14 14:18] annadanchenko opened #3325 "Transaction fee field is hidden behind keyboard if Amount field had focus"
### Description

*Type*: Bug

*Summary*: On Send transaction screen: if tap on Advanced switch then Transaction Fee field is shown behind keyboard, so user can't see it.

It happens if keyboard was already opened, e.g. if user filled in Amount field and then taps on Advanced switch. On both iOS (iphone 6s) and Android (Galaxy S6)

#### Expected behavior
After user taps on Advanced switch: Transact

[2018-02-14 14:40] flexsurfer opened #3326 "Introduce onboarding "Sign in" screens"
Introduce
-welcome screen
-sign in screen
-recover screen
-accounts screen

[2018-02-14 14:40] flexsurfer opened #3327 "Introduce wallet onboarding screens"
![Image](https://user-images.githubusercontent.com/3115606/36309166-d87c35e6-1323-11e8-8360-e68afb677bce.png)

zpl://screen?sid=5a8711ba690d3bba6c2a35b4&pid=5a55d587ba304eed4d2c942

[2018-02-14 14:42] flexsurfer opened #3328 "Introduce profile onboarding screens"
![image](https://user-images.githubusercontent.com/3115606/36309146-c5eaca00-1323-11e8-917a-68502e7b05e5.png)

[2018-02-14 14:49] #3240 closed, assigned to rasom

[2018-02-14 15:55] jeluard opened #3330 "Harmonize status-bar"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have nice `status-bar` depending on the app background color

### Description

*Type*: Feature

Our current usage of `status-bar` is fairly complex and fragile. As a result of this incorrect colors are used in some screens.

[2018-02-14 16:07] annadanchenko opened #3331 "White screen is shown after returning to Transaction history from details or after selecting recipient/asset"
### Description

*Type*: Bug

*Summary*: White screen is shown for a second or so in these cases:
1. Go back from transaction details to transaction Transactions list
2. Send transaction: choose recipient -> recent recipients (tap on contact) or go back
3. Send transaction: Asset -> select another asset or go back

#### Expected behavior
no white screen is shown

#### Actual behavior
white screen

[2018-02-14 18:41] annadanchenko commented on #3330
e.g. on Wallet screen in Android there are black icons:
![screenshot_20180214-214032](https://user-images.githubusercontent.com/6584810/36221648-d4659f10-11cf-11e8-9480-9d0e5993bafb.png)

[2018-02-14 18:47] annadanchenko opened #3333 "No messages received if sender is offline and receiver runs the app"
### Description

*Type*: Bug

*Summary*:
1. Receiver closed the app, so it's not running
2. Sender sends message in 1:1 chat to receiver and closes the app
3. Receiver gets push notifications and runs the app to read messages. Unfortunately, no new messages are shown even if wait for 10 minutes

#### Expected behavior
Receiver gets messages sent to him when app was not run

#### Actual behavior
No

[2018-02-15 04:09] oskarth commented on #3333
[code]

*is not registered. Retrying fetch peers.* seems key

EDIT:
https://github.com/status-im/status-react/issues/3055#issuecomment-363824262 and historical? https://github.com/ethereum/go-ethereum/issues/3466

[2018-02-15 04:11] oskarth commented on #3055
Should we reopen this @dmitryn and @yenda? Doesn't seem to be resolved based on https://github.com/status-im/status-react/issues/3333 if I understand the problem correctly

[2018-02-15 07:18] jeluard commented on #3330
See also  #3227

[2018-02-15 08:20] Serhy opened #3336 "[Perf] User story 4: Time lags navigating to chat with 200 unread messages"
***Type***: Bug

***Summary***: When ~200+ unread messages are present in the chat (public/group/1-1) - navigating to this chat has a noticeable app lag between user taps on the chat and chat screen appearance.
It depends from the device: for example on Samsung Galaxy Note 4 (real device) - it takes 10-12 seconds from the time when user taped on chat on Home screen with 200 unread messages till th

[2018-02-15 09:13] Serhy opened #3337 "App crashed with property 'chat.message-overhead' has been removed after upgrade to d12c9b.apk"
***Type***: Bug

*Summary*: App crashed with property 'chat.message-overhead' has been removed after upgrade to d12c9b.apk

#### Expected behavior
No crash after upgrade
#### Actual behavior
App crashed with property 'chat.message-overhead' has been removed after upgrade to d12c9b.apk

![screenshot_20180215-111516](https://user-images.githubusercontent.com/8749671/36248876-9cfcc5ea-1241-11e8-85b2-

[2018-02-15 10:02] janherich commented on #3336
This is super strange because we already had solved this exact issue some time ago - I will check if there was not some performance regression introduced very recently.

[2018-02-15 10:22] andytudhope commented on #3312
Can we not make the link more precise and perhaps build in a small reward in SNT for users who do this when their friends download the app?

[2018-02-15 10:33] status-open-bounty commented on #3304
Balance: 0.000000 ETH
Tokens: SNT: 250.00
Contract address: [0x207dbe68d84d84d89f90d346541c568c225f9a8f](https://etherscan.io/address/0x207dbe68d84d84d89f90d346541c568c225f9a8f)
Network: Mainnet
Paid to: voxlet
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-15 12:22] status-open-bounty commented on #3294
Balance: 0.000000 ETH
Tokens: SNT: 250.00
Contract address: [0x68434751c9ab9ce51db1364f4c288cf786e27b00](https://etherscan.io/address/0x68434751c9ab9ce51db1364f4c288cf786e27b00)
Network: Mainnet
Paid to: tarekskr
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-15 13:11] Serhy opened #3340 "No Group Chat for re-added by admin member if member left the chat before by himself"
***Type***: Bug

***Summary***: Re-added group chat member does not see the chat on Home screen if he left the chat but GroupChat admin re-added this member back.
Note: there is an indication in GroupChat admin side that messages are 'Delivered' to this contact (after member re-added).

#### Expected behavior
Group Chat appears for re-added (by GroupChat admin) member

#### Actual behavior
No Grou

[2018-02-15 13:15] annadanchenko opened #3341 "Destructive actions (delete, leave chat) should ask for confirmation before execution [3308]"
### Description

*Type*: Bug

*Summary*: Destructive actions (delete chat, leave chat) should ask for confirmation before execution. Currently, if user taps on Delete or Leave chat in the chat menu then action is triggered immediately and user has no possibility to "undo" it.

#### Expected behavior
If any destructive action is triggered then confirmation should be shown first to check is it inten

[2018-02-15 13:43] Serhy opened #3342 "No 'You are proud owner of name...' message after successful transaction in Auction House"
***Type***: Bug

***Summary***: There is no 'You are proud owner of name...' after transaction sent in Auction House. The name value entered in 'Name to Register' field, prior transaction, is not visible as well.
Note: the transaction that was sent to Dapp is present in history, - it looks like the CreateNewAuction page refreshed after contact redirected to it from 'Transaction sent' screen.

####

[2018-02-15 13:43] chadyj commented on #3312
@andytudhope Great idea! We are going to keep this issue simple for the restructure swarm, but will make a note of this for a future form about improving finding friends.

What exactly did you mean with `make the link more precise`?

[2018-02-15 13:59] tarekskr commented on #3294
Hi! I just created a pull request that fixes this.

[2018-02-15 16:46] dmitryn commented on #3055
@oskarth Yes, seems like "many retries fix" didn't help as mailserver node might be down  or maybe we have another edge case here.

[2018-02-16 03:03] oskarth commented on #2964
@yenda @b00ris @JekaMas  What's the state of this?

[2018-02-16 03:07] oskarth commented on #2965
@JekaMas Who is currently owning this issue? If it is deemed to no longer be relevantly / badly specified, where is the continuation?

[2018-02-16 03:11] oskarth commented on #3146
@janherich @dmitryn What's the state of this experiment?

[2018-02-16 03:12] oskarth commented on #3080
@mandrigin @dmitryn What's the state of this experiment?

[2018-02-16 08:56] Serhy commented on #3284
@antdanchenko could you please add C2081 and C1932 tests?

[2018-02-16 08:57] antdanchenko commented on #3285
`C1933 | Auction house - can complete transaction` added in scope of https://github.com/status-im/status-react/pull/3287
`C1934 | Browse site from link sent in 1-1 chat (in Status, if possible in separate browser)` added in scope of https://github.com/status-im/status-react/pull/3324

[2018-02-16 09:37] janherich commented on #3146
@oskarth Hypothesis was basically proved and fixed in most critical places slowing down the app.

[2018-02-16 11:22] Serhy opened #3346 "'Unknown' contact status in 1-1chat while this contact is online"
***Type***: Bug

***Summary***: The status of the contact last appearance online in the app top bar on 1-1 chat screen always indicates `Unknown`. `Unknown` status keep stay even when both contacts are online and exchange with the messages.

**Note**: It's OK for the 0.9.16 release.

#### Expected behaviour
`Online` / `1 minute ago` / `1 day ago` user status displayed in app status bar when contac

[2018-02-16 11:27] dmitryn commented on #3146
@oskarth some of my PRs related to this hypothesis are still in TO TEST state:
https://github.com/status-im/status-react/pull/3212
https://github.com/status-im/status-react/pull/3225
https://github.com/status-im/status-react/pull/3265

I'm not going to add anything more to this experiment. As Jan said, experiment could be considered over.

[2018-02-16 11:33] dmitryn commented on #3080
@oskarth We now have Status fork of re-frame https://github.com/status-im/re-frame/tree/0.10.2

@mandrigin could you please put changes from your fork to the Status one? (please make sure you create your branch on top of 0.10.2)
So we could use queue timings logging in case we need to debug slow parts of the app. By default, debug logging is off.

<blockquote><img src="https://avatars3.githubuserc

[2018-02-16 11:39] mandrigin commented on #3080
@dmitryn sure! I'll start doing that today then.

[2018-02-16 15:04] #3083 closed, assigned to jeluard

[2018-02-16 17:35] annadanchenko opened #3349 "No scroll in recipients list for request/send command"
### Description

*Type*: Bug

*Summary*: Send/request command in group chat shows list of recipients. If list contains more than 4 members then not all of them are shown but scroll is not available, so user can't select members who are shown in the bottom of the list.

#### Expected behavior
Can scroll list of recipients for send/request command in group chat

#### Actual behavior
No scroll availa

[2018-02-16 17:40] annadanchenko opened #3350 "2 send commands are shown if chat contains 1 or more request messages [3259]"
### Description

*Type*: Bug

*Summary*:
Second "/send" command is shown in commands list if chat contains 1 or more Request messages sent to this contact.

![36313191-e249b814-1341-11e8-9416-248c025ac9ce](https://user-images.githubusercontent.com/6584810/36321000-544b2d1e-1359-11e8-862d-4b0421219f81.png)

#### Expected behavior
Only one /send command is shown

#### Actual behavior
[code]
are show

[2018-02-16 18:37] annadanchenko opened #3351 "Extra new lines are added if use Enter in the input field on iOS"
### Description

*Type*: Bug

*Summary*: Only on iOS: Extra empty lines are added if user taps on Enter. It's expected that only 1 line will be added
![img_2619](https://user-images.githubusercontent.com/6584810/36323236-451aa196-1361-11e8-8ab5-2f5cbec83391.jpg)

#### Expected behavior
Only 1 line is added

#### Actual behavior
2 or more lines are added
### Reproduction

- Open Status
- Open 1:1 o

[2018-02-16 19:44] chadyj opened #3352 "Play a sound for new messages"
### User Story

As a user, I want to be notified with a sound/vibration so that I know there is a new private message.

As a user, I want to edit sound preferences on the profile/settings screen, so that I can turn on/off sounds.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what y

[2018-02-17 02:16] grishick commented on #2854
my DApp also needs this feature

[2018-02-17 02:22] grishick opened #3353 "Access Status contacts from webview"
### User Story

As a developer, I want to be able to access Status contacts from my web-view based DApp, so that my DApp can interact with contacts. E.g., my DApp needs to be able to perform transactions that involve my address and a "friend's" address, or transfer a token from my wallet to contact's wallet.

### Description
Feature

#### Expected behavior
In my DApp, I want to call something like

[2018-02-17 02:50] oskarth commented on #3080
@dmitryn @mandrigin Thanks!

To clarify, what does this fork and work around it imply for the following? Are the first 4 done? Are there any issues for number 5?

Acceptance criteria
- [ ] Measure queue throughput

- [ ] Measure queue size

- [ ] Measure event processing time

- [ ]  Print warning (incl in release builds) if limits are exceeded

- [ ] Issue created for the biggest offenders, if th

[2018-02-17 02:51] oskarth commented on #3146
@janherich @dmitryn  Ok cool! Sounds like we can close this issue then?

[2018-02-18 09:03] dongwoo-kim commented on #3223
@asemiankevich Thanks. I just made a PR for this.

[2018-02-18 17:05] rcullito commented on #3337
<img width="315" alt="chat message-overhead" src="https://user-images.githubusercontent.com/909156/36354531-f4fd40ee-14a3-11e8-8bee-e7c783e77211.png">

I have been experiencing this issue also on trying to build the latest version from `develop` branch.

[2018-02-18 17:18] rcullito opened #3359 "cocoapods-1.4.0 causes error when running scripts/setup"
### User Story

As a developer, I expect to run scripts/setup without any issues. However, if cocoapods is not already installed on OS X, the latest version 1.4 will be installed and this causes an error later on during pod install, specifically around the podspec for `yoga`

### Description

[comment]: # I uninstalled 1.4 and manually installed cocoapods 1.3 as this version was referenced in the

[2018-02-19 09:00] mandrigin commented on #3080
@oskarth in my fork the first 4 are done. @dmitryn you told me you used my fork to profile something, were there any actual issues uncovered?

[2018-02-19 09:03] antdanchenko opened #3360 "test results for nightly: run autotests (at least pr set) on nightly."
As an automation engineer I would like to run automated tests against each nightly build. Right now tests are running only against each PR.

[2018-02-19 09:41] antdanchenko opened #3361 "Error `No protocol method IDeref.` when confirming password via native keyboard on user creation"
### Description

The error `No protocol method IDeref.` is shown if user confirms password using phone's native keyboard, instead of send message button.

#### Expected behavior
`Confirm` password input is shown

#### Actual behavior
The error is shown
![0005screenshot](https://user-images.githubusercontent.com/12611990/36370940-40bd36b8-1569-11e8-89c0-7f843b4a7ac2.png)

### Reproduction
- Open St

[2018-02-19 10:43] asemiankevich commented on #3350
reproduced in last nightly from 2/19/18
![image](https://user-images.githubusercontent.com/28752642/36373988-e63b5c9e-157a-11e8-98af-4bff2b475675.png)

[2018-02-19 10:46] annadanchenko commented on #3361
will be changed in onboarding, so no reason to fix

[2018-02-19 11:17] JekaMas commented on #3271
@dmitryn @yenda  I've tried to run such bash script on local machine and it looks like it solves the issue with Genymotion Emulator:
`while true; do t=$(date +%s.%N); adb wait-for-device shell '[[ $(date -u @'$t') ]]'; sleep 1; done`
It just sync time between local machine and emulator. Could you check it at your side?

[2018-02-19 11:21] janherich commented on #3350
@annadanchenko This is actually not a bug, only bad UI - whenever command request is received, it's added to the "open requests" for you, and those are merged with standalone "commands" in the suggestion list.
So when somebody requests from you twice, let's say `/request 2` and `/request 1`, those are two different command request, with different parameters (2 ETH in first case, 1 ETH in second ca

[2018-02-19 11:21] asemiankevich opened #3363 "Removed user is shown in group chat profile for other remaining members"
### Description

*Type*: Bug|

*Summary*: Having a group chat with several members (lets say 2 devices and Jarrad) I can remove Jarrad from group chat (as admin). Jarrad is shown as removed for admin device. On other device he is shown as member of group chat and I can send / request funds to/from him.

#### Expected behavior
If user is removed from group chat - then group chat instance is updated

[2018-02-19 11:27] #3146 closed, assigned to janherich

[2018-02-19 11:30] dmitryn commented on #3080
@mandrigin i was using it to profile account creation workflow which is known to be slow https://github.com/status-im/status-react/issues/3111

I'm going to enable queue logging while will be testing https://github.com/status-im/status-react/pull/3332 to understand where we still have blockers and long-running tasks.

[2018-02-19 11:47] asemiankevich opened #3364 "Console chat could be deleted"
*Type*: Bug

*Summary*: Looks like this is an issue with migration to new UI - in old one we could not remove Console chat and this was by design. Nevertheless I still can reopen Console chat by choosing it from contacts I suggest to get back to previous decision and prevent Console chat from deletion
@denis-sharypin I did not find anything for this in https://projects.invisionapp.com/share/MJFOBU

[2018-02-19 12:00] asemiankevich opened #3365 "Endless captcha when accessing ozon.ru on Android"
### Description

*Type*: Bug

*Summary*: when accessing ozon.ru captcha may appear which i can pass easily within desktop browser or iOS status browser but not on Android.

endless redirect to tut.by Url
#### Expected behavior
i can deal with captcha and see the website

#### Actual behavior
endless captcha is shown

### Reproduction

- Open Status
- Tap  add new chat - open dapp - enter ozon.ru u

[2018-02-19 12:01] denis-sharypin commented on #3364
Hey guys,
The whole interaction flow with a Console will be redesigned as a part of #80-onboarding swarm.
Let's leave deletable feature for now.

[2018-02-19 12:03] asemiankevich commented on #3364
Thanks! I need mocks)

[2018-02-19 12:19] asemiankevich commented on #3342
I can't repro it anymore in 244 nightly. Would you mind to check if it is iPhone X specific? @Serhy

[2018-02-19 12:42] andytudhope commented on #2854
@grishick check here and let me know if this works for you: https://github.com/status-im/status-react/pull/3354

[2018-02-19 12:44] asemiankevich opened #3366 "web3. suggestions in Console overlap taskbar (Android) and are not scrollable"
### Description

*Type*: Bug

*Summary*: Console full screen suggestions overlap the taskbar on Android  and the list is not scrollable on both platforms

#### Expected behavior

1. Console suggestions window is fixed height 180 px
2. Console suggestions are scrollable

![image](https://user-images.githubusercontent.com/28752642/36378331-72627814-158b-11e8-983d-100f1fafa785.png)

https://app.zepli

[2018-02-19 13:47] hesterbruikman opened #3368 "URL display after website visit"
### User Story

As a user, I want to see the most recent websites I've visited as well as who I've talked to and which DApps I've opened so that I can quickly access them again.

### Description
*Type*: Bug

*Summary*: We currently provide two lines of information for each visited website. At the moment both lines show the same information, the url. The designs intend:
- Website main domainname, e

[2018-02-19 14:19] jeluard opened #3369 "Migrate checkboxes to native widget"
### User Story

As a user, I want to use native checkboxes on my mobile platform.

### Description

*Type*: Feature

Latest react native releases support native checkboxes. Migrate our existing checkboxes implementation to this.

As it does not yet exist for iOS we want to polyfill it (so that we use the native syntax). It should be a squared checkbox (as current one))

* https://github.com/status

[2018-02-19 14:36] dmitryn commented on #3271
@JekaMas i'm having error:
[code]

[2018-02-19 15:00] yevh-berdnyk opened #3370 "Group chat members are not shown after admin chat leaves"
### Description

*Type*: Bug

*Summary*: When a group chat admin leaves the chat other chat members are not shown for each other in the chat profile and can't be selected for sending/requesting funds

#### Expected behavior
Remaining member is suggested when trying to send/request funds
Remaining member should be shown in the group chat members list

#### Actual behavior
Remaining member is not su

[2018-02-19 15:02] annadanchenko commented on #3350
@janherich I would stick to option 1 (do not show command requests in the suggestions list) because current way is already broken, so users can't get any useful effects from using the second /send

For the future - we might need to implement option 2 based on UX/UI feedback and new designs.

[2018-02-19 15:15] asemiankevich opened #3371 "No confirmation message when switching to Mainnet"
### Description

*Type*: Bug

*Summary*:

1. No confirmation when switching to Mainnet
2. App closes when i try to login after switch

#### Expected behavior

1. I should have confirmation message that i am going to switch to Mainnet
2. App should not close

#### Actual behavior

1. No confirmation when switching to Mainnet
2. App closes when i try to login after switch

### Reproduction

- Open S

[2018-02-19 15:16] annadanchenko commented on #3366
night be same cause as in https://github.com/status-im/status-react/issues/3349

[2018-02-19 16:15] jeluard opened #3372 "Migrate off text-field"
### User Story

As a user, I want a consistent way to show errors in text input

### Description

*Type*: Feature

Replace `text-field` with new input error handling (as used in wallet / send)

[2018-02-19 16:15] denis-sharypin commented on #3350
I vote for option 1 as well

[2018-02-19 16:29] JekaMas commented on #3271
@dmitryn Do you use Mac?
Is so you can try ```while true; do t=$(date +%s); adb wait-for-device shell '[[ $(date -u @'$t') ]]'; sleep 1; done```

[2018-02-19 17:11] dmitryn commented on #3271
@JekaMas i have `INFO [02-19|17:09:15]` in geth.log
and `02-19 12:09:15.998` in simulator

Looks like geth.log time is UTC and simulator is UTC -5

[2018-02-19 17:45] #3337 closed, assigned to janherich

[2018-02-19 18:07] Serhy commented on #3342
Reproduced on 244 nightly on iPhoneX.

[2018-02-19 19:22] #3292 closed, assigned to jeluard

[2018-02-19 19:22] #3321 closed, assigned to jeluard

[2018-02-19 19:45] divan opened #3375 "Build without internet connection"
### User Story

As a developer, I want to build `status-react` when the computer is not online or having a poor internet connection.

### Description

During ETHDenver hackathon I needed to build a custom version of `status-react`. WiFi connection was dead there, and that became a complete blocker for building `status-react`. The error I've got was similar to this (it's an output from the build sc

[2018-02-19 20:58] ihor-lev commented on #3337
@rcullito as guys mentioned in referenced issues you can simply uninstall/reinstall the app. it worked for me.

[2018-02-20 03:33] rasom commented on #3280
@divan `expensive` prop is available only on Android, so i would change interface to `ConnectionChange(type string, expensive string/int)`, whatever suits better on go side, because `expensive` can be true, false or unknown.

[2018-02-20 07:34] rasom commented on #3280
oh, it's already `ConnectionChange(type string, expensive int)`

[2018-02-20 08:30] mandrigin commented on #3116
Closed by https://github.com/status-im/status-react/pull/3291 and https://github.com/status-im/status-go/pull/650

[2018-02-20 08:30] #3116 closed, assigned to mandrigin

[2018-02-20 08:31] jeluard opened #3377 "Upgrade to latest React Native"
### User Story

As a developer, I want to rely on latest library versions

### Description

*Type*: Feature

Each new release of React Native brings fixes and new features. We don't want to lag behind too long.
Upgrade to React Native `0.53` (or `0.54` if available).

[2018-02-20 08:33] andytudhope commented on #3312
I mean that you attach a code to the link: `Get Status at https://status.im?refCode=1234` and that allows us to reward a wallet address with some SNT. Apologies for late response, this slipped through my notifications...

[2018-02-20 08:51] flexsurfer opened #3379 "Get rid of `(get-in platform-specific [:uppercase?])`"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to simply use `:uppercase?` prop for `[text]` component, so it should be

`[text {:uppercase? true} "Text"]` - for Android

`[text {:force-uppercase? true} "Text"]` - for both ios and Android

[code]

[2018-02-20 08:54] JoseMiguelHerrera commented on #3217
Is there another way to add and debug dapps? Would like to try mine out on status but this bug is preventing me from it.

[2018-02-20 08:58] jeluard commented on #3217
@JoseMiguelHerrera Just browse your DApp within the home tab via the `+` button

[2018-02-20 08:59] status-open-bounty commented on #3377
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0x5ebbc6b68e904cc101dd76131aebb15711c9420d](https://etherscan.io/address/0x5ebbc6b68e904cc101dd76131aebb15711c9420d)
Network: Mainnet
Paid to: voxlet
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-20 09:03] JoseMiguelHerrera commented on #3217
@jeluard great, that's what I thought. How can I debug (see its console logs). The device does not appear in chrome's webview inspector, where I expected it to be.

[2018-02-20 09:04] jeluard commented on #3217
@JoseMiguelHerrera You can only do it with dev releases for now

[2018-02-20 09:06] asemiankevich opened #3380 "Can't start new chat - user is redirected to contact profile -> previously opened chat"
### Description

*Type*: Bug

*Summary*:  Can't start new chat - user is redirected to Console chat

#### Expected behavior
I can start new chat with Jarrad or any other contact

#### Actual behavior
User is redirected to Console chat

### Reproduction

- Open Status
- Tap +
- Tap Start new chat
- Tap Jarrad - Jarrad profile is shown instead of chat opened
- Tap Start chat - Console chat is shown

[2018-02-20 10:16] jeluard commented on #3312
Note to bounty hunters: it is as simple as calling `#(list-selection/open-share {:message "Get Status at blah"})`

[2018-02-20 11:22] annadanchenko opened #3382 "Unknown chat is created and messages can't be sent if remove chat with a contact and try to start new"
### Description

*Type*: Bug

*Summary*: User is in my contacts and there is a chat with the user. If this chat is deleted then I can start new chat with this user. Unfortunately,
1. If I tap on the username to start new chat then its profile is opened. Expected: new 1:1 chat with the user is created (if previous chat was deleted) or existing 1:1 chat with the contact is created
2. If in the opene

[2018-02-20 11:56] dmitryn commented on #3271
After debugging session with @JekaMas we found out that this script helps to sync time in android emulator (works on OSX):
[code]
Issue regarding empty admin.peers() still persist when you try to connect to `163.172.177.138:40404`. But it doesn't reproduce when you try different port `163.172.177.138:30353` (node that marked as "mailserver (test)" in the app).

@adambabik do you know what ports sh

[2018-02-20 12:11] annadanchenko commented on #3295
what about grouping by Today, Yesterday, past date (Feb 20)

[2018-02-20 12:44] lukaszfryc opened #3383 "Multiple dialogs about invalid wallet address when scanning QR code"
### Description

*Type*: Bug

*Summary*: On iOS, when QR code of an invalid address is being scanned, there are multiple dialogs about invalid address appearing on top of each other. Usually it's 2 of them (sometimes more). Then user is taken back to the Wallet screen instead of Send Transaction screen.
Note that when another invalid QR code is scanned again the app works as expected. Only one dia

[2018-02-20 13:07] #3320 closed, assigned to jeluard

[2018-02-20 13:28] rcullito commented on #3337
nice, thanks for the heads up @ikysylevych !

[2018-02-20 13:47] #3271 closed, assigned to nobody

[2018-02-20 13:49] dmitryn commented on #3333
Should be fixed by https://github.com/status-im/status-react/pull/3384

[2018-02-20 13:49] dmitryn commented on #3055
Should be fixed by https://github.com/status-im/status-react/pull/3384

[2018-02-20 13:49] #3055 closed, assigned to nobody

[2018-02-20 15:14] dshulyak commented on #3271
One thing to keep in mind is that after each network connectivity loss admin.peers will be 0 for ~30s or so. More information about this here: https://github.com/status-im/status-go/pull/646 . We will be able to fix it once approach described in https://github.com/status-im/status-go/pull/649 will be fully implemented.

[2018-02-20 15:34] dmitryn commented on #3271
@dshulyak thanks, good to know. Should not be a problem as we only need it during startup, and if it's empty we do ~100 retries for ~6 minutes.

[2018-02-20 16:36] lukaszfryc opened #3386 "Improve "View profile" label that leads to Chat settings screen"
### Description

*Type*: Bug

*Summary*: When you open menu of a group chat, the first button says "View profile". It opens Chat settings so I suppose it should be renamed to "Chat settings".

#### Expected behavior
Button that opens Chat settings should have more clear name. Like "Chat settings".

#### Actual behavior
Button is named "View profile".

### Reproduction

- Open Status
- Create a gro

[2018-02-20 18:28] chadyj commented on #3295
Adding `design-blocked` until these ^ issues can be resolved.

[2018-02-20 19:40] #3351 closed, assigned to nobody

[2018-02-20 22:46] chadyj commented on #3069
Is this still happening? I haven't seen in in a while.

[2018-02-20 23:07] chadyj commented on #3178
Closing since @alwx fixed it.

[2018-02-20 23:07] #3178 closed, assigned to alwx

[2018-02-20 23:14] chadyj opened #3388 "Upgrade TestFairy"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a PM, I want to submit app to App Store.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: App uses n

[2018-02-20 23:29] chadyj commented on #3022
Fixed in https://github.com/status-im/status-react/pull/3000

[2018-02-20 23:49] yenda commented on #3388
That's TestFairy

`Erics-Mac-mini:status-react yenda$ find . -type f -exec grep -H 'SCRCException' {} \;
Binary file ./ios/libTestFairy.a matches`

[2018-02-21 02:43] oskarth commented on #3080
Thanks @mandrigin and @dmitryn!

[2018-02-21 07:48] #2999 closed, assigned to nobody

[2018-02-21 08:10] #2287 closed, assigned to oskarth

[2018-02-21 08:37] flexsurfer commented on #3013
PR has been reverted, new PR with fixes is required

[2018-02-21 08:39] asemiankevich opened #3392 "Status logo (and other screens) are collapsed when user has active call on the background"
### Description

*Type*: Bug

*Summary*: Status logo (and other screens) are collapsed when user has active call on the background

#### Expected behavior
no glitches

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/36469736-4f0a9f76-16f9-11e8-9aaf-4f3c450ba329.png)

### Expected

Here is how Viber behaves:
![image](https://user-images.githubusercontent.com/287526

[2018-02-21 09:33] denis-sharypin commented on #3248
Do not forget to delete a wallet address from the current profile

[2018-02-21 09:36] status-open-bounty commented on #3312
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0x116f5f4b06edd92bb4edc7ba366a213ad669022e](https://etherscan.io/address/0x116f5f4b06edd92bb4edc7ba366a213ad669022e)
Network: Mainnet
Paid to: jeluard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-21 09:37] status-open-bounty commented on #3379
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0x240f422db6404c25cda92048800f49d6e9060458](https://etherscan.io/address/0x240f422db6404c25cda92048800f49d6e9060458)
Network: Mainnet
Paid to: dongwoo-kim
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-21 09:37] status-open-bounty commented on #3369
Balance: 0.000000 ETH
Tokens: SNT: 1120.00
Contract address: [0xfba7723f5786693f3a93f280d64fb576e1fd1ddd](https://etherscan.io/address/0xfba7723f5786693f3a93f280d64fb576e1fd1ddd)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-21 10:03] lukaszfryc opened #3394 "Add accessibility labels for Wallet screens"
### User Story
As an automation engineer I need accessibility labels to be added for specific elements so I could use them in my Appium scripts.

### Description
Accessibility labels are required for building stable mobile test automation solution. Please, add accessibility labels for all elements listed below.

### Screens
#### Wallet
- total-amount-value-text
- total-amount-currency-text
- optio

[2018-02-21 11:03] Serhy opened #3396 "u.setNativeProps(cljs.core.clj__GT_js(new cljs.core.PersistentArrayMap ....) error on 'Return' button tap while typing a message"
***Type***: <Bug|Feature>

***Summary***: There is an error `undefined is not a function (evaluating 'u.setNativeProps(cljs.core.clj__GT_js(new cljs.core.PersistentArrayMap(null,1,[cljs.core.cst$kw$text,e],null)))')` appears when 'Return' button from keyboard tapped while typing a message in chat.
After tap 'OK' button on appeared error - contact can proceed using the app and the return to new lin

[2018-02-21 11:32] lukaszfryc commented on #3102
This is out of date now. Here is a new bounty for Wallet accessibility labels #3394

[2018-02-21 11:32] #3102 closed, assigned to nobody

[2018-02-21 12:05] status-open-bounty commented on #3394
Balance: 0.000000 ETH
Tokens: SNT: 1400.00
Contract address: [0xf0bdfc47d3c974a56c89fbcd38f9dc653b1b9c49](https://etherscan.io/address/0xf0bdfc47d3c974a56c89fbcd38f9dc653b1b9c49)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-21 12:39] Serhy opened #3397 "[Perf] User story 5: Time lags in message sending in chats having a lot of data"
### User Story

As a user I want my message to appear in the chat in <0.3 seconds after I tap the 'Send' message button

***Type***: Bug

***Summary***: There are noticeable lags when sending a message in chat when this particular chat has already a lot of messages. The higher number of exchanged messages - the higher delay between the tap on 'Send message' button and appearance of actual message

[2018-02-21 12:48] jeluard opened #3398 "Create a Clojure(Script) library replacing re-natal (as used by status)"
### User Story

As a developer, I want a smooth dev experience reducing dependency on external (brittle) command line tools

### Description

*Type*: Feature

Part of the dev process involves running `re-natal use-YOUR-DEVICE` and `re-natal use-figwheel`. Failing to do so might end up with weird state.

Both tasks don't do much: replace some variable in files essentially.

Came up with a Clojure(S

[2018-02-21 12:56] oskarth commented on #1623
Effectively not high priority considering how long it has been dormant.

[2018-02-21 12:56] oskarth commented on #1623
Still, ping @andmironov and @denis-sharypin re progress on this

[2018-02-21 12:57] oskarth commented on #2219
Effectively not high priority considering how long it has been dormant.

@annadanchenko thoughts on state of this?

[2018-02-21 12:58] oskarth commented on #2522
Effectively not high priority considering how long it has been dormant.

Also badly formed and superseeded by 71 and 76. Closing for now.

[2018-02-21 12:58] #2522 closed, assigned to nobody

[2018-02-21 12:59] oskarth commented on #3188
It was decided not to drop migrations.

[2018-02-21 13:16] pedropombeiro opened #3399 "Implement 'setup' and 'full-prod-build' targets in Makefile"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a contributor, I want to have an easy way to get bootstrapped with the latest local build of status-react and status-go. Although the scenario has improved in recent weeks with the addition of [scripts/bundle-status-go.sh](https://github.com/status-im/status-react/blob/develop/scripts/bundle-status-go.sh),

[2018-02-21 14:25] Serhy commented on #3069
Could not reproduce it iPhoneX (where error appeared all the time on new user creation process). Neither on latest nightly (247 Jenkins build) nor on Release 0.9.14

[2018-02-21 14:37] Serhy commented on #3069
Happy to close this!

[2018-02-21 14:37] #3069 closed, assigned to nobody

[2018-02-21 14:59] denis-sharypin commented on #3352
Hey @chadyj could you check a prototype that I have prepared?
https://invis.io/FAFYVDU3VJG#/280636991_01

[2018-02-21 15:04] lukaszfryc opened #3401 "Group chat Invitation message contains contact code which makes it hard to read"
### Description
*Type*: Bug

*Summary*: When user is invited to a group chat she sees an invitation message with her contact code instead of more readable message.

#### Expected behavior
User that was invited to a group chat should see "{some user} invited you to group chat".

#### Actual behavior
User sees her contact code. Note that for other invited users the message contains name of the user

[2018-02-21 16:56] dmitryn commented on #3211
Closing for now.
We planned to use it to run Realm operations on another thread, but this seems have no significant impact on performance and work needed to be done not worth possible perfomance benefits.
Thanks @rasom for researching this hypothesis.

[2018-02-21 16:56] #3211 closed, assigned to nobody

[2018-02-21 16:59] Zanther commented on #3388
Let me just say you are a life saver. I have been wracking my brain with this looking at code and trying to find it.  Thank you so much.

[2018-02-21 18:43] dmitryn commented on #3210
Done by https://github.com/status-im/status-react/pull/3212 https://github.com/status-im/status-react/pull/3225 https://github.com/status-im/status-react/pull/3265

[2018-02-21 18:43] #3210 closed, assigned to dmitryn

[2018-02-21 19:45] #3294 closed, assigned to nobody

[2018-02-22 01:20] voxlet commented on #3398
@jeluard I can see this growing into something useful for the wider community, very exciting!

For the PR, would covering the usage scope of re-natal in Makefile be sufficient, or are there any additional use cases we want to consider initially?

[2018-02-22 07:32] jeluard commented on #3398
@voxlet Right! Specifically I think we can restrict ourself to `re-natal use-figwheel` and `re-natal use-*-device *` for now. Ideally associated function would be idempotent (so only make changes when switching target platform).

Feel free to reorganize differently those 2 methods if that makes sense. What we want to cover is dev mode (figwheel) and prod mode, for all iOS/android/emulator/real dev

[2018-02-22 07:49] BorisDutkin commented on #3388
Sorry I didn't get it...so how I fix the problem?

[2018-02-22 11:07] #3396 closed, assigned to nobody

[2018-02-22 11:22] #3313 closed, assigned to jeluard

[2018-02-22 11:22] #3341 closed, assigned to jeluard

[2018-02-22 11:26] #3123 closed, assigned to nobody

[2018-02-22 12:15] #3268 closed, assigned to goranjovic

[2018-02-22 12:19] maxhora opened #3406 "Auto turning-on of capital letter on new account password creation presented at least on Android is confusing"
### User Story

As a user, I've created new account by typing in my new password. I was not aware enough and missed that on Android first letter was auto turned-on as capital.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

So, I've created password, but since I haven't aware about auto turned-on capital for first letter, my stored in head password differs from

[2018-02-22 13:36] 0xc1c4da opened #3407 "The UI shifts down too far and unnecessarily."
**Title:** 	 The UI shifts down too far and unnecessarily.

**App Version:** 	 0.9.12 (1557.321)

**Current View:** 	 UIViewController

**Device:** 	 iPhone 6, iOS 11.2

**Duration:** 	 354

**Memory:** 	 778.0/809.0 MB

**Storage:** 	 13.694/15.248 GB

**Battery:** 	 100, Charging

**Console Log:**
[code]

[![image attachment](https://s3.amazonaws.com/instabug-pro/attachments/states/130518492/22f

[2018-02-22 13:50] lukaszfryc opened #3408 "Nothing happens when /request is sent without providing the amount"
### Description
*Type*: Bug

*Summary*: In a chat, nothing happens after sending **/request "Anna"** without providing the requested amount. It maybe not obvious why there was no action after clicking the send button.  Instead, user should see an info that she needs to provide the amount.

#### Expected behavior
User understands that she can't request tokens without providing the amount.

#### Act

[2018-02-22 13:54] yevh-berdnyk opened #3409 "First parts of multiline messages are cut on preview [Android]"
### User Story

As a user I want to see sent/received messages on preview.

### Description

*Type*: Bug

*Summary*: First words of multiline messages are cut on preview even if it’s a short word. If the first line word consists of only one symbol preview is empty

#### Expected behavior
First line of the message is shown on preview

#### Actual behavior
Messages on preview are cut even if it’s on

[2018-02-22 14:28] lukaszfryc opened #3411 "Wrong password hint that shows while signing transaction is slightly misplaced"
### Description
*Type*: Bug

#### Expected behavior
The wrong password hint is displayed right above the password field.

#### Actual behavior
The hint is displayed too high in relation to the password field:

<img src="https://user-images.githubusercontent.com/7532782/36543246-7e053e9a-17e3-11e8-985b-f2a2a9c16a93.png" width=300>

### Reproduction
- Open Status
- Go to Wallet, then Send transactio

[2018-02-22 14:56] asemiankevich opened #3412 "Tapping outside the commands window does not close it"
### Description

*Type*: Bug

*Summary*: This is from `status-everyday` feedback @vkjr has provided cc @denis-sharypin

#### Expected behavior

when press on a commands list icon, list of commands slides out. Intuitively I want to close it by pressing on the messages area (outside the list of commands)

#### Actual behavior
^ it is not possible, I need to select message edit field again and remove

[2018-02-22 15:08] Serhy opened #3413 "App crash with 'NSInvalidArgumentException' on 'Scan QR code' tap from Wallet [iOS]"
***Type***: Bug

***Summary***: Navigating to 'Wallet' -> 'Chose recipient' -> 'Scan QR code' sporadically ends up with the app crash. TF logs says that's because of:
`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[AVCaptureMetadataOutput setMetadataObjectTypes:] Unsupported type found - use -availableMetadataObjectTypes'
`

#### Expected behavior
No cra

[2018-02-22 15:32] lukaszfryc opened #3414 "User is not redirected to previous screen after scanning wallet QR code. Transaction details are lost"
### Description
*Type*: Bug

*Summary*: When user scans QR code of a wallet address she is being redirected to main Wallet screen. This results in transaction details being lost. Instead, user should be redirected to Send Transaction screen to finish the transaction.
Issue does not occur when address is typed or recipient is selected from a list.

Note: issue happens only on iOS.

#### Expected be

[2018-02-22 15:39] #3139 closed, assigned to nobody

[2018-02-22 15:47] lukaszfryc opened #3416 "STT asset changes to ETH after scanning QR code in Send Transaction"
### Description
*Type*: Bug

*Summary*: When user wants to send a STT transaction, the asset type changes to ETH after QR code of wallet address is scanned. It looks like the asset is reverted to default one (ETH). Everything works fine when recipient is selected from a list or address is typed.

Happens only on Android. iOS has related issue: #3414

#### Expected behavior
STT is selected as asset

[2018-02-22 15:47] Serhy opened #3417 "App crashed when accessing camera view but access to camera denied for app [iOS]"
***Type***: Bug

***Summary***: If user denied access to camera for app on iOS and tries to access the camera view
 app crashes with the error
`Application Specific Information:
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[AVCaptureMetadataOutput setMetadataObjectTypes:] Unsupported type found - use -availableMetadataObjectTypes'
`
Two ways to deny the

[2018-02-22 15:50] Serhy commented on #3413
Note: the #3417 issue has the same error. Will keep an eye on that one after #3417 is fixed.

[2018-02-22 15:50] jeluard commented on #3416
This is not a bug but expected. QR code standard encapsulates asset types which by default is ETH.

[2018-02-22 16:07] Serhy opened #3418 "Password request message is not shown after application is launched after install"
***Type***: Bug
*Summary*: Password request message is not shown after application is launched after install (same as #2925)

#### Expected behavior
I can set up password
#### Actual behavior
![screenshot_20180222-180354](https://user-images.githubusercontent.com/8749671/36549225-e6e7ba8e-17fa-11e8-8a1f-524443ebf46c.png)

### Reproduction
- Install fresh build
- Open Status

### Additional Informa

[2018-02-22 16:31] lukaszfryc commented on #3416
@jeluard got it. Thanks for the info.

[2018-02-22 16:31] #3416 closed, assigned to nobody

[2018-02-22 17:20] lukaszfryc opened #3420 "Last sent message appears in the "Type a message.." field in a chat"
### Description
*Type*: Bug

*Summary*: When user sends a word that is underlined by the spelling checker in Android, the same word appears again in the input after after typing new message. It happes only for the underlined words like:

<img src="https://user-images.githubusercontent.com/7532782/36553294-3ad0f1fa-17fc-11e8-8716-66ef13057249.png" width="300">

Now, when user tries to write a new m

[2018-02-22 20:41] Marina-Kovalevich opened #3422 "Error message "Post https://ropsten" is not user friendly when transaction is interrupted by internet connection drops"
*Type*: Bug

*Summary*: When I send ETH in 1-1 or group chat and internet connection is suddenly lost, I recieve error message "Post https://rosten.infura.io/z6GCTmjdP3FETEJmMBI4:read tcp 172.20.10.3:35829->54.88.141.252:443:read:software caused connection abort"

#### Expected behavior
Error message 'No internet connection'

#### Actual behavior
Error message "Post https://rosten.infura.io..." wh

[2018-02-22 20:52] Marina-Kovalevich opened #3423 "Transaction message is missing in 1-1 chat when internet connection is lost"
*Type*: Bug

*Summary*: If I send ETH in 1-1 chat and internet connection is suddenly lost, transaction is made. Info about it I can see in Wallet but there is no message about sending ETH in chat.

#### Expected behavior
Transaction message appears in chat

#### Actual behavior
Password is verified, transaction is made with no message in chat history, but is mentioned in wallet

### Reproduction

[2018-02-22 21:30] rcullito commented on #3139
Hello, @jeluard I am just noticing that this contract address is linked to Testnet, rather than the Mainnet... and also doesn't carry any tokens. Is there an error with this bounty?

[2018-02-22 23:38] dmitryn commented on #3418
@jeluard `JSC_ENABLED=0` setting disables json->clj data conversion for jail calls so "password" command data doesn't get into app-db.

[2018-02-23 01:30] oskarth commented on #2699
TIME LIMITED BOUNTY UNTIL MAR 3 (just before our offsite).

As far as I know this is a bug and/or regression in how the pre_receiver works and the work itself shouldn't be XL, but it reflects the priority of solving it before the offsite.

See https://github.com/status-im/status-react/blob/develop/test/cljs/status_im/test/utils/pre_receiver.cljs#L6-L35 and https://github.com/status-im/status-react

[2018-02-23 01:32] oskarth commented on #3124
How high priority is this? I.e. how many devices does it impact? Do we definitely need to solve it before offsite?

[2018-02-23 01:44] oskarth opened #3424 "Visually indicate when mail server connection is broken"
### User Story

As a user, I want to know the reason for messages not arriving.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Any individual mail server is currently not High Availability, which means that if it goes down messages aren't received. We want to have some kind of visual indicator, such as a shaded topbar or a green/red light in mail server

[2018-02-23 01:46] oskarth commented on #3424
TIME LIMITED BOUNTY UNTIL MAR 3 (just before our offsite). Includes core contributors.  Marking as XL to reflect priority.

It is reasonable to assume this has been the cause of at least some of the "messages are unreliable" problems. It is time-critical for offsite and should be fairly straightforward fix.

cc @andmironov if you can whip up super quick design for how you'd prefer this feedback to

[2018-02-23 07:44] jeluard commented on #3139
@andytudhope Can you take a look at that?

[2018-02-23 08:28] adambabik commented on #3424
I think this may be a similar case to a situation when there are no peers connected and this can happen when e.g. system clock is skewed. Up to you if it should be a separate issue or included in this one.

[2018-02-23 08:52] lukaszfryc commented on #3289
I've just reproduced it on Samsung Galaxy S8, Android 7.0. Here is [TS](https://status-im.testfairy.com/projects/4803622-status/builds/7756643/sessions/5).

[2018-02-23 09:45] lukaszfryc commented on #3407
Thanks @jarradh. The issue is already reported here #2983

[2018-02-23 09:45] #3407 closed, assigned to nobody

[2018-02-23 11:11] lukaszfryc opened #3426 "Create bounties for accessibility labels to start iOS automation"

[2018-02-23 11:12] lukaszfryc commented on #3426
https://github.com/status-im/status-react/issues/3394

[2018-02-23 12:40] asemiankevich opened #3427 "Fix iOS logs in TestFairy"
### Description

*Type*: Bug

*Summary*: TestFairy logs stopped working on iOS

#### Expected behavior
Logs are present

#### Actual behavior

In order to see logs, please update your project's Prefix Header (.pch):
#import "TestFairy.h"
#define NSLog(s, ...) do { NSLog(s, ##__VA_ARGS__); TFLog(s, ##__VA_ARGS__); } while (0)

### Reproduction
[comment]: # (Describe how we can replicate the bug ste

[2018-02-23 14:27] Quiark commented on #2633
Still apparently the same thing happens on latest version of Status. Here's a full crash report
[tombstone_08.txt](https://github.com/status-im/status-react/files/1751969/tombstone_08.txt)

[2018-02-23 14:52] status-open-bounty commented on #3424
Balance: 0.000000 ETH
Tokens: SNT: 6000.00
Contract address: [0x8693a11ad744196b6421798d7391375b57f31296](https://etherscan.io/address/0x8693a11ad744196b6421798d7391375b57f31296)
Network: Mainnet
Paid to: yenda
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-23 14:55] asemiankevich commented on #3013
@hanwencheng pelase see the comment above

[2018-02-23 15:37] Future-Tomorrow commented on #3424
Before diving into the user journey can you tell me where you started from? I don't see a traditional hamburger menu or "messages" as a label and bucket item in the bottom nav. I have some concerns that this doesn't align with a users current mental model of various types of navigation systems and "messages" in the bottom tray would more clearly align with system design heuristics and reachable de

[2018-02-23 16:33] lukaszfryc opened #3429 "404 after opening transaction on Etherscan.io"
### Description
*Type*: Bug

*Summary*: Opening a transaction on Etherscan.io webpage leads to 404. This is caused by redirecting to incorrect URL: `https://api-ropsten.etherscan.io` instead of `https://ropsten.etherscan.io`. The issue was introduced in #3343.

#### Expected behavior
- `https://ropsten.etherscan.io/` is used to redirect to transaction details page on Etherscan.io
- `https://api-ro

[2018-02-23 16:41] Serhy opened #3430 "Jenkins: fix the job to build release from release/ branch (not from develop)"
***Type***: Bug

***Summary***: Job to build release (0.9.15, the 8th in jenkins, for this moment) based on develop branch and not release/0.9.15 respectively.

#### Expected behavior
Release build job from release/ branch in Jenkins
#### Actual behavior
Release build job from develop/ branch in Jenkins

[2018-02-23 16:50] lukaszfryc opened #3431 "Do not allow to tap on the send button until recipient of the token is specified in group chat"
### Description
*Type*: Bug

*Summary*: In group chat, when `/send` is clicked a user may not select a recipient but still be able to proceed to next step (specify amount). He then ends up in a state where tapping on the send button does nothing because the recipient was not provided:

<img src="https://user-images.githubusercontent.com/7532782/36605458-11df5e1a-18c1-11e8-8b36-68b889cd121b.png" wi

[2018-02-23 21:33] pedropombeiro commented on #2699
@oskarth why is this 500ms window required? I imagine it's some sort of optimization, but is it feasible to allow any message that arrives to be inserted in the view according to the clock value independently of how far in the future it arrives? Is it a question of the UI component not handling it well (in terms of scroll position, for instance)?

[2018-02-24 08:56] lukaszfryc opened #3432 "Cannot clear topic input when joining public chat"
### Description
*Type*: Bug

*Summary*: The first character in the topic input can't be cleared. In result, user can't clear the whole topic to type a new one. She needs to leave public chat screen and open it again to start with an empty topic.

In the screenshot below, "j" can't be cleared. Also, please note a misalignment (iOS only) between "#" and topic name:

<img src="https://user-images.git

[2018-02-24 10:41] lukaszfryc opened #3433 "Improve Github test report for end-end tests"
## Summary
Our current report is really long and maybe hard to read. Having in mind that we are going to extend our test suite, we need to make sure the test report is still easy to understand and does not clutter thread of a Github issue.

[Example of current test report](https://github.com/status-im/status-react/pull/2962)

## Who should read end-end test report and why?

* developers (internal

[2018-02-24 10:46] lukaszfryc commented on #3433
@antdanchenko here is how I think we could better present the test report. Let me know what you think.

## 80% end-end tests has passed
[code]

### Todo
- [ ] Review failed tests and either fix the bugs or fix the the tests

### Failed tests (2)

| Platform | Test | Error |
| ------------- | ------------- | ------------- |
| Android | [test_contact_profile_view](https://saucelabs.com/beta/tests/3d

[2018-02-24 20:22] status-open-bounty commented on #2699
Balance: 0.000000 ETH
Tokens: SNT: 6000.00
Contract address: [0x86d842e666b769d83d06db5245af1fcea6398a7c](https://etherscan.io/address/0x86d842e666b769d83d06db5245af1fcea6398a7c)
Network: Mainnet
Paid to: janherich
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-26 03:45] #3380 closed, assigned to janherich

[2018-02-26 07:32] status-open-bounty commented on #3398
Balance: 0.000000 ETH
Tokens: SNT: 2840.00
Contract address: [0xb15811d5d0ff9a8af2cebeaed29277795c784bd4](https://etherscan.io/address/0xb15811d5d0ff9a8af2cebeaed29277795c784bd4)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-26 09:16] asemiankevich opened #3438 "Pull-to-refresh gesture is not working on Android"
### Description

*Type*: Bug

*Summary*: `pull-to-refresh` gesture stopped working on Android in latest nightly (252 build)

That is already fixed ( i believe) in https://github.com/status-im/status-react/issues/3393
#### Expected behavior
I can refresh screens using pull-to-refresh

### Reproduction

- Open Status
- Navigate to wallet and pull-to-refresh

### Additional Information
* Status versi

[2018-02-26 11:16] oskarth commented on #2699
@PombeirP

500ms is just empirically what I observed to be enough time for messages arriving out of order. And yes, definitely. My thinking was: let's get basic ordering algorithm working first, then work on UI. Since design is quite complex and not clear how to do it non-confusing way (messages moving around).

Happy to chat more about it if you have ideas, and bounty is up for taking too if you

[2018-02-26 11:17] #3223 closed, assigned to nobody

[2018-02-26 11:18] oskarth commented on #3424
@adambabik Added.

@Future-Tomorrow Sorry I'm not sure I follow. This is about giving user some form of feedback on messages not arriving, so it'd be either anywhere in app as a top bar or so, or possibly as feedback in mailserver settings (visible in nightly build under profile settings IIRC).

[2018-02-26 11:41] oskarth commented on #3124
Consensus is we don't understand root problem well enough, and it doesn't appear to have been seen in the wild yet. So low prio for now.

[2018-02-26 12:09] Future-Tomorrow commented on #3424
@oskarth Hi Oscar. Does Status have a html styleguide so someone responding to the bounty can see what was done before for the sake of consistency? This type of message generally belongs in a system of alerts and notifications so curious what those look like?

[2018-02-26 12:13] oskarth commented on #3424
@Future-Tomorrow No style guide right now, but we have some similar messages for when you are offline, or that you are on testnet not mainnet, etc. But I think anything normal and non-obtrusive would be useful here.

cc @andmironov (lead designer)

[2018-02-26 13:01] lukaszfryc opened #3439 "Prevent DApps and bots to be added to existing group chat"
### Description
*Type*: Bug

*Summary*: DApps, bots and console should not be allowed to be added to a group chat according to #3292. Currently this is the case only when a new group chat is being created -- the list contains only people. But in case of an existing group chat, they can still be added in via "Add members" in Chat Settings.

#### Expected behavior
DApps, bots and console can't be ad

[2018-02-26 13:47] asemiankevich opened #3440 "No response for /debug command in Console"
### Description

*Type*: Bug

*Summary*: No response for /debug command in Console

#### Expected behavior
I can see response for `debug - On / Off` interaction in Console

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/36672611-f9754fe0-1b10-11e8-8881-05236e98b511.png)

### Reproduction

- Open Status
- call /debug command

### Additional Information
* Status ve

[2018-02-26 13:58] #3229 closed, assigned to nobody

[2018-02-26 14:00] #3349 closed, assigned to alwx

[2018-02-26 14:00] #3366 closed, assigned to alwx

[2018-02-26 14:05] rcullito commented on #3139
thanks @jeluard and @andytudhope for following up on fixing this contract. Is it possible to have it allocated now that the issue has been resolved via #3315 ?

[2018-02-26 14:07] asemiankevich opened #3441 "Insufficient funds error when sending transaction with low balance"
### Description

*Type*: Bug

*Summary*: Insufficient funds error when sending transaction to dApp with low balance. Logged a ticket for AuctionHouse devs https://github.com/dob/auctionhouse/issues/42. The ticket is closed for now. The problem is that gas cost is not considered when showing warnings in wallet

#### Expected behavior
Prevent signing transaction (to dApp or when sending tokens or wh

[2018-02-26 14:09] jeluard commented on #3441
@asemiankevich Prevent how? This should be done at the DApp level. Not clear what status could do here.

[2018-02-26 14:10] asemiankevich commented on #3441
@jeluard then we can send this to dApp developers :) Not sure if we have separate bug tracker for this :)

[2018-02-26 14:12] jeluard commented on #3441
Yes to `Auction house` developers! :) https://github.com/dob/auctionhouse

<blockquote><img src="https://avatars2.githubusercontent.com/u/10389?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/dob/auctionhouse">dob/auctionhouse</a></strong></div><div>auctionhouse - Ethereum based auction

[2018-02-26 14:13] asemiankevich commented on #3441
wow! I will move this bug here! thanks @jeluard i was not aware about it

[2018-02-26 14:15] #3418 closed, assigned to nobody

[2018-02-26 14:22] pedropombeiro opened #3442 "Enable WhisperConfig.LightClient in node config for Android and iOS"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to take advantage of optimizations in status-go/geth so that we consume less resources when running on resource-constrained devices.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the

[2018-02-26 15:10] chadyj opened #3443 "Import Status Workspace Directory contacts for internal builds"
Status has almost 100 employees, but (as yet) there isn't an easy mechanism that allows for Status members to easily find, add and start chatting with each other. By making it easy to find workmates it will be much easier to use status everyday https://github.com/status-im/ideas/issues/75 for internal chats.

Todo:
- [x] Generate static json member directory for quick prototyping
- [x] Automate th

[2018-02-26 15:43] jacqueswww commented on #3443
So just for more detail, I will make the status-workspace-directory, just host a json file on HTTP. The format will look like this:
[code]

[2018-02-26 15:44] chadyj commented on #3443
I generated a static member json file for prototyping @goranjovic

@jacqueswww That's awesome.

Gist:
https://gist.github.com/chadyj/cec8310f2e8f65ab10657db397ab9a7d

or raw link:
https://gist.github.com/chadyj/cec8310f2e8f65ab10657db397ab9a7d/raw

[2018-02-26 16:40] denis-sharypin commented on #3424
Hey @oskarth,
Can we use something like this as a quick fix here? We use this bar when we are showing that app os offline. I added 'refresh' icon and tap on it (the whole row should be tappable) should ping mail server and reconnect to it.
![connection problem](https://user-images.githubusercontent.com/6559881/36682704-1e598c26-1b1c-11e8-8d62-a18c94055338.png)

[2018-02-26 17:30] lukaszfryc commented on #3433
## 80% end-end tests have passed
[code]

### Failed tests (2)

<table style="width: 100%">
<colgroup>
<col span="1" style="width: 20%;">
<col span="1" style="width: 80%;">
</colgroup>

<tbody>
<tr>
  <th>Test</th>
  <th>Failure</th>
</tr>
<tr>
  <td>
    test_contact_profile_view
    </td>
  <td>
    <p>
      <blockquote>
        <div>Looking for PassphraseInput</div>
        <div>Tap on SignTran

[2018-02-26 17:33] lukaszfryc commented on #3433
@antdanchenko please check. I've added:
- test steps
- device sessions
- collapsing
- fixed scrolling in columns

Who do you think we can ask for a feedback?

[2018-02-26 17:46] jeluard commented on #3139
@rcullito I understand this is fixed now?

[2018-02-26 18:09] rcullito commented on #3139
@jeluard yes, thanks for following up. The contract itself is fixed... but since it was fixed after my PR was merged the balance has not been transferred yet. So it seems like it might take a manual kick?

[2018-02-26 18:10] jeluard commented on #3139
@rcullito Supposedly it has been done @siphiuel can you confirm?

[2018-02-26 18:17] rcullito commented on #3139
awesome, thank you @jeluard. looks like it is "Pending maintainer confirmation" so I assume all is well now.

[2018-02-26 18:21] pedropombeiro opened #3448 "Update mailserver addresses for Whisper v6 in constants.cljs"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want status-react to use the new Whisper v6-enabled mailservers so that we can start switching to the new cluster.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: <Bug|Feature>

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you

[2018-02-26 18:22] jeluard commented on #3386
@lukaszfryc According to the [mockups](https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5a70319abc98f394488e37ae) it's called `View profile`.

@denis-sharypin Can you comment on that?

[2018-02-26 18:59] Serhy opened #3450 "Flickering expandable views with the list of options [Android]"
***Type***: Bug
***Summary***: Expandable views with the list of options above the message box flickers by the height.
The next expandable views affected for instance:
- Console -> /faucet -> observe "animated" suggested url option view
- Group Chat -> /request -> observe "animated" list of contacts view
- Group Chat -> /send -> observe "animated" list of contacts view

See on video the based on /

[2018-02-26 19:36] #3350 closed, assigned to alwx

[2018-02-26 20:11] yenda opened #3451 "Fetch messages in background when Push Notification is received"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

- As a user, I expect to see the unread messages in the when I click the push notification. Currently, I have to wait for sync to kick in and retrieve the messages from the network.
- As a Status contributor, I want to have a better sense of what the Sent/Received ratio is. If the user doesn't open the app for

[2018-02-26 23:30] ericxtang commented on #3441
@jeluard hmm... What do you guys propose here? Just set an arbitrary gas amount and check against that? Isn't this the correct behavior is gas is too low?

[2018-02-27 07:50] jeluard commented on #3441
Hi @ericxtang ! Thanks for joining :)
Not sure what could be done. @asemiankevich what would you expect here?

[2018-02-27 08:05] asemiankevich commented on #3441
@ericxtang Hi Eric! Thanks for joining!

I am expecting:
1. Friendly error message saying `Insufficient balance` when user does not have enough funds to complete the transaction
2. Sign button is disabled so user is not confused sending transaction which will fail in an error later due to low balance

We have similar implemented in wallet:

![image](https://user-images.githubusercontent.com/287526

[2018-02-27 08:13] antdanchenko commented on #3433
@lukaszfryc looks great
and what do you think about adding such option?

e.g.
- by default all failed tests are marked as `Failed`
- `Failed` can be manually changed to:
  - `feature changed`
  - `bug (link to the issue)`
  - `false failure`
  - `infrastructure issue`

[2018-02-27 08:46] asemiankevich commented on #3441
so @ericxtang the problem is ours :) sorry for bothering and thanks for the response. I closed the ticket on your side.

[2018-02-27 08:48] jeluard commented on #3441
@ericxtang Sorry for the confusion! We will work on improving our own wallet to make sure DApps users get an even better experience using you DApp!

[2018-02-27 08:59] denis-sharypin commented on #3386
It confuses because action link has one name but the following screen has another. When @goranjovic  merges new design for a group chat settings screen it won't have a title and this small problem will be solved. Nevertheless, we can improve clarity and give the button a name: `Group info`. It would have much more sense. If we could make it on the scope of this issue it would be awesome.

<img wid

[2018-02-27 10:34] jeluard opened #3455 "Improve diawi publishing from Jenkins"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want reliable access to diawi artifcats

### Description

*Type*: Bug

Frequently diawi links published in `jenkins` slack are incorrect (`null`).
This is probably due to not waiting long enough to get the proper link from diawi API. (see [this part of the script](https://github.com/status-im/stat

[2018-02-27 10:36] jeluard opened #3456 "Publish diawi links in relevant PR"
### User Story

As a user, I want easy access to diawi links from github PR

### Description

*Type*: Feature

Each time a build is successful associated diawi links should be published to associated PR.
Also make sure build version number is accessible.

[2018-02-27 10:42] jeluard opened #3457 "Share logic between Jenkins files"
### User Story

As a developer, I want to reduce code duplication between `Jenkins` files

### Description

*Type*: Feature

Our Jenkins files (`Jenkins`, `Jenkins.nightly`, `Jenkinsfile.parameters`and `Jenkins.release`)

Make sure those rely on a [shared file](https://jenkins.io/blog/2017/10/02/pipeline-templates-with-shared-libraries/). Some tasks will probably accept parameters relevant to the

[2018-02-27 10:48] jeluard opened #3458 "Let Jenkins build use all nodes"
### User Story

As a developer, I want to have fast Jenkins builds

### Description

*Type*: Feature

Our current Jenkins file hardcode node to [`macos1`](https://github.com/status-im/status-react/blob/develop/Jenkinsfile#L17).
Part of the build could run on Linux so relax this constraint.

[2018-02-27 11:04] lukaszfryc opened #3459 "Done button in Recipient screen is hard to click since the clickable area is small"
### Description
*Type*: Bug

*Summary*: The "Done" button in "Recipient" screen is hard to click since the clickable area is really small. Let's make the whole row clickable like we have for "Got it" in "Sent transaction". It's confirmed with @denis-sharypin

#### Expected behavior
Whole row is clickable and height of the button (from the keyboard to white line) is 54px

#### Actual behavior
Only

[2018-02-27 11:14] #3011 closed, assigned to goranjovic

[2018-02-27 11:24] Serhy opened #3460 "App crash with error 'status_im.ui.components.style...' when adding 4 or more GroupChat members"
***Type***: Bug

***Summary***: App crashes with error `TypeError: status_im.ui.components.styles.uppercase_QMARK_.call is not a function...` when accessing 'View Profile' of the GroupChat with 4 or more members.
The same crash if to add 4th (or more than four) members in GroupChat from the Group Chat settings view.

#### Expected behavior
No crash when access 'View Profile' of the GroupChat with

[2018-02-27 11:31] annadanchenko commented on #2699
Messages are still received in different order if use same steps as in the issue.
### Steps:
1. device A: Add device B to the contacts
2. device B: in new 1:1 chat with A use Add to contacts link
3. each device send 1 message to see you can see received messages
4. close app on device B
5. device A: send 25 messages in 1:1 chat with device B (1,2,3,4,5... 25)
6. device B: you'll see notifications

[2018-02-27 12:03] status-open-bounty commented on #3457
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x41a0b6fa1c5403e79aacf8c728c6564b85c5ca984212fa66d88e9e0d96f494d3](https://etherscan.io/tx/0x41a0b6fa1c5403e79aacf8c728c6564b85c5ca984212fa66d88e9e0d96f494d3)

[2018-02-27 12:23] oskarth commented on #3424
@denis-sharypin Seems good, not sure about the 'refresh' icon - there's no general simple way of just "reconnecting" unfortunately.

[2018-02-27 12:44] chadyj commented on #3388
@rasom fixed this manually for 0.9.14, but for a permanent fix we will need to create a release build script that will remove TF.

[2018-02-27 12:47] Serhy commented on #3372
Agreed that fix here should cover the misalignment in the input box on the public chat creation view (part of #3432)

[2018-02-27 13:09] chadyj commented on #3013
Hey @hanwencheng is there any chance you could take another look at this? We'd love to have it in the next release. If you need any help or other assistance please let me know.

[2018-02-27 13:10] #3432 closed, assigned to nobody

[2018-02-27 13:19] Serhy commented on #3432
Misalignment part of this issue will be fixed in the scope of #3372

[2018-02-27 14:17] jeluard opened #3462 "Remove script dependency on develop"
### User Story

As a developer, I want a simple build workflow (no inter branch dependency)

### Description

*Type*: Feature

To get access to some build number information, this [script](https://github.com/status-im/status-react/blob/develop/ios/scripts/set_xcode_version.sh) requires the `develop` branch to be locally checkout. This has proved to make our workflow quite complex (including [Jenki

[2018-02-27 14:20] oskarth commented on #3458
Also see https://github.com/status-im/status-react/issues/2880

@jeluard How do you imagine someone solving this without access to Jenkins?

[2018-02-27 14:22] jeluard commented on #3458
@oskarth Good point needs some more details for sure. Also are jenkins logs accessible to everyone?

[2018-02-27 14:22] vitvly commented on #3139
Yes, it was executed. We should now wait for the bounty owner to confirm it in SOB UI.

[2018-02-27 14:29] jacqueswww commented on #3443
@goranjovic So this will be the auto-updating url we can use, Status Workspace Directory will update it every hour, if there is a change in keys.

https://gist.githubusercontent.com/jacqueswww/0debd3f20efd99b827df62d1f21f3e9f/raw/

My idea was the we can just issue something like this on console `/import_contacts <url to json file>` ?
Also would be super cool if the command would follow redirects,

[2018-02-27 14:29] oskarth commented on #3458
Not sure, for specific PRs possibly. But this one requires priv access and is maybe not a great bounty, unfortunately.

[2018-02-27 14:34] denis-sharypin commented on #3424
@oskarth can a user do something to fix this issue from her side?

[2018-02-27 14:35] #3386 closed, assigned to nobody

[2018-02-27 15:47] #3429 closed, assigned to nobody

[2018-02-27 18:54] Serhy opened #3463 "No messages received in Group Chat by old members after admin removed a contact from GroupChat"
***Type***: Bug

***Summary***: Messages are not received by Group Chat members who stayed in the GC after removing one (or more) other GroupChat members by admin.

#### Expected behavior
Messages are received in Group Chat by old members after admin removed a contact from GroupChat
#### Actual behavior
No messages received in Group Chat by old members after admin removed a contact from GroupChat

[2018-02-27 19:00] Serhy opened #3464 "No messages are received in Group Chat by old members after admin adds a contact in GroupChat"
***Type***: Bug

***Summary***: Old chat members does not receive messages after new member is added in group chat.
**Note**: the newly added member and group chat admin - see the messages of each other.

#### Expected behavior
Messages are received in Group Chat by old members after admin adds a contact in GroupChat
#### Actual behavior
No messages are received in Group Chat by old members after

[2018-02-27 20:45] chadyj commented on #3143
Arthur from Cryptokitties suggested this fix:

[2018-02-27 21:29] lukaszfryc commented on #3360
@antdanchenko but why [status-app-end-to-end-tests](https://jenkins.status.im/job/end-to-end-tests/job/status-app-end-to-end-tests/) runs tests from `tests/nightly-runs-#3360` for every pull request?

![image](https://user-images.githubusercontent.com/7532782/36755731-64c59852-1c0d-11e8-9eb1-9404d90654f2.png)

Shouldn't it run tests from the same branch that the app was built?

[2018-02-27 21:52] fixxer commented on #737
Posted the [PR](https://github.com/Kennytian/react-native-instabug/pull/18) to [react-native-instabug](https://github.com/Kennytian/react-native-instabug).

[2018-02-27 22:10] vijaysharm commented on #3388
Hello, I work for TestFairy. I'm sincerely sorry for the inconvenience. I'm not sure what version of the React native SDK you've included in your project, but this exact issue was resolved in v2.3.0 of the React native TestFairy SDK. The current version of the SDK is 2.7.0. If possible, you can upgrade and see if that resolves the issue for you. If you have any further issue, please do not hesitat

[2018-02-28 09:21] annadanchenko opened #3467 "Push notification is shown but no message received"
### Description

*Type*: Bug

*Summary*:  Push notification is shown but no message received
#### Expected behavior
Push notification is received. When open app then message is received too

#### Actual behavior
Push notification is received. When open app then no new messages are received even if wait for 10-15 minutes

### Reproduction

1. transit app to background on device A
2. turn on airplan

[2018-02-28 09:35] yairba commented on #3388
Hey guys, the problem was fixed three months ago, in SDK version 1.11.1.
Here is the iOS SDK changelog: https://docs.testfairy.com/iOS_SDK/Changelog.html
Here is the list of React Native releases: https://github.com/testfairy/react-native-testfairy/releases

[2018-02-28 09:58] #3252 closed, assigned to nobody

[2018-02-28 10:12] #3331 closed, assigned to nobody

[2018-02-28 10:24] #3442 closed, assigned to nobody

[2018-02-28 11:06] lukaszfryc opened #3469 "Have option to review results of end-end tests"
### User Story

As a tester I'd like to be able to review end-end test results in an easy way.

### Description

Currently, it's not done at all or done by writing a comment that refers to a different comment with end-end test report. What we could have instead is option to mark failed tests directly in the report comment. This would be done by a tester asssigned to the issue.
Tests may be failing

[2018-02-28 11:06] lukaszfryc commented on #3433
This will be handled in #3469

[2018-02-28 14:20] lukaszfryc opened #3472 "Add accessibility labels for Profile screens"
### User Story
As an automation engineer I need accessibility labels to be added for specific elements so I could use them in my Appium scripts.

### Description
Accessibility labels are required for building stable mobile test automation solution. Please, add accessibility labels for all elements listed below.

### Screens
#### Profile
- edit-button
- share-my-contact-code-button
- notifications-

[2018-02-28 14:32] #3316 closed, assigned to jeluard

[2018-02-28 14:46] denis-sharypin commented on #3352
Hey @chadyj I prepared another prototype based on your feedback and our conversation.
https://invis.io/CTG3A478FZR#/282066912_01
Now we have:
1. A link to a general notifications settings where you can turn off all PN or choose a style of alerts.
2. You can adjust Message Notifications: choose if you want to see alerts on the locked screen or not and hear a sound. If you switch off alerts, sound t

[2018-02-28 14:49] #3003 closed, assigned to rasom

[2018-02-28 14:50] annadanchenko opened #3474 "No input field is shown if use emoji keyboard on iPhone 7 plus"
### Description

*Type*: Bug

*Summary*: only on big iOS screens (iphone 7 plus): When emoji keyboard is opened then no input field is shown, so user can't see what emoji are typed and can't see send button.
![16968](https://user-images.githubusercontent.com/6584810/36793545-f4ce9044-1c9d-11e8-81d8-ae187e926058.jpg)

#### Expected behavior
Input field and send button are shown, so user can see its

[2018-02-28 15:36] chadyj commented on #3352
Sound to use for new message notifications.
[Notification In App.wav.zip](https://github.com/status-im/status-react/files/1767705/Notification.In.App.wav.zip)

[2018-02-28 15:38] lukaszfryc commented on #3472
#3394 is related

[2018-02-28 15:56] lukaszfryc opened #3477 "Add accessibility labels for New Chat screens"
### User Story
As an automation engineer I need accessibility labels to be added for specific elements so I could use them in my Appium scripts.

### Description
Accessibility labels are required for building stable mobile test automation solution. Please, add accessibility labels for all elements listed below.

### Related Issues
- #3394
- #3472

### Screens
#### New chat
- back-button
- start-1-

[2018-02-28 16:48] annadanchenko opened #3478 "Buttons are to close to status bar on Edit profile for group chat [ios]"
### Description

*Type*: Bug

*Summary*: iOs only, when open "Group info" for group chat:
![img_2669](https://user-images.githubusercontent.com/6584810/36800215-410b0a08-1caf-11e8-9620-4159ea876088.jpg)
#### Expected behavior

#### Actual behavior
Buttons "<" and Edit are too close to the status bar

### Reproduction

- Open Status
- Create new group chat and add Jarrad
- Open Group chat and tap o

[2018-02-28 17:03] denis-sharypin commented on #3352
After discussion with Chad, we decided to go with a simpler version.

Couple things:
1. The first row redirects you to a device settings
2. We need to introduce native platform switchers. Different for iOS and Android
ios: https://developer.apple.com/documentation/uikit/uiswitch
android: https://material.io/guidelines/components/selection-controls.html#selection-controls-switch

There is 2x pic:
!

[2018-02-28 17:10] status-open-bounty commented on #3352
Balance: 0 ETH
Tokens: SNT: 1200.00
Contract address: [0xe8b12d7080c054f916489d475b4c8758f943f3b9](https://etherscan.io/address/0xe8b12d7080c054f916489d475b4c8758f943f3b9)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-02-28 17:27] annadanchenko commented on #3022
@chadyj issue exists on nightly build from Feb 28. It looks like it was never fixed (according to the request from @goranjovic to create separate issue for this Dapp case in https://github.com/status-im/status-react/pull/3000#issuecomment-357270600 ) Re-opening issue as it happens for the same steps to reproduce

[2018-02-28 17:35] lukaszfryc opened #3479 "Add accessibility labels for Chat screens"
### User Story
As an automation engineer I need accessibility labels to be added for specific elements so I could use them in my Appium scripts.

### Description
Accessibility labels are required for building stable mobile test automation solution. Please, add accessibility labels for all elements listed below.

### Related Issues
- #3394
- #3472
- #3477

### Screens
#### Home
- new-chat-button
-

[2018-02-28 18:14] denis-sharypin opened #3481 "Extra keyboard move while using commands in chat"
### Description

*Type*: Bug

#### Actual behavior
During the chat(keyboard is shown), when you tap commands icon keyboard disappears and command list appears from the bottom.
Screencast: https://www.dropbox.com/s/658k5eg884ltqm0/ScreenRecording_02-28-2018%2019.MP4?dl=0

#### Expected behavior
Commands list should appear from that place where message input at this moment

### Reproduction

- Open

[2018-02-28 18:37] denis-sharypin commented on #3364
@asemiankevich
Development mode switcher will be resposible for showing console or not.
You are right, a console should not have a possibility of manual deletion only through that swither.
 But we have to keep eye on that in the future releases.
<img width="328" alt="screenshot 2018-02-28 19 33 08" src="https://user-images.githubusercontent.com/6559881/36805689-5d2b3cd0-1cbe-11e8-9276-fd007dae3292

[2018-02-28 18:49] chadyj commented on #889
Would love to see this.
Will it, or can it display dev build numbers too?

[2018-02-28 19:29] denis-sharypin opened #3482 "2 UI regressions"
### Description

*Type*: Bug

During a hardcore merging game I found a couple visual regressions on iOS comparing with https://github.com/status-im/ideas/issues/61#issuecomment-364964919 and Zeplin mockups

1. Main currency label in two rows. Expected to have in one
![1](https://user-images.githubusercontent.com/6559881/36808521-9c9f6fd8-1cc5-11e8-8639-fcec936864e3.png)

2. Grey background is lost

[2018-03-01 06:50] status-open-bounty commented on #889
Balance: 0.000000 ETH
Tokens: SNT: 700.00
Contract address: [0x920cf6126cac7417c14781436f730c176ecd684c](https://etherscan.io/address/0x920cf6126cac7417c14781436f730c176ecd684c)
Network: Mainnet
Paid to: jeluard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 06:53] status-open-bounty commented on #3477
Balance: 0.000000 ETH
Tokens: SNT: 350.00
Contract address: [0x27bf54bb6a06ea735fd2fa948f4d10514566f750](https://etherscan.io/address/0x27bf54bb6a06ea735fd2fa948f4d10514566f750)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 09:16] #3326 closed, assigned to flexsurfer

[2018-03-01 09:45] status-open-bounty commented on #3472
Balance: 0.000000 ETH
Tokens: SNT: 350.00
Contract address: [0x4e0e8508c75307d004bf3c3ba3f0efaef365c57a](https://etherscan.io/address/0x4e0e8508c75307d004bf3c3ba3f0efaef365c57a)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 10:25] #3312 closed, assigned to nobody

[2018-03-01 10:25] status-open-bounty commented on #3479
Balance: 0.000000 ETH
Tokens: SNT: 700.00
Contract address: [0x0391227f3f673d658d79785f20472e508945f362](https://etherscan.io/address/0x0391227f3f673d658d79785f20472e508945f362)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 10:28] status-open-bounty commented on #2284
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xf4da6841d1d0e47b46781b15ae47a0661f7148266acdad2596e2c0be36c1710f](https://etherscan.io/tx/0xf4da6841d1d0e47b46781b15ae47a0661f7148266acdad2596e2c0be36c1710f)

[2018-03-01 10:29] denis-sharypin opened #3485 "Increase tap zones for rows with checkboxes"
### User Story

As a user, I want to tap at any place of a row with a checkbox so it will be selected without extra hustle.

### Description

*Type*: Feature

In the current implementation, you have to make a precise tap to a checkbox which is not convenient.
It's better to expand an tap zone to the whole row for lists elements with checkboxes.

This functionality could be found in the following c

[2018-03-01 10:39] janherich commented on #2284
I'm against the idea at this point - we have `experiment/new-protocol-app` branch with potentially huge gains to be made in perf + protocol layer code quality and any cosmetic changes like this will make it super hard to rebase that branch.
I mean, I agree it would be nice to move it to that ns for consistence sake, but now (in coming ~2 weeks) it's particularly poor time to do it.

[2018-03-01 10:41] andytudhope commented on #2284
OK, will not fund this bounty for now then. @jeluard do you have any rebuttal? 😉

[2018-03-01 10:43] jeluard commented on #2284
Sure let's delay that.

@janherich  Can we make sure the `protocol` part is as much as possible decoupled from the UI part of the `chat` ns?

[2018-03-01 10:49] lukaszfryc commented on #2869
@chadyj @oskarth should user be logged out when the app process is killed? Other apps like Messanger keep user logged in. It's really annoying when I'm logged but I didn't expect it.

[2018-03-01 10:50] lukaszfryc commented on #3474
Happens on iPhone 6 as well. Tested on nightly from March 1.

[2018-03-01 10:50] lukaszfryc commented on #3474
Android works fine.

[2018-03-01 10:53] status-open-bounty commented on #3485
Balance: 0.000000 ETH
Tokens: SNT: 700.00
Contract address: [0xe9545844f693bf3e4102c5ac0434e8da09b4db7c](https://etherscan.io/address/0xe9545844f693bf3e4102c5ac0434e8da09b4db7c)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 11:03] lukaszfryc opened #3487 "Notifications about previous messages should disappear when chat is opened"
### Description
*Type*: Bug

*Summary*: Let's say you have 3 notifications about messages for one chat. When the last notification is clicked which opens the chat. Now, the previous 2 notifications should probably be dismissed. The messages were already seen by the user. Instead, user needs to handle the notifications by herself.

Ideally we should dismiss only notifications of messages that we ar

[2018-03-01 11:03] status-open-bounty commented on #3462
Balance: 0.000000 ETH
Tokens: SNT: 1400.00
Contract address: [0x0a6475d45f6e1078d92971577ea5fb027facf777](https://etherscan.io/address/0x0a6475d45f6e1078d92971577ea5fb027facf777)
Network: Mainnet
Paid to: jeluard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 11:09] lukaszfryc opened #3488 "Clicking message notification does not open the chat"
### Description
*Type*: Bug

*Summary*: Right now, clicking a chat notification opens latest visited screen (e.g. Profile). Instead, the chat containing the message should be opened.

#### Expected behavior
When clicking a chat notification, chat with the message should be opened.

#### Actual behavior
Last visited screen is opened.

### Reproduction
- User 1: Open Status
- User 2: Go to Profile i

[2018-03-01 11:11] lukaszfryc commented on #1220
@annadanchenko @rasom I'm now able to reproduce it on iOS on latest nightly (March 1). I've not checked Android. Should we reopen this issue?

[2018-03-01 11:13] andytudhope commented on #3456
Same question as @oskarth asked on another one of the awaiting-approval bounties to do with builds - how will external contributors access the necessary info to get the diawi links published correctly? Need more info here for a M bounty especially.

[2018-03-01 11:19] lukaszfryc opened #3489 "Edit photo needs to be tapped twice to open it. First tap dismisses the keyboard"
### Description
*Type*: Bug

*Summary*: When edit button is clicked in Profile the focus is put in the username input. This means that before user can click edit photo button she first needs to close the keyboard. In the end, 2 clicks are needed to open the edit photo.

#### Expected behavior
Maybe the username input should not get the focus in the first place. When edit button is clicked the user

[2018-03-01 11:21] janherich commented on #2284
@jeluard Sure, that's what we are actually doing there - current situation where you for example call  protocol functions from chat event namespaces and have to extract and pass`web3` object to them is just crazy - that's something which is purely the responsibility of transport (protocol) layer.

[2018-03-01 11:37] lukaszfryc commented on #1176
@rasom @asemiankevich I'm able to reproduce it on latest nightly (March 1). When I try to use an iCloud Photo the screen freezes and you need to kill the app.

Should we reopen it to investigate more?

[2018-03-01 11:44] denis-sharypin commented on #3424
@oskarth  Let's use for this case `Messages connection problem` without any extra icons.  Then we will revisit all errors here https://github.com/status-im/status-react/issues/3015

[2018-03-01 12:35] jeluard commented on #3456
Diawi links are already in our `Jenkins` files so it's a matter of correctly hooking this with github task.

[2018-03-01 13:24] status-open-bounty commented on #2912
Balance: 0.000000 ETH
Tokens: SNT: 350.00
Contract address: [0x7c3594a1f84bf47b929706fd0772e72b8aaabdd7](https://etherscan.io/address/0x7c3594a1f84bf47b929706fd0772e72b8aaabdd7)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-01 13:30] status-open-bounty commented on #3451
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x6061b4e9813abc166faa27353a281ea30bfe0e10cf1063c5679d749ed5e7bd7e](https://etherscan.io/tx/0x6061b4e9813abc166faa27353a281ea30bfe0e10cf1063c5679d749ed5e7bd7e)

[2018-03-01 14:07] #3224 closed, assigned to jeluard

[2018-03-01 14:23] lukaszfryc opened #3491 ""Confirm" headline should be changed to "Confirm password""
### Description
*Type*: Bug

*Summary*: "Confirm" headline should be changed to more "Confirm password" to be more informative:

<img src="https://user-images.githubusercontent.com/7532782/36849338-14a2fc86-1d64-11e8-9122-52ea311e7763.png" width="300">

Note, that Zeplin design is correct, it says: "Confirm password":

<img src="https://user-images.githubusercontent.com/7532782/36849374-31d52cc0-1

[2018-03-01 14:30] lukaszfryc opened #3492 ""Next" button in group chat screen is too small"
### Description
*Type*: Bug

*Summary*: Size of "Next" button in group chat screen is small. In result, it maybe hard to click it.

#### Expected behavior
"Next" button have the same size as "Create":

<img src="https://user-images.githubusercontent.com/7532782/36849610-c3dfcfe4-1d64-11e8-9c73-24d0b6a1043a.png" width="300">

#### Actual behavior
"Next" button size is really small. It's hard to tap

[2018-03-01 14:42] lukaszfryc opened #3495 "Make it easier to close the chat commands panel"
### User Story

As a user, I want to easily open and close commands panel.

### Description

*Type*: Feature

*Summary*: I find it difficult to close the commands panel. When I press command button `/` the button changes to send button. I'd expect it to stay the same unless I provide some command.

#### Expected behavior
Command button should not change to send button if I didn't provide any comma

[2018-03-01 15:24] lukaszfryc opened #3497 "User still receives notifications from contact he has removed"
### Description
*Type*: Bug

*Summary*: User still receives notifications from a contact he has removed.

#### Expected behavior
When user removes a contact we may assume that he does not want to receive incoming message notifications from him.

#### Actual behavior
There is no notification when first message is received from an unknown contact. **But**, when this contact is added and then removed

[2018-03-01 16:36] chadyj commented on #2912
Potentially this solution could solve this issue https://stackoverflow.com/a/38000102
Denis made new transparent png files here https://github.com/status-im/status-react/issues/2912#issuecomment-355638548 ready to be dropped in. Hopefully that will fix it.

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded" width="48" align="right"><div><st

[2018-03-01 16:39] lukaszfryc opened #3498 "Minor UI glitch in QR code scan on Android"
### Description
*Type*: Bug

*Summary*: There is a strange strap while scanning qr code to choose recipient. Happens on Android only. I can reproduce it on Samsung Galaxy S8, Android 7.1.

#### Expected behavior
Screen does not have the strap. This area should be dimmed.

#### Actual behavior
<img src="https://user-images.githubusercontent.com/7532782/36856822-4255d802-1d77-11e8-8b42-ee1cebe6cd11.

[2018-03-01 16:52] lukaszfryc opened #3499 "No spinner when signing in to existing account"
### Description
*Type*: Bug

*Summary*: There is no spinner when signing in to existing account. Sign in button can be clicked multiple times. User may not understand that she is being signed in.

#### Expected behavior
After clicking the sign in button there is an info (and spinner) that I'm being signed in. I understand what is happening.

#### Actual behavior
No spinner. User can interact with

[2018-03-01 17:03] lukaszfryc opened #3500 "Have "Sending.." status for messages sent when device was offline"
### User Story

As a user, I want to see a different status for messages sent when I was offline so I can know that they are not sent yet.

### Description

*Type*: Feature

*Summary*: It's not true that a message is sent when device is offline. Maybe "Sent" status should be changed to "Sending..".

#### Expected behavior
I understand that some of my messages have not been sent yet.

#### Actual b

[2018-03-01 17:04] yevh-berdnyk opened #3501 "Push notification alert is shown on the first app start"
### Description

*Type*: Bug

*Summary*: Push notifications alert appears right after first opening the app

#### Expected behavior
Push notification alert appears on the Home view after account creation or recovering

#### Actual behavior
Push notification alert is shown
![img_0016](https://user-images.githubusercontent.com/29711298/36858201-36dcd92e-1d83-11e8-86f3-3fed7907c099.PNG)

### Reproduc

[2018-03-01 22:26] yevh-berdnyk opened #3503 "'Creating your account' view appears before name is set"
### Description

*Type*: Bug

*Summary*: When creating new user **Creating your account on the blockchain...** view and loading indicator appears before name input but should be after it

<img width="374" alt="screen shot 2018-03-02 at 12 22 18 am" src="https://user-images.githubusercontent.com/29711298/36872995-d85c7e0e-1daf-11e8-9e11-c4d2f555b48f.png">
#### Expected behavior
**Creating your acco

[2018-03-02 09:21] #3377 closed, assigned to nobody

[2018-03-02 09:33] asemiankevich opened #3505 "Error: No item 1 in vector of length 1"
### Description

*Type*: Bug

*Summary*: Error when relogin

`1:37 I/ReactNativeJS: NAME: "Error"
01:37 I/ReactNativeJS: MESSAGE: Error: No item 1 in vector of length 1
01:37 I/ReactNativeJS:
01:37 I/ReactNativeJS: This error is located at:
01:37 I/ReactNativeJS:     in home
01:37 I/ReactNativeJS:     in reagent21
01:37 I/ReactNativeJS:     in RCTView
01:37 I/ReactNativeJS:     in reagent20
01:37

[2018-03-02 11:27] #3013 closed, assigned to nobody

[2018-03-02 12:01] #3433 closed, assigned to lukaszfryc

[2018-03-02 15:47] lukaszfryc opened #3508 "Empty space below the "Type a message" input after sending ETH"
### Description
*Type*: Bug

*Summary*: After sending an asset and returning back to the chat the place for keyboard does not collapse. There is an empty space below the "Type a message" input. It does not happen on every device though. Can be reproduced on iPhone 6 but not on a faster device like iPhone X.

<img src="https://user-images.githubusercontent.com/7532782/36907184-404713d4-1e38-11e8-8e

[2018-03-02 16:07] lukaszfryc commented on #3130
In addition to setting gas price and gas limit to 0 there is also another case. @Serhy found that if there is no network when requesting for "lowest gas price" the gas limit and gas price fields are empty. If then user tries to send transaction he gets `transaction underpriced`. It can happen not only in wallet but in a chat as well (`/send`).

First thing we could do is to display more meaningful

[2018-03-02 17:07] yenda commented on #3424
There are 3 differents cases here:
- connecting to mailserver (up to 100 attemps), means it might work in a moment
- mailserver disconnected, I am not sure what this one will mean because we only request messages after login so if mailserver disconnects after sending us the messages we missed it doesn't really matter.
- no peers connected, you won't even be able to send messages so quite similar t

[2018-03-02 19:00] yevh-berdnyk opened #3509 "Camera doesn't open after giving permission when adding contact"
### Description

*Type*: Bug

*Summary*: After installing app when user adds a contact scanning QR code and giving camera access he needs to tap QR code again

#### Expected behavior
Camera opens

#### Actual behavior
User stays on the New chat view with list of contacts and should tap QR code icon again to scan QR code

### Reproduction
- Open Status after the install
- Click Plus button on the H

[2018-03-02 19:26] yevh-berdnyk opened #3510 "Default name is displayed for user who has not added back to contacts"
### Description

*Type*: Bug

*Summary*: When adding some user to contacts default name is displayed for him until he also adds me to contacts

![img_2d9131101abb-1](https://user-images.githubusercontent.com/29711298/36917728-44cc98c0-1e60-11e8-9ccf-c33f5fbf388e.jpeg)

#### Expected behavior
Contact is shown with a name selected by him

#### Actual behavior
Default name is shown on the chats, grou

[2018-03-02 20:03] yevh-berdnyk opened #3511 "Public chat topic not aligned symbols when typing [iOS]"
### Description

*Type*: Bug

*Summary*: Symbols in public chat topic edit box are not aligned with pre-added hash symbol
![img_759b1944a665-1](https://user-images.githubusercontent.com/29711298/36919207-37e02654-1e65-11e8-8c9a-1da43ab11689.jpeg)

#### Expected behavior
Letters are on one line with hash symbol

#### Actual behavior
Letters are not aligned with the hash symbol, they are placed high

[2018-03-02 20:43] yevh-berdnyk opened #3512 "Broken layout of the /send funds message for small amount"
### Description

*Type*: Bug

*Summary*: When sending small ETH amount in one-to-one or group chat message layout is broken

Android:
<img width="516" alt="screen shot 2018-03-02 at 10 35 02 pm" src="https://user-images.githubusercontent.com/29711298/36920855-c7c901fa-1e6a-11e8-8bd5-4fa9851b8c66.png">

iOS:
<img width="516" alt="screen shot 2018-03-02 at 10 35 02 pm" src="https://user-images.githu

[2018-03-02 21:31] yevh-berdnyk opened #3513 "'Error on command handling' when requesting ETH in chat"
### Description

*Type*: Bug

*Summary*: Error appears when requesting funds in one-to-one chat and as added member in group chat with only 2 members

<img width="513" alt="screen shot 2018-03-02 at 11 10 44 pm" src="https://user-images.githubusercontent.com/29711298/36922770-c684db3c-1e71-11e8-9e47-2bb0691a1ed0.png">

#### Expected behavior
Request is sent without error

#### Actual behavior
'Err

[2018-03-03 12:20] audriu commented on #889
Could I use a React Native module for this or is it better just to add code?

[2018-03-03 17:05] divan commented on #3280
I can't see it working in a nightly builds. Can someone check if it works?

[2018-03-03 19:25] yenda commented on #3510
This is normal behavior you cannot know the name of a contact until he adds you back.

[2018-03-04 03:37] foopang commented on #3394
@lukaszfryc Some WIP [here](https://github.com/status-im/status-react/pull/3517/files). I don't think it is possible to add accessibility labels for above specified for contextual menu items and dialog text.

[2018-03-04 14:13] yenda commented on #3505
Note if this error shows up in the future:

If you deconstruct a vector and you don't pass a vector with enough items you get `No item 1 in vector of length 1` and somehow it won't necessary show up in develop mode.
So one of the first thing to check is reg-fxs and their calls

[2018-03-04 18:05] pedropombeiro commented on #3424
Reopening since the fix is temporary

[2018-03-04 18:32] #2699 closed, assigned to janherich, annadanchenko

[2018-03-05 06:37] dmitryn opened #3520 "Cannot start 1-1 from public chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

When i tap on profile pic on public chat member and select "Start conversation" then "Unknown" chat opened, but not 1-1 with that member.

I also see "chat.chat-id must be of type 'string', got 'null' (null)" error after i tapped "Start conversation".

### Reproduction
[comment]: # (Describe how we can replic

[2018-03-05 13:52] lukaszfryc commented on #3394
@foopang great stuff. Is there an other way to reference menu items and dialog texts? Btw, could you also take a look at #3479, #3477 and #3472? Those are all about accessibility labels.

[2018-03-05 13:52] #3426 closed, assigned to lukaszfryc

[2018-03-05 14:41] foopang commented on #3394
@lukaszfryc I think you can get reference of those menu items and dialog texts either by [XPath](https://stackoverflow.com/a/33585203/7764806) or [use this suggested method](https://github.com/appium/appium/issues/521#issuecomment-17429501).

And thanks for creating those issues! Will sure check them out.

[2018-03-05 17:06] lukaszfryc commented on #3394
@foopang thanks. Ideally, I'd not use XPath or index of an element which is the case in `.findElements(By.tagName("button")).get(0)`. I'd want to be sure that if ordering of buttons has changed my tests still work as expected.

[2018-03-06 03:21] oskarth commented on #3467
-- Roman from Slack re https://github.com/status-im/status-react/pull/3493

[2018-03-06 10:18] foopang commented on #3394
@lukaszfryc hmm..sorry, I don't really know how to make it work best for your tests when couldn't add accessibility labels for dialog texts and menu items. @jeluard what is your opinion on this?

[2018-03-06 10:43] lukaszfryc commented on #3394
No worries. If we can’t add it to dialog texts and menu items we will just
use XPath.

On Tue, 6 Mar 2018 at 11:18, Foo Pang <notifications@github.com> wrote:

<blockquote><img src="https://avatars3.githubusercontent.com/u/7532782?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/lukaszfry

[2018-03-06 13:34] foopang commented on #3394
@lukaszfryc Alright, cool. https://github.com/status-im/status-react/pull/3517 is ready for review now.

[2018-03-06 16:14] vemv opened #3525 "Metro OOMs"
Hi!

Newbie to Status development here, trying to build the project (iOS + iPhone). I can get past most steps, but I'm hitting the following OOM:

![image](https://user-images.githubusercontent.com/1162994/37043493-05630f8a-2161-11e8-87c9-e7d7a4dade78.png)

Should a `max-old-space-size` flag be placed somewhere? Not yet very familiar with the RN stack myself...

Btw I'm using a 8GB macbook, not su

[2018-03-06 16:16] mandrigin commented on #3525
@vemv as a workaround you can use `node --max-old-space-size=4096 "./node_modules/react-native/local-cli/cli.js" start` to start the metro bundler instead of `make react-native`. That should suffice.

[2018-03-06 16:17] mandrigin commented on #3525
for the record, I have this issue as well, would be glad to have any guidance on how to avoid it 🤓

[2018-03-06 16:46] vemv commented on #3525
Thanks so far @mandrigin !

Now I'm seeing Metro getting stuck at 0%:

` BUNDLE  [ios, dev] ./index.ios.js ░░░░░░░░░░░░░░░░ 0.0% (0/1)`

Not sure if it's just a matter of waiting...

[2018-03-06 16:53] mandrigin commented on #3525
@vemv it takes quite a while on my MBP

[2018-03-06 21:12] Marina-Kovalevich commented on #3520
Also can't start 1-1 chat from group chat.
Opeating system: Android.
Status version: 2018/03/06 03:19:52 UTC

[2018-03-06 21:39] Marina-Kovalevich opened #3526 "Can't start 1-1 after tryng to send ETH via Start new chat-->Profile-->Send transaction"
*Type*: Bug

*Summary*:
Can't start 1-1 chat after tryng to send ETH via Start new chat-->Profile-->Send transaction.
"Unknown" chat is opened when trying to start 1-1 chat or send transaction to selected reciever before.

#### Expected behavior
Sending transaction message appeares in 1-1 chat with selected receiver. New 1-1 chat can be started.

#### Actual behavior
"Unknown chat" is opened with

[2018-03-06 22:02] Marina-Kovalevich opened #3527 "New 1-1 chat starts with deleted chat history"
### User Story

As a user, I expect that I won't see chat history from deleted 1-1 chat when I start new one.
As there is no button in 1-1 chat "delete history" - so I expect that chat history will be deleted as chat itself.

*Type*: Bug

*Summary*:
1-1 Chat history is uploaded when start new chat after deleting it

#### Expected behavior
New chat is started with no chat history.

#### Actual beha

[2018-03-06 22:04] vemv commented on #3525
Tried it again and for me, the alternative command definitely hangs forever

[2018-03-07 09:16] mandrigin commented on #3525
@vemv hmm, you can try giving it more RAM and see what happens...

[2018-03-08 12:55] payamrafiee opened #3530 "build iOS failed"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to build status on iOS simulator.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Er

[2018-03-10 18:43] enricrp8 commented on #2871
I am new in Status, so I'm not used  to how do you apply for a project.
I would like to help you with that project, but I need more information:
Do you wanted in React, just Android,just iOS or both(using java and swift)?

[2018-03-10 18:54] enricrp8 commented on #2912
Still having the problem?

[2018-03-10 23:34] chadyj commented on #2871
Hey @enricrp8 thanks for your interest. Check out the [wiki](https://wiki.status.im/Developer_Documentation) for tips on how to [get started](https://wiki.status.im/Developer_Documentation).

[2018-03-10 23:36] chadyj commented on #2912
@enricrp8 Yes. Thanks for taking a look.

[2018-03-11 00:35] vemv commented on #3525
Tried several times, didn't work

[2018-03-11 00:53] vemv opened #3536 "make run-ios: Lots of `warning: could not find referenced DIE`"
When running `make run-ios`, I see lots of these:

[code]

Dunno if they are harmless (build succeeds). The few times I could get to run the project (I say _few_ because of https://github.com/status-im/status-react/issues/3525) I would see the Status splash screen but nothing else worked (clicking on this splash screen would do nothing).

Cheers - Victor

[2018-03-12 02:00] oskarth commented on #3424
@PombeirP @yenda  In what way is the fix temporary? If it is just:

I think the solution in PR above is Good Enough. Are there any other major problems you see?

[2018-03-12 02:06] chadyj opened #3537 "Add Mixpanel Library"
*What*
Add the Mixpanel client library to Status

*Why*
This is the first step in collecting opt-in metrics for the purpose of understanding how the Status app is used in order to make it better. Full background is defined in [Idea 68](https://github.com/status-im/ideas/issues/68).

*Details*
It is very important that metric collection is strictly opt-in, and anonymous. The https://github.com/stat