[2019-05-14 09:16] vkjr commented on #7200
Cool, when desktop get mobile UI, this feature will be there automatically.

[2019-05-14 09:23] pedropombeiro commented on #8203
After a quick test of disabling our usage of Timbre, this is the report on the differences between 2 builds of the same commit:

![image](https://user-images.githubusercontent.com/138074/57686780-826ef000-763a-11e9-8d96-7d3cfe91dfb2.png)

The main issue seems to be the lib folder (which contains artifacts built by RN Android using the NDK). The differences in `META_INF` can be assumed to be implic

[2019-05-14 10:10] dmitryn commented on #8145
I'm going to use this set of characters to generate pairing code
`!#%+23456789:=?@ABCDEFGHJKLMNPRSTUVWXYZabcdefghijkmnopqrstuvwxyz`
taken from here https://www.grc.com/ppp.htm
(there is no small 'L' and capital 'i')

[2019-05-14 10:45] dmitryn commented on #8145
@bitgamma @gravityblast does this char set look secure? This is how it's implemented https://github.com/status-im/react-native-status-keycard/blob/generate-pairing-code-from-chars/android/src/main/java/im/status/ethereum/keycard/SmartCardSecrets.java#L70

I'm also thinking about excluding some of special symbols (like `=` and `:`) as it might look unusual from UX perspective having them in passwor

[2019-05-14 10:57] bitgamma commented on #8145
@dmitryn looks fine to me, the security requirements for pairing code are not too high so it would be fine even to exclude punctuation.

[2019-05-14 11:42] #7371 closed, assigned to nobody

[2019-05-14 13:36] annadanchenko commented on #8196
@mandrigin @rachelhamlin @j-zerah proposed text for comms on hotfix 0.12.2 `Hotfix to improve mailservers' performance`

[2019-05-14 13:48] j-zerah commented on #8196
We've pushed hot fix 0.12.2: it includes a fix to improve mailserver performance.

Update to the latest version here https://status.im/get/

work?

[2019-05-14 15:08] annadanchenko commented on #8196
Small update (mailservers' instead of mailserver):

We've pushed hot fix 0.12.2: it includes a fix to improve mailservers' performance.

Update to the latest version here https://status.im/get/

[2019-05-14 16:59] pedropombeiro commented on #8203
Since we cannot trust the build ID (`.note.gnu.build-id`) to be constant across build machines (e.g. source path differences count towards the build ID), we need to disable it with `-Wl,--build-id=none` in two places:

- in React Native where it is explicitly enabled and used for stack trace purposes (hopefully not impactful for us);
- on our status-go build, where a random number is used for the

[2019-05-14 17:21] tbenr commented on #7204
@krisc @StatusSceptre @jeluard yeah, if it is still relevant. But work was applied also by @sypha999

[2019-05-14 19:00] FabioBonfiglio opened #8209 "web3.personal.sign() not displaying message to sign and refusing password"
# Problem

Same as described [here](https://github.com/status-im/status-react/issues/4529) (best matching issue I found, but closed a long time ago), plus the fact that entered password isn't accepted, in response to a `web3.personal.sign("My message..", address, callback)` call.
Works well in Metamask.

[2019-05-15 06:50] flexsurfer commented on #8209
hey, thanks for the issue, could you please provide some code?

[2019-05-15 08:29] FabioBonfiglio commented on #8209
Sure. Here is a snipet :
[code]
Works well in a browser with Metamask.
In Status, it displays the signing screen, but message isn't displayed, and password isn't accepted ("wrong password" toast message) even with correct password.
Issue present in both normal and dev modes.
I use Status version 0.12.1 (status-go vv0.24.0-beta.1) and I run it on Android 9.

[2019-05-15 08:37] FabioBonfiglio commented on #8209
Here is a screenshot :
![Screenshot_20190515-103129](https://user-images.githubusercontent.com/48284219/57761197-4e103800-76fd-11e9-85e8-07ff07311f53.png)

[2019-05-15 09:23] annadanchenko commented on #8196
got Apple approval for ios build in TestFlight, release will be pushed today May 15, 2019 15:00 CEST

[2019-05-15 09:33] alexanmtz commented on #7105
@jeluard , I'm working on this and there's different ways that this component could be implemented, but it changes a lot depending of the way we choose.

So, to try to give an example of a real use, you would like to have an `input-range` component, or an `input` with a range property that will have extra properties max and min using the same input?

So here is the two example
[code]

or something

[2019-05-15 09:45] jeluard commented on #7204
@tbenr It's not considered a priority for now. Maybe some other bounty could be more interesting
?

[2019-05-15 10:15] flexsurfer commented on #8209
thanks @FabioBonfiglio i'll take a look!

[2019-05-15 10:42] flexsurfer commented on #8209
[code]
if you need a workaround for now

[2019-05-15 10:49] jeluard commented on #7105
Second approach sounds good to me (improving the existing one).

Can you detail what issue you have? Have you tried hooking a function in `on-change` ?

[2019-05-15 11:04] alexanmtz commented on #7105
Good @jeluard , I tried the first approach on the beginning and now I will follow with the second one, but I can imagine that the `input-range` component will accept all the existent regular props from the existing input component, right? I'm trying to figure out how to do it without duplicate the code passing everything from the input again as keys. Can you illustrate how extend the props in cloj

[2019-05-15 11:14] jeluard commented on #7105
My bad I meant first one. Just providing min or max should be fine (no type), WDYT?

Right we want to check real time. What issue did you get with on-change?

[2019-05-15 11:17] FabioBonfiglio commented on #8209
This workaround works and now the password is accepted and I'm able to sign the message.
However, in the case of a long content, message is truncated and only the last lines are displayed :

![Screenshot_20190515-131405](https://user-images.githubusercontent.com/48284219/57771670-aa7e5200-7713-11e9-9251-a9e1df647dae.png)

[2019-05-15 11:36] alexanmtz commented on #7105
Ah, great, I think is a good and simple solution, if there's `min` and `max` property check the range and raise the error if is not in range 👍

And this option make the things more difficult and is related with the issue with on-change, let me explain why:

Here's the component with the changes of the #7104 that support error and we should reuse:
https://github.com/status-im/status-react/blob/deve

[2019-05-15 11:44] flexsurfer commented on #8209
@FabioBonfiglio you can scroll a message, but yes it's a bad UX, will be addressed in the new wallet UI soon

[2019-05-15 12:03] pedropombeiro commented on #8203
I was able to get a bitwise identical Android build from 2 separate CI builds (https://ci.status.im/job/status-react/job/combined/job/mobile-android/10934/ and https://ci.status.im/job/status-react/job/combined/job/mobile-android/10935/):

[code]

for this I had to remove both `.note.gnu.build-id` and `.gnu.version_d` sections. The only part changing in `.gnu.version_d` is the `vd_hash` field (see

[2019-05-15 12:16] FabioBonfiglio commented on #8209
Unable to scroll here.
Looking forward to the new UI then :)

[2019-05-15 13:06] annadanchenko commented on #8196
sorry guys, but we need to investigate new issue found in the last moment, will update in ~1 hr on the next steps

[2019-05-15 13:19] tbenr commented on #7204
@jeluard OK!

[2019-05-15 13:32] annadanchenko commented on #8196
issue is not a blocker, pushing release now

[2019-05-15 13:35] annadanchenko commented on #8196
ios and android releases are pushed.
updated stable page with links to new artefacts https://github.com/status-im/status.im/pull/326
updating release schedule https://github.com/status-im/status.im/pull/328

[2019-05-15 14:19] asemiankevich opened #8216 "Error: There is no route defined for key home when log in after tapping push notification while status is closed (iOS 12)"
# Problem

Status is crashing when i log in after I tap push notification while status is not running on background. it happens on iOS 12.

## Note: to receive PN on iOS 12 you must have application running on background.

## Additional info

- build: nightly / release 0.12.2
- OS: iOS 12 and higher
- device: reproduced on iPhone XR

## Steps

1. open status on iOS
2. add a contact (device B)
3. s

[2019-05-15 14:39] Serhy opened #8217 "Empty mailserver added after app opened from PN with account autologin enabled [Android]"
*Type*: Bug

*Summary*: When contact opens an app from PN with autologin enabled - in the list of mailservers there is an empty-value mailserver is added.
If to switch to this <no-value> mailserver then simultaneously 'Autoselection mailserver' setting is enabled -> connection to the <no-value> mailserver fails and contact switches to valid mailserver as expected.

With no autologin it's all fine

[2019-05-15 14:49] Serhy commented on #7255
Can not reproduce anymore (Release build 0.12.2).
Closing the issue.

[2019-05-15 14:49] #7255 closed, assigned to nobody

[2019-05-15 15:16] pedropombeiro commented on #8203
Another issue that I've come across is that React Native's dependencies (e.g. boost, folly, glog) make heavy use of `__FILE__`, causing the host build path to end up in the `.rodata` section of `libreactnativejni.so`. This is an obstacle for cross-machine reproducible builds. One way I've seen suggested to get around this is to pass relative paths to gcc. I've tried modifying RN's `ReactAndroid/bu

[2019-05-15 20:56] yenda commented on #8151
Considering the difficulties described here: https://discuss.status.im/t/wallet-improvement-log/1221/2 I propose to amend the Acceptance Criteria on this issue on word it `Status no longer relies on etherscan for fetching new transactions while user is logged in. Historical transactions are still fetched by etherscan`

#8221 will then close this issue and also fix the token transfer list limitatio

[2019-05-16 06:36] jeluard commented on #7105
You can probably use a Clojure `atom` to achieve that. input depends on it to display the error and it can be updated in the `on-change` handler.

You can find existing use of such pattern in the codebase.

[2019-05-16 09:47] #8074 closed, assigned to nobody

[2019-05-16 15:29] e18r commented on #4606
Hi, I'm still working on getting the unfurling library to work with ClojureScript. I have to manage the asynchrony of ClojureScript's HTTP clients, which is tricky if one wants to stay compatible with Clojure HTTP clients, which aren't asynchronous. I'll keep you guys informed.

[2019-05-16 15:38] pedropombeiro commented on #8203
I’ve set up a public Git repo where I’m working on a Hello Word Nix-based React Native app here: https://github.com/PombeirP/nix-react-native-test. I was able to successfully build it and deploy to Android, so clearly something else is the problem in status-react, most likely one (or several) of the RN modules that we import.

Update: When talking with Roman, I was remembered that we [build RN fro

[2019-05-16 22:13] sergeevabc commented on #6726
Thanks for creating this issue, Pedro.

[2019-05-16 22:35] tbenr commented on #6573
@decanus not in the current implementation.

[2019-05-17 03:05] BryanAPinos commented on #5787
Yes I'm still interested and would like to work for this bounty.

On Fri, May 10, 2019, 10:37 AM StatusSceptre <notifications@github.com>
wrote:

[2019-05-17 11:27] janus commented on #7983
Is this issue closed? I would like to work on it.

[2019-05-17 11:43] flexsurfer commented on #7983
@janus it's not closed, but it's not a bounty anymore, core contributor is working on it

[2019-05-17 14:01] churik commented on #5749
Mostly it is fixed by #8005
But still:
-  token transactions are not shown if they are made more than two weeks ago
-  token transactions are not shown if they are in tokens, which are not included on "Assets"

Should be fully closed after merge #8221

[2019-05-17 14:36] #8145 closed, assigned to nobody

[2019-05-17 14:36] churik opened #8226 "AppImage can't start on some Linux systems"
# Problem
from #status channel:
![Linux](https://user-images.githubusercontent.com/4557972/57935023-279afa00-78c1-11e9-8df1-812f2d1ab7a0.png)

## Notes
In https://status.im/docs/FAQ-desktop.html there is no info about supported versions of Linux / Mac OS.
From testing perspective: now for sure app is working on Linux Ubuntu 18.04 and it is not working on Linux Ubuntu 16.x

## Future Steps

Update

[2019-05-17 14:45] churik commented on #8226
@vkjr @siphiuel probably you can help to find out which versions are supported.

[2019-05-17 15:02] vitvly commented on #8226
I think we support Ubuntu only starting from 18.04.

[2019-05-17 16:41] bitsikka commented on #7947
@gitcoinbot waiting for review - #8009

[2019-05-17 16:44] corpetty commented on #7947
Hey @bitsikka, just a heads up.  I'm training someone else to help out with handling the bounties so we're more snappy about it.  This will be on the list of things to go through on Monday.  Thank you so much for your patience with us!

[2019-05-17 17:02] bitsikka commented on #7947
@corpetty

awesome!

most welcome! 👍

[2019-05-18 09:17] bitsikka commented on #7968
@StatusSceptre  just saw this now(i have all notifications turned off everywhere) :smile:

yes, this is right up my alley - going for it

@hesterbruikman, @StatusSceptre,

having worked on #7715 recently, I also noticed that usage of bottom-sheet implementation/design is inconsistent/not-updated-according-to-figma-design in other places like the chat-actions bottom sheets. The issue(s) is/are not

[2019-05-18 09:36] bitsikka commented on #7968
Just updated my notifications settings to not miss this again

Thanks for proactively considering me on this issue. Please feel free to mention me again in the future and I will respond in a timely manner

[2019-05-19 08:27] vkjr commented on #8226
@siphuel, do you know how we got this limitation?

[2019-05-19 12:20] bitsikka commented on #7968
@hesterbruikman figma design is not loading for me. I tried viewing it in chrome and firefox

[2019-05-19 14:20] rachelhamlin commented on #8047
Hi @uivlis, TTT is `Tribute to Talk`, our paywall feature for chat. It allows any user to set a minimum required _tribute_ that must be paid before they can be messaged. You can read the initial spec [here](https://github.com/status-im/swarms/tree/master/ideas/314-tribute-to-talk), and there's some additional information in [this PR](https://github.com/status-im/status-react/pull/8036) as well.

@

[2019-05-19 14:36] uivlis commented on #8047
Thank you @rachelhamlin for the references. Can't wait to get going.

[2019-05-20 07:47] #8196 closed, assigned to nobody

[2019-05-20 08:22] flexsurfer opened #8236 "[Wallet] Custom token details and remove"
It should be possible to see token details and remove token on long press

![image](https://user-images.githubusercontent.com/11790366/58006623-c7869c80-7ae8-11e9-8cb2-ee2e71b22b8d.png)

Acceptance criteria:

1. pixel perfect
1. it's possible to long press custom token and see bottom sheet
1. it's possible to delete custom token
1. it's possible to see tokens details

Figma: https://www.figma.com/

[2019-05-20 08:55] #8187 closed, assigned to nobody

[2019-05-20 09:38] annadanchenko commented on #7988
Full description should be changed in all full_description.txt files for each language in fastlane/metadata/android :

1. Remove first option with Light client claim in section Beta features
2. Update https://chat.status.im/ to https://get.status.im/chat/public/status

[2019-05-20 10:51] mandrigin commented on #8177
The first one comes from `gomobile`, issue here: https://github.com/golang/go/issues/31364
They are working on the fix: https://github.com/golang/mobile/pull/31 so we need to wait for the next gomobile release.

Issue in `okhttp`: https://github.com/square/okhttp/issues/3980
They are not considering this issue until either this functionality is broken or the API becomes public.
We can't get rid of

[2019-05-20 11:15] uivlis commented on #8047
Alright, I'm lost.

I see Clojure everywhere, although the tag on Gitcoin was "Javascript". Never mind, I can still do it. But, I am unable to find the TTT contract in this repo.

@yenda @3esmit Would any of you be willing to put me up to speed in a small brief about where should I look at? I would be quite thankful.

[2019-05-20 12:03] Serhy opened #8239 "App crash when submit cryptokitties with different than it's valid domain"
**_Type_**: Bug

**_Summary_**: Status crashes when requesting in Status app browser cryptokitties with different than `.co` domain name (e.g. of domain name values are `.com`/`.io`/`.blarandom` etc)
Could not get example with several other Dapps.

#### Expected behavior
`Unable to load page` page in Status browser app when open `https://www.cryptokitties` with different than `.co` domain name

##

[2019-05-20 12:29] #7983 closed, assigned to nobody

[2019-05-20 13:19] rachelhamlin commented on #6375
Thanks for applying @bitsikka! Ping us if you need help getting started.

[2019-05-20 13:23] yenda commented on #8047
@uivlis hello, at this point I think the best solution is to start your PR from #8228 (edited)

you can get existing contract addresses with `contracts/get-address` in `src/status_im/ethereum/contracts.cljs`
you can call the contract function with `json-rpc/eth-call` in `src/status_im/ethereum/json_rpc.cljs`

the call will look like this:
[code]

[2019-05-20 13:26] Serhy commented on #7988
@annadanchenko , @oskarth, I have a question:
We have full description for Android in several languages: de, en, fa, fr, ja, ko, pt, ru and zh.
And we have several default public chats in 'Selected' list in app. Would it makes sense to use instead https://chat.status.im/ reference to the respective public channel (if no public channel in app - default to `status`)?
So it would be:

|  Full_descrip

[2019-05-20 14:17] annadanchenko commented on #7988
@j-zerah wdyt? point to status chat or specific "language" chat (like https://get.status.im/chat/public/status-russian)

[2019-05-20 14:45] j-zerah commented on #7988
Good question. I think including every language in the app description is not scalable as we grow and start to have communities all over the world. Also - it is better to join and see an active community and then find the specific channel you are looking for from there (as opposed to being dropped into a channel with nobody there).

I think best to drive to 2 channels for now:

Introduce yourself

[2019-05-20 15:04] #7715 closed, assigned to nobody

[2019-05-20 15:24] #8098 closed, assigned to nobody

[2019-05-20 16:04] yenda commented on #8047
@uivlis actually this PR https://github.com/status-im/status-react/pull/8228

[2019-05-20 16:21] leroldary opened #8241 "eth_signTypedData_v3 password is refused."
# Problem
eth_signTypedData_v3 isn't working for all valid messages. Trying to sign the eip712 structured data "wrong password" is displayed.
Example: https://dicether.github.io/js-eth-personal-sign-examples/ ("Sign Typed Data V3").

[2019-05-20 17:04] Serhy commented on #7988
Thanks @j-zerah. The single reference to #status public will be used for all languages as an update in the scope of this issue

There is a separate issue will be created to get all translations for the

[code]

[2019-05-20 17:59] #4856 closed, assigned to hesterbruikman

[2019-05-20 18:21] krisc commented on #5654
I'm working on issues before I get to this one. I'm still interested in working on it, but if anyone wants to take over, I'll gladly step back from this.

[2019-05-20 19:54] #7245 closed, assigned to errorists

[2019-05-20 20:03] #7440 closed, assigned to nobody

[2019-05-21 00:15] e18r commented on #4606
I've been researching about how asynchrony works in JavaScript. Now that I have a better understanding of it, I will finally be able to port the unfurling library to ClojureScript. I'm sorry this is taking so long - it will still take me a while.

[2019-05-21 07:28] uivlis commented on #8047
Am I correct that I cannot build Status on a Windows machine? I couldn't find anything on the matter, except for this document which ceased to work: https://github.com/status-im/wiki.status.im/blob/master/docs/contributing/development/building-status.md.

[2019-05-21 07:50] flexsurfer opened #8243 "[Wallet] erc20 custom tokens leftovers"
@hesterbruikman :
'Add custom token' can use some more love:
a) Retains position on list scroll, but has no visual indication of this. Is this as specified? @errorists can you please take a look?
b) If the behavior of Add custom token is that it adds all selected items, I think it needs a stronger conection to the Select boxes. Maybe same row as 'default' title as in one of the design proposals

@

[2019-05-21 08:51] #8163 closed, assigned to nobody

[2019-05-21 09:26] errorists commented on #8243
Some additional things: upon loading the list of tokens ( ••• -> Manage Assets ) my phone becomes unresponsive - can't scroll or toggle - for 2-3 seconds, iPhone X, iOS 12.3 :(

Both the 'Add custom token view' and 'Assets' use the incorrect white Status Bar appearance (btw it's a pain in the ass we have to do this manually each time)

Does the token icon get a randomly assigned background color s

[2019-05-21 09:34] flexsurfer commented on #8243
wow that's weird, haven't noticed that, and you don't have same in nightly right?

could you elaborate, please?

yes it's , i use these colors https://github.com/status-im/status-react/blob/develop/src/status_im/ui/components/colors.cljs#L48, for me it was mostly green as well, but i saw purple once, should work the same as for chats, have you noticed if chats mostly green?

long press was merged

[2019-05-21 09:37] yenda commented on #8047
@PombeirP should'nt this be updated with the new nix environment?

[2019-05-21 09:39] #7988 closed, assigned to nobody

[2019-05-21 09:41] errorists commented on #8243
It happened on first open, on second open I could scroll but it was super laggy with maybe a couple FPS, on third was ok. It looks like it's not optimised for the amount of things to render in the list.

edit, nightly: the same, there's a noticeable delay between pressing Managing assets and the Assets view transitioning and while I start scrolling after open, I see it starts to load other list it

[2019-05-21 10:09] pedropombeiro commented on #8047
@yenda @uivlis I wasn't even aware of that page, it looks quite out-of-date and should probably be removed. The official documentation is at https://status.im/build_status/

Windows is not supported as a build platform (only as a target platform when building from Linux). It would be quite complicated to support for little return, when we can already target it on Linux. Maybe an easier solution to

[2019-05-21 10:33] Rikku-x commented on #6517
@StatusSceptre I can fix it but I can't apply on gitcoin because work on this issue has already started by another contributor.

[2019-05-21 11:24] vkjr opened #8246 "Generate ubuntu-server binaries during build"
# Problem

Ubuntu-server binaries better to be generated during build because their replacing requires a lot of manual work: generating new binaries, uploading them to servers, changing hashes in nix files.

## Implementation
Here are steps that needed to generate binaries:
1) pkg package should be installed - https://github.com/zeit/pkg
`npm install -g pkg`

2) yarn install should happen before n

[2019-05-21 12:03] asemiankevich commented on #8200
was able to reproduce it in https://github.com/status-im/status-react/pull/8228 when deleting public chat

[2019-05-21 12:10] yenda commented on #8200
@asemiankevich have you tried on other PRs (needs to be a build with log/error enabled because it's how they show in PR builds, on nightlies you would only see that in the logs), because #8228 doesn't touch chats at all

[2019-05-21 12:23] yenda commented on #8200
@asemiankevich the cause is already known

There is a comment from @cammellos in the code:
[code]

Basically this is reproducible by adding #status public chat and deleting it not too long afterward because you will still be receiving messages from the mailserver but the chat will be deleted from the database at that time so the transaction will fail

[2019-05-21 12:24] asemiankevich commented on #8200
thanks for checking that @yenda !

[2019-05-21 14:18] asemiankevich opened #8249 """ when grant access to ens dapp shown, it prevents the name to be registered"
# Problem
Can't register ens username .

## Steps

1. open status on mainnet
1. open names.statusnet.eth dapp
1. select any free username and tap Grant access -> note that "" shown instead of dapp name
![image](https://user-images.githubusercontent.com/28752642/58103806-4adce680-7bec-11e9-8f71-dc30d7b560dc.png)
1. tap Allow -> Register -> Sent SNT

[2019-05-21 14:23] uivlis commented on #8047
Alright, I can't install WSL2 at least not until June (when it's released), and even if I install WSL there's just too much hassle with installing git and getting the graphics to work from a command prompt and so on.

At this point, I think it would be best to stop work. I always wanted to have a Linux machine, but time will tell when that's going to be... Thank you, though, for your kind help, an

[2019-05-21 15:41] oskarth opened #8251 "IPFS Gateway reportedly unreliable (PLACEHOLDER ISSUE)"
NOTE: This is a placeholder issue as I haven't personally experienced this issue, please edit it/close it as appropriate.

# Problem

It appears IPFS gateway is "unreliable" (NOTE: Unqualified statement, I don't know what people mean by this.)

## Acceptance Criteria

- Understand root cause of why unreliable
- Fill upstream bug if necessary
- Either fix or leave open as upstream or wontfix

## No

[2019-05-21 15:42] oskarth commented on #8251
@yenda @siphiuel @churik @bgits @flexsurfer you guys have actually experienced this issue, so please edit this as appropriate with better details.

[2019-05-21 15:48] vitvly commented on #8251
I've experienced 2 kinds of issues:
1. Timeouts when invoking ipfs add through HTTP API.
2. Even after file is added successfully, often not possible to get it afterwards using the same gateway URI. But might be possible from a different gateway.

[2019-05-21 15:51] oskarth commented on #8251
@siphiuel Thanks. These sound like two separate issues, can you please create these as two issues with more details, including basic version number, if people upstream have this issue, etc? Then we can link it back here as an umbrella issue.

[2019-05-21 16:22] bgits commented on #8251
You need to pin to either a node or the gateway to ensure the content does not get garbage collected. You should also ensure your adding and pinning to a node that will stay up. Pinning to your local node can give the impression that it's on the network but it's just cached locally.

[2019-05-21 16:24] StatusSceptre commented on #7947
@flexsurfer @mandrigin - Is this PR considered complete? Can I release the bounty funds?

[2019-05-21 16:31] flexsurfer commented on #7947
@StatusSceptre not yet, still on review

[2019-05-21 16:42] StatusSceptre commented on #8047
Hi @uivlis can you confirm that you are stopping work on this?
@iamessien - I don't know how to contact this guy, profile doesn't link to an active GH account, anyone have any idea how to reach them?

[2019-05-21 16:59] uivlis commented on #8047
Yes, I already stopped work on Gitcoin.

[2019-05-22 07:38] annadanchenko commented on #7970
@churik seems like it's fixed already (tried on ios upgrading from 0.12.1 -> 0.12.2), can you close if can't reproduce, please?

[2019-05-22 07:41] annadanchenko commented on #8015
@flexsurfer is it still the issue? if so, can you attach Status logs when it happens, please?

[2019-05-22 07:56] #8249 closed, assigned to nobody

[2019-05-22 07:58] #7688 closed, assigned to hesterbruikman

[2019-05-22 08:00] Serhy commented on #7699
Has been implemented in https://github.com/status-im/status-react/pull/7720
Closing this issue.

[2019-05-22 08:01] annadanchenko commented on #7596
added in https://github.com/status-im/discover-dapps/commit/8db200bef2c8110a6d4a5d57cfc1b7da06651b14

[2019-05-22 08:01] #7596 closed, assigned to nobody

[2019-05-22 08:01] #7699 closed, assigned to antdanchenko

[2019-05-22 08:06] annadanchenko commented on #7491
done in https://github.com/status-im/status-react/issues/8098

[2019-05-22 08:06] #7491 closed, assigned to nobody

[2019-05-22 08:11] Serhy commented on #7619
Would be nice to fix to eliminate scenarios:
- I have an issue with Desktop
- Could you send me logs, please?
- Yes, I see Logging enabled (actually, hey, why it's enabled by default??). Anyway, sent
- Where is geth.log? You told logging enabled.
...

[2019-05-22 08:12] flexsurfer commented on #8015
yes, it's a big issue for me, unfortunately, there are no logs, but I've sent js logs to @cammellos directly

[2019-05-22 08:16] annadanchenko commented on #6576
@PascalPrecht is it still an issue on latest release 0.12.2? if so, can you provide more details with exact steps to reproduce and device/OS specification, please? do you select picture from gallery or from cloud based storage, for example?

[2019-05-22 08:21] cammellos commented on #8015
I had the same issue at some point, can't replicate yet, but I will take a look at it, generally it looks like we get disconnected from the mailserver periodically and we have to restart the request

[2019-05-22 08:39] hesterbruikman opened #8253 "Status incl Keycard test findings"
Status build with Keycard enabled: http://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190520-120558-5b5a7a-pr.apk

Compilation of test findings. Individual issues can be created later if needed.

### User Story
- Setup Keycard
- Pair existing Keycard with a new device

### Steps to test from (https://github.com/status-im/status-react/pull/8097)
1.     Set up keycard on device A
2.     Add e

[2019-05-22 08:43] rachelhamlin commented on #8047
Hi @uivlis—sorry that we didn't communicate this beforehand. Will update our issues in the future to mention that Windows is not supported. Thanks so much for trying to make it work.

[2019-05-22 08:43] 0x-r4bbit commented on #6576
hi @annadanchenko thanks for actually getting back to me on this one.

Yes this is still an issue in the latest stable, as well as nightly release.

Exact steps to reproduce:

Device Info: Pixel (1)
Android version: 9

What's interesting to note is that, taking a picture from camera does work.

Another thought: since this is an issue since the very early days of Status, I wonder if it has somethin

[2019-05-22 09:06] rachelhamlin opened #8254 "[Wallet] Don't renew tokens I've removed on wallet update"
# Problem

The wallet updates when I receive a new transaction or a block is missed.
In both of these cases, a bug is causing tokens I removed from my display via `Manage Assets` to reappear.

## Implementation

@yenda is familiar with the problem in develop.

## Acceptance Criteria

- Removing a token using `Manage Assets` means it does not reappear until I add it back, or I update Status.

[2019-05-22 09:35] hesterbruikman commented on #8253
- [ ] Have to scroll to button "Begin Setup" on "This card is blank" screen. Unnecessary. Investigate more efficient use of space > _This should be resolved in updated designs_
- [ ] When Entering and confirming PIN, last bullet doesn't turn blue before going to next screen
- [ ] Codes require use of SF Mono font to distinguish letters and numbers > _Should be resolved by updated designs_
- [ ] Re

[2019-05-22 09:37] churik commented on #7970
Can't reproduce 0.12.2 -> nightly 22/04/2019
Thanks @annadanchenko !

[2019-05-22 09:37] #7970 closed, assigned to nobody

[2019-05-22 09:40] churik commented on #7010
not relevant anymore

[2019-05-22 09:40] #7010 closed, assigned to cammellos

[2019-05-22 10:02] annadanchenko opened #8255 "Close"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to <task> so that <goal>.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: <Bug|Feature>

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections be

[2019-05-22 10:03] #8255 closed, assigned to nobody

[2019-05-22 10:08] dmitryn opened #8256 "Error java.lang.IllegalArgumentException: 16 > 0"
### Description
During keycard setup the error happens some times:

`Error java.lang.IllegalArgumentException: 16 > 0`

### Reproduction
No exact steps to reproduce but it may happen during pairing or generating keys step.

### Device
This user is using Galaxy S10+

### Solution
I expect it might happen because of unnecessary call to `getApplicationInfo()` method on "card connected" event.

![](ht

[2019-05-22 10:23] rachelhamlin commented on #8217
Could someone investigate what's happening here? Is this just creating a UI list item? Wondering what the risk level is, if automatic selection might eventually switch user to a non-functioning/empty mail server and crash the app, for example.

[2019-05-22 10:24] vitvly opened #8257 "TtT: JSON manifest added to IPFS sometimes cannot be fetched"
Related to #8251

## Description
During Tribute-to-Talk setup, two IPFS-related steps occur:
1. JSON manifest containing TtT settings is uploaded to IPFS via HTTP gateway.
2. It is afterwards automatically fetched to verify request success (using the same gateway URI).

In some cases, 1) succeeds, but 2) fails due to a timeout. However, it is often possible to fetch the manifest using an alternati

[2019-05-22 10:27] vitvly opened #8258 "TtT: Adding content to IPFS fails unpredictably"
Related to #8251

## Description
A JSON file containing Tribute-to-Talk settings is uploaded to IPFS when setting up TtT on a profile. An `ipfs add` command is invoked via IPFS's HTTP API. The request sometimes fails with a timeout.

## How to reproduce
Try to set up Tribute-to-Talk on an account. You might not see the wallet screen for transaction confirmation, instead you get:
![Simulator Screen

[2019-05-22 10:27] flexsurfer commented on #8239
something wrong with this view https://github.com/status-im/status-react/blob/e739b4a3590d9f8cf364fb209b1fede53a5c9942/src/status_im/ui/screens/browser/site_blocked/views.cljs#L16

[2019-05-22 10:42] annadanchenko commented on #7765
@Serhy can you recheck for other POA/DAI network if it can be reproduced, please? (it might set severity higher, as now test net is not most frequently used option)

[2019-05-22 10:50] hesterbruikman commented on #7990
Padding for address bar in Browser needs to be the same when url is opened as when no url is opened (10px).

![IMG_0113](https://user-images.githubusercontent.com/35233054/58168779-60571c80-7c8f-11e9-9df3-05c55e5e47fe.JPG)
![IMG_0112](https://user-images.githubusercontent.com/35233054/58168783-63eaa380-7c8f-11e9-970c-020ce400f728.JPG)

[2019-05-22 10:59] hesterbruikman commented on #7990
@errorists believe this fix is required regardless of changes to RN, as it's an inconsistency of the address bar padding between Main browser screen and opened url browser screen.

cc @rachelhamlin

[2019-05-22 11:06] errorists commented on #7990
@hesterbruikman ur right, needs a fix

[2019-05-22 11:07] rachelhamlin commented on #7990
Thanks for the images @hesterbruikman. I'll put an xs bounty on it. If we maintain the same padding across main screen and opened browser window that will solve it?

[2019-05-22 11:10] errorists commented on #7990
Our top toolbar should start at the position of the cutout, to make it right we'd need to ask the magic number where the cutout ends to position the UI correctly. I'd assume it's possible to fetch this position from RN. There is the safeAreaView we already use for new iPhones where we position the toolbar at 44px from the top, same needs to happen for S10.

[2019-05-22 11:13] hesterbruikman commented on #7990
Adding to this; Chat view shows the same issue although it's less severe as there is no component obtruded by the camera. Still needs the safeAreaView equivalent.

[2019-05-22 13:19] cobordism commented on #8104
I have migrated theswarm.eth to the new registrar and also updated to the new resolver format.
It should work now for you.

[2019-05-22 13:25] flexsurfer commented on #8104
great, thanks @homotopycolimit !

[2019-05-22 13:29] flexsurfer commented on #8104
we need to add swarm support here https://github.com/status-im/status-react/blob/b0449f3416aa0a78b88a23bc67a6e3f2b65e090f/src/status_im/utils/contenthash.cljs#L26

[2019-05-22 14:13] flexsurfer opened #8262 "Use multihash for sticker image in message instead of uri"
# Problem

Currently, it's possible to send any url in stickers

## Implementation

multihash should be sent and image should be loaded from ipfs or swarm

[2019-05-22 14:34] Serhy opened #8263 "Heavily formatted messages slow down message rendering"
**_Type_**: Bug

**_Summary_**: When there is a message which requires formatting in chat, it appears on chat view much longer than plain-text messages. More items in a single message require formatting - exponentially more time for message to be parsed and displayed to user.
When messages are really large and there are a lot of items to process - app freezes during that time (below figures are ap

[2019-05-22 14:39] churik commented on #8239
Issue is not reproducible.
Also rechecked tapping on invalid URL - behavior is the same as in current nightly.
Tested on IOS 11.4.1 (IPhone 7), Android 8 (LG V20).

[2019-05-22 14:50] #8236 closed, assigned to nobody

[2019-05-22 14:50] #8243 closed, assigned to nobody

[2019-05-22 15:43] rachelhamlin opened #8264 "Migrate stateofus.eth to new ENS registrar"
### Description
*Summary*: `stateofus.eth` must be [migrated to the new ENS registrar](https://medium.com/the-ethereum-name-service/step-by-step-guide-to-migrating-your-eth-name-to-the-new-ens-registrar-5314431e22f2).

Skeleton issue for now; we should be able to use the [ENS manager](https://manager.ens.domains/) interface to migrate.

[2019-05-22 15:50] dmitryn commented on #8256
@asemiankevich does it reproduce on your device? I have fix in mind that needs to be verified, but i cannot reproduce it on my phone.

[2019-05-22 15:51] asemiankevich commented on #8256
@dmitryn i've seen this error several times , but no clear steps, i need to try again

[2019-05-22 15:52] #8239 closed, assigned to nobody

[2019-05-22 16:41] bitsikka commented on #6375
@gitcoinbot have been held up wrapping up previous bounties, but they are over now. Moving on with this now.

[2019-05-22 16:51] hesterbruikman commented on #7015
Designs for validation below. This includes:
- Command icon to replace [/] -icon
- Error state of Command icon (red)
- Error tooltip; copy can be adjusted to "Invalid amount"
- Changes to the command list items and overview of token and amount that will be send. **These do not have to be implemented as part of this issue.**

![Send Receive in chat changes bounty](https://user-images.githubusercont

[2019-05-22 18:04] Serhy commented on #7765
Reproduced with POA, xDAI, Rinkeby and Ropsten.
Additionally, I retested and updated description with more details what happens.

We Inherit the network in certain places here from the first account by the second recovered/new account

[2019-05-22 23:50] 3esmit commented on #8264
This is a very delicated process, because the domain is held by a contract which dont knows anything about new ENS registrar, and also dont have a default function (needed for migration).
The good news is that ENSUsernames allow migration, and therefore the transfer of the ownership of stateofus.eth to a new address.

Regarding suggestions from ENS Team, they suggest the ENS domain to be transferr

[2019-05-23 05:20] hesterbruikman commented on #7693
@serhy @yenda

Can we close thuis issue? Believe @yenda 's performance improvements have resolved the delay.

[2019-05-23 05:40] yenda commented on #7693
@hesterbruikman It's not merged yet, waiting for QA

[2019-05-23 07:25] flexsurfer commented on #8241
hey @leroldary thanks!
there is a mistake in this example
[code]

is says "id\",\"type\":\"uint256\" but \"id\":\"18446744073709551617\"}}" is string

but we must show an error in the message field but not "wrong password"

[2019-05-23 07:29] flexsurfer commented on #8026
take this into account:
eth_signTypedData_v3 password is refused. #8241
web3.personal.sign() not displaying message to sign and refusing password #8209
Gas estimation on contract transfers for Eth transfers incorrect #8269

[2019-05-23 08:04] rachelhamlin commented on #7270
@annadanchenko @rasom @mandrigin we decided to prioritise this bug on our backlog grooming call yesterday. I now realise it's related to work @rasom is doing for message performance optimisation. Would you be willing to take it on under core?

[2019-05-23 08:06] annadanchenko commented on #6576
@PascalPrecht I have Pixel XL (1), Android 9 and can set up a profile picture selecting a photo from gallery. So, looks like I need more info again :)
1. Is it an upgraded app from early Status versions?
2. What happens if you just make a new photo and try to set it as a profile picture?
3. Can you share with me picture you are trying to use and it didn't work?
4. Do you have some other picture se

[2019-05-23 08:20] rachelhamlin commented on #8264
Thanks for the information @3esmit.

A few questions so I understand properly:

- Who will own or control the EOA?
- How long might the migration from current contract to disposable to EOA might take, once initiated?
- By `the service will be unavailable`, do you mean no new registration will be possible?

We do not currently have a flow designed for releasing a username.

This is mandatory under

[2019-05-23 08:24] hesterbruikman commented on #8264
Yes, but don't wait on my account. Have a few days off next week and wouldn't want to delay scheduling.

[2019-05-23 08:29] asemiankevich opened #8266 "Token symbol is not shown in chat / history if token is not added to portfolio"
# Problem
Token symbol is not shown in chat for incoming transactions if user did not add this token to his portfolio yet.

## Steps

1. open status on device A and add a custom token (for ex APPC on mainnet)
1. open status on device B and do not add this token yet
1. add device A to contacts of device B
1. send custom token from device A to device B in 1x1 chat
1. pay attention to the incoming se

[2019-05-23 08:49] acud commented on #8104
also to update you all, the support for the new ENS resolver is now live as part of the `0.4` Swarm release. so you can use your Swarm nodes to resolve the ENS entries that use the new public resolver

[2019-05-23 08:54] flexsurfer commented on #8104
great, thanks @justelad !

[2019-05-23 08:56] #8151 closed, assigned to nobody

[2019-05-23 10:21] RyRy79261 opened #8269 "Gas estimation on contract transfers for Eth transfers incorrect"
### User Story

As a user, I would like to send some funds to other accounts such as Gnosis Safe.

### Description

*Type*: Bug
Sending eth to contract account estimates required gas at 21000 rather than the contract estimate.

*Summary*: Sending eth to the gnosis wallet sets the gas limit to 21000 rather than the actual amount thus will always fail

#### Expected behavior
Sending eth to this addr

[2019-05-23 10:36] oskarth commented on #8264
Ditto what Hester said, I'm busy his tweek and next with Swarm summit etc.

[2019-05-23 12:44] sterlu commented on #8241
Is there a workaround for this? Signing typed data has been broken for at least a month.

[2019-05-23 12:48] flexsurfer commented on #8241
@sterlu  could you elaborate, please? signing typed data works properly in status, the problem in the example

[2019-05-23 12:56] sterlu commented on #8241
Hey @flexsurfer, thanks for the quick reply.

I tried changing the example so that `18446744073709551617` is a number but the behavior did not seem to change. I've also tried signing orders via `@0x/order-utils` and gotten the same result.

Running Status 0.12.2 on iOS.

[2019-05-23 13:17] flexsurfer commented on #8241
@sterlu are you trying on mainnet? because \"chainId\":1 is mainnet, and it works fine for me in status on mainnet with the 18446744073709551617 fixed as number

[2019-05-23 13:25] flexsurfer commented on #8269
thanks @RyRy79261 we'll take a look

[2019-05-23 13:45] yenda commented on #7781
@hesterbruikman I think we should bounty this one, it's a S

[2019-05-23 13:46] yenda commented on #8152
Currently being worked on go side by @dmitryn
status-react side implementation once this is done shouldn't take more than a couple day

[2019-05-23 15:01] leroldary commented on #8241
@flexsurfer The string is intentionally. Or, how should one provide numbers greater than 2^53-1 bits? Or did I miss something?

[2019-05-23 15:14] flexsurfer commented on #8241
@leroldary makes sense, i'll take a look again, thanks

[2019-05-23 15:44] sterlu commented on #8241
@flexsurfer You are correct, when the chainId is present in the domain, and the same network is selected, the signing process seems to be correct.

However, 0x orders do not contain a chain ID in their domain: https://github.com/0xProject/0x-monorepo/blob/development/packages/order-utils/src/eip712_utils.ts#L61

The spec does say the user-agent should refuse signing if domain->chainId does not mat

[2019-05-23 17:07] Serhy opened #8273 ""No protocol method IMap cljs.core/EmptyList: ()" when navigate to chat with unblocked user"
**_Type_**: Bug
_Summary_: `No protocol method IMap.-dissoc defined for type cljs.core/EmptyList: ()` error appears upon `load-more-messages` action in the chat with 20+ of your own messages and a received message(s) which is/are not shown. To clarify:

* `load-more-messages` in 0.12.2 release triggered when we scroll chat history with 20+ messages. In 0.13.0 version it becomes 5+ threshhold.
* `R

[2019-05-23 17:15] Serhy commented on #8273
In this issue, we used Block User feature as the way to reproduce the error.
However, `Block User path` it's not the root cause. It's because some of the messages that were received by user are not shown in chat screen + user scrolls to the top to load history (please see https://github.com/status-im/status-react/issues/7458)
That's why `medium-priority` I put here.

[2019-05-23 17:17] Serhy commented on #7458
The second error `No protocol method IMap.-dissoc defined for type cljs.core/EmptyList: ()` moved in separate issue https://github.com/status-im/status-react/issues/8273

[2019-05-23 22:05] anonym24 commented on #4102
@Izzyjm

so should we put `NO` or `YES` for `NON U.S. Component`? if `non U.S manufacturing location'` is set not to USA?

[2019-05-23 22:10] anonym24 commented on #4102
Well it just means if encryption was developed by non-US company.

You can put `NO` because HTTPS was developed by US company:

https://en.wikipedia.org/wiki/HTTPS#History

[2019-05-24 07:15] flexsurfer commented on #8241
big number will be fixed in status-go https://github.com/status-im/status-go/pull/1470

[2019-05-24 07:17] flexsurfer opened #8275 "Show proper error when signing typed data"
# Problem

Currently, if signed typed data has an error we show wrong password warning

## Implementation

Show popup with the error text

Initial issue: https://github.com/status-im/status-react/issues/8241

[2019-05-24 07:18] flexsurfer commented on #8241
proper error message: https://github.com/status-im/status-react/issues/8275

[2019-05-24 07:30] flexsurfer commented on #8241
thanks @sterlu could you please provide steps to repro with 0x ? thanks

[2019-05-24 08:18] asemiankevich opened #8276 "Can't attach logs to email draft on android on some devices"
# Problem
Error `can't add attachment` shown when trying to send logs on Android (7 and 8 at least) on some devices. User can't send logs.

## Steps

1. install status and create account
1. profile -> dev mode -> send logs -> gmail

![image](https://user-images.githubusercontent.com/28752642/58313098-7858a880-7e15-11e9-822d-856b690401f6.png)

## Build
Reproduced in:

* nightly build https://status

[2019-05-24 09:07] sterlu commented on #8241
@flexsurfer this should cover it

[code]

[2019-05-24 09:11] annadanchenko commented on #8276
tried with PR build 6 https://github.com/status-im/status-react/pull/8141 on
1. Pixel XL, Android 9 - can shake device and logs are attached to email
2. Galaxy S6, Android 6.0.1 -  can shake device and logs are attached to email

[2019-05-24 09:16] mandrigin commented on #8276
@asemiankevich probably a logcat would be useful, maybe gmail shows some real error reason there.

[2019-05-24 09:22] asemiankevich commented on #8276
sorry i had to do it first thing. Added.

[2019-05-24 09:37] annadanchenko opened #8277 "Rename Send logs to Report a bug and add template to email body"
- Rename Send logs in Profile to Report a bug

- In the Email body add the following text:

1. Issue Description
(Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

2. Steps to reproduce
(Describe how we can replicate the bug step by step.)
- Open Status
- ...
- Step 3, etc.

3. Expected behav

[2019-05-24 11:22] rasom commented on #8276
works fine on:
1. galaxy s9, android 9
2. galaxy a500d, android 6.0.1

[2019-05-24 12:28] churik commented on #8276
Works fine on Android 8 (LG V20)

[2019-05-24 12:29] Serhy commented on #8276
Works fine with Android 8.1 (Samsung Galaxy J7) and Android 6.0.1 (Galaxy Note 4)

[2019-05-24 12:36] #8256 closed, assigned to nobody

[2019-05-24 12:38] StatusWrike commented on #8203
➤ Igor Mandrigin commented:

Nabil NaghdyJarrad Hope I feel like having reproducible bulds for Android is important for 1.0 release, so we can side-load app and share it to F-Droid, etc. Marked it as a part of critical path, ping me if you disagree.

[2019-05-24 12:38] StatusWrike commented on #8203
➤ Jarrad Hope commented:

Igor Mandrigin I agree, its really great work

[2019-05-24 12:46] rachelhamlin opened #8279 "Investigate memory clearance"
# Problem

## Notes

This issue was reported by Trail of Bits in a brief app review.

We need to confirm whether this is missing and create a new issue to fix it if so.

[2019-05-24 12:56] rachelhamlin opened #8280 "Investigate transport security configuration"
# Problem
Trail of Bits found issue with line 44 of https://github.com/status-im/status-react/blob/develop/ios/StatusIm/Info.plist

`<key>NSAppTransportSecurity</key>

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

    </dict>`## Notes
We might need to have this config for the browser. But worth investigating if WKWeb

[2019-05-24 13:09] rachelhamlin opened #8282 "Remove unnecessary permissions [iOS]"
# Problem

ToB recommended that we remove any unnecessary permissions from https://github.com/status-im/status-react/blob/develop/ios/StatusIm/Info.plist.

Per @mandrigin, we can probably remove this one:

`<key>NSContactsUsageDescription</key>

	<string>We need to access your contacts</string>`

## Notes

Would like to have @flexsurfer or @jeluard confirm that this is true before we remove.

[2019-05-24 13:19] churik opened #8283 ""Cannot open the page because it has invalid address" when opening deep link on IOS without installed app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be aware that I cannot open the deep link because the required app (Status) is missing and to be guided on way to install it.

### Description

*Type*: Bug
*Summary*: at attempt to open any valid deep link on IOS in any browser when tap on "Open in Status" got an error "Cannot open the pag

[2019-05-24 13:21] jeluard commented on #8282
There is certainly a need to cleanup those as our dependencies (and related permissions) have significantly changed over time.

[2019-05-24 14:22] rachelhamlin commented on #8264
Top line from the call we just had:

This is a relatively non-invasive change. With participation from the multisig holders, Ricardo can make the migration happen within 1 week.

We just need to figure out the security process around it. How extensive of a review will the migrated contract need to undergo?

Release readiness depends on three things:
- Security process completed
- Contract address

[2019-05-24 14:23] rachelhamlin opened #8284 "Remove unnecessary permissions [Android]"
# Problem

From Trail of Bits:

    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>

## Notes

As with[ iOS](https://github.com/status-im/status-react/issues/8282), we need to go through the Android permissions and remove anything unnecessary.

[2019-05-24 15:11] annadanchenko commented on #8173
to add to release:
https://github.com/status-im/status-react/pull/8142 App version and more details in logs email
https://github.com/status-im/status-react/pull/8281 Report a bug template
https://github.com/status-im/status-react/pull/8141 Send logs on shaking device

[2019-05-24 16:14] #8277 closed, assigned to nobody

[2019-05-24 16:45] jakubgs commented on #8173
The Clojure conflicts when cherry picking those changes are to big for me. You'll need a dev to merge those into `release/0.13.x`.

[2019-05-24 17:02] mandrigin commented on #8173
@jakubgs I'll take a look

[2019-05-24 17:10] mandrigin commented on #8173
cherry-picked

[2019-05-25 07:15] bitsikka commented on #6375
Just wanted to say still working towards initial PR

Still research/gathering-resources mode

regarding

this https://github.com/facebook/react-native/commit/65184ec could be useful(iOS only) but maybe not needed; fetching messages in gaps that was merged not so long ago, seems to be doing it without it :thinking:

[2019-05-25 08:47] yenda opened #8286 "Fix find-ns-obj not supported for target react-native error with advanced compilation"
# Problem

As described in the following issue:
https://github.com/thheller/shadow-cljs/issues/500

We currently need to use a fork a cljs to use advaned compilation with shadow-cljs because of a `find-ns-obj not supported for target react-native error`

## Implementation

Find what is the cause of the error in the code base and fix it

## Acceptance Criteria

The solution should be based on this

[2019-05-25 08:49] yenda commented on #8286
@StatusSceptre can we quickly bounty that to get it solved?

[2019-05-25 15:08] rasom commented on #8286
https://github.com/status-im/status-react/blob/448e84a0e99a5a14583c82c278a7c5e0ae84b673/src/status_im/utils/views.clj#L55 this line

[2019-05-25 15:46] yenda commented on #8286
@rasom I remember that it was added because otherwise the macro would complain about missing require in the namespace that don't require it already, is it going to become a problem again if we simply remove it?

[2019-05-26 14:51] hesterbruikman commented on #7968
@bitsikka so sorry, need to check my notification settings as well:S

Can you try this Figma link please? https://www.figma.com/file/M6BzDsCWdrHZxzy7RUzoCCLz/Warnings-and-alerts?node-id=79%3A277

On inconsistency of the bottom sheet. I'm afraid we indeed have some legacy implementations. Do you recall a specific modal that didn't meet requirements? Also, note that there are 2 variations of the bot

[2019-05-26 16:41] bitsikka commented on #7968
@hesterbruikman new figma link works! thanks!

regarding inconsistent bottom sheet I meant this(in figma):
![image](https://user-images.githubusercontent.com/42058840/58383853-18bbf200-7ffb-11e9-86a9-464ceadaea46.png)

Vs

this(current develop)
![image](https://user-images.githubusercontent.com/42058840/58384732-e57e6080-8004-11e9-9847-c8c4e4da3edb.png)

for all 3 types of chat(but there may be mo

[2019-05-26 17:34] weekly-digest[bot] opened #8288 "Weekly Digest (19 May, 2019 - 26 May, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 56 issues were created.
Of these, 25 issues have been closed and 31 issues are still open.
## OPEN ISSUES
:green_heart: #8287 [Shadow cljs fix find-ns-obj](https://github.com/status-im/status-react/pull/8287), by [hlolli](https://github.com/hlolli)
:green_heart: #8286

[2019-05-27 07:00] 0x-r4bbit commented on #6576
Hi @annadanchenko

1. Yes it is. I've been using early nightly versions and remember that there have been breaking changes in between versions that, at least on desktop, required me to remove certain folders. Maybe something similar was necessary for the Android version too?
2. As mentioned above, taking a picture through Status and setting it as profile picture works fine.
3. Tried several, one o

[2019-05-27 08:40] errorists commented on #7968
hey @bitsikka you're right, any instance of the native activity sheet (the one on the second of your screenshots) should be updated to the bottom sheet design. I like to think we're in a transition phase and gradually exchanging them. We will create appropriate bounties to address those. cc @hesterbruikman

[2019-05-27 08:43] churik commented on #7947
Doesn't work after merge https://github.com/status-im/status-react/pull/8009 in `develop`
@bitsikka can you please take a look?

[2019-05-27 08:48] bitsikka commented on #7947
@churik can you please elaborate? I just tested in iOS simulator and it works for me.

could it be the case that now(this behavior changed at the last moment) the blanking out is **off** by default, and user has to explicitly turn it on in the profile screen?

[2019-05-27 08:51] churik commented on #7947
Yes, you are right. Somehow I decided that it should be enabled by default.
Sorry!

[2019-05-27 08:51] #7947 closed, assigned to nobody

[2019-05-27 08:55] bitsikka commented on #7947
no worries :)

It'd still be nice to have it **on** by default (the problem was, on android, that caused tests that depended on capturing screen to fail)

I'm going to work on making it so that we can have best of both cases after I'm done delivering on other bounties and issues I have committed to.

[2019-05-27 10:45] annadanchenko commented on #8173
@rachelhamlin can you help with release notes, please?
@j-zerah it looks like we will be ready for release on May 28, 2019. Is it ok with you if it goes to public at 15:00 CEST, May 28?

[2019-05-27 11:06] mandrigin commented on #8173
don't forget to shout out to our community contributors (these PRs):
https://github.com/status-im/status-react/commit/3095701ec0eb442e35a5e3fb46f86933ab17fe27
https://github.com/status-im/status-react/commit/f9e5101426834e4cccd60f7240a8870ac760d210
https://github.com/status-im/status-react/commit/1ff0a937acbd04f661d87060a913067093abea7b
https://github.com/status-im/status-react/commit/50f9354581af

[2019-05-27 15:38] KubebatHaMachatz commented on #8284
Hi,

Looking at the list of permissions in the Android manifest (https://github.com/status-im/status-react/blob/develop/android/app/src/main/AndroidManifest.xml) and after installing the Android app and playing with it a bit - It looks like the following permissions can be removed without affecting the app's functionality:
1. android.permission.NFC - can be removed assuming there is not NFC functi

[2019-05-27 16:27] alexanmtz commented on #7105
@gitcoinbot , yes, I'm still working on this and there's a #8229 PR to solve this.

[2019-05-27 16:42] e18r commented on #4606
Hi, I already submitted a [PR](https://github.com/clj-commons/unfurl/pull/8) to the unfurl library. As soon as it gets approved, I'll start woring on incorporating it in Status.

[2019-05-27 17:28] annadanchenko commented on #7171
no swipe gesture anymore in chats

[2019-05-27 17:28] #7171 closed, assigned to nobody

[2019-05-27 19:32] annadanchenko commented on #8173
@j-zerah list of community contributions into 0.13.0 is updated: https://notes.status.im/CgruSsRzQVGhsagaLxXGqQ?both

@mandrigin btw, there were 2 commits not mentioned in your list: https://github.com/status-im/status-react/commit/e6bd5c50163595cf33bbb3dd128c5254ca428775 and https://github.com/status-im/status-react/commit/4f8399a8fd0bf3fb7809419d63a362af31946322

[2019-05-28 02:09] janus commented on #6505
Is this issue still open?

[2019-05-28 07:21] rachelhamlin commented on #8173
@annadanchenko working on release notes in ~1 hour or so :)

[2019-05-28 07:21] j-zerah commented on #8173
Apologies for slow response. Was traveling to Berlin.

All good on my side and prepping comms now

[2019-05-28 07:28] KubebatHaMachatz commented on #8284
Please let me know if you are looking for someone to get involved and handle this issue. I'm a veteran Android dev (7+ years).

[2019-05-28 07:34] KubebatHaMachatz commented on #7045
Hello, Please let me know if this issue is still relevant. I'm a veteran Android dev (7+ years experience) looking for an opportunities to get involved in this project. Thanks

[2019-05-28 08:17] KubebatHaMachatz commented on #5124
Hello , Is this issue still relevant? I'm a veteran Android dev (and Hebrew speaker) and Iv'e already encountered situations i which there is need to detect the text language.Thanks

[2019-05-28 08:31] katzdan commented on #8284
Please let me know if you are looking for someone to get involved and handle this issue. I'm a veteran Android dev (7+ years).

[2019-05-28 08:35] dmitryn commented on #8284
We need `android.permission.NFC` for interaction with Keycard https://keycard.status.im
Not sure about other permissions listed though.

[2019-05-28 08:40] dmitryn commented on #5124
Let's ask what @status-im/chat team thinks.

I think it's a good idea to get rid of regex and use native API if possible  https://github.com/status-im/status-react/blob/ff97345f07ddbb50cfc5308902c5f8f020e307c2/src/status_im/chat/models/message_content.cljs#L40

[2019-05-28 08:46] yenda commented on #5124
@dmitryn agreed

[2019-05-28 09:04] AlleniCode opened #8291 "How to hide 'Home' tab?"
I want to hide the 'Home' tab, cause I want test something, don't need chats for the moment.

Could you checkout a branch without 'Home' tab for me?

I'm not familiar with the source code, thanks very much!

[2019-05-28 09:26] KubebatHaMachatz commented on #5124
There is a java lib (https://github.com/shuyo/language-detection) that looks like it's a good fit.

[2019-05-28 12:38] annadanchenko opened #8292 "Google Play 64-bit requirement to solve before August 1, 2019"
Warning from PlayStore:

This release is not compliant with the Google Play 64-bit requirement

The following APKs or App Bundles are available to 64-bit devices, but they only have 32-bit native code: 2019052417.

From August 1, 2019 all releases must be compliant with the Google Play 64-bit requirement.

Include 64-bit and 32-bit native code in your app. Use the Android App Bundle publishing for

[2019-05-28 13:24] annadanchenko commented on #8173
release is out

[2019-05-28 13:24] #8173 closed, assigned to nobody

[2019-05-28 14:03] annadanchenko opened #8293 "Update screenshoots in PlayStore"
# Problem
pictures with old UI and old DApp tab is shown in play store, we need to update them in https://github.com/status-im/status-react/tree/develop/fastlane/metadata/android/en-US/images/phoneScreenshots with these pictures (use same order as list below)

![1 wallet](https://user-images.githubusercontent.com/6584810/58484190-e4af1100-8161-11e9-80cd-eb5a5f774a8a.png)
![2 send tx](https://user-

[2019-05-28 14:46] rachelhamlin opened #8294 "Revert to TtT contract with on-chain tribute storage"
### Description
_Type_: Feature

_Summary_: As a result of the issues found in #8129, we need to move storage of a user's tribute setting from IPFS to the TtT contract.

This means that we are also removing the personalized message from v1 of the feature.

#### Expected behavior
TtT works in 100% of scenarios.

Settings flow no longer contains option to set a personalised message.
Chat flow only d

[2019-05-28 14:50] bitsikka opened #8295 "preview privacy mode not working properly in some android devices until app restart"
# Problem

I just discovered that on my One+ 2 device with `OxygenOS version 3.6.1` `Android version 6.0.1` turning on `Preview Privacy Mode` does not blank out preview as it is supposed to when the app is in background

It shows the last captured screen when app was put in background without the setting being on.

restarting the app with the setting on makes it behave as expected - preview is bla

[2019-05-28 15:03] yenda commented on #8294
@3esmit is the simple contract already deployed? could you provide the address on testnet?

[2019-05-28 16:41] bitsikka commented on #6375
@gitcoinbot yes, still working. Making slow but steady progress. It is turning out to be as challenging for me as I thought it would be.

[2019-05-28 16:56] StatusSceptre commented on #8286
@yenda I am a little confused here. Do you want me to create a bounty on this, even though it has already been solved and merged (with multiple authors)?

[2019-05-28 17:13] StatusSceptre commented on #6505
@rachelhamlin wdyt? Not sure where this falls these days tbh.

[2019-05-28 17:21] yenda commented on #8286
@StatusSceptre it doesn't need to go on gitcoin since it is already done but we should still reward @hlolli

[2019-05-28 17:33] StatusSceptre commented on #8286
I'll need a receiving address for that then, could not find a gitcoin profile for @hlolli...

[2019-05-28 18:27] 3esmit commented on #8294
@yenda Deployed in Ropsten. Let me know if you need a different network

Version without messages and default fee of 0.1 value:
https://ropsten.etherscan.io/address/0x45d8274c1a4c6b5b956e8d0f44a9e78209b0bb77#code
browser/MessageTribute.sol :
bzz-raw://b3fc092f9b99fcc89693c9adb553acd2c01b19e7d585b2c58d600be6fe43c99f
metadata.json :
bzz-raw://cbae2ca4219b4547c6fc3e8e7a0f3a12081b2a0cca376c72b2b40dc15

[2019-05-28 18:31] iurimatias opened #8299 "Display DApp in fullscreen when user scrolls up"
# Problem

The status browser takes a lot of screen real estate which distracts from the dapp itself.

## Implementation

The approach taken in other mobile browsers is to hide the toolbars when the user scrolls down, and to show the toolbar again when scrolling up. Below is how it looks like in firefox mobile.

![image0 (1)](https://user-images.githubusercontent.com/176720/58502783-4452ef80-8155-

[2019-05-28 18:42] 3esmit commented on #8294
Ropsten https://ropsten.etherscan.io/address/0x45d8274c1a4c6b5b956e8d0f44a9e78209b0bb77#code
Rinkeby https://rinkeby.etherscan.io/address/0x63bb739fccdd08cf32defacfabad420d657259e7#code
Goerli https://blockscout.com/eth/goerli/address/0x63bb739fccdd08cf32defacfabad420d657259e7/contracts

[2019-05-28 20:27] rachelhamlin commented on #6505
Happy to have this fixed if possible!

On Tue, May 28, 2019 at 6:13 PM StatusSceptre <notifications@github.com>
wrote:

[2019-05-28 21:48] corpetty commented on #8264
audit process is dependent upon the extent of the changes.  @3esmit I need to know exactly how extensive the changes are, and what they are.  If it is more than a little above trivial, it would be worth contracting Sigma Prime to overview the contract changes as they did the original audit.

If it isn't that much, then we can get ToB to look the changes over once done to sign off on deployment bar

[2019-05-29 07:50] rachelhamlin opened #8300 "Check into validity checker (Android)"
# Problem

Also reported by Trail of Bits:

## Implementation

The point of this issue is to investigate whether this exists or not.

## Acceptance Criteria

Comment on whether we have a file validity checker on Android. If no, please create separate issue for follow-up.

[2019-05-29 07:53] rachelhamlin opened #8301 "Check for caching of sensitive information (Android)"
# Problem

Another potential issue spotted by Trail of Bits:

## Implementation

Please investigate whether this is the case.

## Acceptance Criteria

Write-up on whether we are caching any sensitive data on Android. If so, please create a follow-up issue.

[2019-05-29 07:58] rachelhamlin opened #8302 "Stop exporting services (Android)"
# Problem
A static analysis from Trail of Bits indicated that we are sharing the following services with other apps on the user's device:

## Notes
Please ensure that these services are no longer shared.

[2019-05-29 10:05] dmitryn opened #8306 "[keycard onboarding] intro and start screens"
# Problem
Implement intro and start screens of keycard onboarding flow.

## Implementation
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=928%3A623

![](https://user-images.githubusercontent.com/23836/58548657-665e7780-8212-11e9-9c34-d9016622a008.png)

[2019-05-29 10:08] dmitryn opened #8307 "[keycard onboarding] preparing, pairing and finishing screens"
# Problem
Implement preparing, pairing and finishing screens

## Implementation
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A15032

![](https://user-images.githubusercontent.com/23836/58548856-df5dcf00-8212-11e9-9fed-929cfee55f3d.png)
![](https://user-images.githubusercontent.com/23836/58548857-dff66580-8212-11e9-984a-1334d6eba4b7.png)
![](https://user-images.github

[2019-05-29 10:11] dmitryn opened #8308 "[keycard onboarding] puk and pair code screens"
# Problem
Implement puk and pair code screens.

## Implementation
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A15335

![](https://user-images.githubusercontent.com/23836/58549013-3a8fc180-8213-11e9-9c1f-2f6bb15486c8.png)

[2019-05-29 10:22] dmitryn opened #8309 "[keycard onboarding] keycard tapped modal screens"
# Problem
Implement keycard tapped modal screens

## Implementation
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=928%3A427

During the onboarding, if keycard tapped before key storage is selected, modal screen should be shown.

![](https://user-images.githubusercontent.com/23836/58549715-d0781c00-8214-11e9-84ee-e4f51b744f2e.png)

[2019-05-29 10:25] dmitryn opened #8310 "[keycard onboarding] pin screens"
# Problem
Implement pin screens.

## Implementation
Use PIN screens implementation from regular onboarding.

https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1018%3A17997

![](https://user-images.githubusercontent.com/23836/58549881-306ec280-8215-11e9-9263-a3fe440132b6.png)

[2019-05-29 10:26] dmitryn opened #8311 "[keycard onboarding] turn on NFC screen"
# Problem
Implement turn on NFC screen

## Implementation
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A15388

![](https://user-images.githubusercontent.com/23836/58549968-67dd6f00-8215-11e9-9857-d2c3d2720432.png)

[2019-05-29 10:29] dmitryn opened #8312 "[keycard onboarding] 'connection lost' modal screen"
# Problem
Implement 'connection lost' modal screen

## Implementation
If connection with keycard is lost during the interaction, modal screen should be shown.

https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1328%3A1

![](https://user-images.githubusercontent.com/23836/58550120-c30f6180-8215-11e9-8288-2cde2207a020.png)

[2019-05-29 10:31] dmitryn opened #8313 "[keycard onboarding] 'screenshot taken' modal screen"
# Problem
Implement 'screenshot taken' modal screen

## Implementation
If screenshot is taken during puk and pair code backup, modal screen should be shown.
![](https://user-images.githubusercontent.com/23836/58550267-0b2e8400-8216-11e9-98e5-4003b846152f.png)

https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1328%3A147

[2019-05-29 10:33] dmitryn opened #8314 "[keycard onboarding] backup recovery phrase screen"
# Problem
Implement backup recovery phrase screen

## Implementation
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A16160

![](https://user-images.githubusercontent.com/23836/58550421-5b0d4b00-8216-11e9-94f3-8be27a553981.png)

[2019-05-29 11:21] StatusSceptre commented on #6505
ok @janus @kuhnchris feel free to apply on Gitcoin then - work is stopped, so you should be able to.

[2019-05-29 12:34] yenda commented on #8294
@3esmit I don't think there should be a default tribute amount can you remove it? @rachelhamlin

[2019-05-29 12:35] rachelhamlin commented on #8294
Yes please! 0 default.

[2019-05-29 12:39] yenda commented on #8294
also I don't think we should have a way to set a default because it makes the reset method useless, the only place I see it useful is to remove tribute, but if instead it goes back to the default value it is misleading and probably not something someone will want. For this iteration we can make things as simple as possible. Btw idealy the method names should be `getTribute(address)`, `setTribute(u

[2019-05-29 13:38] Rikku-x commented on #6517
Hello @churik,

I want to help with this issue,  but I can't apply on gitcoin because work on this has already started by another contributor. Maybe you can help with it?

[2019-05-29 13:45] yenda commented on #6517
@StatusSceptre

[2019-05-29 14:07] KubebatHaMachatz commented on #5124
After researching this more in depth , here are the findings:
1. There is one implementation of https://github.com/shuyo/language-detection which was ported to Android here - https://github.com/rmtheis/language-detection but it's no longer maintained (been static in the last 2 years or so and most of the code files are 5-6 years old). I am very reluctant to use a library that is not maintained and

[2019-05-29 15:07] rachelhamlin commented on #8263
We currently have bad formatting parsing. We parse messages slowly & multiple times. Best solution would be to parse on go side, but 23s is unacceptable regardless. Down to 1s would be ideal.

[2019-05-29 15:10] StatusWrike commented on #8263
➤ Rachel Hamlin commented:

We'll put a bounty on this one.

[2019-05-29 15:18] #8293 closed, assigned to nobody

[2019-05-29 17:30] kuhnchris commented on #6505
I'll let @janus try for now, if he cannot manage to pull through I may aswell join in. ;-)

Thanks,
Chris

[2019-05-30 07:45] asemiankevich opened #8318 "[Tests] Configure automation framework to cover Goerli network testing"
# Problem
We have now Goerli network (testnet) added to network list, it was done in https://github.com/status-im/status-react/pull/7734. Suggest to adjust out e2e framework to cover transaction tests on this network too

## Implementation

* [ ] have possibility to create separate build with Goerli network enabled by default for automation
* [ ] deal with Goerli faucet https://faucet-goerli.statu

[2019-05-30 07:58] dmitryn commented on #5124
@katzdan thanks for researching this topic.

For Android, can we use `TextUtils.getLayoutDirectionFromLocale(locale) == ViewCompat.LAYOUT_DIRECTION_RTL`?
Where locale is currently selected keyboard locale:

[code]

https://developer.android.com/reference/android/text/TextUtils.html#getLayoutDirectionFromLocale(java.util.Locale)

I believe something similar should exist for iOS.

[2019-05-30 08:50] KubebatHaMachatz commented on #5124
I'll check this option and report back.

[2019-05-30 10:06] naghdy opened #8321 "Change or remove back button from DApp browser screen"
# Problem
I was using the Teller Network DApp within the Status browser. As I was tapping specific sellers, and trying to go "back" to the main screen - I kept accidentally pressing the browser back button on the top left. This was very frustrating, because I kept having to re-open the DApp even though I just wanted to go back to the previous screen.

I believe this is a flaw in the placement of t

[2019-05-30 11:43] iurimatias commented on #8321
Instead of the back arrow we could replace it with a icon that clearly indicates this would change tabs/pages, something like the icons below.

![Screen Shot 2019-05-30 at 7 40 39 AM](https://user-images.githubusercontent.com/176720/58630795-77f55d00-82ae-11e9-97b6-8e1399f2db8c.png)

![Screen Shot 2019-05-30 at 7 42 00 AM](https://user-images.githubusercontent.com/176720/58630798-7af04d80-82ae-11e

[2019-05-30 15:11] jakubgs commented on #8292
I'm researching the 64 bit support for Android builds and here is what I found:
#### What we include
[code]
So we clearly do support `armeabi-v7a`, but we lack `arm64-v8a` libraries.
According to our `build.gradle` we include it:
https://github.com/status-im/status-react/blob/131b423a0acb92618192be17a92a9e51feda592e/android/app/build.gradle#L158
but then we exclude the `arm64-v8a`(as well as some

[2019-05-30 15:25] jakubgs commented on #8292
According to this:
https://developer.android.com/distribute/best-practices/develop/64-bit#build_your_app_with_64-bit_libraries

I've ran a manual build with a branch(`enable-arm64-v8a`) that does that:
https://ci.status.im/job/status-react/job/combined/job/mobile-android/10996/
Which resulted in this:
[code]
So removing that `exclude` clearly works.

[2019-05-30 15:29] churik opened #8325 "`Re-matches must match again a string` at attempt to report a bug when logged out"
### Description
*Type*: Bug
*Summary*: at attempt to shake the phone and report a bug before login error `Re-matches must match again a string`.
After closing popup unable to call dialog on shaking until app restart.

#### Expected behavior
Can report a bug

#### Actual behavior
![IMG_0045474D998A-1](https://user-images.githubusercontent.com/4557972/58643262-36d96900-82ff-11e9-96ac-691ff8b0c728.jp

[2019-05-30 15:32] jakubgs commented on #8292
This does increase the size of the APK from `51M` to `68M`.
I'm not entirely sure why we need the `x86` libraries, or `x86-64` for that matter, since we remove them anyway.

[2019-05-30 16:15] #8104 closed, assigned to nobody

[2019-05-30 17:32] 3esmit commented on #8294
I did the changes as you requested. _Kind reminder that I believe a default small fee is an important step against spam._

I didnt included a `removeTribute()` because you can use `setTribute(0)`. The contract with default fee needed a resetFee function so it would start using the default again. As there is no default, the remove/reset tribute is not required.

This can be a boomer when we have se

[2019-05-30 19:26] frankchen07 commented on #7697
hi @skeptycal - frank from gitcoin here - any movement or WIP PRs you'd like to put in for this issue?

[2019-05-30 23:03] 3esmit commented on #8264
I created the contract for migration:
https://github.com/status-im/ens-usernames/blob/new-ens-migrate/contracts/registry/RegistrarMigration.sol

and its test spec:
https://github.com/status-im/ens-usernames/blob/new-ens-migrate/test/registrarmigration.spec.js

The RegistrarMigration.sol is very simple, when it receives the ENS Node from UsernameRegistrar it automatically transfers it to the contro

[2019-05-31 01:52] 3esmit commented on #8264
@corpetty

The Migration contract don't require extensive audit https://github.com/status-im/ens-usernames/blob/new-ens-migrate/contracts/registry/RegistrarMigration.sol because it wont hold any assets. Also, the contract is too dumb to be unsafe, it simply does one thing, that is transfer to controller the ens node coming from a specific contract, in this case, the ENS Username Registrar. It also

[2019-05-31 06:21] KubebatHaMachatz commented on #5124
@dmitryn - the user might change languages while writing so the result of the check you proposed might return different values. When is this check being executed? as the user types? when the user sends the msg?
Aside from this - there is a non technical issue. My Mac died today and I have no way to add the iOS side of this issue. I don't know how much time it will take me until I get the Mac fixed

[2019-05-31 07:26] flexsurfer commented on #8321
this is a regression, we had "X" button before, maybe @errorists could suggest something even better

[2019-05-31 07:48] errorists commented on #8321
thanks for bringing it to attention, the back design was always a lesser evil until we can do proper window/tabbed browsing. The problem with 'X' was that it suggested finality, that whatever you're doing now won't be coming back which wasn't true, the current URL and browsing history is kept intact waiting for you in the DApps list. I'll take a look at alternatives like a 'home' icon or the afore

[2019-05-31 08:11] mandrigin commented on #8302
@StatusSceptre let's make a bounty out of this issue?

[2019-05-31 08:13] mandrigin commented on #8284
@katzdan thanks, we will appreciate your help! I'll make a bounty out of this issue then

[2019-05-31 08:13] mandrigin commented on #8284
@StatusSceptre let's make this one a bounty

[2019-05-31 08:14] mandrigin commented on #8282
@StatusSceptre let's make this one a bounty too

[2019-05-31 08:15] mandrigin commented on #8280
@flexsurfer can you take a look if we can get rid of this conf and our DApps browser will still work?

[2019-05-31 08:15] rachelhamlin commented on #8321
👍 Low priority though @errorists. Don't want us to derail from multi-account by thinking about minor changes that can happen post code freeze.

[2019-05-31 08:25] #6573 closed, assigned to nobody

[2019-05-31 08:26] naghdy commented on #8321
Agree with @rachelhamlin this is something we can do post code freeze as it's simply UI changes.

Thanks @errorists and @flexsurfer for your prompt response

[2019-05-31 08:35] rachelhamlin commented on #8294
Thank you @3esmit!

[2019-05-31 09:01] yenda commented on #8294
@3esmit Is there a way to use the simple contract and later on add the possibility to use the MessageSigned capability in another one while still using this one as registry so that old versions of status still have access?
Also if I set tribute to talk using the MessageSigned capability to which wallet are the tributes going to be paid? If I understand correctly I am still sending the fee to the s

[2019-05-31 10:02] KubebatHaMachatz commented on #8284
Can you attach a link to the GitCoin item so I can apply?

[2019-05-31 10:29] rachelhamlin commented on #8284
It's not yet active but will be included on the issue once the person who manages it sets it up @katzdan :)

[2019-05-31 11:10] yenda commented on #8294
@3esmit thanks for the detailed post btw!

Another question, do we really need to emit a log for the simple contract?

[2019-05-31 13:46] flexsurfer commented on #7812
@annadanchenko could you check, should be fixed in develop

[2019-06-02 02:03] weekly-digest[bot] opened #8335 "Weekly Digest (26 May, 2019 - 2 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 46 issues were created.
Of these, 16 issues have been closed and 30 issues are still open.
## OPEN ISSUES
:green_heart: #8334 [[developerXP] remove unused deps](https://github.com/status-im/status-react/pull/8334), by [yenda](https://github.com/yenda)
:green_heart: #83

[2019-06-02 06:08] KubebatHaMachatz commented on #3175
Do you still need help with this issue? it looks like an encoding issue.

[2019-06-02 13:47] yenda commented on #7633
@StatusSceptre could you approve @shamardy

[2019-06-02 15:38] annadanchenko opened #8341 "Error 'undefined is not a function...' if turn on biometric authentification"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Error undefined is not a function (near '...l(a[234]).default.$p...') is shown if enable biometric authentification on both iOS and Android real

[2019-06-02 19:19] e18r commented on #4606
I haven't heard back from the developer of the unfurl library. For now I'll upload my own version to clojars and incorporate that into Status.

[2019-06-03 00:30] 3esmit commented on #8294
The upgradability is not implemented on this contract. Migration process can be defined in UI, but would be painful. New contract can read from old contract to skip migration of already defined values in older contract.

I can deploy this contract and use a UpgradableInstance.sol (Proxy Contract, uses delegatecall) pointing to it, so we can have upgradability.

[2019-06-03 01:00] 3esmit commented on #8294
The use of events is not necessary, but they might be important for updating the UI accordingly to the changes.

As a common practice, meaningful state changes on the contract should fire events.
Events can improve the performance of the dapp, in an example, the dapp could load values of a list of address in background and cache them in local database, and subscribe to the according events that wo

[2019-06-03 08:14] annadanchenko commented on #7679
works fine in last release 0.13.0

[2019-06-03 08:14] #7679 closed, assigned to nobody

[2019-06-03 08:17] rachelhamlin commented on #8047
@iamessien @speedyfixer hey guys, is one of you still interested in working on this bounty? :)

[2019-06-03 08:36] rachelhamlin commented on #8262
@flexsurfer sounds like this is a must-have for stickers v1? Can we bounty it?

[2019-06-03 08:40] #8266 closed, assigned to nobody

[2019-06-03 08:44] flexsurfer commented on #8262
@rachelhamlin not sure it can be done as bounty, it's a small change but requires some knowledge to be done

[2019-06-03 08:52] #8341 closed, assigned to nobody

[2019-06-03 08:54] annadanchenko commented on #7527
can't repro

[2019-06-03 08:54] #7527 closed, assigned to nobody

[2019-06-03 09:09] churik commented on #6835
closed in https://github.com/status-im/status-react/pull/8228

[2019-06-03 09:10] churik commented on #5749
closed in https://github.com/status-im/status-react/pull/8228

[2019-06-03 09:10] #5749 closed, assigned to nobody

[2019-06-03 09:26] rachelhamlin commented on #8294
Does this have implications for #8047?

[2019-06-03 10:11] rachelhamlin commented on #8269
Just noting that this will be resolved in #8026 :)

[2019-06-03 10:52] rachelhamlin commented on #7497
To clarify, the badge should be cleared any time you open a chat, regardless of whether you send a message. This bug only occurs when there are 9+ unread messages, to my knowledge.

**Expected behavior**
Opening a chat with an unread messages clears the purple badge when you move back to the home screen. When I open a chat with 9+ unread messages, I am at the bottom of the chat.

**Ideal future be

[2019-06-03 10:55] mandrigin commented on #7497
Also, it happens when you have multiple devices. If your message is the last one in the chatroom, we shouldn't show the unread count for this chat, period.

[2019-06-03 10:56] mandrigin commented on #7497
It is a simple heuristic, and will make our app way less annoying when switching between mobile/desktop.

[2019-06-03 11:10] yenda commented on #7497
@mandrigin it should be much easier to bounty with my PR https://github.com/status-im/status-react/pull/8336

current situation with`use-statuses` is ridiculously complex for something that simple.

[2019-06-03 14:09] churik opened #8346 "Can't get messages after paying TTT"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: after paying TTT sent messages are not delivered to the recipient. Part of https://github.com/status-im/status-react/pull/8304 (was found in https://github.com/status-im/status-react/pull/8304#issuecomment-498204108)

#### Expected behavior
messages are sent and received

#### Actual behavior
messages are sent, bu

[2019-06-03 14:14] churik opened #8347 ""Tribute paid" message is always visible when open chat regardless of the message order"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when you have long chat history with TTT paid, you always will see  "Tribute paid" message when open this chat. This message jumps to the start of history when scrolling.  Part of https://github.com/status-im/status-react/pull/8304 (was found in https://github.com/status-im/status-react/pull/8304#issuecomment-4982

[2019-06-03 14:51] rachelhamlin opened #8348 "[Multi-Account] Account overview + individual wallet UI"
### User Story
As a user, I want to see both an overview of all my wallets _and_ a detailed view of each specific wallet, so that I can manage my multiple accounts confidently.

### Description
_Type_: Feature

_Summary_:

Implementation plan for multi-account from Core UI POV is as follows:

1. @yenda to build the [`Account explorer` and `Wallet` UI](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6

[2019-06-03 15:14] Rikku-x commented on #6517
Hey @StatusSceptre,  @churik, any updates on this?

[2019-06-03 15:20] churik opened #8349 ""Confirmed" transaction is shown for "Failed" in 1-1 chat ["Out of gas"]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when transaction after some time change status to "Failed" (i.e. with error  "Out of gas") in chat it is still shown as Confirmed transaction.

#### Expected behavior
Transaction is in "Failed" state in chat

#### Actual behavior
![photo_2019-06-03 12 24 02 jpeg 2019-06-03 12-24-39](https://user-images.githubuserc

[2019-06-03 15:52] guylouis commented on #8348
When discussing this subjects a couple of weeks ago, we came to the conclusion that given the current number of Status users, we shouldn't even work on specific (complex) protocol to insure backwards compatibility. It will mean that with a given mnemonic, the user will lose his chats and he will have a new '3 words' when he upgrades to Status v1. However, He will not lose his funds which will be i

[2019-06-03 16:02] hesterbruikman commented on #8348
A note on the above designs: we still need to define how to show the current 'backup seedphrase' warning which currently comes up as soon as you have received assets in your wallet. Will put some more thought into this and follow up here asap.

[2019-06-03 16:11] corpetty commented on #6517
@Rikku-x I'll change it over to you, it has been long enough.  Sorry for the delay.

[2019-06-03 16:21] StatusSceptre commented on #6517
@Rikku-x the bounty is available for you to apply for.  I will reserve it for you and accept when you apply to start work.

[2019-06-03 16:39] yenda commented on #8348
@guylouis who did you discuss that with? Because there is a mountain of useless legacy and backward compatibility code that we could get rid of if that is the case, we shouldn't even bother migrating to the partitionned discover topic for instance.

@cammellos @mandrigin

[2019-06-03 17:14] guylouis commented on #8348
@yenda just to be sure we are talking about the same 'backwards capability' I was referring to the fact that from Status v1 the whisper key will be m/43'/60'/1581'/0'/0' and not any more m/44'/60'/0'/0/0 like today. So for a given mnemonic (unless we build a specific backward compatibility mechanism) the user will have a new  '3 words', chat 'identity' and history.

@gravityblast  has been leading

[2019-06-03 18:36] speedyFixer commented on #8047
Hi @rachelhamlin, Yes, I'm available to work in this issue this week. :)

[2019-06-03 20:36] dmitryn commented on #5124
@katzdan solution i mentioned could be executed when user enters the message as we have reference to text input. In this scenario we need to add some boolean flag (like `isRTL`) to the message in order to display it correctly in future.

Now we do RTL check with regex each time messages gets rendered which already not optimal. I think it's better to do it once when message gets saved to realm. Any

[2019-06-04 03:50] bitsikka commented on #7968
@gitcoinbot yes I am working on it

[2019-06-04 08:57] asemiankevich opened #8352 "json: cannot unmarshal hex string when token transaction sent without internet connection"
# Problem

`:wallet/transaction-error :code 2 :message json: cannot unmarshal hex string "0x" into Go value of type *hexutil.Big`

# Logs

[code]

## Steps

1. request eth in simple dapp
2. throttle internet connection (or limit it to 0 kbs)
3. request stt in simple dpp

This also was seen when buying stickers.

![image](https://user-images.githubusercontent.com/28752642/58865597-83d28c00-86bf-11e

[2019-06-04 09:29] rachelhamlin commented on #8047
Awesome :) @StatusSceptre is it possible to approve @speedyFixer for work on this?

[2019-06-04 09:33] yenda commented on #8047
@3esmit do we already have a version of the simple contract that can be stopped and that is deployed on ropsten? If possible the best would be one deployed contract that is stopped and one that is not stopped so that the dev can try both use cases

[2019-06-04 09:33] rachelhamlin commented on #8348
Okay, thanks @guylouis, that makes sense.

[2019-06-04 09:35] yenda commented on #8348
@guylouis yes that is what I mean if the whisper key is changed the communication protocol backward compatibility is useless because the identity would have changed

[2019-06-04 09:46] 3esmit commented on #8047
@yenda I can implement the same stoppable scheme as this one in the current version of the contract.

For the test envoirment, I would then create a presetup of defined addresses, and then stop this contract and deploy another one which simulates a migration.
I can also deploy another non stopped which not simulate a migration, which simulate the starting point on mainnet.

The contract is mapped

[2019-06-04 09:49] yenda commented on #8047
for this issue we only need a version of the simple contract with stopped deployed 2 times on ropsten:
- one that is stopped
- one that is not stopped

regarding the migration we can continue the discussion on the other issue related to the ttt contract this one is just for the bounty on adding stopped capability

[2019-06-04 09:54] jeluard commented on #8070
@flexsurfer Can you comment why some items are left out? Do we have any tasks to track them?

[2019-06-04 10:47] rachelhamlin commented on #8070
So as far as I can recall @jeluard -

- Group chat invite controls are a new feature, so we're not including that here (only UI)
- Same with `Restore defaults`
- `Opt-in web3 provider access` no longer exists, but was still in the design at the time

Now designs need to be further updated to reflect the addition of `Preview privacy mode` and relocation of `Browser privacy mode`.

In other words, [

[2019-06-04 10:53] rachelhamlin commented on #8070
I noticed that the new designs don't include `DApp permissions` anywhere. We should keep those, under `Privacy and security` > `Privacy` as well.

Currently they're in the top level menu:

<img src="https://user-images.githubusercontent.com/15470435/58873925-571e7480-86bf-11e9-9970-b733a07782a9.png" width=250/>

So `Privacy` contains:

(1) `Preview privacy mode`
(2) `DApp permissions`

[2019-06-04 10:55] cammellos opened #8353 "Deploy postgres mailserver to the rest of the fleet"
Currently postgres mailserver is only deployed on one test fleet and it is currently under testing.
If testing is successful we will want to deploy that to the remaining fleets, but first we need to hydrate them (through syncing potentially).

This will involve installing postgres so that they have access to it and change config.

[2019-06-04 10:57] flexsurfer commented on #8070
hey @jeluard so the idea was to split profile epic into atomic issues, we have issues to track other changes, but these issues should be reviewed before starting work, i believe these issues not in the priority for now anyway, so i'll review them again when we will start working on them

[2019-06-04 11:09] StatusWrike commented on #8071
➤ Julien Eluard commented:

Estimated to 1 day of work

[2019-06-04 11:09] StatusWrike commented on #8070
➤ Julien Eluard commented:

Estimated to 2 days of work

[2019-06-04 11:09] StatusWrike commented on #8069
➤ Julien Eluard commented:

Estimated to 2 days of work

[2019-06-04 11:11] mandrigin commented on #8348
cc @oskarth

[2019-06-04 12:35] 3esmit commented on #8047
## Sources
https://github.com/status-im/contracts/blob/29a3e993ffec928ea56f944edecdd8927c85ac88/contracts/communication/MessageTribute.sol

metadata.json :
[bzz-raw://9592e5524a4e3916b573ec911df7f8b329700b2d385ee3e05f1cf5a29cc672a5](https://swarm-gateways.net/bzz-raw:/9592e5524a4e3916b573ec911df7f8b329700b2d385ee3e05f1cf5a29cc672a5/)

## Deployed contracts
### `Stopped=true` contracts:
[Ropsten @

[2019-06-04 14:50] asemiankevich opened #8355 "Range error: Array size is not a small enough positive integer error shown when opening chat (public or 1x1)"
# Problem

`Array size is not a small enough positive integer` error shown when sending tokens in 1x1 chat. Can't get it manually but autotests sometimes do see this issue.

![image](https://user-images.githubusercontent.com/28752642/58888978-dc6e4d00-86f0-11e9-8318-d0377e294625.png)

## Steps

1. open status
2. as device A request 0.004131042 stt
3. as device B respond to the request

## Logs

[c

[2019-06-05 01:08] speedyFixer commented on #8047
I'm waiting the approval to start working :)

[2019-06-05 05:07] KubebatHaMachatz commented on #5124
Thanks @dmitryn,

Working in the implementation. Might take 1-2 days before committing the code.

Regards,

[2019-06-05 08:08] StatusWrike commented on #8348
➤ Rachel Hamlin commented:

Guy-Louis Grau just to get my head straight, why is it renamed to 'proposal and discussion'?

[2019-06-05 08:53] StatusWrike commented on #8348
➤ Guy-Louis Grau commented:

this is a mistake :) I just write that on the wrong line :( sorry, and correcting right now

[2019-06-05 11:22] churik opened #8362 "/send and /request incoming messages disappear from chat after changing network"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: incoming `/send` and `/request` messages disappear from chat after changing network and there is no way to see these messages again.
Not reproducible on 0.13.0.

#### Expected behavior
can see  incoming `/request` command on mainnet

#### Actual behavior
chat is empty

### Reproduction

[comment]: # (Describe how

[2019-06-05 11:26] churik commented on #8362
cc @rachelhamlin
IMO should be prioritized for fix

[2019-06-05 11:32] churik commented on #8362
@yenda probably you can take a look?

[2019-06-05 13:11] StatusWrike commented on #8263
➤ Oskar Thoren commented:

Andrey S what's the state of this? Right now it is estimated for May 14 (1d). It'd be good to update with new date, duration and owner (if different).

[2019-06-05 13:21] StatusWrike commented on #8263
➤ Andrey S commented:

with Rachel Hamlin and Igor Mandrigin we decided to make bounties for this, and it's awaiting approval

[2019-06-05 13:26] asemiankevich opened #8365 "Error dialog is shown when switching languages on some android devices"
# Problem

Error dialog is shown when switching system language while status is running on background

## Steps

1. open status
2. send to background
3. change system language in phone settings
4. resume app from background

Expected: user is logged out when system language is changed.
Actual: error dialog is shown

![image](https://user-images.githubusercontent.com/28752642/58959838-98da1880-87ae

[2019-06-05 13:28] yenda commented on #8365
As a first step we should switch to https://github.com/react-native-community/react-native-localize because react-native-languages is deprecated

[2019-06-05 13:36] StatusWrike commented on #8263
➤ Igor Mandrigin commented:

actually Eric already did some improvements there, and he was measuring even more... so I consider it "in progress"

[2019-06-05 13:55] StatusWrike commented on #8263
➤ Oskar Thoren commented:

So who is owning it ? Right now this is empty.

[2019-06-05 14:01] #6517 closed, assigned to nobody

[2019-06-05 14:07] annadanchenko opened #8366 "Can't launch mobile app after realm upgrade: Unfortunately, Status has stopped (Android 6.0.1, Galaxy S6 and S7)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Can't launch app, see "Unfortunately, Status has stopped" popup instead. Installed Android nightly build from https://ci.status.im/job/status-re

[2019-06-05 14:37] yenda commented on #8366
@jakubgs since you just had a stab at the ndk filter could you look at this? seems like https://github.com/facebook/react-native/issues/24261 could solve this

[2019-06-05 14:40] jakubgs commented on #8366
@yenda

How is that any help when we need 64 bit support to do a release starting from 1st of June?

[2019-06-05 14:46] yenda commented on #8366
apparently realm doesn't support 64 bits yet anyway
https://github.com/realm/realm-js/issues/2282#issuecomment-498329160

[2019-06-05 14:49] jakubgs commented on #8366
According to this:
https://github.com/facebook/react-native/issues/25060#issuecomment-497993541

But that's nonsense because we need `arm64-v8a` to be compliant with the new Play Store requirements:
https://developer.android.com/distribute/best-practices/develop/64-bit

and:

So we can't just drop it, or we will be unable to release to the Play Store.

[2019-06-05 14:50] annadanchenko commented on #8366
update on devices where issue can be reproduce and not:

Can reproduce issue
1. Galaxy S6, Android 6.0.1
2. Galaxy S7, Android 6
3. Galaxy S7, Android 8.0.0
4. Galaxy S8, Android 7

Can't reproduce issue:
1. Galaxy Note 4, Android 6.0.1
2. Nexus 6, Android 6

[2019-06-05 14:59] yenda commented on #8366
Confirms that it is 64 bits phones

[2019-06-05 15:00] yenda commented on #8366
@jakubgs we can drop it until realm supports it, so I'll be watching their issue, it shouldn't take long

[2019-06-05 15:06] jakubgs commented on #8366
Okay, we can do that, but just to be clear, we won't be able to do Android releases until we undo the temporary fix: #8367

[2019-06-06 06:36] xiaods commented on #6433
Is this bounty still open ? I'd love to help with it

[2019-06-06 07:33] Rikku-x commented on #6517
Hey, @StatusSceptre, how can I receive the bounty?

[2019-06-06 08:40] churik commented on #6946
Everyday test "Can join test public chat and send/recieve text messages" https://ethstatus.testrail.net/index.php?/tests/view/705822 is failed in nightly because of this issue.
The reason is that device and runner are located in different timezones - so test is seeking message below "Today", in fact it is located under yesterday.
Logs/video: https://app.saucelabs.com/tests/ddf863e56f544cf5896136a7

[2019-06-06 13:13] Rikku-x commented on #6517
@corpetty can you please assist with getting bounty?

[2019-06-06 13:28] churik opened #8370 ""a.toNumber is not a function" when open collectibles (Ethermon, Cryptostrikers)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: when open collectibles like Cryptostrikers or Ethermon - error is shown. Not reproducible with CryptoKitties.
It is not reproducible on release 0.13.0.

#### Expected behavior
can see collectibles

#### Actual behavior

![2019-06-06 15 29 50](https://user-images.githubusercontent.com/4557972/59036619-f5513c80-886

[2019-06-06 13:42] StatusSceptre commented on #6517
Hey @Rikku-x - thanks so much for the great work!

[2019-06-06 13:43] Rikku-x commented on #6517
@StatusSceptre @corpetty  thank you guys :)

[2019-06-06 14:10] churik opened #8371 "Black font (instead of grey) is applied for /send and /receive messages in preview"
### Description
*Type*: Bug

*Summary*: if last message in chats are `/send` or `/request` command, it is shown with different styling (font is black instead of grey)

#### Expected behavior
preview is the same as for other messages

#### Actual behavior
![download (1)](https://user-images.githubusercontent.com/4557972/59039496-40218300-8875-11e9-9557-826602b2d3a2.png)

[comment]: # (Describe what

[2019-06-06 17:47] e18r opened #8373 "Adding dependency causes Status to get stuck in logo"
### User Story

As a developer, I want to include the [unfurl](https://github.com/e18r/unfurl) library in the Status codebase, in order to address issue #4606.

### Description

*Type*: Bug

*Summary*: When I `:require` the [unfurl](https://github.com/e18r/unfurl) library in my code, the development app is launched, but it gets stuck on the logo forever. I imported that library in an [example proj

[2019-06-06 17:51] e18r commented on #4606
I uploaded my own version of the unfurl library to clojars, but adding it to Status has been difficult. As soon as I `:require` it in my code, Status gets stuck on the initial logo forever. I just opened issue #8373 with all the details.

[2019-06-06 20:32] krisc commented on #8366
This happens to my Samsung S6 Edge, Android 7 as well.

Which branch of the upstream repo can I rebase my own development branches with so I can continue development?

[2019-06-06 20:54] jakubgs commented on #8366
@krisc you can try #8367 and tell us if it helped.

[2019-06-06 21:34] yenda commented on #8366
@krisc please try https://github.com/status-im/status-react/pull/8368 first

the first build, the others don't matter it's just stupid yarn doing too much

[2019-06-07 05:14] speedyFixer commented on #8047
Hi, just an update, I'm reading the TTT spec and the things around it.

[2019-06-07 06:17] StatusWrike commented on #8263
➤ Nabil Naghdy commented:

Should this be assigned to Eric D instead? Any update on this?

[2019-06-07 07:56] rachelhamlin commented on #8047
Hey @speedyFixer - great! I've been notified that you're approved. Do you have what you need to get started?

[2019-06-07 07:59] StatusWrike commented on #8263
➤ Rachel Hamlin commented:

It's on the core UI project board. No one in particular is owning it from engineering because there's not even a bounty on it yet—I've pinged the appropriate people about this in #status-peopleops and via email.

[2019-06-07 09:28] churik opened #8375 ""Save password" is unavailable for devices without biometric authentication"
### Description
*Type*: Bug
*Summary*: on devices without biometric authentication not possible to use "Save password" anymore.
Instead of toggle "Save password is unavailable: your device may be rooted or lacks the necessary security feature"
Most likely was introduced in https://github.com/status-im/status-react/pull/8127

#### Expected behavior
Can use "Save password"

#### Actual behavior
![do

[2019-06-07 09:35] StatusWrike commented on #8263
➤ Eric D commented:

I think this could be closed because the title isn't really accurate. There is 99 problems here and parsing ain't one because it is already done when you navigate to a chat, the messages are stored parsed in the db:
- the nested text component used for messages with formatting was suboptimal, I fixed it and at this point I think it can hardly be more efficient
- according to p

[2019-06-07 09:36] StatusWrike commented on #8263
➤ Eric D commented:

First suggestion having the lowest cost/highest reward and short term effect

[2019-06-07 09:41] pedropombeiro commented on #8373
I do see this in adb logcat:
[code]

I'm assuming it's referring to
[code]
in line 81 of `target/android/hickory/core.js`

maybe this is relevant? https://github.com/davidsantiago/hickory/issues/17#issuecomment-168378641

[2019-06-07 09:43] flexsurfer opened #8376 "Use cloudlare ipfs for stickers instead infura"
# Problem

Infura ipfs gateway is not reliable

## Implementation

Use cloudflare instead

[2019-06-07 10:57] e18r commented on #8373
Thank you for your help, @PombeirP. It's probably very relevant, will look into that.

[2019-06-07 13:11] jakubgs commented on #7501
This is still an issue. And it's absurd.

[2019-06-07 13:47] annadanchenko commented on #8375
@tbenr would it be possible to fix it? So, devices without biometric authentication  can use Save password as before #8127?

[2019-06-07 13:55] tbenr commented on #8375
@churik @annadanchenko checking..

[2019-06-07 13:57] #8366 closed, assigned to nobody

[2019-06-07 14:50] tbenr commented on #8375
Initially I implemented that check but then i forgot it was there...

[2019-06-07 15:59] speedyFixer commented on #8047
Yes! I am reading the PR, the spec and other things related to TTT

[2019-06-07 17:46] yenda opened #8381 "[PERF] Replace use of slurp macro"
# Problem

Using the slurp macro is bad, whatever you slurp ends up being copied as is as a string in the minified js produced by the compiler, even with advanced optimization.

## Implementation

Each use case of the slurp macro is unique. The easiest case to get rid on is json config files, because they can be used like modules. @rasom can probably describe how to proceed

## Acceptance Criteria

[2019-06-07 17:48] yenda opened #8382 "[PERF] Remove SVGs"
# Problem

SVGs aren't images, it is code, which needs to be initialize at startup time
This issue is also related to #8381 because the SVGs are slurped (though optimized at compile time)

## Implementation

SVGs are replaced by PNGs

## Acceptance Criteria

svg namespaces are deleted

[2019-06-07 17:54] yenda opened #8383 "[PERF] Minify html, js and css"
# Problem

When opening a webview, we inject a modified version of web3 and 25k of non minified code of ours.
The web3 code is slurped and hence there is a 140ko string in the advanced compiled code (see #8381)

Extensions are also slurping a non minified 4k html file

## Implementation

Minify our html/css/js in the build pipeline
Find a way to inject web3 without slurping it into the bundle

##

[2019-06-07 17:56] yenda opened #8384 "[PERF] List of strings and config in the code"
# Problem

List of strings and config is in the code when it could be put in separate modules

## Implementation

Use modules

## Acceptance Criteria

gfycat.animals 25k
gfycat.adjectives 18k
signing-phrase.dictionaries.en 6k
are turned into jsons and modularized

[2019-06-07 17:58] yenda opened #8385 "Upgrade to react-navigation 3"
# Problem

The upgrade to react-navigation should bring some slight perf improvements and anticipating will prevent us from having to catch up later on when we have to use a new react-native version

## Acceptance Criteria

react-navigation is used

[2019-06-07 18:02] yenda opened #8386 "[perf] get rid of platform specific code at compile time"
# Problem

There is lots of code that is platform specific in the codebase, the issue is that this isn't a check that needs to be done at runtime. Platform specific conditionals should actually be macros that exclude the code from other platforms
The whole ui/screens/desktop folder of namespaces should be excluded from mobile builds as well

## Implementation

Turn all the platform conditionals in

[2019-06-07 18:06] yenda opened #8387 "[PERF] Remove dead code related to accounts.statuses"
# Problem

There is some dead code related to `status-im.accounts.statuses` which aren't use anymore

## Implementation

Delete

## Acceptance Criteria

Statuses and all the dead code that is attached are removed, including potential fx, injected cofx and effect

[2019-06-07 18:14] yenda opened #8388 "Analyse bridge activity during opening of a chat"
# Problem

When opening a chat, we would like to have a good understanding of what is happening.
Currently profiling has shown that the js thread isn't that busy, however the messages are still slow to render

- when experimented with formatting heavy messages, component will mount is called way before the message is actually shown on screen, which seems to indicate that the js thread is not the b

[2019-06-07 18:24] StatusWrike commented on #7015
➤ Hester Bruikman commented:

Not sure why this was auto-updated to completed. Bounty approved, awaiting contributor

[2019-06-09 02:03] weekly-digest[bot] opened #8389 "Weekly Digest (2 June, 2019 - 9 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 53 issues were created.
Of these, 22 issues have been closed and 31 issues are still open.
## OPEN ISSUES
:green_heart: #8388 [Analyse bridge activity during opening of a chat](https://github.com/status-im/status-react/issues/8388), by [yenda](https://github.com/yenda)

[2019-06-09 06:44] speedyFixer commented on #8047
@rachelhamlin a question:

Why can't I see the TTT option like the [Figma File](https://www.figma.com/proto/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1738%3A46&scaling=min-zoom&redirected=1)?

![Screenshot_1560062450](https://user-images.githubusercontent.com/46165430/59155889-ceedf580-8a57-11e9-8fea-164e89add477.png)

[2019-06-09 08:06] yenda commented on #8047
@speedyFixer because ttt is disabled you need to enable. The simplest way to do so is in utils.config

[2019-06-09 11:57] jakubgs commented on #7418
I've gotten bitten by this more than once. I type the password in, use the account for a while, then reboot my phone, try logging in and... no dice... apparently typed in the password wrong the first time when recovering.

Whelp, I guess I'm recovering AGAIN...

[2019-06-09 13:36] speedyFixer commented on #8047
@yenda Thanks!

[2019-06-09 17:40] speedyFixer commented on #8047
@yenda "user will be warned", what kind of UI would be OK for this purpose?

[2019-06-10 02:17] mivanzhang opened #8391 "Where can i get a apk？"
# Problem

An overview of the background required to understand the problem.
A problem description.

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

[2019-06-10 02:17] mivanzhang commented on #8391
Where can i get a apk？I want to have a try

[2019-06-10 04:32] shamardy commented on #7633
@StatusSceptre any update here? @yenda should I create a PR and start work until I get approved?

[2019-06-10 05:47] StatusWrike commented on #8263
➤ Oskar Thoren commented:

Igor Mandrigin can you close this if you agree with above, or come up with next steps / fork issue / delegate or whatever else is needed to bring closure to this issue?

[2019-06-10 05:47] StatusWrike commented on #8263
➤ Oskar Thoren commented:

Eric D thanks, do we have defined issues for these in your view more high impact ones?

Also cc Roman Volosovskyi for his POV

[2019-06-10 07:20] Serhy opened #8395 "Black bar overlaps the bottom tab panel [on iPad Pro]"
***Type***: Bug
***Summary***: On iPad Pro the bottom tab bar is covered by the safe area, meaning the black bar overlaps the text labels. And when the panel is minimized - the device bar overlaps icons.
We need to have extra padding, just like we do for the iPhone X.

#### Expected behavior
Status app bottom tab panel (Chats-Dapps-Wallet-Profile) is not overlapped by iPad Pro's bottom bar

#### A

[2019-06-10 08:25] rasom commented on #8381
Implemented in #8394, though impact on performance is kind of limited. On the other hand it makes it a bit simpler to reason about the rest of index.*.js, because besides `status-im.utils.gfycat.*` the rest of it is actually js code, not string resources.

[2019-06-10 08:26] rasom commented on #8384
can be put into a separate module but the impact on performance is quite low

[2019-06-10 08:27] rasom commented on #8383
this is handled by #8394 except magnification, but assuming it has very love impact on performance there is no real need to do magnification here

[2019-06-10 08:37] yenda commented on #7633
@shamardy yes
@flexsurfer please find someone to approve him

[2019-06-10 09:00] StatusWrike commented on #8263
➤ Igor Mandrigin commented:

I think apart from the wrong title, the issue stands valid, it has repro steps and results that aren't dependent on what is the reason behind messages being rendered slowly.
Basically, we know that heavily formatted messages are super slow to render, and of course, we can identify multiple different reasons why does that happen, and file multiple PRs to fix them, but i

[2019-06-10 09:10] annadanchenko commented on #8391
from PlayStore https://play.google.com/store/apps/details?id=im.status.ethereum or from https://status.im/stable/

[2019-06-10 09:10] #8391 closed, assigned to nobody

[2019-06-10 09:15] StatusWrike commented on #8263
➤ Rachel Hamlin commented:

We'll keep it open and I'll follow up on bounties today :)

[2019-06-10 09:39] rasom commented on #8365
@yenda this is unrelated to the issue

[2019-06-10 09:58] Serhy opened #8397 "Noticible delay of 6th+ message appearance on chat view if they fit the screen after navigation"
***Type***: Bug

***Summary***: If there are > 5 messages fit the chat view on a device, in many cases, it's noticeable that we load first 5 messages and then the rest bunch of messages. It makes "the app laggy" impression.

#### Expected behavior
All messages that fit chat view upon navigating to one appear at the same time.

#### Actual behavior
Noticible delay between first 5 and reset of messa

[2019-06-10 10:11] StatusSceptre commented on #7633
Hey @yenda and @flexsurfer - @shamardy has been approved.

[2019-06-10 18:12] #8365 closed, assigned to nobody

[2019-06-11 07:28] #8375 closed, assigned to nobody

[2019-06-11 09:35] annadanchenko opened #8401 "No quote is shown on nightly build if reply is sent from 0.13.0 release build"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
UserA on release build replies to the userB on nightly build. UserB on nightly build sees only message from userA and no quote as it's a usual m

[2019-06-11 09:42] hesterbruikman commented on #5776
Hi @krisc has your PR solved this issue or is it still open?

[2019-06-11 10:23] rachelhamlin commented on #6375
Hey @bitsikka! Just want to check in on this one. You still working on it?

[2019-06-11 10:48] rachelhamlin commented on #8047
Hey @speedyFixer! Sorry for the delay. @yenda is now out on holiday for two weeks so it will be a minute before he gets back to you.

Perhaps we can work on the underlying logic while setting aside the UI requirement, at least until @yenda is back.

We do have a screen we could use for the disabled state ([here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1319%3A13403)), thoug

[2019-06-11 12:55] bitsikka commented on #6375
@rachelhamlin yes, still working on it.
Ran into some external hiccups recently(weird pre monsoon flood, swelling macbook battery and such) - managed now.

I will have a PR soon

[2019-06-11 12:56] bitsikka commented on #7968
@gitcoinbot yes still on it. Will make PR soon

[2019-06-11 14:36] krisc commented on #5776
hit a roadblock on the other PR, and it may be unrelated after all. As mentioned here https://github.com/status-im/status-react/pull/7880, I was having issues with nix and will be submitting a brand new PR for this issue.

hit a minor roadblock there due to https://github.com/status-im/status-react/issues/8366, but I'll try to submit a new PR for this issue at some point today.

[2019-06-11 14:44] StatusSceptre commented on #8263
@rachelhamlin @mandrigin - what experience level shall be set for this bounty?

[2019-06-11 16:19] deeayeen commented on #8166
Yes I am currently working on this issue.

[2019-06-11 16:35] krisc commented on #7215
@Skyge still interested in this bounty?

[2019-06-11 16:53] krisc commented on #7472
Is this still relevant? I may be interested in working on this.

[2019-06-11 17:29] KubebatHaMachatz commented on #5124
Status : I create the react naive module and it's working well in a tester react native app. I also updated the regex to include Armenian, Urdu, Kurdish and Farsi (Dhivehi is not supported on Android 8-9).
I'm now working on adding the native module as a dependency and the code to use it. I'll report after I commit the code.

[2019-06-11 18:46] speedyFixer commented on #7015
Hi @gitcoinbot, yes I'm working on this, I'm reading the chat code...

[2019-06-11 19:34] speedyFixer commented on #8047
Thanks @rachelhamlin !

[2019-06-12 08:26] rachelhamlin commented on #8263
@StatusSceptre I think medium is okay. Thanks!

[2019-06-12 08:53] jeluard commented on #8067
Heuristic to display name:

- defaults to funky animal names
- ENS name overrides funky name
- Nickname, if set, is displayed in addition

[2019-06-12 08:56] jeluard commented on #8067
Having ENS name resolution go side makes sense as most of the chat protocol handling and persistency will be migrated there soon. There might be a performance boost too but probably marginal.
After discussing with @adambabik and @cammellos it appears that this work will happen no sooner than end of month. To validate assumptions and have an early prototype I will go ahead with the Clojure implemen

[2019-06-12 10:18] KubebatHaMachatz commented on #5124
Status : I create the react naive module and it's working well in a tester react native app. I also updated the regex to include Armenian, Urdu, Kurdish and Farsi (Dhivehi is not supported on Android 8-9).
I'm now working on adding the native module as a dependency and the code to use it. I'll report after I commit the code.

[2019-06-12 11:34] #8373 closed, assigned to nobody

[2019-06-12 11:55] asemiankevich opened #8404 "Error shown when enabling biometric auth for second account"
# Problem

Error shown when enabling biometric auth for second account

## Steps

1. create account -> profile -> dev mode -> enable biometric auth
2. logout
3. create brand new account -> profile -> dev mode -> enable biometric auth

![image](https://user-images.githubusercontent.com/28752642/59349074-6d60ac00-8d21-11e9-8fbb-349d89d58f9a.png)

[2019-06-12 12:05] asemiankevich opened #8405 "Wrong password error shown when signing typed message in Simpledapp on Mainnet"
# Problem

Wrong password error shown when signing Typed message in Simple dapp while on Mainnet. Works fine on Ropsten

## Steps

1. open status -> create account
2. open simpledapp.eth -> transactions -> sign typed message

![image](https://user-images.githubusercontent.com/28752642/59349869-5e7af900-8d23-11e9-8b8c-d79bd8ec048d.png)

[2019-06-12 12:26] annadanchenko opened #8406 "No input field in 1:1 chat is shown for some of the contacts"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Input field is not shown for some of the contacts in 1:1 chat. Maybe, it's because of the way they are added I(I've used universal link from sta

[2019-06-12 14:02] #8026 closed, assigned to nobody

[2019-06-12 14:23] annadanchenko opened #8408 "Signing message title overlaps phone status bar on some screens"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In new signing flow: title and status bar overlap each other if sign message from Dapp on Galaxy S6, Pixel XL phones. In the same time on Pixel

[2019-06-12 15:02] #7105 closed, assigned to nobody

[2019-06-12 17:27] KubebatHaMachatz commented on #5124
@dmitryn - I cannot push into the repo. Am I doing something wrong? I'm trying to push into a new branch I create - 'fix/5124-detect-rtl-direction' but getting an error msg:

[2019-06-13 12:26] e18r commented on #4606
Hello, I stopped working on this issue. Feel free to [apply](https://gitcoin.co/issue/status-im/status-react/4606/2861) on Gitcoin. Also, if you have any questions you think I can answer, don't hesitate.

[2019-06-13 12:48] Serhy opened #8412 "NoSuchKeyException: backgroundColor app crash when tap on 'Network Fee' (android)"
***Type***: Bug

***Summary***: With the new wallet sign in transaction flow (https://github.com/status-im/status-react/pull/8361) every time I'm trying to modify 'Network Fee' on Android build - the
`com.facebook.react.bridge.NoSuchKeyException: backgroundColor` error appears followed by app crash when tap on 'Network fee' element from bottom sheet.

#### Expected behavior

Network Fee sheet appe

[2019-06-13 15:41] asemiankevich opened #8414 "Can't install stickers via automation framework"
# Problem

Stickers tests are failing

## Logs

[code]

https://ethstatus.testrail.net/index.php?/tests/view/718113
https://ethstatus.testrail.net/index.php?/tests/view/718114

[2019-06-13 18:45] annadanchenko commented on #7438
still valid

[2019-06-14 07:34] asemiankevich opened #8416 "No incoming messages in group chat for recovered account (android)"
# Problem

Recovered account on my Android device does not see incoming messages in a group chat.

## Steps

1. on Device A (android) recover account with known seed
2. on Device B (iphone) create brand new account
3. switch both to ropsten and add to contacts
4. create a group chat with 2 accounts
5. from device A send a message to group chat, make sure it is visible for Device B
6. from device B

[2019-06-14 09:36] rachelhamlin commented on #6375
No rush in any case @bitsikka. But good to know. Glad all monsoon + battery issues are worked out! 😬

[2019-06-14 10:32] rachelhamlin commented on #8136
@annadanchenko I think this flow is sufficient for migrating users, wdyt? User recovers an account + creates a pin code when they do. We could explain this step in the marketing comms.

[2019-06-14 11:15] flexsurfer commented on #8269
fixed in #8026

[2019-06-14 11:15] #8269 closed, assigned to nobody

[2019-06-14 11:35] asemiankevich commented on #8416
@cammellos maybe you could take a look into this? I see some crashes in logs, not sure if this a reason

[2019-06-14 11:51] cammellos commented on #8416
thanks,

just to make sure, messages from B are not seen on A, is that correct?

for the account A, how many devices ( or installations) are around ?( i. e do you often recover)

[2019-06-14 11:53] asemiankevich commented on #8416
@cammellos

yes, right

difficult to count, a lot of times, i use this account for testing and it is my account i am using for chats in status. Ping me i can share the seed if needed

[2019-06-14 11:57] cammellos commented on #8416
that s likely the issue, we only sync max 3 devices, if you have many
running it will only pick 3, eventually it will settle if you stop using
them, but as soon as you recover it might target old devices ( it targets
the last 3 by activity, or that are paired with an active device)

On Fri, Jun 14, 2019, 13:54 asemiankevich <notifications@github.com> wrote:

[2019-06-14 13:04] flexsurfer commented on #8412
@Serhy can't reproduce on ios, could we move it into a separate issue and ask someone @asemiankevich to repro? because i believe she tested on ios

[2019-06-14 13:06] asemiankevich commented on #8412
this overlapp on iOS i did not see , maybe we can log it with help-to-reproduce until i find steps

[2019-06-14 13:07] StatusWrike commented on #8263
➤ Igor Mandrigin commented:

Rachel Hamlin I think I found a solution to this issue, currently working on it in https://github.com/status-im/status-react/pull/8410

[2019-06-14 13:23] flexsurfer commented on #8412
@Serhy can't reproduce on Android as well :( no errors

[2019-06-14 13:25] flexsurfer commented on #8412
but i found something bad
![image](https://user-images.githubusercontent.com/11790366/59512197-82bc0e80-8eb8-11e9-9e64-02e8c4422636.png)
i knew this bottom sheet has such problem because we have to specify it height in pixels :(

[2019-06-14 13:26] flexsurfer commented on #8412
@Serhy btw your screenshots from ENS PR? could you reproduce in develop as well?

[2019-06-14 14:06] Serhy commented on #8412
@flexsurfer yes, Android part was reproducible in Nightly Develop 0.14.0 (2019061312) and I confirmed it is reproducible in todays nightly build too (2019061409)

iOS part, - can't reproduce with Nighlty Develop build (but can in ENS PR build). My mistake to put it here (originally issues I discovered in ENS PR, yes, then confirmed on nightly Android build the crash error assuming iOS issue will b

[2019-06-14 14:59] StatusWrike commented on #8263
➤ Rachel Hamlin commented:

Doesn't look like we have any applicants for the bounty so that's great Igor Mandrigin.

[2019-06-14 21:19] janus commented on #8130
Why is this Clojure related?

[2019-06-15 18:55] krisc commented on #4606
if no one else is interested, I may take on this bounty. But I do have other issues to resolve first. So I'll hold off on applying

[2019-06-15 18:55] krisc commented on #5654
@StatusSceptre Can I get re-approved for this?

[2019-06-16 02:03] weekly-digest[bot] opened #8423 "Weekly Digest (9 June, 2019 - 16 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 33 issues were created.
Of these, 13 issues have been closed and 20 issues are still open.
## OPEN ISSUES
:green_heart: #8420 [Update zh_Hans_CN.json and zh_hans.json ](https://github.com/status-im/status-react/pull/8420), by [jinhojang6](https://github.com/jinhojang6)

[2019-06-16 16:47] speedyFixer commented on #8047
Hi @gitcoinbot , yes, I'm working on this, I will submit a PR tomorrow :) thanks

[2019-06-17 11:33] rachelhamlin commented on #8405
@asemiankevich is it only simple dapp? Or is it other DApps as well?

[2019-06-17 11:35] asemiankevich commented on #8405
i am not aware of any other dapp where i can test this on Ropsten / Mainnet unfortunately (

[2019-06-17 11:57] rachelhamlin commented on #7765
I'm going to leave this one in Core UI backlog without bounty for now, because with multi-account people will have very little incentive to create multiple Status accounts. Thanks for thorough notes @Serhy.

[2019-06-17 11:59] rachelhamlin commented on #7090
@churik is it still possible to repro this one?

[2019-06-17 13:41] rachelhamlin commented on #8405
Have you ever seen the `Wrong password` error when typing in a mainnet DApp?

[2019-06-17 13:45] asemiankevich commented on #8405
nope, dont think so

[2019-06-17 14:23] StatusWrike commented on #8203
➤ Nabil Naghdy commented:

Pedro Pombeiro any update on this?

[2019-06-17 15:58] StatusWrike commented on #8203
➤ Pedro Pombeiro commented:

Nabil Naghdy I've just updated `Build <code>lein prod-build-android</code> and <code>gradle assembleRelease</code> in Nix build` to be in progress, which is what I'm working on. It's taking some time, since it's a big undertaking, but I expect to have it finished by the end of the week, and reviewed the week after.

[2019-06-17 17:47] bitsikka commented on #7968
@gitcoinbot sorry for dragging this for too long, I have no excuse. Please bare with me. This is a simple PR and I will submit it within a day from now.

[2019-06-17 18:22] jakubgs opened #8426 "E2E tests fail with Python key error"
# Problem

The [status-app-nightly](https://ci.status.im/job/end-to-end-tests/job/status-app-nightly/) job started failing with a python error on the 14th([#926](https://ci.status.im/job/end-to-end-tests/job/status-app-nightly/926/):
[code]

[2019-06-17 18:24] jakubgs commented on #8426
At first I thought this was caused by wrong `apk` parameter, which usually looks like:
[code]
And I saw sometimes people running it manually with:
[code]
Which I wasn't sure if it's valid format, but it didn't fail the same way in this job:
https://ci.status.im/job/end-to-end-tests/job/status-app-nightly/925/console

[2019-06-17 18:27] jakubgs commented on #8426
First I added some exception catching and got back:
[code]
Then I made a slight modification to `test/appium/support/testrail_report.py`:
[code]
And I got back this:
[code]
Which at least makes some sense, our credentials for TestRail are wrong.

[2019-06-17 18:31] jakubgs commented on #8426
But then i checked all the credentials we use in our CI and found out this:

* `SAUCE_USERNAME` - Set to `anton-status`, which is the first issue, since Anton has left Status.
* `SAUCE_ACCESS_KEY` - Exists and looks fine, but is probably bound to Antons account.
* `TESTRAIL_USER` - Does __not__ exist in CI credentials.
* `TESTRAIL_PASS` - Does __not__ exist in CI credentials.

So we have two issue

[2019-06-17 18:32] jakubgs commented on #8426
But the weird thing is, our `credentials.xml` file hasn't been modified since `2019-04-27`, so it can't be that the TestRail credentials have been removed recently.

[2019-06-17 19:32] jakubgs commented on #8426
It would be best if we created new CI dedicated accounts using the `auto@status.im` email address for both SauceLabs and TestRail, then I can add those to Jenkins credentials properly(in case of SauceLabs an API token would be necessary).

Not sure who can actually do that: @annadanchenko @asemiankevich @Serhy @churik

I've also created a proper `Jenkinsfile` for these tests:
https://github.com/st

[2019-06-18 00:20] speedyFixer commented on #7015
Hi @gitcoinbot preparing a PR....

[2019-06-18 05:08] Amolrada2442 opened #8427 "bitcoincash:qqtuqpd7twp7cznjcr694yaegr2ejc009swz95f3v0"
# Problem

An overview of the background required to understand the problem.
A problem description.

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

[2019-06-18 06:33] KubebatHaMachatz commented on #5124
I'm ready to test now but there are compilation error that are unrelated to the changes I made (they also occur in the 'develop' branch when compiling).

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugManifest'.

        is also present at [androidx.core:core:1.0.0] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory)

[2019-06-18 07:39] churik commented on #7090
yes, I need 24 hours for this) will try to repro and share here

[2019-06-18 09:11] vkjr opened #8428 "Can't run ios develop build on iPad 5th generation"
# Problem

When running latest develop on device "iPad (5th generation)", getting error:
<img width="578" alt="Screen Shot 2019-06-18 at 11 58 33 AM" src="https://user-images.githubusercontent.com/5786310/59668799-c917b300-91c1-11e9-8ea5-f24b99e55c74.png">

## Steps
- checkout latest develop (`c26572653f75e76292678a4aa0d625c401d936d2` at the time of writing)
- in separate terminals run:
`make run-

[2019-06-18 09:26] StatusWrike commented on #8136
➤ Rachel Hamlin commented:

Waiting to get bounty worker approved; will then estimate date.

[2019-06-18 09:26] StatusWrike commented on #8130
➤ Rachel Hamlin commented:

Waiting to get bounty applicant approved; will then estimate date.

[2019-06-18 09:31] StatusWrike commented on #8032
➤ Rachel Hamlin commented:

Waiting to get bounty applicant approved; will then estimate date.

[2019-06-18 09:33] vkjr commented on #8428
`iPad Air 2` works fine

[2019-06-18 10:03] StatusSceptre commented on #7105
@flexsurfer @jeluard - Was this completed? Can the bounty be released?

[2019-06-18 10:06] StatusSceptre commented on #7044
@PombeirP - Hi Pedro, this seems like it may have been missed - does this still need to be funded?

[2019-06-18 10:08] StatusSceptre commented on #8166
Hi @deeayeen - any update on this issue?

[2019-06-18 10:09] StatusSceptre commented on #7472
@hesterbruikman - Please see the above question, do we still want someone to work on this?

[2019-06-18 10:10] deeayeen commented on #8166
I have stopped work on this issue, sorry for not updating earlier.

[2019-06-18 10:12] StatusSceptre commented on #4606
Hey @krisc - I see you're also interested in working on some other issues. Thanks for your interest! Let me know if I can help in anyway.

[2019-06-18 10:13] jeluard commented on #7105
@StatusSceptre Please yes!

[2019-06-18 11:26] #8066 closed, assigned to jeluard

[2019-06-18 12:25] #3451 closed, assigned to nobody

[2019-06-18 12:27] pedropombeiro commented on #7044
@StatusSceptre oops, I forgot to get back to you on this. I'd say this is probably a low L, because of the amount of testing required to ensure that the functionality works, as well as the scrolling functionality (which is always a potential source of surprises in any project).

[2019-06-18 13:39] hesterbruikman commented on #7472
I can't reproduce the behavior described, so I'll close the issue. Thanks for checking @StatusSceptre @krisc I'll let you know when we have something more actionable on QR codes.

[2019-06-18 13:39] #7472 closed, assigned to nobody

[2019-06-18 13:43] annadanchenko commented on #8427
@Amolrada2442 closing, as there is no explanation

[2019-06-18 13:43] #8427 closed, assigned to nobody

[2019-06-18 14:34] jeluard commented on #8376
This issue requires more background checks.

Specifically:

- IPFS support pinning, moving away from it we would need to replace that
- are we confident that we have perf issues?
- if so, will moving to cloudflare solve it?

[2019-06-18 14:56] asemiankevich commented on #8412
the same issue could be reproduced when multitapping Insufficient funds tooltip
@flexsurfer @Serhy

[2019-06-18 15:16] pacamara commented on #8136
@rachelhamlin @StatusSceptre Thanks for the approval, getting started :+1:

[2019-06-18 15:20] mandrigin commented on #8412
It might be a React Native issue, I will upgrade it while doing my markdown improvements.

[2019-06-18 15:28] flexsurfer commented on #8136
password confirmation in this PR https://github.com/status-im/status-react/pull/8234

[2019-06-18 15:45] #8348 closed, assigned to nobody

[2019-06-18 21:37] pacamara commented on #8136
@flexsurfer Got it, cheers :+1:

[2019-06-18 22:23] janus commented on #6505
@goranjovic Accept by expression if you still want this to be tackled

[2019-06-19 08:11] rachelhamlin commented on #7090
Okay thanks @churik. @StatusSceptre can we add a bounty to this one please? :)

[2019-06-19 08:40] churik commented on #7090
still relevant (release 0.13.0)

[2019-06-19 09:02] rachelhamlin commented on #6505
Thanks @janus - sorry about the delay! @StatusSceptre can we approve @janus?

[2019-06-19 09:36] Serhy commented on #8426
@jakubgs It was fixed and e2e tests are working now.
What happened was that TestRail account which is used for api access has been disabled. We've created a new one, configured new api key and updated Credentials for TESTRAIL_USER and  TESTRAIL_PASS (api_key here) in Jenkins.

SauceLabs account (email, user first and last name) has been updated as well from Anton's user data. However `anton-status

[2019-06-19 12:19] #8406 closed, assigned to nobody

[2019-06-19 12:43] jeluard commented on #8262
It turns out packs stored on IPFS already references to URI (using INFURA gateway). See https://cloudflare-ipfs.com/ipfs/QmQRmKoVi5a1CCWDNUFPRdEixMQfsZ2ECC5e2nQF1Gwi86/

BTW those hashes do not resolve using the official IPFS gateway.

Necessary steps to fix this issue:

- update all packs so that they use an abstract representation of files (multi hash?)
- update contract to point to thoses
- upd

[2019-06-19 13:34] jeluard opened #8439 "Sticker market selected icon is sometimes incorrect"
### User Story

As a user, I want the sticker market selected icon to always reflect the current state.

### Description

*Type*: Bug

### Reproduction

- Open Status
- Open sticker market (using rooster)
- Install a pack
- Select the newly installed pack icon (don't open the sticker details page)
- Navigate back then reopen the sticker panel
- Click on current icon, nothing happens

[2019-06-19 14:09] jeluard commented on #8439
Apparently related to the scroll-view that gets reset per new navigation. Not clear how to fix this.

[2019-06-19 14:49] jeluard commented on #7723
Related to #8349

If you click on current then latest pack right after installation it will work.

[2019-06-19 16:22] sudeepb02 commented on #8032
Hi team,

I have taken up this issue and currently going through the technical documentation and contributing guidelines. I am a beginner in Clojure, so still figuring out most of the stuff. I have downloaded the app from Play Store, but I guess the screens mentioned in this issue were after the app was released. How do I reproduce this issue? And where else to look at? Please guide me in the righ

[2019-06-19 16:37] krisc commented on #5654
@StatusSceptre One of the issues I was working on was resolved and just awaiting to get merged. Can I get approved to start work on this one?

[2019-06-19 16:58] Serhy opened #8441 "Long sync (90+ sec) when Fetch24History in 1-1 / Group chats"
***Type***: Bug

***Summary***: When 'Fetch 24 history' action in 1-1, but especially in Group, chat has tapped - app syncing (blue progress bar) takes 90+ seconds almost always (sometimes longer).
In public chat it's less than 2 seconds. It does not depend from devices: there are similar values for Low-Middle (Android 8) and iPhoneX (iOS 12).

It also depends on mailserver user is connected to, s

[2019-06-19 21:06] skeptycal commented on #7697
Sorry, I was out of town on a family emergency. I'm looking into this tonight. =)

[2019-06-20 02:05] j-zerah commented on #8293
Please update Playstore copy cc @annadanchenko

**Title:**
Status — Private, Secure Communication (Unreleased)

**Description**
Status is an open source, multi-purpose communication tool that combines a peer-to-peer messenger, decentralized crypto-wallet, and Web3 browser.

Important: Status is currently in beta testing. There are risks associated with testing a beta product, so when opting in you

[2019-06-20 09:21] Serhy opened #8442 "App crash when clicking on 'Join public chat' [Desktop]"
***Type***: Bug

***Summary***: App crashes when tap on  'Join public chat' [Desktop]
It's ok with `Start new chat` / `Start Group chat`
All fine with mobile builds

#### Expected behavior
Join public chat screen displayed when clicking upon  'Join public chat'

#### Actual behavior
When clicking on  'Join public chat' in Desktop build app crashes:
<img width="1017" alt="Screenshot 2019-06-20 at 1

[2019-06-20 09:54] rachelhamlin opened #8443 "[#8026] Add loading state for currency conversion"
### Description

*Type*: Feature

*Summary*: Continuation of the work done in [this PR](https://github.com/status-im/status-react/pull/8361#issuecomment-500465251) for #8026.

New overview screen shows fiat values for the total amount + gas. This can sometimes take time to load, so we need to add a loading state.

#### Expected behavior

Designs found here: [preferred implementation](https://githu

[2019-06-20 10:24] Serhy commented on #8441
@mandrigin @cammellos I'm wondering if this reproducible issue could be one of the major reasons of when syncing may take 10+ minutes which can happen from time to time (Note: the 10+ minutes sync may also be because of the location of mailserver user is connected to - happens usually when mailserver autoconnection is set - but it's separate from this issue.)

So if the contact has several 1-1, se

[2019-06-20 10:33] cammellos commented on #8441
The issue is a known behaviour, not quite a bug.

1 to 1 and group chats receive messages from what we call the discovery
topic.

This topic contains all the data that is exchanged on 1 to 1 and group
chats from anyone who uses status.

so when you fetch the last 24 hours, you will be receiving all the 1 to 1
messages sent on status ( you will only keep the ones that are for you).

when you fetch

[2019-06-20 10:40] StatusWrike commented on #8263
➤ Igor Mandrigin commented:

okay, hopefully final tests will pass today and I'll be able to merge it

[2019-06-20 12:59] vitvly commented on #8032
@sudeepb02 Hi! Thank you for willing to contribute to the project! Please try to setup your dev environment as described [here](https://status.im/build_status/), and let us know how it goes.

The screens that need to be changed are displayed during app login and are located in 3 rows below the `User Opens Status` label in Figma (3 top ones starting with `Sign in`).

[2019-06-20 14:07] dmitryn commented on #5124
@katzdan thanks for the updates.

I had same error, but it's gone after i did `make clean`, also did you rebase to latest develop?

[2019-06-20 14:19] StatusWrike commented on #7245
➤ Hester Bruikman commented:

Maciej Zadykowicz  This is a requirement for empty states, synced to a Github issue

[2019-06-20 14:38] rachelhamlin opened #8446 "[Multi-Account] Build account settings for individual wallet"
### Description

*Type*: Feature

*Summary*: Build on #8348. Add the [`Account settings` screens](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=2559%3A33433).

#### Expected behavior

When viewing a wallet, I can tap on `Account settings` to change the name and color of the wallet.

![image](https://user-images.githubusercontent.com/15470435/59857610-2f8f0380-9371-11e9-

[2019-06-20 14:46] rachelhamlin opened #8447 "[Multi-Account] Design touch-ups for account explorer + wallet UI"
### Description

*Type*: Feature

*Summary*: There are some to-dos remaining from [PR 8425](https://github.com/status-im/status-react/pull/8425):

- ~The correct on scroll behaviour of the navigation bar is not implemented yet~ N/A now
- ~The horizontal scroll container is clipping its content on the left side~ N/A now
- ~Pinterest style transition~ - SEPARATE ISSUE: #8896
- ~The single card shoul

[2019-06-20 14:58] rachelhamlin opened #8448 "[Multi-Account] Show signing phrase"
### Description

*Type*: Feature

*Summary*: User should see [signing phrase modal](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=2474%3A170) in account explorer when opening it for the first time.

#### Expected behavior

- Signing phrase modal is displayed on a user's first visit to the wallet tab.
- If the user clicks, `Remind me later`, it appears again on subsequen

[2019-06-20 15:05] hesterbruikman commented on #8443
A related issue:

In case of errors, the expected pattern is the "Tooltip error" that has a little tip at the bottom and hovers slightly above the list item that contains the error. In the merged build, the tool misses the tip. It has appeared, in the correct position, in an earlier test build, which is where the image on the right comes from.

cc @andmironov

![Frame 2](https://user-images.github

[2019-06-20 16:05] KubebatHaMachatz commented on #5124
I'll try it. Thanks.

[2019-06-20 17:41] hesterbruikman commented on #8032
Welcome @sudeepb02 and thanks for working on this issue. For the screens, this is your best, up-to-date reference: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1625%3A20964

@errorists , can you please confirm?

[2019-06-20 17:44] jakubgs commented on #8426
Wait, i still don't get where you are getting `TESTRAIL_USER` and `TESTRAIL_PASS` from. I don't see it in the credentials we have available in Jenkins: https://ci.status.im/credentials/

Where exactly are they set?

[2019-06-20 17:48] jakubgs commented on #8426
Also I've made this new Jenkinsfile for the tests: #8451

[2019-06-21 06:46] StatusWrike commented on #7245
➤ Maciej Zadykowicz commented:

Hester Bruikman so we automatically populate their chat list with the #introductions channel? I don't like it at all. Imo it should be made easier, that's what the new empty state does, but dumping users there without consent that's not Status-y at all. It's a chat with strangers saying 'Hi', imo to make people feel more welcomed we should present new users with a s

[2019-06-21 07:13] hesterbruikman commented on #7245
Makes sense and this is open to whatever solution you think is best. Underlying reason is that quite a few channels don't have 24/7 communication so they might appear empty. A system requirement could be that we need a dynamic list based on trending channels to fix that.

[2019-06-21 08:46] bitsikka opened #8452 "perhaps remove scroll-view hack in chat view with updated solution"
# Problem

In the spirit of:

### [Performance: slow navigation transitions](https://discuss.status.im/t/performance-slow-navigation-transitions/1259)

I had noticed this a while ago and it had been in the back of my mind for a while
https://github.com/status-im/status-react/blob/3973ebd607f4765cd8bbc874e784c596b014ad87/src/status_im/ui/screens/chat/views.cljs#L440-L445

So, I revisited the issue

[2019-06-21 08:52] rachelhamlin opened #8454 "Screenshots disallowed on Android"
### Description

*Type*: Bug

*Summary*: While testing [PR #8425](https://github.com/status-im/status-react/pull/8425), @asemiankevich was unable to take a screenshot. Received message that it is not allowed by the organization.

Would be good to investigate.

@asemiankevich is this still reproducible? Is it only on the wallet overview?

#### Expected behavior

Screenshots possible on all devices

[2019-06-21 08:54] asemiankevich commented on #8454
i need to try more, also i though we wanted to limit screenshots on recovery phrase screens

[2019-06-21 09:13] bitsikka commented on #8454
is Profile -> Preview Privacy Mode on?

This PR required an implementation in android which prevents screen capture globally if the setting is on
https://github.com/status-im/status-react/pull/8009

[2019-06-21 09:14] rachelhamlin opened #8455 "Investigate time to load token value"
# Problem

While testing PR #8425, @hesterbruikman found:

`It took suspiciously long to include the token value in the total asset amount. I didn't time it, so it could just be deceiving, but would appreciate if you can check if there's anything that can cause a significant delay.`

## Notes

Would be great to have QA verify this issue.
Following further reports, someone from engineering take a p

[2019-06-21 09:35] rachelhamlin opened #8456 "[Multi-Account] Display collectibles in empty state"
### Description

*Type*: Feature

*Summary*: There are two assets represented in the wallet: tokens & collectibles.

Currently, a user does not see the collectibles tab unless they own collectibles supported by the Status wallet.

The collectibles tab should be visible no matter what, with an empty state for users who don't own Status-supported collectibles.

#### Expected behavior

Collectibles t

[2019-06-21 10:03] rachelhamlin opened #8457 "[Multi-Account] Display token values for recovered account"
### User Story

As a user recovering an existing account, I want to see my total token value when I recover an account.

### Description

*Type*: Bug

*Summary*: When a user recovers their account using seedphrase, the fiat total value of their wallet does not include their ERC20 tokens (only ETH).

The user can fix this by changing their currency and refreshing wallet, but it should display corre

[2019-06-21 10:17] annadanchenko commented on #8353
@cammellos no issues found, so green light from testing, however I'm not sure if syncing data from other mailservers with last 30 days history will go smoothly, @adambabik to confirm

[2019-06-21 10:18] bitsikka commented on #8452
upon further investigation it seems we don't even need `:on-end-editing` (as the last comment suggested to do instead of hack) anymore; And `:on-blur` works just fine without the hack or `:on-end-editing`.

[2019-06-21 10:32] hesterbruikman commented on #8455
After further investigation: The total amount shown initially is ETH only, after change to the currency setting, token value is added to the total amount.

**Reproduce**
- Check current total value on release > Wallet
- Recover existing account on nightly
- Go to Wallet
- Check total value
- Tap [...] > Set currency
- Select a currency
- Set currency again to go to your original currency to compar

[2019-06-21 10:39] rachelhamlin opened #8458 "[Multi-Account] Share wallet with pop-up design"
### Description
_Type_: Feature

_Summary_: This issue is about implementing the appropriate sharing UI for this icon:

![image](https://user-images.githubusercontent.com/15470435/59916955-800d6c00-9418-11e9-8918-a7c9e88e9e49.png)

#### Expected behavior
Clicking share button launches popover with QR code and wallet field to copy.

[Figma link](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/M

[2019-06-21 11:11] asemiankevich commented on #8454
@rachelhamlin i cant reproduce it anymore. also i was able to see that only in a PR, maybe some race condition was reached.

[2019-06-21 11:35] rachelhamlin commented on #8455
Oh, I see! Thank you for clarifying. That means I've actually created two issues for this. I'm closing this one in favor of #8457.

[2019-06-21 11:35] #8455 closed, assigned to nobody

[2019-06-21 13:05] andmironov commented on #8443
I'd suggest something like this to indicate no ETH for gas:
- Using "network fee" rather than "Gas" for consistency;
- Letting know that you have to have the required amount on the wallet you're sending the transaction from;
- Providing a helpful call-to-action.

As for the wrong password, I'd use the default tooltip

<img width="375" alt="no-gas" src="https://user-images.githubusercontent.com/311

[2019-06-21 13:47] churik opened #8460 "Username is doubled in public chat after opening user profile from public chat and going back"
### Description

*Type*: Bug
*Summary*: if you tap on username of any user in public chat and then go back - username of this user is doubled (the same behavior when  you add someone in contacts)

#### Expected behavior
username is still the same

#### Actual behavior
3 random username is shown twice
<img width="229" alt="Monosnap 2019-06-21 15-44-47" src="https://user-images.githubusercontent.com

[2019-06-21 14:02] churik commented on #6418
still reproducible on nighlty 21/07/2019

[2019-06-21 14:04] errorists commented on #8443
for the loader I'd use an inline spinner

![inlineLoader](https://user-images.githubusercontent.com/4932774/59927925-de991100-943d-11e9-9eae-5190e6460444.gif)

engineers `activityIndicator, color: grey, size: iOS: small  Android: 16`

[2019-06-21 15:36] churik opened #8462 "Swipe back from "Sign in to status" (accounts list) leads to empty login form and at attempt to login - "Unknown status-go error""
### Description

*Type*: Bug
*Summary*:  all behavior is related to navigation between sign in screens, so I decided to keep it as one issue with two subsections
Navigation before sign-in is changed in last nightly in comparison with release 0.13.0 on IOS.
1. Now it is possible to swipe back from the accounts list and this leads to "Sign in" screen with the empty login form.

2. Also when you tap

[2019-06-21 15:38] churik commented on #8462
@hesterbruikman would like to have your opinion of what should be fixed here.
Sorry for long descriptions, don't think there is some point to split it - but tell me if you think it should be.
Thanks!

[2019-06-21 17:37] hesterbruikman commented on #8462
Thanks for tagging @churik. Indeed looks like something introduced through Keycard.
https://github.com/status-im/status-react/issues/8032 is about to start to implement new 'unlock' screens in line with onboarding and including 6-digit passcode.

Short answer for me would be to wait for a PR on that issue to see if the problem persist. But I'll look in more detail in Monday. On mobile only atm.

[2019-06-21 19:49] sudeepb02 commented on #8032
Hi @siphiuel @hesterbruikman

Thanks for the resources. I am done with the initial setup. I installed all the packages on a VPS. Is it possible to compile the app, and then download and install the apk to my device? I tried running `make startdev-android-real` and ran into errors.

[2019-06-22 16:37] speedyFixer commented on #8047
@gitcoinbot I'm working on this today, I will send the PR today...

[2019-06-22 18:07] NH603 opened #8467 "Docker Linux Desktop Image Build Recommendation/Guidance"
Hi All,

First off let me say, I want to commend you on building such a remarkable and well thought out project. I'm just scraping the surface, but your work on this is very impressive, so thank you for that.

Secondly, as I'm still familiarizing myself with this repo and others, I wanted to get your guidance on the best approach for building my own docker image for this repo and the included Linu

[2019-06-22 20:29] speedyFixer commented on #7015
Hi, @hesterbruikman and @errorists , I have some questions, already exists a validation, but a code is deleting the validation errors, this occurs too quickly, so users don't be able to see any validation error and the text in the input chat is cleared after that, so this is the behavior that cause this issue.

So, I fixed the problem, lets check the result:

![validation_erros](https://user-image

[2019-06-23 01:51] speedyFixer opened #8469 "Build status-react takes too much resources"
# Problem

I'm working on some bounties and when I build the status-react repository my desktop computer gets stuck after I run make run-android.

It tooks almost 98% of CPU

My specs:
16 GB DDR4 RAM
Core i5-8400 2.80GHz x 6
SSD M2 NVME
Ubuntu 18.04.2 LTS

Do I need more hardware or is there a problem with the build tool?

Anyone with the same problem?

[2019-06-23 01:53] speedyFixer commented on #8469
@PombeirP Could you help me? Any idea about what is going on? Thanks in advance!

[2019-06-23 02:02] weekly-digest[bot] opened #8470 "Weekly Digest (16 June, 2019 - 23 June, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 45 issues were created.
Of these, 11 issues have been closed and 34 issues are still open.
## OPEN ISSUES
:green_heart: #8468 [Changed placeholder to show "Enter password"](https://github.com/status-im/status-react/pull/8468), by [demmojo](https://github.com/demmojo)
:

[2019-06-23 16:34] asotnicov opened #8473 "Very long Topic of the group chat blocks & prevents to scroll down and see chat settings"
# Description
As a user i would like to be able to scroll down the chat's settings popup even if the Topic is too long.

# Steps
_Type_: bug
- Open Status installed from nightly 2019-June-20, ver. 0.14.0 (2019062002).
- Navigate to Chats - +Start group chat
- Choose few users and insert long topic text (over 350 symb)
- Create chat and try to open chat settings

**Actual**
- Very long Topic of the

[2019-06-23 17:21] asotnicov opened #8474 "An object of simpledapp.eth - Transactions is not fit on the screen"
# Description
As a user i would like to be able to see the full name of the transaction i going to make. Maybe some additional & important conditions are hidden.

# Steps
_Type_: bug
- Open Status installed from nightly 2019-June-20, ver. 0.14.0 (2019062002).
- Navigate to DApps - simpledapp.eth - Transactions
- Scroll down and pay attention, that one transaction is not fit on the screen

**Actual

[2019-06-23 23:57] speedyFixer commented on #8047
I have some problems with my machine, sorry for this delay. In the meantime, anyone could help me with #8469 , I will try to build again, tomorrow. Thanks

[2019-06-24 06:24] KubebatHaMachatz commented on #5124
make clean sis not help but rebase to develop did. I continuing my testing and will report back once finished.

[2019-06-24 06:26] asotnicov opened #8476 "Not able to attach logs while reporting a new bug on Huawei P10 Lite"
# Description
As a user i would like to be able to report an issue with log files attached in e-mail.
Device: Huawei P10 Lite, android 8.0
![image](https://user-images.githubusercontent.com/22766829/59995971-9c501980-9661-11e9-9d92-52ac77927a92.png)

# Steps
_Type_: bug

- Open Status installed from nightly 2019-June-20, ver. 0.14.0 (2019062002).
- Navigate to Profile - Report a bug
- Choose 'via

[2019-06-24 08:32] pedropombeiro commented on #8469
@speedyFixer the machine specs sound OK. You might run out of RAM if you have other apps that use a lot of memory if you don't have a swap file, but otherwise, I don't see anything problematic.

[2019-06-24 08:44] rachelhamlin commented on #8047
Hmm. Looks like Pedro is on #8469. Let us know if it continues to be a blocker @speedyFixer!

[2019-06-24 08:54] rachelhamlin commented on #8139
@StatusSceptre is it possible to approve chankruze on this issue instead? Looks like bryanapinos is not working on it any more.

[2019-06-24 08:57] rachelhamlin commented on #7015
Hmm, @jeluard is there any chance you might be able to weigh in here?

And @errorists @hesterbruikman, can you confirm that the figma file shows the tooltip design we should be using? I would assume that's the source of truth. Perhaps we need to update the default used then.

[2019-06-24 08:58] rachelhamlin commented on #8166
@StatusSceptre I can't tag people on this issue directly, but could you check in to see whether someone else may still pick it up?

[2019-06-24 09:03] errorists commented on #7015
I think it has something to do with the PR in which we removed all SVGs including the tooltip tip (didn't knew it was an image, you can get the same result with a rectangle view rotated by 45°). Yes, Figma is showing the [correct tooltip design](https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=858%3A64), it's an update on the one above where we removed the pink background so it's

[2019-06-24 09:11] jeluard commented on #7015
AFAIK @rasom will fix this issue soon

[2019-06-24 09:19] #8454 closed, assigned to nobody

[2019-06-24 10:01] hesterbruikman commented on #7015
https://github.com/status-im/status-react/pull/8471

[2019-06-24 10:04] vitvly commented on #8032
@sudeepb02 which errors exactly did you run into? Did also try with an AVD?

[2019-06-24 10:35] hesterbruikman commented on #8455
After further investigation: The total amount shown initially is ETH only, after change to the currency setting, token value is added to the total amount.

**Reproduce**
- Check current total value on release > Wallet
- Recover existing account on nightly
- Go to Wallet
- Check total value
- Tap [...] > Set currency
- Select a currency
- Set currency again to go to your original currency to compar

[2019-06-24 10:46] andmironov commented on #8443
FIgured it might be better to re-use this thing to dosplay the warning:
<img width="375" alt="no-eth" src="https://user-images.githubusercontent.com/3115606/60013175-77ba6880-9686-11e9-8a2e-7d4564bd0e57.png">

[2019-06-24 10:47] Serhy commented on #8412
Error crash still reproducible with nighty develop (20190624) (24th of June) on real devices: Galaxy Note 4 (Android 6.0.1), Galaxy S8 (Android 8.0), Samsung J7 (Android 8.1) when tap upon 'Network fee'.

[2019-06-24 10:49] Serhy commented on #8412
However, there is no crash when Status installed in Android emulator

[2019-06-24 11:50] hesterbruikman commented on #8443
Looks like this should be a new issue to update the 'Not enough ETH'-warning. Love the entry to Receive ETH on there!

[2019-06-24 13:28] rachelhamlin opened #8480 "[Multi-Account] Generate new account"
# Problem

Generate new account with multi-account key structure.

This work is dependent on @gravityblast's work on the go API https://github.com/status-im/status-go/pull/1500

User creates brand new account on multi-account build, from scratch.

Design explorations are [here](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1927%3A0).

Multiaccounts creation notes: https://

[2019-06-24 14:07] Rikku-x commented on #8166
@rachelhamlin  @StatusSceptre
hello!
I have already applied on Gitcoin and can fix this issue.

[2019-06-24 14:50] #8263 closed, assigned to nobody

[2019-06-24 17:07] StatusSceptre commented on #8139
done

[2019-06-24 17:15] StatusSceptre commented on #8130
@iamonuwa Are you planning to work on this?  I'll have to remove you if and look for other developers if we don't hear back in 1 day.

[2019-06-24 20:08] pacamara commented on #8136
@gitcoinbot Still working on this -- had some difficulty with getting new nix build system working on my env, that's resolved now and am coding. Should have PR ready by end of week.

[2019-06-25 02:26] bitsikka commented on #6375
@gitcoinbot I am still working on this.

Despite having taken so long, I still do not have a clear solution and working towards making it clear and reasonable. So, while I have not given up yet, It might just be that this is out of my league at this point. In which case I will have to give it up.

Either ways, I will have a definite answer in the next few days.

Thanks for baring with me, sorry fo

[2019-06-25 06:44] jeluard opened #8482 "Bottom sheet with scroll-view behave funky"
### User Story

As a developer, I want to be able to add a scroll-view in a bottom-sheet and have it behave as expected.

### Description

*Type*: Bug

[2019-06-25 06:46] jeluard opened #8483 "Implement ENS name removal"
### User Story

As a user, I want to be able to remove an associated ENS name.

### Description

*Type*: Feature

Removing a username should:
- remove it from status persisted state
- unassociated the whisper key from relevant ENS name

Make sure tx state and errors are correctly handled.

[2019-06-25 06:47] jeluard opened #8484 "Implement partial ENS association"
### User Story

As a user, I want to be able to save a ENS with no or an incorrect associated whisper key. This will trigger the appropriate transaction.
### Description

*Type*: Feature

[2019-06-25 06:51] #8067 closed, assigned to jeluard

[2019-06-25 07:29] hesterbruikman opened #8485 "[#8026] Update not enough ETH warning"
### Description

Type: Feature

Summary: Continuation of the work done in this PR for #8026.

New overview screen warning: "Not enough ETH for gas". This warning provides insufficient information to new users as the what the problem is and how to fix it and refers to gas which is inconsistent with language in the Overview screen (Network fee). Update includes a warning that provides more context.

[2019-06-25 07:29] hesterbruikman commented on #8443
Seperate the loading state update (this issue) from the warning update: https://github.com/status-im/status-react/issues/8485

[2019-06-25 08:19] StatusWrike commented on #8376
➤ Rachel Hamlin commented:

Will discuss on 25/6 core UI sync.

[2019-06-25 08:31] mandrigin commented on #8469
@speedyFixer it uses a lot of resources to compile react-native itself, all the cores of my iMac Pro are 100% when I run `make run-android` or `make startdev-android-genymotion`.

[2019-06-25 08:44] StatusWrike commented on #8135
➤ Rachel Hamlin commented:

We should be able to close this one this week.

[2019-06-25 08:44] StatusWrike commented on #8131
➤ Rachel Hamlin commented:

Should also be able to close this one this week.

[2019-06-25 09:14] churik opened #8489 "Cannot read property `substring` of null when start 1-1 chat via pasting public key or ENS name"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: when start 1-1 chat via + > Start new chat > Paste valid ENS username or public key - error `Cannot read property 'substring' of null` appears, b

[2019-06-25 11:07] StatusWrike commented on #8353
➤ Igor Mandrigin commented:

Andrea Piana what do you think we can make a "real" migration from the old DB to the new one? Just read the old levelDB and write everything to Postgres?

[2019-06-25 11:17] StatusWrike commented on #8353
➤ Andrea Piana commented:

that's probably fine, as I understand though Adam Babik is working on restoring the sync functionality, either way is fine with me

[2019-06-25 13:01] churik opened #8492 "Null is not an object (evaluating `r.substring`) when trying to start new chat with empty contact code"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: error is shown at attempt to start 1-1 chat with empty or erased value. In both cases, error appears (in 1 case - `Null is not an object (evaluating "r.substring") `, in 2 -   `Null is not an object (evaluating "a.substring") `)

#### Expected behavior
1) validation error
2) no error

#### Actual behavior
1) `Nul

[2019-06-25 13:53] #8442 closed, assigned to nobody

[2019-06-25 13:58] jakubgs opened #8493 "Research App signing process before v1 is submitted anywhere"
## Problem
Before we submit the v1 App to either Play Store or Apple Store or any other app directory we need to figure out how the way we sign our app affects the approval and listing.

A reasonable assumption would be that once we publish v1 under a specific name signed with a specific set of keys we cannot change those keys or the name. But this has to be clarified.

## Extra Problems For Extra

[2019-06-25 14:03] jakubgs commented on #8493
One way for Play Store is letting Google do the signing for you:

https://support.google.com/googleplay/android-developer/answer/7384423?hl=en

But apparently:

Which answers one question. If we do the signing ourselves and we lose the key we would need to use a new package name.

[2019-06-25 14:09] jakubgs commented on #8493
When using Google Signing process you sign your app with an `upload key`:

And then:

[2019-06-25 14:13] jakubgs commented on #8493
There is also a way to upgrade your signing key, but only once:

Which answers our question about being able to sign the app with multiple keys, or at least the APK.

[2019-06-25 14:35] jakubgs commented on #8493
I see, so if we want the app to be recognized as the same one regardless of where we publish it(F-Droid, Play Store, others) then we have to sign it with the same key, so that essentially makes it necessary for us to be responsible for protecting our keys.

[2019-06-25 14:47] jakubgs commented on #8493
Another option is not uploading APKs but instead uploading the [Android App Bundle](https://developer.android.com/platform/technology/app-bundle/index.html)(`*.aab`) which:

This has the benefit of being used to

[2019-06-25 15:36] sudeepb02 commented on #8032
Hi @siphiuel . I am running it on a VPS. So won't be able to use an AVD.

[2019-06-25 18:23] Rikku-x commented on #8130
@StatusSceptre will be glad to work on it

[2019-06-25 18:29] jakubgs commented on #8493
As far as I can tell there is no difference between an app signing key and an upload key, other than how Google handles them when you upload the APK or bundle to the Play Store.

This allows the uploader to reset their upload key when they want to change it:

https://developer.android.com/studio/publish/app-signing#reset_upload_key

[2019-06-25 18:39] jakubgs commented on #8493
It seems like this gives us to options for v1:

* Generate a new set of upload and signing keys and lose continuity with pre-v1 app installations.
* Generate a new upload key but configure out current signing key with Google so they sign our APKs with it, keeping continuity with pre-v1 app.

It is important to note that:

[2019-06-25 18:41] jakubgs commented on #8493
There are 3 version of the signing scheme for Android:

* `v1` - based on JAR signing
* `v2` - APK Signature Scheme v2, which was introduced in Android 7.0
* `v3` - APK Signature Scheme v3, which was introduced in Android 9.

The one we care about is `v3`:
https://source.android.com/security/apksigning/v3

And this section confirms that an APK can be signed using multiple certificates:
https://sou

[2019-06-25 18:45] jakubgs commented on #8493
It appears it is possible to upload an existing key to Google:

https://medium.com/@nimi0112/google-play-app-signing-to-secure-your-app-keys-883ab9996f18

https://medium.com/google-developer-experts/exploring-google-play-app-signing-b4d296f4ee9

But I can't find any official information on this.

[2019-06-25 18:53] jakubgs commented on #8493
I see, so it appears the downloading of the PEPK(Play Encrypt Private Key) tool is part of the process to enable Google Play App Signing process:

* Get the PEPK tool
![](https://i.stack.imgur.com/C38dG.png)
* Upload the signing key created with PEPK tool
![](https://i.stack.imgur.com/g0h3P.png)
* Upload the upload key
![](https://i.stack.imgur.com/doYzq.png)

https://stackoverflow.com/questions/4

[2019-06-25 18:57] jakubgs commented on #8493
Having multiple signatures sounds complex though:

Maybe @jarradh can explain why he was interested in shaving multiple signatures.

[2019-06-25 20:07] jakubgs commented on #8493
Some links I found while trying to figure out iOS signing process(since official docs are abysmal):

* https://ioscodesigning.com/
* https://www.objc.io/issues/17-security/inside-code-signing/
* https://shashikantjagtap.net/ios-code-signing-1-getting-started/
* https://medium.com/ios-os-x-development/ios-code-signing-provisioning-in-a-nutshell-d5b247760bef

[2019-06-25 20:13] jakubgs commented on #8493
The best starting point in the official documentation is probably:

* https://developer.apple.com/support/code-signing/
* https://help.apple.com/xcode/mac/current/#/dev067853c94
* https://developer.apple.com/documentation/security/certificate_key_and_trust_services
* https://developer.apple.com/library/archive/documentation/Security/Conceptual/CodeSigningGuide/AboutCS/AboutCS.html#//apple_ref/doc/

[2019-06-25 20:59] rachelhamlin opened #8496 "[Multi-Account] Migration path for existing users"
# Goal

An existing user who installs v1 either 1) on top of an existing build, or; 2) by recovering from their seed phrase, should be offered the **option** to create a new Whisper ID, but not forced.

Those who create a new key will still be able to access their old account from the login screen, like so:

<img src="https://user-images.githubusercontent.com/15470435/60131249-d53adc00-9790-11e9-8

[2019-06-25 23:56] jakubgs commented on #8493
### Certificated & Keys

The keychain on the machine holds the private/public key pairs for various types of certificates:
https://developer.apple.com/support/certificates/
The two main ones we are interested in are:

* `iOS Development Certificate` - Used for local development
* `iOS Distribution Certificate` - Used for App Store releases

Both of those are created by Xcode(or some other tool) ge

[2019-06-26 00:05] jakubgs commented on #8493
### Entitlements

The `Entitlements` is just a fancy name for permissions that the app requests from iOS/OSX and are granted to you by the sandbox. They are defied in a `*.entitlements` in our case that's the [`ios/StatusIm/StatusIm.entitlements`](https://github.com/status-im/status-react/blob/develop/ios/StatusIm/StatusIm.entitlements) file.

If you look in the https://development.apple.com/ port

[2019-06-26 04:25] guylouis commented on #8496
One question for clarification: any one who imports a mnemonic in status in v1, will be asked if he wants to use it as a legacy or as a new one ?

In any case, legacy account should be prevented to be used with a keycard.

 E.G a user downloads a fresh V1, imports a mnemnonic, decides to keep it as a legacy account -> he can't store his key on Keycard

[2019-06-26 06:30] hesterbruikman commented on #8496
@guylouis the idea so far was to offer the show the same dialog whether you're unlocking or recovering. You would not get asked if you want to use a recovered account as new or legacy. Instead you're asked if you want to create an additional, new account.

The user will need to know if the account they use is already 'new'.

I see a potential issue with Keycard here that if the user recovers a Key

[2019-06-26 07:13] yenda commented on #8496
@guylouis @hesterbruikman In order to minimize confusion for new users I would consider only supporting legacy accounts that are already on the device. Recovering with the seed phrase will work as if it is a v1 account and therefore have a different whisper key

[2019-06-26 07:29] yenda commented on #8496
Also I think we should consider doing some work at the communication protocol level regarding these migrations.
Saying that topic negotiation is a solved problem as I heard in the dev call is wrong. It will only theoretically reduce bandwidth over time, but since all clients are still going to listen to the discovery topic, it is going to be an easy target for spamming. If someone decides to keep

[2019-06-26 08:01] churik commented on #8460
Can't reproduce in nightly 26/06/2019

[2019-06-26 08:01] #8460 closed, assigned to nobody

[2019-06-26 08:30] guylouis commented on #8496
@yenda @hesterbruikman
thanks for the clarifications, that helps! if we don't propose users to use their recovered wallet (they entered the seed) as a legacy, then there is no problem with keycard anywhere.

@hesterbruikman
"I see a potential issue with Keycard here that if the user recovers a Keycard account, they will have to create a new account in order to use it. Is that right?"
-> not an iss

[2019-06-26 08:51] rachelhamlin opened #8497 "[ENS] Remove name flow"
# Problem

Need to build remove username flow, after v1 cut.

Removing a username should:

- remove it from status persisted state
- unassociated the whisper key from relevant ENS name
- Make sure tx state and errors are correctly handled.

![image](https://user-images.githubusercontent.com/15470435/60165836-f1259880-97f7-11e9-9b97-1025c0808914.png)

[2019-06-26 09:15] errorists commented on #8496
so, a dumb question but one I just need to ask. Couldn't we release 1.0 as a separate app to the store? So there would still be the legacy one, no longer supported or found in distribution, clearly labeled `beta` with only legacy accounts inside and a single screen added asking to upgrade. And 1.0 with no support for legacy accounts whatsoever? This way you can keep running both and transfer your

[2019-06-26 09:25] vitvly commented on #8032
@sudeepb02 Maybe you can use VNC or some other remote desktop tool? You definitely need to be able to have a proper development environment so that to iterate quickly.

[2019-06-26 09:52] rachelhamlin commented on #8496
cc'ing @oskarth in reference to this.

@errorists we discussed this and it was shot down, but that was also when we were considering full backwards compatibility and support for multiple Whisper IDs per account. Perhaps it is. Doesn't seem like a great idea from a comms perspective though. We could have people inadvertently routing themselves to the beta version of the app.

[2019-06-26 09:55] rachelhamlin commented on #8496
Hmm, I don't understand this last case @guylouis. What seed is this user recovering from? Another wallet, e.g. metamask? In which case, sounds right—user recovers a seed from outside Status, that becomes his default wallet, he gets a Whisper ID, and he can use keycard. Correct?

[2019-06-26 10:09] guylouis commented on #8496
This last case is the general case where a user wants to enable a new wallet in status by entering a mnemnonic. We actually can't know if this mnemonic was used in the past with one wallet or an other, including status, if we don't ask explicitly to the user.

So in the case described above, the only users we don't serve are those who
- have used status in the past
- don't have their beta status a

[2019-06-26 10:14] yenda commented on #8496
@guylouis what do you mean by `would still want to use their wallet as a legacy one`, you mean with the old whisper id and associated ethereum account? In that case yes we wouldn't.

[2019-06-26 10:17] rachelhamlin commented on #8496
Oh right, good about about not being able to distinguish—user still needs
option to specify if it was a beta account. :/

On Wed, Jun 26, 2019 at 11:09 AM guylouis <notifications@github.com> wrote:

[2019-06-26 10:25] hesterbruikman commented on #8496
@yenda If we force upgrading for the recovery flow. Would people still have their original contact list?

I'm not a fan if forcing upgrades altogether. Kind of goes against being censorship resistance and liberty. @guylouis is it an option to explicitly inform people that they will not be able to use Keycard if they don't allow Status to give them a new Whisper ID?

[2019-06-26 10:31] dmitryn opened #8499 "New confirm recovery phrase screen"
# Problem

Implement new confirm recovery phrase screen using drag-n-drop.

## Acceptance Criteria

Should look like in Figma https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A16259&viewport=-1860%2C217%2C0.3411950469017029

and work both on Android and iOS.

## Screenshots

<img width="289" alt="Screenshot 2019-06-26 13 24 07" src="https://user-images.githubusercontent.

[2019-06-26 10:51] guylouis commented on #8496
if we allow user to chose to create a 'legacy' type of account from their recovered mnemonic (seems to be one of the main choice we have to do here), then we have to tell them they can't chose keycard to put their wallet. The slight design difficulty is that this question (where do you want to store your wallet ? in phone or keycard ?) is asked quite early in the flow, so we have to see where we a

[2019-06-26 12:23] hesterbruikman commented on #8496
As far as I recall we don't have "where do you want to store your wallet" in case of recovery. If the user recovers a wallet stored on Keycard two things can happen.
1. They recover through the _'regular' recovery flow_, upon which the recovered wallet will be stored on the phone
2. They recover through _Keycard recovery flow_. Tap the card to the phone on the onboarding screen, which prompts to u

[2019-06-26 13:47] asemiankevich commented on #8306
@dmitryn after you added scrolling - the text is hidden under dots. It may be related to my small screen (5.2") @hesterbruikman

![image](https://user-images.githubusercontent.com/28752642/60185110-07504a80-9832-11e9-93dd-bad32d291637.png)

also i cant scroll this screen and can't proceed

![image](https://user-images.githubusercontent.com/28752642/60185328-601fe300-9832-11e9-8d9d-0e70bc32ac3b.png

[2019-06-26 13:59] jakubgs commented on #8493
### Provisioning Profiles

These profiles contain several pieces of information which allow the iOS device figure out if it should run the application. The format is a [Cryptographic Message Syntax](https://en.wikipedia.org/wiki/Cryptographic_Message_Syntax)(CMS) which which includes following data:

* [__iPhone Certificates__](https://www.objc.io/issues/17-security/inside-code-signing/#certificat

[2019-06-26 16:22] dmitryn commented on #8306
@asemiankevich i'm removing these dots. Just pushed new commit to PR.

[2019-06-26 20:03] alexanmtz commented on #7105
@StatusSceptre, the bounty is still pending to validate the submitted work. I don't know what to do from here

[2019-06-27 06:41] rachelhamlin commented on #6375
Thanks very much for giving it a go @bitsikka. Chat-related features are tough.

[2019-06-27 06:48] yenda commented on #6375
@bitsikka btw did you notice that I changed the read status it is just a boolean for each message now which simplifies things a bit

[2019-06-27 06:59] rachelhamlin commented on #8166
Thanks @Rikku-x! Looks like this is in review now.

[2019-06-27 07:11] rachelhamlin commented on #8136
@pacamara let us know if you need any help. Thanks for sticking with it!

[2019-06-27 07:13] rachelhamlin commented on #8496
Sounds the simpler solution to me, no? I would go with this.

Also in this event:

If they later want to add keycard, they can't do so without creating a v1 account. Correct?

[2019-06-27 07:56] hesterbruikman commented on #8032
Copy update on these screens:

On account list view: Recover a key > Access key
On numpad: Recover key > Access key
On password entry: Recover key > Access key

[2019-06-27 09:31] pacamara commented on #8136
@rachelhamlin Thanks I will :) Still on track for PR by end of week.

[2019-06-27 09:39] dmitryn opened #8502 "Recovery to keycard flow"
# Problem

Implement recovery flow where user selects keycard as a key storage.

## Implementation

Flow is similar to keycard onboarding except that user enters his mnemonic on first step so we skip  confirming mnemonic screens.

* skip confirm mnemonic screens
* change Step wizard to display 2 steps not 3
* remove 3rd step from "Start" screen

## Acceptance Criteria

Refer to figma https://www.f

[2019-06-27 11:19] yenda commented on #8480
I will ignore scenario 2 for this issue.

Before new onboarding is merged, I'll focus on `Moving underlying status-react data from single wallet to multiple` and add `Watch only address`, all other screens have blockers.

[2019-06-27 12:52] #8166 closed, assigned to nobody

[2019-06-27 13:03] #8306 closed, assigned to nobody

[2019-06-27 13:03] #8307 closed, assigned to nobody

[2019-06-27 13:03] #8308 closed, assigned to nobody

[2019-06-27 13:03] #8311 closed, assigned to nobody

[2019-06-27 13:03] #8312 closed, assigned to nobody

[2019-06-27 13:03] #8314 closed, assigned to nobody

[2019-06-27 13:04] dmitryn commented on #8499
Depends on https://github.com/status-im/status-react/pull/8234
PIN screen could be taken from there.

[2019-06-27 13:05] dmitryn commented on #8310
Depends on https://github.com/status-im/status-react/pull/8234
PIN screen could be taken from there.

[2019-06-27 13:17] asemiankevich opened #8504 "Implement new screens for seed phrase back up"
# Problem

we have implemented new screens for seed phrase back up for keycard accounts https://github.com/status-im/status-react/pull/8490

we need this for basic non-keycard accounts too once nailed, probably after V1.

## Implementation

new screens for seed phrase back up for account with password

@hesterbruikman @dmitryn @guylouis

[2019-06-27 13:17] dmitryn commented on #8313
There is a library which does screenshot detection. It register observers that listens to new media files on your device and checks if new file could be the screenshot (by file name and image dimensions)

https://github.com/fenglu09/react-native-screenshot-detect/blob/master/android/src/main/java/com/jason/rnscreenshotdetect/ScreenShotDetectModule.java

If we are up to use it, we would need Androi

[2019-06-27 14:26] guylouis commented on #8496
An update on this: after discussion with @dmitryn @vitaliy @hesterbruikman  @andmironov , we will enable the following keycard use case for v1: a user importing a mnemonic can put it either on his mobile or his keycard. Just like in onboarding (when he generates a new mnemonic and we ask him where to store it).

[2019-06-28 03:20] bitsikka commented on #6375
@yenda It helps, thanks! I was somewhat aware of it due to having worked on #4158 **New messages counter is shown for already seen messages**. I am also aware of whole bunch of apis (including chat) moving soon from clojure to go mainly for performance.

I do diligently try to be up-to-date on all new development by watching all/most new PRs/issues, and rebasing - I have https://github.com/notific

[2019-06-28 07:47] rachelhamlin commented on #8496
Is @yenda also on the page? Is there a design check-in/hand-off for these flows?

[2019-06-28 07:57] hesterbruikman commented on #8496
Will plan a review for next week. Designs haven't evolved in the meantime. Need to review additional requirements, update and mature.

[2019-06-28 10:17] Rikku-x commented on #8166
@StatusSceptre @rachelhamlin  can you please assist with getting bounty?

[2019-06-29 19:44] sudeepb02 commented on #8032
I will try setting up a VNC/remote desktop and set up a proper development environment. Will post updates once done

[2019-06-30 16:29] speedyFixer commented on #8047
Hi, I'm going to finishing It this weekend and part of Monday. I had troubles building the last version of status with my PC, I haven't tried again. Sorry because I forgot to write you about the status of the work.

[2019-06-30 16:33] speedyFixer commented on #7015
Thanks Status team, I will try with new merged PR. I had problems the last time with the status build so I will try again this weekend.

[2019-07-01 03:22] devhmm commented on #8177
<img width="947" alt="Screen Shot 2019-07-01 at 9 51 38 AM" src="https://user-images.githubusercontent.com/38485175/60408665-e26b2700-9be5-11e9-87ea-9f8b15140a1f.png">
I am facing this problem.
How can I solve?

[2019-07-01 05:37] pacamara commented on #8136
@gitcoinbot Am still working on this, bit slower than expected, expect now to submit PR sometime tomorrow Tuesday :+1:

[2019-07-01 07:41] asemiankevich opened #8506 "Keyboard overlaps when signing transaction (android)"
# Problem

Screen is overlapped with keyboard

## Steps

1. install status
2. faucet funds
3. in simpledapp request stt

![image](https://user-images.githubusercontent.com/28752642/60332431-7a2b0400-999f-11e9-9de4-528ef828a87d.png)

[2019-07-01 07:44] StatusWrike commented on #8353
➤ Nabil Naghdy commented:

Andrea Piana Is there an update on this timeline?

[2019-07-01 08:15] StatusWrike commented on #8353
➤ Andrea Piana commented:

I'll ask adam what the state of the sync

[2019-07-01 08:29] flexsurfer commented on #8370
@churik should be fixed in nightly

[2019-07-01 08:33] flexsurfer commented on #8480
hey @yenda could please elaborate what do you mean by `Moving underlying status-react data from single wallet to multiple`, thanks

[2019-07-01 08:35] yenda commented on #8480
Hey @flexsurfer my bad I meant account not wallet

[2019-07-01 08:36] flexsurfer commented on #8480
@yenda still, could you please describe what does it mean :)

[2019-07-01 12:17] asemiankevich opened #8507 "Can't send transaction from wallet, recipient is shown as unknown"
# Problem

Unknown recipient shown when pasting / scanning wallet address or selecting from contacts

## Steps

1. open status
2. go to wallet
3. choose recipient -> scan valid address and send txn

Repeat with copypasting address or select from contacts

Transaction is failed since recipient is shown as Unknown

![image](https://user-images.githubusercontent.com/28752642/60435852-46f0ab00-9c13-11

[2019-07-01 12:39] asemiankevich opened #8508 "Commands list is partially hidden on iOS, /send command is not shown"
# Problem

/send command is not shown in suggestions on iOS

## Steps

1. open status on iOS
2. open 1x1 chat
3. tap command button

![image](https://user-images.githubusercontent.com/28752642/60437117-51607400-9c16-11e9-87ec-8e44b31bdea6.png)

[2019-07-01 12:44] asemiankevich opened #8509 "Assets list is not fully scrollable on iOS"
# Problem

Can't fully scroll assets list when sending from chat, last item is cut

## Steps

- open status
- enable a lot of assets in wallet
- open 1x1 chat
- tap /send or /request
- scroll the list
- try to access the very last item in the list

![image](https://user-images.githubusercontent.com/28752642/60437437-0561ff00-9c17-11e9-9caf-961c8fc2cff6.png)

[2019-07-01 13:25] Serhy commented on #8509
Regression from https://github.com/status-im/status-react/pull/8477
However, it's OK with iPhoneX (iOS 12) view

[2019-07-01 13:26] Serhy commented on #8508
Regression from https://github.com/status-im/status-react/pull/8477
However, it's OK with iPhoneX (iOS 12) view

[2019-07-01 14:30] flexsurfer commented on #8507
can't reproduce in the latest develop

[2019-07-01 14:45] Serhy commented on #8426
@jakubgs https://ci.status.im/job/end-to-end-tests/credentials/store/folder/domain/_/ - is where I found  `TESTRAIL_USER` and `TESTRAIL_PASS` credentials stored.

[2019-07-01 15:43] jakubgs commented on #8426
Thanks for the info, I've merged #8451 and added #8511 with a tiny fix for triggering the new E2E builds.

[2019-07-01 16:07] jakubgs opened #8512 "Research process of publishing to F-Droid"
Due to amazing work by @PombeirP on the `feature/nix-gradle-and-mobile-node2nix` branch we now have a working deterministic build of the Android app.

In order to finally close #1125 I will need to research the exact process of submitting the app.

[2019-07-01 16:09] KubebatHaMachatz commented on #5124
@dmitryn  FYI - I discovered a problem in the code after creating the pull request. working in it.

[2019-07-01 17:15] jakubgs commented on #8512
The docs start here: https://f-droid.org/en/docs/
But the main things I care about are:
* https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md
* https://f-droid.org/en/docs/Submitting_to_F-Droid_Quick_Start_Guide/
* https://f-droid.org/en/docs/Importing_Applications/
* https://f-droid.org/en/docs/Building_Applications/
* https://f-droid.org/en/docs/Installing_the_Server_and_Repo_Tools/

[2019-07-01 17:21] jakubgs commented on #8512
There's already a Nix package for `fdroidserver` tools:

https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/fdroidserver/default.nix
[code]

[2019-07-01 17:28] jakubgs commented on #8512
Looks like the basic step is just running this in [`fdroiddata`](https://gitlab.com/fdroid/fdroiddata) repo:
[code]
Which in turn generates a `metadata/im.status.ethereum.yml` file:
[code]
Which doesn't look very impressive. But it's a start.

[2019-07-01 17:30] jakubgs commented on #8512
We can see an example of this file for an existing similar project here:
https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/org.walleth.yml

[2019-07-01 17:53] jakubgs commented on #8512
Christ, since the usually used repo for Java 8 has been discontinued:
https://launchpad.net/~webupd8team/+archive/ubuntu/java
I'm trying the AWS alternative - Corretto:
https://docs.aws.amazon.com/corretto/latest/corretto-8-ug/generic-linux-install.html
[code]
Seems to be working fine with `sdkmanager`.

[2019-07-01 17:59] jakubgs commented on #8512
There is a command to attempt to build you app through `fdroid` but that would require at least one version to be defined in the `metadata/im.status.ethereum.yml` file:
[code]

[2019-07-01 19:28] jakubgs commented on #8512
The `fdroid import` command sometimes fails with a ridiculously unrelated error:
[code]
Trace:
[code]

[2019-07-02 06:49] asemiankevich commented on #8507
can't reproduce in nightly now

[2019-07-02 08:27] guylouis commented on #8496
In the summary I tried to make above (adding numbers here to help)

It's obviously a bit tough to keep all inline on our understandings there,  so if anyone that has some doubts on these could you raise it so that we converge ?

My doubts are:
- for iii. I think we are going in another direction than the one wrote here where we actually let the user use this mnemonic he has entered as a legacy wal

[2019-07-02 09:29] dmitryn commented on #8180
Some notes regarding implementation:

`encryption-public-key` and `whisper-private-key` needs to be securely stored to be able to login automatically.

Also, screenshot from Figma https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1125%3A187&viewport=2632%2C-1171%2C0.4031412899494171

<img width="336" alt="Screenshot 2019-07-02 12 21 23" src="https://user-images.githubuserconte

[2019-07-02 12:30] #8509 closed, assigned to nobody

[2019-07-02 12:37] #8508 closed, assigned to nobody

[2019-07-02 13:13] jakubgs commented on #8426
Looks like we are still having trouble with some SauceLabs errors:
[code]

[2019-07-02 13:16] jakubgs commented on #8426
The error seems to be originating from here:
https://github.com/jenkinsci/sauce-ondemand-plugin/blob/2b82df305a378687abdb9ccc1a970f24adc85817/src/main/java/com/saucelabs/jenkins/pipeline/SauceStep.java#L60-L63
[code]
I think this refers to the `sauce()` call we have hardcoded with some UUID in our pipelines:
[code]

[2019-07-02 13:18] jakubgs commented on #8426
The documentation doesn't say much about this call:
https://jenkins.io/doc/pipeline/steps/sauce-ondemand/

Not very useful.

[2019-07-02 13:19] jakubgs commented on #8426
Neither does the plugin page help much:
https://wiki.jenkins.io/display/JENKINS/Sauce+OnDemand+Plugin

[2019-07-02 13:20] jakubgs commented on #8426
I can see examples of other people hardcoding this UUID in their `Jenkinsfile`s as well:
https://github.com/billmeyer/testng-multi-dataprovider/blob/95d4cbe389cae867c3ddeb9a4402d5190c26867c/Jenkinsfile#L25

[2019-07-02 13:24] jakubgs commented on #8426
I found this:
https://wiki.saucelabs.com/display/DOCS/Using+the+Sauce+Labs+Jenkins+Plugin+with+Jenkins+Pipeline
Which has an example:
[code]
And describes this as:

So that's something.

[2019-07-02 13:34] jakubgs commented on #8426
Okay, I've created a new global credential in our Jenkins, we'll see if it works.

[2019-07-02 14:09] churik opened #8516 "Cannot delete dapp from "Recent""
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: cannot use swipe and delete gesture to remove last visited dapps - when tap on "Delete", nothing happens (Android only). In chat it was replaced with long tap > delete , IMO it will be better to have this behavior for dapps as well.

#### Expected behavior
can delete browser entry

please see comments from @flexs

[2019-07-02 14:46] jakubgs commented on #8426
Included a fix for this in #8511.

[2019-07-03 09:23] flexsurfer commented on #8516
maybe related to native animation, but anyway we need to change it on long press

[2019-07-03 10:15] flexsurfer commented on #8506
can't reproduce, i'm not sure why keyboard is shown, because there is no active input

[2019-07-03 10:17] #8370 closed, assigned to nobody

[2019-07-03 11:36] hesterbruikman commented on #8499
Latest designs here: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A16367 Please flag if you don't have access.

A prototype is work in progress.

@dmitryn: @andmironov and design team just discussed removing the drag and drop to make implementation easier, as well as making the process less error sensitive for users. It is now "Select a word and tap on it’s correct p

[2019-07-03 12:20] dmitryn commented on #8499
@hesterbruikman now it's easier to implement, but i'd keep bounty on it anyway – it would be nice if someone will implement it while i'm busy with other parts.

[2019-07-03 13:16] StatusWrike commented on #8504
➤ Hester Bruikman commented:

Update: we had a design review with design team. Swtiched from drag and drop to top to correct position as it's easier to implement and less error sensitive for users. Also translates better to Desktop.

[2019-07-03 15:22] jakubgs commented on #8426
I merged #8511 but I still see weird failures in PR tests:
[code]
https://ci.status.im/job/end-to-end-tests/job/status-app-end-to-end-tests/3095/console

Based on this issue I found this might be due to passing wrong `run_id`:

https://github.com/mvndaai/testrail-promise/issues/13#issuecomment-331603266

[2019-07-03 15:23] jakubgs commented on #8426
The docs for the API call itself are here:
http://docs.gurock.com/testrail-api2/reference-results#get_results_for_case

And they state that:

[2019-07-03 15:26] jakubgs commented on #8426
This must be related to my change in: 37dc51a93d542135e67fe4f26767ebd0c2d114ae
https://github.com/status-im/status-react/blob/37dc51a93d542135e67fe4f26767ebd0c2d114ae/test/appium/support/testrail_report.py#L33-L37

I changed the `get()` method to check for `error` in return value of the API call.

[2019-07-03 16:08] jakubgs commented on #8426
Created a fix which logs the error instead of raising an exception: #8522

[2019-07-03 16:19] alexanmtz commented on #7105
@jeluard the bounty was released? I submitted the work and is pending to approve

[2019-07-03 16:49] jakubgs commented on #8426
I've merged #8522 and the test pass now(sometimes...), so I'm going to close this.

[2019-07-03 16:49] #8426 closed, assigned to nobody

[2019-07-03 18:00] jeluard commented on #7105
@StatusSceptre @andytudhope @corpetty Can someone take a look at that?

[2019-07-03 18:26] sudeepb02 commented on #8032
Hello Team,
Because of not having a proper dev setup, I'm sorry that I won't be able to complete this issue. I'd be stopping work on gitcoin so someone else can take this up.