[2018-06-01 11:27] churik opened #4590 "Amount is overlapped by keyboard on "Send Transaction" screen (5.1" inches)"
### Description

*Type*: Bug
*Summary*: when I tap on "Amount" I cannot see what I'm typing, because field is completely overlapped by keyboard.

#### Expected behavior
Amount is visible

#### Actual behavior
Amount is overlapped
<img width="316" alt="amount1" src="https://user-images.githubusercontent.com/4557972/40838521-4ccab168-65a7-11e8-8d6b-c4fe7167552c.png">

### Reproduction

- Open Status

[2018-06-01 11:57] #4583 closed, assigned to cammellos

[2018-06-01 13:26] #4551 closed, assigned to rasom

[2018-06-01 13:26] churik opened #4592 "Gas Limit and Gas Price editing leads to resetting values in fields"
### Description

*Type*: Bug

*Summary*:
1) "Gas Limit"
when I erase value in "Gas Limit" it is automatically set to `0`
2) "Gas Value"
if I erase one char in value `1.00001`, I've got `1` instead of `1.0000`

#### Expected behavior
1) value is empty, can type the desired value
2) `1.0000`, so I can continue editing value; or if initial value was `5.7`, I want to get `5.`, not `5`

#### Actual beh

[2018-06-01 13:27] #4539 closed, assigned to goranjovic

[2018-06-01 13:55] dshulyak commented on #4299
We have such mechanism https://github.com/status-im/status-go/tree/develop/cmd/bootnode

[2018-06-01 14:06] oskarth commented on #4299
With https://github.com/status-im/status-cluster/issues/107#issuecomment-393140182 this should work, just need to add to default and verify end to end

cc @PombeirP @cammellos @flexsurfer

[2018-06-01 14:29] adipurnama83 commented on #4416
nice

[2018-06-01 14:50] churik opened #4593 ""No protocol method ICollection" error at attempt to change "Gas price" (if you previously reset it to default)"
### Description

*Type*: Bug
*Summary*: 'No protocol method' error appears after resetting value at attempt to set new value in "Gas Price"

#### Expected behavior
no error

#### Actual behavior
<img width="379" alt="nopr" src="https://user-images.githubusercontent.com/4557972/40846814-520452ee-65c3-11e8-9467-be9d537779b3.png">

### Reproduction

- Open Status
- Tap on Wallet
- Tap on Send Transac

[2018-06-01 16:28] #4585 closed, assigned to cammellos

[2018-06-01 16:29] cammellos commented on #4584
via #4591

[2018-06-01 16:29] #4584 closed, assigned to cammellos

[2018-06-01 22:04] debragail commented on #4031
Did you get an error with the new testflight build?

[2018-06-01 23:48] ghost opened #4596 "Peepeth incompatibilities"
### User Story

As a user, I want to use Peepeth so that I can send Peeps.

### Description
*Type*: Bug

*Summary*:

Various behaviors in the Peepeth dapp appear not to work as expected/as in other browsers, making it impossible to post.

#### Expected behavior
After logging into Peepeth by signing a message, I should be able to send peeps and receive "your peep is live".

#### Actual behavior
Fir

[2018-06-02 05:31] #4574 closed, assigned to yenda

[2018-06-02 06:55] pedropombeiro opened #4597 "BUG: No protocol method DateTimeProtocol.plus- defined for type null"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to use chat for long periods without running into unexpected behavior.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what

[2018-06-02 07:22] vkjr opened #4598 "Figwheel doesn't hot reload desktop app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want figwheel to immediately reload UI without losing state so that I can develop faster.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen,

[2018-06-02 16:01] the-frey opened #4600 "Build script hangs at maven step"
### User Story

As a developer, I want to build the software so that I can contribute to Status.

### Description

*Type*: Bug

*Summary*: Running the build script hangs at the `mvn -f modules/react-native-status/ios/RCTStatus/pom.xml dependency:unpack` step. Running it separately results in:

[code]

Before a hang. Looking at the network, nothing is coming over the wire from that address.

#### E

[2018-06-02 19:12] georgiemathews commented on #4600
@the-frey did you manage to resolve this, getting the same issue.

[2018-06-02 20:11] the-frey commented on #4600
@georgiemathews no I didn't. Reopening in that case, as it seems it's not just my machine.

[2018-06-02 21:51] 3esmit opened #4602 "Not possible to Change gas price in Dapp transactions"
### User Story

As a user, I want to set a higher gas price so that my transaction is less likely to be frontrunned or get too late.

### Description

*Type*: Bug

*Summary*: at sign transaction screen I want to easily adjust gas price.

#### Expected behavior

Gas price editable for dapp transactions

#### Actual behavior

Gas price not editável for dapp transactions

### Reproduction

Try buy a

[2018-06-03 09:47] goranjovic commented on #4602
duplicate of #4065

[2018-06-03 09:47] #4602 closed, assigned to nobody

[2018-06-03 13:16] maxhora opened #4604 "Run automated tests on Jenkins CI"
### User Story

As a user, I want bugs free application and more stability.

### Description

*Type*: Feature

*Summary*: CI Jenkins builds should be extended with automated tests running.

#### Expected behavior
All available unit tests should run during Jenkins CI builds.

#### Actual behavior
No automated tests are running on Jenkins CI builds.

[2018-06-03 14:26] pedropombeiro opened #4605 "Add Status app as a share target for the OS"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see Status listed as a share target on Android and iOS so that I can for instance, share a video link from YouTube app (or any other app, of course).

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefl

[2018-06-03 14:33] pedropombeiro opened #4606 "Add unfurling of URLs in chats"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user, I want the app to unfurl URLs so that I can easily see what they refer to without needing to open the URL.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected

[2018-06-03 14:39] pedropombeiro opened #4607 "Add visual marker indicating start of unread messages in chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see a horizontal indicator in chats whenever there are unread items so that I can clearly see where I need to start reading to pickup on unread items (especially important when you have a public chat with dozens of unread items). cc @andmironov

### Description

[comment]: # (Feature or Bu

[2018-06-03 19:25] rachelhamlin opened #4608 "Allow replies to specific messages in public chats"
### User Story

As a user, I want to reply to specific messages in **public, 1:1 chats or group chats** so that conversations are easier to follow.

### Description

*Type*: Feature

*Summary*: Double tap on messages in busy chats to reference the message in a reply.

#### Expected behavior
Double tapping on a message allows me to reply with a snippet of the original message included in my own.

T

[2018-06-03 19:45] rachelhamlin opened #4609 "Support mentions in group or public chats"
### User Story

As a user, I want to tag other users in busy group or public chats so that they'll be more likely to see my message.

### Description

*Type*: Feature

*Summary*: Tagging a user will notify them so they can find the mention in a group/public chat.

#### Expected behavior
User A types an "@" sign followed by User B's display name to tag them in a group or public chat.

User B receiv

[2018-06-03 20:37] rachelhamlin opened #4610 "User profile picture doesn't update"
### User Story

As a user, I want to update my profile picture so that other users can recognize me.

### Description

*Type*: Bug

*Summary*: Some users are having trouble updating their profile pictures. Uploading from gallery does not change the avatar.

#### Expected behavior
Editing the profile photo updates the user's image throughout Status.

#### Actual behavior
Editing the profile photo d

[2018-06-03 20:52] rachelhamlin commented on #4607
Have a few Instabug requests for this! In the future it would be awesome if we could start users where they left off.

[2018-06-03 21:34] rachelhamlin opened #4611 "Bancor doesn't save local host preference"
### User Story

As a user, I want DApps to remember my preferences so that I can skip unnecessary screens on later runs.

### Description

*Type*: Bug

*Summary*: Bancor offers to remember the user's preference between the Bancor wallet and "localhost" (Status), but the preference is not saved when selecting local host.

#### Expected behavior
"Remember my selection" saves my preference for the St

[2018-06-03 21:50] rachelhamlin opened #4612 "Bancor token transaction doesn't complete"
### User Story

As a user, I want to buy tokens in Bancor using other tokens.

### Description

*Type*: Bug

*Summary*: Using a token to pay for another token in Bancor does not work. After signing the transaction, the screen hangs.

#### Expected behavior
I can seamlessly purchase any token using another token as the payment in Bancor.

#### Actual behavior
I can't complete my transaction and am

[2018-06-04 02:11] pablanopete opened #4614 "Restore account from JSON keystore"
### User Story
As a advanced user, I want to be able to restore my accounts from more than a mnemonic key recovery. To include JSON Keystore, private key plain text etc.

### Description
In Status I would like to be able to restore my account that holds all of my ERC721 tokens that was previously generated with a json keystore into status. Alternatively I would like to be able to put my private ke

[2018-06-04 05:21] 3esmit commented on #4612
Seems like the error is caused because the web3 dapp needs ERC20Token.approve and another call after that.

[2018-06-04 05:22] 3esmit commented on #4612
Note: is important that nonces of approve and call are respected. I noticed the client is show (...) at nonce, which can lead to problems in this cases, but thats another bug report.

[2018-06-04 06:26] sriharigr commented on #4031
Have a same issue here. I tried manually changing hoek versions in package-lock.json and then commit to github, the vulnerability issue in github disappears but If I clone it back and do npm install, the versions get changed to 2.16.3 from 4.2.1. Can someone let me know which package in package.json is dependent on hoek, which is probably causing this.

Thanks!

[2018-06-04 07:22] lukaszfryc commented on #4588
Strange, I could not reproduce it in release/0.9.19 branch.

[2018-06-04 07:52] lukaszfryc commented on #3500
Already done.

[2018-06-04 07:52] #3500 closed, assigned to nobody

[2018-06-04 08:03] lukaszfryc commented on #4609
@rachelhamlin I'm closing it as duplicate of https://github.com/status-im/status-react/issues/4272

[2018-06-04 08:03] #4609 closed, assigned to nobody

[2018-06-04 08:30] lukaszfryc opened #4615 "Buttons in sharing data screen do not fit small screens (like iPhone 5)"
### Description

*Type*: Bug

*Summary*: The buttons go out of screen on small screen devices like iPhone 5:

<img src="https://user-images.githubusercontent.com/7532782/40906716-e8e1256e-67e1-11e8-8341-c11fd47ff2e1.png" width="200">

The issue was reported on [Instabug](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/103). It's a low priority but

[2018-06-04 08:45] chadyj commented on #4128
Any progress here?

I'd like to see this included in the beta because we don't have a way to measure app crashes, and without this metric we don't have insight into app reliability. Chat reliability is a P0 OKR so being able to measure app and chat-related crashes is important.

From the data we do have on the Play store I see that we've had over 730 crashes in the last 30 days on Android (for use

[2018-06-04 09:15] dmitryn commented on #4128
Instabug needs to be updated to 2.12.0 to make Surveys work https://github.com/status-im/status-react/pull/4571
As for crash reporting, i'm still waiting for response from Instabug support as we don't have access to their android code to check what is happening (closed source)

[2018-06-04 09:37] andmironov commented on #1719
i don't think it should be possible to make a request in a group chat. at least for now, before we dive deeper into this problem and figure out a smooth solution.
For instance, if a request has been sent to a certain person in a group chat, there might me a 1-1 chat created. But this needs some research to be done

[2018-06-04 09:45] andmironov commented on #4607
we had UI explorations about this, will prep up some mockups and share

[2018-06-04 09:48] asemiankevich commented on #4588
it is here in nightly

[2018-06-04 09:52] asemiankevich commented on #4610
i dont see it on my devices, i tried hard to reproduce - the picture is shown right after i change it

[2018-06-04 10:36] lukaszfryc opened #4619 "Crash when trying to report issue using Instabug"
### Description

*Type*: Bug

*Summary*: On some devices, the app crashes after shaking the phone, filling the Instabug report and clicking send. The app says "collecting data" and then the screen goes black. It's only reproducible on some set of devices including Nexus 5.

#### Expected behavior
No crash when reporting an issue using Instabug.

#### Actual behavior
App crashes when "collecting da

[2018-06-04 10:37] lukaszfryc commented on #4619
It has also [happened](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/95) on iPhone X by one of our users. We could not reproduce it locally on the same device

[2018-06-04 11:09] goranjovic commented on #4284
Closing as outdated. Will be replaced with a redesigned flow (post-Beta), see conversation in #4403

cc @jeluard

[2018-06-04 11:09] #4284 closed, assigned to jeluard

[2018-06-04 11:16] chadyj commented on #4324
Or might it be better to fail the transaction and give a friendly message to the user? Eg "Transaction failed. There was a network error. Please try again later"

[2018-06-04 11:18] chadyj commented on #4440
Can we close this since we are re-designing the entire flow and can handle it there?

[2018-06-04 11:43] pedropombeiro commented on #4565
The `no protocol method` error has been captured by @janherich in https://github.com/status-im/status-react/issues/4597.

[2018-06-04 11:50] janherich opened #4622 "Don't send seen confirmations to pending contacts"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

The app should not produce `seen` messages destined to pending contacts in 1-1 chats.

### Description

Currently, whenever message is received in 1-1 chat, and the chat is open or we open chat with unread (new) messages, we confirm those messages to the sender via `seen` type protocol messages.
However, if th

[2018-06-04 12:05] asemiankevich commented on #4440
@chadyj we were voting for the icons last week :) not sure if we want to drop it @denis-sharypin ?

[2018-06-04 12:12] adambabik opened #4623 "Update bootnodes and Mail Server enodes to the new cluster addresses"
*Type*: Feature

*Summary*:

After we merged https://github.com/status-im/status-react/pull/4501, we started using the new cluster bootnodes and other server nodes. However, we did not update Mail Server addresses yet.

#### Expected behavior
When I open Grafana Dashboard with Statusd metrics, I should see connections to the new Mail Servers.

#### Actual behavior
Currently, the old Mail Server ad

[2018-06-04 12:18] chadyj commented on #4109
Submitted!

[2018-06-04 12:18] #4109 closed, assigned to nobody

[2018-06-04 12:22] chadyj commented on #3131
@lukeautry Would you mind grabbing the latest Status build and switch to Mainnet and checkout ERC dEX in Status? There are a few responsive issues.

[2018-06-04 12:25] asemiankevich opened #4624 "Android app is not responsive when recovering account having chat with message"
### Description

*Type*: Bug

*Summary*: cant navigate through tabs for some time when I log in to the recovered account which has chat with add to contacts request

#### Actual behavior
App is not usable for some time (5-6 min) then it could be used

### Reproduction

- Open Status
- Recover account which has chat with add to contacts request

### Additional Information
* Status version: nightly

[2018-06-04 13:33] asemiankevich opened #4625 "Search for dapps is not implemented"
### User Story

As a user, I want to look up for a dapp

### Description

*Type*: Feature

*Summary*: I want to be able to search for dapp in dapps list

#### Actual behavior
no search

### Reproduction

![image](https://user-images.githubusercontent.com/28752642/40920364-fba37a20-6814-11e8-9f8e-65bdcba70781.png)

### Additional Information
* Status version: ...
* Operating System: both

[2018-06-04 14:13] annadanchenko opened #4627 "Survey for receiving messages is shown when user got 0 messages but sent 5"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In hotfix for 0.9.19: when user sends 5 messages and receives 0 messages then user still gets 2 surveys: about receiving and about sending relia

[2018-06-04 16:27] rachelhamlin opened #4628 "Log opens by DApp in Mixpanel"
### User Story

As a product manager, I want data on specific DApp usage so that I can understand how our community is responding to different use cases.

### Description

*Type*: Feature

*Summary*:

Add DApp names as Mixpanel properties.

#### Expected behavior
When I analyze DApp opens in Mixpanel Insights, I want to see a breakdown by DApp name.

<img src="https://user-images.githubusercontent

[2018-06-04 16:36] jakubgs commented on #4623
Currently we have 2 fleets + 1 extra nodes:

Fleet #1 hosted with Digital Ocean in `ams3`:
[code]
[code]
And we have a fleet #2 hosted with Google Cloud in `gc-us-gc-us-central1-a'central1-a`:
[code]
[code]
We also have an extra host provisioned in Ukraine we created before the GC fleet existed as a temporary solution:
[code]
[code]
I think once we have verified that the GC hosts are available fro

[2018-06-04 16:56] andmironov commented on #4419
UPD:
Let's add a border to all images (regardless of is it on a white background or not) but add 40% transparency to it:

![avatars](https://user-images.githubusercontent.com/3115606/40930759-44c7f03e-6831-11e8-9c58-34fe4f9eb123.png)

[2018-06-04 17:10] jakubgs commented on #4623
With help from @dmitryn I've verified that these new `gc-us-central1-a` hosts are available from Russia.

[2018-06-04 17:23] pedropombeiro commented on #4623
This is the bootnode list I'm updating to in the code:
[code]
and this is the mailserver list:
[code]

[2018-06-04 17:59] rasom commented on #3336
@Serhy i just tested this scenario

Wait till all the messages sent to account arrive (the counter of unread messages should stop incrementing)
Tap on the chat with 200 unread messages
Check the time when between you tap on chat from Home screen and when chat view with the messages load

on my galaxy note 4, using this build

Tests: :+1:)
Android: http://artifacts.status.im:8081/artifactory/nightl

[2018-06-04 19:39] lukeautry commented on #3131
Thanks @chadyj, I'll take a look.

[2018-06-04 23:17] janherich commented on #3336
I spent some time evaluating the issue and here are my findings:

On moderately fast platform (Galaxy note 5 in Genymotion Emulator), the biggest culprit for bad performance when navigating to chat with unread messages is the function marking the messages as seen - https://github.com/status-im/status-react/blob/develop/src/status_im/chat/events.cljs#L225-L251
The function has to iterate over all l

[2018-06-05 06:56] denis-sharypin commented on #4440
I would prefer to go step by step. We voted for the best solution in this case. Number two won
![image](https://user-images.githubusercontent.com/6559881/40959874-47b396d2-689e-11e8-83f8-bfe08cfd0f2b.png)

[2018-06-05 07:06] mandrigin commented on #4588
@asemiankevich looks like new version or RN made this regression. I'll take a look today.

[2018-06-05 07:09] rasom commented on #3336
@janherich is this enough as quick fix for pubchats? https://github.com/status-im/status-react/commit/7d5e6d5f0f5bb6632c40417d0966952298c72d02
it works ~3 times faster with this change, and as, most likely, we more often will have 200+ unseen messages in public chats than in 1-1 it should be enough as a first step

[2018-06-05 07:10] Serhy opened #4630 "'undefined is not an object (evaluating e.length)' when switching network"
***Type***: Bug

***Summary***: When switching network for an account after right away after returning to app from background and login into account with a switched network - sometimes leads to the continuous pop-up with error `undefined is not an object (evaluating e.length)`
**Note:** I the error appears almost occasionally but always relates to the fact of switching networks and login in to acc

[2018-06-05 08:15] lukaszfryc opened #4631 "QR code buttons in custom mailservers and bootnodes are hard to tap"
### Description

*Type*: Bug

*Summary*: Tapping it once always closes the keyboard but does not open the QR scanner (Android and iOS). Tapping it again does not open it sometimes as well (Android only, iOS worked fine). Maybe we should increase the tapping area?

<img src="https://user-images.githubusercontent.com/7532782/40963385-a76548d2-68a8-11e8-86ac-b17a223d6a04.png" width="200">

#### Expec

[2018-06-05 08:18] #4299 closed, assigned to cammellos

[2018-06-05 08:18] #4328 closed, assigned to cammellos

[2018-06-05 08:18] #4586 closed, assigned to cammellos

[2018-06-05 08:31] janherich opened #4632 "Unseen message counter not persisted between app restarts"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

Sometime ago, we introduced bug into unseen messages counter functionality, so the counter is not maintained between app restarts. This is super confusing, as you can log in, receive bunch of messages for some chat, stop the app before opening it (for example you have to turn off the phone for some reason, bat

[2018-06-05 08:43] lukaszfryc commented on #4630
This also happened after enabling bootnodes in Profile. But, I could not reproduce it.

[2018-06-05 09:11] churik commented on #4611
Also is reproducible on IOS 11 (IPhone 7)

[2018-06-05 09:18] adambabik commented on #4623
@PombeirP Don't we want to use all mail servers from DO and GCE? As far as I know, selection of mail server is random so we can distribute the load between all mail servers. Otherwise, we won't be able to handle 500+ concurrent sessions.

[2018-06-05 09:19] churik commented on #4612
Couldn't reproduce it.
TF session: https://app.testfairy.com/projects/4803590-status/builds/8445103/sessions/20/?accessToken=UHmmWevEOxznVeRyKdiFgd543jY (08:20 - 10:50)
Device: IPhone 7, IOS 11
Tokens: buy POWR
Build: nightly 05/06/18

[2018-06-05 09:19] pedropombeiro commented on #4623
True, now that random selection is implemented it makes sense to add as many as possible. Thanks for the heads up!

[2018-06-05 09:27] asemiankevich commented on #4593
@goranjovic `Reset to default` does not bring value back for `Gas Limit` field in the following scenario:

1. Go To wallet
2. Tap Send
3. Scan any valid QR
4. enter amount 0
5. Go to Advanced and set Gas Value and Gas Price to 0
6. Tap done
7. Tap Advance
8. Tap Reset to Default

i checked in develop and it is worse there - reset does not affect both fields. Would you mind to fix it in this PR?

[2018-06-05 11:10] #4535 closed, assigned to rasom

[2018-06-05 12:22] dmitryn opened #4637 "Instabug survey gets shown after app restart"
### Description

We're upgrading Instabug to 2.12.0 to make automatic surveys working again https://github.com/status-im/status-react/pull/4571

According to docs survey should be shown right after condition is met (for example, user sends 5 messages), but now it also requires app to be restarted for survey to be shown.

#### Expected behavior
Survey is shown after condition is met.

#### Actual b

[2018-06-05 12:24] dmitryn commented on #4637
@jpbowen i've posted conversation with Instabug support. Last message from them was received 21 hours ago.

[2018-06-05 13:03] asemiankevich commented on #4391
@pacamara i was not clear in the ticket - my bad! I meant that when i am offline and app was not running on the background - i open the app and it can not fetch anything from the api because there is no internet connection. so the case it:
- run status and get some funds
- check balance is updated
- go offline and close the app (app is not running on background)
- open the app (still being offline

[2018-06-05 13:04] #664 closed

[2018-06-05 13:04] #4264 closed, assigned to cammellos

[2018-06-05 13:04] #4587 closed, assigned to cammellos

[2018-06-05 13:05] cammellos commented on #4631
closed via #4617

[2018-06-05 13:05] #4631 closed, assigned to cammellos

[2018-06-05 13:13] yevh-berdnyk opened #4638 "App has stopped after sending and receiving ~930 messages in 1-1 chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to send and receive big amount of messages

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Sum

[2018-06-05 13:26] #4632 closed, assigned to janherich

[2018-06-05 13:40] churik opened #4639 ""BigNumber Error: div() not a number: null" in transaction history if user has failed transactions"
### Description
*Type*: Bug

**Summary:**

**If user has failed transactions in history - after recovering account he cannot use transaction history (error will appear ~every minute)**

*Scenario 1:*
Can be reproducible for failed transaction, i.e. for sending to contract address that cannot be executed (contract example - `0xb3fe697300ec8d3777f2d9a8b140f6f9f5df665b`)
TX hash: https://etherscan.io

[2018-06-05 14:21] lukaszfryc commented on #4247
Also, let's make sure that items do not get stuck half opened:

<img src="https://user-images.githubusercontent.com/7532782/40981955-7c47333e-68dc-11e8-98b5-cfdcec4de813.png" width="200">

[2018-06-05 16:01] rachelhamlin commented on #4597
I get this error frequently on an account that was created on the May 16 nightly.

Have not seen it on my 0.9.19 account.

[2018-06-05 16:22] pedropombeiro opened #4643 "Improve random mailserver logic to ensure a mailserver is always selected"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to always have a mailserver selected so that I can continue receiving expired messages, even when installing a new build which contains mailservers with different IDs.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would

[2018-06-06 03:41] #4593 closed, assigned to goranjovic

[2018-06-06 06:00] #4506 closed, assigned to pedropombeiro

[2018-06-06 06:12] #4550 closed, assigned to rasom

[2018-06-06 07:26] asemiankevich opened #4648 "Add DAI token to tokens list"
### Description

*Type*: Feature

*Summary*: @pablanopete asks to add DAI https://www.cryptocompare.com/api/data/coinlist/ to list of tokens

#### Expected behavior
DAI asset is added

#### Actual behavior
DAI token is missing

### Reproduction

- Open Status
- Wallet - Manage Assets

### Additional Information
* Status version: ...
* Operating System: Android, iOS

<blockquote></blockquote>

[2018-06-06 07:48] lukaszfryc opened #4650 "Change Return keyboard button to Done while setting user name"
### Description

*Type*: Bug

*Summary*: It makes sense to change the "return" button to "Done" in this screen:

<img src="https://user-images.githubusercontent.com/7532782/41024008-46ff4c9c-696e-11e8-9128-19f545bed4d6.png" width="200">

### Reproduction

- Open Status
- Click create new account button
- Provide password and password confirmation and go to next step

### Additional Information
* S

[2018-06-06 07:54] lukaszfryc commented on #3642
Jarrad has mentioned it in Instabug report as well:

<img src="https://user-images.githubusercontent.com/7532782/41024440-891dfdac-696f-11e8-857d-082b4102435c.png" width="200">

@denis-sharypin can you provide high-res image or svg?

[2018-06-06 08:21] lukaszfryc opened #4651 "Set minimum device requirements for Status Beta"
### Description

*Type*: Feature

*Summary*: We've decided that currently Status should be supported only on:
- iOS version: min 11
- Android version: min 6.0
- Device type: phones only

We need to set this in _Android Manifest_ and corresponding iOS config. Also, we may need to update Google Play and AppStore distribution settings to make sure that only the supported devices can download the app.

[2018-06-06 08:57] lukaszfryc commented on #4196
I didn't notice it today when I tested on Samsung Galaxy S6. I had multiple public chats with 99+ more messages and a 1-1 chat with some unread messages as well. Going back from a chat or dapp was pretty smooth.

[2018-06-06 09:01] antdanchenko opened #4652 "A user is not able to send a transaction both on Ropsten and Mainnet"
### Description

*Type*: Bug

The issue has been found during `Chain Resynch in progress, indexing has temporarily been paused.` on https://ropsten.etherscan.io/.

- 0 funds is shown for recovered users which has funds, also inefficient funds is shown when such user is trying to send a transaction
- A user stays on the same screen if he tries to sign any transaction with correct password after get

[2018-06-06 09:08] chadyj opened #4653 "Add Help section and links to Profile tab"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to go to a Help section so that I can learn about Status, submit bug reports and feature requests.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expecte

[2018-06-06 09:36] pedropombeiro commented on #4187
If we wanted to show unread message count, this could tie in with https://github.com/status-im/status-react/issues/3451

[2018-06-06 10:06] lukaszfryc commented on #4597
Adding it to Beta milestone as I can reproduce it every time when I recover account

[2018-06-06 10:06] rachelhamlin commented on #4565
@lukaszfryc I believe we talked about it in a later Slack conversation, but my account was actually *not* created on 0.9.19. It was created on a previous nightly and recovered in 0.9.19.

Seems like Nastya only experienced the issue when interacting with me on that account.

[2018-06-06 10:19] #4421 closed, assigned to cammellos

[2018-06-06 10:56] chadyj commented on #2869
Will come back to this after beta.

[2018-06-06 13:43] Serhy commented on #4073
I'm wondering if we can use (if we are not yet) https://www.npmjs.com/package/react-native-autolink (Autolinker.js) to parse message content. If it won't have an impact in performance degradation on chat screen - lets use it, instead of custom regexp.
[code]
does the job pretty well and most of the issues with highlighting non-URI related text could be solved (i checked it here http://greg-jacobs.

[2018-06-06 15:32] #4588 closed, assigned to mandrigin

[2018-06-06 18:18] #4628 closed, assigned to nobody

[2018-06-07 07:32] chadyj opened #4662 "iPad Support"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to use Status on a tablet so that I can use Status on all of my mobile devices.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and wh

[2018-06-07 08:10] annadanchenko commented on #4652
nightly build, june 7, ropsten network. Nothing happens after tap on Sign transaction in Wallet:
https://app.testfairy.com/projects/4803590-status/builds/8456530/sessions/15/?accessToken=MEkbLeqkCWSjw8gfZPn5j8lRtTg

[2018-06-07 08:17] denis-sharypin commented on #3642
For devices with the screen density 4 (xxxhdpi) please use this pic:
![welcome-image-xxxhdpi](https://user-images.githubusercontent.com/6559881/41087046-f46068bc-6a3b-11e8-992e-252b0d818aea.png)

[2018-06-07 08:29] rachelhamlin opened #4663 "[ERC721] Add collectibles section to wallet"
### User Story

As a user, I want to see my collectibles inside my Status wallet so that I can lovingly admire them and track my full portfolio of assets.

### Description

*Type*: Feature

*Summary*: Basic list UI to display various collectible types in the wallet, beneath the user's ERC20 tokens.

CryptoKitties and Etheremon will be the first supported collectible types.

We've seen the most dem

[2018-06-07 08:30] churik opened #4664 ""Not sent. Tap for options" is displayed for a short time after sending /request command"
### Description

*Type*: Bug
*Summary*: if I'm requesting money in 1-1 chat "Not sent. Tap for options" will appear and then disappear just for a moment
<img width="310" alt="tap" src="https://user-images.githubusercontent.com/6584810/41087827-08cd2fb8-6a3e-11e8-8ac5-b6710a9ecb3c.png">

#### Expected behavior
spinner and then "Sent" status

#### Actual behavior
"Not sent. Tap for options" and then

[2018-06-07 08:43] churik opened #4665 ""Add to contacts" appears in Status console chat"
### Description

*Type*: Bug
*Summary*: "Add to contacts" is appearing in  Status console (after switching to Ropsten network).

#### Expected behavior
no "Add to contacts"

#### Actual behavior
"Add to contacts" is displayed
![console](https://user-images.githubusercontent.com/4557972/41088284-ce34d3a6-6a47-11e8-998d-4adbce146a07.png)

### Reproduction

- Install Status
- Open Status
- Create new

[2018-06-07 08:48] rachelhamlin opened #4666 "[ERC721] Support for CryptoKitties"
### User Story

As a user, I want to see details about each CryptoKitty I own inside my Status wallet.

### Description

*Type*: Feature

*Summary*:

- Detect how many CryptoKitties a user owns for display on the wallet main screen
- Display each CryptoKitty and its attributes on a dedicated screen

#### Expected behavior

If I own 2 CryptoKitties, I see that I have 2 CryptoKitties in my list of w

[2018-06-07 09:01] rachelhamlin opened #4667 "[ERC721] Support for Etheremon"
### User Story

As a user, I want to see details about each Etheremon I own inside my Status wallet.

### Description

*Type*: Feature

*Summary*:

- Detect how many Etheremon a user owns for display on the wallet main screen
- Display each Etheremon and its attributes on a dedicated screen

#### Expected behavior

If I own 2 Etheremon, I see that I have 2 Etheremon in my list of wallet assets.

W

[2018-06-07 09:10] lukaszfryc commented on #4664
@churik isn't it a duplicate of https://github.com/status-im/status-react/issues/4534?

[2018-06-07 09:10] #4056 closed, assigned to nobody

[2018-06-07 09:11] #4651 closed, assigned to mandrigin

[2018-06-07 09:11] lukaszfryc commented on #4662
More screenshots of current iPad look: https://github.com/status-im/status-react/pull/4658

[2018-06-07 09:15] #4664 closed, assigned to nobody

[2018-06-07 09:15] churik commented on #4664
Sorry, my fault. Closed it.

[2018-06-07 10:28] rachelhamlin opened #4669 "Add Etheremon to DApp list"
### User Story

As a user, I want to use Etheremon to buy new collectibles for my Status wallet.

### Description

*Type*: Feature

*Summary*:
Add Etheremon to the DApp list

DApp icon: https://www.dropbox.com/s/kjvuv14raha7q9t/etheremon.png?dl=0

Description: Decentralized World of Ether Monsters

URL: https://www.etheremon.com/

#### Expected behavior
Etheremon is displayed in the DApp list

###

[2018-06-07 10:37] chadyj commented on #4128
Fixed in https://github.com/status-im/status-react/pull/4649

[2018-06-07 10:37] #4128 closed, assigned to nobody

[2018-06-07 10:39] rachelhamlin commented on #4625
Two outcomes I'd love to see here:

1) You can search by DApp name to filter through our curated list.

2) You can search the web by DApp name or keywords to see results, perhaps using [Desearch](https://desearch.com/) or the [State of the DApps API](https://stateofthedappsapiv1.docs.apiary.io/#)?

[2018-06-07 10:44] rcullito opened #4670 "react-native-desktop remote chrome debugging errors"
when launching the desktop app, hitting `Ctrl-R` and selecting "Remote JS Debugging" a new chrome window is opened although the debugger for the desktop app is blocked from opening by an error:

`Module AppRegistry is not a registered callable module (calling runApplication)`

[2018-06-07 11:01] chadyj opened #4671 "Set mainnet as default network for beta ⚡️"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to to be on mainnet by default so that I can easily transact and use dapps.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and wh

[2018-06-07 11:29] dmitryn commented on #4128
I can see crash report here https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/crashes/2

<blockquote><img src="/favicon.ico?v=eE5LjeB9Od" width="48" align="right"><div><strong><a href="https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/crashes/2">Login | Instabug</a></strong></div></blockquote>

[2018-06-07 11:50] #4419 closed, assigned to cammellos

[2018-06-07 12:18] annadanchenko opened #4672 "Can't sign in if switch to the custom network with invalid url"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Signing in continues forever, so user can't sign in after switching to the custom network with invalid url

#### Expected behavior
[comment]: #

[2018-06-07 12:18] #4630 closed, assigned to cammellos

[2018-06-07 12:20] asemiankevich commented on #4625
@rachelhamlin i was thinking of search inside our apps curated list

[2018-06-07 12:53] EugeOrtiz commented on #4435
Designs for this can be found here > zpl.io/agnZz09 (Zeplin)

[2018-06-07 12:59] yevh-berdnyk opened #4673 "Incorrect decimals values for Populous, Veros, Cofoundit and Ripio Credit Network tokens"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: 28 of 88 used tokens have inconsistencies in names, symbols or decimals after comparing data from [tokens.cljs](https://github.com/status-im/sta

[2018-06-07 13:01] EugeOrtiz commented on #4283
Designs for this can be found here >>> zpl.io/V18jyew (Zeplin)

[2018-06-07 13:02] EugeOrtiz commented on #4281
Designs for this can be found here:
zpl.io/2ZgvMKw
zpl.io/aBElz8L

(Zeplin)

[2018-06-07 13:17] Serhy commented on #4193
@mandrigin, @janherich, @rasom
Since 1 month, when the issue initially reported, the app got some improvements in relations to performance.
However, even this issue has not gone - the time lag durations / app freezing shortened for ~30% comparing to 1 month ago stats.

Latest nightly (434th Jenkins build)
When a user on Galaxy Note 4 receives:
**100 messages** from offline inbox in 1-1 chat (login

[2018-06-07 13:18] vkjr commented on #4283
@EugeOrtiz, I think that text also should be selectable and usual copy/paste shortcuts should work in chat.

[2018-06-07 13:20] EugeOrtiz commented on #4276
A contact can be added from 2 different places (please check the designs):
- From link next to the name: zpl.io/am6gW4v (Zeplin)
- From user profile's card: zpl.io/Vqx03r6 (Zeplin)

[2018-06-07 13:23] EugeOrtiz commented on #4283
@vkjr Definitely! Will add that as a comment on Zeplin :)

[2018-06-07 13:25] EugeOrtiz commented on #4434
Designs for this can be found here  (Zeplin):
- zpl.io/aBE71Xe
- zpl.io/aBElz8L

[2018-06-07 13:31] EugeOrtiz commented on #4424
This is intentionally not shown in new design. @churik  I would remove this as an issue.

[2018-06-07 13:31] asemiankevich opened #4675 "Timelag and different chats recovered for same account when recovering account as a second record"
### Description

*Type*: Bug

*Summary*:

Case 1: I have nightly build and recover the account. Several chats are shown after recovery. I can navigate through the app easily.

![image](https://user-images.githubusercontent.com/28752642/41101878-13ff27bc-6a6e-11e8-9a5f-09b638409bd1.png)

Case 2: I have nightly build with a new account created. I log out from this account and recover known one. Time

[2018-06-07 13:32] EugeOrtiz commented on #4418
Designs for welcome screen (after sign-up/in) can be found here >>> zpl.io/be4M3DP (Zeplin). @churik Onboarding process is not P0.

[2018-06-07 13:35] cammellos commented on #4675
@asemiankevich At the moment we make no guarantees on chat/contacts recovery (you might get some or none),it only happens to work sometimes, so the behaviour is unspecified, but the lag is still a relevant issue.

[2018-06-07 13:38] janherich commented on #4193
@mandrigin @Serhy I discovered one very inefficient thing we were doing related to saving messages - I'm improving on that in the #4664  PR, so I expect that this issue could be re-evaluated in scope of that PR testing.

[2018-06-07 13:41] lukaszfryc opened #4676 "Can't set custom network id when adding custom network"
### Description

*Type*: Bug

*Summary*: User should be able to set custom network id in "Add network" screen. Otherwise, transactions are signed with wrong network id,[ for instance 1 instead of 1337](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/139). [The "Invalid sender" error](https://dashboard.instabug.com/applications/status-6b2838c6-8064-

[2018-06-07 13:50] asemiankevich commented on #4675
@cammellos i am just curious why the number is different in those 2 cases for same account?

[2018-06-07 13:53] cammellos commented on #4675
@asemiankevich hard to say, a few things could be:
1) Different mailservers were used, at the moment the messages are kept in different databases, so likely 2 mailservers don't hold the same messages
2) Some messages might have been lost in transit
I guess there might be other explanations as well, in general it's something we haven't looked much into I believe.

[2018-06-07 14:02] asemiankevich opened #4678 "Add Dapps search functionality"
### User Story

As a user, I want to be able to search for Dapps.

- People don't know most DApp URLs by heart, so they need to look them up first in order to find them
- They probably don't even know the full range of DApps that exist for them to explore

### Description

*Type*: Feature

*Summary*: fallback to use some search engine if sentence is not a web engine.

#### Expected behavior

We co

[2018-06-07 14:19] asemiankevich opened #4679 "Add to favorites feature for Dapps"
### User Story

As a user, I want to bookmark a Dapps.

### Description

*Type*: Feature

*Summary*: I want to have the ability to bookmark a dapp i like most

#### Expected behavior
Users may have favorite DApps that aren't included in our list so we need a feature to allow this

@andmironov please take a look

[2018-06-07 15:09] status-open-bounty commented on #4671
Balance: 0 ETH
Tokens: SNT: 600.00
Contract address: [0x30f8790c4f98e819225c32b66e84cc919d0b3b9d](https://etherscan.io/address/0x30f8790c4f98e819225c32b66e84cc919d0b3b9d)
Network: Mainnet
Paid to: rasom
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-07 15:12] status-open-bounty commented on #4607
Current balance: 0.0 ETH
Contract address: [0xbf4d6f5d0442fd0e05a973f266d059ba088c16e9](https://etherscan.io/address/0xbf4d6f5d0442fd0e05a973f266d059ba088c16e9)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/4607/8d66f14ce7b8bb84845e2261a15c59b097ce6d1643181c38c708dcef1e21df87/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://

[2018-06-07 15:12] status-open-bounty commented on #4606
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe585792713475a6b72fc1f8d299e7040ab1d07da8de57bf25de3a7e916262a9a](https://etherscan.io/tx/0xe585792713475a6b72fc1f8d299e7040ab1d07da8de57bf25de3a7e916262a9a)

[2018-06-07 15:13] status-open-bounty commented on #4605
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x75d54f5e4807a5cb9d74d43855b37262c6788a0a7d2fc5e143f4b70ee1e5bdf7](https://etherscan.io/tx/0x75d54f5e4807a5cb9d74d43855b37262c6788a0a7d2fc5e143f4b70ee1e5bdf7)

[2018-06-07 15:13] status-open-bounty commented on #4558
Balance: 0 ETH
Tokens: SNT: 600.00
Contract address: [0xeba57df2a4e8bd75eee0a1883984577f738229aa](https://etherscan.io/address/0xeba57df2a4e8bd75eee0a1883984577f738229aa)
Network: Mainnet
Paid to: tbenr
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-07 15:13] status-open-bounty commented on #4504
Balance: 0 ETH
Tokens: SNT: 500.00
Contract address: [0x2e4371959a6c02ade5f0ff1aadfd1202863302f7](https://etherscan.io/address/0x2e4371959a6c02ade5f0ff1aadfd1202863302f7)
Network: Mainnet
Paid to: ageneau
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-07 16:17] pedropombeiro opened #4681 "Add pre-run checks to merge-pr.sh script"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to merge as reliably as possible so that I can focus on development tasks.

### Description

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Imp

[2018-06-07 17:01] pedropombeiro commented on #1907
Replaced with https://github.com/status-im/status-react/issues/3451

[2018-06-07 17:01] #1907 closed, assigned to nobody

[2018-06-07 17:03] pedropombeiro commented on #1883
I believe this is now known to work, closing.

[2018-06-07 17:03] #1883 closed, assigned to nobody

[2018-06-07 17:16] pedropombeiro commented on #1821
Closing as we since created more fleshed out issues in the scope of PN v2

[2018-06-07 17:16] #1821 closed, assigned to nobody

[2018-06-08 07:27] lukaszfryc commented on #4652
@PombeirP should we close this issue since https://github.com/status-im/status-react/pull/4659 is merged?

[2018-06-08 07:28] goranjovic commented on #4652
@lukaszfryc If the issue was resolved by it, please do.

[2018-06-08 08:11] #4652 closed, assigned to nobody

[2018-06-08 08:11] goranjovic commented on #4652
I see it works now, so closing

[2018-06-08 08:39] asemiankevich commented on #4196
Okay, lets close it for now. Not 100% confident that it was caused by unread counter though.

[2018-06-08 08:39] #4196 closed, assigned to nobody

[2018-06-08 09:42] annadanchenko opened #4684 "Share data picture is cut on the top"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

Android only: Share data picture is cut on the top
Checked on real Google Pixel XL, Galaxy S6
On yesterday's nightly build same screen was look

[2018-06-08 11:21] chadyj commented on #4662
I did some testing with the fix mentioned above and many of the screens look great on an iPad. Here are [several screenshots](https://docs.google.com/document/d/1GAzCM-s1rmpMhaduwyjnIMBYJsrFPUM_7oWrLnwzjgY/edit).

<img width="998" alt="screen shot 2018-06-08 at 1 25 34 pm" src="https://user-images.githubusercontent.com/116099/41155843-cc6e8e30-6b1f-11e8-823a-77382d8b4089.png">

[2018-06-08 11:37] andmironov commented on #4607
working on it, will share today

[2018-06-08 11:40] pedropombeiro commented on #4638
@yevh-berdnyk how do we know the problem was that it ran out of memory? Was there a message somewhere saying this? I tried to find it in the log but didn't see anything conclusive.

[2018-06-08 11:52] annadanchenko opened #4687 "Instabug Survey for 0.9.19 (6031) version is shown for other version, e.g. 0.9.19 (6038)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: There is 1 instabug survey configured in Status-beta app: "Chat Confidence Survey 0.9.19 (6031) Hotfix" https://dashboard.instabug.com/applicati

[2018-06-08 12:00] EugeOrtiz commented on #4438
Designs for this can be found here:
- zpl.io/25qZqB3
- zpl.io/bAqjqPO
- zpl.io/VxY83em (Zeplin)

[2018-06-08 12:32] vitvly opened #4689 "Prevent local node restarts"
### Description
*Type*: Bug
If the application was closed improperly, subsequent runs will not work. This message will be printed to `node ./ubuntu_server.js` log:
[code]

### Solution
Prevent local node from starting twice.

[2018-06-08 12:33] vitvly commented on #4280
Inability to start app again after crash might be related to https://github.com/status-im/status-react/issues/4689

[2018-06-08 12:35] EugeOrtiz commented on #4266
Designs for that can be found here >>> zpl.io/aXGDvmE (Zeplin)

<img width="343" alt="captura de pantalla 2018-06-08 a la s 2 33 18 p m" src="https://user-images.githubusercontent.com/37297779/41158376-f7cbc706-6b28-11e8-87fb-2f79924c7718.png">

<img width="339" alt="captura de pantalla 2018-06-08 a la s 2 33 28 p m" src="https://user-images.githubusercontent.com/37297779/41158365-f0f574ae-6b28-11

[2018-06-08 12:41] #4607 closed, assigned to andmironov

[2018-06-08 12:42] andmironov opened #4690 "Chat badges"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see these badges:
- Errors (Offline)
- Add to Contacts
- Unread messages above the screen

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*:

**Unread messages**
The `N Unread messages` badge is shown if user opens a chat, and there are a lot of unre

[2018-06-08 12:43] andmironov commented on #4607
https://github.com/status-im/status-react/issues/4690

[2018-06-08 12:44] yevh-berdnyk commented on #4638
@PombeirP looks like the log was cut or I lost a part. Here is an error:

`06-05 12:15:34.029  1362  4448 E AudioFlinger: createRecordTrack_l() initCheck failed -12; no control block?
06-05 12:15:34.029  2287 15043 E AudioRecord: AudioFlinger could not create record track, status: -12
06-05 12:15:34.031  2287 15043 E AudioRecord-JNI: Error creating AudioRecord instance: initialization check failed

[2018-06-08 12:55] denis-sharypin commented on #4402
Design:
<img width="807" alt="screenshot 2018-06-08 14 43 09" src="https://user-images.githubusercontent.com/6559881/41158993-430764b2-6b2b-11e8-8c82-968935792669.png">
Icon:
https://www.dropbox.com/s/kfdz7s2q8lg2fkf/icon_exclamation_mark-black.svg?dl=0

<blockquote><img src="https://www.dropbox.com/temp_thumb_from_token/s/kfdz7s2q8lg2fkf?preserve_transparency=False&size=1024x1024&size_mode=2" wid

[2018-06-08 12:58] andmironov opened #4691 "Scroll to bottom"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user i want to:
- Be able to quickly scroll to bottom if i scrolled up a lot
- See if there has been new messages since i scrolled up

User story for a `scroll to bottom message` with a unread messages counter badge:
1. user opens a chat with no new messages
2. scrolls to top, a `scroll to bottom` button

[2018-06-08 12:58] andmironov commented on #4607
https://github.com/status-im/status-react/issues/4691

[2018-06-08 13:07] #4665 closed, assigned to cammellos

[2018-06-08 13:13] EugeOrtiz commented on #4275
Design of how links look like can be found here >>> zpl.io/Vkml10Z (Zeplin)
The cursor should change to a "hand cursor" when on hover.

[2018-06-08 13:15] EugeOrtiz commented on #4249
Designs of how headers look like can be found here (Zeplin):
- 1:1 chat, unknown person: zpl.io/aRqj4dv
- 1:1 chat with a contact: zpl.io/am6gW4v
- Public chat: zpl.io/bAv8OjB

[2018-06-08 13:46] rcullito commented on #4249
these are great, thanks @EugeOrtiz. :ok_hand: timing

[2018-06-08 14:20] andmironov opened #4694 "Message groups (Dates + Unread messages)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user i want to be able to quickly navigate in chat and know which messages are from today and which ones are from a different day.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you di

[2018-06-08 14:21] andmironov commented on #4439
https://github.com/status-im/status-react/issues/4690

[2018-06-08 14:21] andmironov commented on #4607
https://github.com/status-im/status-react/issues/4694

[2018-06-08 15:04] yevh-berdnyk commented on #3924
Remaining tests will be added after group chats enabling

[2018-06-08 15:04] #3924 closed, assigned to antdanchenko

[2018-06-08 15:05] #3282 closed, assigned to yevh-berdnyk

[2018-06-08 15:06] #3284 closed, assigned to Serhy, antdanchenko

[2018-06-08 15:06] #3285 closed, assigned to Serhy

[2018-06-08 16:12] pedropombeiro opened #4695 "Hide shh and shhext namespaces from DApps"
# Problem

For example currently we allow dapps to use all `shh_` methods, but the use of some of those methods can be bad. For example dapps can set the min PoW with `web3.shh.setMinPoW(1)` and users no longer receive messages.

# Implementation

This issue's goal is to add back the reverted https://github.com/status-im/status-go/pull/993 PR, but making sure that we test with status-react before

[2018-06-08 16:13] status-open-bounty commented on #4662
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x1ebe41185e371a79bbcd87b24d381e3ec6e53e6c67067fb10e6bc885f0989872](https://etherscan.io/tx/0x1ebe41185e371a79bbcd87b24d381e3ec6e53e6c67067fb10e6bc885f0989872)

[2018-06-08 16:44] #4623 closed, assigned to pedropombeiro

[2018-06-09 00:32] pet3r-pan commented on #2934
Still needed?

[2018-06-10 09:16] goranjovic opened #4696 "Possible to set gas price to less than 1 whole wei"
### User Story

As a user I want a stable Wallet Send

### Description

*Type*: Bug

*Summary*: It's possible to enter `0.0000000001` gwei or any other number smaller than 1 wei

#### Expected behavior

There is a validation error stating that the minimum gas price is `0.00000000` gwei

#### Actual behavior

Invalid gas price is accepted and the app hangs indefinitely on signing.

### Reproduction

[2018-06-10 10:29] status-open-bounty commented on #4648
Balance: 0 ETH
Tokens: SNT: 600.00
Contract address: [0x5e2ae47063c55902b160738d6c4c217638df6da7](https://etherscan.io/address/0x5e2ae47063c55902b160738d6c4c217638df6da7)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-10 10:47] status-open-bounty commented on #4681
Balance: 0 ETH
Tokens: SNT: 600.00
Contract address: [0x6e02a41a782e89cd2ad06a993bb6c0ca8342537d](https://etherscan.io/address/0x6e02a41a782e89cd2ad06a993bb6c0ca8342537d)
Network: Mainnet
Paid to: zlita
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-11 06:35] rachelhamlin opened #4699 "Blacklist known phishing sites"
### User Story

As a user, I want to be protected from visiting known scam sites so that I don't accidentally make transactions with a bad actor.

### Description

*Type*: Feature

*Summary*: Use a blacklist of bad URLs to prevent users from easily accessing scam or phishing sites.

By way of example: MetaMask [blacklists a set of known scam/phishing URLs](https://github.com/MetaMask/eth-phishing-

[2018-06-11 07:26] EugeOrtiz commented on #4250
Designs for test input fields can be found here: zpl.io/a3q3G61 (Zeplin)
Example for New 1:1 chat: zpl.io/aB5mnom

[2018-06-11 07:29] EugeOrtiz commented on #4267
App version can be found in user's profile.
Design here >>> zpl.io/25qZqB3 (Zeplin)

[2018-06-11 07:32] EugeOrtiz commented on #4279
In the new design, another user's profile can be accessed from:
- 1:1 chat secondary actions > View profile
- Left panel with the list of chats > Right click on a user's "row" > View profile

Designs here (Zeplin):
- Menu with secondary options: zpl.io/V4J4NX4
- User profile card: zpl.io/Vqx03r6

[2018-06-11 07:33] churik commented on #4434
@EugeOrtiz all public chats in the list should be clickable and change color on hover;
Can you please display it on screen as well?

[2018-06-11 07:35] churik commented on #4432
@EugeOrtiz can you please provide the design for push notifications?
Thanks in advance.

[2018-06-11 07:35] EugeOrtiz commented on #4433
Just to clarify, this is in the OS Dock. Aesthetically speaking, it should follow the standard OS X guidelines. Let me know if you need an actual design for this.

[2018-06-11 07:38] churik commented on #4424
Ok, we just should keep in mind that main logo on "Sign Up" intended to have white colors instead of black.

[2018-06-11 07:38] #4424 closed, assigned to nobody

[2018-06-11 08:06] churik commented on #4279
@EugeOrtiz also please implement this view when user is already added to contacts.
In mobile:
![us](https://user-images.githubusercontent.com/4557972/41219433-f7ddd442-6d66-11e8-8549-8c79a5ad4753.png)

[2018-06-11 08:26] EugeOrtiz commented on #4432
Design and behavior can be found here: zpl.io/bWY4LKx (Zeplin)

[2018-06-11 08:28] oskarth commented on #4193
In its current state, is this a strict beta blocker? Or is it more something we'd really want to (keep) improving?

If it's the latter, how about we remove it from beta milestone but keep working on it (barring any other beta blockers)?

[2018-06-11 08:28] oskarth commented on #3336
In its current state, is this a strict beta blocker? Or is it more something we'd really want to (keep) improving?

If it's the latter, how about we remove it from beta milestone but keep working on it (barring any other beta blockers)?

[2018-06-11 08:30] oskarth commented on #4474
What's the state of this issue? Is it still a beta blocker?

[2018-06-11 08:31] oskarth commented on #4563
What's the state of this issue? Is it still a beta blocker?

[2018-06-11 08:32] oskarth commented on #4597
What's the state of this issue?

[2018-06-11 08:33] oskarth commented on #4565
In terms of being a beta blocker, is this issue completely subsumed by #4597?

[2018-06-11 08:34] oskarth commented on #3233
What's the state of this issue?

[2018-06-11 08:59] pedropombeiro commented on #4474
Commented in PR. Basically, I feel we need to do something to address spam attempts, even if it is as crude as this, to begin with.

[2018-06-11 09:24] lukaszfryc commented on #4563
I think we can close this this one.

Currently the survey is shown, but only after the app is killed and started again. Also, there are https://github.com/status-im/status-react/issues/4687 and https://github.com/status-im/status-react/issues/4627 which are related to showing the surveys.

[2018-06-11 09:24] #4563 closed, assigned to nobody

[2018-06-11 09:56] #1228 closed

[2018-06-11 10:06] mandrigin commented on #4597
@oskarth I was planning to take a look at it today or tomorrow.

[2018-06-11 10:18] janherich commented on #4597
@oskarth I'm quite confident that I will finally solve it today.

[2018-06-11 10:34] lukaszfryc opened #4701 "Back and forward browser buttons do not work for CryptoKitties"
### Description

*Type*: Bug

*Summary*: For some reason back and forward browser buttons do not work for CryptoKitties DApp. They are inactive. I tried to compare it with Toshi but apparently they delisted CryptoKitties. But, when app is opened on Chrome on a desktop, everything works.

#### Expected behavior
User can navigate through CryptoKitties DApp by pressing back and forward buttons.

####

[2018-06-11 10:39] chadyj commented on #4615
@mandrigin You fixed this right?

[2018-06-11 10:40] chadyj commented on #4554
@lukaszfryc is this fixed now?

[2018-06-11 10:52] mandrigin commented on #4615
@chadyj I fixed it for the screens *smaller* than iPhone 5
@alwx is looking at a related issue right now.

[2018-06-11 10:53] lukaszfryc opened #4702 "Info text in Receive ETH screen should say "Real ETH will be sent" instead of "Real ETH will be received""
### Description

*Type*: Feature

*Summary*: As in title. The text should say "Real ETH will be **received**":

<img src="https://user-images.githubusercontent.com/7532782/41227702-095263c8-6d76-11e8-98b4-356f386b1e41.png" width="200">

#### Expected behavior
"Real ETH will be received"

#### Actual behavior
"Real ETH will be sent"

### Reproduction

- Open Status
- Go to Wallet and request transa

[2018-06-11 10:57] mandrigin commented on #4597
@janherich awesome! just go for it! 🏅

[2018-06-11 11:01] lukaszfryc commented on #4554
@Serhy any idea about it? I remember you have tested a PR that should fix it

[2018-06-11 11:04] lukaszfryc commented on #4597
https://github.com/status-im/status-react/issues/4565 is most probably a duplicate of this issue. Anyway, let's remember to take it into account while testing the fix.

[2018-06-11 11:04] lukaszfryc commented on #4565
Most probably, I added a comment in https://github.com/status-im/status-react/issues/4597 and I'm closing this issue.

[2018-06-11 11:04] #4565 closed, assigned to nobody

[2018-06-11 11:04] mandrigin commented on #4193
I don't think it is a strict beta blocker, tbh.
@Serhy what do you think?

[2018-06-11 11:05] mandrigin commented on #3336
Let's keep it in the list and re-evaluate when #4660 is merged.

[2018-06-11 11:07] denis-sharypin commented on #4653
Hey @chadyj  what do you think?
![help center](https://user-images.githubusercontent.com/6559881/41228326-51f71a4a-6d78-11e8-9274-94aa0100731a.jpg)

[2018-06-11 11:12] janherich commented on #4193
@Serhy as #4644  was recently merged with potential to improve the situation, it would be good to re-test and confirm improvements (if any)

[2018-06-11 11:38] rachelhamlin commented on #3639
Feels buggy not to have back option - https://insta.co/bugs/VQBI7BZZ_ZLLlr_s-gguVw

<blockquote><img src="/favicon.ico?v=eE5LjeB9Od" width="48" align="right"><div><strong><a href="https://insta.co/bugs/VQBI7BZZ_ZLLlr_s-gguVw">Bug #VQBI7BZZ_ZLLlr_s-gguVw | Instabug</a></strong></div></blockquote>

[2018-06-11 11:44] yenda commented on #2934
Hi @pet3r-pan , the protocol namespaces have been heavely refactored and are now better documented than before. But if you think you can improve the documentation further you are welcome to do so. We would increase the scope of the issue to the utils namespaces as well though.

[2018-06-11 11:58] #3359 closed, assigned to alwx

[2018-06-11 13:22] flexsurfer commented on #4699
maybe we could use this API https://etherscamdb.info/scams

<blockquote><img src="https://etherscamdb.info/img/logo.png" width="48" align="right"><div><strong><a href="https://etherscamdb.info">Ethereum Scam Database</a></strong></div><div>Keep track of all current ethereum scams in a large open-source database</div></blockquote>

[2018-06-11 13:59] rachelhamlin commented on #4701
Should also fix #3639

[2018-06-11 14:56] rachelhamlin opened #4707 "Update public chats list"
### User Story

As a user, I want to discover new public chats so that I can discuss topics of interest.

As a core contributor, I want to invite conversation about topics that are newsworthy at Status to get community input.

### Description

*Type*: Feature

*Summary*:

Add `#cryptostrikers` as a default public chat.

Add `#dapps` as a default public chat.

Remove `#edcon` as a default public ch

[2018-06-11 15:04] Serhy commented on #4597
We reproduced this issue and as in #4565 mentioned - two issues represented on both screenshots ("screwed" message UI) and `DateTimeProtocl.Plus-` errors are connected to each other.
Everything is connected to the simultaneous contact requests contact receives along with offline messages for the recovered accounts. It doesn't matter if messages sent/received in diferent networks.

There is the nex

[2018-06-11 16:28] Serhy commented on #4193
@mandrigin , @janherich With the latest develop build including #4644 improvements:

When contact who uses Galaxy Note 4 joins the public chat and receives 500 messages from offline inbox - app freezes up to ~15 seconds.
It indeed looks better than before (without #4644) for me.

I don't think we should consider it as a Beta blocker. Yes, app lags when I receive offline messages but it's noticeabl

[2018-06-11 17:04] chadyj opened #4708 "Remove mainnet network switch warning on release builds"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

In https://github.com/status-im/status-react/issues/3953 we added mainnet as an option for alpha release builds, and along with it a warning message.

For the beta release, we can revert this and remove the warning message.

#### Expected behavior
No warning when switching networks

#### Actual behavior
Warni

[2018-06-11 17:15] jeluard opened #4709 "Support remote SVG images"
### User Story

As a developer, I want to have remote SVG images supported by the `image` component. Ideally this does not require extra dependency and support is transparent.

### Description

*Type*: Feature

[2018-06-11 17:21] churik opened #4710 "Long total value (>18 chars) doesn't fit wallet screen"
### Description

*Type*: Bug
*Summary*: sometimes converted value can exceed screen size, i.e. 1 USD ~ 796.54 MWK ~79,900.00 VEF.
In this case, total amount doesn't fit the screen.

#### Expected behavior
total amount fits the screen

#### Actual behavior
~2000$ looks in MWK, VEF:
![monosnap 2018-06-11 20-11-14 png 2018-06-11 20-11-48](https://user-images.githubusercontent.com/4557972/41246527-01e

[2018-06-11 17:26] Serhy commented on #4554
There were several PRs which indirectly may fix it (I assume).
1) https://github.com/status-im/status-react/pull/4221#issuecomment-389900440 - is where I was able to reproduce this issue (it was connected to GroupChats). But I can't reproduce the scenario is described there: GroupChats a hidden and invitation from GroupChats are blocked
2) https://github.com/status-im/status-react/issues/4597 (`Da

[2018-06-11 17:51] annadanchenko commented on #4707
@rachelhamlin and other not mentioned existing public chats should stay in the list, right?
- status
- openbounty
- ethereum

[2018-06-11 18:07] #4597 closed, assigned to janherich

[2018-06-11 18:38] #4508 closed, assigned to goranjovic

[2018-06-11 18:38] #4223 closed, assigned to nobody

[2018-06-11 18:44] #4684 closed, assigned to alwx

[2018-06-11 19:29] rachelhamlin commented on #4707
Yes ma'am @annadanchenko!

[2018-06-11 20:16] asemiankevich commented on #4707
@rachelhamlin no #Chineese #Russian and some other ones @pablanopete has mentioned in https://status-im.slack.com/archives/C8QP8S5UH/p1528411614000289? Not sure what is the decision for these. Sorry if this was discussed and i missed the outcome

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.

[2018-06-11 20:30] asemiankevich commented on #4669
@rachelhamlin seems a good bounty candidate! Added labels accordingly

[2018-06-12 05:56] cammellos commented on #3599
@asemiankevich this one should be fixed, when you delete a chat you won't be getting old messages anymore, could you make sure it's the case?

[2018-06-12 06:16] fanmeilexiu commented on #4681
en

[2018-06-12 07:06] rachelhamlin commented on #4707
@asemiankevich oh interesting, I did not see that. We need this specific change included in .9.20, but for beta—do you have any thoughts about country or language-specific public chats @chadyj?

[2018-06-12 08:02] #4554 closed, assigned to nobody

[2018-06-12 09:09] rachelhamlin commented on #4669
@asemiankevich boom. Thank you!

[2018-06-12 09:48] lukaszfryc commented on #4624
I could repro it on iPhone 8, 11.3.1 after logging out and loggin in again to a new account I just created. TF session: https://app.testfairy.com/projects/4803590-status/builds/8486001/sessions/4393817583/?accessToken=fBEtq5-f5sdk9cahGW-BnO8CGyU

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/8486001/sessions/4393817583/?accessToken=fBEtq5-f5sdk9cahGW-Bn

[2018-06-12 10:54] chadyj opened #4718 "Inform beta users that mainnet is default"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a beta user, I want to be informed of new default network behavior so that I'm aware of the changes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Users upgrading to beta might not be aware that Mainnet is the default network which could cause confusion, or even worse. To b

[2018-06-12 12:01] asemiankevich opened #4719 "Add CryptoStrikers to DApp list"
### Description

*Type*: Feature

*Summary*: add CryptoStrikers to Dapps curated list in Status

#### Expected behavior

Cryptostrikers dapp icon: https://www.dropbox.com/s/eq0im9xtzi13elg/cryptostrikers.png?dl=0

Description: The Beautiful (Card) Game

URL: https://www.cryptostrikers.com/

<blockquote><img src="https://www.dropbox.com/temp_thumb_from_token/s/eq0im9xtzi13elg?preserve_transparency=

[2018-06-12 12:23] asemiankevich commented on #4718
i suggest something like
`We are glad to see you here! Proudly announce that Status is now Beta and it means you can easily browse Dapps and exchange assets on Mainnet which is default network you are currently connected to. If you like to browse the app and feel the features on Ropsten - you are still able to switch to it under dev mode (Profile - Dev mode toggle - Network).`

[2018-06-12 12:39] annadanchenko commented on #4718
1. for new users who install first time and create an account - not sure we need to explain anything. By default they will assume we are on mainnet and they will see it in the settings.
2. for existing users who upgrade - imo, network that was selected before upgrade should `remain`. So, no need to warn about mainnet, existing choice will be re-used.
3. for users who are recovering account - as th

[2018-06-12 12:51] asemiankevich opened #4721 "Back button is inactive when scrolling chat history"
### Description

*Type*: Bug

*Summary*: when scrolling the chat history I am not able to tap `back`. I have to wait until scrolling finishes to tap Back button and get out from this chat.

#### Expected behavior
back button is enabled and tappable whenever I want to get back so I don't need to wait for scrolling finishes or something else

#### Actual behavior

back button is not responsive when

[2018-06-12 12:56] Serhy opened #4722 "App crash with 'java.lang.OutOfMemoryError: pthread_create (1040KB stack)' on Android"
***Type***: Bug

***Summary***: Heavy usage of the app on Android (results of Galaxy Note 4 testing) may result in OOM crashes (`java.lang.OutOfMemoryError: pthread_create (1040KB stack) failed: Try again`).

In my case, contact using Galaxy Note 4 device and develop build, used the app for 1h with different activities including navigation from background/foreground or appearing online (~3-4 times

[2018-06-12 13:02] #4707 closed, assigned to nobody

[2018-06-12 13:04] #4490 closed, assigned to alwx

[2018-06-12 13:04] lukaszfryc opened #4724 "User should be redirected to wallet onboarding before signing transaction in dapp"
### Description

*Type*: Bug

*Summary*: If user haven't seen wallet onboarding yet, he should be redirected to it before signing transaction in dapp. Currently, he can sign it before seeing the wallet onboarding which is incorrect.

Also, currently, when he finally goes to wallet and finishes the onboarding, an empty send transaction screen is shown for no reason.

#### Expected behavior
User is

[2018-06-12 13:08] asemiankevich commented on #4702
this could be dropped for now as we going to have some new designs soon, @denis-sharypin is working on them for network indicator

[2018-06-12 13:11] lukaszfryc commented on #4702
yeah, I think we can close it then.

On Tue, 12 Jun 2018 at 15:08, asemiankevich <notifications@github.com>
wrote:

<blockquote><img src="https://avatars3.githubusercontent.com/u/6559881?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/denis-sharypin">denis-sharypin (Denis Sharypin)</a></

[2018-06-12 13:13] pedropombeiro opened #4726 "Unread messages counter reappears with old count after restarting app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want the unread count to persist after restarting the app so that the count is meaninful for me.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen

[2018-06-12 13:56] asemiankevich opened #4728 "Make [Enter] button default to proceed"
### User Story

As a user I want to user `Enter` key in the application so i dont need to click Confirm / Proceed with a mouse

### Description

*Type*: Bug

*Summary*: Hitting enter does not confirm user's choice , for example when i set up account and want to confirm my selection i need to click `Continue` with a mouse

#### Actual behavior

Can't use enter key to confirm my choice where necessa

[2018-06-12 14:12] lukaszfryc opened #4729 "Crash while logging in after switching network from Mainnet to Ropsten"
### Description

*Type*: Bug

*Summary*: The app crashed when I recovered an account, logged in, switched from Mainnet to Ropsten and then tried to log in again. Happened on Android. I could not reproduce it.

#### Logcat

[code]

### Reproduction

- Open Status
- Recover an account
- Switch from Mainnet to Ropsten
- Log in

### Additional Information
* Status version: nightly, June 12
* Operating

[2018-06-12 14:20] #4065 closed, assigned to adriacidre, goranjovic

[2018-06-12 14:33] Serhy commented on #4619
I can reproduce it now on iPhoneX. It doesn't happen on a fresh account and when I shake the device being on Home screen. However, shaking a phone when I'm on browser web view followed by sending an Instabug 'Report Issue' message - crashes the app.
Confirmed on latest nightly develop build (12th of June build)

**Reproduction:**
1) Open Status on iPhone device
2) Create new account
3) Navigate to

[2018-06-12 14:36] alwx commented on #4534
Tried it (current `develop` branch) and found no way for it to be reproduced.
@lukaszfryc can you check it again and confirm?

[2018-06-12 14:46] asemiankevich opened #4730 "Make stable and reliable messaging between desktop and mobile"
### User Story

As a user, I want to have stable messaging between desktop and mobile apps.

### Description

*Type*: Bug

*Summary*: messaging does not work when sending something from desktop to mobile. Talked to @MaxRis and @vkjr and here is a possible solution to make it working:

1. ~~Merge new version of react-native into react-native-desktop~~ (moved to #4743)
2. Merge desktop branch into d

[2018-06-12 14:55] lukaszfryc commented on #3981
Another crash happened when I recovered an account, logged in, switched from Mainnet to Ropsten and then tried to log in again. I was on Android. I also could not reproduce it.

Logcat:

[code]

* Status version: nightly, June 12
* Operating System: Android

https://github.com/status-im/status-react/issues/3981

[2018-06-12 14:56] #4729 closed, assigned to nobody

[2018-06-12 14:56] lukaszfryc commented on #4729
I mentioned this crash in a comment in https://github.com/status-im/status-react/issues/3981

[2018-06-12 15:07] annadanchenko commented on #4619
can reproduce on nightly from june 12 too. iphone 5s, iOS 11.4
https://app.testfairy.com/projects/4803590-status/builds/8486442/sessions/4393837113/?accessToken=fq8HB5LJQdBd3ZjltVMpAjhQ/P4

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/8486442/sessions/4393837113/?accessToken=fq8HB5LJQdBd3ZjltVMpAjhQ/P4">TestFairy: Status 0.9.19 (6047) @11</a></strong><

[2018-06-12 15:10] lukaszfryc commented on #4534
I cannot reproduce it anymore. Closing.

[2018-06-12 15:10] #4534 closed, assigned to alwx

[2018-06-12 15:46] lukaszfryc opened #4732 "Update TestFairy from version 1.13.2 to 1.14.0"
### Description

*Type*: Feature

*Summary*: There have been 4 TestFairy releases since 1.13.2 (current version we use). We should probably update to the latest one. Here is the [changelog](https://docs.testfairy.com/iOS_SDK/Changelog.html).

#### Expected behavior
TestFairy is updated to 1.14.0

#### Actual behavior
TestFairy version is 1.13.2

### Reproduction

- Open Status
- Log a session
- Ch

[2018-06-12 15:59] lukaszfryc commented on #4542
Can't be reproduced anymore. Tried using latest nightly on Android and iOS

[2018-06-12 15:59] #4542 closed, assigned to janherich

[2018-06-12 16:11] #3455 closed, assigned to pedropombeiro

[2018-06-12 16:50] annadanchenko commented on #4719
What is expected Description for this DApp, @rachelhamlin ?

[2018-06-12 17:01] annadanchenko commented on #4719
Can you give more details on what's expected for "Tokens ( collectibles) from dapps:"?
Should a new Asset be added to the list of Wallet Assets? If so, with what name and in what cases it will be shown? Is it part of this issue? @rachelhamlin

[2018-06-12 17:11] rachelhamlin commented on #4719
Good question. Updated with description @annadanchenko. And removed token icons—those will be used when we support CryptoStriker collectibles in the wallet.

Sorry I overlooked the description edits @jeluard!

[2018-06-12 17:41] Serhy opened #4734 "Empty Wallet balance while funds are actually exist which is confirmed in etherscan at the same time"
***Type***: Bug

***Summary***: In some instances when a contact opens application and logs in to account the Wallet balance may be 0 for ETH and other assets while address, in fact, has funds which is confirmed by checking it at the same time in etherscan.
I experienced this issue several times and re-login to the same account several times haven't made any difference -> assets were empty.
Howeve

[2018-06-12 19:27] asemiankevich opened #4735 "Add to contacts button appears after restart"
### User Story

As a user, I want to add someone to contacts once when the request actually comes in. I don't want to be confused seeing the `add to contacts` button in each 1x1 chat after I restart the app,

### Description

*Type*: Bug

*Summary*: Side-effect of https://github.com/status-im/status-react/pull/4714. `Add to contacts` button appears after the app restart.

#### Expected behavior
I

[2018-06-12 19:34] annadanchenko opened #4736 "Amount from the previous transaction is sent instead of current amount"
### Description

*Type*: Bug

*Summary*:
Amount from unsuccessful attempt to sign transaction is sent if trigger another transaction and sign it with correct password.

#### Expected behavior
If new transaction is initiated then data is used for this new transaction, not from previous one

#### Actual behavior
Amount from previous attempt to sign transaction with wrong password is sent when new tr

[2018-06-12 20:07] annadanchenko opened #4737 "Several send messages are shown for 1 transaction if use device back button in 1:1 chat"
### Description

*Type*: Bug

*Summary*: Extra send message for 1 transaction is shown in 1:1 chat each time when use Android device back button and tap Got it. No extra transaction is sent. Recipient also gets extra send messages in 1:1 chat.
![chat1](https://user-images.githubusercontent.com/6584810/41314375-e47fa4a8-6e8c-11e8-85c3-0b666d3d4cad.png)
![history1](https://user-images.githubusercont

[2018-06-12 20:14] status-open-bounty commented on #3642
Balance: 0 ETH
Tokens: SNT: 700.00
Contract address: [0x68802a106598624489074c2a5e0b970e389a20c2](https://etherscan.io/address/0x68802a106598624489074c2a5e0b970e389a20c2)
Network: Mainnet
Paid to: alwx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-12 20:37] status-open-bounty commented on #4643
Balance: 0 ETH
Tokens: SNT: 1400.00
Contract address: [0x23e1fdf5803fbddd520f2e94eda4086455e6151f](https://etherscan.io/address/0x23e1fdf5803fbddd520f2e94eda4086455e6151f)
Network: Mainnet
Paid to: cammellos
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-12 20:45] status-open-bounty commented on #4650
Current balance: 0.0 ETH
Contract address: [0x0eb699a99a8c325bf6dc04f39e0948db2675ac63](https://etherscan.io/address/0x0eb699a99a8c325bf6dc04f39e0948db2675ac63)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/4650/3e482db134ff49e45ecd750b6ff38394ed3d1cf5239526217733efaf5f5e7f30/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://

[2018-06-13 06:20] #4669 closed, assigned to nobody

[2018-06-13 06:20] #4719 closed, assigned to nobody

[2018-06-13 06:58] asemiankevich opened #4739 "Update new account password copy"
### Description

*Type*: Feature request

*Summary*:

When creating a new account, the password screen says:

#### Expected behavior
that part in bold is out of date with the work recently done in accounts

#### Actual behavior
remove part in bold

### Reproduction
- Open Status
- Create new account

[2018-06-13 08:04] Serhy commented on #3336
#4660 has been closed.

At this moment on lastest nighlty develop build (449th Jenkins build, 13th of June) on Galaxy Note 4 when a user navigates to public chat with ~500 unread messages the time delay between a tap on chat from Home screen till the messages appear (along with the app responsiveness) -> it takes ~2 seconds. In 1-1 chat with ~200 unread messages, it's 1-2 seconds.

These figures a

[2018-06-13 08:43] #3336 closed, assigned to janherich

[2018-06-13 09:30] vitvly opened #4743 "Merge latest RN (0.55) into RN-desktop"
This is necessary in order to synchronize with main trunk of status-react development, and is required by #4730

[2018-06-13 10:02] yenda opened #4744 "Investigate events fired after logout"
# Problem

Some events might be initiated in one account and end up running on a different one, potentially setting making changes to a different user or causing errors.

examples: `:check-fetching`

# Implementation

A session-id could be used, that can be checked potentially with an interceptor or otherwise in each handler.

# Acceptance criteria

Events that belong to a session should not be fi

[2018-06-13 10:42] annadanchenko opened #4745 "After recover account some of 1:1 chats with only received messages are shown"
### Description

*Type*: Bug

*Summary*: If user recovered an account and had 1:1 chats before this then
1. some of 1:1 chats are shown with only received messages
2. Usernames on 1:1 chats are shown with default random 3 words and picture
3. Contacts are empty
4. public chats opened before recover are not shown

#### Before recover:

![home before recover](https://user-images.githubusercontent.co

[2018-06-13 10:44] Serhy commented on #4193
13th of June nightly build quick stats:

**Samsung Galaxy Note 4:**
- user receives 500 messages in public chat -> app freezes for ~15 secods
- user receives in 14 separate 1-1 chats ~8000 messages -> app crashes on 4th-5th minute. Re-open and login to the same account shows about 3500 messages received in from 4 users. Rest chats and messages hasn't come.

**Samsung Galaxy J7:**
- user receives 5

[2018-06-13 10:48] cammellos commented on #4193
@Serhy @janherich @mandrigin
we had a look at some logs and there are quite a few mixpanel events sent (2-3 minutes of freezing might be due to that, but that's very rough guess, might not be the case). It's worth testing this with Send/Receive ratio disabled (enabled by default I believe in nightlies), to understand if it has a performance impact.

Worth considering batching every `x` seconds in

[2018-06-13 10:52] lukaszfryc commented on #4193
yeah, let's build a release version of the app. We can probably use https://jenkins.status.im/job/status-react/job/parametrized_build/

<blockquote></blockquote>

[2018-06-13 11:42] #4672 closed, assigned to cammellos

[2018-06-13 12:14] annadanchenko opened #4746 "App crashes with java.lang.NumberFormatException: Invalid long: "null" if sign transaction with amount > than available in DApp"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If send transaction to the DApp with more funds than available then app crashes with ` java.lang.NumberFormatException: Invalid long: "null"`
Fo

[2018-06-13 12:32] #4673 closed, assigned to cammellos

[2018-06-13 12:49] chadyj opened #4747 "ENS support in wallet and profile"
### User Story

As a user, I want to use and see ENS names so that I can more easily interact with wallet, accounts, and profiles.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: ENS user

[2018-06-13 13:20] lukaszfryc opened #4748 "Inform users about message incompatibility between 0.9.19 and newer versions"
### Description

*Type*: Feature

*Summary*: 0.9.20 messaging may not be compatible with 0.9.19 due to new cluster we use. It's not guaranteed that users will receive messages sent between versions. Let's inform users about it in either release notes or Testflight and Google Play notice.

### Additional Information
* Status version: nightly
* Operating System: Android, iOS

[2018-06-13 13:34] #4726 closed, assigned to janherich

[2018-06-13 14:09] lukaszfryc commented on #4745
I agree. There is so many things going wrong (not all messages maybe received, default names, etc. you mentioned) that it seems like the way it works now brings more confusion than value.

I really like the idea of having the clear explanation what and what not will be recovered in the recover screen.

I believe we should have it in Beta version. @chadyj wdyt?

[2018-06-13 14:57] hesterbruikman commented on #4745
Sounds good to me. Let's also check if any copy in the backup seed phrase flow is helpful. Communication during recovery is a bit 'after the fact'.

Think it would be cool to experiment after Beta with how we can frame this in a way that does make sense. E.g. 'Last 7 days', 'Recent conversations' anything that clarifies that it's not all messages.

[2018-06-13 16:20] EugeOrtiz commented on #4279
Yeap, is in the user profile card mentioned above zpl.io/Vqx03r6

[2018-06-13 16:32] pablanopete opened #4753 "Add more localized channels to public chats for beta"
User Story
As a user, I want to discover new public chats so that I can discuss topics of interest in my localized language.

As a core contributor, I want to also be able to join the topic relevant to my dialect

Description
Type: Feature

Summary:

Add 5 new languages as public channels in the localized language
Chinese: #中文
Japanese: #日本語
Korean: #한국어
Russian: #русский
Spanish: #español

Expect

[2018-06-13 16:34] pablanopete commented on #4753
This was further discussed in a slack channel here https://status-im.slack.com/archives/C8QP8S5UH/p1528411614000289 and approved by UXR and a few others.

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.slack.com/archives/C8QP8S5UH/p1528411614000289">Slack</a></strong></div></blockquote>

[2018-06-13 16:35] EugeOrtiz commented on #4434
Yes, here: zpl.io/a3vp03x

[2018-06-13 16:50] chadyj commented on #4753
Doesn't appear possible right now

<img width="324" alt="screen shot 2018-06-13 at 6 50 02 pm" src="https://user-images.githubusercontent.com/116099/41365772-9a0e55d2-6f3a-11e8-8157-28efcfdf2164.png">

[2018-06-13 17:38] vitvly commented on #4438
According to design, this is partially blocked by https://github.com/status-im/react-native-desktop/issues/258.

[2018-06-13 18:21] annadanchenko opened #4754 "Impossible to complete new transaction in DApp if return with back button from Send transaction screen"
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

It's not possible to complete transaction in DApp because there is no Send transaction screen if user returned back from such screen using Android device back button and initiates new transaction.

#### Ex

[2018-06-13 18:49] annadanchenko opened #4755 "Read-only fields Amount, Asset and Recipient can be modified if cancel signinig transaction"
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

1:1 chat will show one amount (0.1 ETH) but another amount (0 ETH) was actually sent if use /send command and cancel signing transaction on Sent transaction screen. As a result, fields on the screen become

[2018-06-13 18:49] EugeOrtiz commented on #4690
Just a couple of questions on the "Offline. Trying to reconnect": is it effectively like that? The app tries to reconnect? How many attempts? What happens after those attempts?

[2018-06-13 19:30] annadanchenko opened #4756 "Decimal separator is deleted if a number after it was deleted in Gas price (30.5 -> 30)"
### Description

*Type*: Bug

*Summary*:

Gas price contains 30.5. If you want to change it to 30.1 and tap on delete button to remove "5" then gas price becomes "30", so comma/dot is deleted automatically. After typing "1" you'll get 301. If user is trying to send transaction fast she might not notice the comma/dot absence and use gas price of 301 instead of 30.1

#### Expected behavior
only char

[2018-06-13 19:46] asemiankevich opened #4757 "Have to scroll down CK into page to start playing -> Done button does not close the disclaimer"
### Description

*Type*: Bug

*Summary*:
- can't skip disclaimer for CK by tapping Done
- have to scroll the page down and tap Start Meow at the very bottom to proceed
- also good to add something about Status here on disclaimer

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/41374322-8170f9b4-6f5b-11e8-96d2-2f76b8b94d30.png)

### Reproduction

- Open Status
- Ope

[2018-06-13 19:50] #4736 closed, assigned to goranjovic

[2018-06-13 19:50] #4737 closed, assigned to goranjovic

[2018-06-13 19:54] #4648 closed, assigned to nobody

[2018-06-13 22:41] yevh-berdnyk commented on #3501
duplicate of #3684

[2018-06-13 22:41] #3501 closed, assigned to nobody

[2018-06-14 06:55] #4746 closed, assigned to goranjovic

[2018-06-14 07:40] lukaszfryc opened #4759 "Transaction is not visible in chat if "Got it" was not clicked in "Transaction sent" screen"
### Description

*Type*: Bug

*Summary*: @3esmit's [noticed](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/160) that a transaction does not appear in the chat if back button is pressed while "Transaction sent" screen is present:

<img src="https://user-images.githubusercontent.com/7532782/41397974-24cc609e-6fb6-11e8-9b78-3a365a7062e8.png" width="

[2018-06-14 07:48] lukaszfryc opened #4760 "Back button in "Transaction sent" should navigate back to the chat or wallet"
### Description

*Type*: Bug

*Summary*: If transaction was sent, pressing the device back button should return user to wallet or chat screen depending on the place transaction was initiated. It should basically work the same as pressing "Got it". Instead, the back button leads back to "Send transaction" screen.

<img src="https://user-images.githubusercontent.com/7532782/41398334-4d6c314a-6fb7-11

[2018-06-14 08:06] #4504 closed, assigned to nobody

[2018-06-14 08:58] annadanchenko opened #4763 "Read-only fields Amount, Asset and Recipient can be modified if return back after transaction was sent in chat"
### Description

*Type*: Bug

*Summary*: Read-only fields Amount, Asset and Recipient can be modified if return back after transaction was sent in chat

#### Expected behavior
Fields can't be modified or there is no Send transaction screen if tap back, so user needs to make new /send

#### Actual behavior
after user sends 1 transaction in 1:1 chat and taps on 'Got it' she can return back to Sign t

[2018-06-14 09:03] lukaszfryc opened #4764 "Wrong pressed state of "send transaction request" button"
### Description

*Type*: Bug

*Summary*: The pressed state of the button looks like a UI glitch:

<img src="https://user-images.githubusercontent.com/7532782/41402190-efb05a8a-6fc1-11e8-9fb7-0edd27b8ccd0.png" width="200">

#### Expected behavior
The button is highlighted properly when pressed.

#### Actual behavior
The pressed state looks like a UI glitch.

### Reproduction

- Open Status
- Open W

[2018-06-14 09:22] Serhy commented on #4734
The issue appeared for me again in a later build. One by one I restarted an app having a single account and ETH balance was or 0 (wrong) or >0 (correct)
TF sessions where balance failed to be fetched:
https://app.testfairy.com/projects/4803622-status/builds/8470299/sessions/4393958587/?accessToken=FfTrZskX7Ma-4cBIFnmDuPzPgOE
https://app.testfairy.com/projects/4803622-status/builds/8470299/sessions

[2018-06-14 09:30] lukaszfryc opened #4765 "Do not fetch messages when new account is created"
### Description

*Type*: Bug

*Summary*: It seems like there is no reason to fetch messages while new account is created. Please correct me if I'm wrong.

#### Expected behavior
Status doesn't initiate messages fetching when new account is created.

#### Actual behavior
<img src="https://user-images.githubusercontent.com/7532782/41403754-f3bbc67e-6fc5-11e8-8401-fba65bc1a2ed.png" width="200">

###

[2018-06-14 09:30] lukaszfryc commented on #4765
cc @yenda

[2018-06-14 10:08] janherich commented on #4765
@lukaszfryc @yenda I quickly checked the code and here are my findings:
The label `Fetching-messages...` is not super accurate ad it actually means fetching mailserver topics - and even with no chats present, there is a fixed discovery topic (used for contact exchange) which has to be fetched.
So either we actually differentiate that by introducing two labels, one `Fetching messages...` and second

[2018-06-14 10:18] dmitryn opened #4767 "Plus button overlaps with text on Home screen"
### Description

Plus button overlaps with text on Home screen after new account created.

### Additional Information
[comment]: # (Please do your best to fill this out.)
* Status version: 986fc2bc7c2559bb9e788c2582ae973141afef68
* Operating System: Android Emulator API 28

<img width="539" alt="screenshot 2018-06-14 13 04 56" src="https://user-images.githubusercontent.com/23836/41406518-4e443aae-

[2018-06-14 10:19] dmitryn commented on #4767
Haven't found the mockup for this screen in Zeplin "Onboarding" section.

[2018-06-14 10:48] lukaszfryc commented on #4718
I agree with Anna.

Re 2), I checked if network selection is persisted while upgrading from 0.9.19 (testnet by default) to latest nightly (mainnet by default - the case for Beta). And it works fine. But, of course we should recheck it on the Beta release build.

[2018-06-14 10:50] #4402 closed, assigned to goranjovic

[2018-06-14 10:50] #4639 closed, assigned to goranjovic

[2018-06-14 10:52] #4755 closed, assigned to mandrigin

[2018-06-14 13:02] #4643 closed, assigned to cammellos

[2018-06-14 13:29] rachelhamlin opened #4772 "[Draft] Resolve ENS domains in browser"
### User Story

As a user, I want to browse the fully decentralized web and load content from p2p storage platforms like IPFS and Swarm in the Status browser.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Resolve ENS domains to IPFS/Swarm hashes and redirect to content.

#### Expected behavior
Entering a .eth address into the Status URL bar will redirec

[2018-06-14 14:11] liamzebedee commented on #4606
I've just started working on this.

[2018-06-14 15:06] bgits commented on #4772
Example implementation via metamask:
https://github.com/MetaMask/metamask-extension/pull/4405

Tutorial for above implementation:
https://gist.github.com/PhyrexTsai/cffcbfa1d752b9cf817d920dfcd1ec9f

<blockquote><img src="https://avatars1.githubusercontent.com/u/4505863?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> Gist</div><div><strong>

[2018-06-14 15:08] annadanchenko opened #4775 "No spinner is shown after signing transaction"
### Description

*Type*: Bug

*Summary*: no spinner/loading indicator is shown to show that process is started when network is slow or for some other reasons there is no Got it screen shown immediately after signing transaction.

#### Expected behavior
Spinner is shown after transaction is signed, so user can see that app is doing something

#### Actual behavior
No spinner, buttons are active, you

[2018-06-14 17:34] liamzebedee commented on #4606
I think it's a very real security concern, and it would have to be done client-side unless Status served the content.

Would it be a better idea to keep it as a setting? ie. "automatically generate previews"

[2018-06-14 19:34] #4663 closed, assigned to jeluard

[2018-06-14 19:34] #4666 closed, assigned to jeluard

[2018-06-15 08:07] GeorgiG opened #4778 "Can't access the "Password" input box when recovering an account on iPad Mini"
### User Story

As a user, I want to access the "Password" input box so that I would be able to recover my account.

### Description

*Type*: Bug

*Summary*: It's not possible to enter any password in the ""Password" field when using iPad Mini A1432

#### Expected behavior

To be able to enter my password.

#### Actual behavior

It's not possible so I'm stuck and can't recover my account.

### Rep

[2018-06-15 08:22] lukaszfryc opened #4779 "Toggles ("Bootnodes", "Development mode", "Save password until login") are shown as enabled when they are disabled until app restart"
### Description

*Type*: Bug

*Summary*: Bootnodes (Profile -> Bootnodes) are being enabled when development mode is turned ON. It happens only on iOS, Android works fine.

#### Expected behavior
Bootnodes are not enabled when dev mode is ON. They can be enabled only by a user switching the "bootnodes enabled" toggle.

#### Actual behavior
Bootnodes are enabled when dev mode is ON.

### Reproducti

[2018-06-15 08:30] lukaszfryc opened #4780 "Lot of "invalid URL scheme, want \"enode\"" entries in geth.log"
### Description

*Type*: Bug

*Summary*: After using an app for 1 day log  is 1-2 Mb and contains many `value=[] error="invalid URL scheme, want \"enode\""` (~8 000 entries and 15 000 in logs).

Here is the log: [geth (21).log](https://github.com/status-im/status-react/files/2105318/geth.21.log)

#### Expected behavior
The error does not occur or geth.log does not contain so many entries with the

[2018-06-15 08:33] GeorgiG opened #4781 "Can't navigate to the screen containing the Seed Phrase on iPad Mini"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to access my Seed Phrase so that I would be able to recover my account if needed.

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

[2018-06-15 08:42] annadanchenko commented on #4780
actually, it happened for me on release build https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.20/2/, not on nightly build

<blockquote></blockquote>

[2018-06-15 08:58] annadanchenko opened #4782 "geth.log is present for release build"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  geth.log is created for release build. It should not be available on release builds.

#### Expected behavior
[comment]: # (Describe what you exp

[2018-06-15 09:02] lukaszfryc commented on #4782
@annadanchenko can you take care of updating TestRail scenarios? Let's add scenario about release build and mark it as to be automated

[2018-06-15 09:28] mandrigin commented on #4781
should be fixed when https://github.com/status-im/status-react/pull/4720 is merged

[2018-06-15 09:34] rachelhamlin commented on #4757
Fixed by CK team.

[2018-06-15 09:34] #4757 closed, assigned to nobody

[2018-06-15 09:41] oskarth commented on #4404
Why is this a beta blocker? Seems like a minor ish bug to me.

[2018-06-15 09:43] oskarth commented on #4417
Why is this a beta blocker? Seems like enhancement that would be nice to have but not a must.

(The PR addressing this was originally in beta blocking milestone).

[2018-06-15 10:03] lukaszfryc commented on #4779
The toggle on iOS is broken in general I think. Here is another scenario:
1. Install app, create account and enable dev mode
2. Log out
3. Create another account, the dev mode toggle shows ON but in reality the development mode is off

It maybe that it has nothing to do with bootnodes. They are still disabled even though the toggle shows ON.

We're checking if we can log if bootnodes are enabled o

[2018-06-15 10:06] oskarth commented on #4753
Feature. Not a beta blocker.

[2018-06-15 10:21] asemiankevich opened #4783 "Remove autofocus from public chat screen"
### Description

*Type*: Feature

*Summary*: Remove autofocus from input field when opening public chat screen so all chats are visible and not covered under the keyboard

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/41463380-e738bdc4-709e-11e8-8426-34cd37f5f548.png)

### Reproduction
- Open Status
- Tap plus button
- Tap join public chat

[2018-06-15 10:42] dmitryn opened #4784 "Report JS crashes to Instabug"
### Description

We would like to see JS crashes in Instabug, but since we have custom global exception handler https://github.com/status-im/status-react/blob/develop/src/status_im/utils/error_handler.cljs#L52 automatic JS crash reporting seems not working.

### Solution

Add manual exception reporting to that handler https://docs.instabug.com/docs/react-native-crash-reporting#section-report-excep

[2018-06-15 10:50] annadanchenko commented on #4780
Steps to reproduce:
on Android devices A and B:
1. Install app on device A and B. Create account, Share Data. Do not change anything else. Bottnodes will be disabled by default, do not change this.
2. Launch app on both devices, add device B to the contacts of device A.
3. as A: send text message to B, e.g. "Ok"
4. as B: send text message to A, e.g "fine"
5. as A: close app
6. as A: launch app and

[2018-06-15 11:55] lukaszfryc commented on #4417
I agree. But, there is almost ready PR already: https://github.com/status-im/status-react/pull/4758

[2018-06-15 11:57] #4415 closed, assigned to dmitryn

[2018-06-15 12:53] pacamara commented on #4223
@PombeirP @asemiankevich Hi, there seems to have been a misfire with the bounty system on this one, the funds have not been released even though the fix was merged several days ago?

[2018-06-15 12:54] asemiankevich commented on #4223
@andytudhope ^

[2018-06-15 13:32] pedropombeiro commented on #4606
Yeah, this would need to be done on the client-side. Hopefully the library we end up using for this does what it can to prevent any security issues arising from generating a preview from any random site (maybe starting by whitelisting safe sites).

cc @adambabik regarding security

[2018-06-15 13:49] andytudhope commented on #4718
I disagree with Anna. I think we do need to be explicit that Status is on mainnet, especially for new users.

`
Thanks for choosing Status! We are now in Beta, which means new installs are automatically connected to the Mainnet. If you upgraded, you may still need to switch networks, which you can do easily by navigating to your Profile -> Advanced Mode -> Switch Developer Mode on -> Choose your n

[2018-06-15 13:51] chadyj commented on #4718
Thanks @andytudhope. Looks good!

[2018-06-15 14:43] asemiankevich opened #4787 "Can't skip Agree and Continue for Ethermon"
### Description

*Type*: Bug

*Summary*: Can't skip `Agree and Continue` for Ethermon in Status browser. Tapping this button does nothing. Works in Metamask.

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/41473950-664936a6-70c3-11e8-9b26-fefd66ff06d1.png)

### Reproduction

- Open Status
- Open ethermon.net dapp

[2018-06-15 15:00] liamzebedee commented on #4606
Yeah @PombeirP I think it'd be best to start off with a list of the common social sites (Twitter, YouTube, Facebook, Spotify, etc) and go from there.

Another question is about the UX scope - are we fine with including the following?

 - Title
 - Favicon
 - Image
 - Description

[2018-06-15 15:08] pedropombeiro commented on #4606
Ping @andmironov for design

[2018-06-15 15:14] adambabik commented on #4606
Do we want to unfurl **any** URL on the client side? So, I will send a link to a public channel and now each client will make a call (or more calls) to get details about the content of link? And some random site will know IPs of many Status users?

I don't think it's a good idea. I hate that stuff actually. I think we can do better and do unfurling only when a user requests for that by taping a bu

[2018-06-15 15:20] pablanopete commented on #4753
Following up on some comments here:

by @mandrigin
we need to figure out how to avoid scam and potential security issues by allowing all of the Unicode there - Also, we still need to limit the character set. Unicode contains a lot of invisible control characters, zero-width spaces, etc.
And we need to make sure that channel names are always normalized somehow.

and reply from @chadyj  to cut scope

[2018-06-15 15:28] #4309 closed, assigned to nobody

[2018-06-15 15:29] #4417 closed, assigned to yenda

[2018-06-15 15:33] #4696 closed, assigned to cammellos

[2018-06-15 15:33] #4756 closed, assigned to cammellos

[2018-06-15 17:15] #4212 closed, assigned to yenda

[2018-06-15 18:34] annadanchenko commented on #4404
@chadyj @oskarth This issue is only one example of having 21 characters as a limit for Amount field. The other consequences are:
1. If you copy/paste amount longer than 21 characters then field silently cuts it to first 21 characters. For example:
12345678.123456789012345678 is transformed to
12345678.123456789012
The more characters you will have before the comma the more will be cut at the end o

[2018-06-16 04:11] #3947 closed, assigned to janherich

[2018-06-16 09:10] GeorgiG opened #4789 "Misleading transactions after getting back to the "Transaction sent" screen and confirming again"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: A 1-1 chat window may record multiple (fake) transactions If a transaction was sent and the sender selects the back button of his device, follow

[2018-06-16 14:57] vkjr opened #4790 "Implement desktop chat design"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want desktop chat to look nice so that it pleases my eyes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Secti

[2018-06-16 17:00] GeorgiG opened #4792 "Status may add a contact without an explicit confirmation"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want Status to add contacts automatically to my contacts list so I should always have a choice to do so or not.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what y

[2018-06-17 01:05] nabgilby commented on #3677
in the latest status version on the Android store [ 0.9.19 (6034)] and latest released nightlies [0.9.20 (6058]) /debug no longer works, again it seems.

[2018-06-17 01:05] nabgilby commented on #3440
in the latest status version on the Android store [ 0.9.19 (6034)] and latest released nightlies [0.9.20 (6058]) /debug no longer works, again it seems.

What version does it work in so I can go back to it?

[2018-06-17 10:03] GeorgiG opened #4793 "Inconsistent currency conversions when selecting different "Main currency" options"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  I've noticed some improper currency conversions on the "Wallet" when switching the "Main currency" options from the "Profile" menu.

#### Expec

[2018-06-17 10:49] annadanchenko commented on #4789
@GeorgiG looks like #4737 that should be already fixed in nightly build. If agree, please close the issue

[2018-06-17 10:50] annadanchenko commented on #4778
@GeorgiG we don't support iPads yet, please close this issue and feel free to recheck after #4662 is done

[2018-06-17 10:53] GeorgiG commented on #4789
@annadanchenko, yes, please accept my apologies for the duplicate.

[2018-06-17 10:53] #4789 closed, assigned to nobody

[2018-06-17 10:54] GeorgiG commented on #4778
@annadanchenko, I'll keep an eye, thanks!

[2018-06-17 10:54] #4778 closed, assigned to nobody

[2018-06-17 10:57] annadanchenko commented on #1100
not reproducible on last nightlies

[2018-06-17 10:57] #1100 closed

[2018-06-17 10:58] GeorgiG commented on #4781
@mandrigin, thank you, I'll close the issue for now and will reopen it after the merge if needed.

[2018-06-17 10:58] #4781 closed, assigned to nobody

[2018-06-17 10:59] annadanchenko commented on #1262
will not fix after setting Android 6 as lowest support OS in #4651

[2018-06-17 10:59] #1262 closed

[2018-06-17 11:00] annadanchenko commented on #1264
Will not fix after setting minimal OS as Android 6: #4651

[2018-06-17 11:00] #1264 closed

[2018-06-17 11:01] annadanchenko commented on #1501
not applicable anymore - fee screen is removed

[2018-06-17 11:01] #1501 closed

[2018-06-17 11:04] annadanchenko commented on #4118
Will not fix after setting OS limit to iOS 11 in #4651

[2018-06-17 11:04] #4118 closed, assigned to nobody

[2018-06-17 11:13] annadanchenko commented on #4793
@GeorgiG thank you for the bug report!

BMD issue was fixed in https://github.com/status-im/status-react/issues/4508 and is already available in nightly builds (can be found in https://status-im.github.io/nightly/ but only Android build can be installed atm)

Can you re-check if it's https://min-api.cryptocompare.com issue for the rest of currencies mentioned, please? We are using this 3rd party s

[2018-06-17 11:17] annadanchenko commented on #2647
screen with Fee slider is removed now

[2018-06-17 11:17] #2647 closed, assigned to nobody

[2018-06-17 11:23] annadanchenko commented on #1649
can't reproduce

[2018-06-17 11:23] #1649 closed, assigned to nobody

[2018-06-17 11:27] annadanchenko commented on #1344
will not fix after setting limit of OS to lowes Android 6.9 in #4651

[2018-06-17 11:27] #1344 closed

[2018-06-17 11:29] annadanchenko commented on #1417
will not fix after setting min OS to iOS 11 in #4651

[2018-06-17 11:29] #1417 closed

[2018-06-17 11:30] annadanchenko commented on #1419
can't reproduce

[2018-06-17 11:30] #1419 closed

[2018-06-17 11:30] GeorgiG commented on #4793
You're welcome, @annadanchenko! :)
I can confirm that it is an issue on their side, not on Status.
Please find attached a screenshot for your reference. My initial wallet calculations were for 0.1 ETH and the screenshot shows the values for 1 ETH.

![cryptocompare](https://user-images.githubusercontent.com/5781465/41507424-deb786ba-723a-11e8-8f2f-a9ac31310843.JPG)

[2018-06-17 11:34] annadanchenko commented on #2577
@andytudhope can we get SNT back and then close this issue? It's no longer an issue (screen was removed)

[2018-06-17 11:35] annadanchenko commented on #2581
closing as this screen is no longer available in the app

[2018-06-17 11:35] #2581 closed, assigned to nobody

[2018-06-17 11:52] annadanchenko commented on #3508
@lukaszfryc can't reproduce on jun 17 nightly (ios and android). If you also can't repro, please close it

[2018-06-17 11:55] annadanchenko commented on #3512
fixed by #4692 can't reproduce in nightly jun 18

[2018-06-17 11:55] #3512 closed, assigned to nobody

[2018-06-17 12:02] annadanchenko commented on #3751
@Serhy can't reproduce for public chat in nightly jun 17 build, can you re-check, please? If it's not in pub chat anymore - let's add label for `group chat` and remove public chat from description/title

[2018-06-17 12:11] #3371 closed, assigned to nobody

[2018-06-17 12:11] annadanchenko commented on #3959
no screen with slider Fee anymore

[2018-06-17 12:11] #3959 closed, assigned to nobody

[2018-06-17 12:20] annadanchenko commented on #1876
now PNs are shown for send and receive messages in 1:1 chats. location is removed

[2018-06-17 12:20] #1876 closed, assigned to nobody

[2018-06-17 12:24] annadanchenko commented on #2303
with new design for send/request messages can't repro on jun 17 nightly build. Used iphone 5s

[2018-06-17 12:24] #2303 closed, assigned to nobody

[2018-06-17 12:31] annadanchenko commented on #2444
can't repro on las nightly jun 17, iOs 11, real device

[2018-06-17 12:31] #2444 closed, assigned to nobody

[2018-06-17 12:52] lukaszfryc commented on #3420
Duplicate of #379

[2018-06-17 12:52] #3420 closed, assigned to nobody

[2018-06-17 12:59] lukaszfryc commented on #379
I can still reproduce the issue on Samsung Galaxy S8 (native keyboard). When I type a message, click send and start typing immediately I can see the old message in the input.

I could not reproduce it on iPhone 8, 11.3.1

[2018-06-17 13:13] lukaszfryc opened #4794 "Slow keyboard after sending 4 messages, 2 lines of text each"
### Description

*Type*: Bug

*Summary*: When user sent > 4 messages with 2 lines of text (8-9 words), the keyboard starts lagging. The performance is so poor that it's almost impossible to efficiently type new messages. When the chat is left and opened again, all works fine until another 4 messages are sent.

The issue appears only on Android in all types of chats (1-1, public). I used Samsung Ga

[2018-06-17 13:17] nabgilby commented on #3677
debug is still broken on 0.9.20 (6065)??

[2018-06-17 13:21] nabgilby opened #4795 "/debug not working again, reopen #3440 #3677"
Same behavior as  #3440 #3677.

Tested in:

- 0.9.19 (6034)
- 0.9.20 (6058)
- 0.9.20 (6065)

[2018-06-17 17:28] annadanchenko commented on #4795
@nabgilby it was removed as requested by https://github.com/status-im/status-react/issues/3813
Is there any special reason you need /debug command?

[2018-06-17 17:37] GeorgiG opened #4797 "The chat scrolls down to the very bottom when opening URLs with the build-in browser"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to keep the current chat conversation position after opening URLs with the build-in browser so that I would be able to keep track of the current context the URL was posted in.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you wo

[2018-06-17 17:38] nabgilby commented on #4795
Hi,
I was using /debug to run status-dev-cli scan to connect my android to the
dapp I'm developinging on my mac. Is there another way to do this now? We
want to demo the dapp with status, on an android.

​-Nancy​

On Sun, Jun 17, 2018 at 1:28 PM Anna Danchenko <notifications@github.com>
wrote:

--
Nancy A. Benovich Gilby
650-539-8376
nabgilby@gmail.com
calendar <https://calendly.com/nabgilby>

<bl

[2018-06-17 18:22] nabgilby commented on #4795
It is probably worth adding that I have tried simply to following this doc:
https://wiki.status.im/Make_A_DApp

and running the example truffle-box-status app on the same wifi network
with my mac and my android, ganache running at :8546

but without /debug on in status on the android,  when I run:

IP=192.168.1.10 npm run start

I get the follow:

The app is running at:

  http://localhost:3000/

[2018-06-18 06:12] jeluard commented on #4795
`status-dev-cli ` is deprecated. What are you trying to achieve?

[2018-06-18 07:37] mandrigin commented on #4794
@lukaszfryc any idea on the regression point?

[2018-06-18 07:52] lukaszfryc commented on #4794
@mandrigin no. For sure it works in 0.9.19. Maybe @janherich knows more. If not, I can re-test on some old nightlies

[2018-06-18 08:11] lukaszfryc commented on #3508
Can't reproduce it anymore. Tested on iPhone 6 and 8.

[2018-06-18 08:11] #3508 closed, assigned to nobody

[2018-06-18 08:12] janherich commented on #4794
Apparently this commit introduced the regression and it has something to do with animated view behaving poorly for android -
https://github.com/status-im/status-react/commit/6a9c8de0e486659ffa75b23c00770e81c7248934

[2018-06-18 08:18] andmironov commented on #4767
working on this

[2018-06-18 08:33] #4782 closed, assigned to pedropombeiro

[2018-06-18 08:37] Serhy commented on #3751
Me neither!
Updated the description keeping `group chat` only.

[2018-06-18 08:41] rachelhamlin opened #4799 "Track collectible events in MixPanel"
### User Story

I'd like to know how many times the collectibles feature is being opened so that I can understand its success.

### Description

*Type*: Feature

*Summary*: Track the following taps on collectibles: 1) collections, 2) individual collectibles, and 3) "View in..." links.

#### Expected behavior
Data is available in MixPanel.

tap / Wallet / Tap "Open collection"
tap / Wallet: Collect

[2018-06-18 08:42] dmitryn opened #4800 "Error: Could not decrypt bytes"
### Description

Installed latest nightly http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-b40b04-n-fl.apk and see white blank screen on app start

Tried to clear data/cache, uninstall/reinstall the app, reboot the phone.

### Additional Information
[comment]: # (Please do your best to fill this out.)
* Status version: http://artifacts.status.im:8081/artifactory/night

[2018-06-18 08:52] annadanchenko opened #4801 "Can see seed phrase in default.realm file from iOS"
### Description

*Type*: Bug

*Summary*: If open default.realm file (exported with iExplorer tool) on Windows PC with Notepad++ then can see seed phrase. If rename default.realm to default.real.txt on iOS then it's also possible to read phrase on Mac
![phrase](https://user-images.githubusercontent.com/6584810/41526610-04ccdfb2-72e5-11e8-8e6c-07513c4989f7.png)

![88781](https://user-images.githubus

[2018-06-18 09:06] #4760 closed, assigned to rasom

[2018-06-18 09:06] #4763 closed, assigned to rasom

[2018-06-18 09:08] lukaszfryc commented on #4765
Or, do not show it when the discovery topic is being fetched. So show only "Fetching messages..". At least until we know how to properly handle account recovery (https://github.com/status-im/status-react/issues/4745)

[2018-06-18 09:25] oskarth commented on #4801
Good find. Would be interesting to do a post-mortem of this and figure out where this was introduced, as I believe this was fixed in https://github.com/status-im/status-react/issues/4476? Would help us avoid whatever changes lead to this in the future.

[2018-06-18 09:34] GeorgiG opened #4802 "The "Amount" of assets to be sent can't be edited when the selected value exceeds the wallet size"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to edit the amount to be sent when it exceeds my wallet size.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually

[2018-06-18 09:35] chadyj commented on #4404
Followed up with Anna:
* Low probability of users encountering this
* Low impact for negative consequences (eg loss of funds, crashes, etc)
* Therefore not a beta blocker, but we will work on it after beta
* This is a reminder that the beta isn't perfect, and we should communicate this to users in release notes, etc.

[2018-06-18 09:39] mandrigin commented on #4801
@oskarth there are a few issues to that:
1) realm should be encrypted and it isn't for some reason. maybe the key is empty for some reason. we need to investigate _that_ and make some mechanics to prevent it in the future (like, crash if the key is empty of all zeroes or something like that).

2) persisting the seed phrase has almost the same security consequences as persisting the private key, so

[2018-06-18 10:02] lukaszfryc commented on #4794
The extreme slowness were fixed by reverting "Input text styling". The keyboard is still lagging but much less.

[2018-06-18 10:33] asemiankevich commented on #4745
upd:
Old transactions are restored in chat after account recovery, `TX not found` is shown for the transactions

![image](https://user-images.githubusercontent.com/28752642/41531508-300a8c30-72fc-11e8-98aa-24bf34db5510.png)

[2018-06-18 10:47] annadanchenko opened #4803 "`BigNumber Error: times() not a number: null` if open 1:1 chat with special content. Can't use this chat"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For some chats: If open 1:1 chat then error popup `BigNumber Error: times() not a number: null` is shown. If close it then white screen is shown

[2018-06-18 10:55] rasom commented on #2515
we are not using `otto` anymore

[2018-06-18 10:55] #2515 closed, assigned to rasom

[2018-06-18 11:19] #4667 closed, assigned to jeluard

[2018-06-18 11:24] lukaszfryc commented on #3766
For now, I think we could just use Instabug since we collect all crashes there.

[2018-06-18 11:32] annadanchenko commented on #4801
@cammellos here is TestFairy session from iOS device that was used to reproduce the issue: https://app.testfairy.com/projects/4803590-status/builds/8497703/sessions/4394276852/?accessToken=0Ze88QPm0zxD8LL6wCcJLFs7vW8

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/8497703/sessions/4394276852/?accessToken=0Ze88QPm0zxD8LL6wCcJLFs7vW8">TestFairy: Status 0.9

[2018-06-18 11:58] asemiankevich opened #4806 "Txn messages are always shown in USD"
### Description

*Type*: Feature

*Summary*: I want to see my request/send messages to reflect the currency I selected in profile -> currency

#### Expected behavior
Currency is applied through all the places, so if I selected RUR - all my /send and /request messages are in RUR
- send / request for ETH
- send / request for tokens
- collectibles (when supported)

#### Actual behavior
`/send` and `/

[2018-06-18 12:07] GeorgiG opened #4807 "Blinking camera screen when capturing a profile photo"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: The camera is blinking when trying to capture a new profile photo.

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

[2018-06-18 12:08] GeorgiG opened #4808 "Can't capture a new profile photo"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to capture a profile photo with my front camera so that my profile will be updated with it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expecte

[2018-06-18 12:10] GeorgiG opened #4809 "My contacts can't see my most up to date profile details"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to update my profile details (name and picture) so that my friends will be able to see them too.
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you exp

[2018-06-18 12:21] annadanchenko commented on #4808
@GeorgiG please, add logcat log. What's Android version?

[2018-06-18 12:30] annadanchenko commented on #4807
@GeorgiG as I understood, you are using nightly build from June 18 available via http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-b40b04-n-fl.apk
Can you add this version info for this and other issues if so, please?
format: version number, Nightly build "date value", link to the build

<blockquote></blockquote>

[2018-06-18 12:34] annadanchenko commented on #4809
@GeorgiG can you reproduce it several times?

[2018-06-18 12:36] GeorgiG commented on #4808
@annadanchenko, I've updated the description with the required information.

[2018-06-18 12:39] GeorgiG commented on #4809
@annadanchenko, yep, I did it a few times but forgot to mention that the 2 devices use 2 separate versions of Status.

[2018-06-18 12:39] asemiankevich commented on #4803
also can reproduce:
1. send 0 eth from android to ios in 1x1 chat
2. send 0 eth from ios to android in same 1x1 chat

![image](https://user-images.githubusercontent.com/28752642/41536336-ffd485ea-730d-11e8-989a-f6dacac82823.png)

as well as same error with big number - just request something from android to ios

[2018-06-18 12:42] GeorgiG commented on #4807
@annadanchenko, sure! :)

[2018-06-18 13:09] churik commented on #4225
## 1. Empty space above text input field

Steps:

1) log in
2) open chat with 10+ message
![monosnap 2018-06-18 15-59-05](https://user-images.githubusercontent.com/4557972/41537526-66e8020e-7311-11e8-89fd-58109cf3ece6.png)

### Actual result:
![monosnap 2018-06-18 15-59-05](https://user-images.githubusercontent.com/4557972/41537303-bace20d4-7310-11e8-8046-fcc0e6723782.png)

### Expected result:
no

[2018-06-18 14:21] annadanchenko commented on #4809
@GeorgiG @cammellos afaik we might have even worse issues with 0.9.19 and 0.9.20 - like not getting messages sometimes (because old cluster is used in 0.9.19).

@GeorgiG please, test with similar versions on both devices for now and if you can reproduce on same 0.9.20 then it's an issue

[2018-06-18 14:28] annadanchenko commented on #4809
in addition we have known open issue that lead to similar problem: https://github.com/status-im/status-react/issues/3955

[2018-06-18 14:41] dmitryn opened #4813 "Proper design for transaction chat message with network mismatch"
### Description

When user have chat transactions on mainnet and switch to testnet, he sees warnings about network mismatch and transaction not found with currency, amount and other details. It doesn't make sense to show that info since transaction has happened on different network and doesn't have any value on current network.

### Solution

We could show generic message like "Test transaction" o

[2018-06-18 14:50] Serhy commented on #2681
I've noticed one thing: in Dapp (Oasis Direct) on the affected device (Galaxy Note 4) numeric fields request numeric keyboard with a dot as separator.
So in Wallet it (still) looks like:
![screenshot_2018-04-17-17-13-04](https://user-images.githubusercontent.com/8749671/38877835-362770d4-4268-11e8-99c9-0dab8ba1e0f5.png)

And this is the same device and OS but in Oasis Direct:

![screenshot_2018-06

[2018-06-18 14:52] asemiankevich opened #4814 "Bancor app ends up with blank screen (android)"
### Description

*Type*: Bug

*Summary*: Bug with Bancor is leading to slow load on iOS and blank screen on Android. Remove Bancor from curated DApp list until this issue is resolved.

#### Expected behavior

Bancor no longer appears on DApp list until I can use it on Android.

#### Actual behavior

Bancor still appears in DApp list. Blank screen on Android:

![image](https://user-images.githubuse

[2018-06-18 14:53] mulles commented on #1125
As the app is still in alpha the above seems to be still valid. Looking forward to future f-droid submission, so one does not need to install from "unknown sources" anymore.

[2018-06-18 15:03] dmitryn commented on #4803
Will be fixed by https://github.com/status-im/status-react/pull/4796

[2018-06-18 15:03] asemiankevich opened #4815 "Add password strength indicator"
### Description

*Type*: Feature

*Summary*: inform user about weak password like 111111 or 1234qwerty or similar

#### Expected behavior
Password strength indicator is implemented so user sees a warning like “are you sure you want to use a weak password?” when i set up a password for my account

#### Actual behavior
Nothing prevents me from using 111111 as a password, what is expected but insecur

[2018-06-18 15:06] lukaszfryc commented on #4814
Same for me, I'm testing on S8, Android 7.0.

**Logcat**

[code]

[2018-06-18 15:15] GeorgiG commented on #4809
@annadanchenko, I can confirm what you've noticed with the missing messages sometimes.

The issue is not reproducible with similar versions, or at least I was not able to with my testing so far.

Update: I've performed a lot of further testing and it seems that the issue is not reproducible in 100% of the time, just as not getting the messages just sometimes, which makes sense. For example, I was

[2018-06-18 15:18] GeorgiG commented on #4807
I noticed that the same issue appears sometimes with the QR but not every time on my device.

[2018-06-18 15:36] nabgilby commented on #4795
I am trying to achieve:
1. get the  truffle-box-status example working on status on android

2. But in general, I am trying to build and test my DApp, running my
Dapp on my mac and accessing it from Status on my Android.  I did this
awhile back in November, in early DApp development, now prob, the put
it aside to complete functionality (testing in a browser with
metamask). Now that we are closing

[2018-06-18 16:29] Serhy opened #4816 "Often OOM crashes when browsing Dapps on Android"
***Type***: Bug

***Summary***: There are number of Dapps or websites which leads to Out_Of_Memory on not really productive Android devices. For instance on Samsung Galaxy Note 4 - the opensea.io Dapp ends up with OOM when I scroll through the list on first summary page view of Dapp. Surfing through CryptoKitties ends up with OOM on 5-6th summary page (CryptoKitties -> Marketplace -> scroll to pag

[2018-06-18 16:30] Serhy commented on #4816
https://github.com/status-im/status-react/issues/4722 - is similar (or even the same by its nature)
issue

[2018-06-18 17:16] annadanchenko commented on #4809
@GeorgiG sorry I was not clear enough. I mean that it's expected that there will be issues between 0.9.19 and 0.9.20.

So, if you can see original issue when only 0.9.20 is used on both devices then it's something to be investigated and fixed. I will close this report for now. Please, feel free to re-open if you can reproduce on 0.9.20 installed on both devices

[2018-06-18 17:18] #4809 closed, assigned to cammellos

[2018-06-18 18:03] jeluard commented on #4795
I am afraid this example is deprecated too and won't work out of the boxµ. We are working on restoring those features and will take your feedback into consideration.

In the meantime you can push your DApp on a publicly available URL, open it using `Open a DApp` and remote debug using chrome debugging console.

[2018-06-18 19:39] nabgilby commented on #4795
Ah well, I was hoping to avoid the publicly available url thing until
closer to launch,

I would love to have those features back as they were what attracted us to
status.im originally.

Thank you so much for your guidance as none of this was obvious coming back
after being away a few months.

-Nancy

On Mon, Jun 18, 2018 at 2:03 PM Julien Eluard <notifications@github.com>
wrote:

--
Nancy A. Beno

[2018-06-19 05:26] pablanopete commented on #4223
@pacamara checking on this for you! :)

[2018-06-19 05:28] pablanopete commented on #4223
Would you mind sending a message to me (Hutch) on https://chat.status.im? Thanks!

<blockquote><img src="https://riot.im/app/img/logos/riot-im-logo-1.png" width="48" align="right"><div><strong><a href="https://chat.status.im/">Riot</a></strong></div></blockquote>

[2018-06-19 06:48] andytudhope commented on #4223
The reason it was not picked up is likely because the description and title both include the text `Fixes #4223:` and that colon has messed things up. Hutch, we now need to revoke the bounty and pay it manually...

[2018-06-19 07:15] makoto opened #4817 "Allow to connect to any node for dev mode"
### User Story

As a developer, I want to point status to private node so that I can connect to my local ganache node via proxy url.

### Description

*Type*: Bug and Feature

Apparently the feature used to exist but not working on the latest build
https://discuss.status.im/t/allowing-to-connect-to-any-node-for-dev-mode/89/2

#### Expected behavior

I want to be able to type the node endpoint by m

[2018-06-19 07:45] #4754 closed, assigned to rasom

[2018-06-19 08:02] status-open-bounty commented on #4753
Balance: 0 ETH
Tokens: SNT: 3500.00
Contract address: [0x03703e5e8fb8c9adfd7f20c957f037693abd3fba](https://etherscan.io/address/0x03703e5e8fb8c9adfd7f20c957f037693abd3fba)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: PombeirP
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-19 08:02] status-open-bounty commented on #4784
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x0349975030360395bdd21ece62eb9f33d26538cd6e8e99ff5c3901a07286be34](https://etherscan.io/tx/0x0349975030360395bdd21ece62eb9f33d26538cd6e8e99ff5c3901a07286be34)

[2018-06-19 08:02] status-open-bounty commented on #4784
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xcf5bd9e1143219b0291707f73d51af052f2479fe6dea212d931832e59488933b](https://etherscan.io/tx/0xcf5bd9e1143219b0291707f73d51af052f2479fe6dea212d931832e59488933b)

[2018-06-19 08:03] status-open-bounty commented on #4783
Balance: 0 ETH
Tokens: SNT: 700.00
Contract address: [0xce2df33908c7f41ae61a724bc12c4e4933c0a8b7](https://etherscan.io/address/0xce2df33908c7f41ae61a724bc12c4e4933c0a8b7)
Network: Mainnet
Paid to: tbenr
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-19 08:04] status-open-bounty commented on #4073
Balance: 0 ETH
Tokens: SNT: 700.00
Contract address: [0x6a72825daa1234b7238c7a4b963488ecf581ea89](https://etherscan.io/address/0x6a72825daa1234b7238c7a4b963488ecf581ea89)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-19 08:34] lukaszfryc opened #4818 "Crash while typing chinese characters in chat"
### Description

*Type*: Bug

*Summary*: While in a chat, the app crashes when user switch from english keyboard to chinese and sends couple of chinese messages. It seems like it happens only on iOS. I could reproduce it on iPhone 6, 11.2.6 on "Chinese (Traditional) - Zhuyin" keyboard but not on iPhone 8, 11.3.2. There are also 3 Instabug reports related to not being able to user chinese or japane

[2018-06-19 08:35] #4474 closed, assigned to dmitryn

[2018-06-19 08:47] antdanchenko commented on #4701
The same issue has been described in https://github.com/status-im/status-react/issues/4167

[2018-06-19 08:50] lukaszfryc commented on #4701
Closing as duplicate of #4167

[2018-06-19 08:50] #4701 closed, assigned to nobody

[2018-06-19 09:11] janherich opened #4819 "Update react-native to 0.56"
Update react-native version to 0.56

With recent upgrade to `0.55` RN release, we introduced multiple problems, one is perf regression related to chat input element (#4794) and it's probably causing keyboard crash issue (#4818) as well.
We hope that upgrading to newest RN release will solve those things.

To check:
- #4794 is no more
- no regressions
- no new perf regressions

Bounty might be incr

[2018-06-19 09:11] status-open-bounty commented on #4819
Balance: 0 ETH
Tokens: SNT: 1700.00
Contract address: [0xee98babf38e771eb5e5136fa950c4a96c9383ced](https://etherscan.io/address/0xee98babf38e771eb5e5136fa950c4a96c9383ced)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: yenda
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-19 09:47] rcullito commented on #4276
moving this out of "in progress". makes sense to revisit after we've merged develop into desktop

[2018-06-19 10:03] lukaszfryc opened #4820 "Unread message counter is shown but all messages were read"
### Description

*Type*: Bug

*Summary*: There are Instabug reports about the unread message counter that does not disappear even if all messages were read. Users have also tried to clear chats and restart the app but the counter was still there.

I tried to reproduce it on my side with no luck. Things I tried on iOS (11.3.1) and Android (7.0) devices:
1. Recover account with unread messages
2. Up

[2018-06-19 10:11] asemiankevich opened #4821 "Transaction send message is not shown in chat when skipping Got It button"
### Description

*Type*: Bug

*Summary*: `/send` transaction message is not shown in 1x1 chat when skipping to tap `Got It!` button

#### Expected behavior

`/send` message is shown when the transaction is signed and does not depend on `Got It` button

#### Actual behavior

`/send` message is not shown in 1x1 chat (shown in txn history)

### Reproduction

• Open Status
• Open 1-1 chat
• Type "/sen

[2018-06-19 10:31] lukaszfryc commented on #4158
The issue is still present in 0.9.20 build. But, it does not seem to be related to #4820 in which the message counter does not disappear even if the chat is opened again.

[2018-06-19 10:36] chadyj opened #4823 "Eliminate manual iOS "missing compliance" release step"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to automate Testflight submission so that I can eliminate manual steps and make releases more efficient.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

Every single build uploaded to Testflight needs manual intervention to fix the "missing compliance"

[2018-06-19 11:03] churik opened #4824 "Desktop app starts in mobile resolution"
### Description

*Type*: Bug
*Summary*: desktop app window size is not adapted for laptop screen and starts with dimensions 389 × 673.

#### Expected behavior
according to http://zpl.io/aB5jzyO

#### Actual behavior
![mobileres](https://user-images.githubusercontent.com/4557972/41593543-1d37d716-73c9-11e8-99ac-47f8342af1da.png)

### Reproduction

- Install Status-desktop
- Open Status desktop app

[2018-06-19 11:33] GeorgiG opened #4825 "The emails are not handled as mailto links"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see the emails in a chat conversation as mailto links so that I will be able to send email directly by clicking on them.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you

[2018-06-19 11:43] Serhy opened #4826 "Impossible to sign transaction in DApp if return with back button from Send transaction/'Sign message' screens"
***Type***: Bug

***Summary***: Follow up to #4754. Some Dapps has a pop-ups / modal windows prior to requesting a contact to 'Sign message or Sign Transaction as a confirmation of account. We fail to "notify" the modal window about the cancellation of the transaction when pressing Android device 'Back' button so it is not possible to re-Sign once again in Dapp: e.g. CryptoKitties, Airswap affecte

[2018-06-19 12:01] lukaszfryc commented on #4759
This should not be closed as it was not fixed in https://github.com/status-im/status-react/pull/4804

[2018-06-19 12:01] lukaszfryc commented on #4821
@asemiankevich I think it maybe closed as duplicate of https://github.com/status-im/status-react/issues/4759

[2018-06-19 12:11] asemiankevich commented on #4821
https://github.com/status-im/status-react/issues/4759 should be closed as i tested the PR and it is merged i guess

[2018-06-19 12:12] asemiankevich commented on #4821
@lukaszfryc https://github.com/status-im/status-react/pull/4804

[2018-06-19 12:26] #4759 closed, assigned to rasom

[2018-06-19 12:33] GeorgiG commented on #4807
Works fine on 0.9.20 (6070) from the PlayStore.

[2018-06-19 12:34] GeorgiG commented on #4808
Works fine on 0.9.20 (6070) from the PlayStore.

[2018-06-19 12:36] lukaszfryc opened #4829 "Text input is broken for Korean, Chinese, Japanese characters"
### Description

*Type*: Bug

*Summary*: With recent [react-native upgrade](https://github.com/status-im/status-react/commit/a2762eb19e45810184671b6c47f11faff0270124#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) we introduced a bug with [Chinese characters not being displayed correctly in chat input](https://github.com/facebook/react-native/issues/19339). The bug occurs only on iOS.

#### Expected behavi

[2018-06-19 12:38] lukaszfryc commented on #4818
@mandrigin any update on that?

Btw, this issue maybe related https://github.com/status-im/status-react/issues/4829

[2018-06-19 12:58] annadanchenko commented on #4718
@chadyj any extra disclaimer that even in beta it's still possible to loose funds etc, so use it for testing purposes... something like we had in the warning for mainnet switching?

[2018-06-19 13:15] lukaszfryc opened #4831 "Crash when scrolling a chat"
### Description

*Type*: Bug

*Summary*: @rachelhamlin reported a crash after scrolling through public chat for several minutes:
_I opened a link, then closed it and reopened public chat and started quickly scrolling to get back to where I was._

The crash happened on iPhone 6+, iOS 11.2.6. I could not reproduce it on my iPhone 6, iOS 11.2.3. The crash maybe related to out of memory exception. Ple

[2018-06-19 13:20] asemiankevich opened #4832 "Error BigNumber Error: div() not a number: null"
### Description

*Type*: Bug

*Summary*: Error `BigNumber Error: div() not a number (null)`

#### Expected behavior
Can get back to the app when viewing txn history details

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/41599671-8facfd36-73dc-11e8-8f43-c52de669d6e4.png)

### Reproduction

- Open Status
- Recover account
- Open txn from history
- Copy txn hash
- T

[2018-06-19 13:38] lukaszfryc commented on #4832
Looks like what we had in https://github.com/status-im/status-react/issues/4639

[2018-06-19 13:55] chadyj commented on #4718
@annadanchenko added "Please note that this is a beta release and we advise you that using this app should be done for testing purposes only and you assume the full responsibility for all risks concerning your data and funds." taken from the old warning.  cc @dmitryn

[2018-06-19 14:24] #3412 closed, assigned to alwx

[2018-06-19 14:43] churik opened #4835 ""Wrong password" validation message partially overlaps "Enter password" placeholder in sign transaction screen"
### Description

*Type*: Bug

*Summary*: wrong password validation message overlaps "Enter password" placeholder when sign transaction (or sign message for DApp)

#### Expected behavior
no overlapping

#### Actual behavior
![123](https://user-images.githubusercontent.com/4557972/41604498-14995656-73e8-11e8-8a0d-a61a4371d094.png)

### Reproduction
[comment]: # (Describe how we can replicate the bug

[2018-06-19 15:02] dmitryn commented on #4734
@PombeirP right, it tries to start it again here https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/accounts/login/events.cljs#L121
if node was not started, i.e. `node.started` signal has not been received which is the case in this TF session https://app.testfairy.com/projects/4803622-status/builds/8473772/sessions/4393840579/?accessToken=KfcXCyz8skvcYe8vtXbR7hwc/rA) S

[2018-06-19 15:07] dmitryn commented on #4734
I also see `Event  node.crashed  not handled` message as status-react doesn't seem to be handling that signal https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/events.cljs#L425

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><

[2018-06-19 15:24] pedropombeiro commented on #4734
I do see `Geth node started` twice (once at 8s and another at 9s), so it's maybe just a question of the signal not reaching the react side in time? I'm thinking if the best solution is to just avoid calling it a second time if we're still waiting for the response to the first request.

[2018-06-19 15:25] pedropombeiro commented on #4734
The alternative (less clean) is to ignore if StartNode returns  `{"type":"node.crashed","event":{"error":"node is already running"}}`

[2018-06-19 15:31] dmitryn commented on #4734
@PombeirP i just checked how `web3.eth.getBalance` https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/wallet/events.cljs#L23 work after `node.crashed` signal has been received (i specifically called `StartNode` 2 times before) and `getBalance` still work fine.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><

[2018-06-19 15:39] pacamara commented on #4223
@pablanopete @andytudhope Thanks for looking into this. I've used the same format `Fixes #nnnn:` in all the other PRs previously without there being this problem though! Will avoid it in future since there is the risk of it causing this issue. :+1:

[2018-06-19 16:28] rachelhamlin commented on #4831
Thanks Lukasz. Time to get a new phone. 😅

[2018-06-19 16:47] oskarth commented on #2878
@jakubgs Re OKR scoring

Also to make this 100% without relying on sloppy devs: https://graydon.livejournal.com/186550.html

<blockquote><img src="http://l-files.livejournal.net/og_image/218026/728?v=1487722369" width="48" align="right"><div><strong><a href="https://graydon.livejournal.com/186550.html">technicalities: "not rocket science" (the story of monotone and bors)</a></strong></div><div>A t

[2018-06-19 17:07] dmitryn commented on #4718
@chadyj this is how it looks like:

<img width="539" alt="screenshot 2018-06-19 20 04 44" src="https://user-images.githubusercontent.com/23836/41612615-1b42ba38-73fc-11e8-8e63-7341ad79b736.png">
<img width="539" alt="screenshot 2018-06-19 20 04 19" src="https://user-images.githubusercontent.com/23836/41612616-1b67fdf2-73fc-11e8-962e-66a4667dd776.png">

Not sure about text formatting, but i don't l

[2018-06-19 17:11] dmitryn commented on #4718
@chadyj second question is when exactly (on app start?) and how many times (once, every time?) this warning should be shown.

[2018-06-19 17:25] mandrigin commented on #4829
Tried to fix upstream too: https://github.com/facebook/react-native/pull/19809

[2018-06-19 17:52] mandrigin commented on #4818
Can't reproduce on this PR: https://github.com/status-im/status-react/pull/4837
But I don't have 11.2, I only have 11.0 and 11.4, works on both.

[2018-06-19 17:54] chadyj commented on #4718
Looks good!
This should be shown once when installing/upgrading to this version.  We've had some logic in the app to display similar upgrade messages so there should be a reference out there.

[2018-06-19 17:57] andytudhope commented on #4223
Hey @pacamara - yeah it's another weird edge case ;)

I have revoked this and here is your bounty: https://etherscan.io/tx/0xee1a23258f4d5d60083db1f0f417a0dcd99a020a3743fa61ccdb4341839cfc57

[2018-06-19 18:09] #4653 closed, assigned to dmitryn

[2018-06-19 18:17] #4671 closed, assigned to rasom

[2018-06-19 18:17] #4708 closed, assigned to rasom

[2018-06-19 18:17] EugeOrtiz opened #4839 "UI/UX fixes for issue #4791 (Chat design)"
This is a list of UX/UI improvements for issue #4791

**Message area**
- [ ] ~~“Sent” label is missing from sent message. **(High prio)**~~ (added as separate feature #5018 )
- [ ] Space between 2+ messages from same sender should be 8px, now they are random paddings (11px, 16px, 8px). (Low prio)
- [ ] Space between last message and bottom of message area should be 24px (now is 63px) - (Low prio)

[2018-06-19 18:52] pacamara commented on #4223
@andytudhope Haha the weird edge cases are my favourites :D  Thanks a ton for fixing that!  :beers:

[2018-06-19 21:13] maxhora commented on #4743
Done with https://github.com/status-im/react-native-desktop/pull/265

[2018-06-19 21:13] #4743 closed, assigned to maxhora

[2018-06-19 21:18] maxhora opened #4841 "Merge latest status-go into status-go desktop and merge back desktop changes into main status-go development branch"

[2018-06-20 06:04] GeorgiG commented on #4807
I got the same issue with Status version: 0.9.21, Nightly build "June 20", http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-77cb0c-n-fl.apk

<blockquote></blockquote>

[2018-06-20 06:10] GeorgiG commented on #4808
I got the same issue with Status version: 0.9.21, Nightly build "June 20", http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-77cb0c-n-fl.apk
I believe this is strictly related with https://github.com/status-im/status-react/issues/4807

<blockquote></blockquote>

[2018-06-20 06:59] churik commented on #4839
@EugeOrtiz
afaik regarding this particular PR only message area is affected.
Chat list/contacts are the part of PR #4752.
Headers are in #4693.

So I believe there should be left only issues from "Message area" section.
@vkjr can you please highlight what exactly areas were implemented in #4791? (i.e., message area, messages status (like "Sent/not sent"), text input area etc?

[2018-06-20 07:22] rachelhamlin opened #4842 "Scan for a user's existing tokens"
### User Story

As a user, I want my Status wallet to display all the tokens I own by default, so that I don't have to go looking for them.

### Description

*Type*: Feature

*Summary*: The wallet supports a long list of tokens but only displays ETH and SNT by default. All other assets must be manually toggled on in the `Manage Assets` list.

This can be confusing for users who make an exchange in

[2018-06-20 07:33] lukaszfryc opened #4843 "Chat name, avatar and last message are not visible when chat is swiped to the right"
### Description

*Type*: Bug

*Summary*: When chat is swiped to the left and then back to the right it's squeezed. The chat name, avatar, last message, timestamp are not visible. Everything goes back to normal when user visits another screen and goes back to chat list. For instance opens the chat and goes back.

<img src="https://user-images.githubusercontent.com/7532782/41643699-29b7ed5c-746c-11e

[2018-06-20 07:36] lukaszfryc commented on #4843
I don't consider it Beta blocker. cc @chadyj @annadanchenko

[2018-06-20 07:50] rachelhamlin opened #4844 "Change browser security warning trigger"
### User Story

As a user, I don't want to see the same warning message every time I open the browser.

### Description

*Type*: Feature

*Summary*:

Currently the security warning in the browser is triggered every time the user launches the browser from chat or the URL bar. It's a bit heavy-handed.

Until designs for #4380 are complete:

- It would be best to trigger the warning only once per ses

[2018-06-20 08:02] annadanchenko commented on #4801
fixed in #4810

[2018-06-20 08:02] #4801 closed, assigned to cammellos

[2018-06-20 08:43] vkjr commented on #4839
@churik, @EugeOrtiz, in current PR only UI for message area was improved.
List of contacts and text input left almost untouched.

In general, I would split this issue into few smaller ones, I think that would be easier to implement and test.

[2018-06-20 09:07] lukaszfryc commented on #1349
I can't reproduce it in 0.9.20

[2018-06-20 09:07] #1349 closed

[2018-06-20 09:13] lukaszfryc opened #4846 "Username emojis are not fully visible in home and chat screens"
### Description

*Type*: Bug

*Summary*: Only on iOS, emojis in user name are cutted in following places:

- Home screen
<img src="https://user-images.githubusercontent.com/7532782/41648899-770de116-747a-11e8-9feb-0a16a21023c7.png" width="200">

- Chat screen
<img src="https://user-images.githubusercontent.com/7532782/41648935-8b290964-747a-11e8-9d69-b85be5102d94.png" width="200">

### Reproductio

[2018-06-20 09:21] asemiankevich opened #4848 "Remove currency indicator from wallet main screen (top left) and replace it with [~] sign"
### Description

*Type*: Feature

*Summary*: Since we have currency indicator in the assets section, we dont need to have both currency and currency symbol shown at the top ( for ex $ and USD)

#### Expected behavior

- Currency symbol is removed from the top left so only USD is shown (if USD is selected as main currency)
- Currency symbol is replaced with `~` sign

![image](https://user-images.gi

[2018-06-20 09:22] chadyj commented on #4023
Fixed in https://github.com/status-im/status-react/pull/4692

[2018-06-20 09:22] #4023 closed, assigned to nobody

[2018-06-20 09:22] chadyj commented on #4040
Closing, as designs are being tested. Implementation will be in smaller issues.

[2018-06-20 09:22] #4040 closed, assigned to denis-sharypin

[2018-06-20 09:24] lukaszfryc opened #4849 "Profile screen is scrolled down when Edit is pressed which hides user avatar and name"
### Description

*Type*: Bug

*Summary*: When "Advanced" section is opened and user has scrolled to the top to see his avatar, pressing the "Edit" button causes the screen to be scrolled down:

<img src="https://user-images.githubusercontent.com/7532782/41649291-91c9c398-747b-11e8-9aaa-2856bc7a37ea.png" width="200">

In result, the user needs to scroll up manually to edit the name or change profil

[2018-06-20 09:44] mandrigin opened #4850 "Use our own fork of RN"
### User Story

As a developer, I want to be able to fix bugs in RN and use these fixes in our app ASAP w/o waiting for the patch to go upstream.
For doing that, we need to have our own custom fork of RN.

[2018-06-20 10:04] lukaszfryc opened #4851 "Automatically update Transaction Details screen if new data is available"
### Description

*Type*: Feature

*Summary*: A user may expect that Transaction Details screen will update itself automatically when needed (it was also my expectation). But, it does not. The only way to refresh it is to go back and open the screen again. It's not very intuitive.

<img src="https://user-images.githubusercontent.com/7532782/41651794-b0ec84f8-7481-11e8-9a7c-2e052daafc38.png" width="

[2018-06-20 10:05] lukaszfryc commented on #4851
If we can't update it automatically we may consider adding pull to refresh option

[2018-06-20 10:08] annadanchenko opened #4852 "Wrong amount can be sent after scanning QR code if token was selected as Asset (0.0000555 instead of 555 ETH is sent)"
===========
### Description

*Type*: Bug

*Summary*: Wrong amount, e.g. 0.0000555 instead of 555 ETH will be sent if:
1. provide 555 and WGN token in Send transaction screen
2. scan QR code for Recipient (as a result, Asset will be changed to ETH  and warning is shown - it's expected). Note that amount is not changed and is still 555
3. sign transaction. it should be not possible as user does not

[2018-06-20 10:22] lukaszfryc opened #4853 ""TX not found" does not change to "Confirmed" even after transaction is shown as confirmed in Transaction History"
### Description

*Type*: Bug

*Summary*: When user receives a transaction, the message says "TX not found" and can't be clicked. This status does not change even after the user goes to the transaction details and sees that it's confirmed. I'd assume that "TX not found" is shown only in case of an error or maybe just for a brief moment. Instead, it stays in the chat forever.

<img src="https://user

[2018-06-20 10:34] annadanchenko opened #4854 "Replace "passphrase/seed phrase" with "recovery phrase" in texts"
### User Story

As a user, I want to have a meaningful name for a phrase that I use for recovering my account.

### Description

*Type*: Bug

*Summary*:

Replace "passphrase/seed phrase" with "recovery phrase" in the following screens:

![recovery](https://user-images.githubusercontent.com/6559881/41660909-b12273bc-749d-11e8-9b60-731f0a703a45.jpg)

<img width="404" alt="screenshot 2018-06-20 15 56

[2018-06-20 10:37] annadanchenko commented on #4854
@chadyj @hesterbruikman @jpbowen wdyt about adding some extra explanation on Recover account screen to explain that contacts, chat content, username/picture will not be restored?

[2018-06-20 10:37] denis-sharypin commented on #4854
Nope, it should be renamed everywhere to `Recovery phrase`. We reached this agreement within design team

[2018-06-20 10:39] annadanchenko commented on #4854
@denis-sharypin please, capture such agreements in GH issues
Now there is Seed Phrase in Profile and Passphrase in Recover account

[2018-06-20 10:40] denis-sharypin commented on #4854
Extra explanation regarding contacts etc would not work here, because of one of uses cases: recover a metamask account. And this explanation would not fit this usecase. I know that @hesterbruikman is working on the redesigning this whole flow

[2018-06-20 10:40] annadanchenko commented on #4854
so, what's exact issue with recovering metamask account?

[2018-06-20 10:42] flexsurfer opened #4855 "Tx failed with Out of Gas error"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want my transactions in Dapps to be succeeded

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

If da

[2018-06-20 10:42] denis-sharypin commented on #4854
I mean if you are recovering not a Status account this extra explanation is confusing even more

[2018-06-20 10:45] annadanchenko opened #4856 "Explain to the user what is expected to be recovered if use Recover Account"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user I want to know what to expect after I recover my account.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections be

[2018-06-20 10:46] lukaszfryc opened #4857 "When outgoing transaction message ("/sent") is opened, the transaction details shows outdated info"
### Description

*Type*: Bug

*Summary*: If I click on a transaction that I've sent, the Transaction Details screen shows initial state of the transaction. It's not getting refreshed but I assume it should be. The only way to refresh it is by going to Transaction History and opening the transaction there.

<img src="https://user-images.githubusercontent.com/7532782/41653495-8e6ba850-7486-11e8-81db

[2018-06-20 10:46] lukaszfryc commented on #4857
It's related to https://github.com/status-im/status-react/issues/4851 and https://github.com/status-im/status-react/issues/4853

[2018-06-20 10:47] annadanchenko commented on #4854
not sure it's true. if you recover from metamask or other place then you by default had no chats, contacts etc. Such case can be also captured in explanation tbh. Like: if you were using Status app before then....

[2018-06-20 10:48] denis-sharypin commented on #4854
All usescases would be covered in the new flow. Let's wait for them

[2018-06-20 10:48] flexsurfer commented on #4855
iuri matias [5:54 PM]
btw on embark we now have (3.1 / develop branch), a method to profile a contract and its methods

which includes estimating the gas costs
estimateGas is typically reliable
**to be on the safe side you can also multiple by 1.2 for an extra just in case**

[2018-06-20 10:48] annadanchenko commented on #4854
I've created https://github.com/status-im/status-react/issues/4856 to capture work about explanation as separate issue. @denis-sharypin please feel free to close this issue if there is "rename to Recovery phrase" issue

[2018-06-20 10:50] denis-sharypin commented on #4854
There is no such issue, I will update this issue then

[2018-06-20 11:07] asemiankevich opened #4858 "Error Unmaskable.unmask defined for type: null"
### Description

*Type*: Bug

*Summary*: Error `No protocol method Unmaskable.unmask defined for type: null` shown when seding txn to dapp (in my case - test dapp , requesting ADI tokens twice one by one)

#### Expected behavior
no errors

#### Actual behavior

this error means that password was sent as null. It shouldn't depend on contract, more likely has something to do with user input

![image

[2018-06-20 11:33] #4818 closed, assigned to mandrigin

[2018-06-20 11:33] #4829 closed, assigned to mandrigin

[2018-06-20 11:35] EugeOrtiz commented on #4839
@churik @vkjr Done! Will move the rest to specific issues.

[2018-06-20 11:58] EugeOrtiz opened #4860 "Correct font (San Francisco) is missing"
**Issue:**
"San Francisco", the OSX native font is missing
Download SF > https://developer.apple.com/fonts/

**Problem:**
Without the proper font displayed, sizes, spacing, and measurements don't match the design specifications.

**Expected results:**
Users should be able to see all content in the app displayed using SF font (as specified in the designs).

[2018-06-20 12:11] EugeOrtiz commented on #4283
Also @vkjr please have in mind that the user should also be able to select text (all or part of it) from a message using her mouse/trackpad/keyboard to later copy it.

[2018-06-20 12:12] GeorgiG opened #4861 "The end-users should be able to edit the profile names selected by ther contacts"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to edit the names of my contacts so that I would be able to distinguish them easily.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected t

[2018-06-20 12:14] EugeOrtiz opened #4862 "Apply design for text input area in chat"
This is a list of visual and experience bugs for the text input area in chat:

- [ ] **Input area doesn’t grow with long messages zpl.io/brN1Xre. (High prio)**
<img width="691" alt="captura de pantalla 2018-09-17 a la s 10 16 38 a m" src="https://user-images.githubusercontent.com/37297779/45612283-d51fea00-ba62-11e8-87e2-3113476e7ced.png">
See how input fields grow >> zpl.io/brN1Xre (Zeplin)

- [

[2018-06-20 12:21] EugeOrtiz opened #4863 "New header for 1:1 chat is missing"
As a user, I want to see who I'm talking too at the top of the message area:

![image](https://user-images.githubusercontent.com/37297779/41658170-facaa638-746b-11e8-923f-d18fe0e49287.png)

Expected behavior: When I'm talking to a person, we need to show the right 1:1 chat header.

[Designs in Zeplin](zpl.io/V4J4NX4)
[Designs in Zeplin](zpl.io/am6gW4v)

[2018-06-20 12:27] EugeOrtiz opened #4864 "New header for public chat is missing"
As a user, I want to see in which public chat I'm in by looking at the top of the message area:

![image](https://user-images.githubusercontent.com/37297779/41658291-507639bc-746c-11e8-8245-c8e15da6273d.png)

Expected behavior: When I'm in a specific public chat, we need to show the right public chat header.

[Designs in Zeplin](zpl.io/2vlrMQe)

[2018-06-20 13:46] pedropombeiro commented on #4734
This might be known, but adding it here just so it's captured. Contrary to what is implied in the 2nd post, the `node.crashed` error doesn't seem to be relevant to this issue, as it is also present in logs where the app showed the balance correctly.

[2018-06-20 13:50] annadanchenko opened #4865 "Pending state is shown for transaction in 1:1 chat for sender even if tx confirmed more than 100 times in"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: On sender side transaction message shows "Pending" for transaction sent in 1:1 chat 20 minutes ago. Transaction has more than 100 confirmations.

[2018-06-20 13:54] mandrigin commented on #4734
can that be related to something being wrong with Infura?

[2018-06-20 14:20] lukaszfryc commented on #4865
@annadanchenko I could reproduce it as well. Btw, on my side, the transaction was marked as confirmed when I received a "/send" message from another device. When that message appeared, the outgoing transaction was confirmed.

[2018-06-20 14:22] errorists opened #4866 "Integrate native navigation transitions"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a User, I want to have native transitions while navigating between views so that I have a clear understanding of my location inside the app, how I got here and where I can return to.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would

[2018-06-20 14:27] denis-sharypin commented on #4866
Also, related https://github.com/status-im/status-react/issues/3804

[2018-06-20 14:29] lukaszfryc opened #4867 "Have "waiting for confirmation" state for transactions in chat"
### Description

*Type*: Feature

*Summary*: Currently, an incoming transaction has "TX not found" state, which after couple of minutes gets updated to "Confirmed":

<img src="https://user-images.githubusercontent.com/7532782/41652446-52f0e7f2-7483-11e8-81a6-d482c5692072.png" width="200">

To avoid confusion about missing transactions, would be great to either change "TX not found" to something li

[2018-06-20 14:30] chadyj commented on #4866
Nice first issue! This looks like a dupe of #3804?

[2018-06-20 14:30] lukaszfryc commented on #4853
I can't reproduce it anymore. The confirmed state appears after couple of minutes.

But, I created: https://github.com/status-im/status-react/issues/4867

[2018-06-20 14:30] #4853 closed, assigned to lukaszfryc

[2018-06-20 14:37] denis-sharypin commented on #4866
@chadyj #3804 would be implemented when React Navigation will be in place. And this issue is mostly about it

[2018-06-20 14:45] lukaszfryc commented on #4867
@andmironov could you provide final copy that we could use for this state?

[2018-06-20 15:10] andmironov commented on #4767
let's move the text up a bit, and add some more complex changes in future interations.
mockup is here zpl.io/agGv1j1

Left: iOS, Right: Android
<img width="891" alt="ob" src="https://user-images.githubusercontent.com/3115606/41667259-31477d14-74b5-11e8-8a3d-a322c6d2f8e8.png">

[2018-06-20 15:15] lukaszfryc opened #4868 "Message spinner did not disappear when the message was sent"
### Description

*Type*: Bug

*Summary*: I have noticed few times that a message spinner did not disappear even though the message was sent. It kept spinning forever in the chat (even after restarting the app):

<img src="https://user-images.githubusercontent.com/7532782/41666710-6bad3412-74ab-11e8-99bf-c3634f6ec17d.png" width="200">

It happened for me (but can't be reproduced) while:
1. Sending

[2018-06-20 15:45] mandrigin commented on #4734
[code]

[2018-06-20 15:51] mandrigin commented on #4734
not the most helpful error message tho

[2018-06-20 16:04] rachelhamlin opened #4871 "Refresh DApp list"
### User Story

As a user, I want to see more curated DApps in Status so that I can explore web3 more easily.

### Description

*Type*: Feature

*Summary*:
Add DApps highlighted in green on [this list](https://docs.google.com/spreadsheets/d/1BLAcybCxF9z9huYxxHu2xctFYahs2T24bdPqWomPZXk/edit?usp=sharing).

#### Expected behavior
Curated list on `Open DApp` screen includes 7 new listings:

- DAI by M

[2018-06-20 16:05] #3233 closed, assigned to goranjovic

[2018-06-20 16:05] #3234 closed, assigned to goranjovic

[2018-06-20 16:05] #4095 closed, assigned to goranjovic

[2018-06-20 16:05] #4803 closed, assigned to dmitryn

[2018-06-20 16:06] #4821 closed, assigned to nobody

[2018-06-20 16:06] dmitryn commented on #4734
@mandrigin `update-token-balance-fail` seems not related as it tells about token balance update failure only.
We update ETH balance with `update-balance` that have `update-balance-success` and `update-balance-fail` callback events. https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/wallet/events.cljs#L123

<blockquote><img src="https://avatars3.githubusercontent.com/u/

[2018-06-20 16:07] #3642 closed, assigned to alwx

[2018-06-20 16:12] #4753 closed, assigned to cammellos

[2018-06-20 16:20] mandrigin commented on #4734
@dmitryn just for sanity, we have one asset that is `nil` that we try to check every time, I don't know why. Maybe it is harmless, but I think we'll need to fix that too so debugging is simpler :)

[2018-06-20 16:29] rachelhamlin opened #4873 ""eth_uninstallFilter" synchronous request error"
### User Story

As a user, I want to make a trade in Oasis without any errors.

### Description

*Type*: Bug

*Summary*:  As I was trying to buy weth on Oasis DEX (via redirect from DAI), I received this error:

<img src="https://user-images.githubusercontent.com/15470435/41671351-2b51dd6c-74b7-11e8-89c1-579ef2b4c985.png" width=250/>

#### Expected behavior
I can make trades in Oasis.

#### Actual

[2018-06-20 17:35] Serhy commented on #4734
Reproduced issue once again on Galaxy Note 4 (Andorid 6.0) and Samsung J7 (Android 7.0)
What happens is that being on Ropsten the actual amount of ETH requested from Mainnet.

Confirmed sending in Status Console the `web3.version.network` which replied with `"1"` while all the UI in-app displayed i'm on Ropsten (apart ETH amount which was the same I have in Mainnet).

With the same steps as before

[2018-06-20 17:53] Serhy commented on #4734
Here is TF session when issue appeared for Galaxy Note 4: ttps://app.testfairy.com/projects/4803622-status/builds/8501108/sessions/4394466511/?accessToken=RZgJCs4pvkrSwJezv01f751k7cc

And geth.log for above session:
[geth.log](https://github.com/status-im/status-react/files/2120479/geth.log)

[2018-06-20 18:24] annadanchenko opened #4874 "Specified gas price is automatically reverted to default one if open Assets or any screen to specify Recipient"
### Description

*Type*: Bug

*Summary*: Gas price specified by the user is automatically reverted to the default value if
1. open any of screens to specify Recipient (e.g. Contacts). There is no need to select other recipient, just opening and closing the screen is enough to cause Gas price change
2. open Assets screen. Also no need to select other asset

Note that Gas limit value is not changed.

[2018-06-20 20:01] EugeOrtiz opened #4875 "UI/UX fixes for bottom navigation bar"
**List of UX/UI fixes for bottom navigation:**

- [ ] Box height should be 68px
<img width="395" alt="captura de pantalla 2018-07-12 a la s 12 08 18 p m" src="https://user-images.githubusercontent.com/37297779/42642036-4d0ade24-85cc-11e8-8ec0-5d8bd78b60c0.png">

- [ ] Font-size should be 12px
- [ ] Distance between icons and labels should be 4px
- [ ] "Home" icon when tab is selected is not the ri

[2018-06-20 20:33] annadanchenko opened #4876 "Error: Doesn't support name and white screen if open Wallet 1st time after opening transaction screen from Dapp"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: `Error: Doesn't support name` is shown if user opens Wallet for the first time. If close error message then white screen is shown, so user needs

[2018-06-20 20:45] asemiankevich commented on #4876
@goranjovic it is https://github.com/status-im/status-react/pull/4796 :( please take a look tomorrow (

[2018-06-21 05:08] status-open-bounty commented on #4721
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb902f330d0c243a5603ea73f095504eff0cd64bf550d33920257ca1f210e7abc](https://etherscan.io/tx/0xb902f330d0c243a5603ea73f095504eff0cd64bf550d33920257ca1f210e7abc)

[2018-06-21 06:44] #4855 closed, assigned to nobody

[2018-06-21 07:38] GeorgiG opened #4877 "Improper handling of 0 STT transactions"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When sending 0 STT transactions this results in:

- They are marked as

[2018-06-21 07:39] asemiankevich commented on #4718
@dmitryn keyboard hides the message on iOS and tapping outside the warning does not close the keyboard, neither scrolling is working. Can't read the full warning as result. iPhone 7, iOS 11.4

![image](https://user-images.githubusercontent.com/28752642/41704593-583ca89c-753f-11e8-8d0c-6e4758dbbc2c.png)

[2018-06-21 08:33] jeluard opened #4880 "Define an extension hook for chat commands"
### User Story

As a developer, I want to have abstract extension for the chat command, so that I could speed up my job adding new chat command

### Description

***Type*:** Feature

Based on existing chat command mechanism create an extension hook allowing to define chat commands.
This hook should be flexible enough to support existing commands (namely `send` and `receive`) and more.

**Acceptanc

[2018-06-21 08:37] #4709 closed, assigned to flexsurfer

[2018-06-21 08:37] churik opened #4881 "Make installation/uninstallation process smooth"
### User Story

As a user, I want to have an obvious and simple way how to install or uninstall application

### Description

*Type*: Feature

*Summary*:
### Installation notes:
- build is stored in `.zip` format (expected in `.dmg` for Mac OSx), so you need special software to unzip it.
- when you launch StatusIm for the first time, it produces a lot of files in the same folder
- `StatusIm` app i

[2018-06-21 08:48] jeluard opened #4882 "Migrate existing chat commands to extension"
### User Story

As a developer, I want _send_ and _receive_ chat commands implemented with abstract extension, so that I could speed up their maintenance.

### Description

***Type*:** Feature

Requires #4880

Migrate `send` and `receive` to chat extension hook abstraction.

**Acceptance criteria:**
* Send and receive chat commands features behave same to their old implementation

[2018-06-21 08:50] antdanchenko opened #4883 "`Invalid key detected` error message is confusing a user"
### Description

The message is shown after detection of an invalid key

The part of the message `If you would like to backup you data please click on cancel and the app will quit. Ensure the data directory of the app is clean and make sure no data is backed up by your cloud provider` is completely unclear for casual user

#### Expected behavior
Replace `Cancel` button with `Skip` button, after pr

[2018-06-21 09:44] dmitryn commented on #4800
On current nightly http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-227014-n-fl.apk
i get
![screenshot_20180620-151230](https://user-images.githubusercontent.com/23836/41711428-c3a14a8c-7550-11e8-9bd8-99199c2cf2cb.jpg)

[code]

<blockquote></blockquote>

[2018-06-21 09:45] lukaszfryc commented on #4794
This issue will be fixed by https://github.com/status-im/status-react/pull/4878. I'll create a separate GHI to fix the lag completely (probably after upgrading RN).

[2018-06-21 09:47] #4794 closed, assigned to janherich, lukaszfryc

[2018-06-21 09:48] dmitryn commented on #4800
Also an issue with encryption key https://github.com/status-im/status-react/issues/4883

[2018-06-21 09:50] lukaszfryc opened #4887 "Keyboard is still lagging after sending 10 messages"
### Description

*Type*: Bug

*Summary*: Keyboard was extremely laggy when sending long messages. It was significantly improved  by fixing https://github.com/status-im/status-react/issues/4794 but the issue is still present when more than 8-10 messages (8-10 words each) are sent. We've investigated it and the root cause was probably introduced in react-native v0.55. So, the most probably we need t

[2018-06-21 11:26] #4852 closed, assigned to mandrigin, janherich

[2018-06-21 11:41] eskp commented on #2566
Hi all, is there an update / anyone currently working on this?

[2018-06-21 13:20] asemiankevich opened #4889 "Add history support for 721 collectibles"
### Description

*Type*: Feature

*Summary*: we had a bug https://github.com/status-im/status-react/pull/4888 that was caused by bad 721 history support. We tried to show them as ERC20 and it was crashing the app. We need to have proper support for collectibles (ERC721) in history

### Reproduction

- Open Status
- Receive some collectibles
- Open history

[2018-06-21 13:28] lukaszfryc opened #4890 "Misplaced "Amount" hint after "/send" is typed in chat input"
### Description

*Type*: Bug

*Summary*: The issue happens only on iOS:

<img src="https://user-images.githubusercontent.com/7532782/41721921-75189f02-7567-11e8-8803-1d200d3f4dc3.png" width="200">

Please make sure that the fix includes https://github.com/status-im/status-react/commit/424d7cc6ae6d803479532b57b3b6b69f380a992e

### Reproduction

- Open 1-1 chat
- Type "/send"

### Additional Informa

[2018-06-21 14:25] asemiankevich opened #4892 "Error no matching clause when switching accounts"
### Description

*Type*: Bug

*Summary*:

![image](https://user-images.githubusercontent.com/28752642/41725239-fc21d47c-7577-11e8-8f32-1fe727d50ec9.png)

#### Expected behavior
No errors

#### Actual behavior
Error `no matching close`

### Reproduction

- Open Status
- Recover account
- Logout
- Tap create new account and stay on the screen for a while

### Logs

`06-21 17:14:03.551 13282 13362 D

[2018-06-21 14:36] dmitryn commented on #4892
Some details on where it fails exactly https://github.com/status-im/status-react/pull/4872#issuecomment-399121157

[2018-06-21 14:41] #4871 closed, assigned to nobody

[2018-06-21 14:44] dmitryn commented on #4892
Easy and quick workaround would be adding default case to `case` statement (as `case` really should have default case by design). It would at least hide this ugly error from user.
But we definitely need to solve underlying issue with `update-transactions` running in background after user logged out.

[2018-06-21 14:45] #4890 closed, assigned to goranjovic

[2018-06-21 14:52] #4832 closed, assigned to goranjovic

[2018-06-21 15:00] #4718 closed, assigned to dmitryn

[2018-06-21 15:43] Serhy commented on #4734
It's worth to be added a couple of non-functional observations for when issue happens and when it's reproducible to me 95%.

We could not reproduce it on iPhoneX.
But almost always it reproducible on less powerful devices (Confirmed Galaxy Note 4, Samsung J7) if you are really fast in actions to login to account right after Status app opened. It **doesn't matter** when the app was shut down - 5 se

[2018-06-21 15:50] #4734 closed, assigned to mandrigin

[2018-06-21 16:29] andytudhope commented on #2566
Not really if I'm honest. @oskarth @jakubgs is this still something we need?

[2018-06-21 18:05] asemiankevich commented on #4874
1. Gas price is changing when i scan wallet qr code as recipient. Steps:
- open wallet
- tap send transaction
- open advanced and check the values
- tap specify recipient and scan any valid wallet QR
- check Advanced (gas limit and gas price). Transaction fee and gas price are changed.

https://app.testfairy.com/projects/4803590-status/builds/8502876/sessions/4394553174/?accessToken=SpJo6iJ1VLuioM

[2018-06-22 06:30] #4876 closed, assigned to goranjovic

[2018-06-22 06:42] rachelhamlin opened #4899 "Disable collectibles for beta"
### Description

*Type*: Feature

*Summary*: Hide collectibles for the beta release. Security concerns around SVG images need to be addressed.

#### Expected behavior
Collectibles do not appear in my asset list for the beta cut.

#### Actual behavior
I can toggle my collectibles on from the asset list.

[2018-06-22 06:48] asemiankevich opened #4900 "0 shown when appropriate asset selected (assets/collectibles are owned by selected ethereum address)"
### Description

*Type*: Bug

*Summary*: Status wallet shows 0 collectibles after you select an asset even you have collectibles on your ethereum address. To make them show up I need to refresh assets manually using `pull-to-refresh` gesture.

#### Actual behavior

Status wallet shows 0 collectibles after you select an asset even you have collectibles

![image](https://user-images.githubuserconten

[2018-06-22 06:59] jeluard commented on #2933
We don't use mapbox anymore.

[2018-06-22 06:59] #2933 closed, assigned to nobody

[2018-06-22 07:05] jeluard opened #4901 "Fix npm version issue"
### User Story

As a developer, I want a reliable build process

### Description

`npm install` stales, sometimes.
Find out the root cause and fix it

*Type*: Bug

[2018-06-22 07:11] jeluard commented on #1540
Old API is now deprecated

[2018-06-22 07:11] #1540 closed

[2018-06-22 07:13] jeluard commented on #1539
Will be discussed in our discuss platform to get community feedback

[2018-06-22 07:13] #1539 closed

[2018-06-22 07:15] jeluard commented on #1319
Lots has changed here. Please reopen if it still applies.

[2018-06-22 07:15] #1319 closed

[2018-06-22 07:49] flexsurfer opened #4904 "Wrong number of collectibles in the list and they are mixed up"
### Description

I have 19 cryptostrikers
![image](https://user-images.githubusercontent.com/11790366/41764281-4a74bb76-7609-11e8-9a96-0e9fe1be40ba.png)

 , if i press and open a list there are only **5** of them listed
, if i close and open again **8** of them listed
,if i close and open again, they **mixed up**

![image](https://user-images.githubusercontent.com/11790366/41764401-ab2b894a-7609-1

[2018-06-22 08:37] #4899 closed, assigned to flexsurfer

[2018-06-22 08:59] annadanchenko opened #4905 "`No protocol method Unmaskable.unmask defined for type null` if tap several times on Sign Transaction"
### Description

*Type*: Bug

*Summary*: `No protocol method Unmaskable.unmask defined for type null` error popup is shown after tapping several times on Sign transaction button if Send transaction screen is opened from DApp

Note: on iOS after getting such error nothing happens if user tries to tap on other DApp or app buttons, so need to restart app to proceed working with it

#### Expected beha

[2018-06-22 09:07] annadanchenko commented on #4858
Can reproduce on release build https://jenkins.status.im/job/status-react/job/public-beta-1-testfairy/6/

### Description

*Type*: Bug

*Summary*: `No protocol method Unmaskable.unmask defined for type null` error popup is shown after tapping several times on Sign transaction button if Send transaction screen is opened from DApp

Note: on iOS after getting such error nothing happens if user tries

[2018-06-22 09:07] annadanchenko commented on #4905
duplicate of #4858

[2018-06-22 09:07] #4905 closed, assigned to nobody

[2018-06-22 10:19] churik opened #4907 "Crash at attempt to create new bounty in "The Bounties Network" DApp"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: reproduced only once when using  "The Bounties Network" DApp and trying to create new bounty

#### Expected behavior
no crash

#### Actual behavior
app crashed

### Reproduction

- Open Status
- Open "The Bounties Network" DApp
- Tap on "New bounty"
- Fill title, select payot method "ERC20 token", select token ad

[2018-06-22 10:45] annadanchenko commented on #4892
When testing it I see another error `user-status.whisper-identity must be of type 'string', got 'null' (null)` see https://app.testfairy.com/projects/4803622-status/builds/8503346/sessions/4394593385/?accessToken=hzQE1ElBsr4/4rWg7HUVJHYUhCk . I propose to continue testing after Beta

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803622-status/builds/8503346/sessions/4394593

[2018-06-22 11:17] #4874 closed, assigned to alwx

[2018-06-22 13:30] antdanchenko opened #4910 "No push notifications if a sender is not added to contacts"
### Description

*Type*: Bug
Push notification is not shown if user who sends a notification is not added to contacts by a receiver

#### Expected behavior
Push notification is shown on top of the screen

#### Actual behavior
Push notification is not received

### Reproduction

- Open Status on 2 devices
- Create new account on both devices
- USER_1: add user_2 to contacts via: Scan QR code, or en

[2018-06-22 14:04] #4126 closed, assigned to nobody

[2018-06-22 14:04] #4800 closed, assigned to cammellos

[2018-06-22 14:04] #4883 closed, assigned to cammellos

[2018-06-22 14:11] jpbowen opened #4912 "Instabug message reliability survey is not triggering correctly in app"
### User Story
As a user, I want to give feedback on message reliability to Status by seeing the survey trigger at the correct time - i.e. after I've sent > 5 messages in chat.

### Description
*Type*: Bug
*Summary*: Currently surveys are configured in Instabug dashboard using conditions which are app version, build number [e.g. 9.9.20(6074)] and a user event of # of messages sent in chat > 5 mess

[2018-06-22 14:20] jeluard commented on #4297
This is due to MetaMask not fully implementing the [EIP681 standard](https://eips.ethereum.org/EIPS/eip-681). To be compliant, an extra identifier related to ropsten should be present.

To mitigate this status could show a warning and allow users to proceed anyway.

[2018-06-22 14:34] jakubgs commented on #2878
I think a lot of those build failures are due to issues with things like Artifactory, or uploading to Play Store and iTrunes(I've seen plenty), but there's definitely a benefit in using autoomations like `bors` to avoid breaking the mainline branch.

[2018-06-22 14:40] churik opened #4913 "Crash when you switching network from Mainnet to Ropsten (reproduced only once)"
### Description

*Type*: Bug

*Summary*: reproduced once on IOS when switched from Mainnet to Ropsten (have active transactions, which are receiving confirmations on Mainnet)

#### Expected behavior
no crash

#### Actual behavior
crash

### Reproduction

- оpen Status
- send SNT to another user in 1-1 chat
- open Wallet->Transaction History (transaction is not finished yet, received confirmations)

[2018-06-22 15:33] yevh-berdnyk opened #4914 "Sent transaction from Wallet is shown in Console / Public chats"
### Description

***Type***: Bug

***Summary***: Message about sent funds is shown in the chat that is placed as the very first element on Home screen. Means:
- if Transaction sender has public chat as the place where he sent the message prior to sent Transaction from wallet (so public chat at the top of list on Home screen) -> `/send` message transaction will be shown in this public chat
- if Tra

[2018-06-22 16:06] Serhy opened #4915 "Username/userpic drop to default for who received contact request from recovered account even he updated profile data"
***Type***: Bug

***Summary***: It was reproduced twice on the contact who recovered an account but updated the name and profile after his contact request been submitted. Not always reproducible, but see the steps below

#### Expected behavior
Username and userpic of contact who sent a contact request kept updated

#### Actual behavior
Username/userpic drop to default for who received contact requ

[2018-06-22 16:13] churik commented on #4573
Update: if contact 1 and contact 2 had 1-1 chat before, then both reinstall the app and both update pics/names - default ones will be displayed.

[2018-06-22 17:55] Serhy commented on #4914
I reproduced it by TX of the token sent from Wallet reflected in as `/send` message in public chat.

1) Open Status on Device1 (iOS) and Device2 (Android)
2) Create Contact 1 (iOS) and Contact 2 (Android) and request ETH and tokens for them.
3) Both contacts edded each other in contacts (Contact1 sends contact request to Contact2)
4) Contact2 sends `/request ETH 0.0003` in 1-1 chat to Contact1
5)

[2018-06-22 17:56] yevh-berdnyk opened #4917 "Message with incorrect asset and amount in chat for transaction sent from wallet"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Message with incorrect amount and asset is shown in one-to-one chat for both sender and recipient if transaction was sent from wallet and previous one was sent in one-to-one chat for transaction request. Message contains asset and amount as the previous transaction

#### Expected behavior
No message in one-to-one

[2018-06-22 18:45] cammellos commented on #4914
At a first sight, seems like the issue might be in `get-current-chat-id` being mistakenly used (it would be set to the last chat you joined)

[2018-06-23 13:07] pacamara commented on #3639
Hi @rachelhamlin @lukaszfryc Posted https://github.com/status-im/status-react/pull/4919 for this. Still a few tweaks left to do, but is 95% done and works already. :beers:

[2018-06-24 02:23] t1MZXxBn6pAAtTqKTy5UotdeMqBw2CfGrUF commented on #4297
TESTFAIRY_ENABLED=1
STUB_STATUS_GO=0
ETHEREUM_DEV_CLUSTER=1
OFFLINE_INBOX_ENABLED=1
LOG_LEVEL=debug
LOG_LEVEL_STATUS_GO=info
JSC_ENABLED=1
QUEUE_MESSAGE_ENABLED=1
RN_BRIDGE_THRESHOLD_WARNINGS=0
MIXPANEL_TOKEN=3f2e1a8970f159aa2a3d5dc5d65eab38
TESTFAIRY_TOKEN=969f6c921cb435cea1d41d1ea3f5b247d6026d55
POW_TARGET=0.002
POW_TIME=1
DEFAULT_NETWORK=mainnet_rpc
INSTABUG_TOKEN=758630ed52864cbad9c5eeeac596c6

[2018-06-24 10:06] antdanchenko opened #4920 "`Network mismatch` is not shown if a transaction is sent from custom test network"
### Description
There is an option under `Development model` which allows a user to add custom network
Ropsten or any other network can be added as a custom network

`Network mismatch` error is not shown for `/send` command, if ETH or ERC20 token is sent from such network to mainnet

#### Expected behavior
`Network mismatch` error is shown for the transction

#### Actual behavior
`Network mismatch

[2018-06-24 12:02] annadanchenko opened #4921 "It's possible to modify Recipient, Asset and Amount if cancel transaction signing for send command in 1:1 chat"
### Description

*Type*: Bug

*Summary*: For send command in 1:1 chat: it's possible to modify recipient, asset and amount if cancel transaction signing on Send transaction screen. The outcomes are different but both are wrong in release build and in PR build:
1. In release build: old amount and asset are shown as sent. E.g. /send ETH 10 was modified to 0 ETH but 1:1 chat shows that 10 ETH was sen

[2018-06-24 18:23] arnetheduck opened #4922 "Mixpanel ice age"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be sure that mixpanel is disabled in the future so that my privacy is preserved.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, an

[2018-06-24 21:27] liamzebedee commented on #4606
@adambabik so what do we think of the following: an option about loading link previews that is either an on/off or something like "for trusted sites only" vs "never"

[2018-06-25 06:05] #4917 closed, assigned to goranjovic

[2018-06-25 06:05] #4914 closed, assigned to goranjovic

[2018-06-25 06:46] GeorgiG opened #4923 "Can't send assets to public chat participants without adding them as contacts first"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to send assets without adding someone as a contact.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections be

[2018-06-25 07:31] rachelhamlin commented on #3639
@pacamara yo, that's awesome. Thanks for your contribution! I'll look forward to testing it out.

[2018-06-25 07:51] lukaszfryc commented on #4913
@churik isn't it a duplicate of https://github.com/status-im/status-react/issues/3981?

[2018-06-25 07:56] Chu127001 commented on #3981
Reproduced on release [build 10](https://jenkins.status.im/job/status-react/job/public-beta-1-testfairy/10/)

TF session(from 24:22): https://app.testfairy.com/projects/4803590-status/builds/8503790/sessions/4394603372/?accessToken=9bP0E7-P34sNNiY-etWBt7L6yCw

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/8503790/sessions/4394603372/?accessToken=9bP0E7-

[2018-06-25 07:56] churik commented on #4913
Added info to  #3981

[2018-06-25 07:56] #4913 closed, assigned to nobody

[2018-06-25 08:48] churik opened #4926 "Amount is not converted for /send and /request commands in 1-1 chat if Main currency is not USD"
### Description
*Type*: Bug

*Summary*: if you change Main Currency in Profile, and then request or send tokens or ETH in 1-1 chat - ~ 0 is shown, so the amount is not converted neither to USD neither to currency selected by user in Profile. All previous /request and /send command are shown ~0 USD after changing Main Currency.

#### Expected behavior
two possible scenarios:
- amount is shown as co

[2018-06-25 09:22] lukaszfryc commented on #4820
The issue is still present. I just reproduced it on [0.9.21 RC](https://jenkins.status.im/job/status-react/job/public-beta-1-testfairy/14/) (release candidate) `25c417`

[2018-06-25 09:24] janherich commented on #4820
@lukaszfryc Any special steps how to reproduce the issue ?

[2018-06-25 10:16] antdanchenko opened #4928 "`Amount` edit box is not editable on `Send transaction` screen for /send command"
### Description

It is not possible to change value in `Amount` edit box on `Send transaction` screen if a transaction done through /send command

#### Expected behavior
`Amount` edit box is editable, a user can change the amount in the edit box

#### Actual behavior
After tapping on `Amount` edit box there is no cursor, user is not able to change the amount on the screen

### Reproduction
- Open

[2018-06-25 10:25] yevh-berdnyk opened #4929 "-1 confirmations on transaction details for pending transaction"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Transaction details for a pending transaction shows number of confirmations as -1 when it is pending

#### Expected behavior
Number of confirmat

[2018-06-25 10:33] churik opened #4930 ""Error: Doesn't support name" and blank screen after "Insufficient funds for gas" error (if you send transaction from wallet to scanned QR code)"
### Description

*Type*: Bug
*Summary*: if you send transaction from wallet, scan QR code and enter amount = balance, after getting error "Error: Doesn't support name", than "Insufficient funds for gas*price + value"  only blank screen is shown, and you should restart app to proceed work.

#### Expected behavior
app is working after "Insufficient funds for gas*price + value" error

#### Actual beh

[2018-06-25 10:53] #4921 closed, assigned to goranjovic

[2018-06-25 10:55] adambabik commented on #4606
@liamzebedee personally, I would love to have it disabled by default but have an option to preview each link. Maybe something similar to how Slack is doing that? E.g. I get a link from https://github.com for the first time and there is a message below saying "(1) always preload from https://github.com, (2) preload this time, (3) never preload" and my answer is remembered.

We can, of course, fill

[2018-06-25 11:39] goranjovic commented on #4702
Will be obsolete after #4440

[2018-06-25 11:39] #4702 closed, assigned to nobody

[2018-06-25 11:53] lukaszfryc commented on #3413
I just had the same crash on 0.9.21 RC (no TF). Steps to reproduce:
1. Installed the app
2. Went to Home and tried to scan a wrong QR code of contact. I used QR code of address from receive transaction screen
3. Then I went to Wallet, scanned the same code and the app crashed due to:

[code]

Instabug crash: https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/be