[2018-08-30 09:23] #5496 closed, assigned to jeluard

[2018-08-30 09:42] asemiankevich opened #5705 "Crash when user taps sign in twice on recover screen"
### Description

*Type*: Bug

*Summary*: When i am on recover screen and tap Sign in twice after i entered my pass phrase and password - app crashes (looks like that from user POV). When i checked logs i have noticed that node is not running.

#### Actual behavior
[code]

TF log https://app.testfairy.com/projects/4803622-status/builds/8574724/sessions/4399877144/?accessToken=c8nAHFN3ZYqOMC0JcMjY-a

[2018-08-30 10:16] asemiankevich opened #5706 "Can't receive an invite in Peepeth (android)"
### Description

*Type*: Bug

*Summary*: I try to request an invite in Peepeth on android but i dont see any confirmation or link received on email when tapping Submit.

#### Expected behavior
I see clear confirmation when i tap Sumbit.
I see link for confirmation sent on my email.

![image](https://user-images.githubusercontent.com/28752642/44845679-e3929700-ac56-11e8-8f9d-3656c34d0d10.png)

####

[2018-08-30 10:19] dshulyak commented on #5563
In case it will be helpful I had an exactly same error as @PombeirP using this build https://ci.status.im/job/status-react/job/parametrized_build/782/ . It was working fine on IOs, but crashing right after the start on Android.

<blockquote><img src="/static/c32cacaf/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/parametrized_build/782/">statu

[2018-08-30 11:13] churik commented on #5597
Closed in #5597

[2018-08-30 11:13] #5597 closed, assigned to vkjr

[2018-08-30 11:43] Serhy opened #5709 "'Send request' disabled in Wallet send transaction request screen, even when all fields filled in with valid data"
***Type***: Bug

***Summary***: There is no way to send a transaction request from Wallet at the moment, because `Send request` button is disabled in the `Wallet` -> `Send transaction request` -> `New request` screen, even when all fields filled in with valid data
Might be a consequence of the https://github.com/status-im/status-react/issues/5694 issue.

#### Expected behaviour
'Send request' enab

[2018-08-30 11:47] pedropombeiro commented on #5563
In case it is helpful, I've come across this yesterday when doing a fully local build (using `scripts/bundle-status-go.sh android`), and the only way to solve it was to run `git reset -xf` to clean any state not kept in git from the local repo. Then I could regenerate the status-go `.aar` file and have it linked correctly. Will do some more testing locally to try to understand what might be causin

[2018-08-30 11:53] flexsurfer commented on #5706
`POST https://peepeth.com/invites 422 (Unprocessable Entity)`

[2018-08-30 13:41] Serhy opened #5715 "Infinite 'Signing in...' when login in to account from universal link for public chat"
***Type***: Bug

***Summary***: If Android user is log out of state (Status app is closed) and taps on a universal link for public chat, user needs to log in first. In that case contact ends up on infinite 'Signing you in...' screen.

It works **fine on iOS**.
Everything is OK if contact logged in to account. Happens only when (s)he need to log in

#### Expected behavior
Public chat is opened from

[2018-08-30 14:16] churik opened #5716 "null is not an object (evaluating 'l.cljs$core$IFn$_invoke$arity$1') when fetching history for first time for #status chat after creating account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: after creating account and joining to #status channel got an error:
![df](https://user-images.githubusercontent.com/4557972/44857324-37fa3e80-ac

[2018-08-30 15:27] annadanchenko commented on #5213
We also need UI option to be able to switch between test/staging/beta (default) in the app

[2018-08-30 15:28] jakubgs commented on #5213
I think the solution that requires rebuilding the app is not sufficient.
* It complicates the build system, which is already complex, and we want to avoid using parameters
* It makes it confusing for devs/testrs. How does one know which version of the app they are running?
* It requires reinstalation of the app in order to check a different fleet.

Having UI selection of fleets will make it easier

[2018-08-30 15:33] jakubgs commented on #5213
I might add that now we also have https://fleets.status.im/ to get current state of the fleet, which would be a better format for storing fleet configuration than JS or Go files.

<blockquote></blockquote>

[2018-08-30 16:47] #5688 closed, assigned to yenda

[2018-08-30 19:46] ghost commented on #5254
Hey @PombeirP - It would seem Conversations.im has solved this problem neatly and efficiently, what do you think of this approach? https://conversations.im/#optimizations - It's not perfect, but it looks pretty good.

<blockquote><img src="https://conversations.im/cover_square.png" width="48" align="right"><div><strong><a href="https://conversations.im">Conversations - Jabber/XMPP client for Andro

[2018-08-30 21:02] pablanopete commented on #3457
@guyghost could you please share your preferred address for this bounty to be paid out? There are some problems with the dashboard and we need to send this out of band. If you'd like you can email me directly at Chris.hutchinson@status.im if you wouldn't like to share here.

[2018-08-30 21:05] pablanopete commented on #4391
To be revoked if @asemiankevich confirms this is no longer relevant?

[2018-08-30 21:07] pablanopete commented on #3881
@jeluard is this issue no longer relevant? Looking to revoke the bounty if so.

[2018-08-30 21:08] pablanopete commented on #4122
@asemiankevich / @chadyj is this any longer relevant? Will revoke + close if not.

[2018-08-30 21:09] pablanopete commented on #4066
Ready to be revoked cc @andytudhope

[2018-08-30 21:09] pablanopete commented on #4027
@dmitryn is this issue still relevant?

[2018-08-30 21:11] pablanopete commented on #4033
@rachelhamlin do you know what is the state of this issue? Should we revoke the bounty for the current time as we are in the process of revoking stale / bounties with no active work on them currently.

[2018-08-30 21:12] pablanopete commented on #4093
@asemiankevich is this issue relevant still?

[2018-08-30 21:12] rachelhamlin commented on #4033
Totally fine to remove @pablanopete 👌🏼

[2018-08-30 21:13] pablanopete commented on #4033
CC @andytudhope

[2018-08-30 21:14] pablanopete commented on #2848
@jeluard is this issue still relevant to a bounty? Revoking bounties and then triaging correctly if they are no longer relevant.

[2018-08-30 21:18] pablanopete commented on #4110
Is this still relevant? Seems to be solved already @asemiankevich?

[2018-08-30 21:20] pablanopete commented on #4163
@lukaszfryc has this issue been resolved?

[2018-08-30 21:21] pablanopete commented on #4106
@jeluard is this issue still relevant? Will be revoking the bounty in any case but checking where to keep the issues in our SOB project board for future bounties.

[2018-08-30 21:26] pablanopete commented on #3901
cc @andytudhope needs revoked.

[2018-08-30 23:24] guyghost commented on #3457
@pablanopete my address 0x41B63B9A9F96abc4A71D3Be7A3d8DF68Ff176B73

Thanks

[2018-08-31 06:19] chadyj commented on #4122
We don't have group chats, so can be closed.

[2018-08-31 06:19] #4122 closed, assigned to nobody

[2018-08-31 06:21] jeluard commented on #3881
@pablanopete Not relevant anymore indeed.

[2018-08-31 06:21] #3881 closed, assigned to nobody

[2018-08-31 06:22] jeluard commented on #2848
@pablanopete It can be closed for now

[2018-08-31 06:22] #2848 closed, assigned to nobody

[2018-08-31 06:23] jeluard commented on #4106
@pablanopete Let's close it for now

[2018-08-31 06:23] #4106 closed, assigned to nobody

[2018-08-31 06:27] asemiankevich commented on #4093
@pablanopete yes

[2018-08-31 06:28] asemiankevich commented on #4110
@pablanopete i think it is still relevant

[2018-08-31 06:31] chadyj commented on #4110
The issue may be better captured here https://github.com/status-im/status-react/issues/4690 and WIP here https://github.com/status-im/status-react/pull/5665

[2018-08-31 06:32] asemiankevich commented on #4110
@chadyj okay then close this one !

[2018-08-31 06:33] #4110 closed, assigned to nobody

[2018-08-31 07:37] dmitryn commented on #4027
@pablanopete i think we can close it as we don't need that functionality at the moment.

[2018-08-31 08:00] #5694 closed, assigned to nobody

[2018-08-31 08:00] #5709 closed, assigned to goranjovic

[2018-08-31 08:06] andytudhope commented on #4721
@asemiankevich can we close here?

[2018-08-31 08:12] asemiankevich commented on #4721
@andytudhope yes, please do

[2018-08-31 08:14] #3675 closed, assigned to nobody

[2018-08-31 08:14] #3901 closed, assigned to nobody

[2018-08-31 08:25] pedropombeiro commented on #5254
Hi @GustavMarwin, yeah, of course it is possible, but it's always going to require a separate persistent connection that's not reused by other apps (like GCM) and will require quite a bit of work to optimize so that we don't consume too much power/data on mobile devices, while at the same time ensuring we do it in a decentralized way.

[2018-08-31 08:29] #4033 closed, assigned to rachelhamlin

[2018-08-31 08:44] churik commented on #5425
It is closed via #5580

[2018-08-31 08:44] #5425 closed, assigned to maxhora

[2018-08-31 09:03] Serhy commented on #5691
I was able to reproduce it on iOS 11.4.1 , Android 7.0 with the latest Develop nightly build (`0.9.26 (7253) node 19b53030`) with Ddex when trading (WETH - GTO / WETH - SNT). In my case it was:

1) Open Ddex.io
2) Connect your wallet address and wrap WETH for trading
3) Select pair you want to trade  (WETH - GTO in my case)
4) Tap 'Buy GTO' (or your token).

**Actual result:**  Dapp `Complete your

[2018-08-31 09:40] #2284 closed, assigned to nobody

[2018-08-31 09:53] #4416 closed, assigned to cammellos

[2018-08-31 09:58] asemiankevich commented on #1719
lets close it for now. no gorup chats functionality now in app

[2018-08-31 09:58] #1719 closed, assigned to nobody

[2018-08-31 09:59] #1726 closed, assigned to nobody

[2018-08-31 09:59] asemiankevich commented on #1845
already implemented

[2018-08-31 09:59] #1845 closed, assigned to nobody

[2018-08-31 10:00] asemiankevich commented on #1847
havent seen this for a while, closing

[2018-08-31 10:00] #1847 closed, assigned to nobody

[2018-08-31 10:03] churik commented on #4779
Also it affects "Save password until login"(after merging https://github.com/status-im/status-react/pull/5617).
Third scenario:
- turn off "Save password until login"
- log in
- Go to Profile, tap on Advanced
- Turn on development mode
- Log out

*Expected behavior:* "Save password until login" is turned off

*Actual behavior:* "Save password until login" looks as turned on (toggle is enabled; but

[2018-08-31 10:08] annadanchenko commented on #5523
worked fine last weeks

[2018-08-31 10:08] #5523 closed, assigned to nobody

[2018-08-31 10:08] Serhy commented on #737
Fix on Instabug side (https://github.com/status-im/status-react/issues/737#issuecomment-369039518 ) has been merged and now language localised in Status app fine (Italian/Russian).
Closing this issue.

[2018-08-31 10:08] #737 closed

[2018-08-31 10:18] annadanchenko commented on #3587
looks ok in recent builds

[2018-08-31 10:18] #3587 closed, assigned to lukaszfryc

[2018-08-31 10:19] annadanchenko commented on #3586
looks ok in recent builds

[2018-08-31 10:19] #3586 closed, assigned to nobody

[2018-08-31 10:20] #2338 closed, assigned to nobody

[2018-08-31 10:20] asemiankevich commented on #2490
no group chats anymore

[2018-08-31 10:20] #2490 closed, assigned to nobody

[2018-08-31 10:21] asemiankevich commented on #2493
no group chats anymore

[2018-08-31 10:21] #2493 closed, assigned to nobody

[2018-08-31 10:21] Serhy commented on #888
I can't reproduce on Android 6.0.1 (Note 4), Android 7.0 (Samsung 7.0) this issue (also https://github.com/status-im/status-react/issues/148 looks good now) with 0.9.26 app version.
Closing this issue.

[2018-08-31 10:22] #2559 closed, assigned to nobody

[2018-08-31 10:27] Serhy commented on #3097
Reproducible with 0.9.26 Release app version.

[2018-08-31 10:28] Serhy commented on #3180
Reproduced with 0.9.26 Release app version

[2018-08-31 10:29] annadanchenko commented on #3175
can reproduce on Google pixel xl, android 9
can't reproduce on Galaxy S6, Android 6.0.1

[2018-08-31 10:30] Serhy commented on #3199
Reproduced with the 0.9.26 Release app version.

[2018-08-31 10:32] #2609 closed, assigned to nobody

[2018-08-31 10:33] #2622 closed, assigned to nobody

[2018-08-31 10:34] #2792 closed, assigned to divan

[2018-08-31 10:35] #3070 closed, assigned to nobody

[2018-08-31 10:36] #3093 closed, assigned to errorists

[2018-08-31 10:37] asemiankevich commented on #3221
@pablanopete revoke the bounty here please and close the issue. Thanks

[2018-08-31 10:38] flexsurfer commented on #5365
chat topic can only consist of `a-z` and `-` symbols, we can replace `.` to `-` and for example it will be `airswap-io`, but I'm not sure what to do with numbers, for example `eth2.io` any ideas @chadyj @rachelhamlin  ?

[2018-08-31 10:39] #3317 closed, assigned to nobody

[2018-08-31 10:40] #3363 closed, assigned to nobody

[2018-08-31 10:40] chadyj commented on #5365
How about allowing numbers in chat topics? Any reason we do that?

[2018-08-31 10:41] lukaszfryc commented on #4163
@pablanopete yes

[2018-08-31 10:41] #4163 closed, assigned to nobody

[2018-08-31 10:41] asemiankevich commented on #3392
@pablanopete please revoke bounty and close issue. Thanks

[2018-08-31 10:47] Serhy commented on #3227
Updated the issue description (actual on Android only now) on 0.9.26 Release app version.

[2018-08-31 10:51] churik commented on #5571
According to https://github.com/status-im/status-react/pull/5664#issuecomment-417263757 it is not possible to create account at all on nightly 30/08/2018.
It was reproducible before merging #5664 so it wasn't introduced by this PR.

[2018-08-31 11:00] #2731 closed, assigned to nobody

[2018-08-31 11:01] #3230 closed, assigned to nobody

[2018-08-31 11:05] asemiankevich commented on #4391
@pablanopete @andytudhope the issue is still there.

- run status and get some funds
- check balance is updated
- go offline and close the app (app is not running on background)
- open the app (still being offline)

[2018-08-31 11:05] annadanchenko commented on #1244
haven't seen it for last couple of months, so closing

[2018-08-31 11:05] #1244 closed

[2018-08-31 11:07] #1235 closed

[2018-08-31 11:07] Serhy commented on #3450
With the 0.9.26, I can't reproduce this issue (in 1-1 chat - place where we we only have `[/]` expandable view now)

Closing this issue!

[2018-08-31 11:07] #3450 closed, assigned to nobody

[2018-08-31 11:07] #3599 closed, assigned to nobody

[2018-08-31 11:11] #3649 closed, assigned to nobody

[2018-08-31 11:12] #3716 closed, assigned to nobody

[2018-08-31 11:12] asemiankevich commented on #3749
@pablanopete please revoke the bounty here and close the issue. Thanks!

[2018-08-31 11:14] #3949 closed, assigned to nobody

[2018-08-31 11:14] #3960 closed, assigned to nobody

[2018-08-31 11:30] lukaszfryc commented on #2984
FYI: I tested latest nightly (Aug 31) and the isssue is still there.

[2018-08-31 11:47] lukaszfryc commented on #3469
It does not seem like we want to implement it. Please reopen if you think differently

[2018-08-31 11:47] #3469 closed, assigned to nobody

[2018-08-31 11:48] lukaszfryc commented on #3488
The issue is still valid.

[2018-08-31 11:51] lukaszfryc commented on #3578
Fixing it will not bring any additional value. Closing

[2018-08-31 11:51] #3578 closed, assigned to nobody

[2018-08-31 11:53] lukaszfryc commented on #3579
It's fixed already.

[2018-08-31 11:53] #3579 closed, assigned to nobody

[2018-08-31 11:55] lukaszfryc commented on #3585
First we need to specify how "Remove contact" would work. Should a user still se my real name once I removed him/her from my contact list?

[2018-08-31 11:55] #3737 closed, assigned to lukaszfryc

[2018-08-31 11:57] #3740 closed, assigned to nobody

[2018-08-31 11:57] lukaszfryc commented on #3763
Not reproducible anymore

[2018-08-31 11:57] #3763 closed, assigned to nobody

[2018-08-31 11:58] lukaszfryc commented on #3857
Already fixed

[2018-08-31 11:58] #3857 closed, assigned to nobody

[2018-08-31 12:00] lukaszfryc commented on #4831
We have not seen it anymore.

[2018-08-31 12:00] #4831 closed, assigned to nobody

[2018-08-31 12:00] lukaszfryc commented on #4564
Not using Instabug surveys anymore.

[2018-08-31 12:00] #4564 closed, assigned to nobody

[2018-08-31 12:28] #3574 closed, assigned to nobody

[2018-08-31 12:46] #4027 closed, assigned to nobody

[2018-08-31 13:00] #4066 closed, assigned to nobody

[2018-08-31 13:41] churik commented on #5571
Cannot create new account, hangs on "Creating your account" screen.
[code]

[2018-08-31 14:34] #3749 closed, assigned to nobody

[2018-08-31 14:42] #5361 closed, assigned to jeluard

[2018-08-31 15:22] #1879 closed, assigned to nobody

[2018-08-31 15:26] andytudhope commented on #3241
@annadanchenko let me know if this needs to be re-opened.

[2018-08-31 15:26] #3241 closed, assigned to nobody

[2018-08-31 15:31] #4721 closed, assigned to nobody

[2018-08-31 15:36] #2577 closed, assigned to nobody

[2018-08-31 17:38] #3221 closed, assigned to nobody

[2018-09-02 12:31] antdanchenko opened #5724 "Create e2e tests for `privacy links` and `network switch`"
### Privacy policy is accessible (testrail id is 4769)

  | Step | Expected Result
-- | -- | --
1 | Open status and check Privacy policy is visible on signup | The privacy policy is visible on signup
2 | Click the privacy policy link | Tapping privacy link opens in a browser (link >> https://www.iubenda.com/privacy-policy/45710059)
3 | Open status - create account - log out - other accounts. Check

[2018-09-02 12:32] antdanchenko commented on #5724
cc @hetvart
the issue is created for https://wiki.status.im/Hiring_Process#Part_2_-_Test_Automation_Expertise test task, feel free to ask any questions in comments

[2018-09-02 19:49] rachelhamlin commented on #5365
+1 can we?

[2018-09-03 08:47] #4772 closed, assigned to flexsurfer

[2018-09-03 08:49] #5542 closed, assigned to goranjovic

[2018-09-03 09:23] #5423 closed, assigned to gnl

[2018-09-03 09:27] gnl commented on #5423
@EugeOrtiz The keychain issues are related to #5421, the resolution of which is coming up.
@chadyj can you open a separate issue for this or point to it if you already have?

[2018-09-03 09:30] #5374 closed, assigned to nobody

[2018-09-03 09:30] #5706 closed, assigned to nobody

[2018-09-03 10:34] annadanchenko opened #5729 "No push notifications on recovered account on iOS"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: on iOS: there is no push notifications if user recovered account. Most likely because we do not ask for push notifications permissions. There wa

[2018-09-03 10:56] churik commented on #5303
@dmitryn
two questions here:
1) Can you please rebase it to last develop branch?
2) I noticed that the TF session is not enabled for this particular PR, so I cannot see these popups in last builds (IOS, Android):
<img width="319" alt="5" src="https://user-images.githubusercontent.com/4557972/44982892-076c1a80-af80-11e8-953a-a3a5a1306812.png">
I'm pretty sure that it not caused by your PR, but in a

[2018-09-03 11:22] asemiankevich opened #5730 "Required field label is partially cut on Sign in to another account screen"
### Description

*Type*: Bug

*Summary*: Required field label is partially cut on Sign in to another account screen

#### Expected behavior
label is not cut

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/44984184-8400f800-af84-11e8-9cef-4e4a484cf28c.png)

### Reproduction

- Open Status
- tap Import existing account
- tap in and out the password field

### NOTES

[2018-09-03 13:34] annadanchenko commented on #5620
fixed with https://github.com/status-im/status-react/pull/5664

[2018-09-03 13:34] #5620 closed, assigned to nobody

[2018-09-03 15:14] #5422 closed, assigned to yenda

[2018-09-03 16:37] chadyj commented on #5423
@gnl I haven't seen the `We detected a problem with the encryption key` error in a while. @churik Have you seen it lately?

[2018-09-03 17:06] #5715 closed, assigned to nobody

[2018-09-03 22:07] jakubgs commented on #5213
Why did you undo changes in `Jenkinsfile.linus` in the `environment` section? You break the buildnf variables like `ANDROID_NDK` or `ANDROID_SDK` are not set correctly.

[2018-09-04 08:28] asemiankevich commented on #5698
can reproduce in 0.9.17 release branch https://i.diawi.com/ACFG5v

<blockquote><div><strong><a href="https://i.diawi.com/ACFG5v">Install - Diawi - Development and In-house Apps Wireless Installation</a></strong></div></blockquote>

[2018-09-04 09:23] annadanchenko opened #5738 "Unread counter disappears after app is relaunched"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Unread counter shows number of unread messages in the chat (1:1 or public). Counter disappears, so it looks like all messages are read after app

[2018-09-04 09:54] #5303 closed, assigned to dmitryn

[2018-09-04 10:02] yenda opened #5739 "Refactor config generation for status node"
# Problem

The configuration for status-go node is built in multiple places, some of it comes from status-react, some of it from the react-native Status module, and finally some of it comes from status-go. This makes it difficult to update and to understand where each part is coming from.

# Implementation

The whole configuration should come from status-react, with the exception of platform speci

[2018-09-04 10:06] dmitryn commented on #3413
None of quickfixes solved the issue. I'm going to postpone this until i'll have real ios device to test another solutions.

[2018-09-04 12:08] #5738 closed, assigned to nobody

[2018-09-04 13:13] chadyj opened #5744 "Private group chats"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to create/join/manage group chats so that I can chat with a private group.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

This is a meta/placeholder issue for re-enabling group chats in Status.

There are many different features that group chat could have, but

[2018-09-04 13:26] adambabik opened #5745 "Recovering the same account with a different password is stuck"
### Description

*Type*: Bug

*Summary*: When I recover an account that already exists in the app but I use a different password, I am stuck on the recover screen.

#### Expected behavior
I should get a notification that such an account already exists and the password does not match.

If I forgot the password, what should I do? Can I delete the previous account and recover it with a different pass

[2018-09-04 13:46] churik commented on #5223
Again is reproducible on current release build [4/09/2018 ](https://status-im.ams3.digitaloceanspaces.com/StatusIm-180904-063234-415654-release.apk)

[2018-09-04 13:47] Serhy opened #5746 "Username/icon not updated for contacts in my list if I updated profile while device was in offline mode"
***Type***: Bug

***Summary***: When I update profile data (username/image) for my contact while the device is in airplane mode, - then after I appear online - all contacts who in my 'Contacts list' should see my updated profile. It doesn't happen now, - old profile data is shown for contacts who in my contact list.

#### Expected behavior
Username/icon is updated for contacts in my list if I upda

[2018-09-04 14:09] yevh-berdnyk opened #5747 "Timestamp for received messages doesn't match device time"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Timestamps in 1-1 chat are shown accordingly to the timezone instead of

[2018-09-04 15:36] alwx commented on #5583
This task requires us to set up Google APIs and get keys.

Are we sure that we want to be dependent on Google? By calling their API every time a user navigates to somewhere we're also sending all navigation history to Google.
If yes, somebody needs to set up anything in Google Console. Add the payment method, specify company details, etc.

We can also start by using MetaMask phishing detector, it'

[2018-09-04 15:37] Serhy opened #5749 "No incoming transactions for tokens on Mainnet are shown in Transaction History"
***Type***: Bug
***Summary***:
1)There are no incoming transactions for tokens on Mainnet are displayed in the Transaction History. However, they are visible as mined (with 12confirations) in Etherscan. **Note**: amount for tokens in Wallet main screen displayed correct (as expected).
2) Outgoing token transactions are shown as `0 ETH` instead of token and amount

#### Expected behavior
Incoming t

[2018-09-04 15:42] annadanchenko commented on #5749
1. note that on Ropsten for same account all is working fine: can see incoming token transactions, can see outgoing token transactions with token and amount instead of 0 ETH. So, issue is only on mainnet
2. It was working fine in 0.9.26 and 0.9.25 - now when we check same scenario issue can be reproduced on these older releases too. So, it looks like there is some API change on etherscan or simila

[2018-09-04 15:48] rachelhamlin commented on #5583
@alwx that's kind of my preference. It's a more targeted version of Google Safe Browsing.

cc @jeluard

[2018-09-04 15:55] churik commented on #5204
Got same error at attempt to start chat with user `0x04e9f45075159f4c05502f5f844a1553366715d5a979c1f957f63dd0cb9b1681b68f7d86569d04631f9b4f6a23b3dc62f113dec7b6f10d0accc38b983c2fc33651` (just scan code) for recovered account.

TF session: https://app.testfairy.com/projects/4803590-status/builds/8579833/sessions/4400455602/?accessToken=4IBM8oYxfeNJUbQIsLt3VddQvCs (from 36:40)

*NOTE:* "add to contac

[2018-09-04 16:39] Serhy commented on #5749
Request to Etherscan API did not retrieve latest ERC20 transaction received by address:
For the address `https://api.etherscan.io/api?module=account&action=txlist&address=0xb9f914fe1c6edae2351fb42276868470083a3cd2&startblock=0&endblock=99999999&sort=desc&apikey=DMddddddddDMVP3H2STAMSAUV7BYFw&nocache=true`  this what was retrieved (by the 04 Sep 2018 16:24:25 GMT):
[Logs1.txt](https://github.com/st

[2018-09-04 21:55] jorunnaparva opened #5753 "Transaction request – use of random symbols after the sum of transaction request doesn’t show «Amount is not valid number»"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Use of arithmetic operators or random symbols after the sum of transaction request results in USD amount equal to th

[2018-09-04 22:02] jorunnaparva opened #5754 "«Wrong password» error message upper part is not shown"
### Description

*Type*: Bug

*Summary*: When I’m trying to log in with incorrect password the «wrong password» message is cut in the upper part.

#### Expected behavior
Correct size and shape of the error message.

#### Actual behavior
Wrong shape.

### Reproduction
- Open Status
- Login with wrong password

### Additional Information
* Status version: 0.9.28
* Operating System: Android
![4](http

[2018-09-04 22:07] jorunnaparva opened #5755 "Requesting transaction using a scientific format doesn’t show «Max number of decimals is 18»"
### Description

*Type*: Bug

*Summary*: Requesting and sending amount with decimals higher than 18 using a scientific format doesn’t show «Max number of decimals is 18».

#### Expected behavior
Warning «Max number of decimals is 18».

#### Actual behavior
Transaction request is sent.

### Reproduction
- Open Status
- Login
- Open a chat
- Send `/request ETH 5e-23434554546645245`

### Additional I

[2018-09-04 22:12] jorunnaparva opened #5756 "Transaction request with a sum equal to zero or several zeros could be sent."
### Description

*Type*: Bug

*Summary*: When I request 0 transaction error message doesn’t appear.

#### Expected behavior
Warning of insufficient amount for transaction.

#### Actual behavior
Transaction request is sent.

### Reproduction
- Open Status
- Login
- Open a chat
- Send `/request ETH 0` or `/request ETH 0000.00000`

### Additional Information
* Status version: Status version 0.9.28
*

[2018-09-05 08:41] Serhy commented on #3666
Can not reproduce anymore on 0.9.27 develop version.
Closing this issue.

[2018-09-05 08:41] #3666 closed, assigned to nobody

[2018-09-05 10:01] yenda opened #5758 "Only request token transactions since last request"
# Problem

We are always requesting token transactions since contract creation, this is an expensive call and we should cache the current block of the last request to only request new transactions from there

# Implementation

Block since last request should be saved in db and used for next request. Transactions need to be saved
in db if it is not already done

# Acceptance Criteria

All token tra

[2018-09-05 10:44] #5571 closed, assigned to vitvly

[2018-09-05 12:14] Serhy opened #5759 "Second transaction fails when submitting bounty in berlin.bounties.network Dapp"
***Type***: Bug

***Summary***: Attempt to create bounty in berlin.bounties.network Dapp ends up with failed transaction (on the contract level) and continuous 'Confirming your transaction'.

#### Expected behavior
I can successfully create a bounty in berlin.bounties.network Dapp

#### Actual behavior
Second transaction fails when submitting bounty in berlin.bounties.network Dapp

### Reproductio

[2018-09-05 14:15] dmitryn commented on #5357
@Serhy @lukaszfryc @asemiankevich i cannot reproduce it on latest nightly https://status-im.ams3.digitaloceanspaces.com/StatusIm-180905-104553-c8e726-nightly.apk
and current develop branch c8e7267f3ad876f70e1be04966d03ed0758a41fa

<blockquote></blockquote>

[2018-09-05 15:53] Serhy commented on #5357
I hardly tried to reproduce with the same nightly build, @dmitryn. Android 6.0.1, Android 7.0, iOS 11.4.1 but couldn't.
Happy to close this issue for now!

[2018-09-05 15:53] #5357 closed, assigned to dmitryn

[2018-09-05 18:10] maxhora commented on #5424
@jakubgs it seems you have resolved this issue, isn't it? :+1:

[2018-09-05 18:28] #4819 closed, assigned to nobody

[2018-09-06 08:43] Graeme-Code commented on #5589
Attempting to summarize  #5591 and #5590 as well as #5589 into one post to one thread to understand if its possible one solution can help with all three of these issues. Editing this on https://docs.google.com/document/d/1u3fTT4v3-wZaLlSy2SAurbSYeKUvg9a75ie-RGFtG_c/edit# .

<blockquote><img src="https://lh6.googleusercontent.com/4Ozks089kKGFJgR2ISxT8xvrowfsBdhtIsEjScIoQBhCMVJ-QCdnZadd_fYisFUUvypy-

[2018-09-06 08:46] Graeme-Code commented on #5587
Conversation is happening here: https://github.com/status-im/ideas/pull/297

[2018-09-06 08:46] Graeme-Code commented on #5587
Requires consensus on a first step.

[2018-09-06 10:25] lukaszfryc commented on #5526
@jpbowen has just reproduced this issue on his phone. It totally broke his experience. I think we should fix it asap since more and more people are upgrading to Android 9.

[2018-09-06 10:39] lukaszfryc commented on #5071
One more user has just reported it on Instabug.

[2018-09-06 11:00] lukaszfryc opened #5771 "User should be able to see her default username and avatar"
### Description

*Type*: Feature

*Summary*: Couple of users (Instabug, UXR sessions) have mentioned that they would like to see their default (anonymous) username and profile in profile tab. By this, they would understand how other non-contacts see them.

#### Expected behavior
User would like to see her default username to understand how other users see her (e.g. public chat).

#### Actual behav

[2018-09-06 11:06] lukaszfryc opened #5772 ""Save password until logout" overlaps "Other accounts" button when keyboard is opened"
### Description

*Type*: Bug

*Summary*:

The following screenshot was sent on Instabug. It was taken on iPhone 8, iOS 11.4.1, Status 0.9.27:

<img src="https://user-images.githubusercontent.com/7532782/45153725-4d6dec00-b1d5-11e8-8cce-a993df1001eb.png" width="200">

### Reproduction

I could not reproduce it on iPhone 8.

### Additional Information
* Status version:
* Operating System: Android, i

[2018-09-06 11:10] chadyj opened #5773 "Extensions on desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to use extensions on desktop so that I can experience its awesomeness!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Bring extensions to desktop!

[2018-09-06 11:16] lukaszfryc opened #5774 "Make hashtags clickable"
### Description

*Type*: Feature

*Summary*: It is common for hashtags (e.g. #ethereum, #mexico) to be clickable. But, in Status hashtags are treated like a normal text. Maybe they should open a public channels?

#### Expected behavior
Clicking a hashtag in chat should open public channel.

#### Actual behavior
Clicking a hashtags does nothing.

### Additional Information
* Status version: 0.9.26

[2018-09-06 11:34] EugeOrtiz commented on #5447
Design references:

[Scroll bar for left panel](zpl.io/boBy3dE) (Zeplin)
<img width="329" alt="captura de pantalla 2018-09-06 a la s 1 31 43 p m" src="https://user-images.githubusercontent.com/37297779/45154845-3d580b80-b1d9-11e8-982d-7afb0685c40b.png">

[Scroll bar for right panel](zpl.io/aNpAxXk) (Zeplin)
<img width="586" alt="captura de pantalla 2018-09-06 a la s 1 33 26 p m" src="https://user-

[2018-09-06 12:16] chadyj commented on #4608
Have some exciting news on this issue... @jeluard is going to make this happen with EXTENSIONS!!!!

And this will be the first feature done on both mobile and desktop at the same time. Features before platforms :)

@EugeOrtiz and @errorists Can you sync and make sure we have final designs for both mobile and desktop together?

[2018-09-06 12:22] chadyj commented on #4608
I see this issue is about `public chats` but it is quite nice to reply everywhere.

[2018-09-06 13:22] jeluard commented on #4608
@chadyj After more digging I guess I was too optimistic about how easy it would be to implement this with extension. I will blame my Fritz kola abuses!
Simpler to just implement this feature natively.

[2018-09-06 14:12] chadyj commented on #5745
From Anna:

[2018-09-06 14:31] goranjovic commented on #5749
The cause of the problem is that json-rpc endpoint we use to get the token transfer events times out with a `500 - server internal error` for any block range larger than around 10 days worth of blocks.

This used to work up until a few days ago, and still does work for ropsten.

The request I used to test the issue:

```POST https://mainnet.infura.io/z6GCTmjdP3FETEJmMBI4```

[code]

[2018-09-06 15:05] Graeme-Code opened #5776 "URL's scannable with Status QR code scanner"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user,
when I scan a QR code which represents a URL I should offered the choice to open with status or web browser,
 so that I may access the webpage.

### Description
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happ

[2018-09-06 15:24] #5306 closed, assigned to janherich

[2018-09-06 16:29] jorunnaparva opened #5777 "Flickering Profile screen when I tap «Edit» button"
### Description

*Type*: Bug

*Summary*: The screen flickers/jumps when I tap on Edit button in profile

#### Expected behavior
No flickering.

#### Actual behavior
Wrong visual effect.

### Reproduction
- Open Status
- Login
- Profile
- Tap Edit

### Additional Information
* Status version: 0.9.28
* Operating System: Android

[2018-09-06 17:01] rasom commented on #5567
@lukaszfryc that commit upgraded react-native-testfairy to `2.14.1`, the issue should have been fixed  in`2.10.0` https://github.com/testfairy/react-native-testfairy/issues/18#issuecomment-383931094

[2018-09-06 20:17] jorunnaparva opened #5778 "Chats can freeze in the invalid position."
### Description

*Type*: Bug

*Summary*: Chats/dapps «freeze» when I swipe to the right immediately after login.

#### Expected behavior
Smooth swiping without chats/dapps being frozen in the invalid position.

#### Actual behavior
Chats freeze in the invalid position.

### Reproduction
* Open Status
* Login to the account that has any chats in «Home» tab
* Swipe a chat to the right

### Additiona

[2018-09-07 13:34] #5213 closed, assigned to yenda

[2018-09-07 14:20] chadyj commented on #5378
How about adding `status` in there so we can see it is related to Status?

[2018-09-07 14:26] chadyj commented on #5235
Looks like this is working now :)

[2018-09-07 14:26] #5235 closed, assigned to nobody

[2018-09-07 14:30] maxhora commented on #5378
it should be fine, but since `ubuntu_process` is hardcoded in react-native-desktop:
1. react-native-desktop should has some more general naming for that (since it's library for general purposes)
2. react-native-desktop should be extended with possibility to customize title of that process, so we can name it as we want.

[2018-09-07 15:02] #5063 closed, assigned to dmitryn

[2018-09-07 21:44] gnl commented on #5038
Universal links are sadly not supported on macOS, we can only use the `status-im://` URL scheme. #5785 adds basic support, but without any deep-linking for now – that will probably require additional work from the native team.

[2018-09-08 06:01] chadyj commented on #5038
Thanks @gnl.  Updated the issue to just be about custom URL schemes.

We want these 2 links to work:

status-im://chat/public/status

status-im://user/0x044166fa04e967e333211ae0cc1087c9c74exxx

[2018-09-08 10:10] gballet opened #5787 "Support for ETH and BTC as favorite currency"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to declare ETH or BTC as my favorite currency.

### Description

Add the ability to show value in ETH or BTC in the Wallet.

[2018-09-08 10:18] lukaszfryc commented on #4999
thanks @Neurone!

[2018-09-08 10:18] #4999 closed, assigned to nobody

[2018-09-09 12:33] maxhora commented on #5012
Since flow to report crashes is implemented ( https://github.com/status-im/status-react/issues/5425 ) and number of crashes experienced by users is much decreased for now, going to move this Issue from the board.
Probably, it should be closed for now as well. cc: @churik

[2018-09-10 06:31] ghost commented on #5254
There's currently no perfect solution so I'll keep sharing devs stories of those who are trying to tackle this problem with different approaches if that's useful to you / the project?

The most recent one is Tutanota, it's a good read too: https://f-droid.org/en/2018/09/03/replacing-gcm-in-tutanota.html

I don't use Tutanota (but starting to consider it now), however I do use Conversations.im whic

[2018-09-10 08:05] rachelhamlin commented on #5315
@jeluard @alwx can we close this issue based on https://github.com/status-im/status-react/commit/b283ffe4afb9256bade2a81faccefc6e9672763e?

[2018-09-10 08:08] chadyj commented on #5581
@gnl @jakubgs @mandrigin Any ideas for how to achieve this? Some Jenkins magic?

[2018-09-10 08:18] jeluard opened #5791 "Fix incorrect web3 injection on android"
### User Story

As a user, I want to make sure web3 is always properly injected on Android

### Description

*Type*: Bug

On Android we use string parsing to inject JS into the html, see https://github.com/status-im/react-native-webview-bridge/blob/master/android/src/main/java/com/github/alinz/reactnativewebviewbridge/InputStreamWithInjectedJS.java

That breaks on some websites. We need to figure

[2018-09-10 08:28] jeluard commented on #5315
@rachelhamlin We definitely can!

[2018-09-10 08:28] #5315 closed, assigned to alwx

[2018-09-10 09:10] pedropombeiro commented on #5254
Hey @GustavMarwin, for sure all the articles you manage to send will become food for thought when the time comes to implement this, so thank you for sending them our way, it will only help make the outcome better!

[2018-09-10 09:23] lukaszfryc commented on #5698
@andytudhope has also reproduced this issue on 0.9.27

[2018-09-10 09:38] EugeOrtiz commented on #4608
Here are the designs for desktop based on the mobile ones: zpl.io/a3l8dgY (Zeplin)

Screenshot:
![sample](https://user-images.githubusercontent.com/37297779/45289609-e8283c80-b4ed-11e8-8f7a-bfebf4075be3.png)

[2018-09-10 09:59] lukaszfryc opened #5793 "[Epic] Implement "Save password" functionality for Android"
### Description

*Type*: Feature

*Summary*: Recently "Save password until logout" (https://github.com/status-im/status-react/pull/5617) was implemented for iOS. This issue is about doing the same for Android. More details can be found in https://github.com/status-im/status-react/pull/5617.

### TODO

- [x] Discuss the password storage options // @corpetty @rasom @mandrigin
- [x] Implement minimum

[2018-09-10 10:29] lukaszfryc opened #5794 "Indicate mailserver that was selected manually"
### Description

*Type*: Feature

*Summary*:

Mailservers are responsible for delivering historical messages. The app will automatically try to connect to different mailserver if it can't connect to current mailserver. But, user can navigate to Profile->Advanced->Mailserver settings and manually choose a mailserver he wants to use. After that, the app will always use the selected mailserver even i

[2018-09-10 10:32] vitvly commented on #5656
For now blocked by https://github.com/status-im/react-native-desktop/issues/332

[2018-09-10 11:51] Serhy commented on #5365
@errorists , in the prototypes above (Framer 👉 https://framer.cloud/OFCIZ
Zeplin 👉 https://zpl.io/agN9qP1), for the public chat three-dot menu at the top-right there is an option `Pin chat to Home tab`/`Remove from Home chat tab` Am I correct in their behaviours:

a) If PublicChatDapp modal screen from icon-chat button is opened, we behave in the same way like if contact would join same chat from

[2018-09-10 13:14] #5649 closed, assigned to nobody

[2018-09-10 13:35] lukaszfryc opened #5798 "Tild character in wallet total amount "~15 USD" looks strange"
### Description

*Type*: Improvement

*Summary*: I have had a brief discussion with Nabil about the tild in wallet total amount. We both think this character looks strange there. Maybe we should get rid of it or have a different indicator of the average fiat amount?

<img src="https://user-images.githubusercontent.com/7532782/45300552-f6d31b80-b50e-11e8-858f-9a8c7cae80cf.png" width="200">

### Add

[2018-09-10 13:37] lukaszfryc commented on #5798
I'd really want to get an opinion of someone from the design team. @errorists or @denis-sharypin?

Btw, feel free to close this ticket if you think that's this character is clear to users and it looks good.

[2018-09-10 15:02] lukaszfryc opened #5800 ""..." in Wallet looks like settings button but should indicate that fiat value could not be fetched"
### Description

*Type*: Bug

*Summary*: The "..." in Wallet Assets list appears when the app could not fetch fiat value of an asset. But, it was misinterpreted by one of our users as an option button. The user tried to click on it and reported an issue that it does not work. The "..." indeed looks like an options/settings button or something that was truncated:

<img src="https://user-images.gith

[2018-09-10 15:04] alwx commented on #5583
Since there is no design yet, this is how it currently looks in my branch:
<img width="491" alt="screen shot 2018-09-10 at 17 02 52" src="https://user-images.githubusercontent.com/911127/45305882-8e3e6b80-b51b-11e8-91c4-be199194da67.png">

[2018-09-10 15:22] lukaszfryc opened #5802 "Wallet icon in chats and dapps is hard to grasp for many users"
### Description

*Type*: Bug

*Summary*: The wallet modal was introduced in https://github.com/status-im/status-react/pull/5256 as a quick way to check owns assets and token history. Despite being a nice feature, it confuses many users (including Nabil).

<img src="https://user-images.githubusercontent.com/7532782/45306524-2be66a80-b51d-11e8-93fb-cf5c8eb13585.png" width="200">

Here are what peopl

[2018-09-10 15:24] lukaszfryc commented on #5802
@errorists @hesterbruikman do you think that we are still able to fix it and keep the wallet modal feature? Or it's better to get rid of it at all in your opinion?

[2018-09-10 18:16] errorists commented on #5802
We should totally get rid of it. If viewing wallet is of that importance in the context of chat we could move it to the overflow ••• menu under a more descriptive 'View your wallet' button. But that also feels like a stopgap solution. The problem is that inside chat and dapps we lose tab navigation, and this is something I'd like to address in nearby future by either making the tab bar permanent o

[2018-09-10 18:42] errorists commented on #5365
thanks @Serhy for asking
re:
1a) right
1b) again, correct

In general, I wouldn't like the dapp chat to appear in your Home tab automatically without manually requesting it to do so, hence the 'Pin' action. The 'home' tab is already a mess, and having to distinguish between dapps and chats of the same name will only make it worse. I'd strongly prefer adding the dapp chat to home tab to be opt-in i

[2018-09-10 23:53] pablanopete commented on #3078
@jeluard will this bounty still be relevant when we start re-bountying issues?

[2018-09-11 00:01] pablanopete commented on #1762
@yenda would this be appropriate for a new bounty still?

[2018-09-11 00:03] pablanopete commented on #3205
@flexsurfer is this issue still relative? Could we re-bounty it?

[2018-09-11 00:04] pablanopete commented on #3187
@goranjovic will this issue still be relative for a re-bounty once we start issuing new bounties?

[2018-09-11 00:06] pablanopete commented on #4819
Looks like this was finished by @yenda -- @andytudhope to revoke / payout (whichever works)

[2018-09-11 00:06] pablanopete commented on #5244
@Serhy is this issue still relevant to be re-bountied? looks like it's fixed but couldn't tell.

[2018-09-11 00:08] pablanopete commented on #4784
is this still a WIP @mandrigin? Worth putting a bounty on?

[2018-09-11 00:15] pablanopete commented on #4846
To be paid out once #5560 work is completed -- possibly with an extra bounty incentive for the work gone on here. Once rebase / merged.

[2018-09-11 00:17] pablanopete commented on #4650
@lukaszfryc will this be relative to rebounty once we open new bounties?

[2018-09-11 00:21] pablanopete commented on #4393
Any review for this one? @lukaszfryc

[2018-09-11 07:22] jeluard commented on #3078
We are good for now!

[2018-09-11 07:22] #3078 closed, assigned to nobody

[2018-09-11 07:26] denis-sharypin commented on #5798
I think we def don't need a `tild` sign when the amount is zero. But we should keep it in different cases

[2018-09-11 07:36] errorists commented on #5798
I'd suggest to visually treat the tilde the same way we do with currency, so a lowered opacity / greyed out and stuff.

[2018-09-11 08:20] asemiankevich commented on #5698
@flexsurfer

Can be reproduced in the following case:
- open status on ropsten
- open test dapp
- quickly tap back while test dapp is not fully loaded

![image](https://user-images.githubusercontent.com/28752642/45347387-a2827700-b5b4-11e8-9455-7ec7af07349c.png)

[2018-09-11 08:47] lukaszfryc commented on #5802
@errorists yup. I also feel like having "..." under menu is not the right path.

@hesterbruikman any thoughts on information architecture?

[2018-09-11 08:52] lukaszfryc commented on #5798
@denis-sharypin I agree about 0 case.

@errorists should we implement it?

[2018-09-11 08:56] lukaszfryc commented on #4650
@pablanopete yes!

[2018-09-11 08:57] lukaszfryc commented on #4393
@pablanopete it's still in progress. The conversation is happening in https://github.com/status-im/status-react/pull/5229

[2018-09-11 08:59] errorists commented on #5802
I'm currently exploring ways to have the tab bar permanent so there's no need for the shortcut at all

![screen recording framer](https://user-images.githubusercontent.com/4932774/45349420-816c5700-b5b1-11e8-8780-aebff4da8f41.gif)

[2018-09-11 09:01] errorists commented on #5798
@lukaszfryc It's up to Denis to decide, it's just a suggestion, one designer to another

[2018-09-11 09:08] denis-sharypin commented on #5798
@errorists make sense, thanks! @lukaszfryc could you create a task from this, please?

[2018-09-11 09:11] #5421 closed, assigned to gnl

[2018-09-11 09:14] hesterbruikman commented on #5802
In short: tab bar permanent long term. @errorists overflow menu option short term.

This resolves the issue of people perceiving it as it being a view of their contact's wallet. Not sure about the labeling 'View your wallet' or 'View your balance'.

[2018-09-11 09:16] lukaszfryc commented on #5802
I really like the pernament tab idea with saved state for each tab. E.g. I can quickly switch to wallet and then go back to my chat.

[2018-09-11 09:17] lukaszfryc commented on #5802
@errorists is there an issue for pernament tabs? Can we link this issue there?

[2018-09-11 09:19] lukaszfryc commented on #5798
@denis-sharypin I'd like to avoid creating new tasks. Can't we just link the design here since we already have the full context?

[2018-09-11 09:47] chadyj commented on #5038
From Slack:

<blockquote><img src="/react-native/img/favicon.png" width="48" align="right"><div><strong><a href="https://facebook.github.io/react-native/index.html">Linking · React Native</a></strong></div><div><div class="banner-crna-ejected"></div></blockquote>

[2018-09-11 10:02] chadyj commented on #4862
<img width="683" alt="screen shot 2018-09-05 at 11 37 11 am 1" src="https://user-images.githubusercontent.com/116099/45353181-7f5ac600-b5ba-11e8-8792-cb8f251c7713.png">
The text box not growing with long text is especially annoying!

[2018-09-11 10:05] chadyj commented on #5595
Do you know that on a Mac you can invoke the Emoji menu system wide with `^⌘space`, or by going to the Edit menu of apps?

But unfortunately the keyboard shortcut and the menu item are missing in Desktop.

<img width="275" alt="emoji" src="https://user-images.githubusercontent.com/116099/45353373-f1330f80-b5ba-11e8-9d9f-a7eca6a19750.png">

[2018-09-11 10:26] errorists commented on #5802
@lukaszfryc not yet, give me some time to figure out all the kinks, literally just started working on it yesterday :)

[2018-09-11 10:34] hesterbruikman commented on #5802
Thanks @errorists. Would you be up for designing a few navigation solutions? @andrei has also looked at this in the past. This is a very structural issue that we need to test so we don't run into redesigning again a few months from now. We also have what @chad lovingly calls the 'junk drawer' aka Profile that needs to be included in this.

[2018-09-11 10:46] EugeOrtiz commented on #5345
@churik I think this is working now.

[2018-09-11 11:17] dmitryn commented on #5749
Mine observations are quite similar to what @goranjovic found out.

Seems like Infura has issues with `eth_getLogs` request with `fromBlock=0x0` parameter (which is quite heavy operation by the way https://blog.infura.io/not-all-api-calls-are-equal-3659c119bb6c).

I only managed to get successful response by providing exact block number in `fromBlock` and `toBlock` parameters.

Optimization we cou

[2018-09-11 12:09] mandrigin commented on #5749
@dmitryn it looks like it is a problem with latest geth
see: https://github.com/ethereum/go-ethereum/pull/17610 and https://github.com/ethereum/go-ethereum/issues/17611 for example

[2018-09-11 12:30] jakubgs commented on #5424
Almost, there are still two files that I need to work on:

* `Jenkinsfile.upload_release_android`
* `Jenkinsfile.upload_release_ios`

Those also need to use the declarative format and re-use stuff from `.groovy` scripts.

[2018-09-11 12:30] chadyj commented on #5424
`Jenkinsfile.upload_release_android` and `Jenkinsfile.upload_release_ios` remaining

[2018-09-11 12:35] chadyj commented on #5682
Should be fixed.

[2018-09-11 12:35] #5682 closed, assigned to jakubgs

[2018-09-11 13:07] #4747 closed, assigned to goranjovic

[2018-09-11 13:11] #4590 closed, assigned to goranjovic

[2018-09-11 13:16] maciej commented on #5802
Hey @hesterbruikman I don't think you intended to mention me. I don't think I have anything to do with this issue.

Sorry about that! Wrong mention:)

[2018-09-11 14:18] chadyj opened #5807 "Windows desktop builds"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a windows user, I want to use status desktop on windows.

### Description

10% of Status contributors, and potentially >50% of general users have windows as their OS.

### Related

https://github.com/status-im/status-react/issues/4352

[2018-09-11 15:14] jakubgs commented on #5424
I've discussed this with @mandrigin and we should probably re-think how releasing for Android and iOS works.

* Android - Currently the `Jenkinsfile.upload_release_android` job publishes publicly right away
* iOS - And `Jenkinsfile.upload_release_ios` requires manual approval which takes a while

This is the main reason for the split between the files. What @mandrigin said sounds much more sensibl

[2018-09-11 17:10] #5593 closed, assigned to dmitryn

[2018-09-11 21:14] flexsurfer commented on #3205
@pablanopete it's not, we can close it, thanks

[2018-09-12 07:37] vkjr commented on #5595
Never knew this, thanks @chadyj!

[2018-09-12 07:38] chadyj commented on #5595
Quick fix is adding the `Edit` menu :)

[2018-09-12 07:43] vkjr commented on #5595
`react-native` doesn't have a concept of menu at all, since it is for mobile. So for desktop we need to add it. That shouldn't be a big task, but probably also not a quick fix :)

[2018-09-12 08:44] rachelhamlin commented on #5583
Nice. We don't actually have more details to provide, do we?

@obi2020 do you have any thoughts on the copy for this warning screen? We're now detecting potential phishing/scam sites in the browser and preventing users from navigating there. The current copy is more or less exactly what Google's warning says. I figure we'd like to customize it.

cc @denis-sharypin for design ❤️

[2018-09-12 08:50] Serhy commented on #5244
@pablanopete yes, the issue is still present on iPhoneX. And so relevant for re-bounty.

[2018-09-12 09:11] dmitryn commented on #5392
I don't have the error described above, but have another one:

<img width="539" alt="screenshot 2018-09-12 12 06 23" src="https://user-images.githubusercontent.com/23836/45414858-f0ff4680-b684-11e8-9c48-c29fd4da2a61.png">

[2018-09-12 09:31] churik commented on #5344
still reproducible.

[2018-09-12 10:16] churik commented on #5345
Yes, agree, thanks @EugeOrtiz

[2018-09-12 10:16] #5345 closed, assigned to nobody

[2018-09-12 10:48] denis-sharypin commented on #5798
Sure
<img width="864" alt="screenshot 2018-09-12 12 47 47" src="https://user-images.githubusercontent.com/6559881/45420313-20648200-b68a-11e8-8758-b296d54a098d.png">

[2018-09-12 10:51] obi2020 commented on #5583
I can rewrite, but what are the key things that are specific to Status or web3?

Should we be explicit about private keys, or give warnings about sending funds to sites that promise 10x returns? e.g. what's the scam etherpaperwallet.net?

[2018-09-12 11:14] rachelhamlin commented on #5583
@obi2020 good point. This current implementation will protect users from scam crypto sites, in particular, thanks for a list from MetaMask.

But in the next iteration, we'll be protecting users from _any_ suspect site (not just crypto-specific), using a Google API.

So the important information is:
+ The website has been identified as malicious in some way—in some cases, this is because it's a kno

[2018-09-12 11:39] chadyj commented on #4228
Closing. This can be handled with manually adding tokens in the future.

[2018-09-12 11:39] #4228 closed, assigned to nobody

[2018-09-12 11:40] #5645 closed, assigned to vitvly

[2018-09-12 11:44] #5624 closed, assigned to vitvly

[2018-09-12 12:03] EugeOrtiz opened #5811 "Implement auto-focus on input fields"
### User Story
As a user, I want to have autofocus on some input fields, so I don't waste time clicking on them in order to write something.

### Description
*Type*: Bug

*Summary*: Let's implement auto-focus :)

#### Expected behavior
When accessing a screen or component in which the main action is to write something, let's implement auto-focus on the input field, with the cursor blinking and rea

[2018-09-12 12:19] EugeOrtiz opened #5812 "Allow "Check for updates" within Status Desktop"
### User Story
As a user, I want to update the desktop app using a "Check for updates" option on the [MacOS app menu](https://github.com/status-im/status-react/issues/5547), so I can update my app easily.

### Description
*Type*: Feature

*Summary*:
Enable a "Check for updates" option in MacOS menu bar. Allow the update and automatic installation of new version.

#### Expected behavior / Solution

[2018-09-12 14:24] lukaszfryc opened #5813 "Can't connect to custom mailserver. Clicking connect button does nothing"
### Description

*Type*: Bug

*Summary*:
When a custom mailserver is added, "Connect" button does nothing when clicked. It worked fine on nightly from Sep 11 (`bd3f95`) but stopped working in `ca1490`.

User stays on the mailserver details screen when the connect button is pressed
<img src="https://user-images.githubusercontent.com/7532782/45430769-68919d80-b6a6-11e8-8863-031743f5a191.png" width="

[2018-09-12 14:36] lukaszfryc opened #5814 "Can't add custom bootnode or network. "Save" button is inactive"
### Description

*Type*: Bug

*Summary*: Even though a bootnode address is provided, the "Save" button in the add bootnode screen is still inactive. In result, users can't add custom bootnodes. Same happens when adding custom network. It worked fine on nightly from Sep 11 (`bd3f95`) but stopped working in `ca1490`.

This issue is related to https://github.com/status-im/status-react/issues/5813.

#

[2018-09-12 14:52] lukaszfryc opened #5815 "Send transaction screen should show error about invalid address when incorrect wallet address is used"
### Description

*Type*: Bug

*Summary*: When incorrect wallet address is provided as recipient address in the send transaction screen, the app should show an error about "Invalid address". But, currently nothing happens when "Done" is pressed and no error is shown. It worked fine on nightly from Sep 11 (bd3f95) but stopped working in ca1490.

<img src="https://user-images.githubusercontent.com/75

[2018-09-12 14:53] lukaszfryc commented on #5815
Related to https://github.com/status-im/status-react/issues/5814 and https://github.com/status-im/status-react/issues/5813

[2018-09-12 15:32] churik opened #5816 "Recovery phrase is visible in logs"
### Description

*Type*: Bug
*Summary*: `RCTStatus::createAccount CreateAccount` and  `RCTStatus::recoverAccount` in `StatusIm.log` contain sensitive data - mnemonic phrase.

#### Expected behavior
no mnemonic pharse is shown

#### Actual behavior
[code]

### Reproduction

- Open Status
- Create one account
- Recover another account
- Open `StatusIm.log` and search for `RCTStatus::recoverAccount R

[2018-09-12 16:58] chadyj commented on #1369
From @flexsurfer:

Closing!

[2018-09-12 16:58] #1369 closed

[2018-09-13 08:22] EugeOrtiz commented on #4434
This is creating a bigger UX issue. The more I use the app, the more contacts on the list I have and the public chat area gets pushed down and disappears at the bottom:

<img width="1029" alt="captura de pantalla 2018-09-13 a la s 10 15 26 a m" src="https://user-images.githubusercontent.com/37297779/45476171-95918f00-b73e-11e8-9d0b-5c35153c4a54.png">

@chadyj @churik I think we should move this to

[2018-09-13 09:20] #5180 closed, assigned to rasom

[2018-09-13 10:27] dmitryn opened #5825 "Add hardwallet auth method to set up new account flow"
### Description

When creating new account, screen with available authentication methods should be shown:

![authentication method](https://user-images.githubusercontent.com/23836/45511009-82190f00-b7a4-11e8-9d77-33cab17c079f.png)

"set up password" leads to old-style password auth flow.

"set up status hardwallet" shows following screen if NFC is ON:

![hardwallet product screen 2x](https://user-

[2018-09-13 10:40] mandrigin opened #5827 "Update `realm-js` to the next released version and remove our patch for fixing encryption"
https://github.com/realm/realm-js/pull/2020 was merged, so with the next realm upgrade we can get rid of the patch we introduced in https://github.com/status-im/status-react/pull/5757

[2018-09-13 10:46] rachelhamlin opened #5828 "Update DApp URL/name"
### Description

*Type*: Feature

*Summary*: Update URL for `Bounties Network`.

#### Expected behavior

The Bounties Network URL is set to `https://bounties.network`.

`Livepeer` is spelled with a lower case 'p.'

#### Actual behavior
The Bounties Network URL is set to `https://berlin.bounties.network`.

`LivePeer` is spelled with a capital 'P.'

[2018-09-13 11:12] rachelhamlin commented on #5828
@jeluard do you mind doing this? :)

[2018-09-13 11:28] lukaszfryc opened #5829 "Some strings are hardcoded and not being translated"
### Description

*Type*: Bug

*Summary*:

Following strings can't be found in Lokalise. Probably they are hardcoded:

- [Send a payment](https://github.com/status-im/status-react/blob/988a1ca2e2efcb6164746a7b3ff57fed54776115/src/status_im/chat/commands/impl/transactions.cljs#L438)
- Receive a payment
- Currency
- Amount
- Exchanges, Marketplace, Fun & Games, Social Networks, Utilities, Media (in d

[2018-09-13 12:56] lukaszfryc opened #5832 "Title of transaction filters screen overlaps other buttons"
### Description

*Type*: Bug

*Summary*: Screen title overlaps "Done" button in the transaction history filter screen:

<img src="https://user-images.githubusercontent.com/7532782/45489542-c84e7e00-b764-11e8-915b-061ceff844c7.png" width="200">

#### Expected behavior
"Select All" on the right is smaller to accomodate the screen title.

### Reproduction

- Open Transaction History from Wallet
- Ope

[2018-09-13 13:50] pedropombeiro commented on #5019
No longer blocked as the beta fleet mailservers have been updated to a recent status-go version.

[2018-09-13 13:57] #5604 closed, assigned to nobody

[2018-09-13 14:03] #5828 closed, assigned to jeluard

[2018-09-13 14:35] chadyj commented on #5019
Love this feature! Let's make sure to roll it on desktop and mobile :)

[2018-09-13 15:57] #5798 closed, assigned to dmitryn

[2018-09-13 15:59] #5729 closed, assigned to dmitryn

[2018-09-13 17:05] pedropombeiro commented on #5019
I'd expect (and hope) that at this level of the architecture, it would be very hard to not do so, since this is not UI-related.

[2018-09-13 17:26] churik opened #5836 "Close button stops whole application instead of closing window"
### Description

*Type*: Bug
*Summary*: usually `Close` button just closes the current window, but doesn't close app (checked in Riot, Telegram, Slack), but in case of Status it stops whole application. It may cause the accidental closing of app, which is definitely annoying when you should each time to log in and enter a password.

#### Expected behavior
Status is still opened in Dock (not stoppe

[2018-09-13 17:56] chadyj opened #5837 "translate chat commands"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a non English user, I want to chat commands to be in my language so that I can use it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Chat command descriptions are hardcoded to english, but should be translateable.

#### Expected behavior
`Send a payment` and `Request a payment`

[2018-09-13 18:08] chadyj commented on #5837
Dupe of https://github.com/status-im/status-react/issues/5829

[2018-09-13 18:08] #5837 closed, assigned to nobody

[2018-09-13 18:09] chadyj commented on #5829
@rachelhamlin WDYT?

[2018-09-14 05:49] chadyj opened #5839 "Wrong logo on desktop welcome screen"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to use the right logo to show a good brand and image.

### Description

This is a very small thing, but with out first release coming up we should put our best foot forward. This is the first screen everyone sees and our logo is wrong! Hopefully a quick fix that will make desktop feel le

[2018-09-14 06:30] chadyj commented on #5018
Closed in https://github.com/status-im/status-react/pull/5318

[2018-09-14 06:30] #5018 closed, assigned to vitvly

[2018-09-14 06:34] #4439 closed, assigned to vitvly

[2018-09-14 06:35] #5573 closed, assigned to vkjr

[2018-09-14 06:57] churik opened #5840 ""Sent" is shown on "not sent" messages"
### Description
*Type*: Bug

*Summary*: when message is sent from offline, "Sent" is displayed instead of "Not sent". Blocked by https://github.com/status-im/react-native-desktop/issues/328 in PR https://github.com/status-im/status-react/pull/5318

#### Expected behavior
"Not sent, click for options". Design is [here](https://zpl.io/VqEOzY4)

#### Actual behavior
"Sent" is shown

### Reproduction

[2018-09-14 09:40] mandrigin commented on #5526
RN issue: https://github.com/facebook/react-native/issues/19434

[2018-09-14 09:54] churik commented on #5839
related to #4418

[2018-09-14 09:54] churik opened #5841 ""Sign in to Status", "Sign In to another account" labels are not clickable"
### Description

*Type*: Feature
*Summary*: "Sign in", "Sign In to another account" labels look like the continuation of "Back" arrow but in fact, they are not clickable. As a user I prefer to see they are clickable or separated from arrow so don't be confused.
Can be part of https://github.com/status-im/status-react/issues/4418

### Expected result
labels are clickable or separated from

### Actu

[2018-09-14 10:04] rachelhamlin commented on #5829
@jeluard better ideas for how to handle this?

[2018-09-14 10:12] mandrigin commented on #5526
Android 9 issue: https://issuetracker.google.com/issues/112385925

<blockquote><div><strong><a href="https://issuetracker.google.com/issues/112385925">Sign in - Google Accounts</a></strong></div></blockquote>

[2018-09-14 10:39] chadyj commented on #5311
Question.... is this a custom styled menu, or can we use system menu?

[2018-09-14 11:00] churik opened #5844 "Messages are not marked as read when they are coming for active chat and you navigate to chat from user profile"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if issues are coming for the active chat when you are browsing profile for example - after switching back to "Home" screen messages are not marked as read and you should manually reselect it to mark messages as read.

#### Expected behavior
Messages are read after switching back to Home

#### Actual behavior
Count

[2018-09-14 11:11] chadyj opened #5845 "Desktop security and privacy review"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a desktop user, I want to know that the app's security and privacy has been reviewed so that I can be safe.

### Description

Placeholder issue: Let's do a security and privacy review ahead of our 0.10.0 release.

[2018-09-14 11:24] EugeOrtiz commented on #5839
Asset here > https://drive.google.com/open?id=1P27UlBmROk9UQ-KGDw3Zpfq9WOGwkIjZ

<blockquote><div><strong><a href="https://drive.google.com/open?id=1P27UlBmROk9UQ-KGDw3Zpfq9WOGwkIjZ">Meet Google Drive – One place for all your files</a></strong></div><div>Google Drive is a free way to keep your files backed up and easy to reach from any phone, tablet, or computer. Start with 15GB of Google storage

[2018-09-14 11:25] mandrigin commented on #5526
Workaround in our fork:
https://github.com/status-im/react-native/pull/1

[2018-09-14 11:26] mandrigin commented on #5526
Workaround in RN: https://github.com/facebook/react-native/pull/21117

[2018-09-14 11:45] EugeOrtiz commented on #5595
This can be separated in 2: writing with emojis as mentioned above (on message area) and reactions (an emoji reaction to a sent message).

[2018-09-14 11:48] chadyj commented on #4434
@EugeOrtiz I lost track of the different Zeplin versions. What is the fix for this issue?

[2018-09-14 11:53] EugeOrtiz commented on #4434
There is only one Zepplin project for desktop >> zpl.io/aXGDvmE

Specifics about this issue:
- Menu with new chat options >> zpl.io/bLwR9WJ
<img width="253" alt="captura de pantalla 2018-09-14 a la s 1 52 20 p m" src="https://user-images.githubusercontent.com/37297779/45548662-6bff6300-b825-11e8-99f3-259b1614575e.png">

- New 1:1 chat screen >> Starts here zpl.io/a7ynPBE (navigate left & right on

[2018-09-14 13:01] chadyj opened #5848 "Log Level Setting on Desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a dev and tester, I want to set log level so that I can debug.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Mobile has a feature that allows the setting of log level type. Let's bring this to desktop to help with debugging

![img_cbdf6ff7cd9e-1](https://user-images.githubu

[2018-09-14 13:10] chadyj commented on #5452
Maybe we can do the same as desktop?

Need help? >>>>
- Frequently asked questions
- Submit a bug (links to GitHub)

[2018-09-14 13:26] churik opened #5849 "Can start chat with non-existing user"
### Description

*Type*: Bug
*Summary*: "Start chat" button is always enabled despite of content of "Contact code" field

#### Expected behavior
"Start chat" button is not available until you enter valid contact key value  or if you enter wrong value - validation error is shown (as it mentioned in https://github.com/status-im/status-react/issues/5117)

#### Actual behavior
can start chat with non-

[2018-09-14 13:55] errorists commented on #5674
I strongly think that removing it when we can't access on-device verification is the best way forward, especially since we don't really support touch-face-ID for user verification yet and don't communicate the advantages of using on-device verification anywhere.
Besides, how much of an edge case is that, NOT having a password in 2018, good luck with that :)

[2018-09-14 14:03] #5745 closed, assigned to dmitryn

[2018-09-14 14:35] churik opened #5852 "Persist chat scroll position after navigation through app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to persist chat position after scrolling around and clicking around.

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: issue exist

[2018-09-14 14:41] mandrigin commented on #5526
Merged the workaround, it should fix the issue

[2018-09-14 14:41] #5526 closed, assigned to mandrigin

[2018-09-14 15:07] mariapaulafn commented on #5195
I can't be more bullish of this. Just came to say it since i now need to import all my contract and the backup seedphrase did not make the trick, that was a tad underwhelming, still I love the desktop app and it makes my life so much easier, since I use Status quite a lot :) @chadyj

[2018-09-14 15:09] chadyj commented on #5195
Thanks @mariapaulafn! I'd love to see contacts (and other things like read/unread states, etc) to be sync'd between clients. Soon!

[2018-09-14 17:12] #5474 closed, assigned to dmitryn

[2018-09-15 07:34] chadyj commented on #5845
@corpetty Can you help with this?

[2018-09-15 13:39] yevh-berdnyk opened #5856 "Setup infrastructure for running automated tests against desktop app"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: ...

#### Expected behavior
[comment]: # (Describe what you expecte

[2018-09-15 13:43] yevh-berdnyk opened #5857 "Add framework for automated tests against the desktop application"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to run automated e2e tests for the desktop application

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens.

[2018-09-15 13:51] yevh-berdnyk opened #5858 "Add sanity test suite for desktop app"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: We need to define a sanity suite of tests to run against the deskto

[2018-09-15 14:01] yevh-berdnyk opened #5859 "Add Jenkins job for e2e tests run against desktop nightly builds"
*Summary*: Run e2e tests for desktop nightly builds in Jenkins

[2018-09-15 14:09] yevh-berdnyk opened #5860 "Add Jenkins job for e2e tests run against desktop PR builds"
Summary: Run e2e tests for desktop PR builds from Jenkins

[2018-09-16 21:50] PaulRBerg commented on #4297
Sorry if this is not the best place to ask, but this issue still appears on the bounties [platform](https://openbounty.status.im/app#/). Is it still available? It seems to be moved to "PR Submitted", but all I see is the MetaMask EIP-681 issue opened. Is it that Status won't even temporarily update its codebase and this issue simply sits in limbo until MetaMask fixes their stuff?

[2018-09-17 05:59] rasom commented on #5829
@lukaszfryc can't find "Receive a payment" anywhere in project

[2018-09-17 07:51] janherich commented on #5829
I will fix command related translations, it's true they are hardcoded for now.

[2018-09-17 08:02] lukaszfryc commented on #5674
Thanks @errorists. I agree, let's hide it.

[2018-09-17 08:10] EugeOrtiz commented on #5839
For some reason, that logo is displayed in all the screens of the "create account" flow (pass, re-pass, name). So if it gets fixed, it should cover all these screens too.

[2018-09-17 08:29] rachelhamlin opened #5870 "Add QR code scanner API"
### User Story

As a developer, I want access to a QR code scanner in the Status browser so that my DApp can read users' QR codes for functionalities like those listed in [EIP 945](https://github.com/ethereum/EIPs/issues/945).

### Description

*Type*: Feature

*Summary*: See [EIP 945](https://github.com/ethereum/EIPs/issues/945). This is being implemented primarily by request for the Blockparty t

[2018-09-17 09:00] rachelhamlin commented on #5583
Copy proposal cc @obi2020

**This site is blocked**

We detected potential malicious activity from this address. To protect you and your wallet, we're preventing further navigation.

If you think this is an error, let us know in [#status](https://get.status.im/chat/public/status).

[Go back]

[2018-09-17 10:39] denis-sharypin commented on #5583
@rachelhamlin  @alwx  Design:

https://www.figma.com/file/gD2idhA7Uof5lc8R5nmaEXfs/DApp-browser?node-id=21%3A416

<img width="433" alt="screenshot 2018-09-17 14 45 11" src="https://user-images.githubusercontent.com/6559881/45623664-5b025c00-ba88-11e8-9998-a8b0d3eafb07.png">

[2018-09-17 10:40] PeterTheOne commented on #2854
Didn't work for me on Version 0.9.27 (7656); node v0.13.1 or maybe I'm doing something wrong?

[2018-09-17 11:41] rachelhamlin commented on #5583
I like the addition of `public chats` at the end of the text.

In this case, can we write "If you think this is an error, let us know in the [#status](https://get.status.im/chat/public/status) public chat" @alwx ? (Insert _the_)

[2018-09-17 12:06] EugeOrtiz commented on #5311
I tweaked the style a little bit (more space, highlight based on our color palette). A good-enough V1 could be using native ones.

[2018-09-17 12:30] lukaszfryc commented on #5392
@dmitryn I was able to reproduce it on iOS while sending ETH in 1-1 chat and having poor network connection. The error appeared when I clicked "send" button in the chat. I think it maybe related to not having gas or gas prices details.

[2018-09-17 12:56] lukaszfryc opened #5876 "Wallet modal and transaction fee screens are not in full screen mode on Galaxy S8"
### Description

*Type*: Bug

*Summary*: Wallet modal and transaction fee screens should be shown in full screen mode. Instead, there is a gray rectangle at the bottom of the screen. This issue was introduced in https://github.com/status-im/status-react/pull/5606.

<img width="200" alt="screen2 png 2018-09-17 13-03-26" src="https://user-images.githubusercontent.com/7532782/45624102-9a7d7800-ba89-1

[2018-09-17 13:18] lukaszfryc opened #5877 "Pressing back button while creating new account leads to blank screen"
### Description

*Type*: Bug

*Summary*: Blank screen is shown when back button is pressed in the create account screen. The issue was introduced by react-navigation PR https://github.com/status-im/status-react/pull/5606. App works fine when killed and opened again.

<img src="https://user-images.githubusercontent.com/7532782/45625209-9d2d9c80-ba8c-11e8-9f1d-8729334a0dd1.png" width="200">

#### Ex

[2018-09-17 13:28] jeluard commented on #4297
@PaulRBerg It's not sorry :(

[2018-09-17 14:08] EugeOrtiz commented on #5848
@chadyj is this under "Advanced" on mobile? I cannot check latest version

[2018-09-17 14:10] chadyj commented on #5848
Yep. Screenshot attached.

<img width="284" alt="screen shot 2018-09-17 at 4 09 29 pm" src="https://user-images.githubusercontent.com/116099/45628317-1e3c6200-ba94-11e8-8dbc-9344f3276d81.png">

[2018-09-17 14:11] errorists commented on #4345
Here's a proposed design, similar to WhatsApp, Telegram and many more. I think we should include all 'connection' related messages to use this pattern instead of the snackbar which blocks the view of tappable items.

https://framer.cloud/MeuuW/

<blockquote><img src="https://framer.cloud/MeuuW/6/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/MeuuW/"

[2018-09-17 14:37] EugeOrtiz commented on #5452
Do we need to put this on the UI? I've done some research and most native desktop apps use the MacOS bar options to add items like these (FAQs, submit, about). Like designed here #5547

[2018-09-17 14:42] EugeOrtiz commented on #4418
@churik @chadyj The description of this issue and the designs provided can lead to confusion: we want to fully implement the new onboarding designs, right?

[2018-09-17 15:14] lukaszfryc opened #5878 "User is redirected to unknown chat after deleting previous chat"
### Description

*Type*: Bug

*Summary*: When currently selected chat is removed, "Unknown" chat opens. Instead, next chat should be opened ("#status" in the case below). The issue was introduced by react-navigation PR #5606.

<img src="https://user-images.githubusercontent.com/7532782/45632026-a292e300-ba9c-11e8-8756-302967037d60.png" width="600">

### Reproduction

- Have 2 chats on the chat lis

[2018-09-17 15:35] arnetheduck commented on #5807
more like 80-90% of general users - including all gamers that are more-than-average familiar with tech, networking etc etc and therefore capable of running an app like this

https://www.netmarketshare.com/operating-system-market-share.aspx?options=%7B%22filter%22%3A%7B%22%24and%22%3A%5B%7B%22deviceType%22%3A%7B%22%24in%22%3A%5B%22Desktop%2Flaptop%22%5D%7D%7D%5D%7D%2C%22dateLabel%22%3A%22Trend%22%2

[2018-09-17 15:53] EugeOrtiz opened #5880 "Apply intended design to "Advanced Settings" options"
### Description
*Type*: Bug

*Summary*: An initial implementation of "Advanced Settings" (AS) was done so now only "Mailserver" options are displayed on the right panel. Now that we need to add more items under AS, we need to apply a more "condensed" design.

#### Expected behavior
To be able to see all "Mailserver" options under a dropdown, so we can show other options like #5848 also under AS.

[2018-09-18 06:49] yenda commented on #5527
@PombeirP I think we can close this one ?

[2018-09-18 06:50] yenda commented on #4031
@corpetty I think we can close this one ?

[2018-09-18 07:40] churik commented on #5452
I'm pretty sure that it will be enough to put Submit a bug and Frequently asked questions to MacOS Menu Bar.
But not sure when  #5547 will be prioritized. @chadyj WDYT?

[2018-09-18 07:44] churik commented on #4418
Right, agree; description was changed, thanks @EugeOrtiz !

[2018-09-18 07:52] #5527 closed, assigned to yenda

[2018-09-18 08:45] yenda commented on #5845
`Debug: RNSecureRandom::generateSecureRandomAsBase64 result: ...` shouldn't be logged or at least not the resulting key

[2018-09-18 09:56] #4393 closed, assigned to nobody

[2018-09-18 09:59] lukaszfryc commented on #5876
Looks like this issue may only happen on Galaxy S8 in immersive mode:

Works fine when immersive mode is off:

<img src="https://user-images.githubusercontent.com/7532782/45679991-18995780-bb3a-11e8-8413-c2092e5d9b29.png" width="200">

[2018-09-18 10:00] lukaszfryc commented on #5876
Slack discussion: https://status-im.slack.com/archives/C88MZP11P/p1537264106000100?thread_ts=1537184582.000100&cid=C88MZP11P

[2018-09-18 10:06] EugeOrtiz commented on #5452
The bar is already implemented, but doesn't have many options. I think we can have a first version starting with these options.

[2018-09-18 10:08] #5816 closed, assigned to maxhora

[2018-09-18 10:34] Serhy opened #5884 "App crash with "Could not invoke Status.callPrivateRPC" error for accounts with 1000+ transactions"
***Type***: Bug

***Summary***: Depending on the number of transactions contact has, - navigation between screens becomes too laggy which eventually ends up with the `Could not invoke Status.callPrivateRPC` error followed by app crash.
Lags (app freezes) especially seen for such accounts after any tranaction has sent (e.g. in Dapp), or when navigating to/back Transaction history screen.

#### Expe

[2018-09-18 11:22] #4866 closed, assigned to rasom

[2018-09-18 11:35] Serhy opened #5885 "Password pop-up 'Sign message' wallet screen overlaps Cancel+Sign buttons on iPhoneX"
***Type***: Bug

***Summary***: When `Sign message` screen is opened from Dapp - the password pop-up which appears overlaps `Cancel ... Sign` buttons on iPhoneX.

#### Expected behavior
<img width="371" alt="screen shot 2018-09-18 at 14 32 56" src="https://user-images.githubusercontent.com/8749671/45684699-c400d700-bb4f-11e8-8aa6-6f36b420fffb.png">

#### Actual behavior
<img width="308" alt="scree

[2018-09-18 12:00] jeluard opened #5886 "Support screens params when navigating via modals"
### User Story

As a developer, I want to have access to screens parameters when navigating via modal.

### Description

*Type*: Bug

Screens parameters are only available when opening a screen as a non-modal

[2018-09-18 12:05] jeluard opened #5887 "Improve toolbar details when navigating website via ENS"
[### User Story

As a user, I want to clearly see details of website accessed via ENS name

### Description

*Type*: Feature

Browser currently allows to browse website hosted on IPFS via an ENS name.
Due to technical constraints associated browser toolbar will always display `ipfs.infura.io` as URL.

Enhance the toolbar so that following details are accessible:

* the original ENS name
* the reso

[2018-09-18 12:27] Serhy opened #5889 "Account recover/login takes 3 times more in 0.9.28 mobile app than 0.9.27"
***Summary***: When recovering or login into account in 0.9.28 (develop now) there is a **triple** time delay more than in 0.9.27 Release version between user tap on `Sign In` button and when Home screen appears.
In my case on Android 7 (Samsung J7 real device) when I:
**recover** an account on 0.9.27 Release it **takes ~5 seconds** for me to see Home screen after SignIn button tapped, while the v

[2018-09-18 12:57] churik opened #5890 "Status app window isn't maximized and got active after navigating to deep link, if browser opened in full-screen mode"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see that app is coming from the background when I click on custom URL to open app.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: presented by https://github.com/status-im/status-react/pull/5785.
 When app is opened and application that you are using

[2018-09-18 13:16] mandrigin opened #5891 "Create LES fleet for Ropsten"
We need 3 VMs, each running a full geth node with LES server enabled.

Fleet name: `ethdev.les`

geth params to enable LES server:
[code]

[2018-09-18 13:23] yenda commented on #5889
Looks like the node is taking 23 sec to start

[2018-09-18 14:09] churik opened #5892 "Emojis are displayed as black squares in Russian, Arabic or Korean messages"
### Description

*Type*: Bug

*Summary*:

#### Expected behavior
Can see message with emoji

#### Actual behavior
![messages](https://user-images.githubusercontent.com/4557972/45693179-2fa16f00-bb65-11e8-8cad-bcf9123df409.png)

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Log in
- Switch to any chat
- Send message on Russian (or Korean, or Ar

[2018-09-18 15:12] Serhy commented on #5884
Here is a geth.log (with log level = `trace`) for this TF session: https://app.testfairy.com/projects/4803622-status/builds/8596291/sessions/4401766018/?accessToken=91sqiZW9F6eDzIPA3hizLRlLOCQ when `Could not invoke Status.callPrivateRPC` crashed the app. I didn't have a pop-up with error like in description but app just become completly unresponsive for 1m so I had to stop it.

[gethlog_when_app_

[2018-09-18 15:38] #5813 closed, assigned to yenda

[2018-09-18 15:55] #5583 closed, assigned to alwx

[2018-09-18 17:53] yenda commented on #5814
From a UI perspective the custom network thing is tricky, because the current behavior is that the app closes if it wasn't able to connect properly to the network, and you end up in a loop where the app closes every time you login and you can't fix your network config. Maybe we should at least allow the user to cancel that and change his settings

[2018-09-18 19:20] #5891 closed, assigned to jakubgs

[2018-09-18 22:22] jakubgs commented on #5891
Here's what I got:
https://github.com/status-im/infra-misc/commit/3a347d8e134e83a2e21b36e77b47408bff820ce7
Hosts:
https://consul.status.im/ui/do-ams3/services/les-geth-full

They have 800 GB storage, should be enough for a short while, since this is an experiment.

Tell me if I need to change anything.

<blockquote><div><strong><a href="https://consul.status.im/ui/do-ams3/services/les-geth-full">S

[2018-09-19 08:24] #5814 closed, assigned to yenda

[2018-09-19 09:18] Serhy opened #5895 "Null is not an object: (evaluating e.lastIndexOf') crash when closing webview on Android"
***Type***: Bug

***Summary***: After user navigated to URL that causes redirect (or to unexisting domain), (e.g. opening bbc.com redirects to http://www.bbc.com) and then closing this webview via top-left cross icon - app crashes with the `Null is not an object: (evaluating 'e.lastIndexOf')` error.

#### Expected behavior
No crash when closing http URL ebview
#### Actual behavior
Crash when closi

[2018-09-19 09:44] dmitryn opened #5898 "Create HW setup screens"
### Description

Layout only. No functionality needs to beed added for now.

https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=585%3A95

![card is blank](https://user-images.githubusercontent.com/23836/45745493-a09a6280-bc09-11e8-956e-5b9009a78f62.png)

<blockquote><img src="https://s3-alpha.figma.com/thumbnails/f3956951-3f67-466e-b79a-5c3a599c133e" width="48" alig

[2018-09-19 10:39] jeluard commented on #5162
This issue is blocked by https://github.com/status-im/status-go/issues/1110

[2018-09-19 10:52] Serhy opened #5899 "No 'Intrinsic gas too low' popup when sending TX with Gas Limit < 21000"
***Type***: Bug

***Summary***: We don't show 'Intrinsic gas too low' pop-up warning when a contact sends a transaction (from 1-1 chat / Dapp / directly from Wallet) with Gas Limit < 21000. A transaction is not sent as expected, but we need to show up the pop-up (that we have in 0.9.27 release) notifying user for what's happened.

#### Expected behavior
'Intrinsic gas too low' popup appears when s

[2018-09-19 10:57] churik opened #5900 "Application is not responding at attempt to log in with existing account for first time"
### Description

*Type*: Bug

*Summary*: when I log in with existing account (history ~1 week, several 1-1 and public chats) for first time, the application is not responding. After second/third time I can successfully log in.
Reproducible 3/5 when I started all from scratch for the very first login attempt.

#### Expected behavior
the application is not hanging

#### Actual behavior
the applicati

[2018-09-19 11:09] churik commented on #5900
And one more log (shorter)
[StatusIm.log](https://github.com/status-im/status-react/files/2396776/StatusIm.log)

[2018-09-19 11:13] lukaszfryc commented on #5749
On latest mobile sync we agreed this issue is not a relase blocker. It's a problem with external API that happens for previous app versions as well. I'm removing `release` label but adding `high-severity`.

[2018-09-19 11:20] pedropombeiro commented on #5900
For the record, this is similar to the behavior observed in https://github.com/status-im/status-react/pull/5786, which up until now was only reproducible with v0.15.0 of status-go.

[2018-09-19 11:22] pedropombeiro commented on #5900
@churik do you mind testing the fix in https://ci.status.im/job/status-react/job/combined/job/desktop-macos/1258/artifact/StatusImPackage/StatusIm-180919-110543-af4d29-pr.dmg ?

<blockquote></blockquote>

[2018-09-19 12:10] lukaszfryc commented on #5885
Looks fine on Galaxy S8 (Android 8.0) and iPhone 8 (iOS 12)

[2018-09-19 13:30] lukaszfryc commented on #5705
FYI, on 0.9.27, when I tap sign in button multiple times the following error appears. Pressing OK dimisses it and all works fine.

<img src="https://user-images.githubusercontent.com/7532782/45756333-eb73a480-bc20-11e8-9530-5e5025ec3f92.png" width="200">

Tested on iPhone 8, iOS 12

[2018-09-19 13:30] lukaszfryc commented on #5705
Btw, `00:07 D/StatusModule: StartNode result: {"error":""}` means there is no error and node was successfully started as Igor noticed on [Slack](https://status-im.slack.com/archives/C8KB9DR60/p1537363308000100?thread_ts=1537357520.000100&cid=C8KB9DR60).

[2018-09-19 13:38] lukaszfryc commented on #5705
In recent nightlies (0.9.28 develop), there is no error but the app is crashing.

Crash:

[code]

[2018-09-19 13:56] mandrigin commented on #5889
There is some performance regression between status-go 0.13.1 and 0.14.1

login times on Galaxy S6 (time between `startNode()` called and `node.ready` is received)

version |  | | | |
-----|-----|------|------|------
| 0.14.1 | 2,1  | 3,3 | 3,6 | 4,4 |
| 0.13.1 | 0,74  | 0,82 | 0,7 | 0,77 |

[2018-09-19 14:17] lukaszfryc opened #5903 "Empty sign in screen when navigating back from create new account screen"
### Description

*Type*: Bug

*Summary*:

When user navigates from create new account screen back to the first screen, there is no accounts list (happens on Android and iOS):

<img src="https://user-images.githubusercontent.com/7532782/45758861-e44f9500-bc26-11e8-8352-67adf215e38c.png" width="200">

Sometimes the screen is totally empty. Happens when you go back and forth between the screens (happ

[2018-09-19 14:32] rachelhamlin opened #5904 "Add #cryptocurrency public chat"
### User Story

As a user, I want to join a #cryptocurrency public chat from the default list, so that I can talk about Bitcoin, Litecoin, and other currencies with other Status users.

### Description

*Type*: Feature

*Summary*: Create a default `#cryptocurrency` public chat.

#### Expected behavior
`#cryptocurrency` appears in the default public chat list, above `#cryptostrikers`.

#### Actual

[2018-09-19 15:06] #5739 closed, assigned to pedropombeiro, yenda

[2018-09-19 15:09] churik commented on #5900
Thanks @PombeirP!
Yes, it is fixed in build which you are provided. Account creation, log in with existing account, recovering is working a lot faster than in current nightly.
One question - can this fix affect mobile builds, should they be tested as well?

[2018-09-19 15:39] hesterbruikman commented on #5043
In ux research (RRR8) we found that longpress wroked for reply/copy message with all participants. In the few cases it needed multiple attempts it showed to be easily discoverable. https://docs.google.com/presentation/d/10qb5jRXwRT9lYkxrn8Ui5Bov_JRuf1WBaPqSXd0ZAtY/edit#slide=id.g3f411e60e9_0_155

<blockquote><img src="https://lh6.googleusercontent.com/_vO60E7Z21r_Wt8D2EvcpUodrA1wl1klLexYshNEYeZK_z

[2018-09-19 16:23] pedropombeiro commented on #5900
The fix is only for desktop builds, but we can do a quick check just to make sure that non-desktop builds weren't broken.

[2018-09-19 19:25] hesterbruikman opened #5907 "Increase tap surface and feedback"
### User Story

As a user I want any gesture based interactions on mobile to be easily discoverable and provide me with feedback to know if my action is succesful.

### Description
It ocasionally takes people multiple attempts to open the profile of someone in a public chat to invite them to a 1:1 chat. The tap area seems smaller than it needs to be and gives no feedback on tap. This issue is inte

[2018-09-20 02:42] noman-land opened #5909 "Desktop: Long messages cause list of channels to be too tall, with scrolling weirdness"
I'm on the Mac nightly (5467deec9). macOS 10.12.

The list of channels should probably crop the last message with some ellipses or something.

![long](https://user-images.githubusercontent.com/27938023/45792768-3f03e380-bc5d-11e8-9767-eae154622e7c.gif)

[2018-09-20 06:31] errorists commented on #5907
To kick this off, what is the current size of the touchable area for user avatars in public chats? Is it 36? Because if so, we should increase it like so
<img width="615" alt="screenshot 2018-09-20 at 08 28 17" src="https://user-images.githubusercontent.com/4932774/45799845-2cb29580-bcaf-11e8-9287-0c582ae64dbf.png">

Also, the touchable should provide visual feedback on touch, can we change it to

[2018-09-20 07:26] churik commented on #5900
@PombeirP yes, that's the idea. Can you provide a link to IOS/Android builds just in case?

[2018-09-20 07:28] pedropombeiro commented on #5900
@churik Here are the latest builds: https://github.com/status-im/status-react/pull/5786#issuecomment-422850615

[2018-09-20 07:48] churik commented on #5900
@PombeirP These are working fine for me, so I confirm that fix in https://ci.status.im/job/status-react/job/combined/job/desktop-macos/1258/artifact/StatusImPackage/StatusIm-180919-110543-af4d29-pr.dmg is working for desktop and doesn't affect mobile.

[2018-09-20 07:49] #4862 closed, assigned to vkjr

[2018-09-20 08:46] chadyj commented on #5909
Fixed in develop. Look out for the next nightly!

[2018-09-20 08:46] #5909 closed, assigned to nobody

[2018-09-20 08:48] #5903 closed, assigned to yenda

[2018-09-20 09:31] #5825 closed, assigned to dmitryn

[2018-09-20 09:46] #5885 closed, assigned to rasom

[2018-09-20 10:27] errorists commented on #5371
I've posted a possible solution over here, wdyt? https://github.com/status-im/status-react/issues/4345

[2018-09-20 11:09] #5705 closed, assigned to yenda

[2018-09-20 12:57] #5392 closed, assigned to dmitryn

[2018-09-20 12:57] mandrigin opened #5921 "Can't upload a build to the Play Store (metadata error)"
We get this error when trying to upload a build to the Play store

[code]

(see https://ci.status.im/job/status-react/job/combined/job/mobile-android/2695/console).

<blockquote><img src="/static/c32cacaf/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/combined/job/mobile-android/2695/console">status-react » combined » mobile-android #2695 Cons

[2018-09-20 13:04] chadyj commented on #5921
The folder [fastlane/metadata/android/pt](https://github.com/status-im/status-react/tree/develop/fastlane/metadata/android/pt) needs to be renamed `pt-PT`

[2018-09-20 13:04] yenda opened #5923 "Make it easier for PMs to update the list of default public chats"
# Problem

Currently PMs have to create an issue and wait for a developer to pick up the task of adding a default public chat

# Solution

Have a default-public-chats.edn file in the resources directory that can be edited by PMs to add public chats

[2018-09-20 13:08] chadyj commented on #5921
Issue was from this PR https://github.com/status-im/status-react/pull/5833

[2018-09-20 13:21] #5904 closed, assigned to yenda

[2018-09-20 13:58] yenda commented on #5921
I made a PR for renaming the folder if that is just that.

[2018-09-20 14:04] lukaszfryc commented on #5371
@errorists I like it a lot!

Here are more cases for you to think of:

1) Snackbar in wallet informing about temporary issues like:

<img src="https://user-images.githubusercontent.com/7532782/45822968-e54afa00-bcec-11e8-8ca1-5bdfd4d93350.png" width="200">

2) Snackbar saying "Cannot sign message in offline mode" in the sign message screen:

<img src="https://user-images.githubusercontent.com/7532

[2018-09-20 14:30] errorists commented on #5371
@lukaszfryc Absolutely, as long as you're offline or otherwise can't establish a connection we should display this notification. I'll prepare a design doc with guidelines on how it can be used against both the light and blue navigation bars and with longer strings like those.
Do we have a list somewhere with different types of connection states? I'd like to run it by @obi2020 to see if they can't

[2018-09-20 14:44] #5923 closed, assigned to nobody

[2018-09-20 14:45] #5921 closed, assigned to yenda

[2018-09-20 15:19] chadyj commented on #5271
Status routinely uses over 1.3GB on memory on a Mac.  More than 10x Slack or Chrome.

[2018-09-20 16:53] #5889 closed, assigned to mandrigin

[2018-09-20 18:38] arnetheduck opened #5928 "Makefile nitpicks for first-time compile on fedora28"
on 08c132c8a6f9209fae2fc08dac7cffe29c01e097, fedora 28, tried the makefile - here's an experience report:

* `make setup` missing fedora support - mostly works with below patch (except a few package names being different that get skipped):

[code]

* `make run-android` fails with cryptic message when `ANDROID_NDK_HOME` is different from `android/local.properties` - during the build process, it see

[2018-09-20 19:47] RyRy79261 opened #5929 "Sign arbitrary messages to Dapps"
### User Story

As a user, I want to sign arbitrary messages so that Dapps can be supplied additional, non-critical data.

### Description
*Type*: Feature

*Summary*: Dapps often require certain arbitrary data from users to enhance the UX or add additional novel functionality to the dapp.

#### Expected behavior
Dapp will request account data from the user, user will then sign access to the dapp.

[2018-09-20 20:05] yenda commented on #5928
I think it doesn't find the start-dev-* because they are not explicitly written in the file

[2018-09-21 00:00] yenda commented on #1407
console doesn't exist anymore

[2018-09-21 00:00] #1407 closed

[2018-09-21 00:00] yenda commented on #1401
This part of the app was completely refactored and the issue doesn't exist anymore

[2018-09-21 00:00] #1401 closed

[2018-09-21 00:02] yenda commented on #1455
@jeluard do you still have this error after the init refactoring ? There shouldn't be any race conditions during init now

[2018-09-21 00:03] yenda commented on #1565
Too old to be relevant

[2018-09-21 00:03] #1565 closed

[2018-09-21 00:04] yenda commented on #1630
@3esmit is it still relevant ?

[2018-09-21 00:05] yenda commented on #1564
@alwx is it still relevant ?

[2018-09-21 00:07] yenda commented on #296
@andmironov @denis-sharypin can we close this ?

[2018-09-21 00:09] yenda commented on #805
@rasom is it implemented now ?

[2018-09-21 00:11] yenda commented on #5385
@KatrinBrynka sorry for the delay can you show the contact code screen before and after ? How are you entering the seed phrase ?

[2018-09-21 00:12] yenda commented on #693
@andmironov @denis-sharypin can we close this ?

[2018-09-21 00:14] yenda commented on #1837
We currently use 1.10.238

[2018-09-21 00:14] #1837 closed, assigned to nobody

[2018-09-21 00:16] yenda commented on #2039
@jeluard could you confirm with your slow phone that it is faster now :D ?

[2018-09-21 00:17] yenda commented on #1890
@jakubgs since you were working on artifactory yesterday do you think this we can close this issue ?

[2018-09-21 00:17] #2032 closed, assigned to nobody

[2018-09-21 00:18] yenda commented on #1828
@jakubgs can we close this now that the CI has been completely changed ?

[2018-09-21 00:19] yenda commented on #1712
there is no sidebar anymore

[2018-09-21 00:19] #1712 closed, assigned to andmironov

[2018-09-21 00:19] yenda commented on #1751
@flexsurfer isn't it fixed already ?

[2018-09-21 00:20] yenda commented on #1679
This will be replaced by the emoji guard

[2018-09-21 00:20] #1679 closed, assigned to nobody

[2018-09-21 00:21] yenda commented on #2619
This is gone

[2018-09-21 00:21] #2619 closed, assigned to nobody

[2018-09-21 00:22] yenda commented on #2616
This issue is not relevant anymore after all the design changes and 16 versions since

[2018-09-21 00:22] #2616 closed, assigned to nobody

[2018-09-21 00:28] yenda commented on #2571
@asemiankevich has it been done already ?

[2018-09-21 00:29] #2506 closed, assigned to nobody

[2018-09-21 00:29] #2505 closed, assigned to nobody

[2018-09-21 00:30] #2460 closed, assigned to nobody

[2018-09-21 00:30] yenda commented on #2544
@oskarth is this still relevant ?

[2018-09-21 00:32] #3188 closed, assigned to nobody

[2018-09-21 00:32] #2404 closed, assigned to nobody

[2018-09-21 03:53] 3esmit commented on #1630
never happened again

[2018-09-21 03:53] #1630 closed, assigned to nobody

[2018-09-21 04:01] jakubgs commented on #1828
I think we can.

[2018-09-21 04:01] #1828 closed, assigned to nobody

[2018-09-21 04:01] jakubgs commented on #1890
Not entirely. I'm pretty close tough. I might be able to kill this next week.

[2018-09-21 05:23] #2571 closed, assigned to nobody

[2018-09-21 06:10] jeluard commented on #2039
Wow almost 1 year old!

[2018-09-21 06:10] #2039 closed, assigned to nobody

[2018-09-21 06:11] jeluard commented on #1455
This one is really old ..

[2018-09-21 06:11] #1455 closed

[2018-09-21 06:14] #1826 closed, assigned to nobody

[2018-09-21 06:14] #2235 closed, assigned to nobody

[2018-09-21 06:14] #2312 closed, assigned to nobody

[2018-09-21 06:14] #3015 closed, assigned to nobody

[2018-09-21 06:14] #3140 closed, assigned to nobody

[2018-09-21 06:14] #3276 closed, assigned to nobody

[2018-09-21 06:14] #3330 closed, assigned to nobody

[2018-09-21 06:15] #3372 closed, assigned to nobody

[2018-09-21 06:15] #3458 closed, assigned to nobody

[2018-09-21 06:15] #3583 closed, assigned to nobody

[2018-09-21 06:15] #4018 closed, assigned to nobody

[2018-09-21 07:21] pedropombeiro opened #5931 "Adapt Status Desktop builds to use Jenkins status-go artifacts"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to Desktop builds to not build status-go locally and instead download the official builds, so that builds are reproducible and less time is spent building.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, o

[2018-09-21 07:54] EugeOrtiz opened #5933 "Apply design to name + image editing under "Profile""
### Description
*Type*: Bug

Apply the intended design to name+image editing under "Profile" on Status Desktop.

#### Expected behavior
<img width="244" alt="captura de pantalla 2018-09-21 a la s 9 48 13 a m" src="https://user-images.githubusercontent.com/37297779/45867326-7ec4eb00-bd83-11e8-91ad-72dc96ad0090.png">

#### Actual behavior
<img width="327" alt="captura de pantalla 2018-09-21 a la s 9

[2018-09-21 07:58] churik opened #5934 "Text is not persisted in message input field after navigating to user profile and back"
### Description

*Type*: Bug
*Summary*: if you type part of message and navigate to user profile in public chat or to own profile, i.e., for copying public key, after coming back message will be erased.

#### Expected behavior
text is persisted

#### Actual behavior
text is erased

### Reproduction

- Open Status
- Open public chat
- Type any message
- Click on profile
- Go back to Home

### Addit

[2018-09-21 08:18] lukaszfryc commented on #5371
We have different states like "Connecting to peers", "Fetching messages", "Offline", etc. @mandrigin is there one place in the code where we can find those states?

[2018-09-21 08:28] yenda commented on #1263
Fixed

[2018-09-21 08:28] #1263 closed

[2018-09-21 08:29] #1192 closed

[2018-09-21 08:31] churik opened #5935 "Apply design to Edit Username functionality"
### Description

*Type*: Bug

*Summary*: make Edit Username functionality in Profile according to design in https://github.com/status-im/status-react/issues/5456 (zpl.io/brE1NdX).
Created in continuation of https://github.com/status-im/status-react/pull/5896

### Summary:

- [ ] Put focus to the editable area when the user is in editable mode

When you open Profile -> Edit you should manually set

[2018-09-21 08:31] #1279 closed

[2018-09-21 08:32] yenda commented on #1279
Command have been rewritten

[2018-09-21 08:32] churik commented on #5935
@EugeOrtiz review is appreciated, probably I missed smth.

[2018-09-21 08:54] yenda commented on #1762
@pablanopete yes it is still relevant

[2018-09-21 09:00] Serhy opened #5936 "App crash when sending Request to contact from Wallet"
***Type***: Bug

***Summary***: App crashes with an `Error: Error: There is no route defined for key home.
Must be one of: 'wallet-request-transaction','wallet-send-transaction-request','wallet-request-assets','recent-recipients'` when contact sends a `Request` from `Wallet` -> `Receive tranaction` -> `New request` screen.

#### Expected behavior
Request message sent in 1-1 chat

#### Actual behav

[2018-09-21 09:26] #3092 closed, assigned to nobody

[2018-09-21 09:26] #4637 closed, assigned to nobody

[2018-09-21 09:27] lukaszfryc commented on #5578
@goranjovic here are logs from this crash: https://gist.github.com/lukaszfryc/dd5f3bdab4588ebbfa9558760a6a0ddc.

<blockquote><img src="https://avatars3.githubusercontent.com/u/7532782?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> Gist</div><div><strong><a href="https://gist.github.com/lukaszfryc/dd5f3bdab4588ebbfa9558760a6a0ddc">doesnt_s

[2018-09-21 09:47] churik opened #5938 "User remains in editable mode ("Edit username") when navigating through application"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: when user click on "Edit username" and set focus in username field, after changing tab/navigating through app user still remains in editable mode (presented in https://github.com/status-im/status-react/pull/5896)

#### Expected behavior
"Edit" is shown; user is not in editable mode

#### Actual behavior
user is s

[2018-09-21 09:56] churik commented on #5935
Closed as duplicate of https://github.com/status-im/status-react/issues/5933

[2018-09-21 09:56] #5935 closed, assigned to nobody

[2018-09-21 10:03] lukaszfryc commented on #5356
@naghdy had this issue recently. I believe it was still on the old build so he did not see a snackbar with wallet errors.
Anyway, here is his logcat. There are no entries about cryptocompare api requests. @goranjovic maybe there is a different reason for this issue?

[code]

[2018-09-21 10:08] denis-sharypin commented on #693
yes

[2018-09-21 10:09] denis-sharypin commented on #296
yes

[2018-09-21 10:10] #693 closed

[2018-09-21 10:11] #296 closed

[2018-09-21 10:34] churik opened #5942 ""Privacy Policy" is opened if you are clicking on any area below "Add existing account""
### Description

*Type*: Bug

*Summary*: whole app area below `Add existing account` button is clickable (redirecting to Privacy Policy)

#### Expected behavior
only link is clickable
<img width="568" alt="2" src="https://user-images.githubusercontent.com/4557972/45876270-d6268380-bda2-11e8-9689-5e934e478cc2.png">

#### Actual behavior
<img width="568" alt="3" src="https://user-images.githubuserco

[2018-09-21 10:37] yenda commented on #4922
@arnetheduck I suppose we can close this since mixpanel was removed ?

[2018-09-21 10:37] #4922 closed, assigned to nobody

[2018-09-21 10:37] #5900 closed, assigned to nobody

[2018-09-21 10:39] #940 closed

[2018-09-21 10:39] yenda commented on #2693
done

[2018-09-21 10:39] #2693 closed, assigned to nobody

[2018-09-21 10:48] yenda commented on #4509
Closed by https://github.com/status-im/status-react/pull/5819

[2018-09-21 10:48] #4509 closed, assigned to nobody

[2018-09-21 10:49] #4470 closed, assigned to nobody

[2018-09-21 10:50] #2454 closed, assigned to janherich

[2018-09-21 11:02] #2341 closed, assigned to nobody

[2018-09-21 11:06] janherich commented on #5936
I will fix that today

[2018-09-21 11:30] pedropombeiro commented on #5807
If there's anything I can do to help here, let me know. It's been the platform for 90% of my developer career, after all.

[2018-09-21 13:14] chadyj commented on #5880
Just curious... why have a drop down vs the mobile display?

The mockup is also missing the ability to add custom mail servers.

Will this system work for other type of settings, such as bootnodes? How about granular notification settings?

[2018-09-21 17:49] chadyj commented on #5807
From Slack:

[2018-09-21 19:49] chadyj commented on #692
Shouldn't be a problem anymore

[2018-09-21 19:49] #692 closed

[2018-09-21 19:51] chadyj commented on #663
Closing since this is more active/recent https://github.com/status-im/status-react/issues/5557

[2018-09-21 19:51] #663 closed

[2018-09-21 19:54] #1586 closed

[2018-09-21 19:56] chadyj commented on #2560
Closing. We are using Lokalise and it provides all of the user stories

[2018-09-21 19:56] #2560 closed, assigned to Alonski

[2018-09-21 19:57] chadyj commented on #2583
Closing, as we have had a lot of app changes and this shouldn't be an issue. Please re-open if the problem persists.

[2018-09-21 19:57] #2583 closed, assigned to nobody

[2018-09-22 06:38] rasom commented on #5877
I can't reproduce this

[2018-09-22 06:59] lukaszfryc commented on #5877
It was fixed recently by Eric.

[2018-09-22 06:59] #5877 closed, assigned to yenda

[2018-09-24 01:59] oskarth commented on #4510
@chadyj Deferring to you regarding new localization efforts, do you want to keep this open or close it?

[2018-09-24 02:00] oskarth commented on #2885
^ @dmitryn @yenda @cammellos  haven't touched this code in a while - do you know if this issue is still relevant or if we should close it?

[2018-09-24 02:01] #2544 closed, assigned to nobody

[2018-09-24 02:02] oskarth commented on #2753
I believe this issue is still relevant, but deferring to @mandrigin and @rasom in terms of how useful it would be.

[2018-09-24 02:02] oskarth commented on #2872
Deferring to @mandrigin @goranjovic  and @chadyj for what to do with this issue.

[2018-09-24 06:48] chadyj commented on #4510
Let's close it and hand it over to #localization.
@pablanopete got someone in mind?

[2018-09-24 06:48] #4510 closed, assigned to nobody

[2018-09-24 07:12] janherich commented on #4892
@asemiankevich @annadanchenko Is this still happening, or can we close this ?

[2018-09-24 07:16] #4543 closed, assigned to janherich

[2018-09-24 07:16] janherich commented on #4193
Is this still a problem @lukaszfryc, or can we close this ?

[2018-09-24 07:17] janherich commented on #4028
Group chats are disabled and being completely reworked, closing for now

[2018-09-24 07:17] #4028 closed, assigned to janherich

[2018-09-24 07:17] asemiankevich commented on #4892
@janherich havent seen this for a while. Closing

[2018-09-24 07:17] #4892 closed, assigned to janherich

[2018-09-24 07:17] janherich commented on #4024
Group chats are currently disabled and being completely reworked, closing for now

[2018-09-24 07:17] #4024 closed, assigned to janherich

[2018-09-24 07:18] janherich commented on #3950
Group chats are currently disabled and being completely reworked, closing for now

[2018-09-24 07:18] #3950 closed, assigned to janherich

[2018-09-24 07:19] janherich commented on #3900
Group chats are currently disabled and being completely reworked, closing for now

[2018-09-24 07:19] #3900 closed, assigned to janherich

[2018-09-24 07:19] janherich commented on #3893
Group chats are currently disabled and being completely reworked, closing for now

[2018-09-24 07:19] #3893 closed, assigned to janherich

[2018-09-24 07:19] janherich commented on #3891
Group chats are currently disabled and being completely reworked, closing for now

[2018-09-24 07:19] #3891 closed, assigned to janherich

[2018-09-24 07:41] mariapaulafn opened #5948 "Default name showing up at login instead of my nick/id"
[comment]: # (Please replace ... with your information. Remove < and >)

I've been a status mobile user for long, however when using desktop, my name does not load at login. See screenshots.

As a user, I want to see my name as displayed on mobile.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the

[2018-09-24 07:48] errorists commented on #4345
And here's the design spec.

<img width="497" alt="slice" src="https://user-images.githubusercontent.com/4932774/45941219-69e39400-bfdd-11e8-92c6-f3cba2f0ed0a.png">

I'd like us to use a custom spinner there, which file format would we want to use here
• Lottie https://airbnb.design/lottie/
• APNG
• GIF
• PNG sequence
?

A nice to have -> Animate displaying the Activity notification
Animated.timin

[2018-09-24 08:13] churik commented on #5948
@mariapaulafn
thanks for your issue!

However, there is no sync between mobile and desktop version (known issue, https://github.com/status-im/status-react/issues/4367)
For now, your username and profile pic are stored on the device.

[2018-09-24 08:13] #5948 closed, assigned to nobody

[2018-09-24 08:21] asemiankevich opened #5949 "Contract deploy transaction appears when i respond to transaction request in 1x1 chat"
### Description

*Type*: Bug

*Summary*: Was found while testing https://github.com/status-im/status-react/pull/5943. Talked to Jan and agreed that is in develop most likely since original PR is just fixing navigation issue.

contract deploy transaction appears when i respond to transaction request in 1x1 chat on Android.

NOTE: when performing same scenario vise versa (iOS is the recipient in the

[2018-09-24 08:42] #5936 closed, assigned to janherich

[2018-09-24 08:54] lukaszfryc opened #5950 "Closing browser redirects to new dapp screen instead of home screen"
### Description

*Type*: Bug

*Summary*: When user opens custom url like "www.bbc.com" and then closes the browser window he gets redirected to "Open DApp" screen instead of the home screen. This does not happen when dapp is opened from a list or existing browser window is opened from home screen.

#### Expected behavior
User is redirected to the home screen.

#### Actual behavior
User is redirect

[2018-09-24 09:35] yenda commented on #2885
I don't think it is still relevant, currently the peer is added then nothing happens until there is a signal from the discovery protocol that a peer was added and the added peer was the mailserver we are connecting to, only then does it proceeds to mark the peer as trusted

[2018-09-24 09:35] #2885 closed, assigned to nobody

[2018-09-24 09:43] flexsurfer opened #5951 "[JS API] It should be possible to access user's contacts from Dapps"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Dapp developer, I want to access user's contacts, names, wallet addresses, contact codes

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-09-24 10:02] flexsurfer opened #5953 "[JS API] It should be possible to access user's profile from Dapps"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Dapp developer, I want to access user's profile (name and contact code)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-09-24 10:06] lukaszfryc opened #5954 "Can't upgrade to 0.9.28 version. Problem with encryption key"
### Description

*Type*: Bug

*Summary*:

When app is upgraded from 0.9.27 to 0.9.28 from TestFlight there is an error. When I clicked “Apply”, I ended up on a blank screen with spinner. After couple of seconds, the “encryption key” error popup appeared again. I’m testing on iOS 12.

<img src="https://user-images.githubusercontent.com/7532782/45946653-d2d50700-bff1-11e8-8344-065b455c8016.png" widt

[2018-09-24 10:07] asemiankevich opened #5955 "Error undefined is not a function (evaluating 'e.stopWatching') when switching networks"
### Description

*Type*: Bug

*Summary*:
[code]

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/45946803-ad98c680-bffa-11e8-9f51-e3b951bc6962.png)

### Reproduction

- open status
- create account
- tap profile - development mode - networks - ropsten. Error shown

After i tap OK at the error message - app crashes

[2018-09-24 10:09] #2854 closed, assigned to nobody

[2018-09-24 10:09] #5870 closed, assigned to jeluard

[2018-09-24 10:09] #5895 closed, assigned to alwx, yenda

[2018-09-24 10:54] btu-admin opened #5959 "How to change AppID and refactor package name android"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to change de AppID for android and refector the package name for publishing on the playstore.

### Description

# Hello, we want to change appID and the package name of the android APP, what is the best pratice ?

[2018-09-24 11:29] churik opened #5960 "Chat scroll is jumping when input text area edges and message edges are overlapping"
### Description

*Type*: Bug

*Summary*: chat jumps to several rows in the case when the edge of message and edge of input area are overlapping. Same behavior when scrolling to start of day history (to "Today" label for instance)
![scro](https://user-images.githubusercontent.com/4557972/45949606-184eff80-c005-11e8-88d7-a066f04e1317.png)

#### Expected behavior
no autoscrolling

#### Actual behavio

[2018-09-24 13:16] bitsikka opened #5962 "Chat Scroll on one pane carries over to another pane in Status Desktop"
### User Story

As a user I expect UX/user interaction to be consistent with standards already established in popular apps with same context.

### Description

*Type*: Bug

*Summary*: There is at the moment two main panes in Status desktop - the chat list pane, and the chat pane. When I start scrolling up or down with mouse on one pane, and then roll the mouse over to other pane, the other pane al

[2018-09-24 13:24] churik commented on #5962
@bitsikka
Can you please attach a video?
I cannot reproduce it on Mac OSx, nightly 24/09/18
Video: http://take.ms/wTO9d

[2018-09-24 13:28] rasom commented on #5954
@lukaszfryc fix pushed directly to `release/0.9.28`
in `develop` issued will be fixed by upgrading `realm-js`

[2018-09-24 13:43] #5898 closed, assigned to dmitryn

[2018-09-24 13:49] flexsurfer opened #5963 "[JS API] It should be possible to share content from Dapps in user's messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Dapp developer, I want to send some info to user's contacts or public chats. For example, i want to send invitation link, or share some results or achievements, or "Look i just got this NFT"

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-09-24 13:50] #1280 closed

[2018-09-24 13:50] #1282 closed

[2018-09-24 13:51] #1298 closed

[2018-09-24 13:51] #1299 closed

[2018-09-24 13:51] #1300 closed

[2018-09-24 13:51] #1301 closed

[2018-09-24 13:59] dmitryn opened #5964 "Build screens for HW Flow 2"
### Description

Most of the screens for hardwallet flow 2 (`Exporting the client account from a logged-in state to the hardwallet`) are the same as flow 1 screens, but there are some new that needs to be built:

* Enter pair code https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=591%3A998
* Screens from step 3 which are the same, but different text and button ("in

[2018-09-24 14:02] #5942 closed, assigned to rasom

[2018-09-24 14:03] #5934 closed, assigned to rasom

[2018-09-24 14:05] #5938 closed, assigned to rasom

[2018-09-24 14:26] jeluard commented on #5929
Do you have any idea/suggestion what this could look like in the context of status?

[2018-09-24 14:38] #5626 closed, assigned to maxhora

[2018-09-24 14:49] Serhy opened #5967 "Navigation to Wallet main screen happens when tap 'Back' from Wallet onboarding initiated in 1-1 chat"
***Type***: Bug

***Summary***: If user recovered an account (or created a new one) (s)he need to "Set up a Wallet" (three words phrase). Navigation to Wallet Set Up screen happens when contact wants to send a transaction from 1-1 chat. In a case when user decides to navigate back from ' Wallet Set Up' screen he winds up on main Wallet tab, and NOT 1-1 chat.
We need to return user back to 1-1 chat

[2018-09-24 14:50] bitsikka commented on #5962
@churik
https://youtu.be/BmnqaNW0uBo

<blockquote><img src="https://i.ytimg.com/vi/BmnqaNW0uBo/hqdefault.jpg" width="48" align="right"><div><img src="/yts/img/favicon_144-vfliLAfaB.png" height="14"> YouTube</div><div><strong><a href="https://www.youtube.com/watch?v=BmnqaNW0uBo">Screen Recording</a></strong></div><div> </div></blockquote>

[2018-09-24 14:50] #5365 closed, assigned to nobody

[2018-09-24 14:52] bitsikka commented on #5962
what you are missing is quickly rolling over once you scroll(before the elasticity of mouse scroll dies out).
I'm using the wireless magic mouse btw, if that makes a difference.

[2018-09-24 14:56] corpetty opened #5968 "Dependency vulnerability with PyCryptodome"
## Description
Github has reported a integer overflow vulnerability with the version we use of pycryptodome, please see this [CVE](https://nvd.nist.gov/vuln/detail/CVE-2018-15560) for details.

## Remediation
upgrade from v3.6.1 to v3.6.6

## Media
![screenshot from 2018-09-24 10-51-36](https://user-images.githubusercontent.com/2460145/45959685-7a4d3c00-bfe8-11e8-9fc4-cbc147b0c3d8.png)

[2018-09-24 15:01] corpetty commented on #5968
Only breaking change in changelog since 3.6.1. is the following:

[code]

None of the previously mentioned functions are used within this repo.

[2018-09-24 15:04] lukaszfryc commented on #5954
Works fine

[2018-09-24 15:04] #5954 closed, assigned to rasom

[2018-09-24 15:30] #5698 closed, assigned to flexsurfer

[2018-09-24 15:44] mandrigin opened #5971 "Use safeAreaLayoutGuide instead of hardcode check for iPhone X"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Currently the content on iPhones XS/XS Max/XR overlaps notch & control areas (see screenshot).
It happens, because we have hardcoded checks for iPhone X and hardcoded values for the insets.

Instead, we should use [`safeAreaLayoutGuide `](https://devel

[2018-09-24 15:49] ghost commented on #4948
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4955
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #3289
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #2878
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4426
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4934
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4928
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4573
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4915
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4907
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #2274
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #2285
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4861
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4867
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4808
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4807
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4825
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4815
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #1125
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #3766
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4802
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4765
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #3751
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #379
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4793
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4619
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4787
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4624
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4764
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:49] ghost commented on #4744
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:58] ghost commented on #4722
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4699
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4710
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4691
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4694
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4695
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #3902
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4638
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4675
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4687
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4567
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4187
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #208
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4247
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #3996
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4487
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4440
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4612
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4611
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #2905
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4627
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4622
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4324
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4570
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4610
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #3408
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4352
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #436
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4528
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 15:59] ghost commented on #4445
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:02] chadyj commented on #4187
Sorry @status-github-bot we want this issue.

[2018-09-24 16:07] #5950 closed, assigned to nobody

[2018-09-24 16:08] ghost commented on #4459
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4458
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3995
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #2491
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4437
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4216
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4344
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4339
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #1284
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #240
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3581
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3513
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #717
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4222
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4103
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #2713
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #2714
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3278
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3340
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3370
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3622
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3613
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4178
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3930
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3112
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4050
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4045
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3464
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #4042
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:09] ghost commented on #3892
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:18] ghost commented on #3977
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3634
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3423
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #4003
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #4001
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #4000
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3880
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3882
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3864
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3815
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3721
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3610
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3598
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3655
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3526
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #733
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3601
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3618
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3554
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3536
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3530
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3124
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3422
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3406
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3217
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3375
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3368
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3365
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #3353
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:19] ghost commented on #2965
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:28] ghost commented on #3310
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3286
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3142
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3103
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3135
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3133
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3125
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2931
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #3047
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2880
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2840
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2866
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2832
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2791
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2718
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2689
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2700
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2662
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #1366
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2646
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2621
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2614
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2629
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2482
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2561
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #718
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2543
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2276
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2103
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:29] ghost commented on #2432
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:38] ghost commented on #706
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #2311
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #2318
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #339
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #646
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1039
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #163
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1473
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1940
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1856
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1363
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1786
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1759
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1758
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1753
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1752
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #703
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #699
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #681
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1645
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1643
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1531
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1578
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #686
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #632
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #546
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1149
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #194
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #1150
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:39] ghost commented on #631
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:48] ghost commented on #166
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #167
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #168
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #169
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #853
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1406
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1424
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1384
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1376
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1126
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1223
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #1131
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #895
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #986
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #949
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #946
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #905
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #683
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #800
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #795
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #716
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #794
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #203
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #333
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #12
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #207
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:49] ghost commented on #591
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-24 16:55] oskarth commented on #2931
Data collected outdated since Whisper changes. Likely to change with LES etc.

[2018-09-24 16:55] #2931 closed, assigned to nobody

[2018-09-24 17:30] yevh-berdnyk opened #5975 "Sending a transaction from 1-1 chat with wallet set up ends up on Wallet 'Set up your screen'"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
***Type***: Bug

***Summary***: User is navigated to Wallet view instead of 1-1 chat if sending funds from 1-1 chat and performing wallet set up after clicking Send message button

#### Expected behavior
User is returned back to the 1-1 chat

#### Actual behavior
U

[2018-09-24 19:43] #1223 closed

[2018-09-24 19:44] #2285 closed, assigned to nobody

[2018-09-24 19:44] #2274 closed, assigned to nobody

[2018-09-24 19:57] #3205 closed, assigned to nobody

[2018-09-24 20:17] pablanopete commented on #3187
@goranjovic is this issue still relative?

[2018-09-24 20:17] pablanopete commented on #4846
To be revoked @andytudhope

[2018-09-24 20:19] pablanopete commented on #4297
To be revoked @andytudhope

[2018-09-25 04:12] noman-land commented on #2832
New link is: https://facebook.github.io/react-native/docs/getting-started.html

<blockquote><img src="/react-native/img/favicon.png" width="48" align="right"><div><strong><a href="https://facebook.github.io/react-native/index.html">Getting Started · React Native</a></strong></div><div><style></div></blockquote>

[2018-09-25 07:18] ghost commented on #4596
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-25 07:19] ghost commented on #3824
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-25 07:28] ghost commented on #3631
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-25 07:56] rachelhamlin opened #5979 "Add ENS names to profile screen"
### User Story

As a user, I want to discover ENS names from my profile screen so I can register an ENS address.

### Description

*Type*: Feature

*Summary*: Add navigation to the ENS DApp into the Status profile screen.

#### Expected behavior
![image](https://user-images.githubusercontent.com/15470435/45999645-87c8fb80-c0a6-11e8-881e-918dd3eb8e1b.png)

Clicking on `ENS names` should open `statu

[2018-09-25 08:38] ghost commented on #4959
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-25 08:42] Serhy commented on #4915
Closing because I could not reproduce it now with 0.9.28 build and haven't seen it for a while already.

[2018-09-25 08:42] #4915 closed, assigned to nobody

[2018-09-25 08:48] ghost commented on #4961
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-25 09:12] lukaszfryc commented on #4961
I think it's still worth to do @goranjovic. Same as #4959

[2018-09-25 09:32] lukaszfryc opened #5981 ""Hello" popup appears on every log in"
### Description

*Type*: Bug

*Summary*: “Hello, thank you for choosing Status, we are in Beta...” popup appears every time user logs in. Instead, it should be shown only after creating an account and logging in or when old account is recovered.

### Reproduction

- Log in, see the popup
- Kill the app
- Log in again. Popup should not be visible anymore

### Additional Information
* Status version

[2018-09-25 09:40] rasom commented on #5892
https://bugreports.qt.io/browse/QTBUG-68060

<blockquote><img src="/s/-fyc67a/711002/7b049b77f66e256a8f5944987495e729/_/jira-favicon-hires.png" width="48" align="right"><div><strong><a href="https://bugreports.qt.io/browse/QTBUG-68060">[QTBUG-68060] [QtQuick, Android] Emoji is not displayed when used with non-Latin text - Qt Bug Tracker</a></strong></div></blockquote>

[2018-09-25 09:41] rasom commented on #5892
looks more like `react-native-desktop`'s bug as strings are encoded correctly on cljs side

[2018-09-25 10:06] rasom commented on #5892
is blocked by https://github.com/status-im/react-native-desktop/issues/347

[2018-09-25 11:25] Serhy opened #5984 "Keyboard overlaps message input in public modal chat screen on iPhone"
***Type***: Bug

***Summary***: Keyboard overlaps message input in public modal chat screen on iPhone. If the predictive text is enabled on the device then it also overlaps message input.

#### Expected behavior
Keyboard does not overlap message input in public modal chat screen on iPhone

#### Actual behavior
Keyboard overlaps message input in public modal chat screen on iPhone
<img width="300" a

[2018-09-25 11:28] errorists opened #5985 "Add animation to sent messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see sent messages animate so that I can distinguish incoming messages from old messages at a glance and draw my attention to new messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise

[2018-09-25 11:59] #4031 closed, assigned to yenda

[2018-09-25 12:24] #5670 closed, assigned to rasom

[2018-09-25 12:48] ghost commented on #4972
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-25 12:55] leafcutterant opened #5988 "Make file names in the Artifactory server folder more useful"
If I'm not mistaken, non-Google APK builds can be found here: http://artifacts.status.im:8081/artifactory/nightlies-local/

The file naming logic makes it very hard to browse this folder because
* the file names contain a hash instead of the app version, and since it's hard-sorted by name, it makes it difficult to find the latest builds, and
* there are multiple files with the same tag and the sam

[2018-09-25 13:13] leafcutterant opened #5989 "Can't install Artifactory releases on Android, "Parse error""
### User Story

As a user, I want to use Status on Android without using the Google Play store.

### Description
*Type*: Bug

*Summary*: I can't use Google Play. Devs on the chat told me to download a build from this [Artifactory server folder](http://artifacts.status.im:8081/artifactory/nightlies-local/) to use the app outside the Google Play store. I downloaded all the 24-Aug and 27-Aug builds w

[2018-09-25 13:20] #5981 closed, assigned to yenda

[2018-09-25 13:23] churik commented on #5135
closed because access to keychain is not requested by app after https://github.com/status-im/status-react/issues/5423 was closed

[2018-09-25 13:23] #5135 closed, assigned to gnl

[2018-09-25 13:26] churik commented on #5136
Fixed in https://github.com/status-im/status-react/pull/5329

[2018-09-25 13:26] #5136 closed, assigned to vitvly

[2018-09-25 13:29] churik commented on #5150
not reproducible in nightly 25/09/2018

[2018-09-25 13:29] #5150 closed, assigned to nobody

[2018-09-25 13:36] churik commented on #5156
closed in https://github.com/status-im/status-react/pull/5329

[2018-09-25 13:36] #5156 closed, assigned to vitvly

[2018-09-25 13:40] churik commented on #5200
closed in https://github.com/status-im/status-react/pull/5329

[2018-09-25 13:40] #5200 closed, assigned to vitvly

[2018-09-25 13:57] churik commented on #5811
blocked by RN-issue  status-im/react-native-desktop#338

[2018-09-25 14:00] churik commented on #5841
@EugeOrtiz can you take a look, please?

[2018-09-25 14:04] churik commented on #5858
Link to test suite:
https://ethstatus.testrail.net/index.php?/suites/view/49&group_by=cases:section_id&group_order=asc&group_id=756

All tests with `Critical` priority are marked as `To be automated`

[2018-09-25 14:14] #5984 closed, assigned to nobody

[2018-09-25 14:34] rasom commented on #5271
So this is not something Status specific, that's how `FlatList` works in `react-native-desktop`

[2018-09-25 14:38] rasom commented on #5271
blocked by https://github.com/status-im/react-native-desktop/issues/348

[2018-09-25 14:52] lukaszfryc commented on #5971
Btw, on my side iPhone XS looks fine. The issue is with XR (and probably Max)

<img src="https://user-images.githubusercontent.com/7532782/46022625-41de5880-c0e3-11e8-91a0-15de7e3ce3e2.png" width="200">

[2018-09-25 15:17] Serhy opened #5991 "Dapp cant recognise Status as web3 provider with enabled Web3 OptIn Access"
***Type***: Bug

***Summary***:  With enabled `Opt-In web3 provider access` option Dapp should ask for permitions to connect to wallet. Even is permissions granted - the `web3 provider` still `Unknown' (while `Status` as an option should be recognised)

#### Expected behavior
Dapp recognise Status as web3 provider with enabled Web3 OptIn Access
#### Actual behavior
Dapp can't recognise Status as w

[2018-09-25 17:41] ghost commented on #4678
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-26 07:05] errorists opened #5998 "Remove the San Francisco font files from the 'ios' directory."
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I don't need to bundle the San Francisco font files inside the app as they are already provided by iOS.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected

[2018-09-26 07:05] #4846 closed, assigned to nobody

[2018-09-26 07:16] asemiankevich opened #6000 "Insufficient funds shown when answering request in 1x1 chat if i did not open wallet tab in advance"
### Description

*Type*: Bug

*Summary*: `Insufficient funds` shown for token asset when answering token request in 1x1 chat if user did not open wallet tab before (tokens are requested in Simple dapp in advance)

#### Expected behavior
I am able to send tokens right after my balance is updated and i i dont want to be forced to open wallet tab before i can start transacting

#### Actual behavior

[2018-09-26 07:25] asemiankevich opened #6001 "Add option to switch languages in the application settings"
### Description

*Type*: Bug

*Summary*: As a user I want to have an option to switch languages in the app

#### Expected behavior
1. App should follow device language
2. User has the ability to change the language to any other supported in app settings.

 Languages and translations are here
https://github.com/status-im/status-react/blob/develop/src/status_im/i18n.cljs#L16

#### Actual behavior
Ap

[2018-09-26 07:26] chadyj commented on #5456
Update: Editing username is now working. Leaving this open until editing a picture works.

[2018-09-26 08:34] Serhy opened #6003 "Migrate to new testrail suite for mobile app"
User story: As a test engineer I want to use new test suite with sepate sections of tests sorted by its priority

- [X] Current test suite moved to a new project in testrail
- [X] Automated tests updated to report test results to the new project

[2018-09-26 08:54] naghdy opened #6004 "Can't Chat with non-contact user from Public Chat"
### User Story

Find a user in a group chat, click their name and start chatting with them.

### Description

# Bug

I find a user in a group chat, then tap their avatar to chat with them. After I click "Send Message" it takes me to an empty chat window. However anything I type, doesn't end up going through

#### Expected behavior
Messages should go through when I'm trying with him.

#### Actual b

[2018-09-26 08:57] Serhy opened #6005 "'fx/defn expects a map of cofx...' error trying to clear 1-1/public chat history"
***Type***: Bug

***Summary***:
An error appears when contact tries to clear 1-1 / public chat history.
Chat history is not cleared.
User can proceed to use the app fine.
Also reproducible for desktop builds.

#### Expected behavior
1-1 / public chat history is cleared upon confirm "Are you sure you want to clear this chat history?" popup
#### Actual behavior
<img width="216" alt="screen shot 2018

[2018-09-26 08:59] Serhy commented on #6005
Reproduced in Status Desktop as well

[2018-09-26 09:20] churik commented on #6004
Closed as duplicate of https://github.com/status-im/status-react/issues/5645
Fixed after merge of https://github.com/status-im/status-react/pull/5782

[2018-09-26 09:20] #6004 closed, assigned to nobody

[2018-09-26 10:10] Serhy commented on #3634
This is not an issue anymore (we updated sending transaction flow in 1-1 chat)
However, https://github.com/status-im/status-react/issues/4923 still actual (and might have the same root cause as this issue: we do not send a contact request upon tap 'Send transaction' from contact profile which might be a reason why the address has not recognised).
Closing this one!

[2018-09-26 10:10] #3634 closed, assigned to nobody

[2018-09-26 10:12] Serhy commented on #3655
Not an issue anymore! (0.9.28 release)

[2018-09-26 10:12] #3655 closed, assigned to nobody

[2018-09-26 10:26] churik opened #6009 "Public and 1-1 chat cannot be used if contact code for 1-1 chat and public chat name are matched"
### Description

*Type*: Bug
*Summary*: if you create any public chat with contact code name (i.e. `0x040fb3b30e25e8ba6576e1f5092bc1a210e8b43c56521a677c2a2c3f6a32ebda1a1971f396e5cbb4f6a108b788ff4f929f94d896589b6e3529b8f5da6ce710c214`), you cannot use 1-1 chat with user with same contact code.

#### Expected behavior
redirected to 1-1 chat; have both 1-1 and public chat in list

#### Actual behavio

[2018-09-26 10:28] Serhy commented on #4103
I can not reproduce this issue anymore!

[2018-09-26 10:28] #4103 closed, assigned to nobody

[2018-09-26 10:29] Serhy commented on #4528
Not an issue anymore.

[2018-09-26 10:29] #4528 closed, assigned to mandrigin

[2018-09-26 10:43] lukaszfryc commented on #5899
In tx history, the transaction is shown with "0 ETH" and weird number of confirmations (like 2459). It's quite confusing to see it. Therefore, I'd increase sev of this issue.

[2018-09-26 10:51] churik commented on #6005
Got same error when tap on Contact from contact list below (chat is not started).

*Steps:*
- Join to any public chat
- Tap on user icon > add him to contact
- Navigate to Home
- Tap on + > Start New Chat
- Select user from contact list

![err](https://user-images.githubusercontent.com/4557972/46075398-12872480-c193-11e8-8ad3-f0bd0d6596b7.png)

[2018-09-26 10:52] Serhy commented on #4619
Still can reproduce in Develop `0.9.29 (9168)` build on iPhoneX (iOS 12)

[2018-09-26 11:09] lukaszfryc commented on #6005
@yenda there is another one when trying to join public chat using universal link `https://get.status.im/chat/public/blah`

<img src="https://user-images.githubusercontent.com/7532782/46076248-4c552c80-c18d-11e8-9859-51365b58d759.png" width="200">

[2018-09-26 11:34] lukaszfryc opened #6012 "Can't open dapps from deep links"
### Description

*Type*: Bug

*Summary*: Looks like dapp deep links are not resolved properly. Clicking on `https://get.status.im/browse/www.cryptokitties.co/marketplace` opens in `get.status.im/...` instead of Cryptokitties dapp. This maybe related to #5945. As all worked fine one commit before (72354f229).

<img src="https://user-images.githubusercontent.com/7532782/46077166-3432dc80-c190-11e8-8

[2018-09-26 11:56] ghost commented on #4975
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-26 12:26] denis-sharypin commented on #4975
Guys, please assist @jeluard , @flexsurfer

[2018-09-26 12:27] denis-sharypin commented on #3601
Could you have a look if you have time @errorists ?

[2018-09-26 12:27] denis-sharypin commented on #3996
Still WIP

[2018-09-26 13:24] asemiankevich opened #6016 "NaN ETH is shown in chat preview (home screen) if [0...] amount was requested"
### Description

*Type*: Bug

*Summary*:

NaN ETH / SNT is shown in chat preview

#### Expected behavior
The preview shows the exact amount requested

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/46082737-69e3bf80-c1a8-11e8-8975-26499302f4c6.png)

![image](https://user-images.githubusercontent.com/28752642/46081782-0eb0cd80-c1a6-11e8-9ea5-64004bee26c4.png)

###

[2018-09-26 13:34] #6005 closed, assigned to janherich

[2018-09-26 13:46] yenda opened #6017 "Fix random-id cofx"
# Problem

The `:random-id` cofx is currently a random-id that was generated with our RNG, but since it is a single value, composing fx producing functions that need a random number could lead to reuse of that number

# Solution

Replace the current `:random-id` cofx by one that returns the RNG function instead.

# Acceptance criteria

the `:random-id` cofx has been replaced

[2018-09-26 13:51] janherich commented on #6017
@yenda I would actually like to keep the `:random-number` cofx, maybe name it so it's clear it's fixed in scope of handler call (maybe `:handler-local-random-number` ?).
It's sometimes very advantageous to rely on that fact.
I propose to introduce another cofx named `:random-number-generator` which will return RNG function.

[2018-09-26 13:53] yenda opened #6018 "Plateform specific code organization"
# Problem

Currently we are using a function call to determine what action to take depending on the platform. This leads to unnecessary code execution and dead code on each platform, as well as unnecessary complex code organization.
For instance notification code is mostly unusable by desktop and desktop would use a completely different implementation.
Finally we want to be able to test different

[2018-09-26 13:55] yenda commented on #6017
Could you give an example of a case were that would be more advantageous than a random-number-generator ?

[2018-09-26 14:41] ghost commented on #4556
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-26 14:46] #5406 closed, assigned to pedropombeiro

[2018-09-26 15:39] #5566 closed, assigned to gnl

[2018-09-26 16:04] #5878 closed, assigned to yenda

[2018-09-26 16:05] #5991 closed, assigned to flexsurfer

[2018-09-26 17:08] corpetty commented on #5845
For some reason I was not pinged appropriate for this.

Yes I can help with this.  I would suggest we not go full on 3rd party audit yet, and review internally as we get to a point where we feel it warrants the 3rd party.  This way we have documented tests and results, as well as a proper scope for them to review it.

I'll start working on this asap.

[2018-09-26 17:13] chadyj commented on #5845
Fixed!  Thanks @yenda for spotting

@corpetty Happy to have you helping out. It would be also useful to have a "framework" (or process or checklist) for the desktop team to look over and consider. Hopefully we might have accrued some useful pointers from mobile?

[2018-09-26 19:58] #5458 closed, assigned to yenda

[2018-09-26 22:07] pedropombeiro commented on #5807
Approach being taken:
- [x] Adapt CMake files to cross-compile;
- [x] Cross-compile Windows Qt version using mingw64;
- [x] Nice to have: build our own mingw64 using Conan instead of relying on a random one fetched with `apt-get`;
- [ ] Nice to have: move logic to run deployqt from bash file to CMake project (in progress);

If we start needing to cross-compile a lot, a tool like https://conan.io/

[2018-09-27 06:08] MaBbKhawaja commented on #5637
you just have to go to your info.plist file and add NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription in privacy column there as keys and write a string against them telling why your application is using these sensitive datas of user

[2018-09-27 06:50] denis-sharypin commented on #3880
No group chats anymore

[2018-09-27 06:50] #3880 closed, assigned to nobody

[2018-09-27 06:50] denis-sharypin commented on #3610
No group chats anymore

[2018-09-27 06:50] #3610 closed, assigned to nobody

[2018-09-27 07:18] rachelhamlin opened #6026 "Add USDC token to wallet"
### Description

*Type*: Feature

*Summary*: Add `USDC` ([Circle](https://www.circle.com/en/usdc-faq) partnership) to the wallet.

Contract: https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48

[USDC icon](https://drive.google.com/open?id=1VC15fFG7rtaX82VD8_fjDHOfTnwDeT4R)

#### Expected behavior
`USDC` appears in the `Manage assets` list.

#### Actual behavior
No `USDC`.

<block

[2018-09-27 07:40] maxhora commented on #5444
@churik this issue should be resolved with changes related to Crash Reporter app.
Sometimes I have seen situations that ubuntu_server process still remains not killed, but it happened for me not often.

[2018-09-27 09:00] 751895405 opened #6029 "Transaction history show the wrong symbol on erc-20 token"
### Description
you do some transaction on erc-20 token and eth when you look at the transaction history all erc-20 token symbol show as ETH and amount is 0

#### Expected behavior
erc-20 token show the right symbol and amount correctly on transaction history
#### Actual behavior
all erc-20 token show wrong symbol on transaction history

### Reproduction

- Open Status 0.9.28
- do some real transa

[2018-09-27 09:11] ghost commented on #4991
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-27 09:16] nuo-admin commented on #5461
What sign mechanism can be used currently on Status?

[2018-09-27 09:17] sidsverma commented on #5461
What mechanism can be used to sign in Status?

[2018-09-27 09:41] vkjr opened #6033 "Remove logic from desktop messages list view"
### User Story

As a developer, I want to remove logic from view

### Description

*Type*: Improvement

*Summary*: Discussed with @yenda that having logic inside view in `src/status_im/ui/screens/desktop/main/chat/views.cljs` isn't ok. At the moment of creating PR #6006 it wasn't clear how to remove it, so this issue created for later fix.

#### Expected behavior
View doesn't contain logic

#### A

[2018-09-27 09:45] churik opened #6034 "Remove "Hello, thanks for choosing Status!" popup from status-desktop"
### Description

*Type*: Bug

*Summary*: "Hello, thanks for choosing Status!" popup is intended for mobile client only, so should be removed for desktop version.

#### Expected behavior
no popup is shown after sign in

#### Actual behavior
![popup](https://user-images.githubusercontent.com/4557972/46137660-c6031e00-c252-11e8-9c05-15ba5257d369.png)

### Reproduction

- Open Status-desktop
- Create

[2018-09-27 10:11] #5451 closed, assigned to rasom

[2018-09-27 10:21] ghost commented on #4994
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-27 10:37] NamITUTC commented on #4829
change onChangeText(text=>) =>onKeyPress(text=>)

[2018-09-27 11:14] rasom commented on #4728
@asemiankevich can you be more specific where it is necessary?

[2018-09-27 11:16] asemiankevich commented on #4728
@rasom
in particular i was thinking of set up password screens: so expecting text input field in autofocused and when i entered password i can hit enter to proceed with next screen (confirm password in this case).

More cases to come when wallet is available in desktop

[2018-09-27 11:19] rasom commented on #4728
ok

[2018-09-27 12:01] ghost commented on #2146
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-27 12:26] oskarth commented on #2146
@andmironov Did something happen with this?

[2018-09-27 12:29] andmironov commented on #2146
yes cc @denis-sharypin

[2018-09-27 14:27] yenda commented on #5424
@PombeirP is it something your recent PR fixes ?

[2018-09-27 14:31] yenda commented on #6001
Why don't we leave that to the OS ?

[2018-09-27 14:32] asemiankevich commented on #6001
@yenda it was requested by community

[2018-09-27 15:01] denis-sharypin commented on #2146
@oskarth yep it's done from the design side. We asked @flexsurfer to implement this.
More info on Slack #design-system
![image](https://user-images.githubusercontent.com/6559881/46155113-de852f80-c276-11e8-85aa-3dba9abff31a.png)

[2018-09-27 15:29] rasom commented on #5344
QT 5.11.2 fixes it, that's not `status-react`'s issue

[2018-09-27 15:30] churik opened #6042 "Caret position is changed when typing fast in input message field"
### Description

*Type*: Bug

*Summary*:  carer in field "Type a mesage" moves to several chars inside of text when you are typing fast.
Same as https://github.com/status-im/status-react/issues/5670 but in another field.
Didn't notice the same behavior on other fields.

#### Expected behavior
caret is always in the end of the phrase

#### Actual behavior
caret is moved in the middle of the text

#

[2018-09-27 15:50] #5117 closed, assigned to vitvly

[2018-09-27 15:50] #5849 closed, assigned to vitvly

[2018-09-27 16:14] Serhy opened #6043 ""Fetching messages..." shifted down when appears in public chat modal [Android]"
***Type***: Bug

***Summary***: When `Fetching messages...` appears in public chat modal screen it should be placed right below the app top navigation bar. But it's not at the moment. Please see screenshot below.

#### Expected behavior
`Fetching messages...` appears in public chat modal screen right below the app top navigation bar
#### Actual behavior
<img width="373" alt="screen shot 2018-09-27

[2018-09-27 17:32] pedropombeiro commented on #5424
@yenda No, it was only focused on Desktop. So for desktop the logic is all in the bash script and is reused by the Groovy files, but that is not yet the case for the mobile platforms.

[2018-09-28 05:13] wolfgangshilei commented on #5985
Hi, @errorists. I recorded a demo implementation of this feature on the iOS simulator.

![final-effect](https://user-images.githubusercontent.com/38782954/46188496-11cdca00-c31c-11e8-89ea-3ad8a6e14c18.gif)

In the demo, the animation does not start from Y axis = 1 as required in the spec. It actually starts from Y axis = 0.5. Below is a slowed and decomposed animation along the Y axis.

![scaley-o

[2018-09-28 06:58] errorists commented on #5985
First of all, a huge thank you for doing the due diligence and research into whether it's possible @wolfgangshilei ! I've did some research and my understanding is that for whatever reasons React Native doesn't support the `transform-origin`  prop yet, required to achieve this effect. Workarounds mention `transformMatrix` but it's deprecated, so I'm out of ideas. Strange, because seems like such a

[2018-09-28 07:33] annadanchenko commented on #5756
it's expected, 0 ETH can be sent and can be requested

[2018-09-28 07:33] #5756 closed, assigned to nobody

[2018-09-28 07:45] #6012 closed, assigned to yenda

[2018-09-28 08:09] annadanchenko opened #6047 "Error fx/defn expects a map of cofx if open Catalogue in Cryptokitties on iOS"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Error popup
fx/defn expects a map of cofx as first argument got {:browser-id "cryptokitties.co", :name "CryptoKitties", :timestamp 1538120373225, :dapp? true, :history-index 0, :history ["https://www.cryptokitties.co/"], :unsafe? false} in function function (e){switch(arguments.length){case 3:return status_im.bro

[2018-09-28 09:47] wolfgangshilei commented on #5985
@errorists, thanks for your reply.
After some further research and experiment, I managed to achieve the expected effect.

The key to my solution is to use RN's native view's onLayout callback to retrieve the height of the rendering component. In the callback, set the height to the parent view's state, which will result in a re-render with the updated height value, which in turn can be used to perf

[2018-09-28 09:57] #6034 closed, assigned to yenda

[2018-09-28 10:05] #6047 closed, assigned to yenda

[2018-09-28 10:15] oskarth commented on #5585
How are we measuring success of this?

[2018-09-28 11:10] lukaszfryc opened #6051 "Can't log in - shhext_getNewFilterMessages does not exist"
### Description

*Type*: Bug

*Summary*: @jonathanbarker could not log in recently because of "unknown status go error" after clicking the sign in button. It maybe that status-go crashed. It would be great to investigate it since we have [full logs](https://gist.github.com/lukaszfryc/70f606272e1db4ef3423cf50cd498d94).

Part of the logs:

[code]

<img src="https://user-images.githubusercontent.com/