[2018-11-27 15:31] hesterbruikman commented on #6897
From a usability perspective I would say that whatever we decide it needs to be transparent. The problem of the current flow as I see it is that it is not communicated what information (i.e. wallet address is shared).

fyi: @andmironov is working on some awesome designs that address this.

[2018-11-27 15:33] jeluard commented on #6891
@annadanchenko Sounds good!

[2018-11-27 15:40] lukaszfryc commented on #6898
ok, I think I will create a separate issue for "Suggest available devices to pair" to implement it.

[2018-11-27 15:43] lukaszfryc commented on #6898
@cammellos in terms of upcoming release, do you think it's worth changing the copy there to make it more explicit how to pair the devices? I'm worried that many people may not understand that they first need to click on "Pair this device" on other devices to see them on the list. cc @errorists

[2018-11-27 15:44] cammellos commented on #6898
we could also literally just link to the discuss post for the time being :)

[2018-11-27 15:45] lukaszfryc commented on #6897
So we already decided how it will work? Do we have any mockups?

[2018-11-27 15:48] lukaszfryc commented on #6898
I do not think anyone will leave the app and read the discuss post :(

I really think we should update the copy and ideally make the "pair button" a toggle. Currently, the app does not give any feedback when I click "Pair this device". I'd change it to a toggle so you could understand that it's enabled / disabled.

[2018-11-27 15:55] hesterbruikman commented on #6897
In my mind it's in a conceptual design phase. There are mocks, but these are not a decision on how it will work. It's an exploration for now. Sorry, can't find the screens at the moment:/

[2018-11-27 15:56] cammellos commented on #6898
that's not quite how it works :)
basically when you click on Pair this device, your device is made discoverable by simply sending a message, so it's not a toggle (i.e if you add another device a couple of days after, you still will have to click on Pair this device to have the old device showing in the new device).

[2018-11-27 16:10] lukaszfryc commented on #6898
Thanks for explaining it :)

Anyway, I still think it's hard to understand how to set it up. I'd expect something to happen when I press a button. Currently, nothing happens visually when "Pair this device" is clicked.

@errorists ideally, we should guide users step by step by the pairing process. First, ask them to make their device discoverable, then ask to make other devices discoverable and as

[2018-11-27 16:11] ghost commented on #5605
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-27 16:11] #5605 closed, assigned to nobody

[2018-11-27 16:33] #6823 closed, assigned to mandrigin

[2018-11-27 16:33] mandrigin commented on #6891
@chadyj emm, what did you want me to comment on? 😆

[2018-11-27 16:34] mandrigin commented on #6906
I'll take a look at it.

[2018-11-27 16:41] ghost commented on #4816
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-27 17:16] hetvart commented on #6847
status: ready https://github.com/status-im/status-react/pull/6896

[2018-11-27 17:25] mandrigin commented on #6905
Oh, that would be very useful! I’ll read the docs first and ping you afterwards :)

[2018-11-27 17:59] jakubgs commented on #6881
Okay, this should fix it: https://github.com/status-im/status-react/pull/6894

This android build should have the right build number:
https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-181127-170423-0e19f5-pr.apk

[2018-11-27 18:06] chadyj commented on #6891
This comment https://github.com/status-im/status-react/issues/6891#issuecomment-441998313
Specifically who is the go-to dev person, and cutting the release tomorrow.  Some feedback [here](https://notes.status.im/mobile-release-guide) would be good too.

[2018-11-27 19:41] ghost commented on #1660
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-27 19:41] #1660 closed, assigned to nobody

[2018-11-27 20:23] #6867 closed, assigned to flexsurfer

[2018-11-27 20:44] pedropombeiro commented on #3497
https://github.com/status-im/status-react/pull/6893 will allow easily controlling whether to show a PN at the destination (just need to check if sender is in contacts before creating visual PN)

[2018-11-27 21:15] pedropombeiro commented on #6772
@chadyj another thing we're sending in the PN as hidden metadata is the sender pubkey address and the chat-id (which in a 1:1 seems to be one of the interlocutor's pubkey address). Ideally, we'd want to send those values hashed (or maybe there's a better approach @corpetty?) and then do a lookup on the receiver end (same thing btw if we send a message ID, which we should add to the payload to enab

[2018-11-28 08:11] ghost commented on #5685
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-28 08:51] ghost commented on #5611
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-28 08:54] mandrigin commented on #6891
Well, I can fix some bugs for this release.

[2018-11-28 09:03] lukaszfryc commented on #6882
According to https://github.com/status-im/status-react/issues/6891, the release branch will be created today. @cammellos could you go ahead and enable group chats in release builds?

As for pairing, I still think we should improve on UX there (see https://github.com/status-im/status-react/issues/6898#issuecomment-442116620). At least [update copies](https://github.com/status-im/status-react/issues

[2018-11-28 09:04] annadanchenko commented on #6891
@mandrigin can you create 0.9.32 release build, please? Should also have version 0.9.32 in the app

[2018-11-28 09:16] lukaszfryc commented on #6884
I'd like to automate following test cases in the scope of this GHI:

  |   | C3994 | Can create new group chat |   |   |  
  |   | C3993 | Can send text message in group chat |   |   |  
  |   | C3997 | Can delete group chat |   |   |  
  |   | C3998 | As admin of group chat can add new member |   |   |  
  |   | C3999 | As newly added member in group chat: can see new messages from old members, c

[2018-11-28 09:17] churik commented on #6882
@lukaszfryc I think it should be under development mode, as this feature is still WIP.

[2018-11-28 09:21] cammellos opened #6912 "IOS pings apple.com"
# Problem
IOS pings `apple.com` via `NetInfo` for connectivity checks.

## Description
It looks like IOS is pinging `apple.com` for checking if the device is connected

https://github.com/facebook/react-native/blob/eebc8e230a9f72c3dde34a5cfd59bbffba55e53d/Libraries/Network/RCTNetInfo.m#L127

I have only verified this by code inspection and not actually checking the connections made to the app, so

[2018-11-28 09:36] chadyj commented on #6891
Translation string updates are ready for testing and review https://github.com/status-im/status-react/issues/6891

[2018-11-28 09:38] mandrigin commented on #6891
@annadanchenko done. `release/0.9.32` is cut and the build is running: https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/">release/0.9.32 [status-react » release] [Jenkins]</a></strong></div></blockquote

[2018-11-28 09:51] chadyj commented on #6891
- [Release notes](https://notes.status.im/mobile-release-notes?both)
- [Release guide](https://notes.status.im/mobile-release-guide) Everyone please update as you go :)

cc @Blockchain-Islander @pablanopete @j-zerah  Take a look. If all goes well well we can release Monday or Tuesday.

[2018-11-28 10:02] lukaszfryc commented on #6882
@cammellos I updated description of this issue and assigned it to you.

[2018-11-28 10:10] annadanchenko commented on #6891
@corpetty @mandrigin guys, do we need to do anything extra from security pov on the release 0.9.32 built today? like review again  dependencies, as https://github.com/status-im/status-react/issues/6906 is not done yet.

[2018-11-28 10:18] annadanchenko commented on #6891
according to @cammellos we need to cherry pick https://github.com/status-im/status-go/pull/1293 into the release if we want to have group chats in it.

If it's a low impact change on status-go side then I'm fine with it. Any opinions on it @adambabik @mandrigin @chadyj ?

[2018-11-28 10:20] chadyj commented on #6891
I'd love to see group chats #6882 in the release if this is a low impact change.

[2018-11-28 10:27] lukaszfryc commented on #6891
Btw, I've been checking average battery consumption in nightlies for the last 20 days and it looks stable. For measurements, I used https://github.com/status-im/status-react/pull/6692 with some reference tests like creating new account, sending message, etc. [Screenshot of latest results](https://monosnap.com/file/7718oJhaMcg1w0KWSuDhKB5Dyne9sK).

[2018-11-28 10:36] chadyj commented on #6891
Kudos @lukaszfryc for checking battery consumption!!!

[2018-11-28 10:41] ghost commented on #1477
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-28 10:41] ghost commented on #1442
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-28 10:41] #1477 closed

[2018-11-28 10:43] hetvart commented on #6884
I think it could work, except С5674 - it's a "self-contained" test case.
one more is C3999 - it may require a separate predefined group chat with a long history which is available always
@Serhy what do you think?

[2018-11-28 10:50] lukaszfryc commented on #6884
But this would require changing the testrail test cases, right? Is it OK to do it or we need to stick to "atomic" tests?

[2018-11-28 10:56] Serhy commented on #6904
Yes, 'Not syncing' is what displayed on Home screen.

So syncing started from block ~4161535 `...from 4329035 blocks`. Eventually sync ended (this I confirmed in geth.log's rows similar to ```t=2018-11-28T10:28:39+0000 lvl=dbug msg="Inserted new header" number=4329035 hash=0x0229353baf14b4c93c5b36eccae2bce9c5c606c7be805655424b8d80c316a821``` ) and on Home screen 'Not syncing' under LES info displa

[2018-11-28 11:58] Serhy commented on #6891
Release 0.9.32 builds (https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/2/) has the `(9999)` version both on iOS and Android:
Version `0.9.32 (9999); node 27700aa2`

https://github.com/status-im/status-react/issues/6881 is related and it's fix already in progress:  https://github.com/status-im/status-react/pull/6894

@jakubgs, @mandrigin  we'll need to add it in release/0.9

[2018-11-28 12:03] errorists commented on #6860
The way it was designed, you can pass admin privileges to other members and if you decide to leave the group chat being its only admin, you're required to pass it to someone else, but @lukaszfryc solution with closing the group would also work. [designs](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=227%3A320)

[2018-11-28 12:17] hetvart commented on #6884
the answer to your question is ambiguous and complex. The simple test the better.
Meanwhile, an e2e test might reflect a large user flow/case. You should define by yourself what's the best solution here.

Some common verifications like create a chat, send a message to it, delete it are logical steps belonging to one scenario. In my opinion, those ids I mentioned in my previous comment seem to be s

[2018-11-28 12:36] flexsurfer commented on #6644
![image](https://user-images.githubusercontent.com/11790366/49152269-920bae00-f312-11e8-8704-704f1284a008.png)

[2018-11-28 12:36] denis-sharypin commented on #6644
Link from the message triggers extension popup

<img width="879" alt="screenshot 2018-11-28 13 32 32" src="https://user-images.githubusercontent.com/6559881/49152108-16a9fc80-f312-11e8-840c-ca7354732d92.png">

[2018-11-28 12:46] Serhy commented on #6884
“Atomic tests” approach gives us, on the first place, more manageable, flexible, detailed coverage for manual needs.

I also agree that ‘Delete chat’ test covers ‘Create chat’ test which might look as redundant. However, it’s unavoidable for both automation and manual functional app testing.

For automation it’s even better to split the tests as for me! For example:
Precondition for ‘Create group

[2018-11-28 12:56] flexsurfer commented on #6644
@rachelhamlin could you help with the copy?

[2018-11-28 13:02] chadyj opened #6921 "[EPIC] Improved Wallet UX"
# Problem

The Core Wallet team has been working on new wallet flows and designs that aim to significantly improve the wallet and transaction flows.

In particular, it addresses ongoing feedback user feedback and UXR findings around these problems:

- Screen is overwhelming: where to start filling out details?
- Can’t see fiat value of crypto
- Can’t enter fiat amount
- Tx fee is complicated
- Whe

[2018-11-28 13:02] corpetty commented on #6891
Do we have a timeframe on getting #6906 done?  I don't have anything else that is incredibly pressing for this release.

[2018-11-28 13:05] sriharikapu commented on #6856
@jeluard  is this still open?

[2018-11-28 13:07] rachelhamlin commented on #6644
Looks OK. Slight modification:

“To see this message,
install the extension”

[2018-11-28 13:09] mandrigin commented on #6891
I made it work on macOS just fine, on Linux npm behaves weirdly :( fixing that now...

[2018-11-28 13:43] StatusSceptre commented on #6856
@zachzundel given @tbenr's experience here, I approve him. However, and this goes for @sriharikapu as well, there are plenty of other extensions bounties available:

#6855
#6866
#6199
#6874
#6875

Please feel free to apply there.

[2018-11-28 13:43] lukaszfryc commented on #6884
I've been doing both (atomic) user story tests and [user journey tests](https://martinfowler.com/bliki/UserJourneyTest.html) in the past. I think both have pros/cons and maybe suitable depending on the needs.

I agree with you that it's better to automate atomic tests first and only then have some journey tests if needed. Let me create separate autotests for those test cases.

Btw, from my experie

[2018-11-28 14:07] gnl opened #6924 "Implement spec-based generative testing and tracing with Ghostwheel"
- [x] Release Ghostwheel with Status-relevant updates.
  - https://github.com/gnl/ghostwheel/blob/master/CHANGELOG.md
- [ ] Submit PR to enable Ghostwheel usage for spec-instrumentation, generative testing and evaluation tracing during Status development
- [ ] Submit PR for any issue with specced and gen-tested code.

# Problem

An overview of the background required to understand the problem.
A p

[2018-11-28 14:17] ghost commented on #5716
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-28 14:25] yenda commented on #4690
close superseeded by https://github.com/status-im/status-react/issues/6375

[2018-11-28 14:25] #4690 closed, assigned to nobody

[2018-11-28 14:35] lukaszfryc commented on #5394
I updated the description of the issue. @errorists could you double check it to see if I got the behaviour of the badge right?

[2018-11-28 14:38] churik commented on #6903
@rasom as we discussed on chat-sync meeting, it could be related to your recent changes in message-IDs.
Can you confirm or disprove it?

[2018-11-28 14:53] lukaszfryc commented on #4868
I will try to reproduce it again.

[2018-11-28 14:58] yenda commented on #6738
Cannot reproduce which version of desktop are you running? We can't reproduce for now. `c` still resolved because he still owns the name nobody slashed it. But `cologic` isn't registered properly. So in my tests it's just not resolving (red message `enter valid contact name`). @churik

[2018-11-28 15:10] yenda commented on #6735
As discuss during our weekly chat meeting I want to open here the discussion on hard vs soft block. I think we can do the two separately if we have a clear semantic distinction.

# Hard block (aka permaban)

- no unblocking (at least for now)
- all messages from the user are deleted
- all future messages are ignored
- the quickest and easiest to implement: permabanned user are completely removed f

[2018-11-28 15:15] chadyj opened #6926 "[Epic] Desktop 0.9.0 alpha stable release"
# Problem

Nightlies are fun but a stable release is required for Status contributors and the community at large.

# Implementation

Many people met at Prague and discussed stable launch prerequisites. Many issues were focused around reliability and user confidence.

- [x] Security review https://github.com/status-im/status-react/issues/5845 - consider as done after #5848 and #7100 fixes
- [x] Don

[2018-11-28 15:18] flexsurfer commented on #6644
![install-extension](https://user-images.githubusercontent.com/11790366/49161452-25e87480-f329-11e8-8d77-00cc7809e0bb.gif)

[2018-11-28 15:33] rachelhamlin commented on #6644
Good by me!

[2018-11-28 15:49] Serhy commented on #6891
#6894 has been merged into develop.
@mandrigin could we cherry pick it release also please?

[2018-11-28 16:16] ghost commented on #4087
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-28 16:16] #4087 closed, assigned to rachelhamlin

[2018-11-28 17:10] #6213 closed, assigned to vitvly

[2018-11-28 17:16] annadanchenko commented on #6891
and https://github.com/status-im/status-react/pull/6917 is also ready to be merged and cherry picked @mandrigin

[2018-11-28 17:36] mandrigin commented on #6891
@corpetty @annadanchenko #6906 — let's switch to yarn instead. I'll work on it, but it shouldn't stop the release. We can check the modified package-lock file for release builds separately, if needed.

[2018-11-28 17:43] mandrigin commented on #6891
#6894 — cherry-picked to `release/0.9.32`
#6917 — merged to `develop` and cherry-picked to `release/0.9.32`

[2018-11-28 17:47] jeluard commented on #6891
FYI There's a bunch of extensions related commits that will have to be cherry picked.

[2018-11-28 17:52] jeluard commented on #6891
@mandrigin There are 2 branches: `release/0.9.32` and `releases/0.9.32`. Which one is the right one?

[2018-11-28 17:52] mandrigin commented on #6891
`release/0.9.32`, there is a typo in the second one

[2018-11-28 17:53] jakubgs commented on #5659
This is not stale, it would still be good to show this.

[2018-11-28 17:56] jeluard commented on #6891
@mandrigin Could you delete it so that I don't mixup both ? :)

[2018-11-28 18:07] mandrigin commented on #6891
done

[2018-11-28 18:21] EugeOrtiz commented on #6741
@chadyj @errorists  How do you imagine keywords working in relationship with notifications from 1:1 chats? E.g. If my keyword is "cake", I won't receive any PN from a contact unless she mentions "cake" in the conversation? Will KWs work as a filter for current PNs? What about PNs for replies?

[2018-11-28 18:26] chadyj commented on #6741
They are complimentary and can co-exist  :-)

Eg notifications will be shown in these scenarios:
- 1-1 message received
- "cake" mentioned in #status
- 1-1 message received mentioning "cake"

Desktop needs some notification improvements because currently all messages trigger the notification.  We should fix this while doing notifications https://github.com/status-im/status-react/issues/6445

[2018-11-28 18:28] chadyj commented on #6458
@churik This seems better now. I can get a lot more than 3, but I eventually stop receiving it messages until I clear them on OSX.

Can you verify?

[2018-11-28 18:29] chadyj commented on #6318
This should be fixed now?

[2018-11-28 18:30] chadyj commented on #5776
Fixed?

[2018-11-28 18:37] chadyj commented on #6741
@yenda How would notifications work on **mobile**? The message needs to be downloaded locally before the notification can fire.

So the mobile experience would be no notifications until the user opens Status. Then status downloads the messages and fires any notifications

Perhaps we need a new in-app notification?  Or can we get local notifications showing when the app is in the foreground?

Or @e

[2018-11-28 18:56] ghost commented on #1691
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-28 18:56] #1691 closed, assigned to nobody

[2018-11-28 19:46] ghost commented on #3193
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-28 19:46] #3193 closed, assigned to nobody

[2018-11-28 22:14] jeluard commented on #6199
@dylanjw Right the same things is fine! Just adapt the copy and the QR code content accordingly :)

[2018-11-29 03:33] ijm700 commented on #4102
can you post an example of how your CSV looked like ?

[2018-11-29 07:01] chadyj commented on #4102
You can grab it from here https://www.bis.doc.gov/index.php/policy-guidance/encryption/4-reports-and-reviews/a-annual-self-classification

<blockquote><img src="/templates/allrounder-3/favicon.ico" width="48" align="right"><div><strong><a href="https://www.bis.doc.gov/index.php/policy-guidance/encryption/4-reports-and-reviews/a-annual-self-classification">a. Annual Self-Classification</a></strong>

[2018-11-29 09:01] churik commented on #5611
Still reproducible

[2018-11-29 09:03] lukaszfryc commented on #6882
group chats and pairing were enabled in https://github.com/status-im/status-react/commit/dd21f6a4725211cf76e666015bea760a844cf315

[2018-11-29 09:03] #6882 closed, assigned to cammellos

[2018-11-29 09:11] churik commented on #6318
closed in #6097

[2018-11-29 09:11] #6318 closed, assigned to nobody

[2018-11-29 09:16] ghost commented on #5691
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 09:16] ghost commented on #5629
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 09:16] #5629 closed, assigned to nobody

[2018-11-29 09:25] Serhy commented on #6881
https://github.com/status-im/status-react/pull/6894 which fixing the version numbers is not in develop (and 0.9.32 release)
Closing the issue.

[2018-11-29 09:25] #6881 closed, assigned to jakubgs

[2018-11-29 09:26] ghost commented on #5630
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 09:26] ghost commented on #4797
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 09:26] #5630 closed, assigned to nobody

[2018-11-29 09:26] #4797 closed, assigned to nobody

[2018-11-29 09:46] ghost commented on #3474
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 09:48] chadyj commented on #6882
Awesome!
Release notes updated.

[2018-11-29 09:50] flexsurfer opened #6931 "Introduce selection list component for extensions"
# Problem

There is no component with selection list

[2018-11-29 09:50] churik commented on #6396
@cammellos yes, I can still reproduce it (Mac OSx, go offline ~5 min, go back online. Reproducibility ~20%)
There are logs:
[code]
Within https://github.com/status-im/status-react/pull/6865 I can see that app is actually connected to 3 peers but Offline is still shown (Video: http://take.ms/GRopV)

[2018-11-29 09:57] chadyj commented on #6891
Release notes for 0.9.32 so far are:

## 0.9.32

Added
- Private group chats with increases security using Signal's double ratchet algorithm (In beta. Still being tested. Feedback welcome!)
- Device pairing and syncing with perfect forward secrecy (in dev mode)

Changed
- Support multi-extensions store
- Restyled wallet onboarding flow, main wallet screen, and sent-transaction screen
- Faster sign

[2018-11-29 10:11] lukaszfryc commented on #6898
I'm closing the issue as we do not want to have the **auto** sync by default https://github.com/status-im/status-react/issues/6898#issuecomment-442032043.

As for the **suggestion** to sync, please create a separate feature request if you think we can automatically suggest user that she can pair with other devices https://github.com/status-im/status-react/issues/6898#issuecomment-442033480.

[2018-11-29 10:11] #6898 closed, assigned to lukaszfryc

[2018-11-29 10:14] #6883 closed, assigned to lukaszfryc

[2018-11-29 10:16] ghost commented on #4093
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:21] lukaszfryc commented on #4868
Still happens for group chats. Will be fixed in #6932

[2018-11-29 10:36] ghost commented on #2681
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:36] ghost commented on #3199
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:36] ghost commented on #4392
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:36] ghost commented on #3097
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:38] #6711 closed, assigned to nobody

[2018-11-29 10:46] ghost commented on #3392
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:46] ghost commented on #4977
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:56] ghost commented on #5350
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 10:59] jeluard opened #6933 "Port extension panel to desktop"
# Problem

Extensions can't be used on desktop. The first step is to port the extensions panel to desktop so that extensions can be installed.

# Acceptance Criteria

Extensions can be installed on desktop.

[2018-11-29 11:05] jeluard opened #6934 "Port chat.command extension hook to desktop"
# Problem

`chat.command` extension hook is not available to desktop users.

# Implementation

Port existing mobile implementation to desktop.

# Acceptance Criteria

`chat.command` extensions can be executed.

# Notes

This requires chat command feature to be implemented in desktop.

[2018-11-29 11:06] ghost commented on #3227
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 11:45] denis-sharypin opened #6936 "Updates on wallet transaction sent screen"
# Problem

recently implemented wallet transaction sent screen (on the right) doesn't reflect an actual state of a transaction and could mislead new users. That's why within the design team we decided to update this screen with the new animated icon and copy (screen on the left)

I hope it could be done as part of https://github.com/status-im/status-react/issues/6921

<img width="887" alt="screens

[2018-11-29 11:46] rachelhamlin commented on #6934
Is this issue about implementing chat command on desktop, or doing additional work on extensions for it to work?

[2018-11-29 11:48] annadanchenko commented on #6743
for 0.9.32 there are successful builds, so not a blocker for release anymore (removing "release" label)

[2018-11-29 11:54] jeluard commented on #6934
@rachelhamlin Yes it is the extension specific glue needed. It still requires the chat command to be ported first.

[2018-11-29 11:56] ghost commented on #3577
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 11:56] ghost commented on #3488
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 12:06] ghost commented on #3945
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 12:26] ghost commented on #3451
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 12:57] lukaszfryc commented on #6583
I could not reproduce it on latest nightly. @rachelhamlin could you check it again?

[2018-11-29 13:04] lukaszfryc commented on #6417
I'd say it's better to **not** restore messages when account is recovered. It's because this feature is works only partially. Only incoming messages are restored. There are no outgoing messages and contact requests. Therefore, I think it's better to not restore them at all to avoid confusion.

We should promote devices paring more. Like auto-pairing or in-app suggestions to sync devices. See discu

[2018-11-29 13:06] ghost commented on #5634
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 13:06] #5634 closed, assigned to nobody

[2018-11-29 13:08] lukaszfryc commented on #6358
could not repro.

[2018-11-29 13:08] #6358 closed, assigned to lukaszfryc

[2018-11-29 13:08] jeluard opened #6938 "Port wallet.settings extension hook to desktop"
# Problem

`wallet.settings` extension hook is not available to desktop users.

# Implementation

Port existing mobile implementation to desktop.

# Acceptance Criteria

`wallet.settings` extensions can be executed.

# Notes

This requires wallet feature to be implemented in desktop.

[2018-11-29 13:09] lukaszfryc commented on #5771
Already done for the username.

[2018-11-29 13:09] jeluard commented on #5773
Superseded by #6934 #6933 and #6938

[2018-11-29 13:09] #5773 closed, assigned to nobody

[2018-11-29 13:09] lukaszfryc commented on #5771
No need to do it for avatar. If you think differently, please reopen.

[2018-11-29 13:09] #5771 closed, assigned to nobody

[2018-11-29 13:14] goranjovic opened #6939 "[EPIC] Custom ERC-20 tokens"
# Problem

Currently Status only supports a limited fixed list which is manually maintained by core contributors.
If a user own some tokens which are not on that list, they would not appear in any of the Wallet screens.

The issue is particularly irritating when the user buys unsupported tokens on one of the exchange dapps listed in Status but then never sees them appear under assets.

# Implement

[2018-11-29 13:16] ghost commented on #4605
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 14:02] #6789 closed, assigned to nobody

[2018-11-29 14:05] goranjovic opened #6940 "[EPIC] Transaction and transfer history"
# Problem

Transaction history doesn't always work right and when it does, it depends on external services such as Infura or Etherscan. Specifically:

- transaction history depends on etherscan API - this is a centralization point which means that etherscan is treates as a trusted entity. Also, failure to reach etherscan API (e.g. when it is blocked by the ISP or even local proxy) would result in

[2018-11-29 14:06] yenda commented on #6618
@PombeirP have you seen that one? Seems related to what you are working on regarding PNv2?

[2018-11-29 14:09] rachelhamlin commented on #6738
Still having weird issues on the latest desktop build.

First, `nabil` and `naghdy` throw an error (which is correct, since Nabil doesn't have a contact code registered). But with `naghdy` in the input, twice I've clicked on the client/`Start chat`, I get redirected to Andrey.

Also, `andrei` is not registered at all, but resolves to Runny Hot Monkey. Occasionally, `Andrey` will register to Runny

[2018-11-29 14:11] goranjovic opened #6941 "[EPIC] Implement EIP-55 - Address Validity Checksum"
# Problem

Users should be protected against accidental typos in Ethereum addresses

https://eips.ethereum.org/EIPS/eip-55

# Implementation

All screens that expose addresses should render it in mixed case according to eip-55
All inputs that accept addresses should display a warning if the entered address is not in mixed case or if it is not valid according to eip-55

*Update*:
Warning screen UI

[2018-11-29 14:16] yenda commented on #6717
@PombeirP are you looking into that one or should I take it?

[2018-11-29 14:20] yenda commented on #6614
@cammellos do you have this one in your scope?

[2018-11-29 14:21] cammellos commented on #6614
@yenda no, I can assign it to myself

[2018-11-29 14:23] yenda commented on #6606
@jeluard is this one for dapp team? (passing potato)

[2018-11-29 14:31] churik commented on #6497
Still reproducible

[2018-11-29 14:34] yenda commented on #6454
Medium priority for the discussion.

[2018-11-29 14:39] yenda commented on #6427
could be solved by sorting chats by timestamp of last message in subs

[2018-11-29 14:43] pedropombeiro commented on #6717
You can take it, @yenda

[2018-11-29 14:43] yenda commented on #6206
@cammellos I add you to this one as well though low priority

[2018-11-29 14:44] jeluard commented on #6606
@yenda Sounds like yes

[2018-11-29 14:50] ghost commented on #5635
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-29 14:50] #5635 closed, assigned to nobody

[2018-11-29 14:51] yenda commented on #6138
To discuss:
- are we still sending seen messages?
- should we actually send them?
- how could we give the user a choice?

[2018-11-29 14:52] yenda commented on #4573
@cammellos could this be at least partially solved with syncing?

[2018-11-29 14:54] yenda commented on #6101
@asemiankevich is it still an issue?

[2018-11-29 14:55] asemiankevich commented on #6101
nope i dont think so

[2018-11-29 14:55] #6101 closed, assigned to nobody

[2018-11-29 14:58] cammellos commented on #4573
@yenda partially yes, if you sync the devices you will have the same contacts (currently we don't sync the photo though, only username), but if you can't sync devices (you recovered the only account), then you would still see default username/picture

[2018-11-29 15:06] churik commented on #5281
Still reproducible

[2018-11-29 15:15] annadanchenko opened #6944 "No quotation is shown in the reply message on recipient side if reply to message sent before upgrade"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Recipient gets no quotation in the reply message if reply to message sent before upgrade from 0.9.31 to 0.9.32. On sender side quotation is show

[2018-11-29 15:16] annadanchenko commented on #6944
might be connected to https://github.com/status-im/status-react/issues/6903

[2018-11-29 15:16] #6567 closed, assigned to rcullito

[2018-11-29 15:16] pedropombeiro commented on #6618
Haven't come across this issue yet.

[2018-11-29 15:17] yenda commented on #6724
This can be achieved by only triggering a notification if the timestamp of the message is older than login time for the account

[2018-11-29 15:17] annadanchenko commented on #6891
@chadyj @mandrigin it looks to me like a release blocker https://github.com/status-im/status-react/issues/6944  if agree, please add release label to it

[2018-11-29 15:18] rachelhamlin commented on #6583
@lukaszfryc it seems to be okay for me now but haven't been using replies heavily today.

[2018-11-29 15:19] rachelhamlin commented on #6934
@jeluard okay cool. I'll see about creating an issue for desktop chat commands.

[2018-11-29 15:20] ghost commented on #2984
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 15:20] mandrigin commented on #6944
@yenda is you happen to have some time, can you take a look? I'm pretty sure you should know these parts of code the best :)

[2018-11-29 15:20] mandrigin commented on #6891
agreed

[2018-11-29 15:22] yenda commented on #6944
@annadanchenko yes it is a duplicate of https://github.com/status-im/status-react/issues/6903

[2018-11-29 15:24] annadanchenko commented on #6944
@yenda  I will add this info to #6903, thanks

[2018-11-29 15:26] rachelhamlin opened #6945 "Implement chat commands on desktop"
### User Story

As a user, I want to use chat commands to do things like `/send` tokens on Status desktop, so that I have the conveniences I'm accustomed to on mobile.

### Description

*Type*: Feature

*Summary*: Bring mobile chat commands to desktop.

#### Expected behavior
Users can `/send` and `/request` payments.

With commands implemented, we can also [port chat command extensions](https://g

[2018-11-29 15:27] annadanchenko commented on #6944
updated #6903

[2018-11-29 15:27] #6944 closed, assigned to nobody

[2018-11-29 15:29] annadanchenko commented on #6891
adding https://github.com/status-im/status-react/issues/6903 to the release scope (as according to @yenda  it's same case as reported in #6944 )

[2018-11-29 15:30] #3838 closed, assigned to nobody

[2018-11-29 15:30] #6906 closed, assigned to mandrigin, goranjovic, jakubgs

[2018-11-29 15:40] ghost commented on #3175
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 15:43] #6644 closed, assigned to flexsurfer

[2018-11-29 15:43] churik opened #6946 "You can send message to the past if you set custom date"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see messages in order that they were sent

### Description
*Type*: Bug
*Summary*: if you set date on sender side to yesterday manually and send a message, receiver will see it below "Yesterday", so order is wrong.

#### Expected behavior
Message is last

#### Actual behavior
Message is show

[2018-11-29 16:30] ghost commented on #3498
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-29 18:22] chadyj commented on #6297
Yes!
Same use cases as mobile.

Not an experiment. We are aiming for Status to have parity across platforms.

[2018-11-29 18:23] chadyj commented on #6945
Coming soon-ish!
Depends on https://github.com/status-im/status-react/issues/6297

[2018-11-29 18:25] chadyj commented on #6568
@siphiuel Is there an exact plan for this and how to implement?
If it is too vague we ca remove from the release milestone?

[2018-11-29 18:26] EugeOrtiz commented on #6672
I reopen the issue for discussion.
I think we should show the entire amount of unread messages in the dock, no matter where they come from. A dot seems to indicate that there are no unread messages.

For example, Telegram shows the entire amount of unread message in the dock, no matter if they are from a channel or a 1:1 conversation.

[2018-11-29 18:52] nikilster commented on #6822
Sounds good! Profiling is optional - really to show you guys analytics on how much faster and more reliable the service is. We can skip it.

[2018-11-29 18:59] jeluard commented on #6605
Fixed by #6644

[2018-11-29 18:59] #6605 closed, assigned to flexsurfer

[2018-11-29 20:17] yenda opened #6952 "Odd app behavior after quick logout"
# Problem

When user logs out quickly after login it seems like a lot of things that should be happening after login keep happening after logout.
The most visible result of that is that if the user types his password in the login screen oftentimes he gets logged in without tapping `log in`.
I have also experience blank screen, crashes and error displayed related to `app-db` being `nil`

# Implemen

[2018-11-29 21:59] annadanchenko opened #6953 ""no value" instead of ETH is shown in chat list for send/request after upgrade"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "no value" instead of "ETH" is shown in last message preview on Home tab after upgrade from 0.9.31 to 0.9.32 for send or request messages. Note

[2018-11-29 22:10] #6874 closed, assigned to nobody

[2018-11-30 05:20] 3ach commented on #6855
Hi @jeluard, so far it looks like I will need to keep some sort of state around to track the currently-polling filters. I am relatively new to Clojure, but have a modest amount of experiment with other Lisp variants. Do you think you could point me towards a good research on how Clojure thinks about state, or maybe redirect me if I'm thinking about the problem incorrectly?

[2018-11-30 05:38] rasom commented on #6903
@churik ~~yes it is related to the `message-id` thing and i doubt that we can do anything here~~
working on it

[2018-11-30 06:00] rasom commented on #6891
regarding https://github.com/status-im/status-react/issues/6903

Fix to make it work properly on nigthly side is relatively simple (recalculate old id, store it along with message, use both `message-id` and `old-message-id` in order to fetch the reference).

In order to make it work on both sides, we can always send an old message id as a reference id. Though IMO this will only complicate things.

[2018-11-30 06:20] jeluard commented on #6866
@StatusSceptre  We need your approval here ! :)

[2018-11-30 07:15] yenda commented on #6891
@rasom I'm in favor of breaking change as long as we now pass the message-id with the message to avoid that type of problem the next time we change message-id generation

[2018-11-30 07:28] asemiankevich commented on #6953
@goranjovic  @bhauman Wondering how difficult is to fix this? It is not a release blocker but if it looks like something easy to fix - would be nice to include in upcoming release

[2018-11-30 07:31] goranjovic commented on #6953
@asemiankevich Unfortunately, not an easy fix. Depends on #6492

[2018-11-30 07:35] yenda commented on #6953
@goranjovic since it already works in the chat it doesn't seem like it depends on #6492, more like inconsistency in the way last message is shown compared to the chat itself don't you think?

[2018-11-30 07:41] yenda opened #6955 "Install nvm or iOS slaves"
# Problem

Now that we moved to `yarn`, we can also upgrade to node 10. However we need to upgrade realm as well since node 10 only supported from realm `2.19.0`.
The problem is that there is a commit before `2.19.0` of realm that assumes use of a node package manager for iOS release process with realm. It seems like it is going to take a while for upstream to fix this as they need to make changes

[2018-11-30 07:49] errorists commented on #6741
Mobile designs -> [Figma](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=374%3A1)
I've added a design there for in-app notifications, in case we need them.

Regarding the chat list, we've been discussing it previously if it made sense to only show the badge and update the number on channels when the message is directed at you, so it's in a way PN worthy. So only things like ke

[2018-11-30 08:20] asemiankevich commented on #6903
@yenda thoughts?

[2018-11-30 08:25] mandrigin commented on #6891
I 100% agree with @yenda. It has bitten us before, and it will bite us in the future unless we fix it now.

[2018-11-30 08:31] yenda commented on #6903
@asemiankevich as I said in the release thread I think we should break compatibility (it's just for responses) and pass message-id in the messages from now on to avoid this kind of problems in the future

[2018-11-30 08:48] yenda opened #6956 "Upgradable message-ids"
# Problem

Whenever we make changes to the way message-ids are generated it creates upgradability issues. It happens again in latest release with message responses https://github.com/status-im/status-react/issues/6903#issuecomment-443127013

# Implementation

We need to pass the message-ids with the message to avoid that in the future. These are the problems I think should be taken into considerat

[2018-11-30 08:54] lukaszfryc commented on #6891
re breaking changes, I think we may have another one when PFS is implemented. Am I right @cammellos? If yes, maybe we should release both things at once?

[2018-11-30 09:03] rasom commented on #6891
@lukaszfryc we can make it compatible, and i'm going to introduce the change for this during next hours

[2018-11-30 09:04] ghost commented on #4080
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-30 09:12] mandrigin commented on #6956
@yenda

I don't see how it helps if I myself want to overwrite my own messages, which can be of use for a malicious actor.

[2018-11-30 09:18] lukaszfryc commented on #2984
@PombeirP are you going to work on it?

[2018-11-30 09:26] mandrigin commented on #6956
I don't know how bad this idea is, but we can just denormalize and include the whole source message in a reply. Then, we can assign IDs to messages client-side on receiving, so no one will be able to tamper with them.

[2018-11-30 09:27] cammellos commented on #6956
@yenda @mandrigin we should not overwrite messages (messages should be immutable), it prevents a different scenario, namely a malicious user sending a message with identical `id` as soon as they see it, in which case a race condition is trigger where first-one (not last one) wins.

[2018-11-30 09:31] cammellos commented on #6956
Would need to be signed though, otherwise how can we make sure is not being tampered?
If we use ids we are back to square one (a user who does not have the original message can't verify that is not tampered), or I am missing something?

[2018-11-30 09:31] mandrigin commented on #6956
@cammellos in a distributed system you can't really guarantee which message comes first though.
that is why I think that the root of the all issues is allowing ID generation on the sender side, because then it opens the whole can of worms of tampering/races/etc.

actually, the only place where we use these IDs externally is in replies. there, we need to guarantee that the user replied on what he h

[2018-11-30 09:31] lukaszfryc commented on #6583
@rachelhamlin ok. So I am closing it for now. Please reopen if it happen again.

[2018-11-30 09:31] #6583 closed, assigned to nobody

[2018-11-30 09:31] churik commented on #5288
Still reproducible

[2018-11-30 09:33] churik commented on #5194
Still reproducible

[2018-11-30 09:33] churik commented on #5186
Still reproducible

[2018-11-30 09:33] churik commented on #5151
Still reproducible

[2018-11-30 09:34] churik commented on #5118
Still reproducible

[2018-11-30 09:34] mandrigin commented on #6956
one thing that we absolutely have to guarantee about replies is that:
- if I see your message "do you like the first season of Stranger Things" and reply "Yes" to it, then
- everyone in the chatroom should see that I replied to that particular message

but that original message should be signed by the original author and the signature should be checked, of course

[2018-11-30 09:34] churik commented on #5105
Still reproducible

[2018-11-30 09:34] churik commented on #5099
Still reproducible

[2018-11-30 09:35] churik commented on #4951
Still reproducible

[2018-11-30 09:35] cammellos commented on #6956
Thanks, that I know :), it is exactly what appending the `pk` locally is preventing. it allow us to keep `id` generation flexible (we can change schema across version, new fields added are irrelevant, which is the main pain point), but still make sure order does not matter

[2018-11-30 09:36] cammellos commented on #6956
If we sign the message content, then denormalizing the message in the reply just works yes

[2018-11-30 09:37] yenda commented on #6956
we also use it in seen messages, and it will also be used for threads, reactions, and other kind of incoming features

[2018-11-30 09:38] mandrigin commented on #6956
then we need to be bloody sure that we have a way to mention another message that is secure and compatible :-)

[2018-11-30 09:39] churik commented on #4977
Still reproducible

[2018-11-30 09:40] #5012 closed, assigned to maxhora

[2018-11-30 09:42] #5275 closed, assigned to nobody

[2018-11-30 09:46] rasom commented on #6956
in this case, we will be able to reference messages from other chats btw. I mean even if a recipient  is not a member of that chat.

[2018-11-30 09:46] churik commented on #5378
@MaxRis what we can do with this issue?
There are some plans to get rid of separate `ubuntu-process` at all, do we still need this issue?

[2018-11-30 09:48] churik commented on #5452
@chadyj do we still need FAQ?

[2018-11-30 09:50] churik commented on #5811
@vkjr I can retest it?

[2018-11-30 09:51] jeluard opened #6957 "Wallet shouldn't allows redirect to Home after a transaction completion"
After a transaction is completed wallet should redirect to the screen that initiated the transaction. Currently it does redirect to the Home page.

This is especially important for the `wallet.settings` hook as current behavior prevents doing anything after the first transaction is completed.

[2018-11-30 09:51] jeluard opened #6958 "Only render command message when relevant"
As a user I don't want to have any extension having register a named command hook be able to access my message details.
Only the right extension (identified by the extension id) should be able to render the command message.

Command message having the correct command name but incorrect extension id will then propose to install the right extension.

[2018-11-30 09:52] cammellos commented on #6956
@rasom that's just a matter of deciding what to include in the signature, you can include `chat-id` as well

[2018-11-30 09:54] churik commented on #5844
Closed in favor of #6812

[2018-11-30 09:54] #5844 closed, assigned to nobody

[2018-11-30 09:55] jeluard commented on #6855
@zachzundel I just created a generic polling event which slightly changes the requirements here (but hopefully simplify things). So no need anymore to handle the polling here.

What we now need is a generic event to create filter (wraps `eth_newBlockFilter`, `eth_newpendingtransactionfilter`):

[code]

Then an event to get latest changes (wraps `eth_getFilterChanges`):

[code]

And an event to can

[2018-11-30 09:55] maxhora commented on #5378
@churik tracking of progress on ubuntu-process removing is there https://github.com/status-im/status-react/issues/6175
I don't think that it has a lot sense to apply efforts to enhance `ubuntu-server` functionality

[2018-11-30 09:56] #5378 closed, assigned to maxhora

[2018-11-30 09:56] jakubgs commented on #6743
Wasn't this already resolved by @cammellos ? I think this can be closed.

[2018-11-30 09:58] SlizkovaGanna opened #6959 "To make styling of generated names bold for quote bubbles"
**User Story**

As a user, I want my generated names displayed in bold, comparing to the default 3-word name
As it's in the mockup:

<img width="639" alt="image" src="https://user-images.githubusercontent.com/43638377/49282028-c4461880-f496-11e8-9f12-ef89095d166a.png">

Type: **Feature**

**Summary:**
Currently, bold is user for generated names for regular messages, and not replies.

**Additional

[2018-11-30 10:02] jakubgs commented on #1125
Yeah, it all happened shortly before the hackathon and there were so many things going on the swarm was kinda forgotten. Now we can go back to working on this I guess.
As I remember it the first step was to make `status-go` builds deterministic, which was supposed to be easy because Go was supposed to ship with functionality for doing that soon. I'm not sure where to find info on that feature and

[2018-11-30 10:02] chadyj commented on #5452
Desktop should have the equivalent of the "need help?"menu on mobile.
Lets aim for parity where it makes sense.

[2018-11-30 10:04] lukaszfryc commented on #6946
duplicate of https://github.com/status-im/status-react/issues/5605?

[2018-11-30 10:14] lukaszfryc opened #6960 "Emoji reactions to chat messages"
### Description

*Type*: Feature

*Summary*: Users should be able to add/remove emoji reactions to messages. All chats and messages should be supported including own messages, send/receive commands and replies. SNT kudos are not in scope of this issue.

<img src="https://user-images.githubusercontent.com/7532782/49282915-9eb61080-f490-11e8-95b5-99ed7a527302.png" width="200">

Interactive designs:

[2018-11-30 10:15] #6743 closed, assigned to jakubgs

[2018-11-30 10:17] lukaszfryc commented on #6960
@errorists should reactions appear on long press? If yes, how it will look like on iOS? Will there be another buttons "Add reaction", "Remove reaction"? Maybe the "reactions sheet" should appear/hide on simple tap?

<img src="https://user-images.githubusercontent.com/7532782/49283132-33b90980-f491-11e8-8841-de9a70ba4c60.png" width="200">

Also, could you add figma link here when the final design i

[2018-11-30 10:32] chadyj commented on #6210
Still reproducible? @churik @Serhy

[2018-11-30 10:38] #6856 closed, assigned to nobody

[2018-11-30 10:38] chadyj commented on #5848
Removing this from the launch milestone since logs will be disabled in https://github.com/status-im/status-react/issues/6569

[2018-11-30 10:42] vitvly opened #6961 "Use peer count as a definition for Online/Offline within status desktop"
## Description

Currently, we rely on React Native's NetInfo API to check whether there is internet connectivity. On desktop, for instance, this presents a problem as by default react-native-desktop's NetInfo module uses `google.com` in order to check network connectivity.

## Solution
Although it is now possible to invoke `setConnectionCheckUrl()` on Desktop in order to set a custom URL, it would

[2018-11-30 10:46] mandrigin commented on #6956
Juat to document it there:
Keeping sha3 IDs might work just well if:
- on a sender we get sha3 of a messageafter it was serialized (raw payload bytes)
- on a receiver we get sha3 of a message before attempting to deserialize it (on raw payload bytes)

Whisper guarantees that the bytes we send are the bytes we receive. Hence, these hashes won’t depend on our interpretation/formats/etc.

[2018-11-30 10:52] SlizkovaGanna commented on #6672
@EugeOrtiz
I agree, we should either:
**1)** show the dot if there's any activity for all the cases (no matter if that is 1-1 chat, group chat or a public chat)
**2)** show the exact number of new messages, for all the cases (no matter if that is 1-1 chat, group chat or a public chat)

Right now, we are showing only messages received in 1-1 chats and group chats, and it is confusing from user pers

[2018-11-30 11:07] SlizkovaGanna commented on #6672
A good point from @errorists on this, from a different comment - https://github.com/status-im/status-react/pull/6888#issuecomment-442950127

[2018-11-30 11:18] yenda opened #6962 "Mailserver spec RFC"
I wrote a draft for mailserver usage and future api spec, RFC

Ideally as stated the proposed API would benefit from being implemented in go as there is probably mean to fullfil requirements with much less bloat than on clojure side.

# Problem

In whisper, messages are passed around in whisper enveloppes. A whisper envelope only contains the minimal amount of information required for transporting

[2018-11-30 11:19] yenda commented on #6962
@mandrigin @PombeirP @dmitryn @dshulyak @bhauman  @oskarth

[2018-11-30 11:21] Serhy opened #6963 "'Null is not an object located in group-chat-profile' app crash when deleting Group Chat from group info screen"
*Type*: Bug

*Summary*: App crashes when group chat member (admin or participant) deletes Group Chat via 'Delete Chat' option located at `Group info` screen.
Note: It's OK if delete group chat via 'Delete Chat` option from chat-menu options.

#### Expected behavior
After 'Delete chat' option submitted from 'Group info' screen: Group chat deleted and user navigated to Home screen.

#### Actual beha

[2018-11-30 11:36] dshulyak commented on #6962
looks good, i suggest to have different API though

instead of a single method `status.mailserver.initialize(mailserverList, requestOptions, callback)`, i suggest to have 2.

first will be called every time when user changes list of selected mail servers. it can be called initialized, but currently i created a binding with name UpdateMailservers. see https://github.com/status-im/status-go/pull/129

[2018-11-30 11:37] Serhy commented on #6891
There is a release blocker: https://github.com/status-im/status-react/issues/6963
Which is already fixed in the scope of https://github.com/status-im/status-react/pull/6932

@mandrigin @chadyj since #6932 is not in the scope of release we could go with: a) Include #6932 in scope of release or b) Cherry-pick commit fixing issue #6963 in the release. What's the best option for us at this moment? (I'

[2018-11-30 11:40] cammellos commented on #6891
I'll make it easy for everyone, I will just cherry pick the small fix (it's a one line change), and then if we want to include the whole PR we can decided later

[2018-11-30 11:46] adambabik commented on #6568
Please use these artifacts https://ci.status.im/job/status-go/job/parallel/141/ or `enable-metrics-by-default` branch in status-go.

Metrics should be available through `debug_metrics` JSON-RPC command. It takes one param (`true` or `false`) which modifies the output to raw or formatted numbers.

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="htt

[2018-11-30 11:49] yenda commented on #6962
the proposal is to completely remove the concern of requesting messages from the client there wouldn't be a need for it. The rules for when a request is made are described

I'm a bit worried about requiring persistent connection to mailservers because mailservers are supposed to be a temporary solution and relying on them for other features will make it harder to go away from them. I will have a d

[2018-11-30 11:54] yenda commented on #6962
@dmitryn I also updated the last part of the RFC, `initialize` can be called multiple times if the user changes the list of mailservers to try to connect to.

[2018-11-30 12:22] churik commented on #6946
Yes, it is closed, so couldn't find it. So reopen #5605 or leave this one?

[2018-11-30 12:25] jakubgs commented on #6955
So here are the issues with NVM:

* `nvm` is not a script or a binary, it's a huge shell function, which means we can't easily link to it.
* Jenkins does not run `interactive` shells so it does not load things like `nvm` from `.bashrc` for example.
  - Calls to `nvm use ${VER}` have no effect between invocations of `sh`.
  - This means we'd need to run `nvm.sh` for every invocation of `sh`, like s

[2018-11-30 12:27] jakubgs commented on #6955
Now, this syntax means we have to use `nvm('v10.14.1')` in every Stage where we need the specific version of Node. This is an improvement over calling `nvm.sh` in every `sh` invocation, but still a bit messy.

[2018-11-30 12:30] jakubgs commented on #6955
I might add that the disadvantage of this approach is that we node version would have to be hardcoded in the `Jenkinsfile`s, or possibly loaded from a file from `status-react`(`NODEJS_VERSION`) and then used via a variable in `nvm()` call, like so:
[code]

[2018-11-30 12:51] dshulyak commented on #6962
what if we will decide to fetch more history when a user scrolls up? the proposal seems too restrictive. why not to separate management of the connections and requests?

well they are not atm, and we probably won't get rid from them until new protocol. you can check discussion https://github.com/status-im/status-go/issues/1276 and https://github.com/status-im/status-go/issues/1278. it seems that w

[2018-11-30 12:55] yenda commented on #6962
we can add such method later for this kind of cases but it's not useful at the moment. Such feature would require more discussion anyway  it adds lots of other complication personally I don't like the idea

[2018-11-30 13:02] dshulyak commented on #6962
anyway, i don't understand the reason to make mail server connection management and history requests strongly coupled. and hide all history requests somewhere in status-go codebase.

what is wrong with an alternative that I suggested, offload connection management to status-go and do requests whenever you need, but keep them in status-react?

[2018-11-30 13:09] yenda commented on #6962
@dshulyak the only point of mailservers is to fetch message history so it makes sense if they are coupled.

I agree with the case for having a requestMessages method for special cases like the feature mentionned.
However that doesn't mean the client should have to handle all the standard cases. As described in the RFC there is no need to know about the concept of chat or anything for the mailserve

[2018-11-30 13:10] vitvly commented on #6568
UI update: for now we will show these stats in Profile->Advanced Settings.

[2018-11-30 13:14] cammellos commented on #6891
cherry picked https://github.com/status-im/status-react/pull/6965

[2018-11-30 13:22] lukaszfryc commented on #6946
We can leave this one

[2018-11-30 13:54] churik commented on #5892
Done again in 30/11/2018

[2018-11-30 13:54] #5892 closed, assigned to nobody

[2018-11-30 13:55] churik commented on #5931
@PombeirP still relevant?

[2018-11-30 13:56] jakubgs commented on #6955
It appears that the approach with NVM Wrapper Plugin works as shown in: https://github.com/status-im/status-react/pull/6949
Not sure though if this is the approach we want to use for all builds.

[2018-11-30 13:57] pedropombeiro commented on #2984
It would probably be better to have one of the Clojure devs look into how we'd be able to know the last logged-in account so we can test for that in the background service (since from the background service we don't necessarily have access to the realm db). If it's a question of saving a separate file from the main app and reading it from this bg service, that would be something I can tackle. Othe

[2018-11-30 14:01] pedropombeiro commented on #5931
This was opened more to make sure we remained consistent in how we build mobile and desktop, but doesn't really bring a lot of value right now. I'd leave this to be tackled as part of the Reproducible Builds swarm.

[2018-11-30 14:01] #5931 closed, assigned to pedropombeiro

[2018-11-30 14:10] chadyj commented on #6569
Decision: Completely disable logging for alpha release.
Optional for release or to be done later: add toggle to enable/disable logging

[2018-11-30 14:11] chadyj commented on #5845
@corpetty Desktop team is aiming to ship stable 0.9.0 release Dec 14.

Can you please help facilitate the privacy and security review?

Here is a quick update since we spoke last:
- Security warning added to alpha https://github.com/status-im/status-react/pull/6617
- Logging will be disabled by default in the release https://github.com/status-im/status-react/issues/6569
- Wallet is WIP but it won'

[2018-11-30 14:11] churik commented on #5960
Issue is gone; perhaps not completely but definitely hard to reproduce on nightly 30/11/2018

[2018-11-30 14:11] #5960 closed, assigned to nobody

[2018-11-30 14:14] Serhy commented on #6210
@chadyj Yes, it is.
So original steps from description are not reproducible anymore. I suspect this is because messages *and contact-request* are received from mailservers after account recover (some time ago, when this issue originally noticed and created we did not send requests for history for the new messages after account recover)

At the moment there are two use cases which can lead to 'Unkn

[2018-11-30 14:16] churik commented on #5962
@bitsikka can you reproduce this issue on current nightly?
Seems that I'm not able to reproduce it anymore

[2018-11-30 14:19] churik commented on #6076
Should be fixed after https://github.com/status-im/status-react/issues/6297

[2018-11-30 14:21] churik commented on #6112
closed in https://github.com/status-im/status-react/pull/6864

[2018-11-30 14:21] #6112 closed, assigned to cammellos

[2018-11-30 14:23] churik commented on #6111
Closed in favor #6684 - same problem is described

[2018-11-30 14:23] #6111 closed, assigned to nobody

[2018-11-30 14:30] churik commented on #6134
@vkjr any updates so far?

[2018-11-30 14:34] churik commented on #6204
@EugeOrtiz
can you provide design for this issue?

[2018-11-30 14:40] churik commented on #6207
Cannot reproduce

[2018-11-30 14:40] #6207 closed, assigned to nobody

[2018-11-30 14:43] churik commented on #6222
@SlizkovaGanna cannot reproduce it on nightly 30/11/2018. Can you recheck it and close if it is not relevant?

[2018-11-30 14:44] churik commented on #6240
Is not reproducible on nightly 30/11/2018

[2018-11-30 14:44] #6240 closed, assigned to nobody

[2018-11-30 14:49] churik commented on #6251
@jakubgs AFAIK it was fixed, so if I correctly understood you paste name by mistake to "Topic" field (for public chats) and then trying to add this contact code to "Contact code" field.
If so, you shouldn't be able to do this anymore because validation for  "Topic" field was fixed.
I couldn't reproduce it anymore. Can you confirm it?

[2018-11-30 14:51] churik commented on #6280
@jonathanbarker still facing this issue?

[2018-11-30 14:53] churik commented on #6286
@asemiankevich did you face with this issue recently again or it happened only once?

[2018-11-30 14:54] asemiankevich commented on #6286
@churik nope , not anymore.

[2018-11-30 14:55] J12B commented on #6280
No - this issue fixed with update. Thanks.

[2018-11-30 14:56] #6280 closed, assigned to nobody

[2018-11-30 14:59] churik commented on #6364
Duplicate of https://github.com/status-im/status-react/issues/6216

[2018-11-30 14:59] #6364 closed, assigned to SlizkovaGanna

[2018-11-30 15:16] lukaszfryc commented on #6891
When https://github.com/status-im/status-react/pull/6932 is merged, it will contain fixes for #6963 and #6965.

So apart from #6903 (not a blocker?) we are almost done. We just need to re-test some areas of the app on Monday.

[2018-11-30 15:19] chadyj commented on #6891
@jeluard You all set?

[2018-11-30 15:21] jakubgs commented on #6251
Looks fixed, now I get a warning about not using contact codes. Nice!

[2018-11-30 15:21] #6251 closed, assigned to nobody

[2018-11-30 15:22] churik commented on #6407
not reproducible on last nightly (30/11/2018)

[2018-11-30 15:22] #6407 closed, assigned to nobody

[2018-11-30 15:22] chadyj commented on #6926
Update: During today's desktop sync the team agreed to ship the alpha release by Dec 14. 🎉

[2018-11-30 15:39] churik commented on #6449
@lukaszfryc can you constantly emulate situation when we can resend message on mobile? I cannot so request your help

[2018-11-30 15:43] churik commented on #6458
Still valid. Probably there is some time limit, i.e. 3 messages in 5 min.
But I can still reproduce it if I receive 4 messages in a row - I have only 3 PNs.

[2018-11-30 15:48] EugeOrtiz commented on #6204
@churik is all in [this issue](https://github.com/status-im/status-react/issues/6607). It includes more fixes.

[2018-11-30 16:08] churik commented on #6204
сlosed in favor of #6607

[2018-11-30 16:09] churik commented on #6613
RN-related I guess?

[2018-11-30 16:11] churik commented on #6619
@lukaszfryc is it fixed in https://github.com/status-im/status-react/pull/6714?

[2018-11-30 16:15] churik commented on #6621
@EugeOrtiz I believe we can close it or update the title because the current version of PNs do show source, contact and time.
WDYT?

[2018-11-30 16:17] jeluard commented on #6891
I’d love to have #6957 too but I am AFK. @flexsurfer can you handle that?

[2018-11-30 16:20] Fukunaga42 commented on #6300
Hello Guys, any news regarding our problem? Dont hesitate if you need anything from us to ping me here.
Best

[2018-11-30 16:24] churik commented on #6656
@MaxRis can you look?

[2018-11-30 16:52] flexsurfer commented on #6891
cherry picked  #6957  https://github.com/status-im/status-react/commit/18b75226423374fac58ee96583f0fe05e1159ceb

[2018-11-30 16:58] churik commented on #6663
cc @chadyj
As release are coming soon, should we create new T&C specific for Desktop?

[2018-11-30 17:00] #6679 closed, assigned to nobody

[2018-11-30 17:08] churik commented on #6738
Btw, name is not resolved if you paste it (not typed).
If you paste 'andrei' and delete 'i', it resolves to `Runny Hot Monkey` as well.

Video: http://take.ms/qgJNX

<blockquote><img src="https://api.monosnap.com/rpc/file/download?id=t7H8Mdjkis4F2maoLqdb6H3f38gtib&type=preview" width="48" align="right"><div>Monosnap screenshot tool</div><div><strong><a href="https://monosnap.com/file/t7H8Mdjkis4F2

[2018-11-30 17:14] churik commented on #6795
I'm not sure it is an issue.
@dmitryn can you confirm what is expected result in this case?

[2018-11-30 17:14] yenda opened #6973 "react-native-i18n is deprecated"
# Problem

react-native-i18n has been deprecated  https://github.com/AlexanderZaytsev/react-native-i18n

# Implementation

replace it by https://github.com/react-community/react-native-languages

# Acceptance Criteria

react-native-i18n is replaced by react-native-languages

<blockquote><img src="https://avatars2.githubusercontent.com/u/508532?s=400&v=4" width="48" align="right"><div><img src="htt

[2018-11-30 17:27] jeluard commented on #6300
Sorry @Fukunaga42  we will look at it next week!

[2018-11-30 17:28] jeluard commented on #6691
Replace by view lifecycle hooks.

[2018-11-30 17:28] #6691 closed, assigned to nobody

[2018-11-30 17:31] churik commented on #6414
On IOS and Android I see constant flickering "Offline" message until restarted app

[2018-11-30 17:39] churik commented on #3577
@lukaszfryc it is still reproducible?

[2018-11-30 17:46] Serhy commented on #6891
That's fine, agree.
Ideally, I'd exclude #6932 from cherry-picking, though. Because mostly it contains additional features we are about to include after release branch cut off (PR #6935 fixed original release blocker #4868)

[2018-11-30 17:55] EugeOrtiz commented on #6449
[Designs specs for desktop](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=611%3A8)
<img width="590" alt="captura de pantalla 2018-11-30 a la s 2 46 55 p m" src="https://user-images.githubusercontent.com/37297779/49305756-e6e42b80-f4ae-11e8-80e2-806aaacf53dc.png">

**Please use Figma to see the rest of the design details.**

[2018-11-30 17:59] EugeOrtiz commented on #6449
@churik Can the error happen _after_ I hit the send button? If so, disabling it is not a good solution.

[2018-11-30 18:51] lukaszfryc commented on #6619
@churik yes. But, you need to pair to enable the sync. It's not automatic.

[2018-11-30 19:00] 3ach commented on #6855
No inconvenience at all! Should `ethereum/create-filter` also wrap `eth_newFilter`? How should I distinguish between a `newBlockFilter` and a `newPendingTransactionFilter` since neither takes any arguments? My current approach just has different events for all three.

[2018-11-30 19:15] jeluard commented on #6855
One event would be nice! Maybe we could have a type parameter to distinguish between both?

[2018-11-30 19:20] 3ach commented on #6855
What about newFilter? That one is a bit different because it has parameters
where the other two do not.

Zach

On Fri, Nov 30, 2018 at 12:15 PM Julien Eluard <notifications@github.com>
wrote:

[2018-11-30 19:24] jeluard commented on #6855
You could have extra optional params that would only be used for this one.

[2018-11-30 19:37] richard-ramos commented on #6138
When working with `status-js` we noticed that MessageSeen  (#c5 tag) messages are being replied back for 1:1 messages, so they're still being sent. I think this should be an optional feature, due to possible metadata/privacy leak.

[2018-11-30 19:37] corpetty commented on #6138
I would like that as a profile preference to respond with a seen message.

[2018-11-30 20:16] dylanjw commented on #6199
@jeluard
Just an update.  Adding a route to https://github.com/status-im/universal-links-handler to handle extension links was straightforward.  I'll make a pull request soon.

I would like to make sure the QR code is able to be resolved when scanned by status im, which I havent gotten to work so far.  Is there an example extension I can use to test?

<blockquote><img src="https://avatars3.githubu

[2018-11-30 20:23] vitvly commented on #6449
@EugeOrtiz @churik I think it might happen that there is no connectivity already, but we don't know about it yet (because e.g. we periodically poll servers for accessibility, and connection might get dropped somewhere in between).

[2018-11-30 21:33] 3ach commented on #6855
Okay, I think I've done this, but I'm not sure what the best way to test this is. Do you have any recommendations?

[2018-12-01 00:03] #5311 closed, assigned to vitvly

[2018-12-01 06:06] chadyj commented on #5314
Closed in https://github.com/status-im/status-react/pull/6671

[2018-12-01 06:06] #5314 closed, assigned to vitvly

[2018-12-01 09:52] vkjr commented on #5151
@churik, I see CPU consumption on resize and absence of minimal app size.
Can you also reproduce chat scrolling when window resized? It looks good for me now.

[2018-12-01 10:10] vkjr commented on #5811
@churik, I checked, it should be fixed on rnd side, but doesn't work yet in status-react. So needs additional check and implementation.

[2018-12-01 10:16] vkjr commented on #6134
@churik, not aware about work made in this area.

[2018-12-01 12:42] ghost commented on #5724
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-01 14:02] maxhora commented on #6656
@churik I have found that reportApp Window is not get launched at all if crash happens for non-bundle builds. The fix is available in https://github.com/status-im/status-react/pull/6975
Could you please verify that the described issue with missed files is not reproducible in above mentioned PR (I was not able to repro it locally)? The sources in PR are temporary modified to generate crash on app's

[2018-12-01 14:07] rachelhamlin commented on #6891
Are we targeting Tuesday for release @chadyj?

cc @j-zerah

[2018-12-01 15:12] chadyj commented on #6891
Ideally yes, but could run late with testing and more fixes.

[2018-12-01 15:21] jeluard commented on #6199
You have to go to your profile then enable developer mode in advanced panel. Then anew  extensions item will appear: you will be able to scan there.

[2018-12-01 15:22] jeluard commented on #6855
Not really actually. Maybe find a simple contract that generates some event and print an alert with the result?

[2018-12-01 19:05] dylanjw commented on #6199
@jeluard Ive put up the PR in status-im/universal-links-handler. Let me know if there is anything else you would like me to do.

[2018-12-02 07:25] ghost commented on #3280
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-02 11:25] ghost commented on #5730
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-02 12:52] ghost commented on #5653
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-02 12:52] #5653 closed, assigned to nobody

[2018-12-02 14:55] #6683 closed, assigned to nobody

[2018-12-02 14:56] #6558 closed, assigned to jeluard

[2018-12-02 15:24] rasom commented on #6903
fix is ready https://github.com/status-im/status-react/pull/6976

[2018-12-02 15:26] rasom commented on #6956
We receive `hash` from `status-go` side, why can't we use it? I suppose that was discussed, but i don't remember the exact reason.

[2018-12-02 15:27] rasom commented on #6956
Probably because we can't calculate it before the message is sent or something. Well, we can calculate payload's hash.

[2018-12-02 17:55] adambabik commented on #6568
@siphiuel is there a build with the stats working?

[2018-12-02 20:25] pcowgill commented on #6676
@cammellos Should we reopen this issue, based on that? (cc @EugeOrtiz)

[2018-12-03 00:14] rachelhamlin commented on #6861
Hey @flexsurfer you mentioned a new js workaround—is this an issue to postpone because of it?

[2018-12-03 05:33] rasom commented on #6956
In group chats we do not receive payload for the message specifically as it is wrapped via `GroupMembershipUpdate`. So the question is whether it's fine to use `GroupMembershipUpdate`'s payload for calculating id.

[2018-12-03 06:46] ghost commented on #5661
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-03 06:46] #5661 closed, assigned to flexsurfer

[2018-12-03 07:20] cammellos commented on #6956
@rasom for group chats  the payload of  actual chat message seems to be the safest choice, it means the message needs to be serialize just to calculate the id, but I feel is more consistent and allows us to recalculate ids for each message separately (comes in handy once/if we start syncing messages across devices etc)

[2018-12-03 07:24] cammellos commented on #6676
@pcowgill could you please replicate with a newer nightly and re-open if still the case?
Thanks!

[2018-12-03 07:52] lukaszfryc commented on #3577
I think so. Anyway it's so low prio that I'd close it.

[2018-12-03 07:52] #3577 closed, assigned to nobody

[2018-12-03 07:57] lukaszfryc commented on #6891
TBH, I don't see a reason **why we should not** include #6932 in the release. It contains useful feature for group chats and is all tested. cc @Serhy @cammellos

Anyway, we need to retest some parts of the app before the regression.

[2018-12-03 08:02] lukaszfryc commented on #6449
Yes, I could simulate it pretty consistently on slow network connection.

[2018-12-03 08:06] ghost commented on #4020
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-03 08:06] #4020 closed, assigned to nobody

[2018-12-03 08:08] rasom commented on #6956
ok, this means that we
1) we need to lock down `Message` record and agree that its interface (specifically number and order of fields) can't be changed
2) make sure that if we want to change these fields `v2.Message` record (or something like this) is created instead of changing existing one
3) make sure that `Message` can be handled by all next versions of the app since now

Otherwise, we will ha

[2018-12-03 08:12] cammellos commented on #6956
Not sure, wait a second,
we want to take the hash of the serialized transit, not of the `Message` record (i.e. the bytes transmitted on the wire). If we add a field, the ID of that will change on the sender side, but the receiver will not parse it before creating the id, so the id will be the same. Because we use the non-parsed (the bytes received) object, so it should be fine to add/remove fields

[2018-12-03 08:29] #6847 closed, assigned to hetvart

[2018-12-03 08:29] #6834 closed, assigned to hetvart

[2018-12-03 08:31] lukaszfryc commented on #6963
Removing release label as it's already cherry picked into release/0.9.32.

[2018-12-03 08:46] rasom commented on #6956
@cammellos do you mean the payload of `GroupMembershipUpdate` or it's `message` filed?

[2018-12-03 08:47] cammellos commented on #6956
the `message` inside, not `GroupMembershipUpdate`

[2018-12-03 08:51] mandrigin commented on #6956
I added this topic as a discussion point for the dev meeting today. Maybe we can just talk through all the edge cases that are left.

[2018-12-03 08:52] errorists commented on #4345
Hey, sorry for taking a while but here's the documentation for the fetching progress bar design.

[Link to Prototype ](https://framer.cloud/MsLgV/)
It's an indeterminate progress bar however, I'd suggest to also implement the determinate one when working on it so we can use the component in other areas like the [Browser](https://github.com/status-im/status-react/issues/6851) 🙏

To retrace what's h

[2018-12-03 08:55] rasom commented on #6956
correct, and right now we don't have serialized transit of the Message which is wrapped via `GroupMembershipUpdate `, or i'm wrong? The recipient will need to calculate it. Then we either need to send serialized transit of the message in `GroupMembershipUpdate`'s `message` field or guaranty that it can be calculated properly on the recepeint's side.

[2018-12-03 08:55] #6958 closed, assigned to flexsurfer

[2018-12-03 09:01] errorists commented on #5371
Here's a solution I propose, whenever a snackbar is displayed we push down the underlying scroll view by the height of the snackbar like in [this prototype ](https://framer.cloud/MsLgV/)
Think of it as adding / removing an additional top padding to the scroll children or offseting the scroll position by the height of the snackbar. Once the snackbar is gone, we push it up to the default location. W

[2018-12-03 09:02] cammellos commented on #6956
@rasom that's correct so just that we are on the same page, for a group membership update:

On sender size:

1) Create message payload
2) Serialize, calculate message-id, add to the database
3) Wrap in `GroupMembershipUpdate` and send

On receiver:

1) Extract inner message
2) Serialize
3) calculate message-id, Deserialize, add to the database

As opposed to for normal messages:

Sender flow:

1)

[2018-12-03 09:03] cammellos commented on #6956
But yes, I see your point now :)

[2018-12-03 09:05] cammellos commented on #6956
Ok, probably best to stick to `message-id` calculate over `GroupMembershipUpdate`, as as you said new fields might pose the same problem.

[2018-12-03 09:08] hetvart opened #6977 "Can access wallet modal in 1*1/group chat"
Wallet modal must reflect the same info as in wallet screen.

Scope:
- 1*1 chat with a person
- group chat

[2018-12-03 10:16] ghost commented on #3413
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 10:18] SlizkovaGanna commented on #6419
Reproduces for me also

<img width="668" alt="image" src="https://user-images.githubusercontent.com/43638377/49367680-6ebb7700-f6f5-11e8-96ca-4e14ddbe2321.png">

[2018-12-03 10:31] errorists opened #6979 "Update the colours and username display inside the mobile chat UI"
# Problem

As part of the ongoing work on UI components we've made some changes to the mobile UI that aim to unify it across all screens and products, this issue is related to introducing those changes into chat message UI.

# Implementation

![comparison](https://user-images.githubusercontent.com/4932774/49366766-70337200-f6ea-11e8-8832-ee920a1fdbf1.jpg)

### The scope of this task is related to

[2018-12-03 10:47] Serhy commented on #6891
The reason, in a nutshell, is to follow the plan in what we about to release (the new features and bugfixes we stick to by release branch cut off).
It makes sense to include fixes to outstanded regressions, but not really makes sense to include new features (what for to cut off the release branch then?)

@lukaszfryc @cammellos let's cherry-pick #6932 in `release/0.9.32`, this is the part we were a

[2018-12-03 10:49] cammellos commented on #6891
@Serhy thanks, cherry-picked

[2018-12-03 11:04] cammellos commented on #6272
I'd love to see: Command + k brings up a pop up that allows you to search the open chats, try it out on slack to see what I mean, it's very handy and allows switching chats without using a mouse.

[2018-12-03 11:05] churik opened #6981 "85,2 GB size is shown in Control Panel for Status app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see real size of installed programs.
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary

[2018-12-03 11:05] pedropombeiro commented on #6828
@chadyj this should be in the `Desktop - awaiting` column, right?

[2018-12-03 11:06] chadyj commented on #6272
That's a fave of mine in Slack too! (also Command + T)
We could just move the keyboard focus to the search box we already have.

[2018-12-03 11:07] cammellos commented on #6272
@chadyj yes! and focus on the first chat input box on `Enter`, and then is mouse free

[2018-12-03 11:13] asemiankevich commented on #6891
@lukaszfryc totally agree with @Serhy here. Also if u are proposing something to be included - make sure averyone impacted is aware. This is the first time i hear about this nice feature to be a part of release. cc @annadanchenko

[2018-12-03 11:19] lukaszfryc opened #6982 "Enable group chats in nightlies by default"
### Description

*Type*: Bug

*Summary*: Let's move group chats to a next testing stage and enable them in nigtlies. Currently, they are available only after dev mode is on. Enabling them by default would allow for easier access and simplify e2e test automation (https://github.com/status-im/status-react/issues/6884).

### Additional Information
* Status version: nightly
* Operating System: Android

[2018-12-03 11:20] lukaszfryc commented on #6982
@cammellos could you help here?

[2018-12-03 11:24] cammellos commented on #6982
@lukaszfryc should be already in https://github.com/status-im/status-react/commit/5795ca8d1a58ff3e7efbefa1e4c2f9b509e7e9ec ?

[2018-12-03 11:30] lukaszfryc commented on #6982
Ah, true. I used old nightly. Thanks!

[2018-12-03 11:30] #6982 closed, assigned to nobody

[2018-12-03 11:35] tbenr commented on #6866
@jeluard I started working on this but I have a question:
when i try to use `ipfs/cat` event that is already implemented I get "no handler registered for effect `{ ... name="http-raw-post" ..}`"

i try to call it via:

[code]

is there a missing connection between `ns status-im.utils.http` functions and extensions events, or there is a missing thing in my brain :) ?

[2018-12-03 11:46] mandrigin commented on #1125
@jakubgs it would be awesome! can you keep us updated on your research in this issue?

[2018-12-03 11:55] Graeme-Code commented on #1125
I dropped the ball here. Arranged for a technical writer (can't remember
his name) we hired to review and document all moving parts for status go
and status react. He then went AWOL and was unable to secure technical
writing resources. I turned all my focus to the voting dapp.

On Mon, Dec 3, 2018 at 11:46 AM Igor Mandrigin <notifications@github.com>
wrote:

--
I respond faster on Status, use my c

[2018-12-03 12:04] churik opened #6984 "Empty screen at attempt to invite friends in group chat (when user doesn't have contacts)"
### Description

*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  when user doesn't have contacts and he opens `Start Group Chat` and clicks on `Invite friends` - empty screen is shown, in order to continue work with app you need to restart it.

#### Expe

[2018-12-03 12:36] ghost commented on #5557
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 12:40] yenda commented on #6956
Locking down the message format and having versioning is exactly what we had before and it was abandonned because it breaks forward compatibility for old clients

[2018-12-03 12:43] cammellos commented on #6956
Yes, if we use `GroupMembershipUpdate` we won't be locking down message format, while we would if we calculated the id using the inner message (as it needs to be deserialized, so new fields might not be available), it comes at some costs and wanted to avoid this, but for now seems to be the safest choice

[2018-12-03 13:20] chadyj commented on #6891
@rachelhamlin @j-zerah
There was a comment [here](https://discuss.status.im/t/status-mobile-releases/823/3) about needing Decentraland in the dapp listing by December 10. Is that still required? It needs to be in this release or it won't make the deadline.

[2018-12-03 13:43] oskarth commented on #6981
Is this definitely only Windows?

cc @PombeirP

[2018-12-03 13:46] ghost commented on #5223
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 13:49] churik commented on #6981
@oskarth on Mac OSx app size is 353,2 MB - I believe it is right.

[2018-12-03 13:51] churik commented on #5223
not reproducible

[2018-12-03 13:51] #5223 closed, assigned to nobody

[2018-12-03 13:55] lukaszfryc commented on #5371
@errorists I like this idea. Also, changing colors of the snackbar when something is done (Connecting... -> Connected) is a nice UX  👍

[2018-12-03 13:56] rcullito commented on #6568
hey @adambabik not yet. I can ping here once there is a build with this information included. tackling this next 👍

[2018-12-03 13:56] ghost commented on #5746
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 13:57] chadyj commented on #4434
Done in https://github.com/status-im/status-react/pull/6974

[2018-12-03 14:02] SlizkovaGanna commented on #6656
@MaxRis  The fix for https://github.com/status-im/status-react/pull/6975 does not solve the issue, since it fixes the reportApp window appearance.
The issue currently is that:
**1)** no files are auto-attached to the report, only what user will choose to attach
**2)** it's not obvious what user should attach even when they want to: the page simply says "Please attach log files"

<img width="357" a

[2018-12-03 14:14] chadyj opened #6985 "Improve replies and copying messages on desktop with context menus"
# Problem

A recent desktop hack introduced replies via left click and copying via right click because there wasn't an ability to use context menus.  But now there are so we can fix this!

# Implementation

The current left/right click functionality should be removed.  New functionality:

Right click on a message. A menu shows:
- "Reply"
- "Copy message"

# Acceptance Criteria

- Left/right click

[2018-12-03 14:16] ghost commented on #5747
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 14:22] pedropombeiro commented on #6981
@oskarth I've seen this issue on other Windows apps in the past. It could be related to NSIS, or the actual install script itself. I based myself on the script used by some well-known app (not sure if Winamp) and trimmed/adapted it for our needs. It seems to be purely aesthetical, so for the initial version I didn't bother to spend much time looking into solving that.

[2018-12-03 14:23] churik commented on #6449
If @lukaszfryc can reproduce it on mobile, issue is relevant for desktop as well.
 Will ask your help when  it is fixed. Thanks!

[2018-12-03 14:25] lukaszfryc commented on #6449
Sure!

[2018-12-03 14:36] churik commented on #5811
@vkjr from clojure side, yes?

[2018-12-03 14:42] churik commented on #4434
It is not done actually - I changed title to `Apply design`, because the feature is currently implemented without design.
All designs are attached to this issue.
So I'll reopen it if you don't mind

[2018-12-03 14:52] churik commented on #6619
Updated https://ethstatus.testrail.net/index.php?/cases/view/5680, consider issue as closed

<blockquote><img src="https://static.testrail.io/5.6.0.3841/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/5680">Login - TestRail</a></strong></div></blockquote>

[2018-12-03 14:52] #6619 closed, assigned to nobody

[2018-12-03 14:52] #6204 closed, assigned to nobody

[2018-12-03 14:53] #6286 closed, assigned to nobody

[2018-12-03 14:58] vkjr commented on #5811
@churik, yes

[2018-12-03 14:59] churik commented on #6738
@chadyj - guess it should be `high-prio` for 0.9.0, WDYT?

[2018-12-03 15:04] SlizkovaGanna commented on #6222
Does not reproduce any longer.
Checked on Mac and Linux.
Checked on nightly from 03/12/2018.

[2018-12-03 15:04] #6222 closed, assigned to nobody

[2018-12-03 15:06] chadyj commented on #6738
I couldn't reproduce:
- problem pasting in `andrey` (works for me)
- cologic resolving to another user (doesn't resolve at all for me)
- naghdy doesn't resolve
- andrei doesn't resolve

In any case not high priority as most ENS seems to work just fine.

[2018-12-03 15:20] j-zerah commented on #6891
@chadyj @rachelhamlin - yes if we can add decentraland to the list in this release, it would be much appreciated. We are launching comms for a joint campaign on december 10

[2018-12-03 15:23] SlizkovaGanna commented on #6210
Retested on the last nightly from 03/12/2018 (after https://github.com/status-im/status-react/pull/6671 was merged) for Scenario #2 - it does not reproduce.
Tested for scenario #1 and will update this comment in 24 hours

[2018-12-03 15:36] maxhora commented on #6656
@SlizkovaGanna @churik sorry, I've missed the point that Issue asks to attach files automatically to the Google Form. I don't see easy way to attach files into Google Form automatically. How about adjusting message in reportApp to ask to attach exactly both files (crash.dmp and Status)? That should minimize the issue.

[2018-12-03 15:37] churik commented on #6656
@MaxRis  agree, let's do it.

[2018-12-03 15:39] SlizkovaGanna commented on #6531
Still a valid issue.
Tested on nightly from 30/12/2018

[2018-12-03 17:00] mandrigin commented on #5557
Nope-nope-nope :)

[2018-12-03 17:03] mandrigin commented on #1125
@Graeme-Code so, I think @jakubgs is right and we can start with just making status-go deterministic, it wouldn't hurt anyway.

[2018-12-03 18:01] chadyj commented on #6891
Hey devs! Can anyone help bringing decentraland back?  We used to have it and was removed in this  PR so you can grab assets and info https://github.com/status-im/status-react/pull/4232/files#diff-3f0aba2b3c8741a870b1cffc6357607dL188

<blockquote><img src="https://avatars3.githubusercontent.com/u/359723?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" h

[2018-12-03 20:08] mandrigin commented on #6757
@adambabik what is the task to sync mailservers (whisper opcode)?

[2018-12-03 20:18] mandrigin commented on #5793
@cheatfate for biometrics there are https://github.com/status-im/status-react/issues/5556 and https://github.com/status-im/status-react/issues/5557.

It is not so hard to just use some feature of a lib, but it is much trickier to figure out if this library is actually as safe as it claims. The last thing you want in crypto is to have an adversary to be able to decrypt your private key. We need to

[2018-12-03 20:41] mandrigin commented on #6962
@yenda why do we have the same `requestOptions` in both methods? I would agree with @dshulyak and remove it from the initialization. All the signals that we get to trigger the mailserver requests are coming from the OS, and that's react part.

[2018-12-03 21:48] rcullito commented on #6568
hey @adambabik and cc @siphiuel I was curious if either of you had input on what specifically within debug-metrics you would like to see in order to provide the high level summary of the general state of connections?

Some ideas given what's already been posted
a.) discv5: inbound and outbound traffic, mean rate
b.) p2p: also inbound and outbound traffic
c.) les: packets in/out

Let me know if you

[2018-12-03 21:57] SlizkovaGanna opened #6991 "When creating a reply to the messages of different user, the first user is shown as the message author in the reply bubble in message input area"
Description

Type: **Bug**

**Summary:** When creating a reply to the messages of different user, the first user is shown as the message author in the reply bubble in the message input area
After the message is posted though, the correct author is shown in the 'reply' bubble.
The issue is valid on mobile and desktop both.

**Expected behavior:** The icon and the name of original author of a messag

[2018-12-03 21:57] ghost commented on #5753
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 22:07] ghost commented on #5755
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-03 22:07] ghost commented on #5754
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-04 00:00] gnl commented on #6828
This doesn't look like an Info.plist/metadata-setting sort of quick fix, it'll likely require a small amount of work on the native side.
These may be helpful:
https://stackoverflow.com/questions/24266446/qt-5-3-mac-full-screen
https://stackoverflow.com/questions/4921910/how-to-make-a-mac-osx-cocoa-application-fullscreen
https://stackoverflow.com/questions/38164793/mac-os-xcode-swift-2-2-fullscreen

[2018-12-04 05:20] jeluard commented on #6891
@chadyj Find the PR here: https://github.com/status-im/status-react/pull/6992/files

<blockquote><img src="https://avatars3.githubusercontent.com/u/359723?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react/pull/6992">Added Decentraland DApp by jeluard · Pull Request #

[2018-12-04 05:32] santteegt commented on #4391
Hi,

I'm still working on this bounty. I've already identified where changes have to be made [ui/screens/wallet/subs.cljs](https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/wallet/subs.cljs). Last value of `portfolio-value` has to be stored in app-db and set instead of `...`

I'll be sending the PR during this week

[2018-12-04 07:51] #6963 closed, assigned to cammellos

[2018-12-04 08:07] ghost commented on #5669
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-04 08:07] #5669 closed, assigned to pedropombeiro

[2018-12-04 09:10] #6957 closed, assigned to flexsurfer

[2018-12-04 09:17] chadyj commented on #6571
Removing this from the 0.9.0 release

[2018-12-04 09:20] adambabik commented on #6757
@mandrigin I think it's https://github.com/status-im/status-go/issues/1290. I don't remember creating any other issues.

[2018-12-04 09:21] chadyj commented on #6396
@cammellos Would be great if you can grab this to get it included in the 0.9.0 desktop release next week (if you still have context and bandwidth)

[2018-12-04 09:21] mandrigin commented on #6757
@adambabik thanks! that is what I need!

[2018-12-04 09:23] chadyj commented on #6568
@rcullito  Just an idea....include whatever you have and we can see what's useful in daily use.  A quick first pass is good for the milestone then we can revisit later with tweaks and better UI.

[2018-12-04 09:27] cammellos commented on #6396
@chadyj I will take tomorrow to work on this, we can use the peer count to check if online/offline https://github.com/status-im/status-react/issues/6961 , and it would be good to include https://github.com/status-im/status-react/pull/6877 so that in case we just disconnected we get some feedback when sending messages.

 @siphiuel are you working on https://github.com/status-im/status-react/issues/

[2018-12-04 09:28] mandrigin commented on #6568
@rcullito some marker showing which services are running on a node will be useful: LES, ETH, Whisper, Mailserver

[2018-12-04 09:30] adambabik commented on #6568
I recommend running status-go locally with
[code]

and then `curl -v -H "Content-Type: application/json" --data '{"jsonrpc":"2.0","method":"debug_metrics","params":[true],"id":1}' http://localhost:8545`

It will print the whole output. `result.{whisper,rendezvous,p2p,les,discv5}` are the most interesting for us for the time being.

[2018-12-04 10:07] ghost commented on #5758
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-04 10:24] vitvly commented on #6396
@cammellos Planned on working on #6961 this week, but not started yet. So please take over :)

[2018-12-04 10:27] ghost commented on #5687
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-04 10:27] #5687 closed, assigned to nobody

[2018-12-04 10:29] chadyj commented on #6926
@churik If we are aiming for Dec 14 release when should be cutting the release branch? How much release testing will be needed?

Also for reference we have the [mobile release guide](https://notes.status.im/mobile-release-guide) to borrow from.

[2018-12-04 10:32] chadyj commented on #5845
@corpetty We are about one week away from cutting our release for testing.  It would be great if you could add your security and privacy discussion points here so the team can discuss and finalize.

[2018-12-04 10:47] churik commented on #6926
@chadyj
I believe 2-3 days should be enough to test RC candidates (if no more release blockers will be found).
Let me clarify several moments:

1) now we are mostly concentrated on Mac OSx users? (because imo Linux and Windows have existing important issues: https://github.com/status-im/status-react/issues/6796, https://github.com/status-im/status-react/issues/6727, https://github.com/status-im/st

[2018-12-04 10:55] chadyj commented on #6926
Most of our current users are on MacOS, but we aim to equally support Mac, Linux, and Windows.

We should fix any blockers that prevent the use of the app, but it is OK if there are a few warts on the release. This is an alpha after all :)

Ok.

For launch blockers let's do what mobile does and add the `release-desktop` tag to the issue.  I started a [desktop release guide doc](https://notes.statu

[2018-12-04 11:01] #6199 closed, assigned to nobody

[2018-12-04 11:03] churik commented on #6656
@MaxRis I guess it shouldn't be time-consuming to implement?
All that required for now - to make explicit prompt that crash.dmp and Status exec both should be attached.
I added it to release 0.9.0 because I believe it is quite important to get these crash logs.

[2018-12-04 11:07] flexsurfer commented on #6891
cherry picked https://github.com/status-im/status-react/pull/6992

[2018-12-04 11:10] maxhora commented on #6656
@churik thanks, yes, I will add prompts into available https://github.com/status-im/status-react/pull/6975

[2018-12-04 11:35] mandrigin opened #6996 "Fix yarn warnings"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to build without warnings.

### Description

Right now `yarn install` produces a lot of warnings about some dependencies being unmet, etc. We would like to fix them.

#### Expected behavior
`yarn install` on node 10 works w/o warnings.

[2018-12-04 11:38] chadyj commented on #6926
Can we disable the [download new version](https://github.com/status-im/status-react/pull/6870) feature in the release builds? We don't want stable release users to accidentally install a unstable nightly version.

Also is there a flag like on mobile that can make some features dev/nightly and others release?

[2018-12-04 11:40] churik commented on #6926
@flexsurfer  can you help here?

AFAIK no.

[2018-12-04 11:49] flexsurfer commented on #6926
better to remove it completely then, anyway it works only for mac

[2018-12-04 12:16] flexsurfer commented on #6891
cherry picked https://github.com/status-im/status-react/pull/6971

[2018-12-04 12:32] chadyj commented on #6760
Still needed in 0.9.32?

[2018-12-04 12:37] asemiankevich commented on #6339
@rasom @jakubgs anything we can do here?

[2018-12-04 13:05] chadyj opened #6997 "Remove desktop download nightly release feature"
# Problem

Desktop nightlies has a useful feature to prompt users to download the latest nightly version.  While this works great in nightlies (albeit for Mac only) it will be a problem for the stable release version as it will prompt the user to go from stable release to unstable nightly version.

# Implementation

@flexsurfer suggests removing the feature entirely https://github.com/status-im/st

[2018-12-04 13:09] chadyj commented on #6926
Added issue to remove nightly build feature https://github.com/status-im/status-react/issues/6997

Along those lines I notice that mobile has special Jenkins `release` jobs that do things like omit logging, or omit other features that are not intended for release. Is this something we might want to create @MaxRis @vkjr @siphiuel?

[2018-12-04 13:09] errorists commented on #6960
Mobile designs are [available here in Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1244%3A9109). @lukaszfryc both the iOS and Android Action Sheet menu will be made obsolete by our own [bottom sheet component](https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=5%3A220) that aims to unify the design across both platforms, I say good riddance :) But that's b

[2018-12-04 13:20] SlizkovaGanna opened #6999 "User's image is a square when replying to their message, not a circle"
Type: **Bug**

Summary: On desktop, when replying to a message of the user, in reply bubble in message input area, that icon is displayed as a square, not a circle.
It's especially visible when there's a profile icon set.

Reported separately from https://github.com/status-im/status-react/issues/6216 , since it's not an inconsistency with design.
I could not find any design references for this on

[2018-12-04 13:30] asemiankevich commented on #6891
@chadyj we are waiting for https://github.com/status-im/status-react/pull/6987 to be tested and merged to release branch. Then we can do final testing i guess, since i am not aware of any other commits to be included.  What was the agreed deadline for the Asia Roadshow build?

cc @Serhy @churik @annadanchenko @mandrigin @jeluard @rachelhamlin

[2018-12-04 13:36] vkjr commented on #6926
I think yes, this could be useful

[2018-12-04 13:40] chadyj commented on #6926
As @cammellos pointed out we already have a few release jobs that we should be using.  We can piggy back on or at least reference:

- [Release job](https://ci.status.im/job/status-react/job/release/)
- [iOS release and upload](https://ci.status.im/job/status-react/job/upload_release_ios/)
- [Android release and upload](https://ci.status.im/job/status-react/job/upload_release_android/)

@jakubgs Go

[2018-12-04 14:04] asemiankevich commented on #6891
@jakubgs @rasom @mandrigin https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/ is failing . Please assist

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/">release/0.9.32 [status-react » release] [Jenkins]</a></strong></div></blockquote>

[2018-12-04 14:17] chadyj commented on #6926
💡 @jakubgs what do you think of a Jenkins job similar to the iOS/Android release job that uploads release builds to Github releases using their [API](https://developer.github.com/v3/repos/releases/)?  I see there is a nice Fastlane action that does the heavy lifting :)
https://docs.fastlane.tools/actions/set_github_release/

(The same thing might be interesting for mobile releases to host a APK th

[2018-12-04 14:33] rachelhamlin commented on #6760
@chadyj no - title is now a misnomer, I'll update it for the next release.

[2018-12-04 14:41] churik commented on #6999
@SlizkovaGanna would you mind to add info to https://github.com/status-im/status-react/issues/6216 and close this one?
We already have task about missing design on replies on desktop, I don't see any reason to have several issues about it

[2018-12-04 14:44] churik commented on #6991
Closed as duplicate of https://github.com/status-im/status-react/issues/6214

[2018-12-04 14:44] #6991 closed, assigned to nobody

[2018-12-04 14:48] jeluard commented on #6855
@zachzundel Is the PR still WIP?

[2018-12-04 14:57] ghost commented on #4923
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-04 14:58] jeluard commented on #6891
@asemiankevich EthSinpapore hackathon starts on Dec 6.

[2018-12-04 15:00] rcullito commented on #6568
Sounds good re: the individual status-go metrics @mandrigin and @adambabik, thanks for those! All set and running with a local status-go node now

[2018-12-04 15:06] flexsurfer commented on #4345
Implementation of indicator animation: https://github.com/status-im/status-react/pull/7000/files#diff-5a1ce6b28582016d18f9189701433442R107

<blockquote><img src="https://avatars3.githubusercontent.com/u/11790366?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react/pull/

[2018-12-04 15:08] #6931 closed, assigned to flexsurfer

[2018-12-04 15:15] asemiankevich commented on #6891
@mandrigin i believe https://ci.status.im/job/status-react/job/upload_release_ios/ requires the same fix, could you please assist here too?

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/upload_release_ios/">upload_release_ios [status-react] [Jenkins]</a></strong></div></blockquote>

[2018-12-04 15:24] #6659 closed, assigned to nobody

[2018-12-04 15:24] vkjr opened #7001 "Add Jenkins release build for desktop"
# Problem

Jenkins can have separate build for desktop releases that has tweaked settings. For example - disabled logging, disabled wip features.
Also that build can upload results here - https://github.com/status-im/status-react/releases

# Implementation

- Add new jenkinsfile for desktop release
- Add Jenkins job for releasing to GitHub https://docs.fastlane.tools/actions/set_github_release/

#

[2018-12-04 15:25] vkjr commented on #6926
Added issue for desktop release - #7001

[2018-12-04 15:26] chadyj commented on #7001
Let's use the Fastlane action to upload to Github :)
https://docs.fastlane.tools/actions/set_github_release/

<blockquote><img src="../../img/favicon.ico" width="48" align="right"><div><strong><a href="https://docs.fastlane.tools/actions/set_github_release/">set_github_release - fastlane docs</a></strong></div></blockquote>

[2018-12-04 15:26] jeluard commented on #6866
@tbenr Looks like indeed `http-raw-post` is missing .. Now it should be only an issue when using `http/post`, not `ipfs/cat` ?

[2018-12-04 15:44] jeluard opened #7002 "Add a JS API allowing to install an extension"
### User Story

As a DApp developer, I want to have access to a JS API to easily add an extension.

[code]

### Description

*Type*: Feature

[2018-12-04 16:07] EugeOrtiz commented on #4434
Moved designs to Figma:
- [Create new 1:1 chat](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=421%3A48)
- [Create new group chat ](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=230%3A11231)
- [Join public chat](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=421%3A3467)

[2018-12-04 16:08] SlizkovaGanna commented on #6999
@churik like I've mentioned in the description, my logic was that it's not inconsistency with the design -  icons are not described in the mockups.
But I don't mind adding it as a separate comment in https://github.com/status-im/status-react/issues/6216
Closing this one.

[2018-12-04 16:10] SlizkovaGanna commented on #6216
Another issue to reply for the UI of desktop chat replies:

Type: **Bug**

Summary: On desktop, when replying to a message of the user, in reply bubble in message input area, that icon is displayed as a square, not a circle.
It's especially visible when there's a profile icon set.

Reported separately from #6216 , since it's not an inconsistency with design.
I could not find any design references

[2018-12-04 16:11] #6999 closed, assigned to nobody

[2018-12-04 16:47] ghost commented on #4816
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-04 16:47] #4816 closed, assigned to nobody

[2018-12-04 16:56] dmitryn opened #7004 "Rename hardwallet to keycard"
# Problem

As new name for the Keycard project was chosen, it's time to rename "hardwallet" to "keycard" in the code and in UI as well. This would also help to avoid confusion, as related projects (Android SDK, react-native SDK wrapper) are already using "keycard" naming.

# Implementation

No logic should be changed, just renaming.

# Acceptance Criteria

No "hardwallet" mentions in status-react

[2018-12-04 17:14] mandrigin commented on #6891
the job is fixed and the build is submitted to Apple to be reviewed

[2018-12-04 17:26] dmitryn opened #7005 "Show progress during applet installation"
# Problem

Keycard applet installation takes ~20 seconds. During the process we only show spinning circle indicator so it's not clear how much time left.

# Implementation

We could show progress bar or percentage number.

Installer could emit events to status-react signaling the step it's currently on.

# Acceptance Criteria

Show progress bar or percentage number during applet installation.

# N

[2018-12-04 17:35] dmitryn opened #7006 "Login with keycard"
# Problem

It's not possible to login into Status with keycard.

# Implementation

TBD. Related work needs to be done on status-go side https://github.com/status-im/status-go/compare/feature/keycard-account

# Acceptance Criteria

It's should be possible to login with keycard into the account created with keycard.

# Notes

Expirementing already started here https://github.com/status-im/status-rea

[2018-12-04 17:45] corpetty commented on #5845
All,  I have thought up a list of security related questions for the release.  These are thought up from scratch and are about general application security as applied to the desktop app.

They are also somewhat general in nature, and are limited as we are looking at an alpha release and are not requiring the same things as a final release.  Please use these to guide your thought process of your do

[2018-12-04 18:28] dmitryn opened #7007 "Show device NFC sweet spot"
# Problem

For the user it's not clear what is the best way to hold keycard in regards to device NFC location thus connection might be not stable.

# Implementation

Consider using https://github.com/cotechde/nfc-sweetspot to show NFC sweet spot

# Acceptance Criteria

NFC sweet spot is shown on supported devices.

# Future Steps

Implement proper design for this. Decide how to present that to use

[2018-12-04 21:44] 3ach commented on #6855
No, this is ready for review.

Zach

On Tue, Dec 4, 2018 at 07:48 Julien Eluard <notifications@github.com> wrote:

[2018-12-05 00:22] jeluard commented on #6855
@zachzundel Have you seen my comment about some parameters naming?

Also do you have a simple extension we could use to test?

[2018-12-05 02:29] oskarth opened #7009 "CVE-2018-18074: request dependency out of date"
# Problem

https://nvd.nist.gov/vuln/detail/CVE-2018-18074

Request dependency out of date: https://github.com/status-im/status-react/blob/develop/test/desktop_sikuli/requirements.txt

# Implementation

Remediation
Upgrade requests to version 2.20.0 or later. For example:

requests>=2.20.0

# Acceptance Criteria

- Upgraded
- No regressions

[2018-12-05 02:29] oskarth commented on #7009
^ @antdanchenko

fyi @corpetty @mandrigin

[2018-12-05 07:46] ghost commented on #5278
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-05 08:16] ghost commented on #5685
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-05 08:16] #5685 closed, assigned to nobody

[2018-12-05 08:51] annadanchenko commented on #6891
are you sure @jeluard ? on https://ethsingapore.co/ 7 Dec is a start date and 9:30PM is listed as time when it's officially begins

<blockquote><img src="images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethsingapore.co/">ETHSingapore Hackathon Dec 7-9, 2018</a></strong></div></blockquote>

[2018-12-05 09:04] chadyj commented on #7001
@jakubgs is this something you could help us with please?

[2018-12-05 09:09] rachelhamlin commented on #6891
@annadanchenko you're right, it's Friday the 7th.

[2018-12-05 09:13] tbenr commented on #6866
@jeluard forget it, my mistake, `ipfs/cat` works because `:http-raw-get` exists. I'll add `:http-raw-post` similarly.

[2018-12-05 09:24] #6903 closed, assigned to rasom

[2018-12-05 09:24] #6956 closed, assigned to rasom

[2018-12-05 09:27] lukaszfryc commented on #6891
Looks like group chats are enabled in release builds by default. I think it's not expected as we wanted to keep them under development mode for release builds. @cammellos could you fix it?

It was probably introduced in https://github.com/status-im/status-react/commit/5795ca8d1a58ff3e7efbefa1e4c2f9b509e7e9ec

[2018-12-05 09:31] asemiankevich commented on #6891
@lukaszfryc we tested this and this is done intentionally as far as i know. @annadanchenko ?

[2018-12-05 09:36] annadanchenko commented on #6891
I'd rather not touch release anymore unless there are functional issues. Is it so risky to have group chats enabled by default? @chadyj @lukaszfryc @cammellos

[2018-12-05 09:42] lukaszfryc commented on #6891
It's not. As Andrea said "with that, the only reason to have them in dev mode would be to warn users that is a beta-feature." (more in https://github.com/status-im/status-react/issues/6882). But having in mind that Status is still kind of beta, I think we can leave them enabled by default.

[2018-12-05 09:46] ghost commented on #5098
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-05 10:03] churik opened #7010 "User removed from group chat still can send messages to this chat"
### User Story

As a user, I want to send only messages that can be received

### Description

*Type*: Bug

*Summary*: user, who was removed by admin from group chat can send messages, which will be marked as "Sent" but in fact they will be never received by others group chat members.

#### Expected behavior
Cannot send message after removing from group chat (Send button is disabled or hidden)

##

[2018-12-05 10:30] pedropombeiro commented on #2984
@lukaszfryc with https://github.com/status-im/status-react/pull/6893, this will only happen if the app is not running, or running in the background. So we'll need to adapt the description of this GHI once that PR is merged.

[2018-12-05 10:31] pedropombeiro commented on #3488
This issue will be fixed within https://github.com/status-im/status-react/pull/6893

[2018-12-05 10:46] ghost commented on #5071
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-05 11:06] ghost commented on #5772
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-05 11:12] churik opened #7013 "[Pairing] PNs are coming if you send message to 1-1 chat from other device (for your own messages)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to receive notifications for my own messages

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: after enabling Pairing I can see PNs for my own messages in 1-1 chat, if they are sent from another device.

#### Expected behavior
No PNs

#### Actual beha

[2018-12-05 11:32] oskarth commented on #7009
Dupe https://github.com/status-im/status-react/issues/7009

[2018-12-05 11:32] #7009 closed, assigned to nobody

[2018-12-05 13:12] annadanchenko commented on #6891
new release build with https://github.com/status-im/status-react/pull/7014 timed out and another one started: https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/24/

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/24/">status-react » release » release/0.

[2018-12-05 13:16] errorists commented on #6741
I'm wondering if we can't reliably push keyword notifications on mobile, does the entire feature make sense there at all? Imho, It's either working and reliable all the time or not there at all, and not with exceptions *works only when you're inside the app.

[2018-12-05 13:20] chadyj commented on #6741
The use case is 100% needed. But perhaps it could be solved better on mobile through the discussed "notifications" UI?

I'd also appreciated getting alerted asap if I'm using the app and someone ping me somewhere. Let's solve this use case.

[2018-12-05 13:28] churik opened #7015 "Sending /request, /send commands with invalid value erases value in input field (no validation message is shown)"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: If user uses `/send` or `/request` and enter invalid amount - input field is cleared instead of validation error.

#### Expected behavior
Error a

[2018-12-05 13:43] vkjr commented on #6569
@chadyj, @siphiuel  we can fully disable logging but should we allow user to somehow enable them for debugging? Or we should prevent release from printing logs in any case, because that can be insecure?

Actual implementation depends on this. Currently all clojurescript logs eventually come through the qt app and logged by it. Additionally qt app has own logs, for example from react-native-desktop

[2018-12-05 14:12] asemiankevich opened #7016 "Wallet balance is shown as 0 when having more than 76 assets enabled in portfolio"
### Description

*Type*: Bug

*Summary*: Wallet balance is shown as 0 when having more than 76 assets enabled in portfolio

#### Expected behavior

As a user i want to see my balance with respect of enabled assets in portfolio

#### Actual behavior
Wallet balance is shown 0 if more than 76 assets are enabled (thanks @churik for investigation)

### Reproduction

- Open Status
- Recover account with

[2018-12-05 14:26] ghost commented on #5716
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-05 14:26] #5716 closed, assigned to nobody

[2018-12-05 14:27] asemiankevich commented on #6891
started https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/26/ - should be fine

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/26/">status-react » release » release/0.9.32 #26 [Jenkins]</a></strong></div></blockquote>

[2018-12-05 14:43] #6807 closed, assigned to nobody

[2018-12-05 14:47] yenda opened #7017 "Don't send seen messages"
# Problem

Status sends a seen event when messages are viewed. This is a privacy violation.

# Implementation

Remove seen event

# Acceptance Criteria

Seen event not sent

# Notes

# Future Steps

Let's remove this, and then re-evaluate if we want to add it back in as a user setting.

[2018-12-05 14:58] goranjovic commented on #7016
wow, good catch

[2018-12-05 15:10] hetvart commented on #6907
@yevh-berdnyk @antdanchenko
please find a time to express your thoughts on this matter.

[2018-12-05 15:12] asemiankevich commented on #6891
@chadyj any news about apple review?

[2018-12-05 16:36] ghost commented on #5777
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-05 17:15] cammellos commented on #5586
I will close this for now and create separate issues for the remaining parts

[2018-12-05 17:15] #5586 closed, assigned to cammellos

[2018-12-05 17:29] asemiankevich commented on #6891
@chadyj @annadanchenko review passed as i can see in iTunesConnect

[2018-12-05 17:43] #6682 closed, assigned to nobody

[2018-12-05 17:43] jakubgs commented on #6682
Okay, I've merged https://github.com/status-im/status-react/pull/6785, though this still needs some work. But at least we have a stable build that just needs some tweaks. I don't want to keep this PR open for too long while `develop` diverges.

[2018-12-05 17:48] annadanchenko commented on #6891
submitted new "2018120516" build to Apple review and got Approve, so it's fine on this side and can be pushed to public testing as soon as we are done with final testing on 2018120516 TestFlight build and Android release from https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/26/

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a hre

[2018-12-05 17:56] hetvart commented on #6682
Great! Agree with you about merging to `develop`.
Thank you!

[2018-12-05 18:18] chadyj commented on #6891
Nice job everyone! 🎉

I expired the older build so we only have the latest available.
I also added the release notes and its ready to go.

@j-zerah @Blockchain-Islander @pablanopete Let's aim to release 3CST/9EST tomorrow. Sound good?

[2018-12-05 20:26] ghost commented on #5778
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-05 22:49] EugeOrtiz opened #7020 "Improve readability of user's ID in chat message area"
## Description
*Type*: Bug

User identifier (display, random or ENS name) are not highlighted enough, that makes it hard to scan the list of messages and identify who is saying what.

<img width="680" alt="captura de pantalla 2018-12-05 a la s 7 35 41 p m" src="https://user-images.githubusercontent.com/37297779/49548612-0f13c600-f8c5-11e8-8081-005a5a640ce4.png">

## Expected behavior
Primary ident

[2018-12-05 23:55] pablanopete commented on #6891
Sounds good to me! cc @Blockchain-Islander the blog is ready to go for that time if you're good on social copy as well.

[2018-12-06 00:23] Blockchain-Islander commented on #6891
Thanks all! Will get this live at 3pm CST 👍

[2018-12-06 06:20] rasom commented on #6891
Hey team, it would be really great to include https://github.com/status-im/status-react/pull/7019/files to the release. There is a tiny chance that without this fix some users which had message duplicates because of issues with `message-id` calculation **BEFORE** `0.9.31` still have duplicates in their DB and migrations will not pass without this change. It only checks if the message with a new `m

[2018-12-06 06:24] chadyj commented on #6891
Thanks for the fix Roman. Agree we should include this.

[2018-12-06 07:09] asemiankevich commented on #6891
@mandrigin @jakubgs can't build release again https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/29/ . Please take a look!

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/29/">status-react » release » release/0.9.32 #29 [Jenkins]</a></strong></div></blo

[2018-12-06 07:25] mandrigin commented on #6891
Try again, it looks like saucelabs was down for some reason.

[2018-12-06 07:37] jakubgs commented on #6891
Yup: https://status.saucelabs.com/

<blockquote><img src="//dka575ofm4ao0.cloudfront.net/pages-favicon_logos/original/12112/MB3zUqIkSKqxv7NnAvwE" width="48" align="right"><div><strong><a href="https://status.saucelabs.com/">Sauce Labs Inc Status</a></strong></div><div>Welcome to Sauce Labs Inc's home for real-time and historical data on system performance.</div></blockquote>

[2018-12-06 07:44] asemiankevich commented on #6891
its fine now :thisisfine:

[2018-12-06 08:29] asemiankevich commented on #6891
@chadyj could you please expire previous build in TestFlight? I submitted one more with Roman's commit. And also add release notes. Can't find how to do this myself :(

[2018-12-06 08:39] chadyj commented on #6891
Expired. Here is the screenshot of what to press on the build page. (not sure about permissions though)

Also remember that if you upload a new build please grab the "what's new" from the old build or release notes.

<img width="1178" alt="screen shot 2018-12-06 at 9 36 19 am" src="https://user-images.githubusercontent.com/116099/49571874-b7b03d00-f93a-11e8-9f1f-4c8d1248d4d0.png">

[2018-12-06 08:40] asemiankevich commented on #6891
@chadyj i dont have rights( thanks for assistance

[2018-12-06 09:23] ghost commented on #5691
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 09:23] #5691 closed, assigned to nobody

[2018-12-06 09:53] ghost commented on #3474
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 09:53] #3474 closed, assigned to nobody

[2018-12-06 10:03] flexsurfer commented on #3824
interesting that it's loaded fine with privacy mode enabled, need to be investigated more

[2018-12-06 10:12] churik commented on #6210
is not reproduced anymore

[2018-12-06 10:12] #6210 closed, assigned to vitvly

[2018-12-06 10:18] antdanchenko commented on #6907
@hetvart what do you think about adding failure message to the github issue and match them not only by closed/open status, but also by test failure message?

e.g.
https://ethstatus.testrail.net/index.php?/tests/view/371168&group_by=tests:status_id&group_order=desc&group_id=5

Check that https://github.com/status-im/status-react/issues/6138 status is open and that failure message is `'Seen' status

[2018-12-06 10:23] ghost commented on #4093
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 10:23] #4093 closed, assigned to nobody

[2018-12-06 10:32] #6851 closed, assigned to flexsurfer

[2018-12-06 10:38] chadyj commented on #6926
Hey everyone please remember to take a look at the security issue, especially this comment and linked doc https://github.com/status-im/status-react/issues/5845#issuecomment-444191319

This is arguably the most important feature of a release so please review and add your answers/questions/feedback.

[2018-12-06 10:43] ghost commented on #3097
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 10:43] ghost commented on #4392
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 10:43] ghost commented on #3199
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 10:43] ghost commented on #2681
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 10:43] #4392 closed, assigned to nobody

[2018-12-06 10:43] #3199 closed, assigned to nobody

[2018-12-06 10:53] ghost commented on #3392
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 10:53] #3392 closed, assigned to nobody

[2018-12-06 11:03] ghost commented on #5350
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 11:07] ghost commented on #3227
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 11:07] #3227 closed, assigned to nobody

[2018-12-06 11:10] #5724 closed, assigned to nobody

[2018-12-06 11:56] cammellos opened #7025 "PFS and missing contact information for 1:to:1"
# Problem

Once  we enable PFS there might be some instances where it won't be possible to establish a PFS connection between two peers, due to the fact that a bundle is not available.

In such cases https://discuss.status.im/t/pfs-and-missing-contact-information/362 flow will take place.

This task will consist in:
1) Minimize the times a bundle is not available
2) Implement the UX flow when a bu

[2018-12-06 11:58] cammellos opened #7026 "PFS and group chats"
Currently PFS is only guaranteed for the initial group, but messages sent by members who joined at later stages might not have this property.
PFS should hold for all messages in a group chat.

[2018-12-06 12:07] ghost commented on #3945
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 12:07] #3945 closed, assigned to nobody

[2018-12-06 12:33] ghost commented on #3451
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 12:43] chadyj commented on #6891
Heya are we good with the `2018120610` build? @asemiankevich @annadanchenko  We are scheduled to ship in an hour.

[2018-12-06 12:45] #7001 closed, assigned to jakubgs

[2018-12-06 12:55] chadyj commented on #6569
The second option sounds good.

[2018-12-06 13:29] annadanchenko commented on #6891
@chadyj no blockers found, basic checks went fine

[2018-12-06 13:45] annadanchenko opened #7027 "9999 instead of 2018120610 is shown in About for iOS version on TestFlight"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For iOS app installed from TestFlight about contains 0.9.32(9999) as version instead of 0.9.32(2018120610)

![img_2546](https://user-images.gith

[2018-12-06 13:45] annadanchenko commented on #6891
unfortunately, new blocker was found when doing minor checks: https://github.com/status-im/status-react/issues/7027

[2018-12-06 13:47] jakubgs commented on #7027
How was this built? Maybe a link to the artifact and the Jenkins build?

[2018-12-06 13:47] annadanchenko commented on #7027
https://ci.status.im/job/status-react/job/upload_release_ios/63/consoleFull

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/upload_release_ios/63/consoleFull">status-react » upload_release_ios #63 Console [Jenkins]</a></strong></div></blockquote>

[2018-12-06 13:59] annadanchenko commented on #6891
@chadyj @mandrigin do you want to postpone the release because of #7027 and fix it or we can release with (9999) in ios version?

[2018-12-06 14:01] jakubgs commented on #7027
RIght, because for some reason we still keep using these separate jenkinsfiles that are not supported or maintained.
https://github.com/status-im/status-react/pull/7028 - temporary fix

We need to stop using that and use the main `Jenkinsfile` with the `release` flag.

[2018-12-06 14:03] annadanchenko commented on #6891
having another thought on it - only users with diawi access can install ios builds, so typical user will have TestFlight version anyway so might not be a blocker really, unless it can influence future upgrades

[2018-12-06 14:04] chadyj commented on #6891
We have the fix merged https://github.com/status-im/status-react/pull/7028 so may as well run a new build.

[2018-12-06 14:10] #7027 closed, assigned to nobody

[2018-12-06 14:11] chadyj commented on #6225
Dupe of https://github.com/status-im/status-react/issues/6939

[2018-12-06 14:11] #6225 closed, assigned to denis-sharypin

[2018-12-06 14:21] vitvly commented on #6985
Closed in #6994

[2018-12-06 14:21] #6985 closed, assigned to vitvly

[2018-12-06 14:25] annadanchenko commented on #6891
@chadyj we may but I'm not sure if other changes in upload release job are fine and would rather stay with 9999 as exception for this release. Unless developers will say that 9999 in the version can impact future upgrades cc @mandrigin @rasom @cammellos

[2018-12-06 14:43] jpbowen opened #7030 "[EPIC] Improve mobile app navigation and DApp discoverability"
# Problem

Discoverability of DApps and other key features in the mobile app have been documented in usability testing, [#5802](https://github.com/status-im/status-react/issues/5802) and proposed solutions are currently underway in WP3 and will be within the scope of work for WP5 in December 2018.

The proposed solution addresses ongoing user feedback and findings from UXR such as:
- Path to switc

[2018-12-06 14:48] chadyj commented on #6891
@j-zerah @Blockchain-Islander @pablanopete  Apologies for the delay.

There have been some tech issues and we don't have consensus on how to proceed.  Hopefully we will have an update within the hour.

[2018-12-06 15:41] annadanchenko commented on #6891
@j-zerah @Blockchain-Islander @pablanopete  looks like we got consensus and will push the release in 10 minutes from now.

[2018-12-06 15:42] chadyj commented on #6569
After the release can we follow up with this issue https://github.com/status-im/status-react/issues/5848 which has the UI to disable logs.

[2018-12-06 15:43] ghost commented on #3175
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 15:43] j-zerah commented on #6891
ok thank you. Please let us know when comms can go out

[2018-12-06 15:51] chadyj commented on #5880
@EugeOrtiz It is time we fix advanced settings and the profile tab.

So far we have:
- Notifications
- Advanced settings
  - Peer connection info
  - Mail server
  - Devices
- About/version

Missing: The mail server screen needs the same UI as mobile to add new mail servers

Very soon we will also have:
- Need Help
- Currency
- About
- Advanced
  - Network
  - Log level
  - Fleet
  - Bootnodes

[2018-12-06 16:00] annadanchenko commented on #6891
@j-zerah @Blockchain-Islander @pablanopete both iOS and Android releases for 0.9.32 are published. Please, send comms cc @chadyj

[2018-12-06 16:01] pablanopete commented on #6891
Ok, thanks!

[2018-12-06 16:07] chadyj commented on #6891
Comms are out!
https://our.status.im/v0-9-32/
https://twitter.com/ethstatus/status/1070710037415428096

Thanks y'all!  Seeya next time 🍻

<blockquote><img src="https://our.status.im/content/images/2018/12/Release__0.9.32.jpg" width="48" align="right"><div>Our Status</div><div><strong><a href="https://our.status.im/v0-9-32/">v0.9.32 Release - Private Group Chats</a></strong></div><div>Version 0.9.3

[2018-12-06 16:07] annadanchenko commented on #6891
@pablanopete 0.9.32 apk for cn site: http://status-im.ams3.digitaloceanspaces.com/StatusIm-181206-094952-05782d-release.apk

<blockquote></blockquote>

[2018-12-06 16:18] chadyj commented on #6891
Re-opening as there are multiple reports of "unknown status-go error"

https://twitter.com/carlos_molotov/status/1070711892505698304?s=21

cc @mandrigin @annadanchenko

<blockquote><img src="https://pbs.twimg.com/media/DtvuyaYX4AEgWbt.jpg:large" width="48" align="right"><div>Twitter</div><div><strong><a href="https://twitter.com/Carlos_molotov/status/1070711892505698304">CarlosGonzálezJuárez on Tw

[2018-12-06 16:33] ghost commented on #3498
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-06 16:33] #3498 closed, assigned to nobody

[2018-12-06 17:42] chadyj commented on #6891
Shortly after the release we saw reports of an "unknown status-go error" from 3 users upgrading to 0.9.32.  After investigating @Serhy could reproduce the issue for account passwords that contained a special character (such as -/:;()$&@“.,?!’[]{}#%^*+=_\|~<>€£¥•.,?!’) and it was discovered that passwords may not be escaped properly in some circumstances.  @cammellos is working on a hotfix which we

[2018-12-06 17:55] naghdy commented on #6891
Thanks @cammellos and @Serhy for working on and finding this issue. Can I please suggest we create post-mortem on this, so that we can understand how this slipped through and ensure this kind of error doesn't slip into future releases. The template can be found in this Discuss post: https://discuss.status.im/t/post-mortems-learning-from-our-mistakes/581

<blockquote><img src="https://discuss.statu

[2018-12-06 18:21] jakubgs commented on #6955
So this is pretty much done, we have NVM on slaves:
https://github.com/status-im/infra-misc/commit/4a6cd137ba828c121ba0a75b0772d182364a4b5a
And we use it in builds using the `nvm()` wrapper:
https://github.com/status-im/status-react/blob/develop/ci/Jenkinsfile.ios#L30
I consider this done.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right">

[2018-12-06 18:21] #6955 closed, assigned to jakubgs

[2018-12-06 18:51] jbostick00 commented on #6891
This happened to me and my password does have a special character.

I downloaded version 0.9.32 to my iPhone and I was getting pink bubble appearing above my password when I entered it to launch the app and the bubble said, "Unkown Status-go error"  So I deleted the app and reloaded it.  But now when I enter my Recovery Phrase and Password then hit "Sign In" nothing happens except the Seed Phrase

[2018-12-06 18:52] jakubgs commented on #6926
The second and the third job you listed are obsolete and should not be used. There is only one `Jenkinsfile` we should be using and that's [`ci/Jenkinsfile.combined`](https://github.com/status-im/status-react/blob/develop/ci/Jenkinsfile.combined), and the only Job that uses is properly is the https://ci.status.im/job/status-react/job/release/.

Once the release of `0.9.32` is done I will disable a

[2018-12-06 20:15] chadyj commented on #6891
Update: A fix to this issue has been made and we are currently building and testing the changes.  If all goes well a hotfix will be released in the next 1-2 hours.  A post-mortem will also be published.

@jbostick00 Thanks for the feedback. Hang tight a fix is on its way.

[2018-12-06 20:48] chadyj commented on #6891
@mandrigin @jakubgs @rasom We could use some help. The iOS upload job keeps failing.  @cammellos Has the fix but we can't publish.

https://ci.status.im/job/status-react/job/upload_release_ios/65/console

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/upload_release_ios/65/console">status-react » upload_r

[2018-12-06 20:51] cammellos commented on #6891
Just to add some context, the build is not on DO but it is on github, the link for ios is correct, it either times out or there's some other issue

[2018-12-06 20:52] jakubgs commented on #6891
It seems like the zip is corrupted, but I downloaded it by hand and it unpacks just fine.

[2018-12-06 20:53] jakubgs commented on #6891
I started a build to upload that again, let's see if that helps:
https://ci.status.im/job/status-go/job/parallel/169/

Edit: Just started it with the right branch and `RELEASE` checked: https://ci.status.im/job/status-go/job/parallel/169/parameters/

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-go/job/parallel/16

[2018-12-06 20:53] cammellos commented on #6891
@jakubgs I think it just fails to download it
"unzip: cannot find zipfile directory i"

[2018-12-06 20:54] cammellos commented on #6891
I can download it locally fine and already an ios build has been successfuly built using that zip file

https://ci.status.im/job/status-react/job/release/job/release%252F0.9.32/

https://ci.status.im/job/status-react/job/combined/job/mobile-ios/4877/consoleFull

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/

[2018-12-06 20:57] jakubgs commented on #6891
This one seems to be running just fine: https://ci.status.im/job/status-react/job/upload_release_ios/66/

![tiresome](https://user-images.githubusercontent.com/2212681/49611517-0e9d2d00-f9a2-11e8-85ae-70156817ead7.png)

<blockquote><img src="/static/e7749a62/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/upload_release_ios/66/">status-react »

[2018-12-06 20:57] cammellos commented on #6891
yes, it managed to download, thanks

[2018-12-06 21:44] chadyj commented on #6891
The hot fix has been published.
iOS build 2018120621 and Android build 2018120619 are now live.

Kudos team for working late to get this sorted.

The post-mortem draft has started here https://notes.status.im/U7gkLuCiSly3faDXKzRbmQ

@pablanopete Please let us know here if there are any more issues that pop up over night.

<blockquote><div><strong><a href="https://notes.status.im/U7gkLuCiSly3faDXKz

[2018-12-06 21:44] #6891 closed, assigned to nobody

[2018-12-06 21:46] jbostick00 commented on #6891
Thanks all

[2018-12-07 03:03] asddsaz opened #7034 "[Question] How to import/export to MetaMask?"
**Question**: How would I import my Status account to MetaMask? Is it possible to import my MetaMask account to Status?

[2018-12-07 07:02] 3ach commented on #6855
I saw your comment! I will make the changes tomorrow.

Also, I am trying to build an extension, but I can't install it on my phone. When I create it using Pluto, it shows no errors, but I get invalid-key errors when I try and load it using TestFlight. This happens also with example extensions, so I can't get any to work.

[2018-12-07 07:07] asemiankevich opened #7035 "[Fetching messages] dialog is shown for all the time running app"
### Description

*Type*: Bug

*Summary*: Persistent [Fetching messages] dialog appears

#### Expected behavior

[Fetching messages] dialog disappear when messages are fetched

#### Actual behavior
[Fetching messages] dialog is shown all the time running the app

![image](https://user-images.githubusercontent.com/28752642/49633159-615dff80-fa09-11e8-947a-2ea15a8ea388.png)

[2018-12-07 07:17] jeluard commented on #6855
@zachzundel To test your changes you will need to access a build with your changes. It's easier if you have an android phone.

[2018-12-07 07:18] asemiankevich commented on #7035
@cammellos maybe you have an insight here?

[2018-12-07 07:22] 3ach commented on #6855
I, unfortunately, don't have an Android phone.

Is there another way we can communicate? (Slack, email, etc.) it seems reasonable to sort out problems unrelated to poll-logs elsewhere.

[2018-12-07 07:25] jeluard commented on #6855
Sure please join status! My ENS username is julien!

Le ven. 7 déc. 2018 à 08:22, Zach Zundel <notifications@github.com> a
écrit :

[2018-12-07 07:26] jeluard commented on #6855
The alternative is that you use the iOS simulator.
Can you share the extension you are testing so that I can give it a try?

Le ven. 7 déc. 2018 à 08:25, Julien Eluard <julien.eluard@gmail.com> a
écrit :

[2018-12-07 08:24] cammellos commented on #7035
@asemiankevich only theories but the best I have got so far is that there are a lot of messages in the `discovery-topic` and that requests takes long to process and it's called multiple times, basically going back to asking for the full day

[2018-12-07 09:05] hetvart opened #7036 "Error `Package im.status.ethereum signatures do not match the previously installed version` while upgrading Status mobile app on simulator"
# Problem
When I am trying to upgrade Status mobile to a newer version on Android simulator I get the error:
`Package im.status.ethereum signatures do not match the previously installed version`

# Notes
In order to upgrade the mobile app, it requires every application (`.*apk` file) being installed on Android device to be signed off by a developer signature. When the application is installed on a

[2018-12-07 09:09] ghost commented on #4080
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-07 09:09] #4080 closed, assigned to nobody

[2018-12-07 09:45] churik opened #7037 "No protocol method Hook.hook-in defined for type null: at login with enabled not-supported extension (/collectible)"
### Description

*Type*: Bug
*Summary*:  added extension with  /collectible chat command (did ~ 2 weeks ago on 0.9.31) and after upgrade to 0.9.32 got an error `No protocol method Hook.hook-in defined for type null: `. Error appears every time after login.
If /collectible extension is not supported anymore (I think so because don't see it in https://notes.status.im/roft7IJFRyW66E5mF23PVQ?view), I

[2018-12-07 09:47] churik commented on #7037
@jeluard WDYT?

[2018-12-07 10:02] rachelhamlin commented on #6891
Hey @chadyj @annadanchenko @cammellos - both Ben & I are still getting this status-go error. We've just updated to 0.9.32 now.

[2018-12-07 10:11] cammellos commented on #6891
@rachelhamlin looking into this, pinged you on status with a few questions

[2018-12-07 10:19] ghost commented on #5787
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-07 12:11] nolash opened #7039 "Unwanted gnome-keyring nag"
# Problem

Before and after I give my password, gnome-keyring asks me to create a new keystore.

# Implementation

* it should be possible to do login without key manager
* it should be possible to use other password managers than gnome-keyring (I myself use the cli app "pass")

---

NOTE: I'm still using v0.0.1 (`0bc9fb6`) - if it's fixed since then, apologies.

[2018-12-07 12:20] flexsurfer commented on #3824
so the problem in web3 library, status injects web3 library and imports web3.0.20.x , but this dapp also imports web3.1.0.0, and there is a conflict in web3 versions, so this dapp will work fine in web3 opt-in mode, because we don't import web3 library in this mode anymore

[2018-12-07 12:25] #7002 closed, assigned to flexsurfer

[2018-12-07 12:40] Swader commented on #6426
Reproducible on OnePlus 6T, Android 9, Status 0.9.33. The characters are not random, but a randomly repeated set of already typed characters. Each keypress copies what was already typed, including the backspace to delete. So if I try to type `test` I get:

- t
- tte
- ttettes
- ttettestest

Punching backspace will then copy this set and remove one char.

- ttettestestttettestes
- ttettestestttette

[2018-12-07 12:45] mandrigin commented on #6426
@Swader It might be a react-native issue.

Does it happen with any custom keyboard? If you use a default one, can you install a custom one (SwiftKey, GBoard or something) and try to reproduce the issue with this text field?

---
@rasom do you remember we had something similar in the past?

[2018-12-07 13:22] churik opened #7041 "AppImage binary is ~242 MB"
AppImage file for Linux is ~242 MB, which  is 2 times more than .dmg and .exe.
Expected size ~120 MB

<img width="330" alt="nightly status-react jenkins 2018-12-07 14-11-36 1" src="https://user-images.githubusercontent.com/4557972/49650095-72b80380-fa2b-11e8-958e-bb8f039324a4.png">

[2018-12-07 13:26] chadyj commented on #7041
@MaxRis @vkjr Can you please take a look at this?

@3esmit commented about a nested app image:

[2018-12-07 13:47] jeluard commented on #7037
Yes might make sense to handle this gracefully, even so it shouldn't happen in the future.

[2018-12-07 14:34] pedropombeiro commented on #6710
@andmironov I'd like to get this bountied out. Do you want to give some guidelines on how you'd want this to look, or is a `Send logs` button inside the advanced section good enough?

[2018-12-07 14:50] EugeOrtiz commented on #5880
Here are the designs for the "new" profile ([Figma](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=751%3A21)):

![new profile - first time](https://user-images.githubusercontent.com/37297779/49654970-0b448880-fa18-11e8-810e-b3bc9531b9f0.png)

I adjusted some things to adapt them to desktop design. **Let's review it before merge**

[2018-12-07 14:56] EugeOrtiz commented on #6393
[Here the designs for desktop](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=763%3A2331) (Figma)

[2018-12-07 15:05] pedropombeiro commented on #3451
The level of effort required to implement this issue has gone down with https://github.com/status-im/status-react/pull/6893 which already implements local notifications. `status-im/notifications/handle-on-message` is already being called when a PN arrives in order to display a local PN, so we could kick off message fetching from here if the db is unlocked.

[2018-12-07 15:13] pedropombeiro opened #7043 "Show sender in mobile push notifications when db is unlocked"
# Problem

Currently, PNs are created very generically with `:notifications-new-message-title` as the title and `:notifications-new-message-body` as the body.

# Implementation

We should try to match the sender of the PN with a contact, and if found we should use that as the body instead of `:notifications-new-message-body`. This is to be done in `handle-on-message` in `src/status_im/notification

[2018-12-07 15:14] EugeOrtiz commented on #5452
[Here are the designs](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=762%3A742) for the improved "new" profile for desktop (Figma), including the Help section.

[2018-12-07 15:27] chadyj commented on #6926
Hey Core team! @mandrigin @cammellos @adambabik @dshulyak @rasom

We are aiming to cut the desktop alpha release branch and ship it next week. Is there anything that you are working on that we should be sure to include in the release?  Please ping us if there is essential work to be cherry picked.

[2018-12-07 15:28] pedropombeiro opened #7044 "Navigate to message matching partial IDs in mobile push notifications when PN is tapped"
# Problem

Currently, we're sending partial hashes of pubkeys in `from` and `to` in the PN payloads. The goal is to add an `id` field containing the last 4 bytes of the message ID (which itself is currently `sha3(from + raw-payload)` so that we can later do a linear lookup at the receiving client to find the message again, without giving away too much in terms of privacy/darkness.

# Implementatio

[2018-12-07 15:31] mandrigin commented on #6926
this one: https://github.com/status-im/status-react/pull/6877

[2018-12-07 15:33] pedropombeiro opened #7045 "Add "Unlock" action to mobile push notifications if account is locked"
# Problem

Currently when a user receives a PN, we show a very generic message (no indication of sender, body, etc). This will change in the future (e.g. with https://github.com/status-im/status-react/issues/7043), so it would be good to be more explicit about the fact that we are showing a generic PN message due to the db being locked. Also, since we may receive PNs from users we've since removed

[2018-12-07 15:47] rasom commented on #6926
nothing from my side

[2018-12-07 15:49] pedropombeiro opened #7046 "Group mobile push notifications by sender"
# Problem

Currently, push notifications are not grouped (even though we call `setGroupSummary`), so the user potentially ends up with a ton of push notifications in the notification center.

# Implementation

We should:
- maintain a summary PN with a fixed ID
  - we call `setNotificationId` on it so we can update it later without creating a new one. Maybe the sender ID hash (`from`) can be used a

[2018-12-07 15:53] cammellos commented on #6926
I need to port back the hotfix on develop so https://github.com/status-im/status-go/pull/1306 in status-go + updated status-go version, on top of #6877

[2018-12-07 16:02] rcullito commented on #5452
great, thanks for the design guidance here @EugeOrtiz !

[2018-12-07 16:10] denis-sharypin commented on #7005
Hey @dmitryn could you please check out is it possible in RN to use this indicator: https://material.io/design/components/progress-indicators.html#linear-progress-indicators
Particularly, this one `Determinate linear progress indicator`

<blockquote><img src="https://material.io/design/https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1yvwYX4JFBeviyHyb7ctX9ZDEhnQ1J7RZ%2Fprogres

[2018-12-07 16:13] chadyj commented on #6396
@cammellos I know you have your plate full but we are hoping to include this in the desktop release next week.

[2018-12-07 16:33] annadanchenko opened #7047 "ETH icon contains an unexpected dot (main screen, Assets in send screen, maybe other places)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Some unexpected line/dot is left on ETH icon, can be seen on main Wallet screen and in Send-> Assets
![screenshot_20181207-172225](https://user-

[2018-12-07 16:42] cammellos commented on #6396
@chadyj PR is out https://github.com/status-im/status-react/pull/7012 should fix the offline problem + add cconfirmations from the mailserver , is ready to be tested, but depends on https://github.com/status-im/status-react/pull/6877.

Confirmations are not enabled by default in release (only in nightlies/dev) as if mailservers are down or unreachable the user will see their messages as not-sent (

[2018-12-07 16:43] denis-sharypin commented on #7047
@goranjovic  please reupload the icon

@1x: ![eth](https://user-images.githubusercontent.com/6559881/49660716-98530600-fa47-11e8-83c5-54fb25c6fdd6.png)
——
@2x:
<img width="40" alt="eth 2x" src="https://user-images.githubusercontent.com/6559881/49660761-adc83000-fa47-11e8-8e10-7d928a99e5e1.png">

——
@3x:
![eth 3x](https://user-images.githubusercontent.com/6559881/49660767-b0c32080-fa47-11e8-9d1f-51

[2018-12-07 18:01] hetvart commented on #7036
@jakubgs
please do not proceed with this.
root cause may lie not in apk signature.

[2018-12-07 22:59] maxhora commented on #7041
Will look into this

[2018-12-08 00:47] cr2fx commented on #6594
Error while building status
[code]

[2018-12-08 03:04] jeluard commented on #6594
@cr2fx Can you provide some more context?

[2018-12-08 05:50] rachelhamlin commented on #3824
Thanks for looking into it @flexsurfer. Two questions:

1) Do you think this has been the issue all along?
2) Is there any action for us to take?

[2018-12-08 17:03] #6866 closed, assigned to nobody

[2018-12-08 17:46] asddsaz opened #7050 "[DApp] Add support for Axie Infinity"
**Feature**: Add support for [Axie Infinity](https://axieinfinity.com/)

[2018-12-08 19:59] #6656 closed, assigned to maxhora

[2018-12-08 21:11] maxhora commented on #7041
@jakubgs could you please help upload [updated zip package](https://drive.google.com/file/d/1HSIR_C-eHEmw3ees3QNnaCaq5dahHBGj/view?usp=sharing) to ams3.digitaloceanspaces.com. The idea is to replace old one from [here](https://github.com/status-im/status-react/blob/develop/scripts/build-desktop.sh#L279) to new one uploaded.
The difference is the only file `Status.AppImage` removed from the old arc

[2018-12-08 21:14] jakubgs commented on #7041
~~How can I download it? It just opens the zip on the site.~~
Ah, found the button.

[2018-12-08 21:20] jakubgs commented on #7041
Here: https://desktop-app-files.ams3.digitaloceanspaces.com/StatusImAppImage_20181208.zip

BTW, can we automate the building and uploading of this image?

<blockquote></blockquote>

[2018-12-08 21:30] maxhora commented on #7041
@jakubgs thanks a lot! going to give it a try

[there is](https://github.com/status-im/status-react/issues/6175) on-going work to remove dependency on `ubuntu_server` and `node_modules/realm`'s Node.JS native module. Ideally, these packages will disappear completely. Hopefully, soon :)

[2018-12-08 21:36] jakubgs commented on #7041
Glad to hear that!

[2018-12-08 23:22] shamardy commented on #6871
I am still working on this, opened a PR and commenting in it instead of here now.

[2018-12-09 00:26] jeluard opened #7052 "Improve data returned by log events"
### User Story

As a developer, I want to easily navigate ethereum logs data

### Description

*Type*: Bug

[2018-12-09 03:47] jeluard opened #7053 "Crash when using specific font-variant in extensions/text"
### User Story

As a developer, I want to write sage extensions

### Description

*Type*: Bug

Using `text` with `{:style {:font-variant "small-caps"}}` will crash status.

See an example [here](https://status-im.github.io/pluto/try.html?hash=QmYGbC2dkDY9XqG6FGx7jqxHjCdt4pbSz9A7H4Dm5xKna2)

[2018-12-09 07:28] chadyj commented on #6997
@flexsurfer Any chance you could help us with this for the alpha release? 🤞 🌮

[2018-12-09 07:34] ghost commented on #3280
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-09 07:34] #3280 closed, assigned to nobody

[2018-12-09 09:14] ghost commented on #5254
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-09 09:36] jakubgs opened #7054 "Create a Docker image for building for Android"
Changes on Linux Jenkins slaves too often cause issues with builds. To avoid that a Docker image like the ones used for Windows and Linux([`linux-desktop-ubuntu`](https://hub.docker.com/r/statusteam/linux-desktop-ubuntu/) and [`windows-desktop-ubuntu`](https://hub.docker.com/r/statusteam/windows-desktop-ubuntu/)) needs to be created.

[2018-12-09 10:34] ghost commented on #5794
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-09 11:34] ghost commented on #5730
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-09 11:34] #5730 closed, assigned to nobody

[2018-12-09 15:04] ghost commented on #5800
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-09 15:34] #7041 closed, assigned to nobody

[2018-12-09 15:37] maxhora commented on #7041
Thank you @3esmit , @churik , @chadyj  for spotting this issue! @jakubgs thanks a lot for efforts to resolve it!

[2018-12-09 18:13] adambabik commented on #6962
I think we can try this approach for mail servers first and learn from it. I am not sure about offloading these "standard cases" to status-go because (1) it's hard to identify all standard cases, (2) there will always be special cases when we need to provide the API so we basically spread the logic between two components. There will be also different standard cases for mobile and desktop.

A more

[2018-12-09 19:07] maxhora opened #7057 "Bringing status-react Desktop to OS X AppStore"
# Problem

Our goal is to publish status-react Desktop in Apple Store.

# Known issues

1. QtWebEngine module (at the moment responsible for rendering of embedded WebViews) is not compatible with AppStore;

Useful links:
https://mediaarea.net/blog/2018/02/14/QtWebEngine-MacAppStore
https://bugreports.qt.io/browse/QTBUG-60443
https://doc.qt.io/qt-5.11/qtwebengine-deploying.html

Possible solution r

[2018-12-10 01:21] rmshea commented on #6871
@jeluard please see @shamardy's PR! Bot is snoozed 😄

[2018-12-10 06:31] jeluard commented on #6871
@ryan-shea Thanks! We are commenting there too.

[2018-12-10 07:15] jeluard commented on #6596
@tbenr You might want to look at this one too? :)

[2018-12-10 07:15] jeluard commented on #6594
@andytudhope Could we approve @tbenr ?

[2018-12-10 07:21] jeluard commented on #7053
Moved to pluto repo.

[2018-12-10 07:21] #7053 closed, assigned to nobody

[2018-12-10 07:40] flexsurfer commented on #3824
1. yes, we import web3.0.20.x from the beginning, and there were no changes
2. i don't see any simple solution, we can research it more, but we want to enable privacy mode by default soon, so there we won't import web3 library anymore, and because we know only one dapp which has this issues maybe it's not worth it

[2018-12-10 07:45] jeluard commented on #6594
@tbenr This might be helpful to get access to contact details:

[code]

[2018-12-10 08:47] cammellos opened #7059 "Group chats not working with large amount of users"
It has been reported that group chats performance starts degrading when the number of users > 50 ( it might happen earlier).

This results in dropped messages and delayed communication.

That's likely a limit with pairwise encryption, we were aware that performance wise it does not scale, and eventually it would need to be improved to support large groups.

[2018-12-10 08:56] ghost commented on #4650
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-10 08:57] denis-sharypin commented on #6297
Design explorations are happening here
https://www.figma.com/file/FOmTCMdDi31GGEGr1IKUhqd3/Desktop-Wallet?node-id=0%3A1

<blockquote><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/FOmTCMdDi31GGEGr1IKUhqd3/Desktop-Wallet?node-id=0%3A1">Figma</a></strong></div></blockquote>

[2018-12-10 09:03] cammellos opened #7060 "Group chats `Done` button does not work if name is not changed"
### Description

When editing a group chat you can't leave the edit state unless the name of the group chat is changed.

1) Create a group chat
2) Go to group info
3) Press Edit
4) Press Done

Expected: Edit state is disabled
Actual: Nothing happens

Also once it worked once, it displays the wrong chat name when landing again on a group info.

[2018-12-10 10:26] ghost commented on #3413
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-10 11:37] tbenr commented on #6596
@jeluard yes - I apply for it but I have to finish the backlog first :)

[2018-12-10 11:40] #6602 closed, assigned to nobody

[2018-12-10 11:42] #6085 closed, assigned to flexsurfer

[2018-12-10 11:59] chadyj commented on #7059
What are your follow up thoughts here?

Seems like short term we can cap group chat membership to prevent degradation.

Longer term we need to explore scaling options. But we might not need to do that for a while until we start to hear user feedback wanting larger groups?

[2018-12-10 12:05] cammellos commented on #7059
@chadyj yes, limiting to a safe number would be the first option.
Longer terms we can think of a more scalable way.

We have a few options:
relaxing encryption for large groups
 keep current way and improve performance
 let the admin decide what kind of group chats they want to create (small, increased security), large (relaxed encryption)

[2018-12-10 12:06] chadyj commented on #7057
Thanks for looking into this Max.  Whilst it would be great to get into the Mac App Store I don't think it is a short or mid term priority.
- It isn't required. Desktop has other distribution channels available such as status.im
- Our mobile app isn't yet in the App Store with no release date set
- There is censorship and other risks in the App Store that make it a brittle and tenuous solution

If

[2018-12-10 12:42] jeluard opened #7063 "Check localStorage support in browser"
### User Story

As a user, I want to to have access to localStorage in my DApp.

### Description

*Type*: Feature

[2018-12-10 12:42] EugeOrtiz commented on #6568
@rcullito Not sure if this is the right issue, but [here is the design](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=753%3A430) (Figma) for the connected label in Adv settings

[2018-12-10 12:47] rachelhamlin commented on #3824
@flexsurfer agreed. Closing this issue because it affects just one DApp that we know of, and will be irrelevant once EIP1102 is enforced.

[2018-12-10 12:47] #3824 closed, assigned to nobody

[2018-12-10 12:57] chadyj opened #7064 "Cannot see contacts profile pic"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a chat user, I want to see the user pic of other contacts I'm chatting with.

### Description

*Type*:Bug

I'm chatting with contacts that have a user pic, but I don't see it.

#### Expected behavior
See the user pic of contacts

#### Actual behavior
Don't see the user pic

### Reproduction

### Solution

c

[2018-12-10 13:20] cammellos commented on #7064
There are a few possible causes for this issue:
1) Dropped whisper messages
2) The sender's picture are not synced across devices (if you add a contact on desktop and you have your default picture on then that's the one that will be seeing by that contact until a picture is updated).

Syncing of account picture should alleviate the problem to some extent.

To some extent we can't have completely c

[2018-12-10 13:30] tbenr commented on #6596
@jeluard I can't apply for this unless you close ipfs/add on gitcoin (gitcoin permits max 3 works in parallel).

[2018-12-10 13:38] jeluard commented on #6596
@andytudhope Can you help with that?

[2018-12-10 13:47] MightyBo commented on #3824
Guys, common, this issue is from April 2018, you weren't able to address it in time and now you're closing it?  Blockchain Cuties is not "just one DApp", it's usually #2 game on the Ethereum market according to dappradar and always in Top 5. We even did a Status.im item set in the game.
This is super silly. Fix it already, please.

[2018-12-10 13:49] EugeOrtiz commented on #6216
Here are the [latest designs ](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop?node-id=803%3A428)(Figma) for replies:

![replies - writing a reply](https://user-images.githubusercontent.com/37297779/49736528-3540b980-fc69-11e8-84f4-326e669cac7e.png)

[2018-12-10 14:01] jeluard commented on #3824
@MightyBo Have you migrated to EIP 1102? This is the proper solution has the older method will be deprecated soon. Status supports this already.

[2018-12-10 14:06] ghost commented on #5746
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-10 14:06] #5746 closed, assigned to nobody

[2018-12-10 14:26] ghost commented on #5747
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-10 14:26] #5747 closed, assigned to nobody

[2018-12-10 14:46] ghost commented on #5791
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-10 16:47] Serhy commented on #5162
Develop build and status-go 'node 0.17.8-beta' : looks good on iOS 12.0.1, Android 6.0.1, Android 7, Android 8! I do see the list results in ehtheroll.com

Closing this issue.

[2018-12-10 20:12] vs77bb commented on #6866
@StatusSceptre Mind paying this one out? Great work @tbenr!

[2018-12-10 21:28] MightyBo commented on #3824
We didn't migrate yet and won't be able to do so until early-mid January.

[2018-12-10 22:06] ghost commented on #5753
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-10 22:06] #5753 closed, assigned to nobody

[2018-12-10 22:16] ghost commented on #5754
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-10 22:16] ghost commented on #5755
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-10 22:16] #5754 closed, assigned to nobody

[2018-12-10 22:16] #5755 closed, assigned to nobody

[2018-12-11 07:51] jeluard opened #7069 "Allow to send chat command messages w/o message wrapper"
### User Story

As a developer, I want to  be able to send chat command message w/o the message wrapper that comes with all messages. An example of that is sending gif as is.

### Description

*Type*: Feature

[2018-12-11 08:42] asemiankevich opened #7070 "App crashes when trying to relogin after network switch"
### Description

*Type*: Bug

*Summary*: Crash when logging after i switched network

#### Expected behavior
I can log in after i switch network

#### Actual behavior
app crashes on the login screen

### Reproduction

- Open Status (https://ci.status.im/job/status-react/job/nightly/lastSuccessfulBuild/artifact/StatusIm-181211-025923-411a74-nightly.apk)
- Recover account
- Switch to ropsten
- Try t

[2018-12-11 10:10] ghost commented on #5758
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-11 10:10] #5758 closed, assigned to goranjovic

[2018-12-11 10:55] #6884 closed, assigned to lukaszfryc

[2018-12-11 12:42] oskarth commented on #7026
^ @hesterbruikman @corpetty FYI

[2018-12-11 12:42] oskarth commented on #7025
^ @hesterbruikman @corpetty FYI

[2018-12-11 15:02] ghost commented on #5815
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-11 15:02] ghost commented on #4923
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-11 15:02] #4923 closed, assigned to nobody

[2018-12-11 15:04] churik commented on #5452
@yenda can you take care of it?

[2018-12-11 15:32] churik commented on #6926
@oskarth are we still aiming to release status-desktop by the end of the week and scope remains the same?

[2018-12-11 16:26] mandrigin commented on #5827
looks like it was done already

[2018-12-11 16:26] #5827 closed, assigned to nobody

[2018-12-11 16:38] mandrigin commented on #5793
## [Research] Use an Android Backround Service to hold password in RAM

As a first step, I tried to use a background service to keep password in RAM only.
That wouldn't have solved the whole issue, but it would have a much less of the attack surface than storing it somewhere on the device. (Afaik, there is an idea to do a similar thing with Desktop and Keycard).

Essentially, the idea was to creat

[2018-12-11 17:22] santteegt commented on #4391
Hi,

Sorry for the inactivity here. Last week I was attending LaBitConf conference, so my working hours were a little tight. I'm still working on this, I'll try to send at least a WIP PR.

[2018-12-11 18:34] mandrigin commented on #5793
## [Research] Using Android Keystore System

https://developer.android.com/training/articles/keystore

It looks like Android Keystore System is something we can use to store the password. It provides a tamper-proof (see [Extraction Prevention](https://developer.android.com/training/articles/keystore#ExtractionPrevention)).

We need to check for [`KeyInfo.isInsideSecurityHardware()`](https://develo

[2018-12-12 03:29] oskarth commented on #6926
@churik @siphiuel Yes. Is the header parent up to date? It seems like a lot of stuff. Is it clear what the critical path is / what the blocker issues are, and is it realistic that this can be done?

If we can finish this up before end of the week that'd be good. This might mean cutting scope. I made some comments in the unfinished items.

It'd also be useful to understand who is the primary owner

[2018-12-12 03:29] oskarth commented on #6926
cc @rachelhamlin FYI

[2018-12-12 03:31] oskarth commented on #5845
@corpetty Can we define a minimal critical path for this? It isn't clear to me what the acceptance criteria is here considering linked TODOs, especially if the target is a release this week.

[2018-12-12 03:35] oskarth commented on #5848
@siphiuel Why are we working on this if https://github.com/status-im/status-react/issues/6569#issuecomment-444916015 was the decision for the release?

[2018-12-12 03:37] oskarth commented on #6568
Is this a blocker for release?

[2018-12-12 03:39] oskarth commented on #5394
Is this really a blocker? I understand it'd be nice but seems like it can be cut from scope.

cc @rachelhamlin

[2018-12-12 06:36] errorists commented on #5394
This task is superseded by https://github.com/status-im/status-react/issues/6375

[2018-12-12 07:19] vkjr commented on #6961
@siphiuel, I narrowed a bit scope for this issue, to fit desktop release.
@cammellos made a #7012 pr that fix all we need for desktop but it doesn't touch mobile wallet that still uses `NetInfo`.

If we want to get rid from `NetInfo` in wallet, new issue can be added. (cc) @goranjovic

[2018-12-12 07:25] StatusSceptre commented on #6594
@tbenr You are good to go now!

[2018-12-12 07:52] ghost commented on #5278
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-12 07:52] #5278 closed, assigned to nobody

[2018-12-12 09:01] yenda opened #7074 "Upgrade to react-native 0.57"
# Problem

The latest version of react-native will bring improvements for development of desktop
Changes in react-native preset requires update on mobile as well if desktop is updated

# Implementation

- update libraries
- update react-native

# Alternative

Separate babel presets for mobile and desktop

# Acceptance Criteria

Projects builds and works without regressions

[2018-12-12 09:03] jeluard opened #7075 "Expose ethereum logs details in an extension manipulable way"
### User Story

As a developer, I want to have an easy access to both `data` and `logs` property from `logs` events in an easy to consume way. It could be exposed in a new `events` property.

[2018-12-12 09:30] jeluard opened #7076 "Expose whisper (shh) events"
### User Story

As a developer, I want to send whisper messages from extensions.

### Description

Not exactly clear what we want to do here so part of the issue is to come up with a coherent proposal.

*Type*: Feature

[2018-12-12 09:31] jeluard commented on #7076
@cammellos and @yenda might provide valuable feedback

[2018-12-12 09:52] ghost commented on #5098
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-12 09:52] #5098 closed, assigned to nobody

[2018-12-12 10:13] vitvly commented on #6568
Yes, this has to be included, related PR is https://github.com/status-im/status-react/pull/6990

[2018-12-12 10:17] vitvly commented on #5848
@oskarth After the security meeting with Corey (log here: https://notes.status.im/zn74OjGLQx2V5ctqSTatgA, not everything in TODO is a release requirement though) it was decided that it is very much desirable to have the option to turn the logs on.

[2018-12-12 10:22] churik commented on #6926
@oskarth
1) Security review was made and only one thing should be done for now FYI - possibility to change log level for user in UI.
Two issues for now - https://github.com/status-im/status-react/issues/5848 and https://github.com/status-im/status-react/issues/6569.
https://github.com/status-im/status-react/issues/5848 is WIP
https://github.com/status-im/status-react/issues/6569 has a PR in "Testi

[2018-12-12 10:27] vitvly commented on #6926
#5848 (enable logs in the UI) - will be done today
#6568 (show connection stats) - there was this PR https://github.com/status-im/status-react/pull/6990, can wet test it? Or is it blocked by something?

[2018-12-12 10:47] vkjr commented on #6926
@churik, Remove google.com connection #6961 doesn't really depends on status-im/react-native-desktop#426, because our decision was to implement it without using `NetInfo` module at all and this is exactly what is in progress in #7012

Pinging google won't be removed in status-im/react-native-desktop#426. Instead added possibility to ping another sites. We didn't find any other way to be sure that

[2018-12-12 10:52] ghost commented on #5071
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-12 10:52] #5071 closed, assigned to nobody

[2018-12-12 11:06] flexsurfer commented on #6926
#6997 - PR https://github.com/status-im/status-react/pull/7078 ready for review

[2018-12-12 11:14] ghost commented on #5772
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-12 11:36] #6855 closed, assigned to nobody

[2018-12-12 11:45] #7036 closed, assigned to hetvart

[2018-12-12 11:45] #6423 closed, assigned to nobody

[2018-12-12 12:08] #6234 closed, assigned to nobody

[2018-12-12 12:33] #6749 closed, assigned to nobody

[2018-12-12 12:33] gballet commented on #5787
Any news on this?

[2018-12-12 13:04] ghost commented on #5832
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-12 13:58] corpetty commented on #5793
As these are HSMs, I would further push to have the private keys stored this way as well if the user is not using the keycard.

[2018-12-12 15:25] mandrigin commented on #5793
Yep, 100%, I will add it to our backlog.

[2018-12-12 15:30] churik commented on #6926
@vkjr currently I'm testing build from #7012 and I still can see that google.com is pinged by Status. What additionally should be done to remove it completely?

[2018-12-12 15:47] vkjr commented on #6926
@churik, thanks for finding.
Created a bug for this - https://github.com/status-im/react-native-desktop/issues/434. That happens because `NetInfo` module checks connectivity even if there is no listener to this info.

Our main consideration against pinging google was that it can be inaccessible (blocked) in some countries and we will get inadequate results when detecting online\offline state. #701

[2018-12-12 16:44] ghost commented on #5777
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-12 16:44] #5777 closed, assigned to nobody

[2018-12-12 16:50] churik commented on #6926
@vkjr I'm OK with that, but IMO it is included as part of release and should be confirmed from security POV.
@annadanchenko @corpetty WDYT?

[2018-12-12 17:00] corpetty opened #7082 "Github dependency vulnerability alert: urllib3 version 1.23"
Github has sent us a vulnerability alert of one of our dependencies: `urllib3 version 1.22`, which has been labeled `High Severity`.

You can find more information [here](https://nvd.nist.gov/vuln/detail/CVE-2018-20060).

## Suggested fix from Github:
upgrade to `urllib3>=1.23` in `test/appium/requirements.txt`.

Notes:  there seems to be breaking changes going to 1.23, and the current version is

[2018-12-12 17:01] corpetty commented on #7082
urllib3 changelog can be found [here](https://github.com/urllib3/urllib3/blob/master/CHANGES.rst)

[2018-12-12 17:25] #6386 closed, assigned to yenda

[2018-12-12 17:34] ghost commented on #5836
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-12 17:35] mandrigin commented on #7082
@antdanchenko can you take a look at that?

[2018-12-12 18:32] mandrigin commented on #5793
@corpetty there are some flowcharts of the proposal.

With the proposal like the least amount of changes are necessary to our codebase (because it works very similarly to what we do on iOS). Almost all of the changes will be in our fork of `react-native-keychain` (we will have to fork it).
The major downside is that the plaintext password is exposed to JS. Though, it is exposed to JS right now any

[2018-12-12 18:48] mandrigin opened #7083 "Improve algorithm for re-querying mailservers"
# Problem

(based on this incident: https://notes.status.im/5apzxihzQcqRN0WzpvL6SQ)

Currently, we have a constant timeout for receiving messages from mailserver. If a message we think as "last" fails to come, we re-request everything again. If the mailserver is too slow, these re-tries can cause cascading effects.

A few possible improvements to this algorithm are:
- increase timeout time with ev

[2018-12-12 19:31] jakubgs opened #7084 "TEST ISSUE"
Just testing the github commenting automation.

[2018-12-12 19:32] status-im-auto commented on #7084
RENDERED COMMENT

[2018-12-12 19:33] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:39] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:39] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:40] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:41] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:41] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:41] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:42] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:42] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:43] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:44] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:48] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:48] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:49] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:49] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:49] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:51] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:52] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:52] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:52] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:53] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:53] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:55] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:56] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:57] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 19:57] status-im-auto commented on #7084
### Jenkins Builds
test wtf

[2018-12-12 19:58] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 20:03] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 20:03] status-im-auto commented on #7084
### Jenkins Builds
test wtf

[2018-12-12 20:03] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 20:04] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 20:04] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 20:05] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 20:07] #6889 closed, assigned to cammellos

[2018-12-12 20:34] ghost commented on #5778
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-12 20:34] #5778 closed, assigned to nobody

[2018-12-12 21:04] santteegt commented on #4391
Hi,

Is there any active channel where I can ask a couple questions in order to complete this bounty? Riot and Status chat seem to not to have active users

[2018-12-12 21:10] status-im-auto commented on #7084
### Jenkins Builds
test

[2018-12-12 21:12] asemiankevich commented on #4391
which channel are you trying to use in Status?

[2018-12-12 21:20] santteegt commented on #4391
That one https://get.status.im/chat/public/status

<blockquote><div><strong><a href="https://get.status.im/chat/public/status">Join the public chat: #status in Status</a></strong></div></blockquote>

[2018-12-12 21:22] asemiankevich commented on #4391
try to use #status-core. Or post the questions here. @goranjovic or @bhauman are the best persons to ask about wallet! :)

[2018-12-12 21:36] santteegt commented on #4391
What I'm currently hesitating a little is about how you're currently managing to persist values in local storage (not in memory as app-db). Could you give me a reference to a `cljs` file where I can get some clear example?

[2018-12-12 21:38] asemiankevich commented on #4391
@flexsurfer @goranjovic @bhauman could you please assist with question above?

[2018-12-12 22:17] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | When | Platform | Build | Duration | Result |
|-|-|-|-|-|-|-|
| :x: | d89asu8s |  | `android` | [7084#1](https://google.pl) | ~12 min | [:page_facing_up: build log](consoleText) || :x: | d89asu8s |  | `android` | [7084#1](https://google.pl) | ~12 min | [:page_facing_up: build log](consoleText) || :x: | d89asu8s |  | `android` | [7084#1](https://googl

[2018-12-12 23:12] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | :hash: | Finished | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| :x: | 1ds41ay | [3](https://google.pl) | 12:12:55 AM | ~12 min | `android` | [:page_facing_up: build log](https://google.plconsoleText) |
| :x: | 1ds41ay | [3](https://google.pl) | 12:13:18 AM | ~12 min | `android` | [:page_facing_up: build log](https://google.plconsoleText) |
| :he

[2018-12-12 23:52] tbenr commented on #6596
@jeluard @andytudhope still cant apply this even if i'm only working on 2... can you extend time (it is going to expire in 12h)

[2018-12-13 01:38] StatusSceptre commented on #6596
Working on it! @tbenr just ping @StatusSceptre for now because @andytudhope is OOO for a bit.

[2018-12-13 01:39] StatusSceptre commented on #6596
Can you apply for it now? @tbenr it doesn't look like anyone is assigned atm.

[2018-12-13 07:35] tbenr commented on #6596
@StatusSceptre i still get this error
<img width="461" alt="schermata 2018-12-13 alle 08 31 15" src="https://user-images.githubusercontent.com/15999009/49922683-b9857d80-feb1-11e8-9f73-159a75bc3e17.png">
even if i'm currently working on 2. Today i'll finish another one, so I should go down to 1.

[2018-12-13 10:33] #6997 closed, assigned to flexsurfer

[2018-12-13 13:23] churik opened #7090 "After logging > 24h messages from yesterday are shown as messages that are sent today"
### Description

*Type*: Bug

*Summary*: when you are logging more than 24h, messages that sent yesterday are shown below "Today" in chat. According to discussing it with @cammellos  those messages are cached and the view is not refreshed when day passes. The issue disappears after relogin.

#### Expected behavior
message is shown below "Yesterday"

#### Actual behavior
message is shown below "Tod

[2018-12-13 13:53] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | :hash: | Finished | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| | | | | | | |
| :heavy_check_mark: | 7367f3d5 | [#7](https://google.pl) | 13:53:56 | ~11 min | `android` | [:package: package](https://google.pl) |
| :heavy_check_mark: | 7367f3d5 | [#7](https://google.pl) | 13:54:24 | ~11 min | `ios` | [:package: package](https://google.pl) |

[2018-12-13 14:30] annadanchenko commented on #6926
extra stuff to include into desktop release when PR is approved and tested ok: https://github.com/status-im/status-react/pull/7085

[2018-12-13 15:20] #7047 closed, assigned to goranjovic

[2018-12-13 15:58] annadanchenko commented on #6200
See same issue on today's nightly build for Windows (ubuntu-server.exe is trying to connect to api.mixpanel.com )

[2018-12-13 16:02] annadanchenko commented on #6926
and please, consider fixing https://github.com/status-im/status-react/issues/6200 for release as call to api.mixpanel.com is against privacy principles

[2018-12-13 16:03] asemiankevich opened #7093 "Could not change account exception shown when account is recovered"
### Description

*Type*: Bug

*Summary*:

`Could  not change account {:message "Account's database does not exist.", :error :database-does-not-exist}`

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/49950715-63dcbf80-ff09-11e8-9191-d4419be3e89a.png)

### Reproduction
- build develop (emulator)
- recover account

NOTE: same on account creation

[2018-12-13 16:07] oskarth commented on #6926
I agree re fixing 6200. A DB shouldn't have hard dependency on tracking software.

[2018-12-13 16:08] oskarth commented on #6926
That said, we should make sure this release gets out before people go on vacation. There might also be random regressions and so on, so the sooner the better. Do people feel confident we can get a stable version out before vacation time? cc @siphiuel

[2018-12-13 16:10] churik commented on #6926
@oskarth @annadanchenko how about that `NetInfo` still checks connectivity using google.com? (RN-issue https://github.com/status-im/react-native-desktop/issues/434 ) - can we go with it?

[2018-12-13 16:17] oskarth commented on #6926
Replied here https://github.com/status-im/react-native-desktop/issues/434#issuecomment-447027256

Depending on specifics I'd note it as a potential issue in release notes. Hunch would be that it is just a ping vs actually leaking data, so something to fix but not release blocker per se. IMO.

This would be a useful thing to make clear in a 'Security and Privacy' section, see https://github.com/sta

[2018-12-13 16:56] annadanchenko commented on #6926
What if after the release hotfix will be needed? Does it make sense to make it so quick and no buffer for hotfix? Should we just have a dogfooding release build for 1-2 weeks before rolling out?

[2018-12-13 18:15] annadanchenko commented on #7034
@asddsaz in Status mobile app open Profile -> Backup your recovery phrase -> tap "Ok, continue" to get recovery phrase with 12 words shown. These 12 words is your seed phrase that can be used to recover account in MetaMask or other wallet.

![img_2575](https://user-images.githubusercontent.com/6584810/49956589-d8156400-ff05-11e8-82e5-5c138c85efcc.jpg)

Example of my test account recovery phrase, y

[2018-12-13 18:15] #7034 closed, assigned to nobody

[2018-12-13 18:24] tbenr commented on #6594
@StatusSceptre starting now, note that the work is expired..

[2018-12-13 19:08] rasom commented on #7093
This is not an exception, that's a warning. It can be seen only in dev mode and doesn't affect anything in prod build.

[2018-12-13 19:09] asemiankevich commented on #7093
okay , i used wrong wording here.

Thanks for taking a look. I assume i can close it then.

[2018-12-13 19:09] #7093 closed, assigned to rasom

[2018-12-13 19:58] mandrigin commented on #5793
Today I started working to add an additional parameter to `react-native-keychain` that allows a user to set a minimum encryption key guarantee (ANY/SECURE_SOFTWARE/TEE) to encryption operations. That way we can be sure that the app password is always encrypted with a key that is at least inside the security hardware (TEE guarantees).

[2018-12-13 20:59] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | :hash: | Finished | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| | | | | | | |
| :heavy_check_mark: | 7367f3d5 | [#7](https://google.pl) | 20:59:04 | ~11 min | `ios` | [:package: package](https://google.pl) |

[2018-12-13 21:28] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | :hash: | Finished | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| | | | | | | |
| :heavy_check_mark: | 7367f3d5 | [#7](https://google.pl) | 21:28:28 | ~11 min | `ios` | [:package: package](https://google.pl) |
| :heavy_check_mark: | 7367f3d5 | [##7](https://google.pl) | 21:30:23 | ~11 min | `ios` | [:package: package](https://google.pl) |

[2018-12-13 22:26] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | :hash: | Finished | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| :heavy_check_mark: | dasdas982 | [#8](https://google.pl) | 10:26:13 PM | ~11 min | `ios` | [:package: package](https://google.pl) |

[2018-12-13 22:38] status-im-auto commented on #7084
### Jenkins Builds
| :grey_question: | Commit | :hash: | Finished | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| :heavy_check_mark: | 7b3e735b | [#19](https://ci.status.im/job/status-react/job/prs/job/macos/job/PR-7084/19/) | 11:54:25 PM | ~14 min | `macos` | [:package: package](https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-181213-223943-7b3e73-pr.dmg) |
| :heavy_check_mark: | 7b3

[2018-12-13 22:39] #7084 closed, assigned to nobody

[2018-12-14 02:11] oskarth commented on #6926
This release has to be done before end of year, which means before Christmas. Collectively we need to focus on SNT utility in Q1. If this means cutting scope for release then so be it. Also not unlikely at least someone will be around in case of huge flaw. It’s also the case that people are already relying on it.

[2018-12-14 02:12] oskarth commented on #6926
We’ve already delayed this first alpha release for months, this was a milestone back in Q2 and Q3 already.

[2018-12-14 02:34] oskarth commented on #6757
I'd like to propose that we include the use of https://discuss.status.im/t/introducing-a-data-sync-layer/864 in the scope of this. Happy to talk more about it.

<blockquote><img src="https://discuss.status.im/uploads/default/optimized/1X/1eb8af473d7e0391dadd4a21c7a99d807e5341a3_1_500x500.png" width="48" align="right"><div><img src="/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e99

[2018-12-14 07:24] jeluard commented on #6594
@tbenr It will be taken care of, no worries

[2018-12-14 07:28] cammellos opened #7097 "Messages not loaded from the database if out-of-order messages are received"
Some messages are not loaded from the database if messages with an older timestamp are received (from the mailserver for example).

### Step to replicate
The steps to  replicate are a bit artificial, this is the simplest way, but fetching old messages from the mailserver might also result in this behavior, or receiving a message from a peer with the clock set to the wrong time.

1) Post 100 messag