[2018-09-28 11:11] lukaszfryc commented on #6051
@jonathanbarker did you try to kill the app and log in again?

[2018-09-28 11:14] lukaszfryc commented on #6051
cc @yenda @mandrigin

[2018-09-28 11:15] J12B commented on #6051
More context: I was using the app fine, sent a messge and then turned used another app on my phone. I came back to my phone a while later and had a Status notification in my taskbar (I think it was a new message). When I clicked into it, Status wouldn't log me in.

I killed the app, restarted and was immediately able to log in.

[2018-09-28 11:28] lukaszfryc opened #6052 "null is not an object after having mailserver issues and logging out"
### Description

*Type*: Bug

*Summary*: @LaloGarza has recently got an error after having mailserver issues and then logging out. We have [full logcat logs](https://gist.github.com/lukaszfryc/b6da180cd032430a5ed5a58c79cbeef5) to investigate it.

[code]
<img src="https://user-images.githubusercontent.com/7532782/46205844-755af600-c322-11e8-8e85-0abc783ac696.png" width="200">

### Reproduction

- N

[2018-09-28 11:29] lukaszfryc commented on #6052
@LaloGarza do you remeber if it worked fine after you pressed OK?

[2018-09-28 11:30] #5321 closed, assigned to dmitryn

[2018-09-28 11:47] chadyj commented on #5581
From Desktop meeting:

[2018-09-28 11:50] chadyj opened #6053 "Update the Qt version that is used by Jenkins to Qt 5.11.2"
Updating Qt will fix several issues with the desktop app.
There should be no downsides given our current experience

[2018-09-28 11:58] annadanchenko commented on #6029
is it same as https://github.com/status-im/status-react/issues/5749 ? See point 2 in its description: `2) Outgoing token transactions are shown as 0 ETH instead of token and amount`

[2018-09-28 12:04] yenda commented on #6051
@lukaszfryc is there more complete logs ? the one you send seem to start too late to really understand what happened

[2018-09-28 12:28] rasom commented on #5344
https://github.com/status-im/status-react/issues/6053

[2018-09-28 12:28] rasom commented on #5892
https://github.com/status-im/status-react/issues/6053

[2018-09-28 14:11] lukaszfryc commented on #6051
No, that's all we have. The bug and logs was reported by Instabug

[2018-09-28 14:31] #2491 closed, assigned to nobody

[2018-09-28 15:02] vitvly opened #6061 "Reloading JS in Desktop freezes the app"
This is caused by an attempt to start a Geth node that is already running. A solution would be to always stop and start node during desktop app startup.

[2018-09-28 15:54] #6017 closed, assigned to yenda

[2018-09-28 16:08] pablanopete commented on #5195
I think backup is the biggest thing here; what happens when I have to reload my status account or I get a new phone and I lose all my contacts, or dreaded bugs happens and I lose all my contact codes I've built up over a long period of time. @chadyj - can this be considered somewhere? Or is it already.

[2018-09-28 16:19] #5277 closed, assigned to rasom

[2018-09-28 16:35] #4728 closed, assigned to rasom

[2018-09-28 17:02] #6026 closed, assigned to nobody

[2018-09-28 17:05] #5998 closed, assigned to mandrigin

[2018-09-28 17:32] dmitryn commented on #4433
It probably makes sense to wait for https://github.com/status-im/status-react/pull/5330 https://github.com/status-im/status-react/issues/4432 to be done since this issue requires communication with native API. For OSX this could be:
[code]

Maybe it makes sense to add this code to snorenotify repo https://github.com/status-im/snorenotify/blob/master/src/plugins/backends/osxnotificationcenter/osxno

[2018-09-28 17:42] maxhora commented on #4433
@dmitryn extending Snorenotify should be great idea!

[2018-09-28 17:46] maxhora commented on #4433
p.s. current logic to show notifications through Snorenotify is not what we want: currently, it shows first 3 unread messages; but we want it dynamically update last 3rd unread message to the latest received one.
Above internal logic might have side effect on detecting of correct amount of unread messages on `osxnotificationcenter.mm` low level.

[2018-09-28 17:52] maxhora commented on #4433
it has more sense to start working on this after https://github.com/status-im/status-react/pull/5330 will be merged (I expect this will happen next week)

[2018-09-29 04:02] 751895405 commented on #6029
yep i think i should close this issue

[2018-09-29 04:02] #6029 closed, assigned to nobody

[2018-09-29 13:46] rachelhamlin opened #6065 "Add LPT to assets list"
### User Story

As a user, I want to keep LPT in my Status wallet so I can participate in the Livepeer protocol within Status.

### Description

*Type*: Feature

*Summary*: Add `LPT` token to assets list.

Symbol: `LPT`

Contract address: `0x58b6a8a3302369daec383334672404ee733ab239`

![livepeer_mark_200px_black](https://user-images.githubusercontent.com/15470435/46246390-e4a51880-c3fc-11e8-88f7-79

[2018-09-29 14:01] rachelhamlin opened #6066 "Update Livepeer listing + add livepeer.tv"
As a user, I want to learn about the Livepeer protocol and how I can participate using LPT.

As a user, I want to see the Livepeer protocol in action.

### Description

*Type*: Feature

*Summary*: Update current Livepeer DApp listing and add a new one.

#### Expected behavior

**1. Updating current listing**

Move `Media` category above `Utilities`.

Change the name `LivePeer` to `livepeer.tv`.

U

[2018-09-30 01:03] LaloGarza commented on #6052
@lukaszfryc I had to restart my phone and login back to Status and then it did worked fine. It hasn't happened again.

[2018-09-30 03:16] SvenMeyer commented on #4381
status.im version : 0.9.28 (9098); node 0.15.0

I have the same problem trying to send ETH on Ropsten from status.im to another MEW account on ropsten.
- display QR code in MEW
- scan (address looks correct)
- ERROR : Network does not match ethereum:0x ... but current chain is 3

![screenshot_20180930-130458](https://user-images.githubusercontent.com/25609/46252923-9ef75700-c4b3-11e8-9507-b8d76b8c

[2018-09-30 11:58] ghost commented on #4912
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-30 17:32] ghost commented on #5025
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-30 18:42] ghost commented on #5026
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-09-30 18:46] vitvly commented on #5444
@MaxRis @churik I've updated the description in
https://github.com/status-im/status-react/pull/5784 so that it is clear that only dev-related problem (`Reload JS`) is resolved. As I understand, Crash Reporter can be modified so that it will forcibly quit `ubuntu-server.js` upon intercepting crash, correct?

[2018-09-30 19:44] maxhora commented on #5444
@siphiuel , yes, but crash handler already terminates ubuntu_server process on handling of crash and no additional changes required.

[2018-10-01 06:08] jeluard commented on #5461
MetaMask has now [shipped](https://medium.com/metamask/eip712-is-coming-what-to-expect-and-how-to-use-it-bb92fd1a7a26) its support.

[2018-10-01 06:09] jeluard commented on #5461
Blocked [go side](https://github.com/status-im/status-go/issues/1219)

[2018-10-01 06:12] jeluard commented on #5461
@sidsverma The older wai is to use [personal_sign](https://medium.com/metamask/the-new-secure-way-to-sign-data-in-your-browser-6af9dd2a1527)

[2018-10-01 06:20] sidsverma commented on #5461
@jeluard Yes, I tested it with personal_sign, and it works wonderfully on Status. But when will Status move to the latest eth_signTypedData_v3?

[2018-10-01 07:01] jeluard commented on #5461
@sidsverma We will start working on it soon. Do you have a specific use case or existing DApp relying on it?

[2018-10-01 07:12] ghost commented on #4488
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-01 07:46] churik commented on #4488
Still can reproduce

[2018-10-01 07:57] churik commented on #4710
Still reproducible

[2018-10-01 08:27] rasom commented on #6042
there is also a bit different issue, caret position is changed when typing fast in the second/third row (exactly when a new row should be started). But it should be fixed separately

[2018-10-01 08:42] ghost commented on #5016
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-01 08:51] chadyj commented on #6053
@jakubgs 👍 All good to proceed! Thank you!

[2018-10-01 08:52] churik commented on #6053
Tested `Status` with QT 5.11.2 - no regression issues are found

[2018-10-01 08:58] ghost commented on #3200
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-01 09:01] Graeme-Code opened #6072 "Universal links to Dapps are returning a "URL not supported" error"
### User Story

As a user,
 I want to be taken to a dapp inside of Status,
 so that I may use the dapp with my funds stored in the Status wallet.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary

[2018-10-01 10:48] jisamathew commented on #4935
How to solve this issue?I was able to connect to new custom network first time..later not possible.?

[2018-10-01 10:50] lukaszfryc opened #6073 "App is killed after switching from Ropsten (LES) to Ropsten RPC or other network"
### Description

*Type*: Bug

*Summary*: When "Ropsten (LES)" is selected as the network, the app is getting killed when network is changed to e.g. "Ropsten RPC". All works fine when app is opened again.

#### Expected behavior
Network should be switched and user logged out.

#### Actual behavior
App is killed.

### Reproduction

- Open Profile, Advanced settings
- Go to Networks and select Ropste

[2018-10-01 11:10] #5643 closed, assigned to mandrigin

[2018-10-01 11:13] #6052 closed, assigned to yenda

[2018-10-01 11:16] churik opened #6074 "Caret is jumping to first char starting from third row when typing fast"
*Type*: Bug
*Summary*: when typing fast in message input field, caret jumps to start of the message starting from third line of input.

#### Expected behavior
caret position is not changed

#### Actual behavior
focus is moved to the beginning to the message

### Reproduction

- Open Status
- Open 1-1 chat
- Type message (fast) with > 2 lines

### Additional Information
[comment]: # (Please do your

[2018-10-01 11:20] churik commented on #6042
https://github.com/status-im/status-react/issues/6042#issuecomment-425827510 moved to https://github.com/status-im/status-react/issues/6074

[2018-10-01 11:51] churik opened #6076 "Attempt to send ETH in 1-1 chat in desktop leads to blank screen"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if type and send valid command in 1-1 chat, i.e. `/send ETH 0` application leads to blank screen.

#### Expected behavior
error that using commands is not implemented yet

#### Actual behavior
blank screen

### Reproduction

- Open Status
- Open 1-1 chat
- Send `/send ETH 0`

### Additional Information
[comment]:

[2018-10-01 12:20] chadyj commented on #5588
Update here https://github.com/status-im/status-react/pull/6007

Adding LES as an option

[2018-10-01 12:22] lukaszfryc opened #6077 "Can't join public chat in on Ropsten LES - No matching clause: offline error is shown"
### Description

*Type*: Bug

*Summary*:

After switching to Ropsten LES and joining a public chat, the app shows following error:

<img src="https://user-images.githubusercontent.com/7532782/46288076-ebf72e00-c584-11e8-93ad-06f32d5233cf.png" width="200">

When dimissed, there is a blank screen.

### Reproduction

- Go to networks from advanced settings in profile
- Select Ropsten LES
- Log in aga

[2018-10-01 13:50] Serhy commented on #5016
Still reproducible in the latest 0.9.29 Develop build

[2018-10-01 13:52] ghost commented on #5035
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-01 14:07] lukaszfryc opened #6078 "No tokens balance on Ropsten LES network"
### Description

*Type*: Bug

*Summary*: There is no info about tokens on Ropsten LES. Btw, tx history shows transactions correctly.

<img src="https://user-images.githubusercontent.com/7532782/46293399-aee66800-c593-11e8-8f00-ace4b9bb262c.png" width="200">

### Reproduction

- Go to networks from advanced settings in profile
- Select Ropsten LES
- Log in and go to wallet

### Additional Informati

[2018-10-01 14:33] churik opened #6080 ""Not sent" message is shown as "Sent" if it was sent during 2 sec after coming online"
### Description

*Type*: Bug
*Summary*: if you send message immediately after switching off offline mode - it is shown as Sent, but in fact it wasn't sent.

#### Expected behavior
status is "Not sent. Tap for options" with resend option.

 <img width="200" alt="offl" src="https://user-images.githubusercontent.com/7532782/47304308-81d32580-d626-11e8-8ab0-f98061d5e182.png">

#### Actual behavior
sta

[2018-10-01 15:02] ghost commented on #4951
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-01 15:24] Serhy commented on #5035
Didn't see this error during next releases, and all good with 0.9.28 Release on Android now.
Closing the issue.

[2018-10-01 15:24] #5035 closed, assigned to nobody

[2018-10-01 15:28] ghost commented on #5036
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-01 15:52] ghost commented on #4764
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4624
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4787
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4793
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #379
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #3751
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #3766
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4802
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #1125
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4815
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4825
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4807
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4808
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4861
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4867
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4907
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4573
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4928
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4934
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #2878
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4426
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #3289
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4948
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] ghost commented on #4955
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 15:52] #4764 closed, assigned to nobody

[2018-10-01 15:53] #4624 closed, assigned to cammellos

[2018-10-01 15:53] #4787 closed, assigned to nobody

[2018-10-01 15:53] #4793 closed, assigned to nobody

[2018-10-01 15:53] #3751 closed, assigned to nobody

[2018-10-01 15:53] #3766 closed, assigned to nobody

[2018-10-01 15:53] #4802 closed, assigned to nobody

[2018-10-01 15:53] #4815 closed, assigned to nobody

[2018-10-01 15:53] #4825 closed, assigned to nobody

[2018-10-01 15:53] #4807 closed, assigned to nobody

[2018-10-01 15:53] #4808 closed, assigned to nobody

[2018-10-01 15:53] #4861 closed, assigned to nobody

[2018-10-01 15:53] #4867 closed, assigned to nobody

[2018-10-01 15:53] #4907 closed, assigned to nobody

[2018-10-01 15:53] #4928 closed, assigned to nobody

[2018-10-01 15:53] #2878 closed, assigned to nobody

[2018-10-01 15:53] #4426 closed, assigned to nobody

[2018-10-01 15:53] #3289 closed, assigned to nobody

[2018-10-01 15:53] #4948 closed, assigned to nobody

[2018-10-01 16:02] ghost commented on #4445
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #436
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4352
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #3408
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4610
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4570
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4324
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4622
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4627
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #2905
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4611
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4612
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4440
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4487
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #208
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4247
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4567
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4675
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4687
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4638
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #3902
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4695
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4694
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4691
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:02] ghost commented on #4699
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:03] ghost commented on #4722
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:03] #4445 closed, assigned to nobody

[2018-10-01 16:03] #436 closed

[2018-10-01 16:03] #4352 closed, assigned to maxhora

[2018-10-01 16:03] #3408 closed, assigned to nobody

[2018-10-01 16:03] #4610 closed, assigned to nobody

[2018-10-01 16:03] #4570 closed, assigned to nobody

[2018-10-01 16:03] #4324 closed, assigned to nobody

[2018-10-01 16:03] #4622 closed, assigned to janherich

[2018-10-01 16:03] #4627 closed, assigned to nobody

[2018-10-01 16:03] #2905 closed, assigned to nobody

[2018-10-01 16:03] #4611 closed, assigned to nobody

[2018-10-01 16:03] #4612 closed, assigned to nobody

[2018-10-01 16:03] #4440 closed, assigned to denis-sharypin

[2018-10-01 16:03] #4487 closed, assigned to jpbowen

[2018-10-01 16:03] #208 closed

[2018-10-01 16:03] #4247 closed, assigned to nobody

[2018-10-01 16:03] #4567 closed, assigned to nobody

[2018-10-01 16:03] #4675 closed, assigned to nobody

[2018-10-01 16:03] #4687 closed, assigned to nobody

[2018-10-01 16:03] #4638 closed, assigned to nobody

[2018-10-01 16:03] #3902 closed, assigned to nobody

[2018-10-01 16:03] #4695 closed, assigned to nobody

[2018-10-01 16:03] #4694 closed, assigned to nobody

[2018-10-01 16:03] #4691 closed, assigned to nobody

[2018-10-01 16:03] #4699 closed, assigned to nobody

[2018-10-01 16:03] #4722 closed, assigned to nobody

[2018-10-01 16:12] ghost commented on #3892
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4042
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3464
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4045
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4050
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3112
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3930
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4178
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3613
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3622
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3370
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3340
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3278
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #2714
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #2713
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4222
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #717
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3513
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #3581
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #240
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #1284
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4339
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4344
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4216
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:12] ghost commented on #4437
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:13] ghost commented on #3995
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:13] ghost commented on #4458
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:13] ghost commented on #4459
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:13] #3892 closed, assigned to nobody

[2018-10-01 16:13] #4042 closed, assigned to nobody

[2018-10-01 16:13] #3464 closed, assigned to nobody

[2018-10-01 16:13] #4045 closed, assigned to nobody

[2018-10-01 16:13] #4050 closed, assigned to nobody

[2018-10-01 16:13] #3112 closed, assigned to nobody

[2018-10-01 16:13] #3930 closed, assigned to nobody

[2018-10-01 16:13] #4178 closed, assigned to nobody

[2018-10-01 16:13] #3613 closed, assigned to nobody

[2018-10-01 16:13] #3622 closed, assigned to nobody

[2018-10-01 16:13] #3370 closed, assigned to nobody

[2018-10-01 16:13] #3340 closed, assigned to nobody

[2018-10-01 16:13] #3278 closed, assigned to nobody

[2018-10-01 16:13] #2714 closed, assigned to nobody

[2018-10-01 16:13] #2713 closed, assigned to nobody

[2018-10-01 16:13] #4222 closed, assigned to nobody

[2018-10-01 16:13] #717 closed

[2018-10-01 16:13] #3513 closed, assigned to nobody

[2018-10-01 16:13] #3581 closed, assigned to nobody

[2018-10-01 16:13] #240 closed

[2018-10-01 16:13] #1284 closed

[2018-10-01 16:13] #4339 closed, assigned to nobody

[2018-10-01 16:13] #4344 closed, assigned to nobody

[2018-10-01 16:13] #4216 closed, assigned to nobody

[2018-10-01 16:13] #4437 closed, assigned to nobody

[2018-10-01 16:13] #3995 closed, assigned to nobody

[2018-10-01 16:13] #4458 closed, assigned to nobody

[2018-10-01 16:13] #4459 closed, assigned to nobody

[2018-10-01 16:22] ghost commented on #2965
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3353
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3365
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3368
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3375
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3217
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3406
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3422
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3124
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3530
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3536
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3554
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3618
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #733
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3526
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3598
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3721
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3815
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3882
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #4000
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #4003
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #4001
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3423
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] ghost commented on #3977
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:22] #2965 closed, assigned to JekaMas

[2018-10-01 16:23] #3353 closed, assigned to nobody

[2018-10-01 16:23] #3365 closed, assigned to nobody

[2018-10-01 16:23] #3368 closed, assigned to nobody

[2018-10-01 16:23] #3217 closed, assigned to nobody

[2018-10-01 16:23] #3406 closed, assigned to nobody

[2018-10-01 16:23] #3422 closed, assigned to nobody

[2018-10-01 16:23] #3124 closed, assigned to nobody

[2018-10-01 16:23] #3530 closed, assigned to nobody

[2018-10-01 16:23] #3536 closed, assigned to nobody

[2018-10-01 16:23] #3554 closed, assigned to nobody

[2018-10-01 16:23] #3618 closed, assigned to nobody

[2018-10-01 16:23] #3526 closed, assigned to nobody

[2018-10-01 16:23] #3598 closed, assigned to nobody

[2018-10-01 16:23] #3721 closed, assigned to nobody

[2018-10-01 16:23] #3815 closed, assigned to yenda

[2018-10-01 16:23] #3882 closed, assigned to nobody

[2018-10-01 16:23] #4000 closed, assigned to nobody

[2018-10-01 16:23] #4003 closed, assigned to nobody

[2018-10-01 16:23] #3423 closed, assigned to nobody

[2018-10-01 16:23] #4001 closed, assigned to nobody

[2018-10-01 16:23] #3977 closed, assigned to nobody

[2018-10-01 16:32] ghost commented on #2103
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2276
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2543
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #718
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2561
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2482
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2629
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2614
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2621
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2646
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #1366
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2700
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2662
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2689
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2718
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2791
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2866
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2840
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #2880
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #3047
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #3125
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #3133
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #3135
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #3103
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:32] ghost commented on #3142
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:33] ghost commented on #3286
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:33] ghost commented on #3310
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:33] #2103 closed, assigned to nobody

[2018-10-01 16:33] #2276 closed, assigned to nobody

[2018-10-01 16:33] #2543 closed, assigned to nobody

[2018-10-01 16:33] #718 closed

[2018-10-01 16:33] #2561 closed, assigned to nobody

[2018-10-01 16:33] #2482 closed, assigned to nobody

[2018-10-01 16:33] #2629 closed, assigned to nobody

[2018-10-01 16:33] #2614 closed, assigned to nobody

[2018-10-01 16:33] #2621 closed, assigned to nobody

[2018-10-01 16:33] #2646 closed, assigned to nobody

[2018-10-01 16:33] #1366 closed

[2018-10-01 16:33] #2700 closed, assigned to nobody

[2018-10-01 16:33] #2662 closed, assigned to nobody

[2018-10-01 16:33] #2689 closed, assigned to nobody

[2018-10-01 16:33] #2718 closed, assigned to nobody

[2018-10-01 16:33] #2791 closed, assigned to nobody

[2018-10-01 16:33] #2866 closed, assigned to nobody

[2018-10-01 16:33] #2840 closed, assigned to nobody

[2018-10-01 16:33] #2880 closed, assigned to nobody

[2018-10-01 16:33] #3047 closed, assigned to jeluard

[2018-10-01 16:33] #3125 closed, assigned to nobody

[2018-10-01 16:33] #3133 closed, assigned to nobody

[2018-10-01 16:33] #3135 closed, assigned to nobody

[2018-10-01 16:33] #3103 closed, assigned to nobody

[2018-10-01 16:33] #3142 closed, assigned to nobody

[2018-10-01 16:33] #3286 closed, assigned to nobody

[2018-10-01 16:33] #3310 closed, assigned to nobody

[2018-10-01 16:42] ghost commented on #631
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1150
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #194
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1149
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #546
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #632
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #686
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1578
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1531
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1643
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1645
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #681
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #699
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #703
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1752
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1753
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1758
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1759
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1786
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1363
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1856
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1940
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1473
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #163
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:42] ghost commented on #1039
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:43] ghost commented on #646
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:43] ghost commented on #339
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:43] ghost commented on #2318
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:43] ghost commented on #2311
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:43] ghost commented on #706
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:43] #631 closed

[2018-10-01 16:43] #1150 closed

[2018-10-01 16:43] #194 closed

[2018-10-01 16:43] #1149 closed

[2018-10-01 16:43] #546 closed

[2018-10-01 16:43] #632 closed

[2018-10-01 16:43] #686 closed

[2018-10-01 16:43] #1578 closed

[2018-10-01 16:43] #1531 closed

[2018-10-01 16:43] #1643 closed, assigned to nobody

[2018-10-01 16:43] #1645 closed, assigned to nobody

[2018-10-01 16:43] #681 closed

[2018-10-01 16:43] #699 closed

[2018-10-01 16:43] #703 closed

[2018-10-01 16:43] #1752 closed, assigned to nobody

[2018-10-01 16:43] #1753 closed, assigned to nobody

[2018-10-01 16:43] #1758 closed, assigned to nobody

[2018-10-01 16:43] #1759 closed, assigned to nobody

[2018-10-01 16:43] #1786 closed, assigned to nobody

[2018-10-01 16:43] #1363 closed

[2018-10-01 16:43] #1856 closed, assigned to nobody

[2018-10-01 16:43] #1940 closed, assigned to nobody

[2018-10-01 16:43] #1473 closed

[2018-10-01 16:43] #163 closed

[2018-10-01 16:43] #1039 closed

[2018-10-01 16:43] #646 closed

[2018-10-01 16:43] #339 closed

[2018-10-01 16:43] #2318 closed, assigned to nobody

[2018-10-01 16:43] #2311 closed, assigned to nobody

[2018-10-01 16:43] #706 closed

[2018-10-01 16:52] ghost commented on #591
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #207
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #12
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #333
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #203
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #794
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #716
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #795
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #800
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #683
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #905
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #946
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #949
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #986
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #895
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #1131
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #1126
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #1376
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #1384
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #1424
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #1406
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #853
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:52] ghost commented on #168
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:53] ghost commented on #169
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:53] ghost commented on #166
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:53] ghost commented on #167
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-01 16:53] #591 closed

[2018-10-01 16:53] #207 closed

[2018-10-01 16:53] #12 closed

[2018-10-01 16:53] #333 closed

[2018-10-01 16:53] #203 closed

[2018-10-01 16:53] #794 closed

[2018-10-01 16:53] #716 closed

[2018-10-01 16:53] #795 closed

[2018-10-01 16:53] #800 closed

[2018-10-01 16:53] #683 closed

[2018-10-01 16:53] #905 closed

[2018-10-01 16:53] #946 closed

[2018-10-01 16:53] #949 closed

[2018-10-01 16:53] #986 closed

[2018-10-01 16:53] #895 closed

[2018-10-01 16:53] #1131 closed

[2018-10-01 16:53] #1376 closed

[2018-10-01 16:53] #1384 closed

[2018-10-01 16:53] #1424 closed

[2018-10-01 16:53] #1406 closed

[2018-10-01 16:53] #853 closed

[2018-10-01 16:53] #168 closed

[2018-10-01 16:53] #169 closed

[2018-10-01 16:53] #167 closed

[2018-10-01 16:53] #166 closed

[2018-10-01 20:35] chrishobcroft opened #6083 "MY ACCOUNT on explorer.livepeer.org is not available on Status Android App."
### User Story

As a user of **Status Android App** and [**Livepeer open-source video infrastructure**](https://livepeer.org), I want to bond my [Livepeer Tokens (LPT)](https://etherscan.io/token/0x58b6a8a3302369daec383334672404ee733ab239) to Livepeer's Delegated-Proof-of-Stake protocol using Status App's Browser running [Livepeer's Protocol Explorer](https://explorer.livepeer.org/).

This is so t

[2018-10-02 04:13] jakubgs commented on #6053
Prepared the change here: https://github.com/status-im/status-react/pull/6062
Successful Build: https://ci.status.im/job/status-react/job/pull%20requests/job/PR-6062/17/
Docker image name: `statusteam/linux-desktop-ubuntu:qt-5.11.2`

<blockquote><img src="/static/39b36f89/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/pull%20requests/job/PR-60

[2018-10-02 04:53] #6043 closed, assigned to rasom

[2018-10-02 04:55] #6042 closed, assigned to rasom

[2018-10-02 06:34] jeluard opened #6085 "PN API"
### User Story

As a developer, I want a simple standalone API to send PNs to an identified chat.

### Description

*Type*: Feature

*This is related to PN v1.*
*Privacy and Security must **not** be degraded by eventual changes required to implement this feature.*

DApps might want to send some PNs from external process to a status chat. This allows to inform in an asynchronous way a user of an ac

[2018-10-02 06:44] #5112 closed, assigned to vkjr

[2018-10-02 07:22] ghost commented on #3824
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-02 07:22] ghost commented on #4596
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-02 07:22] #4596 closed, assigned to nobody

[2018-10-02 07:32] ghost commented on #3631
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-02 07:46] churik commented on #4955
still reproducible

[2018-10-02 08:14] flexsurfer commented on #3824
Need to be fixed

[2018-10-02 08:42] ghost commented on #4959
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-02 09:33] churik opened #6087 "`Type error: re-matches must match against a string.` at attempt to open #status channel"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: after opening #status public channel got an error

#### Expected behavior
no error

#### Actual behavior
<img width="137" alt="err" src="https://user-images.githubusercontent.com/4557972/46340690-dc3c2000-c63e-11e8-88a6-0a22e7bc48c3.png">

[code]

### Reproduction

- Open Status
- Join `#status`

### Additional In

[2018-10-02 11:32] lukaszfryc opened #6090 "Can't login after app was killed and remember password was disabled"
### Description

*Type*: Bug

*Summary*:

When "Set password until logout" was OFF, user logged in and then killed the app, the "Signing you in..." appears when app is opened again. The user is not logged in and there is option to do so as the sign in button is hidden. To fix it, user has to kill the app. All works fine when the "Set password until logout" is ON. The issue happens only on iOS as A

[2018-10-02 11:32] lukaszfryc commented on #6090
cc @mandrigin

[2018-10-02 11:50] lukaszfryc commented on #3487
Any update on this issue?

[2018-10-02 11:51] #6077 closed, assigned to yenda

[2018-10-02 12:11] #6051 closed, assigned to yenda

[2018-10-02 12:50] ghost commented on #4972
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-02 12:50] #4972 closed, assigned to nobody

[2018-10-02 13:20] ghost commented on #2816
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-02 15:00] divan commented on #3375
It is important, especially in the light of upcoming hackathon.

[2018-10-02 15:40] #5529 closed, assigned to alwx

[2018-10-02 15:42] #6066 closed, assigned to alwx

[2018-10-02 15:46] jeluard opened #6094 "Persist extensions"
### User Story

As a user, I want my extensions to persist across restarts.

### Description

*Type*: Feature

After an extension is installed (part of the app-db) it should be persisted and reactivated upon restarts, based on its state.

TBD: do all extensions need to be persisted? What is the default behavior then?

[2018-10-02 15:49] pedropombeiro commented on #3487
Although this was planned to be fixed in 086-push-notif-v2, there's no reason why work can't start outside that scope. The work that needs to be done is well known (we should send message ID in PN payload (`data` field), and we should look into dismissing a PN once that message ID appears on screen)

[2018-10-02 17:50] ghost commented on #4678
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-02 17:50] #4678 closed, assigned to denis-sharypin

[2018-10-02 18:15] #5964 closed, assigned to dmitryn

[2018-10-02 23:07] yenda commented on #6090
@lukaszfryc I can't reproduce with the steps described but if I open status from a notification after killing it I can reproduce. Could you check https://github.com/status-im/status-react/pull/6060 as this is fixing that

[2018-10-02 23:08] yenda commented on #6087
This is already fixed in https://github.com/status-im/status-react/pull/6064 can you check in today nightly (03/10/2018) ?

[2018-10-03 07:10] churik commented on #6087
@yenda

Error is still displayed in last [nightly](https://status-im.ams3.digitaloceanspaces.com/StatusIm-181003-025918-0caab1-nightly.apk)

* Prerequisites:
have installed nightly 02/10/2018 with #status chat (so can replicate issue)

* Steps:
1) update to nightly 03/10/2018
2) log in
3) open #status chat

* Expected result:
history is preserved for yesterday and today, no errror is shown

* Actu

[2018-10-03 07:18] yenda commented on #6087
@churik I expected that you would still have the error if you have the messages already in DB please check #6100

[2018-10-03 07:40] ghost commented on #4877
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-03 07:50] asemiankevich opened #6101 "Push notification (new messages in 1x1 chat) is not received on Android"
### Description

*Type*: Bug

*Summary*: user is not receiving push notifications for android deivces. NOTE: it works on iOS. So having pair ios - android (both in contacts) user is able to see PN on iOS but Android is not showing any PN

UPDATE:

I am trying to localize the problem and it feels like there is a problem with Android 7 device for now. so sending messages from android 7 to android 8

[2018-10-03 08:20] ghost commented on #4780
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-03 08:30] ghost commented on #4954
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-03 09:10] ghost commented on #4966
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-03 09:13] goranjovic commented on #5360
@antdanchenko Can we close this issue off now?

[2018-10-03 09:26] chadyj opened #6103 ""Cannot retrieve a valid key for a given account: could not decrypt key with given passphrase" at attempt to login on desktop with existing account."
### Description

I installed the latest nightly and tried to login. I entered my password and get a "unknown status go error".

<img width="231" alt="screen shot 2018-10-03 at 11 14 55 am" src="https://user-images.githubusercontent.com/116099/46402010-ddcd1d00-c6fe-11e8-8dab-cf31e0462abe.png">

If I use an incorrect password I see a "Wrong password" error instead.

Here are the [logs](https://gist

[2018-10-03 09:35] goranjovic commented on #5563
didn't happen in a while

[2018-10-03 09:35] #5563 closed, assigned to mandrigin

[2018-10-03 09:55] hetvart opened #6104 "Create auto test for pass phrase validation for for logging in with an existing account screen"
See [this PR](https://ethstatus.testrail.net/index.php?/cases/view/5363) for detail.
You can find enclosed test cases:
[Pass phrase validation](https://ethstatus.testrail.net/index.php?/cases/view/5363)
[Spaces inside the passphrase are trimmed and ignored while recovering an access](https://ethstatus.testrail.net/index.php?/cases/view/5499)

[2018-10-03 10:10] #6087 closed, assigned to nobody

[2018-10-03 10:23] lukaszfryc commented on #6090
@yenda, yes, #6060 fixes this issue 👍

[2018-10-03 10:24] jpbowen commented on #6103
Here is [my log](https://gist.github.com/jpbowen/23e71d18c7ad10e7a9c3e7a44c7377d0) for the same issue.

[2018-10-03 10:32] jeluard commented on #6085
@oskarth Any insights you would want to share?

[2018-10-03 10:44] oskarth commented on #6085
This data must be considered unencrypted by default, since Firebase/Google has it in plaintext. Thus the decision was made to just call it "You have a message!". This is also how Signal does it. A workaround would be to send encrypted payload, then intercept it at client. To do this right is a bit tricky and requires iOS/Android specific solutions, and might not be 100% doable because a node has t

[2018-10-03 10:52] Serhy commented on #4573
Reopening this one because it's still actual.

[2018-10-03 11:11] churik opened #6106 "Limit log size on Status-desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to waste my storage to save huge log files.

### Description

*Type*: Feature

*Summary*: now limit for log size is not set, so after a while of daily usage you can get log more than 1GB.
Suggested options are to set maximum limit for log size (i.e. `100MB`) or to change log-level for P

[2018-10-03 11:19] chadyj commented on #6103
Turns out this was because I had installed a group-chat/pfs build and there isn't an upgrade path.

To fix the issue I quit the app, deleted `~/Library/Application Support/StatusIm/ethereum/mainnet_rpc/*.db` then re-opened.

[2018-10-03 11:19] #6103 closed, assigned to nobody

[2018-10-03 11:26] Serhy commented on #6003
All items are done. https://github.com/status-im/status-react/pull/6028 is merged.
Closing this issue

[2018-10-03 11:26] #6003 closed, assigned to Serhy

[2018-10-03 11:32] jeluard commented on #6085
@oskarth Right for 2. I was thinking we could redirect to the right chat / DApps after hitting the PN.

[2018-10-03 12:11] Serhy commented on #5699
Still reproducible in 0.9.29 Release build.

[2018-10-03 12:46] lukaszfryc opened #6107 "Error when opening universal link - no route defined for key home"
### Description

*Type*: Bug

*Summary*:

When the app is in Wallet or Profile and some universal link is opened, the app shows error. User needs to kill it and open again.

<img src="https://user-images.githubusercontent.com/7532782/46410922-af5d3b00-c71a-11e8-9161-964ba8a7da42.png" width="200">

### Reproduction

- Open Status and go to Wallet
- Open `https://get.status.im/chat/public/blah` in e

[2018-10-03 13:03] oskarth opened #6108 "Can't switch mail server when on Desktop"
### User Story

As a user I want to switch mail server.

### Description

*Type*: Bug

*Summary*: I can't switch mail server in Desktop.

#### Expected behavior
I click on a mail server and can switch to it.

#### Actual behavior
I click on a mail server (3 AMS3, from 3C HK) and it asks me to confirm. I confirm and nothing happens. Logout/Restart same.

Since that mailserver seems to have been won

[2018-10-03 13:05] lukaszfryc commented on #6072
It works fine on 0.9.27 but stopped working on 0.9.28.

@rasom maybe it's related to #5606, could you check?

[2018-10-03 13:07] Serhy commented on #5202
Issue still takes place in 0.9.29 Release

@denis-sharypin what's better way to go here to have the same behavior on both iOS and Android when keyboard appears in webview?
- bottom webview tool panel (Back/Fwd/ModalChat/Refresh buttons) is hidden (current iOS behavior)
- bottom webview tool panel is above keyboard (current Android behavior)

I support @flexsurfer idea to not have them when I need

[2018-10-03 13:14] churik commented on #6108
@oskarth cannot replicate on  Desktop Nightly `0caab1f` 3 Oct (Mac OSX High Sierra 10.13.6)
Can you please attach log files and specify your Mac OS version?

[2018-10-03 13:15] Serhy commented on #5294
Looks good to me on iOS12, Android 6.0.1 and Android 7 with Develop 0.9.29:
20 cryptokitty items load fast enough on the very first load of it's list in Wallet

[2018-10-03 13:16] #5294 closed, assigned to nobody

[2018-10-03 13:18] lukaszfryc commented on #5364
There is also:

<img src="https://user-images.githubusercontent.com/7532782/46412705-8c815580-c71f-11e8-8cf2-b4fdd07fb525.png" width="200">

[2018-10-03 13:22] oskarth commented on #6108
@churik Thanks for the quick reply. How do I get logs? OSX 10.13.3

[2018-10-03 13:24] churik commented on #6108
@oskarth
` ~/Library/Application\ Support/StatusIm/StatusIm.log`

[2018-10-03 13:28] lukaszfryc commented on #379
I'm opening it as I just seen Instabug report about this issue on samsung keyboard (Android 24, samsung SM-J530GM).

[2018-10-03 13:34] adambabik opened #6110 "Add a custom Mail Server in Desktop"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: I'd like to use my private MailServer so that I don't share metadata with information when I am online and request for historic messages wit

[2018-10-03 13:39] asemiankevich opened #6111 "Send button is enabled on desktop app when trying to send spaces only"
### Description

*Type*: Bug

*Summary*: `Send` button is active when having spaces only in text box on Statis desktop. When i hit Enter - nothing is actually sent. There is no harm of such behavior, however, it would be great to align desktop and mobile client.

#### Expected behavior
Here some patterns from some messengers:

1. Status mobile: `send` is not active when having only spaces in text

[2018-10-03 13:41] oskarth commented on #6108
Started log capture before clicking on mail-03.do-ams3.eth.beta, then it prompted me with popup, I clicked 'Confirm', and it brought me back to same screen. Would've expected to be logged out (if I log out and back again it is same old).

[code]

[2018-10-03 13:57] churik opened #6112 ""We were not able to decrypt your data" on start after using older build"
### Description

*Type*: Bug

*Summary*: the application cannot start with existing data after you once tried older build on it, fails with error on start "We were not able to decrypt your data". The only way to start app usage again is to clean up all data (https://docs.status.im/docs/build_desktop.html#Clean-up-data).

#### Expected behavior
can use app

#### Actual behavior
<img width="332" alt

[2018-10-03 14:09] #4255 closed, assigned to goranjovic

[2018-10-03 14:41] chadyj opened #6114 "Missing messages and chats after quitting and re-opening"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want messages to not vanish so that I can read them :).

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Every day I've been chatting a lot with Status Desktop Mac in 1-1 and public chats, but after quitting and re-opening the app I've seen many messages vanish.

Sometim

[2018-10-03 14:41] asemiankevich opened #6115 "Core public chats are pinned to the left side bar on Status Desktop"
### Description

*Type*: feature request

*Summary*: Status core team is on its way to migrate to Status Desktop as primary communication tool. In order to simplify desktop usage there is a suggestion to have channels (public chats) pinned at the left sidebar so user is not forced to join them manually each time nightly build is installed.

#### Expected behavior

we can add list of public chats t

[2018-10-03 14:43] chadyj commented on #6114
From Slack:

[2018-10-03 14:44] ghost commented on #4556
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-03 14:46] chadyj opened #6116 "Some characters such as < & > are URL encoded on desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to use < & > and other characters.

### Description

Looks like a recent regression started URL encoding certain characters.

Eg typing `>` changes to `&gt;`

#### Expected behavior
Type `>` and see `>`

#### Actual behavior
Type `>` and see `&gt;`

### Reproduction
Type `>` and see `&gt;`

#

[2018-10-03 15:04] ghost commented on #2541
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-03 15:13] churik commented on #6116
It should be fixed and it is actually fixed on build https://github.com/status-im/status-react/pull/6024#issuecomment-425058192
@rasom would you mind to take a look?

[2018-10-03 15:24] jakubgs commented on #6053
I'm going to merge the QT upgrade PR since it's tested and everything seems to be working fine.

[2018-10-03 15:51] jakubgs commented on #6053
Merged at: https://github.com/status-im/status-react/commit/4f9b2d91ead3dc44e8a7b34cb08b3c549c2f0987

[2018-10-03 15:53] jakubgs commented on #6053
We will proabably also have to do this:
https://github.com/status-im/react-native-desktop/pull/355
Butt builds are failing right now on tests, and I'm not sure how to solve that, maybe @vkjr can help.

[2018-10-03 15:58] jeluard commented on #5016
@Serhy Does it work on iOS?

[2018-10-03 16:03] jeluard commented on #5650
@Serhy Can you still reproduce?

[2018-10-03 17:00] Serhy commented on #5650
Yes, Develop 0.9.29, Release 0.9.28 - reproducible there on Android 6, 7, 8 versions.

[2018-10-03 17:02] Serhy commented on #5016
@jeluard Yes, it does works iOS.

[2018-10-03 17:24] #6053 closed, assigned to jakubgs

[2018-10-04 01:39] oskarth commented on #6108
I tried again this time, confirm mailserver, nothing happened. Then I confirmed mailserver, quit, and restart app, and it  seems to have worked now.

Maybe some kind of race condition or indeterministic behavior here? Don't know.

[2018-10-04 05:54] ghost commented on #5073
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-04 06:10] hetvart opened #6119 "[Auto test] Can see all transactions in Transaction History (ETH and tokens)"
Coverage for:
https://ethstatus.testrail.net/index.php?/cases/view/5314

<blockquote><img src="https://static.testrail.io/5.5.1.3746/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/5314">Login - TestRail</a></strong></div></blockquote>

[2018-10-04 06:13] hetvart opened #6120 "[Auto test] Onboarding screen is shown when trying to complete txn to dapp without completing onboarding before (new / recovered account)"
Coverage for:
https://ethstatus.testrail.net/index.php?/cases/view/5355

<blockquote><img src="https://static.testrail.io/5.5.1.3746/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/5355">Login - TestRail</a></strong></div></blockquote>

[2018-10-04 07:01] denis-sharypin commented on #5202
@Serhy Yep, we don't need this panel while editing an URL. So this option is preferable
`bottom webview tool panel (Back/Fwd/ModalChat/Refresh buttons) is hidden (current iOS behavior)`

[2018-10-04 07:10] lukaszfryc opened #6121 "Unknown chat name and "Add to contacts" button are showed for a moment when a public chat is opened"
### Description

*Type*: Bug

*Summary*: "Unknown" as chat name and "Add to contacts" button are showed for a moment when a public chat is opened. When data is loaded, the chat name changes and the add to contacts button disappear.

#### Expected behavior
Ideally all UI on the screen should be rendered correctly. But, if it can't be done let's at least not show "Add to contacts" if it's not applic

[2018-10-04 07:10] lukaszfryc commented on #6121
@rasom I think it maybe related to #5606

[2018-10-04 07:12] denis-sharypin commented on #4966
pls don't delete this almighty Status Github Bot

[2018-10-04 07:16] lukaszfryc commented on #6121
Acutally, this issue happens on https://github.com/status-im/status-react/pull/6118 build. It looks fine on latest nightly on my devices.

[2018-10-04 07:16] #6121 closed, assigned to nobody

[2018-10-04 08:12] vkjr commented on #6053
@jakubgs, looking into it!

[2018-10-04 08:13] asemiankevich opened #6122 "Error null is not an object (evaluating 'e.trim')"
### Description

*Type*: Bug

*Summary*: `null is not an object (evaluating 'e.trim')` submitting empty passphrase via `Return`(iOS)/`Done`(Android) keyboard buttons when recovering an account

[code]

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/46460848-e2a8d400-c7c5-11e8-8c65-d0741771dc0e.png)

![image](https://user-images.githubusercontent.com/28752642/4647

[2018-10-04 08:35] lukaszfryc opened #6123 "Support Status Android app on Chromebook"
### Description

*Type*: Feature

*Summary*: Looks like chromebook and pixelbook are incompatible with the Android app according to the playstore. It maybe a quick fix in the Android Manifest to support those devices. See https://developer.android.com/topic/arc/manifest

### Additional Information
* Status version: 0.9.29
* Operating System: Android

<blockquote><img src="https://developer.android

[2018-10-04 08:56] churik opened #6124 "QR code is not shown on Ubuntu"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*:
QR code is not shown if click on "Share my contact code" in Profile.
<img width="546" alt="dfsfds" src="https://user-images.githubusercontent.com/4557972/46464969-4b954980-c7d0-11e8-91ba-eb33af2342fc.png">

Note: got reproducible crash if click on 'Share my contact code' on Linux Ubuntu 16.04.(before on previous n

[2018-10-04 09:14] ghost commented on #4991
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-04 09:27] mandrigin opened #6125 "Show original and parsed payload for chat messages in development mode"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to see the exact payload of rendered chat messages to be able to debug issues like messages coming out of order or wrong text or anything.

### Description
*Type*: Feature

When Development mode is enabled in Settings, show an additional flag called "show debug info in chats".

When this

[2018-10-04 09:31] asemiankevich opened #6126 "No validation is performed when using [done] or [enter] on device keyboard (password or name field)"
### Description

*Type*: Bug

*Summary*: user can set password less than 6 characters if use `Done` or `Enter` buttons on device keyboard.

#### Expected behavior

`Done` or `Enter` buttons on device keyboard are disabled until user enters not less than 6 characters in the password field

#### Actual behavior

1. I can create account with weak password (like `a` or ` ` or empty)
2. I can create ac

[2018-10-04 09:36] adambabik opened #6127 "Bootnodes settings screen is useless"
### User Story

As a developer/user, I'd like to know which bootnodes are currently defined and used by the app and I'd like to specify my own bootnodes.

### Description

*Type*: Feature/Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: The current "Bootnodes set

[2018-10-04 09:50] churik commented on #6126
Presented in PR https://github.com/status-im/status-react/pull/6041

[2018-10-04 10:17] 0x-r4bbit opened #6129 "Can't install latest nightly package"
Hi everyone,

quick heads-up as I ran into this yesterday... I had Status installed on my Android phone (**Google Pixel, Android 9**). I uninstalled it so I could reinstall the latest nightly. After I've downloaded the nightly package, I wasn't able to actually install it.

Normally when tapping an .apk package on Android, the OS will ask you whether it should install the app. In this case however

[2018-10-04 10:24] ghost commented on #4994
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-04 10:34] rasom commented on #6116
The reason is that fix was also added on `react-native-desktop` side and as we pull `master` branch it was upgraded silently.

[2018-10-04 10:48] Serhy commented on #4994
Reopening it because it's still an issue.
@errorists do you think it's relevant: to trim the message content when user sends it?

[2018-10-04 10:53] vkjr commented on #6116
Sorry, my bad :( Didn't expect this fix to break anything, so pushed it without testing with `status-react`.

[2018-10-04 11:51] flexsurfer commented on #6085
@jeluard

there are only two fields when _visualizing_
`"title": string`,
`"body": string`
so all _visual_ information from Dapp should be in these strings

yes, there is a data field for extra data
`data | map (key: string, value: string)`

we could provide some API for Dapps how they can use this field for status

[2018-10-04 12:27] rachelhamlin commented on #5202
Updated issue to say the opposite :)

[2018-10-04 12:27] adambabik opened #6132 "Create a screen with node information"
### User Story

As a developer, I'd like to know more details about Ethereum node running inside the Status app.

### Description

*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: This is especially useful screen for developers and testers to have mor

[2018-10-04 12:32] adambabik opened #6133 "Display my enode address in Status Desktop"
### User Story

As a user, I'd like to share my Status Desktop node with my friends if we can't connect to Status cluster because its IPs are blocked.

### Description

*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: This is a continuous effort to re

[2018-10-04 12:36] churik opened #6134 "Font on Linux is too big for UI elements"
### User Story

As a user, I want to see Status on my Linux the same way I see it on Mac OSx.

### Description

*Type*: Bug

*Summary*: fonts / labels are different on Mac OS x / Linux, so would be nice to have more attractive UI on Linux as well.
Most of the issues are related to different fonts on Mac OSx and Linux OS.

#### 1. Chat

*Mac OSx:*
<img width="514" alt="123mac" src="https://user-ima

[2018-10-04 12:40] goranjovic opened #6135 "Validation message for recovery phrase is missing in Desktop version"
### User Story

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Tooltip for the recovery phrase field is not visible in desktop version of Recover. The same tooltip is visible for the password field

#### Expected behavior
Tooltip is visible

#### Actual behavior
it is not visible

### Reproduction

- Open desktop status and go to Recover
- Enter invalid phras

[2018-10-04 12:47] adambabik opened #6136 "Allow to run Status Desktop as a bootnode"
### User Story

As a user/developer, I'd like to run Status Desktop as a bootnode so that I can share it with my friends who can't access Status cluster,

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections bel

[2018-10-04 13:08] churik commented on #5892
Closed with QT upgrade

[2018-10-04 13:13] churik commented on #5344
some of then missing also on IOS, not sure that we support them.
Closed for now, most of them are currently displayed with QT upgrade

[2018-10-04 13:13] #5344 closed, assigned to nobody

[2018-10-04 13:13] flexsurfer commented on #6085
it looks like to implement this we need to run our own HTTP server with some rest API, because to be able to send PN sender needs to be authenticated in firebase and have a key. And also Dapp should provide user's firebase token to be able to send PN, so this API doesn't look simple

[2018-10-04 13:22] flexsurfer commented on #6085
so it may work next way
1) Dapp asks user permission to be able to send him notification
2) User shares his token
3) Dapp sends a notification using Status notifications API
`https://api.status.im/send-notification(user token, dapp-id, title, message ... etc )`

[2018-10-04 13:23] #6065 closed, assigned to goranjovic

[2018-10-04 13:27] #5840 closed, assigned to vitvly

[2018-10-04 13:49] oskarth commented on #6085
Why would we host our own HTTP API ? Didn't we talk about this at least dev call? https://status.im/whitepaper.pdf decentralized push notification market use case.

cc @PombeirP

<blockquote></blockquote>

[2018-10-04 13:51] oskarth commented on #6085
Yeah sure, just be aware not to leak any info this way. I.e. encrypted message or make sure anonymized in some fashion.

[2018-10-04 14:05] oskarth commented on #5592
See:
- https://github.com/status-im/status-react/issues/6136
- https://github.com/status-im/status-react/issues/6133
- https://github.com/status-im/status-react/issues/6132
- https://github.com/status-im/status-react/issues/6127
- https://github.com/status-im/status-react/issues/6110

[2018-10-04 14:11] Serhy opened #6138 "No 'Seen' message status on sender side after message receiver read it in 1-1 chat"
**Type**: Bug

**Summary**: There is no 'Seen' status next to the message on sender side after message receiver read the message.

### Expected behavior
`Seen` message status displayed on sender side once the actual message is read by the receiver.

### Actual behavior
No `Seen` message status (Always 'Sent') displayed on sender side once the actual message is read by the receiver.

### Reproducti

[2018-10-04 14:14] jeluard commented on #6085
@oskarth Context is specifically around using our current PN architecture

[2018-10-04 14:18] churik commented on #6114
Eventually got the same problem: after reopening application (around 1 hour) some messages are lost.

<img width="583" alt="history" src="https://user-images.githubusercontent.com/4557972/46480037-06d1d880-c7f9-11e8-93a1-933954d590da.png">

Log: https://drive.google.com/file/d/1scrMBbrMdRVfIUabVaDXhNveFkUbAEmr/view?usp=sharing

But after reopening app chat histrory is fetched fully.
@chadyj does i

[2018-10-04 14:28] ghost commented on #5081
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-04 14:34] chadyj opened #6139 "Public channels should be clickable"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to share links to public channels so that others can easily join.

As a user, I want to click on public channel links in chats so that I can easily join.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Often someone will share a link on Status in a chat such as

[2018-10-04 14:40] chadyj commented on #6114
On desktop messages are never re-fetched for me.

[2018-10-04 14:50] chadyj commented on #4275
Would be lovely to consider channel name links too https://github.com/status-im/status-react/issues/6139

[2018-10-04 15:16] lukaszfryc opened #6140 "Closing transaction details should navigate back to 1-1 chat if tx was opened from the chat"
### Description

*Type*: Bug

*Summary*: When a transaction details are opened by clicking on tx message in 1-1 chat, the back button redirects the user to the wallet tab. Instead, the user should be redirected back to the chat.

### Reproduction

- Open 1-1 chat
- Receive a transaction
- Click on the transaction message to see the tx details
- Tap `<` back button on screen (or device Back button

[2018-10-04 15:20] chadyj commented on #6114
Not sure if this is related, but I logged out, created a new account, logged out of that, and logged into my original account. Status seemed to be download messages again and reset all the read counters.   Eg many have 9+ unread messages even though no are new and I saw them before I logged out.

[2018-10-04 18:28] ghost commented on #4929
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-04 20:48] ghost commented on #3409
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-05 04:27] oskarth commented on #6114
Have same issue, seems to apply at least partially to mobile nightlies too.

[2018-10-05 04:39] oskarth commented on #6114
Same if you delete a contact and app quits, it appears to come back. We should make sure we preserve basic durability etc properties for our database, it seems like whatever is done now is rather flaky.

[2018-10-05 06:15] chadyj commented on #6114
From Slack:

[2018-10-05 06:23] oskarth commented on #5204
Same error when trying to add a contact I already added (but shows up as not added).

[2018-10-05 06:52] jeluard opened #6149 "Add support for KudosTokens"
# User Story

As a user, I want to have access to my KudosTokens in my Status wallet.

# Description

Type: Feature

If a user owns KudosTokens, he should be able to see them in his wallet and have access to basic details for each.

# Expected behavior

I get access to KudosTokens , and the next time I open my wallet, I can see a count of my KudosTokens tokens alongside my other collectibles.

Whe

[2018-10-05 07:02] churik commented on #6114
@oskarth
https://github.com/status-im/status-react/issues/6114#issuecomment-427244066 this scenario is not working for me.
Steps:
1) delete 1-1 chat with user from contact list
2) quit app
3) start app
4) check chat list.
Chat is still deleted and doesn't appear.
Contact is still in contact list, and you can start chat again.
AFAIK there is no way to delete contact from contact list.

Something is

[2018-10-05 08:57] churik opened #6152 "Add possibility to scroll chat history with arrow keys"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to scroll chat history with arrow keys

### Description

*Type*: Feature
*Summary*: navigation using arrow keys is working in Telegram, Riot and most desktop chat clients.
Would be nice to have this feature in Status desktop.

#### Expected behavior
can scroll chats using arrow keys

#### Act

[2018-10-05 09:12] churik commented on #5445
Popup to prevent spam:
<img width="590" alt="spam" src="https://user-images.githubusercontent.com/4557972/46526794-f58bd900-c897-11e8-8375-5f3bc0c99c51.png">

[2018-10-05 09:21] Serhy commented on #6140
#5967 related to this issue too

[2018-10-05 09:30] churik opened #6153 "Message remains in text field if press [enter] very fast to send message"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: sometimes if you press [enter] immediately after typing a message, text can remain in text input and cursor position is changed to the beginning. A bit easier to reproduce in Linux, but on Mac OSx it is also possible.

#### Expected behavior
message is sent, the input field is empty.

#### Actual behavior
message

[2018-10-05 09:47] asemiankevich opened #6154 "3 words name is not shown in Profile on Desktop"
### Description

*Type*: Bug

*Summary*: see https://github.com/status-im/status-react/pull/6128 implemented on mobile. Same should be done for desktop but it is not working.

#### Expected behavior

- 3 words name is shown in my profile along with my custom name
- 3 words name is shown in someone's profile along with custom name
- 3 words name is shown in chats along with custom name

### Reprodu

[2018-10-05 09:47] SlizkovaGanna opened #6155 "Save password until login is displayed as if it's switched off on login screen, when it actually is on"
Description

Type: Bug

Summary: 'Save password until login' option is on, but during auto-login is displayed as if it's switched off visually

Expected behavior

During auto-login, "Save password until login" is turned **on**

Actual behavior

During auto-login, "Save password until login" is turned **off**

Reproduction

**Steps to reproduce:**
1. On login screen, switch toggle button 'Save pass

[2018-10-05 09:53] lukaszfryc commented on #6140
Yes it is.

[2018-10-05 09:53] chadyj commented on #5074
The better solution (at least in the short term) is to change the channel names from "status 日本語" to "status-nihongo" or "status-japanese".

[2018-10-05 09:53] #5074 closed, assigned to cammellos

[2018-10-05 09:59] asemiankevich opened #6156 "Share link button in user's profile does not contain profile universal link"
### Description

*Type*: Bug

*Summary*: Comes from https://github.com/status-im/status-react/pull/5862. `Share link` in profile contains only public address, should be a universal link instead.

#### Expected behavior

- `Share link` button in my profile produces universal link to my profile that i could share.
- `Share link` button in someone's profile produces universal link to my profile that

[2018-10-05 10:17] oskarth commented on #6114
Sorry, I meant 'delete chat'. Chat reappears.

[2018-10-05 10:34] lukaszfryc opened #6159 "0 amount for tokens in wallet when connected to Ropsten LES"
### Description
_Type_: Bug

_Summary_: When connected to Ropsten (LES), Wallet shows 0 for all tokens. It's probably because the local node is not fully synced.

Logs:

* [geth.log](https://gist.github.com/dca5c5c13330a34c03bfb9656c9a942d)
* [logcat with node settings](https://gist.github.com/4b15ebe2784d607c612b0b9d5af155a9)

### Reproduction

* Switch to Ropsten (LES) in Networks
* Log in again

[2018-10-05 10:35] lukaszfryc commented on #6159
Btw, tx history shows transactions correctly.

[2018-10-05 10:35] lukaszfryc commented on #6078
Duplicate of https://github.com/status-im/status-react/issues/6159

[2018-10-05 10:35] #6078 closed, assigned to nobody

[2018-10-05 10:49] lukaszfryc commented on #5204
Jarrad just reported the same issue while adding a contact. His [logcat](https://gist.github.com/dc87e0a45ee19a1eb8b2dc800f7df189).

[2018-10-05 11:15] Serhy opened #6162 "There is no tooltips above 'recovery phrase' field for invalid passphrase value when recovering an account"
***Type***: Bug

***Summary***: We lost the tooltip above passphrase field, when recovering an account, which notifies user about possible passphrase value validation issues. When user put the focus out of passphrase field then:
- `Required field` tooltip shown if passphrase field is empty or has only whitespace chars
- `Recovery phrase is invalid` tooltip shown if passphrase field has wrong numbe

[2018-10-05 11:20] Serhy commented on #6162
#6122 is related to this issue (and may have the same root cause)

[2018-10-05 11:27] asemiankevich commented on #6159
what about ETH ?
@mandrigin can we just bring the syncing indicator back? cause i think it is not an issue - node was not  synced

[2018-10-05 11:30] lukaszfryc commented on #5204
Jarrad thoughts about it:

[2018-10-05 11:30] lukaszfryc commented on #5204
@cammellos maybe you could check it?

[2018-10-05 11:45] cammellos commented on #5204
on holiday until Monday, i can do that then if still an issue, thanks

On Fri, Oct 5, 2018, 1:31 PM Lukasz Fryc <notifications@github.com> wrote:

[2018-10-05 11:47] lukaszfryc commented on #6159
@asemiankevich yes, we will try to bring the sync indicator back:

<img src="https://user-images.githubusercontent.com/7532782/46533487-0d1d8e80-c8a5-11e8-8bc1-9f6c151ad214.png" width="200">

But, for now it will be simple solution mainly for testing/debugging

[2018-10-05 12:12] chadyj commented on #5774
Dupe of https://github.com/status-im/status-react/issues/6139

Ahh I searched for this issue but didn't find it

[2018-10-05 12:12] #5774 closed, assigned to nobody

[2018-10-05 12:19] lukaszfryc opened #6163 "Attach geth.log to Instabug reports"
### Description

*Type*: Feature

*Summary*: Status users can send us a bug report using Instabug integration. By default, Instabug attaches console logs to each report. But, we often miss "geth.log" (logs from status-go layer) that are very helpful for debugging issues. To solve that, we could use `Instabug.addFileAttachment(fileUri, "file_name.txt");` option from [Instabug library](https://docs.

[2018-10-05 12:42] chadyj commented on #6108
I'm having the same issue as Oskar.  Click a mail server. Get a modal and confirmation. I confirm then nothing happens.

Here is a gif:

![mailserver 2018-10-05 14_41_48](https://user-images.githubusercontent.com/116099/46535820-d0ee2c00-c8ac-11e8-99af-bdea015c0011.gif)

[2018-10-05 13:44] saskakol opened #6165 "Don't display login screen when logging in automatically"
### User Story
As a user, I want to have the login screen removed when logging in automatically so that the login flow is clearer and less confusing.

### Description
_Type_: Feature

_Summary_: When logging in to Status with the "remember password" option checked, the app briefly loads the login screen before moving on to the chat screen. Even at the moment, it doesn't stay for long, but still I

[2018-10-05 13:45] SlizkovaGanna commented on #5551
Re-tested with a nightly build (5 Oct 2018) on iOS 11.4.1 and Android 7.0 - issue no longer reproduces

[2018-10-05 13:50] #5551 closed, assigned to lukaszfryc

[2018-10-05 13:53] SlizkovaGanna commented on #5550
The issue is still valid.
Re-tested with a nightly build (5 Oct 2018) on iOS 11.4.1 and Android 7.0

[2018-10-05 14:01] SlizkovaGanna commented on #5520
The issue does not reproduce, but it takes about a minute to receive the messages for iOS.
User A (receiving messages) is on mailserver mail-02.do-ams3.eth.beta
User B (sending messages) is on mailserver mail-02.gc-us-central1-a.eth.beta
Re-tested with a nightly build (5 Oct 2018) on iOS 11.4.1 and Android 7.0

[2018-10-05 14:03] churik commented on #5656
@rasom
Issue is still reproducible after first logout and it disappears when you select chat again (nightly 05/10/2018).
So, updated steps:
1) Log in
2) Select any chat (i.e. `#a`)
3) Type message
4) Switch to other chat (i.e. `#b`)

Input area in `#b`contains text from `#a`
If you switch back to `#a`, issue will disappear.
Video: http://take.ms/6lXSv

[2018-10-05 15:26] Serhy opened #6166 "Contact stuck on login screen navigating from universal link with contact code to closed app"
***Type***: Bug

***Summary***: App is closed. When contact navigates from universal link the app opens and contacts offered to login. However, once "Sign In" button tapped contact stucks on login screen.
There is 'Other accounts' option is available for tap and once tap it - you return back to 'Sign in to Status' page with no account displayed.

If autologin enabled for the account there is an in

[2018-10-05 15:59] rasom commented on #5656
yep, it was reintroduced actually

[2018-10-05 19:22] rachelhamlin opened #6169 "Display .eth or other domain rather than IPFS redirect"
### User Story

As a user, I want to receive permission requests from a specific URL—not `ipfs.infura`—so that I am aware of who is requesting my data.

### Description

*Type*: Feature

*Summary*: Rather than displaying a hash for IPFS-hosted DApps in the browser, keep the human readable format of the redirected domain.

#### Expected behavior
Instead of `https://ipfs.infura.io/ipfs/QmYhTGg88WvJh

[2018-10-06 07:54] jeluard opened #6172 "Allow contract address to be specified via ENS"
### User Story

As a developer, I want to provide a token contract address as ENS name.

[2018-10-06 07:55] jeluard commented on #6169
The eventual website path should be displayed too. We might want to display associate hash after a long press on the bar.

@denis-sharypin Could you provide some design guidance?

[2018-10-06 09:47] flexsurfer commented on #6083
can't repro on ios simulator, but can repro on my Android device

[2018-10-06 10:36] chrishobcroft commented on #6083
This issue is only on Android.

[2018-10-06 10:38] chrishobcroft commented on #6083
It works on Android for other browsers, specifically:

- Trust Wallet

![screenshot_20181006-010539](https://user-images.githubusercontent.com/2212651/46570448-90ea8000-c964-11e8-9d38-a858e7db0192.png)

- Firefox + MetaMask

![screenshot_20181006-010737](https://user-images.githubusercontent.com/2212651/46570449-90ea8000-c964-11e8-81ed-47f982d6a1d2.png)

- Cipher Browser

![screenshot_20181005-213

[2018-10-06 16:24] yenda commented on #5311
@alwx you can check for right click in touchable highlight with

[code]

[2018-10-06 19:47] flexsurfer commented on #6083
thanks @chrishobcroft I'm on it

[2018-10-07 06:52] maxhora opened #6175 "Get rid of ubuntu_server"
Embed JavaScript engine inside react-native-desktop and eliminate ubuntu_server.

It makes a lot sense to try to figure out how is it possible to use WebEngine modile from Qt. If it doesn't work, then investigate embedding of Node.JS, and, finally, we can stop with integration of JavaScriptCore engine (mobile react-native uses it for iOS and Android, so, why not to use it for Desktop as well, + it

[2018-10-07 10:47] ghost commented on #5099
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-07 12:07] ghost commented on #4912
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-07 12:07] #4912 closed, assigned to dmitryn, jpbowen, annadanchenko, antdanchenko

[2018-10-07 12:39] ghost commented on #5093
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-07 13:28] chadyj commented on #6114
@churik This is happening to me pretty reliably now on both **desktop** and **mobile**.
Can you try reproducing by joining several busy public chats and creating several 1-1 chats and then send lots of messages.

On desktop I have 60 chats open on desktop and about 50 open on mobile.

It seems that saving becomes a problem when there are many many public channels and 1-1 messages. Perhaps the app

[2018-10-07 16:29] ghost commented on #5106
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-07 16:53] sraosha9 commented on #4699
bitcoinben.io@gmail.com pretending to be the youtuber Bitcoin Ben contacted me to lure me on a website https://www.coinprofitex.ml to send my cryptos there. I sent a test amount since these emails were using very similar language as Ben and couldn't withdraw the test amount anymore. The whole email conversation spanning several days confirmed that this definitely is a scam operation.

<blockquote>

[2018-10-07 17:39] ghost commented on #5025
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-07 17:39] #5025 closed, assigned to nobody

[2018-10-07 18:49] ghost commented on #5026
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-07 18:49] #5026 closed, assigned to nobody

[2018-10-08 01:51] rachelhamlin opened #6179 "explorer.livepeer.org doesn't load properly on Android"
### User Story

As a user, I want to use explorer.livepeer.org with my Status wallet.

### Description

*Type*: Bug

*Summary*: `explorer.livepeer.org` does not recognize the Status browser on Android.

#### Expected behavior
`explorer.livepeer.org` loads my account with ETH address on both operating systems.

#### Actual behavior
![image](https://user-images.githubusercontent.com/15470435/4658971

[2018-10-08 06:21] chadyj opened #6180 "Show your own messages in 1-1 chats on other devices"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see my own 1-1 messages on multiple devices so that I can view 2-way message history.

### Description

In a 1-1 chat Status doesn't display the senders own messages when switching to a second device.

This is annoying when you are on deviceA talking to Bob, then switch to deviceB to conti

[2018-10-08 06:24] errorists commented on #4994
@Serhy Sure, I think so. Any empty spaces, line breaks at the end of messages should be removed if they're not followed by any characters.

[2018-10-08 07:10] denis-sharypin commented on #6169
@jeluard , @rachelhamlin  I had this in mind. wdyt?
<img width="841" alt="screenshot 2018-10-08 09 09 45" src="https://user-images.githubusercontent.com/6559881/46595691-ed22e080-cad9-11e8-9287-e7d948e49518.png">

[2018-10-08 07:25] jeluard commented on #6169
@denis-sharypin Looks great! Can you make sure only the website path is visible? i.e. no `https://ipfs.io/ipfs/Qmxxxx/`but only what comes next? So  `/`, `/index.html`, `/path/document.html` ..

[2018-10-08 08:43] cammellos commented on #6114
@oskarth chat re-appearing upon receiving a new message is the expected behavior (it's a bit counter intuitive but we had discussions about this in the past, basically we need a `block` action), can you remember if there was a new message received in that chat (expected behavior)? or it re-appeared with some previous messages/no messages (bug)?

[2018-10-08 08:59] ghost commented on #3200
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-08 08:59] #3200 closed, assigned to nobody

[2018-10-08 09:19] mandrigin opened #6182 "Show a visual effects if "kudos" is in the newly rendered message."
### User Story

As a user, I want some keywords to produce nice visual effects on the message. Similar to what [messages app for iOS](https://www.imore.com/how-to-use-bubble-and-screen-effects-imessage-iphone-ipad) has, but triggered with a certain phrase.

Phrases might be "kudos", "good job", "congratulations", etc.

### Description

*Type*: Feature

[2018-10-08 09:32] mandrigin opened #6183 "Stop/pause Status node when the app goes to background on Android"
NB! this issue needs to be researched and verified on very specific Android phones

### User Story

As a user, I don't want to waste my precious batttery life for network
connections with Whisper peers if the node will be restarted anyway.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Currently, when user minimizes the app on Android, Status Node doesn’t stop (it
r

[2018-10-08 09:47] oskarth commented on #6114
@cammellos Fairly certain it was with old previous messages. Though in any case that's less of an issue than messages/contacts disappearing, which seems to indicate something is seriously wrong with DB persistence logic.

[2018-10-08 10:03] lukaszfryc opened #6184 "Ropsten LES is not available in nightly builds"
### Description

*Type*: Bug

*Summary*: "Ropsten LES" network is present in PR builds not in nightlies. Should be available in nightlies under Development Mode -> Network Settings.

### Reproduction

- Open Profile, Advanced Settings
- Open Network settings and look for Ropsten LES network

### Additional Information
* Status version: 8 October nightly build
* Operating System: Android, iOS

[2018-10-08 11:17] SlizkovaGanna opened #6186 "When "Save password until login" is turned off, upon click on Push Notification, user is redirected to Login screen with 'Signing you in' stuck in an infinite loop"
Description

Type: Bug

Summary: When "Save password until login" is turned off, upon click on Push Notification, user is redirected to Login screen with 'Signing you in' stuck in an infinite loop

**Expected behavior**

There are no attempt t login a user, you end up on a Login screen with nothing happening.

**Actual behavior**

User is redirected to Login screen with 'Signing you in' stuck in a

[2018-10-08 11:48] bitsikka opened #6187 "chat input caret jump to beginning of line on line break after emoji at EOL"
### User Story

As a user I sometimes write longish messages with line/paragraph breaks. When I end a line with an emoji and hit (Shift Enter [in mac]) to start a new line, caret jumps to beginning of current line instead of new line.

### Description

*Type*: Bug

#### Expected behavior

Caret shouldn't jump to beginning of current line where Shift Enter was pressed. It should be at the beginning

[2018-10-08 13:05] #4779 closed, assigned to rasom

[2018-10-08 13:08] #5656 closed, assigned to rasom

[2018-10-08 13:08] #6074 closed, assigned to rasom

[2018-10-08 13:08] #6153 closed, assigned to nobody

[2018-10-08 13:10] #6122 closed, assigned to rasom

[2018-10-08 13:13] hetvart opened #6189 "Fix for privacy policy test"
the test fails, see the PR run results https://github.com/status-im/status-react/pull/6145

[2018-10-08 13:24] asemiankevich opened #6191 "Show more link is not shown in public chats when having long messages (desktop)"
### Description

*Type*: Bug

*Summary*: `Show more` functionality is missing on Status Desktop, that's why long messages are not collapsed and are being shown as is which is not very comfortable. Also we want to align a bit functionality across the platforms. This functionality is present on mobile, so would be nice to have it on desktop as well.

#### Expected behavior

- long messages are colla

[2018-10-08 13:56] antdanchenko commented on #5360
sure, it was already fixed on our side in https://github.com/status-im/status-react/pull/5871
closing this one

[2018-10-08 13:56] #5360 closed, assigned to antdanchenko

[2018-10-08 14:16] #6162 closed, assigned to rasom

[2018-10-08 15:02] ghost commented on #4951
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-08 15:35] ghost commented on #5036
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-08 15:35] #5036 closed, assigned to nobody

[2018-10-08 22:17] janherich commented on #6114
@chadyj So far I have been unable to replicate the issue, but I created PR where suspected area of code (db handling) is done in synchronous way, which should help is investigate the issue, because:
1. Normally, the db writing is done in async manner, so db writes don't slow down the rest of the applications (it remains responsive). With db writes done synchronously, instead of dropping them, the

[2018-10-09 06:23] cammellos opened #6196 "Some messages are pinned in the chat"
### User Story

As a user
I don't want to see "pinned" messages
as they prevent me to communicate effectively

### Description

A malicious user can send messages with an high `clock-value`, effectively pinning messages in the chat.

#### Expected behavior

The message is not pinned

#### Actual behavior
The message is pinned

### Reproduction
A maliciously crafted message needs to be sent on the

[2018-10-09 07:46] jeluard opened #6198 "Add QR code scanner support in extensions panel"
### User Story

As a user, I want an easy way to scan extensions QR code in the `extensions` panel

### Description

*Type*: Feature

[2018-10-09 08:41] churik commented on #6114
Ok, there are my observations according to https://github.com/status-im/status-react/issues/6114#issuecomment-427653633.
* Preconditions:
I have the same account, used on nightly 08/10/2018 (used on desktop and mobile)
Number of public chats on `desktop`: 24, 1-1 chats: 14, deleted 1-1 chats: 2, deleted public chats: 1; unread messages on: 4 chats;
Number of public chats on `android`: 16, 1-1 chat

[2018-10-09 09:42] jeluard opened #6199 "Add support for universal links pointing to extensions"
### User Story

As a user, I want universal links pointing to extensions to resolve nicely in a browser.
Just replicate the behavior of https://get.status.im/user/0x046fa4851f3cccd01e3b8d96c130c00bf812502354939eacf06a68fa519ebcbd1feb08bebe7403856c0d9686210b9b2e324aa0179747bbba56d53f304a002f31c3

### Description

*Type*: Feature

Make sure https://get.status.im/extension/ipfs@QmVkhWzxTM9kmZANcUnzrf

[2018-10-09 09:48] chadyj opened #6200 "Disable Realm Mixpanel use on build machines"
*EDIT*
How to disable Realm Analytics: https://github.com/realm/realm-js/issues/769

---

In https://github.com/status-im/status-react/pull/5479 we disabled Realm's Mixpanel analytics, but we got a [report](https://github.com/status-im/status-react/issues/5465) that this is still happening.

Roman suggested we need to configure some env var on the build machine.

[2018-10-09 09:50] lukaszfryc opened #6201 "Blank screen when creating new group chat but not having any contacts"
### Description

*Type*: Bug

*Summary*: When here are no contacts but user wants to start a new group chat, he ends up on a blank screen.

#### Expected behavior
New group chat screen is shown with empty state saying that there are no contacts to start a group chat with.

#### Actual behavior
Blank screen is shown:

<img src="https://user-images.githubusercontent.com/7532782/46605038-6f220200-caf

[2018-10-09 09:57] lukaszfryc opened #6203 "Profile info screen with default name is shown when user clicks on herself on group chat info"
### Description

*Type*: Bug

*Summary*: When current user's avatar is clicked on the group chat info screen, the profile info screen is shown with default username and "Add to contacts" option. Instead, the current user's avatar should not be clickable.

#### Expected behavior
Do not allow to click on current user's avatar in group info chat screen.

### Reproduction

- Create a group chat
- Open

[2018-10-09 10:00] lukaszfryc opened #6204 "No checkbox when selecting group chat members"
### Description

*Type*: Bug

*Summary*: There are no checkboxes while creating group chat. I don't know if a contact was selected if I clicked on it:

<img src="https://user-images.githubusercontent.com/7532782/46605147-d2ac2f80-caf8-11e8-83c3-423661a050b6.png" width="500">

Mobile app has the check mark.

### Reproduction

Create group chat on the desktop app

### Additional Information
* Status

[2018-10-09 10:01] mandrigin opened #6205 "Create a bot that watches and archives specified public channels in Status and makes it searchable"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
To be able to see the history of the channels (anonymized though), we need a bot that will listen in to a set of public channels and writes their content in a DB. We also need a full-text search in the archive in the same bot.

Imagine http://offsite.chat/html, but on steroids.

https://github.com/status-im/sta

[2018-10-09 10:02] mratsim commented on #6200
Screenshots:

![2018-10-08_16-47-15](https://user-images.githubusercontent.com/22738317/46662247-3303a580-cbbb-11e8-954d-ad12b87e8809.png)
![2018-10-09_11-43-45](https://user-images.githubusercontent.com/22738317/46662253-3565ff80-cbbb-11e8-8fb6-db8843a9458b.png)

[2018-10-09 10:06] lukaszfryc opened #6206 "App navigates back to chat screen when group chat member is added or removed"
### Description

*Type*: Bug

*Summary*: When group chat member is added or removed, the app should navigate back to **the group info** screen. Instead, it navigates back to the chat which is not expected (from pov of views hierarchy).

### Reproduction

- Create group chat
- Open the group info and add a member

### Additional Information
* Status version: introduced by #6142
* Operating System:

[2018-10-09 10:07] churik opened #6207 "Autoscrolling doesn't redirect to latest message after sending long message in the middle of the chat and message in the end of chat history"
### Description

*Type*: Bug

*Summary*: autoscrolling to latest sent message stops working after you sent big message when you are somewhere in the middle of the chat, and then sent a small message at the end of history.
Only relogin helps to make autoscrolling works as before

#### Expected behavior
autoscrolling works as before

#### Actual behavior
1) when you send message in current chat, app

[2018-10-09 10:07] chadyj commented on #6205
Nice idea. Would love to see a great local full text search with something like this https://github.com/bvaughn/js-search

<blockquote><img src="https://avatars3.githubusercontent.com/u/29597?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/bvaughn/js-search">bvaughn/js-search</a></strong

[2018-10-09 10:18] chadyj commented on #6205
Some other references of HTML export versions from Slack:

- [Clojure](https://github.com/clojureverse/clojurians-log-app) HTML archive - [Example](https://clojurians-log.clojureverse.org/arachne/2018-02-04)
- [PHP exporter](https://github.com/hfaran/slack-export-viewer)

[2018-10-09 10:19] lukaszfryc opened #6208 "Add option to leave group chat"
### Description

*Type*: Feature

*Summary*:

Both group chat admin and members should be able to leave the chat to not receive messages anymore. There should be "Leave chat" option in chat menu as well as the group chat info screen. When a member leaves the chat, the admin can add him/her back.

#### Expected behavior
- When chat is removed, it does not mean that the member left it. The chat shou

[2018-10-09 10:20] lukaszfryc commented on #6208
@chad @cammellos should admin be able to leave the group chat? I think it should, otherwise he will always receive messages from the group chat he is not interested in anymore.

[2018-10-09 10:22] cammellos commented on #6208
@lukaszfryc I believe they should, but at the same time we don't want to leave a chat orphaned (no admin), so I would say to iterate incrementally:
1) Allow admin to make other members admin
2) Allow admin to leave chat if there is at least another admin

[2018-10-09 10:31] churik commented on #5960
Same with chat-list - if you scroll smoothly in chat list (should have 10+ chats to see this) to see all chats, autoscrolling jumps to the previous chat or just a bit up on the edges of chat names area.
<img width="568" alt="scroll_1" src="https://user-images.githubusercontent.com/4557972/46663773-a6abaf80-cbc7-11e8-8e1d-4314867af2de.png">

Video: http://take.ms/zXe7P

<blockquote><img src="https:

[2018-10-09 10:38] lukaszfryc commented on #6208
Sounds good @cammellos!

Maybe @errorists could help us with design here. Apart from allowing for multiple admins in group chats, I think we also need designs for cases like: user was removed from a group chat and will not receive any new message, new user was just added to a group chat. @errorists should I create issues for it in https://github.com/status-im/design?

<blockquote><img src="https:/

[2018-10-09 11:29] Serhy opened #6210 "'Unknown' username on user Profile for contact who received message with no contact-request"
***Type***: Bug

*Summary*: When contact receives a message with no contact request we still offer 'Add to contacts' option. However, on user Profile screen such contact username displayed as `Unknown`.
In the case I tap 'Add to contacts' and 'Send message' from this profile, - the 1-1 chat with `Unknown` user created.
Please see steps to reproduce to see when it's possible for contact to receive

[2018-10-09 11:31] #5581 closed, assigned to vitvly

[2018-10-09 11:48] chadyj commented on #6108
This is now working for me.
@oskarth can you please re-test on latest nightly?

[2018-10-09 12:31] vitvly opened #6213 "Run several Status Desktop builds simultaneously"
### User Story

It would be nice to be able to run several Jenkins builds simultaneously on the same machine. For instance, this would help QA team a lot.

### Description
A possible scenario is simultaneous usage/testing of stable, nightly and PR builds.

Note that this is different from https://github.com/status-im/status-react/issues/5581, as it implied using dev builds together with Jenkins bu

[2018-10-09 12:34] #6196 closed, assigned to cammellos

[2018-10-09 12:40] chadyj commented on #6213
I'd be happy just for be running one nightly/stable version, and 1 build downloaded from PR's for testing without the risk of messing up my main installation.

[2018-10-09 12:51] churik opened #6214 "Name of previous user is shown in chat replies in message input area if you replace message for reply"
### Description

*Type*: Bug

*Summary*: when you are going to replace message for replying (from user who is added to your contact list) by the message from other user (who is not added to your contacts),  name + picture of the previous user is shown instead of new name.
On desktop issue is more visible because you can click on message to reply.

#### Expected behavior
name is replaced

#### Actu

[2018-10-09 12:53] #5971 closed, assigned to flexsurfer

[2018-10-09 12:55] chadyj opened #6215 "Desktop scrollbar support"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see a scrollbar in chats so that I can visually see my scroll position in a long chat.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Desktop chat's are missing the standard scrollbar's shown on the right side of the window. These help UX by allow users to

[2018-10-09 13:14] churik opened #6216 "Apply design to chat replies"
### Description

*Type*: Bug

*Summary*: several details are missed in current chat replies implementation (https://github.com/status-im/status-react/pull/6117)

Initial design: zpl.io/a3l8dgY (Zeplin)

Screenshot:
![sample](https://user-images.githubusercontent.com/37297779/45289609-e8283c80-b4ed-11e8-8f7a-bfebf4075be3.png)

#### Expected behavior
[comment]: # (Describe what you expected to happe

[2018-10-09 13:16] churik commented on #6215
It is duplicate of https://github.com/status-im/status-react/issues/5447, no?

[2018-10-09 13:17] chadyj commented on #6215
Dupe!

[2018-10-09 13:17] #6215 closed, assigned to nobody

[2018-10-09 13:25] ghost commented on #2816
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-09 13:25] #2816 closed, assigned to antdanchenko

[2018-10-09 15:33] SlizkovaGanna opened #6222 "Everything below the first line of text in a message input box is gone after switching to a different chat"
Description

Type: Bug

Summary: When a user inputs a big amount of text, that consists of more than one line, switches to a different chat, and comes back - all besides that firs line of text is not displayed until you click on the area where it's supposed to be.

Expected behavior

There should be no issues with how text is displayed

Actual behavior

All text besides the firs line of text, is n

[2018-10-09 16:59] Serhy commented on #5204
Got the steps to reproduce. Below they are described in order when transport.topic appears on Desktop app, but it reproduced when all of three Contacts are using mobile devices as well.

1) Open Status on Desktop app and create new account (Contact1)
2) Open Status on Device 2 and create new account (Contact2)
3) Remember recovery phrase of the Contact1
4) Log out of Contact1 on Desktop app
5) Rec

[2018-10-09 17:31] chadyj opened #6225 "Add custom tokens to wallet"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to add custom tokens that are not available in Status so that I can see my full token portfolio.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
Status has a fixed list of tokens. This is a problem if a user possesses a token that isn't in the list as it can cause confusion bec

[2018-10-09 17:35] chadyj commented on #6225
cc @corpetty for security related input

[2018-10-09 18:14] Serhy commented on #6114
We figured out that one of the major reason why chats and/or messages disappear (or re-appear like in https://github.com/status-im/status-react/issues/6114#issuecomment-427315414) is that after `transport.topic` error appears, which described in https://github.com/status-im/status-react/issues/5204, - app “stops” to keep further history. And once you re-login to account the history may look vanish

[2018-10-09 20:39] JasoonS opened #6227 "Messages are displaying out of order"
### User Story

As a user, I want to view the group chat messages in the correct order.

### Description

Messages show in the incorrect order - see:
![image](https://user-images.githubusercontent.com/6032276/46697052-67f41480-cc1c-11e8-84a8-d7ee77588ffd.png)

*Type*: Bug

#### Expected behavior
Messages should show in chronological order

#### Actual behavior
Order of messages changed.

### Repro

[2018-10-09 22:06] iurimatias opened #6228 "API: requesting to connect to a node that is not available crashes the application"
### User Story

As a Developer I want to specify automatically which network status should connect to so that I can easily develop dapps.

### Description

*Type*: Bug

Attempting to connect to an invalid address or a valid address that the rpc node is not available. (or wrong port etc.. or blocked by cors) crashes.

#### Expected behavior
Should return an error in the json response.

#### Actual

[2018-10-10 03:08] rachelhamlin opened #6230 "Per day pagination is off"
### User Story

As a user, I want Status time/dates and pagination to match my current time zone, so that I'm not confused about when messages are sent and received.

### Description

*Type*: Bug

*Summary*: @yenda sent me a message at 7:47 PM Eastern Time. I first saw it at 11 PM EDT, but Status had placed it under `Yesterday`.

#### Expected behavior
Per day pagination is accurate to my time zon

[2018-10-10 06:35] cammellos commented on #6114
I think I know what's going on, looking into this (basically one of the devices has not received the initial `contactrequest` but has received potentially a `contactupdate`), trying to replicate

[2018-10-10 06:39] asemiankevich opened #6232 "Link is not visible when sending it as my own message"
### Description

*Type*: Bug

*Summary*: Root cause is here https://github.com/status-im/status-react/pull/6160. Link color is not visible in message bubble when sending it as my own message

#### Expected behavior

![image](https://user-images.githubusercontent.com/28752642/46717338-32791680-cc70-11e8-8af6-919d77254a69.png)

#### Actual behavior
![image](https://user-images.githubusercontent.com/

[2018-10-10 06:49] churik commented on #6114
@cammellos in case it can help: messages are vanished after https://github.com/status-im/status-react/issues/6210 as well.
So when I faced this after https://github.com/status-im/status-react/issues/6210 and keep using application, after relogin new messages are gone.

[2018-10-10 06:51] cammellos commented on #6114
@churik thanks, I think there are 2 issues, one is the error we see one that is more problematic is that if a write to the database fails, all consequent writes seems to be failing, I'll investigate.

[2018-10-10 07:19] cammellos commented on #5204
Currently I have the feelings that this errors might just be red herrings.
If you see the logs, `update-transactions-success` is dispatched every `200 ms`, both for @churik and @Serhy . This might effectively prevent proper functioning of the app, so it is another possibility to explore.

[2018-10-10 07:23] churik opened #6234 "Unknown is shown for messages in replies that cannot be fetched (sent more 24h ago)"
### Description

*Type*: Bug

*Summary*: "Unknown"  for initial messages in chat replies can be shown in two cases:
- when you log in \ log out  (because DB writing is done in async manner as @janherich said); after a while, Unknown is replaced by initial message
- when you join public chat and it contains messages from 24 h with replies to messages that are older than 24 h.

#### Expected behavio

[2018-10-10 07:27] janherich commented on #6234
Already fixed in #6226

[2018-10-10 08:13] churik commented on #6230
@rachelhamlin
Is it not the same as https://github.com/status-im/status-react/issues/5281?

[2018-10-10 08:14] cammellos commented on #5204
ah ok, figured out, very simply we just kill the worker on any exception, will push a fix for that.

[2018-10-10 08:33] oskarth commented on #6114
Awesome investigation and repro @serhy

[2018-10-10 08:58] Graeme-Code commented on #5749
Noticed this issue on ios 2.2.29. Should this be moved into shortlist on projects board?

[2018-10-10 09:07] ghost commented on #4600
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-10 09:07] ghost commented on #4954
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-10 09:07] ghost commented on #4780
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-10 09:07] ghost commented on #4877
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-10 09:07] #4954 closed, assigned to nobody

[2018-10-10 09:07] #4780 closed, assigned to cammellos

[2018-10-10 09:07] #4877 closed, assigned to nobody

[2018-10-10 09:08] mandrigin opened #6238 "Show invisible messages in debug mode"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to see the messages that aren't rendered in the chatroom (sharing contact info, commands, etc) to help debugging issues.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Have a flag in "development mode" that turns on seeing the messages that aren't usually

[2018-10-10 09:59] asemiankevich commented on #6072
@lukaszfryc @Graeme-Code it is working now in nightly. However release is still broken. Do we want to release it? @annadanchenko @mandrigin ?

[2018-10-10 10:03] lukaszfryc commented on #6072
@asemiankevich I'd say let's include it in the release before Prauge event. It is planned on Oct 22th.

[2018-10-10 10:12] #6116 closed, assigned to rasom

[2018-10-10 10:23] #6154 closed, assigned to nobody

[2018-10-10 10:27] goranjovic opened #6239 "Allow native currencies to be displayed differently on different network"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be able to see the actual native currency name when I use a side chain.
As a user I may want to have a clear distinction between mainnet ether and testnet one.

### Description

*Type*: Feature

*Summary*: The native currency on Ethereum netwoirks in called Ether and displayed with ETH symb

[2018-10-10 11:07] SlizkovaGanna opened #6240 "Impossible to partially select a part of the text message in a chat"
Description

Type: Bug

Summary: when you are trying to copy part of the text of a message in a chat, the it is impossible. Also, there is no indication that a part of message is being copied (text selection is not displayed), so a process in general is confusing

**Expected behavior**

It should be possible to select a part of the tex, with a visible text selection displayed

**Actual behavior**

[2018-10-10 11:40] maxhora opened #6241 "Use react-native-desktop optimization for scroll-view with list of chats"

[2018-10-10 12:12] #6232 closed, assigned to flexsurfer

[2018-10-10 12:32] lukaszfryc opened #6244 "Link is not visible in an outgoing message"
### Description

*Type*: Bug

*Summary*: Colours update (https://github.com/status-im/status-react/pull/6160) changed link colour so that it's not visible anymore:

<img src="https://user-images.githubusercontent.com/7532782/46736216-c232bb00-cc98-11e8-9072-9bb4c991d301.png" width="200">

#### Expected behavior
For outgoing message, the link should have white color.

#### Actual behavior
Link is n

[2018-10-10 12:35] lukaszfryc commented on #6244
Fixed in https://github.com/status-im/status-react/pull/6235

[2018-10-10 12:35] #6244 closed, assigned to nobody

[2018-10-10 12:46] rachelhamlin commented on #6230
@churik looks like it :) closing, thanks.

[2018-10-10 12:46] #6230 closed, assigned to nobody

[2018-10-10 13:27] asemiankevich opened #6246 "JSON value '<null>' of type NSNull cannot be converted to NSString when open a dapp (emulator)"
### Description

*Type*: Bug

*Summary*:

[code]
when opening dapp  https://cloudflare-ipfs.com/ipfs/QmSJXVfcxU1sTpTsSTidUaFgFfu9DzusaSJSBwE6BzFcxr/ in emulator. Happens with any dapp

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/46739418-2d848900-cca9-11e8-9821-b1ee7ee121c9.png)

### Reproduction

- build the latest Status develop
- Open dapp

<blockquote><div>

[2018-10-10 14:40] jeluard opened #6249 "Add a refresh command to the HTTP API"
### User Story

As a developer, I want to have an API to refresh an already opened DApp.

### Description

*Type*: Feature

This feature would be used by embark for an improved dev workflow.

[2018-10-10 15:07] ghost commented on #2541
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-10 15:07] #2541 closed, assigned to alwx

[2018-10-10 18:13] andytudhope opened #6250 "Add Custom RPC Providers for POA and DAIChain and change default currencies"
### User Story

The developers from POA want us to add some custom RPC endpoints to our `Network settings` screen, so that people at #CryptoLife can easily connect to their chains from Status.

### Description

*Type*: Feature

*Summary*: POA has already tested the endpoints they provided us with, and says most things work as they should, they just need us to add those RPC endpoints to the above s

[2018-10-10 18:25] jakubgs opened #6251 "If a contact code is used in channel field then it cannot be used again"
I made a mistake and pasted the contact code for a person into the chat name field and opened that chat. I then deleted that chat and tried using the same code in the correct contact code field, but it just opens the chat with the name of that contact code.

[2018-10-10 18:34] jakubgs opened #6252 "Add quick search function for selecting channels/chats"
Slack has a very easy way of opening channels/chats. You essentially just press `ctrl + k` and then type the whole/partial name of a contact or a channel and it takes you there.

As someone that prefers doing most things with keyboard shortcuts and avoids the mouse I'd love to have something similar in the desktop app.

[2018-10-11 05:54] ghost commented on #5073
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-11 05:54] #5073 closed, assigned to nobody

[2018-10-11 06:19] chadyj commented on #5845
@corpetty @siphiuel @vkjr @MaxRis @churik The first desktop release is imminent.

@corpetty Can you please help us get this release out and ensure security and privacy are safeguarded.

[2018-10-11 06:53] #5979 closed, assigned to alwx

[2018-10-11 07:29] hetvart opened #6253 "Check switching fleet/log level options"
In the scope of the test the following test cases will be covered:

https://ethstatus.testrail.net/index.php?/cases/view/5370
https://ethstatus.testrail.net/index.php?/cases/view/5371

<blockquote><img src="https://static.testrail.io/5.5.1.3746/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/5370">Login - TestRail</a></strong>

[2018-10-11 08:31] lukaszfryc commented on #6080
I also experienced it recently.

I think we should increase sev and priority of this issue as it breaks confidence in chats.

[2018-10-11 08:48] lukaszfryc commented on #6208
For now, we are collaborating on designs with @errorists here: https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=227%3A320

<blockquote><img src="/file/aS1ct66VQ6V0cio7vSqS8UoG/thumbnail?ver=NSiv2SZCnXH9M4xFaw0zBi" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/aS1ct66V

[2018-10-11 09:07] chadyj commented on #6139
Fixed in desktop https://github.com/status-im/status-react/pull/6174

Mobile still needs to be done

[2018-10-11 09:08] janherich commented on #6139
@chadyj I'm working on the feature for mobile as well, by unifying the text content handling among desktop/mobile (necessary prerequisite for mentions as well)

[2018-10-11 09:28] chadyj commented on #5744
@errorists @denis-sharypin @andmironov @EugeOrtiz Now that this is in the app can we clean up the UI for mobile and desktop?  I think I've seen designs around?

[2018-10-11 09:48] churik commented on #6234
Scenario 1 is still reproducible.

[2018-10-11 10:30] errorists commented on #5744
I'm working on it atm with some great feedback coming in from @lukaszfryc , here are the designs to follow progress https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=227%3A320

<blockquote><img src="/file/aS1ct66VQ6V0cio7vSqS8UoG/thumbnail?ver=PgMfso6loyuj9vonj5lj6T" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div

[2018-10-11 10:40] #6114 closed, assigned to janherich

[2018-10-11 11:33] oskarth commented on #6108
Works fine now, thanks! Closing.

[2018-10-11 11:33] #6108 closed, assigned to nobody

[2018-10-11 11:40] lukaszfryc commented on #5394
More people complain about this Instabug including @jarradh.

@yenda or @janherich, maybe you could work on this task?

[2018-10-11 11:44] EugeOrtiz commented on #6252
Just to add more context, what's the problem we would be solving with this?

[2018-10-11 11:44] rachelhamlin commented on #6250
@goranjovic are you working on this one for the release?

[2018-10-11 11:50] lukaszfryc commented on #5394
Alternatively we can just mark all messages as read when chat is opened. It's easier to implement but it will not allow us to keep track of new messages in channels. That's why the best solution is https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5b1a79ae98f9b848590fb930

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src="/img/favi

[2018-10-11 11:51] EugeOrtiz commented on #6134
We should be using Arial for Linux ( #4860 ) , @vkjr do you know which one is being used here? That impacts on the size and legibility.

[2018-10-11 11:54] rachelhamlin commented on #5301
Still happens now with error message `Please enter or scan a valid contact code or username`.

Also, when I go back a screen and then return, the error has not cleared.

[2018-10-11 12:27] vkjr commented on #6134
@EugeOrtiz, In code we have "Arial" set.
But for macos we package `SFProText` font files together with app. And for linux we hope that `Arial` already exists on the user's computer. Maybe it doesn't?

[code]

[2018-10-11 13:34] jakubgs commented on #6252
I believe I did add a "feature" tag. A "feature" does not solve a problem, it adds functionality.

[2018-10-11 13:53] lukaszfryc opened #6259 "Unify color of currency symbol on /send, /receive messages"
### Description

*Type*: Bug

*Summary*:

There are 3 colors of "ETH" now. Maybe this should be unified to single color? Also, "ETH" in "/send" command is hardly visible:

<img src="https://user-images.githubusercontent.com/7532782/46808838-8584c380-cd6d-11e8-8850-e531e59cb5b6.png" width="200">

### Reproduction

### Additional Information
* Status version: 11 October nightly
* Operating System: A

[2018-10-11 13:53] lukaszfryc commented on #6259
@denis-sharypin could you check it?

[2018-10-11 13:58] lukaszfryc opened #6261 ""/send" message contains needless dot character"
### Description

*Type*: Bug

*Summary*:

The following dot should not be there:

<img src="https://user-images.githubusercontent.com/7532782/46809147-30957d00-cd6e-11e8-879a-7826bdc7047b.png" width="200">

#### Expected behavior
"0.0007 ETH"

#### Actual behavior
"0.0007.ETH"

### Reproduction

- Open 1-1 chat and /send ETH

### Additional Information
* Status version: 11 October
* Operating Syst

[2018-10-11 14:19] maxhora commented on #6241
Addressed with https://github.com/status-im/status-react/pull/6229

[2018-10-11 14:19] #6241 closed, assigned to maxhora

[2018-10-11 14:29] goranjovic commented on #6225
The user only needs to add the contract address. We can get the token name, symbol and number of decimals ourselves - these should not be editable by the user (especially not the decimals).

We can validate if contract address is in the right format syntactically. We may also be able to validate if the contract represents something that could be ERC-20 (i.e. if the info with token name, symbol and

[2018-10-11 14:34] ghost commented on #5081
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-11 14:34] #5081 closed, assigned to nobody

[2018-10-11 14:40] goranjovic commented on #6261
Heads up. I'm already working on this one.

[2018-10-11 14:44] jakubgs commented on #6252
This is what I'm referring to:
![](https://static.makeuseof.com/wp-content/uploads/2016/05/slack-quick-switcher-640x380.jpg)
![](https://get.slack.help/hc/article_attachments/360000957623/Screen_Shot_2018-03-21_at_11.24.49_AM.png)

[2018-10-11 14:47] corpetty commented on #6252
+1 to this, I use keyboard shortcuts for almost everything, and this feature would be nice to get around the status app more quickly, especially as I continuously add contacts.

[2018-10-11 14:48] chadyj commented on #6225
Ok cool. The other info was from other wallet example.

Let's skip this as both a way to reduce scope, and a way to differentiate custom tokens.

[2018-10-11 14:51] jakubgs commented on #6252
There's unused space on the left top corner next to the blue `+` button. We could add a filtering field there to limit contacts/channels showed in the contact list and add keyboard shortcuts to navigate to the search field and use of arrows to select from filtered.
A popup is fine too.

[2018-10-11 14:56] chadyj commented on #6252
Added some user stories here https://hackmd.io/s/SyS24Go9Q

<blockquote><img src="https://lh6.googleusercontent.com/-hlhtKcyb8bk/AAAAAAAAAAI/AAAAAAAAAAc/xLWz9YtFKfE/photo.jpg?sz=400" width="48" align="right"><div><img src="https://hackmd.io/favicon.png" height="14"> HackMD</div><div><strong><a href="https://hackmd.io/s/SyS24Go9Q">Find Stuff - HackMD</a></strong></div><div># Find Stuff  Status mobi

[2018-10-11 14:57] chadyj commented on #6252
A user-facing feature that doesn't solve a user problem is just for shits and giggles :P

[2018-10-11 15:05] Serhy opened #6262 "Add ability to customise scope of the automated tests for status-app-end-to-end-tests Jenkins job"
### User Story
As a dev/test engineer, I'd like to have an ability to customise the scope of automated tests in the status-app-end-to-end-tests Jenkins job

### Description
Currently, it's possible to run the automated tests against PR build only with one parameter, e.g. `critical` (mark value https://ci.status.im/job/end-to-end-tests/job/status-app-end-to-end-tests/build?delay=0sec)
We need an ab

[2018-10-11 16:35] jeluard opened #6266 "Validate ENS chat resolution before our mainnet contract deployment"
### User Story

As a developer, I want to ensure chat ENS name resolution happen on mainnet.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

As we will deploy the contract potentially after the release we need to validate with the same contract but using a different domain: `iamtheone.eth`
This issue will create a release using this domain so that testers can valida

[2018-10-11 17:01] #4882 closed, assigned to nobody

[2018-10-11 18:34] ghost commented on #4929
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-11 18:34] #4929 closed, assigned to nobody

[2018-10-11 20:54] ghost commented on #3409
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-11 20:54] #3409 closed, assigned to nobody

[2018-10-11 21:11] jakubgs commented on #6252
As far as I can tell there already is one, the "Find Chats" one.

There is a difference between solving a problem and adding convenience.

[2018-10-12 06:07] chadyj opened #6271 "Android nightly installation error"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a android user, I want to install nightlies so that I can live in the edge.

### Description

At some point in the last month or two something funky started happening to Android nightlies.  There were reports of unspecified errors on Android 8 like `error installing app` and other errors on Android 9 like `

[2018-10-12 06:52] chadyj opened #6272 "Keyboard shortcut support on desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a desktop user, I want to use keyboard shortcuts for tasks so that I can get common actions done quickly.

### Description

Things like new chat, or search, or emoji, or scrolling chat with keyboard would be 💯

On a Mac:

- Command N >> "new button" (blue + button)
- Command F >>  Moves keyboard focus to "t

[2018-10-12 07:00] chadyj opened #6273 "Prep Github Releases"
With the first desktop beta release coming up we would like to make the releases available on https://github.com/status-im/status-react/releases. This is convenient, findable, and a convention for many projects.

Currently there are over 4300 releases. These have no context and are automated for every build and tag.

Let's prep these things:

- Stop these automated releases
- Clear out all 4k+
- N

[2018-10-12 07:31] asemiankevich opened #6275 "Extension URL is not validated when adding extension"
### Description

*Type*: Bug

*Summary*:

[code]

#### Expected behavior
- URLs with spaces inside the URL should not be allowed
- URLs that does not match pattern `https://get.status.im/extension/gist@`+[GitHub name]+[gist extension ID] should not be allowed
- URLs with any symbols except numbers+latin letters+`/` + `@` should not be allowed
- trim spaces before and after URL

#### Actual behavio

[2018-10-12 07:37] asemiankevich opened #6276 "Warning Failed prop type: Invalid prop `disabled` of type ` array` supplied to `TouchableHighlight`, expected `boolean`"
### Description

*Type*: Bug

*Summary*: Warning Failed prop type: Invalid prop `disabled` of type ` array` supplied to  `TouchableHighligh`, expected `boolean` when looking up for extension

[code]

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/46854765-946d8380-ce0a-11e8-9905-b8f7f263a1d9.png)

### Reproduction

- Open Status develop
- Enable dev mode
- Go to e

[2018-10-12 07:48] asemiankevich opened #6277 "Back button does not clear extensions cache"
### Description

*Type*: Bug

*Summary*: Extension details are cached if the user has opened extension screen from URL so going back to Extensions screen does not clear the details.

#### Expected behavior

Extension details are not cached so if I went back to the previous screen and add a new extension from scratch - previous details should not be pre-populated

#### Actual behavior

Extension de

[2018-10-12 07:59] chadyj commented on #6271
This is what it looks like on Android 9 when downloading in Chrome then opening from Downloads.

![cantopenfile](https://user-images.githubusercontent.com/116099/46855798-fb883980-ce04-11e8-8ac9-a5ba6c7e0c64.png)

Here is what I see when opening from Files.

![files](https://user-images.githubusercontent.com/116099/46855950-70f40a00-ce05-11e8-82d3-7b8bddb42dee.png)

[2018-10-12 08:01] cammellos opened #6278 "Sync multiple devices - Contacts"
### User Story

As a user
I would like to sync my devices
So that my contacts are shared across them

### Description

When I use multiple devices, it is inconvenient to keep adding contacts on both, which might result in
general confusion, headaches and, in some severe cases, identity crisis.

### Potential solution

There should be a section "Devices" under settings where I can "pair" my devices

[2018-10-12 08:06] chadyj commented on #5595
We used to have an emoji picker in mobile. We can bring this back https://github.com/status-im/status-react/pull/558 to desktop.  iOS and Android have decent system emoji pickers so we don't need it on mobile.  @alwx interested in resurrecting this work?  Or maybe @rasom?

Also Status is using [Emojilib](https://github.com/muan/emojilib) so it already has support for typing emoji like `:heart:` an

[2018-10-12 08:08] jeluard commented on #6266
Has been validated

[2018-10-12 08:08] #6266 closed, assigned to 3esmit, yenda

[2018-10-12 08:15] chadyj commented on #6129
Dupe https://github.com/status-im/status-react/issues/6271

[2018-10-12 08:15] #6129 closed, assigned to nobody

[2018-10-12 08:18] #6276 closed, assigned to nobody

[2018-10-12 08:29] chadyj commented on #6271
Andrea took a look at this and saw that the problem is the content/type.

From https://get.status.im/chat/public/test-team

@jakubgs Can you please take care of this?  Thanks!

<blockquote><div><strong><a href="https://get.status.im/chat/public/test-team">Join the public chat: #test-team in Status</a></strong></div></blockquote>

[2018-10-12 08:45] lukaszfryc commented on #4187
I think this feature should be implemented after [the mentions](https://github.com/status-im/design/issues/25). And, by default I'd show the unread counter only for mentions and other important notifications. See https://github.com/status-im/design/issues/25#issuecomment-420587747

[2018-10-12 08:46] errorists commented on #6259
<img width="1061" alt="screenshot 2018-10-12 at 10 45 50" src="https://user-images.githubusercontent.com/4932774/46858645-05616b00-ce0c-11e8-9693-d5148f7b23be.png">

for reference, pardon all the red lines. To answer: the currency in incoming bubbles should be Dark Grey and outgoing 40% white

[2018-10-12 08:48] chadyj commented on #4187
Hey @dmitryn by any chance is your [PR for desktop badge notifications](https://github.com/status-im/status-react/pull/6146) extendable for mobile badge notifications?

[2018-10-12 08:53] lukaszfryc commented on #6234
Can we prioritize this issue? It maybe not harmful but lot of people are experiencing it and wondering why it happens.

In case of older > 24h (or even [7 days](https://github.com/status-im/status-react/pull/6268)) message, can we store this message in local db after replaying? cc @janherich

[2018-10-12 08:54] J12B opened #6280 "Seeing duplicate messages from myself in the new build"
[comment]: # (

### User Story

I updated with the new nightly, and since logging in I see messages that I sent yesterday in duplicate. This only occurs for messages sent yesterday, and only in public channels.
Messages sent prior to yesterday only show once, and messages in private chats only show once.
I've attached a screenshot. When I checked first thing this morning the result was fine (only

[2018-10-12 08:56] EugeOrtiz commented on #6111
I would go with the Status mobile option: do not activate the send button if only spaces (or until a letter is typed following those spaces).

[2018-10-12 08:56] asemiankevich opened #6281 "ERROR [status-im.events:976] - Error on mark-trusted-peer: Error: Could not find peer with ID"
### Description

*Type*: Bug

*Summary*:

[code]

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/46859123-8bce7a80-ce15-11e8-945e-1d62d5650dd6.png)

### Reproduction

- Open Status
- Open profile - ens usernames dapp
- Tap lets go
- Notice that prompt is shown asking to switch networks
- Go to switching networks and select Ropsten with LES
- Get the pop up
- Selec

[2018-10-12 09:09] dmitryn commented on #4187
@chadyj yes, i will add support for iphone and android badges.

[2018-10-12 09:12] dmitryn commented on #5038
I'm working on it at branch https://github.com/status-im/status-react/tree/feature/deep-linking

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react">status-im/status-react</a></strong></div><div>a

[2018-10-12 09:22] asemiankevich opened #6283 "'Unknown' contact screen is shown after transaction signed in Dapp"
### Description

*Type*: Bug

*Summary*: Unknown contact screen is shown after i requested stt from simple dapp on Ropsten
There is a forced navigation chat screen happens after Sign Transaction -> tap 'Got it' button in the case when `Transaction Fee` being updated during.
Navigation occurs to the most recent chat visited before transacting in the Dapp. In a case, there were no chats prior Dapp T

[2018-10-12 09:38] chadyj commented on #5038
🍺 🍻🍺 🍻🍺 🍻🍺 🍻🍺 🍻🍺 🍻🍺 🍻🍺 🍻
Kudos @dmitryn!

[2018-10-12 09:42] J12B opened #6284 "Status desktop appears "offline" when online"
[comment]: # Status desktop shows as "offline" even when online.

### User Story

Desktop on Mac. Had a brief connection problem on my mac and went offline. As expected, the Status app showed "offline". When i came back online (as confirmed by receiving messages through status and using a web browser), the status app still shows "offline." I've been online for 10 minutes now, but the app still sho

[2018-10-12 09:53] #4608 closed, assigned to janherich, EugeOrtiz

[2018-10-12 09:55] chadyj commented on #4275
Done!

[2018-10-12 09:55] #4275 closed, assigned to vitvly

[2018-10-12 10:34] #6261 closed, assigned to goranjovic

[2018-10-12 10:39] lukaszfryc commented on #6283
It maybe related to #5606 (react navigation) as there was https://github.com/status-im/status-react/issues/5878 which should be already fixed now. cc @rasom @yenda

[2018-10-12 10:48] janherich commented on #6234
@lukaszfryc Yes, we probably should just probably embed message content and author in reply message. Originally, I didn't want to do it, because it could lead to quite significant increase in message size over the time (reply to reply to reply...) and more problematic implementation of future threads, but given that are message fetching is far from 100% reliable, there is no other way :/

[2018-10-12 11:00] asemiankevich commented on #6283
@lukaszfryc as i know it was not the case for e2e runs for all the current week @Serhy right?

[2018-10-12 11:12] asemiankevich opened #6286 "Crash when tapping close (desktop)"
### Description

*Type*: Bug

*Summary*: Status crashed when I clicked the cross button to close the Status window

#### Expected behavior
no crashes

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/46865870-bf1a0500-ce27-11e8-92f5-6472e573907d.png)

### Reproduction

- Open Status
- Run it for ~6h
- Close the app by tapping the cross button

### Additional Inform

[2018-10-12 11:59] Serhy opened #6289 ""Null is not an object..." on public chat 'Delete' from chat options"
***Type***: Bug
***Summary***: When contact attempts to delete public chat (s)he just joined - the `null is not an object (evaluating 'e.cljs$core$IFn$_invoke$arity$1')` error appears. User can proceed use the app but chat is not deleted.

**NOTE:** Error occurs only when contact attempts to delete public chat joined in the same account session, - if to re-login then the same public chat which had

[2018-10-12 12:08] lukaszfryc opened #6290 "Error is shown when "http:/"
### Description

*Type*: Bug

*Summary*:

When a user made a mistake and typed "http:/" instead of "http://", the app can't parse the url and error is shown. When closed, everything works fine.

#### Expected behavior
I'd suggest showing the default error page instead:

<img src="https://user-images.githubusercontent.com/7532782/46868322-3c457a00-ce28-11e8-8ef9-739b6ae7b772.png" width="200">

####

[2018-10-12 12:09] lukaszfryc opened #6291 "Null is not an object error is shown when "http:/" as url in Status browser"
### Description

*Type*: Bug

*Summary*:

When a user made a mistake and typed "http:/" instead of "http://", the app can't parse the url and error is shown. When closed, everything works fine.

#### Expected behavior
I'd suggest showing the default error page instead:

<img src="https://user-images.githubusercontent.com/7532782/46868322-3c457a00-ce28-11e8-8ef9-739b6ae7b772.png" width="200">

####

[2018-10-12 12:58] chadyj opened #6294 "Desktop alpha release warning"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be informed of the risks of using beta software so that I can take necessary safeguards.

### Description

Desktop doesn't have wallet functionality, but the recovery phrase used can belong to a wallet with assets that need to be protected. As such as need to let users know they are using

[2018-10-12 12:59] EugeOrtiz opened #6295 ""Fetching messages..." badge is shown where there are no messages to fetch"
### Description
*Type*: Bug

*Summary*:
There are 2 problems:

**Problem 1**) "Fetching messages..." badge is shown under specific conversations when there are no messages to fetch. That gives the false impression that the other person wrote or is writing something and the user needs to wait for them. After fetching nothing new appears.
The problem here is that a general fetch is happening, but we

[2018-10-12 13:49] Serhy commented on #6283
@lukaszfryc @asemiankevich your both assumptions are right :)
Same e2e test that failed today and revealed this issue was OK during last week.
And assuming that it's a regression from #5606 (react navigation) also makes sense, because we didn't have specific scenario checking that "After Dapp TX there is no navigation to another screen"

We'll update the existing test script test_send_transaction_

[2018-10-12 13:53] jakubgs commented on #6271
I've merged the fix at: https://github.com/status-im/status-react/commit/33cf6dfd4bca7a5105c009b26347b03ee6e861e6
Can you please check that this APK doesn't have the same problem:
https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-181012-132040-011e25-pr.apk

<blockquote></blockquote>

[2018-10-12 14:04] hetvart commented on #6253
Saucelab does not allow to pull a file from device storage.
So, it cannot be automated. Closing the ticket.

[2018-10-12 14:04] goranjovic opened #6297 "[EPIC] Port Wallet to Desktop"
### User Story

As a user I want Wallet on Desktop, because... Wallet on Desktop.

### Description

As the very first version, we'll just try to port the mobile Wallet directly as it is to desktop and only solve the most severe responsiveness issues. This is merely an experiment to see if it would work at all.

- [ ] port 2 panel designs to desktop
- [ ] Implement chat commands on desktop #6945
-

[2018-10-12 14:05] jakubgs commented on #6273
Those are not "4300 releases", those are "release points", and this is apparently a GitHub feature:
https://github.community/t5/How-to-use-Git-and-GitHub/Tag-without-release/td-p/6255

We create a lot of `build-[0-9]` tags like `build-8943` because we use them to track build numbers that are using when adding metadata to iOS/Android releases. The script that does that is [`scripts/build_no.sh`](ht

[2018-10-12 15:03] chadyj commented on #6271
Fixed!  Many thanks :)

[2018-10-12 15:03] churik opened #6298 "Unknown is shown for reply messages sent from latest nightly if one of the users updated from release"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: if `user A` and `user B` have a chat, where `user A` used released version and `user B` latest nightly (12/10/2019) when `user A` upgraded to latest nightly, `User B` will see "Unknown" for all messages that were sent in reply to `User B` until upgrade.

#### Expected behavior
no "Unknown"

#### Actual behavior
<

[2018-10-12 15:18] #6271 closed, assigned to jakubgs

[2018-10-12 15:19] janherich commented on #6298
As we changed the way how message-id is calculated in the latest nightly (due to reorganising code), there is unfortunately no way to retrieve old ids and replies will be broken between versions.
As a band-aid, I will open PR which will hide quoted message when it can be found (so the reply is displayed as a normal message), in the future, we will be more careful and properly lock the protocol to

[2018-10-12 16:06] jeluard opened #6300 "Ensure Dether.io works with status"
### User Story
As a user, I want to use dether DApp from status

### Description
_Type_: Feature

Make sure DEther works fine with status.

Specifically we got this feedback from Dether team:

[code]

Note that the issue might be in the following project: https://github.com/status-im/react-native-webview-bridge

[2018-10-12 16:35] #6289 closed, assigned to nobody

[2018-10-13 18:41] #6083 closed, assigned to nobody

[2018-10-14 10:27] ghost commented on #5182
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-14 10:41] ghost commented on #5183
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-14 10:51] ghost commented on #5099
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-14 12:41] ghost commented on #5093
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-14 12:41] #5093 closed, assigned to nobody

[2018-10-14 13:04] 3esmit commented on #5807
This is affecting me, using Status inside Virtual Box in the meanwhile.

[2018-10-14 14:10] chadyj commented on #5807
Some notes from the last desktop meeting:

[2018-10-14 16:31] ghost commented on #5106
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-14 16:31] #5106 closed, assigned to nobody

[2018-10-14 17:21] pedropombeiro commented on #5807
Was able to build ubuntu-server on my machine with an increased log level, and I see an encouraging entry that I hadn't seen before:

[code]

Notice the `DEBUG [status-im.utils.handlers:37] - Handling re-frame event:  :init/app-started`. So it looks like the CLJS code is running, but for some reason the log ends there, nothing else comes up. In a regular log, the next entry should be `ubuntu-serve

[2018-10-14 18:08] pedropombeiro commented on #5807
yup, that worked!

![imagem](https://user-images.githubusercontent.com/138074/46920271-f76a4080-cfeb-11e8-9930-c266e3f5fc1d.png)

[2018-10-14 22:08] pedropombeiro commented on #5807
@3esmit you can try this build from latest sources: http://bit.ly/desktop-win10

<blockquote><div><strong><a href="http://bit.ly/desktop-win10">Meet Google Drive – One place for all your files</a></strong></div><div>Google Drive is a free way to keep your files backed up and easy to reach from any phone, tablet, or computer. Start with 15GB of Google storage – free.</div></blockquote>

[2018-10-15 00:44] 3esmit commented on #5807
Seems like it works...
![image](https://user-images.githubusercontent.com/224810/46924346-3acbab80-cffa-11e8-913b-09b6707ae237.png)

[2018-10-15 00:44] 3esmit commented on #5807
Seems like it works..
![image](https://user-images.githubusercontent.com/224810/46924366-59ca3d80-cffa-11e8-8702-51e67278059a.png)

[2018-10-15 03:14] rachelhamlin commented on #6250
@andytudhope @goranjovic hey guys - we'll make the release cut tomorrow or Tuesday. Will the custom RPC endpoints be added?

[2018-10-15 06:36] chadyj commented on #5807
Kudos @PombeirP this is quite a breakthrough!

I'll leave this PR here for you and @jakubgs to put the icing on the cake when you get back. :)

https://github.com/status-im/status-im.github.io/pull/5

[2018-10-15 06:40] oskarth commented on #6163
Are we sure there's no private information in these logs?

[2018-10-15 06:55] chadyj opened #6304 "Windows platform compatibility"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a windows user, I want platform-specific features to work nicely.

### Description

Since windows is brand new we haven't tested or implemented some windows niceties and features. Some things we need to look at:

- [ ] Custom url support `status-im://`
- [ ] Deep links
- [x] App icon
- [x] Desktop notificat

[2018-10-15 06:58] flexsurfer commented on #6228
Looks like it always can "connect" to any node, but the problem in  status-react UI, with new navigation  https://github.com/status-im/status-react/pull/5606 , when using `navigate-to-clean` the screen routes are strict, so it's impossible to log out from any screen, maybe we could deactivate navigation somehow in dev mode

[2018-10-15 07:17] hetvart opened #6306 "Fix for conftest file"

[2018-10-15 07:37] bitgamma commented on #6304
I was trying without success to change profile picture. Clicking a little around while in edit mode in the profile interface I got this error: https://yadi.sk/i/E3VC6e6Bu8q1Ew. Clicking on reload js did nothing, clicking on dismiss made the screen totally blank (had to restart the app)

<blockquote><img src="https://downloader.disk.yandex.ru/preview/7d54ebce70f50c02897b1de258f840ce69ebf4a0c08cd1d5

[2018-10-15 07:39] chadyj commented on #6304
@bitgamma Thanks for testing!

Ah interesting. This isn't [yet] possible on Mac and Linux. Look's like we will have to disable it on windows until we introduce this feature on desktop.

[2018-10-15 07:48] annadanchenko opened #6307 "Each message sent before upgrade is shown twice after upgrade from 0.9.29"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Each message sent before upgrade is shown twice after upgrade from 0.9.29
https://s3.amazonaws.com/testfairy/screenshots/4803622/8626941/10902018

[2018-10-15 08:00] chadyj commented on #6156
@alwx Can we please get this fixed for the next release?
cc @annadanchenko

[2018-10-15 08:54] mandrigin commented on #5793
We use `react-native-keychain` library for saving passwords.

Next steps:
1. fork this library and switch to our fork;
2. use the same library to implement this on Android (essentially, enable Android code-paths);
3. disable or remove whatsoever their "unsafe" option of storing in the facebook DB

Some gotchas
1. passwords shouldn't be accessible to any other app on the OS
2. this feature should n

[2018-10-15 08:58] chadyj commented on #5367
This is fixed now :) (or is WIP at least)

[2018-10-15 08:58] #5367 closed, assigned to nobody

[2018-10-15 09:06] lukaszfryc commented on #6072
I will close it since it's already on develop and we will cut the next release from the develop branch.

[2018-10-15 09:06] #6072 closed, assigned to nobody

[2018-10-15 09:24] lukaszfryc commented on #6163
I think so. @adambabik?

[2018-10-15 09:35] chadyj opened #6311 "0.9.30 Release"
This is an issue to list and discuss remaining issues for the 0.9.30 release.

Remaining issues can be viewed with the `release` tag.
https://github.com/status-im/status-react/labels/release

The 0.9.30 release has several improvements for #cryptolife and Devcon.

Using this issue to manage the release as team comms are split between Status and Slack
cc @status-im/clojure @rachelhamlin @andytudhop

[2018-10-15 09:37] chadyj commented on #6311
Conversation about scope from Slack:

@andytudhope @rachelhamlin Where are we on the move items? If there are issues can you please add the `release` tag or create issues?

The release was supposed to be cut tomorrow so please indicate which ones are must-haves and which ones are optional.

cc @divan @jeluard @goranjovic @adambabik mentioned above ^

[2018-10-15 09:58] chadyj commented on #6311
0.9.30 releases updated here in the [release notes doc](https://docs.google.com/document/d/1Z0mFlJJkNbRgv6qm80ob5g4PEvsI8cTmbwZpcRPWPho/edit).

[2018-10-15 10:03] #6198 closed, assigned to alwx

[2018-10-15 10:29] adambabik commented on #6163
I think `geth.log` was deliberately disabled on releases because we were afraid of data it collects and stores on a disk in an unencrypted way. I wouldn't say for 100% it does not collect private information.

[2018-10-15 10:30] adambabik commented on #6311
Do we have a nightly or a build which has that sidechain configured? I checked the RPC endpoints for some popular methods and they were fine but I don't have a full suite to test everything.

[2018-10-15 10:30] chadyj commented on #6307
@yenda Are you doing work on this?
If not @rasom might be able to take it.

[2018-10-15 10:32] yenda commented on #6307
@rasom if you work on this the most viable solution atm IMO would be to do replace/string on the namespace of the serialized record

[code]

[2018-10-15 10:36] lukaszfryc commented on #6112
I just lost all my account data (contacts, chats history) because of this issue :( I deliberately created backups of `~/Library/Application\ Support/StatusIm` to avoid it but it did not help. After installing some PR desktop build I got the decrypt error. When I restored my `StatusIm` folder from backup and installed latest nightly (or older nightlies) I still have the same error and need to resto

[2018-10-15 10:41] mandrigin commented on #6112
Do we use keychain to store encryption keys? Maybe that entry got corrupted somehow?

[2018-10-15 11:43] rachelhamlin commented on #6311
In the nightly & tested.

This is small. Team is prioritizing extensions work, but this will actually be @alwx and he's planning to take a look later today.

Will tag relevant issues; Nastya is testing.

I'm not sure about this.

There are some issues with the display of these tokens. If we can't get a PR in today, probably will have to drop it.

Not required.

[2018-10-15 11:58] chadyj commented on #6250
@goranjovic did you say you are blocked on this?

[2018-10-15 12:26] chadyj commented on #5793
@rasom Interested in taking this one?

We have iOS and Android parity except for this feature, and about half our users are on Android and they would love this.

[2018-10-15 12:31] chadyj opened #6314 "Analytics daily messaging users showing 0"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a community member, I want to view usage stats so that I can see how Status is being used.

### Description

Daily whisper users are displayed at https://analytics.status.im/#messages but in the last few days daily users are showing 0.

@adambabik recently changed how metrics are stored so we need to make a

[2018-10-15 12:35] SlizkovaGanna opened #6315 "Recovering an account that was already recovered on that device, with a different password, gives an error"
**Description**

Type: Feature

Summary: When an account was already recovered on a device, recovering it a second time with a different password gives out an error

**Expected behavior**

When a user has his recovery phrase, but forgot his password - he should be able to recover the account again without having to re-install the application

**Actual behavior**

When inserting a different passwor

[2018-10-15 12:38] chadyj opened #6316 "Add Status ENS registration analytics"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a community member, I want visibility into Status ENS registrations so that I can see progress.

### Description

ENS registrations is complete in Status and launching in 0.9.30!  Let's update https://analytics.status.im/#ens-registrations so we can see chart progress.

cc @bgits @rachelhamlin

<blockquote>

[2018-10-15 12:39] lukaszfryc opened #6317 "Got it screen was not shown after sending ETH from 1-1 chat"
### Description

*Type*: Bug

*Summary*: One of our E2E tests (`test_send_eth_in_1_1_chat`) [failed](https://app.saucelabs.com/tests/682d27dcee0a43ba924c3e3051d6e74d/commands?auth=b3787de9e074449fbd74467103e557d1#0) because the "Got it" screen was not shown after sending ETH from 1-1 chat. I could not reproduce it manually on my devices. Anyway, I think it's good to have this issue if someone enco

[2018-10-15 12:39] rachelhamlin commented on #6316
Nice! Thanks for this. The contract will be deployed on mainnet soon.

[2018-10-15 12:41] adambabik commented on #6314
Where can I take a look at the source code of this chart?

[2018-10-15 12:43] chadyj commented on #6314
https://github.com/status-im/analytics-dash

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/analytics-dash">status-im/analytics-dash</a></strong></div><div>Contribute to status-im/analytics-dash developmen

[2018-10-15 12:57] chadyj commented on #4345
@errorists @EugeOrtiz what does this look like on desktop?

[2018-10-15 13:11] errorists commented on #4345
<img width="1024" alt="public chat - messages copy 3" src="https://user-images.githubusercontent.com/4932774/46952837-5a131900-d08c-11e8-8c46-4ca305c0d8d9.png">

I'd suggest to place it like so, I believe the left sidebar on desktop is the better choice for status notifications like this one. @EugeOrtiz wdyt?

[2018-10-15 13:35] #6275 closed, assigned to nobody

[2018-10-15 13:41] SlizkovaGanna opened #6318 "For Linux desktop, there is no Status app icon in Applications"
**Description**

Type: Bug

Summary: Application is not found in /usr/share/applications for Linux (Mint 19)
It should be listed under 'applications' and have an icon there.

**Expected behavior**

There should be an icon for Status in Applications, the app can be found in search there

**Actual behavior**

There is no icon for Status in Applications, the app cannot be found in search there

**Rep

[2018-10-15 13:44] chadyj commented on #4345
Got some mobile design feedback on this I wanted to share:

Hiding the username with the spinner isn't ideal because it blocks the user from knowing who they are chatting with. If "fetching" displays for some time (as it currently does) then the username is blocked for the duration.

I tend to agree.

[2018-10-15 13:46] adambabik commented on #6314
https://github.com/status-im/analytics-dash/blob/7d5db8d1b68b1db629d3b22cccd7e6fb344ba11c/prometheus.py#L100-L105 needs to be fixed and use https://prometheus.status.im/graph?g0.range_input=4d&g0.expr=increase(shh_unique_authors_total%5B1d%5D)&g0.tab=0.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.git

[2018-10-15 13:48] chadyj commented on #6314
Thanks @adambabik

Also to confirm, can we do Weekly and Monthly users too? (that are not simply aggregations of daily)

[2018-10-15 14:05] Serhy opened #6319 "Wallet ETH/token balance is not updated according to Etherscan's balances (and TX history)"
***Type***: Bug

***Summary***: Wallet balance is not updated for sent/received ETH / tokens even having > 12 confirmations.
The Constantinople hard fork might be a reason here, and indeed there is a big slowdown of transaction minings I've noticed today (some of them has not been picked up since +2h with GasPrice = 100!).
But some TX's picked up and reached 12+ confirmations, which is reflected i

[2018-10-15 14:15] chadyj commented on #6311
I don't believe so. @goranjovic?

[2018-10-15 14:23] chadyj commented on #5567
@lukaszfryc @asemiankevich is this still an issue?

[2018-10-15 14:26] chadyj commented on #4193
@Serhy @lukaszfryc Still an issue or can we close?

[2018-10-15 14:26] errorists commented on #4345
Thanks for input! It's a tough one to answer because I thought about it while working on the design and did a couple of minor tweaks to help with any confusion, like displaying the notification with a slight delay after you enter a chat. In real-world use I personally doubt it will be much of an issue, since entering a chat with someone is a deliberate action and you're more than likely to remembe

[2018-10-15 14:29] asemiankevich commented on #5567
@chadyj i dont think so but worth checking. @antdanchenko this is covered with e2e right?

[2018-10-15 14:32] chadyj commented on #6311
Update from release sync:

The team is aiming to cut the release end of day Tuesday Oct 16.  Please try to get your PR's merged before then.

Also thanks in advanced to the team for getting this issues done quickly, reviewing quickly, and testing quickly. Cheers!

[2018-10-15 14:38] chadyj commented on #4345
Sure, but what about returning to the phone after an hour, or the next day, or other use cases where it is no longer deliberate?  You could design around it with a flash/delay but that seems like working around the problems instead of fixing the cause.

On mobile with limited screen real estate the recipients name is crucial, so are there really no alternatives?

Testing sounds great but might be

[2018-10-15 14:39] #6298 closed, assigned to janherich

[2018-10-15 14:46] chadyj commented on #4345
@errorists  Got some other feedback about another point:

The chat screen is used to send and receive transactions, so it is important for a user to be certain who they are chatting with at all times.  Hiding the user could lead to accidental transactions.

I'd love to see other concepts before we commit to further work on this.

[2018-10-15 14:49] errorists commented on #4345
So another approach would be to make room for it, like lowering the entire content scroll area like pictured below. Not sure how feasible it is with React tho?

<img width="855" alt="screenshot 2018-10-15 at 16 47 00" src="https://user-images.githubusercontent.com/4932774/46958388-01e31380-d09a-11e8-912a-b60d1ac20cb8.png">

[2018-10-15 14:53] chadyj commented on #6311
Ping @j-zerah @kimjf for release notes

[2018-10-15 15:05] adambabik commented on #6314
That metric has started being collected a few days ago so not really. Unless analytics tool will have some embedded database where it can pour and combine data from the previous and the new metrics.

[2018-10-15 15:14] lukaszfryc commented on #4193
@janherich @chadyj let me check it tomorrow

[2018-10-15 15:16] lukaszfryc commented on #5567
@asemiankevich we can't easily check TF in e2e. We would need to have a proxy to intercept http trafic

[2018-10-15 15:16] lukaszfryc commented on #5567
@chadyj @asemiankevich I will check it today or tomorrow morning

[2018-10-15 15:20] asemiankevich opened #6320 "ERROR [status-im.events:1004] - :send-status-message-error Error: specify either a symmetric or an asymmetric key"
### Description

*Type*: Bug

*Summary*:

[code]

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/46960266-d4e92d80-d0a6-11e8-9aae-773a611941e3.png)

### Reproduction

- Open Status (develop on emulator)
- Recover account that could have some 1x1 chats recovered today
- Join any 1x1 chat that is recovered

[2018-10-15 15:26] EugeOrtiz commented on #4345
@errorists we have more functionality coming for desktop, like _search_ that I think could be placed there.
Why do we want to change the current badges? Is it only aesthetics? If we want to redesign this, I would look for something more temporal, that doesn't need the original UI real state. Also, on desktop, I imagine notifications that are general (placed in a general space) and notifications th

[2018-10-15 15:26] goranjovic commented on #6311
We have a PR with the heavy lifting needed for the sidechain change (#6260). With it merged, I can post the PR that actually adds those sidechains.

[2018-10-15 15:26] denis-sharypin commented on #6225
@chadyj @goranjovic  Please take a look at the solution I'm proposing https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet_Source-of-Truth?node-id=160%3A5124

<blockquote><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet_Source-of-Truth?node-id=160%3A5124">Figma</a></strong>

[2018-10-15 15:43] yenda opened #6322 "Invalid prop `fontWeight` of value `400` supplied on Linux"
# Problem

[code]

# Solution

Seems like value is passed as an integer and should be a string

[2018-10-15 15:45] errorists commented on #4345
@EugeOrtiz because they [obstruct actual functionality](https://github.com/status-im/status-react/issues/5371). You can't add a contact till they're there, so my morning routine looks like this: I have a couple of new contacts and I wait and wait till that fetching messages dialogue is gone till I can add them.
But aesthetics too, they're too much in your face, being by far the most prominent elem

[2018-10-15 15:56] EugeOrtiz commented on #4345
I see, we don't have much of that problem on desktop _I think_. Pushing the content for as you suggest could be a quick solution.

[2018-10-15 16:09] #6322 closed, assigned to yenda

[2018-10-15 17:16] tersec commented on #6314
I'm disinclined to add such ephemerally useful complexity, especially since going too far back, before the @chadyj 's addition of several channels for monitoring, creates internal discrepancies which undermine the data's utility/quality due to https://github.com/status-im/infra-eth-cluster/commit/6a42ca8f55bc554d933fccbfff478f00f68802dd. Furthermore, there's no data accessible to me prior to Septe

[2018-10-15 17:31] chadyj commented on #6314
Whatever you guys decide it would be very useful to have daily, weekly, and monthly resolution. It can be hard to spot trends on a daily level (eg things drop on weekends), but weekly and monthly is a consistent period that allows us to see proper trends at different timescales.

Fingers crossed we can have it :)

[2018-10-15 17:56] ghost commented on #4792
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-15 18:01] cammellos commented on #6112
I will take a look at this, a lot of this issue might be explained by running PR builds,probably the main cause for the test team, as generally those will not upgrade cleanly if it contains migrations (the encryption error is just a red-herring in most cases, any db error will show that pop up).
If someone encounters the same error, please save the logs before removing the directory, this PR adds

[2018-10-15 18:04] bitgamma commented on #6304
another issue, don't know if it is Windows specific, but after restarting my computer and launching Status I get this: https://yadi.sk/i/ilI8eNFIVEAA-A

<blockquote><img src="https://downloader.disk.yandex.ru/preview/3502edfb2046626fbbce0b40357e192ce2edc9bd78120607159bd6fc556d1270/5bc50eeb/958PD-2jjEwujPv6pq62V3xrazH97_WKgJDikVNL95-dFqRkFFzI-OZgqP5Nh6hiBc2BN_1c91DHGzrotHC0Lw%3D%3D?uid=0&filename=2

[2018-10-15 18:05] adambabik commented on #6314
Then we just need to wait a bit and we will have this data for weekly/monthly resolution :)

Having said that, if we want to be sure that this data does not get lost, we need backups. Prometheus is persistent but usually the flow is that data is exported from Prometheus to some other system that is "more" persistent.

[2018-10-15 18:06] chadyj commented on #6304
That is a general desktop [problem](https://github.com/status-im/status-react/issues/6112), unfortunately. Fix is here https://docs.status.im/docs/build_desktop.html#Clean-up-data
but for wherever the files are stored on windows.

<blockquote><img src="https://downloader.disk.yandex.ru/preview/245cd8caf49667e5d4f6b9f5e633c0d7f768875a51e62cffcb7148f1e91b8f0d/5bc50f7a/958PD-2jjEwujPv6pq62V3xrazH97_W

[2018-10-15 18:08] chadyj commented on #6316
@tersec Did you further investigate [Google Big Query](https://cloud.google.com/blog/products/data-analytics/ethereum-bigquery-public-dataset-smart-contract-analytics) for this use case?

[2018-10-15 18:11] bitgamma commented on #6304
Yeah I have managed to restore it, the files to delete are in %APPDATA%/StatusIm

[2018-10-15 19:04] tersec commented on #6314
Data getting lost seems like a legitimate concern -- it's already gotten lost between various configuration changes so far. It might not have to be as easily queryable, but depending on Prometheus alone seems suboptimal.

[2018-10-15 19:25] chadyj commented on #6314
Might it be simpler to warehouse/store the data with something like https://aws.amazon.com/simpledb/ or https://cloud.google.com/datastore/ for simple storage and queries?

Or do we have something suitable already deployed @jakubgs?

<blockquote><img src="https://a0.awsstatic.com/main/images/logos/aws_logo_smile_1200x630.png" width="48" align="right"><div><img src="https://a0.awsstatic.com/main/im

[2018-10-15 20:07] chadyj commented on #5567
@yenda Just verified that passphrase are visible in TestFairy.

We need to fix this asap.

@rasom Can you please take a look at it?

[2018-10-15 20:11] chadyj commented on #5567
If TestFairy is causing the mnemonic to be leaked is it about time we got rid of this? Instabug too? Let's reduce the surface area for issues like this.

This means that anyone with TestFairy access can see any nightly users mnemonic.

cc @oskarth @corpetty @arnetheduck @mandrigin @annadanchenko

[2018-10-15 20:13] yenda commented on #5567
@corpetty this is pretty big we should delete all the testfairy sessions and warn users that they'd better create a new account if they used a nightly build

[2018-10-15 21:16] yenda commented on #6311
Regarding mailservers:

Previously the app was blindly firing requests for all topics. It was using some heuristics to guesstimate when the mailserver was done sending the requests based on how much time has passed since the last expired message arrived (mailserver send expired messages, in the sense that the whisper network would have considered these messages expired and discarded them).
The pro

[2018-10-15 21:21] corpetty commented on #5567
yeah.  any information from testfairy we have should be deleted, and we should let people know that if they used a nightly they should create a new account and transfer whatever funds they had.

[2018-10-15 21:27] corpetty commented on #5567
I'd like to know:
- who has access to this information within status?
- how long has this been a problem?
- what information are we capturing with testfairy (seed, passphrase, both )
- is "deleting sessions" within testfairy actually getting rid of it on their side too?
- why do we need testfairy in the first place?
- can we control within testfairy what information is captured?

[2018-10-15 21:29] gravityblast commented on #6311
@yenda the timeout is only a client-side timer in status-go. after 10 seconds it's fired if the client hasn't receive the response yet.
The mail server itself never times out. It receives the request, it sends messages 1 by 1, and at the end it sends the "response" message.
This means that even if status-go fires the timeout, the server can continue to send messages.

[2018-10-15 21:30] corpetty commented on #5567
As these are nightlies... it is unlikely that people are storing large amounts of value within the app.  that being said, it is our job to be transparent and clear about what we have and the course of action to move whatever funds are there to a private account.  If we continue to use services like this, then a modal should warn users that this is a nightly build, and any serious funds shouldn't b

[2018-10-16 00:56] tersec commented on #6314
A couple of questions about how to use this schema:

- Is it by design that there's no overall count from `increase(shh_unique_authors_total[1d])`, or is there, and I'm missing it? Because as these are just counts per chat, they can't really be added. I've generally set this up in a two-stage way, such that there's some intermediate representation that obeys a semigroup, or, ideally, a monoid such

[2018-10-16 01:27] tersec commented on #6316
@chadyj Sure:

Provides an example query which can be easily modified to point to the https://etherscan.io/address/0x1da022710df5002339274aadee8d58218e9d6ab5 ENS contract address:
[code]

It doesn't return any results; likely, that's due to its apparently not being on mainnet yet per @rachelhamlin. The exact query of use will be different, but the functionality's there.

<blockquote><img src="/ima

[2018-10-16 02:30] arnetheduck commented on #5567
I believe this is has been a known and deliberate feature for quite some time, not sure why the sudden panic and reversal. It really shouldn't be news to anybody by now that a product that records screens and shows a complete list of interactions also occasionally will record passwords and other unintended details, such as private conversations.

It used to be that nightlies showed a big fat warni

[2018-10-16 03:16] oskarth commented on #5567
I'd personally like to see both TestFairy and Instabug removed completely, as they are not essential to the functioning of the app and opens up attack surface etc. The reasoning is the same as Mixpanel. Last time this was brought up there was some pushback, but perhaps people are coming around now?

There are other such dependencies that require some more careful thought, for example Firebase whic

[2018-10-16 03:20] oskarth commented on #5567
On the transparency front, as we've been pushing people to install nightly with TF on by default, I think it would be a good idea to mention this in next release notes / once we address this issue.

[2018-10-16 03:25] oskarth commented on #5567
Agree, this has come up a few times. Adding to wall of shame, should be explicit goal and in our face.

https://discuss.status.im/t/principles-seminar-session-4-security/557/2

<blockquote><img src="https://discuss.status.im/letter_avatar_proxy/v2/letter/o/f14d63/200.png" width="48" align="right"><div><img src="/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" height="14">

[2018-10-16 05:58] chadyj commented on #5567
Thanks for the response. Here are a few additional items for clarification:

It was known that TF records video. It was unknown that the seed phrase was recorded.

The severity is that **all** users of nightly builds have had their seed phrase recorded and uploaded to Testfairy's servers. These recordings are made available to those at Status and potentially others. This was previously not the cas

[2018-10-16 06:13] chadyj opened #6330 "Remove TestFairy"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As user, I don't want my screen and seed phrase recorded so that I can maintain privacy and security.

### Description

For several weeks TestFairy has been [recording users seed phrase](https://github.com/status-im/status-react/issues/5567). TestFairy was also [recording seed phases back in April](https://git

[2018-10-16 06:18] chadyj commented on #5567
Immediate action points:

- Remove TestFairy.  https://github.com/status-im/status-react/issues/6330 - PR
- Create blog post informing users. I've pinged Jonny to help coordinate
- Delete TF sessions. @annadanchenko ~can you help with this?~ Done
- Delete TF account @annadanchenko to do

[2018-10-16 07:36] lukaszfryc opened #6334 "Support for multiple topics in mailserver requests"
### Description

*Type*: Bug

*Summary*: Use https://github.com/status-im/status-go/pull/1240 in status-react.

### Additional Information
* Operating System: all

[2018-10-16 07:38] lukaszfryc commented on #6311
@yenda the PR in status-go is already merged. I added an issue for you to use it in status-react https://github.com/status-im/status-react/issues/6334

[2018-10-16 07:41] lukaszfryc commented on #6311
@yenda was it always like this or we introduced it somehow recently? If the upcoming release does not introduce regressions in this area I'd say it's not a release blocker. Anyway, it's worth to fix asap.

[2018-10-16 07:51] lukaszfryc commented on #6320
1) Does it happen in release builds as well?
2) Is it related to some specific chat from yesterday?

[2018-10-16 07:54] asemiankevich commented on #6320
@lukaszfryc
1. it is in develop for a while ago as i got from @flexsurfer
2. i think it is related to the chats that are recovered with account

[2018-10-16 08:22] lukaszfryc commented on #6112
@mandrigin @cammellos @churik any idea if this will also happen when upgrading from release builds?

[2018-10-16 08:36] cammellos commented on #6112
@lukaszfryc if you are debugging that, please PM I would like to try a few things!

[2018-10-16 08:38] lukaszfryc commented on #6112
not yet, but I will soon. I'll ping you!

[2018-10-16 08:41] chadyj commented on #6311
Team, with the [recent mail server issues](https://github.com/status-im/status-react/issues/6311#issuecomment-430016229) and reports of reliability problems we will need to delay this release until we are absolutely certain Status is working reliably.

At the Hackathon and Devcon we are showcasing Status to the wider community so performance has to be flawless, and we should take the time to ensur

[2018-10-16 08:56] annadanchenko commented on #5567
@chadyj all TF sessions are deleted

[2018-10-16 08:59] chadyj commented on #5567
Thanks @annadanchenko

Although I see there are 40 new sessions.  Can we delete the account as a permanent fix?

[2018-10-16 09:07] lukaszfryc commented on #5567
Or maybe there is an option to disable/disconnect the API key somewhere in account settings that we could do first. And then ask TF team if they can pernamently remove all the data (including backups).

[2018-10-16 09:23] lukaszfryc opened #6336 "mail-01.ac-cn-hongkong-c.eth.beta mailserver is not responsive"
### Description

*Type*: Bug

*Summary*: When app is connected to `mail-01.ac-cn-hongkong-c.eth.beta`, it can't fetch historical messages. Looks like the server is down.

### Additional Information
* Operating System: all

[2018-10-16 09:24] lukaszfryc commented on #6336
@jakubgs do you know what is happening with this server? How I can check it by myself?

[2018-10-16 09:25] lukaszfryc commented on #6336
@cammellos the app chose this server automatically after I created an account. Is it a bug?

[2018-10-16 09:27] lukaszfryc commented on #6311
@chadyj is it final decision? How about registration dapp and other things mentioned by @rachelhamlin (https://github.com/status-im/status-react/issues/6311#issuecomment-429775679)? I suppose we can cherry pick at least some of them if we won't make a normal release.

[2018-10-16 09:29] cammellos commented on #6336
@lukaszfryc the app should pick a random mailserver (if you never pinned it), if the mailserver is unresponsive, and the client knows it is, it should start picking mailserver in a round-robin fashion.

[2018-10-16 09:30] chadyj commented on #6311
Hey @lukaszfryc it wasn't a decision but an observation. There are several [existing release issues](https://github.com/status-im/status-react/labels/release) that are still open, plus the new mail server issues. Although if there are ways to remedy the issues, salvage the release and have a quality build for hackathon/devcon then lets do it.

[2018-10-16 09:31] flexsurfer commented on #6320
sorry for confusion, but i can't say it's in develop while ago, i saw this before, but can't say for sure

[2018-10-16 09:31] lukaszfryc commented on #6336
I guess that did not work or I did not wait long enough. @cammellos what's the logic/timeout behind "the client know it"?

[2018-10-16 09:31] asemiankevich commented on #6320
yeah it is fine (c) . Just saying it is here for some time already

[2018-10-16 09:33] annadanchenko commented on #5567
@chadyj @lukaszfryc I'm checking with TF support as regenerating aPI key does not help. ofc, new sessions are recorded as we didn't disable TF in the old builds and can't do this.

[2018-10-16 09:35] cammellos commented on #6336
@lukaszfryc I think the client only checks that a connection can be established with the node, but the node might be unresponsive for other reason (long backlog of queues etc), @yenda can probably confirm as he knows that bit of code better.

[2018-10-16 09:39] lukaszfryc commented on #6311
I'd say let's aim for the standard release but with a 1 or 2 days delay, submitting the iOS build on Monday.

Backup plan: cherry pick and release only couple of changes like the registration app to support the hackaton. But, I'm not sure which PRs we will be able to cherry pick as many of them may be dependent on on things that are already in develop branch.

----

cc @chadyj @annadanchenko @rach

[2018-10-16 09:40] yenda commented on #6336
It changes mail server after 2 timeouts of 30s. Is it not responsive or just very slow ? Provide some logs please. My guess is that it is just very slow because it's an Asian server and you are in Europe

[2018-10-16 09:47] chadyj commented on #6336
https://canary.status.im/icingaweb2/dashboard

<img width="507" alt="screen shot 2018-10-16 at 11 46 52 am" src="https://user-images.githubusercontent.com/116099/47007738-33f78280-d139-11e8-8c63-2ea22fc0b030.png">

<blockquote><div><strong><a href="https://canary.status.im/icingaweb2/dashboard">Sign In</a></strong></div></blockquote>

[2018-10-16 09:50] lukaszfryc commented on #6336
thanks @chadyj!

@yenda unfortunately, I do not have client logs from that session where app connected me to that mailserver (TF is gone). I will try to repro it later today

[2018-10-16 09:55] hetvart opened #6337 "Run normal transaction tests on Rinkeby (excluding tokens)"
1. Switch network for each tx test (via UI)
2. Set default network for the tests to Rinkeby (network api)
3. Fund all users
4. Implement rinkeby faucet

[2018-10-16 10:08] #6156 closed, assigned to rasom

[2018-10-16 10:35] ghost commented on #5217
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-16 10:41] goranjovic commented on #6250
@adambabik @andytudhope I'm getting `Ethereum node was started with incorrect configuration` when I switch to the network with `https://poa.infura.io` as its remote rpc. Any ideas?

(The other one seems to start ok)

[2018-10-16 10:51] Serhy opened #6339 "Can't upgrade Release app to nightly version: "Status" has the same bundle ID [iOS]"
**_Type_**: Bug

_Summary_: Attempt to upgrade release app version installed from TestFlight onto nightly build app (**in Diawii**) fails right away with `"Status" has the same Bundle ID as "Status - Ethereum. Anywhere."` message on iOS.

#### Expected behavior
I can upgrade from Release app version to Nightly build (in Diawii)

#### Actual behavior
Can't upgrade Release app to nightly version: "S

[2018-10-16 10:55] ghost commented on #4569
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-16 11:17] yevh-berdnyk opened #6340 "Incorrect names for MKR, DGD, ETHOS and DATA tokens"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Tokens MKR, DGD, ETHOS, DATA have inconsistencies in names or/and symbols after comparing data from [tokens.cljs](https://github.com/status-im/s

[2018-10-16 11:20] lukaszfryc commented on #6112
I tested upgrade on Android device from 0.9.28 and 0.9.29 to recent develop (build with logs here https://github.com/status-im/status-react/pull/6326) and did not notice any issues.

Also, I checked macOS upgrades between some of the latest nightlies (02cb5d to 21cda1 and to [the build with logs 870486-pr](https://github.com/status-im/status-react/pull/6326) but also could not replicate the db iss

[2018-10-16 11:32] #6149 closed, assigned to flexsurfer

[2018-10-16 11:54] lukaszfryc commented on #6336
@yenda unfortunately, I cannot replicate auto connecting to the unresponsive mailserver at this moment.

[2018-10-16 11:54] lukaszfryc commented on #6336
Btw, looks like `mail-02.ac-cn-hongkong-c.eth.beta` may also have some issues. Canary says it's UP but I do not receive any historical messages from this mailserver. I see "Fetching messages" appearing from time to time. Works fine when I switch to another mailserver. [Here is my logcat](https://gist.github.com/lukaszfryc/5126aab93a8b4d6a81d9ecc8561fbfaf).

[2018-10-16 11:56] andytudhope commented on #6250
@goranjovic am following up now. Also, just to confirm terminology:

Ticker - Network name
XDAI - xDai Chain (Not DaiChain)
POA - POA Network (Not POAChain)

[2018-10-16 12:27] phahulin commented on #6250
Hey @goranjovic
when connecting to https://poa.infura.io via Metamask it seems to work fine. I'm not much familiar with how `status` works, are there "steps to reproduce" that we can follow to replicate the issue without `status` on our side?

<blockquote></blockquote>

[2018-10-16 13:02] goranjovic commented on #6250
@phahulin just to double check, what network id am I supposed to use for the two networks?

[2018-10-16 13:06] adambabik commented on #6336
This should be in status-go btw.

We have [metrics](https://prometheus.status.im/graph?g0.range_input=1h&g0.expr=rate(geth_mailserver_archivedEnvelopes_overall%7Bfleet%3D%22eth.beta%22%2Ccontainer%3D~%22statusd-mail.*%22%7D%5B10m%5D)&g0.tab=0) that actually shows that mail servers in HK (mail-01.ac-cn-hongkong-c.eth.beta and mail-03.ac-cn-hongkong-c.eth.beta) are doing poorly (red and blue respect

[2018-10-16 13:26] SiddigZeidan commented on #6250
@goranjovic the network ID for POA Network is 99

For xDai Chain, I believe it is 100, however @phahulin can confirm that

[2018-10-16 13:28] goranjovic commented on #6250
thanks @SiddigZeidan seems like we had some aggressive validations, it works fine now

[2018-10-16 13:30] SiddigZeidan commented on #6250
@goranjovic Fantastic news! Please let me know if any other issues occur

[2018-10-16 13:38] #6135 closed, assigned to goranjovic

[2018-10-16 13:59] lukaszfryc commented on #4690
I think we all agree that we should keep the scroll position on re-entry and have a way to easily scroll to the bottom of the chat. Scrolling to the bottom will also mark all messages as read. So, no need to implement https://github.com/status-im/status-react/issues/5394 anymore.

@errorists do you still think the https://framer.cloud/rlnqR is the best way to accomplish it? Will that counter not i

[2018-10-16 14:46] lukaszfryc commented on #5204
@Serhy this should be already fixed according to https://github.com/status-im/status-react/pull/6236#issuecomment-428906635, right?

[2018-10-16 14:53] corpetty commented on #5845
I'm working on building/finding something like this for desktop.  Because a bunch of the code is overlapped with mobile, then the associated checklists will overlap.

Yes.  It starts with the disclaimer, then an internal audit of dependencies (and what information they gather).  Let's have a chat about this this week. Who else should be included in this chat so we can make a solid action plan to g

[2018-10-16 14:56] chadyj commented on #5845
FYI There is progress to bring Wallet to desktop https://github.com/status-im/status-react/pull/6312

[2018-10-16 14:56] chadyj commented on #5845
Would you like to join the desktop sync on Friday to discuss?

[2018-10-16 15:01] chadyj opened #6346 "Remove Instabug"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As user, I don't want my session details recorded or my data sent to third parties so that I can maintain privacy and security.

### Description

We are dealing with an issue with Testfairy that caused seed phrases in nightlies to be accidentally exposed and sent to a third party service. https://github.com/st

[2018-10-16 15:02] rachelhamlin commented on #6311
Makes sense.

In the event that we cherry-pick, I learned there's one more item that marketing needs:
- Universal link issue for QR codes (needed for Incubate/Hackathon): https://github.com/status-im/status-react/issues/6072

And this item for ENS support is not listed in the must-haves above, but would also need to be included:
- Support for all .eth names: https://github.com/status-im/status-rea

[2018-10-16 15:10] chadyj commented on #6311
I propose that we remove Instabug from this release too. It doesn't pass the test as essential software and can expose us to security or privacy incidents. I added the release tag but if anyone feels we should keep it then please holla https://github.com/status-im/status-react/issues/6346

[2018-10-16 15:11] corpetty commented on #5845
yes, please send invite.

[2018-10-16 15:14] #6334 closed, assigned to yenda

[2018-10-16 15:21] lukaszfryc commented on #6346
I tried to find some open source project as alternative for Instabug but there aren't many. I only found https://github.com/marcoarment/BugshotKit (iOS only).

If we really want to get rid of 3rd party solutions like Instabug, we could implement our own solution. This could be as simple as redirecting to default mail app with recipient and body partially filled (to: support@status.im, body: "I hav

[2018-10-16 15:22] oskarth commented on #6346
Agree, e.g. shake to get to #requests-and-reports or so would be useful.

Don't think it should block removal of Instabug though.

[2018-10-16 15:28] lukaszfryc opened #6347 "Cannot scan QR code of user because the qr code includes universal link"
### Description

*Type*: Bug

*Summary*: Scanning qr code results in "Wrong public key" since the qr code includes universal link.  Instead, scanning the code should open 1-1 chat with the user. This bug was introduced by https://github.com/status-im/status-react/pull/6331.

### Reproduction

- Scan QR code from profile tab

### Additional Information
* Operating System: Android, iOS

[2018-10-16 15:52] Serhy opened #6348 "Profile QR code encodes universal link to user profile instead of pure public key"
***Type***: Bug

*Summary*: Profile QR code encodes a universal link to user profile instead of the pure public key. Trying to scan QR code from user profile page when adding a new contact - results in 'Incorrect public key' message

#### Expected behavior
Profile QR code encodes public key

#### Actual behavior
Profile QR code encodes universal link to user profile page
E.g. of the profile QR cod