[2019-01-22 17:18] StatusSceptre commented on #7075
Thanks for the update @speedyFixer Snoozed the bot from pinging you for 5 days; let us know if we can help!

[2019-01-22 17:18] Swader commented on #5654
Medium severity, still untouched.

[2019-01-22 17:19] StatusSceptre commented on #7105
Hey @DivyeshPuri snoozed the  bot for 5 days; let  us know if you need any help!

[2019-01-22 17:19] Swader commented on #6487
Nope

[2019-01-22 17:20] Swader commented on #6504
Bad bot

[2019-01-22 17:20] Swader commented on #6513
Ugh

[2019-01-22 17:21] Swader commented on #6515
Not stale

[2019-01-22 17:21] Swader commented on #4367
Sync still doesn't work

[2019-01-22 17:21] Swader commented on #4569
Not stale

[2019-01-22 17:35] Serhy commented on #6489
Issue still present with 0.9.33 develop

[2019-01-22 19:33] austintgriffith commented on #7266
Hey guys, we will *for sure* have a token contract address for you by the 30th.
We'd like to get everything we can possibly think of tested by then.
We will try to have it sooner, but there are just things we want to make sure get included.
One thing we should mention is there is a chance something new comes up that causes us to run on a new token. So the status app would be on the old token.
Is t

[2019-01-22 23:15] speedyFixer commented on #7075
Thank you so much @StatusSceptre !

[2019-01-23 07:53] ghost commented on #6377
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 07:53] #6377 closed, assigned to nobody

[2019-01-23 09:54] rachelhamlin commented on #7219
Hmm @jeluard, I'm still getting the `unknown-component-property` error on this one.

<img src="https://user-images.githubusercontent.com/15470435/51598120-176ba300-1efd-11e9-8ec6-bd4b215bb985.png" width=200 />

[2019-01-23 10:06] rachelhamlin commented on #7266
That's great news, @austintgriffith. Pinged @goranjovic on Status, as he's the one to answer your question. Will check back in for updates.

[2019-01-23 10:09] rachelhamlin commented on #7224
Hey @mandrigin - the token requested for this release should be available by Jan 30th, and it's then a matter of our adding it (hoping @goranjovic can help with that).

In the meantime, I can help to complete the list of everything else we'd like to have included.

(FYI @annadanchenko)

[2019-01-23 10:21] churik opened #7329 "Outgoing token transactions in transaction history are shown as 0 ETH after relogin"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: after relogin all outgoing transactions in tokens are shown as 0 ETH, and only after several  minutes they are replaced with token transactions. This relates only to transactions made after restoring account. All others outgoing token transactions made before restoring account from seed phrase are shown as 0 ETH.

[2019-01-23 10:43] goranjovic commented on #7266
Unfortunately, no. If you change the contract, we can only re-release, which isn't a quick process.

[2019-01-23 10:56] oskarth commented on #6446
@rachelhamlin @jeluard Was there any follow up to this?

[2019-01-23 11:02] rachelhamlin commented on #6446
@oskarth the latest update is still our email thread from November. I wasn't aware of this specific issue, but as you can see from our swarm docs, localeth integration isn't a q1 browser item.

List here again: https://notes.status.im/browser-research

What would you like to happen?

[2019-01-23 11:05] Swader commented on #7266
@goranjovic why not use a proxy contract and then replace the implementation being referenced behind the scenes if needed?

[2019-01-23 11:06] mandrigin commented on #7266
I agree with @Swader but I guess this question is more suitable for @austintgriffith to answer...

[2019-01-23 11:43] ghost commented on #6387
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 11:43] #6387 closed, assigned to nobody

[2019-01-23 11:43] oskarth commented on #6446
Well, the main thing I'm aware is missing is a follow up in this issue.  @Swader felt the same, evidently.

Does localethereum work seamlessly in Status now (acceptance criteria)? It isn't clear from email thread. We also never did an announcement like e.g. imToken afaik, so seems like a missed opportunity for low effort partnership.

Last time around it seemed like a small thing, so not sure it m

[2019-01-23 11:52] rachelhamlin commented on #6446
Can't follow up on issues I'm not tagged on :)

Last time I checked, localethereum does work in Status. I will check again today. Although there might be more we can do to integrate—I haven't looked at other wallet's support—I wasn't planning to follow up on it for the reasons explained (plus Teller Network work).

[2019-01-23 12:13] ghost commented on #5316
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-23 12:19] jeluard commented on #6446
I just checked now and it looks like it works fine with privacy mode enabled. They even have a nice status logo.

@Swader @oskarth Are you aware of specific issues?

[2019-01-23 12:22] Swader commented on #6446
Nope. Can be closed. Just checked too and it seems fine. I was mainly pinging a keepalive to encourage this specific discussion and tests from various parties - exactly the kind of feedback an issue should have before being closed. Can be closed now :)

[2019-01-23 12:22] #6446 closed, assigned to nobody

[2019-01-23 13:01] oskarth commented on #6446
Great, cheers all!

[2019-01-23 13:03] oskarth commented on #6446
@rachelhamlin you are right, I forgot to ping you in the initial message. My bad.

@Swader @jeluard did you do the whole user journey, including escrow etc, or just front page?

Anyway, agree it can probably be closed. Cheers all!

[2019-01-23 13:12] Swader commented on #6446
@oskarth only front page, status doesn't work for me on Android all that well so right now it's a bit tough to go through the whole process.

[2019-01-23 15:27] rachelhamlin opened #7330 "Add decimal point to numeric keyboard during Kyber exchange"
### User Story

As a user, I want to enter a decimal number when inputting the amount of token to exchange using the incredible new Kyber extension.

### Description

*Type*: Bug

*Summary*: Currently, the numeric keyboard used to enter a token amount in the Kyber swap wallet extension does not contain a decimal point. As I own less than 1 full unit of many tokens, it's imperative that I am able t

[2019-01-23 15:30] rachelhamlin commented on #7219
Working beautifully with new nightly!

[2019-01-23 15:30] #7219 closed, assigned to flexsurfer

[2019-01-23 15:33] ghost commented on #6530
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-23 15:40] jeluard commented on #7330
Fixed in https://status-im.github.io/pluto/try.html?hash=QmRQ8iJ4duBvkkrNs52V3Nh5Yunhaq671DQCRgNXoMKKET

<blockquote><img src="/pluto/img/favicon.png" width="48" align="right"><div><strong><a href="https://status-im.github.io/pluto/index.html">Pluto · A grammar for data manipulation</a></strong></div><div>A grammar for data manipulation</div></blockquote>

[2019-01-23 16:12] rachelhamlin commented on #7330
Looks good!

[2019-01-23 16:12] #7330 closed, assigned to jeluard

[2019-01-23 16:23] ghost commented on #6394
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 16:24] jakubgs commented on #6394
fuck off bot

[2019-01-23 16:58] #7323 closed, assigned to nobody

[2019-01-23 17:11] #7132 closed, assigned to dmitryn

[2019-01-23 17:13] ghost commented on #5443
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-23 17:18] jeluard commented on #7075
@speedyFixer Did you make progress on that one? i would be interested in using it :)

[2019-01-23 18:07] ghost commented on #5666
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 20:07] ghost commented on #6392
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-23 20:07] jakubgs commented on #6392
Stop, just stop.

[2019-01-23 20:37] ghost commented on #6399
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-23 20:37] ghost commented on #6399
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-24 07:01] Swader commented on #5666
Reopening.

[2019-01-24 07:02] Swader commented on #5443
Still relevant

[2019-01-24 07:56] jeluard commented on #5443
@Swader Can we work together on this one? :)

[2019-01-24 10:37] ghost commented on #6476
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-24 10:37] ghost commented on #6476
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-24 11:12] Swader commented on #6476
Keepalive

[2019-01-24 11:14] Swader commented on #5443
Sure, how can I help?

[2019-01-24 11:19] Serhy opened #7332 "Empty error pop-up when sending tx from Wallet to contact if public/group chat at the top on Home screen"
***Type***: Bug

***Summary***: When transaction is sent from Wallet to the contact from contacts list but there is a public or group chat stands at the top of Home screen - there is an empty `Error` pop-up appears ( `Invalid push notification payload...` in logs). `/send ` message is sent in respective 1-1 chat though after transacting from Wallet.
It's all fine if the contact I send TX to is the

[2019-01-24 11:24] annadanchenko commented on #7332
same issue also exists in #7294 with new status-go (beta 9)

[2019-01-24 11:25] jeluard commented on #5443
@Swader I heard you write good docs?

[2019-01-24 11:37] mandrigin commented on #7198
@Swader @annadanchenko okay, it looks native and I happen to have Android 9 nearby, so I will take a glance on it.

[2019-01-24 11:47] ghost commented on #6412
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-24 11:47] #6412 closed, assigned to nobody

[2019-01-24 12:07] churik opened #7333 "`Re-matches must match again a string` at attempt to save mailserver with invalid or empty data"
### Description
_Type_: Bug

_Summary_: `Re-matches must match again a string` instead of a user-friendly error when you are trying to save maiserver with empty or invalid name/address

#### Expected behavior
user-friendly validation error, i.e. "Please, specify a name and address"

#### Actual behavior
![img!UNITO-UNDERSCORE!d3ab99f6b074-1](https://user-images.githubusercontent.com/4557972/516770

[2019-01-24 13:54] Swader commented on #5443
@jeluard haha fair enough, yeah I can write something up if you can point me to the process of debugging a dapp if one exists. Was looking for that exact thing when working on [tokenhunt](https://discuss.status.im/t/status-feedback-from-blockconf-io/904).

[2019-01-24 14:55] annadanchenko commented on #7205
@corpetty for some reason it's still open, did #7206 fix it?

[2019-01-24 15:17] ghost commented on #1563
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-24 15:54] corpetty commented on #7205
yep, closing

[2019-01-24 15:54] #7205 closed, assigned to nobody

[2019-01-24 17:15] churik opened #7336 "Wrong group chat name is shown on group info screen after renaming other group chat"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  if you edit `group chat A` name (for example to `group chat A1`), then save it and after open group info screen on `group chat B` - name of  `group chat A1` is shown

#### Expected behavio

[2019-01-24 17:32] krisc commented on #7103
@jeluard I think I might have been passing the wrong arguments for the second case. I think this might be correct:

[code]
However, it still is not showing the Send Transaction screen after this change. I can do some logging inside `models.wallet/open-modal-wallet-for-transaction` to see what's going on. I'll keep you updated here.

[2019-01-24 18:14] austintgriffith commented on #7266
Yeah we could probably set something up like that if we have time. Let me ping @dbe on this too.

[2019-01-24 18:44] jeluard commented on #5443
@Swader How can I reach you in status?

[2019-01-24 19:07] krisc commented on #7103
@jeluard  Inspecting the output of `adb logcat *:S ReactNative:V ReactNativeJS:V` I noticed some differences between when `models.wallet/open-modal-wallet-for-transaction` works and when it doesn't work. When it works I see these logs once `models.wallet/open-modal-wallet-for-transaction` is called:

[code]

When it does not work, these steps seem to be skipped. The first log once `models.wallet/o

[2019-01-24 19:16] Swader commented on #5443
bruno.stateofus.eth should work, if not, click my random name on https://nimbus.status.im :)

<blockquote><img src="/img/graphic-licensing.png" width="48" align="right"><div><strong><a href="https://nimbus.status.im/">Nimbus, a Light Client for Ethereum 2.0</a></strong></div></blockquote>

[2019-01-24 20:26] ghost commented on #6538
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-24 21:39] mandrigin commented on #7226
fixed in https://github.com/status-im/status-react/pull/7294

[2019-01-24 21:39] #7226 closed, assigned to cammellos

[2019-01-24 21:40] mandrigin commented on #7281
@antdanchenko is it possible to reproduce it (even in autotests) on the current nightlies? If so, I can take a look at it.

[2019-01-24 21:41] mandrigin commented on #666
that is already implemented. the package name is `im.status.ethereum.debug` for debug builds for both iOS and Android.

[2019-01-24 21:41] #666 closed

[2019-01-24 21:43] mandrigin commented on #1762
@goranjovic what do you think about making it a bounty?

[2019-01-24 21:44] mandrigin commented on #3631
@jakubgs please close this one if it was fixed (I think it was, but want to double-check)

[2019-01-24 21:46] jakubgs commented on #3631
Hmmm, I guess it was for Linux, Windows, and Android. Though there is another step to do which is include use of docker containers in local development, but maybe we can open a separate issue for that.

[2019-01-24 21:46] #3631 closed, assigned to nobody

[2019-01-24 21:47] mandrigin commented on #4193
@Serhy it would be nice to re-test it again :)

[2019-01-24 21:52] mandrigin commented on #4367
@churik @cammellos how does this one relate to the actual device sync feature?

[2019-01-24 21:55] mandrigin commented on #5585
@oskarth do we need this issue to stay open?

[2019-01-25 02:22] speedyFixer commented on #7075
Sorry @jeluard I'm stuck, I haven't achieved to find why the parse-log isn't getting called when I use ethereum/logs in a custom extension. I have made a lot of prints and also checking re-frisk UI and always I get 0 values, I have changed Network, contract and etc, but with no luck. Now I'm thinking how debug in advanced way with Cursive.

[2019-01-25 02:49] oskarth commented on #5585
:man_shrugging:

[2019-01-25 02:50] oskarth commented on #5585
Success criteria not clear so issue is poorly defined. Closing.

(This doesn't mean this may or may not still be a problem, just that it isn't sufficiently isolated in this issue. Hopefully it'll come up in other forms.)

[2019-01-25 02:50] #5585 closed, assigned to j-zerah

[2019-01-25 05:35] cammellos commented on #4367
@mandrigin looks like is a feature issue, so the features are there (albeit in the development mode), probably worth closing an creating a separate issue if there are problems.

@Swader to better debug the issue you are having:
1) Have you paired your devices?
2) Are the paired devices enabled?
3) Which version of the app are you running on each device
4) Could you attach `geth.log` from ideally e

[2019-01-25 06:00] cammellos commented on #7259
@PombeirP could you please triage this? you probably have the most knowledge about windows builds.
Thanks!

[2019-01-25 08:06] ghost commented on #6511
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-25 08:47] churik commented on #4367
@mandrigin this one was created before pairing feature was implemented, so I suppose we can close it for now, because all issues/parts of pairing feature are in separate issues for now, can be found:
https://github.com/status-im/status-react/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+pairing

@Swader so if actually sync doesn't work for you, I'll ask you to create new issue with details requeste

[2019-01-25 08:47] #4367 closed, assigned to nobody

[2019-01-25 08:49] cammellos commented on #6801
@churik this one has been implemented, should we close it?

[2019-01-25 09:05] annadanchenko opened #7337 "null is not an object (evaluating 'e.cljs$core$IFn$_invoke$arity$1') Error"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: After opening app there is null is not an object (evaluating 'e.cljs$core$IFn$_invoke$arity$1') Error

Can't repro myself. @jarradh can

### Rep

[2019-01-25 09:11] churik commented on #5350
still reproducible

[2019-01-25 09:19] annadanchenko opened #7338 "Invalid arity: 5 on disabling Development mode (if gfycat extension is installed)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
on disabeling *Development mode*

     Error
     Invalid arity: 5

dialog box appears

Note: after disabling and deleting gfycat extension and

[2019-01-25 09:27] churik commented on #5695
Can't reproduce on nightly 24/01/2019

[2019-01-25 09:45] pedropombeiro commented on #7259
@jinhojang93 a few thoughts:
1. Windows 7 is not yet supported, neither are 32-bit Windows platforms, so that's expected.

2. The SmartScreen dialog has a link which expands a section which allows you to run the application. There are two things we could do here to avoid the user having to deal with this dialog (as per Microsoft's [blog post](https://blogs.msdn.microsoft.com/ie/2010/10/13/stranger

[2019-01-25 09:51] Swader commented on #4367
Ok

[2019-01-25 09:53] Swader commented on #6511
I still think this would be a good thing to have. No switching, just default to higher security.

[2019-01-25 10:27] Swader commented on #4367
@churik @cammellos worked with latest nightlies. I may have tried it wrong before too - I wouldn't expect pressing sync on mobile will sync TO desktop, expected reverse, but verified that it's OK now. Only I noticed all chats pulled from sync got the time of the sync as timestamp and ended up higher than last used chats.

[2019-01-25 10:29] cammellos commented on #4367
@Swader yes, the "reverse" flow is for security reason (say someone gets hold of device A1 , you don't want them to be able to access info from device A2 as well). About chats good point, probably deserves an issue.

[2019-01-25 10:31] churik commented on #4367
@cammellos @Swader I think you are talking about https://github.com/status-im/status-react/issues/7270

[2019-01-25 10:45] Swader commented on #7270
Also easy to replicate by issuing a sync and then observing that the device TO which messages were synced has fetched chats displayed as more recent than those actually recently used.

[2019-01-25 11:04] mandrigin commented on #7224
@rachelhamlin wasn't the initial deadline for this token end of this week?

[2019-01-25 11:05] mandrigin commented on #7224
We will release 0.9.33 in public as well, since Infura hotfix broke our release schedule :)

[2019-01-25 11:12] rachelhamlin commented on #7224
That's what we asked for @mandrigin, but the team says the 30th is the latest they'll have it ready. Up to you whether we can wait for that or not. What do you think?

[2019-01-25 11:13] rachelhamlin commented on #7266
Apologies to be pushy about it @austintgriffith but roughly how much longer are we looking at for a contract we can use here? Does by the 30th likely = the 30th at this point?

[2019-01-25 11:15] mandrigin commented on #7224
Let's see, I don't want to promise anything at that point.

I think that we shouldn't think at this token right now. If it is ready before we release 0.9.33, we can include it (it doesn't look like a lot of work to me). If not — maybe we can make a hotfix with just this token afterwards.

What do you think @annadanchenko @rachelhamlin?

[2019-01-25 11:20] rachelhamlin commented on #7224
Yup, I think that works great. If it makes sense otherwise to start on this release, I don't want to delay for a non-urgent issue.

cc @pablanopete

[2019-01-25 11:33] Serhy commented on #4193
@mandrigin I've tested with Galaxy note 4 on 0.9.33 Develop nightly (24rd of January) receiving 500 messages and 100 messages in public chat and it looks better by now than before.

Samsung **Galaxy Note 4**:
* New user having no chats, - joins public chat and receives 500 messages -> app freezes for ~13-15 seconds
* New user having no chats, - joins public chat and receives 100 messages in public

[2019-01-25 11:35] churik commented on #7197
@cammellos look at this one when you have a time.

[2019-01-25 11:48] mandrigin commented on #4193
@Serhy thanks a lot! so, let's keep it open then

[2019-01-25 12:26] ghost commented on #6524
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-25 12:26] ghost commented on #6524
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-25 12:32] jeluard commented on #7103
@krisc `models.wallet/open-modal-wallet-for-transaction` has no effect on its own. The data it returns is interpreted and triggers the flow.
Not clear to me now how this could be solved simply..

BTW it makes me realize that the same approach is currently used for the ENS resolution and it's broken..

[2019-01-25 12:50] mandrigin commented on #6524
we don't have instabug anymore

[2019-01-25 12:50] #6524 closed, assigned to nobody

[2019-01-25 13:36] ghost commented on #6540
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-25 14:01] #4345 closed, assigned to yenda, errorists

[2019-01-25 14:01] #5371 closed, assigned to errorists

[2019-01-25 14:01] #6440 closed, assigned to nobody

[2019-01-25 14:01] #7116 closed, assigned to yenda, rachelhamlin

[2019-01-25 15:26] #7338 closed, assigned to nobody

[2019-01-25 17:06] ghost commented on #4488
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-25 17:11] churik commented on #6801
I think so

[2019-01-25 17:11] #6801 closed, assigned to nobody

[2019-01-25 17:40] StatusSceptre commented on #7105
@DivyeshPuri Let us know if you're still preparing to submit a WIP.

[2019-01-25 19:04] krisc commented on #7103
@jeluard Oh, I see.  `models.wallet/open-modal-wallet-for-transaction` returns a data structure, yet `ethereum/estimate-gas-web3` only returns nil. `ethereum/estimate-gas-web3` being asynchronous really doesn't complicate the flow here, doesn't it?

BTW what does `db` stand for? database?

[2019-01-25 19:46] ghost commented on #6542
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-26 01:23] StatusSceptre commented on #2884
@kfirmanty Thanks for your patience and all the work that went into this; sent a tip as well for the late issuance.

Could you follow up with me via email at chris.hutchinson@status.im - I'd love to chat more about your contribution!

[2019-01-26 01:26] StatusSceptre commented on #4391
Seems fine @santteegt it's not a high Prior issue; so picking up work again once you're available would be fine!

[2019-01-26 04:44] StatusSceptre commented on #6941
Do we want this one as a bounty? Please 👍 the issue if this one is to be bountied @rachelhamlin; wasn't sure of the state of it with the current discussions.

[2019-01-26 05:16] ghost commented on #6539
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-26 05:26] pbteja1998 commented on #4158
@StatusSceptre can I work on this issue?

[2019-01-26 06:44] StatusSceptre commented on #4158
Feel free to open a pull request if you’re inclined to work on it! We’re happy to accept commits.

[2019-01-26 10:31] ghost commented on #6252
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-26 13:41] ghost commented on #6545
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-26 13:41] ghost commented on #6545
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-26 17:49] StatusSceptre commented on #4158
@mul1sh would be happy to have you dive into the fix, Status works with CLJS not JS would you be comfortable with it? If you feel confident to start work I can approve you no problem!

[2019-01-26 18:05] mul1sh commented on #4158
@StatusSceptre  yes i'm very confident with CLJS so i can definitely handle this task. thanks 🙂

[2019-01-26 18:21] StatusSceptre commented on #4158
You've been approved to start work @mul1sh!

[2019-01-26 19:32] mul1sh commented on #4158
@StatusSceptre awesome thanks

[2019-01-26 19:45] speedyFixer commented on #7075
Hello @jeluard and @StatusSceptre I found the bug with ethereum/logs, I going to raise a issue with the info and the possible fix.

[2019-01-26 21:45] speedyFixer opened #7344 "ethereum/logs always return an empty PersistentVector"
[comment]: # (Please replace ... with your information. Remove < and >)
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: ethereum/logs event (Extensions) always return empty PersistentVector []

[2019-01-26 21:47] speedyFixer commented on #7075
FYI #7344

[2019-01-26 23:46] StatusSceptre commented on #7075
Thanks @speedyFixer will make sure someone checks this out next week!

[2019-01-26 23:55] StatusSceptre commented on #7076
Snoozed the bot @shamardy

[2019-01-27 12:48] jinhojang6 commented on #7259
@PombeirP Thank you for your detailed answers.

1. I let the users know that. Thank you

4. I haven't received any log information from them. There are quite many people experienced the same error like this. It is running on the 'Task manager' of Windows but it shows nothing.

[2019-01-28 07:54] rachelhamlin opened #7346 "Add Aragon to DApp list"
#### Expected behavior
Aragon listed in DApp list.

Add to `Utilities` list.

Order below `3Box`.

Name: `Aragon`
URL: https://mainnet.aragon.org
Logo: [use white vertical](https://wiki.aragon.org/design/logo/)
Description: `Build unstoppable organizations on Ethereum`

[2019-01-28 07:56] asemiankevich commented on #6835
@goranjovic is it something we can fix someday soon? want to have our nightly e2e in green, this is the only blocker for them now

[2019-01-28 08:00] rachelhamlin commented on #6941
@StatusSceptre yes, would be great to put a bounty on. I'll edit the issue to include warning screen and copy. Can we keep @goranjovic tagged in the issue so that he can answer any questions?

[2019-01-28 08:07] rasom commented on #7346
a short description is also required

[2019-01-28 08:12] rasom commented on #7346
probably "Build unstoppable organizations on Ethereum"

[2019-01-28 08:12] #7274 closed, assigned to flexsurfer

[2019-01-28 08:13] rachelhamlin commented on #7346
Thanks @rasom!

[2019-01-28 08:24] ghost commented on #6556
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-28 08:28] Serhy opened #7348 "Blank screen when launch MacOS build after fresh installation"
***Type***: Bug

***Summary***: After fresh install of MacOS build there is a blank screen when user launches Status. No Status.log (Status folder created but it's just empty). system.log shows only ```Status[1493]: DEPRECATED USE in libdispatch client: dispatch source activated with no event handler set; set a breakpoint on _dispatch_bug_deprecated to debug```
Note, it's all fine when I:
- instal

[2019-01-28 08:47] jeluard commented on #7075
@speedyFixer Sorry for those issues! Could you look at the logs parsing?
Ultimately I think it would be easier to just rely on unit tests for this one. You don't really need to test it with a real extension.

[2019-01-28 09:33] mandrigin commented on #6556
does it still happen?

[2019-01-28 09:44] jeluard commented on #7219
Updated extension to reflect latest nightly changes: https://status-im.github.io/pluto/try.html?hash=QmeqDrXwwwesgb6Dj9UurtgX1VoS4h6tApxLTLU1BSD7Vo

<blockquote><img src="/pluto/img/favicon.png" width="48" align="right"><div><strong><a href="https://status-im.github.io/pluto/index.html">Pluto · A grammar for data manipulation</a></strong></div><div>A grammar for data manipulation</div></blockquote

[2019-01-28 09:59] hesterbruikman commented on #7234
Update: We discussed work allocation for Profile design accross Chat and Core (with Keycard working on an update of the contact profile view).

Allocation and proposed changes in the notes doc: https://notes.status.im/wsJKmUfCQq6_JlawUwabFQ?view

<blockquote><div><strong><a href="https://notes.status.im/wsJKmUfCQq6_JlawUwabFQ?view">Tech review profile designs - CodiMD</a></strong></div></blockquot

[2019-01-28 10:04] ghost commented on #5674
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-28 10:10] churik opened #7351 "Fetching animation and "Connected..." / "Offline"status bars are placed on the bottom of the chat area"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: introduced by https://github.com/status-im/status-react/pull/7141 - on desktop fetching animation and status messages are placed on the bottom of chat area.

#### Expected behavior
fetching animation and status bar are shown below the header on chat area

#### Actual behavior
![pffl](https://user-images.githubuser

[2019-01-28 10:30] Swader commented on #5674
Reopening

[2019-01-28 10:44] jeluard opened #7352 "Allow to create/delete contact from an extension"
### User Story

As a developer, I want to be able to create/delete a contact from an [extension](https://status.im/extensions/) event.

### Description

*Type*: Feature

[2019-01-28 10:46] jeluard opened #7353 "Allow to create channel from an extension"
### User Story

As a developer, I want to be able to add and/or open a channel from an [extension](https://status.im/extensions/) event.

### Description

*Type*: Feature

[2019-01-28 10:52] jeluard opened #7354 "Allow to send a chat message from an extension"
### User Story

As a developer, I want to be able to send a chat message (private chat, public channel) from an [extension](https://status.im/extensions/) event.

### Description

*Type*: Feature

[2019-01-28 10:53] jeluard opened #7355 "Allow to close wallet.settings from an event"
### User Story

As a developer, I want to be able to close the wallet.settings extension from this same [extension](https://status.im/extensions/) event.

### Description

*Type*: Feature

[2019-01-28 11:29] rachelhamlin opened #7356 "Change confirmation screen link styling [Kyber extension polish]"
### Description

`Back to exchange` link is too subtle. Can we use button styling instead?

#### Expected behavior
`Back to exchange` link uses a button or other component to look more like a CTA.

#### Actual behavior
[comment]: # (Describe what actually happened.)
<img src="https://user-images.githubusercontent.com/15470435/51833617-3c468880-22f8-11e9-9af4-e1019914bcb7.png" width=200/>

[2019-01-28 12:05] jeluard opened #7357 "Allow to add/remove DApp from an extension"
### User Story

As a developer, I want to be able to add/remove a DApp from an [extension](https://status.im/extensions/) event. The DApp should be persisted across restarts.

### Description

*Type*: Feature

[2019-01-28 12:06] jeluard opened #7358 "Allow to add/remove ERC20 token from an event"
### User Story

As a developer, I want to be able to add/remove an ERC20 token from an [extension](https://status.im/extensions/) event. The token should be persisted across restarts.

### Description

*Type*: Feature

[2019-01-28 12:43] jeluard commented on #7103
@krisc Actually looks like this issue has been addressed by https://github.com/status-im/status-react/pull/7263 .. Sorry about that.

@StatusSceptre what can we do here?

[2019-01-28 14:58] dmitryn commented on #7133
@goranjovic

Current version of react-native-status-keycard is 2.3.2.
You could see how other keycard SDK methods are implemented here:
https://github.com/status-im/react-native-status-keycard/blob/v2.3.2/android/src/main/java/im/status/ethereum/keycard/RNStatusKeycardModule.java

SDK docs: https://status-im.github.io/keycard.status.im/api/sdk_derivation_sign.html#Signing

PIN screen is already im

[2019-01-28 15:14] dmitryn commented on #7133
@goranjovic One more thing to add. I'm currently working on login with keycard in this branch `feature/login-with-keycard-merged` https://github.com/status-im/status-react/pull/7341

I added some improvements on how PIN screen work so it would be great if you start your work based on `feature/login-with-keycard-merged` branch. As a bonus, you would have keycard login working so you won't need to c

[2019-01-28 16:05] jakubgs commented on #6351
I think this could be reasonably simply achieved by using `iptables` rules:
[code]
I will try this out today.

[2019-01-28 16:15] denis-sharypin commented on #7356
@jeluard how can I try this extension out?

[2019-01-28 16:51] StatusSceptre commented on #7103
@jeluard so we need to wait on this issue #7263 before completion?

[2019-01-28 16:52] jeluard commented on #7356
@denis-sharypin Just scan the QR code that you find after clicking publish from within status.
Do you have access to figma files?

[2019-01-28 16:57] jeluard commented on #7103
@StatusSceptre This issue has been fixed already.

[2019-01-28 17:49] jakubgs commented on #6351
I've deployed a change that uses `iptables` to redirect `443` to the bootnode/mailserver/1st whisper node.
Commit: https://github.com/status-im/infra-eth-cluster/commit/63a13eedc2775122f2b4ffc0a569c58c9bdea81f

It has been deployed to both `eth.test` and `eth.staging` for testing.
I have verified that it works using [`node-canary`](https://github.com/status-im/status-go/tree/develop/cmd/node-canar

[2019-01-28 17:49] mandrigin commented on #6351
so we just need to test it

[2019-01-28 17:50] mandrigin commented on #6351
I will take a shot on it tomorrow.

[2019-01-28 18:09] dmitryn commented on #7133
@goranjovic Also, it might be useful to read these guides
https://github.com/status-im/status-keycard/blob/master/UX_NOTES.md
https://github.com/status-im/status-keycard/blob/master/CLIENT_NOTES.md

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><st

[2019-01-28 18:24] krisc commented on #7103
Well ... alright!
@jeluard @StatusSceptre This is kind of unfortunate for me since I invested so much time into attempting to fix this issue. I know I can't expect compensation for my time since I did not complete the task, but I'll propose this:

When reading these docs (https://status-im.github.io/pluto/docs/Manifesto.html), I noticed a lot of awkward grammar (perhaps whoever wrote it is not a n

[2019-01-28 19:41] krisc commented on #1762
Is anyone currently working on this?

[2019-01-28 20:14] rachelhamlin commented on #7356
There's no link to the extension on this issue :) but it's here - https://status-im.github.io/pluto/try.html?hash=QmeqDrXwwwesgb6Dj9UurtgX1VoS4h6tApxLTLU1BSD7Vo

@denis-sharypin

<blockquote><img src="/pluto/img/favicon.png" width="48" align="right"><div><strong><a href="https://status-im.github.io/pluto/index.html">Pluto · A grammar for data manipulation</a></strong></div><div>A grammar for data

[2019-01-28 20:27] StatusSceptre commented on #7103
Sure! Would be glad to have you work on that if you propose an PR and payout the bounty associated with this one in any case @krisc because of the time spent. Can you submit work on gitcoin so I can pay you out for the time you’ve worked on figuring out this issue. Would love to have you around as a contributor!

[2019-01-28 20:57] krisc commented on #7103
@StatusSceptre Awesome! Looking forward to contributing more to this project :)

Is the is there a GitHub repository where the documentation lives? This repo (https://github.com/status-im/docs) seems dead.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div>

[2019-01-28 21:14] StatusSceptre commented on #6941
No problem @rachelhamlin

[2019-01-28 22:27] StatusSceptre commented on #7103
That should be the correct repository https://github.com/status-im/status.im - but the docs lives elsewhere, if you setup and build the site you should find them. https://status.im/docs/index.html @krisc

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><d

[2019-01-28 23:58] StatusSceptre commented on #4614
There's been multiple asks of this as an advanced option for users as someone mentioned in a status channel they have a private key they'd like to import into status that's derived from a master seed on metamask but they cannot currently import that wallet. @denis-sharypin @errorists @andmironov could you help provide a small mockup of this as an advanced option to integrate as a bounty? (options

[2019-01-29 00:10] pablanopete commented on #4614
Another user story from the community this will help

"Mostly issue is I created/verified a peepeth account, so was trying to log into it through status; But as the 2nd wallet was made within metamask it's hard"

In this case the metamask account was created through the same master seed but a separate wallet (private key) and cannot be recovered to use in status.

[2019-01-29 02:25] StatusSceptre commented on #7208
What's the current state of this @oskarth, is this bounty considered a `Medium` bounty still with the updates from @errorists ?

[2019-01-29 03:04] StatusSceptre commented on #3451
@PombeirP Should we still implement this as a bounty?

[2019-01-29 03:11] StatusSceptre commented on #7045
@PombeirP is this issue still relevant?

[2019-01-29 06:16] cammellos opened #7362 "Private group chats and missing messages from certain peers"
Sometimes in a private group chat messages are missing from a particular peer.

We don't have exact steps to replicate, but one description is:

Create group chat on A, with B and C.

A sends a message to B, B is able to receive it, but when replying A won't see their response.

We haven't been able to replicate and have access to logs, so please add `geth.log` in your comment.

The most likely ex

[2019-01-29 07:00] pedropombeiro commented on #3451
@StatusSceptre Yes, I believe it makes sense.

[2019-01-29 07:00] pedropombeiro commented on #7045
Yes, it is.

[2019-01-29 07:24] jeluard commented on #7356
🤦‍♂️

[2019-01-29 07:51] rachelhamlin commented on #7208
@StatusSceptre actually, @yenda is going to work on this this week. I'm removing the bounty labels for now.

[2019-01-29 08:04] rachelhamlin commented on #6941
Thanks @StatusSceptre!

[2019-01-29 08:28] ghost commented on #4011
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 08:28] ghost commented on #3997
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 08:28] ghost commented on #3997
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 08:28] ghost commented on #4011
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 08:48] ghost commented on #5341
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 09:03] cammellos commented on #7348
I had a similar issue on Linux, so probably not macos only.
I was testing some stuff and removed my Status directory, and I could not create an account. Only after I restored the directory the app worked again, although with the existing accounts.

[2019-01-29 09:07] jeluard opened #7363 "Hook pluto extension lifecycle"
### User Story

As a developer, I want my extension lifecycle to be respected.

Note that ephemeral extensions (`ephemeral?` boolean in `meta` section) should not be installed nor persisted.

Blocked by https://github.com/status-im/pluto/issues/13

### Description

*Type*: Feature

[2019-01-29 09:09] jeluard opened #7364 "Add chat.command lifecycle events"
### User Story

As a developer, I want my `chat.command` hook to have a lifecycle.

Proposed events:

* on-before-command-execution
* on-parameter-filled
* on-after-command-execution

### Description

*Type*: Feature

[2019-01-29 09:10] jeluard opened #7365 "Add wallet.settings lifecycle events"
### User Story

As a developer, I want my `wallet.settings` hook to have a lifecycle.

Proposed events:

* on-opened
* on-closed

### Description

*Type*: Feature

[2019-01-29 09:35] ej-sanmartin commented on #6996
@mandrigin Hello, I have just git cloned the repo and yarn installed with no warnings at all.

My environment:
MacOS (Mojave v10.14)
yarn (v1.13.0)
node (v11.8.0)
npm (6.5.0)

What is your environment or the environment you are trying to develop in? I can try to replicate your environment or perhaps you can use mine. Let me know soon!

![status-react_yarn_install_result](https://user-images.github

[2019-01-29 09:44] ej-sanmartin commented on #6996
@mandrigin Also, I have used nvm to change my node version to 10.0.0 as you put on your "expected behavior" in the bounty description. Also, note that it changed npm to v5.6.0. Yarn install still yields no warnings.

![status-react_npm_10 0 0_result](https://user-images.githubusercontent.com/29460583/51899233-9723c280-2380-11e9-9c57-7f84159caa54.png)

[2019-01-29 09:54] denis-sharypin commented on #7356
@rachelhamlin, @jeluard , what do you think about following already [existing and implemented wallet designs ](https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/New-send-transaction?node-id=649%3A0) and use such design:

<img width="483" alt="screenshot 2019-01-29 10 45 43" src="https://user-images.githubusercontent.com/6559881/51899322-13cf9480-23b3-11e9-8dd5-3f30b919f956.png">

Also, I think i

[2019-01-29 09:56] rachelhamlin commented on #7356
Okay for me @denis-sharypin! Would you be able to make this change this week @jeluard?

Amounts are something that are dependent on a change to pluto, but also in the works.

[2019-01-29 10:03] jeluard commented on #7356
Nice! Sure I will look at it soon.
@denis-sharypin How about the 2 other final screens (pending and failed)? Should they be updated too?
Figma: https://www.figma.com/file/D942buO2kd96KZQNIikjsPm9/Kyber-extension?node-id=0%3A1

<blockquote><img src="/file/D942buO2kd96KZQNIikjsPm9/thumbnail?ver=thumbnails/6029ad37-85c9-4fbb-a9e9-e2b484e82ef7" width="48" align="right"><div><img src="https://static.fi

[2019-01-29 10:06] rachelhamlin opened #7367 "Add "Learn more" TtT screen"
### User Story

As a user, I want more information about Tribute to Talk so that I can fully understand the feature.

### Description

*Type*: Feature

*Summary*: Add `Learn more` screen into TtT flows. There are two versions for two different places:

1. For the person setting tribute (TtT settings)
2. For the person seeing chat pay wall

#### Expected behavior
1. (this issue) Settings flow conta

[2019-01-29 10:07] rachelhamlin commented on #7367
@errorists will you just confirm when `Learn more` screen is ready for implementation? :)

[2019-01-29 10:11] vitvly commented on #7367
I've added a "Learn more" screen for the tribute owner in scope of #7304 : https://github.com/status-im/status-react/blob/bac946edb905c93324bdd5f73c02c55d14a8c629/src/status_im/ui/screens/profile/ttt/views.cljs#L216, so maybe it can stay in scope of that PR.

[2019-01-29 10:12] rachelhamlin commented on #7367
Great - assuming it uses the right copy? I'll close this.

[2019-01-29 10:12] #7367 closed, assigned to vitvly

[2019-01-29 10:21] denis-sharypin commented on #4614
сс @rachelhamlin

[2019-01-29 10:23] annadanchenko opened #7368 "Push notification is shown only on one device even if there are several paired devices with same account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Push notification is shown only on one device while same account can be recovered on several devices and these devices can be paired, so user wo

[2019-01-29 10:38] ghost commented on #6561
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 10:42] denis-sharypin commented on #7356
@jeluard yeah sure, I updated those screens. Thanks!

[2019-01-29 11:01] #7198 closed, assigned to mandrigin

[2019-01-29 11:01] #7281 closed, assigned to nobody

[2019-01-29 11:08] ghost commented on #6562
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 11:08] ghost commented on #4205
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-29 11:18] axic commented on #6562
Even if not the seed, at least the private key for an address.  I think this is a major missing feature.

[2019-01-29 11:49] Swader commented on #4205
This issue is still reproducible and should not be closed.

[2019-01-29 11:52] Swader commented on #5341
Still a big UX bummer.

[2019-01-29 11:53] Swader commented on #3997
Absolutely still a good thing to have

[2019-01-29 11:54] Swader commented on #4011
Needed.

[2019-01-29 12:30] Serhy opened #7369 "Can send tokens in Aragon Dapp in Finance section"
***Type***: Bug

***Summary***: Second `Send transaction` screen does not appear when sending tokens withing Aragon Dapp from it's Finance section (Demo project is used). It's all fine when sending ETH though.

#### Expected behavior
Second transaction appears when sending tokens withing Aragon Dapp from Finance section (Demo project is used)

#### Actual behavior
Second transaction does not appea

[2019-01-29 12:40] rachelhamlin commented on #3997
Agreed...adding to wallet's icebox on pivotal

[2019-01-29 13:42] annadanchenko opened #7370 "App crashes if join chat #status-core-dapps"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: something in #status-core-dapps makes app crash if join the chat.
Happens on hotfix for Aragon dapp and on infura hotfix (previous stable versio

[2019-01-29 13:51] jeluard opened #7371 "Add an event to display a view fullscreen"
### User Story

As a developer, I want an event allowing to display a view fullscreen.

### Description

*Type*: Feature

[2019-01-29 14:49] #6688 closed, assigned to flexsurfer

[2019-01-29 15:01] StatusSceptre commented on #4614
Just a comment here, can put on whatever priority level needed as I know there are certainly more pressing isssues. Just keeping this here as documenting this for the community because it’s been asked of me so many times.

[2019-01-29 15:02] mul1sh commented on #4158
@StatusSceptre sorry, but i'm having a bit of an issue deploying the app on my end. So let me stop the work for now so that i don't block this issue for long and then once I understand how to correctly deploy the app, I'll jump in future issues.

Sincere apologies for the inconvenience caused

[2019-01-29 15:09] StatusSceptre commented on #4158
@mul1sh we want to make sure you can build the app to successfully work, there is no rush on this issue. Have you tried following along with https://status.im/build_status/

Would love to see you continue work on this!

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/build_status/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></b

[2019-01-29 15:09] StatusSceptre commented on #4158
If you still have problems after following along there please drop a message here:

Check out this public chat on the Status app: https://get.status.im/chat/public/status-core

<blockquote><div><strong><a href="https://get.status.im/chat/public/status-core">Join the public chat: #status-core in Status</a></strong></div></blockquote>

[2019-01-29 15:21] mul1sh commented on #4158
@StatusSceptre ohh nice, thanks. I didn't know the docs for the app were available and the way i wasted so much time trying to do it on my own 🤦‍♂️ Anyway thanks for sharing, let me try building the app as per the docs.

[2019-01-29 15:35] mandrigin commented on #6996
@ej-sanmartin thanks a lot for your time!

What I get on macOS Mojave on current `develop` branch is:

[code]

I don't know why these issues aren't reproducible in your case... my `node -version` is `v10.14.1`

[2019-01-29 15:54] ej-sanmartin commented on #6996
@mandrigin hey, I'll try again soon with node v10.14.1.

Something to note, react native isn't even in v1.0.0 yet so it's naturally always updating. This often leads to dependencies being deprecated or not working like it use to, it's a race of keeping up hahaha. I'll try to replicate your error message but I have a hunch that it has something to do with the nature of react native specifically. Ma

[2019-01-29 16:00] rachelhamlin commented on #4614
FYI @StatusSceptre I totally see the value in this, but - @denis-sharypin is prioritizing keycard & teller network right now, I believe.

@denis-sharypin are you booked out on those swarms for the time being, or can you provide screens for a bounty? Feels like at least a medium bounty to me.

Also worth CC'ing @guylouis. Guy Louis, this user request to support JSON keystore has been idling for a w

[2019-01-29 16:48] ej-sanmartin commented on #6996
@mandrigin hello I tried again with your node version.

![status-react_node_10 14 1](https://user-images.githubusercontent.com/29460583/51923827-c0ad1000-23b9-11e9-9799-2d8abe893b91.png)

Let me know any other information that would be relevant to replicating your case. Perhaps try to git clone the current repo on guthub, yarn upgrade (so all packages are up to date), and then yarn install.

[2019-01-29 17:02] ghost commented on #6492
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:02] ghost commented on #6491
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:02] ghost commented on #6493
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:02] ghost commented on #6518
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:02] ghost commented on #6521
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:02] #6492 closed, assigned to nobody

[2019-01-29 17:02] #6491 closed, assigned to nobody

[2019-01-29 17:02] #6493 closed, assigned to nobody

[2019-01-29 17:02] #6518 closed, assigned to nobody

[2019-01-29 17:02] #6521 closed, assigned to nobody

[2019-01-29 17:08] ghost commented on #6456
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:08] ghost commented on #6461
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:08] ghost commented on #6477
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:08] ghost commented on #6482
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:08] ghost commented on #6481
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-29 17:08] #6456 closed, assigned to nobody

[2019-01-29 17:08] #6461 closed, assigned to nobody

[2019-01-29 17:08] #6477 closed, assigned to nobody

[2019-01-29 17:08] #6482 closed, assigned to nobody

[2019-01-29 17:08] #6481 closed, assigned to nobody

[2019-01-29 17:15] mandrigin commented on #6996
@ej-sanmartin we specifically don't use `yarn update`, we upgrade dependencies only after looking at them from the security perspective. So, you think it is some outdated dependency that does it? If your `yarn.lock` file differs, please submit a PR with updates so we can review and approve it.

[2019-01-29 17:37] nofwayy commented on #6996
@mandrigin I'm actually able to reproduce your warnings.

Running on Mojave, reproduced with nodeJS version 10.12.0 and 10.15.0
Here is my output :

[code]

@ej-sanmartin if you look at your `node_modules` after running `yarn install`, I'm guessing this will be empty... therefore the fact that you have no warnings.

[2019-01-29 17:58] Serhy commented on #7332
Updated description, as it appeared that it's all fine in certain cases.
Issue appears when TO the contact who will sent transaction later - the contact-request been sent by a future recipient.

[2019-01-29 18:31] ej-sanmartin commented on #6996
@mandrigin that makes sense, considering the nature of your product. However, there's a chance that the updates for some of these dependencies do include patches for these errors which could help your issue. I'd suggest making a branch and first upgrading all the dependencies. Check to see if any security issues arise and if not maybe consult your team that this update, in this case, won't be brea

[2019-01-29 18:37] #7369 closed, assigned to nobody

[2019-01-29 18:48] #7282 closed, assigned to cammellos

[2019-01-29 18:57] annadanchenko commented on #7370
fixed in status-go hotfix for 0.9.32 released on January 29

[2019-01-29 18:57] #7370 closed, assigned to cammellos

[2019-01-29 19:01] #7344 closed, assigned to nobody

[2019-01-29 19:18] speedyFixer commented on #7075
@jeluard Yes, I'm going to test it with unit tests.

[2019-01-29 21:01] nofwayy commented on #6996
Ok so here is a summary

- `react-native-firebase` warning

You're using a fork of `react-native-firebase` which is requiring a peer dependency for `react-native` `>= 0.57.0-rc.3`. And, you are also using a fork of `react-native` with a version equal to `0.56.0`.
At some point this was ok (commit [87cf8d900ce83e1a2a5903cf1a3359015600888b](https://github.com/status-im/react-native-firebase/commit/)

[2019-01-29 21:53] okwme commented on #5461
still waiting for this, any progress?
would really love for my app's authentication to work with Status
https://clovers.network

<blockquote><img src="https://clovers.network/img/icons/apple-touch-icon.png" width="48" align="right"><div><img src="https://clovers.network/img/icons/favicon-16x16.png" height="14"> Clovers</div><div><strong><a href="https://clovers.network/">Welcome | Clovers</a></str

[2019-01-30 07:15] speedyFixer commented on #7075
Hi @jeluard when you say: "that might require user to provide some hints" , do you refer to ABI contract interface? right? I will use "web3.eth.abi.decodeLog" for decode it and convert it to a Clojure map.

[2019-01-30 08:14] tbenr commented on #1762
@krisc i had started experimenting #6144 . I planned to continue once I finish #6597

[2019-01-30 08:33] jeluard commented on #5461
@flexsurfer Did we make progress on this?

[2019-01-30 08:42] jeluard commented on #7075
Actually we have our own facility to decode ABI style hints (see the ns [abi-spec](https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/ethereum.cljs#L294)).
You can find some example of what I was thinking [here](https://status.im/extensions/play.html?hash=QmaKKKUgDsJKQJ5Q9BJg8V1SRDhhiKbyyQycoExF3eehUZ) e.g. `:params ["address" "address" "uint256"]`
If you can, do not r

[2019-01-30 08:42] denis-sharypin commented on #4614
I think this stuff is more related to a profile area of work. And @andmironov is in charge for it. @andmironov dude, will you have time for this?

[2019-01-30 09:16] guylouis commented on #4614
@rachelhamlin I clearly see the value in this too.
I also think we have more pressing issues in the coming weeks to tackle though. Keycard/Wallet team is pretty much fully focused on getting to a Keycard integration MVP point.

[2019-01-30 09:44] vkjr commented on #7351
@yenda, will you take fixing this one?

[2019-01-30 09:47] flexsurfer commented on #5461
@jeluard only on go side i believe, if we want to make progress we need to add it in our roadmap

[2019-01-30 09:52] okwme commented on #5461
pls do 🙏
this is an essential feature to allow users with no ether to participate

[2019-01-30 10:08] flexsurfer opened #7374 "Stickers Market design polish"
i did a design review and here are the issues I found

**Polish**
- [x] the icon for Commands is black, should be Grey (common, not related to stickers)
- [x] like [I've mentioned before](https://github.com/status-im/status-react/pull/7210#issuecomment-451949739), the Sticker Menu should grab its height from the system keyboard
- [x] The 'Get stickers' button doesn't have touch feedback, it should

[2019-01-30 10:53] annadanchenko opened #7376 "Endless fetching messages for fresh account with no chats on Android 9"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For more than 5 minutes I see moving indicator for fetching messages on fresh account with no chats. Relaunching app for 3-4 times does not help

[2019-01-30 11:09] vitvly commented on #7332
Strange, but I still cannot reproduce it. What I did:

1. Create a new account (Android emulator).
2. Send it some funds from Metamask (Mainnet)
3. In emulator, copy Status address and click `Join private chat` in Status Desktop. Then send a message there.
4. In emulator, I see a new chat, go there, click `Add to contacts`.
5. In emulator, click `Join public chat` and join `testissue1`.
6. In emul

[2019-01-30 11:52] churik commented on #6561
Not reproducible

[2019-01-30 11:52] #6561 closed, assigned to nobody

[2019-01-30 11:55] churik commented on #6639
Mostly Done, so can be closed

[2019-01-30 11:55] #6639 closed, assigned to nobody

[2019-01-30 12:15] churik commented on #6660
still reproducible

[2019-01-30 12:16] churik commented on #6686
still reproducible

[2019-01-30 12:17] churik commented on #6696
Still reproducible

[2019-01-30 13:03] annadanchenko opened #7380 "Message bubble is too wide on iPhone 5s (can't read part of text) and on Galaxy S6 (very close to screen edge)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: there are 2 issues with bubble width:
1. end of the string is not visible in the bubble on iPhone 5s
![img_4257](https://user-images.githubuserc

[2019-01-30 13:08] errorists commented on #7380
🙏 thank you @annadanchenko for finding that, indeed the design wasn't implemented correctly. @yenda There should be a minimum margin of 64px on the larger side, meaning it cannot be smaller than 64 and if required we decrease the width of the message till it fits.

[2019-01-30 14:08] churik commented on #6730
doesn't make any sense after https://github.com/status-im/status-react/pull/7170 , so I guess can be closed

[2019-01-30 14:08] #6730 closed, assigned to nobody

[2019-01-30 14:10] churik commented on #6798
Still reproducible

[2019-01-30 14:16] churik commented on #7013
Not reproducible anymore

[2019-01-30 14:16] #7013 closed, assigned to cammellos

[2019-01-30 14:19] #7098 closed, assigned to nobody

[2019-01-30 14:20] churik commented on #7101
Already  fixed

[2019-01-30 14:20] #7101 closed, assigned to nobody

[2019-01-30 14:21] churik commented on #7115
Can't reproduce

[2019-01-30 14:21] #7115 closed, assigned to nobody

[2019-01-30 14:22] churik commented on #7159
Fixed already

[2019-01-30 14:22] #7159 closed, assigned to vkjr

[2019-01-30 14:23] churik commented on #7187
Can't reproduce on nightly 30/12/2019

[2019-01-30 14:23] #7187 closed, assigned to nobody

[2019-01-30 15:58] #7332 closed, assigned to vitvly

[2019-01-30 16:26] StatusSceptre commented on #6941
Approved @mestorlx

[2019-01-30 16:33] mandrigin commented on #6996
@nofwayy thanks for the great overview!

We want to upgrade react-native to 0.58 and get rid of our own fork of it. All the issues we had are fixed upstream. PRs appreciated, but keep in mind that that requires at least some sanity testing the app.

Again, let's try to upgrade this dependency as a separate PR so we can review and test that it works.

Tell me if you are interested in proceeding!

[2019-01-30 16:43] krisc commented on #7354
Can't we already do this with `chat.command/send-message`?

[2019-01-30 17:18] yenda commented on #7380
I'm looking into it, will have a fix tomorrow morning

[2019-01-30 18:04] jeluard commented on #7354
No it's specific to chat command message.

[2019-01-30 19:15] StatusSceptre commented on #7046
Is  this still a relevant bounty @PombeirP ?

[2019-01-30 19:18] StatusSceptre commented on #7044
Is this issue still relevant @PombeirP

[2019-01-30 19:18] StatusSceptre commented on #7043
Is this issue still relevant? @PombeirP

[2019-01-30 19:19] StatusSceptre commented on #4606
@PombeirP Seems like there was a bit of back and forth with what we'd do with this option, any finality / clarity around scope on this one if it's still being considered for a bounty.

[2019-01-30 20:44] krisc opened #7384 "Update reference for view components"
@jeluard suggested I update the documentation for view components on this page (https://status.im/extensions/reference_views.html) to reflect the latest improvements.

@StatusSceptre  I just have a simple question and then I can finish this in less than a day.

My question is do components still have a `style` property? In the code here (https://github.com/status-im/status-react/blob/develop/src/s

[2019-01-30 21:03] #7384 closed, assigned to nobody

[2019-01-30 21:04] krisc commented on #7384
Sorry, I think I may have posted this in the wrong repo.

[2019-01-30 21:41] pedropombeiro commented on #7043
Yes, coincidently I just filed a PR for it today: https://github.com/status-im/status-react/pull/7383

[2019-01-30 21:44] pedropombeiro commented on #7046
It is, but probably only makes sense to start once we add support for displaying PNs with sender and full message text.

[2019-01-30 21:47] pedropombeiro commented on #4606
I think if we do it like the Messages app in Android, where it just adds a "Generate Preview" button to unfurl on-demand, it would be less contentious.

[2019-01-30 21:53] pedropombeiro commented on #7044
To me it makes perfect sense, not to have to guess which message the PN actually refers to once you tap it (will become even more important once we start showing the message contents on the PN).

[2019-01-30 22:00] krisc commented on #7354
Oh I see. So would this be a new event itself? Maybe you could give an example of how this would look like?

[2019-01-31 08:37] jeluard commented on #7354
Right a new event would be perfect.
A potential syntax could be:
[code]

[2019-01-31 08:38] jeluard commented on #7384
@krisc `style` is special, it is available for all components.

[2019-01-31 08:45] asemiankevich commented on #7006
@dmitryn

1. [Plus] button is always spinning when i create account with Keycard and logged in right after account creation:

![image](https://user-images.githubusercontent.com/28752642/52041797-83c55280-254c-11e9-9365-bada5fd9e73a.png)

2. Card is never detected when i try to login with a keycard.

![image](https://user-images.githubusercontent.com/28752642/52042208-a0ae5580-254d-11e9-9417-b4fc44

[2019-01-31 11:25] pedropombeiro commented on #3451
@dhamaniasad are you working on this? I was looking at the issue description, and quite a bit has changed since it was initially written, namely we now don't use notifications but instead data-only notifications, so in the case of iOS, if the app isn't running it won't be invoked by the OS to notify it of a new PN (that is an issue we're looking into as well).

I happened to be working in this are

[2019-01-31 11:31] jeluard commented on #7374
Also consider:

* adding desktop sticker rendering
* allowing to reply with a sticker

[2019-01-31 14:41] ghost commented on #6576
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:41] ghost commented on #6575
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:41] ghost commented on #6191
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:41] ghost commented on #6573
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:41] ghost commented on #6572
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:41] ghost commented on #6570
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 14:41] ghost commented on #6530
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-31 14:41] ghost commented on #5316
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-31 14:41] #6530 closed, assigned to nobody

[2019-01-31 14:41] #5316 closed, assigned to nobody

[2019-01-31 14:43] axic commented on #6573
I think this is still a good feature and other wallets offer it (such as imToken).

[2019-01-31 15:01] 0x-r4bbit commented on #6576
This is still an issue with the latest nightly.

[2019-01-31 15:12] mestorlx commented on #6941
@StatusSceptre great thanks!
I am working on this already. However I am having issues compiling the iOS test. Any Gitter or slack channel where I can ask about it?

[2019-01-31 15:45] Swader commented on #6191
No longer an issue.

[2019-01-31 15:45] #6191 closed, assigned to nobody

[2019-01-31 15:48] Swader commented on #6570
This issue is still active in some way - on the Windows build (not sure about others) the chat will scroll out of view as if by unbalanced inertia caused by some kind of roll-your-own smooth-scroller. It is impossible to scroll with precision with it.

[2019-01-31 15:48] Swader commented on #6530
Would still be nice to have

[2019-01-31 15:49] Swader commented on #5316
Still important.

[2019-01-31 16:08] ghost commented on #6550
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-31 16:15] StatusSceptre commented on #6941
@mestorlx here ya go!
Check out this public chat on the Status app: https://get.status.im/chat/public/status-core

<blockquote><div><strong><a href="https://get.status.im/chat/public/status-core">Join the public chat: #status-core in Status</a></strong></div></blockquote>

[2019-01-31 16:45] churik opened #7390 "No validation for minimal amount for sending ETH and tokens if you paste amount in "Amount" on "Send transaction" screen"
### Description

*Type*: Bug
*Summary*: no validation message "Amount is too precise" is shown if amount is pasted from the clipboard and it is less than minimal or it is typed for tokens with decimals > 4 (it is not reproduced for `AST` token with 4 decimals, but it is reproducible for other tokens, so it is an assumption).

#### Expected behavior
"Amount is too precise"

#### Actual behavior
can

[2019-01-31 18:12] Serhy opened #7391 "App crash: ...mailserver/check-connection-timeout], :db nil when account logs out"
**_Type_**: Bug

**_Summary_**: When user logs out of account, app may crash with the `fx/defn expects a map of cofx as first argument got {:event [:mailserver/check-connection-timeout], :db nil, :now 1548952778992}.... ` like error (please see full error in logs). I have no strict steps to reproduce so far. But while trying to reproduce it I can say that this crash happened when:

* create new ac

[2019-01-31 20:31] ghost commented on #6538
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-01 01:22] yenda commented on #7380
Ok it should be good now, the old css really didn't care about the minimum left and right margin which is why only increasing the width caused issues on smaller device. I rewrote part of the css in the PR to make sure there is always 64px left and right

[2019-02-01 01:32] yenda opened #7394 "Status Desktop doesn't work on Linux"
# Problem

On Linux Mint Status Desktop doesn't start anymore in nightlies, all I get is a white screen. It doesn't go far enough to produce any log.

# uname -a
Linux desktop 4.15.0-20-generic #21-Ubuntu  x86_64 GNU/Linux

[2019-02-01 04:29] speedyFixer commented on #7075
I got it @jeluard thanks, I have some questions about hints providing by users, We can use `params` for decode data from logs, but We need "indexed" keyword for decode topics[n] where 0 < n < 4.

Reading the code I understood that if `:type` is provided by user then It's a indexed topic for encode purposes. https://github.com/status-im/status-react/blob/7985ee838ef2ae88d9c908f834c13d63bef7f546/src

[2019-02-01 05:29] rasom commented on #7288
@errorists @andmironov i can't find this color in "Status Color", should i still use it?

![screen shot 2019-02-01 at 07 27 26](https://user-images.githubusercontent.com/2364994/52104380-13254100-25f3-11e9-89f5-4d3c746b4c90.png)

[2019-02-01 06:54] rasom commented on #7288
That's how it looks on iphone X simulator currently, `gray-transparent-40` is used for separator

![screen shot 2019-02-01 at 08 53 10](https://user-images.githubusercontent.com/2364994/52107381-d3fced00-25fe-11e9-8fbf-0bbaf21a3af2.png)

[2019-02-01 07:08] jeluard commented on #7075
Hey @speedyFixer ! Nice to see some great progress!

Re. adding `indexed` yes please definitely!
Re. key names: same as in contract would probably be the most convenient

[2019-02-01 07:34] andmironov commented on #7288
Nice catch! Please use **light grey** (#EEF2F5 RGB: 238, 242, 245)  instead! mockup updated
(not critical or important)

[2019-02-01 09:17] Serhy commented on #7391
Reproduced again via switching between three accounts I have. And on a third login and I was able to see Home screen - then was able to swich to 'Profile' screen and same error(s) (there are three of them in logs) brought the app crash.

Logcat when I switched between three accounts:
[logcat_with_three_exceptions.log](https://github.com/status-im/status-react/files/2820903/logasdfsdf22.log) (Searc

[2019-02-01 10:10] churik commented on #7394
@vkjr can be related to https://github.com/status-im/status-react/issues/7348

[2019-02-01 10:32] churik commented on #7362
OK, on my account I can't receive invitations to group chats anymore if they are sent from a particular user.

So as `userA` I received ~4-5 invites to group chats from `userB` and was able to chat normally but after some regular message I can't receive messages in group chats and invitations to group chat from `userB` anymore
in my case `userA` - reproducible for both devices with `userA` account

[2019-02-01 13:41] ghost commented on #6540
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-01 13:41] #6540 closed, assigned to nobody

[2019-02-01 13:59] Serhy commented on #6540
aftifaqts.club is not available anymore, so closed.

[2019-02-01 14:17] dhamaniasad commented on #3451
@PombeirP No worries, I hadn't realized when I applied for the bounty that this is not a regular React Native project but that in fact it uses Clojure. So I don't think I'd be able to solve the issue right now anyway. I'll remove myself from the issue on Gitcoin.

But it'd be cool if you can look at #7398, a PR I made for another bounty.

[2019-02-01 15:18] tbenr commented on #6597
@jeluard what about using https://www.openstreetmap.org/ within the webview instead of the usual googlemaps?

<blockquote><img src="https://www.openstreetmap.org/assets/osm_logo_256-cde84d7490f0863c7a0b0d0a420834ebd467c1214318167d0f9a39f25a44d6bd.png" width="48" align="right"><div><img src="/assets/favicon-16x16-1772a97682f5b3f45c3f98c18f98634808b637a5595026962709fb54af9b9044.png" height="14"> Ope

[2019-02-01 15:41] yenda opened #7399 "Use same UI and navigation on desktop and mobile"
# Problem

Desktop is currently using a different set of screens and navigation system, which adds up to the burden of maintaining the platform.

# Implementation

Check what is required to have desktop work with the current mobile screens. We can use conditionals like we already have for ios/android for platform specific things but overall that would remove the only limitation we have for having

[2019-02-01 15:48] hesterbruikman opened #7400 "Update Beta alert"
# Problem
When I create a (new) account on Status Beta, I receive an alert that:
- informs me about the Beta state
- informs me to manually select Mainnet if I'm upgrading an existing account
- warns me that the app is on Mainnet and transactions are real, and transfers to testnets

The message is long, obtrudes the UI and the number of users still upgrading from pre-beta likely has decreased.

Th

[2019-02-01 16:18] jeluard commented on #6597
@tbenr Definitely! Now the bulk of the work is to implement and expose the webview component! Special care to security, permissions and ways to pass data around :)

Maybe we can brainstorm that together before?

[2019-02-01 16:22] gravityblast opened #7401 "privacy leak - sharing contact info without user action"
# Problem

Initially it was possible to have a 1:1 chat with a user without sharing personal contact information like name and profile picture.
It looks like it's not possible anymore, because contact informations are sent automatically to the other user when opening a 1:1 chat.

# Example

1 - Alice writes a messages in a public chat
2 - Bob sends a message to the same public chat
3 - Alice canno

[2019-02-01 17:11] ghost commented on #4488
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-01 18:32] Serhy commented on #4158
I can confirm issue still present with 0.9.33 Develop/Release builds.
Message counter (near the top-left `<` button on chat view) does not disappear when navigating to chat view from user Profile / Wallet modal / Group info(for Group chat) views

[2019-02-01 19:51] ghost commented on #6542
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-01 20:59] nofwayy commented on #6996
@mandrigin You're welcome. Definitely interested ! Waiting for your Gitcoin approval for this job then.
Also, it seems to me those changes would feet in other issues.

[2019-02-02 05:22] ghost commented on #6539
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-02 05:22] #6539 closed, assigned to nobody

[2019-02-02 08:45] Swader commented on #6542
Still active

[2019-02-02 08:48] Swader commented on #4488
Still reproducible. Seriously, this is just CSS.

[2019-02-02 08:52] Swader commented on #6540
You can still test it locally: https://github.com/ConsenSys/artifaqt

<blockquote><img src="https://avatars1.githubusercontent.com/u/10818037?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/ConsenSys/artifaqt">ConsenSys/artifaqt</a></strong></div><div>Artifaqts in Prague for Devcon4. C

[2019-02-02 09:27] Swader opened #7402 "Oauth-login dapps stuck in infinite loop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to log into Oauth websites in the dapp browser so I can use them.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actu

[2019-02-02 10:32] ghost commented on #6252
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-02 12:00] jakubgs commented on #6252
NO! Bad bot!

[2019-02-02 12:01] tbenr commented on #6597
@jeluard sure! do you want to organize a meeting? In the meantime I start experimenting with webview and extension components.

[2019-02-02 12:03] tbenr commented on #6596
@StatusSceptre great! Thanks again!! 🥇

[2019-02-02 13:42] ghost commented on #6545
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-02 13:42] #6545 closed, assigned to nobody

[2019-02-02 16:56] austintgriffith commented on #7266
Okay, we finally got it audited, deployed, and verified:
https://blockscout.com/poa/dai/address/0x3e50bf6703fc132a94e4baff068db2055655f11b/contracts

Name: buffiDai
Symbol: BUFF
Address: 0x3e50bf6703fc132a94e4baff068db2055655f11b
Image:
![bufficorn](https://user-images.githubusercontent.com/2653167/52166924-ba2bda80-26d0-11e9-9635-4355afdb835c.png)

<blockquote><img src="/poa/dai/images/favicon-4b

[2019-02-02 17:21] StatusSceptre commented on #7204
Hey @zachzundel do you still intend to work on this issue?

[2019-02-02 18:09] austintgriffith commented on #7266
Here is a new image, they wanted to float the dai logo on top:
![buffidailogo](https://user-images.githubusercontent.com/2653167/52167607-011ecd80-26db-11e9-8650-af771fac2a90.png)

[2019-02-02 20:16] 3ach commented on #7204
Yes I am sorry I have been at a conference this week. If I haven't had time
in the next week to finish it I will release it back into the Gitcoin
public pool.

On Sat, Feb 2, 2019 at 10:21 AM StatusSceptre <notifications@github.com>
wrote:

[2019-02-03 08:47] anukul commented on #7355
Getting the following error when trying to install an extension:

[code]

Also, the app takes an unusually long amount of time at the splash screen in AVD.

[2019-02-03 09:59] srisankethu commented on #7204
@StatusSceptre Can I give it a try?

[2019-02-03 10:22] ghost commented on #6588
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-03 11:18] mandrigin commented on #6588
@jonathanbarker this issue is fixed in the nightlies and the fix it will be released in 0.9.33

[2019-02-03 11:18] #6588 closed, assigned to nobody

[2019-02-03 12:52] ghost commented on #6361
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-03 13:18] StatusSceptre commented on #7204
Please allow @zachzundel to complete it next week if he has time like stated.

[2019-02-03 13:39] vkjr commented on #7348
Wasn't able to reproduce this with Mojave 10.14. Will try updating to 10.14.3

[2019-02-03 14:22] ghost commented on #6603
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-03 14:22] ghost commented on #6600
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-03 14:42] ghost commented on #6608
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-03 15:02] ghost commented on #5348
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-03 15:13] tbenr commented on #6597
@jeluard  what I did so far:

[demo](https://imgur.com/p2jFk2p)

[extension](https://status-im.github.io/pluto/try.html?hash=QmVAEDTXZNZzWB1eVb11dsaNkRjwHJbmeZWuDDp4m8HohX)

[2019-02-03 19:35] jeluard commented on #6597
@tbenr Very cool! Any chance you can share some code so that I can take a look?
Also what do you think about exposing a `webview` component too?

[2019-02-04 08:13] Sprimage commented on #7045
@StatusSceptre @PombeirP  i'm interested in this issue

[2019-02-04 08:32] pedropombeiro commented on #7045
@Sprimage you can contact me on Status with the contact code `0x04325367620ae20dd878dbb39f69f02c567d789dd21af8a88623dc5b529827c2812571c380a2cd8236a2851b8843d6486481166c39debf60a5d30b9099c66213e4` if you have any questions on this.

[2019-02-04 09:01] rachelhamlin commented on #7266
Great work guys!

@austintgriffith can we get some tokens for testing? You can send to 0x06E7D699c4842E712E32d66C15F7e451c0E2a496

[2019-02-04 09:06] #7346 closed, assigned to jeluard

[2019-02-04 09:18] guylouis commented on #7266
@goranjovic @mandrigin can we add support for this BUFF token in 0.9.33 ?

[2019-02-04 09:52] Serhy opened #7408 "No offline messages received and endless 'Connecting...' spinner at top of Home/Chat views"
***Type***: Bug

***Summary***: Some of mailservers doesn't work. No message history retrieved and endless `Connecting...` label at of the chat/home views if contact connected to any of:

`mail-03.do-ams.eth.beta`
`mail-02.gc-us-central1-a.eth.beta`
`mail-02.ac-cn-hongkong-c.eth.beta`
`mail-01.gc-us-central1-a.eth.beta`

#### Expected behavior
Message history retrieved for the last 24h. No endless

[2019-02-04 10:21] churik opened #7410 "Message in 1-1 chat leads to error when devices are paired"
### Description

*Type*: Bug

*Summary*: having paired devices with 0.9.32 (or with RC 0.9.33 https://ci.status.im/job/status-react/job/release/job/release%252F0.9.33/11/)  and latest desktop nightly (2019/02/04) leads to error at attempt to send the message from mobile and appearing additional chat with own user messages after app restarting

#### Expected behavior
can see 1-1 messages in desktop

[2019-02-04 10:23] rstormsf commented on #5461
TrustWallet, Metamask, Nifty Wallet - all of them support this wonderful EIP-712
Please check it out as well

Don't forget to support
`window.ethereum.sendAsync`
as well

https://twitter.com/ethstatus/status/1092298498425450496

<blockquote><img src="https://pbs.twimg.com/profile_images/966759182589308928/s5rZXoWk_400x400.jpg" width="48" align="right"><div>Twitter</div><div><strong><a href="https:

[2019-02-04 11:00] Serhy opened #7411 "'TypeError: network request failed' when tap on attempt to connect to POA Network"
***Type***: Bug

***Summary***: Can't connect to `POA network` network from the account network settings. When user with stable WiFi connection taps on 'Connect' button upon 'POA network' the `TypeError: network request failed` error pop-up appears.

#### Expected  behavior
User can connect to `POA Network` from Network settings with no errors.

#### Actual behavior
'TypeError: network request fai

[2019-02-04 11:13] jakubgs commented on #7408
Let me investigate those hosts.

[2019-02-04 11:23] jakubgs commented on #7408
I see no red canaries for mailservers, for example:
https://canary.status.im/icingaweb2/dashboard#!/icingaweb2/monitoring/service/show?host=mail-03.do-ams3.eth.beta&service=statusd-mail

The RPC healthcheck for `statusd-mail` instance on `mail-03.do-ams3.eth.beta` is green:
https://consul.status.im/ui/do-ams3/nodes/mail-03.do-ams3.eth.beta

But the logs show it working just fine:
[code]

Manual He

[2019-02-04 11:23] jakubgs commented on #7408
Oh, btw, you mention only hostname(`mail-03.do-ams3.eth.beta`) but you don't say which port. Can you check that for me?

[2019-02-04 11:29] cammellos commented on #7410
looking into this, not a release blocker as not in 0.9.33 or caused by it

[2019-02-04 11:49] Sprimage commented on #7045
i messaged you @PombeirP . In the meantime, can you accept the bounty so i can start working on it?

[2019-02-04 11:49] jakubgs commented on #7408
There is a recent change that is related to wifi issues that hasn't been merged yet.
Issue: https://github.com/status-im/status-react/issues/6645 https://github.com/status-im/status-react/issues/6351
PR: https://github.com/status-im/status-react/pull/7382
As part of that change we've dropped secondary whisper containers from our hosts(though mailservers should be unaffected) and now boot/mail/whis

[2019-02-04 11:55] hesterbruikman commented on #7401
From a UX perspective this is undesireable behavior as regardless of whether we want to expose identities in advance of sending a message (don't think we do), we currently don't communicate this system state well.

[2019-02-04 12:00] pedropombeiro commented on #7045
That's not up to me.

On Mon, 4 Feb 2019, 12:49 Adetayo Timilehin <notifications@github.com wrote:

[2019-02-04 12:05] jakubgs commented on #7408
I'm looking at the other hosts and they work just fine, for example `mail-01.gc-us-central1-a.eth.beta`:
[code]
The canary returns fine on both old `30504` and `443`:
[code]
[code]
The mailserver is just fine as far as I can tell.

[2019-02-04 13:00] cammellos commented on #7401
I believe it was done during the move to the new protocol, as a mean to exchange a key (without the contact request the two users would not be able to communicate). That mechanism has been now removed, and this simply looks like an artifact of that choice, so there's no harm in removing. Push notifications will be affected in the sense that if you don't add someone in your contacts, when they send

[2019-02-04 13:02] ghost commented on #5354
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-04 13:02] Sprimage commented on #7045
Ok

[2019-02-04 13:57] Serhy commented on #7408
@mandrigin
On Develop 0.9.33 build with the next scenario:
1) Open Status
2) Create new account
3) Switch to `mail-02.ac-cn-hongkong-c.eth.beta` mailserver
4) Join #status public channel
5) Wait untill message history is fetched (for ~20 messages it took 4-5 minutes to appear in chat)
Actual result: During above scenario execution i've gathered 46MB logcat (logcat filtered by status PID). There ar

[2019-02-04 14:32] ghost commented on #5456
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-04 14:42] #7380 closed, assigned to nobody

[2019-02-04 16:15] churik opened #7417 "PNs are not coming for contacts which were added through device sync"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: when the user appears in contacts after device sync - PNs are not received for new messages in 1-1 chat.

#### Expected behavior
can see PNs

#### Actual behavior
no PNs

### Reproduction

- Create account (User A, device 1)
- Start 1-1 chat with User B (User A, device 1)
- Send several messages as User B (User B

[2019-02-04 16:24] pablanopete commented on #5461
@flexsurfer @jeluard is this issue trivial enough to add a bounty to since it's not on the current roadmap and we've had a few asks for it?

[2019-02-04 16:25] austintgriffith commented on #7266
So, anyone can buy into buffiDai. You just go to buffidai.io, click exchange, and move xDai into buffiDai:
![image](https://user-images.githubusercontent.com/2653167/52221545-9d251200-285e-11e9-9054-eec556ebafc2.png)

Also, I sent you $0.25 in BUFF:
![image](https://user-images.githubusercontent.com/2653167/52221604-c0e85800-285e-11e9-9ef8-e61d71cac2c7.png)

[2019-02-04 16:25] #7410 closed, assigned to cammellos

[2019-02-04 16:26] hesterbruikman commented on #7401
@corpetty what's your view on this?

[2019-02-04 16:26] annadanchenko commented on #7376
@mandrigin tried again on build 11 for release 0.9.33 and can reproduce again: see Fetching indicator and then Connecting...
[Status.log](https://github.com/status-im/status-react/files/2828876/Status.log)
[geth.log](https://github.com/status-im/status-react/files/2828877/geth.log)
[logcat.log](https://github.com/status-im/status-react/files/2828882/logcat.log)

however if I join at least some pub

[2019-02-04 16:27] yenda commented on #7417
If I'm not mistaken the fcm token is per device. After receiving new contacts through sync the app should communicate the fcm token of the new device and the contacts would need to send a notification to each device. I don't think the notification code currently handles sending multiple notifications

[2019-02-04 16:29] corpetty commented on #7401
Yes, please remove.  you should be able to contact a public key (which will be better w.r.t. spam after TtT) but the profile shouldn't be exposed until after the contact has been added.

[2019-02-04 16:38] pablanopete commented on #7411
It could possibly be that since the Infura changes that POA network also changed its RPC connection.

[2019-02-04 16:40] cammellos commented on #7401
@hesterbruikman I take the same goes for when I copy and paste the public key in `Start new chat` or use an ENS name? (currently I believe they are also added as contacts)

[2019-02-04 16:44] hesterbruikman commented on #7401
IYes, thanks for bringing that up. IMO only an explicit 'Add to contacts' should lead to adding people to a contact list. There might be an exception in Tribute to Talk where I believe people are added to eachothers contact list upon release funds from escrow. cc @rachelhamlin

[2019-02-04 16:44] jeluard commented on #5461
@pablanopete It's on our roadmap now.

[2019-02-04 16:44] Serhy commented on #7408
While testing https://github.com/status-im/status-react/pull/7415 I faced constant 'Connecting...' issue on each mailserver.
Having offline inboxed message history (in 1-1 chat with 100 message and contact joined to public chats too), I switched to each mailserver, waited ~10 sec to confirm 'Connecting...' didn't disappear. Each mailserver confirmed on iOS and Android.

[logcatNoConnection.log](ht

[2019-02-04 16:45] jeluard commented on #5461
@pablanopete Can it be removed from bounties?

[2019-02-04 16:46] SiddigZeidan commented on #7411
Infura has disconnected the POA nodes, so Status needs to switch the RPC URL from the Infura one to https://core.poa.network . Sorry about the inconvenience guys
https://forum.poa.network/t/infuras-poa-core-nodes-to-be-disabled-on-2-1-19/1881

<blockquote></blockquote>
<blockquote><img src="https://discourse-cdn-sjc1.com/business5/uploads/poa1/optimized/2X/e/e1036f7b9bf2894593cb84c2c6a12c26e2e1a9d

[2019-02-04 16:54] pablanopete commented on #5461
Yup no problem! Thanks @jeluard

[2019-02-04 16:57] annadanchenko commented on #7376
TRACE log level geth.log: [geth.log](https://github.com/status-im/status-react/files/2829011/geth.log)

contains many msg="Waiting for a peer to restore communication"

[2019-02-04 17:03] pablanopete opened #7418 "Recover account screen only has 1 password field"
# Problem

When trying to recover an account in status when I already have a current account there's only 1 field for password which could lead to me making a typo / locking me out.

# Expected

When recovering an account show two prompts with a 'confirm' for password so that a typo doesn't lock me out  and I'm sure of my  password

Area in question:

![img_4089](https://user-images.githubusercont

[2019-02-04 17:09] Swader commented on #5456
Not stale

[2019-02-04 17:09] Swader commented on #5354
Not stale

[2019-02-04 17:29] StatusSceptre commented on #7075
@speedyFixer Great job so far, have snoozed the gitcoin bot warnings while you're working on this.

[2019-02-04 17:43] krisc commented on #7354
@StatusSceptre Can I can approved to work on this soon? I have a lot of time this week for this.

[2019-02-04 17:44] StatusSceptre commented on #7045
@Sprimage Accepted to start work.

[2019-02-04 17:48] StatusSceptre commented on #7354
approved!

[2019-02-04 17:56] StatusSceptre commented on #6996
@nofwayy you've been approved to start work on this one.

[2019-02-04 17:58] pablanopete commented on #4158
No problem @mul1sh just keep us updated on your work if you have a WIP or need any other assistance!

[2019-02-04 18:00] annadanchenko commented on #7376
if try on PR https://github.com/status-im/status-react/pull/7414 (Android build 1) then have similar issue
logs:
[geth.log](https://github.com/status-im/status-react/files/2829227/geth.log)
[Status.log](https://github.com/status-im/status-react/files/2829230/Status.log)

[2019-02-04 19:21] annadanchenko commented on #6505
have same issue (default Gas price is 0 Gwei) on https://github.com/status-im/status-react/pull/7407

[2019-02-04 19:28] annadanchenko commented on #7417
PNs in general are not received on multiple devices https://github.com/status-im/status-react/issues/7368

[2019-02-04 19:29] hesterbruikman commented on #7400
**Proposed copy**

Disclaimer
Status is in Beta and on the Ethereum Mainnet. Use it wisely. Don't store more crypto than you need for testing and only share data with people you trust. By using the app you assume full responsibility for all risks concerning your data and funds.

![beta alert](https://user-images.githubusercontent.com/35233054/52231925-6e895480-28bb-11e9-91ad-b2ddc02e93cb.png)

[2019-02-04 20:07] StatusSceptre commented on #6505
This is particularly important for networks like xdai which don’t have an api to pull gas estimates

[2019-02-04 20:10] #7266 closed, assigned to goranjovic

[2019-02-04 20:27] krisc commented on #7354
@jeluard can you confirm that I can use `commands-sending/send` to accomplish this?

[2019-02-05 01:39] StatusSceptre commented on #7352
You've been approved @emmaodia to start work

[2019-02-05 02:15] emmaodia commented on #7352
Yes. I'm still working on this. Thank you for the reminder.

[2019-02-05 02:48] StatusSceptre commented on #7352
Great just let us know if you need any help! Build and other documentation is here https://status.im/docs/

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/docs/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></blockquote>

[2019-02-05 04:00] Sprimage commented on #7045
Thanks @StatusSceptre Please check your inbox @PombeirP i messaged you since

[2019-02-05 06:58] jeluard commented on #7354
@krisc No, `commands-sending/send` is specific to sending commands. Here the goal is to send a regular string message to `any` chat, identified by an address or a channel name.

[2019-02-05 07:38] cammellos commented on #7417
Correct, currently the push notifications system only handles 1 device, I can probably work on adding support for multiple devices, but it's not a quick fix (likely requires a protocol change).

[2019-02-05 07:49] pedropombeiro commented on #7045
I'm on vacation this week so I might not respond or check for messages regularly. Probably more than 24 hours have passed since your message, so I'm not able to retrieve it from the mail server.

[2019-02-05 07:57] Sprimage commented on #7045
I messaged you again. Any other way i can chat with you then?

[2019-02-05 08:16] mandrigin commented on #7417
We have it on our roadmap, btw

[2019-02-05 08:24] cammellos commented on #7417
ah cool, I don't mind owning this, as I have already an idea on how to implement it.

[2019-02-05 08:27] rachelhamlin commented on #7266
**Nvm** - I'm told tokens have changed hands :) cheers!

Hey @austintgriffith @dbe! Just a reminder - we need some test tokens to make sure things are working properly, although the token's been merged and should be included in our release.

Can you send some tokens for testing to 0x06E7D699c4842E712E32d66C15F7e451c0E2a496?

[2019-02-05 08:42] rachelhamlin commented on #7400
Like the copy. Waiting on a design update?

cc @dmitryn who I think added the first beta warning. Dmitry, might be useful to have your eye on this if future bounty contributor needs any help.

[2019-02-05 08:46] hesterbruikman commented on #7400
Pinged @andmironov to take a look. Don't think we have much design control over native modals, but just in case.

[2019-02-05 09:14] Sprimage commented on #7045
Do you not have slack, Telegram, or discord? @PombeirP

[2019-02-05 09:37] annadanchenko commented on #7417
@churik closing as it's described in #7368

[2019-02-05 09:37] #7417 closed, assigned to nobody

[2019-02-05 09:37] mandrigin opened #7422 "No user feedback on mailserver error"
# Problem

When a user selects a mailserver and the connection to this mailserver is unsuccessful (state goes from `:connecting` to `:error`), we don't handle that at all.

So, essentially, after that, no error message is shown, there are no re-tries and we don't even try to request historic messages. App is essentially unusable.

# Acceptance Criteria

When the mailserver connection goes to `:err

[2019-02-05 09:38] mandrigin commented on #7408
@Serhy isn't that the issue when you receive messages, but it takes forever to do that?

[2019-02-05 09:39] annadanchenko commented on #7422
@errorists and @yenda fyi

[2019-02-05 09:40] mandrigin commented on #7376
no user feedback and the unusable app is caused by: https://github.com/status-im/status-react/issues/7422

but also, for some reason some mailservers don't work on Android, but seems to work okay on iOS (status-go issue??), I will investigate that in the scope of this task...

[2019-02-05 09:52] ghost commented on #6574
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-05 09:59] errorists commented on #7422
thanks @mandrigin

<img width="270" alt="title text" src="https://user-images.githubusercontent.com/4932774/52265679-eba4e000-2934-11e9-8437-4697fa0ca3ed.png">

My immediate reaction would be to include an Alert like above

[2019-02-05 11:06] rasom commented on #7422
btw we already show the next status in the badge
![screen shot 2019-02-05 at 13 04 52](https://user-images.githubusercontent.com/2364994/52269455-cd47e000-2946-11e9-93f0-65dcc16e9ce1.png)

but this code was broken. Anyway I will add dialog as well

[2019-02-05 11:09] mandrigin commented on #7422
@errorists oh, thank you!

[2019-02-05 11:58] Swader commented on #6574
Still important

[2019-02-05 12:47] #7411 closed, assigned to mandrigin

[2019-02-05 13:59] StatusSceptre commented on #7266
Hey this has been taken care of w/ anna Out of band! Thx.

[2019-02-05 14:00] StatusSceptre commented on #7045
Hey there @Sprimage like Pedro said he's on vacation currently; if you're needing any help please join the #status-core channel in status!

[2019-02-05 14:17] austintgriffith commented on #7266
@rachelhamlin it looks like that address has 0.25 BUFF. https://blockscout.com/poa/dai/address/0x06e7d699c4842e712e32d66c15f7e451c0e2a496/transactions
You can also bridge into buffidai.io in the Exchange section.
Do you guys need more tokens or did you get it solved?

<blockquote><img src="/poa/dai/images/favicon-4b07bf6e08598841211159d4f56ce08d.ico?vsn=d" width="48" align="right"><div><strong><a

[2019-02-05 14:30] rachelhamlin commented on #7266
All set @austintgriffith. Just overlooked that pre-coffee this morning. Thanks though!

[2019-02-05 15:08] mandrigin commented on #7376
it makes no sense, but the error for this mailserver is "already connected", I will investigate further...

[2019-02-05 15:17] #7348 closed, assigned to vkjr

[2019-02-05 15:30] #7157 closed, assigned to yenda

[2019-02-05 15:34] vkjr commented on #7394
@yenda, could you please check against this build - https://github.com/status-im/status-react/pull/7406 ?

[2019-02-05 15:54] yenda commented on #7394
@vkjr yes I tried and it works! Awesome thank you

[2019-02-05 15:54] #7394 closed, assigned to vkjr

[2019-02-05 16:20] mandrigin commented on #7376
okay, it looks like the mailserver is declining *us* there.

[2019-02-05 17:01] annadanchenko commented on #7376
@mandrigin logcat filtered by "mailserver", log level = debug.

note it's collected from app installed from https://github.com/status-im/status-react/pull/7425 (build 2). At some point it managed to connect fine and fetching indicator is gone (as expected)

[mailservergrep.log](https://github.com/status-im/status-react/files/2833034/mailservergrep.log)

[2019-02-05 17:15] mandrigin commented on #7376
okay, so mailservers are declining some android clients due to them being "already connected"... weird

[2019-02-05 17:43] mandrigin commented on #7376
@annadanchenko so that is server-side for sure... I will try to make a test that reproduces that locally with `statusd`, so far we decided to just restart mailservers every few hours to mitigate the issue (we are as stable as ICQ now!). Please, double-check your app now.

[2019-02-05 17:49] #6587 closed, assigned to flexsurfer

[2019-02-05 17:50] StatusSceptre commented on #1563
Still relevant

[2019-02-05 18:18] annadanchenko commented on #7376
@mandrigin I can confirm that on release 0.9.33 build 11 where issue was present I can't repro it now

[2019-02-05 18:28] mandrigin commented on #7376
So let’s keep this issue open, but it’s mailserver related, so it shouldn’t block the release.

[2019-02-05 18:42] ghost commented on #6115
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-05 18:44] speedyFixer commented on #7075
@StatusSceptre @jeluard thanks!

[2019-02-05 18:51] #7422 closed, assigned to rasom

[2019-02-05 20:29] mandrigin commented on #7408
@Serhy it should also be fixed server-side

[2019-02-05 21:20] #7006 closed, assigned to dmitryn

[2019-02-05 23:57] 3ach commented on #7204
Are the transaction data to be supplied as arguments in the extension? Where could I find an example of these data?

[2019-02-06 00:06] StatusSceptre commented on #7204
@jeluard should be able to answer.

[2019-02-06 04:32] ghost commented on #6447
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 06:19] jeluard commented on #7204
Yes. They should probably match the ones from `eth_sendTransaction` ?

[2019-02-06 07:32] ghost commented on #6641
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 07:59] asemiankevich opened #7427 "Error hex string must contain at least one byte when i dapp is open and no internet connection present"
### Description

*Type*: Bug

*Summary*: `Error hex string must contain at least one byte` when any dapp is open and no internet connection present

#### Expected behavior
Any user friendly message saying what is wrong

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/52327730-29ba0680-29fe-11e9-91fa-67899a3499a7.png)

### Reproduction

- Open Status
- Open any dapp

[2019-02-06 08:08] asemiankevich opened #7428 "Null is not an object (evaluating 't.split') when editing URL while offline"
### Description

*Type*: Bug

*Summary*: `Null is not an object (evaluating 't.split')` when tap editing URL

#### Expected behavior

URL is not erased when i tap into the URL field. so when i tap Return on keyboard it does not submit empty value

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/52327920-e318dc00-29fe-11e9-83ba-56c012e398e9.png)

### Reproduction

-

[2019-02-06 08:32] ghost commented on #5246
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 09:02] ghost commented on #6645
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 09:14] Serhy commented on #7408
I can confirm it. Android and iOS switched to each mailserver and received message history (message history from each mailsever in public chat).

[2019-02-06 09:15] #7408 closed, assigned to nobody

[2019-02-06 09:38] #5584 closed, assigned to flexsurfer

[2019-02-06 09:57] Swader commented on #5246
Please verify if fixed.

[2019-02-06 09:58] Swader commented on #6447
Still active

[2019-02-06 10:21] denis-sharypin commented on #5246
Will be fixed by this https://github.com/status-im/status-react/pull/7263

[2019-02-06 10:21] #5246 closed, assigned to denis-sharypin

[2019-02-06 10:21] Swader commented on #6538
@Pedro-vk is this still an issue?

[2019-02-06 10:33] Pedro-vk commented on #6538
@Swader I'm not using Status for debugging purposes right now, but I think that could be good for the app to enable it. It is going to help developers and needs low effort.

[2019-02-06 10:42] Swader commented on #6538
I agree. Reopening until verified as not needed / not an issue.

[2019-02-06 10:52] churik opened #7430 ""Pick another mailserver" leads to white screen on desktop"
### Description
_Type_: Bug

_Summary_: introduced in https://github.com/status-im/status-react/pull/7425. When you app can't connect to mailserver and "Error connecting to mailserver" - clicking on "Pick another" leads to white screen

#### Expected behavior
can pick another mailserver

#### Actual behavior
white screen

### Reproduction
[comment]: # (Describe how we can replicate the bug step by

[2019-02-06 11:54] churik opened #7432 "User is redirected to "Unknown" chat if he opens PN from blocked user or from deleted chat"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*:  If user tap on PN from blocked user (that was received earlier before bocking user) it will be redirected to "Unknown" chat, from where you can navigate to Unknown user profile and even add Unknown to Contacts.  The same behavior you can reproduce if delete any chat and tap on PNs that were received earlier

###

[2019-02-06 12:38] jeluard opened #7435 "Add sticker support to desktop"
### User Story

As a user, I want to see stickers in my desktop channels

### Description

Stickers sent from mobile should show up in desktop channels.

*Type*: Feature

[2019-02-06 13:01] annadanchenko opened #7436 "Endless fetching and hot phone on recovered account with 1:1, group and public chats"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Recovered account with 9 1:1 chats, 2 groups. Created one new group, added 9 members there and join couple of public chats, installed gfycat ext

[2019-02-06 13:22] churik opened #7437 ""Block user" and back button in "Contacts" and "Blocked users" always leads to "Home" instead of appropriate screen"
### Description

*Type*: Bug

*Summary*: introduced in https://github.com/status-im/status-react/pull/7170
generally navigation from tabs "Blocked users" and "Contacts" from profile screen and back should be improved from my POV

For example:
1) Profile > Blocked Users > Open any user profile > go back. Expected that I'll be redirected to Blocked Users, but in fact I am redirected to "Home"
2)  Pr

[2019-02-06 14:45] annadanchenko commented on #7436
@cammellos I could reproduce it on fresh account with group chat of 9 members that send some messages inside it. It also joined 1 public chat and one 1:1 chat

[2019-02-06 14:50] cammellos commented on #7436
@annadanchenko do you have logs for that? it should not be related to group chats/1-to-1 etc, it might happen randomly on any fresh account (judging from the previous logs)

[2019-02-06 15:08] churik opened #7438 "No Push Notifications are received when app is closed (on IOS)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: introduced by https://github.com/status-im/status-react/pull/7268. Basically it means if app is closed, user can't receive PN on IOS.
Issue is created because it worked in another way on 0.9.32, so it is a placeholder for possible discussion around expected behavior.
From PR (https://github.com/status-im/status-re

[2019-02-06 15:41] churik opened #7440 "Can't receive PNs on some IOS versions - IOS 11.0.3; 11.4.1 (15G77)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: can't receive PNs on old IOS versions. For now confirmed that notifications can't be received on IOS 11.4.1 (15G77) - sender is Android8 and iOS 11.0.3 - sender is Android9.
Can receive PNs on IOS 11.4 (15F79)  - sender is Android7 or Android8.
Mentioned in  https://github.com/status-im/status-react/pull/7268#issu

[2019-02-06 15:43] annadanchenko commented on #7436
sorry, I don't (had disabled logs on ios)

[2019-02-06 16:12] Serhy commented on #7436
I've also got this issue (with similar logs and it's size attached in description).
Could not reproduce on 0.9.32 Release.
Can reproduce on 0.9.33 Release.
Below scenario looks good for me on iOS Release 0.9.33, but 4 of 5 times on Android 7 I've got mailserver round-robin'ing (that 5th "lucky" time got successful connection on 5-6th mailsever request).
To keep the steps:
1) Install fresh Status a

[2019-02-06 16:23] cammellos commented on #7436
@Serhy could you attach the logs please? thanks!

[2019-02-06 16:40] asemiankevich commented on #7436
i saw very long fetching messages (blue line at the top) in develop (nightly)
[Status-debug-logs.zip](https://github.com/status-im/status-react/files/2837316/Status-debug-logs.zip)

[2019-02-06 16:42] ghost commented on #6664
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-06 16:43] Serhy commented on #7436
@cammellos here are logs for 1-4th step (took 3-4 mins to finish sync for me).
[LogsReleaseAccountrecovered.log](https://github.com/status-im/status-react/files/2837332/LogsReleaseZZZAccAfterRecover.log)
I've reopened an app and gathering logs for 5-6 step in https://github.com/status-im/status-react/issues/7436#issuecomment-461082392

[2019-02-06 16:44] churik commented on #6664
still reproducible

[2019-02-06 16:50] cammellos commented on #7436
cool, so the issue from all logs seems to be pointed to expired mailserver requests, so nothing new so far, thanks.

[2019-02-06 16:57] Serhy commented on #7436
Yes, the same (with constant mailserver.request.expired) after I restarted an app and since 10 minutes it could not connect to any of the mailserver (logs:
[2logcat.log](https://github.com/status-im/status-react/files/2837381/2LogsReleaseZZZAccAfterRecover.log)

[2019-02-06 17:00] Serhy commented on #7436
With the build from https://github.com/status-im/status-react/pull/7439 - it looks good for me. Same scenario, mailsever(s) connected fine.

[2019-02-06 20:02] krisc commented on #7354
@jeluard  Okay I explored the code some more and it looks like I could use the function `send-message` in `chat.models.message`. Is this correct?

Also, how exactly do I create a new event? Inside the `def capacities` in `extensions/core.cljs` I added this:

[code]
Then I added these two in `extensions.core.cljs`:
[code]
On compilation, I get this error:
[code]
Is there somewhere else in the code

[2019-02-07 08:28] #7374 closed, assigned to flexsurfer

[2019-02-07 08:32] ghost commented on #5182
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-07 08:46] hesterbruikman commented on #7288
So happy to see this drawer in existence! Looks great.

Any more work required? I notice:
- The text below Stop syncing can use an update. "Until connected to wi-fi?" >Wi-Fi
- Not sure if we can already refer to settings or update after the Settings menu has been updated

@rasom can you please describe the behavior of when the drawer would come up as currently implemented? Looks like it comes up o

[2019-02-07 09:12] ghost commented on #4556
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-07 09:12] ghost commented on #4889
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-07 09:18] rasom commented on #7288
@hesterbruikman please check this PR https://github.com/status-im/status-react/pull/7433 , the drawer will appear when you disable wifi

[2019-02-07 09:43] Serhy commented on #7436
With #7439 included in 0.9.33 issue still reproduced for me :(
Confirmed for my own account after upgraded from 0.9.32. As well as for scenario in https://github.com/status-im/status-react/issues/7436#issuecomment-461082392

[logcat.log](https://github.com/status-im/status-react/files/2840138/logsAndlAgs.log) after app with account (having 4 1-1 chats and 4 Group chats (two of them created from th

[2019-02-07 09:56] mandrigin commented on #7436
it looks like we have some other request that doesn't take `limit` into account (always `1000`):
```02-07 11:24:59.442 15810 15868 I ReactNativeJS: INFO [status-im.mailserver.core:575] - mailserver: message request  0xdc32dbd0bc4ae20f57272c071ca2d8bbd3ac072c5b103120d82114e61abfd444 expired for mailserver topic ("0xf8946aac") from 1549445069 to 1549531469 cursor nil limit 1000```

[2019-02-07 10:00] hesterbruikman commented on #7288
Thanks @rasom

I see the drawer also come up when Wi-Fi is disabled. I think this is cool, until 'Remember my choice is checked'.

Didn't get a background on the drawer unfortunately (on Android). On iOS nothing seemed to happen, at all. Wondering if this is because of the build not working, because I don't have a SIM card or some other reason.

[2019-02-07 10:04] hesterbruikman commented on #7288
![screenshot_20190207-105728](https://user-images.githubusercontent.com/35233054/52403899-13787d00-2ac8-11e9-8010-7409dcc62caf.png)

[2019-02-07 10:11] rasom commented on #7288
hm, just tested on android
https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190207-091220-ad96bb-pr.apk

<img width=320 src=https://user-images.githubusercontent.com/2364994/52404345-77537380-2ad1-11e9-9ca4-faae36bcf48e.jpg />

<blockquote></blockquote>

[2019-02-07 10:33] cammellos commented on #7436
[logsAndlAgs.log](https://github.com/status-im/status-react/files/2840346/logsAndlAgs.log)
Condensed logs with only relevant events

[2019-02-07 10:59] flexsurfer opened #7445 "Sticker detail view in chat"
Open stickers pack modal window on pressing sticker in chat

[2019-02-07 11:07] Swader commented on #4556
Keep alive.

[2019-02-07 11:07] Swader commented on #4889
Still a must have

[2019-02-07 11:16] hesterbruikman commented on #7288
Could be an issue unique to my ancient Android (6), in that case. Tried again with the build you shared, same result.

[2019-02-07 11:24] rasom commented on #7288
@hesterbruikman ok I see, thanks, don't have such device to test

[2019-02-07 11:30] rasom commented on #7288
well, I'm wrong, I have 6.0.1

<img width=320 src=https://user-images.githubusercontent.com/2364994/52408824-6c521080-2adc-11e9-8574-848eaa4886d2.jpg />

[2019-02-07 11:30] rasom commented on #7288
@hesterbruikman what device do you have?

[2019-02-07 12:18] hesterbruikman commented on #7288
hmmmmm interesting, I have Android 6.0.1 as well, but on a Fairphone. Shouldn't make a difference, but apparently it does:S

[2019-02-07 12:28] Serhy commented on #7436
@cammellos In order to exclude items that bring us really long sync I performed these steps and split logs where sync was long enough to show what's going on while particular step executed.

0) Install fresh Release 0.9.33.
1) Start app. Recover account. (valid seedphrase). Wait until syncing bar is finished at top of Home screen… Logs only for this step:
[AccRecovered.log](https://github.com/stat

[2019-02-07 12:30] mandrigin commented on #7436
That is no surprise because we are using the same topic for them of everyone at all...
I think this issue is only when you recover account, but not if you upgrade, right?

[2019-02-07 12:40] cammellos commented on #7436
It is a bit surprising though, as if you join a group chat, we don't fetch any historical message, as there's no reason, because we already are subscribed to that topic. so we don't re-fetch the shared topic.  therefore  theoretically should not have any impact on it, also just looking at the logs, it seems although it fetched already the shared topic, it re-fetches 24 hours on login/logout, but I

[2019-02-07 13:33] cammellos commented on #7436
Timeline for the first log:
https://hackmd.io/S6YUU0QoSXipp2kokQA_fA?edit

syncing took around ~2 minutes 30s
many expired requests, and the process had to start again as it failed 3 times in a row.

<blockquote><img src="https://hackmd.io/favicon.png" width="48" align="right"><div><strong><a href="https://hackmd.io/S6YUU0QoSXipp2kokQA_fA?edit">Timeline - HackMD</a></strong></div></blockquote>

[2019-02-07 13:34] Serhy commented on #7436
Scenario without Group Chats:

1) Recover new account (`film robot picnic film robot picnic film robot film robot picnic robot`)
2) Add new contact (iOScontact)
3) Join #status, #status-chunese, #daaps, #ethereum, #introductions, #pubtosync public chats
4) Messages recevied from public chats fine.
5) Re-open app. Sync finished < 7 sec. Post several text messages in 1-1 chat and in #pubtosync.
5) R

[2019-02-07 13:41] Serhy commented on #7436
But, additionally to https://github.com/status-im/status-react/issues/7436#issuecomment-461420406
13. Request to 'Fetch 24h history' in 1-1 chat. Sync took ~3mins. Logs:
[Fetch24hIn1to1.log](https://github.com/status-im/status-react/files/2841032/Fetch24hIn1to1.log)

[2019-02-07 13:49] cammellos commented on #7436
From logs 3 and 4:
1) It re-fetched 24hours of shared topic in both cases
2) quite a few requests failed because are either expired, or 3s limit

Syncing of other topics (public chat & group chat) correctly synced from offline time.

Essentially the issue is that something is resetting the time we fetch messages for the discovery topic, and is re-fetched at each login.

[2019-02-07 14:01] cammellos commented on #7436
Ok I have got it, there's some issues with one of the functions, not sure I fully understand what's going on and which assumptions it makes, but basically when you create a group chat it creates a separate topic, which somehow makes this fn reset the discovery topic, so probably too fragile to fix for the release, but I can just disable creating the topic for group chats, as it's not used currentl

[2019-02-07 14:45] ghost commented on #6572
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-07 14:45] ghost commented on #6575
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-07 14:45] #6575 closed, assigned to nobody

[2019-02-07 14:45] #6572 closed, assigned to nobody

[2019-02-07 15:45] ghost commented on #6675
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-07 15:52] #6291 closed, assigned to nobody

[2019-02-07 16:15] ghost commented on #6550
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-07 16:15] #6550 closed, assigned to nobody

[2019-02-07 19:32] ghost commented on #5432
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-07 20:45] Swader commented on #5432
Agreed

[2019-02-07 20:47] Swader commented on #6675
It silly that this is still not a thing

[2019-02-08 01:22] StatusSceptre commented on #7045
@sprimage are you still working on this issue? Please let me know ASAP and submit a WIP if so.

[2019-02-08 04:36] speedyFixer commented on #7075
Hi, just an update about the work:

Decoded DATA is almost done, after that, I will do the topics decode, I will do some code cleaning and finally I will do the PR.

![decoded](https://user-images.githubusercontent.com/46165430/52458951-65ed8400-2b30-11e9-9185-03bf9a42cf41.png)

![ropsten_decode](https://user-images.githubusercontent.com/46165430/52458954-67b74780-2b30-11e9-811f-494f46a4e557.png)

[2019-02-08 06:38] Sprimage commented on #7045
Hi @StatusSceptre . I am still on it. Just finally got to discuss with a status core dev and they revealed a few to me. Although, i might still need to talk to pedro before then. I'll submit a WIP PR too

[2019-02-08 10:04] #6735 closed, assigned to yenda

[2019-02-08 10:04] yenda commented on #6735
Implemented and merged

[2019-02-08 11:55] jeluard commented on #7075
@speedyFixer Thanks for the update!

[2019-02-08 12:57] flexsurfer opened #7451 "Stickers support on desktop"

[2019-02-08 13:27] flexsurfer opened #7453 "Stickers UI and contract wedding"
Contract: https://ropsten.etherscan.io/address/0x82694e3deabe4d6f4e6c180fe6ad646ab8ef53ae

[2019-02-08 13:33] hesterbruikman opened #7454 "Add basic copy to public chat empty screen state"
# Problem
As a user I want to see what's going on in the Status app and what I can use it for. As soon as I join a public chat that hasn't been active in the last 24h, all I see is an empty screen. I want to understand wy this is and where I can find more active channels.

We can offer a quick solution while we wait for the epics '[Onboarding](https://www.pivotaltracker.com/epic/show/4182848)' and

[2019-02-08 13:44] guylouis opened #7455 "Add WBTC token to our ERC-20 list"
name:WBTC

see contract adress here: https://etherscan.io/token/0x2260fac5e5542a773aa44fbcfedf7c193bc2c599

project website: https://www.wbtc.network/

[2019-02-08 14:02] jakubgs opened #7456 "Use monospace font for text enclosed in backticks, add code blocks"
# Problem

We currently support the backtick (\`) markdown formatting for text `like this one here enclosed in backticks`. Except:

1. It doesn't use a monospace font.
2. It uses horrid bright green on black color scheme (less important but still annoying)

Another thing is we do not support triple backtick format (\`\`\`) for blocks of code:
[code]

# Acceptance Criteria

Monospace fonts, better

[2019-02-09 11:42] jinhojang6 opened #7458 "A pop-up message saying "No protocol method IMap.""
# Problem

When I was checking the 'status-core' chatroom, this pop-up message below appeared out of nowhere and I could not scroll up on the screen anymore after clicking on the 'OK' button.

![jinhojang](https://user-images.githubusercontent.com/41753422/52520188-277bd480-2caa-11e9-8389-b06d50605d94.jpeg)

Afterward, all the chatrooms on my home screen said 'there is no message'.

# Notes

I log

[2019-02-09 16:02] ghost commented on #6678
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-10 07:53] #6973 closed, assigned to nobody

[2019-02-10 12:03] ghost commented on #6657
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-10 12:53] ghost commented on #6361
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-10 12:53] #6361 closed, assigned to SlizkovaGanna

[2019-02-10 14:13] ghost commented on #6684
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-10 14:23] ghost commented on #6600
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-10 14:23] ghost commented on #6603
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-10 14:23] #6600 closed, assigned to cammellos

[2019-02-10 14:23] #6603 closed, assigned to cammellos

[2019-02-10 14:43] ghost commented on #6608
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-10 14:43] #6608 closed, assigned to nobody

[2019-02-10 15:03] ghost commented on #5348
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-10 20:02] krisc commented on #7354
Yes, I'm still working on this.

[2019-02-10 22:27] speedyFixer commented on #7075
Hello @jeluard , could you help me with any clue about how could I run tests on my local environment? I was try `clj -R:test build.clj test` without luck because java.lang.NullPointerException is showed while it compiles build.clj

This issue is almost done, I'm testing it.

[2019-02-11 04:18] StatusSceptre commented on #4391
@santteegt do you still intend to work on this?

[2019-02-11 04:22] StatusSceptre commented on #4158
@mul1sh are you still working on this issue?

[2019-02-11 04:27] mul1sh commented on #4158
@StatusSceptre @pablanopete yes I'm still working on this issue, sorry I forgot to reply.

I tried a number of fixes last week and I found one that finally sticks, was going to push it after i'm done testing, but i see the issue has been cancelled now 🙁 .

[2019-02-11 04:28] StatusSceptre commented on #4158
@mul1sh it's still active!

[2019-02-11 04:29] mul1sh commented on #4158
@StatusSceptre awesome will submit to it soon then :)

[2019-02-11 04:30] pablanopete commented on #1563
@jeluard I  know you said you were looking into this the other day; any luck finding anything?

[2019-02-11 04:32] santteegt commented on #4391
Hi,

Sorry. Couldn't find any answer on the `#status-core` chat. I could give it a second try to implement this feature, but not sure if I can get it done ASAP

[2019-02-11 07:39] jeluard commented on #1563
Started looking into it but doesn't look straightforward.
I am wondering if it makes sense to lock the viewport at all.

[2019-02-11 07:42] jeluard commented on #7075
@speedyFixer You can run tests with `lein test-cljs`

[2019-02-11 07:53] speedyFixer commented on #7075
Thanks @jeluard I was able to run tests with `clj -R:test build.clj test test`, I just tested `lein test-cljs` but doesn't work:

Updating hook:  pre-commit
Retrieving lein-doo/lein-doo/0.1.9/lein-doo-0.1.9.pom from clojars
Retrieving org/clojure/clojurescript/1.9.229/clojurescript-1.9.229.pom from central
Retrieving lein-doo/lein-doo/0.1.9/lein-doo-0.1.9.jar from clojars
Retrieving org/clojure/cl

[2019-02-11 08:09] jeluard commented on #7075
@speedyFixer Looks like we will have to fox that!
If you can run your test anyway, LGTM

[2019-02-11 08:53] ghost commented on #5489
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 09:53] cammellos commented on #5019
this has now been implemented

[2019-02-11 09:53] #5019 closed, assigned to yenda

[2019-02-11 10:05] #6596 closed, assigned to nobody

[2019-02-11 10:06] #6941 closed, assigned to nobody

[2019-02-11 10:23] jeluard opened #7465 "Add a re-frame event listing discovered participants in a public chat"
### User Story

As a developer, I want to list currently discovered participants of a public chat

### Description

*Type*: Feature

[2019-02-11 10:37] pedropombeiro commented on #5019
@cammellos do you have a link to the PR you could drop here, for traceability?

[2019-02-11 10:42] cammellos commented on #5019
sure, https://github.com/status-im/status-react/pull/7073

[2019-02-11 11:00] pedropombeiro commented on #7045
@Sprimage I'm back from vacations in case you need some info.

[2019-02-11 11:54] #6979 closed, assigned to vitvly

[2019-02-11 12:58] Serhy opened #7468 ""null is not an object (evaluating 'e.charAt')" app crash when creating Group Chat"
***Type***: Bug

***Summary***: When contact created or contact receives an invitation to Group Chat - app crashes. Account is unusable after that - i.e. after re-login into account with GroupChat created/intived to - the app crashes with the same error right when the user appears on Home screen.
Both iOS and Android affected. (But all OK with MacOS!)

#### Expected behavior
No crash when Group ch

[2019-02-11 13:37] ghost commented on #6703
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 13:45] ghost commented on #5254
Hey @PombeirP ! Any updates on this by any chance?
Today the situation is very similar to what it was back when this issue was created: there's only one messaging app that works well on LineageOS w/o Google Play and it's Conversations.im - Not only that, it's also very efficient on resources being used.
Edit: scratch that, there's also Riot.im, although it uses a fair bit more battery.

[2019-02-11 14:07] ghost commented on #5554
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 14:07] ghost commented on #5802
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 14:07] ghost commented on #6249
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 14:51] #7103 closed, assigned to nobody

[2019-02-11 14:57] ghost commented on #6704
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 15:07] ghost commented on #6705
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 15:08] jeluard opened #7471 "Enable remote webview debug in dev mode"
### User Story

As a developer, I want to remote debug my DApp when in dev mode

### Description

*Type*: Feature

[2019-02-11 15:09] jeluard commented on #7194
@asemiankevich This has been fixed right?

[2019-02-11 15:17] ghost commented on #6418
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 15:17] ghost commented on #6472
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 15:27] ghost commented on #6368
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 15:58] hesterbruikman opened #7472 "Focus on modal when modal is displayed"
# Problem

When I recover the app or create a new account I receive several pop-ups (Beta alert, Notification settings, Device detected). Likely in the next release a draweer will also come up if I'm on a mobile network.

When I go to device pairing, focus goes to the name input field for the device, my keyboard comes up and obtrudes the confirm button of the Beta alert. I'm stuck as I can't compl

[2019-02-11 16:18] asemiankevich commented on #7194
@jeluard dont see it in last nightly, looks like yes!

[2019-02-11 16:58] nofwayy commented on #6996
still working on it

[2019-02-11 17:33] #7194 closed, assigned to nobody

[2019-02-11 17:55] pedropombeiro commented on #5254
Hi @GustavMarwin ! I'm afraid we haven't started it yet, there are still some building blocks we are in the process of putting in place before attacking this.

[2019-02-11 18:26] emmaodia commented on #7352
I had some issues setting it up on my local machine. I ought to have been sending in daily updates. I'm still working on the issue. Thanks for the reminder.

[2019-02-11 18:42] #7468 closed, assigned to nobody

[2019-02-11 19:41] krisc commented on #7354
@jeluard about my last question, I think I'm getting an error because the new keyword wasn't added to the spec, right? I'm not sure where the specs for these extension events are located. If you can direct me to where that is in the code, I can continue with this issue.

[2019-02-11 20:17] ghost commented on #6595
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-11 23:05] 3ach commented on #7204
I am going to have to relinquish this issue, I don't have the time to resolve it.

[2019-02-11 23:27] pablanopete commented on #6505
@goranjovic can we put a bounty on this? When trying to send XDAI or any other assets on the XDAI network I have to manually set a gas price. No Bueno. Maybe we either hardcode or implement an alternative that's better maybe  with https://blockscout.com ?

LMK what you think.

<blockquote><img src="/eth/mainnet/images/favicon-4b07bf6e08598841211159d4f56ce08d.ico?vsn=d" width="48" align="right"><di

[2019-02-12 00:05] StatusSceptre commented on #4158
Commits > Comments ;)

@mul1sh says he's working on it but feel free to collaborate with him @leonardohof !

[2019-02-12 00:13] StatusSceptre commented on #7204
@srisankethu this issue is now open to contributors again if you're looking to solve it.

[2019-02-12 04:07] eezcjkr commented on #6538
So I have a similar issue. Using develop branch, running on iphone 6 simulator. Managed to get remote logging working via safari and saw that the enable() method on the ethereum object provided by status never resolves, even after i click allow on the prompt.

[2019-02-12 07:12] jeluard commented on #7354
`::chat/send-message` is not a valid keyword according to clojure syntax. Leading double semi colon can only be used in specific contexts

[2019-02-12 07:33] cammellos opened #7474 "Messages disappear on restarting the app"
A user reported that messages disappear after restarting the app, both messages that they received and they sent.

They had conversations in #status channel.

After restart, the messages from the previous conversation disappeared (until October 2018, likely the last time it was in the chat before upgrading to 0.9.33).

We asked to replicate, and it was partially replicated (some of the newer messa

[2019-02-12 08:33] asemiankevich commented on #7445
@flexsurfer

```No description provided.```

:(

[2019-02-12 08:55] srisankethu commented on #7204
@StatusSceptre I will give it a try. Thanks!

[2019-02-12 09:38] pedropombeiro commented on #6595
@cammellos I see that the same code still exists in https://github.com/status-im/status-react/blob/develop/src/status_im/group_chats/core.cljs#L444, although `current-public-key` doesn't seem to be used anymore. Should we just delete that line?

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com

[2019-02-12 09:41] cammellos commented on #6595
oh yes, that needs removing, thanks

[2019-02-12 09:47] flexsurfer commented on #7445
@asemiankevich sorry for that

[2019-02-12 09:53] #6595 closed, assigned to cammellos

[2019-02-12 11:17] Serhy opened #7476 "Status app fail to start in emulator after installation [Android 7.x simulator]"
***Type***: Bug

***Summary***: In emulators Status fails to run after installation (both fresh install or upgrade).
Likely reason when it may be introduced in https://github.com/status-im/status-react/pull/6914
It's OK on the real device though.
Logs with an error provided below.

It affects saucelabs services we use for e2e-tests, so they will fail!

#### Expected behavior
Status starts and I ap

[2019-02-12 12:24] #7286 closed, assigned to jakubgs

[2019-02-12 14:17] ghost commented on #4475
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-12 15:31] #7445 closed, assigned to flexsurfer

[2019-02-12 16:07] ghost commented on #6107
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-12 16:49] #7043 closed, assigned to nobody

[2019-02-12 18:01] krisc commented on #7354
Okay, got it. Still having trouble with the extension installer recognizing the new event. Getting `unknown-reference` error.

[2019-02-12 18:47] ghost commented on #6115
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-12 18:47] #6115 closed, assigned to nobody

[2019-02-12 19:42] krisc commented on #7354
Oops, nevermind just had a typo :/

[2019-02-12 20:01] bitsikka commented on #7354
hello @krisc join @tbenr who has had extensive experience building extensions, myself (wannabe contributor), and core-devs in Status - share your experience, teach, learn and grow

there's

http://get.status.im/chat/public/clojure for Clojure talk
http://get.status.im/chat/public/status-core-devs and
http://get.status.im/chat/public/status-core where core devs / contributors hang out

there's also

[2019-02-13 05:27] ghost commented on #6727
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 05:37] ghost commented on #6726
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 05:58] oskarth opened #7486 "Implement emoji for signing phrase"
# Problem

I can't remember my signing phrase since it is just three words I confuse with other stuff.

# Implementation

Use Emoji guard to distinguish signing phrase from other passphrases.

# Acceptance Criteria

- Emoji guard implemented
- Graceful upgrade/behavior for existing accounts
- Security sanity check

# Notes

See https://github.com/status-im/status-react/pull/5824

This was discusse

[2019-02-13 06:15] oskarth opened #7487 "Wallet should be named 'Receive' not 'Deposit'"
# Problem

Wallet used to be called Receive not Deposit. Now it is more confusing to several people.

# Implementation

Fix string.

# Acceptance Criteria

String fixed. Look at other languages for sanity check, if applicable.

# Notes

Why was this changed?

# Future Steps
-

[2019-02-13 06:16] oskarth commented on #7487
@goranjovic @hesterbruikman

[2019-02-13 06:59] asemiankevich commented on #7487
@oskarth it was changed in redesign flow last year

[2019-02-13 07:02] asemiankevich commented on #7487
https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/New-send-transaction?node-id=0%3A1

<blockquote><img src="/file/SIeZPHvrX7KUwEBW8VQct8C5/thumbnail?ver=thumbnails/fe343a06-caf5-4f96-8226-e5f2110dc263" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/New-send-

[2019-02-13 07:04] oskarth commented on #7487
But with what rationale? I haven't heard anyone who likes it, and at least 3 people (myself included) who finds it confusing and weird.

[2019-02-13 07:05] asemiankevich commented on #7487
this is by design now, i have provided the link above. ping @denis-sharypin

[2019-02-13 07:28] hesterbruikman commented on #7487
Add me to the 3 people if you didn't yet @oskarth . I'll see if I can fid any documentation on the rationale.

[UPDATE] I can only find reference to 'Receive' and 'Send request' in documention by Obi: https://docs.google.com/document/d/1unyX6WsuB7godU5t4_5ajD5G3TmLsNHZbbUK7FjBsrE/edit

[2019-02-13 07:37] ghost commented on #6641
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-13 07:37] #6641 closed, assigned to nobody

[2019-02-13 08:06] oskarth opened #7488 "Frequently see 'Error connecting to mail server'"
# Problem

I often see 'Error connecting to mail server' when opening the app.

# Implementation

Not sure, but:

1) Fix underlying problem
2) Automatically pick new mailserver for me

# Acceptance Criteria

Less manual action when opening app.

# Notes

I searched for 'error connecting to mailserver' in issues and couldn't find any duplicate issues.

Using Status nightly, mail-0{1,3}.do-ams3.eth.

[2019-02-13 08:13] churik opened #7489 "Can't create account on android PR builds"
# Problem

Found in https://github.com/status-im/status-react/pull/7457#issuecomment-462873139
App is named "Status PR" instead of "Status".
When trying to create the account I'm redirected to last visited app (in my case it was file manager) after setting password.

Video: https://take.ms/JdJSG
Logcat:
[logcat-andr2.txt](https://github.com/status-im/status-react/files/2857028/logcat-andr2.txt)
Ve

[2019-02-13 08:15] churik commented on #7489
it is probably related to #7287, @jakubgs can you take a look?

[2019-02-13 09:07] ghost commented on #6645
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-13 09:10] #7076 closed, assigned to nobody

[2019-02-13 09:13] 532910 opened #7491 "Oreo adaptive icon shape"
Please add support for icon shape
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html
https://material.io/guidelines/style/icons.html

[2019-02-13 09:15] 532910 opened #7492 "github users are unable to reopen issues"
status-github-bot has closed my issue:
"This issue has been automatically closed. Please re-open if this issue is important to you."

but github users are unable to reopen issues

[2019-02-13 09:21] jakubgs commented on #7489
Oh

[2019-02-13 09:37] ghost commented on #6304
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 09:42] ghost commented on #5242
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 09:47] ghost commented on #6733
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 09:50] Swader commented on #6304
Stale but still active

[2019-02-13 09:50] Swader commented on #6645
I'd say this is a pretty big deal.

[2019-02-13 10:42] ghost commented on #6457
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 10:57] ghost commented on #6737
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 11:10] yenda commented on #7486
Might be worth thinking about the best cost effective solution here considering the work has already been done once. Is it better to reopen the PR and refresh it (I could do that), or @rasom is it the same drawer component you are working on in your recent PR and it might be better to switch to use this one?

[2019-02-13 11:41] bitsikka opened #7495 "Desktop profile left pane has tabs overlapping ungracefully with profile settings list"
# Problem
In Desktop when you go to *Profile* tab, if the app window height is made small, in the left-pane, tab-bar overlaps with the list of settings in the profile.

see pic: https://imgur.com/a/iNPCOiy

# Acceptance Criteria

tab-bar background should be opaque and overlap over the settings/profile-options list

[2019-02-13 11:48] churik commented on #7495
Thanks for the issue @bitsikka !
I'll add this info to https://github.com/status-im/status-react/issues/5151

[2019-02-13 11:51] churik commented on #7495
Logged as a part of #5151

[2019-02-13 11:51] #7495 closed, assigned to nobody

[2019-02-13 13:59] naghdy opened #7497 "Unread count still does not disappear after messages are sent"
# Problem
As a user I expect that when I send a message in 1:1 or group chat, that the unread message count disappears.

See attached a screenshot. The top three 1:1 chat snippets are all messages that I have sent.

![56007](https://user-images.githubusercontent.com/32269875/52716830-a2c0dd00-2f6d-11e9-9ca1-4b4a9a94f925.jpg)

# Proposed Solution
Unread message counts should be removed once a messa

[2019-02-13 14:45] churik opened #7498 "Warn users that messages sent before accepting invitation to group chat won't be received"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, creator of group chat, I want to be notified that my messages, sent  before accepting invitation to group chat won't be received by user after joining chat.

### Description

*Type*: Bug

*Summary*: when create a group chat you can send  messages that not will be received after joining other users t

[2019-02-13 14:51] hesterbruikman commented on #7498
That actually explains a lot:P Will take a look, but adding @errorists in case he gets to it before I do

[2019-02-13 14:54] churik opened #7499 ""Sync all devices" button is shown before setting up device name in "Devices""
### Description
_Type_: Bug

_Summary_: there is no way to `Sync all devices` before setting a name to your device, so I suggest to show this button only after device name is set (on next step).

#### Expected behavior
no `Sync all devices` button

#### Actual behavior
![](https://user-images.githubusercontent.com/4557972/52720114-55616180-2fa7-11e9-8ef3-416187fe7f41.png)

### Reproduction

* Open

[2019-02-13 15:07] ghost commented on #6723
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-13 16:12] churik opened #7500 "No "Add to contact" is shown in 1-1 chat header after restoring account with chat"
### Description

*Type*: Bug

*Summary*: if `userA` restores account with the chat with `userB` who didn't add `userA` to contacts - no  "Add to contact" is shown in chat header, however, "Add to contact" is active on profile of `userB`

#### Expected behavior
can see  "Add to contact" in chat header and in profile

#### Actual behavior
no "Add to contact" in chat header

### Reproduction

- `user

[2019-02-13 17:47] #7288 closed, assigned to rasom

[2019-02-13 17:59] krisc commented on #7454
@hesterbruikman @yenda will this entail adding a new icon to the resources folder? I don't see the circle with an 'S' anywhere.

[2019-02-13 19:56] krisc commented on #7454
oh, nvm, this is done with styles and aren't icons, correct?

[2019-02-14 08:21] mandrigin commented on #7488
the initial issue and investigation: https://github.com/status-im/status-react/issues/7376

long story short: peers (public keys) get stuck on our mailserver side. if that happens, this peer can never connect to the same mailserver again.

(1) we added a dialog on status-react side to try to choose another mailserver
(2) we added monitoring of stale peers on the server side
(3) [wip] adding more l

[2019-02-14 08:24] mandrigin commented on #7376
I will close this one and we'll continue investigation in
https://github.com/status-im/status-react/issues/7488

[2019-02-14 08:24] #7376 closed, assigned to nobody

[2019-02-14 08:37] ghost commented on #5182
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-14 08:37] #5182 closed, assigned to nobody

[2019-02-14 09:02] rachelhamlin commented on #7400
@StatusSceptre I don't think I have the ability to manage this on Gitcoin, but we are looking for someone to implement the copy change Hester suggested in the existing modal, so it's a code requirement not a copy one :)

[2019-02-14 10:16] mandrigin commented on #7497
Yeah, I agree. Maybe we should either
(1) when you open a chatroom, scroll to the first unread message
(2) plainly clear unread status when you enter the chatroom.

@hesterbruikman @yenda what do you think?

[2019-02-14 11:23] jakubgs opened #7501 "Too many notifications from Status"
This is ridiculous:
![screenshot_20190214-122203](https://user-images.githubusercontent.com/2212681/52783801-5059ec00-3053-11e9-8373-245edb350d79.jpg)

[2019-02-14 11:27] ghost commented on #6687
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-14 11:29] Swader commented on #7501
+1, why is notification bulking yet another thing that Status has to reinvent?

[2019-02-14 11:30] asemiankevich commented on #7501
@jakubgs @Swader this is now  works as expected. the feature will be improved very soon

[2019-02-14 12:27] hesterbruikman commented on #7497
(2) Yes, pleae. Open chat room implies there are no unseen messages left. Although obviously we will never know for sure that you have read them. We can build upon message actions with a 'Mark as unread' later.
(1) Is the reason the counter is there that a message hasn't been scrolled in view?

Q: How well would this sync between devices? Feels like we're talking about behavior that is client side

[2019-02-14 12:36] pedropombeiro commented on #7501
@rachelhamlin I believe we discussed this in the context of https://github.com/status-im/status-react/issues/7046 a while back, maybe on iOS it is not as bad, but on Android it is clearly an issue.

[2019-02-14 12:46] #6351 closed, assigned to nobody

[2019-02-14 12:46] #6645 closed, assigned to nobody

[2019-02-14 14:27] ghost commented on #6759
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-14 15:28] rachelhamlin commented on #7501
@PombeirP I see the point. And you've fixed it?

[2019-02-14 15:51] pedropombeiro commented on #7501
I have a local fix I could apply that would group messages by sender.

[2019-02-14 16:03] Serhy opened #7507 "geth.log is empty even LogLevel=Trace and permission storage for Status enabled"
***Type***: Bug

***Summary***: There are no logs in geth.log written.
LogLevel is set to Trace. Permission to storage for Status is enabled. But geth.log 0KB size

It's all fine with latest Nightly develop. But I see that with builds made in https://github.com/status-im/status-react/pull/7478 geth.log is also empty. Apparently, this PR is where we introduced the issue.

#### Expected behavior
Log

[2019-02-14 17:00] Serhy opened #7508 "No second Wallet screen when send two Tx one after another in Dapps"
***Type***: Bug

***Summary***: Two transactions, one after another used by Aragon Dapp. We have in TestDapp the `Send two Txs, one after another, 0.00001 and 0.00002 ETH` test button for this as well. Both are not working with recent changes (after #7503).
No second Wallet screen appears. Also, any further transaction (in any Dapp) is 'blocked' after that, until app restart.

#### Expected behavi

[2019-02-14 20:37] ghost commented on #6763
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-14 20:59] owocki opened #7512 "can't scan QR code for ETHDenver"
hey all im trying to get the status to read this QR code in the mobile app under "Scan QR COde"
but when i scan it Status says "This is not a valid Universal Link".

<img width="152" alt="screen shot 2019-02-14 at 1 52 36 pm" src="https://user-images.githubusercontent.com/513929/52817334-c7e24800-3060-11e9-82cd-409edcaf64cd.png">

![photo 40](https://user-images.githubusercontent.com/513929/528173

[2019-02-14 21:00] owocki commented on #7512
I think if it's a valid HTTPS link it should be a 'valid universal link' right?

[2019-02-14 23:07] StatusSceptre commented on #7512
Hey you’ll need to use the native camera qr code scheme for deep links here:

Here is the content from the old wiki:

Universal Links (iOS) & Deep Links (Android)

What are Universal & Deep Links

With universal links (iOS) and deep links (android) mobile users can tap a link to Status and get seamlessly redirected to the Status app and linked to specified screens without going through the browser

[2019-02-15 00:52] shamardy commented on #7076
@StatusSceptre can you please approve the submitted work.

[2019-02-15 01:13] StatusSceptre commented on #7076
@shamardy yes apologies for the wait.

[2019-02-15 08:04] cammellos opened #7513 "Not all the message types are confirmed"
Currently not all the message types are confirmed to status-go, which means we might be receiving them again.

Currently messages that are confirmed are:
1) Chat messages
2) Seen messages

Messages that are not confirmed are:
1) Contact requests/updates
2) Group chat membership changes
3) Pairing messages

[2019-02-15 09:42] ghost commented on #6765
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-15 10:07] zeddee commented on #7400
hey @rachelhamlin ; sorry about that — somehow mis-parsed the ticket. I can do the implementation; quick grok tells me it's a change to the `/translations/en.json` file.

[2019-02-15 11:27] hesterbruikman commented on #7454
@krisc , you got it, this is a style. A circle with a centered letter. The letter is intended to be the first letter if the public channel name.

Same as the top and in list view but larger. I'll add the styling specs for you here.
UPDATE: send you an invite the view the frame in Figma. If you hover you can see the exact spacing and dimensions.

[2019-02-15 12:05] #7508 closed, assigned to rasom

[2019-02-15 12:29] cammellos commented on #6138
I believe they have now been removed as they were not used https://github.com/status-im/status-react/pull/7335 , we can probably start again a discussion on whether we want them or not and in which shape or form.

[2019-02-15 12:39] hesterbruikman commented on #7400
@StatusSceptre can you approve to allow @zeddee to get started with this work?

[2019-02-15 12:42] rachelhamlin commented on #7400
@zeddee no prob. Hands are tied with Gitcoin but we're happy to have you do the implementation :)

[2019-02-15 15:01] pedropombeiro commented on #7501
Actually, the easiest would be to only show a single notification per sender (I believe that's what we initially discussed). Would that be acceptable?

[2019-02-15 15:01] jakubgs commented on #7501
Pretty much anything would be an improvement over what we have right now.

[2019-02-16 00:44] naghdy commented on #7487
+1 this is very confusing (I'm here at ETHDenver, and people can't automatically figure out which button to click".

Please change in the next release.

![img_5516](https://user-images.githubusercontent.com/32269875/52891621-5c27da00-3149-11e9-929a-a72a08b2f49c.PNG)

[2019-02-16 08:52] hesterbruikman commented on #7487
@goranjovic fixed this: https://github.com/status-im/status-react/pull/7502

[2019-02-16 12:42] ghost commented on #4814
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-16 14:23] Swader commented on #4814
8 months later, this is still an issue, and the app is still in the list.

[2019-02-16 16:12] ghost commented on #6678
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-16 16:12] #6678 closed, assigned to nobody

[2019-02-16 19:04] krisc commented on #7354
@gitcoinbot I'll get back to this after the weekend

[2019-02-17 12:12] ghost commented on #5500
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-17 12:12] ghost commented on #6657
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-17 12:12] #6657 closed, assigned to nobody

[2019-02-17 13:52] ghost commented on #6767
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-17 14:22] ghost commented on #6684
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-17 14:22] #6684 closed, assigned to nobody

[2019-02-17 22:33] nofwayy commented on #6996
Testing and various platforms is time consuming. Still working on it

[2019-02-18 00:46] naghdy opened #7518 "ENS Resolution not working in some clients"
# Problem

When trying to add another user using their ENS username, some devices/versions simply don't resolve properly.

I was able to repro this ~4 times on various peoples devices. This particular screenshot was from Michael B's device.

![img_0591](https://user-images.githubusercontent.com/32269875/52922148-ff105d80-32db-11e9-8290-667a89c8d84a.PNG)

[2019-02-18 02:07] oskarth commented on #5394
Closing as there's a new issue for this.

[2019-02-18 02:07] #5394 closed, assigned to nobody

[2019-02-18 02:08] oskarth commented on #6375
This would be great. Where is it in the backlog @yenda? Also cc @vkjr re desktop.

[2019-02-18 02:08] oskarth commented on #7497
See https://github.com/status-im/status-react/issues/6375 as well

[2019-02-18 02:09] oskarth commented on #6375
If it isn't a priority, could we please bounty a quick solution up? Would make my inbox checking so much nicer!

[2019-02-18 07:37] mandrigin commented on #7518
@annadanchenko @asemiankevich is it possible to reproduce it locally?

[2019-02-18 08:13] yenda commented on #6375
It's the next issue avec the current one, should start this week.

[2019-02-18 08:52] ghost commented on #6689
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-18 09:01] rachelhamlin commented on #7501
@PombeirP why not group messages by sender if you have a local fix?

[2019-02-18 09:02] ghost commented on #5489
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 09:02] #5489 closed, assigned to nobody

[2019-02-18 09:21] pedropombeiro commented on #7501
@rachelhamlin I realized later that the local fix I have is for having a single PN per sender, sorry for the confusion. I actually started by grouping them, but it didn't seem to make much sense until we start actually showing the messages on the PNs themselves. I'm happy to do any of the two approaches, we just need to make a decision.

[2019-02-18 10:02] ghost commented on #6314
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-18 10:27] hesterbruikman commented on #7208
https://github.com/status-im/status-react/pull/7511
@yenda can we close this issue as you're working on it in #7511?

[2019-02-18 10:28] hesterbruikman commented on #6252
@jakubgs this issue is being worked on here: https://github.com/status-im/status-react/pull/7511 Can we close this one?

[2019-02-18 10:32] ghost commented on #6316
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-18 10:34] #7401 closed, assigned to cammellos

[2019-02-18 10:34] #7500 closed, assigned to nobody

[2019-02-18 10:35] hesterbruikman commented on #6960
@yenda @errorists : can we close this issue? seems to be worked on here: https://github.com/status-im/status-react/issues/7118

[2019-02-18 10:39] errorists commented on #6960
@hesterbruikman hey as long as this insanely-cool-can't-live-without feature is tracked and on our radar, I don't mind, sure! :)

[2019-02-18 11:43] Serhy opened #7520 "Blue progress bar on chat screen spins infinitelly"
***Type***: Bug

***Summary***: In some cases progress bar runs infinitely on chat screens.
Can reproduce, but it just happens from time to time.
It was noticed with Desktop MacOS app (in my case, but mobile affected as well) after Status was on background for ~10 mins then opened and navigated to any type of chat. The blue bar spinning for infinitely long until app restart or mailserver change.
I

[2019-02-18 11:56] ghost commented on #6453
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-18 12:01] churik opened #7521 "Null is not an object (evaluating 'u.length') when message from blocked user is coming"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: it was fixed in #7170, but it is again reproducible in current nightly. When message from blocked user is coming, user is seeing `Null is not an object (evaluating 'u.length')`

#### Expected behavior
no error

#### Actual behavior
![img_8f7deebbb6e1-1](https://user-images.githubusercontent.com/4557972/52949761-82

[2019-02-18 12:18] annadanchenko opened #7522 "N/A instead of status-go version in About"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: N/A is shown instead of status-go version in Profile -> About

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step

[2019-02-18 12:45] churik commented on #7521
@yenda please take a look. Thanks!

[2019-02-18 12:54] annadanchenko commented on #7507
@mandrigin if check logcat then there are 'GoLog' entries with content from geth.log. Note that if change log level to TRACE then there are no new TRACE entries for GoLog
[code]

[2019-02-18 12:57] annadanchenko commented on #7522
It looks like it's connected with #7507
now in logcat for GoLog entries I can find `Starting peer-to-peer node` but it does not contain status-go version
Now:
[code]
Previously (in geth.log)
[code]

[2019-02-18 13:44] ghost commented on #6703
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 13:55] oskarth commented on #6717
@yenda @PombeirP any update on this one?

[2019-02-18 14:10] ghost commented on #6249
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 14:10] ghost commented on #5802
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 14:10] ghost commented on #5554
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 14:10] #6249 closed, assigned to nobody

[2019-02-18 14:10] #5802 closed, assigned to nobody

[2019-02-18 14:14] pedropombeiro commented on #6717
@oskarth I've recently merged https://github.com/status-im/status-react/pull/7389 which could be a cause in some situations where you have bad connectivity, but not sure if this completely fixes things (i.e. if it is the only scenario where this can happen).

[2019-02-18 15:04] ghost commented on #6704
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 15:04] #6704 closed, assigned to nobody

[2019-02-18 15:10] ghost commented on #6705
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 15:10] #6705 closed, assigned to nobody

[2019-02-18 15:24] ghost commented on #6472
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 15:24] ghost commented on #6418
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 15:24] #6472 closed, assigned to nobody

[2019-02-18 15:34] ghost commented on #6368
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-18 15:34] #6368 closed, assigned to SlizkovaGanna

[2019-02-18 15:55] rachelhamlin commented on #7501
@PombeirP gotcha. I think it's better for the user to just disable notifications in that case. If we could bundle them, and you have the bandwidth to do so in context of other improvements, that'd be fantastic.

There's also some mitigation to this issue in the profile & settings updates that allow users to disable notifications from contacts: https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Pr

[2019-02-18 17:34] ghost commented on #6817
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-18 17:54] ghost commented on #6818
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-18 18:09] krisc commented on #7454
@hesterbruikman @gitcoinbot I'll continue with this soon!

[2019-02-18 21:04] dioro commented on #6939
+1

[2019-02-19 03:42] oskarth commented on #6939
@goranjovic is there a reason this isn’t bountied up yet?

[2019-02-19 04:25] oskarth commented on #7488
Any update on this? Considering how disruptive this it seems like fairly high priority.

It also seems likely connected to number of connections, considering how it behaved around Ethdenver. Has this hypothesis been tested? Do we have graphs for how many peers are dropped etc? Would be great to see them pasted in this issue if so, or a link to other relevant issues. cc @adambabik @jakubgs

[2019-02-19 04:37] StatusSceptre commented on #7488
This issue persisted all weekend at ETHDenver with no real relief. This was between multiple WiFi connections, and seemed only a little better on cellular but not enough to have an meaningful conversations.

I got pinged by our own team on telegram Saturday because they didn’t get my status messages, wasn’t cool.

[2019-02-19 04:39] #7512 closed, assigned to nobody

[2019-02-19 08:39] churik opened #7525 "Crash when restore account with chat that has 10+ stickers"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: can reproduce in #7452 on Windows 10 and Linux Ubuntu 18.04 (Parallels VM) after restoring account which has chat with 10+ sent stickers. Crash appears only once, after reopening app is working as expected.

#### Expected behavior
no crash

#### Actual behavior
crash

### Reproduction

- create account A
- create

[2019-02-19 08:58] churik commented on #6703
Still reproducible

[2019-02-19 09:04] #7451 closed, assigned to flexsurfer

[2019-02-19 09:10] Serhy commented on #7520
Updated description with log for MacOS.
After I unlocked PC and opened Status I noticed spinning blue bar. I flushed Status.log, waited 5 minutes - spinning bar was 'In progress' state... Then I changed mailserver (could be seen by looking in logs at `update-mailservers` event in logs)- and everything become fine (i.e. spinning bar disappeared)

[2019-02-19 09:17] mandrigin commented on #7488
update on this issue

(1) we added a dialog on status-react side to try to choose another mailserver
(2) we added monitoring of stale peers on the server side
(3) adding more logs to mailserver figure out where exactly it fails, current devp2p logs are less than useful there
(4) find a workaround (idk, force-remove this peer, or something)
**---> WE ARE HERE <----**
(4.5) make sure that the workar

[2019-02-19 09:21] mandrigin commented on #7488
Some of my thoughts:
- it might be related to the load of the wifi on EthDenver, this "stale peers" issue seems to reproduce much more frequently when a connection is either slow or a bit flaky (also explains why 3G might made it better).
- the clean-up script runs 1 time per 1 minute (which looks like not enough), so if your peer got stuck on the mailserver it is around 1 min until you can reconn

[2019-02-19 09:25] mandrigin commented on #7488
@adambabik had some ideas about the root cause too, he was investigating that.

[2019-02-19 09:26] mandrigin commented on #7488
also, pivotal story: https://www.pivotaltracker.com/story/show/163752166

<blockquote><div><strong><a href="https://www.pivotaltracker.com/story/show/163752166">Mailservers don't remove disconnected peers sometimes making it impossible to connect again - Pivotal Tracker</a></strong></div></blockquote>

[2019-02-19 09:34] ghost commented on #6821
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-19 09:57] yenda commented on #7454
@krisc here is how the small icons are generated https://github.com/status-im/status-react/blob/6f865bf337db5339e69598423d82d9da129ee95e/src/status_im/ui/components/chat_icon/screen.cljs (but the code should be refactored it is very wierd)

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favi

[2019-02-19 10:04] cammellos commented on #7520
@Serhy thanks for the logs, I think what I need is the logs just before this, essentially the loading bar is there but it's not doing anything, we need to get the logs that initiated the loading bar in the first place.
Do you still have those logs?

There is also https://github.com/status-im/status-react/pull/7524 that might fix the issue, if you'd like to spin it for a ride.
Thanks!

[2019-02-19 10:46] Serhy commented on #7520
Actually yea, just got the issue again (simply opened MacOS build from background while WiFi connection always on place). The only remark is that I had installed and recovered my account on mobile device (which reflected on MacOS with 'Pair device' pop-up. It's just a note, because in the past 'Pair device' event had no issues in this relation).
Below is the full Status.log that I have: please not

[2019-02-19 10:52] cammellos commented on #7520
@Serhy do you have the Geth.log as well by any chance?

[2019-02-19 11:17] Serhy commented on #7520
No geth.log for desktop build :(
Maiby because the build I had was after https://github.com/status-im/status-react/issues/7507 issue with geth.log appeared

**Update**: it's not https://github.com/status-im/status-react/issues/7507 but something different. I had enabled 'Logging enabled' and no geth.log. But switched off and on togle button, and I see geth.log. It's MacOS build from #7524 i'm on n

[2019-02-19 12:21] adambabik commented on #7488
I was chasing a case where the TCP conn is half-open and the mail server never tries to send anything through the wire which I guess would keep the conn help-open for unbounded periods of time. This is not a case because there is [this `pingLoop()`](https://github.com/status-im/go-ethereum/blob/master/p2p/peer.go#L206) which does send messages every few seconds.

I was also checking `MsgPipeRW` bu

[2019-02-19 12:39] #7520 closed, assigned to cammellos

[2019-02-19 12:44] cammellos commented on #7368
@churik this should now work as expected (limited to 3 devices, if you have more hanging around, then you might get inconsistent behavior), should we close it?

[2019-02-19 12:46] churik commented on #7368
Yes, for sure! Don't know why `fixes` keyword didn't make it in #7426

[2019-02-19 12:46] #7368 closed, assigned to nobody

[2019-02-19 14:16] emmaodia commented on #7352
WIP

[2019-02-19 14:24] ghost commented on #4475
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-19 14:24] #4475 closed, assigned to nobody

[2019-02-19 14:34] ghost commented on #6781
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-19 15:04] ghost commented on #6796
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-19 15:15] mandrigin commented on #7488
A bit of history of this issue (if it helps someone)

so basicall, the story
(1) Anna had an Android device that wasn't able to connect to some mailservers (like never able to), Sergey had the same issue as well (with diferent mailserver)
(2) We thought that it is an issue on a mobile-app side, so I started debugging (turned out that one of the test accounts on my test Pixel also can't connect to

[2019-02-19 15:28] annadanchenko opened #7527 "Extension is not shown in chat if Development mode is switched off"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Extension command and its chat message is not shown after user installed the extension and relaunched the app if development mode is OFF. If user

[2019-02-19 16:06] mandrigin commented on #7488
I just did a live debugging session with @pablanopete.

It looks like we show this "error/retry" dialog erroneously if a server takes too long to connect or something.

So, in his case.
He starts the app, it connects to a mailserver (shows the gray "Connecting..." label). Then he gets "Error when connecting to the mailserver" dialog, but **behind** this dialog everything connects just fine.

Logs

[2019-02-19 16:07] mandrigin commented on #7488
cc @jarradh @naghdy (see my comment before this one) because it looks like you are affected as well.

[2019-02-19 16:10] Swader commented on #6447
![](https://matrix.org/_matrix/media/v1/download/matrix.org/WUIqHOhLSVLhbnqdtQGfQHif)

[2019-02-19 16:10] ghost commented on #6107
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-19 16:10] #6107 closed, assigned to rasom

[2019-02-19 16:17] yenda commented on #7521
@churik @cammellos there is an error even before that now when blocking a contact, it was introduced with https://github.com/status-im/status-react/commit/bddae03ab234f6574b0c5d4615f586e81512a638 I propose we revert it

`Error: contact.device-info must be of type 'contact-device-info'`

[2019-02-19 16:30] churik commented on #5772
Can be reproduced on Android 8 (device LG V20) on nightly 19/02/2019
![2019-02-19 17 30 15](https://user-images.githubusercontent.com/4557972/53030901-0bc3bb80-346c-11e9-9b41-6e6cb4dfc510.jpg)

[2019-02-19 17:03] annadanchenko opened #7531 ""Error when connecting to the mailserver" is shown when connection is successful"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: while investigating #7488 it was found that in some cases "Error when connecting to the mailserver" is shown when connection is successful: http

[2019-02-19 17:04] annadanchenko commented on #7488
added https://github.com/status-im/status-react/issues/7531 but will need some time to find the way to reproduce

[2019-02-19 17:16] annadanchenko commented on #7518
@mandrigin yes I can repro it specifically for `naghdy` username on my android 9 device, release 0.9.33 build. Note that for `anna`, `nastya` same search works fine. Same can be reproduced on 0.9.32 release on iOS. It looks to me like the issue can be connected with specific username(s) or the time/way when they were registered. I can always reproduce it (tried ~15 times) on 3 devices and on all o

[2019-02-19 17:53] cammellos commented on #7531
I think I know what's going on, @annadanchenko if you have logs it would be helpful, can't replicate but by looking at the code there's something a bit odd.

[2019-02-19 18:11] annadanchenko commented on #7531
@cammellos I have no logs yet, maybe @mandrigin has some extra info as this issue was created as a result of his investigation with @pablanopete

[2019-02-19 18:40] mandrigin commented on #7488
server-side progress.

there is an actual deadlock, it is confirmed, but we aren't 100% sure where

a watchdog was added there, it will set a timeout for the deadlock, but will will still leak some RAM (but we won't leak peers): https://github.com/status-im/status-go/commit/e5abd9eff88890352629bf3c9d45b0e3f4feba1b

also, additional logs to figure out what exactly deadlocks

[2019-02-19 19:09] mandrigin commented on #7488
so, Whisper deadlocks causing devp2p to deadlock. solid.

[2019-02-19 19:36] mandrigin commented on #7488
leak prevention watchdog logs: https://kibana.status.im/goto/0da41dda8fdecf9470b02351bfc7f7e6

<blockquote><div><strong><a href="https://kibana.status.im/goto/0da41dda8fdecf9470b02351bfc7f7e6">Sign In</a></strong></div></blockquote>

[2019-02-19 19:38] mandrigin commented on #7488
okay, issue number 3 there is that sometimes I actually can't connect to a mailserver unless I tap "Retry" a few times... I can't see my pubkey in the mailserver logs as well.

[2019-02-19 19:38] mandrigin commented on #7488
(cc @annadanchenko)

[2019-02-20 04:13] StatusSceptre commented on #7400
@zeddee you've been approved, sorry for the holdout!

[2019-02-20 04:15] StatusSceptre commented on #6996
@nofwayy have snoozed warnings thanks for the update! Let us know of any progress made.

[2019-02-20 05:34] ghost commented on #6727
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 05:34] oskarth commented on #6717
@annadanchenko thoughts?

[2019-02-20 05:44] ghost commented on #6726
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 07:06] pedropombeiro commented on #6727
Still a problem, and now also on Linux Nix branch.

[2019-02-20 09:20] rachelhamlin commented on #7171
WTF.

Can we switch this for long press to delete instead @rasom or @yenda?

[2019-02-20 09:34] ghost commented on #6593
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-20 09:44] ghost commented on #5242
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 09:52] ghost commented on #6733
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 09:52] #6733 closed, assigned to nobody

[2019-02-20 10:34] rachelhamlin opened #7534 "Separate DApp & chat tabs in mobile navigation"
### User Story

As a user, I want to discover the DApps/browser in Status more easily and have separation between DApps and chat.

### Description

*Type*: Feature

*Summary*: From a [previous issue](https://github.com/status-im/status-react/issues/7030), this is a long requested change by users. User problems to address are (1) difficulty locating DApps/browser in current nav, and (2) [distaste f

[2019-02-20 10:35] rachelhamlin commented on #6675
Thanks for opening an issue @MoribETM. We completely understand the frustration.

There's conflict with other discussions about Status global nav, captured [here](https://notes.status.im/IUih9JLaR--1iMU97PrD2A).

That said, improved designs do exist and we're pushing to advance them in this [new issue](https://github.com/status-im/status-react/issues/7534).

[2019-02-20 10:35] #6675 closed, assigned to nobody

[2019-02-20 10:36] rachelhamlin commented on #7030
New issue here: https://github.com/status-im/status-react/issues/7534

[2019-02-20 10:36] #7030 closed, assigned to nobody

[2019-02-20 10:51] ghost commented on #6457
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 11:01] ghost commented on #6737
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 11:01] #6737 closed, assigned to nobody

[2019-02-20 11:05] churik commented on #5242
Isn't stale

[2019-02-20 11:34] #7521 closed, assigned to yenda

[2019-02-20 11:35] #7455 closed, assigned to goranjovic

[2019-02-20 13:10] Serhy commented on #7474
To reproduce behavior of disappearing messages after relogin could be done with the device date change to the past:

**Reproduction:**
1) Install Status
2) Manually change the date to yesterday (at this moment it's 19th of February)
3) Open Status and create new account
4) Join `#status` public chat
5) Wait till message history is fetched (Note: it fetches last 24h, so, depends of time when you ex

[2019-02-20 14:52] ghost commented on #6842
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-20 15:12] ghost commented on #6723
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-20 15:12] #6723 closed, assigned to nobody

[2019-02-20 15:32] ghost commented on #6837
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-20 16:12] ghost commented on #6848
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-20 16:14] StatusSceptre commented on #6505
@goranjovic any thoughts here?

[2019-02-20 16:21] mandrigin commented on #7531
so here we will update status-go, it looks like the issue was on it's side

[2019-02-20 16:21] mandrigin commented on #7531
see this PR: https://github.com/status-im/status-go/pull/1383

[2019-02-20 16:27] mandrigin commented on #7488
okay, status for tonight:

(1) Whisper deadlock is mitigated and deployed to mailservers (https://github.com/status-im/status-go/commit/e5abd9eff88890352629bf3c9d45b0e3f4feba1b), but we still will need to fix it properly (Adam is working on it, here: https://github.com/status-im/status-go/commit/339a68b52b03aa6481f6ec3d3ad84b1234734f6b)

(2) The UI issue looks like a status-go + status-react issue

[2019-02-20 16:41] Serhy opened #7537 "Contact stuck on login screen after Status opened with autologin enabled [iOS]"
***Type***: Bug

***Summary***: Contact stuck on login screen after Status opened with autologin enabled.
If to tap `<` ->  `Other accounts` to return to Sign In screen and try to create new account - user stuck on endless 'Creating your account...' screen
If to tap `<` ->  `Other accounts` -> tap on account, where no autologin enabled, - user appears on Home screen right away.

All fine with Andr

[2019-02-20 16:51] mandrigin commented on #7518
@yenda does it sounds like something for the chat team?

[2019-02-20 16:52] cammellos commented on #7488
@mandrigin yes, I will be working on it

[2019-02-20 16:53] mandrigin commented on #7488
Thanks!

[2019-02-20 17:03] churik commented on #7537
Can confirm that can't reproduce on LG V20 (Android 8.0) - all fine and can reproduce on Iphone 7 (IOS 11.4)

[2019-02-20 17:14] mandrigin commented on #7537
@Serhy it should be a regression... does it behave like that in the release? I use auto-save all the time...

[2019-02-20 17:20] churik commented on #7537
@Serhy @mandrigin can't reproduce it on release 0.9.33 on  IPhone XS
So definitely a regression

[2019-02-20 17:23] mandrigin commented on #7537
can we try to identify (if we keep nightlies) where did that happen?

[2019-02-20 17:30] krisc commented on #7354
@gitcoinbot I hit a road block so I was working on other issues to take a break from this, but I'll was planning on taking another look later today.

[2019-02-20 17:54] Serhy commented on #7537
14th of Feb nightly build - all ok.
15th of Feb nightly build - the issue is present
It started after one of the commits (navigation related?) merged that are listed here https://ci.status.im/job/status-react/job/nightly/945/

[2019-02-20 17:57] mandrigin commented on #7537
@rasom can you take a look if your routing refactoring can cause that?

[2019-02-20 18:01] yenda commented on #7518
@annadanchenko @naghdy
`naghdy` is registered without any contact code so it can't be resolved.
If it is not reproducible with a ens name that has a contact code I suggest we close this issue.
If you don't see a `Your contact code` field under `Your wallet address` field in the `names.statusnet.eth` dapp this means the name was not registered with a contact code.

[2019-02-20 18:02] mandrigin commented on #7518
Can we have some error indication or explanation there? Because otherwise it is super confusing for a regular user...

[2019-02-20 18:20] yenda commented on #7518
The copy could be updated to help with that @andmironov @errorists

[2019-02-20 18:52] tbenr commented on #7354
@krisc if you need some help i cant give you some. we could have a chat and you can explain me the block you have...

[2019-02-20 19:01] naghdy commented on #7518
Can I update "naghdy" to be connected to my contact code? This is super confusing for users...

[2019-02-20 19:19] yenda commented on #7518
@naghdy I think the dapp allows you to do that

[2019-02-20 20:44] krisc commented on #7354
@tbenr are you part of the status dev team?

I'm defining a new event in `extensions/core.cljs`. It looks something like this:

[code]

My problem is that the call to `chat.input/send-plain-text-message-fx` passes in cofx, but somewhere down the line the `:now` field becomes `nil` and that causes an error when I use an extension which uses this event.

So I'm figuring out how to pass in `cofx` to

[2019-02-20 21:51] tbenr commented on #7354
@krisc no but i'm contributing in extensions :)

becomes `nil` or is never set to current timestamp?

btw maybe something like:
[code]

 (using `:now` fx from ns `status-im.utils.datetime`)

[2019-02-20 22:34] adambabik commented on #7488
My fix is ready: https://github.com/status-im/status-go/tree/experiment/magic-peers (https://github.com/status-im/status-go/commit/339a68b52b03aa6481f6ec3d3ad84b1234734f6b, https://github.com/status-im/status-go/commit/617672a03ced672e7dd205a6df9be527e4f26bdc).

I would like to sync with you @mandrigin and @jakubgs tomorrow in the morning to deploy it and confirm that it fixes the issue. After tha

[2019-02-21 07:32] ghost commented on #6840
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-21 08:12] ghost commented on #5576
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-21 08:22] ghost commented on #6839
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-21 08:54] churik opened #7541 ""Error in address" at attempt to send assets to valid ENS name or trying to paste address manually"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when trying to send ETH and set as recicpient valid ENS name, got error in address. Issue is not reproducible in release 0.9.33

#### Expected behavior
address is pasted in "Choose recipient" field

#### Actual behavior
![img_c6dc3fa399d9-1](https://user-images.githubusercontent.com/4557972/53155533-8e0fc500-35bd-

[2019-02-21 11:32] ghost commented on #6687
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-21 11:32] #6687 closed, assigned to nobody

[2019-02-21 11:42] ghost commented on #5547
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-21 12:00] ghost commented on #6859
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-21 12:41] #7474 closed, assigned to cammellos

[2019-02-21 13:19] gravityblast commented on #7133
@dmitryn @goranjovic

I'm adding here some documentation on how to interact with `status-go`.

`status-react` should:

1 - build the transaction "object" that usually sends to `sendTransaction`

2 - call `HashTransaction` in `status-go` [(code)](https://github.com/status-im/status-go/blob/develop/lib/library.go#L431). This function will return:
[code]

The `transaction` in the response contains th

[2019-02-21 13:29] ghost commented on #6747
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-02-21 14:12] churik opened #7545 "Bottom navigation jumping to the top of field when you set focus on it"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: introduced in https://github.com/status-im/status-react/pull/7483 and for fix after merge. Bottom navigation jumps for a moment when keyboard is opened.

#### Expected behavior
bottom navigation is hidden behind the keyboard

#### Actual behavior
![bts](https://user-images.githubusercontent.com/2364994/52896443-9

[2019-02-21 14:14] rasom commented on #7545
not like we have too many options here @churik

It's rather till we find better way to solve bottom nav on android. That's not a bug, that's how animation works on slower android device.

[2019-02-21 14:17] churik commented on #7545
so there is no way to get rid of this behavior?
I have LG V20 (it is not really slow device) and this flickering is very noticeable anyway

[2019-02-21 14:19] rasom commented on #7545
we can adjust animation duration, probably making it slower will help to see actually animation there :D

[2019-02-21 14:29] ghost commented on #6759
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-21 14:29] #6759 closed, assigned to nobody

[2019-02-21 15:30] churik commented on #7545
Closed as by design for now
Discussion below https://github.com/status-im/status-react/pull/7483#issuecomment-463920754

[2019-02-21 15:30] #7545 closed, assigned to nobody

[2019-02-21 16:06] mandrigin commented on #7488
(1) so the fix is deployed and get got one hour with no stale peers at least

[2019-02-21 16:10] mandrigin commented on #7488
(2) is https://github.com/status-im/status-react/pull/7543

[2019-02-21 16:11] cammellos commented on #7488
there's also https://github.com/status-im/status-react/pull/7543 , another issue that I discovered today is that as soon as we go offline (disconnect from wifi) the pop up will be displayed, not sure whether that should be the case, maybe if we know we are offline, we should not show the pop up, and just try to reconnect automatically ? ( if we are online and it fails, then it's ok to show the pop

[2019-02-21 16:12] mandrigin commented on #7488
yeah, offline should probably be treated separately

[2019-02-21 16:12] cammellos commented on #7488
also that only happens for people that have actually selected a mailserver, new accounts should not see the pop up as the mailserver is changed automatically

[2019-02-21 16:39] annadanchenko opened #7549 "Crash after error `There is no route defined for key home` if open universal link to public chat while app is on background with Wallet or Profile tab selected"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: App crashes after error " There is no route defined for key home." if app was on background with **Wallet** or **Profile** or **Dapp**(in 0.11.0

[2019-02-21 17:03] mandrigin commented on #7488
<img width="708" alt="discover - kibana 2019-02-21 18-02-03" src="https://user-images.githubusercontent.com/466427/53187209-f3d27000-3602-11e9-806b-ce0790af7b69.png">
looks like the fix works

[2019-02-21 18:46] krisc commented on #7354
@tbenr thanks! exactly what I was looking for :)

[2019-02-21 20:38] ghost commented on #6763
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-21 20:38] #6763 closed, assigned to nobody

[2019-02-21 21:14] ghost commented on #5254
This seems like an interesting development: https://forum.xda-developers.com/showpost.php?p=78688208&postcount=5495

[2019-02-21 21:23] StatusSceptre commented on #7518
Hey @naghdy you need to go back to the ENS dapp and search your name to add your contact code to the ens name. I’ve seen this happen multiple times, very confusing from a UX perspective.

[2019-02-22 02:45] krisc commented on #7354
@tbenr Actually, it was `datatime/timestamp` that I needed. But thanks for pointing me in the right direction nontheless!

Also `fx/merge` didn't like the 3rd parameter (I believe they all have to be maps. So I ended up writing it this way:

[code]

And this works!

now, the next step is to try to parameterize this with a custom "chat message" and not a hardcoded address.  I was able to call this

[2019-02-22 09:48] ghost commented on #6765
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-02-22 09:48] #6765 closed, assigned to goranjovic, asemiankevich

[2019-02-22 11:11] annadanchenko opened #7553 "Error `fx/defn expects a map of cofx as first argument...` if try to delete custom bootnode"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: On attempt to delete custom bootnode got error and bootnode is not deleted
[code]

#### Expected behavior
[comment]: # (Describe what you expect