[2018-04-11 13:28] nikitalukianov commented on #3793
![time_stamps_preview_final](https://user-images.githubusercontent.com/33906272/38619699-6766fccc-3da5-11e8-8fbd-95e15ce93246.png)

[2018-04-11 13:32] cammellos commented on #3793
@nikitalukianov thanks, just to make sure `Yesterday 1:15 PM` should be `Yesterday`, correct?

Also I would not mind having a go at this, I have yet to write any UI code, would that be ok if I remove the bounties?

[2018-04-11 13:36] nikitalukianov commented on #3793
This variation more easiest and understandable for our users. We need to make time stamps to the next each messages, and make it this color: #939BA1 50% opacity.
@cammellos you're right, lets make just "Yesterday". I can reload this image in correct form, ok?

[2018-04-11 13:38] cammellos commented on #3793
@nikitalukianov I think it's ok, it is clear from the comments, thanks!

[2018-04-11 13:42] nikitalukianov commented on #3793
![time_stamps_preview_final](https://user-images.githubusercontent.com/33906272/38620551-5ce8fdf2-3da7-11e8-9649-13383c4d1a51.png)

[2018-04-11 13:43] nikitalukianov commented on #3793
@cammellos sorry I just wanted to upload the right option :)

[2018-04-11 14:11] antdanchenko opened #3839 "User names which are entered during account creation are not shown for both users even if both of them are in contacts"
### Description
*Type*: Bug
The name entered during account creation is not shown to other contacts even if both users are added in each-others contacts
**Please note,** new name is shown immediately, If the name is changed on Profile screen

#### Expected behavior
`User B` sees the name which was entered by `User A` during account creation

#### Actual behavior
`User B` sees default (e.g. Splendi

[2018-04-11 14:40] ovx commented on #3818
@jeluard ad benchmarks: both versions, with and w/out the change, report the same UI frame rate when opening and scrolling (59 FPS on my device which is the maximum it reports when idle). Everything feels just about the same in both versions, smooth and responsive. Tested with about 150 messages, mostly emoji-only messages mixed with short and long text.

[2018-04-11 15:08] endenwer commented on #3818
My implementation  endenwer/status-react@c97678d20db0f1e940f2c4cd97df6ce69d83230b. I don't know if I can submit it or not cause I am not first.

[2018-04-11 15:28] skypper commented on #3828
Now it works. Thanks!

[2018-04-11 15:28] #3828 closed, assigned to nobody

[2018-04-11 15:30] nikitalukianov commented on #3180
@Serhy , can we use this lib? https://github.com/chirag04/react-native-tooltip

[2018-04-11 16:21] chadyj commented on #3455
@jeluard It should be pretty straight forward to get Fastlane working with Diaiwi with this plugin.
https://github.com/pacification/fastlane-plugin-diawi

After installing the plugin this lane would be added `fastlane/Fastfile` in the appropriate lane

[code]

<blockquote><img src="https://avatars0.githubusercontent.com/u/2921634?s=400&v=4" width="48" align="right"><div><img src="https://assets-cd

[2018-04-11 17:17] dmitryn commented on #3174
Actually, it's not network (ropsten,mainnet,etc) related.
This bug is non-deterministic – sometimes web3 object is successfully injected, sometimes not. Needs more debugging.

[2018-04-11 17:26] dmitryn opened #3841 "Error when removing DApp"
### Description

When removing DApp from chat list by swiping and tapping Delete icon, error is thrown:

[code]

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Open any DApp
- Close DApp
- Open Home screen
- Swipe over DApp
- Tap Delete icon

### Solution

Seems like we don't have `remove-browser` fx but having `data-store/remove-browser`

http

[2018-04-11 17:48] dmitryn commented on #3174
It only works well when you uninstall Status, install again and open this DApp.
On second run it doesn't inject web3 for some reason. Removing DApp from DApp list on Home screen and opening it again doesn't help either.

[2018-04-11 18:29] chadyj commented on #3295
Dupe of https://github.com/status-im/status-react/issues/3793

[2018-04-11 18:29] #3295 closed, assigned to nobody

[2018-04-11 18:31] chadyj commented on #3431
We've discussed redoing this flow with a consistent wallet UI so we don't need to tweak this. We can just fix it with a better flow.

[2018-04-11 18:41] #3641 closed, assigned to nobody

[2018-04-12 03:37] pablanopete opened #3845 "Add edcon to the public list of channels in status"
For the upcoming attendance of edcon would like to include the public channel in status.

[2018-04-12 06:45] denis-sharypin commented on #3793
@nikitalukianov hey please provide font size of the timestamp, a margin between the timestamp and chat bubble.

[2018-04-12 07:14] lukaszfryc commented on #3431
Can you link it to some wallet UI issue?

[2018-04-12 08:16] status-open-bounty commented on #3841
Current balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0xb9d815634d068875191a161a71c1a8532b1d0679](https://etherscan.io/address/0xb9d815634d068875191a161a71c1a8532b1d0679)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3841/4766404e49d67d92b5fe4eda66c05c635890e60f7574d471228f3da6375a702f/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openb

[2018-04-12 08:17] status-open-bounty commented on #3838
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xee349053ea260f7e5577f15f2806c67df9257ac53520ac768c842189ad47e69d](https://etherscan.io/tx/0xee349053ea260f7e5577f15f2806c67df9257ac53520ac768c842189ad47e69d)

[2018-04-12 08:18] andytudhope commented on #3838
@dbalatero got quite far with this before getting busy with his own work. Do you have any thoughts?

References:
https://github.com/status-im/status-react/issues/2541
https://github.com/status-im/status-react/pull/2649

[2018-04-12 08:39] cammellos commented on #3838
thanks @andytudhope
#2541 is not an issue anymore, as we don't use rn-nodeify anymore I believe
#2649 seems the same issue I believe, only happens on android

[2018-04-12 08:58] dmitryn commented on #3174
Doesn't work in Toshi on second run as well. DApp loads with web3 on first run only (same as in Status).

[2018-04-12 09:11] goranjovic commented on #1806
Superseded by new protocol swarm

[2018-04-12 09:11] #1806 closed, assigned to nobody

[2018-04-12 09:11] flexsurfer commented on #3786
fixed by https://github.com/status-im/status-react/pull/3836

[2018-04-12 09:11] flexsurfer commented on #3778
fixed by https://github.com/status-im/status-react/pull/3836

[2018-04-12 09:12] goranjovic commented on #1684
superseded by onboarding swarm

[2018-04-12 09:12] #1684 closed, assigned to nobody

[2018-04-12 09:13] goranjovic commented on #2308
obsolete as we removed discover

[2018-04-12 09:13] #2308 closed, assigned to yenda

[2018-04-12 10:15] jeluard commented on #3050
@vikmeup Care to share some details about how you implemented it? :)

[2018-04-12 10:32] Serhy commented on #3786
In the develop build which includes #3836 fix (336 nightly) - can't reproduce anymore on Android 6.0 (Note 4 real device), Android 7.0 (Samsung J7 real), iPhoneX.
All messages arrive at accounts, no lost messages as well as no 'Waiting for a message to arrive anymore...'.
Gladly closing this issue!

[2018-04-12 10:32] #3786 closed, assigned to nobody

[2018-04-12 11:21] annadanchenko opened #3847 "Half of the line is cut in the input field if focus is on the next line [Android]"
### Description

*Type*: Bug

*Summary*:  Only on Android: First visible line in the input field is cut if focus is in the beginning of the other lines.
![screenshot_20180412-115613](https://user-images.githubusercontent.com/6584810/38667108-43068164-3e49-11e8-885c-319220f472ec.png)

#### Expected behavior
All visible lines, including top line are fully shown (including capital letters) if focus i

[2018-04-12 11:54] antdanchenko opened #3849 "App stops to respond after opening once per ~10 attempts"
### Description
App stops to respond after opening in random e2e tests, also the issue was reproduced manually during nightly build testing
Please see [logcat](https://assets.saucelabs.com/jobs/bb348d6093d3496b9a9040ebc688471a/logcat.log?download=true)
Similar issue has been seen before [3089](https://github.com/status-im/status-react/issues/3089)

#### Expected behavior
App doesn't stop to respon

[2018-04-12 11:57] #3845 closed, assigned to nobody

[2018-04-12 12:41] asemiankevich opened #3850 "Add ANT (ATT) tokens to Status assets list (Ropsten network)"
### Description

*Type*: Bug

*Summary*: Please add ANT (ATT) token asset to Status assets' list so I can exchange new tokens under Ropsten testnet

#### Expected behavior
ATT is added to asset list of tokens

### Reproduction

- Open Status
- go to wallet tab
- tap manage assets

### Additional Information
* Status version: nightly
* Operating System: Android, iOS

[2018-04-12 13:59] adambabik commented on #3806
List of MailServers:

**Ropsten:**
1. `enode://fa63a6cc730468c5456eab365b2a7a68a166845423c8c9acc363e5f8c4699ff6d954e7ec58f13ae49568600cff9899561b54f6fc2b9923136cd7104911f31cce@163.172.168.202:30303`,
2. `enode://90cbf961c87eb837adc1300a0a6722a57134d843f0028a976d35dff387f101a2754842b6b694e50a01093808f304440d4d968bcbc599259e895ff26e5a1a17cf@51.15.194.39:30303`

**Mainnet:**
1. `enode://b963569aac147

[2018-04-12 14:06] #3788 closed, assigned to nobody

[2018-04-12 14:33] lukaszfryc commented on #3342
The issue is always reproducible on both Android and iOS. Firstly, the price for registering an auction in the dapp is 0 ETH. It probably causes the transaction to not happen in the end and "You are proud owner of name..." is not shown.

It maybe related to the dapp itself (Auction House). But, anyway we need to fix it before Beta by either removing the dapp or fixing the issue. At this moment the

[2018-04-12 14:36] lukaszfryc commented on #3342
@dob do you check this issue we're having on Ropsten? Is it the dapp issue or we need to fix something in its integration with Status?

[2018-04-12 14:57] yenda opened #3851 "Delete Jarrad contact"
The `Jarrad` default contact doesn't have the proper settings to work with the new protocol. This causes one to one chat with this contact to throw errors.
To fix is to simply delete the contact

[2018-04-12 15:18] lukaszfryc opened #3852 "User is redirected to new chat screen after pressing back button in a chat screen"
### Description
*Type*: Bug

*Summary*: When new chat is created and I press the back button, I get redirected to the new chat screen. I'd expect to be redirected to Home tab instead.
Note that it also happens for chats that are already on the list but were reopened by selecting them from the new chat screen.

#### Expected behavior
A user is redirected to Home tab when pressing back button in the

[2018-04-12 15:19] lukaszfryc commented on #3852
@denis-sharypin what do you think? Note that it also happens for chats that are already on the list but were reopened by selecting them from the new chat screen.

[2018-04-12 15:23] Serhy opened #3853 "Can't receive offline inbox messages until re-login to account"
*Type*: Bug
*Summary*: Messages sent to contact which is offline - are not received after contact appears online. However, after re-login to account - sometimes not from the first try, - but offline messages received and in the appropriate order.
**Note:** It was confirmed that offline messages are received (after several account re-logins) while both contacts on Mainnet with upstream RPC and Rops

[2018-04-12 15:31] Serhy commented on #3778
Offline inboxing is not fixed completely.

Apparently, because app fails to connect to mailservers (```00:55 E/unknown:ReactNative: console.error: "ERROR [status-im.transport.inbox:157] - Could not connect to mailserver",```) which is still the case - offline inboxed messages do not arrive at an account.

This is described separately in https://github.com/status-im/status-react/issues/3853.
Let's

[2018-04-12 15:31] #3778 closed, assigned to nobody

[2018-04-12 16:03] lukaszfryc opened #3854 "Contacts are not shown in group chat profile or commands suggestions (/send, /receive)"
### Description
*Type*: Bug

*Summary*: When a user is invited to a group chat by her contact, the contact is not listed in the group chat profile neither it is visible in commands suggestions. When `/send` is typed only the default contact ("Jarrad") appears. The user that created the group chat sees all members.

#### Expected behavior
All group chat members should be listed in profile (#3670) a

[2018-04-12 16:04] lukaszfryc commented on #3854
cc @Serhy @asemiankevich @yevh-berdnyk

[2018-04-12 16:11] lukaszfryc commented on #3487
It was not fixed by #86 nor #119

@PombeirP are you aware of any swarm that can fix it?

[2018-04-12 16:13] pedropombeiro commented on #3487
@lukaszfryc https://github.com/status-im/ideas/blob/master/ideas/86-push-notif-v2.md is still in draft mode (it was closed in favor of a pull request to add a Markdown file). It should start soon.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><stron

[2018-04-12 16:23] yevh-berdnyk commented on #3854
@lukaszfryc probably a duplicate of #3705 ?

[2018-04-12 16:39] lukaszfryc opened #3856 "Browser url is cleared when "Done" button is pressed on device keyboard"
### Description
*Type*: Bug

*Summary*: Browser url is cleared when user presses Done button on device keyboard.

#### Expected behavior
Url is not cleared. Keyboard hides. The page does not refresh if the url was not changed.

#### Actual behavior
Url is cleared. Keyboard hides.

### Reproduction
- Open Status
- Join dapp, open "google.com" url
- Focus on the url. Wait for a keyboard to appear
-

[2018-04-12 16:50] lukaszfryc opened #3857 "Flickering url in browser"
### Description
*Type*: Bug

*Summary*: Browser url is sometimes changing constantly causing the url input looks really weird. It's not easily reproducible though.

#### Expected behavior
Url that was entered is not being changed / updated.

#### Actual behavior
Url is flickering. See the movie [here](https://monosnap.com/file/Ibb6smr2ogud3KZ6ou9rYBCjVnQfC6).

### Reproduction
- Open Status
- Open

[2018-04-12 17:06] yenda commented on #3853
So in some cases messages are received by offline inbox ? It is a bit surprising because it seems that the mailservers in the config are ropsten mailservers and not mainnet so you should never receive any offline message

[2018-04-12 17:34] Serhy commented on #3853
Correct. Offline messages received (after tricks with re-login / stop-starting and app) in both cases: When contacts are on Mainnet with upstream RPC or Ropsten with upstream RPC.
Updated description with this note.
TF session for offline inbox message receiving while contact is on the Mainnet RPC: https://app.testfairy.com/projects/4803622-status/builds/8092250/sessions/43/?accessToken=bVdRPEP8cp

[2018-04-12 19:48] vikmeup commented on #3050
It is open source, you take a look, but in the short summary.
We build trust-ray for three main reason:
- fetch transactions per specific address
- fetch all the tokens for specific address
- send push notifications for received and sent transfers or tokens for specific address

Trust-ray parses every block on the blockchain and look for events that’s generated by ERC20 contracts or ether and stor

[2018-04-12 19:49] ricburton commented on #3050
You are doing the lord’s work Viktor

Cheers,

Richard

On 12 Apr 2018, 15:48 -0400, Viktor Radchenko <notifications@github.com>, wrote:

[2018-04-12 23:08] status-open-bounty commented on #3639
Balance: 0 ETH
Tokens: SNT: 1800.00
Contract address: [0xf174ee769fbb10bda966c4fe56c7b682fade758f](https://etherscan.io/address/0xf174ee769fbb10bda966c4fe56c7b682fade758f)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-12 23:09] status-open-bounty commented on #3832
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x424f8556fe694606ae2f4d83c2e5bf8a9b8ec0fcdc41454f7c42a324e4511ca5](https://etherscan.io/tx/0x424f8556fe694606ae2f4d83c2e5bf8a9b8ec0fcdc41454f7c42a324e4511ca5)

[2018-04-12 23:09] status-open-bounty commented on #3799
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x424f8556fe694606ae2f4d83c2e5bf8a9b8ec0fcdc41454f7c42a324e4511ca5](https://etherscan.io/tx/0x424f8556fe694606ae2f4d83c2e5bf8a9b8ec0fcdc41454f7c42a324e4511ca5)

[2018-04-12 23:09] status-open-bounty commented on #3749
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x6d7432986dc283f7920beceadc24c553eed31109ba708627e80e6a9276b556e8](https://etherscan.io/tx/0x6d7432986dc283f7920beceadc24c553eed31109ba708627e80e6a9276b556e8)

[2018-04-13 06:25] jeluard commented on #3050
@vikmeup Nice! Will take a look at it.

[2018-04-13 07:22] lukaszfryc commented on #3705
Contacts also do not appear in the group chat profile screen. Members section is empty. See more in #3854

[2018-04-13 07:22] lukaszfryc commented on #3854
Yes, it's a duplicate

[2018-04-13 07:22] #3854 closed, assigned to nobody

[2018-04-13 07:43] yevh-berdnyk opened #3862 "Add message asking to reinstall application instead of error when updating"
### User Story

As a user I want to be notified about unavailability to upgrade the application with understandable message

### Description

*Type*: Feature

*Summary*: It's not possible anymore to upgrade previous release version to the new one. An error appears when opening an upgraded app. We need a friendly informative message asking a user to reinstall the app

#### Expected behavior
Pop up

[2018-04-13 09:50] yenda opened #3864 "[DRAFT] Refactor settings"
We currently have a settings key that contains wallet and mailserver settings per network. The code is spread in multiple namespaces and there is not spec for these settings.

- settings are per network so the top level keys of settings should be networks.
current:
[code]

should be:
[code]

- We should have a simple mechanism to update these settings
- Settings subs and events should be grouped i

[2018-04-13 10:00] Serhy commented on #3719
Tested in latest nightly - can't reproduce anymore. Cleared message history in Group/Public chat doesn't re-appear.
Happy to close it!

[2018-04-13 10:00] #3719 closed, assigned to janherich

[2018-04-13 10:21] chadyj commented on #3851
I recall Jarrad saying we should remove him as a default contact.

From a UX point of view, if he doesn't reply it can be a bad experience for users to send messages that never get a reply.

[2018-04-13 10:22] Serhy commented on #3702
Tested latest nightly develop (337th jenkins build) - it's not reproducible anymore!
Awesome! Closing the issue!

[2018-04-13 10:22] #3702 closed, assigned to yenda, janherich

[2018-04-13 10:46] yenda commented on #2964
Closing since many topics has been implemented and network and bandwith consumption have greatly improved

[2018-04-13 10:46] #2964 closed, assigned to yenda, b00ris

[2018-04-13 10:46] #2307 closed, assigned to yenda

[2018-04-13 10:47] yenda commented on #2681
@asemiankevich is it still happening ?

[2018-04-13 10:47] yenda commented on #2920
Closing since new protocol has been implemented with many topics

[2018-04-13 10:47] #2920 closed, assigned to yenda

[2018-04-13 10:48] #3250 closed, assigned to yenda

[2018-04-13 10:49] yenda commented on #3172
@annadanchenko can we close this ? I believe it was fixed with the new protocol,

[2018-04-13 11:32] yenda commented on #3851
Ok I updated the issue accordingly

[2018-04-13 12:00] lukaszfryc opened #3868 "Screen freezes when app is opened and there are lot of unread messages"
### Description
*Type*: Bug

*Summary*: When there are lot of unread messages (~100) and the app is opened, the screen freezes for couple of seconds. It can be easily reproducible, even on a relatively powerful phone (Samsung Galaxy S8).

It's not related to the chat screen itself. When Home was the last screen, the app freezes as well.

#### Expected behavior
The UI does not freeze. Instead, it's

[2018-04-13 12:35] lukaszfryc commented on #3868
Closing as duplicate of #3095.

[2018-04-13 12:35] #3868 closed, assigned to nobody

[2018-04-13 14:50] dmitryn commented on #3841
Closing this manually as related PR has been merged.

[2018-04-13 14:50] #3841 closed, assigned to nobody

[2018-04-13 16:22] dob commented on #3342
@lukaszfryc Hey thanks for reaching out. I just went through the flow of creating an asset and an auction on desktop web and things were working, so I assume this issue has something to do with the mobile UX. PR's to auctionHouse are welcome if someone wants to take on fixing this.

On a side note though, this app was a proof of concept to spur discussion about NFT's, attempt to standardize some o

[2018-04-13 16:25] asemiankevich opened #3869 "Add ATT tokens support in Status"
### Description

*Type*: Bug

*Summary*: as we discussed with @andytudhope and @jeluard , Andy will be able to add ATT tokens support so we can exchange the tokens in Status app

#### Expected behavior
I can exchange ATT tokens in Status under Ropsten testnet

#### Actual behavior
no ATT support now

### Additional Information
* Status version: nightly
* Operating System: Android, iOS

[2018-04-13 16:26] asemiankevich commented on #2681
@yenda yes, it was in place some time ago (couple of weeks) , however i do not own the device now so cant say for sure. @yevh-berdnyk Zhenya, could you please check it?

[2018-04-13 16:53] Serhy opened #3870 "Release 0.9.17 app version crash if message was sent to it's contact by the contact using Develop app version"
***Type***: Bug

***Summary***: If message sent (in 1-1 / public chat) by the contact who using latest develop to the contact who using current release 0.9.17 build -> app is crashed on 0.9.17 side.
However viceversa works OK: 0.9.17 sends message to latest develop -> message is received

#### Expected behavior
No crashes and message is received by the user who is on 0.9.17 app version if message

[2018-04-14 17:40] yenda opened #3874 "Do not request prices of all tokens on mainnet when opening wallet"
This is a draft for now but I think the fix should be in release

I think that when you go in the wallet screen, we request the value of each of the supported token individually to cryptocompare api. This is useless because we should do only the tokens that the user has selected, and it makes the app laggy even on simulator so it's probably worst on devices

Should be reproducible when going to wa

[2018-04-15 12:24] Serhy commented on #3336
Since the new protocol introduced the behaviour has changed a little bit.
Issue still takes place as described, however now instead of 'Unshadowing' of the actual messages in message bubbles we had before - lags are taken place on actual chat screen appearance. I.e. there is a delay when user taps on chat from Home screen with the number of unread messages and chat with the list of messages appear

[2018-04-15 12:39] Serhy commented on #3108
After new protocol, this issue does not take place anymore!
6 group chat members - on Galaxy Note 4 - very first message in the group chat appears with the same delay as all further messages.
Note, the number/size of the messages still matters in order how fast message appears in the chat screen after contact taps on 'Send message' button (https://github.com/status-im/status-react/issues/3397)

Ha

[2018-04-15 12:39] #3108 closed, assigned to nobody

[2018-04-15 13:41] Serhy commented on #3397
Since the new protocol changes - this issue looks much better!
I don't see any dependency between message content size and time delays on message sending like we had before.
But still the number of messages matter.

So the description slightly updated keeping the scenario of how the number of messages impacts to the delay between tap 'Send message' button and when the actual message appears in the

[2018-04-16 07:09] annadanchenko opened #3876 "Hide sensitive data fields (passwords, seed phrase words) in TestFairy"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
In the following cases fields with sensitive data should be not visible in the TestFairy video:

On Android:
1. When user confirms requested wor

[2018-04-16 07:56] lukaszfryc commented on #3870
I believe this was fixed by #3658. @yevh-berdnyk is that correct?

[2018-04-16 08:02] annadanchenko opened #3877 "Can sign transaction without entering password if it was entered previously and canceled"
### Description

*Type*: Bug

*Summary*: User can sign transaction with empty password if password was entered previously but transaction was cancelled

#### Expected behavior
User must enter password if password field is empty. Button Sign Transaction should be not active if password field is empty. If user taps on inactive Sign Transaction then nothing should happen

#### Actual behavior
User ca

[2018-04-16 08:06] yevh-berdnyk commented on #3870
@lukaszfryc yes, fixed in the build [#12](https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.17/12/) so closing the issue

[2018-04-16 08:06] #3870 closed, assigned to nobody

[2018-04-16 08:43] annadanchenko opened #3878 "Top blue area in the Wallet takes too much space"
### Description

*Type*: Bug

*Summary*: Blue area takes too much space on Wallet screen on large screens (iPhone 7 plus and Google Pixel XL)
iOS:

![ios](https://user-images.githubusercontent.com/6584810/38798527-844e45ac-416a-11e8-91e8-a9caff59071e.jpg)

Android:
![android](https://user-images.githubusercontent.com/6584810/38798535-8976304e-416a-11e8-9f65-0445ca6af271.png)

#### Expected behavio

[2018-04-16 08:52] #3862 closed, assigned to yenda

[2018-04-16 09:00] #3705 closed, assigned to janherich

[2018-04-16 09:18] status-open-bounty commented on #3799
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0xf501dc1282f69ccc3156dac31d30d47ba2e8093e](https://etherscan.io/address/0xf501dc1282f69ccc3156dac31d30d47ba2e8093e)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-16 09:23] status-open-bounty commented on #3832
Balance: 0.000000 ETH
Tokens: SNT: 900.00
Contract address: [0x0369f02310d0ee904063617a495005e7d725b0bf](https://etherscan.io/address/0x0369f02310d0ee904063617a495005e7d725b0bf)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-16 09:26] goranjovic commented on #3050
Obsolete, replaced by TBA issue

[2018-04-16 09:26] #3050 closed, assigned to nobody

[2018-04-16 09:29] #3806 closed, assigned to yenda

[2018-04-16 09:38] yenda commented on #3874
Duplicate of https://github.com/status-im/status-react/issues/3821

[2018-04-16 09:38] #3874 closed, assigned to yenda

[2018-04-16 10:01] #3851 closed, assigned to janherich

[2018-04-16 11:01] yevh-berdnyk opened #3880 "Don't allow group chat admin to leave it"
### User Story

As a user, I want to have an ability to completely disable communication in group chats created by me

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Group chat admin after leaving the chat still receives new messages in

[2018-04-16 11:03] yevh-berdnyk commented on #3880
@denis-sharypin please review

[2018-04-16 11:30] chadyj commented on #3738
@dmitryn Any updates from Instsabug?
I can post on their RN repo to help get their attention.

[2018-04-16 11:50] cammellos commented on #3792
@lukaszfryc tracking the timestamp would only be accurate if the two clocks are synchronized ( or sender and receiver are on the same box).

We can still track it but we need to take that into account when analyzing the data.

Otherwise you can track the receiving of the tracking event on mixpanel/elasticsearch, under the assumption that the server/cluster clocks are synchronized.

Time Taken = Ti

[2018-04-16 12:08] #3814 closed, assigned to janherich

[2018-04-16 12:09] asemiankevich opened #3881 "Web3 commands are links instead of text in Console chat"
### Description

*Type*: Bug

*Summary*:  web3 commands are treated as links which is not correct since they are not links :)

#### Expected behavior
web3 commands are not clickable when being sent to console chat

#### Actual behavior

web3 commands are shown as links

![image](https://user-images.githubusercontent.com/28752642/38807576-b914e1a4-4185-11e8-80b7-5a4b31728a60.png)

### Reproduction

[2018-04-16 12:14] denis-sharypin commented on #3880
@yevh-berdnyk  good catch, thanks!

`Leave group` in the chat profile for admin should trigger the Expected behavior.  To make it more clear we should adapt copy in the following `alert message`.
Now we have: `Are you sure you want to leave this group? `
Should be:  `Are you sure you want to leave this group? This group will be deleted and nobody won't receive any new messages`
What do you think?

[2018-04-16 12:19] asemiankevich commented on #3318
@dmitryn is it okay to close this one?

[2018-04-16 12:22] yevh-berdnyk commented on #3880
@denis-sharypin it's a good message for alert but I'd rename also the button to be something more obvious initially like disable, cancel or archive the group.
And I think we should not delete the chat and message history in it for group members for being able to access some information etc.

[2018-04-16 12:25] asemiankevich opened #3882 "App crashed with SIGSEGV in 0x104b10000 + 10064320"
### Description

*Type*: Bug

*Summary*: Crashed with `SIGSEGV in 0x104b10000 + 10064320` when i tapped Viber incoming message in the toolbar while status was trying to log in (after network switch)

#### Expected behavior
no crash

#### Actual behavior

### Reproduction

I am not sure of the root cause, just describing what i did
- Open Status
- Enable Console
- Switch to Ropsten from Mainnet
- W

[2018-04-16 12:38] go1t commented on #3616
@denis-sharypin I can pick this up but just wondering one thing, wouldn't it be a better experience to make this text copied-on-tapped (and on tap we show a little small popup with the text "Address copied to clipboard" or something)? It's less tap that way and there are no other possible actions intended for this text too.

[2018-04-16 12:48] asemiankevich opened #3883 "Add Web3 to commands list and update empty console copy"
### Description

*Type*: Bug

*Summary*: when interacting with Console i want to have `Web3` commands under my hand using `/` or tapping the command button

#### Expected behavior

1. i do see `web3` suggestion when typing `/` symbol in console chat along with /faucet and /debug
2. i do see `web3` suggestion when tapping commands button in console chat along with /faucet and /debug
3. empty consol

[2018-04-16 12:56] lukaszfryc commented on #3792
@cammellos what does it mean that two clocks are synchronized? Can't we just track utc time of "sent" and "received" events?

[2018-04-16 12:58] asemiankevich opened #3884 "Wrong response order for /debug command"
### Description

*Type*: Bug

*Summary*: the response for /debug command is shown upper than the command call which is incorrect in terms of chat behavior

#### Expected behavior

/debug command response is shown after the /debug command call

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/38810194-acbf9a62-418e-11e8-9d6f-1a9f8128931a.png)

### Reproduction

- Ope

[2018-04-16 13:04] status-open-bounty commented on #3878
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0xc22be836cc4f9b9b0d9f9bfe0700f36bd5d9d671](https://etherscan.io/address/0xc22be836cc4f9b9b0d9f9bfe0700f36bd5d9d671)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-16 13:06] asemiankevich opened #3885 "Console navigation bar text is not centered"
### Description

*Type*: Bug

*Summary*: Header is not centered in last nightly

#### Expected behavior
Console header is centered

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/38810432-679c605e-418f-11e8-8082-fe31774ed32f.png)

### Reproduction
- Open Status
- Enable Console in Profile
- Open Console chat

### Additional Information
* Status version: nightly
*

[2018-04-16 13:09] cammellos commented on #3792
@lukaszfryc depends on what you mean.

I took that in the previous comment you meant to use the message timestamp to check how long it would take, but maybe I misunderstood.

If you use the time of "sent" and "received" events, as long as you calculated it on the server (elasticsearch/mixpanel), then you should get fairly accurate timing, provided you account for network delays.

[2018-04-16 13:10] status-open-bounty commented on #3869
Balance: 0.000000 ETH
Tokens: SNT: 1800.00
Contract address: [0xf673b783b7117903f240cd6c840fd2c469e20f57](https://etherscan.io/address/0xf673b783b7117903f240cd6c840fd2c469e20f57)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-16 13:18] lukaszfryc commented on #3342
Thank you @dob!

[2018-04-16 13:22] lukaszfryc commented on #3342
So, I think we should not feature Auction House unless we plan to support NFTs in Status Beta release. cc @goranjovic

[2018-04-16 13:26] status-open-bounty commented on #3095
Current balance: 0.000000 ETH
Tokens: SNT: 0.00
Contract address: [0x1e56f4a4f306a8d3b928b858109f9acd5551213d](https://etherscan.io/address/0x1e56f4a4f306a8d3b928b858109f9acd5551213d)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3095/ea4f48fa6632eb84e5065ad12fc71acf0eedf2b8f9e91c8dacb3f880675966df/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbou

[2018-04-16 13:27] denis-sharypin commented on #3616
@go1t I thought about that. But decided to go with this solution bc it's simpler and quicker from implementation pov and such behavior consistent and native to the mobile platforms. Otherwise, I need to create a custom alert, then provide animation for this alert and behavior is not consistent with our patterns (it's a button behavior but we don't have buttons here). Later we will probably add a s

[2018-04-16 13:30] asemiankevich commented on #3342
@lukaszfryc ERC 721 support will be launched soon , 170 swarm

[2018-04-16 13:45] #3318 closed, assigned to nobody

[2018-04-16 13:49] lukaszfryc commented on #3774
I could not reproduce it while testing release/0.9.17 branch

[2018-04-16 13:51] status-open-bounty commented on #3804
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe6f8a4c7d14e05996b10eecf0afeb25864bdc839eb073c13a372237d67715913](https://etherscan.io/tx/0xe6f8a4c7d14e05996b10eecf0afeb25864bdc839eb073c13a372237d67715913)

[2018-04-16 14:03] dmitryn commented on #3738
@chadyj we're still in a debug process. I've just sent new batch of test events to allow them verify if they receive it.

If you could ping them somewhere else to speed that up, it would be helpful.

[2018-04-16 14:09] denis-sharypin commented on #3804
Thanks, @annadanchenko I updated the Expected behavior

[2018-04-16 14:18] status-open-bounty commented on #3821
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0xb43886468798cd1686981b6aa6a1e1021bba06c6](https://etherscan.io/address/0xb43886468798cd1686981b6aa6a1e1021bba06c6)
Network: Mainnet
Paid to: yenda
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-16 14:20] status-open-bounty commented on #3825
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8eca0730ad1fd8af1d55aca60354a7a4c0499d6aaa15b848ac8e49c89746c7bc](https://etherscan.io/tx/0x8eca0730ad1fd8af1d55aca60354a7a4c0499d6aaa15b848ac8e49c89746c7bc)

[2018-04-16 14:29] status-open-bounty commented on #3847
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x2722471b75387100c5d36972d5f986023e1b2803](https://etherscan.io/address/0x2722471b75387100c5d36972d5f986023e1b2803)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-16 14:35] lukaszfryc commented on #3792
Yes, I was thinking about time it takes for messages to be delivered.

Yes, this is what I meant. I wonder if we are going to be able to calculate it in Mixpanel. Probably not. So, I think we can start with just send/delivered ratio (what this issue is about) and then extend it (if we still think it's important) to calculate delivery time (then we would probably need elasticsearch and kibana).

[2018-04-16 14:38] cammellos commented on #3792
It seems mixpanel does export the time an event arrived https://mixpanel.com/help/reference/exporting-raw-data , we will not be able to calculate it on mixpanel, but if we export the data we could.

<blockquote><div><strong><a href="https://mixpanel.com/help/reference/exporting-raw-data">Mixpanel | Product AnalyticsExporting Raw Data - Mixpanel | Product Analytics</a></strong></div><div>Learn how

[2018-04-16 15:18] dmitryn commented on #3876
- [x] Android 1, iOS 2:  Fixed
- [x] iOS 1,4:  Having conversation with TF support team on why inputs with `secureTextEntry=true` attribute is not hidden anymore on iOS.
- [x] iOS 3: https://github.com/testfairy/react-native-testfairy/issues/18 Getting in touch with TF support on why this doesn't work as expected.

[2018-04-16 15:20] lukaszfryc commented on #3792
That would be great. cc @rasom

[2018-04-16 15:50] denis-sharypin commented on #3852
@lukaszfryc yep makes sense. I'm thinking about the more generic rule than an exceptional behavior for chats. Do you have ideas what this rule could be?

[2018-04-16 15:54] adambabik opened #3888 "Switch internal RPC calls to use CallPrivateRPC"
### User Story

As a developer, I don't want to expose all JSON-RPC methods to DApps.

### Description

*Type*: Feature

*Summary*: In status-go, starting from commit `ef160e87`, we stripped down APIs exposed in `CallRPC`. So far, `CallRPC` could call **any** JSON-RPC method, even not whitelisted ones.

In `ef160e87`, we fixed that and `CallRPC` calls only public or whitelisted APIs. In order to c

[2018-04-16 16:19] pacamara commented on #3690
@PombeirP Hi, here's an implementation for this requirement: #3889 :beers:

[2018-04-16 17:50] dmitryn commented on #3876
Update from TF support regarding `secureTextEntry`:

[2018-04-17 00:42] go1t commented on #3616
Got it. I think the implementation would be about the same since normal `selectable` prop can't provide the highlight behavior (as far as I've searched), so we would need to use TouchableHighlight either way.

But yeah I agree that adding a copy button would make the most sense. I also have some experience in UI design so I can give this approach a shot as well if you are not available to design t

[2018-04-17 03:05] endenwer commented on #3841
@dmitryn How can I claim this bounty? There is no my claim for this bounty in activity page. Maybe this because I set payment details after submitting bounty. So I lost the reward?

[2018-04-17 07:13] annadanchenko opened #3891 "Removed member in the group chat can see it in Home and can write messages that will be received by the group members"
### Description

*Type*: Bug

*Summary*:  User who is removed from group chat can
1. See the group chat in Home tab
2. Write messages to the group chat and these messages will be visible to the other group members

#### Expected behavior
After user is removed from the group chat:
1. User gets the message that he was removed
2. If user writes any messages after he was removed then these messages ar

[2018-04-17 07:25] annadanchenko opened #3892 "`nth not supported on this type cljs.core/PersistentArrayMap` error if try to add new member to the group chat"
### Description

*Type*: Bug

*Summary*: If select new member for the group chat and tap on Add then error
[code]
#### Expected behavior
User is added to the group chat

#### Actual behavior
Popup `nth not supported on this type cljs.core/PersistentArrayMap` is shown
### Reproduction
00:29 https://app.testfairy.com/projects/4803622-status/builds/8118108/sessions/15/?accessToken=n5rGGvuzOTDU1Gp-UHY

[2018-04-17 07:38] denis-sharypin commented on #3616
@go1t  thanks! I would happy if we go in the original direction right now.

[2018-04-17 07:54] annadanchenko opened #3893 "Group chat that user has left is shown again after app is relaunched and new messages are recieved"
### Description

*Type*: Bug

*Summary*: Group chat that user has left is shown after app is relaunched. In addition, if new message is sent by other participants then user can see all previous conversation and new messages.

#### Expected behavior
When user left the chat then he does not want to receive new messages, so

#### Actual behavior
After app is relaunched the chat is shown again (withou

[2018-04-17 08:02] #3818 closed, assigned to nobody

[2018-04-17 08:10] annadanchenko opened #3894 "Random names instead of user names are shown in public chat if users are not in contacts for each other"
### Description

*Type*: Bug

*Summary*: Despite https://github.com/status-im/status-react/pull/3128 there are random "3 words" names in public chats shown if users are not in contacts for each other
![87884](https://user-images.githubusercontent.com/6584810/38856707-d9fb4480-422f-11e8-8b84-1d8927dde418.jpg)

#### Expected behavior
User name that was set by the user when account was created is sho

[2018-04-17 08:30] status-open-bounty commented on #3885
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xfd3b36711b0fcfaaf68067738bbfa4e662ef511b5852cf20a02f5827245b261a](https://etherscan.io/tx/0xfd3b36711b0fcfaaf68067738bbfa4e662ef511b5852cf20a02f5827245b261a)

[2018-04-17 08:36] status-open-bounty commented on #3884
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x891f0976431aa2f7e72ef96430d7c5e4c12078498e6d7f97c1b4a6d04f0e7185](https://etherscan.io/tx/0x891f0976431aa2f7e72ef96430d7c5e4c12078498e6d7f97c1b4a6d04f0e7185)

[2018-04-17 08:47] status-open-bounty commented on #3883
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb4336c712efd86de2aaac71ca021ad6885d17160701e43f220e6493a0651529c](https://etherscan.io/tx/0xb4336c712efd86de2aaac71ca021ad6885d17160701e43f220e6493a0651529c)

[2018-04-17 08:53] status-open-bounty commented on #3885
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x67a80209101048d980666c47f8a7cb40b9a70a51](https://etherscan.io/address/0x67a80209101048d980666c47f8a7cb40b9a70a51)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-17 08:59] status-open-bounty commented on #3881
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd78c435258d4af5b7ea6163ed1f68845f44124e181628bffa4f328b311c75fe6](https://etherscan.io/tx/0xd78c435258d4af5b7ea6163ed1f68845f44124e181628bffa4f328b311c75fe6)

[2018-04-17 09:07] status-open-bounty commented on #3881
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x1571a58334de465178c5c2c970e82831e05b68fd28bf96deef24934efcbd1ec2](https://etherscan.io/tx/0x1571a58334de465178c5c2c970e82831e05b68fd28bf96deef24934efcbd1ec2)

[2018-04-17 10:07] status-open-bounty commented on #3813
Balance: 0.000000 ETH
Tokens: SNT: 880.00
Contract address: [0x8179fe0a1b9ad641f5dcdd080fca14bd4fc90116](https://etherscan.io/address/0x8179fe0a1b9ad641f5dcdd080fca14bd4fc90116)
Network: Mainnet
Paid to: debragail
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-17 10:14] dmitryn commented on #3841
@endenwer there is no way to claim it after PR has been merged.
Your reward will be processed manually by @andytudhope

[2018-04-17 10:17] status-open-bounty commented on #3798
Balance: 0.000000 ETH
Tokens: SNT: 3000.00
Contract address: [0x607f377d2b6df948b18ba71fe313a53ac6e2f188](https://etherscan.io/address/0x607f377d2b6df948b18ba71fe313a53ac6e2f188)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-17 10:18] andytudhope commented on #3841
Hey @endenwer - sorry about the confusion on this one and thanks so much for submitting a good fix!

Here is your payment: https://etherscan.io/tx/0xcc0ef39f9fc0363c23eb07d11fe4d7659c404975fac9309e965a8aeb164f6fb0

<blockquote><img src="/images/favicon2.ico" width="48" align="right"><div><strong><a href="https://etherscan.io/tx/0xcc0ef39f9fc0363c23eb07d11fe4d7659c404975fac9309e965a8aeb164f6fb0">Et

[2018-04-17 11:15] nikitalukianov commented on #3784
@lukaszfryc when a device is offline and I sent a message, we immediately show "Not sent. Tap for options" and then we show the spinner and if we still offline, we show "Not sent. Tap for options" again

[2018-04-17 11:31] lukaszfryc commented on #3784
@nikitalukianov does it mean the message I sent while being offline will not be automatically delivered after I'm back online? Will I need to tap sent again button manually?

[2018-04-17 11:34] chadyj commented on #3784
After the timeout the message will need to be sent manually via the tap>resend method.

[2018-04-17 11:49] nikitalukianov commented on #3784
@lukaszfryc @chadyj yes it fits

[2018-04-17 11:50] nikitalukianov commented on #3793
I prepared this screens in Zeplin: https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/dashboard?seid=5ad5db84c95888398402eb0d

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src="/img/favicon/256x256.png" height="14"> Zeplin</div><div><strong><a href="https://zeplin.io/">Zeplin - Login</a></strong></div><div>Collaboration app for UI designer

[2018-04-17 13:22] Serhy opened #3898 "Old messages appear for contact in a public chat if he joins this chat very first time"
***Type***: Bug

***Summary***: When new contact joins a public chat, then messages which were sent before this contact joined are pulled. So at the moment if I create a very new account and join #status public chat - I see previous messages sent in this chat by other contacts.

Contact should see the message history in public chat **only** since the time he joins the chat.

#### Expected behavior

[2018-04-17 13:24] #3690 closed, assigned to nobody

[2018-04-17 14:24] denis-sharypin opened #3900 "While adding members to group chat don't display dapp list."
### User Story

As a user, I want to add only users (not dapps) to a group chat.

### Description

*Type*: Bug

#### Expected behavior
![artboard](https://user-images.githubusercontent.com/6559881/38874196-d555fdda-4257-11e8-9f31-7046d445d85f.png)

#### Actual behavior
![img_4544](https://user-images.githubusercontent.com/6559881/38871791-132367a2-4252-11e8-84a2-7191986746c2.PNG)

### Reproduction

[2018-04-17 14:31] denis-sharypin commented on #2681
@yenda  Maybe if we specify a `KeyboardType` to `Numeric` it will work properly?
<img width="776" alt="screenshot 2018-04-17 16 30 06" src="https://user-images.githubusercontent.com/6559881/38876409-b1a33466-425c-11e8-8683-12f2078defe3.png">

[2018-04-17 14:52] denis-sharypin opened #3901 "Update styles of system messages bot"
### User Story

As a user and admin of group chat, I want to have more clarity on who sends me system messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*:
As admin of group chat I see `system messages` when adding or removing somebody to/from the existing group chat. Those messages have broken userpick and you can tap on to see profile of this bot. We ha

[2018-04-17 14:54] Serhy commented on #2681
I can confirm the issue is still present on Samsung Galaxy Note 4 (with Android 6.0.1).
Tried with English (us), English (uk), French, Russian as @yenda suggested - in all cases, there is no delimiter button on Wallet screen for numeric keyboard:
![screenshot_2018-04-17-17-13-04](https://user-images.githubusercontent.com/8749671/38877835-362770d4-4268-11e8-99c9-0dab8ba1e0f5.png)

[2018-04-17 14:54] denis-sharypin commented on #3901
Userpicks, let me know if you need different sizes
![logo 1x](https://user-images.githubusercontent.com/6559881/38877883-f54829d0-425f-11e8-8c26-19b444f0a3db.png)
![logo 2x](https://user-images.githubusercontent.com/6559881/38877884-f5826d02-425f-11e8-8da8-f660f6a2b550.png)
![logo 4x](https://user-images.githubusercontent.com/6559881/38877887-f5c2d9be-425f-11e8-8a45-31118bf4a4ec.png)

[2018-04-17 14:58] lukaszfryc opened #3902 "Android keyboard in sign transaction screen should start with lowercase letter"
### Description
*Type*: Bug

*Summary*: First letter in "Enter password" keyboard is uppercase. It's an issue since some user may miss that and then not understand why the password she provided is wrong. It happened for me few times. And, since my password starts with a lowercase, I always need to fix the keyboard before typing it. Note that when creating an account, the keyboard starts with lower

[2018-04-17 15:00] lukaszfryc commented on #3900
Looks like a regression. I think we've already fixed it some time ago.

[2018-04-17 15:08] yevh-berdnyk commented on #2681
LG V20, Android 7.0 - without delimiter
![2018-04-17 18 07 11](https://user-images.githubusercontent.com/29711298/38878737-5552bc78-426a-11e8-9817-82db4e1616fc.jpg)

[2018-04-17 15:16] lukaszfryc opened #3903 "Back button should not redirect to sign in screen"
### Description
*Type*: Bug

*Summary*: When user logs in and presses device back button she is being redirected to sign in screen. Instead, the app should go into the background.

#### Expected behavior
When device back button is pressed, instead of going to sign in screen the app should go into background.

#### Actual behavior
When back button is pressed in home screen, user is redirected to si

[2018-04-17 15:27] annadanchenko commented on #3172
can't reproduce on nightly build for Apr 17 on Android device. If tap on Back button after logout then app is put on background if switch back to the app then Sign in screen is shown with list of accounts

[2018-04-17 15:27] #3172 closed, assigned to yenda

[2018-04-17 15:31] #3817 closed, assigned to nobody

[2018-04-17 15:33] #3856 closed, assigned to nobody

[2018-04-17 15:34] #3821 closed, assigned to yenda

[2018-04-17 15:56] mandrigin commented on #2479
I think it makes sense to switch to a duplex transport layer.
Then we will also be able to use subscriptions for new messages, etc.

[2018-04-17 21:50] janherich commented on #3701
@Serhy I believe this is already fixed in develop.

[2018-04-17 21:50] janherich commented on #3781
Already fixed in develop

[2018-04-17 21:50] #3781 closed, assigned to janherich

[2018-04-17 21:51] janherich commented on #3624
@asemiankevich could you please check if this is already fixed in develop ? When yes, please close the issue.

[2018-04-17 21:52] janherich commented on #3619
@annadanchenko could you please check if this is already fixed in develop ? If yes, please close the issue

[2018-04-17 21:53] janherich commented on #3562
This is already fixed in current develop, please make sure it's working and when yes, we can close it @lukaszfryc

[2018-04-18 07:58] lukaszfryc commented on #3793
I've been playing with latest nightly that has the timestamps. It seems for me that having them always visible for every message maybe distracting. Also, a timestamp takes a lot of vertical space, causing the message bubbles to shrink.

@nikitalukianov @hesterbruikman Have you considered displaying timestamps only when a user taps on the message like in Facebook Messanger?

@nikitalukianov In case

[2018-04-18 08:13] hesterbruikman commented on #3793
Thanks for checking @lukaszfryc! I would opt for option 2 timestamp inside message bubble.

Given that issues with ordering and delivery of messages are likely to occur, I believe the timestamp is to important to 'hide'. Also, it adds information such as scanning for the amount of time between messages, which would otherwise require a back and forth of tapping in individual messages.

@nikitalukia

[2018-04-18 08:29] asemiankevich opened #3906 "Error re-matches must match against a string when calling commands"
### Description

*Type*: Bug

*Summary*: Error re-matches must match against a string when calling commands in Console or chat

#### Expected behavior
can call debug or faucet, send or request

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/38920517-1d029464-42fc-11e8-81ce-05750934f450.png)

### Reproduction

- Open Status
- Enable Console
- call /debug
- call /f

[2018-04-18 08:38] #3174 closed, assigned to dmitryn

[2018-04-18 08:43] yenda opened #3907 "Replace accounts/accounts by account/account in app-db"
### User Story

As a developper I want to share the minimal amount of informations between accounts and I don't need other accounts infos when the user is logged in.

### Description

*Type*: Bug

- move all informations that are not necessary to login from the base realm to account specific realm
- remove accounts/accounts and accounts/current-account-id from app-db, replace by account/account wh

[2018-04-18 08:57] #3885 closed, assigned to nobody

[2018-04-18 09:02] endenwer commented on #3813
@jeluard Does this issue cancel this #3884?

[2018-04-18 09:04] jeluard commented on #3884
@asemiankevich External bots will be disabled for now as this feature is currently broken and introduces security risks.

[2018-04-18 09:05] jeluard commented on #3813
@endenwer It does indeed! Thanks for the heads up!

[2018-04-18 09:09] chadyj commented on #3443
@jacqueswww What do you think about doing a HTML version of the above json that has QR codes? Until we bring the directory into Status it can be an easy page to find and add contacts.

[2018-04-18 09:11] asemiankevich commented on #3884
@jeluard got it, thanks

[2018-04-18 09:11] jacqueswww commented on #3443
Yeah sure I can do that, the whole "0x..." Strng just encoded in the qr code?

[2018-04-18 09:21] chadyj commented on #3443
@jacqueswww Yep so that Status can read it when adding a contact.

[2018-04-18 09:26] chadyj commented on #3443
Also nice to show the name and photo too.

[2018-04-18 09:29] annadanchenko opened #3910 "Remove non-upstream networks: "Mainnet", "Rinkeby" and "Ropsten" from the network list"
### Description

*Type*: Bug

*Summary*:  For Beta scope: remove options "Mainnet", "Rinkeby" and "Ropsten" from the network list. It does not do anything (no syncing too , so only networks with upstream RPC make sense now.

#### Expected behavior
Networks list in user Profile (Advanced) contains no options "Mainnet", "Rinkeby" and "Ropsten"
Default selected network: Mainnet with upstream RPC

###

[2018-04-18 09:30] lukaszfryc commented on #3852
@denis-sharypin our general rule should probably be the default behaviour. Use the back button to always navigate to previous screen user was in. And this works fine for most of the cases. But, there are some exceptions like:
1. If you are on a main screen for a tab (Home, Wallet, Profile), the back button should close the app (**it does not work this way now but probably should**)
2. Navigation d

[2018-04-18 09:37] annadanchenko opened #3911 "Asset value does not fit the field"
### Description

*Type*: Bug

*Summary*: Value in the Asset field goes over the field edge
Wallet -> Send Transaction -> Asset field
![36463](https://user-images.githubusercontent.com/6584810/38924129-c4924604-4304-11e8-8bef-cbbb5f45c268.jpg)

#### Expected behavior
Value fits the field:
1. Do not show "full token title" e.g. Status Network Token, but show only abbreviation, e.g. SNT.
2. Also, if

[2018-04-18 09:38] annadanchenko commented on #3911
@denis-sharypin please specify the expected result, I can see several options but for bounties we need exact one

[2018-04-18 09:51] annadanchenko opened #3912 "Typing comma separator in Gas limit or Gas price fields removes entered value and sets default one"
### Description

*Type*: Bug

*Summary*: In Transaction fee screen, Gas limit or Gas price fields: value typed after comma separator is removed and default value is set.

#### Expected behavior

User can use comma or dot separators in  Gas limit and Gas price fields. The value entered by user is shown and used.

#### Actual behavior
If default value is deleted and then new value is typed then as s

[2018-04-18 10:03] asemiankevich commented on #2491
i think we can do more research on this as well as translations would not be in scope for Beta (only english for now). Removing this from scope of this swarm

[2018-04-18 10:13] yenda opened #3913 "Fix mailserver configuration change"
When the mailserver configuration is changed:
- make sure that  the previous mailserver is disconnected from peers (will involve json_rpc API)
- the new one is added (should already be done by calling initialize-offline-inbox)
- do not logout  when saving mailserver config

[2018-04-18 10:29] asemiankevich opened #3915 "Update `enter your full name` placeholder"
### Description

*Type*: Bug

*Summary*: we are using `enter your full name` placeholder when creating account now and it sounds a bit weird to me personally like why do i need my full name there? Some design input it required there @denis-sharypin @andmironov @hesterbruikman

#### Expected behavior
Copy is updated, for ex `Choose your name` or `Display name`. Should be confirmed with design team

[2018-04-18 10:36] asemiankevich opened #3916 "Add test tokens under Ropsten so i can send and receive them"
### Description

*Type*: Feature

*Summary*: To make Status more interactable i want to add some more test tokens user can play with so STT not is the only one in the list

#### Expected behavior
1. Several tokens are added to the assets list : HND, LXS, ADI, WGN, MDS (use any abbreviations as those will be test tokens created on our own)
2. I can claim for above mentioned tokens using faucet or s

[2018-04-18 11:10] #3906 closed, assigned to nobody

[2018-04-18 12:23] asemiankevich commented on #3624
this issue is still in place @janherich but the error message is different now : `NAME: "Error"
MESSAGE: chat.chat-id must be of type 'string', got 'null' (null)`
https://app.testfairy.com/projects/4803590-status/builds/8129920/sessions/2/?accessToken=QAQdbWxE-YWV7JKraFOPVq7xTC8

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/8129920/sessions/2/?accessTo

[2018-04-18 12:25] cammellos commented on #3624
@janherich I can have a look at it if you don't mind, I was poking around that part of the codebase

[2018-04-18 12:29] asemiankevich commented on #3619
@janherich i checked that in develop and can't reproduce anymore. Closing

[2018-04-18 12:29] #3619 closed, assigned to janherich

[2018-04-18 12:45] asemiankevich opened #3918 "Add hint / placeholder for empty contacts list so it looks more user friendly"
### Description

*Type*: Bug

*Summary*: we removed Jarrad as a pre-defined contact so contacts list empty now until I add someone. It would be nice to place some hint there saying 'let's add someone easily - just scan the contact code!" or anything that will prompt the user to add contacts

@andmironov @hesterbruikman @nikitalukianov pelase take a look!

#### Expected behavior
some hint shown whe

[2018-04-18 13:00] Serhy opened #3919 "Automated tests (Messaging) should be created/reworked according to nightly build regression test suite"
### User Story

As a test engineer, I want next scenarios related to Messaging (as part of the [regression test suite](https://ethstatus.testrail.net/index.php?/suites/view/42&group_by=cases:section_id&group_order=asc&group_id=663)) to be covered by automated test scripts

### Description

* Create separate test script for the test scenarios:

- [x] C3420 | Offline inbox: 1-1 chat created. C2 logs

[2018-04-18 13:07] Serhy opened #3920 "Automated tests (Transacting) should be created/reworked according to nightly build regression test suite"
### User Story

As a test engineer, I want next scenarios related to Transactions (as part of the [regression test suite](https://ethstatus.testrail.net/index.php?/suites/view/42&group_by=cases:section_id&group_order=asc&group_id=663)) to be covered by automated test scripts

### Description

* Create separate test script for the next test scenarios:

- [x] C3422 | View Tx history for recovered ac

[2018-04-18 13:14] asemiankevich opened #3921 "Align avatar, name and status in top toolbar to the left (1x1, group and public)"
### Description

*Type*: Bug

*Summary*: in mocks we have avatar, name and status shown in title of the chat  for 1x1 , group and  public chats.

#### Expected behavior

1. For 1 x 1 chat: avatar should be aligned as in mocks (to the left of the chat name), next to the avatar there is also username and status (Unknown, Online, etc). Currently, avatar is shown but it's a bit misplaced and username

[2018-04-18 13:17] Serhy opened #3922 "Automated tests (Dapp usage) should be created/reworked according to nightly build regression test suite"
### User Story

As a test engineer, I want next scenarios related to app Browser usage (as part of the [regression test suite](https://ethstatus.testrail.net/index.php?/suites/view/42&group_by=cases:section_id&group_order=asc&group_id=663)) to be covered by automated test scripts

### Description

* Create separate test script or update existing for the test scenarios:

- [x] C3389 | Browse site (

[2018-04-18 13:25] asemiankevich opened #3923 "Add (rework) notification for user when being added to 1x1 or group chat"
### Description

*Type*: Bug

*Summary*: As a user I want to be notified when I am added to group chat or someone has added me to contacts (but did not send anything yet)

#### Expected behavior

I want to be notified in both cases. Some design should be done there, @denis-sharypin please assist :)

#### Actual behavior

1. When someone scanned my contact code - new chat is created on my device on

[2018-04-18 13:26] Serhy opened #3924 "Automated tests (Chats management) should be created/reworked according to nightly build regression test suite"
### User Story

As a test engineer, I want next scenarios related to Chats management (as part of the [regression test suite](https://ethstatus.testrail.net/index.php?/suites/view/42&group_by=cases:section_id&group_order=asc&group_id=663)) to be covered by automated test scripts

### Description

* Create separate test script for the test scenarios:

- [x] C3412 | Delete 1-1 chat via 'Delete chat'

[2018-04-18 13:32] Serhy opened #3925 "Automated tests (Accounts management) should be created/reworked according to nightly build regression test suite"
### User Story

As a test engineer, I want next scenarios related to Accounts management (as part of the [regression test suite](https://ethstatus.testrail.net/index.php?/suites/view/42&group_by=cases:section_id&group_order=asc&group_id=663)) to be covered by automated test scripts

### Description

* Create separate test script for the test scenarios:

- [x] C3395 | Check QR code = public key val

[2018-04-18 13:55] asemiankevich opened #3926 "Sort Assets in alphabetical order on Wallet -> Manage Assets screen"
### Description

*Type*: Feature

*Summary*: Sort assets in alphabetical order

#### Expected behavior
i can look up for assets quickly as they are sorted in aplhabetical order

#### Actual behavior
no sorting

<img width="224" alt="screen shot 2018-04-25 at 1 49 19 pm" src="https://user-images.githubusercontent.com/116099/39243980-7b712464-488f-11e8-8050-98ed6dd75e99.png">

### Reproduction

- Op

[2018-04-18 14:38] annadanchenko commented on #3911
agreed to not show "full token title" e.g. Status Network Token, but show only abbreviation, e.g. SNT. Also, if amount does not fit the field then show first 5 digits and "..." at the end

[2018-04-18 15:20] denis-sharypin commented on #3923
@asemiankevich Good catch! We show notification badge with a number on the home icon in the tabbar (as you have it on the profile icon on your screenshot ) We could use show with cases that you have mentioned

[2018-04-18 15:48] Serhy commented on #3701
Confirmed! Thanks, @janherich, the #3670 is still relevant though.
Closing current issue.

[2018-04-18 15:48] #3701 closed, assigned to janherich

[2018-04-18 16:31] asemiankevich opened #3927 "Update timestamps according to latest designs"
### Description

*Type*: Bug

*Summary*: Update timestamps due to newest mocks

#### Expected behavior

![image](https://user-images.githubusercontent.com/28752642/38945324-dfb1d2a8-433e-11e8-9ff4-f21cee8f45bd.png)

#### Actual behavior
timestamps are out of the message bubbles

### Additional Information
* Status version: develop
* Operating System: Android, iOS

[2018-04-18 16:49] denis-sharypin commented on #3927
@nikitalukianov  please add design specs here

[2018-04-18 17:43] #3820 closed, assigned to goranjovic

[2018-04-18 19:09] jbostick00 opened #3929 "Public Chats for New User Experience"
As a <user>, I want to ask:

 I notice when new users first log in and go to #Status channel, if they don't see a response right away, they leave.  Also the channel is blank when you first log in because of no inboxing so it looks blank.  Is it possible to add a standard message when they first go to the channel explaining there is no in-boxing so just hang out for a minute and see if someone resp

[2018-04-18 19:13] nikitalukianov commented on #3927
here is mockups in zeplin: https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/dashboard?seid=5ad5db84c95888398402eb0d

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src="/img/favicon/256x256.png" height="14"> Zeplin</div><div><strong><a href="https://zeplin.io/">Zeplin - Login</a></strong></div><div>Collaboration app for UI designers and fr

[2018-04-18 19:22] heyhaigh opened #3930 "Chat: Update empty state for active public chats"
### User Story

As a user, I want to have a clearer indication that a public chat is active so that I am more likely to engage with the channel and don't close the chat thread.

### Description

*Type*: Feature

*Summary*:
As a new user, I need a visual indication that a public chat has been utilized (and is still utilized) upon my initially entering the chat room. Without a message indicating tha

[2018-04-18 19:47] heyhaigh commented on #3930
Emoji included in Expected Behavior screen merely a placeholder. Use of iconography should align with Status aesthetic and guidelines.

[2018-04-18 21:33] heyhaigh opened #3931 "Sign in: Cannot paste text within password field"
### User Story

As a user, I want to copy text from a text editor or password manager so that I can log into my Status account.

### Description

*Type*: Bug

*Summary*: When logging back into the Status iOS alpha, I was prompted to enter my password in order to sign into my account. I use a password manager to manage my passwords and accounts. Upon copying my Status password from the password man

[2018-04-19 08:36] #3748 closed, assigned to nobody

[2018-04-19 09:35] lukaszfryc commented on #3923
@denis-sharypin I think it's a good idea. Btw, does the unknown contact indicator clear for a user #3734 ?

[2018-04-19 09:44] dmitryn opened #3932 "Use :npm-deps false to speed up Figwheel startup"
### Description

Latest version of ClojureScript supports `:npm-deps false` compiler option.
It might speed up Figwheel start by 20-45 seconds https://github.com/bhauman/lein-figwheel/pull/678
https://twitter.com/mfikes/status/986040242997284865?s=09

### Solution

Add `npm-deps false` compiler option to dev builds. Compile builds for ios and android. Check if it increases Figwheel perfomance.

<b

[2018-04-19 10:49] asemiankevich opened #3934 "Can't see participants profiles in group chat settings (non-admin)"
### Description

*Type*: Bug

*Summary*: as a group chat participant i want to be able to view others' profiles no matter i am admin or not

#### Expected behavior
group chat member is able to navigate to other participants' profile within tap 3 dots -> group info -> tap member's profile

#### Actual behavior
i am not able to see profile of any other member if i am not an admin of group chat

###

[2018-04-19 10:52] antdanchenko commented on #3920
@Serhy and @lukaszfryc each case from the task is already covered by actual tests which are running against a PR, please review those tests one more time

[2018-04-19 10:58] chadyj opened #3935 "Ethergoo Doesn't Work"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to play Ethergoo so that can get Goo.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*

[2018-04-19 12:00] denis-sharypin commented on #3734
@lukaszfryc  Hi,
I'will try to fix this on the scope of #096-tribute-to-talk swarm

[2018-04-19 13:15] status-open-bounty commented on #3838
Current balance: 0.0 ETH
Tokens: SNT: 880.00
Contract address: [0x19de46086225f3e3355c16344a07ef6e886cf95e](https://etherscan.io/address/0x19de46086225f3e3355c16344a07ef6e886cf95e)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3838/0d4ca89ccf64a0bc02c113d39476f306d9797f569b9eba540a10c73a357e125e/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty

[2018-04-19 13:49] lukaszfryc commented on #3927
@nikitalukianov no chat bubbles for emoji #3818 has been implemented recently. Where should we put the timespan and username for this kind of message? Could you add this as an example to Zeplin?

[2018-04-19 14:06] yevh-berdnyk opened #3937 "Add step to Jenkinsfile.nightly in order to build apk with Ropsten with upstream RPC as default network"

[2018-04-19 14:44] #3888 closed, assigned to flexsurfer

[2018-04-19 15:11] #3082 closed, assigned to nobody

[2018-04-19 15:11] #3085 closed, assigned to nobody

[2018-04-19 15:23] #2704 closed, assigned to flexsurfer

[2018-04-19 18:33] yevh-berdnyk opened #3938 "Show all users in group chat members list"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see myself in a group chat members list

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: All users should be listed in a group c

[2018-04-20 07:14] denis-sharypin opened #3939 "Introducing wallet / welcome screen"
### User Story

As a  new user, I want to know more about Status wallet.

### Description

*Type*: Feature

Mockups here, bottom line: https://zpl.io/agGv1j1

#### Expected behavior
<img width="376" alt="screenshot 2018-04-20 09 13 40" src="https://user-images.githubusercontent.com/6559881/39035679-330be2b2-447b-11e8-83d1-0cbe4d0a7257.png">

<blockquote><img src="https://zeplin.io/img/favicon/228x

[2018-04-20 07:20] denis-sharypin opened #3940 "Introducing wallet / signing phrase"
### User Story

As a user I want to know about signing phrase that I use in transactions.

### Description

*Type*: Feature

*Summary*: Mockups here, bottom line: https://zpl.io/agGv1j1

#### Expected behavior
<img width="860" alt="screenshot 2018-04-20 09 19 34" src="https://user-images.githubusercontent.com/6559881/39035889-0052dfbe-447c-11e8-8d3b-237f09e468d5.png">

<blockquote><img src="https:

[2018-04-20 07:36] dmitryn commented on #3876
Update on issue where `hideView()` doesn't work on Android:
https://github.com/testfairy/react-native-testfairy/blob/master/android/src/main/java/com/testfairy/react/TestFairyModule.java#L223
needs to be changed to `TestFairy.hideView(tag);`

We need to wait for updated TF version or use our own fork. Have asked about that from TF support.

<blockquote><img src="https://avatars0.githubusercontent.

[2018-04-20 07:36] denis-sharypin opened #3941 "Introducing wallet / notification not for new user"
### User Story

As a current user, I want to to have access to signing phrase so that will keep my account safe.

### Description

*Type*: Feature

*Summary*: Mockups here, bottom line: https://zpl.io/agGv1j1

#### Expected behavior
<img width="375" alt="screenshot 2018-04-20 09 33 58" src="https://user-images.githubusercontent.com/6559881/39036626-5b65f0f6-447e-11e8-9ef8-507c325d006c.png">

<bloc

[2018-04-20 07:52] denis-sharypin opened #3942 "Update welcome image on the home tab"
### User Story

As a user, I want QUALITY images

### Description

*Type*: Bug

*Summary*: Seems like we use @ 1x image for retina devices. Please double check.
Bug report https://status-im.slack.com/archives/C90325XL6/p1524085907000048

#### Expected behavior
Each device size should have their appropriate file size . Please check all images https://github.com/status-im/status-react/tree/develop/r

[2018-04-20 07:53] denis-sharypin commented on #3942
![welcome-image](https://user-images.githubusercontent.com/6559881/39037388-a0442402-4480-11e8-89cf-e7ecb4239e00.png)
![welcome-image 2x](https://user-images.githubusercontent.com/6559881/39037389-a0726934-4480-11e8-8496-cc91edb6588c.png)
![welcome-image 3x](https://user-images.githubusercontent.com/6559881/39037391-a0a28326-4480-11e8-96fd-46fbe4b48e16.png)

[2018-04-20 08:15] chadyj opened #3944 "Improve metrics opt-in screen"
### User Story

As a user, I want to fully understand the metrics opt-in screen so that I can make an informed decision about.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

A core principle of Status is [Privacy, by default](https://blog.status.im/privacy-by-default-with-ethereum-6b1045afeab2) where "sharing any data at all is completely transparent and option

[2018-04-20 08:48] lukaszfryc opened #3945 "Add empty state for Recipients screen"
### Description
*Type*: Bug

*Summary*: There is no empty state for "Recipients" screen.

#### Expected behavior
There is an empty state placeholder that says something like: "There are no recent recipients here yet.".

Similar to:

<img src="https://user-images.githubusercontent.com/7532782/39040456-953e97fc-4487-11e8-96f2-0031c687b158.png" width="200">

#### Actual behavior
The screen is empty:

[2018-04-20 09:03] lukaszfryc opened #3946 "Improve "oops, error" placeholder in Status browser"
### Description
*Type*: Feature

*Summary*: The "oops, error" that appears when url could not be reached could be improved. Let's at least improve the text, center it and make it similar to other placeholders we have.

#### Expected behavior

Let's use placeholder like: _Oops, this site can't be reached. Status could not found the server "wrongservername.com"_ and center it same way as it's done i

[2018-04-20 09:47] status-open-bounty commented on #3938
Balance: 0.000000 ETH
Tokens: SNT: 750.00
Contract address: [0xa2cb74f03f749ba0248da9001c5eaef6e303ddb2](https://etherscan.io/address/0xa2cb74f03f749ba0248da9001c5eaef6e303ddb2)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 09:51] status-open-bounty commented on #3761
Balance: 0.000000 ETH
Tokens: SNT: 1500.00
Contract address: [0x322cd97010a717fbb114cf214bd04588d8a1feb3](https://etherscan.io/address/0x322cd97010a717fbb114cf214bd04588d8a1feb3)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 09:55] status-open-bounty commented on #3670
Balance: 0 ETH
Tokens: SNT: 1500.00
Contract address: [0x30a9122b1bb887f693605ed98b533ab2f59c14b0](https://etherscan.io/address/0x30a9122b1bb887f693605ed98b533ab2f59c14b0)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 09:59] status-open-bounty commented on #3934
Balance: 0.000000 ETH
Tokens: SNT: 750.00
Contract address: [0xa6eedcc9b8dd4666ca6755d584175a6155a26e9e](https://etherscan.io/address/0xa6eedcc9b8dd4666ca6755d584175a6155a26e9e)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 10:17] status-open-bounty commented on #3932
Balance: 0.000000 ETH
Tokens: SNT: 375.00
Contract address: [0xfda8e90578d0408f7d4f3e3f4dc3b469efa2e16c](https://etherscan.io/address/0xfda8e90578d0408f7d4f3e3f4dc3b469efa2e16c)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 10:26] status-open-bounty commented on #3927
Balance: 0.000000 ETH
Tokens: SNT: 750.00
Contract address: [0x12b487d7e2e003c0a48c45e9ecbe603545bbcd89](https://etherscan.io/address/0x12b487d7e2e003c0a48c45e9ecbe603545bbcd89)
Network: Mainnet
Paid to: cammellos
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 10:40] status-open-bounty commented on #3915
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x17826313121d386951df9361aea10364a6fbac7a4b9482d3a44da242ae5c651e](https://etherscan.io/tx/0x17826313121d386951df9361aea10364a6fbac7a4b9482d3a44da242ae5c651e)

[2018-04-20 10:40] status-open-bounty commented on #3915
Balance: 0.000000 ETH
Tokens: SNT: 375.00
Contract address: [0x35951c9459c0f541c3138e8edc519ed10e9b13b1](https://etherscan.io/address/0x35951c9459c0f541c3138e8edc519ed10e9b13b1)
Network: Mainnet
Paid to: debragail
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-20 10:53] annadanchenko commented on #3569
can't reproduce anymore

[2018-04-20 10:53] #3569 closed, assigned to nobody

[2018-04-20 11:00] Serhy commented on #3920
Reviewed and updated the scope in the description. C3422 and C3425 should be added in the scope of this issue.

[2018-04-20 11:01] asemiankevich commented on #3853
i am receiving this
![image](https://user-images.githubusercontent.com/28752642/39047633-3e0545f0-44a3-11e8-8d96-c97879f09c5a.png)
and i am able to receive messages @yenda . Is it something we can improve

i also noticed some time lag when receiving messages from offline, it is quite annoying

[2018-04-20 11:15] asemiankevich commented on #3945
looks like a partial dupe for https://github.com/status-im/status-react/issues/3918, can we combine them?

[2018-04-20 11:17] asemiankevich commented on #208
@goranjovic seems a separate swarm to me, wdyt?

[2018-04-20 11:31] janherich opened #3947 "Batch realm writes"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

Based on performance profiling done by @mandrigin , one of the worst culprits in bad app performance was realm-writing, which is made worse by the fact that we do every realm entity update as an distinct operation, so there is a lot more of app<->realm communication (and likely also realm communication over R

[2018-04-20 11:31] asemiankevich commented on #208
i am removing `wallet` label and we can probably discuss it like having a separate swarm in nearest future! :) @chadyj @jarradh i really like the idea of this issue, just concerned how urgent it is? like Q3 seems fine? (after Beta release)

[2018-04-20 11:36] asemiankevich commented on #1762
does this impact ERC tokens history? @goranjovic
also @yenda why we want to have it only 20 txns?

[2018-04-20 11:46] asemiankevich commented on #208
according to @chadyj we can do it in 170-wallet-improvement swarm

[2018-04-20 11:46] #2478 closed, assigned to nobody

[2018-04-20 11:52] asemiankevich commented on #2626
no swipe functionality now, closing

[2018-04-20 11:52] #2626 closed, assigned to nobody

[2018-04-20 11:53] chadyj commented on #2491
Coinbase has a `Buy Widget` feature that makes purchasing small amounts of ETH easy with a US credit card. https://developers.coinbase.com/docs/buy-widget

The implementation looks straightforward but there may be potential Play and App Store guidelines to deal with.

[2018-04-20 11:53] chadyj commented on #208
Coinbase has a `Buy Widget` feature that makes purchasing small amounts of ETH easy with a US credit card. https://developers.coinbase.com/docs/buy-widget

The implementation looks straightforward but there may be potential Play and App Store guidelines to deal with.

<blockquote><img src="https://developers.coinbase.com/images/coinbase.png" width="48" align="right"><div><strong><a href="/docs/buy

[2018-04-20 11:56] #2655 closed, assigned to denis-sharypin

[2018-04-20 11:58] asemiankevich commented on #2798
havent seen this issue since the ticket was logged. Closing

[2018-04-20 11:58] #2798 closed, assigned to nobody

[2018-04-20 12:02] asemiankevich commented on #2848
@jeluard i assume this is done already?

[2018-04-20 12:07] asemiankevich commented on #2864
i cant reproduce it

[2018-04-20 12:07] #2864 closed, assigned to nobody

[2018-04-20 12:09] asemiankevich commented on #2865
i cant reproduce it

[2018-04-20 12:09] #2865 closed, assigned to nobody

[2018-04-20 12:14] lukaszfryc opened #3948 "Some messages were lost because of a time drift"
### Description
*Type*: Bug

*Summary*: Some messages that had been sent to 1-1 and public chat have been lost. From the logs it looks that the clients time has drifted, so they are unable to communicate, so they would need to check that their clocks are synced. (It could also be that the mailserver clock has drifted, but probably less likely, worth checking though).

Based on logs from mailserver

[2018-04-20 12:22] asemiankevich opened #3949 "Can't scan QR after app runs some time on Ropsten (without RPC)"
### Description

*Type*: Bug

*Summary*: First case: Run app on Ropsten with RPC - then switch to Ropsten - try to scan QR : app is logging me out and crashes
Another case: Ropsten runs for a while - then switch to Ropsten with RPC and scan someone's QR

#### Expected behavior
no crashes

#### Actual behavior
app crashes

`Application Specific Information:
*** Terminating app due to uncaught excep

[2018-04-20 12:24] asemiankevich commented on #2983
@lukaszfryc is it still in place?

[2018-04-20 12:29] yenda commented on #1762
@asemiankevich the 20 first transaction would be fetched from etherscan if performances are not good enough in order to speed things up, while still being able to show them if etherscan is down.

[2018-04-20 12:31] yenda commented on #3853
It's probably because mailserver is saturated. Regarding lag it can be improved by only fetching messages since last time it was done, I'll look into this next week

[2018-04-20 12:32] yenda commented on #3488
It will require deep linking first

[2018-04-20 12:50] asemiankevich commented on #3021
i think we can close it, @jeluard ? i can't repro it anymore

[2018-04-20 13:01] asemiankevich commented on #3241
@annadanchenko agree to close?

[2018-04-20 13:02] asemiankevich commented on #3383
duplicate https://github.com/status-im/status-react/issues/2444

[2018-04-20 13:02] #3383 closed, assigned to nobody

[2018-04-20 13:09] asemiankevich commented on #3940
@denis-sharypin i am confused about `you won't be able to see the whole signing phrase again' because i definitely will when signing transactions . Can we change the copy a bit? Like saying that are you sure you remembered this phrase bla bla :)

[2018-04-20 13:10] asemiankevich commented on #3941
@annadanchenko all issues with `wallet` label are go now to `170-wallet-improvement` swarm, i see it is in onboarding project now, should i move it there?

[2018-04-20 13:16] annadanchenko commented on #1127
outdated issue

[2018-04-20 13:16] #1127 closed

[2018-04-20 13:19] annadanchenko commented on #1206
same as https://github.com/status-im/status-react/issues/3881 closing this one as the later issue is bounty one.

[2018-04-20 13:20] annadanchenko commented on #3881
useful? https://github.com/status-im/status-react/issues/1206#issuecomment-346031231

[2018-04-20 13:23] lukaszfryc commented on #2983
I haven't seen it for a while. It needs to be retested.

[2018-04-20 13:24] lukaszfryc commented on #3945
Both are related. I'd just reference them as you did.

[2018-04-20 13:26] #3878 closed, assigned to nobody

[2018-04-20 13:26] annadanchenko commented on #1395
Console can't be selected as group chat member anymore

[2018-04-20 13:26] #1395 closed

[2018-04-20 13:27] annadanchenko commented on #1416
can't reproduce

[2018-04-20 13:27] #1416 closed

[2018-04-20 13:28] annadanchenko commented on #2219
Mainnet will be removed in the network options. Works fine on MAinnet with upstream rpc

[2018-04-20 13:28] #2219 closed, assigned to nobody

[2018-04-20 13:29] #3916 closed, assigned to goranjovic

[2018-04-20 13:29] annadanchenko commented on #3153
not applicable anymore (in 0.9.17 release user can't upgrade and need to create new account)

[2018-04-20 13:30] annadanchenko commented on #3154
not applicable anymore (in 0.9.17 user needs to create new account and cant upgrade)

[2018-04-20 13:30] #3154 closed, assigned to nobody

[2018-04-20 13:31] jeluard commented on #3021
@asemiankevich Please!

[2018-04-20 13:32] #2694 closed, assigned to nobody

[2018-04-20 13:34] #2605 closed, assigned to nobody

[2018-04-20 13:35] #3021 closed, assigned to goranjovic

[2018-04-20 13:38] yevh-berdnyk opened #3950 "Newly added member of a group chat doesn't see the chat"
### User Story

As a user, I want to be notified that I was added to a group chat so that I can start messaging in it.

### Description

*Type*: Bug

*Summary*: Newly added members of existing group chat doesn't see it and can't send and receive message in it. Old group chat participants doesn't see new members. Only group chat admin receives a message that new user is added

#### Expected behavio

[2018-04-20 14:07] annadanchenko commented on #3560
can't reproduce

[2018-04-20 14:07] #3560 closed, assigned to nobody

[2018-04-20 14:21] chadyj opened #3953 "Add mainnet as a network option"
### User Story

As an alpha user, I want to use Mainnet so that I can test with real ETH and use real Dapps.

As a Status developer, I want to get Mainnet feedback so that I can improve the app.

As a dapp developer, I want to test my Dapp on Mainnet so that I can verify it works.

### Description

*Type*: Feature

*Summary*: Status app is in alpha for testing, development, and feedback, but usage

[2018-04-20 15:06] annadanchenko commented on #3382
cant' reproduce anymore after new-protocol. If tap on the contact then 1:1 chat is shown with this contact and no history. IF you or contact send any message then previous history and new message are shown

[2018-04-20 15:06] #3382 closed, assigned to janherich

[2018-04-20 15:11] annadanchenko commented on #1659
can't reproduce after new-protocol. After user B sends new message: user A sees same chat with proper name and content and can send commands/messages into it

[2018-04-20 15:11] #1659 closed, assigned to nobody

[2018-04-20 16:24] yevh-berdnyk opened #3955 "No updates for username and profile picture if users add each other to contacts when changing network"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When users add each other to contacts while being in different networks and after that they both on the same network they are available to send and receive message but see default 3 word us

[2018-04-21 09:11] denis-sharypin commented on #3941
@asemiankevich it was part of the onboarding swarm in the beginning

[2018-04-21 09:12] denis-sharypin commented on #3940
@asemiankevich Confirm it with @hesterbruikman please

[2018-04-22 15:00] annadanchenko opened #3958 "Convert tokens fails in Bancor DApp because only 1 transaction out of 2 is signed in Status"
### Description

*Type*: Bug

*Summary*: `Convert tokens` fails in Bancor DApp because it creates 2 transactions but only 1 can be signed by Status.

Tried 10 times to convert SNT to BNT and other tokens, all attempts failed. In the same time if buy same token for ETH then it works fine (probably, because only one signing request is created when purchasing with ETH)

geth.log if search by `request

[2018-04-22 16:00] annadanchenko commented on #1284
TF session on nightly build for Apr 22 (Android 8.1.0, real Pixel XL) https://app.testfairy.com/projects/4803622-status/builds/8149726/sessions/34/?accessToken=IbTkbmIOJYZqSywCL3rWEsL43V8

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803622-status/builds/8149726/sessions/34/?accessToken=IbTkbmIOJYZqSywCL3rWEsL43V8">TestFairy: Status 0.9.16-30-gf60025b8+ (2457) @34</a></str

[2018-04-23 08:12] #3789 closed, assigned to antdanchenko

[2018-04-23 08:12] #3839 closed, assigned to nobody

[2018-04-23 08:13] #3360 closed, assigned to antdanchenko

[2018-04-23 08:17] Serhy commented on #2867
Could not reproduce it.
Closing this issue.

[2018-04-23 08:17] #2867 closed, assigned to nobody

[2018-04-23 08:31] lukaszfryc commented on #3852
Related to #3903

[2018-04-23 08:35] lukaszfryc commented on #3777
Already fixed.

[2018-04-23 08:35] #3777 closed, assigned to nobody

[2018-04-23 08:35] lukaszfryc commented on #3760
@goranjovic any update on this?

[2018-04-23 08:51] #3562 closed, assigned to janherich

[2018-04-23 08:52] #3499 closed, assigned to alwx

[2018-04-23 08:55] lukaszfryc commented on #3401
Not the case anymore.

[2018-04-23 08:55] #3401 closed, assigned to nobody

[2018-04-23 09:16] asemiankevich opened #3959 "Can't send funds in group chat - transaction screen is not shown (android)"
### Description

*Type*: Bug

*Summary*: Transaction screen is not shown when tapping send in group chat or 1x1 chat quickly (dont wait until slider is fully loaded)

#### Expected behavior
i can send funds

#### Actual behavior
transaction screen is not shown sometimes when sending funds in group chat or 1x1 chat

### Reproduction

- Open Status
- As Device A (android) faucet some funds on Ropste

[2018-04-23 09:19] asemiankevich opened #3960 "Attempt to read from field 'android.animation.Animator android.animation.AnimatorSet$Node.mAnimation' on a null object reference"
### Description

*Type*: Bug

*Summary*: cant reproduce it but i had a crash with `Attempt to read from field 'android.animation.Animator android.animation.AnimatorSet$Node.mAnimation' on a null object reference` when attempting to send funds in a group chat (android)

#### Expected behavior
no crashes

#### Actual behavior

`android.content.res.Resources$NotFoundException: Drawable android:drawab

[2018-04-23 09:27] lukaszfryc commented on #3131
The Getting Started screen is also cut off. Someone reproduce it on Android 24, SM-G935F:

<img src="https://user-images.githubusercontent.com/7532782/39118180-0d1f2d64-46e9-11e8-92de-6a1ac1b37b68.png" width="300">

@chadyj do you think we should contact the app creators like we do in #3887?

[2018-04-23 09:33] chadyj commented on #3131
@lukaszfryc I tested with a few other mobile dapp browsers and they all correctly displayed the page. Seems like the issue is with Status.

Also @lukeautry (commented [above](https://github.com/status-im/status-react/issues/3131#issuecomment-360230927)) is from ERCDex if you have any questions for the developer.

[2018-04-23 09:54] status-open-bounty commented on #3912
Balance: 0.000000 ETH
Tokens: SNT: 340.00
Contract address: [0x71dfb4ccf7848e19549adeef569e2ad46e24221c](https://etherscan.io/address/0x71dfb4ccf7848e19549adeef569e2ad46e24221c)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-23 10:05] annadanchenko opened #3961 "App crashes if try to open personal sign transaction in Transaction History"
### Description

*Type*: Bug

*Summary*: Personal sign transaction is shown in Transaction History with 0ETH amount and empty `To` field. If tap on such transaction then empty popup is shown and app shows white screen, so user can't proceed using it. After app is relaunched the transaction is not shown in History anymore
![screenshot_20180423-124415](https://user-images.githubusercontent.com/65848

[2018-04-23 10:14] status-open-bounty commented on #3911
Balance: 0 ETH
Tokens: SNT: 340.00
Contract address: [0xf93292007279108e28c4eec3b018954775d3c767](https://etherscan.io/address/0xf93292007279108e28c4eec3b018954775d3c767)
Network: Mainnet
Paid to: goranjovic
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-23 10:27] status-open-bounty commented on #3903
Balance: 0.000000 ETH
Tokens: SNT: 680.00
Contract address: [0x5a0c6c00850454f946646accf9b053755638daa1](https://etherscan.io/address/0x5a0c6c00850454f946646accf9b053755638daa1)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-23 10:38] annadanchenko opened #3963 "User with restored account gets no chats and messages from the past contacts"
### Description

*Type*: Bug

*Summary*: Alice and Bob are in contacts of each other and had conversation in 1:1 chat. Then Alice restores her account and see empty Home screen (expected for now). Bob sends to Alice new message. Alice see no new chats/messages on her side (this is bug)

#### Expected behavior
When Alice restores account and Bob sends her a new message then Alice can see chat with

[2018-04-23 10:41] status-open-bounty commented on #3411
Balance: 0.000000 ETH
Tokens: SNT: 680.00
Contract address: [0xc43fa413c65eaed8e20151c539ccaaf41b5423da](https://etherscan.io/address/0xc43fa413c65eaed8e20151c539ccaaf41b5423da)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-23 10:42] #3850 closed, assigned to nobody

[2018-04-23 11:16] annadanchenko commented on #3958
we `must` sign 2 transactions in proper order (1st and then 2nd) otherwise  converting will fail. https://support.bancor.network/hc/en-us/articles/360001679911--Oh-no-error-message-debug-option-1

<blockquote><img src="https://theme.zdassets.com/theme_assets/2207736/15da6e069859e96d5a0d6bcf7164c6c76122c674.png" width="48" align="right"><div>Bancor Help Center</div><div><strong><a href="http://supp

[2018-04-23 11:41] status-open-bounty commented on #3907
Balance: 0.000000 ETH
Tokens: SNT: 1370.00
Contract address: [0x073506bbe2061cf5538f603dc38d8181f8905b9a](https://etherscan.io/address/0x073506bbe2061cf5538f603dc38d8181f8905b9a)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-23 12:32] asemiankevich commented on #3924
Gonna work on C3413 | Delete 1-1 chat via 'Swipe-to-delete' option  and C3418 | Delete Group chat via 'Swipe-to-delete' option. Re-login -> no chat present for now

[2018-04-23 12:36] asemiankevich opened #3966 "Add autotests for C3413 and C3418 test cases (chats)"
### Description

*Type*: tests

*Summary*: adding tests in terms of https://github.com/status-im/status-react/issues/3924

- [x] C3413 | Delete 1-1 chat via 'Swipe-to-delete' option
- [x] C3418 | Delete Group chat via 'Swipe-to-delete' option. Re-login -> no chat present for now

[2018-04-23 13:51] status-open-bounty commented on #3913
Current balance: 0.0 ETH
Tokens: SNT: 1370.00
Contract address: [0xfc444a89aa6ebc6458a0067f13e768dc921f012f](https://etherscan.io/address/0xfc444a89aa6ebc6458a0067f13e768dc921f012f)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3913/271b0f8c69c5d9732405eac2ffb491856914cbcd4772d4b392d9094e892f33fe/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbount

[2018-04-23 14:06] status-open-bounty commented on #3900
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x845b3bce53a6daa45579eaf51fc3fe28d5d14cb5c7094879e2c9d31f8c3c77cd](https://etherscan.io/tx/0x845b3bce53a6daa45579eaf51fc3fe28d5d14cb5c7094879e2c9d31f8c3c77cd)

[2018-04-23 14:13] pedropombeiro commented on #3451
This GHI could be improved https://github.com/status-im/status-react/issues/2869 so it can still access the messages after the app is suspended. Otherwise the app will only be able to retrieve messages if the app hasn't yet been terminated/suspended by the OS.

[2018-04-23 15:01] status-open-bounty commented on #3901
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd68dce19cbed88c90627138e9a75bfb6cd359da8bb2bdd11711e1c527d328d0a](https://etherscan.io/tx/0xd68dce19cbed88c90627138e9a75bfb6cd359da8bb2bdd11711e1c527d328d0a)

[2018-04-24 06:06] chadyj commented on #3963
I'm using a restored account and also having this issue with *new* contacts too.

[2018-04-24 07:32] denis-sharypin commented on #3852
@lukaszfryc
What's the scope then:

1. Always navigate to the Home Tab from any chat screen with the back button

2. Android only: If you are on the main screen for a tab (Home, Wallet, Profile), the back button should close the app

What do you think?

[2018-04-24 07:40] lukaszfryc commented on #3924
I'll take rest of them 😁

[2018-04-24 07:54] lukaszfryc commented on #3852
@denis-sharypin sounds good. Re 1, we need to make sure that it happens only for chat screens. For instance, pressing back button in view profile screen should redirect back to the chat screen.

[2018-04-24 08:30] goranjovic opened #3976 "Get erc20 token transaction data"
### User Stories

- As a user I want to see the history of my erc20 token transactions.
- As a user I want to do so in a decentralized way so that I wouldn't depend on services that may be compromised.
- As a developer I want to have a reasonably straightforward way to get the data in a decentralized manner.

### Description

*Type*: Feature

*Summary*: Get token transaction data using either web3

[2018-04-24 09:11] flexsurfer commented on #3823
https://dashboard.instabug.com/applications/status/beta/bugs/929
Bug #929 : web3.eth.accounts returns my account when I run it in the console. But calling that function from our dapp results in an error. Reference Error: can’t find variable exception on the accounts object. This only happens in the IOS app. Status Android works as expected

[2018-04-24 09:25] lukaszfryc opened #3977 "User that left group chat should be removed from member list"
### Description
*Type*: Bug

*Summary*: User that has left a group chat is still visible on the member list. It's misleading for other group chat members as the user can't see any group chat messages anymore nor can to add himself back to the chat. He is simply not part of the chat anymore.

#### Expected behavior
When a user left a group chat he is removed from the member list.
Note that admin sh

[2018-04-24 09:25] lukaszfryc commented on #3893
I reproduced it in a dogfooding session today. Group chat reappeared after logging in again. Also, a user that left is still visible on the member list: #3977

[2018-04-24 09:29] chadyj opened #3978 "Share metrics data with the community"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see metrics opt-in data so that I'm aware of the data being collected and how it is used.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to h

[2018-04-24 09:42] flexsurfer commented on #3823
we need to support these methods too https://github.com/MetaMask/faq/blob/master/DEVELOPERS.md#dizzy-all-async---think-of-metamask-as-a-light-client

<blockquote><img src="https://avatars3.githubusercontent.com/u/11744586?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/MetaMask/faq">Meta

[2018-04-24 10:15] mandrigin commented on #2479
@dshulyak I took a look at how filters work, and it seems like they rely on polling, and not on pubsub at the moment.
[code]

[2018-04-24 11:37] lukaszfryc opened #3981 "Crash when logging in after switching networks"
### Description
*Type*: Bug

*Summary*: Status app has crashed when trying to log-in after switching network from Mainnet with RPC to Ropsten. I cannot replicate it but would be good to investigate the [crash logs](https://app.testfairy.com/projects/4803590-status/builds/8168269/sessions/6/?accessToken=JlDa2Qj0p/6RszG9xabGD2elPSs) anyway.

#### Expected behavior
The app is supposed to crash after

[2018-04-24 12:10] #3876 closed, assigned to dmitryn

[2018-04-24 12:27] chadyj opened #3982 "No new public chat messages when using a recovered account"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see new public chat messages so that I can follow the conversation.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually h

[2018-04-24 13:06] asemiankevich opened #3983 "No Transaction moved pop-up when sign later transaction in 1x1 or group chat"
### Description

*Type*: Bug

*Summary*: we have `transaction moved` pop-up when i sign later transaction directly from wallet, but this pop-up is not shown when doing the same from 1x1 or group chat

#### Expected behavior
![image](https://user-images.githubusercontent.com/28752642/39188755-3ea80108-47d9-11e8-86c0-d9e3750e40e5.png)

shown when i tap sign later in 1x1 or group chat

#### Actual be

[2018-04-24 13:23] flexsurfer commented on #2479
ok , so filters are not supported in status-go with RPC
and the contract receipts are broken in LES (without RPC).
That makes filters half-useful in that mode too.

[2018-04-24 13:23] flexsurfer commented on #3822
waiting https://github.com/status-im/status-react/issues/2479

[2018-04-24 17:13] Serhy opened #3984 "Messages never reach the contact if he was added while being offline (or being online but different network)"
***Type***: Bug

***Summary***: Let's take there are C1 (Sender) and C2 (Recipient). In many cases, 'Sender' may start 1-1 chat with the Recipient while the last is **offline** or **online but use different network** than Client.
In any of that cases - Recipient will never see messages (and 1-1 chat never appears) from the Sender even if both appear online on the same network and Sender sends mess

[2018-04-25 00:38] debragail commented on #3901
Should System Messages be modeled as a bot?  Currently system-message is defined without a name or photo-path.

[2018-04-25 00:41] debragail commented on #3901
Also, reconsider naming System Messages.  Status Bot is a better UX.  If the feature does not have a profile pic and does not have a name but instead is a printed string then consider it not being named but simply printing the status in small grey lettering.

[2018-04-25 01:42] debragail commented on #3913
intialize-mailserver does not exist.  please define.

[2018-04-25 01:44] debragail commented on #3913
should init-mailserver and stop-mailserver function like init-whisper and stop-whisper?

[2018-04-25 06:50] denis-sharypin commented on #3901
@debragail Thanks for your suggestions.

What is a bot for users? A small program running over your chat which was created and invited by someone. Who has invited this bot? Who has created it? What the real purpose of this bot? Why don't I see Status bot in a list of members of my group chat? To not produce those questions we consider to call it `System message`. It has neutral meaning.
We use and

[2018-04-25 06:56] #3624 closed, assigned to cammellos, janherich

[2018-04-25 07:09] debragail commented on #3901
this feature enhancement looks like a bot since it it has a profile pic.  I would expect system message to be just a styled printed string in the message instead of the way it is currently designed.

[2018-04-25 07:14] debragail commented on #3901
when I went to code the changes I realized system message was not modeled as a bot and was only applicable to group messages which seemed the improper place to style “System message” and indeed needs a PRD

[2018-04-25 07:19] debragail commented on #3932
Can you post the current performance metrics and logs?

[2018-04-25 07:23] debragail commented on #3932
https://github.com/bhauman/lein-figwheel/pull/678

[2018-04-25 07:23] dmitryn commented on #3932
I don't have one. It's actually in scope of this issue to collect and compare such metrics.

[2018-04-25 07:29] lukaszfryc opened #3987 "Cannot login or recover account - geth node is not available"
### Description

*Type*: Bug

*Summary*: Status app hangs on account creation or account recovery. It happens only on Android.
In the logs I see: `geth node is not available`

[code]

#### Expected behavior
The node should be available. Account creation and recovery should work fine.

#### Actual behavior
`geth node is not available`

### Reproduction

- Open Status
- Try to create an account

###

[2018-04-25 07:35] debragail commented on #3932
It looks like you use he node_modules folder according to this file:

findSymlinkedModules.js.patch

/**
 * Copyright (c) 2015-present, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same direc

[2018-04-25 07:46] debragail commented on #3932
Also I don’t know react native tooling that well but it seems to be an issue with 16:

https://github.com/facebook/react-native/issues/15371

[2018-04-25 09:23] adambabik opened #3988 "User can export the chat history"
### User Story

As a user, I'd like to have more control over my chat history and export it anytime.

### Description

*Type*: Feature

*Summary*: Currently, it's unclear how long the chat history is stored. The minimal requirements are to have an ability to export my chat history.

### Solution
*Summary*:
- add a new option in Profile tab to export my chat history,

Originally included https://gi

[2018-04-25 10:41] chadyj commented on #3926
Sorting by alphabetical order is enough for now to let users easily find tokens.
Achieves the same goal with a fraction of the work :-)

Want to update the issue?

[2018-04-25 10:43] #3411 closed, assigned to nobody

[2018-04-25 10:46] asemiankevich commented on #3926
@chadyj just to clarify - i asked for search on Wallet - Manage assets screen (not on the main wallet screen). If you feel that it is overkill - well i won't be fighting for it :)

[2018-04-25 10:51] chadyj commented on #3926
Ah yes sorry I was thinking of the manage asset screen. That screen really needs sorting!

How many assets do you have in your wallet that you need search to find them?

[2018-04-25 10:54] asemiankevich commented on #3926
@chadyj on Mainnet we have ~100 and we have now about 5-6 under Ropsten, but Ropsten is not in focus for this issue, since it was originally logged when i was surfing the app under Mainnet

[2018-04-25 10:57] chadyj commented on #3926
Oh so it seems we are talking about the same thing :)
Alphabetical sort is great for now to get users finding tokens without the need for UX and more work

[2018-04-25 11:00] asemiankevich commented on #3926
@chadyj updated and put a bounty for it

[2018-04-25 11:44] denis-sharypin commented on #3926
Shall we keep our token and ETH on the top of the list without respect of sorting?

[2018-04-25 11:50] chadyj commented on #3926
Wrong screen.
The manage list only has tokens. I added a screen to the issue for clarity.

[2018-04-25 11:57] goranjovic commented on #3926
But a good question regarding the main Wallet screen

[2018-04-25 12:14] flexsurfer commented on #3935
we need to set `web3.eth.defaultAccount` same problem for https://giveth.github.io/liquidpledging-ui/#contract=0x18658A1A7cB8b0Be97b155D051769b3651b2943c&pageId=pledges&provider=

[2018-04-25 12:46] asemiankevich opened #3993 "No new chat created when sending Txn from unsigned to previously deleted chat"
*Type*: Bug

*Summary*: I have scanned QR code of someone. I went to this chat and wanted to send a transaction. While being on transaction screen i tapped sign later. I deleted the chat with this person. Then i went to Unsigned and signed the transaction. I do expect the chat which i deleted earlier is shown again.

#### Expected behavior
i want the chat to be re-opened after deletion when i trig

[2018-04-25 14:18] adambabik opened #3994 "Allow to specify different upstream endpoint"
### User Story

As a user, I'd like to use Status with upstream node but I'd like to specify the upstream address by myself.

### Description

*Type*: Feature

*Summary*: It's important that even if one decides to use upstream node, there is a choice. Currently, the upstream networks use infura and it's not possible to change it.

### Solution
*Summary*:
- allow specifying a custom upstream addres

[2018-04-25 14:29] #3935 closed, assigned to flexsurfer

[2018-04-25 14:56] lukaszfryc opened #3995 "Enable group chats when bugs are fixed"
### Description

*Type*: Feature

*Summary*: Currently, group chats are disabled in the release build. This issue is about re-enabling them when related bugs are fixed.

#### Expected behavior
Group chats are enabled in the release build.

#### Actual behavior
Group chats are disabled in the release build.

### Reproduction

- Open Status
- Create a new group chat

### Additional Information
* Sta

[2018-04-25 15:34] rachelhamlin opened #3996 "Make incoming and outgoing transactions clearer"
### User Story

As a user, I want to more easily discern between my incoming and outgoing transactions so that I can understand my transaction history at a glance.

### Description

*Type*: Improvement

*Summary*:
During testing, users had difficulty distinguishing between their sent and received transactions on the Transactions History screen because they are too similar looking.

Currently we us

[2018-04-25 15:59] rachelhamlin opened #3997 "Display pending requests in transactions history"
### User Story

As a user, I want to see my pending requested transactions so that I have a record of my outstanding requests from other users.

### Description

*Type*: Feature

*Summary*:
Currently the only place to see an outstanding request is in the chat between two users.

Users indicated during testing of Transactions History that they want to see a list of their requested transactions so t

[2018-04-25 16:16] lukaszfryc commented on #3987
I'm attaching logcat [here](https://drive.google.com/open?id=15-XgQXieJTkBPdeQys6dTokhMNRiqVye)

[2018-04-25 17:24] pedropombeiro opened #3999 "Disable status-go logging for prod releases"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want low-level logs from status-go to be disabled, in order to avoid sensitive information being written to disk.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you e

[2018-04-25 17:56] pedropombeiro opened #4000 "Error should be displayed to user when StartNode fails"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be made aware when the app is not usable, so I can more quickly diagnose what is happening.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to

[2018-04-25 21:42] martinklepsch opened #4001 "Add CONTRIBUTING.md"
We should have a `CONTRIBUTING.md` file as this is specifically highlighted by GitHub and a common place for potential contributors to look up guidelines & process.

What could be part of this?

- https://github.com/status-im/status-react#how-to-contribute
- Clojure Style Guide (or link to one)
- link to issues with bounties / OpenBounty
- branch naming rules/suggestions

[2018-04-26 02:55] debragail commented on #2998
https://developer.android.com/training/articles/user-data-ids

<blockquote><img src="https://developer.android.com/_static/b0b5dc6d7e/images/android/favicon.png" width="48" align="right"><div>Android Developers</div><div><strong><a href="https://irina-redesign.android.com/training/articles/user-data-ids">Best practices for unique identifiers  |  Android Developers</a></strong></div></blockquote>

[2018-04-26 04:15] oskarth opened #4003 "Add experimental mail server under flag"
## Problem

We want to test experimental mail server for 168-paid-master-node swarm, but it is going to be highly unstable (local to start with), so we don't want to expose it to user.

## Solution

- [ ] Use Oskar's local mail server for now until cluster updated
- [ ] Jenkins build flag
- [ ] Add as option to mail servers

## Acceptance criteria

Experimental mail server is available but only un

[2018-04-26 04:16] oskarth commented on #4003
Started doing this locally in a branch.

[2018-04-26 04:48] oskarth commented on #3994
Do we need some designs for this? Can we re-use components that we use for other custom data entry? Would probably be easiest

cc @chadyj @denis-sharypin

[2018-04-26 06:03] chadyj opened #4006 "Unique anonymous mixpanel id's"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to mixpanel ID's to be anonymous so that privacy is preserved.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actua

[2018-04-26 06:51] chadyj opened #4008 "Users can set currency"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to set the currency so that I can see crypto value in my chosen currency.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what act

[2018-04-26 07:01] chadyj opened #4009 "Show fiat value of wallet assets"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see the fiat value of assets so that I know value.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Secti

[2018-04-26 07:39] jeluard opened #4010 "Allow both release and develop version to coexist"
### User Story

As a developer, I want to have both release and developer version running at the same time on iOS.

### Description

Currently both versions share same identifier preventing to keep the released version installed.

*Type*: Feature

[2018-04-26 09:15] asemiankevich opened #4011 "Add token icons to the transaction history"
### User Story

As a user, I want to distinguish my token transactions (and ETH) easily based on token (eth) icons , so I am spending less time looking for transactions in history

### Description

*Type*: Enhancement

*Summary*: we are planning to have token transaction soon in history and it would be great if we can add token icon to transaction' details

#### Expected behavior
Token icons are p

[2018-04-26 09:56] status-open-bounty commented on #3926
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x2ab98fe9cd1907ad1d9884831d8eb2429fe0c3c447546b62f85642d6af5751b5](https://etherscan.io/tx/0x2ab98fe9cd1907ad1d9884831d8eb2429fe0c3c447546b62f85642d6af5751b5)

[2018-04-26 09:56] status-open-bounty commented on #4008
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x3023576ca2a8289f3fd8610aefdf03e2bcc5eaca](https://etherscan.io/address/0x3023576ca2a8289f3fd8610aefdf03e2bcc5eaca)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 09:56] status-open-bounty commented on #3926
Balance: 0.000000 ETH
Tokens: SNT: 350.00
Contract address: [0xc8982372bf605ca38a7e880f0345be912d29de2c](https://etherscan.io/address/0xc8982372bf605ca38a7e880f0345be912d29de2c)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 09:57] status-open-bounty commented on #3983
Balance: 0.000000 ETH
Tokens: SNT: 700.00
Contract address: [0x0455f9d16dc7ac19bf64628f95fba6354b8d8aba](https://etherscan.io/address/0x0455f9d16dc7ac19bf64628f95fba6354b8d8aba)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 09:59] chadyj opened #4012 "Consistent transaction flow from wallet and chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want a consistent transaction UI so that I can easily make and understand transactions from both Wallet and Chat.

As a user, I want a send tokens in chat.

As a developer, I don't want to duplicate UI's and flows so that I can have cleaner code.

### Description

[comment]: # (Feature or Bug? i.e

[2018-04-26 10:07] #3177 closed, assigned to nobody

[2018-04-26 10:52] denis-sharypin commented on #4008
Specs:

icon name: [icons/icon :icons/ok]

<img width="708" alt="screenshot 2018-04-26 12 50 22" src="https://user-images.githubusercontent.com/6559881/39301722-7c2996c2-4950-11e8-89d7-70f6c522c1db.png">

<img width="255" alt="screenshot 2018-04-26 12 50 40" src="https://user-images.githubusercontent.com/6559881/39301723-7c5b543c-4950-11e8-8ced-d8afdd6cb0ed.png">

Font size
<img width="1096" alt="

[2018-04-26 11:38] asemiankevich commented on #3438
it is no more reproducible

[2018-04-26 11:38] #3438 closed, assigned to nobody

[2018-04-26 11:42] asemiankevich commented on #3221
@lukaszfryc this is a separate issue already for this https://github.com/status-im/status-react/issues/3911

[2018-04-26 12:21] asemiankevich commented on #3156
agreed with @Serhy to close it as it is not reproducible for now

[2018-04-26 12:21] #3156 closed, assigned to nobody

[2018-04-26 12:38] antdanchenko opened #4016 "Report results of automated tests via TestRuns in TestRail"

[2018-04-26 12:39] asemiankevich commented on #2923
closing this one as we have https://github.com/status-im/status-react/issues/3233 and separate issue for history https://github.com/status-im/status-react/issues/3976

[2018-04-26 12:39] #2923 closed, assigned to nobody

[2018-04-26 13:18] jeluard opened #4018 "Create icon for debug builds"
[comment]: # (Please replace ... with your information. Remove < and >)
### User Story

As a developer, I want a specific icon for debug builds

### Description

*Type*: Feature

Debug builds can now live together release builds. To easily distinguish them a new icon will be created.

[2018-04-26 13:43] lukaszfryc commented on #2983
I could not reproduce it on latest nightly

[2018-04-26 13:43] #2983 closed, assigned to nobody

[2018-04-26 14:01] lukaszfryc commented on #3508
Can be reproduced on nightly from April 26

[2018-04-26 14:05] asemiankevich opened #4020 "Amount and total fee fields are overlapped by keyboard on Advanced screen"
### Description

*Type*: Bug

*Summary*: `Reset to default` and `Done` buttons overlap `Amount` and `Total Fee`

#### Expected behavior
A keyboard should not overlap wallet screen details, screen should be adjusted dynamically

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/39310438-09d56682-4973-11e8-8c74-71c2707a58da.png)

### Reproduction
- Open Status
- /fauce

[2018-04-26 14:41] lukaszfryc opened #4021 "Admin cannot leave group chat - "missing value for property: transport topic""
### Description

*Type*: Bug

*Summary*: When an admin leaves the group chat "missing value for property: transport topic" alert appears. Also, the group chat does not disappear and has a system message "{public key} left".

#### Expected behavior
Group chat is deleted and does not reappear when another user sends a message.

#### Actual behavior

<img src="https://user-images.githubusercontent.co

[2018-04-26 14:42] chadyj opened #4023 "[Design] Improve chat transaction display"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see transaction details in chat so that I can get more information.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

When user A sends money in chat to user B the visualization lacks information, isn't actionable, and looks rather underwhelming.

#### Exp

[2018-04-26 14:54] lukaszfryc commented on #4021
According to #3880, the admin should not be allowed to leave the chat

[2018-04-26 14:54] #4021 closed, assigned to nobody

[2018-04-26 14:59] lukaszfryc opened #4024 ""user left" message in group chat is shown twice"
### Description

*Type*: Bug

*Summary*: "user left" message in group chat is shown twice

<img src="https://user-images.githubusercontent.com/7532782/39313661-d23190f2-4972-11e8-9212-626e9ccd76a0.png" width="200">

#### Expected behavior
"user left" message should be shown only once.

#### Actual behavior
"user left" message is shown twice.

### Reproduction

- Open Status
- User A: Create group

[2018-04-26 15:03] status-open-bounty commented on #3683
Balance: 0.000000 ETH
Tokens: SNT: 700.00
Contract address: [0x6c818d5486229618a89c494cebfe9a776170df5c](https://etherscan.io/address/0x6c818d5486229618a89c494cebfe9a776170df5c)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 15:05] denis-sharypin commented on #3918
I would suggest changing plus button for Invite friends button which triggers share popup. Otherwise, I don't know what plus button does

[2018-04-26 15:05] status-open-bounty commented on #4010
Balance: 0.000000 ETH
Tokens: SNT: 1500.00
Contract address: [0xf3e9c57115f60704c397da150e3aebdc1609d7cf](https://etherscan.io/address/0xf3e9c57115f60704c397da150e3aebdc1609d7cf)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 15:06] status-open-bounty commented on #4009
Balance: 0.000000 ETH
Tokens: SNT: 1500.00
Contract address: [0x0e1fc51eb9da54b0300bad097742867d2250ca4d](https://etherscan.io/address/0x0e1fc51eb9da54b0300bad097742867d2250ca4d)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 15:06] asemiankevich commented on #3918
well this design is a draft, we jsut need something for these blank screens when having no contacts

[2018-04-26 15:09] status-open-bounty commented on #4012
Balance: 0 ETH
Tokens: SNT: 1500.00
Contract address: [0x666ff81085bc23a07399bb9acaeb34e36d282dfc](https://etherscan.io/address/0x666ff81085bc23a07399bb9acaeb34e36d282dfc)
Network: Mainnet
Paid to: goranjovic
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-26 15:17] asemiankevich opened #4026 "Gas Price value is not fully shown (only first 4 digits) on iOS"
### Description

*Type*: Bug

*Summary*: Gas Price field on the Advanced screen shows only 4-digit value

#### Expected behavior
All digits are shown in Gas Price field

#### Actual behavior
only 4 digits shown

![image](https://user-images.githubusercontent.com/28752642/39314840-de707d1e-497d-11e8-910a-e65ef11b86e3.png)

### Reproduction

- Open Status
- Tap wallet
- Tap send transaction
- Tap ad

[2018-04-26 15:21] dmitryn opened #4027 "Add script to dump and restore app state"
### User Story

As a developer, I want to replicate app state so that I could reproduce a bug on my local machine and fix it.

### Description

It should basically have 2 commands: dump and restore.

Script should be able to dump app state by downloading realmdb and account keys from simulator/device and restore app state by uploading realmdb and account keys to simulator/device.

### Additional I

[2018-04-26 15:31] lukaszfryc opened #4028 "When group chat member is removed, the public key is shown instead of username"
### Description

*Type*: Bug

*Summary*: When a group chat member was removed, other users see "admin removed **{public key}**". Instead of the public key, the real name should be shown.

#### Expected behavior
Real or default name (if user didn't set it) should be shown.

#### Actual behavior
Public address is shown:

<img src="https://user-images.githubusercontent.com/7532782/39315508-19252466-4

[2018-04-26 15:37] lukaszfryc commented on #3637
Closing. Group chats are enabled

[2018-04-26 15:37] #3637 closed, assigned to nobody

[2018-04-26 15:42] lukaszfryc opened #4029 "Cannot add user to existing group chat"
### Description

*Type*: Bug

*Summary*: `nth not supported on this type` when trying to add a user to existing group chat.

#### Expected behavior
New user can be added to existing group chat.

#### Actual behavior

<img src="https://user-images.githubusercontent.com/7532782/39316139-b62eddaa-4978-11e8-8f65-fd1f4b3596e7.png" width="200">

### Reproduction

- Open Status
- Create group chat
- Try

[2018-04-26 17:24] pacamara commented on #3847
Hi @annadanchenko , I've posted a fix for this at https://github.com/status-im/status-react/pull/4030 :cocktail: :beer:

[2018-04-26 19:27] #3912 closed, assigned to nobody

[2018-04-26 19:29] #3903 closed, assigned to nobody

[2018-04-27 03:17] oskarth opened #4031 "Security vulnerability in hapijs / hoek 4.2.1 (package-lock.json)"
## Problem

Security vulnerability in hapijs / hoek 4.2.1 (package-lock.json) https://nvd.nist.gov/vuln/detail/CVE-2018-3728

![image](https://user-images.githubusercontent.com/1552237/39342835-745523be-4a0c-11e8-89aa-8461950fd4a6.png)

![image](https://user-images.githubusercontent.com/1552237/39342852-874b5ad8-4a0c-11e8-8e4b-d4e56622b664.png)

## Solution

Either upgrade or remove/replace this d

[2018-04-27 03:24] oskarth commented on #4031
Should be enough to bump to `hoek ~> 5.0.3` but would need to test and make sure nothing else breaks with this change.

[2018-04-27 04:01] joshuawootonn commented on #4031
I am getting the same problem on many personal repos

[2018-04-27 07:45] rachelhamlin opened #4033 "Make tribute to send a new message [UI]"
### User Story

As a user, I want to pay someone I find interesting so that I can send them a message.

### Description

*Type*: Feature

*Feature summary*:
See the [#096 Tribute to Talk idea](https://github.com/status-im/ideas/pull/165) for context.

User A does not have User B in their contact list. User A has a minimum tribute of 200 SNT set for non-contacts to message them.

When User B starts

[2018-04-27 08:03] #3784 closed, assigned to dmitryn

[2018-04-27 09:16] yenda commented on #3782
Closed because most of the job has been done in https://github.com/status-im/status-react/pull/3810

[2018-04-27 09:16] #3782 closed, assigned to janherich

[2018-04-27 09:49] yenda opened #4034 "Can't recover from key exchange failure when contact request message is lost"
When a contact request is sent by A to B, if the contact request is not received by B, the key exchange doesn't occur and following messages from A to B will never be received by B. B will not even know that A tried to contact him and A won't be able to send a new contact request to B.
From A perspective it looks like B has still not accepted his invite
From B perspective it looks like nothing eve

[2018-04-27 10:31] Serhy commented on #3708
I could not reproduce this error with delete/leave group chat scenarios with the further app relaunch. Also, haven't seen this error since two weeks in develop builds, - closing this issue.

[2018-04-27 10:31] #3708 closed, assigned to nobody

[2018-04-27 10:50] yenda commented on #4031
I don't think it is just a small bounty, I can dig further but realm is pinning `node-pre-gyp` version as you can see here https://github.com/realm/realm-js/blob/master/package.json#L87 and this is this version of node-pre-gyp that is using `hawk` which has `hoek` as a dependency.
Latest version of `node-pre-gyp` doesn't have this dependency.

So to solve this issue the two solutions I see so far

[2018-04-27 11:03] #3774 closed, assigned to nobody

[2018-04-27 11:33] asemiankevich opened #4037 "Not sent is shown when requesting funds"
### Description

*Type*: Bug

*Summary*: i am receiving `not send` for faucet request under ropsten in PR rebased on fresh develop. However i receive response that is was sent from Console. When i hit `resend` - it shows endless spinner

#### Expected behavior
faucet request is sent

#### Actual behavior
/faucet request message is shown as not sent

![image](https://user-images.githubusercontent.c

[2018-04-27 11:43] oskarth commented on #4031
@yenda Cheers, do you want to change it to something more appropriate? L maybe? Maybe we (or bounty person) can fork realm and try first option first.

[2018-04-27 12:05] lukaszfryc commented on #4029
closed as duplicate of #3892

[2018-04-27 12:05] #4029 closed, assigned to nobody

[2018-04-27 12:34] Serhy commented on #3463
I rechecked this issue in latest nightly develop build (357th in jenkins) and all fine!
Old chat members who left in the Group Chat after admin removed one participant - exchange messages fine!
Glad to close this issue!!

[2018-04-27 12:34] #3463 closed, assigned to goranjovic

[2018-04-27 12:37] yevh-berdnyk opened #4038 "All symbols after dot/comma erased if editing decimal number in the transaction amount field"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to edit transaction amount in the wallet by deleting certain number of symbols

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen,

[2018-04-27 12:39] Serhy commented on #3464
Will re-check once https://github.com/status-im/status-react/issues/3892 is fixed.

[2018-04-27 12:49] janherich commented on #3464
@Serhy Can you please check #3892 and this ticket as well in https://github.com/status-im/status-react/pull/3904 (I know that there is still #3891 happening in the PR and I'm working on fix, but I don't think that should block testing other issues tackled by the PR)

[2018-04-27 12:54] chadyj opened #4040 "[Design] Improve send transaction screen"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to send prepare a transaction so that I can send a transaction.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

The send transaction screen is at the heart of every Ethereum transaction and core to Status so we need users can seamlessly send transactions.

[2018-04-27 13:01] Serhy commented on #3950
This one https://github.com/status-im/status-react/issues/3892 is a blocker for now to re-test this issue.

[2018-04-27 13:21] yevh-berdnyk opened #4042 "Group chat is not removed from chats list for user who has left it"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be able to leave a group chat so that it will not be shown in my chats list

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Group chat is still in the chat list for a member who has left it

#### Expected behavior
Group chat is removed from the chats l

[2018-04-27 13:23] antdanchenko opened #4043 "'GOT IT' screen is not shown after signing an unsigned transaction"
### Description

'GOT IT' screen with the information 'Please wait for 12 confirmations...` is not shown after signing an unsigned transaction from "unsigned tab"

#### Expected behavior
'GOT IT' screen is shown
![0026screenshot](https://user-images.githubusercontent.com/12611990/39364187-d06d73d0-4a35-11e8-8157-fd21cf2142ee.png)

#### Actual behavior
User is redirected to
![0030screenshot](https:

[2018-04-27 13:26] #3961 closed, assigned to flexsurfer

[2018-04-27 13:33] chadyj opened #4044 "[WIP] Show metrics opt-in reminder after 7 days"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user that choose to share opt-in metrics, I want to be reminded of my choice after 1 week so that I can reconsider and reconfirm my choices.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Collecting metrics touches on issues of privacy so Status needs to ensure users make

[2018-04-27 13:45] oskarth commented on #2787
Not being kept up to date, as predicted by a bunch of people. Closing.

[2018-04-27 13:45] #2787 closed, assigned to nobody

[2018-04-27 14:29] denis-sharypin commented on #3944
![status-privacy](https://user-images.githubusercontent.com/6559881/39367835-302c85b6-4a38-11e8-921f-cfc99fc789fa.png)
![status-privacy 2x](https://user-images.githubusercontent.com/6559881/39367836-305c9c38-4a38-11e8-83bb-fe3bbb4403ac.png)
![status-privacy 3x](https://user-images.githubusercontent.com/6559881/39367838-30908dfe-4a38-11e8-9f86-6925eb8a29f9.png)

[2018-04-27 14:37] yevh-berdnyk opened #4045 "Messages about group chat members were added or removed sent after re-login"
### Description

*Type*: Bug

*Summary*: Group chat members receive messages about other members was removed or added to the chat after each re-login

#### Expected behavior
Messages about removing/adding users received only once, no new such messages after re-login

#### Actual behavior
Messages about removing/adding users are resent after each re-login

### Reproduction
[comment]: # (Describe ho

[2018-04-27 14:56] Serhy commented on #3464
@janherich so in the latest builds of #3904 (Android: https://i.diawi.com/2TTctg and
iOS: https://i.diawi.com/PMQ8J3) the #3892 issue still present.

However, current issue seem to be fixed, yes.
Anyway, we can't close this issue until the fix for #3892 merged in develop (either in the scope of #3904 or another PR) and we re-check this bug in the scope of develop build.

[2018-04-27 16:02] yenda commented on #3346
I would suggest that we just remove this info for now as there is no such thing as online status atm. @janherich @cammellos what do you think ?

[2018-04-27 16:24] denis-sharypin commented on #4018
@jeluard @endenwer

![icon_83 5 2x](https://user-images.githubusercontent.com/6559881/39373435-e1deeaf6-4a47-11e8-9d69-45ec83ac50e0.png)

Android — 
[ic_launcher — debug.zip](https://github.com/status-im/status-react/files/1955868/ic_launcher.debug.zip)

iOS —
[iOS — Debug.zip](https://github.com/status-im/status-react/files/1955863/iOS.Debug.zip)

[2018-04-27 16:25] janherich commented on #3346
@yenda @Serhy Yes, that's the easiest thing to do. Other would be to reintroduce online status, but it's quite tricky because it requires periodic "pings" to all user contacts and care has to be taken about bandwidth usage, etc.

[2018-04-27 17:11] cammellos commented on #3346
i am also for removing this, we can reconsider after beta launch

On Fri, Apr 27, 2018, 6:35 PM Jan Herich <notifications@github.com> wrote:

<blockquote><img src="https://avatars0.githubusercontent.com/u/1181225?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/yenda">yenda (Eric Dvorsak)

[2018-04-28 07:31] #3983 closed, assigned to nobody

[2018-04-28 07:33] #3869 closed, assigned to andytudhope

[2018-04-28 22:40] kwingram25 opened #4050 "Android build hangs on :app:preDebugBuild > Resolve dependencies"
### User Story

As a developer I want to build the app and install on a device for testing

### Description

*Type*: Bug

The command `make run-android` suddenly stopped working about a day ago apparently because of a missing maven repository. The problem appears to be a remote URL `maven { url "http://139.162.11.12:8081/artifactory/libs-release-local" }` (build.gradle)

#### Expected behavior
The

[2018-04-30 02:36] oskarth commented on #3761
@andytudhope Can we bump this up to a medium?

[2018-04-30 06:19] asemiankevich opened #4053 "Password shown as plain text in logcat logs"
### Description

*Type*: Bug

*Summary*: `2018-04-30 10:33:09.199616+0800 StatusIm[81777:11484316] Instabug - REACT LOG: 2018-04-30 10:33:09.199 [info][tid:com.facebook.react.JavaScript] DEBUG [status-im.utils.handlers:37] - Handling re-frame event:  :wallet.send/set-password test123`

#### Expected behavior
passwords should not be shown or tracked in logs

#### Actual behavior
Logcat contains pas

[2018-04-30 07:17] flexsurfer commented on #3825
https://github.com/status-im/status-react/pull/3860#issuecomment-383835863

[2018-04-30 07:26] asemiankevich opened #4056 "Add erc721 support in wallet"
### Description

*Type*: Feature

*Summary*:  In order to support unique tokens I want to add erc721 token support in Status app

#### Expected behavior

1. send / receive erc 721 token from wallet
2. send / receive erc 721 token in chats
3. see erc 721 token transactions in history

[2018-04-30 07:29] Serhy commented on #4034
Looks like related (or even the same) what is in the #3984 issue.

[2018-04-30 08:59] Serhy commented on #3825
I've retested this issue and can confirm it's fixed!

[2018-04-30 09:02] #3825 closed, assigned to Serhy

[2018-04-30 11:12] flexsurfer commented on #3958
@annadanchenko i think this two transactions flow is not good from UX pov, what if i accidentally reject the second transaction. But for status there is one more problem, we have 5 min timeout for transactions, what if i sign first one but second will timeout?

[2018-04-30 11:25] status-open-bounty commented on #4027
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x7103ae2cd06eec603a25f47ea314493081f30e1068a247ca47486ea471ac0080](https://etherscan.io/tx/0x7103ae2cd06eec603a25f47ea314493081f30e1068a247ca47486ea471ac0080)

[2018-04-30 11:25] status-open-bounty commented on #4027
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc04085ed8bd43e96b4c44c26309944ad0999259b5014e70aca72d8b59235d388](https://etherscan.io/tx/0xc04085ed8bd43e96b4c44c26309944ad0999259b5014e70aca72d8b59235d388)

[2018-04-30 11:30] andytudhope commented on #2848
Removing bounty labels due to inactivity; re-add if in error @jeluard

[2018-04-30 11:30] status-open-bounty commented on #4031
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x3b6540b32415798fc54d4aff5efac7d326147f4da0e0adb03db2a33e55a20484](https://etherscan.io/tx/0x3b6540b32415798fc54d4aff5efac7d326147f4da0e0adb03db2a33e55a20484)

[2018-04-30 12:04] #3927 closed, assigned to cammellos

[2018-04-30 15:26] #4037 closed, assigned to dmitryn

[2018-04-30 16:06] Serhy commented on #3346
I'm OK to move this feature at the later time, yes.
@chadyj what's your opinion, - do you think we can postpone online/offline contact status feature in 1-1 chat after beta launch?
We'll coordinate then with design team whether to replace 'Unknown' with something more meaningful or just hide it.

[2018-04-30 19:02] #3832 closed, assigned to nobody

[2018-05-01 02:57] oskarth opened #4062 "Make it easier to get STT without requiring special knowledge"
## Problem

In order to test the app it is useful to be able to get STT quickly. Currently this requires the following steps, and most importantly, awareness of this being a thing:

[code]

(from https://github.com/status-im/ideas/blob/8728f8cab8fec3f3f1a3ef018993ab5e63b5d2e1/ideas/168-paid-master-nodes/stt-payment-testing.md#how-do-i-get-stt - also see above wiki link with more relevant addresses

[2018-05-01 07:20] status-open-bounty commented on #3994
Balance: 0.000000 ETH
Tokens: SNT: 3000.00
Contract address: [0x55c5c9daf2ef4f9914c5e9c995b91f755c07c524](https://etherscan.io/address/0x55c5c9daf2ef4f9914c5e9c995b91f755c07c524)
Network: Mainnet
Paid to: ConnorChristie
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-01 07:20] status-open-bounty commented on #3459
Balance: 0.000000 ETH
Tokens: SNT: 655.00
Contract address: [0x20ac9223d2765e08c43eea4e66abf7fdeef37486](https://etherscan.io/address/0x20ac9223d2765e08c43eea4e66abf7fdeef37486)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-01 07:21] status-open-bounty commented on #3603
Balance: 0 ETH
Tokens: SNT: 1300.00
Contract address: [0xce4647694612d1a1489375592faa618e6ce17ec8](https://etherscan.io/address/0xce4647694612d1a1489375592faa618e6ce17ec8)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-01 07:21] status-open-bounty commented on #4026
Balance: 0.000000 ETH
Tokens: SNT: 325.00
Contract address: [0x287ab513269dfaed565f2dece853c0c8967db1a5](https://etherscan.io/address/0x287ab513269dfaed565f2dece853c0c8967db1a5)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-01 07:59] debragail commented on #4031
why are you using node-pre-gyp?  Just remove it.

[2018-05-01 08:02] debragail commented on #4031
https://github.com/mapbox/node-pre-gyp/wiki/Modules-using-node-pre-gyp

<blockquote><img src="https://avatars2.githubusercontent.com/u/600935?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/mapbox/node-pre-gyp">mapbox/node-pre-gyp</a></strong></div><div>node-pre-gyp - Node.js tool for ea

[2018-05-01 08:04] debragail commented on #4031
I see that realm uses it but i think it's because it's using the https://github.com/mapbox/node-sqlite3 ... i'd get rid of realm.

<blockquote><img src="https://avatars2.githubusercontent.com/u/600935?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/mapbox/node-sqlite3">mapbox/node-sqlite

[2018-05-01 08:56] flexsurfer opened #4065 "It should be possible to change gas and gasprise for transactions from dapps or extensions"
status-go https://github.com/status-im/status-go/issues/881

[2018-05-01 09:59] flexsurfer opened #4066 "it should be possible to see transaction data in advanced while signing"
![image](https://user-images.githubusercontent.com/11790366/39519918-5d9eb4d8-4e11-11e8-98a2-d244aa91a368.png)
![image](https://user-images.githubusercontent.com/11790366/39519930-6974dc06-4e11-11e8-9273-c81784f387ae.png)

[2018-05-01 11:17] flexsurfer commented on #3958
@annadanchenko you can use simple dapp to test this issue
![image](https://user-images.githubusercontent.com/11790366/39471191-6a2ac2e0-4d4a-11e8-9457-da52154c5913.png)

[2018-05-01 11:42] #3932 closed, assigned to nobody

[2018-05-01 12:31] yenda opened #4072 "Fix build.clj script"
We would like to move from lein to the new clj cli tool for project task.
There is currently an error with the figwheel task that prevents us from using it.

#### Expected behavior
`clj -R:repl build.clj figwheel android` works like `lein figwheel-repl android`

#### Actual behavior
`clj -R:repl build.clj figwheel android` produces the following error in the android simulator when running the app:

[2018-05-01 12:42] yalu opened #4073 "Messages with certain occurance of elipsis(as three periods) gets rendered as link."
Messages (at-least in public chats) with elipsis(as three periods) gets rendered as link. clicking open in browser crashes the  app.

### User Story

As a chat user I am in the habit of writing lots of elipsis in messages i write.

### Description

*Type*: Bug

When i sent a test message in #status public chat in couple of recent nightlies, due to my habit, I accidentally bumped into this bug, whe

[2018-05-01 13:49] chadyj commented on #4008
My apologies if this is a bit late, but this issue was supposed to have a full list of supported currencies. The AUD/USD/RUB was just for the mockup.

Here is the list of currency's to support: https://gist.github.com/chadyj/baf3a6a430a03e3760df8d628e02de8f

For simplicity lets default to USD.

<blockquote><img src="https://avatars3.githubusercontent.com/u/116099?s=400&v=4" width="48" align="right

[2018-05-01 14:06] rachelhamlin opened #4075 "Clear invalid contact code error message [iOS]"
### User Story

As a user, I don't want to see leftover error messages when I return to a previous screen.

### Description

*Type*: Bug

*Summary*: The error message for an invalid contact code does not clear if the user navigates away from the new chat screen without either deleting or correcting the code.

#### Expected behavior
Error message disappears once a user navigates to any other screen

[2018-05-01 14:09] #3915 closed, assigned to nobody

[2018-05-01 14:24] rcullito commented on #4031
cc @oskarth @yenda looks like this has also been addressed by the maintainers. this thread may be worth monitoring: https://github.com/request/request/issues/2926#issuecomment-385087487

[2018-05-01 14:26] chadyj commented on #3346
+1 removing it.

[2018-05-01 14:41] #3907 closed, assigned to nobody

[2018-05-01 14:43] #3934 closed, assigned to nobody

[2018-05-01 15:07] antdanchenko opened #4077 "`JavascriptException: Migration is required due to the following errors` is shown after upgrading 0.9.17 to 0.9.18"
### Description
The exception is shown only for Android. The app crashes on IOS after upgrading and the exception is not shown

*Type*: Bug

#### Expected behavior
An alert about excluded upgrade option from the release is shown, no crashes, user can create new account or recover the old one
![screenshot_2018-05-01-18-21-30](https://user-images.githubusercontent.com/12611990/39479070-daefe68c-4d6c

[2018-05-01 15:26] antdanchenko commented on #4077
@denis-sharypin please, create a text for alert message (the screenshot is in "Expected behavior") for the release 0.9.18

[2018-05-01 17:10] Serhy opened #4078 "No user avatar next to message bubble in 1-1 chat for contact who sends me a message"
***Type***: Bug

***Summary***: User avatar is gone in 1-1 chat (near message bubbles) for a contact who sends me a message.

#### Expected behavior
User avatar is present in 1-1 chat near message bubbles for a contact who sends me a message.
<img width="253" alt="screen shot 2018-05-01 at 19 56 04" src="https://user-images.githubusercontent.com/8749671/39483146-249b61fa-4d7a-11e8-8d05-7796ea0ad29

[2018-05-01 17:14] cammellos commented on #4078
@Serhy I believe that's per design ( I made that change), @denis-sharypin ?

[2018-05-02 01:50] oskarth opened #4080 "Require payment to mail server before connecting to it (hidden under flag)"
# Problem

Users want maximum uptime, reliability and security in messaging. By offering mail servers as a paid resource, we allow them to choose one of many competing providers that best satisfies their needs.

As part of an MVP for this, we want to ask user to send a transaction to the mailserver's address before they connect to it.

# Implementation

When a user selects a mail server under adva

[2018-05-02 02:29] oskarth commented on #4034
How about extending https://github.com/status-im/status-react/pull/3964 behavior to also include contact request? So user can see contact request didn't go through and that this is necessary in order to talk to each other at a all. Can add some copy/content to this as well as to make it clear this improves security/privacy.

[2018-05-02 05:32] cammellos commented on #4034
@oskarth #3964 would only tell us that the contact request has left the node, not that the user has received it, we would need to implement some Ack (which I believe we might already have for contact requests , ContactRequestConfirmed, but don't know if it is sent automatically).
At that point we still have a few things to consider (should you allow the user to send messages before a contact reque

[2018-05-02 06:56] denis-sharypin commented on #4077
@chadyj  please help

[2018-05-02 07:04] denis-sharypin commented on #4078
@Serhy  could you test it for group/public chats, please? `Expected:` for group/public chats we should have userpicks  of other participants (edited)

[2018-05-02 07:13] asemiankevich opened #4081 "Missing value for property 'account.address' error when creating account"
### Description

*Type*: Bug

*Summary*: `Missing value for property 'account.address'` error when creating account

#### Expected behavior
no errors

#### Actual behavior
`NAME: "Error"
MESSAGE: Missing value for property 'account.address'

create@[native code]
cljs$core$IFn$_invoke$arity$4@/var/containers/Bundle/Application/7D27FF5C-80D7-4572-985C-DEA560227D20/StatusIm.app/main.jsbundle:12:53142

[2018-05-02 07:20] asemiankevich opened #4082 "Random name is shown instead of user settings"
### Description

*Type*: Bug

*Summary*: Custom name is not shown after i set up account. Random name is displayed

#### Expected behavior
User selected a name when setting up an account and status should show it in user profile

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/39510424-6241f3a2-4df2-11e8-8c98-541df7991efe.png)

### Reproduction

- Open Status
- se

[2018-05-02 07:27] Serhy commented on #4078
Yes, that's how it looks now: Group and public chats display userpics of other contacts.
Great! Thanks, @denis-sharypin, @cammellos !

Closing this issue as expected!

[2018-05-02 07:27] #4078 closed, assigned to nobody

[2018-05-02 08:16] status-open-bounty commented on #4080
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x5980fd349902a4ba96c710532d99bd0ce53619b02d11bbce7ec21f8f377d38bd](https://etherscan.io/tx/0x5980fd349902a4ba96c710532d99bd0ce53619b02d11bbce7ec21f8f377d38bd)

[2018-05-02 08:23] flexsurfer commented on #4008
thanks @psdp awesome job, we added 300SNT bonus

[2018-05-02 08:44] #3792 closed, assigned to rasom

[2018-05-02 08:45] #3827 closed, assigned to jpbowen, hesterbruikman

[2018-05-02 08:47] goranjovic commented on #3151
@Serhy As `0` is equal to `0.0`, I'm not quite sure what the problem is here.

Maybe the key issue here is automatic truncation of zeros in trailing decimals.
Say, what would you expect to happen if you type in 5.000 ?

[2018-05-02 08:55] status-open-bounty commented on #3944
Balance: 0.000000 ETH
Tokens: SNT: 1350.00
Contract address: [0x9f08f57fbe4e19522054666129ecf12da7484e5d](https://etherscan.io/address/0x9f08f57fbe4e19522054666129ecf12da7484e5d)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-02 08:55] status-open-bounty commented on #4043
Balance: 0.000000 ETH
Tokens: SNT: 340.00
Contract address: [0x58c88b761317b3676b63d95af1052b929950a1a5](https://etherscan.io/address/0x58c88b761317b3676b63d95af1052b929950a1a5)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-02 08:55] status-open-bounty commented on #4038
Balance: 0.000000 ETH
Tokens: SNT: 340.00
Contract address: [0x75e2ca09897b853e8ef4fd888ba7552d0d499481](https://etherscan.io/address/0x75e2ca09897b853e8ef4fd888ba7552d0d499481)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-02 09:35] #4081 closed, assigned to janherich

[2018-05-02 10:16] Serhy commented on #3151
@goranjovic Typing `5.000` keep staying in the editbox as it is until focus put outside of the `Amount` editbox. Once the cursor is outside the `Amount` editbox  - the trailing decimals cut off. So `5.001000`- value parsed as `5.001`. That makes sense.

There are two ways to enter numbers < 1.
 - Type `0`, then `.` and then the rest of digits
 - Type `.`, and then the rest of digits

In the last i

[2018-05-02 10:56] Serhy commented on #3346
@yenda so agreed with @denis-sharypin too to remove `Unknown`.
Let's remove it and place the contact name in the centre next to the icon like here:

![image 1](https://user-images.githubusercontent.com/8749671/39519609-1e93aa88-4e10-11e8-9277-ed7ea4cdf20c.png)

[2018-05-02 11:55] oskarth commented on #3948
@dshulyak @rasom does this https://github.com/status-im/status-go/pull/864 PR address this issue completely or are there more/different cases?

[2018-05-02 12:14] Serhy commented on #4082
Fixed in 362nd nightly builds (Android: http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-2c7063.apk
 iOS: https://i.diawi.com/FPpc1g)

#4084 PR fixed the issue.

<blockquote></blockquote>
<blockquote><div><strong><a href="https://i.diawi.com/FPpc1g">Install - Diawi - Development and In-house Apps Wireless Installation</a></strong></div></blockquote>

[2018-05-02 12:14] #4082 closed, assigned to nobody

[2018-05-02 12:54] #3987 closed, assigned to rasom

[2018-05-02 12:56] #3926 closed, assigned to nobody

[2018-05-02 12:58] #3938 closed, assigned to nobody

[2018-05-02 13:00] #3459 closed, assigned to nobody

[2018-05-02 13:03] #3798 closed, assigned to nobody

[2018-05-02 13:19] goranjovic commented on #3151
@Serhy Ah ok, just tried it, I see the problem

[2018-05-02 13:38] Coffee-Boyy commented on #4080
I can start working on this issue :)

[2018-05-02 15:22] rachelhamlin opened #4087 "Set tribute to talk [UI]"
### User Story

As a user, I want to set a minimum "tribute" required for non-contacts to send me a message, so that I can block spam and monetize my attention.

### Description

*Type*: Feature

*Feature summary*:
See [#096 Tribute to Talk idea](https://github.com/status-im/ideas/pull/165) for context.

All users will have a "Tribute to talk" setting on the profile screen.

On a user's first run,

[2018-05-02 17:28] dmitryn commented on #3738
I was able to create Instabug User Events (https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/31 look for `"Tap" {"target": "home"}` event). But cannot select custom params in survey conditions (for example, show survey after 5 Taps on Home. It can only be like, show it after any 5 Taps). Figuring out with their support if that technically possible to

[2018-05-03 04:17] oskarth commented on #4080
Great @ConnorChristie! Let me know if you have any questions.

[2018-05-03 06:35] #4026 closed, assigned to nobody

[2018-05-03 06:45] #3761 closed, assigned to nobody

[2018-05-03 07:49] denis-sharypin commented on #3787
Do we have somewhere a documentation with all possible errors and what copy we use?  Or shall we create it

[2018-05-03 08:33] denis-sharypin opened #4091 "Remove your username near the chat bubble in all chats"
### User Story

Two stories:

1. As a user, I already know my username and don't need to see it near my chat bubbles in all chats

2. As a user, I already know a username of the recipient (displays in the navbar) so I don't need to have see it near every recipient's message in 1-to-1 chat.

3. The exception only for System messages that could be found in the group chats. For them, we should keep n

[2018-05-03 09:21] flexsurfer commented on #3616
@go1t @denis-sharypin @jeluard guys lets find some compromise because current solution from @go1t is over complicated for this issue, let's just implement standard os copy paste: long tap, select all, copy, wdyt?

[2018-05-03 09:24] denis-sharypin commented on #3616
Let's add only `Selectable` to the text and that's it

[2018-05-03 09:40] dshulyak commented on #3948
I expect it to solve all known cases

[2018-05-03 09:48] jeluard commented on #3881
This issue will be addressed by making changes to the type of message used to send web3 commands.

[2018-05-03 09:58] goranjovic commented on #3151
@Serhy Let's agree  what should be the expected behavior:

1. We accept only one way to enter numbers - with the leading zero, e.g. 0.1 or 0.00001 and ensure it's consistent that way
2. We make 0 the default payment amount so that users can easily append the dot and decimals to it avoiding the initial situation
3. We remove the automated parse/replace behavior. Right now the amount is automaticall

[2018-05-03 10:46] asemiankevich opened #4093 "Add notification to grant permissions to mobile networks when it was disabled manually"
### Description

*Type*: Feature

*Summary*: Mobile networks are defaulted to `Enabled` to Status app . User can revoke the permissions manually and forget about it, like if he runs status under wifi mostly and dont want to occasionally waste mobile trafic (could be expensive).

Once switched to 3G after some time this user won' receive messages or send them, and will be shown offline when using S

[2018-05-03 10:59] goranjovic commented on #3151
Alternatively, we could agree on a default number of decimal places, too. E.g. always one or two digits after the point

[2018-05-03 11:16] hesterbruikman commented on #3151
I would always prefer user control in cases to do with money. So agree with 1 or 2 and not using the canonical value in the underlying transaction. This seems to lack transparency and is likely confusing when getting to the transaction overview.

Between 1 and 2 I would suggest 1 or an alternative to 1, using the most common format as a hint text. The median transaction value for ETH at the moment

[2018-05-03 11:18] yenda commented on #3901
@debragail system messages are not bots, they are created with the `system-message` function and added by passing them to the fx-producing function `receive` [here](https://github.com/status-im/status-react/blob/develop/src/status_im/chat/models/message.cljs#L93)

They should work for 1-1 chats as well.

The simplest way I can think of for them to have a picture is to have a condition in status-im

[2018-05-03 11:20] hesterbruikman commented on #3151
At a more sophisticated level, we might want to consider adjusting the hint text/format to the selected currency. I'm not sure about this. Benefit is that it gives a sense of 'what's normal'. Downside is that this would create some inconsistency.

[2018-05-03 11:36] goranjovic opened #4095 "Allow requesting tokens from chat"
### User Story

As a user, I want to request tokens from the chat using `/request` command

### Description

Consistently with how `/send` command works, `/request` command should also merely redirect the screen to the Wallet request screen.

Type: Feature

Blocked by #3234

[2018-05-03 13:46] Coffee-Boyy commented on #4080
I do have one question, I am using the event from below to trigger the send transaction modal using an already filled out unsigned-transaction. My problem is that the event logic is using this id but I am unsure where that id gets generated and saved. Is there some way I can generate my own and save it?

https://github.com/status-im/status-react/blob/de03fc2d6a8619860ee9333a787345dae84bca37/src/st

[2018-05-03 15:50] pacamara commented on #3944
Hi @chadyj  I have posted an implementation of the changes at https://github.com/status-im/status-react/pull/4098  :beer: :hamburger:

(Haven't got access to the Zepplin project so some of the numbers on margins etc might need tweaking).

[2018-05-03 16:04] chadyj commented on #3944
Fantastic @pacamara! Thank you for your contribution!
Can you attach some screenshots to the PR and @denis-sharypin can review, and perhaps see about Zeplin access too.

[2018-05-03 16:08] pacamara commented on #3944
Cheers @chadyj , you're welcome! Will attach those now.

[2018-05-03 16:09] chadyj commented on #3944
Also you got 2 birds with one stone!
Grab https://github.com/status-im/status-react/issues/3539 too as you covered it here.

[2018-05-03 16:22] denis-sharypin commented on #3944
@pacamara hey, thanks for a contribution. Can you provide your emaik address pleas and I will send you an invite to Zeplin

[2018-05-03 16:28] pacamara commented on #3944
@chadyj Wow total bargain, thanks mate!

@denis-sharypin I already tried registering on Zepplin under the same username as here (pacamara), are you able to add that account please?

[2018-05-03 16:31] denis-sharypin commented on #3944
@pacamara nope, it doesn’t work. Need your email

[2018-05-03 16:49] pacamara commented on #3944
@denis-sharypin My email's pacamara.code@gmail.com

[2018-05-03 17:25] denis-sharypin commented on #3944
@pacamara sent!

[2018-05-03 17:42] pacamara commented on #3944
@denis-sharypin Got it, thanks! :beers:

[2018-05-03 19:01] chadyj opened #4099 "Localize currency according to selected currency"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see currency in the selected format so that it looks correct and readable.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

*Summary*: Users can now set their desired currency in https://github.com/status-im/status-react/issues/4008 but Status doesn't sho

[2018-05-03 19:06] pacamara commented on #3944
@denis-sharypin Could you resend the invite please? I followed it and there's no error, but once I'm logged in Status doesn't show in my list of projects, and there's no obvious option to search for it.

[2018-05-03 19:21] denis-sharypin commented on #3944
@pacamara done!

[2018-05-03 19:38] go1t commented on #3616
@flexsurfer @denis-sharypin @jeluard There are four ways we can go about here:
1. Add `selectable` prop only. This gives no highlight in any state.
2. Add `selectable` prop along with a no-op `on-press` or `on-long-press`. This will give the highlight during the press, but the highlight will go away when the touch is released.
3. The way I'm doing right now, which would give the highlight behavior

[2018-05-03 19:58] #3793 closed, assigned to cammellos

[2018-05-03 20:00] chadyj commented on #3443
I'm going to close this. We didn't get it in the app, but we did get a nice html directory :)
Thanks y'all!

[2018-05-03 20:00] #3443 closed, assigned to goranjovic, jacqueswww

[2018-05-03 20:41] #3853 closed, assigned to yenda

[2018-05-03 20:42] #3877 closed, assigned to goranjovic

[2018-05-03 21:24] pacamara commented on #3944
@denis-sharypin  Worked that time, thanks!  :beers:

[2018-05-03 22:09] ghikio commented on #4043
Seems like this bug has been introduced last month, I have a build from April 7 where the screen works fine. I'll give it a try to see if I can find what's the problem :smiley:

[2018-05-04 05:01] debragail commented on #3901
I think they should be modeled as a bot that only prints system messages.

[2018-05-04 05:08] debragail commented on #3884
Is this still a bounty?

[2018-05-04 06:07] jeluard commented on #3616
@go1t With option 2, can end users still copy the address content?

[2018-05-04 06:16] go1t commented on #3616
Yes. It’s just going to be a little confusing since the highlight would show up briefly then go away when the tooltip is there.

But yeah the behavior of option 1 and 2 is an issue on react-native side that has been there for quite a while :/

[2018-05-04 06:19] jeluard commented on #3616
Can we disable the tooltip? Essentially we need a simple way to copy the address.
@denis-sharypin WDYT?

[2018-05-04 06:21] jeluard commented on #3884
@debragail It is not as we are disabling external bot feature. Sorry for the confusion.

If you are interested with this you can take a look at this bounty https://github.com/status-im/status-react/issues/3813

[2018-05-04 06:21] #3884 closed, assigned to cammellos

[2018-05-04 06:23] go1t commented on #3616
We definitely can. You can see our discussion in the comments above as well.

[2018-05-04 07:57] chadyj opened #4102 "Submit Annual Self Classification Report to BIS"
### User Story

As a company, I want to file with BIS so that the iOS App store encryption requirements are satisfied.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Chore

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Apple [requires](https

[2018-05-04 08:35] denis-sharypin commented on #3616
@jeluard I personally don't want to introduce a new pattern right now (tap on something — get visual confirmation that it's copied with transition animations)
Initially, this task was proposed as a quick fix using native platform instruments.
We will def propose some design updates later when we have resources.

[2018-05-04 08:41] Serhy opened #4103 "Error calling RCTEventEmitter.receiveEvent when tap on emoji from predictive text panel"
***Type***: Bug

***Summary***: `java.lang.RuntimeException: Error calling RCTEventEmitter.receiveEvent` error followed by the app crash appear when contact taps the emoji from auto-correction suggestions. Note - it should be a single emoji in auto-correction, it's all OK for text+emoji

#### Expected behavior
No errors when contact taps the emoji from auto-correction suggestions. Emoji appears in

[2018-05-04 08:47] jeluard commented on #3616
@go1t Sorry I guess we will go with your option 4. then, if you can make it look like initial screenshots.

[2018-05-04 09:01] go1t commented on #3616
got it!

[2018-05-04 11:01] asemiankevich opened #4105 "Error null is not an object (evaluating 'a.cljs$core$IFn$_invoke$arity$1') when multitapping Sign In"
### Description

*Type*: Bug

*Summary*: `null is not an object (evaluating 'a.cljs$core$IFn$_invoke$arity$1')` when i tap `Sign in` several times (6 in my case) while recovering account

#### Expected behavior
no errors

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/39624883-a3929fe8-4fa3-11e8-820b-eeb25c06d0da.png)

### Reproduction

- Open Status
- Enter pass

[2018-05-04 11:39] jeluard opened #4106 "Generate realm serializers at macro expansion time"
### User Story

As a developer, I want write access to realm to be efficient.
### Description

*Type*: Feature

Clojure objects are being stored in realm as JS objects transformed via `clj->js`.

As we have access at compilation time to schemas describing the shape of data stored in realm, this can be optimized.
Create a macro that will generate optimized `realm` serializer per type. Those will th

[2018-05-04 11:40] dmitryn commented on #4072
`js/perfomance` is referenced by re-frame. We have re-frame 0.10.5 dependency in status-react while re-frisk-remote has re-frame 0.10.1 in deps.

For some reason `clj -R:repl build.clj figwheel android` compiles code with re-frame 0.10.1 https://github.com/Day8/re-frame/blob/v0.10.1/src/re_frame/interop.cljs#L41 and
`lein figwheel-repl android` compiles code with re-frame 0.10.5 (where they added

[2018-05-04 11:50] Coffee-Boyy commented on #4080
@oskarth Okay so I got past that issue and it was because I was calling that handler with an unsigned-transaction instead of a send-transaction. I am however running into another wall with obtaining the transaction hash upon sending. web3 offers a callback which contains the hash but there is nothing handling that in the code currently. And the other time the hash is obtained is in the `sign-reque

[2018-05-04 11:52] dmitryn opened #4107 "Reformat project code according to community style guide"
### Description

Often new PR contains formatting changes (code indent) which are not related to the new functionality, but have to be committed because the editor auto formats the code. This heavily distracts reviewers and takes more time to review the actual changes in PR.

### Solution

Reformat code according to https://github.com/bbatsov/clojure-style-guide
Use Cursive/Emacs "Reformat code" t

[2018-05-04 11:57] jeluard commented on #4107
@dmitryn We should consider how to enforce this automatically with a GH bot.

[2018-05-04 11:58] dmitryn commented on #4107
@jeluard yes. Once we have all the code correctly formatted, we can enable automatic code quality check for each PR.

[2018-05-04 12:04] asemiankevich opened #4108 "Allow user to remove custom avatar"
### Description

*Type*: Bug

*Summary*: As a user i want to be able to remove my custom avatar (photo) and restore it to default.

#### Expected behavior
User is able to revert avatar to default one that was created with the account. @denis-sharypin is it possible to add some design?

#### Actual behavior
Once avatar is changed to picture or photo user is not able to restore the default value

##

[2018-05-04 12:31] chadyj commented on #4102
Done.
Emailed crypt-supp8@bis.doc.gov and enc@nsa.gov a CSV with application details.
This needs to be done annually.

[2018-05-04 12:31] #4102 closed, assigned to chadyj

[2018-05-04 12:36] chadyj opened #4109 "Submit encryption control application to France's ANSSI"
### User Story

As a company, I want to file with France's ANSSI so that the iOS App store encryption requirements are satisfied so Status can be released in France.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Chore

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Se

[2018-05-04 14:28] asemiankevich opened #4110 "Improve chat autoscroll function"
### User Story

As a user i want to have better experience with chats.

### Description

*Type*: Bug

*Summary*: When i am in the middle of any chat (1x1, group or public) like i am reading history for example and new message arrives to this particular chat - there is an autoscroll function that scrolls the chat for 1 message down (if 1 new was received). I find this confusing to me comparing to o

[2018-05-04 19:23] #3847 closed, assigned to nobody

[2018-05-04 19:25] #4009 closed, assigned to nobody

[2018-05-04 20:45] debragail commented on #3913
ping @yenda

[2018-05-04 20:48] debragail commented on #3994
is there a design for this?

[2018-05-05 09:18] amitmaurya opened #4115 "browsing https://app.wandx.co shows blank page"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to <task> so that <goal>.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summ

[2018-05-06 15:23] annadanchenko opened #4118 "Can't use app after install because of error Invalid array length argument on iOS 10.3.3"
### Description

*Type*: Bug

*Summary*: After app is launched there is popup `Invalid array length argument  shown. if close the popup then white screen is shown. If re-launch app then same error is shown again, so user can't use app.
[code]
#### Expected behavior
Can launch app after install and create new account

#### Actual behavior
After app is launched there is popup `Invalid array length a

[2018-05-06 16:21] annadanchenko commented on #4105
can't reproduce on nightly from May 6, build 366. Tried 2 ways:
1. install app, recover account when no other accounts are available yet
2. recover account when 1 account is already present and was used.

[2018-05-06 16:43] annadanchenko opened #4119 "Can't switch to other mailserver, error Unable to open a realm at path '/data/data/im.status.ethereum/files/new-account':"
### Description
Android only: If try to switch to mailserver B in Offline messages settings then error popup ` Unable to open a realm at path '/data/data/im.status.ethereum/files/new-account': Not a Realm file.` is shown after confirmation.

on iOS after user confirms switching, Sign in to Status screen is shown

[code]

 If close the popup then mailserver B is shown as active. If send text messag

[2018-05-06 22:14] yenda commented on #3913
I updated the issue according to recent changes

[2018-05-07 08:01] rachelhamlin commented on #3901
@debragail @yenda changing the model adds time/complexity that I don't think is worth introducing at this point. With regard to presentation, we can test ```system message``` with users once the update is released.

[2018-05-07 08:54] asemiankevich opened #4122 "Make current user grayed-out from /send and /request suggestions in group chats"
### User Story

As a user in a group chat i won't request or send any funds to myself as this makes no sense.

### Description

*Type*: Bug

*Summary*: in a group chat when calling `/send `or `/request` message make current user graded out and not tappable

#### Expected behavior
Being in a group chat i should not be able to select myself from suggestions when calling `send` or `request` commands

[2018-05-07 09:11] asemiankevich opened #4123 "Insufficient funds error shown when sending ATT tokens with positive balance"
### Description

*Type*: Bug

*Summary*: Can't send `ATT` tokens from wallet to recent recipient having 100 tokens on my balance

#### Expected behavior
I can send `ATT` tokens from wallet when my token balance is greater than zero and i have enough ETH to pay the gas

#### Actual behavior
`Insufficient funds` error shown when sending ATT tokens from the wallet

![image](https://user-images.github

[2018-05-07 09:20] rasom commented on #3948
So we just need to upgrade status-go in status-react in order to check this?

[2018-05-07 09:24] asemiankevich commented on #4105
I can repro it in nightly 367 : this bug is reproducible when i multitap `sign in` while i am actually being signed in after i entered passphrase and password. however error is different

![image](https://user-images.githubusercontent.com/28752642/39695010-d47e4bac-51f1-11e8-88d5-28befad34aa9.png)

![image](https://user-images.githubusercontent.com/28752642/39695072-0447acd4-51f2-11e8-8041-b65387e

[2018-05-07 09:39] asemiankevich opened #4126 "Error Missing value for property 'account.address' when i recover account on 2 devices (android)"
### Description

*Type*: Bug

*Summary*: `Missing value for property 'account.address'` with the details
`05:02 I/ReactNativeJS: NAME: "Error"
05:02 I/ReactNativeJS: MESSAGE: Missing value for property 'account.address'
05:02 I/ReactNativeJS:
05:02 I/ReactNativeJS: create@[native code]
05:02 I/ReactNativeJS: cljs$core$IFn$_invoke$arity$4@index.android.bundle:12:5325878
05:02 I/ReactNativeJS: index

[2018-05-07 09:58] asemiankevich opened #4127 "Sign In button is shown when recovering account (android)"
### Description

*Type*: Bug

*Summary*: When  i recover my account on android, after i enetered passphrase and password and tapped `Sign In` - this `Sign In` button is shown for several seconds (not less then 3) so I am able to multitap it and this produces bugs https://github.com/status-im/status-react/issues/4105 and https://github.com/status-im/status-react/issues/4126

#### Expected behavior

[2018-05-07 10:55] chadyj opened #4128 "Upgrade Instabug to 2.12.0"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer and tester, I want to see [crash reports](https://instabug.com/crash-reporting) so that I can debug crashes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

*Summary*: Instabug v2.12.0 now has [crash reporting](https://instabug.com/crash-reporting) which can b

[2018-05-07 11:15] pacamara commented on #3456
@jeluard @andytudhope Hi! I've started on a solution for this: https://github.com/status-im/status-react/pull/4129 . Normally like to have a more or less fully tested solution before creating a PR but obviously by nature of this task, need the PR and jenkins to test and develop it!

I think it needs at least one reviewer's approval to unlock the jenkins build? If so, could you please do that? (i.e

[2018-05-07 13:04] asemiankevich commented on #3958
works fine with Simple Dapp - can sign 2 txns in a row without any issues.

[2018-05-07 13:07] asemiankevich commented on #3958
@annadanchenko i am waiting for some snt/eth on mainnet to test it, if you have some - would you mind to take a look?

[2018-05-07 14:31] denis-sharypin opened #4136 "Update Request transaction message on the recipient side"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have a more clear action to respond to incoming requests.

### Description

*Type*: Improvement

#### Expected behavior

I would like to use a more obvious button to interact with.

<img width="464" alt="screenshot 2018-05-07 16 18 53" src="https://user-images.githubusercontent.com/6559881

[2018-05-07 14:45] status-open-bounty commented on #4136
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xdc0ad003f73299d1c5828d5f8a948b205be2d73d1ab19163d8624907df7b0655](https://etherscan.io/tx/0xdc0ad003f73299d1c5828d5f8a948b205be2d73d1ab19163d8624907df7b0655)

[2018-05-07 14:58] status-open-bounty commented on #4128
Balance: 0.000000 ETH
Tokens: SNT: 340.00
Contract address: [0xd5a3ea2ddb15e0a24b7b97f5437edca72f4a974b](https://etherscan.io/address/0xd5a3ea2ddb15e0a24b7b97f5437edca72f4a974b)
Network: Mainnet
Paid to: debragail
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-07 16:52] cammellos opened #4139 "Messages marked as sent but not delivered"
### Description

Messages are marked as sent but none of the peers nor the mailserver receives them.
Basically I was posting in a public chat and seeing my own posts but no one was receiving them.

#### Expected behavior

A message marked as sent is actually sent.

#### Actual behavior

Messages are marked as sent but never delivered to peers.

### Steps to replicate

Unfortunately I can't replica

[2018-05-07 16:54] status-open-bounty commented on #4099
Balance: 0.000000 ETH
Tokens: SNT: 680.00
Contract address: [0xc17f277483d7e84f896b7732bc3aff673ab7a624](https://etherscan.io/address/0xc17f277483d7e84f896b7732bc3aff673ab7a624)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-07 17:56] #3958 closed, assigned to flexsurfer

[2018-05-07 19:02] status-open-bounty commented on #4106
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x273c594f0b3cb79df5678b33bfaca468563ef8c766beff8482aeed58f75e3184](https://etherscan.io/tx/0x273c594f0b3cb79df5678b33bfaca468563ef8c766beff8482aeed58f75e3184)

[2018-05-07 19:08] status-open-bounty commented on #2848
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x6743059eee238e9fa1836235e823aa2bd5bbf979177bc8ac33db6044ef3bd7e9](https://etherscan.io/tx/0x6743059eee238e9fa1836235e823aa2bd5bbf979177bc8ac33db6044ef3bd7e9)

[2018-05-07 19:09] status-open-bounty commented on #4075
Balance: 0.000000 ETH
Tokens: SNT: 340.00
Contract address: [0xed72214b751245a6cf506dc53684e2230273e1c6](https://etherscan.io/address/0xed72214b751245a6cf506dc53684e2230273e1c6)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-07 20:24] flexsurfer commented on #4087
@denis-sharypin why xl? The scope of this issue is to code the UI only.

[2018-05-07 22:58] debragail commented on #4128
https://github.com/status-im/status-react/pull/4140

[2018-05-08 03:30] Roger--Han commented on #2681
we fix this issue by adding inline js autocapitalize="off" to the input field, `<input type="number" autocapitalize="off">`, if this still cannot help you have to set the type to "tel" and only allow user to type 1234567890 and .

[2018-05-08 06:56] chadyj opened #4145 "Airswap Dapp can't be used in Status"
### User Story

As a user, I want to use Airswap so that I can trade tokens.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: [Airswap](https://www.airswap.io/trade) is a decentralized token marketplace with SNT featured as one of its 24 tokens, but it doesn't work within Status. Fixing this would be useful for Status users to buy/sell SNT and other tokens.

#

[2018-05-08 06:57] flexsurfer commented on #3824
![image](https://user-images.githubusercontent.com/11790366/39742453-3009fc82-52a6-11e8-9bb7-0e89f64d4e3f.png)

[2018-05-08 06:58] flexsurfer commented on #4115
dapp is trying to call `eth_coinbase` sync, but we dont' support sync calls

[2018-05-08 07:00] flexsurfer commented on #3805
can't reproduce on ios

[2018-05-08 07:01] flexsurfer commented on #3824
looks like dapp bug

[2018-05-08 07:11] flexsurfer commented on #4145
yeah weird behaviour , i can see metamask logo, and sometimes i can see the screen after sign in, for couple of seconds, but nothing special, no errors or something, but page is not refreshed for me, i just see sign in button again, some internal logic of dapp

[2018-05-08 07:31] rachelhamlin commented on #4115
Same thing in iOS.

[2018-05-08 07:33] flexsurfer commented on #4115
will be fixed here https://github.com/status-im/status-react/issues/3823

[2018-05-08 07:34] denis-sharypin commented on #4087
@flexsurfer okay, I thought there too many screens for  `m` bounty

[2018-05-08 08:45] rachelhamlin commented on #4082
@Serhy @asemiankevich is it expected that the user's display name should show when they are added as a new contact?

I have created a user with display name "Rachel."

When I add this user as a contact from any other account, the contact appears as "Portly Cute Malamute"—but has the same user pic.

[2018-05-08 08:53] chadyj opened #4149 "Issue signing Dapp Messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to sign messages so that I can use Dapps.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summ

[2018-05-08 11:23] #2998 closed, assigned to nobody

[2018-05-08 12:27] pedropombeiro commented on #3467
One way to fix this is with https://github.com/status-im/status-react/issues/3451 from the `#086-push-notif-v2` swarm. They are not mutually exclusive though.

[2018-05-08 12:40] Serhy commented on #4082
@rachelhamlin could you clarify please this part: `- but has the same user pic`. You mean this contact has **default** userpic or the one which was **set by you**?

For this moment the logic of revealing contact names and userpics is next:
1) You and me have a contact with the non-default username and userpic.
2) You want to chat me and send a request following by text message. However until I "sh

[2018-05-08 13:37] antdanchenko opened #4154 "Navigation buttons (Home/Wallet/Profile) are active and can be clicked when a user captures photo on Profile > Edit"
### Description

*Type*: Bug

*Summary*:
If a user taps on an bottom area of the screen when `Capture photo` is active (even on capture photo button), the user will be redirected to Home or Wallet screen.
Please note, It takes 5-8 seconds for a photo to be captured on `Profile > Edit`. Instead of 1-2 seconds in the latest nightly build

#### Expected behavior
No redirection to Home or Wallet scree

[2018-05-08 13:57] antdanchenko opened #4155 "Short commit `32dc3adc` is shown instead of 0.9.18 version"
*Type*: Bug

*Summary*:
Short commit id is shown instead of 0.9.18 version

#### Expected behavior
0.9.18 version is shown on Profile screen

#### Actual behavior
'32dc3adc' version  is shown on Profile screen

![image_uploaded_from_ios](https://user-images.githubusercontent.com/12611990/39761461-d676f0b8-52e0-11e8-8465-57a1c889eeed.png)

### Reproduction
Open Status, create new user
Go to profile

[2018-05-08 15:08] #3937 closed, assigned to yevh-berdnyk

[2018-05-08 17:38] yevh-berdnyk commented on #3893
Reproducible also for deleting a chat and after re-login

[2018-05-08 18:18] chadyj commented on #4062
I like this alternative:

1. Be on Ropsten
2. Advanced settings -> Development mode
3. Go Home, New, Open Dapp, then open `Simple Dapp`
4. Tap `Assets`, then request STT, or another test token.

<img width="221" alt="screen shot 2018-05-08 at 8 18 02 pm" src="https://user-images.githubusercontent.com/116099/39775033-ee517282-52fc-11e8-9112-162e59f4882e.png">

[2018-05-08 18:27] yevh-berdnyk opened #4158 "New messages counter is shown for already seen messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I don't want to see new messages counter when all messages are already seen

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happ

[2018-05-08 18:37] chadyj commented on #3527
We will add the option to delete history covered https://github.com/status-im/status-react/issues/3988

[2018-05-08 18:37] #3527 closed, assigned to nobody

[2018-05-08 18:38] chadyj commented on #3988
@adambabik Can i edit this just to have the `clear chat` feature?
Export can be done separately.

[2018-05-08 22:00] pacamara commented on #4
apk uploaded to diawi

[2018-05-08 23:32] pacamara commented on #3456
Status of https://github.com/status-im/status-react/pull/4129 is now "ready" :)

[2018-05-09 04:07] Coffee-Boyy commented on #3994
@debragail @oskarth @chadyj @denis-sharypin
How does an added option to the network settings look? Possibly bringing up a modal for user input when selected: (I also think the networks should be categorized)

![image](https://user-images.githubusercontent.com/1206980/39795238-e4eb2f98-53a2-11e8-9e8d-9a63557cc97d.png)

[2018-05-09 04:33] #4072 closed, assigned to nobody

[2018-05-09 05:30] debragail commented on #2848
![58295dd2-3d20-417e-a97a-d64b9cb45f01](https://user-images.githubusercontent.com/552529/39797159-75b82ba0-530f-11e8-96a2-94fe52347857.jpeg)

[2018-05-09 05:31] debragail commented on #2848
Is this the only place that needs to reflect the estimate as the currency being sent?  This is iOS screenshot but also for Android the page is the same in simulator.

[2018-05-09 06:25] jeluard commented on #3456
@pacamara Great job! I'm wondering if there is no better approach than using the API directly (we don't want to have a public GH token in the repo).

@PombeirP Can you comment on that?

[2018-05-09 06:52] psdp commented on #3398
I have some work in progress. Please expect a PR soon :)

[2018-05-09 07:18] pacamara commented on #3456
@jeluard Thanks! :beers:  We don't need the GH token in the repo, it's only using the existing GIT_HUB_TOKEN Jenkins credential. I.e. the token only is stored in Jenkins not github, and also does not get logged. Will add a note to the PR documenting which jenkins variables are used. (done)

[2018-05-09 07:25] jeluard commented on #3456
Oh right so comments would show up as Jenkins comments?

[2018-05-09 07:27] dmitryn commented on #3398
@psdp great news, this might be helpful:
*So what did re-natal add over the react-native template?*
https://gist.github.com/olivergeorge/d233fede8b3262e05c16b06ae5158861
or
https://confluence.condense.com.au/pages/viewpage.action?pageId=28082699

Actually, i see you as a member of #cljsrn channel on clojurians slack, so you're probably aware of that

<blockquote><img src="https://avatars2.githubus

[2018-05-09 07:34] pacamara commented on #3456
Comments show up as as github comments :) The GIT_HUB_TOKEN credential enables the code in Jenkinsfile running on the jenkins server to post comments to github. You can see examples at the bottom of https://github.com/pacamara/status-react/pull/4 which is the PR I used to test this against.

Screenie attached! Notes:
* the URLs in the examples are either fake or null, as in my tests it wasn't real

[2018-05-09 07:35] jeluard commented on #3456
Right, looks great!
Surely after we merge the PR it won't be your username sharing those comments?

[2018-05-09 07:40] pacamara commented on #3456
Cheers!  :D
Right, I've hardcoded the username to "status-im", however per the note I just added to the PR, this could be factored out to a credential called GIT_HUB_USER if you prefer?

The tests in https://github.com/pacamara/status-react/pull/4 were run via that branch's Jenkinsfile, there I hardcoded the username to pacamara. If you look at https://github.com/pacamara/status-react/blob/develop

[2018-05-09 07:41] adambabik commented on #3994
I like the categories! It looks nice.

One thing I would change is `Testnet` category. `testnet` term is interchangeable with `Ropsten` (from `geth -h` output):
[code]

To avoid confusion, maybe we can call this category `Public test networks` or something similar that is descriptive and avoids using a single term `testnet`.

What's gonna happen when the user taps on `Custom upstream RPC`? I belie

[2018-05-09 07:44] adambabik commented on #3988
@chadyj of course! That totally makes sense to split these two concerns.

[2018-05-09 07:50] goranjovic commented on #4040
I'd like to break this down into smaller, more specific tasks. Then we can put some of them in Beta scope and leave others out

[2018-05-09 07:51] Coffee-Boyy commented on #3994
Instead of the mockup that only includes the ability to add one custom network, maybe there could be a plus button in the top right to add a custom network and those would show under the custom section?

As a side note, at first glance when switching to a testnet, I found the two different (local and upstream) options for each network confusing. Would it be intuitive if they were merged into one o

[2018-05-09 07:54] chadyj commented on #4040
👍
Shall we start with the design exploration that Denis is kicking off and then review screens as a team and break up into small issues?

[2018-05-09 07:56] psdp commented on #3398
@dmitryn thanks! It's useful. I'm not aware not of that.

[2018-05-09 07:59] goranjovic commented on #4040
Sounds much Beta

[2018-05-09 08:01] adambabik commented on #3994
That sounds good! Then the flow would be (1) tap `+` to display the modal to enter a custom network address, (2) after tapping OK the modal disappears, (3) the new custom network is displayed in the list. I guess we would also need to provide a way to delete custom networks and maybe edit option.

[2018-05-09 08:20] Coffee-Boyy commented on #3994
The deletion could be the infamous swipe row to show delete button. It isn't the most intuitive but it will most likely be devs or power users adding and removing custom upstreams so I am sure they'd be able to figure it out since many other apps use the swipe to delete functionality

[2018-05-09 08:32] #3616 closed, assigned to nobody

[2018-05-09 08:34] #4010 closed, assigned to nobody

[2018-05-09 08:36] #3976 closed, assigned to goranjovic

[2018-05-09 08:46] #4043 closed, assigned to nobody

[2018-05-09 09:17] denis-sharypin opened #4162 "Updates on signing phrase and password popups"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to be confused by messing up a password and signing phrase.

### Description

*Type*: Improvement

Current problems with the signing phrase popup are:

1. Confusing UI. This came up from UXR sessions: users tried to type signing phrase into the password field.
2. Tied to a specific layo

[2018-05-09 09:36] lukaszfryc opened #4163 "Broken layout after app was closed using back button and opened again"
### Description

*Type*: Bug

*Summary*: In some cases, when app is closed by pressing back button and then opened again, the layout is broken. Also, when I click on the screen Android App Info (Android Settings) app is opened. The only way to get out of it is to kill the app and open it again.

<img src="https://user-images.githubusercontent.com/7532782/39807017-9571b51c-537b-11e8-9154-9e9037d398

[2018-05-09 09:57] #4038 closed, assigned to nobody

[2018-05-09 09:59] #3852 closed, assigned to nobody

[2018-05-09 10:04] rasom commented on #3603
@asemiankevich i can't reproduce this bug on real device using nightly, can you confirm that it still exists?

[2018-05-09 10:19] asemiankevich commented on #3603
@rasom just did that. Performed steps described + tapped Home

[2018-05-09 10:22] rasom commented on #3603
What device are you using?

[2018-05-09 10:25] asemiankevich commented on #3603
@rasom Huawei P10 Lite, Android 7.0

[2018-05-09 10:58] rachelhamlin commented on #3824
Is there some connection to web3 issues? I'm able to load Blockchain Cuties in other browsers.

[2018-05-09 11:04] lukaszfryc opened #4166 "DApp name is not displayed correctly in chat list"
### Description

*Type*: Bug

*Summary*: On iOS, a DApp name is not displayed in chat list when the DApp content has not been fully loaded. On Android, a DApp url is displayed instead of the name.

#### Expected behavior
Both Android and iOS should show DApp name in chat list. DApp url should be displayed below it.

#### Actual behavior
Android: DApp name is not displayed:

<img src="https://user-

[2018-05-09 11:21] #3689 closed, assigned to nobody

[2018-05-09 11:22] #4008 closed, assigned to nobody

[2018-05-09 11:26] Serhy opened #4167 "Forward browsing button stay disabled after navigation to previous page in app browser [Android]"
***Type***: Bug

***Summary***: If often happens in the app browser for Dapps/websites when contact navigates to the previous page via 'Back' browsing button the 'Forward' browser button stays inactive. On the same site/Dapp it may work the first time but fail to work on next try following the same steps.
It's OK for iOS but on Android it's often occurs

#### Expected behavior
`Forward` button in

[2018-05-09 11:28] #3738 closed, assigned to dmitryn

[2018-05-09 11:32] rachelhamlin commented on #3805
I can't reproduce this either, using https://i.diawi.com/DUNFmn on iOS.

<blockquote><div><strong><a href="https://i.diawi.com/DUNFmn">Install - Diawi - Development and In-house Apps Wireless Installation</a></strong></div></blockquote>

[2018-05-09 11:33] #3611 closed, assigned to lukaszfryc

[2018-05-09 12:14] yevh-berdnyk commented on #3805
It's still reproducible for me on the recent nightly (3af05bcb), please see the video: https://app.testfairy.com/projects/4803590-status/builds/8260990/sessions/11 (from 00:35)
Looks like it's because of some clicks inside the DApp webview, I'll update steps

[2018-05-09 12:29] #3467 closed, assigned to dmitryn

[2018-05-09 12:43] #4155 closed, assigned to janherich

[2018-05-09 12:43] rachelhamlin commented on #3131
Same issue when I try to register for Etherbots. Keyboard opens and a box covers the text input:
<br>
<img src="https://user-images.githubusercontent.com/15470435/39815063-2dde6b2c-5397-11e8-863d-5f68f6da6027.jpg" width="300"/>

[2018-05-09 12:49] asemiankevich commented on #4149
@chadyj cant repro it with my iPhone7

[2018-05-09 12:52] asemiankevich commented on #4145
same behavior to me as @flexsurfer described, iPhone 7

[2018-05-09 13:34] #3823 closed, assigned to flexsurfer

[2018-05-09 13:44] Serhy commented on #4149
Apparently, it's the same what happened in https://github.com/status-im/status-react/issues/3342

[2018-05-09 14:19] lukaszfryc commented on #3397
@Serhy what device you used to test it? For me there is no significant difference between first and 100th message. But, I use relatively fast devices - iPhone 8, Galaxy S8.

[2018-05-09 14:21] lukaszfryc commented on #2984
Still valid

[2018-05-09 14:27] lukaszfryc commented on #3497
Currently, there is no option to remove a contact https://github.com/status-im/status-react/issues/3585 So, even when a chat is deleted, a new message will trigger a notification. This issue should be discussed again when #3585 is fixed.

[2018-05-09 14:27] #3497 closed, assigned to pedropombeiro

[2018-05-09 14:30] lukaszfryc commented on #3336
The issue is still there but it's not critical

[2018-05-09 14:41] flexsurfer commented on #1200
there is `shouldOverrideUrlLoading` for Android

[2018-05-09 14:47] lukaszfryc commented on #3918
I think we need to fix this before beta. @denis-sharypin @asemiankevich what about adding a placeholder "Your contact list is empty." as the first iteration?

Btw, I find the "scan QR code" button very nonintuitive. It's one of the most important buttons in the app but still, in my mind, it's small and hard to understand. @denis-sharypin @chadyj @hesterbruikman don't you think users may not unders

[2018-05-09 14:50] lukaszfryc commented on #3929
This is very true.

At this moment there is placeholder saying "There are no messages in this chat yet". Maybe we should change it to "There are no new messages in this chat yet." or "New #status messages will appear in this chat.". @chadyj ?

[2018-05-09 14:51] lukaszfryc commented on #3929
Closing as duplicate of #3930. Let's continue discussion there.

[2018-05-09 14:51] #3929 closed, assigned to nobody

[2018-05-09 14:55] chadyj commented on #3930
cc @andmironov @hesterbruikman. Thoughts?

[2018-05-09 15:03] Serhy commented on #3397
Samsung Galaxy Note 4 and Samsung J7 has similar behavior for me in this relation: almost instant message appearance when I send a message in empty chat and ~3 seconds lag if I have 100-150 messages in the chat.

[2018-05-09 15:04] chadyj opened #4171 "Deal with chat users on different networks sending assets"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be warned if I'm trying to send assets to a user in chat so that I don't lose assets and get confused.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expe

[2018-05-09 15:12] mandrigin commented on #3397
@lukaszfryc there are the same lags if you receive messages too, you just don't see them that obviously. @janherich found the main reason, now we just need to fix it 😄

[2018-05-09 15:42] lukaszfryc opened #4173 "Disable testnets in Status Beta"
### Description

*Type*: Feature

*Summary*: Status Beta should only work in Mainnet network. So, for release builds with development mode turned off the network settings screen should only contain mainnet. Debug (nightly) builds and release builds with dev mode on should still have testnets.

#### Expected behavior
Status Beta relase in development mode = off build should only have mainnet networ