[2019-07-04 07:10] #8452 closed, assigned to nobody

[2019-07-04 07:30] asemiankevich commented on #8506
it is shown when i want to enter password when sign transaction @flexsurfer , so on android it looks like that:
![image](https://user-images.githubusercontent.com/28752642/60647530-9c60ce00-9e46-11e9-9375-414b9f3b0eda.png)

and iOS looks like this:
![image](https://user-images.githubusercontent.com/28752642/60647565-af739e00-9e46-11e9-8334-9b13954af376.png)

[2019-07-04 08:22] hesterbruikman commented on #8506
Verifying, I have this issue as well on Android, Galaxy S10e, yesterday's nightly.

[2019-07-04 08:52] adambabik commented on #5099
This is actually not a current behaviour, it's worse. I can only see a QR code and can't get back. I can't copy my address at all as it's not displayed.

[2019-07-04 09:13] #8507 closed, assigned to nobody

[2019-07-05 06:47] tbenr commented on #8071
@hesterbruikman @flexsurfer do we want the icon\username to be inside the toolbar? in figma seems to be inside (i can see the lightgrey separator there).

@flexsurfer is toolbar planned to be replaced with something else? https://github.com/status-im/status-react/blob/de0d98da20baf9e6ece6fc3f562e6db181c50375/src/status_im/ui/components/toolbar/view.cljs#L114-L116

[2019-07-05 07:35] flexsurfer commented on #8071
hey @tbenr, no, icon\username should be outside toolbar, we are not planning to replace toolbar in near future, so you can just use a view with 1px height for the line

[2019-07-05 07:37] flexsurfer commented on #8071
btw @hesterbruikman  in profile details do we want to show user's wallet address ? @tbenr currently i think there should be only the name

[2019-07-05 08:17] hesterbruikman commented on #8071
Checked the UX review notes.
- Wallet address of user B should be visible to user A if user B has added user A as a (trusted) contact.
- Send transaction to user B should be visible to user A if user B has added user A as a (trusted) contact.

So yes, the designs still include Wallet address. Reason being that Send transaction exposes the address anyway and I'd rather have this be transparent by a

[2019-07-05 10:03] flexsurfer commented on #8456
already implemented

[2019-07-05 10:03] #8456 closed, assigned to nobody

[2019-07-05 10:03] #8168 closed, assigned to nobody

[2019-07-05 11:02] errorists commented on #8071
hey, let's stop there for a minute.

that's not true :) it's just a different type of toolbar. We have the regular height one, and the larger one which the profiles use. The larger one needs implementing. So @tbenr was correct, the icons and username are inside the larger toolbar. [Here are the reference designs for both](https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=794%3A0)

[2019-07-05 12:01] flexsurfer commented on #8071
@errorists yeah but it's not in the scope of this PR for sure

[2019-07-05 12:05] errorists commented on #8071
@flexsurfer sure but it's not exactly crossed out on the first mockup and it was asked :) I'm just making sure profiles are not shipped with the incorrect design.

[2019-07-05 12:08] speedyFixer commented on #8047
@gitcoinbot yes, It almost done, I'm waiting for testing the last things and make the PR this weekend.

[2019-07-05 16:20] asemiankevich opened #8530 "Asset selector is tappable when being on Recipient screen (iOS)"
# Problem

Can tap asset selector and be redirected to it when being on another screen.

## Steps:

1. open status
2. open wallet
3. tap Send
4. tap Specify recipient -> from contacts
5. tap the area where Asset selector should be

Please check the video attached

https://drive.google.com/open?id=1q5DImRpSBqI-q6vYUbh41QW9Jj0jNAwR

devices: iPhone 7 iOS 13, iPhone XR iOS 12.3.1

[2019-07-06 12:39] speedyFixer commented on #7015
@gitcoinbot yes, currently working on it.

[2019-07-07 09:42] bitsikka commented on #6375
I am making progress on this in the sense that I now have a clearer idea about approaching different aspects of the solution to this issue. Since it is no use writing code without having more-or-less a clear plan, so far I have not written a whole bunch of code, except experiments, disabling old behaviors, and visible ui part of the code.

still rough ideas I have had (this is like the answer to t

[2019-07-08 00:30] pacamara commented on #8136
Have [updated](https://github.com/status-im/status-react/pull/8519/commits/984017bf3adbe59cbce5020da88d03336af89507) the WIP PR #8519 :+1:

[2019-07-08 07:37] nik2323 opened #8531 "desktop версия для Windows при открытии приложения показывает следующее: нам не удалось расшифровать Ваши данные, возможно Вам понадобится создать новую учетную"
# Problem
desktop версия для Windows при открытии приложения показывает следующее: нам не удалось расшифровать Ваши данные, возможно Вам понадобится создать новую учетную запись и стереть старые данные, нажав "применить", или нажмите "отмена" чтобы повторить попытку.
Дальше этот сайт (гитхаб) искажает мой текст, часть слов отсутствует здесь.
При нажатии отмены ничего не поисходить, при нажатии при

[2019-07-08 07:53] asemiankevich opened #8532 "ERR_UNKNOWN_URL_SCHEME when accessing Deep links in Simple Dapp"
# Problem

Can't open [Deep Links] section in Simple Dapp

## Steps

1. open status
2. open simpledapp.eth
3. tap deep links -> tap a link

## Logs

[status_logs.zip](https://github.com/status-im/status-react/files/3367237/status_logs.zip)

[2019-07-08 08:44] StatusWrike commented on #8353
➤ Nabil Naghdy commented:

Whats the latest on this?

[2019-07-08 08:47] vitvly opened #8533 "[Onboarding] Enable fingerprint login during first-time setup"
# Problem

As it stands now, the below piece of functionality:
  - fingerprint work done in https://github.com/status-im/status-react/pull/8127

is not integrated into the onboarding setup flow

## Implementation

Integrate https://github.com/status-im/status-react/pull/8127 with onboarding setup.

Figma screens for reference: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=

[2019-07-08 08:59] StatusWrike commented on #8353
➤ Andrea Piana commented:

Staging has been migrated, and it will be tested probably today or so, once successfully tested we can proceed with Beta, but other then testing no development effort is spent on this, as it's just a matter of running a script

[2019-07-08 11:35] rachelhamlin commented on #8071
Can we please include the toolbar? We'll size it as a large bounty. Otherwise we accrue more design debt, which we'll then try to find another contractor for. :) Would be great to do it now if @tbenr is able and willing.

[2019-07-08 11:46] rachelhamlin commented on #8134
Hey @siphiuel! Is this issue being addressed in [#8234](https://github.com/status-im/status-react/pull/8234) or is it a separate PR?

[2019-07-08 11:48] andmironov commented on #8499
Hey, after a discussion, we decided to make this a bit more simple and remove the drag-and-drop and replace it with just taps.

Here's a video with how it should look:  https://www.dropbox.com/s/tpqc1sihu8xjdny/backup.mov?dl=0

Here are some notable things:
- you can select only one word at a time by tapping on it;
- if you have already selected a word and then tapped on another one, the other one

[2019-07-08 11:56] flexsurfer commented on #8134
@rachelhamlin storage selection and save with password were done in #8234 , i'll create separate issue for the pincode

[2019-07-08 12:03] flexsurfer opened #8535 "[Onboarding] Store keys with the 6-digit pincode"
![image](https://user-images.githubusercontent.com/11790366/57217928-41e8f400-6ff4-11e9-8cbf-da0b98c566d2.png)

**Keycard is not in the scope of this PR**

Acceptance criteria:

1. pixel perfect
1. store with 6-digit pincode

Figma: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

status-go: https://github.com/status-im/status-go/issues/1463

[2019-07-08 12:33] tbenr commented on #8071
@rachelhamlin I can work on that too.

[2019-07-08 14:09] emmaodia commented on #8032
I have applied to get this task done. Do I have to be approved first before I continue?
Thanks.

[2019-07-08 14:22] speedyFixer commented on #8047
@gitcoinbot the weekend is over, but I'm working on this, at night I will fix some issues and I will send a PR.

[2019-07-08 15:01] StatusSceptre commented on #8070
Hey @hesterbruikman @rachelhamlin @flexsurfer @jeluard

For bounties labeled as Large, I need some more info before I can assign a bounty
- Proposed bounty amount = Large (16 hrs)
- Estimated time to completion = Day
- Estimated required experience level = ?
- Why we’re outsourcing it = ?

Can you please add this info and I'll go ahead and get the bounty approved by Finance.

Thanks!

[2019-07-08 15:02] StatusSceptre commented on #8071
Hey @hesterbruikman @errorists @flexsurfer

For bounties labeled as Large, I need some more info before I can assign a bounty
- Proposed bounty amount = Large (8 hrs)
- Estimated time to completion = Day
- Estimated required experience level = ?
- Why we’re outsourcing it = ?

Can you please add this info and I'll go ahead and get the bounty approved by Finance.

Thanks!

[2019-07-08 15:08] jeluard commented on #8070
Hey @StatusSceptre ! Some more context:

* Estimated time to completion: I estimated it to 2 days for someone familiar with the codebase
* Estimated required experience level: Newbie is ok but obviously would require more investment
* Why we’re outsourcing it: lack of resource and low risk?

[2019-07-08 15:18] #8131 closed, assigned to nobody

[2019-07-08 15:18] #8132 closed, assigned to nobody

[2019-07-08 15:18] #8134 closed, assigned to nobody

[2019-07-08 15:21] rachelhamlin commented on #8071
@StatusSceptre I can answer these.

- Proposed bounty amount = Large (8 hours) - _TBD how this translates into ETH, do you need my input?_
- Estimated time to completion = ~ 1 day to implement, 2-3 for testing & bug fixing
- Estimated required experience level = Clojure and RN experience required, seniority unimportant
- Why we're outsourcing = this is a v1 must-have and we are short of people to

[2019-07-08 17:08] rachelhamlin commented on #6375
@bitsikka would you mind shooting me an email at rachel@status.im? We also have other more pressing items we'd love your help on, if you have time coming up. And additionally, would like to make sure your time here doesn't go to waste.

[2019-07-08 17:14] rachelhamlin commented on #8135
Kudos on merging PR #8234 @siphiuel! Is this your next task?

[2019-07-08 17:15] rachelhamlin commented on #8032
@emmaodia yes, let's get you approved first. :) Thanks for applying!

@StatusSceptre could you please approve @emmaodia? 🙏

Thanks for your effort @sudeepb02.

[2019-07-08 18:02] flexsurfer commented on #8136
hey @pacamara have you seen in the description `Pincode not in the scope of this PR` ? password should be used, btw #8234 has been merged

[2019-07-08 18:11] bitsikka commented on #6375
Thanks! @rachelhamlin
I just sent you an email

[2019-07-08 18:21] bitsikka commented on #6375
Update:

For 1) it turns out `onViewableItemsChanged` does not quite register some gaps of items if user scrolls really fast. It skips gaps of items that ought to be marked as seen. But, it looks like we can detect the gaps by using `onScrollBeginDrag` and `onMomentumScrollEnd` props to capture min/max index and diff the range with the set of ids registered by `onViewableItemsChanged`.

There are

[2019-07-08 18:37] flexsurfer commented on #8032
@rachelhamlin @StatusSceptre  as i know @siphiuel is working on it

[2019-07-08 18:40] flexsurfer opened #8540 "[Onboarding] Create new account flow"
# Problem

Currently, if you try to create one more new account, it uses old flow

## Implementation

New flow with generating 5 accounts is used, notifications and welcome screens aren't shown

[2019-07-09 00:37] emmaodia commented on #8032
Thank you @rachelhamlin

@flexsurfer I think the gitcoin activity tracker is broken as I do not **see** anyone working on it and it indicates that I have started work. In the meantime, I will apply to other status projects.

[2019-07-09 06:21] flexsurfer commented on #8032
hey @emmaodia please do not start work, core contributor is working on this issue, thanks

[2019-07-09 07:49] jeluard opened #8541 "Verify ens-name client side"
### User Story

As a user, I want to make sure ENS name displayed in chat and profile has been verified.

### Description

*Type*: Feature

ENS name is sent as part of chat messages and account details. It is displayed as is and could be spoofed.
Proper solution involves checking the ENS validity client side. For performance reason it's been agreed that it should be done `status-go` side.

[2019-07-09 08:27] rachelhamlin commented on #8032
Sorry about that @emmaodia! You might be interested in this issue instead? #8130

[2019-07-09 08:31] flexsurfer commented on #8032
sorry #8130 already done

[2019-07-09 09:43] rachelhamlin commented on #8541
Do we need an equivalent version of this issue in the go repo?

[2019-07-09 09:52] jeluard commented on #8541
Good point! Actually this is a go only task.
Maybe I should move this issue there? WDYT @adambabik @cammellos ?

[2019-07-09 10:53] #8408 closed, assigned to nobody

[2019-07-09 10:53] #8506 closed, assigned to nobody

[2019-07-09 11:03] pacamara commented on #8136
@flexsurfer Ugh missed that! But the UI screenshots show the pincode entry screens. Does that mean the UI is in scope, but recovery using the pincode isn't? In which case am almost done.

[2019-07-09 11:27] flexsurfer commented on #8136
@pacamara we already have pincode UI implemented, but anyway we can look at yours :) this PR doesn't include any work on pincode , password flow should be used , that's why i mentioned #8234 it has password flow, and it should be used here, thanks and sorry for the confusion

[2019-07-09 11:36] pacamara commented on #8136
@flexsurfer No worries, I should have read that note and queried the scope earlier :)

So which of those screenshots are in scope? Just these four:  "Recover", "Recover with phrase", "Recover loading" and "Wrong recovery"?

[2019-07-09 12:11] flexsurfer commented on #8136
five , "Recover success" as well, re-encrypt button should lead to password screen

[2019-07-09 12:38] pacamara commented on #8136
Gotcha, will rebase and fixup. Thanks @flexsurfer

[2019-07-09 13:20] jeluard commented on #8541
FYI @PombeirP

[2019-07-09 15:03] rachelhamlin commented on #8541
Duplicated this in status-go.

[2019-07-09 15:03] #8541 closed, assigned to nobody

[2019-07-09 15:17] flexsurfer commented on #8152
@yenda could you give an update for this issue please?

[2019-07-09 15:44] flexsurfer opened #8544 "[Onboarding] Notifications settings isn't shown"
# Problem

Nothing happens when pressing "Enable notifications"

## Implementation

Notifications settings should be shown

![image](https://user-images.githubusercontent.com/11790366/60903128-10e5a380-a271-11e9-8890-877224fa0b9b.png)

[2019-07-09 16:04] yenda commented on #8152
@flexsurfer yes it is solved in status-go so it will be solved in with my pending PR on wallet api integration

[2019-07-09 16:13] flexsurfer commented on #8152
great thanks!

[2019-07-09 19:14] jakubgs commented on #8512
Looks like I got that wrong. You are supposed to run this in the clone of `fdroidclient` repo.
[code]

[2019-07-09 19:15] jakubgs commented on #8512
The next step is to define the build steps necessary to build our App on the F-Droid build farms:
https://f-droid.org/en/docs/Building_Applications
https://f-droid.org/en/docs/Build_Metadata_Reference

[2019-07-09 19:24] jakubgs commented on #8512
So the build steps are defined in the YAML meta file that is initially generated by `fdroid import`. Inside of that file various keys are set to define the build process.

There's something called `prebuild`:

And for `build`:

This seems to indicate that you can only build using Ant, Maven, or Gradle.

[2019-07-09 19:30] jakubgs commented on #8512
There is `gradle` key:

Which seems to indicate not Gradle `buildTypes`, but `productFlavors`:
https://developer.android.com/studio/build/build-variants#product-flavors
Of which we don't seem to have any defined in our `android/app/build.gradle`.
Not sure which build type `fdroid build` would make if we have no flavors defined.

There is also:

[2019-07-09 19:34] tbenr commented on #8071
@flexsurfer any reason why block user is not there? do i need to strictly follow figma (where block user is at the very bottom without icon?)

[2019-07-09 19:49] jakubgs commented on #8512
Not sure what this one affects in Gradle but it might be build type:

EDIT: Correction, it looks like `target` refers to `targetSdkVersion` in Gradle config.

[2019-07-09 20:07] hesterbruikman commented on #8071
To the best of my knowledge block/unblock user should be included and is not in the above images because we hadn't realized they were missing when the images where taken to create this issue.

[2019-07-09 20:43] jakubgs commented on #8512
I'm trying to build it, but I'm getting python errors now:
[code]

[2019-07-09 20:54] jakubgs commented on #8512
It doesn't matter if I install `fdroidserver` with APT of with PIP, it fails with the same nonsense error.

According to the instructions the APT way is the way to go:
https://f-droid.org/en/docs/Installing_the_Server_and_Repo_Tools/

[2019-07-09 21:09] jakubgs commented on #8512
I tried running the build with:
[code]
And it did run, but then fails with:
[code]
Which makes no fucking sense, because the nix installation succeeded just fine.

But when I re-run it it works fine...

[2019-07-09 21:52] jakubgs commented on #8512
Looks like something like this works:
[code]
But it fails with the python errors when it gets to the build step.

[2019-07-10 04:30] oskarth commented on #8496
Why was this closed?

[2019-07-10 05:13] flexsurfer commented on #8071
thanks @tbenr updated the description, nicknames aren't in the scope

[2019-07-10 05:45] StatusWrike commented on #8496
➤ Hester Bruikman commented:

Looks like a Wrike-Unito-GH integration bug. Task was put On Hold in Wrike

[2019-07-10 08:32] Serhy opened #8548 "No 'Paste' native Android option on longtap in the app input fields (conract-code, wallet recipient address etc)"
***Type***: Bug

***Summary***: Some of the input fields of the mobile app on Android does not show native Android `Paste-Clipboard-Select_All` dialogue.
In the URL browser and message input box - it's shown on the long tap fine, but the same doesn't work with:
- `Chats` -> `Start new chat` -> long tap in `Enter contact code` field
- `Profile` -> `Mailserver` -> `+` -> long tap in `Mailserver addr

[2019-07-10 09:35] annadanchenko opened #8550 "Never ending loading indicator is shown on white screen if open app from push notification"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

On Android: white screen with never ending loading is shown if open app from push notification. Full logcat is also attached but the cause might be this error:
[code]

![Screenshot_20190710-112955](https://user-images.githubusercontent.com/6584810/60958534-ce6ea600-a306-11e9-8666-05e2e488e0c9.png)

[comment]: # (Describe the feature yo

[2019-07-10 09:48] pedropombeiro commented on #8550
Looks like the error might be a refactoring that didn't change all occurrences of a method name:

[code]

[2019-07-10 09:57] pedropombeiro commented on #8550
Is there a @status-im/clojure dev that could look into why this navigation isn't occurring properly?

[2019-07-10 10:46] flexsurfer opened #8551 "[Onboarding] Design touch-ups"
# Problem

- Notification icon is cut off at the bottom
- Navigation is too high, should be in header 44px from the top
- Keycard icon scales on Samsung Galaxy x and becomes unreadible
- There's noticeable padding on both sides of the image carousel when scrolling. The carousel should stretch the entire width of the screen.
- The dots below the carousel should be switched on/off in the same event

[2019-07-10 12:03] emmaodia commented on #8032
Okay @Audrey

@rachelhalim I will go through the status issues page and find the ones I can work on.

Thanks guys.

[2019-07-10 12:06] hesterbruikman commented on #8551
Copied from https://github.com/status-im/status-react/pull/8234#issuecomment-510029198

**Welcome screens**
- The welcome screen cuts off the images and text, should not be this way (see screenshot below);
- on "Get yourself a key" screen, when tapping on "Generate a key" button, the image moves a few pixels down;
- If I tap "Generate a key" -> See the list of available account names -> tap "back"

[2019-07-10 13:11] #8544 closed, assigned to nobody

[2019-07-10 13:24] asemiankevich opened #8554 "[Maybe Later] for notifications setting in onboarding does not disable notifications"
# Problem

Tapping `Maybe later` does not make effect, so notification setting will be enabled no matter which option i select. This applies only for Android devices.

![image](https://user-images.githubusercontent.com/28752642/60972345-c0cd1680-a32e-11e9-9e14-0c36231b2ef5.png)

## Implementation

Tapping `Maybe later` does not enable notifications. Notifications settings are off for Status app in

[2019-07-10 14:34] annadanchenko opened #8555 "no push notification shown if send message in 1:1 between 0.13.0 release and nightly"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: no pn is shown if send message from 0.13.0 in 1:1 chat to user with nightly build. same if user from nightly sends to 0.13.0 release. For both c

[2019-07-10 15:56] licaon-kter commented on #8512
For readability...
[code]

[2019-07-10 16:14] annadanchenko opened #8556 "Last message jumps up after chat is opened"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: after chat screen is opened input filed overlaps with last message, so message is half-visible. After  this last message "jumps up", so it's fully visible.

[2019-07-11 11:46] asemiankevich opened #8558 "Blank screen when tapping [Get Started] on desktop"
# Problem

Tapping [Get Started] on Desktop build (MacOS) results in blank screen

@PombeirP  reported `lastIndexOf is not a function` for Linux build as well

## Steps

- install nightly (fresh install) https://status-im.ams3.cdn.digitaloceanspaces.com/StatusIm-190711-025900-b78bb4-nightly.dmg
- launch the app and tap [Get Started]

![image](https://user-images.githubusercontent.com/28752642/6104

[2019-07-11 12:46] #8032 closed, assigned to nobody

[2019-07-11 12:46] #8540 closed, assigned to nobody

[2019-07-11 13:06] #8262 closed, assigned to nobody

[2019-07-11 13:46] flexsurfer commented on #8130
@siphiuel any updates on this?

[2019-07-11 13:48] vitvly commented on #8130
Not yet, couldn't figure out this iOS 13 issue so far.

[2019-07-11 14:03] flexsurfer commented on #8130
ios 13 in beta right? maybe we could merge for now? and test it later in release or maybe it will be fixed in react native ?

[2019-07-11 14:03] flexsurfer commented on #8130
@siphiuel ^

[2019-07-11 14:06] asemiankevich commented on #8130
sure, that was the original question i had. Okay lets merge

[2019-07-11 14:12] #8130 closed, assigned to nobody

[2019-07-11 18:23] jakubgs commented on #8512
Oh nice, I didn't know this was also a valid format, the manual stated that:

Thanks @licaon-kter!

[2019-07-11 22:57] toxub23 opened #8560 "Debian Buster"
I know I can download the Appimage Status, but it would be convenient if Status had its own APT repository or it was added to the Debian Buster repository to make it significantly easier for any updates associated with it. Especially if someone has a lot of programs in the Appimage version.

[2019-07-12 06:44] asemiankevich opened #8561 "[Keycard] option icon is cut on Android (5.2" screen)"
# Problem

Icon is cut on some screens, for ex 5.2" screen Android device. Could be more cases.

![image](https://user-images.githubusercontent.com/28752642/61107821-757b4b00-a489-11e9-9491-b9b3b9e4c197.png)

## Steps

1. install status
2. follow onboarding flow until [Select key storage] screen

Keycards are planned to be used with android devices , so good to have pixel perfect screens here.

[2019-07-12 08:30] #8502 closed, assigned to nobody

[2019-07-12 08:57] flexsurfer opened #8563 "[Onboarding] it's not possible to generate accounts more than once"
# Problem

if i press "generate name" and then go back, and press again loading indicator spins all time

## Acceptance Criteria

accounts must be generated second time

[2019-07-12 09:56] annadanchenko opened #8564 "Android app crashes if moved to foreground after running on background for some time (several hours or a night)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: App crashed after it's moved from background to foreground. Usually, it happens if app was on background for several hours or left for a night.

[2019-07-12 10:11] asemiankevich commented on #8556
also visible with [Add to contacts] bar.

[2019-07-12 10:37] #8448 closed, assigned to nobody

[2019-07-12 12:49] #8563 closed, assigned to nobody

[2019-07-12 14:37] rachelhamlin commented on #8458
This is odd. I can't even find this issue in Wrike so no idea why it's reopening it. Trying again to close.

[2019-07-12 18:10] tbenr commented on #8071
@flexsurfer I don't see `remove-contact` event\fx implemented. For the moment I implement only UI ok?

[2019-07-13 09:29] flexsurfer commented on #8071
hey @tbenr , this should work
[code]

[2019-07-13 10:57] tbenr commented on #8071
@flexsurfer great I'll integrate it

[2019-07-13 12:06] speedyFixer commented on #8047
@gitcoinbot Yes!

[2019-07-13 12:52] speedyFixer commented on #8047
@yenda I'm checking if the contract is stopped on "on-return-from-background", Is It OK? or do you prefer the validation only after user login?

[2019-07-13 16:41] pacamara commented on #8136
#8519 updated [here](https://github.com/status-im/status-react/compare/984017bf3adbe59cbce5020da88d03336af89507..22d759650547d5e7b8a12b71d340694500c396dc), all UI changes done and UI handover to #8234 works. Still some work to do on ensuring the correct account gets recovered.

[2019-07-14 16:17] speedyFixer commented on #7015
@gitcoinbot Yes, waiting for a PR review.

[2019-07-15 08:49] hesterbruikman commented on #8548
*Addition*

The issue also occurs in Chat under conditions. To reproduce:
- Open chat
- Tap to open Keyboard
- Longpress to call native Android option
https://file.globalupload.io/eNEGZTaCKc.jpg

The native Android option will work once the entry field in chat is in a 'send'-state. To reproduce and see the difference:
- Open chat
- Tap to open keyboard
- Type (blue arrow appears)
- Longpress
https

[2019-07-15 11:14] rachelhamlin opened #8566 "Build v1.0 banner & modal to highlight breaking change"
### User Story

As a user, I want to receive a heads up about what I can do to prepare for breaking changes coming in the public release (v1.0) later this year, so that I don't lose any of my funds.

### Description

*Type*: Feature

*Summary*:
In v1.0, we're forcing users to create new Status 'accounts' on our new key structure - separating the Whisper ID and wallet ID. No Whisper data (contacts,

[2019-07-15 12:56] Serhy opened #8567 "Can't locate tooltips by e2e tests"
***Type***: Bug

***Summary***:  Tooltips are not present in XML of page (e2e tests also don't see the text from those tooltips)
`Wrong password` (on login and transaction sigh in views) and `Recovery phrase is invalid` tooltips - are those which affected by issue
But, for instance, `Not enough ETH for gas` and `Invalid format. Must be enode....` tooltips have no issues (red background as expected

[2019-07-15 12:59] Serhy commented on #8567
Marked with `medium-priority`, because e2e tests are failing due to those tooltips are not present in page xml too

[2019-07-15 13:17] tbenr commented on #8071
@flexsurfer but I make `public-key` to be second parameter so it is the dual of `add-contact`. Changing `add-contact` to receive `contact` was requiring a bit more work so I gave up.

[2019-07-15 14:16] rachelhamlin opened #8568 "Hide 'add account' option in wallet"
### Description

*Type*: Feature

*Summary*: Multi-account UI has been introduced in the nightly. It includes a panel to `Add account`, which in the future will allow users to import additional wallets into Status. These flows are not built yet. We want to hide this UI element but release the other changes in beta v0.14.

#### Expected behavior

`Add account` panel is hidden/removed.

#### Actual

[2019-07-15 14:20] flexsurfer commented on #8071
yes sure, sounds fine

[2019-07-15 14:22] JollyRogerz commented on #7215
Has someone completed this bounty already ?

[2019-07-15 14:33] rachelhamlin opened #8569 "Fix 'my profile' screen for beta v0.14"
### User Story

As a beta user, I want the option to set and edit a display name in chat.

### Description

*Type*: Feature/Fix

*Summary*: Partial changes to the profile screen have blocked nightly users from being able to edit display names on mobile.

We are not going to include the ENS resolution feature in beta release 0.14, therefore, we need to re-enable display names.

#### Expected behavi

[2019-07-15 14:41] rachelhamlin opened #8570 "Hide 'Chat settings' from ENS usernames section"
### Description

*Type*: Feature

*Summary*: We recently moved ENS registration to a native flow inside Status, and built support to display ENS names in chat by default.

There is a security blocker on status-go that prevents ENS display from being releasable.

Thus we need to hide the ENS chat setting for beta release v0.14.

#### Expected behavior

`ENS usernames` section in the profile offers

[2019-07-15 14:44] #8203 closed, assigned to nobody

[2019-07-15 14:45] #7114 closed, assigned to nobody

[2019-07-15 14:45] jakubgs commented on #8566
Should this warning banner contain a link to a more detailed description of the reasoning behind the changes?

[2019-07-15 14:54] rachelhamlin commented on #8566
It's a good idea @jakubgs. I can work with @j-zerah on a blog post about why we're going through all this and we can add a link.

[2019-07-15 15:18] rachelhamlin commented on #8535
Hey @dshulyak, could you share some info on what's been done for pin code storage on Android? I heard you'd worked on that.

[2019-07-15 15:58] annadanchenko opened #8572 "0.14.0 mobile release"
issue to manage mobile 0.14.0 release

- open issues and PRs for release: https://github.com/status-im/status-react/labels/release
- release notes to be added: https://notes.status.im/mobile-release-notes
- release branch:
- compare 0.12.x and 0.14.0:
Expected feature freeze date:
Expected release date:

### Testing info
- Build X to test:
- Test plan for build X:

### Build numbers in TestFlight

[2019-07-15 16:18] tbenr commented on #8069
@gitcoinbot still finishing #8071 then i'll move on this

[2019-07-15 16:20] jrainville opened #8573 "Impossible to get current geolocation in Status Dapp browser"
### User Story

As a developer, I want `navigator.geolocation.getCurrentPosition` to work in the Status Dapp Browser so that we can use maps with the user's current location.

### Description

*Type*: Bug

*Summary*: Experienced the issue in Status Teller Network, using `navigator.geolocation.getCurrentPosition` (browser API to get the user's current location) doesn't work in Status' Dapp browser,

[2019-07-15 17:20] speedyFixer commented on #8047
@rachelhamlin a Signing with Password is required for disable the TTT feature by the user, because that is a Contract Interaction, but I think It's a odd behavior for the user since a sudden signing request will be showed with no previous informative screen.

[2019-07-15 18:05] jrainville opened #8577 "Contract events do not trigger in Status Dapp Browser"
### User Story

As a developer, I want to contract events to trigger so that we can have more interactivity in the Dapp.

### Description

*Type*: Bug

*Summary*: Experienced in the Status Teller Network, web3js contract events never trigger in the Status Dapp browser, but they do work in normal browsers with Metamask (probably because Status doesn't use websocket [WS] to connect to the node)

###

[2019-07-16 06:36] flexsurfer commented on #8556
introduced here https://github.com/status-im/status-react/pull/8498

[2019-07-16 07:35] dshulyak commented on #8535
@rachelhamlin there are two PRs linked to https://github.com/status-im/status-go/issues/1463

https://github.com/status-im/status-react/pull/8525/ implements module to work with android keychain api and https://github.com/status-im/status-go/pull/1515 is a prototype for keystore that can use keychain api

[2019-07-16 08:14] rachelhamlin commented on #8555
Perhaps we should leave this one and #8401 out of release since we are breaking compatibility for v1? We can fix it in v1 - wdyt @annadanchenko @flexsurfer @yenda?

[2019-07-16 08:39] flexsurfer commented on #8555
if we break compatibility for v1 we don't need to fix it at all, that's why i suggest to don't waste resources on it, but we'll have this bug in 14 release then

[2019-07-16 09:28] #8458 closed, assigned to flexsurfer

[2019-07-16 09:50] rachelhamlin commented on #8533
Hey @siphiuel how much time are we looking at for this task?

[2019-07-16 09:57] vitvly commented on #8533
@rachelhamlin Less than a day i think, should be just integrating the existing fingeprint logic into new onboarding flow

[2019-07-16 10:02] rachelhamlin commented on #8533
@siphiuel cool, thanks. I'm putting it in Wrike for end of this week.

[2019-07-16 10:37] rachelhamlin commented on #8555
Removing after conversation with Anna in Status.

[2019-07-16 10:38] rachelhamlin commented on #8401
Removed from v0.14 release after conversation with Anna in Status. Breaking compatibility with previous versions when v1 is launched so this fix would be irrelevant then.

[2019-07-16 11:51] bitsikka commented on #8566
I'm working on this.

@rachelhamlin Given that the banner/modal will be short lived, do the text copies have to be translation copies(as opposed to hardcoded inline [not even sure if we ever do inline hardcoded text @yenda? maybe that's a bad practice])?

cc @jinhojang6

[2019-07-16 12:13] rachelhamlin commented on #7723
Note - this is also an issue when opening the stickers drawer again later on.

It appears as if I am on the pack I own, but instead am seeing my most recently used + cannot tap 'recently used': https://prnt.sc/ofr2u2

[2019-07-16 13:00] rachelhamlin opened #8578 "Migrate stickers feature to mainnet contract"
### User Story

As a user, I want to purchase stickers on mainnet using SNT!

### Description

*Type*: Feature

*Summary*: We need to set up to use the mainnet version of the contract once deployed.

#### Expected behavior

I can buy and send stickers in chat on Mainnet.

#### Actual behavior

Stickers are only available on Ropsten.

[2019-07-16 13:11] rachelhamlin commented on #7723
@flexsurfer is it possible to have you review this one before next week?

[2019-07-16 13:16] rachelhamlin opened #8579 "Test stickers with pack cost above 0"
# Problem

Let's publish a pack costing >0 SNT or STT (?) to ensure that pricing and purchase flow works.

[2019-07-16 13:27] flexsurfer commented on #8566
@bitsikka  this change will be only in release branch (will be created soon), so it can be done as translation copies

[2019-07-16 13:30] flexsurfer commented on #7723
@rachelhamlin yes, sure

[2019-07-16 19:48] danieljwonder opened #8580 "Typo in Photos Permission Dialog"
States “it” requesting instead of “is” on iOS.

[2019-07-17 08:26] rachelhamlin opened #8583 "Hide 'key storage' screen from onboarding flow for beta v0.14"
# Problem

The new onboarding flow offers users the option to store their key on their device or on keycard. We are not introducing keycard support in beta v0.14 so should hide this screen.

## Implementation

Remove [this screen](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=2175%3A21919) from the onboarding flow for release v0.14.

![image](https://user-images.githubuser

[2019-07-17 08:48] StatusWrike commented on #8568
➤ Rachel Hamlin commented:

The work is done. Waiting for release branch to merge.

[2019-07-17 08:48] StatusWrike commented on #8570
➤ Rachel Hamlin commented:

The work is done. Waiting for release branch to merge.

[2019-07-17 10:09] rachelhamlin commented on #8480
Note: We want to move account storage to go side but @gravityblast is working on login API atm, so @flexsurfer is storing this in realm.

We can finish & test this issue, and then next week work with @gravity to move account storage to go. In tandem @flexsurfer can work on adding a watch-only account.

[2019-07-17 10:11] rachelhamlin opened #8585 "Add watch only account front-end"
Placeholder to fill out later

Requires @gravityblast work on login API to enable

# Problem

An overview of the background required to understand the problem.
A problem description.

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind

[2019-07-17 12:05] jakubgs commented on #8353
I've deployed to all `eth.beta` hosts except for `mail-03.do-ams3.eth.beta`, which was left for @annadanchenko for tests. Once she's done with it I will complete the migration.

[2019-07-17 15:41] richard-ramos opened #8590 "Hexadecimal values not shown on "Sign Message" screen"
# Problem

Hexadecimal values aren't being shown in the sign screen. It either displays as an empty box, or attempts to convert these to a string value.

## Steps to reproduce:
1. Browse https://status-im.github.io/dapp
2. Select the tab [Transactions]
3. Replace `Test message` by a random hex string,  i.e. `0x1234` or a bytes 32: `0xf38e51f05d0e9620018bf3281449f72804aafed68c19ae089380d6b25ae305a8

[2019-07-17 18:54] jakubgs commented on #8512
So the list syntax does work, but I'm getting some Nix target errors which makes no sense to me:
[code]
And I'm running:
[code]
But I'm getting something weird:
[code]
Which appears to be this:
[code]
Not sure what to make of this yet.

[2019-07-17 19:03] jakubgs commented on #8512
This seems to be related: https://github.com/NixOS/nixpkgs/issues/51858

Full trace:
[code]
It's almost as if `config` is passed to the `nix-shell` invocation as `--argstr` but it doesn't contain what it needs to contain.

[2019-07-17 19:12] jakubgs commented on #8512
The apparent fix is to default `config` to be an empty map:
[code]
https://github.com/NixOS/nixpkgs/commit/878965731f9e35580efc21b0d3e79022cfaeb0be

But we already set it to a map by default if not set in all Nix files.

[2019-07-17 23:32] pacamara commented on #8136
@flexsurfer @rachelhamlin OK #8519 is done :) Recovers account correctly. Only outstanding issue is use of `resolve` to avoid a circular dependency, probably implies a refactor of existing code but would like to discuss that first. In any case this does not affect testability. :beers:

[2019-07-18 03:45] danieljwonder opened #8591 "iOS UX Issue - No way to delete accounts"
**UPDATED VERSION:**

When logged out there is no way to remove an account if you don’t know the password to access it without deleting/reinstalling app.

**ORIGINAL:**

_When restoring an account in the app there is no double confirmation of your password and no way to verify it is correct.

This means...

If typed wrong there is no way to know what you typed or reset even whilst logged in.

And

[2019-07-18 07:10] pedropombeiro commented on #8512
Yeah, that was the reason I started using a default value for config recently.

[2019-07-18 10:18] #8568 closed, assigned to nobody

[2019-07-18 10:19] StatusWrike commented on #8135
➤ Oskar Thoren commented:

I'm having some problems following this, a month ago it was "close this one in a week", which was with dev. Now it's back with design. What does this mean?

[2019-07-18 10:22] vitvly opened #8593 "Hide Fingerprint feature temporarily"
## Problem

For now there is still some discussion as to how fingerprint feature should work, so it has been decided to disable the feature in the upcoming release.

## Implementation

Hide fingerprint screen in the Onboarding wizard, and hide it from the Profile UI.

[2019-07-18 10:23] flexsurfer commented on #8593
please make a branch from `release/0.14.x` branch for this issue

[2019-07-18 10:27] annadanchenko commented on #8591
thanks for the report but it looks like duplicate of https://github.com/status-im/status-react/issues/7418 so closing it... please, reopen if don't agree.

request: next time can you put in the issue title something more descriptive than "iOS UX Issue", please? It will be super hard to distinguish between 10 issues with same title that all are ux issues. See https://status.im/docs/report_a_bug.htm

[2019-07-18 10:27] #8591 closed, assigned to nobody

[2019-07-18 12:53] annadanchenko commented on #8570
@rachelhamlin it seems that hiding Chat settings feature in ENS usernames does not solve the issue  completely. User will see ENS name of another user in 1:1 chat title (if they are in contacts of each other):
![Screenshot_20190718-144231_Status PR](https://user-images.githubusercontent.com/6584810/61458825-b5e83680-a96b-11e9-9999-a52d008bfa0d.jpg)

![Screenshot_20190718-144254_Status PR](https://

[2019-07-18 12:55] rachelhamlin commented on #8570
@annadanchenko taking a look. Did you set your name to show previously?

Any idea why this is happening @jeluard?

[2019-07-18 12:57] flexsurfer commented on #8570
i believe this should be reverted in @jeluard PR https://github.com/status-im/status-react/pull/8586

[2019-07-18 13:15] jeluard commented on #8570
@flexsurfer Why? 8586 is about custom names, not ENS

@rachelhamlin This one is just removing the UI, if you already had a ENS name set it will still show up. #8569 is fixing it

[2019-07-18 13:28] flexsurfer commented on #8570
@jeluard summary says "Do not display ENS name anymore (neither in profile nor chat)." is it something different?

[2019-07-18 13:42] rachelhamlin commented on #8135
Oh wait, I'm wrong. @flexsurfer changed it back to design. @errorists what's changing with this screen?

[2019-07-18 13:42] StatusWrike commented on #8135
➤ Rachel Hamlin commented:

Wrike/Unito bot did it automatically. No one changed it in Wrike or on GH.

[2019-07-18 13:46] errorists commented on #8135
<img width="411" alt="Screenshot 2019-07-18 at 15 44 23" src="https://user-images.githubusercontent.com/4932774/61462444-ef707000-a972-11e9-9266-d2f620328097.png">

@rachelhamlin we've commissioned some wonderful illustrators to come up with unique artwork for this screen. It's still WIP because of that.

edit: pictured above is a sketch we have currently, the finished illustration will be rendere

[2019-07-18 13:49] rachelhamlin commented on #8135
Got it! Thanks. I'll those tasks in Wrike.

[2019-07-18 14:05] rbnpercy opened #8596 "Account recovery & registration issue on Mac Desktop"
After registering my initial account on the stable release Mac desktop client, I was given my 12 word recovery key, which I screengrabbed and kept in a safe place.

After trying to recover my account with my 12 word key, the desktop client actually created a new account altogether with a new contact code.

I tried again, and the same thing happened - 2 new accounts with new contact codes, for both

[2019-07-18 14:12] jeluard commented on #8579
Successfully tested

[2019-07-18 14:12] #8579 closed, assigned to nobody

[2019-07-18 14:50] corpetty commented on #8596
I think this is a status-react-desktop issue... there might be a discrepancy between key generation when creating an account on that and recovering the same seed phrase. Looking into it.

[2019-07-18 14:52] annadanchenko commented on #8570
got it, so this issue is just to hide ui setting and not about using/showing ens name(s) in other part of the app

[2019-07-18 14:57] flexsurfer commented on #8570
correct

[2019-07-18 14:57] #8570 closed, assigned to nobody

[2019-07-18 15:17] corpetty commented on #8596
@vkjr can you point me in the direction of where we do the key derivation based on given seed phrase for both account generation and account recovery?  I have a hard time dissecting the desktop code.

[2019-07-18 15:31] corpetty commented on #8596
Was not able to reproduce on a linux VM.  Steps attempted:
- Downloaded beta client from website
- created new account
- backed up seed phrase
- logged out
- imported same account as new account

This resulted in the same account. I then tried this with the latest nightly and recovered the same account again.

[2019-07-18 15:46] rbnpercy commented on #8596
I now can't replicate the issue myself, using the nightly build it recovers my newest account (the one that was newly generated, but I'll be sticking with).

I haven't tried to replicate the issue for Ubuntu / Win, so I think it was just an OSX problem.

[2019-07-18 16:29] vitvly commented on #8130
@gitcoinbot can you just shut up? The issue has been closed for 7 days already, you slowpoke

[2019-07-18 17:31] #8569 closed, assigned to nobody

[2019-07-18 17:58] AshleyOyt commented on #8070
Hi, Im interested in working on this issue. However, after reading the bounty description, I'm a bit confused as to whether the job is to help design the UI or code the UI or both. If someone could clarify this for me, I would really appreciate it, thanks!

[2019-07-18 20:01] vkjr commented on #8596
@corpetty, desktop uses the same login/recover screens as mobile do, so part of code you are looking should be the same as for mobile. I believe this is the part of code you are looking for - https://github.com/status-im/status-react/blob/develop/src/status_im/accounts/recover/core.cljs#L28

[2019-07-18 22:51] jakubgs opened #8597 "/run/usr/1001 running out of space due to growing metro-cache"
Recently builds have been failing due to errors like this:
[code]
But it's not an issue of lack of disk space, but rather lack of space on a virtual filesystem mounted at `/run/usr/1001`, where `1001` is the UID of `jenkins` user on CI hosts.

[2019-07-18 22:52] jakubgs commented on #8597
At first I thought this was due to something that Nix does, but then after clearing the `metro-cache` folders on all hosts and running the `nightly` build I realized that this happens only for Linux and Windows builds.

[2019-07-18 22:53] jakubgs commented on #8597
I also found this issue: https://github.com/facebook/metro/issues/331
Which indicated to me that `metro-cache` normally resides at `/tmp/metro-cache`, not in `/usr/run/*`.

[2019-07-18 22:57] jakubgs commented on #8597
Then I realized that mobile and desktop builds use different `metro` versions:
https://github.com/status-im/status-react/blob/4d8891e35f05e759b82e6e0fd5c5792ad941a387/mobile_files/yarn.lock#L1044
https://github.com/status-im/status-react/blob/4d8891e35f05e759b82e6e0fd5c5792ad941a387/desktop_files/yarn.lock#L5524

Now, those are NOT that far apart, roughly 2:
* [`v0.51.0`](https://github.com/facebo

[2019-07-18 23:08] jakubgs commented on #8597
I attempted to upgrade `metro` for desktop to `0.51.0` but apparently there are some patches applied:
https://github.com/status-im/status-react/blob/4d8891e35f05e759b82e6e0fd5c5792ad941a387/patches/metro%2B0.48.5.patch#L1-L11
and:
https://github.com/status-im/status-react/blob/4d8891e35f05e759b82e6e0fd5c5792ad941a387/patches/metro-config%2B0.48.5.patch#L1-L12

Apparently those were applied by @vkj

[2019-07-18 23:11] jakubgs commented on #8597
I assume the lack of in my branch(`upgrade-desktop-metro`) `patches/metro-config+0.48.5.patch` is the cause of this error:
[code]
https://ci.status.im/job/tests/job/linux-build-branch-test/1/console

Specifically the part about:
[code]

[2019-07-19 00:07] jakubgs commented on #8597
I attempted to update the patch for `0.51.1` but that didn't fix the issue:
[code]

[2019-07-19 01:56] jakubgs commented on #8597
I mean, I could just add an `rm -fr /run/user/${UID}/metro-cache` to the `Jenkinsfile`s and call it a day, but that's hardly a solution, just a hack.

[2019-07-19 13:43] Serhy opened #8600 "Password is not cleared after navigation between 'Login to account' <-> 'Unlock' views"
***Type***: Bug

***Summary***: When user enters password to login to existing account but not submits it - we do not clear password field after user navigate back-and-forth between `Login to account` <-> `Unlock`/`Sign in to another account` views
Please see steps to reproduce below

#### Expected behavior
Password input always empty upon navigation to `Login to account` view

#### Actual behavio

[2019-07-19 21:18] tbenr commented on #8071
@flexsurfer @hesterbruikman @gitcoinbot sorry for being late on this and the other issue I have in charge.. I over-estimated my free time for these weeks. Now i'll be offline for vacation for a couple of weeks. When i'll be back I should have more time for contributions, so I can close this and start on the other.

[2019-07-21 19:11] adambabik opened #8604 "Integrate status-go and status-protocol-go"
# Problem

We want to centralize all protocol-related stuff into a single repository and move as much of business logic as possible from status-react there.

## Implementation

The first step is to clean up Go code and use https://github.com/status-im/status-protocol-go library. This is being worked on https://github.com/status-im/status-go/pull/1526 and the current version is ready to be tested w

[2019-07-22 08:26] rachelhamlin opened #8605 "Empty screen when tapping on sticker"
# Problem

I tapped on a sticker I received and saw this:

![image](https://user-images.githubusercontent.com/15470435/61617472-a6fece00-ac62-11e9-9323-f09b318848e3.png)

## Implementation

Ultimately tapping on a sticker was meant to open the pack in the sticker market.

In the interest of time (v0.14 + Julien leaving) I think it's best that we disable tapping on a sticker for now.

## Acceptance

[2019-07-22 09:38] jeluard commented on #8577
@jrainville Could you see anything special in debug logs?
See https://status.im/developer_tools/debug.html

[2019-07-22 09:38] jeluard commented on #8573
@jrainville Could you see anything special in debug logs?
See https://status.im/developer_tools/debug.html

[2019-07-22 09:39] hesterbruikman commented on #8139
Hi @chankruze are you working on this issue? Please ping if you need anything to get set up.

[2019-07-22 09:42] jeluard commented on #8577
Also which provider do you use? You should hook with status EIP1102 provider

[2019-07-22 10:03] jeluard commented on #8577
Just noticed you shared a URL to test.. looking at it!

[2019-07-22 10:37] rachelhamlin commented on #8353
Checking in because this is slated for completion today in Wrike. Ballpark, much effort is left for you both? @annadanchenko for testing, and @jakubgs for whatever remains to complete migration - is it dependent on testing outcome?

[2019-07-22 10:54] hesterbruikman commented on #8321
Discussed with @errorists . Reverting to the previous 'X' is the best short term solution.

This will at least help alleviate any confusion between going back to Home and navigating back in the DApp/tab.

[2019-07-22 12:08] asemiankevich opened #8608 "Error null is not an object (evaluating 'a.objects') when set up keycard account"
# Problem

[code]

https://drive.google.com/open?id=1GyjL6-QZAzdFgW29VqqwQkROQiN-rLC0

![image](https://user-images.githubusercontent.com/28752642/61631100-28218980-ac92-11e9-9938-92e26913f031.png)

## Steps:

- using clear keycard create a new account from scratch

## Notes

I can reproduce it with my Huawei P10 Lite under Android 8. This error is not shown on Samsungs.

## Logs

[code]

[2019-07-22 12:27] #1762 closed, assigned to nobody

[2019-07-22 12:53] jakubgs commented on #8353
This has been completed, I just forgot to close the issue.

[2019-07-22 12:53] #8353 closed, assigned to nobody

[2019-07-22 13:56] rachelhamlin opened #8609 "Update account storage from Realm to go"
### Description

*Summary*: Placeholder issue corresponding with (and blocked by) [#11 in /status-protocol-go](https://github.com/status-im/status-protocol-go/issues/11).

#### Expected behavior

[comment]: # (Describe what you expected to happen.)

#### Actual behavior

[2019-07-22 15:05] jrainville commented on #8577
@jeluard I'm setting up my phone to use debug logs, but in the meantime, here's the answer for your question.

We do use the EIP1102 provider. The Dapp is built using Embark and Embark takes the available provider given by the browser (in this case Status)  and calls `ethereum.enable` on it. We don't decide if we use `ws` or `rpc`, we just use what's available.

I'll try to check by logging the pr

[2019-07-22 17:20] Serhy opened #8612 "Create e2e test for new onboarding on mobile app"
There is already test_home_view test exist. We need to update it to cover with e2e test onboarding flow while creating new account.

https://ethstatus.testrail.net/index.php?/cases/view/5379 - test case has the steps with expected results we have to implement

[2019-07-22 17:50] jrainville commented on #8573
Just tried debugging and there is sadly nothing in the logs.

[2019-07-22 17:50] jrainville commented on #8577
Just tried debugging and there is sadly nothing in the logs.

[2019-07-23 01:35] danieljwonder commented on #8591
@annadanchenko not sure how to re-open, but updated title/description to be more specific to issue not covered in the ticket you linked.

[2019-07-23 06:51] jeluard commented on #8573
@jrainville Just tried on iOS emulator and it works as expected. A popup confirmation appears, then location is shown.

[2019-07-23 06:57] jeluard commented on #8573
Also while both should be fine, it might makes sense to test with `preview privacy mode` on.

[2019-07-23 07:27] jeluard commented on #8577
Is the `Set` action supposed to create a transaction? I can't see a transaction generated in status. I remember @andytudhope had issues with Embark. Maybe he can help?

Status offers a EIP1102 compliant provider following JSON-RPC standard. It is based on a direct protocol, neither HTTP nor WebSocket based. As AFAIK all JSON-RPC methods are supported, all web3.js sugar should work fine. AFAIK we n

[2019-07-23 07:52] cammellos commented on #8609
@rachelhamlin this is currently not blocked by https://github.com/status-im/status-protocol-go/issues/11, we decided (unless someone has a strong opinion against), to move it to `status-go` instead, so can be picked up now. I believe @dshulyak might be already working on it.

[2019-07-23 08:23] andytudhope commented on #8577
We had weird web3 issues too, but never the contract events not firing. Most issues I ran into had to do with BigNumbers and other such delights. We're definitely still using `rpc` though...

[2019-07-23 08:45] flexsurfer commented on #8516
"Clear all" also should be implemented

![image](https://user-images.githubusercontent.com/11790366/61697169-062e1280-ad37-11e9-8731-86258345d475.png)

https://www.figma.com/file/MYWmd1buvc2AMvUmFP9w42t5/Browser?node-id=3110%3A11223

[2019-07-23 08:47] rachelhamlin opened #8616 "Disable beta warning for v1"
# Problem

When a user launches a beta version of Status, they receive a warning about the app being in beta. We should disable this warning for version 1.

## Implementation

Remove beta warning pop-up from launch.

## Acceptance Criteria

Beta warning no longer appears.

## Notes

I would prefer we don't merge this change into develop until we are close to a v1 cut.

[2019-07-23 10:41] Serhy opened #8617 "Fix e2e tests that false failed"
Review and update e2e tests where needed from the latest nightly build run https://ethstatus.testrail.net/index.php?/runs/view/3834

[2019-07-23 12:46] jrainville commented on #8573
Interesting. I'm going to check with my colleagues. I think @richard-ramos had the same issue as me, but he had an Android too. Maybe @iurimatias , who has an iOS, can make it work.

[2019-07-23 12:51] richard-ramos commented on #8573
I have the same issue (using Android). I also tried by changing the privacy setting but the pop-up did not display

[2019-07-23 12:54] jrainville commented on #8577
Oops, just tested again, and while it worked when I tested last time, I might have overwritten the working version. Going to update it right away. Sorry about that.

[2019-07-23 14:22] jrainville commented on #8577
Ok, I just "fixed" the Dapp. Basically, the event handler was giving an error in Status that I didn't handle.
The error is:
[code]
This error tells me that web3 just doesn't support events with the current provider.

We checked the status-react code and it seems you use your own Provider (https://github.com/status-im/status-react/blob/40aff1da8dc29d961ca806d2b81bcb874f7e4223/resources/js/web3_opt_

[2019-07-23 14:35] jeluard commented on #8577
This happens if you call write methods before the successful return and user ack of `ethereal.enable()`

[2019-07-23 14:36] jrainville commented on #8573
Iuri just tested and he doesn't have the issue on iOS.

So it seems it's an issue that might only affect Androids

[2019-07-23 14:47] jrainville commented on #8577
Possible. It is not the case in my example though, since, as you can see here https://github.com/jrainville/events-test/blob/master/app/js/index.js#L16, I only call the event registration once `EmbarkJS.onReady` is done on line 5.

For clarity,  `EmbarkJS.onReady` makes sure to do the connection to the node and do `ethereum.enable()`. Then it calls back.

[2019-07-23 19:07] speedyFixer commented on #7015
I'm going to update the PR with the new develop branch changes.

[2019-07-23 19:49] speedyFixer commented on #8047
Anyone here?

[2019-07-23 21:04] phillbaker commented on #2681
It seems like this should have been solved with `decimal-pad` support on android: facebook/react-native#19714, however, I was not able to get `decimal-pad` to work on a physical LG Stylo 3 (Android 7.0) - there was no difference between decimal-pad and numeric.

However, `phone-pad` does give access to a decimal, so that seems like a decent workaround.

[2019-07-23 23:32] jakubgs commented on #8597
As far as I can tell it is this stage that actually generates the `/run/user/${UID}/metro-cache` directory:
https://github.com/status-im/status-react/blob/d8645e285929a5d6b18c6e39e0279c590542e83e/scripts/build-desktop.sh#L131-L144
Specifically:
https://github.com/status-im/status-react/blob/d8645e285929a5d6b18c6e39e0279c590542e83e/scripts/build-desktop.sh#L140-L141
Maybe there are some `react-nati

[2019-07-23 23:42] jakubgs commented on #8597
According to this:
https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d
This command should clear the cache:
[code]
But my tests do not show that to be correct.

[2019-07-24 03:37] jakubgs commented on #8597
Adding `--reset-cache` to `eact-native bundle` in [`scripts/build-desktop.sh`](/scripts/build-desktop.sh) might help, lets see.
https://github.com/status-im/status-react/blob/d8645e285929a5d6b18c6e39e0279c590542e83e/scripts/build-desktop.sh#L140-L141

[2019-07-24 07:42] asemiankevich commented on #8558
@siphiuel anything here? @flexsurfer

[2019-07-24 07:45] asemiankevich commented on #8489
@siphiuel @flexsurfer anything on this one?

[2019-07-24 08:36] yenda commented on #8047
Hello sorry for the delay @speedyFixer and thank you for working on this. Since we are integrating multiaccounts in the next release, TTT will have to be reworked completely so this issue isn't relevant anymore at the moment.

To answer your question there shouldn't have been any contract interaction, the TTT contract can be disabled by the owner, this is done by setting a boolean that all clients

[2019-07-24 08:38] rachelhamlin commented on #8047
I'm sorry about that @speedyFixer—we've been really focused on getting v1 ready and a few things slipped through the cracks.

[2019-07-24 08:43] flexsurfer opened #8624 "Disable stickers in testnet"
# Problem

It's possible to send test stickers from ropsten network

## Implementation

It should be not possible to select and send stickers from testnets

[2019-07-24 08:53] #8612 closed, assigned to yevh-berdnyk

[2019-07-24 09:08] flexsurfer commented on #8489
@asemiankevich no i think, we're focused on release

[2019-07-24 09:18] flexsurfer commented on #8605
@rachelhamlin @annadanchenko let's try to reproduce this in mainnet, maybe it was sticker from old contract or some test sticker with wrong data, so it can't be reproduced with mainnet stickers

[2019-07-24 09:18] rachelhamlin commented on #8624
Adding my notes:

A sticker pack I 'purchased' on testnet can be used as normal on Mainnet, which undermines the economic utility of the feature.

We will still need the option to test stickers on testnet in the future. For beta release v0.14, the easiest thing to do is disable them on testnet.

For future, we can use special builds for testnet use.

[2019-07-24 09:21] hesterbruikman commented on #8443
I believe we also need a loading state for the fiat value shown in the wallet overview and individual accounts. It currently shows '0' until conversion is fetched.

@flexsurfer @rachelhamlin should that be a seprate issue or can it be takn along with this one?
cc @andmironov

[2019-07-24 09:26] rachelhamlin commented on #8605
I am not able to reproduce on mainnet at the moment @flexsurfer

[2019-07-24 09:26] flexsurfer commented on #8443
@hesterbruikman can be done here

[2019-07-24 09:42] hesterbruikman commented on #8443
@andmironov can you share a design here for loading state of fiat value in Account overview and on Account card?

[2019-07-24 09:48] annadanchenko commented on #8499
@hesterbruikman @rachelhamlin please, clarify term we need to use for seed/recovery phrase as both are used now in the new flow while we need to use only one. In older releases we are using "recovery phrase" term

[2019-07-24 10:05] annadanchenko opened #8626 "Term 'Recovery phrase' should be used instead of 'seed phrase' for release 0.14.0"
# Problem

In previous releases up to 0.13.0 we were using term 'recovery phrase' for 12 words used to recover an account. In the release 0.14.0 because of re-design some parts of the app use term 'seed phrase' for the same entity. It should be fixed so old users have consistent experience.

## Implementation

Places to change seed phrase to recovery phrase:
1. Account explorer:
![Screenshot_20190

[2019-07-24 10:58] rachelhamlin commented on #8626
Any instance of `seed phrase` in this build should be updated to `recovery phrase`.

[2019-07-24 10:59] rachelhamlin commented on #8499
~Let's continue with `recovery phrase` for v0.14.~

Wait - I realize this is not for release. Are we meant to be calling it seed phrase or recovery phrase in future @hesterbruikman?

[2019-07-24 11:09] #8566 closed, assigned to nobody

[2019-07-24 11:09] #8593 closed, assigned to nobody

[2019-07-24 11:09] #8583 closed, assigned to nobody

[2019-07-24 11:09] #8578 closed, assigned to nobody

[2019-07-24 12:02] rachelhamlin opened #8629 "Fixes to v1 warning"
# Problem

We have a few issues that need fixing in the v1 notification screen:

1) Any instance of `seed phrase` must be changed to `recovery phase`.
2) The red background warning about phrase backup is easy to miss on small screens.
3) We need to point the links on the page to the right URLs.

[Figma link](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=2591%3A22548)

## I

[2019-07-24 12:18] #7723 closed, assigned to nobody

[2019-07-24 13:07] jakubgs commented on #8629
Here's a redirect: https://v1-changes-explained.status.im/.
Created in https://github.com/status-im/infra-misc/commit/969b7705.
For now it just points at https://status.im/, we can update it later.

[2019-07-24 13:35] rachelhamlin commented on #8629
Thanks @jakubgs!

[2019-07-24 13:39] rachelhamlin opened #8631 "Fix sticker price UI"
# Problem

Fix UI for sticker price

## Implementation

Should match the designs here: https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1521%3A11884

Instead it looks like a toggle button.

![image](https://user-images.githubusercontent.com/15470435/61798178-c0e60f80-ae20-11e9-86f6-6f90993899ab.png)

[2019-07-24 16:10] #8617 closed, assigned to yevh-berdnyk

[2019-07-24 17:15] hesterbruikman commented on #8070
Hi @AshleyOyt, thanks for your interest! This issue is about coding the UI.

[2019-07-24 17:35] hesterbruikman commented on #8456
Just walking through older issues, I notice that on nightly, collectibles are only visible by default on the account overview screen, not on the individual account cards. What do you think, shall I reopen this issue or open a new one?

[2019-07-24 17:53] #8604 closed, assigned to nobody

[2019-07-24 21:32] yevh-berdnyk opened #8633 "Review and fix e2e tests from nightly run"
# Problem

E2E tests fails in https://ethstatus.testrail.net/index.php?/runs/view/3841&group_by=tests:status_id&group_order=desc

## Implementation

Review and update tests

[2019-07-24 23:51] jakubgs commented on #8597
I've merged #8621 in the morning and after a while day of builds running the `metro-cache` folders are all the same size:
[code]
Which indicates to me that the addition of `--reset-cache` has worked, and this issue is resolved.

[2019-07-24 23:51] #8597 closed, assigned to nobody

[2019-07-24 23:51] jakubgs commented on #8597
Though I still would like to upgrade `metro` to the same version as for Mobile...

[2019-07-25 01:36] jakubgs commented on #8512
This part of the instructions terrifies me:

https://f-droid.org/en/docs/Submitting_to_F-Droid_Quick_Start_Guide/

[2019-07-25 01:41] jakubgs commented on #8512
I might have to setup a dedicated server for building with `fdroid build`, I don't want to fill my laptop with garbage that `makebuildserver` pulls.

[2019-07-25 01:49] speedyFixer commented on #8047
thanks @yenda for your explanation, If the Boolean was True then I was disabling the contract by a contract interaction.

I think I can work in a future bounty related to TTT, I will stay attentive for work on this issues. :)

@rachelhamlin No problem :+1: , I comprehend your situation.

Keep up the good work, Status is awesome :).

[2019-07-25 02:34] step21 commented on #8512
before setting up a whole server, maybe something like this can help? https://gitlab.com/fdroid/docker-executable-fdroidserver (though I am not up to date whether this is compatible with reproducible builds and similar stuff)

[2019-07-25 04:12] jakubgs commented on #8512
Eh, a Docker container? That does sound nice, but I thought that wouldn't work since it wants to use Vagrant. How does it use Vagrant within the container?

But yeah, I do like how isolated a Docker env would be, thanks for the suggestion @step21.

[2019-07-25 04:13] jakubgs commented on #8512
Btw, that error about `error: value is null while a set was expected` was due to me using an older version of `status-react` which didn't have the change that makes `config` in Nix never `null`.
Turns out `fdroid build` didn't fetch newest changes when i changed the `commit` to just be `develop` branch.

[2019-07-25 04:15] jakubgs commented on #8512
I'm still not entirely sure on how the server part ties into F-Droid. My current understanding is that I don't need the server to submit the app, the server is for F-Droid organization to build apps others submit. But I might be wrong.

Also, I'm still not entirely sure what `flavour` means in `gradle: <flavour1>[,<flavour2>,...]`. Considering I want to run `gradle` via Nix I'm hoping I can call a

[2019-07-25 04:31] step21 commented on #8512
I just briefly checked the makebuildserver stuff and the docker link. I think you are right, you do not need the buildserver, and anyway it just sets up everything up in vagrant, so it is not necessarily better than a docker image. (though I did not verify if they are roughly the same, as I do not want to install vagrant again...) And the docker link I posted does not run makebuildserver and all t

[2019-07-25 04:40] flexsurfer commented on #8456
new one would be better, thanks

[2019-07-25 09:30] annadanchenko opened #8635 "About shows "Version ()" instead of Version 0.14.0 (201907...) on Android"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Only on Android: on both today's nightly and release build 12 there is no version shown in Profile -> About.
![Screenshot_20190725-112419](https

[2019-07-25 09:30] churik commented on #8548
For me reproducible in "Recovery phrase" field in "Sign in to another ", so can't paste recovery phrase (Android 8, LG V20)

[2019-07-25 11:10] asemiankevich opened #8636 "Error Cannot read property 'setValue' of null when join public chat (desktop)"
# Problem

Error `Cannot read property 'setValue' of null ` when join public chat on desktop

![image](https://user-images.githubusercontent.com/28752642/61870061-c9ece480-aee5-11e9-8be2-1a1ef6b4cffa.png)

## Steps

- open status desktop
- login with recovery phrase since creating new account is not working (known bug)
- tap + -> join Status channel

https://github.com/status-im/status-react/pull/

[2019-07-25 12:30] #8556 closed, assigned to nobody

[2019-07-25 13:45] churik opened #8638 "Several transactions are shown for outgoing token transaction"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: mentioned in https://github.com/status-im/status-react/pull/8552#issuecomment-511362722.
Several issues are introduced by  https://github.com/status-im/status-react/pull/8552:

### 1. If you send tokens from your account there are two transactions instead of one.
The first transaction is without amount (`... HND`

[2019-07-25 13:49] churik commented on #8638
@rachelhamlin @annadanchenko release-blocker?

[2019-07-25 14:13] rachelhamlin commented on #8638
How much effort is this to fix @yenda?

[2019-07-25 14:21] yenda commented on #8638
1. unknown I don't know the cause, will investigate
2. not really a bug it's the best effort we talked about, this is the transfers that happened in the transaction, you spend STT and you receive a token
3. I think I know what it is should be less than an hour if I find a quick fix

[2019-07-25 14:24] rachelhamlin commented on #8638
Ah, I see. Okay, if there's a quick fix, great. If not, leave it.

[2019-07-25 14:25] churik commented on #8638
@rachelhamlin @yenda sorry for the confusion, it is not in release branch yet as @yenda said.
So can be postponed.

[2019-07-25 14:33] churik opened #8639 "Can send transaction without recipient"
###  Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "Sign transaction" button is enabled when "Choose recipient" field is empty, so you can sign transaction without recipient.

#### Expected behavior
"Sign transaction" button is disabled

#

[2019-07-25 15:12] rachelhamlin commented on #8638
Oh—better. Drop for now!

On Thu, Jul 25, 2019 at 3:26 PM Tetiana Churikova <notifications@github.com>
wrote:

[2019-07-25 21:56] #8633 closed, assigned to yevh-berdnyk

[2019-07-26 07:35] yenda commented on #8609
@cammellos @rachelhamlin confirmed that @dshulyak is working on it and I am integrating it in status-react, currently paused waiting for multiaccount work to be merged in status-react as it introduce lots of changes in login flow

[2019-07-26 08:03] yenda commented on #8560
hey meanwhile I personally use this script to use the latest nightlies (risky though):

[code]

[2019-07-26 08:23] Rikku-x commented on #8070
Hey, I have applied on Gitcoin and want to work on this issue.

[2019-07-26 08:43] churik opened #8645 "Can't send /send or /request by tapping on them from suggestions"
###  Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: can't use `/send` or `/request` commands in 1-1 chat - if you tap on suggestions on Android nothing happens, and no available commands appears on IOS after `/`
You can still use commands if you type all parameters manually.

#### Expected behavior
can tap on `/send` or `/request`

#### Actual behavior
on Android:

[2019-07-26 09:49] rachelhamlin commented on #8069
FYI to anyone checking in: we'll have @bitsikka take over on this issue while @tbenr is away. Looking for @StatusSceptre's help in reassigning it on gitcoin, but the issue is claimed now.

[2019-07-26 10:14] hesterbruikman opened #8647 "Add collectibles empty state to single Account card"
_Type_: Feature

_Summary_: There are two assets represented in the wallet: tokens & collectibles.

Currently, a user does not see the collectibles tab on the individual Accounts card unless they own collectibles supported by the Status wallet. This feature _is_ implemented on the Account overview screen.

The collectibles tab should be visible no matter what, with an empty state for users who don

[2019-07-26 10:23] hesterbruikman commented on #8447
@andmironov for the above items: can you please check if there's more detailed specification to be added?

[2019-07-26 10:24] flexsurfer opened #8648 "Packs aren't shown in mainnet but we have them in the contract"
# Problem

Packs aren't shown in mainnet but we have them in the contract

## Implementation

contenthash encoding should be fixed in status-react

[2019-07-26 10:28] hesterbruikman commented on #8443
And also what should happen on refresh. Referring to "Refresh wallet should work like it worked before"

[2019-07-26 10:29] andmironov commented on #8447
I'd be happy to provide the details if needed, but for now, every item of the list above seems straightforward to me.

The only thing is

I think it might better be a separate issue since it's not super important and it (at least to me) seems to require a lot of implementation effort? Correct me if I am wrong.

anyway, @errorists can you share the link to the prototype you've made?

[2019-07-26 10:33] errorists commented on #8447
![andrey](https://user-images.githubusercontent.com/4932774/61945942-92437280-afa1-11e9-8995-afe8d6391a5f.gif)
![andrey2](https://user-images.githubusercontent.com/4932774/61945953-996a8080-afa1-11e9-9b87-6f55b3f80093.gif)

[2019-07-26 10:34] #8626 closed, assigned to nobody

[2019-07-26 10:37] #8631 closed, assigned to nobody

[2019-07-26 10:44] #8639 closed, assigned to nobody

[2019-07-26 10:45] andmironov commented on #8443
Pull-to-refresh, a spinner is shown while loading:
<img width="392" alt="Screen Shot 2019-07-26 at 13 40 36" src="https://user-images.githubusercontent.com/3115606/61946356-02a2c180-afab-11e9-8f4f-51dc2b131ab6.png">
Here's an old GIF with the old design, but the concept is the same https://dribbble.com/shots/3777816-Status-Wallet

Here's what I've had in Figma prepared, made under the impression t

[2019-07-26 10:46] #8636 closed, assigned to nobody

[2019-07-26 10:46] #8580 closed, assigned to nobody

[2019-07-26 10:48] hesterbruikman commented on #8443
🙌 thanks @andmironov

[2019-07-26 12:02] hesterbruikman opened #8650 "Make Back up seed phrase notification in wallet tappable and add display logic"
_Type_: Feature

_Summary_: The Wallet > Account explorer shows a notification [Back up your seed phrase]

1. Notification needs to be tappable. When tapped it needs to open the back up seed phrase flow
2. Notification needs to appear as soon as the user has assets in their wallet

_Already implemented: Notification disappears once the user has completed the back up seed phrase flow._

3. BONUS: t

[2019-07-26 12:02] #8638 closed, assigned to nobody

[2019-07-26 12:37] tbenr commented on #8069
@rachelhamlin I released the issue in gitcoin. I think @bitsikka can tale over now

[2019-07-26 12:47] bitsikka commented on #8069
done!

thanks! @tbenr

[2019-07-26 13:03] #8648 closed, assigned to nobody

[2019-07-26 14:16] hesterbruikman commented on #6339
@Serhy have you experienced this issue since? @simonricoo is running into the same issue trying to install nightly

[2019-07-26 14:38] Serhy opened #8651 "Re-enabled disabled e2e (fix where updates are needed)"
Re-enable the next tests and fix them according to current app design (most of them were disabled after new onboarding, new wallet sign-in process, disabling custom usernames)
- test_offline_messaging_1_1_chat
- test_messaging_in_different_networks
- test_add_to_contacts
- test_unread_messages_counter_1_1_chat
- test_request_eth_in_wallet
- test_wallet_set_up (please see updated scenario in https:

[2019-07-26 15:14] jakubgs commented on #6339
Which nightly? Can you tell us what is the current version you have and which nightly you are trying to install?

[2019-07-26 15:38] Serhy commented on #6339
@hesterbruikman yes, I have.
Reproduced when I upgrade Release 0.13.0 build installed from TestFlight onto latest  https://i.diawi.com/oBPN38 nightly build (2019072603) - the same error as in description prevents me to do that

[2019-07-26 15:44] hesterbruikman commented on #6339
Interesting! Best for @simonricoo to confirm. Afaik latest attempt was installing today's nightly on top of 0.13 from Testflight on iPhone X.

[2019-07-26 15:47] Serhy commented on #6339
Exact app version and device where I just confirmed issue still valid.

[2019-07-27 16:00] jfarid27 opened #8653 "Mailserver Request range error"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to fix the mailserver request errors so that we don't see the error messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what act

[2019-07-29 03:38] bitsikka commented on #8069
I had my build system broken for several days and fixed it yesterday.

Starting with this one (as opposed to #8070) because both are profile related issues, and we might need a fundamental change(replace) the use of `scrollView` to `flatList` to get `onViewableItemsChanged`(it fires with list items coming in and going out of viewable window - perfect) to achieve this effect https://framer.cloud/Av

[2019-07-29 08:29] rachelhamlin commented on #8069
Sounds good to me @bitsikka, thanks!

[2019-07-29 09:28] churik opened #8657 "Keyboard overlaps sign button if you tap on sign after changing "Recipient" or "Asset" field on Send Transaction screen"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when you change  "Recipient" or "Asset"  after setting an amount and tapping Back, at attempt to sign transaction keyboard remains opened and overlaps "sign" button.

#### Expected behavior
no overlapping

#### Actual behavior
![photo_2019-07-29 11 09 11](https://user-images.githubusercontent.com/4557972/62036044-

[2019-07-29 09:56] Serhy opened #8658 "Duplicated own messages when 'Fetch 24h history' in public chat after release upgrade 0.13 -> 0.14"
***Type***: Bug

*Summary*: After upgrade from release 0.13 to release 0.14 version -> if to tap 'Fetch 24h history' in public chat (with messages sent in v0.13) then your own messages are duplicated

No messages duplication in 1-1/Group chats
And all fine for upgrade from 0.12.2 -> 0.13

#### Expected behavior
No messages duplication upon 'Fetch 24h history'

#### Actual behavior
Duplicated own m

[2019-07-29 10:33] churik opened #8659 "Unable to restore account or log in if go back after generating key (until manual restart app)"
### Description

*Type*: Bug

*Summary*: when creating account and go back after generating key (i.e. on step choose a key and name or on step of setting password) - you can't restore account with access key or log in with existing account until restarting app.

#### Expected behavior
can restore account

#### Actual behavior
sign in button is disabled
![Monosnap 2019-07-29 12-26-46](https://user-

[2019-07-29 10:46] churik opened #8660 ""Unknown" is shown in group chat instead of name"
### Description

*Type*: Bug

*Summary*: when creating or joining to group chat, instead of name "Unknown" is displayed

#### Expected behavior
group chat name

#### Actual behavior
![Monosnap 2019-07-29 12-44-43](https://user-images.githubusercontent.com/4557972/62042558-aafc9400-b1fe-11e9-99dc-fa0542fd41d0.png)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

[2019-07-29 10:54] hesterbruikman opened #8661 "Issues in Desktop two-pane UI"
Collection of issues found on WIP desktop-mobile #8630.

[code]

* [ ] 1. When opening a new public channel via [+]-button, it's not added to left pane.
* [ ] 2. Left pane content might need some scaling down, most channel names become unreadible and all start with Status
* [ ] 3. Bottom nav icons might need some scaling up. They are tiny on desktop
* [x] 4. [Select a chat to start messaging] shou

[2019-07-29 10:59] errorists commented on #8661
🙏 Thanks @hesterbruikman
I'll continue with my batch

[code]

- [ ] Chat list items, either we can correct it manually here so titles use 15px font-size or wait for this issue to get fixed https://github.com/status-im/status-react/issues/7785
- [ ] bottom tab bar is missing its shadow
- [ ] Chat text input field is misaligned, it's hugging too close to the top of the toolbar.
- [ ] On both tablet

[2019-07-29 11:13] Serhy opened #8662 "No chats on 'Chats' view if to clear entered search term in 'Search' chat input"
***Type***: Bug

***Summary***: If to clear "Search" input on Chats view we hide search input (along with 'Cancel' button). Along with that, we give no ability to cancel chat searching and only white screen keep staying on 'Chats' view. So there are no chats that were present on the 'Chats' view are shown and available for open.
After app re-launch everything is fine and chats are displayed as exp

[2019-07-29 11:33] hesterbruikman commented on #7968
No longer relevant with multiaccount introduction

[2019-07-29 11:33] #7968 closed, assigned to corpetty, hesterbruikman

[2019-07-29 11:50] Serhy opened #8663 "No browsing Dapp history after switch to different network"
***Type***: Bug

*Summary*: There is no browsing history on DApp screen present after user switched on a different network from the network where browsing history were saved.
So if user browsed Dapps in Mainnet and then switches on to POA network - there won't be any record.
This agreed to be fixed out of https://github.com/status-im/status-react/pull/8594 from where this issue introduced.

#### E

[2019-07-29 11:54] #8651 closed, assigned to yevh-berdnyk

[2019-07-29 12:20] asemiankevich opened #8664 "Can't remove Custom token (SNTMiniToken) on Ropsten"
# Problem

Can't remove custom token from Assets list if added this token `0x25B1bD06fBfC2CbDbFc174e10f1B78b1c91cc77B`

## Steps

1. open status
2. switch to ropsten
3. go to wallet -> manage assets
4. add custom token with this address for ex
 `0x25B1bD06fBfC2CbDbFc174e10f1B78b1c91cc77B`
5. long tap the token once added -> remove token
6. long tap the token -> view details -> remove token

NOTE:

[2019-07-29 13:17] yenda opened #8665 "Fix 64bit apk freezes on arm64 hardware"
# Problem

When building the app for 64bit arch as required by Google Play Store, we get freezes on arm64 hardware.
The freezes are random. There is no obvious indicator of a freeze in the logs besides the fact that there is no more js logging statements appearing, or no js logs at all in logcat if the freeze occurs during splash screen.

## Implementation

We have tried:
- upgrading realm to v2.2

[2019-07-29 13:18] yenda commented on #8665
blocking the following:
- PR: https://github.com/status-im/status-react/pull/8326/files
- issue: https://github.com/status-im/status-react/issues/8292

[2019-07-29 13:21] flexsurfer commented on #8665
here are the logs when it gets stuck on logo screen https://gist.github.com/flexsurfer/94d5d67eb3880d2c2a62708b50c660b7
these logs when it doesn't get stuck
https://gist.github.com/flexsurfer/b5824a0a1828ad28fc2d7aefa33e6074

[2019-07-29 14:59] rachelhamlin opened #8666 "Add account via BIP 44"
### User Story

As a user, I want to generate a new account from my Status wallet.

### Description

*Type*: Feature

*Summary*: This issue is for the `Generate a new account` path in our list of `Add an account` options.

[Figma link](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=2373%3A1717)

#### Expected behavior

From the wallet, I can select `Add account` to pull

[2019-07-29 15:20] flexsurfer commented on #8665
logs when it gets stuck after interacting with the UI https://gist.github.com/flexsurfer/b5be0623e19c19e401fc16f63be62f71

[2019-07-29 16:04] Serhy opened #8667 "Fix e2e with false failures"
- test_offline_messaging_1_1_chat - we need to consider here that app may stay in 'Offlline' after disabling Airplane mode (see secondary device there which avaiting while no 'Connecting to peers...' is present)
- test_offline_status, test_send_stt_from_wallet and some more tests: when we appear on main Chats screen and tapping `(+)` plus button we need to consider that connecting to peers/mailser

[2019-07-29 17:11] pedropombeiro commented on #8383
Is this issue still relevant?

[2019-07-30 00:53] PfanP commented on #8664
Can I fix this issue?

[2019-07-30 00:53] PfanP commented on #8660
Can I fix this issue?

[2019-07-30 06:02] asemiankevich commented on #8664
@alex-coding-c sure, go ahead!

[2019-07-30 07:35] Serhy commented on #7711
Fixed in #7725. Closing the issue

[2019-07-30 07:35] #7711 closed, assigned to nobody

[2019-07-30 07:48] Serhy commented on #7661
It was implemented in https://github.com/status-im/status-react/pull/8303
Closing the issue

[2019-07-30 07:48] #7661 closed, assigned to churik, antdanchenko

[2019-07-30 08:10] Serhy commented on #8564
Confirmed the crash with Android 8.1 and Android 9 with **Release candidate 0.14** (16th Jenkins build)
On both devices, Status left running on background overnight.

I've seen it when Status was on background for ~1h, sometimes (so no need to wait so long to reproduce the issue)

[2019-07-30 08:30] PfanP commented on #8664
Would you assign it to me?

[2019-07-30 08:36] PfanP commented on #8664
What's the best way to chat with you @asemiankevich? I am very new to this project so I might need some help while deploying it on my local.

[2019-07-30 08:38] asemiankevich commented on #8664
the best way to chat with someone - join Status channel - someone will assist. Also, checkout https://status.im/docs/contributor_guide.html   @alex-coding-c

[2019-07-30 08:43] PfanP commented on #8664
How can I join Status channel? Is it on the gitter?

[2019-07-30 08:44] asemiankevich commented on #8664
it is a channel in Status app

[2019-07-30 08:44] PfanP commented on #8664
Ah I see

[2019-07-30 09:20] StatusWrike commented on #8313
➤ Dmitry Novotochinov commented:

Should be checked if this is a part of V1

[2019-07-30 09:42] guylouis commented on #8313
@rachelhamlin @hesterbruikman
we had planned to prevent the user to take screenshots of the screen when on a screen with secrets (here for keycard puk and pairing code)
this requests some native code for android
if we do that for keycard secrets we should do it for mnemonic too for non keycard users, and thus should be done on android and ios
can we consider this out of v1 (this is what we conside

[2019-07-30 09:49] hesterbruikman commented on #8313
my 2c, regretfully: out of V1

[2019-07-30 09:55] oskarth commented on #8665
Did anyone else with React Native or X other technology see similar issues?

Has someone tried to setup a minimally failing test case? What's the current best hypothesis?

Also cc @PombeirP

[2019-07-30 10:03] oskarth commented on #8665
Could this be related https://github.com/facebook/react-native/issues/24260? Can we add version numbers, platform and environment details to original issue?

[2019-07-30 10:40] churik opened #8670 "Multiaccount's and realm db passwords doesn't match at attempt to create third account (quickly)"
###  Description

*Type*: Bug

*Summary*: when creating several accounts one by one, on third getting an error "Multiaccount's and realm db passwords doesn't match" and after this can't create and restore accounts anymore.
In log: "failed to initialize messages db: file is not a database"
Found during testing https://github.com/status-im/status-react/pull/8601 , but also can be replicated in night

[2019-07-30 11:08] Serhy commented on #8670
Could not reproduce on Android 6.0.1 and Android 8.1 with latest nightly (https://status-im.ams3.cdn.digitaloceanspaces.com/StatusIm-190729-025900-acf627-nightly.apk by this time), but 100% reproduced (upon first and further new account creations) on
Genymotion Emulator (with settings: 2 Processor(s), Memory size 1000, Android v8.0) with `-e2e.apk` (same nightly build but e2e.apk version)

[2019-07-30 11:09] flexsurfer commented on #8665
i couldn't find any reports with similar issues, but here https://github.com/facebook/react-native/issues/25494#issuecomment-514996960 , ppl still experience problems and author of 59.10 fix suggests to try 60.4 and new engine, we're trying to check this currently with @yenda but nix makes things slower, maybe @PombeirP could help with that

[2019-07-30 11:11] cammellos commented on #8670
@Serhy weird I sort of have the same, not really sure why is that

[2019-07-30 11:56] Serhy commented on #8670
@cammellos  I know how to reproduce on real device:
The error occurs when the second (or third or later) created/recovered account has different password that the first account.
Everything is OK when using the same password for all accounts.

With emulator not sure why it was happening even with the first account creation on my side, - maybe sql database is cached or kept from previous builds - be

[2019-07-30 11:59] cammellos commented on #8670
thanks!

[2019-07-30 12:41] yenda commented on #8665
Tested as well without realm and with latest jsc https://github.com/status-im/status-react/pull/8528/commits/a1834903b0d6c6f030a60f7763f97fd40c0ec167

Still freezes

Next steps:
- we can try upgrading as many libs as possible, possibly focusing on those who are using native code, though I don't have much hope for that because there is 0 errors in the logs when the freezes occur
- upgrading react-n

[2019-07-30 12:58] yenda opened #8672 "Update react-native to 0.60.5 and use Hermes js engine"
# Problem

react-native recently had a major update to 0.60. It brings a lot of improvements, including auto-linking of libraries and an improved JS engine for Android called Hermes

Hermes is the main reason we want to do this upgrade now, because the Play Store now requires to publish 64bits apks starting 1st of August. As of today are experiencing random freezes on 64bits architectures with the

[2019-07-30 13:07] #8667 closed, assigned to yevh-berdnyk

[2019-07-30 13:19] pedropombeiro commented on #8665
Comparing these logs, what stands out is that there are no entries for `ReactNativeJS`/`StatusModule`/`RNKeychainManager` on the 1st case.

In this one, there are entries for `ReactNativeJS`, but not for `StatusModule`/`RNKeychainManager`.

Comparing `lib/arm64-v8a/libstatus-logs.so` and `lib/armeabi-v7a/libstatus-logs.so`, the 64-bit version of the lib suspiciously takes <6KB while the 32-bit tak

[2019-07-30 13:38] flexsurfer opened #8673 "Temporay hide commands from chat and extensions"
Temporay hide commands from chat and extensions

[2019-07-30 14:07] oskarth commented on #8665
Honestly I think this is a suboptimal approach to debugging the problem. The problem with it is it that it is a *positive one*, where you add stuff.  The only time this would make sense imo is if there's a clear hypothesis, for example based on similar bug reports, that this would resolve the issue.

A better approach to isolate the error instead is the *negative one*, where we try to find a *mini

[2019-07-30 14:55] pedropombeiro commented on #8665
I'm comparing the `readelf` output from both the 32-bit lib and the 64-bit lib to check the import/export tables, and you can definitely see that quite a bit is missing (although the main export `JNI_OnLoad` is indeed there):

![image](https://user-images.githubusercontent.com/138074/62140061-9d243d00-b2ea-11e9-8a4c-c95ec275f503.png)

In addition to comparing the full objdump logs, I'll try adding

[2019-07-30 15:07] rachelhamlin commented on #8313
Agreed. Do we have this in Wrike?

[2019-07-30 15:09] guylouis commented on #8313
Here https://www.wrike.com/open.htm?id=357492241

[2019-07-30 15:23] hesterbruikman opened #8676 "Increase number on 'unread' messages indicator to +99"
As a user I want to be able to see if the number of unread or new messages in a chat make it worthwhile to open the chat to read up on messages or ignore them in case there are too many.

The current logic and representation of unread/new messages is not achieving the goal. Often all chats are shown to have +9 messages and it is not clear how to get rid of this indicator; As a result it continues

[2019-07-30 15:26] hesterbruikman commented on #8676
@rachelhamlin @annadanchenko @errorists would love your thoughts or a thumbs up on this issue as a quickfix to 'unread messages'.

Related issues:
https://github.com/status-im/status-react/issues/6375
https://www.wrike.com/open.htm?id=359077270
https://github.com/status-im/status-react/issues/7497

[2019-07-30 15:41] pedropombeiro commented on #8665
Even more telling is dumping the contents of the `.rodata` ELF section (`readelf -p.rodata`):

![image](https://user-images.githubusercontent.com/138074/62144003-5423b700-b2f1-11e9-8160-d96185b88cde.png)

I'll try to find out where the missing strings are coming from and that should inform us of what input is missing in the arm64 library.

[2019-07-30 16:45] Serhy opened #8677 "Cover the list of test cases with e2e automates tests"
Create automated tests for the next test scenarios from TestRail:
- [x] https://ethstatus.testrail.net/index.php?/cases/view/6208
- [x] https://ethstatus.testrail.net/index.php?/cases/view/5738
- [x] https://ethstatus.testrail.net/index.php?/cases/edit/6202

[2019-07-30 17:13] #8673 closed, assigned to nobody

[2019-07-30 18:36] #8480 closed, assigned to nobody

[2019-07-31 09:24] rachelhamlin commented on #8676
I give it a thumbs up for a quick fix. 🙂
We can revisit all this slack in messaging after V1 release is cut.

[2019-07-31 09:47] pedropombeiro commented on #8665
I created a local PR build and from the logs can see that status-go is working (search for `GoLog`): https://gist.githubusercontent.com/PombeirP/380cf5da9e7e2d4eb4da79e3ca9620fd/raw/87b96bb4a389bf7e9633c1209b608628a15d3707/Status.log

[2019-07-31 10:54] pedropombeiro commented on #8665
OK, some more data. In this [run](https://gist.github.com/PombeirP/4e2635b42dd2b766a6575019ae59bd05), I was able to create an account and see the chat screens. I then went to add a public chat, and it hung on the public chat list. Even though the UI was hung, I could still see signals from status-go being processed by the status-react Java code, e.g.:

[code]

From subsequent runs, I gathered some

[2019-07-31 11:09] yenda commented on #8665
So as we are suspecting the JSC, we are going to switch it with Hermes to see if the problem persists

[2019-07-31 11:20] churik opened #8678 "App freezes if tap on sticker with non-existing contract"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if tap on sicker, sent by someone in chats that is not available anymore - app freezes and to continue work you need to releaunch it.

#### Expected behavior
no freeze

#### Actual behavior
app is freezing

### Reproduction

- Open Status
- Tap on sticker sent earlier (contract for stickerpack doesn't exist anymor

[2019-07-31 14:51] corpetty commented on #8573
In regards to this issue and V1 audits, this can be done outside of the audit. Current implementation asks for permission from user, the display just doesn't show (on actual devices) and shows on emulators so there is a bug here, not a security issue.

[2019-07-31 15:15] pedropombeiro commented on #8665
Currently trying to build any non-trivial RN sample app which is built on 0.59.x, such as from [this list](https://reactnativeexample.com/tag/apps-tag/), to see if they suffer from the same issue or if we can modify them to reproduce the issue, but it's proving challenging to find one that actually builds and runs...

[2019-07-31 15:49] flexsurfer commented on #8665
maybe it would be better to remove all from status-react, create a few simple screens and try

[2019-07-31 22:09] pacamara commented on #8136
All review suggestions implemented in latest commit (above), except for a couple where more clarification is needed.

[2019-07-31 22:44] tbenr commented on #8071
@gitcoin i'll continue next week

[2019-08-01 05:10] jakubgs commented on #8665
I think @flexsurfer has the right idea. Building the app using our current stack but with almost everything removed to see if it fails the same way, and if it doesn't keep re-adding screens/whatever else to see what triggers the freeze.

[2019-08-01 06:53] flexsurfer commented on #8665
this may be challenging and time-consuming

One more quick idea is to build release v13 for 64, because in current develop we have all performance optimizations, js modules etc

[2019-08-01 07:09] flexsurfer commented on #8665
Error libgnustl_shared.so is 32 bit instead of 64-bit (android) https://github.com/status-im/status-react/issues/4478
fix libgnustl_shared.so is 32 bit instead of 64-bit https://github.com/status-im/status-react/commit/b50cbd036b2dbc004bd72ff05d951d60cb3cd739
so before this commit we had 64-bit working version?
no: https://github.com/status-im/status-react/commit/4b7360db17e68cf865958316cc59131bde

[2019-08-01 08:04] flexsurfer commented on #8665
@jakubgs @PombeirP v13 is failed https://ci.status.im/job/status-react/job/combined/job/mobile-android/11568/console

[2019-08-01 08:14] yenda commented on #8665
@flexsurfer don't waste your time going back, previous versions of react-native didn't even support 64bits

first version of react-native to support 64bits was 0.59.1
we made a big jump for 56 to 59 in this commit https://github.com/status-im/status-react/commit/24a978d44219314f550b5b02323c09c9cfcf3548#diff-66a880bc35034360e66422980df146b0 which was part of 0.12 https://github.com/status-im/status

[2019-08-01 09:21] pedropombeiro commented on #8665
If I build v13 locally I get a different error:

[code]

[2019-08-01 10:47] Serhy commented on #8412
This issue is present in RC 0.14 on Android (no bugs with iOS)
Means on Android user not only won't be able to modify NetworkFee but gets an app crash.

[2019-08-01 10:53] #8629 closed, assigned to nobody

[2019-08-01 11:27] flexsurfer commented on #8665
ok, i have a news , after  removing `react-native-status` module app works
two commits:
https://github.com/status-im/status-react/pull/8683/commits/35a665b21eb86f0ade3012fda3b469f63ff41f89
https://github.com/status-im/status-react/pull/8683/commits/1e5525304c68fd8fb707c39aa8aa62dc4056027f

build: https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190801-105131-1e5525-pr.apk

[2019-08-01 11:48] bitsikka commented on #8069
I had a slight interruption but I'm back on this.

- Had to figure out how the chat key/qr share is different from wallet address/qr share(which already exists - which makes it that much easy). Basically copying the wallet address share and appropriating it for chat-key.
- figuring out how ens name for wallet/chat key part
- Found an edge-case bug related to touch/drag selecting/copying which I wi

[2019-08-01 11:52] flexsurfer commented on #8665
@PombeirP could you take a look?

[2019-08-01 12:04] pedropombeiro commented on #8665
@flexsurfer It's hard to say whether it fixes the issue or not, since with this change most of the screens were removed, so there is not much that can be done inside the app to exercise the functionality. Perhaps the only indicator is whether it stops locking up in the splash screen, but I didn't get that often in my P20 Pro. Normally it hung when creating an account or joining a public chat. I'll

[2019-08-01 12:10] flexsurfer commented on #8665
@PombeirP we tested the same version but with status native module and it froze

[2019-08-01 12:11] flexsurfer commented on #8665
this one https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190801-093418-1ac0e4-pr.apk

[2019-08-01 12:28] flexsurfer commented on #8665
ok it works with native module, but with this change https://github.com/status-im/status-react/pull/8685/commits/a32e60413d6d58aad21d869480eae73bfe56c6c5

[2019-08-01 12:29] pedropombeiro commented on #8665
It doesn't prove beyond a reasonable doubt that the problem is inside react-native-status (it could be due to some weird interaction), but it does give us some clues to investigate. The question is what part of react-native-status might be causing this. If we disable all calls to status-go instead of removing react-native-status altogether, we'll still have a very crippled app but at least we're a

[2019-08-01 12:42] pedropombeiro commented on #8665
I'm looking at gomobile to see if there's any weird arm64 stuff going on, like [this](https://github.com/golang/mobile/commit/74ee969d3ffc95befa9a96a6590c36d71b6afd52#diff-b4be1282e0667def98290b75c69e8219R431), and whether our Reproducible Android gomobile build differs from the status-go Jenkins build.

[2019-08-01 13:44] bitsikka commented on #8069
On that note, in the existing implementation of sharing `chat key` as modal screen, there is `show-tribute-to-talk-warning?` condition for visibility of said warning; But, new design in figma does not reflect that part. I am assuming that will come later and leaving it out as I port modal to popover design.

Also of note is that Figma design asks for `tap on list item to copy`, whereas existing fu

[2019-08-01 13:56] rachelhamlin commented on #8069
@bitsikka ah yes - that would be correct. Please leave out the TtT bit.

Hmmm cc @errorists so he's aware of tap vs. long press. Was `tap on list item to copy` a request for a new behavior?

[2019-08-01 14:11] errorists commented on #8069
@bitsikka hey, what exactly is stopping us from evoking the Copy menu via a regular tap? it's about discoverability, most of the time you'd try to tap first rather than long-pressing onto something. You mention that 99% of the screen area can be used to dismiss a popover, surely that's an exaggeration, it's specifically tapping outside of it and with these, the popover takes more than half easily

[2019-08-01 14:25] bitsikka commented on #8069
Thanks @rachelhamlin for making the key concern clear :)

@errorists there is no api for `text` or `text input` component to trigger the `copy` context menu programmatically in react-native that I know of. We'd have to fork the component out of react-native and implement it natively. There are some third party components that could be employed but maybe overkill.

I think what can be done is that

[2019-08-01 14:28] bitsikka commented on #8069
I mean for this - the functionality itself "copy on tap" is not the problem -  hardcoded behavior of copy context-menu upon long-press is the problem to replicate "on single tap"

[2019-08-01 14:34] errorists commented on #8069
Ok, let's do it via long press. I've seen wallets made with React Native ([Rainbow](https://github.com/rainbow-me/rainbow)) where regular press -> context menu works, so I never thought this might require going through so many hoops.
And good lord, how did that wallet popover get through QA 😬 it definitely shouldn't be the case, tapping inside should be ignored. Thanks for mentioning that!

[2019-08-01 14:38] bitsikka commented on #8069
Interesting! I will check out how `rainbow` does it and try to replicate it - having to long press actually bothered me very much in the first place to bring it up

[2019-08-01 14:49] pedropombeiro commented on #8665
Did another experiment, to rule out whether the issue was with the Nix status-go build: I modified the Nix recipe to build status-go (with gomobile) so that it just takes the latest status-go manual build from Jenkins. I was able to progress all the way to add a public chat in one go, but it still hung at that point.

[2019-08-01 14:58] pedropombeiro commented on #8665
Also, fwiw @flexsurfer I did the following experiments, all of which still resulted in hangs:
- leaving `setMobileSignalHandler` in and commenting out the contents of `StatusModule.handleSignal`;
- commenting out the contents of `SetMobileSignalHandler` on the Go side.

It's as if as soon as we call into `Statusgo`, we're prone to this hang. (will test the hypothesis by calling `Statusgo.appStateC

[2019-08-01 15:01] corpetty commented on #8577
So to be clear, status-react providers are NOT using websockets.  In order to fix this, then we need to use them, correct?

[2019-08-01 15:13] jrainville commented on #8577
That's my understanding of the problem yes. The Status-React providers are completely custom so they probably need WS support just like Web3js' Websocket provider (https://github.com/ethereum/web3.js/blob/2.x/packages/web3-providers/src/providers/WebsocketProvider.js)

One way to do it would be to find a way to extend the Web3's WS provider like
[code]

Or maybe to make the Status-React use the WS

[2019-08-01 15:57] corpetty commented on #8577
this isn't a terribly security sensitive issue.  I ask because of V1 audit scope.  Events processing in dapps is pretty big though for usability and interactivity within the app.

[2019-08-01 16:11] bitsikka commented on #8069
@errorists turns out `Rainbow` which is iOS only app, uses [`react-native-tooltip`](https://github.com/chirag04/react-native-tooltip/issues/40) - a third party component which is also iOS only :(

leaning towards using `react-native-tooltip` for iOS, with react-native built-in long-press version for Android for now, but not sure.

[2019-08-01 16:18] bitsikka commented on #8069
Now I'm thinking, it might be good idea and less over-kill to replicate platform specific fake copy context-menu/tool-tip with a custom non-native component. I don't think something "so simple" has to be natively implemented.

[2019-08-01 16:26] flexsurfer commented on #8665
it's not only setMobileSignalHandler, any call to status go may lead to hang
this is latest develop without go calls, and it works
https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190801-160041-8ebd2a-pr.apk
this is the change https://github.com/status-im/status-react/pull/8326/commits/8ebd2a1e2c17753162fef49641ab5d57cf908374

[2019-08-01 16:28] flexsurfer commented on #8665
but only with this one it still hangs https://github.com/status-im/status-react/pull/8326/commits/06d8d338cfb320bd7b98d6fd343e0daf5561bb1d

[2019-08-01 16:45] pedropombeiro commented on #8665
Yup, calling `Statusgo.appStateChange("wifi")` instead of `Statusgo.setMobileSignalHandler(this)` still caused the app to hang (only on arm64), so it sounds like as soon as we call into Statusgo, we're prone to these hangs. Now the question is: why is that the case?

[2019-08-01 17:02] pedropombeiro commented on #8665
I'll try upgrading to latest gomobile. It seems to have some changes relevant to arm64.

UPDATE: Upgrading gomobile didn't seem to fix the hang, unfortunately.

[2019-08-01 17:42] pedropombeiro commented on #8665
Maybe we should build a proof-of-concept RN app which calls a simple method in Go through gomobile? I'll be on holiday tomorrow, but I can work on that on Monday.

[2019-08-01 23:54] jakubgs opened #8690 "When recovering from a phrase the password is not confirmed"
This has happened at least 3 times to me already, where I've recovered my account successfully, but then when logged out I could not log back in because the password was incorrect.

The screen for recovering an account from the phrase should have two password fields and verify they match.

[2019-08-02 06:35] errorists commented on #8069
![bitsikka](https://user-images.githubusercontent.com/4932774/62349523-4728e280-b500-11e9-9fcc-26d5fc973936.gif)

ok how about something simple like showing a tooltip for a second after tap? for animated values are opacity 0 to 1 to 0 and translateY 10 to 0 to 10, duration 140ms ease.

[2019-08-02 07:22] bitsikka commented on #8069
@errorists Sounds good! - that idea did cross my mind

Then, I also found https://anchorchat.github.io/anchor-ui-native/#/context-menu which is implemented as a regular(non-native) component just like I suspected there would be. Existing tooltip, this component, and the idea you just suggested are/can-be implemented simply without native coding.

This idea is actually less step, clean, and simple;

[2019-08-02 07:25] flexsurfer commented on #8690
will be addressed here https://github.com/status-im/status-react/pull/8687

[2019-08-02 07:33] bitsikka commented on #8069
I found a bug in ENS registration where it checks for already owned name. I needed ENS name to test the name UI part and tried to get already owned name registered in the app - but it failed to recognize I am the owner of the name even though I did own the name.

Turns out comparision of resolved name to wallet address in app failed because of difference in eip55 checksum. I got it to recognize my

[2019-08-02 07:34] errorists commented on #8069
Cool! just fyi, we will need a robust tooltip component in the future once we'll finally start working on stuff like message reactions

![reactions](https://user-images.githubusercontent.com/4932774/62352523-a12da600-b508-11e9-94bf-ac2d640bccc7.gif)

[2019-08-02 07:42] bitsikka commented on #8069
Cool! I remember seeing those 😄

in which case a native implementation would probably be the way to go. But I'll keep that in mind. Tooltip already exists for error messages - will take a look at its implementation too. I think better to call this context-menu.

[2019-08-02 08:33] churik opened #8691 ""Invalid number" (no gas limit is set by default) instead of insufficient balance error at attempt to register ENS name"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if you don't have enough SNT to register new name - instead of appropriate error application couldn't set Network fee (Gas Limit is always empty)
If you set it Gas Limit manually, you can proceed and sign transaction - "Intrisic gas too low" error.
Theoretically, it can be reproduced in any DApp if token balance i

[2019-08-02 13:23] annadanchenko opened #8693 "Test if strings from en.json are used in the code and create a list of unused strings"
# Problem

Some stings from https://github.com/status-im/status-react/blob/develop/translations/en.json are not used in the app anymore but they are present in all translations files and eat space. For example,
[code]

 We need some test that would detect unused strings and lists them in a bug report. This test also can become part of nightly suite to detect similar issues in the future

[2019-08-02 13:23] annadanchenko commented on #8693
comment from @yenda "one could search for ":t/%s" in the codebase, sort, uniq but I think there is some programmaticaly generated labels so there will be exceptions"

[2019-08-02 13:45] annadanchenko opened #8694 "String "Nobody sees your name unless you provide it" should be changed/removed?"
# Problem

In the phrase from  "about-names-content" we say
`Your identity is secure and private by design. You get a locally generated cryptographic keypair. The name and image are a readable version of this. They are unique. Nobody can pretend to be you. Nobody sees your name unless you provide it.`
Statement `Nobody sees your name unless you provide it` is wrong because everyone can see 3 words

[2019-08-02 13:57] hesterbruikman commented on #8694
Good catch! Maybe we can add "Nobody sees your `real world` name unless you provide it"?

Else I'd prefer option 2. I believe introducing ENS in Onboarding would be too much for newcomers unfamiliar to ENS and not essential at time of onboarding

[2019-08-02 14:20] rachelhamlin commented on #8069
Oh dear. Glad you caught that ENS bug and the source of it too @bitsikka. I'll capture it in an issue--it didn't come up during QA of ENS name registration & verification.

[2019-08-02 14:30] annadanchenko commented on #8693
Other non-used stings:

-  "address-explication": "Your public key is used to generate your address on Ethereum and is a series of numbers and letters. You can find it easily in your profile",

[2019-08-02 18:14] yevh-berdnyk commented on #8677
The last step was moved to https://ethstatus.testrail.net/index.php?/cases/view/6220

[2019-08-05 06:40] cammellos commented on #8653
@jfarid27 are you running the latest status-go docker image? If not, could you try upgrading? Let me know and thanks for reporting the issue

[2019-08-05 08:39] annadanchenko opened #8698 "Duplicate strings in translations"
# Problem

There are duplicate entries with same content but different keys in https://github.com/status-im/status-react/blob/develop/translations/en.json and the rest of non-English translations files in https://github.com/status-im/status-react/blob/develop/translations .

For example: for word `Cancel` there are 3 keys:
- "browsing-cancel"
- "cancel"
- "message-options-cancel"

Full list of 41

[2019-08-05 10:56] rachelhamlin commented on #8694
Ditto - I like `real name`.

[2019-08-05 12:17] annadanchenko commented on #8693
@yevh-berdnyk any estimations on when it can be done?

[2019-08-05 13:02] pedropombeiro commented on #8665
I was able to create a minimal RN sample that reproduces the hang. It still uses status-go as the import, so now the next step is to use a minimal gomobile project.

[2019-08-05 13:24] speedyFixer commented on #8469
Hi, thanks guys, I "solved" this, closing any app when I execute those commands. Thanks.

[2019-08-05 14:09] #8670 closed, assigned to cammellos

[2019-08-05 15:05] andmironov opened #8701 "Keycard sign up/sign in UI/UX fixes"
Creating a separate issue for design fixes mentioned here https://github.com/status-im/status-react/pull/8618/ for them not to get lost:

- If I tap the card before I've chosen "Keycard" as storage, I get a popup "Connection with the card has been lost"';
- If I try to set up a card, which has been already been used, I see an alert "This card has already a miltiaccount on it, please login...". I t

[2019-08-05 15:09] pedropombeiro commented on #8665
Built the simplest Go project with a single exported method `DoSomething`, and that still causes the RN sample app to hang at startup. Once I clean it up I'll have what I need to create a bug report in https://github.com/golang/go/issues.

[2019-08-05 15:34] churik opened #8702 "Unable to sign in or restore account if password cointains ' symbol (quotemark)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: using password with quotemark `'` leads to error:
[code]
 and user automatically logged out

#### Expected behavior
can use password with  ' symbol

#### Actual behavior
error

### Reproduction

- Open Status
- Try to create account with password that contains `'`

### Additional Information

[comment]: # (Please

[2019-08-05 15:36] churik commented on #8702
@cammellos @rachelhamlin imo should be fixed in scope of V1

[2019-08-05 15:46] dmitryn commented on #8701
Some of the issues were already resolved in https://github.com/status-im/status-react/pull/8618
i'm marking them with checkboxes:

- [ ] If I tap the card before I've chosen "Keycard" as storage, I get a popup "Connection with the card has been lost"';
- [ ] If I try to set up a card, which has been already been used, I see an alert "This card has already a miltiaccount on it, please login...". I

[2019-08-05 15:48] cammellos commented on #8702
@dshulyak I can check on our side (`status-protocol-go`), but are you hashing the password on yours (browsers etc), as if not that's likely the reason?

Because breaking changes are ok,we could also hash it before sending it to status-go (so that Login will get the hashed password), sounds safer and we don't really have to worry about this anymore, but not sure if there are other unintended conseq

[2019-08-05 15:49] guylouis opened #8703 "NFC setting on/off is not detected dynamically"
Verified on Oneplus 6, and Samsung J5

When trying to onboard on a android phone with Keycard, the user goes through three screens
i. Select Key storage
ii. Store your key on Keycard information screen
iii. "Hold card to the back of your phone" (if NFC is on), or "Turn NFC on to continue" (if NFC is off)

Problem: if the user NFC is off, and is prompted to turn it on on step ii, then he turns it o

[2019-08-05 15:55] guylouis opened #8704 "if NFC is off, user is not prompted to turn NFC on at login"
Tested on oneplus 6

- user has a keycard multiaccount
- NFC is turned off
- user tries to login
- user is asked to tap his Keycard and is not prompted to turn his NFC on

cc @asemiankevich

[2019-08-05 16:10] guylouis commented on #8180
@corpetty
this is not implemented yet, however it's on the backlog
can this be done post code freeze or should it be done before ?

cc @rachelhamlin

[2019-08-05 16:24] rachelhamlin commented on #8702
Thanks @churik. Can we begin flagging v1 release issues with the label? cc @annadanchenko

[2019-08-05 16:55] pedropombeiro commented on #8665
Repro app is available [here](https://github.com/PombeirP/arm64-hang-repro-app). @flexsurfer I'd appreciate it if you could follow the build instructions to ensure that others can also reproduce it before I create an issue in the golang repository.

[2019-08-05 19:28] yevh-berdnyk commented on #8693
@annadanchenko I'm planning to accomplish it tomorrow

[2019-08-06 03:09] oskarth commented on #8665
For clarity, what about:

1. Simplest Android app (no RN) and Go?
2. Simplest Android app and no Go?

[2019-08-06 06:49] asemiankevich commented on #8703
@guylouis yes, as i said - the flow is now more a happy path , there will be more issues . I suggest to retest and fix everything when the implementation is done.

[2019-08-06 06:49] asemiankevich commented on #8704
@guylouis yes, as i said - the flow is now more a happy path , there will be more issues . I suggest to retest and fix everything when the implementation is done.

[2019-08-06 07:10] pedropombeiro commented on #8665
That'd be useful, but since the way that this bug manifests itself is through a hang of the JavaScript UI thread, I'm not sure how we'd reproduce it in a completely native app. We could get lucky and witness a hang of the native main thread, but might be a long shot. Still worth trying though.

[2019-08-06 07:14] pedropombeiro commented on #8665
I'd like to also generate a native arm64-v8a through some method other than Gomobile (maybe xgo?), in order to prove that the issue really comes from the way they generate the library.

[2019-08-06 08:08] rachelhamlin opened #8707 "Implement EIP55 for ENS verification"
# Problem

Identified by Bitsikka in #8069.

## Implementation

Implement EIP55 for ENS address registration/verification.  http://eips.ethereum.org/EIPS/eip-55

## Acceptance Criteria

Checksummed and non-checksummed addresses can both be verified and used in Status.

[2019-08-06 08:37] rachelhamlin commented on #8069
Hey @bitsikka! Doing some bounty management - you're on this one + #8070. Should we expect to review anything this week?

[2019-08-06 09:07] pedropombeiro commented on #8665
I've created a sample app derived from an Android sample (BasicTransition) which calls the same gomobile library, but it doesn't seem to suffer any problems after invoking `DoSomething()` on that library.

I've also tried using xgo to build an aar which contains an arm64 library, but for some reason xgo only seems to want to build 32-bit targets in the aar. Maybe @adambabik knows more about this.

[2019-08-06 09:46] oskarth commented on #8665
Sounds good.

Seems useful, perhaps people upstream have further thoughts. I notice there are a bunch of issues related to arm64 and mobile https://github.com/golang/go/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+arm64+mobile+ but don't know if any of them are related. Maybe `gdb` and backtrace would help? On the Go side obviously.

Perhaps it'd make sense to open an upstream issue in both Go and

[2019-08-06 10:08] pedropombeiro commented on #8665
I've built the sample using RN 0.60.4 and these are the findings when running the debug app:
- Hermes disabled:
  - arm64-v8a: it still hung when asked to reload JS;
  - armeabi-v7a: did not hang when asked to reload JS;
- Hermes enabled:
  - arm64-v8a: did not hang when asked to reload JS;
  - armeabi-v7a: did not hang when asked to reload JS;

So while this does not inform us regarding the root

[2019-08-06 10:24] Serhy opened #8708 "App crash when open Status after it was put on background with Android hardware 'Back' button"
***Type***: Bug

***Summary***: When user taps upon Android hardware 'Back' button being on Chats main view Status is put on the background. However, opening Status again results in an app crash with error `java.lang.illegalArgumentException: No view found for id 0x5ff (unknown) for fragment ScreenFragment{478dd37 #0 id=0x5ff}`

<img width="352" alt="Screenshot 2019-08-06 at 12 05 50" src="https:/

[2019-08-06 10:42] bitsikka commented on #8069
@rachelhamlin
I'm close to getting this one done to the point of being reviewed.
- got the address sharing part done
- working on profile pic/name/shadow/separator animation/transition - major-part/tricky-bit of this already figured out
- porting bottom sheet remains

Planning on moving on to #8070 soon.

[2019-08-06 10:55] rachelhamlin commented on #8069
Fab. Thanks for the update! Keep up the great work.

[2019-08-06 10:59] flexsurfer commented on #8665
Hermes is still not stable and there are bugs like this https://github.com/facebook/react-native/issues/25864, maybe we could try to upgrade app to 0.60.4, enable Hermes  and test it on different Android devices? @annadanchenko @PombeirP  wdyt?

[2019-08-06 11:08] yenda commented on #8665
@flexsurfer that was the plan https://github.com/status-im/status-react/issues/8672 the update isn't trivial though

[2019-08-06 11:12] Serhy opened #8709 "User stuck on login screen when login in if PN received before"
***Type***: Bug

***Summary***: When app is closed and I receive Push Notification -> I **stuck on login screen when** logging into account. And it doesn't matter whether I navigate to app from a tap on PN (opening Status from PN issue described separately here https://github.com/status-im/status-react/issues/8550) OR I **open Status by tap on its icon** from the list of apps)

After reopening Sta

[2019-08-06 11:42] asemiankevich opened #8710 "A problem occurred! Multiaccount's and realm db passwords does not match when multitapping Next button"
# Problem

`A problem occurred! Multiaccount's and realm db passwords does not match` error shown when multitapping Next button while creating new account

![image](https://user-images.githubusercontent.com/28752642/62536972-03174400-b858-11e9-82ac-e08adeeae1d8.png)

## Steps

- open status
- start creating new account
- tap Next button on Password confirmation screen several times

Check out the

[2019-08-06 11:57] hesterbruikman opened #8711 "Copy update Transaction overview Contract interaction"
# Problem
When I sign a contract the label on the Transaction overview screen describes 'Contract Interaction'. As a user this does not inform me about what to do. In combination with the limited information available when signing contracts, current copy can add to a feeling of distrust.

This state of the transaction overview screen comes up, for example, in the case of 'Buying a license' for Tel

[2019-08-06 12:38] churik opened #8712 ""Enable notifications" and "Enable fingerprint" screens are shown each time on account creating"
### Description

*Type*: Bug
*Summary*: "Enable PN" and "Enable fingerprint" screens are shown on each account creating, should only once after installing app (so after first
cannot be reproduced on nightly 05/08/2019, so appears on latest 06/08/2019

#### Expected behavior
"Enable notifications" and "Enable fingerprint" screens are not shown

#### Actual behavior
"Enable notifications" and "Enabl

[2019-08-06 13:10] corpetty commented on #8180
this can be done post-freeze as we should have the same model for doing it (same as non-keycard).

[2019-08-06 13:11] corpetty commented on #8309
this is fine to happen post audit code freeze.

[2019-08-06 13:54] #8677 closed, assigned to yevh-berdnyk

[2019-08-06 14:29] pedropombeiro commented on #8665
I'm taking a stab at upgrading to Hermes.

[2019-08-06 16:57] pedropombeiro commented on #8672
Useful resources:
- [RN Upgrade Helper](https://react-native-community.github.io/upgrade-helper/?from=0.59.10&to=0.60.4)
- [Issue when upgrading from below RN 0.60 to RN above 0.60 - AndroidX](https://github.com/facebook/react-native/issues/25924)
- [https://github.com/react-native-community/react-native-maps/issues/2954](https://github.com/react-native-community/react-native-maps/issues/2954)
- [

[2019-08-07 06:49] errorists commented on #8711
just my 0.02, **Sign contract** gives me the creeps, maybe some personal bias but most of the time it's someone f*ing you over

[2019-08-07 08:45] churik opened #8715 "Unable to advertise one device to another if the same account restored with different whisper ids"
### Description

*Type*: Bug
*Summary*: for all new users after merging https://github.com/status-im/status-react/pull/8601 from the same seed phrase are restored different whisper ids, which makes impossible to pair devices.

#### Expected behavior
can advertise one device to another

#### Actual behavior
nothing happens

### Reproduction

- Device A: create account
- Device B: restore the same a

[2019-08-07 08:47] churik commented on #8715
@cammellos created an issue to track progress and discussion...
cc @rachelhamlin @annadanchenko

[2019-08-07 08:53] cammellos commented on #8715
@gravityblast what is the expected behavior? My understanding is that although wallet  key and whisper keys are different if I import the same seed phrase I should get the same wallet key & whisper key, for example:

[code]

[2019-08-07 09:10] pedropombeiro commented on #8665
Reported bug in https://github.com/facebook/react-native/issues/25970

[2019-08-07 09:17] asemiankevich commented on #8715
@flexsurfer

[2019-08-07 09:20] pedropombeiro commented on #8672
Added a non-exhaustive TODO list in the OP for transparency.

[2019-08-07 11:32] flexsurfer commented on #8715
My understanding is the same as @cammellos, for one seed phrase we should always have the same whisper and default wallet keys

[2019-08-07 12:05] #8694 closed, assigned to nobody

[2019-08-07 12:47] Serhy opened #8716 "Fix false failed tests and implement new tests"
`test_privacy_policy_is_accessible` - remove lastest check for Privacy policy

`test_copy_transaction_hash` - apparently sometimes it fails to copy value (also the Paste in chat to check whether value copies might be redundant here. Lets just check clipboard like self.driver.get_clipboard())

`test_open_user_profile_using_deep_link` - remove "Send transaction" check (we disabled this feature for n

[2019-08-07 12:48] rachelhamlin commented on #8711
How about `authorize`?

[2019-08-07 12:51] errorists commented on #8711
+1 to `authorise`

[2019-08-07 12:55] annadanchenko opened #8717 "Change "Connect & get paid" to "Chat & transact" in "ens-welcome-point-3-title""
# Problem

There is string "Connect & get paid" in ens welcome screen that can mislead user that he/she can be paid if connect with other users. Please, change it to  "Chat & transact" as it's more fair. Agreed with @rachelhamlin

String to change:
"ens-welcome-point-3-title" in https://github.com/status-im/status-react/blob/develop/translations/en.json

[2019-08-07 12:57] churik opened #8718 "App is shown in English instead of device language for some languages"
### Description

*Type*: Bug
*Summary*: for some languages (translations are presented in https://github.com/status-im/status-react/tree/develop/translations) app is still shown in English after setting device language. Randomly checked several languages - all fine with Russian\Korean (so device settings are applied to app language), but not with French, Vietnamese, Danish.
Reproducible on 0.13.0

[2019-08-07 13:01] annadanchenko commented on #8718
when fixed, please make sure that in addition to the listed problematic languages we test with other languages not mentioned in the initial bug description (so not Korean, Russian, French, Vietnamese and Danish)

[2019-08-07 13:17] hesterbruikman commented on #8711
Best alternative. I don't see it as 100% accurate yet :/ `Authorize` to me indicates a future action. While it is actually an immediate transaction, just not one that includes funds.

Other options:
Confirm contract
Approve contract
... More suggestions?

[2019-08-07 13:22] rachelhamlin commented on #8711
I'm not opposed to `sign` myself. It's a cryptographic standard, not limited to blockchain. Put together with `contract`, it's a rather unfortunate combo, but it's also _accurate_.

[2019-08-07 14:11] churik commented on #8645
Closed as commands are removed now in https://github.com/status-im/status-react/pull/8674

[2019-08-07 14:11] #8645 closed, assigned to nobody

[2019-08-07 14:14] churik commented on #4185
Closed as commands are removed now in #8674

[2019-08-07 14:15] #4185 closed, assigned to nobody

[2019-08-07 14:18] churik commented on #5654
@StatusSceptre  can we close bounty?
Commands are removed now in #8674 temporarily

[2019-08-07 14:18] #5654 closed, assigned to nobody

[2019-08-07 14:19] churik commented on #6515
Closed as commands are removed now in #8674

[2019-08-07 14:19] #6515 closed, assigned to nobody

[2019-08-07 14:19] churik commented on #6664
Closed as commands are removed now in #8674

[2019-08-07 14:19] #6664 closed, assigned to nobody

[2019-08-07 14:19] churik commented on #6945
Closed as commands are removed now in #8674

[2019-08-07 14:19] #6945 closed, assigned to nobody

[2019-08-07 14:21] churik commented on #7015
@StatusSceptre not sure what we should do now with bounty, since commands are removed now in #8674

[2019-08-07 14:21] churik commented on #8362
Closed as commands are removed now in #8674

[2019-08-07 14:21] #8362 closed, assigned to nobody

[2019-08-07 14:21] churik commented on #8371
Closed as commands are removed now in #8674

[2019-08-07 14:21] #8371 closed, assigned to nobody

[2019-08-07 14:31] pedropombeiro commented on #8672
This Realm issue is currently a blocker: https://github.com/realm/realm-js/issues/2455

[2019-08-07 14:39] jfarid27 commented on #8653
@cammellos Just bumped to v0.31.0-beta.0 and things seem ok for now. I'll close and reopen if the problem persists.

[2019-08-07 14:50] rachelhamlin commented on #8130
This is an odd one! Gitcoin & GH don't sync - can we close it on Gitcoin @StatusSceptre?

[2019-08-07 14:54] rachelhamlin commented on #7015
Will this fix be useful when we revive /send commands @flexsurfer? Can we pay for the effort? @StatusSceptre

I'll ask Jason over email for this thoughts.

[2019-08-07 15:21] speedyFixer commented on #8047
Hi, I don't know what to do with this in Gitcoin, I submitted work, because I spent time in this, but I didn't generate any fix really, so, should I stop the work? I was working in two issues with the same problem.

[2019-08-07 15:23] speedyFixer commented on #7015
Hi Status team, I don't know what to do with this in Gitcoin, I submitted work, because I spent time in this, but I didn't generate any fix because your parallel PR, so, should I stop the work? I was working in two issues with the same problem.

[2019-08-08 06:38] elegant651 opened #8721 "App is freezing after build process is completed at AVD."
# Problem

I encountered the problem while building at AVD.
The app is freezing after build process is completed.

## Implementation

![Screenshot_1565245804](https://user-images.githubusercontent.com/3349973/62680335-f9c1df00-b9f1-11e9-9d42-32bbd6c57670.png)

Once building has finished, it always shows like this splash screen, and it freezes.

![Screenshot_1565245815](https://user-images.githubus

[2019-08-08 07:53] rachelhamlin commented on #8665
@annadanchenko looking at progress on this issue, I'm guessing we won't be ready to release v0.14 with [these items](https://github.com/status-im/status-react/issues?q=is%3Aissue+is%3Aopen+label%3Arelease) in time for our iOS cut-off. wdyt? Should we prepare comms with @j-zerah to explain the need to re-release v0.13 for iOS?

I would suggest we call it v0.13.1 (assuming 0.13 was latest).

[2019-08-08 07:57] rachelhamlin commented on #8047
Hi @speedyFixer - yes, you can stop working. The team who manages GitCoin for us has been out the past couple of weeks, hence these active issues, but we are working out a way to pay you for your effort.

[2019-08-08 07:58] rachelhamlin commented on #7015
Yes, ditto issue #8407 - you can stop work and we will sort out payment for your effort.

[2019-08-08 08:00] rachelhamlin commented on #8071
Oops! For our team - @tbenr is planning to pick this back up shortly.

[2019-08-08 09:18] rachelhamlin commented on #7633
Hey @shamardy - double checking, are you done with this issue?

[2019-08-08 11:20] speedyFixer commented on #7015
@rachelhamlin done! thanks!

[2019-08-08 11:20] speedyFixer commented on #8047
@rachelhamlin done!

[2019-08-08 19:25] jakubgs commented on #8512
Back at it again, after finishing some other projects.

I tried using the `registry.gitlab.com/fdroid/docker-executable-fdroidserver:latest` docker image suggested but what I got were some errors about Gradle download:
[code]

[2019-08-08 19:28] jakubgs commented on #8512
But this is progress of a kind, because before without the docker image it was failing at:
[code]

[2019-08-08 19:31] jakubgs commented on #8512
Based on the Dockerfile `gradle` is installed by `apt`:
https://gitlab.com/fdroid/docker-executable-fdroidserver/blob/master/Dockerfile#L15-19
So the issue must be with `gradlew` wrapper which tries to download a specific version ZIP:

https://docs.gradle.org/current/userguide/gradle_wrapper.html

[2019-08-08 19:32] jakubgs commented on #8512
Ah, I see now:
[code]
Is due to me running the process under my own UID using `-u $(id -u):$(id -g)` but as a non-existent user which means its home becomes `/`(root) by default.

[2019-08-08 19:39] jakubgs commented on #8512
Also, it's downloading Gradle `5.0`, which is different from what we use:
https://github.com/status-im/status-react/blob/c49e4933eeea8e02e2724b5eab27d046e8c4e549/nix/mobile/android/gradle.nix#L8
I don't see any setting in the metadata reference to change this:
https://f-droid.org/en/docs/Build_Metadata_Reference/
According to the Gradle docs:

https://docs.gradle.org/current/userguide/gradle_wrapp

[2019-08-08 19:40] jakubgs commented on #8512
Ok, if I run the container with `-u` as `root` then it fails like this:
[code]
Which essentially means that `fdroid` is trying to run a `clean` Gradle task that does not exist.

[2019-08-08 19:53] jakubgs commented on #8512
I'm not seeing any specific way of applying `--stacktrace` flag to Gradle.
I thought `gradleprops` would do that for a second but that's something different.

[2019-08-08 20:09] jakubgs commented on #8512
Our main issue is that we need to control the exact build command. Fdroid tries to run Gradle for us, but what we want to do is to run it via Nix, like we do here:
https://github.com/status-im/status-react/blob/c49e4933eeea8e02e2724b5eab27d046e8c4e549/Makefile#L113-L123
Which runs the Nix derivation from here:
https://github.com/status-im/status-react/blob/c49e4933eeea8e02e2724b5eab27d046e8c4e549/

[2019-08-08 20:13] jakubgs commented on #8512
I could not find any issues about running a custom Gradle command with `fdroid` utility:
https://gitlab.com/fdroid/fdroidserver/issues?scope=all&utf8=%E2%9C%93&state=opened&search=gradle
Might have to open one. But before that I will review the metadata doc one more time.

[2019-08-08 20:42] jakubgs commented on #8512
Progress! By specifying the `subdir` to be `android` I've managed to get past the `clean` step.
Now I'm getting something different:
[code]
Which is this:
https://github.com/status-im/status-react/blob/c49e4933eeea8e02e2724b5eab27d046e8c4e549/android/app/build.gradle#L3
Which means that it can't find the `node_modules` which has the `react-native-config` package.
Normally Nix would have installed

[2019-08-08 20:47] jakubgs commented on #8512
It's annoying how I see no way of defining environment variables for the commands.

Also, I can't run the build as `root`, because then the Nix installation fails:
[code]

[2019-08-08 20:48] jakubgs commented on #8512
So I have to create a user to run the build with. But to do that I have to either:

* Modify the image with my own `Dockerfile`
* Wrap `fdroid` command in a script that will first create user and then run it with that user

The first option sounds cleaner, but makes me worried about how this is executed on F-Droid servers.

[2019-08-09 05:07] licaon-kter commented on #8512
Do you have the steps defined? Eg. Install these with sudo, then build these, then run gradle?

[2019-08-09 08:44] annadanchenko opened #8727 "Remove unused strings"
# Problem

The following strings are not used in the code anymore and should be removed from
- translations/en.json
- test/cljs/status_im/test/i18n.cljs
- rest of the files in translations if present there (e.g. ko.json, fr.json and the rest)

Strings:
{'no-hashtags-discovered-title', 'no-more-participants-available', 'and-you', 'wallet-transaction-fee', 'contacts-syncronized', 'faucet-error', 'cu

[2019-08-09 09:48] guylouis commented on #8715
+1
The default whisper key is on a fixed path (m/43'/60'/1581'/0'/0') so always the same adress when we recover a given seed.
Same thing for the default wallet key (m/44'/60'/0'/0/0)

[2019-08-09 12:30] annadanchenko commented on #8727
closing until we make sure that autotest doesn't produce false positives

[2019-08-09 16:15] jakubgs commented on #8512
That's not how [Nix](https://nixos.org/nix/manual/) works. Allow me to explain.

Nix is a functional package manager that stores all its packages under `/nix/store` and makes them available by running commands within a `nix-shell` environment, that modifies the `PATH` to include paths to all the necessary packages, for example, if I run `make shell` in our repo and examine `PATH` I will see:
[code

[2019-08-09 20:16] licaon-kter commented on #8512
Not sure, but you could just create a clean step that does nothing and outputs success.

[2019-08-09 20:20] jakubgs commented on #8512
@licaon-kter I could? There is nothing like `clean` key described in the metadata doc:
https://f-droid.org/en/docs/Build_Metadata_Reference/
Is it just not documented?
EDIT: Yep:
[code]
No such thing.

[2019-08-09 20:48] licaon-kter commented on #8512
I didn't say it's a metadata key, it's a Gradle thing: https://docs.gradle.org/current/userguide/java_plugin.html#sec:clean

_Umm, disclaimer: I'm not a dev, so these are just bits that I see while building stuff for F-Droid._

/LE: The error says something about `dotenv.gradle`,  that's ok?

[2019-08-10 22:48] matte5031 commented on #4102
Hey guys, I just sent this classification report. Do I need to wait for a reply from them now or? If so how long time does it take for them to reach back to you? asking since apple wants you to attach that they approved it I guess, I can't just move on right after I sent it right?

"you must submit a copy of your U.S. Commodity Classification Automated Tracking System (CCATS) approval from the U.S

[2019-08-11 09:49] bitsikka commented on #8070
Work on #8069 needed to be stable to start work on this.

Starting now

[2019-08-11 17:52] okwme commented on #5461
see the sign available in app now but it crashes the app when i submit ;_;

[2019-08-11 17:59] okwme opened #8729 "iOS crashes on personal_sign"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user & developer I want to sign_personal messages so that i can authenticate with my app clovers.network

### Description

*Type*: Bug

*Summary*:  App crashes after signing personal_sign within app on rinkeby

#### Expected behavior

Expected to sign message and authenticate with app https://clovers.netw

[2019-08-11 18:03] okwme commented on #5461
opened an issue at #8729

[2019-08-12 05:01] xinyujauchou commented on #8197
what is your RN version

[2019-08-12 07:35] asemiankevich opened #8730 "Autofocus is broken in Status app"
# Problem

Turned out that autofocus is broken across the app. Originally found here https://github.com/status-im/status-react/pull/8687#issuecomment-519178199

## Steps

- open status -> tap access key -> keyboard is not active for entering recovery phrase
- open status -> create new account -> back up recovery phrase -> confirm -> keyboard is not active for entering recovery phrase
- open status

[2019-08-12 09:37] flexsurfer commented on #8715
@annadanchenko @churik  this is expected `for all new users after merging #8601 from the same seed phrase are restored different whisper ids`, this is was the main goal of multiaccount, to make whisper id different, so if you recover old account there should be same wallet address but different whisper id

[2019-08-12 09:39] flexsurfer commented on #8715
@churik  or do you mean you install fresh build with  #8601 , **create new account** and get new mnemonic, and recover account on another device with this new mnemonic you have different whisper id ?

[2019-08-12 09:51] flexsurfer commented on #8715
oh sorry,multiaccounts recovery isn't implemented in  #8601 , so whisper id should the same as before  #8601

[2019-08-12 09:52] flexsurfer commented on #8715
but anyway i can't reproduce this, because i have always the same whisper id for one mnemonic on different devices

[2019-08-12 10:00] flexsurfer commented on #8715
multiaccounts recovery is here https://github.com/status-im/status-react/pull/8687

[2019-08-12 10:19] gravityblast commented on #8715
&&

&&

@cammellos yes it's correct!

[2019-08-12 10:39] annadanchenko commented on #8715
I can reproduce same issue (another whisper key is recovered) on Android build 22 of Recovery v1 PR https://github.com/status-im/status-react/pull/8687

Steps:
1. on device 1 with build 22 create an account
2. on device 2 use backup phrase from device 1 to recover account. Once recovered check Contact code in profile. It's expected to be the same on both devices

[2019-08-12 10:44] flexsurfer commented on #8715
hm maybe something wrong with the mnemonic phrase when we generate a new account

[2019-08-12 10:44] cammellos commented on #8715
Thanks, I will triage this and timebox it to 3 hours, will let you know by tomorrow what comes up.

[2019-08-12 10:46] flexsurfer commented on #8715
@cammellos  first we need to make sure this method `MultiAccountGenerateAndDeriveAddresses` returns correct mnemonics for generated accounts

[2019-08-12 10:48] annadanchenko commented on #8715
I must add that wallet address is the same on device1 and device2, so issue is only for whisper id

you can user this phrase
![Screenshot_20190812-124610](https://user-images.githubusercontent.com/6584810/62860093-6513f580-bcff-11e9-98a1-62d2fe41a1b4.png)

Expected Whisper id:
![Screenshot_20190812-124624](https://user-images.githubusercontent.com/6584810/62860104-6b09d680-bcff-11e9-97eb-6cb5ebdd7

[2019-08-12 10:51] flexsurfer commented on #8715
ok that means `MultiAccountGenerateAndDeriveAddresses` returns wrong whisper ids

[2019-08-12 10:51] churik commented on #8715
@flexsurfer
yes, it is reproducible for `develop` for new accounts only (created after #8601 )
It is mentioned as expected result here: https://github.com/status-im/status-react/pull/8601#issuecomment-516306789

[2019-08-12 10:52] flexsurfer commented on #8715
we provide this path `"m/43'/60'/1581'/0'/0"` to `MultiAccountGenerateAndDeriveAddresses`

[2019-08-12 10:58] flexsurfer commented on #8715
@churik @annadanchenko @cammellos I've found the reason
in #8601 we still use the old method to recover, so develop is wrong you shouldn't test it
here #8687 @dmitryn has the wrong implementation, we need to fix it
sorry for wasting your time! i'll comment in #8687 and we'll fix it with @dmitryn
thanks

[2019-08-12 12:59] churik opened #8734 "Endless spinner instead of "Not confirmed. Tap for options" status for messages"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when messages cannot be sent (i.e. unstable connection), we had options to resent it or delete.  Now instead of options, the endless spinner is displayed.
Issue is not reproducible on 0.13.0

#### Expected behavior
"Not confirmed. Tap for options"

#### Actual behavior
endless spinner
![IMG_7ACA4BA0C66F-1](https:/

[2019-08-12 13:36] asemiankevich opened #8735 "Save password is unavailable: your device may be rooted screen is shown when tapping Back button"
# Problem

Back button breaks Accounts screen on Androids. There are several cases here, which will be logged as separate issues

1. Case one: user taps `<` **in-app** button after logout (app is launched after install, new account created) -> then Back device button

Steps:
1. launch status
2. tap Get started
3. tap Generate a key
4. tap Next -> Next
5. enter password and confirm
6. tap profile -

[2019-08-12 13:46] asemiankevich opened #8736 "Welcome screen is shown instead of accounts list if tapping Back from Get yourself a key first screen"
# Problem

Back button breaks Accounts screen on Androids. There are several cases here, which will be logged as separate issues:

2. Case two: Welcome screen is shown when user taps Back device button when being on Get yourself a key first screen. Looks like all accounts are gone (which is not true)

Steps:
1. open status and create account
2. logout
3. tap Generate new key
4. tap build-in `<` bu

[2019-08-12 17:58] cammellos commented on #8734
@churik @Serhy this might actually be fixed on develop, could you try it out when you have some time? Thanks!

[2019-08-12 19:18] jakubgs commented on #8512
I managed to fix the `dotenv.gradle` and `STATUS_GO_ANDROID_LIBDIR` by adding a check on `project.gradle.startParameter.taskNames` here: 3a4963edfd0c7748c6136c386d1b8212913e40a4

But now I'm getting an error about the Gradle version:
[code]

[2019-08-12 20:18] jakubgs commented on #8512
I tried specifying the Gradle version in `android/gradle/wrapper/gradle-wrapper.properties`:
[code]
But then I got back:
[code]
Which is the result of this line:
https://github.com/f-droid/fdroidserver/blob/7f269be2f7f9326a08074ae39422401714c132ce/gradlew-fdroid#L25-L31
Which checks this map of hashes:
https://github.com/f-droid/fdroidserver/blob/7f269be2f7f9326a08074ae39422401714c132ce/gradlew-fd

[2019-08-12 20:47] jakubgs commented on #8512
But passing my own version of `fdroidserver` repo to the container using `-v` results in:
[code]
But that doesn't make sense because I clearly specify `ANDROID_HOME` to be `/android`, so why is it looking in `/home/build/Android/Sdk`?
Fixed it by mounting my Android SDK directly at `/home/build/Android/Sdk`, but it is weird how it's ignoring the env variable.

[2019-08-12 20:57] jakubgs commented on #8512
Now it's failing on yet another reference to `node_modules`:
[code]
From here:
https://github.com/status-im/status-react/blob/acc6775a542ef112b4ed99d56406fa466981a303/android/app/build.gradle#L93
Ugh, it never fucking ends...
![GOD DAMNIT](https://user-images.githubusercontent.com/2212681/62897893-28a5c100-bd22-11e9-8307-7df86ad29388.jpg)

[2019-08-12 20:58] jakubgs commented on #8512
Fixed that by moving the `apply` to the `if` I added before: 1f6bdf8c80209d4e73cea4bea2617ed6f60c53c5

[2019-08-12 22:31] yevh-berdnyk commented on #8716
@Serhy

updated

get_clipboard() method is not supported by the Appium version which is currently used in the project

updated

I was not succeeded in receiving push notifications on SauceLabs emulators so skipping those tests for now

was implemented earlier

added test_app_on_background_by_back_button

[2019-08-12 22:59] jakubgs commented on #8512
Okay, now I have the `clean` step succeeding, but it fails on due to `implementation` entries:
[code]
In the `dependencies` section here:
https://github.com/status-im/status-react/blob/3b8d8d0013b4b2dd7cbe3b55ba44ea0f5792e29b/android/app/build.gradle#L260-L306
I'm beginning to think that I need to read some F-Droid code to figure out how exactly it calls Gradle.

It is possible that it is currentl

[2019-08-12 23:50] licaon-kter commented on #8512
you can `scandelete: ios` folder and in `prebuild` you'd `sed /firebase/d` and `sed /play-services-base/,+2d` the other stuff

[2019-08-13 01:58] jakubgs commented on #8512
Hmmm...

I'm not sure why I'd want to remove those things. Since I'm setting `subdir: android` why would the `ios` subdir at repo root cause issues? Makes no sense to me.

Also, if I remove `firebase` or anything else during `prebuild` that will just cause the eventual build to fail. Makes no sense either. I appreciate your help, but I don't get how that's supposed to work.

I think my issue is mo

[2019-08-13 06:10] licaon-kter commented on #8512
The scanner runs first, it can't know what the final build will have or not, just that that ios stuff might be some unwanted binaries. It's a "hammer" not a "scalpel", it has no AI :), you just guide it, eg. If you don't need the ios folder for the Android build there's no harm in removing those, right? Or at least `scanignore` ;)

Since Firebase is not open-source, you are forced to remove it, ei

[2019-08-13 08:44] hesterbruikman commented on #8717
There is actually a full copy update for this screen that was out of scope of PR earlier: https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=2317%3A50

![ENS copy](https://user-images.githubusercontent.com/35233054/62927677-51c46100-bdb7-11e9-8eaf-72e2e414149f.png)

[2019-08-13 08:54] hesterbruikman commented on #8736
@asemiankevich In this particular case we could also use a Cancel button instead of Back. That still doesn't resolve the issue of the native back button, right?

Sounds like this has something to do with handling native Android behavior: https://reactnavigation.org/docs/en/custom-android-back-button-handling.html

[2019-08-13 08:58] annadanchenko opened #8738 "Translated text from description and section title overlap each other on screen `Select key storage`"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: on Samsung galaxy S6, Android 6.0.1 with Russian translation, text "By default" and "only you have access" overlap each other
![Screenshot_20190

[2019-08-13 09:10] flexsurfer opened #8739 "Wallet should be tracking accounts created after login"
See https://github.com/status-im/status-go/issues/1566

[2019-08-13 09:19] churik opened #8740 "Public chats reappear after deleting"
### Description

*Type*: Bug

*Summary*:
Public chats are reappeared if they are deleted after creating new account and before first logout.
The issue is reproducible in nightly 12/08/2018 (no issue in nigtly for 12/08/2019) - most likely was introduced by commit https://github.com/status-im/status-react/commit/370bc207bcfa8ee76eb8011d048e1e4cc0b78f2a.

#### Expected behavior
chats are not reappea

[2019-08-13 09:20] churik commented on #8740
cc @cammellos

[2019-08-13 11:01] #8693 closed, assigned to yevh-berdnyk

[2019-08-13 11:02] #7458 closed, assigned to nobody

[2019-08-13 11:12] dshulyak commented on #8702
@cammellos you are right it is passed as it is

[2019-08-13 11:25] jakubgs commented on #8512
Oh, I wasn't aware that Firebase blocks use from being included in F-Droid. That's the first time I hear about that. I will have to discuss this with the team, thanks for the explanation @licaon-kter!

[2019-08-13 11:35] licaon-kter commented on #8512
Yeah, F-Droid builds only open-source apps, with open-source dependencies.

Now, is Firebase a hard dep? Does the app work without it?

If not, you can always host your own repo and F-Droid users can add it and keep up to date. ;)

[2019-08-13 11:41] jakubgs opened #8742 "[F-Droid] Make Firebase optional or remove it"
## Problem

In the process of researching the build process for F-Droid in #8512 it [turned out](https://github.com/status-im/status-react/issues/8512#issuecomment-520702397) that we cannot submit Status to their database if it includes [Firebase](https://en.wikipedia.org/wiki/Firebase) in its dependencies.

From their [Inclusion Policy](https://f-droid.org/en/docs/Inclusion_Policy/):

## Implemen

[2019-08-13 11:41] jakubgs commented on #8512
I've created #8742 to see what our developers think about removing Firebase or making it optional.

[2019-08-13 11:46] asemiankevich opened #8743 "Fix [Next] button on password confirmation screen (onboarding)"
# Problem

There are several issues with Next button when confirming password in new onboarding flow:

1. No visual effect that button is tapped
2. I can tap this button several times (should be disabled once tapped first time)
3. If i tap the button several times, i either close next screen (with Fingerprint settings) or i can run into https://github.com/status-im/status-react/issues/8710
4. Scre

[2019-08-13 11:54] Serhy commented on #8734
Indeed with the latest nightly (2019081303) confirmed not reproduced:
In 1-1 / Public chats: turned on Airplane mode and quickly send a message while there is a Send button present. In 1-2 minutes there is a 'Not sent. Tap for options' status appears below the message.
And in a case of WiFi enabled during 1-2 minutes - the 'Sent' status as expected appears.
Thanks @cammellos, closing this issue.

[2019-08-13 12:42] Serhy opened #8744 "No messages are received by Group chat members if sender re-login once"
***Type***: Bug

***Summary***: Messaging stops working in Group chats if you re-login after group chat creation. They are marked as Sent but no one from Group chat members will see them.

#### Expected behavior

Messages are received by the recipient in GroupChat after message sender re-logins to account

#### Actual behavior

No messages are received by the recipient in GroupChat after message s

[2019-08-13 12:54] Serhy commented on #8744
cc @rachelhamlin

[2019-08-13 13:39] MattWithCurls commented on #8130
Im having problems building the ios app in xcode. Says its unable to open /Desktop/status-react/ios/Pods/Target Support Files/Pods-StatusIm/Pods-StatusIm.debug.xcconfig: unable to open file (in target "StatusIm" in project "StatusIm") (in target 'StatusIm').

Desktop/status-react/ios/Pods/Target Support Files/Pods-StatusImTests/Pods-StatusImTests.debug.xcconfig: unable to open file (in target "Sta

[2019-08-13 13:43] jakubgs opened #8745 "Renew iOS Fastlane match Profiles"
It appears our iOS Profiles created by Fastlane [match]() are expiring today:
![expired_ios_certs](https://user-images.githubusercontent.com/2212681/62946470-bcbd6a00-bdae-11e9-97dc-0c39882a2b69.png)
This was spotted in #8722.
[code]

[2019-08-13 13:44] jakubgs commented on #8745
There is the `--force` flag that allows for renewal on every build:

But we do not have that enabled, probably because we run multiple builds in parallel. Also sounds dodgy.

[2019-08-13 13:44] churik commented on #8740
cc @rachelhamlin

[2019-08-13 13:45] jakubgs commented on #8745
According to closed and unresolved Fastlane issues:

Wtf, reading Fastlane match issues it seems like they are suggesting nuking profiles and re-creating them:

https://github.com/fastlane/fastlane/issues/11663#issuecomment-423031130

But then again:

https://github.com/fastlane/fastlane/issues/10724#issuecomment-440668883

![1297882742677](https://user-images.githubusercontent.com/2212681/6294662

[2019-08-13 13:48] jakubgs commented on #8745
I attempted to remove the certificate manually from the Apple Developer portal:
![ios_removed_cert](https://user-images.githubusercontent.com/2212681/62946712-38b7b200-bdaf-11e9-948c-a03f1842adea.png)
But after re-running the PR iOS build for #8722 it failed with the same error:
[code]
Which indicates to me that the https://github.com/status-im/ios-certificates repo has not been updated.

[2019-08-13 13:48] churik commented on #8715
cc @rachelhamlin

[2019-08-13 13:51] jakubgs commented on #8745
I tried running:
[code]
On one of the `macos` CI slaves, but I'm just getting the same error.

[2019-08-13 13:52] churik commented on #8660
cc @rachelhamlin

[2019-08-13 13:53] jakubgs commented on #8745
I could manually try removing the [`profiles/adhoc/AdHoc_im.status.ethereum.pr.mobileprovision`](https://github.com/status-im/ios-certificates/blob/master/profiles/adhoc/AdHoc_im.status.ethereum.pr.mobileprovision) from the [ios-certificates](https://github.com/status-im/ios-certificates) repo and see if that makes `fastlane match` recognize the change and re-create the profile.

[2019-08-13 13:53] churik commented on #8657
cc @rachelhamlin

[2019-08-13 13:54] churik commented on #8516
cc @rachelhamlin

[2019-08-13 13:56] churik commented on #8492
cc @rachelhamlin

[2019-08-13 13:56] jakubgs commented on #8745
I made this attempt in https://github.com/status-im/ios-certificates/commit/a822307fe08e5daa566e496b53abf9f8db39348e, lets see if this forces re-creation.

[2019-08-13 13:57] churik commented on #8325
cc @rachelhamlin

[2019-08-13 14:04] churik commented on #6799
not relevant anymore

[2019-08-13 14:04] #6799 closed, assigned to nobody

[2019-08-13 14:04] jakubgs commented on #8745
That didn't work. Considering all our Profiles are managed by Fastlane match using `fastlane nuke` might be the best option.

[2019-08-13 14:10] jakubgs commented on #8745
I've done the deed:
[code]
![fastlane_match_nuke](https://user-images.githubusercontent.com/2212681/62948256-08254780-bdb2-11e9-8f19-ee2021abedc3.png)
And then re-created with:
[code]
Which seems to have worked, at least for one of the 3 profiles:
![fastlane_match_adhoc](https://user-images.githubusercontent.com/2212681/62948510-7bc75480-bdb2-11e9-81d5-3f721ce5dfe9.png)
It appears the default leng

[2019-08-13 14:10] churik commented on #6946
cc @rachelhamlin
From my POV it is not acceptable to have the possibility to send a message in the past and change chat history.

[2019-08-13 14:11] rachelhamlin opened #8746 "Challenge Infura assumptions"
# Problem

Infura will soon enforce its new pricing plan. Free plans are allowed 100k requests per day. Retrieving the balance of a single account costs us 6k calls. Infura is also one of our Wall of Shame spots—centralized, third-party—and long term, we should displace it with a light client.

Short term, we probably need to upgrade plans in advance of v1.

## Implementation

Before we upgrade, l

[2019-08-13 14:15] jakubgs commented on #8745
And this seems to have created 2 commits in the `ios-certificates` repo:

* https://github.com/status-im/ios-certificates/commit/b6805b63331fa8d18e9750bd896311966b59ef07 - Nuking certs and profiles
* https://github.com/status-im/ios-certificates/commit/d7dfc60b861ff5c5e4efd86ab21c31e72ea4a16b - Creating a new AdHoc `im.status.ethereum` profile

Which seems to be what we want. I assume that during

[2019-08-13 14:18] churik commented on #7197
cc @rachelhamlin
I'm not sure that it is required, but anyway, user can try to block yourself, I don't think it is desirable.

[2019-08-13 14:31] jakubgs commented on #8745
Well, now we're getting some new errors at least:
[code]
From: https://ci.status.im/job/status-react/job/prs/job/ios/job/PR-8722/32/consoleFull
Which is progress of a kind...

[2019-08-13 14:34] jakubgs commented on #8745
There was some other stuff there:
[code]
Of which the main part is:
[code]

[2019-08-13 14:35] asemiankevich opened #8747 "Add tests for adding address to multiaccount instance"
# Problem

New feature arrived: you now can add another ethereum address to your multiaccount https://github.com/status-im/status-react/pull/8731

Design: https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=2373%3A1717

## Tests

- [ ] https://ethstatus.testrail.net/index.php?/cases/view/6224 critical

- [ ] https://ethstatus.testrail.net/index.php?/cases/view/6225 high

## N

[2019-08-13 14:39] corpetty commented on #8702
very much this.

[2019-08-13 14:55] pedropombeiro commented on #8742
Yeah, I think for now we should just turn off Firebase when building for F-Droid. This is what the Push Notifications v1.5 initiative was supposed to address, but we're still a long ways off.

[2019-08-13 14:56] pedropombeiro commented on #8742
And yeah, we should disable the analytics for sure.

[2019-08-13 15:05] StatusWrike commented on #8609
➤ Rachel Hamlin commented:

Should be closed by PR #8725

[2019-08-13 15:30] rachelhamlin commented on #8130
Hey sorry @MattWithCurls, but this issue is closed. I've just removed the bounty.

[2019-08-13 15:31] jakubgs commented on #8745
There's an issue that seems to show this error too:
https://github.com/fastlane/fastlane/issues/14980

Apparently:

[2019-08-13 15:35] jakubgs commented on #8745
Interestingly if I run the suggested `security` command on `macos-02` I get 2 identities:
[code]
Which might be part of the problem. But that error shows up on `macos-01` as well.

[2019-08-13 15:41] jakubgs commented on #8745
But then again, there's also this:
[code]
Which would indicate that the keychain at `/Users/jenkins/Library/Keychains/login.keychain-db` was re-created with a new password, which could be true considering the creation time:
[code]

[2019-08-13 15:43] jakubgs commented on #8742
@PombeirP could explain in more detail what we use Firebase for? Why is it even needed?

[2019-08-13 15:54] jakubgs commented on #8745
I've decided to re-create the `login.keychain-db` file:
[code]
We'll see if that does anything.

[2019-08-13 15:56] jakubgs commented on #8745
In this build the keychain access errors do not show up:
https://ci.status.im/blue/rest/organizations/jenkins/pipelines/status-react/pipelines/prs/pipelines/ios/branches/PR-8687/runs/29/nodes/107/steps/119/log/?start=0
But it still fails with `errSecInternalComponent`.

[2019-08-13 16:32] jakubgs commented on #8745
It states:
[code]
So I tried the password and it seems to work fine:
[code]

[2019-08-13 16:47] pedropombeiro commented on #8742
Sure. Firebase is only needed right now to interact with GCM (Google Cloud Messaging). AFAIR GCM is implemented in the Google Play Services, so of course not available on stripped-down devices that wouldn't include Google stuff. We use it to receive push notifications (in status-react cljs code) and to send push notifications (in status-go code, for no better reason than the fact that at the time,

[2019-08-13 17:19] jakubgs commented on #8745
What a useless fucking error, what the FUCK does `errSecInternalComponent` mean?
Looking in `/Users/jenkins/Library/Logs/gym/StatusIm-StatusIm.log` gives me nothing as well.

[2019-08-13 17:47] jakubgs commented on #8745
I opened the project in XCode to see if it was broken and I saw an error in the Signing section.
The error was about a non-existent Provisioning profile, so I selected an existing one:
![xcode_signing](https://user-images.githubusercontent.com/2212681/62963826-b8ee0f80-bdcf-11e9-8805-f93cfabf40f6.png)
Resulting in changes to `ios/StatusIm.xcodeproj/project.pbxproj` that I've committed here 3f7a273

[2019-08-13 17:48] jakubgs commented on #8745
I'm starting ton think that `fastlane match` generated a Profile with the wrong Certificate.

[2019-08-13 18:43] jakubgs commented on #8745
Whenever I have to touch Apple code signing my quality of life and mental health drops down drastically.
![SHOOT ME](https://user-images.githubusercontent.com/2212681/62968289-bba13280-bdd8-11e9-98d1-30b3ca5f9495.jpg)

[2019-08-13 19:48] jakubgs commented on #8745
I tried adding `verbose: true` to `match` in `Fastfile` but that didn't show me anything useful:
[code]
It still fails with the same error:
[code]
There's absolutely NOTHING useful in `errSecInternalComponent`. It can mean literally ANYTHING wrong with the signing setup on MacOS. Fuck my life.

[2019-08-13 20:03] jakubgs commented on #8742
I see, so based on that I guess removing Firebase is not an option, and we can only make a flavour of the App without it?

[2019-08-13 20:14] jakubgs commented on #8745
Apparently `codesign` command does have a `--verbose` flag:
https://www.manpagez.com/man/1/codesign/
But I have no idea how to make Fastlane use it. Even even with it I doubt I would get more info.

[2019-08-13 20:22] jakubgs commented on #8745
Yuuuuuup, without `--verbose`:
[code]
With `--verbose`:
[code]
Just kill me.

[2019-08-13 21:16] jakubgs commented on #8745
This is some great Apple documentation:

https://developer.apple.com/documentation/security/1542001-security_framework_result_codes/errsecinternalcomponent?language=objc

Oh... that explains everything...
![how about a cup of rage](https://user-images.githubusercontent.com/2212681/62977931-11cca080-bdee-11e9-8c72-38184058381f.jpg)

[2019-08-13 21:32] jakubgs commented on #8745
I tried things mentioned here:
https://stackoverflow.com/questions/24023639/xcode-command-usr-bin-codesign-failed-with-exit-code-1-errsecinternalcomponen
and here:
https://medium.com/@ceyhunkeklik/how-to-fix-ios-application-code-signing-error-4818bd331327
Pretty sure it's not an issue with locked keychain.

[2019-08-14 08:06] asemiankevich opened #8748 "Keycard is stuck on [Hold the card] screen once user performs Reset the card action and tries to recover"
# Problem

After [reset card] option for keycard was performed -> user lands on the login screen. Card is reset , no accounts in status.

If i tap recover access -> recover with keycard -> then no matter how many times i tap the card to the phone, screens are not changing. In logs you can see that card is detected.

Restarting the app does not help.

![image](https://user-images.githubusercontent.

[2019-08-14 08:24] asemiankevich opened #8749 "No [Confirm the code] screen shown if keycard initialized, has secred, paired and user recovers account"
# Problem

No PIN confirmation shown.

Figma https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

Flow:

![image](https://user-images.githubusercontent.com/28752642/63005577-7f77db80-be85-11e9-930e-e581d591ece1.png)

## Steps:

1. create keycard account
2. logout
3. open status ->  access key -> recover with keycard -> begin recovery
4. tap the card which is init + h

[2019-08-14 09:06] rachelhamlin commented on #8707
Fixed in #8069

[2019-08-14 09:06] #8707 closed, assigned to nobody

[2019-08-14 09:06] rachelhamlin commented on #8657
This also happens when I initiate a Tx from the wallet in general. 😕
It's a blocker for v 0.14 so I'm adding a regular `release` label as well.

[2019-08-14 09:17] annadanchenko commented on #8548
@rachelhamlin please, consider for v1 scope.  Users can't paste into fields (e.g. to send funds to some address you want to paste it and no Paste option is shown)

[2019-08-14 09:17] rachelhamlin commented on #6946
What are the reasons a user would change the date to the past on their device? Is this a real possibility?

[2019-08-14 09:18] rachelhamlin commented on #7197
Easier to disable, agreed! Probably an xs bounty.

[2019-08-14 09:21] rachelhamlin commented on #8325
@churik I can't repro on iOS but I frankly don't know what build I'm on. Let's plan to investigate.

[2019-08-14 09:21] churik commented on #8325
I will recheck it and let you know

[2019-08-14 09:23] churik commented on #8325
@rachelhamlin can reproduce it on current `develop` (on Android)

[2019-08-14 09:23] annadanchenko commented on #8635
cc @rachelhamlin it's marked as a "release" but in case next one will be v1, adding to v1 scope too. Can reproduce on fresh nightly and release builds from Aug 14

[2019-08-14 09:24] rachelhamlin commented on #8492
I'm not sure what the appropriate error message is here.

I would suggest:

`Please enter a valid username or chat key.` (the term we're adopting for Whisper ID in v1)

[2019-08-14 09:25] rachelhamlin commented on #8516
I'm going to put a bounty on this. @flexsurfer s or xs?

[2019-08-14 09:28] rachelhamlin commented on #8548
Added to Wrike. We can try a bounty for this one as well.

[2019-08-14 09:29] flexsurfer commented on #8516
`s` if we're talking about implementing long-press and clear all feature

[2019-08-14 09:31] rachelhamlin commented on #8660
@alex-coding-c if you'd still like to, I'm about to put a bounty on it :)

[2019-08-14 09:34] rachelhamlin commented on #8736
Would you mind including screenshot of expected state when available? Cheers!

[2019-08-14 09:35] rachelhamlin commented on #8740
I don't like it and won't remove the `v1 release` label, but I could live with it. Another bounty candidate.

[2019-08-14 09:37] rachelhamlin commented on #8743
Can you please include expected result and screenshots?

[2019-08-14 09:39] rachelhamlin commented on #8744
This one is fairly clear cut, but can you please include screenshots? Thanks!

[2019-08-14 09:47] cammellos commented on #8740
I could not replicate, @churik can you consistently replicate or it happens only on tests/every now and then? ( I think I might know what it does not happen always, possibly due to https://github.com/status-im/status-protocol-go/issues/44 )

[2019-08-14 09:47] rachelhamlin commented on #8635
Okay, noted. Also looks bounty-able. I'm adding one, xs.

[2019-08-14 09:52] annadanchenko commented on #8550
@rachelhamlin extra issue for v1 scope. Vitaliy is on it

[2019-08-14 09:57] annadanchenko commented on #8709
@rachelhamlin v1 scope

[2019-08-14 09:58] annadanchenko commented on #8662
@rachelhamlin v1 scope

[2019-08-14 10:00] guylouis opened #8750 "Prevent 2 multiaccounts on the same phone with same seed"
Relates to recovery #8687

**Problem**

A user can now recover a multiaccount on the phone or on a keycard.

For a given phone, a user can be in a situation where:
- he has a multiaccount stored on keycard
- then he tries to recover the same multiaccount on the phone

and the other way around:
- he has a multiaccount stored on phone
- then he tries to recover the same multiaccount on keycard

This

[2019-08-14 10:00] annadanchenko commented on #8708
@rachelhamlin v1 scope

[2019-08-14 10:00] hesterbruikman commented on #8070
@bitsikka can you please check in once you're ready to start this work. There are some changes reflected in Figma I think will be helpful for us to go over.

https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=576%3A2461

[2019-08-14 10:03] Serhy commented on #8412
Updated description with mentioning in steps (and screenshot) that crash still happening on real Android devices with installed `*-pr.apk` and develop (14th August) builds, but since we disabled the ability to send a transaction from chat - app crashing when sending a transaction from Wallet (and tapping `Network Fee` button there)

[2019-08-14 10:04] Serhy commented on #8412
cc @rachelhamlin

[2019-08-14 10:11] asemiankevich commented on #8750
i think we can't remove accounts now

[2019-08-14 10:21] bitsikka commented on #8070
@hesterbruikman

I am almost ready(currently componentizing large toolbar). I have been surveying the designs for this in order to plan the best approach

- I have noticed that as it exists the `ENS usernames` item does not behave the way it is intended in the design

- That actually goes into what @rachelhamlin said about users not immediately understanding what `Preview privacy mode` is
  - and

[2019-08-14 10:25] Serhy commented on #7758
Not relevant for now since we put disabled Extensions option in profile
Closing the issue

[2019-08-14 10:25] #7758 closed, assigned to nobody

[2019-08-14 10:31] hesterbruikman commented on #8070
What differences do you see? Regarding the Profile screen itself, or the ENS flow (upon tapping ENS usernames)?

Honestly, I don't understand what that means 😅 Will check as it probably needs to go under `Privacy and security`.

100%, the list component is nr 1 on the wishlist of componentable items. Ideally the label speaks for itself, but I believe there is a list item pattern in case a descript

[2019-08-14 10:40] Serhy commented on #8744
Updated with screenshot

[2019-08-14 10:43] dmitryn commented on #8750
Yes, we don't support that afaik.

[2019-08-14 10:47] bitsikka commented on #8070
Yes, the Profile screen itself

- When user has not registered, item displays description - it does not have as much padding/margin under the description as it does in the design. It affects the vertical alignment of arrow on the right as well

- It is about @corpetty's request here https://github.com/status-im/status-react/issues/7947. It was bountied and I worked on it

Cool that is really helpf

[2019-08-14 10:58] hesterbruikman commented on #8750
When it comes to implementation it looks like this indeed relies on the option to Remove a non-keycard multiaccount which as @dmitryn added we don't support yet. Could this be an item for the Keycard backlog?

Like the idea of what we can offer when we detect a multiaccount is being recovered that already exists. We probably want to **communicate the account already exists** and **offer to change

[2019-08-14 11:11] errorists commented on #8070
@bitsikka yeah, making a proper list item component would make you a legend, I've been chasing engineers around with this for as long as I work here :D

It's covered to some extent by this issue here https://github.com/status-im/status-react/issues/7785

I'm sure know Figma by now well enough to find the [spec](https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=787%3A1108), holla at

[2019-08-14 11:33] churik commented on #6946
@rachelhamlin  just to fake chat history.
Normal user shouldn't do this.
I'm not sure about timezones - but can investigate it.

[2019-08-14 11:35] bitsikka commented on #8070
I see, challenge accepted :)

I have seen the use of "position: absolute" in places in the name of achieving `pixel perfect` thereby resulting inflexible components :)

yes, this along with descriptions below helps a ton

will do

Just what I was looking for, and along the line of thought I was having - makes sense - thanks!

[2019-08-14 11:35] flexsurfer commented on #8070
Proper list item component could be found here https://github.com/status-im/status-react/blob/develop/src/status_im/ui/components/list_item/views.cljs

[2019-08-14 11:41] bitsikka commented on #8070
Thanks @flexsurfer! I will make good use of this

[2019-08-14 11:44] flexsurfer commented on #8070
btw i've added action here https://github.com/status-im/status-react/pull/8731/files#diff-89291a94b8ecb5fd6c670fe5ea7f7ab8R30, will be merged soon, so if you provide icon and action it will add blue circle

[2019-08-14 11:53] flexsurfer commented on #8070
done `type - optional :default , :small`

done `: subtitle` `

done `:image` or  `:image-path` or `:icon`

done `:image-path`

will be merged soon `:icon` and `:active` type

implemented outside component , provided as `: image` propertly `[chat-icon/custom-icon-view-list (:name token) color 32]`

`:type`  - default (:default) , button (:active)  - done
disabled,destructive not done

better to imp

[2019-08-14 11:59] errorists commented on #8070
thanks @flexsurfer ! 🤗  guys, once you have some time can I ask you to document it somewhere what's the current state of component implementation and ideally where they're used so we know what needs a refactor (looking at you chat)?

[2019-08-14 12:36] guylouis commented on #8750
Ok thanks

The simplest v1 short term approach could be
- remove non-keycard account : not possible (current implementation)
- remove keycard account : possible (current implementation)
- user tries to recover a multiaccount already on the phone - > we prevent that and show an error message
       i. if the multiaccount on the phone is a keycard one than display "You can't recover this key since i

[2019-08-14 12:52] guylouis commented on #8748
The screen that should be shown is
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1018%3A17544

[2019-08-14 13:06] guylouis commented on #8749
It should be impossible to recover a multiaccount with the same seed than one that is already on the phone. It's the same principle as for "normal" recovery from a mnemonic

So what should be done, in this case,  is to show him an error message "You can't recover this multiaccount because it's already on your phone".

When it's recovery from a keycard, then @bitgamma  (michele) can you remind us w

[2019-08-14 14:27] bitgamma commented on #8749
that would be the Key UID (returned in the SELECT command response)

[2019-08-14 14:41] annadanchenko commented on #7812
no more such screen

[2019-08-14 14:41] #7812 closed, assigned to nobody

[2019-08-14 15:58] #8666 closed, assigned to nobody

[2019-08-14 16:04] jakubgs commented on #8745
I found something that matches what I'm thinking:

http://www.itgo.me/a/x2795082655473005929/xcode-command-usr-bin-codesign-failed-with-exit-code-1-errsecinternalcomponen

So what I need to check is one by one all the relations between the Provisioning Profile, Bundle ID, and Certs.

[2019-08-14 16:06] #8608 closed, assigned to nobody

[2019-08-14 16:19] jakubgs commented on #8745
I also found this which suggests checking for expired ceritifcates:
http://ericholsinger.com/xcode-codesign-failed-with-exit-code-1-expired-certificates-causing-ambiguous-matches
But I checked that and found none expired.

[2019-08-14 16:30] jakubgs commented on #8745
During the build Fastlane `match` prints these two sections:
[code]
[code]

[2019-08-14 16:42] jakubgs commented on #8745
Now, comparing those to the contents of `ios/StatusIm.xcodeproj/project.pbxproj` show that the contents match:

* :heavy_check_mark: Organization Unit: `DTX7Z4U3YA`
  https://github.com/status-im/status-react/blob/d26eba72488c71892cef7479f931966de7a579e3/ios/StatusIm.xcodeproj/project.pbxproj#L2333
* :heavy_check_mark: App identifier: `im.status.ethereum`
  https://github.com/status-im/status-reac

[2019-08-14 16:48] jakubgs commented on #8745
Same goes for the info on the Apple Developer portal:

* Provisioning Profile
  ![adhoc_profile_site](https://user-images.githubusercontent.com/2212681/63039357-1eee9b80-be91-11e9-9679-e6606a5554e9.png)
* Certificate: `Certificate '73PC2QL7CP.cer' is already installed on this machine`
  ![apple_cert_auto](https://user-images.githubusercontent.com/2212681/63039559-902e4e80-be91-11e9-9cb2-aa04dcf2b7

[2019-08-14 16:58] jakubgs commented on #8745
I just noticed something! The Certificate type on the site is `iOS Distribution`, but the value for `CODE_SIGN_IDENTITY` is `iPhone Distribution`. I wonder if this makes a difference.

[2019-08-14 17:10] jakubgs commented on #8745
I attempted to fix this using this commit: 42220143c6ab39c71f595352b57b501efefaca04
And ran this build: https://ci.status.im/job/status-react/job/combined/job/mobile-ios/6688
But I got back:
[code]
So that doesn't seem to be the issue.

[2019-08-14 18:41] jakubgs commented on #8745
Based on what I found in this issue, I attempted to allow all apps on our CI hosts to access those certs.
https://github.com/fastlane/fastlane/issues/10589

Steps:

1. Open `Keychain Access` app under `Utilities` in `Finder`:
![keychain_01](https://user-images.githubusercontent.com/2212681/63045979-7d227b00-be9f-11e9-886e-2be8867c6bb1.png)
2. Find the certificate you want Fastlane to use:
![keycha

[2019-08-14 20:17] jakubgs commented on #8745
That didn't do shit... but I have another idea based on this comment:
https://github.com/fastlane/fastlane/issues/10589#issuecomment-375430190
Based on which I've implemented this:
[code]
So now we can run `match` and `build_ios_app` inside this `with()` helper:
[code]
I'm trying this in the [`use-temp-keychain`](https://github.com/status-im/status-react/tree/use-temp-keychain) branch.

[2019-08-15 00:36] jakubgs commented on #8745
Okay, it appears the approach with the temporary keychain works, but only partially. Despite Fastlane match using it, as we can see here:
[code]
It still attempts to import the WWDR(`Apple Worldwide Developer Relations Certificate Authority`) certificate into `login.keychain-db`:
[code]
Which I think is what causes the need for the UI interaction prompt for the password.

So when I removed the `/U

[2019-08-15 00:45] jakubgs commented on #8745
This error comes from here:
https://github.com/fastlane/fastlane/blob/dd889fc2cbaae8f91ae9a099e71b9077dcae84dd/fastlane_core/lib/fastlane_core/cert_checker.rb#L85
The location of the keychain where WWDR is imported is determined by this method:
https://github.com/fastlane/fastlane/blob/dd889fc2cbaae8f91ae9a099e71b9077dcae84dd/fastlane_core/lib/fastlane_core/cert_checker.rb#L92-L105
[code]
Which fo

[2019-08-15 00:47] jakubgs commented on #8745
Actually, this is even simpler because `create_keychain` has a  `default_keychain` flag:

https://docs.fastlane.tools/actions/create_keychain/

[2019-08-15 00:55] jakubgs commented on #8745
It does work:
[code]
But the question is how will this affect parallel builds on the same host? This might be a form of a weird race condition.

[2019-08-15 01:16] jakubgs commented on #8745
Looks like even despite that change I still get the same `errSecInternalComponent` error:
https://ci.status.im/job/status-react/job/combined/job/mobile-ios/6717/console

[2019-08-15 01:28] jakubgs commented on #8745
And despite using a temporary and __unlocked__ from the start keychain, I still get the password prompt from `codesign` if I run the failing build step via a VNC session:

![codesign_password_prompt](https://user-images.githubusercontent.com/2212681/63066837-15d5ec80-beda-11e9-8dc2-e454caa8b6ed.png)

I really hoped I could finally fix this prompt issue by using a temporary keychain, but apparently

[2019-08-15 02:34] jakubgs commented on #8745
I've applied the manual fix to all `macos-*` hosts.

[2019-08-15 02:38] jakubgs commented on #8745
Okay, so here is what I learned from this... exercise in productive and well documented madness:

* Fastlane match calls `codesign` which requires the Keychain file to be unlocked via UI
* This UI unlock can be achieved by clicking `Always Allow` when prompted for access
* Unlocking process is __certificate specific__ and a new certificate requires `Always Allow` trick again
* The `codesign` utili

[2019-08-15 02:41] jakubgs opened #8757 "[nix] Android builds failing due to "still alive" error"
Currently Android builds randomly fail due to some form of race condition resulting in this error:
[code]
https://ci.status.im/job/status-react/job/prs/job/android/view/change-requests/job/PR-8713/2/

[2019-08-15 02:47] jakubgs commented on #8757
Related Nix issue: https://github.com/NixOS/nix/issues/1810
Which would have added more info about why exactly the Nix store entry is "alive", but there hasn't been any activity there in almost a year.

[2019-08-15 02:49] jakubgs commented on #8757
I checked manual for `nix-build` to see if I could disable garbage collection after build - since we run `nix/clean.sh` afterwards anyway - but couldn't find anything useful in that regard.

[2019-08-15 07:09] pedropombeiro commented on #8742
Right.

[2019-08-15 08:22] asemiankevich opened #8758 "Password input layout is messy when validation error is present (new wallet account)"
# Problem

Screen looks broken when validation error is present on the screen

## Steps

- create new account
- tap wallet -> add account
- tap Add an account
- tap Generate a new account
- enter 000000 value into password field and tap Generate account button

## Actual result:

- password input is moved to the top  (because of additional text is added to the screen)

![image](https://user-images

[2019-08-15 08:28] asemiankevich opened #8759 "Сan't send funds from added account"
# Problem

Cant send funds from added account - `"{\"error\":{\"code\":4,\"message\":\"transaction can only be send by its creator\"}}"`

![image](https://user-images.githubusercontent.com/28752642/63082688-9256e280-bf4f-11e9-9260-fe9795a513de.png)

## Steps:

- create new account in status
- switch to ropsten and faucet some funds
- open wallet and add new account
- send some funds to the new acc

[2019-08-15 09:03] asemiankevich opened #8760 "Added account is duplicated when multutapping Finish button"
# Problem

If i multitap [Finish] button when adding an account to my multiaccount instance -> then added account will be duplicated in wallet

![image](https://user-images.githubusercontent.com/28752642/63084798-b10ba800-bf54-11e9-9461-a70201130dab.png)

## Steps

- create new account
- tap wallet -> add account
- tap Add an account
- tap Generate a new account
- enter password -> generate new ac

[2019-08-15 14:27] churik opened #8762 "Dapp can't derive a wallet balance, "Not enough ETH for gas" at attempt to send transaction in any DApp"
###  Description

*Type*: Bug

*Summary*: at attempt to perform any transaction in DApp "Not enough ETH for gas" is shown when you have enough ETH to pay for amount + fee. It seems that balance (at least ETH) is not fetched for DApp.

Seems Dapps now overall can't get the wallet balance. Interaction with dapps is broken completely.

#### Expected behavior
can sign transaction

#### Actual behavior

[2019-08-15 14:28] churik commented on #8762
cc @rachelhamlin

[2019-08-15 16:10] #8716 closed, assigned to yevh-berdnyk

[2019-08-15 16:32] jakubgs commented on #8745
Opened an issue with Fastlane: https://github.com/fastlane/fastlane/issues/15185
Closing.

[2019-08-15 16:32] #8745 closed, assigned to nobody

[2019-08-15 19:09] churik opened #8765 "Inconsistencies in "Show my ENS name in chat" setting in user profile"
# Problem
After https://github.com/status-im/status-react/pull/8722 will be merged, setting "Show my ENS name in chat" will be used and chat name will be resolved according to [figma design](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?)
But there are some issues \ unexpected behavior IMO, which should be addressed before this feature will be released.
So I'll put which inconsistenc

[2019-08-16 11:27] churik opened #8769 "Fixes in e2e for critical and high-prio tests"
- [x] 1. https://ethstatus.testrail.net/index.php?/tests/view/812731 - passed locally with the same build:( take a look (probably waiting for home_button can fix it); if not - IMO is better to skip the last check:
[code]
because anyway we are logging with new account in a lot of e2e.

- [x] 2. https://ethstatus.testrail.net/index.php?/tests/view/812874 - change to device time
- [x] 3. https://eths

[2019-08-16 12:57] #8703 closed, assigned to nobody

[2019-08-16 12:57] #8704 closed, assigned to nobody

[2019-08-16 16:06] #8762 closed, assigned to nobody

[2019-08-17 13:21] andytudhope commented on #8729
Hey @flexsurfer - would you have a chance to look at this quickly sometime early in the week? Clovers launches on the 20th, and it'd be nice to figure this one out by then...

[2019-08-18 06:36] flexsurfer commented on #8729
hey @okwme thanks for the report, could you please share a snippet of your code that crashes? thanks

[2019-08-18 09:07] okwme commented on #8729
Hi @flexsurfer, gladly!
The `eth_signTypedData` line is right here: https://github.com/clovers-network/clovers-dapp/blob/dev/src/store/actions.js#L494
This seems to work in the app, I put in my password and I see the message that I'd like to sign. After confirming it the app goes black and crashes.

You can see there's a fallback method for using `personal_sign` right below that. I tried skipping

[2019-08-18 23:27] yevh-berdnyk commented on #8769
Gathering errors is remomed in this test

Fixed in https://github.com/status-im/status-react/pull/8768

The test is updated. All other public keys will be updated in a separate PR

Changed, however the test will fail because passphrase remains capitalized

 The test could not find public key text, it's fixed by update of public keys

Updated, a message will be sent after a user has joined a chat

[2019-08-19 06:48] asemiankevich opened #8771 "Network details screen is shown when changing networks"
# Problem

User is stuck on Network details when changing networks.
Should be landed on login screen after a network change.

## Steps:

1. create account
2 profile -> dev mode ->network -> select Ropsten and confirm

![image](https://user-images.githubusercontent.com/28752642/63244573-76608300-c266-11e9-82a4-f39202722a05.png)

[2019-08-19 07:03] flexsurfer commented on #8729
hey @okwme  just checked on ios and android works well, `JSON.parse(JSON.stringify(msgParams))` why do you have `JSON.parse` there btw ?

[2019-08-19 07:07] asemiankevich opened #8772 "Camera crashes the app: An error occured while executing doInBackground()"
# Problem

`java.lang.RuntimeException: An error occured while executing doInBackground()`

![image](https://user-images.githubusercontent.com/28752642/63245453-e6700880-c268-11e9-8691-4041fa47f815.png)

[code]

## Steps:

1. open status
2. open wallet
3. select status account -> send -> specify recipient -> scan QR code -> allow permission to camera

NOTE: happens everywhere where camera is invol

[2019-08-19 07:14] asemiankevich commented on #8772
@rachelhamlin

[2019-08-19 08:10] #8069 closed, assigned to nobody

[2019-08-19 08:25] #8747 closed, assigned to yevh-berdnyk

[2019-08-19 08:26] #8769 closed, assigned to yevh-berdnyk

[2019-08-19 09:13] flexsurfer commented on #8729
i can't reproduce a crash, but i found the reason why it doesn't work for clovers.network, because a string is expected not JS object, i added a condition to check that message is a string, we'll not show the password field overwise

[2019-08-19 09:22] flexsurfer commented on #8665
i'll try to build simple clojure RN app with hermes

[2019-08-19 10:24] okwme commented on #8729
Hi @flexsurfer
The `JSON.parse(JSON.stringify(msgParams))` is to make a copy of the `msgParams` template, then add the current month & year to it. When it is fed into `eth_signTypedData` it is an array. I understand that is what `eth_signTypedData` expects, and when I try it as a string I get an error.

If you are referring to `personal_sign` you should see that it is in fact receiving a string. T

[2019-08-19 10:31] churik opened #8775 "Recreate tests for multiaccount"
https://github.com/status-im/status-react/pull/8768 - recreate tests that can work from current env or find out what should be done to make work locators like `
f"//android.widget.HorizontalScrollView//*[@text='{account_name}']/..")
`. PR is reverted now.

Example of failed e2e:  https://ethstatus.testrail.net/index.php?/tests/view/815624

[2019-08-19 10:39] flexsurfer commented on #8729
we support `eth_signTypedData_v3` i'm not sure if we support `eth_signTypedData` i'll take a look

[2019-08-19 11:12] flexsurfer commented on #8729
do you use this specification https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md#specification-of-the-eth_signtypeddata-json-rpc ?

[2019-08-19 11:23] flexsurfer commented on #8729
this is code example: https://github.com/dicether/js-eth-personal-sign-examples/blob/master/index.js#L255

[2019-08-19 12:45] tbenr commented on #8071
@gitcoinbot just pushed a WIP PR

[2019-08-19 14:42] churik commented on #8772
Can reproduce on nightly 19/08/2019, Android 8, LG V20

[2019-08-19 15:22] vitvly commented on #8772
Tried on latest develop on following devices:
  - Android 8.1 emulator
  - Android 9.0 emulator
  - Mi A2 Lite on Android 9.0 connected through USB (fresh install)

but couldn't reproduce. Both when adding contacts or selecting recipient for sending through wallet.

[2019-08-19 15:24] asemiankevich commented on #8772
@flexsurfer could you assist? i know you have some android real device

[2019-08-19 15:38] churik commented on #8740
Seems this one is gone.
Checked on nightly 19/08/2019

[2019-08-19 15:38] #8740 closed, assigned to nobody

[2019-08-19 17:24] okwme commented on #8729
oh man yea i think we're using the old version of the new version of signing messages ;_;
thanks for all these links and the support in general, i'm gonna revert to just `personal_sign` for now. It's working in the app after following the settings in your link ❤️

[2019-08-19 17:24] #8729 closed, assigned to nobody

[2019-08-19 17:39] jakubgs commented on #8757
One idea I have is to switch CI hosts to a multi-user Nix installation:
https://nixos.org/nix/manual/#sect-multi-user-installation
Worth a try.

[2019-08-19 22:20] jakubgs commented on #8757
I attempted to install Nix in multi-user mode on `linux-04` but I've encountered an issue that the `jenkins` user does not get a profile folder. When sourcing `/etc/profile.d/nix.sh` it creates a symlink from `~/.nix-profile` to `/nix/var/nix/profiles/per-user/jenkins/profile` which does not exist.
I've opened an issue: https://github.com/NixOS/nix/issues/3051

[2019-08-19 23:12] jakubgs commented on #8757
I also upgrade Nix from `2.2.1` to `2.2.2` on all hosts in https://github.com/status-im/infra-ci/commit/4b285d0fb62bc71161f2196ffd89859d53e01216.

[2019-08-20 02:35] bitsikka commented on #8070
I'm making good progress on this. Will push WIP PR soon.

btw
@errorists I noticed a significant difference between this

![Group 3](https://user-images.githubusercontent.com/42058840/63313974-fd286500-c325-11e9-8847-1e5257a888aa.png)

and this

![Group](https://user-images.githubusercontent.com/42058840/63314142-70ca7200-c326-11e9-860c-5d9cb4d23302.png)

While I'm not concerned so much about the

[2019-08-20 05:31] flexsurfer commented on #8070
btw first iteration of fiddle has been merged
https://github.com/status-im/status-react/tree/develop/fiddle
and you can find list-item examples
https://github.com/status-im/status-react/blob/develop/fiddle/src/fiddle/views/list_items.cljs

[2019-08-20 05:47] flexsurfer commented on #8070
regarding this  , i think it's better to implement it outside list-item component because it's too specific

[2019-08-20 06:00] bitsikka commented on #8070
@flexsurfer
In the latest rebase I saw you added `:more` accessory 👍

While It is already getting very close to the desired spec, may I please take the liberty to make subtle adjustments?. I promise to not break existing usage(test it thoroughly) and update fiddle accordingly.

Some things I'm adding
- `:disabled?` prop - currently takes advantage of whether `on-press` is supplied. There are cases

[2019-08-20 06:09] errorists commented on #8070
@bitsikka thanks for noticing, 10 is actually the correct value. 12 would be more logical since the value would be shared with the circle icon but that places both text labels too close to each other for comfort.

[2019-08-20 06:23] errorists commented on #8070
some other comments, I leave that to you guys if touchable behaviour should be a part of the component (it's always the same for all list items), the correct implementation of that is touchableHighlight to grey as Andrey did in the '+ button' bottom sheet.

I agree it makes sense, blue text is used specifically to call out action buttons in the interface.

[2019-08-20 06:23] bitsikka commented on #8070
Thanks for clearing that up 👍 I think spec with 10 can make it quite flexible and it is the right choice

If I can make the chat list item covered by the same list item, would you please consider it? cc @flexsurfer

- I was thinking to have a prop `:title-prefix` which could either be `string`, `keyword` representing `tiny-icon`, or component(additional flexibility.
- `:title` row would then also

[2019-08-20 06:26] flexsurfer commented on #8070
this is another difference we use touchableOpacity in web version, so it will be different from RN : ( but in RN we need to implement proper version for sure

[2019-08-20 06:30] flexsurfer commented on #8070
@bitsikka i wouldn't use list-item for chat items, because it'll make list-item too complex, and chat item is too specific and used only in one place, so it's better to develop a separate component for chat-list item

[2019-08-20 06:33] errorists commented on #8070
That would be awesome, definitely we'd like to have that possibility since we use it, for example we have those 'new' badges for new features like when we enable Tribute to Talk in profile for example.
<img width="487" alt="Screenshot 2019-08-20 at 08 30 13" src="https://user-images.githubusercontent.com/4932774/63322876-bf770c80-c324-11e9-9ff0-d145c9b2a573.png">

I don't have anything to add on `

[2019-08-20 06:38] bitsikka commented on #8070
@flexsurfer
Sounds good 👍 I understand with `:content` component in `title/subtitle` area feature that already exists is simple and works 👍 just as well

[2019-08-20 06:41] flexsurfer commented on #8070
` :title-prefix ` looks good, in that case we could provide `accessories` as custom view with time and messages counter for chat

![image](https://user-images.githubusercontent.com/11790366/63323592-d4f13400-c32e-11e9-8788-5cd4ad2d533e.png)

[2019-08-20 06:41] bitsikka commented on #8070
sounds good 👍 will make the `:title-prefix` happen

[2019-08-20 06:45] bitsikka commented on #8070
Wonderful! Thanks @flexsurfer @errorists for clearing things up. I will make a WIP PR later today.

[2019-08-20 06:59] pedropombeiro commented on #8672
Current state of this PR (work in debug/release can easily be paralelized):
- Debug app (prioritary to fix):
  - Debug app has an error due to Realm (missing `ListView` component). Once Realm is removed, there are some deprecation warnings that need to be addressed, regarding moving from `componentWillMount` to `componentDidMount`. Reagent also needs updating, but the [fix](https://github.com/reag

[2019-08-20 08:58] #8775 closed, assigned to yevh-berdnyk

[2019-08-20 09:55] guylouis commented on #8715
can this one be closed now that #8687 is merged ?

[2019-08-20 11:16] #8715 closed, assigned to nobody

[2019-08-20 11:21] gravityblast commented on #8759
@asemiankevich @flexsurfer can we have an example of the exact data we send to `SendTransaction` to understand it better?

[2019-08-20 11:42] flexsurfer commented on #8759
@gravityblast nothing special, the only thing is `from` is not default wallet
`Statusgo.sendTransaction(txArgsJSON, password);`
[code]
if `from` is default wallet it works fine