[2022-06-30 11:11] churik opened #13606 "Goerli transition: status test dapp"
# Problem
Due to the transition from Ropsten to Goerli, we need Status Test Dapp working on Goerli.

## Acceptance Criteria
Can open `simpledapp.eth` and use:
- all Transaction methods (Tab `Transactions`)
- `Status API` (`Request contact code`)
- Assets (request any ERC-20 available )

[2022-07-01 09:10] pavloburykh opened #13610 "Contact request message text remains in input field after request has been accepted"
# Bug Report
The message sent with contact request remains in chat input field after request has been accepted by receiver.

**Steps:**
1. Device 1 - enables contact request
2. Device 1 sends contact request to Device 2
3. Device 2 accepts contact request
4. Device 1 - pay attention at the input field in 1-1 chat with Device 2

**Actual result:** field is not clear. It contains the text of contact

[2022-07-01 14:59] churik commented on #13497
cc @Marudny

[2022-07-01 16:21] #13594 closed, assigned to churik

[2022-07-01 20:01] briansztamfater commented on #13535
There are lots of edge cases of this component so I'm sizing it as a 8

[2022-07-02 00:46] du82 opened #13612 "Switcher sometimes shows glitched bar"
When opening the switcher, there's a white (or sometimes black) bar at the top

![Screenshot_20220701-172544_Status PR](https://user-images.githubusercontent.com/65834069/176980429-20c109b1-b9a4-45b6-b2ca-1ed04966304a.png)

[2022-07-02 06:09] D4nte opened #13613 "Locked out app after selecting Waku2 prod (no UI feedback when app needs time tologin)"
# Bug Report

## Problem

After selecting waku prod nodes for connection, I was redirected to the login screen.
I selected "Don't ask card to sign in", went through fingerprint flow, then entered my pin, tapped the keycard. Then redirected to the login screen with no error message.

#### Expected behavior

Getting logged in after tapping keycard

#### Actual behavior

See problem section

### Repr

[2022-07-02 06:12] D4nte commented on #13613
Wait... I went back to the app and I was finally logged in 😮

I tried to log in 6 times before that.

[2022-07-02 06:17] D4nte commented on #13613
Maybe better feedback to the user on the in progress login?

[2022-07-02 16:24] du82 opened #13614 "Increase character limit to 64,000 chars"
As a user, I want to be able to send very large messages, such as code, or things related to data science. 64,000 characters is enough to cover almost any use case.

We have a 1 MB limit per message, so we should be able to do it. Even with emojis and CJK scripts, everything will fit within 256 KB.

[2022-07-03 01:35] du82 commented on #13613
Can confirm this is still a big issue. Both a friend and I got locked out after experimenting, thinking it would be easy to reverse the changes.

[2022-07-03 03:53] D4nte opened #13615 "Opensea sign up flow doesn't work with Wallet Connect (keycard)"
# Bug Report

## Problem
As part of Opensea sign up flow, you need to sign a message.
When taping the 'accept and sign' button on opensea after going through the wallet connect sign flow, I signed the message using my keycard but then nothing happened

#### Expected behavior

Opensea gets the signature and finishes the sign up flow

#### Actual behavior

Once signed, nothing happens

### Reproduct

[2022-07-03 04:36] D4nte opened #13616 "Support NFT transfee"
# Feature Issue

## User Story

As a user, I want to send a NFT from my Status Wallet to another address.

## Description

That's it. One could use a workaround by sending an nft via opensea. Not ideal because Opensea is centralized. But Opensea doesn't work with Status anyway.

If you know another work around it'd be great please.

### Acceptance Criteria

Being able to select and send one or sev

[2022-07-04 07:29] D4nte opened #13617 "Revoke all dApps permissions"
# Feature Issue

## User Story

1. As a user I want to revoke all dApps permissions in a couple of taps
2. As a user, want to revoke several dApps permissions in a few taps.
3. As a user, I want dapp permissions to be automatically revoked every 30 days

### Description

Currently it takes 2 tap per dApp to revoke the permissions which is cumbersome.
I'd like a way to easily revoke multiple dApps

[2022-07-04 11:38] churik commented on #13598
To make this work:
-  contract and `STT` token should be available on Goerli network
  https://ropsten.etherscan.io/address/0xc55cf4b03948d7ebc8b9e8bad92643703811d162 (`Approve and Call` is responsible for ENS)
 - https://ropsten.etherscan.io/address/0x11d9F481effd20D76cEE832559bd9Aca25405841 (`testnet` contract, can see that it is used in params in see https://github.com/status-im/status-react/pu

[2022-07-04 12:16] churik commented on #13603
To make this work on Goerli network:
1) https://ropsten.etherscan.io/address/0xdaae165beb8c06e0b7613168138ebba774aff071#tokentxns - should be available on Goerli. Depends on STT in https://github.com/status-im/status-react/issues/13598#issuecomment-1173715710

2) Stickerpacks should be available on Goerli:
- https://ropsten.etherscan.io/address/0x8cc272396be7583c65bee82cd7b743c69a87287d
- https://

[2022-07-04 12:17] churik commented on #13604
Depends on https://github.com/status-im/status-react/issues/13603

[2022-07-04 12:25] qoqobolo opened #13622 "Messages stop being delivered in group chat from one of the devices after accepting membership request sent from another device with the same multiaccount"
# Bug Report

### Context

_The issue was discovered during a dogfooding session where participants used different versions of the Status app: 1.19 and a current Nightly.
Reproducing the problem is only possible when using 1.19 or 1.19 **and** the latest develop, since invitation links in group chats were removed in develop.
Also, to reproduce this, the user needs to have a restored account on two

[2022-07-04 13:02] churik commented on #13613
@D4nte thank you for the issue!
It is expected that after changing fleet you need to re-login.

By "locked out" do you mean that the login screen got frozen, or something else?
I tried the flow that you described (with keycard on Android) and could login normally.

[2022-07-04 14:05] churik commented on #13615
After investigation, I found out that the issue is reproducible only with signing message from OpenSea using keycard.
The app connects fine using a password - could connect OpenSea and purchase NFT.

**Steps:**
- restore multiaccount from seed phrase and choose storage `Keycard`
- enable wallet connect in `Advanced`
- desktop (used chrome): open https://opensea.io/  -> Wallet connect
- device: + >

[2022-07-04 14:08] churik commented on #13615
cc @briansztamfater  @flexsurfer

[2022-07-04 14:53] churik commented on #13606
1) `Transactions` -> `Sign typed message`:
![IMAGE 2022-07-04 16:43:17](https://user-images.githubusercontent.com/4557972/177177118-ed828f46-9a07-4d5c-b3cb-28e8a1d1236a.jpg)

2)  Assets > request ETH, XEENUS, YEENUS, ZEENUS, STT
**Goerli Faucets:**
ETH: ping in DM
XEENUS: https://goerli.etherscan.io/address/0x022E292b44B5a146F2e8ee36Ff44D3dd863C915c
YEENUS: https://goerli.etherscan.io/address/0xc6

[2022-07-04 14:59] hesterbruikman opened #13623 "Can't connect Keycard account to dapp"
# Bug Report

## Problem
When using a Keycard account on iOS, dapp [Ethbarcelona.com](https://ethbarcelona.com/), doesn't prompt a Connection request.

Unclear whether the issue also occurs for Keycard account on Android.

#### Expected behavior
Tap Connect Wallet > MetaMask > App prompts connection request

#### Actual behavior
Tap Connect Wallet > MetaMask > Nothing happens

### Reproduction

1)

[2022-07-04 15:19] ibrkhalil commented on #13581
I totally agree, Icons should be sorted in order of importance to the user .. And this is a chat app.

[2022-07-04 15:43] #13342 closed, assigned to bitgamma

[2022-07-04 15:49] ibrkhalil commented on #13572
Hey @cammellos
Isn't the status bar OS specific ?
Do you think there's work to be done here?

[2022-07-04 16:02] cammellos commented on #13572
@ibrkhalil good point :) I have created these with a script, but looks like that it's not a valid issue, if @pedro-et confirms, this can be closed.
Thanks!

[2022-07-04 19:39] hesterbruikman commented on #13623
Lost in translation. Issue was with user expectation. Using Safari on mobile, expecting a connection request to deeplink to Status

[2022-07-04 19:39] #13623 closed, assigned to nobody

[2022-07-04 23:41] D4nte commented on #13613
@churik so after I tap the keycard it just remained at the login screen. So I entered my pin again and tap my card again and then, again remained at login screen.

I think the issue is that after tapping the card it takes several second to load the app but there's no feedback to the user that it's loading.

Do note I enabled Waku v2.

[2022-07-05 00:04] D4nte commented on #13615
Yep that's the one. Nice reproduction! 👍👍

[2022-07-05 00:22] D4nte commented on #13613
Once the card is tap it remains at this screen.![Screenshot_20220705-102211.jpg](https://user-images.githubusercontent.com/300805/177227904-95fec92e-2d2c-4ba7-9d4c-c8e3f0e32eda.jpg)

[2022-07-05 07:43] StatusSceptre opened #13626 "Support blob url for downloading files"
# Bug Report

## Problem
App  shows an error and crashes on when attempting to download specific file.
![Screenshot_20220705-073513_Status](https://user-images.githubusercontent.com/42685581/177273062-0b62178c-c021-4836-b501-3f9004b26d1d.jpg)

Other pdf files download just fine. Details for this pdf
![Screenshot 2022-07-05 093826](https://user-images.githubusercontent.com/42685581/177276119-608fb3

[2022-07-05 08:05] hesterbruikman commented on #13626
(by @hesterbruikman )

[2022-07-05 08:38] #13395 closed, assigned to nobody

[2022-07-05 09:10] bitgamma commented on #13615
analysis so far (notes to self, but thought I'd share):

* The reason the signup fail, is that the generated signature for the message is invalid. This only happens when signing with Keycard
* Using the same Keycard account and https://example.walletconnect.org/ instead generates valid signatures (verified also through https://etherscan.io/verifiedSignatures#)
* Signing the same exact text using e

[2022-07-05 10:39] pavloburykh commented on #13590
@cammellos  hi!

I've checked those flows, described in feature request. In fact they work, because we sync contacts of same account on different devices as we used to do it before implementation of contact request functionality.

At the same time, there are a few questions in scope of mutual contact requests syncing/pairing:

1) Are we going to implement syncing of contact request setting value?

[2022-07-05 11:10] cammellos commented on #13590
I'd say no, this is a temporary toggle, so no need.

This needs implementing, thanks!

[2022-07-05 16:19] #13615 closed, assigned to bitgamma

[2022-07-05 17:24] ibrkhalil commented on #13570
I think this is a system based component, which won't need work
What do you think @cammellos

[2022-07-05 18:46] ibrkhalil commented on #13524
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/33176106/177392960-f3fedf8a-71b9-4693-98ec-1daa94faed63.png">
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/33176106/177394892-b8e527e8-b4ea-437a-ae06-d765d77b689c.png">

Please check if it match the required design

[2022-07-06 10:41] D4nte opened #13633 "Back button closes app when using dapp browser"
# Bug Report

Maybe not a bug but very annoying UX.

## Problem

When using dapp browser, back button close the app.
To resume browsing, one must:
1. Re-Open the Status App (I usually use the android "running apps" button)
2. Tap on dapp browser tab (it always open on chat tab)
3. Tap on the active pages button
4. Select the tab (I also find this part confusing because I never know if the most rec

[2022-07-06 10:44] #13232 closed, assigned to qfrank

[2022-07-06 14:57] du82 commented on #13633
Finally someone mentioned the annoying feature where the app opens on the previous chat... It should reopen on the homepage, like every other superapp.

[2022-07-06 16:44] #13156 closed, assigned to briansztamfater

[2022-07-07 08:44] audriu opened #13635 "Currently blocked users are not syncing"
@audriu
e2e found an issue: currently blocked users are not syncing
**Steps:**
- Device1: create multiaccount, block any user from public chat
- Device2: restore same multiaccount on device 2
- Device2: pair Device1  and Device2
- Device1: tap on Sync All

**Expected result:**
can see blocked user on synced device
**Actual result:**
blocked user is not synced

Log: [geth.log](https://github.com/st

[2022-07-07 10:42] #13475 closed, assigned to audriu

[2022-07-07 16:37] hhio618 commented on #12566
Is this still open?

[2022-07-08 00:55] D4nte commented on #13633
For some reason, when switching Status app it does open to the previous app. But in the case of the back button being used, when switching back it goes to chat app.

[2022-07-08 06:38] D4nte commented on #13615
Same issue with https://unstoppabledomains.com/auth where nothing happen after message being signed. Is it the same problem?

[2022-07-08 12:50] pavloburykh commented on #13635
****UPDATE:****

### **Also blocked contacts are not backed up**

**Steps:**
1. Create multiaccount on Device 1
2. Add blocked user
3. Perform back up
4. Recover same multiaccount on Device 2
5. Pay attention if blocked contact is displayed on Device 2

**Actual result:** blocked contact is not displayed on Device 2

**Expected result:** blocked contact is displayed on Device 2

[2022-07-09 06:35] D4nte opened #13642 "Cannot sign in on claim.lens.xyz"
# Bug Report

## Problem

Sign in process doesn't work with dapp browser.
Note I switched to Polygon PoS mainnet for this dapp.

#### Expected behavior

Signing in is possible.

Note it works with Trust wallet:

![Screenshot_20220709-162607~2.jpg](https://user-images.githubusercontent.com/300805/178094597-94c4a658-76ef-40f8-a74f-2130f4482a6e.jpg)
![Screenshot_20220709-162619~2.jpg](https://user-im

[2022-07-09 06:40] D4nte commented on #13642
Please note it also fails when using wallet connect but at a different step. Same bug than Opensea. I get a message to sign. I sign it in Status app from phone, the webpage (on tablet) shows "InvalidSignature" pop up

[2022-07-09 06:55] D4nte opened #13643 ""No collectibles available" when collectibles can't be loaded"
# Bug Report

For some reason my NFT cache got reset, it's a bit scary to see "no collectible available" when last l opened a wallet they were there.

It would be good to replace this with a loading message.

### Additional Information

- Status version: 1.19.0
- Operating System: Android

[2022-07-11 09:07] cammellos opened #13646 "Sync imported wallets through seed phrase / key"
As a user
I want my wallet imported on one device to show up on the other device
So that my devices are all in sync

### Description

Currently the only type of wallet that does not sync yet is those imported through seed phrase/private key.
Those should also be synced with other devices.

[2022-07-11 09:13] qfrank commented on #13646
i'll look into it :)

[2022-07-11 11:10] pavloburykh opened #13647 "Some of synced data is not being updated on paired device after initial sync until relogin"
In current set of synced data among the data that is not being updated right after initial sync are:
- account currency
- "Accept chats from" setting value
- "See profile pictures from" setting value
- "Show profile pictures to" setting value

**Steps:**

1. Create multiaccount on Device 1
2. On Device 1 generate the following data that will be synced:
- Create community
- Create a new channel in

[2022-07-11 11:41] churik commented on #13642
@D4nte thank you for reporting! Did you use keycard for signing?

[2022-07-11 12:20] churik commented on #13647
Has been introduced in new version status-go in https://github.com/status-im/status-react/commit/33f6daff33425b17d9d6069d99553cd3ef81327e

[2022-07-11 14:24] audriu opened #13648 "Android can not export an unencrypted database"
# Bug Report

## Problem
[comment]: # Android can not export an unencrypted database.  Logs such message.
'2022-07-11 17:13:30.676 10426-10591/im.status.ethereum.debug E/StatusModule: Login failed: {"error":"file is not a database"}'

#### Expected behavior
Log in screen click "Export unencrypted" and see it exported to a file

#### Actual behavior
logs error instead

### Additional Information

-

[2022-07-11 14:55] cammellos commented on #13648
@churik @pavloburykh can you confirm please?

[2022-07-11 16:25] churik commented on #13648
Can't reproduce on nightly 11/07/22

export.db was created just fine.
[geth_11_07.log](https://github.com/status-im/status-react/files/9085884/geth_11_07.log)
Do you have any specific data on your account? And when exactly do you try to perform export?
Doc for exporting is here, ping me in case of having questions.
https://notes.status.im/yJMuhPAGT5inXa9Zb4vMZw

[2022-07-11 16:31] audriu commented on #13648
I try to export whole db to check how blocked users are saved and why blocked contacts synchronise but blocked non-contact users don't.
DB export worked in IOS but failed on Android. I will investigate why.

[2022-07-11 16:40] churik commented on #13648
Interesting that it works on my side. However, DB was almost empty so not sure what exact data can cause the issue.

Thank you!

[2022-07-11 17:02] pavloburykh commented on #13648
Hey @audriu Could you please specify what do you mean by "blocked contacts" here? Currently all blocked users are being removed from contacts and there is no way to add blocked user to contacts until unblock. Maybe by successful synchronising of "blocked contacts" you meant synchronising of "contacts"?

[2022-07-11 17:08] audriu commented on #13648
I am working on this https://github.com/status-im/status-react/issues/13635
So there are 2 cases:

1. blocked users from a public chat
2. blocked users from your personal contacts

So only blocked users from case 2 are synchronized and backed up. Users from case 1 are not restored to a new device with the same account.
My reasoning was to get the DB and to see how is it different, and why it won't

[2022-07-12 07:24] pavloburykh opened #13653 "E2E: connect ECONNREFUSED 127.0.0.1:8200 error in nightly testruns"
Recently some e2e tests in nightly run started failing with an error "An unknown server-side error occurred while processing the command. Original error: Could not proxy command to the remote server. Original error: connect ECONNREFUSED 127.0.0.1:8200"

Example of test run containing such errors https://ethstatus.testrail.net/index.php?/runs/view/9632&group_by=cases:section_id&group_order=asc

The

[2022-07-12 10:57] pavloburykh commented on #13647
@churik @audriu **UPDATE:** I've checked current issue in 2 PRs with reverted commits https://github.com/status-im/status-react/pull/13650 and https://github.com/status-im/status-react/pull/13654

Still reproducing the issue in both reverted PRs.

[2022-07-12 11:08] audriu commented on #13647
So it implies that the bug was before https://github.com/status-im/status-react/commit/33f6daff33425b17d9d6069d99553cd3ef81327e . I am fixing this next.

[2022-07-12 11:26] audriu commented on #13647
So @pavloburykh tested a PR that I made for 1 commit before the https://github.com/status-im/status-react/commit/33f6daff33425b17d9d6069d99553cd3ef81327e and the regression was still there. So effectively "v0.102.6" is tested to have the regression.

[2022-07-13 06:41] D4nte commented on #13642
Yes, using keycard to sign

[2022-07-13 07:21] marinhoarthur commented on #13055
@cammellos I'll be taking this one for myself. Couldn't find this issue on Gitcoin though.

Just to be accurate: I understand that the animation being referred to is the one regarding the height of the input box as the replied-to-msg enters/exits (see video).

https://user-images.githubusercontent.com/3693700/178674588-57df2e01-9f6e-4b35-8f18-37fe66b11ef2.mov

[2022-07-13 08:27] cammellos commented on #13055
@marinhoarthur Thanks, we create the bounty on gitcoin after someone expresses interest, as we don't want too many people to apply for it, I'll create a bounty today.

Yes, that's the animation I was referring to
Thank you

[2022-07-13 10:32] bitgamma commented on #13615
it is probably the same, the bug would appaear basically with any dapp using WalletConnect + Keycard when signing stuff.

[2022-07-13 10:48] cammellos commented on #13192
I think this field does not need to be synchronized, since it's kind of particular to a specific device, feel free to re-open if disagree

[2022-07-13 10:48] #13192 closed, assigned to nobody

[2022-07-13 10:49] #13003 closed, assigned to vitvly

[2022-07-13 10:49] Marudny commented on #13497
Hey, apologies for delays. I was off for a week. I'm during research Github Actions and Github Bot. I aim to close that issue till the end of the week.

[2022-07-13 10:50] cammellos commented on #6803
@churik is this still valid or it's been fixed?
Thanks!

[2022-07-13 10:51] cammellos commented on #13646
Closing for now, need some discussion first

[2022-07-13 10:51] #13646 closed, assigned to nobody

[2022-07-13 11:41] churik commented on #13430
![2 (2)](https://user-images.githubusercontent.com/4557972/178725598-08fce11d-c14f-4888-a91e-1f7e8f461f98.png)
![1 (2)](https://user-images.githubusercontent.com/4557972/178725605-1706de64-0cc2-4fcf-8e38-d32238a7eed1.png)

[2022-07-13 11:42] #13612 closed, assigned to Parveshdhull

[2022-07-13 11:42] churik commented on #6803
done already, thanks for spotting!

[2022-07-13 11:42] #6803 closed, assigned to nobody

[2022-07-13 15:40] qfrank commented on #13642
Hi @D4nte , can u reproduce it without using keycard?

[2022-07-13 22:53] D4nte commented on #13642
Same problem without keycard. It takes 30s to reproduce BTW. No prerequisite needed.

![Screenshot_20220714-085151.jpg](https://user-images.githubusercontent.com/300805/178850571-5e2b1393-210c-4c92-9b55-357af08874bd.jpg)
![Screenshot_20220714-085157.jpg](https://user-images.githubusercontent.com/300805/178850603-e512901f-90ab-4d71-99d6-90f52256234b.jpg)![Screenshot_20220714-085202.jpg](https://use

[2022-07-13 23:01] Parveshdhull opened #13664 "Implement react-native-blur view for android"
### Summary

Currently react-native-blur only works for IOS, while using it for android it gives error

<img src="https://user-images.githubusercontent.com/17097240/178850240-d86562b0-b14b-4a45-a954-544114bfa792.png" alt="Screenshot" height="400"/>

[2022-07-14 01:30] du82 opened #13666 "New status bar is wrong color"
The new status bar isn't the right color, it's slightly off from what it should be. I think @Parveshdhull did the original implementation, maybe it needs a slight fix

![Screenshot_20220713-171127_Status PR](https://user-images.githubusercontent.com/65834069/178867609-463743d2-6053-49eb-934c-34cbd00bf212.jpg)

[2022-07-14 01:34] Parveshdhull commented on #13666
Hi, @du64, Thank you very much for reporting this issue. Please can you specify which build you are using?

[2022-07-14 01:45] Parveshdhull commented on #13666
<img src="https://user-images.githubusercontent.com/17097240/178868993-81ce62ba-b87e-419a-b302-527d17fc77a3.png" alt="Screenshot" height="200"/>

@briansztamfater, Please can you check if you are using `colors/neutral-5` for messages view, it looks different then wallet and status-bar

[2022-07-14 01:50] du82 commented on #13666
Using the version with commit hash:

df1189bb7af5bba9c57c313f510fc3857d985366

[2022-07-14 08:37] guylouis commented on #13613
@churik is it keycard specific ? if yes, let's ping @bitgamma

[2022-07-14 10:01] churik commented on #13613
Well, it is visible more on the keycard as there is no animation when the login process is long. Not sure that in terms of new UI it has high priority to fix it though.

[2022-07-14 11:57] #13664 closed, assigned to Parveshdhull

[2022-07-14 12:51] Parveshdhull commented on #13666
Issue fixed in https://github.com/status-im/status-react/pull/13640, Next nightly build will have same color for messages screen and status-bar. Thank you

[2022-07-14 12:51] #13666 closed, assigned to nobody

[2022-07-14 13:41] churik opened #13667 "Errors in framework"
# Bug Report

## Problem
1) if tests marked as xfail, run=False, they are trying to post results in test suite even if they are not part of the run
`{'error': 'Field :results contains one or more invalid results (case C702164 unknown or not part of the test run)'}`
Example:
https://github.com/status-im/status-react/pull/13663
https://ethstatus.testrail.net/index.php?/runs/view/9661&group_by=cases:

[2022-07-14 13:46] #13610 closed, assigned to Parveshdhull

[2022-07-15 08:45] pavloburykh opened #13669 "ENS names are not resolved in mentions list in community channel"
**Steps:**
1. Create new community channel
2. Join community with User 1
3. Join community with User 2 who has ENS name connected
4. Start typing @ by User 1 in community channel to see mensions list
5. Pay attention if Users 2 ENS is displayed in mentions list

**Actual result:** ENS name is not displayed in mentions list. It is impossible to mention User 2 be his ENS

https://user-images.githubu

[2022-07-15 09:25] cammellos opened #13670 "Use image server for all kind of images and integrate identity rings"
### Description

Currently the http server in status-go https://github.com/status-im/status-go/blob/develop/server/server.go is used only for identicon and image messages.
We should also use it for profile pictures.

There's a branch out that also handles this case, which includes work from @qfrank:
https://github.com/status-im/status-mobile/tree/feature/identity-images-http-server
https://github.

[2022-07-15 09:34] #13593 closed, assigned to cammellos

[2022-07-15 09:37] cammellos commented on #12882
This is going to be fixed with waku-2, we tested in bad network conditions and large messages are sent as expected, closing for now.

[2022-07-15 09:39] cammellos commented on #13176
Closing this for now, the case from @pavloburykh is expected, since we don't sync messages on new devices, we have to dig a bit deeper as some notifications might need syncing, but we can probably open issue for those specifically, feel free to re-open if disagree or I have missed something.

[2022-07-15 09:39] #13176 closed, assigned to nobody

[2022-07-15 09:40] cammellos commented on #13479
@pavloburykh I believe this has been fixed, closing now, @pavloburykh would you mind re-opening if that's not the case?
Thank you

[2022-07-15 09:41] cammellos commented on #11450
This is due to waku-1, we checked on waku-2 and the issue is not present in slow network condidtions, so closing for now as it will be fixed in the upgrade.

[2022-07-15 09:41] #11450 closed, assigned to cammellos

[2022-07-15 09:42] cammellos commented on #12882
Don't mind me, commented on the wrong issue :)

[2022-07-15 09:47] cammellos opened #13672 "Synchronize accepting/dismissing contact requests"
As a user with a paired device
When I accept a contact request on one device I want it to be accepted on the other device as well
So that my state is sync and I don't have to perform the same action twice

1) Create device A1 & A2 (same seed phrase on both devices), pair them (ask qa for assistance if needed)
2) Create device B1 (different chat key)
3) Enable mutual contact requests on all devices

[2022-07-15 09:48] churik commented on #13667
![photo_2022-07-15 11 42 53](https://user-images.githubusercontent.com/4557972/179198305-1ed53420-2339-40a3-826c-6d5a3082944c.jpeg)

Due to ``--tb=short``  log error is not relevant

[2022-07-15 09:48] cammellos commented on #13590
Thanks @pavloburykh , I have created a separate issue tracking the case you mentioned https://github.com/status-im/status-react/issues/13672 , closing this one as it does not apply.

[2022-07-15 09:48] #13590 closed, assigned to audriu

[2022-07-15 09:54] #13476 closed, assigned to nobody

[2022-07-15 11:12] Parveshdhull commented on #13669
**UPD**: Issue only affecting Open communities.

[2022-07-15 11:40] pavloburykh commented on #13479
@cammellos hi! Reproducing the bug in latest nightly. I believe PR with fix has not been merged, as it is in Draft state https://github.com/status-im/status-react/pull/13485 Would you mind rebasing it and sending for re-test to E2E column? Thank you!

[2022-07-15 14:29] jo-mut opened #13676 "UI Component - Tags"
This issue is to track the creation of the component:  Tag & Tags

You can access the links at:
 Tag:   https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=180%3A9685
 Tags: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=181%3A9543

[2022-07-15 14:42] jo-mut opened #13678 "UI Component - Permission Tags"
This issue is to track the creation of the component: Permission Tags

You can access the links at: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=911%3A27048

[2022-07-15 15:10] #13642 closed, assigned to qfrank

[2022-07-15 17:27] qoqobolo opened #13679 "Bookmarks added after pairing are not synced"
# Bug Report

## Problem
Browser bookmarks (favourites) added on the main device after pairing don't appear on the secondary device.
There is another issue on 1.19: bookmarks added after pairing only appear on the secondary device after relogin.
However, on the develop relogin doesn't work.

#### Expected behavior
- New bookmarks are synced immediately after being added on the main device
- Relogi

[2022-07-15 18:25] marinhoarthur commented on #13055
Got the app up and running locally. Will dive into the actual issue.

[2022-07-16 07:14] qfrank commented on #11856
Sounds interesting

[2022-07-18 11:49] cammellos opened #13682 "Implement activity center new UI"
This feature is to track the development of the new UI for the activity center:

https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=714%3A28640

Please make sure that all the components are added to quo2, feel free to merge them as you go along so other people can reuse them.

A few components have been implemented in https://github.com/status-im/status-mobile/pull/13629

[2022-07-18 13:37] qoqobolo opened #13683 "Clicking on a sticker in chat view opens wrong sticker pack if its contract is also registered on another network"
# Bug Report

## Problem
If a contract of a sticker pack is registered in the main network and in a test network (e.g. the `Status Cat` sticker pack is registered in both Mainnet and Ropsten), then if UserA (on Mainnet) receives a sticker from the `Status Cat` sticker pack from UserB (that is on Ropsten) and taps it in the chat view, the wrong sticker pack will be opened.

#### Expected behavior
C

[2022-07-18 14:47] #13033 closed, assigned to cammellos

[2022-07-18 14:52] #13614 closed, assigned to nobody

[2022-07-18 15:09] churik opened #13685 "e2e status-app-prs aren't triggered after renaming repo"
# Bug Report

## Problem
After renaming `status-react` to `status-mobile` e2e jobs in https://ci.status.im/job/status-mobile/job/e2e/job/status-app-prs/ are not triggered automatically anymore.

#### Expected behavior
Autobot triggers job automatically by changing PR status in https://github.com/status-im/status-mobile/projects/7
(example https://ci.status.im/job/status-mobile/job/e2e/job/status-a

[2022-07-18 15:27] jakubgs commented on #13685
Looks like this is the issue:
[code]

[2022-07-18 15:29] jakubgs commented on #13685
Or not, that seems like a red herring. This bot tries to check forks for `Pipeline for QA` project and doesn't fine it. Unrelated.

[2022-07-18 15:36] jakubgs commented on #13685
Ooooh, ok, I see it:
https://github.com/status-im/status-mobile/blob/f38588a30c5bd7ef901e757266625fbc4b87e279/.github/github-bot.yml#L12-L13
I guess `ag` ignored `.github` subfolder when I was renaming things.

[2022-07-18 17:01] cammellos opened #13687 "Extend integration tests to create a community"
We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to create a community.

The test steps that should be covered in the tests should be:
1) Create a new account (already covered by steps) & login (we can start from these steps https://github.com/status-im/status-react/blob/9f9b896eb7fcfac60d55b33a3744480b13d2ba8d/src/status_im/integ

[2022-07-18 19:14] briansztamfater commented on #13533
I think it is a duplicate of #13530

[2022-07-18 19:16] cammellos commented on #13533
My bad, thank you

[2022-07-18 19:16] #13533 closed, assigned to nobody

[2022-07-18 19:35] briansztamfater commented on #13539
Not duplicated but super-duper related with #13538, I'll work on both

[2022-07-18 19:59] #13685 closed, assigned to jakubgs

[2022-07-18 22:42] Parveshdhull opened #13690 "online visibility indicator color is different on chat screen and home"
# Bug Report

## Problem
online visibility indicator color is different on chat screen and home

https://user-images.githubusercontent.com/17097240/179629282-db95ba12-ef46-481e-837c-877ec96b3a50.mp4

#### Expected behavior
Chat screen should not use visibility icon color from redesign, as redesign is still in WIP and should not affect current UI.

#### Actual behavior
 visibility indicator dot col

[2022-07-19 12:31] qoqobolo commented on #13679
Hey @PascalPrecht! Pinging you here as @Samyoul mentioned that you might have more details on this issue. If so, could you please share?
Probably you could fix it on the status-go side?

[2022-07-19 12:34] Samyoul commented on #13679
Ah I know the problem, we need to add some signal handling on the mobile side.

[2022-07-19 13:43] #13669 closed, assigned to Parveshdhull

[2022-07-19 13:59] 0x-r4bbit commented on #13679
Hi @qoqobolo
as mentioned in https://github.com/status-im/status-go/pull/2709#issuecomment-1150982565, for bookmarks to be synced in realtime, mobile has to use messenger APIs.

Right now they use service APIs which bypass the implicit sync done by the messenger.

[2022-07-20 05:56] #13648 closed, assigned to audriu

[2022-07-20 12:50] churik commented on #13683
Blocks part of 702157, re-enable check after fix

[2022-07-20 14:13] #13595 closed, assigned to nobody

[2022-07-20 14:13] #13598 closed, assigned to nobody

[2022-07-20 14:13] #13603 closed, assigned to nobody

[2022-07-20 14:13] #13604 closed, assigned to nobody

[2022-07-20 16:53] Parveshdhull opened #13699 "Implement Scan tab in switcher"
As a user
I want to have a Scan tab in the switcher.

[Switcher](https://github.com/status-im/status-mobile/issues/13155) and [Switcher tabs](https://github.com/status-im/status-mobile/pull/13386) are being implemented separately.
Scope of the issue is to implement QR scanner screen and animations.

### Designs
https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=451%3A18994

[2022-07-21 07:08] OmarBasem commented on #13246
Greetings everyone,
Based on the challenges shared with me, I will be working on this task.

[2022-07-21 13:11] qoqobolo commented on #13017
Closing this since it is still possible to connect to Opensea with Status with the following steps:
1. Open Opensea
2. Tap three dots at the bottom right > `Connect wallet` > `Allow`

_Here is expected to open a modal window with the `Accept and sign` button, however, sometimes you need to refresh the page to see it_

3. Refresh the page
4. Tap `Accept and sign` and sign a message

https://user-im

[2022-07-21 13:11] #13017 closed, assigned to nobody

[2022-07-21 15:33] PeterOla commented on #13556
Hello,
I was assigned some tasks, I will like to work on this one.

[2022-07-21 16:05] briansztamfater commented on #13556
@PeterOla sure, just assigned it to you

[2022-07-22 07:15] yqrashawn commented on #12790
Hi, I'd like to work on this one. And #13579 if things got blocked temporarily by external dependency.
Is that ok? @cammellos

[2022-07-22 09:36] jakubgs commented on #13497
Generally the bot code is here: https://github.com/status-im/status-github-bot

The configuration is here:
https://github.com/status-im/status-mobile/blob/28a2113874cc3bcce370d913cf0c3dd70c85b9ef/.github/github-bot.yml#L3-L9

~~You should be trying to copy one of the existing flows and adjusting it, for example:~~
https://github.com/status-im/status-github-bot/blob/master/bot_scripts/assign-new-pr

[2022-07-22 09:39] jakubgs commented on #13497
Actually, the flow we want to modify is:
https://github.com/status-im/status-github-bot/blob/master/bot_scripts/assign-approved-pr-to-test.js

Specifically:
[code]
https://github.com/status-im/status-github-bot/blob/bf35bd6c/bot_scripts/assign-approved-pr-to-test.js#L158-L165

[2022-07-22 11:09] churik opened #13711 "Hardcoded ENS usernames should be replaced"
# Bug Report

## Problem
Follow up on https://github.com/status-im/status-mobile/pull/13660#issuecomment-1188149071

From @3esmit:
Regarding ENS names...
I see that hardcoding the address of ENS Usernames in goerli was needed, but this is wrong. ENS Usernames is a subset of ENS, and ENS will lookup the ENS Usernames contract by looking the controller of stateofus.eth, which is the address that can

[2022-07-22 13:41] #13635 closed, assigned to audriu

[2022-07-23 17:20] Parveshdhull opened #13715 "make run-clojure is not working when there is space in repo path"
# Bug Report

## Problem
[comment]: # (A problem description)

If a user clones the status-mobile repo to a path that contains a space in the folder name, then `make run-clojure` is not working

[code]

### Reproduction Steps
1) Create a folder `test folder`
2) Clone `status-mobile` inside the `test folder`
3) Run `make run-clojure`

### Additional Information

- Reproduced in fedora and arch linu

[2022-07-23 17:20] Parveshdhull commented on #13715
cc: @jakubgs

[2022-07-24 07:52] jakubgs commented on #13715
It's "contains a space", not "consists a space".

And clearly the issue is in the exact line indicated by the error, line 28:
https://github.com/status-im/status-mobile/blob/694986682a69b18b249085cdabe659cb85eb4407/nix/scripts/source.sh#L27-L29
It just needs to be double quoted.

Btw, your repo clone name is still `status-react`, not `status-mobile`.

[2022-07-24 09:03] Parveshdhull commented on #13715
Actually, I tried double quoting `${GIT_ROOT}/nix/scripts/setup.sh` at line 28, and also few other places where use of `${GIT_ROOT}` is not double quoted
but then similar error is reported from nix file, don't remember exact name, but something like
`nix/......./setup`

[2022-07-24 09:24] Parveshdhull commented on #13715
[code]

[2022-07-25 01:39] du82 opened #13718 "Switcher browser tabs"
As a user I want to have my browser tabs included in the switcher so I can quickly switch between chatting with someone and visiting a site

### Designs:
https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=0%3A1

[2022-07-25 06:44] qfrank commented on #13121
i'll look into it :)

[2022-07-25 06:47] flexsurfer commented on #13121
hey @qfrank i think we shouldn't "fix" `{"method":{"method"` in status. it should be fixed in the dapp

[2022-07-25 06:58] D4nte commented on #13121
Can we try to investigate [iwwon](https://www.iwwon.com/newworldorder)? How can I help with this one.

[2022-07-25 08:22] flexsurfer commented on #13121
last time i tried it , discord link didn't work for me

[2022-07-25 08:25] flexsurfer commented on #13121
@D4nte could you try to get dapp logs ?  you need to enable webview debug in advanced, and connect chrome to dapp for debug

[2022-07-25 08:30] flexsurfer commented on #13121
if you need any help ping me in discord , thanks

[2022-07-25 08:32] flexsurfer commented on #13246
@John-44 @briansztamfater im not sure we have this in new designs ?

[2022-07-25 10:31] churik opened #13720 "[TEST ISSUE, WILL BE CLOSED] Mobile release"
Issue to manage mobile release <version>

### Scope
[comment]: # (Add milestone from github)
https://github.com/status-im/status-mobile/milestone/

- release notes:
- release branch:

### Testing info
[comment]: # (TestRail info, added by QA)
Main test suite:
Upgrade (e2e):

### Builds in TestFlight and PlayStore to push as a release
[comment]: # (Will be added by QA after testing approving of bui

[2022-07-25 10:59] #13493 closed, assigned to flexsurfer

[2022-07-25 12:15] #13479 closed, assigned to cammellos

[2022-07-25 17:41] ibrkhalil commented on #13573
I think this is a system-based component too.

[2022-07-25 20:38] #13667 closed, assigned to yevh-berdnyk

[2022-07-25 20:42] jakubgs commented on #13715
I cannot reproduce your `run-clojure` issue.

[2022-07-25 20:47] Parveshdhull commented on #13715
hmmm, that's weird

[2022-07-26 01:49] qfrank commented on #13121
Hi @flexsurfer , i found `collab` tried ```
sendSync (legacy){"method":"eth_signTypedData_v4","params":["0x516312d69737c5e6ef16f22E0097ff5D9F0c4196","{\"domain\":{\"chainId\":1,\"name\":\"Collab.Land Connect\",\"verifyingContract\":\"0xCcCCccccCCCCcCCCCCCcCcCccCcCCCcCcccccccC\",\"version\":\"1\"},\"primaryType\":\"Verify\",\"message\":{\"message\":\"Verify account ownership\"},\"types\":{\"EIP712D

[2022-07-26 03:45] qfrank commented on #13121
Hi @D4nte , the link looks like broken

[2022-07-26 04:24] qfrank commented on #13121
i tried https://connect.collab.land/ with metamask, it doesn't work neither after signed,
![image](https://user-images.githubusercontent.com/12406719/180919037-f584f2e4-c2bb-4226-a9e8-68c1a56375f1.png)
i think we should fix it in status, make the `signing a message` pop up at least like this:
![image](https://user-images.githubusercontent.com/12406719/180919413-5db3b4ed-48d3-4dc7-8395-0414423a7bee

[2022-07-26 05:24] qfrank commented on #13121
Hi @flexsurfer , i tried https://connect.collab.land/ with metamask, it doesn't work neither after signed,
![image](https://user-images.githubusercontent.com/12406719/180919037-f584f2e4-c2bb-4226-a9e8-68c1a56375f1.png)
i think we should fix it in status, make the `signing a message` pop up at least like this:
![image](https://user-images.githubusercontent.com/12406719/180919413-5db3b4ed-48d3-4dc7-

[2022-07-26 09:00] #13720 closed, assigned to nobody

[2022-07-26 09:02] churik commented on #13096
Closed with xfail

[2022-07-26 09:02] #13096 closed, assigned to nobody

[2022-07-26 10:04] churik commented on #13653
Another issue: sometimes connection is just lost without reason, and no commands are sent
Example: https://ethstatus.testrail.net/index.php?/tests/view/2938090

[2022-07-26 12:30] du82 commented on #13573
Yes, this is managed by the OS, to match the multiple navigation styles on both iOS and Android

[2022-07-26 13:03] churik opened #13725 "Refactor upgrade e2e: test_unread_previews_public_chat_version_upgrade"
Currently, upgrade tests are fragile and each test is complex and contains a lot of checks.
Would be nice to use a group approach to have separate checks for each test for better readability.

Also as this is a plan to remove support for public chat, better to replace initial data in tests from public chats to the community with the same data (possible to create one community with different channe

[2022-07-26 14:50] churik commented on #9140
Still relevant on nightly

[2022-07-26 14:52] churik commented on #9255
still relevant on nightly

[2022-07-26 14:52] churik commented on #9482
still relevant on nightly 26/07/2022

[2022-07-26 14:54] churik commented on #9763
still relevant on nightly 26/07/2022

[2022-07-26 14:55] churik commented on #9840
can be closed due to redesign

[2022-07-26 14:55] #9840 closed, assigned to nobody

[2022-07-26 15:12] pavloburykh commented on #13121
@D4nte Hi! Could you please check if you are still reproducing the bug on https://www.iwwon.com/newworldorder using this [apk](https://status-im-prs.ams3.cdn.digitaloceanspaces.com/StatusIm-Mobile-220726-064521-d919b0-pr13724-universal.apk) ?

I've already checked it on https://connect.collab.land/ and signing pop up appears. Although the sign action itself fails but as was described [above](https

[2022-07-26 19:29] briansztamfater opened #13726 "UI Component - Editing"
This issue is to track the creation of the component: Editing

You can access the link at https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=4170%3A78081

Please have a chat with the design team before starting with the component, and don't forget to add sizing to the issue

<img width="745" src="https://user-images.githubusercontent.com/18485527/181095756-1276c790-2eb8-4e

[2022-07-26 19:31] briansztamfater commented on #13726
This is similar to #13538 so I will work on it

[2022-07-27 06:19] D4nte commented on #13121
It does not help unfortunately.

I just noticed it's possible to check the code on iwwon:

https://www.iwwon.com/static/js/section/4-NewWorldOrderSection/NewWorldOrderSection.js

I wonder if line 394 is the culprit as I do not see a snack bar when I click on the claim btn:

[code]

Will try to get debug logs

[2022-07-27 06:36] D4nte commented on #13121
Alright, I was able to get some debug logs:

[code]

When clicking on claim1.

this comes from `interact.js`:

[code]

[2022-07-27 08:28] qoqobolo commented on #13690
Hi @ibrkhalil!
Would you mind removing your assignment for this task? As far as I understood [this PR](https://github.com/status-im/status-mobile/pull/13693) doesn't fix the issue, so now we can make it visible and free to be picked up by someone else.
Or feel free to fix it yourself if you like ofc :)

[2022-07-27 09:06] yqrashawn commented on #13579
Thoughts while working on this one.

The first thing I tried is to get a working REPL to do code on integration tests.

Currently, the test runner is injected by shadow-cljs and [doesn't have an option for not quitting the node process](https://github.com/thheller/shadow-cljs/blob/4115a2be68160b02e88a70409000f696008663e8/src/main/shadow/test/node.cljs#L9).

I suggest we fix it with a custom test r

[2022-07-27 09:25] #11091 closed, assigned to nobody

[2022-07-27 09:46] qfrank commented on #13121
if i can't reproduce, hard to solve, the debug logs didn't help much :)

[2022-07-27 09:48] qfrank commented on #13121
Hey @flexsurfer , may i know your discord id ? have some private things to talk with u

[2022-07-27 09:53] flexsurfer commented on #9482
will be fixed in new design

[2022-07-27 09:54] #9482 closed, assigned to nobody

[2022-07-27 10:05] churik commented on #9981
As two fields of password and confirming password are on the same screen now and taking into account redesign, don't think this issue is relevant for now.
Feel free to reopen.

[2022-07-27 10:05] #9981 closed, assigned to nobody

[2022-07-27 10:06] churik commented on #10119
@flexsurfer relevant? :)

[2022-07-27 10:08] churik commented on #10286
still relevant on 1.19

[2022-07-27 10:09] churik commented on #10309
@flexsurfer suppose it is still relevant; however, feel free to close it if smth fresher on the topic exists

[2022-07-27 10:10] flexsurfer commented on #10309
still relevant

[2022-07-27 10:11] flexsurfer commented on #10119
yes

[2022-07-27 10:13] churik commented on #10335
Closing as a stale issue; please, feel free to reopen if it matters from a technical POV.
Thank you!

[2022-07-27 10:28] churik commented on #10345
Still relevant on nightly 27/07/2022

[2022-07-27 10:31] churik commented on #10348
Still relevant on nightly 27/07/2022

[2022-07-27 10:31] churik commented on #10499
Still relevant on nightly 27/07/2022

[2022-07-27 10:33] churik commented on #8577
More context in https://github.com/status-im/status-mobile/issues/10809

[2022-07-27 10:34] churik commented on #10809
Closing in favor of https://github.com/status-im/status-mobile/issues/8577, added this issue as a reference.

[2022-07-27 10:34] #10809 closed, assigned to nobody

[2022-07-27 10:34] churik commented on #10825
@jakubgs still relevant?

[2022-07-27 10:41] qfrank commented on #13121
if it's really because `window.web3.currentProvider`, i'd say status browser does not support the property `window.web3`, `web3` has known security issues ( source: https://docs.metamask.io/guide/provider-migration.html#replacing-window-web3 ), i guess status won't like to support neither, metamask suggest that "if you just want your web3 site to continue to work, we created [@metamask/legacy-web3

[2022-07-27 10:53] churik commented on #10838
Still relevant on nightly 27/07/2022

[2022-07-27 10:55] churik commented on #11054
Still relevant on nightly 27/07/2022

[2022-07-27 10:59] Neustradamus commented on #10335
Dear @churik,

It is not solved, always CVEs in your products!
- https://github.com/status-im/status-mobile/search?q=bouncycastle

[2022-07-27 11:01] churik commented on #11076
Still relevant on nightly 27/07/2022

[2022-07-27 11:05] Neustradamus commented on #10335
Dear @churik,

It is not solved, always CVEs in your products!
- https://github.com/status-im/status-mobile/search?q=bouncycastle

Currently, the last version of Bouncy Castle is 1.71.

Please reopen this ticket and solve all vulnerabilities.

[2022-07-27 11:07] churik commented on #11111
Still the case @jakubgs ?

[2022-07-27 11:28] qfrank commented on #13670
i'll look into it :)

[2022-07-27 11:57] churik commented on #11126
I'm not sure it is relevant anymore in terms of redesign app. Reopen if it is still important

[2022-07-27 11:57] #11126 closed, assigned to nobody

[2022-07-27 11:58] churik commented on #11161
Still relevant on nightly 27/07/2022

[2022-07-27 12:01] churik commented on #11168
Can see menu now quite easily.
Fixed on nightly 27/07/2022

[2022-07-27 12:01] #11168 closed, assigned to nobody

[2022-07-27 12:05] churik commented on #11259
Still relevant on nightly 27/07/2022

[2022-07-27 12:06] churik commented on #11264
Still relevant on nightly 27/07/2022

[2022-07-27 12:06] churik commented on #11265
Still relevant on nightly 27/07/2022

[2022-07-27 12:11] churik commented on #11269
still the case on nightly 27/07/22

[2022-07-27 12:14] churik commented on #11366
Now I see error "SSL certificate is not valid"

![image](https://user-images.githubusercontent.com/4557972/181244185-58d0e82e-f0e5-4ac4-9524-4027d4d4c80c.png)
Closing as stale, reopen if still relevant

[2022-07-27 12:14] #11366 closed, assigned to nobody

[2022-07-27 12:25] churik commented on #11457
@guylouis any clue how can I get this screen? :)
Is it relevant?

[2022-07-27 12:29] churik commented on #11459
Not reproducible on nightly 27/07/22

[2022-07-27 12:29] #11459 closed, assigned to nobody

[2022-07-27 12:38] churik commented on #11466
Closed as stale issue; reopen if still can reproduce

[2022-07-27 12:38] #11466 closed, assigned to nobody

[2022-07-27 12:41] churik commented on #11460
still valid on nightly 27/07/22

[2022-07-27 12:52] jakubgs commented on #13497
I see this is the section which decides what state directs to which column:
[code]
https://github.com/status-im/status-github-bot/blob/bf35bd6c/bot_scripts/assign-approved-pr-to-test.js#L207-L220

Which gets `state` from `_getReviewApprovalState()`:
[code]
https://github.com/status-im/status-github-bot/blob/bf35bd6c/lib/github-helpers.js#L84-L97

[2022-07-27 13:13] churik commented on #11472
Couldn't reproduce the issue on nightly 27/07/22

[2022-07-27 13:13] #11472 closed, assigned to nobody

[2022-07-27 13:23] churik commented on #11042
still relevant on nightly 27/07/22

[2022-07-27 13:39] jakubgs commented on #13497
I think this is what we need:
[code]
https://github.com/status-im/status-github-bot/blob/bf35bd6c/lib/github-helpers.js#L51-L72

Specifically the `mergeable_state` from `pullRequest` object is what we want. But not sure exact meaning of `dirty`.

[2022-07-27 13:43] jakubgs commented on #13497
We can find `mergeable_state` in these API docs: https://docs.github.com/en/rest/pulls/pulls

But this issue in Octobox.net explains the meaning:

* https://github.com/octokit/octokit.net/issues/1763

So yes, `dirty` is what we need.

[2022-07-27 13:44] jakubgs commented on #13497
Apparently `mergeable_state` is an "undocummented field": https://github.com/orgs/community/discussions/24299

[2022-07-27 13:50] guylouis commented on #11457
this screen can only be triggered by a dapp that calls a specific web3.js function described here https://keycard.tech/docs/web3.html
this was created to enable point of sales use cases with status and keycard
it's not the priority anymore, we will come back to this but not in the short term

Since the request screen works, and this i anyway just a low severity bug to improve it. I would not tackl

[2022-07-27 13:57] churik commented on #11590
Replaced with custom nonce

[2022-07-27 13:58] #11590 closed, assigned to nobody

[2022-07-27 13:58] churik commented on #11597
Replaced with custom nonce

[2022-07-27 13:58] #11597 closed, assigned to nobody

[2022-07-27 13:59] churik commented on #11620
Still relevant @cammellos ?

[2022-07-27 13:59] churik commented on #11617
Still relevant @cammellos ?

Added `recheck` label for easy finding that one in case of need.

[2022-07-27 14:03] churik commented on #11710
still relevant on 27/07/2022

[2022-07-27 14:04] churik commented on #11735
Closing as stale

[2022-07-27 14:04] #11735 closed, assigned to shivekkhurana

[2022-07-27 14:05] churik commented on #11742
Closing, as page doesn't exist anymore

[2022-07-27 14:05] #11742 closed, assigned to nobody

[2022-07-27 14:15] churik commented on #12020
Reopen if there will be the way to reproduce it

[2022-07-27 14:15] #12020 closed, assigned to nobody

[2022-07-27 14:18] churik commented on #12025
No more links to group chat, closing issue

[2022-07-27 14:18] #12025 closed, assigned to nobody

[2022-07-27 14:26] #13715 closed, assigned to jakubgs

[2022-07-27 14:29] churik commented on #12068
Suppose it makes sense to review it again after new re-design, closing for now

[2022-07-27 14:29] #12068 closed, assigned to nobody

[2022-07-27 14:31] churik commented on #12076
@DiGitHubCap is that still the case for you?

[2022-07-27 14:34] churik commented on #12125
not reproducible anymore on nightly 27/07/22

[2022-07-27 14:34] #12125 closed, assigned to nobody

[2022-07-27 14:38] ibrkhalil commented on #13690
Alright Diana
I am currently focused on another ticket so I'll unassign myself for now

[2022-07-27 14:50] #13679 closed, assigned to Parveshdhull

[2022-07-27 14:53] churik commented on #12254
Initial issue and https://github.com/status-im/status-mobile/issues/12254#issuecomment-869544380 are not reproducible on nightly 27/072022

[2022-07-27 14:53] #12254 closed, assigned to nobody

[2022-07-27 15:19] ibrkhalil commented on #13574
Another system component

[2022-07-27 15:20] ibrkhalil commented on #13592
Hey @churik
Can you tell me how can I send ~9k messages and I am happy to take a look ?
Cheers!

[2022-07-27 15:39] jakubgs commented on #11111
I have not seen anyone report this in quite a while. It's possible this is no longer an issue.

[2022-07-27 15:47] jakubgs commented on #10335
As I said in https://github.com/status-im/status-mobile/issues/10335#issuecomment-883184339, do we really care?

The only reason for caring is possibly the dependency of `react-native-status-keycard` on `bouncycastle`:
[code]
https://github.com/status-im/react-native-status-keycard/blob/af61b021/android/build.gradle#L47

From a short skimming of the source code the only place it is actually used i

[2022-07-27 15:50] jakubgs commented on #10825
These are still open:

* https://github.com/NixOS/nix/issues/3701
* https://github.com/NixOS/nix/pull/6766

So yes.

[2022-07-28 00:21] D4nte commented on #13121
Thanks for that. I forwarded to the dApp developer. Fair enough if no action is taken on Status side.

[2022-07-28 10:41] yqrashawn commented on #11460
Hi, I'd like to work on this one.

[2022-07-28 11:42] flexsurfer commented on #13633
most likely this will be fixed only in the design

[2022-07-28 12:41] flexsurfer commented on #13606
1. you have to change chainId manually in the input field

[2022-07-28 13:50] flexsurfer commented on #13606
1. changed default value to 5
2. deployed to  https://simpledapp.eth.link/

[2022-07-28 13:50] #13606 closed, assigned to flexsurfer

[2022-07-28 14:37] #13121 closed, assigned to qfrank

[2022-07-29 07:06] fryorcraken opened #13738 "Flow stuck after repairing keycard"
# Bug Report
## Problem

Flow seems broken/unresponsive when repairing keycard at sign in.

## Reproduction

1. Unpair keycard using keycard connect
2. Sign out of Status
3. Sign in Status with keycard
4. Get error that keycard is not paired, follow the flow to pair keycard
5. Enter keypair code, enter pin, tap keycard (in whichever order the flows ask)
6. Then it just remains on a screen (sorry d

[2022-07-31 22:00] ilmotta commented on #13690
Hey @qoqobolo, @ibrkhalil, I started to work on this issue today. I should be able to submit a PR mid-week o/

[2022-08-01 08:02] qoqobolo commented on #13690
@ilmotta okay, thank you!

[2022-08-01 08:41] flexsurfer commented on #13683
this should be fixed in contract or in e2e tests

[2022-08-01 09:11] qoqobolo commented on #13738
@fryorcraken thanks for reporting this!

Can reproduce it on Nightly 1/08/22 using the `Unpair Others` option in Keycard Connect

<img width="391" alt="Screenshot 2022-08-01 at 11 09 42" src="https://user-images.githubusercontent.com/67952253/182114623-6f3d4191-1a32-4e4b-bbba-a79c22d768eb.png">

https://user-images.githubusercontent.com/67952253/182114270-49ee9873-ee6c-4ec5-affb-c5d99a514b45.mp4

[2022-08-01 11:40] rasom commented on #13647
The first attempt (not first actually, but I mean the first I got reproduced multiple times):
1. I did all steps from 2) except for "Add watch only account"
2. In result it has all four settings from the original issue synchronised.
3. 1-1 chat and a private group were not synchronised though (I don't remember whether that's a problem)

[2022-08-01 11:52] audriu commented on #13647
The currency also doesn't synchronize if all steps are reproduced.

[2022-08-01 12:21] rasom commented on #13647
@audriu that is correct

So if I don't add watch only acc those setting are synchronised successfully.

In both cases 1-1 chat and private group are not synchronised (still wondering whether this is ok @pavloburykh )

[2022-08-01 12:45] qoqobolo opened #13740 "Keycard account is displayed as regular on login screen after switching dark/light mode"
# Bug Report

## Problem
_This is an edge case, but might be worth a look. Feel free to close if you think it's a `won't fix`._

There are two scenarios for regular and keycard accounts.

### 1. Keycard account [still relevant]

**Steps (same as for regular account):**
1. Create a keycard account on an Android device
2. Close the app
3. Open the app and very quickly tap the overview system Android

[2022-08-01 12:53] pavloburykh commented on #13647
@rasom Yes, that is ok. We do not initially synchronise group/private chats in current implementation.

[2022-08-01 14:47] hesterbruikman opened #13743 "Add banner for ENS redistribution"
# Problem
We need more people to be aware that they can collect $ENS if they registered a stateofus.eth name.

## Implementation
see [Figma](https://www.figma.com/file/vMndFfhSLNNA7lknaHX5Ue/ENS-registration?node-id=8%3A18365)

#### Copy

Link `Open dApp` should open https://ens-collect.status.im/ in Status browser

- Banner should be shown on all profiles when opening a profile for the first time

[2022-08-01 15:51] Samyoul opened #13745 "Extend clojure integration test to cover creating a community"
We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to create a community.

The test steps that should be covered in the tests should be:
1. Create a new account (already covered by steps) & login (we can start from these steps https://github.com/status-im/status-react/blob/9f9b896eb7fcfac60d55b33a3744480b13d2ba8d/src/status_im/integ

[2022-08-01 16:02] Samyoul opened #13746 "Extend clojure integration test to cover sending a message"
We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to send a message in a 1:1 or public chat.

The test steps that should be covered in the tests should be:
1. Create a new account (already covered by steps) & login (we can start from these steps https://github.com/status-im/status-react/blob/9f9b896eb7fcfac60d55b33a3744480b13d2ba8d

[2022-08-01 17:25] pleerock commented on #7292
Hey guys, having the same issue with ipfs, were you able to resolve the issue?

[2022-08-02 10:48] #12790 closed, assigned to JocheAttah

[2022-08-02 14:10] Parveshdhull opened #13749 "UI Component - Info Message and Information box"
This issue is to track the creation of the component: Information box

**Info Message**: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=2950%3A43503
**Information box**: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=2950%3A58462

[2022-08-02 21:52] Samyoul opened #13752 "Extend clojure integration test to cover joining a public chat"
We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to join a public chat.

The test steps that should be covered in the tests should be:
1. Create a new account (already covered by steps) & login (we can start from these steps https://github.com/status-im/status-react/blob/9f9b896eb7fcfac60d55b33a3744480b13d2ba8d/src/status_im/integ

[2022-08-02 23:08] #13601 closed, assigned to Parveshdhull

[2022-08-03 09:55] siddarthkay opened #13756 "UI Component - QR Code"
This issue is to track the creation of the component: QR Code

You can access the link at https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=1338%3A34510

Please have a chat with the design team before starting with the component, and don't forget to add sizing to the issue

[2022-08-03 10:06] siddarthkay opened #13757 "modify quo2 button component to accept icon property"
# Problem

The current quo2 button component comes with a default placeholder icon, we need it to be customisable for it to be reusable on the share tabs switcher screen at https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=451%3A19257

![simulator_screenshot_FEAE805D-964F-40E8-9B77-3C149D3A37B1](https://user-images.githubusercontent.com/64726664/182582453-f135c349-a724-402

[2022-08-03 10:32] #13647 closed, assigned to rasom

[2022-08-03 14:13] #11460 closed, assigned to nobody

[2022-08-03 15:21] Parveshdhull opened #13758 "Visibility status dropdown is not aligning in new design"
Original Report https://github.com/status-im/status-mobile/pull/13747#issuecomment-1204048691

Regression from https://github.com/status-im/status-mobile/pull/13717

![image](https://user-images.githubusercontent.com/17097240/182645877-201ec302-762b-46cf-80c0-cb4a35b7d961.png)

[2022-08-03 15:30] #13538 closed, assigned to briansztamfater

[2022-08-04 06:24] #13757 closed, assigned to siddarthkay

[2022-08-04 09:48] #13690 closed, assigned to ilmotta

[2022-08-04 12:10] Samyoul commented on #13745
Duplicate of https://github.com/status-im/status-mobile/issues/13687

[2022-08-04 12:10] #13745 closed, assigned to nobody

[2022-08-04 12:55] spac3c4det commented on #13579
@Samyoul can you assign me this one?

[2022-08-04 15:48] qoqobolo opened #13766 "Error and crash when switching to the Arbitrum network"
# Bug Report

## Problem
_The issue is originally reported by user._

The app crashes after switching to the Arbitrum network and tapping `OK` in the error.
Cannot use the app after this.
However, there is a workaround: _Can't tap out of the error but can trigger another system modal: shake to report. Cancel to tap out of this and continue using the app. Would need to do the same on every login._

[2022-08-04 17:37] #13758 closed, assigned to Parveshdhull

[2022-08-04 18:06] Parveshdhull commented on #13740
**Adding for reference**:
Issue is in `system-theme-mode-changed` event. In this event we reinitialize root for applying theme properly and that is causing issue for keycard account.

[2022-08-04 21:43] du82 commented on #13718
@Parveshdhull Weren't you working on the switcher? This feature is still planned, right?

[2022-08-04 21:52] Parveshdhull commented on #13718
hi @du64, yes its still planned.

[2022-08-05 08:56] qoqobolo opened #13768 "Profile pictures blink (with loading spinner) when making some actions"
# Bug Report

## Problem

The loading spinner appears for a moment on profile pictures when performing actions such as:
- adding/removing a contact
- mute/unmute
- adding a nickname
- changing the online status visibility in own profile
- etc

#### Expected behavior
Profile picture doesn't blink

#### Actual behavior

https://user-images.githubusercontent.com/67952253/183041160-ec8fc179-1d0d-436a-

[2022-08-05 14:24] #13766 closed, assigned to flexsurfer

[2022-08-06 08:08] pavloburykh opened #13769 "Error on signing action on opensea"
# Bug Report

The bug has been found when I tried to complete listing of collectible on opensea.io Signing a message resulted in an error "there is extra data provided in the message (11 < 12)"

**Steps:**

1. Open Status
2. Go to Browser tab
3. Go to opensea.io
4. Connect your wallet
5. Confirm singing in
6. On opensea.io tap on menu (on upper right) go to Account - My Collections
7. Create new c

[2022-08-06 08:19] pavloburykh commented on #13046
### UPDATE

Reopening as still reproducing the bug. Managed to replicate on opensea.io , cryptokitties.co

**Steps:**

1. Open Browser
2. Go to  opensea.io / cryptokitties.co
3. Try to purchase some collectible
4. When signing modal will appear - open network fee and see if Gas limit amount has been calculated

**Actual result:** Error 'execution reverted'. Gas limit amount field is empty. Bug doe

[2022-08-06 08:25] pavloburykh opened #13770 "Send button remains active in chats after sending reply containing a mention"
**Steps:**

1. Open any chat
2. Send reply that contains a mention
3. Pay attention at Send button after sending a reply

**Actual result:** send button remains active

**Expected result:** send button is inactive

https://user-images.githubusercontent.com/97245802/183241140-a21ce830-4357-4cee-af4d-ce57de5a0969.mp4

### Additional Information

- Status version: nightly
- Operating System: Android,

[2022-08-08 03:19] alexandre-k commented on #13746
I would like to do this one, can you assign it to me?

[2022-08-08 16:49] #13770 closed, assigned to Parveshdhull

[2022-08-08 22:07] sneak opened #13777 "app license is ambiguous, is Status free software or not?"
According to the `LICENSE.md` in the repository, the app is licensed under Mozilla Public License 2.0.

However, on launching the app, I am presented with a consent screen demanding that I agree to the "Terms of Use", which says, among other things:

I do not agree to this!  In fact, I reserve all rights granted to me under the MPL, including the right to use the software in ways that the copyrigh

[2022-08-09 02:58] qfrank commented on #13429
i'll look into this :) @flexsurfer

[2022-08-09 03:17] du82 commented on #13777
Status is free, open-source, peer to peer (decentralized) software.

Do whatever you want with the app, (hack it, fork it, have fun) just don't use the Status brand if you release your own version. The brand and app are seperate.

[2022-08-09 05:22] sneak commented on #13777
If it's free software, why am I asked to agree to a nonfree Terms of Use on first launch?

[2022-08-09 05:33] #13777 closed, assigned to nobody

[2022-08-09 08:41] J-Son89 opened #13779 "Spike - research potential visual test options for Quo2 components"
# Feature Issue

Research visual test tools to integrate into CI/CD pipeline.

### User Story

As a developer, I want to have visual tests for my components **so that** I can safely update components in the future without breaking the UI.

### Description

It would be beneficial to have some visual tests to capture the Quo2 components display.
These tests should be created when the developer gets

[2022-08-09 09:37] ibrkhalil commented on #13545
Turns out this component is already done

[2022-08-09 09:52] J-Son89 commented on #13779
https://loki.js.org/getting-started.html

[2022-08-09 10:00] ibrkhalil commented on #13546
Already implemented

[2022-08-09 16:11] jakubgs opened #13783 "Android builds fail on Darwin due to watchman issues"
Currently if someone tries to build Android on a Darwin OS using a multi-user Nix installation they will get this from Gradle:
[code]
Which is caused by limited permissions of the `watchman` socket:
[code]
Created by the `scripts/build-android.sh` script:
https://github.com/status-im/status-mobile/blob/b565cbf85e496dd08c73230d45fe24d90b989c77/scripts/build-android.sh#L54-L58

Since builds are run

[2022-08-09 16:13] jakubgs commented on #13783
If I try to drop starting Watchman entirely, and remove it from the Android build, I get this:
[code]
Which makes sense, since that's kinda what Watchman fixes for a lot of people:

* https://stackoverflow.com/questions/58675179/error-emfile-too-many-open-files-react-native-cli

[2022-08-09 16:17] jakubgs commented on #13783
Normally, we provide a wrapped Watchman instance which already has a socket path specified:
https://github.com/status-im/status-mobile/blob/b565cbf85e496dd08c73230d45fe24d90b989c77/nix/mobile/android/watchman.nix#L13-L15

But if I try to provide unwrapped Watchman directly to the Android build, it fails with:
[code]
Which is something I have not seen before.

[2022-08-09 16:19] jakubgs commented on #13783
Interestingly enough, this was originally introduced to `Fix Android build on macOS` by Pedro: https://github.com/status-im/status-mobile/commit/46e3b528098b23a498d8c3559b202f48625cdfd1

So I assume this was done to fix the `EMFILE: too many open files` error seen above.

[2022-08-09 16:28] jakubgs commented on #13783
It appears the `com.github.facebook.watchman.plist` path can be found in the `spawn_via_launchd()` function:
[code]
https://github.com/facebook/watchman/blob/208a092dc895fcbea9d52de2ebaf84947ba24c77/watchman/main.cpp#L466-L470

And inside of `try_spawn_watchman()` function we can see this:
[code]
https://github.com/facebook/watchman/blob/208a092dc895fcbea9d52de2ebaf84947ba24c77/watchman/main.cpp#L

[2022-08-09 16:30] jakubgs commented on #13783
The docs aren't very helpful in understanding how the path is actually determined:

https://facebook.github.io/watchman/docs/cmd/get-sockname.html

[2022-08-09 16:41] jakubgs commented on #13783
The `get_unix_sock_name` and `get_named_pipe_sock_path` functions just return values from flags:
[code]
https://github.com/facebook/watchman/blob/208a092dc895fcbea9d52de2ebaf84947ba24c77/watchman/sockname.cpp#L25-L31

The `unix_sock_name` flag is the `--unix-listener-path` CLI flag:
[code]
https://github.com/facebook/watchman/blob/208a092dc895fcbea9d52de2ebaf84947ba24c77/watchman/Options.cpp#L85-L

[2022-08-09 16:42] jakubgs commented on #13783
According to the socket docs:

https://facebook.github.io/watchman/docs/socket-interface.html

We might be able to use the `WATCHMAN_SOCK` env variable to enforce our own path.

[2022-08-09 16:44] jakubgs commented on #13783
No, that doesn't seem to work:
[code]

[2022-08-09 17:01] jakubgs commented on #13783
This flag might be of interest:
[code]
https://github.com/facebook/watchman/blob/208a092dc895fcbea9d52de2ebaf84947ba24c77/watchman/Options.cpp#L40-L46

Which does this:
[code]
https://github.com/facebook/watchman/blob/208a092dc895fcbea9d52de2ebaf84947ba24c77/watchman/main.cpp#L950-L959

Which could possibly a way to have it spawn a daemon without using Launchd.

But it appears this flag was introd

[2022-08-09 17:21] jakubgs commented on #13783
I tried building most recent `v2022.08.08.00` and the `v2020.05.11.00` but for both I get:
[code]
Which appears to be due to them having some kind of weird custom Facebook-specific dependency fetching code:

https://github.com/facebook/watchman/tree/v2022.08.08.00/build/fbcode_builder

Because we can never reinvent the wheel enough times...

[2022-08-09 17:40] jakubgs commented on #13783
So, what are my options:

1. Try to get new release of Watchman built with Nix and use the new `--no-site-spawner` flag.
    - This might not even be doable with the `fbcode_builder` garbage in the way.
2. Try to start Watchman in the Nix build sandbox context instead of user context.
    - Might be cleaner and simpler than trying to pass config values and paths into the sandbox.
3. Try to fix the

[2022-08-09 17:45] jakubgs commented on #13783
I tried editing the `NumberOfFiles` setting for the `nix-daemon` on the MacOS host, but that doesn't solve the error:
[code]

[2022-08-09 17:48] jakubgs commented on #13783
If I run `ulimit -Sf` in the Nix build sandbox shell I just get `unlimited`, which is useless.

[2022-08-09 18:25] jakubgs commented on #13783
One idea I had to fix `MFILE: too many open files` was to use `--no-watch-fs`/`org.gradle.vfs.watch=false` but unfortunately this option is only available starting from Gradle 6:
https://docs.gradle.org/6.8.3/userguide/gradle_daemon.html#sec:daemon_watch_fs

And we are stuck on Gradle 5 until we are able to upgrade to React-Native v68:

* https://github.com/status-im/status-mobile/pull/13460

And

[2022-08-09 18:46] jakubgs commented on #13783
While looking into this issue:

* https://github.com/facebook/metro/issues/355

I found this suggestion from 2019:
[code]
But when I look at the same file in our `node_modules` I can see this:
[code]
Which uses the `ci-info` package, which checks environment variables, like `CI`:
[code]
https://github.com/watson/ci-info/blob/18fe88088b626a6dcefc66e66fb32badb05ea216/index.js#L52-L59

So setting `CI

[2022-08-09 18:54] chrispader commented on #13783
But this wouldn't fix the issue for local builds on Darwin right?

[2022-08-10 01:49] du82 opened #13785 "On massive phones the switcher doesnt fit"
On large phones, the switcher overlay is too small to fit.
Maybe the app should detect screen size, and make the switcher 110% of screen size?

Tested on:
- Samsung A50
- OnePlus Nord N20 5G
- iPhone 13 Pro

![Screenshot_2022-08-09-20-43-55-80_435383e61849826ed84c38f611283930](https://user-images.githubusercontent.com/65834069/183792473-d2d1f32b-386c-40a3-ad5e-218278d14c4e.jpg)

[2022-08-10 07:47] flexsurfer commented on #13769
[code]

[2022-08-10 07:50] flexsurfer commented on #13769
it seems like json from opensea is invalid , there is extra `totalOriginalConsiderationItems`

[2022-08-10 08:01] pavloburykh opened #13786 "Implement triggering nightly e2e run regardless of ios/android build results (in case if android e2e build is successful)"
Currently nightly e2e testrun is not triggered in case if ios/android build has fallen even if android e2e build is successful.

Lately, we have had several cases when ios nightly build has [failed](https://ci.status.im/blue/organizations/jenkins/status-mobile%2Fnightly/detail/nightly/2426/pipeline) and because of that nightly e2e testrun was not triggered.

So, it would be nice if nightly e2e tes

[2022-08-10 08:41] #13768 closed, assigned to flexsurfer

[2022-08-10 08:42] flexsurfer commented on #13768
thats because of how header is created
[code]

its not simple fix, so better to wait new designs

[2022-08-10 09:48] pavloburykh commented on #13046
Causing fail of e2e ID 702167 https://ethstatus.testrail.net/index.php?/tests/view/2955502

[2022-08-10 10:09] jakubgs commented on #13783
Fixed in: https://github.com/status-im/status-mobile/pull/13784

[2022-08-10 10:09] #13783 closed, assigned to jakubgs

[2022-08-10 12:13] flexsurfer commented on #13046
`execution reverted` means there is an unexpected error in the contract, and it's not related to this issue

[2022-08-10 12:13] #13046 closed, assigned to flexsurfer

[2022-08-10 12:14] pavloburykh commented on #13046
Thanx @flexsurfer for clarifying this case.

[2022-08-10 12:48] pavloburykh commented on #11271
- [ ] **ISSUE 20: Implement user-friendly handling of an error 'execution reverted' which can occur during purchase**.

Error is not reproducible every time. I reproduce it on my account with certain balance while trying to purchase some certain items with low price.

**Steps:**

1. Open Browser
2. Go to  opensea.io / cryptokitties.co
3. Try to purchase some collectible
4. When signing modal will

[2022-08-10 13:14] chrispader opened #13789 "Implement Message Context Drawer Component (New UI)"
Implement the Msg Context Drawer component as in the design

[Figma Design](https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=6122%3A256554)

[2022-08-10 13:17] briansztamfater commented on #13789
I think it's duplicate from #13527

[2022-08-10 13:21] chrispader commented on #13789
Are you sure? I think `Reactions drawer` should be renamed then. Are you already working on this? You are the assignee :) @briansztamfater

[2022-08-10 13:45] briansztamfater commented on #13789
@chrispader Yes, I think Figma components were renamed, already working on it! Let me know if you have made any progress also and we can figure it out.

[2022-08-10 14:19] #13789 closed, assigned to nobody

[2022-08-10 14:37] cammellos opened #13791 "Extend integration tests to create a new wallet account"
We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to create a new wallet account.

The UI steps are:
1. Create a new account (already covered by steps) & login (we can start from these steps https://github.com/status-im/status-react/blob/9f9b896eb7fcfac60d55b33a3744480b13d2ba8d/src/status_im/integration_test.cljs#L46 )
2. Go to wal

[2022-08-10 21:48] Parveshdhull opened #13793 "Improve quo2 text component"
### 1. letter-spacing
Letter spacing currently used by the component doesn't match with letter spacing for Figma [design](https://www.figma.com/file/v98g9ZiaSHYUdKWrbFg9eM/Mobile-Foundations?node-id=617%3A208).
And looks like small changes in letter spacing are not affecting the text component.
Formula used by Figma for letter spacing: [formula](https://rsms.me/inter/dynmetrics/) ([ref](https://gi

[2022-08-11 07:43] pavloburykh opened #13794 "Stickerpacks are not loaded in stickermarket (endless loader is displayed)"
Stickers are not loaded in stickermarket. Endless loader is displayed.

**Preconditions:** mainnet network is selected

**Steps:**

1. Open any chat
3. Open stickermarket (Tap on stickers icon -  Get stickers)
4. Observe the result

**Actual result:**  endless loader, stickers are not loaded

**Expected result:**  list of stickerpacks are loaded

### Additional Information

- Status version: lates

[2022-08-11 16:40] #13749 closed, assigned to Parveshdhull

[2022-08-11 16:40] #13743 closed, assigned to Parveshdhull

[2022-08-12 11:16] qfrank commented on #13429
Hi @flexsurfer , when i update `"@walletconnect/client": "^2.0.0-beta.23"` to `"@walletconnect/sign-client": "^2.0.0-beta.100"` , i couldn't make status startup normally, error log:
[code]
i'm not good at this, so i think i should leave this opportunity to other talents :)

[2022-08-12 11:36] flexsurfer commented on #13429
@briansztamfater any thoughts?

[2022-08-12 13:18] #13687 closed, assigned to erikseppanen

[2022-08-12 13:44] qfrank commented on #13432
i'll look into it :) @flexsurfer

[2022-08-14 10:55] Mechardo opened #13801 "Las dapps no abren pagina web"
Hola!no puedo entrar a las dapps,se pone a buscar la web y sale error,gracias!saludos!

[2022-08-14 10:56] #13801 closed, assigned to nobody

[2022-08-14 15:08] ibrkhalil commented on #13552
This is done successfully by @flexsurfer

[2022-08-14 15:09] ibrkhalil commented on #13552
This is done successfully by @flexsurfer

[2022-08-14 15:09] #13552 closed, assigned to flexsurfer

[2022-08-15 09:41] cammellos opened #13803 "Support changing network without loggin in and out"
As a user
I want to be able to change network without logging in and out
So that I can more easily use WC/Dapps etc

### Description

Currently changing network triggers a login/logout
Status-go & desktop has been already updated to support this (check with @alaibe for details), and we should do similar for mobile.

[2022-08-15 13:43] erikseppanen opened #13804 "Extend integration tests to back up seed phrase"
Title: Extend integration tests to back up seed phrase

We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to back up a multiaccount using its seed phrase.

The test steps that should be covered in the tests should be:

1. Create a new account (already covered by steps) & login (we can start from these steps https://github.com/statu

[2022-08-16 07:53] spac3c4det commented on #13746
@alexandre-k how are you doing on this one?
Been working on this one: https://github.com/status-im/status-mobile/issues/13579
which is closely related, so don't hesitate to hit me up if you need some help

[2022-08-16 08:29] flexsurfer commented on #13346
i run into this problem sometimes, its random

so what i do
1. run `make run-ios` under rosetta , get this error
2. run `make run-ios` in regular terminal, build succeeded
3. run `make run-ios` under rosetta ,  build succeeded

[2022-08-16 10:15] qoqobolo opened #13805 "Make error message more human-readable when switching network while offline"
# Bug Report

## Problem

#### Actual behavior
<img width="327" alt="Screenshot 2022-08-16 at 12 10 56" src="https://user-images.githubusercontent.com/67952253/184854769-b195fa11-0923-4361-8abe-93336858c276.png">

### Reproduction

1. Open Status
2. Go offline (e.g. enable airplane mode)
3. Profile > Advanced > Network
4. Select a network > Tap `Connect`

### Additional Information

- Status versi

[2022-08-16 10:23] qoqobolo commented on #13803
@flexsurfer bringing your attention to this scenario which could probably be checked and covered in your future PR: https://github.com/status-im/status-mobile/issues/13805

[2022-08-16 11:29] qoqobolo opened #13807 "Blank screen on the 'Invite people' screen in community if user has no contacts"
# Bug Report

## Problem
There is a missing informational message on the screen for inviting contacts to the community if the user has no contacts.
In this case, a blank screen can be confusing.

#### Expected behavior
If a user has no contacts, a message like `Contacts that you can invite to the community will be displayed here` should be displayed.
Summon @hesterbruikman for more precise wording

[2022-08-16 11:52] flexsurfer commented on #13803
thanks @qoqobolo mhm that's interesting, i don't have any good idea how to handle it, we need to check if network id returning by rpc is correct , but still there is no sense to switch network in offline mode, so we could just improve error message

[2022-08-16 12:55] ibrkhalil commented on #13626
Truns out this happens with all the links that starts with something other than `http` or `https`
Like for instance, `blob:// `
`react-native-webview` doesn't support these kinds of urls yet

[2022-08-16 18:07] #13791 closed, assigned to erikseppanen

[2022-08-17 00:39] fryorcraken opened #13811 "Apps crash when connecting to store server?"
# Bug Report

## Problem

When I open my app, it crashes/close few seconds after opening.

#### Expected behavior

No crash.

#### Actual behavior

Crashes

### Reproduction

1. Open Status app
2. Use biometric to log in
3. Wait for network logo to go  from red to grey
4.a. The network logo remains grey -> no problem, app does not crash
4.b. the network logo disappears -> app crashes

I have been

[2022-08-17 00:44] fryorcraken commented on #13811
I confirm no issue when using `eth.prod` (waku v1) fleet. I am guessing this is related to the deployment of nwaku v0.11?

[2022-08-17 06:45] alexandre-k commented on #13746
Go for it. I shared what I did on Discord but didn't have any reply and didn't have time to troubleshoot how to run my test anyway.

[2022-08-17 07:45] qoqobolo commented on #13811
Can reproduce this on Nightly without biometric login using **wakuv2.prod** and **wakuv2.test** fleets

Logs: [crashlog_wakuv2fleet.log](https://github.com/status-im/status-mobile/files/9357514/crashlog_wakuv2fleet.log)

https://user-images.githubusercontent.com/67952253/185063299-ed60a0b9-306b-4404-88cf-5c63c05eca0d.mp4

[2022-08-17 10:13] cammellos commented on #13811
Relevant logs:

[code]

[2022-08-17 10:16] flexsurfer commented on #13803
how changing network works now:

1) change current network value
[code]
2) prepareDirAndUpdateConfig

change keys path in node config json

[code]

3) save new node config

[code]

4) logout and login

to restart node we need user password

[2022-08-17 10:23] cammellos opened #13813 "Move AddBrowser endpoints to messenger and use the new endpoints"
https://github.com/status-im/status-go/blob/develop/services/browsers/api.go should be moved to `protocol` namespace, as part of messenger.
The endpoints should be updated here, and the whole file can be removed from status-go.

[2022-08-17 10:27] siddarthkay commented on #13525
I'll be using this issue to import all emoji's into the status app from : https://www.figma.com/file/v98g9ZiaSHYUdKWrbFg9eM/Mobile-Foundations?node-id=620%3A42 and make them available via helper utilities, the same way we currently do `get-image` and icons

[2022-08-17 11:03] J-Son89 commented on #13576
@ibrkhalil looked into this component and it appears to be the native iOS/Android Alert component. As such there is nothing needed to be done here.

[2022-08-17 11:03] #13576 closed, assigned to nobody

[2022-08-17 15:12] rasom commented on #13505
it is working in `develop` already

[2022-08-17 15:12] #13505 closed, assigned to rasom

[2022-08-17 21:20] Parveshdhull opened #13815 "UI Component - Preview Lists"
This issue is to track the creation of the component: Preview Lists

**Design:** https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=2219%3A32014

[2022-08-18 09:57] cammellos opened #13817 "Implement request to join communities flow in the new UI"
As a user
I want to be able to request to join a community
So that I can participate and read messages

### Description

We should implement the screens in the new UI for joining a community.
For now, ignore token gated communities.

The initial screen is:

https://www.figma.com/file/h9wo4GipgZURbqqr1vShFN/Communities-for-Mobile?node-id=1355%3A111104 (that should be already implemented by @jo-mut

[2022-08-18 10:05] jo-mut commented on #13817
@cammellos @J-Son89 I will get it merged

[2022-08-18 11:46] siddarthkay commented on #13429
I'll try this out @flexsurfer

[2022-08-18 14:47] hesterbruikman commented on #13807
I would suggest: `Add contacts to invite them to this community`

This should be a temporary issue that'll be resolved by share links for open membership communities. Correct @xAlisher @pedro-et ?

[2022-08-19 06:34] siddarthkay commented on #13429
I was able to recreate this error.

The migration docs here : https://gist.github.com/pedrouid/1a36c6a8776e49453838578ec84715e6 mention that we have to explicitly also install the following dependency : `@react-native-async-storage/async-storage`
we however have a different version of Async Storage in our `package.json`  : `@react-native-community/async-storage`

It is clear that these 2 dependenc

[2022-08-19 09:06] siddarthkay commented on #13429
it seems like `@react-native-community/async-storage` is deprecated and we should get rid of its usage/bindings in our code and replace with `@react-native-async-storage/async-storage` instead.

![Screenshot 2022-08-19 at 2 34 30 PM](https://user-images.githubusercontent.com/64726664/185585318-4d44907f-ef0c-4054-b366-401e08af9fa4.png)

[2022-08-19 16:17] richard-ramos commented on #13811
Fixed in https://github.com/status-im/status-go/pull/2780

[2022-08-19 19:26] cizz0r opened #13826 "The features i really miss in Status"
Hello, i am regularly using Status as a way to chat with someone from China because it doesn’t need VPN, but there are some things we really really need.

In priority:

1 - Sending files
2 - Sending videos
3 - Do video/audio calls

4 - we just want to chat, being able to disable that crypto stuff
5 - Being able to view sent media
6 - Search through chat history
7 - (She says notifications don’t wo

[2022-08-20 02:13] du64 commented on #13826
I would LOVE to be able to disable individual features. I just want chat and web browsing, I already have a dedicated wallet app

[2022-08-20 02:15] du82 commented on #13826
That's cool, I use Status to do business in China, it works well because it's P2P, no servers or WeChat necessary :)

I'll relay your feedback to the rest of the team. I also want to be able to disable features I don't use...

[2022-08-21 13:53] ibrkhalil commented on #13813
https://github.com/status-im/status-go/pull/2801

[2022-08-21 18:12] Parveshdhull opened #13828 "Opening quo2 preview screens creating error in release builds"
# Bug Report

## Problem
[comment]: # (A problem description)
We only include `quo2.preview/screens` when `quo-preview-enabled?` flag is true.
[code]
But we are keeping this flag as false in release build to avoid including "Quo Preview" button in profile section.
As the screens are not included, opening them is creating error in release builds.
<div align="center">
<img src="https://user-images.g

[2022-08-22 05:53] siddarthkay opened #13831 "UI Component : Toast"
This issue is created to track progress on Toast Component

Design : https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=3928%3A77614

[2022-08-22 08:05] siddarthkay commented on #13140
This issue is fixed in : https://github.com/status-im/status-mobile/pull/13799

[2022-08-22 08:05] #13140 closed, assigned to siddarthkay

[2022-08-22 10:22] cammellos opened #13832 "Implement wallet connect account selector"
As a user
I want to be able to swap wallet connect account
So that I can use a different wallet with a certain dapp

### Description

When in manage dapps, we should give the option to the user to change a give wallet selected with a wallet connect dapp.
There should be a drowpdown where the account is shown.

[2022-08-22 10:28] #13828 closed, assigned to Parveshdhull

[2022-08-22 11:52] J-Son89 commented on #13779
research output is here: https://github.com/status-im/status-mobile/tree/jcaprani/visual-test

[2022-08-22 11:52] #13779 closed, assigned to J-Son89

[2022-08-22 13:42] qoqobolo opened #13835 "Nothing happens on press the 'Generate keys' button during account recovery with an empty Keycard (Android)"
# Bug Report

## Problem
If follow the flow `Recover with Keycard`with no seed phrase on it, nothing happens when clicking the `Generate keys` button on the screen `There's nothing to recover here`.

#### Expected behavior
Redirect to the `Get your keys` screen

#### Actual behavior

https://user-images.githubusercontent.com/67952253/185926811-afe6452a-ba1f-4775-9d48-9511267ca6af.mp4

### Reproduc

[2022-08-22 14:18] qoqobolo opened #13836 "Redundant `Confirm seed phrase` screen is displayed for a moment when creating a new multiaccount using Keycard (Android)"
# Bug Report

## Problem
An extra `Confirm seed phrase` screen is displayed for a moment when completing the creation of a new multi-account process using Keycard. See the video below on 0:04.
Sometimes (on some devices) the flow gets stuck on this screen which makes it impossible to complete the process.

Device on which the issue with the stuck screen was reproduced: Samsung S21

#### Expected b

[2022-08-23 12:17] flexsurfer commented on #13803
actually, we don't need `prepareDirAndUpdateConfig` because we don't change an account, so the only thing we need is to change network in node-config, and restart the node

[2022-08-23 12:26] flexsurfer commented on #13803
but also there are parts of the application that are networks dependent:
stickers, ens names, wallet, browser, so we need to "restart" the application because there might be a screen opened that is not available in different network

there is already the implementation for status-go which supports chain-id in some service's methods, but it doesn't look like it will work with "global" network switc

[2022-08-23 13:14] flexsurfer commented on #13803
`and we should do similar for mobile.` we can't do similar for mobile because we need designs first

[2022-08-23 13:16] flexsurfer commented on #13803
so probably network in Advanced should be moved under Dev flag, and it should be not possible to change network for stickers and ens in the prod

[2022-08-23 13:17] flexsurfer commented on #13803
in that case stickers and ens always will be using ethereum mainnet, and in wallet we could change network or use a few networks in parallel

[2022-08-23 13:19] flexsurfer commented on #13803
but still to implemented it in mobile we need designs for browser, WC and wallet for different networks usage

[2022-08-23 13:21] cammellos opened #13842 "UI Component - Activity Logs"
We should implement the activity logs component, used in the activity center.

### Designs

https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=1578%3A34575

We can focus on the first column to start with, there's already some code under `src/quo2/components/activity_logs.cljs`. Feel free to change/throw away/re-use it.

[2022-08-23 15:00] ibrkhalil commented on #13807
Something like this ?
![screenshot](https://user-images.githubusercontent.com/33176106/186192503-017c2763-0143-4816-9cd7-805894fa2e03.png)

[2022-08-23 15:08] ibrkhalil commented on #13807
Maybe centered ?
![image](https://user-images.githubusercontent.com/33176106/186194311-d5c164f8-1e9d-4211-baa0-13ce30f1540b.png)

[2022-08-23 15:21] ibrkhalil commented on #13807
@qoqobolo
@hesterbruikman

[2022-08-23 15:44] #13555 closed, assigned to J-Son89

[2022-08-24 01:07] siddarthkay opened #13845 "Replace deprecated AsyncStorage Library with the latest one"
# Problem

We currently use a version of Async Storage that has been deprecated and has been moved to a different repository.

![async-storage-deprecated](https://user-images.githubusercontent.com/64726664/186294493-ebe3180a-6377-448f-838f-975df4247322.png)

What we currently use -> https://www.npmjs.com/package/@react-native-community/async-storage
What we should be using -> https://github.com/re

[2022-08-24 02:52] siddarthkay commented on #13429
Addressing that here https://github.com/status-im/status-mobile/pull/13846

[2022-08-24 08:31] qoqobolo commented on #13807
@ibrkhalil we have a similar informational message in group chats. I think it would be more neat to stick to the same style
<img width="326" alt="Screenshot 2022-08-24 at 10 28 44" src="https://user-images.githubusercontent.com/67952253/186369812-db28a396-40bb-4e64-a863-0dfda068221f.png">

[2022-08-24 09:21] hesterbruikman commented on #13807
@ibrkhalil also checking with the design team on new patterns/components that might be used. I can get back to you in a few hours on that. (Cc @qoqobolo)

[2022-08-24 11:20] cammellos opened #13848 "Duplicated messages when communities encryption enabled"
When enabling communities encryption, sending a message causes a duplicated message to be shown in the UI.
This is due to the message being returned with ID of `0x`.

[2022-08-24 13:14] ibrkhalil commented on #13807
Waiting for response

[2022-08-24 13:47] churik commented on #10794
Now it is ready to develop on react side according to https://github.com/status-im/status-go/pull/2792

[2022-08-24 14:21] #13845 closed, assigned to siddarthkay

[2022-08-24 15:32] hesterbruikman commented on #13807
@ibrkhalil the team proposes to use a new 'Empty state' component. The benefit of this approach is that it can remain in V2 of the app.

You can find the component here on [Figma](https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=7877%3A229756).

![Empty state](https://user-images.githubusercontent.com/35233054/186459310-a6a9a29c-2d0e-4d7c-b67d-c168e2adf4e4.png)

Thanks f

[2022-08-24 15:52] #13672 closed, assigned to rasom

[2022-08-24 21:31] #13813 closed, assigned to ibrkhalil

[2022-08-25 09:18] qoqobolo opened #13855 "Sync contact requests accepted/declined before pairing"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user with two devices
When I accept a contact request on one device _before pairing_ I want it to be accepted on the other device _after pairing_
So that I don't have to accept/decline the request on the other device after pairing

### Description

Leftover from https://github.com/status-

[2022-08-25 09:27] qoqobolo commented on #13807
@hesterbruikman group invite links were deleted from this screen: https://github.com/status-im/status-mobile/pull/13435.
So my screenshot is just taken from Nightly :)

[2022-08-25 09:47] xAlisher commented on #13807
Yesterday design team made a component for an empty states for a new component library, maybe it can be used in a legacy design to solve an issue.  Rectangle is a placeholder for an icon that will be a part of illustration system.

https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=7877%3A229756

CC @hesterbruikman

[2022-08-25 11:10] #13835 closed, assigned to rasom

[2022-08-25 12:47] hesterbruikman commented on #13807
Aaah, I see, thanks. I'm afraid I'm not fully up to speed on the change. If there is no group chat invite link, there would also be no membership requests, correct? As anyone joining the group would be added by an admin.

[2022-08-25 13:41] Parveshdhull commented on #13811
@churik, Should we close this issue?

[2022-08-25 13:47] churik commented on #13811
Still no, as new status-go version with a fix is still not in status-react. I'm keeping eye on this issue, and will close it once the fix is in status-react.

Thank you for ping @Parveshdhull !

[2022-08-25 13:48] #13599 closed, assigned to J-Son89

[2022-08-25 13:55] qoqobolo commented on #13807
Yes, correct. But the scenario was also covered when users follow the old invitation links, sent from previous Status versions. Therefore, the item `Membership requests` was retained to keep compatibility.

[2022-08-25 14:08] hesterbruikman commented on #13807
Great! Thanks for clarifying! So for this case I'd suggest this variation of the same component (variant excludes the button).

In copy leaving out any reference to invite link. It might leave the question "Why would people join that I haven't already invited?", but that'll be temporary.

Shame about the public invite links! Really liked the use case of that deeplink when inviting people from exis

[2022-08-25 16:11] cammellos opened #13856 "UI Component - Gap"
This issue is to track the creation of the component: Gap

Designs: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=5187%3A181408

[2022-08-25 17:12] erikseppanen opened #13857 "Extend integration tests to recover multiaccount from seed phrase"
Title: Extend integration tests to recover multiaccount from seed phrase

We should increase the coverage of the newly created clojure integration tests.

One of the most common use cases is to recover a multiaccount using its seed phrase.

The test steps that should be covered in the tests should be:

1. Recover account with seed phrase

The UI steps are:

1. In 'Get your keys' screen, click 'Acc

[2022-08-26 03:12] yqrashawn commented on #13856
Product design doc: https://www.notion.so/Message-gap-ec0ab09c431742c49241bc4ff8a3f78b

[2022-08-26 07:33] flexsurfer commented on #13805
that's expected, but we need to fix error message

[2022-08-26 08:51] qoqobolo commented on #13805
Got it, thanks. The issue is updated

[2022-08-26 10:20] siddarthkay opened #13859 "UI for mobile to mobile local pairing"
# Feature Issue
This issue is made to keep a track of the progress on building UI for local pairing mobile - mobile case.

Design links are here : https://www.figma.com/file/aztkse2iYuMAjVJRAsxqFO/Syncing-Settings?node-id=0%3A1&t=iOo0P7DpqBPbLbyf-0

@Samyoul

[2022-08-26 18:37] #13794 closed, assigned to flexsurfer

[2022-08-27 09:16] #13565 closed, assigned to ibrkhalil

[2022-08-27 10:12] #13562 closed, assigned to ibrkhalil

[2022-08-27 22:25] Parveshdhull opened #13865 "Implement react-native-hole-view"
_Research issue for the implementation of react-native-hole-view_
https://www.npmjs.com/package/react-native-hole-view

# Summary:
For creating switcher cards we need to create clipped/masked views as shown below image.

<div align="center">
<img src="https://user-images.githubusercontent.com/17097240/187049100-e2176cd5-90a3-4bd0-b815-193360568c2a.png" alt="Screenshot" height="200"/>
<img src="htt

[2022-08-27 22:32] Parveshdhull commented on #13865
Looks like for library version `3.6.3` was first one.
So, either we have to fork the package and downgrade gradle requirement (not sure if it will work) or bump our gradle version

[2022-08-27 22:34] Parveshdhull commented on #13865
And we are currently using last version of gradle 5 (5.6.4) ([versions history](https://gradle.org/releases/)).
So, if we upgrade, we have to upgrade to gradle 6.

[2022-08-28 11:24] Parveshdhull commented on #13865
https://github.com/Parveshdhull/react-native-hole-view/releases

`release 3.0.0` is building (not tested working yet). But it modifies the forked branch of the old version `2.0.0`.
I will try to see if I can make the newest release work with the same technique.

[2022-08-28 11:31] Parveshdhull commented on #13865
I also tried upgrading gradle, but it started giving some errors
<details> <summary> Error </summary>

[code]

</details>

I can try fixing that using [add_package.sh](https://github.com/status-im/status-mobile/blob/develop/nix/deps/gradle/add_package.sh), but as I remember from past experience, fix will give the new errors for other packages.
Because if we are going to upgrade Gradle, we also hav

[2022-08-28 19:38] Parveshdhull commented on #13865
### Tested, works great
<div align="center">
<img src="https://user-images.githubusercontent.com/17097240/187091530-cebc1814-7839-4fe7-913e-65f72766515e.png" alt="Screenshot" height="400"/>
</div>

[2022-08-28 20:16] Parveshdhull commented on #13865
Tested, latest version also works. (version `2.1.1`)

[2022-08-29 03:33] briansztamfater opened #13869 "Implement "Forward" option for messages"
# Feature Issue

### User Story

As a user, I want to forward a message **so that** I can share it within other Status users.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A631636

<img width="275" src="https://user-images.githubusercontent.com/18485

[2022-08-29 03:35] briansztamfater opened #13870 "Implement “Share link to message” option for messages"
# Feature Issue

### User Story

As a user, I want to share a message link **so that** I can share it within other Status / non-Status users.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A631636

<img width="275" src="https://user-images.githubuserc

[2022-08-29 03:38] briansztamfater opened #13871 "Implement "Mention @{sender}" option for messages"
# Feature Issue

### User Story

As a user, I want to see an option to mention the sender of a message **so that** I can tag him/her get his/her attention.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A631636

<img width="275" src="https://user-imag

[2022-08-29 03:46] briansztamfater opened #13872 "Add kick and ban options for messages inside communities channels"
# Feature Issue

### User Story

As an admin, I want to kick and ban senders of a message **so that** I can better moderate group chats and communities.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A636170

<img width="199" src="https://user-images.

[2022-08-29 03:48] briansztamfater opened #13873 "Implement “Delete for me” option for messages"
# Feature Issue

### User Story

As a user, I want to delete messages locally **so that** I can remove message I don't want to see without removing them to the other chat participants.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A631636

<img width

[2022-08-29 03:52] briansztamfater opened #13874 "Implement “Save all images to library” option for messages with multiple photos"
# Feature Issue

_Blocked until we have support for multi-photos messages_

### User Story

As a user, I want to save all images to library **so that** I don't need to save them one by one.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A632233

<img

[2022-08-29 03:54] briansztamfater opened #13875 "Implement “Copy text” option for photo(s) messages with text"
# Feature Issue

### User Story

As a user, I want to copy text of a message with photos + text **so that** I can paste it on other places.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A634056

<img width="297" src="https://user-images.githubusercon

[2022-08-29 03:57] briansztamfater opened #13876 "Implement “Save audio” option for audio messages"
# Feature Issue

### User Story

As a user, I want to save an audio from an audio message **so that** I can store it on my device to listen later.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A632539

<img width="298" src="https://user-images.github

[2022-08-29 03:59] briansztamfater opened #13877 "Implement “Open in Dapp browser” and “Open in default browser” option for messages with a link"
# Feature Issue

### User Story

As a user, I want to open a link **so that** I can interact with the content on the Status or the default browser.

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A633454

<img width="253" src="https://user-images.githu

[2022-08-29 04:01] briansztamfater opened #13878 "Implement "Add to favorites" option for GIF messages"
# Feature Issue

_This is blocked until we have support for GIF messages_

### User Story

As a user, I want to add a GIF from a GIF message to favorites **so that** I can find it easily the next time

### Description

Flow TBD

### Acceptance Criteria

TBD

### Notes

Link to Message Context Drawer in Figma: https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4388%3A63

[2022-08-29 07:33] churik commented on #13811
Issue is not reproducible anymore on nightly 29/08/2022

[2022-08-29 07:33] #13811 closed, assigned to nobody

[2022-08-29 07:57] churik opened #13880 "Mobile release 1.20"
Issue to manage mobile release 1.20

### Scope
[comment]: # (Add milestone from github)
https://github.com/status-im/status-mobile/milestone/59

- release notes: https://github.com/status-im/status-mobile/blob/327d456f696d817663259636cedaed50513cd28d/RELEASES.md 1.20;
- release branch: https://github.com/status-im/status-mobile/tree/release/1.20.x
- release build: https://ci.infra.status.im/job/st

[2022-08-29 08:56] #13272 closed, assigned to flexsurfer, jinhojang6

[2022-08-29 11:11] jakubgs commented on #13346
Not sure, but this might be another symptom of this issue:
[code]

[2022-08-29 11:54] spac3c4det commented on #13579
Could someone please go and merge: https://github.com/status-im/status-mobile/issues/13579

[2022-08-29 12:02] spac3c4det commented on #13752
@Samyoul could you sign me up for this one? ;-)

[2022-08-29 12:03] spac3c4det commented on #13746
@Samyoul can you sign me up for this one?

[2022-08-29 16:02] #13865 closed, assigned to Parveshdhull

[2022-08-29 20:44] #13804 closed, assigned to erikseppanen

[2022-08-30 10:35] churik opened #13887 "Stickerpacks installed on 1.19 are not usable on 1.20"
# Bug Report

## Problem
Installed sticker packs on 1.19 are shown, but there is no action on tapping on the sticker.
Therefore, installed sticker packs are not usable after the upgrade.

#### Expected behavior
Can send sticker

#### Actual behavior

https://user-images.githubusercontent.com/4557972/187415159-1e4c1179-5873-4550-b42e-4cf21a3931ee.mp4

### Reproduction

1) Install 1.19, join any pub

[2022-08-30 10:37] flexsurfer opened #13888 "replace web3-utils methods usage by status-go"
we want to have methods used from  web3-utils  moved(replaced) to staus-go

and remove web3-utils dependency

[2022-08-30 10:37] flexsurfer commented on #13888
cc @qfrank

[2022-08-30 10:47] churik opened #13889 "Group chats, created from 1.19 are shown with no icon on 1.20"
# Bug Report

## Problem
Any group chat, created by user on 1.19 is shown on 1.20 without icon

#### Expected behavior
icons are shown

#### Actual behavior
![IMAGE 2022-08-30 12:43:55](https://user-images.githubusercontent.com/4557972/187417092-fa993c81-bfb4-47b9-bd1f-83e7621cf1a1.jpg)
![IMAGE 2022-08-30 12:47:13](https://user-images.githubusercontent.com/4557972/187417740-1f3e004a-f4bf-4246-8605

[2022-08-30 11:50] cammellos opened #13890 "Migrate to API 31 for android"
By November, we should be targeting API 31 on android.

https://developer.android.com/google/play/requirements/target-sdk

[2022-08-30 13:12] qoqobolo opened #13891 "No icon for ETH in 1-1 transaction messages"
# Bug Report

## Problem

Icons for ETH are missing in transaction messages in 1-1 chats

<img width="394" alt="Screenshot 2022-08-30 at 15 08 54" src="https://user-images.githubusercontent.com/67952253/187445046-5879fb38-29f9-40a9-826c-f374f2bea063.png">

### Expected result
Icons are shown

### Reproduction

1. Open 1-1 chat
2. Tap the `+` button
3. Send/request transaction > Enter some amount o

[2022-08-30 13:30] churik opened #13892 "Adding/removing user from contacts duplicating their messages in profile"
# Bug Report

## Problem
If adding/removing a user via "Add to contacts" button in the user profile, it duplicates messages (if any) in their status.
Messages are shown there until next rel-ogin.

#### Expected behavior
Messages are not changed

#### Actual behavior

https://user-images.githubusercontent.com/4557972/187448339-cde146c5-8687-40af-8833-d98b813dd716.mp4

### Reproduction

1) User1 and

[2022-08-30 14:02] churik opened #13894 "Unread indicator remains on activity centre if contact request was removed by sender"
# Bug Report

## Problem
If adding/removing a user from contacts without reading the contact request on the receiver side, the activity center unread indicator remains despite that there are no unread messages.
It's cleaning out after re-login.

#### Expected behavior
no unread indicator

#### Actual behavior
https://user-images.githubusercontent.com/4557972/187457631-aa80dd32-4bff-4f32-9de1-22794

[2022-08-30 15:51] cammellos opened #13895 "Add Read/Unread accordions section for activity center in the new UI"
We should start to implement behavior in the activity center.

We can start from the Read/Unread accordion.

As part of this task we should:
- Implement the read/unread accordions
- Show unread notifications under unread
- Show read notifications under read

The styling of the actual notifications is not important for now, just the read/unread accordions.

We will provide two new endpoints from st

[2022-08-31 06:55] rasom commented on #13855
introduced in 2c1bfcd0922204c7a07d5dd11d0e8b675e82329d

[2022-08-31 06:57] rasom commented on #13855
likely caused by https://github.com/status-im/status-go/commit/31671ea040852e24dbcae0e7e87f7989da701dff

[2022-08-31 10:35] qfrank commented on #13888
i'll look into it @flexsurfer

[2022-08-31 10:54] #13887 closed, assigned to flexsurfer

[2022-08-31 12:43] J-Son89 opened #13903 "Restructure Quo2 component library"
# Problem

Currently there is not much structure within the quo2 component library. It is a flat list of components.

## Implementation

There has been consensus among the dev and design team to have a 1-1 mapping of the components used to the Figma design categorisation. (Unless it makes sense for the component to live elsewhere)

## Acceptance Criteria

- Restructure the current component librar

[2022-08-31 12:49] #13177 closed, assigned to jo-mut

[2022-08-31 13:08] chrispader commented on #13903
Also naming of some components might be inconsistent. E.g. is `icon_avatar` the same as `channel_avatar`? Or are there more use cases for `icon_avatar` than for channels?

[2022-08-31 13:12] chrispader commented on #13903
Edit: Should we use `icon_avatar` component for `channel_avatar`?

[2022-08-31 14:53] qoqobolo opened #13904 "Icons missing from most menus"
# Bug Report

## Problem
Regression from https://github.com/status-im/status-mobile/pull/13607

<img width="328" alt="Screenshot 2022-08-31 at 16 46 19" src="https://user-images.githubusercontent.com/67952253/187707885-51c98d3b-6679-4b95-9966-13050768a851.png">

<img width="325" alt="Screenshot 2022-08-31 at 16 50 23" src="https://user-images.githubusercontent.com/67952253/187708885-80b04705-d2f5-

[2022-08-31 14:58] J-Son89 opened #13905 "Implement Divider Label into quo2 components"
# Feature Issue

Implement the Divider Label component.
You can see the Figma designs here.
https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=1338%3A34482

### User Story

As a developer I want to be able to use the Divider Label component so that I can implement the design screens consistently across the application.

### Description
Please reach out to members of the UX

[2022-08-31 15:19] #13891 closed, assigned to Parveshdhull

[2022-08-31 15:40] #13892 closed, assigned to Parveshdhull

[2022-08-31 15:44] briansztamfater commented on #13534
@cammellos was there any discussion or requirements definition on how we will implement this component besides the UI?

Where we will pull the GIFs from, how (de)centralized will the approach be, message structure for GIFs on status-go, etc

[2022-08-31 16:25] #13889 closed, assigned to rasom

[2022-08-31 18:53] ibrkhalil commented on #13807
So is this the final desired look ?

[2022-08-31 20:22] Parveshdhull opened #13908 "App crashes when selecting Avatar type context tag in quo2"
## Summary
App crashes when selecting Avatar type context tag in quo2

### Reproduction:

https://user-images.githubusercontent.com/17097240/187774805-8ad4d382-72b5-423e-8469-2ad3d5374efc.mp4

### Additional Information

- Status version: nightly

[2022-08-31 21:06] #13857 closed, assigned to erikseppanen

[2022-09-01 02:00] du82 opened #13910 "Allow any emoji reaction"
As a user, I want to be able to react with any emoji, not just six default options, similar to Discord.

We should implement Twemoji to be consistant, because the desktop app already uses Twemoji.

### Acceptance criteria:
* Allow users to react with any emoji
* Implement Twemoji on mobile

### Nice to have, not required
* User-generated custom emojis that users can create in-app

[2022-09-01 07:56] hesterbruikman commented on #13807
So there are two flows, two designs, one component [see here on Figma](https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=7877%3A229756).

These are designs using the component for the two flows:
- blank screen on invite people to community when user has no contacts
![186459310-a6a9a29c-2d0e-4d7c-b67d-c168e2adf4e4](https://user-images.githubusercontent.com/35233054/1878615

[2022-09-01 08:37] ibrkhalil commented on #13807
So one for groups and one for communities .. I am going to do the community one for this issue

[2022-09-01 12:37] ilmotta opened #13913 "New component preview area isn't using the full width available"
# Problem

As pointed out by @xAlisher in recent internal discussions, the new UI components are previewed in a smaller _viewport width_ than what's in Figma. This creates friction for designers to review components because they have to scale images, and thus have a hard time seeing if they perfectly match with what's in Figma.

Below is a screenshot of one of @xAlisher's analysis:

<img width="60

[2022-09-01 12:50] xAlisher commented on #13913
Backlink https://discord.com/channels/624205794384281629/1009838421797245099/1014870308026597456

[2022-09-01 13:50] qoqobolo opened #13914 "Long/heavy audio messages are not sent"
# Bug Report

## Problem
Audio messages longer than 1:25 (mostly with silence (no content)) get stuck in a pending state and never reach the recipient, relogin doesn't help.
Probably the content of the message also affects the maximum length of a message that can be sent.

#### Expected behavior
Can send audio messages of any length (within 2 minutes)

#### Actual behavior
<img width="394" alt="Sc

[2022-09-01 14:55] cammellos opened #13915 "Implement New Messages into quo2 components"
# Feature Issue

Implement the New Messages component.
You can see the Figma designs here.
https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=5626%3A159391

### User Story

As a developer I want to be able to use the New Messages component so that I can implement the design screens consistently across the application.

### Description
Please reach out to members of the UX

[2022-09-01 15:03] qoqobolo opened #13916 "Sometimes images of HEIF and HEIC formats are not sent from iOS"
# Bug Report

## Problem
The error occurs when sending a HEIF and HEIC image in chats and timeline.

<img width="464" alt="Screenshot 2022-09-01 at 16 16 47" src="https://user-images.githubusercontent.com/67952253/187936569-929189c0-b440-4d7c-87e8-522edfa8e005.png">

The issue is not reproduced with all images of these formats. The size is also presumably bigger than 3 MB (but not always)
Image in

[2022-09-01 15:05] churik opened #13917 "Invalid pin error is not shown on IOS during recovery flow (keycard)"
# Bug Report

## Problem
Currently on IOS in case of entering invalid PIN screen is flickering and no error is shown.
After a 3d attempt card gets frozen.

#### Expected behavior
Can see error and amount of attempts left until card will be frozen

#### Actual behavior

https://user-images.githubusercontent.com/4557972/187946867-c1202731-673b-44aa-b771-217a0a58e5e8.mp4

### Reproduction
*Prerequisi

[2022-09-01 15:05] cammellos commented on #13914
Relevant logs:
[code]

The message size it's 1.3MB, so this one should get compressed before being able to send it.

[2022-09-01 15:42] qoqobolo commented on #13916
Logs [geth.log](https://github.com/status-im/status-mobile/files/9471329/geth.log)

[2022-09-01 23:27] Parveshdhull commented on #13740
keycard account issue is not related with splash screen. Same behavior of showing regular account instead of keycard account also reproducible if theme is changed after screen is opened/

[2022-09-02 04:01] xingzheone opened #13919 "make shell TARGET=android error: builder for '/nix/store/-git-minimal-2.36.1.drv' failed with exit code 2"
# make shell TARGET=android

wsl ubuntu
Linux hasee-pc 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
## Problem
[comment]: # (A problem description)
[code]

#### Expected behavior

#### Actual behavior

### Reproduction

1) Open Status
2)

### Additional Information

- Status version: nightly
- Operating System: Android, iOS

[comment]: # (Please, a

[2022-09-03 16:38] ibrkhalil commented on #13910
Maybe a plus icon as a 6th item in the reactions options that shows the whole twemoji emoji list ?

[2022-09-04 05:03] du82 commented on #13910
I think this is a good idea

[2022-09-04 13:20] Parveshdhull opened #13925 "Keycard confirm seed phrase screen back button is not working correctly"
# Bug Report

## Problem
## IOS
On the IOS Back button keeps opening new screens over each other

https://user-images.githubusercontent.com/17097240/188314973-f8ec1c0f-55a2-42ee-974c-3a268b5d4f1a.MP4

## Android
On the first word screen, it doesn't do anything, but on the second-word screen it reopens the same screen

https://user-images.githubusercontent.com/17097240/188315057-07e0c1e0-e0db-49f6-

[2022-09-04 13:21] Parveshdhull commented on #13836
Hi @qoqobolo, I am unable to reproduce this issue. (tested on Samsung S21 FE)
Still, Please let me know if linked PR fixes this issue, otherwise we can create a separate issue for it?
As this doesn't look related to the redundant screen, might be caused by some other bug.

[2022-09-04 22:13] Samyoul commented on #13914
@qoqobolo Could you share an example of a file that isn't working? Thank you :)

[2022-09-05 02:02] yqrashawn commented on #13322
@jakubgs  Is this still relevant. I saw there's `jq` in default shell https://github.com/status-im/status-mobile/blob/6fa1729384407a477c9f8d6e92c561d25a820b2e/nix/shell.nix#L16

[2022-09-05 07:30] qoqobolo commented on #13914
@Samyoul unfortunately, there is no way to share an audio file as we can do this with images, it has to be recorded inside the application.
You can reproduce it on a real device: just record silence for 1:30 - 2:00 and try to send it in 1-1 chat

[2022-09-05 07:58] #13856 closed, assigned to yqrashawn

[2022-09-05 08:57] jakubgs commented on #13322
Yes, `jq` is already part of Nix shell. Not sure what this issue is about.
[code]

[2022-09-05 09:18] audriu commented on #13322
I just tested and the nix shell has JQ indeed but when committing something with 'status-go-version.json' changes a git hook requires JQ. Is there a way to use the nix env inside the hook's script? Or would it be too long to wait until it starts? Maybe it is good enough as it is and contributors has to bring their own JQ. As it is installed only once...

[2022-09-05 10:38] jakubgs commented on #13322
Hmmmm, one possibility is using `nix-shell` in a shebang:
https://nixos.wiki/wiki/Nix-shell_shebang

But it is possible that it might make the hook startup a bit slower. I'd have to check and compare.

[2022-09-05 10:40] jakubgs commented on #13322
Another option is to use something common like `grep` instead of `jq`, making it a bit less predictable, but portable.

[2022-09-05 12:58] #13322 closed, assigned to nobody

[2022-09-05 13:36] pavloburykh opened #13933 "Unread indicator remains on activity centre if message was removed by sender"
If sending and then removing the very first message to a user without opening activity center by the receiver, the activity center unread indicator remains despite that there are no unread messages. It also remains after re-login.

**Preconditions:** User A and User B are not contacts and do not have any active 1-1 chats yet
**Steps:**
1. Send message by User A to User B
2. User A deletes the sent

[2022-09-05 13:40] churik commented on #13925
I'm totally OK with 3d option in terms of this flow
And thank you for looking at it!

[2022-09-05 13:51] ibrkhalil commented on #13913
I think this isn't an issue because what's happening is `padding` is being added by the developer so that'll make the view smaller
ref: [padding:16](https://github.com/status-im/status-mobile/pull/13882/files#diff-ee8e2f9fcc01956e83d0059c92693e71c7483772257e029198ec1f0e3eb5ce48R151)

[2022-09-05 15:02] ibrkhalil commented on #13807
@hesterbruikman
@qoqobolo

[2022-09-05 15:06] #13916 closed, assigned to Samyoul

[2022-09-05 15:47] #13740 closed, assigned to Parveshdhull

[2022-09-05 19:22] hesterbruikman commented on #13807
I'm not sure what the best approach is. This is a new component so perhaps it should be implemented first as a separate issue and applied here. Is there any UI call this week for you to agree on this with the team?

[2022-09-05 19:34] #13560 closed, assigned to ibrkhalil

[2022-09-05 20:21] ibrkhalil commented on #13807
@hesterbruikman  I think it was today, But we have design channels, will save us a whole week of waiting 😉

[2022-09-05 22:23] #13917 closed, assigned to Parveshdhull

[2022-09-06 03:58] yqrashawn commented on #10794
Just checked with the latest production version, these two works fine now.

[2022-09-06 07:15] cammellos opened #13939 "Implement System message into quo2 components"
# Feature Issue

Implement the System Message component.
You can see the Figma designs here.
https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=3905%3A82812

### User Story

As a developer I want to be able to use the System Message component so that I can implement the design screens consistently across the application.

### Description
Please reach out to members of the

[2022-09-06 07:57] #13904 closed, assigned to siddarthkay

[2022-09-06 10:39] #13524 closed, assigned to ibrkhalil

[2022-09-06 11:11] #13908 closed, assigned to ibrkhalil

[2022-09-06 13:25] #13925 closed, assigned to Parveshdhull

[2022-09-06 13:52] qoqobolo opened #13943 "Crash during onboarding / migration from regular account to Keycard after password confirmation and returning back"
# Bug Report

## Problem

There are several ways to reproduce the issue. Also, the app behaves differently on iOS and Android.

### 1. New account creation on Android

**STR:**
1. Install Status
2. `Generate a new key` > Choose device as key storage > Create a password > Tap `Next` and quickly tap `Back`while processing is in progress
3. Choose device as key storage and create a password again
4.

[2022-09-06 14:56] #13894 closed, assigned to rasom

[2022-09-07 08:14] audriu commented on #13943
I can not reproduce these at all - the app just does not go back when keys are processing.

[2022-09-07 08:21] qoqobolo commented on #13943
@audriu thanks for assigning this!
You mean scenario 1, right? Yes, I believe that a pretty slow Android device is needed to reproduce it.

Did you try scenarios 2 and 3?
There is no need to tap the `Back` button quickly there, it happens on another flow - when migrating from a regular account to Keycard.

[2022-09-07 09:08] qoqobolo commented on #13943
@audriu sorry, I forgot to attach logs. Here they are for scenario 2:
[crashlog_migration.log](https://github.com/status-im/status-mobile/files/9504544/crashlog_migration.log)

Btw today I am not able to reproduce scenario 1 on my slow device either.

[2022-09-07 09:29] Samyoul commented on #13914
The current library used for audio recording and playback is : https://www.npmjs.com/package/@react-native-community/audio-toolkit

But it appears to not be supported any more https://github.com/react-native-audio-toolkit/react-native-audio-toolkit/issues/272 and does not support `wav` output.

There is an alternative lib that is more supported but it doesn't support `wav` output either : https://

[2022-09-07 09:34] Samyoul commented on #13914
This go lib https://github.com/gen2brain/aac-go can be used to perform post-processing and seems to be 100% pure Go, BUT it can only do AAC encoding and not the required decoding, therefore the input audio needs to be `wav`, or I need to figure out how to pass a byte-stream reader into the `aac` encoder.

This lib can perform AAC decode and encode, BUT it requires a none standard setup to import C

[2022-09-07 09:54] #13836 closed, assigned to Parveshdhull

[2022-09-07 10:22] audriu commented on #13943
Do you think that this https://github.com/status-im/status-mobile/pull/13922 merge may affect scenarios 2 and 3?

[2022-09-07 10:42] audriu commented on #13914
I will create a branch with this lib https://github.com/goodatlas/react-native-audio-record.

[2022-09-07 10:43] qoqobolo commented on #13943
Hm no, I don't think so. Just re-checked and scenario 2 is reproducible in 13922 builds.

[2022-09-07 11:51] J-Son89 commented on #13903
Thanks Chris, I will bring this conversation up as I'm doing the work

[2022-09-07 19:13] jakubgs opened #13949 "iOS status-go builds failing with C compiler not found"
We've been seeing seemingly random failures of iOS `status-go` builds with error like this:
[code]
Except the date that `cgo` thinks is a C compiler is the current date. This issue is known:

* https://github.com/golang/go/issues/53316

Which is caused by `xcrun` printing weird and unexpected warnings to `stdout` on first use after reboot:
[code]
This issue has been present with Command Line Tools

[2022-09-07 19:15] jakubgs commented on #13949
I tried the MacOS upgrade, Command Line Tools upgrade and Xcode upgrade:

- https://github.com/status-im/infra-role-bootstrap-macos/commit/c0d02197 - cmdtools/xcode: upgrade from 13.3.1 to 13.4

But the warnings persist. Did it only on `maci7-03` for now.

[2022-09-07 21:07] jakubgs commented on #13949
Some links about these errors:

* https://developer.apple.com/forums/thread/703233
* https://developer.apple.com/forums/thread/703823
* https://apple.stackexchange.com/questions/438785/xcode-error-when-launching-terminal
* https://fluttercorner.com/requested-but-did-not-find-extension-point-with-identifier/
* https://github.com/facebook/react-native/issues/34063

It's possible the coming `14.0` Xc

[2022-09-08 06:50] flexsurfer opened #13951 "feat: merge favourites in saved addresses #2844"
status-go: https://github.com/status-im/status-go/pull/2844

[2022-09-08 07:32] felicio opened #13952 "Add Status Waku v2 nodes to fleet configuration"
# Problem

Add Status Waku v2 nodes to fleet configuration, thus allowing

- connecting to fleets that don't have v1 to v2 bridge (i.e. `status.prod`)
- cross-platform dogfooding on Status nodes

## Implementation

- Possibly extend https://github.com/status-im/status-mobile/blob/b05787b0b2883a6ebc87e276bb49965cb055a1a6/resources/config/fleets.json for https://github.com/status-im/status-desktop/b

[2022-09-08 08:05] audriu commented on #13943
In scenario 2 I have
`2022-09-08 10:56:56.043 31514-11275/im.status.ethereum.debug E/AndroidRuntime: FATAL EXCEPTION: Thread-32
    Process: im.status.ethereum.debug, PID: 31514
    java.lang.RuntimeException: Is Bouncycastle correctly initialized?
        at im.status.keycard.applet.Mnemonic.toBinarySeed(Mnemonic.java:131)
        at im.status.ethereum.keycard.SmartCard.generateAndLoadKey(SmartCa

[2022-09-08 10:31] jakubgs commented on #13949
One possible option is to implement some validation in `envClang()`:
[code]
https://github.com/golang/mobile/blob/8578da9835fd365e78a6e63048c103b27a53a82c/cmd/gomobile/env.go#L434-L443

[2022-09-08 10:44] churik opened #13955 "Tenor gif preview is not shown on status mobile"
# Bug Report

## Problem
Whitelisted in https://github.com/status-im/status-go/pull/2832 but doesn't work on mobile client side

#### Expected behavior
Can see gif

#### Actual behavior
![IMAGE 2022-09-08 12:42:23](https://user-images.githubusercontent.com/4557972/189102595-dc703018-44d4-482a-ae0f-0b9f5e527644.jpg)

### Reproduction

1) Open Status
2) Join any public channel
3) send any tenor GIF

[2022-09-08 11:19] jakubgs commented on #13949
I created a PR which sanitizes `xcrun` output:

* https://github.com/golang/mobile/pull/84

But they expect me to sign [Google Contributor License Agreement(CLA)](https://cla.developers.google.com/about/google-corporate?csw=1), so I asked Agata to look into before I accept it.

[2022-09-08 11:36] flexsurfer commented on #13955
status-go returns `:thumbnailUrl"https://tenor.com/bWdkz.gif"` which is redirect if you open it in the browser , thats why it won't work in the app cc @stefandunca

[2022-09-08 11:48] flexsurfer commented on #13955
[code]

[2022-09-08 11:48] flexsurfer commented on #13955
cc @stefandunca

[2022-09-08 11:50] pavloburykh opened #13956 "Opposite from actual status of contact request in activity center on paired device after sync"
Accepted contact request on Device 1 is displayed as Declined on Device 2 after sync (and vice verse - Declined appears as Accepted)

**Steps:**
1. Restore the same multiaccounton Device 1 and Device 2
2. Send contact request from Device 3 to Devices' 1 and 2 account
3. Accept contact request on Device 1
4. Pair Device 1 and Device 2
5. Sync data from Device 1 to Device 2 (tap sync all in sync set

[2022-09-08 12:22] #13855 closed, assigned to rasom

[2022-09-08 12:27] flexsurfer commented on #13955
https://tenor.com/bWdkz.gif doesn't work because its a redirect

[2022-09-08 12:27] flexsurfer commented on #13955
so two issues

[2022-09-08 12:36] flexsurfer commented on #13955
https://github.com/status-im/status-go/pull/2439

[2022-09-08 13:46] stefandunca commented on #13955
This is a problem on desktop as well:
![image](https://user-images.githubusercontent.com/47554641/189138302-cf664333-46a7-488b-b5f6-c599a4f8d652.png)

I plan to remove `tenor.com` from the whitelist and keep only `media.tenor.com` that is returned by the API we are using. @flexsurfer will this work for mobile?

[2022-09-08 15:09] flexsurfer commented on #13955
thanks @stefandunca this will work. but we still need to fix size, width and height are 0 now

[2022-09-08 15:19] stefandunca commented on #13955
This will require fetching of an image in the best case which is quite inefficient. Hardcoding a default one will also generate scaled images.

Because this is a workaround to preview gifs from our own API the simplest way will be to use the fetched image size when width and height are `0` as we do on the desktop. Will this work for mobile?

A more appropriate solution will be to track our gifs by

[2022-09-08 15:59] qoqobolo opened #13957 "Group chat history unavailable for newly added member until some action is taken (some messages can be lost)"
# Bug Report

## Problem

Sometimes (in ~90% of cases), if a user was added to a new group chat while offline, and some messages were sent in that group from other members (from admin in this particular case), then when the user comes back online, the group chat history won't be available until some action triggers it to load (lock - unlock the screen, relogin and switch to another app worked whil

[2022-09-08 22:22] J-Son89 commented on #13903
I checked this component and Icon component is accurately named.
https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=102%3A5246

However I did notice that channel avatar is extremely similar and functionally these could be done by the same component. Perhaps more developer input could be contributed to the design of the components so we don't have to make multiple implement

[2022-09-09 06:53] yqrashawn commented on #13793
H @Parveshdhull I compared `Paragraph-2/Regular` and can't find line height difference.

![CleanShot 2022-09-09 at 14 35 23@2x](https://user-images.githubusercontent.com/15090582/189289396-706706b9-45e2-4c37-a767-06519de3331a.png)

[2022-09-09 07:58] Parveshdhull commented on #13793
hi @yqrashawn,
Thank you very much for looking into this.
Please can you try with 5-10 lines? Small line heights difference might not be visible, but they add up to a big difference with multiple lines.

[2022-09-09 08:19] yqrashawn commented on #13793
<img width="1015" alt="image" src="https://user-images.githubusercontent.com/15090582/189304171-6fcff891-dfe9-432a-bbd6-2ccb75b1c514.png">

There's indeed mismatch. I'll check.

Line 1
<img width="711" alt="image" src="https://user-images.githubusercontent.com/15090582/189305268-3bab99fa-a0f2-4375-9dbf-4ad92b87c389.png">

Line 10
<img width="711" alt="image" src="https://user-images.githubusercont

[2022-09-09 09:48] qoqobolo commented on #13957
### Case with the lost messages

**Receiver:**

After ~10 mins of waiting, before relogin [geth.log](https://github.com/status-im/status-mobile/files/9534267/geth.log)
After relogin [geth.log](https://github.com/status-im/status-mobile/files/9534276/geth.log)

Messages received right after the first login
<img width="485" alt="Screenshot 2022-09-09 at 11 40 43" src="https://user-images.githubuserc

[2022-09-09 09:57] churik commented on #13956
fixed in https://github.com/status-im/status-mobile/pull/13958

[2022-09-09 13:34] cammellos commented on #13957
So far what I am getting:
- Peer was alwasy connected to the same mailserver throughout `mail-03.do-ams3.eth.prod`
- Connection looked stable
- Requests were successful
The timestamps also checks out, I'll be looking at exactly when the peer has sent messages to cross check in the other logs

[2022-09-09 13:44] ilmotta opened #13961 "Send contact requests"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-09 13:49] ilmotta opened #13962 "Allow user to see the status of their contact request"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-09 13:56] ilmotta opened #13963 "Cancel pending contact requests"
# Feature Issue

### User Story

### Acceptance criteria

### Notes

- Status-go doesn't store such "pending" contact request activities, which means fetching read/unread notifications returns nothing. There's probably some backend work to support retractable contact requests in the AC.

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to

[2022-09-09 13:59] ilmotta opened #13964 "Display contact requests"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)
- Double-check wi

[2022-09-09 14:04] ilmotta opened #13965 "Accept contact requests"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-09 14:10] ilmotta opened #13966 "Decline contact requests"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-09 14:13] ilmotta opened #13967 "Distinguish between read and unread notifications"
# Feature Issue

### User Story

### Design

<img src="https://user-images.githubusercontent.com/46027/192865009-efed41d8-5f88-4261-886a-112ec7ee95eb.png" width="800" />

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma

[2022-09-09 14:17] ilmotta opened #13968 "Filter notifications by their type"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)
- Given that users can accumulate lots of notifications, they should be paginated, and a proper loading indicator should be displayed when necessa

[2022-09-09 14:21] ilmotta opened #13969 "Open chat when pressing on an accepted contact request"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-09 14:30] ilmotta opened #13970 "Show failed contact request attempt as a failed activity"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

### Notes

- Sho

[2022-09-09 14:33] ilmotta opened #13971 "Receive in-app notification when a contact request fails"
# Feature Issue

### User Story

### Description

Related to [#13970 Allow user to see failed contact requests](https://github.com/status-im/status-mobile/issues/13970)

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center

[2022-09-09 14:37] Samyoul commented on #12882
With the merging of https://github.com/status-im/status-go/pull/2506 there should be at least the MVP in `status-go/develop` to perform key/account transfer between 2 devices. This does not do anything about automatically setting up mutual sync / pairing setup which is another step. 🥲 .

And so it continues.

[2022-09-09 14:37] ilmotta opened #13972 "Show in-app notification when user receives a contact request"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-09 14:39] ilmotta opened #13973 "Show in-app notification when the user's contact request is accepted"
# Feature Issue

### User Story

### Description

This feature is part of a larger effort to create a new Activity Center. Please, reach out to members of the UX team before starting this work in case there are important details not apparent in Figma.

- [Figma - Activity Center user journeys](https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=639%3A21926)

[2022-09-12 07:56] #13956 closed, assigned to rasom

[2022-09-12 07:57] rasom commented on #11335
Tested, there is no support for archival requests on goerli network yet.

[2022-09-12 08:46] flexsurfer commented on #13955
@stefandunca how does size work for other image providers?

[2022-09-12 09:59] jakubgs commented on #13949
Decided to apply the patch using Nix since it's quite simple, and will fix those failure while we wait for the PR to get merged.

[2022-09-12 10:08] qoqobolo commented on #13957
New logs [geth.log](https://github.com/status-im/status-mobile/files/9546970/geth.log)

pk 0x043fcbe384316f331b26ec92f8eaacd55625786d7974b8ec9dc43c5c3057547187d7b4b69e419611c38ad1679b834f215b785562a6c80ec5e605b54b8bd73cdbb3 (Positive Soupy Veery)

[2022-09-12 10:30] #13949 closed, assigned to jakubgs

[2022-09-12 10:33] qoqobolo commented on #13957
New users:
**Sender** `Minty Giddy Mussel` 0x04e707de8db3d21ad1efee98ed77b55f046111fd4f8d6d1271a0a80568056978f2a92f0b57da3bac9030d0831ba2236909650cb24d7e69d805c2d3a624e5be1b67
[geth.log](https://github.com/status-im/status-mobile/files/9547111/geth.log)

**Receiver**  `Nautical Green Armyworm` 0x040f4e6f3b75eaf88847b53a3c9562c21bba3ec49cfcb9cba278f6da11b58d2d3aaa8ad39ba7d261b6093a3add3d39ad96f6293

[2022-09-12 10:49] churik commented on #13228
One more scenario with public chat.
User A: join any public chats, send several messages, delete the last one, log out
User B: join same public chat

Expected result: no last message is shown
Actual result: User B is seeing last message (deleted) in preview

[2022-09-12 11:21] cammellos commented on #13957
I think I might have found the issue:
[code]
it's in the logs, likely due to the recent changes in group chat protocol.
Investigating

[2022-09-12 11:26] stefandunca commented on #13955
They are fetched from the "oembed" request. However, oembed request doesn't work for tenor hence the "0 size means use the fetched image size" workaround.

[2022-09-12 11:28] jo-mut commented on #13228
@churik  the issue for 1 on 1 chats is now resolved and it should also be resolved in  the of  public chats. I will however test to confirm that it works fine with public chats

[2022-09-12 12:14] #13815 closed, assigned to Parveshdhull

[2022-09-12 13:25] churik opened #13979 ""Seed does not match" error in case of restoring access with seed phrase when keycard is frozen in "Recover keys" flow"
# Bug Report

## Problem
If keycard gets frozen in "Recover keys" flow, you can't restore access from the seed phrase in case it is not your first account on device.
Non-relevant error appears: `Seed doesn't match` 1st account on the device
The only way is to start the process over using `Restore with seed phrase` flow

#### Expected behavior
Can recover access via seed phrase

#### Actual behavio

[2022-09-12 14:02] churik opened #13981 ""Generate new key" in "There's nothing to recover here" doesn't do anything in case it is not first account on device"
# Bug Report

## Problem
Flow "Access existing keys" > "Recover with keycard" > "There's nothing to recover here" > "Generate new key" is not working on the last step - the button doesn't do anything on tap.
Issue is reproducible when it is not first multiaccount on device

#### Expected behavior
Can generate a new account

#### Actual behavior

https://user-images.githubusercontent.com/4557972/18

[2022-09-12 15:02] churik opened #13982 "Can't unpin message from "Pin limit reached" popup if 3 messages with preview are pinned"
# Bug Report

## Problem
If pinned messages contain preview, they don't fit "Pin limit reached"  pop-up, therefore user cannot unpin message from this screen.
Also tapping outside this popup doesn't close it, so the only way to proceed is to reopen app

#### Expected behavior
Can unpin message in "Pin limit reached" popup

#### Actual behavior

https://user-images.githubusercontent.com/4557972/189

[2022-09-12 15:12] #10345 closed, assigned to yqrashawn

[2022-09-12 15:17] churik opened #13983 "Deep links with ENS names contaning non-latin chars cause endless redirect in Status browser"
# Bug Report

## Problem
Valid ENS names can contain emoji and basically any char according to https://docs.ens.domains/frequently-asked-questions
So `숨겨진보물.eth` is correct ENS, which is resolved in wallet / chat key field to corresponding user
However, if I open it as a deep link, I've got endless redirect.

#### Expected behavior
Can see user profile after navigating to the app

#### Actual beha

[2022-09-12 17:22] #13558 closed, assigned to ibrkhalil

[2022-09-12 17:58] #13579 closed, assigned to spac3c4det

[2022-09-12 19:35] ilmotta commented on #13895
FYI: The Design team is working on a new way to display read/unread notifications, such that it doesn't confuse the user with two infinite scroll sections.

[2022-09-12 20:24] #13842 closed, assigned to ilmotta

[2022-09-12 22:43] #13903 closed, assigned to J-Son89

[2022-09-13 09:31] rasom commented on #13981
interesting, it was recently fixed https://github.com/status-im/status-mobile/issues/13835

[2022-09-13 09:48] churik commented on #13981
It was fixed for the case when it is the first account on device.

[2022-09-13 11:19] pavloburykh opened #13990 "Group chat adjustments due to changes in status go"
Due to changes in Status go https://github.com/status-im/status-go/pull/2828 we need to implement corresponding changes on status mobile side according to this spec https://github.com/status-im/feature-specs/blob/3bcd4909d730bea213ad94412ed8e0077a32e7ba/content/raw/chat/group_chat.md:

1. In case if User tries to create group chat with non mutual contacts or add non mutual contacts to existing gro

[2022-09-13 11:22] Parveshdhull opened #13991 "Block PR merging when there is Clojure compiler warnings"
## Summary
Currently, we can merge PRs even when there are warnings in `make run-clojure`. This even allows us to merge PR even when code is missing.

#### For ex:
In commit https://github.com/status-im/status-mobile/commit/f4bb6ec7d65cb37faeb73c2b4dccf8924375ae40 [lowest_price.cljs](https://github.com/status-im/status-mobile/commit/f4bb6ec7d65cb37faeb73c2b4dccf8924375ae40#diff-9b3de11f108b13ccb26

[2022-09-13 11:48] Parveshdhull opened #13992 "Account gets deleted even before the Keystore file is moved to the keycard"
# Bug Report

### Problem
While moving Keystore files to keycard if the process is stoped in between, maybe intentionally or because of other issues (like I was unable to connect my card, so pressed back), then the account gets lost after login.

#### Expected behavior
Account should be deleted after make sure keystore file is moved to the keycard

#### Actual behavior
Getting deleted very early,

[2022-09-13 11:50] churik opened #13994 "Gas price is not set in dapps on BSC network"
# Bug Report

## Problem
For both Wallet connect and web3 method of connecting wallet in case of initializing transaction `Gas Price` is not set automatically on dapps that are working on BSC network.
Exmple of dapps:
- https://app.alpacafinance.org/
- pancakeswap.finance
- www.tranchess.com

#### Expected behavior
Can finish transaction, Gas limit and Gas Price are set

#### Actual behavior
![IMA

[2022-09-13 11:56] cammellos commented on #13591
This is blocked, currently SDK only supports custom pokt specific calls.

[2022-09-13 11:56] #13591 closed, assigned to nobody

[2022-09-13 13:51] #13951 closed, assigned to flexsurfer

[2022-09-13 14:07] churik opened #13995 "Transaction messages don't respect network"
# Bug Report

## Problem
If 2 users are using different networks (i.e. `BSC` and `Mainnet`), user on Mainnet can request ETH in 1-1 chat, but user on BSC network will get request for `BNB`.
That can cause confusion for both parts.

#### Expected behavior
Something like "Transaction messages should be only available on `Mainnet`", actions are not available

#### Actual behavior

![photo_2022-09-13

[2022-09-13 14:08] churik commented on #13995
@hesterbruikman may be we have it covered somewhere, can I get your opinion on this?

[2022-09-13 14:32] ilmotta opened #13996 "Lack of consistency on how re-frame events are named"
## Problem

As years went by, the Status Mobile codebase accumulated many different flavors of naming schemes for re-frame ****events****. There are events using fully qualified keywords, namespaced keywords, non-namespaced keywords, events starting with nouns, sometimes with verbs, and so on.

- PRs have more back and forth discussions about how events should be named.
- Some events have too comm

[2022-09-13 15:00] #13563 closed, assigned to ibrkhalil

[2022-09-13 16:43] #13982 closed, assigned to Parveshdhull

[2022-09-13 16:48] qoqobolo opened #13997 "Seed phrase / private key disappear from the field when sending app to background during account creation in wallet (Android)"
# Bug Report

## Problem
If put the app in the background in process of adding an account in Wallet, the filled seed phrase / private key field will look empty after returning in the foreground, but in fact, it will remain filled: if you enter the password again, the account will be added.

#### Expected behavior
- the field remains filled after returning to the foreground
or
- the field is truly

[2022-09-13 19:02] #13895 closed, assigned to ilmotta

[2022-09-13 19:25] Parveshdhull commented on #13981
fixed in https://github.com/status-im/status-mobile/pull/13989

[2022-09-13 19:25] #13981 closed, assigned to rasom

[2022-09-13 20:32] hesterbruikman commented on #13995
Great catch! I'll check if this is covered by the new designs. As well as if and how this might be addressed in the current.

There are two scenarios for which the issues would occur:
- Multichain (L1>L2, L2>L1, L2>L2)
- Crosschain (e.g. BNB > ETH)

Leaving that as a note as we'll likely address these differently

[2022-09-14 04:10] yqrashawn commented on #13873
deleted for me messages ~https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4136%3A421265~
https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments-for-Mobile?node-id=5713%3A624211

[2022-09-14 09:34] churik commented on #13979
Discussion is [here](https://github.com/status-im/status-mobile/pull/13986#issuecomment-1245857442)

[2022-09-14 10:06] yqrashawn commented on #13996
I suggest we come up the simplest rule that can be easily implemented with tools like [clj-kondo](https://github.com/clj-kondo/clj-kondo#readme) or [semgrep](https://github.com/returntocorp/semgrep#readme) and implement the checks, run them in CI.
After which, with the implemented tool/checks, we enrich the rules.

[2022-09-14 11:24] ilmotta commented on #13996
semgrep is a great tool, but unfortunately it doesn't support Clojure, but okay clj-kondo is more than capable and probably more adequate for Clojure.

+1 For gated checks in the CI.

Although I really prefer to automate, there are some important subtleties. I think we can definitely automate some checks, but **event names have semantic meaning** and we'll never be able to automate some things wit

[2022-09-14 12:25] Parveshdhull commented on #13983
### Adding for context:

https://github.com/status-im/status-mobile/blob/a489e07bd1f4450bdeb0a4b04183945a097d659b/src/status_im/router/core.cljs#L64

`(bidi/match-route routes uri)` is not returning route

related issue  https://github.com/juxt/bidi/issues/206

(didn't tested in deep, needs more research)

[2022-09-14 13:39] briansztamfater opened #13999 "Implement GIF Search on Reactions Drawer"
# Feature Issue

### User Story

As a user, I want to search and send GIFs.

#### Visual reference

<img width="637" src="https://user-images.githubusercontent.com/18485527/190169271-ddde1995-e11f-4f7f-a3e1-8b0fe9503f71.png">

Link to Figma: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=3444%3A62646

[2022-09-14 13:43] briansztamfater opened #14000 "Implement Sticker search on Reactions Drawer"
# Feature Issue

### User Story

As a user, I want to search and send stickers from Reactions Drawer.

#### Visual reference

<img width="543" src="https://user-images.githubusercontent.com/18485527/190170509-23d3f7c5-effa-4314-86f2-829dad9abac7.png">

Link to Figma: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=3442%3A60225

[2022-09-14 14:10] flexsurfer commented on #13521
implemented here https://github.com/status-im/status-mobile/pull/13620

[2022-09-14 14:10] #13521 closed, assigned to flexsurfer

[2022-09-14 14:23] chrispader opened #14002 "StatusKeycard module not compatible with Xcode 14.0 / iOS 16.0"
# Bug Report

## Problem
StatusKeycard module not compatible with Xcode 14.0 / iOS 16.0

#### Expected behavior
`make run-ios` should build without failure.

#### Actual behavior
`make run-ios` results with the following error:

[code]

The error is in the `react-native-status-keycard` package [here](https://github.com/status-im/react-native-status-keycard/blob/af61b0213adbf4b5a6bae97c85496d95007d

[2022-09-14 14:55] flexsurfer commented on #13539
implemented

[2022-09-14 14:55] #13539 closed, assigned to briansztamfater

[2022-09-14 15:40] qoqobolo opened #14003 "Cannot re-join community requiring approve via invitation link"
# Bug Report

## Problem

If a User leaves a community that has a type `Require approval` once, they won't be able to re-join it using the same invitation link in chat.

#### Expected behavior
New join request is sent; the admin of the community should approve it again

#### Actual behavior
No request (nothing happens in fact)

### Reproduction

1. UserA creates a `Require approval` community and

[2022-09-15 07:28] flexsurfer commented on #14002
cc @bitgamma

[2022-09-15 07:31] flexsurfer commented on #13999
@briansztamfater i think just a regular bottom sheet should be used? probably i'll be working on stickers in parallel, because message drawer doesn't support this yet

[2022-09-15 07:32] flexsurfer commented on #14000
@briansztamfater i'll take this one

[2022-09-15 08:40] qoqobolo opened #14008 "Mention is not centered in suggestions list if it contains only one suggestion in 1-1 and group chats (iOS)"
# Bug Report

## Problem

<img width="324" alt="Screenshot 2022-09-15 at 10 35 36" src="https://user-images.githubusercontent.com/67952253/190356737-d9ca2579-de1b-4395-822c-64b00da5df40.png">

#### Expected behavior
The line is centered vertically

### Reproduction

1. Open 1-1 chat or group chat with one invited member
2. Type `@`

### Additional Information

- Status version: nightly 15/09
- Ope

[2022-09-15 09:01] #13545 closed, assigned to nobody

[2022-09-15 09:02] #13546 closed, assigned to nobody

[2022-09-15 09:02] #13547 closed, assigned to nobody

[2022-09-15 09:03] #13548 closed, assigned to nobody

[2022-09-15 09:18] #13678 closed, assigned to jo-mut

[2022-09-15 09:18] #13596 closed, assigned to cammellos

[2022-09-15 10:07] #13676 closed, assigned to jo-mut

[2022-09-15 10:13] flexsurfer commented on #13556
cc @ibrkhalil  https://github.com/status-im/status-mobile/pull/13852

[2022-09-15 10:14] jo-mut commented on #13568
I am removing myself from this assignment just so I can first finish with pending tasks. If no one will have picked this up I will reassign it to myself

[2022-09-15 10:25] siddarthkay commented on #13549
need this component for https://github.com/status-im/status-mobile/issues/13439
I have done most of the work in the screen

[2022-09-15 10:25] siddarthkay commented on #13756
need this component for https://github.com/status-im/status-mobile/issues/13439
I have done most of the work in the screen

[2022-09-15 10:25] siddarthkay commented on #13831
need this component for https://github.com/status-im/status-mobile/issues/13439
I have to discuss animations with Pedro

[2022-09-15 10:35] flexsurfer commented on #13955
it was fixed partially, only for https://tenor.com/bWdkz.gif links, but other tenor links will not work because of zero size we need to address this

[2022-09-15 10:39] pavloburykh opened #14009 "Alert "failed to send message {message: not implemented} when sending first message in community channel"
Reproducing on latest nightly and release 1.20

**Steps:**

1. Create community
2. Create channel inside community
3. Open newly created channel
4. Send very first message in channel
5. Observe an error

**Actual result:** Alert "failed to send message {code -32000, message: "not implemented"}". The following messages are sent without alerts.

**Expected result**:  no alert on sending message

![p

[2022-09-15 11:38] #13915 closed, assigned to smohamedjavid

[2022-09-15 11:44] flexsurfer opened #14010 "Implement Shell Jump to"
Figma: https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=0%3A1

[2022-09-15 11:44] flexsurfer commented on #13155
replaced by https://github.com/status-im/status-mobile/issues/14010

[2022-09-15 11:49] flexsurfer opened #14011 "Implement Shell Scan screen"
### Instructions

Implement the Shell Scan Screen.

Figma: https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?type=design&node-id=451-18994&t=RlXEGOyFRoEJCjEz-0

You should be re-using existing components where available and create components when not.

These are the following details as specified by the design team.
[code]

Communities scanning will work like this:
<img width="420

[2022-09-15 11:49] flexsurfer commented on #13699
replaced by https://github.com/status-im/status-mobile/issues/14011

[2022-09-15 11:56] #13699 closed, assigned to ibrkhalil

[2022-09-15 12:02] flexsurfer opened #14012 "Implement Shell Activity Center screen"
Figma: https://www.figma.com/file/eDfxTa9IoaCMUy5cLTp0ys/Shell-for-Mobile?node-id=451%3A18681

[2022-09-15 12:33] siddarthkay commented on #14002
since I too burned my hands with this

![Screenshot 2022-09-15 at 5 47 53 PM](https://user-images.githubusercontent.com/64726664/190404737-8c3e3e8b-cb09-4726-bff6-a6353049af38.png)

here are links that I found useful  :
https://stackoverflow.com/questions/41904724/using-available-with-stored-properties/43503888#43503888
https://github.com/pichillilorenzo/flutter_inappwebview/issues/1216

[2022-09-15 14:22] pavloburykh opened #14013 "Backed up contacts do not appear after account restoration for more that 1 minute (sometimes they don't restore at all)"
Sometimes backed up contacts do not appear for more that 1 minute after account has been restored.

Below case was caught by e2e tests and demonstrates contacts are not appearing after 120 seconds of waiting for them which has lead to test failure.

Here you can see a video of test run https://app.saucelabs.com/tests/246fb0f6a48f4046a83997e5a406651b?auth=db55f3c91771580c7439817abd3c9717#64

Logs o

[2022-09-15 15:00] cammellos commented on #14009
looking at this, present in latest status-go

[2022-09-15 17:55] ilmotta commented on #13967
Update on 2022-09-28: Read/unread will work like simple filters.

Update on 2022-09-15: The Design team is figuring out how to display read and unread notifications, especially in the context of users with lots of notifications. TL;DR: The collapsible read/unread sections will change in Figma.

This issue can be closed once we implement the new (yet to be defined) design.

[2022-09-16 08:33] chrispader commented on #14002
Thanks @siddarthkay ! I have seen these threads too, but also wanted to make sure, that this gets fixed in the repo as well.

[2022-09-16 08:34] siddarthkay commented on #14002
@chrispader : yes for sure, getting this fixed in the repo is the right way to go :)

[2022-09-16 08:52] #13670 closed, assigned to qfrank

[2022-09-16 09:40] #13155 closed, assigned to Parveshdhull

[2022-09-16 10:15] flexsurfer opened #14015 "Implement Selectors components"
Figma: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=398%3A18229

[2022-09-16 10:17] flexsurfer opened #14016 "Implement Channel-List component"
Figma: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=411%3A18564

[2022-09-16 10:58] jo-mut opened #14017 "Update Communities Home and Discover screen"
Update the communities home to reflect changes made in the designs https://www.figma.com/file/h9wo4GipgZURbqqr1vShFN/Communities-for-Mobile?node-id=0%3A1

[2022-09-16 11:14] churik opened #14019 "Cannot import DB in any build except e2e"
# Bug Report

## Problem
Currently exporting DBs working for all builds, where it is enabled while importing is only working for apk-e2e builds

#### Expected behavior
can login after importing DB

#### Actual behavior
<img width="210" alt="MyApplication 2022-09-16 13-04-32" src="https://user-images.githubusercontent.com/4557972/190625639-9e0a47e5-0588-4d6c-8a63-792d36501b15.png">

### Reproductio

[2022-09-16 11:35] churik commented on #14019
cc @qfrank

[2022-09-16 12:00] pavloburykh opened #14020 "Some of app elements (e.g Profile menu items, trans history list items etc) periodically stop responding on Android app"
Currently there are no specific steps to reproduce the bug it occurs sporadically. I have faced it several times already on Android builds in these PRs [1](https://github.com/status-im/status-mobile/pull/13858) and [2](https://github.com/status-im/status-mobile/pull/13883). Will proceed  looking at it on nightly and give updates here.

The last time I faced the bug my **steps were the following:**

[2022-09-16 12:48] qoqobolo opened #14021 "Cannot extract geth.log on iOS in PR builds until switching network"
# Bug Report

## Problem
It is often necessary to extract logs from devices in PR builds for testing purposes.
But there is a difference between Android and iOS devices: the `geth.log` file is not created on iOS until the network is switched (i.e. from Goerli to Mainnet), which sometimes creates inconvenience.

<img width="337" alt="Screenshot 2022-09-16 at 14 37 39" src="https://user-images.githu

[2022-09-16 13:03] #13933 closed, assigned to rasom

[2022-09-16 13:24] churik commented on #14013
Sometimes restoring contacts from backup may take up to 1 hour. Couldn't save a log for this, but it may be an issue and it is sometimes may block our e2e, where timeout for this action is set for 120 sec.

cc @cammellos

[2022-09-16 14:21] flexsurfer commented on #14020
most likely its RN bridge, react logs would be useful

[2022-09-16 14:25] pavloburykh commented on #14020
thanx @flexsurfer I've left geth.log in description above. Duplicate here [geth.log](https://github.com/status-im/status-mobile/files/9583761/geth.log)

[2022-09-16 14:39] cammellos opened #14022 "Allow to pin messages - New UI"
As a user
I want to be able to pin a message
So that is visible to other community users

This should be implemented for 1-to-1, private group chats and communities.

The behavior is that by default, only admin of the community should be able to pin messages. There's an option for users to pin messages, but currently we don't allow set that option in the UI when creating communities.

### Designs

[2022-09-16 14:46] cammellos opened #14023 "Show pinned messages - New UI"
As a user
I want to be able to see pinned messages
So that I know the important information about a community/channel

This needs to be implemented for 1-to-1, private group chats & communities.

### Designs

https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=3425%3A413546

This includes showing the banner on top with the latest pinned message,  the number of pinned me

[2022-09-16 14:50] cammellos opened #14024 "Allow to unpin messages - New UI"
As a user
I want to be able to unpin a message
So that I can remove non-relevant information

This should be implemented for 1-to-1, private group chats & communities.

Depends on: #14023 #14022
### Designs

https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=3512%3A395567

[2022-09-16 15:08] cammellos opened #14025 "Add skeleton when loading messages - New UI"
As a user
I want to see a skeleton when loading messages
So that it looks faster

Please coordinate with the UI team if it needs an animation etc.

### Designs

https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=3071%3A278296

[2022-09-16 15:22] flexsurfer commented on #14020
yeah but its a status-go log, but we need status-react log

[2022-09-16 15:25] pavloburykh commented on #14020
oh, sorry for that @flexsurfer , I've misunderstood. Here is RN logfile
[Status.log](https://github.com/status-im/status-mobile/files/9585320/Status.log)

[2022-09-16 16:40] jo-mut opened #14026 "44 is not ISeqable"
# Bug Report

## Problem
App crashes after login with the following error  when user is on New UI`  44 is not ISeqable `. This seems to have been introduce by this PR https://github.com/status-im/status-mobile/pull/14001

#### Expected behavior
App should show Communites Home after login without crashing

#### Actual behavior
App crashes after login with the following error  when user is on New UI

[2022-09-16 17:16] pavloburykh opened #14027 "Some of mutual contacts can not be added to the group chat"
Bug is related to recent changes in status go https://github.com/status-im/status-go/pull/2828 cc @osmaczko

In some cases it is impossible to create a group chat with mutual contact or to add this mutual contact to an existing group.

For reproduction of the bug we have an example of 2 users who are mutual contacts.

**User A:** Super Harmful Wildcat
**passphrase:** length depend bottom mom kitch

[2022-09-16 18:23] briansztamfater commented on #13999
@flexsurfer Yes, I think we should use the regular bottom sheet. I understand that emojis will be added later to this sheet, similar to how Status Desktop works, but I am not sure. BTW - I will implement this issue UI once we have #14000 done, backend part is already implemented in `status-go`, so I will just start with some GIF fetching logic.

[2022-09-16 21:35] jo-mut opened #14030 "Rename filter-tags and refactor token-tag"
This is a simple issue to rename filter-tag and filter-tags components files to tag and tags as is if figma so that its easy to follow up what figma designs have been implemented

[2022-09-16 23:29] Parveshdhull opened #14031 "Android Debug App crashes after reloading it few times"
# Problem

Android App crashes after reloading a few times. (while fast refresh is disabled)
It usually doesn't show anything on UI and just crashes, but sometime it shows this error screen

<div align="center">
<img src="https://user-images.githubusercontent.com/17097240/190829456-9ab25bad-c58e-45c9-ae0a-71b356b748ce.png" alt="Screenshot" height="400"/>
</div>

This is known issue https://github.

[2022-09-17 00:15] Parveshdhull commented on #14031
I tried deleting all commits till my reanimated PR (https://github.com/status-im/status-mobile/pull/13470), but crash still happens even before that PR.
not sure, but issue might be related to [reloader](https://github.com/status-im/status-mobile/blob/develop/src/status_im/reloader.cljs)

[2022-09-17 01:21] Parveshdhull commented on #14020
This looks somewhat related to navigation. I remember seeing somewhat similar behavior when having a different root-id or something.
Some errors like `can't set stack with id 0` etc in metro. and navigation didn't work.

[2022-09-17 01:25] Parveshdhull commented on #14020
(or something like `unhandled exception, can't set ... of unmounted component`)

[2022-09-17 10:48] #13432 closed, assigned to qfrank

[2022-09-18 16:01] ibrkhalil commented on #13556
Wrapping it up soon

[2022-09-19 05:07] #13905 closed, assigned to smohamedjavid

[2022-09-19 08:04] osmaczko commented on #14027
The issue seems to be contacts backup problem, most likely backed up contacts do not restore some properties correctly. This is confirmed by `log: t=2022-09-16T15:44:35+0000 lvl=warn msg="Served wakuext_addMembersToGroupChat" reqid=68 t="483.084µs" err="group-chat: can't add members who are not mutual contacts"`.

[2022-09-19 09:12] churik commented on #14027
I don't think that these users have such property, it is a backward compatibility issue - "backup" feature was implemented earlier than mutual contacts, but we need to support this anyway

[2022-09-19 09:45] churik opened #14034 "ETH balance is not updated automatically if it contains internal transactions only"
# Bug Report

## Problem
Originally reported by user in the community (discussion is [here](https://discord.com/channels/641364059387854899/663386050625798184/1017073263496667156) )
If multaccount contains ETH that came from internal txs (can be transfer from L2 or from some centralized exchange) it is not shown automatically, relogin or scan tokens are needed.

#### Expected behavior
Balance the

[2022-09-19 11:09] qoqobolo opened #14035 "No PN when your contact adds you to group chat on iOS"
# Bug Report

## Problem
There is no push notification on iOS when your contact adds you to a new group chat, as it happens on Android.

#### Expected behavior
<img width="394" alt="Screenshot 2022-09-19 at 13 05 16" src="https://user-images.githubusercontent.com/67952253/191004032-859278b2-fc76-4628-8319-ddc556b7e8f7.png">

#### Actual behavior
No PN

### Reproduction

1. UserA (iOS) enables PNs

[2022-09-19 12:03] flexsurfer commented on #14002
@bitgamma any updates? i feel like its a blocker for ios dev?

[2022-09-19 12:22] bitgamma commented on #14002
@flexsurfer working on it today, sorry I didn't think it was a blocker yet

[2022-09-19 12:38] qfrank commented on #14019
sorry, missed the notification, i'll look into it @churik , thank you

[2022-09-19 12:50] churik opened #14037 "No old messages (>1 year) are shown in chat view when importing DB"
# Bug Report

## Problem
It is a blocker for re-using imported DBs.

#### Expected behavior
Can see old messages

#### Actual behavior
Messages are shown in preview, but no messages are shown when opening chat view

https://user-images.githubusercontent.com/4557972/191020765-170ecbbf-1294-4e4b-ad79-449aed6f24da.mp4

### Reproduction

1) Open Status, restore user `identify level pink lift choose wi

[2022-09-19 12:51] churik commented on #14037
cc @qfrank

[2022-09-19 12:58] churik commented on #14013
When trying to reporoduce issue for upgrade, faced that contacts were not restored at all (waiting > 1h)
Logs (DEBUG): [logs (7).zip](https://github.com/status-im/status-mobile/files/9599055/logs.7.zip)

[2022-09-19 13:16] churik opened #14038 ""Muted" property of contacts is not backed up"
# Feature Issue
Currently the "muted" property is not preserved, therefore I need to mute users one more time when restore it from multiaccount

### User Story

As a user, I want to restore muted users when recovering multi-account from seed phrase

### Acceptance Criteria

Muted contacts / users are restored from backup

[2022-09-19 14:08] #13962 closed, assigned to ilmotta

[2022-09-19 14:08] #13964 closed, assigned to ilmotta

[2022-09-19 18:25] #14002 closed, assigned to bitgamma

[2022-09-19 19:22] ilmotta commented on #14031
@Parveshdhull, I can't say for sure what's the cause, but I did spend many many hours trying to fix this or at least find the root cause of the problem.

In the Android Studio emulator, when I enable the profiler the app **always** crashes when the memory consumption goes above 1GB. I use NixOS and I reproduced this failure on two very different machines, with completely different hardware, but go

[2022-09-19 23:10] #14026 closed, assigned to J-Son89

[2022-09-20 06:22] Parveshdhull commented on #14031
Yes, looks like Hermes was the issue. After disabling it app is not crashing anymore

[2022-09-20 07:06] Parveshdhull commented on #13991
fixed in https://github.com/status-im/status-mobile/pull/14014 (`clj-kondo` needed to be upgraded)

[2022-09-20 07:06] #13991 closed, assigned to nobody

[2022-09-20 09:30] flexsurfer commented on #13880
Fdroid PR: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11770

[2022-09-20 10:30] pavloburykh opened #14044 "Leftover bugs from PR about account selector implementation (IOS only)"
This is leftover from https://github.com/status-im/status-mobile/pull/13883 (before fixing make sure that PR is already merged into develop)
Below issues were fixed on Android but still reproducible on IOS

### ISSUE 1 Switching between 3 or more different accounts while offline results in displaying second selected account on the side of connected dapp after coming back online instead of last sel

[2022-09-20 10:50] #13890 closed, assigned to audriu

[2022-09-20 11:25] qoqobolo commented on #14020
There is a way to reproduce the bug more likely: you just need to tap menu settings in the profile and the `profile` tab itself. If you do it fast enough, it will lead to a crash.

Crash:
1. Open Profile
2. Start tapping menu items and the profile tab icon quickly until the app gets frozen
3. Put the app in the background and re-open it

https://user-images.githubusercontent.com/67952253/191244851

[2022-09-20 11:35] pavloburykh opened #14046 "Camera/microphone permissions are not re-asked when 'Only this time" option is selected (Android)"
**Steps:**
1. Open chat
2. Trigger app asking for permission to Camera/microphone (by tapping on camera/microphone icon)
3. Select allow 'Only this time option'
4. Try to trigger app asking for permission once again and observe the result

**Actual result:** permissions are not asked. App behaves as if "While using the app" option was selected during previous permission asking. In Android system p

[2022-09-20 13:04] ilmotta commented on #14031
I'm not sure of the implications of disabling Hermes, but it sure fixed the issue in my machine. Thank you for finding a fix.

[2022-09-20 13:51] #13549 closed, assigned to siddarthkay

[2022-09-20 16:10] pavloburykh opened #14051 "ENS name turns into public key after editing message containing mention with this ENS"
**Steps:**

1. Open any chat with member having ENS name
2. Send some message containing ENS name
3. Edit the sent message
4. Pay attention at ENS name in edited message

**Actual result:** private key and part of 3 random name is displayed instead of ENS name.

**Expected result:** ENS name should be preserved in edited message

https://user-images.githubusercontent.com/97245802/191309513-1f5b858

[2022-09-20 16:32] #13578 closed, assigned to ibrkhalil

[2022-09-20 16:47] pavloburykh opened #14052 "Some reactions to messages sent from offline are not delivered to receiver after sender (IOS) comes back online"
Currently I have managed to reproduce the bug only in case when sender is IOS and receiver is Android

**Steps:**

1. Start chat between User A (IOS) and User B (Android)
2. Send some message by User A or User B
3. Go offline by User A (turn on airplane mode)
4. Set all 6 possible reactions to the sent message be User A while being offline. One of the reactions should be set then unset and at last

[2022-09-20 16:52] #13943 closed, assigned to audriu

[2022-09-20 19:36] #13523 closed, assigned to briansztamfater

[2022-09-20 20:59] Parveshdhull commented on #14031
Issue is only with x86 devices. More details in PR [Summary](https://github.com/status-im/status-mobile/pull/14041)

[2022-09-21 09:26] #14031 closed, assigned to Parveshdhull

[2022-09-21 14:13] erikseppanen commented on #13996
Another dimension along which to consider Icaro's points is in the context of tests.

For example, when I was writing integration tests, sometimes I'd run into re-frame events called something like 'button-pressed' or some such and I'd die a little inside knowing that this test is supposed to be exercising business logic, and ideally (I am an idealist after all) it should be below the surface of t

[2022-09-22 00:17] Parveshdhull commented on #13913
will be fixed in https://github.com/status-im/status-mobile/pull/14055

[2022-09-22 07:48] pavloburykh opened #14056 "Error '1.20.0 (20220922040832) is not a function' when opening About screen"
**Steps:**

1. Install latest nightly build
2. Create/recover multiaccount
3. Go to Profile tab
4. Open About screen
5. Observe an error

**Actual result:** error '1.20.0 (20220922040832) is not a function' appears. After closing error modal the About screen remains empty.

**Expected result:** no error. Data is displayed on About screen.

![photo_2022-09-22 10 46 55](https://user-images.githubuse

[2022-09-22 10:50] flexsurfer commented on #14056
@rasom mistake during subs refactoring,filed a PR

[2022-09-22 11:09] pavloburykh opened #14059 "Transaction's details in Status app (values of Trans fee and Gas price) differs from the ones on Etherscan"
**Steps:**

1. Generate any transaction in Status app (or use existing one from history of transactions)
2. Open transaction details in Status app (Go to Wallet tab - open Wallet screen - open history tab - select transaction from the list)
3. Open the details of the same transaction on Etherscan
4. Compare data from details page in Status app and Etherscan
5. Check if Transaction fee and Gas pric

[2022-09-22 12:55] #13913 closed, assigned to Parveshdhull

[2022-09-22 13:51] #14056 closed, assigned to flexsurfer

[2022-09-22 17:16] hesterbruikman commented on #13995
@churik just discussed this issue with @John-44 and closing this issue. Can be reopened if we have new insights.

There is no loss of funds (although it will be a hassle to switch networks) and the issue will no longer occur with the new multichain design and implementation.

[2022-09-22 17:16] #13995 closed, assigned to nobody

[2022-09-23 11:27] cammellos opened #14063 "Allow user to scroll down in chat - New UI"
### Description

When scrolling up in a chat, an icon should appear that if clicked, will bring the user back to the top of the chat.

This only includes the arrow, no counter.

### Designs

[https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4417%3A519126](https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4417%3A519126)

### Known issues

[2022-09-23 12:13] cammellos opened #14064 "Highlight posts that mentions me - New UI"
### Description

Posts that mention the user should be of a different color.

The highlight color should reflect the community color if in a community & group chat, otherwise it would be the normal color.

### Designs

[https://www.figma.com/file/wA8Epdki2OWa8Vr067PCNQ/Composer-for-Mobile?type=design&node-id=2102-171080&t=htNRZeTc8FHZ0y7A-0](https://www.figma.com/file/wA8Epdki2OWa8Vr067PCNQ/Compos

[2022-09-23 12:32] cammellos opened #14065 "Autocomplete mentions in the input box"
### Description

When inputting `@` in the input box, I should see a list mentionable users, filtered by the text following `@`

- If I have set a nickname it should have priority over everything and should be shown here https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=2740%3A258262
- If the user has a ENS name but not a user set nickname it should be shown similarly

[2022-09-23 12:43] cammellos opened #14066 "Reply to a message - New UI"
### Description

We should allow the user to reply to messages.

Only the “top name” should be displayed (The username I have set for them > their ENS name > their display name)

### Designs

Initial state https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=2839%3A278327
Component: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=3173%3A55936

[2022-09-23 14:30] J-Son89 opened #14068 "Implement Visual Test mechanism and configuration setup"
# Feature Issue

Reference this branch https://github.com/status-im/status-mobile/tree/jcaprani/visual-test

### User Story

As a developer I want to be able to create visual tests for the quo2 component library so that I can be confident I have not broke the ui on other components while refactoring implemented components.

### Description

Taking the work from this branch:
https://github.com/stat

[2022-09-23 14:35] J-Son89 opened #14069 "Create make script to generate visual tests for default renders of all quo2 components"
Depends on #14068

Feature Issue
Reference this branch https://github.com/status-im/status-mobile/tree/jcaprani/visual-test

User Story
As a developer I want to be able to automatically create visual tests for new components so that I have less development overheads.

Description
Taking the work from this branch:
https://github.com/status-im/status-mobile/tree/jcaprani/visual-test

Decide on the b

[2022-09-23 14:49] J-Son89 opened #14070 "Integrate visual tests into CI/CD pipeline"
Depends on https://github.com/status-im/status-mobile/issues/14069

User Story
As a developer I want to be able to make changes to quo2 components and have confidence that the CI/CD pipeline will run visual tests to ensure some quality control on my latest work.

Description
Take the tests created in issue #14069 and get them to run in the CI/CD pipeline

If it is not too much additional setup, co

[2022-09-23 20:12] Parveshdhull opened #14071 "UI Component - Floating Shell Button"
This issue is to track the creation of the component: Floating Shell Button

You can access the link at https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=8835%3A151980

[2022-09-25 17:48] audriu commented on #14046
The app still has that permission for a while even if it goes in the foreground or is killed. But if you wait for some time or reboot your device it will ask again.
https://developer.android.com/training/permissions/requesting#one-time

[2022-09-25 17:48] #14046 closed, assigned to audriu

[2022-09-26 09:52] siddarthkay commented on #13756
decision pending on updates made to existing QR component.

Existing problems :
- Having a logo in the centre of the QR code requires modification of QR code and currently the only library that supports it on the client side is not compatible with React Native : https://www.npmjs.com/package/qr-code-styling
unless we decide to explore the webview route : https://github.com/kozakdenys/qr-code-styli

[2022-09-26 15:05] #13527 closed, assigned to briansztamfater

[2022-09-26 15:24] flexsurfer commented on #13522
#13631 and #13689

[2022-09-26 15:24] #13522 closed, assigned to briansztamfater

[2022-09-26 17:03] cammellos opened #14075 "Use same waku-2 fleet as desktop for dogfooding"
We should use the same fleet as desktop for dogfooding in 1.20.
It's specified in status-go

[code]

We should be using ENR https://github.com/status-im/status-desktop/pull/7410

[2022-09-26 18:19] pavloburykh opened #14076 "Login screen is set to system appearance (light/dark mode) even if "System" is not selected in app appearance settings"
**Steps:**
1. Open Status app
2. Go to Profile tab - Appearance - Select "Light" mode
3. Log out and close the app
4. On your device go to system settings and set Appearance to "Dark" mode
5. Re-open the app
6. Pay attention at color mode of login screen

**Actual result:** login screen has dark mode (system appearance) although light mode is selected in app settings. After login app screens are d

[2022-09-26 19:22] Parveshdhull commented on #14076
Hi @pavloburykh, user preferences are stored in the database and can only be accessed after login. Before login, we can't know the user's selection and that's why we use the system theme as the app theme. So currently it is intentional.

But maybe we can store theme selection in async storage instead of the database. @cammellos wdyt?

[2022-09-26 19:26] pavloburykh commented on #14076
@Parveshdhull thanx for the explanation! Feel free to close this issue if option with async storage will not work in our case. Thank you!

[2022-09-27 06:59] yqrashawn commented on #13831
Also need this for delete for me ui https://github.com/status-im/status-mobile/issues/13873
https://www.figma.com/file/PPWkgOYlZZDxZv5SDGsZVV/Posts-%26-Attachments?node-id=4277%3A511682

[2022-09-27 10:27] siddarthkay commented on #13831
@yqrashawn : I'll keep you posted on its progress :)

[2022-09-27 11:11] siddarthkay commented on #13756
As recently discussed the design team is okay with the edges not being circular but all they want is the ability to place a logo in the centre of the QR code which helps with identifying what the QR code is generated for.

This can be achieved by overlapping the desired logo on top of the generated QR.

I now need to experiment with the QR code's Error Correction Level (ref : https://github.com/so

[2022-09-27 11:35] siddarthkay commented on #13756
I see an attempt was made to do this 2 years ago : https://github.com/status-im/status-mobile/pull/10703
and it makes sense for the core logic of QR code generation to be on the status-go side so that in the future even Desktop Team can use this.

[2022-09-27 13:05] #13965 closed, assigned to ilmotta

[2022-09-27 13:05] #13966 closed, assigned to ilmotta

[2022-09-27 13:05] #13969 closed, assigned to ilmotta

[2022-09-27 19:30] #14059 closed, assigned to rasom

[2022-09-27 19:57] #13567 closed, assigned to Parveshdhull

[2022-09-27 23:58] Parveshdhull commented on #14076
Let's keep this open for now. We can fix this issue while implementing new ui and can test if is fixed, once the redesign is complete.

[2022-09-28 11:01] #13557 closed, assigned to ibrkhalil

[2022-09-28 11:02] #13556 closed, assigned to ibrkhalil

[2022-09-28 14:56] J-Son89 opened #14081 "Design for channel avatar needs adjustment."
The current implementation of the Channel avatar component is missing two pieces in the design spec.

1- The icon size might change, as such it is better to have a bounding box of 20px around the emoji so that the spacing etc is consistent but allows for emojis of different sizes to be used.

2 - The lock/unlock icon should have an option to use a mask so that it shows the color below the channel

[2022-09-28 15:00] J-Son89 commented on #14016
This component is done with design approval 👍

[2022-09-28 15:00] #14016 closed, assigned to J-Son89

[2022-09-28 15:03] J-Son89 opened #14082 "Implement Disclaimer component in quo2 library"
Figma: https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=2976%3A43217

[2022-09-29 15:20] Samyoul commented on #13914
A little note about the work I did on this issue.

Unfortunately there is a bug that I don't really have want to spend more time resolving, it is really taking too much time to resolve. Basically the process hangs for some encodings params, I don't know why, but it hangs indefinitely and that is a big problem and if I try to interrupt the process I get a segmentation violation crash. And recover i

[2022-09-29 15:32] Samyoul commented on #13914
Consider https://github.com/edgeware/mp4ff as a point for research when/if this issue becomes more important.

Ooooor, we could just implement global file chunking for any file that is less than ~10mb (or whatever) and then you don't need to worry about Waku transport limitations (so much).

[2022-09-29 16:03] #13848 closed, assigned to cammellos

[2022-09-30 09:25] churik opened #14087 "?\"
# Problem

An overview of the background required to understand the problem.
A problem description.

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

[2022-09-30 09:39] #13992 closed, assigned to rasom

[2022-09-30 09:40] churik opened #14089 "Autobot may start several `status-app-prs` jobs for no reason"
# Problem
Sometimes e2e jobs `status-app-prs` are triggered for no reason (no move to E2E column was performed)
It happens from time to time and may block our e2e for several hours
Example: https://github.com/status-im/status-mobile/pull/14080#issuecomment-1262125980
Jobs:
1) https://ci.status.im/job/status-mobile/job/e2e/job/status-app-prs/2819/console
2) https://ci.status.im/job/status-mobile/jo

[2022-09-30 09:41] churik commented on #14089
@jakubgs please take a look when you get a minute

[2022-09-30 09:59] siddarthkay opened #14090 "Generate QR from status-go and pass it over to status-mobile via image server"
Currently the status mobile codebase generates the QR code by https://www.npmjs.com/package/qrcode and then uses https://www.npmjs.com/package/react-native-svg to generate its display.

The logic should be ideally moved to status-go side so that it can be shared across other platforms (Desktop) as well.

[2022-09-30 10:02] #14087 closed, assigned to nobody

[2022-09-30 10:18] siddarthkay commented on #13258
Got a pixel 6 recently.
not able to re-produce anymore on pixel 6.
Closing this for now.

[2022-09-30 10:18] #13258 closed, assigned to siddarthkay

[2022-09-30 11:09] rasom commented on #14019
I tested it locally on various devices, and from what I see it looks like permissions/file owner issue. In case if device is not rooted the only change which is needed to make it work is to run

[code]

after pushing file to the device. **Please make sure you use a correct path in that command, as I tested it on pr build it contains `im.status.ethereum.pr` in my case, but if that's nightly it shou

[2022-09-30 11:43] jakubgs commented on #14089
That's just me restarting the bot trying to fix:

* https://github.com/status-im/status-github-bot/pull/55

[2022-09-30 11:43] #14089 closed, assigned to nobody

[2022-09-30 11:54] jakubgs commented on #13497
Fucking finally: https://github.com/status-im/status-mobile/pull/14088

![image](https://user-images.githubusercontent.com/2212681/193264071-4c7062b5-c68c-473f-b27d-b32da2902c0b.png)

[2022-09-30 11:57] jakubgs commented on #13497
Looks like bot restarts tirgger unnecessary builds sometimes:

* https://github.com/status-im/status-mobile/issues/14089

[2022-09-30 11:58] #13497 closed, assigned to jakubgs

[2022-09-30 11:58] churik opened #14091 ""No matching clause" at attempt to open a chat with contact after upgrade to 1.20.2, who sent contact request from desktop 30/09/22"
# Bug Report

#### Expected behavior
can open chat

#### Actual behavior

https://user-images.githubusercontent.com/4557972/193264100-633d17fc-5ff4-447c-a316-fb4656acaa26.mp4
### Reproduction

1) User1: install latest status-desktop (used 30/09/22 from [here](https://ci.status.im/job/status-desktop/job/platforms/job/macos/ ))
2) User2: install 1.19
3) User1: send contact request to User2
4) User2:

[2022-09-30 11:58] churik commented on #14091
cc @cammellos

[2022-09-30 13:18] churik commented on #14019
updating doc, thank you for finding the reason Roman.

[2022-09-30 13:18] #14019 closed, assigned to rasom, qfrank

[2022-09-30 21:25] #13568 closed, assigned to Parveshdhull

[2022-10-01 10:33] Parveshdhull commented on #13551
Not relevant anymore due to shell migration

[2022-10-01 10:33] #13551 closed, assigned to nobody

[2022-10-01 10:33] Parveshdhull commented on #13550
Not relevant anymore due to shell migration

[2022-10-01 10:33] #13550 closed, assigned to nobody

[2022-10-01 10:36] Parveshdhull commented on #13572
Yes, the icons of the status bar will be controlled by OS, but we still need to change icons and background color as per the theme.
(So not a component, but still needs to be addressed)

[2022-10-01 10:40] Parveshdhull commented on #13573
Yes, we currently can't change the color of the home indicator in ios
Refs:
- https://stackoverflow.com/questions/46194557/how-to-change-home-indicator-background-color-on-iphone-x
- https://developer.apple.com/forums/thread/86906

[2022-10-01 10:40] #13573 closed, assigned to nobody

[2022-10-02 23:49] JMBpm21 opened #14097 "jmb11185@gmail.com"
# Problem

An overview of the background required to understand the problem.
A problem description.

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

[2022-10-03 07:29] #14097 closed

[2022-10-03 10:48] Parveshdhull commented on #14020
Hi @qoqobolo, Thank you very much for the reproduction video.
Is this issue only exist in old ui, or also in new ui?

[2022-10-03 11:28] qoqobolo commented on #14020
Hey @Parveshdhull , I'm not sure I can reproduce it with the same steps in new UI, as currently tabs stop displaying when you open some of the settings. With a quick press of the back button I was unable to reproduce the issue.

https://user-images.githubusercontent.com/67952253/193565532-3bc59116-9acb-483a-a475-56d60b623af8.mp4

[2022-10-03 11:31] Parveshdhull commented on #14020
Thank you for confirming.

[2022-10-03 12:05] Parveshdhull opened #14100 "UI Component - Dynamic Button"
This issue is to track the creation of the component: Dynamic Button

You can access the link at https://www.figma.com/file/WQZcp6S0EnzxdTL4taoKDv/Mobile-Components?node-id=8834%3A152423

[2022-10-03 12:53] ilmotta opened #14102 "Correctly wrap around words in a context tag"
# Problem

From the screenshot below, we can see the context tag displays the entire text "sent contact request" in a new line. The correct output should correctly wrap around the words.

<img src="https://user-images.githubusercontent.com/46027/193580174-f3cbf42a-a69c-43d6-941f-fa3175d8e944.png" width="600" />

## Acceptance Criteria

The correct output should correctly wrap around the words, all

[2022-10-03 14:58] cammellos opened #14103 "Extend clojure integration test to cover blocking a user"
We should increase the coverage of the newly created clojure integration tests.

This issue is to add support to block a user

The test steps that should be covered in the tests should be:
1. Create a new account (already covered by steps) & login (we can start from these steps https://github.com/status-im/status-react/blob/9f9b896eb7fcfac60d55b33a3744480b13d2ba8d/src/status_im/integration_test.cl

[2022-10-03 20:58] jo-mut opened #14104 "update discover communities screen to scroll as in the designs"
Update the discover communities screen to handle the scroll in the designs.

https://www.figma.com/file/h9wo4GipgZURbqqr1vShFN/Communities-for-Mobile?node-id=5843%3A209153

This should use the scroll component worked on in https://github.com/status-im/status-mobile/pull/14695

Also fix

Fixes adding back in the tabs

Add divider line to discover page

Fix X button has a black background o press

[2022-10-04 11:27] rasom commented on #14037
Apparently the database's integrity was compromised in this commit https://github.com/status-im/status-mobile/commit/1f7fd17ff1903dca3db24c949a1a5403301984a9 by @jakubgs

The database from older commits works as expected.

@churik if that's it lets close the issue.

[2022-10-04 11:28] churik commented on #14037
Yes, I'll restore the previous dbs before commit.
HUGE thank you from QA for resolving this!

[2022-10-04 11:28] #14037 closed, assigned to rasom

[2022-10-04 11:49] #14021 closed, assigned to rasom

[2022-10-05 03:27] du82 opened #14109 "Allow users to hide community membership and mutual info"
As a user, I want to be able to hide my existence in a community, as well as hiding "mutual friends" and "mutual communities" to prevent relationship mapping attacks.

### Discord membership relationship mapping attacks
Discord has a problem which directly utilizes the "mutual friends" and "mutual servers" information in a profile, as well as the sidebar in a community. This data can be used to bu

[2022-10-05 10:20] churik opened #14110 "Improvements in database import process"
# Problem
Currently, the feedback when smth goes wrong during the database import process is not really helpful.
It'd be awesome to have a way to distinguish problems that may appear during database import

## Acceptance Criteria

- [ ] 1. Show appropriate error when there are no required permissions to `export.db` file (current behavior is [here](https://github.com/status-im/status-mobile/issues/

[2022-10-05 15:25] churik opened #14111 "Sometimes balance is not updated automatically after multiaccount restore (Goerli network)"
# Bug Report

## Problem
Caught by e2e, can't reproduce on real devices with same multi-accounts. Sometimes the balance is not fetched after restoring multi-account (in 30% of cases, sometimes all tx tests can be failed in PR build)
It started approx 28.09
![1-1 chat: send ETH directly to ENS - TestRail 2022-10-05 17-16-43](https://user-images.githubusercontent.com/4557972/194097345-898e5af7-5c2e-