[2017-08-10 21:33] retro commented on #148
@jarradh @flexsurfer On what devices were you able to reproduce this? I've tested this on:

- Huawei P9 Lite
- Lenovo Vibe P1m
- iPhone 6

and wasn't able to reproduce it. I've also tried to break it by switching to the Camera app while the QR reader was open (tried to reproduce https://github.com/lwansbrough/react-native-camera/issues/808) and it was working ok.

[2017-08-11 06:01] rasom commented on #1585
https://gist.github.com/jarradh/41f2cea7a4d409b5239a8e816c94d21c Russian version, needs some filtering (weird words, 3 letters words with accented letters)

[2017-08-11 06:11] annadanchenko commented on #1569
Yes, you are right. Warning should be shown also for the users who already have an account.

[2017-08-11 06:11] flexsurfer commented on #148
@retro on android device, i think we can make a "blind" fix, activate back button only after camera will be initialized

[2017-08-11 06:56] annadanchenko opened #1593 "Turn on Instabug on iOS build"
### Description

*Type*: Bug

*Summary*: Instabug is not turned on for iOS app. If shake the phone then nothing happens, should be "How we can help you?" popup

### Additional Information
* Status version: develop 0.9.9d127
* Operating System:
Real device iPhone 6s, iOS 10.3.3

[2017-08-11 07:31] flexsurfer opened #1595 "Introduce new hierarchy"
https://github.com/status-im/status-react/blob/develop/doc/refactoring-guidelines.md#introduce-new-hierarchy

[2017-08-11 10:09] annadanchenko commented on #1386
Can be reproduced with same steps on develop build#235

[2017-08-11 10:13] oskarth opened #1599 "Spike out push notifications triggered by some provider"
Critical path for push notifications. Mock ability to trigger notifications from some provider.
Use https://github.com/zo0r/react-native-push-notification or https://github.com/evollu/react-native-fcm or whatever other library seems most mature, cross-platform, and flexible for multiple providers.

See https://docs.google.com/document/d/1OgjnY8ps8lVA4dIohwkfGK9HVt0nZxEWbuNdb7BX5-o/edit# for contex

[2017-08-11 16:34] sla-shi commented on #733
@rasom pls suggest the priority level for the issue?

[2017-08-12 07:13] annadanchenko commented on #1423
1. Nothing is received from faucet if use /faucet command in Status app. Expected: 1 ETH is received as it was in previous versions
2. http://46.101.129.137:3001/faucet-info returns ```{"account":"0xadaf150b905cf5e6a778e553e15a139b6618bbb7","balance":"0 Wei"}```

[2017-08-12 07:35] annadanchenko commented on #1366
Instabug reports: https://dashboard.instabug.com/applications/status-10bb8cbc-15f6-44f0-8c7a-db478dc34d7d/beta/bugs/846

[2017-08-12 09:27] oskarth opened #1601 "Fork web3 and BigNumber and use those across the board [cross-repo concern]"
Context:
- web3 relies on a forked version of bignumber that doesn't use regex lookahead, and from my understanding regex lookahead isn't support when evaluating JS in Otto
- There was a problem with the latest web3 "release" that required an additional build step for dist (adamb can elaborate on this)
- status-react currently adds a new version of bignumber to solve a regression bug in certain JS

[2017-08-12 09:33] oskarth commented on #1601
Relevant:
https://github.com/status-im/status-react/pull/1555
https://github.com/MikeMcl/bignumber.js/issues/120
https://github.com/ethereum/web3.js/issues/877
https://github.com/ethereum/web3.js/blob/develop/package.json#L11
https://github.com/rasom/bignumber.js/commit/49f840c27d50a2f32c1085476b79f7429c94d20d

[2017-08-12 11:36] adambabik commented on #1601
Thanks @oskarth for collecting this! The conclusion section looks great. Just let's make sure that our fork of `web3.js` has up-to-date `dist` directory as `status-go` will use it directly. Also, let's make a branch or even better a tag so that it's easier to track whether both `status-go` and `status-react` use the same version.

[2017-08-12 13:56] annadanchenko commented on #1250
Works fine on
Real device Samsung Galaxy S6, Android 6.0.1
Real device iPhone 6s, iOS 10.3.3
develop build 0.9.8-130-g6a56b600 | 0.9.9d130

[2017-08-12 13:56] #1250 closed

[2017-08-12 14:12] annadanchenko opened #1602 "Passphrase filed should ignore spaces and empty lines in front/end of the phrase"
### Description

*Type*: Bug

*Summary*: Passphrase with a space in front or at the end is treated as not identical to the same passphrase without spaces in front or at the end. User might copy/paste phrase with a space and then another account will be created instead of the expected one. It would be better to truncate spaces and new lines before and after passphrase to avoid confusion.

#### Expe

[2017-08-13 10:14] annadanchenko commented on #1435
Real Samsung Galaxy S6, Android 6.0.1
Build 0.9.8-130-g6a56b600
Popup is shown and then Status app stopped if send 3-4 location messages in chat (by moving pin on the map as described in steps to reproduce)
![screenshot_20170813-120814](https://user-images.githubusercontent.com/6584810/29248792-ce951b92-8020-11e7-86cd-1e1a8c606076.png)

[2017-08-13 13:05] annadanchenko commented on #1531
Same happens for /request command typed manually
Bad case: /reques and press t then space

[2017-08-13 19:33] sla-shi commented on #1521
@oskarth re: using specific libraries - I captured the initial requirement from discussions in slack channels.
This can be re-visited in the document that you've shared.

[2017-08-13 19:54] sla-shi commented on #1593
I tested with v0.9.9d130 and the instabug is there. This issue can be closed.

[2017-08-14 07:24] oskarth commented on #1522
See https://github.com/status-im/status-react/issues/1599

[2017-08-14 07:25] oskarth commented on #1521
See https://github.com/status-im/status-react/issues/1599

[2017-08-14 08:32] annadanchenko opened #1604 "Commands send, request, location are sent several times if quickly tap on send button"
### Description

*Type*: Bug

*Summary*: Same message for commands (send, request, location) is sent several times if quickly tap on the send button in 1-1 or group chats. This does not happen for text or emoji. Expected: consistent behaviour for everything that is sent - anything in the input field is sent once even if user taps on send button several times.

#### Expected behavior
message for co

[2017-08-14 09:00] annadanchenko opened #1605 "Popup `No protocol method IAssociative. - assoc defined for type cljs.core`"
### Description

*Type*: Bug

*Summary*:
Issue happens sporadically and it seems that popup appears in the same second on different devices running the app, the actions performed in that moment do not matter. At least, it happened for 3 different devices in the same second. On some of the devices app was used and on another it was just running on foreground.

App is running on foreground for 10-15

[2017-08-14 09:08] asemiankevich commented on #1605
TF: https://app.testfairy.com/projects/4803590-status/builds/6348397/sessions/1/?accessToken=D17C9XpuCrtlDWnlNFEJO1tqPpU timestamp 1:06:26

[2017-08-14 10:08] jarradh commented on #1599
We're using Firebase, so we'd be using https://github.com/invertase/react-native-firebase

[2017-08-14 10:41] sla-shi commented on #733
Per @rasom

[2017-08-14 10:42] #1595 closed

[2017-08-14 11:19] annadanchenko commented on #1537
can't reproduce on the same device with latest develop build 0.9.9d130

[2017-08-14 12:08] flexsurfer opened #1609 "Navigation refactoring"
ui/screens/navigation.cljs refactoring

[2017-08-14 12:33] goranjovic commented on #1574
Added some comments with regard to tests here: https://gist.github.com/jeluard/4564c04f118b1cfa828ffe741811b0aa

[2017-08-14 12:36] sla-shi commented on #1391
Per @flexsurfer it needs investigation on the go side @tiabc.

[2017-08-14 12:40] sla-shi commented on #1295
Per @flexsurfer it needs investigation on the go side @tiabc.

[2017-08-14 12:51] flexsurfer opened #1610 "Accounts refactoring"
ui/screens/accounts refactoring

[2017-08-14 12:52] flexsurfer opened #1611 "Accounts tests"
write tests for accounts

[2017-08-14 13:03] oskarth commented on #1521
@sla-shi I think this issue can be deleted since it is currently ill-defined / captured in other issues/docs

[2017-08-14 13:10] sla-shi commented on #1524
@sla-shi to create the separate binding task.

[2017-08-14 13:11] sla-shi commented on #1523
@sla-shi to open a data binding issue to follow up this task.

[2017-08-14 13:15] sla-shi commented on #1525
@sla-shi to create the binding Issue.

[2017-08-14 13:19] sla-shi commented on #1528
@sla-shi follow up with Denis to provide Zeplin links for each Wallet UI issue.

[2017-08-14 14:11] annadanchenko commented on #1585
how user can check (remind) the signing phrase after onboarding

[2017-08-14 15:09] oskarth opened #1612 "Main wallet minimal data binding utility"
Goals:
- have a specific minimal use case for the new wallet
- set out some guidelines for how data binding should work generally in wallet

Data binding for showing ETH in Wallet. In addition, USD conversion and live data update if possible.

Previous unknowns:
- Fiat API? (ETH and tokens) - Using cryptocompare
- Live update wallet requirements? - Init at launch, easy to trigger event once main s

[2017-08-14 15:10] oskarth commented on #1612
Regarding fiat API, see https://www.cryptocompare.com/ @jarradh says we got a deal with them.

[2017-08-14 17:27] annadanchenko commented on #1569
Ok to merge.
iOS and Android apps are tested - warning popup is shown
- before password is created
- if account already exists then on each new launch before sign in

[2017-08-14 17:38] vkjr opened #1613 "Crash when start new game in TicTacToe"
**Steps to reproduce:**

1. run TicTacToe
2. finish the current game
3. press new game

Crash appears.

Reproducible on original 'react-native-linux' build, before merging with latest react-native. Need to be checked again after merging.

[2017-08-14 18:15] #1521 closed

[2017-08-14 19:36] denis-sharypin commented on #1523
@GustavoNunes Hey, you can find all UI regarding a main Wallet screen here zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb488fea42dc85f90b5e

[2017-08-14 19:37] denis-sharypin commented on #1524
@jeluard All UI screens are here zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb22d214630c91087f0f

[2017-08-14 19:38] denis-sharypin commented on #1528
@GustavoNunes All UI screens are here zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb08dd2ec4ce5e3978c5

[2017-08-14 19:39] denis-sharypin commented on #1526
UI is here zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb23d214630c91088208

[2017-08-14 19:40] denis-sharypin commented on #1525
UI is here zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb3a0f0692af9117d1ee

[2017-08-14 19:41] denis-sharypin commented on #1529
It is here zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb488fea42dc85f90b5e
Third screen from the bottom.

[2017-08-14 19:42] denis-sharypin commented on #1527
UI is here: zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb04e8f7c397bd9771c2

[2017-08-15 06:19] tiabc commented on #1295
Will be fixed at https://github.com/status-im/status-go/pull/250

[2017-08-15 06:54] #1613 closed

[2017-08-15 09:08] janherich opened #1617 "Simplifying event chains"
We seem to have many events which are only called from within another events, never as result of “outside action” (like user input, jail callback, etc.).
We could perfectly replace those events by ordinary functions, which would have 2 main benefits:

1. Events chain will be significantly shorter, business logic will be easier to follow and test.

2. No need to persist state of the business logic

[2017-08-15 09:13] oskarth commented on #1617
This would be great. As an example, clicking on a chat user results in the following events being triggered:

![image](https://user-images.githubusercontent.com/1552237/29309595-a04d1d80-81aa-11e7-9cd5-9bd87845bd7a.png)
![image](https://user-images.githubusercontent.com/1552237/29309600-a8e9dcd0-81aa-11e7-906d-c391ce2c796f.png)

I have no idea about the feasibility of reducing the amount of calls

[2017-08-15 09:57] sla-shi commented on #1605
@tiabc @rasom any thoughts how we can diagnose the issue?

[2017-08-15 10:35] asemiankevich opened #1618 "Make android diawi builds naming more transparent"
After the Android builds were moved to Diawi the naming of them become difficult to distinguish. The files are named with default “app-release.apk” and it is confusing a bit especially when you have several builds downloaded on your device. After the conversation with @rasom we agreed to put some effort to fix this.

[2017-08-15 14:11] #1535 closed

[2017-08-15 16:22] #1051 closed

[2017-08-15 16:22] #1195 closed

[2017-08-15 16:22] #1050 closed

[2017-08-15 16:23] #1015 closed

[2017-08-15 16:27] #1486 closed

[2017-08-15 16:27] #1469 closed

[2017-08-15 18:42] Alonski commented on #1602
Can I try tackling this guys?

[2017-08-15 19:39] yenda opened #1621 "Send transaction action from contact profile should prefill user in send command"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I don't want to type or select the name of my contact again after selecting the action `send transaction` from his profile

### Description

*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually hap

[2017-08-15 22:52] janherich commented on #1617
After examining some options how to approach this, here is the recipe I propose to use:

1. As a first step all event handlers needs to be pure, taking co-effects and returning effects, this is ongoing effort and we are steadily moving towards it

2. Look out for events which are never called as result of "outside" actions as for example user input, network callback, jail callback, etc. Remove tho

[2017-08-16 08:16] yenda commented on #1617
Historical insight from @rasom on slack:

[2017-08-16 09:38] annadanchenko opened #1622 "Suggestions in Console stays open for web3 properties after sending to the chat [commands loading]"
### Description

*Type*: Bug

*Summary*: Suggestions stays opened after using suggestions in console for web3 properties and sending the request.
![img_2229](https://user-images.githubusercontent.com/6584810/29357278-3fcdaa7e-8277-11e7-90d3-6a7ed78ef904.jpg)

#### Expected behavior
suggestions stays opened
#### Actual behavior
suggestions are closed after sending the request

### Reproduction
http

[2017-08-16 09:39] annadanchenko commented on #1567
#1622
still testing

[2017-08-16 10:13] #1609 closed

[2017-08-16 10:16] 0xc1c4da opened #1623 "Monospace Font"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I should be typing and viewing with a monospaced font, that makes clear distinctions between all characters, i.e between l and I, 0 and O

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and wh

[2017-08-16 10:56] #1593 closed

[2017-08-16 11:05] annadanchenko opened #1624 "Emoji and text keyboards are shown in the same time after specific scenario"
### Description

*Type*: Bug

*Summary*: Both emoji and text keyboard are shown after sending transaction, emoji and tap inside input field

![screenshot_20170816-095721](https://user-images.githubusercontent.com/6584810/29360513-8d608692-8283-11e7-87cb-5e098e8f9a2d.png)

#### Expected behavior
only 1 keyboard is shown: text
#### Actual behavior

2 keyboards (text and emoji) are shown
### Reproduc

[2017-08-16 12:17] annadanchenko opened #1625 "Send/Request messages in group chat lost "To/From" line with recipient/sender name [commands loading]"
### Description

*Type*: Bug

*Summary*:
Send and request message do not contain "To/From" line in group chat
Expected:
![was](https://user-images.githubusercontent.com/6584810/29362728-5e140896-828d-11e7-9d8d-219385a71d31.png)

Currently:
![now](https://user-images.githubusercontent.com/6584810/29362748-6ff6fc9e-828d-11e7-91f5-16bc3ba5b6ca.jpg)

#### Expected behavior
- send message at the end co

[2017-08-16 12:21] annadanchenko commented on #1567
new issue #1625
verified ok #1622

[2017-08-16 12:26] asemiankevich opened #1626 "Error null is not an object (evaluating 'cljs.core.deref(status_im.components.drawer.view.drawer_atom).openDrawerr') [develop]"
### Description

*Type*: Bug

*Summary*:  I was browsing quickly in the app interacting with group chats screen and list of contacts and I have selected Auction house dapp and then tapped "back" and received the error

#### Actual behavior
Error null is not an object (evaluating 'cljs.core.deref(status_im.components.drawer.view.drawer_atom).openDrawerr')

### Reproduction
Can't provide the STR rig

[2017-08-16 19:59] annadanchenko commented on #1567
tested, looks ok to merge.
verified #1622 and #1625
on iOS and Android created 1-1, group and public chats. used all commands available.
on console used all command available and web3 properties. typed, deleted, edited commands. for browse - modified url and sent new in input field. there are some issues with send/receive but they are the same as in develop build (not introduced by this PR)

[2017-08-17 06:01] annadanchenko commented on #1537
can reproduce on 0.9.10 on same device iPhone 6s with same steps

[2017-08-17 06:08] #1622 closed, assigned to janherich, annadanchenko

[2017-08-17 06:09] #1625 closed, assigned to janherich, annadanchenko

[2017-08-17 06:24] goranjovic commented on #1585
If we show the 3 words to the user during the onboarding, then what do we do about the existing user accounts who don't get to see the initial sign up screen any more?

And if we generate it in a migration, re Anna's question, how do they get it?

[2017-08-17 06:49] goranjovic commented on #1585
Are we going to have word lists for other languages as well? I'm assuming this should work the same way label i18n does - use device language if available, otherwise English. Is that correct?

[2017-08-17 07:15] annadanchenko opened #1628 "Add Testnet warning, so no real ether or SNT is sent to the app"
### Description

*Type*: Feature

*Summary*: Need a warning that app works only in Ropstent Testnet, so users do not to send real ether or SNT to it.

To send ether to the app user will need to get the address. So, we can add a warning on profile screen next to the address field - `Ropsten Testnet only, do not send real ETH or SNT to the address`

[2017-08-17 07:19] oskarth opened #1629 "Token registry to automatically get balance for address in wallet"
## User story
As a token holder I want to see the tokens I own automatically. At least the common ones.

## Acceptance criteria

Undefined so far.

## Suggestions

- 3esmit: Use Parity in chain smart contracts that contains the token list
- 3esmit: Have our own in chain tokenreg list controlled by SNT holders
- 3esmit: User configuration for his own custom tokens
- Jarrad: token registry smart con

[2017-08-17 08:59] 3esmit opened #1630 "App crash due memory violation"
### Description

*Type*:  Bug

*Summary*: App crashes without giving any error at screen, just vanishes.

### Additional Information
* Status version: 0.9.10

* Operating System: Android 6.0.1

#### Logs
See https://pastebin.com/Zr8mzjbA

[2017-08-17 09:02] yenda opened #1631 "Hashtag in the status gives redscreen on Android emulator"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

Red screen with mention  `One of the sources for assig

[2017-08-17 09:05] yenda commented on #1631
First step to fix could be to determine which commit introduced the bug.

[2017-08-17 09:06] asemiankevich opened #1632 "Can't attach image to new thread in bchat dapp"
### Description

*Type*: Bug

*Summary*:  When I start a new thread in bchat dapp i want to be able to add image within Browse button, but nothing happens when  I click it

![bug_1490224334183_](https://user-images.githubusercontent.com/28752642/29404552-ec08f8a8-8343-11e7-8825-946c273f83a5.jpg)

#### Expected behavior
User should be able to add image to new thread

### Reproduction

- Open Status

[2017-08-17 09:50] yenda opened #1633 "Discussion: UX in profile"
### User Story

As a user I would like the profile editing behavior to be more consistent

### Description

#### Expected behavior

There should not be such a big difference in terms of actions between editing from the drawer and editing from the `edit-my-profile` view.

#### Actual behavior

- touching `status` in `my-profile` view opens `edit-my-profile` view while touching `icon` and `name` doe

[2017-08-17 09:59] yenda commented on #1633
Also not sure if it is about UX but when:

- you are in `my-profile` view
- edit the profile (`edit-my-profile` view)
- save it and go back to `my-profile` view
- repeat the two previous step n times

you end up having to press back 2*n times to go back to the menu

[2017-08-17 12:01] asemiankevich opened #1634 "Emoji keyboard is not hidden when tapping inside the chat [iOS only]"
### Description

*Type*: Bug

*Summary*: on iOS, when I type something in chat and open emoji keyboard it is not hidden automatically like normal keyboard does.

#### Expected behavior
Emoji keyboard is hidden when user taps inside the chat to see the messages

#### Actual behavior
Emoji keyboard is not hidden

### Reproduction

- Open Status
- Go to 1x1 chat
- Open emoji keyboard (tap on emoji ic

[2017-08-17 16:02] 3esmit commented on #1305
Duplicate of #663

[2017-08-17 16:02] #1305 closed

[2017-08-17 17:53] annadanchenko commented on #1435
verified ok on PR build 0.9.8-140-g4406d138+
both iOS (real iphone 6s, iOS 10.3.3) and Android (Google Pixel XL/7.1.2 Android and Galaxy S6/6.0.1 Android)

[2017-08-17 18:26] annadanchenko opened #1640 "Empty blue messages instead of /send are shown in Requests for group chat"
### Description

*Type*: Bug

*Summary*: Requests in a group chat are shown as empty blue boxes instead of blue boxes with `/send` word. Note that in 1-1 chat same requests are shown as expected.

Group chat issue:
![screenshot_20170817-201535](https://user-images.githubusercontent.com/6584810/29427312-aede5950-8389-11e7-8862-4c8022a300c9.png)

1-1 chat works as expected:

![screenshot_20170817-20

[2017-08-18 06:26] goranjovic commented on #1585
Right now onboarding gives two different passphrases - one for recovery and this one. Does it seem too much to shove all that info to the user the moment they create their account?

[2017-08-18 06:28] goranjovic commented on #1585
Not directly related to this issue, what should a user do if his signing phrase gets compromised? Should he be able to change it (generate again), or is his only recourse to create a different account and move all the eth there?

[2017-08-18 08:08] yenda commented on #1526
https://app.zeplin.io/project/5863cdcee68455850f1929f2/screen/5991fb23d214630c91088208

[2017-08-18 09:58] asemiankevich commented on #1633
Also, when I have new profile created:
1. Go to edit profile - change picture - change name to Wallet - tab back
Actual: changed picture is not saved while the name is reverted to default (which is expected)

2. When i set username as "wallet" or "console" those usernames are not in red

[2017-08-18 10:42] goranjovic opened #1643 "Translations do not update immediately after language change on Android emulator"
### User Story

As a user I want application to be translated after I change the main device language.

### Description

*Type*: Bug

*Summary*: Translations do not update immediately after language - only after app restart.

#### Expected behavior
Application is translated immediately, just like other apps on the same device.

#### Actual behavior
Application is still in the previous language. If

[2017-08-18 11:32] annadanchenko commented on #1610
Notes while testing:
- Console lost "/location" command - ok, as there is no need in location there

[2017-08-18 12:02] annadanchenko opened #1644 "Empty username, avatar and status for default values on Edit Profile screen [Accounts refactoring]"
### Description

*Type*: Bug

*Summary*: Default values for username, avatar and status are not shown on Edit Profile screen. Instead there are hints "Name", "Status" and violet picture. Expected: same values for username, avatar and status as were set be default when account was generated.

Note: after user sets own avatar, name and status they are shown fine on Edit Profile screen.
![img_2232](h

[2017-08-18 12:03] annadanchenko commented on #1610
#1644
still testing

[2017-08-18 12:17] goranjovic opened #1645 "Research realm migration unit testing"
### User Story

As a developer I want to be able to unit test realm migrations

### Description

*Type*: Feature

Right now we test realm migrations manually. Since they added support for node in realm, we might consider adding automated tests at some point:

https://blog.realm.io/first-object-database-realm-node-js-server/

[2017-08-18 15:00] flexsurfer commented on #1644
fixed

[2017-08-18 15:00] flexsurfer commented on #1610
#1644 -fixed, "/location" command - can't be affected by this PR

[2017-08-18 16:40] jeluard opened #1646 "Migrate to latest ReactNative"
`status-react` is behind ReactNative for a couple versions. Significant updates / bugfixes have been shipped.
It might also be necessary to use more recent version to update `reagent`.

[2017-08-18 19:50] annadanchenko opened #1648 "Popup null is not an object (evaluating 'e.replace') if tap on status -> username -> status in drawer"
### Description

*Type*: Bug

*Summary*: Popup null is not an object (evaluating 'e.replace') if tap on status -> username -> status in drawer
![screenshot_20170818-214157](https://user-images.githubusercontent.com/6584810/29475254-3a4ffa72-845f-11e7-8869-1c4b8dae7963.png)

#### Expected behavior
no popups, cursor is shown on the field that was tapped, user can edit field
#### Actual behavior
Popu

[2017-08-19 09:48] annadanchenko opened #1649 "Investigate: Confirming 1 transaction results in 2 transactions being created if recipient username contains ^ and tap on Confirm button several times"
### Description

*Type*: Bug

*Summary*:
Investigation is needed as this issue can't be reproduced via same steps/build/device but is critical.
Similar issue is in status-go: https://github.com/status-im/status-go/issues/263

1 send transaction resulted in 2 transactions. So, you sign 1 transfer of 10 ETH and then app makes 2 transfers, of 20 ETH in total.  It was possible to reproduce when:
- rec

[2017-08-21 07:20] #1648 closed, assigned to yenda

[2017-08-21 10:04] jeluard opened #1652 "Wallet - Transactions data-binding"
### User Story

As a user, I want to have access to real data in my wallet transactions screens.

### Description

*Type*: Feature

#### Expected behavior

- [x] Data displayed in `Transactions` screens is not hardcoded but reflect a user wallet.

[2017-08-21 10:14] oskarth opened #1653 "Wallet main screen data binding / layout - extend wallet and prices maps in DB"
Part of main screen wallet data binding. Extends work started in https://github.com/status-im/status-react/issues/1612 Also useful for other parts of the wallet.

- A user/account has a collection of wallets
- Each wallet has a name and multiple holdings (ETH, tokens)
- Each holding has an amount, symbol, name and logo
- Each token holding has an ERC20 contract address

- Prices (market) has a map

[2017-08-21 10:23] oskarth commented on #1653
Pending / blocked by https://github.com/status-im/status-react/issues/1612

[2017-08-21 10:59] oskarth opened #1654 "Make testing ERC20 token holding in wallet easier"
As a developer/tester, I want to test wallet looks and acts correctly when user owns ERC20 tokens.

It's fairly easy to get some ETH in your account to test transfers and so on, but we don't have a solution for getting ERC20 tokens associated to an account. In order to add tokens to the wallet I think we need to figure out some workflow with this.

Options:
-  1) mock it
- 2) ignore it for now
- 3

[2017-08-21 11:01] oskarth commented on #1612
ERC20 token balance blocked by https://github.com/status-im/status-react/issues/1654, taking this out of this issue's acceptance criteria until we figured out solution. Screen/design can be tested separately and support for ERC20 balance was added in https://github.com/status-im/status-react/pull/1636

Live data updated blocked / pending main screen WIP push - should just be triggering `init-walle

[2017-08-21 12:38] oskarth opened #1655 "Live updating of wallet balance when receiving ETH"
### User Story

As a user I want my wallet balance to update immediately when I receive ETH.

### Description

*Type*: Feature

*Summary*: Currently wallet balance updates can (or will be able to soon) be updated when you "pull down the the screen" to refresh. It might be desirable to automatically update wallet balance when you send/receive ETH. Receiving ETH can happen outside of app, so there a

[2017-08-21 12:40] oskarth commented on #1612
See https://github.com/status-im/status-react/issues/1655 for live-live update.

[2017-08-21 14:32] annadanchenko opened #1657 "Status from another account on the same device is used for a recovered account"
### Description

*Type*: Bug

*Summary*: On same device there are 2 accounts:
1. new account with non-default status/username
2. recovered account with default username and empty status
If status for account 1 was modified and than user opens Edit profile for account 2 then it contains status from account 1.

![screenshot_20170821-160746](https://user-images.githubusercontent.com/6584810/29523770-

[2017-08-21 14:42] oskarth opened #1658 "Setup Push notifications capabilities and certificates"
In order to support push notifications we need to add capabilities tied to our bundle id. Only people who are part of the Status team at http://developer.apple.com/ can add this.

Instructions:
- https://github.com/evollu/react-native-fcm#add-capabilities
- https://firebase.google.com/docs/cloud-messaging/ios/certs

As a workaround for https://github.com/status-im/status-react/issues/1599 I'm usin

[2017-08-21 15:29] annadanchenko opened #1659 "If user deletes group chat then no new messages sent there are shown to the user"
### Description

*Type*: Bug

*Summary*: User A deleted group chat X from Chats. User didn't leave the chat. After another group member sent new message to group chat X there is new empty chat with random name shown for user A.
Issues:
1. this new chat does not contains any messages. No messages are shown even after other members are sending messages to the chat.
2. it's not clear that this is gro

[2017-08-21 16:30] annadanchenko opened #1660 "Add functionality to Block a user"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to block another app user who knows my public key, so even if this user sends me a message I do not see it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you

[2017-08-21 16:35] oskarth commented on #1654
@3esmit will help us it by creating a TokenReg (a type of smart contract that contains list of tokens with names, decimals and symbols) that gives tokens to anyone who sends 0 ETH to it.

Slack:

[2017-08-22 04:39] #1611 closed

[2017-08-22 05:58] oskarth commented on #1654
Update from @3esmit

[2017-08-22 07:12] flexsurfer opened #1662 "Implement vector icons"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Implement vector icons using font and fontello.

vector icons is better because we can change size and color in the code, easy to add, less size

[2017-08-22 07:58] sla-shi commented on #1585
We can decide it later - can we create this piece of functionality and extend it in the coming iterations?

[2017-08-22 08:08] asemiankevich opened #1664 "Add descriptions for Dapps to improve usability"
### Description

*Type*: Feature

*Summary*: According to https://dashboard.instabug.com/applications/status-10bb8cbc-15f6-44f0-8c7a-db478dc34d7d/beta/bugs/837?status=New issue logged in Instabug

#### Expected behavior
It would be nice to see a summary of what each DApp does, wether it be text under the name of each DApp or an icon beside each which can be tapped for more info. Right now it takes

[2017-08-22 09:58] adambabik commented on #1605
For me it happened in Console chat, but it wasn't preceded with any action.

[2017-08-22 11:47] asemiankevich opened #1666 "Wallet main screen UI discrepancies"
### Description

*Type*: Bug

*Summary*: Below is the list of issues related to Wallet main screen applicable both for Android and iOS build. All checks were performed against Zeplin screens

https://app.zeplin.io/project/58aac7ae739bb1a592705d34/screen/598b3dbc46cf770e56724800
https://app.zeplin.io/project/58aac7d018d4584d91998e79/screen/5987fd0a9560ffae5b4a3684

#### Actual behavior

- Wallet sc

[2017-08-22 14:15] goranjovic opened #1668 "Error (red screen) on update account name"
### User Story

As a user I want to update my account name

### Description

*Type*: Bug

#### Expected behavior
The name is updated, no errors shown.

#### Actual behavior
The error is shown. Name isn't updated.

### Reproduction
Open Status
Log in
Open profile panel and choose Edit (name)
Type in new name
Tap Submit

### Additional Information
[comment]: # (Please do your best to fill this out.)

[2017-08-22 15:00] goranjovic commented on #1585
@sla-shi  Absolutely, I submitted a PR with the core item - the onboarding phrase creation, since that's the part that's on the critical path. I posted the questions to bring them to everyone's attention sooner rather than later.

https://github.com/status-im/status-react/pull/1669

[2017-08-23 02:36] ThreeMuskets12 opened #1672 "Bug causing white screen until app restarted when rapidly switching tabs"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarize the bug and what you did, what you expected to happen, and what actually happens. Sections below)

*Summary*: When tapping back and forth rapidly between any of the three "Chats"

[2017-08-23 07:00] annadanchenko commented on #1672
Duplicate of #1038

[2017-08-23 07:00] #1672 closed, assigned to nobody

[2017-08-23 12:16] asemiankevich opened #1674 "Generated username is partially cut [develop]"
### Description

*Type*: Bug

*Summary*: On Android device Xiaomi redmi note pro 4 with screen size 5,5 inch randomly generated user name is partially cut.
Don't see the issue on iPhone 5s

#### Actual behavior
![screenshot_2](https://user-images.githubusercontent.com/28752642/29615250-d8e9d7b6-8815-11e7-8210-1bacc9bb0b86.png)

### Additional Information

* Status version: 0.9.10-27-g2585a32c+

*

[2017-08-23 20:15] x-goose-x opened #1677 "Unable to edit the phone number from the profile screen"
### User Story

As a user, I want to set my phone number from the profile screen.

### Description

*Type*: Bug

*Summary*: The handler for updating phone numbers is currently nonexistent, resulting in an error in dev-mode to that effect.

#### Expected behavior
Keyboard pops to edit the phone number

#### Actual behavior
No registered handler for :my-profile/change-phone number

### Reproduction

[2017-08-24 06:23] oskarth commented on #1658
Development certificate done under Jarrad's support@status.im account. Production certificate not on critical path for spike so pending. At some point we probably want to setup a team at Apple to sort these things out, currently multiple people are using one account.

[2017-08-24 07:35] #1536 closed

[2017-08-24 07:37] goranjovic commented on #1397
The extra message was intended for Wallet contact. The other side effect of the same bug was that no transaction received in group chat appeared in Wallet messages.

[2017-08-24 08:42] goranjovic opened #1678 "Communicate signing phrase to user outside onboarding process"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to get my signing phrase even after the initial onboarding, in the following scenarios:

- I forgot my signing phrase
- I upgraded my app, the new phrase was generated automatically in db migration and I don't know what it is.
- I recovered my account on a different device and a new signing p

[2017-08-24 08:49] goranjovic opened #1679 "Language selection in signing phrase generation"
### User Story

As a user I want my signing phrase to be generated in a language I'm familiar with and able to memorize it easily (the whole point of a mnemonic phrase)

### Description

*Type*: Feature

For the implementation of this feature we need signing phrase dictionaries for a reasonable number of languages (ideally all).

One complicating factor is that signing phrases are persistent (at l

[2017-08-24 10:14] aj07 opened #1680 "typo error"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to fix the typo error on the doc page.

### Description

doc page

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: ...

#### Expected behavior
[

[2017-08-24 10:21] asemiankevich opened #1682 "Implement a more obvious indicator of syncing and a monologue in the console chat"
### Description

*Type*: Feature

#### Expected behavior
a more obvious indicator of syncing and a monologue in the console chat explaining that it will slow down the app would improve the experience for new users

![bug_1496494493772_](https://user-images.githubusercontent.com/28752642/29662188-1282f548-88cf-11e7-8480-eacec82e859a.jpg)

[2017-08-24 10:37] asemiankevich opened #1683 "Make the notifications bar for Andriod visible on all application screens"
### Description

*Type*: Feature

*Summary*: User cannot see any notification, WiFi network, data or even battery level on all the screens with white background.

#### Expected behavior
Make the bar visible through all the application screens

![screenshot_3](https://user-images.githubusercontent.com/28752642/29662776-3ca97e4e-88d1-11e7-835b-ac05edb8dd19.png)

![screenshot_2017-06-11-02-15-03_im s

[2017-08-24 11:51] goranjovic opened #1684 "Signing phrase security concerns"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want my signing phrase to be secure, so that I am safe from phishers.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

1. How do we generate it? Is our RNG secure?
2. How do we secure the stored signing phrase?
3. Is realm db safe from access by other apps?
4. ~Do we

[2017-08-25 06:28] oskarth opened #1687 "Running latest develop on real iOS device crashes with 0x8badf00d"
### User Story

As a developer, I want to reliably run latest develop on device to develop features that require a device, such as push notifications.

### Description

*Type*: Bug

*Summary*: When running the app on device, it shows splash screen then crashes.

#### Expected behavior
App launches after splash screen.

#### Actual behavior
App builds fine. Once running it crashes after splash scre

[2017-08-25 06:30] oskarth commented on #1599
Push notifications require running on device, blocked by https://github.com/status-im/status-react/issues/1687

@jeluard pointed out push notifications work in the Android emulator, so I might switch the spike to focus on that path.

[2017-08-25 10:42] oskarth commented on #1687
Possibly related to https://github.com/status-im/status-go/issues/273

[2017-08-25 10:46] oskarth opened #1690 "Upgrade React Native from 0.43 to latest"
### User Story

As a developer, I want to run the latest version of React Native so that I can use libraries that depend on it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: We are curr

[2017-08-25 11:19] oskarth opened #1691 "Error: Requiring module "619" when running on iOS simulator [help to reproduce]"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer I want build to run without errors to ensure the errors aren't impacting other issues such as https://github.com/status-im/status-react/issues/1687

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected t

[2017-08-25 12:08] asemiankevich opened #1692 ""Error" message shown when tapping History tap in Wallet"
### Description

*Type*: Bug

*Summary*: History screen should be available in Wallet redesign

#### Actual behavior
"Error" message is shown

### Reproduction

- Open Status
- Go to Wallet tab
- Click History

![screenshot_2017-08-25-14-58-54-882_im status ethereum 1](https://user-images.githubusercontent.com/28752642/29713378-f13699f2-89a6-11e7-8c94-6299e2810336.png)

### Builds

iOS: 0.9.11d28

[2017-08-25 12:18] asemiankevich opened #1693 "Make tabs naming in uppercase for Transactions screens on Android"
### Description

*Type*: Bug

*Summary*: both Unsigned and History tabs as well as Sign All button should be uppercase for Android

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/29713722-9ae91ece-89a8-11e7-966a-a0d7a2c25a03.png)

Android: 0.9.10-28-ga2b717cf+

[2017-08-25 12:24] asemiankevich commented on #1524
<s>https://github.com/status-im/status-react/issues/1692 is blocking to finish testing</s> . Tabs are not implemented yet

[2017-08-25 12:45] jeluard commented on #1692
Tabs are not implemented yet (see limitations in #1686 ). Will be fixed in a later PR.

[2017-08-25 13:00] oskarth commented on #1691
Multiple people are able to reproduce this, including people who can run the app on iOS device. The issue itself is low-priority since it doesn't seem to break anything important. This rules out this as a direct cause of error for https://github.com/status-im/status-react/issues/1687

[2017-08-25 13:49] #1692 closed, assigned to nobody

[2017-08-25 15:14] retro commented on #1460
@annadanchenko Is this behavior present in the simulator too? I've tried to replicate it on the simulator (with the latest develop) and it seemed to be working correctly.

I'm having problems with running the app on the device itself, so I just wanted to check if the simulator is good enough

[2017-08-25 15:51] flexsurfer opened #1694 "Implement svg icons"

[2017-08-25 15:53] #1694 closed, assigned to nobody

[2017-08-25 15:54] flexsurfer commented on #1662
font icons don't work well ,we decided to implement svg icons

[2017-08-27 08:16] annadanchenko commented on #1397
tested on 3 devices (iphone 6s, galaxy 6 and iphone 7 plus):
- all 3 members of the group chat see only 1 send message now
- Wallet contains send message (for recipient) in the same format as group chat: `/send 0.01 ETH from iphone6`
- Wallet contains send message (for sender) in the different format as group chat, instead of the recipient name there is group name in the chat:
group chat: `/send 0

[2017-08-28 07:00] jeluard commented on #1295
While there is an issue go side the error message itself is incorrectly generated `status-react` side
This will require changes there too.

[2017-08-28 07:03] #1397 closed

[2017-08-28 07:42] asemiankevich opened #1696 "Session ending on syncing on Android 5.0"
### Description

*Type*: Bug

*Summary*: Status ends the session on syncing (72-73%)

#### Expected behavior
I want to be able to sync my account within Android 5.0 platform

#### Actual behavior
App ends session on syncing and it can't be ever completed

### Reproduction

- Open Status
- Set up password
- Wait for syncing being in progress

### Additional Information

* Status version:  0.9.10-31

[2017-08-28 07:58] flexsurfer commented on #1684
Do we want to leave it in a message in the console?

[2017-08-28 09:11] asemiankevich commented on #1696
Duplicate https://github.com/status-im/status-react/issues/1264

[2017-08-28 09:11] #1696 closed, assigned to nobody

[2017-08-28 09:17] asemiankevich commented on #1683
Duplicate https://github.com/status-im/status-react/issues/1366

[2017-08-28 09:17] #1683 closed, assigned to nobody

[2017-08-28 09:38] goranjovic commented on #1684
@flexsurfer It's a tempting idea, but it wouldn't be a safe one. It would be better if the user had a password protected way to see and change it. And by change, I mean re-generate.

[2017-08-28 09:44] flexsurfer commented on #1684
@goranjovic i'm asking because in current implementation passphrase and signing phrase staying in console chat messages, so maybe better to delete this messages over time

[2017-08-28 10:29] goranjovic commented on #1684
@flexsurfer  A good catch. This was being cleared in the previous versions, I'll try to see in what change was it reverted.

[2017-08-28 13:11] antdanchenko opened #1698 "Need permissions to create a separate job in Jenkins for e2e UI tests based on Appium"
### User Story
As a test automation engineer I want a separate job to be created in Jenkins in order to run automated e2e UI tests and provide detailed results in a single place.
A separate job should be created due to tests execution time. Tests are running for 20 minutes, now. Much more tests will be added in future and they will run for more than an hour. Long execution time will postpone whole

[2017-08-28 13:14] asemiankevich opened #1699 "Error Null is not an object (evaluating 'd.charAt')"
### Description

*Type*: Bug

*Note*: I can't reproduce the issue locally

*Summary*: An error Null is not an object (evaluating 'd.charAt') received from Instabug report . Error received when tapping the phone number setup

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/29774697-19365ec2-8c0b-11e7-8aba-2a150b601bc8.png)

### Additional Information

* Status vers

[2017-08-28 17:01] annadanchenko commented on #1387
The initial bug report contains video where popup with error is shown instead of successful send flow. The issue (no keyboard is shown if use /send or /request command second time) happens for the normal flow too and this is the main issue to be fixed.

Here is a video (and log) with normal flow, start from 0:20 (1st send) and 00:43-00:46 (shows 2nd send with issue) https://app.testfairy.com/proje

[2017-08-28 17:09] oskarth commented on #1599
Progress: able to register FCM token in latest Genymotion and then use this token to send notification via FB console. A start. This fulfills goal (1) albeit in a very ad hoc manner.

Notes:
- PN on Android emulator requires Google Play Service. This is possible with Open Gapps, but the latest binary in Genymotion 2.10 is broken. Instead we can use `open_gapps-x86-6.0-pico-20170825.zip` (from http

[2017-08-28 18:18] romaroma commented on #989
When a new version of wallet will be available? Is there any way to fix wallet now? Probably reinstall the app? Or just wait and prey? )

[2017-08-28 18:25] annadanchenko commented on #989
@romaroma As a workaround outside of the app: open https://ropsten.etherscan.io/ and search by the address (available on Profile screen) to see balance and transactions. More ugly workaround inside the app: open any 1-1 chat, e.g. tap on Jarrad in Contacts and try to send some insane big amount (e.g. 10000) - an error message will be shown with a balance at the end (like Insufficient funds .... ba

[2017-08-28 18:46] annadanchenko commented on #1441
@retro On build#1 for PR `Branch bug/send-and-location-msgs-plain-text-#1441`
issue still occurs and it's most visible on real device iPhone 6s/iOS 10.3.3 (plain text is shown for ~ 8 seconds). On android there is very little delay about ~2 seconds when plain text is shown for same steps on real device Samsung Galaxy S6, Android 6.0.1

Steps:
1. Create new group chat and add 2 members to it.
2. In

[2017-08-29 07:50] jeluard commented on #1418
Duplicates #1295

[2017-08-29 07:50] #1418 closed

[2017-08-29 07:58] tiabc commented on #1089
Faced it as well. Pretty annoying and misleading, especially for a newcomer to the application.

[2017-08-29 08:01] annadanchenko commented on #1680
Hey @aj07 Please, provide details about the typo (link to the doc and sentence with a typo, typo, expected text) Currently, it's not clear what is to be fixed.

[2017-08-29 08:29] tiabc commented on #663
Absolutely necessary. It's totally inconvenient to login by password every time.

[2017-08-29 08:45] yenda opened #1701 "New wallet shows default `...` until sync is done"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be warned that sync is not finished yet when looking at wallet so that I don't get confused by the display of `...` in place of my ETH amount.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise

[2017-08-29 09:10] antdanchenko opened #1702 "Create job in Jenkins to run end to end automation"
### User story
As a test automation engineer I am going to create a separate job in Jenkins in order to run automated e2e tests and provide detailed results in a single place.

### Description
* Job will run after each nightly build
* Tests will run against latest apk from http://artifacts.status.im:8081/artifactory/nightlies-local/

[2017-08-29 09:36] oskarth commented on #1701
Proposal:

New design: ![image](https://user-images.githubusercontent.com/1552237/29814590-2a7d0c6e-8cae-11e7-8445-326da24a4327.png)

- Display this when we never synced, and possibly when we haven't synced for a long time
- When pull to refresh, display progress next to amount like design before

[2017-08-29 09:45] asemiankevich opened #1703 "Add possibility to remove user-selected avatar so default one will be displayed"
### Description

*Type*: Feature

*Summary*: During the weekly call was encountered that it would be useful for user to have possibility to delete avatar which he has set up (using photo or custom picture) so randomly generated picture is shown again.

#### Expected behavior
User is able to delete avatar. Default picture is shown as result of deletion

[2017-08-29 09:59] asemiankevich opened #1704 "Members list in setting of the group chat is not readable"
### User Story

As a user, I want to see the full list of participants in the group chat

### Description

*Type*: Bug

*Summary*: In a group chat I can go to chat options -> participants and see the names of participants, however the full list is not shown and the "..." is not even a button so I will never see the full list of names who is in the chat

#### Expected behavior
Need to add the abili

[2017-08-29 10:37] asemiankevich opened #1705 "Remove the option to choose recipient in 1-1 chat when sending funds"
### Description

*Type*: Bug

*Summary*: The option to choose recipient in 1x1 looks unnecessary because there is no other participants in this chat, so funds will be send directly to the person whom you have 1x1 chat with

#### Expected behavior
Eliminate the option to choose recipient in 1x1 chat

### Reproduction

- Open Status
- Add account to contacts list
- Go to 1x1 chat and /send

### Addi

[2017-08-29 10:48] annadanchenko opened #1706 "Username is changed to default if Profile screen was opened and user taps on status and username fields"
### Description

*Type*: Bug

*Summary*: Non-default username is automatically changed to default one if Profile screen was opened and then user taps on drawer fields Status -> Username -> Status

#### Expected behavior
Non-default username stays the same

#### Actual behavior
Non-default username is changed to default one

### Reproduction
From 00:20 https://app.testfairy.com/projects/4803622-sta

[2017-08-29 16:14] oskarth opened #1708 "Improve speed of Jenkins builds"
## User Story

As a developer, I want builds to finish quickly so I can see if things work / QA can quickly test binaries.

## Summary
When there are new dependencies it can take over 40 minutes to build. It seems like this can be improved drastically with a better instance type. See http://185.90.37.243:8080/blue/organizations/jenkins/Github%20Org%20Builder%2Fstatus-react/detail/feature%2Fpush-no

[2017-08-29 16:24] oskarth commented on #1599
Note for testing outside FB Console:

[code]

SERVER_KEY can be found in Firebase console for Status React App. FCM_TOKEN can currently be found with `adb logcat|grep token`.

[2017-08-29 16:36] annadanchenko commented on #1423
Works as expected:
1. 1 ETH received after using faucet command
2. http://46.101.129.137:3001/faucet-info returns
 `{"account":"0xadaf150b905cf5e6a778e553e15a139b6618bbb7","balance":"450 Ether"}`

[2017-08-29 17:26] x-goose-x commented on #1387
I could use some guidance with this issue.

Here's what I've determined so far: `send`, `receive` and `@browse` will focus
the input component the first time they run, but after that they won't
trigger the `basic-text-input` `:on-focus` event.

Interestingly, tapping the `/location` command will focus text input and bring
up the keyboard again, allowing one subsequent use of `send`, `receive` or `

[2017-08-29 21:31] janherich opened #1709 "Chat module refactoring"
Refactor chat module so the logic is cleaner and easier to follow, user atomic events instead of long event chains and cut down code-redundancy. Build atop of #1671

[2017-08-30 08:13] janherich commented on #1621
PRs #1671 and #1709 both solve this issue.

[2017-08-30 08:59] annadanchenko commented on #1585
Tested on iOS and Android. As expected: after account creation there is extra message shown "Here is your signing phrase. You will use it to verify your transactions" than message with 3 English words is shown.

[2017-08-30 09:02] asemiankevich commented on #1662
Tested, new icons look good
Android: 0.9.10-37-g0e3648b5+
iOS: 0.9.11d37-1557.37

[2017-08-30 11:59] asemiankevich commented on #1235
I can reproduce the issue again

https://app.testfairy.com/projects/4803622-status/builds/6456500/sessions/4/?accessToken=1EHJv-tgqxS6XAYjU3A5SoBGl6I (from 2.20 )

[2017-08-30 13:23] andmironov opened #1712 "update sidebar"

[2017-08-30 13:29] andmironov commented on #1712
number of views of my status

[2017-08-30 14:14] x-goose-x opened #1713 "Wallet Design, Error Handling"
### User Story

As a user, I want feedback when loading my wallet asset errors while requesting a token.

### Description

*Type*: Feature

*Summary*:

In the wallet screen, the calls that fetch token balances can fail or timeout. In this case, an error message should be displayed. The screens are shown in the last row here: zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb488fea42dc85f90b5e

E

[2017-08-30 14:36] retro commented on #1441
I'll wait with this issue until branch for #1709 is merged since it might fix it.

[2017-08-30 15:14] oskarth commented on #1687
Slightly different stack trace this crash, notice the sync network request with package manager. As far as I can tell the only difference is that I selected "Wait for executable to be launched" under Edit Schema -> Run in Xcode, and that I'm connected to a hotspot hosted by my phone.

[code]

Related https://github.com/facebook/react-native/issues/10187

[2017-08-30 16:38] oskarth opened #1717 "Resolve Xcode and Cocoapod warnings"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to resolve warnings so that when things go wrong warnings are more meaningful, and we stay up to date with recommended praxis.

### Description

*Type*: Feature

*Summary*: Update Xcode and Podfile

#### Expected behavior
No warnings when install pods or recommended actions for build by

[2017-08-31 07:45] oskarth commented on #1580
Review not needed on our side. Presumably testing is, though. This issue is just along for the ride of `status-go` issue progress.

[2017-08-31 08:03] denis-sharypin commented on #1712
link or button triggers username registration

[2017-08-31 08:14] sla-shi commented on #104
Per Design call notes 17/08/17 - let's start with at least 1 screen @denis-sharypin @andmironov

[2017-08-31 08:26] sla-shi commented on #567
Revisit this later and align to the roadmap.

[2017-08-31 08:32] sla-shi commented on #641
@annadanchenko pls list the screen where the activity indicator is appropriate.

[2017-08-31 08:34] sla-shi commented on #641
@andmironov pls confirm that we're using system (not custom) activity indictor on both platforms.

[2017-08-31 08:35] jeluard commented on #1295
User facing error messages have been improved (see this [commit](https://github.com/status-im/status-react/commit/dd6d67932205d7010075647f20b1edacb9227252)).

[2017-08-31 08:37] sla-shi commented on #664
Revisit after the Network Switching is done.

[2017-08-31 08:43] sla-shi commented on #693
Need to validate these issues and create separate tasks.

[2017-08-31 08:49] sla-shi commented on #789
@denis-sharypin can you pls review, validate, take into account the issues under this epic while working on the Discover UI?
After the new Discover UI is approved - revisit the issues and close the old ones - Vic.

[2017-08-31 08:55] sla-shi commented on #706
Revisit this after #1628 is closed.

[2017-08-31 08:58] sla-shi commented on #712
Won't fix because of #1585

[2017-08-31 08:59] #712 closed

[2017-08-31 09:01] sla-shi commented on #722
Won't fix because the Wallet UI will be updated.

[2017-08-31 09:01] #722 closed

[2017-08-31 09:54] asemiankevich opened #1719 "Request message is not user-specified in group chat"
### User Story

As a user I want my request messages to be specified to the person whom I requesting the funds from

### Description

*Type*: Bug

*Summary*: In a group chat any member can click on the request message and send funds even the request message was sent to specified user

#### Expected behavior
Make the request message personalized so no one else can send the TXN except the person I a

[2017-08-31 10:22] asemiankevich opened #1720 "All letters are removed when tapping erase button one time in password field after incorrect attempt [iOS only]"
### Description

*Type*: Bug

*Summary*: When I am trying to edit the password (like correct 1 last symbol) in the password field after previous password was not accepted I am taping erase on the keyboard and all previously letters are removed

#### Expected behavior
I should be able to remove symbols one by one in password field after previous attempt was not accepted

### Reproduction

- Open St

[2017-08-31 10:32] asemiankevich opened #1721 "Login button is enabled for empty password field"
### Description

*Type*: Bug

*Summary*: On login screen the Login button is enabled even nothing is entered in password field

#### Expected behavior
Login button is disabled until at least 1 symbol is entered in password field

### Reproduction

- Open Status
- Create account
- Click switch users
- Select account
- Pay attention to Login button

![screenshot_2017-08-31-13-30-45-926_im status eth

[2017-08-31 10:54] sla-shi opened #1722 "Wallet Design - Assets List - Adding assets"
Part of the Wallet UI update - part of the wallet's main screen #1523.

### Acceptance
#### Wallet Asset - Adding asset
- [ ] I can add new asset by providing its details - contract address, token name, token symbol
- [ ] I can copy and paste from/to any of the 3 fields using system commands
- [ ] I can open asset's details
- [ ] I can edit existing asset
- [ ] I can delete existing asset from the

[2017-08-31 11:28] sla-shi commented on #1633
We can revisit this when we start Profile redesign.

[2017-08-31 11:44] annadanchenko commented on #1460
@retro sorry for the delayed reply. I can't reproduce it on iOS simulator with latest develop build. I also see that on emulator there is no text keyboard shown when I tap on /send or /location command and this might be the reason it's not reproducible on emulator. Issue still can be reproduced on real device.

[2017-08-31 13:29] asemiankevich opened #1723 "Browse, Console, Wallet and dApps contacts are available for selection when creating group chat"
### User Story

As a user, I want to exclude Console, Browse, Wallet from the list when creating group chat as well as dApps as there is no any reason to add them to group chat.

### Description

*Type*: Bug

*Summary*: When creating a group chat I can add dApps and Browse/Wallet/Console however there is no sense to do it.

#### Expected behavior
User can add to group chat only contacts he is able

[2017-08-31 14:02] asemiankevich opened #1726 "Photo is not being added to user profile (random logout encountered)"
### Description

*Type*: Bug

*Note*: The issue is not stable and I still need more time to investigate it. **I can reproduce it when app is syncing**

*Summary*: using my Xiaomi Redmi Note 4 or Huawei P10 Lite  i can hardly add a photo to user profile - the photo is not being captured . Sometimes when I try to add photo the application logs me out.

### Reproduction

- Open Status
- Change the pr

[2017-08-31 16:02] annadanchenko commented on #1363
Can reproduce: tap twice on capture and nothing happens (except the sound of making a picture). Same "Profile image" screen is shown where user can see camera.
Expected: picture is saved and screen "Edit profile" is shown with new avatar.
issue is from 0:31 https://app.testfairy.com/projects/4803622-status/builds/6456500/sessions/45/?accessToken=KezFZFj5MMcrmToqtZzEhrC/DnY

Android 6.0.1, real dev

[2017-08-31 16:25] jeluard commented on #1363
I don't see any image at all in your case. Is that it?
Can you take a picture with a single tap?

[2017-08-31 17:43] oskarth commented on #1658
Update: Seems like APNs authentication key (p12) is missing: https://firebase.google.com/docs/cloud-messaging/ios/certs#configure_an_app_id_for_push_notifications

To get access to it I need to answer some security questions that it appears only @jarradh knows the answer to.

EDIT: I somehow found a session where Apple would let me in without me answering the questions.

[2017-08-31 17:48] oskarth commented on #1599
Progress: with workaround for https://github.com/status-im/status-react/issues/1687: I got a (slow) way of getting latest develop on release to work on iOS device. react-native-fcm appears to run fine and I can trigger permissions and get an FCMToken printed in debug logs.

This is good progress as it means we are closer to having two devices in dev for testing notifications. However, when I try t

[2017-08-31 18:06] oskarth commented on #1599
Managed to find old Apple session, generated APNS key and added to Firebase. Seems to work for iOS on device now, ish.

[2017-08-31 19:26] retro commented on #1687
The app is still crashing in my case. It is the same problem as before. The app runs for ~30 seconds and then crashes. I'm using [run-ios.sh](https://gist.github.com/rasom/ef5190d05233548383806a813117495c) script made by @rasom to actually build and run the app on the iPhone. Is there a different method I could try?

<details>
<summary>Here's the log:</summary>

[code]
</details>

[2017-08-31 19:28] oskarth commented on #1687
@retro Can you try the following:

- lein prod-build
- Workaround patches applied
- Only package manager running (no REPL or figwheel)
- Clean then build and run in Xcode, click stop when you get go-stack error, then start app from device

You should be able to see crash logs relevant to this error under Xcode -> Window -> Devices -> Pick device crash log, refresh and sort by latest. This is where

[2017-08-31 20:08] retro commented on #1687
@oskarth

I've tried this but wasn't successful. I had to run `./re-natal use-ios-device real` and `./re-natal use-figwheel` after `lein prod-build` to get it to at least trying to load the app. After that when I run the app manually it creates the `index.ios.js` bundle and crashes. If I try to load it again I get `::ffff:192.168.11.56 - - [31/Aug/2017:20:06:33 +0000] "GET /target/ios/goog/base.js

[2017-09-01 06:11] goranjovic commented on #1605
Can confirm seeing this a few times. For me this happened when I left it alone for a couple of minutes.

[2017-09-01 06:55] andmironov commented on #1664
we should consider adding Dapp description and some more Dapp-specific data to Profile

[2017-09-01 09:00] retro commented on #1575
I wasn't able to reproduce this bug. I've tested it both on the emulator and on the real device (Lenovo Vibe P1m). Is it possible that some unrelated commit fixed this bug?

[2017-09-01 09:03] retro commented on #1460
I will un - assign myself from this issue since I'm not able to run the (develop version) app on iOS currently. I can retest when #1687 is merged, but fixes from that branch don't help in my case.

[2017-09-01 09:10] annadanchenko commented on #1575
ok, will recheck today in latest develop

[2017-09-01 09:18] annadanchenko commented on #1337
need to recheck if can be reproduced

[2017-09-01 10:04] annadanchenko commented on #1575
@retro On latest develop build  0.9.10-47-gb1bf5a4f+ (Android 6.0.1 real device Samsung Galaxy S6) with same steps:
1. There is no popup Status has stopped
2. There is still crash reported in TestFairy and logcat. I suggest to investigate why it happens and handle this error:
`java.lang.NullPointerException: Attempt to invoke virtual method 'void android.app.Activity.runOnUiThread(java.lang.Runnab

[2017-09-01 10:13] annadanchenko commented on #1337
can't reproduce on develop build  0.9.10-47-gb1bf5a4f+

[2017-09-01 10:13] #1337 closed

[2017-09-01 10:27] oskarth opened #1730 "Make sure network-specific fields are marked as such in app-db"
As a user, the ETH I own on main net is not the same as the ETH on test net. For example.

For network switching we need to:
(a) List the things that are network-dependent
(b) Make sure they are indexed properly in app-db

Type: Feature

[2017-09-01 10:34] janherich commented on #1730
We should also make sure that DB is properly normalised while we do it - all unique "entities" are indexed and referenced in relations, as to maintain integrity and keep redundancy at minimum.

[2017-09-01 10:34] flexsurfer commented on #1730
i believe all wallet things shouldn't be stored in app-db

[2017-09-01 10:35] oskarth commented on #1730
@flexsurfer could you elaborate?

Perhaps specifics of wallet db are better discussed in https://github.com/status-im/status-react/issues/1653

[2017-09-01 11:04] oskarth commented on #1687
Some more findings. Using @rasom's `./run-ios.sh real` script (xcode CLI build) and multiple `ios-deploy` runs on either a "stale" (apps running, been on for a while) device or a "fresh" (restarted and no apps running) gives the following logs. This is without the patch applied and running on same WiFi.

Full logs: https://gist.github.com/oskarth/9620c48fba052a91dc0f4290ddeecdd2

Notice how the st

[2017-09-01 11:53] oskarth commented on #1687
Another workaround that seems to work is to do a release build and deploy it directly onto the device:

[code]

However, this doesn't seem to give access to normal logs.

[2017-09-01 12:08] goranjovic commented on #1404
Can't reproduce this regardless of the order in which I discard transactions.

[2017-09-01 12:08] oskarth commented on #1687
Here's something kind of interesting: before app has finished loading, between `react-native` and `js-dependencies` dependencies are being loaded, there's a bunch of TCP calls being made. This despite the fact that iOS installation happens over USB (--no-wifi flag to ios-deploy). Anyone got any ideas what that could be about? It'd be pretty bad if we blocked on some network call before app finishe

[2017-09-01 12:37] goranjovic commented on #1404
Getting this `returned` for all combinations: `{:error "Invalid JSON RPC response: {\"error\":{\"code\":-32603,\"transaction has been discarded\":\"transaction has been discarded\"},\"id\":2,\"jsonrpc\":\"2.0\"}"}}}`

[2017-09-01 12:48] annadanchenko commented on #1404
can't reproduce on develop 0.9.10-47-gb1bf5a4f

[2017-09-01 12:48] #1404 closed

[2017-09-01 14:58] jeluard opened #1731 "Make sure compilation warnings fail the build"
Default ClojureScript compiler configuration does not let build fail when warnings are found.

This is not useful in our case are warnings are always errors.

See:

* http://jakemccrary.com/blog/2015/12/19/clojurescript-treat-warnings-as-errors/
* https://github.com/emezeske/lein-cljsbuild/blob/master/README.md#custom-warning-handlers

[2017-09-01 18:32] jeluard commented on #1722
A harcoded list of predefined ERC20 tokens will be used (including all necessary details to access relevant information).

[2017-09-02 10:43] oskarth commented on #1687
Found another way that interestingly works:

- `./run-ios.sh real`
- Xcode: Profile -> Activity Monitor -> Record
- Xcode: Run without building

This launches app fairly quickly. It seems to suppress logs though, as can be seen in logs.

Logs: https://gist.github.com/oskarth/5849f65196abe4d9fca6cc6eee1bb9fe

[2017-09-02 18:24] oskarth commented on #1687
With https://github.com/status-im/status-go/issues/273 it seems as if debug mode works. This means the watchdog doesn't kick in and the app is allowed to keep running. I'm not sure this is the end of our problems (getting a mysterious `"ReferenceError: localStorage is not defined" ` error), but at least the app can start in debug mode with this and `0x8badf00d` isn't triggered. It just takes a ver

[2017-09-03 18:24] jeluard commented on #1524
Missing:

* specs for data format
* usage of real wallet info
* real-data for history and unsigned transactions
* filter binding
* filter persistency
* tabs are currently broken (needs some refactring to be reusable)
* error handling

[2017-09-03 18:25] jeluard commented on #1722
Missing:

* define a list of assets with associated details
* reflect assets impact on total

[2017-09-03 18:26] jeluard commented on #1523
Missing:

* data binding with real wallet

[2017-09-04 08:16] #1721 closed, assigned to nobody

[2017-09-04 09:30] oskarth commented on #1687
The fix for `ERC_BAD_ACCESS` is now in `status-go` develop and has been built as an artifact. This means we can run in debug mode without watchdog kicking in. Because `status-go` API has changed we need to use https://github.com/status-im/status-react/pull/1584 commits, which aren't yet in `status-react` develop.

The previously mentioned errors disappear when using the latest synced `status-react

[2017-09-04 09:57] annadanchenko opened #1741 "Request/send messages has no "From/To" line in group chat for sender [bug/from-missing-group-#1448]"
### Description

*Type*: Bug

*Summary*: For sender of the /request message in the group chat: no "from line" is shown. For recipient and other members of the group chat this line is shown. Same issue is for /send command - no "to" line is shown for a sender
![img_0571](https://user-images.githubusercontent.com/6584810/30021519-4e6f81d0-9170-11e7-8994-ac3854936ad2.jpg)

#### Expected behavior
 1.

[2017-09-04 09:57] annadanchenko commented on #1448
#1741
still testing

[2017-09-04 10:10] goranjovic commented on #1386
Reproduced this even with second to lowest fee setting. The transaction never completes and is not visible on etherscan and the same happens with all subsequent transactions from that account.

The only way to unblock the account is to delete the app and recover the account, which hints that the cause of the issue is in data persisted on the device.

[2017-09-04 10:15] flexsurfer commented on #1460
i can reproduce on IOS simulator, you can enable keyboard using `command+K`

[2017-09-04 12:26] rasom opened #1744 "Upgrade status-go version"
already done here https://github.com/status-im/status-react/pull/1584

[2017-09-04 13:28] x-goose-x opened #1745 "Wallet - Add new assets to a wallet"
### User Story

As a user, I want to be able to add other assets to the wallet in the main wallet screen so that I can see my token balance across all assets.

### Description

*Type*: Feature

*Summary*: The main wallet screen currently reflects ETH balance. User can provide details to have custom ERC20 token listed

This will add an `Add Asset` button to the main wallet screen, which will allow

[2017-09-04 13:40] annadanchenko commented on #1709
cant use the app: "'Property' must be of type: string" popup is shown if run app 1st time. if close the popup then no password request is shown. same after re-starting the app.
https://app.testfairy.com/projects/4803622-status/builds/6490485/sessions/6/?accessToken=SBvlNMBBszYOogxjtvbLNMmaQHY from 00:08
 0.9.10-45-g64b83e78+ both android and ios
![screenshot_20170904-163245](https://user-images.gi

[2017-09-04 13:44] adambabik commented on #1416
This error is sometimes visible when we run status-go tests when the blockchain is not fully synced.

[2017-09-04 14:11] annadanchenko commented on #1460
tested on ios and android in 1-1 and group chats

[2017-09-04 15:34] annadanchenko commented on #1448
tested on build #3 with  #1741 fixed - looks ok to merge

[2017-09-04 15:35] annadanchenko commented on #1741
already tested OK as part of #1448 verification

[2017-09-04 18:16] annadanchenko opened #1746 "Default username becomes empty if open Profile screen [bug/username-changed-to-default]"
### Description

*Type*: Bug

*Summary*: Default username is shown fine in the drawer after account is created. However
1. If open Profile screen then username is empty.
![screenshot_20170904-210703](https://user-images.githubusercontent.com/6584810/30035759-13fbff38-91b6-11e7-9a6c-a12bd398d78a.png)

2. After closing the Profile screen with empty name and opening drawer again it shows empty userna

[2017-09-04 18:18] annadanchenko commented on #1706
Fix for this bug introduced #1746 Default username becomes empty if open Profile screen [bug/username-changed-to-default] is introduced by this PR

[2017-09-04 21:00] annadanchenko opened #1747 "Username becomes empty instead of reverting to the previous value if delete it in the drawer and close drawer [develop]"
### Description

*Type*: Bug

*Summary*: User  can delete username and close drawer. In the past, username was "reverted" to the previous value (in released 0.9.10 version). Currently, it's not reverted and there are 2 issues:
1. greyed out default name is shown in the drawer
![screenshot_20170904-213417 1](https://user-images.githubusercontent.com/6584810/30038426-0b4c39ea-91cd-11e7-8649-73a79d08

[2017-09-05 07:03] flexsurfer opened #1748 "Rework main tabs according new design using svg icons"
![image](https://user-images.githubusercontent.com/11790366/30048986-6e37add8-9221-11e7-9bd7-065eadd78165.png)

[2017-09-05 07:50] oskarth commented on #1599
As soon as #1749 is merged this issue should be considered to be closed, as the main purpose of the spike has been achieved. It has dragged out quite a while, largely due to build/tooling issues, which is not the purpose of a spike. There are still some questions left to answer but they are better treated as separate issues. We also want to avoid this becoming an umbrella issue for all the myriad

[2017-09-05 08:22] annadanchenko commented on #1617
will be tested in #1709 (#1710)

[2017-09-05 08:41] oskarth opened #1750 "Repo hygiene: clean up old PRs and branches"
### User Story

As a developer, I want Pull requests on Github to reflect things that have a possibility of being merged, and branches to show branches that might be of use at some point.

Ideally this would also include an issue cleanup, but this seems like a significantly larger endeavour and might be something @annadanchenko  and @sla-shi have more ideas about (wontfix labeling etc).

I have ap

[2017-09-05 08:47] asemiankevich commented on #1666
@jeluard I can reproduce the jumping screen when sliding on iOS: https://app.testfairy.com/projects/4803590-status/builds/6490971/sessions/8/?accessToken=W/WsJw5/5bNKt3RjooH1TrZqo0Y (from 1:15)

[2017-09-05 09:11] wighawag opened #1751 "Local Storage and cookie get deleted upon closing the app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I expect my game/app saved data to be still there after closing and reopening the status app

As a developer, I expect to be able to save my user's data so when the users come back I can let them continue where they left off.

In the worst case, if status do not want to support saving local storage

[2017-09-05 10:23] andmironov opened #1752 "Website updates"

[2017-09-05 10:26] andmironov commented on #1752
First we had a simple landing page to outline our features and gather some emails. Then we added the Jobs page, announced the Hackathon and Contribution Period after that. Now we need to think more about what our website should do.

*Technical improvements*
- Use a template engine to avoid repetition and improve maintainability. GH-pages has Jekyll out of the box, which i think would be perfect fo

[2017-09-05 10:27] andmironov opened #1753 "Social media profiles and media"
We need to take time to update all the social media visual elements:

- Reddit (Background, styles);
- Slack (Avatar, Join Slack page);
- Github (Readme);
- Medium (Avatar, Page style, Create a system for post covers, Create a footer);
- EtherScan (Coin logos);
- Twitter (Cover, avatar, social graph images);
- Facebook (Cover, avatar, social graph images)
- Email design we need to redesign our new

[2017-09-05 10:46] goranjovic commented on #1386
This behavior is by design, the issue happens when tx fee is too low and the fix is to restart the app.
The proposed fix is to increase the minimum suggested fee in the UI.

tiabc:

When you send a transaction, it gets assigned a nonce (just an incrementing number).
If you send a transaction with a low fee which is never mined, all subsequent transactions won't be mined as well.
Just because they

[2017-09-05 10:48] adambabik commented on #1295
I tried to reproduce this issue with the current develop and I couldn't. Actually, being without the Internet, I could log in to my account and use the app, just seeing a banner "Offline". I think it's the expected behavior because being offline shouldn't prevent from logging into the app.

[2017-09-05 11:42] asemiankevich commented on #1621
despite name being prefilled, the focus is not on input field after the action so user still needs to tap into the field to get the transaction screen. Agreed with @janherich to fix it

[2017-09-05 13:39] goranjovic commented on #1386
@annadanchenko Something just occurred to me, you probably tested this with very small amounts of eth, same as I did, in order to ration the ether in test accounts. Is that right?

[2017-09-05 15:40] oskarth commented on #1599
Issues with popup of FCM token not showing on device. Looking into it.

UPDATE: Fixed in PR, close this issue once release is out.

[2017-09-05 15:50] qiao365 opened #1758 "TypeError: expected dynamic type `int64', but had type `string'"
the app start, show dialog :com.facebook.react.bridge.unexpectedNativetypeexception:
TypeError: expected dynamic type `int64', but had type `string'

why show this?thanks

[2017-09-05 15:56] rrobrien opened #1759 "Feature Request - Personal Finance + Money Manager"
# Status to become the go-to financial management app by combining Fiat and Crypto Money management tools!

### User Story

Trying to make Status the best app it can be.

### Description
*Type*: Feature
*Explanation*: It would be great to be able to manage all accounts, across platforms, using the Status app. Not only will users be able to check the amount of crypto in their wallet, they will also

[2017-09-05 19:05] sla-shi commented on #1745
More details in #1722

[2017-09-06 02:18] yenda opened #1762 "Wallet - Use web3 to fetch wallet transactions"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a developper, I want to to use web3 to fetch transactions so that Status does not depends on a centralized api (etherscan) for wallet transactions history.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly summarise th

[2017-09-06 04:48] x-goose-x commented on #1525
* Choose Recipient Screen
- [ ] Create and style
- [ ] Add QR scanning functionality
- [ ] Add contact screen picker
- [ ] Add contact editor
- [ ] Add clipboard editor
- [ ] Scan QR from file browser
* Camera permission view
- [ ] Grant camera position (ios)
* Send transaction screen
- [ ] Create Screen
* Wallet picker screen
- [ ] Create screen
* Currency Picker Screen
- [ ] Create screen (depen

[2017-09-06 09:34] asemiankevich commented on #1722
@sla-shi please clarify the following:

**All the fields are required? Where I can find relevant info for valid combinations of all the 3 parameters to successfully enter an asset (like a list of possible assets? Are there any limitations by adding assets?**

**Which commands exactly are mentioned there?**

[2017-09-06 10:34] andmironov opened #1765 "Native Transition Animations in App"

[2017-09-06 11:57] asemiankevich opened #1768 "Commands are not calling anything in Console when launched after install [1710]"
### Description

*Type*: Bug

*Summary*: `/faucet`,  `/phone` , `/debug` , `@browse` commands look like they are not calling any command directly and appear as text. Also I can't remove `/phone` command from chat as no `x` button displayed. Can't send `/faucet` as no send button displayed

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior

![image](h

[2017-09-06 11:59] antdanchenko commented on #1702
job "end-to-end-test-automation" has been created and set up to run after each nightly build against latest apk

[2017-09-06 11:59] #1702 closed, assigned to antdanchenko

[2017-09-06 13:30] janherich commented on #1617
Superseded by #1709

[2017-09-06 13:30] #1617 closed

[2017-09-06 13:31] annadanchenko opened #1769 "Default avatar instead of photo is shown after making a photo in Profile [bug/username-changed-to-default]"
### Description

*Type*: Bug

*Summary*: Default avatar instead of a photo is shown after making a photo in Profile
![screenshot_20170906-162800](https://user-images.githubusercontent.com/6584810/30114528-c2e4c9ba-9320-11e7-8edd-412a570440d4.png)

#### Expected behavior
After making a photo it should be shown on Edit Profile screen
#### Actual behavior
 Default avatar instead of a photo is shown a

[2017-09-06 13:34] annadanchenko commented on #1706
New fix introduced another issue: #1769
Issues #1746 and #1747 are fixed

[2017-09-06 13:53] asemiankevich commented on #1748
Verified as working as expected

[2017-09-06 14:39] asemiankevich opened #1770 "Debug mode -> On makes /location message shown as plain text when sent right after [1710]"
### Description

*Type*: Bug

*Summary*: if i send `/location` command in Console chat and then `/debug->On` the debug message is overlapped with location so I can see the location plain text

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/30117806-f9a7d614-9329-11e7-9b9a-dab253cca3cd.pn

[2017-09-06 15:59] annadanchenko opened #1772 "Icon "..." is shown above the other icons on Chats and Contacts [develop]"
### Description

*Type*: Bug

*Summary*: Only on iOS
![img_2280](https://user-images.githubusercontent.com/6584810/30121639-e96033d6-9334-11e7-87ec-d401d62a5e48.jpg)
![img_2281](https://user-images.githubusercontent.com/6584810/30121798-546e0aea-9335-11e7-8330-a759b2ddb368.jpg)

#### Expected behavior
As in previous versions, "..." is on the same line as search icon or "+" on Chats and Contacts
![

[2017-09-06 16:06] x-goose-x opened #1773 "Wallet - Create initial send screen"
### User Story

As a user, I want to be able to navigate to the send screen from the wallet
to begin a send transaction.

### Description

*Type*: Feature

*Summary*:

This task involves creating and styling the initial send screen that takes
contact information for the desired recipient.

Style should be consistent with [Zeplin](zpl://screen?pid=5863cdcee68455850f1929f2&sid=5991fb3a0f0692af9117d1

[2017-09-06 17:23] annadanchenko opened #1774 "App crashes if tap several times on photo area when capturing a photo"
### Description

*Type*: Bug

*Summary*: App crashes if on Profile image screen tap several times on area with a photo. Can't reproduce on released 0.9.10 version

[code]
#### Expected behavior
nothing happens if tap several times on a picture area
#### Actual behavior

app crashes

### Reproduction
from 00:23 https://app.testfairy.com/projects/4803622-status/builds/6504857/sessions/5/?accessToken

[2017-09-07 07:36] yenda opened #1775 "Wallet - data-bindings for transaction details"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see transaction details when touching the right arrow icon next to a transaction.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*:
Transaction details should contain  the following informations

- [ ] value
- [ ] date
- [ ] block
- [ ] from
- [ ] t

[2017-09-07 08:12] oskarth commented on #1658
Not merged per se since this is a file outside of source control, but it appears to me we have ticked all the boxes at developer.apple.com.

[2017-09-07 08:41] antdanchenko commented on #165
test_group_chat - added
test_group_chat_remove_user - in progress

[2017-09-07 09:33] antdanchenko opened #1776 "Add “resource-ids” to elements for e2e tests"
### User Story

As automation engineer I need resource-ids to be added for specific elements.

### Description

Such elements could be found by class and position of the class, however structure of the app is changing and each time position and class should be updated in automation framework. Such approach leads to unstable e2e tests.
The issue can be resolved by adding unique indicators as "resou

[2017-09-07 09:39] asemiankevich opened #1777 "Error Data Loading error is shown in new wallet"
### Description

*Type*: Bug

*Summary*: Error message is shown in new wallet and the asset is not updated . I can see recent values for %, asset and USD only when I re-launch the app however the error message is still in place

#### Actual behavior
Error Data loading message is shown,

![image](https://user-images.githubusercontent.com/28752642/30156991-c86e5bfe-93c9-11e7-8fa2-b0025b04cda5.png)

[2017-09-07 10:23] yenda commented on #1777
This is a UX bug because there is a real error behind it (phone fails to fetch prices from API) but the problem is that the error is not clear when a successful refresh is done.

I edited the issue with a task list

[2017-09-07 11:11] annadanchenko opened #1778 "Username of the first account is changed to the username of second account on same device [bug/username-changed-to-default]"
### Description

*Type*: Bug

*Summary*: Account with username "one" is created. Than user creates account "two" on the same device. After signing in to the account "one" and opening a drawer there is username "two" instead of "one". After switching users there are 2 accounts with same username "two" on Sign in screen

#### Expected behavior
Each account contains only its own info and does not sha

[2017-09-07 11:16] annadanchenko commented on #1706
#1769 is fixed.
New issue is found in this PR, can't reproduce it on develop build: #1778 Username of the first account is changed to the username of second account on same device [bug/username-changed-to-default]

[2017-09-07 11:50] andmironov commented on #1628
![ios_profile copy](https://user-images.githubusercontent.com/3115606/30162050-d6906f80-93db-11e7-91c1-441c3c17fb98.png)
![android_profile copy 6](https://user-images.githubusercontent.com/3115606/30162049-d68ed634-93db-11e7-8b2d-5a09ab7533fc.png)

added warnings to profile, updated zeplin

https://zpl.io/aw6mKjV
https://zpl.io/2GxJB3V

[2017-09-07 12:13] annadanchenko opened #1779 "Second send transaction can't be sent as send button does nothing and fee value is not shown [feature/upgrade-status-go-g0270590]"
### Description

*Type*: Bug

*Summary*: User can create 1 send transaction in 1-1 chat. If user does not confirm this transaction and returns to 1-1 chat in order to make 2nd send transaction then it's stuck on Fee step:
1. There is no fee value shown
2. If tap on send button wile input filed contains `/send username 0.2` then nothing happens. Expected: Unsigned screen is shown with 2 transaction

[2017-09-07 12:14] goranjovic commented on #1324
Can't reproduce this any more. The log still contains some of the warnings like above, but the app does not crash. Instead, user can sign up fine, but the app then gets stuck on 65% syncing (starts at that percentage and doesn't move after)

[2017-09-07 12:56] asemiankevich commented on #1652
Verified as working as expected

[2017-09-07 13:30] oskarth commented on #1778
Discussion / confusion in Slack about whether app-db is cleared or not. See https://github.com/status-im/status-react/blob/e169949e0a4d77a011793fdd7dfa70f2abe1de42/src/status_im/ui/screens/events.cljs#L134

Look at this more closely during code review of PR that fices this.

[2017-09-07 14:22] rasom commented on #1779
should be resolved with https://github.com/status-im/status-go/pull/293

[2017-09-08 00:58] yenda opened #1784 "App-db fields are passed from one account to the other when switching account"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developper, I want to the app-db to only keep the necessary keys when switching from one account to another, preventing bugs such as https://github.com/status-im/status-react/issues/1778 easily.

### Description

*Type*: Bug

*Summary*: ...

#### Expected behavior
The app-db should be empty when switching

[2017-09-08 01:10] yenda opened #1785 "Handle timeout for network failure in utils.utils/http-get and http-post"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want http calls to have timeout in order to handle network failures gracefully.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what a

[2017-09-08 01:21] yenda opened #1786 "A general mechanism to feed errors back to user"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developper, I want to have a general mechanism to feed errors back to the user so that it doesn't get re-implemented multiple times in the code

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug an

[2017-09-08 07:27] jeluard commented on #1776
We used to rely on [accessibility labels](https://facebook.github.io/react-native/docs/accessibility.html) for this.
Please comment if this is acceptable.

[2017-09-08 08:10] oskarth opened #1787 "Expose React Native logs in iOS release builds"
As a developer, I want to have access to RN debug logs for release builds so that I can debug release-specific bugs. Additionally, this is useful for QA in reporting bugs.

There are two parts to this:
1. Release build and installing IPA should show things like `DEBUG [status-im.utils.handlers:22] - Handling re-frame event:  :set`. I.e.

[code]

2. See logs in Testfairy interface

At least 1 shoul

[2017-09-08 08:33] oskarth commented on #1687
Blocked by https://github.com/status-im/status-react/pull/1584 - once that is merged this issue should be put in the merged column.

[2017-09-08 08:53] #1772 closed, assigned to jeluard

[2017-09-08 08:53] #1777 closed, assigned to yenda

[2017-09-08 09:06] oskarth commented on #1708
Basic profile comparison of Jenkins and building iOS locally with mid-line MBP Pro 2017 for http://185.90.37.243:8080/blue/organizations/jenkins/Github%20Org%20Builder%2Fstatus-react/detail/feature%2Fpush-notifications-spike-2-%231599/7/pipeline/7

Total build: 2h 4m. Git&Deps 18m, Tests 5m, Build 5m, Build (Android) 58m, Deploy 0m, Build iOS 36m, Deploy 0m, Slack Notification 0m. Let's focus on t

[2017-09-08 10:03] asemiankevich commented on #1295
I can't reproduce it either. Closing

[2017-09-08 10:03] #1295 closed

[2017-09-08 10:04] rasom commented on #1295
@asemiankevich did you turn airplane mode on before starting app? If not please try

[2017-09-08 10:41] annadanchenko commented on #1324
Installed and synced successfully on Android 8.0 on real device Google Pixel XL, using develop build 0.9.10-71-g5d2a0e83+
No crashes.

[2017-09-08 10:41] #1324 closed

[2017-09-08 11:13] oskarth commented on #1750
Executed all items with @rasom. Leaving released branches alone for now. Let's do a spring cleaning every now and then and make sure we keep open PR count low and merge velocity high.

[2017-09-08 11:13] #1750 closed, assigned to nobody

[2017-09-08 11:58] oskarth commented on #1580
https://github.com/status-im/status-go/pull/279 has been merged in https://github.com/status-im/status-go/commit/9463d3843aa237d5ddc79f3cc2187a422d4065b3 - this issue blocked for testing until we are running that version (see https://github.com/status-im/status-react/pull/1584)

[2017-09-08 12:19] oskarth commented on #1524
https://github.com/status-im/status-react/pull/1783 has been merged now.

Moving to blocked as there's nothing else to review, and it is blocked by other sub-issues. @jeluard @sla-shi if you think it should be "parked" somewhere else please move it where you think it makes sense. It shouldn't be in "ready for review/test" until there's some action reviewers and/or QA can take though.

[2017-09-08 13:05] oskarth opened #1790 "Don't allow build to silently fail when React Native Bundling times out"
As a developer, I want build to fail when react native bundling times out, so we can restart job and QA doesn't have to waste time on a non-working build.

*Type*: Bug

*Summary*: Don't allow build to silently fail when React Native Bundling times out.

#### Expected behavior
RN bundling failing due to timeout in Jenkins fails build.

#### Actual behavior
RN bundling failing due to timeout results

[2017-09-08 13:19] oskarth commented on #1708
Notes after talking to @rasom

We can see here http://185.90.37.243:8080/job/status-react-nightly/ (build #283) that if multiple jobs aren't running simultaneously Git&Deps takes 6-7m and building iOS 14m, which is in the ballpark of running things locally. The issue is thus with multiple builds running concurrently.

Running multiple macos instances might be expensive. Also need to configure serv

[2017-09-08 13:21] #1652 closed, assigned to yenda, asemiankevich

[2017-09-08 13:22] #1790 closed, assigned to nobody

[2017-09-08 13:39] #1776 closed, assigned to yenda

[2017-09-08 14:10] asemiankevich opened #1792 "Double arrow icon is misplaced in new wallet [develop]"
### Description

*Type*: Bug

*Summary*: Double arrow icon should be centered and not top-aligned

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/30215330-5916cd82-94b8-11e7-9cac-7e5ff4249201.png)

### Additional Information
* Status version: 0.9.10-75-gad7c6b85+
* Operating System: Android

[2017-09-09 04:38] #1769 closed, assigned to yenda

[2017-09-09 04:38] #1746 closed, assigned to yenda

[2017-09-09 04:39] #1747 closed, assigned to yenda

[2017-09-09 10:26] oskarth opened #1797 "Enable treating warnings as errors and list acceptable warnings"
Enable warning as errors on build to catch bugs like https://github.com/status-im/status-react/pull/1796 in automated way.

Defines a whitelist of warnings that we currently can't do anything about.

See https://github.com/status-im/status-react/issues/1731

[2017-09-09 10:26] oskarth commented on #1731
Created separate issue instead, sorry for the noise.

[2017-09-09 10:26] #1731 closed, assigned to jeluard

[2017-09-09 11:05] annadanchenko commented on #1787
1. OK - Using the iOS build can see in Console on Mac and in XCode like
Console:
[code]
and (XCode):
[code]

2. NOT OK - on TestFairy for the same build - do not see logs

[2017-09-09 11:13] oskarth opened #1799 "Enable logs in Testfairy"
### User Story

As a dev/tester, I want to see app device logs in Tesfairy so we can quickly diagnose problems.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: We now (or soon) have support for logs in release build, but these aren't pushed to Testfairy for some reason. See https://github.com/status-im/status-react/pull/1788 for introduction of prefix file. T

[2017-09-09 11:20] annadanchenko commented on #1792
ok on Android and iOS build 0.9.10-78-g8381f00e+

[2017-09-09 11:38] oskarth commented on #1799
Notes:

- Official iOS docs, which we've followed AFAICT: https://docs.testfairy.com/iOS_SDK/Integrating_iOS_SDK.html

- TF logs are called via NSLog macro, which might not be on same log level as RN calls.

- https://docs.testfairy.com/Platforms/React_Native.html => might need separate logging for RN stuff, this wouldn't get us most important logs though (iOS weirdness), but it might give us CLJS

[2017-09-09 12:18] annadanchenko opened #1801 "UI issues in new Wallet on Transactions History tab"
Issues:
1. Grey colour of the icons for incoming/outgoing transactions. Expected: as in design: green for incoming, blue for outgoing. Both Android and iOS.
2. No "phone icons" on iOS (carrier, time, battery percentage..)
3. Tab titles "Unsigned/History" are too small on iOS
4. Postponed/Pending sections are always empty now - remove them or check with design team how to show they are empty... Now

[2017-09-09 12:48] annadanchenko opened #1802 "Wallet UI main screen: buttons for Send/Request/Exchange are of different length"
### Description

*Type*: Bug
Buttons Send/Request/Exchange should be of different length
![img_0587](https://user-images.githubusercontent.com/6584810/30240283-d7816ef8-9575-11e7-809f-00716df3c6f5.jpg)
Expected as in design (all 3 buttons of the same length)
<img width="379" alt="screen shot 2017-09-09 at 15 41 06" src="https://user-images.githubusercontent.com/6584810/30240285-e3c899de-9575-11e7-

[2017-09-09 12:52] oskarth commented on #1799
If I put the following `+  NSLog(@"*********** NSLog called");` in `AppDelegate.m` I can see the following in TestFairy: "00:00 4/Status: *********** NSLog called".

However, I also redefined the NSLog macro to print all instances of macro being used, but something seems to be off (recursive macro call? not sure.), since (a) TFLog is obviously called (b) it doesn't print "NSLog macro called".

See

[2017-09-09 14:31] #1792 closed, assigned to jeluard, annadanchenko

[2017-09-10 09:11] annadanchenko commented on #1799
Can see logs for iOS on TestFairy, sample session https://app.testfairy.com/projects/4803590-status/builds/6530686/sessions/1/?accessToken=sIKeZ2tn6pG6UbUH9-cc5g-1sjo

[2017-09-10 09:23] #1628 closed, assigned to alwx, annadanchenko

[2017-09-10 10:54] annadanchenko commented on #1706
works ok in develop build 0.9.10-84-g3e1d7311+

[2017-09-10 10:54] #1706 closed, assigned to yenda, annadanchenko

[2017-09-10 11:02] annadanchenko commented on #1778
works ok on develop build 0.9.10-84-g3e1d7311+

[2017-09-10 11:02] #1778 closed, assigned to yenda, annadanchenko

[2017-09-10 11:05] annadanchenko commented on #1524
#1801 needs to be fixed

[2017-09-10 11:07] #1698 closed, assigned to nobody

[2017-09-10 11:42] annadanchenko opened #1804 "Discover gets new line with same info on username/status if switch between username/status [develop]"
### Description

*Type*: Bug

*Summary*: Discover screen contains status updates (if status has #hashtag). Currently, Discover contains exactly same lines with same statuses when user
- just views the status/username and taps on them in a drawer or
- change a profile picture without changing status or
- change username without changing status

![screenshot_20170910-141600](https://user-images.gith

[2017-09-10 14:37] goranjovic opened #1805 "Refactor protocol listeners"
Namespace `status-im.protocol.listeners` should be refactored as pipeline (composition) of functions that each correspond to one step in the payload transformation. Each of those functions has to conform with the following rules:

- in case of a successful transformation, return value has the following format `{:message VALUE}`
- in case of any error or failure, return value in a format like this

[2017-09-10 14:46] goranjovic opened #1806 "Review and document protocol message format and encoding"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want protocol API to be clearly defined and documented so that both development and bugfixing take less time and effort moving forward.
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Currently protocol messages are exchanged as text payload that:

needs to be c

[2017-09-10 18:45] sla-shi commented on #894
I checked the Twillio logs and found that 8.1% of SMS not delivered in August 2017.  Not sure it's acceptable ratio and we can see if we implemented the StatusCallback parameter when sending SMS https://www.twilio.com/docs/api/rest/sending-messages#example-1
Is it possible to set the callback URL to the running Status app and handle the HTTP request @rasom ?

[2017-09-11 06:18] #1804 closed, assigned to yenda

[2017-09-11 06:46] #1605 closed

[2017-09-11 08:25] rasom opened #1810 "Rework /send command handler"
We should avoid usage of synchronous version of `eth.sendTransaction` inside the jail in order to make calls to the jail non-blocking.

For `/send` command this means that:
1. Command will be send immediately, even if transaction hasn’t been completed yet
2. Command’s message object will contain transaction’s status (like `:not-completed`, `discarded`, `sent`, `confirmed`, maybe just first two for

[2017-09-11 08:25] rasom commented on #1810
The list of statuses is to be decided

[2017-09-11 08:43] janherich commented on #1624
Can't reproduce on #1710 branch.

[2017-09-11 09:33] asemiankevich commented on #1801
Transaction history is cut in the end
![image](https://user-images.githubusercontent.com/28752642/30268134-657f5ba2-96ed-11e7-85a4-5833531ffa18.png)

[2017-09-11 11:10] antdanchenko commented on #164
test_one_to_one_chat added

[2017-09-11 12:09] annadanchenko commented on #1801
Fix for this issue introduced regression bug:
When syncing is in progress then no progress bar for syncing is shown on Chats screen, inside chats and on new Wallet screen
Expected: when syncing is in progress then progress bar (narrow blue line) is shown in Chats, inside Chat (1-1 chat, console, group chat, etc) and Wallet screen

![screenshot_20170911-150948](https://user-images.githubusercontent

[2017-09-11 12:14] asemiankevich opened #1813 "On History tab dates are not sorted [1524]"
### Description

*Type*: Bug

*Summary*: On History tab dates are not sorted - have Aug, Jul and Jun dates mixed

![image](https://user-images.githubusercontent.com/28752642/30274332-ad187e54-9705-11e7-80e6-1e82cd091e84.png)

*Operation system*: Android, iOS

[2017-09-11 12:40] asemiankevich opened #1814 "History tab is empty when resuming app from the background [1524]"
### Description

*Type*: Bug

*Summary*: on Android if send app to background and back while Unsigned or History tab is active then second tab is reusing the same content - so, History shows empty list if open Unsigned tab, put app on background and back, tap on History

#### Expected behavior

History tab remains the same with all data presented when  I resume the app from background

#### Actual

[2017-09-11 12:59] asemiankevich opened #1816 "Swiping between tabs on History screen is not smooth when resuming the app from background [1524]"
### Description

*Type*: Bug

*Summary*: on Android if send app to background and back while Unsigned or History tab is active then swiping between tabs is not smooth so user can see it like slideshow

![image](https://user-images.githubusercontent.com/28752642/30275314-9d2aeb04-9709-11e7-8f40-52869dc91c00.png)

### Reproduction

- Open Status
- Recover account
- Go to history tab
- Move the app t

[2017-09-11 13:08] annadanchenko opened #1817 "Wallet: Scroll does not work on History tab [develop]"
### Description

*Type*: Bug

*Summary*: For the recovered account with a long list of transactions: list of transactions on History tab can't be scrolled. Nothing happens if scroll the list down.
Issue is only on Android (real Samsung Galaxy S6, S7 and Google Pixel XL)
Expected: list can be scrolled

#### Expected behavior
list can be scrolled
#### Actual behavior

If scroll down then nothing hap

[2017-09-11 13:10] jeluard opened #1818 "Remove old tailrecursion/cljs-priority-map dependency"
### User Story

As a developer, I don't want to depend on unmaintained dependency. `tailrecursion/cljs-priority-map` is used in 2 functions of status codebase, replace it with local code.
Also `tailrecursion/cljs-priority-map` prevent us from upgrading to latest cljs compiler.

*Type*: Bug

[2017-09-11 15:13] jeluard commented on #1801
Fixed now.

[2017-09-11 17:05] jeluard commented on #1817
Fixed by #1807

[2017-09-11 18:50] annadanchenko commented on #1817
on build #5 of `Branch bug/#1801` same issue exists on same devices

[2017-09-11 18:53] annadanchenko commented on #1801
Regression bug "Syncing progress bar" is fixed and shown now as expected. Issues 1-8 are fixed. @asemiankevich can we close this issue and open a separate one about last item not fully shown? (added as a comment by you).

[2017-09-12 07:00] oskarth opened #1821 "Push notifications: use status-go PN branch and use new interface"
### User Story

As a user, I want my message to a contact to trigger a push notification for them.

### Description

*Type*: Feature

*Summary*: Use status-go feature/notifications-refactor#249 branch and trigger push notifications from device to device B via intermediary wnode and Firebase.

### Details

The scope of this issue is uncertain because the interface of what we are consuming is uncert

[2017-09-12 07:46] #1801 closed, assigned to jeluard

[2017-09-12 07:50] oskarth opened #1822 "Jenkins: add status-react-nightly to source control and turn on Slack notifications"
### User Story

As a developer/QA, I want to know when build is failing so that I can investigate or restart it.

### Description
*Type*: Bug

*Summary*: status-react-nightly should post slack notifications

See http://185.90.37.243:8080/job/status-react-nightly/ vs, say, http://185.90.37.243:8080/job/Github%20Org%20Builder/job/status-react/job/bug%252Flow-fee-transactions-stuck-%25231386/. Latter

[2017-09-12 08:00] goranjovic commented on #1574
The solution is too unstable at least on Node. The solution is probably not worth the effort compared to the alternative, so I'm closing this one.

[2017-09-12 08:00] #1574 closed

[2017-09-12 08:08] oskarth commented on #1822
We had a local Jenkins config in http://185.90.37.243:8080/job/status-react-nightly/configure

This has been replaced by Github Jenkinsfile for develop branch.

Ready for testing. Testing consists of waiting for next nightly to build during the night. If it sends notifications to Slack it should be fine. Waiting for build 298 (manually triggered) and 299 (next nightly).

[2017-09-12 08:30] annadanchenko commented on #1802
Should we try to fit the text (at least English) on one line?

Android, Samsung Galaxy S6 real device, 5.1 inches screen  ![screenshot_20170912-112604](https://user-images.githubusercontent.com/6584810/30315740-a2fe6908-97ad-11e7-9774-785771ef9123.png)
iOS, iPhone 6s
![img_2290](https://user-images.githubusercontent.com/6584810/30315741-a31a596a-97ad-11e7-89fd-79b300fbf39c.jpg)

[2017-09-12 08:39] asemiankevich opened #1824 "Transaction history is cut in the end [1524]"
### Description

*Type*: Bug

*Summary*: Transaction history is cut at the end so the last record is partially visible

#### Expected behavior
User is able to see all the transactions no matter how long the history is. Last transaction is displayed correctly.

#### Actual behavior
Last transaction is history is partially cut

![image](https://user-images.githubusercontent.com/28752642/30316102-cbb

[2017-09-12 08:49] asemiankevich commented on #1524
https://github.com/status-im/status-react/issues/1801 is fixed and closed

List of issues to be fixed:
https://github.com/status-im/status-react/issues/1824
https://github.com/status-im/status-react/issues/1814
https://github.com/status-im/status-react/issues/1816
https://github.com/status-im/status-react/issues/1813
https://github.com/status-im/status-react/issues/1829

[2017-09-12 09:31] jeluard opened #1826 "Create mockups at the component level"
### User Story

As a developer, I want to have mockups of components (button, list, badge, ..)

### Description

Developers create UI component in reusable code chunks that have to adapt various scenarios and platforms.
Having per component mockup is necessary to make sure there is no small differences between expectations and reality.
It also forces designers to think in components, making sure s

[2017-09-12 09:48] antdanchenko opened #1827 "Add “accessibility-ids” to elements for e2e tests"
### User Story

As automation engineer I need accessibility-ids to be added for specific elements.

### Description

accessibility-ids are needed in order to use single automated script, both for ios and android

Please add accessibility-ids for elements on screens below:

<img width="432" alt="screen shot 2017-09-12 at 12 46 47 pm" src="https://user-images.githubusercontent.com/12611990/30319433-

[2017-09-12 10:06] oskarth opened #1828 "Use Jenkins DigitalOcean slave to build status-react Android"
### User Story

As a developer/QA, I want builds to finish faster to speed up feedback cycle. By having Android builds split from iOS they would finish faster (slack notification/artifact) and also cause less strain on expensive xcloud instances.

### Description

*Type*: Feature (tooling)

*Summary*: Use Jenkins AWS slave instance https://github.com/status-im/status-go/issues/309 to separate buil

[2017-09-12 10:06] oskarth commented on #1708
As a first step: https://github.com/status-im/status-react/issues/1828

[2017-09-12 10:17] antdanchenko commented on #1828
Please, get AWS instance with defined location in USA. The location will make e2e tests twice faster and will remove Internal Server errors.

[2017-09-12 10:29] asemiankevich opened #1829 "Background color of the top bar is incorrect on History transactions screen on iOS [1524]"
### Description

*Type*: Bug

*Summary*:

#### Expected behavior
Please check mocks for iOS

![image](https://user-images.githubusercontent.com/28752642/30321331-4e220668-97be-11e7-9d8d-ca8ed5e158ed.png)

#### Actual behavior

Background color of the top bar (battery, carrier…) is currently black with white text.

![image](https://user-images.githubusercontent.com/28752642/30321218-f893bc46-97bd-1

[2017-09-12 11:17] oskarth commented on #1828
@antdanchenko Can you please put this comment in the appropriate issue? https://github.com/status-im/status-go/issues/309 This is issue is about consuming the AWS instance status-go will create.

[2017-09-12 12:38] asemiankevich opened #1833 "Can't view pdf in browser"
### Description

*Type*: Bug

*Summary*: As a user I want to be able to read pdfs within browser as well as images and other content

#### Expected behavior
PDF is opened correctly (probably in new tab), but anyway user should be able to read the content easily

#### Actual behavior
Pdf content is shown in wrong encoding

![image](https://user-images.githubusercontent.com/28752642/30325869-1c40cf4

[2017-09-12 13:37] jeluard opened #1834 "Make wallet action button responsives"
### User Story

As a user,I want wallet action buttons to fit on smaller screens

### Description

*Type*: Feature

Comments from @andmironov :

[code]

[2017-09-12 13:41] jeluard opened #1835 "Migrate all toolbars to toolbar2"
### User Story

As a developer, I want to rely on a single toolbar implementation

### Description

Migrate all code using `toolbar/toolbar` and `toolbar_new/toolbar` to `toolbar_new/toolbar`.

*Type*: Bug

[2017-09-12 14:44] annadanchenko commented on #1525
Functional description (WIP) for one of the minimal flows for Send transaction: https://docs.google.com/document/d/13eItUUqlfkRpx7iSutPRvThzTSrhirnKBcgxhOD3m6g

[2017-09-12 16:11] oskarth opened #1837 "Upgrade Clojurescript to latest"
As a developer, I want to run recent version of Clojurescript so we can use fixes and enhancements.

We are currently at `[org.clojure/clojurescript "1.9.671"]` which was released June 30th. Latest version is `1.9.908`. We are no longer blocked by `cljs-priority-map` with https://github.com/status-im/status-react/pull/1836. There might be other unknown blockers though, and as far as I know we don'

[2017-09-13 06:43] #1802 closed, assigned to jeluard

[2017-09-13 07:46] oskarth commented on #1822
Wait for next nightly to kick in, config was merged this morning after nightly started.

[2017-09-13 07:47] oskarth commented on #1818
Accidentally merged into develop before QA. Small fix/refactor, so let's hope there are no regressions.

[2017-09-13 07:48] oskarth commented on #1601
I believe this issue can be closed when https://github.com/status-im/status-react/pull/1584 is merged, but @rasom can confirm.

[2017-09-13 08:15] jeluard opened #1840 "Migrate all list to components.list"
### User Story

As a developer, I want to rely on a single efficient list implementation

### Description

Migrate all code using `react/list` to `components.list/flat-list` or `components.list/section-list`.

*Type*: Bug

[2017-09-13 08:21] oskarth commented on #1840
Also note that `ListView` is deprecated in latest React Native: https://facebook.github.io/react-native/docs/listview.html

[2017-09-13 08:23] oskarth commented on #1840
Possible duplicate: https://github.com/status-im/status-react/issues/1517 - lets keep this one since it is more detailed in terms of actions.

[2017-09-13 08:24] oskarth commented on #1517
Closing in favor of the more detailed https://github.com/status-im/status-react/issues/1840

[2017-09-13 08:24] #1517 closed

[2017-09-13 08:41] jeluard commented on #1817
According to `nastya` this only happens when sync is in progress.

[2017-09-13 09:15] asemiankevich opened #1841 "Oaken Water Meter dApp is not working"
### Description

*Type*: Bug

*Summary*: Oaken Water Meter dApp is not working

#### Expected behavior
User can interact with the dApp

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/30369352-d45e89ea-987c-11e7-99a2-577a2d4b7118.png)

### Reproduction

- Open Status
- Go to Contacts -> Oaken Water Meter dApp

### Additional Information
* Status version: 0.9.10-87

[2017-09-13 10:24] flexsurfer opened #1843 "Wallet - Send transaction, layer 1"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

Implementing 2-5 from https://docs.google.com/document/d/13eItUUqlfkRpx7iSutPRvThzTSrhirnKBcgxhOD3m6g/edit

[2017-09-13 10:40] asemiankevich opened #1844 "Group chat content is not shown on Huawei Honor 8"
### Description

*Type*: Bug

*Summary*: During test session with @oskarth it was found that he is not able to see group chat content on his Honor 8

#### Expected behavior
Group chat should be displayed

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/30373080-cc16036a-9888-11e7-8c2a-67e38e4c2271.png)

### Additional Information
* Status version: 0.9.10-87-gf21f9d

[2017-09-13 11:02] asemiankevich opened #1845 "Make "add to contacts" bar bigger so it become easier to notice"
### Description

*Type*: Bug

*Summary*: When I am added to someone's contact list I can see new chat created with this account , and when I open the chat I can add this account to my contacts within the "add to contacts" button. The design issue there is that the mentioned button is too small and hard to notice. It was discussed during the recent test session with @oskarth

#### Expected behavior

[2017-09-13 11:27] asemiankevich opened #1846 "UX: add more obvious suggestion to change username from default"
### Description

*Type*: Feature

*Summary*: That would be great to implement a feature  in terms of Onboarding procees prompting the user to change the default profile name to the desired one.

#### Expected behavior
A feature iplemented prompting the end user change his defualt name to the one he wants.

[2017-09-13 11:56] asemiankevich opened #1847 "'No ethereum node running' error is shown"
### Description

*Type*: Bug

*Summary*: Error message "No ethereum node running" received on iphone 6s

#### Actual behavior

Error message is shown despite the wifi is on
![image](https://user-images.githubusercontent.com/28752642/30375817-a3d4f618-9892-11e7-9ee9-6437fcd93831.png)

### Reproduction

I can't reproduce it on my iPhone still. The feedback from @oskarth sounds like it worked before,

[2017-09-13 12:14] asemiankevich opened #1848 "Wallet total value is calculated when no ETH is on balance"
### Description

*Type*: Bug

*Summary*: When I created new account from scratch with 0 ETH balance I can see the Total value is calculated which is not correct.

#### Expected behavior
Total value is 0 for brand new account without ETH on balance

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/30376715-062e898e-9896-11e7-951b-202abf638d64.png)

### Reproduction

[2017-09-13 12:20] goranjovic commented on #1386
Payments from Ethereum Wallet
Amount: 0.0001 eth

Fees (highest to lowest):

-  1 - 0.000966 Ether - [link](https://ropsten.etherscan.io/tx/0x5f2d6a3238fe4b48e34dd44706f33b8f7f04fb93408bf23aa86b54a358dc0ea4) ✓
-  0 - 0.000483 Ether - [link](https://ropsten.etherscan.io/tx/0xe2a6463318ca78a94d62a9017131a7c813e2d0ff70a3e46d02333e9390146b45) ✓
- -1 - 0.000252 Ether - [link](https://ropsten.etherscan.

[2017-09-13 12:24] asemiankevich opened #1849 "Chats order is off on chats tab"
### Description

*Type*: Bug

*Summary*: Chats order is off on chats tab

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior
iOS
![image](https://user-images.githubusercontent.com/28752642/30377091-3cbd5880-9897-11e7-9d51-725a7eb6d600.png)

Android
![image](https://user-images.githubusercontent.com/28752642/30377108-50b8430e-9897-11e7-971b-881c3ae2861

[2017-09-13 12:26] oskarth commented on #1849
May be related to https://github.com/status-im/status-react/issues/1818 (PR: https://github.com/status-im/status-react/pull/1836). @asemiankevich can you see if it is possible to reproduce with that build and not possible to reproduce before that build?

Also to note (screenshot on iOS is mine): when I did pull-to-refresh on iOS on group chat order got corrected. So it might be related to ListView

[2017-09-13 12:38] antdanchenko commented on #165
'test_group_chat' and 'test_group_chat_remove_user' squashed into single 'test_group_chat_send_receive_messages_and_remove_user' in order to save execution time

[2017-09-13 12:49] asemiankevich commented on #1849
@oskarth I can see the same weird order in http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-efd5a4.apk build (http://185.90.37.243:8080/job/status-react-nightly/300/)

[2017-09-13 13:01] oskarth commented on #1849
Ok, and since that build was based on `develop` and started 1 day 2 hr ago, this PR (https://github.com/status-im/status-react/pull/1836#event-1246572121) that was merged into `develop` 7 hours ago couldn't have caused it.

[2017-09-13 13:01] oskarth commented on #1849
@asemiankevich Thanks. Ok, and since that build was based on `develop` and started 1 day 2 hr ago, this PR (https://github.com/status-im/status-react/pull/1836#event-1246572121) that was merged into `develop` 7 hours ago couldn't have caused it.

[2017-09-13 13:59] asemiankevich commented on #1813
I can confirm its fine on Android now, @annadanchenko to confirm on iOS

[2017-09-13 14:07] asemiankevich commented on #1526
**Android:**

1. * CR code shoud not be scrollable and must be centered.
2. * Wallet amount is not shown
3. * SEND **A** REQUEST copy should be shown
4. * I can send request with empty amount field / invalid data in the field - should not allow to proceed to another screen as there is no sense in it
5. * CR code disappears when entering amount
6.

![image](https://user-images.githubusercontent.com

[2017-09-13 14:23] flexsurfer commented on #1526
@asemiankevich
1. we should ask @andmironov
2. will do
3. what does this mean?
4. we should ask @andmironov
5. as designed

[2017-09-13 14:33] asemiankevich commented on #1526
@flexsurfer for number 3 as stated on the mock
![image](https://user-images.githubusercontent.com/28752642/30383133-9ef29170-98a9-11e7-95be-dc4913376f7e.png)

for number 5: just looking at the mock (
![image](https://user-images.githubusercontent.com/28752642/30383204-d57f3252-98a9-11e7-934f-42bf879b1172.png)). No pressure :)

[2017-09-13 14:37] jeluard commented on #1848
Currently `total value %` reflects variation of ETH value in USD last 24 hours (data provided by cryptocompare). It is not related to the current wallet.

Current value is indeed misleading, we have 2 options:

* modify how it is displayed (e.g. move label to each asset line)
* update the algorithm used to generate the value

Updated algorithm should reflect 3 parameters:

* 24 hours changes to wa

[2017-09-13 14:45] flexsurfer commented on #1526
3. will be fixed in mockup. "send request" is a right version

[2017-09-13 15:02] annadanchenko opened #1851 "Wallet main screen ui issues [develop]"
Left: iOS develop build. Right: design
![wallet issues](https://user-images.githubusercontent.com/6584810/30384059-ef9a49cc-98ab-11e7-82f4-9cc92e251112.png)

Not as in design:
1. Main Wallet - position
2. Total value - colour
3. Exchange button - backgound color and text color
4. Blue section - height of the section
5. Distance of a different height between 44.169... ETH and delimiter (grey line b

[2017-09-13 15:09] oskarth commented on #1848
See https://github.com/status-im/status-react/issues/1653 for relevant assumptions.

I'll do a quickfix of this one and write up some thoughts on how we can grow this, and then we can revisit assumptions and see to what extent they make sense or not.

Reminder: also add explicit examples of expected portfolio value change.

[2017-09-13 16:08] annadanchenko commented on #1851
Checks to apply before moving to Ready for Review:

# Screen UI checklist

| Check | Notes | Done? |
| -------- | -------- |  -------- |
| Element same order in relation to other elements?     |      | no |
| Element correct padding all sides?	|      |no |
| Element correct size?|     measure top-bottom/left-right, consider margin | no|
| Element same distance to other elements?|  top-bottom, left

[2017-09-13 19:40] annadanchenko commented on #1526
### 1. iOS/Android:

Currently max length of the amount: 15 characters including separator (./,). This is different from the amount user can type for /send command in chat. It should be consistent in both places and seems like Wallet is a place to adjust:
1.1 Expected: Amount before separator - seems like can be of any length or I can't find the limit
1.2 Expected: Amount after separator - should

[2017-09-13 19:50] flexsurfer commented on #1526
3.1 we decided that these screens shouldn't be modal because we can open choose contact modal screen, so mockups should be changed

[2017-09-13 22:02] x-goose-x opened #1853 "Implement QR scanning in Wallet Send"
### User Story

As a user, I want to be able to scan a receiver's QR code to send currency.

### Description

*Type*: Feature

*Summary*: The basic elements of QR scanning are implemented, we just need to complete permissions requests for android and ios

[2017-09-14 07:21] flexsurfer commented on #1526
- [ ] CR code should not be scrollable and must be centered.
- [ ] Wallet amount is not shown
- [ ] Amount field doesn't highlight in focus
- [ ] Contacts screen looks wrong on Android
- [ ] Amount rules

[2017-09-14 07:42] annadanchenko commented on #1813
ok on iOS (real device iphone 6s, iOS 10.3.3)

[2017-09-14 08:00] asemiankevich opened #1854 "Pull-to-refresh gesture is not working on History tab [1524]"
### Description

*Type*: Bug

*Summary*: Pull-to-refresh gesture is not working on Transactions screen (both History and Unsigned tabs)

#### Expected behavior
I can refresh history by using pull-to-refresh gesture

### Reproduction

- Open Status
- Go to wallet tab -> History
- Pull down to refresh.

### Additional Information

* Status version: 0.9.10-98-g82f6a82b+
* Operating System: Android, i

[2017-09-14 08:00] asemiankevich commented on #1524
https://github.com/status-im/status-react/issues/1854 is logged as regression result

[2017-09-14 08:50] asemiankevich opened #1855 "Wallet Request screen UI issues [1526]"
### Description

*Type*: Bug

*Summary*: issues found and to be fixed for https://github.com/status-im/status-react/issues/1526

#### Actual behavior

- [x]  CR code should not be scrollable and must be centered.
- [x]  Wallet amount is not shown
- [x]  Amount field doesn't highlight in focus
- [x]  Contacts screen looks wrong on Android (2.1 can't be fixed because https://github.com/facebook/reac

[2017-09-14 08:55] asemiankevich commented on #1526
https://github.com/status-im/status-react/issues/1855 to track

[2017-09-14 09:03] yenda opened #1856 "Performance analysis: impact of inline-style in react-components"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to know if inline-style is affecting performances in the application so that we know whether or not we should move the styling to style sheets.

According to react native documentation

http://facebook.github.io/react-native/releases/0.28/docs/view.html

### Solution

 A few views should

[2017-09-14 09:29] jeluard commented on #584
# New Wallet progress

## Current state

Development focused at first on simplified main and transactions screens.

## Next steps

Next focus is to bring wallet on-par with existing DApp wallet:

Updated: 05/10/17

- [x]  allow to send transactions (@flexsurfer, done)
- [x]  allow to request transactions from contact (@flexsurfer, done)
- [x]  unsigned transactions should appear in transactions sc

[2017-09-14 09:42] oskarth commented on #1847
FWIW I just saw this on iOS simulator too (6s, develop@a85929e7). Intermittent issue.

[2017-09-14 10:16] jeluard commented on #1646
Duplicated by #1690

[2017-09-14 10:16] #1646 closed, assigned to nobody

[2017-09-14 11:08] jeluard opened #1858 "Improve main wallet screen pull-to-refresh"
### User Story

As a user, I want to have a nice visual effect when doing a pull-to-refresh

### Description

When doing a pull-to-refresh the whole screen should be pullable (both `assets` and `actions` lists must not be pullable individually)
The visual indication then appears on top of the amount.

*Type*: Feature

[2017-09-14 11:59] flexsurfer commented on #1829
fixed here https://github.com/status-im/status-react/pull/1859

[2017-09-14 12:59] asemiankevich commented on #1805
I would say the message exchange works as expected after the refactoring

[2017-09-14 17:01] oskarth commented on #1847
And Genymotion. Intermittent issue.

[2017-09-14 17:06] annadanchenko commented on #1770
ok on PR build for `feature/chat-module-refactoring-#1709` 0.9.10-96-gef6a9ac2+  (Android and iOS)

[2017-09-14 17:24] annadanchenko commented on #1768
Issue is partially fixed:
1. OK - Commands /faucet, /phone , /debug , @browse can be sent now (there is send button)
2. Found also #1941 but it can be reproduced also in develop build, so not related to this PR

[2017-09-14 17:47] annadanchenko opened #1862 "Popup 'undefined is not a function' is shown after sending /phone command on Android [feature/chat-module-refactoring-#1709]"
### Description

*Type*: Bug

*Summary*: Sent /phone command with valid phone number and got popup `undefined is not a function ..'
![screenshot_20170914-195618](https://user-images.githubusercontent.com/6584810/30444514-ef372172-998b-11e7-82d2-10990ef31cbe.png)

#### Expected behavior
No popup after sending phone command
#### Actual behavior
 popup `undefined is not a function ..'

### Reproducti

[2017-09-14 20:57] annadanchenko opened #1863 "Plain text for send and request commands in group chat on next app launch [feature/chat-module-refactoring-#1709]"
### Description

*Type*: Bug

*Summary*: Group chat after app re-launch contains
1. For send command: plain text instead of command message
2. For request command: no text "Requesting 0.1111 ETH from Jarrad"
Nothing happens (same issues remain) if wait for 5-10 minutes. Only after user goes back to Chats and opens Group chat again then these messages are shown as expected.

Sometimes issue can't b

[2017-09-14 21:21] yenda commented on #1856
For react in the browser I found this:
https://www.ctheu.com/2015/08/17/react-inline-styles-vs-css-stupid-benchmark/

[code]

[2017-09-15 06:10] rasom opened #1864 "Running application without status-go"
The application makes phone hot and runs slowly when is running with `status-go` with LES protocol enabled, but there is a chance that there are other performance issues not related to `status-go`.
Status will not be fully functional without running node, but we should be able to create account, login, open chats, open profile settings, change profile image etc.

The main goal of testing is to fig

[2017-09-15 08:51] flexsurfer commented on #1853
generating qr is implemented in epic/wallet branch, i used json https://github.com/status-im/status-react/blob/epic/wallet/src/status_im/ui/screens/wallet/request/views.cljs#L33

[2017-09-15 13:38] oskarth opened #1866 "Push notifications end to end v1"
### User Story

As a user, I want to receive a push notification when a person in my contacts messages me and I have the app in background, so that I don't have to have the app in the foreground all the time.

### Description

*Type*: Feature

*Summary*:  If A has B as a contact, send a push notification to B.

Belongs with https://github.com/status-im/status-go/pull/327. No payload in notificatio

[2017-09-15 14:04] annadanchenko commented on #1829
tested ok on iOS in epic/wallet branch

[2017-09-15 14:19] asemiankevich opened #1867 "Wallet: add amount rules for Request transaction screen"
### Description

*Type*: Bug

*Summary*: For Request transaction screen now we do not have any field validation.

#### Expected behavior

1. iOS/Android:

Currently max length of the amount: 15 characters including separator (./,). This is different from the amount user can type for /send command in chat. It should be consistent in both places and seems like Wallet is a place to adjust:
1.1 Expect

[2017-09-15 14:30] asemiankevich commented on #1526
Closing this out. Opened `https://github.com/status-im/status-react/issues/1867` to implement the rules for amount field

[2017-09-15 15:18] annadanchenko commented on #1851
iOS version with a fix `[FIX #1851] Improved iOS wallet UI` looks better than before but not all points are fixed (marked fixed items as <s>text</s> in the initial issue description.

We can merge the fix but the issue will stay opened for the rest of the fixes

[2017-09-15 16:46] oskarth commented on #1822
It appears status-react-nightly job gets triggered on each push. It's unclear why since it should poll every 24h. I tried disabling the "GitHub hook trigger for GITScm polling" in Jenkins. Let's see if problem persists http://185.90.37.243:8080/job/status-react-nightly/configure.

[2017-09-15 17:01] oskarth commented on #1822
Expected behavior: If no one manually triggers the nightly build, it should be triggered once and only once within the next 24h.

[2017-09-15 17:52] asemiankevich opened #1870 "Wallet: error null is not an object received for Send screen on iOS [1839]"
### Description

*Type*: Bug

*Summary*: Error null is not an object received when clicking Send button in new wallet

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/30496166-42fa8634-9a57-11e7-896c-cde5447cb641.png)

build: 0.9.11d100-1557.100

https://status-im.slack.com/archives/G53FWGDCM/p1505425804000081

[2017-09-18 06:59] oskarth commented on #1822
Nightly was built 1:54AM CET Saturday and 1:53AM CET Sunday and no other times, so seems to be working again. Closing.

[2017-09-18 06:59] #1822 closed, assigned to nobody

[2017-09-18 07:39] goranjovic opened #1874 "Discover face lifting"
### User Story

As a user I want to be able to see important status updates, dapps and other relevant info in my Status network in simple, intuitive and visually appealing screens.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Implement the subset of the following designs that matches the functionalities currently provided by the backend:

**Prepare Discover for s

[2017-09-18 09:49] oskarth commented on #1866
Did some QA and here's the current state as of latest build.

All new accounts, all have each other as contacts (some added via public key, some added with 'add to contact').

| Name      | Device  | Type           | Receive | Trigger | Regressions |
| ----------| ------- | -------------- | --------| ------- | ----------- |
| Gripping  | iOS     | Real 6s        | YES     | YES     | R2          |

[2017-09-18 10:44] asemiankevich commented on #1866
What i have found so far:

1. Android NoSuchMethod FFI
![image](https://user-images.githubusercontent.com/28752642/30538522-12379114-9c77-11e7-893f-c6f0e1a86ed1.png)

2. Send message from Android to iOS -> Receive Android NoSuchMethod FFI -> Send any message from iPhone to Android: message is not shown for Android in 1x1 chat. However the Huawei to iPhone messaging works still

[2017-09-18 12:07] janherich opened #1875 "Refactor message data & persistence model"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to have single place in app, where all data uniquely tied to particular message are held, I also want to have only one (clear) way how to save/update/retrieve message data in/from realm.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Problem

[comment]: # (Describ

[2017-09-18 12:11] asemiankevich opened #1876 "Add /location, /send, /request sending flow to Push notifications"
### User Story

As a user I want to receive push notifications when sending /location, /send, /request messages in 1x1 chat

### Description

*Type*: Feature

*Summary*:  In terms of implementation of Push notifications feature I would like to see the notifications when sending `/location, /send, /request` command in 1x1 chat. Its not implemented yet 'cause its separate flow different from text me

[2017-09-18 12:14] asemiankevich commented on #1866
NOTE: the Android NoSuchMethod FFI is not reproducible in latest build https://i.diawi.com/cZHGBb

[2017-09-18 12:15] oskarth commented on #1876
I believe this is related to a point @janherich brought up in https://github.com/status-im/status-react/pull/1872#discussion_r139356028 which is that notifications are sent `send-message` whereas, I think, locations are sent using `send-command`. This is a good and hopefully not too difficult enhancement that anyone should be able to make. I agree it's medium priority but that it should be done at

[2017-09-18 12:21] oskarth commented on #1844
I have issues with Honor 8 messages appearing in preview but not in actual chat even in regular 1on1 chat.

[2017-09-18 12:55] oskarth opened #1877 "Remove Firebase Analytics package from build"
As a user, I don't want Google Analytics to be included in the build and potentially be tracking me. This is currently included by default with `react-native-fcm`. Remove this.

Possibly related to https://github.com/status-im/status-react/issues/1690 in terms of package composition.

- [x] iOS: Use linked frameworks over Podfile
- [x] iOS: `Remove FirebaseAnalytics.framework`
- [x] Android & iOS:

[2017-09-18 13:08] #1810 closed, assigned to janherich

[2017-09-18 13:27] yenda opened #1879 "Letter-spacing on Android"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a designer I want to be able to use letter spacing

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summar

[2017-09-18 13:33] yenda opened #1880 "Transactions List screen: fix padding in transactions list"
Fix the padding in the transactions list

This is the design:
![screenshot from 2017-09-18 15-29-31](https://user-images.githubusercontent.com/1181225/30544686-9f3e6aa0-9c87-11e7-8570-8b41a47ebde2.png)

there should be 17dp between the left icon and the text and 22dp between the text and right icon

This is the current situation:
![screenshot_1505737858](https://user-images.githubusercontent.com/1

[2017-09-18 14:04] oskarth commented on #1441
No longer blocked with status-go merge I believe.

[2017-09-18 14:06] oskarth commented on #1580
Not sure what the proper state of this is, but I'm guessing it still needs testing.

[2017-09-18 16:05] oskarth opened #1883 "Push notifications: investigate possibilities of hiding payload"
Current implementation of push notifications hardcodes a "ping" message. This can obviously be changed to the message itself, but then it would be plaintext via Firebase. Instead, we probably want to encrypt the payload, show a generic ping message and then decrypt it when it is received on the device.

Investigate where this: https://github.com/status-im/status-go/blob/develop/geth/api/api.go#L20

[2017-09-19 00:36] janherich commented on #1768
As this is also happening in dev, I'm suspecting it has to do with new vector icons.
It's very strange, as the emoji shown instead of the close icon is indeed behaving exactly like close, so it's really just that visual is wrong.
@flexsurfer do you have some idea what could go wrong with move to vector icons ?

[2017-09-19 06:38] flexsurfer commented on #1768
@janherich I believe it shouldn't be related to vector icons itself, it works fine in other cases

[2017-09-19 07:29] annadanchenko opened #1885 "Can't send transaction - error `intrinsic gas too low` [0.9.11]"
### Description

*Type*: Bug

*Summary*: If send transaction with default or max fee - then it's not sent because of error `intrinsic gas too low`
![img_0604](https://user-images.githubusercontent.com/6584810/30580480-552ed014-9d25-11e7-93d6-533aaac650ab.jpg)

#### Expected behavior
Transaction is sent
#### Actual behavior
- error `intrinsic gas too low`
- transaction is not sent
- transaction in

[2017-09-19 08:39] asemiankevich opened #1886 "Removed transactions are displayed in 1x1 and group chat as pending/failed when closing Sign Transaction screen [0.9.11]"
### Description

*Type*: Bug

*Summary*: In release candidate `0.9.11` when I remove transaction on Sign transaction screen and close the screen I can see this transaction is shown in 1x1 chat as `failed` and `pending` in group chat

#### Expected behavior
Transaction is not shown when I removed it and did not sign

#### Actual behavior

1x1 chat
![image](https://user-images.githubusercontent.com/

[2017-09-19 09:03] asemiankevich opened #1887 "Error Cannot access member 'from' of undefinied [0.9.11]"
### Description

*Type*: Bug

*Summary*: Sporadic issue , when i double tap on `send` transaction error `Cannot access member 'from' of undefinied` is shown

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/30584299-fe453c18-9d31-11e7-8251-bf94cc4541fa.png)

### Reproduction

- Open Status
- Add somebody to contacts
- call `/send` screen and double tap on `send`

##

[2017-09-19 10:17] #1775 closed, assigned to yenda

[2017-09-19 10:17] #1824 closed, assigned to nobody

[2017-09-19 10:17] #1854 closed, assigned to nobody

[2017-09-19 10:36] janherich commented on #1441
This is already solved in the #1710 branch

[2017-09-19 11:24] annadanchenko commented on #1886
even if send transaction was successful, recipient sees in 1-1 chat message with "transaction pending". Would expect something like transaction sent/delivered or anything else that ways about completed transaction. Note: transaction was done from 0.9.10 released version.
![image](https://user-images.githubusercontent.com/6584810/30590204-480cf098-9d46-11e7-85c2-ab9b9575cc23.png)

[2017-09-19 11:35] oskarth commented on #1887
According to @asemiankevich this is fixed in https://github.com/status-im/status-react/pull/1710 by @janherich

Two options:
1) Merge huge PR 1710, or
2) Let this issue still be an issue in 0.9.11

Since this isn't a high priority, it seems like the more prudent choice is to let this regression slide for now and then fix it for the next release.

[2017-09-19 11:40] asemiankevich commented on #1887
This is correct assumption taking into account the fact that issue is sporadic so I can 100% confirm its not reproducible in https://github.com/status-im/status-react/pull/1710 however I havent seen it when testing.

The agreement is to leave this issue in 0.9.11 and fix in next release.

[2017-09-19 11:44] oskarth commented on #1885
Reproduced 'intrinsinc gas too low' issue on `release/0.9.11` branch. Locally compiling with latest status-go develop (`gba963cc`) transaction goes through. Tested on iOS simulator.

[2017-09-19 11:47] annadanchenko opened #1888 "Amount is 0.00 ETH in "specify amount" section instead of amount typed for send command [0.9.11]"
### Description

*Type*: Bug

*Summary*: User types amount to be sent in the input field. The typed amount is not shown in the Specify amount section (above slider)
![img_0612](https://user-images.githubusercontent.com/6584810/30590866-1eb33092-9d49-11e7-9d47-360f95966f07.jpg)

#### Expected behavior
Typed amount is shown the Specify amount section (above slider), e.g if user types 0.1234 then it'

[2017-09-19 12:23] oskarth opened #1890 "Artifactory: disk space at 91% used, free up disk space by deleting old builds"
Seeing

We should probably clean out some old builds / temp files.

[2017-09-19 13:53] asemiankevich commented on #1847
The same behavour just seen using Play Market build
![image](https://user-images.githubusercontent.com/28752642/30595806-efbf68ca-9d5a-11e7-8e57-cd94afad452e.png)

I noticed it happened when I was running Status under 3G and then switched to WiFi

[2017-09-19 13:58] goranjovic commented on #1888
@annadanchenko What branch is this?

[2017-09-19 14:02] oskarth commented on #1888
@goranjovic `release/0.9.11` (I had this issue)

[2017-09-19 14:52] yenda opened #1893 "Transactions history: cannot scroll to the last 2 transactions"
## Test case 1

Accounts with 12 transactions on the same day. scrolling until bottom of history

Current (2 missing transactions):

![screenshot_1505832506](https://user-images.githubusercontent.com/1181225/30598615-81dc1e20-9d5a-11e7-8153-e3efb618cef0.png)

Without menu header (can see the 2 transactions are actually there but they are hidden at the bottom):

![screenshot_1505832283](https://use

[2017-09-19 15:55] annadanchenko commented on #1885
On Branch: bugfix/upgrade-status-go-g283ae3e can send eth with default fee
on iOS tried 7 times - once got “transaction underpriced” error and failed transaction. Others are sent ok
on Android tried 7 times - twice got “transaction underpriced” error and failed transactions. Others are sent ok

[2017-09-19 19:51] adambabik commented on #1885
It can be related to the problem reporter here: https://github.com/ethereum/go-ethereum/issues/14838. I will work on this.

[2017-09-20 07:54] asemiankevich opened #1897 "Wallet: Initial Send screen is not aligned on iOS [1839]"
### Description

*Type*: Bug

*Summary*: Initial SEND screen is not aligned on iPhone 5S real device and does not match mocks

#### Actual behavior
**### Please note that it is not full list of discrapencies . The UI should match the mocks 1x1 , check https://zpl.io/a3eexl2**

![image](https://user-images.githubusercontent.com/28752642/30632657-94bdeea0-9df1-11e7-8014-06e8f9b2af92.png)

Should be

[2017-09-20 07:58] asemiankevich commented on #1870
This issue is fixed in ` 0.9.11d117-1557.117`

[2017-09-20 08:34] asemiankevich opened #1898 "Wallet: Initial Send screen is not matching mocks on Android [1839]"
### Description

*Type*: Bug

*Summary*: QR and the list should be wider on the screen, QR should match mocks

#### Expected behavior
![image](https://user-images.githubusercontent.com/28752642/30634254-298dc79e-9df7-11e7-838f-8750916eec95.png)

Check mocks https://zpl.io/awxYLNb

#### Actual behavior
Need to increase the size of elements, need to make QR the same as on the mocks
![image](https://

[2017-09-20 09:13] andmironov commented on #1773
Hey guys, heres the actual mockup, here are the things that i would like to mention:

[2017-09-20 09:18] andmironov commented on #1897
Hey guys, heres the actual mockup, you can compare it with the screenshots above. here are the things that i would like to mention:
- let's get rid of the loading/syncing line from all screens except the chats, contacts and discover. it just looks wrong on blue background and there is no indication what it actually means, so there's no point in it.
- the qr reader is always square;
- the width of

[2017-09-20 10:09] annadanchenko opened #1899 "No unsigned transactions screen shown if initiate action in DApp that needs a transaction [0.9.11]"
### Description

*Type*: Bug

*Summary*: There are some actions in DApps that need send transaction to be done from Status, e.g
1. bchat - post a topic or reply to a topic
2. Auction House - register Auction name
Currently, unsigned transaction screen is not shown after performing such actions, so no transaction can be sent to DApp.

Note: if do the same steps on 0.9.10 version today then Unsigned

[2017-09-20 12:52] annadanchenko commented on #1899
caused by https://github.com/status-im/status-go/issues/350

[2017-09-20 13:08] annadanchenko commented on #1885
closing the issue as the initial error is solved

[2017-09-20 13:08] #1885 closed, assigned to adambabik, oskarth

[2017-09-20 21:01] yenda opened #1902 "Cannot scroll transaction history when app is syncing"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

When the app is syncing I cannot scroll the transaction history (this probably applies to other lists ?)
### Reproduction
[comment]: # (Describ

[2017-09-21 06:58] annadanchenko opened #1903 "Send transaction from group chat is shown in 1-1 chat for sender [bug/pending-transactions-#1886]"
### Description

*Type*: Bug

*Summary*:  Send transaction from group chat is shown in 1-1 chat for sender.

#### Expected behavior
Send transaction from group chat is shown in group chat for sender.
#### Actual behavior
Send transaction from group chat is shown in 1-1 chat for sender.

### Reproduction
sender: https://app.testfairy.com/projects/4803622-status/builds/6595741/sessions/14/?accessTok

[2017-09-21 09:04] yenda commented on #1893
The section list is here:
https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/wallet/transactions/views.cljs#L92

But in a screen alone it displays fine so it has to do with the fact that it is within the react-native-swipper with tabs.

Tabs are here:
https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/wallet/transactions/views.cljs#L188

Ag

[2017-09-21 10:38] annadanchenko commented on #1886
1. No "pending", "failed" statuses are shown inside send message in chat.
2. If transaction is sent successfully then message send is shown in chat.
3. If transaction was deleted from Unsigned transactions then
3.1  no messages inside send message is shown.
3.2 there is error message "Transaction failed" in chat screen

Looks ok, can merge

[2017-09-21 11:08] #1886 closed, assigned to janherich

[2017-09-21 11:08] #1903 closed, assigned to janherich

[2017-09-21 11:10] #165 closed

[2017-09-21 14:13] x-goose-x opened #1905 "Make changes to Choose Recipient screen"
### User Story

As a developer, I want to update the choose recipient screen to match design changes.

### Description
There have been changes to the design of the wallet send screens. The Choose Recipient screen was initially the first screen in the flow, but this has now changed. Additionally, there have been some style changes to the QR viewport, to text in the window, and icons.

*Type*: Featu

[2017-09-21 14:14] x-goose-x commented on #1853
closed due to design changes

[2017-09-21 14:14] #1853 closed, assigned to angusiguess

[2017-09-21 15:13] oskarth opened #1906 "Push notifications: surface notification and data payload on iOS"
### User Story

As a developer, I want to see data (invisible) and notification (visible) payload passed through when app is backgrounded and you click on notification.

Android is a different issue because it requires additional logic.

Related to https://github.com/status-im/status-react/issues/1883

Type: Feature
Platform: iOS only

### Notes for testing

1. Trigger a push notification by chatt

[2017-09-21 15:27] oskarth opened #1907 "Push notifications: surface notification and data payload on Android"
### User Story

As a developer, I want to see data (invisible) and notification (visible) payload passed through when app is backgrounded and you click on notification.

### Summary
Same as https://github.com/status-im/status-react/issues/1906 but for Android.

Android appears to require setting click_action at the top level (this would be a change on status-go side too), and there seems to be som

[2017-09-21 16:00] sla-shi commented on #1905
Part of #1773 and eventually #1525

[2017-09-21 16:53] antdanchenko opened #1908 "Add transaction test (send/receive)"
#### e2e Tests:

##### test_send_transaction_one_to_one_chat

Steps:
1. Set password for user from scratch
2. Recover user with funds
3. Wait for syncing complete
4. Go to profile and get address
5. Get donate for the address via 'http://46.101.129.137:3001/donate/0x + address' if there is less then 1 ETH.
6. Get balance of recipient address via http://ropsten.etherscan.io/api?module=account&actio

[2017-09-21 18:32] oskarth opened #1912 "Wallet: portfolio management and calculations (long-term)"
### User Story

As a user, I want the Status wallet to show how all assets in my portfolio are doing, so I know what my financial health is and it can inform financial decisions.

### Description

This issue is too big as it stands, but I'm using it as an opportunity to capture and clarify how I envision the wallet portfolio calculation working. I'll do this by way of example.

As we progress with

[2017-09-21 18:33] oskarth commented on #1848
Wrote up thoughts and examples here: https://github.com/status-im/status-react/issues/1912

[2017-09-21 20:58] sla-shi commented on #1874
Clickable prototype
https://projects.invisionapp.com/share/52DI5CFKB#/screens/253484943

[2017-09-21 21:00] #1658 closed, assigned to oskarth

[2017-09-22 08:32] annadanchenko opened #1913 "No validation error "Insufficient funds.." in chat if try to send more than available in Wallet [0.9.11]"
### Description

*Type*: Bug

*Summary*: There is no error message if user tries to send more ETH than available. Expect to have "Insufficient funds..." error shown in chat after user taps on send button.

Sometimes error happens after first attempt, sometimes after 3-4 attempts

#### Expected behavior
"Insufficient funds..." error shown in chat after user taps on send button.
#### Actual behavior

[2017-09-22 11:14] oskarth commented on #1877
Critical path for production release and thus high priority, as per @jarradh's comments in https://docs.google.com/document/d/1YPMLHgojwz-wmhwKQ3lPi9vyT_dZftkK5tSRxtWIiZU/edit#

[2017-09-22 13:54] annadanchenko commented on #1899
Testing now `bugfix/eth-send-tx-#1899` with fix from go team `bugfix-eth-send-transaction-routing-#350`. It looks better - now if initiating transaction from DApp then Unsigned Transaction screen is shown but if confirm it with valid password then it always (tried 7-8 times) shows error `Transaction underpriced`. If send transaction from 1-1 chat with default fee then all works as expected and tra

[2017-09-22 13:57] oskarth commented on #1883
Partially superseded by the two linked issues. Hopefully it works fine with Android too, once confirmed this can be closed.

It also seems there is is an option on iOS to preview message and call a function before them. Unclear how that will work though, and there doesn't seem to be an Android equivalent either. This thus seems like an optimization we can revisit at a later point in time.

Pausing

[2017-09-22 14:45] annadanchenko commented on #1913
issue also exists in `bugfix/eth-send-tx-#1899` with fix from go team `bugfix-eth-send-transaction-routing-#350`

https://app.testfairy.com/projects/4803622-status/builds/6609816/sessions/8/?accessToken=9jo934IjoVP97js8q1s0eFSGNoY

[2017-09-22 17:24] yenda opened #1915 "Cannot update react-native-swiper further than 1.5.10"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to update the react-native-swiper to new versions in order to benefit from future performance improvements/bug fixing without breaking the application
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like,

[2017-09-23 12:45] oskarth opened #1917 "Make status-go upgrades possible without touching react-native-webview-bridge"
### User Story

As a developer, I don't want to have to do go to https://github.com/status-im/react-native-webview-bridge and commit an update status-go commit when I should be able to do it directly from status-react. It's also easy to forget and leads to annoying bugs.

### Description

*Type*: Bug/Tooling

### Solution
*Summary*: Turn these two PRs:

- https://github.com/status-im/status-react/

[2017-09-24 08:33] rasom commented on #1917
I was trying to use [`Function`](https://docs.oracle.com/javase/8/docs/api/java/util/function/Function.html) interface (by wrapping `Statusgo.CallRPC` call) in order to do this without adding common dependencies between `react-native-webview-bridge` and `react-native-status`. Unfortunately didn't find the way to use java 8 in android's runtime, maybe just haven't put enough efforts..

[2017-09-25 07:07] yenda commented on #1817
See also this report for when sync is in progress: https://github.com/status-im/status-react/issues/1902

(should be fixed with the update of react-native-swiper)

[2017-09-25 10:03] oskarth opened #1923 "Make app build and run using Xcode 9 (requires upgrading realm)"
As a developer I want to use the latest version of Xcode to build and run the app. Additionally, I want to stay up to date with realm dependency.

### Description

Using Xcode 9 the app currently doesn't build due to semantic issues in Realm. This has been fixed in later versions of Realm. Currently we have a `^0.14.3` dependency of realm which means we have missed out on the whole major 1 version

[2017-09-25 10:58] asemiankevich commented on #1902
Fixed in 0.9.10-117-g08d1f94e+

[2017-09-25 10:58] asemiankevich commented on #1893
Fixed in 0.9.10-117-g08d1f94e+

[2017-09-25 11:09] #1893 closed, assigned to yenda

[2017-09-25 12:10] oskarth commented on #1923
Also seeing this:

[code]

UPDATE: This seems to be a problem with realm upgrade, see that issue. I don't know if there are more issues or not with Xcode9 upgrade.

[2017-09-25 12:22] oskarth commented on #1923
Updated user story: As a developer, I want to get on with my life and fix core problems we are having, not spend time wrestling with a less than week old version of Xcode that's more like a release candidates and Apple pushed on me behind my back.

Attempting to downgrade to 8.3.3. Hopefully some Xcode 9 issues will resolve themselves in coming weeks. Realm 1.X upgrade has to be done beforehand re

[2017-09-25 12:25] oskarth opened #1926 "Upgrade realm to 2.X.X version"
We are running `^.0.14.3` and last version of realm is `1.2` something. `1.0.0` was released early this year. We need to upgrade to avoid semantic issues in RealmJS errors before we can build and run the app on Xcode.

See https://github.com/status-im/status-react/issues/1923

Type: Bug

[2017-09-25 12:45] oskarth commented on #1923
To toggle versions of xcode, you can download previous version here https://developer.apple.com/download/more/ then rename `app` to `Xcode8` and `Xcode9` then run: `sudo xcode-select --switch /Applications/Xcode8.app/`. Could be useful for the person who ends up taking this issue.

[2017-09-25 13:01] goranjovic commented on #1923
I am getting simulator version conflicts even with 8.3.3

[2017-09-25 13:34] annadanchenko commented on #1906
After tap on notification, there are these lines in log:
`default	16:30:22.794767 +0300	StatusIm	DEBUG [status-im.utils.notifications:46] - on-notification aps:  {:alert {:title "Status - new message", :body "ping"}}

default	16:30:22.795366 +0300	StatusIm	DEBUG [status-im.utils.notifications:47] - on-notification data:  {:sum "Happy Day", :msg "Hello World1"}`

iOS only
build  0.9.11d120
Branch:

[2017-09-25 14:14] oskarth commented on #1926
FWIW I saw this:

[code]

When trying to upgrade realm on Xcode 8.3.3 too. Stopping this because it isn't high priority right now.

[2017-09-25 14:16] oskarth commented on #1923
@goranjovic Could you elaborate? if you mean things like 14->13 error or printing wrong schema in logs, this is likely because of switching branches. Easiest to fix is to uninstall app, use a different device or reset contents for whole simulator device.

[2017-09-25 14:18] annadanchenko commented on #1863
Tested OK
iOS iphone 6s real and Android 8.0 real Google Pixel XL

[2017-09-25 15:39] annadanchenko commented on #1899
New `bugfix/eth-send-tx-#1899` build #5
### iOS
1. For Auction House: if initiate transaction then Unsigned transactions screen is shown, can Confirm transaction by providing valid password. However, after transaction is done the expected action "Reserving name" is not done, DApp shows error and refers to log that I can't find. https://app.testfairy.com/projects/4803590-status/builds/6627925/sessi

[2017-09-25 15:49] wighawag commented on #1751
Any update on this ?

[2017-09-25 17:10] oskarth commented on #1917
FWIW Fix in PR (`+`) version doesn't seem to have worked. See https://github.com/status-im/status-react/pull/1914 where before https://github.com/status-im/status-react/pull/1914/commits/f04f69525eb299debc900ba48779b35430ef5bd1 Android specific bug to previous version existed, and stopped existing after. So `+` doesn't appear to have used the latest status-go version we want.

[2017-09-25 17:55] #1827 closed, assigned to yenda

[2017-09-26 07:41] asemiankevich commented on #1862
This is fixed in `0.9.10-120-ge1b2dd32+`

[2017-09-26 12:01] #1917 closed, assigned to rasom

[2017-09-26 14:25] asemiankevich opened #1935 "No password validation on Unsigned transactions screen [0.9.11]"
### Description

*Type*: Bug

*Summary*: I can sign transaction with any password I like and it is being sent and shown on Ropsten Testnet

#### Expected behavior
Password validation should be present when sigining transactions

#### Actual behavior
No password validation, I can sign and send transaction with any password I like and see in on Ropsten
https://ropsten.etherscan.io/address/0xc26e4919

[2017-09-26 14:45] oskarth commented on #1935
Issue is on status-go side, when we switched to Infura a different code path is taken for completing a transaction, and for remote nodes password isn't taken into account. https://github.com/status-im/status-go/blob/develop/geth/node/txqueue_manager.go#L204-L283

[2017-09-26 14:48] asemiankevich opened #1936 "java.lang.NullPointerException: Attempt to invoke virtual method error in /location command[0.9.11]"
### Description

*Type*: Bug

*Summary*: **NOTE:** this issue is difficult to reproduce
I catched a random crash with `java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.maps.MapView.onResume()' on a null object reference` error when sending `/location` messages in 1x1 chat. Suppose it relates to slow map rendering or so but further investigation needed.

!

[2017-09-27 00:23] kylerchin opened #1939 "Add IPFS / ENS To Status!"
### User Story

As a developer and user, I want to run my decentralized apps server-less so that everybody can access apps without censorship.

### Description

The current standard is to call a web server for the data and DApp, however, these servers can be blocked, censored, or even taken offline with a DDOS attack. Also, this is the blockchain age. Servers are useless... right?

### Solution

M

[2017-09-27 08:32] sla-shi commented on #1722
I think we need to revisit the asset management UX in the coming design calls.

[2017-09-27 08:35] #1713 closed, assigned to angusiguess

[2017-09-27 08:43] oskarth opened #1940 "Cocoapods unknown symbols, intermittent linker errors / get rid of Pods"
Sometimes when building from the command line with `xcodebuild -workspace ios/StatusIm.xcworkspace -scheme StatusIm -configuration Debug -destination "platform=iOS Simulator,id=${udid}" -derivedDataPath 'build'` you get linker errors that don't appear when you build from Xcode related to undefined symbols (see logs below).

This seems related to: https://github.com/realm/realm-cocoa/issues/2404#is

[2017-09-27 08:53] sla-shi commented on #1630
Might be already fixed, need to verify with the test team.

[2017-09-27 09:00] annadanchenko opened #1941 "Emoji icon is shown instead of cross (x) at the end of the input field for commands (Android only)"
### Description

*Type*: Bug

*Summary*:  "emoji" icon is shown instead of cross icon (x) at the end of the input field, so user can't delete the selected command. It was possible in 0.9.10 on Android and it's possible now on the same version on iOS.

#### Expected behavior
cross icon is shown so it's possible to delete a command in the input field
![30444170-adecd5d2-998a-11e7-9f55-114ef92dc5e3](

[2017-09-27 09:03] annadanchenko commented on #1768
Moving this issue to Tested as initial bug is fixed and another one #1941 is not caused by this PR (exists in develop also)

[2017-09-27 09:06] #1888 closed, assigned to goranjovic

[2017-09-27 11:36] asemiankevich opened #1944 "Error Lodaing Data error is shown for newly created accounts [0.9.11]"
### Description

*Type*: Bug

*Summary*: `Error Loading Data' message is shown in new wallet and the asset is not updated . I can see recent values for %, asset and USD only when I re-launch the app however the error message is still in place

Per Goran: I think this is the same issue I found. The problem there is that `calculatePrice` in wallet bot sometimes throws error "Invalid JSON RPC respons

[2017-09-27 11:44] annadanchenko opened #1945 "Controls from send command are shown in chat (fee slider, amount) instead of unsigned transaction screen"
### Description

*Type*: Bug

*Summary*: Controls from send command are shown in chat (fee slider, amount) instead of unsigned transaction screen if quickly type send parameters and tap on send icon. Issue can be reproduced about 3 times out of 5 attempts. Sometimes during these attempts app also crashes

<img width="363" alt="screen shot 2017-09-27 at 13 28 19" src="https://user-images.githubuser

[2017-09-27 11:47] #1851 closed, assigned to jeluard

[2017-09-27 11:49] flexsurfer opened #1946 "Wallet - design review - main screen"
![image](https://user-images.githubusercontent.com/11790366/31083178-a85b12c4-a799-11e7-8b04-4731adaf135c.png)
![image](https://user-images.githubusercontent.com/11790366/31083200-baf95738-a799-11e7-870b-b1c9e1049ddf.png)

[2017-09-27 11:51] flexsurfer opened #1947 "Wallet - design review - choose recipient"
![image](https://user-images.githubusercontent.com/11790366/31083279-facd8096-a799-11e7-8e4e-cd9257ee6011.png)
![image](https://user-images.githubusercontent.com/11790366/31083286-0204f6be-a79a-11e7-9ddd-768d1e08d5d1.png)

[2017-09-27 11:53] flexsurfer opened #1948 "Wallet - design review - transactions-history"
![image](https://user-images.githubusercontent.com/11790366/31083357-2c5cde68-a79a-11e7-8903-15877d218f66.png)
![image](https://user-images.githubusercontent.com/11790366/31083369-31696278-a79a-11e7-9fff-7a4b747c1245.png)
![image](https://user-images.githubusercontent.com/11790366/31083385-3a8d5d32-a79a-11e7-9f8b-d7cee51f4226.png)
![image](https://user-images.githubusercontent.com/11790366/3108339

[2017-09-27 15:17] oskarth commented on #1944
@asemiankevich It seems like the majority of logs are gone. Is that a special build of some kind? Anyway it seems like it isn't a blocker for the release so I guess it isn't a high-prio fix.

[2017-09-27 16:19] x-goose-x opened #1949 "Flashlight button on choose recipient screen doesn't work"
### User Story

As a user, I want to be able to turn on the flashlight when trying to scan an QR code.

### Description

*Type*: Bug

*Summary*:

- When clicking on the flashlight button on the choose recipient screen, the icon state doesn't
toggle and the flashlight doesn't turn on.

#### Expected behavior
Button should toggle, flashlight should turn on.

#### Actual behavior
TODO: Not Implemente

[2017-09-27 16:29] oskarth commented on #1940
Spent a bit of time on this but couldn't figure out how to link things right: framework paths, header search paths, filesystem vs xcode mismatch, search order, RCTStatus also depending on Instabug, different import conventions, etc.

`/Users/oskarth/git/status-react/node_modules/instabug-reactnative/ios/RNInstabug/InstabugReactBridge.m:8:9: fatal error: 'Instabug/Instabug.h' file not found` is the

[2017-09-27 18:03] 3esmit commented on #1630
I guess no, I think might be a device specific issue as I'm the only one having this issue, I'm up to doing any debug requested.

[2017-09-27 18:32] sla-shi commented on #1944
Got the same issue in the epic/wallet build, but instead of 0 it displays ...
![image](https://user-images.githubusercontent.com/1944596/30930747-494ddd24-a3cb-11e7-8fc5-bb5e99b80d83.png)

[2017-09-27 19:02] sla-shi commented on #1524
#1824 fixed
#1813 fixed
#1829 fixed

#1814 open, not critical
#1816 open, not critical

[2017-09-27 19:06] sla-shi opened #1951 "Wallet - Asset list - add test ERC20 token"
### User Story

As a developer, I want to have the test ERC20 token listed in new wallet to breakdown the development of the asset management story #1722.

Extends the Wallet Main screen story #1523.
See also #1654

#### Acceptance
- [ ] I can see the test token balance in the asset list

#### Removed from scope
- I can refresh the test token value by pull-to-refresh gesture
- I can see the curren

[2017-09-27 19:32] sla-shi opened #1952 "Wallet - Unsigned transactions"
### User Story

As a user, I want to access unsigned transactions so that I can sign it all at once or one by one.

Extends #1524.

### Acceptance

- [x] I can access the list of Unsigned transactions in the Transactions history screen
- [x] I can review the unsigned transaction details (wallet, currency, fee) and update its parameters (recipient, amount)
- [x] I can delete unsigned transaction
-

[2017-09-27 20:14] sla-shi commented on #1897
@asemiankevich can we close this, because we have updated the Send transaction UX?

[2017-09-28 06:41] annadanchenko opened #1953 "'Invalid keyword :0' error on sign in. Can't sign in [0.9.11]"
### Description

*Type*: Bug

*Summary*: After using app for a while (it has several 1-1 chats and group chats) I've got white screen on switching between tabs, here is test session: https://app.testfairy.com/projects/4803622-status/builds/6644342/sessions/23/?accessToken=xBJNGlGwjipacKl/tqw5ktecolA This was a reason to re-launch the app. After this I can't sign in because after entering password

[2017-09-28 12:00] annadanchenko opened #1954 "If type fast then incomplete amount is shown for send command in "Specify amount" section [0.9.11]"
### Description

*Type*: Bug

*Summary*: When the amount for send command  is typed fast in the input field then only part of the typed amount is shown in "Specify amount" section. For example, typed amount is 123456 in the input field and only 12 is shown. In addition, fee is shown as "0.0000000 ETH" in such case

![screenshot_20170928-145308](https://user-images.githubusercontent.com/6584810/309

[2017-09-28 12:17] asemiankevich commented on #1897
@sla-shi yes

[2017-09-28 12:17] #1897 closed, assigned to nobody

[2017-09-28 12:37] flexsurfer commented on #1944
`Unable to get balance:  Error: can't fetch trie key b1c65793e228f499aed19828c37310908c12549b33b23ea516ef3da6bdf688fa: no suitable peers available`

[2017-09-28 13:14] annadanchenko opened #1956 "Popup "MESSAGE:refreshing prop must be set as a boolean in order to use on Refresh, but got null" on sign in"
### Description

*Type*: Bug

*Summary*: After sign in got Popup "MESSAGE:refreshing prop must be set as a boolean in order to use on Refresh, but got null" on launching. Not sure hot to reproduce it

test session: https://app.testfairy.com/projects/4803622-status/builds/6644342/sessions/24/?accessToken=AL-OTY5eY33I81l18A/O9oOIkpg

#### Expected behavior
no popups

### Reproduction

- Open Status

[2017-09-28 13:46] asemiankevich commented on #1127
attaching TF: https://app.testfairy.com/projects/4803622-status/builds/6655902/sessions/16/?accessToken=CobZgJaTO9KSc8TD9yjgO7-5KGw (from 1.50)

STR: use `0.9.11` release candidate build https://i.diawi.com/Zuhm98 and switch fast between tabs right after login. The same can be reproduced when resuming the app from background

[2017-09-28 14:39] annadanchenko opened #1958 "Sometimes there is no Unsigned Transaction screen after sending send command in chat [0.9.11]"
### Description

*Type*: Bug

*Summary*: Sometimes nothing happens if send a transaction in chat. So, user has enough funds, in 1-1 chat creates a valid send command, e.g /send Jarrad 0.1, taps on send button and nothing happens. Would expect to see Unsigned transaction screen. After waiting for 5 minutes and doing no other actions there is error shown "Transaction timeout", so it seems like trans

[2017-09-29 08:55] flexsurfer opened #1961 "Clean up project from raster images"
[comment]: # (Please replace ... with your information. Remove < and >)

Most images have been moved to vector https://github.com/status-im/status-react/tree/develop/resources/icons

We need to clean up ios and Andorid (https://github.com/status-im/status-react/tree/develop/android/app/src/main/res) projects from raster images

[2017-09-29 09:29] asemiankevich opened #1962 "com.facebook.react.bridge.JSApplicationIllegalArgumentException [0.9.11]"
### Description

*Type*: Bug

*Summary*: NOTE: I can't reproduce this issue, need some help.

[code]

#### Actual behavior
App crashed when selecting recipient for request command in group chat with the following error:
`com.facebook.react.bridge.JSApplicationIllegalArgumentException: Error while updating property 'selection' of a view managed by: AndroidTextInput
ViewManagersPropertyCache.java:90

[2017-09-29 12:32] annadanchenko opened #1963 "Crash after error "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.util.ArrayList.add(java.lang.Object)' on a null object reference" when select recipient for send command"
### Description

*Type*: Bug

*Summary*: Sporadic error, hard to reproduce.
In group chat when select recipient for send command sometimes there is popup shown "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.util.ArrayList.add(java.lang.Object)' on a null object reference" after closing a popup app crashes.

![screenshot_20170929-150853](https://user-images.githubus

[2017-09-29 13:33] annadanchenko opened #1965 "Several DApps (Auction House, Flight Delays, Etherplay) consider app not connected to the network"
### Description

*Type*: Bug

*Summary*:
1. web3.version.network in Console returns ```{:message "The method net_version does not exist/is not available", :name "Error"}'```
2. If open several DApps (Auction House, flight Delays Sucks..) they do not show network, address and balance as expected. Instead they consider app not in the network:
![img_2342](https://user-images.githubusercontent.com/658

[2017-09-29 15:30] divan commented on #1965
Should be fixed in https://github.com/status-im/status-go/pull/377

[2017-09-30 10:28] annadanchenko commented on #1965
tested ok on release 0.9.11 build 0.9.11d120

[2017-09-30 10:28] #1965 closed, assigned to nobody

[2017-09-30 10:32] annadanchenko commented on #1941
verified ok on release 0.9.11 build 0.9.10-120-g971d1104

[2017-09-30 10:35] annadanchenko commented on #1945
verified ok on release 0.9.11 build 0.9.10-120-g971d1104

[2017-09-30 10:35] #1945 closed, assigned to nobody

[2017-09-30 10:38] annadanchenko commented on #1779
verified ok on release 0.9.11 build 0.9.10-120-g971d1104

[2017-09-30 10:38] #1779 closed, assigned to nobody

[2017-09-30 10:39] annadanchenko commented on #1899
verified ok on release 0.9.11 build 0.9.10-120-g971d1104

[2017-09-30 10:39] #1899 closed, assigned to oskarth

[2017-09-30 10:43] annadanchenko commented on #1935
verified ok on release 0.9.11 build 0.9.10-120-g971d1104

[2017-09-30 10:43] #1935 closed, assigned to nobody

[2017-10-01 01:16] kylerchin commented on #1952
Looks Awesome! @sla-shi
I would like the increased security focus.

[2017-10-01 01:22] kylerchin commented on #1951
Awesome! Well done! @sla-shi

[2017-10-02 06:49] goranjovic opened #1968 "Discover DApps preview"
### User Story

As a user I want to be able to discover interesting dapps to interact with.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: A section in new Discover screen should show a carousel with all (currently hardcoded dapps).

When user taps on any dapp icon, they should be redirected to a dapp detail screen.
When user taps on `All`, they should b

[2017-10-02 07:17] goranjovic opened #1969 "Discover Public chats teaser"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see how public chats discovery will look like when it is added to the app.
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: A section in new Discover screen should show a grayed out widget with hardcoded samples of discovered public chats.

https://a

[2017-10-02 07:42] goranjovic opened #1970 "Jenkins - Deploy to iOS fails silently if upload is unsuccessful"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer I want to have successful builds and when they do fail I want them marked as such.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Upload to diawi fails, but script proceeds all green and posts a link like this: `https://i.diawi.com/null`

http://185.90.37.243:808

[2017-10-02 09:18] flexsurfer opened #1971 "Wallet - show transaction fee on send transaction screen and check balance before send"
![image](https://user-images.githubusercontent.com/11790366/31071194-d117f318-a76b-11e7-9ab3-ebdcbae574f8.png)

[2017-10-02 10:57] goranjovic opened #1972 "Discover Dapps - show all screen"
### User Story

As a user I want to be able to discover interesting dapps to interact with.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: A screen where all discoverable dapps are shown. The list is hardcoded in this iteration and it is the same as in the contacts.

When user taps on any dapp icon, they should be redirected to a dapp detail screen.
When

[2017-10-02 10:59] goranjovic opened #1973 "Discover - DApp details screen"
### User Story

As a user I want to be able to discover interesting dapps to interact with.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: A screen where details about a dapp reached via discover are shown.

When user taps on Open icon, the chat should start with the dapp (or browse?)
When user taps on `Back`, they should be redirected to main Discover s

[2017-10-02 12:20] asemiankevich opened #1975 "Wallet: QR scanner in SEND flow is not scanning QRs"
### Description

*Type*: Bug

*Summary*: Can't scan QRs within wallet QR scanner in Send transaction flow

#### Expected behavior
I can scan QRs and use this functionality to add recipient

#### Actual behavior
Nothing happens when trying to scan QR. Double tap into the camera area leads the following error that crashes the app:

[code]

![image](https://user-images.githubusercontent.com/28752642/

[2017-10-02 12:33] rasom opened #1976 "Predefined networks"
As a user, I want to be to able to switch to one of the next networks:
1. Ropsten network
2. Ropsten network with upstream RPC (default)
3. Rinkeby network
4. RInkeby network with upstream RPC
5. Mainnet network
6. Mainnet network with upstream RPC

[2017-10-02 12:38] goranjovic opened #1977 "Discover - Implement recent statuses and statuses per popular tags"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see all recent statuses posted by my contacts.
As a user I also want to see the most popular hashtags used in statuses shared with me and I want to browse the statuses by those tags.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

This issue was retroactively

[2017-10-02 12:47] rasom opened #1978 "Restart application on switching network"
As a user, I want to switch networks without crashing Status, the application should be restarted after choosing network.

A warning like "switching networks will close app and when you restart you'll be on new network" should be shown.

[2017-10-02 14:31] asemiankevich commented on #1843
https://github.com/status-im/status-react/issues/1975 logged

[2017-10-02 14:52] flexsurfer opened #1979 "Wallet - design review - transactions details"
![image](https://user-images.githubusercontent.com/11790366/31083454-60d078da-a79a-11e7-9e0d-cde4f0e00644.png)
![image](https://user-images.githubusercontent.com/11790366/31083480-794f0624-a79a-11e7-9fa0-590bcdc43ab6.png)

[2017-10-02 14:55] flexsurfer opened #1980 "Wallet - design review - send transaction"
![image](https://user-images.githubusercontent.com/11790366/31083526-9931c8be-a79a-11e7-979f-7587cf2c74ae.png)
![image](https://user-images.githubusercontent.com/11790366/31083531-9d9d4900-a79a-11e7-8aa9-afd4a98b4006.png)
![image](https://user-images.githubusercontent.com/11790366/31083537-a1da310e-a79a-11e7-8209-8afb6e844184.png)
![image](https://user-images.githubusercontent.com/11790366/3108354

[2017-10-02 14:56] flexsurfer opened #1981 "Wallet - design review - request transaction"
![image](https://user-images.githubusercontent.com/11790366/31083660-f012d22c-a79a-11e7-8fa6-2d44b1627ed8.png)
![image](https://user-images.githubusercontent.com/11790366/31083671-f4912bc8-a79a-11e7-88f7-5bb059cbc64a.png)
![image](https://user-images.githubusercontent.com/11790366/31083682-0171f7dc-a79b-11e7-9c90-08b33e8bfe14.png)
![image](https://user-images.githubusercontent.com/11790366/3108369

[2017-10-02 16:23] x-goose-x opened #1983 "Choose Recipient navigation fixes"
### User Story

As a user, I want QR code scans and pastes to navigate back to the Send Transaction screen.

### Description

*Type*: Bug

*Summary*:  QR scanning and pasting from clipboard used an outdated data model and didn't navigate the user to the correct screen.

#### Expected behavior
- Scanning a QR code should navigate the user to Send Transaction
- Pasting an address from clipboard shou

[2017-10-02 18:41] oskarth commented on #1972
@goranjovic To clarify, is this the DApps list screen in Zeplin?
![image](https://user-images.githubusercontent.com/1552237/31093424-0315aab8-a7b2-11e7-9436-b7c9791ff51f.png)

[2017-10-02 18:45] oskarth commented on #1973
![image](https://user-images.githubusercontent.com/1552237/31093617-928eda48-a7b2-11e7-9efd-e30147b3d0c0.png)

[2017-10-02 18:45] oskarth commented on #1968
![image](https://user-images.githubusercontent.com/1552237/31093653-ad4d22fe-a7b2-11e7-84f1-3636beb07ca6.png)

carousel part (middle)

[2017-10-02 18:46] oskarth commented on #1969
Looks like the bottom part of main screen:
![image](https://user-images.githubusercontent.com/1552237/31093684-d102a1d8-a7b2-11e7-8778-591b73b12fd5.png)

[2017-10-02 19:06] denis-sharypin commented on #1972
@oskarth yes

[2017-10-02 20:37] rasom commented on #1978
Switching between networks with upstream RPC works without crashing.

[2017-10-03 06:09] flexsurfer opened #1988 "Implement network labels"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see right labels with the right network names and descriptions (warnings for testnet and mainnet)

### Description
As we have network switching in develop we should fix all network labels according to current network
in profile
in wallet
etc

[comment]: # (Feature or Bug? i.e Type: Bug)
*T

[2017-10-03 11:02] asemiankevich opened #1989 "Wallet: Error message shown when tapping Sign all button on Unsigned transactions screen"
### Description

*Type*: Bug

*Summary*: Sign all functionality allows user to sign all tarnsactions on Unsigned transactions screen, however it is not working now and error message is shown

#### Expected behavior
Sign all functionality is not implemented now

#### Actual behavior
Error ` *no print-fn* fn set for evaluation environment`

![image](https://user-images.githubusercontent.com/28752642

[2017-10-03 11:05] asemiankevich commented on #1952
https://github.com/status-im/status-react/issues/1989 logged for Sign all functionality

[2017-10-03 11:10] asemiankevich opened #1990 "Wallet: implement error handling for send amount"
### Description

*Type*: Bug

*Summary*: Error handling for `send` amount should be implemented in Wallet to cover the following cases:
- user is sending amount which is bigger than actual balance
- error in web3 happened

#### Expected behavior
User-friendly error message is shown in above-listed cases

#### Actual behavior
Nothing happens for now

### Additional Information
* Status version: 0.9

[2017-10-03 11:22] asemiankevich opened #1991 "Wallet: implement validation for scanned QR code and copypasted content in Choose recipient flow"
### Description

*Type*: Bug

*Summary*: Need to add validation for scanned QR code and copy pasted content when selecting recipient on Choose Recipient screen

#### Expected behavior
- choose recipient -> scan QR code with opened qr scanner -> popup should be shown for all scnned content except valid account address
- choose recipient -> use address from clipboard ->popup should be shown for all

[2017-10-03 11:28] asemiankevich opened #1992 "Wallet: Show loading indicator when Sign Transaction is tapped (same loading as for Sign in screen)"
### Description

*Type*: Bug

*Summary*: Show loading indicator when Sign Transaction is tapped (same loading as for Sign in screen)

#### Expected behavior
Loading indicator (same as for Sign in screen) is shown when tapping Sign Transaction

### Additional Information

* Status version: 0.9.10-159-g4b6f920e+ (1716)
* Operating System: Android, iOS

[2017-10-03 11:38] asemiankevich opened #1993 "Wallet: Main wallet amount is not updated"
### Description

*Type*: Bug

*Summary*: Main wallet shows 0 USD with no respect of actual user balance

#### Expected behavior
Main wallet should reflect actual user balance

#### Actual behavior

Actual balance is shown on Wallet main screen but is not updated in Main wallet
![image](https://user-images.githubusercontent.com/28752642/31123215-a38ae0b8-a847-11e7-8c88-9066a6bf7385.png)

![image](h

[2017-10-03 12:16] andmironov commented on #1946
hey guys, let's trim the wallet's name with `...` on android?

[2017-10-03 12:17] andmironov commented on #1947
the paddings in buttons seem to be a little off on both platforms, please double check

[2017-10-03 12:20] andmironov commented on #1948
- a corner radius issue in `Sign` button on IOS screen
- did we solve this technical issue with letter-spacing in tab names on Android?

[2017-10-03 12:21] andmironov commented on #1979
let's give some more space to labels
![Uploading IOS_Wallet-transaction-details Copy 3.png…]()

[2017-10-03 12:24] andmironov commented on #1980
- the field labels are a little cut on the bottom (this looks very bad, please fix) :-)
- let's use monospace typeface (Roboto Mono) for the security phrase
- the `Transaction Sent` on success screen should be semibold

[2017-10-03 13:38] flexsurfer opened #1994 "Wallet implement send command transaction signing UI and remove old transactions UI"

[2017-10-03 13:39] rasom commented on #1989
https://github.com/status-im/status-react/blob/8d2992d1a41601596c42f46afcebbef7d3bbf6a8/src/status_im/ui/screens/wallet/transactions/views.cljs#L69

[2017-10-03 14:47] asemiankevich commented on #1941
I can't reproduce it in ` 0.9.10-159-g4b6f920e+ (1716)`, closing

[2017-10-03 14:47] #1941 closed, assigned to flexsurfer

[2017-10-03 14:57] asemiankevich commented on #1580
Can't reproduce it in recent develop ` 0.9.10-159-g4b6f920e+ (1716)` , closing

[2017-10-03 14:57] #1580 closed

[2017-10-03 15:16] goranjovic opened #1996 "nice have: Navigate to profile screen from shown status"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be able to navigate to profile screen of the person whose status I am viewing in Discover.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: When status is rendered in various Discover screens, it includes the display name and profile image of its au

[2017-10-03 15:20] goranjovic opened #1997 "Render a shortened version of status in main Discover screen"
### User Story

As a user I don't want my Discover screen real-estate to be monopolized by chatty status authors. Instead, I want too long statuses to be shown shortened to three lines and when or if I want to read all of it I can tap it and be redirected to the full status in author's profile screen.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

For example see:

[2017-10-03 15:50] annadanchenko commented on #1130
Issue can't be reproduced with the described steps (to set Poor connection in emulator) but it exists in auto test runs, e.g in http://185.90.37.243:8080/job/end-to-end-test-automation/sauce-ondemand-report/jobReport?jobId=5024a26691cf4f9383eb2bd41fefdcdc

[2017-10-03 16:20] goranjovic opened #1999 "Include images for empty recent statuses and empty statuses per hashtags"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want empty lists in Discover to be beautiful, because that's likely how I will see this screen for the fist time.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: This is a small task, just embed the `svg`s or `png`s.

Second row: https://app.zeplin.io/proj

[2017-10-03 16:23] goranjovic commented on #1999
We'll use the png.

[2017-10-03 17:40] goranjovic opened #2000 "Refactor imperative multiple dispatch usage of navigate-to"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Refactor

When we want app to navigate to a different screen we dispatch a re-frame event `navigate-to` with the screen identifier as the parameter, e.g.

```(re-frame/dispatch [:navigate-to :discover-search-results])```

So far, so good. Now, if the said s

[2017-10-03 17:44] goranjovic opened #2001 "Formalize requirements for SVG files we include in the app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer I need to have a clear checklist of requirements for any SVG resources that need to be included in the app.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Documentation

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what

[2017-10-03 18:07] #1818 closed, assigned to oskarth

[2017-10-03 18:10] jeluard commented on #2000
It makes sense to consider #1592 when implementing this.

[2017-10-03 18:11] jeluard commented on #1996
It makes sense to consider #1592 when implementing this. We might also want to let deep links point to those profiles.

[2017-10-04 00:17] janherich commented on #2000
I propose intermediate solution, not bringing another library in, or depending on https://reactnavigation.org/ (even if that is what we probably should do in the long run), but something which could be done in minimal effort and still solve the imperative approach which we are unfortunately currently fielding all over the app.

The case with 2-event dispatch described by @goranjovic can be current

[2017-10-04 06:18] flexsurfer commented on #2001
https://wiki.status.im/Adding_new_icon_to_status-react

[2017-10-04 06:30] goranjovic commented on #2001
Haha, awesome :+1: Wiki Friday ftw

[2017-10-04 06:30] #2001 closed, assigned to nobody

[2017-10-04 06:32] goranjovic commented on #2000
In any case, let's hold on this one. We can probably live with it for several more weeks at least.

[2017-10-04 08:21] annadanchenko commented on #584
Outcome of the test call, current tasks in order of importance for new Wallet:

## Issues to fix
### Must Scope

### Nice to have scope
*********** Nice to have scope - take issues below only if list above is done **************

- [ ] **Eric** Scientific notation for amount is shown on Sent Transaction screen if opened from Unsigned tab or from chat #2054
- [ ] go back to tx list (history and uns

[2017-10-04 10:43] annadanchenko opened #2003 "Wallet: Unsigned header shows wrong number of transactions after transaction is expired"
### Description

*Type*: Bug

*Summary*: New Wallet -> Transactions -> Unsigned
header shows number of transactions in the list, e.g `Unsigned 1`. After transaction is expired and removed from the list the header is not updated and shows old count number. Expected: update the header, so
1. if there are no transactions should be `Unsigned`
2. if there are some other transactions left then it should

[2017-10-04 12:30] asemiankevich opened #2004 "Discover: initial account status is missing on Discover screen in specific scenario [develop]"
### Description

*Type*: Bug

*Summary*: On Discover screen I don't see the initial status for account which was set up prior the account was added to someone's contacts

#### Expected behavior
Status list is updated real time on discover screen for all the participants

#### Actual behavior
Contact B can see his own hastag and A's hashtag. Contact A can see only its own hash tag.

### Reproductio

[2017-10-04 13:56] asemiankevich commented on #1975
For the crash we have separate issue logged already https://github.com/status-im/status-react/issues/1774
The QR scanner is now working as expected in latest develop `0.9.10-162-gcede0957+`. Closing this issue

[2017-10-04 13:56] #1975 closed, assigned to angusiguess

[2017-10-04 13:58] asemiankevich commented on #1774
I can reproduce it when tapping twice in the QR code scanner of new wallet
![image](https://user-images.githubusercontent.com/28752642/31179634-22b6018c-a925-11e7-9f7b-78beb73c7c34.png)

[code]

[2017-10-04 14:05] asemiankevich commented on #1624
I can't reproduce this in latest develop `0.9.10-162-gcede0957+`, closing

[2017-10-04 14:05] #1624 closed, assigned to janherich

[2017-10-04 14:16] asemiankevich commented on #1977
Assuming the UI part will be implemented in later PRs that is moved to Tested

[2017-10-04 14:27] asemiankevich commented on #1773
This is tested with reference to list of open wallet issues to be resolved https://github.com/status-im/status-react/issues/584#issuecomment-329427213. Design review showed several remarkes that should be fixed

[2017-10-04 14:29] asemiankevich commented on #1843
https://github.com/status-im/status-react/issues/1975 is now closed. However we still have https://github.com/status-im/status-react/issues/1774 which I would like to have fixed

[2017-10-04 14:34] asemiankevich commented on #1848
Closed as fixed

[2017-10-04 14:35] #1848 closed, assigned to oskarth

[2017-10-04 17:49] jeluard opened #2009 "Wallet: do not rely on default gas"
### User Story

As a developer I want to control default gas used when calling `sendTransaction`. This allows to provide better feedback to users and provide consistent experience across `web3` providers.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

#### Expected behavior

When sending ethers a warning should be displayed if user balance is lower then amount + ga

[2017-10-04 18:32] x-goose-x commented on #1130
[code]

- Here's an example of the geth node in status module starting with an error.
It fails silently and won't process any more requests, resulting in :received-message-when-commands-loaded
polling forever.

http://185.90.37.243:8080/job/end-to-end-test-automation/sauce-ondemand-report/jobReport?jobId=547f25f876c84d02bf74f5b6be2c5e09

- In this case the only logged re-frame messages are `:statu

[2017-10-04 19:51] sla-shi commented on #104
Removing from the milestone backlog - unlikely that we can start working on this near term.

[2017-10-04 20:10] sla-shi commented on #641
I checked the login activity indicator is implemented in 0.9.11.

[2017-10-04 20:10] #641 closed, assigned to andmironov, annadanchenko

[2017-10-04 20:19] sla-shi commented on #989
Not applicable with the new wallet implementation.

[2017-10-04 20:19] #989 closed

[2017-10-04 20:46] sla-shi commented on #1286
@anna I can't reproduce it in 0.9.11, can we close it?

[2017-10-04 20:50] sla-shi commented on #1550
@asemiankevich any new statistics on this?

[2017-10-04 20:56] x-goose-x commented on #1774
Looks like we've run into this before: https://github.com/status-im/status-react/issues/148

For instances of the camera that don't use any touch, I think this can be fixed by preventing touch events on the camera. This can fix choose recipient but not the profile camera. We might be able to work around it using lifecycle functions but I haven't tried yet.

[2017-10-04 20:58] sla-shi commented on #1621
Removing from the current milestone as a minor issue. The original bug does not reproduce in 0.9.11.

[2017-10-04 21:21] sla-shi commented on #1887
@asemiankevich can we close it now?

[2017-10-04 21:23] sla-shi commented on #1870
@asemiankevich closing this?

[2017-10-04 21:31] #1601 closed

[2017-10-04 21:43] rasom commented on #1130
this actually means that node was started without error

[2017-10-05 03:42] kylerchin commented on #2009
+1

[2017-10-05 07:00] #1977 closed, assigned to goranjovic

[2017-10-05 07:20] asemiankevich commented on #1870
@sla-shi yes. Closed.

[2017-10-05 07:20] #1870 closed, assigned to nobody

[2017-10-05 07:28] asemiankevich commented on #1550
@sla-shi no

[2017-10-05 07:47] annadanchenko opened #2014 "App installed from TestFlight crashes on iOS 11.0.2"
### Description

*Type*: Bug

*Summary*: After update to iOS 11.0.2 and uninstalling previous app build I've installed 0.9.11 release from testflight. On launching the app it crashes.
So, I've uninstalled it, installed develop build and it launches without crash. Than I've deinstalled develop build and installed TestFlight version that runs ok, so crash can't be reproduced anymore

### Reproductio

[2017-10-05 08:12] #1990 closed, assigned to jeluard

[2017-10-05 08:30] jeluard commented on #1946
@andmironov Indeed that's an issue but shouldn't we try to have short name in most languages?

[2017-10-05 08:31] jeluard commented on #1948
Corner radius is now correct.

@yenda Can you comment on the `letter-spacing` issue?

[2017-10-05 08:39] asemiankevich commented on #1525
Moving to tested with the reference to https://github.com/status-im/status-react/issues/584#issuecomment-329427213

[2017-10-05 09:22] oskarth commented on #1972
Just for my own reference

![image](https://user-images.githubusercontent.com/1552237/31220049-7bce5c98-a9bf-11e7-8e47-7870b806b1a8.png)

[2017-10-05 10:17] yenda opened #2016 "[wallet] Scientific notation is shown for small amounts in transaction history and unsigned transactions list"
### Description

<img width=320 src=https://user-images.githubusercontent.com/1181225/31222265-d816a2c4-a9c6-11e7-9133-43bff53e9291.png />

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)
Send a transaction with an amount of 0.0000001 ETH

### Solution

Use ```(money/wei->str :eth amount)```

[2017-10-05 13:04] annadanchenko opened #2018 "When going back from details in unsigned transaction the tab should be unsigned transaction not history"
### Description

*Type*: Bug

*Summary*: If go back from unsigned transaction details then I would expect tab Unsigned with List of Unsigned transactions. Currently, there is History tab shown

### Reproduction

- Add transaction to unsigned
- Open Wallet -> Transactions -> Unsigned
- tap on unsigned transaction to open its Details
- tap on "<" to return back to the list

### Additional Informatio

[2017-10-05 13:18] goranjovic opened #2019 "Replace listview with flat-list in Discover screens"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to rely on a single efficient list implementation

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Refactor

*Summary*: This issue is a subset of #1840 restricted specifically to views in Discover module. This issue is also a subset of #1874