[2019-12-09 14:24] churik commented on #9586
It is random and I saw it in e2e again - so users can see it from time to time as well.
For now I can remove v1 release and we will see how dogfooding of Status will go.

[2019-12-09 14:32] churik commented on #9604
cc @rachelhamlin

[2019-12-09 14:38] rasom commented on #9586
But you haven't reproduced it manually, right?

[2019-12-09 14:40] churik commented on #9586
no, I couldn't either.
I only see it in e2e and fetch all logs.

[2019-12-09 15:00] rasom commented on #9573
3) is not an issue, nothing to confirm there as biometric hasn't been enabled

[2019-12-09 15:03] rasom commented on #9562
@churik tried to reproduce, no success

[2019-12-09 15:04] flexsurfer commented on #9573
3. i mean no popup suggesting to  enable biometric, i expect it every time i select "save password" why it works only first time?

[2019-12-09 15:17] #8414 closed, assigned to nobody

[2019-12-09 15:17] churik commented on #8414
Already have e2e for stickers on mainnet

[2019-12-09 15:53] guylouis commented on #9600
There are two options I guess
- as you described, only one tap of card fater user has input old and new pin (2x).
Pro: only one tap
Con: if user enters a wrong old passcode, he has to enter the full process again (type new passcode two times)
- first ask the user to type his old password, tap the card, if NOK error message, if OK we need to store the passcode in RAM the time for the user to enter

[2019-12-09 15:54] churik opened #9624 "Messages with stickers can't be quoted and used in replies"
# Feature Issue

Not possible to quote message with stickers or reply with stickers to ordinary messages.

### User Story

As a user, I want to be able to quote stickers and reply with stickers.

### Description

**Scenario 1:**
- send sticker to public chat
- try to long-tap on it to have options (I believe only `reply` should be available here)

It can be combined with install pack (now install

[2019-12-09 16:00] errorists commented on #9624
Here are the designs for replying to stickers in chat [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1643%3A749)

However replying with stickers to messages would need some significant changes to how the chat input works and I don't plan on adding that yet. For the time being I think posting a sticker separately after replying is not a deal breaker.

[2019-12-09 16:00] guylouis commented on #9601
The warning should be about that the userneeds to have his pairing password written down somewhere to regain access to his cards, if he lost it he's f***ed, if he has it then he can repair his card to the phone and is not limited in any ways

[2019-12-09 16:14] rasom commented on #9573
@flexsurfer oh I see then, will re-check tomorrow

[2019-12-09 16:17] churik opened #9625 "Placeholders "Enter ENS username" and "Create a topic" are cut on Android"
# Bug Report

## Problem
Placeholders are cut for:
1) + > Start new chat > chat key input field
2) + > Start group chat > "Create a topic"
![photo_2019-12-09 17 11 29 jpeg 2019-12-09 17-12-04](https://user-images.githubusercontent.com/4557972/70452403-5cfa7580-1aa7-11ea-86c9-9544e6388577.png)

#### Expected behavior
placeholders are not cut

### Additional Information

[comment]: # (Please do your

[2019-12-09 16:18] churik commented on #9625
@rachelhamlin small one but extremely visible, might be worth to fix  in v1 scope

[2019-12-09 16:18] rachelhamlin commented on #5242
No crash when I try to open `https://exam•ple.com` on Galaxy S8 from 9/12/19 nightly. Just a page can not be loaded error, in both Status & Chrome.

[2019-12-09 16:27] StatusSceptre commented on #9625
We can fix after feature freeze :)

[2019-12-09 16:41] rachelhamlin commented on #9575
Are we removing the EIP1102 browser tool tip as part of this issue now?

![image](https://user-images.githubusercontent.com/15470435/70454628-be572000-1a78-11ea-8433-27143ad5a6e3.png)

To recap the discussion from Discord:
- By now, modern DApps are compliant with EIP1102.
- And in fact, no longer work if privacy mode is disabled. Thus, the `Always allow` option will break up-to-date DApps.
- As s

[2019-12-09 17:32] churik opened #9626 "App stucks on "Accessing key" if connection with card was lost during recover account after entering wrong PIN"
# Bug Report

## Problem
App stucks on "Accessing key" step after entering wrong PIN during recovering account

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

### Reproduction

[comment]: # (Describe how we can replicate t

[2019-12-09 20:52] StatusSceptre commented on #9592
Welcome @karansinghgit! [Here's the quick start](https://status.im/build_status/status_react_quickstart.html) for status-react. Please let us know if you have any questions.

[2019-12-09 20:57] StatusSceptre commented on #9576
Welcome @ognian7! I'm approving you on a first come first serve basis, but your plan sounds good as well. Here's our quick start: https://status.im/build_status/status_react_quickstart.html

Let us know if you have any questions.

[2019-12-10 09:47] churik commented on #9562
Can't reproduce as well.
8 days ago I tried 5 times and it was reproducible, Sergey also could reproduce it.
I'll remove it from v1 scope for now and will wait until @Serhy will try on his accounts as well.

[2019-12-10 10:26] guylouis commented on #9600
After discussion we're going for the first option, as described by andrei above.

[2019-12-10 10:53] flexsurfer commented on #9575
@rachelhamlin MM doesn't have this options anymore and privacy mode enabled by default, most modern dapps don't support  privacy mode disabled mode, so probably we can just remove this setting in this PR same as MM did

[2019-12-10 11:48] churik opened #9630 "Number of remaining keycard passcodes attempt is wrong - because its number are shared between multiaccounts (it should not)"
# Bug Report

## Problem
If you have several accounts created with keycards, unsuccessful pin attempts are shared between them

#### Expected behavior
3 attempts

#### Actual behavior
2 attempts

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create multiaccount 1 with Keycard, log out
- Create multiaccount 2 with Keycard, log out
- Enter wron

[2019-12-10 12:12] rachelhamlin commented on #9575
Oh, got it. Okay, that sounds good.

[2019-12-10 12:58] churik opened #9632 "Custom tokens are shown on balance only after relogin"
# Bug Report

## Problem

If you have some custom tokens on your account, you will not see balance just after enabling token in asset.
For fetching balance logout is required.

#### Expected behavior
can see balance

#### Actual behavior
0; balance is fetched after relogin

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Restore account with so

[2019-12-10 14:04] andmironov commented on #9600
also, i'm adding "forgot passcode" button and flow. We were discussing a separate issue for this, but i think it might make sense to do it here

<img width="598" alt="Screen Shot 2019-12-10 at 17 02 52" src="https://user-images.githubusercontent.com/3115606/70535970-ff316080-1b6e-11ea-94c3-2089ad1061be.png">

[2019-12-10 16:51] #9597 closed, assigned to nobody

[2019-12-10 23:08] StatusSceptre commented on #9054
I owe you for this one + #8135 @elegant651 - sorry about that! Paid out 80 SAI for this issue, but I have no more SAI in the team metamask account to tip you—and I must use SAI on this particular issue. Can you please share a wallet address where I can send you 60 _DAI_ for #8135? :)

[2019-12-10 23:19] rachelhamlin opened #9636 "Remove chat menu item and toggle app switching privacy on by default"
# Problem

Combination issue spanning two product areas:

1. Chat `+` menu—remove an option
2. `Profile` > `Privacy and security`—turn a setting ON by default, alter copy

## Implementation

- Remove the `Scan a QR code` option from the chat menu

![image](https://user-images.githubusercontent.com/42685581/70577402-386ece00-1b79-11ea-92b7-029b835c6b2c.png)

- Change the copy of `Hide content when

[2019-12-10 23:20] StatusSceptre commented on #9054
@elegant651 this is a small combination issue - are you interested? I'd pay 70 DAI for it :)

https://github.com/status-im/status-react/issues/9636

[2019-12-11 00:28] elegant651 commented on #9054
Sure, I'll check it out.

[2019-12-11 09:09] AnnuRArya commented on #2681
Anyone fixed the issue on Samsung ? I have set to Editext in Xamarin.Android
[code]
and in Dutch the keyboard still shows '.' and no ','

[2019-12-11 12:18] vkjr commented on #9586
Also wasn't able to reproduce.

[2019-12-11 12:31] #9573 closed, assigned to nobody

[2019-12-11 12:45] churik opened #9641 "No spinner on logout"
# Bug Report

## Problem

Currntly it looks like app is freezing for several seconds on logout.
Very visible on slow devices

#### Expected behavior
Spinner until login screen is shown

#### Actual behavior
"Unknown" is shown for a while when log out
![logout](https://user-images.githubusercontent.com/4557972/70622483-53464e80-1c1c-11ea-90ee-fecc6b97a01c.gif)

### Reproduction

[comment]: # (Descr

[2019-12-11 15:33] flexsurfer commented on #9493
there is no simple solution for this issue, let's postpone it for now

[2019-12-11 15:35] #9575 closed, assigned to nobody

[2019-12-11 15:38] #9625 closed, assigned to nobody

[2019-12-11 15:49] rasom commented on #9596
https://github.com/status-im/status-react/issues/9354

[2019-12-11 17:45] #9620 closed, assigned to nobody

[2019-12-11 18:05] tbenr commented on #9288
@gitcoinbot there is a PR ready to be reviewed: https://github.com/status-im/status-react/pull/9568

[2019-12-12 08:48] flexsurfer commented on #9203
added v1 label back because 7k requests are nuts, the device is dying and other ethereum requests might be blocked, @rasom don't you mind to take this one and implement history only for N last blocks you've discussed with Eric, thanks

[2019-12-12 10:07] #9596 closed, assigned to nobody

[2019-12-12 10:43] andmironov opened #9649 "Add "Send" button and a QR icon on the wallet screen"
Problems:
1. It was hard to send a transaction by scanning a QR code. The user journey was too long, even though the use case is quite common;
2. It was not that long of a user journey to send a transaction, but still too long and it feels like adding this "send" floating button is easy and will improve the low a lot

<img width="482" alt="Screen Shot 2019-12-12 at 12 36 42" src="https://user-imag

[2019-12-12 11:02] churik opened #9650 "java.lang.IllegalArgumentException 16>0 after entering wrong PIN on login screen"
# Bug Report

## Problem
![photo_2019-12-12 11 51 53](https://user-images.githubusercontent.com/4557972/70706405-1e96cd80-1cd6-11ea-996a-8a46e00160ed.jpeg)

#### Expected behavior
2 retries are left

#### Actual behavior
java.lang.IllegalArgumentException 16>0

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create new multiaccount
- Log out
-

[2019-12-12 11:03] churik commented on #9650
cc @guylouis @rachelhamlin @rasom

[2019-12-12 11:08] andmironov commented on #9609
Here's an issue about the QR code scanner in wallet https://github.com/status-im/status-react/issues/9649

[2019-12-12 11:20] flexsurfer opened #9651 "Can't login with white keycard (and cant read it with usb reader)"
# Bug Report

## Problem

Can't log in with keycard, card is detected, but no result

**UPDATE**: can't read the card with card reader, it seems that keycard is **broken** after creating new account with latest nightly

#### Expected behaviour

Can log in with keycard

Steps to reproduce
1) new keycard with v3 cap installed
2) latest nightly on galaxy s10
3) create an account with keycard
4) logou

[2019-12-12 11:25] #9632 closed, assigned to nobody

[2019-12-12 11:40] churik commented on #9651
сс @guylouis

Can't reproduce

[2019-12-12 12:20] churik opened #9652 "Unable to get back to the account list after "Begin recovery" is tapped in "Recover with keycard" flow"
# Bug Report

## Problem

User is navigated to the carousel view instead of accounts screen if tap "Back" on "Hold card to the back of your ohone to start" screen

#### Expected behavior
navigated to step back (to "Begin rocovery")

#### Actual behavior
navigated to carousel view; not possible to navigate to accounts view (only restart the app)

### Reproduction

[comment]: # (Describe how we can

[2019-12-12 12:58] rasom commented on #9203
@yenda it seems that `getTransactionCount` counts only outgoing transactions, not sure how you wanted to use it

[2019-12-12 13:00] churik opened #9653 "Message state in group chat is not updated (endless spinner after sending)"
# Bug Report

## Problem
Messages are delivered, but status is not updated
![photo_2019-12-12 13 55 35](https://user-images.githubusercontent.com/4557972/70713820-18f5b380-1ce7-11ea-9c5b-bbf6b6346ca2.jpeg)

#### Expected behavior
"Sent"

#### Actual behavior
endless spinner

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create group chat with

[2019-12-12 13:00] churik commented on #9653
cc @rachelhamlin @cammellos

[2019-12-12 14:48] churik opened #9654 "System messages are always on the top on group chats"
# Bug Report

## Problem
Regardless of timestamp system messages are at the top of the chat.

#### Expected behavior
Messages are sorted by timestamp

#### Actual behavior
![photo_2019-12-12 15 47 26](https://user-images.githubusercontent.com/4557972/70721946-ba383600-1cf6-11ea-9b6e-f6dcf776800b.jpeg)

#### Notes

For the developer who will be investigating. Is it related to another PR? Tips on wh

[2019-12-12 15:00] churik opened #9655 "'Cannot read property' error at attempt to add members to group chat"
# Bug Report

## Problem
Crash with error `Cannot read property 'ToLowerCase' of null` at attempt to add members without contacts or null is not an object when user has some contacts

#### Expected behavior
can add member

#### Actual behavior
![IMG_6538](https://user-images.githubusercontent.com/4557972/70722674-fc15ac00-1cf7-11ea-805f-70e6eda6cd2a.PNG)

### Reproduction

[comment]: # (Describe h

[2019-12-12 15:01] churik commented on #9654
cc @rachelhamlin @cammellos

[2019-12-12 15:01] churik commented on #9655
cc @rachelhamlin @cammellos

[2019-12-12 15:31] j-zerah commented on #9493
hey all - i want to add my 2c here. As part of launch, we will be running a number of campaigns pushing SNT utility both in the application and in the governance of The Status Network:
- Partner campaign with ENS to drive stateofus.eth ens registration (which costs 10 SNT)
- Purchasing Sticker Packs (one of which will cost 20SNT)
- Community governance in q1 of 2020 via a potential update to SNT v

[2019-12-12 15:44] errorists opened #9657 "Correct the appearance of group chat system messages"
# Problem

Currently system messages in group chats appear like regular messages with mentions inside. It's an improvement over the previous UI, but that's not at all how we want them to look like.

![](https://media.discordapp.net/attachments/626738033701683200/654671507318112276/photo_2019-12-12_14.10.29.jpeg)

## Implementation

<img width="1261" alt="Screenshot 2019-12-12 at 16 12 51" src="htt

[2019-12-12 17:30] #9583 closed, assigned to nobody

[2019-12-12 23:32] jakubgs commented on #9525
I fixed up the load times a bit by closing: https://github.com/dap-ps/discover/issues/54

I'll take a look at iOS load issues tomorrow before I go on holidays.

[2019-12-13 01:04] acolytec3 commented on #9607
Is ENS reverse resolution on the roadmap? I've built an [app](https://github.com/acolytec3/arwen) in the past that integrated pretty closely with ENS and would be interested in helping build out deeper ENS support if that's of interest.

[2019-12-13 01:06] acolytec3 commented on #9655
Could I pick this one up? Would be interested in doing a chat related issue.

[2019-12-13 04:59] rasom commented on #9203
https://github.com/MyCryptoHQ/eth-scan

[2019-12-13 05:02] rasom commented on #9203
@cammellos provided the log of requests for a new account
https://gist.github.com/rasom/42a4e1756b62f887b514a3447140897f

[2019-12-13 07:44] flexsurfer commented on #9525
thanks @jakubgs , the reason for ios is
![image](https://user-images.githubusercontent.com/11790366/70779667-c8cd2e80-1d84-11ea-9fd2-1d032423ae09.png)

[2019-12-13 07:45] flexsurfer commented on #9525
so how it works, if there is no access to status web3, dap.ps calls infura directly from browser

[2019-12-13 07:52] cammellos commented on #9655
@acolytec3 sure, by all means, that would be very helpful, not sure who to ask if we want to bountify it though, maybe @rachelhamlin

[2019-12-13 08:11] flexsurfer commented on #9525
https://github.com/dap-ps/discover/issues/16#issuecomment-565344123

[2019-12-13 09:15] yenda commented on #9203
@rasom if you combine getTransactionCount and getBalance you avoid the risk if missing out transactions that cancel out. Outgoing transactions will always at least cost gas, while incoming transaction will at least increase the balance. So if balance and transaction count didn't change then there is no new transaction in the range you are checking.

Btw eth_scan only checks balances and it's types

[2019-12-13 11:34] acolytec3 commented on #9655
Oh, not worried about the bounty (though won't say no 😁). I just want to
make sure it's an issue the teams need worked on before I take a look at
it.

On Fri, Dec 13, 2019, 2:52 AM Andrea Maria Piana <notifications@github.com>
wrote:

[2019-12-13 11:48] ScyDev commented on #5242
I'm sorry, I have to abandon this issue. It's too much currently to learn Clojure and Go at the same time.

[2019-12-13 11:56] flexsurfer opened #9658 "Recovery word input field is cut off in Keycard flow"
# Bug Report

## Problem
Recovery word input field is cut off

![image](https://user-images.githubusercontent.com/11790366/70798694-e95ab000-1da7-11ea-8d27-9dbd1aa9f79d.png)

#### Expected behaviour

word is fully visible

[2019-12-13 11:56] flexsurfer commented on #9658
cc @rachelhamlin @churik

[2019-12-13 12:07] flexsurfer opened #9660 "Its not possible to cancel signing transaction with keycard after entering PIN"
# Bug Report

## Problem

1) Its not possible to cancel signing transaction with keycard

2) There is warning popup after signing transaction

#### Expected behavior

1) Its possible to cancel signing transaction
2) There is no warning popup after sign or cancel transaction

#### Actual behavior

Sign transaction with keycard
Touch device with keycard for 1 second
Remove keycard
Warning popup appe

[2019-12-13 12:07] flexsurfer commented on #9660
cc @rachelhamlin @churik

[2019-12-13 12:12] churik commented on #9655
Definitely it is an important one.
Thanks @acolytec3!

[2019-12-13 12:50] #9649 closed, assigned to nobody

[2019-12-13 13:01] vkjr commented on #7697
@rachelhamlin, I'll take this one. Could you please unlist it from gitcoin? thanks!

[2019-12-13 13:23] churik commented on #9636
Reason why scannig QR code option in chat menu should be removed:
from @hesterbruikman:  it's out of context in chat. I genuinely love the scan anything feature, but in our current tab based UI we don't really have a fitting spot for such a global feature and it leads to an overwhelming nr of options inside chat. Would love to see it make a come back when we move to something like window-based nav

[2019-12-13 13:47] #9636 closed, assigned to nobody

[2019-12-13 15:38] churik commented on #9660
Tested the following scenarios:

1. Open wallet > Add values for amount, To > Tap on Send
2. Open wallet > Add values for amount, To > Tap on Cancel
3. Open wallet > Add values for amount, To > Tap on Send > Sign with Keycard
4. Open wallet > Add values for amount, To > Tap on Send > Cancel
5. Open wallet > Add values for amount, To > Tap on Send > Sign with Keycard > Put card to the back of your

[2019-12-13 15:39] churik commented on #9660
cc @guylouis

[2019-12-13 17:32] rasom commented on #9650
@churik can't reproduce in nightly

[2019-12-15 15:22] rasom commented on #9203
@yenda https://github.com/status-im/status-react/blob/24f290d7869a555ffeba991ee125cef10929934b/src/status_im/utils/scan.cljs

[2019-12-15 15:29] rasom commented on #9203
my suggestions are:
1. we add caching for `eth_getBalance/eth_transactionCount` requests here, it will reduce number of calls 3-4 times
2. we add `eth_transactionCount` check in case if in checked range balances were equal to zero (we probably need to check it even if non-zero balances are equal, but by not doing this we will make ~2x less requests)
3.  we stop fetching outgoing token transactions

[2019-12-16 07:19] ognian7 commented on #9576
Hello, I am ready to start working on an issue. I will write if I have questions.

[2019-12-16 10:05] rasom commented on #9203
tested batch requests, it seems it doesn't make the whole process faster
https://github.com/status-im/status-react/blob/24f290d7869a555ffeba991ee125cef10929934b/src/status_im/utils/scan.cljs#L202

[code]

[2019-12-16 10:18] flexsurfer commented on #9203
we'll use cloudflare  probably ,so we could test batch requests with cloudflare

[2019-12-16 10:28] rasom commented on #9203
@flexsurfer sure we can, why do you think results will be different?

[2019-12-16 10:45] rasom commented on #9203
@yenda:

https://ethereum.stackexchange.com/questions/38378/what-is-the-first-ever-erc20-token-creation-transaction

[2019-12-16 10:47] churik opened #9661 "PUK code screen is overlapping on login screen when PUK code is required (3 unsuccessful PIN attempts)"
# Bug Report

## Problem

<img width="190" alt="Overlap" src="https://user-images.githubusercontent.com/4557972/70900411-09cd7900-1ff9-11ea-9168-99d781677e49.png">

#### Expected behavior
No overlapping

#### Actual behavior
screenshot is attached

### Reproduction

- Open Status
- Сreate Account
- Log out
- Log three times wrong PIN code

### Additional Information

- Status version: nightly 16/1

[2019-12-16 11:15] churik opened #9662 "NFC is turned off by default in Status app settings"
# Bug Report

## Problem
On some phones (device: Xiaomi Note 9, OS: Android 10QKQ1) NFC settings can be set in app settings.
So even globally NFC is turned on, in app settings it can be turned off.
This case is not handled in app, by default it is turned off for Status app.

#### Expected behavior
Turn NFC in your app settings

#### Actual behavior
at attempt to create account nothing happens
![ph

[2019-12-16 11:15] churik commented on #9662
@guylouis WDYT, should be included in release?

[2019-12-16 11:44] churik commented on #9650
@rasom indeed, in current nightly I see other behavior.

It is different for 2 phones (Android8 and Android10).
Steps are the same:
- create account with keycard
- tap card to the back of the phone
- log out (continue hold card to the back of your phone)
- enter wrong PIN

Results for LG V20 (Android 8):
connection with card is lost screen, you need tap card back and forth, then wrong PIN code err

[2019-12-16 13:33] churik opened #9664 "Endless spinner after entering wrong PIN code at attempt to change it"
# Bug Report

## Problem
At attempt to change PIN code error  "This card does not correspond your account" is shown and on tapping cancel you are redirected to change PIN screen with endless spinner.

#### Expected behavior
Wrong PIN code error

#### Actual behavior
Endless spinner
![photo_2019-12-16 14 27 09](https://user-images.githubusercontent.com/4557972/70910527-2f19b180-2010-11ea-8e8b-b08b6

[2019-12-16 13:53] churik opened #9665 ""You are unathorized to perform this action" at attempt to change PIN after creating account until relogin"
# Bug Report

## Problem
When changing PIN after creating account "You are unathorized to perform this action" is shown instead of "Enter 6-digit passcode" screen.
Issue is not reproducible after relogin or after signing transaction.

#### Expected behavior
no error

#### Actual behavior
![photo_2019-12-16 14 51 11](https://user-images.githubusercontent.com/4557972/70912098-85d4ba80-2013-11ea-8f4b

[2019-12-16 14:06] hesterbruikman commented on #9493
@flexsurfer can you elaborate on what the solution would be and what's blocking?

@j-zerah Should we create a bunch of offers on Teller so we can instruct people to go to teller.exchange?
cc @iurimatias this also brings the requirement to create combined ETH/ERC-20 offers

[2019-12-16 14:09] flexsurfer commented on #9493
@hesterbruikman i thought this one is not really important but if we want to promote SNT by showing zero balance, i could look at  this one and find some implementation, so currently we search for new tokens only if we don't have any tokens selected, selecting SNT with zero balance by default we don't search tokens anymore, and if you recover account with tokens only SNT one will be shown

[2019-12-16 14:14] churik opened #9666 "Missing translations on "Lock app with fingerprint", "Save with password" popups"
# Bug Report

## Problem
![photo_2019-12-16 15 11 47](https://user-images.githubusercontent.com/4557972/70913487-68552000-2016-11ea-8b4a-a6db5fddbc5f.jpeg)
![photo_2019-12-16 15 12 02](https://user-images.githubusercontent.com/4557972/70913545-7efb7700-2016-11ea-98f2-f50c463d1862.jpeg)

#### Expected behavior
translation is added

### Reproduction

[comment]: # (Describe how we can replicate the b

[2019-12-16 14:15] churik commented on #9666
cc @rachelhamlin @guylouis

[2019-12-16 14:16] StatusSceptre commented on #9288
@tbenr great work! Please bear with, as we're making our release cut for v1 this week and will likely be a tiny bit slow to review.

[2019-12-16 14:19] StatusSceptre commented on #8443
Hey @alexjg - just a regular check-in. I'm surprised Gitcoinbot hasn't been pinging you! How are things going?

[2019-12-16 15:01] rachelhamlin commented on #9493
Selected for v1 but it can be fixed after the release candidate is cut this week. Main item driving RC cut off now is commands.

[2019-12-16 15:27] j-zerah commented on #9493
@hesterbruikman  - when teller is ready and in production, ya seems like a good idea

[2019-12-16 15:30] churik opened #9668 "Keycard can't sign a message or contract interaction provided by a dApp (cryptokitties, status kudos dApp)"
# Bug Report

## Problem
Can't proceed in Cryptokitties DApp after signing message with keycard.

#### Expected behavior
Signed up

#### Actual behavior
can't sign in

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create account with keycard
- Open cryptokitties
- Create new account, sign message

### Additional Information
- Status version:

[2019-12-16 15:31] churik commented on #9668
@rachelhamlin @guylouis marked it as v1, as I think it may affect all DApps that requires messge sign.

[2019-12-16 16:48] vkjr opened #9670 "Whitespace at the end of seed leads to recovering another account"
# Problem

If there are whitespaces at the end of a seed phrase, wrong account will be recovered.
That can be a case when user copies recovery phrase from text editor.

## Implementation

## Acceptance Criteria

Whitespaces between and after seed phrase doesn't affect the recovered account

## Notes

## Future Steps

[2019-12-16 16:48] vkjr commented on #9670
cc @churik

[2019-12-16 19:07] acolytec3 commented on #9670
We ought to be able to fix this bug with [this PR](https://github.com/status-im/status-react/pull/9648/files) once it gets implemented since that will change the validation logic on validating seed phrases.

[2019-12-16 21:17] StatusSceptre opened #9671 "Filling recipient after entering Tx amount clears amount"
# Bug Report

## Problem

The amount is the first field in a transaction. When you fill this out, and then add recipient by scanning their QR code, the amount is reset.

#### Expected behavior

Amount is maintained unless user cancels the Tx.

#### Actual behavior

Set Tx amount.
Scan recipient QR code.
Amount is cleared and must be re-entered.

[2019-12-17 01:35] rachelhamlin opened #9672 "v1 Copy Changes - Bits & Pieces"
# Problem
App copy has never been reviewed holistically, end-to-end.

I did so over the past week to ensure clarity, brevity and good grammar. Kept language neutral due to a) time constraint, b) lack of formal brand/creative process and c) desired ease of translation.

Reviewed with Jonny, Graham, Hester and Maciej in phases.

Additional edits to come in separate issues. This first round is low-ha

[2019-12-17 06:38] sirlupinwatson commented on #9672
Nice and great modifications that i can refer on, for future interest in translation or editing.
Thanks for this great post @rachelhamlin

[2019-12-17 09:17] guylouis commented on #9662
this is such a good point, thanks for spotting this. If I understand well, if I have a xiaomi note 9 with NFC turned on, I download status app, then my NFC does not work with status unless I manually to Status dedicated NFC settings.
That's an issue, and yes we should be included in release

[2019-12-17 09:44] hesterbruikman commented on #9222
Design: https://dribbble.com/shots/8379578-NFC-card-interaction

[2019-12-17 09:44] churik commented on #9662
@guylouis yes, exactly - so if phone have separate NFC preference for each app, it is disabled by default.
Ok, added label.
cc @rachelhamlin

[2019-12-17 10:03] Serhy commented on #9562
Now with develop `0.14.0 (2019121602)` build I'm able to reproduce even with new account (no transactions) when submitting valid ENS name as recipient in Wallet by tapping 'Done' quickly several times (reproducing with Galaxy J7 Android 8.1). And now it's not only "Can't popup empty list" pop-up appears but I wind up on different screen (depends of how many times tap 'Done').

Video of current beh

[2019-12-17 12:24] vkjr commented on #9670
@acolytec3, great! Probably this issue worth mentioning in PR `Fixes` section then.

[2019-12-17 13:41] andmironov commented on #9222
sorry, already created a more complete issue https://github.com/status-im/status-react/issues/9365 forgot about this one

[2019-12-17 13:41] #9222 closed, assigned to guylouis

[2019-12-17 13:42] andmironov commented on #9222
check out https://github.com/status-im/status-react/labels/keycard_UX  for more! :-)

[2019-12-17 14:04] andmironov commented on #9611
a quick sketch (not final). wdyt? @flexsurfer

Also, can we include a USD value?

<img width="401" alt="Screen Shot 2019-12-17 at 17 05 07" src="https://user-images.githubusercontent.com/3115606/71001967-6743f180-20ef-11ea-9cca-59b3746de68b.png">

[2019-12-17 14:56] Serhy opened #9676 "Empty 'Seed phrase' on screen when generate new account from keycard starting from 'Recover from keycard'"
# Bug Report

## Problem

There are two paths to generate new account from keycard now: starting from `Get started` -> `Generate new key` OR `Access key` -> `Recover with keycard`

If to follow `Access key` -> `Recover with keycard` way at the point of when we display `Seed phrase` to remember - there are no words for seed phrase.

#### Expected behavior

Seed phrase displayed when generating new

[2019-12-17 15:03] rasom commented on #9203
It seems that we scan blockchain twice for each acc at the moment, I'm trying to figure why. I found that even when I add caching of requests we have 2 times more requests on go side than in that cljs test code.
[code]

[2019-12-17 15:04] leafcutterant commented on #9611
Looks good ! Just please make sure that the feature also makes it to the send screen when initiated from the wallet and from the dapp browser.

[2019-12-17 15:04] Serhy commented on #9676
cc @rachelhamlin @guylouis
Including in V1 scope because it's high probability to start keycard pairing from `Access key `-> `Recover with keycard` (maybe even it's higher chance to start with keycard from this flow versus Generate new key where keycard option is somewhere in the middle of flow)

[2019-12-17 15:25] yenda commented on #9203
@rasom is it per account or for all? Maybe status-go is also checking the chat account

[2019-12-17 15:43] rasom commented on #9203
@yenda per account, but maybe the problem is how I wrote that caching, checking it now

[2019-12-17 15:50] rachelhamlin commented on #9672
More to come @Sirlupinwatson1!

cc @j-zerah @hesterbruikman @errorists @jinhojang6 and @andremedeiros. Mostly as an FYI, but if you have improvements or feedback, please share.

[2019-12-17 15:52] rasom commented on #9203
no it is almost likely not related to my code
[code]

[2019-12-17 16:17] vitvly opened #9677 "Default wallet account not saved after logout on Keycard multiaccounts"
# Bug Report

## Problem

Default wallet account `Status Account` is not preserved after restart/logout on Keycard multiaccounts.

#### Expected behavior

`Status account` should be visible under Wallet after logout/restart.

#### Actual behavior

`Status account` is not displayed. All additional accounts are properly preserved between restarts though.

### Reproduction

1. Create or recover a key

[2019-12-17 16:24] rachelhamlin opened #9678 "Fix hardcoded items"
# Bug Report

## Problem

Items that are hardcoded should be prepared for translation.

#### Expected behavior

ELI5 define these terms so they can be translated.

#### Actual behavior

  - Add a watch only address, Enter the address to watch, and Enter address ... (https://github.com/status-im/status-react/blob/e7f01c42a7c4c3465daeef5aa70c434c6f5e1d9e/src/status_im/ui/screens/wallet/add_new/views

[2019-12-17 16:50] churik commented on #9677
cc @guylouis @rachelhamlin

[2019-12-17 16:56] rasom commented on #9203
so when I restore acc `0x2f88d65f3cB52605a54A833ae118fb1363aCccd2` app scans chain for these addresses
[code]

First question why `0x2f88d65f3cB52605a54A833ae118fb1363aCccd2` twice, second why `0xE911Def9de2Fd159e73921d218Cf2041e47fE69E `... more and more questions

[2019-12-17 18:49] guylouis commented on #9677
waouh, super critical of course

[2019-12-17 18:57] guylouis commented on #9676
Thanks for raising this point, and congrats for spotting this!
 You're right that this in the design it's a corner case, but user might actually often go through it since the difference in menaing between "generate a key" and "access key" is not 100% obvious for new users

[2019-12-17 20:06] hesterbruikman opened #9680 "Account with keys stored on Keycard shows keys stored on phone"
# Bug Report
Account settings info for Keycard multiaccount inaccurate

## Problem
Account settings info is intended to help users understand where their keys are stored. This helps the user determine the security level of the key storage and how they want to manage the risk of losing keys.

#### Expected behavior
Account settings for Keycard multiaccount shows `Storage` `_Keycard_`

#### Actual b

[2019-12-17 20:09] hesterbruikman commented on #9680
cc @churik @guylouis @andmironov

[2019-12-17 20:19] hesterbruikman opened #9681 "Display keycard logo in wallet"
# Problem
Accounts with keys stored on Keycard need to be easily recognized and distinguished from other accounts as they are stored with a different security level. Design solution is to include a Keycard logo on the account cards.

## Implementation
In account overview and individual account view add logo to account card if account is stored on Keycard.
Designs here: https://www.figma.com/file/X

[2019-12-17 20:20] hesterbruikman commented on #9681
cc @guylouis @andmironov couldn't find an issue for this, please share if there is one.

[2019-12-17 20:57] errorists opened #9682 "Rename the Dapps tab to Browser"
### Description

Please, let's rename the `Dapps` tab to `Browser` and change its icon.

<img width="1175" alt="Screenshot 2019-12-17 at 09 39 11" src="https://user-images.githubusercontent.com/4932774/71032998-cf59fe00-2116-11ea-9c5b-c8fe36a0e89f.png">

You can find the browser icon [here](https://www.dropbox.com/sh/ca4tf7b6tqn8wba/AAC0oXqU0VALNf_HpvgImUh1a?dl=0)

or in [Figma](https://www.figma.

[2019-12-17 22:16] tbenr commented on #9288
@StatusSceptre OK don't worry :)

[2019-12-17 22:26] leafcutterant opened #9683 "Add Dai as wallet currency (add conversion in wallet to cryptocurrencies)"
# Feature issue

### User Story

As a user, I want to have Dai as one of the **wallet currencies** ( = a currency you measure value in) so that, in the spirit of decentralization, people can use the wallet without seeing any fiat notions. This also helps cementing Dai as a world currency and getting people used to measuring value in Dai, which will be important when Dai will move away from the USD

[2019-12-17 22:36] leafcutterant opened #9684 "Don't drop unconfirmed transactions"
# Bug Report

## Problem

I sent transactions that were expected to be included in hours. They are still visible on Etherscan, but Status dropped them from the Transaction history screen after a while and I don't know what status will do if they become confirmed.

#### Expected behavior

Don't drop transactions. Keep a record of each one initiated by the user, even if it is never included in the c

[2019-12-17 22:48] leafcutterant opened #9685 "Speed up pending sent transactions"
# Feature Issue

### User Story

As a developer, I want to be able to submit  pending senttransactions with a different gas price or gas limit and same nonce **so that** I can speed up transactions, unclog a clogged transaction queue, prevent the failed execution of a transaction with too low gas limit, etc.

### Description

*Summary*:
* extra option appearing in Transaction history for pending s

[2019-12-17 22:51] hesterbruikman opened #9686 "Keycard recovery - Brief change of identicon when"
# Bug Report
## Problem
When unlocking a multiaccount after upgrading, for a brief moment the identicon of the multiaccount changes. Not sure if ths could be a symptom of an underlying issue. Especially after upgrading to a new build such a switch can raise suspicion as to the validity of the build.

#### Expected behavior
When holding Keycard to the back of the phone to unlock multiaccount the vi

[2019-12-17 22:53] hesterbruikman commented on #9686
cc @guylouis @churik During unlock with Keycard after upgrading to a new nightly build, the identicon briefly changes. Wondering if this can be a symptom of an underlying problem or a simple UI glitch.

[2019-12-18 00:30] 3esmit commented on #9607
We need design input on how that information is displayed. From my perspective, any field that accepts `address` type should, by default, resolve ENS name and reverse resolve addresses.

The component itself also should be able to handle multiple data, that is:
1. user input: can be an ENS name, or address;
2. the resulting address: always an address type;
3. reverse resolved name: usually null, b

[2019-12-18 10:03] rasom commented on #9203
scanning of this acc https://etherscan.io/address/0x2f88d65f3cB52605a54A833ae118fb1363aCccd2
`Data usage` includes erc tokens history which hasn't been touched yet and the rest of app's communication

1. **Duplication, no cache (that's what we have now)**, Data usage 53.9mb, 19.514074986s and 16.658236412s, app crashed
[code]

2. **No duplication, no cache**, Data usage 27.58mb, 12.98916826s
[code

[2019-12-18 10:13] Serhy opened #9688 ""Invalid status code: 530" when switching to Goerli network"
# Bug Report

## Problem

Can't switch to Goerli network. There is an error appears when trying to connect: `Invalid status code: 530`

#### Expected behavior

Can switch to Goerli network

#### Actual behavior

<img width="352" alt="Screenshot 2019-12-18 at 12 10 43" src="https://user-images.githubusercontent.com/8749671/71077082-6fec0480-218f-11ea-9314-f236bd7b7f74.png">

### Reproduction
- Open

[2019-12-18 10:14] Serhy commented on #9688
I think we need it fixed in V1, @rachelhamlin @andremedeiros

[2019-12-18 10:20] churik commented on #9372
@cammellos
seems still an issue, however it appears much rarely now.
Caught it for 1 time in 3 days in all e2e tests.

*Logs  + video*
Device 1 (sender) : https://app.saucelabs.com/tests/cdda1bf204974458b6ce40f3eaec28cb?auth=51ee5ea9ba7635df1dfdf87213bf5a6a#79
Device 2 (receiver) : https://app.saucelabs.com/tests/8dca1a127766480b9693cd2cf88e41b3?auth=2000c8afcd9756432347c1c9670531a3#67

Test: test

[2019-12-18 10:38] Serhy commented on #9688
https://goerli.blockscout.com/ that we use as upstream has 530 response.

[2019-12-18 11:41] andmironov commented on #9681
no such issue, thanks!

[2019-12-18 11:58] Serhy opened #9690 "Test UI layout of Status app with different translations"
### Issue

Having different language support in app we have different element width depending of text translation.
This task is to verify UI layout of various translations and to log those screens where obvious layout issues due to long item text.

[2019-12-18 12:02] Serhy commented on #9690
Example:

<img width="353" alt="Screenshot 2019-12-18 at 13 51 32" src="https://user-images.githubusercontent.com/8749671/71084758-a54c1e80-219e-11ea-8135-4aeb9b1315cf.png">

Question here what is better:
a) keep list items with long text with `...` at the end
b) Wrap text on two or more lines

[2019-12-18 14:19] rachelhamlin commented on #9371
Hey all, can we get an ETA on this story? I'd appreciate some updates on the issue 🙏I've seen it mentioned in standups but don't see any PRs. Marketing team needs this so we can produce assets, and we are of course in the final countdown here. @yenda @andremedeiros @cammellos

[2019-12-18 14:22] cammellos commented on #9371
@rachelhamlin The status-go/protocol is implemented here https://github.com/status-im/status-go/pull/1731 , everything is ready to be integrated. I believe @yenda is finishing off some other task, in the meantime I am taking over the status-react part to make sure all the endpoints developed work fine and there are no integration issue.

[2019-12-18 14:24] rachelhamlin commented on #9371
Cool. Thanks @cammellos. @yenda could you prioritize this today?

[2019-12-18 15:16] rachelhamlin commented on #9371
Oh, sorry guys, I can't read. Will you be completing all remaining work then @cammellos?

[2019-12-18 15:20] cammellos commented on #9371
@rachelhamlin Not sure, I have some other things that needs finishing, (moving installation messages to protobuf), but should not take me long, as it's fairly easy.

I'd say I keep on working on this until @yenda is finished with his stuff, after that he can take over, as this has more unknowns then moving that message to protobuf.

[2019-12-18 15:37] rachelhamlin commented on #9371
Agreed! Would love to unblock @j-zerah here. Especially as this is a 'killer feature' - we want to feature it in marketing promos.

[2019-12-18 16:21] #9682 closed, assigned to nobody

[2019-12-18 17:11] rachelhamlin opened #9693 "v1 Copy Changes - Onboarding Carousel"
# Problem
Match the copy in [this PDF](https://drive.google.com/file/d/1R0yM9Y1YCY6HEdfrFt2On3-KoECEtWvK/view?usp=sharing) exactly, including punctuation and capitalization.

## Implementation
**Carousel**

Screen One
`Private, secure communication` > Truly private communication
`An open source platform to securely chat and transact on the Ethereum blockchain` > Chat over a peer-to-peer, encrypted

[2019-12-19 09:16] errorists opened #9695 "Add white background to the bottom of iOS Safe Area"
# Problem

The bottom iOS safe area has a transparent background, making all view transitions visible underneath

![IMG_1214](https://user-images.githubusercontent.com/4932774/71160717-5d81d180-2248-11ea-9392-2b4976fb07bc.png)

## Implementation

the background of the iOS strip on the bottom of safe area should be white. it was like that some time before.

## Acceptance Criteria

Bottom Safe Area

[2019-12-19 09:19] errorists opened #9696 "Align the text in the 'Add contact' snackbar to the middle"
# Problem

The text label saying 'Add to contacts' is currently not aligned vertically, it's offset upward. It should be centred vertically.

![IMG_1212 2](https://user-images.githubusercontent.com/4932774/71160951-c9fcd080-2248-11ea-9acd-ce5a030e8add.jpeg)

## Implementation

Center the text label and all of the content of the snackbar vertically

## Acceptance Criteria

Text label is centred

##

[2019-12-19 09:24] errorists opened #9697 "Correct the image asset in the Sticker history panel"
# Problem

we show the incorrect image asset at incorrect size in the recent stickers panel

![IMG_1211](https://user-images.githubusercontent.com/4932774/71161230-47c0dc00-2249-11ea-8b4b-51d72d752123.jpeg)

## Implementation

We show this, image is centred and 64 by 64 in size.

<img width="375" alt="Stickers Picker" src="https://user-images.githubusercontent.com/4932774/71161311-6a52f500-2249-11

[2019-12-19 09:38] errorists opened #9699 "UI corrections in the stickers panel, scroll / animation"
# Problem

Current implementation of the sticker panel has a couple of issues that combined make it appear buggy.

• Whenever it's presented, it visibly scrolls to the sticker pack you had previously selected. Instead it should start at the correct index right away without scrolling to it.
• When switching between the text input and stickers or commands, the entire view blinks and jumps, visible o

[2019-12-19 09:43] errorists opened #9700 "'Chat' text label is offset to the right"
# Problem

Currently, the 'Chat' text label in the top bar is offset horizontally to the right by about ~6 pixels. shout outs to @hesterbruikman for spotting! 👀

![Chat](https://user-images.githubusercontent.com/4932774/71162900-5492ff00-224c-11ea-862f-82cde34dcd43.png)

## Implementation

Center the 'Chat' text label horizontally so it appears centred in the top bar with even margins on both side

[2019-12-19 09:46] andmironov commented on #9611
sure! there should be no difference regarding the entry point. this popup is the same everywhere

[2019-12-19 10:00] errorists opened #9701 "Place chat's overflow menus in bottom sheet component, tidy up long press menus."
# Feature Issue

### User Story

As a user I want to have a consistent and clear presentation of additional menu options available to me when I enter chats.

### Description

1. Replace the default action sheet with out bottom sheet component on pressing the ••• overflow menu in chats.

**••• Private chats**

<img width="375" alt="1_1 Chat  -_ Overflow" src="https://user-images.githubusercontent.c

[2019-12-19 10:38] churik opened #9702 "App stuck in "Pairing card" when enter wrong pairing code after cancelling account setup (card is initialized)"
# Bug Report

## Problem
When start over generating a new key on keycard from the state of Keycard `Installed: true, Initialized: true` -> if make a mistake in pairing code -> can't proceed and need to start process again.

#### Expected behavior
wrong pairing code

#### Actual behavior
app stuck on "Pairing card" step

### Reproduction

- Open Status
- Get Started -> Generate Key -> Next -> Keyca

[2019-12-19 10:52] guylouis opened #9703 "Keycard pairing code: evaluate if we simplify pairing code format"
**Context**
When onboarding with a brand new keycard
- status app is generating a pairing code for this card and sets it up in the card
- the user is asked to write it down (he's not asked to type it in, because that's not necessary technically speaking)

when a user wants to use this card with another phone with status, he'll be asked to enter the pairing code

**Problem**
The pairing code format

[2019-12-19 11:12] churik opened #9704 "Redirect to 1 step from 3 if put card to NFC on Backup seed phrase during pairing (no key on card)"
# Bug Report

## Problem
Workflow is broken (app redirects to enter PIN code after "Back up seed phrase" step) if put card to and from NFC reader on  "Backup seed phrase" screen when paiting card after cancelling initial create multiaccount flow.

#### Expected behavior
Step 3 -> Backup seed phrase -> finishing up

#### Actual behavior
Step 3, then step 1.

![telegram-cloud-document-4-604171153300

[2019-12-19 11:22] acolytec3 commented on #9655
@churik Is this still a bug?  I'm not 100% sure I'm following how to recreate it but I've tried creating a group chat and was able to add a member who didn't have any contacts.  Not sure if I'm just not following the steps correctly or not.  Can you give me a chatkey for a generic member with no contacts so I can try recreating?

[2019-12-19 11:27] acolytec3 commented on #9683
@leafcutterant This will be supported in v1.   [This](https://github.com/status-im/status-react/pull/9496) PR added support and it's in the nightly builds already, just not in the beta app in the app stores.

[2019-12-19 11:40] churik opened #9705 "java.lang.IllegalArgumentException: 16 > 0 after entering PIN code during pairing if cancel setup after BackUp Seed phrase (no key on card)"
# Bug Report

## Problem
When start over generating a new key on keycard from the state of Keycard `Installed: true, Initialized: true` if flow was cancelled after Backup seed phrase screen, I've got "java.lang.IllegalArgumentException: 16 > 0".
Mark it as `medium-priority` because if user repeats the same steps after this error (and app crash accordingly) - he will be able to create account norma

[2019-12-19 13:50] rasom commented on #9203
If we do not load transactions right away when scanning ~~db~~ blockchain, the search for blocks which contain transactions ends fast even for our favourite account with more than 10k transactions https://ropsten.etherscan.io/address/0xf184747445c3B85CEb147DfB136067CB93d95F1D

[code]

so the next step will be to load transactions only from the last ~50 blocks or something, and then load rest of it

[2019-12-19 14:30] yenda commented on #9203
50 blocks is only around 10 minutes though

[2019-12-19 14:33] rachelhamlin commented on #9655
Hmm, I can't reproduce it on either iOS or Android

[2019-12-19 14:34] churik commented on #9655
I'll check in 1h and close if couldn't reproduce, thx

[2019-12-19 14:57] rasom commented on #9203
@yenda what I mean is that we can determine all blocks which contain transactions in ~25s and then fetch transactions from the last N of them, not from the last N blocks in the blockchain. Currently if we found 10k blocks with transactions we try to fetch all transactions at once, these operations are much slower than `eth_getBalance` and we don't really need to fetch all 10k transactions as user,

[2019-12-19 15:01] rasom commented on #9203
We can also improve that 25s time for the initial run, but I will leave that for later

[2019-12-19 15:11] alexjg commented on #8443
Hey! Apologies, this dropped off my radar with the encroachment of christmas. I should have time to complete it over the holidays though.

[2019-12-19 15:18] churik commented on #9655
It is gone. Thanks guys.

[2019-12-19 15:18] #9655 closed, assigned to nobody

[2019-12-19 15:45] Serhy opened #9706 "Tozemoon stickers are not shown in chat on recipient side"
# Bug Report

## Problem

When sending any sticker from Tozemoon package it is not displayed for recipient(s) in public/1-1/group chats

#### Expected behavior

Tozemoon sticker is shown for recipient

#### Actual behavior

<img width="527" alt="Screenshot 2019-12-19 at 17 39 21" src="https://user-images.githubusercontent.com/8749671/71186816-89bc4300-2286-11ea-979f-dc35392c18f3.png">

#### Notes

[2019-12-19 15:46] Serhy commented on #9706
@rachelhamlin @andremedeiros @cammellos @flexsurfer  added in V1 scope

[2019-12-19 16:04] flexsurfer commented on #9706
fixed here https://github.com/status-im/status-go/pull/1749

[2019-12-19 16:07] rachelhamlin opened #9707 "v1 Copy Changes - Key Generation, Storage"
# Problem

Current key generation screens conflate the public chat key with all keys.
Password encryption is not explained in light of having just created keys, your true point of access.

## Implementation

Without adding significantly more text to these screens, inform users that in fact there are multiple keys, and one of them is for chat and requires you to choose a name.

Bring in some explan

[2019-12-19 17:28] rachelhamlin commented on #9203
Sounds great Roman. So user should see transactions from last N (50?) blocks, hopefully within a matter of seconds. As user scrolls, more transactions appear.

[2019-12-19 17:40] rachelhamlin commented on #9706
Bravo Andrey.

[2019-12-19 17:41] rachelhamlin commented on #8443
Cool, no sweat @alexjg. We'll consider you still active :)

[2019-12-19 17:50] rasom commented on #9203
yep, that actually sounds very confusing. Let's just say that user should see N last transaction in a matter of seconds :)

[2019-12-19 18:12] rachelhamlin commented on #9562
Hmm, I couldn't reproduce on nightly on iOS or Android. Clicked `Done` in a total panic and everything.

[2019-12-19 18:52] rachelhamlin commented on #9525
Pretty sure we can close this one. https://dap.ps takes a beat to load on my Samsung, but the DApps load very quickly.

Still need to push changes from prod.dap.ps to whatever https://dap.ps points at, but the fix is in https://github.com/dap-ps/discover/issues/16#issuecomment-565344123.

[2019-12-19 18:52] #9525 closed, assigned to nobody

[2019-12-19 19:48] rachelhamlin commented on #9688
I don't think it's a blocker. Isn't this used primarily around ETHBerlin? Even if not - as long we have a working testnet, not a blocker.

[2019-12-19 19:49] rachelhamlin commented on #9666
Not cute, but not a blocker.

[2019-12-19 19:54] rachelhamlin commented on #9662
Sorry, but it can't be a release blocker given where things currently stand. We're aiming to submit the app Jan 2nd or 3rd and next week is Christmas. So, need to remove anything non-critical from the v1 release backlog, and this we can live without.

[2019-12-19 21:54] leafcutterant commented on #9683
@acolytec3 I'm glad you're updating the *token registry*, but this issue is about something else.

You can select the value of your wallet to be displayed in fiat currencies (USD, INR, etc.). What I want is to have Dai among these currencies. So when I have 1 ETH and 100 Dai, it will read something like "225 DAI" (not exactly, because both  ETHUSD *and* DAIUSD can change). And the value of each st

[2019-12-19 22:37] rachelhamlin opened #9709 "Empty gas when transacting leads to bug"
# Bug Report

## Problem

Triggering a transaction from the ENS registration flow has an empty gas amount.
When manually entering GWEI, ETH does not fill out automatically. Must fill out both fields manually.
Attempt to complete transaction.
Get bug.

#### Expected behavior

Gas estimate is included with transaction. Can complete transaction even if I alter gas amount.

#### Actual behavior

I am

[2019-12-20 09:01] yenda commented on #9677
@churik I think this was fixed in https://github.com/status-im/status-react/pull/9691 ?

[2019-12-20 09:02] yenda commented on #9604
this was fixed in https://github.com/status-im/status-react/pull/9673

[2019-12-20 09:02] #9604 closed, assigned to nobody

[2019-12-20 10:02] hesterbruikman opened #9710 "New empty state in case tx history cannot be shown"
# Problem
There are several issues with tx history. See https://github.com/status-im-status-go/issues/1665 and #9203

Currently we show "No transactions in your history" which is misleading as the issue is that they are not updated.

New empty state can be shown in this case.
Other empty states require updating for consistency

## Implementation
<img width="1470" alt="Screen Shot 2019-12-20 at 13

[2019-12-20 10:22] hesterbruikman commented on #9710
@andmironov merged https://github.com/status-im/status-go/issues/1751 into this issue, please check

[2019-12-20 10:23] churik commented on #9666
@rachelhamlin can't agree.
If you tap on "Save password" on Login screen you will see missing translations as well.
It is extremely visible for all users.
![photo_2019-12-20 11 22 52](https://user-images.githubusercontent.com/4557972/71248422-16b0dc00-231b-11ea-8cda-1f86e43c1b99.jpeg)

[2019-12-20 10:26] churik commented on #9677
Yes, it was, thank you!

[2019-12-20 10:26] #9677 closed, assigned to nobody

[2019-12-20 10:29] churik commented on #9653
If we will release with this error, better to disable Group chats at all IMO

[2019-12-20 10:38] flexsurfer commented on #8981
First iteration: https://github.com/status-im/status-react/pull/9711

[2019-12-20 10:52] cammellos commented on #9653
It should be easy to fix, I can have a look

[2019-12-20 11:14] churik commented on #9653
@cammellos checked on today nightlies:
https://i.diawi.com/Yk4cAd
https://status-im.ams3.digitaloceanspaces.com/StatusIm-191220-025900-a72d4c-nightly-universal.apk

It is still an issue.
And I suppose that it is a reason why replied messages are not visible in group chats as well:

![photo_2019-12-20 12 13 12 jpeg 2019-12-20 12-13-48](https://user-images.githubusercontent.com/4557972/71251304-49aa

[2019-12-20 12:40] hesterbruikman opened #9713 "Add Teller entry points to Status Core app"
# Problem
To optimally benefit from using Status, people require ETH and SNT. Teller offers a fiat-crypto onramp to buy ETH and SNT.

We want to make it easy for people to timely buy ETH, SNT and other ERC-20 tokens.

## Implementation
One banner for multiple contexts. Uses existing list item component.

- Wallet overview screen - https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=

[2019-12-20 13:01] rachelhamlin commented on #9653
Can we please keep the priority on commands if not complete yet? It would be great if we could fix everything, but we have to release at some point. I'll give group chat another run through today.

[2019-12-20 13:09] cammellos commented on #9653
yes, I am not actively working on this, I am on commands with eric

[2019-12-20 16:25] churik opened #9717 "Overall balance is not changing after deleting watch-only account"
# Bug Report

## Problem
After deleting watch-only account  wallet balance should be changed accordingly. Now it is possible to get such state:
![Monosnap 2019-12-20 17-21-13](https://user-images.githubusercontent.com/4557972/71268409-2ba66300-234d-11ea-8205-d7c79820f769.png)

After relogin balance is updated.

#### Expected behavior
Balance is updated

#### Actual result
Balance is not updated

#

[2019-12-20 16:26] churik commented on #9717
@rachelhamlin can be a bounty I believe.
It is easy one for @acolytec3 :)

[2019-12-20 18:10] rachelhamlin opened #9719 "Handle released ENS names"
# Problem

After owning an ENS name for one year, you are allowed to release it. We don't currently support this in our UI, but it can be done through Etherscan.

However, the UI does not respond when a person does so.

I released my name rachel.stateofus.eth. I can still see the name on my profile afterward, and set it to display in chat.

When I attempt to re-register the name, the UI says that

[2019-12-20 18:20] rachelhamlin commented on #9709
~This actually appears to be happening only with ENS.~ This has happened with ENS in Status, and with Etherscan, while attempting to release a name. 🤔

I've made other transactions successfully with the Ethereum name service app, Totle swap and stickers.

And it does seem to be calculating GWEI. For some reason ETH is just at 0.00. This is what happened when I tapped into gas amount for two differ

[2019-12-20 19:03] acolytec3 commented on #9717
I'll take a look later today. I'm guessing it's a quick fix since it sounds like the same issue as that other balance related bug.

[2019-12-20 19:39] StatusWrike commented on #9717
➤ acolytec3 commented:

I'll take a look later today. I'm guessing it's a quick fix since it sounds like the same issue as that other balance related bug.

[2019-12-21 04:49] 3esmit commented on #9719
The reason that data in resolver was not cleared up is because there is many unknown fields, and user might set the resolver to a different address that would fail to clean up

Allowing the UsernameRegistrar Contract to call an "unknown address" (user set resolver) to do "unknown things" (clean up user set fields) is not recommended because it opens the contract to unknown unknowns.

Therefore, th

[2019-12-21 13:47] acolytec3 commented on #9717
PR submitted.  :grin:

[2019-12-21 16:07] #9707 closed, assigned to nobody

[2019-12-22 06:40] weekly-digest[bot] opened #9722 "Weekly Digest (15 December, 2019 - 22 December, 2019)"
Here's the Weekly Digest for [status-im/status-react](https://github.com/status-im/status-react):
# ISSUES
This week, 30 issues were created. Of these, 6 issues have been closed and 24 issues are still open.
## OPEN ISSUES
:green_heart: #9721 [Remove balances for deleted watch account](https://github.com/status-im/status-react/pull/9721), by [acolytec3](https://github.com/acolytec3)
:green_heart:

[2019-12-23 01:04] jacobmakarsky commented on #9592
Hello, will this issue be opening up soon? Thank you.

[2019-12-23 02:33] acolytec3 commented on #9493
@flexsurfer Just a reminder, my [PR](https://github.com/status-im/status-react/pull/9635) that you closed previously should accomplish this.

[2019-12-23 11:18] Serhy opened #9723 "No 'Apply' button appears when updating "Wallet"-> "Account"-> "Account settings""
# Bug Report

## Problem

When updating account from it's settings in Wallet (Name/Colour) there is no way to apply the changes because `Apply` button is not showing up at the top-right of top-bar when changing any setting of the account.

#### Expected behavior

Apply button appears at the top-right of the screen upon changin any of colour/name of "Wallet"-> "Account"-> "Account settings"
#### Ac

[2019-12-23 13:16] StatusSceptre commented on #9592
@jacobmakarsky are you interested in working on it? The current contributor appears to be inactive. I've stopped work so that you can apply if interested.

[2019-12-23 15:30] churik commented on #9723
it means that it is not possible to update account settings.
v1 IMO

[2019-12-23 15:40] churik opened #9724 "Status is not usable after relogin if add watch-only account that matches address of one of the created accounts"
# Bug Report

## Problem
If add watch-only account that matches address of Status account (or any account that is already created in your multiaccounts) it is not possible to login again or to create new multiaccount or login to existing one

#### Expected behavior
Can't add watch-only account with same address

#### Actual behavior
![photo_2019-12-23 16 37 21](https://user-images.githubuserconten

[2019-12-23 16:30] rn-g commented on #4340
Why is that? Apple restricted this?

[2019-12-23 20:23] ognian7 commented on #9576
I would need some more time, I will work during the holidays, thank you

[2019-12-24 02:38] jimmydjabali commented on #7633
Yeah I just had big troubles to get used to compile with nixOS's system. Now it's okay and it should be finished in just a few days.

[2019-12-24 13:06] vkjr commented on #7697
@errorists, currently in Status when searchbar is focused and empty, we show that search result is empty. In other messengers when searchbar is empty, all conversations listed in search result and that list reduces while you type in the name you are looking for.
What do you think about using the same approach? It seems a bit more logical for me.

[2019-12-24 13:39] errorists commented on #7697
@vkjr sure sgtm, go for it!

[2019-12-26 12:09] #9717 closed, assigned to nobody

[2019-12-26 13:13] acolytec3 commented on #9724
Can I pick this one up?  I've got an idea on how to fix that should be pretty straight forward.

[2019-12-26 14:59] churik opened #9728 "Can be redirected to login screen with password if multiaccount was created with keycard ("Back" button from login screen)"
# Bug Report

## Problem
It shouldn't be possible to navigate to login screen with password input if multiaccount was created with keycard.
Not if you logout and tap back (until first reopen app) - you will see invalid login screen (with password input instead of PIN code input)
![2019-12-26 15 52 03](https://user-images.githubusercontent.com/4557972/71480185-37d06b80-27f8-11ea-996f-4f001e56f47d.g

[2019-12-27 10:30] churik commented on #7333
In `test_add_and_switch_to_custom_mailserver` should be uncommented rows with test of empty address

[2019-12-27 15:03] #9709 closed, assigned to nobody

[2019-12-27 17:12] #9019 closed, assigned to nobody

[2019-12-28 10:59] ghmulti commented on #9671
Is there any additional information that might help - on which app version the problem has been observed?

[2019-12-29 10:52] weekly-digest[bot] opened #9735 "Weekly Digest (22 December, 2019 - 29 December, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 5 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #9733 [[#9493] No SNT by default after multiaccount creation / restoring](https://github.com/status-im/status-react/pull/9733), by [flexsurfer](https:/

[2019-12-30 09:44] #9724 closed, assigned to nobody

[2019-12-30 13:26] #9723 closed, assigned to nobody

[2019-12-30 16:36] #9493 closed, assigned to nobody

[2019-12-31 13:42] acolytec3 commented on #9719
Is this one I could pick up? Assuming it involves using the json-rpc to set up a new `eth_newfilter` subscription monitoring the namehash on the UsernameRegistrar and then take the appropriate action on the user profile as specified in the issue description.

[2019-12-31 13:56] 3esmit commented on #9719
Sure, @acolytec3
I am not entirely sure how good it would work with the `eth_newfilter`, so we would also need a manual check at login, that could create a "synthetic" event (or simply call directly) for the "released action", which would remove the ENS name from the profile database.

_Note to future issues: Events should be subscribed also for the namehash of the contact list, and for any change

[2019-12-31 14:10] acolytec3 commented on #9719
@3esmit so maybe 2 parts:
1) When the release action takes place in the app, set up a subscription with `eth_newfilter` to monitor for the event on the UsernameRegistrar and update the profile in the app database accordingly.
2) When the user first logs into the app, if there is an ENS name on the profile, call the UsernameRegistrar contract to see if the name is still registered to that address.

[2019-12-31 14:19] 3esmit commented on #9719
Yes.

`ENSRegistry.owner(ensNode) == address(0)` is important to check if available to register, and also to know if the owner is one of the user wallets and could release, or change the resolver.

Your code would have to check first `ENSRegistry.resolver(ensNode) != address(0)`, and then try to resolve the pubkey and check against user chat key `PublicResolver(ENSRegistry.resolver(ensNode)).pubke

[2020-01-02 14:04] rachelhamlin opened #9740 "Hide keycard options for Android as well (v1)"
# Problem

Keycards are being wiped on recovery—we are therefore not going to sell any until we have resolved the issue.

This issue is to hide any Keycard related options in the onboarding & recovery flows on Android. Keycard options are already hidden on iOS.

## Implementation

Remove these options from Android v1 build:
 - Unlock screen -> Add existing keys -> `Recover with Keycard`
- During o

[2020-01-02 16:44] rachelhamlin opened #9742 "Chat command UI requires account selection first"
# Problem

When sending funds via chat command, the UI requires you to select a wallet to send from before entering an amount.

If you do this in the wrong order, as prompted if following the flow from top to bottom of the screen, you will receive an `Insufficient funds` error.

![image](https://user-images.githubusercontent.com/15470435/71679354-5f25bc00-2d55-11ea-82e6-0237129e2e51.png)

## Imple

[2020-01-02 17:05] #9436 closed, assigned to Ferossgp

[2020-01-03 08:11] guylouis commented on #9740
cc @bitgamma too

[2020-01-03 10:32] churik commented on #9135
The same issue with bootnodes enabling/saving - on release 0.13.3 there is force logout on these actions.
On current nightly user is not asked to relogin so I suppose that new settings are not applied (but I don't have a way to check it though)

[2020-01-03 15:32] rachelhamlin commented on #9742
I think the best solution is one proposed by Andrea. Can we just change this error message to read, "Select account first"?

Then we can improve later. cc @andmironov @yenda

[2020-01-05 18:11] leafcutterant opened #9748 "QR code reader inserts a space before the read address, throws error"
# Bug Report

## Problem

When you scan a QR code with a "0x01234..." Ethereum address, Status gives the error "Invalid address" and displays the address with a white space before it, which makes me think that space is interpreted as part of the address.

#### Expected behavior

There's no space in the QR code data, so Status has some glitch. Also, if it *did* have an white spaces before or after,

[2020-01-05 21:51] mul53 commented on #9592
@StatusSceptre someone has already submitted a PR, but i was approved. I can still work on this?

[2020-01-05 22:21] acolytec3 commented on #9719
@rachelhamlin @3esmit Starting to dig into this a bit more and I'm still trying to make sure I understand current state of how ENS names are released before thinking about the best way to move forward.  Is current state just a hard-coded message on the details page saying that the name can't be released until 5/20/20 and then a "pending" message if the ENS name doesn't resolve when the user tries

[2020-01-06 00:37] 3esmit commented on #9719
I think the issue here is handling cases where the Status App thinks a name is correctly registred and associated, but the user from outside Status App changed something, such as released the ENS Name, changed the resolver, changed the chat pub key...

This also open two cases, the change is done in other devices and:
a. the status is closed
b. the status is open

For a. this detection would be do

[2020-01-06 01:13] acolytec3 commented on #9719
That all makes sense then.  Here's my thought on how to approach.

1) At every login, check to see if there is a ENS name cached in the app db. If so, try to resolve it and the pubkey per your approach above. If it doesn't resolve, prompt the user with an error scenario regarding their ENS Name and remove it from local storage.

2) Add a new feature in the UI that allows a user to release their EN

[2020-01-06 01:35] danimesq opened #9749 "Support importing private key"
By seed (MetaMask) and privatekey.

[2020-01-06 02:52] 3esmit commented on #9719
Yeah, you can solve both if you want in this issue, as they are very close related.

[2020-01-06 10:21] #9696 closed, assigned to Ferossgp

[2020-01-06 10:23] #9693 closed, assigned to nobody

[2020-01-06 12:00] acolytec3 commented on #9749
@DaniellMesquita When you say "seed", are you referring to the 12 word seed phrase?  If so, that's already supported in account onboarding.  If you take the seedphrase for your metamask account and use that as the "keys" during account onboarding, the first account that is created in your wallet will be your Metamask account.

Alternatively, are you just wanting to be able add an ethereum address

[2020-01-06 13:33] Serhy opened #9752 "Custom bootnode value is gone after re-login"
# Bug Report

## Problem

After user entered bootnode value in profile settings, - the next time he logs into account - there is no bootnode item is present.

#### Expected behavior

Custome bootnode value kept after relogin
#### Actual behavior

Custom bootnode value is gone after re-login
<img width="608" alt="Screenshot 2020-01-06 at 15 31 40" src="https://user-images.githubusercontent.com/8749

[2020-01-06 13:40] guylouis commented on #9728
Thanks reproduced too on nightly from 06/01/2020

[2020-01-06 15:02] #9050 closed, assigned to nobody

[2020-01-06 15:08] acolytec3 commented on #9672
@rachelhamlin Not sure if this is the right place or not but don't forget to clean up the language/translations related to the `custom-seed-phrase-1` and `custom-seed-phrase-2` labels that are no longer representative of what's happening when restoring a multiaccount from a seed phrase.

[2020-01-06 15:13] #9672 closed, assigned to nobody

[2020-01-06 15:28] #9700 closed, assigned to nobody

[2020-01-06 15:30] #9695 closed, assigned to Ferossgp

[2020-01-06 15:49] rachelhamlin commented on #9749
Bingo. In v1, you can do this during account recovery, as @acolytec3 says.

However, the option to add an address by seed phrase within another wallet is on the backlog.

[2020-01-06 16:01] StatusSceptre commented on #9592
Apologies for that @mul53—it will be a waste of effort for you to work on this too. I'll be adding some new bounties soon that you can check out.

[2020-01-06 16:06] rachelhamlin opened #9754 "User can double purchase a sticker pack while Tx is pending"
# Bug Report

## Problem

- Paid sticker packs require Tx mined to install
- No indication of pending Tx in Status wallet
- If user refreshes app, sticker pack no longer shows spinning loader (indicating Tx mining)
- User can then purchase sticker pack again—nothing stops them from making two Txs for the same pack

#### Expected behavior

Pending sticker purchase persists even after app is closed

[2020-01-06 16:07] #9706 closed, assigned to nobody

[2020-01-06 16:43] mul53 commented on #9592
I thought so too, I will look at the new bounties

[2020-01-06 17:49] StatusSceptre commented on #9592
@mul53 this one doesn't have a bounty yet but would be a good first issue: https://github.com/status-im/status-react/issues/9666

Do you want it?

[2020-01-06 17:50] rachelhamlin commented on #9740
Evidently the current release build does not include any references to Keycard, so if we're basing v1 off a release (?), then we don't need to change anything here. Just need to be aware of this.

cc @churik @Serhy

[2020-01-06 17:57] danimesq commented on #9749
There is a imported ETH address in my MetaMask account, which means seed will not import. My request is to support importing private keys.

[2020-01-06 18:24] mul53 commented on #9592
@StatusSceptre Yes, I will tackle it

[2020-01-06 19:44] #9670 closed, assigned to nobody

[2020-01-06 20:51] churik opened #9755 "Status takes 5-30 sec to get back to online after going back from sleep mode"
# Bug Report

## Problem
For me (located in Valencia) and Sergey (located in Kyiv) when phone came back from sleep mode - it takes 5-30 sec to have app back online (on average for me ~15 sec).

#### Expected behavior
app go back online immidiately or at least during 1-2 sec (it is already a lot from my POV)

#### Actual behavior
Offline state is preserved for 30 sec (check out video https://drive.

[2020-01-06 20:52] churik commented on #9755
can be crucial for v1 because extremely visible
cc @hesterbruikman @rachelhamlin @Serhy

[2020-01-06 21:55] StatusSceptre commented on #9592
@mul53 I approved you on #9754 as well

[2020-01-06 22:02] rachelhamlin commented on #9755
Hmm. Can't repro on iOS nightly in New York. Perhaps @cammellos can investigate?

[2020-01-06 22:21] yenda commented on #9742
@rachelhamlin @andmironov what about selecting the first account by default? (I made and pushed the fix in a separate commit anyway)

[2020-01-07 01:15] acolytec3 commented on #9749
@rachelhamlin I think `status-go` supports this already, if I'm reading the [`extkeys`](https://github.com/status-im/status-go/blob/c0c963bdaade096dd0ce6eb7b9eed9ef7620f652/extkeys/hdkey.go#L343) code correctly though we'd need to add it to the API in order for status-react to consume it, kind of like we did with BIP39 mnemonic validation.  Is this something the core team would want to add as an a

[2020-01-07 09:13] flexsurfer commented on #8548
@Serhy pls test in latest nightly i believe it has been fixed

[2020-01-07 09:17] rachelhamlin commented on #9742
💯 that works for me @yenda

[2020-01-07 09:17] churik commented on #9755
@rachelhamlin as we found out with @hesterbruikman yesterday, it may be related to mailserver itself (in our case it is AMS) - so sometimes issue is constantly reproducible, sometimes - no.
As far as I kniow she also asked @jakubgs  about it - and he confirmed that.

From DM:

[2020-01-07 09:24] churik commented on #6419
Not reproducible anymore

[2020-01-07 09:24] #6419 closed, assigned to nobody

[2020-01-07 09:30] churik commented on #7336
Can't rename group chat anymore

[2020-01-07 09:30] #7336 closed, assigned to nobody

[2020-01-07 09:32] churik commented on #7390
Not relevant anymore

[2020-01-07 09:32] #7390 closed, assigned to nobody

[2020-01-07 09:34] churik commented on #7657
Not reproducible anymore

[2020-01-07 09:53] churik commented on #7686
not relevant anymore

[2020-01-07 09:53] #7686 closed, assigned to nobody

[2020-01-07 09:56] churik commented on #7788
Still relevant on nightly 07/01/2020

[2020-01-07 09:58] churik commented on #7875
Not reproducible anymore on nightly 07/01/2020

[2020-01-07 09:58] #7875 closed, assigned to nobody

[2020-01-07 09:58] #7991 closed, assigned to nobody

[2020-01-07 09:59] churik commented on #8150
`value` is still not supported

[2020-01-07 10:57] churik commented on #8462
not reproducible anymore

[2020-01-07 10:57] #8462 closed, assigned to nobody

[2020-01-07 10:59] churik commented on #8659
not reproducible anymore

[2020-01-07 10:59] #8659 closed, assigned to nobody

[2020-01-07 10:59] churik commented on #8678
no such stickers anymore

[2020-01-07 10:59] #8678 closed, assigned to nobody

[2020-01-07 11:02] churik commented on #8955
Still relevant in nightly 07/01/2020

[2020-01-07 11:03] churik commented on #8956
still relevant on nightly 07/01/2020

[2020-01-07 11:05] churik commented on #8958
Not relevant anymore on nightly 07/01/2020 (IOS 13)

[2020-01-07 11:05] #8958 closed, assigned to nobody

[2020-01-07 11:07] churik commented on #9306
not relevant anymore, feature is removed

[2020-01-07 11:08] #9306 closed, assigned to nobody

[2020-01-07 11:12] churik commented on #9565
Feature is removed for now

[2020-01-07 11:31] churik opened #9758 "Log level (INFO) in settings in Profile doesn't match real settings"
# Bug Report

## Problem
To get geth.log now you need to set custom log level in Settings, because by default it is set "ERROR" level and LogsEnabled= false but in Profile > advanced setting we show "INFO" instead of "ERROR"
Most likely was introduced by  https://github.com/status-im/status-react/pull/9708

#### Expected behavior
settings in profile match real one

#### Actual behavior
- "INFO" in

[2020-01-07 12:21] churik opened #9759 "App freezes if tap on digital keyboard after "Cancel" on Send Transaction screen"
# Bug Report

## Problem

There is a lag between tap on "Cancel" on "Send Transaction" and the moment of closing digital keyboard for entering amount. If tap during this time on any key on digital keyboard  - app is freezing until force reopening.

#### Expected behavior
app is not freezing or it is not possible to tap on keyboard

#### Actual behavior

![2020-01-07 13 18 23](https://user-images.g

[2020-01-07 14:06] rachelhamlin commented on #8956
Sharing with Gheorghe.

[2020-01-07 14:12] rachelhamlin commented on #9749
To be honest, we hadn't thought about it in context of recovery. We do have plans to import keystore files into existing accounts, but it is a rarer case. My first priority would be to support the [`Add account` > `Enter a seed phrase` path](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4207%3A3446) within wallet.

[2020-01-07 14:15] StatusSceptre commented on #6839
Welcome aboard @samgos - you're doing to need to write Clojure and compile it to RN. Any Clojurescript familiarity? Here's our [quickstart](https://status.im/build_status/status_react_quickstart.html), just ping us with any questions, we're happy to help.

[2020-01-07 14:28] rachelhamlin commented on #9672
@acolytec3 would you want to go ahead and fix that? I think you understand it best. I'm looking at it in en.json and don't understand why the message is split into `custom-seedphrase-1` and `custom-seedphrase-2` - again can pay you directly :)

[My comment with updated copy](https://github.com/status-im/status-react/pull/9648#issuecomment-567501165)

[2020-01-07 14:42] danimesq commented on #9749
My main account is based in privatekey.
Im using MetaMask mobile as it quickly supported privatekey importing. Im yet willing to also use Status.

[2020-01-07 15:14] #9697 closed, assigned to Ferossgp

[2020-01-07 15:47] acolytec3 commented on #9672
@rachelhamlin Sure.  Just to verify my understanding.  You want the english copy updated to below?
`This seed phrase doesn't match our supported dictionary and can't be used. Some words may be misspelled.`

I can't comment on why there's the breakout between the `custom-seed-phrase-1` and `2` but presumably due to field lengths or something given that the original copy here actually had `custom-se

[2020-01-07 15:58] rachelhamlin commented on #9404
Only ~3% of our current beta installs, so we can leave this unprioritized.

[2020-01-07 16:06] rachelhamlin commented on #9179
POC was conclusive and we have a WIP for improved PNs on Android, but not ready for release yet. There are myriad bugs with the current implementation, so we **do** want to disable PNs for v1 in the end. My bad - I had in mind that this was already done.

[2020-01-07 16:19] jakubgs commented on #9081
According to [Network Metrics](https://docs.docker.com/config/containers/runmetrics/#network-metrics) section of Docker docs:

So as an alternative they propose creating IP Tables rules:

Which can be an issue since access to IP Tables requires `root` priviledges.

[2020-01-07 16:30] jakubgs commented on #9081
An alternative are "Interface-Level Counters":

It just requires some juggling to get the data. Assuming that `$CID` is ID of a container we want:
[code]

Which should get use output like this:
[code]
Which gives us things like:

* `(RX|TX)-OK` - Packets received/sent correctly.
* `(RX|TX)-ERR` - Packets received/sent but with incorrect checksum.
* `(RX|TX)-DRP` - Packets dropped because of full b

[2020-01-07 16:38] hesterbruikman opened #9763 "Biometric login is cancelled after signing out AND UI could explain that a last non biometric login is needed when setting it up"
# Bug Report

## Problem
When ticking the box to `Don't ask for card to sign in`, a modal comes up to `Enable fingerprint`. When tapping `Cancel`, the checkbox remains ticked. However, it is possible to continue unlocking the Keycard multiaccount with passcode, while being required to still hold the Keycard to the phone.

#### Expected behavior
When the checkbox `Don't ask for card to sign in` is

[2020-01-07 16:38] hesterbruikman commented on #9763
cc @churik @guylouis

[2020-01-07 17:47] guylouis opened #9764 "Dead Keycard due to card tearing"
**ISSUE**
When the card interacts with the phone, and the the card is removed from the proximity of the phone, the card can be killed. Killed menaing that it is impossible to have any interaction with the card anymore. For instance: card does not answer to any CLI command, or when tapped on walletconnect android app, when tapping the card on the main screen no interaction happen.

**REPRODUCTION**

[2020-01-07 18:02] yenda commented on #9179
@rachelhamlin it is done already, in release version there should be no PN and no option to enable them

[2020-01-07 19:06] deoidh commented on #6839
Thank you for the approval, I will not let you down, Clojure no but the JVM yes. I'm sure I'll be fine, will do.

[2020-01-07 20:35] rachelhamlin opened #9766 "Disable group chats for v1"
# Problem

Group chats are quite buggy. Let's minimize problematic experiences in v1 by hiding this option in chat.

## Implementation

Hiding the group chat option from the chat menu should be sufficient.

![image](https://user-images.githubusercontent.com/15470435/71927362-37878700-318d-11ea-8ed2-5f0865963810.png)

## Acceptance Criteria

Users can no longer start or be invited to group chats.

[2020-01-07 20:37] rachelhamlin commented on #9179
Okay, cool, I'm not crazy then.

[2020-01-08 07:30] cammellos commented on #9766
please only do that in release version of the app, so that we can still run tests etc against them

[2020-01-08 07:35] #8956 closed, assigned to Ferossgp

[2020-01-08 08:08] hesterbruikman commented on #9755
fyi: couldn't reproduce yesterday on Android and iOS. Will keep an eye out today as well.

[2020-01-08 08:28] Serhy commented on #8548
Yes, it works now, checked on Android 8 and Android 9. Closing the issue, thanks @flexsurfer

[2020-01-08 08:28] #8548 closed, assigned to nobody

[2020-01-08 08:44] cammellos commented on #9755
This is not related to mailserver only:
Offline means that the peers count is 0, meaning that the client is not connected to **any** node in the cluster (including mailserver), so choice of mailserver should not really have a big impact on it (other than we include that node)

[2020-01-08 09:12] rachelhamlin commented on #8956
Easy! 😍👏🏼 @Ferossgp

[2020-01-08 09:27] rachelhamlin commented on #9755
Not able to repro on nightly today in London.

[2020-01-08 09:42] andmironov opened #9767 "Accounts clipped on the wallet screen"
Here's how this looks now, those unnecessary padding on left and right should not be there

<img width="890" alt="Screen Shot 2020-01-08 at 12 42 01" src="https://user-images.githubusercontent.com/3115606/71967352-4c5b2d80-3214-11ea-97f2-010547259576.png">

[2020-01-08 09:53] churik commented on #9763
It is the same for save password option - you need to fill the password once more to save this setting.
I told about that around 3 weeks ago with @andmironov, probably he has smth on mind about that

[2020-01-08 10:21] jakubgs commented on #9766
Wait, isn't the screenshot highlighting the wrong button here?

[2020-01-08 10:27] cammellos commented on #9766
yes, though the PR disabled the right one

[2020-01-08 10:51] andmironov opened #9769 "Fix shadow in Wallet on Androind"
All accounts as well a the "Add account" button should have the same shadow

<img width="906" alt="Screen Shot 2020-01-08 at 13 49 50" src="https://user-images.githubusercontent.com/3115606/71972476-c217c700-321d-11ea-8f62-db2dac9ed249.png">

Shadow properties:
`box-shadow: 0px 2px 16px rgba(0, 9, 26, 0.12);`

Figma
https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=1743%3A303

[2020-01-08 11:05] errorists commented on #9769
@andmironov with Android it requires an [Elevation](https://material.io/design/environment/elevation.html#elevation-in-material-design) value, regular box shadow doesn't work. so when shadow is used I think we need to provide elevation values next to mockups. I'm guessing the elevation value for cards should be higher than what it is to approximate the box shadow.

[2020-01-08 11:10] churik commented on #9755
Let's keep it open anyway to see if users during dogfooding will encounter it

[2020-01-08 12:01] hesterbruikman commented on #9763
Check. I think the issue was exacerbated by a bug that when having to hold the card once more, the card lost connection the `Get started` screen was shown. The only way to get back to the unlock screen was by going to `recover with Keycard`. In this flow, the app detected that there were already paired keys on the card and offered the option to `unlock`. This was the only way to get back to the un

[2020-01-08 12:04] #9592 closed, assigned to nobody

[2020-01-08 12:28] churik commented on #9763
As for https://github.com/status-im/status-react/issues/9763#issuecomment-572018694 it is something different - and I don't remember such issue

As for issue itself from https://github.com/status-im/status-react/issues/9763#issue-546385944, I would agree on option

because I believe it is not possible to use only passcode without card (it is bound to the card afaik), just wanted to highlight that

[2020-01-08 12:46] tbenr commented on #9592
@StatusSceptre i'm receiving warnings from gitcoin to contact you 'cose this bounty is going to expire in 2 days.

[2020-01-08 12:52] hesterbruikman opened #9770 "Add back button to step 2 of Keycard unlock"
# Bug Report

## Problem
When unlocking a Keycard multiaccount the user can get stuck on step 2 `hold card against the phone` when they've entered the passcode, but do not have immediate access to the Keycard. There is no way to go back to select another multiaccount.

#### Expected behavior
Step 2 has a back button
<img width="794" alt="Screen_Shot_2020-01-08_at_15 42 15" src="https://user-images

[2020-01-08 12:59] hesterbruikman opened #9771 "Translation error in Keycard dialog"
# Bug Report
## Problem
Copy includes a translation error

#### Expected behavior
Dialog only shows: "If you don't want to use Keycard each time to access the app, enable <fingerprint/face ID> sign in."
{{bio-type-label}} should be replaced with biometric id offered by OS (fingerprint only for Android at the moment.
Correct padding is used: 24px horizontal padding and on children inside the conten

[2020-01-08 13:00] andmironov commented on #9742
@yenda yep, that's great!

[2020-01-08 13:26] #9766 closed, assigned to nobody

[2020-01-08 14:32] hesterbruikman opened #9774 "Update onboarding illustrations to animated versions"
# Problem
The static illustrations in onboarding can be replaced with animated illustrations we didn't have before.

## Implementation
@errorists can you add the animations here

## Acceptance Criteria
Exact same dimensions as current illustrations, but replaced with animated sourcefiles.

## Notes

## Future Steps

[2020-01-08 15:54] errorists commented on #9774
[link here](https://www.dropbox.com/sh/uzdrq6sqkclhjsb/AAC_1XPVPCX3y7s4lQXnuQSea?dl=0) 👀

technical: please don't modify assets in any way. these mp4s should be looped in code as they won't on their own unlike gifs

[2020-01-08 16:58] rachelhamlin opened #9778 "Add glossary of terms to profile page"
# Problem

Status introduces a lot of new and unfamiliar terminology.

## Implementation

Create a basic `Glossary` page under the Profile `Need help?` section.

- `Frequently asked questions`
- `Glossary`
- `Submit a bug`
- `Request a feature`

## Acceptance Criteria

Implement a static text page with the following copy:

**Account** - Your Status account, accessed by the seed phrase that you cre

[2020-01-08 17:02] errorists commented on #9778
designs [here](https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=1056%3A20184)

I think the only difference I made it alphabetical order, like a dictionary cause those are cool ;)

[2020-01-08 17:16] corpetty opened #9779 "Restoring same account in multiple ways ends in account being inaccessible by any means."
# Bug Report

## Problem

Restoring same account in multiple ways ends in account being inaccessible by any means. This is potentially an issue if a user wants to access an account in a lost keycard and tries to restore from the original seed phrase.

#### Expected behavior

accessing existing keys from seed phrase of an already existing "account" either overwrite current access methods, create id

[2020-01-08 17:18] corpetty commented on #9280
Think I got this error today when recovering account on latest nightly

[2020-01-09 09:36] andmironov commented on #9771
Also, paddings on the left and right are missing

[2020-01-09 09:51] andmironov opened #9782 "Update the "Your keys" screen"
Currently, this screen is called "Unlock", let's update it.

- The screen header should be consistent with the rest of the app;
- The list items in the keys list should be consistent with the rest of the app;
- "Access key" button as well as `...` should be consistent with the rest of the sign in flow;
- Let's update the keycard indicator for it to be consistent with the rest of the app;

<img wid

[2020-01-09 13:52] andmironov commented on #9763
When the checkbox Don't ask for card to sign in is checked, the user is not required to hold the Keycard to the phone to unlock the Keycard multiaccount.

Just to clarify, this is supposed to happen **next time** the user signs in, but instead, it's not happening, is that correct?

[2020-01-09 15:22] #9767 closed, assigned to Ferossgp

[2020-01-09 15:53] rachelhamlin commented on #9778
Amazing, thank you @errorists.

[2020-01-09 21:07] ghmulti commented on #9748
Seems that the problem is the format of your address (no "ethereum:" prefix)
Can be reproduced with
`(re-frame.core/dispatch [:qr-scanner.callback/scan-qr-code-success {:handler :wallet.send/qr-scanner-result} "0x01234..."]) `
while the following event will work fine
`(re-frame.core/dispatch [:qr-scanner.callback/scan-qr-code-success {:handler :wallet.send/qr-scanner-result} "ethereum:0x01234...""

[2020-01-10 08:45] errorists opened #9789 "Add a loading indicator and button to username input of start new chat"
### User Story

As a user I want feedback when I'm entering a ENS username, when it's looking up my public key and when it's resolved correctly, even on a slower connection.

### Description

The scope of this issue is
• Add a dedicated 'Start' button next to the input with three states: disabled (greyed out), pending (greyed out with spinner), ready (blue). this is the same button that's used in

[2020-01-10 09:31] Ferossgp commented on #9769
@andmironov In iOs seems like everything is correct - do you have an idea which elevation size will fit better for android?

[2020-01-10 09:43] andmironov commented on #9769
I just tried both `3dp` and `2dp`. Both seem off to me but  `2dp` seems just a bit less aggressive

<img width="884" alt="Screen Shot 2020-01-10 at 12 41 55" src="https://user-images.githubusercontent.com/3115606/72142824-9d9b2680-33a6-11ea-9cc5-7bd3e61c4eeb.png">

i'd stick to `2dp` (does it look like on the screenshot above in real life btw?)

[2020-01-10 09:46] andmironov opened #9790 ""Log out" instead of "Sign out""
Let's keep it consistent and replace "Log out" with "Sign out" here in this prompt window (3 times)

![photo_2020-01-10 12 46 32](https://user-images.githubusercontent.com/3115606/72143149-3fbb0e80-33a7-11ea-9014-2049c64c3653.jpeg)

[2020-01-10 11:23] flexsurfer commented on #9769
https://ethercreative.github.io/react-native-shadow-generator/

[2020-01-10 11:40] errorists commented on #9790
Is it necessary to repeat `Log Out` three times? 🙃
maybe it's better to rephrase the alert title like 'You are about to sign out' and remove the message, one log out less

[2020-01-10 11:50] deoidh commented on #6839
Got the all the kitties showing, so now it's just a matter indexing them in the correct order, nearly there!

[2020-01-10 12:27] StatusSceptre commented on #6839
Wow, awesome work @samgos! Thanks for the update.

[2020-01-10 12:45] Serhy opened #9792 "Custom token disappears after re-login"
# Bug Report

## Problem

When custom token is added in wallet I can see appropriate amount for my address and can send transaction. But token disappears after re-login.

#### Expected behavior
Custom token is present after re-login

#### Actual behavior
Custom token disappears after re-login
<img width="560" alt="Screenshot 2020-01-10 at 14 41 47" src="https://user-images.githubusercontent.com/87

[2020-01-10 13:22] andmironov commented on #9790
sure that's even better :-)

[2020-01-10 14:16] hesterbruikman commented on #9763
Thanks for your comments on this @churik @andmironov.

To your question @andmironov I think there are 3 separate issues. Apologies for the confusion, the distinction is only now becoming clear to me. @guylouis can you also take a look please? As I think these might also need to be addressed in 3 separate GH issues.

### Functionally
- Enabling fingerprint works when killing the app, but is **reset

[2020-01-10 14:47] hesterbruikman commented on #9763
@rasom I noticed closing the app leaves login settings whereas sign out resets login settings.

Do you recall why this is and if it's possible to save the settings? e.g. Would this flow be possible, leaving settings in tact?

- Set finger print or save passcode/password
- Go to Profile > Sign out
- View "your keys" screen
- Choose account
- Sign in / Unlock with the saved settings

If the user clo

[2020-01-10 15:38] #9758 closed, assigned to nobody

[2020-01-10 16:25] yenda commented on #9792
should be fixed in develop now

[2020-01-10 16:27] yenda commented on #9779
@rasom @rachelhamlin should we prevent recovery of an existing account?

[2020-01-12 16:09] mul53 commented on #9754
Hey still working on this, I was working through starting up the development environment. Now it’s up how can I reproduce the bug above.

[2020-01-13 07:51] StatusSceptre commented on #9754
Awesome @mul53 - let us know if you have any questions.

[2020-01-13 07:54] rachelhamlin commented on #9779
@yenda @corpetty I think we should prevent second recovery of an existing account. Edge case, but certainly a problematic one. Can we block the user with an error message that says something like, `You already have an account with this seed phrase. Please log in.`?

Also curious what happens if you uninstall and reinstall in this scenario.

[2020-01-13 07:55] mul53 commented on #9754
@mul53 I have a question regarding a bug. How do i reproduce it? Sorry It's my first time navigating status(by the way, Awesome UI).

[2020-01-13 08:04] StatusSceptre commented on #9754
Thanks. :) Are you on the develop build @mul53? Can you see the sticker icon in a chat? You will need some SNT to purchase the sticker pack that is for sale. You can send me your ETH address so I can send you some for testing.

![image](https://user-images.githubusercontent.com/42685581/72240186-f0c6e080-3615-11ea-8281-e31bd1a5d084.png)

[2020-01-13 08:18] yenda commented on #9179
@rachelhamlin so let's close this one?

[2020-01-13 08:32] yenda commented on #9668
@rachelhamlin I remove the v1 tag since keycard will be disabled

[2020-01-13 08:33] #9179 closed, assigned to nobody

[2020-01-13 08:36] yenda opened #9801 "Disable custom picture for non-ens usernames"
# Bug Report

## Problem

We want to disable custom pictures for users that don't have an ens username so that it is not possible to impersonate someone by using their identicon as profile picture, which would deceive anyone not paying attention to the random name.

[2020-01-13 09:14] rachelhamlin opened #9803 "Connectivity banner cuts off text when message is too long"
# Bug Report

## Problem

When the connectivity banner contains more than one line of copy, the text overflows.

![image](https://user-images.githubusercontent.com/15470435/72243899-a4809e00-361f-11ea-8146-ef2a35090983.png)

#### Expected behavior

Room for two lines of copy on the top banner.

#### Actual behavior

Bottom line of text is cut off.

[2020-01-13 09:22] rachelhamlin commented on #9801
Removed v1 label as it's too impactful a decision to make on the fly. We need to discuss the way we'd store images, disabling photo-path down to protocol, etc.

[2020-01-13 09:23] rachelhamlin opened #9804 "Double check if stickers are pinned to Status ipfs node"
I have no other details, just tracking this. :)

[2020-01-13 09:30] rachelhamlin commented on #9371
I'm struggling to connect to mail servers and test this feature today so I'll just ask - can I close this @yenda @cammellos?

[2020-01-13 10:01] jakubgs commented on #9804
How can I find addresses to the stickers we need?

[2020-01-13 10:11] errorists commented on #9803
I think it's the fault of the message contained within, we shouldn't show users such crap like 'an error occurred while fetching history, check the logs…'. also this might be resolved with https://github.com/status-im/status-react/issues/9288 since we opted to cut out all unnecessary messages from the connectivity snackbar.

[2020-01-13 10:29] #9371 closed, assigned to nobody

[2020-01-13 10:30] churik opened #9805 "Contacts added before sync are not syncing after pairing devices"
# Bug Report

## Problem

Sometimes contacts added before device pairing don't appear on the second device.
Reproducibility ~10%, sometimes can be reproducible manually.
Appeared ~3 weeks ago, can investigate more precisely if it makes sense.
Reason for failing e2e with reason `Contact is not found in Contacts after initial sync` in PRs and in nightly

#### Expected behavior
contact 1 appeared on

[2020-01-13 10:30] yenda opened #9806 "No need to request address for send command when recipient has ens username"
# Bug Report

## Problem

When the recipient has an ens username, there is no need to ask for his address and the address pointed at by the ens name can be used instead.

[2020-01-13 11:06] deoidh commented on #6839
I'm afraid I cannot find a viable solution for indexing the kitties correctly due to Clojure's abnormal behaviour when it comes to mapping and indexing values. Alongside working with `http-get-n` (which I can't find out for the life of me what library extends from this) and it's exclusivity to use `mapv`,  I did find that `filterv` worked perfectly for maintaining the order of the array but was fa

[2020-01-13 12:18] flexsurfer commented on #9804
these two packs should be pinned

https://cloudflare-ipfs.com/ipfs/QmWVVLwVKCwkVNjYJrRzQWREVvEk917PhbHYAUhA1gECTM
https://cloudflare-ipfs.com/ipfs/QmWpG2Q5NB472KLgFysdCjB8D1Qf9hxR2KNJvtCJQJufDj

and all item for them
[code]
[code]

[2020-01-13 14:14] deoidh commented on #6839
Opened a WIP PR at #9810, hopefully it may shine some light on how to implement the indexing.

[2020-01-13 14:32] jakubgs commented on #9804
Question, why are we even checking this? I don't think we are using the Status IPFS nodes for anything. I checked in the `status-react` repo:
https://github.com/status-im/status-react/search?q=test-ipfs.status.im&unscoped_q=test-ipfs.status.im
And there's not a single instance of `test-ipfs.status.im` in the codebase. Sow what exactly is this issue for?

[2020-01-13 14:37] #9666 closed, assigned to nobody

[2020-01-13 14:44] jakubgs commented on #9804
@rachelhamlin I don't think this issue makes sense.

[2020-01-13 14:44] flexsurfer commented on #9804
So we don't know for sure, but it seems we pinned stickers on infura ipfs node, so if infura will clear pins or close nodes, and we will use cloudflare for example, we want to make sure these files pinned and can be retrieved from our status ipfs node

[2020-01-13 14:57] jakubgs commented on #9804
Oh, I see, that makes more sense.

[2020-01-13 15:29] #9740 closed, assigned to nobody

[2020-01-13 15:59] andremedeiros commented on #9792
Confirmed custom tokens remain after signing out / signing back in.

[2020-01-13 16:04] #9792 closed, assigned to nobody

[2020-01-13 17:16] Serhy opened #9815 "ENS name of added contact is lost after re-login"
# Bug Report

## Problem

When I add a contact finding ENS name, as soon as this contacts adds me in contact list then next time I login to account I don't see ENS name on this contact

#### Expected behavior

ENS name kept after re-login
#### Actual behavior

ENS name of added contact is lost after re-login

VIdeo: https://drive.google.com/file/d/1aIyyyEtAUdQzS4hbvyZVAYyPxCEejr4U/view?usp=sharing

[2020-01-13 17:35] Serhy commented on #9815
It's not only ENS name, in some cases the contact as "Contact added in my list" lost as well (you may see in video attached to description

[2020-01-13 18:14] jakubgs commented on #9804
I made a [dead simple utility in Python](https://github.com/status-im/infra-utils/blob/master/ipfs/pin_sticker_packs.py) for pinning those resources. Here's the result:
[code]
Now, if we want our cluster to always pin these kinds of resources we need to develop some kind of process for handling that. It can definitely be automated. I just need to understand how I can get new resources to pin.

[2020-01-13 20:40] ghmulti commented on #9790
Assuming that changing text from question to statement will require(?) changes in all language-files, who is usually doing the translation? :smile:
Does that looks fine?
![Screenshot from 2020-01-13 21-29-58](https://user-images.githubusercontent.com/4256893/72289752-0d7e0b00-364c-11ea-9afa-f0c3394fac61.png)

[2020-01-14 01:20] danimesq opened #9817 "Reproducible builds"

[2020-01-14 08:47] errorists commented on #9790
@rachelhamlin any thoughts you'd like to share on the wording here? imo it still doesn't feel 'right' somehow

[2020-01-14 08:56] flexsurfer commented on #9817
https://github.com/status-im/status-react/issues/1125#issuecomment-552388539

[2020-01-14 08:56] #9817 closed, assigned to nobody

[2020-01-14 09:06] churik opened #9818 "Can procced with restoring account without password confirmation"
# Bug Report

## Problem

When restoring account from mnemonic, can tap on "Next" without account confirmation.

#### Expected behavior
Next is disabled until confirm password

#### Actual behavior
Procced to account creation

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Access existing keys > Enter seed phrase > Re-encrypt your keys > Next

[2020-01-14 09:31] #9752 closed, assigned to nobody

[2020-01-14 10:07] churik opened #9819 "User without ENS name in profile don't see others ENS names"
# Bug Report

## Problem
Until user doesn't add ENS name in profile, he can't see others ENS names in public chats.
Can be related to https://github.com/status-im/status-react/issues/9815

#### Expected behavior
ENS names are resolved for all users

#### Actual behavior
ENS names are not resolved until you add ENS in profile

### Reproduction

[comment]: # (Describe how we can replicate the bug st

[2020-01-14 10:14] churik opened #9820 "Tap on ENS name in public chats of other users shows own ENS name"
# Bug Report

## Problem
On tapping on other ENS name in public chat you see own ENS name instead of user's ENS name

#### Expected behavior
 user's ENS name

#### Actual behavior
your own ENS name
![12345](https://user-images.githubusercontent.com/4557972/72335312-0fcd7d00-36bf-11ea-9b34-d6b579088771.png)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Ope

[2020-01-14 10:15] churik commented on #9820
cc @rachelhamlin

[2020-01-14 10:26] Serhy opened #9821 "No navigation to Tozemoon sticker pack when tap on the sticker in the chat"
# Bug Report

## Problem

Tapping on Tozemoon sticker from inside chat view there is no navigation to it's pack happens for purchase (or adding if already purchased).
<img width="356" alt="Screenshot 2020-01-14 at 12 19 50" src="https://user-images.githubusercontent.com/8749671/72335976-8a4eca80-36c8-11ea-9f39-c78303b40c62.png">

All fine with `Status Cat` sticker though.

#### Expected behavior

[2020-01-14 10:30] Serhy commented on #9821
cc @flexsurfer @rachelhamlin @andremedeiros
included in V1

[2020-01-14 11:18] Serhy commented on #9372
It appears from time to time (with some of PR builds) and the most recent build run when message was not received and 1-1 chat did not appear on Chats view after appearing online was 7th of January nightly:
https://app.saucelabs.com/tests/c367ae3a089e42268b31c91ef8369435?auth=9196350b9e17881de5985c47f019e41a - message receiver device and it's full emulator
[logcat.log](https://github.com/status-im

[2020-01-14 12:24] flexsurfer commented on #9821
should be fixed in status-go, packid = 0 should be in the message content

[2020-01-14 12:41] Serhy opened #9824 "Latest 24h messages are not visible in public chat I join it after contact request received"
# Bug Report

## Problem

If I receive contact request (not even a message - only contact request) then when I join to public chat having messages for the last 24h - those messages in publics are not shown in chat view. However messages are received (just not shown) because:
a) I see the latest message (preview) in chat item on Chats main view and
b) if I re-login I immediately see counter of unre

[2020-01-14 12:47] Serhy commented on #9824
Not reproducible with 1-1 chats (I receive offline history fine in different 1-1 chats after contact request)

[2020-01-14 13:12] rachelhamlin commented on #9790
Actually wait - why do we even have a log out confirmation? This isn't a pattern I'm familiar with.

[2020-01-14 13:38] cammellos commented on #9824
@Serhy I have tried to replicate but with no luck, following exactly the same steps. Can you consistently replicate or it only happens sometimes?

Also if you can, could you check if you can replicate here ? https://github.com/status-im/status-react/pull/9787 ( I could not )

[2020-01-14 14:25] errorists opened #9826 "Remove the 'not a contact' indicator and replace it with a text label"
As a user, I want a clear, understandable indicator that someone I chat with is not on my contacts list.

### Description

Currently we use this blue orb that may mean everything, that someone is online, that he's verified or for those of who use using status longer, that he's not a contact.

![IMG_1263](https://user-images.githubusercontent.com/4932774/72351721-2c7aac80-36e1-11ea-9d6f-addc310a531

[2020-01-14 14:28] Serhy commented on #9824
Yes, @cammellos reproducible for me all the time on iOS and Android (v8.1 and v9 confirmed)
And reproducible with latest builds in https://github.com/status-im/status-react/pull/9787 (https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-200114-125748-683cb6-pr-universal.apk and https://webapp.diawi.com/install/KLfEJS

(Sorry I've skipped there in description a step to switch to `eth.staging`

[2020-01-14 14:29] Serhy commented on #9824
Looking at logcat now..

[2020-01-14 14:46] Serhy commented on #9824
Of course while I was getting logcat I got the case when in `failed to reproduce all the time` :) (well not completely and before I seen it reproducible 10 of 10 times)
So firstly I created and account and switched to `eth.staging` fleet. Then starting from this point
[logcat_empty_public.txt](https://github.com/status-im/status-react/files/4059658/logcat_empty_public.txt)

I opened QR code of thi

[2020-01-14 15:02] StatusSceptre commented on #6839
Thanks for the great effort @samgos! I'll definitely compensate you for your time.

[2020-01-14 15:15] deoidh commented on #6839
That's awesome I'll submit the work on gitcoin then, forgive me for not sorting the indexing but at least the kitties are showing!

[2020-01-14 15:16] churik commented on #9372
Logs from today:
Device 1: https://saucelabs.com/jobs/6e72a4df5f84436390a018e51b2d06ab?auth=78be9d3abdaaaa6e78c14aecd0342d95 (receiver, however 3 minutes in connecting state, so test is failed  due to timeout)
Device 2: https://saucelabs.com/jobs/8facabb4d6b043d08eadf303d894a21e?auth=3944158cfc6afd2ff9235af480866b14 (sender)

[2020-01-14 16:08] errorists commented on #9790
@rachelhamlin It's not that uncommon, I tried 3 first apps I came across, Twitter, Dropbox and Soundcloud. of those 3, only soundcloud didn't ask me before signing out.

![IMG_1267](https://user-images.githubusercontent.com/4932774/72360158-d8c38f80-36ef-11ea-9625-8db35db43d22.jpeg)
![IMG_1268](https://user-images.githubusercontent.com/4932774/72360171-dc571680-36ef-11ea-9e73-b4ad979da10a.jpeg)

I

[2020-01-14 16:23] rachelhamlin commented on #9790
Haha, hmm! And I tried my bank, FB and Trust and didn't find this anywhere.

But +1 "Are you sure you want to sign out of Status?" works for me, and it's a nice place to re-surface the username, since that's the person's identifier for signing back in. Speaking of—I wonder if lack of ENS name on the unlock/sign-in screen will confuse people who have them.

[2020-01-14 16:28] andmironov commented on #9790
re: showing the confirmation dialog
I think it should stay, especially keeping in mind that the account might require a keycard to sign back in and the user might not have it with them

re: copy
i like what @errorists is suggesting

message: Are you sure you want to sign out of Status?
buttons: Cancel | Sign out

[2020-01-14 16:38] hesterbruikman commented on #9790
Ugh.... this 'sign out' has been bothering me! Thanks for creating the issue @andmironov And indeed the inconsistency makes it worse.

I don't have an answer the perfect terminology in mind, but here are some perspectives on the behavior before jumping to naming:
- We need the dialog atm because Sign out in effect resets your unlock settings (and possibly others, haven't checked). Ideally we remov

[2020-01-14 17:02] #9820 closed, assigned to nobody

[2020-01-14 21:26] #9818 closed, assigned to nobody

[2020-01-15 09:26] cammellos commented on #9821
This should be now fixed in develop, feel free to close if that's the case.

[2020-01-15 09:48] #9778 closed, assigned to Ferossgp

[2020-01-15 09:48] flexsurfer commented on #9804
nice! thanks Jakub

[2020-01-15 09:48] #9804 closed, assigned to nobody

[2020-01-15 10:20] cammellos commented on #9653
This is reported to be fixed in develop, @churik @Serhy could you confirm if that's the case and close if necessary? Thanks!

[2020-01-15 10:22] cammellos commented on #9654
This has been fixed now, already in develop, @churik @Serhy would you mind confirming and closing if that's the case? Thanks!

[2020-01-15 11:01] Serhy commented on #9821
Confirmed with iOS and Android that it fixed in latest nightly build

[2020-01-15 11:01] #9821 closed, assigned to nobody

[2020-01-15 11:08] Serhy commented on #9653
Confirmed with iOS and Android it's not reproduces anymore with the latest nightly build. Closing the issue.

[2020-01-15 11:08] #9653 closed, assigned to cammellos

[2020-01-15 11:43] Serhy opened #9831 ""Cannot read property 'toLowerCase'" app crash when tap Add members from `Group Info` view"
# Bug Report

## Problem
Crash with error `Cannot read property 'ToLowerCase' of null` on attempt to add members in Group Chat (doesn't matter whether contacts exist to be added or not)

#### Expected behavior
can add member

#### Actual behavior
(iOS view)
<img width="289" alt="Screenshot 2020-01-15 at 13 41 44" src="https://user-images.githubusercontent.com/8749671/72431157-ca7f7d00-379c-11ea-91

[2020-01-15 11:50] flexsurfer commented on #9819
@churik can't reproduce this, i only know that you have to receive 3 or more messages to resolve an ens name, receive by your node, not from mailserver
This should be fixed here https://github.com/status-im/status-go/issues/1730

[2020-01-15 11:53] flexsurfer commented on #9528
@rachelhamlin is this fixed ?

[2020-01-15 12:10] churik commented on #9819
On current nightly (from 15.01.2019) - created new multiaccount, joined #status chat, fetched all history and see only random names.
Is it a consequence of the necessity to receive 3 or more messages I suppose (fetched history is not counted)?
If yes, let's wait for merging fix on go side and I'll recheck it once more.

[2020-01-15 12:18] Serhy commented on #9654
Looks good to me now on iOS and Android with latest nightly build, can not reproduce the issue (I could not check 'Added member' system message due to https://github.com/status-im/status-react/issues/9831 but I don't think there should be an issue as well because it's system message like any other.
Closing the issue.

[2020-01-15 12:18] #9654 closed, assigned to nobody

[2020-01-15 12:21] flexsurfer commented on #9819
hm looks like we resolve names from mailserver, but i've never seen resolved names from mailserver, probably  status-im/status-go#1730 might fix this as well

[2020-01-15 12:25] flexsurfer commented on #9742
@yenda is this fixed ?

[2020-01-15 12:28] yenda commented on #9742
yes

[2020-01-15 12:28] #9742 closed, assigned to nobody

[2020-01-15 12:45] andmironov opened #9832 "Make sure that everywhere the asset image is done properly"
When discussing this pull request https://github.com/status-im/status-react/pull/9772 we noticed that the asset image is not done properly and consistently across the app.

For instance, on the `Send transaction` bottom sheet the asset image has no border, although on the `Wallet` main screen it has.

Any asset image across the app should follow these rules:
- It should be a circle with a square .

[2020-01-15 12:51] andmironov opened #9833 "Update the ETH logo across the app"
While discussing this https://github.com/status-im/status-react/pull/9772 pull request we decided that it would be better to update the ETH logo to have a black background, to stand out a bit more in the app.

<img width="936" alt="Screen Shot 2020-01-15 at 15 48 14" src="https://user-images.githubusercontent.com/3115606/72435142-74b3d080-37ae-11ea-8e68-3b1da0aa7f0a.png">

I've prepared a png file

[2020-01-15 12:58] errorists commented on #9833
@andmironov looks dope! 🖤  could I ask you to update the [ETH user pick](https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=16%3A12) in our component lib? 🙏

[2020-01-15 14:09] rachelhamlin commented on #9528
Yes, I believe so.

[2020-01-15 14:09] #9528 closed, assigned to nobody

[2020-01-15 15:47] #9288 closed, assigned to StatusSceptre

[2020-01-15 16:51] rachelhamlin commented on #9159
Simon ran into this after a crash in the browser while testing Teller. He had to recover his account because Status crashed and appeared to wipe his data. 😰

[2020-01-16 09:44] churik opened #9835 "Multiaccount is not loaded after relogin if change account in browser"
# Bug Report

## Problem
Multiaccount is not loaded after relogin after changing account in DApps

#### Expected behavior
multiaccount is loaded

#### Actual behavior
multiaccount is not loaded

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create multiaccount
- Go to wallet and add account 2
- Go to browser > switch to account 2
- Relogin

#

[2020-01-16 11:05] hesterbruikman commented on #7651
Issue in progress: https://github.com/status-im/universal-links-handler/issues/17
https://github.com/status-im/status-react/pull/9811

[2020-01-16 11:13] churik commented on #9404
App doesn't start on LG G5 Android 6.
Logcat: [StatusIm-200116-025900-5ab476-nightly-universal.apk_2020_1_16_11_11_0.log](https://github.com/status-im/status-react/files/4070858/StatusIm-200116-025900-5ab476-nightly-universal.apk_2020_1_16_11_11_0.log)

[2020-01-16 11:21] andmironov commented on #8447
hey everyone! seems like this issue has grown too big and is on a long pause and has changed it's initial subject over time :-) . Does anyone think it would be helpful opening a new topbar-specific issue (and maybe another one about the account card transition from @errorists 's prototype) and closing this one?

These two un-crossed tasks from the initial issue description are no more relevant

[2020-01-16 11:23] #8447 closed, assigned to StatusSceptre

[2020-01-16 11:33] flexsurfer commented on #9835
fixed in latest nightly

[2020-01-16 11:33] #9835 closed, assigned to nobody

[2020-01-16 14:41] churik opened #9840 "No ENS name and custom userpicture on login screen"
# Bug Report

## Problem
ENS name and custom userpicture settings are not shown on login screen.

#### Expected behavior
ENS name + custom avatar

#### Actual behavior
![photo_2020-01-16 15 38 45 jpeg 2020-01-16 15-39-12](https://user-images.githubusercontent.com/4557972/72534043-75179e80-3876-11ea-8814-8f852768beaf.png)

### Reproduction

[comment]: # (Describe how we can replicate the bug step b

[2020-01-16 15:03] guylouis commented on #9764
Easier reproduction is possible with a pc and a usb reader
See steps here: https://gist.github.com/gravityblast/39cec9cf9255acd8a5643a4ad86a047a

[2020-01-16 15:16] churik commented on #9759
Same issue is reproducible with send / request commands from 1-1 chat
cc @flexsurfer @yenda

[2020-01-16 16:14] flexsurfer commented on #9759
ill take a look

[2020-01-16 20:37] tbenr commented on #9592
ping @rachelhamlin (just a reminder for closing this bounty)

[2020-01-17 06:42] StatusSceptre commented on #9592
Terribly sorry! Thanks as always for your patience, Enrico. It's paid.

[2020-01-17 06:55] rachelhamlin commented on #8447
Yup, sounds good. I think this one covers account card transition @andmironov? https://github.com/status-im/status-react/issues/8896

And as for the topbar, we have [this issue](https://github.com/status-im/status-react/issues/8981), which is still open—although there is a [first iteration](https://github.com/status-im/status-react/pull/9711) complete.

[2020-01-17 06:57] rachelhamlin commented on #8981
@flexsurfer can you expand on the work to be continued here when you have a chance? Maybe we can add this to the UI backlog for @Ferossgp.

[2020-01-17 08:40] tbenr commented on #9592
@rachelhamlin btw let me know if i can help on something else 🗽

[2020-01-17 08:53] #9769 closed, assigned to Ferossgp

[2020-01-17 09:31] flexsurfer commented on #8981
i've implemented simple toolbar
![image](https://user-images.githubusercontent.com/11790366/72600632-51a33100-3914-11ea-91a0-5c38146f559a.png)

we need to implement specific versions

for chat with avatar , for profile etc
![image](https://user-images.githubusercontent.com/11790366/72600583-36382600-3914-11ea-80cb-3f8f4305e22f.png)

[2020-01-17 10:21] errorists commented on #9576
fixed in https://github.com/status-im/status-react/pull/9743

[2020-01-17 10:22] #9576 closed, assigned to nobody

[2020-01-17 11:38] rachelhamlin commented on #9203
@rasom how is this going? I think we'll start dogfooding a release candidate with the team & ambassadors before this fix is complete, but we will want it in the final build for users.

[2020-01-17 11:42] rachelhamlin commented on #9471
Notes from call with Infura in December: https://notes.status.im/785IoPWcQvuUpl7JygLEog

Older notes on potential alternatives: https://notes.status.im/xLZkbUztQQeDUPX_I7qRKg

[2020-01-17 12:10] rachelhamlin commented on #8981
Cool, thanks Andrey. I'm adding it to the UI clean up project for Gheorghe, low priority.

[2020-01-17 12:11] rachelhamlin commented on #9840
I agree this would be more user friendly—though iirc we may have left it this way intentionally to be more privacy preserving in extreme scenarios. e.g. your phone gets inspected at the border, there is no proof that this Status account belongs to you. Right @hesterbruikman?

[2020-01-17 12:43] #9815 closed, assigned to cammellos

[2020-01-17 12:43] #9831 closed, assigned to nobody

[2020-01-17 13:47] errorists opened #9846 "Cover the entire bottom sheet component with drag gesture recogniser"
### Description

Modify the drag gesture recogniser so that it covers the entire area of the bottom sheet component, and not only the top 16px handle. Initiating the drag gesture should be possible from any X,Y coordinate inside the sheet. Here's a [link to a longer recording of what I mean](https://www.dropbox.com/s/n8uhr3ueflw3fhw/BottomSheet.mp4?dl=0)

Preview

![BottomSheet](https://user-image

[2020-01-17 14:24] errorists opened #9848 "Wrap bottom sheet component around the total height of its nested elements"
# Problem

Our bottom sheet component requires us to specify its height. Which is not optimal and forces us to create scrollable layouts where we can't exactly tell how large the nested layout is, see Account Selection in Browser.

## Implementation

Let's figure out a way to calculate the height of the bottom sheet based on the size of its nested content. So regardless of what we place, it will a

[2020-01-17 14:58] churik commented on #9819
Can't reproduce after merging https://github.com/status-im/status-react/pull/9836

[2020-01-17 14:58] #9819 closed, assigned to nobody

[2020-01-17 17:03] #9759 closed, assigned to nobody

[2020-01-17 17:44] Serhy opened #9851 "'Confirmed' status in 1-1 chat pending transaction as soon as account re-logins"
# Bug Report

## Problem

Disregard the sent transaction in 1-1 chat with 'Send' command which still in 'Pending...' state (in network and so in wallet), - after user re-opens the app the `Outgoing transaction` gets `Confirmed!` status.
If to tap on such TX nothing happens, but it because there is no TX in history yet at all so that's expected and a part of another issue.
This issue is dedicated t

[2020-01-17 17:44] Serhy commented on #9851
Not a blocker for V1 IMO but rather nice to have.

[2020-01-17 20:39] mul53 commented on #9754
@StatusSceptre thanks, Found it. Though when i click on the Get Stickers link i get this and here is my ETH address.
![Screenshot_1579267863](https://user-images.githubusercontent.com/19148531/72644617-1cc9c500-397a-11ea-987e-e93da4d52b80.png)

[2020-01-18 21:21] krzyzowiec opened #9852 "Http error during build"
# Bug Report

## Problem

I'm attempting to build status according to the [following instructions](https://status.im/build_status/). The build fails with a strange error while fetching dependencies.

#### Expected behavior

The build succeeds.

#### Actual behavior

The dependencies fetch just fine until the script tries to get android dependencies (the sdk/ndk) from nix-cache.status.im, where it

[2020-01-19 14:33] jinhojang6 opened #9853 "Found some non-translatable keys"
# Problem
Some copy lines are hard-coded

 **[1. ui/screens/wallet/add_new/views.cljs(almost all copy lines)](https://github.com/status-im/status-react/blob/c66e848255803173571248c5355de163d207e859/src/status_im/ui/screens/wallet/add_new/views.cljs):**
- Add a watch-only address
- Enter the address to watch
- Enter adress
- Enter a seed phrase
- Advanced
- Enter a private key
- Next

**2. [ui/scre

[2020-01-20 09:59] vkjr opened #9855 "Searchbar appears after adding first chat"
# Problem

Searchbar appears when first chat added. But user shound't see it until he intentionally open it.

Steps to reproduce
- create account, don't close "Chat and transact privately with friends"
- tap on + > Join public chat >
- get back to chat list
- Search field is opened (not focused).
So it appears without pull-to-refresh gesture.

Introduced in #9743

## Acceptance Criteria
search fie

[2020-01-20 10:12] #7697 closed, assigned to nobody

[2020-01-20 10:46] #9852 closed, assigned to nobody

[2020-01-20 14:09] rachelhamlin opened #9856 "Review v1 change log"
Hi all - I'm crafting the release blog post. Would you mind taking a quick look at the change log I've captured, and adding anything meaningful to users that I've missed?

https://notes.status.im/mobile-release-notes?both

[code]

[2020-01-20 14:18] yenda commented on #9856
lgtm

[2020-01-20 15:18] churik opened #9857 "No messages are received by user if they were sent to his ENS name before setting in Profile"
# Bug Report

## Problem
If start chat with existing ENS name, which is already associated with chat key, but user didn't set ENS name in profile yet - this user will not receive messages.

#### Expected behavior
can see messages

#### Actual behavior
no messages;
messages are received only if user with ENS manually start chat with sender

### Reproduction

[comment]: # (Describe how we can replic

[2020-01-20 15:19] churik commented on #9857
can be release blocker for v1

cc @rachelhamlin @cammellos

[2020-01-20 15:46] Serhy commented on #9857
I received messages sent to such user, but since 3-4 minutes later on one account, within ~15 minutes later on another attempt, and since ~7 minutes with third account.
So messages are received but just not instantly.

If I add user via public key message received instantly

[2020-01-20 17:11] #9806 closed, assigned to nobody

[2020-01-21 05:46] cammellos commented on #9857
This is possibly due to multiple devices and recovering, it takes some time before other users see the device, until then messages won't be received (same if there are many devices/installations around, more than 3,). they might, but we can make no guarantees.

I can take a look at whether is an ENS specific issue, but unlikely.

Could you add information about the account you used for the tests?

[2020-01-21 08:55] Serhy commented on #9857
Yea, in my case I recovered each of account more than 3 times for sure during the day.
Checking with newly created account who just bought ENS.

[2020-01-21 09:15] churik commented on #9372
Still reproducible on eth.prod fleet.
Device 1 (receiver, chat does not appear): https://app.saucelabs.com/tests/f1f0d0de0abb49ea90a24a175d9da0c4?auth=43fb8668e96570b033ee991ba8bde44d#70
Logcat:  [logcat.log](https://github.com/status-im/status-react/files/4091283/logcat.log)
Divice go back to online starting from 02:27:46.

Device 2 (sender): https://app.saucelabs.com/tests/83a63f325b094c86996262

[2020-01-21 09:25] guylouis commented on #9763
@hesterbruikman I get your 3 points, thanks for summarizing like this, it's pretty clear !
My understanding is
- these issues are not specific to keycard, the only difference between keycard vs non-keycard is that tapping is replaced by entering the password
- for the two functional issues, it comes down to understanding (your question to @rasom) if the two settings (one for each issue) can (techn

[2020-01-21 09:43] Serhy commented on #9857
Well, there is no way to have no ENS assigned and that it would be first account creation (ENS assigns right after in purchased)
So I did with RC:
1) Created new account
2) Sent 10 SNT and enough ETH to buy ENS name
3) Created ENS name
4) Flushed the data of Status app
5) Recovered this account on the same device
6) WIth different accounts from another devices having RC build: add this user by ENS

[2020-01-21 09:44] Serhy commented on #9857
It's not great, but IMO it should not block release. Would block if messages were lost forever but they received eventually.

[2020-01-21 09:45] cammellos commented on #9857
could you try the same without adding by ens? add by public key, but go
through the same steps.
Thanks!

On Tue, Jan 21, 2020, 10:43 Sergey Chumak <notifications@github.com> wrote:

[2020-01-21 11:09] Serhy commented on #9857
Yea, correct.
There is a same issue if I add user via public key following above steps (including buying ENS)

So related to how many times account recovered.
After 1-1 chat appeared on receiver side messages coming fine and even if to delete 1-1 chat (user is not added in contacts by message Recever) and message sender sends message again the message received right away.

[2020-01-21 13:39] Serhy opened #9866 "Can not install iOS release build published in Diawii (but OK installing from TestFlight)"
# Bug Report
## Problem
iOS release builds uploaded to Diawi could not be installed. The same happens when trying to install release .ipa build on device from Xcode.

When tapping Status app icon after installation from Diawii the error appears:

![](https://user-images.githubusercontent.com/8749671/72809159-c2738180-3c63-11ea-8a54-d082c0f0b548.png)

When I try to instal from Xcode there is popup

[2020-01-21 14:52] Ferossgp commented on #9774
Reverted here https://github.com/status-im/status-react/pull/9869

[2020-01-21 15:02] errorists commented on #9774
Making a note for posterity: we didn't manage to eliminate issues neither on Android (black box present when loading the video) nor iOS (some iPhone models exhibit black borders around video container). That's why we decided to revert to previous implementation with static images.

[2020-01-21 16:10] hesterbruikman opened #9871 "Respond to FaceID failure callback"
# Problem
When FaceID fails, the user is directed to the password unlock screen with no opportunity to try again.

## Implementation
Respond to callback of FaceID failure

- The Face ID check should not happen on a blank background like it is right now, it should happen on top of the pin pad;
- A failed Face ID should allow to enter the passcode instead or re-trigger the Face ID  check
here's wher

[2020-01-21 16:12] hesterbruikman commented on #9871
cc @andmironov @errorists @andremedeiros @Ferossgp

Here's the issue discussed today to allow retry in case FaceID failed. Please check for accuracy and leave any comments.

[2020-01-21 17:03] churik opened #9872 ""Send transaction" screen opens after scanning invalid QR in wallet"
# Bug Report

## Problem

When scanning invalid address, after dismissing popup with error, "Send transaction" screen is opened without default values

#### Expected behavior
no new screen

#### Actual behavior
![photo_2020-01-21 18 01 15](https://user-images.githubusercontent.com/4557972/72825828-08d2db80-3c78-11ea-85e5-6897ae771d05.jpeg)

### Reproduction

- Open Status
- Go to wallet > scan QR

[2020-01-22 07:16] errorists commented on #9871
does that mean we're implementing pin codes next to passwords like in the design?

[2020-01-22 07:44] hesterbruikman commented on #9871
I should have specified. This is adding an option to trigger FaceID after failure callback only for now. @andremedeiros will check back later on passcode. This depends on how we handle the key encryption at the moment.

[2020-01-22 07:58] errorists commented on #9871
@hesterbruikman thanks. dunno, don't you feel the issue could be better formatted to actually describe what's expected? :)

• add a biometric icon (faceId/touchID) next to password input to allow retries of failed or cancelled checks.
• biometric check should happen on the same view you're using to unlock your phone

and remove the pincode screenshot, since that's not in scope

[2020-01-22 08:11] hesterbruikman commented on #9871
Can definitely be more clear. Thanks for adding that summary. On the passcode, removed the screenshot. Was thinking of Keycard, but that's actually not relevant on iOS.

[2020-01-22 09:23] rachelhamlin opened #9876 "No gas estimate for ENS registration"
# Bug Report

## Problem

ENS registration transactions have an empty gas fee calculation:

![image](https://user-images.githubusercontent.com/15470435/72881289-126d4980-3d33-11ea-9cec-1476c063fb81.png)

#### Expected behavior

Wallet estimates a network fee, e.g.

![image](https://user-images.githubusercontent.com/15470435/72881517-78f26780-3d33-11ea-8fb4-71477f40b145.png)

Transaction is easier

[2020-01-22 09:49] Serhy opened #9877 "No connection to mailservers on eth.prod"
# Bug Report

## Problem

Mailservers from `eth.prod`  fail to connect. On iOS when tapping on `An error occured while fetching history` the `Mailserver request error` pop-up appears.
Same with RC.

Switching to eth.staging make things working fine

#### Expected behavior

Can connect to mailservers and fetch history

#### Actual behavior

Can not connect to mailserver and no history fetched

<img

[2020-01-22 09:57] adambabik commented on #9877
The problem is because of this change: https://github.com/status-im/status-go/pull/1805/files#diff-f422bb8b8162ca6a8f7fbff615267548R382. Mailserver (or the app) requiers `Topics` field while the other side does not understand it and deserialization breaks producing garbage as you see in the alert.

We need to align status-go used on the mailservers and in the app.

[2020-01-22 09:58] Serhy opened #9879 "App crashes on Android 8.1 once launched"
# Bug Report

## Problem

Install Status develop nightly (or RC) from January 22nd on Android 8.1 (Samsung Galaxy J7) and Android 6.0.1 (Samsung Galaxy Note 4)

But OK on Android 9 (Samsung Galaxy S8)

#### Expected behavior

Can launch Status

#### Actual behavior

Status crashes on Android 8.1 when launch

<img width="346" alt="Screenshot 2020-01-21 at 17 40 25" src="https://user-images.githubus

[2020-01-22 10:15] churik commented on #9879
Can't reproduce the same behaviour on Samsung Galaxy Note 9, Android 8.1
But app is crashed after creating account on tapping `Let's go` button
[StatusIm-200122-085814-aaa51a-nightly-universal.apk_2020_1_22_10_14_5.log](https://github.com/status-im/status-react/files/4096501/StatusIm-200122-085814-aaa51a-nightly-universal.apk_2020_1_22_10_14_5.log)

[2020-01-22 11:35] cammellos commented on #9372
Update:
- Messages are on the mailserver (I can't be 100% sure, but 99%, there are two envelopes with that topic at that time)
- Issue is client side, it never made a request to the mailserver coming back online

[2020-01-22 12:02] rachelhamlin commented on #9876
Sounds like another Infura issue. I have loads of SNT.

[2020-01-22 12:27] flexsurfer opened #9883 "Unread messages and contacts are reseted randomly"
# Bug Report

## Problem

Sometimes when open the app contacts are empty and unread messages counter showed again

cammellos:
 it's likely an issue with state management between status-go/status-react (race condition on saving contacts, unread message counter etc)

[2020-01-22 13:30] churik opened #9884 "Stickerpage overlaps with "Send transaction" screen"
# Bug Report

## Problem

At attempt to buy 'TOZEMOON' stickers 'Send transaction' screen doesn't cover stickers layer, so screens are overlapping and it is possible to tap 20 SNT several times

#### Expected behavior
no overlapping

#### Actual behavior
![photo_2020-01-22 14 27 18](https://user-images.githubusercontent.com/4557972/72897916-4f314480-3d23-11ea-9ebc-efcd10431237.jpeg)

### Reproduct

[2020-01-22 13:30] churik commented on #9884
cc @rachelhamlin

[2020-01-22 13:59] churik commented on #9884
сс @flexsurfer

[2020-01-22 14:00] flexsurfer commented on #9884
@Ferossgp do you know if we changed modal z position?

[2020-01-22 14:12] churik opened #9886 "App shows 'buy' for stickerpack user owns when pressing on sticker in chat (Infura - related?)"
# Bug Report

## Problem
App requires to buy stickerpack that was bought previously from "Tozemoon" sticker pack opened by tap on Tozemoon's sticker from inside chat view.
NOTE: It's all fine when I open sticker market place from message input sticker icon. And also if I done that - there is no issue. Until I re-login to account.

So for me now, with RC4 - there are no problems when I open Tozemoo

[2020-01-22 14:12] churik commented on #9886
cc @flexsurfer @rachelhamlin

[2020-01-22 14:15] Serhy opened #9887 "Contact of ENS users removed from 'Contact list' after relogin"
# Bug Report

## Problem

It may appear at some point after re-login that contact which was added in 'Contact list' - removed from contact list and often contact name of this user dropped to default three-name username.
Can be reproduced with ENS username when ENS-name user adds ens after he was added in contacts

#### Expected behavior
Contact always kept in 'Contact list' on any account disregar

[2020-01-22 14:46] flexsurfer commented on #9883
duplicate https://github.com/status-im/status-react/issues/9887

[2020-01-22 14:46] #9883 closed, assigned to nobody

[2020-01-22 14:47] churik commented on #9887
cc @rachelhamlin

[2020-01-22 14:58] cryptounknown commented on #9886
This did not happen to me. It worked as expected on my end. I had purchased the sticker pack on a nightly build a few weeks ago and it restored great on the V1 RC.

[2020-01-22 15:35] #8325 closed, assigned to nobody

[2020-01-23 08:34] Ferossgp commented on #9884
@flexsurfer  When you press on a sticker it is opened in modal. While the bottom-sheet and popover are rendered with the position absolute in the main app view. Because the modal is handled by react separately as a view above the app, and we didn't had background color for modals at the time of this app build, the current state came. In the current develop, all modals have white bg, and the transa

[2020-01-23 09:55] rachelhamlin commented on #8264
Discussed with @3esmit. We are going to make one change to the contract, which is to allow for the list of reserved usernames to be changed only by an operator address. This operator address can be democratically controlled by SNT holders.

Presently, Status has free reign to alter reserved names at any point.

We need to 1) sort out the level of scrutiny this requires with @corpetty, and 2) deter

[2020-01-23 10:32] #9887 closed, assigned to cammellos

[2020-01-23 11:08] pedropombeiro commented on #9879
I tried on Genymotion with Nexus 6P Android 7.1.0 and couldn't reproduce. Does this only happen on real devices?

[2020-01-23 11:35] Serhy commented on #9879
Yea, I could not reproduce latest nightly x86.apk (https://status-im.ams3.digitaloceanspaces.com/StatusIm-200123-025959-c9e7d8-nightly-x86.apk) on Genymotion emulators with Android 8 and Android 7.1
But universal.apk (https://status-im.ams3.digitaloceanspaces.com/StatusIm-200123-025959-c9e7d8-nightly-universal.apk) gives crash on real devices.

[2020-01-23 11:45] Serhy commented on #9879
I can check from which nightly it started appear.

[2020-01-23 12:15] pedropombeiro commented on #9879
Indeed, the armeabi-v7a platform is missing the status-go `libgojni.so` file. I'll look into it.

![image](https://user-images.githubusercontent.com/138074/72983796-7a2e9d80-3de2-11ea-9abe-dbce825a0463.png)

[2020-01-23 12:51] pedropombeiro commented on #9879
@Serhy can you please test https://ci.status.im/job/status-react/job/prs/job/android/job/PR-9891/1/artifact/result/StatusIm-200123-122305-47e95e-universal.apk ?

[2020-01-23 12:54] #9879 closed, assigned to nobody

[2020-01-23 12:54] pedropombeiro commented on #9879
The `libgojni.so` file is present now, so it should be working now.

[2020-01-23 12:56] Serhy commented on #9879
Yes, can confirm it's working now on devices where it was crashing before
Thanks a lot @pombeiro!!

[2020-01-23 12:58] #9884 closed, assigned to Ferossgp

[2020-01-23 14:22] andmironov opened #9893 "Allow names in onboarding to use two lines to fit really long ones"
It's really important not to shorten the name on this step and to show the whole thing. It's the moment when the user should choose the name they would not be able to change later.

Here's how the long names should look like:

<img width="708" alt="Screen Shot 2020-01-23 at 17 23 29" src="https://user-images.githubusercontent.com/3115606/72992610-19648c80-3e05-11ea-98fa-d6d8ea4404c9.png">

Please

[2020-01-23 15:35] churik opened #9895 "Transaction state is not updated for receiver if it is received to non-default account"
# Bug Report

## Problem
When sending transaction, receiver may share for transaction `Status account` or another account.
In case of another - message state will remain `shared account` forever.

#### Expected behavior
'Confirmed'

#### Actual behavior
![Monosnap 2020-01-23 16-30-40](https://user-images.githubusercontent.com/4557972/72998201-c20eee00-3dfd-11ea-8509-0e664069deb9.png)

### Reproduc

[2020-01-23 15:41] churik commented on #9372
Fresh failure from [RC](https://ci.status.im/job/status-react/job/release/job/release%252F1.0.x/12/console) :

Session: https://app.saucelabs.com/tests/a7611e6170204e49ba911beab661c457?auth=bfd84bd637c725ef700ffef564450d9e#67
Logcat: [logcat (2).log](https://github.com/status-im/status-react/files/4103853/logcat.2.log)

[2020-01-23 16:24] churik opened #9896 "Can't add valid mailserver"
# Bug Report

## Problem

Can't add valid mailserver due to validation error
![photo_2020-01-23 17 21 46](https://user-images.githubusercontent.com/4557972/73002792-d9050e80-3e04-11ea-994b-f25a528677f6.jpeg)

#### Expected behavior
Can add mailserver

#### Actual behavior
Validation error is show

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
-

[2020-01-23 16:24] churik commented on #9896
cc @rachelhamlin

[2020-01-24 06:49] cammellos commented on #9896
mailserver copied from fleet are not valid, the format must include a password:
this is copied from fleet and is not valid:

`enode://da61e9eff86a56633b635f887d8b91e0ff5236bbc05b8169834292e92afb92929dcf6efdbf373a37903da8fe0384d5a0a8247e83f1ce211aa429200b6d28c548@47.91.156.93:443`

This is valid, as it has a password:

`enode://da61e9eff86a56633b635f887d8b91e0ff5236bbc05b8169834292e92afb92929dcf6ef

[2020-01-24 06:50] cammellos commented on #7513
does not apply anymore, closing

[2020-01-24 06:50] #7513 closed, assigned to cammellos

[2020-01-24 07:45] flexsurfer opened #9900 "Empty 1-1 chat if opened from public chat"
# Bug Report

## Problem

Create 1-1 chat , send messages, close the app, reopen the app, do not open 1-1, open public chat, find this contact, press on it, press send message, empty chat is opened

#### Expected behavior

All messages in 1-1 sould be shown

#### Actual behavior

1-1 chat is empty

[2020-01-24 07:51] flexsurfer opened #9901 "Long messages are not collapsed"
# Bug Report

## Problem

Long messages are not collapsed

#### Expected behavior

Long messages are collapsed

[2020-01-24 08:10] errorists commented on #9901
duplicate of https://github.com/status-im/status-react/issues/9484

[2020-01-24 08:41] churik commented on #9900
can be related to https://github.com/status-im/status-react/issues/9444

[2020-01-24 08:50] #9901 closed, assigned to Ferossgp

[2020-01-24 08:51] churik commented on #9484
cc @rachelhamlin

[2020-01-24 09:04] rachelhamlin commented on #9203
@churik @Serhy on my own account, Roman's PR seems to have fixed this. Are we happy to close it?

[2020-01-24 09:04] churik commented on #9203
yes

[2020-01-24 09:04] #9203 closed, assigned to nobody

[2020-01-24 09:05] rachelhamlin commented on #9900
Yuck.

[2020-01-24 09:17] Serhy commented on #9877
Works now. Closing the issue

[2020-01-24 09:17] #9877 closed, assigned to nobody

[2020-01-24 09:22] churik commented on #9900
https://github.com/status-im/status-react/issues/9444 is the same, it is one more scenario.
Thanks @flexsurfer
If you tap back -> open 1-1 chat from list, you will see normal history.

[2020-01-24 09:27] hesterbruikman opened #9902 "Make Sign out go to Multiaccount overview 'Your keys' screen"
# Problem
When the user has set `Save password`, going to the `unlock view` can result in an endless loop of sign out>unlock, making it impossible to switch accounts. This scenario is currently counteracted (does not occur), because auth-methods are erased on `Sign out`. However, erasing auth-methods on sign out causes other issues:
- Requiring Keycard to open a Keycard multiaccount, in spite of h

[2020-01-24 09:28] hesterbruikman commented on #9902
@errorists @andremedeiros @Ferossgp I find this a pretty complex issue as it feels like a bandage on top of a bandage. Would appreciate your eyes to make sure this issue and future steps are clear.

[2020-01-24 09:31] hesterbruikman commented on #9902
@Ferossgp it might make sense to bundle this issue with #9782 which is purely visual UI updates. Take a look please to see if that makes sense.

[2020-01-24 09:33] churik commented on #9755
After changing networks couldn't get connected to mailserver during ~5 mins - tried "Tap to reconnect" ~ 5 times.
After a while got connected.
Logs:
[status_logs_conn.zip](https://github.com/status-im/status-react/files/4107631/status_logs_conn.zip)

Can be related to https://github.com/status-im/status-react/issues/9269, however, I didn't pin mailserver.

[2020-01-24 09:34] churik commented on #9755
added `v1 release` label as users during dogfooding are experiencing this

[2020-01-24 09:51] Ferossgp commented on #9848
To avoid scroll view and pan responder issues I would suggest to look how it is handled here: https://github.com/react-native-community/react-native-modal/blob/master/src/modal.tsx#L301 or we can also use this library in future to wrap bottom sheet in it.

[2020-01-24 09:58] StatusSceptre commented on #9484
Potentially fix together with #9485?

[2020-01-24 10:02] churik commented on #9484
@rachelhamlin
IMO they are not the same.
The decision was (fix me if I'm wrong):
1) limit sending messages to 2000 chars (can prevent https://github.com/status-im/status-react/issues/9485 )
2) reintroduce back collapsing of long messages (it was before 20 rows)

[2020-01-24 10:22] rachelhamlin commented on #9484
Is 2000 characters less than 20 rows? I guess it depends on how many characters it takes before we need to collapse messages. :)

[2020-01-24 10:29] Serhy commented on #9565
Feature returned back and this issue too. Reopening.

[2020-01-24 10:30] churik commented on #9484
Collapsing is more about showing the content I believe, sending is about the limitation of symbols for the sender to prevent long messages to appear, and there are several possible ways to do it - i.e. showing validation message at attempt to typing \ pasting > 2000 chars or to split content when it was sent.

So it would be nice to decide what we should do here.

[2020-01-24 10:38] Serhy commented on #9565
Sorry misread the issue description, this feature removed.

[2020-01-24 10:38] #9565 closed, assigned to nobody

[2020-01-24 11:00] rachelhamlin opened #9903 "Hide options that are not yet built"
# Problem

Options that are greyed out in Status are causing confusion among v1 dog fooding users.

We can hide several of these options for now:

- Option to remove ENS name (from chat key)
- Option to add 'advanced` account types in wallet

The option to release an ENS name is too important to hide. 1) It indicates the date a user registered their name; and 2) a user can release the ENS name by

[2020-01-24 11:36] rachelhamlin commented on #9484
Well, let's definitely fix this issue of messages needing to be collapsed again, and keep the other one separate.

[2020-01-24 11:45] rachelhamlin opened #9904 "Chat key error when pasting from clipboard"
# Bug Report

## Problem

From one multiaccount, I copied my chat address using the `Share profile` feature.

I logged into another multiaccount, and pasted from my clipboard directly into `Start new chat`, but was given error 'Please enter a valid...'

I pasted into my notes app to check if the address was correct, and it was. I tried once more in Status, and this time the chat key resolved.

I d

[2020-01-24 11:46] churik opened #9905 "ENS name reverted to previous value after fetching messages that were sent with previous name"
# Bug Report

## Problem

After someone fetches older messages prior to change to ENS name, ENS name value will be reverted to previous value.

#### Expected behavior
User B: ENS name value for User A mathes actual (Y)

#### Actual behavior
ENS name is shown as previous value

### Reproduction

- User A: set ENS username X, write message to `chat 1` and `chat 2`
- User B: join `chat 1`
- User A: c

[2020-01-24 11:47] churik commented on #9905
@rachelhamlin not sure that it is actually V1, but I suppose that due to this issue I saw "blinking" ENS name in status chat yesterday.

[2020-01-24 11:49] rachelhamlin commented on #9904
Okay - weird, it's a URL that you copy from Share Profile. When I pasted it into my notes app, it didn't show up with the `https://get.status.im` preface, just the chat key. 🤔

[2020-01-24 11:49] #9904 closed, assigned to nobody

[2020-01-24 11:50] rachelhamlin commented on #9904
On a related note, I find it almost impossible to move cursor to the front of the address in that chat input field. Not sure if we can do anything about that.

[2020-01-24 11:58] rachelhamlin commented on #9485
Hmmm, I can't reproduce this on Samsung Galaxy S8. I've sent a message with 5k - 10k characters, incl. with special characters, and see my content in message bubbles on both sides.

This is on RC2.

Is there an existing character length for messages @yenda?

[2020-01-24 12:42] churik opened #9906 "ENS names are not resolved in public chat until you start chat directly with ENS name"
# Bug Report

## Problem

Continuation of https://github.com/status-im/status-react/issues/9819 - currently ENS names in public chats are not resolved until you manually start chat with participant of this chat by ENS name. After relogin ENS name of this participant will be resolved and when new messages will come from users with ENS names, they will be resolved as well.

#### Expected behavior
EN

[2020-01-24 12:43] churik commented on #9906
cc @rachelhamlin
v1?

[2020-01-24 12:55] yenda commented on #9485
I think it may have been fixed by now truncating long messages? Though now we don't have "show more" button so some messages are pretty long

[2020-01-24 13:16] rasom commented on #9280
@churik do we have any signs of this issue in release candidate? This error ` failed to get transfer in between two bloks` was caused mainly by the way how we fetched transfers before, but let me know if you still can reproduce this case.

[2020-01-24 13:17] churik commented on #9280
@flexsurfer says that he got it.
Can confirm @flexsurfer ?

[2020-01-24 14:07] rachelhamlin opened #9909 "Upload a profile picture if you have an ENS name"
# Feature Issue

This issue is a fake news placeholder until closer to implementation.

[Screens in Figma](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4211%3A2)

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (D

[2020-01-24 14:10] flexsurfer commented on #9280
yes, lots of users report that their SNT balance is 0 all the time, even after a few relogins

[2020-01-24 14:10] flexsurfer commented on #9280
one of them @jakubgs btw

[2020-01-24 14:12] rachelhamlin commented on #9801
We can close this, no? It was decided 🤷‍♀️ This makes more sense.

[2020-01-24 14:12] #9801 closed, assigned to nobody

[2020-01-24 14:13] rachelhamlin commented on #9909
@flexsurfer I heard you wanted to work on this now :)

[2020-01-24 14:32] churik opened #9911 "Chat commands: requesting / sending custom tokens are not handled in 1-1 chat"
# Bug Report

## Problem

If User A sends cutom tokens to User B, User B will not see them until he will add this token manually using "Add custom tokens".

#### Expected behavior
Some intermediate step to see token (i.e. accept and enable token in wallet)

#### Actual behavior
ERC 20 tokens in both cases - incoming and outgoing transaction. Actually in wallet you'll see ERC20 token transaction as

[2020-01-24 14:32] rachelhamlin opened #9912 "Do not show ENS name in profile unless Tx is confirmed"
# Problem

If my ENS Tx fails, it seems to get stuck in a pending state on my profile, at least for a given session. It would be better that we don't display it on the profile until the Tx is mined.

Another user can register the name while I'm waiting because my Tx has, in fact, failed.

## Acceptance Criteria

### Current state
**Success??**
<img src="https://user-images.githubusercontent.com/15

[2020-01-24 14:46] rasom commented on #9280
@flexsurfer I'm asking specifically about `failed to get transfer in between two bloks`

[2020-01-24 15:02] flexsurfer commented on #9280
oh ok , we don't have  any signs  of `failed to get transfer in between two bloks`

[2020-01-24 15:08] rasom commented on #9361
@churik @Serhy
Can it be reproduced in a release candidate?

[2020-01-24 15:09] churik commented on #9361
not for me. @Serhy ?

[2020-01-24 15:13] rasom commented on #9280
Then probably this issue should be closed and another one with a different description/steps to reproduce be opened. Or this one to be changed, because the problem described here doesn't reproduce currently.

[2020-01-24 15:25] Ferossgp commented on #8928
Now 0.9.1 is also available with more improvements

[2020-01-24 15:34] andmironov opened #9914 "Handle ultra-long amounts in the transaction overview sheet"
Sometimes Dapps request to sign transactions with crazy-long amounts. Usually, it's not important for the user to see the whole amount, however, there might be edge-cases when that is important.

**For numbers with a lot of digits after the decimal point e.g `4.594095049504905`**

* Round the amount in the title and leave just 6 digits after the decimal point;
* Do the same in the `Amount` field;

[2020-01-24 15:43] flexsurfer commented on #9280
@churik @Serhy

[2020-01-24 15:49] churik commented on #9906
сс @flexsurfer

[2020-01-24 16:07] churik commented on #9280
@jakubgs @flexsurfer do you have logs for issue?

[2020-01-24 16:08] flexsurfer commented on #9280
i can't reproduce this

[2020-01-24 17:22] jakubgs commented on #9280
@churik I just tested this by installing today's nightly over the RC and creating a new account and adding a watch-only address. The tokens loaded just fine an the history did too after a while. So I can't really reproduce it now.

[2020-01-24 17:24] yenda commented on #9876
Was caused by call to `approve` instead of `approveAndCall` more than a year ago when the dapp for ens registration was being developed and tested.

Solution was to first call `approve` with a value of 0 SNT

Not related to infura
Probably only concerns that specific accounts so doesn't require a fix in status

Still here would be the solution proposed by @3esmit in case we have more users complai

[2020-01-24 17:24] #9876 closed, assigned to nobody

[2020-01-24 17:42] yenda commented on #9801
@rachelhamlin I'm a bit confused it was decided to soft delete the feature right? There is a PR for that that is going to be merged anytime. By soft delete I mean there is no consequences to the deletion besides not being able to set a profile picture for v1, but the feature can be re-enabled later and though v1 user won't be able to change it without updating, they will see others profile picture

[2020-01-24 17:49] yenda commented on #8928
Awesome, we'll look into this after v1!

[2020-01-24 18:16] jinhojang6 commented on #9853
https://github.com/status-im/status-react/pull/9916

Let me close this issue

[2020-01-24 18:16] Serhy commented on #9361
Balance updated constantly in RC for me after send/receive funds.
Closing the issue

[2020-01-24 18:16] #9361 closed, assigned to nobody

[2020-01-24 18:16] #9853 closed, assigned to nobody

[2020-01-26 18:07] alexjg commented on #8443
@rachelhamlin I think realistically I'm not going to have the time to complete this work. I've submitted a PR with the work I've done so far. The loading spinner UI (the layout of the loading notification and animation of the spinner) is done, but I haven't had a chance to complete the logic to animate showing and hiding the loading spinner as the application state changes. It shouldn't be too tou

[2020-01-27 08:16] rachelhamlin opened #9920 "Add REP logo for wallet asset"
# Problem

We're missing the logo for REP in the wallet.

![image](https://user-images.githubusercontent.com/15470435/73158946-ec232180-4117-11ea-9e35-f7d051e34f4c.png)

Can we use [this image](https://drive.google.com/file/d/1Fize4n35YdJ5hxn8X0cE0I442_vUrIpq/view?usp=sharing) for REP?

[2020-01-27 08:59] rachelhamlin commented on #9710
@hesterbruikman I'm just glancing at this, but given that #9203 is fixed and we always show a link to Etherscan - is this issue satisfied for v1? It seems to be, but let me know if I removed the label too quickly.

[2020-01-27 09:13] hesterbruikman commented on #9710
Yes, I think it's fine to remove the V1 label as fetching issues shouldn't occur as often. We can leave it open regardless until the loading states are implemented.

[2020-01-27 09:20] yenda commented on #9920
@errorists do you use some tool to get the different sizes for mobile?

[2020-01-27 10:52] #9372 closed, assigned to cammellos

[2020-01-27 10:55] rachelhamlin commented on #9876
@yenda is a legend for fixing this for me.

[2020-01-27 10:57] #9900 closed, assigned to cammellos

[2020-01-27 11:12] rachelhamlin commented on #9280
I have notorious infura issues and can't repro this either. Let's keep an eye for it, but I don't think it's a v1 blocker.

[2020-01-27 11:12] rachelhamlin commented on #9710
Okay, great, we're in alignment!

[2020-01-27 11:18] yenda commented on #9755
@cammellos if I'm not mistaken based on the log it looks like it's the discovery protocol that takes some time to get peers back:

[code]

So messages are requested almost instantly after receiving the signal from discovery that we connected to a first peer.
There is a wallet signal before which indicates that status-go already uses the network, but only 1 sec. This can mean status-go gets the sig

[2020-01-27 11:38] rachelhamlin commented on #9801
@yenda what do you mean they will see other user's profile pictures when contacts?

As of our convo today, my understanding is:

v1.0 - No custom profile photos whatsoever.
v1.1 - Custom pic option available as part of ENS, everyone can see your photo along with your ENS name if you choose to upload one.

Is that off?

[2020-01-27 11:40] rachelhamlin commented on #9905
Why is ENS the bane of my existence. It only shows as the old name for the user who fetched older messages, I assume? Not a v1 blocker, but if you can fix it easily @cammellos, then please 🙏

[2020-01-27 11:42] yenda commented on #9801
@rachelhamlin I mean that if we restore the feature as-is, it will work just like now even for non updated client because the PR just disabled to possibility to set a profile picture. This just buys us the time to decide how we reintroduce the feature, either by going back to previous behavior, or by removing it completely and replacing it by ens-only public picture, or something else.

[2020-01-27 12:40] errorists commented on #9920
generally i do, you can find the assets [here](https://www.dropbox.com/sh/kcayqgdf5z96zl0/AAC7AJlauOSgFUwxU9YjkA3Ea?dl=0)

[2020-01-27 12:50] rachelhamlin commented on #9471
@flexsurfer @andremedeiros just to track what's happened here...

We upgraded our Infura subscription to a Growth plan for full archival data.
That unblocked Roman's work on [Tx history](https://github.com/status-im/status-react/pull/9744).

We did _not_ make any other changes to use Cloudflare in place of Infura afaik. Correct? Maybe that satisfies this issue for v1. Future optimizations possible

[2020-01-27 12:53] rachelhamlin commented on #9886
Other v1 issues that may be related to Infura:
- ENS name availability very slow to load (reported 2x)
- Sticker packs slow to load (reported 1x)

[2020-01-27 13:06] rachelhamlin commented on #9658
This is fixed in the main recovery flow for sure. I'm pretty sure all instances of this issue are gone, correct me if wrong @Serhy :)

[2020-01-27 13:07] flexsurfer commented on #9658
its keycard flow

[2020-01-27 13:09] rachelhamlin commented on #9658
Oops, okay. Let's add to UI back log.

[2020-01-27 13:27] errorists commented on #8717
I updated the copy in [designs](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4227%3A17267) to what @hesterbruikman suggested above.
@rachelhamlin how about we try and squeeze this one in before the release, it's all text updates and an additional bullet point.

[2020-01-27 16:14] rachelhamlin commented on #9856
Feedback received in Discord.

[2020-01-27 16:14] #9856 closed, assigned to nobody

[2020-01-28 00:25] #7259 closed, assigned to nobody

[2020-01-28 07:59] cammellos commented on #9906
Is this still an issue? Could not replicate on develop

[2020-01-28 08:02] flexsurfer opened #9927 "Transaction history is delayed in status"
# Bug Report

## Problem

When sending transaction in status there is no confirmed transaction in history , but on etherescan it has  a few confirmations already

#### Expected behavior

Confirmed transaction appears in transactions history

[2020-01-28 08:05] flexsurfer commented on #9906
i think it is not consistently replicated , might be related to infura , probably sometimes verification request failed , we could add a retry on error

[2020-01-28 08:07] cammellos commented on #9906
I can do that, we can retry a few times and then give up

[2020-01-28 09:10] flexsurfer opened #9928 "Endless spinner for messages status in case of reopening app after sending message from "Connecting" state"
# Bug Report

VIDEO: https://drive.google.com/file/d/1OCCBrg9nExZ_A01RoTtKFOfg4qAUHTtl/view?usp=sharing

## Problem

Endless spinner  for messages status

#### Expected behavior

Message status instead spinner

#### Actual behavior

Endless spinner  for messages status

### Reproduction

- Open Status
- While "connecting.." is showed open any chat
- Send messages
- YOu should see a spinner in mess

[2020-01-28 09:13] flexsurfer opened #9929 "Messages don't appear in 1-1 chat at first"
# Bug Report

VIDEO: https://drive.google.com/file/d/1OCCBrg9nExZ_A01RoTtKFOfg4qAUHTtl/view?usp=sharing

## Problem

Messages don't appear in 1-1 chat

#### Expected behavior

Messages appear in 1-1 chat right after pressing send button

#### Actual behavior

Messages don't appear in 1-1 chat

### Reproduction

- Open Status
- Send messages while "connecting"
- Close app
- Open again
- immediately

[2020-01-28 09:28] flexsurfer opened #9930 "Its not possible to send messages when you have endless blue line loading indicator at the top"
# Bug Report

VIDEO: https://drive.google.com/file/d/1678iE3-RVFbF7Zu1xEMLDzKoDRV1OLHV/view?usp=sharing

## Problem

Its not possible to send messages when you have endless blue line loading indicator at the top

[2020-01-28 09:37] flexsurfer commented on #9851
looks like a blocker for me @rachelhamlin , because it might confuse user that tx is confirmed but it isn't

[2020-01-28 09:38] flexsurfer commented on #9851
@Serhy is it only outgoing or incoming as well ?

[2020-01-28 09:40] Ferossgp commented on #9902
@hesterbruikman I would keep them implemented as separate PR, it will be easier to test and review that way.

[2020-01-28 09:53] yenda commented on #9927
[Status-debug-logs (1).zip](https://github.com/status-im/status-react/files/4121755/Status-debug-logs.1.zip)

Could reproduce by just sending a transaction from chat command to @andrey
Then I moved around in the app, checked etherscan from the pending transaction in transaction, was confirmed already there, back in the app it wasn't, after some time I sent the log, later on it was validated withou

[2020-01-28 09:59] yenda commented on #9906
I only noticed once that names were not resolved on a new account, but it was actually just delayed and appeared later which is fine, we chose to show messages first and resolved afterward. But indeed adding retries in case of infura error would be nice

[2020-01-28 11:38] Serhy commented on #9851
No, only outgoing, @flexsurfer
Incoming kept in "Shared '[account_name]'" until transaction gets confirmations and appears in 'Wallet'

[2020-01-28 11:45] Serhy commented on #9851
Only outgoing, @flexsurfer
For incoming messages in 1-1 chat - they stay in "Shared [account_name]" until transaction is confirmed.

[2020-01-28 11:45] Ferossgp commented on #9782
@andmironov I'm doing just the UI related things in my PR, I think strings should be replaced separately. If I will change only English, other languages will remain outdated as they for sure will be forgotten.
@rachelhamlin can you plese look into translation strings?

[2020-01-28 12:21] #7651 closed, assigned to Ferossgp

[2020-01-28 12:36] rachelhamlin commented on #9782
That's true @Ferossgp but it's okay for you to change them. We update the English strings in Lokalise and then people translate them when they can—unfortunately the open source translation process is imperfect at best.

[2020-01-28 12:45] rachelhamlin commented on #9927
I have the same thing but would be hard pressed to say if it worked any better on previous RC. @rasom does this issue surprise you?

The Tx shows as pending in my Status history, to be clear. Not that it doesn't show up.

[2020-01-28 13:02] rasom commented on #9927
@rachelhamlin
As I mentioned in discord, I know what causes this problem, thus it is a not a surprise anymore.
It has never worked better, because this bug was there from the very moment we implemented listening to the new blocks on go side. :)

I already have a naïve fix locally, but it wouldn't work with a big delay (for instance, if app was put to background on iOS for 2h or so). A proper fix s

[2020-01-28 13:27] rachelhamlin commented on #9927
Wow 🔥 yes please to a proper fix. I could probably live without this being a blocker, but that's really good.

[2020-01-28 14:44] cammellos commented on #9929
This might be fixed, once RC4 is out could you please try upgrading and seeing if it is still there? (I would suggest you wait say 20 minutes with the app open, to flush all outstanding messages to be sent)

[2020-01-28 14:53] rachelhamlin commented on #9906
Not happening for me on RC3. On one occasion when I loaded #status-dogfooding, Andrey's name was missing and had previously been set. The others were okay. I'm not sure it was this same problem.

[2020-01-28 15:22] #9920 closed, assigned to nobody

[2020-01-28 15:44] #6936 closed, assigned to nobody

[2020-01-28 16:04] flexsurfer commented on #9929
still can reproduce in RC4 but only for a few messages right after login

[2020-01-28 16:04] flexsurfer commented on #9929
can be reproduced on new account on ios as well
create account
join public chat (with messages probably)
send message

[2020-01-28 16:09] Ferossgp commented on #9902
@hesterbruikman could you please confirm that it should open multi-account only after logout, and it does not affect the screen which appears right before app open? Right now they are the same, so I'm wondering if it should change bothflows.

[2020-01-28 16:14] Serhy commented on #9886
I'm not sure if it's infura or not (for me there is nothing like Infura-related)
But reproduced for me now in RC3, I just want to specify scenario:

**Preconditions:**
- Tozemoon sticker exists in public chat (e.g. of chat `#tozemoon

**Reproduction**:
- Open Status
- Restore account from seedphrase that bought 'TOZEMOON' before
- Join public chat with tozemoon sticker sent (`#tozemoon`)
- Tap upo

[2020-01-28 16:37] hesterbruikman commented on #9902
Confirming that this is only for the screen after logout.

- Log out > Your keys
- Open app > (Behavior as is) Last opened multiaccount unlock screen (means the multiaccount opens automatically if 'save password' is set).

Thanks for checking!

[2020-01-28 17:28] errorists opened #9937 "Introduce custom touchable animation with haptic feedback"
As a user, I want to see a clearly visible feedback of my screen taps so that I know when a tap has been registered and when can I move out of it to dismiss my interaction. I want it to be delightful, responsive and accompanied by haptic feedback.

### Description

our touchables are boring 😴, let's change that!

The scope of this issue is to add a custom touchable and use that as the default for

[2020-01-28 17:58] errorists opened #9938 "Change iOS modal presentation to Stacks"
# Problem

The modal presentation we currently use doesn't conform to iOS interface guidelines and can be optimised by using the [Stack Presentation found in latest React Navigation](https://twitter.com/satya164/status/1142786047245467649?lang=en). Stacks allow dismissing by a swipe gesture and introduce an animation that more accurately portrays the spatial relationship of a modal to rest of the

[2020-01-29 07:40] rachelhamlin commented on #9928
What's the latest insight into this suite of issues (#9929, #9930 also)? Are all three related to Andrey's installation? I haven't been able to reproduce on either platform.

[2020-01-29 07:49] rachelhamlin commented on #9886
It's okay for me on iOS.

On RC4 iOS, I have the Install button when I click on a Tozemoon sticker in chat.
On RC4 Android, I am shown the price in SNT.

[2020-01-29 08:00] Ferossgp commented on #9782
![Screenshot 2020-01-29 at 10 59 35](https://user-images.githubusercontent.com/5794620/73337916-7093b280-4286-11ea-8b4e-184740300fca.png)
Updated, for other languages it will show the missing translation, added only English now.

[2020-01-29 08:39] cammellos commented on #9928
I think they are kind of related, but in this case, it is triggered by Andrey installation (but it's not the root cause).

I believe what happens is that in Andrey's case, the phone was doing a lot of work, and this was slowing down sending of messages.

This uncovered a few issues, for example this one, which is due to the fact that when a message has not been sent yet, and the user logs out, it

[2020-01-29 08:40] cammellos commented on #9928
#9929 is again due to the fact that Andrey's phone is doing a lot of work ( that has been fixed in develop), while #9930 is not clear yet whether is due to Andrey's phone, or whether is an existing bug just triggered by the fact that the phone is being slowed down, worth investigating.

[2020-01-29 09:39] rachelhamlin commented on #7497
This problem is a lot better in v1, but I'm still experiencing sticky unread message counts in public chats. In this instance, I've not only sent the last message in chat, I've scrolled back and collected the past 3 days of history as well:

<img src="https://user-images.githubusercontent.com/15470435/73344913-b9169480-42b5-11ea-85ea-1dcd160a4e9c.PNG" width=250/><img src="https://user-images.githu

[2020-01-29 09:44] yenda commented on #7497
@rachelhamlin if you reopen the chat does it go away? If you reopen and Scroll all your history?

[2020-01-29 09:50] rachelhamlin commented on #9928
Hmm, okay, thanks for the insight @cammellos. Can we do anything further to help troubleshoot? Sounds like Maciej is also experiencing some of this, and I'm checking in public chats to see if other users are struggling.

[2020-01-29 10:13] Serhy commented on #9886
On RC4 I have this issue in both iOS (13.3) and Androids

One note: If you open sticker market place from message input at least once then all fine when opening  tozemoon sticker pack from chat, but it's until you re-login.
So issue (in RC4 for sure for me on iOS and Android 9 and Android 8) is that "App requires to buy stickerpack that was bought previously in the tozemoon sticker pack opened by

[2020-01-29 10:34] #8483 closed, assigned to nobody

[2020-01-29 10:35] #7518 closed, assigned to nobody

[2020-01-29 10:45] flexsurfer opened #9943 "App is trying to reconnect spontaneously to 3 mailservers in the cycle it might take up to 30 sec"
# Bug Report

## Problem

Sometimes during chatting App trying to reconnect spontaneously to 3 mailservers in the cycle it might take up to 30 sec

#### Expected behavior

Reconnect is fast and hidden from the user

#### Actual behavior

User sees spinners and "connecting" banner up to  30 sec

Logs https://gist.github.com/flexsurfer/80213875d35fb1686fd8b78af8a58ed8

[2020-01-29 10:52] rachelhamlin commented on #9789
This error message that appears the moment I start typing in this field drives me nuts.

<img src="https://user-images.githubusercontent.com/15470435/73350336-65a94400-42bf-11ea-86b6-678f4688ac52.png" width=250/>

Would be an excellent enhancement if we could eventually populate a list of matching names as the user types. If I recall correctly, reverse lookup may have been a requirement for this.

[2020-01-29 11:10] rachelhamlin commented on #7497
@yenda okay, so it finally cleared after I scrolled up for the **3rd** time and fetched more messages, to the point where it can no longer return any more.

But I had previously fetched history as well. I scrolled from the oldest history back to the bottom. It didn't clear the first time I did this, or thereafter upon scrolling up and down again.

[2020-01-30 07:32] flexsurfer opened #9947 "Failed to create database after upgrading ios app"
# Bug Report

![image](https://user-images.githubusercontent.com/11790366/73441588-84591a80-4353-11ea-865f-b74d75eb6b2a.png)

## Problem

Failed to create database after upgrading Ios app

#### Expected behaviour

no errors, it's possible to continue work with the app after upgrade

#### Actual behavior

not possible to sign in after the upgrade

[2020-01-30 07:37] rachelhamlin commented on #9348
Hmm, PCI compliance for fintech companies dictates a [minimum of 6 password attempts](https://www.securitymetrics.com/blog/pci-requirement-8-combatting-weak-passwords-and-usernames) before lock-out.

Even if keycard is more analogous to a debit card, 3 attempts sounds a little restrictive, given that the user has to enter seed phrase or PUK code again to recover.

Perhaps they could be warned abou

[2020-01-30 08:33] errorists commented on #9947
just to add to that, on my end after launching the app after upgrade I'm stuck on a blank white screen with a spinner in the middle. nothing happens, it just remains this way. maybe it's because I have FaceID turned on, dunno.

[2020-01-30 08:41] flexsurfer commented on #9947
yes its because "save password" selected

[2020-01-30 09:29] yenda commented on #9943
Do you still have this issue or was it caused by the spam/24h request?

[2020-01-30 10:02] errorists opened #9948 "Allow dismissing chat's input by dragging it downward"
## Problem

In chat, the only way to dismiss the input is to tap inside the chat history. Which often is made difficult when your chat history is covered by stickers and tapping inside invokes the sticker details modal.
All of the other messaging apps I tested allow you to drag the input toolbar down to dismiss it. Try WhatsApp, Signal, Messenger, iMessage, Discord, the list goes on. It's natural

[2020-01-30 10:33] flexsurfer commented on #9755
I noticed that more active users we have, more history messages for 24h on mailservers , the probability of this issue increases.

[2020-01-30 10:34] flexsurfer commented on #9930
duplicate https://github.com/status-im/status-react/issues/9929

[2020-01-30 10:34] #9930 closed, assigned to cammellos

[2020-01-30 10:36] flexsurfer commented on #9943
it was caused by high load on mailservers, currently, we  don't have a high load, so I don't have this issue

[2020-01-30 10:36] flexsurfer commented on #9755
related issue https://github.com/status-im/status-react/issues/9943

[2020-01-30 11:40] rasom commented on #9947
@flexsurfer
that's when upgrading from which version to which?

[2020-01-30 11:42] errorists commented on #9947
I had this when going from `rc2->rc3` `rc3->rc4` `rc4->rc5`

[2020-01-30 11:45] flexsurfer commented on #9947
any version, just upgrade,

[2020-01-30 14:00] rachelhamlin commented on #7497
Update - unread badge only goes away if I scroll up through several additional 'pages' of content.

So for example, in #status-dogfooding, I have 10 unread messages. I scroll back up to my own last message—there are actually 14 messages between my last message and the bottom, so I've scrolled more than 10. When I exit, I still have 10 unread.

[2020-01-30 14:18] andremedeiros commented on #9471
That's correct. We should be good moving forward to v1.

[2020-01-30 14:37] rachelhamlin commented on #9471
Then I say this issue can be closed now.

[2020-01-30 14:37] #9471 closed, assigned to andremedeiros

[2020-01-30 17:40] #9927 closed, assigned to nobody

[2020-01-30 17:50] #9903 closed, assigned to nobody

[2020-01-30 20:06] tbenr commented on #6375
@bitsikka how are you? still working on this?

[2020-01-31 03:01] bitsikka commented on #6375
@tbenr, so good to hear from you! 😄 I am doing great caught up in a different aspect of life that sorely needed  attention. Trying to get back to the community hopefully soon.

I stopped working on this in what feels like a long while ago. Unfortunately, lost all work accidentally deleting the branch ☹️ , so I don't have anything to share.

[2020-01-31 05:59] tbenr commented on #6375
@bitsikka glad to know you're well! Take your time but come back!

Sad to know you lost the work. I'll get info from your comments here.

Let us know when you're up and running again!

[2020-01-31 08:30] rachelhamlin opened #9953 "Offload out-of-view messages to protect UI performance"
# Problem

We render all messages available in a chat, which can slow the UI.

One idea is to offload any messages that aren't in the view. If user scrolls back, they can be re-rendered.

Tagging with `v1 release` as this came up in light of some spam tests in dogfooding chat yesterday. But not a hard blocker.

Andrey's comment:

Andrea:

if the user scrolls back to present, we offload older messa

[2020-01-31 08:58] rachelhamlin opened #9954 "Add 'view profile' to message long tap"
# Problem

This is being done largely as a counter spam mechanism, so that users can easily load up a person's profile and subsequently block them if they are flooding a chat.

Also, you can not currently long tap a sticker, because the `reply` and `copy` UI is not built yet. The `view profile` option is valid for stickers now though.

Note: labeled v1 release, but not a v1 hard blocker.

## Imple

[2020-01-31 09:37] andmironov opened #9955 "Slight change of the "generate a new account" flow"
- Change the screen header to `Generate an account` to math the button on the wallet overview screen;
- Replace `Cancel` with `x` to avoid unnecessary text;
- Change the password input to be visible;

<img width="1624" alt="Screen Shot 2020-01-31 at 12 34 09" src="https://user-images.githubusercontent.com/3115606/73528522-1893b200-4426-11ea-8372-1a8800d28c71.png">

Figma
https://www.figma.com/file

[2020-01-31 10:16] flexsurfer opened #9956 "Sometimes spinner is shown for every sent message"
# Bug Report

## Problem

Sometimes spinner is shown for every sent message, even is there is no "connecting" banner, and mailservers is connected

#### Expected behavior

Spinner changed on sent or error after some time

#### Actual behavior

Spinner doesn't dissapear

[2020-01-31 11:58] #9826 closed, assigned to Ferossgp

[2020-01-31 12:56] rachelhamlin commented on #9928
We'll watch this closely in v1 and see how many more user reports come in. Flagged for v1.1 so I remember to review.

[2020-01-31 12:57] rachelhamlin commented on #9947
Am I right in my understanding that this would be a problem for users going from v1 to v1.1?

[2020-01-31 13:02] flexsurfer commented on #9947
yes any ios upgrade

[2020-01-31 13:52] hesterbruikman opened #9961 "Update glossary view"
# Problem
Some content doesn't accurately present the concepts, this might lead to confusion. Especially when Smart Contract accounts are introduced in the future.

## Proposed updates
FROM
"account-content": "Your Status account, accessed by the seed phrase that you create or import during onboarding. A Status account can hold more than one Ethereum address, in addition to the one created during

[2020-01-31 15:11] hesterbruikman commented on #9961
cc @errorists @rachelhamlin @Ferossgp

[2020-02-01 11:40] acolytec3 commented on #9719
@3esmit Sorry I've left this one hanging but I'm going to step back from this one. Been focusing on some other projects and this one might be bigger than I can take on in the near term.

[2020-02-02 07:51] flexsurfer opened #9962 "Update prices in fiat more frequently"
# Bug Report

## Problem
Currently, price in fiat updated only on sign in, but app might be opened for a  long time and prices may change

#### Expected behavior

prices are updated more frequently

[2020-02-02 10:53] weekly-digest[bot] opened #9963 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 44 issues were created.
Of these, 16 issues have been closed and 28 issues are still open.
## OPEN ISSUES
:green_heart: #9961 [Update glossary view](https://github.com/status-im/status-react/issues/9961), by [hesterbruikman](https://github.com/hesterbruikman)
:green_he

[2020-02-03 08:47] #9954 closed, assigned to nobody

[2020-02-03 09:54] rachelhamlin commented on #9956
Do you think it's unrelated to #9928?

[2020-02-03 10:16] rachelhamlin opened #9966 "Upload profile picture with ENS"
# Feature Issue

We're converting profile photos into a feature of ENS. The primary reason is that profile photos were confusing before—only contacts could see them. In v1, contacts have no other privileges or special relationship.

Photos simply make more sense as part of a user's ENS identity.

However, the more value we build around ENS, the more important it becomes that we allow users the opt

[2020-02-03 11:13] flexsurfer commented on #9956
this one is different, but they some kind of related

[2020-02-03 12:07] rachelhamlin commented on #9857
Wait, so @Serhy, if you recover your account several times and I send a message to your pubkey - you won't receive it? Or they are received on a 4-5 minute delay (and same if I send to your ENS that is not yet set up in your profile)?

[2020-02-03 12:10] rachelhamlin commented on #9928
Are messages actually being delivered when this happens?

[2020-02-03 12:11] rachelhamlin commented on #9956
Same question as on #9928 - messages are ultimately delivered in this scenario?

[2020-02-03 12:11] cammellos commented on #9857
this is expected, recovering the account might have a delay on receiving  1-to-1 messages, as peers need to be notified of the new device, pairing helps speeding up the process, but until there some permanent form of storage (swarm etc), this can only be mitigated but not solved

[2020-02-03 12:13] cammellos commented on #9928
yes, delivered and stored on the mailserver, so they should be marked as `Sent`

[2020-02-03 13:00] flexsurfer commented on #9956
we don't know for sure, probably yes

[2020-02-03 13:03] rachelhamlin commented on #9857
Okay, cool. I'm going to backlog this then.

[2020-02-03 13:07] rachelhamlin commented on #9953
I don't want to give you whiplash @cammellos but if this is a hairy issue—can we get a sense for effort and impact? e.g. how much payoff can we expect to see?

I'd rather have you focus fully on Waku, even documenting the integration plan, if the complexity is high and yield is not significant. It's probably not as important as Waku.

[2020-02-03 13:15] cammellos commented on #9953
@rachelhamlin hard to say, for today I have been fully on Waku, I can prioritize that 75% 25% or I can timebox this (say tomorrow morning I can work on this) and try to quantify the perf. improvement / see how far it goes, up to you. If everything goes well soon enough I should have waku integrated so I should have some slack on that side of things.

[2020-02-03 13:21] rachelhamlin commented on #9953
Amazing @cammellos. Can you budget some time to document Waku in Status as part of that work? I think it would be good to file something away in the [specs](https://github.com/status-im/specs) repo.

We are probably ready to begin the design phase of Waku settings as well.

You can manage your time however you prefer, given that Waku is close. As long as Waku > offloading.

[2020-02-03 19:39] #9947 closed, assigned to nobody

[2020-02-03 19:41] flexsurfer commented on #9280
fixed by implementing retries on infura error

[2020-02-03 19:41] #9280 closed, assigned to nobody

[2020-02-04 07:29] Ferossgp opened #9969 "Update the keycard indicator for multiaccounts screen"
# Problem

- Let's update the keycard indicator for it to be consistent with the rest of the app;

## Implementation
The keycard indicator is moved to the user photo.

## Acceptance Criteria
Should follow Figma UI https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4566%3A12

[2020-02-04 10:52] #9782 closed, assigned to Ferossgp

[2020-02-04 12:58] rachelhamlin commented on #9962
I don't think this is a blocker. v1.1 perhaps?

[2020-02-04 13:03] flexsurfer commented on #9962
i still think its a blocked, imagine you want to send 10SNT and status shows price as 1 USD, but the real price is 10USD, i made a super simple fix for v1 , one line , update prices each time wallet tab is opened

[2020-02-04 15:13] guylouis commented on #9365
@andmironov could you add the dabber (?) video link you mentioned ? thanks

[2020-02-04 16:27] guylouis commented on #9348
the lock down is done at the card level, and the card has no notion of time, so this not technically possible

the number of attempts remaining can not be stored on the phone (simply because a card can be used by several phones), and this number of attempts is an info held by the card. For all interactions with one tap only (most of them are) we thus can't tell to the user in advance how many atte

[2020-02-05 09:25] rachelhamlin opened #9974 "Change wallet 'send' button to 'next'"
**Problem**
The 'Send' button in the wallet generated Tx flow leads to the Tx overview, where you can edit network fee and check details.

Let's change the button that leads to this screen from 'Send' to 'Next', so users know there is another step in the process. Otherwise they may worry they are signing the Tx without review.

Screenshot:
![image](https://user-images.githubusercontent.com/1547043

[2020-02-05 10:00] rachelhamlin commented on #9348
Ah, makes sense. Totally appreciate the ATM card analogy. Perhaps it won't be a problem. Curious also to know what @corpetty thinks of 6 attempts over 3, before we change anything on the applet :)

[2020-02-05 10:04] vkjr opened #9975 ""Invalid address: <no value>" error when address has whitespaces at the end"
# Problem

When providing address for sending funds and it contains ending whitespaces, error appears:

![Screenshot 2020-01-31 at 12 18 53](https://user-images.githubusercontent.com/5786310/73831633-59693d80-480f-11ea-83af-af04f30a6347.png)

## Implementation

Probably address should be trimmed before validation. Or we can show address in quotes instead of `<no value>` to help user notice the pro

[2020-02-05 10:04] flexsurfer opened #9976 "Show pending transactions"
# Feature Issue

Currently, we create "fake" pending transaction when we send a transaction in status, but after relogin it disappears, an incoming pending transaction isn't showed at all

Status go should scan for pending transactions or use `eth_pendingTransactions`

[2020-02-05 10:13] vkjr opened #9977 "Can't leave signing screen in case of losing internet connection"
# Problem

When signing transaction initiated and internet disconnected user can't exit signing screen. `Cancel` button is available but not functioning. After some time we will get timeout error but until this not grayed out `Cancel` is confusing.

![Screenshot 2020-01-31 at 12 24 53](https://user-images.githubusercontent.com/5786310/73831902-c54ba600-480f-11ea-9838-7d7e27eb7ac1.png)

## Steps to

[2020-02-05 10:15] vkjr commented on #9977
@errorists, looks like UX issue, wdyt?

[2020-02-05 12:44] vkjr commented on #9485
I don't have any problem with sending/receiving long messages, but there is a problem with colours when you are a receiver (android emulator). Links are clickable with any color.
5k chars:

![Screenshot 2020-02-05 at 14 41 26](https://user-images.githubusercontent.com/5786310/73842793-f20ab800-4825-11ea-9561-d373b96e7d53.png)

[2020-02-05 12:50] vkjr commented on #9485
On 10k chars I can see a layout break:
![Screenshot 2020-02-05 at 14 49 10](https://user-images.githubusercontent.com/5786310/73843207-db189580-4826-11ea-8fa2-a580e0d1bcf5.png)

[2020-02-05 13:09] simonricoo opened #9981 "Sliding keyboard on suggested "iCloud Password" (autofill)"
# Bug Report

## Problem
When I tab on suggested "icloud password" in onboarding/signing a transaction/or anywhere else password is required, the keyboard slides down -> faceID –> slides back.

#### Expected behavior

See figma file for onboarding:
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=5991%3A36478
<img width="1806" alt="Screenshot 2020-02-05 at 15 10 32" src="http

[2020-02-05 13:13] rasom opened #9982 "Suggestions for mnemonic code"
# Suggestions for passphrase words

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see a suggestions for words from my mnemonic sentence when I recover an account.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the implementatio

[2020-02-05 13:51] rasom opened #9983 "Short way to paste address on sending transaction"
# Short way to paste address on sending transaction

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to paste address before opening "enter address or username screen" to avoid making unnecessary steps.

### Description

This option might be added to "choose recipient" popup as you can see on image, but I would add right to "sen

[2020-02-05 14:15] rasom opened #9984 "Allow to scan QR code with an address which doesn't conform to eip55"
# Allow to scan qr with an address which doesn't conform to eip55

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to scan qr with an address which doesn't conform to eip55 to avoid copy/pasting it manually.

### Description

Many local exchanges (for instance some of those which I use for crypto to cash exchange) do not support

[2020-02-05 15:14] jinhojang6 opened #9985 "es_419 (Latin American Spanish) doesn't work on Android"
## Problem

One of our ambassadors found that the V1 RC9 doesn't show Spanish well on Android devices. It partially shows Spanish so I guess it uses other Spanish translations(`es.json` or `es_ar.json` or `es_mx.json`) instead. The V1 RC9 Spanish works well on iOS so Android uses different locale systems from iOS.

## Suggestion

I think we should  remove `es_ar.json(Argentina)` and `es_mx.json(Me

[2020-02-05 15:18] rasom opened #9986 "Allow to disable fetching of tx history on mobile network"
# Allow to disable fetching of tx history on mobile network

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have an option to disable fetching of tx history on mobile network to save mobile traffic.

### Description

Currently we fetch history regardless of available network, and this might require some internet traffic (tens of megaby

[2020-02-05 16:23] rasom opened #9987 "Improve watching to new blocks (recent transfers state)"
# Feature Issue
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user, I want to see the most recent tx history of my accounts with no delays using as little internet traffic as possible to be able to know the recent state of my accounts.

### Description

* [ ] the way how we listen to recent blocks should be rewritten so that we do not
fetch an entire

[2020-02-05 17:14] 3esmit opened #9988 "Support 3box.io profiles to status users"
# Feature Issue

Currently Status.im have a very simple profile system, only allowing to set a name and a ens domain (usually username.stateofus.eth).

3box.io is using OrbitDB (that uses IPFS) and ethereum to authenticate changes in this DB, that can store users profile in a very flexible way.

### User Story

As a user, I want to have a public profile that I can selectively share with my contact

[2020-02-05 19:38] 3esmit opened #9989 "Add optional mnemonic salt (password) support as TREZOR plausible deniability"
# Feature Issue

Some uses might be using seed phrases salted with a password. Additionally, the Status should support its own variant of plausible deniability feature.

### User Story

As a user I want to use my TREZOR seed phrase that is salted with my password.

As a user I want to show a dummy wallet for a threat forcing me to unlock my wallet.

### Description

The main focus would be only to

[2020-02-06 07:40] flexsurfer commented on #9988
@3esmit is this related to https://github.com/status-im/status-react/issues/9909 ? cc @rachelhamlin

[2020-02-06 07:52] #4977 closed, assigned to nobody

[2020-02-06 07:52] #5287 closed, assigned to nobody

[2020-02-06 07:54] #5456 closed, assigned to nobody

[2020-02-06 07:54] #5554 closed, assigned to andmironov, hesterbruikman

[2020-02-06 07:54] #5595 closed, assigned to nobody

[2020-02-06 07:55] #5812 closed, assigned to nobody

[2020-02-06 07:55] #6252 closed, assigned to nobody

[2020-02-06 07:55] #6272 closed, assigned to nobody

[2020-02-06 08:01] flexsurfer commented on #7250
@rachelhamlin is this still relevant?

[2020-02-06 08:02] flexsurfer commented on #8153
@yenda is this still  relevant?

[2020-02-06 08:03] flexsurfer commented on #9183
@3esmit is this still relevant?

[2020-02-06 08:04] errorists commented on #7250
I might return to it later, much later. for now I see it as unnecessary seeing as contacts don't have much use, it's just a name on a list.

[2020-02-06 08:07] flexsurfer commented on #9609
@3esmit is this still relevant?

[2020-02-06 08:52] flexsurfer opened #9990 "Option to exclude/include account from total value"
### User Story

As a user i would like to have a choice which accounts include in total value

[2020-02-06 08:57] flexsurfer commented on #805
@yenda @rasom is this still relevant?

[2020-02-06 09:09] flexsurfer opened #9991 "Show ens names in transactions history"
### User Story

As a user i would like to see ens names in transactions history

[2020-02-06 09:14] #4418 closed, assigned to nobody

[2020-02-06 09:15] yenda commented on #805
I don't think so, or at least it is not as simple as pausing for instance if we enable notifications it should at least fetch every few seconds, in which case it might be worst than just keep it running

[2020-02-06 09:21] flexsurfer commented on #7436
@Serhy do you  think we can  close this?

[2020-02-06 10:54] Serhy commented on #7436
Yes, that's an old issue which is fixed in V1. Closing.

[2020-02-06 10:54] #7436 closed, assigned to nobody

[2020-02-06 11:04] rachelhamlin opened #9992 "QR code won't close from wallet screen"
# Bug Report

## Problem

Reported by Jarrad:

When QR code is opened from wallet > individual account > share button, and back button is then pressed, QR code does not close and remains on wallet overview.

#### Expected behavior

QR code panel is closed when user goes back.

#### Actual behavior

QR code remains on wallet overview screen.

#### Notes

Can not reproduce on iOS.

### Reproduction

[2020-02-06 11:08] guylouis commented on #9651
closed and replaced by #9764

[2020-02-06 11:08] #9651 closed, assigned to nobody

[2020-02-06 11:21] rachelhamlin commented on #7250
We have a quite a few new considerations w/r/t contacts and identity/account contracts in Status:

- Conversations with 3box for social profiles, which Ricardo would like to support
- ENS usernames
- Universal login
- EIP 2429 friend recovery

Perhaps we need to launch a new swarm to figure out how all these parts work together, and what our priorities are.

[2020-02-06 11:32] errorists commented on #7250
oh for sure, like the idea! currently I'm investigating [sharing account details with contacts](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4248%3A147), this could be included too

[2020-02-06 12:21] #9593 closed, assigned to nobody

[2020-02-06 15:16] #7895 closed, assigned to nobody

[2020-02-06 15:17] #7893 closed, assigned to nobody

[2020-02-06 15:23] guylouis commented on #8504
This is not related to keycard at all, so I remove the keycard label

It's a general feature of status, wether the account is a keycard one or not

The label was put in the past because Dmitry N. was supposed to do the implementation at some point

cc @rachelhamlin

[2020-02-06 15:33] guylouis commented on #9084
closed with #9050 being closed too

[2020-02-06 15:33] #9084 closed, assigned to nobody

[2020-02-06 18:08] flexsurfer commented on #9992
hardware back button ? yeah to fix that, popover should be a screen , and bottom sheet  as well @errorists @Ferossgp

[2020-02-07 07:38] Ferossgp commented on #9662
Also now NFC check is done only before navigation to screens which need NFC. If the user enables it using quick access sheet, while screen with "Turn on NFC" the app does not react to that. User should close/move to bg and open app again to see NFC changes. It should be a listener as other checks like internet conenction 🙏

[2020-02-07 10:44] flexsurfer commented on #9992
its even worst with sending tx from chat, you can open tx bottom sheet, and go back to chats screen, and dunno what will happen when you send this tx from chats screen