[2018-07-27 11:50] EugeOrtiz commented on #4932
@chadyj Do we have the T&Cs copy? I can only see the PP's one.
According to https://github.com/status-im/design/issues/15 we will need to embed the text within the app. For desktop we will need to either embed it or send the user to the browser w/ this info.

[2018-07-27 11:53] Graeme-Code commented on #5276
Hi @goranjovic , i think I know what is wrong.

I used my seed phrase for the status wallet to log into Metamask to see if my ETH was there. And it was not there.

I then looked at the address I transferred to from my hardware wallet.
https://etherscan.io/address/0x997bc170e10f194c5cd4bdbdc9a14a95b63d7b72

I did the transaction by using the ledger live app to scan the status "receive" QR code usin

[2018-07-27 12:45] EugeOrtiz commented on #4860
@vkjr @rcullito  I would go with Arial for Linux, and SF for OSX.

Here is an example of how the chat screen looks with Arial >> **zpl.io/amnlnEv** (Zeplin)

For Linux, we should replace all the SF font-weight: semibold & font-weight: bold  to **bold** in Arial.

[2018-07-27 12:55] rachelhamlin commented on #4608
Looks good to me @errorists! cc @yenda in case this work might interest you—adding direct replies into chat.

[2018-07-27 14:37] #3130 closed, assigned to denis-sharypin

[2018-07-27 14:37] #3923 closed, assigned to errorists

[2018-07-27 15:08] obi2020 commented on #4739
@EugeOrtiz and I worked on this as part of onboarding flow improvements. An update has been implemented in this branch https://github.com/status-im/status-react/pull/5089

[2018-07-27 15:23] obi2020 commented on #5260
FYI, I've started collaborating with @denis-sharypin on dialogues for this and he has some design mocks. We are also making an effort to align with MetaMask team on language

[2018-07-28 07:59] Graeme-Code commented on #5276
I retested sending ETH to my status.im wallet via scanning QR code, it worked and the ETH is displaying in my wallet :) I must of messed up the entering of public key on the first attmpt.

Although the currency value has not updated.
![screenshot_20180728-085640_status](https://user-images.githubusercontent.com/7915365/43354429-6ecc667a-9244-11e8-8663-69decb57568b.jpg)

[2018-07-29 14:14] Serhy opened #5324 "'Error: does not support name' staying on transaction fee screen > 3 min when sending TX to Dapp"
***Type***: Bug

***Summary***: When contact sends a transaction to Dapp the Send transaction wallet screen has an expiration time (~3 minutes). In a case when transaction times out while user is on the 'Trasaction Fee' screen - the `Error: does not support name` pop-up appears with no way to proceed using the app.
On iOS this error appears for a very short time but then app is unresponsive. Need

[2018-07-29 15:40] javier-tarazaga commented on #3498
Which device and version of Android was this issue discovered? I have also tried the latest version of the app in Google Play and a Samsung S7 Edge with Android 8.0.0 and I couldn't reproduce the issue.

[2018-07-30 06:18] #5285 closed, assigned to flexsurfer

[2018-07-30 06:44] asemiankevich opened #5326 "Can't start the app - Status has crashed upon launch (Android)"
### Description

*Type*: Bug

*Summary*: Can't start the app - Status has crashed upon launch

![image](https://user-images.githubusercontent.com/28752642/43381510-950d370c-93dd-11e8-88f2-595a0d5c0754.png)

### Reproduction

- install http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a586d1-n-fl.apk
- Open Status

### Additional Information
* Status version: nightly ht

[2018-07-30 07:08] mandrigin commented on #5326
@asemiankevich is it any specific device or does it do it on any Android?

[2018-07-30 07:09] asemiankevich commented on #5326
@mandrigin both my androids (7.0)

[2018-07-30 07:19] mandrigin commented on #5326
@asemiankevich can you try to rebuild the nightly and check if it persists? looks like something was built incorrectly...

[2018-07-30 07:19] asemiankevich commented on #5326
sure ! :)

[2018-07-30 07:47] mandrigin commented on #5169
closing this one because it was done

[2018-07-30 07:49] mandrigin commented on #5270
@asemiankevich that is definitely an Infura issue and I don't think there is something we can do about fixing it. What we can do, is to wrap this error message to something more readable and actionable, but that worth a separate issue, I think.

[2018-07-30 07:50] mandrigin commented on #4615
@lukaszfryc is this still reproducible?

[2018-07-30 07:52] mandrigin commented on #3392
@asemiankevich the logo is expected (try launching other apps that have a logo in the centre when you have an active call).
For the screen, yes, we need to go through them and make sure they work with the call.
Also, Viber isn't a great example, you see that their nav bar is half cut-off.

[2018-07-30 08:26] leonprou opened #5327 ""Connection is not proven secure" for HTTPS secure website"
**Type**: Bug

**Summary**:
Our Dapp has a HTTPS certificate -  https://communities.colu.com/, It looks good both on Chrome and safari. But for some reason the Status Browser shows that the connection ins't secure.

Additional Information:
Status version: Develop 0.9.22 (6182)
Operating System: Android

<blockquote><div><strong><a href="https://communities.colu.com/">CLN Community App</a></strong>

[2018-07-30 08:49] annadanchenko commented on #5326
on new nightly build https://jenkins.status.im/job/status-react/job/nightly/527/ can launch app and create new account (real Pixel XL, Android 8.1.0)

<blockquote><img src="/static/b5b8e6f2/favicon.ico" width="48" align="right"><div><strong><a href="https://jenkins.status.im/job/status-react/job/nightly/527/">status-react » nightly #527 [Jenkins]</a></strong></div></blockquote>

[2018-07-30 08:53] chadyj commented on #4932
Thanks @errorists! Looks good!  To ensure full compliance ould you also add the privacy policy so it is materially connected to the logout > create new, add existing flows? Since terms change, or different users could be using sharing a device we need to show the policy at these points.  Can you also please mock up including the terms within the app so users can refer to this when logged in?  Than

[2018-07-30 09:22] asemiankevich commented on #5326
https://jenkins.status.im/job/status-react/job/nightly/527/ looks good to me as well, closing

<blockquote><img src="/static/b5b8e6f2/favicon.ico" width="48" align="right"><div><strong><a href="https://jenkins.status.im/job/status-react/job/nightly/527/">status-react » nightly #527 [Jenkins]</a></strong></div></blockquote>

[2018-07-30 09:22] #5326 closed, assigned to nobody

[2018-07-30 10:28] chadyj commented on #4615
This flow has been removed so we can close.

[2018-07-30 10:28] #4615 closed, assigned to nobody

[2018-07-30 10:34] rachelhamlin opened #5332 "Embed GA on docs.status.im"
### User Story

As a core team member, I want to see which pages of Status developer docs are most trafficked so that I can gauge the popularity of our tools and the usability of the site.

### Description

*Type*: Feature

*Summary*: We use Google Analytics on the Status site and blogs to measure traffic. Doing the same for developer docs will give us important insight into the interest of the de

[2018-07-30 10:45] jeluard commented on #5332
Done (https://github.com/status-im/docs.status.im/commit/d7dc6d9225d28ebd468e94543d23fd99351e6d94)

[2018-07-30 10:45] #5332 closed, assigned to jeluard

[2018-07-30 11:10] lukaszfryc commented on #3498
Still happens on my side. I tested on 0.9.23 on Samsung Galaxy S8, Android 7.1.

Looks like it affects only subset of Android phones. I'll add low-severity label.

[2018-07-30 11:50] asemiankevich commented on #5292
work for me in today's nightly as well http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a586d1-n-fl.apk

<blockquote></blockquote>

[2018-07-30 13:59] EugeOrtiz opened #5336 "(Onboarding) Switch the order of 'name' & 'password' steps during account creation"
### User Story

As a user, I want to fill in 'Name' first and then 'Password' when I'm creating a new account, so that I can follow a more logical onboarding flow.

### Description

*Type*: Feature

*Summary*: As part of [testing the onboarding flow with users](https://docs.google.com/presentation/d/1eJP-Hh4tN6XZREIy73GNuJP1LqGg41EvP5QpVlFZQ78/edit#slide=id.g3e1b33ca7e_2_121), we found that asking

[2018-07-30 14:32] EugeOrtiz opened #5337 "(Onboarding) Remove "Creating your account on the blockchain...." screen during account creation"
### Description

*Type*: Bug

*Summary*: When the user is creating an account -right after creating a password- we are showing a screen with the text "Creating your account on the blockchain. We can't touch it, no one can, except for you".
[This has been noted as inaccurate](https://status-im.slack.com/archives/C9R0TSTM2/p1531229410000482), so we decided to remove this screen directly.

#### Expec

[2018-07-30 17:59] #5337 closed, assigned to EugeOrtiz

[2018-07-30 18:22] EugeOrtiz commented on #5288
@churik  I updated this screen based on findings from user feedback. To keep it simpler, I removed some extra elements. Here is the new design >> **zpl.io/V0yk4QQ** (Zeplin)

![welcome new](https://user-images.githubusercontent.com/37297779/43415567-4867abf6-940c-11e8-9a76-1f37ecdc3577.png)

[2018-07-30 18:35] maxhora opened #5339 "Status-react Desktop should use clj-rn"
Use clj-rn instead of re-natal for dev build of status-react Desktop

### User Story

As a developer, I want to use brand new clj-rn instead of re-natal for dev build of status-react Desktop and figwheel ( ? ) enabling on dev build.

### Description

*Type*: Feature
*Summary*: Replace re-natal with clj-rn

#### Expected behavior
No more hustles with re-natal - lets use clj-rn!

#### Actual behavio

[2018-07-30 18:45] maxhora commented on #5339
Related to https://github.com/status-im/clj-rn/issues/8

[2018-07-31 06:22] errorists commented on #4932
Uploaded all the mockups to [Zeplin](zpl.io/2ZJ9oAE)
@chadyj @obi2020 Not sure on the exact wording for the Log Out - > Sign In flow, should we also use a catchall 'By continuing' like on the welcome screen?

_Edit:_ Updated the mockups so that both use the same copy : 'By continuing…'

[2018-07-31 06:59] chadyj commented on #669
As @jeluard mentioned we are actively workign on ENS resolution support in chat and wallet, as well as ENS registration. I'll close this in favour of the more granular issues.

[2018-07-31 06:59] #669 closed

[2018-07-31 07:11] chadyj commented on #4932
Thanks @errorists looks great 🍻

[2018-07-31 07:23] goranjovic opened #5341 "Sign message operation should be intercepted by wallet onboarding"
### User Story

As a user I want to see the signing phrase before it is presented to me for inspection when signing a message, if that is my first interaction with the wallet in the account.

### Description

*Type*: Bug

*Summary*:  In new accounts, if user tries to sign a message before completing onboarding, they should get redirected to onboarding first.

#### Expected behavior
Signig message

[2018-07-31 07:26] #5226 closed, assigned to nobody

[2018-07-31 07:28] #4558 closed, assigned to nobody

[2018-07-31 07:29] #4724 closed, assigned to goranjovic

[2018-07-31 07:29] #5131 closed, assigned to goranjovic

[2018-07-31 08:34] #4380 closed, assigned to flexsurfer

[2018-07-31 09:27] vkjr commented on #4860
Update on this issue:

I checked on mac, Qt font database has following font families from SF:
[code]

As I understand, this is not enough to cover our needs, because in the code we are referencing family fonts with different weights:

[code]

So, as @rcullito mentioned earlier, we need to have a possibility to add custom fonts to the application database. Will investigate this.

[2018-07-31 11:46] maxhora opened #5342 "Support nightly builds for Desktop"
As user, I want be able to download status-react Desktop nightly builds from https://status-im.github.io/nightly/

Currently we don't have nightly builds for Desktop project.

[2018-07-31 12:15] flexsurfer commented on #4868
reproduced to me when i added a contact with the universal link and sent messages

[2018-07-31 12:41] #5265 closed, assigned to goranjovic

[2018-07-31 12:49] churik opened #5344 "Some chars are shown as squares in messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see that all chars are handling correctly regardless of language/ chars I'm using

### Description

*Type*: Bug

*Summary*:  squares are displayed  instead of chars in desktop messages.
Examples of chars:
- ❗ Ꞁ  ⅇ ⅊  ⚭ ⚮ ⏠ ⏡ ⏦ ⥰  ⥸ ⥹ ⥺ ⥻ ⥼ ⥽ ⥾ ⥿ ♾ ⎌ ⍼ ⍿ ⎀ ⎁ ⎂ ⎃ ⎄ ⎅ ⎆ ⎉ ⎊ ⎍ ⎎ ⎏ ⎐ ⎑ ⎒ ⎓  ⎖ ⎲

[2018-07-31 13:03] churik opened #5345 "Topic is not clickable in "Selected for you" until focus isn't in "Topic" field"
### User Story

As a user, I want to choose any chat from "Selected for you" by clicking on it
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: user cannot go to selected chat when focus is out

[2018-07-31 14:15] churik opened #5347 "Use time format according to 12/24h device settings"
Based on #5158.

### User Story

As a user, I want to see timestamps in Status app according to time format chosen by me in phone settings.

### Description

*Type*: Feature
*Summary*: now settings are different in IOS (always 24h) and Android (always 12h for
 Samsung Galaxy S7, Android 7.0) and they don't depend on device settings.
I suggest to implement detection of user settings (implemented in

[2018-07-31 14:51] asemiankevich opened #5348 "Sign transaction button is always shown as tapped"
### Description

*Type*: Bug

*Summary*: Sign transaction button is always shown as tapped even i need to tap it again (for ex i entered the wrong password)

#### Expected behavior
Sign transaction button is shown as active when it is required from POV

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/43467348-32203302-94ea-11e8-865c-ac46a154fd8e.png)

### Reproduct

[2018-07-31 15:09] #4835 closed, assigned to goranjovic

[2018-07-31 15:09] #4952 closed, assigned to goranjovic

[2018-07-31 20:31] EugeOrtiz commented on #4418
Detailed designs can be found here >> **zpl.io/V41yLW0** (Zeplin)
Examples of how it looks on MacOS here >> **zpl.io/V0yl74Q** (Zeplin)

![create account - password - filled](https://user-images.githubusercontent.com/37297779/43485425-8fc8dc32-94e7-11e8-8393-ca0593ea632b.png)

[2018-08-01 07:17] chadyj commented on #4690
Just curious about this unread message implementation as it seems to be the inverse of the originally proposed [issue](https://github.com/status-im/status-react/issues/4607).  In that example, the scroll position is maintained through sessions so that when a user returns to a chat they are in the same position/history as they were previously. The user can either scroll down and catch up, or simply

[2018-08-01 07:46] Serhy commented on #5327
Confirmed in latest develop build that it's not an issue anymore (we fixed it in #5331).
It will OK with the next release.
Closing for now.

[2018-08-01 07:46] #5327 closed, assigned to nobody

[2018-08-01 08:25] churik opened #5350 "App becomes unresponsive after joining to chat with all chars"
### Description

*Type*: Bug

*Summary*: after joining channel where used all chars (list is [here](https://www.copypastecharacter.com/all-characters) ) - IOS app becomes unresponsive, there is no send button at attempt to type something, all other buttons are unresponsive. Is not reproducible on Android and Desktop.

#### Expected behavior
add is responsive

#### Actual behavior
app is unresponsi

[2018-08-01 10:49] infebe opened #5353 "Adding a Recovery phrase and password on a fresh new install throws Error and freezes app with a blank screen"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When installing for the first time the application on an Android device and selecting the "I already have an account" option from the first welc

[2018-08-01 11:08] goranjovic opened #5354 "Transactions sent to known token contracts should display the contract name as recipient"
### User Story

As a user I want to see a human readable contract/token name in Wallet Send and Transaction History when I interact with a smart contract.

### Description

*Type*: Feature

#### Expected behavior

- Wallet Send displays token (or smart contract) name in addition to the address when transactions are being sent to a contract (i.e. contract methods are invoked)
- Transaction history

[2018-08-01 12:08] lukaszfryc commented on #4205
It can be still replicated on 0.9.23. I think we should fix it asap. It's not so difficult to enter whitespace while typing an url.

[2018-08-01 14:27] lukaszfryc opened #5356 "0 fiat amount despite having tokens in Wallet"
### Description

*Type*: Bug

*Summary*: Wallet showed $0.00 due to 504 cryptocompare api error. Maybe we can retry the call? Or at least call the API whenever Wallet tab is opened.

<img src="https://user-images.githubusercontent.com/7532782/43527578-3a55eb62-95a7-11e8-8c0d-15bcd23f2bfb.png" width="200">

### Reproduction

-

### Additional Information
* Status version: 0.9.24
* Operating System:

[2018-08-01 14:37] goranjovic commented on #5276
@Graeme-Code Glad to hear your assets are all fine and thanks for letting us know!

The second issue (0 dollars despite having balance) seems to be related to the conversion to fiat value. We've received reports on this and are working on it. (issue #5356).

Since the original problem seems to be resolved, I'm going to close this issue. If you notice anything weird please either create an issue or

[2018-08-01 14:37] #5276 closed, assigned to goranjovic

[2018-08-01 15:07] asemiankevich opened #5357 ""BigNumber Error: div() not a number: null" error on Transaction History screen after network change"
### Description

*Type*: Bug

*Summary*: `TaskQueue: Error with the task : BigNumber Error: div() not a number: null` shown when refreshing txn history (android). Happens when changing account network from Mainnet (where there are a lot of transactions) - to Ropsten/Rinkeby and staying on Transaction History screen.

Transaction History could be accessed from main Wallet screen or from modal walle

[2018-08-01 17:21] tbenr commented on #5347
Already working on this

[2018-08-01 17:55] obi2020 commented on #4739
This should be seen with the next full release

[2018-08-01 17:55] #4739 closed, assigned to obi2020, EugeOrtiz

[2018-08-01 21:20] chuckbergeron opened #5358 "Support for HTML File Inputs in DApp Browser"
### User Story

As a user, I want to be able to upload files in the DApp Browser.

### Description

*Type*: Bug

*Summary*: I have created a simple HTML file which has 3 types of file inputs (from simple to complex). I have had luck using the file inputs in various browsers (Trust, Toshi, Chrome, Safari, Firefox, etc.) however in Status they do nothing. **Here is the test HTML file:** https://hipp

[2018-08-02 06:16] asemiankevich commented on #4404
send / request huge amounts looks good to me, was able to do so from wallet and 1x1 chat

[2018-08-02 06:44] #4404 closed, assigned to goranjovic

[2018-08-02 08:28] yevh-berdnyk opened #5360 "Transaction failed - replacement transaction underpriced when sending a transaction from recovered account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: `Transaction failed. Replacement transaction underpriced` error happens when a recovered user with funds sends a transaction. For now it already

[2018-08-02 08:46] alwx commented on #5315
Current status of it:
We talked to Iuri, and I also looked at how Embark is organised now. Agreed that the previous implementation contained everything we need, but the basic set of features can be minimal and the list created by you already includes everything we need at the beginning.
And we don't even need to invent something here — the previous solution was good enough. The only problem is tha

[2018-08-02 09:45] jeluard opened #5361 "Add a basic panel to load/manage remote extensions"
### User Story

As a user, I want an easy way to load and manage extensions lifecycle.

### Description

*Type*: Feature

Add a screen in profile/advanced allowing to load extensions. Will be hidden behind a flag and accessible in dev mode only.

An example extension universal link is: https://get.status.im/extension/gist@jeluard/87b2fd97baee988fbf74c442be235fe3

![frame](https://user-images.githu

[2018-08-02 13:24] churik opened #5364 "Some screens in Status does't fit layout on small screen resolutions (IPhone 5s)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see Status looks nicely on different devices.

### Description

*Type*: Bug
*Summary*: There are several places when keyboard\values\screens are overlapping

1) Sign Up process  (set up name)
<img width="225" alt="new" src="https://user-images.githubusercontent.com/4557972/43585352-9298146

[2018-08-02 13:42] chadyj opened #5365 "Start chatting from the dapp browser"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a dapp user, I want to chat about the dapp I'm using so that I can learn, get support, and be part of the dapp community.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you

[2018-08-02 13:50] EugeOrtiz commented on #4690
My 2 cents. I guess my question is: Would people with +100 unread messages review them? I found [this article](https://uxdesign.cc/those-annoying-150-unread-messages-ddd50419bd0f) with some stats:
 _"About 90% people found it difficult to read all the unread messages when they have grown large in number. **Only 10% people read full unread messages.**"_

With a large amount of unread messages, I th

[2018-08-02 13:51] infebe opened #5366 "CryptoKitties, scroll in Create Account dialog box activates background page scroll too"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When scrolling inside a dialog it is expected that the scroll only affects to the content inside the dialog with which the user is inter

[2018-08-02 14:58] lukaszfryc opened #5367 "Include contact code deep link in Status invitation message"
### Description

*Type*: Feature

*Summary*: Currently, the invitation text says "Get Status at http://status.im". We could improve it by adding a deep link with the user user contact code so that he can be easily added after someone downloads the app. The text could say:

_Get Status at http://status.im and add click this link to message me!  https://get.status.im/user/0x044166fa04e967e333211ae0c

[2018-08-02 14:58] lukaszfryc commented on #5367
@chadyj wdyt?

[2018-08-02 15:02] chadyj commented on #5367
Nice one Lukasz!  @errorists is working on this right now and will have something to present soon.

[2018-08-02 15:46] infebe opened #5368 "CryptoKitties, web layout not properly loaded when scrolling page"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: The main page of the DApp CryptoKitties (https://www.cryptokitties.co/) appears all messed up, with images torn by a black horizontal bar, text

[2018-08-02 15:53] alwx commented on #5315
Investigated a bit more, found these three options: https://gist.github.com/alwx/a911408984791e0e9a80d1ac4302443c

Of course, some of them can be combined. Technically, we can also combine all these options and/or use some options as a fallback.

<blockquote><img src="https://avatars1.githubusercontent.com/u/911127?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/fa

[2018-08-03 08:03] goranjovic commented on #5356
The immediate issue here is that there was an error when app tried to fetch currency conversion rates for tokens and that error was never communicated to the user. Instead, users only knew that something is wrong because the USD amount was zero.

E.g. in this case we might display an error message saying e.g. `Error while getting currency conversion rates. Displayed amounts may not be accurate.` o

[2018-08-03 08:56] lukaszfryc commented on #5356
@goranjovic yet another user has experienced this issue. Would be great to include some fix in the next week release. I think your error message is a good starting point. @obi2020 could you review it? Maybe instead of "Error" we should use a different word like "Oops, .." to make it more user friendly.

[2018-08-03 09:28] lukaszfryc opened #5369 "Upload button in Bounties Network dapp does not trigger upload menu"
### Description

*Type*: Bug

*Summary*: The "Upload" button in Bounties Network Dapp does not work on Android. Note that it works on iOS. Would be great to investigate is it's an issue with our webview or something to be fixed on the dapp side. If the latter, we should contact the Bounties Network devs.

<img src="https://user-images.githubusercontent.com/7532782/43635513-97ed6b56-970f-11e8-9176-

[2018-08-03 09:31] lukaszfryc commented on #4910
@antdanchenko @PombeirP isn't it expected? I'd not want to see notifications from non-contacts.

[2018-08-03 09:40] #4842 closed, assigned to goranjovic

[2018-08-03 11:25] annadanchenko commented on #5353
@infebe thank you for the bug report!
Can you specify exact Status version including number in () and the source used to install it (PlayStore, nightly build link, etc), please?

[2018-08-03 12:06] chadyj commented on #5342
cc @jakubgs Help please :)

[2018-08-03 12:10] infebe commented on #5353
@annadanchenko You are welcome! :) The Status version was 0.9.23 (6238),  installed using the build available in the PlayStore.

[2018-08-03 12:54] lukaszfryc opened #5371 "Fetching messages gray status bar covers some part of clickable UI"
### Description

*Type*: Bug

*Summary*: When the gray status bar appears it covers buttons and makes some of them not clickable. Maybe we could improve how this status bar looks like and where it appears. Note, that the bar can be clickable in some cases like "Tap to reconnect" when you lost connection with your peers.

<img src="https://user-images.githubusercontent.com/7532782/43643697-6cbfbab6

[2018-08-03 13:09] denis-sharypin commented on #3911
@annadanchenko Let's use this layout. For issues with gas prices, pls create a separate issue. It requers a bit different fix
<img width="516" alt="screenshot 2018-08-03 14 08 30" src="https://user-images.githubusercontent.com/6559881/43644488-c52ce0b2-9726-11e8-85ae-af984a1c73fd.png">

[2018-08-03 13:41] EugeOrtiz opened #5372 "Words in messages do not line wrap"
**Story**
As a user, I want to be able to read the messages seamlessly.

**Current behavior**
Words are cut without a specific consideration besides the size of the "bubble" container. That makes a message hard to read:

<img width="368" alt="captura de pantalla 2018-08-03 a la s 10 22 13 a m" src="https://user-images.githubusercontent.com/37297779/43646113-58e703c2-970a-11e8-8793-c3d3b7a8629f.png

[2018-08-03 13:56] voyager opened #5374 "Posting to Peepeth dApp returns "Unprocessable Entity""
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

*Type*: Bug

*Summary*: I manage to authenticate/log in to Peepeth, but when I try posting to IPFS, I get an error: "Unprocessable Entity".

#### Expected behavior
In other dApp browsers when I press Post, the post is sent to IPFS and the compose window is closed automatically.

#### Actual behavior
When Post

[2018-08-03 14:46] denis-sharypin commented on #4679
It requires UXR input before

[2018-08-03 14:52] status-open-bounty commented on #5347
Balance: 0 ETH
Tokens: SNT: 3500.00
Contract address: [0x30110b263e63b1bb9e688b78aabf13f4c92e86ab](https://etherscan.io/address/0x30110b263e63b1bb9e688b78aabf13f4c92e86ab)
Network: Mainnet
Paid to: tbenr
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-08-03 15:21] voyager opened #5375 "Signing a batch-save transaction on Peepeth doesn't go through"
### User Story

After 15 Peepeth posts by default, but even less if the user desires so, peeps need to be saved to the blockchain. After a certain threshold users are allowed to save peeps to the blockchain for free, they just need to sign the transaction.

If the message is dismissed it can be accessed again via the red link reading "Save 15 actions" in the bottom left corner shown below.

![scre

[2018-08-03 16:23] mpandam123 commented on #5347
working

[2018-08-03 21:30] maxhora opened #5378 "ubuntu_process usage and creation should be documented and automated"
- ubuntu_process should be renamed to something more suitable like `nodejs_process`
- creation process of ubuntu_process should be documented (it has dependency on realm node.js native modules)
- binary creation should be automated for Jenkins builds

[2018-08-05 10:54] KatrinBrynka opened #5382 "Profile picture reversed if made with camera"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: ...

#### Expected behavior
If you make picture for your profile using camera - resulting picture should be as showen.

#### Actual behavior
If you make picture for your profile using camera - resulting picture will be reverse horizontal.

### Reproduction

- Open Status
- Log in to Account
- Profile -> Edit -> E

[2018-08-05 11:02] KatrinBrynka opened #5383 "Screen "Help improve Status" never appears on Androind 8"
### Description

*Type*: Bug

*Summary*:  reproduced only on Android 8

#### Expected behavior
After creating new account, screen "Help improve Status by sharing usage patterns" is shown.

#### Actual behavior
Screen "Help improve Status by sharing usage patterns" never appears

### Reproduction

- Create account
- Provide password and confirmation
- Provide name
- Screen "Help improve Status by s

[2018-08-05 11:05] muhammadbilal1999 commented on #4846
working

[2018-08-05 11:29] KatrinBrynka opened #5385 "Account recovery doesn't work right"
### Description

*Type*: Bug

*Summary*: bug needs deeper investigation

#### Expected behavior
[comment]: # Can recover account (with ether in Wallet) with seed phrase and password. The only thing recovered is Wallet. Should have same address/public key. Chats with contacts added in the last 1 day might be shown, also public chats.

#### Actual behavior
[comment]: # Account can be recovered with

[2018-08-05 17:58] antdanchenko commented on #4910
@lukaszfryc I believe that we should follow one simple rule:
Notification appears whenever a message is received and the app is on background or turned off

[2018-08-06 02:19] rachelhamlin opened #5386 "Add Moksha Token to Rinkeby assets"
### User Story

As an ETHIndia attendee, I want to be able to use the Moksha coin for completing Bounties on Bounties Network during ETHIndia.

### Description

*Type*: Feature

*Summary*:

Add Moksha coin to Rinkeby assets.

Contract address: 0x6ba7dc8dd10880ab83041e60c4ede52bb607864b

[Moksha icon](https://drive.google.com/file/d/1tqPWALvZI6c0_1OIvvxo98ICLmCpTSQc/view?usp=sharing)

#### Expected

[2018-08-06 07:14] goranjovic opened #5387 "Tokens with checksummed addresses do not show up in transaction history"
### User Story

As a user I wan't to see token transfers for all my tokens in Transaction history.
As a developer I want to be able to add checksummed addresses in supported token list without issues.

### Description

*Type*: Bug

*Summary*: Checking token contract addresses in the event logs is case sensitive. For a small number of tokens we had checksummed address added in our list of supported

[2018-08-06 10:40] hesterbruikman commented on #4345
@PombeirP could it be this issue was resolved in the meantime through a grey notification bar (aka snackbar)?

Related issues:
https://github.com/status-im/status-react/issues/5371
https://github.com/status-im/design/issues/28

[2018-08-06 10:49] annadanchenko opened #5390 "No messages received if sent in 1:1 chat or public chat on Rinkeby to other recipient on Rinkeby: Could not connect to mailserver"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Added a contact and sent him a message in 1:1 chat, unfortunately message is `Not sent` If tap to reconnect then warning "Could not connect to m

[2018-08-06 11:19] denis-sharypin commented on #5356
Hey all,

Currently, we have 3 UIs to show errors in the app. Let's pick one that fits our need here and don't create a new one.

![errors](https://user-images.githubusercontent.com/6559881/43713814-d141f6dc-9972-11e8-931e-aef01945ae17.jpg)

What do you think could work here better?

[2018-08-06 11:22] errorists commented on #5365
Prototype of the proposed design https://framer.cloud/OFCIZ

Some things I'm uncertain on, Should Dapp chats share their 'avatar' image with the Dapp or rather follow the same rules as public chats with a coloured background and the initial. My thinking is the latter but both could work here.

Also, maybe instead of adding the channel automatically to the Home tab, give users the option to pin/rem

[2018-08-06 11:44] infebe opened #5392 "Sending payment causes TypeError null is not an object when a user has signed while being offline"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Sending a payment through the chat, when the user has logged into his account while being offline, produces the following error:

[code]

This e

[2018-08-06 12:35] infebe opened #5393 "Send Transaction password box does not prompt again the keyboard when inserting a wrong password and hiding the keyboard"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: The password box in the Send transaction screen doesn't show again the keyboard when the user has put a wrong password and hides the keyboard. T

[2018-08-06 12:36] lukaszfryc opened #5394 "Allow to mark all messages as read"
### Description

*Type*: Feature

*Summary*:
Each of unread message has to be seen in order for the unread message counter to disappear. This can be an issue when you have hundreds of unread messages and you do not want to scroll to see them all. That's why we want to introduce unread messages badge with "X" button that marks all messages as read:

<img src="https://user-images.githubusercontent.c

[2018-08-06 12:38] lukaszfryc commented on #5394
This issue has been mentioned couple of times on Instabug.

[2018-08-06 12:41] goranjovic commented on #5393
Hi @infebe, thanks for the report! Luckily, we already fixed this one recently (in #5322). The fix is still only available in the nightly versions, but will be in the release too soon enough.

[2018-08-06 12:41] #5393 closed, assigned to nobody

[2018-08-06 12:41] lukaszfryc commented on #5394
There are couple of solutions to this problem. One which is very simple is to have "Mark all messages as read" button in chat options. The other can be to scroll to the first unread message when a chat is opened and show visual indicator for it similar to what Slack does:

![image](https://user-images.githubusercontent.com/7532782/43716982-4e574376-9986-11e8-8a60-964fb1ee05ed.png)

@errorists I th

[2018-08-06 12:48] lukaszfryc commented on #5356
It will be shown every time the Wallet tab is opened. So, I'm wondering if we should show the alert every time. Maybe it's better to display the snackbar? @denis-sharypin wdyt?

[2018-08-06 12:49] Serhy opened #5395 "null is not an object (evaluating 'e.stopWatching') when changing network/mailserver while in Rinkeby"
*Type*: Bug
*Summary*: `null is not an object (evaluating 'e.stopWatching')` error followed by the app crash occurs when user changing the network to Rinkeby RPC, or switching mailservers under Rinkeby network. We could not reproduce it so far but there are logs exist when issue happens.

#### Expected behavior
No errors when switching to `Mainnet` <-> `Rinkeby` networks. No error when I switch ma

[2018-08-06 13:22] #5386 closed, assigned to goranjovic

[2018-08-06 13:32] churik opened #5398 ""The Bounties Network" DApp couldn't be opened from Android 6.0.0"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: blank screen is shown at attempt to open "The Bounties Network" from Andorid 6.0.0 regardless of network. Couldn't be reproduced on Android 6.0.1 and later.

#### Expected behavior
"The Bounties Network" can be opened

#### Actual behavior
Blank screen
<img width="323" alt="6 0" src="https://user-images.githubuse

[2018-08-06 13:49] pablanopete commented on #4783
@tbenr sorry for the slow response on bounty payout, could you drop your wallet address here so I can send you the bounty amount Out of Band while we wait on a dashboard fix in Status Open Bounty.

If you don't feel comfortable putting it here in the comment could you email a ERC20 compatible wallets address to me? chris.hutchinson@status.im

[2018-08-06 13:49] pablanopete commented on #3604
@kennytilton sorry for the slow response on bounty payout, could you drop your wallet address here so I can send you the bounty amount Out of Band while we wait on a dashboard fix in Status Open Bounty.

If you don't feel comfortable putting it here in the comment could you email a ERC20 compatible wallets address to me? chris.hutchinson@status.im

[2018-08-06 13:49] pablanopete commented on #4558
@tbenr sorry for the slow response on bounty payout, could you drop your wallet address here so I can send you the bounty amount Out of Band while we wait on a dashboard fix in Status Open Bounty.

If you don't feel comfortable putting it here in the comment could you email a ERC20 compatible wallets address to me? chris.hutchinson@status.im

[2018-08-06 13:58] pedropombeiro commented on #4345
@hesterbruikman In my humble opinion, I think that what fits best in this scenario is a progress bar. Are you suggesting that we do a temporary fix to resolve https://github.com/status-im/status-react/issues/5371, or actually change this issue to be about implementing a snackbar?

[2018-08-06 14:09] #5387 closed, assigned to goranjovic

[2018-08-06 14:22] obi2020 commented on #5356
Considering the limited spaces, I want to focus on what's most important for the user to know. Could you weigh in on which of the following is crucial and which can be cut? These are not final copy, just key points of info related to the error

- There was a problem retrieving currency conversion rates
- The error may have cause total value to display incorrectly
- Please refresh your screen for a

[2018-08-06 14:31] denis-sharypin commented on #5356
Great! I personally like `Currency conversion error. Try to refresh to update later`
I would add something like `later` to the end of the phrase since this error on the side of another app and we don't know how soon it would be fixed

[2018-08-06 14:32] denis-sharypin commented on #5356
@goranjovic  do we support 2 (or more )lines of text in the snackbar? Could you kindly check it out?

[2018-08-06 14:36] goranjovic commented on #5356
@denis-sharypin Will do, thanks. That's my favorite too.

Btw, snackbar - cool name

[2018-08-06 14:47] #5066 closed, assigned to antdanchenko

[2018-08-06 14:54] antdanchenko opened #5399 "Improve `Test Run` against a PR in TestRail"
- Name of test run in TestRail should look like: `PR-0000 Run #0`
  - `0000` is a PR number
  - `#0` is a number of runs against specific PR (tests may run against one PR several times)
- Test Run for any PR should include only `Smoke tests - phase 1` section

[2018-08-06 15:04] annadanchenko commented on #5398
can't repro on cloud real device Google Nexus 5 and Huawei P9 with Android 6.0 both. Can switch to Rinkeby and open DApp fine (just a bit waiting is needed ~1 min worse before it opens)

[2018-08-06 15:05] tbenr commented on #4558
Hi @pablanopete, no prob, email sent.

[2018-08-06 15:06] mandrigin commented on #5398
if logs are correct, this is due to usage of "fat arrow" operator (aka arrow function) on the line 10600.
maybe some of the webviews on some of the devices don't support that (since webviews currently are updated separately from the OS).

I would recommend for the dev team on their side to use [babel](https://babeljs.io) or something else to transpile it to a safe browser JS.

[2018-08-06 15:15] lukaszfryc commented on #5369
Logcat when I click the Upload button:

[code]

[2018-08-06 15:21] kennytilton commented on #3604
OK, I have a Coinbase wallet but that is not ERC20 yet. I have a Status
wallet but when I try to send a "receive" transaction it wants me to select
a contact and I can see no way to add contacts.

What do you recommend? MyEtherWallet?

Thx, Ken

On Mon, Aug 6, 2018 at 9:49 AM, Chris Hutchinson <notifications@github.com>
wrote:

--
Kenneth Tilton
http://tiltontec.com/

[2018-08-06 15:39] pablanopete commented on #4783
OOB Payment sent; thanks for being part of status! @tbenr

[2018-08-06 15:39] pablanopete commented on #4558
OOB Payment sent; thanks for being part of status! @tbenr

[2018-08-06 15:41] pablanopete commented on #3604
@kennytilton when you go to "receive" in Status you should be able to copy the address from there.

Once on the "receive" screen click the send in the top right corner and "copy" this will copy your wallet address that you can paste here or send an email to me with!

Thanks.

[2018-08-06 15:50] kennytilton commented on #3604
0x30c71ebccd5cfe19d3da3fd0f02975d87218fbb6
Ok, that works. Thanks for the support. :)

Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Chris Hutchinson <notifications@github.com> Date: 8/6/18  11:41 AM  (GMT-05:00) To: status-im/status-react <status-react@noreply.github.com> Cc: Kenneth Tilton <kentilton@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [sta

[2018-08-06 15:51] pablanopete commented on #4938
This needs to be merged & confirmed, sending OOB for now (other two issues that @tbenr worked on have been OOB handled)

this has been sent but will be issued x2 once the SOB dashboard is fixed.

[2018-08-06 15:54] pablanopete commented on #3604
Sent OOB of SOB for now; once the SOB dashboard is fixed and confirmed we will payout the original bounty as well. Thank you for helping with Status and hope to see more of your contributions! @kennytilton

https://etherscan.io/tx/0x4003c1ae1bfba99fb03354fe12b6de91c260d12a44ff88d90b7d0415fb415002

<blockquote><img src="/images/favicon2.ico" width="48" align="right"><div><strong><a href="https://et

[2018-08-06 15:56] hesterbruikman commented on #4345
I agree that a snackbar might not be the best fit here. As the snackbar was implemented I was curious if it had been in response to this issue (whether it's the best fit or not), or if no action had been taken on this issue yet.

I would say there's a temp fix opportunity to improve the snackbar and a long term fix opportunity to consider alternatives like progress bar, or pattern of notification.

[2018-08-06 15:57] kennytilton commented on #3604
Brilliant. I feel the future.

Cheers, Ken

On Mon, Aug 6, 2018 at 11:54 AM, Chris Hutchinson <notifications@github.com>
wrote:

--
Kenneth Tilton
http://tiltontec.com/

[2018-08-06 16:17] antdanchenko opened #5400 "Make e2e test failures more readable"
- remove locator from failure text
- always check for an `error popup` presence if any element is not found, add alert text to failure if the popup is shown, e.g `an error popup is shown with text 'transaction underpriced'`
- remove exception name from a failure message
- add readable `self.name` attribute for elements with multiple texts and use it in failure message

[2018-08-06 16:18] antdanchenko opened #5401 "Place the error and last screenshot under "Device #" in GitHub report"

[2018-08-06 16:19] antdanchenko opened #5402 "`Warning` status If a failure in an e2e test matches the failure in the same test from nightly build"

[2018-08-06 16:19] antdanchenko opened #5403 "Merge for a PR should be blocked if there are no e2e test results or an e2e test failed"

[2018-08-06 16:19] antdanchenko opened #5404 "Add button `unblock merge` for a `Test Run` against a PR in TestRail"
requires #5403

[2018-08-06 19:45] maxhora opened #5405 "Replace cmake build commands with `react-native build-desktop` command in Jenkinsfile"
Currently, Jenkisfile contains cmake commands to build native app.
These commands can be replaced with single `react-native build-desktop` command.

Note: Before doing above `react-native build-desktop` command should be fixed to grab the list of native react-native modules from the package.json file and include them into the native app build process.

[2018-08-06 19:50] maxhora opened #5406 "Unify Desktop build process"
Inspired by @jakubgs

To provide identical application build experience makes sense to create single Makefile to build app for Linux and/or MacOS platforms.

AppImage or .dmg build should happen after single command run, like `make desktop-linux`

It should work with Jenkins as well

[2018-08-07 07:10] pedropombeiro commented on #4345
Thanks @hesterbruikman :-) I don't think anything was done regarding this issue (and I wasn't aware that we had changed to a snackbar), but the progress bar solution seems fairly nonintrusive and easy to implement, so hopefully we can move in that direction soon.

[2018-08-07 07:11] #4515 closed, assigned to nobody

[2018-08-07 07:14] mandrigin commented on #5398
@rachelhamlin I think it should be closed because that is not an issue on our side and there is effectively nothing we can do to fix it.

[2018-08-07 07:42] errorists commented on #5394
@lukaszfryc are you aware of this design [zpl.io/aN0ZKWQ](https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5b1a79ae98f9b848590fb930) ? Can't find a GH issue for it, but it follows the Slack route of marking messages as read and is ready for implementation.

[2018-08-07 07:50] chadyj commented on #5383
Hey @KatrinBrynka, the usage sharing feature has been removed in the last release, so the opt-in screen is no longer shown.

[2018-08-07 07:50] #5383 closed, assigned to nobody

[2018-08-07 08:25] lukaszfryc commented on #5394
@errorists this design looks great and I think it has good UX. We should definitely make tappable area for "X" big enough to easily click it. I believe it will be used often.

[2018-08-07 09:07] Graeme-Code commented on #5365
In practice would the owner of the Dapp be responsible for linking its status public group to its website?

If its responsibility of website I'm making the assumption they would have it in the same format as their other communities. Linked is a video of deep linking from FOAM website to its telegram community.
https://drive.google.com/open?id=1ZN-qDDNI3h9I2YghhaRyCh4ncfC9_aUy

Could we automatical

[2018-08-07 09:09] chadyj commented on #5365
No. Every dapp gets chat for free.

Exactly!

[2018-08-07 09:15] errorists commented on #5367
@chadyj What about this flow we received in a bounty https://github.com/status-im/design/issues/2 ? It offers the advantage of connecting users without having to revisit the deep link after downloading and onboarding. However, it would require a backend service to work

[2018-08-07 09:21] Graeme-Code commented on #5365
That's really powerful :)

In a way its a method to create a verified "public chat". For a Dapp there will only ever be one URL and therefore one "public chat" linked to that URL.

I don't have any major comments on the UI, I think putting it in the browser nav bar makes most amount of sense given users are likly to find it.

[2018-08-07 09:22] errorists commented on #5394
@lukaszfryc I'll be revisiting those snackbars sometime in the near future as they seem to cause some issues, I'll see what can be done about the tappable area to reach the sensible minimum of 44x44pts

[2018-08-07 09:33] #5398 closed, assigned to nobody

[2018-08-07 09:41] chadyj commented on #5367
Would be great to first explore how to do this with depending on a central server.

[2018-08-07 09:48] chadyj commented on #4932
Had a thought that the "by continuing" is a bit generic and doesn't help the user understand the nature of the privacy policy.

What do you think about something like "Review our privacy policy to understand how your data is used and shared with third parties."

@obi2020 Thoughts?

[2018-08-07 09:50] errorists commented on #5367
Yeah agree. @obi2020 could you suggest an appropriate copy here for inviting users through a shared deep link?

[2018-08-07 10:11] lukaszfryc commented on #5390
All works fine since we switched to the same mailservers we use for Mainnet (https://github.com/status-im/status-react/commit/d088fa2568c043257e181592ee1e311674a7fcb4)

[2018-08-07 10:11] #5390 closed, assigned to nobody

[2018-08-07 10:41] lukaszfryc commented on #5353
I just replicated it on 0.9.25 version when recovering an account. I installed the app, created new account and use it for ~1 hour, then I recovered my old account and got this error. I had to kill the app and log in again to make it work.

[2018-08-07 10:49] lukaszfryc opened #5410 "Empty gas limit when creating bounties in Bounties Network Dapp on Rinkeby"
### Description

*Type*: Bug

*Summary*: User is asked couple of times to sign transaction when creating a bounty in Bounties Network. First time the sign transaction screen appears, the gas limit, price, etc. are provided but when the transaction is signed the user is asked again to sign in. This time, the gas limit is empty. When gas limit is provied the user is asked yet another time to sign th

[2018-08-07 12:43] #3978 closed, assigned to nobody

[2018-08-07 12:43] #4044 closed, assigned to hesterbruikman

[2018-08-07 12:43] #3004 closed, assigned to denis-sharypin

[2018-08-07 13:45] #5088 closed, assigned to obi2020

[2018-08-07 14:06] pedropombeiro commented on #4910
I do see @lukaszfryc's point that this could be abused to spam/troll people. Unless there's a clear need/use case for this behaviour, I'd say the user should not get notifications until he's accepted the contact.

[2018-08-07 16:35] EugeOrtiz opened #5416 "Text breaks when manually resizing the window"
**Issue**
When resizing the window manually, messages and titles do not adapt to the current window size. E.g. when I make the window smaller and then make it bigger again (manually).

<img width="1099" alt="captura de pantalla 2018-08-07 a la s 1 33 53 p m" src="https://user-images.githubusercontent.com/37297779/43789751-280f4ca6-9a47-11e8-9053-edeaf86275d5.png">

<img width="1097" alt="captura d

[2018-08-07 18:30] PhilipandWu opened #5418 "If Dapp sign in message is too long it cuts off the message + does not display properly"
Type: Bug

### Description
Summary: If the "Message" section is too long  in the "sign" screen as seen for the Airswap dapp the text is somewhat cutoff visually and displays oddly(refer to screenshot 1).
If you scroll super long messages such a the principles it displays oddly (see screen shot 2).
 This does not occur for dapps with shorter messages like Cryptokitties (refer to screenshot 3).

*Sc

[2018-08-07 23:14] Wmaxson commented on #3828
I just got the error too. Does it fix with time?

Something went wrong, please contact the application owner: {"code"=>"ITC.apps.tf.max.app.testers", "description"=>"Failed to create tester."}

[2018-08-08 02:21] obi2020 commented on #4932
I think "by continuing" is meant to communicate that whether you read it or not, creating the account means you've agreed. Do we want to require users to open the Privacy Policy before they continue. A lot of apps do that, though I don't think it necessarily increases reading rates

How about

It's longer, which isn't ideal considering there's already soooo much text on this page :-) To that end,

[2018-08-08 02:24] obi2020 commented on #4932
@errorists Sorry I missed your note. Where will this surface during log out?

[2018-08-08 06:39] errorists commented on #4932
@obi2020 +1 I like the edit with "…Read it to understand how your data is used." We have a second entry point where the policy is placed, once you log out and choose to sign in with another account.

[2018-08-08 07:15] #5307 closed, assigned to goranjovic

[2018-08-08 07:18] jeluard opened #5420 "Create doc detailing steps to test dev DApps"
### User Story

As a developer, I want to test my local dev DApp in status

### Description

*Type*: Feature

Detail necessary steps to test a dev DApps in status (including testnet access)

[2018-08-08 08:00] goranjovic commented on #5356
@denis-sharypin Only one line

[2018-08-08 08:09] denis-sharypin commented on #5356
@goranjovic. Can we make the height of the bar expandable to required text amount?

[2018-08-08 08:16] maxhora opened #5421 "Sign Jenkins build artifacts to avoid security warnings"
**Issue**
* macos security warnings are shown on start of application.
* Keychain asks to re-enter password on every binary update.

**Type:** Bug.

**Solution**: Above might be solved with signing of .dmg and .app according to https://developer.apple.com/library/archive/technotes/tn2206/_index.html#//apple_ref/doc/uid/DTS40007919-CH1-TNTAG17

Makes sense to sign AppImage for Linux as well. Image

[2018-08-08 08:46] jpbowen commented on #5043
To try and help move this conversation along, what are some of the actions we expect people to be able to do on long press for a chat (and we have to consider DApps)? Some things that come to mind:
- Delete
- Mark as unread
- Pin (particularly helpful for group chat?)
- Ignore / Block
- Mute / turn notifications off
- ...?

All of which are useful but have not heard that any of these things are pa

[2018-08-08 08:56] Graeme-Code opened #5422 "Public Chat QR codes scannable via status QR code scanner"
### User Story

As a user, I want to be directed to a public chat when scanning a QR code representing the public chat's universal link so that I may participate in the public chat.

### Description

*Type*: Feature

*Summary*:

Currently, the status QR code scanner returns an "unable to read this code" when scanning a QR code derived from a public chat universal link. https://wiki.status.im/Unive

[2018-08-08 09:24] errorists commented on #3734
Complete design: [Zeplin](zpl.io/V1eE37B)

[2018-08-08 09:25] goranjovic commented on #5356
@denis-sharypin No, it uses absolute positioning.

[2018-08-08 09:30] maxhora opened #5423 "Refine macos app bundle installation experience"
**Issue**

It was reported that just replacement of app bundle in Applications directory is not working as expected (old app should be removed to trash manually in advance).
Installation flow is not obvious for users as well.

**Type:** Bug.

**Solution**: Background image for mounted .dmg or at least symlink to Applications folder will enhance app installation user experience. Replacement of avai

[2018-08-08 11:12] maxhora opened #5424 "Avoid code duplication across multiple Jenkinsfiles"
### User Story

As developer, I want to have single place with Jenkins script code reused by multiple Jenkinsfiles ( we have currently separate Jenkinsiles for PRs and nightly builds )

### Description

*Type*: <Feature>

*Summary*:

Possibility to reuse groovy Jenkins script code across multiple Jenkinsfiles should be investigated.

note: this might be applicable for Mobile jenkins builds as well

[2018-08-08 11:28] vkjr commented on #5372
Will be fixed here - https://github.com/status-im/react-native-desktop/pull/311

[2018-08-08 11:39] maxhora opened #5425 "Implement app crash or user feedback reporting flow"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As user, I want to notify developers about issues with app or provide my feedback, request new features.

### Description

Should be a way to report about happened crash or allow users to provide feedback.

*Type*: <Feature>

### Details

Instabug might be used for that purposes
Or https://hockeyapp.net as an

[2018-08-08 12:35] denis-sharypin commented on #5356
Desired behaivor
![image](https://user-images.githubusercontent.com/6559881/43837292-f02521fc-9b0f-11e8-91e5-2cbd6a8f6660.png)

[2018-08-08 13:03] pedropombeiro commented on #5254
This is not an easy problem to address, considering how much work goes into making a solution that is reliable and at the same time, battery and network topology-friendly. This is one of the reasons why the [Push Notifications v2 swarm](https://github.com/status-im/ideas/tree/master/ideas/086-push-notif-v2) still does not address it directly, merely taking the opportunity to allow for future exten

[2018-08-08 13:27] churik commented on #5416
duplicate of https://github.com/status-im/status-react/issues/5151

[2018-08-08 13:27] #5416 closed, assigned to nobody

[2018-08-08 13:49] #5399 closed, assigned to yevh-berdnyk

[2018-08-08 14:00] churik commented on #5113
@vkjr do we have issue for this in RN repo?

[2018-08-08 14:02] yevh-berdnyk opened #5426 "App crashes when fulfilling already closed bounty in The Bounties Network DApp"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: App crashed in attempt to fulfill a bounty which was already killed by it's owner

#### Expected behavior
Transaction is failed

#### Actual behavior
The app crashed

### Reproduction
[comm

[2018-08-08 14:27] vkjr commented on #5113
@churik, I don't think so, probably no one investigated this issue yet.

[2018-08-08 14:39] churik commented on #5113
got it, thanks @vkjr!
Look please when you have a time.
Thanks!
At least I would prefer to have issue for it in RN repo to track the progress.

[2018-08-08 15:15] vkjr commented on #4860
@EugeOrtiz, in status-react we use 4 types of fonts: light, regular, medium and monospace.

Apple provides downloadable versions of San Francisco font and I found there light, regular and medium versions (no monospace).
Also among fonts installed on my computer I see no monospace or light version of Arial font.

Could you please point me, where can I download lacking fonts?
Thanks.

[2018-08-08 15:19] vkjr commented on #4860
Update: I checked the code again and it looks like "light" font referenced but not used anywhere. And "monospace" font used only in a wallet which is not in desktop yet.
So maybe we can go with existing fonts for now and get back when we need more.

[2018-08-08 15:38] Serhy opened #5429 "Direct links to images displays characters instead appropriate image in webview [Android]"
***Type***: Bug

***Summary***: Opening any image by the direct link in Android webview does not decode it and displays the chars instead actual image.
Similar to the issue with opening PDF filkes #4207

#### Expected behavior
Png, jpg, jpeg images can be viewed in Android webview byt direct link https://cdn.dribbble.com/users/45534/screenshots/3142450/logo_dribbble.png
https://thebitcoinpub-91d3.

[2018-08-08 16:36] goranjovic commented on #5356
@denis-sharypin @obi2020

Working version screenshot attached.
We're not sure yet why users who get this error can't access this api, but from the reports we've received so far the problem persists for quite a while, so we need to communicate that somehow.

![screenshot-2018-08-08_18 41 48 261](https://user-images.githubusercontent.com/711764/43851363-c38cfb8a-9b3a-11e8-8c76-45cf4070dc1f.png)

[2018-08-08 16:52] denis-sharypin commented on #5356
looks good to me!

[2018-08-08 18:04] obi2020 commented on #5356
My only qualm is with "later" - it's too vague. I know that we don't know when the issue will resolve, but can we give some guide:

"Currency conversion error. Wait # minutes, then refresh to update."

[2018-08-08 18:20] dmitryn commented on #4690
I'm changing "Add to contacts" badge and have question about "close" button behavior. Does closing hides the badge forever and it won't ask to add to contacts anymore? Or is it temporary and badge will re-appear next time user enters the chat?

[2018-08-08 18:25] dmitryn commented on #4690
@EugeOrtiz we doesn't limit reconnection attempts as far as i can see. Every new attempt happens with 15 seconds delay.

/cc @yenda to confirm.

[2018-08-08 20:53] probonopd opened #5432 "Document download links"
https://github.com/status-im/status-react/blob/981eb135aabaf2f5fa2232c56f1a03fde404fd14/ci/Jenkinsfile.nightly_desktop#L295

Please provide the download links.

That's a pity. Please just provide the links to the binaries without a need to register or sign up or such, so that we can include them in the AppImageHub directory of available AppImages.

[2018-08-09 05:10] chadyj commented on #5342
Done! https://status-im.github.io/nightly/

<blockquote><div><strong><a href="https://status-im.github.io/nightly/">Status.im Nightly Builds</a></strong></div></blockquote>

[2018-08-09 05:10] #5342 closed, assigned to jakubgs

[2018-08-09 05:12] chadyj commented on #5423
Not sure if its related, but I also see this problem `We detected a problem with the encryption key` when upgrading.

I hit apply and then get a blank screen.

I see this after deleting the old version of status, and then dragging a new version to Applications.

<img width="1021" alt="screen shot 2018-08-09 at 7 12 04 am" src="https://user-images.githubusercontent.com/116099/43879284-973465fa-9ba3

[2018-08-09 05:21] chadyj commented on #4860
👍 Sounds good

[2018-08-09 06:57] jeluard commented on #5369
Fixed in an upstream dependency.

[2018-08-09 06:57] #5369 closed, assigned to nobody

[2018-08-09 07:22] chadyj commented on #5423
My log file.
[code]

[2018-08-09 07:23] lukaszfryc commented on #3734
@errorists it looks great. Btw, should "NEW" disappear once you open the chat but do not add the contact? I imagine that someone may not want to add another person as a contact immediately. He may first have a conversation and only after that add the contact to reveal his real name and avatar.

[2018-08-09 08:16] lukaszfryc opened #5433 "Disable TF in nightlies by default but allow for opt-in"
### Description

*Type*: Feature

*Summary*: There are several reasons why TestFairy should be by default disabled in nightlies. Some users do not read dialogs (we explain TestFairy in a dialog), others may upgrade from release to nightly and in this case will not see the dialog, etc. So, let's disable TF by default in nightlies and allow to enable it under Development mode in Profile.

#### Expec

[2018-08-09 08:17] lukaszfryc commented on #5433
We may consider having an internal build (another step in the Jenkins pipeline) with TF on by default for test team purposes.

[2018-08-09 08:52] errorists commented on #3734
@lukaszfryc Good point, no it should not disappear until you add him as contact and reveal identity.

[2018-08-09 08:55] churik commented on #5172
Done in #5308

[2018-08-09 08:55] #5172 closed, assigned to vitvly

[2018-08-09 08:56] churik commented on #5147
Done in #4636

[2018-08-09 08:56] #5147 closed, assigned to vitvly

[2018-08-09 09:26] lukaszfryc commented on #3734
@errorists I'd think that it will disappear once I open it to check it. Please note that I will know his real name and avatar because the user sent me the contact request. I may not want to add him to my contact list but I don't want to see this "NEW" label that should encourage me to click it.

[2018-08-09 10:18] goranjovic commented on #5356
@obi2020 The problem is that we don't really have any estimate when it would work again. Or what's the reason why it doesn't work. E.g. if cryptocompare is say blocked in some countries, then it won't work at all there, no matter how long you wait.

And to be fair, in that case "later" is just as misleading :/

[2018-08-09 10:27] churik commented on #5372
Fixed in 09/08/2018 nightly

[2018-08-09 10:27] #5372 closed, assigned to vkjr

[2018-08-09 10:33] denis-sharypin commented on #5310
My proposal would be:

1. Start checking words using [our list](https://github.com/status-im/status-go/blob/52cdcf8f0f1127f5ee694f39086a9e4df54174e6/extkeys/mnemonic.go#L97) right after this input is not active and show this warning if at least one word is wrong.
<img width="491" alt="screenshot 2018-08-09 10 34 06" src="https://user-images.githubusercontent.com/6559881/43892894-2e0160b6-9bc5-11e8

[2018-08-09 10:36] vkjr commented on #5103
Will take this while @rcullito is unavailable.

[2018-08-09 10:44] churik commented on #4435
Design should be implemented in #5314

[2018-08-09 10:44] #4435 closed, assigned to vitvly

[2018-08-09 10:47] churik commented on #5425
@MaxRis in case of crash you still need manually kill process `ubuntu-server`
Should we fix it separately or when implementing fix for this issue, WDYT?
Or it is something related to #5378?

[2018-08-09 10:50] maxhora commented on #5425
@churik `ubuntu_server` process issue, definitely, should be addressed with higher priority
And it seems it's not directly related to this one

[2018-08-09 10:52] churik commented on #5425
OK, will add, thanks!

[2018-08-09 11:33] errorists commented on #3734
@lukaszfryc Yeah went through the flow in the app, it makes sense 👍 To recap, it should disappear once you view the chat with that contact. Also, on a side note, in our [designs](https://zpl.io/V1eE37B) the 'Add to contacts' snackbar has a dismiss button that's missing from the build, maybe you're aware if we have an issue for that?

[2018-08-09 12:18] lukaszfryc opened #5439 "Passwords should be invisible to the accessibility services"
### Description

*Type*: Feature

*Summary*: Passwords should be ignored for the accessibility service so that malicious apps that are using the accessibility service could not capture all user inputs.

Android implementation: https://github.com/walleth/walleth/commit/0216a7ce169be590450bffeaf19e6335d48eec3c

Related issues:
- https://github.com/walleth/walleth/issues/268
- https://github.com/bitc

[2018-08-09 12:24] lukaszfryc opened #5440 "User should be able to dismiss "Add to contact" snackbar"
### Description

*Type*: Feature

*Summary*: User should be able to dismiss "Add to contact" bar in 1-1 chat. He/she can always open the user profile and add it to contacts from there.

### Reproduction

- Receive 1-1 message from unknown contact
- Dismiss the "Add to contact" snackbar

### Additional Information
* Operating System: Android, iOS

[2018-08-09 12:25] lukaszfryc commented on #5440
@errorists could you link the design here?

[2018-08-09 12:25] lukaszfryc commented on #3734
@errorists cool. Yes, there's should be dismiss button. Good catch! I created https://github.com/status-im/status-react/issues/5440

[2018-08-09 12:30] errorists commented on #5440
Design over at [Zeplin](zpl.io/aN0ZKWQ)

[2018-08-09 12:38] denis-sharypin commented on #5356
@goranjovic  so we can't track either it's a cryptocompare is down or blocked?

[2018-08-09 12:41] goranjovic commented on #5356
@denis-sharypin we can get some idea from the logs, if we get them, but generally no

[2018-08-09 12:45] #4823 closed, assigned to mandrigin

[2018-08-09 12:47] vkjr commented on #4249
Will take this while @rcullito is unavailable

[2018-08-09 12:57] annadanchenko commented on #5385
@KatrinBrynka thank you for the bug report!
1. it looks like the build under testing is very old 0.9.21 while latest one is 0.9.24, would you mind trying recent build, please?
2. Can you make screenshot of the Wallet address for the account before recovery and after, please? in the attached Wallet screen after recovery I see only onboarding screen with Let's Get Set up button (that is expected and

[2018-08-09 13:04] pedropombeiro commented on #4969
This might be a duplicate of https://github.com/status-im/status-react/issues/4345

[2018-08-09 13:27] annadanchenko commented on #5353
@infebe can you reproduce the bug again and attach the logcat log, please? It looks like not on all devices it can be constantly reproduced, so log from your device would be really helpful.

[2018-08-09 13:38] jeluard opened #5443 "Document DApps remote debugging"
### User Story

As a developer, I want to have some simple docs detailing how DApps can be remotely debugged (android and ios)

[2018-08-09 13:54] pedropombeiro commented on #4323
Closing as a dupe of https://github.com/status-im/status-react/issues/3451

[2018-08-09 13:54] #4323 closed, assigned to nobody

[2018-08-09 14:06] pedropombeiro commented on #5302
Definitely a security risk in terms of phishing when people can send you links with lookalike Unicode characters.

[2018-08-09 14:22] churik opened #5444 "App doesn't start after crash"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to restart app after crash and continue work.

### Description

*Type*: Bug

*Summary*: when application is crashing, and you try to restart it (for crash example with logs see https://github.com/status-im/status-react/issues/5012) when you open app nothing happens. To continue work you shoul

[2018-08-09 14:26] chadyj commented on #4747
Relevant: Adding ENS to chat
https://github.com/status-im/status-react/pull/5407

[2018-08-09 15:34] dmitryn commented on #5440
This seems as duplicate or partial scope of https://github.com/status-im/status-react/issues/4690 which i'm currently working on.

As for dismiss action, in my current implementation it just closes "add  to contacts" bar, but it will be re-opened next time you visit that 1-1 chat.

[2018-08-09 15:34] churik opened #5445 "Apply design for popups"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see popups according to new design.

### Description

*Type*: Feature

*Summary*: now all confirmation dialogs looks like:
![image](https://user-images.githubusercontent.com/4557972/43909044-1d47deb6-9c02-11e8-9a58-628855b8d359.png)
Expected, that design will be applied for all popups (e.g

[2018-08-09 15:37] dmitryn commented on #5440
I think it makes sense to continue work in scope of current issue because it is more granular than #4690 and it will be easier to review and test this one.

[2018-08-09 15:43] dmitryn commented on #5440
@lukaszfryc @errorists do you guys think that dismiss should hide the "add to contacts" badge forever? In that case, it doesn't just close the bar, but also implicitly work like "ignore" action. Instead of `X` icon it might be explicit "Dismiss" or "Ignore" wording.

[2018-08-10 06:19] errorists commented on #4690
my 0.02. With the chat scrolling behaviour, maintaining previous scroll position on re-entry and inviting users to either manually go through unread messages in their chronological order or ignore past them and scroll to the latest one, like @chadyj described, is the preferred method. I can't really back it up with any hard scientific data, rather it's just gut feeling and extrapolation on experie

[2018-08-10 08:00] lukaszfryc commented on #5440
@dmitryn I think if someone clicked it once it does not want to click it again 5 min later when he opens the chat again. So, I'd say `X` icon should hide it forever. You can always add a user to the contacts from the chat options -> view profile.

[2018-08-10 08:10] denis-sharypin commented on #5246
@goranjovic  Let's remove math from this field (gas limit*gas price)

[2018-08-10 08:11] Serhy commented on #5429
Fixed with #5436

[2018-08-10 08:11] #5429 closed, assigned to nobody

[2018-08-10 08:32] pedropombeiro commented on #4690
To be honest, I don't have a strong preference as to where to position the view when jumping to an existing chat, as long as we have easy ways to jump between positions (even Slack doesn't seem to take a position on this and makes it a preference), but I agree starting on the last unread is a good default. For that to be usable though, we should fix https://github.com/status-im/status-react/issues

[2018-08-10 08:41] lukaszfryc commented on #4690
I think we should take users back to where they were before with an option to jump to newest message as Slack does it. Here is my reasoning. If we want Status to be used not only as "instant messenger" (FB Messenger always jums to the latest message) but also as a professional tool to support communities it's way better to save the last scroll position (Slack's approach).

I 100% agree. I think if

[2018-08-10 09:12] dmitryn commented on #4690
I would prefer to return to the first unread message (to continue reading where i left) with the option to jump down to the newest message.

[2018-08-10 09:21] lukaszfryc opened #5446 "Do not reload browser every time dapp is opened"
### Description

*Type*: Bug

*Summary*: Every time a dapp or webpage is opened, it reloads. This is both unnecessary in many cases and time consuming. Maybe we could cache content of dapp or webpage and show it immediately when user clicks on it in Home tab. This way links in Home could act like tabs in Chrome.

<img src="https://user-images.githubusercontent.com/7532782/43949905-2c202406-9c8f-11

[2018-08-10 09:21] lukaszfryc commented on #5446
@flexsurfer what do you think of it?

[2018-08-10 09:30] churik opened #5447 "No scroll bar is shown when you browse chat history"
### User Story

As a user, I want to see scroll bar to navigate through chat history easily.

### Description
*Type*: Bug
*Summary*: the scroll bar is missing in public and 1-1 chats

#### Expected behavior
scroll bar is presented, so I can pull it and easily navigate through chat history

#### Actual behavior
no scroll bar is presented.
NOTE: on both IOS and Android mobile apps scroll bar is pres

[2018-08-10 09:31] lukaszfryc opened #5448 "Use radio buttons for network selection in Add Network settings"
### Description

*Type*: Bug

*Summary*:

@noman-land wrote:

These network selectors are checkboxes so they look like you should be able to multiselect. Since you can't multiselect here perhaps it should be radio buttons or a dropdown or something instead to avoid confusion?

<img src="https://user-images.githubusercontent.com/7532782/43950339-5587729e-9c90-11e8-9122-9bb7cdc76024.png" width="200"

[2018-08-10 09:31] lukaszfryc commented on #5448
@andmironov do we have radio buttons in our UI components library?

[2018-08-10 09:39] chadyj commented on #4261
Opt-in screen has been removed from Status, so we can close this.

[2018-08-10 09:39] #4261 closed, assigned to nobody

[2018-08-10 09:52] chadyj commented on #5302
@PombeirP Unicode links were disabled https://github.com/status-im/status-react/commit/db3706493724e0517aafa1a21ab0e386e08c3b6c and its proposed to bring it back to work with our international channel names (eg Chinese names) https://github.com/status-im/status-react/issues/5074

[2018-08-10 09:57] Serhy opened #5449 "Activity loading indicator persist staying on Android webview when navigating between screens in Dapps"
***Type***: Bug

***Summary***: When contact navigates in Dapps between different views, - often webview stuck with continuously loading indicator (with a greyed out background) even it's visible that page was updated. It blocks further Dapp usage until webview refresh or re-navigate to Dapp again from Home screen.
Often occurs with usual navigation in CryptoKitties, BountyNetwork Dapps. See steps

[2018-08-10 10:38] churik opened #5451 "Text in public chat name starts flickering when quickly typed"
### Description

*Type*: Bug
*Summary*: when you quickly type name in "Join Public Chat"  name starts flickering without any user interaction; CPU usage jumps to ~70-90%.

#### Expected behavior
name is shown

#### Actual behavior
name starts flickering without any user interaction; CPU usage jumps to ~70-90%.

### Reproduction

- Open Status
- Click on +
- Set focus to field below "Join public ch

[2018-08-10 10:49] #3352 closed, assigned to dmitryn

[2018-08-10 10:49] #4327 closed, assigned to nobody

[2018-08-10 11:44] pedropombeiro commented on #5302
Gotcha, so this problem is only about 7-bit ASCII codes, thought this extended to Unicode too.

[2018-08-10 11:59] jpbowen commented on #4690
Tend to agree with others here re: chat scroll behavior and that we should maintain position from previous session / state. Unfortunately, we don't have any of our own UXR data (qual or quant) but possibly could be covered in upcoming Chat UXR sessions cc' @hesterbruikman? Would also mention that context is key here in that as a user I prefer to scroll up to skim messages in a public channel to "g

[2018-08-10 12:03] ghost commented on #5254
@PombeirP : I'm so, so glad to see you already have a bit of a plan for this.

So as mentioned, Signal uses this persistent notification method and it works ok in the context of Android without Google services. But most importantly Signal has some major issues when used without those Google services, issues where a fix exist but the lead maintainer is ignoring those for an unknown reason [1]. Poin

[2018-08-10 12:25] churik opened #5452 "Add "Frequently added questions" to Menu"
### Description
*Type*: Feature

*Summary*: to help users get the better experience we need to add FAQ  to Profile. In mobile it is presented in Profile > Help Center > Frequently asked questions.

<img width="163" alt="img_df4d840da4b3-1 jpeg 2018-08-10 15-20-06" src="https://user-images.githubusercontent.com/4557972/43957565-ee70cb84-9cb0-11e8-841c-fd8440dbe4e9.png">
If you tap on it > WIKI page

[2018-08-10 12:26] churik commented on #5452
@EugeOrtiz take a look when you have a time.

[2018-08-10 13:13] errorists commented on #4690
@jpbowen Yeah that's what I had in mind, that little empty badge : just enough to get attention :) Having said that, the utility of having those numbers inside could increase once we implement direct replies and mentions, then both could be used to count the total shown in the indicator, leaving anything else out for public chats, again similar to Slack. Also, I'm not saying removing those numbers

[2018-08-10 13:34] churik commented on #4229
Fixed in nightly 10/08/2018

[2018-08-10 13:34] #4229 closed, assigned to vitvly

[2018-08-10 13:38] churik commented on #4730
Fixed since rebased to `develop` branch

[2018-08-10 13:38] #4730 closed, assigned to nobody

[2018-08-10 13:55] Graeme-Code commented on #5422
QR codes are awesome, they are offline portal through which mobile devices access the online world.

In the context of status they are incredibly important because they provide a quick and easy way to connect with an other status user and potentially public chat, Dapp and perhaps in the near future private chats.

Connections are important because the more connections a user has in a chat app the

[2018-08-10 14:24] chadyj commented on #5103
I wouldn't say this is urgent. Great to wrap it up quickly and move on :)

[2018-08-10 14:45] ghost commented on #5254
@PombeirP Do you need a hand with this? I'd be happy to fund a Gitcoin issue on this matter that I consider particularly important.

[2018-08-10 14:47] denis-sharypin commented on #5260
Hey just to catch up on the current phase:
<img width="1018" alt="slice" src="https://user-images.githubusercontent.com/6559881/43964352-952535e8-9cb4-11e8-80b8-0b7c68cc5059.png">

`Manage permissions` opens a screen in the profile

<img width="810" alt="screenshot 2018-08-10 18 14 36" src="https://user-images.githubusercontent.com/6559881/43971513-4900adae-9cc9-11e8-8bdb-b22e8758d46b.png">

[2018-08-10 14:48] Graeme-Code commented on #4690
My 2 cents, There are two chat examples to draw off, WeChat and Telegram. Telegram takes the user to where they left off with an option to quickly go down to the most recent message, this is as per @chadyj suggestion.
![screenshot_20180809-145110_telegram](https://user-images.githubusercontent.com/7915365/43964704-57fce21e-9cb5-11e8-9163-5b7dd54b4b85.jpg)

WeChat takes the user to where the conver

[2018-08-10 15:00] EugeOrtiz commented on #5452
Will do. I think is better to have the actual text outside the app (mobile has it on a wiki) and link it from within the app. That way we can have more flexibility to update any content without having to generate a new version.

[2018-08-10 16:18] corpetty commented on #4031
This has gone stale, let's try and get this resolved.

@sriharigr here is the entire dependency tree:
![hoek-dependency-tree](https://user-images.githubusercontent.com/2460145/43969260-82998842-9c97-11e8-8f24-3a60518f7a57.png)

[2018-08-10 18:24] EugeOrtiz opened #5456 "Edit profile picture"
Update: Editing username is now working. Leaving this open until editing a picture works.

**Story**
As a user, I want to be able to edit my picture and username so I can maintain my profile updated both on mobile and desktop.

**Current behavior**
The user  can't edit username and/or image:
<img width="338" alt="captura de pantalla 2018-08-10 a la s 3 29 10 p m" src="https://user-images.githubuse

[2018-08-10 18:42] EugeOrtiz commented on #4860
Just to clarify, we don't use light or monospace (yet) on desktop. @vkjr is it possible then to add SF on OSX and Arial on Linux then?

[2018-08-10 18:50] flexsurfer commented on #5446
@lukaszfryc https://github.com/status-im/status-react/pull/5335

[2018-08-10 18:59] EugeOrtiz opened #5457 "Messages from latest chat are not shown when switching from "Profile" tab to "Home""
**Issue**
When the user switches from "Home" tab to "Profile" and then back to "Home", messages from latest chat are not shown on the right panel, even when the chat is highlighted on the left panel.

It feels like something is forever loading or missing:
![ezgif-1-45c5a03c91](https://user-images.githubusercontent.com/37297779/43976353-a7d47aee-9cb6-11e8-9759-70ea66daad4b.gif)

**Current behavior*

[2018-08-10 19:16] vkjr commented on #4860
@EugeOrtiz, yes, PR already created - https://github.com/status-im/status-react/pull/5435

[2018-08-10 19:40] EugeOrtiz commented on #5423
Can we tackle as part of this the fact that the app asks for mac password 2 or 3 times during onboarding?  :)

I also foresee a "Check for updates" feature in a near future.

[2018-08-11 03:20] yenda opened #5458 "Implement abi spec"
Problem

Currently we use `call-params` function to prepare the parameters for a contract call but this function is very naive and doesn't work with dynamic parameters.

Implementation

Write an `abi-spec` namespace with an encode function that takes the function signature and the parameters values and return the encoded data which can be used to call the contract.

Acceptance Criteria

Implementa

[2018-08-11 11:11] infebe commented on #5353
To reproduce the same conditions as when I reported the problem, I looked for the build version I had used back then. I have not found the exact version 0.9.23(6238), but the closest I have found is version 0.9.23 (6234). I have had access to this build in the website http://artifacts.status.im:8081/artifactory/nightlies-local/ and it has the name "im.status.ethereum-2d6fdc-rel.apk" with date of 2

[2018-08-11 11:20] infebe commented on #5353
Following the steps from @lukaszfryc I have been able to reproduce the error in the latest version of Google Play Store: 0.9.25 (6360).

Here is the log with the exception:
[code]
Here is the complete Logcat:
[2018-08-11_1305_LogCat_Error_No_Item_1_in_vector.txt](https://github.com/status-im/status-react/files/2280164/2018-08-11_1305_LogCat_Error_No_Item_1_in_vector.txt)

Device: Zebra TC200J with

[2018-08-11 20:45] maedoredyti commented on #5254
I suspect the problem is somewhere else. I tried to find out what education does the moxi have. What schools did he graduate from? What high school and what university/polytechnic? Wikipedia and google in general are silent about his education but he calls himself a cryptographer or researcher. One could be tricked he is mathematician or software engineer. Maybe he simply does not understand what

[2018-08-11 20:52] maedoredyti commented on #5254
I suspect the problem is somewhere else. I tried to find out what education does the moxi have. What schools did he graduate from? What high school and what university/polytechnic? Wikipedia and google in general are silent about his education but he calls himself a cryptographer or researcher. One could be tricked he is mathematician or software engineer. Maybe he simply does not understand what

[2018-08-11 23:57] oogetyboogety commented on #5179
@lukaszfryc  I'll start this

[2018-08-12 00:41] yenda commented on #4031
@corpetty I created an issue on realm issue tracker https://github.com/realm/realm-js/issues/1956. In case they don't answer we'll have to fork it but it is a tricky package to build.

[2018-08-12 18:34] leroldary opened #5461 "Implement EIP-712"
### Description

*Type*: Feature

*Summary*:  Implement ethereum/EIPs#712  (eth_signTypedData).

As EIP-712 is  finally merged and both MetaMask and Trust Wallet will support it soon, it would be great if status would implement  this too.

[2018-08-12 22:53] maxhora commented on #5012
Reopen the issue since crashes still happens

[2018-08-12 23:44] noman-land opened #5463 "Status Desktop (85aad1d2): request_permissions error on first bootup"
### User Story

As a user, I want my app to open cleanly without incident so I trust the quality of the app and all functions work properly.

### Description

*Type*: Bug

Upon first boot of the app after installation, it shows an error that looks to be related to requesting permission to show notifications.

#### Expected behavior
There should be no errors shown on startup.

#### Actual behavior

[2018-08-12 23:48] noman-land opened #5464 "Status Desktop (85aad1d2): Mac app icon is too large"
The icon for the macOS desktop client appears larger than all my owner app icons

<img width="365" alt="image" src="https://user-images.githubusercontent.com/27938023/44007723-69336116-9e68-11e8-8ff3-d34a9341f226.png">

Also, I believe this might be the old brand color cc/ @denis-sharypin @andmironov

[2018-08-12 23:56] noman-land opened #5465 "Status Desktop feature request: Enable opting out of Mix Panel"
Currently the first connection Status desktop makes is to Mixpanel:

<img width="679" alt="image" src="https://user-images.githubusercontent.com/27938023/44007787-74b97e16-9e69-11e8-95af-2bf441a6adc1.png">

I know the Mixpanel conversation is ongoing but in the meantime it would be nice if users were informed about and were able to opt out of Mixpanel analytics.

[2018-08-12 23:59] noman-land commented on #5464
Looks like this is a dupe of https://github.com/status-im/status-react/issues/5235, sorry.

[2018-08-12 23:59] #5464 closed, assigned to nobody

[2018-08-13 05:15] rasom commented on #5446
yes, it's similar to https://github.com/status-im/status-react/issues/5278

[2018-08-13 06:13] errorists commented on #4690
So if we agree on changing the way unread messages are handled, I feel like a design like this would be more appropriate since you scroll downward to go through unread messages, also I think the full-width banner is a bit excessive 👉 https://framer.cloud/rlnqR

<blockquote><img src="https://framer.cloud/rlnqR/1/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://fram

[2018-08-13 07:00] chadyj commented on #5465
What version are you using? Mixpanel is no longer in the codebase.
Can you try grabbing the latest from https://status-im.github.io/nightly/

<blockquote><div><strong><a href="https://status-im.github.io/nightly/">Status.im Nightly Builds</a></strong></div></blockquote>

[2018-08-13 07:36] rasom commented on #5465
That's because of realm.js https://github.com/realm/realm-js/search?q=mixpanel&unscoped_q=mixpanel

[2018-08-13 07:37] rasom commented on #5465
https://github.com/realm/realm-js/blob/5cd969a03e85a8544d74c6de6760997b166425c9/lib/submit-analytics.js#L5

<blockquote><img src="https://avatars3.githubusercontent.com/u/7575099?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/realm/realm-js">realm/realm-js</a></strong></div><div>realm-j

[2018-08-13 07:37] rasom commented on #5465
we need to set REALM_DISABLE_ANALYTICS

[2018-08-13 07:52] churik opened #5467 "`StatusIm` application couldn't be found in Spotlight Search"
### User Story

As a user, I want to navigate to StausIm through spotlight search

### Description

*Type*: Bug
*Summary*: when I have app installed (copied to`Applications` folder) and try to look it using Spotlight Search, but `StatusIm` app is not suggested so I need manually open `Applications` folder and launch app.

#### Expected behavior
`StatusIm` is suggested, i.e. as `Chrome`
![tequilaja

[2018-08-13 08:37] lukaszfryc commented on #5440
@errorists should there be any indicator that a user is not a contact yet? Up to this point, the "Add to contact" button indicated it. But now you can dismiss this button by clicking "X":

<img src="https://user-images.githubusercontent.com/7532782/44021245-9db76334-9ee4-11e8-96af-42c99e6d6169.png" width="200">

Please note that the username you see is the real username since the user that initiat

[2018-08-13 08:41] churik opened #5468 "No shortcut of Applications folder is shown when you open `.dmg` file"
### User Story

As a user, I want to have a shortcut to the Applications folder to install `StatusIm` quickly.

### Description

*Type*: Feature
*Summary*: most of Applications that delivered in `.dmg` or other archives, contains shortcut to shortcut of Applications folder and arrow to show that you should move app to Applications folder to install it. i.e.
![image](https://user-images.githubuserc

[2018-08-13 08:46] lukaszfryc commented on #5446
Closing as duplicate.

[2018-08-13 08:46] #5446 closed, assigned to nobody

[2018-08-13 08:46] churik commented on #5468
Closed as duplicate of #5423

[2018-08-13 08:46] #5468 closed, assigned to nobody

[2018-08-13 08:48] #5440 closed, assigned to dmitryn

[2018-08-13 08:58] churik commented on #5423
@EugeOrtiz does it happen only if you set "Always Allow" when app is asking access to keychain?
Anyway I believe this can be mentioned in #5135, not here IMO

[2018-08-13 09:02] churik commented on #4881
Closed, most of the features are presented in nightly 13.08.2018
#5423  and #5467 are opened for the rest

[2018-08-13 09:02] #4881 closed, assigned to nobody

[2018-08-13 09:16] lukaszfryc commented on #4359
We do not use Mixpanel anymore

[2018-08-13 09:16] #4359 closed, assigned to nobody

[2018-08-13 09:35] pedropombeiro commented on #5254
@GustavMarwin thank you, I think the issue right now is prioritization. Although this is important work, right now there is work going on that supersedes this, such as implementing Perfect Forward Secrecy.

[2018-08-13 09:51] KatrinBrynka commented on #5385
@annadanchenko
I installed new version and tried again - same result.
Before recovery:
![screenshot_20180813-1140441_rs](https://user-images.githubusercontent.com/42111847/44024946-fabd4968-9eee-11e8-9acd-5b5e5ba18185.jpg) ![screenshot_20180813-1140522_rs](https://user-images.githubusercontent.com/42111847/44024947-fadfef04-9eee-11e8-9b04-841b1b01532e.jpg)

After recovery:
![screenshot_20180813-11

[2018-08-13 10:54] chadyj commented on #4253
Closing since this feature is no longer in the app

[2018-08-13 10:54] #4253 closed, assigned to nobody

[2018-08-13 11:38] churik commented on #5457
closed as duplicate of https://github.com/status-im/status-react/issues/5136

[2018-08-13 11:38] #5457 closed, assigned to nobody

[2018-08-13 12:00] lukaszfryc opened #5474 "App freezes after wallet onboarding is finished in offline mode"
### Description

*Type*: Bug

*Summary*: When new account is created and user goes through the wallet onboarding, the app freezes right after the wallet onboarding is finished.

<img src="https://user-images.githubusercontent.com/7532782/44030334-c550ba1e-9f00-11e8-8ff2-6a39c86ee864.png" width="200">

#### Expected behavior
User can finish the wallet onboarding while being offline. The wallet says

[2018-08-13 12:10] lukaszfryc opened #5475 "No info snackbar device is offline and wallet is refreshed"
### Description

*Type*: Bug

*Summary*: According to https://github.com/status-im/status-react/pull/5434 the wallet should show "Unable to get balance" snackbar when device is offline and wallet is refreshed. At this moment, there is no snackbar or error shown.

### Reproduction

- Open wallet tab
- Put the device in airplane mode
- Pull down wallet screen to refresh it

### Additional Informatio

[2018-08-13 12:13] lukaszfryc commented on #5475
@goranjovic could you confirm that it should work in this way? Btw, maybe the info snackbar should be displayed along the last known balance?

[2018-08-13 12:22] ghost commented on #5254
@PombeirP : Absolutely, I understand and have no doubt the priorities you set are what is best for this project. I just wanted to express that I am willing to financially support the project (as far as an individual contribution can be expected) should you feel that it would make a positive difference, very much in the same spirit as Augur did. Thank you for the awesome work you do.

[2018-08-13 12:51] yenda commented on #4031
@corpetty realm-js will release Thursday or Friday this week a version that doesn't include this library so I'll publish a PR then.

[2018-08-13 13:37] pedropombeiro commented on #5254
Thanks @GustavMarwin, and kudos for being such a stellar supporter!

[2018-08-13 13:52] Serhy opened #5482 "No sound when PN arrives for recovered account [iPhoneX]"
***Type***: Bug

***Summary***: When PN arrives to account which has been recovered - there is no sound present along with PN pop-up. It's all fine for newly created accounts, but not for the recovered.
Note:
#### Expected behavior
Sound notification is present when PN arrives for recovered account on iPhoneX
#### Actual behavior
No sound notification is present when PN arrives for recovered accou

[2018-08-13 14:04] lukaszfryc commented on #4969
Keep progress bar visible if a new unread message was added less than 5 seconds ago
Hide progress bar if shhext_requestMessages was called more than 30 seconds ago

@PombeirP yes, this issue should be fixed if #4345 implements such heuristics. cc @errorists

[2018-08-13 14:04] #4969 closed, assigned to nobody

[2018-08-13 14:17] lukaszfryc commented on #5482
@Serhy is it iPhone X specific? It works on my side on iPhone 8 (11.4.1) and Galaxy S8 (Android 7).

[2018-08-13 15:51] Serhy commented on #5482
Funny enough, the reason was the disabled `Ring/Silent` hardware button.
Enabling it turns on sound when PN arrives in Status.

[2018-08-13 15:52] #5482 closed, assigned to nobody

[2018-08-13 20:19] maxhora opened #5483 "Update status-go to 0.10.0 breaks compatibility with Desktop"
According to https://github.com/status-im/status-react/pull/5319

Update to status-go release 0.10.0 breaks possibility to login in Status Desktop or create new account.
It errors out with following log:

[code]
GIT_TAG for status-go 0.10.0 is a6d69eba

[2018-08-13 21:17] maxhora opened #5484 "Red alert box error message on new contact adding"
On [latest Desktop nightly build](https://status-im-desktop.ams3.digitaloceanspaces.com/StatusIm-3a982e.AppImage) after button press to add new contact Red Box Alert appears.

JS log:

[code]

The regression, probably, is related to recent changes in [develop](https://github.com/status-im/status-react/commit/96ac6eb83f85724144b491c9e3d0de199d87f3f7)

[2018-08-13 21:25] noman-land commented on #5463
Update: This also didn't happen again when updating to a new nightly by dragging the new version to Applications.

[2018-08-13 21:29] noman-land commented on #5465
Nice find, @rasom. Thanks for the fast turnaround. For posterity, I was using [this nightly (85aad1)](https://status-im-desktop.ams3.digitaloceanspaces.com/StatusIm-85aad1.dmg).

[2018-08-14 06:56] jeluard commented on #5028
@chadyj @yenda Can we close this?

[2018-08-14 07:27] lukaszfryc commented on #5286
hey @cammellos, do you have any update on this issue? Would be great to include the fix in next release

[2018-08-14 07:36] lukaszfryc commented on #5465
I quickly tested mobile apps and all looks fine there.

@churik please add "Tested - OK" once you finish testing desktop.

[2018-08-14 07:37] #5028 closed, assigned to yenda

[2018-08-14 07:58] lukaszfryc opened #5485 "Cannot login to gmail or other google services"
### Description

*Type*: Bug

*Summary*: When user tries to login to https://gmail.com on Android (tested on 7.1), the service returns 400. Everything works fine on iOS (tested on 11.4).

<img src="https://user-images.githubusercontent.com/7532782/44079029-5064c03a-9fa8-11e8-89e3-4dbe40806d7a.png" width="200">

### Reproduction

- Open Status on Android
- Go to Chats tab and open dapp with https:/

[2018-08-14 08:08] #5465 closed, assigned to nobody

[2018-08-14 08:09] jeluard opened #5486 "Finish chat command extension support"
### User Story

As a developer, I want to leverage the full chat command support in my extension.

### Description

*Type*: Feature

Specifically `suggestions`, `on-send` and `on-receive` should be usable.

[2018-08-14 08:15] jeluard opened #5487 "Create a generic contract event"
### User Story

As an extension developer, I want to interact with any smart contract

### Description

*Type*: Feature

[2018-08-14 08:32] lukaszfryc opened #5488 "App performance slows down when there is lot of long messages in a chat"
### Description

*Type*: Bug

*Summary*: During the last load testing session we found out that when a chat has received lot of long messages, it starts to slow down. Typing or navigating back takes couple of seconds. When a different chat is opened, it works fine. When the app is killed and the long chat is opened again it also works fine (probably memory was flushed when app was killed).

#### E

[2018-08-14 08:36] jeluard opened #5489 "Implement a chat command to send NFT as an extension"
### User Story

As a user, I want to send my NFT in a chat

### Description

*Type*: Feature

Blocked by: #6643 #6691

Create an NFT chat command that will send a selected NFT asset on execution:

* first argument is the NFT type. A scrollable list allows user to select it
* second argument is the specific NFT to send. A scrollable view allows user to browse the collectible collection

[2018-08-14 10:00] hesterbruikman commented on #4932
fyi here's a long term view on how we can integrate a more granular solution that will give more control than a accept all during onboarding: https://status-im.slack.com/archives/CA83RN3ML/p1534240566000100

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.slack.com/archives/CA83RN3ML/p153424056

[2018-08-14 10:12] goranjovic opened #5495 "test status-go bip32 fix on status-react side"
Testing `status-go` PR [fix child keys derivation adding bytes padding](https://github.com/status-im/status-go/pull/1139)).

### status-react builds with status-go artifact from that PR

Branch: status-im:test/bip32-fix
Android: https://i.diawi.com/FNzR7h
iOS: https://i.diawi.com/EVsTS8

### Problem

The current implementation of `status-go` derives wrong keys/addresses in certain conditions, more

[2018-08-14 10:34] #5356 closed, assigned to goranjovic, obi2020, denis-sharypin

[2018-08-14 10:47] adambabik commented on #5213
Fleet can be selected in the configuration JSON. I propose to add an option in the settings to choose a fleet if "Development Mode" is turned on. That's the easiest.

If we don't want to expose that in the UI, we can have a build tag I believe.

[2018-08-14 11:53] jeluard opened #5496 "Add support for superrare NFT"
### User Story

As a user, I want to have access to my [SuperRare](https://superrare.co/) digital art in my Status wallet.

### Description

*Type*:  Feature

Pixura/SuperRare is the next participant in Status' incubator program. SuperRare will have a public chat inside Status and will be added to the list of curated DApps.

If a user owns SuperRare NFTs, he should be able to see them in his walle

[2018-08-14 12:23] lukaszfryc commented on #5188
This should be already fixed. I'll check it

[2018-08-14 12:31] asemiankevich opened #5498 "Cookies disabled in Status browser"
### Description

*Type*: Bug

*Summary*: Cookies are disabled in Status browser so I am not able to log in to my google account for ex

#### Expected behavior
Enable cookies. We can do that as Chrome does - so enabling them by tapping the appropriate message or something. We also need an option to disable them.

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/44091

[2018-08-14 12:45] #5103 closed, assigned to rcullito, vkjr

[2018-08-14 12:47] lukaszfryc commented on #5485
Closing as it's due to not having cookies in Status browser: https://github.com/status-im/status-react/issues/5498

[2018-08-14 12:47] #5485 closed, assigned to nobody

[2018-08-14 13:25] asemiankevich opened #5499 "Add [remove] button (small cross or similar) to Enter URL field in Status browser"
### Description

*Type*: Feature

*Summary*: As a user I want to have a way to clear the browser bar easily (similar we have in Chrome)

#### Expected behavior
Design should be provided, the screenshot is only for reference

![image](https://user-images.githubusercontent.com/28752642/44094212-3b8de2d2-9fde-11e8-8c22-dd8827873a39.png)

#### Actual behavior
No way to easily clear browser toolbar

![

[2018-08-14 13:57] #4848 closed, assigned to nobody

[2018-08-14 14:07] lukaszfryc commented on #5357
I've just got this error after switching to Ropsten, sending STT and going to Transaction History. I tested on 0.9.26 (6368)

[2018-08-14 14:15] #5484 closed, assigned to vkjr

[2018-08-14 14:43] lukaszfryc opened #5500 "Do not show "Unknown token" error when token is not selected in Wallet assets"
### Description

*Type*: Feature

*Summary*: When a token is not selected in Wallet, there is an error shown in the chat when user tries to send it. The error does not explain what should be done to send the token.

<img src="https://user-images.githubusercontent.com/7532782/44098283-13b0f2ac-9fe0-11e8-8d06-f3dfed93895c.png" width="200">

Maybe we could get rid of this error and allow user to proc

[2018-08-14 14:43] lukaszfryc commented on #5500
@goranjovic wdyt? Can we not show this error but instead allow user to proceed to the send transaction screen?

[2018-08-14 15:23] jeluard commented on #4772
Some notes:

IPFS and SWARM won't be resolved directly (but can be via their respective http gateways).

It has to be decided if we want to go full multishash directly ([EIP1062](https://eips.ethereum.org/EIPS/eip-1062)) or first settle on `getContent` resolving to IPFS hashes (what MetaMask supports for now).

IMO it makes sense to go with option #2 as it supports existing resolvers and matches M

[2018-08-14 15:35] bgits commented on #4772
@jeluard These are fair points. IMO it's still better to have baby steps in that direction and use gateways than the current more centralized alternatives.

What are the issues with supporting multihash?
It's already been added to the latest version of the Public Resolver:
https://github.com/ensdomains/ens/blob/master/contracts/PublicResolver.sol#L90

<blockquote><img src="https://avatars0.githubu

[2018-08-14 15:45] jeluard commented on #4772
@bgits Just modified my comment :) Here is what I added : `IMO it makes sense to go with option #2 as it supports existing resolvers and matches MetaMask behavior.`

[2018-08-14 15:57] Serhy commented on #5357
Reproduced with `0.9.26 (6381) node a6d69eb` develop build.

[2018-08-14 15:58] jeluard commented on #5496
Contract source: https://github.com/Pixura/smart-contracts/blob/master/contracts/SupeRare.sol
Mainnet address: `0x41a322b28d0ff354040e2cbc676f0320d8c8850d`
Ropsten address: `0xa42e14b40bb22bc3daaf8ecad9d73bdf44056959`

[2018-08-14 16:01] jeluard commented on #5496
NFT MetaData are returned by `tokenUri`.

An example of returned data is:
[code]

(from https://ipfs.pixura.io/ipfs/QmWVDR4xYaoXpusB5qrj54E4nptoP7EbcKbaM5GrTkx4CB)

<blockquote></blockquote>

[2018-08-14 20:23] corpetty commented on #4031
Thank you @yenda for looking into this.

[2018-08-14 20:44] corpetty opened #5504 "iOS AppCritique vulnerability found: Disables App Transport Security"
### Note:
This is an issue created from the [Dark Labs AppCritique](https://appcritique.boozallen.com/) Static Analysis Report performed on Aug 14, 2018 on Status version 0.9.26 build 6382

Some of these may be purposeful and taken care of.  If so, please provide reasoning here and it will be closed upon review.  This issue will then serve as a reference for future potential vulnerability disclosu

[2018-08-14 20:50] mandrigin commented on #5504
We can't really enable ATS right now because we have a DApp browser built-in which allows any URL.
Even though it makes sense to disallow plain-http connections for normal users, DApp developers might want to use it and I think it should exist as an option.

So, I would close this one as a choice we make "by design".

[2018-08-14 20:56] EugeOrtiz commented on #4275
@churik @siphiuel is this still blocked?

[2018-08-14 21:01] EugeOrtiz opened #5505 "Some graphic elements look pixelated"
**Issue**
Some graphic elements look blurred/pixelated.

**1- Icons on bottom navigation bar:**
<img width="335" alt="captura de pantalla 2018-08-14 a la s 6 02 27 p m" src="https://user-images.githubusercontent.com/37297779/44118386-48895b16-9fec-11e8-9177-639b7938ac00.png">
_Note: Background color for blue icons should be light blue, not grey. Svg available on Zeplin._

**2- User randomly genera

[2018-08-14 21:10] corpetty opened #5506 "iOS AppCritique Vulnerability Found: No or Insufficient Default File Protection Specified"
### Note:
This is an issue created from the [Dark Labs AppCritique](https://appcritique.boozallen.com/) Static Analysis Report performed on Aug 14, 2018 on Status version 0.9.26 build 6382

Some of these may be purposeful and taken care of.  If so, please provide reasoning here and it will be closed upon review.  This issue will then serve as a reference for future potential vulnerability disclosu

[2018-08-14 21:16] corpetty opened #5507 "iOS AppCritique Vulnerability Found: Takes Over Certificate Validation Process"
### Note:
This is an issue created from the [Dark Labs AppCritique](https://appcritique.boozallen.com/) Static Analysis Report performed on Aug 14, 2018 on Status version 0.9.26 build 6382

Some of these may be purposeful and taken care of.  If so, please provide reasoning here and it will be closed upon review.  This issue will then serve as a reference for future potential vulnerability disclosu

[2018-08-14 21:20] corpetty opened #5508 "iOS AppCritique Vulnerability Found: Uses C Functions that Require Input Validation"
### Note:
This is an issue created from the [Dark Labs AppCritique](https://appcritique.boozallen.com/) Static Analysis Report performed on Aug 14, 2018 on Status version 0.9.26 build 6382

Some of these may be purposeful and taken care of.  If so, please provide reasoning here and it will be closed upon review.  This issue will then serve as a reference for future potential vulnerability disclosu

[2018-08-14 21:21] corpetty opened #5509 "iOS AppCritique Vulnerability Found: Uses Custom URL Schemes"
### Note:
This is an issue created from the [Dark Labs AppCritique](https://appcritique.boozallen.com/) Static Analysis Report performed on Aug 14, 2018 on Status version 0.9.26 build 6382

Some of these may be purposeful and taken care of.  If so, please provide reasoning here and it will be closed upon review.  This issue will then serve as a reference for future potential vulnerability disclosu

[2018-08-14 22:00] EugeOrtiz commented on #5423
@churik It doesn't once I set "Always allow", but it is annoying until somebody gives you the solution :D
Feel free to add it there too! Thanks

[2018-08-14 22:01] EugeOrtiz commented on #5457
Thanks!!

[2018-08-15 03:36] noman-land opened #5511 "Status Desktop (3a982e5d): Unable to see text that is selected"
### User Story

As a user, I want to be able to see the text I'm selecting so I can properly see where to stop and end my selection.

### Description

*Type*: Bug

#### Expected behavior
The text should be clearly visible even though it's selected

#### Actual behavior
When selecting text with your mouse, it's not possible to see the selected text.

### Reproduction
![select-color](https://user-im

[2018-08-15 07:30] churik commented on #5511
It is fixed in nightly 15/08/2018
Also was reported previously  in https://github.com/status-im/status-react/issues/5103

[2018-08-15 07:30] #5511 closed, assigned to nobody

[2018-08-15 07:44] goranjovic commented on #4431
@lukaszfryc Can you please re-test this one? It should be long gone now

[2018-08-15 07:47] churik commented on #5483
I believe that this should be fixed ASAP because currently mobile and desktop are based on different status-go versions.

[2018-08-15 07:58] churik commented on #5421
Set `high-severity` here, because it can affect possibility to install and use Mac OSx builds for automation tests.

[2018-08-15 08:28] churik commented on #5344
should be verified when https://github.com/status-im/status-react/issues/4860 was fixed

[2018-08-15 08:34] #5058 closed, assigned to goranjovic

[2018-08-15 08:39] churik commented on #5313
merged with https://github.com/status-im/status-react/issues/5311

[2018-08-15 08:39] #5313 closed, assigned to nobody

[2018-08-15 10:26] chadyj commented on #5421
<img width="420" alt="screen shot 2018-08-15 at 12 24 22 pm" src="https://user-images.githubusercontent.com/116099/44144036-4e3b4aca-a086-11e8-8f03-624f407d5cd4.png">

[2018-08-15 10:27] infebe opened #5513 "Push notifications of 1-1 chat not shown when app is completely closed"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In a 1-1 chat when sending a message from user A to user B, if the app is completely closed in user B, push notifications are not shown.

#### E

[2018-08-15 10:28] chadyj commented on #5421
<img width="434" alt="screen shot 2018-08-15 at 12 27 01 pm" src="https://user-images.githubusercontent.com/116099/44144122-91221a3a-a086-11e8-933f-037ac4173eb4.png">

[2018-08-15 11:41] goranjovic commented on #5500
@lukaszfryc The problem is that there is a lot of tokens and we intentionally do not try updating wallet balances and tx histories for most of them (the ones not enabled) - to conserve battery and network usage. I initially had the same idea, to only show the enabled ones in the popup, but to accept all if typed, but had to revert because of this.

One thing we could possibly do is show a differen

[2018-08-15 12:04] errorists commented on #5365
Updated the designs so that the icon is moved to the toolbar.
Framer 👉 https://framer.cloud/OFCIZ
Zeplin 👉 [zpl.io/agN9qP1](zpl.io/agN9qP1)

<blockquote><img src="https://framer.cloud/OFCIZ/10/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/OFCIZ">Chat in Dapps</a></strong></div><div>This project was made with Framer, a design tool for turning origin

[2018-08-15 12:58] churik commented on #4249
Closed after merging https://github.com/status-im/react-native-desktop/pull/314

[2018-08-15 12:58] #4249 closed, assigned to rcullito, vkjr

[2018-08-15 12:58] churik commented on #5113
Closed after merging status-im/react-native-desktop#314

[2018-08-15 12:58] #5113 closed, assigned to vkjr

[2018-08-15 13:02] churik commented on #5151
3) Chat headers and messages are displayed in a column in a small-size window and doesn't get back if you resize window to normal size again - is fixed in https://github.com/status-im/react-native-desktop/pull/314

[2018-08-15 13:23] #4270 closed, assigned to vkjr

[2018-08-15 13:23] #4274 closed, assigned to vkjr

[2018-08-15 13:24] churik commented on #4283
For quoting separate issue will be added

[2018-08-15 13:24] #4283 closed, assigned to vkjr

[2018-08-15 13:34] churik commented on #5112
Can be related to #5271

[2018-08-15 14:01] antdanchenko commented on #5400
done in #5450

[2018-08-15 14:01] #5400 closed, assigned to antdanchenko

[2018-08-15 15:56] asemiankevich commented on #5495
1. able to recover 0xaC39b311DCEb2A4b2f5d8461c1cdaF756F4F7Ae9 with radar blur cabbage chef fix engine embark joy scheme fiction master release

2. able to recover my personal wallet

3. lets wait for e2e run

[2018-08-15 17:57] vigho7 opened #5517 "DApp entry disappears from Home screen when browser is closed in offline mode"
### Description

Type: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
Summary:
DApp entry disappears from Home screen when browser is closed in offline mode

#### Expected behavior
DApp entry remains displayed on Home screen

#### Actual behavior
DApp entry has disappeare

[2018-08-15 20:05] charlescrain commented on #5496
Querying SuperRare's api to get all the collectibles can be done via the graph api endpoint https://api.pixura.io/graphql

Below is an example of querying all the tokens by the owner's ether address.

To explore the available graphql queries, feel free to use https://api.pixura.io/graphiql which is an interactive place to build the queries.

[code]

<blockquote></blockquote>
<blockquote><div><stro

[2018-08-15 20:08] charlescrain commented on #5496
Let me know if there are any questions 😄

[2018-08-15 22:15] ankaqwerty opened #5520 "User cannot receive messages in 1-1 chat after he's back from being offline"
### Description

*Type*: *Bug*
*Summary*: User cannot receive messages in 1-1 chat that were sent while he was offline

User B, sending messages (online):

![image](https://user-images.githubusercontent.com/42421835/44176038-db801680-a0f0-11e8-9c32-aedc9eb06f99.png)

User A, receiving messages (was offline, now online)

![image](https://user-images.githubusercontent.com/42421835/44176183-81cc1c00-

[2018-08-16 06:20] asemiankevich commented on #5495
https://ethstatus.testrail.net/index.php?/runs/view/1121&group_by=tests:status_id&group_order=asc

[2018-08-16 06:24] asemiankevich commented on #5495
@goranjovic @pilu @adambabik please merge it

[2018-08-16 08:42] dmitryn commented on #5293
i was able to reproduce it.
`shh.extPost` doesn't work (it stops firing callbacks https://github.com/status-im/status-react/blob/develop/src/status_im/transport/shh.cljs#L56) after any transaction with low gas (0.0000001) has been sent.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.i

[2018-08-16 08:48] vkjr commented on #5151
@chadyj, this issue was partially resolved by my last (unrelated) PR, but I had no intentions to fully finish it. So moving it back from "in progress"

[2018-08-16 09:40] asemiankevich commented on #5495
here is the thread for some context https://status-im.slack.com/archives/CA7R1RK0C/p1534182376000174

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.slack.com/archives/CA7R1RK0C/p1534182376000174">Slack</a></strong></div></blockquote>

[2018-08-16 09:44] annadanchenko opened #5523 "Could not connect to mailserver warning and no messages in Status chat if mailserver A is set"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: no messages shown if join public chat "status" and constant warning "Could not connect to mailserver " shown if mailserver A is selected, networ

[2018-08-16 09:47] chadyj commented on #5523
I also have the same issue when manually switching to `B`

[2018-08-16 09:54] asemiankevich opened #5525 "Align public chats' icons behavior with Home tab"
### Description

*Type*: Feature

*Summary*: Public chat icons should be shown with `#` sign instead of the first letter of chat name as well as have random icon color. We have this functionality already implemented for the Home tab screen, this issue is aimed to have the same functionality on the `join public chat` screen.

#### Expected behavior
Each public chat icon should be shown with `#` ico

[2018-08-16 10:25] annadanchenko opened #5526 "Scrolling returns to the end of chat instead of scrolling up to the previous messages on Android 9"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  only on Android 9 (can't repro on 6 and 7):
Scrolling up (touch screen, move finger down, remove finger from the screen) does not go up in the

[2018-08-16 10:29] churik commented on #4251
It is fixed in nightly 16.08.2018

[2018-08-16 10:29] #4251 closed, assigned to gnl

[2018-08-16 10:44] pedropombeiro opened #5527 "Allow overriding status-go log level from UI"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to dynamically change the Go log level so that I can get to the information from geth without needing to generate a special build.

As a user, I want to be able to generate geth logs at the level requested by the developers, so that I can help them fix problems I find.

### De

[2018-08-16 11:09] dmitryn commented on #5293
[geth.2018-08-16.log](https://github.com/status-im/status-react/files/2293459/geth.2018-08-16.log)

Message was sent at ~10:54
Signal received at 10:55:50

[2018-08-16 11:13] dmitryn commented on #5293
status-react logs:

13:54:01 Transaction sign request queued
13:54:23 chat message sent
13:55:50 Signal envelope.sent received

[code]

[2018-08-16 13:14] errorists opened #5529 "Add UI for sharing deep links"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to share links to my contacts, DApps and public chats so they can be conveniently accessed through other apps and published on the web.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bu

[2018-08-16 13:59] dmitryn commented on #5293
It's not reproducible on ios simulator.

[2018-08-16 15:01] denis-sharypin commented on #4747
I think it's better to keep mention of an address on the label button something like:
`Enter address/ENS name` assuming that entering an address is a more common use case.

[2018-08-16 15:43] obi2020 commented on #5529
See the [spreadsheet here](https://docs.google.com/spreadsheets/d/1eckf-n5EZdklxVz1oc0dAF05Fclbz-EkuizkkQ7gBV0/edit#gid=533164898&range=A1)

I don't quite understand the last two use cases, though. Is it basically to share someone's (or your own) contact code? I don't understand what else in the profile you'd want to share, as it's currently more like a settings menu

[2018-08-16 16:44] dmitryn commented on #5293
After this change https://github.com/status-im/status-react/pull/3889/files we started using fixed thread pool to execute web3 calls (`sendWeb3Request` and `sendWeb3PrivateRequest`)

It seems that those calls are getting queued and some time later they get executed one after another.

<blockquote><img src="https://avatars1.githubusercontent.com/u/19371062?s=400&v=4" width="48" align="right"><div><

[2018-08-16 18:17] Serhy commented on #5360
This is because of, apparently, transaction been sent with GasPrice = 0 (visible in TF logs). Probably request for the current gas price could fail at some stage and it leads to it's 0/null value. It could be reproduced in next way:

1) Open status, create new account. Change network to Ropsten.
2) Request /faucet.
3) Add any contact in contacts
4) Enable airplane mode on your device.
5) Navigate

[2018-08-16 18:41] rachelhamlin opened #5535 "Fix support for ENS names in chat"
### User Story

As a user, I want to look people up by their ENS address when starting a new chat.

### Description

*Type*: Bug

*Summary*: `Start new chat` is not resolving ENS names properly.

<img width="250" alt="screen shot 2018-08-16 at 1 43 06 pm" src="https://user-images.githubusercontent.com/15470435/44227236-1e2d0780-a160-11e8-813e-dbe05fd38942.png"><img src="https://user-images.githubu

[2018-08-16 18:43] rachelhamlin commented on #5535
Closing - not a bug.

Only the full address `mobile.stateofus.eth` is expected to return results.

[2018-08-16 18:43] #5535 closed, assigned to nobody

[2018-08-16 18:43] pacamara commented on #5293
@dmitryn Ouch, yes it looks like the thread pool executor needs to be switched from unbounded queue to bounded with as @audriu suggested a higher max pool size. It's only a few lines which need changing, shall I submit a PR to fix it?

[2018-08-16 19:29] dmitryn commented on #5293
@pacamara yes, please go ahead and submit a PR. I'll test it then.

On Thu, Aug 16, 2018, 9:43 PM pacamara <notifications@github.com> wrote:

[2018-08-16 20:17] maxhora commented on #5112
@churik as it was discussed before (since double click issue is solved already, but long loading issue exists), can we modify the task of this Issue to show messages loading indicator? cc: @siphiuel

[2018-08-16 20:26] maxhora commented on #5012
Update:

High CPU overloading issue on scrolling of long chat history is resolved by ScrollView optimization.

Most of known crashes still have the source in uimanager::manageChildren method which triggers call of `YGNode::insertChild` where the assert and crash appears.

Crash happens (in known cases), because on adding of new Child node into yoga layout that new Child node already has another pa

[2018-08-16 20:31] vitvly commented on #5112
Agree with @maxris that having some temporary 'messages loading' label in the chat view would be nice, would be happy to implement it :)

[2018-08-16 20:57] maxhora commented on #5112
@siphiuel I just though that we might use for this purposes "status" label, which we seems supposed to have to show connection status of app. But not sure if it suites here at all.

Interesting that react-native's original ScrollView seems has optional loading bar component. I really haven't looked how it is implemented and when it is triggered, but we don't have such feature in react-native-deskt

[2018-08-16 22:29] pacamara commented on #5293
@dmitryn OK will do, should be ready soon. Apologies for the extra work generated by this, I should have thought more critically about what the threads in the pool are doing. :beers:

[2018-08-17 00:58] rachelhamlin commented on #5365
So this isn't just for DApps from the curated list, @chadyj?

I say a big yes to the images @errorists, but we can only reliably get those avatars for DApps in the curated list. I'd say use those, and if *all* URLs browsed have a chat generated, use a random icon.

[2018-08-17 01:01] rachelhamlin commented on #4772
@flexsurfer I would second @jeluard here and say we follow the MetaMask implementation for now.

[2018-08-17 06:54] chadyj commented on #5365
May as well start out on everything and evolve over time and see how this feature and usage evolves. Hopefully we will see some organic and unexpected uses and adoption.

[2018-08-17 06:54] vkjr commented on #5112
@MaxRis, do you mean original qml ScrollView or react-native ScrollView? Asking because I haven't seen it there.

[2018-08-17 07:42] #5347 closed, assigned to nobody

[2018-08-17 07:56] gnl commented on #5467
@vkjr
https://github.com/vkjr/StatusAppFiles/pull/1

[2018-08-17 08:35] maxhora commented on #5112
@vkjr well, sorry, yes, it seems I was wrong about it, please, ignore message about it.

I have meant following functionality in Libararies/Components/ScrollView.js

https://github.com/status-im/react-native-desktop/blob/master/Libraries/Components/ScrollView/ScrollView.js#L891

But by mistake I've mismatched "refreshControl" functionality with "loading indicator" functionality.

<blockquote><img

[2018-08-17 08:44] asemiankevich commented on #5395
i was able to repro this on Mainnet having `connect to mailsever` tooltip (switching between mailserver F to E and both were not working). Dont think it depends on network rather than depending on the mailserver connection istead

[2018-08-17 08:46] vkjr commented on #5112
@maxris, thanks for pointing to it. Never knew it exists :)

[2018-08-17 09:55] chadyj commented on #5038
Should also work with a custom URL scheme

`In addition to the deep links the above links can be called with the status-im:// custom URL scheme, such as status-im://chat/public/status `

The types of links to test would be:

status-im://chat/public/status

status-im://user/0x044166fa04e967e333211ae0cc1087c9c74exxx

[2018-08-17 10:09] Serhy opened #5542 "`Error: Does not support name` sending a transaction while no currency is set for account"
***Type***: Bug

***Summary***: It was noticed that currency set in the account could be not set at all. In that case there, apart from that total fiat value on Wallet screen could be converted, all transactions end up with the `Error: Does not support name`.

#### Expected behavior
Currency always present in the account. The default value is USD.

#### Actual behavior
<img width="812" alt="screen

[2018-08-17 10:20] churik opened #5543 "Crash when logging in after switching networks (Mainnet>Rinkeby, Rinkeby>Mainnet)"
### Description
*Type*: Bug

*Summary*: Status app has crashed when trying to log-in after switching network from Mainnet with RPC to Rinkeby. Crash log is different rom #3981. it was reproduced twice when switching from Mainnet to Rinkeby and vice versa.
I cannot replicate it more.

#### Expected behavior
The app is supposed to crash after switching networks but should not crash later on when log

[2018-08-17 10:44] dmitryn commented on #5293
After user signs in, `init-whisper` creates discovery filter (`newMessageFilter`) which does polling every 500ms by calling `shhext_getNewFilterMessages`  using status web3 provider:
https://github.com/status-im/status-react/blob/develop/src/status_im/utils/web3_provider.cljs#L12
https://github.com/status-im/web3.js/blob/feature/shhext/lib/utils/config.js#L75
https://github.com/status-im/web3.js/b

[2018-08-17 10:44] asemiankevich commented on #5543
Got this when switching from Mainnet to Ropsten
![image](https://user-images.githubusercontent.com/28752642/44262423-b213d780-a223-11e8-8b7c-e515e39dcbde.png)

[2018-08-17 11:13] pacamara commented on #5293
@dmitryn @audriu OK done! Thinking more about it, decided it's a better fit to stick with current unbounded queue scheme, but increase size and allow core threads to time out. Behaviour verified via native android test, will post as gist. :beers:

[2018-08-17 12:24] #5483 closed, assigned to maxhora

[2018-08-17 13:30] EugeOrtiz opened #5547 "Add MacOS Menu Bar to Status Desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have the possibility to use commands and attributes from the Desktop application's menu bar.

### Description

*Type*: Feature

*Summary*: Implement the menu bar on MacOS.

#### Expected behavior
The user should be able to select options from the menu app that allows her to perform differe

[2018-08-17 13:35] chadyj commented on #5547
Very nice! Feels more Mac like already :)

[2018-08-17 14:39] churik opened #5548 "Implement navigation between fields using "Tab" key"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to use "TAB" key to navigate to next field.

### Description

*Type*: Feature

*Summary*: navigation in desktop or web applications often implemented with using Enter key to proceed, Tab key - to jump to next field. In status-desktop it alway  inserted a tab character in the selected fields.

[2018-08-17 19:57] ankaqwerty opened #5549 "For Sender, transaction status does not update in 1-1 chat from Pending"
### Description

*Type*: *Bug*

*Summary*: When a transaction is sent in 1-1 chat, after it's completed transaction status does not update from 'Pending' to 'Completed' for a Sender.
For a Receiver it is updated to Completed automatically, as expected.

#### Expected behavior
Statuses for transactions should change automatically in 1-1 chat for both Sender and Receiver

#### Actual behavior
Transa

[2018-08-17 22:03] ankaqwerty opened #5550 "'Amount' area is not accessible for input in 1-1 chat after tapping on it"
### Description

*Type*: _Bug_

*Summary*: This is a UX issue that appears when a user is a bit sloppy.
If a user misses the usual flow and taps one extra time on 'Amount' field, he will face a UX problem with inserting amount for his transaction. User will need to tap outside the 'Amount' area and move a cursor to set it in the right spot to input the data.
Similar behaviour reproduces for both /

[2018-08-17 23:24] ankaqwerty opened #5551 "Deleted chat does not re-appear with new messages for logged out user"
### Description

*Type*: _Bug_

*Summary*:

When user deletes the chat and logs out, he receives push notifications that lead to nothing.
General issue is that if user is logged out, his deleted chat does not re-appear if the messages were received while he was logged out.
Note: When user is logged in, the behaviour is expected and chat does re-appear with new messages in it.

#### Expected behavi

[2018-08-18 05:31] #4932 closed, assigned to rasom

[2018-08-18 11:02] denis-sharypin opened #5554 "UX updates on Recovery flows"
Align recovery enter mnemonic with backup seedphrase flow

User Story
As a user, I want to have a right perception on what kind of password do I need to provide during the recovery flow that I'm not trying to recall my old password.

(Needed to ETHBerlin)

### Description
_Type_: Feature

_Summary_: Current recovery flow confuses users, makes them think they need to provide their old password whic

[2018-08-18 11:07] denis-sharypin commented on #5554
Possibly could be a good moment to solve this issue https://github.com/status-im/status-react/issues/4856 @obi2020  please take a look

[2018-08-18 16:48] chadyj commented on #5554
How about a forgot password flow, or at least info on how to proceed?

[2018-08-19 11:19] goranjovic commented on #5324
After the changes in #5455 dapp transactions can no longer timeout, which incidentally fixes this issue too

[2018-08-19 11:19] #5324 closed, assigned to goranjovic

[2018-08-19 20:57] obi2020 commented on #5554
What if the user wants to use their old password? Does it matter; should we advise against or explicitly say that it should be a new password? @chadyj

[2018-08-20 07:05] #4108 closed, assigned to nobody

[2018-08-20 07:47] mandrigin commented on #5286
@Serhy isn't it the same that you discovered about currencies

[2018-08-20 07:52] mandrigin commented on #3153
@annadanchenko is it still reproducible?

[2018-08-20 07:55] mandrigin commented on #2440
Closing because we have removed the jail, feel free to reopen if you disagree

[2018-08-20 07:55] #2440 closed, assigned to janherich

[2018-08-20 07:57] mandrigin commented on #3804
Closing because it is a duplicate of https://github.com/status-im/status-react/issues/4866

[2018-08-20 07:57] #3804 closed, assigned to nobody

[2018-08-20 07:59] mandrigin commented on #4850
https://github.com/status-im/react-native

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/react-native">status-im/react-native</a></strong></div><div>react-native - A framework for building native apps wit

[2018-08-20 07:59] #4850 closed, assigned to mandrigin

[2018-08-20 08:03] mandrigin commented on #3080
outdated, closing

[2018-08-20 08:03] #3080 closed, assigned to mandrigin

[2018-08-20 08:08] Serhy commented on #5286
No, not the same. Error with the no currency set is `Error: Does not support name` (follow up issue to prevent such cases described is #5542)

[2018-08-20 08:31] mandrigin commented on #5360
@Serhy it's different.
this one most probably happens if there are two test sessions that happen at the same time and use the same account.
I'm not sure how to deal with it exactly. Maybe we can have a pool of accounts that we can use and make sure that they are different for all the test sessions.
We can also delay the test session if there is no account like that.

[2018-08-20 08:34] antdanchenko commented on #5360
@mandrigin I will fix it on e2e side today, thanks for finding the root cause

[2018-08-20 08:35] lukaszfryc commented on #5500
@goranjovic we could have:

"Unknown asset"
"Please enable WGN token in Wallet"

[2018-08-20 08:36] lukaszfryc commented on #5500
@obi2020 is this a good copy to use?

[2018-08-20 08:48] mandrigin opened #5556 "Sign-in with biometric input (TouchID/FaceID)"
### User Story

As a user I want to be able to protect signing in to the app using biometric auth on my phone or tablet.

[2018-08-20 08:51] mandrigin opened #5557 "Sign Transactions with using biometric sensors (TouchID/FaceID)"
### User Story

As a user, I want to be able to sign transactions using biometric sensors on my phone or tablet.

Security Notes:
This will require storing the password somewhere to the device. Make sure that the password or it's encryption key is very-very hard or impossible to get from the device.

Take rooted/jailbroken devices into account (maybe disable this feature if jailbreak or root is de

[2018-08-20 08:54] churik opened #5558 ""status_im.native_module.impl.module.status.callPrivateRPC is not a function" at attempt to log in or sign up"
### Description

*Type*: Bug
*Summary*:
![err1](https://user-images.githubusercontent.com/4557972/44330106-de6f6400-a46e-11e8-8f34-ce19c6c334a7.png)
when you log in to desktop. If you type on OK, app is hanging.

#### Expected behavior
can log in

#### Actual behavior
cannot log in; if try to create new account, got error:
![error1](https://user-images.githubusercontent.com/4557972/44330335-65bcd7

[2018-08-20 08:54] mandrigin opened #5559 "Use biometric sensors for DApps login (`personal_sign`)"
### User Story

As a user, I want to be able to sign in to CryptoKitties or other DApps using biometric sensors on my phone or tablet.

Security Notes:
This will require storing the password somewhere to the device. Make sure that the password or it's encryption key is very-very hard or impossible to get from the device.

Take rooted/jailbroken devices into account (maybe disable this feature if j

[2018-08-20 08:55] rachelhamlin commented on #5554
@chadyj @obi2020 you don't need password if you have recovery phrase, so do we need a forgot password flow?

On the flip side, if you know your old pw and want to re-use it, I think that's probably okay—but can investigate if some vulnerability is introduced by doing so.

If anything, it's probably just not clear that the password essentially doesn't matter for recovery.

[2018-08-20 09:17] lukaszfryc commented on #3392
I think this is common for 90% of the apps. I'll addd `low-severity` and `low-priority` labels

[2018-08-20 09:17] status-open-bounty commented on #3392
Current balance: 0.0 ETH
Contract address: [0x1141b66875e56b473856447964f4eb8eea72f210](https://etherscan.io/address/0x1141b66875e56b473856447964f4eb8eea72f210)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3392/461a6095e0ed7ad04396f1e705c9cfddd15546819044c45d4b83d92afb5aabcf/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://

[2018-08-20 09:19] lukaszfryc commented on #3153
@annadanchenko I think it might be fixed in some recent version by @cammellos

[2018-08-20 09:25] lukaszfryc commented on #5529
This is really cool! It would be great to have it before ETHBerlin

[2018-08-20 09:48] annadanchenko commented on #3153
could not reproduce on recent builds

[2018-08-20 09:48] #3153 closed, assigned to nobody

[2018-08-20 09:54] rachelhamlin opened #5561 "Add SuperRare to DApp list"
### User Story

As a user, I want to see the SuperRare DApp in Status' curated list so I can buy rare digital art.

### Description

*Type*: Feature

*Summary*: Add SuperRare DApp to Status.

Category: Marketplaces

Description: `Buy, sell and collect unique digital creations by artists around the world`

URL: https://superrare.co/market

[SVG on gdrive](https://drive.google.com/open?id=1GptGsOCQw

[2018-08-20 10:19] annadanchenko opened #5563 "java.lang.NoSuchMethodError: No static method SendTransaction(Ljava/lang/String;Ljava/lang/String;) and crash if send ETH from Wallet"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Android only. Sent ETH from Wallet and got crash after signing transaction:
[code]
Note that same scenario for wallet refactoring PR https://git

[2018-08-20 12:11] lukaszfryc commented on #4814
Our users also report it ([Instabug](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/494)). @flexsurfer could you take a look at it? Nastya suggested removing this dapp until the problem is fixed.

[2018-08-20 12:27] lukaszfryc commented on #5549
This issue is described in https://github.com/status-im/status-react/issues/4865 and will be included in the next release (0.9.26).

[2018-08-20 12:27] #5549 closed, assigned to nobody

[2018-08-20 12:46] annadanchenko commented on #5563
work fine on next nightly build https://ci.status.im/job/status-react/job/nightly/591/

<blockquote><img src="/static/b2f7dc7b/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/nightly/591/">status-react » nightly #591 [Jenkins]</a></strong></div></blockquote>

[2018-08-20 12:54] #5439 closed, assigned to nobody

[2018-08-20 12:59] lukaszfryc commented on #5551
Hi @ankaqwerty, thanks for the issue. Here is how it works on my side (tested on Android, Status 0.9.25)

When I log out, receive a notification, open the app and log in again I see the chat with 1 unread message. And, this is what I expect to see.

Actually, the chat **should** re-appear when new message is received.

---

Maybe these issues were due to mailservers unavilability, did you see some

[2018-08-20 13:01] #4732 closed, assigned to rasom

[2018-08-20 13:48] maxhora opened #5566 "Integrate, resolve failing and run CLojureScript unit tests for Desktop platform"
### User Story

Jenkins Desktop builds are not running unit tests for ClojureScript code and that's the one of the reasons why we receive Desktop nightly builds broken few times per week, spending additional effort to investigate the reason of failures.

### Description

*Type*: Feature

*Summary*: CI Jenkins builds should be extended with CLJS unit tests running.

#### Expected behavior
All avail

[2018-08-20 13:57] chadyj commented on #2892
Closing this as as Andrey said "it works as designed"

[2018-08-20 13:57] #2892 closed, assigned to nobody

[2018-08-20 14:45] asemiankevich opened #5567 "Sensitive data is shown in TF logs"
### Description

*Type*: Bug

*Summary*: we had an issue to hide user sensitive data from test fairy service logs https://github.com/status-im/status-react/issues/3876. Now this issue is still in place.

#### Expected behavior

 Hide user sensitive data. Please see https://github.com/status-im/status-react/issues/3876 for more details.

#### Actual behavior
![image](https://user-images.githubuserc

[2018-08-20 15:25] #5558 closed, assigned to maxhora, flexsurfer

[2018-08-20 16:03] #3911 closed, assigned to goranjovic, denis-sharypin

[2018-08-20 16:04] #5243 closed, assigned to goranjovic

[2018-08-20 16:26] lukaszfryc opened #5568 "Gas price is always set to 1 gwei"
### Description

*Type*: Bug

*Summary*: Gas price for a transaction is always set to 1 gwei even if user specifies custom gas price in Transaction Fee -> Advanced settings. The transaction history first shows the custom gas price but after fetching data from etherscan it changes to the real gas price that was used for the transaction (1 gwei).

#### Expected behavior
Use gas price specified in Tr

[2018-08-20 20:22] vitvly commented on #4439
@Churik Can we close this given that #5241 is done, or is there some stuff still do in scope of this issue?

[2018-08-20 20:47] obi2020 commented on #5554
Here's what I'm working with, as a starting point: https://docs.google.com/presentation/d/1WPpqaCPEjrmTRayZZQWvuhznSSBW3uN48VpaIMmfEq8/edit#slide=id.p

Please provide you thoughts & feedback either here or in the doc. A couple things I'm grappling with

- The two CTAs on the first screen are not symmetrical, but I feel there's a distinct difference between creating a Status account and importing a

[2018-08-20 20:48] obi2020 commented on #5554
<img width="1122" alt="screen shot 2018-08-20 at 4 47 52 pm" src="https://user-images.githubusercontent.com/3373750/44365820-d4faf180-a498-11e8-86ef-4cde2a8496c4.png">

[2018-08-20 23:52] EugeOrtiz opened #5570 "Add form validation"
### User Story

As a user, I want to be properly notified about possible errors while filling in forms, so I can properly use Status desktop.

### Description
*Type*: Feature

*Summary*:
There are different instances where the user needs to fill in information that we need to validate.
Instances:
- Onboarding (sign in/sign up/recover account)
- New 1:1 chat > contact code
- New public chat > topic

[2018-08-21 00:16] obi2020 commented on #3918
Suggest text place holder, which might exist if user has < 3 or 4 contacts

_Deep link to contact code sharing screen and public chat list, respectively_

@errorists wdyt?

[2018-08-21 07:12] errorists commented on #3918
@obi2020 Thanks! Not sure about the contact code part, I mean it's not the most convenient way to share your profile deets anymore with the introduction of universal links. Take a look at this below, how would you word it differently? Also, the design [is there in Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=39%3A0) if you wish to take a stab at it

<img width="468" alt=

[2018-08-21 07:54] churik commented on #5570
closed as duplicate of https://github.com/status-im/status-react/issues/5117. Solution was added to
https://github.com/status-im/status-react/issues/5117.

[2018-08-21 07:54] #5570 closed, assigned to nobody

[2018-08-21 08:10] churik opened #5571 "status_im.utils.notifications.request_permissions is not a function after creating account and first log in"
### Description

*Type*: Bug

*Summary*: after creating account and first log in I'm getting an error `status_im.utils.notifications.request_permissions  is not a function`  and when I click on "OK', I can proceed.

#### Expected behavior
no error is shown

#### Actual behavior
![2018-08-21 11 00 12](https://user-images.githubusercontent.com/4557972/44388984-4c309400-a532-11e8-8a16-e16514323120.jp

[2018-08-21 08:13] lukaszfryc commented on #4431
I cannot replicate it anymore.

[2018-08-21 08:13] #4431 closed, assigned to goranjovic, lukaszfryc

[2018-08-21 08:39] chadyj commented on #4340
Closing as nightlies will no longer go to TF

[2018-08-21 08:39] #4340 closed, assigned to nobody

[2018-08-21 08:48] lukaszfryc commented on #5567
yes, it was probably introduced by #5521. @rasom could you check?

[2018-08-21 09:15] #5224 closed, assigned to goranjovic

[2018-08-21 09:31] #5467 closed, assigned to gnl

[2018-08-21 10:11] #5568 closed, assigned to goranjovic

[2018-08-21 10:55] churik opened #5573 "Chat history jumps to last message at different actions (scrolling history to the top, switching between chats, hitting send)"
### Description

*Type*: Bug
*Summary*:
When you are switching between chats instead of showing last message app scrolling through history and then jumps to last message (looks like flickering).
Depends on laptop characteristics, glitches are shown ~50 ms (16 GB onboard memory)  to ~100-150 ms (4 GB onboard memory).
Can be related to https://github.com/status-im/status-react/issues/5271
Also app j

[2018-08-21 10:57] chadyj commented on #5573
From Max:

[2018-08-21 11:15] #5293 closed, assigned to dmitryn

[2018-08-21 11:28] rachelhamlin commented on #5554
@obi2020 awesome. Just commented with my thoughts. I really like `Import wallet` as the bottom CTA. Why not use an active verb for `New account` as well (e.g. Create account)?

[2018-08-21 13:10] goranjovic opened #5576 "Refactor all subs that use keyword as function"
### Description

Originally found while debugging issue #5353.

`(re-frame/reg-sub :browsers :browser/browsers)`

What happens in the example above is that keywords as functions accept two params:
1. the map
2.  result if not entry found.

Subs on the other hand pass params as follows:
1.  `db` i.e. also map
2. vector with sub name and any additional params, e.g. in this case `[:browsers]`

So  #5

[2018-08-21 13:17] goranjovic commented on #5353
Managed to consistently reproduce it by tapping the Sign in button rapidly in PR #5494. The root underlying issue was an interface mismatch between subscription functions that became visible when multitapping brought the app to an invalid state.

I (hopefully) fixed both problems in that PR - being able to multitap and the mismatch issue. As a follow up, we should make sure to check other places w

[2018-08-21 13:18] #4860 closed, assigned to vkjr

[2018-08-21 13:20] EugeOrtiz commented on #5570
@churik Ok, we need to make sure to replicate the same issue when sign in/up flows get implemented.

[2018-08-21 13:26] annadanchenko commented on #5563
now it happens again for same steps on new nightly build https://ci.status.im/job/status-react/job/nightly/594/
See TF session: https://app.testfairy.com/projects/4803622-status/builds/8564857/sessions/4399026405/?accessToken=yGXBA5XqMXcMO0xWwokXp4XbJPc

<blockquote><img src="/static/db91a816/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/nigh

[2018-08-21 14:50] pablanopete commented on #5347
@tbenr Will need to follow up with you manually like before, does the same address work well for you?

[2018-08-21 14:57] pablanopete commented on #4327
@georgiemathews thank you for your work on this bounty; unfortunately sorry for the slow response on bounty payout, could you drop your wallet address here so I can send you the bounty amount Out of Band while we wait on a dashboard fix in Status Open Bounty.

If you don't feel comfortable putting it here in the comment could you email a ERC20 compatible wallets address to me? chris.hutchinson@sta

[2018-08-21 15:22] ankaqwerty commented on #5551
Hi, @lukaszfryc !

There were no messages about mailservers unavailability.
The steps that should be followed are:
1) Create a 1-1 chat between users A and B
2) Delete that chat by user A
3) Log out as a user A
4) Send a message in the chat as user B
5) Login as user A and check that your chat has re-appeared with a message.
The current result is that the chat does **not** re-appear

This is Statu

[2018-08-21 15:25] tbenr commented on #5347
Ok! Yes same address. Thanks!

[2018-08-21 15:33] Serhy opened #5578 "`Error: Does not support name in asset-selector` app crash when sending transaction from 1-1 chat"
***Type***: Bug

***Summary***: ```Error: Doesn't support name: ``` appears when transaction  is sent from 1-1 chat. Actual transaction is sent and transaction message appears in chat, thought. No exact stept to reproduce for far but there are logs attached in TF session below.

#### Expected behavior
Transaction is sent

#### Actual behavior
<img width="228" alt="screen shot 2018-08-21 at 18 27 2

[2018-08-21 17:13] pablanopete commented on #4327
Payment Sent!

[2018-08-21 17:30] pablanopete commented on #5347
Payment sent!

[2018-08-21 17:30] pablanopete commented on #4108
Message sent about payment.

[2018-08-22 02:05] 751895405 commented on #4108
@pablanopete thank you send me message and my wallet address: 0x39e494fb02764904a9d89d70a149d19331654e21

[2018-08-22 06:25] chadyj opened #5581 "Create separate desktop versions for daily usage and dev/testing"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to use Status for both chatting and dev/testing so that I can always have a version of Status running for reliable chatting.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

To use Status for chatting everyday we need a reliable version for chatting whilst

[2018-08-22 07:16] chadyj commented on #5573
This issue also happens when typing a new message and hitting send. For a split-second the screen jumps to the top, then back down again.

[2018-08-22 07:30] rachelhamlin opened #5582 "Add BRLN coin to mainnet assets"
### User Story

As an ETHBerlin attendee, I want to be able to use the Berlin coin for completing Bounties on Bounties Network during ETHBerlin (and beyond??).

### Description

*Type*: Feature

*Summary*:

Add Berlin coin to mainnet assets.

Contract address: 0x80046305aaab08f6033b56a360c184391165dc2d

[BRLN icon](https://drive.google.com/open?id=1M6N5xfS9gXqGvO04CbxaWv6FH5EvjkEB)

#### Expected

[2018-08-22 08:23] #5021 closed, assigned to chadyj

[2018-08-22 08:32] #5260 closed, assigned to flexsurfer

[2018-08-22 09:01] rachelhamlin opened #5583 "Stronger security checks in browser"
### User Story

As a user, I want my browser to check pages for suspected threats so that I'm protected against malicious behavior on web3.

### Description

*Type*: Feature

*Summary*: The goal is to do more than simply verify whether an SSL cert is valid. We'll use Google Safe Browsing APIs to check for content that matches unsafe webpages.

Google's black list includes phishing sites and sites

[2018-08-22 09:11] asemiankevich opened #5584 "Implement Manage permissions screen and option for web3 provider Opt-in access"
### Description

*Type*: Feature

*Summary*:
Nov 2 deadline

Continue implementation of https://github.com/status-im/status-react/issues/5260 task. First part was implemented in https://github.com/status-im/status-react/pull/5497 (web3 injection was a priority). This task implements `manage permissions` screen and option.

#### Expected behavior

![image](https://user-images.githubusercontent.com/

[2018-08-22 09:16] chadyj opened #5585 "Fact check the technical accuracy of marketing"
From the wall of shame:

Todo:
1. Review marketing claims and statements >> [DOC](https://docs.google.com/document/d/14Twg1zPb-NNQmzev1AADETqNpoWZC_jZuF3jhWzUUNM/edit?usp=sharing)
2. Fact check and clarify

[2018-08-22 09:21] chadyj commented on #796
Work has started here https://github.com/status-im/status-go-sdk/issues/35

[2018-08-22 09:44] chadyj opened #5586 "Perfect Forward Secrecy (PFS)"
This is a meta issue for implementing PFS and is mostly used as an overview and for visibility.

Discussions

- [Kick off thread](https://discuss.status.im/t/forward-secrecy/150)
- [PFS and wallet recovery](https://discuss.status.im/t/pfs-and-wallet-recovery/335/1)
- [Idea PR discussion](https://github.com/status-im/ideas/pull/289)
- [Slack](https://status-im.slack.com/messages/CC6C0271B)

Idea:

[2018-08-22 09:48] chadyj opened #5587 "End-to-end Deterministic Builds"
We have no idea if our build and release pipeline is compromised and the binary in distribution channels is legit. Having multiple parties and then sign reduces our attack surface of hacks/bugs in software to at least the version control and source code is a huge win.

Also having this means we will have deterministic builds, which will dramatically reduce the high barrier of entry for developers

[2018-08-22 09:55] chadyj opened #5588 "Requires JSON-RPC server to work (SPOF)"
JSON-RPC is the only means by which a user can connect to Ethereum using Status. It's a trusted intermediary, not decentralized. Light client/ULC is required for decentralization.

Issue:
- [Re-enable LES as option](https://github.com/status-im/status-go/issues/1025)

[2018-08-22 09:56] chadyj opened #5589 "Cluster DDoS protection"
Our cluster is easy to take down and it's also a single point of failure; service stops if it's attacked.

More context:

[2018-08-22 09:56] chadyj opened #5590 "Whisper spamming protection"
Whisper uses PoW as an anti-spam mechanism, but we have had to reduce this for mobile usage, combined with a SNT staking mechanism we can disourage spam further and compensate nodes for having to deal with it.

Notes:
- [Notes](https://hackmd.io/UaP81E_QSTe7eOhBb_Caag)

[2018-08-22 09:56] pedropombeiro commented on #5563
I saw this issue with tonight's nightly just by starting the app (it appeared immediately after the nightly popup warning, without user interaction).

![screenshot_20180822-101253](https://user-images.githubusercontent.com/138074/44457032-6e91e280-a602-11e8-88f3-04ef54859cfd.jpg)

[2018-08-22 09:57] chadyj opened #5591 "Easy to DDoS with whisper packages"
Whisper uses PoW as an anti-spam mechanism, but we have had to reduce this for mobile usage, combined with a SNT staking mechanism we can disourage spam further and compensate nodes for having to deal with it.

[2018-08-22 09:58] chadyj commented on #5591
Dupe

[2018-08-22 09:58] #5591 closed, assigned to nobody

[2018-08-22 09:59] chadyj opened #5592 "Cluster Single Point of Failure"
Cluster is 'Centralized' thinking and we should be setting our systems up so they are decentralized. Let's not get into a position where we are like Infura (who spends $500k - 1M a month to serve requests) it's unnessary and antithetical to what we're trying to achieve.

[2018-08-22 10:08] annadanchenko opened #5593 "json: cannot unmarshal invalid hex string error if send transaction with Gas price 2.3 wei"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Send tx with Gas price set to 0.0000000023 Gwei (2.3 wei) and get Failed transaction with error message
[code]
![screenshot_20180822-112813](htt

[2018-08-22 10:33] chadyj opened #5594 "Contact back up - PFS and wallet recovery"
Discussion on [discuss.status.im](https://discuss.status.im/t/pfs-and-wallet-recovery/335)

[2018-08-22 11:02] annadanchenko commented on #5563
on Android build from nightly https://jenkins.status.im/job/status-react/job/nightly/600/ can reproduce the issue with sending funds too

<blockquote><img src="/static/db91a816/favicon.ico" width="48" align="right"><div><strong><a href="https://jenkins.status.im/job/status-react/job/nightly/600/">status-react » nightly #600 [Jenkins]</a></strong></div></blockquote>

[2018-08-22 11:27] churik opened #5595 "Add emojis to status-desktop"
### User Story

As a user, I want to have emojis in chat that I'm using

### Description

*Type*: Feature
*Summary*: add emojis to Status-desktop would be a great addition to current chat, because on desktop there is no emoji keyboard unlike in mobile.
How it looks in Slack (desktop client):
<img width="264" alt="sl" src="https://user-images.githubusercontent.com/4557972/44460459-cede4f80-a615-11e

[2018-08-22 11:32] annadanchenko commented on #5563
on Android build https://jenkins.status.im/job/status-react/job/nightly/609/ if install and run app (not upgrade) then have similar issue as in https://github.com/status-im/status-react/issues/5563#issuecomment-414979259

 TF session https://app.testfairy.com/projects/4803622-status/builds/8566051/sessions/4399093797/?accessToken=G5dyZEBh3wKpTJNkZ-Pl5cIENOo

[code]

[2018-08-22 11:47] maxhora commented on #5573
Currently, implementation for ScrollView optimization resets underlying data model on any message add/delete. Updating implementation to have data model with incremental data updates support (not required to reset and re-draw all items every time on data change ) and, probably, setting of currentIndex to the last item in model, might help with ui glitches related to strange jumping.

[2018-08-22 12:14] churik opened #5597 "Cannot navigate to user profile from public chats when he sent several messages in a row or from chat history ~> 2 days ago"
### Description

*Type*: Bug

*Summary*:
Sometimes (~50% cases) I cannot navigate to user profile, if he sent several messages in a row or when I scroll to chat history and click on user pic from history > 2 days.

From https://github.com/status-im/status-react/pull/5546:

#### Expected behavior
navigated to user profile

#### Actual behavior
cannot navigate when clicking on user picture
<img widt

[2018-08-22 12:54] chadyj opened #5598 "Chat spec and documentation"
* The protocol messages (communication between two status peers) will be defined using `protobuf` so that people can re-use the schema if they wish to do so.

* The protocol interactions will be described in a document similar to https://tools.ietf.org/html/rfc6101#section-5.6.3

* The public high level RPC api can be described again using protobuf including the endpoints https://developers.google

[2018-08-22 12:54] yenda opened #5599 "Concurrency issue with dispatch-later during account login"
### Problem

`:sync-wallet-transaction` and `:check-sync` (only on non-rpc nodes) are self-firing events that `dispatch-later` themselves and form an event-loop.
When the user logs out these events keep firing and they add up because a new event loop starts every time user logs in until the app is killed.
A guard on the event that checks if the event is fired is not a complete solution because if

[2018-08-22 13:22] goranjovic commented on #5582
@rachelhamlin what's a good way to get some tokens for testing?

[2018-08-22 13:23] rachelhamlin commented on #5583
@corpetty @mandrigin I'd love to pick your brains about this.

Can we use [Google Safe Browsing APIs](https://developers.google.com/safe-browsing/), or do we need a custom solution? What's the deal with ENS' DNS layer?

[2018-08-22 13:27] rachelhamlin commented on #5582
@goranjovic I knew I forgot something. :) I'll ping them.

[2018-08-22 14:09] rachelhamlin opened #5603 "Update Bounties Network URL"
### Description

*Type*: Feature

*Summary*: Change URL for Bounties Network DApp to `https://berlin.bounties.network`.

#### Expected behavior
Bounties Network DApp launches `https://berlin.bounties.network`.

#### Actual behavior
Bounties Network URL is `https://moksha.bounties.network'.

<blockquote><img src="https://bounties.network/images/bountiesexplorer.png" width="48" align="right"><div><s

[2018-08-22 14:33] lukaszfryc opened #5604 "Password tooltip showed in account creation is cropped out"
### Description

*Type*: Bug

*Summary*: Password tooltip is cut off in the password confirmation screen:

<img src="https://user-images.githubusercontent.com/7532782/44469717-69478e80-a628-11e8-96e5-4459dd7b66dd.png" width="200">

#### Expected behavior
Tooltip is fully visible.

#### Actual behavior
Tooltip is below the logo area.

### Reproduction

- Provide different passwords while creating a

[2018-08-22 14:39] Neurone commented on #4999
@lukaszfryc This feature is present since 0.9.13 but you must be on the main network to see it. KIN tokens [was added last year](https://github.com/status-im/status-react/commit/2256628c97897c05064f8eb57687f69e2ca41c97) by @jeluard, you can assign the bounty to him 😃

[2018-08-22 15:14] Neurone commented on #4297
@jeluard I think there is a misunderstanding:
- @asemiankevich is scanning a QR code representing an ethereum address, not a _transaction request_
- The problem is clearly in MetaMask: if you scan a plain QR code - i.e. generated by Etherscan - it works well
- MetaMask [_blindly_ inserted the "ethereum:" prefix a year ago](https://github.com/MetaMask/metamask-extension/pull/1592) as a quick and di

[2018-08-22 16:02] #5184 closed, assigned to rcullito, vkjr

[2018-08-22 16:04] lukaszfryc opened #5605 "Order of new messages can be changed by setting up custom date on the device"
### Description

*Type*: Bug

*Summary*: It is possible to rewrite chats history if user changes date settings of his device (e.g. changes current date to yesterday). Then, the other user who receives messages shows them in the middle of the chat. By this, it's very easy for a malicious user to break public chat history. It is also an issue from security point of view.

#### Expected behavior
Inco

[2018-08-22 17:42] DarthJahus commented on #4614
Hello, I'd like to add up my voice to this query.

Status being an "explorer for decentralized applications", it should consider as many ways as possible to transfer people from actual wallet solutions (like MetaMask, MyEtherWallet/MyCrypto, etc.) because people would like to keep the same address through their devices, or – if they have already signed up to some DApps – would like to keep their a

[2018-08-22 18:15] obi2020 commented on #5554
Good point. `Create account` it is.

Could we talk about what defines an "account" - what is contained within a Status account?

[2018-08-22 18:49] obi2020 commented on #5554
A related discussion is happening here https://discuss.status.im/t/pfs-and-wallet-recovery/335/5

There's more to do here re: communicating how contacts work for restored accounts

<blockquote><img src="https://discuss.status.im/user_avatar/discuss.status.im/obi2020/200/48_1.png" width="48" align="right"><div><img src="/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" heig

[2018-08-22 19:15] chadyj commented on #104
Closing. We have Status working in tablet view in portrait and landscape.

[2018-08-22 19:17] #567 closed

[2018-08-22 19:22] chadyj commented on #730
This should be fixed now

[2018-08-22 19:23] chadyj commented on #651
Closing as we don't currently support sync.

[2018-08-22 19:25] chadyj commented on #875
Hi. We now support a custom URL scheme's https://wiki.status.im/Universal_Links

<blockquote><img src="/favicon.ico" width="48" align="right"><div><strong><a href="https://wiki.status.im/Universal_Links">Universal Links - Status Wiki</a></strong></div></blockquote>

[2018-08-22 19:25] #875 closed

[2018-08-22 19:28] chadyj commented on #913
We now provide a way to identify Status
https://wiki.status.im/Adding_your_DApp_to_Status#Identify_Status_Client

<blockquote><img src="/favicon.ico" width="48" align="right"><div><strong><a href="https://wiki.status.im/Adding_your_DApp_to_Status#Identify_Status_Client">Adding your DApp to Status - Status Wiki</a></strong></div></blockquote>

[2018-08-22 19:28] #913 closed

[2018-08-22 19:29] #1184 closed

[2018-08-22 19:30] chadyj commented on #1288
No longer an issue. Closing.

[2018-08-22 19:30] #1288 closed

[2018-08-22 19:32] chadyj commented on #1378
Shouldn't be an issue anymore. Closing.

[2018-08-22 19:32] #1378 closed

[2018-08-22 19:35] chadyj commented on #1592
In progress with https://github.com/status-im/status-react/issues/4866 and https://github.com/status-im/status-react/pull/5606

[2018-08-22 19:35] #1592 closed

[2018-08-22 19:36] chadyj commented on #1633
UX in profile has been redone. Closing.

[2018-08-22 19:36] #1633 closed, assigned to nobody

[2018-08-22 19:37] chadyj commented on #1765
WIP here https://github.com/status-im/status-react/pull/5606

[2018-08-22 19:37] #1765 closed, assigned to nobody

[2018-08-22 19:38] chadyj commented on #1970
Fastlane handles Diawi uploads and logic now. Should be fixed.

[2018-08-22 19:38] #1970 closed, assigned to nobody

[2018-08-22 19:39] chadyj commented on #2213
We no longer have syncing. Closing.

[2018-08-22 19:39] #2213 closed, assigned to nobody

[2018-08-22 19:41] chadyj commented on #2503
Closing as per the suggestion

[2018-08-22 19:41] #2503 closed, assigned to nobody

[2018-08-22 19:49] chadyj commented on #3457
This has happened!

[2018-08-22 19:49] #3457 closed, assigned to nobody

[2018-08-23 06:44] #104 closed

[2018-08-23 08:44] churik opened #5611 "Apply design for messages with emojis"
### User Story

As a user, I want to see my messages with emojis are formatted nicely

### Description

*Type*: Feature

*Summary*: emojis are too small and are located too close in Status-desktop:
![emoj](https://user-images.githubusercontent.com/4557972/44514497-f5a98e00-a6c8-11e8-840d-380ed3f3ca3b.png)

Design specs: zpl.io/29yPdGe
![emojis - status desktop - zeplin 2018-08-23 11-43-11](https:/

[2018-08-23 09:10] vkjr commented on #5595
@EugeOrtiz, do we have a design for popup with emojis?

[2018-08-23 09:16] #5064 closed, assigned to vkjr

[2018-08-23 09:17] errorists commented on #5561
![sr-80](https://user-images.githubusercontent.com/4932774/44516683-fbea3b00-a6c5-11e8-978a-39859919aaef.png)
Attached asset

[2018-08-23 09:31] annadanchenko opened #5612 "Invalid value for contact code can be used in universal link. We need to validate it"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Currently, via universal link like https://get.status.im/user/CONTACTCODE it's possible to open user profile, even if CONTACTCODE is not a valid

[2018-08-23 09:46] annadanchenko opened #5613 "Address can be used as a valid value for Contact code filed when starting a chat"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: No error message is shown and contact can be added if use valid address value instead of public key/ens name to Start new chat. After adding suc

[2018-08-23 10:13] rachelhamlin commented on #5554
@obi2020 👍 cool. Just shot Andrea a question on the thread. Sounds to me like you recover your wallet but it more or less generates a new "chat account" each time.

[2018-08-23 10:19] annadanchenko commented on #5292
no issue with mailserver B anymore

[2018-08-23 10:19] #5292 closed, assigned to nobody

[2018-08-23 11:09] #5310 closed, assigned to goranjovic, denis-sharypin

[2018-08-23 11:09] #5353 closed, assigned to goranjovic

[2018-08-23 13:01] Serhy opened #5616 "Persistent error "Intrinsic gas too low" popup when buying cryptokitty"
***Type***: Bug

***Summary***: When I'm trying to make a tranaction in CryptoKitties (buy cryptokitty/breed cryptokiities) it always ends up with "Intrinsic gas too low".
This is due gas limit pre-set to default 21000, which is too low value for such type of transactions.
We somewhere fail to pull the "correct" gas limit value in such cases, and so until it changed manually transactions in crypto

[2018-08-23 14:33] Serhy opened #5620 "Continuous "Connecting to peers..." after app appears online after ~10 minutes of device being offline"
***Type***: Bug

***Summary***: When app is running but a device is offline for some time (2-3 minutes), - when network connection established app cannot connect to any of mailservers. 'Connecting to peers...' appears all the time on Home/Chat screens and it's also visible on 'Mailserver settings' list that app tries to connect to mailservers all the time.
The same happens if app has stayed in the

[2018-08-23 14:54] asemiankevich opened #5621 "Sign in is not working in Superrare dapp"
### Description

*Type*: Bug

*Summary*: cant sign in to Superrare dapp in Status

#### Actual behavior

we have this error
`Error: Wrong response id "1" (expected: "5") in {"jsonrpc":"2.0","id":5,`

### Reproduction

- Open Status
- Open https://superrare.co/market
- Sign in

<blockquote><img src="https://pbs.twimg.com/profile_images/980939084637048833/Hr3WdoK4_400x400.jpg" width="48" align="righ

[2018-08-23 15:15] #5561 closed, assigned to flexsurfer

[2018-08-23 16:45] wolfgangshilei commented on #5604
Firstly, this issue can only be reproduced on the Android platform, and it seems to be linked with the following issue of react-native:
[https://github.com/facebook/react-native/issues/6802](https://github.com/facebook/react-native/issues/6802)

Besides the password confirmation screen shown above, I found other two screens that suffer from the same problem:

Sign-in:
![sign-in](https://user-image

[2018-08-23 17:00] annadanchenko opened #5623 "Bancor: "Oh, no..." error if try to buy token for ETH (or SNT)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: in Bancor DApp: No Send transaction screen is shown if try to buy token for ETH (or SNT) instead there is Oh no error

on release 0.9.25 with iO

[2018-08-23 17:22] EugeOrtiz opened #5624 "Change color of secondary options in chat header"
### Description

*Type*: Bug

*Summary*: Change -temporarily- secondary options color from red to black (#000000) so it doesn't look like an error or a warning:

Public chat:
<img width="686" alt="captura de pantalla 2018-08-23 a la s 1 32 06 p m" src="https://user-images.githubusercontent.com/37297779/44541244-b470a880-a6df-11e8-8c43-9a024605774a.png">

1:1 chat:
<img width="690" alt="captura de

[2018-08-23 17:25] EugeOrtiz commented on #5595
Nope, I'll work on that :)

[2018-08-23 18:29] andytudhope commented on #2934
@oskarth @yenda can we close here? Bounty has been revoked.

[2018-08-23 18:45] andytudhope commented on #1691
How about now @oskarth - can we close here?

[2018-08-23 19:12] andytudhope commented on #2884
@yevh-berdnyk can we close here?

[2018-08-23 19:42] andytudhope commented on #1762
@asemiankevich @goranjovic can we close here?

[2018-08-23 19:48] andytudhope commented on #4158
@lukaszfryc @yevh-berdnyk is this issue still relevant?

[2018-08-23 19:59] andytudhope commented on #4606
@liamzebedee are you still working on this?

[2018-08-23 20:37] liamzebedee commented on #4606
@andytudhope no not anymore!

[2018-08-23 21:05] maxhora opened #5626 "Update react-native-desktop to v0.56 of react-native"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want consistency between build tools on Mobile and Desktop platforms: similar version of react-native should be used.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: <Bug>

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did,

[2018-08-24 00:04] #2934 closed, assigned to nobody

[2018-08-24 07:16] lukaszfryc commented on #4393
@tbenr a long username got smaller but it still covers the done button:

<img src="https://user-images.githubusercontent.com/7532782/44570443-2d264200-a77e-11e8-902f-ab17fa474ab2.png" width="200">

No one will probably use such long names but anyway, let's not make the text smaller but instead truncate it with "..." at the end. By this, we will make sure it always look good even with long username

[2018-08-24 07:20] lukaszfryc commented on #5604
Hi @wolfgangshilei! Thanks for your investigation. Feel free to contribute!

[2018-08-24 07:24] #5616 closed, assigned to nobody

[2018-08-24 07:26] mandrigin commented on #5563
@annadanchenko we cleaned up all the runners now. is it still happening in the latest nightly and the latest release branch? if not, please close it :)

[2018-08-24 08:08] #5621 closed, assigned to flexsurfer

[2018-08-24 09:10] lukaszfryc opened #5629 ""null is not an object" after account recovery"
### Description

*Type*: Bug

*Summary*: I got `null is not an object` error after I recovered account on iOS. The app worked fine when error was closed. I could not reproduce the error next time I recovered my account.

<img src="https://user-images.githubusercontent.com/7532782/44575988-bf821200-a78d-11e8-96b0-1fb4267680fe.png" width="200">

### Reproduction

It happened after I installed `ee044

[2018-08-24 09:10] lukaszfryc commented on #5629
This maybe fixed by https://github.com/status-im/status-react/issues/5232

[2018-08-24 09:14] lukaszfryc opened #5630 "Small dot appears when transaction history has filters"
### Description

*Type*: Bug

*Summary*: A small dot appears when filters are set in the transaction history screen. It's only a UI issue:

<img src="https://user-images.githubusercontent.com/7532782/44576278-6ff01600-a78e-11e8-9a9e-b40d15b3cea1.png" width="200">

### Reproduction

- Have some transactions
- Go to transaction history, open filters and set some filter
- Go back to the transaction h

[2018-08-24 09:16] churik commented on #4797
Same behavior when you navigate to user profile from user history:
Steps:
1. Open Status
2. Open public chat
3. Scroll up to yesterday history
4. Tap on user pic
5. Select "View profile"
6. Tap on "Back"

[2018-08-24 10:07] lukaszfryc commented on #5620
I just had it on iPhone 8 on Ropsten. Here is the [geth.log](https://github.com/status-im/status-react/files/2317909/geth.log)

[2018-08-24 11:07] tbenr commented on #4393
@lukaszfryc - going back from vacation. Next week I'll apply the changes.

[2018-08-24 11:35] #5599 closed, assigned to yenda

[2018-08-24 12:17] #5286 closed, assigned to mandrigin, yenda

[2018-08-24 12:30] jeluard commented on #4297
The idea is to not hard fail when reading a transaction request missing the network id. Which is the majority of QR code around AFAIK.

[2018-08-24 12:54] yenda commented on #5576
@goranjovic I believe this can be closed ? I saw the commit in develop

[2018-08-24 12:57] goranjovic commented on #5576
@yenda which one? I only addressed one instance in that PR, there's dozens more, just grep `reg-sub`

[2018-08-24 12:59] lukaszfryc opened #5634 "Universal links do not work when some character in the url is capitalized"
### Description

*Type*: Bug

*Summary*:

When universal link has a capital character the link opens in Status (or external) browser instead of navigating to the user profile inside Status app. Also, when a user goes ahead, opens the webpage in Status Browser and then clicks "Open in Status" button, the user profile opens but navigating back results in an `re-find must match against string` error

[2018-08-24 13:19] #5623 closed, assigned to flexsurfer

[2018-08-24 13:20] andytudhope commented on #1720
@asemiankevich can we close here?

[2018-08-24 13:25] #1720 closed, assigned to nobody

[2018-08-24 13:35] #5612 closed, assigned to yenda

[2018-08-24 13:35] #5613 closed, assigned to yenda

[2018-08-24 13:47] churik commented on #5597
Issue is still exists in https://github.com/status-im/status-react/pull/5633

[2018-08-24 14:00] Neurone commented on #4297
Yes. In fact it works well and it does not hard fail if it is on the mainnet, because missing network id means mainnet. But if the user is on another network (i.e. ropsten) I'm sure it is better continuing to hard fail (maybe with a more clear popup message) then sending a warning and let the user proceed.

[2018-08-24 14:42] asemiankevich opened #5635 "Signing you in screen appears when i tap log in on recover account screen"
### Description

*Type*: Bug

*Summary*: was introduced by @mandrigin in `account.address` fix. We now have additional screen shown to user after he taps Log in on recovery

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/44590931-f58eb880-a7c4-11e8-816e-6062aba01b1b.png)

### Reproduction

- Open Status
- Tap add existing account
- Enter details and sign in

[2018-08-24 16:01] #3883 closed, assigned to nobody

[2018-08-24 16:58] #5582 closed, assigned to goranjovic

[2018-08-24 17:46] jakubgs opened #5636 "Upgrade react-native to 0.56 or higher for status-react"
Currently we cannot build `status-react` on Linux because it fails at:
[code]
with errors like:
[code]
and
[code]
Which stops us from building Android on Linux Jenkins slaves, which is a problem because it's easier for us to scale up Linux slaves rather than MacOS slaves.

I've figured out that if I upgrade `react-native` from our own fork https://github.com/status-im/react-native which is `0.55.4

[2018-08-24 17:53] chadyj opened #5637 "Info.plist file should contain a NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription key"
Received this email from Apple after a recent app submission:

Doesn't look like a blocker but is something we should address eventually.

<blockquote><img src="/documentation/__assets/favicon.ico" width="48" align="right"><div><strong><a href="https://developer.apple.com/documentation/uikit/core_app/protecting_the_user_s_privacy">Protecting the User's Privacy | Apple Developer Documentation</a></

[2018-08-24 18:07] dmitryn commented on #5636
This is already happening in https://github.com/status-im/status-react/pull/5610

[2018-08-24 21:09] yenda commented on #5074
we should only allow punicode though

[2018-08-25 09:27] andytudhope commented on #3046
@jeluard is this issue still relevant or can we close?

[2018-08-25 11:08] jeluard commented on #3046
You ca close it yes!

[2018-08-26 18:04] adambabik opened #5643 "Bring back options to select Mainnet and Ropsten with LES"
### User Story

As a developer, I'd like to test LES synchronization directly on a smartphone.

Blocked by
https://github.com/status-im/status-react/issues/5891

### Description

*Type*: Feature

*Summary*: In the previous week, we successfully run tests and merged a few PRs into status-go that allow to sync the chain using LES. The next step is to bring back options to select Mainnet and Ropsten

[2018-08-27 07:39] churik opened #5645 ""message.chat-id must be of type "string", got null" at attempt send message to user who is not in your contact list"
### Description

*Type*: Bug
*Summary*: if navigate to user profile from public channel and then open "Send message" - Unknown header is shown instead of randomly generated name, at attempt to send the message you've got an error "message.chat-id must be of type "string", got null"

#### Expected behavior
user is automatically added to contacts;
randomly generated name is displayed in chat header;

[2018-08-27 07:54] Serhy commented on #5603
PR to update Bounty Network link is ready. The only issue is that `https://berlin.bounties.network` name is not resolved yet and I'm getting a `berlin.bounties.network’s server IP address could not be found. DNS_PROBE_FINISHED_NXDOMAIN.`
 response.

[2018-08-27 08:44] chadyj opened #5649 "Change react-native-i18n language files to js"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want react-native-i18n language files in js so that I can integrate with Lokalise

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

[Lokalise](https://lokalise.co) is a leading platform to manage translations for apps and websites with a git-based integrated

[2018-08-27 09:11] annadanchenko commented on #5649
other language files to convert in addion to en.cljs: https://github.com/status-im/status-react/tree/develop/src/status_im/translations

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react">status-

[2018-08-27 09:15] annadanchenko commented on #5649
note for testing: check after conversion that
- special chars like é, ự etc are the same as before conversion,
- same amount of strings exist as before the conversion

[2018-08-27 10:00] jeluard commented on #1833
@asemiankevich Is this still an issue? (cc @Serhy )

[2018-08-27 11:12] Serhy opened #5650 "Blank page when accessing .pdf files from Android app browser"
***Type***: Bug

***Summary***: When contacat opens `.pdf` files from Android browser view - a blank screen is shown, no content. It's ok on iOS app webview, though.
When trying to access PDF from Dapp (usually it's `T&Co`, `Terms of use`, `Legal` data) user stays on the same page from where `.pdf` link been tapped on. It's visible, though, that weblink is changed to the respective PDF link (see T

[2018-08-27 11:13] Serhy commented on #1833
Indeed, @jeluard it's not an not an issue anymore, however now `.pdf` files are just blank page on Android app browser.  E.g. try to open http://swap.tech/airswap-terms-of-use.pdf in Android webview.
It's a separate issue though anyway I described in #5650 issue

<blockquote></blockquote>

[2018-08-27 11:25] lukaszfryc commented on #5095
@obi2020 can you suggest a more humand readable copy here? :)

[2018-08-27 11:37] Serhy commented on #4207
Not an issue anymore.

[2018-08-27 11:37] #4207 closed, assigned to nobody

[2018-08-27 11:39] #1833 closed, assigned to nobody

[2018-08-27 12:33] lukaszfryc commented on #3413
I experience this crash every time I install Status and try to scan QR code from wallet. It does not happen the 2nd time I try to scan it but anyway, it's a really poor experience.

@goranjovic could you prioritze this issue?

[2018-08-27 12:34] jeluard commented on #5650
@mandrigin Does that ring a bell?

[2018-08-27 12:45] churik opened #5653 "Asset wasn't changed to ETH at scanning QR when Asset is token (in different networks)"
### Description
*Type*: Bug

*Summary*: at attempt to scan QR when Asset is token and when networks are different (i.e. Ropsten and Mainnet) in different devices warning was shown, but asset wasn't changed to ETH.

#### Expected behavior
asset was changed to ETH

#### Actual behavior
asset wasn't changed to ETH
<img width="142" alt="dai" src="https://user-images.githubusercontent.com/4557972/44660

[2018-08-27 14:03] Serhy opened #5654 "Failed transactions in 1-1 chat displays as ''Confirmed" on TX sender side"
**_Type_**: Bug

**_Summary_**: When a transaction is sent to contact with follow up `/send` message in 1-1 chat (sending from 1-1 chat/Wallet to the contact) but initial transaction eventually fails, - the message in 1-1 chat reflects it as "Confirmed" on transaction sender side (and 'TX not found' on a recipient side).

#### Expected behavior
Failed transactions in 1-1's chat /send message displ

[2018-08-27 15:10] #2869 closed, assigned to mandrigin

[2018-08-27 15:22] jakubgs commented on #5636
Oh, I had no idea, thanks for pointing this out! I'll close this then.

[2018-08-27 15:22] #5636 closed, assigned to nobody

[2018-08-27 15:42] yevh-berdnyk commented on #4158
@andytudhope yes, it's still reproducible on both iOS and Android

[2018-08-27 16:24] churik opened #5656 "Text in input field is not erased when switching to other chat"
### Description

*Type*: Bug
*Summary*: when message field is not empty text should be preserved for selected chat only, so if you are switching to other chat, field should become empty and if you come back again - text should be preserved.
Currently, if text is added in input field, then after switching to another chat - text was preserved. At attempt to send message all text is erased, message i

[2018-08-27 17:38] charlescrain commented on #5496
@jeluard I updated the example to have a `tokenImages` property so you can get images not served from IPFS

[2018-08-27 17:50] tbenr commented on #4393
@lukaszfryc changes applied.

[2018-08-27 19:07] yevh-berdnyk commented on #2884
@andytudhope no, the issue is still exists on both Android and iOS

[2018-08-27 19:19] obi2020 commented on #5095
@lukaszfryc  Is this the only reason this error is shown? If so, I would suggest

If it might be used in other cases, we may need to write it to be more generic.

[2018-08-27 21:53] jakubgs opened #5659 "Display the build URL link somewhere in the UI"
As part of work to improve experience for testers I've added the Jenkins build URLs to Android and iOS metadata:
https://github.com/status-im/status-react/blob/develop/ci/ios.groovy#L12
https://github.com/status-im/status-react/blob/develop/ci/android.groovy#L18

If it's possible I'd like this info made available somewhere in the App UI in the development mode.

[2018-08-28 04:18] yenda commented on #5527
@PombeirP What kind of settings should we offer ? Should we have a toggle between no log and debug level or a list with all possible log levels ?

[2018-08-28 06:30] jeluard opened #5661 "Add documentation about opt-in web3 injection"
### User Story

As a user, I want to have documentation about web3 injection in status

[2018-08-28 06:42] pedropombeiro commented on #5527
@yenda ideally we have a list with `disabled`, `info`, `debug`, `trace`. Normally debug level will be the most interesting, but some times we might need to go down to trace level.

[2018-08-28 07:07] churik opened #5662 "Cannot type password (error `QCoreApplication::postEvent: Unexpected null receiver`)"
### Description

*Type*: Bug
*Summary*: cannot type "Password" in password field, so cannot log in.

#### Expected behavior
can type password and sign in

#### Actual behavior
nothing happens at attempt to type password in password field
<img width="568" alt="typ" src="https://user-images.githubusercontent.com/4557972/44706323-de441980-aaa9-11e8-9ffd-4471e27bede7.png">

### Reproduction

- Open St

[2018-08-28 07:53] #3206 closed, assigned to nobody

[2018-08-28 07:58] #3041 closed, assigned to nobody

[2018-08-28 08:30] pedropombeiro commented on #5598
@chadyj @cammellos https://github.com/pseudomuto/protoc-gen-doc could be used to easily generate documentation from the .proto files in Markdown (or some other) format. An example of the output (of course, we'd need to make the existing comments in the .proto files more helpful):

![image](https://user-images.githubusercontent.com/138074/44710553-ab4f5500-aaac-11e8-82c7-023ce3e684da.png)

Here's a

[2018-08-28 09:52] cryptohazard commented on #2814
Hi, is there any update on this task?

[2018-08-28 11:28] chadyj commented on #5659
`Profile > About` shows app and node version info

[2018-08-28 11:31] lukaszfryc commented on #5095
I think it may also happen when the host (infura.io) is offline

[2018-08-28 11:34] yenda commented on #2814
@cryptohazar at this point we moved all encryption to status-go, so I think we can close this issue @oskarth

[2018-08-28 12:10] mandrigin commented on #5583
For me it is totally ok to start with Google APIs, they should have existing blacklists.
Also, we need to use certificate pinning for the APIs we use (like Infura, Etherscan, etc)

[2018-08-28 12:41] #2814 closed, assigned to nobody

[2018-08-28 13:07] chadyj commented on #5598
Fantastic to see PFS [WIP](https://hackmd.io/I3jM-rbYRdS3Sqvwu_ATqg?both#23-Bundle-retrieval)!

[2018-08-28 14:06] #5401 closed, assigned to nobody

[2018-08-28 14:07] pedropombeiro commented on #5620
This issue should be fixed with https://github.com/status-im/status-react/pull/5664 (needs testing).

[2018-08-28 14:12] rachelhamlin opened #5666 "SSL pinning for third party APIs"
### User Story

As a user, I want to have end-to-end security when sending & receiving data from Status, so that I'm protected from malicious behavior.

### Description

*Type*: Feature

*Summary*: White list SSL certificate keys that the Status client will accept when making requests to a third party API. The goal is to mitigate the risk of man-in-the-middle attacks.

#### Expected behavior
Statu

[2018-08-28 14:13] rachelhamlin commented on #5583
@mandrigin very lightweight issue for security pinning here: https://github.com/status-im/status-react/issues/5666

Would this fall within mobile client team's wheelhouse?

[2018-08-28 14:13] pedropombeiro opened #5669 "Perfect Forward Secrecy spec"
### User Story

As a developer, I want to have a spec for PFS available online so that we have one source of truth for our implementation, and can be easily followed by 3rd parties. This is one of the deliverables of [Iteration 2](https://ideas.status.im/ideas/289-perfect-forward-secrecy#iteration-2) of the PFS swarm.
It is likely that this document will later evolve to become the wider range ment

[2018-08-28 14:16] churik opened #5670 "Cursor jumps to beginning of the row in when quickly typing in "Recovery phrase""
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: cursor in field "Recovery phrase" moves to the beginning of phrase when you are typing fast.

#### Expected behavior
the cursor doesn't move to

[2018-08-28 14:35] #5449 closed, assigned to flexsurfer

[2018-08-28 15:10] churik opened #5673 "Development mode is shown as enabled (actually it is disabled) if create new account after enabling development mode on previous one"
### Description

*Type*: Bug

*Summary*: if you enable development mode on account A, then creating new account - development mode is shown as enabled, but it is not (you cannot see network switching)
<img width="141" alt="dev" src="https://user-images.githubusercontent.com/4557972/44731013-ec665a00-aaea-11e8-8a05-df98ec8b0f13.png">

#### Expected behavior
development mode is not enabled

#### Act

[2018-08-28 15:21] lukaszfryc commented on #5673
Related issue https://github.com/status-im/status-react/issues/4779

[2018-08-28 15:22] #5673 closed, assigned to nobody

[2018-08-28 15:34] lukaszfryc opened #5674 "Hide save password until logout feature if device does not support it"
### Description
_Type_: Bug

_Summary_: #5617 introduced option to remember password so that users do not have to provide password and log in when app is killed and reopened. But, this feature only works for iOS when device has either passcode or Face/Touch ID configured. On Android we do not show this option. On iOS, when there is no passcode or Face/Touch ID the app currently shows a hint with d

[2018-08-28 15:36] lukaszfryc commented on #5674
Here is how it looks like when device supports it:

<img src="https://user-images.githubusercontent.com/7532782/44733870-cdff5f00-aae8-11e8-8fb6-fa3985798adc.png" width="200">

Adding @errorists as he provided design for the scenario when feature can be used.

[2018-08-29 05:59] chadyj opened #5681 "welcome alert is shown after crash/re-open"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to see the same welcome message after the app re-opens.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

When the app crashes and re-opens the welcome alert is shown again.

#### Expected behavior
Quick login

#### Actual behavior
Alert shown

### Reproduction

[2018-08-29 06:03] chadyj opened #5682 "Don't upload nightlies to Play/Testflight"
At some point we uploaded nightlies to Play/Testflight, but this wasn't used by anyone.

Now this feature runs all the time and is necessary.

We should only upload for releases.

The fastlane jobs for nightlies (or PR's or other) can be removed so we shouldn't see this anymore:

<img width="585" alt="screen shot 2018-08-29 at 8 01 54 am" src="https://user-images.githubusercontent.com/116099/44768

[2018-08-29 07:56] churik opened #5685 ""Sign in" doesn't show "Isn't phrase correct?" popup second time if you didn't change recovery phrase"
### Description

*Type*: Bug
*Summary*: "Sign in" looks as enabled when you tap on cancel in "Isn't phrase correct?" popup, but actually when you tap on it - nothing happens until you change recovery phrase. I can see two possible scenarios here:
1. Disable "Sign in" until recovery phrase will be edited
2. Allow the user to tap on sign in to see popup again (preferable, because not always user wan

[2018-08-29 09:35] #5662 closed, assigned to vitvly

[2018-08-29 10:09] churik opened #5687 "Cursor is flickering when type password on "Sign in" screen"
### Description

*Type*: Bug

*Summary*: side effect of #5617. When user is typing password in [Password] field (on "Sign in" screen) cursor is flickering. Basically, it doesn’t prevent typing password, just looks different from IOS and release version.

#### Expected behavior
cursor doesn't jump and flicker - [video](https://monosnap.com/file/hQAPn2FKkC3ee3a8T7uxys7ory5Hoj)

#### Actual behavior

[2018-08-29 10:24] #5603 closed, assigned to jeluard

[2018-08-29 10:45] adambabik opened #5688 "Fix calculating a node version"
### Description

*Type*: Bug

*Summary*: Recently, status-go changed the way the node version is presented. From now on, it will look like this: `StatusIM/v0.13.1/android-arm/go1.10.1`.

#### Expected behavior
When I open About screen, I should see a proper app and node versions.

#### Actual behavior
Node version is displayed as `N/A`.

### Reproduction
Currently, it's reproducible with status-go

[2018-08-29 11:20] jakubgs commented on #5682
Yeah, this is becuase `BUILD_TYPE` had at somepoint a `defaultValue` of `nightly`. The problem with that is it changes the definition of the Jenkins job and it's default value for the parameter. So when you remove `defaultValue` it does not change the default value of the job.
@mandrigin has already a PR that addresses this partially:
https://github.com/status-im/status-react/pull/5684
Once merged

[2018-08-29 12:15] chadyj commented on #5681
Closing, as this is expected behaviour https://github.com/status-im/status-react/pull/5667#issuecomment-416851040

[2018-08-29 12:15] #5681 closed, assigned to mandrigin

[2018-08-29 12:24] lukaszfryc commented on #5578
@goranjovic do you have enough information to fix it or we need to investigate it more?

[2018-08-29 12:30] lukaszfryc opened #5691 "UX for deprecated web3 methods"
### Description

*Type*: Feature

*Summary*: There was a report on Instabug about not being able to complete a transaction in DDEX dapp. There was `The method eth_sign does not exists/is not available` error on 0.9.25, Android 25:

<img src="https://user-images.githubusercontent.com/7532782/44787546-c054e280-ab97-11e8-87df-19d4d6ea1ea6.png" width="200">

This is expected behavior as Status does no

[2018-08-29 12:52] Serhy opened #5694 "No token is set as Asset when selecting it from Wallet receive transaction view"
***Type***: Bug

***Summary***: Navigating to Wallet -> Receive tranaction -> Send a transaction request and trying to select any token results in ETH (with ETH value) keep staying. No token could be selected to request contact from Wallet.
It's ok in Release 0.9.26

#### Expected behavior
Token returned when it selected as Asset from `Wallet` -> `Receive tranaction` -> `Send a transaction request

[2018-08-29 13:08] dmitryn commented on #3413
This could potentially fix the error https://github.com/react-native-community/react-native-camera/issues/1616#issuecomment-409480887
But first, i'll update `react-native-camera` to the latest version `1.2.0`, we now have `0.10.0`

[2018-08-29 13:37] churik opened #5695 "Tap on close icon doesn't close "Add to contacts" message"
### Description

*Type*: Bug
*Summary*: when"Add to contacts" message appears in one chat in both devices - [Close] icon doesn't work; this only appears if you navigate to user profile and create chat via [Send transaction]. This option doesn't add user to contact automatically (unlike [Send message]). I'm suggesting to add user to contact list if using "Send transaction" (as it implemented for  "

[2018-08-29 14:33] #3046 closed, assigned to nobody

[2018-08-29 14:53] #5637 closed, assigned to mandrigin

[2018-08-29 15:16] annadanchenko opened #5698 "null is not an object (evaluating 'cljs.core.nth.cljs$core$IFn$_invoke$arity$3(e,1,null).sendToBridge') after signing tx in CK and closing DApp"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Sometimes popup with error `null is not an object (evaluating 'cljs.core.nth.cljs$core$IFn$_invoke$arity$3(e,1,null).sendToBridge')` is shown af

[2018-08-29 15:23] jakubgs commented on #5659
Yes, but test team asked me to add Build URL as well.

[2018-08-29 15:26] Serhy opened #5699 "'Reset to default' from transaction fee screen resets gas limit to 21000 always sending tx from Dapp"
***Type***: Bug

***Summary***:  `Reset to Default` button on Transaction Fee screen when sending TX in Dapp - always defaults Gas Limit value to 21000.

#### Expected behavior
'Reset to default' from Transaction Fee screen sets Gas Limit to default value (same as when Send Transaction screen is opened) when sending tx from Dapp

#### Actual behavior
'Reset to default' from transaction fee screen

[2018-08-29 16:03] Serhy commented on #3159
Could not reproduce anymore with 0.9.26 release

[2018-08-29 16:03] #3159 closed, assigned to nobody

[2018-08-29 16:37] Serhy commented on #4816
SuperRare Dapp (superrare.co) is the example that crashes Status app very soon after I start scrolling it's marketplace.
It was noticed that images there, downloaded from ipfs, can be up to 25MB which might be a major reason of bottleneck at some place forcing app to give up in data processing.