[2018-05-09 15:45] yevh-berdnyk opened #4174 "Default usernames are shown for both users after adding to contacts if turned off connection previously"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Users who are contacts of each other see default 3-word names if contact request receiver turned off wifi previously but was online when contact request sent

#### Expected behavior
Both us

[2018-05-09 15:46] yevh-berdnyk opened #4175 "User don't receive contact request if no messages sent if turned off connection previously"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If user goes offline and goes back online he doesn't receive contact re

[2018-05-09 16:37] status-open-bounty commented on #1200
Balance: 0.000000 ETH
Tokens: SNT: 1350.00
Contract address: [0x7d09e91b2dde3397731350fd39f5f95d16dbf81f](https://etherscan.io/address/0x7d09e91b2dde3397731350fd39f5f95d16dbf81f)
Network: Mainnet
Paid to: georgiemathews
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-09 16:42] #3558 closed, assigned to nobody

[2018-05-09 16:47] #3953 closed, assigned to goranjovic

[2018-05-09 16:58] #3984 closed, assigned to cammellos, yenda

[2018-05-09 17:27] status-open-bounty commented on #4162
Current balance: 0.000000 ETH
Contract address: [0xdca8e4e8bbebceb51245aa11a96c805e93514c35](https://etherscan.io/address/0xdca8e4e8bbebceb51245aa11a96c805e93514c35)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/4162/b20871a0e3d6b7a0cac2c69f2740d780e9b39a7f37e76a0af36288c477a16de0/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](htt

[2018-05-09 17:45] status-open-bounty commented on #4163
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb2f6cab3caa572c6ecb4c7dd40c391de4a1d7048b03ed0e2c9e12c461b25acea](https://etherscan.io/tx/0xb2f6cab3caa572c6ecb4c7dd40c391de4a1d7048b03ed0e2c9e12c461b25acea)

[2018-05-09 18:27] #4034 closed, assigned to cammellos

[2018-05-09 18:45] status-open-bounty commented on #4093
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x879b858980b2b5e5c3f44d55ad38b6444f320d07af106ba1e5f8078a69ea6a1f](https://etherscan.io/tx/0x879b858980b2b5e5c3f44d55ad38b6444f320d07af106ba1e5f8078a69ea6a1f)

[2018-05-09 18:47] status-open-bounty commented on #4033
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x780125b0119da531000b8843f70863d7a786d81bcf666cb8e03b6491ef21457e](https://etherscan.io/tx/0x780125b0119da531000b8843f70863d7a786d81bcf666cb8e03b6491ef21457e)

[2018-05-09 18:48] debragail commented on #3994
I think swipe row for deletion is a good ux in this case,

[2018-05-09 18:58] status-open-bounty commented on #4087
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xea0543fc20853b1e52001a467ab589c0e661bb0c8955c74cbe970e16d3956c23](https://etherscan.io/tx/0xea0543fc20853b1e52001a467ab589c0e661bb0c8955c74cbe970e16d3956c23)

[2018-05-09 19:45] georgiemathews commented on #4033
I'll start working on this.

[2018-05-09 19:46] georgiemathews commented on #1200
I'll start working on this

[2018-05-09 21:26] status-open-bounty commented on #3921
Balance: 0.000000 ETH
Tokens: SNT: 650.00
Contract address: [0x5f0219af85883c59e83ec7ac0653f0fc8df6aaf1](https://etherscan.io/address/0x5f0219af85883c59e83ec7ac0653f0fc8df6aaf1)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-09 21:27] status-open-bounty commented on #3849
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x22f6288ccf93a7ac32b29951f755b783077419b39de4231f0c8c41972c75128d](https://etherscan.io/tx/0x22f6288ccf93a7ac32b29951f755b783077419b39de4231f0c8c41972c75128d)

[2018-05-09 21:29] status-open-bounty commented on #4066
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x968508579b73fde64003e386266378d40bd266e8f81706ba60ac01c558ff7d62](https://etherscan.io/tx/0x968508579b73fde64003e386266378d40bd266e8f81706ba60ac01c558ff7d62)

[2018-05-09 21:30] andytudhope commented on #3112
Removing bounty votes due to lack of votes for sustained period of time.

[2018-05-09 21:34] status-open-bounty commented on #4020
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc8acd041c8dded146635baff76b6aa00c76c2e5635fb278e50dc2a30786e687c](https://etherscan.io/tx/0xc8acd041c8dded146635baff76b6aa00c76c2e5635fb278e50dc2a30786e687c)

[2018-05-09 21:35] status-open-bounty commented on #3498
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc0e36ce2871d15b836ca22afc4e640997c1a5b2872824d8ef5d70cc652961356](https://etherscan.io/tx/0xc0e36ce2871d15b836ca22afc4e640997c1a5b2872824d8ef5d70cc652961356)

[2018-05-09 21:46] t1MZXxBn6pAAtTqKTy5UotdeMqBw2CfGrUF commented on #4110
I hope this issue gets resolved soon!

[2018-05-09 22:00] pacamara commented on #4099
Hi @chadyj , fix for this posted at https://github.com/status-im/status-react/pull/4176   :beers:

![issue4099_screenie](https://user-images.githubusercontent.com/19371062/39842182-0c6dfbfe-53d5-11e8-8d17-14ce823a93c2.png)
![issue4099_screenie2](https://user-images.githubusercontent.com/19371062/39842187-10af3732-53d5-11e8-920e-a15967c586a6.png)

[2018-05-09 22:10] jbostick00 commented on #3930
I like the idea of the time since last comment. This would also give an indication of how popular the chat is. Maybe instead of time since last post it could be the number of posts to the chat in the last 24 hours.

[2018-05-10 03:51] oskarth commented on #3095
This issue is quite old. It might be useful to reformulate it with current more precise impact of it. It also doesn't directly impact chat reliability, which is P0 for chat team. It is however directly impacted by work done in mobile team / 83-energy-efficient.

@rasom @mandrigin @janherich what are your thoughts on this issue?

[2018-05-10 04:06] oskarth commented on #3994
@ConnorChristie good idea!

Let's remove design blocked, better get something working here for release candidate and we can add designs later.

[2018-05-10 04:06] oskarth commented on #3994
cc @mandrigin mobile app

@adambabik do we need to do anything on P2P side for this?

[2018-05-10 04:24] oskarth opened #4177 "Handle Discovery V5 signals in the client"
Impact: Reliability

Effort: Medium

Signals to implement in the client: https://github.com/status-im/status-go/tree/develop/geth/peers

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-go">status-im/

[2018-05-10 04:25] oskarth commented on #4177
cc @PombeirP @adambabik

[2018-05-10 04:26] oskarth commented on #4177
Unclear to me right now at what point this will provide utility for end users, but I assume once Discovery protocol has been activated for (Ropsten &) Mainnet. Can we clarify this blocker/dependency with that GHI?

[2018-05-10 05:12] oskarth commented on #4034
\o/

[2018-05-10 06:58] cammellos commented on #3963
This can be closed now https://github.com/status-im/status-react/pull/4144 should have fixed the issue

[2018-05-10 07:00] dmitryn commented on #4107
This is already done by @rasom Could be closed

[2018-05-10 07:00] #4107 closed, assigned to nobody

[2018-05-10 07:01] #3963 closed, assigned to cammellos

[2018-05-10 08:34] asemiankevich opened #4178 "Only 1 push notification shown no matter how many messages were sent while user was offline"
### User Story

As a user I want to receive as many PNs (or one meaningful PN) as many messages i missed while being out of internet connection

### Description

*Type*: Bug

*Summary*: As a user i want to understand clearly how many messages and events i missed while i  was being offline and my status app was running on background (for ex while i was in subway). Now when i reproduce such situtati

[2018-05-10 08:55] lukaszfryc opened #4180 "Cannot sign transaction. Sign transaction button is disabled"
### Description

*Type*: Bug

*Summary*: Sign transaction button is disabled despite recipient and amount being provided. Also, the amount field is empty in the transaction fee screen.
Everything works fine on yesterday's nightly (3af05bc) so the bug had to be introduced afterwards.

#### Expected behavior
Sign transaction button is enabled when recipient, asset and amount is provided. Amount fiel

[2018-05-10 08:56] rachelhamlin opened #4181 "Auto-resize message element on "Sign Message" screen"
### User Story

As a user, I want to see messages in full on the "Sign Message" screen.

### Description

*Type*: Bug

*Summary*:
Any message longer than one line is cut off, forcing user to scroll within the element.

#### Expected behavior
Text box should auto-resize to fit the length of the message, up to some maximum height.

#### Actual behavior
The size of the text box is static and messages

[2018-05-10 09:26] chadyj opened #4183 "Token transaction history shows wrong date"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see token transaction info so that I can know date/amount/sender/etc.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually

[2018-05-10 09:30] chadyj commented on #4099
That's awesome @pacamara! What a nice surprise to see that :)

[2018-05-10 09:38] asemiankevich commented on #4183
it is shown fine for me on Android nightly

[2018-05-10 09:39] adambabik opened #4184 "Enforce an expiration date to backup seed phrase"
*Type*: Improvement

Status encourages the user to backup their seed phrase by going through a sequence of questions and challenges about their phrase. The risk with the current workflow is that there is currently no expiration date to complete this workflow and therefore the phrase will never be deleted from the device until the workflow is completed.

### Solution

Figure out a flow that wouldn'

[2018-05-10 09:48] adambabik opened #4185 "/request sends string literal to recipient"
*Type*: Improvement

message, indicating Eth has been requested. The message in the chat window is interactive and once the message is clicked on, Status automatically inserts a `/send` command with the amount of Eth
requested. We noticed that the string literal of what was sent is copied into the recipient’s prompt and
not the encoded value.

### Solution
1. Send the ETH amount as a numerical val

[2018-05-10 09:51] adambabik opened #4186 "Deleting user's credentials from the device"
*Type*: Improvement

There is currently no way a user can remove their private and public key pairs from the device after
creating or recovering their account on the device without uninstalling Status. As it's possible to have multiple accounts, it's recommended to provide an option to delete them together with all data and key pairs.

### Solution
- add option to delete an account and make sure a

[2018-05-10 10:05] lukaszfryc commented on #4178
I like "you have 50 messages in 4 chats" much better 👍

[2018-05-10 10:06] chadyj opened #4187 "Show mobile unread message badge notification"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user, I want to see system badge notifications so that I know if there are new messages.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what act

[2018-05-10 10:07] #3760 closed, assigned to goranjovic

[2018-05-10 10:11] lukaszfryc commented on #4187
@chadyj should it be only for messages or all notifications like passphrase backup? I think it should only apply to unread messages.

[2018-05-10 10:12] chadyj commented on #4187
Yep unread messages

[2018-05-10 10:17] adambabik commented on #4177
These signals may be useful when we discover some specific behaviour of the Discovery protocol.

Also, as far as I remember, we already notify the user if the number of peers drops to 0 but we use polling. When Discovery is enabled, these signals can be used instead.

[2018-05-10 10:20] adambabik commented on #3994
I don't think so. Currently, when I switch to an upstream network, I am presented with a view with a JSON config and the upstream URL. This should work the same for custom upstream URLs so no changes on status-go side should be required.

[2018-05-10 10:20] lukaszfryc commented on #3745
Is it still appearing when it should not? I haven't seen it for a long time.

[2018-05-10 10:24] lukaszfryc commented on #3894
This should be fixed together with https://github.com/status-im/status-react/issues/3579

[2018-05-10 10:31] #3561 closed, assigned to nobody

[2018-05-10 10:34] lukaszfryc commented on #3495
Duplicate of https://github.com/status-im/status-react/issues/3412

[2018-05-10 10:34] #3495 closed, assigned to nobody

[2018-05-10 10:39] pacamara commented on #4099
@chadyj You're welcome! 💯

[2018-05-10 10:45] flexsurfer commented on #4149
yes, i can reproduce it on iPhoneX simulator

[2018-05-10 10:56] adambabik opened #4190 "Rooted Android Device Notifications"
*Type*: Improvement

notified of a possibly compromised device during a creation or recovery of an account.

### Solution

TBD.

First, we need to evaluate this issue and decide what kind of measures we can take.

[2018-05-10 11:04] yevh-berdnyk commented on #3745
The same for me, so closing the issue.
@lukaszfryc thanks!

[2018-05-10 11:04] #3745 closed, assigned to nobody

[2018-05-10 12:14] goranjovic opened #4192 "Remove seed phrase from the db after user has confirmed backing it up"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want my recovery phrase to be stored in as few places as possible to avoid security breach.

### Description

*Type*: Bug

*Summary*:

#### Expected behavior

Field `mnemonic` should be deleted after user has confirmed backing up the seed phrase.

#### Actual behavior

It is not removed.

### Repro

[2018-05-10 12:38] Serhy opened #4193 "App freezes while offline inboxed messages are coming after log in / open app from background"
**_Type_**: Bug

**_Summary_**: When user logs in to account or opens the app from the background he may receive messages from offline inbox. App UI freezes while offline inbox messages arrive in 1-1/group or public chat. It depends from device: while receiving 100 messages almost has no impact for iPhoneX users, - Galaxy Note 4 unresponsive in navigating through app views for ~5 seconds for the s

[2018-05-10 12:59] Serhy opened #4195 "App freeze after contact log in when user has a lot of messages"
***Type***: Bug

***Summary***: Number of messages that were received and read by the contact in 1-1/group or public chat has an impact on UI performance each login.
When a user logs in to account with several hundreds of messages - there is a noticeable lag on navigation between different app views. It depends from device: for example Galaxy Note 4 user with 500 messages has an app freeze after l

[2018-05-10 13:01] Serhy commented on #4195
Some work is already done in the scope of https://github.com/status-im/status-react/pull/3980 which showed really good results to fix this issue.

[2018-05-10 13:11] asemiankevich opened #4196 "Back button is laggy when having unread message count"
### Description

*Type*: Bug

*Summary*: Top left back button is super laggy when having unread count and browsing a dapp meantime or chatting in a public chat. Tapping it does nothing for seconds (same as for device back button)

#### Expected behavior
When i am browsing a dapp or reading something interesting in public chats i want to quickly switch to unread messages by tapping back button

###

[2018-05-10 13:14] asemiankevich opened #4197 "Add AirSwap Dapp to dapps list in Status"
### Description

*Type*: Feature

*Summary*: i want AirSwap dapp https://www.airswap.io/ to be listed in the status dapps list as this dapp is really amazing and works

https://github.com/airswap

#### Expected behavior

AirSwap dapp is listed in the dapps list

### Reproduction
- Open Status
- Tap plus button
- Tap Open DApp

[2018-05-10 13:28] goranjovic opened #4199 "Remove Sign later and Unsigned transactions"
### User Story

As a user I want a simple Wallet workflow so that I can send money easily and without confusion.

### Description

Right now users can send transactions using too many workflows. We need to provide a unified and consistent ux in Wallet

*Type*: Feature

*Summary*: Remove option to Sign transaction later in Send transaction screen. Also remove the Unsigned transactions tab in Transa

[2018-05-10 13:33] flexsurfer commented on #4145
can't repro anymore with latest nightly

[2018-05-10 13:49] #4145 closed, assigned to nobody

[2018-05-10 14:20] lukaszfryc commented on #3132
Already fixed

[2018-05-10 14:20] #3132 closed, assigned to nobody

[2018-05-10 14:23] lukaszfryc commented on #2712
Duplicate

[2018-05-10 14:23] #2712 closed, assigned to nobody

[2018-05-10 14:24] #2728 closed, assigned to nobody

[2018-05-10 14:25] #2633 closed, assigned to nobody

[2018-05-10 14:26] lukaszfryc commented on #2623
Already fixed

[2018-05-10 14:26] #2623 closed, assigned to nobody

[2018-05-10 14:27] lukaszfryc commented on #2603
Duplicate of https://github.com/status-im/status-react/issues/3420

[2018-05-10 14:27] #2603 closed, assigned to nobody

[2018-05-10 14:29] lukaszfryc commented on #2582
We've changed UI. Issue is not relevant anymore

[2018-05-10 14:29] #2582 closed, assigned to nobody

[2018-05-10 14:30] lukaszfryc commented on #2569
Already done as part of https://github.com/status-im/ideas/blob/master/ideas/083-energy-efficient.md swarm

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/ideas">status-im/ideas</a></strong></div><div>idea

[2018-05-10 14:30] #2569 closed, assigned to asemiankevich

[2018-05-10 14:31] lukaszfryc commented on #2494
Could not be reproduced anymore

[2018-05-10 14:31] #2494 closed, assigned to nobody

[2018-05-10 14:32] lukaszfryc commented on #2598
Could not be reproduced anymore

[2018-05-10 14:32] #2598 closed, assigned to nobody

[2018-05-10 14:33] chadyj commented on #4006
I just checked out Mixpanel and it looks like distinct ID's are no longer sent on the dev account.
cc @lukaszfryc @asemiankevich

[2018-05-10 14:40] rachelhamlin opened #4201 "Stop adding navigation errors to Home screen"
### User Story

As a user, I want my bad browser searches to be ignored, not saved and presented alongside actual DApps and chats.

### Description

*Type*: Bug

*Summary*:

Bad searches should not be presented on the Home screen.

#### Expected behavior
[comment]: #
User types a bad address into the URL bar of the "Open DApp" screen.

There is no record of it on the Home screen when the user navi

[2018-05-10 14:45] okilimnik commented on #4020
redesign should be considered to achieve this, because even with fixed empty space in top of screen, a keyboard can overlap the details. Android has much more different sizes than Iphone.
Maybe scrollview will be useful.
![screenshot_1525963238](https://user-images.githubusercontent.com/11755521/39875587-b0db9df0-5479-11e8-88ab-908a7c0c3749.png)

[2018-05-10 14:50] #4115 closed, assigned to flexsurfer

[2018-05-10 14:52] okilimnik commented on #3498
Cannot reproduce in current Google Play version (0.9.17)
Samsung J7 Android 7
Meizu M5s Android 6

[2018-05-10 15:09] #4149 closed, assigned to flexsurfer

[2018-05-10 15:52] oskarth commented on #3994
@ConnorChristie do you want to give this a go? It's one of our blockers for beta release :)

@mandrigin Since we aren't pushing for improvements to LES (instead awaiting ULC) this would be very useful from a decentralization POV.

[2018-05-10 15:59] lukaszfryc commented on #3898
This is actually by desing. https://status-im.slack.com/archives/C9B1T4B9B/p1525950103000250

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.slack.com/archives/C9B1T4B9B/p1525950103000250">Slack</a></strong></div></blockquote>

[2018-05-10 15:59] #3898 closed, assigned to nobody

[2018-05-10 16:04] Serhy opened #4205 "App crash when I submit URL with whitespaces"
***Type***: Bug

***Summary***: App crashes if I submit URL with whitespace in the middle or beginning of URL value. Note: It's OK if whitespace in the end of value though. And it's all fine on iOS

#### Expected behavior
No app crash when I submit URL with whitespace:
- trim URL value before sending a request
- convert whitespace in the middle of URL value to `%20`

#### Actual behavior
App crash

[2018-05-10 16:12] lukaszfryc commented on #4105
I've just had it on nightly (May 10) on Android when I had one account and tried to recover another one. After tapping sign in (I tapped once) the error appeared. When I pressed OK the dialog was closed and account was recovered.

[2018-05-10 16:22] lukaszfryc opened #4206 "Chat that was deleted shows history"
### Description

*Type*: Bug

*Summary*: History of a chat that has been deleted should not appear when the chat is opened again.

#### Expected behavior
When deleted chat is opened again it should not contain any historical messages.

#### Actual behavior
When deleted chat is opened again it contains history.

### Reproduction

- Open Status
- Create 1-1 chat and exchange some messages
- Delete t

[2018-05-10 16:28] Serhy commented on #3342
#4191 fixed it.

[2018-05-10 16:28] #3342 closed, assigned to nobody

[2018-05-10 16:57] Serhy opened #4207 "Symbols instead of alphabetic characters in .pdf in Android app browser"
***Type***: Bug

***Summary***: Android app browser fails to handle `.pdf` documents. Symbols instead of alphabetic characters which are the real content of the PDF file are shown instead.
iOS browser works fine though and handles PDF.
Some of the Dapps app has in the default list (e.g. Kyber or Oasis Direct) has a T&C / Legal info on their homepages in `.pdf` format so it's easy to spot the issue

[2018-05-10 17:38] Serhy commented on #3095
This issue is outdated with description and it's current results.

Instead of update again a description here it was reviewed, re-tested and described in two separate new issues: https://github.com/status-im/status-react/issues/4195 and https://github.com/status-im/status-react/issues/4193

[2018-05-10 17:43] yenda commented on #4103
Potatoe bug

(easier to search later)

[2018-05-10 17:48] status-open-bounty commented on #3414
Balance: 0 ETH
Tokens: SNT: 1350.00
Contract address: [0x97e7d53d41ba699ceedc940f967150f4efd89a57](https://etherscan.io/address/0x97e7d53d41ba699ceedc940f967150f4efd89a57)
Network: Mainnet
Paid to: flexsurfer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-10 18:12] okilimnik commented on #4066
it's impossible to create a modal view from another modal view, "Send Transaction" view will be destroyed.

[2018-05-10 18:23] status-open-bounty commented on #4201
Balance: 0.000000 ETH
Tokens: SNT: 1300.00
Contract address: [0xaa82e32b0b96a2568db4a1ca59efe42fe7e695c7](https://etherscan.io/address/0xaa82e32b0b96a2568db4a1ca59efe42fe7e695c7)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-10 18:35] yenda commented on #4103
This is a react-native issue, we have to wait for a fix https://github.com/facebook/react-native/issues/18405

[2018-05-10 18:38] yenda commented on #4103
The PR to follow for a fix https://github.com/facebook/react-native/pull/18443

[2018-05-10 19:39] status-open-bounty commented on #4181
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xae930c895a354325722724a10d8e52ee1e4c70cfd688caae1536659fcd9964df](https://etherscan.io/tx/0xae930c895a354325722724a10d8e52ee1e4c70cfd688caae1536659fcd9964df)

[2018-05-10 20:24] georgiemathews commented on #1200
@flexsurfer Looks like the issue is in your fork of react-native-webview-bridge. Is it necessary to still be using this fork since the webview is now integrated into react-native core? If so, could you shed some light on the purpose of maintaining this fork.

[2018-05-10 21:16] Coffee-Boyy commented on #3994
@oskarth Sure, I can work on this!

[2018-05-10 22:06] georgiemathews commented on #4087
@rachelhamlin I'll take a look at this, could you add my email: georgie@nud.ge

[2018-05-10 22:29] yenda commented on #4103
Moved to post-beta as this is unlikely that we can solve this bug before beta since it requires a PR to be merged in react-native and a release of react-native

[2018-05-10 23:15] yenda opened #4208 "Show a warning when the contact is on a different network"
# Problem

When users are a different network, there can be confusion regarding transaction request and transaction send commands.

related issue: https://github.com/status-im/status-react/issues/4185

# Solution

 We should show a warning to the user and disable these commands for contacts that are on different networks.

[2018-05-11 04:44] #3939 closed, assigned to alwx

[2018-05-11 06:37] rasom commented on #1200
the reason why we need to have our own fork is that we have to ensure that `web3` object is injected into webview **before** any page is loaded, which is impossible with API provided by `react-native`'s implementation.

For instance, [`react-native`'s webview (iOS version) ](https://github.com/facebook/react-native/blob/26684cf3adf4094eb6c405d345a75bf8c7c0bf88/React/Views/RCTWebView.m#L36) is base

[2018-05-11 07:10] annadanchenko commented on #1200
rechecked on Android 8.1.0  (real Pixel XL) - can't reproduce
on iOS 11.0.13 (real iphone 7 plus) - CAN reprodcue

[2018-05-11 07:13] flexsurfer commented on #1200
@annadanchenko retested without this fix, just to make sure it's repro only on ios

[2018-05-11 07:30] chadyj opened #4212 "Contact name not shown after contacts add each other"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see the name of the person I'm chatting to so I don't have to keep asking "who is this"?.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happe

[2018-05-11 07:40] rachelhamlin commented on #4087
@georgiemathews awesome! @denis-sharypin can you please add Georgie to Zeplin?

[2018-05-11 07:46] denis-sharypin commented on #4087
@georgiemathews invite sent!

[2018-05-11 07:54] lukaszfryc opened #4214 "Show spinner when messages are being fetched"
### Description

*Type*: Feature

*Summary*: "There are no messages in this chat yet" appears every time a public chat is loading no matter if it has messages or not. If there are historical messages, the empty state hides and messages are shown. In the meantime, the screen is lagging trying to render the messages. A solution for it would be to always show a spinner before messages are fetched and

[2018-05-11 08:02] flexsurfer commented on #1200
@georgiemathews your changes merged in master, could you please create PR in this repo and change here https://github.com/status-im/status-react/blob/develop/package.json#L61 branch to master

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a

[2018-05-11 08:04] chadyj opened #4215 "User can clear the chat history"
### User Story

As a user, I'd like to have more control over my chat history and want to delete it anytime.

### Description

*Type*: Feature

*Summary*: Currently, it's unclear how long the chat history is stored. The minimal requirements are to have an ability to delete it completely.

### Solution
*Summary*:
- From a chat, a user can tap "more" then "Clear chat". This will keep the chat but de

[2018-05-11 08:23] asemiankevich opened #4216 "Messages in chats are shown as unread when i recover account"
### User Story

As a user i dont want to see all the messages that i have already read before showing up as `unread` when i recover my account

### Description

*Type*: Bug

*Summary*: I have read all the messages in all chats and when i recovered same account - unread badge appeared . Same happened to @chadyj . Pretty annoying issue taking into account the app performance

#### Expected behavior

[2018-05-11 08:24] chadyj commented on #4208
Dupe of https://github.com/status-im/status-react/issues/4171 ?

[2018-05-11 08:26] janherich commented on #4216
This is very difficult to solve properly, as recovered account starts with empty app state and "recovered messages" are just messages received from offline inbox, so effectively new messages.
Maybe go-side de-duplication can solve this properly, I'm not sure...

[2018-05-11 08:28] asemiankevich commented on #4216
@janherich thanks for looking into this! Maybe we can discuss it later, I have put `post beta` for this issue, so it is not urgent for now, but from my perspective, it is expected behavior for any other messenger.

[2018-05-11 08:55] #3346 closed, assigned to yenda

[2018-05-11 09:18] #4180 closed, assigned to goranjovic

[2018-05-11 09:28] rachelhamlin opened #4218 "Remove DApps with usability issues"
### User Story

As a user, I want to be presented with DApps that are truly usable in Status.

### Description

*Type*: Bug

*Summary*:
The following DApps have too many usability issues for users to easily accomplish what the DAPp intends:

- Auction House
- Decentraland
- FirstBood
- Flight Delays Suck

They should be removed.

#### Expected behavior
All curated DApps should be navigable, with d

[2018-05-11 09:54] #4075 closed, assigned to nobody

[2018-05-11 11:10] yenda commented on #4216
It will be solved once from field is implemented, probably today if you test fast :D

[2018-05-11 11:15] okilimnik commented on #4066
It's not a problem to add "Included data" below "Transaction fee", but it's impossible to create a modal screen from another modal screen in current navigation implementation.

[2018-05-11 11:16] yenda commented on #4190
The notification for rooted devices is in the native part of the code afaik, and it was previously showing up everytime the app was started an got change to show up the first time then on a less frequent basic. We could add an additional warning when creating and recovering an account. We could only show it on first run then. We could add a screen to the onboarding flow for rooted devices ?

[2018-05-11 11:21] adambabik commented on #4190
I think it's a very good idea. We should also include a warning on the screen when a password is required for signing a transaction.

[2018-05-11 11:56] okilimnik commented on #3804
what do you think of implementing [react-navigation](https://github.com/react-navigation/react-navigation) ? it has this feature by default as well as other transitions between screens.

[2018-05-11 11:58] jeluard commented on #3804
@okilimnik This is something we considered already. If you can take this opportunity to explore how we could integrate it into status that would be awesome!

[2018-05-11 12:05] #3417 closed, assigned to nobody

[2018-05-11 12:12] #3456 closed, assigned to nobody

[2018-05-11 12:17] yevh-berdnyk opened #4222 "Error chat.name must be of type 'string' got 'null' (null) for newly added group chat member"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be added as a member to a group chat without errors
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections b

[2018-05-11 12:25] chadyj commented on #3982
Fixed https://github.com/status-im/status-react/pull/4144!!!

[2018-05-11 12:25] #3982 closed, assigned to cammellos

[2018-05-11 12:27] denis-sharypin commented on #3804
@okilimnik SCREEN TRANSITIONS! YAS!

[2018-05-11 12:45] denis-sharypin commented on #4190
What information consists this notification for rooted devices?

[2018-05-11 12:56] yevh-berdnyk opened #4223 "No error when scanning incorrect public key QR code"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to to be notified when accidentally scanning incorrect QR code for adding a contact

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and wh

[2018-05-11 12:56] yenda commented on #4190
"Your phone appears to be ROOTED, by pressing CONTINUE you understand and accept the risks in using this software."

[2018-05-11 13:08] #3539 closed, assigned to nobody

[2018-05-11 13:08] #3944 closed, assigned to nobody

[2018-05-11 13:42] #2479 closed, assigned to mandrigin, flexsurfer

[2018-05-11 14:35] flexsurfer commented on #4066
@okilimnik you're right, @denis-sharypin could you help, any ideas how we can implement this?

[2018-05-11 14:36] churik opened #4225 "Chat list is changing when user sends or types a message"
### User Story

As a user, I want to see the constant list of added contacts or public chats so that I can switch between them any time.

### Description
*Type*: Bug
*Summary*: when entering new channel or contact to "Join to public chat" or "Add new contact" fields, then send a message in new chat - existing chat list is changing, and some chats are disappearing.

#### Expected behavior
Sent mess

[2018-05-11 14:45] denis-sharypin commented on #4066
When you are sending TX from the wallet it's possible to call such modal to enter a recipient address.
Why we can't use it?
![img_4880](https://user-images.githubusercontent.com/6559881/39930280-934b26ea-553a-11e8-93a7-f84cdbf5dc03.PNG)

[2018-05-11 14:48] okilimnik commented on #4066
parent screen is not modal in this case

[2018-05-11 14:48] flexsurfer commented on #4066
because in wallet we don't have data, and wallet is not modal, but from dapp we are opening modal wallet

[2018-05-11 14:58] denis-sharypin commented on #4066
ah ok.
Tbh currently I'm working on the redesign of the whole Send Transaction flow here https://github.com/status-im/status-react/issues/4040 Make sense to wait until it will be ready then. Sorry for inconvenience

[2018-05-11 15:01] #4197 closed, assigned to jeluard

[2018-05-11 15:03] flexsurfer commented on #4066
sorry @okilimnik let's wait then

[2018-05-11 15:10] churik opened #4226 "Message history is mixed when the user switches between chats"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see message history that only belonging to selected chat.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when entering new channel or contact to "Join to public chat" or "Add new contact" fields, then send a message in new chat - existing chat list is

[2018-05-11 15:21] chadyj opened #4227 "Provide a way to Dapps to identify Status"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a dapp creator, I want to know if my dapp is running in status so that I can show users Status relevant info and logos.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you e

[2018-05-11 15:33] chadyj opened #4228 "Add WETH to asset token list"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to view my [WETH](https://weth.io) tokens so that I can transact with exchanges.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and w

[2018-05-11 15:54] #4166 closed, assigned to jeluard

[2018-05-11 16:02] churik opened #4229 "Messages, which were sent while desktop-app is closed, are lost"
### User Story

As a user, I want to see all messages sent when I open the application, even when they were sent when Status desktop app was closed.

### Description
*Type*: Bug
*Summary*: messages sent while status-desktop app is not running are lost

#### Expected behavior
no lost messages

#### Actual behavior
messages are lost
![offl](https://user-images.githubusercontent.com/4557972/39933937-

[2018-05-11 16:05] #3822 closed, assigned to flexsurfer

[2018-05-11 16:56] churik opened #4234 "Unable to copy or share public key"
### User Story

As a user, I want to be able to see, copy and share my public key.

### Description
*Type*: Bug
*Summary*:  when user opens profile, he cannot copy/see/share public key

#### Expected behavior
can copy/share public key

#### Actual behavior
unable copy/share public key
![kay](https://user-images.githubusercontent.com/4557972/39936463-3d88eb96-5555-11e8-90cf-19a68c60d894.png)

### R

[2018-05-11 18:44] status-open-bounty commented on #4127
Balance: 0 ETH
Tokens: SNT: 650.00
Contract address: [0x3f06a4102f992200b05af74469743cdefa399332](https://etherscan.io/address/0x3f06a4102f992200b05af74469743cdefa399332)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-11 18:52] yevh-berdnyk opened #4235 "Transaction signing phrase is changed after account recovery"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to remember transaction phrase and see it after recovering account on another device so that I'm sure my transactions are secure.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what

[2018-05-11 19:03] status-open-bounty commented on #4158
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe66518cc355f51d1ae1f1ec1a0cef62a13157d8dac189057efd3f85caee9d7a1](https://etherscan.io/tx/0xe66518cc355f51d1ae1f1ec1a0cef62a13157d8dac189057efd3f85caee9d7a1)

[2018-05-11 19:04] status-open-bounty commented on #4108
Balance: 0 ETH
Tokens: SNT: 650.00
Contract address: [0x8604629a0ad472a33ce14311490751e9907dc968](https://etherscan.io/address/0x8604629a0ad472a33ce14311490751e9907dc968)
Network: Mainnet
Paid to: 751895405
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-11 20:25] okilimnik commented on #3804
I can implement react-navigation, but I need to understand the task precisely.
Current navigation implementation stacks all the history in a plain vector but it is not an idiomatic behavior for mobiles, especially	for Android, since it has a hardware back button and a user can return to login or intro screen, or return to chat from main tabs. And there are modal screens there also, and they are no

[2018-05-12 06:01] oskarth commented on #3211
@mandrigin @rasom @janherich maybe worth revisiting this approach, wdyt?

[2018-05-12 06:33] debragail commented on #2848
what other currencies will be accepted?  Is it fair to model the data as `asset` instead of `eth`?

[2018-05-12 10:33] jeluard commented on #2848
Idea is to support any ERC20 token. Based on the contract address, rely on [estimateGas](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethestimategas) to get an estimation of the gas cost to [transfer](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md#transfer) tokens.

[2018-05-12 11:31] chadyj opened #4240 "Push Notification permission is not being asked for some iOS users"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to grant Status permission to sent PN's so that I can be alerted to new messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what

[2018-05-12 13:17] jeluard commented on #3804
@okilimnik We don't plan to change the user experience for now. One option could be to detail what would change with `react-navigation` but t's probably out of the scope for this issue.

[2018-05-13 06:36] Coffee-Boyy commented on #3849
Based on these few lines in the log report, it looks like it may be an issue with either a [bug in the firebase job dispatcher](https://github.com/firebase/firebase-jobdispatcher-android/issues/101) or a version mismatch between the app's firebase sdk and the currently installed google play services version on the device. If the latter is the cause, this can be solved by updating `firebase-core to

[2018-05-14 02:57] oskarth commented on #4080
(Conversation kept going in PR, above seems to have been addressed)

[2018-05-14 03:33] t1MZXxBn6pAAtTqKTy5UotdeMqBw2CfGrUF commented on #2984
I hope this issue is resolved.

[2018-05-14 04:32] t1MZXxBn6pAAtTqKTy5UotdeMqBw2CfGrUF commented on #2984
I hope this issue is resolved.

[2018-05-14 07:00] jeluard commented on #3824
Right hard to track down without more context. @rachelhamlin Maybe we could try to reach out to them and try to collaborate to fix this?

[2018-05-14 07:17] rachelhamlin commented on #3824
@jeluard sure, I'll reach out. Is there anything in particular we'd like to know right now?

[2018-05-14 07:18] jeluard commented on #3824
@rachelhamlin Not really. We don't have much info. A contact with a dev would be great!

[2018-05-14 07:48] jeluard commented on #3805
@yevh-berdnyk Can you share something public (logs)? We don't have TF access.
Also do you have more precise steps to reproduce the issue?

[2018-05-14 08:12] chadyj commented on #4006
Fixed in https://github.com/status-im/status-react/pull/4210

[2018-05-14 08:12] #4006 closed, assigned to rasom

[2018-05-14 08:42] asemiankevich opened #4247 "Improve swipe-to-delete gesture both iOS and Android"
### User Story

As a user, I want to have better `swipe-to-delete` experience when interacting with chats on Home screen (same as I am used to when using other mobile messengers like Viber, Telegram, Whatsapp  or Skype)

### Description

*Type*: Bug

*Summary*: currently `swipe-to-delete` gesture brings a bit poor experience to the user. Please check the following cases:

#### Actual behavior

1.

[2018-05-14 08:44] #3921 closed, assigned to nobody

[2018-05-14 09:01] jeluard commented on #1284
@annadanchenko Just tried on both android and iOS and can't reproduce. Do you mind re testing?

[2018-05-14 09:14] cammellos commented on #4215
Will work on this together with https://github.com/status-im/status-react/issues/4206 as they are closely related

[2018-05-14 09:20] asemiankevich commented on #3513
i can reproduce it as well in latest nightly http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a0a795.apk

<blockquote></blockquote>

[2018-05-14 09:26] #3787 closed, assigned to dmitryn

[2018-05-14 09:35] pedropombeiro commented on #2984
This should be resolved in the context of https://github.com/status-im/status-react/issues/3451

[2018-05-14 10:33] churik opened #4249 "Chat header stops displaying after switching between public and 1-1 chats"
### User Story

As a user, I want always to see chat header.

### Description
*Type*: Bug
*Summary*:  switching between public and 1-1 chats leads to chat header disappearing.

#### Expected behavior
chat header (name) is always visible

#### Actual behavior
no visible chat header
![ghgh](https://user-images.githubusercontent.com/4557972/39992261-e0431a4c-577a-11e8-9b26-f6fd6872fb94.png)

### Repr

[2018-05-14 11:05] churik opened #4250 "No validation in 'Add new contact' and 'Join to public chat' fields"
### User Story

As a user, I want to get the validation error when adding an invalid key or public channel by mistake.

### Description
*Type*: Bug
*Summary*:  can insert and add invalid contact key; can insert and add invalid value to public chat; can click on 'Add' in field 'Join to public chat' with empty value.

#### Expected behavior
validation errors
3. Please enter a valid contact code
4. T

[2018-05-14 11:13] Coffee-Boyy commented on #4247
I started with a react native plugin for this swipe gesture in my custom upstreams story #4239 that performs this very nicely. I was told instead that I should use this current implementation of the swipe to delete gesture due to security concerns of bringing in an outside dependency but I believe it would be well worth the ease of use and small security audit on the dependency.

[2018-05-14 11:18] ConnorChristie commented on #4173
Are beta users going to want to use the app strictly on the mainnet? Without a proper security audit and lots of testing on testnets, I myself would be scared to use the app with any value on the mainnet especially in beta.

[2018-05-14 11:28] Coffee-Boyy commented on #4066
The technicalities of this are actually not as bad, the transaction data is already being passed to the prepare-transaction function but not being used.

https://github.com/status-im/status-react/blob/6eea090ef80d9f6d52c1caeeafc5d1c1d6387500/src/status_im/ui/screens/wallet/send/events.cljs#L107-L110

[2018-05-14 11:34] Coffee-Boyy commented on #4040
A great and beautiful example of an application that shows all the metrics in a clear and concise way to the user is the [Balance Manager app](https://manager.balance.io/):

This could serve as a great foundation for a new and improved send transaction flow which isn't terribly different than the current design.

There's nothing about gas or gas costs, only information on the speed of the transact

[2018-05-14 12:44] churik opened #4251 "'Password' field is disabled in 'Add existing account'"
### User Story

As a user, I want to be able to restore my account on Status Desktop

### Description
*Type*: Bug
*Summary*:  'Add existing account' is unavailable because a user cannot set a focus on 'Password' field(it is disabled)

#### Expected behavior
can type password

#### Actual behavior
unable to type password, field is disabled
![passw](https://user-images.githubusercontent.com/4557972/

[2018-05-14 12:47] #4218 closed, assigned to jeluard

[2018-05-14 12:48] #1200 closed

[2018-05-14 12:49] #3667 closed, assigned to nobody

[2018-05-14 12:50] #3813 closed, assigned to nobody

[2018-05-14 13:04] #4199 closed, assigned to goranjovic

[2018-05-14 13:30] #4227 closed, assigned to jeluard

[2018-05-14 15:04] asemiankevich opened #4253 "Show Opt Metrics screen right after login"
### User Story

As a user|, I don't want to be distracted especially when I use the app for the very first time, so I have a good user experience

### Description

*Type*: Bug

*Summary*: We need to improve Opt Metrics screen appearance which is shown after I create or recover the account. It is shown after ~1 second after I create an account (not each time but in some cases) and ~2 seconds when I

[2018-05-14 15:46] churik opened #4255 "Display seed phrase after creating a desktop account"
### User Story

As a user, I want to restore my account from seed phrase if it was created in status-desktop

### Description
*Type*: Feature
*Summary*: no seed phrase is displayed in profile after creating an account in status-desktop

#### Expected behavior
you can back up your seed phrase in 'Profile'

#### Actual behavior
no seed phrase is displayed

### Reproduction

- Install `status-desktop

[2018-05-14 15:55] #4183 closed, assigned to nobody

[2018-05-14 15:57] #3799 closed, assigned to nobody

[2018-05-14 16:55] vkjr commented on #4229
@churik, is this behavior specific only for desktop? Do we get offline messages sent to mobile version?

[2018-05-14 16:58] churik commented on #4229
Hey, @vkjr !
I mentioned in the note, that in  mobile version we get offline messages.

[2018-05-14 17:01] vkjr commented on #4229
@churik, oh, sorry, didn't notice, thanks! :)

[2018-05-14 18:20] rachelhamlin opened #4259 "Always display DApp homepage URL on Home screen"
### User Story

As a user, I want to see the homepage URL for each DApp on my Home screen, instead of the URL for the last page I visited.

### Description

*Type*: Feature

*Summary*:
When I open a DApp in Status, it's added to my Home screen and the URL displayed is for the DApp's homepage. If I reopen a DApp, I am brought to its homepage.

#### Expected behavior
A DApp's homepage URL is always

[2018-05-14 20:47] asemiankevich opened #4261 "Update Opt Metrics screen to match mobile app patterns"
### User Story

As a user, I want the onboarding flow to use similar patterns both mobile and desktop so I am not confused.

As developer / QA, I want to introduce latest UI changes in desktop so its design is pretty much similar to the mobile app and does not look outdated

### Description

*Type*: Feature

*Summary*: Update Opt Metrics screen for Status Desktop

#### Expected behavior
Status Des

[2018-05-14 22:08] gravityblast commented on #1228
@annadanchenko @asemiankevich another thing we can do is following [BIP39](https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki#generating-the-mnemonic) and allow users to put 12, 15, 18, 21, or 24 words based on the entropy they had when created.
In Status we actually always create 12 words, but users could be able to create the wallet outside of it.

Another interesting thing is that t

[2018-05-15 03:57] oskarth opened #4264 "Allow to specify new bootnodes"
### Problem

An adversary can easily block bootnodes IPs and our users won't be able to communicate.

As a user, I'd like to use Status with custom bootnodes in case Status bootnode IPs are blocked.

### Solution

Provide a way to distribute new bootnodes to users. Upon scanning a QR code bootnodes should be updated. App restart is OK.

### Notes

Hardcoded bootnodes: https://github.com/status-im/

[2018-05-15 03:58] oskarth commented on #4264
Problem space questions (follow up from Slack):

1. If user has scanned or somehow retrieved bootnodes in app, how would they get updated here https://github.com/status-im/status-go/blob/develop/geth/params/cluster.go?
2. Would it make sense to use `AddPeer` and add static nodes as opposed to bootnodes? This can be done at run-time, but I guess it wouldn't allow discovery to be run

[2018-05-15 06:51] cammellos opened #4265 "Delete chat behaviour"
### User Story

As a user
I want to be able to delete a chat
So I don't get distracted by it

### Description

We changed the behaviour of the *Delete chat* option in the chat menu:

For all the chats this will:

- Remove all previous messages
- Older messages will not appear again
- The chat should not be visibile in the home screen

In addition to this, some behaviour is chat specific:

In a 1 t

[2018-05-15 07:15] pedropombeiro commented on #3948
Hi @lukaszfryc. https://github.com/status-im/status-go/pull/864 has been merged for a while now. Can this GHI be moved to Done?

[2018-05-15 07:45] lukaszfryc commented on #3948
Yes!

[2018-05-15 07:45] #3948 closed, assigned to nobody

[2018-05-15 07:50] asemiankevich opened #4266 "Selected tab is not highlighted"
### User Story

As a user, I want to have selected tab being highlighted so I can understand easily which tab I am on

### Description

*Type*: Bug

*Summary*: Selected tab is not highlighted on Status Desktop so I am confused which tab I am on.

#### Expected behavior
A chosen tab is highlighted

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/40043550-7390619e-58

[2018-05-15 07:59] asemiankevich opened #4267 "Show app version for Status Desktop"
### User Story

As a user / developer / QA, I want to understand which version I am on.

### Description

*Type*: Feature

*Summary*: Add version label to Status Desktop for all platforms supported (MacOS, Windows, Linux)

#### Expected behavior
I can find the app version:
1. Clicking Status -> About in top nav bar (macOS)
2. Profile -> next to ` Log out` in Status Desktop App (trying to match mob

[2018-05-15 07:59] lukaszfryc commented on #4122
Maybe let's make a bounty of it?

[2018-05-15 08:00] asemiankevich commented on #4122
@lukaszfryc vote! )

[2018-05-15 08:10] lukaszfryc commented on #4122
Just voted :)

Btw, alternatively to graying out we could just remove it from Recipient list. I think it would be more clear solution than graying out.

[2018-05-15 08:11] asemiankevich commented on #4122
it intersects with the bug that fixed all members presence in a group chat

[2018-05-15 08:14] lukaszfryc commented on #2984
FYI: It still happens on latest nightly.

[2018-05-15 08:18] pedropombeiro commented on #4212
By the way, just saw this happen with @annadanchenko during pre-dogfooding https://status-im.slack.com/archives/C93KX711U/p1526371477000030. Both of us scanned each other's QR code.

For context, @annadanchenko didn't see an empty chat once I started a chat with her. Normally she would have seen an empty chat once the contact is requested.

[2018-05-15 08:23] pedropombeiro commented on #2984
Looks like we'll need to implement https://github.com/status-im/status-react/issues/3451 in order to properly address this.

[2018-05-15 08:31] asemiankevich opened #4268 "Broken message counter when having more than 999 messages"
### Description

*Type*: Bug

*Summary*: Message counter layout is broken when there are more than 999 messages unread. 4 digits number is too large to show in this blue circle

#### Expected behavior
Message counter should not be broken. I suggest showing `99+` value when there are more than 99 messages, so we still stick to use 3 digits that are shown fine

#### Actual behavior
![image](https://

[2018-05-15 08:35] chadyj commented on #2503
Can this be closed?

[2018-05-15 08:37] rachelhamlin opened #4269 "Hide URL bar for beta launch"
### User Story

As a user, I want custom URL navigation to be disabled as long as there is a security risk involved.

### Description
*Type*: Feature

*Summary*:
Currently Status browser does not verify security certificates, so to mitigate the risk of man-in-the-middle attacks, hide the URL bar on the Open DApp screen unless user is in development mode.

Development mode should still display the

[2018-05-15 08:37] chadyj commented on #2643
Dupe of https://github.com/status-im/status-react/issues/3233 and https://github.com/status-im/status-react/issues/3234

[2018-05-15 08:37] #2643 closed, assigned to nobody

[2018-05-15 08:53] chadyj commented on #3014
Closing, as #core-wallet is redoing flows.

[2018-05-15 08:53] #3014 closed, assigned to nobody

[2018-05-15 09:05] hesterbruikman commented on #4044
Looking at this from two sides, format and message as format impacts the message.

**Format**
I have my concerns about using a _system dialog_. This would block interaction and I'm not sure we want to do that with a reminder. Could we use the backup seedphrase reminder/notification in stead?

**Message system dialog**

**Message notification (homescreen)**

[2018-05-15 10:53] asemiankevich opened #4270 "Fonts and images shouldn't look blurry in Desktop app"
### User Story

As a user I want to have a good experience when using Status Desktop App. Please check https://app.zeplin.io/project/5a324ae5d60d197e7e3369cc/dashboard

### Description

*Type*: Bug

*Summary*: Provide and implement high-quality images for Status Desktop.

#### Expected behavior
Status Desktop UI is not blurry

#### Actual behavior
Status desktop UI is poor quality

### Reproductio

[2018-05-15 10:58] churik opened #4271 "Sending message with 'Enter' key is not working (is possible only with button)"
### User Story

As a user, I want to send messages using 'Enter' key

### Description
*Type*: Feature
*Summary*: user can send messages only with button, but not using the keyboard.

#### Expected behavior
message is sent

#### Actual behavior
next row (expect new row when clicking Shift+Enter)

### Reproduction

- Install `status-desktop`
- Open StatusIm
- Create new account
- Start 1-1 chat
- Ty

[2018-05-15 11:03] asemiankevich opened #4272 "Add mentions in a group / public chats"
### User Story

As a user, I want to mention someone I want to talk to with `@` (same as in Slack) because it is a common pattern in popular messages

### Description

*Type*: Feature

*Summary*: when chatting with someone i want to highlight the person with `@` sign so the person is highlighted in the chat window and gets the notification (pinged)

#### Expected behavior

1. `@` mentions are impl

[2018-05-15 11:07] rachelhamlin opened #4273 "Send users to system browser from chat links"
### User Story

As a user, I don't want to open any links in the Status browser as long as there are security risks involved.

### Description

*Type*: Feature

*Summary*:
Disable links sent over chat from opening in Status browser for beta launch. Users can only open URLs in a system browser.

This is a temporary measure until we've implemented higher security for HTTP browsing.

#### Expected be

[2018-05-15 11:19] vkjr opened #4274 "Write scripts for creating mac bundle of desktop app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to have scripts so that creating mac bundle is straightforward.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually

[2018-05-15 11:48] churik opened #4275 "Links are displayed as plain text"
### User Story

As a user, I want to have links clickable.

### Description
*Type*: Feature
*Summary*: links are displayed as plain text - no possibility to proceed to reference.

#### Expected behavior
links are clickable, looks like in the screenshot below
![rightli](https://user-images.githubusercontent.com/4557972/40054837-d778b654-584e-11e8-8dac-315236133e4e.png)

#### Actual behavior
links a

[2018-05-15 12:04] churik opened #4276 "Click on 'Add to contact' doesn't add user to contact"
### User Story

As a user, I want to add a person to contacts  - thus share my name and profile photo.

### Description
*Type*: Bug
*Summary*: when a user A from other device start chat with user B (on status-desktop) - user B cannot add user A to his contacts.

#### Expected behavior
'Add to contacts' is working; after click user A can see profile name and photo of User B

#### Actual behavior
no

[2018-05-15 12:34] maxhora opened #4278 "Integrate status-go library compilation from sources into cmake build process of status-react."
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to do nothing instead of finding my way to build status-go library since status-react depends on its availability.
As a build system, I want to provide fully automated builds without manual interruption by devs.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Featu

[2018-05-15 12:37] asemiankevich opened #4279 "Can't navigate to user's profile"
### User Story

As a user, I want to check user profile by clicking his user pic

### Description

*Type*: Feature

*Summary*: I want to navigate to user profile from chats or contacts list by clicking his user picture (any other use cases welcome, we don't have it designed, for now, so this is my personal assumption)

#### Expected behavior
Navigate to user profile:

1. Home - Appropriate chat -

[2018-05-15 12:44] churik opened #4280 "Random crash after using app for a while (1h+)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: randomly (I faced with issue twice under different circumstances, but both times I used `status-desktop` actively at least for 1 hour)  `StatusIm` process is starting to consume more 100% CPU, the laptop starts to heat and eventually process stops to respond.

#### Expected behavior
no hang and underconsumption

#

[2018-05-15 12:52] asemiankevich opened #4281 "Contacts list is missing"
### User Story

As a user, I want to see my contact list so I know whom I did add as well as I can select whom to chat with

### Description

*Type*: Feature

*Summary*: Add `Contacts` functionality

#### Expected behavior

1. I can select anyone to chat with from my contacts
2. I can create a group chat with my contacts
3. I can monitor my contacts list
4. I can remove contacts from my least easi

[2018-05-15 13:24] oskarth opened #4282 "Sticky random selection of mail server"
### Problem

Mail servers are bound by max number of peers. To ensure a good experience for end users we want to spread usage out over several mail servers.

### Solution

Use user's public key to deterministically connect to one out of N mail servers. I.e. use a "sticky random" algorithm to spread load.

### Notes

See https://github.com/status-im/status-go/issues/950#issuecomment-389097994

[2018-05-15 13:28] asemiankevich opened #4283 "Copy / paste / quoting options are not available in chats"
### User Story

As a user, I want to copy, paste and quote messages received/sent in 1x1, group or public chat

### Description

*Type*: Bug

*Summary*: messages operating is not possible for Status desktop.

#### Expected behavior

As user I want to:

1. copy / paste any message from chat (1x1 chat, group and public)
2. quote the messages (could be done in future iterations)
3. add reactions to m

[2018-05-15 13:29] oskarth commented on #2503
cc @dmitryn  your call, you touched this most recently

[2018-05-15 13:51] Serhy commented on #4206
The https://github.com/status-im/status-react/issues/4265 covers this issue as well.

[2018-05-15 14:12] oskarth commented on #4282
Additionally, we should remove the mailserver peer after we requested messages. Should probably be a separate issue.

admin_removePeer -- @adambabik

[2018-05-15 14:19] dmitryn commented on #2503
@chadyj @oskarth i would close this as it's too broad. But some ideas could be extracted from current like

Also, (1) and (3) already implemented in some way or another.

[2018-05-15 14:20] dmitryn commented on #4208
Closing as seems duplicate of https://github.com/status-im/status-react/issues/4171

[2018-05-15 14:20] #4208 closed, assigned to nobody

[2018-05-15 14:35] #4099 closed, assigned to nobody

[2018-05-15 14:38] #4091 closed, assigned to cammellos

[2018-05-15 15:38] #3940 closed, assigned to alwx

[2018-05-15 16:08] gravityblast opened #4284 "Manage account recover errors"
If users try to add an existing account that they already imported, but with a different password, they are stuck in the "recover" screen and they don't receive any error.

Error printed in the logs:
[code]

Steps to reproduce it:

1. Create a new account with password `000000`
2. Copy your 12 mnemonic words
3. Log out
4. Click on "Add existing account"
5. Use the 12 mnmonic words taken on step 2,

[2018-05-15 16:09] #3398 closed, assigned to nobody

[2018-05-15 22:49] status-open-bounty commented on #4268
Balance: 0 ETH
Tokens: SNT: 920.00
Contract address: [0x588b647266e05d33871a932ebddd49645895ec57](https://etherscan.io/address/0x588b647266e05d33871a932ebddd49645895ec57)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-15 23:21] morrocco commented on #4268
Hi, we need help with ConnectUS.mx

[2018-05-16 01:17] status-open-bounty commented on #4122
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe1ed82ffab5bdeefaf258dc8d3f1189be0e4b83b7ee75e366c34ee8cf32ddabd](https://etherscan.io/tx/0xe1ed82ffab5bdeefaf258dc8d3f1189be0e4b83b7ee75e366c34ee8cf32ddabd)

[2018-05-16 08:07] flexsurfer commented on #4201
this issue not relevant anymore , because of https://github.com/status-im/status-react/issues/4269

[2018-05-16 08:31] pedropombeiro opened #4290 "Allow both nightly and PR branch version to coexist"
### User Story

As a developer, I want to be able to have both the nightly and PR branch versions co-existing at the same time on Android.

### Description

Currently, both versions share the same identifier preventing keeping reinstalling the nightly build over the PR branch version from the Diawi released version installed. The Diawi version should have a different app ID that doesn't collide wi

[2018-05-16 09:15] chadyj opened #4292 "Separate iOS and Android releases"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to release iOS and Android separately so that I can independently manage release timing and app store approvals.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you di

[2018-05-16 09:39] dshulyak commented on #4139
Closed by https://github.com/status-im/status-react/pull/4285

[2018-05-16 09:39] #4139 closed, assigned to dshulyak, lukaszfryc

[2018-05-16 09:40] rachelhamlin commented on #4269
Closing in favor of a warning message for 3rd party DApps accessed through URL bar.

[2018-05-16 09:40] #4269 closed, assigned to flexsurfer

[2018-05-16 09:46] denis-sharypin commented on #3946
<img width="469" alt="screenshot 2018-05-16 11 45 55" src="https://user-images.githubusercontent.com/6559881/40109865-b98d0892-58fe-11e8-9604-13ae1ab267fb.png">

Link to Zeplin https://zpl.io/agnlM1O

cc @jeluard

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src="/img/favicon/256x256.png" height="14"> Zeplin</div><div><strong><a href="https://

[2018-05-16 09:54] flexsurfer commented on #4201
@psdp i closed PR , if you want you can reopen or create new, let's make it simpler, just remove browser item from home on back button if current page has error , thanks

[2018-05-16 09:55] dmitryn opened #4295 "Text overlap on sign-in screen"
### Description

Text is overlapped on sign-in screen (see screenshot)

### Steps to Reproduce
1. Install app
2. Create new account
3. Log out
4. Check public key value shown under user name on Sign in screen
### Additional Information
[comment]: # (Please do your best to fill this out.)
* Status version: aa108cda (52cdcf8)
* Operating System: Android

![screenshot_20180516-101851](https://user-im

[2018-05-16 10:11] rachelhamlin commented on #4273
Closing this as well in favor of using a browser notification warning for 3rd party URLs.

[2018-05-16 10:11] #4273 closed, assigned to jeluard

[2018-05-16 10:49] asemiankevich opened #4296 "Rename Recent Recipients to Contacts in Wallet"
### User Story

As a user, I don't want to get confused when treating `Recent recipients` incorrectly

### Description

*Type*: Bug

*Summary*: I realized that `Recent recipients` is confusing when sending funds from the wallet. I sent some test ETH to mycrypto account and then I wanted to send some more and realized that I need to scan the code again as nothing is shown in recent recipients

####

[2018-05-16 10:57] asemiankevich commented on #4290
i wish i can upvote it more! :) 👍

[2018-05-16 11:04] asemiankevich opened #4297 "Can't transfer funds from Status to Metamask account (Ropsten - Ropsten)"
### User Story

As a user I want to transfer funds easily between Status and Metamask

### Description

*Type*: Bug

*Summary*: Error shown when trying to scan and send funds from Status to Metamask account

#### Expected behavior

No erros, I can scan the Metamask code with Status and proceed. NOTE: works in Mainnet -> Mainnet

#### Actual behavior

Ropsten -> Ropsten

![image](https://user-image

[2018-05-16 11:17] rachelhamlin opened #4298 "Security warning for browser view"
### User Story

As a user, I want to know when I am exposed to security risks in Status browser.

### Description

*Type*: Feature

*Summary*:

Display some form of notification that when viewing user-entered URLs, the security of the page can not be proven because there are no HTTPS certificate details.

#### Expected behavior
When a user navigates to a URL in the browser bar or opens a link from

[2018-05-16 12:17] annadanchenko opened #4299 "Chats and mailserver do not work in Russia"
### Description

*Type*: Bug

*Summary*:

Can't read new messages and send messages to public chat because of error `Could not connect to mailserver`
#### Expected behavior
Can see messages and send messages to public chat

### Reproduction
https://app.testfairy.com/projects/4803622-status/builds/8295727/sessions/105/?accessToken=5ZRyMMbJ7KR6NFlS4IHkGBRB170
- Open Status
- Join status public chat

[2018-05-16 12:20] oskarth commented on #4299
See https://github.com/status-im/status-react/issues/4264

[2018-05-16 12:20] oskarth commented on #4264
Probably need separate issue for mail server, or we can fold it in and make it large bounty.

[2018-05-16 12:26] psdp commented on #4201
@flexsurfer sure, thanks :)

[2018-05-16 12:27] rachelhamlin opened #4300 "Update icons for featured DApps"
### User Story

As a user, I want DApp icons to be clearly visible.

### Description

*Type*: Feature

*Summary*:
Update the list of DApp icons:

- Each must be visible against a white background.

- Remove the double dot icon from the corner of each.

#### Expected behavior
All featured DApp list icons contrast with the Home screen and have Status ".." element removed.

#### Actual behavior
Certa

[2018-05-16 13:39] flexsurfer commented on #4299
geth.log
[code]

[2018-05-16 14:01] Serhy opened #4301 "Arabic language aligned to the left in message bubble overlaps timestamp"
***Type***: Bug

***Summary***: Right to left text messages aligned to the right in the message bubble and it overlaps message timestamp. We need to take into account, and when the "align text to the right" event is triggered in message bubble - consider a margin of the message timestamp.

#### Expected behavior
Right to left text messages does not overlap timestamp in the message bubble

#### Act

[2018-05-16 15:21] lukaszfryc commented on #4077
@antdanchenko should we close it now?

[2018-05-16 15:24] #4016 closed, assigned to nobody

[2018-05-16 15:29] lukaszfryc commented on #4235
This should be fixed before next release that will include mainnet

[2018-05-16 15:34] status-open-bounty commented on #4264
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8417eccb7a0ba9945147c3c153769e8bd14098776873a1d010847941cc4ae5f4](https://etherscan.io/tx/0x8417eccb7a0ba9945147c3c153769e8bd14098776873a1d010847941cc4ae5f4)

[2018-05-16 15:41] antdanchenko commented on #4077
@lukaszfryc yep

[2018-05-16 15:42] denis-sharypin commented on #3640
Please set a` keyboard type web-search` for this input

[2018-05-16 15:42] #4077 closed, assigned to janherich

[2018-05-16 15:47] chadyj commented on #4240
Update: Since I've been recovering accounts I haven't had the PN option.
However today I created a new account and I got the PN prompt. When I did logged into my main account PN's were working for there.

[2018-05-16 15:57] status-open-bounty commented on #4290
Balance: 0.000000 ETH
Tokens: SNT: 1800.00
Contract address: [0x85b961d08f464e5e8517c54bfce2e313fd42fc1d](https://etherscan.io/address/0x85b961d08f464e5e8517c54bfce2e313fd42fc1d)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-17 03:16] oskarth commented on #4264
@andytudhope don't see any current balance here

[2018-05-17 03:38] status-open-bounty commented on #4297
Current balance: 0.0 ETH
Tokens: SNT: 920.00
Contract address: [0x5da381c23d7cdba2b38b7a55ef87e28d97a57f6a](https://etherscan.io/address/0x5da381c23d7cdba2b38b7a55ef87e28d97a57f6a)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/4297/655427de6f3d1147a3018d268764e8a47a8c46562fe6cd58f6576ade06e7f55b/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty

[2018-05-17 03:41] status-open-bounty commented on #3640
Balance: 0.000000 ETH
Tokens: SNT: 460.00
Contract address: [0xa521d679091c972657dc2518f127bead238b5c60](https://etherscan.io/address/0xa521d679091c972657dc2518f127bead238b5c60)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-17 04:14] status-open-bounty commented on #4296
Balance: 0.000000 ETH
Tokens: SNT: 460.00
Contract address: [0x06767c26a1e89ea1242b59bfbba0c77daccc8175](https://etherscan.io/address/0x06767c26a1e89ea1242b59bfbba0c77daccc8175)
Network: Mainnet
Paid to: georgiemathews
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-17 06:47] status-open-bounty commented on #3942
Balance: 0.000000 ETH
Contract address: [0x6841c84a3896885bd34b5ab6ec66e861c3e781f3](https://etherscan.io/address/0x6841c84a3896885bd34b5ab6ec66e861c3e781f3)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-17 06:56] annadanchenko commented on #3153
On 0.9.18: user upgrade app, recovers account and can't login. Reported in Instabug https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/58

[code]

<blockquote><img src="/favicon.ico?v=eE5LjeB9Od" width="48" align="right"><div><strong><a href="https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/58">Login |

[2018-05-17 08:30] jeluard opened #4309 "Do not allow empty command to be sent"
### User Story

As a user, I don't want to be allowed to send the empty command (`/`) by mistake

### Description

*Type*: Bug

Make the send button (arrow on blue background) disabled when no command is selected.

[2018-05-17 08:42] #3920 closed, assigned to lukaszfryc, antdanchenko

[2018-05-17 08:52] rachelhamlin opened #4310 "Add category headers to DApp screen"
### User Story

As a user, I want to know what types of DApps are available by category, so I have better context into what they do.

### Description

*Type*: Feature

*Summary*:
Use text headers to break the DApp list into categories:

- Exchanges: Airswap, Bancor, ERC dEX, Kyber, Oasis Direct
- Marketplaces: CryptoCribs, Ethlance, OpenSea, Name Bazaar
- Fun & Games: CryptoKitties, CryptoFighters

[2018-05-17 09:24] #3683 closed, assigned to nobody

[2018-05-17 09:54] dmitryn commented on #4295
Not an issue anymore on current nightly 436ac1d7

[2018-05-17 09:54] #4295 closed, assigned to nobody

[2018-05-17 10:34] lukaszfryc opened #4312 "504 Gateway Timeout, nginx 1.10.3 is not ISeqable"
### Description

*Type*: Bug

*Summary*: I've seen the 504 gateway timeout error after spending ~10 minutes using the app. Also, the error appeared couple of times in our e2e tests. When dismissed, the app worked fine. I didn't experience any issues. Maybe there is no point to show such errors in release builds?

<img src="https://user-images.githubusercontent.com/7532782/40172155-c441d13a-59cd-11

[2018-05-17 12:08] lukaszfryc commented on #240
This issue means that when you recover an account, your chatting experience will be very poor since you will not understand who you talking with (no custom names). I'd remove *low-priority* label from this issue.

cc @chadyj

[2018-05-17 12:41] lukaszfryc opened #4316 "Timeout is not ISeqable error dialog is shown"
### Description

*Type*: Bug

*Summary*: I got the following error after entering #staus public channel and staying there for ~2 mins waiting for the chat history. The history did not appear.

<img src="https://user-images.githubusercontent.com/7532782/40177830-f2fbd3b0-59df-11e8-8fc5-5f0862919121.png" width="200">

#### Expected behavior
There is no error and the chat history appears.

#### Actua

[2018-05-17 12:42] lukaszfryc commented on #4316
Maybe related to #4312

[2018-05-17 13:16] pedropombeiro commented on #4316
I had this the other day and seemed to be related to flaky network, restart helped: https://status-im.slack.com/archives/C8QP8S5UH/p1526370620000250

We should probably just surface a more meaningful error if that's the case.

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.slack.com/archives/C

[2018-05-17 13:30] lukaszfryc opened #4318 "Messages are not received after going online again"
### Description

*Type*: Bug

*Summary*: When device goes online, messages that were sent while it was offline should be received. It didn't work this way when I tested latest nightly and 0.9.18 release. I was on stable LTE, and after coming back online I didn't receive the messages. When I sent new message it was delivered but still, I didn't get the messages that were sent while I was offline.

[2018-05-17 13:52] jeluard opened #4320 "Do not inject external js libs in DApps browser"
### User Story

As a developer, I want a DApp browser to start with no extra dependencies

### Description

*Type*: Bug

DApps browser currently starts with a bunch of [extra libs](https://github.com/status-im/status-react/blob/1d196d2e82f862c33c16a684aeb4e20ed1e2cea2/src/status_im/ui/screens/browser/views.cljs#L101) like jQuery. We only want to inject web3.

It also injects our `web3` implementat

[2018-05-17 14:14] asemiankevich commented on #4261
added low prio for now as we are not doing this for P0

[2018-05-17 14:16] pedropombeiro commented on #4318
This seems to share the same root cause as https://github.com/status-im/status-react/issues/4212

[2018-05-17 14:24] asemiankevich commented on #4255
seed phrase is used to recover wallet, and we dont have wallet for P0. Adding medium prio for now

[2018-05-17 14:25] asemiankevich commented on #4283
Beta scope

[2018-05-17 14:46] pedropombeiro opened #4323 "Preview notifications using background app refresh"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see a preview of my messages in the notifications. We should leverage the work from https://github.com/status-im/status-react/issues/3451 to create a local PN with the additional context.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Features

[comment]: # (Describ

[2018-05-17 14:48] denis-sharypin commented on #3941
@alwx  my apologies, I messed up with the user story here
The actual user story should be: `as a user if I haven't finished backing up my seed phrase and got some money on the wallet I will get this notification.`

[2018-05-17 15:19] lukaszfryc opened #4324 "Transaction cannot be sign while being offline"
### Description

*Type*: Bug

*Summary*: A transaction can't be singed while device is offline. Nothing changes when "Sign transaction" button is clicked. After some time, "context deadline exceeded" error appears.

<img src="https://user-images.githubusercontent.com/7532782/40186696-09566042-59f6-11e8-92d3-29d0e215f901.png" width="200">

<img src="https://user-images.githubusercontent.com/7532782

[2018-05-17 15:31] chadyj opened #4325 "Don't show chats without messages 👻"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see new chats with messages so that I'm not confused by empty ghost chats.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what act

[2018-05-17 17:17] pedropombeiro opened #4327 "Migrate from `react-native-fcm` to `react-native-firebase`"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to upgrade from `react-native-fcm` to `react-native-firebase` so that I have access to the latest APIs and bugfixes.

The `react-native-fcm` package is no longer guaranteed to have any active development, while `react-native-firebase` has great backing:

![image](https://user-images.gith

[2018-05-17 17:54] chadyj opened #4328 "User can add a custom mailserver"
### User Story

As a user, I want to add a new mailserver so that I can make sure it isn't blocked.

Fixes https://github.com/status-im/status-react/issues/4299

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Secti

[2018-05-17 17:56] chadyj commented on #4328
Here is a quick wireframe based on the work of https://github.com/status-im/status-react/pull/4239

@andmironov might want to give it some polish 😉

<img width="969" alt="screen shot 2018-05-17 at 7 53 08 pm" src="https://user-images.githubusercontent.com/116099/40194949-538bed56-5a0c-11e8-96cb-8ba98dd042dd.png">

[2018-05-18 05:31] chadyj opened #4330 "Delete"
Deleted.

[2018-05-18 07:54] annadanchenko commented on #4316
nightly May 18, Android 8.1.0 real Pixel XL: "502 Bad Gateway  is not ISeqable" error shown right after I've logged in.
TF log/video: https://app.testfairy.com/projects/4803622-status/builds/8311330/sessions/53/?accessToken=8CRAKjHvQHPI9fz0uXtIq2-lrpI
geth.log:
[geth (13).log](https://github.com/status-im/status-react/files/2015966/geth.13.log)

[2018-05-18 08:02] denis-sharypin commented on #4298
![ios_browser-website](https://user-images.githubusercontent.com/6559881/40223143-5658af80-5a82-11e8-9c3a-571a189382f8.jpg)

We trigger this notification with _every_ opening of the browser
1.  from the dapps list though address input
2. from any link in the chat
3. from the home tab

If a user closes this notification it disappears only for this browser session

Mockup here — https://zpl.io/2y7go

[2018-05-18 08:25] #3994 closed, assigned to nobody

[2018-05-18 08:29] #4268 closed, assigned to nobody

[2018-05-18 08:52] lukaszfryc commented on #4318
Slack conversation about possible causes: https://status-im.slack.com/archives/C9B1T4B9B/p1526564024000384

<blockquote><img src="https://a.slack-edge.com/436da/marketing/img/meta/favicon-32.png" width="48" align="right"><div><strong><a href="https://status-im.slack.com/archives/C9B1T4B9B/p1526564024000384">Slack</a></strong></div></blockquote>

[2018-05-18 09:14] churik commented on #4105
Reproducible on nightly (May 18) - Android when I  recovered account. After tapping sign in (I tapped two times) the error appeared. When I pressed OK the dialog was closed and account was recovered.

[2018-05-18 09:20] yenda opened #4334 "Update to react-native 0.55.4"
Update react-native version to 0.55.4

Main advantages:
- performance improvement (more features for native drivers for animations)
- letter spacing in android
- keyboard fix for certain devices
- bug fixes

To check:
- no regressions

Bounty might be increased if it turns out that the update required more changes than expected.

[2018-05-18 09:47] yenda opened #4335 "Touchable area is too small in chat toolbar with unread messages badge"
The unread messages badge should be touchable so that the touchable area isn't reduced when there is unread messages and stays the same size as when there isn't unread messages.

[2018-05-18 09:55] endenwer commented on #4290
I think the best option here is to use debug build(presented in #4039) for PR branch versions. I can change Jenkins to use that build.

[2018-05-18 10:12] pedropombeiro commented on #2869
Not only that, it will take away any value from improvements like https://github.com/status-im/status-react/issues/3451 on anything other than very high-end devices (i.e. 6GB+ RAM), since the app won't be able to access the user's account after having been evicted from memory.

[2018-05-18 11:04] asemiankevich opened #4338 "Create list components (checkboxes and radiobuttons)"
### Description

*Type*: Feature

*Summary*: Unify lists in all the app views by creating appropriate components

#### Expected behavior
After the https://github.com/status-im/status-react/pull/4239 was merged we are seeing the regressions like this
![image](https://user-images.githubusercontent.com/28752642/40231567-45b79070-5aa4-11e8-832b-c89abc205181.png)

To avoid this we need to unify the beh

[2018-05-18 11:26] mandrigin commented on #2869
@rasom on iOS we can use keychain to temporarily store the encrypted password.
on Android we can try making the service handle sign-in/sign-out, it won't be killed quickly.
after the performance stuff is done, we can focus on that.

[2018-05-18 11:29] annadanchenko commented on #1284
@jeluard yes it's possible to reproduce on nightly build May 18: when typing name try to delete and type it again, here is fresh TF session (from 00:36) https://app.testfairy.com/projects/4803622-status/builds/8311330/sessions/85/?accessToken=tOpoh5-0yISGNe7LPjetkTuQwEE

tried on real Pixel XL, Android 8.1.0

[2018-05-18 11:39] annadanchenko commented on #1284
I also tried once more time after app was closed and run again, in this case extra characters were added right when I've started typing, so no delete was necessary to get the bug: https://app.testfairy.com/projects/4803622-status/builds/8311330/sessions/87/?accessToken=hgKb2LG6Kr6CfgUqvWjQzuGLwRA

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803622-status/builds/8311330/se

[2018-05-18 11:54] mandrigin commented on #2869
I'll start thinking about Android implementation now...

[2018-05-18 11:58] yevh-berdnyk opened #4339 "More than 1000 messages about one of users left a group chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to receive only one message about one of group chat members has left it

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually

[2018-05-18 11:59] pedropombeiro commented on #2869
Don't know the proportion of Android devices which support HW secure enclave, but that could be an option: https://dennisforbes.ca/index.php/2016/12/23/androids-secure-enclave-private-content-and-strong-encryption/

<blockquote><div><strong><a href="https://dennisforbes.ca/index.php/2016/12/23/androids-secure-enclave-private-content-and-strong-encryption/">Android’s “Secure Enclave” / Private Cont

[2018-05-18 12:52] mandrigin commented on #2869
thanks!

[2018-05-18 12:52] denis-sharypin commented on #4300
Put new icons with the same names to my dropbox acc:
https://www.dropbox.com/sh/cj3leivdetfsgo0/AAB6wp9bl6QihqJV4n4_5VwTa?dl=0

[2018-05-18 13:11] #3946 closed, assigned to denis-sharypin

[2018-05-18 13:19] chadyj opened #4340 "TestFlight/Play nightly uploads should be release versions"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer and tester, I want release builds to deploy to release platforms so that I can test release candidates in release scenarios.

### Description

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens.

[2018-05-18 14:09] #4330 closed, assigned to nobody

[2018-05-18 14:30] yevh-berdnyk commented on #4205
I've also faced with this issue on Android 8.1 (OnePlus 5)

[2018-05-18 14:43] VoR0220 commented on #4095
this should also include NFTs in addition to ERC20s.

[2018-05-18 14:45] chadyj opened #4343 "Prevent long spammy messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to avoid seeing spammy/junk/empty messages so that I can focus on the chat experience.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to hap

[2018-05-18 14:46] VoR0220 commented on #2892
I like the anonymity aspect of it and the plausible deniability aspect. Perhaps it should be a setting for random names determined by address to pop up and from there allow for people to change the name client side themselves. No need to be broadcasting your identity to certain accounts. Or better yet, compress identity into an encrypted whisper packet, and from there open it alongside the first m

[2018-05-18 14:53] VoR0220 opened #4344 "Mute Certain Users While Still Relaying"
### User Story

As a user, I want to be able to mute individuals in a chatroom that spam walls of emojis in public settings. Ideally I would like to do this while still contributing to the p2p network and not harming the messages being sent, I just don't necessarily want to see them.

### Description

*Type*: Feature

[2018-05-18 15:18] #4335 closed, assigned to yenda

[2018-05-18 15:21] VoR0220 commented on #4343
Could also have an "expand" option for messages that exceed 300 chars.

[2018-05-18 15:26] #4312 closed, assigned to nobody

[2018-05-18 15:32] mandrigin commented on #4316
fixed in #4337

[2018-05-18 15:32] #4316 closed, assigned to nobody

[2018-05-18 15:38] pedropombeiro opened #4345 "Show progress bar when fetching messages from mailserver"
Blocked by: https://github.com/status-im/status-go/issues/1036

### User Story

As a user, I want to know when the app is fetching messages from the mailserver so I'm not wondering if the app is doing anything, or if my push notification was bogus.

cc @andmironov for design input. My suggestion would be to have an indeterminate progress indicator near the top of the mobile app, like this (the ind

[2018-05-18 15:43] status-open-bounty commented on #4309
Balance: 0 ETH
Tokens: SNT: 940.00
Contract address: [0xcafcb858e4da00f3e55acb0a3870defd73ad3b3f](https://etherscan.io/address/0xcafcb858e4da00f3e55acb0a3870defd73ad3b3f)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-18 15:48] status-open-bounty commented on #4334
Balance: 0 ETH
Tokens: SNT: 920.00
Contract address: [0xf0ba9c96f799bbf60b115b2965bef3d76659be56](https://etherscan.io/address/0xf0ba9c96f799bbf60b115b2965bef3d76659be56)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-18 16:04] denis-sharypin opened #4347 "Update launch screens"
### User Story

As a user, I want to see a consistent brand across platforms so that.

### Description

*Type*: Improvement

#### Expected behavior
<img width="361" alt="screenshot 2018-05-18 17 40 38" src="https://user-images.githubusercontent.com/6559881/40244262-b2c926d8-5ac2-11e8-9983-7a897c42f69d.png">

#### Actual behavior
<img width="392" alt="screenshot 2018-05-18 17 41 09" src="https://us

[2018-05-18 16:26] status-open-bounty commented on #4327
Balance: 0 ETH
Tokens: SNT: 1800.00
Contract address: [0x0df6a1275789b1cbf43c8ac59105de193e24436b](https://etherscan.io/address/0x0df6a1275789b1cbf43c8ac59105de193e24436b)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-18 16:29] status-open-bounty commented on #4345
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe970c53aec33d45c1055dd40781ea0e8a6c7fbaa906c91df65dc201bf68b458a](https://etherscan.io/tx/0xe970c53aec33d45c1055dd40781ea0e8a6c7fbaa906c91df65dc201bf68b458a)

[2018-05-18 16:45] yenda commented on #4343
@chadyj yes I think for beta we need expand feature for messages more than 20 lines, can be a purely UI thing.  What do you think of editing the issue into expand feature and make it a prio for beta ?

[2018-05-18 16:51] georgiemathews commented on #4327
I’ll start working on this

[2018-05-18 17:14] yenda commented on #4343
https://facebook.github.io/react-native/docs/0.53/text.html#numberoflines

I tried this and it doesn't work out of the box, so I'd say this is probably an M issue

<blockquote><img src="/react-native/img/favicon.png" width="48" align="right"><div><strong><a href="https://facebook.github.io/react-native/index.html">Text · React Native</a></strong></div><div>A React component for displaying text.</d

[2018-05-18 17:31] dmitryn commented on #4240
It happens for recovered accounts, because we only ask permissions during onboarding of new account. Will make a fix.

[2018-05-18 18:05] chadyj commented on #4343
@yenda Sounds good for beta. I'll add it to the milestone.
cc @andmironov

[2018-05-19 06:48] #4259 closed, assigned to flexsurfer

[2018-05-19 06:52] #3640 closed, assigned to nobody

[2018-05-20 07:07] goranjovic opened #4351 "Console commands missing - no access to faucet"
### User Story

As a developer/tester I want access to Console commands

### Description

*Type*: Bug

*Summary*: When development mode is enabled and network switched to any non-mainnet, `/faucet` command is still unavailable in Console.

### Reproduction

- Enable dev mode
- Switch to Ropsten RPC
- Open Console - commands are missing

### Additional Information

* Operating System: both
#### Log

[2018-05-20 10:33] maxhora opened #4352 "Setup CI Jenkins builds"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a quality assurance engineer, I want to have application binaries for the verification of every made PR or merged commit into master branch.
As a developer, I want automated tests and build run for any new my PR made.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]:

[2018-05-20 14:47] #3966 closed, assigned to Serhy, yevh-berdnyk

[2018-05-20 17:03] flexsurfer opened #4353 "Webview is still active after unmount"
Actual:
webview JS still running after webview has been unmounted

Expected:
webview JS should be destroyed after component is unmounted

[2018-05-20 17:06] flexsurfer opened #4354 "App crashes while creating new account in custom network"
Create account A
create custom network
switch to the custom network
logout
Create account B
Crash

Expected behaviour
New account should be created in default - mainnet network

`0   StatusIm                            0x0000000104b8e9c8 0x104084000 + 11577800
1   StatusIm                            0x0000000104b93394 0x104084000 + 11596692
2   StatusIm                            0x0000000104ba617

[2018-05-20 19:14] rachelhamlin commented on #4298
@denis-sharypin @flexsurfer this is not as urgent as we thought. Chrome is the only browser that displays full certificate details on mobile.

Can we alter the copy to say, "Connection is not **proven** secure. Make sure you trust this site before signing transactions or entering personal data."

It would be great if, in the near future, we could add a security symbol in the URL bar next to the ad

[2018-05-21 08:25] goranjovic commented on #1678
outdated

[2018-05-21 08:25] #1678 closed, assigned to nobody

[2018-05-21 08:29] lukaszfryc commented on #4272
Really good idea!

[2018-05-21 09:59] churik commented on #4271
## 1. Cannot start the new row in message field

Steps:

- open StatusIm Desktop ([version](https://drive.google.com/open?id=1DzULn8OWZRY5C9lQJJUdfNntLezuscZ9))
- log in
- start new 1-1 chat
- type message in message field - press Shift+Enter (or Alt+Enter) to start new line

### Actual result:
message is sent

### Expected result:
message is not sent; new row is started

**Screen:**
![newline](ht

[2018-05-21 10:11] churik commented on #4271
## 2. Several messages are sent if you press "Enter" several times

Steps:

- open StatusIm Desktop ([version](https://drive.google.com/open?id=1DzULn8OWZRY5C9lQJJUdfNntLezuscZ9))
- log in
- start new 1-1 chat
- type message in message field - press Enter quickly two times ([video](http://take.ms/otpHP))

### Actual result:
2 messages are sent

### Expected result:
one message is sent

**Wallet**:

[2018-05-21 10:15] rachelhamlin commented on #4201
Gentle ping for @psdp - we'd still love to pay you for this bounty if you're interested :)

[2018-05-21 10:18] oskarth commented on #4318
Logs would be useful to debug this

[2018-05-21 10:18] asemiankevich commented on #4354
is this https://github.com/status-im/status-react/issues/3981 @flexsurfer ?

[2018-05-21 10:20] flexsurfer commented on #4354
@asemiankevich no, a different one, here it crashes because we're trying to use custom network, but it available only for account who created it

[2018-05-21 10:20] churik commented on #4234
Verified in ([version](https://drive.google.com/open?id=1DzULn8OWZRY5C9lQJJUdfNntLezuscZ9))

[2018-05-21 10:20] #4234 closed, assigned to vkjr

[2018-05-21 10:40] lukaszfryc commented on #4318
I can't replicate it now

[2018-05-21 10:49] lukaszfryc opened #4359 "No mixpanel event for logout"
### Description

*Type*: Bug

*Summary*: When user logs out, it's not tracked in Mixpanel. But, according to https://github.com/status-im/status-react/blob/develop/src/status_im/utils/mixpanel_events.cljs#L23 there should be `Logout` event.

#### Expected behavior
Logout event is tracked and can be seen in Mixpanel.

#### Actual behavior
Logout event is not tracked.

### Reproduction

- Open Statu

[2018-05-21 10:49] lukaszfryc commented on #4359
@chadyj should logging out be tracked in Mixpanel?

[2018-05-21 10:51] lukaszfryc commented on #4354
Can you log in to the account when you open the app again?

[2018-05-21 10:54] flexsurfer commented on #4354
no, it crashes if i try to sign in

[2018-05-21 10:54] chadyj commented on #4359
Yep

[2018-05-21 11:07] asemiankevich opened #4360 "Error: Doesn't support name when open transaction history"
### Description

*Type*: Bug

*Summary*: `NAME: "Error"
MESSAGE: Error: Doesn't support name:

This error is located at:
    in t
    in RCTView
    in t
    in RCTScrollContentView
    in RCTScrollView
    in ScrollView
    in t
    in t
    in t
    in reagent142
    in RCTView
    in history-list
    in reagent141
    in RCTView
    in transactions
    in reagent139
    in RCTView
    in main

[2018-05-21 11:13] #4282 closed, assigned to yenda

[2018-05-21 11:56] #3919 closed, assigned to yevh-berdnyk

[2018-05-21 11:56] #3925 closed, assigned to yevh-berdnyk

[2018-05-21 11:57] #3922 closed, assigned to Serhy

[2018-05-21 11:59] asemiankevich opened #4361 "Typing fast on iOS amount field leads to incorrect sums"
### Description

*Type*: Bug

*Summary*:  when i type fast on iOS small sums like 0,0094 it appears as 94

#### Expected behavior
when i enter anount in Amount field it is shown correctly

#### Actual behavior
wrong amount is shown (2 instead of 0,02)

### Reproduction
- Open Status
- Go to wallet - send
- Enter 0,02 amount quickly in amount field

[2018-05-21 12:14] denis-sharypin opened #4362 "Update app icons"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I need to see to consistent brand all over platforms.

### Description

*Type*: Improvement

We updated our brand glyph and color 4 months ago, but we haven't applied it to app icons yet.

#### Expected behavior
ios
<img width="322" alt="screenshot 2018-05-21 14 12 21" src="https://user-images.githu

[2018-05-21 13:57] MightyBo commented on #3824
Hello guys, I'm Blockchain Cuties producer. Thanks for reaching out.
We'll look into this from our side right away.

For further issues you can contact us via: social@blockchaincuties.co

[2018-05-21 13:57] psdp commented on #4201
@rachelhamlin Thanks for the reminder. PR submitted https://github.com/status-im/status-react/pull/4365

[2018-05-21 14:40] churik opened #4367 "No sync between different devices with one account"
### User Story

As a user, I want to see all my messages, have my chats/contacts and info synced between all my devices.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature
*Summary*: when user use the same account (key) on different devices, it is supposed that he has all personal info the same on different devices (i.e., photo, name) and all messages that he sends from

[2018-05-21 15:08] rachelhamlin commented on #4201
Awesome @psdp - thank you so much, this is a nice fix for cleaning up the home screen.

[2018-05-21 15:10] #4351 closed, assigned to janherich

[2018-05-21 15:18] rachelhamlin commented on #3824
@MightyBo hey Vladimir, big thanks for looking into this! We have another webview issue that may be related, so if you rule out problems on your side, we'll know we need more focus there.

[2018-05-21 16:00] #4053 closed, assigned to mandrigin

[2018-05-21 21:56] yenda opened #4369 "Mailserver error when upgrading the app"
# Problem

In current develop. there is an error when requesting messages to mailserver because the list of mailserver has been updated and previously set mailservers do not exist anymore

![screen_shot_2018-05-21_at_18 58 03](https://user-images.githubusercontent.com/1181225/40331893-39715a52-5d52-11e8-92b7-e201d3ea0114.png)

# Implementation

Assign a random mailserver in the migrations to previ

[2018-05-22 01:54] mlennie opened #4371 "0 USD showing after adding ether to address on rinkeby network"
### Description

I downloaded the newest status app for android and switched to rinkeby network.

I sent rinkeby ether via rinkeby faucet to my address given on status. There are more than 300 confirmations but I still see 0 USD. Is that normal?

How can I see the amount I have in my rinkeby account via status?

[2018-05-22 07:19] endenwer commented on #4290
@PombeirP @asemiankevich Hi. Who can answer if I can make it as I described above.

[2018-05-22 07:20] asemiankevich commented on #4290
@PombeirP Pedro, @jeluard Julien any thoughts?

[2018-05-22 07:43] pedropombeiro commented on #4318
@yenda are you aware of any recent change which might have fixed this?

[2018-05-22 07:51] pedropombeiro commented on #4290
Hi @endenwer, sorry for the late answer (bank holiday). I think using the debug ID for the PR build should work.

[2018-05-22 07:59] yenda commented on #4318
@PombeirP https://github.com/status-im/status-react/pull/4342

[2018-05-22 08:11] pedropombeiro commented on #4318
Fixed by #4342

[2018-05-22 08:12] #4318 closed, assigned to nobody

[2018-05-22 08:22] #3942 closed, assigned to nobody

[2018-05-22 08:47] yenda commented on #4369
Closed because the issue only happens from nightly to nightly and db will be dropped in 0.19.0

[2018-05-22 08:47] #4369 closed, assigned to yenda

[2018-05-22 09:36] pacamara commented on #4334
Hi @yenda , have posted fix for this at https://github.com/status-im/status-react/pull/4376  :beers:

[2018-05-22 10:00] flexsurfer commented on #3600
it reproduced for links without protocol, for example `google.com` for `http://google.com` it works

[2018-05-22 10:14] annadanchenko commented on #4371
@mlahia If you switched to Rinkeby (not to Rinkeby with upstream RPC) then app needs some time to sync and only after it's completed you can see the balance. Instead, you can switch to Rinkeby with upstream RPC network (so infura is used and no syncing is required).

[2018-05-22 10:32] #4240 closed, assigned to dmitryn

[2018-05-22 11:50] cammellos commented on #4119
Closed via #4286

[2018-05-22 11:50] #4119 closed, assigned to cammellos

[2018-05-22 11:59] flexsurfer commented on #4310
@rachelhamlin can we add `For developers` section, which will be visible only in dev mode?

[2018-05-22 12:39] #4296 closed, assigned to nobody

[2018-05-22 13:32] rachelhamlin opened #4380 "Improve browser security warning"
### User Story

As a user, I want to know about the security of websites in the Status browser.

### Description

*Type*: Feature

*Summary*:
Design update for #4298:

- For **Status curated DApps and websites with valid `HTTPS` certificate**, show security lock icon in the browser bar. Message on-click:
```Connection is secure. Make sure you really trust this site before signing transactions or e

[2018-05-22 13:33] rachelhamlin commented on #4380
@jeluard This requires a few other changes, but want to get designs ready. :)

Is the first bullet accurate? Are we 100% confident in saying that curated DApp connection is secure?

[2018-05-22 13:38] Serhy opened #4381 "'Network does not match' error when scan wallet QR code in the same network"
*Type*: Bug

*Summary*: When I scan wallet QR code - the pop-up with `Network does not match: ethereum: 0x04......... but current chain is <no value>` error appears. It happens when both contacts are on Mainnet RPC / Ropsten RPC networks.

#### Expected behavior
No errors when scanning Wallet QR code. Specify Recipient value is updated with the wallet code.

#### Actual behavior
<img width="238" a

[2018-05-22 13:39] #4171 closed, assigned to dmitryn

[2018-05-22 14:21] rachelhamlin commented on #3910
We are showing testnets with RPC for developer mode, right?

[2018-05-22 15:15] jeluard commented on #4235
Signing phrase is randomly generated for security reason. It can't be deterministic as otherwise third party could generate it.

So this is not possible (and expected to be this way).

[2018-05-22 15:18] status-open-bounty commented on #4347
Balance: 0 ETH
Tokens: SNT: 460.00
Contract address: [0x1982b39ac8b90eaf6a4596e008cb8ac1368260db](https://etherscan.io/address/0x1982b39ac8b90eaf6a4596e008cb8ac1368260db)
Network: Mainnet
Paid to: georgiemathews
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-22 15:21] status-open-bounty commented on #4362
Balance: 0 ETH
Tokens: SNT: 460.00
Contract address: [0xc9052464dfed0a1962ae6dd1e4ffe422fb5769a2](https://etherscan.io/address/0xc9052464dfed0a1962ae6dd1e4ffe422fb5769a2)
Network: Mainnet
Paid to: georgiemathews
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-22 15:24] status-open-bounty commented on #4300
Balance: 0.0 ETH
Contract address: [0x68d93f7ff60523ca363072b952714039166b7ae5](https://etherscan.io/address/0x68d93f7ff60523ca363072b952714039166b7ae5)
Network: Mainnet
Paid to: jeluard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-22 15:28] #4371 closed, assigned to nobody

[2018-05-22 16:50] #4360 closed, assigned to goranjovic

[2018-05-22 17:31] georgiemathews commented on #4347
on it!

[2018-05-22 17:31] georgiemathews commented on #4362
working on it

[2018-05-22 18:08] #4381 closed, assigned to goranjovic

[2018-05-22 19:41] annadanchenko commented on #3910
yes, @rachelhamlin

[2018-05-23 07:06] jeluard commented on #4235
What can be done is showing the new signing phrase during the second onboarding. @yevh-berdnyk WDYT?

[2018-05-23 08:00] #4201 closed, assigned to nobody

[2018-05-23 08:20] adriacidre opened #4387 "Query mail server in bunches of 24 hours"
### User Story

[code]

### Description

Recent changes on status-go mail servers are avoiding recovering messages for periods longer than 24 hours. This behavior makes queries with periods larger than 24 hours to not receive any message.

#### Expected behavior

The user can get all messages on the app even if the messages are older than 24 hours

#### Actual behavior

The user doesn't get messag

[2018-05-23 08:36] mandrigin commented on #4195
@Serhy can you please re-test this one?

[2018-05-23 08:36] mandrigin commented on #4193
@Serhy can you please re-test this one?

[2018-05-23 09:10] debragail commented on #1762
Are perf tools a thing yet?  Last I checked no one had a toolkit they were using.

[2018-05-23 09:29] lukaszfryc opened #4389 "Chat list contains browser duplicates"
### Description

*Type*: Bug

*Summary*: Duplicated browser chats appears in chat list when the same url in a chat is opened multiple times. Rather than duplicating the chat items, existing chat with the url should be opened and bring on top of the chat list.

#### Expected behavior
There are no duplicates in chat list. When link is opened again, the last chat is brought to the top of the list.

#

[2018-05-23 09:38] lukaszfryc commented on #4389
Note that if the urls are different, new browser chat item should be created

[2018-05-23 10:14] annadanchenko commented on #4361
on 0.9.19 release build 9 can reproduce similar issue: typed 1,001 but got 11 in the amount field
![amountissue](https://user-images.githubusercontent.com/6584810/40418514-e2446f44-5e82-11e8-9db9-d18e09331077.gif)

[2018-05-23 10:27] yevh-berdnyk commented on #4235
@jeluard let's prompt a user to set up his wallet again with a new phrase after an account recovery.
I'll update description

[2018-05-23 10:48] asemiankevich opened #4391 "Show latest known wallet balance when user is running app in offline"
### Description
_Type_: Bug

_Summary_: As user, I don't want to be shocked seeing zeros for my wallet balance when I suddenly lost connection. This happens because of current implementation - we are fetching balance automatically after certain period of time or when refreshing manually. So when I am offline - the app could not fetch anything and shows zeros which is confusing.

#### Expected beha

[2018-05-23 10:59] asemiankevich opened #4392 "Show Offline when user is connected to public wifi which requires authorization (by sms or whatever)"
### User Story

As a user, I want to use Status anywhere including public wifi. Some of the public wifi networks require authentication, so a user is connected to WiFi but without any internet, until he bypasses the registration (by SMS typically in my place). In this case Status is not shown as offline, however, no messages received (due to the reason described above).

### Description

*Type*: B

[2018-05-23 11:21] lukaszfryc opened #4393 "Username overlaps Done button"
### Description

*Type*: Bug

*Summary*: Long username overlaps done button. Instead, name should have dynamic font that gets smaller if there is no space.

#### Expected behavior
Username does not overlap other texts.

#### Actual behavior
<img src="https://user-images.githubusercontent.com/7532782/40421288-acb859f4-5e8b-11e8-87f9-55ef9ac181d9.png" width="200">

### Reproduction

- Open Status
-

[2018-05-23 11:44] lukaszfryc opened #4394 "Can't open 5th item in chat list"
### Description

*Type*: Bug

*Summary*: 5th and every next item in chat list can't be opened by clicking on item title or subtitle. Everything works fine when avatar or right side of the item (near the timestamp) is clicked. The issue happens only on iOS. Position of affected items may depend on the device screen. For me on iPhone 8, 5th and every next item had this problem.

<img src="https://us

[2018-05-23 12:09] rachelhamlin commented on #4347
@georgiemathews awesome! We'd love to have this and #4362 updated for beta.

[2018-05-23 12:20] Serhy opened #4395 "Offline inbox messages not received when I wait them staying on 1-1 chat screen"
***Type***: Bug

***Summary***: If I'm waiting for offline inbox messages to arrive staying on 1-1 chat (or Group chat) screens - messages won't appear. However, in a case when I stay on any other screen but not the one I'm awaiting offline inbox message - messages received and appear fine after I navigate to respective chat screen.

Apparently, it's connected to the sending 'seen' message status.

[2018-05-23 12:29] rachelhamlin opened #4396 "Hide group chats outside of dev mode"
### User Story

As a user, I want unusable features to be hidden.

As a developer, I want the option to code against the group chat feature.

### Description

*Type*: Bug

*Summary*:

Hide "Start group chat" feature unless user is in developer mode, for all builds.

#### Expected behavior
"Start group chat" does not appear in this list unless I am in developer mode:

<img src="https://user-images.

[2018-05-23 12:48] pedropombeiro commented on #4396
@rachelhamlin I thought this was already taken care of in https://github.com/status-im/status-react/pull/4054 with https://github.com/status-im/status-react/blob/develop/.env.prod#L20 ?

Update: Nevermind, this is about disabling it for nightlies as well :+1:

[2018-05-23 12:51] asemiankevich opened #4398 "Disable all translations except English for Beta"
### User Story

As a user I want to have good user experience when using the app , so UI should not be glitched or overlapped while being not properly localized for my language

### Description

*Type*: Bug

*Summary*: Disable all translations except English for Beta so we have good user experience

#### Expected behavior
Status UI is English only

#### Actual behavior
Status UI is localized when

[2018-05-23 13:01] #3231 closed, assigned to goranjovic

[2018-05-23 13:01] #4012 closed, assigned to goranjovic

[2018-05-23 13:02] #3910 closed, assigned to mandrigin

[2018-05-23 13:31] rachelhamlin commented on #4396
@PombeirP and also enabling it for dev mode—not sure if that's covered but 0.9.18 doesn't support it

[2018-05-23 13:41] cammellos commented on #4328
Adding & using a bootnode has been addressed, it's feature flagged but ready to be used/tested in develop builds. Will focus on bootnodes for now as higher priority, and then move to adding QR codes & deleting/edit for both.

[2018-05-23 14:17] asemiankevich opened #4402 "Show failed transactions in transaction history as failed"
### User Story

As a user I want clear information about transactions I made

### Description

*Type*: Bug

*Summary*: Failed transactions should be shown in transaction history as Failed

#### Expected behavior
https://ropsten.etherscan.io/tx/0x716eefb91b2d33f63687222f2db2125813098f61fb744d9ea0878a3c45e239ed should be shown as Failed so i am clear enough what has happened with my funds

#### Actu

[2018-05-23 14:27] annadanchenko commented on #4361
Sometimes when typing 1,000000 it becomes ,000000 or 100000
![amount typing 2](https://user-images.githubusercontent.com/6584810/40430781-304cb8c2-5ea6-11e8-932a-4e13339c6807.gif)

[2018-05-23 14:35] #3600 closed, assigned to flexsurfer

[2018-05-23 14:52] asemiankevich opened #4404 "Amount field is limited to 21 characters"
### Description

*Type*: Bug

*Summary*: Can't enter 18 digits after the comma for the 4-digit amount, for example, I want to send or request `1000,111111111111111111` tokens

#### Expected behavior

I am able to send any valid amount with the 18 digits limit after a comma, no matter how many digits before comma I have, for ex `1000,111111111111111111` . See also other 2 restrictions in comment ht

[2018-05-23 15:02] #4177 closed, assigned to yenda

[2018-05-23 15:55] lukaszfryc opened #4405 "Add accessibility label for connection status gray bar"
### Description

*Type*: Feature

*Summary*: Add accessibility label for "Fetching messages...", "Offline", etc. gray statuses. It can be named "connection-status-text":

<img src="https://user-images.githubusercontent.com/7532782/40436027-500f9862-5eb2-11e8-945f-7c90848629b8.png" width="200">

### Additional Information
* Operating System: Android, iOS

[2018-05-23 15:55] lukaszfryc commented on #4405
This task is similar to https://github.com/status-im/status-react/issues/3479

[2018-05-23 16:13] mandrigin commented on #4404
@asemiankevich I'd say that is an `xs` size bounty :)

[2018-05-23 16:16] asemiankevich commented on #4404
@mandrigin thanks!

[2018-05-23 17:38] #4290 closed, assigned to nobody

[2018-05-23 17:57] #4395 closed, assigned to janherich

[2018-05-23 18:11] #4361 closed, assigned to mandrigin

[2018-05-24 06:46] #4394 closed, assigned to mandrigin

[2018-05-24 07:08] Serhy opened #4409 ""Realm file decryption failed" error after app upgrade from release 0.9.18 to develop version"
***Type***: Bug

***Summary***: `Unable to open a realm at path 'data/data/im.status.ethereum/filesdefault.realm': Realm file decryption failed` error appears when I open the app after upgrade from Release 0.9.18 to Develop build (`build-6009+` nightly 402th Jenkins build)

#### Expected behavior
No error after upgrade

#### Actual behavior
Error appears when I open the app after upgrade

<img wid

[2018-05-24 07:34] churik commented on #4283
**To clarify for P0:** user should be able "Copy to clipborad" whole message.
**How it is implemented in mobile:**
![ghghhg](https://user-images.githubusercontent.com/4557972/40471005-f7a7af3e-5f3d-11e8-99d8-295e939ffd39.png)

[2018-05-24 07:44] churik commented on #4279
**To clarify for P0:** user should be able to start chat from user profile and see main info (picture, name, "Add to contacts", "Send message", Contact code).
Naviga
Contact code should be available for copying.
Navigation to user profile should be possible from:
- public chat (clicking on user  pic)
- 1:1 chat (clicking on "View profile")
- contact list (clicking on user  pic)
**How it is impleme

[2018-05-24 07:53] jeluard commented on #4380
In theory they would trust the website as they trust us. But it's probably safer to have this message anyway.

For second item: connection is proven secure *but* they have to trust the URL they are navigating is the right one. So the same message as first item would be ok.

Then we have https websites with incorrect certificate: we should prevent navigation to those and put a big warning.

Lastly

[2018-05-24 08:29] rachelhamlin opened #4410 "Kyber app can't detect account"
### User Story

As a user, I want to log in to Kyber with my Status wallet.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*:
When logging in on Kyber, the app throws an error saying it cannot detect a Metamask account.

#### Expected behavior
Kyber detects the user's account.

#### Actual behavior

<img src="https://user-images.githubusercontent.com/15470435/4

[2018-05-24 08:39] churik commented on #4275
**To clarify for P0:**  for now suggestion to open link automatically in user default browser
**How it is implemented in mobile:**
Suggestion - to use option "Open in Web browser" automatically in Desktop for P0
![web](https://user-images.githubusercontent.com/4557972/40473158-11f730a2-5f44-11e8-9656-963557ba4115.png)

[2018-05-24 08:45] churik commented on #4267
**How it is implemented in mobile:**
![vers](https://user-images.githubusercontent.com/4557972/40474529-f50a860c-5f47-11e8-9b86-d52dc58cc23b.png)

[2018-05-24 08:52] churik commented on #4229
**How it is implemented in Mobile:** this is "Offline messages settings", which should be enabled by default.  User can change "Mailserver" in Profile -> Offline messages settings
![_2](https://user-images.githubusercontent.com/4557972/40474957-f81882ee-5f48-11e8-960c-dac81f802f89.png)

[2018-05-24 08:57] churik commented on #4251
Not P0, because currently, seed phrase is using only for restoring wallet.

[2018-05-24 09:10] churik commented on #4281
**To clarify for P0:**
- add contact list to "New Chat" screen
- if I click on contact, I should be redirected on 1-1 chat with him
- if I click "Add to contact" from 1-1 chat - user should appear in Contact list (#4276)

**How it is implemented in mobile:**
![cont_list](https://user-images.githubusercontent.com/4557972/40475903-61721398-5f4b-11e8-801f-c8ec80922018.png)

[2018-05-24 09:29] rachelhamlin opened #4413 "Can't open CrytptoCribs listing from search results"
### User Story

As a user, I want to view the listings in my CryptoCribs search results.

### Description

*Type*: Bug

*Summary*:
When I try to open my search results on CryptoCribs, nothing happens. On other browsers, I can click on each result to view details and make a booking.

#### Expected behavior
I can click on a listing to view more details.

#### Actual behavior
Nothing happens when I c

[2018-05-24 09:39] andmironov opened #4414 "Chat message style update"
*Type*: Bug/Feature
- In group and 1-1 chats, the messages, margins and padding around them, typography is not implemented correctly
- Timestamps and Names should be updated
- Messages "from myself" should have a different background color
- Link color and formatting

Zeplin:
Web: https://zpl.io/Vxkpl7k
App: zpl://screen?sid=5b02bf07d181f8871a501c30&pid=5a55d587ba304eed4d2c942f

![messages](https:

[2018-05-24 09:41] andmironov opened #4415 "Chat Transaction messages update"
*Type*: Bug/Feature

Transactions and Transaction requests have been updated

Zeplin:
Web: https://zpl.io/V0Ezm3o
App: zpl://screen?sid=5b044c81225fcdba324764fe&pid=5a55d587ba304eed4d2c942f

![transaction messages](https://user-images.githubusercontent.com/3115606/40477697-60e073c4-5f47-11e8-9681-9517cbe0df61.png)

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="

[2018-05-24 09:43] andmironov opened #4416 "Text input states"
*Type*: Bug/Feature

Text input update.

Zeplin:
Web: https://zpl.io/VOW4RvQ
App: zpl://screen?sid=5afea0b1e6337a6f2208b589&pid=5a55d587ba304eed4d2c942f

![input](https://user-images.githubusercontent.com/3115606/40477772-90acc9d6-5f47-11e8-88d9-5ef07d67a92d.png)

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src="/img/favicon/256x256.png" heig

[2018-05-24 09:44] andmironov opened #4417 "Top bar updates and improvements"
*Type*: Bug/Feature

Top bar in 1-1 and Group chats has been updated

Zeplin:
Web: https://zpl.io/bPdK5nD
App: zpl://screen?sid=5afea68a46fb41163c01a742&pid=5a55d587ba304eed4d2c942f

![top bar](https://user-images.githubusercontent.com/3115606/40477842-c4cd9c04-5f47-11e8-8390-6883aa2c1ac6.png)

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src=

[2018-05-24 09:45] churik opened #4418 "Apply new onboarding designs"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
1) main difference in Sign Up process in mobile and desktop app is that welcome screen is missing, and after you create new account you are

[2018-05-24 09:45] andmironov opened #4419 "Default avatars for users and group chats"
*Type*: Bug/Feature

Default avatars for users and group chats

Zeplin:
Web: https://zpl.io/be4G4nm
App: zpl://screen?sid=5b0547e0062822812e56f027&pid=5a55d587ba304eed4d2c942f

![avatars](https://user-images.githubusercontent.com/3115606/40477910-f177f27c-5f47-11e8-94e5-1bc246f1029c.png)

<blockquote><img src="https://zeplin.io/img/favicon/228x228.png" width="48" align="right"><div><img src="/img/

[2018-05-24 10:03] andmironov opened #4421 "Chat Empty State Updates"
*Type*: Feature

Improve the chat empty state and use it as a place to let users know that chat is peer-to-peer and encrypted

Zeplin:
Web: https://zpl.io/2j8KlWr
App: zpl://screen?sid=5b068b69592aae58467ab0c2&pid=5a55d587ba304eed4d2c942f

![chat empty](https://user-images.githubusercontent.com/3115606/40478849-71f912d0-5f4a-11e8-88c1-c82588f3261d.png)

<blockquote><img src="https://zeplin.io/img/

[2018-05-24 10:05] Serhy commented on #3414
I can still reproduce it (iPhoneX with the latest Nightly build). It's happens very often to me (maybe -> 99% happens for the first attempt to scan Wallet QR code for a new account. Steps are:

- Install fresh nightly build
- Create account
- Navigate to `Wallet` -> `Set up your Wallet` -> `Send transaction` -> `Specify recipient`
- `Scan QR code` -> hit 'Allow' for Camera permission -> scan valid

[2018-05-24 10:43] lukaszfryc opened #4423 ""You tried to send "ssh_version" synchronously." error while browsing a web page"
### Description

*Type*: Bug

*Summary*: The error appeared couple of times when I was on mobile connection trying to fetch https://cnn.com. I could not reproduce it afterwards.

<img src="https://user-images.githubusercontent.com/7532782/40480718-a44cfa6c-5f4f-11e8-9f09-4498f8329a93.png" width="200">

#### Expected behavior
No error.

#### Actual behavior
The error appeared couple of times when f

[2018-05-24 10:44] churik opened #4424 ""Status" logo is missing on "Home" screen and has different colours in "Sign Up" process"
### User Story

As a user, I want to see what application I'm using.

### Description
*Type*: Bug
*Summary*:
1) there is no "Status" mention in "Home" screen (no logo neither app header)
![logo](https://user-images.githubusercontent.com/4557972/40480554-9416e754-5f57-11e8-81be-e777f45e1fe6.png)

2) "Status" logo has black instead of white colours ("Sign Up" process)
![wr_col](https://user-images.g

[2018-05-24 10:49] Serhy opened #4425 "No 'Seen' message status on sender side after message receiver read it in 1-1 chat"
***Type***: Bug

***Summary***: There is no 'Seen' status next to the message on sender side after message receiver read the message.
In the https://github.com/status-im/status-react/issues/4395 we fixed the part to actually receive messages. This issue dedicated to returning back 'Seen' status.

#### Expected behavior
'Seen' message status displayed on sender side once the actual message is read

[2018-05-24 10:51] lukaszfryc opened #4426 "Status browser couldn't load pages on mobile connection"
### Description

*Type*: Bug

*Summary*: I have noticed that Status browser can't load pages on slow internet connection. I tried different urls and for each of them Status is 5-10x slower than Chrome. In [this video](https://status-im.slack.com/files/U9ACS9477/FAVD7CZPC/slow-browser.mov), the page was loaded after 3m. I was on LTE (~3Mb/s, home router). I don't experience any issues when I'm usin

[2018-05-24 10:57] lukaszfryc opened #4427 ""Fetching messages..." flashes when there is a contact request in mailbox"
### Description

*Type*: Bug

*Summary*: Fetching messages still flashes when you have a contact request in the mailbox. It's because it fetches again the messages for the particular topic that gets added.

#### Expected behavior
Fetching messages status should not be repeated when there is a contact request in chat list. It should not distract a user.

#### Actual behavior
Fetching messages still

[2018-05-24 11:34] lukaszfryc opened #4431 "Do not show chat screen before transaction sent screen"
### Description

*Type*: Bug

*Summary*: When transaction is signed, a chat screen re-appears for a moment only to be covered by transaction sent screen a second later. Also, when the chat screen appears, the transaction message is marked as "Not sent" which maybe misleading for a user:

<img src="https://user-images.githubusercontent.com/7532782/40482709-f2b3c7f2-5f55-11e8-97a0-caa79b03b38b.png"

[2018-05-24 11:39] #3603 closed, assigned to nobody

[2018-05-24 11:40] #4300 closed, assigned to jeluard

[2018-05-24 11:41] #4310 closed, assigned to jeluard

[2018-05-24 11:42] #4298 closed, assigned to flexsurfer

[2018-05-24 11:56] churik opened #4432 "Implement desktop push notifications"
### User Story

As a user, I want to receive push message when I receive new message.

### Description

*Type*: Feature
*Summary*: implement push notifications for user when the application is running in background, so they should be visible once when message is received and then in "Control Center".
Example:
![jfjfjf](https://user-images.githubusercontent.com/4557972/40483930-822921d2-5f62-11e8-8

[2018-05-24 11:57] Serhy commented on #3095
Closing it since https://github.com/status-im/status-react/issues/4193 duplicates current issue but with updated results.

[2018-05-24 11:57] #3095 closed, assigned to nobody

[2018-05-24 12:10] churik opened #4433 "Add indicator of unread messages (OSX dock bar)"
### User Story

As a user, I want to see so that that I have unread messages in app

### Description

*Type*: Feature
*Summary*: add the red badge of unread messages, like
![unread](https://user-images.githubusercontent.com/4557972/40484398-1ef740a6-5f64-11e8-8177-ce0c100d1262.png)
Not implemented in mobile.

[2018-05-24 12:25] churik opened #4434 "Apply design for new menu and screens for desktop "+" button"
### User Story

As a user, I want to see a list of selected topics and be able to add the new topic in one screen.

### Description

*Type*: Feature

*Summary*: public chat in mobile app allows users to see selected channels for quick joining and possibility to create the new channel if there is no useful in list. Users will expect something similar in Desktop as well.
Separate windows should be a

[2018-05-24 12:39] churik opened #4435 "Add option "Delete chat""
### User Story

As a user, I should be able to delete public channels or to delete 1:1 chat
### Description

*Type*: Feature
*Summary*: in Status Desktop app there is no option to leave public chat or delete chats.
In mobile:
![leave](https://user-images.githubusercontent.com/4557972/40485921-81d73092-5f68-11e8-887e-e81a17869b8a.png)

#### Expected behavior
"Delete chat" is available for Public an

[2018-05-24 12:50] Serhy commented on #3397
https://github.com/status-im/status-react/pull/4221 fixed this issue.
Withing the chat with the 2000+ of messages on Galaxy Note 4 I don't have any lags sending a message.

[2018-05-24 12:50] #3397 closed, assigned to nobody

[2018-05-24 12:51] andmironov opened #4437 "Collapse/Expand message"
*Type*: Feature

To avoid translating "Show more" there's a suggestion to use an icon to expand/collapse long messages.

Zeplin:
Web: https://zpl.io/Vxkpl7k
App: zpl://screen?sid=5b02bf07d181f8871a501c30&pid=5a55d587ba304eed4d2c942f

<img width="647" alt="long" src="https://user-images.githubusercontent.com/3115606/40486461-a6e8c4a6-5f61-11e8-9e52-d33feeb429c6.png">

<blockquote><img src="https://

[2018-05-24 12:53] churik opened #4438 "Implement "Share my contact code""
### User Story

As a user, I want to share my key using QR code.

### Description

*Type*: Feature

*Summary*: for now QR code is not displayed, so there is no option to share it to smbd.

#### Expected behavior
button "Share my contact code" which leads to separate screen with  QR code where you can copy public key.
In mobile:
![mob_imp](https://user-images.githubusercontent.com/4557972/40486622-

[2018-05-24 13:00] churik opened #4439 "Add system warnings ("Offline", "Fetching messages", "Couldn't connect to mailservers" ect)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to know when my app is offline or fetching messages or connecting to peers

### Description
*Type*: Feature
*Summary*: add warnings.
In mobile (offline message):
![offl_2](https://user-images.githubusercontent.com/4557972/40486972-738e1f34-5f6b-11e8-9a01-e0fdf276d3cf.png)

[2018-05-24 13:07] pedropombeiro commented on #4427
One related behavior I've seen is that when a contact has changed his name/picture, whenever the app fetches the historic messages, I see his name/picture change back to the default and later back to the customized name.

[2018-05-24 13:11] lukaszfryc commented on #4427
Yes! I've also seen it and talked with @yenda about it some time ago

[2018-05-24 13:12] asemiankevich opened #4440 "Change network icon respectively to network (make them easy to distinguish visually)"
### User Story

As a user I want to be notified which network I am in so I won't lose funds

### Description

*Type*: Bug

*Summary*: change a color of the network icon. @denis-sharypin please provide icons

#### Expected behavior
Change network icons' colors ( Mainnet, Ropsten / Rinkeby , Custom)

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/40487507-0b664e7a-

[2018-05-24 13:17] #4320 closed, assigned to jeluard

[2018-05-24 14:04] andmironov commented on #4343
https://github.com/status-im/status-react/issues/4437

[2018-05-24 14:10] asemiankevich commented on #1550
havent seen this anymore, closing

[2018-05-24 14:10] #1550 closed

[2018-05-24 14:13] asemiankevich commented on #1703
https://github.com/status-im/status-react/issues/4108 is duplicating this, closing this old one

[2018-05-24 14:13] #1703 closed, assigned to nobody

[2018-05-24 14:13] asemiankevich commented on #1581
android 4 is not supported

[2018-05-24 14:13] #1581 closed

[2018-05-24 14:16] asemiankevich commented on #1719
@denis-sharypin yes, that is what i expect. I think it will be done some day soon? Seen it somewhere in mocks

[2018-05-24 14:18] #1844 closed, assigned to nobody

[2018-05-24 14:20] #2038 closed, assigned to nobody

[2018-05-24 15:00] Serhy commented on #4195
Retested with the latest nightly develop build (402ns Jenkins build from 24th of May).
Having 2000+ messages in public chat, 300+ messages in 1-1 chat does not has impact on UI performance each login or going background/foreground.

[2018-05-24 15:00] #4195 closed, assigned to mandrigin

[2018-05-24 15:21] Serhy opened #4443 "No response messages in Console"
***Type***: Bug

***Summary***: No response message to any command(message). However, after re-login all message responses are shown. /faucet request or any of web3 requests returns nothing.

**Note**: it's only messages does not appear: for instance, funds are received when request /faucet fine.
The issue introduced with #4221

#### Expected behavior
Response messages appear to requests sent in C

[2018-05-24 16:52] Serhy opened #4445 "App freezes when group chat member receives a message"
***Type***: Bug

***Summary***: App starts to lag and becomes almost unusable when Group Chat member receives a message. Heavy lags happening because of continuous requests to mailsever for offline inbox message (visible by very frequent `Fetching messages...` label appearance and logs).

**Note**: it doesn't matter whether the contact was a Group Chat admin or non-admin. It depends who from two c

[2018-05-24 18:40] denis-sharypin commented on #1719
@asemiankevich, AFAIK @andmironov is working on chat

[2018-05-25 04:15] #4396 closed, assigned to pedropombeiro

[2018-05-25 08:20] denis-sharypin commented on #4108
1. If the user has a custom user picture she will see a context menu where on top of the list she has `Remove current photo` option  (on the right)

2. If the user doesn't have a custom picture or she deleted it once she opens this menu again she will see our current context menu. (on the left)

![remove current photo](https://user-images.githubusercontent.com/6559881/37643828-63060bf8-2c54-11e8-8

[2018-05-25 08:25] jeluard commented on #4347
@georgiemathews Do you need any help?

[2018-05-25 09:47] cammellos opened #4450 "App crashes when creating custom networks"
### Description

App crashes when creating custom network

#### Expected behavior
Custom network is added
#### Actual behavior
App crashes

### Reproduction

1) Go to profile
2) Enable dev mode
3) Go to networks
4) Click on +
5) Add a network

[2018-05-25 11:40] #4123 closed, assigned to goranjovic

[2018-05-25 11:46] #4405 closed, assigned to yenda

[2018-05-25 13:16] yevh-berdnyk commented on #4389
looks like a duplicate of #3604

[2018-05-25 13:19] yevh-berdnyk opened #4455 "Error Invalid address is shown twice when scanning incorrect wallet address on iOS"
### User Story

As a user, I want to be notified about scanning invalid wallet QR code so that I can close error dialog tapping it once.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Error

[2018-05-25 13:38] lukaszfryc commented on #4389
Yes, closing.

[2018-05-25 13:38] #4389 closed, assigned to nobody

[2018-05-25 13:48] yevh-berdnyk opened #4456 "New user is not prompted to set up his wallet when signing a transaction from chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to set up my wallet before signing any transactions so that I can remember my signing phrase and be sure that all my transaction are secure.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the

[2018-05-25 14:04] #4398 closed, assigned to pedropombeiro

[2018-05-25 14:07] #3941 closed, assigned to alwx

[2018-05-25 15:10] denis-sharypin commented on #1228
Conditionals:
— check special characters (dot, comma, numbers, etc)
— check the misspelling of words

If one (or both) of this conditionals are true, we show:
`Please double check`

cc @jeluard

<img width="502" alt="screenshot 2018-05-25 17 10 24" src="https://user-images.githubusercontent.com/6559881/40551916-8a9ffc1e-603e-11e8-9780-9ee765e233bc.png">

[2018-05-25 15:48] annadanchenko opened #4458 "Artifactory HTTPS for list of nightly/release builds"
### Description

http://artifacts.status.im:8081/artifactory/nightlies-local/ contains unsorted list of all Android nightly and release builds. If we want to share some apk file we link to this page. However, it's not using HTTPS. Ideally, we need to have https site instead of http.

<blockquote><div><strong><a href="http://artifacts.status.im:8081/artifactory/nightlies-local/">Index of nightlies-

[2018-05-25 15:59] annadanchenko opened #4459 "Moderation in public chat. Moderator role and tools"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user(moderator) or group of users, I want to have possibility to exclude/mute certain users for non-appropriate behaviour in the public chat so that discussions in public chat are not offensive/destructive

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Descri

[2018-05-25 16:17] yevh-berdnyk opened #4460 "Insufficient funds error when sending transaction without wallet set up"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to send a transaction immediately after getting funds on my wallet

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happe

[2018-05-25 16:33] annadanchenko commented on #4062
@oskarth are you ok with the provided solution in Simple DApp? if yes, can you close the issue, please?

[2018-05-25 16:51] georgiemathews commented on #4347
the LaunchScreen1125x2436.png is missing, seems like this was added 3 months ago for iPhone X, not present in the delivered assets, could I get that one as well?

[2018-05-25 17:10] georgiemathews commented on #4362
I'm missing the following icon sizes for

android:
res/mipmap-ldpi/ic_launcher.png - 36x36

ios:
AppIcon.appiconset/Icon-72.png
AppIcon.appiconset/Icon-72@2x.png
AppIcon.appiconset/Icon-Small-50.png
AppIcon.appiconset/Icon-Small-50@2x.png
AppIcon.appiconset/Icon.png - 57 x 57
AppIcon.appiconset/Icon@2x.png - 114 x 114

[2018-05-25 17:33] jeluard commented on #4347
@denis-sharypin Can you help with that?

[2018-05-25 17:41] vkjr commented on #4271
@churik, could you please check a new build - https://drive.google.com/open?id=1-tyFYQ0vCCVzup9TNasPlTOKQc4R7sue

- now new line can be started with shift+enter
- quick presses on Enter doesn't result in a message duplication

<blockquote><div><strong><a href="https://drive.google.com/open?id=1-tyFYQ0vCCVzup9TNasPlTOKQc4R7sue">Meet Google Drive – One place for all your files</a></strong></div><div

[2018-05-25 17:52] status-open-bounty commented on #4455
Current balance: 0.000000 ETH
Contract address: [0x2bc8d5a0eebb45805f32357058522b38178abd5b](https://etherscan.io/address/0x2bc8d5a0eebb45805f32357058522b38178abd5b)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/4455/2fc6f4608ca0d2731907f2be150c86990eb212a7901b37160fc0e0689674020b/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](htt

[2018-05-25 17:53] status-open-bounty commented on #4223
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0x97d354c7c163dabc901edfa84b10f3c74de70a45](https://etherscan.io/address/0x97d354c7c163dabc901edfa84b10f3c74de70a45)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-25 17:54] status-open-bounty commented on #4391
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa3be1fab4b25a833fa5869df069faa0fac51a4ec6ae61736c46798223bc8b69c](https://etherscan.io/tx/0xa3be1fab4b25a833fa5869df069faa0fac51a4ec6ae61736c46798223bc8b69c)

[2018-05-25 17:55] status-open-bounty commented on #4404
Balance: 0 ETH
Tokens: SNT: 500.00
Contract address: [0xc757cdbdf804f9c636cac6ee2005249d0def7fe5](https://etherscan.io/address/0xc757cdbdf804f9c636cac6ee2005249d0def7fe5)
Network: Mainnet
Paid to: goranjovic
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-25 18:15] denis-sharypin commented on #4347
@georgiemathews  added here https://www.dropbox.com/s/tdrhqvw8f6h8fo8/LaunchScreen1125x2436.png?dl=0

<blockquote><img src="https://www.dropbox.com/temp_thumb_from_token/s/tdrhqvw8f6h8fo8?preserve_transparency=False&size=1024x1024&size_mode=2" width="48" align="right"><div>Dropbox</div><div><strong><a href="https://www.dropbox.com/s/tdrhqvw8f6h8fo8/LaunchScreen1125x2436.png?dl=0">LaunchScreen1125x

[2018-05-25 18:52] yenda commented on #4392
@asemiankevich in the latest nightlies with the signal handling should show "Connecting to peers..." ? We could put a timeout of one minute and show "Offline" if it can't connect, it should reconnect automatically already.

[2018-05-25 19:48] debragail commented on #4031
<img width="775" alt="screen shot 2018-05-25 at 12 25 33" src="https://user-images.githubusercontent.com/552529/40563527-f0dc92d2-6019-11e8-8b16-df8748796e7b.png">

[2018-05-25 22:13] status-open-bounty commented on #4392
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa4d2d01681a167324050b3391b4c06c5ac04f609a88eb0e6f2e205c88f7c92be](https://etherscan.io/tx/0xa4d2d01681a167324050b3391b4c06c5ac04f609a88eb0e6f2e205c88f7c92be)

[2018-05-25 22:24] status-open-bounty commented on #4393
Balance: 0 ETH
Tokens: SNT: 500.00
Contract address: [0x74468960fe2b26cec74edf0a386bbb5bc04851d4](https://etherscan.io/address/0x74468960fe2b26cec74edf0a386bbb5bc04851d4)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: tbenr
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-25 22:26] status-open-bounty commented on #4402
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0xcdb353ae7cfece4671ccad2f48e8f32274755c7d](https://etherscan.io/address/0xcdb353ae7cfece4671ccad2f48e8f32274755c7d)
Network: Mainnet
Paid to: goranjovic
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-26 12:00] pacamara commented on #4309
@jeluard Hi! Have posted fix for this issue at https://github.com/status-im/status-react/pull/4465  :pizza: :beer:

[2018-05-26 13:47] pacamara commented on #4391
@asemiankevich Hi! Am not able to reproduce this, when I go offline the wallet balance is preserved and not zeroed. And the code in `update-wallet` in `wallet/events.cljs` checks the network status and does not update if offline:
[code]
Can you give more repro instructions? Thanks! :beers:

(PS. Only exception is if I change currency while offline, but I don't think you were referring to that? Per

[2018-05-26 16:29] jeluard commented on #4309
@pacamara Awesome thanks! Just added some comments.

[2018-05-26 22:29] yenda opened #4466 "Do not request messages from inbox everytime a peer is added"
# Problem

Whenever a peer is added, a request to the mailserver ends up being sent.

# Implementation

Simplify the peers-summary-change-fx function so that it only has effects when the mailserver is connected or disconnected

# Acceptance criteria

Only one request is sent even when peers that are not the mailserver are added/removed.
Unit tests are changed accordingly to verify that

[2018-05-27 09:21] flexsurfer commented on #4410
fixed, the reason was in async coinbase request

[2018-05-27 16:41] mlennie opened #4470 "how can we debug a page in the status browser?"
I'm testing a dapp in the browser and one page appears blank. How can I see the console errors? I tried putting my android phone into usb debugging mode but it's not picking up the dapp in the status browser.

[2018-05-27 18:09] mlennie opened #4471 "Geolocation doesn't work"
Is geolocation implemented in the browser? Currently `navigator.permissions.query` throws an error. Does it currently work and if not how long until that is implemented?

[2018-05-28 04:12] oskarth commented on #4299
See https://github.com/status-im/status-cluster/issues/107

Note that adding custom bootnodes/mailserver is a partial remedy for this, but it requires additional testing w.r.t connectivity. Right now it isn't clear to me that a user in Russia with custom bootnodes/mailserver will be able to connect with users who rely on our nodes.

@adambabik @dshulyak thoughts?

[2018-05-28 04:15] oskarth opened #4473 "Update status-react with new status-go version (contains new enodes)"
### Problem

Current enodes are running on the old cluster, which lacks monitoring/logs/scalability. Additionally, the IPs are tied to specific hosts, as opposed to floating IPs that can be moved between hosts.

### Solution

Bump status-go version status-react as soon as https://github.com/status-im/status-go/pull/994 is merged.

Additionally, update Whisper enodes in status-react as well.

### N

[2018-05-28 04:16] oskarth commented on #4473
Beta blocker as it appears we'll lose connectivity between old and new cluster, so it's a breaking change similar to move to Whisper v6. In the future it should be possible for us to do this more seamlessly.

@adambabik @jakubgs please correct if there's something missing or wrong above.

[2018-05-28 04:33] oskarth commented on #2869
@mandrigin Why is this a blocker for beta? Also seems like it's suggested to make changes that have an impact on security, similar to 143 swarm.

[2018-05-28 04:37] oskarth commented on #4128
@mandrigin @PombeirP @dmitryn @chadyj @rachelhamlin Since this is a beta blocker, maybe it makes sense to push to do this ourselves? Last update was in PR 5d ago. Does either mobile or chat team have bandwidth for this?

[2018-05-28 04:38] oskarth commented on #3336
What's the state of this issue? Is it still a beta blocker?

[2018-05-28 04:39] oskarth commented on #4340
Removing from Beta milestone as it is in backlog

[2018-05-28 04:41] pedropombeiro commented on #4128
I have taken a couple of quick stabs at doing this, without any luck so far. I don't see the crash handler getting called when reproducing https://github.com/status-im/status-react/issues/4205. Maybe someone else will have better luck.

[2018-05-28 04:43] oskarth commented on #4173
@lukaszfryc do you know if any team is aware of this? Mobile-team perhaps? cc @mandrigin

[2018-05-28 04:43] oskarth commented on #4473
cc @PombeirP @cammellos

[2018-05-28 04:52] oskarth commented on #4128
How much of a blocker is it really? Maybe it makes sense to remove it from critical path.

[2018-05-28 04:54] pedropombeiro opened #4474 "Add a timeout on spamming user's send button"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have the send button of a spamming user's app be disabled for a certain period after each sent message so that spamming a chat is less feasible for him.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or bri

[2018-05-28 04:57] oskarth commented on #4062
Seems great!

[2018-05-28 04:57] #4062 closed, assigned to nobody

[2018-05-28 05:01] pedropombeiro opened #4475 "Collapse/expand high numbers of messages sent by one user in a very short amount of time"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see messages that are being received from a given user at a high rate be collapsed together so that they are not visually distracting.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the

[2018-05-28 05:38] cammellos commented on #4473
I can take a look at this when merged, as `status-react` requires some changes as well to handle new versions of `status-go` (for some reason it was always passing a `testnet` config & letting `status-go` overriding it, but the behaviour has changed now). If this gets merged first then no changes necessary https://github.com/status-im/status-react/pull/4453.

[2018-05-28 05:43] oskarth commented on #4328
@cammellos Are you blocked in some way for this?

[2018-05-28 05:47] cammellos commented on #4328
@oskarth no, first iteration has been merged and is ready to test in develop, it does not support using a custom password for now, but I will add that later.

[2018-05-28 06:46] jeluard commented on #4470
You can use [chrome remote debugging](https://developers.google.com/web/tools/chrome-devtools/remote-debugging/) with nightly builds.

[2018-05-28 07:15] goranjovic opened #4476 "Seed phrase is visible in logs during account recovery"
### User Story

As a user I want my account to be safe.

### Description

*Type*: Bug

*Summary*: Seed phrase should be masked in logs. See #4373

Offending handlers:

- `:account-recovered`
- `:recover-account`

Both in `status-im.ui.screens.accounts.recover.events`

#### Expected behavior
Seed phrase appears as ******* in logged events.

#### Actual behavior
Seed phrase is visible as plain text

[2018-05-28 07:43] jeluard commented on #1228
There is no finite set of words that we can use across all wallet implementations as any is free to choose a different so we should rule this out.

The main issue we were having is people not providing the correct number of words.
When do we want to show this message then? All the time we don't have enough words?
Also how about enabling/disabling the `Next` button?

[2018-05-28 08:02] adambabik commented on #4473
@jakubgs please paste enodes for mail servers in the new cluster here. They need to be replaced in status-react.

[2018-05-28 08:12] asemiankevich opened #4478 "Error libgnustl_shared.so is 32 bit instead of 64-bit (android)"
### Description

*Type*: Bug

*Summary*: `libgnustl_shared.so is 32 bit instead of 64-bit`

#### Expected behavior
no errors when launching status

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/40604521-0042b454-6268-11e8-81a7-f80496bd8ddb.png)

### Reproduction
- Open Status with latest nightly on Android

### Additional info
- Huawei P10 lite android 7
- Google

[2018-05-28 08:13] annadanchenko commented on #4478
can reproduce on Galaxy S6, Android 6.0.1 and Pixel XL, Android 8.1.0

[2018-05-28 08:16] #4292 closed, assigned to mandrigin

[2018-05-28 08:19] annadanchenko commented on #4409
no special data required, just create account on 0.9.18 and update to nightly

[2018-05-28 08:19] lukaszfryc commented on #4173
Yes, it will be done by Mobile Client Team

[2018-05-28 08:23] lukaszfryc commented on #2869
I agree with @oskarth that it should not be a beta release blocker

[2018-05-28 08:28] gravityblast commented on #4473
we should have these:

mail-01:
enode://c42f368a23fa98ee546fd247220759062323249ef657d26d357a777443aec04db1b29a3a22ef3e7c548e18493ddaf51a31b0aed6079bd6ebe5ae838fcfaf3a49@206.189.108.78:30504

mail-02:
enode://77a3a6e179ceac552cb4689bee3ea5fca4003e77a5b470540c27fcfaba18333a43d3b89f3b7f12e386acf8bb340d39da74b5288e44f54cedf24c20f678cade7d@167.99.219.240:30504

mail-03:
enode://7aa648d6e855950b2e3d3bf2

[2018-05-28 08:29] adambabik commented on #4299
Currently, each of our nodes in the cluster gets a bootnode address so the discovery starts from the server nodes.

If we allow users to use custom bootnodes, those bootnodes must be aware of our server nodes which means the whole mechanism needs to work in an opposite way (from bootnodes).

geth's `bootnode` does not support that so we probably need to slightly modify our bootnode in status-go an

[2018-05-28 08:35] jeluard commented on #1228
After discussing with @denis-sharypin , we will do the following:

* enable / disable the next button based on passphrase words count
* sanitize all extra spaces
* incorrect characters prevent users to hit `next`

So the error message won't be used (at least with current design).

[2018-05-28 08:44] lukaszfryc commented on #4409
@cammellos [mentioned](https://github.com/status-im/status-react/pull/4430#issuecomment-392117673) this in #4430

0.9.19 would have reset the db.

[2018-05-28 08:47] janherich commented on #4409
This isn't the case when upgrading from `0.9.19`. It would be very tricky to actually solve this properly, is it still necessary given that it doesn't impact users and soon nightly testers as well (upgrade path is `0.9.18` -> `0.9.19` -> `develop`) ?

[2018-05-28 08:51] cammellos commented on #4409
@janherich we discussed a potential way is to:

1) add a release version to the app, starting from 0.9.19.
2) Check on startup if the version is < 0.9.19 (or blank) and reset the db if necessary.

What do you think?

[2018-05-28 09:03] #4353 closed, assigned to flexsurfer

[2018-05-28 09:04] #4478 closed, assigned to rasom

[2018-05-28 09:07] #4343 closed, assigned to dmitryn

[2018-05-28 09:24] mandrigin commented on #4409
yeah, @jakubgs implemented storing the current version in the `VERSION` file as opposed to the branch, so any build can know it's own version now.

[2018-05-28 09:52] asemiankevich commented on #3414
looks good to me! can't say it is fixed 100% but i tried with new and recovered accounts and scanning is great.

[2018-05-28 10:08] jakubgs commented on #4473
The easiest way to find enodes for the new fleet is Consul API:

http://consul.status.im/v1/catalog/service/statusd-mail?tag=eth.beta

The mail-01 and mail-03 I recognize, but I'm not sure where you got the mail-02.

<blockquote><div><strong><a href="http://consul.status.im/v1/catalog/service/statusd-mail?tag=eth.beta">Sign In</a></strong></div></blockquote>

[2018-05-28 10:09] gravityblast commented on #4473
@jakubgs from http://consul.status.im/v1/catalog/service/statusd-mail

<blockquote><div><strong><a href="http://consul.status.im/v1/catalog/service/statusd-mail">Sign In</a></strong></div></blockquote>

[2018-05-28 10:10] gravityblast commented on #4473
so maybe it's not for beta

[2018-05-28 10:11] jakubgs commented on #4473
Oh yeah, that one is from the `eth.test` fleet I made for Andrea to use.
I'm adding a 3rd mail server right now, give me a minute.

[2018-05-28 10:15] #4347 closed, assigned to nobody

[2018-05-28 10:20] churik opened #4483 ""Back up your seed phrase" is shown for recovered accounts"
### Description

*Type*: Bug

*Summary*: If I restore an account from MetaMask, I don't expect to see "Backup your seed Phrase", because I already used seed phrase for restoring my account.
If I tap on it - an error is returned.

#### Expected behavior
no "Backup your seed Phrase" in Wallet
![seed pnrase](https://user-images.githubusercontent.com/4557972/40609849-a9001fcc-6278-11e8-935d-4ca9afc133

[2018-05-28 10:25] jakubgs commented on #4473
Here you go the proper list:
[code]

[2018-05-28 10:28] annadanchenko opened #4485 "'Scan QR' changes value in Asset field to ETH (e.g. SNT -> ETH)"
### Description

*Type*: Bug

*Summary*:
Wrong asset might be set after user scanned QR code: if asset was set to anything else than ETH then after scanning it becomes ETH. It means that user can send ETH instead of tokens if this change will not be noticed, e.g 20 ETH instead of 20 SNT

#### Expected behavior
Values in all other fields besides Recipient remain the same after Scan QR code was used

[2018-05-28 10:42] janherich commented on #4409
That would be indeed the best option, we still have to keep version information in the realm persistent store, but with additional flat file containing the info as well, it's a lot less tricky/error prone to do that front-check.

[2018-05-28 11:46] lukaszfryc opened #4486 "More than one "/request" or "/sent" message is shown when app is opened from notification"
### Description

*Type*: Bug

*Summary*: When the app is opened from notification with "/request" message, the message is shown couple of times in a row. Also, it sticks to the bottom of the chat even when new messages are sent or received. I could not reproduce it for other types of messages than "/request".

<img src="https://user-images.githubusercontent.com/7532782/40613002-0e47a59a-627d-11e8-

[2018-05-28 11:47] lukaszfryc commented on #4486
@yenda maybe it's related to handling signals and #4177?

[2018-05-28 11:50] mandrigin commented on #4486
@lukaszfryc but another device sees only one sent request, right?

[2018-05-28 11:57] lukaszfryc commented on #4486
@mandrigin yes

[2018-05-28 12:02] hesterbruikman opened #4487 "Scan public key from within wallet"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to scan another user's public key so that I can send assets to them.

### Description
In user testing we observed that of 8 participants, all struggled to find their own wallet address to give to someone else to start a transaction (_Wallet Address is under Receive, and participants didn't ex

[2018-05-28 12:17] churik opened #4488 "Selected value in "Wallet" or "Transaction Fee" screen is not visible"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug
_Summary_: when I select value on "Send Transaction" or "Transaction Fee" - it is not visible (white font color on white fill color)

#### Expected behavior
can see selected value, can paste it in black font.

#### Actual behavior
![whiiteonwh](https://user-images.githubusercontent.com/4557972/40613622-efe6c6e8-6287-11e8-8bdd

[2018-05-28 12:38] mandrigin commented on #4128
If crash reports don't work, it makes sense to fix it. Otherwise, I don't see it is being a blocker.

[2018-05-28 12:38] #3414 closed, assigned to flexsurfer

[2018-05-28 13:00] pedropombeiro commented on #4128
Decided to take another stab at this and noticed that the reason Instabug crash reporting wasn't kicking in is that the location where https://github.com/status-im/status-react/issues/4205 crashes doesn't seem to be handled by Instabug (that's a separate issue). I'll focus on just making crash reporting work correctly with an injected exception and then we can open a new issue for ensuring that br

[2018-05-28 13:10] asemiankevich opened #4490 "Advanced button is not collapsed on Profile tab when switching to another tab"
### Description

*Type*: Bug

*Summary*: `Advanced` button is not collapsed automatically on Profile screen, so when i switch to another tab and then go to Profile - screen is scrolled down and it makes me a bit upset if I want to change a user pic for example.

#### Expected behavior
`Advanced` button on Profile should be collapsed when switching to another tab

### Reproduction

- Open Status
-

[2018-05-28 13:11] dmitryn commented on #4128
@PombeirP i was testing manual exception reporting and it seems working https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/crashes

when using `Instabug.reportJSException(error);`

<blockquote><img src="/favicon.ico?v=eE5LjeB9Od" width="48" align="right"><div><strong><a href="https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e9

[2018-05-28 13:19] pedropombeiro commented on #4128
@dmitryn do you mean the #4205 crash appears there? By the way, I was expecting to see it in the #instabug Slack channel. I don't think the creds for Instabug dashboard are on LastPass.

[2018-05-28 13:23] asemiankevich opened #4491 "Validation error message is incorrect for assets"
### Description

*Type*: Bug

*Summary*: Validation error message is incorrect for sending assets ( not ETH)

#### Expected behavior

1. `Amount is too precise. The max number of decimals is [x]` where X is decimal for the particular asset being sent (for assets)
2. Unify the error message when sending ETH from wallet and chat

#### Actual behavior
![image](https://user-images.githubusercontent.co

[2018-05-28 13:27] annadanchenko opened #4492 "Invalid values for `gas limit` and `gas price` are immediately replaced by default ones instead of warning"
### Description

*Type*: Bug

*Summary*:  Value of Gas price is reverted to default one if user is typing inside the field and made some mistake, so value becomes invalid. E.g. typing 0,00034222 and then typing second comma will lead to having a new value inside the field, so user need to start typing again.
Same happens for Gas limit field.

#### Expected behavior
User gets warning that amount is

[2018-05-28 13:36] Serhy commented on #3336
It takes 2 seconds now to open chat with 200 new unread messages on the Galaxy Note 4 (and 8-10 seconds chat with 1000 messages)
For me, such numbers are definitely not a Beta blocker.

The goal is not reached though. There is a difference whether contact navigates to chat with the messages that already seen and unread messages.

[2018-05-28 13:37] dmitryn commented on #4128
@PombeirP not the #4205 as it seems native exception, only JS exceptions got caught by https://github.com/status-im/status-react/blob/develop/src/status_im/utils/error_handler.cljs#L52 where i placed `Instabug.reportJSException(error)` call.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favi

[2018-05-28 13:45] janherich commented on #3336
@Serhy just for the record, what's the difference between opening chat with 1000 new unread/unseen messages (8-10s as you stated) and chat with 1000 red/seen messages ?

[2018-05-28 13:50] andmironov commented on #4421
The lock icon
[icon_lock-gray.svg.zip](https://github.com/status-im/status-react/files/2045278/icon_lock-gray.svg.zip)

[2018-05-28 13:57] pedropombeiro commented on #4128
Will try to see if I can get it to report native exceptions as well, since that would be a shame if we didn't get detailed reports for those as well.

[2018-05-28 13:57] yenda commented on #4486
@lukaszfryc no signal handling is just making it easier to detect disconnections and reconnections

[2018-05-28 14:29] #4265 closed, assigned to cammellos

[2018-05-28 14:30] asemiankevich opened #4496 "Ethos token value is not shown"
### Description

*Type*: Bug

*Summary*: bought a 1.12345678 amount of Ethos token but Status does not show its price in wallet. Token is present on cryptocompare https://www.cryptocompare.com/coins/ethos/overview

#### Expected behavior
Ethos value is shown

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/40619150-a6b1017c-629c-11e8-97f6-f42681fc779b.png)

### Add

[2018-05-28 14:31] #4192 closed, assigned to goranjovic

[2018-05-28 14:32] asemiankevich opened #4498 "Signing words are not shown when account is recovered"
### Description

*Type*: Bug

*Summary*: Signing phrase onboarding missing when the account is recovered

#### Expected behavior
I want to know about 3 signing words when my account is recovered

#### Actual behavior
No wallet onboarding about signing phrase when the account is recovered

### Reproduction
- Open Status
- Recover account

### Additional Information
* Status version: nightly 28 may

[2018-05-28 14:35] asemiankevich commented on #4498
dup https://github.com/status-im/status-react/issues/4456

[2018-05-28 14:55] Serhy commented on #3336
@janherich Navigating to public chat with 1000 read messages happens really fast, I would say <0.3 seconds. 8-10 seconds when unread message relates to public chat too (not only 1-1 / group).

[2018-05-28 15:45] churik commented on #3911
The same for fields Transaction Fee ("Wallet" screen), "Total fee" ("Transaction fee" screen) if you specify amount with 9 decimals (it is valid value, i.e. 11.000000002)
![image](https://user-images.githubusercontent.com/4557972/40620986-a084e168-62a3-11e8-8589-4bbb75df9a24.png)

[2018-05-28 17:50] pacamara commented on #4223
@yevh-berdnyk Hi! I've posted a fix for this at https://github.com/status-im/status-react/pull/4502 :beers:

[2018-05-28 19:31] maxhora commented on #4278
Final changes with status-go compilation for all 3 platforms were merged with PR https://github.com/status-im/status-react/pull/4472

[2018-05-28 19:31] #4278 closed, assigned to maxhora

[2018-05-28 19:48] maxhora commented on #4432
Can we define more specifically what kind of notification features and on what kind of OS should be supported?
For example:
Mac OS ( should we put supported versions of Mac OS ? ) - Notification Center
Linux (what Linux distributions we suppose to support, what versions) - ??? ( http://ubuntuhandbook.org/index.php/2016/06/recent-notifications-ubuntu-16-04/ )
Windows ( Windows 10 ) - Notification C

[2018-05-29 07:12] Chu127001 commented on #4432
@MaxRis for now - Mac OS High Sierra support only.
cc @siphiuel - fix me if I'm wrong

[2018-05-29 07:15] janherich commented on #4486
I was not able to simulate the problem however hard I tried (on the iOS simulator - iOS real device combo) in this branch - https://github.com/status-im/status-react/pull/4442 (waiting for @rasom approval so testing can begin)
I suspect it solves it, and the problem were broken message-ids, so app-side de-duplication didn't work.

[2018-05-29 08:00] asemiankevich opened #4504 "Sort assets alphabetically (send - asset)"
### Description

*Type*: Bug

*Summary*:

- Send transaction - Asset should be sorted alphabetically

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Open wallet
- Send Transaction
- Tap asset

### Additional Information
* Status version: nightly may 28
* Operating System: both

[2018-05-29 08:01] lukaszfryc commented on #4486
@janherich can we merge #4442 first and then rebase this PR?

[2018-05-29 08:09] janherich commented on #4486
@lukaszfryc I don't follow, this is issue, not PR and there is not any other PR then #4442 which is solving the bug.

[2018-05-29 08:09] rachelhamlin commented on #4487
@hesterbruikman do you think this could come post-beta? It will affect only users who want to transact in person, and they have the option to transact with "Contacts" using their public key.

Hard to say how many users will want to transact face-to-face.

[2018-05-29 08:19] #4427 closed, assigned to yenda

[2018-05-29 08:22] lukaszfryc commented on #4486
@janherich ops, yes 😆I'll take a look at #4442 then to see if I can replicate it. Thanks!

[2018-05-29 08:23] rachelhamlin commented on #4498
@asemiankevich what does `to be automated` mean? do you think this needs design? is the idea that the same wallet onboarding screen with new signing phrase appears when user recovers account?

[2018-05-29 08:26] asemiankevich commented on #4498
@rachelhamlin `to be automated` means that @antdanchenko will add some autotests to check this feature. Idea is that user should know his signing words when account is recovered. Imagine you restored account created in Metamask, so you have no idea about how Status operates with transactions. You should be confident that transacting in Status is secure no matter you created new account or recovere

[2018-05-29 08:34] yenda commented on #4466
Fixed in https://github.com/status-im/status-react/commit/21f9aa1b10a71a45a300a0607349246c2fc5e22b

[2018-05-29 08:34] #4466 closed, assigned to yenda

[2018-05-29 08:45] lukaszfryc opened #4506 "Remove group chats from dev mode and make sure user can't be invited to group chats"
### Description

*Type*: Bug

*Summary*: Since group chats are really buggy, we've decided not to include them in Beta. But, they can still be enabled in dev mode. We should prevent it in release builds. Also, there should be no option to invite users to a group chat using old builds that have it enabled. Otherwise, the app may behave unexpectedly.

#### Expected behavior
User can't create or be i

[2018-05-29 08:50] churik commented on #4496
Same problem for `AST` tokens:
*Request:* https://min-api.cryptocompare.com/data/price?fsym=AST&tsyms=USD
*Response:* `USD:  0.2457`
![ast](https://user-images.githubusercontent.com/4557972/40648180-722b2730-6336-11e8-9179-e3fb5d3f73fa.png)

[2018-05-29 08:53] #4498 closed, assigned to flexsurfer

[2018-05-29 09:04] churik opened #4508 "Total value is shown as zero for some currencies and tokens because they are not supported in API"
### User Story

As a user, I want to see only tokens for which price can be correctly fetched; and currencies only suitable for conversion;

### Description

*Type*: Bug
*Summary*: as we are using https://min-api.cryptocompare.com for fetching tokens price, there are several tokens presented in Status app, but not provided by https://min-api.cryptocompare.com/.
List of tokens:
- ROL
- Centra
- ATM

[2018-05-29 09:29] #4409 closed, assigned to cammellos

[2018-05-29 09:37] oskarth opened #4509 "Update Korean translations"
### User Story

As a Korean language speaker, I want to be able to interact with Status in my native language.

### Description

*Type*: Feature

*Summary*: We need someone fluent (and eloquent) in Korean to translate all the latest strings in Status from English.

#### Expected behavior
The Korean translation ought to be as up-to-date as the English one.

#### Actual behavior
The Korean translati

[2018-05-29 09:38] oskarth opened #4510 "Update Japanese translation"
### User Story

As a Japanese language speaker, I want to be able to interact with Status in my native language.

### Description

*Type*: Feature

*Summary*: We need someone fluent (and eloquent) in Japanese to translate all the latest strings in Status from English.

#### Expected behavior
The Japanese translation ought to be as up-to-date as the English one.

#### Actual behavior
The Japanese t

[2018-05-29 09:40] oskarth commented on #4509
Note: should probably partially revert https://github.com/status-im/status-react/issues/4398 and also use capabilities added in https://github.com/status-im/status-react/pull/2510 to do this more rigorously, but this works as a skeleton issue for now.

Additionally, provide some context for why KO in particular.

[2018-05-29 09:40] oskarth commented on #4510
See https://github.com/status-im/status-react/issues/4509#issuecomment-392716544

[2018-05-29 09:42] #4215 closed, assigned to cammellos

[2018-05-29 09:43] #4206 closed, assigned to cammellos

[2018-05-29 10:25] denis-sharypin commented on #4362
@georgiemathews I added what's left. Would you mind to take a look?

iOS:
https://www.dropbox.com/sh/ums7z6miocrlmh2/AAAJVPeqTP5mw13zJmDtpG_6a?dl=0

Android:
https://www.dropbox.com/sh/hjbah1wy1lqimc2/AAAlXGsUh8CtGiIns32TcB9Ra?dl=0

<blockquote><img src="https://cfl.dropboxstatic.com/static/images/icons128/folder_dropbox.png" width="48" align="right"><div>Dropbox</div><div><strong><a href="https:/

[2018-05-29 10:28] flexsurfer commented on #4423
@lukaszfryc can you recheck please, could be fixed in latest develop

[2018-05-29 10:35] lukaszfryc commented on #4423
Sure, I'll recheck tomorrow during nightly testing

[2018-05-29 10:47] lukaszfryc commented on #4435
We've removed "leave chat" from mobile, https://github.com/status-im/status-react/issues/4265

[2018-05-29 10:56] churik commented on #4435
Thanks, @lukaszfryc! Fixed.

[2018-05-29 11:24] #4410 closed, assigned to flexsurfer

[2018-05-29 11:25] #4443 closed, assigned to janherich

[2018-05-29 11:29] annadanchenko commented on #4450
@cammellos when adding a network on nightly build and tap on Save there is no crash, so new network is added to the list. However, if provide not-valid url (e.g. "aaaa") then after switching to this network and trying to log in app crashes (on iOS) Can you share more details on the steps to reproduce, please?

[2018-05-29 12:11] mandrigin commented on #4483
closed by #4500

[2018-05-29 12:11] #4483 closed, assigned to flexsurfer

[2018-05-29 12:22] #4450 closed, assigned to cammellos

[2018-05-29 12:36] asemiankevich opened #4515 "Can't select assets i have values for"
### User Story

As a user I want to have possibility to select tokens I have a positive balance for. Like there is a list of 100 tokens and it is difficult for me to remember how many tokens I bought and which of them especially when I am playing with the app. So if I want to see tokens with positive balance the only way to do this is to go to wallet - send - tap asset.  But i want to have a possi

[2018-05-29 12:48] #4425 closed, assigned to janherich

[2018-05-29 13:00] #4325 closed, assigned to cammellos

[2018-05-29 13:12] debragail commented on #3078
@jeluard has anyone tested on android?

[2018-05-29 13:20] goranjovic commented on #3151
This issue is a special case of amount formatting bug, fixed by @mandrigin

@Serhy do you mind verifying if it's fixed and if yes, we can close this.

[2018-05-29 13:31] jeluard commented on #3078
Yes I tried on android

[2018-05-29 13:34] Serhy commented on #3151
Latest nightly build (5aae87a), - confirmed as fixed!
Awesome! Thanks, @goranjovic and @mandrigin !
Closing this issue.

[2018-05-29 13:34] #3151 closed, assigned to nobody

[2018-05-29 13:42] #4173 closed, assigned to rasom

[2018-05-29 13:50] churik opened #4518 "Tokens "TIME", "POWR", "TGT" have wrong decimals value"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: actual decimals on contract value and https://github.com/status-im/status-react/blob/develop/src/status_im/utils/ethereum/tokens.cljs#L24 are different on several contracts

#### Expected behavior
decimals should be the same on https://etherscan.io/ and in
 https://github.com/status-im/status-react/blob/develop/sr

[2018-05-29 13:55] hesterbruikman commented on #4487
@rachelhamlin
@jeluard

Good point on the in-person use case.I checked and th issue actually occurs for entering a public key as a recipient in wallet, irrespective of the method. I hope we can get at least solution 4 in for beta.

## A few levels of solutions
[ ] 1. _prevent the issue_: eventually derrive a wallet address we feel more comfortale injecting in Whisoer to merge the keys
[ ] 2. _mana

[2018-05-29 14:13] #4491 closed, assigned to goranjovic

[2018-05-29 14:14] #4496 closed, assigned to goranjovic

[2018-05-29 14:20] goranjovic commented on #4487
Having two ids and their QR code representations is the source of the problem. If we allow either of those two ids to be used seamlessly we'll only add to the confusion.

[2018-05-29 19:16] #4485 closed, assigned to goranjovic

[2018-05-30 07:40] rachelhamlin commented on #4380
Sounds good on the first item @jeluard.

With regard to HTTP sites, if we don't inject web3, what will be the consequences?

Let's also add a warning to them. Chrome allows users to visit HTTP sites, but this year they'll be [adding a stronger warning](https://www.theverge.com/2018/2/8/16991254/chrome-not-secure-marked-http-encryption-ssl).

With regard to incorrect certificates, should we give us

[2018-05-30 07:52] #4518 closed, assigned to goranjovic

[2018-05-30 07:53] #4476 closed, assigned to alwx

[2018-05-30 08:24] lukaszfryc opened #4527 ""null is not an object" error while recovering an account"
### Description

*Type*: Bug

*Summary*: Sometimes, when account is recovered `MESSAGE: null is not an object (evaluating 'u.cljs$core$IFn$_invoke$arity$1')` error appears. When it's dismissed, the app works as expected. I was able to reproduce it twice (only on Android).

[code]

#### Expected behavior
Account can be recovered without any errors.

#### Actual behavior
The error appear.

### Repro

[2018-05-30 08:37] rachelhamlin commented on #4487
@hesterbruikman agreed, that's an issue. So:

- `Scan QR code` from Wallet > `Send transaction` typically leads to users scanning the `public address QR code`, not the `wallet QR code`.

- `Enter recipient address` from Wallet > `Send transaction` probably leads to users copying the `public address`, not the `wallet address`.

Again looking at the downside: higher friction to transact, possible co

[2018-05-30 09:01] Serhy opened #4528 "Offline inbox disabled in release_nightly job builds and Ropsten is default network"
***Type***: Bug

*Summary*: Several issues related to release_nightly job and builds it produces:
1) Android build has Mainnet RPC as a default network when creating new accounts in the 6th release_nightly jenkins builds. (Ropsten RPC should be default network here)
So at first https://jenkins.status.im/job/status-react/job/nightly_release/6/ created Android and iOS builds (Android: http://artifac

[2018-05-30 09:15] asemiankevich commented on #4527
 I think it is https://github.com/status-im/status-react/issues/4105

[2018-05-30 09:23] #4527 closed, assigned to rasom

[2018-05-30 10:27] #4127 closed, assigned to nobody

[2018-05-30 10:59] flexsurfer opened #4529 "There is no message on sign message screen"

[2018-05-30 11:00] flexsurfer commented on #4529
![image](https://user-images.githubusercontent.com/11790366/40716464-c6f348c0-6411-11e8-9bd3-3977caa01e0e.png)

[2018-05-30 11:01] goranjovic opened #4530 "Message not shown in Sign message screen"
As a user I want to see the description when I sign the message

### Description

*Type*: Bug

*Summary*: Description message in message signing request is empty.

#### Expected behavior
 Description message in message signing request is shown.

#### Actual behavior
 Description message in message signing request is empty.

### Reproduction

- Switch to dev mode
- Open Simple Dapp
- Sign message

[2018-05-30 11:08] goranjovic commented on #4530
duplicate of #4529

[2018-05-30 11:08] #4530 closed, assigned to nobody

[2018-05-30 11:38] goranjovic commented on #4508
This will need a migration for any users who previously had account set to any of those currencies or had any of those tokens enabled.

[2018-05-30 12:00] lukaszfryc opened #4534 ""Not sent. Tap for options" appears for a moment after sending transaction"
### Description

*Type*: Bug

*Summary*: After sending transaction, the "not sent.." error appears for a moment which may be strange for a user. The error disappears immediately.

<img src="https://user-images.githubusercontent.com/7532782/40718710-5de835f2-6411-11e8-82fe-8f56662afabe.png" width="200">

#### Expected behavior
No error appears if transaction is sent.

#### Actual behavior
The error

[2018-05-30 12:00] #4334 closed, assigned to nobody

[2018-05-30 12:00] lukaszfryc commented on #4431
I could not reproduce it on latest nightly but instead found: https://github.com/status-im/status-react/issues/4534

Anyway, this issue may still be reproducible on slow devices.

[2018-05-30 12:49] lukaszfryc opened #4535 "Render UTF-8 characters in browser URL instead percent-encoded value"
### Description

***Type***: Bug

***Summary***: Url value changes to parsed chars after navigating to Cyrillic page like:

<img src="https://user-images.githubusercontent.com/7532782/40720786-29edc652-6418-11e8-9fb4-1edb95fcce30.png" width="200">

#### Expected behavior
UTF-8 characters rendered in-app browser URL instead of percent-encoded values

#### Actual behavior
Percent-encoded values on U

[2018-05-30 13:50] lukaszfryc commented on #4486
Can't replicate after https://github.com/status-im/status-react/pull/4322 was merged

[2018-05-30 13:57] Serhy opened #4539 "Nothing happens tapping Sign Transaction from 1-1 chat having amount < gas*price + value"
***Type***: Bug

***Summary***: Nothing happens when tap Sign Transaction from 1-1 chat having amount < gas*price + value. We need to show 'Insufficiend funds for gas*price+value' pop-up message, like we do now when sending TX from Wallet or signing transaction from Dapp

#### Expected behavior
Nothing happens tapping Sign Transaction from 1-1 chat having amount < gas*price + value
#### Actual beh

[2018-05-30 14:14] asemiankevich opened #4541 "App version in Profile tab does not match the build in TestFairy"
### Description

*Type*: Bug

*Summary*: As a QA , i want to find my session fast in TF service so I can check logs or whatever is needed to make my work more effective.

#### Expected behavior
App version shown in Profile matches the build in TF so I can easily find a session

#### Actual behavior

For example i have this session https://app.testfairy.com/projects/4803590-status/builds/8405150/se

[2018-05-30 14:20] lukaszfryc opened #4542 "Unread messages counter is shown on recovered account despite all messages were read"
### Description

*Type*: Bug

*Summary*: When account that is recovered had some unread messages, the messages counter appears and stays even though chat was opened and all messages were read. Clearing or deleting the chat does not help. User can't get rid of the unread counter.

<img src="https://user-images.githubusercontent.com/7532782/40725608-21892658-6424-11e8-89b1-9088298f857e.png" width="2

[2018-05-30 14:24] #4529 closed, assigned to flexsurfer, antdanchenko

[2018-05-30 14:26] #3803 closed, assigned to asemiankevich

[2018-05-30 14:26] asemiankevich commented on #4539
@Serhy may be related to https://github.com/status-im/status-react/issues/3441

[2018-05-30 14:26] lukaszfryc opened #4543 "Recovered account contains only messages that have been received but not sent"
### Description

*Type*: Bug

*Summary*: When account is recovered, recovered chats contain only messages that have been sent from another users. But, there are no messages that have been sent from the account. The chat recovered should contain both sent and received messages.

#### Expected behavior
The chat recovered should contain both sent and received messages.

#### Actual behavior
No messag

[2018-05-30 15:18] rachelhamlin commented on #4347
@georgiemathews thanks for your help with this!

[2018-05-30 16:23] #4486 closed, assigned to janherich

[2018-05-30 20:25] yenda opened #4547 "Contact request response should be reliable"
# Problem

When the user accepts a contact request by taping `Add contact` in a chat, the contact request confirmation is never sent if there is a :shh/post error or if the app is disconnected from the network.

# Implementation

Similar to previous work on contact request, the idea is to store if the contact-request-confirmation? has been sent or not and use the :sent signal to update it when sen

[2018-05-31 06:58] endenwer commented on #3574
@jeluard Can you present server for this task so I can test all steps from clean mac. Something like www.macincloud.com.

[2018-05-31 07:16] lukaszfryc commented on #4105
Fixed by https://github.com/status-im/status-react/issues/4127

[2018-05-31 07:16] #4105 closed, assigned to nobody

[2018-05-31 07:36] jeluard commented on #3574
@endenwer The idea is to reuse my own local mac machine, in a headless way.

[2018-05-31 07:40] endenwer commented on #3574
@jeluard I can document how to build .ipa on mac with installed dependencies (need to run `make setup` and have installed xcode). Is it something you need?

[2018-05-31 07:50] jeluard commented on #3574
What I need is the following: my computer is a linux machine. I have access via ssh to a remote mac (no screen no keyboard).
I want a super easy way to get back the ipa from source code I am currently modifying.

[2018-05-31 07:53] lukaszfryc opened #4550 "Copy for deleting public chat mentions group chats"
### Description

*Type*: Bug

*Summary*: While deleting a public chat, the copy says something about group chat. Instead, it should probably be "Are you sure you want to delete this chat?" for all chat types to unify them.

<img src="https://user-images.githubusercontent.com/7532782/40769318-f6e363e8-64b7-11e8-8f6e-ac5666c32600.png" width="200">

#### Expected behavior
Have "Are you sure you want

[2018-05-31 07:57] endenwer commented on #3574
You basically want to do manually what Jenkins do. I can create `make` task for that and you just need to run it and download generated .ipa. But you need to setup your mac first.

[2018-05-31 08:00] lukaszfryc opened #4551 "Missing value for property 'transport.topic' error appeared after removing a public chat"
### Description

*Type*: Bug

*Summary*: "Missing value for property 'transport.topic'" error appered when I removed a public chat. There was "Fetching messages.." in progress. Also, before that, I cleared the chat. When I closed the error, the app worked fine. I could not reproduce it anymore.

<img src="https://user-images.githubusercontent.com/7532782/40769606-b67e8458-64b8-11e8-8d34-84fce91e5c

[2018-05-31 08:01] #4271 closed, assigned to vkjr

[2018-05-31 08:02] #4492 closed, assigned to alwx

[2018-05-31 08:26] rasom commented on #4551
got this error while tried to reproduce
<img width="260" alt="screen shot 2018-05-31 at 11 25 05" src="https://user-images.githubusercontent.com/2364994/40771184-53587746-64c5-11e8-8e84-e96e1bea485e.png">

[2018-05-31 08:27] lukaszfryc opened #4554 ""null is not an object" appeared every time I wanted to switch networks"
### Description

*Type*: Bug

*Summary*: The error was appearing when I tried to switch networks. I was on Rinkeby and I wanted to switch to Ropsten. In the end I wasn't able to change networks. Every time I pressed connect button, the error appeared. Killing the app fixed it. I could not replicate it anymore.

<img src="https://user-images.githubusercontent.com/7532782/40771041-873c4c6c-64bc-11e8

[2018-05-31 08:44] rasom commented on #4551
^ so this error can be reproduced if run
[code]
in repl, but i suppose that's a separate bug.

[2018-05-31 08:55] rasom commented on #4551
ok, so this is the same bug it just looks differently in dev mode.
@lukaszfryc the way to reproduce it is to remove chat before history was fetched.

[2018-05-31 09:09] status-open-bounty commented on #4419
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0x81186afed105e950f5f9c3c1932e3e0a89efaf8f](https://etherscan.io/address/0x81186afed105e950f5f9c3c1932e3e0a89efaf8f)
Network: Mainnet
Paid to: cammellos
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-31 09:13] goranjovic opened #4556 "Mismatch between concept of transaction and transfer"
### User Story

As a user I want to have a clear and non-confusing UI to send/receive ether or tokens or use dapps.

### Description

*Type*: Design

*Context*:

Word "transaction" refers to two different concepts.
The first is like a bank transaction - an operation where some money goes from A to B.
The second one is a bit more general - a set of operations that changes some state atomically.

Ri

[2018-05-31 09:52] churik opened #4558 "Different date/time format on "Transaction details" screen"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see same time format (ideally the same as I specify in my phone settings) across the app.

### Description
*Type*: Bug
*Summary*: in "Chats", "Transaction history" 12h time format is using; the only  place where I can see 24h time format is "Transaction details" screen
#### Expected behavi

[2018-05-31 11:28] churik opened #4561 "Gas Price is replaced by default value if you Choose Recipient after specifying Transaction fee"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see  Gas Price selected by me regardless of when I set the recipient address.

### Description

*Type*: Bug
*Summary*: custom Gas Price is replaced by default value if you tap on "Choose recipient"

#### Expected behavior
Gas Price is not changed (custom value 10 GWei is set)

#### Actual

[2018-05-31 11:58] #3630 closed, assigned to alwx

[2018-05-31 11:59] #3327 closed, assigned to alwx

[2018-05-31 12:00] status-open-bounty commented on #4416
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xbd10e1135bf0333f99fab0592cd58ec2749f3ef251fc62d826bba9e6c8c7509f](https://etherscan.io/tx/0xbd10e1135bf0333f99fab0592cd58ec2749f3ef251fc62d826bba9e6c8c7509f)

[2018-05-31 12:00] status-open-bounty commented on #4417
Balance: 0 ETH
Tokens: SNT: 2000.00
Contract address: [0x94c25ec00c36b57a7a043c4239bc28549dd8a3d3](https://etherscan.io/address/0x94c25ec00c36b57a7a043c4239bc28549dd8a3d3)
Network: Mainnet
Paid to: yenda
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-31 12:00] status-open-bounty commented on #4421
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0x8cea2242ca286a98211e1bb1e95925e4e18837c7](https://etherscan.io/address/0x8cea2242ca286a98211e1bb1e95925e4e18837c7)
Network: Mainnet
Paid to: cammellos
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-05-31 12:20] lukaszfryc opened #4563 "Instabug message reliability survey does not appear inside the app"
### Description

*Type*: Bug

*Summary*: None of the existing surveys appear in Status even though the user events are visible while bug report is sent.

<img src="https://user-images.githubusercontent.com/7532782/40781806-8f1b8e86-64dd-11e8-85b0-0ad644ba05f8.png" width="200">

#### Expected behavior
The surveys appear after conditions are met.

#### Actual behavior
Surveys do not appear

### Repr

[2018-05-31 12:23] lukaszfryc opened #4564 "Create test survey in Instabug that can be submitted while testing nightly"
### Description

*Type*: Feature

*Summary*: We need a test survey to test the Instabug surveys. This issue is about creating one so we could check it in nightly builds. Please set some general conditions like > 10 messages are sent and received.

Please update [testrail test scenario](https://ethstatus.testrail.net/index.php?/cases/view/2563) when the survey is done.

### Additional Information
*

[2018-05-31 12:23] lukaszfryc commented on #4564
Related to: https://github.com/status-im/status-react/issues/4563

[2018-05-31 12:36] lukaszfryc opened #4565 "Chat with request or send commands was not recovered correctly"
### Description

*Type*: Bug

*Summary*: For some reason, when an account that had unread "request" or "send" messages was recovered, the messages were broken:

<img src="https://user-images.githubusercontent.com/7532782/40782164-cdcaf4cc-64de-11e8-8d73-e6e92006feeb.png" width="200">

Also, there was a following error:

<img src="https://user-images.githubusercontent.com/7532782/40782214-e6495642-

[2018-05-31 12:46] asemiankevich commented on #4565
I would say, `send` and `received` were never delivered. However I could see the messages I was not the author of, so when I tap `tap to see options` i can choose `resend` and `delete` which is wrong, moreover the `delete` option causes the same error described in the ticket.

[2018-05-31 13:06] lukaszfryc opened #4567 "Messages marked as sent but not delivered while app showing Offline status"
### Description

*Type*: Bug

*Summary*: I was connected to WiFi router but the router temporary did not have internet connection. The app showed "Offline" status but when I sent messages, their status was "Sent". When device got back online, I checked the other device but messages were not delivered.

A message that was marked as "Sent" while being offline (connected to WiFi but without internet)

[2018-05-31 13:25] churik opened #4569 ""Gas Limit", "Gas price" field validation doesn't match real possible values"
### User Story
As a user, I want to include the only valid gas limit and gas price values in my transaction, so that it is completed successfully

### Description
_Type_: Bug
_Summary_:

1. Gas limit shouldn't have decimals ([source](https://hudsonjameson.com/2017-06-27-accounts-transactions-gas-ethereum/))
1. If you set "Gas Limit" < standart value (21000 - [source](https://kb.myetherwallet.com/g

[2018-05-31 13:33] asemiankevich opened #4570 "Long tap gesture does not work in group chats for long messages"
### Description

*Type*: Bug

*Summary*: I can't now copy / share long messages in group chats - long tap gesture stopped working after `show more / less` feature was implemented (see https://github.com/status-im/status-react/pull/4430)

#### Expected behavior
I can copy/paste/share long messages even with `show more/less` funtionality exists

#### Actual behavior
Long tap gesture does nothing for

[2018-05-31 13:44] jeluard commented on #3574
What would that make task do exactly?

[2018-05-31 13:48] endenwer commented on #3574
Install js dependencies, install lein dependencies, create prod build for ios and generate .ipa. That's what jenkins do now but also upload generated .ipa to diawi.

[2018-05-31 13:55] jeluard commented on #3574
We already have this part. This is the other side I am interested with.

[2018-05-31 13:59] #4387 closed, assigned to yenda

[2018-05-31 14:00] #4473 closed, assigned to cammellos

[2018-05-31 15:44] #4547 closed, assigned to yenda

[2018-05-31 16:15] pedropombeiro commented on #4264
@cammellos can you please update the state of this GHI (project boards also)? Thanks!

[2018-05-31 16:17] Serhy opened #4573 "Default username/userpic when recovered account receives a text message from the contact (without contact request)"
***Type***: Bug

***Summary***: There are default username and userpic of a buddy that contact had a chat in the past are displayed for the recovered contact when he receives a message from this buddy.
Apparently, this is because recovered account did not receive actual contact request.
But we need to take into account this possible use case, - to reveal username and profile image of the contacts

[2018-05-31 17:10] Serhy opened #4574 "Do not update username/userpic for contacts who not in my contact list if I edit my profile info"
### User Story

As a user I don't want to reveal my profile username and userpic to the contact who is not in my contact list if I change my profile data

### Description

***Type***: Bug

*Summary*: When contact updates the profile username/userpic, - the updated username and userpic are sent to all the contacts I have on my Home screen, even those I have not added in my contacts

#### Expected b

[2018-05-31 18:11] cammellos commented on #4264
@PombeirP Adding & using bootnodes has been merged in, the outstanding things are:

1) Scan with a QR code
2) Editing
3) Deleting bootnodes

I can either close  this one (or keep this as a sort of Epic) and create new issues for the remaining or update this with the outstanding features. What do you think?

[2018-06-01 02:49] endenwer commented on #3574
Sorry, I don't get what you need then.
As I understand you want to connect to your mac using ssh, run one command and download .ipa. Now there is no command that you can run to generate .ipa.

[2018-06-01 04:18] #4456 closed, assigned to flexsurfer

[2018-06-01 04:19] #4414 closed, assigned to dmitryn

[2018-06-01 06:15] jeluard commented on #3574
No worries i will spend some time clarifying my needs.

[2018-06-01 07:15] goranjovic commented on #3993
Closing since we no longer have Sign later, so this state is not reachable.

[2018-06-01 07:15] #3993 closed, assigned to nobody

[2018-06-01 07:20] goranjovic commented on #3161
Closing since Unsigned transactions are no longer available in the app, so this can't happen any more.

[2018-06-01 07:20] #3161 closed, assigned to nobody

[2018-06-01 08:18] pedropombeiro commented on #4264
@cammellos We can close this one and create new ones referencing this one.

[2018-06-01 08:18] cammellos commented on #4264
@PombeirP will do

[2018-06-01 08:20] cammellos opened #4582 "Allow user to delete mailservers"
### User Story

As a user
I want to be able to delete mailserver
So I can keep the list manageable

### Description
Part of #4328
The user should be able to delete user-defined mailservers, it should be showing a confirmation dialog before any action is taken.

[2018-06-01 08:24] cammellos opened #4583 "Allow user to add bootnodes by scanning a qr code"
### User Story

As a user
I want to be able to add bootnodes scanning qr codes
So I don't have to type-in / copy & paste a long address

### Description
Part of #4264

The user should be able to add a bootnode using a QR codes, similarly to mailservers.

[2018-06-01 08:25] cammellos opened #4584 "Allow editing bootnodes"
### User Story

As a user
I want to be able to edit bootnodes
So I can correct any mistake or update the details if they have changed

### Description
Part of #4264

The user should be able to edit bootnodes, similarly to mailservers.

[2018-06-01 08:26] cammellos opened #4585 "Allow user to delete bootnodes"
### User Story

As a user
I want to be able to delete bootnodes
So I can manage the list more effectively

### Description
Part of #4264

The user should be able to delete bootnode using a QR codes, similarly to mailservers.

[2018-06-01 08:30] cammellos opened #4586 "Enable custom mailserver for general availability"
Fixes: #4328

### User Story

As a user
I want to be able to use custom mailservers
So I can circumvent ip blocking

### Description

At the moment custom mailservers are only enabled in dev builds.
After this nightly and release will also have them enabled.

Depends on #4582 and successful manual qa testing.

[2018-06-01 08:32] cammellos opened #4587 "Enable custom bootnodes for general availability"
Fixes: #4264
### User Story

As a user
I want to be able to use custom bootnodes
So I can circumvent ip blocking

### Description

At the moment custom mailservers are only enabled in dev builds.
After this nightly and release will also have them enabled.

Depends on #4585, #4584, #4583  and successful manual qa testing.

[2018-06-01 08:36] #4362 closed, assigned to nobody

[2018-06-01 09:23] #4582 closed, assigned to cammellos

[2018-06-01 09:31] #4541 closed, assigned to rasom

[2018-06-01 10:02] churik opened #4588 "Keys are overlapped on "Sign in" screen"
### Description

*Type*: Bug
*Summary*: public keys are overlapped on "Sign in" screen

#### Expected behavior
public keys are displayed with .. in the end

#### Actual behavior
![pubji](https://user-images.githubusercontent.com/4557972/40835361-ea84e0ba-659b-11e8-871c-92c89ba8c3ae.png)

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create or

[2018-06-01 10:10] dmitryn commented on #4295
Bug happened again https://github.com/status-im/status-react/issues/4588