[2020-06-15 10:10] churik opened #10813 ""Wrong password" tooltip is not accessible by e2e"
# Bug Report

## Problem
Appeared in nightly 12/06/2020
Part of https://github.com/status-im/status-react/issues/8567

"Wrong password" on login screen tooltip is not presented in  XML of page (e2e tests also don't see the text from those tooltips)

#### Expected behavior
'Wrong password' tooltip is accessible by e2e

#### Actual behavior
Can't find element on page

### Reproduction

[comment]: #

[2020-06-15 10:11] guylouis commented on #10808
@churik
which means that recover from keycard is broken then isn't it ?

[2020-06-15 10:48] churik commented on #10808
yes, it is broken in current nightly

[2020-06-15 12:56] jinhojang6 commented on #10803
Thanks @flexsurfer! This is weird because traditional Chinese worked well before.

[2020-06-15 13:31] #10803 closed, assigned to flexsurfer

[2020-06-15 15:16] flexsurfer commented on #10634
@Serhy can't reproduce

[2020-06-15 15:48] Serhy commented on #10634
@flexsurfer I can't reproduce too on Android 9 (Galaxy S8)...
But reproduced on Android 8.1 and Android 6 (latest nightly and release 1.4).
Could you check please Android 6-7-8?

[2020-06-16 03:40] bitznbrewz commented on #10699
I can confirm this on the latest version of the app from the app store.  I added aDai tokens to my account.

I also noticed that really tracking any new token requires an app relaunch to update the numbers.  For example, today I added USDC and they didn't show up until I did an app restart.

[2020-06-16 09:16] #10808 closed, assigned to nobody

[2020-06-16 10:18] jakubgs opened #10825 "Nix can't handle annotated tags"
# Description
Some developers have encountered the following error when building with Nix:

[code]

This happens because Nix's `builtins.fetchgit` cannot handle annotated tags: https://github.com/NixOS/nix/issues/2385
This has been noted in the docs but has been since removed from them: https://github.com/NixOS/nix/commit/ae244af242ca3621e5a3b9196f27d9fcbf297266

# Reproducing
Here's a simple Nix

[2020-06-16 11:12] churik commented on #10699
Thank you @bitznbrewz !
I thin you encounter https://github.com/status-im/status-react/issues/10786, will update issue

[2020-06-16 11:13] churik commented on #10786
Also confirmed with USDC

[2020-06-16 11:33] #10694 closed, assigned to flexsurfer

[2020-06-16 12:14] #10658 closed, assigned to flexsurfer

[2020-06-16 13:34] #10634 closed, assigned to flexsurfer

[2020-06-16 13:35] churik opened #10827 "Update framework for keycard to support reset passcode flow"
# Problem

Currently there is no option to add automation tests for:
- wrong PIN error
- frozen card flow
- blocked card flow

## Acceptance Criteria
- see "Wrong passcode" error
- can finish "Reset passcode" when card is frozen
- can get "Blocked card"  screen

[2020-06-16 13:35] hesterbruikman commented on #10786
Wondering if this is a bug or designed behavior. @churik do you know if other assets are added upon being received?

If I recall correctly we only show SNT and Ether by default and don't do path scanning on importing keys (or on other occasions) to see if you have other assets. Don't know if there's a difference for the situation of receiving assets to 'existing' accounts.

cc @johnlea-quiup

[2020-06-16 14:21] #10424 closed, assigned to flexsurfer

[2020-06-16 14:21] churik commented on #10786
@hesterbruikman
it is an issue for sure, tried with AST and BLT - and they are shown after 3d confirmation on wallet without enabling them manually
![photo_2020-06-16 16 21 30](https://user-images.githubusercontent.com/4557972/84786768-739cfe80-afed-11ea-85df-5ec416019ab9.jpeg)

[2020-06-16 14:21] #10761 closed, assigned to nobody

[2020-06-16 14:51] churik commented on #10827
cc @rasom @guylouis

[2020-06-16 15:10] hesterbruikman commented on #10769
@0kok0 Any advice on the security side of the discussion note? (I.e. leaving date of image taken while removing all other image exif)

[2020-06-16 15:18] #10646 closed, assigned to flexsurfer

[2020-06-16 15:19] #10233 closed, assigned to flexsurfer

[2020-06-16 20:14] 0kok0 commented on #10769
Def +1 for removing exif.
When in doubt, I'd also remove the date, as we would then not need to parse the header on the receivers end;
- exif headers were used to [hide payloads](https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/hiding-php-code-in-image-files-revisited/), so if we can skip it, we remove that vector
- we should make sure we also remove exif in case an image is send as

[2020-06-17 11:38] Serhy opened #10833 "No chats on Chats view after submit of Search input value which gives no results"
# Bug Report

## Problem
If I submit `Search` when there are no results and navigate out of the Chats screen (**Issue1**), - then we hide search input. Along with that, we give no ability to cancel chat searching and only white screen keep staying on 'Chats' view. So there are no chats at all on the 'Chats' view are shown and available for open.

Only after app re-launch everything is back and cha

[2020-06-17 11:42] churik opened #10834 "Validation error is overlapping Gas limit and Gas Price input fields"
# Bug Report

## Problem
When validation error is shown on "Network fee" screen, it is overlapping input field.
On IOS it is better - validation tooltip disappears when you start typing, on Android you can't see what you're typing
![photo_2020-06-17 13 37 14](https://user-images.githubusercontent.com/4557972/84893691-e9fa3900-b09f-11ea-8006-02854576217b.jpeg)
![photo_2020-06-17 13 37 11](https://u

[2020-06-17 11:42] Serhy commented on #10833
Similar issue fixed in the past
https://github.com/status-im/status-react/issues/8662

[2020-06-17 12:22] #10807 closed, assigned to Ferossgp

[2020-06-17 14:11] #10834 closed, assigned to Ferossgp

[2020-06-17 15:13] #10833 closed, assigned to Ferossgp

[2020-06-17 16:32] #10699 closed, assigned to flexsurfer

[2020-06-17 16:52] Serhy opened #10838 "'ERC20' instead token name in History tab for the custom token just added"
# Bug Report

## Problem

After adding custom token in the list of tokens and you have transactions in the history then custom token name will default to ERC20 instead normal token name.
After re-login the name picked up and displays fine.

#### Expected behavior

Token name displays fine without re-login in Transaction History after adding token name.

#### Actual behavior

ERC20 displays Transac

[2020-06-17 22:23] 3esmit opened #10840 "It's not possible to remove the notification of background service"
# Bug Report

## Problem

The current notification system leaves an annoying notification that does nothing, and is displayed whenever Status have notifications enabled.

#### Expected behavior

I expected that I could cleanup that notification. I expected that this notification would appear only once.

#### Actual behavior

The notification is locked there, I can't hide it without disabling the n

[2020-06-17 22:28] 3esmit opened #10841 "Status is giving notifications when there is nothing new"
# Bug Report
## Problem
I created a new account to review a translation, using Status PR, which only had that account on it.
I enabled notifications, looked around the texts, and turned off the screen. Randomly I get a notification, when I unlock the device to see the notifications, the only thing that's changed is the age of the background service notification.

#### Expected behavior
Be notified

[2020-06-17 22:45] 3esmit opened #10842 "Some strings are not i18n"
# Bug Report
All strings on the App should be translatable. Some strings are not translatable and hurts accessibility.

Strings that I've found not possible to translate:

* [ ] {bio-type-label} = Fingerprint
* [ ] Notifications
* [ ] Background service notification title and text
* [ ] Sticker notification title and text
* [ ] Audio message notification title and text
* [ ] Log levels (DISABLED,

[2020-06-17 23:02] 3esmit opened #10843 "Devices Pairing "Learn more" link is broken"
# Bug Report

## Problem

When I try to "Learn more" about Pairing, the link takes me to `https://status.im/tutorials/pairing.html` which is a dead link. I couldn't find the new "pairing tutorial" link.

#### Expected behavior

No broken links.

#### Additional information

Build StatusIm-200616-155619-798c46-pr-universal.apk

[2020-06-18 07:49] hesterbruikman commented on #7045
Closing as the issue seems no longer relevant given the new notification implementation

[2020-06-18 07:49] #7045 closed, assigned to nobody

[2020-06-18 07:54] hesterbruikman commented on #10773
@errorists can please add designs to enable notifications during onboarding to this issue?

[2020-06-18 07:58] churik commented on #10841
@3esmit can you please specify Android version and device?
after what time approximately notifications are starting to appear?
Thank you for reporting, we are investigating it.

[2020-06-18 08:03] churik commented on #10843
@hesterbruikman IMO better to fix it ASAP

[2020-06-18 10:03] jakubgs commented on #10843
The pairing page was removed in this massive documentation "update" by B9Lab:
https://github.com/status-im/status.im/commit/0c502810
This isn't the only thing they removed without care.
Would we want to re-add it?

[2020-06-18 10:43] hesterbruikman commented on #10843
@guylouis @rajeevgopalakrishna do you know if we have content for a pairing tutorial? Alternatively, maybe we can direct to the Keycard FAQ section?

[2020-06-18 10:45] jakubgs commented on #10843
We still have the content in history:
https://github.com/status-im/status.im/blob/babef192/source/tutorials/pairing.md
Unless that's outdated.

[2020-06-18 11:37] churik commented on #10843
It is a bit outdated. I can change it.

[2020-06-18 12:17] rajeevgopalakrishna commented on #10843
I don't have the context here but this looks like it's talking about pairing/syncing Status apps on multiple devices.

Are we talking about that or pairing Keycard with Status app?

[2020-06-18 12:19] churik commented on #10843
no, we are talking about device syncing.

[2020-06-18 12:19] hesterbruikman commented on #10843
Apologies for the ping @rajeevgopalakrishna ! I read this as Keycard pairing

[2020-06-18 12:26] 3esmit commented on #10841
Android 8.1.0

Takes about 1 hour to happen. Open Status and turn off screen. Sometime later it will happen. Is randomly happening, seems like that the background service is killed and restarted, causing the problem.

[2020-06-18 13:21] yenda commented on #10840
You can't remove it it's Android guidelines, a background service must display a notification as long as it runs. To make it more useful though I added a stop button on a pending PR and made it touchable so that tapping open the app.

[2020-06-18 13:27] #10253 closed, assigned to nobody

[2020-06-18 13:47] yenda commented on #10841
What is the device

[2020-06-18 13:48] churik commented on #10841
Didn't happen to me on Android 10 / Xiaomi Mi Note 9

[2020-06-18 15:56] #10127 closed, assigned to 0x-r4bbit, flexsurfer

[2020-06-18 22:54] 3esmit commented on #10841
One Plus 5T

[2020-06-19 08:15] yenda commented on #10841
@3esmit yeah that is what I suspected, I have a OnePlus too, afaik it's the only Android flavor that doesn't respect the guideline. They have a very aggressive battery saving algorithm that ends up killing anything that isn't on their whitelist, which is just a bunch of Fitness apps such as Google Fit. The solution that seems to work is:

[2020-06-19 16:17] #10312 closed, assigned to flexsurfer

[2020-06-20 18:23] artymis commented on #4102
My app makes three https calls to a web service so I've had to jump through this hoop too.  I'm not 100% sure all my fields are correct, but if it helps, here's what I've put in my Self Classification Report:

[App Name], [AppSku], SELF, 5D992, MMKT, Mobility and mobile applications n.e.s., [My Name], [My Telephone], [My Email], [My Address], No, N/A

[2020-06-22 07:35] 3esmit opened #10855 "Mailserver "Automatic selection" get stuck on timeouting mailserver"
# Bug Report

## Problem

When a mailserver is timeouting, as this:
[code]

The messages keep loading forever, and I need to manually disable automatic selection, and try another.

## Current Behavior

By default, messages don't load and no error is given.

## Expected Behavior

It should detect that a node is not answering and move on to next.

## Additional info

This was happening on:

[code]

[2020-06-22 07:49] jakubgs commented on #10855
Correct, the issue was caused by no free disk space left. But I think there's two issues here:

1. Connecting to a history node with disk space issues:
  - `timed out waiting for mailserver response`
  - This error doesn't make much sense and `status-go` could probably be improved in that regard
2. The app itself doesn't attempt to pick another mailserver despite the so called "timeout".

[2020-06-22 08:05] jakubgs commented on #10855
Looks like disk space run out because of new db backups I added, but the retention is too high, so it ate up all disk space. Will fix that today.

[2020-06-22 08:42] errorists commented on #10773
@hesterbruikman they're [here](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4540%3A13229), however the copy there likely needs adjusting as afaik we don't send PNs on transaction updates?

[2020-06-22 09:43] jakubgs commented on #10855
Okay, I see what was the issue. We had retention set right to `3`:
[code]
https://github.com/status-im/infra-eth-cluster/blob/d8dca70/ansible/roles/statusd-mailsrv/defaults/main.yml#L144
But the purging part of the script has a bug:
[code]
https://github.com/status-im/infra-eth-cluster/blob/d8dca70/ansible/roles/statusd-mailsrv/tasks/backup.yml#L34-L36
When calling `rm` on `${OLD_DUMPS}` it's not

[2020-06-22 09:51] churik commented on #10838
disabled check in TC 6208  - uncomment after fix

[2020-06-22 09:52] jakubgs commented on #10855
Modified the `systemd-timer` to support setting work dir: https://github.com/status-im/infra-role-systemd-timer/commit/3ba6995b
And modified the history node role to set it correctly: https://github.com/status-im/infra-eth-cluster/commit/f9cc9fd7
Looks much better:
[code]
[code]

[2020-06-22 09:58] #10813 closed, assigned to nobody

[2020-06-22 10:45] #2681 closed, assigned to nobody

[2020-06-22 11:49] hesterbruikman commented on #10773
Thanks. And yes, the copy needs an update:

Android
- Status will notify you about new 1:1 and group chat messages. You can edit your notification preferences later in settings.

iOS
- TBD

WDYT about the above for Android? @errorists @yenda

[2020-06-23 05:23] #8962 closed, assigned to nobody

[2020-06-23 05:24] flexsurfer commented on #9928
no spinner no issue :)

[2020-06-23 05:24] #9928 closed, assigned to nobody

[2020-06-23 05:28] flexsurfer commented on #10667
npm library was updated last time 2 months ago, we have to use the latest master instead

[2020-06-23 05:29] flexsurfer commented on #10667
cc @hesterbruikman

[2020-06-23 08:23] hesterbruikman opened #10860 "Rename and move Access keys in onboarding"
# Problem
The current onboarding flow offers a shortcut to `Access key` in case users already have an account they would like to import.

Access key can be interpreted as a noun. This has happened at least on occasion: User on discuss: "Currently, if you have more than one “access key” in the Local Status". It can also lead to erroneous translations.

## Solution
- Rename `Access key` to a more ac

[2020-06-23 08:23] hesterbruikman commented on #10860
cc @errorists @simonricoo @johnlea-quiup

[2020-06-23 11:02] hesterbruikman commented on #10473
fyi Guideline for url display: https://user-images.githubusercontent.com/61156799/81282968-3479a600-905c-11ea-9961-fd2254c6735b.png

[2020-06-23 13:00] #9037 closed, assigned to flexsurfer

[2020-06-23 13:13] #10660 closed, assigned to vitvly

[2020-06-23 13:18] hesterbruikman commented on #10667
cc @0kok0

Release cut for 1.4.1 is planned for today. Is it reasonable to include npm library for 1.5 (release mid-Jul)?

@flexsurfer or @0kok0 can you elaborate on the function of the library and in what use cases the user is exposed to phishing that an up-to-date library would prevent?

[2020-06-23 14:32] Samyoul commented on #10325
The `status-go` functionality for this is merged https://github.com/status-im/status-go/pull/1990.

Awaiting on specs to be cleared for merge

[2020-06-23 14:33] hesterbruikman commented on #10325
Thanks for making this happen!

[2020-06-23 14:44] #9803 closed, assigned to emizzle

[2020-06-24 11:34] Ferossgp opened #10865 "Load only the current language json on app init"
# Feature Issue

Currently, the Status app loads all the languages in the app bundle. We could postpone and load the languages as needed. Use the react-native inline require to load only the current language. This will increase the speed on app initialization as of a smaller loaded payload on start.

[2020-06-24 11:39] Ferossgp commented on #10865
One could revert this PR https://github.com/status-im/status-react/pull/10726 and load only needed language instead of all. By moving the calls of `js/require` from https://github.com/status-im/status-react/pull/10726/files#diff-471194b121cea0da9ef1236f48707740L16-L34

[2020-06-25 07:05] flexsurfer opened #10868 "ENS name is pending when tx has failed"
# Bug Report

## Problem

Some users report that they have pending ens names with failed tx, and it's not possible to remove or register this name again

#### Expected behavior

there is no ens name in the list if tx has failed

[2020-06-25 09:59] churik opened #10870 ""Invalid timbre logging level" after upgrade from 1.4 to 1.4.1 or relogin on 1.4.1"
# Bug Report

## Problem

After upgrade and login got an error
![IMAGE 2020-06-25 11:58:53](https://user-images.githubusercontent.com/4557972/85698759-3e726980-b6db-11ea-972d-db1e70bf1110.jpg)

#### Expected behavior
can upgrade normally

#### Actual behavior
error after upgrade

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Install 1.4 from store
- Upgrad

[2020-06-25 10:19] churik commented on #10870
It is also reproducible after relogin into account in 1.4.1
Not reproducible on nightly 25/06/2020

[2020-06-25 10:24] churik commented on #10870
IMO can be related to https://github.com/PascalPrecht/status-react/commit/a7b15565cafab7ff70798a3725294070e3554521
(but not sure) and to the fact, that it is INFO by default in nightly builds and disabled in release builds

[2020-06-25 11:18] hesterbruikman opened #10872 "Button to delete chat invisible on native dialog"
# Bug Report

## Problem
When `longpress` > `Delete chat` a native dialog shows. There seems to be a delete button on the right, tapping in that area does delete the chat, but it is not visible

#### Expected behavior
Button(s) are visible

#### Actual behavior
Button(s) are note visible

![Screenshot_20200625-124629_Status](https://user-images.githubusercontent.com/35233054/85711523-a929a200-b6e7

[2020-06-25 11:40] hesterbruikman commented on #10428
Same issue occurred when attempting to `longpress` > `delete chat` #10872

Issue remains until app is closed or reinstalled. Issue disappeared when closing and reopening the app, while notifications kept running.

[2020-06-25 11:40] hesterbruikman commented on #10872
Captured in #10428

[2020-06-25 11:40] #10872 closed, assigned to nobody

[2020-06-25 12:21] 0x-r4bbit commented on #10870
@churik very likely that it's related to my commit. I'll take a look at it tomorrow morning first thing!

[2020-06-25 12:31] Serhy opened #10874 "PN for reply message is shown as two messages"
# Bug Report

## Problem
When user receives Push Notification for a reply message, - PN shows is as like two separate messages were received: first is the actual message and second on is the message of reply-to quote

#### Expected behavior

Only actual message is shown when reply is received

#### Actual behavior

Reply + actual message shown in push notification

![2324234234](https://user-image

[2020-06-25 12:55] churik opened #10875 "Timestamps of previous push notifications are updated when new push notification is coming"
# Bug Report

## Problem
Timestamps on all PNs are updated once new PN is arriving
![Monosnap 2020-06-25 14-49-22](https://user-images.githubusercontent.com/4557972/85723044-24dd1c00-b6f3-11ea-9c20-fd605076a790.png)

#### Expected behavior
Timestamp on message A is the same

#### Actual behavior
Timestamp on message A is updated (the same as on message B)

### Reproduction

[comment]: # (Describe

[2020-06-25 13:09] churik opened #10876 ""Update to latest version to see..." when receiving push notification with sticker, audio or image or as previe in chat input in case of responding to image"
# Bug Report

## Problem
On preview of push notifications with images or with stickers misleading message is shown:
![IMAGE 2020-06-25 15:02:13](https://user-images.githubusercontent.com/4557972/85724802-da5c9f00-b6f4-11ea-8f26-bcf96fc2b3a7.jpg)
![IMAGE 2020-06-25 15:02:17](https://user-images.githubusercontent.com/4557972/85724813-dcbef900-b6f4-11ea-8e38-b5815fc68b90.jpg)

#### Expected behavior

[2020-06-25 14:25] churik commented on #10843
@jakubgs  where ca I post updated content? I can post it here and you push it wherever it is needed
Sorry for delay

[2020-06-25 14:45] flexsurfer commented on #10870
fixed

[2020-06-25 17:36] jakubgs commented on #10843
Why not make it a docs page on the main site?
https://github.com/status-im/status.im/tree/develop/source/technical

[2020-06-26 10:38] hesterbruikman opened #10880 "Expanded view with public chat categories"
# Problem
When joining Status is difficult for people to understand what to do next; especially if they were not invited by a friend and are therefor not deeplinked into a chat.

There is a list of hardcoded channels, this list can be expanded on a new screen to show a categorized and more extensive list of public chats.

Follow up from #8845

## Implementation

- Designs to be added (imagine some

[2020-06-26 11:16] errorists commented on #10880
👉  [Design](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=15093%3A2)
Needs to be completed with all public chats, but already anyone can get the gist of it

[2020-06-26 15:31] churik commented on #10843
made a PR, take a look https://github.com/status-im/status.im/pull/531

[2020-06-26 15:46] churik opened #10882 "Signing messages in DApp using transaction signing method for keycard accounts"
# Bug Report

## Problem

Signed messages for KK accounts and ordinary accounts are different because of using wrong method for keycard accounts (as @rasom told it is using transaction signing method)
This may lead to non-working Keycard accounts with applications that using this method.

#### Expected behavior
signed message is the same

#### Actual behavior
<img width="453" alt="photo_2020-06-26

[2020-06-26 15:46] churik commented on #10882
cc @guylouis @hesterbruikman
I believe we need to fix it in 1.4.1

[2020-06-26 15:56] hesterbruikman commented on #10882
Tell if this is correct please:

- User opens dapp
- User connects
- Dapp sends sign message request (e.g. contract interaction)
- Status asks to sign tx instead of message?

What is the effect? Failed message signing?

[2020-06-26 16:06] churik commented on #10882
For apps, that are using signing text method for authorization (i.e. CryptoKitties), after generating and signing transaction you'll see error:
![IMAGE 2020-06-26 18:05:45](https://user-images.githubusercontent.com/4557972/85877581-a8703900-b7d7-11ea-94a8-0fc9cbdce2d9.jpg)
So it is failed transactions in Dapp.
All fine with regular accounts.

[2020-06-29 07:41] #10870 closed, assigned to flexsurfer

[2020-06-29 08:51] churik commented on #10882
@rasom update:
today I'm able to sign transaction from Cryptokitties, but after signing was redirected to:
![IMAGE 2020-06-29 10:44:24](https://user-images.githubusercontent.com/4557972/85992685-805e2100-b9f5-11ea-8ca4-f195f6f37595.jpg)

It is not reproducible from ordinary multiaccount.

[2020-06-29 13:08] churik commented on #10882
UPDATE: got [this error](https://github.com/status-im/status-react/issues/10882#issuecomment-651025602) on ordinary multiaccounts as well
so not sure exactly what can be affected by this issue.
cc @hesterbruikman

[2020-06-29 14:44] churik opened #10888 "Changed LOG LEVEL once in release builds makes impossible to disable logs again until reopening app"
# Bug Report

## Problem
By default LOG LEVEL is disabled in release builds - it means that Status.log and geth.log are empty.
But if you change it once to another log level and then change back to disable it - you'll see new entries in logs, which means that `DISABLED` log level is not applied.
Moreover, it is written for new multiaccounts on this build as well.
**But log level is set correctly a

[2020-06-29 14:47] churik commented on #10888
as a temporary workaround IMO we can change the copy in this popup (to add that manual restarting app is required). WDYT @hesterbruikman ?
![IMAGE 2020-06-29 16:47:18](https://user-images.githubusercontent.com/4557972/86020436-317daf00-ba28-11ea-8505-f20670094242.jpg)

[2020-06-29 21:39] decanus opened #10890 "Start a new chat on search"
# Feature Issue

An intuitive design for starting a chat with a user is to search for their name. Currently the search bar does not handle this case. When I search for a user who I do not have a chat started with I should be presented with a button that allows me to start a new chat.

![image](https://user-images.githubusercontent.com/7621705/86058725-a0c3c500-ba61-11ea-9300-5c1abf30b132.png)

###

[2020-06-30 06:59] flexsurfer commented on #10769
all meta is already stripped by react-native-image-resizer, @churik @Serhy could you confirm please and close the issue

[2020-06-30 08:16] hesterbruikman commented on #10890
@decanus do you mean search the ENS registry? @flexsurfer @andremedeiros can you think of a reason we do not have this yet? We basically use the same functionality when registering a name, correct?

cc @errorists

[2020-06-30 08:37] decanus commented on #10890
It should probably work with public keys too @hesterbruikman my main point was that the UI should be bridged for minimal effort. I should be able to start a chat through search.

[2020-06-30 08:48] hesterbruikman commented on #10888
@Ferossgp how much more effort would it cost to offer a `restart` button on the above dialog? I don't know if something like this is possible on Android/iOS

[2020-06-30 08:49] errorists commented on #10890
ok I admit i had to read it a couple times to 'get' it's the chat list search bar we're talking about :) thanks, yea I believe adding relevant suggestions to the empty state here could be a worthwhile improvement

<img width="522" alt="Screenshot 2020-06-30 at 10 47 34" src="https://user-images.githubusercontent.com/4932774/86105029-1d38c100-babf-11ea-884c-d549bc51c01c.png">

[2020-06-30 09:00] flexsurfer commented on #10890
yeah i also always trying to create new chat in search :)

[2020-06-30 09:33] churik commented on #10882
UPDATE: one issue that is caused by this issue is that transaction messages are not confirmed on recipient side.

[2020-06-30 09:56] hesterbruikman opened #10891 "Add 'Add new contact' and 'Invite friends' button to Contact screen"
Issue within epic #7234

# Problem
We've received more than one report of people struggling to add contacts. An explicit `Invite friends` button on the Contact screen can support users that are accustomed to inviting friends before starting a chat

## Implementation

- Add an invite friends button to the Contacts screen
- Invite friends button generates referral url

Designs on [Figma](https://www

[2020-06-30 10:12] errorists commented on #10891
Very cool, should I close[ this issue](https://github.com/status-im/status-react/issues/9472)? It's only about the Invite Friends part

[2020-06-30 10:14] hesterbruikman commented on #10891
Yes please, sorry about that, couldn't find a related issue and added this one to the epic

[2020-06-30 10:15] decanus commented on #10890
@errorists sorry, my description may have not been the best, it was late in the evening. Glad we are on the same page however.

[2020-06-30 10:16] errorists commented on #9472
superseded by https://github.com/status-im/status-react/issues/10891

[2020-06-30 10:16] #9472 closed, assigned to Ferossgp

[2020-06-30 10:29] hesterbruikman opened #10892 "Add 'Add new contact' flow to Contact screen"
Issue within epic #7234

# Problem
Currently there are two ways to add a new contact to Contacts:
- Inside a 1:1 chat, tap the Add to contacts bar at the top of the chat screen
- Tap on a username to view their Profile and tap `Add to contacts`

This does not accommodate the workflow of adding contacts to a phonebook without starting a chat.

## Implementation

- Add a `Add new contact` button to

[2020-06-30 10:49] churik opened #10893 "No message in 1-1 chat if sending assets to ENS name"
# Bug Report

## Problem
currently if sending funds directly to ENS name (tried on mainnet) there is no message received.

#### Expected behavior
the message is received by User B

#### Actual behavior
no message has arrived

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)
**Prerequisites:** User A has some ETH; User B has ENS name

- User A: Open Status
- User

[2020-06-30 11:04] flexsurfer commented on #10893
@churik are you sending from keycard or regular account ?

[2020-06-30 12:04] churik commented on #10893
reproducible for both @flexsurfer

[2020-06-30 12:31] churik opened #10895 "Push notification is generated on paired account when you send message to 1-1"
# Bug Report

## Problem
For each message sent from paired device push notification arrives

#### Expected behavior
no push notification

#### Actual behavior
push notification is arriving on Device B (my own message from Device A)

### Reproduction

- Device A: create account and start chat with User C
- Device B: restore the same account as on device A
- Device A: got to Profile > Sync > Device

[2020-06-30 12:34] hesterbruikman commented on #10893
@churik is the tx send and not shown in the 1:1 chat or not send at all?

[2020-06-30 12:35] churik commented on #10893
the tx is sent but is not shown in 1-1 chat

[2020-06-30 16:43] hesterbruikman commented on #10893
If it helps working on the issue: Sending a transaction request is received by the recipient.

[2020-06-30 16:57] flexsurfer commented on #10893
what about sending to users without ens name?

[2020-06-30 17:16] hesterbruikman commented on #10893
@flexsurfer just tried sending from account that has ENS name to account without ENS name. That works fine.

Correction; last tx I tried from non-ENS account to non-ENS account is also not showing up. Address request came up, but tx is not confirming in chat even though it's visible in Wallet

[2020-06-30 17:23] flexsurfer commented on #10893
request or transaction?

[2020-06-30 18:23] hesterbruikman commented on #10893
Transaction. So seems like the issue can occur:
- when receiving tx in chat on a chat key with and without ENS name
- sending from Keycard or regular account
- address request does appear for the recipient (user B)

Here's what happened in the last case I found. Neither User A nor User B has ENS name:
- User A sends address request to user B
- User B sees request and accepts
- User A sees request

[2020-07-01 06:32] #10724 closed, assigned to Ferossgp

[2020-07-01 07:18] oskarth commented on #9987
This has a big impact on BW right now from what I understand.

From @cammellos

@andremedeiros @hesterbruikman are you aware of this issue and is there a plan to address it? W.r.t retention from eating up BW, especially in target markets.

[2020-07-01 10:05] flexsurfer commented on #10773
@hesterbruikman so this issue about specific notification options are not enabled by default on the specific phone, can we create a separate issue for onboarding ?

[2020-07-01 10:16] #10888 closed, assigned to nobody

[2020-07-01 10:20] flexsurfer opened #10899 "Enable notifications during onboarding"
Figma:  [here](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4540%3A13229)

[2020-07-01 10:20] flexsurfer commented on #10773
https://github.com/status-im/status-react/issues/10899

[2020-07-01 10:48] #10868 closed, assigned to flexsurfer

[2020-07-02 08:22] #8661 closed, assigned to nobody

[2020-07-02 08:22] #9093 closed, assigned to nobody

[2020-07-02 08:22] #9095 closed, assigned to nobody

[2020-07-02 08:22] #9098 closed, assigned to nobody

[2020-07-02 08:23] #10416 closed, assigned to nobody

[2020-07-02 08:23] #10445 closed, assigned to nobody

[2020-07-02 08:23] #10446 closed, assigned to 0x-r4bbit

[2020-07-02 08:23] #10447 closed, assigned to jrainville

[2020-07-02 08:23] #10448 closed, assigned to emizzle

[2020-07-02 08:23] #10571 closed, assigned to nobody

[2020-07-02 08:23] #10572 closed, assigned to 0x-r4bbit, emizzle

[2020-07-02 08:54] churik commented on #10786
Confirmed with AMB

[2020-07-02 09:38] #10860 closed, assigned to flexsurfer

[2020-07-02 09:45] #10469 closed, assigned to nobody

[2020-07-02 11:40] #10105 closed, assigned to flexsurfer

[2020-07-02 13:02] churik opened #10905 "Incoming transactions in 1-1 chat doesn't change status to 'Confirmed' if sender was keycard account"
# Bug Report

## Problem
follow https://github.com/status-im/status-react/issues/10893#issuecomment-651964228 - reproduced in PR.
Transaction sender is this case - keycard account

#### Expected behavior
'Confirmed' state for recipient

#### Actual behavior
End state for user B below
![IMAGE 2020-07-02 14:57:47](https://user-images.githubusercontent.com/4557972/86361619-64b47e00-bc74-11ea-92a9-235

[2020-07-02 13:07] #10893 closed, assigned to nobody

[2020-07-02 13:47] churik commented on #10905
Consequence of https://github.com/status-im/status-react/issues/10882#issuecomment-651680085

[2020-07-02 14:23] #10865 closed, assigned to flexsurfer

[2020-07-02 16:59] #10811 closed, assigned to nobody

[2020-07-03 11:11] #10882 closed, assigned to nobody

[2020-07-03 11:11] #10905 closed, assigned to nobody

[2020-07-03 15:10] churik commented on #10791
cc @guylouis @hesterbruikman

[2020-07-05 01:53] weekly-digest[bot] opened #10911 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 26 issues were created.
Of these, 15 issues have been closed and 11 issues are still open.
## OPEN ISSUES
:green_heart: #10910 [Chat api](https://github.com/status-im/status-react/pull/10910), by [bgits](https://github.com/bgits)
:green_heart: #10909 [Update translatio

[2020-07-06 09:01] status-im-auto commented on #507
#### :heavy_check_mark: [nim-status-client/macos/PR-507#1](https://ci.status.im/job/nim-status-client/job/macos/job/PR-507/1/) :small_blue_diamond: ~7 min 52 sec :small_blue_diamond: a8159a4c :small_blue_diamond: [:package: null package](null)

[2020-07-06 09:23] #10762 closed, assigned to nobody

[2020-07-06 09:23] #10766 closed, assigned to nobody

[2020-07-06 09:48] status-im-auto commented on #507
#### :heavy_check_mark: [nim-status-client/macos/PR-507#2](https://ci.status.im/job/nim-status-client/job/macos/job/PR-507/2/) :small_blue_diamond: ~4 min 8 sec :small_blue_diamond: 1bc1bf77 :small_blue_diamond: [:package: null package](null)

[2020-07-06 09:51] status-im-auto commented on #507
#### :heavy_check_mark: [nim-status-client/macos/PR-507#3](https://ci.status.im/job/nim-status-client/job/macos/job/PR-507/3/) :small_blue_diamond: ~4 min 11 sec :small_blue_diamond: 1bc1bf77 :small_blue_diamond: [:package: null package](null)

[2020-07-06 09:55] status-im-auto commented on #507
#### :heavy_check_mark: [nim-status-client/linux/PR-507#2](https://ci.status.im/job/nim-status-client/job/linux/job/PR-507/2/) :small_blue_diamond: ~10 min :small_blue_diamond: 1bc1bf77 :small_blue_diamond: [:package: null package](null)

[2020-07-06 09:57] status-im-auto commented on #507
#### :heavy_check_mark: [nim-status-client/linux/PR-507#3](https://ci.status.im/job/nim-status-client/job/linux/job/PR-507/3/) :small_blue_diamond: ~10 min :small_blue_diamond: 1bc1bf77 :small_blue_diamond: [:package: null package](null)

[2020-07-06 10:20] churik opened #10914 "Chat header of current user is shown in case of opening PN from another user if app was on background with 1-1 chat with current user"
# Bug Report

## Problem
If app was on background with `User A`, and then user tap on notification from `User B` - app redirects to messages with `User B` and chat header from `User A`,

#### Expected behavior
chat view of `User B`

#### Actual behavior
![photo_2020-07-06 11 43 19 jpeg 2020-07-06 12-05-55](https://user-images.githubusercontent.com/4557972/86582764-73f04000-bf82-11ea-9c20-9d7ac9db8

[2020-07-06 10:28] churik commented on #10737
related issues #10874 #10875 #10876  #10895 #10914

[2020-07-06 14:10] hesterbruikman commented on #10770
@Serhy @churik I believe we can close this issue, correct?

[2020-07-06 14:47] KyleNie opened #10917 "Can't block a user"
# Bug Report

## Update

I left beta, reinstalled and the issue is gone.

## Problem

Cannot block a user from a group chat.

#### Expected behavior

The user is blocked, I don't see their messages anymore.

#### Actual behavior

The user is not added to the "blocked" list, I can still see their existing and new messages, and the interface becomes buggy (I can't see any messages in groups).

### R

[2020-07-06 15:07] status-im-auto commented on #507
#### :heavy_check_mark: [nim-status-client/macos/PR-507#5](https://ci.status.im/job/nim-status-client/job/macos/job/PR-507/5/) :small_blue_diamond: ~4 min 27 sec :small_blue_diamond: 4d796611 :small_blue_diamond: [:package: null package](https://status-im.ams3.digitaloceanspaces.com/StatusIm-200706-150252-4d7966-macos.dmg)

[2020-07-06 15:47] churik commented on #10899
@flexsurfer no screen is shown in case of Access Existing keys > Recover with keycard.
All fine with other flows.

[2020-07-06 15:52] churik commented on #10770
yes

[2020-07-06 15:52] #10770 closed, assigned to nobody

[2020-07-07 08:34] flexsurfer commented on #10917
thanks @KyleNie fixed here https://github.com/status-im/status-react/issues/10312 , will be available in the next release

[2020-07-07 08:35] #10917 closed, assigned to nobody

[2020-07-07 09:21] churik opened #10919 "No welcome screen after pairing keycard ('Recover from keycard' flow)"
# Bug Report

## Problem
Welcome screen is missing when recover account from 'Recover from keycard' flow.
![IMAGE 2020-07-07 11:05:48](https://user-images.githubusercontent.com/4557972/86755288-d0666480-c041-11ea-8943-a4a439bef27a.jpg)
It affects also to missing of 'Enable notifications' screen during onboarding (more details https://github.com/status-im/status-react/pull/10908#issuecomment-654319

[2020-07-07 09:53] churik commented on #10919
@rasom I didn't want to block https://github.com/status-im/status-react/pull/10908 with this issue, because we don't have this welcome screen in nightly as well

cc @flexsurfer

[2020-07-07 10:23] qoqobolo opened #10921 "Validation error is overlaid on the password field during creating new account in Wallet and blocking user to correct password"
# Bug Report
## Problem
When user enters an incorrect password when creating a new account in "Wallet", validation error appears right above the password field and prevents user from correcting it. On Android it's possible to focus on the field and remove password, on **iOS it isn't possible - you cannot focus on the field, enter passwordand have to re-open the page.**

![ezgif-4-1683abfdde7e](htt

[2020-07-07 11:05] qoqobolo opened #10922 "Two tokens (Flexacoin and FUTURAX) is checked and unchecked at the same time in "Wallet" -> "Manage assets""
# Bug Report

## Problem

When trying to check or uncheck one of two tokens (Flexacoin or FUTURAX) in "Wallet" -> "Manage assets"  they both are checked and unchecked at the same time by one tap.

#### Expected behavior

When user checks/unchecks one of the tokens, only one token is checked/unchecked.

#### Actual behavior

When user checks/unchecks one of tokens (Flexacoin or FUTURAX), two tokens

[2020-07-07 11:29] hesterbruikman commented on #10179
As discussed on Discord regarding the url format:

- groups join.status.im/g/

Other existing urls

- public chat join.status.im/
- chat key or ens name join.status.im/u/
- dapps join.status.im/b/

[2020-07-07 12:01] rasom commented on #10784
I can't reproduce this issue in `develop`.

[2020-07-07 12:06] rasom commented on #10784
@churik
It is likely that you tapped a wrong card when tried to reproduce that bug and we do not handle a wrong card properly there, this causes endless spinner.

[2020-07-07 12:35] churik commented on #10784
@rasom
indeed, behavior 'can't log in to 2 multiaccount;' but still reproducible second part of the issue.

so steps for it:
- Open Status
- Create keycard multiaccount A
- close app
- try to create multiaccount B with new keycard

On "Begin Setup" stage endless "Processing" state is shown.
To fix this behavior you need manually log out from multiaccount A

[2020-07-07 12:53] #10891 closed, assigned to flexsurfer

[2020-07-07 12:53] #10892 closed, assigned to nobody

[2020-07-07 12:54] #10899 closed, assigned to flexsurfer

[2020-07-07 13:30] flexsurfer commented on #10922
hm wondering if we have validation for token symbol, because for FUTURAX symbol is `FTXT` , https://etherscan.io/address/0x41875c2332b0877cdfaa699b641402b7d4642c32#readContract

[2020-07-07 13:40] Serhy commented on #10922
@flexsurfer I thought we have.
Another Futurax token is https://etherscan.io/address/0xc92d6e3e64302c59d734f3292e2a13a13d7e1817#readContract

[2020-07-07 13:41] flexsurfer commented on #10922
![image](https://user-images.githubusercontent.com/11790366/86789973-30700180-c068-11ea-904a-2afd08826a30.png)
![image](https://user-images.githubusercontent.com/11790366/86790002-35cd4c00-c068-11ea-8190-a9e9774c8814.png)
![image](https://user-images.githubusercontent.com/11790366/86790018-39f96980-c068-11ea-9f8d-975f72f74da4.png)
![image](https://user-images.githubusercontent.com/11790366/8679003

[2020-07-07 13:47] flexsurfer commented on #10922
ok it seems like these two tokens have the same symbol but we use the symbol as unique id, this might lead to unexpected behavior

[2020-07-07 15:11] churik opened #10924 "Can't open "Network fee" validation error on Sending screen"
# Bug Report

## Problem
Can't open "Network fee" validation error (not enough  ETH for gas in particular case) because Netwrk fee bottom sheet is opened instead
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4557972/86801446-4a174600-c074-11ea-89f5-55add1513feb.gif)
Reason of failed 5437
IMO regression issue of QUO components PR.

#### Expected behavior
Can see validation err

[2020-07-07 15:43] Serhy commented on #10769
@flexsurfer yes, I can confirm exif (and ICC profile) data stripped for the image sent in chat.
Tested with iOS13 and Android 8.
(1) Sending image (which has exif Data) from device storage or by (2) making a photo (which has exif data as well) - has no any data after I downloaded the image and checked again.
@hesterbruikman I guess we may close the issue then 👍

[2020-07-07 22:22] status-im-auto commented on #507
### Jenkins Builds
<details>
<summary>Click to see older builds (6)</summary>

| :grey_question: | Commit | :hash: | Finished (UTC) | Duration | Platform | Result |
|-|-|-|-|-|-|-|
| :heavy_check_mark: | 6e091ce2 | [#16](https://ci.status.im/job/nim-status-client/job/macos/job/PR-507/16/) | 2020-07-07 22:22:00 | ~4 min | `macos` | [:package:`dmg`](https://status-im.ams3.digitaloceanspaces.com/Stat

[2020-07-08 11:05] hesterbruikman commented on #10880
@flexsurfer design is updated to a [categorized view](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=15093%3A2)

You can find the list in this sheet to copy: https://docs.google.com/spreadsheets/d/1YBCQON1sxy-eSCx-E6e4KeIk3yYkqWG1h2XjwCHjxKk/edit?usp=sharing

While you're at it, could you please update the `featured chats` on the Chat tab tooltip as well?

Finally, if you see any

[2020-07-08 14:29] churik opened #10928 "Blocked users are not shown in Profile > Contacts in case when contact list is empty"
# Bug Report

## Problem
Consequence of https://github.com/status-im/status-react/pull/10896
When user doesn't have contacts but has blocked users, no button "Blocked users" is shown in Contacts
Reason of failed 6213

#### Expected behavior
 "Blocked users" is shown

#### Actual behavior
![Monosnap 2020-07-08 16-23-35](https://user-images.githubusercontent.com/4557972/86930700-94adc680-c137-11ea-8

[2020-07-08 14:29] churik commented on #10928
cc @flexsurfer @hesterbruikman

[2020-07-08 14:30] churik commented on #10924
cc @hesterbruikman @Ferossgp

[2020-07-09 14:25] Samyoul commented on #7118
Process flow

- User selects a message and selects an emoji reaction
- UI sends a JSON RPC method call to `status-go`
  - How does this RPC message get created?
  - Does UI set the content type of the message etc?
- `status-go` receives RPC method call
- `status-go` parses the RPC data and interprets the message to be sent via Waku
- `status-go` saves outgoing message
  - Although the logic seems

[2020-07-09 14:31] #10659 closed, assigned to nobody

[2020-07-09 14:33] #10784 closed, assigned to rasom

[2020-07-10 08:13] #10769 closed, assigned to flexsurfer

[2020-07-10 15:15] #10880 closed, assigned to nobody

[2020-07-12 01:53] weekly-digest[bot] opened #10940 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 28 issues were created.
Of these, 12 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #10939 [Logcat grep, new templates e2e fix](https://github.com/status-im/status-react/pull/10939), by [Serhy](https://github.com/Serhy)
:green_heart:

[2020-07-13 05:25] dependabot-preview[bot] opened #10941 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/mobile/js_files/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs

[2020-07-13 10:24] churik opened #10942 "After leaving group chat bottom sheet is not closed"
# Bug Report

## Problem

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/4557972/87292248-d1473c80-c500-11ea-92b0-7ec15f701614.gif)
Blocks testcase `5319`

#### Expected behavior
bottom sheet is closed, like after deleting 1-1 and public chats

#### Actual behavior
bottom sheet is not full closed

### Reproduction

[comment]: # (Describe how we can replicate the bug step b

[2020-07-13 10:25] churik commented on #10942
@Ferossgp please take a look when you've got a chance

[2020-07-13 11:24] churik opened #10943 "Chat headers are messed up after opening app from background on IOS and navigating to 1-1 chat and back"
# Bug Report

## Problem
When app is on background  and several 1-1 chats are opened, after getting back from background and navigating back-forth to 1-1 chats and back, after second attempt `User A` chat header is shown for `User B`.

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/4557972/87298025-bfb66280-c509-11ea-8ec0-6afc9816a42b.gif)
Issue is not reproducible on 1.4,

[2020-07-13 12:52] churik opened #10945 "'Text strings must be rendered within a <Text> component' when tap on KDO (KudosToken) from collectibles"
# Bug Report

## Problem
Regression issue, not reproducible on 1.4.1
App crashes with error `Text strings must be rendered within a <Text> component` when tapping on KDO from Collectibles

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots i

[2020-07-13 12:55] churik commented on #10945
cc @hesterbruikman

[2020-07-13 12:55] churik commented on #10943
cc @hesterbruikman

[2020-07-13 12:56] churik commented on #10942
cc @hesterbruikman

[2020-07-13 21:46] hesterbruikman opened #10947 "Add information for referrers of referral program"
# Problem
A requirement of the referral program experience is to inform referrers about their referral bonus:
- As a user I would like to know that my referral bonus has been paid out i.e. someone used my referral code and attributed the referral bonus to me (tx pending), so that I know that my referral was successful
- As a user I would like to know that my referral bonus has arrived (tx confirme

[2020-07-14 07:10] Ferossgp commented on #10943
The placeholder of empty chat is also wrong, it happens because chat is wrapped in an element that does not update when receiving properties https://github.com/status-im/status-react/blob/develop/src/status_im/ui/components/connectivity/view.cljs by unwrapping it, chat works as expected.

[2020-07-14 07:25] Ferossgp commented on #10943
Same here #10914

[2020-07-14 15:30] #10479 closed, assigned to nobody

[2020-07-14 16:26] Serhy opened #10957 "Manage assets view lags on scrolls"
# Bug Report

## Problem

Manage assets view is heavy: when scrolling through assets there are heavy lags (depends of device but on middle level device it's already visible). Or when check/uncheck token, - it may take 5+ seconds for check mark to appear/disappear.

If Manage Assets view opened then all the reset views on different from wallet tabs laggy too
#### Expected behavior

Smooth experienc

[2020-07-15 00:01] pycckuu commented on #4944
https://get.status.im is not working?

[2020-07-15 08:38] #10945 closed, assigned to Ferossgp

[2020-07-15 08:39] #10921 closed, assigned to Ferossgp

[2020-07-15 08:40] #10942 closed, assigned to Ferossgp

[2020-07-15 08:59] jakubgs commented on #4944
The service for deep linking has been moved to https://join.status.im/.

[2020-07-15 12:07] #10914 closed, assigned to rasom

[2020-07-15 12:07] #10943 closed, assigned to rasom

[2020-07-15 12:28] jakubgs commented on #8512
I managed get Nix to start building with the following `Dockerfile` which helps with my local permission issues:
[code]
And it should not be necessary when this runs on F-Droid build servers.

And following `metadata/im.status.ethereum.yml`:
[code]
But right now I'm getting:
[code]
Because the default container size is 10 GB:
[code]
I should be able to adjust this using the `dm.basesize` [setting]

[2020-07-15 12:37] #10533 closed, assigned to nobody

[2020-07-15 12:37] hesterbruikman opened #10961 "Bridged bot"

[2020-07-15 16:16] jakubgs commented on #8512
By adding `--storage-opt dm.basesize=30G` to Docker daemon flags and `--storage-opt size=30G` to `docker run` flags I've managed to fix the `No space on device` issue:
[code]
Seems to work up until we get to Gradle being called by Nix:
[code]

[2020-07-15 16:31] guylouis opened #10963 "Remove PUK from onboarding (new user experience)"
**Problem**
Currently (v1.4) when a user onboards with keycard, he gets a PUK and a Pairing code. They both have very different function
- PUK is here to reset the PIN if the user loses his PIN
- Pairing code is here to pair a new phone to the card

Users have to write down these two parameters.

Some early feedback from users of v1.4 lead us to think that users can swap PUK and Pairing because th

[2020-07-15 18:21] #10545 closed, assigned to nobody

[2020-07-15 18:28] #10928 closed, assigned to rasom

[2020-07-16 10:09] hesterbruikman commented on #10773
@churik I think we can save this to bundle with Notifications on iOS, in spite of it being an Android issue. Wdyt?

Btw, I can't find these settings on Samsung Galaxy S10e. Can they be hardware specific?  🤔

[2020-07-16 10:17] churik commented on #10773
Yes, we can. BTW, yesterday I've got an update for Android, so I'll recheck if it is still the case.

They can be hidden in general settings (Lock screen notifications, Notifications, Notification Badges)
In my specific case I can manage them from both general or app settings.

[2020-07-16 10:33] churik commented on #10773
Still the case:
![photo_2020-07-16 12 31 13 jpeg 2020-07-16 12-31-43](https://user-images.githubusercontent.com/4557972/87661088-554b2f80-c760-11ea-8ae5-1cdfb39ab00c.png)

Agreed 👍

[2020-07-16 11:01] churik opened #10964 "Display issues in "Back up your seed phrase" flow"
# Bug Report

## Problem
After moving app to QUO components in  "Back up your seed phrase" (Profile > Privacy and Security> Back up seed phrase) several issues have appeared.
1) "Okay, continue" and "Okay, got it" buttons are too big
2) Validation errors are not aligned with field
3) "Done" button is not aligned with keyboard (Android only , and it can cause fail of e2e 5419)

#### Expected behavi

[2020-07-16 11:01] churik commented on #10964
@hesterbruikman because this flow is quite common, I think better to have it fixed in 1.5

[2020-07-16 11:24] churik opened #10965 ""Next" button is enabled when passwords don't match or have less then 6 chars on "Create password" screen"
# Bug Report

## Problem
After https://github.com/status-im/status-react/pull/10915 "Next" button is enabled when passwords don't match or value in one of the filed is too short ( <6 chars)
Due to issue disabled part of 'TC 5460'

#### Expected behavior
Next button is disabled

#### Actual behavior
![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/4557972/87665121-b5dd6b00-c7

[2020-07-16 15:44] churik opened #10968 "Crash on IOS after adding access to photos in case of heavy images (>10 MB)"
# Bug Report
## Problem
Currently on my device (IPhone7, IOS 13.5.1) I'm not able to send photos - after getting access to library and display of 2 photos app is crashed.
It happens when app has some heavy photos (i.e. panoramas) and try to preview them in-app.
Reproducible on 1.4.1 (when images are enabled)

#### Expected behavior
no crash

#### Actual behavior
app is crashed

![ezgif com-video-t

[2020-07-16 15:45] churik commented on #10968
cc @hesterbruikman @Serhy

[2020-07-16 15:57] hesterbruikman commented on #10968
@cammellos this issue has cropped up. Can you please check if you can think of a reasonable solution? I hate to say it, but if it takes more than a day we'll need to release with it. Delay is more harmful

[2020-07-16 16:19] Serhy commented on #10968
I can confirm there is the same on iPhoneX too, but when 'Latest photo preview' pulls panoramas (4 latest photos are panorama is enough).
Having regular photos in 'Latest photo preview' on iPhoneX works fine for me, but a few of 10MB images already "too heavy" for Status to process.

It depends on how heavy photo is taken for `Recents` section.

On Android I don't see crashes. But it's either empt

[2020-07-16 16:24] cammellos commented on #10968
The app is getting killed by the OS:
`default	16:15:35.283839+0200	kernel	86430.210 memorystatus: killing_specific_process pid 1812 [StatusIm] (per-process-limit 10) 1484802KB - memorystatus_available_pages: 32414
`
seems like either we use too much memory or there's some leak somewhere.
Not sure exactly what the solution would be, we need to look at the code/ libraries that do image showing/proce

[2020-07-16 19:09] jakubgs commented on #8512
Threads like these suggests settings `GRADLE_USER_HOME`:

- https://github.com/NixOS/nixpkgs/issues/34707
- https://github.com/gradle/gradle/issues/8107

But it doesn't seem to help.
What baffles me is that this is a __pure__ Nix build, so the fact that it runs within some container should not affect it.

[2020-07-17 08:04] hesterbruikman opened #10969 "Replace account cards in wallet with account list layout"
# Problem
In case of accounts with high value (e.g. a watch-only account kept on cold storage), the value exceeds the card width and pushes the share icon out of view

![Screenshot!UNITO-UNDERSCORE!20200716-225553!UNITO-UNDERSCORE!!UNITO-UNDERSCORE!01](https://user-images.githubusercontent.com/35233054/87762447-73be3300-c813-11ea-94c7-1b9dc6bd451b.jpg)

A list layout is better suited to accommodat

[2020-07-17 10:31] hesterbruikman commented on #10968
Any more insights @cammellos ?

@errorists Sadly the gallery preview of images is causing issues :/
1. This 👆 issue on heavy photo's crashing the preview on iOS
2. The preview not loading images when you first open it on Android

What would be the impact on the UI if we were to remove it for 1.5?

![Monosnap_2020-07-17_12-09-40](https://user-images.githubusercontent.com/35233054/87776969-eede1400-

[2020-07-17 10:37] errorists commented on #10968
christ on a stick I can't take it anymore 😭

<img width="160" alt="Frame 6" src="https://user-images.githubusercontent.com/4932774/87777529-f0f4a280-c829-11ea-9c28-c2b5b020fec7.png">

I would have to redesign the entire thing around camera capture instead and we would need to reimplement, we can't just leave it like that with a huge empty void of nothingness :(

[2020-07-17 10:48] churik commented on #10968
just to add: currently even without these issues the order of images in gallery preview is random, so IMO it doesn't make a lot of sense for user.

[2020-07-17 10:49] errorists commented on #10968
ok so that is clearly a bug that needs to be fixed

[2020-07-17 10:51] churik commented on #10968
For Android it just takes lightweight images, like screenshots;
For IOS as well if it is not crashed.

[2020-07-17 10:54] errorists commented on #10968
testing on iOS now, I see all of the actual photos I took, just not in the correct order, half of them start from left and the other half from right

[2020-07-17 10:57] hesterbruikman commented on #10968
It sucks, but lets move on, knowing these issues. We can't afford more delays and while the issues are serious, they're not putting funds or security at risk and crash on iOS is a % of a % of the userbase

[2020-07-17 11:03] errorists commented on #10968
thanks, I agree! I took a couple of RAW unprocessed photos that are super heavy, it made the images take a while longer to show up but i didn't get any crashes. I'm on iOS14 Beta so maybe there it's somewhat less of an issue if at all. Also, Discord is React Native, they have the same UI for images and no issues there at all, no lag like ours. so imo it's some flaky implementation we're using

[2020-07-17 18:04] jakubgs commented on #8512
This comment clearly says that the issue is lack of permissions to access `GRADLE_USER_HOME`: https://github.com/gradle/gradle/issues/1493#issuecomment-344715852
I tried setting it to `/tmp` in Nix it works locally but fails in container.
This means the container has to have broken `/tmp` permissions. But when I check inside the container I see:
[code]
So with `777` as permissions this should not

[2020-07-19 01:53] weekly-digest[bot] opened #10972 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 31 issues were created.
Of these, 15 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #10971 [Add e2e test for PN](https://github.com/status-im/status-react/pull/10971), by [Serhy](https://github.com/Serhy)
:green_heart: #10970 [Fix im

[2020-07-20 08:32] hesterbruikman commented on #10786
Sounds like two problems, we might address separately

1. having to restart after manually enabling certain assets
2. having to add assets manually in the first place

I'd treat this GH issue as a focus on 1. For the second, I'll create a new issue in the `Import accounts` epic to enable scanning for assets on accounts. Once that's introduced in onboarding, I think it'll be more straightforward to

[2020-07-20 08:54] #10968 closed, assigned to Ferossgp

[2020-07-20 08:58] hesterbruikman opened #10973 "Add path scanning to 'Access existing keys' and upon request"
# Problem
There are multiple occasions where the wallet does not accurately shows active accounts in the HD wallet or the tokens they hold.

* User imports/recovers an existing account using their seed phrase. They have derived and used one or more accounts beyond the first leaf. These accounts are not shown upon recovery, nor is the user informed that they need to manually generate the accounts a

[2020-07-20 09:07] hesterbruikman commented on #10786
From the video, it seems like the app could check if a received token is already checked in `Managed assets`, if not, suggest the user to add it. This depends on whether adding the asset requires connecting to collect token address and icon. If no IP address is exposed when collecting this information it could potentially be done automatically on behalf of the user

[2020-07-20 09:17] #10964 closed, assigned to Ferossgp

[2020-07-20 09:17] #10965 closed, assigned to Ferossgp

[2020-07-20 09:35] decanus opened #10974 "ENS resolving for IPNS names."
# Bug Report

Recently I asked @hesterbruikman why ENS resolving does not work in browser. I was actually wrong on whether or not it works. If you use for example `pactxt.eth` in the browser it resolves. However `uniswap.eth` does not.

## Problem

This is because there was an issue in the contenthash library that did not resolve names correctly when they were IPNS hashes. You can see a more detai

[2020-07-20 09:46] hesterbruikman commented on #10974
Thanks for adding this @decanus

Checking with @churik and @Serhy also noticed that some urls redirect to infura.status.im. Need to invest more time to understand how this works as I'm not sure why e.g. ethereum.eth directs to https://ciqg44hq64xcxtik22n3fmk65hqpj6egsp3lf5ef4sdjtz6w7dn5mkq.infura.status.im

Are we using a content hash library by Infura?

[2020-07-20 09:48] decanus commented on #10974
@hesterbruikman all names redirect, thats a correct resolution.

[2020-07-20 12:44] jakubgs commented on #8512
I managed to fix the issue by setting:
[code]
But then I got this error:
[code]
So I also had to set:
[code]

[2020-07-20 12:44] jakubgs commented on #8512
Now I'm getting a new kind of error:
[code]
Which appears to be the first `classpath` appending line:
[code]
https://github.com/software-mansion/react-native-reanimated/blob/715f43234465c710d942d341a592998363d7a452/android/build.gradle#L89

[2020-07-20 12:54] jakubgs commented on #8512
I'm baffled by how the fdroid build environment can affect the Android Nix build considering it's a pure build:
https://github.com/status-im/status-react/blob/9950183a50efa1d3ff2291845ff6d0447df8ab0d/nix/scripts/build.sh#L49-L55

[2020-07-20 14:34] jakubgs commented on #8512
Interestingly enough, when I dropped the `-e ANDROID_HOME=/android` flag from the container the error changed:
[code]
Which matches the default `ANDROID_HOME` set in the container:
[code]
Which indicated that somehow Nix pure build is inheriting the value of `ANDROID_HOME`. Which makes no sense.

[2020-07-20 14:51] jakubgs commented on #8512
The `ANDROID_HOME` must have been set using the `ENV` directing in the original `Dockerfile`:
[code]

[2020-07-20 15:30] jakubgs commented on #8512
I added `env | grep '^ANDROID` to the Nix derivation and got this:
[code]
So I'm sure `ANDROID_HOME` is not set I the build shell of Nix. Which means Gradle gets it from somewhere else.

[2020-07-21 09:13] churik opened #10975 "Missing translation on Keycard login page"
# Bug Report

## Problem

![Screenshot_20200721-104408_Status](https://user-images.githubusercontent.com/4557972/88035843-01b35a00-cb43-11ea-8d0f-6289fa63a8bc.jpg)

### Additional Information

[comment]: # (Please do your best to fill this out.)
- Status version: nightly 21/07/2020
- Operating System: Android

[2020-07-21 09:42] churik opened #10976 "Crash java.lang.NullPointerException on login on keycard multiaccount with enabled fingerprint"
# Bug Report

## Problem
Login with enabled fingerprint is not possible with keycard multiaccount

#### Expected behavior
Login

#### Actual behavior
Error  java.lang.NullPointerException"

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create multiaccount with keycard
- Enable fingerprint
- Login
- Reopen app
- Touch sensor on phone

### Addi

[2020-07-21 09:42] churik commented on #10975
cc @guylouis  @hesterbruikman @rasom

[2020-07-21 09:42] churik commented on #10976
cc @guylouis  @hesterbruikman @rasom

[2020-07-21 11:11] qoqobolo opened #10977 "Research of log behavior in Nightly and Release"
# Problem
The selected value in Log level settings doesn't match the actual value in log files.

- - -
### NIGTHLY BUILD
#### 1. **The default setting of Log level is "INFO” (in application Profile -> Advanced -> Log level). But in fact *_status.log_* may contain entries from “DEBUG” level.**
_Steps:_

* Install Status app: nightly build
* Join to any chat, write smth, open Wallet
* Report a bug
*

[2020-07-21 12:42] churik commented on #10977
@hesterbruikman

take a look when you have time. That sounds for me as an epic for proper handling log level settings in app.

[2020-07-21 13:00] hesterbruikman opened #10978 "Endless loading public chat name 0x"
# Bug Report

## Problem
Channels that start with `0x` seem to load indefinitely. This is not the case with chats that start with either numbers or x. The issue seems to appear independent from chat messages on the topic.

This is an issue as `0x` is a [common reference](https://twitter.com/0xMonero/status/1285548566367416320?s=20) in the Ethereum community

#### Expected behavior
Public channel t

[2020-07-21 13:57] qoqobolo opened #10979 "No margin between "Re-encrypt your keys" button and bottom panel during recovery from seed phrase flow"
# Bug Report

## Problem

No margin between "Re-encrypt your keys" button and bottom panel during recovery on the screen after input seed phrase.
Regression issue of QUO component system.

![photo_2020-07-21_11-07-04](https://user-images.githubusercontent.com/67952253/88060081-00dfef80-cb66-11ea-8e69-771145a71205.jpg)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by s

[2020-07-21 14:47] qoqobolo opened #10980 "Header text and button "Cancel" are overlapped with status bar on "Scan QR code" view"
# Bug Report

## Problem

Header text and button "Cancel" are overlapped with the status bar on "Scan QR code" screen.

![photo_2020-07-17_16-14-34](https://user-images.githubusercontent.com/67952253/88067890-d09d4e80-cb6f-11ea-9ec9-c51c084f828c.jpg)

### Reproduction

- Open Status
- Home screen > tap "+"
- Start new chat
- Tap QR code button on the top right

The same situation in all cases when

[2020-07-21 16:07] churik commented on #10979
Visible regression issue in one of the main user flows, so should be fixed ASAP IMO
cc @hesterbruikman

[2020-07-22 09:20] churik opened #10982 "[keycard framework] Can't relogin after creating account with keycard"
# Bug Report

## Problem
Currently can't relogin to account created with keycard in e2e tests at attempt to login with selected card got "Looks you have tapped a blank keycard"

It blocks 4 keycard tests (2 of them are high priority)

Example of failed test: https://app.saucelabs.com/tests/e223c7b8cf95453bbf24c205bed278e3?auth=bd25a55c277ba605fdd72d70d4012929#145

[2020-07-22 09:20] churik commented on #10982
cc @hesterbruikman @guylouis @rasom

[2020-07-22 12:52] #10924 closed, assigned to Ferossgp

[2020-07-22 13:57] qoqobolo opened #10985 "The message "2 attempts left" after entering wrong 6-digit passcode on the "changing PIN" flow (Profile -> Keycard settings) isn't shown every time"
# Bug Report
## Problem
During changing PIN in Keycard-account (Profile -> Keycard settings) if the first time to enter an invalid PIN, the message "Wrong passcode" will be shown and then must be shown the message "2 attempts left". But the message "2 attempts left" **isn't shown every time.The message was shown just 4 times out of 7 attempts.**

#### Expected behavior
The message "2 attempts left

[2020-07-22 14:29] qoqobolo opened #10986 ""Select account" bottom sheet view is changed (after "Accept and share" action in commands in 1-1 chat)"
# Bug Report

## Problem

Changed view of the bottom sheet after tap “Accept and share address” during the request of the Incoming transaction in 1-1 chat.

### Expected behavior

Design in Figma: https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=6715%3A2599

### Actual behavior

#### Nightly:
![photo_2020-07-22_16-01-18](https://user-images.githubusercontent.com/67952253/88185772-a

[2020-07-22 14:37] #10843 closed, assigned to jakubgs

[2020-07-22 14:45] churik commented on #10986
@errorists
should it be like in design now I guess?
Anyway IMO current view doesn't look good, so asking how we can do it acceptable for now.

[2020-07-22 15:04] errorists commented on #10986
ewww oh god, I wish I didn't see this! 🙈  guys what happened there?
@Ferossgp how can we fix this? list item component for selection, regular dismissible bottom sheet?

[2020-07-22 17:55] churik commented on #10985
cc @guylouis

[2020-07-23 08:56] hesterbruikman opened #10988 "Add entry point to start new chat from search results"
# Problem
We've had reports of people not finding ways to start a 1:1 chat. Presumably a contributing factor to this is expecting to search for a 'user ID' in the searchbar on the chat tab. As is possible in Telegram. This seems likely as we've also had reports from CC's asking to search for ENS names directly.

We want to:
- Direct people entering an ENS name (or other unsupported queries) to whe

[2020-07-23 09:41] #10982 closed, assigned to nobody

[2020-07-23 09:51] hesterbruikman opened #10990 "Add option to show default chat on onboarding"
# Problem
We've learned it's not clear to users how to start a chat or generally what Status app can be used for upon onboarding.

A chat bot can activate new users by offering on-demand guidance. We would like this chat bot to be available upon onboarding by displaying it as a default chat.

Design on [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=15161%3A42662)

![Frame

[2020-07-23 09:52] hesterbruikman commented on #10990
cc @Ferossgp @AK87ST @errorists

[2020-07-23 10:19] errorists commented on #10990
sorry but I just couldn't leave this alone, I think it's not true, it's more about finding relevant chats :)

[2020-07-23 10:34] hesterbruikman commented on #10990
Have heard both. Not knowing how to chat with friends most recently

[2020-07-23 11:24] #10979 closed, assigned to nobody

[2020-07-23 14:47] qoqobolo opened #10991 "Design of several screens in frozen card flow when user is logged in doesn't correspond to the original design"
# Bug Report

## Problem

### 1. Design of several screens in frozen card flow when user is logged in (e.g. during the Reset PIN flow) doesn't correspond to the original design

#### Expected behavior

https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=6918%3A23090

#### Actual behavior

![Снимок экрана 2020-07-23 в 3 51 01 PM](https://user-images.githubusercontent.com/67952253

[2020-07-24 08:34] qoqobolo opened #10993 "Redundant step in changing PIN flow after entering invalid passcode 3 times (user is logged in)"
# Bug Report

## Problem

During changing PIN flow (Profile -> Keycard -> Change 6-digit passcode) if user enters invalid 6-digit passcode 3 times, pop-up "Keycard is frozen" is shown. After tap "Dismiss" return to "Keycard settings" screen is expected. But instead, the screen "Enter PUK code" is shown.

#### Expected behavior

Return to "Keycard settings" screen after tap "Dismiss"

#### Actual b

[2020-07-24 08:51] hesterbruikman commented on #9609
Closing this issue as it's tracked here #10764

[2020-07-24 08:51] #9609 closed, assigned to nobody

[2020-07-24 09:02] hesterbruikman commented on #10628
Update after early investigation by @Ferossgp

We draw QR codes as blocks in UI elements and they are not actually images, making it impossible to save them as image.
In order to save the QR code, it's likely this needs to be implemented in status-go, serving status-react with images.

[2020-07-24 11:09] qoqobolo opened #10994 "Creating "myself" 1-1 chat in Activity center on a synchronized device after sending address request in 1-1 chat"
# Bug Report

## Problem

If send ETH to any other user from Device 1, then on paired Device 2 will be created a 1-1 chat with “myself” (with the same account from which the Address request was sent).

#### Expected behavior

"Myself" 1-1 chat on a synchronized device isn't created.

#### Actual behavior

![ezgif com-resize (2)](https://user-images.githubusercontent.com/67952253/88382567-ff523980-

[2020-07-24 17:58] 3esmit commented on #10764
This should not be essentially https, if it depends on the join.status.im server, then this hurts the following Principles:
- II. Censorship resistance: Easy to block server.
- IV. Privacy: Server know too much.
- VII. Decentralization: Not decentralized.

I see that this is intended as a backwards compatibility with web2, however, when the QR Code is presented in the screen, it's already being ge

[2020-07-26 01:53] weekly-digest[bot] opened #10995 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 22 issues were created.
Of these, 7 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #10994 [Creating "myself" 1-1 chat on a synchronized device (was recovered with seed phrase) after sending Address request from a device with keycard

[2020-07-27 05:50] emizzle opened #10996 "Wallet/Sticker market/command transaction components"
Components to create send transaction modal that will be reused in wallet, sticker market, and 1:1 commands.

https://www.notion.so/emizzle/Wallet-transaction-components-2003b78a8d0d41c4ab3d21eb2496fb20

[2020-07-27 05:51] #10996 closed, assigned to 0x-r4bbit, emizzle

[2020-07-27 07:36] hesterbruikman commented on #10764
Great points @3esmit. We're missing a Uri scheme to capture this structure and direct use: https://github.com/status-im/specs/issues/112

Would like to separate the discussion on a URI scheme from this issue, which is to implement a universal QR code scanner only

[2020-07-27 10:28] churik commented on #10993
сс @guylouis

[2020-07-27 14:57] churik commented on #10876
On latest nightly also reproducible in as a preview in chat input when reply on image:
![IMAGE 2020-07-27 16:56:32](https://user-images.githubusercontent.com/4557972/88557132-1f446000-d02a-11ea-814e-0647e0f12bbb.jpg)

@hesterbruikman for me it looks pretty visible.
Can we prioritize it?

[2020-07-27 15:01] hesterbruikman commented on #10876
I think so, it is very visible indeed. I would timebox it and move to 1.7 if Emojis is ready in the meantime

[2020-07-27 15:09] churik commented on #10876
I would say that it will cause a lot of questions in 1.5, at least with replying to images.
Maybe it is not so difficult to fix it and it is doable earlier?

People for sure will try out new features and sending push notifications with it and from my side it looks like not really the best experience.

[2020-07-27 18:53] jakubgs commented on #8512
I'm trying to `strace -f --trace=%file` the Gradle call to find what kind of files its reading.
I think I might be abel to find where it's getting the `ANDROID_HOME=/opt/android-sdk` setting from, if not from the environment.
The current issue is that the build stops after the gradle call fails, but does not exit. I need to check this.

[2020-07-27 19:35] jakubgs commented on #8512
I found some examples that looked promising but those files do not exist on the container and are created by Gradle:
[code]

[2020-07-27 20:03] jakubgs commented on #8512
I added some prints for env variables in `android/build.gradle` to verify their values like so:
[code]
And I got back this:
[code]
So `ANDROID_HOME` is clearly not set via environment variables.

[2020-07-27 20:13] jakubgs commented on #8512
It's worth noting that I didn't see it opening anything in `/nix/store/agjwnx35bvraps2a38pfjawxby77wv7y-licensed-android-sdk`.

[2020-07-27 20:42] jakubgs commented on #8512
What's interesting is that I can see it reading it much earlier than the error:
[code]

[2020-07-27 21:10] jakubgs commented on #8512
I just realized that we don't disable Gradle daemon by default in Nix builds. I could not understand how it was getting the env variables of the container, but it was clearly via a connection to the deamon that was started outside of Nix.

I added `-Dorg.gradle.daemon=false` to the call and now it's building:
[code]
But what I don't get is how did the Nix sandbox for pure builds not prevent this?

[2020-07-27 21:10] jakubgs commented on #8512
Looks like Nix build sandboxing isn't on by default for our builds: https://nixos.wiki/wiki/Nix#Sandboxing

[2020-07-27 21:32] jakubgs commented on #8512
Glorious success(almost):
[code]
Used config:
[code]

[2020-07-28 07:40] hesterbruikman commented on #10876
I think the quickest solution here to avoid confusion is to simply say `Image` or `Sticker` as you suggested. Instead of the full copy used now

Notification: Sticker if sticker, Image if image
Reply: Sticker if sticker, Image if image
(same as message preview in chat list)

wdyt @churik

[2020-07-28 08:01] churik commented on #10876
Agree! Thank you

[2020-07-28 08:09] churik commented on #10994
cc @guylouis

[2020-07-28 08:42] qoqobolo opened #11001 "Push notification doesn’t disappear after opening a chat via application shortcut (not via the notification itself)"
# Bug Report

## Problem

If the user receives a notification of a new message while the application is in the background, and open the application to read this message not via push notification but via application shortcut, push notification stays in notification panel after an opening chat and reading message.

#### Expected behavior

New push notification disappears after opening the app and ch

[2020-07-28 08:49] jakubgs commented on #8512
By setting `signingConfig null` in `android/app/build.gradle` I managed to get it to succeed:
[code]
Now the question is how I want to control this. Should I make a separate build type. Or disable signing with an env var.

[2020-07-28 09:16] churik commented on #10991
@Ferossgp easy or not really to fix?

[2020-07-28 09:27] #10975 closed, assigned to flexsurfer

[2020-07-28 10:27] Ferossgp commented on #10991
@churik it is not hard, but as I understood it's not a priority for near releases

[2020-07-28 12:43] #10195 closed, assigned to rasom

[2020-07-28 13:13] flexsurfer commented on #10876
its not possible to reply to sticker, so i fixed image reply here https://github.com/status-im/status-react/pull/11002

[2020-07-28 13:46] qoqobolo opened #11003 "3-random name is displayed instead of ENS name in mention push notification"
# Bug Report

## Problem

ENS names are displayed as 3-random names in PNs for mentions in chats (any type).

#### Expected behavior

ENS is shown in PNs with the mention

#### Actual behavior

https://user-images.githubusercontent.com/97245802/155154318-c7cd00dc-9a88-4db0-b489-4cd1bb4b1062.mp4

### Reproduction

Device 1:
1. Enable PNs on Android device
2. Add ENS username in Profile
3. Join a pu

[2020-07-28 13:53] jakubgs commented on #8512
I have a fully working unsigned build using `fdroid` branch:
[code]
Config:
[code]
Here's the PR for the changes necessary to make this work.

[2020-07-28 14:05] mulles commented on #8512
Congratulations @jakubgs . It's nice to see how hard you worked and how well you documented the way to the solution 😊

I am looking forward to have automatic updates of Status.im app through f-droid.
Status shows that it stand to its values 😊

[2020-07-28 14:12] licaon-kter commented on #8512
First try (this a vagrant buildserver VM)...
[code]

[2020-07-28 14:15] jakubgs commented on #8512
Thanks for testing @licaon-kter.
[code]
Right, because I assume that `$USER` is who will be running the build and installing Nix, which is why I do:
[code]
Is there a specific user I should be using there?

[2020-07-28 14:16] licaon-kter commented on #8512
`vagrant`

[2020-07-28 14:17] jakubgs commented on #8512
Okay, then that's what I'll use in the PR for `fdroiddata`.

[2020-07-28 14:19] jakubgs commented on #8512
Though if that might change at some point it would make sense to have an env variable that defines that.
Something like `BUILD_USER` or something. But I guess hardcoding `vagrant` is fine for now.
The issue with hardcoding it to `vagrant` is that it wont' work in the `fdroid/docker-executable-fdroidserver:latest` container.

[2020-07-29 07:55] #10980 closed, assigned to nobody

[2020-07-29 08:09] #10669 closed, assigned to nobody

[2020-07-29 09:29] jakubgs commented on #8512
I have created the PR for `fdroiddata` repo: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7179

[2020-07-29 09:36] jakubgs commented on #8512
Also added docs on submitting to F-Droid: https://github.com/status-im/status-react/pull/11008

[2020-07-29 10:05] jakubgs commented on #8512
Well this is bad. According to the build job on GitLab it fails on Nix installation:
[code]
Because it apparently runs as root. So either I have to:
* Make this somehow run as non-root user
* Create `nixbld` group and users ([doc](https://nixos.org/nix/manual/#idm140737322427472))

[2020-07-29 10:14] jakubgs commented on #8512
@licaon-kter `vagrant` doesn't appear to be a valid user for GitLab Builds:
[code]
https://gitlab.com/jakubgs/fdroiddata/-/jobs/661345286

[2020-07-29 10:18] jakubgs commented on #8512
And if we look at a previous build where I used `$USER` it shows `root`:
[code]
https://gitlab.com/jakubgs/fdroiddata/-/jobs/661321960

Which appears to mean that builds run as `root`.

[2020-07-29 10:20] jakubgs commented on #8512
If that is the case then according to this issue: https://github.com/NixOS/nix/issues/936

Which essentially does what [this doc](https://nixos.org/nix/manual/#idm140737322427472) suggests:
[code]

[2020-07-29 10:51] jakubgs commented on #8512
Using this:
[code]
Made the Nix installation work;
[code]
But it fails later because `$USER` is not set:
[code]

[2020-07-29 10:52] jakubgs commented on #8512
@licaon-kter would it be possible to run the GitLab build as a normal user rather than `root`?

[2020-07-29 10:57] jakubgs commented on #8512
I'm kinda confused as what's the point of `sudo` field if everything is run as `root`...

[2020-07-29 22:08] jakubgs commented on #8512
Looks like we might have a problem because of `react-native-camera` that pulls stuff like `play-services` or `firebase` in:
[code]
And it also appears to be pulling in Firebase:
[code]
And it appears to be the case:
https://github.com/react-native-community/react-native-camera/blob/6e14c0b2/android/build.gradle#L78-L83

[2020-07-30 07:55] jakubgs commented on #8512
It appears that the iOS Push Notifications PR is even adding moar Firebase stuff: https://github.com/status-im/status-react/pull/10935
[code]

[2020-07-30 08:05] jakubgs opened #11010 "Research a way to avoid pulling in Play Services/Firebase"
# Intro

During research on releasing the app via F-Droid in #8512 it was found that our dependency on `status-react-camera` pulls in a lot of dependencies we actually don't use, but are not compatible with the F-Droid requirement to not include non-FOSS software.

See: https://f-droid.org/docs/Inclusion_Policy/

# Dependencies

Here's a list of stuff `status-react-camera` pulls in that should not

[2020-07-30 10:08] flexsurfer commented on #11010
we can try to use https://github.com/wix/react-native-camera-kit instead, also we need to remove `react-native-push-notification` dep from PN PR

[2020-07-30 10:47] #10988 closed, assigned to Ferossgp

[2020-07-30 11:09] Ferossgp commented on #11010
@flexsurfer @jakubgs `react-native-push-notification` is also used here https://github.com/status-im/status-react/pull/10620 for local push notifications. Here https://github.com/status-im/status-react/pull/10620/files#diff-47fede718382f29c064b23777c288041R20-R25

[2020-07-30 11:41] qoqobolo opened #11013 "Search input and chat list on Home screen disappear after deleting public chat if navigating from suggestions"
# Bug Report
## Problem
If you enter the name of a chat you have already joined before to the search input (Home screen), then open this chat from suggestions and delete this chat, you will be redirected to Home screen without chat list and search input.

**_After restarting the app chat list and search input will appear again._**

#### Expected behavior
Redirect to home screen, chat list and sear

[2020-07-30 12:32] qoqobolo opened #11015 "Search input on Home screen is not cleared after entering chat's name, opening chat from suggestions and turning back"
# Bug Report

## Problem

If join any chat, enter its name to search input, open this chat from suggestions, and tap "back", then in the search field the same value will be set.

#### Expected behavior

Redirect to home view, search input is cleared.

#### Actual behavior

Redirect to home view, in the search field the same value is set.

![ezgif com-resize (7)](https://user-images.githubuserconte

[2020-07-30 12:59] flexsurfer commented on #11010
Camera replacement: https://github.com/status-im/status-react/pull/11016

[2020-07-30 13:29] flexsurfer commented on #11010
Remove `react-native-push-notification` https://github.com/status-im/status-react/pull/10935/commits/e589119ba7fa403770c01f52018e069670476de7

[2020-07-30 13:31] Ferossgp commented on #11010
Also, we add in 1.5 this dep https://developer.android.com/google/play/installreferrer/library

[2020-07-30 13:56] jakubgs commented on #8512
Andrey did some blazing fast work in #11016 to remove Play Services and Firebase. I updated the F-Droid PR.

Another issue is that #10620 also adds Firebase back for notifications, so we'll need to re-do that probably.

[2020-07-30 13:58] qoqobolo opened #11017 "Search field and chat list on Home view disappear after pasting name of new chat (you didn't join it before) if don't set focus in search field first"
# Bug Report

## Problem

If copy some word or name of the chat that you haven't joined before, and paste it to the search on Home screen, but not set focus in search field first (just long tap to the field), after tapping "Paste" search field and chat list will disappear.
But if paste it after setting focus to the field or paste the name of the chat from the chat list, this behavior isn't reprodu

[2020-07-30 14:14] licaon-kter commented on #11010
@Ferossgp that's non-FOSS too, right?

[2020-07-30 14:18] jakubgs commented on #11010
I actually can't tell. I've been googling a while now and I can't seem to find out what license it's under.
Everything I've found leads back to either of these three links:

* https://developer.android.com/google/play/installreferrer/library
* https://developer.android.com/google/play/installreferrer/igetinstallreferrerservice
* https://developer.android.com/google/play/installreferrer/release-not

[2020-07-30 14:25] jakubgs commented on #11010
Well, it looks like it uses `Android Software Development Kit License`:
[code]
https://dl.google.com/dl/android/maven2/com/android/installreferrer/installreferrer/1.1.2/installreferrer-1.1.2.pom
https://developer.android.com/studio/terms.html

Is that kosher @licaon-kter ?

[2020-07-30 14:37] jakubgs commented on #11010
Well, it appears that all the Firebase and Play Store stuff also uses the same license as `installreferrer`:
[code]
https://dl.google.com/dl/android/maven2/com/google/android/gms/play-services-base/17.0.0/play-services-base-17.0.0.pom

So I guess it's also not acceptable. Damn.

[2020-07-30 14:49] jakubgs commented on #11010
@flexsurfer found this: https://gitlab.com/fdroid/fdroidclient/-/issues/1932

It appears to be open and without a clear conclusion.

[2020-07-30 15:47] licaon-kter commented on #11010
Non-FOSS is not only a license thing, as seen above it could be a deps thing. It could pe GPL3, but if it pulls google-services we can't use it. ;)

[2020-07-30 16:05] hesterbruikman opened #11020 "Listen to a sent confirmation for all message types"
# Problem
When adding a `reaction` in an offline state, it is instantly visible for user A. However, the reaction is not send when offline, nor when User A comes back online. User B never sees the reaction, while it remains visible for user A

### Expected
Three options (ideally a combination of 1&2):
1. User A can add a reaction when offline, when the client comes back online, the reaction is sen

[2020-07-30 16:10] #10220 closed, assigned to Ferossgp

[2020-07-30 16:10] #10725 closed, assigned to nobody

[2020-07-30 16:18] hesterbruikman opened #11021 "Add local notification for referee of referral program"
# Problem
When a user has onboarded through a referral url they receive a Starter pack. To improve retention, we want to notify users once they have received their Starter pack.

## Implementation
Cannot use Push notifications (Google Play Services introduces issues for F-droid build)

## Acceptance Criteria
User receives notification when:
- Used referral url to install and onboard to Status
- Op

[2020-07-30 16:18] hesterbruikman commented on #11021
cc @andremedeiros @Ferossgp @Samyoul

[2020-07-30 16:41] #10488 closed, assigned to nobody

[2020-07-30 16:43] jakubgs commented on #11010
@licaon-kter as far as I know `installreferrer` is entirely standalone and does not pull any dependencies(as seen in POM).

[2020-07-30 18:11] #10976 closed, assigned to nobody

[2020-07-31 08:41] qoqobolo opened #11022 "Error appears if start to type from the dot any name during "Start new chat" flow"
# Bug Report

## Problem

If start to type any name with dot at the beginning of this name in search field during "Start new 1-1 chat" flow, alert with error will appear.

#### Actual behavior

![ezgif com-resize (9)](https://user-images.githubusercontent.com/67952253/89014771-51014380-d316-11ea-807b-29b4f0f19de8.gif)

### Reproduction

1. Home screen -> + -> Start new chat
2. Start type from the

[2020-07-31 10:25] qoqobolo opened #11023 "After upgrade from 1.4.1 to Nightly 31/07/20 all chat history is empty"
# Bug Report

## Problem

If upgrade the app from 1.4.1 to nightly 31/07/20, chat list will be saved, message previews in chat list will be shown, but after opening any chat history will be empty.

#### Expected behavior

chat history is preserved

#### Actual behavior

![ezgif com-resize (10)](https://user-images.githubusercontent.com/67952253/89025548-56b35500-d327-11ea-8692-66feeb13092f.gif)

#

[2020-07-31 11:10] hesterbruikman commented on #11023
Can't reproduce on Fairphone 2, Android 7. @cammellos any luck?

[2020-07-31 11:10] cammellos commented on #11023
haven't started :)

[2020-07-31 11:18] hesterbruikman commented on #11023
Sorry, it's clear on the issue, messages are visible in chat list, not in chat view. Can reproduce on Android 7 and 9

[2020-07-31 11:54] churik commented on #11023
Fixed in https://github.com/status-im/status-react/pull/10912

[2020-07-31 11:54] #11023 closed, assigned to nobody

[2020-07-31 13:02] John-44 opened #11025 "[keycard] Enter pairing code screen doesn't hint the paring code format to the user"
The current paring code entry screen doesn't hint the expected format of the paring code to the User.  This could lead to the User accidentally entering say their numeric pin code instead of their pairing code, as some users non-technical may not be aware of the difference between these code.

-- Desired resolution --

See attached screenshot [Pairing code entry field should hint at type of code r

[2020-07-31 13:38] jakubgs commented on #10346
Due to license issues we'll need a flavor of the app that does not include the [`installreferrer`](https://developer.android.com/google/play/installreferrer/library) library for F-Droid.

I don't know how granular this could be, but my understanding is that the app version for F-Droid would still support creating referral links, but they would only work with Play Store, and it would not need the l

[2020-08-02 02:59] weekly-digest[bot] opened #11026 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 30 issues were created.
Of these, 14 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #11025 [[keycard] Enter pairing code screen doesn't hint the paring code format to the user](https://github.com/status-im/status-react/issues/11025),

[2020-08-03 08:17] errorists opened #11027 "Add the 3w Anonymous Name if inserting a chat key in New Chat dialogue"
# Problem

After inserting a chat key in the input, the subtitle hint is only disclosing the chat key you just entered, unlike with ENS names where it's both the name and its chat key. It would be more intuitive for people here if it showed the 3w anonymous name of the contact next to the chat key.

## Implementation

so it's like this

![IMG_1599 2](https://user-images.githubusercontent.com/49327

[2020-08-03 09:28] jakubgs opened #11029 "Make installreferrer dependency optional for F-Droid"
# Description

During research done in #8512 and #11010 we found out that the dependency on [`installreferrer`](https://developer.android.com/google/play/installreferrer/library) that we are adding in #10620 is incompatible with the FOSS-only requirement of the F-Droid catalog due to the [license used](https://developer.android.com/studio/terms.html).

There is a relatively recent issue for this:

[2020-08-03 09:28] jakubgs commented on #10346
I've opened #11029 to track this.

[2020-08-03 10:06] hesterbruikman commented on #11023
Believe this was fixed in Emoji PR https://discordapp.com/channels/624205794384281629/626738033701683200/738718878791761951

@qoqobolo can we close the issue or do you want to confirm on release?

[2020-08-03 12:25] #10346 closed, assigned to Ferossgp

[2020-08-03 18:32] bgits commented on #10777
Seems like an issue I'm having. Someone sent me 1 ETH and it confirmed in wallet but no in chat notification. I was on iOS they sent from Android. Both have ENS usernames.

[2020-08-04 05:56] 3esmit commented on #9763
A user reported me this bug. The comment from user was "Fingerprint scanner don't works, it always asks me password again." Turns out, user was using "log out" button.

This bug totally defeats the fingerprint scanner.

[2020-08-04 09:12] hesterbruikman commented on #10786
User report

Confirmed by another user

#### Reproducing in 1.5
Android 10 Samsung Galaxy s10e
LRC appears instantly after adding through manage assets

@churik Any recommendation on where to get ADX? Uniswap and Kyber don't seem to offer. 1inch does, but it keeps reloading i Status (will add [here](https://docs.google.com/spreadsheets/d/1qdtAjuIVIsTtgYmZ8G6HrBDjlRbAL2tdw7Xn7WtmaQE/edit#gid=0&rang

[2020-08-04 09:57] churik commented on #10786
@hesterbruikman I can send you some, give me your address in dm

[2020-08-04 12:05] Serhy opened #11031 "Can't open image/sticker panel view after opening it while chat view was scrolling"
# Bug Report

## Problem

When user opens the Sticker/Image panel view while scrolling in chat view is not finished (and while keyboard is opened) - then Sticker/Image panel won't open from this moment, blinking each time user taps sticker/image icon.
All "fixed" after re-navigation to chat view (From chat view -> main Chats view -> again back to chat view)

No issue on iOS (just to note, - on iOS

[2020-08-04 12:05] errorists commented on #11020
Let's try to make the first option work since imo it's superior to other alternatives

[2020-08-04 12:06] Serhy commented on #11031
cc @hesterbruikman @Ferossgp
Not a blocker for release, but nice to have fixed somewhere in 1.6.1

[2020-08-04 12:28] churik commented on #10786
Couldn't reproduce with AMB, ADX on Android 10 and Android 9 - issue is not reproducible anymore on 1.5

[2020-08-04 13:54] hesterbruikman commented on #10957
This I recognize and IMO seems relatively more urgent to fix. Tried on Samsung Galaxy s10e (Adroid 10) and Fairphone 2 (Android 7)

Looks like there's a transition going on when checking a box

[2020-08-04 16:30] hesterbruikman commented on #10986
@errorists is this what it's supposed to be?

![1_1 Chat Commands](https://user-images.githubusercontent.com/35233054/89319570-98723180-d680-11ea-86cb-977046c7fd53.png)

[2020-08-04 17:10] hesterbruikman commented on #8264
How is this going @3esmit? I believe @0kok0 was working on a review of the contract changes. Are any updates required as a result of that review?

[2020-08-04 17:14] 3esmit commented on #8264
We are auditing changes to upgrade the smart contract to a more versatile version, then this migration will happen together with the deploy of new registrar.

[2020-08-05 07:42] hesterbruikman opened #11035 "Allow choosing to not use a mailserver"
# Problem
From a privacy perspective, it's important, for the user to be able to opt out of using a mailserver to collect history (i.e. messages sent while you were offline).

## Implementation
Designs to be added (@errorists can you please add the final design in the comments?)

## Acceptance Criteria
User is able to disable use of a mailserver

## Notes
Giving the user control makes a stronger c

[2020-08-05 07:58] hesterbruikman commented on #11022
Can't reproduce in 1.5, can you please check if this issue is still relevant @qoqobolo?

[2020-08-05 08:01] errorists commented on #10986
@hesterbruikman yes, thank you :)

[2020-08-05 08:03] errorists commented on #11035
Designs can be found [here](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4717%3A9087), I renamed all instances of `mailserver` to `history node` there following Hester's comments. The lowest hanging fruit type scope way to do this is to add the switch to Enable / Disable like on the designs.

[2020-08-05 08:13] qoqobolo commented on #11022
@hesterbruikman yes, just checked 1.5 on Android 10 (Google Pixel 2) and iOS 13 (iPhone SE) and the error still appears

[2020-08-05 09:22] hesterbruikman commented on #10993
Thanks for catching this @qoqobolo

Indeed, following [design](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=7687%3A0), user can continue to use application when tapping `Dismiss`. If user came from Settings, they should return to Settings. In addition, a banner should be shown on wallet overview screen.

![Frame 189](https://user-images.githubusercontent.com/35233054/8939

[2020-08-05 10:17] hesterbruikman commented on #10922
For future reference

[Flexacoin](
    0x4a57E687b9126435a9B19E4A802113e266AdeBde): 0x4a57E687b9126435a9B19E4A802113e266AdeBde
Current icon

Futurax I think we can drop support. Associated accounts of the project seem to no longer exist

[2020-08-05 10:41] hesterbruikman commented on #10890
Partial solution implemented: https://github.com/status-im/status-react/commit/8652f899e02f3962dd61ed202a0eeab018b9b90d

~~Doesn't resolve non-stateofus.eth names. Leaving the issue open~~

Not sure how this could be handled for non-stateofus.eth names as I believe we wouldn't know if they have a chat key connected. Issue needs investigation if this is feasible, if not, issue can be closed

[2020-08-05 10:48] hesterbruikman commented on #10876
Fixed for `Reply`. Issue still open to to provide fix for `Notification banner`

[2020-08-05 11:17] hesterbruikman commented on #10841
@3esmit did the solution suggested by Yenda work for you? If it did I suggest closing the issue as there's not much more we can do other than work on an alternative (less privacy focused) implementation that friendlier on battery life

[2020-08-05 11:18] #10840 closed, assigned to nobody

[2020-08-05 14:11] Ferossgp commented on #10890
@hesterbruikman the merged solution handles all cases which are handled by the `new chat` screen. I think this issue should be closed as it is a duplicate of https://github.com/status-im/status-react/issues/10988

[2020-08-05 14:14] churik commented on #10890
it is done, agree

[2020-08-05 14:15] churik commented on #10890
Closed and removed from https://docs.google.com/spreadsheets/d/1YPRb-JVSgIOyeEcRKXA5k1N1yaKE1-UdCbXnQcmjSzg/edit#gid=1370845310

[2020-08-05 14:15] #10890 closed, assigned to nobody

[2020-08-05 14:19] churik commented on #10404
@Serhy not relevant I believe?

[2020-08-05 14:22] qoqobolo opened #11037 "No conversion for WETH is assests in wallet"
# Bug Report

## Problem

Сonversion for WETH in wallet no displayed. Adress for checking conversion for this asset on [Etherscan](https://etherscan.io/): 0xcf2272205cc0cf96Cfbb9Dd740BD681D1E86901E

#### Actual behavior

![Снимок экрана 2020-08-05 в 4 17 39 PM](https://user-images.githubusercontent.com/67952253/89423917-653ea980-d737-11ea-9bb4-1eca4b760578.png)

- Status version: Release 1.5

[2020-08-05 14:27] churik commented on #10802
not relevant anymore

[2020-08-05 14:27] #10802 closed, assigned to nobody

[2020-08-05 14:31] Ferossgp commented on #10801
Actually image and text are sent as 2 different messages, so in that case the messages are not part of the image. The text which is attached to the image is `Update to latest version to see a nice image here!` and it is hidden in the UI

[2020-08-05 15:16] churik opened #11041 "Hardly visible username on replies in dark mode"
# Bug Report

## Problem
![photo_2020-08-05 17 13 24 jpeg 2020-08-05 17-16-47](https://user-images.githubusercontent.com/4557972/89430842-77bce100-d73f-11ea-809f-0a92c814df9a.png)

#### Actual behavior
name is hardly visible

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Join any public chat with chat history
- Long tap on message
- Reply

##

[2020-08-05 15:47] qoqobolo opened #11042 "Transaction status for commands in 1-1 chats isn't updated on synced devices"
# Bug Report

## Problem

If User1 has synced devices and declines request for outgoing transaction from User2, or User2 shares address for incoming transaction from User1 in 1-1 chat, the status of this commands is updated only on one of the synced devices (User1). On the second synced device status doesn't update. (**Case 1**)

Also if User1 requests transaction from one of the synced devices, t

[2020-08-05 16:19] Serhy opened #11043 "Account with no password created if double-tap 'Next' button on 'Chose storage' view"
# Bug Report

## Problem

When creating/recovering with seed phrase account user offered to `Choose key storage` followed up by creating password.
If to (_miss_)tap quickly the `Next` button on `Choose key storage` then we push empty value for password along with it thus creating accounts with empty (or null) passwords.
No way to log in to such account later.

**Note**: on iOS there is no `Choose

[2020-08-06 06:17] #11022 closed, assigned to nobody

[2020-08-06 06:58] #11027 closed, assigned to nobody

[2020-08-06 07:35] hesterbruikman opened #11044 "Status inside dapps"

[2020-08-06 07:35] hesterbruikman opened #11045 "Organization channels in chat"

[2020-08-06 07:36] hesterbruikman opened #11046 "Add local contact names"
## Add local contact names
Source: Roadmap planning workshop item #37 and [Discuss](https://discuss.status.im/t/add-local-contact-names/1789)

### User stories
- As a user, I want to add a nickname to my contacts so that I don’t get confused about who I’m chatting to or struggle to find the person I want to chat with in my contact list.

#### Use cases
- Add local name in `Contacts`
- View local n

[2020-08-06 07:37] hesterbruikman opened #11047 "Profile photo"

[2020-08-06 07:46] Serhy commented on #10404
Correct. We don't have 'Sent' indication now. Closing the issue

[2020-08-06 07:46] #10404 closed, assigned to nobody

[2020-08-06 08:43] qoqobolo opened #11048 "Can't change PIN in Keycard settings in Profile if relogin with fingerprint"
# Bug Report

## Problem

After relogin with fingerprint if try to change PIN in Keycard settings in Profile this pop-up is shown: "You're unauthorized to perform this operation. Please tap valid card and try again".

#### Actual behavior

![ezgif com-resize (11)](https://user-images.githubusercontent.com/67952253/89509679-e5185280-d7cf-11ea-9304-c5550e825c03.gif)

### Reproduction

- Have Keycard

[2020-08-06 10:55] #11017 closed, assigned to nobody

[2020-08-06 16:16] qoqobolo opened #11052 "Blocked card screen isn't shown while trying to perform transaction after card has already been blocked"
# Bug Report

## Problem

If keycard was blocked (e.g. during Send transaction flow), if try to perform transaction again, blocked card screen/pop up isn't  shown, and after entering PIN nothing happens. Also, the message "Your keycard is frozen" is shown at the top of the screen after keycard was blocked.

#### Expected behavior

Blocked card screen/pop up is shown again while attempting to perfo

[2020-08-06 19:33] jakubgs commented on #8512
This work is currently blocked on 3 issues:

- The #11016 PR needs to be merged to get rid of Firebase/Google Services, and it won't be included in `1.5.0`
- The #10620 PR adds Firebase back for Notifications so we need to redo that to not use it
- Regardless of those two we still include [`installreferrer`](https://developer.android.com/google/play/installreferrer/library) library that will not b

[2020-08-07 13:38] churik opened #11054 "Browser stops navigating to URLs after attempt to navigate to URL starting from // on IOS"
# Bug Report

## Problem
If tap on universal links like `https://join.status.im/b///www.google.com/` after "Open in Status" browser will crash and after relogin not possible to use it anymore - navigating to pages is not working.
Browser recovers work after reopening the application several times.

#### Expected behavior
no crash, at attempt to navigate the browser continues work as before

#### A

[2020-08-07 15:05] drexit opened #11056 "Addition of a Custom RPC for TomoChain on Status"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user of both Status and Tomochain, I would love to see these two great projects combined in a way that will allow others in both communities to interact on a single platform which is Status.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma

[2020-08-07 17:23] Samyoul commented on #11046
## My responses to concerns from team

[See feedback](https://docs.google.com/spreadsheets/d/1w6ohP7RQY6am4Vpac-43YUuBIIENIe_h09GfESCPy1k/edit#gid=0)

### Security concerns

Yes, depending on the nickname you give. But if your phone is hacked all of your chat is also compromised, along with your wallet keys and identity key. A concern, but a tiny one compared to the other consequences of a hacked

[2020-08-09 02:59] weekly-digest[bot] opened #11058 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 31 issues were created.
Of these, 9 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #11057 [eip-1193 fix](https://github.com/status-im/status-react/pull/11057), by [flexsurfer](https://github.com/flexsurfer)
:green_heart: #11056 [Addi

[2020-08-10 09:16] hesterbruikman commented on #10095
@churik do you know if in this case you have biometrics enabled?

[2020-08-10 09:34] churik commented on #10095
no, it is without "Save password" enabled. we actually can skip it for now, because @andremedeiros as far as I remember said that it is not possible to avoid with current implementations - app is killed on OS level

[2020-08-10 10:08] qoqobolo opened #11060 "Message "Your keycard is frozen" is shown on the wallet screen in just recovered non-keycard multiaccount, if user also has keycard multiaccount with frozen card"
# Bug Report

## Problem

If keycard was frozen (during any flow when PIN is required) and after that user recovers non-keycard multiaccount, the message "Your keycard is frozen" on the Wallet screen will be shown in non-keycard multiaccount.
After relogin the message disappears.

#### Expected behavior

There is no message "Your keycard is frozen" in non-keycard multiaccount.

#### Actual behavio

[2020-08-10 10:10] hesterbruikman commented on #10242
Further requirements on `Pull to refresh` behavior based on https://github.com/status-im/status-react/pull/11007#issuecomment-670483323

The user should always be able to trigger `Pull to refresh`, client behavior on this action depends on `mobile data setting`:
- On wifi:
     - Fetch updates
- On mobile data:
     - `Enabled` - Fetch updates
     - `Disabled` - Prompt settings bottom sheet `Sync

[2020-08-10 10:38] hesterbruikman opened #11061 "Add 'data saver' mode to settings"
# Problem
With https://github.com/status-im/status-react/pull/11007 wallet updates now depend on mobile data settings; Along with message fetching from history node. When `use mobile data` is disabled, no wallet updates are fetched over mobile data.

#10242 adds an action to trigger wallet updates manually, outside of a set frequency of wallet updates. This manual action makes it possible to offer

[2020-08-10 10:56] hesterbruikman opened #11062 "Mention improvements"

[2020-08-10 11:57] flexsurfer commented on #9611
done

[2020-08-10 11:57] #9611 closed, assigned to nobody

[2020-08-10 13:35] churik commented on #10764
Tested universal code scanner + existing QR code scanners from chat view, wallet view, bootnode, mailserver QR code scanner on IOS 13 and Android 10

Awesome work!

[2020-08-10 13:41] #11031 closed, assigned to nobody

[2020-08-10 14:39] Samyoul commented on #11046
We need to identify any syncing weirdness, and edge cases where syncing is not working.

See https://github.com/status-im/status-react/issues?q=is%3Aopen+is%3Aissue+label%3Apairing

[2020-08-11 07:24] #10764 closed, assigned to Ferossgp

[2020-08-11 07:51] Ferossgp commented on #10185
@churik I think this is already fixed in 1.5?

[2020-08-11 09:52] flexsurfer commented on #8512
This work is currently blocked on 1 issue:

we still include installreferrer library that will not be accepted

[2020-08-11 10:48] qoqobolo commented on #10986
Isn't reproduced in Nightly 11/08.

[2020-08-11 10:48] #10986 closed, assigned to nobody

[2020-08-11 12:47] churik commented on #10185
@Ferossgp no, still reproducible, but it is a bit faster than before.

[2020-08-11 12:56] Serhy opened #11068 "Message counter not clears after reading message and relogin to account"
# Bug Report

## Problem

There is a specific condition when message unread counter shows in 1-1 chat while all messages are read.
I noticed it reproduced when contact receives message, sends message and then taps 'Add to contacts' (see steps to reproduce)
Note: if for above case this contact sends a couple of messages to buddy in 1-1 then after re-login unread message counter clears. But if to no

[2020-08-11 13:16] qoqobolo opened #11069 "Error "java.lang.RuntimeException: getParameters failed (empty parameters)" while opening QR scanner during "Start 1-1 chat" flow"
# Bug Report

## Problem

Error "java.lang.RuntimeException: getParameters failed (empty parameters)" appears after opening QR scanner to start 1-1 chat.

![Снимок экрана 2020-08-11 в 3 14 18 PM](https://user-images.githubusercontent.com/67952253/89901447-619e9d00-dbe5-11ea-8dce-11feff2835ac.png)

### Reproduction

Case is reproduced during various scenarios. Steps couldn't be determined.

### Add

[2020-08-11 15:16] qoqobolo opened #11071 "Invalid 'grant permission' errors are shown when access to camera was denied"
# Bug Report

## ISSUE 1

## Problem

For Android: if permission to Camera was denied and if you tap to camera icon in 1-1/group chat, pop-up with text "_To grant the required camera permission, please go to your system settings and make sure that Status > **Photos is selected**_" will be shown.

#### Expected behavior

Text of error: To grant the required camera permission, please go to your syst

[2020-08-11 16:06] qoqobolo opened #11072 "Message disappears from the chat history if scroll it during long tapping"
# Bug Report

## Problem

If long tap to a message to call reaction menu and scroll it without lifting your finger from the screen, the message disappears from the chat history. If after that open any other tab (e.g. browser), send the app to background and open the app again, all disappeared messages will appear with the reaction menu and will be overlaid to the last screen.

#### Actual behavior

[2020-08-11 22:40] Jas0n-F opened #11073 "Application freezes after recording and attempting to send audio message."
# Bug Report

## Problem

After first receiving and opening an audio message. I then record an audio message myself in the same chat, and the audio recording overlay freezes and I cannot send the message. The chat which is currently open I am able to scroll up and down, but that is the only functionality that seems to persist in this state.

Closing the application and reopening causes the app to

[2020-08-12 01:42] Jas0n-F opened #11074 "Cannot rename group chat if name contains /"
# Bug Report

## Problem

In a private group chat that I created, assigned a name and act as an admin, I am unable to successfully change the name.

#### Expected behavior

[comment]: # Group chat name is able to be changed

#### Actual behavior

[comment]: # Group chat name is not able to be changed

#### Notes

For the developer who will be investigating. Is it related to another PR? Tips on whe

[2020-08-12 08:35] hesterbruikman commented on #7120
Superseded by current images in chat over Waku

[2020-08-12 08:35] #7120 closed, assigned to nobody

[2020-08-12 08:36] hesterbruikman commented on #9045
Superseded by images over Waku

[2020-08-12 08:36] #9045 closed, assigned to nobody

[2020-08-12 08:39] churik commented on #11069
Issue appeared after merging https://github.com/status-im/status-react/pull/11016

[2020-08-12 09:18] churik commented on #11074
@Jas0n-F
thank you for reporting!
I can't reproduce this issue on my Android10 when I create new group chat on 1.5 or create group chat on 1.4.1 and upgrade to 1.5 - in both cases I can rename chat successfully as admin.

Several questions that can be important to reproduce the issue:
1) on what version of Status did you create a group chat?
2) how many members are in group chat?
3) what is curren

[2020-08-12 09:58] churik commented on #11073
@Jas0n-F
thank you for reporting!
Can't reproduce the issue as I understand it from the description on my Android10, so several questions to clarify:
1) did you have history in this chat on previous releases (~amount of messages, and type - i.e. containsa transaction requests / stickers)?
2) Did you record the message for the 1 time (so permission to microphone is requested and you tap "Allow")?
3

[2020-08-12 10:17] qoqobolo opened #11075 "Issues in height calculation of image/sticker panel view"
# Bug Report

## ISSUE 1

## Problem

If open chat (any type), open keyboard, send the app to the background and open it again, the input field will be shifted upwards.

#### Actual behavior

![ezgif com-resize (12)](https://user-images.githubusercontent.com/67952253/89545427-a00e1380-d803-11ea-9bb9-2e88576c3aa6.gif)

### Reproduction

- Open chat view
- Open keyboard
- Send the app to background

[2020-08-12 10:26] Serhy opened #11076 "Custom bootnode settings cleared after app restart"
# Bug Report

## Problem

After custom bootnode created if to open it you see it's name and enode address and `Delete` button which works fine.
However after relogin there is nothing from that when opening custom bootnode. Thus there is no option to delete custom bootnode after app restart.

#### Expected behavior

Custom bootnode settings are present
#### Actual behavior

![dddwd38388d3d](https:/

[2020-08-12 10:35] hesterbruikman commented on #11020
From conversation with @Ferossgp this is actually related to how we get and show a send confirmation for all message types.

Hiding (disallowing) reactions in offline state is not sufficient. Also with low or interrupted connections, we cannot confirm the message was send; however the client might still show as online and allow reactions.

A better solution would be to listen to a send confirmatio

[2020-08-12 11:49] hesterbruikman commented on #10801
@Ferossgp does this mean that it's a time stamp issue? The client doesn't know the message is related to the image and order depends on how quickly image and text message travel through the network?

[2020-08-12 11:56] hesterbruikman commented on #10776
Small comment on expected behavior to be more specific:

Expected: 'Join Group' and 'Decline invitation' are only shown if user was invited and user has not been removed

As it should be possible to show Join Group and Decline invitation if the user is invited again after being removed.

[2020-08-12 12:02] Ferossgp commented on #10801
Yes this is the problem of order, but the problem root I described https://discordapp.com/channels/624205794384281629/626738033701683200/740880403245826120

[2020-08-12 12:09] qoqobolo opened #11077 "Crash after opening collectibles in specific multiaccount"
# Bug Report

## Problem

Status crashes if open collectibles, tap one, tap back and tap the same collectible again.
Reproducible in only one multiaccount. Seed phrase will be provided upon request.

#### Actual behavior

![ezgif com-resize (18)](https://user-images.githubusercontent.com/67952253/90008522-c406a480-dc9c-11ea-8a5b-688b77c52102.gif)

### Reproduction

- Log in
- Open Wallet view
- Ta

[2020-08-12 14:46] #11013 closed, assigned to nobody

[2020-08-12 14:46] #11015 closed, assigned to nobody

[2020-08-12 15:45] churik opened #11080 "No redirect to 1-1 chat on tapping on push notification"
# Bug Report

## Problem

Currently on tapping on push notification user is not redirected to 1-1 chat.
Issue is not reproducible on 1.5.
Blocks test `test_push_notification_1_1_chat`

#### Expected behavior
User will be redirected to 1-1 chat

#### Actual behavior
no redirect

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Device 1: Open Status
- Device 1:

[2020-08-12 21:47] Jas0n-F commented on #11073
@churik

1) Yes, 200+ messages. A couple of photos. No transactions or stickers.
2) Yes, first time, allowed access then froze.
3) Android 8.1.0 / Lineage OS 15.1
4) I don't recall exactly when I added to contacts. Chat logs show first messages in March this year.
5) No, this is my only device using this account
6) Log sent just now

[2020-08-12 21:50] Jas0n-F commented on #11074
@churik

1) I think it was 1.4, as soon as group chats were released
2) 3 people
3) name is "//"
4)  Android 8.1 / Lineage OS 15.1 - the inability to change the name was also present on another person in the chat whose device is running Android 9
5) Just one image was sent before noticing this.

[2020-08-13 15:33] qoqobolo opened #11084 "Timestamp duplicates in long text message in chat view"
# Bug Report

## Problem

If send a message 2 or more lines long and shortly tap it, a duplicate of timestamp will appear. On Android 8 (LG V20) long message (~2000 characters) from another user always contains a duplicate of timestamp.

#### Actual behavior

![Снимок экрана 2020-08-13 в 5 31 44 PM](https://user-images.githubusercontent.com/67952253/90154860-ebd43600-dd8a-11ea-8245-bc2d0a77b6f8.pn

[2020-08-14 08:22] 3esmit commented on #10842
@jinhojang6 This list is growing instead of shrinking. Now we have also the "audio messages" notification that is not translatable.

[2020-08-14 12:46] Ferossgp commented on #11084
@qoqobolo how did you get the white background on message in second case? Asking cause usually it should be light blue

[2020-08-14 14:48] qoqobolo commented on #11084
@Ferossgp I can reproduce it each time on **LG V20** (Android 8) when I send a message 6000+ characters long from another device. But sometimes (can't determine a particular amount of characters) background of the message becomes white with ~5500 characters, i.e. one time message has a white background with 5500 and another time it's light blue.

Moreover, if send the same message (6000+) from LG

[2020-08-14 16:56] llorehte commented on #5162
@rachelhamlin @Serhy Pplease re-open this issue. The original issue is now occurring again, the fix was working for a while, but it looks like the issue has been rasied again. No results show, whereas the results show on desktop with Metamask and also in Coinbase app.

[2020-08-15 18:35] #9986 closed, assigned to nobody

[2020-08-17 05:25] flexsurfer commented on #11073
hey @Jas0n-F at what point did it freeze? right after record button was pressed ? or after some time? thanks

[2020-08-17 08:44] flexsurfer commented on #11073
found this https://github.com/react-native-community/react-native-audio-toolkit/issues/197

[2020-08-17 08:46] flexsurfer commented on #11073
@tbenr sorry for pinging, but you might have ideas, thanks

[2020-08-17 09:15] churik commented on #11074
the reason is in name of group chat.
Thank you 👍

[2020-08-17 09:42] tbenr commented on #11073
@flexsurfer I already fixed this issue in our fork (it has been merged recently) it should be something different

[2020-08-17 09:50] churik opened #11085 "Status is crashing on login when Passcode is turned off on device, but "Save password" is turned on in app"
# Bug Report

## Problem
Crash on login to Status app when Passcode is turned off on device, but before this "Save password" with biometric authentication was enabled.
Reproducible on phones with Touch and Face IDs

NOTE: after enabling Passcode back can login in the app

#### Expected behavior
Can login

#### Actual behavior
Crash

### Reproduction

- Open Status
- Create account and login
- Turn

[2020-08-17 09:55] tbenr commented on #11073
Could be a compatibility issue with lineageos and audio recorder. Need to take a look to logcat logs to search for meaningful stack traces.

[2020-08-17 10:11] churik opened #11086 "Input field in chat view is overlapped with bottom bar"
# Bug Report

## Problem
On some devices bottom field is cut off when opening chat view, so to type smth you need to set focus manually.
Reproducible on some devices:
- **iPhone 11 Pro (every time)**
- **iPhone SE 2020 (sometimes)**
Issue is disappearing after navigating back and to the same chat view.

#### Expected behavior
No cut off

#### Actual behavior
![IMG_0382](https://user-images.githubu

[2020-08-17 12:40] churik opened #11089 "Balance and transaction history are not fetched anymore on WI-FI until putting app to background"
# Bug Report

## Problem
Currently assets/transaction history are not loaded anymore after restoring multiaccount.
Consequence of https://github.com/status-im/status-react/pull/11007

#### Expected behavior
Balance is updated

#### Actual behavior
Balance is updated only after putting app to background and back to foreground

### Reproduction

[comment]: # (Describe how we can replicate the bug st

[2020-08-17 12:40] churik commented on #11089
@rasom  would you mind take a look?

[2020-08-17 13:37] dotemacs commented on #10242
Hello @andremedeiros

I've started on this issue as per Ceri's instruction.

This is the direction I started to take:
https://github.com/status-im/status-react/compare/develop...dotemacs:add-update-gesture-to-wallet-10242?expand=1

To explain, I've added `refresh-control` in a simplest possible way, just show my initial approach, in order to get some feedback.

Is `quo.react-native` the right ns t

[2020-08-17 16:08] qoqobolo opened #11091 "QR scanner issues on "Start 1-1 chat" and "Add new contact" screens"
# Bug Report

## Problem

Two issues:
1. No QR scanner button on "Add new contact" screen;
2. QR scanner button doesn't work on "Start 1-1 chat" screen.

Regression from [Use topbars from Quo](https://github.com/status-im/status-react/pull/11050)

#### Actual behavior

**1.**
![photo_2020-08-17_17-52-14](https://user-images.githubusercontent.com/67952253/90417535-205e2f80-e0b4-11ea-9d61-5dc18c448b

[2020-08-17 16:35] jakubgs opened #11092 "Disable Whisper and don't allow disabling of Waku"
# Description

While researching disabling of Whisper on our fleets don in https://github.com/status-im/infra-eth-cluster/issues/32#issuecomment-674950824 I found out that there is a tiny number of nodes that run most recent version(`1.5.0`) but use only Whisper without Waku. I think it's about time that we disable Whisper and remove ability to disable Waku in advanced settings:
![status_advanced_

[2020-08-18 12:16] #11089 closed, assigned to cammellos

[2020-08-18 12:16] #11068 closed, assigned to cammellos

[2020-08-18 12:24] Ferossgp commented on #10242
Hi @dotemacs! Yes, you are in the right direction, the `quo.react-native` is the correct ns.
As per the second question, you can go with the default refresh-control spinner, instead of the Figma one, if I get the question right.

[2020-08-18 13:15] #11080 closed, assigned to nobody

[2020-08-18 15:36] #11085 closed, assigned to vkjr

[2020-08-18 20:24] 3esmit commented on #10060
@hesterbruikman @andremedeiros This is very bad bug that needs to be fixed ASAP.

This causes transfers to fail, gas to be wasted, and is very hard to figure out why.

In case of SNT, this is what appears on etherscan: https://etherscan.io/tx/0xa6d220794018f90bbb6bb44ef4bbb74f541652ecb8b7482f17fdd67d51f606ba
https://etherscan.io/tx/0xc4799419adf1619dd2c287e551bc79846d3ad1fea24aa4df380aecb155e9b415

[2020-08-18 20:46] 3esmit commented on #10060
Just to update on this bug report.

ISSUE 1: Currently is possible to set the exact value of the balance without being ceiled.
ISSUE 2: Currently there is a MAX button, but it brings a ceil rounded value.

[2020-08-19 07:30] hesterbruikman commented on #10060
@3esmit Do I understand correctly that with Set MAX, the transaction fails because the amount set is higher than the actual value in your account, due to rounding?

[2020-08-19 07:58] tbenr commented on #11073
@flexsurfer @churik how can I take a look to logs sent by the user?

[2020-08-19 08:32] flexsurfer commented on #9685
@errorists wdyt ?

[2020-08-19 08:40] errorists commented on #9685
@flexsurfer actually I'm not sure, with the current gas prices it's been months since I made a transaction on mainnet. This was written in December 2019, happy times 😅  What do you think, should we include this? In general with wallet, I don't like the UX of our wallet and I'm still keeping my fingers crossed for a redesign and if it were to happen we'd gather requirements first like this one here

[2020-08-19 10:35] qoqobolo opened #11098 "0 USD value of asset in Transaction request in 1-1 chat if this asset hasn't been enabled previously"
# Bug Report

## Problem

If the asset has not been enabled previously, when a transaction request in 1-1 chat is received, the value of this asset is zero (0 USD).

#### Note

If enable this asset after receiving the request and **re-login** to Status, the value of the asset in 1-1 chat will be updated.

#### Expected behavior

Relevant value of an asset is shown when a transaction request is rec

[2020-08-19 10:39] 3esmit commented on #10060
Yes, exactly

[2020-08-19 14:13] qoqobolo opened #11100 "Timer isn't refreshed after the entire audio message has been played in 1-1/group chat"
# Bug Report

## Problem

After the entire audio message has been played timer isn't refreshed and the last second of the audio message is shown.
Also, timestamp looks like the length of the audio message.

#### Expected behavior

After playing the audio message, the timer shows 0:00.

#### Actual behavior

![ezgif com-resize (21)](https://user-images.githubusercontent.com/67952253/90643886-5c2003

[2020-08-19 14:56] churik commented on #10495
Closed with universal QR code scanner

[2020-08-19 14:56] #10495 closed, assigned to nobody

[2020-08-19 15:06] Ferossgp opened #11101 "In-app Push Notifications for transactions"
https://github.com/status-im/status/issues/5

As a user, I want to receive notification for actions that happen in the app which are not in my current focus, so thus I can instantly react and switch to the new actions.

Add push notification to specific transactions and accounts.

This change will also include the migration to new flow for building the notifications inside status go. Initially pus

[2020-08-19 19:36] dotemacs commented on #10242
@Ferossgp thanks for answering my question.

[2020-08-20 05:55] dotemacs commented on #10242
Hey @hesterbruikman

In https://github.com/status-im/status-react/pull/11102 I've added this
![image](https://user-images.githubusercontent.com/152363/90679127-423fe980-e24f-11ea-9bcb-0fd086fb6d72.png)

When you say:

Can you please clarify for me what you mean when you say that the currency value should be updated but spinners on fiat value should be removed?

[2020-08-20 07:22] #9948 closed, assigned to Ferossgp

[2020-08-20 07:27] #8981 closed, assigned to Ferossgp

[2020-08-20 07:58] hesterbruikman commented on #10242
Hi @dotemacs ! I get that's confusing:S. You can ignore that last sentence. It was fixed a while back.

Individual spinners addressed an issue that still exists, but is out of the scope of this issue. Issue is that if a token is not listed on Cryptocompare updating all fiat values can fail.

[2020-08-20 08:08] dotemacs commented on #10242
@hesterbruikman thanks for the answer.

But I'm unclear if there should be spinners as shown by the arrows in the picture above.
Should I take your answer to mean **no**? So that there should be only the top spinner and no other spinners?

[2020-08-20 08:15] hesterbruikman commented on #10695
Discussed with @Ferossgp that it's probably better to:

- [ ] Add a check to `Manage assets`  > `Add custom token`
- If Cryptocompare or Coingecko (not sure which is used or both) returns selected currency value on check do nothing (i.e. add custom token)
- If Cryptocompare or Coingecko does not return selected currency value on check show dialog 'Status will not be able to show fiat values if you

[2020-08-20 08:57] hesterbruikman commented on #10242
Correct, only spinner at the top. Sorry for the confusion!

cc @errorists

[2020-08-20 09:12] dotemacs commented on #10242
No problem, thanks for the clarification 😄

[2020-08-20 10:26] #11043 closed, assigned to nobody

[2020-08-20 13:59] qoqobolo opened #11105 "Unread message counter is not updated for the first message after changing status of command message in 1-1 chat"
# Bug Report

## Problem

If User 2 declines transaction request from User 1, navigates to Home screen, and receives one more text message from User 1, counter for this new unread message won't be shown. If User 2 receives one more text message while on Home screen, the unread message counter will show "1" instead of "2".
However, after relogin "2" unread messages will be shown on Home screen.

##

[2020-08-20 15:54] churik commented on #11105
Also reproducible when user 1 shares address for example (for transaction message in 1-1 chat) and then sends message.
@cammellos take a look when you've got a chance, thank you!

[2020-08-20 17:43] 3esmit commented on #10841
Yes, it helped, however Android keeps killing the background service after some time.

[2020-08-20 17:43] #10841 closed, assigned to nobody

[2020-08-21 17:09] jkrueger opened #11111 "Android NDK can not be downloaded from nix cache"
# Bug Report

## Problem

I'm trying to build the project for the first time, and I'm having trouble with the Nix build. When running:

    make shell TARGET=android

the build fails on

    copying path '/nix/store/psx79cnz1khfjlzkw3j8x9sb1jhk1v1a-ndk-bundle-21.0.6113669' from 'https://nix-cache.status.im'...
    NAR for '/nix/store/psx79cnz1khfjlzkw3j8x9sb1jhk1v1a-ndk-bundle-21.0.6113669' fetche

[2020-08-24 06:41] flexsurfer commented on #11037
cryptocompare api doesn't support WETH https://min-api.cryptocompare.com/data/price?fsym=WETH&tsyms=USD,JPY,EUR

[2020-08-24 06:48] flexsurfer commented on #10957
@Ferossgp i know you were looking at this, any updates? thanks

[2020-08-24 08:20] hesterbruikman commented on #10947
No longer valid as referral bonus is redeemed

[2020-08-24 08:20] #10947 closed, assigned to nobody

[2020-08-24 08:23] hesterbruikman commented on #10775
@cammellos as #1989 was merged, can this issue be closed or is it open to include more rate limiting functionality?

[2020-08-24 08:26] #10540 closed, assigned to nobody

[2020-08-24 08:26] #10531 closed, assigned to nobody

[2020-08-24 08:27] #11084 closed, assigned to nobody

[2020-08-24 08:29] #10527 closed, assigned to nobody

[2020-08-24 08:34] #10069 closed, assigned to nobody

[2020-08-24 08:36] hesterbruikman commented on #10028
fixed

[2020-08-24 08:36] #10028 closed, assigned to nobody

[2020-08-24 10:07] hesterbruikman commented on #11037
See also https://github.com/status-im/status-react/issues/10695#issuecomment-677450692 for a  check with Cryptocompare on Manage assets to inform the user of fiat values not available

[2020-08-24 10:20] churik commented on #11037
@hesterbruikman
WETH (which is the really common case on exchanges) or  any asset that already presented (not added) in our assets list probably at least show nothing or use another source (not cryptocompare)?

It seems weird to me to have tokens / currencies that are not supported in case if they are already hardcoded in our assets list.

[2020-08-24 10:41] hesterbruikman commented on #11037
Agreed, I think WETH is one of the exceptions where it is commonly used so we want to offer not having to add it manually. At the same time it's supported, but not _fully_ supported. We should probably still check if the token fiat value is supported given the fiat value you have selected.

[2020-08-24 10:53] hesterbruikman commented on #9977
Fixed in https://github.com/status-im/status-react/pull/10388

[2020-08-24 10:53] #9977 closed, assigned to 0x-r4bbit

[2020-08-24 10:58] hesterbruikman commented on #10097
In app purchase Starter Pack no longer relevant

[2020-08-24 10:58] #10097 closed, assigned to andremedeiros

[2020-08-24 11:00] hesterbruikman commented on #10654
Closing as tracked in Stimbus

[2020-08-24 11:00] #10654 closed, assigned to nobody

[2020-08-24 11:28] flexsurfer commented on #11037
i didn't find a list of supported tokens by Cryptocompare, so probably not only weth from our list is not supported, but i figured out that WETH is not traded on any centralized exchange , thats why there is no price, it is traded on decentralized uniswap, so if we want its price we should get it somehow from uniswap contract i guess

[2020-08-24 17:23] jakubgs commented on #11111
We are already tracking this issue in: https://github.com/status-im/infra-ci/issues/17

There are no timeouts that I can find involved in this, this must be some weird interaction between CloudFlare, Nginx, and the Perl script that is hosting the NDK. I have no clue what is causing this.

It is possible that this PR for Nixpkgs will fix this: https://github.com/NixOS/nixpkgs/pull/89775

[2020-08-24 17:25] jakubgs commented on #11111
A simple temporary fix is to edit the `nix/nix.conf` and temporarily comment out `extra-substituters`:
https://github.com/status-im/status-react/blob/001789f76160a2511ec61764d5845b910764b323/nix/nix.conf#L2
Which should let Nix download the Android NDK directly from Google servers.

[2020-08-25 07:18] #11086 closed, assigned to Ferossgp

[2020-08-25 12:13] jkrueger commented on #11111
Thanks. That worked. This at least allows me to build for now.

[2020-08-25 12:56] qoqobolo opened #11113 "Can't send image without description in 1-1 and group chats"
# Bug Report

## Problem

An error "Cannot read property 'indexOf of null" occurs when sending an image message without description in 1-1 or group chats.

#### Actual behavior

![ezgif com-resize (1)](https://user-images.githubusercontent.com/67952253/91176512-a98fea80-e6e2-11ea-809b-1c5d30ba9a7e.gif)

### Reproduction

- Start 1-1 or group chat
- Try to send image only (without text message belo

[2020-08-25 14:15] churik commented on #11113
Part of test_pair_devices_group_chat_different_messages - check should be enabled after fix

[2020-08-25 17:49] hesterbruikman commented on #10427
Fixed in #10442

[2020-08-25 17:49] #10427 closed, assigned to emizzle

[2020-08-25 19:24] leafcutterant commented on #9685
@errorists how big of an effort would it take to implement this? I'm certain that the mainnet situation won't end soon (it requires a major adoption of L2), and I guess a wallet redesign wouldn't happen soon either.

[2020-08-26 11:13] #10775 closed, assigned to cammellos

[2020-08-27 04:33] #805 closed

[2020-08-27 09:46] flexsurfer commented on #11037
related issue https://github.com/status-im/status-react/issues/9140

[2020-08-27 10:41] qoqobolo opened #11116 "Issues in error handling when scanning QRs generated from universal links containing particular characters or upper case"
# Bug Report

## ISSUE 1
## Problem

When scanning QR-code that was generated from a link containing "%", the error "Malformed decodeURI input" ("URI error on iOS)" occurs.
If try to scan the correct QR-code after closing the error, nothing happens (no error/pop-up). It's necessary to reopen the scanner to scan the correct QR.

#### Expected behavior

1. More user-oriented error text;
2. Auto clos

[2020-08-27 10:48] hesterbruikman opened #11117 "Move notifications on Android to status-go"
### Description
Notifications in java, as they are disconnected from the rest of the app, we should move them to status-go, using Java only to display them.

This issue should be resolved before addressing other issues in the epic #10737

### User Story
As a developer, I want to maintain logic of local notifications on Android in status-go so that I don't have to duplicate any code/data.

### Desc

[2020-08-27 10:48] hesterbruikman commented on #11117
cc @cammellos @Ferossgp

[2020-08-27 15:54] qoqobolo opened #11120 "Blank space appears below the large emoji message on chat view"
# Bug Report

## Problem

If send a large emoji message (~200+ emoji) from the Android device in any type of chat, then the sender will have an blank space under it. The more emoji, the longer the blank space.
If the emoji message contains at least one letter, number, or another symbol, this space does not appear.
If send a reaction to this message, the reaction icon will be placed under the blank

[2020-08-28 10:30] #10503 closed, assigned to nobody

[2020-08-30 15:16] tbenr commented on #10969
@hesterbruikman I can work on this

[2020-08-31 08:53] #11113 closed, assigned to flexsurfer

[2020-08-31 12:51] #10201 closed, assigned to Ferossgp

[2020-08-31 20:24] hesterbruikman opened #11124 "Investigate use of a community token list"
# Problem
Maintaining a token list is difficult as new tokens are introduced all the time and popularity varies over time

## Implementation
options:
- https://uniswap.org/blog/token-lists/
- https://github.com/ethereum-lists/tokens
- ... other

## Acceptance Criteria
- Consistent asset design, ideally using our current design
- Library can be integrated without calling 3rd party services
- Suppor

[2020-09-01 10:19] dotemacs opened #11126 "Wallet - VirtualizedList for coins"
# Bug Report

## Problem

When you go to the **wallet** tab, the following error pops up in the metro console with:

[code]
#### Expected behavior

Some other view component should be used instead, to prevent this error from showing up.
Possibly switching away from ScrollView to FlatList.

### Reproduction

The same as the problem definition.

### Additional Information

- Status version: 1.5.0
-

[2020-09-01 10:45] qoqobolo opened #11127 "Timestamp in text, emoji messages, and replies is duplicated or shifted out the bubble"
# Bug Report

## Problem

The timestamp is duplicated in text messages and replies in all types of chats. If send a long emoji message the timestamp will be shifted out the bubble.

#### Actual behavior

![Screenshot 2020-09-01 at 12 13 13](https://user-images.githubusercontent.com/67952253/91839402-4a385a00-ec4f-11ea-9520-dc93f54eba10.png)
![Screenshot 2020-09-01 at 12 30 04](https://user-images.

[2020-09-01 14:51] churik opened #11130 "Sometimes user can get group chat history prior joining"
# Bug Report

## Problem
In some cases messages sent after user was invited but before he joined are visible to invited user.
From core discussion:

You should see messages after you joined, if you don't is a bug
While you are invited and not joined, the behavior is not well defined. For compatibility issues, those messages are sent, but we don't necessarily retrieve them from the mailserver. We c

[2020-09-01 14:52] churik commented on #11130
cc @cammellos @hesterbruikman

[2020-09-02 10:41] Serhy opened #11131 "'SSL error' when open cryptokitties.co on Android"
# Bug Report

## Problem

Opening https://www.cryptokitties.co on Android Status app browser ends with `Unable to load page. SSL error: the date of the certificate is invalid` page
On iOS everything is OK.

Date on Android devices is synced so it's not an issue. I also tried to update the device date to < 29th of August and also 15h September (currently certificate Dapp has states that it's `Not v

[2020-09-02 12:39] #10974 closed, assigned to nobody

[2020-09-02 18:43] danimesq opened #11133 "Implement privatekey importing, in the next Google Play release"
https://github.com/status-im/status-react/issues/9749 still isn't available in a app store update.

It limits its usage by people who already have a MetaMask/Ethereum key.

[2020-09-03 06:53] hesterbruikman commented on #11133
Thanks for adding this issue @DaniellMesquita

fyi There is currently an option inside Status Wallet to add an Ethereum account by private key:
`Wallet` > `Add account` > `Enter a private key`

This is admittedly different from importing the full tree by private key (`Sign out` > `Access existing keys`); I.e. When adding with private key inside the wallet you wouldn't be able to derive, or view mu

[2020-09-03 07:40] flexsurfer commented on #11131
this is not Status related , but Android webview , same issue in MM mobile, and Trust wallets

[2020-09-04 10:01] hesterbruikman opened #11135 "Notifications for mentions"
# Feature Issue

### User Story
As a user I want to receive a (push) notification whenever I'm mentioned in a chat

Use cases in order of priority:
- App is closed
- App is open (in-app push notification)
- Setting to control mention notifications

### Description

### Acceptance Criteria
Receive notification of a mention when the app is closed

cc @cammellos issue to capture ongoing work

[2020-09-07 09:42] #11046 closed, assigned to flexsurfer

[2020-09-07 11:32] #10179 closed, assigned to flexsurfer

[2020-09-07 12:14] 3esmit opened #11136 "Warning to users sending ERC20 directly to smart contract"
# Feature Issue

Add a warning when users are trying to use the Wallet Send function directly to a smart contract.

This would important for preventing newbie users to make the common mistakes of sending tokens to a contract that does not accept it.

Related history:  https://twitter.com/NomiChef/status/1299960487153549312

### User Story

As a user without technical knowledge, I want to be warned

[2020-09-07 13:21] errorists opened #11137 "Profile status updates"
https://github.com/status-im/status/issues/1

# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to publish updates to my profile to share my current activity, my thoughts or action. I want to be able to read status updates of others on the network. I want to decide whose updates I'm interested and have those available in a si

[2020-09-08 07:35] hesterbruikman opened #11139 "Allow creating group chat without inviting contact"
As a user
I want to create a group chat with not members
So I don't have to invite someone to create an invite link

# Problem
The current flow of creating a group chat enforces inviting at least one contact. This made sense when inviting contacts was the only way to start a group chat. Now that members can be invited through a group chat invite link (any chat key), it no longer makes sense to enf

[2020-09-08 07:58] hesterbruikman opened #11140 "Group chat improvements"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a <user|developer|...>, I want to <task> so that <goal>.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: <Bug|Feature>

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections belo

[2020-09-08 12:43] #7234 closed, assigned to nobody

[2020-09-09 07:59] flexsurfer opened #11142 "Opening chats is slow after chat with spam was opened"
# Bug Report

## Problem

1) Open chat without spam and close
2) Open chat without spam and close
3) Open spam chat and close
4)  Open chat without spam and close
4 is slow

#### Expected behavior

no slowness

[Status-debug-logs.zip](https://github.com/status-im/status-react/files/5193548/Status-debug-logs.zip)

[2020-09-09 08:06] cammellos commented on #11142
Looks like it might be markasread
from the logs:
[code]
which is 5 seconds

calls after are all slowed down (queued?)
[code]

[2020-09-09 08:19] cammellos commented on #11142
`MarkAllRead` is pretty straightforward:

https://github.com/status-im/status-go/blob/7ba89867ace1312a6f5aaa6624b95bb162fac22d/protocol/messenger.go#L2586

which calls
https://github.com/status-im/status-go/blob/7ba89867ace1312a6f5aaa6624b95bb162fac22d/protocol/message_persistence.go#L617

which makes the following queries:

[code]
Maybe some indexing issues? though is seems they should be covered

[2020-09-09 08:23] cammellos commented on #11142
[code]

results in

[code]

Indicating that is covered by an index.

The second query:
[code]

results in
[code]

Both of them seems to be covered, maybe it's a red-herring

[2020-09-09 08:43] cammellos commented on #11142
Another potential candidate is `emojiReactionsByChatID`.
The query is:
[code]
Which gives us:
[code]

So `SCAN TABLE` might be slow and is not covered by an index, it might be the culprit.

[2020-09-09 08:48] cammellos commented on #11142
Adding an index:
[code]

results in:

[code]
Which might solve the issue, next thing is to try on some devices.

[2020-09-09 08:55] cammellos commented on #11142
https://github.com/status-im/status-react/pull/11143
and
https://github.com/status-im/status-go/pull/2033

will test the build to see if there's any difference

[2020-09-09 08:55] hesterbruikman opened #11144 "Add ways to buy ETH and SNT"
# Feature Issue

### User Story

- As a user I want to purchase ETH, SNT and potential other tokens to purchase stickers, register an ENS name, vote and use with dapps
- As a network we want SNT and ETH to be available to those interested in purchasing, to enable use of SNT utility features

### Description
We've pursued strategies for users to buy ETH and SNT:
- Distribute Starter Pack and referr

[2020-09-09 10:49] hesterbruikman commented on #10363
Closing as this issue is addressed by: https://github.com/status-im/status-react/pull/10935

[2020-09-09 10:49] #10363 closed, assigned to nobody

[2020-09-09 11:00] hesterbruikman opened #11145 "Multisig"

[2020-09-09 15:36] churik opened #11147 "Unknown instead of username is shown when accepting Pending membership request in Group invite"
# Bug Report

## Problem
Regression issue after merge  https://github.com/status-im/status-react/pull/11106 and https://github.com/status-im/status-react/pull/10937

Can be divided into 2 parts:
#### Case 1) Unknown in username in Group invite when tapping on Username
![Monosnap 2020-09-09 17-26-52](https://user-images.githubusercontent.com/4557972/92619432-c66f1500-f2c1-11ea-959d-d27daa050f51.png

[2020-09-10 05:07] flexsurfer commented on #10969
i don't know who is the designer, so i i ask @hesterbruikman and @errorists   :) could we also add an icon for imported accounts, similar to watch only?  also many users complain that after creating an account it's not obvious that you need to scroll to reach "add new account", so they think its possible to create only one account,  so probably we could add "add account" item in meu as well ?  tha

[2020-09-10 05:13] flexsurfer commented on #10969
also im not a designer but as a user would say this white circle takes too much attention
![image](https://user-images.githubusercontent.com/11790366/92684170-2652d380-f335-11ea-9fa4-cb91a76bed5e.png)

[2020-09-10 15:31] churik opened #11150 "Chat icons are black in dark mode"
# Bug Report

## Problem
As far as I can see it is  regression from https://github.com/status-im/status-react/pull/10935
![Monosnap 2020-09-10 17-25-02](https://user-images.githubusercontent.com/4557972/92753880-96d80f80-f38a-11ea-8cde-210922321ff5.png)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)
*Preconditions:* set dark mode

- Open Status
- Create multi

[2020-09-10 15:31] churik commented on #11150
cc @cammellos @flexsurfer

[2020-09-11 11:02] qoqobolo opened #11152 "Self mention isn't resolved in group chat and 1-1"
# Bug Report

## Problem

### Case 1
If create a group chat or join one as a member, type **_@_**, select own name in the suggestions list, and send this message, the mention will not be resolved.

#### Expected behavior

Self mention is resolved. Tapping on the mention opens the user's own profile tab.

#### Actual behavior

![ezgif com-resize (13)](https://user-images.githubusercontent.com/67952

[2020-09-11 11:54] hesterbruikman commented on #10969
Good question @flexsurfer ! It sparked quite the conversation within the design team on how and where to best distinguish different types of accounts and whether they are imported and on a different 'recovery tree'; Also differentiating Keycard for StatusPay.

@johnlea-quiup has the best overview by now I believe, but it'll take some time to translate to the UI.

This is a recurring issue; people

[2020-09-11 12:46] John-44 commented on #10969
@flexsurfer hi, I'm working on the wallet atm, currently trying to see how we can avoid the current 'popups over popups over popups' complexity when performing actions like sending a transaction, and also how to integrate multisig functionality.  The designs shown above will probably evolve, I'll post updated mocks once I've got a concept ready to share.

[2020-09-11 14:06] qoqobolo opened #11154 "Timestamp is overlapped with mention, and the distance between ENS and @ appears if ENS mention follows the arabic text"
# Bug Report

## Problem

If enter an Arabic text, type @, select ENS name from the suggestions list, and send this message, the order in the message will be broken: timestamp will be overlapped with mention, and the distance between ENS and **_@_** will appear.

#### Actual behavior

![Screenshot 2020-09-11 at 14 54 55](https://user-images.githubusercontent.com/67952253/92927980-c34d6380-f43e-11e

[2020-09-11 16:13] alexanmtz commented on #6375
Some progress on this? Is still possible to move forward and continue the work here?

[2020-09-11 16:43] errorists commented on #6375
@alexanmtz hey do I get this right, do you volunteer to work on this one? cause we need it badly. But no, sadly there was no progress made since the last few messages here

[2020-09-11 16:48] alexanmtz commented on #6375
@errorists I want an update about this cause I'm interested, and it seems challenging, and I want to know if is possible to continue, so I can apply with a Gitcoin bounty. And I had contributed with Status before, but not this part of the application.

[2020-09-11 17:33] hesterbruikman commented on #6375
@alexanmtz as @errorists said, would still love to see this issue tackled. Let us get back to you here after the weekend so we can check if any specifics on the issue need updating

[2020-09-12 08:54] shivekkhurana commented on #11035
@hesterbruikman
I'm working on this bounty and have created the [UI (code pushed to my forked branch)](https://github.com/status-im/status-react/compare/develop...shivekkhurana:shivekkhurana/history-nodes-ui). It:
- Adds new element for disabling mail server
- Converts the Auto selection checkbox to switch
- Filters the servers that are visible depending on auto selection state

I now need to hand

[2020-09-12 12:13] TeoChiriac commented on #11035
Hi Shivek,

Thanks for being so prompt with the task.

Can any of these two links help? If you can't find the information you need in the technical documentation, please let me know so I can flag to the team.

https://status.im/developer_tools/status_web_api.html

https://status.im/developer_tools/status_extras/index.html

[2020-09-12 12:21] shivekkhurana commented on #11035
I checked the links you sent, but I don't think it will help.
I'm not even sure if I need to make an API call or not.

[2020-09-13 05:19] jakubgs commented on #11035
This file contains a list of JSON RPC calls available from within JS side of `status-react` repo currently:
https://github.com/status-im/status-react/blob/32cb09c9c68497ce152216067d2e00309baef686/src/status_im/ethereum/json_rpc.cljs#L12-L216
Here is the source of those API calls within the `status-go` repo:
https://github.com/status-im/status-go/blob/develop/services/ext/api.go
These calls are an

[2020-09-13 10:02] shivekkhurana commented on #11035
Thanks for the input @jakubgs.

What is the difference between `wakuext_` and `shhext_` calls?

The function responsible for updating the MailServer expects a list:
https://github.com/status-im/status-go/blob/8f83c5f462de854fa9b616273ccfdd4b0bda4748/services/ext/api.go#L415-L425

I'll try to send an empty list to check if it works. But a confirmation from the backend team will be helpful. I have n

[2020-09-13 13:19] cammellos commented on #11035
Hi @shivekkhurana
thanks for looking at this issue.

The difference between `wakuext_` and `shhext_` is based on whether you have `waku` or `whisper` enabled.

For the purpose of this task you probably don't need to call `updateMailservers`, it is only used once you are connected to one and signal to `status-go` that we want to receive message confirmations (I can elaborate on it, but you don't ne

[2020-09-14 07:41] vkjr opened #11158 "Add unfurling of URLs in chats"
https://github.com/status-im/status/issues/2

### User Story
As a user, I want the app to unfurl URLs so that I can easily see what they refer to without needing to open the URL.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actual

[2020-09-14 07:42] vkjr commented on #11158
I've recreated issue #4606 from scratch since bounty-related discussions are long and distracting.

[2020-09-14 07:43] vkjr commented on #4606
Closed in favor of #11158

[2020-09-14 07:43] #4606 closed, assigned to nobody

[2020-09-14 07:43] vkjr commented on #11158
@errorists, could you please check how up-to-date are designs for this feature?
[chat part](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=6942%3A34653)
[settings part](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4717%3A1065)

[2020-09-14 08:00] cammellos commented on #6375
@alexanmtz thanks for looking into this.

Currently the blocker is on android side is this https://github.com/facebook/react-native/issues/25239 , ideally we find a solution for both android and ios.
If that's not possible/feasible an ios only solution is probably acceptable, if @hesterbruikman and @errorists are ok with it.

Let me know if you have any question, or I can help you with anything

[2020-09-14 08:59] churik opened #11159 "Nicknames are not shown on other user profile view"
# Bug Report

## Problem
No more nicknames on other user profile view
![IMAGE 2020-09-14 10:57:10](https://user-images.githubusercontent.com/4557972/93065467-0a269d80-f679-11ea-805b-4087aecd2697.jpg)

#### Expected behavior
Nickname field

#### Notes
Regression issue after merging PNs for IOS + mentions PR.

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Op

[2020-09-14 08:59] churik commented on #11159
cc @hesterbruikman @flexsurfer

[2020-09-14 09:13] errorists commented on #11035
@shivekkhurana

it's a Font weight: 500 and that's the default if you use a List Item component with a subtitle present, like the one on the design. Looks fine on the screenshots

[2020-09-14 09:58] #11159 closed, assigned to nobody

[2020-09-14 10:00] shivekkhurana commented on #11035
Thanks guys. I have fixed the UI to match @errorists designs and made the `use-history-nodes?` switch work:
- Radio buttons instead of icons on left
- Switch instead of checkbox
- `Add` button with round border instead of just the `add` symbol
- Use history switch state is saved only locally
- Use history is not functional, only the UI works

|||
|---|---|
|![Screenshot 2020-09-14 at 3 25 26 PM](h

[2020-09-14 10:44] errorists commented on #11035
@shivekkhurana looks good! nice work on the UI

[2020-09-14 12:13] qoqobolo opened #11160 "Mention suggestion list contains blocked users"
# Bug Report

## Problem

If start 1-1 chat after blocking several users, the suggestion list still will contain blocked users.
It might be useful in the current situation to hide them when some users have a lot of blocked spammers.

#### Expected behavior

Suggestion list doesn't contain blocked users.

#### Actual behavior

![Screenshot 2020-09-14 at 13 22 55](https://user-images.githubuserconte

[2020-09-14 12:20] churik commented on #11160
Just to add: in case of a large amount of blocked users (it is important now, as users sometimes have > 100 blocked users) suggestions list will be messy due to a lot of "trash" blocked users.
That's why INO it should be fixed with mentions feature.

[2020-09-14 12:30] churik opened #11161 "Hashtag symbol is cut from messages when replying or copying (only plain text is shown)"
# Bug Report

## Problem
The hashtag symbol is cut from messages when replying or copying messages from chat.

#### Expected behavior
The hashtag symbol is visible

#### Actual behavior
<img width="465" alt="Screenshot 2021-12-06 at 17 00 26" src="https://user-images.githubusercontent.com/67952253/144879307-25945b4f-853b-489f-9def-87f030c6caa5.png">

### Reproduction

- Open Status
- Send a messag

[2020-09-14 13:00] errorists commented on #11158
I updated the designs to allow more granular whitelisting of domains instead of a global opt-in.
Two entry points:
🅰️ one that's shown if you receive a new message with a link in a chat you're currently in. We should do our best to present this contextually when it's likely to be noticed and only once; otherwise the opt-in switch in Settings alone will go unnoticed.

<img width="1217" alt="Frame 5

[2020-09-14 13:45] churik commented on #11154
Leftover from https://github.com/status-im/status-react/pull/11157
![image](https://user-images.githubusercontent.com/4557972/93091088-f3467200-f69d-11ea-9a69-953feccb8b0e.png)

[2020-09-14 14:07] #10922 closed, assigned to nobody

[2020-09-14 15:06] qoqobolo opened #11163 "No margin between "Block this user" button and main tabs panel on user profile view on iOS"
# Bug Report

## Problem

![ezgif com-resize (15)](https://user-images.githubusercontent.com/67952253/93101896-217e7e80-f6ab-11ea-898c-2c4da6f0ca75.gif)

### Reproduction

- Open any public chat
- Open some user profile
- Scroll to the bottom

### Additional Information

- Status version: Nightly 14/09
- Operating System: iOS 13

[2020-09-14 15:12] churik commented on #11163
very easy to fix, and can be hard to block users for some devices - so adding as 1.7

[2020-09-14 17:18] vkjr commented on #11158
@errorists, thanks for thinking it out!
I personally would be glad to have also an option (maybe with additionally shown warning) to allow any url unfurling. Because I don't care where my friend got that funny meme and I want to see it without navigating to jpeg in browser. Wdyt?

[2020-09-15 06:21] cammellos commented on #11130
This should be fixed, closing for now, feel free to re-open

[2020-09-15 06:21] #11130 closed, assigned to nobody

[2020-09-15 06:47] cammellos commented on #11035
@shivekkhurana I have updated status-go,
you can run the latest version by:
[code]
And then restart the stack (it will re-compile status-go, so it might take some time)

The last thing left to do is to actually prevent https://github.com/status-im/status-react/blob/32cb09c9c68497ce152216067d2e00309baef686/src/status_im/mailserver/core.cljs#L221
this function to be called when the settings are on.

[2020-09-15 06:49] cammellos commented on #11035
Ah, I have also named the variable `use-mailservers? instead of `use-history-nodes?` for consistency, but we can keep `History nodes` on the translation if that's preferred by ux

[2020-09-15 08:45] #11127 closed, assigned to Ferossgp

[2020-09-15 08:46] churik commented on #11127
closed in https://github.com/status-im/status-react/pull/11157

[2020-09-15 10:19] #10509 closed, assigned to nobody

[2020-09-15 10:32] 0kok0 commented on #11158
@vkjr @errorists great flow, would like to have fine grained trust/preview settings in a messenger app personally

The security/privacy trade off here is weird and complicated. On a high level, previews trade privacy (cause metadata) for security (cause stupid phishing/click jacking is harder).
- Generating the preview and sanitizing on a server is what telegram/twitter does. It's strange, breaks

[2020-09-15 10:53] #9937 closed, assigned to nobody

[2020-09-15 12:31] #11150 closed, assigned to flexsurfer

[2020-09-15 16:59] Serhy opened #11168 "No reaction pop-up appears when long-tap upon link in the chat message"
# Bug Report

## Problem

When user long taps upon link (or tag) in the chat message there is no Reactions-Reply-Copy pop-up menu appears. INstead there is 'Open in Status' pop-up (for link) pop-up.

However, long-tapping on the any other place of message where text is present does the job. But it may be not obvious for users (especially if message consists only weblink or only tag when in that ca

[2020-09-15 17:57] hesterbruikman commented on #11158
@vkjr Any thoughts on how a white list can be maintained and used by desktop?

[2020-09-16 07:01] cammellos commented on #11142
Some fixes were merged in develop, @churik would you mind testing nightly and check if it's still an issue?
Thanks!

[2020-09-16 07:04] flexsurfer commented on #11142
it will be difficult to test, but I can confirm that it's much better in the latest nightly

[2020-09-16 10:00] cammellos opened #11170 "Tidy up remote push notification options"
### User Story

As a user
I want to have push notification options presented in a clear an concise way
So that it's easy for me to make informed decisions

### Description

Currently notifications options are all in one place,
we should split what is useful to most users:
Show notifications
Notifications from non-contacts
Show @ Mentions

To what is only for advanced users:
- Send push notificatio

[2020-09-16 10:05] vkjr commented on #11158
@hesterbruikman, my suggestion is to maintain trusted urls list inside `status-go`. This way desktop can easily reuse it and if community wants to extend it - anyone can create a PR. Maybe additional faq can be added to tell community about this list in a code to facilitate PR creation for anyone. wdyt?
cc @cammellos

[2020-09-16 10:12] vkjr opened #11171 "Add DApp permissions placeholder when empty"
As a user
I want to see a placeholder on the dapp permission page
So I can immediately understand what it is about.

### Description

DApp permissions page has no explanation why it is empty.
To reach, navigate to profile/privacy and security/Set dapp access permissions.

![Screenshot 2020-09-16 at 13 08 17](https://user-images.githubusercontent.com/5786310/93323910-dfc21500-f81d-11ea-8bca-1265fc0

[2020-09-16 10:19] cammellos commented on #11158
status-go sounds like a good place

[2020-09-16 10:34] Serhy opened #11172 "No notifications for mentions (but works on iOS it to re-enable 'Show @ mentions' option)"
# Bug Report

## Problem

When user receives message with his username mentioned, - there is no push notification appears on iOS (and Android).
NOTE: By default when we enable notification on iOS the `Show @ mentions' option enabled as well. In case of turn OFF and back ON the `Show @ mentions` solves the problem. Maybe this setting not applied by default when enabling mentions on iOS.
On Android

[2020-09-16 10:57] churik commented on #11142
It's better now, can confirm

[2020-09-16 10:57] #11142 closed, assigned to nobody

[2020-09-16 11:36] qoqobolo opened #11173 "No redirect to own user profile if tap self mention in chat view after re-login"
# Bug Report

## Problem

If tap self mention in received or sent message in any type of chat, then there is no redirect to own User profile.
If open own User profile via the main tabs, and then return to chat view and tap the mention again, the user will be redirected to the profile.

#### Expected behavior

Redirect to own User profile when tap self mention.

#### Actual behavior

![ezgif com-re

[2020-09-16 12:41] churik commented on #11173
Don't think it is crucial for 1.7

[2020-09-16 13:28] qoqobolo opened #11175 "Push notification for commands in 1-1 chat, request transaction/address-request/decline"
As a user
I want to receive push notifications when a (requests for) transaction is sent to me
So that I know immediately that someone has sent me some funds

### Acceptance

User receives a push notification when is sent:
- a request transaction
- address request
- decline

Out of scope:
- accept it in 1-1 chat.

[2020-09-16 14:01] Serhy commented on #11161
I guess it makes sense to include here similar bug that when copying message with hashtag (e.g. `#statuschat`) then sharp sign in stripped so only letters copied.

[2020-09-16 14:10] qoqobolo opened #11176 "Redirect to chat view when tap to push notification on iOS"
As a user
I want to be redirected to the chat were the message was sent when tapping on a notification
So I can easily view the new message

### Description

If tap push notification when the app is in the background the last opened screen will be shown. If tap push notification after the app was closed after login Home screen will be opened.

### Acceptance criteria

When tapping on notification

[2020-09-16 15:40] qoqobolo opened #11178 "Audio message record button is changed if start to record audio, open keyboard and reopen audio message panel"
# Bug Report

## Problem

If start recording an audio message and switch to the keyboard while recording, and then open the audio message panel again, the button of the recording will not have an outer circle.
The issue isn't reproducible every time.

#### Actual behavior

![ezgif com-resize (19)](https://user-images.githubusercontent.com/67952253/93358199-7bb14800-f841-11ea-94b2-01970236bfaf.gif)

[2020-09-16 16:08] #11163 closed, assigned to flexsurfer

[2020-09-17 05:42] #10462 closed, assigned to nobody

[2020-09-17 05:45] #11135 closed, assigned to cammellos

[2020-09-17 05:49] cammellos commented on #10095
Ok, closing this as it seems we can't do much about it, feel free to re-open if more action is required.

[2020-09-17 05:49] #10095 closed, assigned to nobody

[2020-09-17 06:09] cammellos commented on #11176
Will be changing this to a feature as this was out of scope

[2020-09-17 06:19] cammellos commented on #11178
I would close this as a "Won't fix", as it seems a minor cosmetic issue and little impact on the user, would you be ok with this @qoqobolo ? cc @churik @Serhy

[2020-09-17 06:20] cammellos commented on #11175
I'll change this up to a feature as out of scope, only messages were in the initial feature.

[2020-09-17 06:27] cammellos commented on #11175
There's an issue with the `Accept` feature.

Once a user "accepts" sending funds, the transaction is not displayed immediately and is validated first.
So if a user sends a push notification as soon as accept is clicked, the receiving user will not see the transaction.

We need UX input on this one, a couple of options are:
1) Immediately show the transaction post as the user clicks on accept, show

[2020-09-17 07:00] cammellos commented on #11171
@errorists what do you think the text should be? do you think this is an issue worth fixing?

[2020-09-17 07:05] errorists commented on #11171
@cammellos the template I use for empty states goes like this `<Feature name> will appear here`, so in this case `DApp permissions will appear here`, centred font 15 / 400 / Grey

[2020-09-17 08:32] cammellos commented on #11131
Closing this for now as not related to status, feel free to re-open if you feel it should stay open.

[2020-09-17 08:32] #11131 closed, assigned to nobody

[2020-09-17 08:33] cammellos commented on #11111
Closing as tracked elsewhere.

[2020-09-17 08:45] cammellos commented on #11037
Seems like this can be closed, @flexsurfer feel free to re-open if other actions are required

[2020-09-17 08:45] #11037 closed, assigned to nobody

[2020-09-17 08:53] #10435 closed, assigned to nobody

[2020-09-17 08:54] #10549 closed, assigned to nobody

[2020-09-17 08:54] #10617 closed

[2020-09-17 08:54] #10911 closed, assigned to nobody

[2020-09-17 08:54] #10940 closed, assigned to nobody

[2020-09-17 08:54] #10972 closed, assigned to nobody

[2020-09-17 08:54] #10995 closed, assigned to nobody

[2020-09-17 08:54] #11026 closed, assigned to nobody

[2020-09-17 08:54] #11058 closed, assigned to nobody

[2020-09-17 08:55] cammellos commented on #1751
@flexsurfer closing this for now, I take it has been fixed, feel free to re-open if not  the case

[2020-09-17 08:57] #4190 closed, assigned to nobody

[2020-09-17 08:58] cammellos commented on #3175
can't replicate, closing for now, feel free to re-open

[2020-09-17 09:01] #5598 closed, assigned to nobody

[2020-09-17 09:19] hesterbruikman opened #11179 "Select and view nickname as mention"
# Problem
When users have assigned a nickname, they likely expect to mention people by their nickname and only ever see the nickname as a way to recognize the given user. However, if users enter a nickname this might lead to collisions; People in the chat might have a ENS name that is the same as the nickname. This problem is addressed by letting people select the mention from a suggestion list.

[2020-09-17 09:20] hesterbruikman commented on #11179
@rasom @errorists here's an issue to capture what we agreed yesterday on how to handle selecting a nickname as mention
cc @cammellos @qoqobolo @churik

[2020-09-17 10:00] churik commented on #3175
still the case on Android 10, status 1.6.1

[2020-09-17 10:12] #10395 closed, assigned to nobody

[2020-09-17 10:12] cammellos commented on #5432
Closed as desktop status-react has been discontinued.

[2020-09-17 10:12] #5432 closed, assigned to nobody

[2020-09-17 10:13] #5588 closed, assigned to nobody

[2020-09-17 10:13] cammellos commented on #5588
No current effort is being done on this, so closing for now.

[2020-09-17 10:15] #6127 closed, assigned to nobody

[2020-09-17 10:16] cammellos commented on #6339
marking as wontfix , not sure we should encourage this, as it's bound to cause problems for users

[2020-09-17 10:17] cammellos commented on #6367
Build system has been completely revamped, so closing for now

[2020-09-17 10:17] #6367 closed, assigned to nobody

[2020-09-17 10:18] cammellos commented on #7250
Closing for now as it seems outdated, @errorists feel free to re-open if you think it should stay open.

[2020-09-17 10:18] #7250 closed, assigned to nobody

[2020-09-17 10:20] cammellos commented on #7486
Closing this for now as it's seems that's not something that will be implemented any time soon/lack of appetite for it, feel free to reopen

[2020-09-17 10:20] #7486 closed, assigned to nobody

[2020-09-17 10:21] #7121 closed, assigned to nobody

[2020-09-17 10:21] #7237 closed, assigned to nobody

[2020-09-17 10:21] #7465 closed, assigned to nobody

[2020-09-17 10:22] #7492 closed, assigned to nobody

[2020-09-17 10:22] cammellos commented on #7026
Closing this a

[2020-09-17 10:22] #7026 closed, assigned to nobody

[2020-09-17 10:23] #7025 closed, assigned to nobody

[2020-09-17 10:23] #7117 closed, assigned to nobody

[2020-09-17 10:23] #7119 closed, assigned to nobody

[2020-09-17 10:23] #7204 closed, assigned to nobody

[2020-09-17 10:24] #7230 closed, assigned to nobody

[2020-09-17 10:25] cammellos commented on #7498
@errorists do you think this can be closed or you would like to improve the user experience?

[2020-09-17 10:31] cammellos commented on #7499
Closing for now, as logic will likely be revamped as we change the pairing process for desktop.

[2020-09-17 10:31] #7499 closed, assigned to nobody

[2020-09-17 10:33] cammellos commented on #7641
This looks outdated as wallet has gone through many changes, feel free to reopen if not the case

[2020-09-17 10:33] #7641 closed, assigned to nobody

[2020-09-17 10:35] cammellos commented on #7729
Closing this for now as will not be implemented any time soon, feel free to reopen with more details.

[2020-09-17 10:35] #7729 closed, assigned to nobody

[2020-09-17 10:36] cammellos commented on #7743
I believe this has been done.

[2020-09-17 10:36] #7743 closed, assigned to nobody

[2020-09-17 10:37] #7352 closed, assigned to nobody

[2020-09-17 10:37] #7358 closed, assigned to nobody

[2020-09-17 10:37] #7767 closed, assigned to nobody

[2020-09-17 10:37] #7769 closed, assigned to nobody

[2020-09-17 10:37] #7768 closed, assigned to nobody

[2020-09-17 10:37] #7364 closed, assigned to nobody

[2020-09-17 10:38] cammellos commented on #9135
I believe this has been fixed, feel free to reopen.

[2020-09-17 10:38] #9135 closed, assigned to nobody

[2020-09-17 10:39] #6183 closed, assigned to nobody

[2020-09-17 10:40] cammellos commented on #6205
Closing for now as not well specified, feel free to add more info to move this forward.

[2020-09-17 10:40] #6205 closed, assigned to nobody

[2020-09-17 10:41] #6238 closed, assigned to nobody

[2020-09-17 10:44] cammellos commented on #7714
Closing for now as probably outdated, feel free to reopen if still an issue.

[2020-09-17 10:44] #7714 closed, assigned to nobody

[2020-09-17 10:45] cammellos commented on #7208
This should be implemented, at least the channels part.

[2020-09-17 10:45] #7208 closed, assigned to nobody

[2020-09-17 10:45] #7837 closed, assigned to nobody

[2020-09-17 10:46] cammellos commented on #7881
Closing this, I would suggest moving the discussion to https://discuss.status.im/ (there are similar posts already).
thanks

[2020-09-17 10:46] #7881 closed, assigned to nobody

[2020-09-17 10:46] #8103 closed, assigned to nobody

[2020-09-17 10:47] #7726 closed, assigned to nobody

[2020-09-17 10:47] #8251 closed, assigned to nobody

[2020-09-17 10:47] #8258 closed, assigned to nobody

[2020-09-17 10:47] #8257 closed, assigned to nobody

[2020-09-17 10:48] #8291 closed, assigned to nobody

[2020-09-17 10:48] #8294 closed, assigned to nobody

[2020-09-17 10:49] #8441 closed, assigned to nobody

[2020-09-17 10:53] #8467 closed, assigned to nobody

[2020-09-17 10:53] cammellos commented on #8467
Thanks for your interest, the desktop app was discontinued, and it's now a separate project https://github.com/status-im/nim-status-client , they might able to assist you there.

[2020-09-17 10:54] #8482 closed, assigned to nobody

[2020-09-17 10:55] #8504 closed, assigned to nobody

[2020-09-17 10:55] #8560 closed, assigned to nobody

[2020-09-17 10:55] #8596 closed, assigned to nobody

[2020-09-17 10:55] #8746 closed, assigned to nobody

[2020-09-17 10:56] #8921 closed, assigned to nobody

[2020-09-17 10:56] #8928 closed, assigned to nobody

[2020-09-17 10:56] #8950 closed, assigned to nobody

[2020-09-17 10:57] #9043 closed, assigned to nobody

[2020-09-17 10:57] #9081 closed, assigned to nobody

[2020-09-17 10:58] #9269 closed, assigned to nobody

[2020-09-17 11:04] churik commented on #6339
Agree

[2020-09-17 11:04] #6339 closed, assigned to nobody

[2020-09-17 12:13] #9432 closed, assigned to nobody

[2020-09-17 12:13] #8866 closed, assigned to nobody

[2020-09-17 12:13] #8653 closed, assigned to nobody

[2020-09-17 12:14] #8896 closed, assigned to nobody

[2020-09-17 12:14] #8949 closed, assigned to nobody

[2020-09-17 12:14] #8948 closed, assigned to nobody

[2020-09-17 12:14] #9044 closed, assigned to nobody

[2020-09-17 12:14] #8927 closed, assigned to nobody

[2020-09-17 12:16] #9857 closed, assigned to nobody

[2020-09-17 12:17] #8153 closed, assigned to nobody

[2020-09-17 12:19] #8940 closed, assigned to nobody

[2020-09-17 12:19] #9039 closed, assigned to nobody

[2020-09-17 12:19] #9225 closed, assigned to nobody

[2020-09-17 12:20] #6840 closed, assigned to nobody

[2020-09-17 12:20] #6901 closed, assigned to nobody

[2020-09-17 12:22] cammellos commented on #10287
seems like there's only one issue still open of the ones listed, so will close this one and keep the other open for, feel free to re-open if necessary

[2020-09-17 12:22] #10287 closed, assigned to flexsurfer

[2020-09-17 12:23] #6165 closed, assigned to nobody

[2020-09-17 12:23] #6479 closed, assigned to nobody

[2020-09-17 12:25] cammellos commented on #6939
this has been implemented I believe

[2020-09-17 12:25] #6939 closed, assigned to nobody

[2020-09-17 12:26] #7292 closed, assigned to nobody

[2020-09-17 12:26] #7884 closed, assigned to nobody

[2020-09-17 12:27] #8102 closed, assigned to nobody

[2020-09-17 12:28] #5589 closed, assigned to nobody

[2020-09-17 12:28] #5590 closed, assigned to nobody

[2020-09-17 12:28] #5592 closed, assigned to nobody

[2020-09-17 12:28] #5594 closed, assigned to nobody

[2020-09-17 12:29] #6398 closed, assigned to nobody

[2020-09-17 12:30] #6300 closed, assigned to nobody

[2020-09-17 12:31] cammellos commented on #7926
This might be fixed, closing, reopen if necessary and thanks for reporting the issue.

[2020-09-17 12:31] #7926 closed, assigned to nobody

[2020-09-17 12:31] cammellos commented on #7987
Please add a feature request on https://discuss.status.im/ , thanks for your input!

[2020-09-17 12:31] #7987 closed, assigned to nobody

[2020-09-17 12:31] #7757 closed, assigned to nobody

[2020-09-17 12:32] #7795 closed, assigned to nobody

[2020-09-17 12:32] cammellos commented on #7795
@jakubgs closing this for now, assuming is stale, feel free to reopen if it's something worth working on.

[2020-09-17 12:33] #8382 closed, assigned to nobody

[2020-09-17 12:33] #8388 closed, assigned to nobody

[2020-09-17 12:33] #8885 closed, assigned to nobody

[2020-09-17 12:33] #8531 closed, assigned to nobody

[2020-09-17 12:36] #9466 closed, assigned to nobody

[2020-09-17 12:37] #9404 closed, assigned to nobody

[2020-09-17 12:38] #9624 closed, assigned to nobody

[2020-09-17 12:38] #9755 closed, assigned to nobody

[2020-09-17 12:38] #9790 closed, assigned to nobody

[2020-09-17 12:40] cammellos commented on #9805
This should be fixed (I don't see errors in e2e), feel free to open again if not fixed.

[2020-09-17 12:40] #9805 closed, assigned to nobody

[2020-09-17 12:40] #9866 closed, assigned to nobody

[2020-09-17 12:41] cammellos commented on #9895
I believe this is just a matter of configuring the URL for verifying transactions, @churik  do you still want to enable those e2e tests? ( if so we can get this done, otherwise we can close)

[2020-09-17 12:42] #9943 closed, assigned to nobody

[2020-09-17 12:42] churik commented on #9805
@cammellos you don't see errors because this check is disabled.
Didn't know it was fixed, then I'll enable check again and will see

[2020-09-17 12:42] #9966 closed, assigned to nobody

[2020-09-17 12:42] #9982 closed, assigned to nobody

[2020-09-17 12:43] #10004 closed, assigned to nobody

[2020-09-17 12:43] #10020 closed, assigned to nobody

[2020-09-17 12:43] #10062 closed, assigned to nobody

[2020-09-17 12:45] cammellos commented on #10375
I assume this has been resolved, please reopen if necessary

[2020-09-17 12:45] #10375 closed, assigned to nobody

[2020-09-17 12:46] cammellos commented on #9988
Please add feature requests to https://discuss.status.im/ , thanks for you input!

[2020-09-17 12:46] #9988 closed, assigned to nobody

[2020-09-17 12:49] #10855 closed, assigned to nobody

[2020-09-17 12:51] cammellos commented on #10616
Probably this is best for the waku/specs repo, closing for now https://github.com/vacp2p/specs

[2020-09-17 12:55] #7605 closed, assigned to nobody

[2020-09-17 12:58] cyanlemons commented on #10616
I do not particularly agree with the closing of this issue. Half of the issue has no relation to vac, being the usage of Infura which exposes the user's IP address. This is strictly tied to the Status app itself, not the protocol.

As for the potential privacy concerns when communicating with Waku nodes, this still seems like an overarching "Status problem" to me. Anonymity is one of the core prin

[2020-09-17 12:58] cammellos commented on #5195
Please add feature requests to https://discuss.status.im/ , thanks for you input!

[2020-09-17 12:58] #5195 closed, assigned to nobody

[2020-09-17 12:59] cammellos commented on #4889
Please add feature requests to https://discuss.status.im/ , thanks for you input!

[2020-09-17 12:59] #4889 closed, assigned to nobody

[2020-09-17 13:00] cammellos commented on #10473
seems like this is resolved, please feel free to reopen if necessary.

[2020-09-17 13:02] cammellos commented on #9805
:) it might not be fixed, I assumed it was fixed because the tests were not complaining, but worth re-enabling and checking, as we touched that code. If it's still failing, worth fixing.

[2020-09-17 13:03] churik commented on #9805
will keep an eye on it

[2020-09-17 13:05] cammellos commented on #10616
That's a fair point, I will reopen, thanks for your input.

[2020-09-17 13:08] #11170 closed, assigned to cammellos

[2020-09-17 13:21] #11092 closed, assigned to Ferossgp

[2020-09-17 13:28] churik commented on #9895
Yes, I would rather enable this case.
IMO that message in "Shared account" state forever is not user-friendly (so you can't tap on it and see transaction state).
I understand it is not high-prio because not a lot of users using non-default account in 1-1 chat, but in case of usage user will be confused for sure.

[2020-09-17 13:35] cammellos commented on #11172
@Serhy this should be fixed in develop, would you mind checking when you have some time and close the issue if that's the case?
Thanks!

[2020-09-17 13:55] #6416 closed, assigned to nobody

[2020-09-17 13:57] Serhy commented on #11178
Have not objection to won't fix it.

[2020-09-17 13:58] #11178 closed, assigned to nobody

[2020-09-17 14:11] Neustradamus commented on #10335
@cammellos: It is not solved!!!
- https://github.com/status-im/status-react/search?q=bouncycastle&unscoped_q=bouncycastle

[2020-09-17 14:14] cammellos commented on #10335
Oh my bad, I thought it was solved for keycard, re-opening then, thank you!

[2020-09-17 14:18] #11173 closed, assigned to rasom

[2020-09-17 14:27] Neustradamus commented on #10335
@cammellos: At this time, it is Bouncy Castle 1.66
- http://bouncycastle.org/latest_releases.html
- http://bouncycastle.org/releasenotes.html

[2020-09-17 15:26] churik commented on #11152
Should be closed in #11182

[2020-09-17 15:26] #11152 closed, assigned to rasom

[2020-09-17 15:43] hesterbruikman opened #11185 "Add UNI, COMP, AAVE, BAL, AKRO tokens"
# Problem
Add UNI to token list as it's likely anyone who's used Uniswap with a Status wallet will want to view the token
https://uniswap.org/blog/uni/

Contract address: 0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984

@simonricoo @flexsurfer

## Implementation

## Acceptance Criteria
UNI can be selected from `Manage assets`

[2020-09-17 15:53] simonricoo commented on #11185
New icon design in SVG: https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=341%3A45

[2020-09-17 19:15] #9469 closed, assigned to Ferossgp

[2020-09-17 20:53] jakubgs commented on #10825
This is not resolved and still a known issue.

[2020-09-17 20:59] jakubgs commented on #10473
Pretty sure this is still not resolved. Screenshot from the nightly, no path in the URL:
![Screenshot_20200917-225755](https://user-images.githubusercontent.com/2212681/93527600-6586b300-f939-11ea-89c5-f2a8c4410ddf.jpg)
That should be https://dap.ps/discover-dapps/categories/MARKETPLACES.

[2020-09-18 07:44] errorists commented on #11158
![IMG_1659](https://user-images.githubusercontent.com/4932774/93570571-82e86b00-f993-11ea-9199-adc04751443d.jpeg)

so apparently Signal changed their mind and now it's all URLs

[2020-09-18 07:50] cammellos commented on #11158
Interesting,
signal have links previews generated on the sender side, which hits a signal proxy that connects through ssl to the site and adds some randomness to make sure that sender/receiver are not coupled.
The reason for the whitelist was I believe so that they don't implement what is essentially a proxy for any domain, wonder if things have changed in the way the preview is generated.

[2020-09-18 08:26] churik commented on #11185
nice-to-have in 1.7, wdyt @hesterbruikman ?

[2020-09-18 08:42] hesterbruikman opened #11187 "Cancel a pending transaction"
# Problem
### User story
As a user I want to cancel a pending transaction that is holding up other transactions

#### Background
Pending transactions can be speed up by increasing the gas price for the ongoing transaction with the same nonce (see #9685). Alternatively, if the pending transaction is holding up other transactions, a user might want to cancel the pending transaction altogether. As lo

[2020-09-18 08:45] hesterbruikman commented on #11185
Absolutely! Would not block release because of it though, looks like there's some time (depending on mention progress). But the sooner we can get notifications on iOS out the better

[2020-09-18 10:36] Serhy commented on #11172
Yes, it's indeed fixed, confirmed with nightly build 18th of Sept.
Closing this issue. Thanks, @cammellos

[2020-09-18 13:07] #11172 closed, assigned to cammellos

[2020-09-18 13:24] 3esmit opened #11189 "Add backwards compatibility for ENS Usernames"
# Feature Issue

Currently status-react registers ENS Usernames by calling a hardcoded smart contract address `0xDB5ac1a559b02E12F29fC0eC0e37Be8E046DEF49`

However this will break compatibility once the ENS Usernames get migrated to a new version as the UI don't knows the new address.

### User Story

As a developer I want that migrations on ENS Usernames happen seamlessly, even if they happen in

[2020-09-18 13:54] #10487 closed, assigned to nobody

[2020-09-18 14:17] cammellos opened #11190 "Unable to login to github with status-browser on android"
# Bug Report

## Problem

I am not able to login to github on status-browser.

1) Open status-browser
2) Go to `github.com`
3) Login

#### Expected behavior

Login is successful

#### Actual behavior

"What? Your browser did something unexpected. Please contact us if the problem persist" is shown.

#### Notes

Some investigation was made and:
-  it seems like github returns 422.
- we believe this

[2020-09-18 14:18] cammellos commented on #11190
@siphiuel could you please give us your insights on this? Thanks

[2020-09-18 14:39] errorists commented on #11137
[Posting a link to updated designs](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=5390%3A21011), with changes mostly to the appearance of status updates: I removed the chat bubble ornamentation since it's the wrong format for the job: it's no longer a chat, rather a microblog and chat bubbles forced us into an inverted scroll direction which isn't suitable for the chronologic

[2020-09-18 22:03] 3esmit commented on #11136
Happened again https://twitter.com/kevingaspar/status/1306688623958466565, more than 300k of losses due mistakes like this https://etherscan.io/token/0x1f9840a85d5af5bf1d1762f925bdaddc4201f984?a=0x1f9840a85d5af5bf1d1762f925bdaddc4201f984

[2020-09-19 04:35] flexsurfer commented on #11185
most users have added UNI as a custom token, we need to check this case: what will happen if we add it in our list and a user updates the app which already has this token as custom

[2020-09-19 07:31] #6828 closed, assigned to nobody

[2020-09-19 07:31] #6843 closed, assigned to nobody

[2020-09-19 07:32] #6872 closed, assigned to nobody

[2020-09-19 07:33] flexsurfer commented on #6912
@cammellos still relevant?

[2020-09-19 07:33] #7118 closed, assigned to nobody

[2020-09-19 07:34] #7356 closed, assigned to nobody

[2020-09-19 07:35] flexsurfer commented on #11190
related issue https://github.com/status-im/status-react/issues/7402

[2020-09-19 07:36] #7418 closed, assigned to nobody

[2020-09-19 07:37] #7650 closed, assigned to nobody

[2020-09-19 07:38] #7689 closed, assigned to nobody

[2020-09-19 07:38] #7786 closed, assigned to nobody

[2020-09-19 07:39] flexsurfer commented on #7792
@jakubgs is this still relevant?

[2020-09-19 07:41] #8286 closed, assigned to nobody

[2020-09-19 07:43] #8884 closed, assigned to nobody

[2020-09-19 07:43] #8856 closed, assigned to nobody

[2020-09-19 07:44] #8711 closed, assigned to hesterbruikman

[2020-09-19 07:44] #8690 closed, assigned to nobody

[2020-09-19 07:45] #8647 closed, assigned to nobody

[2020-09-19 07:46] #8493 closed, assigned to 0kok0

[2020-09-19 07:47] #8439 closed, assigned to nobody

[2020-09-19 07:48] #8385 closed, assigned to nobody

[2020-09-19 07:52] #9833 closed, assigned to nobody

[2020-09-19 07:53] #9608 closed, assigned to nobody

[2020-09-19 08:35] jakubgs commented on #7792
I'm not sure if this is a good idea. Lets close it.

[2020-09-19 08:35] #7792 closed, assigned to nobody

[2020-09-19 18:07] vitvly commented on #11190
@cammellos @flexsurfer will look into it

[2020-09-21 01:28] 3esmit commented on #11136
Aaand again... https://twitter.com/TokenOops/status/1307512952594071552?s=19

[2020-09-21 07:42] cammellos commented on #11189
As part of this we need to decide whether we want to fetch it every-time, how often, whether to store it in the database, what happens if the network request fails etc.

[2020-09-21 07:45] 3esmit commented on #11189
It can be fetched right before attempting to register a name, i.e. on demand, as this won't happen frequently, and to register a name another requests are done anyway

[2020-09-21 08:28] hesterbruikman commented on #11185
@flexsurfer not sure.... Would it be a case of conflicting acronym? Can test on a nightly. I assume that testing a PR won't work as the token needs to be manually added prior to installing the update

Related, there are a few other tokens to be added: COMP, AAVE, BAL, AKRO Is it easier to add these in one go or as a separate issue?

[2020-09-21 08:40] hesterbruikman commented on #11160
@qoqobolo looks like this was fixed in https://github.com/status-im/status-react/pull/11181 Not sure why it didn't autoclose. Please reopen if the issue persists

[2020-09-21 08:40] #11160 closed, assigned to rasom

[2020-09-21 08:45] qoqobolo commented on #11160
@hesterbruikman just checked, looks good for me, so approve closing.

[2020-09-21 08:57] flexsurfer commented on #11185
one go better we could test them all together in one go , but we need icons then @simonricoo @hesterbruikman

[2020-09-21 09:11] churik opened #11192 "Mentions are not resolved in messages with markdown"
# Bug Report
## Problem
Mentions in messages with markdown looks as `@chat-key`

#### Expected behavior
mentions in message

#### Actual behavior
![@roman 2020-09-21 11-07-46](https://user-images.githubusercontent.com/4557972/93749741-b842c200-fbfa-11ea-8fc6-7d74df91fd19.png)

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

* Open Status
* Join any chat
* Send

[2020-09-21 09:46] hesterbruikman opened #11193 "Collapse sent message user A and make collapse message accessible"
# Problem

- As a user I want to see a message I sent as it appears to others, because that helps me judge how to best format messages
- As a user that increases font size to make it more legible, I want messages to still contain sufficient content to read coherent sentences

A follow up to #11164 to also show messages sent by user A as collapsed in chat view of user A and make collapsed messages

[2020-09-21 10:26] hesterbruikman opened #11194 "Change #status-spanish to #status-espanol"
# Problem
Current channel name is not welcoming to Spanish community

## Implementation

## Acceptance Criteria
Languages category on expanded chat view list shows #status-espanol instead of #status-spanish

[2020-09-21 10:46] John-44 commented on #11136
@3esmit Great idea, I've added a screen to cover this scenario in the wallet refresh designs I'm working on atm.  How about whitelisting smart contract wallets (e.g. Gnosis Safe, Argent, etc...) and then not posting this warning for the whitelisted smart contract addresses?  Then we can make the copy much more concise.
![sending_funds_to_smart_contract_warning_old](https://user-images.githubuserco

[2020-09-21 11:58] flexsurfer commented on #11136
@johnlea-quiup could you please add copy here?

[2020-09-21 12:24] vitvly commented on #11190
So the CookieSyncManager was missing, added it back and created a new react-native-webview tag https://github.com/status-im/react-native-webview/tree/v10.2.3_8/. Testing it.

[2020-09-21 12:38] John-44 commented on #11136
@flexsurfer copy as per screenshot above:

Title: Warning!

Description: The address you entered is a smart contract, sending funds to this address may result in loss of funds.  To interact with a DApp, open the DApp in the Status DApp Browser.

Actions: [Cancel] <-- primary  [Continue] <-- secondary

[2020-09-21 13:26] churik opened #11197 "IPhone is heating up quickly when sending messages in 1-1 chat"
# Bug Report

## Problem
Generally, users noticed that iPhone currently heating up faster than on release.
To find out the reason, made the following test cases:

1. receiving 50 messages in public chat while IPhone is in foreground
2. sending 50 text messages to public chat
3. sending text messages or mentions to 1-1 chat
4. sending mentions in public chat
5. receiving 20 push notifications in 1-

[2020-09-21 13:58] flexsurfer commented on #11185
UNI,
address 0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984
name Uniswap
symbol UNI
decimals 18

COMP,
address 0xc00e94cb662c3520282e6f5717214004a7f26888
name Compound
symbol COMP
decimals 18

AAVE,
address
name
symbol
decimals 18

BAL,
address 0xba100000625a3754423978a60c9317c58a424e3d
name Balancer
symbol BAL
decimals 18

AKRO
address 0x8ab7404063ec4dbcfd4598215992dc3f8ec853d7
name Akropolis
symbol

[2020-09-21 13:58] flexsurfer commented on #11185
@hesterbruikman could you review the list please, also i didn't find AAVE token

[2020-09-21 14:08] simonricoo commented on #11185
@flexsurfer had problem with finding $AAVE too as for others here are the icons:
UNI (NEW - updated since last week)- https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=341%3A45
COMP - https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=348%3A36
BAL - https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=348%3A63
AKRO - https://www.figma.com/fil

[2020-09-21 14:10] cammellos commented on #11197
Ok,
The issue seems to be in sending mentions.
What we added related to this in 1.7 is:

1) Sending PNs
2) Parsing mentions in status-go
3) Sending PNs for mentions in public chats
4) Parsing mentions in status-react (correct me if I am wrong @rasom )
5) Autocomplete for mentions in status-react

If the issue is only in public chats, it does seems to be related to sending mentions in public chats,

[2020-09-21 14:12] churik commented on #11197
**Profile > Advanced > Send PNs is ON:**
 [status_logs.zip](https://github.com/status-im/status-react/files/5255878/status_logs.zip) - last 3 mins sending 20 messages, phone heat up ~1C

**Profile > Advanced > Send PNs is OFF:**
[status_logs.zip](https://github.com/status-im/status-react/files/5255977/status_logs.zip) - last 4
 mins sending 20 messages, phone heat up ~0.3C

[2020-09-21 14:14] rasom commented on #11197
@cammellos in `develop` on status-react side we added
1. replacing of mentions with pubkeys before passing message to status-go side
2. mention suggestions on typing
3. mentions highlighting in input on typing

[2020-09-21 14:20] hesterbruikman commented on #11185
@j-zerah Is checking with Aave; it seems like their governance token is about to launch, but not available yet. Let's give it till noon tomorrow

[2020-09-21 14:22] cammellos commented on #11197
Checking the logs there's nothing obviously wrong,
we are not sending really any PN has probably the users who are being mentioned don't have PN enabled, nor we are excessively querying the push notification server.

[2020-09-21 14:26] cammellos commented on #11197
@churik tested with `Send push notification off` and the phone does not get hot.
So that seems to indicate that the issue is in status-go rather than in status-react, you are off the hook @rasom  :)

[2020-09-21 14:43] cammellos commented on #11197
My bad, I misread the description, is not for public chats.
In 1-to-1 we don't send PN for mentions, so it should not matter much, it's a bit odd.

[2020-09-21 14:44] churik commented on #11197
I will recheck the same case with public and 1-1 chat and `Send push notification off` and on one more time and will post here results with logs

[2020-09-21 14:59] vitvly commented on #11190
Doesn't work. Also tried using a non-deprecated `CookieManager.flush()` method (https://developer.android.com/reference/android/webkit/CookieSyncManager deprecation notice), but:
-  github.com login silently redicts to the login page again after clicking `Sign In`
- gitcoin.com shows `SSL error: Hostname mismatch` page

Continuing debug.

[2020-09-21 15:00] vitvly commented on #11190
Now i recall why the cookie sync section was removed in our community Webview fork. Docs for `CookieSyncManager` say that explicit sync is not necessary anymore as Webview automatically syncs cookies.

[2020-09-21 15:05] vitvly commented on #11190
I got a couple of emails with this content:
[code]

So maybe the auth code form is prevented from appearing somehow.

[2020-09-21 15:10] churik commented on #11197
Ok, so seems that https://github.com/status-im/status-react/issues/11197#issuecomment-696151555 was a result of something else, so I rechecked and here we are:

Case | Description | Send push notifications | Temp. difference | Logs
-- | -- | -- | -- | --
1 | sending 20 messages with mentions to 1-1 chat | ON | 0.9-1.2 | [status_logs.zip](https://github.com/status-im/status-react/files/5256221/stat