[2020-09-21 15:17] rasom commented on #11197
@churik in case if you send 20 regular messages without mentions in 1-1 numbers are fine, right?

[2020-09-21 15:18] vitvly commented on #11190
In adb logs there is this:
[code]
Why `http://github.com` I wonder, and not `https://`. **UPDATE**: fixed it via using `request.getUrl().getScheme()`, but still no luck.

Also saw this error:
[code]
But this is probably related to github.com returning `unsafe-inline` in its response headers, and means that we didn't inject the web3 provider, but this should not affect the login itself.

[2020-09-21 15:20] churik commented on #11197
that's the good question! rechecking this on 1.6.1 and on current nightly

[2020-09-21 15:23] rasom commented on #11197
Just to clarify: in all those mentions related features the difference between different types of chats is only in the computation of "mentionable users". And that list is the shortest for 1-1 because it only contains contacts. So I would expect that if performance is bad in 1-1 chats it should be even worse in group chats.

[2020-09-21 15:25] cammellos commented on #11197
Yes, at this point it might be non-mention related, 1-to-1 are more expensive to send then public chat messages, private group chat should also be heavier, in order of resource consumptions:

1) Public, light to send
2) 1-to-1, heavier
3) Group chats, heavier, proportional to the number of users in chat.

[2020-09-21 15:48] churik commented on #11197
Description | Build | Send push notifications | Temp. difference | Logs | Time
-- | -- | -- | -- | -- | --
sending 20 ordinary messages to 1-1 chat | nightly 27/09 | ON | 0.7-1.1 | [status_logs.zip](https://github.com/status-im/status-react/files/5256386/status_logs.zip) | 15:15-15:17
sending 20 ordinary messages to 1-1 chat | nightly 27/10 | OFF | 0.4-0.6 | [status_logs.zip](https://github.com/st

[2020-09-21 16:03] qoqobolo opened #11200 "Crash at attempt to scan QR code via Universal scanner after scanning via scanner in "Choose Recipient" view"
# Bug Report

## Problem

If first scan the QR code using the QR scanner in the "Choose Recipient" view, and then navigate to the Home view, tap "+" button, open Universal scanner and scan the same QR-code again, the pop-up with the error appears, and after this, the app crashes.

Reproduced time to time and on Android devices only (checked on Pixel 2 and Xiaomi mi note 9).

#### Actual behavior

[2020-09-21 20:43] 3esmit commented on #11136
We can have global and local lists, but this can be left to another interaction. For now add a "Learn more" to some docs or other screen in app explaining why and when this is an exception.

In this other interaction we can discuss also other rules, like users sending to users (under stateofus.eth) in chat may not need to display this warning, as if one user set his address in ens it's probably hi

[2020-09-22 06:13] cammellos commented on #11200
This looks like a bit of an edge case, or there's a legitimate flow when this might happen? Otherwise I would think this is a wontfix for now, but I leave the decision up to you.

[2020-09-22 06:40] qfrank commented on #7650
hi @flexsurfer
why this issue just simply get being  closed without explanation?

[2020-09-22 07:42] rasom commented on #11179
<img width="802" alt="foo" src="https://user-images.githubusercontent.com/2364994/93855438-3026f000-fcc0-11ea-95ac-09ff80bdb9e6.png">

[2020-09-22 07:54] flexsurfer commented on #11197
why does this happen only on ios ?

[2020-09-22 07:56] cammellos commented on #11197
They run the same code, so I think this should happen in both cases, if it happens only on IOS maybe some processors differences that make some operations more cpu intensive, but I'd think is a red-herring.

[2020-09-22 07:56] flexsurfer commented on #7650
hi @qfrank , sorry, i thought it was fixed, feel free to reopen if it's still relevant, thanks

[2020-09-22 08:08] qoqobolo commented on #11200
@cammellos agree with you.
@flexsurfer do you mind if I close this issue?

[2020-09-22 08:21] flexsurfer commented on #11200
i don't mind :)

[2020-09-22 08:23] #10185 closed, assigned to Ferossgp

[2020-09-22 08:24] #11200 closed, assigned to nobody

[2020-09-22 08:32] flexsurfer commented on #11197
![image](https://user-images.githubusercontent.com/11790366/93860053-bf330880-fcbe-11ea-9e4d-5e6f65a9f502.png)

https://github.com/status-im/status-react/pull/11122#discussion_r483534995

[2020-09-22 08:34] flexsurfer commented on #11197
so if you type fast on a slow device, this might be the reason, nothing should be recalculated or rerendered when typing

[2020-09-22 08:53] flexsurfer commented on #11197
its not great, but i don't say its the main reason of heating

[2020-09-22 10:06] flexsurfer commented on #11197
btw there is no option `Send push notifications`

[2020-09-22 10:09] cammellos commented on #11197
should be in advanced  --- notifications

On Tue, Sep 22, 2020, 12:07 flexsurfer <notifications@github.com> wrote:

[2020-09-22 10:32] churik commented on #11197
So:

Case | Description | Phone | Build | Send push notifications | Temp. difference | Logs | Time
-- | -- | -- | -- | -- | -- | -- | --
1 | sending 20 ordinary messages to 1-1 chat | IPhone 7 | nightly 27/09 | ON | 0.7-1.1 | [status_logs.zip](https://github.com/status-im/status-react/files/5256386/status_logs.zip) | 15:15-15:17
2 | sending 20 ordinary messages to 1-1 chat | IPhone 7 | nightly 27/

[2020-09-22 12:34] #11194 closed, assigned to nobody

[2020-09-22 13:09] cyanlemons commented on #11137
Looks very nice overall!

I definitely prefer the microblog format over the chat bubbles. As for suggestions, in right-most screen in [this comment](https://github.com/status-im/status-react/issues/11137#issuecomment-694908392), it intuitively feels a bit off to repeat `carmen.eth 0x0276...` twice while only displaying the profile picture once. I would say I generally prefer the Discord way of sol

[2020-09-22 13:28] rasom commented on #11179
it already works this way in messages

[2020-09-22 13:42] Serhy opened #11205 "Message not sent tapping Send button while typing the message"
# Bug Report

## Problem

Often when you type a message and have quick enough fingers, - the message 'Send' button could be tapped really fast. Especially on low-level devices it's easy to tap Send button while the text you type is still in process of being rendered in the message input. In that case no message is sent which feels as not the best UX.
Could not reproduce on iOS, but might because i

[2020-09-22 14:03] #10060 closed, assigned to flexsurfer

[2020-09-22 14:46] #11185 closed, assigned to flexsurfer

[2020-09-22 15:13] churik commented on #11136
Fix in https://github.com/status-im/status-react/pull/11204 is only on Recepient screen when pasting contract address in field, so it is still reproducible when scanning QR with contract code or EIP link with contract code as recepient

[2020-09-22 15:51] John-44 commented on #11136
@flexsurfer minor update to copy and design.  @3esmit with the new alert style I've posted it would be possible to link from the alert to a 'learn more' URL when such a URL exists.

I do think we should at least whitelist the most popular wallet contracts in the same release as this lands, as otherwise we will get complaints from users who become annoyed from seeing this warning every time they se

[2020-09-22 16:49] hesterbruikman commented on #11136
@johnlea-quiup could you please create an issue for the updates 🙏 I think this just crossed the PR merging. Gives a little bit more time to think about a Learn more link and whitelisting while a safeguard is in place. Both are straightforward in terms of design and implementation, but we currently don't have a good workflow to maintain this content (especially across Mobile and Desktop)

[2020-09-22 16:49] 3esmit commented on #11136
@johnlea-quiup I think for #11204 only the link is interesting, but as #11204 is already merged, and adding a url link to browser, is simple another PR could include the link once it exists.

For the safe list, Is a slight more complex change, and it still wont be the ideal solution, but it's an improvement instead of warning to everything.

I can provide a list of hashes with the "contract code"

[2020-09-22 16:50] 3esmit commented on #11136
@hesterbruikman I think we can keep the discussion on this issue, but later create smaller issues for baby-stepping to the final solution.

[2020-09-22 16:51] 3esmit commented on #11136
BTW, if we could have #11204 in 1.7 would be great, because better safe than sorry, and a only a small number of users (trying to deposit on GnosisSafe or MultiSigWallet) would be "affected by this annoyance".

[2020-09-22 17:00] John-44 opened #11209 "Update design of 'Warning to users sending ERC20 directly to smart contract'"
# Feature Issue

Update the design of the warning users see when they try to use the Wallet Send function to send tokens directly to a smart contract.

### User Story

As a user without technical knowledge, I want to be warned when I am about to make a common mistake, such ash sending tokens directly to whatever I think is the right place.

### Description

![sending_funds_to_smart_contract_warnin

[2020-09-22 17:05] 3esmit commented on #11136
As @churik mentioned, the PR #11204 is only for "pasting in the field of receipient".
I think is important to detect in any situation, for example, using qr code scanner to make this mistake is a possible scenario:
1. a user coming from bitcoin (thinks that only transfer exists);
2. reads about some protocol in his news feed; search more in the internet and ends up in the token smart contract of t

[2020-09-22 17:12] John-44 opened #11210 "Whitelist directly sending tokens to smart contract wallets"
# Feature Issue

Issue #11136 introduced a warning for users to prevent funds being lost via the funds accidentally being sent to a smart contract, and issue #11209 updates the design of this warning.  However there are some smart contracts that a user can directly send funds to, the most common of these being smart contract wallets.  This issue introduces a whitelist of known smart contract walle

[2020-09-22 17:14] John-44 commented on #11136
@3esmit @hesterbruikman  split into two new issues, apologies for not seeing the 'Merged' status above my comment and making design changes in this issue after this had already been merged.

Anyhow, new issues are #11210 and #11209

[2020-09-22 17:29] John-44 commented on #11136
@3esmit @hesterbruikman comment updates reverted as well, so the merge can be correctly accepted.

[2020-09-23 06:28] #10456 closed, assigned to nobody

[2020-09-23 07:11] rasom commented on #11192
This is not a markdown issue, more likely we son't want to resolve `@name` as `@0xpk` in case if it is placed inside some formatted text.

[2020-09-23 07:15] #9484 closed, assigned to flexsurfer

[2020-09-23 08:47] hesterbruikman opened #11212 "Mention suggestions based on letter occuring in ENS, random, or nickname"
Follow up to #11206

# Problem
As a user I want to see suggestions if I start typing @ followed any letter that occurs in the random name, nickname or ENS name, because I might not recall the full name to trigger the mention suggestions list

## Implementation

## Acceptance Criteria

## Notes

## Future Steps
Enter @ followed by any letter that occurs in ENS, random or nickname you want to mentio

[2020-09-23 09:00] rasom commented on #11212
As far as I understood @errorists we actually wanted to check user tries to type some word from three-words-name. That doesn't mean an occurrence of substring but only when part of name starts with it.

[2020-09-23 09:09] errorists commented on #11212
I'll follow up with my understanding:

A username in Status can consist of more than one word, separated by spaces

currently only the first word in the username will be matched with your input query
instead, all of the words in the username should be matched

So a Ninja Mutant Turtle
would be matched with `@n` `@m` and `@t` and not only `@n`

[2020-09-23 09:31] hesterbruikman commented on #11212
Works for me. The behavior of checking for substring I described seems to be what happens on Discord. If it's more straightforward to check the first letter of each word in the random name that's fine IMO, as long as we're aligned that's the direction

[2020-09-23 09:52] hesterbruikman opened #11213 "Local notifications for Mentions on Android"
Blocked by #11117

# Feature Issue
Add local notifications for mentions on Android

### User Story
- As a user I want to receive a local notification when someone mentions me
- As a user I want to enable/disable receiving notifications for mentions (add notification settings to Notification preferences)
- As a user I want to be able to enable/disable showing message sender and content in the notif

[2020-09-23 13:36] John-44 opened #11214 "Add option for user to increase the gas payment for a pending transaction"
# Feature Issue

Add option for user to increase the gas payment for a pending transaction.  The user facing changes required are:

- When the user is redirected to the History screen after making a transaction, the transaction should be displayed on the History screen in a 'pending' state (unless it's already included in a block).  The fact that the transaction is in this state should be indicate

[2020-09-23 14:06] John-44 opened #11215 "Add option for user to cancel a pending transaction."
# Feature Issue

In the Wallet History screen, add a button that lets a user cancel a pending transaction.  This feature should be implemented at the same time as related feature #11214

### User Story

As a user, I want to be able to cancel a pending transaction, so that A) if I've spotted an error with the transaction before it's included in a block I can cancel it and B) if the transaction is s

[2020-09-23 14:15] Serhy opened #11216 "Cursor moved in the middle of ENS name when typing message with mentioned user"
# Bug Report

## Problem

Mentions can be located by ENS/nickname/three-words name.
In case user has ENS name set, - in the input field it's mention displays ENS name (disregard it was searched by nickname or three-words name or ENS). But when I continue typing message after selecting user from mention list, - cursor automatically moves in the middle of mention (to the point when I entered several

[2020-09-23 14:20] hesterbruikman commented on #9685
Closing as this will be addressed by #11214

[2020-09-23 14:20] #9685 closed, assigned to flexsurfer

[2020-09-23 14:20] hesterbruikman commented on #11187
Closing as this will be addressed by #11215

[2020-09-23 14:20] #11187 closed, assigned to nobody

[2020-09-23 15:19] hesterbruikman opened #11218 "Hard code fix for SUPR NFT support"
# Problem
SUPR is currently supported, however there are 2 issues:
- It's unclear what token address should be used as 2 seems to exist and we've confirmed 1 of 2 art works being listed when using either, but never both art works
     -  https://etherscan.io/token/0x41a322b28d0ff354040e2cbc676f0320d8c8850d (Superare)
     -  https://etherscan.io/token/0xb932a70a57673d89f4acffbe830e8ed7f75fb9e0 (Su

[2020-09-23 15:20] cammellos commented on #11215
@rajeevgopalakrishna @0kok0 @corpetty could you please have a look at this and give your opinion?
This will require signing a transaction for the user without requiring their password, same behavior as metamask.
@johnlea-quiup can give a good rationale on why that's desirable from a UX point of view.

[2020-09-23 15:34] #11179 closed, assigned to rasom

[2020-09-23 15:42] John-44 commented on #11215
Rational for not asking the user for password when the user wishes to cancel a pending transaction is as follows:

A) cancelling a transaction is not a very destructive action, worst that can happen is a user accidentally cancels a transaction.  If this happens the user just needs to create a new transaction, not the worst thing in the world.

B) but let's say the user has just noticed that someth

[2020-09-23 16:17] #10667 closed, assigned to flexsurfer

[2020-09-23 19:13] cammellos commented on #7622
marking as wontfix as seems like the consensus is that it's not something we'll prioritize anytime soon.

[2020-09-23 19:13] #7622 closed, assigned to nobody

[2020-09-23 19:42] hesterbruikman commented on #5242
@churik can you confirm this is still relevant. I see the crash was fixed. The encoding not? Here's what I found on Android 1.7

`"` is replaced by %22 - [https://exam"ple.com](https://exam"ple.com) in browser shows as [https://exam%22ple.com](https://exam%22ple.com) in browser
` `  is not parsed as url in chat (results in [https://exam](https://exam) ple.com)

I ask as the bounty was still open a

[2020-09-23 20:02] StatusSceptre commented on #4391
still relevant on 1.7 Android 10

[2020-09-23 20:15] StatusSceptre commented on #6505
@churik I can't reproduce this issue, but it might still be relevant and important as some projects are moving to xdai.

cc @richard-ramos for any insight on how gas estimation might be handled on xDai

[2020-09-23 20:16] j-zerah commented on #11185
@hesterbruikman  since AAVE tokens are not available yet (and they have a policy not to distribute the token), the Aave team will be issuing aUSDC instead https://www.coingecko.com/en/coins/aave-usdc

So sorry for the late reply but is it possible to add this token to the list as well.

[2020-09-23 22:16] hesterbruikman commented on #11185
When is the AMA planned for? As release cut has been made wondering if this is worth saving for a more low key fixes release soon after or if that'll be too late. I'm cognizant of the size of the community that a AMA in Status can draw

fyi @cammellos

[2020-09-23 22:45] j-zerah commented on #11185
AMA is next Thursday (Sept 30)

[2020-09-24 07:19] cammellos opened #11219 "Add support for #status-announcements"
https://github.com/status-im/status/issues/3

As a user
I want to have a read-only channel #status-announcements
So I can be notified of important announcements from status

### Description

A new channel should be added to the list of channels, #status-announcements
This channel will be read-only.

### Notes

This should form the basis of organisation channels https://github.com/status-im/specs/p

[2020-09-24 07:21] cammellos opened #11220 "Add support for #status-standups"
https://github.com/status-im/status/issues/3

As a user
I want to have a read-only channel #status-standups
So I can check what devs are working on

### Description

A new channel should be added to the list of channels, #status-announcements
This channel will be read-only for most but core-developers.

### Notes

This should form the basis of organisation channels https://github.com/status-im/spe

[2020-09-24 07:27] churik commented on #6505
I can't reproduce it consitantly as well, I saw it few times in e2e when gas price was calculated on Ropsten.
It is very rare but happens.

[2020-09-24 07:29] cammellos opened #11221 "Add support for #status-ens-only"
As a user
I want to have a ens-only channel #status-ens-only
So I can make sure that people in that channel are somehow invested in status

Description
A new channel should be added to the list of channels, #status-ens-only
This channel will be read-only for users who do not have an ENS name, while user who have an ENS will be able to request access, and if granted they will be able to write on th

[2020-09-24 09:10] hesterbruikman opened #11222 "Add aUSDC token and optimize search for Aave (LEND) (aka Ethlend)"
# Problem
See [comment](https://github.com/status-im/status-react/issues/11185#issuecomment-697948911) by @j-zerah. We have an event coming up with AAVE. Given the size of their community being introduced to Status we want to make sure they can find their respective tokens.

- [aUSDC ](https://etherscan.io/token/0x9bA00D6856a4eDF4665BcA2C2309936572473B7E)(they'll issue this) https://www.coingecko.

[2020-09-24 10:04] hesterbruikman commented on #11218
Input from @charlescrain

[2020-09-24 10:20] hesterbruikman commented on #11124
Consider adding our own list to https://tokenlists.org/

[2020-09-24 11:55] flexsurfer opened #11224 "web pages are not rendered on Android, html text is shown instead"
# Bug Report

## Problem

when opening web pages in status browser they are not rendered

![image](https://user-images.githubusercontent.com/11790366/94141751-81281700-fe6d-11ea-8371-a239906468ac.png)

#### Expected behavior

page is rendered

/// Samsung Galaxy Note 10 (Android 10)

[2020-09-24 11:58] hesterbruikman commented on #11224
I could reproduce, but not with this specific example. Do you recall another url that wouldn't render?

EDIT Twitter works for me in 1.7 as well

[2020-09-24 12:10] churik commented on #11224
Tried on:
- Android 10 (Xiaomi  mi note 9)
- Android 10(Google Pixel 2)
- Android 9 (Samsung Galaxy S8)

Issue is not reproducible on these devices

[2020-09-24 12:11] Serhy commented on #10786
Reopening this issue because it reproduced with UNI in my case of Android 8.1.

On AccountB - no UNI selected in Wallet.
AccountA sent to AccountB '10 UNI'. Result: no token appeared in main Wallet screen.
AccountB enables UNI from `Assets` view. It shows 0.
AccountB exchanges 5 UNI into ETH in Uniswap and correct amount is picked up in DApp.
AccountB after exchange successfully made and ETH amoun

[2020-09-24 13:57] hesterbruikman commented on #11222
Token designs on [Figma](https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=366%3A252)

[2020-09-24 13:58] cammellos commented on #11197
It's not clear as of now what it is.
Disecting the issue:

### Sending PNs

Disabling sending pns should fix the issue (some extra work is done but should really be minimal).
According to https://github.com/status-im/status-react/issues/11197#issuecomment-696178335 should not be the case.

### Parsing mentions in status-go

This happens both on received and sent messages, so we should be seeing th

[2020-09-24 14:30] churik opened #11228 "Messages with less 4096 chars are dropped from chats"
# Bug Report

## Problem
Currently message limit for dropping messages from chats are somewhere between 3600 and 3994 char instead of expected 4096 according to https://github.com/status-im/status-go/blob/3d5e21e27689e0ff126e69db30ac6352f3dd45dc/protocol/message_validator.go#L13
Can reproduce in 1-1 and public chat

#### Expected behavior
can see messages in chat

#### Actual behavior
message with

[2020-09-24 14:31] churik commented on #11228
cc @cammellos

[2020-09-24 14:54] churik commented on #11228
Message that was sent:
[code]

[2020-09-24 14:55] cammellos commented on #11228
Confirmed that for some reason is being marked as too long
[code]

[2020-09-24 14:58] cammellos commented on #11228
The issue is unicode characters, as we are counting byte length and not characters length here
https://github.com/status-im/status-go/blob/3d5e21e27689e0ff126e69db30ac6352f3dd45dc/protocol/message_validator.go#L13

https://stackoverflow.com/questions/12668681/how-to-get-the-number-of-characters-in-a-string

[2020-09-24 15:17] churik commented on #11228
Yes, you are right abot chinese/japanese language. Limit is less in that case.
1310 still can be sent and received, 2620 - no.
Message:
[code]

[2020-09-24 16:38] hesterbruikman opened #11230 "Add button `Check on OpenSea` to Collectibles view in Wallet"
# Problem
Add a button at the top of Collectibles list in Wallet to view collectibles for the given account address on OpenSea.

- As a user I want to view my collectibles
- As a project we want to offer a way to view collectibles that requires a reasonable level of maintenance and no API that automatically calls a 3rd party (censorship resistance, security and privacy principles)

Design of butto

[2020-09-25 08:10] rasom commented on #11197
https://github.com/status-im/status-react/pull/11231 in this PR mentions ui is disabled:
1. mentions are not replaced with pubkyes
2. no suggestion
3. no highlighted mentions in input

[2020-09-25 08:58] rasom commented on #11192
Ok so, there are two ways to solve this issue:
1. do not replace mention with pubkey in case if that mention is inside some formatted text (telegram, discord)
2. parse `0xpk` as mentions even inside markdown (whatsap)

@hesterbruikman @errorists what do you think would be the best way to go?

[2020-09-25 09:03] rasom commented on #11216
@Serhy you were able to reliable reproduce this on different devices, right? I'm trying two android devices and on both it works as expected.

[2020-09-25 09:42] #11222 closed, assigned to nobody

[2020-09-25 09:58] #11218 closed, assigned to nobody

[2020-09-25 09:58] #11230 closed, assigned to flexsurfer

[2020-09-25 10:16] flexsurfer commented on #11190
@siphiuel any updates ?

[2020-09-25 10:28] vitvly commented on #11190
@flexsurfer still in debug, investigating why Github's 2-factor auth is not showing up on mobile.

[2020-09-25 10:36] flexsurfer commented on #11190
@siphiuel have you tried to comment `:on-message` and  `:on-navigation-state-change` the reason might be because we refresh the browser with new url

[2020-09-25 10:38] vitvly commented on #11190
@flexsurfer good idea, let me try that on top of cookie fixes

[2020-09-25 11:35] errorists commented on #11192
I'm very much for option 1

[2020-09-25 12:19] rasom commented on #11192
@errorists then the next question: should we detect this during typing and do not suggest options and do not highlight mentions in input? That might be a bit trickier because mention might be inside some formatting tag and that tag might not be closed and... it adds a lot of complexity actually

[2020-09-25 12:21] errorists commented on #11192
I think ideally the moment you close a tag it strips of mentions from the input inside the tag, wdyt?

[2020-09-25 12:47] Serhy commented on #11216
@rasom Yes, it's reproducible 100% on Samsung S8 (Android 9). And on Galaxy J7 (Android 8.1)
I found the reason. It is because of `Predictive text` enabled setting for keyboard.

For example on Galaxy S8 I have `Samsung Keyboard` set to use as on-screen keyboard and when I turn off `Smart typing` -> `Predictive text` setting then have no any issues like that.
Same for another Android device.

[2020-09-25 12:50] rasom commented on #11192
It is doable, might be complicated though

[2020-09-25 12:53] rasom commented on #11216
@Serhy well then it is rather Samsung keyboard's bug then ours. Not sure what can be done here.

[2020-09-25 12:53] rasom commented on #11216
might also be RN thing... checking

[2020-09-25 13:00] hesterbruikman opened #11236 "Deeplink to public chat on onboarding"
# Problem
One of the biggest problems we have is user activation.

Influencers: The influencers have to spend time explaining to their audience/followers how to join their public chats within Status. This creates friction and a relevant % of users likely don’t bother doing it and drop off.

### User story

* [ ] As a new user invited to a public chat on Status (with or without a referral code), I

[2020-09-25 13:41] #7134 closed, assigned to nobody

[2020-09-25 14:09] guylouis opened #11237 "Migrate a regular multiaccount to a keycard"
# Goal

We want a normal status user (on mobile) that has a multiaccount setup on his phone, and that purchases a brand new keycard, to be able to migrate this multiaccount to the keycard

# Problem

This feature is not offered now. So the only thing the user can currently do his
- go to his list of multiaccounts
- try to import a new multiaccount
- enter the same seed

... and he gets a error mes

[2020-09-25 16:27] 0kok0 commented on #11215
This is a prerequisite for #11214, as if the transaction is sent already, only way "canceling" or "editing" it is to sent another one with higher Gas (which also means the user looses Gas when canceling the transaction).

Re: skip the password prompt; we could cache the signing key for some time, which is required to edit a transaction that was already _sent_. @hesterbruikman suggested to schedule

[2020-09-26 02:11] 3esmit opened #11238 "Opening Stickers Menu and navigating on it is slow when there are many sticker packs installed"
# Bug Report

## Problem

As I test all sticker packs that are installed, I have them all installed in my account. When there is only a few installed this is not a problem.

![image](https://user-images.githubusercontent.com/224810/94327844-10bfe980-ff84-11ea-97fb-f2c2a405b0bc.png)

#### Expected behavior

Sticker menu opening should not slow down the whole app.

#### Actual behavior

When there a

[2020-09-26 07:54] hesterbruikman commented on #11224
Issue occurred for me. With Twitter. Samsung galaxy S10e, release build 1.7. _(Same build as Thursday when I could not reproduce)_

Could also reproduce on several 1.6 PR builds on 2nd attempt

To reproduce:
- Enter Twitter in address bar
- Close view to tap on dap.ps
- Empty address bar with keyboard and enter Twitter.com again

OR

- enter Twitter.com in address bar and load 3x
(Will fail on 3rd

[2020-09-28 07:26] rasom commented on #11216
https://github.com/facebook/react-native/pull/12462 this one

[2020-09-28 07:43] cammellos commented on #11215
I am not quite sure that's a feasible option I believe once you sign a transaction it will be immediately broadcasted to the transaction pool, and only by sending a competing transaction you can cancel it. (We could discuss scheduling transactions but that's a different feature).

Judging by the code, the key is not stored in memory at any point https://github.com/status-im/status-go/blob/200273aa

[2020-09-28 07:50] vkjr opened #11239 "status-react doesn't run with xcode 12"
# Bug Report

## Problem

After Xcode update to 12 `status-react` doesn't build

#### Expected behavior

`status-react` builds

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- update to Xcode 12
- build status

[2020-09-28 08:20] hesterbruikman opened #11240 "Clarify assets Status wallet supports"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user I want to be informed about the assets that can be held in Status Wallet, because I might choose to send funds from other wallets and these might not be Ethereum tokens or ETH

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Usability improvement

[comment]: # (Describe the featur

[2020-09-28 08:21] John-44 commented on #11215
@cammellos I've been thinking about this some more, and in the future when we introduce biometric authentication as an option for signing, the experience of requiring the user to sign to cancel a transaction will be absolutely fine.  Of course in this future scenairo keycard users will still have to tap their keycard, and biometric authentication will only work for users who have phones with biome

[2020-09-28 08:47] cammellos commented on #11239
We had a discussion about this on the retro, my understanding is that there are quite a few libraries that we use that are not building on Xcode 12, so we have agreed that the best we can do for now is to wait until those get fixed upstream and then we can fix the issues on our side.
Please correct me if I am wrong cc @flexsurfer @Ferossgp

[2020-09-28 08:52] 0kok0 commented on #11215
+1 on keeping the key out of memory, also in status-react. @cammellos my question referred to the transaction though, if it is buffered in status-go/infura's mempool where we can remove it before it is broadcasted? I guess infura doesn't expose that logic but could we do it in status-go to cancel a transaction without pw prompt?

[2020-09-28 08:53] cammellos commented on #9229
@errorists @hesterbruikman could you please have a look at the UI for this?
Thanks

[2020-09-28 08:54] cammellos commented on #11237
@errorists @hesterbruikman could you please have a look at this from the UI/UX perspective so we can get it ready for development?
Thanks!

[2020-09-28 09:04] cammellos commented on #11215
@0kok0 the transaction is never buffered in status-go, on Infura likely is the same, the transaction is immediately broadcasted to the network, so the only way to cancel it is to override the nonce.

[2020-09-28 09:06] 0kok0 commented on #11215
I see, so I can't think of a way to cancel it securely without password prompt

[2020-09-28 09:16] vkjr commented on #11239
Here is a [link](https://github.com/status-im/status-react/tree/upgrade_rn_0.63.2) to wip branch of migrating to RN 0.63.2.

[2020-09-28 09:18] John-44 commented on #11215
@0kok0 thanks for investigating! In the future biometric signing will remove the signing pain for users with biometric hardware who don't use keycard.  Keycard is a bit more hassle, but tapping a card and entering a pin is still less friction than entering a strong (hopefully long and random) password.  This won't help users of phones without a biometric authentication mechanism, but Android phone

[2020-09-28 09:32] cammellos commented on #10428
@churik is this still an issue? Otherwise feel free to close. Thanks!

[2020-09-28 09:36] churik commented on #10428
Haven't seen it for a long time.
closing for now

[2020-09-28 09:36] #10428 closed, assigned to nobody

[2020-09-28 09:38] cammellos commented on #10029
Looks like the description is outdated, as my understanding is that those cases are handled (I tested it on my phone on 1.7 and works as expected), closing this, feel free to re-open with an updated description if necessary.

[2020-09-28 09:38] #10029 closed, assigned to nobody

[2020-09-28 09:44] cammellos commented on #8264
Closing this in favor of #11189

[2020-09-28 09:44] #8264 closed, assigned to nobody

[2020-09-28 10:11] #8301 closed, assigned to nobody

[2020-09-28 10:17] cammellos commented on #8279
Seems like there's no easy way to do this in clojurescript/javascript.
There are some data structures that get override https://security.stackexchange.com/questions/192387/how-to-securely-erase-javascript-parameters-after-use but you'd still have to get it there and in that case memory would be exposed, as it would be pulled from the JSON api into a string. Closing for now, feel free to reopen if

[2020-09-28 10:17] #8279 closed, assigned to nobody

[2020-09-28 10:31] vkjr commented on #11158
After creating UI ran into the issue - can't find appropriate package to generate link previews. I hoped to use the one I used in [old PR for desktop](https://github.com/status-im/status-react/pull/7177) but it is outdated now.
Asked a [question on stackoverflow](https://stackoverflow.com/questions/64100141/what-package-can-be-used-to-generate-link-preview-in-react-native) but maybe we will have t

[2020-09-28 10:44] Ferossgp commented on #11239
@vkjr Here some details why some libs aren't working https://github.com/facebook/react-native/issues/29633#issuecomment-694187116
This affects also libs that we use like https://github.com/react-native-webview/react-native-webview/pull/1643

[2020-09-28 10:57] cammellos commented on #11158
@vkjr not sure we need to use a library for the link preview, as we only support two domains for now and no need to make it generic for the first iteration.

We also probably should consider pulling this information in status-go rather than react-native, so that both desktop and react can benefit from this (this will need to be done asynchronously for performance reasons). @iurimatias what do you

[2020-09-28 12:02] errorists commented on #11158
@cammellos out of curiosity, which two domains?

[2020-09-28 12:04] cammellos commented on #11158
@errorists I was looking at the picture, I assumed github.com & youtube, or am I mistaking?

[2020-09-28 12:04] errorists commented on #11158
that's a placeholder only, I have no clue how it should be decided if a website is good enough to be on the whitelist or not :)

[2020-09-28 12:08] cammellos commented on #11158
ah :D , I take those two are a safe bets? especially for starting out? maybe some gif website as well, but I would not expand the list a lot for the first iteration, what do you think?

[2020-09-28 12:11] hesterbruikman commented on #11158
Naive question, what happens when link unfurling is unfurled...? E.g. https://twitter.com/ethstatus/status/1309133660357091341?s=20 For example, #artproject (currently bridged) is almost exclusively Twitter links, with in turn include image links

[2020-09-28 12:14] errorists commented on #11158
yea sorry I should've place PornHub in design instead so it's more obvious :) How about Twitter? if GIFs then Tenor / GIPHY, both have terrible privacy policies so I'm not sure.
but yea I guess something like YouTube, Twitter, GitHub, Reddit, Tenor is a good start and can be expanded upon. Signal had Instagram on their whitelist too, tho not sure of the amount of trackers you hit unfurling from th

[2020-09-28 12:28] vitvly commented on #11190
Had no effect, trying out some other options.

[2020-09-28 12:49] cammellos commented on #11158
Ok, say to cut the scope to a minimum, we just pick one for this task so we have a fully working implementation, and we add the remaining in separate issues?
We can always decide not to release without them, but at least we can push this out to testing with a single URL as quick as possible, get feedback over it, fix bugs etc and then iterate, what do you say?

[2020-09-28 12:53] hesterbruikman commented on #11158
Sounds good! In that case I'd say start with Github to increases chances of CC's testing it.

Separate issues can still be slated for the same release

[2020-09-28 12:56] cammellos commented on #11158
Thank you, I'll update the issue and create one for Youtube so we can use it as a template, unless there are objections.

[2020-09-28 12:59] errorists commented on #11158
I'd _really_ ask for Twitter instead of Youtube 🙏

[2020-09-28 13:02] cammellos opened #11242 "Add youtube to whitelist for URL unfurling"
https://github.com/status-im/status/issues/2

As a user
I would like links from Youtube to be unfurled
So I can see a preview of the video posted

### Description

Youtube should be added to the whitelist of domains for link unfurling. By default it should be disabled.
Other popular domains pointing at youtube owned by google should be supported (youtu.be/. and m.youtube.com subdomain)

![youtube.

[2020-09-28 13:04] vkjr commented on #11158
There shouldn't be any difference in implementing url previews for different sites. Basically what we need is to parse tags from pages source code: `meta property="og:title"`, `<meta property="twitter:title"`, etc...
So I think we can easily start from few sites simultaneously, like youtube\github\twitter

[2020-09-28 13:04] cammellos commented on #11158
Sure :)
I have just created a skeleton issue , I picked youtube just because designs are already there https://app.zenhub.com/workspaces/status-mobile-5729dbcd8c3f63656a8f6eaa/issues/status-im/status-react/11242 , but feel free to create one for any domain you think we would like to support, and we can prioritize them (I am totally fine with going with twitter first)

[2020-09-28 13:09] cammellos commented on #11158
@vkjr up to you, but it's always best to keep the scope to a minimum and don't commit to extra work, as there might be some unknowns that we are not aware of, and it should not delay testing the meat of this PR, which is not the parsing of websites (any library can do that), but the UI/fetching etc (i.e you don't want to block this because it does not work with website x).

[2020-09-28 13:11] Ferossgp commented on #11158
Just wondering if was https://oembed.com/ spec considered? I think we could use a subset of features, and have our provider.json somewhere on IPFS

[2020-09-28 13:16] vkjr commented on #11158
@Ferossgp, thanks a lot! didn't know about this one

[2020-09-28 13:22] richard-ramos commented on #6505
Igor Barinov from POA/XDai says:

also, 1 Gwei is returned by default on eth_gasPrice request from RPCs supported by xDai team

so, probably returning 1 gwei as default for xdai if price is not available is the way to go?

[2020-09-28 15:00] #11216 closed, assigned to rasom

[2020-09-29 11:06] churik commented on #11077
Closing as it is in OpenSea now

[2020-09-29 11:06] #11077 closed, assigned to nobody

[2020-09-29 11:09] churik commented on #11120
Agree that's edge case, nice-to-have fixed but can definitely live with it.
@qoqobolo reopen if think that it is important to fix

[2020-09-29 11:09] #11120 closed, assigned to nobody

[2020-09-29 11:12] churik commented on #11205
Have seen reports from developers about this - so worth to get look at

[2020-09-29 11:30] hesterbruikman opened #11246 "Referral service refinements"
# Problem
Epic to consolidate improvements to the referral service across repos

[2020-09-29 11:48] hesterbruikman opened #11247 "Remove `Recover` check for referral"
# Problem
Currently users that recover an account are not eligible for a Starter Pack, even though they might be first time Status users. We cannot distinguish between new Status users and returning Status users based on use of recovering an account upon onboarding.

## Implementation
Should be updated here: https://github.com/status-im/status-react/blob/develop/src/status_im/multiaccounts/login/c

[2020-09-29 14:34] hesterbruikman commented on #11237
@guylouis thanks for the clear description!

To make it explicit. The scope of this issue is to only move a multiaccount, correct?

A variation could be a use case where the user does not want to move all accounts, but only a high value account they already have in their multiaccount, e.g. m/44'/60'/0'/0'/1 only) to Keycard. I suspect we'd have no root to derive the chat key in this case.

[2020-09-30 09:42] churik commented on #9495
Don't agree - it is extremely visible, so it is always like "blinking" when navigating to chat.
summon @errorists to have your opinion about that.
IMO at least some spinner is needed to make it smoother - it shouldn't be too much effort from dev side

[2020-09-30 09:46] errorists commented on #9495
I agree, I never liked that even before the spam, it's noticeable and jarring. Can't we cache the messages so we can show the last state? Or if that's not on the table, do some skeleton loading like Discord does?

[2020-09-30 11:03] #11212 closed, assigned to rasom

[2020-09-30 15:52] qoqobolo opened #11248 "3-random name is resolved instead of ENS when following deeplink"
# Bug Report

## Problem

If follow deeplink as 'https://join.status.im/u/%s.stateofus.eth' or scan it on "New contact" screen, the user profile with 3-random name will be opened instead of ENS name in the header.

**The reason why this is nice to fix:** in `test_add_remove_contact_via_contacts_view` when scanning deep link as 'https://join.status.im/u/%s.stateofus.eth'
`expected result` is 3-rand

[2020-09-30 19:11] tbenr opened #11249 "Android 1.6.1 -> 1.7 upgrade error (status-go/protocol migration error)"
Android 10.
I just upgraded 1.6.1 version to 1.7 from play store.

after upgrade i signed in using fingerprint and i got an empty screen with infinite spinner.

this are corresponding logs:

[code]

then i killed the app and tried login with password and i got:

![image](https://user-images.githubusercontent.com/15999009/94726670-d7112900-035d-11eb-8770-89d99a162597.png)

corresponding logs:

[cod

[2020-09-30 23:25] hesterbruikman commented on #11249
Thanks for reporting @tbenr

[2020-10-01 07:17] #11247 closed, assigned to nobody

[2020-10-01 07:24] flexsurfer commented on #11249
thanks @tbenr are you sure you had 1.6.1 probably you installed nightly ?

[2020-10-01 07:27] churik commented on #11249
No luck to reproduce so far:
- tried with several days of spamming history (thousands of messages) in 3 different channels
- with fingerprint login enabled.
Investigating.

[2020-10-01 07:34] tbenr commented on #11249
@flexsurfer no it was a 1.6.1 from playstore

@churik i was in many public channels, and it was an installation that came through many upgrades. hope it helps.
i waited for many seconds (around 1min? maybe less...) before killing the app.

[2020-10-01 07:38] cammellos commented on #11249
The issues is probably because the migration was interrupted.
Our migration library does not run migrations in a transaction, so if that happens the db is marked as "dirty" and requires manual intervention: https://github.com/golang-migrate/migrate/issues/282
The likelyexplanation steps:
[code]

[2020-10-01 07:40] cammellos commented on #11249
We probably want to address this at the UX level, and at the very least provide a build to "fix" the issue (not through playstore), also worth maybe looking into making migrations run in a transaction if that's feasible, as we already have our own fork of golang migrate, so that if whatever reason the migration fails, no changes will be made and the database will be restored to pre-migration state

[2020-10-01 07:54] cammellos commented on #11249
Another thing we want to do if we can't run all the migrations in a single transaction (that'd be ideal), is to run each single migration in a transaction, so that we can safely "force" the version in special builds that will fix the issue.

[2020-10-01 08:05] hesterbruikman opened #11251 "Show informative loading state UI depending on system state"
# Problem
Related to https://github.com/status-im/status-react/issues/11249#issuecomment-701951296

When migration is interrupted it can fail. Migration can take long when a lot of messages are stored. The UI does not inform the user that a migration is ongoing and shows a blank screen with spinner when `Save password` is enabled. Given the relative duration and lack of system state visibility, th

[2020-10-01 08:10] errorists commented on #11251
a text label under the spinner saying `Database migration in progress, this might take a while. Don't close the app`. I've seen such things previously in other apps like Sonos, I don't think it's a big deal to ask.

[2020-10-01 08:31] churik commented on #11249
So with history 10-30 Sept (couldn't fetch more because can't scroll to the beginning) in `status` and `support` channels, several 1-1 chats and 3 blocked users:
- login takes around 8s with fingerprint enabled

Please tell me if I can help somehow more, because I don't see another way now to reproduce the issue.

[2020-10-01 08:33] Jas0n-F commented on #11249
Exactly what @cammellos described happened to me.

I killed the app at approx 30 sec after spinner started. reopened and saw the same error message.
I had a number of messages, biometric enabled.

[2020-10-01 08:35] cammellos commented on #11249
thanks for the report @Jas0n-F , I am testing a fix, it might be a build you need to manually install as if not many users are affected we might not distribute through the play store. I will keep you updated.

[2020-10-01 08:36] Jas0n-F commented on #11249
No problem. For the record, I am running:
One Plus 5T
Android 8.10 / Lineage OS 15.1

[2020-10-01 08:57] gravityblast commented on #10973
@hesterbruikman I don't think the scan is already implemented but we could do it easily during the creation of the first account

[2020-10-01 09:00] cammellos commented on #10973
Looking at the designs, what happens if the user is offline on account creation (we need to be online to fetch funds/transactions)? Will he be given another chance to go through the process?

[2020-10-01 09:10] cammellos commented on #10990
It's not clear exactly what the requirements are, given that we don't currently have a chatbot, we should probably make those clearer and act on a separate issue, as first we should create a chatbot, deploy it, make sure it works fine for a period of time, and later eventually use it as a default onboarding chat for users.
@hesterbruikman or @AK87ST could you please create a separate feature for w

[2020-10-01 09:33] AK47Status commented on #10990
Sure! @hesterbruikman let me take care of this.

What I'm about to do is:
- (by Monday) create chatbot flow based on the contents Jonny created
- ... and deploy it with that flow (so we could start testing it)
- (on Monday) sync up with you @cammellos regarding technical aspects
- (on Tuesday) sync up with you @hesterbruikman on the progress

Cool?

[2020-10-01 09:37] gravityblast commented on #10973
good point @cammellos, if the user is offline we can't understand if other accounts have balance or txs.
but we store the BIP44 parent account, so in theory we could derive child accounts in memory and check them later when the user is online.

[2020-10-01 09:47] hesterbruikman commented on #10973
Does that mean that in theory we could do this in the background when the user comes online and prompt a notification like?:

'More accounts found'
Ignore / View

[2020-10-01 09:49] cammellos commented on #10973
Yes, that sounds feasible

[2020-10-01 10:27] churik commented on #11249
Thank you guys, I did manage to replicate it and it is not related to biometric-enabled. All is about the interruption of process  - testing fix currently

[2020-10-01 10:51] cammellos commented on #11249
This build should fix the issue if anyone wants to try it:

http://status-im.ams3.digitaloceanspaces.com/StatusIm-201001-085711-427368-release-universal.apk

[2020-10-01 10:52] churik commented on #11249
It was tested and works for me https://github.com/status-im/status-go/pull/2052#issuecomment-702052989

[2020-10-01 11:18] qoqobolo opened #11254 "Redundant ‘Notifications settings’ screen with toggle-buttons appears during Keycard onboarding on Android"
# Bug Report

## Problem

During registration new keycard multiaccount or recovering existing one there is an unexpected Notifications settings with toggle-buttons screen appears between the PUK code/Seed phrase screen and the Private notifications (with buttons) screen.

#### Actual behavior

![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/67952253/94801939-146dc900-03e7-11eb

[2020-10-01 12:28] StatusSceptre commented on #10990
Sounds good, thanks @AK87ST

[2020-10-01 15:09] hesterbruikman opened #11256 "Show Starter Pack pending 1:1 referral invite"
# Problem
When receiving a chat referral url (`https://join.status.im/u/chatkey?=invitecode`), the recipient can accept terms of the referral program to release a Starter Pack (and attribution to a referrer). Currently when the user taps Accept, there is no feedback confirming that a Starter Pack is released. As the transaction can take up to 30 min this can leave people confused about whether the

[2020-10-02 06:50] errorists commented on #10142
should be easy looking at the UI, just change the text label where it shows your wallet address inside the summary view to a list item button and follow it with the same bottom sheet we already use elsewhere (browser / referral flow) to choose one of your accounts.

<img width="452" alt="Screenshot 2020-10-02 at 08 49 23" src="https://user-images.githubusercontent.com/4932774/94895676-2d7c8580-048

[2020-10-02 07:34] flexsurfer commented on #11197
![image](https://user-images.githubusercontent.com/11790366/94898831-7cc5b480-0492-11eb-8d40-fb4bdb529b4d.png)
something wrong for sure

[2020-10-02 07:35] churik opened #11257 "Starter pack icons are not shown in 1-1 chat on "Accept" button in dark mode"
# Bug Report

## Problem

In a dark mode after redirecting to 1-1 chat when you proceeding referral link no icons are shown

![photo_2020-09-28_16 10 24](https://user-images.githubusercontent.com/4557972/94898813-78999700-0492-11eb-8711-cd49faf04d7e.jpeg)

[2020-10-02 09:39] flexsurfer commented on #11249
hey @tbenr 1.7.1 is out, could you try it ?

[2020-10-02 09:43] tbenr commented on #11249
@flexsurfer unfortunately I uninstalled\restored my account on a fresh 1.7 before opening this issue.. so i cant retest the same situation anymore.. but i upgraded 1.7 to 1.7.1 and went ok.

[2020-10-02 09:46] flexsurfer commented on #11249
ok, thanks

[2020-10-02 09:46] flexsurfer commented on #11249
hey @Jas0n-F how about you ? :)

[2020-10-02 09:54] qoqobolo opened #11259 "ENS mention is shown with stateofus.eth domain for the mentioned user in chat view"
# Bug Report

## Problem

If someone mentions a user with ENS name, the mention will be shown for the mentioned user with `stateofus.eth` domain (i.e. `dikhasi.stateofus.eth` instead of `@dikhasi`).

#### Expected behavior

ENS name is shown without `stateofus.eth` domain in mention.

#### Actual behavior

![Screenshot 2020-10-02 at 11 41 09](https://user-images.githubusercontent.com/67952253/9490

[2020-10-02 09:59] flexsurfer commented on #11259
thanks :)

[2020-10-02 12:43] hesterbruikman commented on #11237
WIP on [Figma](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8101%3A726)

Exploring options I found that the flow to migrate and reset password have overlap #10129

![Frame 161](https://user-images.githubusercontent.com/35233054/94924151-4d786d00-04bd-11eb-86df-f1458a0ed684.png)

@rasom Can you tell me more about this question:

[2020-10-02 12:54] rasom commented on #11237
sure

[2020-10-02 13:14] 3esmit opened #11261 "Wallet destination lookup accepts breakline"
# Bug Report

## Problem

The keyboard of "Escolher destinatário" accepts breakline.
![image](https://user-images.githubusercontent.com/224810/94926727-96b5c600-0497-11eb-8352-d36ee9bba388.png)

#### Expected behavior

Breakline is not accepted as character, instead, if a valid wallet is entered, it executes the action of "Done"

#### Actual behavior

Breakline is accepted and messes up stateofus.

[2020-10-02 13:26] 3esmit opened #11262 "Wallet "Done" and "Add to favorites" only appears when the input box is focused"
# Bug Report

## Problem

When entering a value in the Recipient address, the buttons "Done" and "add to favorites" display.
![image](https://user-images.githubusercontent.com/224810/94927807-290a9980-0499-11eb-8413-655e299d6762.png)

But when  the input element losses the focus, the buttons disappear.

![image](https://user-images.githubusercontent.com/224810/94927778-1e500480-0499-11eb-9b69-138b

[2020-10-02 13:29] 3esmit opened #11263 "Entering "0x" in the Recipient throws an error"
# Bug Report

## Problem

![image](https://user-images.githubusercontent.com/224810/94928394-ff05a700-0499-11eb-9b21-bee3f8f2431b.png)

### Reproduction

- Log in to a Status Account
- Go to Wallet
- Press in the blue arrow
- Choose Recipient
- Type 0x

### Additional Information

 Status version: 1.7
- Operating System: Android

[2020-10-02 13:35] flexsurfer commented on #11262
as designed @errorists

[2020-10-02 13:37] flexsurfer commented on #11262
actually i reopen it, because i agree hiding done button makes things more dificult in code and in the UI

[2020-10-02 13:38] qoqobolo commented on #10242
This behavior was found: right after installing the app assets aren't resolved in the Wallet. Existing assets do not appear in the list until they are manually added, and their actual amount is only updated after re-login. SNT is shown in the list but its amount is also updated only after re-login.

It is likely that after adding item 3 of https://github.com/status-im/status-react/pull/11102#issue

[2020-10-02 13:48] 3esmit commented on #11262
I got totally lost by the missing "Done" button...

[2020-10-02 13:57] 3esmit opened #11264 "Using QRCode to scan a contract address does not rise a warning"
# Bug Report

## Problem

As @churik mentioned, the PR #11204 is only for "pasting in the field of receipient".
I think is important to detect in any situation, for example, using qr code scanner to make this mistake is a possible scenario:
1. a user coming from bitcoin (thinks that only transfer exists);
2. reads about some protocol in his news feed; search more in the internet and ends up in the

[2020-10-02 13:57] 3esmit commented on #11136
https://github.com/status-im/status-react/issues/11264

[2020-10-02 14:11] 3esmit opened #11265 "Recent Recipients show addresses of DApps"
# Bug Report

## Problem

I used Gitcoin and now at my recent Recipients addresses the Gitcoin address appears.

#### Expected behavior

Only show recent receipients that have codesize = 0 (not a contract address), because contracts usually need data to be sent.

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

#### Notes

This is relat

[2020-10-03 06:51] flexsurfer commented on #10560
it doesn't work on modern phones like samsung s10 with android 10

[2020-10-05 00:02] 3esmit commented on #11210
I defined an informational standard to this functionality, so other wallets can also implement this, if they wish so. https://github.com/ethereum/EIPs/pull/3023

I am also creating a powerful script that can connect to a full node and find all user wallets based on a combination of function signatures on the contract code, to then register on this standard in https://github.com/status-im/walletcon

[2020-10-05 01:14] 3esmit opened #11268 "Forbidden users to send an ERC20 to the ERC20 token contract address itself"
# Feature Issue

Prevent one of the most common mistakes in ERC20 newbies, sending (burning) their tokens while trying to paste the ERC20 token in the wallet configuration.

### User Story

As a user, I don't want to burn my tokens, and I expect the wallet software to forbid me to do such a mistake.

### Description

This issue is part of the #11136 effort.

While the warning should prevent most e

[2020-10-05 06:06] flexsurfer opened #11269 "Do not show zeros for wallet balances if they aren't loaded yet"
# Bug Report

## Problem

Currently, after sign-in zeros are shown for all token balances

#### Expected behavior

Loading indicator or any over indicator should be shown

[2020-10-05 06:14] flexsurfer opened #11270 "Inject infura token for release in CI"
# Bug Report

## Problem

Currently develop token is used for release builds, and because its open anyone could use it in their project and exceed rate limits

#### Expected behavior

Infura token isn't open

[2020-10-05 08:05] errorists commented on #11262
❤️  thanks for the feedback, I agree, let's keep the toolbar on when the input is not empty

[2020-10-05 08:38] jakubgs commented on #11270
Here's the logic for picking which Infura token to use in Jenkins:
https://github.com/status-im/status-react-jenkins/blob/ef72482c99799206230c9665129a8cd585ce0624/vars/utils.groovy#L206-L216
And based on release build logs we pick the right one:
[code]
https://ci.status.im/job/status-react/job/combined/job/mobile-android/13128/consoleFull

And we have verified that `infura-release-token` is indeed

[2020-10-05 08:55] qoqobolo opened #11271 ""Won't fix" issues (to be updated)"
* [ ] **ISSUE 1 - If shift the focus to the beginning of the amount on the Send transaction view and try to correct it (e.g. delete first char), new chars will be shifted off the screen.**

**Operating System:** iOS

![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/67952253/94944068-ff716280-04d8-11eb-888c-2df07666f855.gif)

- - -
* [ ] **ISSUE 2: Animation of the "Copied" mess

[2020-10-05 09:35] errorists commented on #11269
<img width="312" alt="Screenshot 2020-10-05 at 11 33 31" src="https://user-images.githubusercontent.com/4932774/95063437-9b2fe800-06fe-11eb-93bc-01509d1ff82a.png">

I believe the idea was to use the same loading indicator as we do for refresh / pull to refresh gesture, to indicate that the current state is temporary and pending update

do you guys want something more specific like actually _not_ s

[2020-10-05 09:38] errorists commented on #11269
A nice alternative to indicate a state that data hasn't finished loading yet, are [skeleton screens ](https://www.smashingmagazine.com/2020/04/skeleton-screens-react/)

[2020-10-05 18:17] John-44 commented on #11269
+1 on skeleton screens for content on a screen the user has navigated to that isn't loaded yet (like this usecase).

[2020-10-06 07:29] cammellos commented on #10242
@johnlea-quiup could you have a quick look at this please?
Do these designs align with the wallet updates your are planning https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4183%3A1914 ?
If so, how much is the overlap, is there something we can work on that will not have to change?

Thank you

[2020-10-06 07:45] errorists commented on #10242
Just to chime in with what I've discussed with Gheorghe in DMs, the user expectation of a pull to refresh gesture is that's it's a quick action that does fetch new values for data present on the screen. We shouldn't add expensive operations that might prolong it and break that expectation. So, a refresh action should involve fetching new balance values for current tokens and their fiat conversion

[2020-10-06 09:01] cammellos commented on #11249
This has now been fixed with 1.7.1 hotfix, will close for now, sorry for the inconvenience and thanks for the your patience.

[2020-10-06 09:01] #11249 closed, assigned to churik

[2020-10-06 09:18] #11228 closed, assigned to cammellos

[2020-10-06 10:09] John-44 commented on #10242
@cammellos pull to refresh works with the new wallet design updates.

I also agree with @errorists 's point above, pull to refresh shouldn't be extended to include longer running operations.  Ideally we don't want the refresh duration to last longer than roughly 3 seconds, and quicker is better.  Longer than 3 seconds and the app will start to feel 'slow' to the user, and after a longer delay a us

[2020-10-06 14:31] errorists opened #11278 "Include an image and copy in the iOS app switcher preview"
### Description

Scope of this issue is to include an image and a text label, which tells why we obfuscate the preview and make it appear nicer than an empty rectangle of nothing, when viewed next to other app previews.

![Group 45](https://user-images.githubusercontent.com/4932774/95215085-e3c7ce00-07f0-11eb-999c-35d8269a35d4.jpg)

👉 [Design in Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vS

[2020-10-06 21:30] cammellos commented on #11270
We verified this is working

[2020-10-06 21:30] #11270 closed, assigned to jakubgs, flexsurfer

[2020-10-07 08:39] cammellos commented on #10242
I am not quite sure how it works now, I would have to check, but for the purpose of this task, we can just work on the UI side and trigger a reasonable action from the backend (taking into account the considerations outlined above), and we can always swap out the action at a later time I guess, to do more or less work.

[2020-10-07 10:55] cammellos opened #11280 "Allow user to select a profile picture from gallery"
https://github.com/status-im/status/issues/4

As a user
I want to be able to select a profile picture from gallery
So that it can be seen by other status users when chatting with them

### Description

The user should be able to select a picture from gallery (which format do we want to support), which will be selected as their profile picture.
This picture should be shown in chat/profile/all the r

[2020-10-07 10:57] cammellos opened #11281 "Allow user to set profile picture from camera"
https://github.com/status-im/status/issues/4

As a user
I want to be able to take a picture from camera
So that it can be seen by other status users when chatting with them

Description
The user should be able to take a picture from camera (which format do we want to support), which will be selected as their profile picture.
This picture should be shown in chat/profile/all the relevant places.

ht

[2020-10-07 10:58] cammellos opened #11282 "Allow user to crop profile picture"
As a user
I want to be able to crop a profile picture
So that it can be nicely shown to other users

Description
The user should be able to crop an image as per designs, which will be selected as their profile picture.
This picture should be shown in chat/profile/all the relevant places.

https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=510%3A3116

[2020-10-07 11:56] Samyoul commented on #11280
Add 5 to the estimate to handle https://app.zenhub.com/workspaces/status-mobile-5729dbcd8c3f63656a8f6eaa/issues/status-im/status-react/11282

[2020-10-07 11:56] Samyoul commented on #11281
Add 5 to the estimate to handle https://app.zenhub.com/workspaces/status-mobile-5729dbcd8c3f63656a8f6eaa/issues/status-im/status-react/11282

[2020-10-07 12:04] Samyoul commented on #11282
Ideally we want to only select the cropping coords (x, y and dimensions) and pass filename and coords to `status-go`, this ensures that the cropping will be handled consistently across all clients.

See [Discord#profile-pics chat](https://discordapp.com/channels/624205794384281629/748581152843104326/763354618523680778) we estimate that selecting the coords only is technically possible in mobile.

[2020-10-07 16:40] Serhy opened #11283 "Blank view when open yearn.finance in Status WebView"
# Bug Report

## Problem
The https://yearn.finance shown blank view when open in Android/iOS browser.

#### Expected behavior
https://yearn.finance content is shown in Webview

#### Actual behavior

Blank view:

<img width="247" alt="Screenshot 2020-10-07 at 19 32 14" src="https://user-images.githubusercontent.com/8749671/95360276-d5061780-08d3-11eb-8de0-4f1ce1de9755.png">
### Reproduction

[comme

[2020-10-07 17:44] #11262 closed, assigned to flexsurfer

[2020-10-07 17:44] #11263 closed, assigned to flexsurfer

[2020-10-08 07:10] flexsurfer commented on #11283
status doesn't support `window.ethereum.on("accountsChanged"`
`on` is undefined

[2020-10-08 10:16] #11283 closed, assigned to flexsurfer

[2020-10-08 19:57] cammellos commented on #6375
There's an update, someone wrote a PR for Android, and there's an implementation that can be used https://github.com/facebook/react-native/pull/29466#issuecomment-664367382 , apparently it still has some issues, but might be worth a try.

[2020-10-09 14:14] #10560 closed, assigned to vitvly

[2020-10-09 19:06] fredbuluku commented on #6026
I have an issue with circle USDC,no one in customer care is responding back to my questions,where else can get help?

[2020-10-13 07:40] 3esmit commented on #10809
@hesterbruikman I am experiencing this bug. I am developing a DApp, currently only running on testnet, and the events are not appearing.

To test it, go to ropsten and load `teste123.eth`. The footer have a blocknumber, which does not update. In metamask it updates, try changing metamask to Ropsten and load https://dweb.link/ipfs/bafybeig57dtxm6huqm55zwzmkgnsdgewj4adj4nnhd4h67ma4tcesvbjli/

This w

[2020-10-13 07:58] cammellos opened #11290 "Increase private group chat size to 20"
As a user
I want to be able to add more than 10 people to a group chat
So I can chat with more people in a single place

### Description
Currently the limit is set to 10, it should be increased to 20, and verified that performance sending messages is acceptable on slow devices.

[2020-10-13 07:59] 3esmit opened #11291 "Canceling Biometric popup saves the password without asking for biometrics"
# Bug Report

## Problem

If I mark to save the password, it prompts me for biometric saying that is necessary to enable it, but this is not true. Canceling it does not uncheck the save password, and password is not requested in the next login.

#### Expected behavior

Save password is only enabled with biometric is enabled.

[2020-10-13 08:25] flexsurfer commented on #11291
it's confusing for sure, but it works as designed

[2020-10-13 08:38] cammellos commented on #11291
If it's by design I'll close this one, we can probably have a chat with UX if you feel that the UX should be changed

[2020-10-13 08:38] #11291 closed, assigned to nobody

[2020-10-14 09:37] churik commented on #11192
Looks good to me. Tested on Android 10 and IOS 13 in 1-1, public chats with different markdown.
Aldo found that markdown with * and ~ is not applied to messages with mentions but I believe it is small issue which will be marked an `won't fix`, so I'll add it to https://github.com/status-im/status-react/issues/11271

[2020-10-14 12:54] Serhy opened #11297 "iOS crash with 'toggleWebviewDebug is not a function' when logout"
# Bug Report

## Problem

On iOS when logging out of account Status crashed with 'toggleWebviewDebug is not a function' error.
All fine on Android

#### Expected behavior
No crash when logging out of account

#### Actual behavior
When logout on iOS:
<img width="142" alt="Screenshot 2020-10-14 at 15 49 35" src="https://user-images.githubusercontent.com/8749671/95990983-e2bc1f80-0e34-11eb-8aa9-d9fd8

[2020-10-14 15:02] churik opened #11299 "Endless loading on transaction history and ... balance on assets on nightly and PRs builds"
# Bug Report

## Problem
Currently, balance and transaction history is not fetched in nightly and PRs builds on mainnet.
However, on e2e builds on Ropsten network balance and transaction history are fetched.

#### Expected behavior
assets are fetched

#### Actual behavior
![IMAGE 2020-10-14 16:57:06](https://user-images.githubusercontent.com/4557972/96006933-4ac33380-0e3e-11eb-8e50-6a5de24a943a.jp

[2020-10-14 15:28] cammellos commented on #11299
We are using the infura dev token for these builds, that's likely the issue, as they get rate limited. Maybe worth to restore the old tokens, but we'd be taking away quota from production effectively.

[2020-10-15 09:04] churik commented on #7090
Agree, very edge case.
Mentioned in #11271

[2020-10-15 09:04] #7090 closed, assigned to nobody

[2020-10-15 09:05] churik commented on #3175
not relevant anymore

[2020-10-15 09:05] #3175 closed, assigned to nobody

[2020-10-15 09:47] churik commented on #10994
Don't agree, it is not common case but definitely very strange behaviour that can cause more issues

[2020-10-15 09:49] churik commented on #11071
Moved to #11271

[2020-10-15 09:49] #11071 closed, assigned to nobody

[2020-10-15 09:50] churik commented on #11075
Moved to #11271

[2020-10-15 09:50] #11075 closed, assigned to nobody

[2020-10-15 09:52] churik commented on #11098
better just don't display fiat value for such cases, to display 0 is not user-friendly from my POV and should be fixed

[2020-10-15 09:53] churik commented on #11100
Let's have @errorists eyes on it.
@errorists if you think that looks fine, please close the issue.
Thanks!

[2020-10-15 11:53] #11290 closed, assigned to cammellos

[2020-10-15 11:58] #11297 closed, assigned to nobody

[2020-10-15 12:17] cammellos commented on #11192
Closing this one then, thank you!

[2020-10-15 12:17] #11192 closed, assigned to rasom

[2020-10-15 12:18] cammellos commented on #11190
@churik I believe this has been fixed, is that correct?

[2020-10-15 12:21] churik commented on #11190
Not sure, let me recheck

[2020-10-15 12:39] #11190 closed, assigned to vitvly

[2020-10-15 14:01] guylouis commented on #10973
it means we keep m/44'/60'/0' or m/44'/60'/0'/0 public key in the app memory for keycard multi-accounts right ?

[2020-10-15 14:31] errorists commented on #11100
It's temporary, the idea is to remove timestamps from messages entirely and [have them show up on tap or gesture only.](https://github.com/status-im/status-react/issues/10734) So while I agree it's imperfect, I think it's something we can live with. For a quick fix, I'd hide the duration of the audio message since it's really not that important: the audio is already downloaded, if you feel like it

[2020-10-15 14:56] churik commented on #11100
so can be closed then for now, thank you!

[2020-10-15 14:56] #11100 closed, assigned to nobody

[2020-10-15 16:20] jakubgs commented on #11220
What happened to the idea that I believe Andrey proposed to make channels like that using ENS names?

Something like `status.eth#standups`?

[2020-10-15 16:25] cammellos commented on #11220
We can use ENS names (currently the cost is just not feasible), but we are not limited to it, this is part of the communities/org channel effort  https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=15316%3A0 as underneath it will use that mechanism.

We can still attach an ENS name to a particular community and list of channels, to make discovery easier. (i.e we are going to be workin

[2020-10-15 16:28] jakubgs commented on #11220
I understand why ENS would be not feasible for just normal chatting. But why not for a broadcast channel?

If you are a company or someone with wider reach that wants a read-only announcements channel a few bucks isn't much.

[2020-10-15 20:10] gravityblast commented on #10973
@guylouis for keycard we can't extract that key if you already have a card initialized though.
Instead if the current Status installation is importing a key into the card, yes we could keep in memory an extended public key that allows us to derive child public keys and addresses.

[2020-10-15 20:12] gravityblast commented on #10973
because a normal public key wouldn't be enough, we need an extended public key to derive child public keys.

[2020-10-16 05:00] guylouis commented on #10973
@cammellos
I guess one point to clarify to do this scanning of m/44'/60'/0'/0/i accounts in the background is wether we have
- for regular accounts
- for keycard accounts
what's needed (I guess it's at least m/44'/60'/0'/0 extended public key) to derive the public addresses and scan **without asking the user a password (regular m.account) or a keycard tap (keycard m.account)**

[2020-10-16 10:13] #11035 closed, assigned to nobody

[2020-10-16 12:40] #10776 closed, assigned to Ferossgp

[2020-10-16 13:27] 3esmit commented on #11189
Notice, I changed the way the ENS Registry is read to figure out the address of payment contract. This was done to support https://github.com/status-im/ens-usernames/issues/108.
With this, the Address Resolver of `stateofus.eth` is set to the Payment Contract, and the owner of `stateofus.eth` is the Username NFT address (that would be handling the ENS functions).

For this to work, we need to conf

[2020-10-16 13:54] #11041 closed, assigned to flexsurfer

[2020-10-16 17:13] 3esmit commented on #10036
@hesterbruikman community is requesting it https://twitter.com/FrancescoRenziA/status/1317066525514358786

[2020-10-19 08:01] hesterbruikman commented on #10036
Crosslinking #11124 . There's a dependency to the token list we use and how it's maintained

[2020-10-19 12:14] churik opened #11305 "Endless progress bar when connecting when coming back from offline mode"
# Bug Report

## Problem
Endless progress bar and messages are not fetched when application is back from offline mode.
Issue is gone after relogin.

#### Expected behavior
"Connected" and no progress bar after coming back from offline, messages are fetched

#### Actual behavior
"Connected" and endless progress bar (waited for ~4 mins)
![IMAGE 2020-10-19 14:09:15](https://user-images.githubusercont

[2020-10-19 12:17] Ferossgp commented on #10036
`EIP-747` specifications allow the caller to set assets as an image link. This could be a Privacy problem in case the server which distributes the image will use that image as a "Web Beacon" tracking. I think this could be handled by us differently from specification, or we can propose changes to spec to ensure privacy.

[2020-10-19 12:43] cammellos commented on #11305
The issue seems to be that after going online we don't actually make a request

[2020-10-19 13:00] cammellos commented on #11305
The issue is that a request is not cleaned up when we come back from online/offline, and therefore it gets stuck

[2020-10-19 13:21] 3esmit commented on #10036
Implementation discussion: https://ethereum-magicians.org/t/eip-747-wallet-watchasset/1048

[2020-10-19 14:07] #11305 closed, assigned to cammellos

[2020-10-19 14:19] qoqobolo opened #11309 "Empty message bubbles on iOS in 1-1 chat after sending the app to the background from User Profile, and after blocking user in public chat."
# Bug Report

## Problem

If start 1-1 chat, open User Profile, send the app to the background, reopen the app, and tap "back" to return to the chat view, some message bubbles in chat history will be empty. Text appears after scrolling.
Also the issue is reproduced for public chat after blocking some user.

#### Expected behavior

Text doesn't disappear from the bubbles after sending the app to th

[2020-10-20 07:40] cammellos commented on #10771
Is this still an issue @churik ?

[2020-10-20 07:41] cammellos commented on #10957
@Ferossgp is this still an issue?

[2020-10-20 07:47] cammellos commented on #11237
@hesterbruikman the designs looks good to me, the only thing is that if you want to keep the user data, you will need to ask them for their current password, otherwise we won't be able to migrate the data. @rasom correct me if I am wrong

[2020-10-20 08:14] rasom commented on #11237
@cammellos sure, we would need to have an old password in order to decrypt an existing database

[2020-10-20 11:19] flexsurfer commented on #11224
couldn't replicate on the PR build, but on nightly it's still can be replicated :(

[2020-10-20 12:24] churik commented on #10771
Yes, still an issue on my account.
@Serhy can you recheck please?
![BAACAgQAAxkBAAEsfQhfjtY7WBAyZXJyRPEvtaxipZAQdAACAg0AAlB3cVA1qJ7DcgilohsE_1603196511 43](https://user-images.githubusercontent.com/4557972/96585403-da099480-12df-11eb-943f-503974c52d39.gif)

[2020-10-20 12:41] rasom commented on #11189
@3esmit
`ensRegistry.resolver(namehash("stateofus.eth"))` returns `0x0000000000000000000000000000000000000000`, am I missing something here?

[2020-10-20 13:00] rasom commented on #11189
ok, probably I just have to learn how to read

[2020-10-20 13:54] cammellos opened #11312 "Move e2e tests to goerli, running our own node"
As a developer/tester
I want to run tests against our own node on the goerli network
So that we don't burn through infura allowance

### Notes

* [ ] run our own synced node and expose it so that sauce lab can hit it
* [ ] recreate simpledapp.eth om goerli with the same actions it has on ropsten now
* [ ] to have working ENS names on Goerli
* [ ] made 1-1 commands on e2e builds to work on ropsten

[2020-10-20 14:25] Ferossgp commented on #10957
@cammellos yes, with my latest solution @Serhy mentioned that it was still slow on low-end devices

[2020-10-20 15:19] cammellos commented on #11312
Thanks to @3esmit !
# Goerli Status Network:
STT Faucet: 0x2B3845b982B147A0436e3766EAE06936f4E271a0
STT Token: 0x86e5C5c884740894644dAD30021aAaAdE2B7bAbd
ENS Usernames: 0x03B1AC956f4D80cFBBF50d9641a310f2c84Ef574

# Sticker Market system:
Sticker Market: 0x6CC7274aF9cE9572d22DFD8545Fb8c9C9Bcb48AD
Sticker Pack NFT:  0xf852198D0385c4B871E0B91804ecd47C6bA97351
Sticker Type NFT: 0x8cc272396Be7583c65BEe

[2020-10-20 15:58] 3esmit commented on #11189
@rasom I'll request the change of this parameter in mainnet.

[2020-10-20 16:23] 3esmit commented on #11189
@rasom It's not possible to change the resolver due ENS bug Migration. Therefore I am changing this issue to use `ensRegistry.owner(namehash("stateofus.eth")) `, which was the original idea.

Sorry for the inconvenience. I added a code-suggestion to your PR that will use owner instead of resolver.addr.

[2020-10-21 09:19] churik commented on #10786
Closed with "Scan tokens" button in wallet

[2020-10-21 09:19] #10786 closed, assigned to nobody

[2020-10-21 09:59] Serhy opened #11317 "It's possible to join public chat with capital letter via tag in message"
# Bug Report

## Problem
It should not be possible to join public chat if it has capital letter in name. And it's the case when joining from (+) -> Join public chat menu and deep link. But not the case when in message tag has capital letter.
We need to eliminate markdown of tags in chat if tag has capital letters.

#### Expected behavior

No way to join public chat via tag in message if the tag ha

[2020-10-21 11:45] #11189 closed, assigned to rasom

[2020-10-21 14:17] guylouis commented on #11237
In theory there are 4 cases where the seed entered by the user is already in use on the phone
where the seed is stored -> where the user decides to migrate it
1. phone -> phone: that's a password reset
2. phone ->keycard: that's the phone to keycard migration
3. keycard -> keycard
4. keycard -> phone

'1.' and '2.' are tackled above. For 3. and 4. we should define what we do.

I think 3. and 4. co

[2020-10-21 15:31] hesterbruikman commented on #11237
- 1 & 2. - Currently covered. After a review with @johnlea-quiup decided to separate these two cases after all. So no single `Reset` flow, but a separate `Reset password` flow. Where `Reset password` is accessed through settings and `Change profile storage` is accessed through settings or adding the seed of an existing multiaccount.

- 3 - Agree, in the UI this should be naturally handled when cho

[2020-10-21 18:15] hesterbruikman opened #11319 "Open chat where user is mentioned on PNs"
# Feature Issue
Open chat where user is mentioned when opening chat from mention notification

### User Story
As a user I want to open the relevant chat where someone mentioned me when I tap on the mention notification, because I want to easily find and see the message and context in which someone mentioned me

### Description
When tapping on mention notification, app is opened, after log in, chat

[2020-10-22 09:20] cammellos commented on #11236
@hesterbruikman @errorists are you going to provide designs for this issue?
thanks!

[2020-10-22 09:25] churik opened #11323 "Turn off "Block screenshots" by default in nightly and PRs build"
# Bug Report

## Problem
"Block screenshots" by default totally makes sense in release builds, but it slows down taking screens directly in nightly-PRs builds.
Shouldn't be difficult to disable it by default in these build types, but it will speed up getting useful info for issues and make easier testing work.

#### Expected behavior
"Block screenshots" is turned off by default

#### Actual behavi

[2020-10-22 12:27] errorists commented on #11236
[Design reusing parts already found in Group Chats](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=17439%3A25). @hesterbruikman we need something for the grey copy there though or should I remove it entirely?
also I think I'd prefer if you landed on this view rather than on the list to open the chat for yourself

[2020-10-22 13:09] churik commented on #11323
@flexsurfer ❤️

[2020-10-22 16:13] Serhy opened #11328 "ENS usernames disabled while user is on Mainnet"
# Bug Report

## Problem

It's not possible to proceed to create ENS name from Profile view because 'ENS usernames' is disabled showing 'Only available on Mainnet' while user is already on Mainnet
Also present in https://github.com/status-im/status-react/pull/11322
#### Expected behavior

Can proceed to add ENS name from Profile

#### Actual behavior

<img width="256" alt="Screenshot 2020-10-22 at

[2020-10-23 07:56] #11317 closed, assigned to rasom

[2020-10-23 08:07] #7788 closed, assigned to rasom

[2020-10-23 08:07] #11328 closed, assigned to rasom

[2020-10-23 08:37] cammellos commented on #11237
I won't attend today's meeting as I am off,
on my side it looks good now that we are asking the user's password.
In general, I would split the features though:

- First we can have the user move the account to keycard without moving the data (i.e data will be reset), so we can focus on the mechanics of moving keys over/deleting keys
[code]
- Later we can have the move data feature
[code]

Of cours

[2020-10-23 10:10] guylouis commented on #9229
would be great to progress on this
 @johnlea-quiup
wdyt about the UX ?

[2020-10-23 12:45] cammellos commented on #11299
This should now be fixed, we reverted the change back to the old token, PRs need to be rebuilt

[2020-10-23 14:56] hesterbruikman commented on #11236
+1

I'd remove it. However in case of a community chat, we might show the channel description. Does that make sense? If so, can you add a variation in case of deeplink to a community chat

[2020-10-23 16:44] rasom opened #11332 "Всякие баги"
For those who are wondering: that's an issue where I'm trying to collect some complaints from one person from #status-russian pubchat. They don't have GH account nor are able to file issues in English.

pubchat history issue https://github.com/status-im/status-react/issues/10362

[2020-10-23 19:07] bgits opened #11333 "personal_sign method does not work in status"
# Bug Report
Using the `personal_sign` method does not seem to work within Status while it works from web3 wallets.

## Problem
Using the personal sign method fails to trigger a populated dialog that can be signed by the user.

An overview of the background required to understand the problem.

Attempting to use snapshot.page we discovered that Status is the only wallet unable to sign messages for

[2020-10-23 19:16] rasom commented on #11332
https://github.com/status-im/status-react/pull/11353

[2020-10-23 21:44] danfinlay commented on #10036
I totally agree that a CID is better, so if you want to go that path, my request would be that Status implements a version that can be compatible with the current http-based method that MetaMask is using.

For example, maybe just a type prefix for the `image:string` parameter:
[code]

This would allow you to only support `cid:` if you want, and MetaMask can then introduce compatible support with y

[2020-10-24 12:10] rasom commented on #11332
https://snatchapp.me/

У него ГУЙ андроида только англ и испанский, а я захожу в гугл-маркет с московского IP - мож тут и перекашивает?

а эти - попадают, но при попытке установить апдейт - снова отказ

[2020-10-24 12:11] rasom commented on #11332
но нет самой фичи "заметка про меня самого"
М.б. это было не нужно ни для чего - но для групповухи это очень полезно, чтобы не вспоминать какой у меня собственный ник, если я кого-то еще не "озаметил" но он есть в групповухе

тогда я вспомню и добавлю

[2020-10-24 12:13] rasom commented on #11332
https://www.sqlite.org/lang_vacuum.html

[2020-10-24 12:19] rasom commented on #11332
![IMG_9537](https://user-images.githubusercontent.com/2364994/97081626-45b76e80-160c-11eb-94e9-c7105de805b8.JPG)

[2020-10-24 12:20] rasom commented on #11332
QR-code
НЕ фокусируется == а потому и НЕ работает
картинка вытянута == явно НЕ квадратная
ХОТЯ
при использовании камеры == вызове ее НЕ из Статуса
картинка НЕ вытянута,
а фокусировку сравнивать тяжело, потому что камера все-таки говно

QR-code + camera "для андроид-8" и именно в Статусе = что-то "явно не так" или "нехорошо"

но они на уровне совсем мелких придирок и артефактов отрисовки -
имхо это

[2020-10-26 10:25] flexsurfer commented on #11333
so there is the error `ReferenceError: Can't find variable: web3` , status doesn't inject web3 library , it's not related , `personal_sign` works in status

[2020-10-26 11:03] #11323 closed, assigned to flexsurfer

[2020-10-26 11:20] bgits commented on #11333
Another way to recreate the error is using snapshot which is the primary use case that is being blocked by this issue now. It does trigger the signing box but it is empty.

You can recreate this error by going to:

https://demo.snapshot.page/#/status/create

and attempting to publish a poll by filling in all the fields.

[2020-10-26 12:25] flexsurfer commented on #11333
@bgits thanks, i filled all fields but publish is gray still any advice ? probably network ? thanks

[2020-10-26 12:31] flexsurfer commented on #11333
@bgits it seems you're trying to sign typed data ? in that case you have to use a different method `eth_signTypedData_v3`

[2020-10-26 16:49] danfinlay commented on #10036
Oh, one more proposed improvement to EIP-747 to facilitate cross-format support (and graceful migration):

I propose the type of the `image` param is `string | string[]`:
- If the param is a `string` it will use the segment before the `:` to identify the content type.
- If the param is a `string[]`, the user's wallet MAY prefer the earliest listed item it is able to retrieve. (Or prefer another fo

[2020-10-26 19:57] bgits commented on #11333
Here is another test: trying to sign both a plain text string and typed data works using metamask but neither works in Status.

https://gateway.pinata.cloud/ipfs/QmckPsNLbGSQjTTAwchqyrUrG7FwnrhdHsJh5n7gMn9ykV/

[2020-10-27 06:43] cammellos opened #11335 "[Spike] Use Pokt network as an infura replacement"
As a developer
I want to use Pokt instead of Infura
As I want to use decentralized technologies

### Description

Assess the viability of using https://www.pokt.network/ as an infura replacement

We should start from using their gateway, and making sure that the app works as expected, later, we can move to https://github.com/status-im/status-react/issues/13591

[2020-10-27 06:45] cammellos commented on #11335
I have created an application on https://dashboard.pokt.network/
Selected the ethereum mainnet and mainnet archival, testing their gateway as it should be just a swapping of the URLs.
I have plugged in the archival URL in the application, and basic functionalities seems to be working, but I am currently not able to retrieve transaction history.

It fails with:

[code]

Investigating

[2020-10-27 06:46] flexsurfer commented on #11333
in this example sign message doesn't work because it uses eth.sign which is not supported, and for typed data it uses `eth_signTypedData_v4` and status doesn't support it, we could add support for it if needed

[2020-10-27 06:47] flexsurfer commented on #11333
do you know what's the difference between v3 and v4 and why you can't use v3 ?

[2020-10-27 08:15] flexsurfer opened #11336 "Sync nicknames between devices"
### User Story

As a user i would like nicknames synced between my devices

[2020-10-27 10:09] qoqobolo commented on #11309
One more case.
It is reproduced ~10% of cases in Nightly and 100%  in [#11260](https://github.com/status-im/status-react/pull/11260).

_Steps:_

Device 1:
- Start **1-1 or group chat** with iOS Device
- Send several messages

Device 2 (iOS):
- Open chat with Device 1
- Tap `Back`
- Open chat with Device 1

As #11260 is almost ready for the merge, probably it would be important to fix this issue fo

[2020-10-27 10:35] bgits commented on #11333
It's being used because that is what ethers.js exposes. It does not exposes any other typed signer.

[2020-10-27 10:40] bgits commented on #11333
I don't believe the error is due to typed data. The data being sent over is a JSON to sign but not typed data. Furthermore I created an additional test to use the same `personal_sign` method with a string and it produces the same error in Status.

updated test can be found here: https://gateway.pinata.cloud/ipfs/QmXECbBSchgQja9VQAqQopNTMwtwKcF46BEWrCgkfTJYGN/

[2020-10-27 10:54] flexsurfer commented on #11333
we expect the message as a hex for  `personal_sign` method

[2020-10-27 10:56] flexsurfer commented on #11333
eth_signTypedData_v4 https://github.com/status-im/status-go/issues/2062

[2020-10-27 11:01] bgits commented on #11333
This is problematic because the user will not be able to understand what they are signing. How would signing status principles work for example?

This is also not consistent with how other wallets handle it.

[2020-10-27 11:04] cammellos commented on #11309
We should probably fix or at least make sure is not worse in #11260 before merging, we can add it to 1.9 scope, thank you

[2020-10-27 11:08] flexsurfer commented on #11333
we convert it to a string, all dapps sign fine in status, CK and others

it works according to spec in status https://github.com/ethereum/go-ethereum/wiki/Management-APIs#personal_sign

[2020-10-27 11:16] StatusSceptre commented on #11197
Likely related issue was reported by @fizzgig

### Issue
- Mailserver syncing issues (blue bar at the top)
- Battery drain
- By recollection ca. 2x in the past 6 weeks

#### Details
- Release 1.8 (Android)
- App in background
- No notifications enabled
- 4-5 private chats, no public chats
- Mailserver usually auto selects to Hong Kong

### Next step
Compare performance of build without mentions to

[2020-10-27 11:26] flexsurfer commented on #11309
fixed in https://github.com/status-im/status-react/pull/11260

[2020-10-27 11:53] hesterbruikman opened #11337 "Rename mailserver to history node"
# Problem
Release 1.7 introduced the name `history node` in a new feature to disable connecting to a history node (a.k.a. mailserver). The name needs to be updated in several places:

* [ ] Settings > Sync settings
* [ ] Glossary
* [ ] FAQ (https://status.im/faq/)
* [ ] Security content (https://status.im/security/)
* [x] Set up node docs

## Implementation
Update Mailserver to History node

## Ac

[2020-10-27 14:12] bgits commented on #11333
I don't see anything in the spec that requires the message to be in hex. This is consistent with how every other wallet is handling it.

[2020-10-27 14:15] bgits commented on #11333
This is not true. This issue is open because https://snapshot.page/ does not sign in status while it does work with other wallets.

This is the most used voting dapp and we have been trying to use it with Status and are blocked by this.

[2020-10-27 14:35] flexsurfer commented on #11333
then we need to implement something similar to https://github.com/MetaMask/metamask-extension/pull/1177

[2020-10-27 14:37] bgits commented on #11333
It also does not display hex as a string to the user. https://gateway.pinata.cloud/ipfs/QmVjDxwxTN4zDPDp9NzzANEEp5pUhNzKGUjHXFD9Sf1MRw/

[2020-10-27 14:44] flexsurfer commented on #11333
` 0x5445535420535452494e47000000000000000000000000000000000000000000,  length: 66,  text : TEST STRING
`

let's ask @richard-ramos about that
https://github.com/status-im/status-react/commit/277f65b94d563a981d780490a20a4802f03f82ca

[2020-10-27 14:57] flexsurfer commented on #11333
it looks like its just will be better to implement it similar to MM

[2020-10-27 14:57] flexsurfer commented on #11333
thanks @bgits

[2020-10-27 15:46] richard-ramos commented on #11333
I added that because back when I was working on teller network, the GSN made the users sign a random bytes32 hash that wasn't being shown at all in status, or displayed weird characters, and this way it would show the hex string (or at least did back then)

...

@bgits, how do you trigger the personal_sign to show the ascii for the messages when the lenght of the message is 32 bytes?
If I execute

[2020-10-27 16:09] bgits commented on #11333
@richard-ramos https://github.com/status-im/ethers-testbed/blob/master/src/App.jsx#L68-L70

[2020-10-28 07:56] #11101 closed, assigned to Ferossgp

[2020-10-28 11:00] #11336 closed, assigned to nobody

[2020-10-29 08:07] cammellos commented on #11333
Regarding signtypeddata_v4 , I have noticed that metamask might not be according to specs:

https://github.com/MetaMask/eth-sig-util/issues/106

https://github.com/MetaMask/eth-sig-util/pull/107

So before we proceed any further it would be good to clarify exactly which one is the correct behavior.

We will also look at `personal_sign`.

[2020-10-29 08:13] flexsurfer commented on #11333
same for `personal_sign` , there is no spec for signing utf8 strings, metamask just did their own implementation

[2020-10-29 08:18] cammellos commented on #11237
@hesterbruikman are the designs still WIP for this or they have been finalized?

As discussed previously, we can start by implementing the flow that just migrates the keys from phone to keycard (no other case), but not the data (so no user password is required), and implement then the flow which also migrates the data in a separate issue.

Let me know if that's ready so I can polish this up and pu

[2020-10-29 09:57] hesterbruikman commented on #11237
Going through the designs a bit more to detail and separate the Reset flow and make it inaccessible. In the current design you can end up in that flow, while I'm not sure about the behavior yet. I'm looking at how to keep it out of scope.

As a user
 I want to reset an existing multiaccount in Status...

- so that I can use my account with a new chat key/profile
- so that my contacts, chats and se

[2020-10-29 11:17] vkjr commented on #11309
@qoqobolo, can be closed I believe.

[2020-10-29 11:20] #11309 closed, assigned to nobody

[2020-10-29 14:22] richard-ramos commented on #11333
On desktop for `personal_sign` what I did was check if the input value is a hex string, and if it's not, convert it to hex before signing

[2020-10-29 17:58] jakubgs opened #11343 "Make iOS app be built by Nix derivation"
## Description

Currently the way iOS is built is by calling Fastlane in a Nix shell. To make it match Android it should be built by a derivation.

## Details

Currently when you call `make release-ios` we start a Nix shell for `TARGET=ios`:
https://github.com/status-im/status-react/blob/fe5b5ab4bc1cf4baf554406b2885c61424becdaf/Makefile#L168-L173
Which is different form how we build it via CI:
[co

[2020-10-29 17:58] jakubgs commented on #11343
This is a considerable amount of work, and should probably wait till https://github.com/status-im/status-react/pull/10936 is done.

[2020-10-29 21:52] tom4399 opened #11344 "Add hint that wallet balance is not updated when app is on cellular network"
# Bug Report

## Problem
 My balance isn’t showing https://blockscout.com/poa/xdai/address/0x2A52Fc9657E495856FbF04dA704dE8f40F6De929/transactions
![20E528B3-1B9E-45AD-8F20-FB9BE7ACCD98](https://user-images.githubusercontent.com/73671467/97636357-e9e84d80-1a30-11eb-9500-8a0daf63233e.png)

- Operating System: iOS

#### Logs

[comment]: # (if on Android please replicate bug whilst running adb logcat

[2020-10-29 22:11] danimesq commented on #11344
@Ferossgp @churik

I'm also using xDAI and its me who bought they to switch to it and also its me who sent the token (DANIMESQ).

For me, the balances shows correctly and I can also tap "Scan tokens" to quickly update it.

If there is some workaround for Tom at sorting it out, this issue shouldn't be closed but investigated to fix what is causing the tokens to show "..." instead of loading.

[2020-10-29 22:13] danimesq commented on #11344
Additionally CC'ing @0kok0 @johnlea-quiup and @hesterbruikman, which were already supporting a issue I've opened before.

[2020-10-29 22:16] danimesq commented on #11344
Also worth noting that, while OP reports to be using iOS, I'm using Android.
![Screenshot_20201029-191513](https://user-images.githubusercontent.com/6765277/97638410-3e80ce00-1a1b-11eb-9680-d15114783931.png)

[2020-10-29 22:47] hesterbruikman commented on #9229
Wondering if this could be captured under 'Delete my profile' for consistency with regular multiaccounts. Result would be more or less this:

![Frame 222](https://user-images.githubusercontent.com/35233054/97640392-e8268600-1a40-11eb-8fa2-5a20bf5b6345.png)
[Figma](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8197%3A858)

[2020-10-30 12:45] flexsurfer commented on #11224
its kinda random, now it works on nightly

[2020-10-30 13:10] churik commented on #11344
@tom4399 thank you for reporting!
I see, that you are using 4G connection.
In that case it is expected - option to sync token balance is disabled by default to reduce traffic usage on cellular network.
You can always turn it on in Profile > Sync settings > Mobile Data.

[2020-10-30 13:14] churik commented on #11344
@hesterbruikman @cammellos it is not the first report about balance, so I suppose it is not obvious from user POV. may be we need smth in the wallet to show users that to see his balance when on the mobile network he needs to change the setting?

[2020-10-30 14:59] qoqobolo opened #11349 "Members stop receiving messages if one of the members sends multiple (several batches) images to group chat"
# Bug Report
## Problem
**_This issue is constantly reproduced in develop after #11316 was merged._**

If create a group chat and send 5 images, then 5 more (sometimes for several more), then the other members will not receive all the images from the second batch. After the images are stopped being received by other members of the group chat, text messages (including in 1-1 chat) begin to be recei

[2020-10-30 15:21] cammellos commented on #11349
Thanks for reporting the issue!

A few reasons why it might be the case (we'd have to investigate further to make sure):
1) Rate limiting, you might be hitting the node rate limiting
2) Messages are dispatched in batches to a given user (though that should be every 300ms, so maybe too quick for this), but we never check the batch is too large, but we might be hitting the limit

The bug does not se

[2020-10-30 15:33] churik commented on #11349
IMO as it easy to reproduce now, better to look at it until feature will go to release (so before 1.9)
Not sure though now many users now are using group chat, so likely not many users will be affected.

[2020-10-31 04:39] tom4399 commented on #11344
I got it to work :) Ty

[2020-11-02 07:53] shivekkhurana opened #11350 "Manual mailserver selection screen scroll"
# Bug Report

## Problem
If I turn of the "Automatic Selection" switch in mailserver settings, only a the list of mailservers scroll. The other elements stay fixed. This makes it hard to check the available mailservers (video attached):

https://imgur.com/frFqUWM

#### Expected behavior

The entire screen should scroll making it easier to access and select mailservers.

#### Actual behavior
Only t

[2020-11-02 08:36] churik commented on #11344
@errorists WDYT about it?

[2020-11-02 08:48] churik opened #11351 "Constant syncing issue"
# Bug Report

## Problem
Sometimes Status app shows constant syncing bar, however internet connection is stable.
Reported by @jarradh, creating an issue to keep track on it.

#### Expected behavior
Status connected, no connectivity bar is shown

#### Actual behavior

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

### Additional Information
-------------------

[2020-11-02 08:48] churik commented on #11351
cc @cammellos

[2020-11-02 09:25] rasom commented on #11332
но сегодня стабильно режется смайлик - символы ":("

[2020-11-02 09:26] rasom commented on #11332
все новые сообщения с цитатами на предыд. "стертые" сообщения показываются без даже намека на отвалившееся цитирование
НО
нередко и сами некоторые сообщения не прогружаются - пропускаются
Т.е. цитаты есть, а самих сообщений - нет
Конкретно сейчас в #status-russian
есть несколько таких случаев,
но это было около 15 октября, поэтому через 20 дней уже не увидеть повторяемость эффекта,
которую я тольк

[2020-11-02 11:58] churik opened #11354 "No error is shown when denying access to gallery or camera in 1-1 chat"
# Bug Report

## Problem
Likely regression from https://github.com/status-im/status-react/pull/11316
Before there was error about granting necessary permissions
Blocks part of test_deny_access_camera_and_gallery (6319) e2e.

#### Expected behavior
![IMAGE 2020-11-02 12:54:31](https://user-images.githubusercontent.com/4557972/97865474-8dc04a80-1d0a-11eb-8ab4-405a3c9a99eb.jpg)

#### Actual behavior

[2020-11-02 11:58] churik commented on #11354
cc @qoqobolo @Ferossgp

[2020-11-02 12:10] churik commented on #11354
better to fix as it is regression
@cammellos feel free to remove it from release, if you think it is not important

[2020-11-02 13:28] #11158 closed, assigned to vkjr

[2020-11-02 13:56] churik commented on #10045
suppose it can be closed

[2020-11-02 13:56] #10045 closed, assigned to nobody

[2020-11-02 14:43] churik opened #11355 "Sometimes app crashes on logout events with "discovery.stopped""
# Bug Report

## Problem
2-3 cases from 180 are crashed on logout. Sometimes app is crashed on logout on real devices as well - regardless of place (Profile > logout, switching networks, changing fleet etc)

#### Expected behavior
no crash

#### Actual behavior
app is crashed after logout confirmation

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Sta

[2020-11-02 18:10] #11139 closed, assigned to vkjr

[2020-11-02 18:27] hesterbruikman opened #11357 "Support for POAP NFT"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As an event attendee
I want to claim my POAP NFT through https://app.poap.xyz/claim/{my-event} (or Keycard redeem)
so that I can thereafter keep it in my Status wallet

As an event attendee
I want to view and show a POAP NFT in Status wallet
so that I can use it show my ticket at a venue

As an event attendee
I

[2020-11-02 18:43] Simona-Pop commented on #11357
Re cost - POAP has typically transferred the NFTs directly. In the scenario where the POAP is the ticket for the event, again the NFT would be sent to the address the payment was made through (if made in crypto) or a section with wallet address in the event sign up form should enable the sharing of the POAP badges.

[2020-11-02 18:56] hesterbruikman commented on #11357
If you're in touch with the team @Simona-Pop, I think one thing that would help is if they have a test event and badge on a testnet. With that we can check any current support of the dapp and NFT

[2020-11-02 19:03] Simona-Pop commented on #11357
I’ll get in touch with Patricio and see! Will link back in here

[2020-11-02 19:18] Simona-Pop commented on #11357
Ok: There are POAP implementations on Sokol (xdai testnet) and ropsten.

Ropsten: 0xd237716b056d5bf44181c471a7c633583b552d78

Xdai, Sokol, mainnet: 0x22C1f6050E56d2876009903609a2cC3fEf83B415 (They use the same address in all 3)

[2020-11-03 07:20] cammellos commented on #11351
Investigating this.
Replicated the behavior by hitting a request with the same number of topics to the mailserver and the request expires.
So this is clearly due to the number of topics. Will investigate further.

[2020-11-03 07:24] cammellos commented on #11351
From Europe hitting amsterdam does not timeout:

[code]

while hitting HK:

[code]

Does timeout.

I will check whether is dependent on the data  exchanged, as it might not be (publishing might be asynchronous, but will double check)

[2020-11-03 07:48] cammellos commented on #11351
Most of the times it actually works fine with HK server as well.
One thing I did notice though is that the bloom filter for that query is essentially full, which means that any envelope will be sent back, likely the source of the issue.
Interesting is that my understanding is that we should not be using bloomfilters for mailserver queries anymore after waku, or so I was told, but it seems like it

[2020-11-03 08:09] cammellos commented on #11351
Confirmed that is definitely not using topics but bloom filter :(
good news is that probably the change will have a significant impact on bw usage, but it is  a change nonetheless

[2020-11-03 08:47] cammellos commented on #11351
Will be tracked separately https://github.com/status-im/status-go/issues/2068

[2020-11-03 09:01] #11355 closed, assigned to cammellos

[2020-11-03 09:10] cammellos commented on #11349
We are hitting the limit in terms of size of messages on the sender side:
[code]
Investigating further

[2020-11-03 10:14] cammellos commented on #11349
It's probably due to batching of messages in MVDS, as we don't limit those. I will push out a potential fix and test it.

[2020-11-03 10:47] rasom commented on #10957
@Ferossgp @cammellos @flexsurfer
Slowness is caused by checkbox accessory (specifically by its animation).
I tested it on a relatively slow android device by measuring time between log messages which were printed in `render-token` component, specifically between the first and the last items in the list. There are a bit more than 100 elements in the list.
[code]

Those results show that it is about

[2020-11-03 11:07] flexsurfer commented on #10957
@rasom why all elements are rendered and not only visible ?

[2020-11-03 11:11] rasom commented on #10957
@flexsurfer for testing I scrolled the list to the end, so that's why all elements were rendered. But `SectionList` would render first 60-80 items in the background anyway, even with `initialNumToRender` set to a smaller number. That property only sets a size of the initial batch.

[2020-11-03 11:12] Ferossgp commented on #10957
@rasom yes, the animation slows the list (seems like there is a lot of bridge usage in this case). But the problem with performance was always there even before animations, with the old list-item and checkbox.

[2020-11-03 11:15] rasom commented on #10957
@Ferossgp yep there is a separate issue when you check/uncheck the item, but animation made it way slower when scrolling, thus more noticeable. At the moment I'm looking what can be done with slow check/uncheck.

[2020-11-03 11:16] Ferossgp commented on #10957
I've tried using simply pressable here https://github.com/status-im/status-react/pull/11078/files#diff-0a905251f106f1d0bb8a4716380a5a1fe40bb60a0868373cccf711529fe64915R50 and @Serhy mentioned that there is almost no difference in performance on a low-end device.

[2020-11-03 11:40] rasom commented on #10957
@Ferossgp it is slow because the change on "manage assets" screen requires entire wallet screen to be re-rendered. So if we comment out wallet screen and interact with checkboxes in assets list it will become noticeably faster.

[2020-11-03 11:43] rasom commented on #10957
I will prepare fixes for both slow scrolling and slow checkboxes and file a PR soon, then let's test it and decide if it is enough.

[2020-11-03 16:02] guylouis commented on #11237
I checked the flows and I find it super complete, great work @hesterbruikman

As per keycard, I think this means in terms of mapping keycard feature vs the designs (I am listing this with what I consider their priority regarding keycard roadmap)
- **regular->keycard** is flow 2a. It's issue https://github.com/status-im/status-react/issues/11431
- **reset keycard and remove the m.account** (issue #

[2020-11-03 16:02] guylouis commented on #9229
fully agree with you @hesterbruikman

[2020-11-03 16:26] #11299 closed, assigned to nobody

[2020-11-03 20:35] 3esmit commented on #11261
Was this fixed? @flexsurfer

[2020-11-04 05:07] flexsurfer commented on #11261
i think not yet

[2020-11-04 09:27] #10771 closed, assigned to rasom

[2020-11-04 09:41] hesterbruikman opened #11366 "App crashes when tapping 'download report' in Snapshot dapp"
# Bug Report

## Problem

When using Snapshot dapp. Viewing a [proposal](https://snapshot.page/#/status/proposal/QmUyxGsc6BwzHzGDyKWXhdX29t6F9obv4AM1RwvMhqrVxS), tapping `Download report` gives an error and causes Status Mobile app to crash

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)
File is downloaded to default folder on devic

[2020-11-04 11:12] shivekkhurana commented on #8955
This problem also occurs in the about section with status version.

![IMG_BF83F39D27F2-1](https://user-images.githubusercontent.com/1925158/98104601-ab351600-1ebc-11eb-85a4-04b88745dda0.jpeg)

[2020-11-04 12:06] #10957 closed, assigned to rasom

[2020-11-04 15:13] #11354 closed, assigned to rasom

[2020-11-05 08:27] flexsurfer commented on #5162
it seems this dapp doesn't connect to status provider, in the logs i see
[code]

[2020-11-05 09:45] bitgamma opened #11373 "keycard_signTypedData throws an exception when the typed data is not a Payment or a Redeem"
# Bug Report

## Problem

Invoking keycard_signTypedData from a dapp with a message which is not formatted as a Payment or a Reedem metatx shows the request screen correctly but it also throws an exception which is displayed in a popup.

Dismissing the exception leaves with a fully functional request screen, the signature generated is also valid.

#### Expected behavior

No exception is thrown

##

[2020-11-05 11:54] #11349 closed, assigned to cammellos

[2020-11-05 13:20] #11373 closed, assigned to bitgamma

[2020-11-05 14:25] hesterbruikman opened #11377 "Showing channel list when typing # in chat"
# Problem
If channels are not accurately 'mentioned' others can end up in an empty chat because of a typo, misspelling, etc.. Currently, users need to put in effort to manually enter the correct chat name

### User story
As a user
I want to see a list of public chats to select from when 'mentioning' a chat
Because I want to make sure I include the exact chat name to prevent others from ending up i

[2020-11-05 14:47] cammellos opened #11379 "Add a watch only account from an ENS name"
As a user
I want to add a watch-only account from an ENS name
So that I can easily watch the address of a user associated with that ENS name

### Description

I want to be able to add a watch only account from an ENS name
`Use this address` should be grayed out if the field is not a well formatted address/ens-name

[2020-11-05 14:57] #11350 closed, assigned to shivekkhurana

[2020-11-05 15:36] cammellos opened #11380 "Add watch-only account from clipboard"
As a user
I want to be able to add a watch only account from the clipboard
So that it's easy to copy one from etherscan and paste it

### Description

I want to be able to add a watch only account from an entry in the clipboard.

This task is going to implement the new designs:

https://www.figma.com/file/bhMj7r454bNeUYvXCUveAP/Wallet-design-update-v4?node-id=197%3A4409

What's in scope:

Frame 1

[2020-11-05 15:47] cammellos commented on #11379
@johnlea-quiup what should happen if the address registered with the ENS name changes? Specifically here:
https://www.figma.com/file/bhMj7r454bNeUYvXCUveAP/Wallet-design-update-v4?node-id=197%3A4532

[2020-11-06 05:37] #9264 closed, assigned to nobody

[2020-11-06 05:42] guylouis commented on #9274
clean up

[2020-11-06 05:42] #9274 closed, assigned to nobody

[2020-11-06 05:43] guylouis commented on #9277
clean up

[2020-11-06 05:43] #9277 closed, assigned to nobody

[2020-11-06 05:45] guylouis commented on #9703
a more radical approach is questioned in #9064 (abstraction of pairing code and PUK)

[2020-11-06 05:48] guylouis commented on #9228
@bitgamma can you remind me and put down here the maximum number of cards that can be paired to one status app on a given phone ?

[2020-11-06 05:52] guylouis commented on #9728
I am closing this because it's impossible to reproduce anymore
clean up

[2020-11-06 05:52] #9728 closed, assigned to nobody

[2020-11-06 05:55] guylouis commented on #11254
@qoqobolo you mean android all along right ?

[2020-11-06 09:21] errorists opened #11382 "Status Updates: Add URL unfurling"
# Problem

A small follow up issue on the Status Updates / Timeline PRs.
Let's unfurl links the same way we do for regular chats.

## Implementation

Status update specific designs are [here in Figma](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=6182%3A26941)

## Acceptance Criteria

Links on the timeline display a tooltip asking to enable or not ask again, similar to the ch

[2020-11-06 09:25] errorists opened #11383 "Status Updates : Add reactions and copy to clipboard"
# Problem

A small follow up issue on Status Updates / Timeline PR
Let's add the ability to react and copy a status on long press menu.

## Implementation

Apply the same pattern we use for long pressing on chat messages to status updates
[Designs in Figma](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=6170%3A704)

## Acceptance Criteria

Long press on a status shows a simila

[2020-11-06 09:30] errorists opened #11384 "Status Updates : Open profile when tapping on username or avatar"
# Problem

A small issue to follow up on the Status Updates / Timeline PRs
This is about linking usernames and avatars found in each status to the person who sent it.

## Implementation

Tapping on a username or avatar of the person who sent the update navigates to their profile, similar to chat messages. Tapping on your own does nothing. TouchableOpacity for the touch effect so it's visible.

##

[2020-11-06 09:51] errorists opened #11385 "Status Updates : Add the 'My status' tab that displays your updates on a chronological timeline"
# Problem

A small follow up issue on the Status Updates / Timeline PRs
Let's bring back the 'My status' tab and the Top Bar container, so that you can easily follow your own updates at a glance.

## Implementation

Top bar is placed in the 'Status' tab, divided into `Timeline` and `My status`. Timeline we already have, this issue is about adding the `My status` functionality next to it. It's purp

[2020-11-06 11:31] bitgamma opened #11387 "Handle unpaired cards"
# Bug Report

## Problem

You have a Keycard multiaccount. Using another tool, you remove the pairing between the card and Status. When trying to perform any operation with the card you are not prompted to pair the card again and the operation fails. The only workaround is to reinstall the app.

#### Expected behavior

If the pairing has been broken for whatever reason, prompt the user to restore

[2020-11-06 11:31] bitgamma commented on #11387
/cc @guylouis

[2020-11-06 11:41] bitgamma opened #11389 "Pairing is not saved if account recovery is interrupted"
# Bug Report

## Problem

During the "Recover with Keycard" process you are prompted to pair the card and then enter the PIN. If you cancel after pairing but before completing the procedure, the pairing is not saved in Status and when you try again you will need to pair again. The problem is that on card the pairing slot is taken anyway and you have no way to recover it.

#### Expected behavior

A

[2020-11-06 11:41] bitgamma commented on #11389
/cc @guylouis

[2020-11-06 13:23] flexsurfer commented on #11137
https://github.com/status-im/status-react/pull/11341

[2020-11-06 13:23] #11137 closed, assigned to flexsurfer

[2020-11-06 14:28] guylouis commented on #9229
So this issue #9229 is flow 6 of this figma design https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8197%3A858

[2020-11-06 14:51] #11333 closed, assigned to churik, flexsurfer

[2020-11-06 16:22] #10362 closed, assigned to rasom

[2020-11-06 16:59] guylouis commented on #10252
closing this
remaining worked addressed in #10827

[2020-11-06 16:59] #10252 closed, assigned to nobody

[2020-11-06 17:24] guylouis opened #11390 "Migrate multiaccount: keycard to regular"
As a user,  I want to migrate my Keycard account to a regular account  so that I can use my account without requiring my Keycard.

**Notes:**
- I still hold my keycard and knows my PIN
- My keycard will be cleared of any of my keys (remove the seed from the card) because I want to be sure that the device does not hold anymore any information that could lead to control of my keys.
- Keys will be mo

[2020-11-06 17:33] guylouis opened #11391 "(Lost Keycard) I lost my keycard and want to regain control of my assets"
As a user,  I have a keycard multiaccount and I lost my keycard, I want to regain control of my assets.

**Design**
It is flow number **5** here https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8218%3A5756

Other related issues:
- I want to clear my keycard & remove the corresponding multi account from the phone, that's issue #9229 (flow 6 in figma)
- I want to clear my keyca

[2020-11-06 17:46] guylouis opened #11392 "Enable "show transaction data" button on the generic request screen"
Related to request screen  implementation (see https://github.com/status-im/status-react/issues/9275 )

For the generic request screen (the signed data does not include the fields that trigger either the payment screen or the redeem screen, see ) we had designed that a button with 'show transaction data' would be present, and would pop up the transaction data as here:
![image](https://user-images.

[2020-11-06 17:50] guylouis opened #11393 "Make request screen compatible with Status Pay"
Description to be completed @bitgamma thanks !

The request screen implementation  (https://github.com/status-im/status-react/issues/9275 ) is not compatible with Status pay contract refactoring

cc @gravityblast

[2020-11-06 17:55] guylouis opened #11394 "allow a user to have a keycard back up card"
as a user, I have a keycard multiaccount on my phone, and I'd like to have a second (backup) card in case I lose mine.

opportunity:
allow the user to have a back up card
sell card bundles

problem:
- today the user cannot create a second card with the same mnemonic with the same phone that has already the multiaccount on it
- if the user manages to create such a card (e.g with a second phone) he

[2020-11-06 17:58] guylouis opened #11395 "Inapp Keycard upsell MVP"
We want to promote inside status app, the possibility to upgrade the account security by using a keycard. This includes:

* explain to the user benefits
* call to action to get a keycard

This encounters three things:
**i/** a banner inside the app that promotes to the user to increase his security with a keycard
**ii/** a landing page explaining with more details what his keycard and how it helps

[2020-11-09 07:47] cammellos commented on #11242
I believe this has been done, closing

[2020-11-09 07:47] #11242 closed, assigned to nobody

[2020-11-09 08:03] cammellos commented on #10973
I think this issue needs a bit more clarity,
currently there seem to be 3 different features included in this:

[code]

I would recommend splitting them if still necessary and cut the scope, as not sure as it is this is currently actionable.

I would focus on:

[code]
create a new issue and exclude the custom derivation path and cover the error scenario in https://www.figma.com/file/XUehMnhyD1FGcW

[2020-11-09 08:14] cammellos commented on #10163
This one needs to be further broken down into features as it's too large and difficult to action.
I would suggest:

Notification on top of wallet view:

[code]
Pop up
[code]

Enforce backup

[code]

I am happy to do that if you'd like me to, let me know what you think @hesterbruikman

[2020-11-09 08:19] cammellos commented on #8499
this looks stale, closing, feel free to re-open

[2020-11-09 08:19] #8499 closed, assigned to nobody

[2020-11-09 08:20] cammellos commented on #8302
Firebase has been removed, so this does not seem to be any longer an issue.

[2020-11-09 08:20] #8302 closed, assigned to nobody

[2020-11-09 08:21] cammellos commented on #11312
Ropsten has now synced, I will run e2e tests against it to see what we get.

[2020-11-09 09:01] #6476 closed, assigned to nobody

[2020-11-09 09:02] churik opened #11398 "Error at attempt to sign typed message in simpledapp.eth"
# Bug Report

## Problem
Errorat attempt to sign typed message in simpledapp.eth ( "Cannot read property 'replace' of null"  in case of keycard and "invalid character x" in case of ordinary multiaccount)
Likely consequence of https://github.com/status-im/status-react/pull/11369

#### Expected behavior
can sign typed message

#### Actual behavior
If signed with password:
![Sauce Labs | Test Details

[2020-11-09 09:03] churik commented on #11398
cc @flexsurfer

[2020-11-09 09:13] flexsurfer commented on #11398
i would say this one https://github.com/status-im/status-react/pull/11376 @bitgamma

[2020-11-09 10:11] qoqobolo opened #11402 "No permission requested for files and media storage on Android when saving an image from the chat view"
# Bug Report

## Problem

The issue is reopened and updated as the behavior has changed.

If try to save an image from the chat view without previously granting access to "Files and media" storage (i.e. on the fresh build) the access request will not be shown **_but the image will be saved_**.

#### Expected behavior

File and media access is requested when saving an image, if it has not been prev

[2020-11-09 10:14] churik opened #11403 "java.lang.NullPointerException when trying to finish account creation after navigating to access your keys and back"
# Bug Report

## Problem
After cancelling onboarding several times it's not possible to complete creating account until reopening app.

#### Expected behavior
can create new account

#### Actual behavior
![IMAGE 2020-11-09 11:05:20](https://user-images.githubusercontent.com/4557972/98527544-7558ae80-227b-11eb-8393-039be81d42cc.jpg)

#### Notes

For the developer who will be investigating. Is it re

[2020-11-09 10:28] #11382 closed, assigned to flexsurfer

[2020-11-09 11:53] cammellos commented on #1563
Currently this is not be implemented and likely won't be implemented for a while, please open a feature request as it's currently by design if still interested. Thanks!

[2020-11-09 11:53] #1563 closed

[2020-11-09 11:54] cammellos commented on #7402
This should be fixed, closing

[2020-11-09 11:54] #7402 closed, assigned to nobody

[2020-11-09 11:55] #5928 closed, assigned to nobody

[2020-11-09 15:38] #10969 closed, assigned to nobody

[2020-11-09 16:43] #11398 closed, assigned to nobody

[2020-11-09 18:38] Serhy opened #11408 "User sees status in timeline of account which added him in contacts"
# Bug Report

## Problem

When UserA has been added by UserB in UserB's contacts then UserA sees all status updates in timeline UserB makes.
After UserA re-logins then UserB's status disappears on his end, but all subsequent UserB's statuses appear again.
Please see steps to reproduce.

#### Expected behavior

I see no status updates from any user I have not in my contact list

#### Actual behavio

[2020-11-09 19:11] #10790 closed, assigned to nobody

[2020-11-10 10:22] churik opened #11411 "App is crashed on account creation after navigating to access key and back"
# Bug Report

## Problem
App is crashing if creating account after navigating to access key after.
Reproducible on 1.8.

#### Expected behavior
no crash

#### Actual behavior
crash

![IMAGE 2020-11-09 11:05:20](https://user-images.githubusercontent.com/4557972/98527544-7558ae80-227b-11eb-8393-039be81d42cc.jpg)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)
*S

[2020-11-10 10:28] cammellos commented on #11219
This will be de-scoped to 1.10 as discussed cc @Simona-Pop @j-zerah @hesterbruikman

[2020-11-10 10:28] cammellos commented on #11220
This will be de-scoped to 1.10 as discussed cc @Simona-Pop @j-zerah @hesterbruikman

[2020-11-10 10:48] hesterbruikman commented on #11237
Latest designs on [Figma](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8218%3A7177)

TODO's
- [ ] Use biometrics to confirm reset (if enabled)
- [x] Add entry point to key management from fresh Keycard onboarding
- [ ] Revisit copy: Reset database = Remove database?
- [ ] Check if expandable list item is available as component (likely not, it is currently used in Wallet f

[2020-11-10 11:19] churik commented on #11403
closed as #11411

[2020-11-10 11:19] #11403 closed, assigned to nobody

[2020-11-10 11:34] #10239 closed, assigned to rasom

[2020-11-10 12:45] #11384 closed, assigned to flexsurfer

[2020-11-10 12:53] #10423 closed, assigned to nobody

[2020-11-10 12:54] #10426 closed, assigned to nobody

[2020-11-10 12:54] #10384 closed, assigned to andremedeiros

[2020-11-10 12:56] #10244 closed, assigned to nobody

[2020-11-10 12:59] flexsurfer commented on #10147
still the issue, in latest releases even more visible

[2020-11-10 13:06] #10038 closed, assigned to nobody

[2020-11-10 13:06] #10014 closed, assigned to Ferossgp

[2020-11-10 13:32] #9955 closed, assigned to nobody

[2020-11-10 13:32] #9914 closed, assigned to nobody

[2020-11-10 13:34] #9678 closed, assigned to jrainville

[2020-11-10 13:36] cammellos commented on #9185
Closing this as we are tracking in different issues and mostly solved by selection of mailservers, though still some instances where it takes a long time

[2020-11-10 13:36] #9185 closed, assigned to nobody

[2020-11-10 13:37] cammellos commented on #9101
looks like we don't have this issue anymore, feel free to reopen if necessary.

[2020-11-10 13:37] #9101 closed, assigned to nobody

[2020-11-10 13:37] #8387 closed, assigned to nobody

[2020-11-10 13:38] #8383 closed, assigned to nobody

[2020-11-10 13:38] #8384 closed, assigned to nobody

[2020-11-10 13:38] #8386 closed, assigned to nobody

[2020-11-10 14:27] churik commented on #9101
well we still have it, sometimes peers just can't be discovered by other peers (correct me if I'm wrong here) if the account was restored a lot of times.
So that means that sometimes restored multiaccount doesn't get 1-1 messages, invites to group chats.
I still face with that on my test account and that's why for e2e we are always using fresh accounts.
But I'm not sure anyway is it worth to look

[2020-11-10 14:31] cammellos commented on #9101
yes, that's expected, it will always take some time for the algorithm to converge, that's due to the fact that we don't have decentralized storage, so I'd say it's a wont-fix for now, most of the users will not experience this issue I take, what do you think?

[2020-11-10 14:32] churik commented on #9101
agree

[2020-11-10 14:45] #11408 closed, assigned to flexsurfer

[2020-11-10 20:18] #11240 closed, assigned to rasom

[2020-11-11 10:01] shivekkhurana commented on #11411
@churik I'm unable to reproduce on iOs (tried both scenarios).
[Scenario 2 Video](https://www.dropbox.com/s/hzf2zmsoiknzchc/RPReplay_Final1605088304.MP4?dl=0)

[2020-11-11 11:06] flexsurfer commented on #11269
partially implemented here https://github.com/status-im/status-react/pull/11273

[2020-11-11 11:24] hesterbruikman commented on #11269
Expected behavior:
- [ ] Last known total balance is shown when wallet is opened
- [ ] List item and card show a [skeleton loading state](https://www.npmjs.com/package/react-native-skeleton-content) when new values are fetched
- [ ] If fetching fails/no new values have been received after 3 sec, show error message (Token balance could not be updated. Pull to try again)
- [ ] Allow pull to refresh

[2020-11-11 11:33] errorists commented on #11269
I pass it over to @johnlea-quiup to ask if that's what we expect :)

Not in the described above case where we have a cached balance we can show straightaway and instead use the pull to refresh / reload spinner to indicate that we're fetching new data. Skeletons would be my choice if we were always going from unknown, but that's not the case.

Regardless I'd love if we could implement skeleton load

[2020-11-11 11:51] Serhy opened #11416 "App crash when put on background after upgraded"
# Bug Report

## Problem

Upgrading Status from Release 1.8.0 on to latest nightly build develop 1.8.0 (20201111025927) brings an crash issue which happens when app is put on background.
Installing clean nightly develop build doesn't have such bug.

#### Expected behavior

Can proceed using Status after put on background if upgraded from release 1.8

#### Actual behavior

App crashes when put on b

[2020-11-11 12:25] John-44 commented on #11269
@hesterbruikman I'm not sure if we want to use skeleton loading states when *data is present* and new data is being fetched.  Skeleton screens are normally used when there isn't any data present yet.  In this case why not leave the existing content as is until the new data is fetched?

Perhaps this confusion is my fault, I re-read my comment above from 5th Oct and noticed a typo - I had written "t

[2020-11-11 12:45] hesterbruikman commented on #11269
@errorists @johnlea-quiup sounds like we need to know what data we can assume to be present. @flexsurfer any thoughts on what we can cache?

I assumed based on the current implementation  of `...` that we would only cache total balance (and fiat value). If so, other data would not be present.

Also, I noticed that on first time use; there is (obviously) no cache of Total balance. In this scenario

[2020-11-11 12:50] John-44 commented on #11269
@hesterbruikman in the case of the screenshot posted above, a skeleton loading state would be a good idea as in this case data isn't present.

[2020-11-11 13:04] #10798 closed, assigned to rasom

[2020-11-11 13:07] errorists commented on #11269
I would assume we should aim at caching _all_ data so the entire table you have here, numerical values and assets.

And yes, whenever you arrive at this view and ask Status to guesstimate its content, a skeleton state would be superior. Those redacted ••• values in an ideal world should never be shown to the user.

[2020-11-11 13:23] churik commented on #11411
@shivekkhurana
it is reproducible when you don't have accounts, so after fresh installation.
Scenario 2 is reproducible only for Android though, you are right, thank you for trying.

[2020-11-11 17:33] #7498 closed, assigned to nobody

[2020-11-11 17:34] #9035 closed, assigned to nobody

[2020-11-11 17:35] #8476 closed, assigned to nobody

[2020-11-11 17:37] cammellos commented on #9487
I'll close this one for now, given we limit the number of messages and cut it off it's probably less of an issue, feel free to re-open

[2020-11-11 17:37] #9487 closed, assigned to nobody

[2020-11-11 17:42] cammellos commented on #11056
I believe we only support ERC20 tokens for now, unfortunately currently there's no plan to support other currencies, thanks for the suggestion, if anything changes we'll reopen.
thank you

[2020-11-11 17:42] #11056 closed, assigned to nobody

[2020-11-12 09:25] flexsurfer commented on #11236
as a first iteration, I would suggest doing next
* [ ] As Status core contributor (Marketing) I want to create a link for an influencer that directs users to a public chat, because they might drop off if they have to search for the chat
* [ ] As a new user invited to a public chat on Status with a referral code, I want to join this public chat upon onboarding so I instantly have access to people w

[2020-11-12 10:15] vkjr opened #11417 "Error when unable to unfurl some youtube links"
# Bug Report

## Problem

Youtube does provide oembed information only for links to videos. But not for links to lives or channel pages.
In current Status implementation when such link appears in the channel and url unfurling enabled for youtube - error appears:

![Screenshot 2020-11-12 at 12 08 14](https://user-images.githubusercontent.com/5786310/98926631-3bd4ad00-24e0-11eb-8704-ceee18ac1e5b.png

[2020-11-12 10:25] hesterbruikman commented on #11236
I think this works, as long as the last two bullets are planned for. Shall I move those to a new issue and link under 'Future steps'?

It doesn't have the label, but I'd say it's a high prio feature as it directly addresses retention. The last two bullets should be addressed, but I can imagine wanting split up the work

[2020-11-12 10:44] flexsurfer commented on #11236
oh right, lets change the last one on  `Open public chat when passed through deep link with referral code` similar how 1-1 works

[2020-11-12 11:19] hesterbruikman opened #11419 "Resolve sticker market address from ENS name"
# Problem
The Sticker market contract will be updated. This currently requires an update in status-react to call a new contract address. Resolving the address from a static ENS name, makes it easier to adapt the contract when needed.

## Implementation
- Replace [current contract address](https://github.com/status-im/status-react/blob/fe5b5ab4bc1cf4baf554406b2885c61424becdaf/src/status_im/ethereum

[2020-11-12 11:50] flexsurfer commented on #11419
purchasing won't work, also it will be impossible to check for recovered accounts which stickers have been purchased earlier

[2020-11-12 12:10] hesterbruikman commented on #11419
Do you know if stickermarket already has a state of purchase and install buttons being inactive?

[2020-11-12 12:22] shivekkhurana commented on #11261
@3esmit The current app doesn't allow you to proceed if there is a space in the address (the next button is disabled, [video demo](https://imgur.com/a/bXM7rPt)).

Let me know if it needs more work, or close this issue if it's acceptable.

---
Edit 0: Closing the issue. Feel free to comment or re-open if I missed something.
Edit 1: Sorry, I interpreted it wrong. The issue still persists.

[2020-11-12 16:03] hesterbruikman commented on #11337
@shivekkhurana noticed a bunch more places that I didn't list above. You may have found these already when starting this issue, in which case you can ignore:) These are the keys for content that still refers to `mailserver`

- mailserver-error-content
- mailserver-error-title
- mailserver-pick-another
- mailserver-request-error-content
- mailserver-request-error-title
- add-mailserver
- delete-mai

[2020-11-12 16:29] jinhojang6 commented on #11337
I initialized or fixed the translation for the 2 keys @hesterbruikman . Will follow this up

[2020-11-12 16:56] shivekkhurana commented on #11337
@hesterbruikman Thanks for creating that list. It'll make my job way easy 💨💨💨

[2020-11-13 08:05] #11010 closed, assigned to nobody

[2020-11-13 08:05] #11029 closed, assigned to jakubgs, Ferossgp

[2020-11-13 08:25] jakubgs commented on #8512
Since https://github.com/status-im/status-react/pull/11352 was merged I'll try updating our `fdroiddata` PR to exclude `installreferrer` and `google` stuff.

[2020-11-13 09:14] hesterbruikman commented on #10242
Note that design of error state when failing to fetch data has been slightly updated.

Text below icon was added. See full design on [Figma](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4183%3A1914)

![Error loading](https://user-images.githubusercontent.com/35233054/99051999-d98bb300-2598-11eb-8536-87e9e252e260.png)

[2020-11-13 09:42] jakubgs commented on #8512
I updated it with [e38e6f16](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7179/diffs?commit_id=e38e6f16711f4f78317225d56ee04187a8edd5c9) which uses current `develop` state as `1.9.0-rc.1` version. We can update it later with proper `1.9.0`.

[2020-11-13 10:43] vkjr opened #11425 "Add twitter to whitelist for URL unfurling"
As a user
I would like links from Twitter to be unfurled
So I can see a preview of the tweet posted

Description
Twitter should be added to the whitelist of domains for link unfurling. By default it should be disabled.

[2020-11-13 10:44] vkjr opened #11426 "Add GitHub to whitelist for URL unfurling"
As a user
I would like links from GitHub to be unfurled
So I can see a preview of the link posted

Description
GitHub should be added to the whitelist of domains for link unfurling. By default it should be disabled.

[2020-11-13 13:14] hesterbruikman commented on #11237
Design for first iteration is ready cc @guylouis @cammellos :
[2. MIGRATATE REGULAR TO KEYCARD
A Without profile data](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8218%3A7177)

### Changes

- Added entry point to Sign in screen for visibility when existing user has purchased a Keycard.
     - This moves `Access existing keys` on Sign in screen to a overflow menu that als

[2020-11-13 13:56] bitgamma opened #11428 "Keycard-related iOS UX work"
# Feature Issue

After implementing https://github.com/status-im/react-native-status-keycard/issues/34 we will enable Keycard on iOS. One main difference between iOS and Android though, is that iOS comes with its own bottom modal prompt for reading NFC tags. That prompt cannot be disabled. We will have to revise the flows and adjust the UI to accomodate this prompt (which on iOS will replace our o

[2020-11-13 14:40] #8955 closed, assigned to shivekkhurana

[2020-11-13 14:42] #11261 closed, assigned to shivekkhurana

[2020-11-16 09:58] churik opened #11429 "IPNS names are not resolved"
# Bug Report

## Problem

`simpledapp.eth` and `uniswap.eth` are not resolving (on 1.8 and on current release - blank screen).

It causes failure of 12% of e2e on current nightly.
1 time resolving of  `simpledapp.eth` is failed 14/11/2020.

#### Expected behavior
"ALLOW" button is shown

#### Actual behavior
blank screen

### Reproduction

- Open Status
- Open `uniswap.eth`

### Additional Informa

[2020-11-16 09:59] churik commented on #11429
from discord:

params which cause error

[2020-11-16 10:00] churik commented on #11429
cc @3esmit @cammellos @flexsurfer

[2020-11-16 10:30] flexsurfer commented on #11429
at some point infura started to return execution reverted error instead of "0x" result, our code expects "0x" result

[2020-11-16 10:44] cammellos opened #11431 "Migrate account to a regular keycard from logged out "Manage keys and storage""
Part of: https://github.com/status-im/status-react/issues/11237

As a user
I want to migrate my regular account to keycard when I am logged out
As I might have forgotten my password and can't access it

### Description

We want to provide users a way to migrate an existing account to a keycard

The flow starts here: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8374%3A86
o

[2020-11-16 11:31] #11429 closed, assigned to nobody

[2020-11-16 11:37] hesterbruikman opened #11432 "Show button to Join public chat on deep link"
Follow up #11236 and PR #11418

# Problem
Deep link to public chat has been introduced. This makes it easier to drive new users to relevant content and contacts. The downside is that public chats are more easily discoverable, can get spammed more easily and if spam is send to a public chat that causes the app the crash, the new user would be denied of using the app. A mitigation is to request user

[2020-11-16 11:58] #11417 closed, assigned to vkjr

[2020-11-16 11:59] hesterbruikman opened #11433 "Show button to Accept Starter Pack on deep link to Public chat"
Follow up to #11432

# Problem
Deep link to public chat is intended for use with advertisers and influencers. Prior to introducing deep link to public chat, referral campaigns have been stopped following feedback that attributions were much lower than traffic (referral url use) provided by influencers and advertisers.

Allowing users to receive a Starter Pack in exchange for their attribution shou

[2020-11-16 12:15] jakubgs commented on #8512
I built 40e283979361878a72763a8b8c2f58fa0a012ba5 in [fdroiddata#7179](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7179) and it looks like the APK still contains non-FOSS stuff:
[code]
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7179#note_448124916

Source: https://www.virustotal.com/gui/file/a078f9264c066cf4317473b73a211888e9011acc9dbf72f679a61c51d262d059/details

@Ferossgp any

[2020-11-16 12:26] flexsurfer commented on #8512
how can we make sure GOOGLE_FREE is set to 1 in fdroid build ?

[2020-11-16 12:29] rasom commented on #9987
@cammellos
So basically what I would do now:
1. Stop watching each block via `eth_getBlockByNumber`, because it is expensive in terms of traffic (we retrieve transactions along with block) and also 99.9% of those calls are in vain.
2. Instead I would just check a range of blocks each N minutes (let's say 20) using eth_getBalance/eth_transactionsCount/eth_getLogs
3. In case if user sends new transa

[2020-11-16 12:40] jakubgs commented on #8512
Pretty sure it is:
[code]
[code]
And when building:
[code]
[code]
So as far as I can tell it works

[2020-11-16 12:41] jakubgs commented on #8512
Although I'm not actually sure what `googleFree` does in `android/app/build.gradle` as I don't see it used anywhere in that file:
https://github.com/status-im/status-react/blob/a91bdfb047558edf3f96a212a9bb1b0f815a7d71/android/app/build.gradle#L126-L129
So I'm confused...

[2020-11-16 12:43] jakubgs commented on #8512
Also, this has been added in #11352:
https://github.com/status-im/status-react/blob/a91bdfb047558edf3f96a212a9bb1b0f815a7d71/nix/mobile/android/release.nix#L103-L104
But I don't see `.env` being `source`d anywhere, so this does nothing...

[2020-11-16 12:45] #9983 closed, assigned to nobody

[2020-11-16 13:12] #11236 closed, assigned to cammellos, flexsurfer

[2020-11-16 13:15] #11383 closed, assigned to flexsurfer

[2020-11-16 14:22] licaon-kter commented on #8512
Also...you set it to `0` in the recipe, why? Sounds...ummm...backwards?

[2020-11-16 14:26] jakubgs commented on #8512
Oh damn, I did. Maybe I changed it when testing and didn't change it back. Let me update that.

[2020-11-16 15:41] cammellos opened #11438 "Add "sent" message confirmations"
[code]

### Description

Next to each message sent  there should be an icon indicating the state of the message:

- The message is actually being sent (I will refer to it as the `sending` state)
- The message has been propagated to the network (I will refer to it as the `sent` state)

### Out of scope

- Transaction messages
### Designs

https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?nod

[2020-11-16 15:43] cammellos opened #11439 "Add "delivered" message confirmations to 1-to-1 messages"
[code]

### Description

Next to each 1-to-1 sent chat message there should be an icon indicating the state of the message:

- The message is actually being sent (I will refer to it as the `sending` state)
- The message has been propagated to the network (I will refer to it as the `sent` state)
- The message has reached its destination (I will refer to it as the `delivered` state)

### Out of scop

[2020-11-16 16:04] #11411 closed, assigned to flexsurfer

[2020-11-16 16:13] jakubgs commented on #8512
Looks like queries without metrics name like `count({__name__=~".+"}) by (__name__)` are not supported:
https://github.com/cortexproject/cortex/issues/416

[2020-11-16 16:16] jakubgs commented on #8512
Doesn't seem like that fixed the issue:
https://www.virustotal.com/gui/file/12e37557f5c445ad998b7a78c4dc8f8c34866d4b2687c30160b21b07e6b92ad0/details

[2020-11-16 16:27] jakubgs commented on #8512
It might make sense to migrate to a better caching solution for `storage` service. Right now each node in the Cortex cluster uses its own instance of Redis, which duplicates data. A better solution would involve a cluster of either Redis or Memcached nodes that run on the same hosts as Cortex and share data.
https://cortexmetrics.io/docs/chunks-storage/caching/#cortex-caching-options
https://corte

[2020-11-17 07:23] Ferossgp commented on #8512
@jakubgs I fixed only the google dependency which was pulled by the referral program. Can you look at the dependency tree to see who pulls the rest?

[2020-11-17 09:35] jakubgs commented on #8512
Sure, but can you confirm that:
[code]
Does nothing? Because it seems to do nothing.

[2020-11-17 09:43] jakubgs commented on #8512
Here is the result of:
[code]
https://gist.github.com/jakubgs/4f66650f3bb3dbddd48d60565ec3eca0

Some filtering:
[code]

[2020-11-17 09:45] jakubgs commented on #8512
The nice thing is, `GOOGLE_FREE=1` is doing something, because if I use `GOOGLE_FREE=0` I also get these:
[code]

[2020-11-17 09:46] jakubgs commented on #8512
BTW, I removed the:
[code]
Part from `android/app/build.gradle` and re-run `GOOGLE_FREE=1 ./gradlew app:dependencies` and I get the same result.
So it seems to be useless.

[2020-11-17 09:58] flexsurfer commented on #8512
so it seems deps are good, so do we know where Interesting Strings come from ?

[2020-11-17 09:59] flexsurfer commented on #8512
i can't find these strings not in sources, not in dependencies

[2020-11-17 10:05] jakubgs commented on #8512
This is the APK that `licaon-kter` built:
https://status-im-builds.ams3.digitaloceanspaces.com/im.status.ethereum_2020111309.apk
But that's before I fixed https://github.com/status-im/status-react/issues/8512#issuecomment-728092741.

[2020-11-17 11:35] flexsurfer commented on #11215
@johnlea-quiup the way how pending tx can be canceled is sending a new tx with the same nonce, usually its 0ETH to yourself, but this tx will cost some money for the gas. and there are still option on how fast you want to cancel it, not sure if we should have the option to change gas price, but probably we should inform user that we're sending 0ETH to himself

[2020-11-17 11:36] flexsurfer commented on #11215
![image](https://user-images.githubusercontent.com/11790366/99385575-7455fb80-28d1-11eb-901b-f2e7ad82e635.png)

i want to implement the same sheet but saying "canceling transaction"

[2020-11-17 12:24] churik opened #11441 "Crash after getting app back from background after upgrade from 1.8 to 1.9"
# Bug Report

## Problem
After getting back from the background app is crashed.
Reopening app after a crash doesn't help to avoid issue.
After several manual relogins issue is not appeared anymore

#### Expected behavior
no crash

#### Actual behavior
app is crashed

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Install 1.8
- Enable biometric authenticatio

[2020-11-17 13:08] churik commented on #11441
[code]

Full logcat:
[logcat-cr.log](https://github.com/status-im/status-react/files/5553603/logcat-cr.log)

[2020-11-17 13:20] flexsurfer commented on #11441
[code]

[2020-11-18 08:19] cammellos commented on #5202
@churik I would list this as won't fix , closing it for now, please feel free to re-open if you think otherwise. Thanks!

[2020-11-18 08:19] #5202 closed, assigned to nobody

[2020-11-18 09:36] cammellos commented on #8573
Not sure if it's still an issue, can't test using the link as it returns a 404, feel free to re-open if that's still an issue.

[2020-11-18 09:36] #8573 closed, assigned to nobody

[2020-11-18 09:37] cammellos commented on #8535
@hesterbruikman @errorists are we still going for this or we should close the issue?

[2020-11-18 09:38] cammellos commented on #8143
I believe for now we will not store the user password in memory for security reason, we might revisit though in the future at which point we will re-open, thanks for the feature suggestion!

[2020-11-18 09:38] #8143 closed, assigned to nobody

[2020-11-18 10:19] #11441 closed, assigned to nobody

[2020-11-18 10:36] churik opened #11446 "Can't sell item on opensea"
# Bug Report

## Problem
Some from 'sign' methods don't work as expected.
After signing got "Your wallet failed to sign your order correctly"
Issue is not reproducible on 1.8 release.
(maybe it is related to format of signing message, which is 0X.....)

#### Expected behavior
can sign order

#### Actual behavior
![IMAGE 2020-11-18 11:21:22](https://user-images.githubusercontent.com/4557972/9951790

[2020-11-18 10:41] churik commented on #11446
if I use "Sign typed message" in simpledapp.eth with `0x12344...`:
![IMAGE 2020-11-18 11:40:56](https://user-images.githubusercontent.com/4557972/99520046-ecd0c100-2992-11eb-85f7-bb5f826e2d38.jpg)

[2020-11-18 16:27] #11446 closed, assigned to flexsurfer

[2020-11-19 07:18] #11416 closed, assigned to nobody

[2020-11-19 07:51] cammellos opened #11450 "Large messages are dropped"
# Bug Report

## Problem

Large messages are dropped and never sent in some cases, this applies mainly to images and batched images.

#### Expected behavior

The message is sent and received.

#### Actual behavior

The message is not sent

#### Notes

Upon investigation this is due to 2 factors:

1) Slow devices
2) Slow upload speed

In the case of 1, a slow device will take a long time calculatin

[2020-11-19 10:36] gravityblast commented on #11392
closed with #11447

[2020-11-19 10:36] #11392 closed, assigned to gravityblast

[2020-11-19 11:13] flexsurfer commented on #11215
![image](https://user-images.githubusercontent.com/11790366/99659044-95992200-2a60-11eb-8f7b-4b477db9396f.png)

[2020-11-19 13:42] cammellos commented on #11450
One of the reasons is addressed here:
https://github.com/status-im/status-react/pull/11451

There were actually some raw images being sent, though I believe the issue is still there, I can replicate with slow upload speed.

[2020-11-19 15:43] shivekkhurana commented on #11377
This issue not straightforward to implement and will need some changes to how the @ "at" mentions work.

## Current process
- An on-change handler is triggered each time a character is entered
  - This handler is triggered at different places depending on the platform but has the same effect
- A matching function computes the positions of `@` signs
  - For the text: `Yo you @fds Dodd’s fest @fds d

[2020-11-19 15:52] churik opened #11452 "Using "Take photo" option it is possible to attach > 1 image"
# Bug Report

## Problem
Based on discussion in `release` channel, for now better solution is to disable sending images in a batch.
It is disabled when selecting from gallery, but when selecting option "Take photo", you can attach even more > 5 photos.

#### Expected behavior
1 image

#### Actual behavior
![IMAGE 2020-11-19 16:50:16](https://user-images.githubusercontent.com/4557972/99689452-4e725

[2020-11-19 16:03] churik opened #11453 "Navigation to main wallet screen is not possible if tapping on transaction notification on IOS and login"
# Bug Report

## Problem
As IOS build is logged out automatically if login with face-id is not enabled and notifications are not cleared automatically, the likelihood of this issue is quite high.
When you tap on transaction notification and login, it is redirected to account view and you can't get back to main wallet view.
The only way is to manually relogin.

#### Expected behavior
main wallet vi

[2020-11-20 07:09] shivekkhurana commented on #11337
https://github.com/status-im/status-react/pull/11423 changes the app aspect of things (settings to sync settings and mailserver label to history nodes). The error messages can probably be handled in the Lokalise app.

Update: en.json needs to be handled in this PR and other languages can be handled in Localise app.

[2020-11-20 07:24] shivekkhurana commented on #11377
🦆 Thinking out loud here, but one possible solution can be to rebuilt the auto-complete in a simpler way:
[code]

Then this config will be passed to an on-change handler, with the current input value. This function will look for the last match (ie. if there are multiple anchors in a text, like "Hi @ my name is @shivek and I'm talking in channel #sta", then only #sta will be processed. Everything e

[2020-11-20 09:15] #11452 closed, assigned to cammellos

[2020-11-20 09:24] guylouis opened #11457 "Meta-transaction data shown in the request screen doesn't scroll properly"
Related to status-im/status-react#11392

When using the request screen (all flavors: generic, payment and redeem), if the user clicks on "show transaction data", the app shows the meta transaction data.

Problem: there is a UI issue and this data is not always scrollable

[2020-11-20 12:54] churik opened #11459 "'Set max' throws 'not enough eth for gas' if address recipient is a contract"
# Bug Report

## Problem
When gas limit is not 21000 (instead of 21000 it is 26853), it is possible when recipient address is a contract, at attempt to use "Set max" function it throws "Not enough eth for gas" error.
Not sure it is a common case, also not sure what applications are using contract address as deposit option for ETH.

#### Expected behavior
can use "Set max"

#### Actual behavior

##

[2020-11-20 12:54] churik commented on #11459
cc @flexsurfer

[2020-11-20 13:05] churik opened #11460 "'Set max' option is not working if "Send transaction" screen was opened using universal scanner"
# Bug Report

## Problem
When scanning QR code with wallet address using universal QR code scanner or QR code scanner in wallet, "Set max" option does nothing.
![BAACAgQAAxkBAAEtg2Nft74ea1UWPnrqdV9KPzcsFfC8QQACyggAApKSwVE6GTjljgizgh4E_1605877392 96](https://user-images.githubusercontent.com/4557972/99803237-63a7be80-2b39-11eb-8d44-a49aa9e1458e.gif)

#### Expected behavior
can set max

#### Actual

[2020-11-21 17:39] wighawag commented on #6538
I am having the same issue with latest status
I can debug website launched on Android chrome but not on status

I can also debug Metamask webview

[2020-11-23 06:00] shivekkhurana commented on #11337
Unassigned myself because the remaining changes are at the website level.

[2020-11-23 09:56] cammellos opened #11461 "Error on creation of account saving settings for urls whitelist"
When creating an account, saving a field of settings fails with:
[code]
This should have no impact on the functionality of the app, but the request should not be sent.

[2020-11-24 00:34] danimesq opened #11466 "Use same MetaMask's gwei settings for XDai"
Sending a token on XDai network sometimes fails, unlike on MetaMask.

[2020-11-24 00:34] danimesq opened #11467 "Add Matic alongside XDai"

[2020-11-24 07:56] shivekkhurana commented on #11431
The first iteration will happen only on Android devices, because Keycard for iOs doesn't exist yet.

[2020-11-24 13:31] cammellos commented on #11467
thanks for the feature request, @hesterbruikman is that some token we would like to support?

[2020-11-24 13:35] flexsurfer opened #11468 "Hide/show option for accounts in the wallet"
# Feature Issue

Hide/show option for accounts in the wallet

### User Story

As a user, i want to hide accounts in the wallet

### Description

Deleting accounts is a complex issue, as a quick solution we could implement a hide feature

### Acceptance Criteria

It's possible to hide accounts in the wallet

[2020-11-24 15:01] hesterbruikman commented on #11467
Depends on what dapps have been deployed on Matic and whether they are commonly used among our user base. I suspect Decentraland is or will be available on Matic (don't know for sure), but that's a dapp that's not too convenient on mobile. Other than that, I don't know of dapps deployed to call for adding the network by default.

@DaniellMesquita do you know of other dapps deployed on Matic? Anyth

[2020-11-24 15:21] flexsurfer opened #11469 "Browser bookmarks"
# Feature Issue

![image](https://user-images.githubusercontent.com/11790366/100113724-eb126c00-2e70-11eb-94a0-f99c96e9abfa.png)

### User Story

As a user i would like to have bookmarks in the browser

[2020-11-24 15:48] flexsurfer opened #11470 "Statuses issues"
# Bug Report

1) Outgoing reaction alignment is wrong
![image](https://user-images.githubusercontent.com/11790366/100117181-d3d57d80-2e74-11eb-9c08-dd4624b52d63.png)

2) statuses page is flickering when there are images

3) swap profile and statuses tabs

[2020-11-24 17:43] Serhy opened #11472 "Sent TXs never reach the pool if to change network for account multiple times"
# Bug Report

## Problem

At some point it may happen that when user sends transaction it is displayed as Pending and has hash in transaction history, however, it never appears in Pending state in the actual network (can't find in Etherscan), even if Gas Price was twice more than current recommended.
It reproducible when for the same account changing network back and forth (not app restart but re-

[2020-11-24 17:50] Serhy commented on #11472
cc @hesterbruikman @cammellos This happens in Mainnet, but I'm not sure about it's priority because it happens at least when changing the network twice including sending TX in the 'test' network and funds were not lost, - TX simply fails at some point to be broadcasted (if it's correct word to use for reason of this bug, - we still see in Status tx hash)

This also could be possible answer to 'I'm

[2020-11-24 18:28] hesterbruikman commented on #11021
Covered by local notifications for tx and #11256

[2020-11-24 18:28] #11021 closed, assigned to nobody

[2020-11-24 18:49] 3esmit commented on #10242
Make sure that the rates from FIAT <-> CRYPTO are also updated with this gesture.

[2020-11-24 19:46] hesterbruikman opened #11473 "Update copy and styling advertiser referral link (excl StarterPack)"
# Problem
- Title of current popup doesn't meet design
- Copy has been updated to be more explicit

Popup appears when user onboards with referral link of type 'AdvertiserRegistration'

### User story
As a user
I want to be explicitly requested to attribute a referrer
so that I can follow a commercial link to install Status while maintaining control over the data I share with them in return

[Desi

[2020-11-24 20:35] hesterbruikman opened #11474 "Add human validation for referral program"
# Feature Issue
Add human validation component (e.g. Captcha)

### User Story
As a system
I want to ask the user to complete a task that is difficult for a machine
So that I know that the user is likely human and I can determine what permissions and attributions to apply

### Description
With permissionless account creation, it is trivial to bypass any blacklists and spam whitelists with requests;

[2020-11-24 20:47] hesterbruikman commented on #11474
@Simona-Pop @cammellos here's an issue to add human validation (e.g. captcha). Not included as concept requirement, but I think an important one:
- Serves referral program release as soon as possible

Referral program is instrumental for growth and one of the fasting things we can do to help people 'earn SNT' on day 0.  As I imagine there are a lot of directions we can go into both in terms of tas

[2020-11-24 22:24] danimesq opened #11475 "Status: images bellow text as default, but also configurable position"
Images are on top of text, unlike the conventional - which is ok - but also different from its edit/preview.

Images should be bellow text, or configurable.
https://twitter.com/MesquitaDaniell/status/1331362400948412419

[2020-11-24 23:10] bluebibi commented on #11475
unsubscribe

2020년 11월 25일 (수) 오전 7:24, Daniell Mesquita <notifications@github.com>님이 작성:

[2020-11-25 08:40] errorists commented on #11470
another one, in the unfurled link container, can we have all corner radius to be the same 16 for status updates? similar to images, we shouldn't be using the chat's teardrop shape here

[2020-11-25 08:41] errorists commented on #11470
![image](https://user-images.githubusercontent.com/4932774/100202947-42145180-2f02-11eb-987f-7cfc158ae0bf.png)

everyone is mentioning this, can we change the translation to just `Fetch more` without the `messages`

[2020-11-25 08:44] errorists commented on #11470
would be super cool to figure this out, place image and text in a single update exactly how they appear when you compose them in the My Status modal https://github.com/status-im/status-react/issues/11475

[2020-11-26 13:51] #11214 closed, assigned to flexsurfer

[2020-11-26 13:51] #11215 closed, assigned to flexsurfer

[2020-11-26 16:57] #11438 closed, assigned to flexsurfer

[2020-11-29 16:41] manishoo commented on #4391
Hey @StatusSceptre, do you still want to see this issue fulfilled?

[2020-11-30 09:31] qoqobolo opened #11482 "Jump to the original message by clicking on the reply box"
# Feature Issue

Add navigation to the message that was replied to.

### User Story

As a user, I would like to navigate up to the original message by clicking on the reply box.

<img width="396" alt="Screenshot 2020-11-30 at 10 29 21" src="https://user-images.githubusercontent.com/67952253/100592063-ea595a00-32f6-11eb-9f10-7fbec157e1ed.png">

### Notes

Feature request was posted here:
https://di

[2020-11-30 10:57] qoqobolo opened #11488 "No "Delete" option for a group chat from the home screen if user has been removed from it"
# Bug Report

## Problem

If a group chat admin removes a user from a chat, the user will not be able to delete that group chat from the chat list on the home screen.

#### Expected behavior

Option "Delete" for group chat by long tap or via group info if the user has been removed by admin.

#### Actual behavior

No option.

![ezgif com-gif-maker (7)](https://user-images.githubusercontent.com/6795

[2020-11-30 11:08] #11351 closed, assigned to nobody

[2020-11-30 11:10] cammellos commented on #11351
Closing this for now, as the most likely culprit was using bloom filters instead of topics in the query. I have tested it in an artificial environment and it should solve the issue, but the ultimate test is the users.
Will be released in 1.10. Feel free to re-open if it's still an issue in 1.10.

[2020-11-30 11:11] Serhy opened #11489 "'No protocol method DateTimeProtocol.plus- defined for type null:' error when block contact"
# Bug Report

## Problem

There is an error appears after contact is blocked from public chat:  '`No protocol method DateTimeProtocol.plus- defined for type null`
Originally reported by user, I was able able to reproduce sporadically after 30+ contacts was blocked from public chat. Then all further contact blocks worked fine after app restart.
Logcat attached with log error.

#### Expected behavio

[2020-11-30 11:49] #10480 closed, assigned to nobody

[2020-11-30 16:14] #10941 closed, assigned to nobody

[2020-11-30 16:15] cammellos commented on #10679
Closing this, feel free to re-open if still applies

[2020-11-30 16:15] #10679 closed, assigned to antdanchenko

[2020-11-30 16:16] cammellos commented on #8043
This looks stale, feel free to re-open if still needed

[2020-11-30 16:16] #8043 closed, assigned to nobody

[2020-11-30 16:17] cammellos commented on #9181
@churik is this still an issue?

[2020-11-30 16:19] cammellos commented on #9159
Closing in favor of https://github.com/status-im/status-react/issues/10973

[2020-11-30 16:19] #9159 closed, assigned to nobody

[2020-11-30 16:20] cammellos commented on #5787
Closing as it's currently not anymore in scope for now, thanks for the suggestion!

[2020-11-30 16:20] #5787 closed, assigned to nobody

[2020-11-30 16:20] cammellos commented on #5354
Closing as this is going to be part of a large wallet redesign effort and stale

[2020-11-30 16:20] #5354 closed, assigned to nobody

[2020-11-30 16:21] cammellos commented on #9140
@churik is this still relevant?

[2020-11-30 16:22] cammellos commented on #8920
@flexsurfer I'll close this for now as looks stale, feel free to re-open if still relevant (just doing some spring cleaning :) )

[2020-11-30 16:22] #8920 closed, assigned to Ferossgp

[2020-11-30 16:22] cammellos commented on #8909
This is stale given the new wallet redesign

[2020-11-30 16:22] #8909 closed, assigned to nobody

[2020-11-30 16:23] #8857 closed, assigned to nobody

[2020-11-30 16:23] cammellos commented on #8535
Closing for now as seems like there's no activity and probably stale

[2020-11-30 16:23] #8535 closed, assigned to nobody

[2020-11-30 16:24] cammellos commented on #8318
Closing for now as that requires a considerable amount of effort

[2020-11-30 16:24] #8318 closed, assigned to churik

[2020-11-30 16:25] cammellos commented on #11140
I believe the tasks have now been closed, feel free to re-open if necessary

[2020-11-30 16:25] #11140 closed, assigned to nobody

[2020-11-30 16:27] qoqobolo opened #11493 "Redundant borders for system messages in group chats on iOS"
# Bug Report

## Problem

System messages in a group chat have pieces of borders on iOS devices.

#### Expected behavior

No borders

#### Actual behavior

<img width="709" alt="Screenshot 2020-11-30 at 17 06 28" src="https://user-images.githubusercontent.com/67952253/100635437-ce72aa00-3330-11eb-9756-2e0c2ac7f2dc.png">

### Reproduction

- Create a group chat
- Check system messages

### Addition

[2020-11-30 16:28] cammellos commented on #10644
@nicholasmueller could you please add some repro steps to the issue and re-open if still an issue?
Thank you!

[2020-11-30 16:28] #10644 closed, assigned to nobody

[2020-11-30 16:28] cammellos commented on #11168
Probably a won't fix, feel free to re-open @Serhy if you think otherwise!

[2020-11-30 16:30] churik commented on #9181
Yes, still the issue in

[2020-11-30 16:31] cammellos commented on #11073
Closing this issue for now as likely stale/we are not able to replicate, feel free to re-open if still an issue, thanks!

[2020-11-30 16:31] #11073 closed, assigned to nobody

[2020-11-30 16:32] cammellos commented on #10662
Closing this for now until we find a good use case for it (i.e when we are ready to send > 1MB images)

[2020-11-30 16:32] #10662 closed, assigned to nobody

[2020-11-30 16:37] churik commented on #9140
yes, still an issue in 1.9

[2020-11-30 17:14] hesterbruikman commented on #11474
Potential task discussed with @johnlea-quiup:

- Referral bonus after the address that received StarterPack is used to buy stickers or register a stateofus ENS name

More generally the idea here is:
- to include tasks with on chain interaction; not requiring in app tracking
- spend funds on revenue generating activities (opposed to onboarding alone, which in itself only costs the org)
- stacked re

[2020-12-01 04:38] guylouis commented on #11387
To be tested again when testing for keycard resumes. I thought this was managed.
Doesn't it depend on which operation the user engages with the unpaired card (which action is not mentioned above) ?

[2020-12-01 08:31] #10516 closed, assigned to nobody

[2020-12-01 08:46] hesterbruikman commented on #10663
Closing as yet undefined

[2020-12-01 08:46] #10663 closed, assigned to nobody

[2020-12-01 09:05] #10501 closed, assigned to nobody

[2020-12-01 09:05] hesterbruikman commented on #10501
see Quo: https://github.com/status-im/status-react/tree/10a814764d253f77e9c1ddd020a8d6b56be5c634/src/quo

[2020-12-01 09:17] #10510 closed, assigned to nobody

[2020-12-01 09:20] hesterbruikman commented on #10512
Closing epic with one issue remaining that given it's size doesn't justify an epic

[2020-12-01 09:21] #10512 closed, assigned to nobody

[2020-12-01 09:43] hesterbruikman commented on #10638
closing in favor of #11238

[2020-12-01 09:43] #10638 closed, assigned to nobody

[2020-12-01 09:45] hesterbruikman commented on #9699
@errorists @Ferossgp are the issues described in this issue still relevant?

[2020-12-01 09:58] cammellos commented on #6511
Closing for now as we will be tracking feature requests on https://discuss.status.im/ from now on, feel free to create a feature request there. Thanks!

[2020-12-01 09:58] #6511 closed, assigned to nobody

[2020-12-01 09:59] #10518 closed, assigned to nobody

[2020-12-01 09:59] cammellos commented on #10113
Tracked here https://github.com/status-im/status-react/issues/11379

[2020-12-01 09:59] #10113 closed, assigned to nobody

[2020-12-01 09:59] #10522 closed, assigned to nobody

[2020-12-01 10:00] #10524 closed, assigned to nobody

[2020-12-01 10:01] #10526 closed, assigned to nobody

[2020-12-01 10:08] hesterbruikman commented on #10529
Closing as main issue #3997 is blocked and in icebox

[2020-12-01 10:08] #10529 closed, assigned to nobody

[2020-12-01 10:09] #10532 closed, assigned to nobody

[2020-12-01 10:18] hesterbruikman commented on #10505
cc @simonam88 @j-zerah here's the design for phase 0 of buying crypto, i.e. adding a link to category on dap.ps

[2020-12-01 10:23] hesterbruikman commented on #10534
No need for epic. Issue #10359 still relevant

[2020-12-01 10:23] #10534 closed, assigned to nobody

[2020-12-01 10:26] cammellos commented on #11475
Tracked here https://github.com/status-im/status-react/issues/10801

[2020-12-01 10:26] #11475 closed, assigned to nobody

[2020-12-01 10:28] cammellos commented on #11337
Closing this as it's probably best to track in a separate repo if all the changes are on the website, cc @hesterbruikman

[2020-12-01 10:28] #11337 closed, assigned to nobody

[2020-12-01 10:29] hesterbruikman commented on #10542
Closing in favor of #11219

[2020-12-01 10:29] #10542 closed, assigned to nobody

[2020-12-01 10:30] #10642 closed, assigned to nobody

[2020-12-01 10:50] rasom opened #11497 "Watch transfers history while in app is in the background (android)"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want tx history to be fetched in the background to receive notifications and to be aware about incoming transfers.

### Description

The app keeps checking history every N minutes (currently 20) while it is in the background. In case if user spent more than M minutes (3 currently)

[2020-12-01 12:59] churik opened #11499 "Several wallet push notifications are arrived for sender when sending tokens"
# Bug Report

## Problem
When sending some assets from wallet several PNs are coming for sender, which is confusing.
Reproduced in develop 01/12/2020.
Was found during testing  https://github.com/status-im/status-react/pull/11478

##  **Steps:**
1) restore multiaccount from seed phrase
2) enable wallet transactions
3) send tokens to another multiaccount

##  **Expected result:**
1 PN

##  **Actual

[2020-12-01 13:45] #9181 closed, assigned to cammellos

[2020-12-01 15:45] #9316 closed, assigned to nobody

[2020-12-01 15:45] #9318 closed, assigned to nobody

[2020-12-01 15:45] #9324 closed, assigned to nobody

[2020-12-01 15:45] #9325 closed, assigned to nobody

[2020-12-01 15:45] #9329 closed, assigned to nobody

[2020-12-01 15:45] #9341 closed, assigned to nobody

[2020-12-01 15:45] #9344 closed, assigned to nobody

[2020-12-01 15:45] #9346 closed, assigned to nobody

[2020-12-01 15:45] #9347 closed, assigned to nobody

[2020-12-01 15:46] #9348 closed, assigned to nobody

[2020-12-01 15:46] #9353 closed, assigned to nobody

[2020-12-01 15:46] #9355 closed, assigned to nobody

[2020-12-01 15:46] #9356 closed, assigned to nobody

[2020-12-01 15:46] #9366 closed, assigned to nobody

[2020-12-01 15:46] #9367 closed, assigned to nobody

[2020-12-01 15:46] #9368 closed, assigned to nobody

[2020-12-01 15:46] #9370 closed, assigned to nobody

[2020-12-01 15:46] #9382 closed, assigned to nobody

[2020-12-01 15:46] #9383 closed, assigned to nobody

[2020-12-01 15:46] #9384 closed, assigned to nobody

[2020-12-01 15:46] #9385 closed, assigned to nobody

[2020-12-01 15:46] #9386 closed, assigned to nobody

[2020-12-01 15:46] #9387 closed, assigned to nobody

[2020-12-01 15:46] #9388 closed, assigned to nobody

[2020-12-01 15:46] #9598 closed, assigned to nobody

[2020-12-01 15:46] #9600 closed, assigned to nobody

[2020-12-01 15:46] #9601 closed, assigned to nobody

[2020-12-01 15:47] guylouis commented on #9681
The keycard logo is in the account overview and we can consider it's enough

[2020-12-01 15:47] #9681 closed, assigned to nobody

[2020-12-01 15:51] guylouis commented on #9969
this is done

[2020-12-01 15:51] #9969 closed, assigned to nobody

[2020-12-01 16:11] guylouis commented on #10032
01/12/2020 this issue is still relevant
see the dangerous operation screen that is shown here :
![image](https://user-images.githubusercontent.com/11461437/100765818-37712500-33f8-11eb-9c99-451800754326.png)

[2020-12-01 16:48] churik opened #11502 "Sometimes pull-ro-refresh in individual account view leads to endless spinner"
# Bug Report

## Problem
Following to https://github.com/status-im/status-react/pull/11478#issuecomment-736486097

Sometimes on switching to WI-Fi from cellular network or when WI-FI signal is weak.
Also faced with this issue after getting 429 error (too many requests) in e2e (@rasom please tell me if it should be reported separately)
![image](https://user-images.githubusercontent.com/4557972/1007

[2020-12-01 18:21] cammellos commented on #9024
Closing this as probably stale, feel free to re-open if necessary

[2020-12-01 18:21] #9024 closed, assigned to nobody

[2020-12-01 18:24] cammellos commented on #6912
Closing this,  it is still relevant, but given we have push notifications those are likely leaking much more metadata

[2020-12-01 18:24] #6912 closed, assigned to nobody

[2020-12-01 20:38] #10483 closed, assigned to nobody

[2020-12-02 08:32] cammellos commented on #10657
Closing as tracked already here https://github.com/status-im/status-react/issues/5162 and dice2.win seems to be explicitly only supporting trust wallet.

[2020-12-02 08:32] #10657 closed, assigned to nobody

[2020-12-02 08:46] churik commented on #10181
not relevant anymore in 1.9

[2020-12-02 08:46] #10181 closed, assigned to nobody

[2020-12-02 08:51] #10065 closed, assigned to cammellos, shivekkhurana

[2020-12-02 09:23] churik commented on #10777
cc @cammellos
still very visible issue in commands

[2020-12-02 09:26] churik commented on #11069
have you seen it again @qoqobolo?

[2020-12-02 09:32] qoqobolo commented on #11069
@churik nope, never again. The issue can be closed for now

[2020-12-02 09:33] #11069 closed, assigned to nobody

[2020-12-02 09:39] #11470 closed, assigned to flexsurfer

[2020-12-02 09:41] rasom commented on #11502
@churik the issue you see on that screen is unrelated to tx history, this happened on sending transaction

[2020-12-02 10:13] cammellos commented on #10335
We upgraded to `1.6.0`, we could not upgrade to the latest version as we are running on some issues with `1.6.5`/`1.6.6`.
I have looked at open CVE https://www.cvedetails.com/vulnerability-list/vendor_id-7637/Bouncycastle.html here and I could only find one issue that affects `1.6.3` only, but could not find anything that affects `1.6.0`, so it should be fixed :crossed_fingers: .
Please re-open if

[2020-12-02 10:17] churik commented on #9684
IMO it is duplicate of https://github.com/status-im/status-react/issues/9976
Closing for now, free to reopen

[2020-12-02 10:17] #9684 closed, assigned to nobody

[2020-12-02 10:19] churik commented on #5242
Should be rechecked again after https://github.com/status-im/status-react/issues/11469

[2020-12-02 10:39] churik opened #11505 "A way to add custom ERC-721 assets"
# Bug Report

## Problem
Currently added ERC-721 assets are treated as ERC-20 assets.
That can cause issues at attempt to send them to another wallet.
Originally reported by user:

#### Expected behavior
new asset in Collectibles, can see them in Opensea

#### Actual behavior
![IMAGE 2020-12-02 11:37:28](https://user-images.githubusercontent.com/4557972/100861926-c29ef900-3492-11eb-8770-c6df62c0ed

[2020-12-02 10:39] Neustradamus commented on #10335
@cammellos: Thanks for your reply but badly the problem is always here, it is not solved, please reopen this ticket:
- https://github.com/status-im/status-react/search?q=bouncycastle

I confirm you that it is important to have up-to-date Bouncy Castle.

Note: Other applications have been updated to better Bouncy Castle 1.65/1.66...

[2020-12-02 10:43] qoqobolo commented on #10772
The issue is not reproducible on Nightly 2/12

[2020-12-02 10:43] #10772 closed, assigned to nobody

[2020-12-02 10:55] cammellos commented on #10335
@Neustradamus I wasn't checking `nix/*` files, I am not sure that correctly describes the dependencies we use, but rather what's available.

@jakubgs could you confirm if that's correct? (i.e what's listed under `nix/*` is not what we pull in, but rather we should trust `app:dependencies`)

I am running the command:
[code]

and I have attached the output which only includes `1.6.0`

Yes, I believe

[2020-12-02 11:07] qoqobolo commented on #10398
The issue is not reproducible on Nightly 2/12

[2020-12-02 11:07] #10398 closed, assigned to nobody

[2020-12-02 11:23] qoqobolo commented on #10187
The issue is not reproducible on Nightly 2/12

[2020-12-02 11:23] #10187 closed, assigned to nobody

[2020-12-02 11:58] churik opened #11507 "Transactions are failed with 429 Too Many requests too often (Ropsten)"
# Bug Report

## Problem
Around 50% of transaction e2e currently failed with error  429 Too Many requests on Ropsten network in e2e builds.
![image](https://user-images.githubusercontent.com/4557972/100869798-d865eb80-349d-11eb-8b84-3c0d8cd10946.png)

As @rasom said, it can be fixed by using more tokens for Infura.

#### Logs

Session: https://app.saucelabs.com/tests/0a6cb6cd0fc64ae388ea4c5db0e2b5

[2020-12-02 12:10] cammellos commented on #11507
@rasom seemsl like the best way to address this is to back-off the amount of seconds and retry, (we could create multiple tokens as well, but this seems to be the first step to try), would you agree?

[2020-12-02 13:01] churik commented on #11507
seems that issue somehow related to #11478  PR
Couldn't find this failure in e2e tests before this PR.

[2020-12-02 13:04] jakubgs commented on #10187
Yep, I don't see it either, since it's not using an overlay anymore.

[2020-12-02 13:16] jakubgs commented on #10335
@cammellos These versions are `1.60`, not `1.6.0`. And as far as I can tell the dependency on `1.56` is caused by `sdk-common:26.5.3`, which in turn comes from `lint-gradle:26.5.3`:
[code]
Which I can confirm using [go-maven-resolver](https://github.com/status-im/go-maven-resolver):
[code]
The dependency on `1.60` appears to be pulled in by `react-native-status-keycard`:
[code]
[code]
Not sure abo

[2020-12-02 13:27] jakubgs commented on #10335
Okay, it appears `1.48` is coming from an ancient `gradle:1.5.0`:
[code]
[code]
Which in turn comes from the `react-native-fs` module:
https://github.com/status-im/status-react/blob/d2493c0725c69138ed8029f50ad99782cd55d922/package.json#L45
Which on version `2.14.1` seems to be indeed using Gradle `1.5.0`:
https://github.com/itinance/react-native-fs/blob/2.14.1/android/build.gradle#L11
Which has a

[2020-12-02 13:59] jakubgs commented on #10335
What's defined in `nix/deps/gradle` is the result of calling:
https://github.com/status-im/status-react/blob/dd6b5a78304a5091a49cf3f98418b6b449335372/nix/deps/gradle/get_deps.sh#L32-L35
For every `react-native-*` dependency we have plus our app itself.
Which essentially calls `:buildEnvironment` and `:dependencies`.

[2020-12-02 14:31] Ferossgp opened #11510 "Add support for custom UIMenuController to text input"
Add support for custom UIMenuController so we can add more edit actions for chat input.

[2020-12-02 14:40] churik commented on #11161
Behavior  with hashtag (https://github.com/status-im/status-react/issues/11161#issuecomment-693426432) is still reproducible
UPD: reproducible on 1.17

[2020-12-03 08:56] cammellos commented on #11450
Looking at TTL.
Essentially the flow for sending messages is not really a good flow for bandwidth/cpu constrained devices.

How it works is:

1) The message TTL/POW is calculated.
2) The message is added to the pool of messages to be sent
3) At interval of 300 ms messages are broadcasted to each peer concurrently, batched together

This is problematic for a few reasons:

- Between 1 & 3 a lot of t

[2020-12-03 14:48] #5504 closed, assigned to nobody

[2020-12-03 17:30] #10801 closed, assigned to cammellos

[2020-12-04 10:36] cammellos commented on #9851
This is due to the fact that pending transaction originating in the app are not stored https://github.com/status-im/status-react/issues/9976 , one way to fix this is to at least store in the database the pending transactions that are created within the app.

[2020-12-04 10:41] cammellos commented on #9851
We can probably fix in an easier way, by assuming that if the transaction is not in the history is pending, as my understanding is that failed transactions will show in the history.

[2020-12-04 11:42] #8280 closed, assigned to cammellos

[2020-12-04 15:07] #5509 closed, assigned to nobody

[2020-12-04 15:10] cammellos commented on #6504
closing as related to old commands

[2020-12-04 15:10] #6504 closed, assigned to nobody

[2020-12-06 18:05] bitsikka commented on #11474
@hesterbruikman for this

How about Human verification via BrightID?

I was scanning through Gitcoin GR8 hackathon bounties that is going on right now and saw BrightID sponsored one

https://github.com/BrightID/BrightID/issues/657

Immediately, my head started turning with ideas about status integration. Having limited knowledge of BrightID at the time, I submitted a rough work plan that does not

[2020-12-07 04:53] dependabot-preview[bot] opened #11518 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/mobile/js_files/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs

[2020-12-07 10:19] #9851 closed, assigned to cammellos

[2020-12-07 10:50] cammellos opened #11520 "Don't keep using the same mailservers if the requests are failing"
# Bug Report

## Problem

We had a mailserver outage recently whereby 2 mailservers (central-02 & central-03) were throwing errors upon request.

The system correctly swapped mailserver when it was happening, but it would keep re-selecting them as they had the best ping time for some users.

#### Expected behavior

Mailservers that are not responding correctly are not re-selected for at least some

[2020-12-07 11:02] cammellos commented on #11505
This is tracked here https://github.com/status-im/status-react/issues/10373 , closing for now, feel free to re-open if necessary

[2020-12-07 11:02] #11505 closed, assigned to nobody

[2020-12-07 11:15] #11518 closed, assigned to cammellos

[2020-12-07 11:57] cammellos commented on #9895
Looking at this.

It looks like we are not checking all wallet accounts.
The assumption is that https://github.com/status-im/status-go/blob/1237cc9ac63f3b94e367a702e06acdc72ce79fb5/services/ext/service.go#L310 should return all wallet accounts, but I see that only the default account is returned.

[2020-12-07 12:26] cammellos commented on #9895
checked and confirmed that the addresses are in the database and we should be querying them correctly, so it must be that at some point we are not correctly building up the map of addresses. investigating.

[2020-12-07 13:22] cammellos commented on #9895
Ok, found the issue, when generating a new account is not marked as a wallet, so it's not picked up by the validator, will fix.

[2020-12-08 07:11] Ferossgp commented on #11433
I don't see how we can implement these:
* Dialog incl Accept and join button remains visible in pending or confirmed state

How then we access the public chat after press on "Accept and Join chat"? If we redirect to the chat after acceptance, how then the user will access this screen again to see the pending screen?

* User can join chat without accepting Starter Pack and attributing referrer by r

[2020-12-08 07:38] Ferossgp commented on #11257
@churik debugging the issue and seems like the problem is that data wasn't loaded from the contract and not related to dark mode.

[2020-12-08 11:37] hesterbruikman commented on #11433
I see, I actually thought the content could be shown on the same screen; simply remaining at the top and populating messages below. If there's no way to do that, it'll need a different design

Yes, I think similarly I expected this to be the same public chat and was simply pointing out that the user is not 'forced' to accept in order to join the chat. There is a workaround, which means removing th

[2020-12-08 12:35] churik opened #11525 "`DEBUG` log level by default in PRs builds and e2e builds"
# Problem
Better to have more logs in PR builds, as in most of the cases developers need `DEBUG` level instead of default `INFO`.
Will reduce time for replicationg issues to get debug logs.

## Acceptance Criteria
- `DEBUG` is set as default in PR builds and in all e2e builds
- 5368 e2e is fixed to check default log level

[2020-12-08 15:13] Ferossgp opened #11527 "Add indent meta to custom macroses"
Add indent meta to custom macroses to share the same indentation for all code editors and contributors.

https://github.com/bbatsov/clojure-style-guide#indentation-metadata

[2020-12-08 15:24] Ferossgp opened #11528 "Add custom clj-kondo hooks for custom macroses"
Add custom [clj-kondo hooks](https://github.com/borkdude/clj-kondo/blob/master/doc/hooks.md) for macroses to ensure that lint rules are followed inside them.

Macros to be handled:
- `fx/defn` - similarly to defn with check on metadata for `::events`
- `fx/merge` - seems like it could be lint'ed as thread macro, plus warn on limitations
- `defview`
- `letsubs` - lint as let + check on types for th

[2020-12-09 12:03] guylouis commented on #11395
The URL where the banner should lead to is
https://get-keycard.status.im/

cc @AK87ST

[2020-12-09 12:45] qfrank commented on #11074
I'll look into it :)

[2020-12-09 14:30] guylouis commented on #11395
@cammellos
we've got the website ready
anything else needed top move this to the next column ?

[2020-12-09 14:33] cammellos commented on #11395
No, looks good to me, I can move it to Next

[2020-12-09 20:55] j-zerah opened #11534 "Due Dilligence"

[2020-12-10 07:26] #11520 closed, assigned to cammellos

[2020-12-10 07:27] #10777 closed, assigned to cammellos

[2020-12-10 10:35] qoqobolo opened #11535 "Push notification about incoming tx is received only after reopening the app"
# Bug Report

## Problem

If User receives an incoming tx while in the foreground, he will not receive a push notification about this until the application is reopened.

#### Expected behavior

Push notification for incoming tx is received while in the foreground without reopening the app.

#### Actual behavior

Reopening is required.

### Reproduction

Receiver:
- Enable notifications (background

[2020-12-10 11:32] hesterbruikman commented on #11474
@bitsikka Thanks for pointing to this. And break a leg with the Bright idea hackaton! Didn't know that was part of the grants round tbh.

I can see this used a permission to join a community. Where we could have a range of permission options for community creators to choose from. I'll try out the Bright ID Discord bot, that would be closest to the community use case.

As far as more dedicated use

[2020-12-10 16:05] #11497 closed, assigned to rasom

[2020-12-11 03:10] qfrank commented on #10978
Looking into this :)

[2020-12-11 09:37] flexsurfer opened #11538 "Browser bookmarks 2.0"
1.0 is here https://github.com/status-im/status-react/pull/11533

Finish browser design and features

* [ ] search recently opened and bookmarks
* [ ] tabs design , animation and screenshots
* [ ] persist tabs
* [ ] the no.1 way to improve the UX is to bring favicons into the list (Maciej)
* [ ] why can't I open multiple instances of empty tabs? It's a bit weird coming from other browsers, to find

[2020-12-11 12:39] Ferossgp commented on #11528
`fx/defn` are not tracked by [carve](https://github.com/borkdude/carve) thus we have a lot of dead code in the fx/defn. I assume that fixing clj-kondo lint will open the ability to carve them too, but would require to `carve` only definitions without `{:events []}`

[2020-12-11 13:01] bitsikka commented on #11474
@hesterbruikman not sure I'll make it :(

I bricked my mac book pro updating to Big Sur 3 days ago. In a panic I brought a new one, managed to move data from old, and finally got up and running just now.

Never-the-less, I'm going to continue the exploration. If not anything, I'll be re-oriented with Status code base, so that I will be able to contribute some meaningful contributions henceforth.

[2020-12-11 15:55] #11469 closed, assigned to flexsurfer

[2020-12-12 03:25] qfrank commented on #11426
Looking into it :)

[2020-12-12 03:25] qfrank commented on #11425
Looking into it :)

[2020-12-12 17:19] vkjr commented on #11426
@qfrank, `status-react` sends requests for url unfurling to `status-go`, so you can find useful looking at [this PR](https://github.com/status-im/status-go/pull/2059) where youtube links support added. `protocol/urls/urls.go` will be most useful I believe :)

[2020-12-14 09:59] #11074 closed, assigned to qfrank

[2020-12-14 10:08] guylouis opened #11541 "10790"

[2020-12-14 10:08] #11541 closed, assigned to nobody

[2020-12-14 11:14] #11499 closed, assigned to rasom

[2020-12-14 11:23] hesterbruikman opened #11542 "Add extra tokens to default asset list"
@Simona-Pop commented on [Mon Nov 30 2020](https://github.com/status-im/status/issues/17)

**As a user**

I want to be able to easily select tokens from the default asset list so that I can better interact with projects featured in dapps - this will make my experience better by accessing tokens easily

Tokens to add:

 - aDAI and other aTokens - https://docs.aave.com/developers/deployed-contracts/

[2020-12-14 11:43] qoqobolo opened #11543 "Timestamp is shifted off the screen in the Timeline on Android if user has long 3-random name or nickname"
# Bug Report

## Problem

If the User has a long 3-random name that takes two rows on the Status screen or max length nickname then the timestamp will be shifted off the screen.

#### Expected behavior

Timestamps are aligned and displayed in full on screen with long 3-random and nicknames

#### Actual behavior

Timestamps are shifted off the screen

<img width="388" alt="Screenshot 2020-12-14 at

[2020-12-14 12:32] qoqobolo opened #11544 "Error "v must satisfy IVector" if open a website in browser, tap back several times and open browser tabs"
# Bug Report

## Problem

Error "v must satisfy IVector" appears if open a website, i.e. bbc.com, in the Status browser, tap back several times and then navigate to browser tabs.

#### Expected behavior

No error

#### Actual behavior

![ezgif com-gif-maker (16)](https://user-images.githubusercontent.com/67952253/102080839-74cdad80-3e0f-11eb-9680-db7e350e4dd0.gif)

### Reproduction

- Open some we

[2020-12-14 13:02] qoqobolo opened #11545 "Tab with the last viewed website appears after navigating to the Tabs view from the Browser screen on Android"
# Bug Report

## Problem

"About:blank" tab appears if open browser tabs screen after installing the app, without navigating to any websites before.
If close it and re-login it will appear again.
If open a website in the Status browser, i.e. google.com, then navigate to the Tabs view, tap "Close all" or close the last viewed website, navigate to the Browser tab and return to the Tabs view, the tab

[2020-12-14 16:04] churik commented on #11545
blocker for e2e 5390

[2020-12-14 20:47] acolytec3 commented on #11474
Just chiming in here since @bitsikka and I have been discussing this on the BrightID discord some.  I think a naive implementation of the BrightID version of this task would be that the referral task includes a [deeplink](https://dev.brightid.org/docs/guides/docs/basic-integration.md#format-the-universal-link) to the BrightID app where the user authorizes BrightID nodes to create a contextId which

[2020-12-15 14:59] #11020 closed, assigned to vkjr

[2020-12-15 16:53] qoqobolo opened #11550 "Push notification of the outgoing message on the synced Android device in background"
# Bug Report

## Problem

If sync two devices, one of which is Android, and send a message to 1-1 chat from another device then the push notification about the sent message will be received on the Android device while it is in the background.

#### Expected behavior

No push notification on the synced device

#### Actual behavior

Push notification about the outgoing message in the background

###

[2020-12-16 07:42] #9895 closed, assigned to cammellos

[2020-12-16 07:42] #11105 closed, assigned to cammellos

[2020-12-16 07:43] cammellos commented on #11474
Scoping this for 1.11 as we will have no chance to deliver by 1.10

[2020-12-16 08:41] #11534 closed, assigned to nobody

[2020-12-16 08:47] bitsikka commented on #11474
Cool! Thanks! @cammellos 👍

The experiment I'm trying out with BrightID is just that for now.

I expect there'd be more evaluation, discussions and clarity needed on various sybil-resistance/identity-protocol possibilities before it is decided to settle on one

I'll keep it all posted here on how it goes with BrightID approach

[2020-12-16 10:34] guylouis commented on #11117
@cammelos
given https://github.com/status-im/status-go/pull/2026 , can this one be closed ?

[2020-12-16 10:56] cammellos commented on #11117
@guylouis no, this one is about chat notifications, the other was only taking care of transactions notfications

[2020-12-16 11:08] #10505 closed, assigned to Ferossgp

[2020-12-16 17:55] hesterbruikman commented on #10990
@cammellos @AK87ST updated this issue; can you please check if the acceptance criteria are clear? I wrote these to describe what's expected from the client/in status-react

[2020-12-16 18:22] hesterbruikman commented on #10721
As discussed on Discord, to add here: Popover and Bottom sheet need more contrast

[2020-12-17 09:08] vkjr opened #11553 "Emoji reactions doesn't resend when sent immediately after network disconnect"
# Bug Report

## Problem

If you turn off network connection and send emoji reaction right after - it won't be delivered when connection turned on. This is because in `status-go` we do not wait for acknowledgements from non-mailserver peers and automatically treat them as delivered. Same thing happens with chat messages - they treated as delivered while in reality they aren't

#### Expected behavi

[2020-12-17 10:20] qoqobolo opened #11555 ""Pending" status for messages in group chat until the first member joins the chat"
# Bug Report

## Problem

When User creates a group chat and sends messages before someone joins it, those messages will not have a "confirmed" status. After some member joins the chat next messages will be confirmed, but old ones will not.

#### Expected behavior

Messages sent before someone joins a group chat have "confirmed" status.

#### Actual behavior

Messages sent before someone joins a g

[2020-12-17 10:40] guylouis commented on #10031
pending on https://github.com/status-im/status-react/issues/9064  decision

[2020-12-17 10:41] guylouis commented on #9228
design can be impacted by https://github.com/status-im/status-react/issues/9064 decision

[2020-12-17 11:04] shivekkhurana opened #11556 "🏃‍♀️ Improving app startup time at UX level"
# Problem
The time is takes for Status app to be interactive is too much compared to industry standard like WhatsApp or Telegram. In a convoluted experiment on an iPhone SE, with biometrics enabled and many channels joined, it took about 6 seconds for the app to become usable.

A part of the delay is due to the encrypted database - we can't really do anything about this. But a significant chunk is

[2020-12-17 11:07] bitgamma commented on #9064
if we were to derive the pairing code and the PUK from the seed phrase it would mean we wouldn't be able to pair the card with any other app that doesn't take the same approach at pairing/PUK generation. For the PUK it is less sensitive as it is not supposed to be used too much. However we would need at least 3 words from the seed phrase to obtain the same number of combination as we have for the

[2020-12-17 12:41] churik opened #11557 "Profile picture of contact is not updated until he send message to public chat"
# Bug Report

## Problem
Leftover from #11347
when User B is updating his picture, it will be not visible for other users until he sends the message to public chat.

#### Expected behavior
picture will be updated for everybody after updating it (or after posting smth in any type of chat, similarly to ENS)

#### Actual behavior
picture remains the same until sending message to public chat

### Repr

[2020-12-17 12:42] churik commented on #11557
Would be nice to have it in 1.10, @cammellos remove if you don't think it is required

[2020-12-17 12:55] churik opened #11558 "Profile picture is not syncing across devices"
# Feature Issue
Following on #11347

### User Story

As a user, I want to have my profile picture updated across all my synced devices.
**Steps:**

- Device 1: restore multiaccount A from seed phrase, set profile picture
- Device 2: restore multiaccount A from seed phrase
- Pair both devices
- Sync both devices

### Acceptance Criteria
after updating profile image it is updated on all synced devic

[2020-12-17 13:06] churik opened #11559 "Buttons are looking as disabled (on background) when changing profile photo"
# Bug Report

## Problem
Leftover from #11347
Editing profile picture interface is greyed out on Android, which makes it confusing.

#### Expected behavior
active buttons, depending on dark or light mode

#### Actual behavior
<img width="381" alt="Monosnap 2020-12-11 12-14-26" src="https://user-images.githubusercontent.com/4557972/101897374-bad60780-3baa-11eb-8f2e-ec80622b556d.png">

### Reproduct

[2020-12-17 13:12] #11281 closed, assigned to Ferossgp

[2020-12-17 13:13] #11280 closed, assigned to Ferossgp

[2020-12-17 13:13] #11282 closed, assigned to nobody

[2020-12-17 14:13] hesterbruikman commented on #11556
@shivekkhurana Great catch! Sounds like a good improvement. For some planning hygiene, I suggest bundling this with an effort to make other improvements to onboarding. To be compiled and captured in issues, but there are enough for a small epic

Regarding item 2 skeleton screens. I see a dependency here with #11251 where the latter is an edge case in which delay is not the result from messages bei