[2020-02-07 10:45] flexsurfer commented on #9992
could be fixed here : https://github.com/status-im/status-react/pull/9945

[2020-02-07 12:12] guylouis commented on #9668
(Tested again with nightly from 06/02/2020 #1423)

The following error message is shown: "Transaction failed - insufficient funds for gas*price + value". The account has enough ETH (0,23ETH)

I got the same problem with the Status Kudos dApp on a contract interaction

It seems Keycard is unable to sign correctly any signature request or contract iteraction sent by a dAop

[2020-02-07 12:38] #9961 closed, assigned to nobody

[2020-02-07 14:41] #9975 closed, assigned to nobody

[2020-02-07 16:15] flexsurfer opened #10000 "Do not allow to register ens name from reserved names list"
# Feature Issue

It's possible to register reserved ens name,  and then later anyone can slash this name and get your deposit

### User Story

As a user i want to be aware of what names are reserved and can be slashed

Reserved names: https://github.com/status-im/ens-usernames/blob/master/config/ens-usernames/reservedNames.js

[2020-02-07 17:19] hesterbruikman commented on #10000
Added state in case a username is entered that is on the list:

"ens-username-reserved": "Username not available :( [Check ](https://github.com/status-im/ens-usernames/blob/master/config/ens-usernames/reservedNames.js)if the name is reserved to protect against scams",

cc @andremedeiros

@errorists please check if you're ok with this update to ENS name validation in this magical issue #10000

The

[2020-02-07 17:24] errorists commented on #10000
🤧🤧10000🤭😯😦😧😮😲🤯

[2020-02-07 20:31] Serhy opened #10002 "Can't login to account `sql: no rows in result set`"
# Bug Report

## Problem

No clear reproduction so far but I keep here some notes for now:

I've got this state while testing RC11. And at the same time on both iOS and Android, can't reproduce now on Android (kept logcat and kept the build with such 'sick' account on iOS)
Last actions before issue occured:

- I had ~4 accounts already existing in apps (both Android and iOS)

1) Android created ne

[2020-02-07 20:42] Serhy commented on #10002
I'd blame the recovering same account twice, but that's not the case

[2020-02-07 21:49] 3esmit commented on #9961
Chat Key dont gets renamed to Chat ID?  I guess this will require wider change then in glosary, that would include glossary.

[2020-02-08 01:43] bluebibi commented on #9961
unsubscribe

2020년 2월 8일 (토) 오전 6:49, Ricardo Guilherme Schmidt <notifications@github.com>님이
작성:

[2020-02-08 08:19] flexsurfer opened #10003 "Chat view is broken its not possible to scroll messages"
# Bug Report

## Problem

Chat view is broken its not possible to scroll messages

#### Expected behavior

Chat view works smooth, its possible to scroll

#### Actual behavior

Have an opened public chat with messages, and open it next day and receive lots of new messages, start scrolling, first it started to jiggle while scrolling, when it was white with no messages, and then only today titles li

[2020-02-08 09:25] yenda opened #10004 "Ens name of other users overwritten when they recover"
# Bug Report

## Problem

Ens name is still overwritten by no ens name: if A set up ens name X and is known as name X by B, when A recovers the account but not the his username X, and starts sending messages that are visible by B, B will start seeing A as its random name again, losing the knowledge of A username
An overview of the background required to understand the problem.

#### Expected behav

[2020-02-08 09:25] yenda commented on #10004
@cammellos could you look into that?

[2020-02-08 12:10] flexsurfer commented on #8797
cc @rachelhamlin users report this issue in v1

[2020-02-08 13:02] flexsurfer opened #10005 "Show only 1 line of ens name"
# Bug Report

## Problem

It's possible to register a very long ens name and currently  full name is shown and its difficult to read chat in that case, and chat might be spammed

#### Expected behavior

There is only one line showed for the name

[2020-02-09 04:58] weekly-digest[bot] opened #10006 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 43 issues were created.
Of these, 11 issues have been closed and 32 issues are still open.
## OPEN ISSUES
:green_heart: #10005 [Show only 1 line of ens name](https://github.com/status-im/status-react/issues/10005), by [flexsurfer](https://github.com/flexsurfer)
:green_

[2020-02-10 07:54] flexsurfer commented on #10004
i think this can't be reproduced, to reproduce you should start new chat by ens name

[2020-02-10 08:32] rachelhamlin commented on #10002
Does restarting the app also allow you to log in to the accounts in question @Serhy?

[2020-02-10 08:57] Serhy commented on #10002
No. For the particular account I created (or re-recovered) I can't login even after restart. But all the rest multiaccounts are fine.
It seem may be connected to recover, because before I could re-login when receiving funds, and if so - user won't loose funds (because recovery phrase stored).

I'm trying to reproduce it now

[2020-02-10 09:39] rasom commented on #10002
I can't reproduce the issue

[2020-02-10 10:29] Serhy commented on #10002
I can't reproduce it as well now, tried steps from description, various re-logins/changing network and recovering already existed account, - no 'no rows in result set' error (error apparently says that account failed to be stored in db, maybe that happened when I recovered account and node was not running or something like that)

[2020-02-10 10:32] Serhy commented on #10002
Finally, I reproduced it.
That's indeed connected to recover of the same account.

[2020-02-10 10:42] Serhy commented on #10002
Really edge case.
When we recover same account (which is different issue I'll create) node fails to start. But I still can log out of that account. If I log out and create or recover another accounts in the same app session - they, if I'm correct, fail to be stored in DB and thus no way to log in later.
Root cause here is to recover the same  account already existing, then log out (not via app res

[2020-02-10 10:47] rasom commented on #10002
@Serhy would be great if we write aoutotest for recovering existing acc

[2020-02-10 11:02] hesterbruikman commented on #9704
For future reference. This issue should be resolved if https://github.com/status-im/status-react/issues/9365 is implemented as the bottom sheet state should not affect navigation.

[2020-02-10 11:10] guylouis opened #10010 "Keycard multiaccount doesn't show erc20 tokens"
Problem
For a multiaccount stored on keycard, the wallet doesn't show any ERC20.
This was teqsted with nightly from 06/02/2020 # 1423

Example
- my multiaccount is stored on the phone (there are snt, sai, wbtc ...)

![image](https://user-images.githubusercontent.com/11461437/74144966-0f60cd00-4bfe-11ea-9bbc-8d968e08a9d3.png)

- my multiaccount is stored on a keycard (no erc20)

![image](https://us

[2020-02-10 11:13] #10005 closed, assigned to nobody

[2020-02-10 11:20] guylouis opened #10011 "NFC status (enable/disabled) is checked only before a keycard flow"
Problem:
Currently  NFC check is done only before navigation to screens which need NFC. If the user enables it using quick access sheet, while screen with "Turn on NFC" the app does not react to that. User should close/move to bg and open app again to see NFC changes.

Solution:
 It should be a listener as other checks like internet conenction

[2020-02-10 11:20] guylouis commented on #9662
I'll create a separate short issue for the architectural change from a one time check to a listener
https://github.com/status-im/status-react/issues/10011
Thanks @Ferossgp

[2020-02-10 11:26] guylouis commented on #9763
I'll change title and labels to make it clearer that that this is not specific to keycard
cc @rachelhamlin

[2020-02-10 12:35] guylouis commented on #9660
Reproduced on nightly from 6/02/2020 with JCOP4

JCOP4 being much faster than JCOP3 the signature takes about 1 second. If the card is removed from the phone before this 1 second the issue is still here.

This issue is still open but slightly less prevalent with JCOP4 than with JCOP3

[2020-02-10 12:44] guylouis commented on #9676
reproduced on nightly from 06/02/2020
interestingly also, when going through this flow the user is not prompted to chose his 3 names
is there any issue with how the different part of the code is branched in this particular flow ?

This issue only happens when a user generates  a new account starting from the 'recover from keycard' option and taps an empty keycard.
There is no issue when a user gen

[2020-02-10 13:02] guylouis commented on #9650
could not reproduce it with nightly from 06/02/2020 and a one plus 6 phone

[2020-02-10 13:08] #8797 closed, assigned to nobody

[2020-02-10 14:00] Serhy commented on #10002
Autotest has been created. Will merge along with other fixes in separate PR

[2020-02-10 14:07] guylouis commented on #9728
Could not reproduce on nightly from 06/02/2020
- created new account  on keycard
- signed out
- tap back
-> I see the login screen

[2020-02-10 14:11] #10002 closed, assigned to nobody

[2020-02-10 14:36] guylouis commented on #8313
not needed anymore since this is managed by a setting for the whole status app

[2020-02-10 14:36] #8313 closed, assigned to nobody

[2020-02-10 14:38] #8309 closed, assigned to nobody

[2020-02-10 14:42] guylouis commented on #9228
see #9214 for design

[2020-02-10 14:45] guylouis commented on #9214
replaced by #9228
closing this one for clean up

[2020-02-10 14:45] #9214 closed, assigned to nobody

[2020-02-10 15:07] guylouis opened #10012 "Number of remaining keycard PIN attempts is wrong - because it can't be stored in the phone"
The number of passcode retries possible is a number held by the card. The card can for instance be used by several phones.

**Current behaviour**
we show the number of attempt left at different places. Example: when signing transaction, when logging in (see screens below) before card is tapped.
The problem is that we are not sure what this number is before we tap the card to get this information f

[2020-02-10 15:23] guylouis opened #10013 "Keycard iOS integration"
**Context:**
- We have integrated Keycard with status on android at first because back in 2018 it was not possible (because of iOS restrictions) to use the NFC contactless from iphones/ipads to send commands to a keycard. Since september 2019, iOS can with iOS13 release.
- We have also developed a Swift SDK here https://github.com/status-im/Keycard.swift

**Problem:**
- Status iOS users cannot use

[2020-02-10 15:26] yenda opened #10014 "Pressing chat tab when in a chat should go back to chat list"
A few users already requested a QoL improvement regarding behavior of the chat tab. When a user is in a chat, the desired behavior for the chat tab button is not to do nothing but to redirect to the chat list.

[2020-02-10 19:35] jakubgs opened #10017 "QR codes don't work for ENS names"
While working on updates to https://get.status.im/ in https://github.com/status-im/universal-links-handler/issues/17 we discovered that opening of ENS names like `jakubgs`, `jakubgs.eth`, or `jakubgs.stateofus.eth` does not work via QR code, only for chat keys, like so:
https://get.status.im/user/0x0461f576da67dc0bca9888cdb4cb28c80285b756b324109da94a081585ed6f007cf00afede6b3ee5638593674fee100b5903

[2020-02-10 19:39] 3esmit opened #10018 "SwiftKey keyboard is auto correcting entered seedphrase"
# Bug Report

As a Portuguese speaker, my Android keyboard is configured for auto-correct in Portuguese.

## Problem

When entering the seedphrase, it auto corrects to portuguese words.
An overview of the background required to understand the problem.
A problem description.

#### Expected behavior

Autocorrects to the known BIP-32 dictionary.

#### Actual behavior

Auto-corrects using keyboard.

[2020-02-10 19:49] 3esmit opened #10020 "The same transaction request can ask multiple times for payment."
# Bug Report

## Problem

I was playing with my friend with Status, and I tried to send some gas and SNT to register a name,  (first he asked to send) after I Requested  two times 0.001 and then I request to send SNT which caused a bug..

Screenshots:
![image](https://user-images.githubusercontent.com/224810/74183868-8c06a200-4c24-11ea-8d9a-c00511c74281.png)
![image](https://user-images.githubuser

[2020-02-10 20:31] 3esmit commented on #10020
Both users using StatusIm-200210-025959-39ea68-nightly-universal.apk
Steps:
1. Asked my friend to message me in @eeesmit (eeesmit.stateofus.eth) from outside Status (other messaging app)
2. My friend send me "Opa"
3. I answered Aee + Emoji + Asked "Send a Transaction Request"
4. He sent Transaction Request of 0.001 ETH
5. I confirmed.
6. I created another Send Transaction of 0.001, it needed his a

[2020-02-11 07:35] #9902 closed, assigned to Ferossgp

[2020-02-11 08:50] guylouis opened #10023 "Back button behaves wrong in keycard multiaccount creation scenarios initiated from the login screen"
When we get in the keycard specific flows from the login screen

Video illustrating this made by Gheorghe available here
https://cdn.discordapp.com/attachments/626364653890437140/676349038521483264/20200210_114902.mp4

Examples:
- login screen/.../generate new key/generate keys/choose chat name/keycard/
- login screen/access key/recover with keycard/begin recovery

then the back button brings syst

[2020-02-11 08:52] guylouis opened #10024 "Implement plausible deniability in keycard and status"
This is a placeholder fro our backlog

[2020-02-11 09:11] rachelhamlin commented on #9676
I'm going to add the blocker label to anything that should be fixed before keycard is released - feel free to disable @guylouis.

[2020-02-11 09:14] rachelhamlin commented on #9660
This strikes me more like user error then. Don't sign and apply keycard if you don't want to confirm, no? @guylouis

[2020-02-11 09:52] jakubgs commented on #10017
According to @Serhy this works in the Nightly, so it looks like we didn't include the changes in `release/1.0.x` branch. @flexsurfer is that intentional?

Even so, I think QR code scanning should also accept the `status-im://user/{NAME}` form as well.

[2020-02-11 09:54] flexsurfer commented on #10017
intentional, yes

[2020-02-11 10:15] rachelhamlin commented on #9763
Are you talking about the intentional log-out and log-in flow with `Save password` checked in order to confirm biometric? I wasn't aware there was a bug in the regular flow. @churik

[2020-02-11 10:24] rachelhamlin commented on #9662
Three months later...I'm now tagging this as `blocker` as in - blocker for keycard release. :) Unless @guylouis, you disagree.

[2020-02-11 11:06] hesterbruikman opened #10026 "Resolve inaccessible Keycard multiaccount in Status"
# Problem
The user is not informed of the moment the keys have successfully been generated and moved to the Keycard. This could lead to an undesirable situation when the user:

- Cancels the process when asked to write down the PUK code and Pairing code
- Generates new keys
- Tries to store these Keys on Keycard

The user will currently receive the following message and will no longer be able to u

[2020-02-11 12:49] hesterbruikman opened #10028 "Link invite Friends to join.status.im/user/..."
# Problem
Provide user's invited to Status a more direct way to download and install Status as well as find friends.

We've revamped the 'web2' user profile page https://join.status.im/user/0x04f1ab965a3db6433923ceba0488ff605f230aca4c4c93bb6563c10b700cfdbbed2a364c980b9cf9679f352584d4da44cc01fc1e7257f1d2b80ffff5af64aa129f

This page is already being linked to from: `Profile`  >`Share button`

## Im

[2020-02-11 13:02] hesterbruikman commented on #9763
This issue is very much related to Sign out behavior: https://github.com/status-im/status-react/issues/9902 It's closed now, as the issue was created for a very targeted solution, but the context might help. There's a bit of a can of worms with how we store unlock settings (biometrics, save password).

[2020-02-11 14:14] jakubgs opened #10029 "Implement Intent Filter for Android to open links"
# Feature Description

Opening a https://join.status.im/user/jakubgs should open the user profile view in the Android app.
Same should go for https://join.status.im/chat/public/status.

Right now it only provides a QR code we can scan and a download link.

# Details

As the web browser has no way of detecting if the app is installed or not the only way to automatically handle the URL is via Androi

[2020-02-11 14:27] rasom opened #10030 "Outgoing transaction message is not replaced correctly after being signed"
# Bug Report

## Problem

I sent 3 tx requests from acc1 to acc2 and then signed all three requests on acc2. In result there are 4 transaction messages on acc2. After re-login only 3 tx messages are left on acc2.

acc1:
<img width=320 src=https://user-images.githubusercontent.com/2364994/74242369-722d9380-4ce6-11ea-952f-279430910bd0.jpg />

acc2(before re-login):
<img width=320 src=https://user-im

[2020-02-11 15:08] flexsurfer commented on #10014
i would say all tabs should lead to main screen, same for browser and profile

[2020-02-11 17:23] hesterbruikman commented on #10018
@3esmit What Android phone are you on?

I ask because I used to have this problem, but on Samsung Galaxy S10, Android Keyboard no longer auto-corrects when I enter a seed phrase. In other apps my keyboard auto-corrects, but no longer the case in Status; emojis, mic, etc are also disabled. I assumed we were deliberately suppressing these keyboard functions.

![Screenshot_20200211-182056_Status](htt

[2020-02-11 22:29] 3esmit commented on #10018
Hi, I verified with the user and he have

Device: Xiaomi note 6

![image](https://user-images.githubusercontent.com/224810/74285499-c0ea2600-4d04-11ea-9e64-3e056b4e9adc.png)

The user said he had **SwiftKey** installed as default keyboard.

[2020-02-11 22:37] 3esmit commented on #10018
I was not able to reproduce this bug in my device. I tried installing swiftkey but it detects the config for no wordsuggest.

[2020-02-12 10:28] guylouis commented on #10026
@hesterbruikman

If we take again the steps you described:
1/ Cancels the process when asked to write down the PUK code and Pairing code
2/ Generates new keys
3/ Tries to store these Keys on Keycard

After 1/ currently the message the user gets is:
 "Dangerous operation.
This will cancel keycard setup. It's highly recommended to finish the setup in order to use keycard. Do you really want to cance

[2020-02-12 10:50] guylouis opened #10031 "Allow user to change his pairing code and PUK code in the UI"
Allow user to change his pairing code and PUK code in the UI

Currenbtly a user can only change his 6 digit passcode in the UI

[2020-02-12 11:01] guylouis commented on #9660
An other way to phrase the issue: "if a user removes his card while signing transaction, then the app get into stuck state, and the user doesn't know if he's transaction was signed or can't either sign another transaction"

I did not put it as a 'blocker' since jcop4 is fast, but still when it happens (removing the card while signing) it's a pretty bad behaviour

[2020-02-12 11:19] gravityblast commented on #9668
@guylouis in general the keycard signs just a hash, so it looks like the hash sent to the keycard is wrong

[2020-02-12 11:19] guylouis opened #10032 "in onboarding, when user defines the keycard PIN passcode, he's proposed a 'cancel button'"
in onboarding, when user defines the keycard PIN passcode, he's proposed a 'cancel button'

![Screenshot_20200212-121325](https://user-images.githubusercontent.com/11461437/74330191-87133100-4d91-11ea-96d1-bc8719f35422.jpg)

when he types 'cancel' he gets a dangerous operation warning. It's not necessary and should be replaced by a back button

see logic here https://miro.com/app/board/o9J_kvIXxoU

[2020-02-12 11:24] rachelhamlin commented on #9668
Browser issue? @siphiuel since you're experienced in both Keycard & browser, can you investigate root cause?

[2020-02-12 11:44] vitvly commented on #9668
@rachelhamlin yes will look at it. Must be something with hash as @gravityblast mentioned

[2020-02-12 12:34] hesterbruikman commented on #10026
Maybe first i, and then ii. At least have a mitigation in place initially. Then refine by making sure the scenario of being locked out without PUK and Pairing code can't occur.

Initially the scenario can lead to Keycard being unusable, but at least it doesn't have funds on it. I don't know how this would work out when you have a KeycardCash purchased with funds and you want to pair this card to S

[2020-02-12 18:57] jakubgs commented on #10017
In relation to https://github.com/status-im/universal-links-handler/issues/25 I think we need to decide on a standard way for handling QR codes. Otherwise if the QR code contains `whatever` then the App can't know if it's `#whatever` channel or it's `whatever.stateofus.eth` user. I propose 2 ways:

1. Use the `status-im://` format in QR codes so it's contents are:
  - `status-im://chat/public/what

[2020-02-13 07:00] flexsurfer opened #10035 "ipfs in the settings"
# Feature Issue

It should be possible to change ipfs endpoint in the settings

### User Story

currently infura  ipfs is hardcoded but it doesn't work in china

[2020-02-13 08:52] rachelhamlin commented on #9660
Ah, okay, clear. It does need a fix, but hopefully not urgently :) Noted.

[2020-02-13 08:52] rachelhamlin commented on #9668
Thanks @siphiuel!

[2020-02-13 09:54] 3esmit opened #10036 "EIP-747 wallet_watchAsset Interface support for Dapps"
# Feature Issue

If you navigate through a token page in etherscan.io, there will be a link there for "Add Token for Web3 Wallet", which works fine in MetaMask, but not in Status.

### User Story

As a user I want to easily watch a token from a DApp.

As a dapp developer I want to ask users to watch a token in their wallet.

### Description

Token Lists are not good enough. They provide a nice met

[2020-02-13 10:00] 3esmit commented on #10036
In etherscan.io
![image](https://user-images.githubusercontent.com/224810/74423083-6e0c8d80-4e2e-11ea-8d8e-b7e22ae3ddc7.png)

In metamask this appears when 'Add Token for Web3 Wallet' is pressed:

![image](https://user-images.githubusercontent.com/224810/74423036-5cc38100-4e2e-11ea-8dae-13699e80c88d.png)

[2020-02-13 11:33] rachelhamlin commented on #10000
Was chatting with Jarrad about [this](https://discuss.status.im/t/how-to-deal-with-reserved-ens-usernames/1530/3) and he also thinks it's unwise for Status to be policing anything. Let's do away with the reserved names list in the next migration?

@3esmit @yenda I will create an issue.

[2020-02-13 11:33] #10000 closed, assigned to andremedeiros, hesterbruikman

[2020-02-13 11:48] #9754 closed, assigned to nobody

[2020-02-13 12:45] #6839 closed, assigned to nobody

[2020-02-13 14:06] rachelhamlin commented on #9754
Yesss thank you @vkjr

[2020-02-13 15:32] guylouis commented on #10026
Ok so for now and for launch let's do i, which is a simple copy update. I propose:
"
Pick up your pen !
Your keycard has now a pairing code set-up. If you cancel here and do not write it down, you won't be able to use your keycard anymore
"

[2020-02-13 16:11] rachelhamlin commented on #9929
I don't think this issue is happening on v1, but let's reopen if so.

[2020-02-13 16:11] #9929 closed, assigned to cammellos

[2020-02-13 16:16] rachelhamlin commented on #10014
What chat tab button do you mean? The name of the chat at the top?

[2020-02-13 17:10] vitvly commented on #9668
Tried with Cryptokitties, see the same problem as reported by @guylouis - after signing with Keycard, dapp is not properly redirected, but hangs on 'Sign in' screen. Works for non-keycard account. Added more logging and compared adb logs between keycard and non-keycard accounts, but see no meaningful difference yet.

[2020-02-13 18:35] adambabik opened #10038 "Add my nodeID to Advanced screen"
### User Story

As a developer, I want to see my nodeID on the Advanced screen **so that** I can confirm if the app connected to my custom bootnode or mailserver.

### Description

When I decide to run my own bootnode or mailserver, I would like to have more means to debug whether the app tries to connect to them. The easiest is to have a nodeID displayed so I can compare it with the peer logs fro

[2020-02-13 19:42] leafcutterant commented on #2158
Requesting reopening. I have this is issue. Just upgraded a mid-January nightly APK installation to the recent 1.0.1 via APK, and I get the message right after opening the app. Pressing cancel results in an unresponsive white screen.

[2020-02-13 19:46] leafcutterant commented on #2158
Will anyone see this request? None of the other participants in the issue seem to work at Status anymore.

[2020-02-13 19:59] leafcutterant commented on #9984
Duplicate of #9748

[2020-02-13 20:07] decanus opened #10039 "ENS search is case sensitive, or so it seems."
# Bug Report

It seems as though the ENS search is case sensitive. When the starting letter is capital names are not found and I cannot start a chat.

ENS however defines that names should be lowercased automatically.

#### Expected behavior

Lowercase automatically when searching for names.

This seems to only happen on the iPhone 10

[2020-02-13 20:45] renaynay opened #10040 "gas is not being estimated"
# Bug Report

## Problem

When trying to perform a contract interaction for ens domain setting, gas is not being estimated properly and an `invalid number` error pops up, but it is unclear with which field it is associated.

#### Expected behavior

Gas is already estimated

#### Actual behavior

Gas is not estimated and user has to manually input the network fee. Also an `invalid number` error pop

[2020-02-14 04:59] edsonayllon commented on #9749
I'd like this as well. My main account is saved via private key. That account has things like reputation in DAOs that are non-transferable, and is currently the owner to my ENS name.

[2020-02-14 07:11] flexsurfer commented on #10040
thank you for reporting @renaynay this issues will be addressed here https://github.com/status-im/status-react/issues/9037

[2020-02-14 07:11] #10040 closed, assigned to nobody

[2020-02-14 07:12] flexsurfer commented on #9037
moved to P0 because currently users think there is an error with gas and set gas manually and spent their funds but tx fails

[2020-02-14 09:29] serejandmyself opened #10047 "Status mobile application privacy policy"
I am unsure if I'm opening the issue in the correct repo, please feel free to move it to the right repo if necessary.

I have wrote a [reddit post](https://www.reddit.com/r/ethereum/comments/f3pqm6/status_privacy_policy_a_public_inquiry_about_the/) with my concerns to the Status mobile app privacy policy. IMO, it's only fair that I link the post to this issue, as it is my intention to clarify my q

[2020-02-14 09:34] 3esmit commented on #10039
Just for context... ENS names are always registered lowercase, this is also enforced by slashing conditions, but it don't make any sense to register an upper case username because no one will able to access it (as software auto lowercase before checking).

[2020-02-14 09:38] Serhy opened #10041 "Fiat value is '0' in added custom tokens"
# Bug Report

## Problem

When adding a custom token with total amount in fiat > 0, we don't calculate fiat value (only token amount is displayed)

#### Expected behavior

Fiat value calculated in added token with valid > 0 amount (until app restart)

#### Actual behavior

Fiat value is '0' in added token with amount until app restart
<img width="335" alt="Screenshot 2020-02-14 at 11 37 39" src="h

[2020-02-14 09:41] rachelhamlin opened #10042 "Register ETHDenver Bufficorn"
# Problem

Let's add the Bufficorn as a sticker pack for ETHDenver 2020, kicking off today!

## Implementation

Register sticker pack using these images:

https://www.dropbox.com/sh/p00gc1qpvxgk5hf/AAAmcrv50r5Nuv-dKt6iuWxZa/ETHDenver?dl=0&subfolder_nav_tracking=1

(Banner, icon, and stickers are in one folder)

## Acceptance Criteria

Pack title: ETHDenver Bufficorn
Artist: ETHDenver
Price: Free
W

[2020-02-14 10:15] rachelhamlin commented on #9906
v1.1 release label removed because I'm not able to reproduce this, nor hearing reports.

[2020-02-14 10:18] 3esmit commented on #10020
The transaction was signed twice, but the same transaction request asked for it twice.

The lower gas is caused by another problem https://github.com/status-im/status-go/issues/1849.

[2020-02-14 10:46] rachelhamlin commented on #10039
Whoops, yeah, looks to be the case for me too. Thanks @decanus @3esmit

[2020-02-14 10:51] rachelhamlin commented on #9755
Removing from v1.1 because we don't currently have a viable solution. From Andrea:

[2020-02-14 10:52] rachelhamlin commented on #9909
Closing - I accidentally duplicated with #9966.

[2020-02-14 10:52] #9909 closed, assigned to nobody

[2020-02-14 11:40] Serhy opened #10044 "Make search new chat field responsive to edits to taps after invalid ENS searched"
# Bug Report

## Problem
iOS only.
If user search invalid ENS name on `New chat` view and pressed 'GO' - keyboard hides and nothing more happens as expected.
However now taps inside the editbox in order to edit ens name have non effect.
Keyboard appear in to tap right on the entered value (which is not obvious)

#### Expected behavior

Whole editbox on New chat view responsive to taps

#### Actual

[2020-02-14 11:51] rachelhamlin commented on #9749
I've been hearing this from quite a few folks and inside Status once or twice. Sounds like a reasonable next addition to wallet (over importing from seed phrase, actually). Thanks guys, for speaking up. @edsonayllon @DaniellMesquita @acolytec3

[2020-02-14 12:16] acolytec3 commented on #9749
Can we implement in status-go? I might be interested in working on it 😁

On Fri, Feb 14, 2020, 6:51 AM Rachel Hamlin <notifications@github.com>
wrote:

[2020-02-14 12:28] Serhy opened #10045 "App crash after upgrade nightly (with Keycard acc) on to Release (no keycard support)"
# Bug Report

## Problem

In nightlies we support keycard accounts. If user upgrades successfully from such build with keycard on to Release build (with no keycard) app fails right on start with `Can not read property 'params' of undefined` error, so no way to proceed use the app.
Re-upgrading on to nightly (with higher version than release) again fixes the problem.
For now it's edge case, because

[2020-02-14 12:30] Serhy commented on #10045
After all if one see this error it's possible to upgrade to nightly version > Release version and proceed with account, so it's not a dead lock.

[2020-02-14 13:20] oskarth commented on #10047
Thanks for question re clarification @serejandmyself! Moving it to a different repo to get more visibility and pinging relevant people from the Core team.

^ @rachelhamlin @andremedeiros

[2020-02-14 13:24] flexsurfer commented on #9906
it was fixed

[2020-02-14 13:24] #9906 closed, assigned to nobody

[2020-02-14 13:26] flexsurfer commented on #10042
done

[2020-02-14 13:26] #10042 closed, assigned to nobody

[2020-02-14 13:45] rachelhamlin commented on #9037
@flexsurfer you mean when they don't have any tokens for an ENS name?

[2020-02-14 14:02] flexsurfer commented on #9037
it can be any contract interaction but ens name as well yes

[2020-02-14 14:46] rachelhamlin commented on #8928
Hey gang - just checking in, is this a must-have for the next release? As a lay person, I don't understand the risk/benefit :) @yenda @Ferossgp

[2020-02-14 16:31] #10044 closed, assigned to nobody

[2020-02-14 16:37] #10041 closed, assigned to nobody

[2020-02-16 04:58] weekly-digest[bot] opened #10050 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 43 issues were created.
Of these, 18 issues have been closed and 25 issues are still open.
## OPEN ISSUES
:green_heart: #10047 [Status mobile application privacy policy](https://github.com/status-im/status-react/issues/10047), by [serejandmyself](https://github.com/ser

[2020-02-17 12:23] guylouis commented on #10026
Also the copy below needs to be changed because there is no reset feature for now
![image](https://user-images.githubusercontent.com/11461437/74653418-60396e00-5188-11ea-85bc-7cbb57d256ed.png)

Copy should simply be
"This card has already an account setup, if you want to access it use the 'Recover with Keycard' option"

[2020-02-17 21:26] jakubgs opened #10052 "Too hard to find and share chat key"
# Feature Issue

Currently the only way to find your chat key is the tiny icon in the top right corner of `Profile` view.
Several users have complained that they were unable to find their own chat key and share it.

### User Story

As a user, I want to to be able to actually find my chat key.

### Description

The icon is too hidden, too small, and - as one user in `#support` suggested - looks lik

[2020-02-18 14:36] Ferossgp commented on #9676
The problem is that the step of generating the key is skipped and the phrase does not exist. This happens because the flow now goes like that:
![before 001](https://user-images.githubusercontent.com/5794620/74745280-b4218100-5274-11ea-989c-1a8e1e68ba51.jpeg)

Updating it to that will solve the problem cause it allows user to generate keys (Reuses the onboarding flow):
![after 001](https://user-ima

[2020-02-18 15:00] #9658 closed, assigned to Ferossgp

[2020-02-18 15:04] guylouis commented on #9676
@Ferossgp I agree it's the most natural and best way to go !

[2020-02-18 17:00] churik opened #10054 "Can't get messages and invitation to group chat (Mainnet)"
# Bug Report

## Problem
Can get neither invites or messages in group chats (reproducibility 100% manually)
However, users in e2e are able to receive invites (see [test session ](https://app.saucelabs.com/tests/83c75fb3b67d4ff69414cbc8ac45e867?auth=7f6eb4e62a8cd2650330274019cc4161#58))

#### Expected behavior
Device 1: can see the sent message
Device 2: can see the invite

#### Actual behavior
Dev

[2020-02-19 10:42] churik opened #10057 "Unable to delete group chat"
# Bug Report

## Problem
Can't delete group chat (regardless of the way of deleting)

#### Expected behavior
Group chat is deleted

#### Actual behavior
Group chat is preserved

### Reproduction
### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Device 1: create a new user
- Device 2: create a new user
- Device 1: add Device 2 to Contacts, start a group chat
-

[2020-02-19 11:30] #9701 closed, assigned to Ferossgp

[2020-02-19 12:45] cammellos opened #10058 "Wrong domain name is shown if .eth name is connected"
# Bug Report

## Problem

The wrong ENS name is shown when linking a `.eth` name.
![issue](https://user-images.githubusercontent.com/1017008/74835535-da4f2b80-531d-11ea-90f4-c0a7c913b99a.jpeg)

#### Expected behavior

blah.eth should be shown

#### Actual behavior

blah.eth.stateofus.eth is shown

[2020-02-19 14:53] cammellos commented on #10054
@churik I was not able to replicate with fresh accounts.
Which accounts were you using? Also when this happen, can you send 1-to-1 messages from user 1 to user 2?

[2020-02-19 14:59] Ferossgp commented on #10029
Hey! @jakubgs we already have it in code https://github.com/status-im/status-react/blob/develop/android/app/src/main/AndroidManifest.xml#L56-L62
Open in app in browser:
![photo_2020-02-19 17 52 02](https://user-images.githubusercontent.com/5794620/74845809-93bef880-5340-11ea-8377-d020d83a631b.jpeg)
Open link:
![photo_2020-02-19 17 52 05](https://user-images.githubusercontent.com/5794620/74845816-9

[2020-02-19 15:53] jakubgs commented on #10029
Oh, that's good to know. But I guess we can improve it. As far as I know there is no way to detect if app is installed from a browser, so to display a link that goes to the app we'd need to change the intent filter.

Maybe we could change the intent filter to react only to `https://join.status.im/click/*` or something like that? So when you go to https://join.status.im/chat/public/status, the butt

[2020-02-19 15:55] churik commented on #10054
@cammellos
I'll try today at home as well because as it turned out provider in  my coworking space is cutting traffic somehow (for example I can't launch e2e without VPN now)

Fresh one

Yes

[2020-02-19 15:55] jakubgs commented on #10029
Oh I see, we have an intent filter for `status-im://` defined here:
https://github.com/status-im/status-react/blob/c995174a22e2fd8d45208ae2ba4ce359ba8f31f4/android/app/src/main/AndroidManifest.xml#L67
But how does it work tho? Maybe we could modify the `join.status.im` site to make the button under the QR code to link using the `status-im://` scheme if it detects Android based on `User-Agent` head

[2020-02-19 17:19] jakubgs commented on #10029
Okay, I created https://github.com/status-im/universal-links-handler/pull/27. I tested it locally with my Android phone and it seems to work. Though I'm not sure how it will be have when it's hosted under `joint.status.im` domain.

[2020-02-19 20:01] tbenr opened #10060 "Wrong ERC20 decimal rounding in "Set max""
# Problem

My intention was to send entire amount of an ERC20 token to another address.

Context: ERC20 with 18 decimals
Entire Amount in my wallet: all decimal was non-0:  the exact entire amount was using all 18 decimals

ISSUE 1: the displayed amount on Status was ceiled. So the displayed amount was grater then my actual amount (checked later with etherscan)
So when i manually set the amount it

[2020-02-19 21:47] jakubgs commented on #8512
I've gotten back into this and some notes to myself:

* I need [fdroidclient](https://gitlab.com/fdroid/fdroidclient) cloned and mounted
* I need mounted Android SDK into the docker container to make it work
* Need to have `ANDROID_HOME` environment variables set in the container
* The DroidServer requries `build-tools` and `platform-tools` to be installed via `sdkmanager`
* Needs app definition i

[2020-02-20 03:23] qfrank commented on #9962
would it be better if we can force update via pulling down action?

[2020-02-20 05:55] licaon-kter commented on #8512
Client not Server? Sounds strange...

[2020-02-20 07:11] tbenr commented on #10060
it seems the root cause is in status go

![image](https://user-images.githubusercontent.com/15999009/74909393-80e80a80-53b8-11ea-9702-a361b1b7d765.png)

![image](https://user-images.githubusercontent.com/15999009/74909372-70379480-53b8-11ea-9c77-4083c0a12d22.png)

[2020-02-20 09:40] churik opened #10061 "Biometric auth is not saved after enabling from profile ("Save password" is not enabled)"
# Bug Report

## Problem

The issue is not reproducible on v1.0.1.
So basically it means that enabling biometric auth from Profile screen is inefficient - after login biometric auth is disabled

#### Expected behavior
Redirected to login screen with enabled "Save password"

#### Actual behavior
![screencast 2020-02-17 12-13-36](https://user-images.githubusercontent.com/4557972/74649039-17c98280-51

[2020-02-20 09:40] churik commented on #10061
cc @rachelhamlin  - believe it should be fixed

[2020-02-20 09:52] cammellos opened #10062 "Message cut off when selecting account"
The message is cut off when creating an account, as in the picture.

![issue2](https://user-images.githubusercontent.com/1017008/74922154-1b534880-53cf-11ea-970a-92ea0f57210f.jpeg)

[2020-02-20 09:54] churik commented on #10054
@cammellos
It is reproducible for me in 100% cases (tried on Android8, Android9, IOS 13 on different WI-FI networks).
I didn't see invites and sent messages to group chats.

Full logcat for receiver: [receiver.log](https://github.com/status-im/status-react/files/4229978/receiver.log)

Full logcat for sender: [sender.log](https://github.com/status-im/status-react/files/4229980/sender.log)

Users ca

[2020-02-20 13:19] Ferossgp commented on #10029
@jakubgs yes `status-im://` and join.status.im are handled the same way because of regexp which handles it: https://github.com/status-im/status-react/blob/develop/src/status_im/utils/universal_links/core.cljs#L24

[2020-02-20 14:42] jakubgs commented on #10029
@Ferossgp wouldn't this mean that the format of QR codes should also be that of `status-im://`?

[2020-02-20 17:14] GregTheGreek opened #10064 "incorrect prices"
# Bug Report

## Problem

Using the address watch only feature, the app is displaying a drastically incorrect value ~30% higher.

#### Notes

For the developer who will be investigating. Is it related to another PR? Tips on where to start?

![Screenshot_20200220_120858_im status ethereum~2](https://user-images.githubusercontent.com/16929357/74960521-7b032100-53da-11ea-9f7a-975c1a9729a6.jpg)

####

[2020-02-20 18:02] Ferossgp commented on #10029
@jakubgs for that I'm not sure what's the best practice. This for sure will be helpful to open the app by reading QR with an external QR code reader. But if we do that we should also allow in-app QR code to handle it. I think there is a task in backlog assigned to me, I can do it soon.

[2020-02-20 19:14] GregTheGreek commented on #10064
@decanus

[2020-02-21 11:05] #9896 closed, assigned to nobody

[2020-02-21 11:17] churik opened #10065 "Popup error reappears if tap on "Cancel" in "Error connecting to mailserver" popup"
# Bug Report

## Problem
Before if you dismiss "Error connecting to mailserver" popup (by tapping "Cancel") - you can see popup again on tapping banner in the header ("Tap to reconnect")
Currently, popup appears again in several seconds, so can't dismiss it

#### Expected behavior
button "Cancel" closes popup (con see it again if tap on "Tap to reconnect" in case of unsuccessful connection)

####

[2020-02-21 11:18] churik commented on #10065
Blocks part of `test_can_not_connect_to_mailserver` - should be uncommented and checked after fix

[2020-02-21 12:14] churik commented on #10054
@cammellos I found very important detail.
Issue is reproducible when both are on Mainnet and not reproducible on Ropsten network.

[2020-02-22 22:34] GENERALGUBERNATOR1 commented on #9307
0x959FD7Ef9089B7142B6B908Dc3A8af7Aa8ff0FA1  этот кошелек фишинг у меня есть ключ но я не могу закончить ico я отправил свои токены сюда как вытащить  их мне перенаправляют фишинг на другой кошелек

[2020-02-23 04:58] weekly-digest[bot] opened #10066 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 15 issues were created.
Of these, 2 issues have been closed and 13 issues are still open.
## OPEN ISSUES
:green_heart: #10065 [Popup error reappears if tap on "Cancel" in "Error connecting to mailserver" popup](https://github.com/status-im/status-react/issues/10065), b

[2020-02-23 17:59] decanus opened #10067 "Comparing of Safety Numbers"
# Feature Issue

There is currently no real way to tell if my chats are actually end to end encrypted. Within apps like signal and telegram, users can compare safety numbers allowing them to be sure of this.

Status should add the safety number to the contact info screen for every conversation peer that this can be compared.

### User Story

As a user, I want to be able to compare safety numbers *

[2020-02-24 09:41] errorists opened #10069 "Use Android specific icons"
# Problem

At the moment our UI is homogenised to a follow a single design, skewed towards iOS, without taking platform specific patterns into account. While in past this allowed us to design more rapidly and keep the codebase simpler, this doesn't always take into account what's good for our users.
By implementing these Android specific assets, we will make the experience more familiar to our use

[2020-02-24 10:24] miguelsm commented on #10069
As an Android user I appreciate this effort. What about the action overflow icon? It's always struck me that Status uses a horizonal dots icon. It seems that's also iOS specific according to the Material Design guidelines: https://material.io/design/platform-guidance/cross-platform-adaptation.html#cross-platform-guidelines

[2020-02-24 10:30] errorists commented on #10069
Thanks! I think the overflow icon is easily understood and can be seen as a stylistic choice, regardless if it's horizontal or vertical. I wouldn't change that since as a stylistic choice I highly prefer the horizontal alignment that reinforces the visual metaphor that's something is left out or didn't fit, you know like in text…

[2020-02-24 11:28] churik commented on #10054
сс @rachelhamlin

[2020-02-24 11:40] #7057 closed, assigned to nobody

[2020-02-24 11:40] #7184 closed, assigned to nobody

[2020-02-24 11:40] #7200 closed, assigned to nobody

[2020-02-24 11:40] #7201 closed, assigned to nobody

[2020-02-24 11:40] #7202 closed, assigned to nobody

[2020-02-24 11:40] #7203 closed, assigned to nobody

[2020-02-24 11:40] #7209 closed, assigned to nobody

[2020-02-24 11:40] #7225 closed, assigned to nobody

[2020-02-24 11:41] #7236 closed, assigned to nobody

[2020-02-24 11:41] #7351 closed, assigned to nobody

[2020-02-24 11:41] #7456 closed, assigned to nobody

[2020-02-24 11:41] #7525 closed, assigned to nobody

[2020-02-24 11:41] #7565 closed, assigned to nobody

[2020-02-24 11:41] #7595 closed, assigned to nobody

[2020-02-24 11:41] #7619 closed, assigned to nobody

[2020-02-24 11:41] #7705 closed, assigned to nobody

[2020-02-24 11:41] #7722 closed, assigned to nobody

[2020-02-24 11:41] #7854 closed, assigned to nobody

[2020-02-24 11:41] #8013 closed, assigned to nobody

[2020-02-24 11:41] #8015 closed, assigned to nobody

[2020-02-24 11:41] #8226 closed, assigned to nobody

[2020-02-24 11:41] #8246 closed, assigned to nobody

[2020-02-24 11:41] #8489 closed, assigned to nobody

[2020-02-24 11:41] #8558 closed, assigned to nobody

[2020-02-24 11:41] #8889 closed, assigned to nobody

[2020-02-24 11:41] #6304 closed, assigned to nobody

[2020-02-24 11:41] #6315 closed, assigned to SlizkovaGanna

[2020-02-24 11:41] #6392 closed, assigned to nobody

[2020-02-24 11:41] #6394 closed, assigned to nobody

[2020-02-24 11:41] #6445 closed, assigned to nobody

[2020-02-24 11:41] #6453 closed, assigned to nobody

[2020-02-24 11:41] #6458 closed, assigned to nobody

[2020-02-24 11:41] #6473 closed, assigned to nobody

[2020-02-24 11:41] #6475 closed, assigned to nobody

[2020-02-24 11:41] #6547 closed, assigned to nobody

[2020-02-24 11:41] #6570 closed, assigned to nobody

[2020-02-24 11:41] #6571 closed, assigned to nobody

[2020-02-24 11:41] #6660 closed, assigned to nobody

[2020-02-24 11:41] #6686 closed, assigned to nobody

[2020-02-24 11:41] #6696 closed, assigned to nobody

[2020-02-24 11:41] #6703 closed, assigned to nobody

[2020-02-24 11:41] #6724 closed, assigned to nobody

[2020-02-24 11:41] #6726 closed, assigned to nobody

[2020-02-24 11:41] #6727 closed, assigned to nobody

[2020-02-24 11:41] #6738 closed, assigned to churik

[2020-02-24 11:41] #6795 closed, assigned to nobody

[2020-02-24 11:41] #6796 closed, assigned to nobody

[2020-02-24 11:41] #6812 closed, assigned to nobody

[2020-02-24 11:41] #6902 closed, assigned to nobody

[2020-02-24 11:41] #6981 closed, assigned to nobody

[2020-02-24 11:41] #5099 closed, assigned to nobody

[2020-02-24 11:41] #5105 closed, assigned to nobody

[2020-02-24 11:41] #5118 closed, assigned to nobody

[2020-02-24 11:41] #5151 closed, assigned to nobody

[2020-02-24 11:41] #5186 closed, assigned to nobody

[2020-02-24 11:41] #5194 closed, assigned to nobody

[2020-02-24 11:41] #5271 closed, assigned to nobody

[2020-02-24 11:41] #5288 closed, assigned to nobody

[2020-02-24 11:41] #5548 closed, assigned to nobody

[2020-02-24 11:41] #5811 closed, assigned to nobody

[2020-02-24 11:41] #5845 closed, assigned to corpetty

[2020-02-24 11:41] #6106 closed, assigned to nobody

[2020-02-24 11:41] #6110 closed, assigned to nobody

[2020-02-24 11:41] #6124 closed, assigned to nobody

[2020-02-24 11:41] #6133 closed, assigned to nobody

[2020-02-24 11:41] #6134 closed, assigned to nobody

[2020-02-24 11:41] #6136 closed, assigned to nobody

[2020-02-24 11:41] #6175 closed, assigned to nobody

[2020-02-24 11:41] #6295 closed, assigned to nobody

[2020-02-24 12:10] Serhy commented on #10054
With latest nightly I can reproduce with new accounts, but only when group chat created by Android user. But all fine when iOS user creates group chat - in that case Android user receives invite and can accept it and both proceed messaging in the group chat

My steps:
1) Install nightly build 24th of Feb on iOS and Android
2) Create new users on both devices
3) iOS_user and Android_user post messa

[2020-02-24 12:13] rasom commented on #10011
@guylouis can you please provide steps to reproduce the issue?

[2020-02-24 12:50] rasom commented on #10011
https://cdn.discordapp.com/attachments/626364653890437140/674950507617583119/20200206_151145.mp4

[2020-02-24 13:06] Ferossgp commented on #9451
@Serhy @guylouis I can make this flow working like that:
`Begin` > `Pairing Code` (Which user should have cause he was warned to store code) > `Pin Code` > `seed phrase` > Success. This is the only flow we can have now cause the card can't be reset.

[2020-02-24 13:34] 3esmit commented on #9966
We could use contenthash to set a JSON typed data into the user, where one of the fields could be profilepic https://github.com/ensdomains/resolvers/blob/master/contracts/profiles/ContentHashResolver.sol

[2020-02-24 14:39] vkjr commented on #9485
Turns out that layout break is an issue of `react-native` itself on android. The problem happens with nested text elements - some child elements couldn't overwrite parent settings.
Here is a code that can be used to see similar problem in plain `react-native`:

[code]

Result looks like:
![Screenshot 2020-02-24 at 16 39 15](https://user-images.githubusercontent.com/5786310/75161281-36ea8600-5724-1

[2020-02-24 17:19] churik commented on #3097
I believe we have the same issue https://github.com/status-im/status-react/issues/9485 - it is discussed there, so I can close this one

[2020-02-24 17:19] #3097 closed, assigned to nobody

[2020-02-24 17:23] churik commented on #2681
@Serhy would you mind to recheck it when you have time?
I can't start app on Android 6 in BrowserStack, it is crashed

[2020-02-24 17:26] churik commented on #3175
still relevant on Status 1.0.1 (Android10)

[2020-02-24 17:40] churik commented on #4994
Still the case only for emojis, but in case of ordinary text it is trimmed.
Should we keep it opened @Serhy wdyt?

[2020-02-24 17:50] churik commented on #4569
still relevant in scenario 2 and scenario 3 on Status v1.0.1

[2020-02-24 18:00] churik commented on #4391
still relevant in Status v1.0.1 (Android 9)

[2020-02-24 18:17] churik commented on #5202
still relevant in Status v1.0.1 (Android 9, IOS 13)
The issue is that it is different on IOS and Android - I would prefer to have the same behavior on both platforms.

[2020-02-24 18:19] churik commented on #5217
not an issue anymore in Status v1.0.1 (Android 9)

[2020-02-24 18:19] #5217 closed, assigned to nobody

[2020-02-24 18:28] churik commented on #5242
@flexsurfer - yes, no crash anymore.
Sp only resolving in chat is currently the issue.

[2020-02-24 18:29] churik commented on #5297
not reproducible anymore on Status v1.0.1

[2020-02-24 18:29] #5297 closed, assigned to nobody

[2020-02-24 18:31] churik commented on #5302
Still relevant  on Status v1.0.1

[2020-02-25 07:37] #10012 closed, assigned to nobody

[2020-02-25 11:27] #9871 closed, assigned to Ferossgp

[2020-02-25 12:47] jakubgs commented on #8512
According to the docs building from source is not the only way to get into F-Droid:

https://f-droid.org/en/docs/FAQ_-_General/#whats-the-difference-between-source-and-binary-builds

So if the F-Droid build process doesn't work for us there is still a possibility of publishing by just providing them with APKs.

See also:

https://f-droid.org/en/docs/FAQ_-_App_Developers/#will-my-app-be-built-from-

[2020-02-25 12:49] jakubgs commented on #8512
There exists an [F-Droid Forum](https://forum.f-droid.org/) that I could try posting to to figure out if building via Nix is even doable. It might take much more research and work to figure out that it isn't than just compiling a post explaining our issues and asking if this can be made to work.

[2020-02-25 12:50] licaon-kter commented on #8512
Maybe that section needs some modifications.

We don't do that, unless the app builds reproducible. But... we need to be able to build it too, and verify of course.

[2020-02-25 12:51] jakubgs commented on #8512
Well, my understanding is that F-Droid is very opinionated about how Gradle should be used to build the App, but in our case we run Gradle through Nix derivations, like so:
https://github.com/status-im/status-react/blob/e5f7a94ee29382236063b81ce9dccaa0a4f2f880/nix/mobile/android/targets/release-android.nix#L124

From my reading of docs my understanding was that F-Droid server wants to run Gradle d

[2020-02-25 12:58] jakubgs commented on #8512
When I try to run via docker inside of the `fdroiddata` folder like so:
[code]
I get back a nonsense error:
[code]
I don't get what a regex for a Bitcoin address has to do with me building an Ethereum app.
According to this guide:
https://f-droid.org/en/docs/Submitting_to_F-Droid_Quick_Start_Guide/

I'm supposed to run `fdroid build` in the `fdroiddata` folder:
[code]
But that clearly doesn't work

[2020-02-25 13:01] jakubgs commented on #8512
I can't even build `org.fdroid.fdroid:16` as suggested in:
https://f-droid.org/en/docs/Building_Applications/

[code]
How is this supposed to work?

[2020-02-25 13:08] licaon-kter commented on #8512
Update fdroidserver and fdroiddata from Gitlab directly, this address error has been long fixed.

You can bypass gradle, don't include this section
[code]

But run it in the `build:` section.

[2020-02-25 13:11] jakubgs commented on #8512
Okay, so I can avoid F-Droid trying to run Gradle. That's great news, thanks!

But what about Nix? We require `root` permissions for `sudo` to install Nix so we can use it to build the App. I assume that wouldn't fly on F-Droid build servers. Or would it?

[2020-02-25 13:17] jakubgs commented on #8512
Okay, I pulled most recent changes for `fdroiddata`, but what about `fdroidserver`?

I'm looking at the readme for the docker container:
https://gitlab.com/fdroid/docker-executable-fdroidserver

And it seems like thae last commit was 1 year ago. And the instructions suggest that I should run:
[code]
But it doesn't say what `/repo` is supposed to be, but I assume it's supposed to be `fdroiddata`, b

[2020-02-25 13:19] jakubgs commented on #8512
Oh, I see, it clones `fdroidserver` at root:
https://gitlab.com/fdroid/docker-executable-fdroidserver/-/blob/master/Dockerfile#L8
Which means I can try mounting my own clone at `/fdroidserver`.

[2020-02-25 13:30] churik commented on #5016
I can interact now with Oasis dapp (https://oasis.app) on Status v1.0.1

[2020-02-25 13:30] #5016 closed, assigned to nobody

[2020-02-25 13:38] Serhy commented on #4994
Fine by me to have text only being trimmed in scope of this issue. Closing it.

[2020-02-25 13:38] #4994 closed, assigned to nobody

[2020-02-25 13:44] churik commented on #5364
Couldn't reproduce after redesigning wallet in Status v1.0.1

[2020-02-25 13:44] #5364 closed, assigned to nobody

[2020-02-25 13:45] jakubgs commented on #8512
Okay, by using `-v $(pwd)/fdroidserver:/fdroidserver` with the docker command I've made progress. Now it fails with:
[code]

[2020-02-25 13:48] churik commented on #6073
No Ropsten (LES) in Profile > Network Settings anymore on nightky 25/02/2020.
Closing the issue.

[2020-02-25 13:48] #6073 closed, assigned to nobody

[2020-02-25 13:49] churik commented on #6159
No Ropsten (LES) in Profile > Network Settings anymore on nightky 25/02/2020.
Closing the issue.

[2020-02-25 13:49] #6159 closed, assigned to nobody

[2020-02-25 13:49] jakubgs commented on #8512
It's not clear which line it doesn't like in `android/build.gradle`, but it might be this:
https://github.com/status-im/status-react/blob/9f2e2f9d3e0d7b1514ec6159bb08c532c72665b3/android/build.gradle#L63-L64

[2020-02-25 13:50] churik commented on #6339
Issue is still valid on nightly 25/02/2020 at attempt to upgrade from release v1.0.1

[2020-02-25 13:50] jakubgs commented on #8512
I wonder if there's a way to make `fdroid build` use a specific folder for its builds, instead of cloning every time. That way I could make modifications easier instead of committing them.

[2020-02-25 14:05] churik commented on #6426
Can't reproduce it with Swiftkey keyboard on redesigned flow in Status v1.0.1

[2020-02-25 14:05] #6426 closed, assigned to nobody

[2020-02-25 14:06] jakubgs commented on #8512
I can fix the:
[code]
By adding `scanignore` to the build metadata:
[code]

[2020-02-25 14:09] churik commented on #6434
Can't reproduce it with Swiftkey keyboard on redesigned flow in Status v1.0.1

[2020-02-25 14:09] #6434 closed, assigned to nobody

[2020-02-25 14:13] Serhy opened #10077 "Can't accept agreement on ENS registration when app translated into French"
# Bug Report

## Problem

When app translated into French or any other language which makes the `Agree to Terms and Conditions` text too long while registering ENS name, - the checkbox shifted out of screen making impossible it to be checked thus no way to buy ENS name (especially when large fonts are set to use on device but default device font on Samsung S8 already gives and issue)

We need to s

[2020-02-25 14:18] jakubgs commented on #8512
According to this issue:

https://gitlab.com/fdroid/fdroidserver/issues/504

But it complaining specifically about `'('` being a maven repo looks like an error with parsing of `build.gradle`.

[2020-02-25 14:20] churik commented on #6487
Currently, if unknown token is requested, message is shown in 1-1 chat, at attempt to send -> insufficient funds error (Statuv v1.0.1)
Believe that it is enough to close current issue.

[2020-02-25 14:20] #6487 closed, assigned to nobody

[2020-02-25 14:21] licaon-kter commented on #8512
No comments in .YML :)

If that's not for Android, `scandelete:` is better.

You can reach inside the docker and check, right?

The build runs in a VM that gets created/destroyed as needed, there is `sudo:` see https://f-droid.org/en/docs/Build_Metadata_Reference/#Build

You can always grep fdroiddata and find examples. ;)

Eg. we usually do
[code]
...(the doubling is to bypass some glitches) you

[2020-02-25 14:21] licaon-kter commented on #8512
I guess you `sed` something and that breaks it. Do attach the recipe so far in a gist or something.

[2020-02-25 14:27] churik commented on #6489
don't have this option anymore in top-right menu in public chat (Status v.1.0.1)

[2020-02-25 14:27] #6489 closed, assigned to nobody

[2020-02-25 14:27] jakubgs commented on #8512
Okay, I think what's more likely is that `fdroid` is getting confused by:
https://github.com/status-im/status-react/blob/9f2e2f9d3e0d7b1514ec6159bb08c532c72665b3/android/build.gradle#L54-L61
It would make sense since the `url()` specification of local paths for Maven modules would be unknown to `fdroid` and not verifiable.

[2020-02-25 14:30] jakubgs commented on #8512
@licaon-kter here's what I'm working with right now:
https://gist.github.com/jakubgs/af78e6baf01d0d21a2c9c18208ee4907

[2020-02-25 14:33] jakubgs commented on #8512
Not sure what you're talking about, YML has comments in the spec my dude:
https://yaml.org/spec/1.2/spec.html#id2780069

[2020-02-25 14:34] jakubgs commented on #8512
How so? It's not telling me which line it complains about, why would looking inside the docker container help? I'm not `sed`ing anything at all.

That's good to hear, thanks.

[2020-02-25 14:37] churik commented on #6717
Not relevant for Status v1.0.1

[2020-02-25 14:37] #6717 closed, assigned to nobody

[2020-02-25 14:37] jakubgs commented on #8512
Also, I just noticed that we will need to build an unsigned version of the app:

https://f-droid.org/en/docs/Build_Metadata_Reference/

[2020-02-25 14:38] churik commented on #6798
Not relevant for Status v1.0.1

[2020-02-25 14:38] #6798 closed, assigned to nobody

[2020-02-25 14:46] licaon-kter commented on #8512
Ok, fight with the linter then `fdroid lint -v im.status.ethereum` ;)

Look inside at the file... see if it has a dangling `(` if that's the error.

[2020-02-25 14:47] churik commented on #6837
Can't reproduce on Statusv1.0.1 (IOS 13)

[2020-02-25 14:47] #6837 closed, assigned to nobody

[2020-02-25 14:47] licaon-kter commented on #8512
I see this here too: https://gitlab.com/staltz/manyverse/-/blob/master/android/build.gradle#L30 and builds fine with this recipe: https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/se.manyver.yml#L1193

[2020-02-25 14:51] licaon-kter commented on #8512
Yes, so (I guess) remove https://github.com/status-im/status-react/blob/develop/android/app/build.gradle#L247 and line 250 via a `sed` in `prebuild:`

[2020-02-25 14:55] churik commented on #7015
not relevant in Status v1.0.1.

[2020-02-25 14:55] #7015 closed, assigned to hesterbruikman

[2020-02-25 14:59] jakubgs commented on #8512
Okay, I have verified using this:
[code]
That the issue is indeed this section in `android/build.gradle`:
https://github.com/status-im/status-react/blob/9f2e2f9d3e0d7b1514ec6159bb08c532c72665b3/android/build.gradle#L54-L61
Which got me to the `build` stage, which failed due to lack of Nix:
[code]

[2020-02-25 14:59] churik commented on #6862
The workflow in  dapp registrar.ens.domains is changed, could buy name on Ropsten network.
Considering the issue is not relevant anymore (Status v1.0.1)

[2020-02-25 14:59] #6862 closed, assigned to nobody

[2020-02-25 15:06] jakubgs commented on #8512
I don't have to, there's no errors:
[code]

There isn't, I was not `sed`ing the file, as I said. It's fine. As I said in the previous comment, the issue appears to be in:
https://github.com/status-im/status-react/blob/9f2e2f9d3e0d7b1514ec6159bb08c532c72665b3/android/build.gradle#L54-L61

Well, if you look at the metadata it actually tells F-Droid to ignore that file:
[code]
https://gitlab.com/fdro

[2020-02-25 15:07] jakubgs commented on #8512
Also, regarding comments, the docs state that:

https://f-droid.org/en/docs/Build_Metadata_Reference/

So it seems like the F-Droid documentation itself recommends adding comments to the metadata YML file.

[2020-02-25 15:08] jakubgs commented on #8512
Also:

https://f-droid.org/en/docs/Build_Metadata_Reference/

[2020-02-25 15:10] churik commented on #6895
Not relevant after redesign in Status v1.0.1

[2020-02-25 15:10] #6895 closed, assigned to nobody

[2020-02-25 15:11] churik commented on #7090
should be retested along with https://github.com/status-im/status-react/issues/10003

[2020-02-25 15:13] churik commented on #7197
Still relevant in nightly 25/02/2020

[2020-02-25 15:13] licaon-kter commented on #8512
Better use
[code]
...cause lines tend to move.

I've seen issues with lint, but whatever.

So that's the magic sauce then.

[2020-02-25 15:14] licaon-kter commented on #8512
Why not scandelete both ios and Desktop?

[2020-02-25 15:16] jakubgs commented on #8512
Actually, setting:
[code]
Results in:
[code]
So I don't get how that works for the app you linked

[2020-02-25 15:17] jakubgs commented on #8512
Also, I don't intend to use any `sed` magic. That's just awful. I'm just using some right not to debug issues so I don't have to commit every time I want to test something in the repo.

I want to create a specific target that will result in an unsigned APK. Using `sed` to make your app build correctly sounds like just asking for major trouble.

[2020-02-25 15:17] churik commented on #7215
not reproducible on nightly 25/02/2020 (IOS 13)
![photo_2020-02-25 16 17 41](https://user-images.githubusercontent.com/4557972/75260755-5d72f480-57ea-11ea-8bcc-e110e3d6c00d.jpeg)

[2020-02-25 15:17] #7215 closed, assigned to churik

[2020-02-25 15:18] jakubgs commented on #8512
Still not sure what I'm supposed to do about:
https://github.com/status-im/status-react/blob/9f2e2f9d3e0d7b1514ec6159bb08c532c72665b3/android/build.gradle#L54-L61
Removing it is not an option, that's just going to break the build. And using `scanignore` makes it fail with the error above.

[2020-02-25 15:19] churik commented on #7333
Still relevant on Status v1.0.1

[2020-02-25 15:21] churik commented on #7337
Didn't see it during testing after release Status-v1.0.1
Please reopen if it is still relevant for someone.

[2020-02-25 15:22] #7337 closed, assigned to nobody

[2020-02-25 15:22] churik commented on #7683
Didn't see it during testing after release Status-v1.0.1
Please reopen if it is still relevant for someone.

[2020-02-25 15:22] #7683 closed, assigned to nobody

[2020-02-25 15:24] churik commented on #7362
@cammellos does it make sense to keep it open?

[2020-02-25 15:26] churik commented on #7432
not relevant in Status v1.0.1.

[2020-02-25 15:26] #7432 closed, assigned to nobody

[2020-02-25 15:29] churik commented on #7437
Still relevant in v1.0.1

[2020-02-25 15:29] jakubgs commented on #8512
Looks like I can't install Nix if the user under which UID I'm running doesn't exist:
[code]

[2020-02-25 15:31] jakubgs commented on #8512
And I can't use `sudo` inside of the container because it doesn't exist:
[code]

[2020-02-25 15:32] jakubgs commented on #8512
And I can't use `su` because of lack of terminal?
[code]
Which I assume it wants because UID `1000` doesn't have permissions to `su` and wants password.

[2020-02-25 15:36] jakubgs commented on #8512
Oh, but there's a special `sudo` metadata field:

Specifies a script to be run using sudo bash -x -c "xxxx" in the buildserver VM guest. This script is run with full root privileges, but the state will be reset after each build. The vast majority of apps build using the standard Debian/stable base environment. This is useful for setting up the buildserver for complex builds that need very specific

[2020-02-25 15:38] licaon-kter commented on #8512
That's better yes 👍

`subdir: android` means it starts in this folder so, change to:
[code]
...right?

Already said that...yes...[scroll up](https://github.com/status-im/status-react/issues/8512#issuecomment-590889764).

[2020-02-25 15:41] jakubgs commented on #8512
I tried to fix the Nix installation error by using `-e USER=builder` and adding:
[code]
But that fails because:
[code]
So using a Docker container might not work for this. What a nightmare.

I already removed that, here's how it looks right now:
https://gist.github.com/jakubgs/673af2de1db0a4c9573bc5b13d4a4c99

You did indeed, I thought you meant I could use `sudo` not that there's a special key. O

[2020-02-25 15:42] churik commented on #7391
Can't reproduce issue (tried both scenarios) in nightly 25/02/2020
@Serhy have you seen this message lately?

[2020-02-25 15:44] jakubgs commented on #8512
Besides, the example you linked uses `subdir` anyway:
https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/se.manyver.yml#L502

[2020-02-25 15:46] Serhy commented on #7391
Haven't seen it for a long time.
Lets' close it.

[2020-02-25 15:46] #7391 closed, assigned to nobody

[2020-02-25 15:49] licaon-kter commented on #8512
Then, use the Docker commands to setup whatever would need to be done in `sudo` and document it. We'll test on a proper server asap.

I'm baffled by the folders used too sometimes.

[2020-02-25 15:52] licaon-kter commented on #8512
Try with `fdroid build --on-server ...`

Ref: https://gitlab.com/fdroid/fdroidserver/-/blob/master/fdroidserver/build.py#L887

[2020-02-25 15:53] jakubgs commented on #8512
Okay, so I made a new image using this `Dockerfile`:
[code]
And now Nix is installing properly:
[code]
Progress.

[2020-02-25 15:56] jakubgs commented on #8512
Oh:
[code]
I guess that could work too. But using a modified image is fine too for now.

[2020-02-25 16:02] jakubgs commented on #8512
Okay, now it's failing on lack of space:
[code]
I guess the Docker volume has some kind of size limitation.

[2020-02-25 16:19] jakubgs commented on #8512
I also opened this thread on the F-Droid forum:
https://forum.f-droid.org/t/can-i-build-an-app-for-f-droid-via-nix/8839
But you answered some of those questions already, so I'll post an update there.

[2020-02-25 17:21] guylouis opened #10080 "Design a proper NFC tag emulation mode"
**Here's the use case we want to enable:**

First use
- user purchases a keycard
- he taps the keycard
- this prompts download of the app

Once app is installed
- tapping the card on the phone should not pop-up the app

**Constraint**
- should work with android and iOS

**(for note) Issue with past release of this feature**
- worked only on android
- 'First use' case was working as described here

[2020-02-26 08:51] #9886 closed, assigned to nobody

[2020-02-26 08:53] errorists commented on #10052
[9 designs later](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4323%3A19953), here's what I propose to do

<img width="1526" alt="Screenshot 2020-02-26 at 09 38 09" src="https://user-images.githubusercontent.com/4932774/75327174-39f88a00-587c-11ea-83de-e76901451642.png">

1. Add the chat key below your currently used username.
2. Embed the avatar, name and key into touchable

[2020-02-26 09:32] jakubgs opened #10083 "Implement new shorter universal links"
# Feature Issue

The current form of links is too verbose and long. After discussing this with @jarradh and some others we've decided to use shorter forms, like so:

* https://join.status.im/markets in favour of https://join.status.im/chat/public/markets
* https://join.status.im/u/0x04abcXYZ123... in favour of https://join.status.im/user/0x04abcXYZ123...
* https://join.status.im/u/jakubgs in favou

[2020-02-26 09:32] jakubgs commented on #10017
Update: With https://github.com/status-im/universal-links-handler/pull/29 merged the new forms are:

* https://join.status.im/0x04abcXYZ123... in favour of https://join.status.im/user/0x04abcXYZ123...
* https://join.status.im/@jakubgs in favour of https://join.status.im/user/jakubgs
* https://join.status.im/@jakubgs.eth in favour of https://join.status.im/user/jakubgs.eth
* https://join.status.im/

[2020-02-26 09:55] churik opened #10084 "Make commands in chat available on Ropsten for e2e builds"
# Problem

For e2e we need to automate sending ETH and tokens in 1-1 chat.

## Implementation

From @cammellos : we just have to set an env variable (or pass config)

## Acceptance Criteria
All e2e builds (nightly and PRs) have  commands in chat in Ropsten network

[2020-02-26 10:40] churik commented on #7498
Still relevant in Status v1.0.1

[2020-02-26 10:41] churik commented on #7499
Still relevant in Status v1.0.1

[2020-02-26 10:42] churik commented on #7558
Not relevant in Status v1.0.1

[2020-02-26 10:42] #7558 closed, assigned to nobody

[2020-02-26 10:44] churik commented on #7559
@Serhy I believe in Status v1.0.1 a bit different, like https://github.com/status-im/status-react/issues/9928
WDYT?

[2020-02-26 10:55] churik commented on #7090
Still relevant in Status v1.0.1

[2020-02-26 10:57] errorists commented on #7498
ok we're working on group chat today, and I'm looking into it. tho tbh I don't see that as an issue, message history not going back before you joined, seems like an obvious limitation.

<img width="468" alt="Screenshot 2020-02-26 at 11 55 27" src="https://user-images.githubusercontent.com/4932774/75338372-e3487b80-588e-11ea-97d5-09dda0017ce2.png">

we could customise this text here if you guys fee

[2020-02-26 11:00] errorists commented on #7498
why would you expect they would be received by User B?

[2020-02-26 11:03] churik commented on #7605
Still relevant in Status V1.0.1 on LG V20 (1440 x 2560)

[2020-02-26 11:05] churik commented on #7622
Still relevant in Status V1.0.1

[2020-02-26 11:07] churik commented on #7640
@hesterbruikman can you please recheck this on current [nightly](https://status-im.ams3.digitaloceanspaces.com/StatusIm-200226-025900-17e5fc-nightly-universal.apk) ?
Bottom sheet modals were redesigned, I have never experienced this issue.

[2020-02-26 12:19] churik commented on #7498
thx @errorists!

For me (if I'm not familiar with group chat flow in Status) as for chat creator it is not clear that the user will receive an invite -> then it should join and only after that you can send message.

@hesterbruikman if you feel that it is obvious from current implementation - I'll close it.

[2020-02-26 12:23] errorists commented on #7498
Let's not close it yet for now, do the first round of UI updates Gheorghe is working on now, test that PR and get a feel if it's an issue. The way I see it now, we might need to communicate more clearly that those people were only invited and didn't join yet. However I think that once you understand that, it's implied that they won't receive any messages until they join the chat.

[2020-02-26 12:29] churik commented on #3997
Tested it on nightly 26/12/2020.
Pending outgoing transactions I can see immediately after sending,  incoming - after 1 confirmation.
From my POV it looks as expected.
WDYT?

[2020-02-26 12:32] churik commented on #4011
I believe it is a part of https://github.com/status-im/status-react/issues/9225 now and can be closed

[2020-02-26 12:32] #4011 closed, assigned to nobody

[2020-02-26 12:34] churik commented on #4184
still relevant in Status v1.0.1

[2020-02-26 12:35] churik commented on #4187
Still relevant in Statusv1.0.1

[2020-02-26 12:42] churik commented on #5350
can't reproduce from mobile client on Status v1.0.1

[2020-02-26 12:42] #5350 closed, assigned to nobody

[2020-02-26 12:43] churik commented on #5354
@flexsurfer still makes sense I believe?

[2020-02-26 12:49] flexsurfer commented on #5354
@churik probably, i don't see how it can be useful for a regular user

[2020-02-26 12:50] churik commented on #7610
didn't see it for a while, so closing (Statusv1.0.1)

[2020-02-26 12:50] #7610 closed, assigned to nobody

[2020-02-26 12:52] churik commented on #7655
Not possible flow now. Not relevant for Status v1.0.1

[2020-02-26 12:52] #7655 closed, assigned to nobody

[2020-02-26 12:54] churik commented on #7672
Not relevant after launching Status v1.0.1

[2020-02-26 12:54] #7672 closed, assigned to nobody

[2020-02-26 12:55] churik commented on #7674
Couldn't reproduce in Statusv1.0.1

[2020-02-26 12:55] #7674 closed, assigned to nobody

[2020-02-26 12:57] churik commented on #7757
@hesterbruikman do you face it after launch Status v1.0.1?

[2020-02-26 13:53] errorists opened #10087 "Identify new chats on the list"
# Problem

There's no visible way to distinguish new chats that appeared on your list. A message from a new contact or an invitation to join a group chat might go unnoticed.

## Implementation

<img width="1020" alt="Screenshot 2020-02-26 at 14 48 10" src="https://user-images.githubusercontent.com/4932774/75350942-9d4be180-58a7-11ea-9a17-3b955f0f2db3.png">

To identify new chats on a list, please

[2020-02-26 14:32] churik commented on #7765
Couldn't reproduce it in nightly 26/02/2020

[2020-02-26 14:32] #7765 closed, assigned to nobody

[2020-02-26 14:33] churik commented on #7770
Not relevant in Status v1.0.1

[2020-02-26 14:33] #7770 closed, assigned to nobody

[2020-02-26 14:36] churik commented on #7841
not reproducible on nightly 26/02/2020

[2020-02-26 14:36] #7841 closed, assigned to nobody

[2020-02-26 14:36] churik commented on #7912
Not relevant in Status v1.0.1

[2020-02-26 14:36] #7912 closed, assigned to nobody

[2020-02-26 14:40] churik commented on #7972
Closing as couldn't reproduce (nightly 26/02/2020)

[2020-02-26 14:40] #7972 closed, assigned to nobody

[2020-02-26 14:41] churik commented on #7996
should be retested after fix for  https://github.com/status-im/status-react/issues/10083

[2020-02-26 14:47] churik commented on #8154
Can't reproduce on Pixel 3 (Android 9, Android 10) - real devices (BrowserStack)

[2020-02-26 14:47] #8154 closed, assigned to nobody

[2020-02-26 14:49] churik commented on #8161
didn't see it for a long time.
Couldn't reproduce it in nightly 26/02/2020

[2020-02-26 14:49] #8161 closed, assigned to nobody

[2020-02-26 14:52] churik commented on #8167
Not valid workflow for Status v1.0.1

[2020-02-26 14:52] #8167 closed, assigned to nobody

[2020-02-26 14:55] churik commented on #8241
@sterlu does it still relevant?

[2020-02-26 14:55] rasom commented on #10010
Wallet service is not running for some reason
[code]

[2020-02-26 14:58] churik commented on #8177
not relevant anymore

[2020-02-26 14:58] #8177 closed, assigned to nobody

[2020-02-26 15:06] churik commented on #8254
Not reproducible on nightly 26/02/2020

[2020-02-26 15:06] #8254 closed, assigned to nobody

[2020-02-26 15:20] hesterbruikman commented on #7757
I'd have to check on my old phone. Back home tomorrow, I'll give it a spin and get back here!

[2020-02-26 15:22] churik commented on #8273
Can't reproduce in on nightly 26/02/2020.
Have you seen this recently @Serhy ?

[2020-02-26 15:23] churik commented on #8276
Couldn't reproduce (nightly 26/02/2020)

[2020-02-26 15:23] #8276 closed, assigned to nobody

[2020-02-26 15:25] churik commented on #8283
Not relevant anymore due to https://github.com/status-im/status-react/issues/10083

[2020-02-26 15:25] #8283 closed, assigned to nobody

[2020-02-26 15:25] churik commented on #8347
Not relevant anymore (nightly 26/02/202)

[2020-02-26 15:25] #8347 closed, assigned to nobody

[2020-02-26 15:26] churik commented on #8346
Not relevant anymore (nightly 26/02/202)

[2020-02-26 15:26] #8346 closed, assigned to nobody

[2020-02-26 15:29] flexsurfer commented on #8241
@churik should be fixed

[2020-02-26 15:29] #8241 closed, assigned to nobody

[2020-02-26 15:31] Serhy commented on #2681
Yes, it's still present in Release 1.0.1 build:

<img width="354" alt="Screenshot 2020-02-26 at 17 30 02" src="https://user-images.githubusercontent.com/8749671/75359970-cecfa780-58bd-11ea-8b05-d19c182e9e7b.png">

[2020-02-26 15:33] churik commented on #8349
Not relevant anymore;
In case of this error "Outgoing transaction"  remains in state "address request accepted", which I consider works as expected (nightly 26/02/2020)

[2020-02-26 15:33] #8349 closed, assigned to nobody

[2020-02-26 15:42] churik commented on #5674
Should be rechecked after fix https://github.com/status-im/status-react/pull/9970

[2020-02-26 15:42] churik commented on #7872
Not relevant anymore

[2020-02-26 15:42] #7872 closed, assigned to nobody

[2020-02-26 15:57] churik commented on #8352
Can't see this error anymore in case of limited connection now I just can't sign a transaction because the network fee is not set automatically.
Consider it as expected behavior, @rachelhamlin please reopen if will see this again

[2020-02-26 15:57] #8352 closed, assigned to nobody

[2020-02-26 15:58] churik commented on #8355
Fixed in https://github.com/status-im/status-react/pull/8363

[2020-02-26 15:58] #8355 closed, assigned to nobody

[2020-02-26 16:00] churik commented on #8395
Status v1.0.1 can't be installed on IPads, so closing

[2020-02-26 16:00] #8395 closed, assigned to nobody

[2020-02-26 16:03] churik commented on #8404
Should be rechecked after https://github.com/status-im/status-react/issues/10061 fix

[2020-02-26 16:06] churik commented on #8405
@rachelhamlin
it is still valid, but I don't know real usecase (how to check this in DApps)
Does it make sense to keep it opened?

[2020-02-26 16:08] churik commented on #8397
Don't think that it is like this now.
@Serhy wdyt?

[2020-02-26 16:10] churik commented on #9857
also affects group chats (as mentioned in https://github.com/status-im/status-react/issues/8416)

[2020-02-26 16:10] churik commented on #8416
Closing as part of https://github.com/status-im/status-react/issues/9857

[2020-02-26 16:10] #8416 closed, assigned to nobody

[2020-02-26 16:10] errorists opened #10089 "Override the behaviour of public chat' unread messages indicator"
# Problem

Public chats count all new messages for the purpose of incrementing the unread counter. That doesn't perform well in actual use since not all messages are created equal and it's impossible to tell how much of those you should really care about. Often that leaves you with spiralling numbers that you stop caring about, that are hard to keep track of. Instead, public chats should different

[2020-02-26 16:11] churik commented on #8428
No support for IPad now (Status v1.0.1)

[2020-02-26 16:11] #8428 closed, assigned to nobody

[2020-02-26 16:13] churik commented on #8457
Can't reproduce anymore.
@rachelhamlin please reopen if still relevant for you

[2020-02-26 16:13] #8457 closed, assigned to nobody

[2020-02-26 16:18] churik commented on #8473
Let's keep it open now due to "Add members" screen:
![photo_2020-02-26 17 17 43](https://user-images.githubusercontent.com/4557972/75364376-f160c100-58bb-11ea-80e7-fa90dd324a66.jpeg)

But in other places, it was fixed in nightly 26/02/2020

[2020-02-26 16:19] churik commented on #8474
Not relevant, as it used only for testing purposes

[2020-02-26 16:19] #8474 closed, assigned to nobody

[2020-02-26 16:20] churik commented on #8530
Not relevant in Status v1.0.1

[2020-02-26 16:20] #8530 closed, assigned to nobody

[2020-02-26 16:22] churik commented on #8532
works now

[2020-02-26 16:22] #8532 closed, assigned to nobody

[2020-02-26 16:25] churik commented on #8567
Still relevant.
Blocker for e2e 5686, partially 5363, 5463

[2020-02-26 16:26] churik commented on #8658
Not relevant in Status v1.0.1

[2020-02-26 16:26] #8658 closed, assigned to nobody

[2020-02-26 16:30] churik commented on #8663
Can't reproduce on nightly 26/02/2020

[2020-02-26 16:30] #8663 closed, assigned to nobody

[2020-02-26 16:45] churik commented on #8664
Issue is still reproducible.
On Ropsten with 0x25B1bD06fBfC2CbDbFc174e10f1B78b1c91cc77B (SNTMiniToken).
Tried other tokens on mainnet - couldn't reproduce.

[2020-02-26 16:49] churik commented on #8758
not reproducible on nightly 26/02/2020

[2020-02-26 16:49] #8758 closed, assigned to nobody

[2020-02-26 16:52] churik commented on #8771
Yes, it is still reproducible sometimes (but once in ages).

[2020-02-26 16:55] churik commented on #8809
should be rechecked after fix https://github.com/status-im/status-react/issues/10054

[2020-02-26 16:56] churik commented on #8840
should be rechecked after https://github.com/status-im/status-react/issues/10061 and https://github.com/status-im/status-react/issues/10083

[2020-02-26 16:58] churik commented on #8875
Fixed in Status v1.0.1

[2020-02-26 16:58] #8875 closed, assigned to nobody

[2020-02-26 16:59] churik commented on #8897
as I can understand, issue is still relevant in Status v1.0.1

[2020-02-26 17:00] churik commented on #8924
not relevant for Status v1.0.1

[2020-02-26 17:00] #8924 closed, assigned to nobody

[2020-02-26 17:00] churik commented on #8698
should be fixed after merge https://github.com/status-im/status-react/pull/9932

[2020-02-26 17:02] churik commented on #8942
still relevant (nightly 26/02/2020)

[2020-02-26 17:03] churik commented on #9091
still relevant

[2020-02-26 17:03] churik commented on #9098
still relevant

[2020-02-26 17:03] churik commented on #9133
still relevant

[2020-02-26 17:03] churik commented on #9212
still relevant

[2020-02-26 17:04] churik commented on #9140
still relevant

[2020-02-26 17:07] churik commented on #9101
relevant and related to #9857 (basically it is the same as I can understand)
Does it make sense to keep  #9857 only @cammellos ?

[2020-02-26 17:08] churik commented on #9152
It is not reproducible on nightly 26/02/2020

[2020-02-26 17:08] #9152 closed, assigned to nobody

[2020-02-26 17:09] churik commented on #9511
Still relevant on nightly 26/02/2020

[2020-02-26 17:10] churik commented on #9490
Still relevant on nightly 26/02/2020

[2020-02-26 17:11] churik commented on #9358
Couldn't reproduce it (nightly 26/02/2020)

[2020-02-26 17:11] #9358 closed, assigned to nobody

[2020-02-26 17:12] churik commented on #9181
Still relevant on nightly 26/02/2020

[2020-02-26 17:13] churik commented on #9217
Didn't see this on Status v1.0.2
@Serhy please reopen if still relevant

[2020-02-26 17:13] #9217 closed, assigned to nobody

[2020-02-26 17:14] errorists commented on #8942
I don’t think it’s relevant anymore, I recall we specifically addressed this and on my iPhone they both share the same height.

[2020-02-26 17:14] #8942 closed, assigned to nobody

[2020-02-26 17:16] churik commented on #9317
@yenda do you still experience it?
https://github.com/status-im/status-react/issues/9805 also can be related, however in your case you added contact after sync.

If you still see it, please attach logs.

[2020-02-26 17:17] churik commented on #9255
Still reproducible on nightly 26/02/2020

[2020-02-26 17:21] churik commented on #9380
The `value` parameter is still doesn't work, but I didn't experience this issue again.
Will open separate issue with `value`

[2020-02-26 17:21] #9380 closed, assigned to nobody

[2020-02-26 17:23] churik commented on #9480
still relevant on nightly 26/02/2020

[2020-02-26 17:25] churik commented on #9482
still relevant on nightly 26/02/2020

[2020-02-26 17:28] churik commented on #9487
still relevant on nightly 26/02/2020 (bold is not applied)

[2020-02-26 17:30] churik commented on #9389
still relevant on nightly 26/02/2020 - for transaction sheet and 1-1 chat

[2020-02-26 17:32] churik commented on #9425
@flexsurfer do you still see this issue?

[2020-02-26 17:33] churik commented on #9432
@alexjg the issue is still relevant for you?

[2020-02-26 17:37] churik commented on #9444
can't reproduce it anymore on nightly 26/02/2020

[2020-02-26 17:37] churik commented on #9495
still relevant on nightly 26/02/2020

[2020-02-26 17:38] churik commented on #9481
can't reproduce it anymore on nightly 26/02/2020

[2020-02-26 17:38] #9481 closed, assigned to nobody

[2020-02-26 17:53] #9425 closed, assigned to nobody

[2020-02-26 18:06] alexjg commented on #9432
Unfortunately I don't have time to work on Status at the moment, so not really. I never managed to solve the problem but you might as well close it if no one else is encountering it.

[2020-02-26 18:51] #10010 closed, assigned to nobody

[2020-02-27 07:31] StatusSceptre commented on #8405
No harm keeping it open, we just don't need to worry about it unless it comes up with users.

[2020-02-27 07:59] Serhy commented on #8698
#9932 merged. Closing the issue.

[2020-02-27 07:59] #8698 closed, assigned to nobody

[2020-02-27 08:13] Serhy commented on #7559
Exactly. No need to keep this one open, - #9928 is the same with fresher behavior.

[2020-02-27 08:13] #7559 closed, assigned to nobody

[2020-02-27 09:23] Serhy commented on #8273
Can't reproduce with recent develop builds.

[2020-02-27 09:23] #8273 closed, assigned to nobody

[2020-02-27 10:32] Serhy commented on #8397
It's definitely improved right now in V1 release.

[2020-02-27 10:33] #8397 closed, assigned to nobody

[2020-02-27 11:30] hesterbruikman commented on #7640
Resolved in the latest nightly!

![Frame 1](https://user-images.githubusercontent.com/35233054/75440906-f295fa80-595c-11ea-95f0-a771a7726eae.png)

[2020-02-27 11:30] #7640 closed, assigned to nobody

[2020-02-27 11:41] hesterbruikman commented on #7757
@churik Channels aren't active enough to properly test:/ I'll need to try again when there's more activity or more bridged channels.

[2020-02-27 12:40] rasom commented on #9662
@churik are there other devices with such problem?

[2020-02-27 12:45] rasom commented on #9662
@churik did you try to install other apps which use nfc on this device to check if they somehow solve this issue? like NFC Tools or something

[2020-02-27 13:25] churik commented on #9662
@rasom

I have only one where I can configure settings for NFC separately for the app

Yeah, will do and post update here

[2020-02-27 14:14] rasom commented on #9650
@churik
I can reproduce
[code]
but I think that's a different issue from original `java.lang.IllegalArgumentException 16>0` problem. And I can't reproduce `java.lang.IllegalArgumentException 16>0`. So we rather need to edit this issue or close it and create a new one.

[2020-02-27 14:15] churik commented on #10018
Couldn't reproduce it on Xiaomi Note 9, OS: Android 10QKQ1 with Swift keyboard.
@3esmit thank you for logging it!
Please reopen if see it again.

[2020-02-27 14:15] #10018 closed, assigned to nobody

[2020-02-27 14:55] churik commented on #9662
Can't reproduce  - now it always asks to turn on NFC for phone, which is OK.
Will reopen if it will be reproducible again

[2020-02-27 14:55] #9662 closed, assigned to nobody

[2020-02-27 14:55] churik commented on #9650
better to create new one.
Closing this issue.
Thx @rasom

[2020-02-27 14:55] #9650 closed, assigned to nobody

[2020-02-27 15:18] churik opened #10093 "Value is not supported in EIP681 links"
# Bug Report

## Problem

At attempt to scan QRs like `ethereum:pay-0xd21DB0e43048AcB94f428eD61dC244c82f1ff2a8/transfer?address=0xd21DB0e43048AcB94f428eD61dC244c82f1ff2a8&uint256=1e2` or `ethereum:0x3d597789ea16054a084ac84ce87f50df9198f415?value=1` value is not set.

Mentioned in #9380 and in #9563

#### Expected behavior
can see value in 'Amount' field after scanning

#### Actual behavior
Send tr

[2020-02-27 15:36] churik opened #10095 "IOS build is keeping logged out after several minutes of inactivity"
# Bug Report

## Problem
After several minutes when app is in background and phone switched to sleep mode - user is logged out.
I didn't experience with this issue before v1.0.1, and also can't see that behavior in other chat applications (WhatsUp, Discord, Telegram)

#### Expected behavior
session is active

#### Actual behavior
user is logged out

### Reproduction

- Open Status
- Log in
- Put a

[2020-02-28 07:08] rachelhamlin commented on #10089
This is an awesome idea Maciej. I like it simply because it will fix the fact that the count is often wrong/sticky for messages I've already read.

[2020-02-28 07:47] #9848 closed, assigned to Ferossgp

[2020-02-28 08:23] rachelhamlin opened #10097 "Status Starter Pack"
# Feature Issue

In order to onboard users more quickly to the network, we're experimenting with an in-wallet starter pack.

![image](https://user-images.githubusercontent.com/15470435/75522103-b5ed0080-5a3b-11ea-99ae-d3a262c282ab.png)

Users can buy a bundle of tokens, including SNT, along with a set of stickers, for a set fee via Apple/Google Pay or credit card. This has the benefit of distribut

[2020-02-28 11:09] churik opened #10098 "Messages are not confirmed"
# Bug Report

## Problem
On develop 28/02/2020 (latest commit https://github.com/status-im/status-react/commit/3ad9cfa269b7aab50560b9206fa3427b0c3edace) - can't get confirmation for messages (so messages stuck with endless spinner > Not confirmed state)

#### Expected behavior
Messages are confirmed

#### Actual behavior
Endless spinner (after ~5 mins on adnroid got "Not confirmed", on IOS still e

[2020-02-28 11:10] churik commented on #10098
cc @cammellos @rachelhamlin

[2020-02-28 11:13] churik commented on #10098
Same detected in e2e tests: see details [here](https://app.saucelabs.com/tests/e145f7761cf74eecb2002337cbbb7a50?auth=7613e3a35524bed77283e9ca0248d8ff#58 )
Logcat:  [logcat (4).log](https://github.com/status-im/status-react/files/4266751/logcat.4.log)

[2020-02-28 11:41] flexsurfer opened #10101 "Add support for adding new accounts in wallet with keycard"
# Feature Issue

Add support for adding new accounts in a wallet with keycard

After we implemented private key and seed support, and reworked adding accounts feature https://github.com/status-im/status-react/pull/10100  we need to add keycard support

[2020-02-28 12:49] hesterbruikman opened #10103 "Add fiat entry in Send transaction"
# Feature Issue
### User Story
As a user I want to enter my transfer amount in fiat, because I don't know what the current token value is. Also, I determine how much I want to transfer in fiat, as it's most familiar due to day to day use.

### Description
Designs on [Figma](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=5849%3A42299)

* [ ] Designs change the asset selection to

[2020-02-28 13:07] hesterbruikman opened #10105 "Add set max to Send transaction"
# Feature Issue
### User Story
As a user I want to be able to quickly move all my funds, because, for example I lost my seed phrase

### Description
Designs on [Figma](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=5849%3A42299)

* [ ] Adds available amount in wallet for selected asset
* [ ] In case ETH is selected, the user will need to manually edit the total to reserve some

[2020-02-28 13:54] hesterbruikman commented on #10103
cc @errorists @rachelhamlin issue based on Andrei's design to address entering amounts in fiat when sending a transaction

[2020-02-28 13:55] hesterbruikman commented on #10105
cc @errorists @rachelhamlin less frequent than entering a fiat amount, this has also come up multiple times. It's not a full safety switch to move all assets, but at least per asset type. Also doesn't account for remaining ETH dust yet. Still think it's a worthwhile improvement

[2020-02-28 14:03] flexsurfer commented on #10105
"send all" doesn't sound good, because you don't send , you set value in a field, so probably "set max" or smth would be better

[2020-02-28 14:34] hesterbruikman commented on #10105
Agreed! Updated in Figma and above. Thanks @flexsurfer

[2020-02-28 15:42] 3esmit opened #10107 "Wallet QRCode Scanner says invalid address for valid address scanned"
# Bug Report

## Problem

Not all sites use EIP-681 for expressing payment requests, or the QRCode is used only to share ethereum address. For example in Etherscan and many crypto payment systems.

![image](https://user-images.githubusercontent.com/224810/75562461-656ba800-5a27-11ea-8fe3-d00a91b61a90.png)

How to reproduce:

1. Go to Wallet
2. Open the desired wallet
3. Tap Send
4. Enter some valu

[2020-02-28 16:08] 3esmit opened #10109 "Wallet universal qrcode scanner does not fails gracefully (an invalid UI state is displayed)"
# Bug Report

## Problem

When an invalid QR Code is scanned, for example:
![image](https://user-images.githubusercontent.com/224810/75564041-2723b800-5a2a-11ea-9d09-be5b24a38cfe.png)

This bug only occurs when the invalid qr code scanner is scanned through the universal scanner, a button with this icon:
![image](https://user-images.githubusercontent.com/224810/75564150-5d613780-5a2a-11ea-9293-214

[2020-02-28 17:51] #10098 closed, assigned to nobody

[2020-02-28 18:36] churik commented on #10107
duplicate of https://github.com/status-im/status-react/issues/9748
This issue has more descriptive title and description, so will leave this one and close https://github.com/status-im/status-react/issues/9748

Thanks!

[2020-02-28 18:36] #9748 closed, assigned to nobody

[2020-02-29 12:47] #9984 closed, assigned to nobody

[2020-02-29 13:01] #10054 closed, assigned to nobody

[2020-03-01 08:02] #9893 closed, assigned to Ferossgp

[2020-03-01 10:35] weekly-digest[bot] opened #10112 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 45 issues were created.
Of these, 24 issues have been closed and 21 issues are still open.
## OPEN ISSUES
:green_heart: #10109 [Wallet universal qrcode scanner does not fails gracefully (an invalid UI state is displayed)](https://github.com/status-im/status-react/issue

[2020-03-01 10:37] decanus opened #10113 "Cannot use ENS name when adding watch only address"
# Bug Report

## Problem

When trying to add a watch only address it does not accept ENS names.

#### Expected behavior

A watch only address can be added using ens.

#### Actual behavior

A watch only address cannot be added using ens.

[2020-03-02 09:33] flexsurfer commented on #8837
still can be reproduced https://github.com/status-im/status-react/pull/10100#issuecomment-592572011

[2020-03-02 09:38] churik opened #10114 "Group chat is not updated with system messages until manual reopening"
# Bug Report

## Problem
Can't see system messages (i.e. `user joined the group`) after automatic redirect from group info screen.

#### Expected behavior
Message is shown

#### Actual behavior
No message until manually reopen chat (Back -> open chat)
- ![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4557972/75663858-d4d4d800-5c71-11ea-8c2f-906caa8cf0a5.gif)

### Reproduction

[2020-03-02 10:01] churik opened #10115 "Trim address in input field (New chat screen)"
# Bug Report

## Problem

When copying chat key or typing ENS with space in the end/start of the string, better to trim user input

#### Expected behavior
can add contact

#### Actual behavior
validation error
![photo_2020-03-02 11 00 36](https://user-images.githubusercontent.com/4557972/75665817-0f8c3f80-5c75-11ea-8b67-d9eb6b2432f3.jpeg)

### Reproduction

[comment]: # (Describe how we can replic

[2020-03-02 11:35] #9789 closed, assigned to nobody

[2020-03-02 12:03] rasom commented on #10101
@flexsurfer does it meant adding keycard account to on-device multiacc or what exactly?

[2020-03-02 12:29] flexsurfer commented on #10101
it means adding new account in keycard multiaccount wallet
so you have multiaccount created with keycard, and you want to generate a new account in the wallet, or import account from seed or private key, we had an implementation for account generation but screens have been reworked, and we need to reintroduce generating new account for keycard multiaccounts and implement seed and private key suppo

[2020-03-02 13:50] rasom commented on #10101
@flexsurfer ok, got it, thanks

do we have a design for keycard version?

[2020-03-02 14:00] flexsurfer commented on #10101
no @errorists

[2020-03-02 15:13] Serhy commented on #10057
After https://github.com/status-im/status-react/issues/10054 fixed I can't reproduce this issue.
Can delete Group chat from `Chats` main view, from Group Info view and from group chat menu via Delete chat option. In all of three cases after re-login there were no group chat after relogin and nothing received if message received in group chat that has been deleted.

@churik I think we may close thi

[2020-03-02 15:26] flexsurfer opened #10119 "Android app UI is slow when recieving new messages"
# Bug Report
## Problem
When i open app UI is slow. Sometimes it's slow during using it

#### Expected behavior
UI is smooth

## Investigations
_Updated 5 Mar 2020_

* [x] 1) `dispatch-later` is paused when app in background, use `:utils/dispatch-later` instead
* [ ] 2) it seems after a long time in background `:utils/dispatch-later` works differently as well (not proved technically, only visually

[2020-03-02 15:40] flexsurfer commented on #10119
also i can see this in the logs
[code]

[2020-03-02 16:19] #10115 closed, assigned to nobody

[2020-03-02 16:43] zach-is-my-name opened #10121 "Enter Seed Phrase Input Not Rendering Properly"
Enter Seed Phrase Input Not Rendering Properly

![image](https://user-images.githubusercontent.com/16063092/75697137-a9a2b680-5c7a-11ea-9b4a-83ad5cfa5d64.png)

See the phrase input

Not seeing it

iOS 13.3.1
Model: iPhone SE

[2020-03-02 18:26] flexsurfer commented on #10119
after i removed filters for contacts , app is much responsive but still when i see in logs `:status-im.transport.message.core/process` app is slow

[2020-03-02 18:35] flexsurfer commented on #10119
so there are two issues:

1) we use `:dispatch-later` which uses `setTimeout` https://github.com/day8/re-frame/blob/accc559010c8635020fb929f1a4b081b69f58d5f/src/re_frame/interop.cljs#L38, but RN pauses `setTimeout` in the background, so when app is opened from the background all handlers called altogether and this slowdown app depends on how long it was in the background

2) `process-response` fun

[2020-03-02 18:39] flexsurfer commented on #10119
3. why app always receives the same ens names every 30s? it should receive only new ens names which have been resolved

[2020-03-02 19:55] flexsurfer commented on #10119
[code]

[2020-03-02 19:55] flexsurfer commented on #10119
[code]
 takes `37 msecs` doesn't look good ?

[2020-03-02 20:34] flexsurfer commented on #10119
[code]
takes `2 msecs`

[2020-03-03 10:32] churik commented on #9895
More visible in PR https://github.com/status-im/status-react/pull/10100
cc @flexsurfer

[2020-03-03 10:41] 3esmit commented on #8497
There are two conditions where the ENS Usernames can be released:
1. Registration is more then 1 year old
2. Contract Migrated

For both cases, the function to be called is the following:

https://github.com/status-im/ens-usernames/blob/77d9394d21a5b6213902473b7a16d62a41d9cd09/contracts/registry/UsernameRegistrar.sol#L125-L133

1. can be checked with

https://github.com/status-im/ens-usernames/blo

[2020-03-03 11:04] churik commented on #9749
@rachelhamlin
 https://github.com/status-im/status-react/pull/10100 implemented importing private key + seed phrase inside the wallet.
So actually it resolves importing of private key itself, but you can't use your ENS on that wallet anyway (currently multiple accounts are not supported in ENS)

[2020-03-03 11:35] hesterbruikman commented on #10121
Might be possible to take along this issue, words are being hyphenated unnecessarily
![Screenshot_20200302_180925_im status ethereum](https://user-images.githubusercontent.com/35233054/75771961-4fbdf180-5d4b-11ea-8f85-49c1d0b0e342.jpg)

[2020-03-03 11:38] flexsurfer commented on #10119
[code]

[2020-03-03 11:42] flexsurfer commented on #10119
so `process-response` should be optimized

[2020-03-03 11:49] flexsurfer commented on #10119
[code]

[2020-03-03 11:52] #9749 closed, assigned to nobody

[2020-03-03 13:01] 3esmit commented on #8497
Its a Blockchain Fact that "usernames can be released", i.e. is the rules of the contract, which at user application level should result into update of UI of all users that are currently looking to that username.

The tracking could be done by blockchain events, so all participants of the network update their interface in response to the same event.
We could use UsernameRegistrar.sol emmited event

[2020-03-03 13:28] #10089 closed, assigned to nobody

[2020-03-03 13:39] 3esmit commented on #8497
## However, as a quick path to solve this issue:

I. REMOVE USERNAME
 The first button, REMOVE USERNAME, will just drop it at user local database.

II. RELEASE USERNAME
For the button "RELEASE USERNAME" to be visible, it must be a `.stateofus.eth` subnode.
For the button "RELEASE USERNAME" to be active it must:
 a. have a registration older than 1 year OR  b. registration contract migrated

a. is

[2020-03-03 13:40] flexsurfer commented on #10119
hm one thought about dispatch-later is that it visible when there are heavy computations in views and subs, but if we use dispatch we have these calculations only once when all dispatches are handled
but with dispatch-later  views and subs recalculated and re-render each time for every event
yeah that looks reasonable at least
we need to take all events, subs and views under full control and add p

[2020-03-03 16:58] zach-is-my-name commented on #10121
Not sure what that means but, the issue is most certainly related to style and assumptions about screen size. The iPhone SE has a really small screen (relative to the others).

Sent from my iPhone

[2020-03-04 08:36] churik commented on #8837
Currently, issue is reproducible when adding a new account in wallet (except for watch only), so the issue title is edited.

[2020-03-04 08:50] #10084 closed, assigned to nobody

[2020-03-04 08:53] #10061 closed, assigned to nobody

[2020-03-04 10:45] flexsurfer commented on #10119
i feel like using subscriptions for chat view is kinda wrong ?
and this thing also bothers me https://github.com/status-im/status-react/blob/f3df8b2ec89f8403d2eb81e9e10859b0d783e9ef/src/status_im/ui/components/list/views.cljs#L218
and things like this https://github.com/status-im/status-react/blob/f5488e1f61eb87c374a23a357d057a624a642e46/src/status_im/subs.cljs#L825
so for every new message we rec

[2020-03-04 12:23] 0kok0 commented on #8837
It would definitely be nice to have the prompt disabled but I don't think it's a blocker. Short term we could uglify the app a little with a warning before the prompt, I also think @adambabik proposal for user asset based schemes/warnings could be useful here, as saving the password for asset free accounts could be an option.

[2020-03-04 17:13] Serhy opened #10127 "Log level is not applied"
# Bug Report

## Problem

By default we set log level in DISABLED state in profile setting. However changing it to DEBUG/TRACE does not make any effect. In logcat (Status.log for iOS) there are no DEBUG/TRACE records anyway.

It's fine with develop (nightly/PR) builds.

#### Expected behavior

Log level setting applies and reflected in logs for release builds

#### Actual behavior

Log level setti

[2020-03-04 19:44] hesterbruikman opened #10128 "Import an account and store it on Keycard (within a regular multiaccount)"
# Feature Issue
Allow storing an imported seed, through seed phrase, private key or keyfile storage, on Keycard.

### User Story
As a user I want to add an existing seed to my Status multiaccount and store it on Keycard, because I want to make all transactions from a single wallet, while keeping some of my funds in cold storage.

### Description
- Add storage selection to:
`Add account` >`Enter a

[2020-03-04 19:46] hesterbruikman commented on #10128
@rasom @guylouis please check if this issue is accurate. Added after discussing with @rasom on Discord

[2020-03-04 21:14] hesterbruikman opened #10129 "Allow users to change their password"
# Feature Issue
When users first use Status they are asked to create a password. At this point they might not see enough value in Status to create a secure password. Users should be able to upgrade their password.

### User Story
As a user I want to change my password because I used a simple password and want to create a better one.

### Description

- Designs on [Figma](https://www.figma.com/file

[2020-03-05 02:21] danimesq commented on #9749
@churik

But if only the keypair imported account have a domain, it works?

[2020-03-05 10:30] flexsurfer commented on #10119
parametrised subscriptions doesn't look good,  like https://github.com/status-im/status-react/blob/f5488e1f61eb87c374a23a357d057a624a642e46/src/status_im/subs.cljs#L850 and https://github.com/status-im/status-react/blob/f5488e1f61eb87c374a23a357d057a624a642e46/src/status_im/subs.cljs#L1663
because they duplicate subscriptions
and last one doesn't look good because we call status-go inside subscrip

[2020-03-05 10:34] churik commented on #9749
@DaniellMesquita what do you mean `have a domain`?
Do you have ENS name registered in your wallet, which you want to connect to chat key?

[2020-03-05 11:05] churik opened #10132 "1.1.0 Release"
Issue to manage 1.1.0 Release

### Release scope

- Changes: https://github.com/status-im/status-react/pulls?page=3&q=is%3Apr+merged%3A%3E2020-02-05
- Release notes:
- Feature freeze date:  March, 4, 2019
- Expected release date:

### Testing info
- build 1 test plan: https://ethstatus.testrail.net/index.php?/runs/view/4999
- build 2 test plan: https://ethstatus.testrail.net/index.php?/runs/view/5

[2020-03-05 11:32] churik opened #10133 "Chat history is not shown after fetching ("Fetch more") until reopening chat"
# Bug Report

## Problem

Chat view is not updated when using "Fetch more" in chat until reopening a chat.
Issue introduced in #9995

#### Expected behavior
Messages are fetched, history is updated

#### Actual behavior
To see history you need to reopen chat

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create new multiaccount
- Join #status

[2020-03-05 12:34] churik commented on #10133
cc @andremedeiros

[2020-03-05 14:06] churik opened #10136 "Messages are not marked as read after changing transaction state in 1-1 chat"
# Bug Report

## Problem
Currently if transaction in 1-1 chat changed state (i.e. Pending->confirmed, Shared address->Declined), message is marked as unread and the only way mark it as read - use "Mark all read" option

#### Expected behavior
no unread messages

#### Actual behavior
![photo_2020-03-05 14 58 26](https://user-images.githubusercontent.com/4557972/75988473-ed532580-5ef1-11ea-8399-d8f1

[2020-03-05 14:29] churik commented on #10136
@flexsurfer not sure it is blocker, WDYT?
can it be easy to fix?

[2020-03-05 14:32] flexsurfer commented on #10136
doesn't look like a blocker, i believe we have it in v1 as well and its only for the first message

[2020-03-05 14:40] churik commented on #10136
1) no, we don't have
2) no, it is for others as well

[2020-03-05 15:32] vkjr commented on #8497
@rachelhamlin, @3esmit, @flexsurfer, I've created a [PR](https://github.com/status-im/status-react/pull/10134) where `remove` button only clears local user data as @3esmit suggested in previous comment.
If I understand correctly, registrar contract doesn't have the functionality to disable name resolving without releasing it (@3esmit please correct me if I'm wrong). If so, should we add this possi

[2020-03-05 19:21] andremedeiros commented on #10133
I remember seeing a PR fly past me this morning by @flexsurfer. Was it the fix for this issue?

[2020-03-05 19:32] flexsurfer commented on #10133
no

[2020-03-06 02:48] danimesq commented on #9749
@churik

Yes, my privatekey I need to import uses that.

How to download this build (isn't in Play Store and the /releases page is very outdated compated to it) ?

[2020-03-06 10:17] jakubgs commented on #10083
@hesterbruikman can we include this for `1.2`? As `1.1` appears to be already taking shape.

[2020-03-06 10:25] churik commented on #9749
@DaniellMesquita
You can import your account inside status multiaccount using your private key in next release (1.1.0) - release is in `Testing` stage now.

But you still can't use your ENS on this account, because ENS is using default (`Status` wallet).
So currently to use ENS you still need your seed phrase (to get it in MetaMask you need to import it first to browser extension, and then open Se

[2020-03-06 10:35] flexsurfer commented on #9749
it's not possible if you have the only private key,

this won't be implemented because of security

better to create an issue for selection wallet for ens name

[2020-03-06 12:22] #9630 closed, assigned to nobody

[2020-03-06 14:22] churik opened #10141 "Unable to login to multiaccount if it is already restored as account in another multiaccount (IOS)"
# Bug Report

## Problem
Currently at attempt to login to account, restored from seed phrase, got an error:
![photo_2020-03-06 15 05 12](https://user-images.githubusercontent.com/4557972/76090454-e4c72180-5fbb-11ea-8ff2-a85ce39c18f7.jpeg)

#### Expected behavior
app does not allow to restore this account from seed phrase

#### Actual behavior
IOS: error at login
Android: invalid password

#### Not

[2020-03-06 14:24] churik commented on #10141
cc @flexsurfer @andremedeiros

[2020-03-06 14:45] churik opened #10142 "Add possibility to select wallet for ENS names"
# Feature Issue

Currently, you can use ENS that is owned only by default (`Status`) account.
It would be nice to have possibility to choose a wallet in ENS, like it is done for DApps.
In continuation of https://github.com/status-im/status-react/issues/9749

### User Story

As a user, I want to have ability to use ENS names for imported wallets.

### Acceptance Criteria
Can use ENS for any account

[2020-03-06 14:48] jakubgs opened #10143 "Replace lein with shadow-cljs and improve Nix handling"
# Description

Currently we are using two tools to manage Clojure dependencies: `lein` and `clj`
This makes dependency management confusing and updating of Nix Clojure dependencies harder.

# Problem

Based on my discussion with @yenda about this I found out several things.

* There are two Clojure files defining the same dependencies:
  - `deps.clj` used by `clj` which is used by devs
  - `projec

[2020-03-06 15:45] hesterbruikman commented on #10083
I think that's fine, as long as we have it by the end of this month. As I understand it, this isn't hugely complex or would risk any delays. Added v1.2 release label.

Does this issue require any updates in https://github.com/status-im/universal-links-handler/?

[2020-03-06 16:09] jakubgs commented on #10083
The necessary changes have already been made in https://github.com/status-im/universal-links-handler/pull/29 and deployed.

[2020-03-06 16:29] hesterbruikman commented on #10083
Then I'm confused 🙂 Are you saying it's not in the release cut for V1.1?

[2020-03-06 16:50] jakubgs commented on #10083
It's very simple. There are two parts to this:

* [universal-links-handler](https://github.com/status-im/universal-links-handler) - service that runs at https://join.status.im/
* [status-react](https://github.com/status-im/status-react) - The app that makes use of the links from https://join.status.im/

In order to change the structure of links under https://join.status.im/ two changes have to be

[2020-03-06 17:00] jakubgs commented on #10083
But there is still the issue of #10029 and #10017 which touch partially on the same thing.

I think QR codes should always use full URLs and never use shorter forms like `status-im://jakubgs` or `@jakubgs` because this way they will work for anyone, not just for people who have the app installed.

[2020-03-06 17:11] hesterbruikman commented on #10083
Thanks for explaining!

Agree! I hate it when the short form doesn't work and I also get zero information about what it's trying to do

[2020-03-06 18:42] rasom commented on #10133
almost likely this commit introduced the issue https://github.com/status-im/status-react/commit/4734a4ee0476dcb53ad42d1127ce096de1ebad78

[2020-03-06 19:15] flexsurfer commented on #10133
@rasom yes #9995 in the description

[2020-03-06 19:17] flexsurfer commented on #10133
so in this change we don't add old new messages, only when we scroll we add old messages to the list, but when we fetch we don't scroll and we don't add old messages, tbh i didn't find a good solution for that so far

[2020-03-06 19:19] flexsurfer commented on #10133
i can see two solutions, after press fetch we add 20 new old messages when they come, or if we fetch we add all messages

[2020-03-08 13:01] hesterbruikman commented on #10083
Btw @jakubgs do you know why exactly we don't allow upper case, spaces, etc? I see a lot of value in being able to create a channel anywhere, just by editing a url. The format restrictions limit that feature.

Nothing concrete yet, but thinking of how we can offer a 'create and share channel' feature on status.im

[2020-03-08 14:10] rasom commented on #10133
that might be a quick fix before we solve it properly

it can't be that simple:
- there might be less than 20 messages
- messages arrive without order

The algorithm could be:
1. after receiving the first message from a requested range we schedule "scroll" event, so that even if we receive less than 20 we show these messages
2. after receiving 20th (the exact number might be different) message we

[2020-03-09 08:18] cammellos commented on #10133
It should be simply a matter of picking the first not visible message, instead of picking the last visible message as the code does.
Currently the issue is that when you reach the top of the scrolling, messages should be added regardless, instead we check that the message is less than: `(:clock-value last-visible-message)`, otherwise we don't load.
This is not correct, as if you are on top of the

[2020-03-09 08:27] rasom commented on #10133
@cammellos ok, thanks

[2020-03-09 09:14] flexsurfer commented on #10141
blocked : https://github.com/status-im/status-go/issues/1896

[2020-03-09 11:21] #10133 closed, assigned to nobody

[2020-03-09 12:05] flexsurfer opened #10147 "Visible lag when loading list of chats after sign in"
# Bug Report

## Problem

After sign in there is a white screen for ~1-2s, and then list partially appears and then after ~1-2s full list of chats appears

#### Expected behavior

The list is fully shown right after sign in

https://github.com/status-im/status-go/issues/2215

[2020-03-09 13:10] hesterbruikman opened #10148 "Update account label in dapp permission dialog"
# Problem
When a dapp requests permission to connect to an account (address) a permission dialog is shown. The selected account looks tappable, giving the impression that the account can be changed here (e.g. a account selector bottom sheet will come up).

This is currently not possible.

## Implementation
Change the color of the account name to black to make it appear less tappable.
Color: Black

[2020-03-09 13:10] hesterbruikman commented on #10148
cc @jakubgs @errorists

[2020-03-09 14:12] jakubgs commented on #10083
I don't know exactly why, but it makes sense to me. Look at Twitter, hashtags can't have spaces or special characters either. I think it's sensible. And you still can "create" a channel by just writing down a URL like https://join.status.im/my-new-channel just that if you for example use uppercase it will not work: https://join.status.im/My-New-Channel

What we could possibly do is simply redirect

[2020-03-09 14:16] jakubgs commented on #10148
Removing the border might be good too, but I'd defer to @errorists on that.

[2020-03-09 14:53] hesterbruikman commented on #10083
That would solve it. What I noticed before was the issue of having #friendschat when using Join Chat in Status (validation permits uppercase) and #Friendschat when using the url https://join.status.im/Friendschat. They'd open 2 different channels.

[2020-03-09 15:12] jakubgs commented on #10083
There you go: https://github.com/status-im/universal-links-handler/pull/32

[2020-03-09 19:45] pcowgill commented on #7225
If you have any more context on why you closed this @churik, that would be helpful. Thanks!

[2020-03-10 08:37] vkjr commented on #7225
@pcowgill, this issue related to old UI of Status Desktop. We switched to using mobile UI for desktop, so it is now irrelevant.

[2020-03-10 08:38] churik commented on #7225
Ofc @pcowgill
https://status.im/get/ - this only versions of Status, that are supporting after release v1.
Old desktop versions, based on QT, are not supporting anymore - but there is a plan to continue (based on two-pane UI), you can track progress on these issues:
https://github.com/status-im/status-react/issues?q=is%3Aopen+is%3Aissue+label%3Adesktop-new

[2020-03-10 09:56] guylouis commented on #10101
@rasom @hesterbruikman @rachelhamlin

Based on our discussion on 10/03

For a keycard Multiaccount we have 3 options when user adds a new account based on seed or private key:
1/ ask him to tap the card + PIN
2/ define a new password
3/ (temporary) remove this importing options for keycard mutliaccounts

For a non keycard multiaccount
1'/ use the same password as used to protect the multiaccount
2

[2020-03-10 15:18] guylouis commented on #10128
see 10/03 discussion summary here
https://github.com/status-im/status-react/issues/10101#issuecomment-596999543

[2020-03-11 10:24] hesterbruikman opened #10151 "Import existing Keycard multiaccount into regular multiaccount > Store on Keycard"
# Feature Issue
Allow user to access existing Keycard multiaccount through regular multiaccount, signing tx for the Keycard and passcode, but unlocking the account with the regular account authentication.

This moves all accounts under one roof.

Issue requires:
- adding a step to select a storage location to the import keys flows
- detect whether the keys stored on Keycard match the keys that the

[2020-03-11 10:32] hesterbruikman opened #10152 "Allow resetting Keycard when importing a seed to store on Keycard"
# Feature Issue
Allow resetting Keycard when importing a seed to store on Keycard

### User Story
As a user I want to import and account and store it on a Keycard. If my Keycard already has an account on it I want to be able to reset it and store the new account on there, because the account I created in the past with Keycard doesn't hold any value, I was just trying out the card

### Description

[2020-03-11 10:33] hesterbruikman commented on #10152
cc @guylouis

[2020-03-11 10:33] hesterbruikman commented on #10151
cc @guylouis

[2020-03-11 14:21] #9334 closed, assigned to nobody

[2020-03-11 14:21] #9365 closed, assigned to Ferossgp

[2020-03-11 14:21] #9626 closed, assigned to nobody

[2020-03-11 14:21] #9660 closed, assigned to Ferossgp

[2020-03-11 14:21] #9664 closed, assigned to nobody

[2020-03-11 14:21] #9676 closed, assigned to Ferossgp

[2020-03-11 14:21] #9702 closed, assigned to nobody

[2020-03-11 14:21] #9704 closed, assigned to nobody

[2020-03-11 18:11] Serhy opened #10154 "No messages are shown in chat view if you receive them while being on different tab"
# Bug Report

## Problem
Chat view is not updated with received messages if you received them while chat (1-1/public/group) view opened and you was at different tab (Wallet/Profile/Browser). Messages appear if to navigate back to Chats and again open chat with new messages.

**NOTE**: it's all fine when I put app on background with chat view and receive messages to this chat

Video: https://drive.

[2020-03-12 07:05] #10011 closed, assigned to nobody

[2020-03-12 07:32] Ferossgp commented on #9451
Partially fixed in #10015 it works the right way by replacing the PIN screen without header 1 of 3 and handling pin correctly. Needs to be checked for all edge cases.

[2020-03-12 08:30] errorists opened #10156 "Dark Mode 😎"
### User Story

As a user I want to enable a dark mode setting to make the interface easier on the eyes in dim light conditions, preserve battery on OLED displays, or as a personal preference.

### Description

Scope of this issue is as follows:

1. We place an **Appearance** setting in profile

<img width="395" alt="Frame 25" src="https://user-images.githubusercontent.com/4932774/76501017-d3f6300

[2020-03-12 13:22] #10141 closed, assigned to nobody

[2020-03-12 13:42] Serhy commented on #10154
This issue in Release 1.1 as well.
And in Release 1.0.2 too, but not exactly like in description: in Release 1.0.2 messages are visible but unread messages indicator keeps staying after navigation to Chats tab. User behavior in that case will be the same, - to return to chats and notice there are unread messages. Taking that into account I agree it's not a blocker for v1.1 and will be fixed in v1.

[2020-03-12 16:44] hesterbruikman opened #10161 "Set default currency based on Play Store/App store country/region"
# Problem
Anyone who wants to use a currency other than USD, currently has to locate and change the currency setting manually. Setting the currency based on App store/Play store region can make first time use more hassle free for a larger group of users

## Implementation
Set default currency to App store/Play store country or region

## Acceptance Criteria
Changing country/region changes default

[2020-03-13 10:11] #9953 closed, assigned to nobody

[2020-03-13 14:39] hesterbruikman opened #10163 "Improve alerts and flow to back up seed phrase"
# Feature Issue
We can do better making people aware that they need to back up their seed phrase. The current implementation includes badges on `Profile`, `Settings > Privacy and security`, `Settings > Privacy and Security > Back up seed phrase`. In addition we show a notification banner once the user has value in their wallet.

After V1 release we received feedback that:
- People hadn't backed up

[2020-03-13 14:41] hesterbruikman commented on #10163
@andremedeiros @rachelhamlin I'd love to see this on the roadmap. With the current subtle nudges to back up seed phrase I'm afraid we'll onboard a lot of users that don't back up their seed phrase.

[2020-03-14 22:03] bogdyak opened #10167 "Feature request - Payment request deeplink"
## EIP links over status-im:// universal/deep link

Is there already support of something like
[code]

but through
[code]

Thanks

[2020-03-16 05:07] rachelhamlin commented on #9953
@flexsurfer heyo! catching up via GH and not Discord - was this fixed elsewhere or just closed?

[2020-03-16 05:07] rachelhamlin commented on #10163
Nice solution. Tracked as unplanned on Trello right now. It is important, I agree.

[2020-03-16 06:00] rachelhamlin commented on #10103
Lovely - thanks @hesterbruikman

[2020-03-16 06:01] rachelhamlin commented on #8497
The goal of this issue was to remove the user's Status chat key from the ENS name. What is meant by local user data?

@3esmit is it true that we can not remove chat key from registration without releasing the name entirely?

[2020-03-16 06:05] cammellos commented on #9953
@rachelhamlin this has been merged already

[2020-03-16 11:10] guylouis commented on #10101
update : this issue is simply about being able to 'add a new account' when the multi account is a keycard one. This new account is created on the BIP44 path. There is no need for specific designs here.

The design of how to import private keys (from private key or seed+paths) will be handled in separate issues.

[2020-03-16 11:51] jakubgs commented on #10132
I verified the [RC6 build](https://ci.status.im/job/status-react/job/release/job/release%2F1.1.x/6/) includes the billing permissions:
[code]

[2020-03-16 12:33] #10154 closed, assigned to cammellos

[2020-03-17 07:58] flexsurfer commented on #9928
haven't seen this for a while

[2020-03-17 07:58] flexsurfer commented on #9943
haven't seen this for a while

[2020-03-17 07:59] flexsurfer commented on #10003
probably fixed with offloading messages

[2020-03-17 14:03] #9846 closed, assigned to Ferossgp

[2020-03-17 15:39] churik opened #10178 "App is stuck on "Confirm the passcode" step at attempt to restore or create account using seed phrase with keycard storage"
# Bug Report

## Problem
Can't restore account and save it on keycard.
Found in https://github.com/status-im/status-react/pull/9945

#### Expected behavior
Redirected to Pairing Code / Puk screen

#### Actual behavior
No redirect from "Confirm the passcode" screen

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Access key > Enter seed phrase >

[2020-03-17 15:39] churik commented on #10178
cc @Ferossgp @guylouis

[2020-03-17 16:36] hesterbruikman opened #10179 "Create invite link for group chat"
# Feature Issue
Create an invite link for group chats that can be used as a referral link

### User Story

- As a user I want to invite friends in my current group chat to join me on Status in a private group chat, because I want to continue our existing shared conversation there
- As Status we want to onboard existing groups as they are more likely to stay compared to individuals being connected

[2020-03-17 16:46] hesterbruikman commented on #10179
cc @errorists @cammellos

[2020-03-17 17:14] flexsurfer commented on #10167
@churik or @Serhy could you confirm that `status-im://pay-snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16` already works ? thanks

[2020-03-18 12:02] churik opened #10181 "Navigation to empty screen after pairing card"
# Bug Report

## Problem
Found in https://github.com/status-im/status-react/pull/10175.
After recovering account with keycard user is redirected to empty screen:
![photo_2020-03-18 12 31 26](https://user-images.githubusercontent.com/4557972/76958621-60a85e80-6918-11ea-83ec-79df754a99d9.jpeg)

#### Expected behavior
"Chat and transact privately with friends"

#### Actual behavior
empty screen

###

[2020-03-18 14:43] #9974 closed, assigned to nobody

[2020-03-18 14:47] #10178 closed, assigned to nobody

[2020-03-18 17:43] Serhy commented on #10167
It doesn't work yet.
We parse `ethereum:pay-snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16` when scanning it from QR code (but there is an issue with picking up amount https://github.com/status-im/status-react/issues/10093)

But neither:
`status-im://pay-snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16`
nor
`status-im://ethereum:pay-snt.thetoken.eth/transf

[2020-03-18 18:09] bogdyak commented on #10167
@Serhy Thank you for picking this up. Will be looking forward to updates.
I will integrate status with our system once mentioned features will be implemented

[2020-03-19 06:27] flexsurfer commented on #9928
Powerful Specific Bluefish@statuBOTToday at 7:14 AM
I found a bug.
1. after I sent some messages. few of them are show icon 'sending'. circle round move below messages.
2. it happen yesterday. and still happen after exit the dapp.

[2020-03-19 09:45] #10101 closed, assigned to nobody

[2020-03-19 09:52] rachelhamlin commented on #8497
Pinging @3esmit @vkjr :)

[2020-03-19 09:55] rachelhamlin commented on #9928
Thanks Andrey. I think we should keep monitoring for reports of this before prioritizing.

[2020-03-19 10:21] #9992 closed, assigned to nobody

[2020-03-19 11:03] vkjr commented on #9754
@rachelhamlin, I think we should close this issue on gitcoin since it is closed already.

[2020-03-19 11:11] vkjr commented on #8497
By "local user data" I mean information about ens name stored locally on user's phone. If we remove it, user won't see his name among available ones. But others still can resolve it.
As far as i understand there is only one [release](https://github.com/status-im/ens-usernames/blob/77d9394d21a5b6213902473b7a16d62a41d9cd09/contracts/registry/UsernameRegistrar.sol#L125-L133) function in the contract

[2020-03-19 11:14] churik opened #10183 "Balance is not updated until first relogin"
# Bug Report

## Problem
In case of incoming transaction balance is not updated until reopening app (for fresh accounts only. pull to refresh, put app to background don't help)
After that balance is updating normally.
Reproducible on Ropsten and mainnet for fresh accounts.
The issue appeared in nightly 12/03.
It is reason of failing 3 e2e in nightly.

#### Expected behavior
Balance is updated

###

[2020-03-19 11:15] churik commented on #10183
@rasom can you please take a look when you have time?

[2020-03-19 11:17] flexsurfer commented on #8497
i think you should be able to remove public key and wallet address from name

[2020-03-19 11:18] flexsurfer commented on #8497
so we just need to call contract and set public key to empty string

[2020-03-19 11:53] churik opened #10185 "Keyboard is jumping on and off in "Send transaction" screen in case of changing recipient"
# Bug Report

## Problem
When enter recipient address or scanning valid QR on "Send transaction"  screen focus for a moment is set on amount field  (so the keyboard is opened, and then it is hidden)

#### Expected behavior
Keyboard is not hidden

#### Actual behavior
Keyboard appears for a moment and hides
![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/4557972/77064528-eba

[2020-03-19 12:25] #9680 closed, assigned to nobody

[2020-03-19 13:04] jakubgs opened #10187 "Send transaction popup doesn't respect back gesture"
# Bug Report

## Problem

The "back gesture" on Android doesn't close the `Send transaction` popup, but it does have effect on the app, so it can cause the app to go into background if done 2-3 times while the popup is out. After the app goes into the background and you focus it again the popup is gone and can't be opened again.

#### Expected behavior

* The back button exits the `Send transactio

[2020-03-19 13:51] #10183 closed, assigned to nobody

[2020-03-19 14:48] Serhy opened #10189 "App crash when closing WebView"
# Bug Report

## Problem
App crashes when WebView is closed via top-left cross icon.
**NOTE:** In develop builds (nightly 19th March) `...-univeral.apk` it may not crash from the first time but if to open-close up to 20 times the same Dapp it may crash.

However with the builds from https://github.com/status-im/status-react/pull/10090 (https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-200

[2020-03-20 07:43] rachelhamlin commented on #9754
Will do @vkjr

[2020-03-20 10:40] churik commented on #10189
сс @rachelhamlin

[2020-03-20 12:05] Serhy opened #10192 "Make Status support new and old deep link format"
# Bug Report

## Problem

In the https://github.com/status-im/universal-links-handler/pull/29 we've implemented new shorter URLs for deep links
The app needs to be modified to support both for at least one release and then we can retire the old ones and use HTTP redirects to new ones

This issue should also cover opening of the deep link while Status is closed (it doesn't work now)
And also deep l

[2020-03-20 12:34] vitvly commented on #10189
Seems that `react-native-screens` is the cause. It has been introduced in https://github.com/status-im/status-react/pull/10176.

Added some more detail [here](https://github.com/status-im/status-react/pull/10090#issuecomment-601675870).

[2020-03-20 14:41] Ferossgp commented on #10189
Actually the problem is not in `react-native-screens` but it became visible with it. When the screen is removed from stack the lib clears the screen from memory, and if some functions are called on non-existing components they will crash. I've debugged that bug, and the reason for the crash in develop is that `sendToBridge` is called when the component is unmounted and there are stale animation li

[2020-03-20 16:29] Serhy commented on #10189
I've got when it reproduced (in develop) 100% on Android 9 / 10
It happens when cursor is in the URL input while user closes WebView. So to reproduce:
1) Open Status and navigate to Browser
2) Open dap.ps
3) Put cursor in URL input (keyboard appears)
4) Tap `X` closing webview button

[2020-03-21 11:16] #9962 closed, assigned to nobody

[2020-03-23 09:18] hesterbruikman opened #10195 "Allow delete multiaccount"
# Problem
Allow removing a multiaccount. This feature will be required to introduce moving an existing regular multiaccount to Keycard. Maintaining the multiaccount on local storage (keys on phone) would nullify the security Keycard brings.

We have also received this feature request multiple times. Although it is not entirely clear why people ask for this feature, opposed to uninstalling the app,

[2020-03-23 11:18] hesterbruikman commented on #10195
cc @rachelhamlin @guylouis

[2020-03-23 13:51] churik commented on #9668
@siphiuel have the same behavior in nightly 23/03/2019
Logs: [Status-debug-logs-dapp.zip](https://github.com/status-im/status-react/files/4369744/Status-debug-logs-dapp.zip)

[2020-03-23 14:09] Serhy opened #10197 "Positive token balances display '0' after re-login in Wallet views"
# Bug Report

## Problem

It started often to appear that after re-login (maybe 1 of 3 re-login) token balances display 0, even there are funds (balance > 0). Below are logcat when after login all token balances show 0.

#### Expected behavior

Appropriate token balance displayed on Wallet
#### Actual behavior

<img width="344" alt="Screenshot 2020-03-23 at 16 07 09" src="https://user-images.githu

[2020-03-23 14:11] churik commented on #10197
сс @rasom

[2020-03-23 14:21] churik commented on #10197
@flexsurfer  - can you please take a loook, can it be related to https://github.com/status-im/status-react/commit/2272fafc05c82514d829dc7c1d33a3dcf0f8dd60?

[2020-03-23 14:25] flexsurfer commented on #10197
no its not related

[2020-03-23 14:28] rachelhamlin commented on #8497
@vkjr just pinging on this - any thoughts re: Andrey's response?

[2020-03-23 14:38] churik opened #10199 "No message when sending funds in 1-1 chat with keycard"
# Bug Report

## Problem
Message is not shown in 1-1 chat after sending transaction.

#### Expected behavior
Message is not shown in 1-1 chat after sending transaction in 1-1 chat

#### Actual behavior
No message after signing transaction

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Start 1-1 chat with ENS
- Try to send some ETH (i.e. 0.01)

[2020-03-23 15:32] churik commented on #10192
review `TestDeepLinks` after fix

[2020-03-23 16:01] vkjr commented on #8497
@rachelhamlin, thanks for pinging!

@flexsurfer, could you please point me to the function in a contract that should be called? I'm not fully understand it.

[2020-03-24 06:43] #9686 closed, assigned to nobody

[2020-03-24 07:05] rasom commented on #10197
that's what can be found in the attached logs
[code]

[2020-03-24 07:08] rasom commented on #10197
Almost likely it is thrown here https://github.com/status-im/status-go/blob/develop/vendor/github.com/ethereum/go-ethereum/eth/api_backend.go#L108

[2020-03-24 08:08] guylouis commented on #10195
This is needed also to be able to[ reset a keycard ](https://github.com/status-im/status-react/issues/9229)(clean it from from his secrets), since once it is cleared we need to remove the multiaccount from Status UX

See roman comment here https://github.com/status-im/status-react/issues/9229#issuecomment-552314034

[2020-03-24 09:30] jakubgs commented on #10192
This already has an issue: https://github.com/status-im/status-react/issues/10083

[2020-03-24 09:43] hesterbruikman opened #10201 "Reduce ambiguity between digits and letters"
# Problem
In several places in the app it's important to distinguish digits and letters, e.g. O vs 0.
- Wallet address
- Chat key
- Pairing code Keycard

## Implementation
Apply Inter Status, part of Quo, to relevant components
Inter has a specific styling to reduce ambiguity between characters:  https://rsms.me/inter/#features/ss02
To enable it requires to insert font-feature-settings: "ss02" str

[2020-03-24 09:49] #10189 closed, assigned to nobody

[2020-03-24 09:50] hesterbruikman commented on #10201
@errorists can you please check if the issue is accurate?
cc @rachelhamlin

[2020-03-24 10:02] errorists commented on #10201
It's a bit more than that. For addresses the full range of what needs to be included:

• Disambiguation (slashed zero and curved tails)
font feature: `ss02`
_or if that's unavailable somehow, Slashed Zero `zero`_
• Disable Contextual Alternates (default is enabled, if letter `x` is joined by digits on both sides it's automatically turned to multiply `×`)
font feature: `Disable calt`
• I would also

[2020-03-24 10:04] errorists commented on #10201
I doubt this will be easy to accomplish without the use of native code. Alternative here is to fork and create a specific version of Inter that has those features enabled by default

[2020-03-24 12:27] Serhy opened #10203 "Endless spinner when sending two TX in a batch in Dapp"
# Bug Report

## Problem

There is an endless signing transaction process when trying to send two transactions in a batch.
You can check it in simpledapp.eth -> Transaction tab: the `Send two Txs in batch.` button.

It seems nothing to deal with failing transaction itself but bottom sheet, because once `Send transaction` bottom sheet is opened there is no way to close it (nothing happens when tapp

[2020-03-24 12:34] jakubgs commented on #5302
Still an issue:
![status_upper_and_lower_case_channels](https://user-images.githubusercontent.com/2212681/77426065-073aa680-6dd4-11ea-9b25-16d84340e2cd.jpg)
This should probably be handled as part of work on #10083.

[2020-03-24 12:34] jakubgs commented on #10083
#5302 is old but still relevant. We should fix the deep linking of upper case channel names.

[2020-03-24 13:17] flexsurfer commented on #8497
@yenda could you help with that, how do we set public key for ens name ?

[2020-03-24 13:17] flexsurfer commented on #8497
do we register name https://github.com/status-im/status-react/blob/d823a2082a9edac8949d18d80065c2637f111812/src/status_im/ens/core.cljs#L147 ?

[2020-03-24 14:46] Serhy commented on #10197
With the latest nightly it reproduced probably 1 of 7 relogins.
I set up autologin and re-open Status multiple times to catch the bug.
Yesterday it was easy to see the bug  on network change, but now 5 of 5 network changes (with relogin)  succeeded in relation to 0 token balances)

[2020-03-24 15:07] rasom commented on #10197
@Serhy @churik
The reason of this bug is that `wallet_getTokensBalances` quite often fails after account unlocking. Eventually balance will be loaded, but probably we need to show something different form 0 while numbers are not available.

[2020-03-24 15:21] gravityblast opened #10205 "Update the Keycard request screen to recognize tokens by address"
# Feature Issue

The payment request screen should show the amount with decimals and the symbol of the ERC20 token used for the payment.

The current implementation shows the amount without decimals (in the screenshot below it shows 1 and 18 zeros instead of 1), and the token address (instead of showing STT, the SNT test token deployed on Ropsten).

![01](https://user-images.githubusercontent.com/

[2020-03-24 16:09] gravityblast commented on #10205
/cc @guylouis @bitgamma @siphiuel

[2020-03-25 00:28] axic commented on #6562
I would like to open this issue up again.  The app has advanced settings already and exporting private key is practically supported by every client.  Since the wallet stores the keys in an insecure location on the phone anyway and that the industry prefers hardware wallets (even Status has its Keycard), I think it makes sense to allow this **and** encourage users to rely on hardware wallets for ex

[2020-03-25 07:45] #8947 closed, assigned to Ferossgp

[2020-03-25 07:46] #9938 closed, assigned to Ferossgp

[2020-03-25 09:10] #10132 closed, assigned to nobody

[2020-03-25 09:30] churik opened #10210 "1.2.0 Release"
Issue to manage 1.1.0 Release

### Release scope

* Changes: https://github.com/status-im/status-react/search?o=desc&q=committer-date%3A%3E2020-03-05&s=committer-date&type=Commits (in Release branch)
* Release notes:
* Feature freeze date: March, 25, 2019
* Release branch: https://github.com/status-im/status-react/tree/release/1.2.x
* Expected release date:
31/03/2019
### Testing info
* build 1 te

[2020-03-25 09:39] churik commented on #10210
@rachelhamlin
is it required to include https://github.com/status-im/status-react/pull/10207?

[2020-03-25 10:43] churik opened #10211 "Screen is jumping when switching between tabs with open tabbar with and without text"
# Bug Report

## Problem
Video: https://drive.google.com/file/d/1sKznc9AMSDEAouq_-PLEI4DLFy8paXoy/view?usp=sharing
Added to release, because issue is extremely visible.

#### Expected behavior
navigation is smooth

#### Actual behavior
screen is jumping

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Join to any chat (leave in chat screen)
- S

[2020-03-25 10:45] churik commented on #10211
cc @rachelhamlin @Ferossgp

[2020-03-25 10:46] errorists commented on #10211
I can't access the video, help a guy out with a dropbox link? ;)

[2020-03-25 10:49] Ferossgp commented on #10211
@errorists Here 2 videos which show the problem
V1.1 https://drive.google.com/file/d/1NnD14faNo6sC9YrU8U9q8SFrrslOu3Ck/view?usp=sharing
Now: https://drive.google.com/file/d/1NqmoJv0z6gZPrn-1gf3GrY5PJ-0hlHmu/view?usp=drivesdk

[2020-03-25 11:01] jakubgs commented on #10210
[2nd build](https://ci.status.im/job/status-react/job/release/job/release%2F1.2.x/2/) failed on Android upload to Play Store with:
[code]
As far as I can tell this is transient:
https://cloud.google.com/storage/docs/json_api/v1/status-codes#500_Internal_Server_Error
Because the upload did start, it just failed part way.

[2020-03-25 11:02] flexsurfer commented on #10211
for some reason on video, it doesn't show the full picture, dunno why in real life it's even worse https://drive.google.com/file/d/15aTqv_ApePyA8hUaUXOpnzIvXV_Ntb0n/view?usp=sharing

[2020-03-25 11:07] Serhy opened #10212 "User always appears on main Chats view after opening app from background"
# Bug Report

## Problem
It doesn't matter from which view you put an app on background, - after you open app again you appear on main Chats view.
In a case you put app on background while Send Transaction bottom sheet were open - Send Transaction bottom sheet will not respond to taps (from 1-1/wallet) - essentially the https://github.com/status-im/status-react/issues/10187 bug

NOTE: It's only An

[2020-03-25 11:09] Serhy commented on #10212
cc @rachelhamlin
I think it's blocker for v1.2. Also the fix of this issue may fix consequences of #10187 which is regression too

[2020-03-25 11:13] Ferossgp commented on #10211
I found the reason for the problem in docs:
https://reactnavigation.org/docs/bottom-tab-navigator#lazy
`Note: tabs are not re-rendered upon subsequent visits.`

The jump happens because when we navigate to a tab it moves fast between 2 states that were skipped, small and big again. We need to find a hack to not re render element in that case.

[2020-03-25 11:19] Serhy commented on #10212
Sorry it's not a bug with app.
I forgot to turn off 'Don't keep activities' option in Developer options (which normal users won't do). That's why it destroyed previous navigation history and I ended up on start view (Chats main view)

Closing this issue :)

[2020-03-25 11:19] #10212 closed, assigned to nobody

[2020-03-25 11:55] StatusSceptre commented on #10052
Will include in 1.3. Release 1.2 is built.

[2020-03-25 11:57] churik commented on #9805
Currently contacts, added right after device pairing are not syncing.
Reproducibility in e2e increased during last 5 days (20-25.03)
Device A (main):
[logcat (2).log](https://github.com/status-im/status-react/files/4380684/logcat.2.log)
Device B(paired): [logcat (3).log](https://github.com/status-im/status-react/files/4380685/logcat.3.log)

[2020-03-25 12:39] churik commented on #9805
currentky blocks 1 check in `test_pair_devices_sync_one_to_one_contacts_public_chat`.

[2020-03-25 12:42] churik commented on #10203
Blocks test 5743 `test_send_two_transactions_in_batch_in_dapp`

[2020-03-25 13:11] #10211 closed, assigned to Ferossgp

[2020-03-25 14:47] #9705 closed, assigned to nobody

[2020-03-25 15:11] #10197 closed, assigned to nobody

[2020-03-25 15:52] jakubgs commented on #10210
It looks like the Play Store upload error persists. I've reverted my change in 3337d9f77a3336ea09a351a0815874baf65cc94c.

I have to wait for Jarrad to show up to possible re-generate the API access keys for publishing.

For future reference: https://docs.fastlane.tools/actions/upload_to_play_store/#setup

[2020-03-25 16:01] leafcutterant opened #10215 "To-be-sent amount and currency is reset after QR code scanning if currency is a token"
# Bug Report

## Problem

See title.

#### Expected behavior

Chosen amount and currency should be preserved in the send flow after scanning the recipient's QR code, so that user can proceed with the transaction.

#### Actual behavior

It resets to 0.0 ETH.

#### Acceptance Criteria

Amount and currency is retained after scanning the QR code.

### Reproduction

- initiate send flow
- specify an am

[2020-03-25 18:58] Epicalert commented on #5242
@cammellos I can't seem to find anything in this repo that links to https://github.com/status-im/markdown. Where is this library being used here?

[2020-03-25 23:28] yenda opened #10218 "Ens name missing from share key pop over"
# Bug Report

## Problem

When encountering a user for the first time in a public chat, even after the ens name appears to be verified in the public chat, it is missing from the share key popover. It is there after restarting the app so it seems like it is not properly added to the app state but is properly loaded from status-go.

[2020-03-26 07:46] Onebotband opened #10219 "ens sometimes not visible to some people"
# Bug Report
Not everyone can see my ens name Lilsiri.eth

## Problem

I’m not sure why it’s happening. But it appears to be solved after people search my ens name by adding me as a new contact.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

People are expected to see my ens name when I add them and in public chats.

#### Actual b

[2020-03-26 07:57] cammellos commented on #9657
This has been merged now @errorists could you check if it can be closed please?
Thanks

[2020-03-26 08:01] errorists commented on #9657
@cammellos yes, the contributor did an excellent job there, it can be closed. thanks

[2020-03-26 08:01] #9657 closed, assigned to nobody

[2020-03-26 08:45] cammellos commented on #5302
what should we do here? should we ignore them or lowercase them?

[2020-03-26 08:46] cammellos commented on #5302
(I am for ignoring them, better safe than sorry)

[2020-03-26 08:51] jakubgs commented on #5302
Wouldn't it make more sense to just treat upper case deep links as lower case?

For example we redirect upper case universal links to lower case:
https://join.status.im/chat/public/2019-nCoV
redirects to
https://join.status.im/chat/public/2019-ncov
At least if you don't have Status installed or on desktop.

[2020-03-26 09:36] #10156 closed, assigned to nobody

[2020-03-26 10:14] hesterbruikman opened #10220 "Merge create and confirm password into a single screen"
# Problem
In ad hoc testing the design team has identified people getting stuck at the `Confirm password` screen in onboarding. This is a critical step in onboarding and we'd like to remove any identified hurdles that negatively impact acquisition.

- People perceive the second screen to confirm their password as an indication that their password is wrong; As they have to enter it again
- The pass

[2020-03-26 10:15] hesterbruikman commented on #10220
cc @rachelhamlin

[2020-03-26 10:15] cammellos commented on #5302
don't know, the counter argument is that it might be unexpected for the user, if I click on a link #BLAH I assume I am taken to #BLAH , or if not, I should be notified, as that might not be what the intention is.

Similarly if I post #heY was my intention to actually post #heY or it's a typo?

Also we assume (which might be a safe assumption, but it's still a potential risk), that the lowercase fu

[2020-03-26 10:22] cammellos commented on #5302
https://en.wikipedia.org/wiki/IDN_homograph_attack for some of the possible ways to exploit this

[2020-03-26 10:37] Serhy opened #10221 "Can't find web3 in browser (on simpledapp.eth) when refreshing the page"
# Bug Report

## Problem

When refreshing browser page with simpledapp.eth then it's often "..fails to find web3 library"
While I could not reproduce it with usual opening Dapp in browser, it's reproduced 2 of 3 times when refreshing the page

#### Expected behavior

Refreshing the page and finds web3 fine
#### Actual behavior

<img width="303" alt="Screenshot 2020-03-26 at 12 34 46" src="https://

[2020-03-26 10:37] Serhy commented on #10221
@siphiuel could you take a look please?  (started to appear after browser update)

[2020-03-26 10:39] vitvly commented on #10221
@Serhy yes, checking

[2020-03-26 12:00] vitvly commented on #10221
Some weird racing condition here. Android WebKit's own onPageStarted event (that injects web3 script) is firing consistently, looking at JS side now. When running simple-dapp code on localhost i cannot reproduce the issue at all, only on `simpledapp.eth` remote host. Investigating.

[2020-03-26 13:05] jakubgs commented on #5302
Sure, then we can show an error/warning. It would be trivial to change the `join.status.im` handling of this to show an error instead of redirect.

[2020-03-26 13:13] bitgamma opened #10223 "Update the Keycard request screen to Reedem transactions"
# Feature Issue

The request screen already implemented in Status is enough to make the preloaded card scenario work. From an UX perspective however it would appropriate to show a specialized screen. The fields to detect in the typed data are:

1. receiver (address)
1. code (bytes32)

The screen should show something like “You are redeeming the preloaded assets to the address 0x…” so that the user

[2020-03-26 13:14] bitgamma commented on #10223
/cc @guylouis @gravityblast @siphiuel

[2020-03-27 08:24] flexsurfer commented on #10119
worst case with background and contacts signal have been fixed, so I updated description and removed high priority and release labels

[2020-03-27 09:25] Serhy opened #10227 "Enable Waku by default"
### Description
Since `eth.prod` fleet was updated to support Waku and it works now we may default app to have  `Waku enabled` in the `Profile` -> `Advanced` settings to be ON.
It should be enabled in Release1.2 as well.

### Acceptance Criteria

- `Waku enabled` setting is turned on

[2020-03-27 09:31] churik opened #10228 ""Fetch more history" does nothing after updating prod fleet"
# Bug Report

## Problem
Currently history > 24 h is not fetched

#### Expected behavior
History is fetched

#### Actual behavior
No history

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Join any public chat, scroll to the start fo history
- Tap on "Fetch more messages"

### Additional Information

[comment]: # (Please do your best to fill t

[2020-03-27 12:21] churik opened #10230 "Error and crash when tap "Send" on wallet"
# Bug Report

## Problem

<img width="113" alt="dddd" src="https://user-images.githubusercontent.com/4557972/77755414-8840aa80-702d-11ea-80e8-293ab0890e99.png">

#### Expected behavior
no crash

#### Actual behavior
Error and crash

### Reproduction

- Open Status
- Open wallet and tap on Send

### Additional Information

[comment]: # (Please do your best to fill this out.)
- Status version: night

[2020-03-27 12:32] churik opened #10231 "Cursor is white on Android"
# Bug Report

## Problem
<img width="242" alt="Monosnap 2020-03-27 13-31-09" src="https://user-images.githubusercontent.com/4557972/77756340-4284e180-702f-11ea-9c20-acea2e9496db.png">
Was introduced by  #10171

### Additional Information

[comment]: # (Please do your best to fill this out.)
- Status version: nightly 27/03/2020
- Operating System: Android

[2020-03-27 12:41] Serhy commented on #10231
I have it as green.
Green cursor on Android 8.1 and Android 9

[2020-03-27 13:06] churik commented on #10231
Status of message is not visible as well (Android 9, LG V20)
<img width="247" alt="Monosnap 2020-03-27 14-05-40" src="https://user-images.githubusercontent.com/4557972/77758899-16b82a80-7034-11ea-86f8-666231a347bf.png">

[2020-03-27 13:46] churik opened #10233 "Web-page splits in 2 frames when contains errors"
# Bug Report

## Problem

![photo_2020-03-27 14 43 45](https://user-images.githubusercontent.com/4557972/77762166-61887100-7039-11ea-87e1-1e6e997b6e6e.jpeg)
![photo_2020-03-27 14 43 43](https://user-images.githubusercontent.com/4557972/77762171-63523480-7039-11ea-83ea-c34832cc24ec.jpeg)

#### Expected behavior
Nicely-handled error

### Reproduction

[comment]: # (Describe how we can replicate the

[2020-03-27 13:46] churik commented on #10233
@errorists your input is appreciated!
cc @siphiuel

[2020-03-27 14:36] #10230 closed, assigned to nobody

[2020-03-27 14:36] #10231 closed, assigned to nobody

[2020-03-27 15:06] jakubgs opened #10234 "Nix store eating up too much disk space"
## Problem

@flexsurfer reported and issue where running `make run-android` repeatedly eats up more and more disk space. He provided the following log, saying it happens every time he runs that target:

[code]

[2020-03-27 15:08] jakubgs commented on #10234
@flexsurfer could you provide one more example of such a log? I want to see if hash changes between runs.

[2020-03-27 15:19] churik opened #10235 "Not clear in what account you are logged in if using touch id and have several accounts on your phone"
# Bug Report

## Problem
Currently when opening the app with enabled touch-id - the default screen is list of multi-accounts.
So it is not clear in what multiaccount you will be logged in after passing biometric authentication
![photo_2020-03-27 16 14 57](https://user-images.githubusercontent.com/4557972/77771212-b7afe100-7046-11ea-9efe-3198a575bd78.jpeg)

Would love to have your opinion on this @

[2020-03-27 15:35] churik commented on #10215
Thanks for reporting @leafcutterant !

[2020-03-27 15:42] hesterbruikman commented on #10235
Yeah, that doesn't look right :) Thanks @churik

We introduced `Sign out` to go to `Your keys`. So you can select a multiaccount to unlock. If this multiaccount has biometric enabled, it should prompt after selecting this multiaccount.

[2020-03-27 15:51] churik commented on #5242
Unsafe characters are still not encoded in URL.
At least ` ` should be encoded for sure - after updating webview in https://github.com/status-im/status-react/pull/10090 it is not replaced by `%20`

cc @siphiuel

[2020-03-27 15:54] #7657 closed, assigned to nobody

[2020-03-27 15:57] churik commented on #8567
Very important for e2e tests, blocks a lot of checks

[2020-03-27 16:33] flexsurfer commented on #10234
[code]

[2020-03-27 16:34] flexsurfer commented on #10234
[code]

[2020-03-27 16:34] churik commented on #10215
Actually it is duplicate of #9580

[2020-03-27 16:34] #10215 closed, assigned to nobody

[2020-03-27 16:34] flexsurfer commented on #10234
[code]

[2020-03-27 16:35] churik commented on #9586
didn't see this for a while

[2020-03-27 16:35] #9586 closed, assigned to nobody

[2020-03-27 16:37] churik commented on #9671
It is a duplicate of #9580

[2020-03-27 16:37] #9671 closed, assigned to nobody

[2020-03-27 16:38] flexsurfer commented on #10234
but, i make changes in android project xmls each time, sorry for confusing, its not just same build without changes

[2020-03-27 16:47] churik commented on #10199
cc @guylouis

[2020-03-27 17:00] jakubgs commented on #10234
Right that's because of this derivation:
https://github.com/status-im/status-react/blob/2122c5518f406e271c82785b025e619d32a86f34/nix/mobile/android/maven-and-npm-deps/default.nix#L30-L31
Specifically this part:
https://github.com/status-im/status-react/blob/2122c5518f406e271c82785b025e619d32a86f34/nix/mobile/android/maven-and-npm-deps/default.nix#L38-L48
Which means that all files contained in the

[2020-03-27 17:07] jakubgs commented on #10234
I will try narrowing down this `mkFilter` to include only the most essential things for that derivation.

[2020-03-27 17:47] jakubgs commented on #10234
The PR in question was: https://github.com/status-im/status-react/pull/10232

And it changed two files:

* `android/app/src/main/res/values/styles.xml`
* `android/app/src/main/res/values/theme.xml`

Which as far as I can tell should have no effect on the node packages.

[2020-03-27 18:09] jakubgs commented on #5302
Actually, you can also just link to a channel with upper case name by typing it in a chat.

Just type `#UPPER-CASE-CHANNEL` and post it and it will work.

[2020-03-27 18:50] jakubgs commented on #5302
Why exactly are we stopping people from using upper case names?
Wouldn't it be simpler to just let them be?

[2020-03-29 10:35] njokuScript commented on #10220
@hesterbruikman how do i start working on this?

[2020-03-30 08:24] churik opened #10237 "Value in input field in "Browser" is not erased after opening new tab"
# Bug Report

## Problem

On v1.1 when you type smth in "Enter URL", new tab is opened and the value is erased after closing this tab.
Currently, the value is preserved.

#### Expected behavior
value is erased

#### Actual behavior
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4557972/77890871-6a16bc80-7270-11ea-8535-3aa0e6c2db80.gif)

### Reproduction

[comment]: # (Describe

[2020-03-30 09:13] churik opened #10239 "Remove "Fetch last 24 hours" option"
# Bug Report

## Problem
"Fetch last 24 hours" option was created before gaps and now can be removed, at least from release builds.

<img width="189" alt="Monosnap 2020-03-30 11-13-00" src="https://user-images.githubusercontent.com/4557972/77895726-7d795600-7277-11ea-824e-598d4600df7c.png">

[2020-03-30 10:19] churik opened #10240 "Endless spinner after upgrade until relogin"
# Bug Report

## Problem
As we enabled WAKU mode by default in 7 RC v1.2 - after upgrade you will see endless spinner and can't use app until manual restarting.

#### Expected behavior
app is logged out, should login again

#### Actual behavior
endless "Connecting"

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Install v1.1
- Enable "Save pas

[2020-03-30 10:32] Serhy commented on #10240
When I force reloging when changing LogLevel (after upgrade) then everything is ok (with Waku enabled by default)
But if I simply relogin/restart app - then as described there is endless `Connecting...` and this is in logs:

[code]

[2020-03-30 13:20] 3esmit opened #10242 "Add Update Gesture to Wallet"
# Feature Issue

It's a common feature in apps the gesture to swipe down on the panel to update it.

Currently the wallet don't have any way of updating it by user request, relaying on a non transparent (and confusing) update methodology.

### User Story

As a user, I want to update wallet balance so that I can be sure I have the latest information.

[2020-03-30 13:55] guylouis opened #10243 "No error message when a wrong PIN is entered creating a new account on a Keycard"
# Bug Report

When a keycard multiaccount user tries to create a new account and by mistake enters a wrong PIN when confirming the creation, then there is no error message. This is both misleading (the user doesn't know what to do next) and dangerous (because the user can try several times and block his keycard because he'll reach the maximum number of tries)

Video https://drive.google.com/open?i

[2020-03-30 13:56] guylouis commented on #10243
cc @Ferossgp @rasom

[2020-03-30 14:41] #10228 closed, assigned to nobody

[2020-03-30 14:56] StatusSceptre opened #10244 "Balance not updating when receiving payment from contract"
# Bug Report

## Problem

Tornado cash withdrawal does not lead to a new wallet balance for Status accounts, until user logs in again.

Possibly related to a mistake in cljs code.

[2020-03-30 15:00] bitgamma opened #10245 "keycard_signTypedData(signer, message) should not take the signer argument"
# Problem

The keycard_signTypedData(signer, message) has been modelled after eth_signTypedData(signer, message). In eth_signTypedData the signer is the account used to sign the message. However in keycard_signTypedData a Keycard is used for this purpose so it unclear what the signer argument is used for. Ideally, we would remove it, changing the function to keycard_signTypedData(message)

If the

[2020-03-30 15:00] bitgamma commented on #10245
/cc @guylouis @gravityblast @siphiuel

[2020-03-30 15:20] hesterbruikman commented on #10242
Design for this was originally specified as part of #8443. The gesture was dropped to simplify and unblock a basic loading state [here](https://github.com/status-im/status-react/issues/8443#issuecomment-553798316). PR for basic loading state [here](https://github.com/status-im/status-react/pull/10196).

Original designs (still valid). Find then below and on [Figma](https://www.figma.com/file/XUehM

[2020-03-30 15:37] #8572 closed, assigned to nobody

[2020-03-30 15:43] churik commented on #10240
closed in RC 8
Details: https://github.com/status-im/status-react/issues/10210#issue-587560245

[2020-03-30 15:43] #10240 closed, assigned to cammellos

[2020-03-30 15:45] churik commented on #10227
closed in RC8.
More details: https://github.com/status-im/status-react/issues/10210#issue-587560245

[2020-03-30 15:45] #10227 closed, assigned to cammellos

[2020-03-30 19:31] 3esmit opened #10247 "Support ENS in browser"
# Feature Issue

ENS can be used as replacement for DNS. ENS domains can be configured to resolve websites,

### User Story

As a user I want to navigate through websites configured with an ENS domain.

### Description

This was already done in past but we dropped at v1 https://github.com/status-im/status-react/issues/4772

### Acceptance Criteria

ENS can be used in broser.

[2020-03-31 06:48] flexsurfer commented on #10247
it's  already supported, status implements https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1577.md

[2020-03-31 09:15] churik opened #10249 "Gap ("Fetch messages" button) is always located in the beginning of the history"
# Bug Report

## Problem

"Fetch messages" should appear in gaps history. Currently, it is always shown in the beginning of the chat history.

#### Expected behavior
"Fetch messages" in the middle of history.

#### Actual behavior
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/4557972/78008443-f6dc7b80-733f-11ea-944d-dd91e11780b7.gif)

### Reproduction

[comment]: # (Descr

[2020-03-31 09:15] churik commented on #10249
@rasom please take a look when you have a time.
Thanks!

[2020-03-31 10:40] vitvly commented on #9668
@churik this is strange, i could reproduce it at least in https://github.com/status-im/status-react/pull/9390, but now it's not reproducible either there or in develop. Also tried most recent nightly. Cryptokitties work just fine. Can you please re-check on your end?

[2020-03-31 10:44] #5674 closed, assigned to nobody

[2020-03-31 11:03] guylouis opened #10252 "Setup automatic testing for Keycard"
For now,  keycard flows need to be test manually

We want to be able to test in an automatic fashion new PRs
- requires development on the clojure side to create some glue to simulate keycard taps
- requires development of testing scripts following keycard flows

[2020-03-31 11:04] guylouis commented on #10252
cc @rasom @churik @andremedeiros

note: this will be done after keycard release status (estimated v1.4)

[2020-03-31 11:19] churik opened #10253 "Bottom system panel is white on dark mode on Android"
# Bug Report

## Problem

![photo_2020-03-31 13 17 10](https://user-images.githubusercontent.com/4557972/78020538-f0ef9600-7351-11ea-91ca-c678ff8a8183.jpeg)

#### Expected behavior
![photo_2020-03-31 13 18 18](https://user-images.githubusercontent.com/4557972/78020651-1f6d7100-7352-11ea-803f-f7f6997f5408.jpeg)

### Additional Information

[comment]: # (Please do your best to fill this out.)
- Stat

[2020-03-31 11:24] jakubgs commented on #10234
So I made an improved `mkFilter` in #10246 but I can't exclude files like `AndroidManifest.xml` from the `status-react-source-gradle-install` derivation because that causes the build to fail:
[code]

[2020-03-31 11:26] vitvly commented on #9260
Closed in https://github.com/status-im/status-react/pull/10090

[2020-03-31 11:26] #9260 closed, assigned to nobody

[2020-03-31 11:27] vitvly commented on #8897
Closed in https://github.com/status-im/status-react/pull/10090

[2020-03-31 11:27] #8897 closed, assigned to nobody

[2020-03-31 11:29] jakubgs commented on #10234
I also tried removing `android/app/src/main/res/values/theme.xml` with an `exclude` rule but that also caused a failure in the build:
[code]
So as far as I can tell this is working as expected.

[2020-03-31 11:37] jakubgs commented on #10234
The specific reason why starting a shell with `TARGET=android` is due to this:
https://github.com/status-im/status-react/blob/c23f19a6f835523ebddeb9fd4261ee138749d029/nix/mobile/android/default.nix#L45-L52
We call the `mavenAndNpmDeps` derivation to run `nix/mobile/reset-node_modules.sh`.

[2020-03-31 11:42] jakubgs commented on #10234
But actually, the `make run-android` target works just fine in the default shell:
[code]
So I changed the `TARGET` to `default` in #10246.

[2020-03-31 12:06] #8443 closed, assigned to vkjr, StatusSceptre

[2020-03-31 12:22] flexsurfer commented on #10249
ping @cammellos :)

[2020-03-31 12:59] Serhy commented on #10192
Yes, they are related but current issue describes behavior per links and what should it do because currently we have bugs with how universal links are working in general (like if I open public chat universal link while app is closed - then after login I see public chat joined but on Chats main view instead of me automatically navigated to public chat view after login)

[2020-03-31 12:59] #10237 closed, assigned to Ferossgp

[2020-03-31 13:28] churik opened #10255 "Keycard is not optimized for Dark mode"
# Bug Report

## Problem
![photo_2020-03-31 15 27 57](https://user-images.githubusercontent.com/4557972/78031727-374df080-7364-11ea-9e18-02c0df8687a9.jpeg)
![photo_2020-03-31 15 27 54](https://user-images.githubusercontent.com/4557972/78031731-3917b400-7364-11ea-905a-9c3bf5ffc32d.jpeg)
![photo_2020-03-31 15 31 24](https://user-images.githubusercontent.com/4557972/78032052-b2170b80-7364-11ea-869f-3

[2020-03-31 13:29] churik commented on #10255
cc @guylouis @flexsurfer

[2020-03-31 13:32] churik commented on #9668
Well, me neither.

[2020-03-31 13:32] #9668 closed, assigned to nobody

[2020-03-31 14:00] flexsurfer commented on #10065
@errorists do we have a proper flow for connecting to custom mailservers? the current implementation is a complete mess

[2020-03-31 14:40] jakubgs commented on #10192
So is there something the #10222 does not cover here?

[2020-03-31 15:41] #10234 closed, assigned to nobody

[2020-03-31 17:51] collincusce opened #10257 "Cannot input ChainID for Network Settings"
# Feature Issue

### User Story

As a user, I want to add AVA's C-chain **so that** I can have AVA's C-chain.

### Description

Can't add ChainID when creating network settings for new networks. This blocks ETC, AVA's C-chain, and probably other ones.

NetworkID can be the same if the ChainID is different.

### Acceptance Criteria

Can add chains like ETC and AVA-based EVM chains.

### Notes

@cor

[2020-03-31 17:54] corpetty commented on #10257
I've also noticed when trying to add custom endpoints, the URL forces lowercase letters.  This seems unnecessary as URLs are case sensitive.

[2020-04-01 07:45] guylouis opened #10259 "Improve keycard login time"
This is a place holder to follow-up this issue from the keycard project board.

loging in a multi account with keycard takes about 2.84 seconds (test doen with nightly from 30/03/2020) and a JCOP4 card. Eventhough that's acceptable, it could be made better by improving the interaction with the card: the code contains some unneccessary code to write to the card.

Issue here: https://github.com/stat

[2020-04-01 08:16] errorists commented on #10065
@flexsurfer hard to say, previously it was Andrei who worked on those, [here are the 'latest' designs I could find ](https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=576%3A6676)

[2020-04-01 10:22] #10077 closed, assigned to nobody

[2020-04-01 14:22] jakubgs commented on #10083
Due to issues found in #10222 I had to replace `/@` format with `/u/` because iOS eats the `@`.
Related change: https://github.com/status-im/universal-links-handler/pull/35

Fuck Apple.

[2020-04-01 14:24] jakubgs commented on #10192
Because of issues found in #10222 I had to drop the `/@` format for user links and replace it with `/u/`.

Change: https://github.com/status-im/universal-links-handler/pull/35

[2020-04-01 15:27] Serhy commented on #10192
Thank you @jakubgs
Everything (including /u/ links for user unniversal links) works fine for me now in iOS and Android in https://github.com/status-im/status-react/pull/10222

All items and scenarios mentioned in description of this issue works as expected.

[2020-04-01 16:17] churik commented on #9895
Currently, the transaction state message is not updated to "Confirmed" at all if the transaction was sent between e2e builds.

It is a blocker for `test_network_mismatch_for_send_request_commands` - it will always pass until issue will be fixed

[2020-04-01 16:59] flexsurfer commented on #10247
fixed https://github.com/status-im/status-react/pull/10258

[2020-04-01 16:59] #10247 closed, assigned to nobody

[2020-04-01 17:05] jakubgs commented on #10107
The QR code contents should be a whole https://join.status.im/ URL to make it work in any QR code scanning app.

[2020-04-01 19:51] #10083 closed, assigned to cammellos

[2020-04-01 19:51] #10192 closed, assigned to nobody

[2020-04-02 07:33] cammellos commented on #5302
@Serhy this should be fixed, could you please check if that's the case and close if so? Thanks!

[2020-04-02 08:00] cammellos commented on #6375
I have had a look at this, and come up with some technical issues that are not so straightforward to solve:

We load the oldest unread message from status-go, and also we load the next 20 messages. We can't load all the messages as that would choke the UI if there are many.

That means that we need to have pagination on both sides now.

This is problematic as FlatList will autoscroll on prepending

[2020-04-02 08:40] rachelhamlin commented on #10220
@Khay-EMMA have a look at our quickstart guide - https://status.im/technical/build_status/status_react_quickstart.html :)

[2020-04-02 09:59] Serhy commented on #5302
Right, nothing happens (no chat opened but just opening Status app) at the moment when opening in iOS and Android nightly 2nd of April build:
https://join.status.im/
https://join.status.im/MarketS123IiIiIiImmm
https://join.status.im/marketsмаркетсmm
https://join.status.im/mm[smiling_face_emoji_here]mm
https://join.status.im/mm!@mm

Capital letters lowercasing when opening in browser (like Chrome/S

[2020-04-02 10:02] #5302 closed, assigned to cammellos

[2020-04-02 10:04] churik opened #10265 "App version is () on Android and 0.14.0 on IOS"
# Bug Report

## Problem
![photo_2020-04-02 12 02 42](https://user-images.githubusercontent.com/4557972/78236117-dfd19100-74d9-11ea-8b30-b318ee36f44c.jpeg)

#### Expected behavior
App version is shown correctly

#### Actual behavior
()

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Go to profile > About
- Check app version

### Additional Inf

[2020-04-02 10:05] churik commented on #10265
Blocks `test_version_format`

[2020-04-02 10:31] jakubgs commented on #5302
Made a PR to make redirects on `join.status.im` explicit: https://github.com/status-im/universal-links-handler/pull/36

[2020-04-02 12:14] hesterbruikman commented on #10220
@Khay-EMMA added the designs to the issue 👆 And, welcome! Thanks for you're interest in this issue!

[2020-04-02 12:36] rachelhamlin commented on #6375
This is awesome @cammellos. Well, not an awesome outcome, but it makes sense to me to get more intel on it.

Could you tell me how many hours you plan to dedicate to this?

Also, am I right to assume that we could build the feature on iOS?

[2020-04-02 12:57] cammellos commented on #6375
@rachelhamlin I haven't tested on IOS but as I understand it should be possible yes (and should work smoothly).

We have found this https://www.npmjs.com/package/dcd-fast-list which might be discord version of the list which might help with some issues. I have currently tested it a bit and seems like it's a bit different from what we need (no inverse list, we need to be able to compute height of c

[2020-04-02 13:38] rachelhamlin commented on #6375
@cammellos got it. K. Well then we could make iOS even with Android, considering they won't have push notifications. 😛

I'm going to put this in Fogbugz as a spike.

[2020-04-02 13:53] rachelhamlin commented on #8443
@vkjr awesome work!

[2020-04-03 06:27] cammellos commented on #10003
@flexsurfer is this still an issue or can be closed?

[2020-04-03 06:28] cammellos commented on #9905
@churik this should be fixed, could you verify? thanks!

[2020-04-03 06:28] cammellos commented on #9824
@Serhy this should be fixed, could you verify please? Thanks!

[2020-04-03 06:29] cammellos commented on #9467
This has been implemented as the method used for normal whisper nodes works just the same for waku.

[2020-04-03 06:29] #9467 closed, assigned to cammellos

[2020-04-03 06:30] cammellos commented on #9465
This has been verified and it's merged in develop.

[2020-04-03 06:30] #9465 closed, assigned to cammellos

[2020-04-03 06:30] cammellos commented on #7362
This can be closed

[2020-04-03 06:30] #7362 closed, assigned to cammellos

[2020-04-03 06:35] flexsurfer commented on #10003
haven't seen it , can be closed probably

[2020-04-03 06:35] #10003 closed, assigned to nobody

[2020-04-03 08:02] flexsurfer commented on #10119
again UI freezing once per 30s on Android

[2020-04-03 08:46] Serhy commented on #9824
Thanks @cammellos !
This is fixed. Can't reproduce on Android and iOS with Release1.2.1 / nightly build.
Closing this one.

[2020-04-03 08:46] #9824 closed, assigned to cammellos

[2020-04-03 10:14] flexsurfer commented on #7214
@churik @Serhy this should be implemented already? can we close?

[2020-04-03 14:01] churik opened #10272 "Wrong public key is shown on keycard login screen"
# Bug Report

## Problem

Value of public key on login screen is not corresponding real public key of keycard user.

#### Expected behavior
no public key is shown or right value of public key

#### Actual behavior
<img width="321" alt="Genymotion for personal use - Google Pixel9 (1080x1920, 420dpi) - 192 168 57 103 2020-04-03 15-58-05" src="https://user-images.githubusercontent.com/4557972/7836864

[2020-04-03 14:02] churik commented on #10272
cc @guylouis

[2020-04-05 09:16] flexsurfer opened #10274 "Chat screen is flickering"
# Bug Report

version 1.1.0 iPhone
## Problem

Poor Majestic Icelandgull:
It just jumps, as if it’s refreshing the chat.
For example, if you scroll up a few messages and then someone sends a new message to the chat, you will notice the chat jump so you know a new message has appeared.
Now imagine this happening instantly every 4/5 seconds.
It’s not doing it now. But if I came out of status and the

[2020-04-06 07:20] #7333 closed, assigned to cammellos

[2020-04-06 09:01] churik opened #10275 "Can't finish card setup if creating card flow is canceled on PUK / Pairing code screen or after that"
# Bug Report

## Problem

Can't finish card setup if onboarding was canceled on 2/3 stage (PUK / Pairing code screen).
Basically keycard after this case is useless - can be cleared only with keycard-cli, restarting app and starting setup doesn't help.

#### Expected behavior
Can finish creating account

#### Actual behavior
Endless spinner after confirming passcode
![photo_2020-04-06 10 54 48](htt

[2020-04-06 09:02] churik commented on #10275
cc @guylouis

[2020-04-06 09:28] StatusSceptre commented on #10244
@rasom are you working on this? Could you?

[2020-04-06 09:49] Serhy opened #10276 "Lost icons for all tokens"
# Bug Report

## Problem

There are no logo for tokens. All of them are default.

#### Expected behavior

Icons are present

#### Actual behavior

<img width="366" alt="Screenshot 2020-04-06 at 12 46 40" src="https://user-images.githubusercontent.com/8749671/78545584-b0d25c80-7804-11ea-9c70-af2c8e8bfe22.png">

### Reproduction

- Open Status and create/recover an account
- Navigate to Wallet -> `.

[2020-04-06 10:32] churik opened #10277 ""Nonce is too low" error at attempt to send transaction from non-main wallet account in keycard"
# Bug Report

## Problem
At attempt to send a transaction from non-default (generated in wallet) account got an error.

#### Expected behavior
no error

#### Actual behavior
![photo_2020-04-06 12 29 05](https://user-images.githubusercontent.com/4557972/78549156-37d20580-7802-11ea-843a-39b693aa5354.jpeg)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open S

[2020-04-06 10:33] churik commented on #10277
cc @guylouis

[2020-04-06 10:42] churik opened #10278 "Endless spinner at attempt to change PIN code"
# Bug Report

## Problem
Endless spinner after entering current PIN in Settings > Keycard

#### Expected behavior
Can change PIN

#### Actual behavior
App doesn't proceed to next step - endless spinner after entering current PIN code

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create account with keycard
- Relogin
- Go to profile > Setting

[2020-04-06 10:43] churik commented on #10278
cc @guylouis

[2020-04-06 14:41] hesterbruikman opened #10283 "Expand token icon set with icons for added custom tokens"
# Problem
The current token icon set is hard-coded and limited. We do not use an external library for 1) privacy when calling a service 2) limit dependencies. We've received feedback in #support that the default image we use for tokens not in our set makes tokens seem untrustworthy.

With the growing and evolving set of popular tokens, it becomes more pressing to find a way to support more tokens

[2020-04-06 16:14] flexsurfer commented on #10274
reproduced this one

[2020-04-06 16:38] flexsurfer commented on #10274
![image](https://user-images.githubusercontent.com/11790366/78582625-daf04280-7835-11ea-8f26-f7422ad7b34f.png)

[2020-04-06 16:45] flexsurfer commented on #10274
https://drive.google.com/file/d/1Mkw4oF9pTxiESxJoQZG4AmqPeFBqSE6a/view?usp=sharing

[2020-04-06 16:55] cammellos commented on #10274
Nice, thanks
This happens because we offload messages, and then we hit `onEndReached` and we load them back.

Basically we should offload message up to `onEndReached` and no more, so that offloading messages does not trigger it.

I will take a look at it tomorrow.

[2020-04-06 18:00] jakubgs opened #10286 "Missing ethereum asset images"
While working on #10284 I found out that some images are not found during `jsbundle` build:
[code]
This should probably be fixed.

[2020-04-07 06:22] #8567 closed, assigned to nobody

[2020-04-07 07:24] #10276 closed, assigned to nobody

[2020-04-07 08:08] flexsurfer opened #10287 "Android app UI is slow when recieving new contacts every 30s"
# Bug Report
## Problem
Every 30s app freezes for a few seconds

#### Expected behavior
no freezes

### Additional Information
currently, we add all ens names from public chats to contacts object, that means there are can be thousands of contacts, also there are "dead" names that mean they never will be resolved, but we are still trying to resolve them each 30s, and send false result to status-rea

[2020-04-07 08:13] flexsurfer commented on #10119
separate issue for contacts https://github.com/status-im/status-react/issues/10287

[2020-04-07 08:13] flexsurfer commented on #10287
@cammellos, when you have time, would be great if you could help with the negative->positive in status-go

[2020-04-07 08:54] yenda commented on #10283
This would be the source repo for icons: https://github.com/embarklabs/cryptocurrency-icons

when a user adds a custom token, the json file is checked to see if that token is already "known" based on address

@hesterbruikman could you elaborate on this one:

do we have hardcorded tokens that currently don't have an icon?

[2020-04-07 09:32] #10221 closed, assigned to nobody

[2020-04-07 11:26] #10136 closed, assigned to cammellos

[2020-04-07 11:33] Serhy opened #10288 "No permissions requested when changing account in Zerrion Dapp"
# Bug Report

## Problem

When account is changed in Zerion Dapp - there is no request to grant permissions for address asked.
Also, after page refreshed the address in Dapp is different to account which is selected
There is no problem with simpledapp.eth or cryptokitties or pay.sablier.finance but `Zerion`

#### Expected behavior

When different account selected in Zerion then page reloads and pe

[2020-04-07 12:02] hesterbruikman commented on #10283
![Screenshot_20200407-135630_Status](https://user-images.githubusercontent.com/35233054/78666795-2b1fe100-78d8-11ea-8c45-999d35e6bafc.jpg)

@yenda I meant the cases where we uses the 'default' icon for assets that are in the `Manage assets` list. I'm counting 10.

[2020-04-07 13:18] churik commented on #9444
UPD: again reproducible on nightly 07/04

[2020-04-07 14:27] Serhy commented on #7214
It is implemented already. Closing.  There are bugs already in GH but feature itself implemented.

[2020-04-07 14:27] #7214 closed, assigned to nobody

[2020-04-07 14:41] churik opened #10293 "Can't send transaction from keycard account account before relogin"
# Bug Report

## Problem

All transactions are failed with "Insufficient amount" error at attempt to send them before relogin.

#### Expected behavior
Can send transaction.
Issue is gone after relogin

#### Actual behavior
![photo_2020-04-07 16 39 15](https://user-images.githubusercontent.com/4557972/78682490-557c9900-78ee-11ea-93ce-1ad5b3628e98.jpeg)

### Reproduction

[comment]: # (Describe how

[2020-04-07 14:42] churik commented on #10293
cc @guylouis

[2020-04-08 07:12] cammellos commented on #10274
Steps to replicate:

1) Open a public chat
2) Publish a very long message
3) Reply to that message, with a very long message
4) Repeat step 3

The screen will start flickering every 5s

The issue is that for some messages (the ones that are not loaded from the database, for example if you posted them yourself or just received), we use a subscription for the reply text.

This is because replies mig

[2020-04-08 08:01] errorists opened #10295 "Disappearing Messages 👻"
# Feature Issue

The scope of this issue is to add a [disappearing messages](https://discuss.status.im/t/how-about-status-self-detonate-message/1601/6) feature, something which can already be found on other privacy sensitive messengers and a frequent user request. The purpose of this, is to enable ephemeral conversations where the things you say expire and are deleted once said.

![ghostmessages](

[2020-04-08 09:16] rachelhamlin commented on #7437
@Ferossgp would you mind fixing this one? Feels like an easy fix and I'd like to include in 1.3 if possible :)

[2020-04-08 09:19] StatusSceptre commented on #10244
Would like in 1.3 but awaiting a rough estimate from Roman to decide.

[2020-04-08 09:34] StatusSceptre commented on #10039
Neither yenda nor I can reproduce, and haven't heard reports. So I will close for now.

[2020-04-08 09:47] rachelhamlin commented on #10039
After a chat with @yenda, we'll actually make a small improvement and simply lowercase any caps the user enters.

[2020-04-08 10:42] Ferossgp commented on #7437
@rachelhamlin I will do it, but this is not an obvious one, cause the contact screen is a part of the Chat tab. So when we open a contact we open the chat tab and inside this tab we open the contact information. I think I can duplicate the screen into the chat tab and profile tab, and open the one specific to the tab in which was asked to be opened.

[2020-04-08 11:31] qfrank opened #10296 "support image type of message using base64 encode/decode"
# Feature Issue

support sending limited size of image using base64 encode/decode technology, like browser parse "data:image/png;base64"

### User Story

when user send an image, status app convert it to a base64 encoded string, the other client decode the string to image and display it

### Description

it would be great to implement this, it's simple to implement from technology view, status alr

[2020-04-08 12:41] jakubgs commented on #10265
Are we sure this applies to iOS too?

[2020-04-08 12:47] Serhy opened #10297 "Blinking messages with message replies when joining such chat for the first time"
# Bug Report

## Problem

When joining chat with messages for the first time (confirmed in public chat and 1-1 chat) the message replies starting to blinking each 5 seconds and whole list of messages redrawing too
When re-navigating to that chat, then only username blinks only once in reply snipped.

**NOTE:**  In a case of above scenario when the message which was replied to is visible (like the

[2020-04-08 13:14] jakubgs commented on #10265
As far as I can tell the building of `jsbundle` requires the `VERSION` file because it `stat`s it:
[code]
So the issue is in this `mkFilter` defined for `jsbundle` derivation:
https://github.com/status-im/status-react/blob/19fdced2bc3dd5df68d5038a36439607ce6d5669/nix/mobile/android/jsbundle/default.nix#L19-L40

[2020-04-08 13:15] jakubgs commented on #10265
And as @rasom said we load it at compile time here:
https://github.com/status-im/status-react/blob/19fdced2bc3dd5df68d5038a36439607ce6d5669/src/status_im/utils/build.clj#L35-L42
But I guess we check it's availability during `jsbundle` creation.

[2020-04-08 13:29] jakubgs commented on #10265
I tested if it's Gradle's fault with 47a74efc173437c1e131600135b4e22d1e316995 but it didn't fix it so that can't be it.

[2020-04-08 13:55] cammellos commented on #10297
This is also tracked here https://github.com/status-im/status-react/issues/10274

[2020-04-08 14:26] #10057 closed, assigned to nobody

[2020-04-08 15:41] hesterbruikman opened #10301 "Copy update loading tx history"
# Problem
When loading transactions, the copy currently states `No transactions here yet`. Design shows `Loading transaction history. This might take a while.` The last is more accurate.

## Implementation
Update copy. translations/en.json does not have a key for this copy yet.
Distance between icon and copy needs to be checked. Should be 8px and stay together when scaling
![Frame 3](https://user-

[2020-04-08 15:45] #9444 closed, assigned to cammellos

[2020-04-08 15:49] hesterbruikman opened #10302 "Show persistant Send/Receive action at bottom of asset list"
# Problem
`Send`/`Receive` are primary actions that can be scrolled out of view. Design shows these at the bottom of the asset list when the account card that includes the `Send`/`Receive` buttons is scrolled out of view

## Implementation
![Frame 3](https://user-images.githubusercontent.com/35233054/78804844-f176d500-79c0-11ea-9046-67542b18d878.png)
Design on [Figma](https://www.figma.com/file/XU

[2020-04-08 16:02] hesterbruikman opened #10303 "Allow horizontal scroll between accounts in wallet"
# Problem
Enhancement to make switching between account view more intuitive

## Implementation
There is [another issue](https://github.com/status-im/status-react/issues/10305) on horizontal scroll between `Assets`, `Collectibles` and `History`. Because of that, this issue requires distinguishing whether the user intends to swipe between accounts.
Designs on [Figma](https://www.figma.com/file/XUehM

[2020-04-08 16:12] hesterbruikman opened #10305 "Horizontal scroll between Assets, Collectibles and History"
# Problem
Enhancement to make switching between tabs `assets`, `collectibles`, `history` more intuitive

## Implementation
There is [another issue](https://github.com/status-im/status-react/issues/10303) on horizontal scroll between account views. Because of that, this issue requires distinguishing whether the user intends to swipe between accounts.

Needs design input to further specify behavior

[2020-04-08 16:25] jakubgs opened #10306 "enode QR scanner result includes whitespace/newline"
## Problem

Currently if I generate a QR code with a trailing newline the input field will reject it:
![status_invorrect_enode](https://user-images.githubusercontent.com/2212681/78808780-35200d80-79c6-11ea-9ed9-704cb8c0ae0f.jpg)

#### Expected behavior

Newlines and whitespace characters around enode should be trimmed automatically.

#### Actual behavior

Fails enode regex test due to newline/whit

[2020-04-08 20:56] #10265 closed, assigned to nobody

[2020-04-09 06:21] flexsurfer opened #10309 "Make browser secure again"
With the new webview component we need to make sure we:

1) persist cookies and localstorage between login sessions
2) switch cookies and localstorage between accounts (or clear if not possible to switch)
3) have an option in settings to clear all data

[2020-04-09 08:36] #10199 closed, assigned to nobody

[2020-04-09 08:37] #10243 closed, assigned to nobody

[2020-04-09 09:10] rasom commented on #10272
@churik @guylouis that's actually `key-did`, not `public-key`. Should I change it?

[2020-04-09 09:10] rasom commented on #10272
We do not show it for a regular multiacc at all.

[2020-04-09 09:25] guylouis commented on #10272
I would make it consistent between regular multiaccount and keycard multiaccount, and not show it at all
@hesterbruikman agreed ?

[2020-04-09 12:01] flexsurfer opened #10312 "Blocking user takes ~5-10s, and chats are emtpy during that time"
# Bug Report

## Problem

When blocking user, all chats are empty for ~5-10s

#### Expected behavior

There are messages in the chat then blocking user

https://drive.google.com/file/d/16AK_y1vAKWHArxCnQ87rjsC-wYckNEjV/view

[2020-04-09 12:22] flexsurfer commented on #10312
blocking is very heavy
we need to go through all the messages, remove them, update all the chats
is probably not optimized as well, so we need to make sure
there's probably some index missing or some weird stuff happening

[2020-04-09 16:21] andremedeiros commented on #10309
Think it would make sense to have one option to clear everything or should we allow it to be more granular?

For instance, it looks like on iOS you can get a list of cookies per domain, so we could either say "it's all or nothing" or "here's a list of domains I have cookies for, delete only the ones you want"

[2020-04-09 16:50] #10278 closed, assigned to nobody

[2020-04-10 10:03] churik commented on #10272
No objections from my side

[2020-04-10 12:25] #10121 closed, assigned to Ferossgp

[2020-04-10 15:51] #9665 closed, assigned to nobody

[2020-04-11 07:26] flexsurfer opened #10318 "Send messages to yourself"
# Feature Issue

It should be possible to send messages to yourself

### User Story

As a user, I want to send messages to myself, use this like a reminder, or notes , or send data between devices etc

[2020-04-13 09:10] hesterbruikman opened #10319 "Copy change 'Hide previews' > 'Block screenshots'"
# Problem
Frequent comments on screen shots not being allowed. Current copy `Hide Status previews when app switching` is long, making it difficult to understand at glance. Also the copy doesn't capture the primary use case of Allow/Disallow screenshots.

Hide Status previews can be seen as a side effect of disallowing screenshots on Android. On iOS screenshots will still be allowed

## Implementat

[2020-04-13 09:23] hesterbruikman commented on #10167
fyi @guylouis as this regards QR code payment requests and we have something in place for Keycard payment requests

[2020-04-13 11:03] hesterbruikman commented on #10272
Agree to removing it.

Following designs the key should actually be shown for regular multiaccount as well. I'll update Figma to reflect that we do **not** show a key on the sign in screen. We've had issues there around what key actually should be shown, which will become more confusing when we add multiple chat keys.

[2020-04-13 11:44] hesterbruikman commented on #10028
fyi @flexsurfer @jakubgs updated this issue to include using the full join.status.im url in QR code

Do you know if it's intended/why we use https://join.status.im/user/hester.stateofus.eth instead of https://join.status.im/user/hester instead of ENS name? Is it that we need it the domain in case the user does not use a stateofus.eth domain? If so, we'd want to update our hint text in `+ - button`

[2020-04-13 11:57] guylouis commented on #10167
TBH, I am not sure how keycard or request screen is linked with this. cc @gravityblast  and @bitgamma for insight

[2020-04-13 12:17] #10272 closed, assigned to nobody

[2020-04-14 06:58] #10249 closed, assigned to cammellos

[2020-04-14 07:21] jakubgs commented on #10028
The actual URL should be `https://join.status.im/u/${USER}`.

[2020-04-14 09:27] churik commented on #10185
same behavior after scanning QR in https://github.com/status-im/status-react/pull/10280 with parameters - keyboard is shown for a moment and then it is closing (IOS)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4557972/79209530-db936500-7e43-11ea-9768-cce87a334204.gif)

[2020-04-14 09:53] #10107 closed, assigned to nobody

[2020-04-14 09:53] #8150 closed, assigned to nobody

[2020-04-14 09:53] #9183 closed, assigned to nobody

[2020-04-14 09:53] #9580 closed, assigned to nobody

[2020-04-14 09:53] #9872 closed, assigned to nobody

[2020-04-14 09:53] #10093 closed, assigned to nobody

[2020-04-14 10:06] churik commented on #7935
fixed in #10099

[2020-04-14 10:06] churik commented on #7197
fixed in #10099

[2020-04-14 10:06] #7197 closed, assigned to StatusSceptre

[2020-04-14 10:07] #6818 closed, assigned to nobody

[2020-04-14 10:07] #7935 closed, assigned to nobody

[2020-04-14 10:11] churik commented on #8473
fixed in #10099

[2020-04-14 10:11] #8473 closed, assigned to nobody

[2020-04-14 10:12] churik commented on #9131
@rachelhamlin I believe this one can be closed, as it is resolved in #10099

[2020-04-14 10:13] churik commented on #10114
Resolved in #10099

[2020-04-14 10:13] #10114 closed, assigned to cammellos

[2020-04-14 10:25] churik commented on #8809
Still the issue, happening only if 1 admin left in the chat - in this case, all sent messages are stuck with endless spinner.
But if admin add new member, all new messages are sending as expected.
so it doesn't look to me as high-prio issue and IMO can be fixed later - not usual situation when admin will remove all users and keep sending messages.

![photo_2020-04-14 12 25 09](https://user-images.

[2020-04-14 10:28] #9131 closed, assigned to nobody

[2020-04-14 10:32] 0x-r4bbit commented on #10218
It seems this issue has been fixed in the meantime as I'm not able to reproduce this. Here's what I did:

- Joined a public chat (`#test`)
- Asked a core contributor to send a message in the channel
- Received message and waited for his ENS name to be resolved by Status (this  happens apparently every 30sec)
- ENS name resolves
- Went to profile -> profile details -> popover -> ENS name shows

Let

[2020-04-14 10:42] #7437 closed, assigned to Ferossgp

[2020-04-14 10:45] 0x-r4bbit commented on #10219
@Onebotband Did you send a message in #status-issue-10129? Just took a look and loaded messages from 25 days ago, but none is showing up in the channel.

Also, apparently ENS names resolve every 30 seconds, so I think there's a possibility that that's what other users were experiencing. In fact I ran into the same thing myself just now (see: https://github.com/status-im/status-react/issues/10218#i

[2020-04-14 11:44] Onebotband commented on #10219
Hey, I reinstalled the app and it seems to be working fine now. Thanks.

Lilsiri.eth Ξ

Sent from ProtonMail Mobile

On Tue, Apr 14, 2020 at 13:46, Pascal Precht <notifications@github.com> wrote:

[2020-04-14 13:00] #10319 closed, assigned to nobody

[2020-04-14 13:02] flexsurfer commented on #8497
ping @yenda

[2020-04-14 13:09] hesterbruikman opened #10325 "Request compressed keys"
**This issue is paired with and should follow implementation of https://github.com/status-im/status-go/issues/1937**

## Problem
Chat key is currently shown (as used) as the public key in full. This is unnecessarily daunting. Compressing the public key used for chat can make it less daunting, more space efficient in the UI as well as reducing file size and visual complexity of the QR code.

## Imp

[2020-04-14 13:09] hesterbruikman commented on #10325
cc @andremedeiros @gravityblast

[2020-04-14 13:42] Serhy opened #10326 "Can't add same account in wallet as the removed 'Watched only account'"
# Bug Report

## Problem

Reported by user originally:
If you have `Watch only address` as multiaccount instance in Wallet - there is no way to add that account via seed phrase / private key even after `Watch only account` removed

#### Expected behavior
Can add account via seed phrase / private key  after the same account address removed which was watch only address

#### Actual behavior

Can NOT