[2018-11-07 22:03] jfarid27 commented on #6581
@lukaszfryc I am now also seeing the MetaMask request when trying it out again. So this is fixed in a new release?

[2018-11-08 04:23] oskarth commented on #6447
No takers for the offer yet. Since I believe this should be a core responsibility, and SNT pool looks likely to change with move to Network, I'm hereby revoking the above extra bounty.

(We can still use a bounty for this, just think there are more valuable things for me to stake my own personal funds to further Status right now. It also makes my own fund management easier so I don't hand out IOUs

[2018-11-08 06:56] 532910 opened #6641 "Oreo adaptive icon shape"
Please add support for icon shape
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html
https://material.io/guidelines/style/icons.html

you should fix it to upload new version to google play
https://www.xda-developers.com/google-play-app-updates-must-target-android-8-0/

[2018-11-08 07:41] jeluard commented on #5496
Looks like the vm restart fixed it. @charlescrain please reopen if you see any other issue!

[2018-11-08 07:43] jeluard commented on #6486
Pixura team restarted a VM their side and it now works fine. @lukaszfryc please confirm.

[2018-11-08 07:44] lukaszfryc commented on #6486
Great! I’ll check soon

[2018-11-08 08:08] lukaszfryc commented on #6581
@jfarid27 it was fixed in #6627 but it's not released yet. Next release will probably go out around Nov 19.

[2018-11-08 08:09] jeluard opened #6642 "Allow adding extra key/value pair to chat command"
As a developer, I want to add extra key/value pair data to the chat command message payload accessible to all recipients.

### Description

Chat command parameters are sent to all message recipients. Sometimes you need to add extra parameters. Those should be accessible to local and recipients messages, using the same syntax.
A new event hook property could be responsible for generating those.

Th

[2018-11-08 08:13] jeluard opened #6643 "Allow chat command suggestions to select parameter"
### User Story

As a developer, I want to be able to trigger parameter selection from a chat command suggestion view.

### Description

*Type*: Feature

Proper syntax should be defined first.

[2018-11-08 08:15] jeluard opened #6644 "Chat command recipients should be able to install an extension"
### User Story

As a user, I want the ability to easily install the extension needed to show the chat command message. The extensions URL could be sent as part of the message payload.

### Description

*Type*: Feature

When receiving a message from an unknown command, a placeholder message is displayed.

It should be easy to install the required command from the chat screen.

[2018-11-08 08:19] ghost commented on #5246
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-08 08:21] hetvart commented on #6628
NOTE: several tests failed due to the same reason in Status Mobile (latest nightly, StatusIm-181108-025919-ae3029-e2e.apk). The repro scenario works on mobile app as well.

[2018-11-08 08:35] churik commented on #6628
@dmitryn I believe it can be related to https://github.com/status-im/status-react/pull/6467.
Several  users also complaining about it.
Can you please take a look when you have a time?

[2018-11-08 08:52] lukaszfryc opened #6645 "Status could not connect to peers on public wifi network"
### Description

*Type*: Bug

*Summary*:

I was connected to a public wifi that had internet. All pages like google.com loaded fine. But, Status kept showing "Connecting to peers..." and did not fetch any messages. I tried on iOS, Android and Desktop. It would be great to investigate it as it may be the case for many of our users. I was looking at the logcat, but there was nothing that might be re

[2018-11-08 08:53] goranjovic opened #6646 "Replace Veros token address with the upgraded contract"
### User Story

As a user I want up to date list of tokens in my wallet

### Description

*Type*: Feature

*Summary*: Veros (VRS) token contract was swapped.

Old contract (see the notice): https://etherscan.io/token/0xedbaf3c5100302dcdda53269322f3730b1f0416d

New contract: https://etherscan.io/token/0x92e78dae1315067a8819efd6dca432de9dcde2e9

#### Expected behavior
We use the new token contract

[2018-11-08 09:03] dmitryn commented on #6628
@churik we have PR that should likely to fix it https://github.com/status-im/status-react/pull/6647

[2018-11-08 09:39] ghost commented on #5448
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-08 10:17] flexsurfer commented on #6601
why only log, maybe better some general method `ethereum/rpc` for https://github.com/ethereum/wiki/wiki/JSON-RPC#json-rpc-methods

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/ethereum/wiki">ethereum/wiki</a></stro

[2018-11-08 10:21] jeluard commented on #6601
Log is for https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getlogs
We could have a generic rpc too but it would be fairly hard to use from extensions. We want some higher level too.

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="ht

[2018-11-08 11:05] Serhy commented on #6384
Closing as it was done.

[2018-11-08 11:05] #6384 closed, assigned to hetvart

[2018-11-08 11:09] #6189 closed, assigned to hetvart

[2018-11-08 11:09] #6104 closed, assigned to hetvart

[2018-11-08 11:09] #6120 closed, assigned to hetvart

[2018-11-08 11:09] #6119 closed, assigned to hetvart

[2018-11-08 11:22] Serhy opened #6649 "[Auto test] Cover wallet modal screen closing by autoetest"
### User Story

As a test engineer I want
- [x] https://ethstatus.testrail.net/index.php?/cases/view/5484
- [x] https://ethstatus.testrail.net/index.php?/cases/view/5482
- [x] https://ethstatus.testrail.net/index.php?/cases/view/5483

to be covered by automated tests

<blockquote><img src="https://static.testrail.io/5.5.1.3746/images/favicon.ico" width="48" align="right"><div><strong><a href="http

[2018-11-08 11:40] #6430 closed, assigned to rasom

[2018-11-08 11:46] ghost commented on #5302
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-08 12:49] ghost commented on #5368
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-08 12:49] #5368 closed, assigned to nobody

[2018-11-08 14:39] ghost commented on #4813
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-08 14:39] #4813 closed, assigned to nobody

[2018-11-08 14:49] ghost commented on #4889
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-08 14:49] ghost commented on #4679
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-08 14:49] #4679 closed, assigned to denis-sharypin

[2018-11-08 14:54] #6169 closed, assigned to flexsurfer

[2018-11-08 15:02] #6508 closed, assigned to yenda

[2018-11-08 15:07] churik opened #6656 "No prompt for users what files should be included to crash report"
### Description

*Type*: Bug
*Summary*: in order to analyze crash logs `cmd` and `.dmp` files are required, but automatically only `.dmp` file is copied, and it is not obvious for user that he need to attach `cmd` as well.
Basically, all or almost all crash reports are unusable.

#### Expected behavior
2 files are copied and attached to the issue

#### Actual behavior
1 file is copied (`.dmp`)

##

[2018-11-08 15:23] EugeOrtiz opened #6657 "Improve chat list"
### Description
Updated design for the chat list (left panel). Design improvements include:

- A more condensed list of chats
- Clearer highlight of current chat
- Background color to highlight the chat area and bring focus to the conversation

### Current implementation vs new design
![group2](https://user-images.githubusercontent.com/37297779/48223116-0a66fb00-e375-11e8-83d6-a3f28dbabd47.png)

#

[2018-11-08 15:40] SlizkovaGanna opened #6659 "Impossible to quote a message which contains a link only"
Description

Type: **Bug**

Summary: For desktop, when clicking outside of a link, user gets redirected to the URL instead of quoting the link

**Expected behaviour**

When clicking on the link, user is redirected to the URL.
When clicking outside of the link in the message area, the URL is quoted

**Actual behaviour**

When clicking on the link, user is redirected to the URL.
When clicking outsid

[2018-11-08 15:54] churik opened #6660 "Empty field is shown in "Join to public chat" if you enter a topic then switching to other screen and come back"
### Description

*Type*: Bug
*Summary*: entered value persisted in field "Topic", but isn't shown after switching to other screen (i.e. after selecting any chat) and come back. It shouldn't be changed OR value should be erased and button "Join public chat" should be disabled.

In fact we can see enabled  "Join public chat"  button with empty value in field.

#### Expected behavior
I see two varian

[2018-11-08 16:11] SlizkovaGanna opened #6663 "Terms and conditions for Desktop redirect to Mobile T&C"
Description

Type: **Bug**

Summary: When you click on 'Terms and Conditions' link for desktop, you are redirected to a link https://www.iubenda.com/privacy-policy/45710059 that has 'Privacy Policy of Status Mobile' as a title
Probably we should change the title, or make a separate page for ''Privacy Policy of Status Desktop''

<img width="1317" alt="image" src="https://user-images.githubuserconte

[2018-11-08 16:31] churik opened #6664 "[Pairing] /send and /request outgoing messages in 1-1 chat are shown without values"
### Description

*Type*: Bug

*Summary*: /send and /request messages sent from mobile device are shown as empty on desktop after sync.

#### Expected behavior
can see /send and /request commands

#### Actual behavior
<img width="568" alt="sen_req" src="https://user-images.githubusercontent.com/4557972/48212172-561ca300-e37b-11e8-89ff-abef0a38ddcd.png">

### Reproduction
[comment]: # (Describe how

[2018-11-08 16:55] churik commented on #5447
Closed in #6403

[2018-11-08 17:05] jeluard opened #6665 "String nodes in views are problematic"
### User Story

As a user, I don't want to get unexpected exception.

### Description

In ReactNative all strings must be child of text elements.
So [view "hello"] will fail.

Wrap all non component children in `text` component.

*Type*: Bug

[2018-11-08 17:06] dmitryn commented on #6628
Fixed by https://github.com/status-im/status-react/pull/6647

[2018-11-08 17:06] #6628 closed, assigned to nobody

[2018-11-08 17:07] jeluard commented on #6604
Superseded by #6642 and #6643

[2018-11-08 17:07] #6604 closed, assigned to nobody

[2018-11-08 21:29] ghost commented on #5375
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-08 21:29] #5375 closed, assigned to nobody

[2018-11-09 09:01] yenda commented on #6571
What is needed to make that possible ? Does it need to be implemented in react desktop first ? It should be one of the top priorities as some features really need this

[2018-11-09 09:07] #4934 closed, assigned to nobody

[2018-11-09 09:13] churik commented on #6259
the same for desktop app:
![image](https://user-images.githubusercontent.com/4557972/48253550-d12b9b00-e407-11e8-8c73-677fcdb8f8df.png)
@EugeOrtiz can you help with desktop as well?

[2018-11-09 09:48] SlizkovaGanna opened #6669 "To add 'Delete' button to chat search functionality"
**User story:**

As a user, I want my search amongst chats to be comfortable

Type: **Feature request**

**Summary:** Currently, your search amongst chats is kept afterwards, and to see all your chat list again you have to manually delete all the input, letter by letter.
This is not very convenient for the user, so I propose we create some sort if a 'delete' button for the search input field.

In

[2018-11-09 09:52] jeluard commented on #6486
@lukaszfryc Any news?

[2018-11-09 09:55] lukaszfryc commented on #6486
Works fine now! Closing

[2018-11-09 09:55] #6486 closed, assigned to alwx

[2018-11-09 09:57] jeluard commented on #5759
@Serhy Is that still relevant?

[2018-11-09 09:58] churik commented on #5447
@siphiuel
merged PR on RN-side https://github.com/status-im/react-native-desktop/pull/372 `Add vertical scroll bar to ScrollViews` is not presented on latest nightly

[2018-11-09 10:17] jeluard commented on #6484
@lukaszfryc Any news? Should work fine with latest develop

[2018-11-09 10:19] lukaszfryc commented on #6484
Fixed by https://github.com/status-im/status-react/pull/6627

[2018-11-09 10:19] #6484 closed, assigned to flexsurfer

[2018-11-09 10:34] #6665 closed, assigned to nobody

[2018-11-09 10:54] Serhy commented on #5759
Not relevant anymore. Also, additionally I've confirmed bounty creation in Bounty Network (explorer.bounties.network) with the latest nightly and it's all fine there.

Closing this issue.

[2018-11-09 10:54] #5759 closed, assigned to nobody

[2018-11-09 10:54] #6615 closed, assigned to jeluard

[2018-11-09 11:00] Serhy commented on #6649
Done.

[2018-11-09 11:00] #6649 closed, assigned to Serhy

[2018-11-09 13:32] EugeOrtiz opened #6672 "Amount of unread messages in app doesn't match OSX dock bar and Home tab doesn't have dot when we have unread messages"
### Description
*Type*: Bug

The number of unread messages in the app doesn't match the info in OSX dock bar.

<img width="1434" alt="captura de pantalla 2018-11-09 a la s 10 53 02 a m" src="https://user-images.githubusercontent.com/37297779/48266377-f3281c00-e40d-11e8-8428-702e52b19667.png">

#### Expected behavior
To show the same amount of unread messages both in the app and in the OSX dock bar

[2018-11-09 14:05] EugeOrtiz commented on #6672
The dock seems to show only # of direct messages from 1:1 chats.

[2018-11-09 14:57] flexsurfer commented on #6585
I've investigated several ways how we can go with this issue, and decided to use dns and ens names for granting permissions, full url doesn't work because dapps have several pages and they can request permissions on the first page and use web3 on the second page, and dapp will be broken, so we should give permission for all dapp pages, using dns name or ens name, if someone hosts several dapps on

[2018-11-09 15:12] churik commented on #6672
It is feature, @EugeOrtiz
When there are unread messages in public channels, only red dot is shown

[2018-11-09 15:35] MoribETM opened #6675 "Different tabs for Chats and dapps"
Hey, if you have a lot chats and dapps, its getting really annoying to find the right chat!
An easy solution for this would be to make different tabs for dapps and chats!
Thx, have a nice day

[2018-11-09 16:52] pcowgill opened #6676 "New group chat feature doesn't work on macOS"
### User Story

As a user, I want to create a new public group chat so that others can join it and chat with me.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Clicking Start chat under New

[2018-11-09 17:43] ghost commented on #3783
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-09 19:30] probonopd commented on #5432
Not doing anything is never a good reason to close anything. I never get why bots like this exist.

[2018-11-09 23:58] ghost commented on #5179
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-10 03:47] samthomson commented on #6353
Hi, I'd be really interested to work on this. I've previously worked developing react-native apps, and have become really interested in what status are working towards. Happy to help on this repo if you have space :)

[2018-11-10 11:05] ghost commented on #5382
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-10 11:05] #5382 closed, assigned to nobody

[2018-11-11 08:55] ghost commented on #5185
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-11 11:04] ghost commented on #3894
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-11 11:04] #3894 closed, assigned to nobody

[2018-11-11 12:14] ghost commented on #5475
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-11 14:04] ghost commented on #5366
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-11 14:04] #5366 closed, assigned to nobody

[2018-11-11 15:54] pablanopete opened #6678 "String error thrown when scanning QR code from mail server addition"
When opening up a connection to connect to a new mail server > tap QR code scanner

This error string is thrown (Tested on iOS)

![img_3701](https://user-images.githubusercontent.com/18363825/48315104-c0119400-e597-11e8-9b38-4c0e2f2725fb.PNG)

[2018-11-11 16:34] ghost commented on #5402
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-11 16:34] ghost commented on #5403
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-11 16:34] #5402 closed, assigned to nobody

[2018-11-11 16:34] ghost commented on #5404
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-11 16:34] #5403 closed, assigned to nobody

[2018-11-11 16:34] #5404 closed, assigned to nobody

[2018-11-11 19:54] ghost commented on #5405
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-11 19:54] #5405 closed, assigned to nobody

[2018-11-11 21:34] ghost commented on #5463
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 08:22] rachelhamlin opened #6679 "Disk image can't be opened"
### Description

*Type*: Bug

*Summary*: I'm unable to install today's Status desktop build due to this error:

![image](https://user-images.githubusercontent.com/15470435/48334859-54ddc580-e65c-11e8-829f-7297fc1f99a4.png)

#### Expected behavior
I can install Status.

#### Actual behavior
This error blocks me from installing.

[2018-11-12 08:34] ghost commented on #5488
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 08:34] rachelhamlin commented on #6585
Makes sense @flexsurfer. So, DNS/ENS based permission at the DApp level (with multiple DApps, same domain being an edge case). The interface will show, for example:

`cryptokitties.co wants to access your profile`?

`localethereum.com wants to access your profile`?

[2018-11-12 09:01] #6624 closed, assigned to nobody

[2018-11-12 09:29] #6455 closed, assigned to alwx

[2018-11-12 09:29] flexsurfer commented on #6585
yes, or `names.statusnet.eth wants to access your profile`  for ENS
or
 `ipfs.infura.io wants to access your profile` - for vote.status.im , because it redirects to infura, which makes no sense, we need to host it on status.im or register `vote.statusnet.eth`

[2018-11-12 09:31] rachelhamlin commented on #6679
Update: I was able to install successfully when I re-downloaded the nightly.

I had deleted all application files + killed the Ubuntu server between the first download and the second.

[2018-11-12 09:56] ghost commented on #4604
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 10:04] #5699 closed, assigned to nobody

[2018-11-12 10:48] chadyj opened #6681 "0.9.31 Mobile Release"
This is an issue to list and discuss remaining issues for the 0.9.31 release.

Remaining issues can be viewed with the release tag.
https://github.com/status-im/status-react/labels/release

We will use this issue to manage the release. (see #6311 for an example)

Release notes: https://notes.status.im/mobile-release-notes
Changelog: https://github.com/status-im/status-react/compare/release/0.9.30.

[2018-11-12 10:49] chadyj commented on #6681
0.9.31 will be cut this Wednesday.

Check the [commit log for what's new](https://github.com/status-im/status-react/compare/release/0.9.30...release/0.9.31).

[2018-11-12 11:20] hetvart opened #6682 "Add an iOS .app build to run UI e2e automatic tests on iOS simulators"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a QA, I want to have both Android and iOS application builds to run e2e tests against every PR and nightly.
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Infrastructure Issue

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you e

[2018-11-12 11:56] ghost commented on #1623
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-12 11:56] #1623 closed, assigned to andmironov, denis-sharypin

[2018-11-12 12:26] ghost commented on #5188
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 12:26] ghost commented on #5287
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 12:41] cammellos commented on #1340
Closing as related to old implementation

[2018-11-12 12:46] ghost commented on #5410
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-12 12:46] #5410 closed, assigned to nobody

[2018-11-12 12:56] ghost commented on #5498
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 13:26] ghost commented on #5499
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-12 13:54] jeluard opened #6683 "List current browser limitations"
### User Story

As a developer, I want to know what features set of web3 is supported by the browser. Usage limitations (bad performance) should be identified too.

Ideally this is automated so that it can be repeated at will.

### Description

*Type*: Feature

[2018-11-12 14:11] EugeOrtiz opened #6684 ""Send" button is always enabled on Desktop"
### Description
"Send" button is enabled all the time, even when there is nothing to send. It should only be enabled only if the user typed something in the input field.

*Type*: Bug

### Expected behavior
Button disabled if no text or only spaces:
<img width="671" alt="captura de pantalla 2018-11-12 a la s 9 49 19 a m" src="https://user-images.githubusercontent.com/37297779/48348480-42658b00-e660

[2018-11-12 14:14] ghost commented on #4910
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-12 14:14] #4910 closed, assigned to nobody

[2018-11-12 14:14] EugeOrtiz commented on #6676
[Here are the designs](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop-Chat?node-id=230%3A11231) for the flow of creating a group chat.

@cammellos Can you let me know if you can implement this?

[2018-11-12 14:23] EugeOrtiz opened #6685 "Group chat not working properly"
### Description

During the last step of the group chat creation flow, the user get's stuck on an empty screen.

*Type*: Bug

#### Expected behavior
Group chat created and redirected to the chat list after typing the name of the group chat.

#### Actual behavior
User gets stuck after typing the name of the group chat on this screen:
<img width="1021" alt="captura de pantalla 2018-11-12 a la s 11 1

[2018-11-12 14:35] churik commented on #6685
known, will be fixed https://github.com/status-im/status-react/pull/6658

[2018-11-12 15:44] churik opened #6686 "Long username doesn't fit app window in chat area"
### Description
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: when user does not set custom name, but he is added in your contacts, he is shown as `3-random-name::3-random name` in all chats. Quite often these names can be longer than 1 standard row on

[2018-11-12 20:32] hetvart opened #6687 "User is being redirected to 1-1 chat when requesting assets from wallet"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When user is sending a transation request to a contact the app redirects him/her to 1-1 chat with the contact.

### Reproduction
[comment]: # (D

[2018-11-13 01:15] jfarid27 commented on #6581
@lukaszfryc closing then

[2018-11-13 01:15] #6581 closed, assigned to flexsurfer

[2018-11-13 01:17] jfarid27 commented on #6580
@jeluard closing and opening in the ens repo

[2018-11-13 01:17] #6580 closed, assigned to nobody

[2018-11-13 02:28] decanus opened #6688 "Update ENS resolving implementation to match what is defined in EIP-1577"
**What problem are you trying to solve?**

To try and find a better system @arachnid and I created [EIP-1577](https://github.com/ethereum/EIPs/pull/1577) that allows for a better representation of network and content addresses.

**Describe the solution you'd like**

Implement resolution using the new `multiaddr` field when available.

*Issue was copied over from the [Metamask](https://github.com/M

[2018-11-13 06:49] dshulyak opened #6689 "Desktop client doesn't have a connection with mailserver and doesn't fetch messages"
### User Story

I want to fetch messages when application was offline for some time and when i join new channel.

### Description
*Type*: Bug

Desktop client doesn't fetch messages when app is restarted or when i join the channel. Additionally there are no connection to mail server. On linux you can check your connections using lsof or netstat, for example:

[code]
Look for ESTABLISHED connection

[2018-11-13 07:26] ghost commented on #5420
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-13 07:26] #5420 closed, assigned to flexsurfer

[2018-11-13 07:34] dshulyak commented on #6689
I selected different mail server and now my client fetches messages and has a connection with mail server. So in my case this is probably just a lack of feedback that i wasn't able to connect with initial mail server.

[2018-11-13 07:46] cammellos commented on #6689
I have the same issue with:
mail-03.do-ams3.eth.beta
@jakubgs how's that mailserver? I can't get any messages from it

[2018-11-13 08:08] pedropombeiro commented on #6689
Unfortunately, the status-go code is too far ahead compared with the deployed eth.beta mailservers, so the canary is incompatible and can't give us any meaningful information. It does work with eth.staging, which suggests we should upgrade eth.beta.

[2018-11-13 08:09] cammellos commented on #6689
@PombeirP got it, thanks

[2018-11-13 08:10] cammellos commented on #6689
@adambabik how is it looking for upgrading the fleet?

[2018-11-13 08:29] adambabik commented on #6689
We want to deploy `eth.beta` today. It was tested yesterday with the current release.

[2018-11-13 08:32] hetvart commented on #6590
Can read messages sent to me when I was offline (1-1 chat) - back to functioning. The root cause was solved on Saucelabs side.

[2018-11-13 08:33] #6498 closed, assigned to hetvart

[2018-11-13 08:33] #6439 closed, assigned to hetvart

[2018-11-13 08:33] #6366 closed, assigned to hetvart

[2018-11-13 08:33] #6337 closed, assigned to hetvart

[2018-11-13 08:33] #6306 closed, assigned to hetvart

[2018-11-13 08:33] #6590 closed, assigned to hetvart

[2018-11-13 08:34] #6589 closed, assigned to hetvart

[2018-11-13 08:35] hetvart commented on #6631
Check fiat value is correct for token transactions (send and request)
Status: ready

[2018-11-13 08:46] ghost commented on #5104
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 08:46] ghost commented on #5186
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 08:46] ghost commented on #5194
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 08:46] ghost commented on #5288
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 08:46] ghost commented on #5317
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 08:46] jeluard opened #6691 "Allow commands to add events before parameters filling"
### User Story

As a developer, I want to trigger extra events before and after a command parameter is filled.
This allows the retrieval of external data that would then be used to display better parameter suggestion.

[code]

Those events will receive as properties the value of all previously filled parameters as a vector.

### Description

*Type*: Feature

[2018-11-13 08:47] asemiankevich commented on #6585
@flexsurfer does not ask me about permissions . Trying to access `names.statusnet.eth`. Previously i granted `vote.statusnet.eth` with access. I thought each dapp will separately ask for permissions no matter of the domain they are hosted on?

Dapps with different URLs behave as expected:

![image](https://user-images.githubusercontent.com/28752642/48400676-1289b680-e738-11e8-95a5-c50229b90069.png

[2018-11-13 09:14] ghost commented on #5118
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 09:40] Graeme-Code opened #6693 "Add SNT Voting Dapp to Dapp List"
**Dapp Name:** SNT Voting DApp

**Category:** Utilities

**URL:** https://vote.status.im

**Order:** after `Smartz`, before `Status Test DApp`

**Description:** Let your SNT be heard! Vote on decisions exclusive to SNT holders, or create a poll of your own.

**SVG code:** https://docs.google.com/document/d/1qTelQkduddwF1s5uv3pVoATqFTsO21MTd5QzI2M781I/edit?usp=sharing

[2018-11-13 10:03] Serhy commented on #5188
This is not an issue anymore with 0.9.30 Release app version.

[2018-11-13 10:03] #5188 closed, assigned to lukaszfryc

[2018-11-13 10:10] asemiankevich opened #6694 "ENS dapp does not reflect web3 opt-in"
### Description

*Type*: Bug

*Summary*: ENS dapp does not ask for web3 permissions when this is enabled in Profile

#### Expected behavior
ENS dapp should ask for wallet / profile permissions when web3 is enabled

#### Actual behavior
`names.statusnet.eth` dapp does not ask for permissions with web3 enabled

### Reproduction

- Open Status
- Enable web3 provider in profile
- Open `names.statusnet

[2018-11-13 10:11] flexsurfer commented on #6585
@asemiankevich looks like names.statusnet.eth dapp doesn't support web3-opt-in
I made changes for `vote.status.im`, it should show `ipfs.infura.io`

[2018-11-13 10:28] andytudhope commented on #6353
Have at it @samthomson - deploying the bounty now. Please just don't abandon me on the website 😉 ❤️

[2018-11-13 10:35] FrederikBolding commented on #6353
I'm available for this as well, if needed 😄

[2018-11-13 10:46] jeluard commented on #6693
@denis-sharypin Do you mind creating a PNG from the SVG? :)

[2018-11-13 10:59] churik opened #6696 "App window is freezing after opening link on linux for the first time"
### Description

*Type*: Bug
*Summary*: when user opens link on desktop app for the first time, app interface is replaced by system windows and you cannot continue to use app until you stop and run it again or if you accidentally click on any button to open another view.

#### Expected behavior
can continue to use app; app interface is shown

#### Actual behavior
Status window view:
<img width="51

[2018-11-13 11:01] janherich commented on #6691
I don't think the approach here is the right one, there are several problems with that:

* Command can be entered in multiple ways, typing it, selecting from list of available commands, or pasting the whole text of command string with or without arguments - would be the method for example called even if command string with arguments is pasted into the input field, there is no "middle state" of sel

[2018-11-13 11:08] jeluard commented on #6693
@errorists Can you help with that? :D

[2018-11-13 11:13] flexsurfer commented on #6693
@Graeme-Code can we register ens and add dapp with this ens ?

[2018-11-13 11:17] jeluard commented on #6691
I agree it would be better to have something like that, especially for the NFT command.
Now we still need that chat command hook in the general case IMO.

[2018-11-13 11:29] churik commented on #6134
Reproducible for Windows as well
![status 2018-11-13 11 23 35](https://user-images.githubusercontent.com/4557972/48410635-75cb1700-e73f-11e8-9e92-05347faccc90.png)
![status 2018-11-13 11 24 42](https://user-images.githubusercontent.com/4557972/48410636-75cb1700-e73f-11e8-9bf4-4ee72d3b24ec.png)
![status 2018-11-13 11 25 16](https://user-images.githubusercontent.com/4557972/48410637-75cb1700-e73f-11

[2018-11-13 11:47] StatusSceptre commented on #6353
No stress @FrederikBolding - here is another one for you: https://github.com/status-im/status-react/issues/6594 (same bounty amount). We can tag team them, as there are A LOT of bounties we want to put out over the next few weeks.

[2018-11-13 12:12] errorists commented on #6693
![votingdapp](https://user-images.githubusercontent.com/4932774/48412670-a1e99680-e745-11e8-96a7-20135b695f73.png)

[2018-11-13 12:13] hetvart commented on #6682
@jakubgs
could you help me with this?

[2018-11-13 12:17] churik opened #6700 "Constant "Connecting to peers" on eth.beta fleet"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: constant "Connecting to peers" on both mobile and desktop while connecting to eth.beta fleet.
Switching to  eth.stage fleet helps to fix this.

#### Expected behavior
Can send and receive messages

#### Actual behavior
"Connecting to peers", messaging is not working

### Reproduction
[comment]: # (Describe how we

[2018-11-13 12:19] oskarth opened #6701 "Stuck at 'Connecting to peers'"
Same on Desktop old nightly and latest nightly, and mobile. Public WiFi and 4G. ~5 mailserver, with restarts in between.

Seems like it happens to a few people. Suspect cluster/fleet issue.

Last message for me received ~1h ago.

Thread to diagnose.

[2018-11-13 12:21] oskarth commented on #6700
Duplicate: https://github.com/status-im/status-react/issues/6701 - closing that one, thanks @churik

[2018-11-13 12:21] oskarth commented on #6701
Duplicate, see https://github.com/status-im/status-react/issues/6700

[2018-11-13 12:21] #6701 closed, assigned to jakubgs

[2018-11-13 12:25] oskarth commented on #6700
Also cc @mandrigin @PombeirP @dshulyak  - can we revert whatever deploy we did with the eth.beta fleet so people can chat with Desktop without further action?

Once it is up and running, we should run a post-mortem to understand how this happened and how we can avoid it.

[2018-11-13 12:29] jakubgs commented on #6700
It's not a deployment, docker service has issues on eth.beta fleet. Working on it

[2018-11-13 12:30] jakubgs commented on #6701
The `docker` service failed to reboot correctly on the fleet. Working on it.

[2018-11-13 12:33] jakubgs commented on #6701
Ok, the containers should be back up and running.

[2018-11-13 12:37] jakubgs commented on #6701
Wait, not yet.

[2018-11-13 12:43] jakubgs commented on #6701
Ok, now it should be back up.

[2018-11-13 12:43] oskarth commented on #6700
Beta up for me now. Thanks J

[2018-11-13 12:46] churik commented on #6700
Up for me.

[2018-11-13 12:48] jakubgs commented on #6700
This appears to be due to Ansible generating a faulty `/etc/docker/daemon.json` file which was not valid JSON.

Template: https://github.com/status-im/infra-role-bootstrap/blob/master/templates/daemon.json.j2

The resulting file looked like this:
[code]
Which is clearly wrong.

<blockquote><div><strong><a href="https://github.com/status-im/infra-role-bootstrap/blob/master/templates/daemon.json.j2"

[2018-11-13 12:50] oskarth commented on #6700
When or how did that file get generated?

[2018-11-13 12:53] jakubgs commented on #6700
I was running the `infra-role-bootstrap` on the `eth.beta` fleet to add missing users. It hasn't been run there in quite a while and it was missing quite a lot of users. The issue was caused when the JSON file was generated incorrectly by that role and then docker service restarted.

[2018-11-13 12:56] jakubgs commented on #6700
Added JSON  validation but I need to also add some more sanity check before docker service is restarted:
https://github.com/status-im/infra-role-bootstrap/commit/fbffde55e7f39d2b14f9159497e903247afa378b

[2018-11-13 13:03] jakubgs commented on #6700
And here is a proper for for the templating issue:
https://github.com/status-im/infra-role-bootstrap/commit/6b259eafc18aba87df178b0384c188eb182b9e5c

[2018-11-13 13:07] jakubgs commented on #6700
My guess is that something in the newest(`2.7.0`) Ansible version changed about how the `{% raw %}` and `{% endraw %}` escape mechanism works and that fucked up the template and the resulting `/etc/docker/daemon.json`.

Or it might be a bug in Ansible, because as far as I can tell this should still work:
https://docs.ansible.com/ansible/2.7/user_guide/playbooks_advanced_syntax.html

<blockquote><d

[2018-11-13 13:11] churik commented on #5892
again reproducible for me on nightly 13/11/2018
<img width="343" alt="russian" src="https://user-images.githubusercontent.com/4557972/48415632-348e3380-e74e-11e8-92e2-abe99b7190e3.png">

[2018-11-13 13:25] ghost commented on #5505
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 13:25] ghost commented on #5105
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 13:36] churik opened #6703 "Add emoji support on Linux and Windows"
### User Story

As a <user|developer|...>, I want to <task> so that <goal>.

### Description

*Type*: Bug
*Summary*: on Windows and Linux platforms emojis are grey and they are completely different from what we have on Mac OSx.
At least for now would be nice to have consistency between platforms, ideally as it supposed to be in design (issue https://github.com/status-im/status-react/issues/5611)

[2018-11-13 13:45] ghost commented on #4987
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 13:55] ghost commented on #4839
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 13:55] ghost commented on #4875
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-13 14:23] oskarth commented on #6416
@dmitryn @rasom Any luck with this?

[2018-11-13 14:26] dmitryn commented on #6416
@oskarth no, i couldn't reproduce this issue. Both revisions (before and after upgrade to 2.14.1) hide the passphrase view (meaning that `hideView()` API works there)

[2018-11-13 14:52] SlizkovaGanna opened #6704 "Text markup displayed in reply frame of a message that is formatted with asterisks or tildes"
Type: **Bug**

Summary: Text of message is not formatted accordingly in a reply frame when message in chat (1-1 / group / public) was sent wrapped up with asterisks (*) or tildes (~)

**Expected behaviour**

Text of message in a reply bubble in bold/italic font is displayed in a specific selected style

**Actual behaviour**

Text of message in a reply bubble in bold/italic font is displayed with a

[2018-11-13 15:01] SlizkovaGanna opened #6705 "The link is not clickable when formatted with asterisks or tildes"
Type: **Bug**

Summary: The link is not clickable when it was sent wrapped up with asterisks (*) or tildes (~)

**Expected behaviour**

The link should be clickable no matter the format

**Actual behaviour**

The link is not clickable when it was sent wrapped up with asterisks (*) or tildes (~), for sender and a recipient both

**Reproduction**

1. Open Status
2. Start 1-1 chat/public chat
3. Copy

[2018-11-13 15:05] janherich commented on #6705
This is actually intended behavior - due to bad performance of nested `text` nodes in RN, we unfortunately have to be more restrictive and can't allow hierarchic text formatting, meaning that something can be bold and link and the same time, etc.
So the current logic is to always take the outermost "wrapping" modifier, so if some text is formatted as bold/italic/codequote, anything inside (tag, li

[2018-11-13 15:08] janherich commented on #6139
This should be closed as it's already implemented @chadyj

[2018-11-13 15:10] chadyj commented on #6139
Thanks @janherich!

[2018-11-13 15:10] #6139 closed, assigned to janherich

[2018-11-13 15:18] chadyj commented on #6495
ping @jakubgs

[2018-11-13 15:19] chadyj commented on #6316
@tersec @rachelhamlin Any updates on ENS registration analytics? Will be useful to see this metric on our analytics site.

[2018-11-13 15:28] lukaszfryc commented on #5520
Let's close it then.

[2018-11-13 15:28] #5520 closed, assigned to lukaszfryc

[2018-11-13 15:31] pedropombeiro commented on #6393
One suggestion that seems to be missing in this issue is that the app should be able to determine that a mailserver is unreachable/unreliable and therefore propose (with a message box) to unpin the pinned mailserver (i.e. enable autoselect).

[2018-11-13 15:55] ghost commented on #5426
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-13 15:55] #5426 closed, assigned to nobody

[2018-11-13 15:59] SlizkovaGanna opened #6707 "Adding a contact from a public chat auto-scrolls you to the bottom of the chat"
Type: **Feature request**

Summary: When user is in the middle of reading a public chat, and he decides to add someone from that chat to contacts, after returning to the chat he is auto-scrolled to the bottom of it, and has to manually scroll up to the message he was reading previously.
This happens both for desktop and mobile (where 'back' button is present)
A good user experience would be to anc

[2018-11-13 16:52] mandrigin commented on #6386
@yenda if you have some time, can you take a look at this one?

[2018-11-13 17:21] jeluard commented on #6300
@asemiankevich @Serhy Could you validate the feedback from Dether team?

[2018-11-13 17:37] yenda commented on #6707
Will be much easier to solve on desktop once my PR is merged as you can go-to a position place in flatlists

[2018-11-13 18:05] jakubgs commented on #6700
Ok, I think I've made it safer. Now the docker service is reloaded rather then restarted, so if the config is bad it just keeps going with the old config. This config should not cause issues in the future

[2018-11-13 18:05] #6700 closed, assigned to nobody

[2018-11-13 18:15] bhauman commented on #6595
This happens when I'm on the Ropsten-RPC net whenever I send a chat message.

[2018-11-13 18:20] cammellos commented on #6595
@bhauman are you also on desktop? if you switch to mainnet does it give you the same issue?

[2018-11-13 18:51] bhauman commented on #6595
@cammellos OK this only happens when I'm in "Development Mode" and it happens on mainnet_rpc and ropsten_rpc.

I'm on an IOS simulator

[2018-11-13 19:02] cammellos commented on #6595
Thanks @bhauman,

would you mind changing:
https://github.com/status-im/status-react/blob/c3ad0a7b219e2c44fe466b045fcb266eb17d95c2/src/status_im/transport/message/protocol.cljs#L85
to
https://github.com/status-im/status-react/blob/f25e41fd98d25206252f722a2c78c748921a76eb/src/status_im/transport/message/protocol.cljs#L85

and see if it still throws an error?

That change has been missed in a recent

[2018-11-13 19:17] asemiankevich commented on #6300
@jeluard thanks for heads up , looking now

[2018-11-13 19:41] asemiankevich commented on #6300
@jeluard i took a brief look through the app and it is very confusing to me how to use it at all. i was not able to reach the case where `Contact` could be clicked. Here some screenshots btw, from which i could assume:
- the web page asks me to download some app from app store / google play
- location is not working (i am not in prague anymore)
- i was able to tap some shop (?) on the map that i c

[2018-11-13 20:07] bhauman commented on #6595
@cammellos That fixed it.

[2018-11-13 20:49] codi45 commented on #6602
Hi i think Geolocation script can be added with the theme partial i tested with footer and it works well after access granted you have the data available. i can provide a PR.

[2018-11-13 21:10] jakubgs commented on #6495
Oh, right, it's just a path change. We moved all `Jenkinsfile`s to the `ci` folder, so the job config just had to have `ci/` appended before `Jenkinsfile.fastlane.clean`.

Although it appears the run takes ages, we might have to increate the 90 minute timeout.

[2018-11-13 22:24] jakubgs commented on #6682
Sure, so we'll need another parallel build for iOS for e2e tests like we have for Android right?
I'll take a look at the requirements you linked tomorrow.

[2018-11-13 22:25] jakubgs commented on #6689
The upgrade was finished today, the `eth.beta` fleet now runs a up-to-date `statusd`.

[2018-11-13 23:30] decanus commented on #6688
There will be changes made to the EIP so implementation should be paused.

[2018-11-13 23:39] yenda commented on #6386
@mandrigin I can look at it this week but current version of status-go is v0.16.3-9-g27700aa2 could you confirm it includes your changes related to this ?

edit: looks like it doesn't, could you make a version that does ?

[2018-11-14 00:21] jakubgs commented on #6495
I'm bumping the limit to 120 minutes in this PR: https://github.com/status-im/status-react/pull/6709

[2018-11-14 07:46] jeluard commented on #6602
@codi45 Hi! This issue is about exposing some new event to the extensions infrastructure. Looks like you are talking about the website?

[2018-11-14 07:51] mandrigin commented on #6386
@yenda at least this one should have it: https://github.com/status-im/status-go/releases/tag/v0.16.4

@adambabik @cammellos is there any other status-go release we should use?

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://gi

[2018-11-14 07:56] jeluard commented on #6300
@asemiankevich For now we are mostly focused on identifying and fixing the issue highlighted by the Dether team.

[2018-11-14 08:01] cammellos commented on #6386
@mandrigin I think @adambabik posted a couple of new releases today 0.16.7 & 0.17.0 , with `geth` being updated on 0.17.0, so either probably is fine, depending on how adventurous we feel.

[2018-11-14 08:07] adambabik commented on #6386
That’s correct. 0.17.0 might be more challenging. Actually, I haven’t run
full manual tests yet so 0.16.7 is preferable.

Let’s make a separate PR that solely upgrades to 0.17.0.

On Wed, 14 Nov 2018 at 09:01, Andrea Maria Piana <notifications@github.com>
wrote:

--
Best Regards,
Adam Babik
Software Engineer, P2P Team Lead
Status.im <https://status.im/>

[2018-11-14 08:43] churik commented on #6707
@SlizkovaGanna
duplicate of https://github.com/status-im/status-react/issues/5852

[2018-11-14 08:44] churik commented on #6707
@yenda can you please assign #5852?

[2018-11-14 08:44] #6707 closed, assigned to yenda

[2018-11-14 08:47] rachelhamlin commented on #6300
Found a seller in London on https://web3.dether.io - the `Chat on Telegram` button gives feedback, but indeed nothing happens.

![img_6653](https://user-images.githubusercontent.com/15470435/48470656-44f7ea00-e7f2-11e8-92fa-012e0945e93f.PNG)

<blockquote><img src="https://app.dether.io/facebook/vignette.jpg" width="48" align="right"><div><img src="/icons/prod/icon-512x512.png" height="14"> Dether

[2018-11-14 08:53] ghost commented on #5151
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-14 09:08] lukaszfryc commented on #6681
I am starting nightly testing now. Hopefully I will not find any blockers and https://github.com/status-im/status-react/pull/6673 will be merged soon. Then we can cut the release branch.

[2018-11-14 09:43] ghost commented on #5495
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-14 09:44] Fukunaga42 commented on #6300
Hi Guys Mehdi from Dether here, to use the web3 browser version you need to go on https://web3.dether.io . The problem we have, as Rachel stated, is when we click on 'chat on Telegram' it suppose to open telegram app on the device through a deeplink tg://login , but nothing happen. If you test from the desktop version map, (dether.io), and try to click on someone it will work properly.

<blockquot

[2018-11-14 09:51] rachelhamlin commented on #6693
Can we merge this to include in the release in the meantime?

[2018-11-14 09:53] rachelhamlin commented on #6681
@lukaszfryc I was slow to add the `release` label to this issue—if we can include it that would be great: https://github.com/status-im/status-react/issues/6693 (needs to be merged @jeluard )

[2018-11-14 09:53] lukaszfryc commented on #6681
Sure we can. The release branch is not created yet.

[2018-11-14 09:56] #6693 closed, assigned to jeluard

[2018-11-14 09:56] jeluard commented on #6693
@rachelhamlin Sure! Just merged.

[2018-11-14 10:03] rachelhamlin commented on #6693
Thanks!

[2018-11-14 10:08] pedropombeiro opened #6710 "Standardized debug artifact generation"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to work with standardized debug/logging artifacts so that I don't miss any vital information when debugging an issue, and can trust that all required information is present in this standardized artifact.

As a user, I want to have a 1-click solution to provide debugging information to th

[2018-11-14 10:13] ghost commented on #5525
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-14 10:23] chadyj opened #6711 "Display name should be persisted over time"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a chat user, I want to always see the names of people where that have added me as a contact so that I know who I'm talking to.

### Description

From a users point of view the app seems to sometimes forget names of contacts and relationship. This tends to happen with multi-devices or across installs.

One d

[2018-11-14 10:34] rachelhamlin commented on #6585
How was is that `vote.status.im` was displaying as such despite the redirect? Isn't it better that way?

[2018-11-14 10:38] rachelhamlin commented on #6693
Left a request in voting DApp repo to register ENS - https://github.com/status-im/snt-voting/issues/40

[2018-11-14 10:40] samthomson commented on #6353
I'm going to drop of this issue for now. I foolishly didn't realise (until I now clone and try building the repo) that the mobile app is also written in clojure and transpiled to react-native (I thought closure was elsewhere in the status ecosystem...). Impressive, but I'd rather spend some time familiarising myself with closure and the build tools in this repo before clogging up time on this. @Fr

[2018-11-14 10:41] churik commented on #6711
@chadyj are you sure it is not because Fred reinstalled the build and restore his account on new device?

[2018-11-14 10:45] andytudhope commented on #6353
Let me know @FrederikBolding and thanks @samthomson - you can find a great place to start here (though there is some debate about whether going full emacs is necessary. There are also Clojure plugins for VSCode etc). https://www.braveclojure.com/introduction/

<blockquote><div><strong><a href="https://www.braveclojure.com/introduction/">Introduction | Clojure for the Brave and True</a></strong></d

[2018-11-14 10:46] flexsurfer commented on #6585
@rachelhamlin it was a bug, it showed domain from the previous url, for example, if you have some dapp1.com and you click a link in this dapp, and it redirects you to dapp2.com, and dapp2.com requests permissions, we have shown "dapp1.com wants to access" in this case , but it's wrong it's dapp2.com
Current vote.status.im implementation is wrong if we want to keep vote.status.im we should host dap

[2018-11-14 11:26] FrederikBolding commented on #6353
@andytudhope I'll give it a shot! 😄

[2018-11-14 11:35] #5495 closed, assigned to goranjovic, asemiankevich

[2018-11-14 12:28] cammellos commented on #6711
I'll take this, one issue is for sure multi-device (once you re-install it propagates the random name again), I'll work on keeping account info (name & photo path synced across devices), and then we can revisit

[2018-11-14 12:31] cammellos commented on #6711
this should be addressed by #6697 in most cases (it works in the same way messages work, so if a device is offline and the sync-update is not on the mailserver, you'd have to sync them manually again)

[2018-11-14 12:32] cammellos commented on #6685
fixed in #6697

[2018-11-14 12:32] #6685 closed, assigned to nobody

[2018-11-14 12:33] cammellos commented on #6676
this should be fixed in #6697 please re-open if it's not the case, thanks for reporting the issue!

[2018-11-14 12:33] #6676 closed, assigned to cammellos

[2018-11-14 12:33] ghost commented on #3734
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-14 13:01] hetvart commented on #6682
@jakubgs
yes, it should build .app file which we can install on iOS simulator then.
thank you!

[2018-11-14 13:03] jakubgs commented on #6682
don't you mean an `*.ipa` file?

[2018-11-14 13:16] hetvart commented on #6682
no, there are two type of builds: for real devices and simulators.
For a real device it needs to be built with a development identity and provisioning profile, so we use `*.ipa` on real devices.
For a simulator it needs to be a simulator build of the application i.e. `*.app`

[2018-11-14 13:18] jakubgs commented on #6682
Ah, okay, thanks for clearing that up.

[2018-11-14 13:35] rachelhamlin commented on #6585
Ah, makes sense @flexsurfer - thanks for that.

[2018-11-14 13:44] EugeOrtiz commented on #6567
Talking to @siphiuel we agreed that we should show any connection problem only when it is a problem, not all the time. For this we can use current [badges](zpl.io/V1qZyPk) to inform if a user lost its connection.

We also agreed that the stats/logs should be accessible through the [MacOS menu](https://github.com/status-im/status-react/issues/5547). Maybe under Help > "See stats"

[2018-11-14 13:45] SeniuuS commented on #6353
Hi,
I've applied on this one. I am available ;)

[2018-11-14 13:53] ghost commented on #4475
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-14 14:17] lukaszfryc commented on #3734
Reopening it as the issue is still there and desings are ready.

[2018-11-14 14:54] lukaszfryc opened #6716 "Unread message counter appears for own messages"
### Description

*Type*: Bug

*Summary*: When user opens a public chat on multiple devices (like 2 phones) and sends a message on one of them, the message appears as unread on the 2nd device.

#### Expected behavior
Own messages should not be added to unread messages counter on other devices.

#### Actual behavior
Own messages appear as unreaded on another devices.

### Reproduction

- Join a publ

[2018-11-14 15:13] dshulyak commented on #6284
I can reproduce this issue. Definitely see that i established connections with peers after application was resumed.  But desktop app always shows "offline" message. I think same problem appears on IOs when app moved from background.

@yenda @cammellos when do remove "offline" warning? is it when "discovery.summary" returns peers or there is additional logic? there is definitely a bug, either in ha

[2018-11-14 15:20] dshulyak commented on #6284
I can reliably reproduce this situation.
Steps:
1. run desktop app
2. simulate network conditions. turn off your wifi, disable interface, or use this tool https://github.com/tylertreat/comcast
3. ensure that all establishrf connections with app disappeared.  `lsof -i -P <status pid>`
4. see in the logs that discovery.summary is empty:
[code]
5. enable network, wait for established connections
6. s

[2018-11-14 15:23] lukaszfryc opened #6717 "No new message when push notification is opened"
### Description

*Type*: Bug

*Summary*: Few people have complained that when they click on a push notification, the new message does not appear. It maybe related to the message not being fetched correctly when the app opens. I could not reproduce it on my side.

### Reproduction

No steps to reproduce yet.

### Additional Information
* Status version:
* Operating System: Android, iOS

[2018-11-14 15:23] cammellos commented on #6284
i will take a look it tonight, thanks for the info, very helpful, you are
running latest develop, correct?

On Wed, Nov 14, 2018, 4:20 PM Dmitry Shulyak <notifications@github.com
wrote:

[2018-11-14 15:24] lukaszfryc commented on #6717
@adambabik and @jarradh did you experience this issue on your side? Does it still happen? If yes, please share steps you do and logs (`adb logcat`, `adb pull /sdcard/Download/geth.log`)

[2018-11-14 15:27] lukaszfryc commented on #6681
So far we have not found any issues. But, the nightly testing will probably continue till the end of the day.

[2018-11-14 15:27] dshulyak commented on #6284
@cammellos i am using builds from tuesday and monday. can reproduce on both of them. should i try to reproduce on latest build?

[2018-11-14 15:29] cammellos commented on #6284
no, that's ok, just wanted to check was fairly recent, thanks

On Wed, Nov 14, 2018, 4:27 PM Dmitry Shulyak <notifications@github.com
wrote:

[2018-11-14 15:34] #6585 closed, assigned to flexsurfer

[2018-11-14 15:50] bhauman opened #6718 "Wallet setup restyle for new wallet flow"
Restyle the initial wallet screens so they resemble the screens for the new wallet flow

Figma Wallet Setup
https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/WIP_New-send-transaction?node-id=0%3A1

<blockquote><img src="/file/SIeZPHvrX7KUwEBW8VQct8C5/thumbnail?ver=thumbnails/277a2491-ef64-4850-92a6-de6acecead38" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.

[2018-11-14 15:56] churik commented on #6284
@cammellos duplicate? https://github.com/status-im/status-react/issues/6396

[2018-11-14 15:58] lukaszfryc commented on #6107
@rasom any update?

[2018-11-14 15:58] #6090 closed, assigned to nobody

[2018-11-14 16:00] cammellos commented on #6284
seems like, feel free to close one, I will assign both to me, thanks for spotting it

[2018-11-14 16:11] lukaszfryc commented on #6080
This can be also reproduced in 0.9.30

[2018-11-14 16:16] churik commented on #6396
See: https://github.com/status-im/status-react/issues/6284#issuecomment-438699307 for more info

[2018-11-14 16:16] #6284 closed, assigned to yenda

[2018-11-14 16:16] lukaszfryc commented on #6681
@chadyj @mandrigin we tested 80% of `e8d3e3` nightly and not found any issues. I think we can cut the release tomorrow and continue with final release tests.

We can cut from top of develop. Apart from https://github.com/status-im/status-react/commit/1104becfbab11506b98028ce81ad6ff869381f51 there is no other big change. @cammellos is additional testing needed for it? We already finished nightly te

[2018-11-14 16:17] lukaszfryc commented on #6681
Also, I went through all issues reported after 0.9.30 and have not found any new bugs that would block the release.

[2018-11-14 16:26] adambabik commented on #6717
I had it yesterday. The question is when I get a Push Notification, does the message is already downloaded in the app? If not, it's totally possible that I get a notification, open the app and the message is simply not there yet.

Another thing is that when I have many private chats, I have no idea which conversation that notification was related to. But I guess fixing this requires rethinking Pus

[2018-11-14 16:28] cammellos commented on #6681
i am looking at the offline / online issue, if fixed it would be good to
include, pairing should be safe to include as disabled, i can check the rc
to make sure it's the case, but can be excluded if we want to be cautious

On Wed, Nov 14, 2018, 5:17 PM Lukasz Fryc <notifications@github.com wrote:

[2018-11-14 16:28] #5807 closed, assigned to pedropombeiro

[2018-11-14 19:33] cammellos commented on #6284
@dshulyak I can't replicate myself, everything works as expected, would it be possible to get all the logs from just before you go offline till you are back online `~/.local/share/Status/Status.log` if you are running an actual build or the output of `node ubuntu-server.js` if you are actually running the development stack.

Also, when it displays `offline` but you are online (error condition), if

[2018-11-14 20:07] EugeOrtiz commented on #6445
See PN[ designs and specs here](https://github.com/status-im/status-react/issues/6621)

[2018-11-14 21:01] rcullito opened #6723 "self-messaging (i.e. notepad)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I would like to able to send messages to myself. This would be nice to have for its own sake, but more pressing is the need to send messages across devices without having to leave the status app.

*Type*: <Feature>

Either this message would be indistinguishable from messaging other clients, or if it

[2018-11-14 21:37] pedropombeiro opened #6724 "Only show desktop PNs for messages that were sent after signing in to the account"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I only want to receive PNs for messages that have arrived after I signed in to the account so that I'm not submerged by an endless stream of PNs.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise th

[2018-11-15 03:09] oskarth commented on #6621
I notice the desktop notification shows message payload. Is this encrypted end to end?

[2018-11-15 05:06] pedropombeiro commented on #6621
The desktop notifications are currently done purely on client-side (as each message is retrieved and added to the db, there's logic to determine if a notification should be shown to the user). This means that the user won't see notifications if the app isn't running.

[2018-11-15 05:16] pedropombeiro opened #6726 "Support Windows 7"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to run Status on Windows 7 so that I can use my current OS.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actual

[2018-11-15 05:25] pedropombeiro opened #6727 "Fix crash on Share my contact code on Windows"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to share my QR code on Windows so that other users can easily add me.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what

[2018-11-15 05:44] dshulyak commented on #6284
I am trying to reproduce it again to get logs but i can't. Not sure why. Button to send a message was blocked, but i was receiving new messages.

It is probably not related to discovery.summary. Now warning switches to "connecting to peers". and gets removed once i have at least one peer in discovery.summary.

[2018-11-15 05:54] pedropombeiro opened #6728 "Add notification support for Windows"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see notifications on Windows so that I know when a message arrives.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually h

[2018-11-15 05:58] dshulyak commented on #6284
Found logs from yesterday: https://pastebin.com/jACzPFSW

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/jACzPFSW">17:16:14.387 - D - [RCTStatus] - ::onStatusGoEvent call - event:  {"type":"disco - Pastebin.com</a></strong></div></blockquote>

[2018-11-15 06:08] pedropombeiro commented on #6728
Added missing method in https://github.com/status-im/snorenotify/commit/9d54904e4896ab6c3c3a52f97381e5948b455970.

We need to add NSIS script as mentioned https://techbase.kde.org/Projects/Snorenotify/Windows-Toast-Notification once the installer PR lands.

<blockquote><img src="https://www.kde.org/aether/media/192x192.png" width="48" align="right"><div><strong><a href="https://techbase.kde.org/Pr

[2018-11-15 06:34] 0xc1c4da commented on #6717
I have this behaviour consistently, noticed it before Prague, I have 2 accounts in Status but no one messages me on the second one (no one knows it and there is no contacts in it).

I often receive a push notifications, however once I've "signed in" (can we change this wording because it's not exactly what's happening) and messages are fully fetched, yet no new private messages are to be found. I

[2018-11-15 07:22] pedropombeiro commented on #6728
Added both the trayicon and windowstoast plugins but the log still shows an empty list of notification plugins:

[code]

Any ideas @MaxRis?

[2018-11-15 07:31] cammellos commented on #6396
@churik can you still replicate? I can't replicate on my local machine or android. If you do, it would be helpful to get the `Status.log`.

So far what I have:

1) it seems the reason is that `NetInfo` is not notifying us of a network change, when switching from online->offline (here are some logs, https://pastebin.com/jACzPFSW , no `connection-status-change` event is fired). `getSyncing` is proba

[2018-11-15 08:07] cammellos commented on #6716
This should have been fixed in https://github.com/status-im/status-react/pull/6697 and should work as expected in latest nightly, could you check and close if it's the case?

[2018-11-15 08:18] lukaszfryc commented on #6681
include, pairing should be safe to include as disabled, i can check the rc
to make sure it's the case, but can be excluded if we want to be cautious

Ok, let's include it.

@mandrigin or @cammellos could you cut the release/0.9.31 from the current develop (`89e0ea0bd2211a2f0462488ebf1166d592cd064d`)? We want to start the final release testing asap.

cc @chadyj

[2018-11-15 08:20] chadyj commented on #6681
Heya @mandrigin @lukaszfryc what do you think about a new doc on how to cut a release for dummies?

- How to cut the branch
- What buttons to push
- etc

[2018-11-15 08:22] cammellos commented on #6681
here's the branch https://github.com/status-im/status-react/tree/release/0.9.31

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react">status-im/status-react</a></strong></div><div>a free (libre) op

[2018-11-15 08:47] ghost commented on #5395
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-15 08:47] chadyj commented on #6681
Thanks @cammellos

Release notes up at https://notes.status.im/mobile-release-notes

cc @j-zerah

[2018-11-15 08:51] lukaszfryc commented on #6716
Yes, works fine. Tested on `89e0ea`. Thanks @cammellos

[2018-11-15 08:51] #6716 closed, assigned to cammellos

[2018-11-15 08:51] chadyj commented on #6522
/// removed the released label since we are using that for mobile release blockers

[2018-11-15 09:00] maxhora commented on #6728
@PombeirP have you added import of static plugins for Windows platform?
It should happen on early stage of app running.

For MacOS it was working out of the box by [including generated header file ](https://github.com/status-im/status-react/blob/develop/modules/react-native-desktop-notification/desktop/desktopnotification.cpp#L19). You can try similar for Windows as well.

But on Linux generated h

[2018-11-15 09:09] pedropombeiro commented on #6728
@MaxRis yeah, that header wasn't being included, could very well be that. When including it on Windows though I get this error (seems like `src/libsnore/plugins/settingsplugin.cpp` isn't being built but is being referenced somewhere):

[code]

UPDATE: I'm now trying to do the same as Linux, that's probably better.

[2018-11-15 09:19] pedropombeiro commented on #6728
Yup, much better now:

[code]

[2018-11-15 09:26] churik opened #6730 "Spam popup window doesn't block user from sending new messages"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: in mobile after you send 5+ message to public chat, "Sorry, we limit several messages ...." popup appears and you cannot send new messages until

[2018-11-15 09:31] asemiankevich commented on #5242
some examples from desktop
![image](https://user-images.githubusercontent.com/28752642/48543174-08032480-e8d2-11e8-897f-f15437abd8e0.png)
![image](https://user-images.githubusercontent.com/28752642/48543193-118c8c80-e8d2-11e8-835b-1d4dd19b45bd.png)

[2018-11-15 09:43] ghost commented on #5448
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-15 09:43] #5448 closed, assigned to nobody

[2018-11-15 09:43] jeluard opened #6733 "Enhance extensions panel to display permissions"
Extensions metadata include permissions related to what data is manipulated.

Surface those in the extension `installation panel` so that a user is aware of privacy concerns related to this extension.

[2018-11-15 09:54] flexsurfer commented on #6587
To solve this properly and prepare for swarm support we need to implement ens resolution in webview component, it should be possible to set ens name as url and content should be requested and showed, and if we set url as “test.eth” and user navigates to “test.eth/search”, onNavigationStateChange should contain current url as “test.eth/search”

1) ens name  “test.eth” is set into react native webvi

[2018-11-15 10:09] lukaszfryc commented on #6717
@PombeirP could you answer that?

[2018-11-15 10:19] pedropombeiro commented on #6717
The PN currently is not tied to fetching Whisper messages, there's a long-standing GHI for that: https://github.com/status-im/status-react/issues/3451

So when you receive a PN and click on it, that will open the app and only then fetching of messages is triggered (as usual). I just did a few tests on my side and here's what I saw:

Test consisted of sending 1:1 message from account A (desktop) to

[2018-11-15 10:23] ghost commented on #4432
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-15 10:28] chadyj opened #6735 "Block spammy users"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to block users so that I can manage spammers.

### Description

Lately Status has seen a bunch of spam by users that post the same message in lots of channels such as:

or

#### Expected behavior
Can block users, and then not see their messages

### Solution
These type of messages can gunk up

[2018-11-15 10:41] jeluard commented on #6587
@flexsurfer Can you detail the plan to not have cookies shared/localStorage shared too?

[2018-11-15 10:42] jeluard opened #6736 "Fix store events/queries so that they support multi-extensions"
Current multi-extension support broke `store/*` events and queries. They currently hardcode the [extension id](https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/core.cljs#L40) to `:collectible`.

It should be changed to the real extension id.

[2018-11-15 10:46] jeluard commented on #6683
@flexsurfer started a document listing known limitations [here](https://notes.status.im/s/rJ0SO5tpQ)

[2018-11-15 10:47] ghost commented on #5543
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-15 10:47] mandrigin opened #6737 "Restart macOS signing on segmentation fault"
Every now and then signing script for macOS crashes with segmentation fault. Since it is a known issue, I think it is safe to restart this process at least once or twice more when this segmentation fault happens.

The error message is like that

[code]

[2018-11-15 10:51] rachelhamlin opened #6738 "Name still resolving to user `c`"
### User Story

As a desktop user, I want to receive an error for invalid names.

### Description

*Type*: Bug

*Summary*: On desktop, I am still able to resolve certain names to the wrong address.

#### Expected behavior
ENS names resolve only to the registered Whisper ID. If a name does not have a Whisper ID, there's an error message.

#### Actual behavior
I just typed in `cologic` and was direc

[2018-11-15 10:55] adambabik commented on #6717
So we do tie a push notification to the chat. I am not sure I ever had it working on iOS... How do we do that? Via a topic?

[2018-11-15 11:16] jeluard opened #6739 "Implement a wallet extension hook"
### User Story

As a developer, I want to add extra features in the wallet.

Proposed hook syntax:

[code]

### Description

*Type*: Feature

[2018-11-15 11:25] lukaszfryc commented on #6681
include, pairing should be safe to include as disabled, i can check the rc
to make sure it's the case, but can be excluded if we want to be cautious

@cammellos here are release builds. You can double check them:

https://ci.status.im/job/status-react/job/combined/job/mobile-android/7385/artifact/StatusIm-181115-082235-1104be-e2e.apk
https://ci.status.im/job/status-react/job/combined/job/mobile-io

[2018-11-15 11:44] chadyj opened #6740 "Mobile FAQ link is broken"
The mobile app has a link to the FAQ from Profile > Need Help? > Frequently Asked Questions.

The FAQ is no longer shown.

It links to https://wiki.status.im/Frequently_Asked_Questions which now redirects to the docs site tech documentation page.

Solution:

Change the link from `https://wiki.status.im/Frequently_Asked_Questions ` to `https://status.im/docs/FAQs.html` in the app.

Needs to be fixe

[2018-11-15 11:47] ghost commented on #5302
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-15 12:12] andytudhope commented on #6740
@chadyj the FAQs are here: https://status.im/docs/FAQs.html

Though not the most mobile friendly because we kinda got stalled on the design for the sidebar and I have yet to discuss that with @andmironov or @NistorCristian... Anyway, we can at least just update the link.

[2018-11-15 13:03] ghost commented on #5517
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-15 13:23] chadyj commented on #6740
Thanks Andy.

So let's change the link from `https://wiki.status.im/Frequently_Asked_Questions ` to `https://status.im/docs/FAQs.html` in the app.

[2018-11-15 14:00] chadyj opened #6741 "Keyword notifications in chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a chat user, I want to be notified when keywords are mentioned so that I can better follow relevant conversations.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

We have previously discussed mentions, but it is complicated by auto-suggest, random name, display name, and acti

[2018-11-15 14:03] chadyj commented on #6723
This can be achieved today with a public chat for #rcullitosecretchat (but messages will be public if the channel name is found)

[2018-11-15 14:40] Serhy opened #6743 "No successful release build job runs in Jenkins for release/0.9.31"
***Summary***: All job runs (4 of them by this moment) from https://ci.status.im/job/status-react/job/release/job/release%252F0.9.31/ job failed to succeed.

If i'm correct it's because of mobile-android trying to push Slack message.

#### Expected behavior
Successful build with iOS, Android, Android e2e artefacts in https://ci.status.im/job/status-react/job/release/job/release%252F0.9.31/

#### A

[2018-11-15 15:07] rcullito commented on #6723
ah nice. thanks for the additional context @chadyj

[2018-11-15 15:28] lukaszfryc commented on #6681
OK, testing is done. No new issues found. Here is the latest [testrail testrun](https://ethstatus.testrail.net/index.php?/runs/view/1964&group_by=cases:section_id&group_order=asc) (critical section was tested on the final build).

I think we can publish the app once https://github.com/status-im/status-react/pull/6742 is merged

cc @chadyj @mandrigin @asemiankevich

[2018-11-15 15:39] FrederikBolding commented on #6353
It's live here #6744 @andytudhope @StatusSceptre - Let me know if there's any issues 😄

[2018-11-15 19:53] EugeOrtiz opened #6747 "After creating a group chat, chat icons are not displayed"
## Description
*Type*: Bug
After creating a group chat, the chat icon is not shown in chat list (left panel) and chat header (top).

## Expected behavior
An icon with the first letter of the group name is shown both in chat list and chat header:

<img width="890" alt="captura de pantalla 2018-11-15 a la s 4 42 48 p m" src="https://user-images.githubusercontent.com/37297779/48577285-8d4c0080-e8f5-1

[2018-11-15 22:40] jakubgs commented on #6682
Damn, I was too busy today to get around to this, sorry man. I'll make sure to start work on this on Monday.

[2018-11-15 23:17] pedropombeiro commented on #6717
In that sense, yes. What I meant is that the fact that a PN arrives currently doesn't trigger background fetching of Whisper messages.

Just looked at the code and this is what is sent to status-go:

[code]
https://github.com/status-im/status-react/blob/develop/src/status_im/chat/models/message.cljs#L304

So basically the sender pubkey and the chat ID is sent as JSON payload on the push notificati

[2018-11-16 00:30] PaulRBerg commented on #6602
Hi @jeluard, many thanks for accepting my request :) Just for the record, it's a bit late in Europe now, I'll start implementing this tomorrow morning.

[2018-11-16 03:41] StatusSceptre commented on #6594
@cr2fx thanks for applying, it would be best if you joined here https://get.status.im/chat/public/status-core to discuss further!

<blockquote><div><strong><a href="https://get.status.im/chat/public/status-core">Join the public chat: #status-core in Status</a></strong></div></blockquote>

[2018-11-16 03:42] StatusSceptre commented on #6596
Please join status for inquiries; i've approved cr2fx on another bounty so will be glad to see you try to tackle this one @mushroomgenie https://get.status.im/chat/public/status-core

<blockquote><div><strong><a href="https://get.status.im/chat/public/status-core">Join the public chat: #status-core in Status</a></strong></div></blockquote>

[2018-11-16 08:36] chadyj opened #6749 "Show unread count instead of 9+"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a chat user, I want to see the real unread message count so that I can know how many unread messages there are.

### Description

Status currently shows unread message counts as `9+` when there are more than 9 unread messages. In common usage this means that chats always tend to show 9+ and offer no context

[2018-11-16 08:36] lukaszfryc commented on #6681
@cammellos have you got a chance to look at it?

[2018-11-16 08:38] cammellos commented on #6681
@lukaszfryc sorry, not yet, I get a 404 for the android link, is there another link i can use?

[2018-11-16 08:40] lukaszfryc commented on #6681
@cammellos you can use https://ci.status.im/job/status-react/job/combined/job/mobile-android/7434/artifact/StatusIm-181115-130912-1104be-e2e.apk from [latest build](https://ci.status.im/blue/organizations/jenkins/status-react%2Frelease/detail/release%2F0.9.31/4/pipeline/44).

<blockquote></blockquote>

[2018-11-16 08:41] lukaszfryc commented on #6743
@jakubgs any update? We need to have it fixed as we are releasing soon.

[2018-11-16 08:44] chadyj commented on #6495
Thanks @jakubgs things are running again!  Closing!

But the Fastlane plugin seems broken and I can't get it working locally.  Will investigate more.

[2018-11-16 08:44] #6495 closed, assigned to jakubgs

[2018-11-16 08:49] errorists commented on #6749
Here are mobile badges for reference
<img width="580" alt="slice" src="https://user-images.githubusercontent.com/4932774/48609294-cdf25b00-e983-11e8-8021-22289163f826.png">

cc @EugeOrtiz for desktop

@chadyj should this include the total unread badge next to the Home icon (space constrained but it's doable) and the badges next to the 'Back' arrow when inside a chat (space constrained and not doab

[2018-11-16 08:50] chadyj commented on #6681
@mandrigin can you help us out with a guide?

From memory we have to do:

- Cut branch (already done!)
- Bump version (eg [here we bumped 0.9.30](https://github.com/status-im/status-react/pull/6102/files))
- Run the [upload_release_ios](https://ci.status.im/job/status-react/job/upload_release_ios/) Jenkins job, and get approval. we can keep running to add new builds
- When iOS is good we run the [

[2018-11-16 08:55] cammellos commented on #6681
@lukaszfryc the one you sent me it's an e2e version, in that one group chats are enabled, we need one that is using `.env.prod` jenkins file

[2018-11-16 08:56] cammellos commented on #6681
should I kick the build?

[2018-11-16 08:56] chadyj commented on #6681
Can a @status-im/clojure dev please merge and cherry pick this PR? https://github.com/status-im/status-react/pull/6742

[2018-11-16 08:58] cammellos commented on #6681
@chadyj which PR?

[2018-11-16 09:10] chadyj commented on #6602
This involves editing and expanding the privacy policy and could have other legal, privacy, or security concerns cc @corpetty @arnetheduck

[2018-11-16 09:18] #6740 closed, assigned to nobody

[2018-11-16 09:19] cammellos commented on #6681
#6742 has been merged and cherry-picked

[2018-11-16 09:22] chadyj commented on #6681
Cheers!
Started https://ci.status.im/job/status-react/job/upload_release_ios/54/ so we can get a jump on approval.

<blockquote><img src="/static/60651f1e/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/upload_release_ios/54/">status-react » upload_release_ios #54 [Jenkins]</a></strong></div></blockquote>

[2018-11-16 09:42] lukaszfryc commented on #6681
@cammellos we do not have it yet since jenkins build is broken. See https://github.com/status-im/status-react/issues/6743. Maybe you can help?

[2018-11-16 09:56] cammellos commented on #6743
taking a look at this, removed slack notifications and kicked the build

[2018-11-16 09:58] chadyj commented on #6681
~~It has been pretty quiet around here so I thought I'd see if I can fix the Jenkins build problem in https://github.com/status-im/status-react/pull/6751~~ Already done

~~Also the https://ci.status.im/job/status-react/job/upload_release_ios/54/  release job completed and 0.9.31 is in Testflight now for testing and approval.~~ https://github.com/status-im/status-react/pull/6750 needs to be merged

[2018-11-16 10:34] cammellos commented on #6681
@lukaszfryc checked on my side, it's all good, all disabled

[2018-11-16 10:35] chadyj commented on #6681
*&^%$%^&* Jenkins failed again for the upload_release_ios job.  Running it again.
https://ci.status.im/job/status-react/job/upload_release_ios/56/

cc @jakubgs @mandrigin Multiple Jenkins failures seem to happen with every release waisting everyone's time.   eg https://github.com/status-im/status-react/issues/6743 and release job failures.   Also https://ci.status.im/job/status-react/job/upload_re

[2018-11-16 11:13] goranjovic commented on #4162
Closing as outdated

[2018-11-16 11:13] #4162 closed, assigned to nobody

[2018-11-16 11:21] goranjovic commented on #6687
This actually works as intended. But I do see your point in the inconsistent behavior between Send and Request in Wallet. We'll discuss this with the UX

[2018-11-16 11:22] goranjovic commented on #5095
Duplicate of #4966

[2018-11-16 11:22] #5095 closed, assigned to nobody

[2018-11-16 13:22] mandrigin opened #6757 "[Epic] Fix Message Reliability"
* Project GitHub tag: https://github.com/status-im/status-react/labels/chat-reliability

### Project Vision

The goal of this project is:
* to make messaging extremely reliable;
* to be able to prove that;
* to be able to show that information to a user (especially it is important to
    communicate if the message isn't delivered).

### Project Scope

"Message reliability" in this project means:
-

[2018-11-16 13:34] dshulyak commented on #6757
that also includes "phantom" notifications, without receiving an actual message. just in case someone looks for common issues

[2018-11-16 13:36] mandrigin commented on #6757
Yeah, I tried to put it just under this reason part, but probably it isn't the most readable way... I'll think about better formatting

[2018-11-16 14:01] mandrigin opened #6758 "Do not request mailserver messages too frequently"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to waste all my data plan on receiving historic messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

We request messages each time we go to foreground (aka `applicationWillEnterForeground` on iOS or `onResume` on Android).

This OS event actually happens

[2018-11-16 14:21] asemiankevich opened #6759 "Send transaction (or Onboarding if not completed) is not shown when user responds to request with an asset not enabled in portfolio"
### Description

*Type*: Bug

*Summary*:

Send transaction screen (and Onboarding if not completed yet) is not shown for user, who tries to respond on request with an asset that is not enabled in his portfolio. Steps:

#### Expected behavior
onboarding (or send transaction) screen should be shown

#### Actual behavior
no Onboarding screen is not shown

### Reproduction

- Recover account as user A

[2018-11-16 14:36] chadyj commented on #6681
Build 12473 has been submitted to Apple for approval.

[2018-11-16 15:31] rachelhamlin opened #6760 "Add DApps for 0.9.33"
This issue will be updated with additional DApps.

**slow.trade**
URL: https://slow.trade/
[Logo](https://drive.google.com/file/d/1-ayAOt1av8fI2OKrdJJyHaG7vcIxCJJc/view?usp=sharing)
Category: Exchanges
Order: bottom of list
Description: Trade fairly priced crypto assets on the first platform built with the DutchX protocol.

**3Box**
URL: https://3box.io
[Logo](https://drive.google.com/file/d/1sjwy

[2018-11-16 16:32] naghdy commented on #6602
Let's make sure this is behind very obvious ACL's, and that we are very careful with how we are sharing users location to end developers. This has the potential to undo everything that we are working on in the privacy/anonymity size of things.

[2018-11-16 16:34] pedropombeiro commented on #6584
Reopening this to start a PR to kill rogue ubuntu-server processes at startup.

[2018-11-16 17:48] ghost commented on #3783
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-16 17:48] #3783 closed, assigned to nobody

[2018-11-16 17:58] hetvart commented on #6682
thank you!

[2018-11-16 18:23] jeluard commented on #6602
Most definitely this is a privacy concern. Proper permissions modeling are mandatory for this specific event and it will fit in the global permission mechanism that extensions/status are building currently.
Note that currently DApps already can access geolocation data using the current web browser permission mechanism (somewhat less comprehensive for end users that what we propose for extensions).

[2018-11-16 20:27] EugeOrtiz opened #6763 "Align timestamp formats in chat list"
## User Story
As a user, I want to see a consistent timestamp on chats between my devices.

## Description
Chat timestamps have different formats on mobile and desktop.

## Expected behavior
Same date/time format for any device.

## Actual behavior
![img_7484](https://user-images.githubusercontent.com/37297779/48645314-16ca0400-e9c4-11e8-8071-61a05cc5f1c0.PNG)
<img width="341" alt="captura de pant

[2018-11-16 22:17] PaulRBerg commented on #6602
After a relatively long installing process, I managed to run the Status iOS app on my machine. As a sidenote, are there any warnings in the docs about the following?

1. Android Studio license agreement command-line [problems](https://stackoverflow.com/questions/39760172/you-have-not-accepted-the-license-agreements-of-the-following-sdk-components/43003932#43003932)
2. `Unable to find a specificati

[2018-11-16 23:58] ghost commented on #5179
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-16 23:58] #5179 closed, assigned to nobody

[2018-11-17 08:34] leafcutterant commented on #1125
Request for re-open. Bad bot, by the way. It's erroneous to close issues based on (the lack of) recent activity. Signal has been doing the same, very annoying.

This IS a very important issue. One has to make a pilgrimage or build from source to get access to Status outside Google Play. Sorry, but this is ridiculous. Status says it wants to become the operating system of the web3.0. I support that

[2018-11-17 09:09] andytudhope opened #6765 "Transaction Queue Malfunction in explorer.bounties.network"
### User Story

As a user, I want to to be able to issue bounties from https://explorer.bounties.network so that I can give away my lego blocks and encourage community involvement.

### Description

*Type*: Bug

*Summary*: Issuing a bounty from https://explorer.bounties.network requires sending 2 transactions. The first one works well, however, the second never shows up and it leaves things, there

[2018-11-17 09:40] andytudhope commented on #6765
Mind you, I just tested and can't create a bounty using my browser and MetaMask either, so it seems like this may not be an issue with our wallet...

[2018-11-17 15:24] leafcutterant commented on #4944
@chadyj I want to learn more about deep/universal links, but the link to the wiki entry is broken.

[2018-11-17 16:06] chadyj commented on #4944
@leafcutterant Sorry not sure where that page went. Perhaps there is an archive @andytudhope @jakubgs?

[2018-11-17 17:11] leafcutterant commented on #4944
Instead of an archive, it may be a good idea to rather incorporate it into what took the place of the wiki (https://status.im/docs/), presuming it still exists somewhere.

[2018-11-18 08:38] ghost commented on #5500
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-18 08:55] ghost commented on #5559
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-18 08:55] ghost commented on #5556
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-18 08:55] ghost commented on #5185
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-18 08:55] #5185 closed, assigned to dmitryn

[2018-11-18 12:15] ghost commented on #4814
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-18 12:15] ghost commented on #5475
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-18 12:15] #5475 closed, assigned to nobody

[2018-11-18 12:42] flexsurfer commented on #4814
it still can't be opened on Android in os native browser

[2018-11-18 13:05] ghost commented on #5513
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-18 14:35] ghost commented on #3614
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-18 21:03] maxhora commented on #6175
Update: Extending of realm backend to support qwebengine is in progress.

Update [18.11.2018]. QWebEngine realm support is going to be out of realm [philosophy's](https://realm.io/blog/introducing-realm-react-native/) scope, because QWebEngine doesn't provides direct native API and creation of JS objects should be done via additional QWebChannel layer. At the moment the outcome performance is not

[2018-11-18 21:35] ghost commented on #5463
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-18 21:35] #5463 closed, assigned to nobody

[2018-11-18 22:43] tbenr commented on #6601
Hi @jeluard i started working on this. Is it planned to go on gitcoin soon?

[2018-11-19 00:05] ghost commented on #5547
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-19 03:13] decanus commented on #6688
The EIP has been updated and should be good to go: https://eips.ethereum.org/EIPS/eip-1577

<blockquote><div>Ethereum Improvement Proposals</div><div><strong><a href="http://eips.ethereum.org/EIPS/eip-1577">contenthash field for ENS</a></strong></div><div>Ethereum Improvement Proposals (EIPs) describe standards for the Ethereum platform, including core protocol specifications, client APIs, and con

[2018-11-19 07:22] ghost commented on #3918
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-19 07:48] jeluard commented on #6601
@tbenr Sure it is coming! Could you share some details about what you are doing? `logs` is more complex than `send-transaction` for instance, and I am afraid I didn't provide much guidance.

[2018-11-19 08:35] chadyj commented on #6681
Happy Monday y'all! 🎉
It's Monday and we don't have any new blockers.

Has the testing wrapped up?

[2018-11-19 08:37] jakubgs commented on #6743
Sorry, I was OoO on Friday.

[2018-11-19 08:42] ghost commented on #5488
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 08:42] #5488 closed, assigned to rasom

[2018-11-19 08:46] ceripower opened #6767 ""Image not recognised" warning error when opening latest nightly .dmg file"
# Problem

I downloaded the latest nightly, and when clicking the .dmg to open it, I get a warning message saying `The following disk images couldn't be opened: StatusIm 181119-0259 Image not recognised`.

The error message stops the .dmg file from being opened.

<img width="372" alt="screen shot 2018-11-19 at 10 45 32" src="https://user-images.githubusercontent.com/25318254/48695622-448f9280-ebe8

[2018-11-19 08:49] churik commented on #6767
@ceripower would you mind to share details of your OS?

[2018-11-19 09:01] ceripower commented on #6767
Hi @churik! MacOS High Sierra version 10.13.3, let me know if you need anything else!

[2018-11-19 09:01] lukaszfryc commented on #6681
@chadyj yes, testing is done.

[2018-11-19 09:09] tbenr commented on #6601
Hi @jeluard i applied the work on gitcoin with a brief description of the approach.

[2018-11-19 09:13] churik commented on #6767
cannot reproduce on Mac OSx Mojave 10.14.1

[2018-11-19 09:20] jeluard commented on #6601
@tbenr Somehow can't find it. Could you point me to it?

[2018-11-19 09:21] tbenr commented on #6601
https://gitcoin.co/issue/status-im/status-react/6601/1784

<blockquote><img src="https://gitcoin.co/dynamic/avatar/status-im/1" width="48" align="right"><div><img src="https://s.gitcoin.co/static/v2/images/favicon.ico/favicon-16x16.0f4b9a127a1a.png" height="14"> Add ethereum/log events | status-im Funded Issue Detail | Gitcoin</div><div><strong><a href="https://gitcoin.co/">Add ethereum/log events

[2018-11-19 09:25] jeluard commented on #6601
Sorry can't find a description of the approach. Can you paste it here?
Did you consider that logs can access multiple elements, as opposed to `call` that only access a single object? How those would be returned to the caller?
Also how about incoming logs?

[2018-11-19 09:26] #5447 closed, assigned to vitvly

[2018-11-19 09:27] hetvart commented on #6767
could not reproduce on macOS High Sierra 10.13.6

[2018-11-19 09:41] rasom commented on #6033
@vkjr @yenda can you elaborate a bit? Is that wrong from the performance pov or it has some other implications?

[2018-11-19 09:41] Serhy commented on #5395
Haven't seen this issue for a while, and now with 0.9.31 build - can't reproduce with Android 7 (Samsung J7), Android 6.0.1 (Note 4)
Closing this for now.

[2018-11-19 09:41] #5395 closed, assigned to nobody

[2018-11-19 09:53] lukaszfryc commented on #5513
I can't reproduce this issue. It was probably something temporary related to push notifications not being generated.

[2018-11-19 09:53] #5513 closed, assigned to lukaszfryc

[2018-11-19 10:02] ghost commented on #4604
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 10:02] #4604 closed, assigned to nobody

[2018-11-19 10:03] chadyj commented on #6681
Perfect!

Build 12473 is ready to go in the Play Store and Testflight.

Release notes are ready https://notes.status.im/mobile-release-notes

@j-zerah When do you want to push the button?

cc @mandrigin @lukaszfryc @annadanchenko @rachelhamlin

<blockquote><div><strong><a href="https://notes.status.im/mobile-release-notes">Mobile Release Notes - CodiMD</a></strong></div></blockquote>

[2018-11-19 10:32] lukaszfryc commented on #6681
@chadyj wait a sec please. There is an issue test team is investigating right now. Please join #test-team on Status.

[2018-11-19 10:43] annadanchenko opened #6768 "No tokens shown on main Wallet screen after upgrade"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: No tokens and collectibles are shown on main Wallet screen in Assets section after upgrade (user had them shown before upgrade)

Note that if pu

[2018-11-19 10:47] annadanchenko commented on #6681
so, here is an issue discussed now in test-team: https://github.com/status-im/status-react/issues/6768
imo, it looks like a release blocker cc @chadyj @mandrigin

[2018-11-19 10:47] vkjr commented on #6033
@rasom, this issue was created per discussion in PR - https://github.com/status-im/status-react/pull/6006/files Not sure about exact implications, probably @yenda can answer it better.

<blockquote><img src="https://avatars0.githubusercontent.com/u/5786310?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="ht

[2018-11-19 11:01] annadanchenko commented on #6681
it looks like test-team will need to retest upgrade again as wrong version from TestFlight was considered to be 0.9.30 release (we have 4 different options there).

 @lukaszfryc will you be able to check it using upgrade from 0.9.30 (11274)?

[2018-11-19 11:02] lukaszfryc commented on #6681
@annadanchenko yes, I will test it now.

[2018-11-19 11:12] lukaszfryc commented on #6768
@mandrigin @cammellos or maybe @rasom, could you fix it?

[2018-11-19 11:15] annadanchenko commented on #6768
or @goranjovic ?

[2018-11-19 11:16] chadyj commented on #6681
Let's start expiring builds so we only ever have 1 active build for each version.
I expired the other 3 for 0.9.30.

[2018-11-19 11:25] lukaszfryc commented on #6681
I have not found other issues. I will retest upgrade scenarios after #6768 is fixed.

[2018-11-19 11:26] rachelhamlin commented on #6681
@chadyj @j-zerah we need to get the blog asset from Alex. I'll format the notes into a ghost post.

[2018-11-19 11:43] chadyj opened #6772 "Metadata leak in push notifications"
# Problem

Reported by @hesterbruikman:

If a message sender has their mobile OS language settings set to a supported language (e.g. Korean or Spanish) the notification of the recipient is shown in this language, regardless of the anguage the recipient has set in their OS. E.g. Jinho sends a message to Philio while Jinho's phone is set to Korean, Philip receives a notification in Korean while his

[2018-11-19 12:27] #6584 closed, assigned to nobody

[2018-11-19 12:29] 0x-r4bbit commented on #6584
@PombeirP 🎉

[2018-11-19 12:32] ghost commented on #5287
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 12:40] tbenr commented on #6601
I dont know how to get it back :) anyway it was short, something like: i'll add a event in "capacities", then a new handler in extensions/ethereum.cljs which will leverage status/call-private-rpc to call eth_getLogs. Some additional analysis has to be done to manage parameters (expose sha3 to help setting up topics?).

but I may not caught the whole complexity (ie result handling).

Do you have so

[2018-11-19 13:02] ghost commented on #5498
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 13:04] jakubgs commented on #4944
All I found is this:
https://github.com/status-im/wiki.status.im
But it doesn't seem to contain the article you were looking for, so not sure where that might have gone.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.c

[2018-11-19 13:15] jakubgs commented on #6689
Is this still an issue?

[2018-11-19 13:18] jeluard commented on #6601
Looks fine. Forget my previous comment, it's something higher level that we will address independently.
What would make sense is to have something a bit simpler than `eth_getLogs`: specifically the call should be self-sufficient and not require previous calls to access topics.

[2018-11-19 13:32] ghost commented on #5499
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-19 13:32] #5499 closed, assigned to nobody

[2018-11-19 13:49] chadyj commented on #6767
@rachelhamlin had this too last week.

I couldn't repro on 10.14.1

@gnl Have you seen anything like this?

[2018-11-19 15:17] pedropombeiro commented on #6772
This is yet another instance where we see it's better to rely on the [`data` field for the payload](https://firebase.google.com/docs/cloud-messaging/concept-options#notification-messages-with-optional-data-payload) instead of `notification` field (another being e.g. https://github.com/status-im/status-react/issues/3451). We should be sending a silent notification (only `data` filled in) and gettin

[2018-11-19 15:40] SlizkovaGanna commented on #6659
This issue also reproduces for a specific comment:

_https://d.pr/free/v/ENZwWa `scrollbar bug` video, hope someone can fix it.
 i try to scroll up from bottom, when i release mouse scrollbar to stop scrolling,  the scrollbar back to the bottom again...this is very annoying...looks like it's stretchy_

[2018-11-19 15:46] EugeOrtiz commented on #5547
There are a couple of issues related to this one. Just commenting so It doesn't get closed.

[2018-11-19 16:06] SlizkovaGanna opened #6779 "URL is opened when clicking on a regular text part of the message that contains a link, styled text, and regular text"
Description

Type: **Bug**

Summary: When there is a message containing a link + styled text (code, bold or italic format) + regular style text; clicking on a regular part of the message leads to the URL and not to quoting that message.

**Expected behaviour**

When clicking on the link, user is redirected to the URL.
When clicking outside of the link on the text, the URL is quoted

**Actual behav

[2018-11-19 16:12] pcowgill commented on #6676
@cammellos It doesn't appear to be fixed in the latest nightly desktop build, c088e7b65

[2018-11-19 16:39] Serhy opened #6780 "'No protocol method...' error when trying to delete disabled extension"
***Type***: Bug

There is no way to delete installed Extension when a user disabled it: `No protocol method Command.id defined for type null:` error appears.
In a case when an extension is enabled - it could be removed fine.

#### Expected behavior
Extension deleted

#### Actual behavior
`No protocol method Command.id defined for type null:` error appears when I tap 'Delete' icon on disabled exten

[2018-11-19 16:40] hetvart opened #6781 "[Status browser] cannot return back to previous page using 'back' button"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: System does not navigate a user to the previous page when using 'back' button in Status browser.

#### Expected behavior
user should be navigated back to language selection page

#### Actual behavior
user stays on the same page

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)
1.

[2018-11-19 17:05] jeluard opened #6784 "Decoding of some smart contracts call is broken"
# Problem

Call to one of Kyber's methods cannot be decoded. The type is `[uint256, uint256]`.

[2018-11-19 17:52] PaulRBerg commented on #6602
I spent time going through the onboarding docs (including the ones from Clojure, Leiningen and friends) and today I've integrated the only geolocation library available: `facts/geolocation` in this branch: https://github.com/PaulRBerg/status-react/tree/feature/geolocation

`facts/geolocation` seems to [use](https://github.com/klutometis/geolocation/blob/master/src/geolocation/api.clj) this proprie

[2018-11-19 18:38] bhauman opened #6786 "Wallet main screen restyle"
Restyle the wallet main screen so resembles the main screen in the new wallet flow.

Figma Wallet Setup
https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/WIP_New-send-transaction?node-id=0%3A1

<blockquote><img src="/file/SIeZPHvrX7KUwEBW8VQct8C5/thumbnail?ver=thumbnails/07cb8fe4-f735-4817-8a2f-c90f8d72fa38" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg"

[2018-11-19 18:50] jeluard commented on #6602
Indeed we are more looking into an implementation that leverages native mobile platform features. In general we try to stay away from dependencies on external services.

Given the privacy concern we probably want to put this issue on hold. Sorry for the hassle! The good news is you are now ready for tackling some of our others bounties! 😅

[2018-11-19 21:54] #6736 closed, assigned to flexsurfer

[2018-11-19 21:55] PaulRBerg commented on #6602
Haha no hassle at all, I really wanted to get my feet wet with Status for a while - happy to wait for the best time for geolocation and explore other items on the todo lists. Could the Gitcoin bounty be paused? Or should it be stopped?

[2018-11-19 22:25] tbenr commented on #6601
@jeluard ok!

[2018-11-20 01:17] millnitzluan commented on #6596
What about to components? One for webcam and other to local photos?

[2018-11-20 03:08] PhilipandWu commented on #6768
was just going to make a GH issue as i'm facing this problem, but i see it's here, awesome!

Just to add more info, the SNT assets sometimes do show up back again in the asset list according to another status user after reloading the app. Hasn't happened to me yet.

[2018-11-20 07:08] jeluard commented on #6596
@millnitzluan I guess it makes sense to have a separate components for local photos. And maybe a button to navigate to it from the camera component? Both are usually combined.

[2018-11-20 07:09] status-open-bounty commented on #6596
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x3423bff426ac53c791327a3470b7d553eb77f03a13aa06d06b717e63bd66314b](https://etherscan.io/tx/0x3423bff426ac53c791327a3470b7d553eb77f03a13aa06d06b717e63bd66314b)

[2018-11-20 07:20] jeluard commented on #6602
@PaulRBerg Not sure. maybe @cryptowanderer can help answer this question?

In the meantime there are a couple others bounties you might be interrested with:

* https://github.com/status-im/status-react/issues/6780
* https://github.com/status-im/status-react/issues/6456
* https://github.com/status-im/status-react/issues/6456

[2018-11-20 07:29] jeluard opened #6788 "Implement ERC20/ERC721 events"
### User Story

As a developer, I want to reuse existing extensions [events](https://status.im/extensions/reference_events.html) for ERC20 / ERC721

### Description

*Type*: Feature

Most common ERC20/ERC721 contracts methods should be exposed are generic and reusable extensions [events](https://status.im/extensions/reference_events.html):

ERC20:
* totalSupply
* balanceOf
* transfer
* transferFro

[2018-11-20 07:31] jeluard opened #6789 "Allow ENS names to be used for ethereum events"
### User Story

As a developer, I want to use ENS name instead of addresses in ethereum events.

### Description

*Type*: Feature

`ethereum/call` and `ethereum/send-transaction` should be able to resolve contracts from ENS name. An extra `ens` argument could be introduced.

[2018-11-20 08:33] mandrigin commented on #6386
@yenda @adambabik is there anything that is blocking us to upgrade to 0.16.7 now? :)

[2018-11-20 08:33] chadyj commented on #6772
@PombeirP Thanks for taking a look. Will you be able to take this?
Looks like there is at least a quick fix here and perhaps a broader PN improvement?

[2018-11-20 08:46] ghost commented on #5317
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 08:46] ghost commented on #5288
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 08:46] ghost commented on #5194
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 08:46] ghost commented on #5186
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 08:47] ghost commented on #5104
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 08:47] #5317 closed, assigned to nobody

[2018-11-20 08:47] #5104 closed, assigned to nobody

[2018-11-20 08:48] dshulyak commented on #6689
I think so. We didn't do anything to address a problem that any given mail server can run out of slots for connections. We need at least to have a feedback for the user that we cannot connect with mail server

[2018-11-20 08:55] annadanchenko commented on #6768
@PhilipandWu thanks for the feedback! To workaround the issue: on the main wallet screen (where SNT or other assets are no longer shown), tap and pull down in wallet

[2018-11-20 09:07] pedropombeiro commented on #6772
I'll take a look and try to make it backward-compatible with older clients.

[2018-11-20 09:15] chadyj commented on #6681
0.9.31 is released.

For 0.9.32 let's aim to have release documentation so it is clear to everyone how to cut a release.

I started a doc here https://notes.status.im/mobile-release-guide

<blockquote><div><strong><a href="https://notes.status.im/mobile-release-guide">Mobile Release Guide - CodiMD</a></strong></div></blockquote>

[2018-11-20 09:15] #6681 closed, assigned to nobody

[2018-11-20 09:16] ghost commented on #5118
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 09:30] lukaszfryc commented on #6681
@chadyj why it was released without https://github.com/status-im/status-react/issues/6768? It had the release label and was mentioned here couple of times.

[2018-11-20 09:36] hetvart commented on #6631
Check autocapitalization is removed from recovery pass phrase field
Status: ready

[2018-11-20 09:50] adambabik commented on #6386
@mandrigin I deployed 0.16.8 on `eth.beta`. Let's also update it in status-react.

[2018-11-20 09:59] chadyj commented on #6314
Any update @tersec?

[2018-11-20 10:00] chadyj commented on #6316
@tersec is this still in progress?

[2018-11-20 10:02] chadyj commented on #6180
Working with device pairing!

[2018-11-20 10:02] #6180 closed, assigned to cammellos

[2018-11-20 10:16] mandrigin commented on #6386
@yenda now the requirements seems to become clear, do you have bandwidth to handle this task?

1) upgrade status-go to 0.16.8
2) handling this new dictionary entry

[2018-11-20 10:23] rachelhamlin commented on #6316
Heard from @tersec about this on the 17th. He said this should be possible. Would love to have ENS stats online.

[2018-11-20 10:43] jeluard opened #6793 "Improve extensions definition semantic"
### User Story

As a user, I want extensions definition semantic to be sound.

### Description

*Type*: Feature

Rename to the following:

[code]

[code]

[2018-11-20 11:14] SlizkovaGanna opened #6795 "Clicking on the deep link when app is closed simply opens the app"
Type: **Bug**

Summary: When app is closed, and user clicks on a deep link, after he logs in the expected profile/chat is not opened.

**Expected behavior**

After user logs in, the expected profile/chat should open

**Actual behavior**

After user logs in, the expected profile/chat is not opened

**Steps to reproduce:**

1. Make sure app is closed
2. Open a deep link, ex.
https://get.status.im/us

[2018-11-20 11:41] SlizkovaGanna opened #6796 "Deep links don't work on Linux and Windows"
Type: **Bug**

Summary:
- On Linux, when application was marked as 'executable', clicking on a deep link does not lead to triggering the app;
- On Windows after installation at attempt to open any valid link (i.e. `https://get.status.im/user/0x0472b0f0f58ef9f3275874bb72ab1db784486ec7bd68cda8f658410fbbf1427a9b384bc921299df1974f1786a83b6d515c2fe413273f593e5ecbd794dabd025292`) in Microsoft Edge I got

[2018-11-20 11:55] SlizkovaGanna commented on #6453
This issue is still very much valid.
For Linux 2.6, when app is opened, clicking on PN maximises the app - but the expected chat is not opened.

[2018-11-20 11:55] churik opened #6798 "[Pairing] User pictures for contacts are not synced across devices"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: as the continuation of #6697. Currently, when you add somebody with custom picture to your contact list on one device, you still will see default picture in another device after sync.

#### Expected behavior
contact A is added with custom picture

#### Actual behavior
contact A is added with default picture

###

[2018-11-20 11:57] #6638 closed, assigned to nobody

[2018-11-20 12:02] chadyj commented on #6798
PR here https://github.com/status-im/status-react/pull/6714

[2018-11-20 12:09] churik opened #6799 "[Pairing] Messages are shown as new on other devices even when they were read on one device"
### Description

*Type*: Feature

### User Story

As a user, I don't want to see unread messages once they were read on another device.

### Description

*Summary*: as the continuation of #6697.
Currently, when you read messages in 1-1, group or public chat on one device, you still will see these messages as new in another device after sync.

#### Expected behavior
messages are read

#### Actual b

[2018-11-20 12:10] churik commented on #6798
@chadyj it is another one. I'm talking about contact list and pictures of other users in contact list.

[2018-11-20 12:18] jeluard opened #6800 "Expose a drop-down component to extensions"
### User Story

As a developer, I want a simple drop down like component to select an item from a list.
The item rendering should allow for complex view.

### Description

*Type*: Feature

[2018-11-20 12:21] churik opened #6801 "[Pairing] Sync public channels across devices"
### Description

*Type*: Feature

### User Story

As a user, I want to see my public channels across devices, so that I don't need to join them several times.

### Description

*Summary*: as the continuation of #6697.
Currently, when you join any public chat on one device, you still will need to join it on another device regardless sync is enabled or not.

#### Expected behavior
can see new public

[2018-11-20 12:23] jeluard opened #6802 "Expose a query allowing to access supported ERC20 tokens"
### User Story

As a developer, I want to have a query giving a list of supported ERC20 tokens. Details about tokens (name, icon, address, ..) should be available.
An argument allows to filter tokens based on a list of token address/names.

### Description

*Type*: Feature

[2018-11-20 12:35] churik opened #6803 "[Pairing] Sync deleting chats \ clearing history across devices"
### Description

*Type*: Feature

### User Story

As a user, I want to delete my chat only once on one device instead of deleting it on several devices.

### Description

*Summary*: as the continuation of #6697.
Currently, when you delete any chat or clearing chat history on one device, you still will need to repeat it on another device regardless sync is enabled or not.

#### Expected behavior
Ch

[2018-11-20 13:30] ghost commented on #5105
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 13:30] ghost commented on #5505
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 13:30] #5505 closed, assigned to nobody

[2018-11-20 13:50] ghost commented on #4987
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 13:50] #4987 closed, assigned to nobody

[2018-11-20 13:51] hetvart commented on #6631
Fiat value is calculated on recipient side
Status: ready

[2018-11-20 14:00] ghost commented on #4875
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 14:00] ghost commented on #4839
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-20 14:00] #4839 closed, assigned to vkjr, EugeOrtiz

[2018-11-20 14:11] #6728 closed, assigned to pedropombeiro

[2018-11-20 14:20] #6353 closed, assigned to nobody

[2018-11-20 14:29] SlizkovaGanna commented on #6166
This issue is still valid for mobile (specifically).
If, after you are returned to login screen, you try to re-login with an invalid password, the app crushes - both on iOS and Android

[2018-11-20 14:41] corpetty opened #6807 "Dependency vulnerability with Requests"
# Problem

Github has found a dependency vulnerability of moderate severity.

The associated CVE can be found [here](https://nvd.nist.gov/vuln/detail/CVE-2018-18074)

<img width="749" alt="screen shot 2018-11-20 at 9 30 49 am" src="https://user-images.githubusercontent.com/2460145/48780216-6865dd80-eca7-11e8-9ff6-d3ba406f72c8.png">

# Mitigation

based on the [changelog](http://docs.python-request

[2018-11-20 14:52] SlizkovaGanna commented on #4944
@cammellos @chadyj
What would you say about more complex/rare scenarios like:
1. User opens a deep link when app is closed
2. When redirected to the app, creates a new account
3. User logs in under this new account
**Expected result:** Should we still redirect the user to the deep link data, or not?
**Current result:** Deep link data is not triggered, user is simply logged in.
Also, for similar sc

[2018-11-20 16:10] ghost commented on #5605
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-20 16:12] churik opened #6812 "Unread badge doesn't show new messages if they are coming for selected chat and app is minimized"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see unread badge is updated when new messages are coming and app window is minimized.

### Description

*Type*: Bug

*Summary*: when some chat is selected and new messages are coming for this chat, unread badge doesn't show new messages when app is minimized.

#### Expected behavior
Unread

[2018-11-20 16:18] #6340 closed, assigned to goranjovic

[2018-11-20 16:18] #6509 closed, assigned to goranjovic

[2018-11-20 16:21] #6718 closed, assigned to bhauman

[2018-11-20 16:22] #6768 closed, assigned to goranjovic

[2018-11-20 16:24] dshulyak opened #6814 "Public chats are missing messages on different devices"
# Problem

Public chats are missing messages, that are not recovered even after multiple history requests.

I suspect that the problem is in the way we query history from mail servers. As I understood from the discussion in Status.im we do it in a following way: If at first I query envelopes from 13:10:11 till 13:15:17 and query was successful, next time i will start my query from 13:15:17 till so

[2018-11-20 16:42] bhauman opened #6815 "Restyle wallet transaction sent screen"
Restyle the final wallet screen so resembles the final transaction sent screen in the new wallet flow.

Figma Wallet Setup
https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/WIP_New-send-transaction?node-id=0%3A1

<blockquote><img src="/file/SIeZPHvrX7KUwEBW8VQct8C5/thumbnail?ver=thumbnails/07cb8fe4-f735-4817-8a2f-c90f8d72fa38" width="48" align="right"><div><img src="https://static.figma.com/app/

[2018-11-20 16:48] mandrigin commented on #6814
That is a great find!

[2018-11-20 17:04] #6739 closed, assigned to jeluard

[2018-11-20 17:20] #6793 closed, assigned to jeluard

[2018-11-20 17:28] SlizkovaGanna opened #6817 "Make username bold on profile screen for desktop"
User story:

As a user, I want usernames on desktop to be highlighted in bold, just like on mobile. For user's profile, have the default name be in grey font like for mobile

Type: **Feature request**

Summary: Currently, on mobile, usernames are displayed in bold on profile screen.
On desktop they are not.

**Expected behaviour**

Usernames to be displayed the same style/font as on mobile. Please

[2018-11-20 17:44] SlizkovaGanna opened #6818 "Username and chat name are not formatted correct for group chat commentary messages"
Type: **Bug**

Summary: It looks like for group chats, username and chat name should be displayed in bold,( * * used), but it's not working.

**Expected behavior:**

Username and chat name are displayed in bold for commentary messages

**Actual behavior:**

Username and chat name are displayed in regular font for commentary messages, but framed with asterisks

<img width="1017" alt="image" src="ht

[2018-11-20 17:50] ghost commented on #4614
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-20 18:07] corpetty commented on #6416
I am currently OoO right now until Thursday.  I will dig into the current post-mortem and try and figure out what happened by going into some more resolution.  Thank you @dmitryn for testing both versions to verify that was the trigger.

We'll learn how this happened one way or another.

[2018-11-20 19:37] ghost commented on #1660
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-20 21:12] DarthJahus commented on #4614
Any word from the devs regarding this feature request?

[2018-11-21 00:25] tbenr commented on #6601
@jeluard I successfully implemented this new event:

[code]

this is a 1-1 param mapping with the underlining `eth_getLogs`.

a usage example:
[code]

what comes to my mind to simplify the interface is:
- an automatic int to hex block number conversion
- a new argument `:topics-helper` defined as:
[code]
which populates `topics` encoding (hashing) `:method` and `:idxparam<n>` accordingly with type

[2018-11-21 05:55] #6631 closed, assigned to hetvart

[2018-11-21 08:50] ghost commented on #5611
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-21 09:00] ghost commented on #5151
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-21 09:31] lukaszfryc opened #6821 "Crash when going offline and logging out"
### Description

*Type*: Bug

*Summary*: Sometimes the app crashes when network connection has changed and user is trying to log out. E.g. the device went online->offline and after that, user is trying to log out. I could reproduce the same for offline->online scenario.

### Reproduction

- Be online
- Create new account
- Log out
- Log in again
- Go offline
- Try to log out

### Additional Inform

[2018-11-21 09:52] andytudhope opened #6822 "Add Alchemy RPC Providers for Ropsten, Rinkeby and Mainnet"
# Problem

Relying only on Infura for RPC connections while we finish off our work on [ULC](https://status.im/research/ulc_in_details.html) is obviously not great. Recently, we implemented alternative RPC endpoints for POA Network sidechains, which was awesome - but they too were going over Infura. @corpetty and myself had a chat with the people from Alchemy, and they're keen to let us plug into t

[2018-11-21 10:02] lukaszfryc opened #6823 ""LES not syncing" debug info visible when list of chats is loaded"
### Description

*Type*: Bug

*Summary*: The issue is on develop branch. But, it can be reproduced more easily on #6722 when there is a lot of chats with messages. Then, the "LES" text appears while the chats are being loaded:

<img src="https://user-images.githubusercontent.com/7532782/48831280-ca414880-ed76-11e8-92c9-68443768c735.png" width="200">

### Reproduction

- Use builds from #6722
- Joi

[2018-11-21 10:02] lukaszfryc commented on #6823
@mandrigin could you assign it to yourself?

[2018-11-21 10:12] #6784 closed, assigned to jeluard

[2018-11-21 10:20] ghost commented on #5525
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-21 10:20] #5525 closed, assigned to nobody

[2018-11-21 10:32] ghost commented on #1442
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-21 10:32] ghost commented on #1477
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-21 10:55] jeluard commented on #6601
@tbenr Awesome job!

Your suggestions make a lot of sense.

I would expect to use `topics` this way (on top of the current way):

[code]

[2018-11-21 11:33] yevh-berdnyk opened #6825 "Unable to manage assets in wallet"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Unable to enable/disable assets lists in wallet, nothing happens when trying to open manage assets list

#### Expected behavior
Assets list with

[2018-11-21 11:37] asemiankevich commented on #6825
@flexsurfer could it be broken by this extension hook for wallet?

[2018-11-21 11:38] antdanchenko commented on #6825
@jeluard, @asemiankevich the issue has been introduced in #6783 please do not merge the PR before getting 100% (except of known issues from develop) e2e tests passed

[2018-11-21 11:41] asemiankevich commented on #6825
@antdanchenko it was marked `skip-manual-qa` which i was trying to avoid. My bad i did check extension but not the app.

[2018-11-21 11:44] jeluard commented on #6825
@antdanchenko How about having PRs blocked while e2e tests do not pass?

[2018-11-21 11:47] antdanchenko commented on #6825
@jeluard here is a topic  https://discuss.status.im/t/block-a-pr-from-merge-if-e2e-tests-fail/786 for tracking the progress upon the feature implementation
Would be great if you can help us in getting this done asap :)

<blockquote><img src="https://discuss.status.im/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" width="48" align="right"><div><img src="/uploads/default/o

[2018-11-21 12:07] cr2fx commented on #6594
@gitcoinbot - Working on it, will make the PR soon

[2018-11-21 12:29] millnitzluan commented on #6596
@jeluard I've never worked with clojure, I'll look into that and maybe I'll apply to work on that.

[2018-11-21 12:50] churik opened #6827 "If you tap on "Send message" from user profile, which is opened from public chat, icon with first letter of username is shown instead of user icon"
### User Story

As a user, I want to see user picture when I started the chat.
### Description
*Type*: Bug
*Summary*: if you are navigating to user profile from public chat and then tap on "Send message" you will see an icon with first letter of username instead of user icon.

#### Expected behavior
User icon is shown in chat header

#### Actual behavior
![wr_icon](https://user-images.githubuserco

[2018-11-21 13:21] churik opened #6828 "Status app can't be started in full screen mode and is not available in split mode"
### User Story

As a user, I want to see have a full-screen mode and use status in Split View as all others app on my laptop.

### Description
*Type*: Feature

*Summary*: in Status instead of full-screen mode  icon  like
![full_scr](https://user-images.githubusercontent.com/4557972/48843674-fd480400-ed97-11e8-86e4-b21d9959f7d7.png))
you have + icon, and if you are trying to use it in split mode yo

[2018-11-21 13:31] Serhy opened #6829 "Can't login to account with 'eth.test' / 'les.dev.ropsten' fleets"
***Type***: Bug

***Summary***: I can not log in to account after changing fleet settings to `eth.test` OR `les.dev.ropsten`: staying on login page with infinite 'Signing you in...' on such account.
It's worth to note that it's all fine with nightly 20th of November.
It's also all OK when login in to account with `eth.beta` or `eth.stage` fleets settings

Issue appeared in nightly develop build 21

[2018-11-21 13:43] jakubgs commented on #6522
Okay, I've merged https://github.com/status-im/status-react/pull/6578. Lets give it some time to see if it works fine, once I'm sure it does I'll remove all the `build-*` tags and that should clean up the release page on GitHub.

[2018-11-21 13:46] jeluard commented on #6788
@samgos Sorry about the lack of clarity! This is about status extensions [events](https://status.im/extensions/reference_events.html).

[2018-11-21 13:53] deoidh commented on #6788
That's fine, i'll have to step down as i'm not acknowledged on the SNT libraries. Hope you find a sufficient bounty applicant.

[2018-11-21 14:33] chadyj commented on #6828
@gnl Any quick fixes here?

[2018-11-21 15:36] #6825 closed, assigned to nobody

[2018-11-21 16:05] gnl commented on #6828
This could theoretically be a quick fix in the Info.plist metadata of the package, will look into it today.

[2018-11-21 16:12] ghost commented on #4087
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-21 17:00] Neurone commented on #6601
There are two different bounties linked to this issue:

https://gitcoin.co/issue/status-im/status-react/6601/1784 (320 DAI, work started)
https://gitcoin.co/issue/status-im/status-react/6601/1807 (300 DAI, not started yet)

Is it correct?

<blockquote><img src="https://gitcoin.co/dynamic/avatar/status-im/1" width="48" align="right"><div><img src="https://s.gitcoin.co/static/v2/images/favicon.ico/f

[2018-11-21 17:12] hetvart opened #6831 "Can join Status public chat, send/read messages"
Steps to test:

1. Join public chat #status
2. Send message and check it appears in chat
3. Scroll the chat history up till 'Yesterday' placeholder and ensure you see message items in chat

https://ethstatus.testrail.net/index.php?/cases/view/5336

[2018-11-21 17:13] hetvart commented on #6831
Status: ready
https://github.com/status-im/status-react/pull/6824

[2018-11-21 17:13] #6831 closed, assigned to hetvart

[2018-11-21 17:17] jeluard commented on #6601
@Neurone Looks like a mistake. @andytudhope  can you take a look at it?

[2018-11-21 17:19] hetvart opened #6834 "Redirect to public chat upon tap on the #tag in message"
Steps to test:

1. Open any public chat
2. Send a tag message with another chat name #another-chat-name
3. Follow the tag. Expected outcome: system redirects you to #another-chat-name

https://ethstatus.testrail.net/index.php?/cases/view/5675

[2018-11-21 17:45] yevh-berdnyk opened #6835 "Incoming token transactions are shown as outgoing ETH transactions in wallet -> transactions history"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For token transactions data of normal transactions is shown and expected data is not.
For example:
Here is incoming STT transaction:
https://rop

[2018-11-21 17:46] yevh-berdnyk commented on #6835
@goranjovic please confirm that this was not intentionally changed

[2018-11-21 18:17] jakubgs commented on #6682
Question: Do we need speicfically an `*.app` file inside of a zip, or would an `*.app.dSYM` file in a zip archive also work?

[2018-11-21 18:19] jakubgs commented on #6682
Also not sure what's the difference between an `*.app` and an `*.app *.xcarchive`, example:
[code]

[2018-11-21 18:21] jakubgs commented on #6682
Oh I see, the `xarchive` contains the `app` under `Products/Applications`:
[code]

[2018-11-21 18:25] jakubgs commented on #6682
Another thing I'm not sure of this should be build with `export_method` set to `ad-hoc` as we do for all our dev builds, or `development`

[2018-11-21 18:35] jakubgs commented on #6682
I did find this:
https://github.com/saucelabs/ios-rdc-quickstart
And it states:

Not sure how correct that is - it is 3 years old - but if that's the case then we don't actually need any special build, just our regular `*.ipa` files produced by current builds would work.

So now I'm confused, do we even need a separate build to make a zip of `*.app` or not?

[2018-11-21 18:52] ghost commented on #1691
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-21 19:42] ghost commented on #3193
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-21 20:21] kuhnchris commented on #6597
Any reason for not using some standard react (I assume) component?
Example: https://blog.webkid.io/making-maps-with-react/

<blockquote><img src="http://blog.webkid.io/content/images/old/making-maps-with-react/header.png" width="48" align="right"><div><img src="https://webkid.io/static/favicon/favicon-16x16.png" height="14"> webkid blog</div><div><strong><a href="http://blog.webkid.io/making-maps-

[2018-11-21 22:02] ghost commented on #5612
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 00:23] andytudhope commented on #6822
Some notes from responses:

1. Alchemy is working with a lot of other projects already and people are switching over because they're faster and more reliable. Other projects report they've benchmarked Alchemy as 10-20x faster.
2. The profiling is only for a couple hours, and only looks at stuff like CPU and performance (not queries or data).

Would really love some input @jakubgs @goranjovic @chad

[2018-11-22 06:54] hetvart commented on #6682
Definitely, we do need it. The main difference between `*.ipa` and `*.app` is that you cannot install `*.ipa` on iOS emulator. We run e2e tests on cloud emulators via Appium server. The iOS simulator app is a different compiled binary than the app that gets published on the app store (which requires personal apple developer id to sign/certify it etc.).

Here is official Appium info on that:
http:/

[2018-11-22 07:20] jeluard commented on #6597
@kuhnchris If a generic webview component is created for status extensions then it could very well be

[2018-11-22 08:01] asemiankevich opened #6836 "Faucet request error"
### Description

*Type*: Bug

*Summary*:

[code]

#### Expected behavior
able to faucet some funds from simpledapp.eth on ropsten

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/48889127-d8aa6580-ee45-11e8-98a3-51a3c840710a.png)

### Reproduction

- Open Status
- Go to ropsten
- Open simpledapp.eth and faucet funds

[2018-11-22 08:03] asemiankevich commented on #6835
@bhauman i believe that could be caused by the token history fix, could you please double check?

[2018-11-22 08:30] goranjovic commented on #6835
This is a token minting transaction (e.g. from Status Test Dapp or by directly sending 0 ETH to contract).
So, the bug here is a missing token transfer event (or not merged with the tx).

Worth checking if token transfers show up for incoming tokens which are sent by another user.
Also worth checking if mainnet works ok, i.e. maybe the bug affects only ropsten

[2018-11-22 09:12] ghost commented on #5629
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 09:22] ghost commented on #4797
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 09:22] ghost commented on #5630
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 09:34] andytudhope commented on #4843
I can't reproduce this, is it still relevant @lukaszfryc?

[2018-11-22 09:49] asemiankevich commented on #4868
I saw this issue when sending the very first message to a contact i just added via scan qr code functionality

![image](https://user-images.githubusercontent.com/28752642/48894974-0ba82580-ee55-11e8-9e92-3324b3ea3c87.png)

[2018-11-22 10:32] ghost commented on #4432
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-22 10:32] #4432 closed, assigned to vitvly

[2018-11-22 10:51] #6829 closed, assigned to nobody

[2018-11-22 10:52] ghost commented on #5543
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-22 10:52] #5543 closed, assigned to nobody

[2018-11-22 12:08] SlizkovaGanna opened #6837 "Impossible to remove the asset I have values for from the wallet"
Type: **Bug**

Summary: When the user has the actual amount of any asset, it's impossible to remove it from the Wallet list

**Expected behavior**

The asset that was un-checked should not be displayed in the Wallet, no matter if there is actually any amount of it

**Actual behavior**

When there is any amount of the asset, when it's un-checked, it will re-appear in Wallet.

**Reproduction**

1. R

[2018-11-22 12:12] rachelhamlin commented on #6738
Another instance of this: Just now I typed in `andrey` but was redirected to `andrei` (Runny Hot Monkey).

I tried a few more times and was directed to actual Andrey half of the time, and Andrei the other half. Could you take a look @yenda?

[2018-11-22 12:51] SlizkovaGanna opened #6839 "A limit of 20 CryptoKitties is displayed in the collectibles list in the wallet with incorrect order"
Type: **Bug**

Summary: As a user, I would like to see the correct number of my collectibles in the wallet, in the right order.
Currently, only 20 CK are shown, without any option to show more of them.
As a user, I would be very confused

**Expected behavior**

The exact number of collectibles should be displayed in the correct order

**Actual behavior**

Only 20 CK are displayed in a different or

[2018-11-22 12:53] SlizkovaGanna commented on #6839
Was not sure if this is a bug or a feature request, but according to the description in https://github.com/status-im/status-react/pull/5017 - it's a bug.
@flexsurfer your feedback is appreciated

[2018-11-22 12:58] flexsurfer commented on #6839
it's a bug for sure, thank you

[2018-11-22 12:59] ghost commented on #5576
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 13:01] Serhy opened #6840 ""Wrong decimals for token..." warning pop-up after account login connected to Ropsten (LES) network"
***Type***: Bug

***Summary***: Each time user logs in to account with Ropsten (LES) network set, there are warning pop-ups appear per token enabled in wallet: `Wrong decimals for token STT at address ... - set to 18 but detected as 0`

#### Expected behavior
No warning pop-us about token decimals when user logs in to account with Ropsten (LES) network set. We can keep it in logs though.

#### Act

[2018-11-22 13:05] ghost commented on #5634
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 13:05] ghost commented on #5517
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-22 13:05] #5517 closed, assigned to nobody

[2018-11-22 13:15] ghost commented on #4605
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 13:19] chadyj commented on #6681
cc @Blockchain-Islander

[2018-11-22 13:59] SlizkovaGanna opened #6841 "Error:No protocol method IDeref.-deref defined for type undefined when creating a group chat"
Type: **Bug**

Summary: Creating a group chat on iOS hangs the app

**Expected behavior**

Group chat should be created with no errors

**Actual behavior**

Group chat creation gives out `Error:No protocol method IDeref.-deref defined for type undefined` error and hangs the app. A white screen is shown after clicking 'OK' on the error pop-up

<img width="418" alt="image" src="https://user-images.g

[2018-11-22 14:16] asemiankevich commented on #6840
@goranjovic this validation message is shown i believe because sync is not done under this network right? So no data about the contract is retrieved to compare with

cc @mandrigin

[2018-11-22 14:25] asemiankevich commented on #6837
I can reproduce this on Android 8

[2018-11-22 14:31] dshulyak commented on #6080
The root cause is probably the same as in https://github.com/status-im/status-go/issues/1276

[2018-11-22 14:38] asemiankevich opened #6842 "Wallet onboarding screen and [Can't pop empty list] error are shown when multitapping `Done` button (android)"
### Description

*Type*: Bug

*Summary*: New onboarding screen is shown for several seconds when multitapping `Done` button on Manage assets screen. Also there is an error `Can't pop empty list`

#### Expected behavior
Onboarding screen should not be shown once completed

#### Actual behavior

Wallet onboarding screen is shown

![image](https://user-images.githubusercontent.com/28752642/48909159-9

[2018-11-22 14:45] ghost commented on #5635
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-22 14:50] asemiankevich commented on #6839
@hetvart please add a test for this when you have time. This is definitely a regression

[2018-11-22 14:58] #6643 closed, assigned to flexsurfer

[2018-11-22 15:16] hetvart commented on #6839
I set it as the top priority task!

[2018-11-22 15:44] bhauman opened #6843 "New choose address/contact in wallet send transaction"
Update the choose address or contact flow in the wallet according to the flow described in

https://www.figma.com/file/SIeZPHvrX7KUwEBW8VQct8C5/WIP_New-send-transaction?node-id=0%3A1

<blockquote><img src="/file/SIeZPHvrX7KUwEBW8VQct8C5/thumbnail?ver=thumbnails/07cb8fe4-f735-4817-8a2f-c90f8d72fa38" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"

[2018-11-22 15:45] Serhy opened #6844 "LES not syncing for Ropsten (LES) network"
***Type***: Bug

***Summary***: There is no syncing starts for contact loged in under Ropsten (LES) network.
In geth.log it is reflected as `lvl=info msg="LES protocol is disabled" package=status-go/node`

#### Expected behavior
Syncing happens for contact logged in to Ropsten (LES) network
#### Actual behavior
No syncing in Ropsten (LES) network. In geth.log: "LES protocol is disabled" package=st

[2018-11-22 15:53] mandrigin commented on #6844
@Serhy thanks! It used to sync, so it looks like a regression...
Can you check either a binary from this PR or a nightly that happened the next day after it was merged?

[2018-11-22 16:01] asemiankevich opened #6846 "[Next] button is hidden under keyboard when creating account"
### Description

*Type*: Bug

*Summary*: This issue contains several cosmetic improvements:
- `next` button is overlapped on Android when suggestions are enabled for keyboards. Also, it depends on keyboard size, for ex SWIFT keyboard is bigger than default one and it hides the Next button almost completely
- missing `Done` button on android keyboard
- missing `Done` button on iOS keyboard

#### Ex

[2018-11-22 16:01] Serhy opened #6847 "[Auto test] Cover 'Not enough ETH for gas' tooltip triggering by autoetest"
**User Story**
As a test engineer I want

- [x] [Error "Not enough ETH for gas" trying to send amount > all ETH funds + total fee in Dapp](https://ethstatus.testrail.net/index.php?/cases/view/5685)
- [x] [Error "Not enough ETH for gas" trying to send amount > all ETH funds + total fee from Wallet](https://ethstatus.testrail.net/index.php?/cases/view/5686)
- [x] [Error "Not enough ETH for gas" tryi

[2018-11-22 16:06] Serhy opened #6848 "[Auto test] Cover verification of fleet setting in geth log by autotest"
**User Story**
As a test engineer I want

https://ethstatus.testrail.net/index.php?/cases/view/5370

to be covered by automated tests

<blockquote><img src="https://static.testrail.io/5.6.0.3841/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/5370">Login - TestRail</a></strong></div></blockquote>

[2018-11-22 16:08] hetvart commented on #6834
https://github.com/status-im/status-react/pull/6845
status: ready

[2018-11-22 16:15] dshulyak commented on #6844
these lines are simply not accurate, we have some issue in status-go or geth. both ssh and les are definitely enabled.

[code]

for instance, next line won't be in the log if les is disabled

[code]

[2018-11-22 16:17] mandrigin commented on #6844
How come they are there? о__О

[2018-11-22 16:34] asemiankevich opened #6849 "Unread message counter re-appears when user re-logins"
### Description

*Type*: Bug

*Summary*: Introduced in https://github.com/status-im/status-react/pull/6722. Messages are shown unread after re-login if i upgrade from release version to nightly.

#### Expected behavior
read messages remain read after relogin

#### Actual behavior
all messages that were read - are marked unread again

### Reproduction

- install Status release 0.9.31 from playstore

[2018-11-22 16:40] asemiankevich opened #6850 "Add to contacts appears for a while when joining to public chat"
### Description

*Type*: Bug

*Summary*: `Add to contacts` screen appears for less than a second when user joins public chat

#### Expected behavior
I do want clear screen transitions. When i join public chat there is nothing i want to add to contacts. This screen should not flash even for a milisecond.

#### Actual behavior
Add to contacts appears for a while when joining to public chat

### Repr

[2018-11-22 17:13] rachelhamlin opened #6851 "Fix loading indicator in browser"
### User Story

As a user, I want visual feedback that a page is loading in the browser so I know to wait for it.

### Description

*Type*: Feature

*Summary*: DApps especially can be slow to load. When doing so in the Status browser, the user is faced with a static-looking, blank screen. There's no indicator that the page is still loading.

#### Expected behavior
Display a loading indicator in th

[2018-11-22 17:21] Serhy commented on #6844
Ok so it's all fine in Develop nightly 20th of https://ci.status.im/job/status-react/job/nightly/812/ - it is possible to login and sync progress is visible.

Develop nightly 21th Nov had https://github.com/status-im/status-react/issues/6829 issue so it's not clear whether syncing stopped working next day because of another commit, however, with the builds https://github.com/status-im/status-react

[2018-11-22 17:27] #6786 closed, assigned to bhauman

[2018-11-22 18:50] dshulyak commented on #6844
That's would be really strange. With 6830 exactly the same config file is passed if les.dev.ropsten fleet is selected as before 6829

[2018-11-22 19:03] dshulyak commented on #6844
oh hell, i messed up one line in config during rebase in github

[2018-11-23 07:16] jeluard opened #6855 "Add ethereum/poll-logs events"
### User Story

As a developer, I want an event to poll ethereum logs.
Events for logs, blocks and pending transactions should be provided.
`poll-logs` should follow the syntax used by  [logs](https://github.com/status-im/status-react/pull/6852#issuecomment-441099743)

Internally those events will periodically call `eth_getFilterChanges` to get latest changes.
Periodicity can be configured by user

[2018-11-23 07:17] jeluard opened #6856 "Add ethereum/sign event"
### User Story

As a developer, I want an event to sign data. See https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sign

[code]

### Description

*Type*: Feature

[2018-11-23 07:19] dshulyak commented on #6844
i am missing this option. I have only Ropsten/Rinkeby/Mainnet with upstream RPC and POA chains

[2018-11-23 07:31] goranjovic commented on #6840
@asemiankevich Sounds like that

[2018-11-23 07:34] #6815 closed, assigned to bhauman

[2018-11-23 07:53] hetvart commented on #6839
Postponed it. Probably till I get an account with the needed amount of test collectibles.

[2018-11-23 07:58] flexsurfer commented on #6839
@asemiankevich did you test more than 20 CKs ? and it worked?

[2018-11-23 08:05] asemiankevich commented on #6839
i dont remember exactly how many kitties i did have once testing https://github.com/status-im/status-react/pull/5017. However now i have 23 kitties and only 20 is shown.

[2018-11-23 08:12] #6844 closed, assigned to nobody

[2018-11-23 08:13] mandrigin commented on #6844
@dshulyak that is only available with a les-enabled fleet.

[2018-11-23 08:15] flexsurfer commented on #6839
i mean i'm not sure it's regression, i remember i didn't have more than 20 CKs, so i couldn't test properly

[2018-11-23 08:15] asemiankevich commented on #6839
wrong order is a regression anyway

[2018-11-23 08:28] dshulyak commented on #6844
@mandrigin but i selected les.dev.ropsten

[2018-11-23 08:34] #6642 closed, assigned to flexsurfer

[2018-11-23 09:20] #6278 closed, assigned to cammellos

[2018-11-23 09:27] chadyj commented on #6757
Another one to consider: Messaging fails on public wifi
https://github.com/status-im/status-react/issues/6351

[2018-11-23 09:30] chadyj commented on #5744
Private group chats are in nightlies and are undergoing testing. Closing this issue and we can create specific new issues to release.

[2018-11-23 09:30] #5744 closed, assigned to cammellos

[2018-11-23 09:31] chadyj commented on #5019
@PombeirP @yenda We can close this right?

[2018-11-23 09:33] rachelhamlin commented on #6694
Closing. Will handle with [#78](https://github.com/status-im/ens-usernames/issues/78) in the ens-usernames repo.

[2018-11-23 09:33] #6694 closed, assigned to nobody

[2018-11-23 09:37] mandrigin commented on #6757
@chadyj yeah, good point, forgot about it

[2018-11-23 09:38] pedropombeiro commented on #5019
I believe so. By the way, I think the OP is actually incorrectly formulated because it assumes we can ask for last X messages, which is wrong, we can only deal with time windows.

[2018-11-23 09:44] mandrigin commented on #6844
that is weird. android?

[2018-11-23 09:44] chadyj commented on #6735
@yenda what did you have in mind for the UI?

@errorists has already done some work in WP1 that might be helpful. Maciej can you post it here? Either way you guys should sync :)

[2018-11-23 09:52] yenda commented on #5019
We don't support the pagination at the moment as it was not a problem as much as the slowness of fetching messages one by one, topic by topic

[2018-11-23 09:54] chadyj commented on #5019
Ah I thought it was supported, but only set to 1 day?

[2018-11-23 09:58] yenda commented on #6200
Can we prioritize this. Privacy is one of the major concerns of our initial user base and this is a serious problem

[2018-11-23 09:59] flexsurfer commented on #6836
@asemiankevich  fixed

[2018-11-23 10:08] chadyj commented on #6200
cc @jakubgs

[2018-11-23 10:08] dshulyak commented on #6844
@mandrigin yes. @Serhy suggests that perhaps it is not enabled in .env file for PR builds

[2018-11-23 10:10] Serhy commented on #6844
Correct. It is enabled in nightly builds, however in PR builds it should be available as well (when https://github.com/status-im/status-react/pull/6830 was tested - Ropsten (LES) as network option was there). Both Andriod and iOS.

[2018-11-23 10:37] pedropombeiro commented on #5019
Yeah, that's my current understanding as well. It's supported in the mailserver API, but we're only making use of it to get the first page of 24h

[2018-11-23 10:49] errorists commented on #6846
I believe the keyboard should have the blue 'go' button since it's the one indicating forward progress, whereas done is more like 'I'm finished, peace out' ;) Now, if the keyboard overlaps the toolbar then we have a rather serious issue on hand since we rely on this pattern quite a lot in the app, can we confirm this can't be fixed? Maybe we hardcode the value or something else that's stopping the

[2018-11-23 10:58] goranjovic commented on #6646
Done in #6832

[2018-11-23 10:58] #6646 closed, assigned to goranjovic

[2018-11-23 11:07] dshulyak commented on #6844
so this option became available only when i created a new account. this is probably a bug. LES option won't be available to users with already created accounts.

[2018-11-23 11:10] chadyj commented on #4944
@jakubgs Was able to find the old wiki content!  @rachelhamlin was planning to add it to the new docs site.  For now here it is:

## Universal Links (iOS) & Deep Links (Android)

#### What are Universal & Deep Links

With universal links (iOS) and deep links (android) mobile users can tap a link to Status and get seamlessly redirected to the Status app and linked to specified screens without going

[2018-11-23 11:19] asemiankevich commented on #6836
@flexsurfer thanks

[2018-11-23 11:19] #6836 closed, assigned to flexsurfer

[2018-11-23 11:52] #6849 closed, assigned to nobody

[2018-11-23 11:54] Serhy opened #6859 "No Ropsten (LES) network option on accounts who upgraded from release builds"
***Type***: Bug

***Summary***: There is no Ropsten (LES) network option available for users who upgraded release builds (which doesn't have Ropsten (LES) network) on to builds where Ropsten (LES) should be offered as network setting option.
**Note**: For new accounts created after upgrade option is present

We had similar issue for when integrated POA and xDAI networks in https://github.com/statu

[2018-11-23 11:58] Serhy commented on #6844
@dshulyak @mandrigin, indeed it's an issue for accounts after upgrade. Described behavior in separate GHI :  https://github.com/status-im/status-react/issues/6859

[2018-11-23 12:00] adambabik commented on #6757
A tool to verify mail servers: https://github.com/status-im/statusd-bots/pull/7

[2018-11-23 12:55] yenda commented on #5019
No pagination is something different, it is related to cursors. If you provide a limit to your messageRequest, you will receive only this number of messages from the mailserver at most and a cursor to pass in your next request to get the next x messages. But it doesn't mean anything from the app perspective because that could be 500 messages that you can't decrypt.

I didn't implement the use of c

[2018-11-23 13:21] 3esmit opened #6860 "Group admin does not effectively leaves group chat"
# Problem

If I created a group chat, the only way of effectively leaving it is by first removing all members, otherwise I would still keep receiving new messages from this group.

# Implementation

I suggest that two options should be available:
1. Option to
   - pass admin to other user;
   - have multiple admins.
2. When (the last) group admin leaves, the oldest member of group chat should beco

[2018-11-23 14:05] antdanchenko commented on #5975
@goranjovic please take a look at this issue, this one is the last issue in develop branch which should be fixed in order to get 100% passed tests for any PR

[2018-11-23 14:09] goranjovic commented on #5975
@antdanchenko on it :+1:

[2018-11-23 14:29] rachelhamlin opened #6861 "[draft] react-native-webview-bridge component for navigation changes"
### User Story

As a user, I want to have browser history in the Status browser so that I can navigate back and forward.

### Description

*Type*: Feature

*Summary*: Sometimes `onNavigationStateChange` fires on Android and not iOS. `canGoBack` will return false, when it is actually true.

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior
[comment]:

[2018-11-23 14:37] jeluard opened #6862 "Impossible to download backup from registrar.ens.domains"
`registrar.ens.domains` is unusable in status browser

## Steps to reproduce

1. Go to ropsten (to dont waste money), (assert to have funds on ropsten)
2. open dapp registrar.ens.domains
3. make a bid to any name
4. try to backup your bids (button does nothing)
5. close status and open again
6. open dapp registrar.ens.domains (your bids are erased)

[2018-11-23 14:52] asemiankevich commented on #6862
thanks @jeluard i will look into it

[2018-11-23 15:50] yenda commented on #6386
@mandrigin on it. could you specify what kind of error could occur?

[2018-11-23 18:42] SlizkovaGanna commented on #4868
I've faced the same issue with group chats, it's reproduced every time.
Will re-check it after https://github.com/status-im/status-react/pull/6857 is merged.

**Steps to reproduce:**
1. Create a group chat on 1 device and send a message
2. On the 2nd device, as a user added to the same group chat, reply to that message
3. On both devices, check how your sent messages are displayed
**Current result

[2018-11-23 20:12] #6841 closed, assigned to yenda

[2018-11-24 09:50] jeluard opened #6866 "Add a ipfs/add extension event"
Add a `ipfs/add` extension event allowing to upload a data structure to IPFS. It must also support adding blobs (like images).
Rely on Infura [API](https://infura.io/docs/ipfs/post/add)  for its implementation.

An example can be found [here](https://github.com/status-im/pluto/blob/master/website/pages/try.html#L37)

[code]

[2018-11-24 09:57] jeluard opened #6867 "Add on-send-sync to chat.command extension"
As a developer I want to be able to decide if a chat.command results in a message being send or not. `on-send-sync` will provide this feature (by leveraging Command/yield-control).
A new event `chat.command/send` provides control on when the command message will be sent. A map of extra parameters can also be provided.

[code]

_Note_ This deprecates `chat.command/set-custom-parameter`

[2018-11-24 10:40] FrederikBolding commented on #6780
I'm looking at it now, can't seem to find any example extensions that are currently working, can someone point me in the direction of one?

[2018-11-24 12:56] jeluard commented on #6780
@FrederikBolding You can try this one: https://status-im.github.io/pluto/try.html?hash=QmV8JsEA2fBnjstH3MJzK5SgF9F7qNSyKLo2LapYia5pX4

Then just update some of the metadata string and publish to get a new one.

<blockquote><img src="/pluto/img/favicon.png" width="48" align="right"><div><strong><a href="https://status-im.github.io/pluto/index.html">Pluto · A grammar for data manipulation</a></stron

[2018-11-24 13:03] FrederikBolding commented on #6780
Sorry for not updating the comment, I figured it out by removing most of the actual logic for the extension :laughing:

[2018-11-24 21:34] FrederikBolding commented on #6780
@StatusSceptre @jeluard If you hadn't seen I've created a PR for this issue at #6868

Let me know if there is any issues! 😄

[2018-11-25 08:46] jeluard commented on #6780
@FrederikBolding Thanks I will take a look!

[2018-11-25 08:58] 3esmit commented on #5169
Reopening as api.mixpanel.com still being queried, although it only handshakes and apparently does nothing, but I'm skeptical.

[2018-11-25 09:04] ghost commented on #5556
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-25 09:04] ghost commented on #5559
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-25 09:04] #5559 closed, assigned to nobody

[2018-11-25 12:20] jeluard opened #6871 "Add gif support on Android"
### User Story

As a developer, I want gif support on all platform

### Description

*Type*: Feature

Follow [those instructions](https://facebook.github.io/react-native/docs/image#gif-and-webp-support-on-android) to add gif support to the `image` element on Android.

[2018-11-25 12:47] ghost commented on #5653
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-25 14:37] ghost commented on #3614
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-25 14:37] #3614 closed, assigned to nobody

[2018-11-25 14:42] chadyj commented on #5169
Closing https://github.com/status-im/status-react/issues/6200

[2018-11-25 14:42] #5169 closed, assigned to rasom

[2018-11-25 20:03] #6601 closed, assigned to nobody

[2018-11-26 01:11] emizzle commented on #6378
I believe this is working in the latest release.

[2018-11-26 01:11] #6378 closed, assigned to nobody

[2018-11-26 01:18] emizzle opened #6872 "`POST` to `/dapp/open` crashes Status app"
### User Story
As a developer, I want to interact with the Status app via HTTP commands so that I can issue commands from a JS library to open a dapp inside of the Status app.

### Description
*Type*: Bug

*Summary*:
Running `POST` command from Postman application to `/dapp/open` causes the app to crash.

#### Expected behavior
1. `POST` to `/dapp/open` (passing in `url` with any value) > Status a

[2018-11-26 06:37] ghost commented on #5661
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-26 07:27] ghost commented on #3918
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-26 07:57] ghost commented on #4020
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-26 08:19] jeluard opened #6874 "Add a ethereum/transaction-receipt extension event"
Add a `ethereum/transaction-receipt` extension event allowing to access a transaction receipt. Consider if some returned data should be made extensions friendly (like logs).

[code]

See https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-cd

[2018-11-26 08:37] lukaszfryc commented on #4843
I can't reproduce it either.

[2018-11-26 08:37] #4843 closed, assigned to nobody

[2018-11-26 09:23] jeluard opened #6875 "Add a ethereum/create-address extension event"
Add a `ethereum/create-address` extension event allowing to create an ethereum address. The address, public-key and private-key should be made available.
This only generates the returned data and does not interfere with the local accounts.

Note: this might require integration/changes with `status-go`

[code]

[2018-11-26 09:47] lukaszfryc commented on #3918
@obi2020 @errorists any update on it?

[2018-11-26 09:51] #6780 closed, assigned to jeluard

[2018-11-26 10:00] lukaszfryc commented on #3918
@errorists I see we already implemented following design for the group chat empty state. I think we can have the same for 1-1 chats. Do you agree?

<img src="https://user-images.githubusercontent.com/7532782/49006813-369ebc00-f16a-11e8-9d67-be9fefd7bcb4.png" width="200">

I see we also have it in [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=39%3A0).

[2018-11-26 10:16] errorists commented on #3918
@lukaszfryc Totally, it would be cool if we simply had a global contact list view defined that showed this empty state.

[2018-11-26 10:24] StatusSceptre commented on #6601
Hey @tbenr - sorry, the process of paying out this bounty was a nightmare, due to several user and platform errors crashing into each other 😅 Here is your bounty though: https://etherscan.io/tx/0x0df587d43f3107589f039ad47020e606545ff35d8eda917cda1b3a0d7fa90a2b

<blockquote><img src="/images/favicon2.ico" width="48" align="right"><div><strong><a href="https://etherscan.io/tx/0x0df587d43f3107589f039

[2018-11-26 10:30] SlizkovaGanna opened #6876 "Allow fleet selection on desktop"
**User Story**

To allow to select different fleets for use with the app, as it is on mobile:

As a sysadmin I want the app to be able to switch between different eth fleets without having to re-build the whole application. This is necessary to test infrastructure changes and statusd version changes on a staging fleet before it's deployed to the fleet used in the public release.

Check https://git

[2018-11-26 10:33] jakubgs commented on #6876
I think this is sensible. We run different versions of `status-go` on different fleets to the ability to select fleets would make testing the interaction between the desktop app and the fleet easier.

[2018-11-26 10:41] lukaszfryc commented on #3918
Ok. Then, this issue is ready to be implemented.

[2018-11-26 10:47] tbenr commented on #6601
Doh!
I lost my first gitcoin submission record!
Btw thanks for paying out 👍

[2018-11-26 11:01] mandrigin commented on #6386
@yenda it is usually some error on the mailserver side (maybe the DB is corrupted, maybe there is not enough memory, etc), so I'm not sure what exact error messages will be there.

[2018-11-26 11:07] andytudhope commented on #6601
Yeah, I'm really sorry about that 😞 We'll make sure to make it up to you on the next one - plenty more extension bounty issues now available!

[2018-11-26 11:26] exiledsurfer commented on #5960
this is new behaviour for me since 181126-025916-2d5c4e-nightly

 screen recording: https://d.pr/free/v/j839To

<blockquote><img src="https://cdn-std.dprcdn.net/previews/j839To.preview_medium.jpg" width="48" align="right"><div><strong><a href="https://d.pr/free/v/j839To">Screen Recording 2018-11-26 at 12.17.49.mov</a></strong></div><div>Shared with Droplr</div></blockquote>

[2018-11-26 11:43] #6802 closed, assigned to flexsurfer

[2018-11-26 14:04] #6800 closed, assigned to jeluard

[2018-11-26 14:30] jakubgs commented on #6522
Aaaand we are down to 21 releases:
https://github.com/status-im/status-react/releases

There is still one `build-12853` tag I kept to not break any old PRs that might not have rebased from `develop` in a while, so we still might see a few of those tags here and there, but I'll clean them up as they come, eventually there should be none.

I consider this done.

<blockquote><img src="https://avatars

[2018-11-26 14:30] #6522 closed, assigned to jakubgs

[2018-11-26 14:37] lukaszfryc commented on #6201
It's done already.

[2018-11-26 14:37] #6201 closed, assigned to cammellos

[2018-11-26 14:39] Serhy opened #6881 "App version between iOS and Android is not aligned for the same nightly build"
***Type***: Bug

***Summary***: There are a different app version in iOS and Android app from the same nightly. E.g. for the nightly build updated 2018/11/26 11:52:00 UTC:
iOS: Version `0.9.31 (1811231740); node 27700aa2`
Android: Version `0.9.31 (9999); node 27700aa2`

[Recently](https://github.com/status-im/status-react/pull/6578) we updated the apsolute value for build number. And it's all fine

[2018-11-26 14:42] errorists commented on #6851
I'm actually working on progress bars for chat atm, we could create a **component** for any progress bars that work like this one here (click on the fetching messages button), wdyt? https://framer.cloud/MsLgV/1

<blockquote><img src="https://framer.cloud/MsLgV/1/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/MsLgV/1">Status Notifications</a></strong

[2018-11-26 14:45] rcullito commented on #6567
![connectedpeers](https://user-images.githubusercontent.com/909156/49021172-08b47a00-f160-11e8-865f-2a7bbcc1f802.png)

[2018-11-26 14:47] lukaszfryc opened #6882 "Enable group chats in release build"
Enable group chats and pairing in release builds and cherry pick it into release/0.9.32 branch. Both features should remain under development mode.

Please update release changelog afterwards https://notes.status.im/mobile-release-notes?both

[2018-11-26 14:48] lukaszfryc commented on #6882
@cammellos could you share your thoughts on what's needed to release the group chats? Is the core work already done?

[2018-11-26 14:49] mandrigin commented on #6881
@jakubgs looks like the build script is borked

[2018-11-26 14:53] rcullito commented on #6567
hey @EugeOrtiz I wasn't able to access the zeplin link for the badges in your comment above. I just double checked my account with Zeplin and I am able to log in, so perhaps it is a question of being granted access to a specific project? If you could share access that would be great,  thanks!

I haven't seen the badges yet, but one other design concept that was discussed for this feature was a "tr

[2018-11-26 14:54] lukaszfryc opened #6883 "Create e2 group chat tests"
**Task**
Create E2E tests for group chats based on [TestRail test scenarios](https://ethstatus.testrail.net/index.php?/suites/view/48&group_by=cases:section_id&group_order=asc) (critical tests section).

**Details**
Use existing code like `create_group_chat`, `NewGroupChatButton`.

[2018-11-26 14:54] lukaszfryc opened #6884 "Create appium group chat tests"
**Task**
Create E2E tests for group chats based on [TestRail test scenarios](https://ethstatus.testrail.net/index.php?/suites/view/48&group_by=cases:section_id&group_order=asc) (critical tests section).

**Details**
Use existing code like `create_group_chat`, `NewGroupChatButton`.

[2018-11-26 14:55] lukaszfryc commented on #6884
I will take care of it this week.

[2018-11-26 14:56] lukaszfryc commented on #5594
@cammellos Any update on that?

[2018-11-26 15:32] jeluard commented on #6856
@sachzundel Oups my bad, wrong copy and paste!

[2018-11-26 15:39] jeluard commented on #6855
@zachzundel I updated the example and comment

[2018-11-26 15:41] 3ach commented on #6855
Looks good! I can start as soon as I'm approved. Thanks @jeluard !

[2018-11-26 15:47] jakubgs commented on #6822
I don't see any issues with adding it just to give our apps more RPC endpoints to chose from. Should increase redundancy.
The profiling might not be an issue, depends on what "slightly slower" means?  10%? 30%? 50%? sure, fine, more than 100%? might become an issue.

[2018-11-27 00:18] ghost commented on #6597
@kuhnchris @jeluard do you have any examples in the code base you could point me towards?

[2018-11-27 04:43] santteegt commented on #4391
Hi,

I was having a couple of problems setting my local dev environment, but now I'm ready to go. One question, I connected the app to the Rinkeby testnet to get some funds through the faucet, but once I've got some ETH, the wallet balance info always shows 0USD. What's the best testnet to reproduce this issue?

![image](https://user-images.githubusercontent.com/926341/49059060-02141a00-f1d5-11e8-

[2018-11-27 06:58] jeluard commented on #6597
@Lokraan Components are exposed [here](https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/core.cljs#L252). In this same file you can find a number of components.

[2018-11-27 07:13] asemiankevich commented on #4391
@santteegt you are on correct network. alternatively you can use ropsten but there will be no difference. both networks will show 0 as test assets do not have any USD value. On the screenshot above you can see that when i go offline - i see three dots instead of 0 USD value (which will be always 0 now on test networks).

[2018-11-27 07:23] dshulyak opened #6889 "Update chosen mail servers with new library binding UpdateMailservers"
# Problem

We need to know which mail servers are selected by the user. Discussion is in https://github.com/status-im/status-go/issues/1285. Binding accepts json-encoded list of enodes. And returns error if any enode cannot be unmarshalled into enode.Node data objects.

https://github.com/status-im/status-go/blob/8b310db28d0a535804f61a274900ebca20a40821/lib/library.go#L467

# Implementation

Updat

[2018-11-27 07:59] ghost commented on #5669
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-27 08:13] mulles commented on #1125
Sharing the opinion of  @leafcutterant. An app sharing FOSS ethics, should try to be distributed openly. And including it in F-droid or providing an F-droid repository seems to be mandatory for this right now.

Moreover, the App is now in Beta, does this mean we are ready or one step further to:  "Ideally we only submit to F-Droid with everything ready to go" ?

[2018-11-27 08:37] cammellos commented on #6882
@lukaszfryc if no blocker have been reported, I would just want to push out a couple of commits to fortify the implementation but otherwise we are good to go.
I would release them in development mode at first & then after a couple of weeks of feedback enable them.

What do you reckon?

[2018-11-27 08:39] chadyj commented on #6882
@cammellos Whilst on the topic can you outline the PFS release plan too?

[2018-11-27 08:45] cammellos commented on #6882
So, if no issues have been reported on group chats & pairing, I think we can start thinking about releasing PFS and getting things ready.
1) Pairing as it is released is already fully pfs, so no work to be done.

2) 1-to-1 we need to handle a few cases https://discuss.status.im/t/pfs-and-missing-contact-information/362/24 & https://discuss.status.im/t/pfs-and-wallet-recovery/335 which will require

[2018-11-27 08:54] lukaszfryc commented on #6882
@cammellos there are no blockers. Only [issues](https://github.com/status-im/status-react/labels/group-chat) we already discussed that can be fixed later.

Re releasing group chats in dev mode, I don't think anyone will use them this way. So, we will not learn anything besides just having the code enabled in the release build. I'd suggest to enable them in normal mode for nightlies and include in

[2018-11-27 08:56] cammellos commented on #6882
@lukaszfryc I am ok with that, the only reason to have them in dev mode would be to warn users that is a beta-feature.

So as long as we warn users that is a beta feature, I am ok in having them always on, in order to manage expectations.

[2018-11-27 08:58] cammellos commented on #6882
What about pairing, should we do the same? release it I mean? The only thing I would want to add is a way for the user to name its device, but other than that if no issues/blockers I'd be happy to release

[2018-11-27 08:58] lukaszfryc commented on #6860
Thanks for your thoughts @3esmit.

I think there is also a 3rd option: When last group admin leaves, he sees popup saying that unless he pass admin to other user, the group chat will be closed.

Would be good to research other clients and then decide on behaviour. I can do it later this week.

cc @chadyj

[2018-11-27 09:00] lukaszfryc commented on #6860
Btw, @chadyj @cammellos do you think it maybe a blocker for group chat release (https://github.com/status-im/status-react/issues/6882)?

[2018-11-27 09:00] chadyj commented on #6882
+1 for rolling this out. We can be sure to communicate to users this is an early feature and testing and feedback is appreciated.

[2018-11-27 09:02] cammellos commented on #6860
To me it does not feel like a blocker, but I can easily change the behavior temporarily so that admin can leave, it might leave some group chats orphaned (no admins), up to you, and then we can have more sophisticated solutions.

[2018-11-27 09:03] chadyj commented on #6860
cc @errorists ^^

+1

[2018-11-27 09:05] lukaszfryc commented on #6882
If we still consider it a beta-feature, it makes sense to put it under dev mode. I think it's the best way to indicate (inside the app) that something is a beta feature.

[2018-11-27 09:08] cammellos commented on #6882
@lukaszfryc what about something like:
`Start group chat (Beta)`? We can also add a `Beta` tag somewhere in the actual group chat, it feels that way it's clear

[2018-11-27 09:11] chadyj commented on #6882
Note, the whole app is in beta! Every feature is a beta :)

But it won't hurt doing `Start group chat (Beta)`. :-)

[2018-11-27 09:13] lukaszfryc commented on #6882
Hm, I first thought that "dev mode" is for beta-features. But, we can actually differentiate between "options for developers" (dev mode) and beta features.

Yeah. I'd say that if there is no major issue that we want to warn about, I'd not bother users with "Beta" word in yet another place.

[2018-11-27 09:16] lukaszfryc commented on #6882
@churik I see we have some "pairing" issues that are leftovers after https://github.com/status-im/status-react/pull/6697. Is any of them a blocker for releasing the pairing in current state?

[2018-11-27 09:17] cammellos commented on #6882
ok, in any cases, we are all in agreement about releasing next week, when are we cutting the release branch these days? sometimes early next week? just to get things organized

[2018-11-27 09:52] lukaszfryc opened #6891 "0.9.32 mobile release"
We will use this issue to manage 0.9.32 release.

open issues and PRs for release: https://github.com/status-im/status-react/labels/release

[2018-11-27 09:58] lukaszfryc commented on #6891
@chadyj can we fill description of this issue with:
1) Go to dev person who will take care of cutting the release branch and doing hot-fixes
2) QA person responsible for release testing
3) Product person to coordinate the release with marketing, etc.

Also, are we going to release next week? If yes, can we cut the release/0.9.32 tomorrow? We have group chats that we should release asap as they wil

[2018-11-27 09:59] flexsurfer opened #6892 "It should be possible to connect to status app and update extension"
# Problem

Currently, when developing extension you need to upload it to infura and manually install in status UI each time you change extensions code

# Implementation

It should be possible to connect to status app http server and update extensions

# Acceptance Criteria

It's possible to update extensions from pluto editor web page

[2018-11-27 10:01] lukaszfryc commented on #6882
@cammellos let's discuss it in #6891

[2018-11-27 10:01] churik commented on #6882
@lukaszfryc

I don't think so if both Group chats and syncing were under development mode.

[2018-11-27 10:05] jakubgs commented on #6881
Yeah, this looks weird. Let me investigate.

[2018-11-27 10:06] lukaszfryc commented on #6882
@churik so you mean we can release pairing? Btw, for group chats, we are planning to use "Start group chat (Beta)" to indicate that it is a beta-feature. Do you think we should do the same for "Devices (Beta)"?

[2018-11-27 10:13] jakubgs commented on #6200
I'll take a look at this today, though not sure what this is.

[2018-11-27 10:19] mandrigin commented on #6200
@jakubgs I think that is what you want to do exactly: https://github.com/realm/realm-js/issues/769

[2018-11-27 10:19] ghost commented on #5687
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-27 10:20] oskarth commented on #1125
Agree with both of you, thanks for being vocal about this! Reopening.

In order to be on F-Droid IIRC we need deterministic builds (this might be wrong though?). This is a challenge but it's definitely needed in order to be a trust-minimized OS. Here's the most recent state of deterministic builds: https://github.com/status-im/swarms/blob/master/ideas/282-deterministic-builds.md (though AFAIK not

[2018-11-27 10:23] chadyj commented on #6200
We did it here https://github.com/status-im/status-react/pull/5479/files
But might have been missed with the Jenkins clean up?

<blockquote><img src="https://avatars2.githubusercontent.com/u/2364994?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react/pull/5479">[#5465]

[2018-11-27 10:36] jakubgs commented on #6200
The only thing related I can see on `macos-02` is this stuff:
[code]

[2018-11-27 10:41] SlizkovaGanna opened #6895 "'Intrinsic gas too low' error when sending a transaction with valid data to a non-contact after scanning QR code"
Type: **Bug**

Summary: It's impossible to send a transaction after scanning a QR code.
Currently, after you sign a transaction, an error 'Intrinsic gas too low'  is displayed.

**Expected behavior**

'Transaction sent' success screen is shown
Transaction is sent with no errors

**Actual behavior**

1-1 chat screen with an error 'Intrinsic gas too low' is displayed
Transaction is not created

<img

[2018-11-27 10:42] 0xc1c4da commented on #1125
This is an opportune time to revisit this, since we need, deterministic builds is necessary for us to get our dependencies in check and actually care about allowing other people to build Status.

[2018-11-27 10:45] mandrigin commented on #1125
@oskarth @jarradh I'm 100% up for that. do we know the exact steps on what needs to be done to be included or should I research it?

[2018-11-27 10:52] jakubgs commented on #6200
I don't get this issue, the report @chadyj linked is from August 13th. Roman's fix was merged on the 14th.
Are we sure the report isn't just from an old verison of the app?

[2018-11-27 10:55] oskarth commented on #1125
Swarm linked above did initial investigation and had some kick off call. It isn’t clear to me what happened after this or where this was documented (this was around the time we moved from Slack).

[2018-11-27 10:56] chadyj commented on #6200
It was seemingly fixed in the linked issue, but has reappeared in newer builds.
@rasom Suggested it could be the same/similar Realm issue, but it might be something else as well. ¯\_(ツ)_/¯

[2018-11-27 11:06] oskarth commented on #6200
Would it be worthwhile to revisit getting rid of Realm completely?

[2018-11-27 11:18] lukaszfryc commented on #6823
@mandrigin do you know who can help with this issue? I think it maybe a release blocker.

[2018-11-27 11:28] lukaszfryc commented on #6711
I will test it and close the issue.

[2018-11-27 11:33] SlizkovaGanna opened #6897 "Do not share user's info when sending a message to a non-contact"
**User Story**

As a user, I would like to send a message to someone without sharing my personal info.
To share my info, I would select 'Add to contact' option.

**Description**

When a user scans QR code of a contact, he is left with several options, such is:
'Add to contacts', 'Send message', 'Send transaction', 'Share profile link'
When you select an option of sending message without adding the

[2018-11-27 11:33] cammellos commented on #6711
@lukaszfryc it's two separate issues at play here, `Add to contacts` should be fixed by pairing/etc, while reverting to default contact name should be fixed in the scope of https://github.com/status-im/status-react/pull/6714

[2018-11-27 11:35] SlizkovaGanna commented on #6895
Theoretically should be fixed after https://github.com/status-im/status-react/issues/4923 is fixed.
@goranjovic please let me know if you want me to close this one

[2018-11-27 11:43] lukaszfryc opened #6898 "Automatically pair and sync data across devices"
### Description

*Type*: Bug

*Summary*: We introduced pairing/multi-device support in https://github.com/status-im/status-react/pull/6242 and https://github.com/status-im/status-react/pull/6697. But, to enable it users need to go to the settings and manually pair with another device. This needs to be repeated on each device. The process takes time and maybe confusing for some non-technical users.

[2018-11-27 11:44] lukaszfryc commented on #6898
@cammellos is this feature possible and secure?

[2018-11-27 11:45] mandrigin commented on #6823
@lukaszfryc when are we releasing, btw? :) I was thinking of putting a bounty on this one.

[2018-11-27 11:50] lukaszfryc commented on #6711
@cammellos thanks for details.

Yes, it works when devices are paired.

Sounds good!

[2018-11-27 11:51] asemiankevich commented on #6897
@errorists @hesterbruikman wdyt?

[2018-11-27 11:52] lukaszfryc commented on #6823
@mandrigin I suggest to cut the release tomorrow and release next week. Please see https://github.com/status-im/status-react/issues/6891

I'd not put bounties on release blockers :) Anyway, we may discuss if this issue is a release blocker or not.

[2018-11-27 11:53] cammellos commented on #6898
@lukaszfryc technically it is possible, but is not secure, anyone having access to your seed phrase will basically have access to all historical data, control over which devices are kept syncing (we can only keep syncing x amount of devices), and would invalidate pfs.

 I think this step is fairly rare (normal users rarely change devices), so having to work a bit is ok, rather I would work on maki

[2018-11-27 11:54] lukaszfryc commented on #6897
I think this is more a product question. @chadyj @cammellos please share your thoughts.

[2018-11-27 11:54] mandrigin commented on #6823
@lukaszfryc np, I'll take a look at it now

[2018-11-27 11:59] lukaszfryc commented on #6898
I see. I'd say it's rare between mobile devices but quite common if you think of desktop and mobile sync. As you said, let's make it more discoverable in this case. I'd expect to see an automatic suggestion inside mobile app asking if I want to sync data between my desktop device. Same on desktop if I already use mobile app.

@chadyj @errorists wdyt?

[2018-11-27 12:01] cammellos commented on #6898
I meant something a bit different, it's rare, meaning that you don't have to do it every week say, you do it once, and then it's set up for a while, and you have only to do it if you re-install etc (which should happen rarely to a normal user), but otherwise I agree

automatic suggestion sounds like a good idea

[2018-11-27 12:21] mandrigin commented on #6823
@lukaszfryc I have fixed it

[2018-11-27 12:33] churik commented on #6898
agree here. In any case, we should be sure that devices are keeping to be synced when upgrading builds on all of them or in several and add instructions and suggestions how to enable pairing for the very first time.

[2018-11-27 12:36] Serhy opened #6901 "Latest block In Ropsten(LES) fall behind latest block in Ropsten RPC"
***Type***: Bug

*Summary*: When `Ropsten (LES)` network (with les.dev.ropsten fleet setting) is enabled we pull the latest block number and start sync. The latest block number in a case of Ropsten RPC is far beyond the latest block that Ropsten (LES) is put to use as latest:
For example at this moment (27th Nov 2018 ~13.00 CET):
**Rospten (LES)** defines: `syncing 4198783 of 4329035 blocks...` i.

[2018-11-27 12:41] SlizkovaGanna opened #6902 "The logo unread message counter is not cleared when logging in under a new created account"
Type: **Bug**

Summary: When user has unread messages, after logging out and creating the new account, that new account inherits the icon message counter.

**Expected behavior**

Logo unread message counter should clear up when logging in as a different user

**Actual behavior**

Logo unread message counter is inherited from the previous account, when logging in under a new created account

**Repr

[2018-11-27 12:53] mandrigin commented on #6901
Just to add to this task. LES servers that are used here (added as static peers) are:
[code]

[2018-11-27 13:16] lukaszfryc commented on #6823
@mandrigin great :)

[2018-11-27 13:18] lukaszfryc commented on #6898
@cammellos but, is it possible technically?

[2018-11-27 13:34] cammellos commented on #6898
@lukaszfryc I am thinking on something on these lines:
1) You click on pair devices on device A
2) Device B/C/D will see a pop up, "Device A has been detected, would you like to pair and enabled it?"
3) Device A will see a pop up "Device B has been detected, would you like to pair and enable it?"
something on these lines

[2018-11-27 13:41] lukaszfryc commented on #6898
@cammellos sounds good. But my ideal experience would be to see a status bar in Home tab saying "2 devices available to pair". When I click on it I'd be redirected to Devices screen and follow your instructions. Can the device knows it before allowing to pair it (clicking "Pair this device")?

---

Btw, I'd say that currently, when a user goes to Settings->Devices, he is lost because:
1) There is

[2018-11-27 13:49] cammellos commented on #6898
@lukaszfryc other devices won't be able to discover device A until device you click "pair this device" on device A, we could advertise the device periodically but I'd avoid it for now (it trade offs on darkness).

for the ux feedback cc @errorists

[2018-11-27 13:52] churik opened #6903 "Replies are shown as ordinary messages if they are sent from current nightly and quoted on release build or when reply to old message sent before upgrade and both contacts are on release build"
# Case 1: Replies are shown as ordinary messages if they are sent from current nightly and quoted on release build
### Description

*Type*: Bug
*Summary*: when user has current nightly installed and replies to message, sent from release build, user with release build will see an ordinary message and vice versa.

#### Expected behavior
can see reply message on both A and B

#### Actual behavior
ord

[2018-11-27 13:53] Serhy opened #6904 "Persistent 'Unable to get token balance' on Wallet with Ropsten (LES) network even sync finished"
***Type***: Bug

***Summary***: ETH and token balance are always 0 on Wallet for the contact who use Ropsten (LES) network. And `Unable to get token balance` on Wallet main screen displays all the time, even the network sync finished (current block = latest LES block).
Despite the latest block number is not really the latest (see https://github.com/status-im/status-react/issues/6901 for more info)

[2018-11-27 13:57] mandrigin commented on #6904
Does it show “Not syncing” when you request? Because even if the current block number is equal to the latest one, it doesn’t mean that the sync is finished, it is still ongoing.

[2018-11-27 14:09] mandrigin opened #6905 "[Epic] Light Clients Support"
* Project GitHub tag: https://github.com/status-im/status-react/labels/LES

### Project Vision
Add an option to use LES and ULC in our application. It should work on Ropsten and Mainnet with working discovery.

### Project Scope
* Have ULC and LES networks in the list of networks
* LES and ULC should work stable
* Minimum scope: Ropsten and Mainnet
* User should be able to turn discovery on or off

[2018-11-27 15:03] chadyj commented on #6891
@mandrigin any comments for the above?

@jeluard Mentioned that this release needs to be out by Sunday Nov 2nd, so lets hustle!

@jeluard Is everything in develop and ready to go? What are the Kyber changes needed?

[2018-11-27 15:06] jeluard commented on #6891
@chadyj Some commits are still missing. Realistically the target date would be Dec 7

[2018-11-27 15:09] lukaszfryc commented on #6898
@cammellos but device A that did not allow for pairing yet can detect device B and automatically show a hint saying "Device B available to pair" (provided device B allowed for pairing)?

[2018-11-27 15:10] cammellos commented on #6898
as long as someone pressed `Pair this device` on device B, yes

[2018-11-27 15:22] corpetty opened #6906 "Fail build if `package-lock.json` changes"
In an attempt to start monitoring our dependencies, we should fail the build if the `package-lock.json` file changes as it checksums all dependencies.  This gives us an initial guarantee that whatever changes that are happening are not within the scope of dependencies, and informs us that we need to check whatever changes happen within a dependency when they change.

This will suffice as an initia

[2018-11-27 15:24] annadanchenko commented on #6891
I can be responsible for release testing and coordinating with test team except this Friday (nov 30).

@jeluard when missing commits will be ready, so we cut off the branch for testing? Ideally, we'd like to have 1st release build for regression testing tomorrow morning.

[2018-11-27 15:26] JekaMas commented on #6905
We have some https://github.com/status-im/status.im/blob/develop/source/research/ulc_in_details.md

I can help with more documentation if needed.
@mandrigin

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/

[2018-11-27 15:30] hetvart opened #6907 "Link failed tests with known issues under PR's e2e test results"
### Summary:
As a QA I want to see which tests failing under a PR relate to known issues and which are new failures.

### Idea:
This should help a developer/qa to understand which fails are new and which are known issues (i.e. those that have associated unresolved bug)

**How test will look in code:**
We introduce a new mark to assign existing open issues to a test
[code]
So the above test will fa

[2018-11-27 15:31] ghost commented on #5659
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.