[2019-08-20 13:07] flexsurfer commented on #8548
react native issue: https://github.com/facebook/react-native/issues/23653

[2019-08-20 13:43] jakubgs commented on #8757
It seems like it is still happening, case in point:
https://ci.status.im/job/status-react/job/prs/job/android-e2e/job/PR-8764/14/
Pedro showed me this from the manual:

Not sure if this is relevant to our case as we do not use `--gc`:
https://github.com/status-im/status-react/blob/ab39aa4969eb156d5ce79591f197e24286b14309/nix/build.sh#L33-L39

[2019-08-20 13:45] jakubgs commented on #8757
But if you look really close at the log the error isn't actually the result of `nix-build`:
https://ci.status.im/blue/organizations/jenkins/status-react%2Fprs%2Fandroid-e2e/detail/PR-8764/14/pipeline
You can see that the call to `nix/build.sh` happens later:
[code]
The error happens before that. Not sure if that's a log glitch or what. But if it happened earlier, for example in the shell initializ

[2019-08-20 13:49] jakubgs commented on #8757
If I run two builds at the same time locally on of the waits with message:
[code]
So there should not be a clash.

[2019-08-20 13:53] jakubgs commented on #8757
Also, so far I've seen two versions of this error:
[code]
And:
[code]
Which is kinda interesting.

[2019-08-20 13:55] jakubgs commented on #8757
I managed to reproduce the error locally by running 2 builds in 2 different folders on the same host, but on different commits. One on `develop`, and another on `bug/8748-fix-setup-with-initialized-keycard`.
![still_alive_error](https://user-images.githubusercontent.com/2212681/63353314-8e9cd480-c330-11e9-9a13-d130107dd11f.png)
Which shows that the error is indeed some kind of race condition.

[2019-08-20 14:04] churik opened #8783 "Fix false failures"
- [x]  test_add_to_contacts (example [here](https://github.com/status-im/status-react/pull/8780#issuecomment-522986379))
- [x]  test_user_can_remove_profile_picture (example [here](https://github.com/status-im/status-react/pull/8780#issuecomment-522986379))
- [x]  https://ethstatus.testrail.net/index.php?/tests/view/819911 - change  cross icon to close_share_chat_key_popup()
- [x]   https://ethsta

[2019-08-20 14:07] jakubgs commented on #8757
Okay, interesting. When building again on two folders I saw this in one console from `nix/clean.sh`:
[code]
And this from the build in another console:
[code]
Maybe the `nix/clean.sh` needs some kind of lock, or check for ongoing `nix-build` calls.

[2019-08-20 14:25] churik opened #8784 "Fix inappropriate test results"
# Problem

In TestRail some of failed tests have errors from another tests - example https://ethstatus.testrail.net/index.php?/tests/view/819858&group_by=cases:section_id&group_order=asc&group_id=734

## Acceptance Criteria
All tests containing appropriate results

[2019-08-20 14:27] jakubgs commented on #8757
I ran the builds in parallel with this line commented out:
https://github.com/status-im/status-react/blob/dcb741520844126582427d855eb784065e800592/nix/build.sh#L13
And was no able to reproduce the failure. Which indicates that the issue is not with `nix-build` as I previously thought, but rather with the `nix/clean.sh` script that has stages to it, and can collect paths to remove first and then re

[2019-08-20 14:34] gravityblast commented on #8759
I know why know. When you login, you pass `mainAccountAddress`, `watchAddresses`.
If the address is you are using is not among those, it doesn't work.
I guess we want to add a binding to be able to add new addresses to the `watchAddresses` list right? do you already add them somehow with the wallet service? otherwise you don't even get updates on their balance right? @flexsurfer

[2019-08-20 15:19] asemiankevich opened #8786 "Can't add new ethereum address for recovered multiaccount"
# Problem

Error shown when adding new ethereum address for recovered accounts

## Steps

1. open status
2. recover account
3. go to wallet -> add account -> enter password

![image](https://user-images.githubusercontent.com/28752642/63360409-08f04780-c377-11e9-9490-923817e4c016.png)

[2019-08-20 15:20] flexsurfer commented on #8759
yeah, so maybe better to look at this again after https://github.com/status-im/status-go/issues/1566

[2019-08-20 19:50] jakubgs commented on #8757
Potential fix #8788, works locally so should work in CI as well.

[2019-08-20 21:04] yenda commented on #8672
![Screenshot_1566334992](https://user-images.githubusercontent.com/1181225/63384257-be82c100-c39e-11e9-87e3-3706cc18a8f9.png)

@PombeirP @flexsurfer looks like everything kinda works in my branch https://github.com/status-im/status-react/tree/hermes
I disabled webviews for now though

[2019-08-20 21:06] yenda commented on #8672
Apparently web-view is used with svgimages so it's just a matter of replacing it with the community version like I did for net_infos

[2019-08-21 06:23] rachelhamlin commented on #8772
Hmm or perhaps @hesterbruikman, would you mind trying to reproduce on your Android? Edit - no need. :)

[2019-08-21 06:26] flexsurfer commented on #8772
Will be fixed with RN update https://github.com/status-im/status-react/issues/8672

[2019-08-21 07:12] pedropombeiro commented on #8672
@yenda have you tried running the release version? Looks like some Realm stuff is still there: https://ci.status.im/job/status-react/job/combined/job/mobile-android/11647/console. I'll also need to regenerate the Maven offline repos for Nix.

[2019-08-21 07:18] rachelhamlin commented on #8635
Sorry for the delay here, guys, I've been on holiday. I went first come, first serve, and approved @majortomsec. But @minikomi welcome to Gitcoin! Happy to have you on any of our other issues that appeal: https://gitcoin.co/explorer?org=&idx_status=any&applicants=ALL&bounty_filter=createdByMe&network=mainnet

[2019-08-21 07:26] #8783 closed, assigned to yevh-berdnyk

[2019-08-21 07:46] asemiankevich opened #8795 "Remove Beta warning"
# Problem

Beta warning appears randomly now. Instead of fixing this i suggest to remove the warning completely since we are aiming V1 soon.

## Steps

- open status
- create new account
- login

![image](https://user-images.githubusercontent.com/28752642/63412655-d723c300-c400-11e9-9df8-16e2ebf0f0c4.png)

@rachelhamlin @annadanchenko

[2019-08-21 07:53] #8744 closed, assigned to cammellos

[2019-08-21 07:58] rachelhamlin commented on #6946
Mmm good point. Thanks @churik. Let's see if anything comes up about this during the audit.

[2019-08-21 08:03] rachelhamlin commented on #8412
Agree we should consider this a release blocker.

[2019-08-21 08:06] churik opened #8796 "'Cannot write BigNumber' at attempt to bind own ENS username"
# Description

*Type*: Bug

*Summary*: on nightly 21/08/2019 after commit https://github.com/status-im/status-react/commit/f2cf42715b21518829e7d02687ef9dc6f4392b38 at attempt to bind ENS name, that was bought before changing whisper ids, error is shown 'Cannot write BigNumber'.
Before there was an error, that name was already taken.
On IOS error: 'Cannot write Function'

#### Expected behavior
can

[2019-08-21 08:08] churik commented on #8796
сс @rachelhamlin @yenda

[2019-08-21 08:12] rachelhamlin commented on #8795
Agreed - we also have this issue - https://github.com/status-im/status-react/issues/8616
I'll put a bounty on this one (thank you for image!).

[2019-08-21 08:42] flexsurfer commented on #8772
@asemiankevich could you check in this PR https://github.com/status-im/status-react/pull/8792 ?

[2019-08-21 08:43] asemiankevich commented on #8772
once the builds are ready - yes @flexsurfer sure!

[2019-08-21 09:04] minikomi commented on #8635
No problem. I had a look and couldn't reproduce the issue locally building `develop`. Maybe it's an issue with the nightly build process? I couldn't find much information about that environment..

[2019-08-21 09:17] asemiankevich opened #8797 "Error scrollToIndex when tapping [Fetch messages] twice in a row"
# Problem

`Error
scrollToIndex should be used in conjunction with getItemLayout or on-ScrollToIndexFailed, otherwise there is no way to know the location of offscreen indicies or handle failures`

![image](https://user-images.githubusercontent.com/28752642/63419350-50c1ae00-c40d-11e9-9d3b-bb7a85d18897.png)

## Steps
1. create new account
2. join test-team public chat
3. tap `Fetch previous messag

[2019-08-21 09:42] flexsurfer commented on #8548
made workaround fix for chats and wallet in https://github.com/status-im/status-react/pull/8782 . let's keep this issue open, to fix it properly later

[2019-08-21 09:43] flexsurfer commented on #8548
test again after https://github.com/status-im/status-react/issues/8672

[2019-08-21 10:21] churik opened #8799 "Can't login to application"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: sometimes after creating an account I can see endless spinner instead of + button and after logout, I can't log in. If I try to create new account - after logout  I also can't login to the app, it shows "Processing" state.
I couldn't find a way to recover from this state - only reinstalling app helped

#### Expec

[2019-08-21 11:01] hesterbruikman commented on #8765
@errorists can you also take a look please?

1. I need some help retracing our decision here. I believe we opted for an 'all or nothing' ENS name toggle, incl 1:1 and group chat, irrespective of contact status, but may have missed conversations along the way.
2. Afaik is expected behavior. Agree it's not great. Believe there was no technical solution for this. Could be a blessing in disguise, I'd

[2019-08-21 11:08] churik opened #8800 "Capital letters are not replaced in recovery phrase"
### Description

*Type*: Bug

*Summary*: on release 0.13.0 all uppercase was replaced by lowercase in recovery phrase input field automatically. Now on Android recovery phrase with capital letters remains the same, but anyway it recovers right account (whisper id + wallet address)

#### Expected behavior
recovery phrase in lowercase

#### Actual behavior
recovery phrase is persisted

### Reproduct

[2019-08-21 11:26] errorists commented on #8765
1. it's all or nothing, you switch ENS to broadcast it publicly including 1:1 and group chats
2. that's a technical limitation, we have to accept it for what it is and file under quirks of our current messaging protocol. at least it's consistent and predictable.
3. that's a bug, it should be persistent

[2019-08-21 11:36] yenda commented on #8799
There is two errors related in the geth logs:
- first there is already a node running when you login, which is very odd, I wonder how that could have happen
- second the account is not found in the database when you login
`t=2019-08-21T10:07:10+0000 lvl=eror msg="failed to start a node" address=0x652178f65F1a4d85c0f0CdC45CBB0bC7CA8C2Df7 error="sql: no rows in result set"`

It would be great to hav

[2019-08-21 11:53] yenda commented on #8795
It's not really random but just a big buggy because it is disabled on the emulator and I only started to notice it on the real device. No need to put a bounty it's a 5 min task and it makes some things easier for me

[2019-08-21 12:16] churik commented on #8799
@yenda
1) it was fresh install
2) no, I didn't manage to reproduce this. but @asemiankevich told that she faced with it as well.

[2019-08-21 12:18] asemiankevich commented on #8799
it happens from time to time, i've seen this after logout , but was blaming some bad connection at home. Looks like sometimes node can't start

[2019-08-21 13:10] churik opened #8802 "No redirect from universal links after login"
#  Description

*Type*: Bug

*Summary*: no redirection to user profile / public chat / Dapp if you open the link and should login.
On 0.13.0 if you open link `https://get.status.im/user/0x0449add8977ca4aea3c5b7dde3cfca4a1e59171bacb306d7c7830a9cecb565b10bc618ad77e3c4c1c1893e8e82d6d0af7730ea73c7f000c27cb990c6c741b1377a` when app is closed and login - you will be redirected to user profile, on curren

[2019-08-21 13:10] churik commented on #8802
cc @rachelhamlin

[2019-08-21 14:04] churik opened #8806 "Unknown in Profile and "null is not an object" at attempt to log out after log out from offline"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when log out without network, after login instead of username "Unknown" is shown without user picture and also at attempt to log out "null is not an object(evaluating 'n.toLowerCase''"
Network settings are empty for such users.

#### Expected behavior
Can log out;
usename \ userpicture is valid;
network settings a

[2019-08-21 14:04] churik commented on #8806
cc @yenda @rachelhamlin

[2019-08-21 14:31] churik opened #8807 "Userpicture is not synced between devices"
### Description

*Type*: Bug

*Summary*: userpicture is not synced when devices are paired.

#### Expected behavior
userpicture is synced, on Device B custom userpicture is set

#### Actual behavior
default userpicture

### Reproduction

- Open Status
- Device A: create account, set userpicture
- Device B: restore the same account
- pair devices
- sync

### Additional Information
- Status version:

[2019-08-21 14:41] MajorTomSec commented on #8635
I'm indeed unable to reproduce this issue on my phone either.
Could you give more details about the environment as to reproduce this behaviour ?

EDIT: Nevermind, compiling with the Release profile makes this behaviour happen. I'm now working on this issue and will submit a PR once I'm done.

[2019-08-21 14:50] churik opened #8808 "Fix e2e failures"
- [ ] https://ethstatus.testrail.net/index.php?/tests/view/822122 - not sure why failed

- [x]  https://ethstatus.testrail.net/index.php?/tests/view/822207 - edit; no "UserNameSetByUserText" element anymore

- [x] https://ethstatus.testrail.net/index.php?/tests/view/822229 - false failure; wait for "Sign in" button to be active

- [x] https://ethstatus.testrail.net/index.php?/tests/view/822189, ht

[2019-08-21 15:54] #8735 closed, assigned to nobody

[2019-08-21 15:54] #8736 closed, assigned to nobody

[2019-08-21 16:02] asemiankevich commented on #8712
@churik @yevh-berdnyk is it sill a case? I can't reproduce it in today's nighlty

[2019-08-21 16:03] asemiankevich commented on #8800
@dmitryn @hesterbruikman is that an issue what do you think? I mean if we recover correct account in both cases (upper case and lower case letters)?

[2019-08-21 16:13] dmitryn commented on #8800
During actual recovery we convert characters to lowercase so it doesn't matter what user types in. From UX point of view, i personally prefer to see what i'm typing without modifications.
But we can revert to old behavior if that was better.

[2019-08-21 16:15] asemiankevich commented on #8800
i am okay with current behavior, thank you @dmitryn !

i think we can align autotest then @churik @yevh-berdnyk ?

[2019-08-22 07:52] bitsikka commented on #8070
Sorry I couldn't make the WIP PR two days ago when I said I would.

Something interesting happened, I was looking at various list-item instances, with light red transparent background turned on for various layered elements, to check on the pixel perfectness/soundness of structure of elements. Then I noticed I was having trouble focusing visually.

It was weird, it was not there before, so I went t

[2019-08-22 07:55] churik commented on #8800
we can just remove it from testrail and e2e then
https://ethstatus.testrail.net/index.php?/cases/view/5394

[2019-08-22 07:55] #8800 closed, assigned to nobody

[2019-08-22 07:58] churik commented on #8800
Ok, I guess it is better to replace this with the test that will check that from recovery phrase with capital letters will be recovered user with expected whisper id.
Will edit https://ethstatus.testrail.net/index.php?/cases/view/5394

[2019-08-22 08:06] asemiankevich commented on #8691
@rachelhamlin

[2019-08-22 08:27] asemiankevich opened #8809 "Messages are not visible in a group chat once i remove a chat member"
# Problem

There is a group chat of 2 people. I send some messages there as admin -> non-admin also see them in this group conversation. As admin i delete second chat participant and continue sending messages to this chat. As a result messages are not shown in chat for admin (i can see newly sent message in chat preview on Chat tab though).

## Steps

1. as user A (admin) create group chat with us

[2019-08-22 08:27] hesterbruikman commented on #8800
Apologies for the late reply. But leaving it as I imagine we'll have similar conversations on other text entry fields. Current behavior is ok IMO. Agree with @dmitryn that as a user you'd want to see what your typing. The preferred solution  here is magic=ok, hiddenmagic≠ok.

If we require lower case, preferred behavior is to set the native keyboard to lowercase entry; This gives the user most con

[2019-08-22 08:35] churik opened #8810 "Can recover account with recover phrase containing invalid chars or words outside the dictionary"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: when I paste from keyboard or type invalid word \ letter outside Wordlist from https://github.com/status-im/status-go/blob/52cdcf8f0f1127f5ee694f39086a9e4df54174e6/extkeys/mnemonic.go#L97 I expect validation to be shown. In fact, I can recover account with seed phrase like `; two three four five six:5668 seven ei

[2019-08-22 08:48] churik commented on #8809
@cammellos please, take a look when you have time.
Thanks!

[2019-08-22 08:55] cammellos commented on #8809
I see, we should probably not allow sending to an empty chat and disable the text input in such cases (that's the root of the problem I believe, if there was another member everything would work ok), what do you think?

[2019-08-22 09:06] asemiankevich commented on #8809
@hesterbruikman ? :)

[2019-08-22 09:07] churik commented on #8809
It is like chat with myself only) I suppose that messages should be visible in that case, but if it is not possible - it is enough to prevent user from sending messages until he adds new members IMO

[2019-08-22 09:10] cammellos commented on #8809
both are possible, although no-one but yourself will see the messages, even if they join at later time, it's technically a bit more complex, but best to go for the preferred ux solution.

[2019-08-22 09:10] churik commented on #8809
@asemiankevich is it only when in group chat 2 members, and admin delete one, or it is reproducible for 3-4 people as well when admin deletes one member?

[2019-08-22 09:14] asemiankevich commented on #8809
it happens as described in an issue, but worth mentioning it happens only when i am the only 1 left in the group chat, so if i have 3 members and remove someone - if i continue messaging -> all messages are shown.

[2019-08-22 09:16] churik commented on #8734
It is reproducible again on nightly 22/08/2019 - so:
when I try to use "Resend" - error (tried from offline state)
![photo_2019-08-22 11 13 42](https://user-images.githubusercontent.com/4557972/63502465-e91f6780-c4cd-11e9-85cb-3a0f1125078d.jpeg)

Logs:
[Status-debug-logs.zip](https://github.com/status-im/status-react/files/3529286/Status-debug-logs.zip)
After this error "Not confirmed. Tap for opt

[2019-08-22 09:16] churik commented on #8734
cc @rachelhamlin

[2019-08-22 10:11] flexsurfer commented on #8691
@rachelhamlin @hesterbruikman @andmironov @errorists in the current case there is an error in the contract because there is not enough SNT, and contract can't be run, and gas can't be estimated, so we need to show a proper message when gas can't be estimated and there is an error in the contract and we know transaction will be failed even if user provide gas manually

[2019-08-22 10:16] hesterbruikman commented on #8691
@flexsurfer thanks for tagging!

What can the user do in this situation?

It sounds like:
The issue might resolved if the user somehow buys more ETH
Does this solve the issue or might the contract error also occur when there is enough ETH for gas available?

[2019-08-22 10:28] asemiankevich opened #8812 "Custom picture is not applied to login screen"
# Problem

Custom picture is not applied to login screen

## Steps

- open status
- profile -> change user picture
- logout

Pay attention to the picture when logged out. Also go to Unlock screen and check it there.

Actual result: default picture is shown

![image](https://user-images.githubusercontent.com/28752642/63507531-9ac79400-c4e0-11e9-8c7a-b0cb485390e7.png)

build: nightly 22-Aug-2019

[2019-08-22 10:33] flexsurfer commented on #8691
@hesterbruikman this current case not related to ETH it's about a contract execution, contract can't be executed, and we don't know the exact reason, yeah for this current case we could guess that there is not enought SNT and if user buys more SNT it will work, but we need more general message for all cases, something like "gas cannot be estimated because of an error during contract execution"

[2019-08-22 10:39] annadanchenko opened #8813 "status-go version is shown as N/A"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In nightly build, Profile -> About -> status-go version is shown as vN/A

#### Expected behavior

Expect to see status-go version number

#### A

[2019-08-22 10:43] churik commented on #8806
The same behavior is reproducible when you create account -> switch to Ropsten -> create new account.

[2019-08-22 10:47] hesterbruikman commented on #8691
Thanks for clarifying. Sounds like we're looking for a bandaid:/ In this case the user also can't change the amount as it's specified by the contract.

What causes the contract error?

For a message I suggest:
"Something's wrong with the contract. Make sure you have enough assets and try again"

[2019-08-22 10:50] flexsurfer commented on #8691
it may be some condition in the contract, for example, permissions, or balance check, or smth else, wrong parameters passed to contract from dapp for example etc

[2019-08-22 10:57] hesterbruikman commented on #8691
If you think the above error message works, I suggest we go with that for now. Next to that I'll make a note in our design backlog on Wrike. I think eventually we want a different pattern/screen in case of a full blown contract error. Like an error state version of the Send transaction overview screen. Now it seems the error is gas estimate, but that's a symptom, the problem is the contract itself

[2019-08-22 11:18] annadanchenko opened #8814 "No geth.log in Downloads folder on nightly build"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
-  No geth.log created if app has Storage permissions and new user is created.
- If use Report a bug to send logs then geth.log is also not incl

[2019-08-22 11:26] #8624 closed, assigned to nobody

[2019-08-22 12:55] asemiankevich commented on #8814
I can see geth.log on my device, Huawei P10 Lite Android 8 with nightly build https://ci.status.im/job/status-react/job/nightly/1222/

[2019-08-22 13:17] asemiankevich commented on #8814
and I can't see it on my Xiaomi Redmi Note 4 Android 7 same build https://ci.status.im/job/status-react/job/nightly/1222/

[2019-08-22 13:20] churik commented on #8814
geth.log is created on LG V20, Android 8 ,nightly 22/08/2019

[2019-08-22 14:23] jakubgs commented on #8757
I merged #8788 but it seems like the issue is still happening, though less frequently:
[code]
https://ci.status.im/job/status-react/job/prs/job/android-e2e/job/PR-8811/8/

So I just made a PR where we ignore `nix/clean.sh` failures in `nix/build.sh` when in CI: #8817

[2019-08-22 14:29] churik commented on #8712
it is gone in nightly 22/08/19

[2019-08-22 14:29] #8712 closed, assigned to nobody

[2019-08-22 15:05] asemiankevich opened #8818 "Status logo is broken (iOS)"
# Problem

Status logo is broken on iOS

![image](https://user-images.githubusercontent.com/28752642/63525948-3835be80-c507-11e9-8225-ec23f49a5f92.png)

## Steps

1. open status
2. create account on iOS

[2019-08-22 15:05] asemiankevich commented on #8818
@rachelhamlin

[2019-08-22 15:45] churik opened #8819 "Sometimes chat history reappears for deleted chats"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: caught by autotests several times. It is the reason why sometimes test `test_long_press_to_delete_public_chat` is failed. Sometimes for chat with deleted history it reappeared after relogin and joining the same chat. Tried to reproduce this one ~5 times with new accounts - no luck.

#### Expected behavior
no hist

[2019-08-22 15:49] #8757 closed, assigned to nobody

[2019-08-22 16:54] #8600 closed, assigned to nobody

[2019-08-22 19:51] andrew-healey commented on #8516
I haven't started any development yet, but as of now, the swipe-and-delete functionality works both in an emulator (BlueStacks on Windows 10, as of 8/19/2019 3:40 EST on the Google Play Store release) and on an Android phone. Although part of the bounty is for adding long-press functionality, the part about fixing the bug is no longer necessary.
The video from the emulator (identical to what happe

[2019-08-22 20:44] yenda commented on #8795
@rachelhamlin how do we close the gitcoin bounty it is done

[2019-08-22 20:44] #8795 closed, assigned to nobody

[2019-08-23 07:10] asemiankevich opened #8823 "Seed phrase hint is partially hidden on iOS"
# Problem

Hint is hidden under some label so text is cut

![image](https://user-images.githubusercontent.com/28752642/63573463-15022200-c58e-11e9-9615-bfc416eef32e.png)

## Steps

- open status on iOS
- tap Access key
- enter some words

@rachelhamlin bounty? :)

[2019-08-23 07:26] rachelhamlin commented on #8823
Oops! Definitely bounty worthy. I'll add it to the queue.

[2019-08-23 07:46] rachelhamlin commented on #8795
Closing - thanks @yenda

[2019-08-23 07:51] rachelhamlin commented on #8516
@Sesamestrong thanks for looking into it - I've approved you for work, are you clear on the remaining task to change the functionality to long press? :)

[2019-08-23 07:53] #8796 closed, assigned to nobody

[2019-08-23 07:57] rachelhamlin commented on #8691
Is it possible that the user can try again and succeed, or is the contract going to fail repeatedly if this error is hit @flexsurfer? It sounds like a really variable underlying cause; ditto Hester.

Also, is @3esmit maybe able to look into why this is happening?

[2019-08-23 08:07] flexsurfer commented on #8691
@rachelhamlin the contract going to fail repeatedly if this error is hit, and we know why, it's normal behaviour, we just need to show a proper error message to a user instead of "invalid number"

[2019-08-23 08:39] rachelhamlin commented on #8802
`e2e test blocker` is a pain but from a user perspective I wouldn't call it a release blocker. Adding to new v1 'non blocking' backlog in Wrike. Thanks!

[2019-08-23 08:40] hesterbruikman commented on #8691
fyi: https://www.wrike.com/open.htm?id=389379190

[2019-08-23 09:32] rachelhamlin commented on #8708
@siphiuel are you working on this issue?

[2019-08-23 09:58] PfanP commented on #8139
Hi @hesterbruikman If it's still open, I'd like to try this

[2019-08-23 10:09] PfanP commented on #8823
Hi @rachelhamlin

[2019-08-23 10:26] yevh-berdnyk commented on #8808
Will be fixed with #8784

Other tests are updated

[2019-08-23 11:15] #8786 closed, assigned to nobody

[2019-08-23 12:04] churik commented on #8802
Well, I wouldn't agree here.
AFAIK we placed a lot of links outside the app (i.e. for `#status` channel) in Twitter, social networks etc. and if user tap on it and nothing happens - it will affect the first impression of the app.
From my perspective, it is even `high-priority` issue.
Let's talk about it on core-sync and check with others, is it OK?
cc @annadanchenko

[2019-08-23 12:15] #8808 closed, assigned to yevh-berdnyk

[2019-08-23 12:31] rachelhamlin commented on #8802
We can take those down if we had to—thinking about the # of engineering resources we have vs. the backlog of severe issues, I think it's reasonable to consider alternatives. That said, this one might be a small effort and therefore feasible. I'd like to have that conversation, but it might be more useful to do so when we are past the code freeze.

[2019-08-23 13:21] asemiankevich commented on #8758
@rachelhamlin

[2019-08-23 13:38] churik opened #8827 "Fix e2e (high/medium)"
- [x] https://ethstatus.testrail.net/index.php?/tests/view/827067 - it is failed every day; suppose that smth with element `//*[contains(@text, \"Wrong password\")]`

- [x] https://ethstatus.testrail.net/index.php?/tests/view/826096 - worth to add smth to wait for element, seems that tap only close popup but didn't open "Options"

- [x] https://ethstatus.testrail.net/index.php?/tests/view/826128,

[2019-08-23 13:57] churik opened #8828 "Create new critical e2e"
- [ ] https://ethstatus.testrail.net/index.php?/tests/view/827015 - recreate - feature is changed, test case is updated

- [ ] https://ethstatus.testrail.net/index.php?/tests/view/827016 - recreate - feature is changed, test case is updated; use `autotester` - stickerpack is bought for him.

- [ ] https://ethstatus.testrail.net/index.php?/cases/view/6226 - new TC, can be combined with https://eths

[2019-08-23 14:14] churik commented on #8799
Caught by e2e: https://app.saucelabs.com/tests/6a640091d97947509e3d454ac7b07f90?auth=48fb9d4eafc80590ab1fb9b48178798c#48

[2019-08-23 15:09] rachelhamlin commented on #8139
Hi @alex-coding-c - can you please apply through [Gitcoin](https://gitcoin.co)?

[2019-08-23 15:09] PfanP commented on #8139
I already did. :)

[2019-08-23 15:17] churik opened #8829 ""Processing" instead of validation message in case if you entered invalid password when sign in"
###  Description

*Type*: Bug

*Summary*: no validation error is shown when entering wrong password on login screen. Instead "Wrong password" endless "Processing" screen is shown.
Hopefully, that #8799 has the same cause - but in this case I can normally create account, logout and login after this error

#### Expected behavior
"Wrong password"

#### Actual behavior
Processing
![pr](https://user-im

[2019-08-23 15:17] churik commented on #8829
cc @rachelhamlin

[2019-08-23 15:17] rachelhamlin commented on #8139
Hmm. Can you try again @alex-coding-c? You don't show up as an applicant.

[2019-08-23 15:24] PfanP commented on #8139
May I start on this issue?

[2019-08-23 15:28] rachelhamlin commented on #8139
You're approved @alex-coding-c! Let me know if you have any questions about the issue. From above:

`best solution would be to make QR scanner as modal`

Do you have one of the devices where the problem was identified?

[2019-08-23 15:31] PfanP commented on #8139
Yes I have both iOS and Android

[2019-08-23 15:42] annadanchenko opened #8830 ""error No matching clause:offline" and white screen if try to open 1:1 chat [only on iOS]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: only on iOS: user can't open 1:1 chat because of `error No matching clause:offline`, after closing the popup app is not usable as it shows empty white screen, so relaunch is needed. After this 1:1 chat can't be opened again even if app is online.

Assumption: To get the error user needs to move app on background

[2019-08-23 16:57] churik opened #8831 ""No protocol method ISet" error when unblock non-contact [IOS only]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*:  at attempt to unblock user who is not added to your contacts, got an error: "No protocol method ISet"  on IOS. It is working as expected on Android - no error.
The issue is not reproducible after relogin.

#### Expected behavior
no error

#### Actual behavior
![photo_2019-08-23 18 44 36](https://user-images.gith

[2019-08-24 09:45] yenda commented on #8829
It seems like we need a signal from status-go that the login failed. I created an issue there https://github.com/status-im/status-go/issues/1583

[2019-08-24 10:17] yenda commented on #8806
@churik do you mean create account or create multiaccount?

[2019-08-24 10:20] yenda commented on #8830
This should be fixed in #8832 because sync-data is not modified anymore (it isn't even useful when using rpc which is the only thing that is usable right now in the app). I wonder why only iOS has this issue though, but I think the cause was that sync-data was set to :offline and it is not a case supported by the subtitle for one to one chat which used to display the network syncing status.

[2019-08-24 16:10] andrew-healey commented on #8516
Yes I am, thanks!

[2019-08-24 16:53] yenda commented on #8759
@asemiankevich can you reproduce in develop even if you logout/login after adding the new account? I fixed that in #8832 but it still need a fix in status-go for not having to relogin

[2019-08-24 19:00] mainrs commented on #7968
Would you mind closing the issue on Gitcoin?
https://gitcoin.co/issue/status-im/status-react/7968/2796

[2019-08-24 23:48] yenda commented on #8831
I can reproduce on Android:
- create account
- join #status
- block first user
- go to profile contacts blocked
- unblock

[2019-08-25 09:04] yenda commented on #8771
Is this still happening? I can't reproduce

[2019-08-25 09:06] yenda commented on #8760
Is this still relevant?

[2019-08-25 16:51] elegant651 opened #8834 "Error: fsevents unavailable (this watcher can only be used on Darwin)"
# Problem

I've got error as Error: fsevents unavailable (this watcher can only be used on Darwin) once building process has finished.

## Implementation

Pulled new code from develop branch.
$ make react-native-android
Sometimes it shows error about fsevents

Error: fsevents unavailable (this watcher can only be used on Darwin)
...

environment:
mac OS Mojave(10.4.14)
node : v10.8.0
npm : v6.4.0

[2019-08-26 03:25] elegant651 commented on #8834
It resolved : try reinstall watchman library

$ npm r -g watchman
$ brew install watchman

[2019-08-26 03:25] #8834 closed, assigned to nobody

[2019-08-26 07:50] asemiankevich commented on #8760
@yenda i was able to reproduce it in today's nightly, so yes.

[2019-08-26 07:51] asemiankevich commented on #8771
i can't reproduce manually but sometimes autotests could repro it.

[2019-08-26 08:03] #8831 closed, assigned to nobody

[2019-08-26 09:16] yenda commented on #8760
Yes I saw that sorry I fixed it in the PR

[2019-08-26 09:52] #8635 closed, assigned to nobody

[2019-08-26 10:18] #8734 closed, assigned to nobody

[2019-08-26 10:18] #8807 closed, assigned to cammellos

[2019-08-26 13:44] asemiankevich opened #8837 "Save Password prompt when adding new account on IOS"
# Problem

iOS 13 Beta 4 asks user to Save password when signing transaction.
It could be considered as possible security breach.

![image](https://user-images.githubusercontent.com/28752642/63695122-a5579580-c820-11e9-848d-96afe98ba3b9.png)

## Steps

- use iOS 13
- open status
- sign transaction

@rachelhamlin  @corpetty @flexsurfer

[2019-08-26 15:18] corpetty commented on #8837
Yes let's remove this option pls.

[2019-08-26 15:55] #8743 closed, assigned to nobody

[2019-08-26 16:16] PfanP commented on #8139
I am working on it now

[2019-08-27 03:01] bitsikka commented on #8806
I came across "Unknown in Profile" part of the issue doing simply this

- create account and log in (profile behaves as it should)
- log out and log back in
- scroll down in profile to reveal profile header in toolbar position (profile shows blank pic shifted down with "Unknown" for name

I found it while testing/iterating/developing PR #8825 , bothered me very much since I am partly responsible :

[2019-08-27 07:59] #8827 closed, assigned to nobody

[2019-08-27 08:10] asemiankevich opened #8840 "Save password is unavailable when log in via deep link"
# Problem

`Save password is unavailable. Your device may be rooted or lacks necessary security features` when opening deep link

![image](https://user-images.githubusercontent.com/28752642/63753074-0b90f680-c8bb-11e9-9eaf-6d52579f6c47.png)

## Steps

- install status and close
- in browser access https://get.status.im/browse/status-im.github.io/dapp -> select status app to open the link

https://

[2019-08-27 08:48] annadanchenko opened #8842 "Can't login after re-opening the app (only release build)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If use release build and create new account:
1. No + button (instead loading indicator is shown), Offline state is shown - even if wait for 5 mi

[2019-08-27 08:53] rachelhamlin commented on #8609
@yenda are the bugs you're working on wrt realm still relevant to this issue? Can we capture what you're working on in new ones and close this? 🙏

[2019-08-27 09:39] churik commented on #8710
Fixed in https://github.com/status-im/status-react/pull/8815 so is not reproducible on nightly 27/08/2019

[2019-08-27 09:40] #8710 closed, assigned to nobody

[2019-08-27 14:45] annadanchenko commented on #8842
fixed by https://github.com/status-im/status-react/pull/8843

[2019-08-27 14:45] #8842 closed, assigned to nobody

[2019-08-27 15:59] yenda commented on #8609
We can keep this issue open for now, right now I am not working on this, first I need these status-go issues to be solved:

https://github.com/status-im/status-go/issues/1578
https://github.com/status-im/status-go/issues/1579
https://github.com/status-im/status-go/issues/1581
https://github.com/status-im/status-go/issues/1582

Then I will create an issue to implement them based on how many status-

[2019-08-27 16:02] yenda commented on #8702
@cammellos I can assign the issue to myself and do the hashing on status-react side or do you still plan to do it

@corpetty can we use sha3 for web3.utils?

[2019-08-27 16:04] cammellos commented on #8702
up to you, is to be implemented in status-react, i am on some other tasks
now, but can pick up later if you have your plate full

On Tue, Aug 27, 2019, 18:02 yenda <notifications@github.com> wrote:

[2019-08-27 16:14] yenda commented on #8702
I can take it np

On Tue, Aug 27, 2019, 18:04 Andrea Maria Piana <notifications@github.com>
wrote:

[2019-08-27 16:16] jinhojang6 opened #8845 "Update list of public chats"
_Acceptance criteria added 31/10/19. Issue ready for pick-up._ [RH]

### Background

Status suggests a list of featured(selected) public chats as below. It will be the first screen for newcomers who want to hang out with existing Status communities.

<img src="https://user-images.githubusercontent.com/41753422/86476995-8bf97100-bd82-11ea-8bb5-9b5ff72eb066.jpeg" height="400px" alt="publc_chats">

#

[2019-08-27 16:58] hesterbruikman opened #8846 "Copy updates for consistency"
In V1 we transition to some new terminology. On most screens, this new copy is included in the latest develop builds. However, some places that have not been touched for V1 might still include old copy that needs to be updated. This includes:
- Permission dialogs
- Permission settings
- Ohter screens. This issue requires a review of other places where this terminology is not consistent.

#### Chan

[2019-08-27 17:00] hesterbruikman commented on #8846
cc @annadanchenko @andmironov @rachelhamlin (could make a good beginner bounty)

[2019-08-28 07:21] flexsurfer opened #8849 "Use node-qrcode instead of react-native-qrcode"
# Problem
react-native-qrcode uses webview to render codes, but in the latest RN webview is not supported anymore, and also using webview for rendering images doesn't look good, it takes some time to initialize webview and then render image, we have a visual glitch in the UI

## Implementation
Use node-qrcode to generate image/png and render it with react native image component

[2019-08-28 08:59] #8321 closed, assigned to flexsurfer, rachelhamlin

[2019-08-28 11:19] asemiankevich opened #8851 "Back button is not active on Recover a key stored on keycard screen"
# Problem

Build-in in-app button at the top left is not active, so tapping it does not redirect me to the previous screen.

![image](https://user-images.githubusercontent.com/28752642/63851346-cf36c680-c99e-11e9-9525-63d125cdaae5.png)

## Steps

1. open Status
2. tap Access key
3. select Recover with Keycard
4. tap in-app Back button at the top left

[2019-08-28 11:27] asemiankevich opened #8852 "Endless spinner on recovery"
# Problem

Endless spinner on recovery account

![image](https://user-images.githubusercontent.com/28752642/63851900-c692c000-c99f-11e9-8a0a-aceb1cea08c1.png)

## Steps

1. open status
2. recover known account with pass phrase

## Logs

[code]

Device: Android 8, Huawei P10 Lite
Build: nightly 1228 28-Aug-2019 https://status-im.ams3.digitaloceanspaces.com/StatusIm-190828-025900-78754d-nightly.apk

[2019-08-28 11:31] asemiankevich commented on #8852
@dshulyak @yenda any ideas?

[2019-08-28 11:33] yenda commented on #8852
not related to status-go, I will look into it

[2019-08-28 11:50] rachelhamlin opened #8853 "Change Whisper ID associated with an ENS name"
### User Story

As a beta user, I would like to verify my pre-owned ENS names in v1 (multi-account) and update my Whisper ID.

### Description

*Type*: Feature

*Summary*:

**Scenario 1**
Right now, you can not change the Whisper ID associated with an ENS name in the Status app. In v1, every user will have a new Whisper ID.

For those who import their old accounts via seed phrase, we will offer th

[2019-08-28 13:08] churik commented on #8852
Can't reproduce with https://status-im.ams3.digitaloceanspaces.com/StatusIm-190828-025900-78754d-nightly.apk build on Android 8, LG V20.
Account restoring working fine in e2e tests, so seems that can be account or device specific.

[2019-08-28 14:12] churik opened #8854 "Finish "Show my ENS name in chat" setting in user profile"
### Description
_Type_: Feature
_Summary_: according to ENS call today (notes are [here](https://notes.status.im/DRZxyjWyQc6o_F32uSCaLg)) "Show my ENS name in chat" setting is not related to user nickname and should be applicable for all types of chats and user profile view regardless of the fact user was added to contacts or not.
So, based on https://github.com/status-im/status-react/issues/8765

[2019-08-28 14:12] churik commented on #8765
closing this one and open https://github.com/status-im/status-react/issues/8854

[2019-08-28 14:12] #8765 closed, assigned to nobody

[2019-08-28 14:12] churik commented on #8854
@errorists - please, review it - everything is correct here?

cc @rachelhamlin

[2019-08-28 14:21] rachelhamlin commented on #8609
@dshulyak I know you're assigned to all these go issues, but just want to confirm - are they WIP? adding to wrike.

[2019-08-28 14:31] rachelhamlin commented on #8660
@b-m-f apologies, been on vacation, but if you're still game, you're approved 👊🏼

[2019-08-28 14:33] rachelhamlin commented on #8635
@MajorTomSec apologies for my delay, was on vacation - but I've just paid you out. Thanks for your great work.

[2019-08-28 14:49] #8759 closed, assigned to nobody

[2019-08-28 14:49] #8802 closed, assigned to nobody

[2019-08-28 14:49] #8760 closed, assigned to nobody

[2019-08-28 14:49] #8830 closed, assigned to nobody

[2019-08-28 15:29] b-m-f commented on #8660
Hey @rachelhamlin, cheers. Will start on this Saturday. Hope that fits in your timeline!

[2019-08-28 16:05] rachelhamlin commented on #8660
@b-m-f that'll be great - thanks!

[2019-08-29 06:37] lastmjs opened #8856 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file for GitHub Sponsors. This would allow a canonical address to send funds to. For example, I'm building a project that allows developers to setup one recurring donation that is split between all of their dependencies with an Ethereum address: https://sustainus.io

[2019-08-29 06:57] elegant651 opened #8857 "Change share message when inviting friends"
# Problem

Currently, just show simple message as "Get Status at http://status.im" when inviting friends.

![Screenshot_1566975102](https://user-images.githubusercontent.com/3349973/63916163-cc0d0a80-ca72-11e9-85b8-9a25ca87d390.png)
![Screenshot_1566975111](https://user-images.githubusercontent.com/3349973/63916165-ce6f6480-ca72-11e9-9d08-433584692f55.png)
![Screenshot_1566975195](https://user-ima

[2019-08-29 06:58] #8721 closed, assigned to nobody

[2019-08-29 08:15] annadanchenko commented on #8814
on nightly from Aug 29 there is geth.log created, so closing this issue (Pixel XL, Android 9)

[2019-08-29 08:15] #8814 closed, assigned to nobody

[2019-08-29 08:38] asemiankevich commented on #8818
can't reproduce anymore

[2019-08-29 08:51] asemiankevich commented on #5301
no longer valid

[2019-08-29 08:51] #5301 closed, assigned to nobody

[2019-08-29 08:54] Serhy opened #8860 "No PN for new messages received in 1-1 chat"
***Type***: BUG

***Summary***: There are no Push Notifications appear for the received message in 1-1 chat when app on background or when it's closed. Both iOS and Android affected.

#### Expected behavior

PN appears when message received in 1-1 chat from the contact in my contact list while app on background/closed

#### Actual behavior
No PN appears when message received in 1-1 chat from the c

[2019-08-29 08:57] asemiankevich commented on #5348
removed by redesign

[2019-08-29 08:57] #5348 closed, assigned to nobody

[2019-08-29 08:58] asemiankevich commented on #5949
no commands in chats now

[2019-08-29 08:58] #5949 closed, assigned to nobody

[2019-08-29 08:58] asemiankevich commented on #6418
no commands in chats now

[2019-08-29 08:58] #6418 closed, assigned to nobody

[2019-08-29 09:02] asemiankevich commented on #6513
looks okay now

[2019-08-29 09:02] #6513 closed, assigned to nobody

[2019-08-29 09:03] asemiankevich commented on #6842
Gone by redesign

[2019-08-29 09:03] #6842 closed, assigned to nobody

[2019-08-29 09:29] asemiankevich commented on #7016
can't reproduce anymoe

[2019-08-29 09:29] #7016 closed, assigned to nobody

[2019-08-29 09:31] asemiankevich commented on #7427
no longer present

[2019-08-29 09:31] #7427 closed, assigned to nobody

[2019-08-29 09:33] asemiankevich commented on #7428
no longer present

[2019-08-29 09:33] #7428 closed, assigned to nobody

[2019-08-29 09:33] asemiankevich commented on #7621
should be retested once we have final keycard build, but for now it is much better

[2019-08-29 09:33] #7621 closed, assigned to churik

[2019-08-29 09:37] asemiankevich commented on #7823
no longer valid with multiaccount redesign

[2019-08-29 09:37] #7823 closed, assigned to nobody

[2019-08-29 09:38] asemiankevich commented on #8016
can't reproduce anymore

[2019-08-29 09:38] #8016 closed, assigned to adambabik

[2019-08-29 09:39] asemiankevich commented on #8076
sync should support only 3 devices so its more a limitation

[2019-08-29 09:39] #8076 closed, assigned to nobody

[2019-08-29 09:40] asemiankevich commented on #8144
need to re-test with whole keycard flow, also we had a redesign

[2019-08-29 09:40] #8144 closed, assigned to nobody

[2019-08-29 09:41] asemiankevich commented on #8157
can't reproduce anymore

[2019-08-29 09:41] #8157 closed, assigned to nobody

[2019-08-29 09:41] #8162 closed, assigned to antdanchenko

[2019-08-29 09:41] #8190 closed, assigned to nobody

[2019-08-29 09:42] asemiankevich commented on #8197
stickers install is removed on test net

[2019-08-29 09:42] #8197 closed, assigned to nobody

[2019-08-29 09:43] #8200 closed, assigned to nobody

[2019-08-29 09:59] annadanchenko commented on #8550
currently blocked by https://github.com/status-im/status-react/issues/8860 - as we stopped getting PNS at all, so can't get to the state when this #8550 can happen

[2019-08-29 10:10] rachelhamlin commented on #8325
@churik to clarify - can you not continue with the `report a bug` option here?

[2019-08-29 10:12] churik commented on #8325
@rachelhamlin no, I can't. If I tap 'report a bug', error appears again.
So it makes impossible to send logs / report error when you are logged out.

[2019-08-29 10:20] vitvly commented on #8708
@Serhy Could not reproduce this on latest develop. Both when opening from task list, and via clicking on the app icon.

[2019-08-29 10:24] #8070 closed, assigned to nobody

[2019-08-29 10:25] rachelhamlin commented on #8730
Is this happening on specific builds or platforms @asemiankevich? The keyboard appears in these scenarios for me on iOS nightly (v 0.14.0 2019072409). Does it completely block you from accessing your key, backing up, etc.?

[2019-08-29 11:21] #8136 closed, assigned to nobody

[2019-08-29 11:23] #8088 closed, assigned to nobody

[2019-08-29 11:34] annadanchenko opened #8865 "Text in the input field is lost if navigate from Chat to Chats and back"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Input field contains no text if type some text and then navigate back to Chats and return back to Chat. In 0.13.0 version input field contains t

[2019-08-29 11:34] flexsurfer commented on #8551
1) image is cut
![image](https://user-images.githubusercontent.com/11790366/63937021-20f85300-ca6a-11e9-8689-ea8634b5422b.png)

2)labels overlap
![image](https://user-images.githubusercontent.com/11790366/63937031-25bd0700-ca6a-11e9-9e79-c5e3930b7089.png)

[2019-08-29 11:42] #8152 closed, assigned to nobody

[2019-08-29 11:43] flexsurfer commented on #8153
@yenda any updates for this issue?

[2019-08-29 11:52] Serhy commented on #8708
@siphiuel that strange. Reproducible for me on real devices with Android 8.1 and Android 9.
Latest develop nightly build: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190829-025900-7c7eb0-nightly.apk

![1231233dded](https://user-images.githubusercontent.com/8749671/63937893-33738c00-ca6c-11e9-80a7-e5a29b84b7ac.gif)

[2019-08-29 11:54] bitsikka opened #8866 "Fiddle - icon images, fonts are not loading, and console errors"
# Problem

In an attempt to add more cases for `list-item` ran into some problems
- icon images are not loading
- fonts rendered is default `Serif` font
- browser console errors

cc @flexsurfer

------
![screencapture-localhost-9500-2019-08-29-17_24_33](https://user-images.githubusercontent.com/42058840/63938114-c4a22d00-ca83-11e9-8ef8-2ebbdfe814fd.png)
------
![Screen Shot 34](https://user-images

[2019-08-29 11:54] churik commented on #7270
cc @rachelhamlin - it is supervisible for all users, and it was reported several times in `#status` channel

[2019-08-29 12:12] Serhy opened #8867 "App crashes all the time on login if change network while DataSync enabled"
***Type***: Bug

***Summary***: When user has enabled DataSync and then switching to different network - there is no way to login to account after. Status crashes all the time after entering valid password.
Can create new account or recover different account, but no way to login to the one who changed network while DataSync enabled

Not reproducible with iOS but only Android.

#### Expected behavi

[2019-08-29 12:18] bitsikka commented on #8865
It is possible it got broken after this PR that I made https://github.com/status-im/status-react/pull/8589 a while back. I had to touch on search bar on that PR as it was interacting with network status display. As it was secondary to the issue I was fixing, I did not pay so much attention to search bar.

This issue is probably also related https://github.com/status-im/status-react/issues/8662

Th

[2019-08-29 12:30] rachelhamlin commented on #6946
Requesting @cammellos or @adambabik to take a look into this one to see if it's a) a go fix and b) a straightforward one 🤞

[2019-08-29 12:31] rachelhamlin commented on #8813
Requesting @cammellos or @adambabik to take a look into this to see if it's a go fix.

[2019-08-29 12:33] rachelhamlin commented on #8806
Legend @bitsikka!!

@churik can you confirm that this is fixed by PR [8825](https://github.com/status-im/status-react/pull/8825) and close if so?

[2019-08-29 12:41] cammellos commented on #6946
it's a status react fix, i can take a look at it

[2019-08-29 12:51] rachelhamlin commented on #7785
@yenda @bitsikka has his eye on this one and can do it quick so I'll take it off your plate and put a bounty on for him muchas gracias

[2019-08-29 13:00] rachelhamlin commented on #6946
@cammellos if you can fix it, lmk but I wouldn't put it above other v1 related work.

[2019-08-29 13:02] cammellos commented on #6946
it s  a quick fix, we never got around it as it might break data compatibility, but we are past that point

[2019-08-29 13:06] flexsurfer commented on #8866
thanks! errors is fine :) to have icons you need to run `clj prepare.clj`

[2019-08-29 13:07] flexsurfer commented on #8866
i'm not sure about fonts , they should be loaded from here https://rsms.me/inter/inter.css, can you access this url?

[2019-08-29 13:19] bitsikka commented on #8866
got it 👍

Re: errors I think we can get rid of some like i18n by adding in deps.edn or something- going to try it - I required it in `list-item` namespace for convenience

btw - I can kind of see where this is going `status-react-web` 😄 would be so awesome!

[2019-08-29 13:21] bitsikka commented on #8866
it loads up fine on the browser when I click on it. Maybe if I get rid of as many errors as possible it will help.

Maybe also CLJS Webtools chrome extension is messing it. Will disable it and try again in leisure.

[2019-08-29 13:22] bitsikka commented on #7785
thanks! @rachelhamlin I'm on it

[2019-08-29 13:30] vitvly commented on #8708
@Serhy Could reproduce it on a real device using the nightly as well! I've tried on emulator before. However, it does not happen to me always - sometimes clicking on an app from task list goes well without errors.

Pushed a tentative "fix" for this in https://github.com/status-im/status-react/pull/8868. Seems that it is caused by the react-native-screens library we use for smoother animations. Wil

[2019-08-29 13:38] asemiankevich commented on #6839
@rachelhamlin can we consider this?

[2019-08-29 13:54] #8849 closed, assigned to nobody

[2019-08-29 14:08] jfarid27 commented on #8653
Still seeing this issue. It looks like on first load after the mailserver is running it's totally fine, but after closing the app for a while and coming back, the error pops up. I don't really have good numbers on what messages were lost, but it looks like I can't fetch messages once the range error happens. I took a look at the docker logs and I'm seeing this message as well.

![Screenshot from 2

[2019-08-29 14:55] annadanchenko opened #8869 ""Fetch more messages" is disabled after log in/log out"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "Fetch more messages" for yesterday's date in chat is disabled after user logs out and logs in again
![Screenshot_20190829-164829_Status](https:

[2019-08-29 15:35] churik commented on #8806
@bitsikka thanks a lot!
Tested both scenarios and can't reproduce anymore.

[2019-08-29 15:35] #8806 closed, assigned to yenda

[2019-08-29 15:37] rachelhamlin commented on #6839
Adding to nice-to-have list, not blocker :)

[2019-08-29 16:50] adambabik commented on #8813
I need to first fix https://github.com/status-im/status-go/issues/1591. It looks like we either do not expose `web3` API module from status-go or it does not respond properly.

[2019-08-30 03:30] bitsikka commented on #8561
I might have broken it in one PR(in which I was careless about changing global used code related to icon) and fixed it in another(fixed it when I realized the mistake). I can't see this problem anymore.

[2019-08-30 06:23] flexsurfer commented on #8616
@asemiankevich could you confirm this is done?

[2019-08-30 06:23] #8616 closed, assigned to nobody

[2019-08-30 06:27] asemiankevich commented on #8616
@flexsurfer i havent seen this beta warning since it was removed several weeks ago.

[2019-08-30 07:14] adambabik commented on #8813
[code]
`web3` needs to be enabled in the `APIModules` in the config. However, if we turned it off due to security reasons, we may need to provide our own implementation in order not to turn the whole module on.

Let me know how the version is currently retrieved from the node.

[2019-08-30 08:15] annadanchenko commented on #8564
still can repro on nightly August 29 build (Android 9, Pixel XL), so adding to v1 release scope

[2019-08-30 11:57] annadanchenko commented on #8846
@rachelhamlin I would really like to add it to v1 scope not to confuse users with different words for the same term in UI

[2019-08-30 12:46] #8492 closed, assigned to nobody

[2019-08-30 13:47] asemiankevich opened #8875 "[Type a message] placeholder for Account added screen is misleading"
# Problem

`Type a message` placeholder looks odd for account name. Please change to more appropriate copy and get back [Account 1] autofill

## Steps

1. open status
2. open wallet
3. add account

![image](https://user-images.githubusercontent.com/28752642/64025518-853c1500-cb45-11e9-8f95-e95d6425d023.png)

[2019-08-30 14:37] asemiankevich opened #8877 "Account balance is not recalculated without relogin if sending all available tokens amount"
# Problem

I have ETH > 0 to pay for gas
I have 100 STT on my balance for Status account
I have Account 1 added to my multiaccount

If i send 1000 STT (all the amount i have) from Status account to my Account 1, i can see the that amount is duplicated in Total balance, as well as Status account is not deducted with this 1000 STT.

![image](https://user-images.githubusercontent.com/28752642/6402918

[2019-08-30 14:57] annadanchenko commented on #8846
Updated description to change occurrences of "PIN" and "6-digit code" to "6-digit passcode" (based on conversation with Hester)
<img width="1148" alt="Screen Shot 2019-08-30 at 16 00 34" src="https://user-images.githubusercontent.com/6584810/64030554-1fe92380-cb47-11e9-990e-c4eef7a94b2a.png">

[2019-08-30 15:29] rachelhamlin commented on #8846
Thanks @annadanchenko!

For the developer: I don't believe we should capitalize nouns in the app. For example, in a sentence, `Chat key` should read as `Your chat key will be linked`. Same for seed phrase, passcode, account, etc.

[2019-08-30 15:37] StatusSceptre commented on #8846
Hey, great to see you back, @MajorTomSec! I left one further instruction in [this comment](https://github.com/status-im/status-react/issues/8846#issuecomment-526645032) as well.

[2019-08-30 16:12] churik opened #8878 "Fix `'NoneType' object` errors in e2e"
Sometimes e2e are failed with  `'NoneType' object ...`error.
I suppose that the reason is that we don't wait enough to get some element, so need to add retry with attempts in these places or waiting for a particular element.
- [ ] 1) `'NoneType' object has no attribute 'click'`
`Next`  in SignUp
Test example: https://ethstatus.testrail.net/index.php?/tests/view/838112
- [ ] 2) `'NoneType' object h

[2019-08-30 16:26] #8860 closed, assigned to nobody

[2019-08-31 12:34] b-m-f commented on #8660
Hi @rachelhamlin, opened a PR at https://github.com/status-im/status-react/pull/8880

[2019-09-02 09:20] rachelhamlin commented on #8813
cc @flexsurfer

[2019-09-02 09:34] #7270 closed, assigned to nobody

[2019-09-02 10:06] asemiankevich commented on #8852
same error when creating account with keycard in nightly

[code]

[2019-09-02 10:51] andmironov commented on #8691
Hey! What about informing about a "special" transaction like this?

On the left – not enough ETH to pay the network fee error. On the right – a special transaction with enough ETH to pay the network fee.

Also, I'm not sure I've understood the problem 100% :-)

<img width="824" alt="Screen Shot 2019-09-02 at 13 51 08" src="https://user-images.githubusercontent.com/3115606/64109672-c8d29100-cd88-11

[2019-09-02 11:06] rachelhamlin commented on #8813
@corpetty can you take a look at this? I don't think it's required for the code freeze but it was tagged as such so I want to make certain with you.

[2019-09-02 12:58] rachelhamlin opened #8882 "Small copy tweak to v1 notification"
# Problem

We want to mention in [this banner](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding), with minimal words, that a user's contact code will also change in v1.

## Implementation

<img src="https://user-images.githubusercontent.com/15470435/64116238-ae4ce780-cd89-11e9-9af0-fdfed4722d3c.png" width=200/>

Change this line from:

`Updating to 1.0 will result in a loss of access

[2019-09-02 13:02] rachelhamlin opened #8883 "Create 0.13.2 with v1 warning only"
# Problem

To spread the word about v1 as much as possible, we want to release [this banner & v1 notification](https://github.com/status-im/status-react/pull/8599) in a build on the latest beta release for iOS (0.13.1). Android not possible due to 64 bit issue.

## Implementation

Isolate [this banner](https://github.com/status-im/status-react/pull/8599) with [copy change](https://github.com/statu

[2019-09-02 14:02] andmironov opened #8884 "Network indicator in transaction overview"
Let's show an additional list item in the transaction overview modal when the network is not "Mainnet" with a tappable question mark icon and a popup on top.

<img width="834" alt="Screen Shot 2019-09-02 at 16 59 32" src="https://user-images.githubusercontent.com/3115606/64119803-57540c00-cda3-11e9-948a-cbf81bcf8082.png">

FIGMA https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?nod

[2019-09-02 14:22] andmironov opened #8885 "Tap on "inner" screen icon to go back to the "main" screen or scroll to top"
Let's make it possible to tap on the "current screen" icon and make it functional.

If you are on an "inner screen" (icon has no text label) and tap on the icon:

- **If the screen is scrolled down**: the screen is scrolled to the top;
- **If the screen is too small to be scrolled (fits viewport) or is scrolled to top already** – goes back to the "main screen" (which has the text label). Skips all

[2019-09-02 14:26] flexsurfer commented on #8884
cc @rachelhamlin

[2019-09-02 15:17] Serhy opened #8886 "App crash when tap 'Send message' in user profile opened from group chat info view"
***Type***: Bug

*Summary*: App crashes with `TypeError: null is no an object (evaluating 'b.g')` when navigation to 1-1 with user should happen upon 'Send message' tap in user profile which was opened from Group Chat info screen.

#### Expected behavior
1-1 chat view opened

#### Actual behavior
App crashed with `TypeError: null is no an object (evaluating 'b.g')`

<img width="351" alt="Screensho

[2019-09-02 15:50] #7785 closed, assigned to nobody

[2019-09-02 19:48] webmaster128 opened #8889 "Status for desktop does not start when port 5000 is in use"
When a different application is running on port 5000 already, Status desktop does not start. Instead it either hangs in this screen or does not even show a screen. It does neither crash nor show an error message.

<img width="1136" alt="Bildschirmfoto 2019-09-02 um 21 35 52" src="https://user-images.githubusercontent.com/2603011/64131578-c6dcf200-cdc9-11e9-84f6-31dc1623fc25.png">

## How to reprod

[2019-09-03 07:21] churik commented on #8889
you can start it on custom port.
For Mac OS:
[code]
It was implemented in https://github.com/status-im/status-react/pull/6666

[2019-09-03 08:31] vkjr opened #8892 "Desktop can't be built in dev mode"
# Problem

Can't locally build latest develop for desktop.

## Implementation

## Acceptance Criteria

Status-react desktop can be built

[2019-09-03 08:37] StatusWrike commented on #8310
➤ Guy-Louis Grau commented:

Dmitry, can this one be closed ?

[2019-09-03 09:03] #8660 closed, assigned to nobody

[2019-09-03 09:05] churik commented on #8772
Also reproducible with:
1) Open Status
2) Open "Scan QR code"
3) Tap "Back" button on the top of the screen

[2019-09-03 09:16] #8310 closed, assigned to nobody

[2019-09-03 10:26] rachelhamlin commented on #7197
@speedyFixer are you still interested and available to work on this issue? Just assigned you! Apologies for delay.

[2019-09-03 10:27] rachelhamlin commented on #8516
Hey @Sesamestrong! You still on this one?

[2019-09-03 10:40] rachelhamlin commented on #8139
Hey @nguyen-coding-c! How's this coming, are you still working on it?

[2019-09-03 10:43] rachelhamlin commented on #8727
@acolytec3 still interested in this bounty? I've approved you - have a go if so!

[2019-09-03 10:45] rachelhamlin commented on #4606
@thecyberd3m0n I know it's been ages - but are you still interested in this bounty? I'm cleaning up all our bounties now and would love to have you take a stab if so.

[2019-09-03 10:46] rachelhamlin commented on #8349
@sanchaymittal hey there, I'm cleaning up all of our bounties. Would you still be interested in trying this one?

[2019-09-03 10:49] thecyberd3m0n commented on #4606
I'm sorry I missed some notifications from Github (it's spamming a lot). Yes. I'll try to do it.

[2019-09-03 10:52] sanchaymittal commented on #8349
@rachelhamlin Sure, I would like to complete the task. But will it be cool if I take some time? Right now I'm working on ethereal bounties.

[2019-09-03 10:53] rachelhamlin commented on #7633
Hey @kilimanjaro2 I know this is from ages ago, but if you have bandwidth & are interested, I've just approved you to work on this bounty.

[2019-09-03 10:56] rachelhamlin commented on #7697
Apologies for the long delay here @mikegsus and @keheira - I'm cleaning up bounties. Would one of you still want to take this one?

[2019-09-03 11:02] rachelhamlin commented on #5242
@skeptycal it's been a good and long time since you showed interest on this, but I'm going through and cleaning up all our old bounties now. Would you still care to take a shot at it? Sorry to have left you hanging there.

[2019-09-03 11:05] rachelhamlin commented on #6433
Hey @xiaods I'm going through and cleaning up old Status bounties. I suspect this one is still an issue though haven't verified. If you're interested, we can put you on it. Let me know :)

[2019-09-03 11:05] churik commented on #7215
Still reproducible (IOS 11.4.1., nightly 03/09/2019)
![IMG_570017C57F92-1](https://user-images.githubusercontent.com/4557972/64168244-62fb0d80-ce4b-11e9-94a6-e9f112600b55.jpeg)

[2019-09-03 11:09] rachelhamlin commented on #8349
@sanchaymittal Yup - we're not in a huge rush. I'd say to get cracking within ~6 weeks would be great. I actually can't assign it to you in Gitcoin right now. You may need to reapply, or I can invite you. When might you like to start?

[2019-09-03 11:11] churik commented on #8349
@rachelhamlin @sanchaymittal there is no commands in chat anymore temporary for V1 - so I'm not sure how to deal with such bounties

[2019-09-03 11:11] rachelhamlin commented on #4606
@thecyberd3m0n nah, nothing missed - just on our side :) You're approved so let us know if you have any questions. Thanks!

[2019-09-03 11:13] acolytec3 commented on #8727
Awesome, will get to work on it.

On Tue, Sep 3, 2019, 6:43 AM Rachel Hamlin <notifications@github.com> wrote:

[2019-09-03 11:13] rachelhamlin commented on #8349
Oh yeah, good catch @churik, thanks for stepping in. @sanchaymittal let's actually punt on this one. We'll bring commands back later but it's not necessary to work on anything related to them now. I'm putting similar bounties up so if you're interested in other work with us please check back :)

[2019-09-03 11:14] rachelhamlin commented on #8727
@acolytec3 sweet - thanks! let us know if you need anything.

[2019-09-03 11:17] rachelhamlin commented on #8884
I like the idea @andmironov - what inspired it? Does it come out of a problem observed somewhere? Not sure how to prioritize.

[2019-09-03 11:20] thecyberd3m0n commented on #4606
it will take me about the week

[2019-09-03 11:21] rachelhamlin commented on #4606
Sounds good.

[2019-09-03 11:22] speedyFixer commented on #7197
Hi @rachelhamlin , I'm traveling, I will go back on Saturday, so I will can tackle all of this on Sunday. Is It OK?

[2019-09-03 11:26] cammellos commented on #8867
@Serhy this should be fixed in develop, thanks!

[2019-09-03 11:35] rachelhamlin commented on #7197
@speedyFixer sure! I'll make a note to follow up next week. You have the go-ahead on Gitcoin.

[2019-09-03 11:35] flexsurfer commented on #8884
we had network prompt before in the wallet, and we lost it in the new sign transaction flow, but it looks dangerous for the user, because he doesn't know in which network he is signing transaction. so better to show this information

[2019-09-03 11:35] StatusWrike commented on #8884
➤ Andrei Mironov commented:

thanks! not really, i was just revisiting the transaction overview modal while working on
https://www.wrike.com/open.htm?id=389379190 and realized this is missing. I can recall a lot of requests fro the QA team to explicitly mention the network when it comes to sending transactions, I guess someone from the QA team can provide use cases/problems that this can solve.

[2019-09-03 11:38] flexsurfer commented on #8884
but it's getting noisy , maybe we could show only for testnets this item,  and nothing for mainnet, wdyt @andmironov ?

[2019-09-03 11:57] speedyFixer commented on #7197
Great! :)

[2019-09-03 12:03] Serhy commented on #8867
Indeed @cammellos! Can't reproduce anymore with both iOS and Android develop builds (messaging keep working as well disregard the network user is connected to)
Closing the issue

[2019-09-03 12:03] #8867 closed, assigned to nobody

[2019-09-03 12:06] StatusWrike commented on #8884
➤ Andrei Mironov commented:

absolutely! forgot to mention that it was the idea: show it only on test networks.

Also, re: noisiness, i'll prep up a transaction overview screen with hidden fields as an experiment.

[2019-09-03 12:16] StatusWrike commented on #8884
➤ Andrei Mironov commented:
<img width="375" alt="Details" src="https://user-images.githubusercontent.com/3115606/64177508-4faa6b00-ce68-11e9-8f33-107e43779b0b.png">

just fyi, not sure if we should do this

[2019-09-03 12:18] #8892 closed, assigned to nobody

[2019-09-03 12:18] vitvly commented on #8561
@asemiankevich can you still reproduce it on nightly?

[2019-09-03 12:43] vkjr commented on #8889
@flexsurfer , I think we can implement popup dalog on Qt side that shows to user information about  occupied port and instructions on how to change it with export commands above, wdyt?

[2019-09-03 12:48] flexsurfer commented on #8889
@vkjr is it related to ubuntu? realm will be removed soon, so we will not have this port anymore right?

[2019-09-03 12:54] rachelhamlin commented on #8447
After the discussion on this post and in Status, I'm going to remove the Pinterest style transition from this issue and make it its own. Not sure it is possible with React Native.

[2019-09-03 12:58] rachelhamlin opened #8896 "Pinterest style transitions for account explorer"
# Problem

[This](https://github.com/status-im/status-react/issues/8447#issuecomment-515402346) is the desired behavior for the account explorer:

![image](https://user-images.githubusercontent.com/15470435/64175106-8e352b00-ce52-11e9-9b54-62d2cabdff85.png)

This is fairly complex and may not be possible with React Native.

## Acceptance Criteria

- Individual account animates open when selected.

[2019-09-03 13:00] asemiankevich commented on #8561
@siphiuel good call, its fine now

[2019-09-03 13:00] #8561 closed, assigned to nobody

[2019-09-03 13:35] rachelhamlin opened #8897 "Fix deprecated webview API issue"
# Problem

Not sure if this is a release blocker; docs do not detail when Apple will stop accepting use of this API.

[2019-09-03 13:39] sanchaymittal commented on #8349
Thanks @rachelhamlin, Surely I will look out for the opportunity next time.

[2019-09-03 14:01] vkjr commented on #8889
@flexsurfer, if we removed realm and will remove ubuntu-server then we won't face this problem.

[2019-09-03 14:16] rachelhamlin opened #8899 "Add empty state for collectibles on individual wallet screens"
# Problem

[This empty state](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=2840%3A55) for collectibles was recently implemented on the Account Overview screen:
<img src="https://user-images.githubusercontent.com/15470435/64180989-9ba3e280-ce5d-11e9-897a-f1e676fcdec1.png" width=200/>

But it does not appear in an individual wallet screen. Tap into a wallet to see the la

[2019-09-03 14:30] #8846 closed, assigned to nobody

[2019-09-03 15:43] andmironov commented on #8691
UPD
1. Not enough ETH to pay for the network fee;
2. Same as 1 but user taps on the (!) icon;
3. A special transaction

<img width="1004" alt="Screen Shot 2019-09-03 at 18 41 37" src="https://user-images.githubusercontent.com/3115606/64188142-7ec9d800-ce7a-11e9-8637-3a9a3982f886.png">

[2019-09-03 15:49] churik opened #8901 ""Null is not an object" crash when tapping on "Learn more" screen during onboarding"
### Description

*Type*: Bug
*Summary*: tapping on "Learn more" link during onboarding leads to crash (on "Choose key and name", "Select key storage")
For e2e it is required to add accessibility-id to this link to prevent this to happen in the future.

#### Expected behavior
no crash

#### Actual behavior
<img width="467" alt="cvxvc" src="https://user-images.githubusercontent.com/4557972/64188262-

[2019-09-03 15:50] churik commented on #8901
сс @rachelhamlin

[2019-09-03 16:15] asemiankevich opened #8902 "Can't add custom bootnode, toggle is broken"
# Problem

Can't add custom bootnode, toggle is broken

## Steps

1. open status
2. tap profile
3. tap advanced
4. tap bootnodes
5. tap toggle on/off -> toggle is NOT enabled
6. add a custom bootnode and save ( for example enode://a8a97f126f5e3a340cb4db28a1187c325290ec08b2c9a6b1f19845ac86c46f9fac2ba13328822590fd3de3acb09cc38b5a05272e583a2365ad1fa67f66c55b34@167.99.210.203:30404)

Actual result: bo

[2019-09-03 16:35] andmironov commented on #8691
Ok, had a chat with @flexsurfer and he explained it to me. So the error while calculating the transaction fee is an **indicator** of a **possible** error in the contract (we can't know what exactly is the error) and means that the user most likely should not send this transaction. But they still can. So this is what I suggest:

<img width="881" alt="Screen Shot 2019-09-03 at 19 33 34" src="https:/

[2019-09-03 16:38] flexsurfer commented on #8691
@andmironov looks good, but to sign anyway gas should be set first manually

[2019-09-03 17:51] hellocaio commented on #4102
hey @matte5031, same here, I emailed the document to them days ago, and now what? Did you figure it out?

[2019-09-03 18:02] matte5031 commented on #4102
@ColdTuna yes I did, they will not answer you. When answering the questions where you add the export compliance on the itunes connect there is a question where you're supposed to answer no instead of yes, or the opposite, don't remember and don't have it open. There you aknowledge that you have sent the documents to BIS and that you will do so yearly. In other words you don't need to upload any do

[2019-09-03 18:24] kilimanjaro2 commented on #7633
Hi Rachel.

I still want to get my hands dirty with open source contribution. Id like
to take this up.

On Tue, Sep 3, 2019 at 5:53 AM Rachel Hamlin <notifications@github.com>
wrote:

--

*Thank You*
*Arun H Garimella*

This Is Anfield
YNWA

[2019-09-03 21:32] webmaster128 commented on #8889
Thanks @churik for the workaround.

If this issue will be removed automatically, cool. Otherwise it would be nice if the application could automatically choose a free port.

[2019-09-04 06:06] errorists commented on #8447
@bitsikka hey, so a couple pointers, for the scroll transition you can recycle the toolbar you did for the profile. I might have used a[ different behaviour](https://user-images.githubusercontent.com/4932774/61945953-996a8080-afa1-11e9-9b87-6f55b3f80093.gif) when prototyping this (the text interpolates its size based on scroll position) but that's not really required, it can use the same go under

[2019-09-04 07:13] bitsikka commented on #8447
wonderful! :) appreciate your thoughtfulness. Although I've been studying and I am positive, Text scaling transform/interpolation is possible, it will be wise to maintain consistency.

Thank you for the awesome resource. I will master it and apply it here. I knew you wouldn't prototype something not possible :). After all, engineering is also art/design, and you are yourself excellent at it. I fig

[2019-09-04 07:55] andmironov commented on #8691
ok got it! Also, made a few changes and have a question:
since it takes time to check if the network fee is possible to calculate, should there be a loading state? Take a loot, from left to right.

<img width="1278" alt="Screen Shot 2019-09-04 at 10 54 53" src="https://user-images.githubusercontent.com/3115606/64236149-76b57b00-cf02-11e9-80bb-361583a63f15.png">

[2019-09-04 08:00] flexsurfer commented on #8691
looks good, but complex :)

[2019-09-04 08:02] andmironov commented on #8691
just as life is...

[2019-09-04 08:49] errorists commented on #8854
Correct! I think we can agree that his is common sense that we should not have inconsistencies in displaying usernames and whichever you selected (displaying ENS name or not) in the setting should populate everywhere a username is used. It's not merely a replacement for the current display name scheme, it's a new global identifier that you can choose to broadcast publicly or not.

[2019-09-04 08:52] errorists commented on #8854
@churik by the way a question if you will, in the latest Jenkins build, when I toggle 'Show my ENS username in chats' the preview below it doesn't update to match the setting, it always shows my random funny name, is that a known bug? it should show the ens username when toggled on.

[2019-09-04 09:07] churik commented on #8854
I'll add it to description. Thanks for noticing.

[2019-09-04 09:21] churik commented on #8818
Reproducible again on nightly 03/09/2019

[2019-09-04 09:26] #7212 closed, assigned to nobody

[2019-09-04 09:28] rachelhamlin commented on #7633
@kilimanjaro2 great! You can take a look at the PR from shamardy that was not finished - hopefully not too difficult to complete. Let us know if you have any questions.

[2019-09-04 09:29] #7860 closed, assigned to nobody

[2019-09-04 09:29] rachelhamlin commented on #8485
Happy to see you back @MajorTomSec! 🙌 I approved you for this bounty. Let us know if you need anything here.

[2019-09-04 09:32] rachelhamlin commented on #8899
@alexjg awesome, welcome aboard. :) Let us know if you run into any issues.

[2019-09-04 09:33] andmironov commented on #8691
UPD

<img width="1000" alt="Screen Shot 2019-09-04 at 12 34 30" src="https://user-images.githubusercontent.com/3115606/64243649-5e4c5d00-cf10-11e9-829d-05628b35c580.png">

I just realized after talking to Simon and discussing the transaction overview from another perspective, that a transaction interaction should be a special type of transaction, with not too many fields. This makes it look cleane

[2019-09-04 09:36] alexjg commented on #8899
Thanks! I'll get cracking :)

[2019-09-04 09:38] rachelhamlin commented on #8691
Love the gate keeping with `Set custom fee` requiring action @andmironov. And I understand the problem much more clearly now too. :) Edit: Also prefer the pared back fields for this special Tx.

Might want to suggest a copy tweak, but first...

@flexsurfer can you help me to better understand the risk involved in signing? Assuming the possible range of errors is mostly buggy things like balance ch

[2019-09-04 09:42] andmironov commented on #8691
Also, the network will be shown only if it's not **Mainnet**, which means one less field.
And another thing: when it's a transaction interaction, it might better be "Reject" instead of "Cancel"

<img width="1057" alt="Screen Shot 2019-09-04 at 12 41 48" src="https://user-images.githubusercontent.com/3115606/64244260-6062eb80-cf11-11e9-8457-cb15c242c169.png">

[2019-09-04 09:45] flexsurfer commented on #8485
@andmironov could you take a look if the design is up to date in the description? maybe we could implement it similar to https://github.com/status-im/status-react/issues/8691

[2019-09-04 09:51] andmironov commented on #8485
yep, I suggest doing this

<img width="836" alt="Screen Shot 2019-09-04 at 12 52 08" src="https://user-images.githubusercontent.com/3115606/64245041-d3b92d00-cf12-11e9-9a63-ed0cbe4c0777.png">

[2019-09-04 10:26] flexsurfer commented on #8485
@andmironov but the point of this issue description, no?

[2019-09-04 11:19] #8813 closed, assigned to nobody

[2019-09-04 11:20] #8829 closed, assigned to nobody

[2019-09-04 11:38] flexsurfer commented on #8866
@bitsikka what browser do you use? doesn't work for me in safari as well

[2019-09-04 11:48] bitsikka commented on #8866
I use google chrome :(

[2019-09-04 12:53] andmironov commented on #8551
Also, here are some issues in the recovery flow:

- Header too high;
- Toolbar (with "Next" button) is far away from keyboard;
- Word count is cut;
- Error message covers header;
- In general a lot of margins are wrong, please check the mockup

![IMG_9744](https://user-images.githubusercontent.com/3115606/64256304-dbd19680-cf2b-11e9-9305-99013daf5d4a.PNG)

[2019-09-04 13:00] errorists commented on #8135
@rachelhamlin this one is done, I don't foresee us changing the illustration. You might want to take a look at the text used there, I'm not sure who wrote the copy and I can't ask Hester ;)

I'm still not sure about the text on the button too, `Okay` lacks any enthusiasm. This should be more welcoming, ideally I'd use `Get started` but we already have that previously. wdyt?

[Figma](https://www.fi

[2019-09-04 13:06] andmironov opened #8909 "Contract interaction and Signature request transaction types"
Working on some updates on the transaction overview modal, I found out that there are some use-cases we are missing.

**Contract interaction**

At this point, we have just regular **transactions** and **message signing** with a password. What is missing is the **contract interaction** type. It's different because sometimes it does not require sending any funds, but just the network fee (found that

[2019-09-04 13:08] andmironov commented on #8485
when there are several errors, let it be like this:

Tap on the icon shows the tooltip and hides the other tooltip if it's shown already

<img width="827" alt="Screen Shot 2019-09-04 at 16 08 56" src="https://user-images.githubusercontent.com/3115606/64257607-526f9380-cf2e-11e9-926b-c5a3cb432c57.png">

[2019-09-04 13:24] andmironov commented on #8485
If the goal is to explicitly tell that the user must have ETH to pay the network fee, we can mix these approaches and for consistency's sake do something like the screens below.

But I believe the red (!) icon and a tooltip migh do the job!

<img width="729" alt="Screen Shot 2019-09-04 at 16 22 00" src="https://user-images.githubusercontent.com/3115606/64258704-64523600-cf30-11e9-949e-b044a55aa3d9

[2019-09-04 13:48] rachelhamlin commented on #8135
Great! How about:

`Let's go` for the button?

I'm okay with the copy beneath the welcome. I would maybe emphasise `Welcome to Status!` with the exclamation point, and punctuate the subtext either with a period or not at all, e.g. `Set up your crypto wallet, invite friends to chat and browse decentralized apps`

(If the screens match Figma in practice, we've been a bit inconsistent with our punctu

[2019-09-04 13:54] #8869 closed, assigned to nobody

[2019-09-04 13:59] errorists commented on #8135
Sounds good, I like the `Let's go`! I applied the changes and the absolute worst case scenario, Hester with her newfound superpowers of changing text in production can come to the rescue later :)

[2019-09-04 14:04] rachelhamlin commented on #8135
🙂 Totally, a quick fix. Thank you! I'll put a bounty on this one.

[2019-09-04 14:13] StatusSceptre commented on #6433
@churik fyi haven't verified that this is still an issue, I assume so - but have approved @erkus19 for work on it. 👋🏼 still interested, I hope, @erkus19!

[2019-09-04 14:54] yenda opened #8910 "default value for input fields doesn't work"
# Problem

In various input fields across the app, the input fields takes a default value, for instance when adding an account or when editing a custom mailserver. Currently only the placeholder is shown and not the current value if there is any.

[2019-09-04 15:30] vitvly opened #8911 "[Onboarding Recovery] UI Polishing"
Copied from https://github.com/status-im/status-react/issues/8551#issuecomment-527887065

Also, here are some issues in the recovery flow:

- Header too high;
- Toolbar (with "Next" button) is far away from keyboard;
- Word count is cut;
- Error message covers header;
- In general a lot of margins are wrong, please check the mockup
![64256304-dbd19680-cf2b-11e9-9305-99013daf5d4a](https://user-imag

[2019-09-04 15:32] vitvly commented on #8551
@andmironov apologies for confusion, I've created a separate issue for recovery-related bugs: https://github.com/status-im/status-react/issues/8911

[2019-09-04 18:59] alexjg commented on #8899
I can't reproduce this on Android. I'm seeing the following screen for a specific wallet (this is on `develop`).

![Screenshot (4 Sep 2019 19_55_57)](https://user-images.githubusercontent.com/224635/64282907-4b587d80-cf4e-11e9-9554-6a99f7ceea30.png)

Is this a platform specific bug? (I have an iDevice and a Mac somewhere I can use if necessary).

[2019-09-05 02:46] andrew-healey commented on #8516
Yes I am; sorry for the inactivity; in the rush of getting back to school, the bounty never crossed my mind. I'm still happy to work on it!

[2019-09-05 08:41] rachelhamlin commented on #8899
Hmm, I'm not sure what build I tested on the other day but it was still missing. I see it in develop now, also iOS. 🤷‍♀️ @asemiankevich would you mind confirming that the collectibles empty state appears for an individual wallet on Android as well? If so, we can close this and I'll tip you for your time @alexjg :)

[2019-09-05 08:49] StatusSceptre commented on #8135
@jorgeluisrezende you're approved! Andrey added the screens to the issue. It's (1) [this splash screen](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4228%3A15) with the hero illustration, and (2) [this empty `Chat` screen](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A15470) with a CTA to join public chats in a box. Is it clear?

[2019-09-05 08:50] asemiankevich commented on #8899
Yeah , i just checked it

![image](https://user-images.githubusercontent.com/28752642/64326859-5c979d80-cfd3-11e9-83b9-ae596aff14c1.png)

[2019-09-05 08:51] rachelhamlin commented on #8516
@Sesamestrong that'd be great. Let me know if we can help.

[2019-09-05 08:57] rachelhamlin commented on #8899
Welp. Fine by me then! Thanks Nastya. I'll close this out & send you a tip via gitcoin @alexjg. Thanks for taking a look! We're happy to have you try any of our other open issues that catch your eye.

[2019-09-05 08:57] errorists commented on #8135
The empty Chat screen links to the outdated design, [this is the one we should be using](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1669%3A42)

[2019-09-05 08:57] #8899 closed, assigned to nobody

[2019-09-05 09:35] rachelhamlin commented on #8899
@alexjg are you able to submit work for review on this issue through Gitcoin? I'm not sure if I have the ability to tip you unless work is submitted.

[2019-09-05 09:50] rachelhamlin commented on #8485
Okay, so to clarify this issue - let's use [these screens](https://github.com/status-im/status-react/issues/8485#issuecomment-527892583), NOT the `Expected behavior` above?

I also think this new red error state is clear enough.

Can you add the Figma link to these versions @andmironov?

@MajorTomSec does this makes sense? I'll update the issue description. We could also roll #8691 into this one—i

[2019-09-05 10:10] acolytec3 commented on #8727
@rachelhamlin Do I have to build the entire development environment to run the individual test that generated these error messages?  The test fails to run when I just build a python virtual environment with pipenv and run the test with pytest.  I can build out the whole environment if need be but felt like a lot of overhead to run a single (relatively simple test).

[2019-09-05 10:18] andmironov commented on #8485
https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=3864%3A33253

[2019-09-05 10:30] vitvly commented on #8911
**Recovery with seed phrase**

1. The toolbar is too big. It supposed to have a fixed height, just as on any other screens of the app
<img width="868" alt="64331469-8654c280-cfdb-11e9-84ed-98f57b05dbe5" src="https://user-images.githubusercontent.com/1019573/64334442-38db5400-cfe1-11e9-8f00-9a467222286d.png">

2. There are some layout issues and i've added some minor design changes
<img width="1202

[2019-09-05 10:59] #8828 closed, assigned to nobody

[2019-09-05 11:10] alexjg commented on #8899
I've submitted work, I'll go have a look for some other issues to take a look at, was looking forward to getting my teeth into something :slightly_smiling_face:

[2019-09-05 11:51] MajorTomSec commented on #8485
Sure, this seems fine to me, let's get this done !

[2019-09-05 12:07] flexsurfer opened #8920 "UI Components"
1) Colors

* [ ] [GHI xs] rename colors names according to figma
Example: `Light Grey` -> `:light-grey`
Figma: https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=787%3A807

2) Icons

* [ ] [GHI xs] rename namespace `status-im.ui.components.icons.vector-icons` to `status-im.ui.components.icons` and `vector-icons` aliases to `icons`

3) List items

* [ ] [GHI m] replace all implementa

[2019-09-05 12:29] vitvly opened #8921 "make run-ios recompiles everything each time"
Which is really annoying. Don't have an idea yet as to why this is happening. Attaching a `make run-ios` log.

[run_ios.log](https://github.com/status-im/status-react/files/3579272/run_ios.log)

[2019-09-05 14:50] churik opened #8923 "Fix pictures in e2e"
1) Align e2e with https://github.com/status-im/status-react/pull/8913
2) Fix test https://ethstatus.testrail.net/index.php?/cases/edit/6226 - ENS name should be shown only for new messages

[2019-09-05 15:46] asemiankevich opened #8924 "Disable camera sound when device is in silent mode"
# Problem

When taking photo on a device with a silent mode enabled -> camera still makes sound

## Steps:

Turn on silent mode on your device

1. open status
2. profile -> edit user picture
3. tap capture and capture a photo

[2019-09-05 15:46] asemiankevich commented on #8924
@rachelhamlin bounty? :)

[2019-09-05 16:13] #8702 closed, assigned to nobody

[2019-09-05 17:20] #8878 closed, assigned to yevh-berdnyk

[2019-09-05 22:54] #8923 closed, assigned to yevh-berdnyk

[2019-09-06 07:14] yenda opened #8927 "Loading screen on sign out"
# Problem

When pressing sign out, the user can sometime briefly see a profile screen with "Unknown" as name.

## Implementation

This is due to the fact that all user data is flushed on sign out but for a moment the profile screen is still visible.
A spinning wheel similar to what is shown on account creation and login should be shown instead.

## Acceptance Criteria

User never sees "Unknown" pr

[2019-09-06 07:14] yenda commented on #8927
@rachelhamlin good candidate for bounty

[2019-09-06 07:56] #8052 closed, assigned to nobody

[2019-09-06 07:56] #8288 closed

[2019-09-06 07:56] #8335 closed, assigned to nobody

[2019-09-06 07:56] #8389 closed, assigned to nobody

[2019-09-06 07:56] #8423 closed, assigned to nobody

[2019-09-06 07:56] #8470 closed, assigned to nobody

[2019-09-06 07:59] yenda opened #8928 "Update to reagent 0.8"
# Problem

In many components we need to return multiple Dom nodes at once, to achieve that we use a warpping view but that is inneficient because it requires creation of a superfluous Dom nodes.

## Implementation

React has a solution for that named fragments
Reagent 0.8 introduces a syntax to use react fragments
Updating reagent will allow use to use that syntax https://github.com/reagent-proje

[2019-09-06 08:01] yenda opened #8929 "Remove Web3"
# Problem

web3 is a huge library with lots of dependencies that we only use for big numbers.

## Implementation

Remove usage of web3 from the money.cljs namespace, replace by bn.js in web3-utils, write tests for BN computations

## Acceptance Criteria

- web3 removed
- tests added

[2019-09-06 08:38] flexsurfer commented on #8412
https://github.com/facebook/react-native/issues/24000

fixed in #8881

[2019-09-06 09:24] churik commented on #8810
"Some words to be misspelled" should be shown (without error)
@andmironov are you OK with this popup?
![image](https://user-images.githubusercontent.com/4557972/64423316-8241a700-d0a6-11e9-905e-d9d43f6182a1.png)

[2019-09-06 09:57] asemiankevich opened #8930 "Ethereum node started incorrectly error"
# Problem

Seems if you have throttled connection (not total offline) , the account creation works incorrectly.

as a result i can see the following error: `Ethereum node started incorrectly. Ethereum node was started with incorrect configuration, application will be stopped to recover from that condition. Configured network id = , actual = 1`

![image](https://user-images.githubusercontent.com/28

[2019-09-06 10:16] 3esmit commented on #8810
Suggested solution: Allow only valid mnemonic. (Error otherwise)
Its important to block users trying to use, at least for, low entropy, otherwise the community might drop support, and users might misunderstand the feature - threating the seedphrase field like a simple password.
Also, if someone uses a mnemonic outside standards, other wallets (like MyCrypto and MetaMask) would not accept it. For a

[2019-09-06 10:41] 3esmit commented on #8691
Seems like the issue is `no ETH` in user selected/active account?

[2019-09-06 11:05] 3esmit commented on #8909
## Related EIPs
### EIP712
https://eips.ethereum.org/EIPS/eip-712
https://github.com/ethereum/EIPs/pull/712
### EIP191
 https://github.com/ethereum/EIPs/issues/191

## MetaMask UI:
For reference, Ill add what MetaMask does.

### Unsafe Signing (unprefixed data, can sign an ETH transaction):
![](https://user-images.githubusercontent.com/224810/64423038-ec912200-d07b-11e9-9c59-8598c215921d.png)

###

[2019-09-06 11:08] 3esmit commented on #8909
Test MetaMask with this: https://danfinlay.github.io/js-eth-personal-sign-examples/

Basically we want to support these, for now :)

[2019-09-06 11:30] andmironov commented on #8909
Thanks a lot, @3esmit ! Here's a design for a dangerous signature request, based on the Metamask one you've referenced above.

<img width="355" alt="Screen Shot 2019-09-06 at 14 44 53" src="https://user-images.githubusercontent.com/3115606/64425627-ecf9df00-d0b4-11e9-945e-e5b1b20ab246.png">

[2019-09-06 11:33] andmironov commented on #8810
I'd suggest this as an option: show this custom alert message after the user hits "Next" with a custom seed phrase.

<img width="861" alt="Screen Shot 2019-09-06 at 14 31 48" src="https://user-images.githubusercontent.com/3115606/64424970-30534e00-d0b3-11e9-8067-83aafce3b497.png">

But if implementing that will take too much time, I'd stick to the native alert.

[2019-09-06 11:33] #8412 closed, assigned to nobody

[2019-09-06 11:42] 3esmit commented on #8909
Very nice @andmironov , we can use this one for now for any signature (just for completing the full eth support of wallet and launching Status V2), and in a new issue discuss the support of ERC712, which seems to be the better alternative, then wouldn't need this scary warning, for Status V2.1 or something.

ERC191 was mostly mentioned for historical/learning purposes.

[2019-09-06 11:53] 3esmit commented on #8909
BTW, Status V1 merged support to EIP-712 in https://github.com/status-im/status-react/pull/7680

[2019-09-06 12:08] churik opened #8933 ""Done" ("Intro" for IOS) on native keyboard during ENS name setup open sign transaction screen instead of proceeding to next screen"
###  Description

*Type*: Bug
*Summary*: if you tap on "Done" ("Intro" for IOS) on the native keyboard during ENS name registration you will see transaction screen even you are the owner of username and don't need to sign the transaction.

#### Expected behavior
"Username is added" screen

#### Actual behavior
transaction screen
![xzzvxxvcx](https://user-images.githubusercontent.com/4557972/644267

[2019-09-06 12:10] churik commented on #8933
cc @rachelhamlin

[2019-09-06 12:48] churik opened #8934 "Only one sticker is shown in "Recently used""
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: if you are using stickers, only one is shown on the "Recently used" screen. I would prefer to see the list of the "Recently used" stickers instead of blank space.

#### Expected behavior
several stickers in "Recently used"

#### Actual behavior
![photo_2019-09-06 14 36 51](https://user-images.githubusercontent.co

[2019-09-06 12:49] churik commented on #8934
@rachelhamlin don't think it is `v1`
Mark it if you think it should be included.

[2019-09-06 12:49] asemiankevich opened #8935 "Design changes to Unlock screen"
# Problem

## **Unlock** screen needs some tweaks:

**In the scope of this issue**
<img width="860" alt="Screen Shot 2019-09-09 at 17 26 24" src="https://user-images.githubusercontent.com/3115606/64539328-fbe7c800-d326-11e9-8f33-1709d6836e17.png">

<img width="851" alt="Screen Shot 2019-09-09 at 17 26 16" src="https://user-images.githubusercontent.com/3115606/64539329-fc805e80-d326-11e9-935c-b17d6

[2019-09-06 13:00] asemiankevich opened #8936 "Fix installation buttons for sticker packs"
# Problem

There is a Status icon shown for a stickerpack which was bought with SNT. It is not shown for free stickerpack.

![image](https://user-images.githubusercontent.com/28752642/64429689-39e2b300-d0bf-11e9-874d-293d9b37fb86.png)

Align the icons with statuses using figma:

![image](https://user-images.githubusercontent.com/28752642/64438000-f80e3880-d0cf-11e9-897f-56ed48dc3d5a.png)

## Steps

[2019-09-06 13:22] asemiankevich opened #8937 "Recent stickers are shown when stickers tab is highlighted"
# Problem

Recent stickers content is shown while stickers tab (not recent) is selected

![image](https://user-images.githubusercontent.com/28752642/64430266-972b3400-d0c0-11e9-92be-be6714c8ea0f.png)

## Steps:

1. Install status
2. Add a  contact
3. open 1x1 chat with the contact
4. install stickers
5. tap stickers -> send any in chat
6. tap stickers tab to close it
7. tap stickers to open the ta

[2019-09-06 13:32] asemiankevich commented on #8730
it does not depend on platform i think, also it is not blocking user from anything - just annoying

[2019-09-06 13:35] asemiankevich commented on #6140
no transactions in chats now

[2019-09-06 13:35] #6140 closed, assigned to nobody

[2019-09-06 13:45] 3esmit commented on #8909
Regarding Contract Iteration, would be nice if it had somewhere to display the transaction data, many users will want to verify it before signing. It shouldn't allow edit the data field, just display it. A Show Details button could popup a display only transaction details (to, value, data, gasPrice, gasLimit, nonce), which is the information being signed.

[2019-09-06 13:51] Serhy opened #8938 "'Back up seed phrase' in Profile is present for recovered accounts"
***Type***: Bug

***Summary***: `Back up seed phrase` in Profile is present for recovered accounts. As well as after user backed up seed phrase еру `Back up seed phrase` is still present and it lands user to `You're all set` screen.
We need either to hide or disable `Back up seed phrase` option in Profile if it's not needed.

#### Expected behavior

No `Back up seed phrase` in user `Profile` for a

[2019-09-06 14:02] rachelhamlin commented on #8533
Are we all clear on requirements for this issue @siphiuel @flexsurfer? AFAIK, what was missing during onboarding was the native configuration of the biometrics. When you opt in, the device should run a confirmation. But—I'm not clear as to which biometrics we're collecting.

In [this issue](https://github.com/status-im/status-react/pull/8127), it states that we're enabling both finger print & face

[2019-09-06 14:11] rachelhamlin opened #8939 "Hide Keycard options from iOS onboarding + account explorer"
PLACEHOLDER

# Problem

Keycard is only eligible for Android devices.

## Implementation

Hide any instance of keycard from iOS. For example, during onboarding, the user does not need an option for how to encrypt their key.

https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A15991

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to

[2019-09-06 14:12] asemiankevich opened #8940 "Redesign Back, swipe-to-the-left and hardware device Back buttons to align the behavior"
# Problem

We have a lot of discrepancies between the following actions across all the application:

1. tapping Back button which is build-in the app
2. tapping Back button with is device hardware button
3. doing left-to-right swipe

What we need to achieve:

- define [Back] and [Cancel] behavior (like when tapping Back is actually a cancel of action or tapping back should lead to previous screen)

[2019-09-06 14:13] churik commented on #8940
cc @hesterbruikman

[2019-09-06 14:17] andmironov commented on #8909
This made me think that some of the fields are for advanced users only (such as the data field) and to make it look simpler and cleaner and not to overwhelm users with the information they might be confused about or scared of, it makes sense to hide some of the fields.

Also, I suggest showing the full contract data in a separate scrollable modal

<img width="1652" alt="Screen Shot 2019-09-06 at 1

[2019-09-06 14:34] errorists commented on #8940
whew, ok here goes nothing :)

1. tapping <- back button, takes you to the previous screen in the current navigation stack. It is joined by the screen edge swipe, they are mutual and if the <- is present, you should be able to swipe. Unlike modal views (presented with an X instead of <-) where swipe back is not possible.
You should not be able to swipe when there is no back arrow meaning you can't

[2019-09-06 14:37] churik opened #8941 "At attempt to add ENS name purchased on another domain requires 10 SNT (equal to purchasing new ENS name on stateofus.eth)"
###  Description

*Type*: Bug

*Summary*: when I own a name on another domain (i.e. `.eth`) from my POV there should be only one transaction performed to bind my ENS name and chat key. Currently, the app requires 10 SNT like you are purchasing the name one more time.

#### Expected behavior
the transaction with 0 ETH to bind my ENS name and chat key

#### Actual behavior
![ENSname](https://user-im

[2019-09-06 14:43] errorists commented on #8940
I'd like to ask, because I might've missed some thread, what's the expectation of us, should we create documentation for what happens when you press back/swipe/hit device back button on each and every screen?

[2019-09-06 14:44] andmironov commented on #8940
Two things I'd like to add to what Maciej just said:

1. At some places of the app in IOS there's a bug now, edge-swipe does not do the same as hitting the back button. So at least both of those actions should lead to the same result.
Currently, this happens when you go to "Join public chat" -> Choose a chat to join -> Go back. From here tapping "<" brings you to the "Chat" screen and edge-swiping

[2019-09-06 14:46] asemiankevich commented on #8941
@rachelhamlin
@flexsurfer

[2019-09-06 14:49] churik commented on #8941
can be related to https://github.com/status-im/status-react/issues/8853 - so need to be rechecked in PR with fix

[2019-09-06 14:51] andmironov commented on #8940
So I think what can be done now is:

1.  Making sure that everywhene in the app tap on "<" and edge-swiping does the same;
2. Everywhere where there's a "Cancel" button make sure that there's a specification of what happens after the user hits "Cancel" (most likely an "are you sure" alert -> redirect to some screen)

All exceptions, like the one I've mentioned above (skipping the "Join public chat

[2019-09-06 14:53] errorists commented on #8936
The icon should only be present when it's joined by a SNT value. It's a shorthand for SNT :) If there's no value like here, please please remove the icon. 🙏

[2019-09-06 14:57] errorists commented on #8936
let's assume that 🔵 is the troublesome icon in question
🔵 1000
Install
Free

Designs are available here [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=2174%3A49)

[2019-09-06 14:58] andmironov commented on #8936
Hey, some context for this: you might have purchased a sticker pack on another device, so you don't have to pay for it anymore, but it is not installed. So the question is: should there be a "Purchased but not installed" state? The screenshot above is a result of purchasing a sticker pack and then recovering that account on another device

[2019-09-06 14:59] errorists commented on #8936
Thanks! The answer would be the same, no icon. It should say something like 'Recover', like when you recover a previously made in-app purchase made on iOS for example.
edit: what I had previously for this state is exactly what's shown above 'Install'. We might consider using a different label if that's not obvious enough but the icon itself is linked to the price of the pack only.

cc @rachelhamli

[2019-09-06 15:08] Serhy opened #8942 "Different sticker selection panel height than native keyboard [iOS]"
***Type***: Bug

***Summary***: When sticker icon from message insput is tapped the sticker selection panel is higher than native keyboard [iOS]
We need to alight sticker selection to fit native keyboard height

#### Expected behavior
Sticker selection panel height = native device keyboard height

#### Actual behavior

<img width="454" alt="Screenshot 2019-09-06 at 18 04 45" src="https://user-imag

[2019-09-06 15:09] errorists commented on #8934
+1 it should most definitely contain a list of stickers used recently, ordered chronologically by the most recent ones going from top left to bottom right. We might discuss the number of stickers to keep here, from a user perspective it's around 24, if performance sucks then less.

[2019-09-06 15:09] Serhy commented on #8942
@rachelhamlin it's not V1 priority as for me. Maybe worth for bounty.

[2019-09-06 15:12] errorists commented on #8942
just fyi I was under the impression this is not possible, that we could not sample the height of the system keyboard cc @flexsurfer cause he's the grand wizard behind this :)

[2019-09-06 15:17] errorists commented on #8936
oh and by the way, to whomever will pick this up: those arrows next to 'Install' label in Figma are made with regular text, it's an unicode character available in our font like so ↓, no assets are needed

[2019-09-06 15:50] rachelhamlin commented on #8443
I'm about to put a bounty on this and want to clarify-

I believe the error tool tip is already fixed. We're also planning on using a different 'not enough ETH' warning in issue #8485, so I'm going to reduce the scope of this issue to just the inline spinner.

Okay for you @andmironov?

[2019-09-06 15:54] rachelhamlin commented on #7781
@alexjg approved, making up for the last one! Please let us know if you need any help.

@jessemorningstar and @decentralisedtech - I'm adding more front end bounties constantly lately, so have a look at what else we have open and please feel encouraged to apply elsewhere :)

[2019-09-06 16:02] Serhy opened #8944 "Fix e2e tests"
https://ethstatus.testrail.net/index.php?/tests/view/848693
https://ethstatus.testrail.net/index.php?/tests/view/848568
https://ethstatus.testrail.net/index.php?/tests/view/848664
https://ethstatus.testrail.net/index.php?/tests/view/848687
https://ethstatus.testrail.net/index.php?/tests/view/848635

[2019-09-06 16:10] rachelhamlin commented on #8942
Yes, that's what we heard on the call today...definitely nice-to-have, open to alternative solutions as well.

[2019-09-06 16:11] rachelhamlin commented on #8934
Agreed that we can live without it for v1, but annoying!

[2019-09-06 16:13] rachelhamlin commented on #8941
Okay, will not bounty it yet—can probably be fixed within scope of #8853 regardless.

[2019-09-06 16:13] rachelhamlin commented on #8853
Note: would be good to fix this issue as part of this work - https://github.com/status-im/status-react/issues/8941

[2019-09-06 16:31] Serhy opened #8945 ""null is not an object" error when tap on sticker sent in chat"
***Type***: Bug

***Summary***: Tapping upon sticker sent in chat result in `null is not an object (evaluating 'n.lastIndexOf')` error.
If to install sticker pack -> send sticker in chat and tap it - everything is OK and I redirected to the sticker pack with list of stickers, but the error appears after re-login

#### Expected behavior
Redirect to sticker pack when tap on sticker in chat

#### Act

[2019-09-06 16:40] alexjg commented on #7781
Brilliant, I'll get started and aim to finish it over the weekend.

[2019-09-06 16:52] andmironov commented on #8443
Yes, thanks @rachelhamlin ! The scope of this issue (for the transaction overview modal) I believe boils down to the awesome animation @errorists have made! As a fallback solution I can suggest doing:

![Screen Shot 2019-09-06 at 19 51 08](https://user-images.githubusercontent.com/3115606/64445674-b2596c00-d0df-11e9-8d2a-00e38bd2bb0d.png)

I like the animation more, just being careful if it takes

[2019-09-06 17:54] speedyFixer commented on #7197
Hi @gitcoinbot I will start to work on Sunday.

[2019-09-06 17:56] vitvly commented on #8533
@rachelhamlin In https://github.com/status-im/status-react/pull/8903 there is a rule: if FaceID is present, use that, otherwise fingerprint. Not sure if this is correct.

[2019-09-06 19:00] rachelhamlin commented on #7781
Awesome - thanks Alex! Check in w you Monday.

On Fri, Sep 6, 2019 at 5:40 PM alexjg <notifications@github.com> wrote:

[2019-09-06 19:00] rachelhamlin commented on #8443
Okay, awesome, I’ll update and bounty :) thanks for your input.

On Fri, Sep 6, 2019 at 5:52 PM Andrei Mironov <notifications@github.com>
wrote:

[2019-09-07 07:11] thecyberd3m0n commented on #4606
@gitcoinbot yes

[2019-09-08 03:05] bitsikka commented on #8447
@gitcoinbot I would be if not for a hiccup. Dev build is not launching in iOS emulator. Too slow in Android Avd. Seems to be a known problem, waiting for it to be fixed.

[2019-09-08 16:37] thecyberd3m0n commented on #4606
my current version from develop can't build
[code]

I did like documentation describes
https://status.im/build_status/desktop.html

Any suggestions what can I do wrong?

OS: KDE Neon Linux x64 5.**
Node:  v10.16.0 (from nvm)

[2019-09-09 08:56] rachelhamlin commented on #8902
Hmm, I hope this is just the toggle and not the boot node setting itself.

[2019-09-09 09:12] bitsikka commented on #8447
Help!

It seems that I am the only one having this problem.
- dev build for iOS builds successfully, but then launches and gets stuck of `status logo` screen.
- I am on MacOS Mojave Version 10.14.6
- XCode is version 10.3
- Simulator is 12.3
- I am rebased to latest `develop`
- Checked out `remove-real-final` branch - same thing :(

Have not been able to move forward an inch since Thursday

[2019-09-09 09:45] flexsurfer commented on #8447
@bitsikka there should be an error in the logs, could you check it in safari dev console?

[2019-09-09 09:50] bitsikka commented on #8447
@flexsurfer
Not familiar with that, never used it. Please tell me how.
I went to re-frisk at `http://localhost:4567/` - nothing there just `nil`

[2019-09-09 09:51] #8944 closed, assigned to yevh-berdnyk

[2019-09-09 09:52] flexsurfer commented on #8447
@bitsikka https://facebook.github.io/react-native/docs/debugging#safari-developer-tools
You can use Safari to debug the iOS version of your app without having to enable "Debug JS Remotely".

Enable Develop menu in Safari: Preferences → Advanced → Select "Show Develop menu in menu bar"
Select your app's JSContext: Develop → Simulator → JSContext
Safari's Web Inspector should open which has a Consol

[2019-09-09 09:53] bitsikka commented on #8447
oh.. ddg'd and found that doc :) doing it now.. hold on

[2019-09-09 09:59] bitsikka commented on #8447
got this

[code]

[2019-09-09 10:01] bitsikka commented on #8447
maybe this will help too

![Screen Shot 35](https://user-images.githubusercontent.com/42058840/64522073-ec618280-d318-11e9-8ef1-89fd76a583e7.png)

[2019-09-09 10:02] yenda opened #8947 "Rework react-navigation implementation"
# Problem

The most visible issue is the UX.

react-navigation implementation seems to be unnecessary complex and is undocumented. As a results, multiple wizards in the app have been implemented without using react-navigation and therefore navigation within them doesn't look and feel like the rest of the app, no gesture handling, no animated transitions. The current implementation also triggers so

[2019-09-09 10:05] yenda opened #8948 "windows-height as ratom"
# Problem

windows-height is a completely business independent value that triggers unnecessary events and subscription re-computations, it also forces simple components to subscribe to it even if that is the only thing they depend one, which usually translates into a `defview` macro usage.

## Implementation

Make windows-height a ratom that is derefed where needed, completely decoupled from re-fr

[2019-09-09 10:09] yenda opened #8949 "[discussion] Add a parameter to login to specify config to return"
# Problem

Currently the login signal doesn't contain anything when successful, and status-react needs to use `settings_getConfigs` to retrieve the values it needs to properly init the app after login. This warrants an extra roundtrip that costs time.

## Implementation

An extra array arguments in the status-go login function allows to specify which configs to returns the same way settings_getCon

[2019-09-09 10:14] flexsurfer commented on #8447
have you tried to clean project and rebuild again?

[2019-09-09 10:16] flexsurfer commented on #8447
@bitsikka i have the same error in develop, on it, hold on

[2019-09-09 10:17] bitsikka commented on #8447
I have, multiple times. Did `make nix-clean` + `make clean`.

[2019-09-09 10:18] yenda opened #8950 "[Meta] switch to shadow-cljs"
WIP branch https://github.com/status-im/status-react/tree/shadow-cljs

## Problem

Nix has made setting up the project much easier for new comers, but there are still some serious rough edges.

Currently our tool stack is quite complicated. In cljs world alone we use a dependency called clj-rn which used to be maintained by Julien and is now kind of abandoned. Then have some complex dev setup that

[2019-09-09 10:26] vitvly commented on #8447
Just to confirm I'm facing the same issue after rebase with latest develop.

[2019-09-09 10:29] vitvly commented on #8447
@bitsikka you can also install https://www.npmjs.com/package/react-native-log-ios and just run `react-native-log-ios StatusIm` and it'll give you the logs in the terminal.

[2019-09-09 10:29] Keheira commented on #7697
@rachelhamlin I'll take it if it's still open

[2019-09-09 10:55] rachelhamlin commented on #8135
Hey @jorgeluisrezende! Are you still on this one?

[2019-09-09 10:57] flexsurfer commented on #8950
we just got rid of Leiningen , and it's great that we don't need any tools to buld our project, clj-rn it's just a clj library

[2019-09-09 11:04] churik opened #8951 "Balance is not updated when go from offline to online (until reopening app)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when you restore/create account with poor connection or offline and then go online - balance is not fetched until you relogin to app. And if you get some funds when you were offline and then go to online - balance is not updated as well until manual app restart.
It may be very confusing to users.

#### Expected be

[2019-09-09 11:05] pedropombeiro opened #8952 "Release Android build is broken in 'feature/upgrade-to-rn-hermes' branch"
# Problem

In the https://github.com/status-im/status-react/pull/8943 PR, the Android build works well on Linux machines, but not on macOS. Two problems were found:

- If Hermes is enabled, then this error is shown:

[code]

- If Hermes is disabled, then index.android.bundle is missing from the resulting APK file.

## Implementation

After investigation, it seems that this was triggered by the upg

[2019-09-09 11:06] churik commented on #6433
Actually this one is not reproducible (there is no need for manual update, it is updated automatically), however, there is new issue with balance updating:
https://github.com/status-im/status-react/issues/8951 - probably can be bounty as well @rachelhamlin

[2019-09-09 11:08] rachelhamlin commented on #8027
You're approved @vic-en! Welcome. @yenda @flexsurfer which api do we use for currency conversion elsewhere?

[2019-09-09 11:08] bitsikka commented on #8447
Good to know. Thanks! @siphiuel
Very handy

[2019-09-09 11:13] yenda commented on #8950
So is shadow-cljs, except that it is well maintained and has a growing strong community

[2019-09-09 11:22] yenda commented on #8909
So I think it is important here to specify that we are not talking about transaction types but signature types:
- transaction signature: user is signing something that is going on chain and will cost a fee
- data signature: user is signing some data but it is not going to go on chain and the signed data is going to be returned i.e to the dapp. In some cases the user might actually sign data that i

[2019-09-09 11:22] jorgeluisrezende commented on #8135
Yaeh, i'd a problem with my computer in the last weekend, i will submit my PR soon.

[2019-09-09 11:24] rachelhamlin commented on #7697
@keheira awesome. It is, so I just approved you for work. Let us know if you need any help getting set up.

[2019-09-09 11:27] rachelhamlin commented on #6433
Thanks Chu. Closing!

[2019-09-09 11:27] #6433 closed, assigned to nobody

[2019-09-09 11:27] rachelhamlin commented on #6433
FYI @erkus19 we're canceling this bounty as it's been fixed elsewhere.

[2019-09-09 11:35] bitsikka commented on #8447
I'm good to go 😄
#8953 fixed it
Thanks! @flexsurfer 🚀

[2019-09-09 11:37] yenda commented on #4606
@thecyberd3m0n the desktop build is behind mobile atm, you should develop from android or iOS

[2019-09-09 11:39] yenda commented on #8727
@acolytec3 seems like you are trying to run the e2e tests? Those are appium tests on Android emulator, you can't run that with just a python virtual env you need an android emulator as well, and they are ran by the CI anyway.

[2019-09-09 11:40] yenda commented on #8727
Currently the CI tests are failing because your branch is not rebased

[2019-09-09 11:42] yenda commented on #8951
This is odd because status-go should signal the new transaction when coming back online.
A bad fix would be to just ask for balance again on status-react side every time we go back online, but the proper fix would be to figure out why status-go doesn't signal the new transaction once back online

[2019-09-09 11:45] acolytec3 commented on #8727
@yenda good to know, I'll have to rebase the PR and try it again.  After I
pulled in the translation changes that were pushed to develop last week,
the PR started producing some TypeErrors for supported locales when I run
the make test-auto that I'm not understanding

On Mon, Sep 9, 2019 at 7:40 AM yenda <notifications@github.com> wrote:

[2019-09-09 11:49] flexsurfer commented on #8447
@bitsikka please rebase , should work

[2019-09-09 11:49] yenda commented on #8027
There is no need to interact with the API, there is already a `:prices` subscription to get the prices

[2019-09-09 12:15] rachelhamlin commented on #8935
I'm going to remove the v1 release label for this one because:

- Privacy policy _is_ linked within the profile screen, so that's not urgent.
- ENS name could be separated into another issue, but it's not a v1 blocker.
- The missing public key is by design right now. [Notes](https://notes.status.im/Ule4h5AMQxWvH_s-DnQx9Q) I have from our call:

[code]

@andmironov would you want to spend some time

[2019-09-09 12:28] flexsurfer opened #8954 "Remove unused dependencies"
https://docs.google.com/spreadsheets/d/1cQ4cyjJ8xy1Li1Ia3kpiVWkXLeCDmIASRvsiAtlgqW8/edit#gid=0

[2019-09-09 12:29] churik opened #8955 "In profile address is shown instead of name and "Mailserver" label is overlapped when connected to custom mailserver"
###  Description

*Type*: Bug

*Summary*: when connected to custom mailserver, address is shown  instead of name and no "Mailserver" label in Profile > Sync settings

#### Expected behavior
![photo_2019-09-09 14 18 00](https://user-images.githubusercontent.com/4557972/64530272-fd0bfb80-d30c-11e9-8e0d-f63e7f625094.jpeg)

#### Actual behavior
<img width="220" alt="dfs" src="https://user-images.githu

[2019-09-09 12:36] churik opened #8956 ""Automatic selection" in "Mailserver settings" is not aligned with checkbox"
### Description

*Type*: Bug

*Summary*: "Automatic selection" in "Mailserver settings" is not aligned with checkbox - it is located under checkbox

#### Expected behavior
"Automatic selection" label is aligned with checkbox

#### Actual behavior
<img width="188" alt="dsvsdf" src="https://user-images.githubusercontent.com/4557972/64531157-12822500-d30f-11e9-9ae9-f2ef0242f901.png">

### Reproductio

[2019-09-09 13:02] churik opened #8957 "Wallet address can't be copied by tapping on it"
### Description

*Type*: Bug
*Summary*: during wallet redesign possibility to copy code by tap (as it made for profile > chat key) is lost.

#### Expected behavior
can copy address

#### Actual behavior
nothing happens
<img width="189" alt="xzcx" src="https://user-images.githubusercontent.com/4557972/64532916-b9b48b80-d312-11e9-9e0b-541dbfc9cf3e.png">

### Reproduction

- Open Status
- Create acco

[2019-09-09 13:25] errorists commented on #8955
The `Mailserver` text label should not get truncated or overlapped, no question there 👍

This is the desired behaviour, `16px` of blank space between and truncate the text accessory (mail server address) in the middle
![Small Cell](https://user-images.githubusercontent.com/4932774/64534050-026d4400-d315-11e9-96b1-397a5aff9018.png)

so the following would work only on iOS but React Native does supp

[2019-09-09 13:33] churik opened #8958 "Cursor is flickering after pasting (or typing) valid value to chat key or recipient address fields [IOS only]"
###  Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when pasting or typing the value to Start new chat > Chat key field or to wallet > Send > Enter recipient address, the cursor is starting flicker.

#### Expected behavior
no flickering

#### Actual behavior
![screencast 2019-09-09 15-24-09](https://user-images.githubusercontent.com/4557972/64534775-5a587a80-d316-

[2019-09-09 13:39] errorists commented on #8957
just to clarify, it should be a regular tap just like in profile, no long-press needed. On the same screen, the bottom margin below the Share button isn't the same as in the profile, it's larger, which is a small UI bug but maybe can be addressed in the same PR. 🙏

[2019-09-09 14:00] andmironov commented on #8955
I like it, but is it going to truncate the value if it's extremely long anyway?

Here's how this edge case is specified in our design system at the moment

<img width="612" alt="Screen Shot 2019-09-09 at 16 58 19" src="https://user-images.githubusercontent.com/3115606/64537229-1c158800-d323-11e9-93f4-d5cd17d1dd7e.png">

[2019-09-09 14:24] speedyFixer commented on #7197
Hi @gitcoinbot , I'm back from my travel, I will work on this today.

[2019-09-09 14:29] andmironov commented on #8935
If it's possible I'd add the following changes to this screen:

<img width="860" alt="Screen Shot 2019-09-09 at 17 26 24" src="https://user-images.githubusercontent.com/3115606/64539328-fbe7c800-d326-11e9-8f33-1709d6836e17.png">

<img width="851" alt="Screen Shot 2019-09-09 at 17 26 16" src="https://user-images.githubusercontent.com/3115606/64539329-fc805e80-d326-11e9-935c-b17d67864da5.png">

- Ch

[2019-09-09 14:58] andmironov commented on #8909
Thanks for your input @yenda!

Let me provide some context for this one. For regular transactions at the moment the flow consists of 3 steps: **Overview** -> **Signing process** -> **Transaction status**.

Signing with password:

![1](https://user-images.githubusercontent.com/3115606/64542535-694a2780-d32c-11e9-8d05-750ab9a3d89a.png)

Signing with Keycard. Here the signing process has two steps of

[2019-09-09 15:17] 3esmit commented on #8909
I agree that this issue is contains multiple elements: transaction signing, message signing, multiple keystore types.
I think that this are both "two interaction types" with dapps, because some Dapps use only contract calls, and others uses also ethereum signed messages.

There are two types of interactions from "keystore":
1. ethereum signed transactions: contract interactions (which would be a t

[2019-09-09 16:20] bitsikka commented on #8955
interesting! :)

I handeled it differently in #8912 so far
- I made it so that `text` accessory is no longer than 62% of device width. To be precise, I did this
[code]

In that way, I kept it simple, for now.

Rationale is that in the nesting structure in the implementation, it is made such that column containing `title` (includes `title-prefix`, `title-accessory`, `subtitle`, `subtitle accessory`

[2019-09-09 16:33] errorists commented on #8955
thanks for commenting @bitsikka I appreciate your in-depth thoughts on this! I like what you're suggesting even if it doesn't match the semantic use of defined props to achieve this goal :) I don't want us to split hair over such a detail, the important bit is to truncate the accessory in the middle (since this way there's less chance the truncation will make recognising the selected choice among

[2019-09-09 16:34] MajorTomSec commented on #8485
Yes I'm still working on the issue, expect a PR in one or two days. Was just busy the last few days ! Sorry for the delay !

[2019-09-09 16:35] bitsikka commented on #8955
Another possibility is, without any change:

- make black title (eg `Mailserver`) a `title-prefix`
- put the long text (eg `looooong.looong.mail.server.name`) in `title` as a `component`(yes, `title` can be component in this implementatino)
- in the `title` component use `text` view with `:margin-left 16`, `text-align right`, `ellipsize-mode middle`

That ought to do it.. no change necessory in th

[2019-09-09 16:40] #8609 closed, assigned to nobody

[2019-09-09 16:42] flexsurfer commented on #8609
YES!

[2019-09-09 17:38] bitsikka commented on #8955
I did (as in the last idea) this(in #8912 ) for
- `node-version` and `app-version` in `Profile > About >`
- `Mailserver` in `Profile > Sync Settings >`

[code]

Not: About this issue's Original Post.. the part about

is not handled in #8912. I figure `mailserver-subscription` need to be fixed, and that is not a part of the PR focused on polishing/putting-finishing-touches of `list-item`

[2019-09-09 18:58] leafcutterant commented on #8742
(Bolds mine.)

With all due respect for your work, isn't that just another way of saying "the closed-source, data-collecting alternative from Google is working quite well, so we'll just use that"?

And isn't this...

...basically saying "we'll make a version without the data-collecting component for the few who explicitly seek that, but we'll keep serving the rest of our users with the version tha

[2019-09-10 09:04] rachelhamlin commented on #8485
Glad you're still around @MajorTomSec! Thanks for checking in.

[2019-09-10 09:05] rachelhamlin commented on #7633
Heyo @kilimanjaro2, you still on this one?

[2019-09-10 09:07] rachelhamlin commented on #7197
Go go @speedyFixer :) thanks for checking in.

[2019-09-10 10:01] #8910 closed, assigned to nobody

[2019-09-10 10:38] thecyberd3m0n commented on #4606
ok I'm sorry, but I had failed to do this task (due to lack of ClosureJS knowledge)

[2019-09-10 10:39] rachelhamlin commented on #8609
Wooooo!

[2019-09-10 10:52] churik opened #8960 "Can't scan wallet QR for transaction due to "network doesn't match" error"
#### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: <no value> instead of current network id is shown when scanning QR to set recipient in a transaction screen.

#### Expected behavior
QR is scanned

#### Actual behavior

![IMG_5FEC68E8E54B-1](https://user-images.githubusercontent.com/4557972/64607786-8123b900-d3c9-11e9-8546-8f9bd6de9929.jpeg)

### Reproduction

[2019-09-10 11:30] yenda commented on #4606
@thecyberd3m0n what did you try at this point? did you find a suitable js or react-native library for url unfurling?

[2019-09-10 11:54] pedropombeiro commented on #8742
@leafcutterant the assertion that removing FCM is not an option is not a correct one. I think @jakubgs was referring to what can be done in the short term (v1 release) given the constraints we have (in terms of e.g. core contributors). As I mentioned above, there are plans to improve this (Push Notifications v2), where we allow users to select their PN provider, it's just a question of finding the

[2019-09-10 12:07] flexsurfer opened #8962 "Make chat great again"
# Problem

Chat module in status is the oldest module and keeps all legacy code since the beginning, but it's most important one and should be more performant.

Why do we recalculate all messages for each new message
Why do we calculate identicon in view for every message

## Implementation

Two directions to move
1) since we moved all data from realm to status-go, messages can be prepared in stat

[2019-09-10 13:40] thecyberd3m0n commented on #4606
I didn't try to find unfurling library (my approach was to GET it as it is and just read html's metadata, started by oc). But I failed to do also this, due to unknown language (I thought it was JS or TS). I'm highly unfamiliar with CJS (like, see this first time, and didn't even know such language exists :)

I dismissed this task at gitcoin side so others can join it.

[2019-09-10 13:52] yenda commented on #4606
@thecyberd3m0n clojurescript is an amazing and quite simple language, if you want to try it out and need guidance as of where to start you can join #status-core channel on status.

[2019-09-10 13:54] rachelhamlin commented on #4606
Thanks for opting out on Gitcoin for us @thecyberd3m0n - if you have any feedback on the clarity of the gitcoin posting I'm happy to hear it. And thanks @yenda for helping to trouble shoot. I'm going to let this one drop for now, as it's not a real priority.

[2019-09-10 14:45] vers10ne commented on #8823
Hi, .. I'd like to get involved, maybe with nimble, but could start here .. may I try to solve this please?...
I tried cloning from github, installed and can only see the status.im site content on localhost ... I think I need to run iOS simulator locally on mac.
Could someone please tell me how? Thanks in advance... :) v

[2019-09-10 15:31] rachelhamlin commented on #8909
Nice work on these @andmironov :)

I'll have to check against our current implementations but it looks like we're missing a total of 3 transaction types: `contract interaction` (+ advanced view), `signature request` and `dangerous signature request` (a build on the regular signature request).

@3esmit do you happen to know if the `dangerous signature request` is meant to convey the same problem as

[2019-09-10 15:34] thecyberd3m0n commented on #4606
I need tasks in known environments, where I can put predictable amount of time to get the results. Unfortunately, learning whole new environment is not one of them :( I'm trying to earn more while already having commercial contracts.

I'm not saying it's bad, I'm just total noob in it, seeing it first time, and can't afford time for learning such a lot about it. Still, thanks for support and big s

[2019-09-10 15:35] rachelhamlin commented on #8939
To-do for me - go through Figma & find all instances of keycard throughout the app, for acceptance criteria.

[2019-09-10 18:12] leafcutterant commented on #8742
@PombeirP thank you for clarifying. To make it clear, I don't want to make *best* the enemy of *better*. I'd be just sad to see FCM remaining included in the code base on the long-term. I appreciate the efforts made towards realizing PN v2.

Speaking of future plans:

How about, once PN v2 is implemented to the degree that it's working smoothly, removing the FCM option altogether? To make Status c

[2019-09-10 19:31] marcusrbrown commented on #8936
Looking at the designs above, would it make more sense for the Free icon to display **(SNT 0)** ? The text _Free_ would then appear beneath the badge where the currency is displayed.

That removes an extra badge design and has clearer messaging for **(Install)** to download purchased packs.

[2019-09-10 21:12] 3esmit commented on #8909
@rachelhamlin No, it's part of `ethereum signed transaction`. It's an error of no balance, this check should happen for any `ethereum signed transaction` (regardless of being a `contract interaction`) but not for `ethereum signed message` (regardless of EIP191).

I think this would be more specific, Rachel:

1. ethereum signed transaction
    a. ETH value transfer
    b. contract call
      1. ERC

[2019-09-11 01:17] vic-en commented on #8027
I've started work on this bounty. I think @yenda has a point. There wouldn't be a need to use external currency conversion api. I'll just figure out how to access that interface.

[2019-09-11 05:38] pedropombeiro commented on #8742
Yes, that's the ultimate goal with PN v2.

[2019-09-11 08:13] kilimanjaro2 commented on #7633
Yes. I'll start working on it this weekend. I have a lot on my plate during
the week.

On Tue 10 Sep, 2019, 04:06 Rachel Hamlin, <notifications@github.com> wrote:

[2019-09-11 08:50] errorists commented on #8936
@rachelhamlin do we want to include the `Free` button for any sticker packs that cost 0 SNT? I can't recall on what configuration of text labels we settled on finally regarding sticker packs.
Personally I'm not a fan of carrying a 0 SNT button, feels weird somehow to show a null price, `Free` is imo better and we don't add the gas cost to any of other price tags either way.

[2019-09-11 09:03] rachelhamlin commented on #8936
Agreed @errorists. If we look at Apple's app store as an example, free apps are simply labeled `Get`. Appreciate the consideration though @igetgames! I'm approving you to work on the issue.

[2019-09-11 09:10] errorists commented on #8936
cool, it's settled then
Packs with a price `<snt icon> 1000`
Packs that are free `↓ Free`
Packs that were previously paid for and ready to install `↓ Install`

@igetgames please be aware that the margin surrounding the SNT icon in the button is too large, the icon was exported with extra padding already there. If you'll be doing any work with that, I'd ask you kindly to remove the margin.

<img wi

[2019-09-11 09:57] andmironov opened #8966 "Biometric sign-in"
I've been working on Face ID/Touch ID/Fingerprint sign-in options in settings and ran into a few problems:

1. Is it really "SIgn-in"? I mean, obviously you can not sign in on another device using your fingerprint, which means we are not offering you a "fingerprint sign-in". Most apps call this "app lock" which is something on top of sign-in/sign-out.

2. "Save password" option. If the user has th

[2019-09-11 10:13] 3esmit commented on #8691
I tested this and I get the error `com.facebook.react.bridge.NoSuchKeyException:backgroundColor` when I tap the "invalid number" error.

[2019-09-11 10:26] 3esmit commented on #8691
The "invalid number" might be a side effect of trying to make an invalid transaction, this can have multiple causes:
- no ether in balance
- infinite gas (failing) transaction

In the case of ENS Usernams seems like we have a problem as the dapp is trying a transaction against 0xDB5ac1a559b02E12F29fC0eC0e37Be8E046DEF49 (UsernameRegistrar) instead of 0x744d70FDBE2Ba4CF95131626614a1763DF805B9E (SNT)

[2019-09-11 10:43] cammellos commented on #8962
@flexsurfer could you add more information about the performance issue? For example is it less performing when switching chats/scrolling/receiving new messages etc, it will help pin point the issue and understand exactly what is it due to (rendering? sorting? timestamp calculation etc). Moving sorting etc to status-go is a fairly large chunk of work, and although I think it's best to do it, it is

[2019-09-11 10:47] guylouis opened #8968 "User enters seed - add warning if word not in dictionary"
# Situation

When a user imports a multiaccount by typing in his 12 words seed phrase:
- We *do* check the words against our dictionary.
- Even if they don't match our dictionary, we currently allow the user to proceed without warning.
- If there is a mispelling or use of unsupported language, the user will end up with a new, empty account
- If the seed phrase IS valid, intentionally does not matc

[2019-09-11 10:51] flexsurfer commented on #8533
https://github.com/status-im/status-react/issues/8966

[2019-09-11 11:00] andmironov commented on #8966
сс @hesterbruikman

[2019-09-11 11:01] andmironov commented on #8909
cc @hesterbruikman

[2019-09-11 11:25] 3esmit commented on #8691
Sorry, my mistake, its actually using the correct call. I sucessfully registered an username: https://etherscan.io/tx/0x7dade245d085889da1f1b62f72472e09e089c25181838168a4cc275691a4e402

So to get rid off the "Invalid Number" error I needed to have 10 SNT on my account.

So perhaps we need only to threat errors on the case user dont have SNT or sufficient ETH/GAS before allowing the button to be pr

[2019-09-11 11:29] andmironov commented on #8966
Figma:
Settings https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=576%3A0
Login: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

[2019-09-11 11:44] rachelhamlin commented on #8968
Copy suggestion, now reflected in Figma:

`This looks like a custom seed phrase and doesn't match the Status dictionary. This could also mean some words are misspelled. If so, you'll end up creating a new account.`

[2019-09-11 12:01] rachelhamlin commented on #8657
You're approved @bshevchenko!

[2019-09-11 12:08] marcusrbrown commented on #8936
No worries. Thanks for the approval, I'll get started!

[2019-09-11 13:13] flexsurfer commented on #8962
@cammellos yes, sure, sorry, so when you switch between chats list and chat it takes 1-3s and UI is freezing, even loading indicator (which has native animation, not js thread) is freezing, maybe at first we need to cache messages in status-react, and don't load them each time just add new to the cache, but yeah better to dig first and find the reason
here you can find some results from Serhy http

[2019-09-11 13:34] flexsurfer commented on #8966
thanks, @andmironov looks good to me, yeah you're right about onboarding, a user should be aware that we gonna save his password!

[2019-09-11 13:35] flexsurfer commented on #8966
@rachelhamlin who could help us with the copy?

[2019-09-11 13:54] rachelhamlin commented on #8966
Here's what I recall of the situation:

**Problem:** Users want faster log-in. They like using biometrics in other apps. Also, typing your password in public is something of a security risk.

`Save password` was implemented because it was a less costly means of attacking the same problem.

The first instance of biometrics being implemented in Status was within [this PR](https://github.com/status-i

[2019-09-11 13:55] bitsikka commented on #8447
Best to wait for #8776 to be merged, - it has improved animation/component-structure for `large-header` component useful for main part of this issue.

Meanwhile,
- For related #8896 Been studying `Custom React Navigation Transition` resource shared by @ **errorists** - awesome resource - learnt a lot 👍
- Found another promising resource *[React Navigation: Shared element transition](https://www.re

[2019-09-11 13:58] rachelhamlin commented on #8966
@flexsurfer I will, as soon as we align on the relationship between `Save password` and biometric..! I'm in disagreement here.

If biometric login toggles `Save password` on but NOT vice versa, we don't need this pop-up:

![image](https://user-images.githubusercontent.com/15470435/64703496-72f69b00-d4a4-11e9-8e74-bf8316052228.png)

Nor these, I don't think:

![image](https://user-images.githubuser

[2019-09-11 14:03] Serhy commented on #8901
Should be fixed after https://github.com/status-im/status-react/pull/8903 is merged

[2019-09-11 14:08] flexsurfer commented on #8966
So i'll try to clarify, to sign in (btw i think we don't use signin anymore, we use unlock) into account we need a password to decrypt the app db, so if user doesn't want to enter password each time he must save his password first and then if he still wants to guard his account he can use biometric

[2019-09-11 14:15] flexsurfer commented on #8966
maybe we could say smth like "Save password and enable fingerprint" in that case we can keep fingerprint in onboarding because we have a password and can save it

[2019-09-11 14:19] rachelhamlin commented on #8966
@flexsurfer hmm are you saying that 'save password' MUST also toggle biometric? or merely that it's required in order to do so

[2019-09-11 14:21] flexsurfer commented on #8966
@rachelhamlin no, they are not related, but there is no sense to enter a password and use biometric, so if you want to use your password (disable "save password") mayb we should turn off biometric

[2019-09-11 14:23] flexsurfer commented on #8966
so to unlock the account (signin) you ALWAYS need a password , you can enter it or it can be saved and used without you ("save password" option) , and additional to that you can have biometric, but it make more sense when you saved your password but for sure you can use both, enter password and use biometric

[2019-09-11 14:25] rachelhamlin commented on #8966
Right, we agree on that. So if you have biometric on, you don't enter password. But if you don't have biometric on, you can either type password or `save password`.

What I'm suggesting that differs from what Andrei wrote (I think), is that choosing to `save password` does not turn on biometric. Only the biometric settings do that.

[2019-09-11 14:29] andmironov commented on #8966
Nope, I'm not suggesting that :-) Sorry I was not making my point clear I guess! I think we are on the same page actually.

What I am suggesting is:
- You can not turn on biometric if you have not turned on `save password` before. So if you try to do that, from profile you get a popup `Please close the app, open it again, turn on save password and only then you can enable biometric`

<img width="1

[2019-09-11 14:29] flexsurfer commented on #8966
only if you used "save password" option, if not you still have to enter a password even if biometric is on

it doesn't turn on yes, but maybe we must turn off if user has it enabled and wants to disable 'save password'

[2019-09-11 14:30] rachelhamlin commented on #8691
@3esmit what about these potential failures mentioned by Andrey?

[code]

There are more options than just insufficient ETH/SNT, no?

[2019-09-11 14:31] flexsurfer commented on #8966
we don't need to ask the user to close the app and save password , we can just log out the user and select this 'save password' option for him, but if he'll deselect it we'll show alert if biometric is on "biometric will be off as well"

[2019-09-11 14:33] rachelhamlin commented on #8966
Ohh, I see.

So next question: can we `save password` automatically when user opts in to biometric?

Agreed. And a biometric user needs to be able to do this before face ID logs them in.

[2019-09-11 14:33] andmironov commented on #8966
Also, it works vice versa. If you have the `save password` option on and biometric on -> biometric does not recognize you during sign in -> you see the regular sign-in screen but with icons now. Icons are there to allow you to trigger the biometric check again.

<img width="760" alt="Screen Shot 2019-09-11 at 17 31 32" src="https://user-images.githubusercontent.com/3115606/64706401-1605df80-d4ba-1

[2019-09-11 14:34] flexsurfer commented on #8966
no because we don't have a password :) that's why we want to redirect to login screen with 'save password' enabled

[2019-09-11 14:36] andmironov commented on #8966
_if I understand correctly everything we just discussed is already covered in the issue_

[2019-09-11 14:38] flexsurfer commented on #8966
yes but with different copy, and we'll logout user automatically, maybe we need two buttons, yes and no, yes - for logout

[2019-09-11 14:38] flexsurfer commented on #8966
and what about onboarding?

[2019-09-11 14:40] andmironov commented on #8966
I don't think we have to log users out because:
- You don't have to log out, you just have to re-open the app;
- For some reason, I like that we are not automating this and asking users to do it manually. IThe flow seems to be more intuitive this way.

[2019-09-11 14:41] andmironov commented on #8966
Yes, it's device-specific. Face ID/Touch ID is iOS-only. On Android devices, there might be different ways they call it or we might use something generic like "biometric"

[2019-09-11 14:41] flexsurfer commented on #8966
i've never seen this before, that app asks to re-open the app, most users don't know what does that mean

[2019-09-11 14:44] rachelhamlin commented on #8966
Got it :) that makes sense now.

Re logout - from my POV, when a pop-up requires me to take further action in order to accomplish what I came to do, I like the option to jump right into that action. However, if people don't read the copy on this pop-up, they may miss the crucial bit about `save password` then log out and log back in without doing it. I'm impartial on that.

And I also think it's o

[2019-09-11 14:44] flexsurfer commented on #8966
it brokes the flow. i want to enable fingerprint, why would i want to reopen the app? i want to enable fingerprint enter my password and scan my finger :)

[2019-09-11 14:54] andmironov commented on #8966
yes, you've never seen it because the way we do it is a bit weird in the first place. Everyone else has an "app-lock" which works independently from sign-in/sign-up. Although many other apps have "biometric will work when you will use the app next time" which is close to our situation. Except that to make it work we require an extra step from the user which ONLY the user is able to perform.

So in

[2019-09-11 14:58] bshevchenko commented on #8657
@rachelhamlin thanks! I'm having issues with project installation, trying to reach https://chat.status.im/ but no luck (even via VPN). Is it down or something?

[2019-09-11 15:09] andmironov commented on #8966
I'm not forcing this and if you have read my reasons to do so and you are not convinced, maybe that means I'm wrong and we should log people off automatically, no big deal :-)

It's just something that seems off to me here.

**1. Approach. Manual**
-  I go to Settings;
- Toggle the biometric thing;
- I am asked to re-open the app, enter my password and turn the "save password" option on and come b

[2019-09-11 15:11] andmironov commented on #8966
+1

[2019-09-11 15:13] andmironov commented on #8966
if we can't guide the user all the way through a certain flow it happens for a reason. And cutting a corner and "helping with something" might make it even worse, instead of improving it

[2019-09-11 15:33] rachelhamlin commented on #8657
https://chat.status.im/ isn't actually live @bshevchenko; we're developing for mobile only right now.

Take a look at this quick start and see if it helps you? https://status.im/build_status/status_react_quickstart.html

[2019-09-11 15:38] andmironov commented on #8966
also, we can test it later and add that automatic log-off if it helps after all :-)

[2019-09-11 15:51] rachelhamlin commented on #8966
Yup, this is the crux of it for me. Let's go with manual instead @flexsurfer?? And you can add pop-up modal only and no log-out trigger. :D

Here are my copy suggestions:

Do not make 'app-lock' a term. Instead use the following wording:

**Setting**
`Lock app with Face ID/Touch ID/fingerprint`

**Unlock Screen**
`Save password and enable Face ID/Touch ID/fingerprint`

**Settings Modal, Save Passw

[2019-09-11 15:54] flexsurfer commented on #8966
i don't understand, i want to enable fingerprint and you show me a message "please close the app"? ok . i closed it, and opened one week  later, and what next ? i can't get it
i want just to enable fingerprint, you say ok, please save you password first, i say ok, login screen opens with `save password` enabled, i enter my password, scan fingerprint and voila

[2019-09-11 15:57] rachelhamlin commented on #8966
Okay, I didn't get this part. It does the `save password` action for you, and you simply type your PW. That sounds more obvious & thus better for the user.

Either way, user needs to come back to settings and enable biometric again, yes or no?

[2019-09-11 16:02] flexsurfer commented on #8966
no , he's already enabled it, it will be enabled after login , oh ! finally, i got your point! you want user to save first and then go to profile and enable biometric, hm this more complicated for user but easy to implement

[2019-09-11 16:07] rachelhamlin commented on #8966
No, I don't think we should do that! I think Andrei and I misunderstood it to be required.

Since we can check `save password...` automatically for the user when they go through this settings modal, I now feel we **SHOULD** automate it because it's smoother, and not confusing like I thought.

These are my revised suggestions for copy/buttons:

Do not make 'app-lock' a term. Instead use the followi

[2019-09-11 16:11] flexsurfer commented on #8966
btw we don't lock app we lock an account, don't forget we have more than one account and other accounts have their settings

[2019-09-11 16:13] flexsurfer commented on #8966
or maybe i'm wrong, we lock the app because you can't access other accounts you need to unlock account first and then logout to access other accounts

[2019-09-11 16:14] rachelhamlin commented on #8966
Well...hopefully not that many Status accounts with multi-account. You mean 'account' as in, one random name?

[2019-09-11 16:16] flexsurfer commented on #8966
sorry i meant multi-account

[2019-09-11 16:20] flexsurfer commented on #8966
so if you have multiaccount1 and multiaccount2 and you saved password for multiaccount2 , to access multiaccount1 you have to logout from mutiaccount2 first , oh still we can't say the app is blocked because you can fail biometric login screen will be opened and you can access multiaccount1 , so yeah it's account lock , not app for sure

[2019-09-11 16:21] andmironov commented on #8966
i think the answer is yes. Otherwise, if we enable it “in advance” and the user does not check the “save password” button, how do we handle that? And we can’t even show a success message since the flow is interrupted with sign-out -> sign-in.

I’d suggest to stick to manual, also because it’s easy to implement. Fist you have to save the password, then you come to settings and enable biometric. If

[2019-09-11 16:25] rachelhamlin commented on #8966
That makes sense, and I changed 'app' to 'account'. But why would users have multiple multi-accounts anyway? It's kinda silly. The whole point of multi-account is so you can manage various addresses inside one container, right? Plus some day even multiple chat IDs. I guess it is possible. Especially if people want to import from seed phrase that is not supported in v1.

I think what Andrey is sayi

[2019-09-11 16:27] andmironov commented on #8966
even if so, its not a wizard or a flow with a cancel button. On that screen the user can un-check it manually or go back and log in into another account. We never know. This is why i like the “all or nothing” approach.

[2019-09-11 16:28] flexsurfer commented on #8966
so let's see two cases
1) user switches on fingerprint option - fingerprint enabled - app logouts user - user enters a password - app show fingerprint - user scans finger - done
if user deselect `save password` - fingerprint disabled
if a user fails to scan finger - fingerprint disabled
if a user closes app or log in later with 'save password` , we still show fingerprint popup after login

2) user

[2019-09-11 16:32] andmironov commented on #8966
nope, it just offers to enter password. you might wear glasses or be sleepy and the face id scanner does not recognize you. but next time you open the app it scans your face again, until you manually turn it off in settings

[2019-09-11 16:34] andmironov commented on #8966
also, notice how approach 2 has less dependencies and is “flat” in general. no flow at all, just an instruction or a “rule”

[2019-09-11 16:34] flexsurfer commented on #8966
i'm talking about enabling biometric , to enable it you have to scan it properly, for next sign in yes you can enter password and biometric still will be enabled

[2019-09-11 16:36] andmironov commented on #8966
are you sure?  not the case with face id on iOS for sure. I just enable it, and it scans for it the next time i unlock the app

[2019-09-11 16:38] flexsurfer commented on #8966
idk how it works in other apps, but it looks reasonable to ask confirmation that you have a proper biometric before enabling it, what if you want to enable it but you don't have a finger anymore?

[2019-09-11 16:41] andmironov commented on #8966
:-) you can always turn it off and enter the password. afaik it’s a common pattern not to ask for biometric data to turn it on, the app assumes that you have it set up already.

[2019-09-11 16:42] flexsurfer commented on #8966
ок

[2019-09-11 16:43] flexsurfer commented on #8966
ops

[2019-09-11 16:47] flexsurfer commented on #8966
if we don't need to scan
1) user switches on fingerprint option - fingerprint enabled - app logouts user
a user enters a password immediately or later with `save password` enabled -  done
if user deselect `save password` - fingerprint disabled

2) user switches on fingerprint option - we show an alert with instructions-  fingerprint disabled
user in any time login with `save password` enabled
goes

[2019-09-11 16:59] andmironov commented on #8966
I don't like that it's possible to go from `fingerprint enabled` to `fingerprint disabled` in the **#1** approach by mistake (by deselecting `save password`)

[2019-09-11 17:05] flexsurfer commented on #8966
but its safe :) in that case next time you have to enter password, but if in 2) user misunderstood, and will save a password and won't go to profile and won't enable biometric, his account will be unsafe which is worst
from security perspective 1 is better

[2019-09-11 17:08] andmironov commented on #8966
what i like about is that we never enable anything there, we just provide and instruction.

[2019-09-11 17:28] andmironov commented on #8966
the approach #1 introduces a schrodinger's cat situation for biometric. when the user is on the sign in screen it’s both enabled and not and the result is hidden, until you get through the sign in.

Approach #2 like i said is more flat and transparent, harder to get confused. At the same time it is a bit weird since the user is asked to perform an extra action.

I’d suggest sticking to #2

[2019-09-11 17:29] andmironov commented on #8966
but we can use the approach #1 as well!

that’s a serious discussion here! i guess there’s no right or wrong, let’s stick to either of the approaches and find out which one works best! 😅

[2019-09-11 17:34] flexsurfer commented on #8966
or we can mix them :) add `enable and logout` checkbox to the alert :)

[2019-09-11 17:34] 3esmit commented on #8691
@rachelhamlin Yes, but all them render the same result: not possible o calculate gas, transaction fails if included in a block.

All these errors (some condition in the contract) will be shown as "unable to calculate gas fee".

In case ETH transfer, a transaction with no enough balance will be ignored by nodes (and if included in a block would render an invalid block), but in case of ERC20, a tran

[2019-09-11 17:34] flexsurfer commented on #8966
it was a joke 😅

[2019-09-11 17:35] flexsurfer commented on #8966
lets vote then i'm for #1, because it's simpler for the user and more secure :)

[2019-09-11 17:47] andmironov commented on #8966
by tomorrow afternoon i’ll create two simple clickable prototypes one for each of the approaches and hopefully that’d help us decide!

[2019-09-12 06:52] #8886 closed, assigned to cammellos

[2019-09-12 07:16] cammellos commented on #8962
@flexsurfer I will do some investigation on the causes, to make sure that it's worth moving to status-go and which part is worth (for example if timestamp is the issue, we can just start from calculating the timestamp and take it from there)

[2019-09-12 07:45] vitvly commented on #8911
@andmironov decided to add fixes for this into https://github.com/status-im/status-react/pull/8903. Almost done with `Enter phrase` screen, will move on to `re-encrypting`.

[2019-09-12 08:15] flexsurfer commented on #8966
@rachelhamlin wdyt? https://github.com/status-im/status-react/issues/8966#issuecomment-530466288

[2019-09-12 08:30] rachelhamlin commented on #8966
#1 = automated log out and #2 = manual log out after closing alert, yes?

I still prefer #1 atm. Just want to make sure we fully agree on behavior of the `Save password and enable [biometric]` checkbox.

What happens if user checks the `save password and enable...` box on the home screen directly? Does it enable biometric from there? Does a pop up confirmation appear?

Like-
![image](https://user-

[2019-09-12 08:34] flexsurfer commented on #8966
hm this is something new , we have only two separate options `save password` on login and `enable biometric` in profile

[2019-09-12 08:38] flexsurfer commented on #8966
if we don't need to scan
1) user opens profile - switches on fingerprint option - fingerprint enabled - app logouts user
a user enters a password immediately or later with `save password` enabled -  done
if user deselect `save password` - fingerprint disabled

2) user opens profile - user switches on fingerprint option - we show an alert with instructions-  fingerprint disabled
user in any time lo

[2019-09-12 08:38] rachelhamlin commented on #8966
Okay, so in other words, the checkbox remains `save password` - and you can still use it as you would today.

Only if you enable biometric from your profile settings, does it turn on biometric.

Sorry, was leaning on [this comment](https://github.com/status-im/status-react/issues/8966#issuecomment-530400530) from earlier.

In that case, option #1 =

- User enables biometric setting in profile.
- M

[2019-09-12 08:42] flexsurfer commented on #8966
correct, only from a security perspective, i would disable `save password` option when disabling biometric in profile, so next time user has to enter password. if he wants he can `save password` then and use it without biometric

[2019-09-12 08:44] rachelhamlin commented on #8966
Okay. That sounds fair. Might be slightly confusing as we could be setting users up to expect that `save password` is always biometric, but TBD.

To amend this then:

- User enables biometric setting in profile.
- Modal directs them back to unlock screen, w/ `save password` checked.
- User enters password, biometric is enabled from then on.
- User can disable biometric from the profile.
- User can

[2019-09-12 08:50] rachelhamlin commented on #8966
Copy suggestions in light of [this understanding](https://github.com/status-im/status-react/issues/8966#issuecomment-530728363):

**Unlock screen checkbox**
`Save password` - does not change

**Biometric settings option**
`Lock app with Face ID/Touch ID/fingerprint`

**Settings modal if save password is OFF**
`Enable Face ID/Enable Touch ID/fingerprint`

`To enable Face ID/Touch ID/fingerprint, yo

[2019-09-12 09:00] rachelhamlin opened #8973 "Mobile data syncing pop-up missing text"
# Problem

On the nightly, the 'sync mobile data' modal shows only the icons for each option, with no text:

<img src="https://user-images.githubusercontent.com/15470435/64769420-2f9f3980-d543-11e9-8c31-96c2417c0333.png" width=200/>

## Expected behavior

Text describes each option:

`Continue syncing`
`Stop syncing`

[2019-09-12 09:12] #8957 closed, assigned to nobody

[2019-09-12 09:21] andmironov commented on #8966
Thanks a lot for such a great discussion, team!
Updated all the copy in FIgma:
Settings https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=576%3A0
Login: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

[2019-09-12 09:34] andmironov commented on #8935
cc @rachelhamlin do you think this might make it to v1 after all?

[2019-09-12 09:41] rachelhamlin commented on #8691
Okay, got it. So [this solution](https://github.com/status-im/status-react/issues/8691#issuecomment-527826333) looks pretty good.

Perhaps a more accurate + succinct error message flow would be:

 `The contract can't calculate the network fee. Set a custom network fee to sign at your own risk.` --> Set custom fee --> `This contract has an error in it. Sign at your own risk using custom network fee

[2019-09-12 09:56] andmironov commented on #8691
looks good to me! @rachelhamlin will update the screens with new copy

[2019-09-12 09:57] rachelhamlin opened #8977 "[Multi-account] Allow user to choose wallet for DApp transactions"
# Problem

**As a multiaccount user, I want to control which account I use to transact with DApps, so that (1) I never need to move assets between accounts to take advantage of DApps; and (2) my privacy can be better protected by not funneling all transactions through a single account.**

In v1, users can initiate transactions from the wallet screen (send/receive buttons) or from within a DApp. Ch

[2019-09-12 10:07] andmironov commented on #8691
<img width="1278" alt="Screen Shot 2019-09-12 at 12 58 48" src="https://user-images.githubusercontent.com/3115606/64774549-13a89180-d55d-11e9-8b2f-a7f5e6f60876.png">

Note: the tooltip next to the (!) icon is displayed when the icon is tapped. It disappears when the icon is tapped again. Here's how the animation could look https://www.dropbox.com/s/o21lf4uppizzr7e/err.mov?dl=0

[2019-09-12 10:07] andmironov commented on #8691
~ Figma: https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=3864%3A33253

[2019-09-12 10:56] cammellos commented on #8962
@Serhy  helped me profiling a couple of cases. What found so far:

1) We tried to cache all the computations in the subscription (basically return an constant list of messages). So: No fetching messages from status-go, no sorting, no computation of timestamps. No meaningful improvement of performance. Seems to indicate that just moving sorting messages to status-go might not be a huge performance

[2019-09-12 11:21] flexsurfer commented on #8962
it would be great to have a third experiment, trying to render only plain text of message, for example, render function [react/text message-text], i think we have really complex item renderer and it's also not optimized for flat-list and we re-render all items for every new message, but at least worth trying plain renderer

[2019-09-12 11:21] flexsurfer commented on #8962
yes, no calculations in view for sure

[2019-09-12 11:30] flexsurfer commented on #8962
for 1 it's still worth it to cache, if i understand correct, if i have 100 messages in vector ,and i recieve 1 message, all 101 messages will be recalculated regrouped etc?

[2019-09-12 11:38] cammellos commented on #8962
@flexsurfer not sure, I haven't checked exactly, but I might do, so far we are investigating switching chats rather than receiving a message when a chat is on, but I can focus on that later.

I have also did as you suggested, only render text, it's clearly much much faster. Another thing that seems to be slowing down the rendering is that we also compute the 3 words name for each message, so I wil

[2019-09-12 12:31] bitsikka opened #8978 "chat text ending with new-line breaks chat-list layout"
# Problem

When last message contains text that end in new line the following(see screenshot) happens
- the chat in the list has height greater than it is supposed to be

![Simulator Screen Shot - iPhone Xs - 2019-09-12 at 18 04 15](https://user-images.githubusercontent.com/42058840/64783861-867b3200-d588-11e9-9206-917798683f17.png)

Seems to be a known but ignored bug in react-native itself
https

[2019-09-12 13:14] rachelhamlin commented on #8966
Thanks @andmironov! And ditto. Hopefully we can get back into user testing for flows like these soon after v1 launches.

[2019-09-12 13:30] marcusrbrown commented on #8936
For the "Free" button text, am I ok adding it to just en.json or is there a procedure for adding new text?

[2019-09-12 13:36] rachelhamlin commented on #8935
@andmironov the changes proposed in your comment are quite simple, so probably. Though I don't view them as urgent, so will put a bounty on. I think they'll get done.

I'd like to return to the ENS and public key issues later. Going to create a separate issue for your comment.

Edit: Jokes, just updated this same issue. Added to bounty queue.

[2019-09-12 13:40] flexsurfer commented on #8936
yes it's ok to just add it to en.json

[2019-09-12 13:42] 3esmit commented on #8691
In some cases yes, but for all would be accurate to say "**transaction probably will fail**", or if you want to say that it has an error, would be always on the transaction, because we cannot test/check if the error is because of a badly programmed contract logic or because of badly set parameters in the transaction.

This message could also appear if someone sets the gas limit of transaction to a

[2019-09-12 13:59] 3esmit commented on #8977
Very important to have a clear UX on this, especially when we use "account contracts" where users will always have 2 accounts, one it's "private key" and other its "account contract" (that is controlled by the user private key).

### Account Select
Would be nice to give user a feedback on what is the "default account", and a way of user changing the default account.
Other things that could be adde

[2019-09-12 14:13] #8929 closed, assigned to nobody

[2019-09-12 14:13] #8954 closed, assigned to nobody

[2019-09-12 14:15] #8952 closed, assigned to nobody

[2019-09-12 14:15] #8665 closed, assigned to nobody

[2019-09-12 14:15] #8672 closed, assigned to nobody

[2019-09-12 14:37] flexsurfer opened #8981 "Topbar"
implement topbar component similar to list-item component, move statusbar into topbar, replace all usages of statusbar and toolbar on new topbar, implement {:type :big} for topbar and use large-toolbar implementation

![image](https://user-images.githubusercontent.com/11790366/64793565-8b85b480-d57b-11e9-822b-32baa89e992d.png)

**do not implement browser topbar in this component**

https://www.fig

[2019-09-12 14:45] flexsurfer commented on #8981
@bitsikka wdyt? :)

[2019-09-12 15:11] bitsikka commented on #8981
Yes, of-course, I would love to tame this important component well. Got to have V1 is ship-shape :).

Current one ain't broken, but in Profile there is a problem when there is 3 word name of varying length, because of having to use negative margin and unweildy structure.

[2019-09-12 20:33] 3esmit commented on #8968
Duplicate of #8810

By default, words outside the dictionary **should not be allowed** because it will diverge from standard, making it only recoverable in Status, not in MetaMask or any other following the standard.

Also, it's a security weakness to allow users to enter a low entropy seed, read more about this here https://github.com/MyCryptoHQ/support.mycrypto.com/blob/a5b2bcd34088d93a6ac4bfdae

[2019-09-13 02:52] speedyFixer commented on #7197
Hi @rachelhamlin , I have a lot of problems getting the status react app running with the latest changes, I don't know if something is broken in https://dev-docs.status.im/build_status/

I refreshed the repo with the lastest changes in Status and `react-native run-android` didn't work, I realized Gradle was missing in my system, so I installed Gradle 5.0, but no luck when I run `react-native run-a

[2019-09-13 06:42] pedropombeiro commented on #7197
Hi @speedyFixer. That link seems to point to an out-of-date version of the documentation. Please use https://status.im/build_status/ instead. We have a reproducible build environment in place based on Nix, so you shouldn't use tooling outside of the Nix environment. Using the recommended Makefile targets will ensure you're using Nix for your tasks. E.g. instead of running `react-native run-android

[2019-09-13 07:43] bshevchenko commented on #8657
@rachelhamlin with this quick start I have the same problem:

[code]

it's the end of the log file
where's the best place to get help on this?

[2019-09-13 07:43] bshevchenko commented on #8657
@rachelhamlin it happens to me on the very firsrt command `make startdev-ios-simulator`

[2019-09-13 08:08] pedropombeiro commented on #8657
@bshevchenko the log you pasted doesn't seem to contain the reason for the error. Can you please create a gist of the complete log?

[2019-09-13 08:29] bshevchenko commented on #8657
@PombeirP https://gist.github.com/bshevchenko/ffa2aa2c33de0a3025227ff0fc1af28e

[2019-09-13 08:31] rachelhamlin commented on #8968
But what of this use case @3esmit?

Can't the user import a valid seed phrase from another wallet?

[2019-09-13 08:41] bshevchenko commented on #8657
@PombeirP I'm on macOS mojave 10.14.6 (18G87)

[2019-09-13 08:58] pedropombeiro commented on #8657
OK, the issue is here:

[code]

We're being occasionally bitten by this issue, and still don't have a fix for it. Maybe you can the following:
1. Ensure you are on latest develop (or rebased on it);
1. try running `nix-store --delete /nix/store/22xhg1i229h2ngiwz5j2w1f2f606rynw-ruby2.5.3-ruby-macho-1.2.0` and try running `make startdev-ios-simulator` again?
1. If that doesn't work, I'd try cleaning

[2019-09-13 10:17] #8823 closed, assigned to nobody

[2019-09-13 11:19] 3esmit commented on #8968
Yes, this should happen.

I don't see how does a word would "intentionally does not match our dictionary, and comes from another wallet", if that's the case is the other wallet which would not be following the mnemonic standard.

Personally I am not against allowing custom words in the dictionary, but the standard is: it would diverge from standard and they would only work in Status (or other wall

[2019-09-13 11:39] churik opened #8989 ""Keycard" is shown in profile for users who created account without keycard"
###  Description
*Type*: Bug
*Summary*: was found during testing #8764
no "Keycard" is expected for accounts, that are not created with keycard.
<img width="241" alt="sdsdfsdfsdf" src="https://user-images.githubusercontent.com/4557972/64859764-694b6f80-d62b-11e9-8a23-2909181ac90a.png">

### Reproduction

- Open Status
- Create or restore account without keycard
- Open profile

### Additional Infor

[2019-09-13 12:14] jakubgs commented on #7197
I've taken down https://dev-docs.status.im/ entirely. I must have missed it when we moved docs under https://status.im/docs/. Not even sure how @speedyFixer found that URL, since we never publicized the pages with `dev-*` prefix, which were essentially staging for changes.

[2019-09-13 12:16] #8978 closed, assigned to bitsikka

[2019-09-13 12:20] jakubgs commented on #7197
Pretty sure this is a more up-to-date guide: https://status.im/build_status/status_react_quickstart.html

[2019-09-13 12:54] churik opened #8992 "Logout from keycard account redirects to login screen for another user"
###  Description

*Type*: Bug
*Summary*: if you have several accounts, one of them is created with keycard, when you log out from this account you will see login screen to another account.
Discovered during testing https://github.com/status-im/status-react/pull/8764#issuecomment-530464429, will be fixed separately.
Related comments: https://github.com/status-im/status-react/pull/8764#issuecomment-

[2019-09-13 13:18] churik opened #8993 "Userpicture overlaps with name on login screen for accounts created with keycard (for small screens)"
Discovered during testing of https://github.com/status-im/status-react/pull/8764, decided to be fixed separately

# Problem
![photo_2019-09-10 15 00 53](https://user-images.githubusercontent.com/4557972/64615940-cb159a80-d3db-11e9-852f-b17b79717ab6.jpeg)

**Device:**  LG V20 (5.7-inch; 2,560x1,440 pixels)

[2019-09-13 13:51] churik opened #8995 "No text formatting (bold, italic) applied in chat for messages in asterisks (*) or underscores (_)"
### Description

*Type*: Bug
*Summary*: Text of message is not formatted accordingly on home screen when message in chat (1-1  / public) sent wrapped up with asterisks (`*`) or tildes (`_`)

#### Expected behavior
**bold text** and *italic text*

#### Actual behavior
Text of message is not formatted on home screen in **bold**/_italic_ font when message in chat sent wrapped up with asterisks (`*`)

[2019-09-13 13:54] churik commented on #8995
@rachelhamlin not sure if it is required for V1 - it is just broken in `develop` now (seems that it was introduced in https://github.com/status-im/status-react/pull/8943) - but not critical IMO

[2019-09-13 14:02] rachelhamlin commented on #8968
So I'll admit, I have no idea how derivation paths or seed phrases work.

But it sounds like Status dictionary = common. And if a word doesn't match our dictionary, it can't also be a correct mnemonic coming from MEW or Trust or another wallet either?

In which case, this should really only be an error about misspelling/incorrect seed phrase. And should be prevented.

[2019-09-13 14:11] rachelhamlin commented on #8691
Got it! I think "transaction will probably fail" is a much better message for the second error screen then. Left a comment to that effect in Figma, @andmironov - let me know if you disagree.

[2019-09-13 14:21] #8727 closed, assigned to nobody

[2019-09-13 14:22] rachelhamlin commented on #8995
Lovely. Agreed, not critical.

[2019-09-13 14:30] churik commented on #8993
cc @guylouis

[2019-09-13 14:30] churik commented on #8992
cc @guylouis

[2019-09-13 14:32] churik commented on #8989
cc @guylouis

[2019-09-13 14:34] speedyFixer commented on #7197
Hi, really thanks @PombeirP and @jakubgs ! I didn't realize about the outdated docs, I use to use the new docs with no problem. I always look for the documentation before run the project for what I typed in Google 'status im docs', and the results lead me to the outdated docs.

I did a video with the behavior:
[https://www.youtube.com/watch?v=UeH7e6Gu6As](https://www.youtube.com/watch?v=UeH7e6Gu6A

[2019-09-13 14:38] rachelhamlin commented on #8962
I know it's not a bug but am lumping tech debt with bugs while prioritising for v1 release + want to make sure I count this, hence label.

[2019-09-13 14:43] #8939 closed, assigned to nobody

[2019-09-13 14:51] churik opened #8997 "Error 'Hzb.checkViodeoAuthorizationStatus in not a function' at attempt to scan QR on IOS"
###  Description

*Type*: Bug

*Summary*: when scanning QR code getting error 'Hzb.checkViodeoAuthorizationStatus is not a function' instead of dialog about granting permission to camera.
Have a device with IOS 11.4.1. only, so would appreciate if someone can check on iPhones with newer versions.

#### Expected behavior
can scan QR

#### Actual behavior
![error5](https://user-images.githubusercont

[2019-09-13 15:03] rachelhamlin opened #8998 "'Enter your password' screen has no PW entry field when creating new account"
# Problem

I was adding an account from the account explorer. To do so, you need to enter your Status password. However, the screen has no password input on it:

![image](https://user-images.githubusercontent.com/15470435/64873008-247e0380-d640-11e9-81cc-8b372b9dc728.png)

I am unable to move past this screen to generate a new account.

## Notes

Oddly enough, on the same build, when I did the sam

[2019-09-13 15:09] rachelhamlin opened #8999 "Ensure sentence case is used throughout the app"
# Problem

We don't treat any of our feature names as proper nouns.

Therefore, sentence case should be used throughout the app.

Some terms, like `seed phrase` or `chat key`, are capitalized in certain places. For example, on the `Access key` screen, we have the line "Enter Seed phrase." This should read "_Enter seed phrase_".

We should ensure that the entire app uses sentence case, especially i

[2019-09-13 15:10] guylouis commented on #8968
so it seems the question we have to answer is : do we keep on accepting a seed which includes word which are outside of BIP39 'official' lists here : https://github.com/bitcoin/bips/blob/master/bip-0039/bip-0039-wordlists.md
right ?

Two options
1/ today we accept such a seed (going against BIP39 then), and just warn the user about this. Risk is letting the user setting up low entropy seed phrases

[2019-09-13 15:45] bitsikka commented on #8981
While committed to `[8447] [Multi-Account] Design touch-ups for account explorer + wallet UI`, I'm jumping on this one with higher priority. Will be working on it(+) over the weekend.

[2019-09-13 22:01] 3esmit commented on #8968
If Status, MEW and Trust are following the mnemonic specification correctly, no. If a word doesn't match BIP39 dictionary, it is not a valid BIP39 (or whatever is supported) seed phrase; it can be a valid mnemonic of other specification, which isn't supported.

If Status want to support multiple specifications, would be a positive aggregation, but for me seems like everyone is already using BIP39.

[2019-09-13 22:06] jakubgs commented on #7197
Thanks for pointing that out, it does indeed lead you to the `dev` page. I've updated the sitemap URL in the Google Search Console, it might take a bit for the results to change but they should be correct soon.

But I've also verified that Google doesn't list the site itself and it says it does:
![dev_docs_google_not_listed](https://user-images.githubusercontent.com/2212681/64896806-1daabd00-d64f-

[2019-09-13 22:52] vic-en commented on #8027
Hi, just to update. I've also made great progress towards showing the user currency. I'm still familiarizing myself with the code and layout to ensure nothing more or less happens than showing user's currency alone.

[2019-09-13 23:10] 3esmit commented on #8941
I experienced this. Seems like that the application is missing the case of "update key". It is trying to register the username again, which will fail the transaction because the username is already registered. I will comment more on this on the issue about change whisper id feature that Rachel referenced above.

[2019-09-13 23:12] 3esmit commented on #8941
When the chat key (x,y of pub key) are updated the UI will allow me to add that as my username, that is the case. So this happens only when the Whisper ID is not of the current user.

[2019-09-13 23:50] 3esmit commented on #8853
This would be the flow to update the resolver of user ens name with new pub key:
[code]

In case user resolver dont supports `setPubKey(bytes32,bytes32,bytes32)`, or is an invalid address (address zero, address with zero codesizedata) the user should be prompted to update the Resolver address first.

Update Resolver:
[code]

[2019-09-14 00:14] 3esmit commented on #8977
Perhaps the account could be selected on the "Account Privacy Pop-up", which allows the Dapp to read the account in first place.

The screen could also allow to derive a new account only for that dapp, this could be done by naming the account the same name of the dapp. The dapps should remember this decision, and always use the same account for the same dapp.

Users should be able to switch betwee

[2019-09-14 22:22] Keheira commented on #7697
@gitcoinbot I'm having issues understanding how to run the app locally. I was reading the documentation but I'm still unsure

[2019-09-15 09:52] bshevchenko commented on #8657
@PombeirP thanks, but 2 didn't help

`keiras-iMac:status-react bruce$ make nix-purge
sudo rm -rf /nix ~/.nix-profile ~/.nix-defexpr ~/.nix-channels ~/.cache/nix ~/.status .nix-gcroots
Password:
keiras-iMac:status-react bruce$ make startdev-ios-simulator
-bash: /Users/bruce/.nix-profile/bin/make: No such file or directory`

How to build project after `make nix-purge`?

[2019-09-15 20:19] yenda opened #9003 "Recover deleted translations"
# Problem

this commit removed translations that shouldn't have been removed 7ba83bde74687942c81f015806e4802939d41b6a

## Implementation

recover the following labels:
- not-sent-click
- not-sent-tap
- sent
- sending

[2019-09-15 22:57] MajorTomSec commented on #8485
Hello there,
I'm sorry I'll have to stop working on this issue.
I thought I'd have more free time than this, but life has kept me busy recently, so I'd better leave this issue to someone else.
I'll work on it when I get more free time eventually, if no one takes it !
Sorry for holding the issue !

[2019-09-16 08:14] #8748 closed, assigned to nobody

[2019-09-16 08:14] #8749 closed, assigned to nobody

[2019-09-16 09:24] rachelhamlin commented on #8485
Oh shame, but thanks for letting us know @MajorTomSec! Hope to see you back.

On Sun, Sep 15, 2019 at 11:57 PM Major_Tom <notifications@github.com> wrote:

[2019-09-16 09:39] jakubgs commented on #7197
Added a `301` redirect from `dev-docs.status.im` to `status.im/docs`: https://github.com/status-im/infra-misc/commit/9c38229d

[2019-09-16 10:42] bitsikka commented on #8981
Spent some time understanding the `status-bar` over the weekend, with weekendy distractions on the way. Got a handle on this particular area of this issue now(previously unfamiliar). Seeing now how it needed an update just as much as toolbar.

Previous `status-bar` + `toolbar` = Current(to be) `top-bar` seems like a pretty good idea so far.

Pulling threads around, see where it leads(led to some r

[2019-09-16 16:30] bitsikka commented on #8447
@gitcoinbot I am working indirectly on this. `large-header` is as much a part of this, as it is part of  #8981, which I'm working on. It is also better to finish the general case of it, in #8981 before this. Plus waiting on soon to be merged PR that will be useful for both.

[2019-09-17 21:30] #8902 closed, assigned to cammellos

[2019-09-18 07:11] rachelhamlin commented on #8485
@igormuba approved you for the bounty - welcome!

[2019-09-18 07:16] rachelhamlin commented on #8823
@ariesjia apologies for my delay in payment - we're on our team offsite in Istanbul this week, but I've just confirmed the Tx. Thanks so much for your help on this one, hope to see you back!

[2019-09-18 07:17] rachelhamlin commented on #7697
Hi @Keheira anything in particular we can help with?

[2019-09-18 07:18] rachelhamlin commented on #8027
That's great @vic-en! Should we expect a PR this week?

[2019-09-18 07:33] rachelhamlin commented on #8447
Rock on @bitsikka. If you're planning to finalize #8981 first, I'll consider that to be in progress without making it Gitcoin official & will pay for you everything in this one via tip. :)

[2019-09-18 07:34] rachelhamlin commented on #8981
Just fyi @bitsikka - you may already know, but we're on our team offsite in Istanbul this week and so weighing in a bit more slowly than usual, in case you need anything :)

[2019-09-18 07:38] rachelhamlin commented on #8533
I'm going to close this one in favor of #8966

[2019-09-18 07:38] #8533 closed, assigned to nobody

[2019-09-18 07:38] bitsikka commented on #8447
works for me 👍
I just had a major distraction out of the way, so moving on with everything peacefully now

[2019-09-18 07:48] bitsikka commented on #8981
Got it!
Take your time. Have a wonderful offsite!!!

[2019-09-18 23:17] igormuba commented on #8485
I have started taking a look at the code, but the interface here looks a bit different, based on the discussion I have read before on what the expected behavior should be. I have noticed that the discussion is around 2 weeks old. Can someone update me on how is it supposed to look like?
It might be something to do with my build, I am exploring the previous commits to see if anything has changed in

[2019-09-19 11:06] churik commented on #6138
Not relevant anymore

[2019-09-19 11:06] #6138 closed, assigned to nobody

[2019-09-19 11:26] churik commented on #8799
Couldn't reproduce anymore

[2019-09-19 11:26] #8799 closed, assigned to nobody

[2019-09-19 12:10] tbenr commented on #8071
@gitcoinbot @StatusSceptre I submitted the bounty in gitcoin but due to ethereum congestion the tx took a couple of days to be mined. https://etherscan.io/tx/0x66184ea1c60eeb0287a1e07b7170f110d83be387895f90d7c1ecf9e1e1338ab2
now the gitcoin portal doesn't reflect the submission. Who can have a look or contact someone in gictoin?

[2019-09-19 13:18] speedyFixer commented on #7197
Thanks @jakubgs , I was able to lauch status react with the new docs, right now I'm a bit busy with work stuff, Just FYI, I will can check this issue on the weekend.

[2019-09-19 13:39] vic-en commented on #8027
yes, this weekend
I broke my installation by accident but I fixed it today so I'll test the code again

[2019-09-19 15:07] churik commented on #8998
@rachelhamlin are you sure that it is not possible to set focus on this field?
Any way to narrow the problem, can you please specify device / OS/ screen resolutions so I can recheck it on BrowserStack?

[2019-09-20 03:45] igormuba commented on #8485
I have changed the error tooltip to a red text below the field where the error occurs.
I didn't create a clickable tooltip because the whole square of the transaction fee is clickable (to edit the fee), and it is not a good idea to put a clickable button inside a clickable view.
How do you like this new error message?
<img width="427" alt="Captura de Tela 2019-09-20 às 00 43 44" src="https://user

[2019-09-20 09:19] yenda commented on #8995
@churik you are correct, the upgrade to react-native with #8943 uses vanilla react-native, and does not include the custom changes that were made to support markdown
But if we could reintroduce that as a react-native library instead of having to use a cumbersome fork of react-native that would be great.
For that reason @rachelhamlin I would propose a L bounty and to split the work between iOS and

[2019-09-20 11:07] #9003 closed, assigned to nobody

[2019-09-20 15:12] churik opened #9019 "Impossible to add new account in wallet if profile is created with keycard"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: instead of PIN password is required when add new account

#### Expected behavior
PIN is required

#### Actual behavior
password is required

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create new account with keycard
- Go to wallet
- Try to add new account

[2019-09-20 15:54] #8071 closed, assigned to nobody

[2019-09-21 16:48] tbenr commented on #8071
@StatusSceptre
reading the contract https://etherscan.io/address/0x2af47a65da8cd66729b4209c22017d6a5c2d2400

I can see fulfillment:
![image](https://user-images.githubusercontent.com/15999009/65376427-e916b100-dc9f-11e9-955f-575c9db28ee9.png)

anyone form gitcoin who can have a look?

[2019-09-22 04:03] Keheira commented on #7697
@rachelhamlin I’m sorry I can no longer complete this task.

[2019-09-23 06:53] bitsikka commented on #8447
@gitcoinbot
I'm finding fair amount of intertwines on the PRs I'm working on, easy to mess up if not careful.
Slowly and surely though, I'm working on them, ensuring as much as possible smooth transition to the new.

[2019-09-23 10:49] andmironov commented on #8485
Hey, @igormuba great job on improving the screen!

Great catch, I agree with your point that if the whole row is clickable it's a bit weird to add a clickable error inside of it. But if you look at this problem from a different angle it might make more sense. This error message design is supposed to also help indicate several errors at once. For instance when there are both not enough tokens to se

[2019-09-23 11:17] rachelhamlin commented on #7197
@speedyFixer doing a sweep of all our bounties. This weekend sounds good! Thanks for the update.

[2019-09-23 11:32] churik opened #9023 "Redirect to blank Unlock screen if tap "Cancel" during onboarding flow"
###  Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: app redirects to screen without accounts if tap "Cancel" during sign up or recovery flow. Reproducible for all flows with a keycard that should redirect to the initial state of app (during recovery and sign-in flow)

#### Expected behavior
main screen with carousel

#### Actual behavior
![photo_2019-09-23 13 28 1

[2019-09-23 12:23] richard-ramos opened #9024 "Obtain access to the contacts profile picture via the Status DApp API"
### Problem
In Teller Network, if a user has already added another user to their contacts, and then see their offers in the list of offers, they should be able to see that user's profile picture instead of the identicon.

Currently we do not have a way to obtain that profile picture, the API does not provide such functionality, which would be useful not only for Teller Network, but for any DApp th

[2019-09-23 13:59] churik opened #9025 "Can't proceed with creating account if cancel process on "Confirm seed phrase""
###  Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: can't pair the card if cancel process on "Backup seed phrase" stage - nothing happens if enter pairing code.

#### Expected behavior
can proceed

#### Actual behavior
nothing happens

### Reproduction

- Open Status
- Start creating account with keycard
- On step when should confirm word from seed phrase, tap "Ca

[2019-09-23 14:38] churik commented on #8930
Seems issue related to connection problems during creating account (when the connection is partially blocked or weak)

See this on Android as well, also when account is created with keycard.

Logs from keycard:
- setup: [logcat_login.log](https://github.com/status-im/status-react/files/3642625/logcat_login.log)
- login: [ethereum_node.log](https://github.com/status-im/status-react/files/3642626/et

[2019-09-23 14:38] pedropombeiro commented on #8657
Hmm, I haven't seen that before. Are you by any chance running this from inside a Nix shell? You should be in a regular OS shell, not inside a Nix one.

[2019-09-23 14:46] flexsurfer commented on #9024
@richard-ramos do you need user profile picture as well? I'm just thinking, maybe we could add one new permission - contacts and update profile permission
so it will be
getUserProfile -  {contactCode , profilePicture, name}
getContacts - [{address, profilePicture, name} ]
@hesterbruikman wdyt ?

[2019-09-23 14:49] bshevchenko commented on #8657
@PombeirP @gitcoinbot regular OS shell

[2019-09-23 15:03] richard-ramos commented on #9024
That would be great, because the user also has a profile in teller, so it would be nice to see their own picture too!

[2019-09-23 15:15] hesterbruikman commented on #9024
Aaaah:( I hate to make things complicated here, but I believe we can't introduce this feature without a change to dapp permission dialogs, at minimum.

'Who you have added as a contact' could be privacy sensitive information. As a user and as Status I would want to know how the DApp handles this information. @simonricoo @errorists can you sync on what changes the permission dialog would need witho

[2019-09-23 15:43] octavioamu commented on #8071
@tbenr @StatusSceptre is fixed now, was a problem with the sync on our side. Now should be ok but feel free to ping me if something is wrong.

[2019-09-24 09:48] #8992 closed, assigned to nobody

[2019-09-24 10:08] #8516 closed, assigned to nobody

[2019-09-24 11:10] Serhy commented on #8930
I've seen it some time ago (time when this issue reported) with the good WiFi connection. On iPhone and Android.
If i'm correct with where it happens - https://github.com/status-im/status-react/blob/1df30f74478fdec030cf6bd1e218f6299659bec0/src/status_im/multiaccounts/login/core.cljs#L116 - why not to retry to fetch-network-id...

[2019-09-24 11:19] yenda commented on #8930
@Serhy because the network id is fetched properly, it's `1`, at least in the screenshots above. The issue is with the actual network-id

[2019-09-24 11:52] yenda commented on #8973
@flexsurfer I think it happened here https://github.com/status-im/status-react/commit/b18a04414675b7598a8746bb5a99488f19c39d88

[2019-09-24 13:43] churik opened #9028 "Crash at attempt to use second multiaccount with keycard"
###  Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: if you have several keycards, at attempt to create a second account with keycard Status will crash.

#### Expected behavior
can use 2 accounts with keycard

#### Actual behavior
crash on "

[2019-09-24 13:44] churik commented on #9028
@guylouis should it be the part of v1 release?

[2019-09-24 13:58] yenda commented on #8973
@Serhy @churik do we have automated tests for this popup? can automated test catch it if the text is there but not visible? (not saying this is the case here, maybe it is just missing)

[2019-09-24 14:01] churik commented on #8973
no, we don't have. I can write test to check that options are presented and that Remember my choice is working, but unfortunately I can't emulate 3G network on emulator to check that whole feature is working as expected

[2019-09-24 14:17] vic-en commented on #8027
@rachelhamlin , so sorry I'm replying late. I've having problem with my development workspace lately. I have lost several important data and this project is also part of it and I'm afraid I may not be able to continue this project soon to complete the bounty. However, I'm ready to give all possible info  and will be stating the necessary to complete the bounty to whoever will take it up soon.

**T

[2019-09-24 14:33] churik commented on #8973
UPD: it wasn't right, seems Sauce Lab provides some possibility for checking app under different network speed, i'll investigate this

[2019-09-24 16:47] Serhy commented on #8930
These are steps to reproduce.
1) Install develop (nightly) build (reproduce with 24th of Sept Nightly)
2) Create new account (or recover an account - confirmed in both cases)
3) Once on Chats screen navigate to Profile and `Log out` off account
4) From login page tap `Access key` button -> tap `Enter Seed phrase`
5) Tap `Cancel` at top-left to navigate back to already existing account page
6) Log

[2019-09-24 16:51] Serhy commented on #8930
The same if to use hardware 'Back' button on Android instead 'Cancel' in the 5th step in above steps https://github.com/status-im/status-react/issues/8930#issuecomment-534646028

[2019-09-24 18:27] acolytec3 commented on #8027
If @vic-en is stepping back, @rachelhamlin, I'd be interested in picking this one up (since it looks like there weren't any other applicants on it).  I've also applied to work on #8443 and this one is a precursor to that so would be happy to do both at once.  Let me know!

[2019-09-25 07:39] #8968 closed, assigned to nobody

[2019-09-25 08:17] gravityblast commented on #8968
@guylouis @rachelhamlin @3esmit
there's another thing, checking only the words is not enough. we should check the checksum of the mnemonic phrase to check if it's really a valid phrase generated with the right algorithm.
For example the following mnemonics contain valid words, but only the first one is valid:

1: `abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon aban

[2019-09-25 08:23] rachelhamlin commented on #7697
Thanks for the update @Keheira.

[2019-09-25 08:24] rachelhamlin commented on #7697
Thanks for the update @Keheira. If you haven't already, can you please unassign yourself on Gitcoin?

[2019-09-25 08:48] rachelhamlin commented on #8027
Hey guys! Thanks for your patience, I'm just getting back into the swing after our offsite.

@vic-en - really sorry about your troubles. This is helpful work to show. I'll see if I can send you a tip when the time comes to pay this one out. I've unassigned you from the bounty in the meantime. Once you get back up and running, ping me somewhere if you'd like to try again + we can find work for you

[2019-09-25 09:00] pedropombeiro commented on #8657
@bshevchenko what I find strange is that `make` is pointing to `/Users/bruce/.nix-profile/bin/make` (mine is pointing to `/usr/bin/make`). Maybe the best is to start the setup procedure again from the beginning (i.e. run `sudo rm -rf /nix ~/.nix-profile ~/.nix-defexpr ~/.nix-channels ~/.cache/nix` and run `make run-android` again, from a new shell)

[2019-09-25 09:00] rachelhamlin commented on #8443
Heyo! Sorry for delay on this issue, just got back from our team offsite.

@alexjg I've approved you :) Welcome back!  Approved based on experience w/ codebase, quality past contribution and first come, first serve.

@acolytec3 will hopefully be contributing on #8027 instead.

@bshevchenko are you having any better luck getting Status set up after the issue found in #8657? 🤞we can get that fixed.

[2019-09-25 09:05] bshevchenko commented on #8443
@rachelhamlin Pedro answered me back just a few minutes ago on that issue. Trying now what he advised me to do

[2019-09-25 09:45] Serhy opened #9034 "Turn off autosuggestion on seedphrase confirmation input"
***Type***: Bug

***Summary***: We have enabled keyboard autosuggestion for the input when confirming seed phrase during backup. Similar to passphrase input we have to disable  autosuggestion when user type words to confirm seed phrase remembered.

#### Expected behavior

No keyboard autosuggestion on seedphrase confirmation input

#### Actual behavior
Keyboard autosuggestion on seedphrase confirm

[2019-09-25 10:04] guylouis commented on #8968
@yenda
given @gravityblast are you ok we open this again ?

[2019-09-25 10:19] pedropombeiro opened #9035 "Platform check is being made at runtime instead of compile-time"
# Problem

Currently, we have logic spread out across the code base that looks something like this:

[code]

Since the check is being made at runtime, it means that all the resulting JavaScript is still getting included in the shipped bundle. That is wasteful, and also results in unnecessary compile-time errors that force us to mock objects that won't get used at run-time, just to satisfy the comp

[2019-09-25 10:22] bshevchenko commented on #8657
@PombeirP and again no luck :( https://gist.github.com/bshevchenko/78d4f35c64d2df01c244710c322e6d5d