[2018-12-14 09:59] #6760 closed, assigned to flexsurfer

[2018-12-14 10:08] #6569 closed, assigned to vkjr

[2018-12-14 10:51] #6200 closed, assigned to vitvly, rasom

[2018-12-14 11:19] churik opened #7098 "Messages aren't fetched from offline mode if mailserver is mail-02.ac-cn-hongkong-c.eth.beta"
### Description

*Type*: Bug

*Summary*: for one mailserver `mail-02.ac-cn-hongkong-c.eth.beta ` history is not fetched from offline mode.
If you change it to other manually - history is fetching successfully.

*Prerequisites:* user has build installed on desktop platform (in my case it is Mac OSx) and mail server is `mail-02.ac-cn-hongkong-c.eth.beta`

After this history is finally fetched.
**Rep

[2018-12-14 11:25] vkjr commented on #7098
@churik, when you reproduce this on mobile, are you connected to the same network provider?
It is strange for me that it is desktop-only. I can suspect that you can't connect from mobile and can't connect from desktop because of different networks? If you connect mobile to the same network and issue reproducible, then probably something is with the provider.

[2018-12-14 11:28] churik commented on #7098
@vkjr I agree that's strange. I have the same wifi network on both devices.
Also I retested it on different accounts with different number of chats - the same.

[2018-12-14 11:35] churik commented on #7098
OK, found out. Specific for my setup, which is only on desktop - so if I clean up the data fully, I couldn't reproduce it.
On current setup I can reproduce it for all accounts - new and recovered.
I'll save my setup for anyone who can debug an issue.

[2018-12-14 12:07] Swader commented on #6426
It happens with Swiftkey.
It does not happen with GBoard.

[2018-12-14 13:21] churik opened #7100 "Add some texts according to security review"
# Problem
After security review (notes are here:  https://notes.status.im/zn74OjGLQx2V5ctqSTatgA) several changes should be done:

- [ ]  display disclaimer on download “Expect changes, vulnerabilities"
Should be done on page with links to download release.

- [x] recovery page should include “Exposes funds associated with keys”
Should be done on "Sign in to another account" page
<img width="568"

[2018-12-14 13:27] churik opened #7101 "Don't display stats on desktop if it doesn't include required changes on status-go side"
# Problem

Currently, if `status-go` version for desktop doesn't contain changes required for https://github.com/status-im/status-react/pull/6990 to work correctly, 0 in stats are shown.
<img width="568" alt="sdfsdf" src="https://user-images.githubusercontent.com/4557972/50005864-1b2a1280-ffac-11e8-8051-6f0b5ddcbfe2.png">

# Implementation
Expected that stats shouldn't be displayed if it cannot be

[2018-12-14 13:47] ghost commented on #5856
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-14 14:46] flexsurfer commented on #5650
PDF is not supported in webview on Android, so we need to use pdf viewer library (https://github.com/mozilla/pdf.js/ or  https://github.com/wonday/react-native-pdf) or open it in system browser

<blockquote><img src="https://avatars0.githubusercontent.com/u/131524?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><

[2018-12-14 15:26] jeluard opened #7103 "Estimate gas when not provided in ethereum/send-transaction event"
### User Story

As a developer, I want to have proper gas estimation when not providing it.

### Description

Update `ethereum/send-transaction` so that gas is estimated if not provided.

*Type*: Feature

[2018-12-14 15:29] jeluard opened #7104 "Update extension input to support error"
### User Story

As a developer, I want to have the ability to show that an input value is incorrect. Add an `error` property that when provided is displayed inline.

Design:
* https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=858%3A64
* https://www.figma.com/file/cb4p8AxLtTF3q1L6JYDnKN15/Index?node-id=858%3A144

`error` would be an extra property added to the extension input compon

[2018-12-14 15:31] jeluard opened #7105 "Update extension input to support number range"
As a developer, I want a simple way to support input numerical ranges. When the value entered does not fit the range, show an error.

Depends on #7104

### Description

*Type*: Feature

[2018-12-14 15:58] churik commented on #7097
@cammellos yeah, this is way to reproduce the issue what @rasom told recently.
Basically on this case I got:
-  messages are shown as sent several times  after scrolling down;
- these messages are shown at the end of other chats when I'm switching between them;
- after  setting automatic date and login\logout issue messages are shown as sent yesterday you can switch between chats normally.
Logs:
[

[2018-12-14 15:59] vkjr commented on #6961
#7012 merged, so closing this one

[2018-12-14 15:59] #6961 closed, assigned to cammellos

[2018-12-14 16:06] vkjr commented on #6396
@annadanchenko, can we close this now, when #7012 merged?

[2018-12-14 16:52] churik commented on #6396
It can be closed, yes

[2018-12-14 16:52] #6396 closed, assigned to cammellos

[2018-12-14 16:52] #6449 closed, assigned to cammellos

[2018-12-14 16:53] #6080 closed, assigned to vitvly

[2018-12-14 16:57] StatusSceptre commented on #6597
@tbenr This one may interest you as well and would be happy to approve you here.

[2018-12-14 18:37] StatusSceptre commented on #6596
Looks like it's fixed now @tbenr; let us know if you have  any more issues.

[2018-12-14 23:16] mikealchemy commented on #6822
@jakubgs @andytudhope - wanted to give a quick update from our end. We removed the profiling step entirely from our onboarding process. That means we can get you that performance improvement Andy mentioned above right away

Other good news is that in addition to projects like CryptoKitties and Radar Relay using us, Augur has been using us to power their production mainnet and just [made an announc

[2018-12-15 07:05] LuisEGV opened #7107 "[DApp] Add support for dBay"
# Problem

Please add compatibility of the Marketplace dBay. (https://www.dbay.ai/) I could do it myself, but I don't have authority to make a pull request.

# Description
Single Marketplace to buy all your dApps without no middlemen and no commision.

# Implementation

I linked an image for dBay. (180x180)

![dbay logo](https://user-images.githubusercontent.com/19657680/50040237-0f5d4f80-0083-11e

[2018-12-15 08:37] jeluard commented on #6875
@zachzundel Yeah!! @StatusSceptre can you approve @zachzundel ?

[2018-12-15 21:40] bobmoff commented on #4699
Hi! I have received a similar email from contact.cryptodailyuk@gmail.com pretending to be youtuber Crypto Daily and trying to make me invest in the same site: https://www.coinprofitex.ml

Watch out!

I did a google image search on one of there testimonials people and found that the images of the people are just copies from this template site: https://www.templatemonster.com/pl/demo/68326.html

<bl

[2018-12-15 22:25] 3ach commented on #6875
Hi @jeluard, shouldn't the account have a passphrase?

[2018-12-15 22:44] pedropombeiro commented on #6710
Decided to take a stab at this (which doesn't invalidate any external contributor from picking it up and finishing it), and this is what it's currently looking like: [video](https://drive.google.com/file/d/1fmLa7PwxGL-tWmvM6hOS4f7fLK_rNhIP/view?usp=sharing). Still missing `Status.log`, but if I'm not mistaken this is currently only being generated for Desktop, right? Thoughts welcome @annadanchenk

[2018-12-16 03:44] StatusSceptre commented on #5124
@lucasa Did you still want to work through this bounty?

[2018-12-16 03:46] StatusSceptre commented on #6871
@jeluard is the work in this one complete to payout bounty? I see that there's final testing round and approvals from @shamardy on #6937

[2018-12-16 03:47] StatusSceptre commented on #5244
@aryanbaghi There hasn't been a comment in over a month on this issue or an active PR - will close this bounty in a couple days if you're not still working on this.

[2018-12-16 03:51] StatusSceptre commented on #6828
Cancelled bounty due to extended inactivity and no updates.

[2018-12-16 03:53] StatusSceptre commented on #5244
If there is a PR on this issue will rebounty -  closing due to inactivity from workers.

[2018-12-16 08:05] ghost commented on #5674
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-16 08:42] jeluard commented on #6871
It's not clear to me if this PR introduces potential crash or not. @asemiankevich can you comment on that?

[2018-12-16 08:51] jeluard commented on #6875
@zachzundel This event should be purely data based. So just returning a map with the relevant data.
Specifically it doesn't interfere with the local Status installation and doesn't create new account or store anything on disk.

[2018-12-16 09:15] ghost commented on #5254
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-16 09:19] ghost commented on #5860
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-16 09:54] pedropombeiro commented on #5254
This is important, bot.

[2018-12-16 10:35] ghost commented on #5794
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-16 10:35] #5794 closed, assigned to nobody

[2018-12-16 15:05] ghost commented on #5800
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-16 15:05] #5800 closed, assigned to nobody

[2018-12-16 16:09] jeluard commented on #6875
See how [ethers.js](https://github.com/ethers-io/ethers.js/blob/master/wallet.js#L142) and [web3](https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#create) via [eth-lib](https://github.com/MaiaVictor/eth-lib/blob/master/lib/account.js#L8) do this.

Note that we rather not introduce external dependencies for this.

[2018-12-16 17:02] 3ach commented on #6875
Okay! I’ll take a peek.

On Sun, Dec 16, 2018 at 09:09 Julien Eluard <notifications@github.com>
wrote:

[2018-12-16 18:25] pablanopete commented on #6926
Subscribed to this issue. Please ping when release is slated to go live, so can get communications out properly.

[2018-12-16 18:25] HuguesRousseau commented on #4102
The link for the sample does not exist anymore. Does anyone have an example to share?

[2018-12-16 19:11] ijm700 commented on #4102
@HuguesRousseau luckily I downloaded a copy last month, does anyone know when the deadline is for this ?
[Sample Annual Self Classification Report.xlsx](https://github.com/status-im/status-react/files/2683866/Sample.Annual.Self.Classification.Report.xlsx)

[2018-12-16 22:52] HuguesRousseau commented on #4102
I found it was before Feb 1 of the following year: https://www.bis.doc.gov/index.php/policy-guidance/encryption/4-reports-and-reviews/a-annual-self-classification

<blockquote><img src="/templates/allrounder-3/favicon.ico" width="48" align="right"><div><strong><a href="https://www.bis.doc.gov/index.php/policy-guidance/encryption/4-reports-and-reviews/a-annual-self-classification">a. Annual Self-Cl

[2018-12-16 22:56] HuguesRousseau commented on #4102
@Izzyjm The file helps. One thing I am missing though is that for NON U.S. Component it says NO but the non U.S. manufacturing location example is in China. I would have thought that if there are non US manufacturing location, then there must be non US Component, so it should be YES. Am I missing something.

[2018-12-16 23:15] ijm700 commented on #4102
thats weird to be honest im not sure I think i would also need clarification on that to

[2018-12-17 02:05] ijm700 commented on #4102
I wonder if we use a framework like for example (InMobi Ads) which i think is developed in india do we have to select yes for 'non U.S manufactoring location' ?

[2018-12-17 02:07] ijm700 commented on #4102
hey @chadyj  did you ever hear back from them after sending your email?

[2018-12-17 07:03] mandrigin commented on #6757
@oskarth I think we can add it to our backlog (see https://docs.google.com/document/d/18ph6ptFPzRkWQo3Dbs8xcjwG5MW3Dn6ihftiBm1W1g4/edit#)

<blockquote><div><strong><a href="https://docs.google.com/document/d/18ph6ptFPzRkWQo3Dbs8xcjwG5MW3Dn6ihftiBm1W1g4/edit#">Google Docs - create and edit documents online, for free.</a></strong></div><div>Create a new document and edit with others at the same time

[2018-12-17 07:29] jeluard commented on #7107
@LuisEGV You can create PR, there shold be no permission required.

[2018-12-17 07:54] ghost commented on #4418
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-17 08:28] rachelhamlin commented on #6926
@yenda and @siphiuel, could you guys prioritise fixes to these open PRs today?

https://github.com/status-im/status-react/pull/7096
https://github.com/status-im/status-react/pull/7106

After that, we need to define what is *mandatory* from the [security review](https://notes.status.im/zn74OjGLQx2V5ctqSTatgA).

And I'd vote to drop [#7101](https://github.com/status-im/status-react/issues/7101) from

[2018-12-17 08:29] #6788 closed, assigned to nobody

[2018-12-17 08:39] tbenr commented on #6597
@StatusSceptre I applied :) need time to really start working on this, I'd like to finish the other two first

[2018-12-17 09:04] ghost commented on #4650
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-17 09:04] #4650 closed, assigned to nobody

[2018-12-17 09:33] vkjr commented on #7100
@churik, "this is alpha software" should be fixed also. As far as I remember, it must appear at the start, before user created account.
Starting work on this.

[2018-12-17 09:35] churik commented on #7100
Updated issue. thanks @vkjr !

[2018-12-17 09:35] rachelhamlin commented on #6926
So, [#5848](https://github.com/status-im/status-react/issues/5848) and [#7100](https://github.com/status-im/status-react/issues/7100) are the mandatory items from the security review. I'll help with text on the latter soon.

[2018-12-17 09:37] vkjr commented on #7100
@churik, it is not clear for me where exactly on the recovery page “Exposes funds associated with keys” should be placed. Do you know this?

[2018-12-17 09:57] jeluard commented on #5498
@asemiankevich Can you confirm this is still happening?

[2018-12-17 09:58] jeluard commented on #1751
Closing as too old. Please reopen with specifics if needed.

[2018-12-17 09:58] jeluard commented on #6862
@asemiankevich Have you looked into it? :)

[2018-12-17 09:59] flexsurfer commented on #5498
can't reproduce in latest release on ios

[2018-12-17 10:00] asemiankevich commented on #5498
this is not happening anymore

[2018-12-17 10:11] asemiankevich commented on #6862
1. When i tap `download bids`
![image](https://user-images.githubusercontent.com/28752642/50080461-2f188300-01fd-11e9-8f7e-a6b0db1c841f.png)

2. After i reload app - bids are gone

[2018-12-17 10:12] churik commented on #7100
Unfortunately not.
@errorists maybe you can provide quick design input?

[2018-12-17 10:19] #5498 closed, assigned to nobody

[2018-12-17 11:02] dmitryn commented on #7005
@denis-sharypin we can use built-in https://facebook.github.io/react-native/docs/progressbarandroid which looks similar.

![screenshot_20181217-135856](https://user-images.githubusercontent.com/23836/50083302-5b83cd80-0204-11e9-9446-1dca51e0b47f.png)

<blockquote><img src="/react-native/img/favicon.png" width="48" align="right"><div><strong><a href="https://facebook.github.io/react-native/index.ht

[2018-12-17 11:08] asemiankevich commented on #6862
hold on, actually point 2 is fine - seems reloading works ( both Metamask and Status).

[2018-12-17 11:28] #6952 closed, assigned to rasom

[2018-12-17 11:49] #5860 closed, assigned to antdanchenko

[2018-12-17 12:04] ghost commented on #5886
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-17 12:11] jeluard commented on #7063
Supported but data is not persisted.

[2018-12-17 12:34] #6871 closed, assigned to nobody

[2018-12-17 13:16] yenda commented on #6414
@mandrigin it seems odd that restarting the app works, is status-go fixing time somehow when starting the node?

[2018-12-17 13:20] jeluard opened #7113 "Enable EIP1102 by default"
### User Story

As a user, I want `privacy mode` to be enabled by default

### Description

*Type*: Feature

[2018-12-17 13:21] mandrigin commented on #6414
@yenda we should have an independent time sync to make sure that messaging works if your time is off. But probably we don't detect the edge case when the time becomes off suddenly 😆

[2018-12-17 13:54] divan commented on #7054
Related: https://github.com/status-im/status-react/issues/3631

[2018-12-17 13:58] #6814 closed, assigned to pedropombeiro

[2018-12-17 14:11] yenda opened #7114 "MVP 2 ens username in chat"
# Problem

As a user, I want my ens username to be displayed in chats I participate to.
As a user, I need to be able to specify my ens username.
As a user, I need to be able to distinguish simple usernames from ens usernames.

# Implementation
- ens username is sent with the messages
- if the user was previously unknown, the ens username is verified against the contract

# Acceptance Criteria

##

[2018-12-17 14:22] yenda commented on #7114
@andmironov is there any designs already regarding the user stories?
for this feature to work out we need to be able to distinguish username from ens usernames in chat, and the user needs to be able to set his ens-username somewhere

[2018-12-17 14:25] andmironov commented on #7114
cc @errorists
I wonder if it should be display name shown if specified, even if the user has a ENS username?

[2018-12-17 14:26] yenda commented on #7114
The simplest solution would be to merge the two, one could specify his ENS username as display name. We could add a "show in public chats" checkbox. The ens username would simply be a "verified" display name

[2018-12-17 14:33] andmironov commented on #7114
We should be really thoughtful and consistent about which name is used where, since the hierarchy is not 100% transparent.

- Every user has an **account name** (e.g Attractive Salty Seal). Used as a human-readable contact code
- Some users have a **display name**. May or may not be specified by user. May or may not be revealed to other users
- Some users have a **ENS username**. Used as a unique

[2018-12-17 14:35] yenda commented on #7114
also a user can have multiple ens usernames, but for those who already registered one, the app can't know it, the user have to enter them somewhere

[2018-12-17 14:45] andmironov commented on #7114
this complicates this even more :-) please let's not rush into implementation, this requires some time for UX research. There are not too many apps with such a complex identity structure

cc @hesterbruikman

[2018-12-17 14:53] churik opened #7115 "After reopening application non-existed mailserver without name is shown on the top of the list"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: after installing application, creating account and then relaunching app I can see additional mailserver with empty name and no-value.

#### Expected behavior
no new mailservers are shown

#### Actual behavior
![no-mailserver](https://user-images.githubusercontent.com/4557972/50094333-45313e00-0213-11e9-9f43-90c64f

[2018-12-17 14:54] ghost commented on #5791
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-17 14:54] #5791 closed, assigned to mandrigin

[2018-12-17 14:56] churik commented on #7115
release blocker? @rachelhamlin @siphiuel

[2018-12-17 14:56] vitvly commented on #7115
Will check.

[2018-12-17 15:14] ghost commented on #5884
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-17 15:15] yenda opened #7116 "MVP 3 Fetching messages progress bar"
# Problem

As a user, I don't want the `fetching messages` progress bar to prevent me from using touchable area such as `response to contact request` or the first item in the home items list.

# Design

https://github.com/status-im/status-react/issues/5371
https://github.com/status-im/status-react/issues/4345

# Implementation

- check the state of the designs and implementation in code
- implemen

[2018-12-17 15:22] yenda opened #7117 "MVP 7 Mentions"
# Problem

- As a user, I want to be able to mention other users in the chat
- As a user, I want to have a way to easily notice when I have been mentioned in a chat

# Design

[Figma for mentions](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=144%3A233)
[Figma for notifications](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1403%3A10378)

# Implementation

The

[2018-12-17 15:23] yenda opened #7118 "SNT and emoji reactions"
# Problem

As a user, I want to be able to react to a message by sending SNT to it
As a user, I want to react to a message with an emoji

# Implementation

use https://github.com/instea/react-native-popup-menu or custom popup-menu

# Design

[Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1239%3A0) // [Framer prototype](https://framer.cloud/ObAKy/)

# Implementation

- SNT

[2018-12-17 15:24] yenda opened #7119 "MVP 5 Mark all as read"
# Problem
#5394
More recent: #6375

Fix 9+ new messages badge

* as a user I want to open chats in the position of the last read messages
* as a user I want to be able to jump to the latest messages and mark all the messages as read.

# Design
https://github.com/orgs/status-im/projects/49#card-15833897

# Implementation

* implement design
* be careful with opened chat when receiving messages from

[2018-12-17 15:30] yenda opened #7120 "MVP 8 send images (as extension)"
# Problem

As a user, I want to be able to send and visualize images in the chat.

This is a community feature request that is quite recurrent.
The whisper protocol isn't suited for sending images and the swarm protocol isn't ready.

# Implementation

An extension that would use one of the public image hosting provider could be developed to provide this feature.
Since it is an extension it wouldn'

[2018-12-17 15:34] yenda opened #7121 "MVP 1 Tribute to Talk"
# Notes
https://github.com/status-im/swarms/blob/master/ideas/314-tribute-to-talk.md

# Design
https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1319%3A13403

[2018-12-17 15:39] stefantalpalaru opened #7122 "broken Linux nightly build"
https://status-im.ams3.digitaloceanspaces.com/StatusIm-181217-025916-ffdbed-nightly.AppImage exits quickly with an exit code of 1 and no messages.

<blockquote></blockquote>

[2018-12-17 15:42] rachelhamlin commented on #7114
I'd suggest we use _ENS names only_ for default display in chat/profile—it increases the utility of the username.

Stateofus.eth names should have preferential treatment, displaying in chat as `Rachel` and not `Rachel.stateofus.eth`. Other ENS names could present as `rachel.otherdomain.eth` (if and when there is a time that other ENS names have Whisper IDs associated).

If at some point ENS regist

[2018-12-17 15:49] rachelhamlin commented on #7114
Also side note: This is somewhat required to make Tribute to Talk useful. Without it, you're never going to be able to identify people you want to contact (if Attractive Salty Seal is Brad Pitt, he can just hide that from me forever by not adding me as a contact, and I'm not going to pay tribute to Attractive Salty Seal).

[2018-12-17 15:51] yenda commented on #7120
@jeluard I believe such feature would require extensions to have access to file browser?

[2018-12-17 15:59] jeluard commented on #7120
@yenda To select a picture from the gallery or take a new one that would be sent to say `imgur`? Yes, see #6596 (@tbenr is on it :))

[2018-12-17 16:06] yenda commented on #7120
@jeluard yes seems like this issue would do

[2018-12-17 16:22] yenda opened #7123 "[Design] Specify width of bubbles in chat"
This is a small issue that have been discussed a few time and shouldn't require much work.

Could you specify how large the chat bubbles can be and what determines the width and max width of each bubble.

[2018-12-17 16:28] errorists commented on #7123
good thing you ask since I've posted an issue just for that https://github.com/status-im/status-react/issues/6440

[2018-12-17 16:40] churik commented on #6926
@rachelhamlin @siphiuel @annadanchenko
on latest develop there are two new issues (https://ci.status.im/job/status-react/job/nightly/856/):

1) crash on logout
2) unable to see chat history in existing chats until you start scrolling

These issues are missing on nightly 17/12/2018.
@siphiuel can provide info what PR introduces an issue and I suggest to exclude it from release branch.

[2018-12-17 16:46] vitvly commented on #6926
#2 (unable to see chat history until start scrolling + missing timestamp in chat list) - caused by https://github.com/status-im/status-react/pull/7055

[2018-12-17 16:46] mandrigin commented on #5793
Hashing of the password needs to be added.

[2018-12-17 16:46] churik commented on #6926
@rachelhamlin @siphiuel @annadanchenko
on latest develop there are two new issues (https://ci.status.im/job/status-react/job/nightly/856/):

1) crash on logout
2) unable to see chat history in existing chats until you start scrolling
These issues are missing on nightly 17/12/2018.
@siphiuel can provide info what PR introduces an issue and I suggest to exclude it from release branch.

One more issu

[2018-12-17 16:52] annadanchenko commented on #6926
If it's possible then rollback #7055 and after this make a branch for desktop release based on new develop. If not possible then branch release based on older develop state (before #7055). Cherry pick and merge fixes for open blockers for release into this branch.

[2018-12-17 17:46] churik commented on #6926
#7055 caused crash on logout as well (checked build on PR and build on previous today commit, that might cause an issue - on #7055 crash appeared).

[2018-12-18 03:10] StatusSceptre commented on #7103
@jeluard ^  Does this approach @krisc has described sound reasonable?

[2018-12-18 07:01] cammellos opened #7125 "Move group chats to a different topic"
# Problem

To reduce general bandwidth usage group chats should be on a different topic.

# Implementation

As long as the topic is acknowledged by the peer it is ok to be used.

[2018-12-18 08:02] asemiankevich commented on #6926
@rasom maybe you can assist?

[2018-12-18 08:21] jeluard commented on #7103
@krisc You can provide the gas by just associating the value to the `:gas` key. Is that the question?
Also keep in mind `estimate-gas` is an async call and the result is retrieved via a callback.

[2018-12-18 08:42] churik commented on #6926
@siphiuel fixed these issues on latest nightly.

[2018-12-18 09:05] errorists commented on #7100
a quick solution to the text on recovery page: it should be placed below the password, 24px top margin between text and password input, 12px text in Dark Grey color (#939BA1), so something like this
<img width="515" alt="screenshot 2018-12-18 at 10 04 47" src="https://user-images.githubusercontent.com/4932774/50143231-672acf00-02ac-11e9-8fec-1fe200ccd348.png">

[2018-12-18 09:18] rachelhamlin commented on #7100
@churik @vkjr for that copy, "Exposes funds associated with keys," I suggest:

`Your wallet information will be exposed by importing this account.`

But exposed to whom/what @corpetty? What's the additional danger in importing this account to desktop?

[2018-12-18 09:19] rachelhamlin commented on #7100
@churik do we have a download screen for the alpha release prepared for me to add disclaimer copy (item #1)?

[2018-12-18 09:22] churik commented on #7100
@rachelhamlin no, we don't have.
I suppose it should be somewhere here https://status.im/get_desktop/ and I'm not sure who is responsible for this

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/get_desktop/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></blockquote>

[2018-12-18 09:36] #7123 closed, assigned to yenda, errorists

[2018-12-18 10:16] churik opened #7128 "Linux build can't start"
# Problem

After mark build as executable I still can't open file.
Last nightly build, that I can start  is [nightly 15/01/18](https://ci.status.im/job/status-react/job/nightly/853/)
Now I don't see any new processes are launching when I tried to start build.

Video: http://take.ms/0Ummm

<blockquote><img src="https://api.monosnap.com/rpc/file/download?id=Rh3bYmyV2luTQjZsgbQ5La9qVFc66G&type=previe

[2018-12-18 10:18] vitvly commented on #7128
Also there are no logs/data whatsoever created.

[2018-12-18 10:24] yenda commented on #4345
@errorists how long should the green "Connected" bar stay before disappearing?
If you can also specify the animation like you did for loading that'd be awesome

[2018-12-18 10:26] churik commented on #6926
Added #7128 and #7115 to release

[2018-12-18 10:34] denis-sharypin commented on #7005
Looks good to me!

[2018-12-18 10:39] pedropombeiro commented on #6710
Current design on the Desktop app, cc @andmironov:

![image](https://user-images.githubusercontent.com/138074/50148759-9bf15300-02b9-11e9-9690-7405a51f45b8.png)

[2018-12-18 10:48] jakubgs commented on #7128
Seems like the last working version is:
https://ci.status.im/job/status-react/job/nightly/853/
Built from: ffdbedd04956da7da0af8d3337040ac6ce348abb

<blockquote><img src="/static/9b8798e5/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.status.im/job/status-react/job/nightly/853/">status-react » nightly #853 [Jenkins]</a></strong></div></blockquote>

[2018-12-18 11:52] flexsurfer opened #7131 "Add titles + favicons in browser"
# Problem

Currently, we show "Browser" as title, and default browser image

![image](https://user-images.githubusercontent.com/11790366/50152342-aadd0300-02c3-11e9-96a0-684c363429af.png)

# Implementation

Show title and favicon

[2018-12-18 12:07] oskarth commented on #5975
@goranjovic What's the latest state of this?

I saw:

but not quite clear what this means or implies.

We want automated tests to block as soon as possible. IMO we have two options to get there:
1) Fix this now before end of year (issue high prio)
2) Remove this test from automated test for now (issue not high prio due to redesign, automated tests cutting scope)

@antdanchenko

[2018-12-18 12:09] rachelhamlin commented on #5371
@errorists @yenda I like the idea of pushing the rest of the view down to create room for the snack bar, but to my mind these blue versions with rounded edges look like buttons. They're static as well, right?

Changing back to grey might help.

[2018-12-18 12:16] yenda commented on #5371
@rachelhamlin the buttons are just for the visualization they are not part of the design afaiu

[2018-12-18 12:25] rachelhamlin commented on #5371
@yenda @errorists ahh I see, and I didn't click. 🙄 Cool, these look great.

[2018-12-18 12:31] #5848 closed, assigned to vitvly

[2018-12-18 13:00] churik commented on #6926
release branch is cut; `release/desktop/0.9.0` -  fixes #7100,  #7128, #7115, #7101  should be included in this branch

[2018-12-18 13:50] tbenr commented on #6594
@jeluard i'm working on this and I have a question: is it currently possible to define a hook command for `:group-chats`? I'm trying to do that but...

[2018-12-18 13:54] jeluard commented on #6594
Not right now but here is the change needed to make it possible: https://github.com/status-im/status-react/pull/7092/files#diff-3007be229fd9697dce9c25de8412cca1R118

<blockquote><img src="https://avatars3.githubusercontent.com/u/359723?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/st

[2018-12-18 14:02] dmitryn opened #7132 "Keycard settings"
# Problem

There is no way to manage Keycard which already paired to device

# Implementation

Implement Keycard Settings screens https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=2503%3A233

# Acceptance Criteria

It should be possible to change PIN, unpair and reset card

<img width="842" alt="screenshot 2018-12-18 17 00 49" src="https://user-images.githubusercon

[2018-12-18 14:05] dmitryn opened #7133 "Sign transaction with Keycard"
# Problem

It's not possible to sign transaction with Keycard

# Implementation

TBD

Screens https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=0%3A1

# Acceptance Criteria

It should be possible to sign wallet transaction with Keycard

<img width="995" alt="screenshot 2018-12-18 17 05 11" src="https://user-images.githubusercontent.com/23836/50159170-17b5c480-02e7-

[2018-12-18 14:08] dmitryn opened #7134 "Migrate Status account to Keycard"
# Problem

It should be possible to migrate account to Keycard (move the keys from the phone to keycard)

# Implementation

TBD

https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=0%3A1

# Acceptance Criteria

After the migration keys are stored on Keycard and are usable for login and transaction signing. And after the migration the keys down the BIP44 paths should

[2018-12-18 14:09] antdanchenko commented on #5975
@oskarth, @goranjovic
I am not a big fan of adding workarounds to an automated tests, or disabling tests which fail due to product issues.
Using the approach might lead to the situation when half of the tests are disabled, we always get `100% passed`, but half of the functionality is not tested.

However for this specific case I will add workaround, to make wallet setup before sending a transactio

[2018-12-18 14:12] dmitryn commented on #7006
To be paused until keys decoupling will be ready

[2018-12-18 14:24] errorists commented on #4345
Cool. It shouldn't stay long, `1500ms` is enough. The animation for the bar:
• Value: `Opacity from 0 to 1`,
• easing: `ease`,
• duration: `150ms`.
Reverse on disappearing.

In the design it uses a scaleY but in React Native we can't set the Transform Origin property so it won't work like that. Alternative solution, if the snackbar is placed below the Top Bar in stack, we could animate it along th

[2018-12-18 14:38] churik opened #7135 "When enter wrong password and trying to login endless spinner is shown instead of validation error"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: no validation error is shown when trying to login to app with wrong password.

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior
can see that I entered wrong password
![wr_pass](https://user-images.githubusercontent.com/4557972/50161110-24ccb680-02db-11e9-85d2-be71d9

[2018-12-18 15:12] ghost commented on #5815
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-18 15:12] #5815 closed, assigned to nobody

[2018-12-18 15:42] ghost commented on #5043
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-18 16:53] yenda commented on #7121
@goranjovic do we already have a mean to watch for events emitted by a contract? The TTT contracts emits `AudienceGranted(address from, address to)` event when someone uses the `payTribute(address _to)` function.

[2018-12-18 16:54] yenda commented on #7121
@rachelhamlin should we explain somewhere in the UX the consequences of using TTT? It's leaving an on chain proof of A reaching out to B.

[2018-12-18 17:06] rachelhamlin commented on #7121
@yenda is it not something we could conceal? What unique identifier would be stored on chain, Whisper ID?

[2018-12-18 17:07] yenda commented on #7121
@rachelhamlin the ethereum addresses of both contacts

@richard-ramos I am wondering if it is really necessary to have payTribute in the contract, couldn't paying tribute simply be a SNT transaction, indistinguishable from a normal transaction at least. The transaction-id would be sent with the contact request directly to the contact.

[2018-12-18 17:23] churik opened #7139 "Crash on enabling/disabling logs or on logout on recovered account after first login"
### Description

*Type*: Bug

*Summary*: have a crash when enable\disable logs after first login on recovered account. It is simplest way to reproduce crash on logout - it still happens sometimes when I tap on logout.
After several crashes I started get constant crash on logout - log in attached files.

#### Expected behavior
no crash

#### Actual behavior
Crash

### Reproduction

- Install status

[2018-12-18 17:45] krisc commented on #7103
@jeluard Yes, I think that all I needed to know. Just wanted to make sure.

[2018-12-18 18:06] annadanchenko opened #7140 "Status.log is created on Windows release build"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Status.log is created on Windows if install release Desktop build and create account

#### Expected behavior
[comment]: # (Describe what you exp

[2018-12-18 18:10] #5452 closed, assigned to yenda

[2018-12-18 18:30] richard-ramos commented on #7121
Yes, it should be possible. The contract will work in this case as a registry to only store the fee information. The advantage to having the `payTribute` function is that it emits the `AudienceGranted(_to, requester)` event that if subscribed to, could be used as a mean to notify the user that its request for audience was accepted.

If this is something that could be done without an on-chain opera

[2018-12-18 20:34] StatusSceptre commented on #7103
@krisc you've been approved to start work.

[2018-12-19 03:33] oskarth commented on #5975
Thanks @antdanchenko. I generally agree with you. Going forward, if there's a product issue that breaks tests it isn't going to get merged right?

Regarding the redesign and how that impacts fixing stuff perhaps @goranjovic has more details.

Also cc @mandrigin fyi

[2018-12-19 03:39] oskarth commented on #6921
@goranjovic what's the state of this?

[2018-12-19 06:32] ghost commented on #5907
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-19 08:15] mandrigin commented on #5793
https://github.com/status-im/react-native-keychain/pull/6 — minimum security guarantees
https://github.com/status-im/react-native-keychain/releases/tag/v.3.0.0-status — our fork with this functionality
https://github.com/status-im/status-react/pull/6616 — status-react PR

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="http

[2018-12-19 08:51] goranjovic commented on #6921
@oskarth wrapping up and merging this is what I'm currently doing - https://github.com/status-im/status-react/issues/6843

[2018-12-19 08:53] goranjovic commented on #5975
redesign will definitely impact the tests in the sense that all tests covering "Send transaction" will need to be updated to account for new/changed screens.

[2018-12-19 08:55] #7063 closed, assigned to nobody

[2018-12-19 08:57] goranjovic commented on #7121
@yenda yes, by parsing the event log, you can see `get-token-transfer-logs` in `status-im.models.transactions`

[2018-12-19 09:08] jeluard commented on #6179
I cannot reproduce with latest release. Livepeer might have fixed this on their end?

[2018-12-19 09:47] yenda commented on #7121
@richard-ramos both solution don't seem to fit the user story `I want to receive payment from the sender when I respond to their request.`. How could we achieve that? Seems difficult to determine if the recipient has responded to the message

[2018-12-19 10:11] ghost commented on #5859
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-19 10:37] annadanchenko commented on #6710
1. Will created logs be automatically deleted after sending?
2. for mobile: are we going to create separate Status.log instead of getting logcat/console log?
3. Will keycard events be included in the log? If so in which one?
4. Should we add some disk space check before starting log?
5. Is there any difference between release/nightly/pr build logging? Will be all logs turn to DEBUG by default on n

[2018-12-19 10:40] pedropombeiro commented on #6710
By the way, I've had to move `geth.log` to the app data directory so that the app can read it and zip it. That means e.g. we can't access it with `adb shell` and must rely on the app export functionality to see the file.

[2018-12-19 10:48] pedropombeiro commented on #6710
We can delete them if we wish (although for geth.log that'd probably require stopping the node, deleting the file and then restarting the node)

That's the idea, end users won't have a way to send us Status.log if we don't implement this (except maybe for power users).

I imagine these are system-level events, so they would normally not show up in Status.log. It depends on how we end up generating

[2018-12-19 10:49] pedropombeiro commented on #6710
Pinging @hesterbruikman for any UX input you might have.

[2018-12-19 11:25] andmironov commented on #6710
Hey, sorry can't give any input regarding desktop now. i've been working on something similar for mobile, take a look if it helps https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=1%3A467

<blockquote><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=1

[2018-12-19 11:42] churik commented on #7140
good news with this issue are:
1) that it is not reproducible all times and specific to Windows
2) geth.log is not created
2) Status.log stops growing right after you login to account, so application detects that logging is disabled.
My suggestions for now is to review created log for sensitive data and if it doesn't have it - postpone this issue.
[Status.log](https://github.com/status-im/status-r

[2018-12-19 12:01] richard-ramos commented on #7121
Yes, it's a disadvantage of autoaccepting the tribute. However, previous version of the contract has a `grantAudience` function that is supposed to be invoked by the receiver automatically when he replies back, and performs the transfer of SNT. which should fit this user story.  (https://github.com/status-im/contracts/blob/096-tribute-to-talk/contracts/communication/MessageTribute.sol#L113)

@3esm

[2018-12-19 12:05] #5650 closed, assigned to nobody

[2018-12-19 12:16] yenda commented on #6799
@cammellos could this be added to the stuff that is synced between devices?

[2018-12-19 12:29] 3esmit commented on #7121
@yenda The contract allows the TtT user to set the value and automatically accept this transaction if correct value. A event is fired which can be watch.

The Tribute to talk contract don't needs to have "deposited tokens", users only need to approve token to it and call `payTribute`.
This function uses the allowance set to the contract to [transfer from one user to other](https://github.com/statu

[2018-12-19 12:36] 3esmit commented on #7121
Why we need the part of "when I respond request"? If user set tribute to talk is because they are willing to accept invitations by that price. Who would say no?
If thats needed I can include a simple signed message answering to the requestor, the problem is that this would need mailserver syncing - as the commitment can only be done by talk requestor when talk receiver sent a signed allowance, or

[2018-12-19 12:42] annadanchenko commented on #7140
@churik I'm ok if log will be reviewed cc @corpetty

[2018-12-19 13:01] pedropombeiro commented on #6710
I can't seem to access the link (I've signed up to Figma using my status email, but still no luck)

<blockquote><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=1%3A467">Figma</a></strong></div></blockquote>

[2018-12-19 13:08] rachelhamlin commented on #7128
@PombeirP is this something that you could take a look at? I believe it's a blocker for the desktop alpha release, which we'd like to push before the holidays.

[2018-12-19 13:11] ghost commented on #5832
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-19 13:11] #5832 closed, assigned to nobody

[2018-12-19 13:22] pedropombeiro commented on #7128
@rachelhamlin Sure, I'll switch to that.

[2018-12-19 13:39] andmironov commented on #6710
invite sent

[2018-12-19 15:47] pedropombeiro commented on #7128
A few initial findings:
- no matter which commit I build locally (even the one that was used to generate the last working nightly) presents the same problem.
- running the built AppImage under gdb I can see that it starts reportApp and stops shortly after.
- I extracted both the working AppImage and the locally built one (same commit) and they have different contents in `/usr/lib` (e.g. `libboost_

[2018-12-19 15:58] pedropombeiro commented on #7128
OK, found the real issue:
![image](https://user-images.githubusercontent.com/138074/50231495-3c756f00-03af-11e9-874b-ca09788f0c37.png)
For some reason, `AppRun` symlink on the generated AppImage is pointing to `reportApp` instead of `Status`. If I manually run `Status` it works fine.

[2018-12-19 16:00] churik commented on #7128
possible to fix?

[2018-12-19 16:01] pedropombeiro commented on #7128
Very easy, but I'd first like to understand what caused this change. cc @siphiuel @MaxRis

[2018-12-19 16:18] #7135 closed, assigned to nobody

[2018-12-19 16:47] vitvly commented on #7101
@adambabik do you think enable-metrics-by-default branch could go together with https://github.com/status-im/status-go/pull/1329, or should we disable stats for now?

[2018-12-19 17:25] 3esmit commented on #7121
New contract as we defined @yenda
https://github.com/status-im/contracts/blob/314-tribute-to-talk/contracts/communication/MessageTribute.sol

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/contracts">sta

[2018-12-19 17:39] ghost commented on #5836
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-19 17:54] #7140 closed, assigned to vitvly

[2018-12-19 19:29] mariapaulafn opened #7147 "App Crash on launching on the iOS app after updating"
[comment]: # (Please replace ... with your information. Remove < and >)

### Hi, I updated my mobile status and the app crashes with a problem on encryption key message.
Choosing one of the two options (see screenshot) just takes me back to that error notification.

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

- Update app
- Open
- Yeah, not working

### Add

[2018-12-19 20:11] ghost commented on #5928
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-19 20:19] errorists commented on #7121
I believe it's necessary for some of the use cases we're aiming for. What we're enabling here is a service that you can choose to monetise your attention, and the contract between two people should require a mutual agreement that one is willing to pay for this service and the other to actually provide it. If for some reason the recipient is currently not able to do so or otherwise doesn't feel lik

[2018-12-19 20:59] 3esmit commented on #7121
I see that tribute to talk is actually 1-1 spam filter.
Regarding providing a monetized attention service, I think that could be a different contract, as this services would probably need a periodic recharge or other rules, which might be custom to each provider.
For the case of providing service, as we are open source and extendable, should be easy to patch a client the automatically accept the T

[2018-12-19 21:05] errorists commented on #7121
@rachelhamlin so should we treat the TtT work we're doing now as providing spam filtering or covering the SNT use cases outlined in the whitepaper?

[2018-12-19 22:51] 3esmit commented on #7121
In case we decide going to not autoaccept in this MVP, I added a option of the contracts having the needed functions that require an agreement from both parties to execute tribute to talk.

I added two options:
1. `sendTribute(address _to, uint256 _value, uint256 _ttl, bytes calldata _signature) ` which can be called (require tx, pays gas) by "message sender"
2. `receiveTribute(address _from, uint

[2018-12-20 00:11] ghost commented on #805
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 00:11] ghost commented on #1564
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 00:21] ghost commented on #5385
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 00:36] zachzundel commented on #6875
Okay, so looking at the methods you linked to, the private key is created by:
`keccak256([32 random bytes] || keccac([64 random bytes]) || [32 random bytes])`
and the public key by using secp256k1 to derive the public key from this private key.

Should this be implemented in status-go? Or should I just use the methods in geth?

[2018-12-20 04:11] ghost commented on #1890
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 04:19] pablanopete commented on #7147
Also had a friend report this same issue after recent hotfix
![fcb81599-408f-4a59-9126-9bde6ee12e87](https://user-images.githubusercontent.com/18363825/50263589-31850380-03dc-11e9-835a-eb77df0fc182.jpeg)

[2018-12-20 04:48] rasom commented on #7147
hm, two different errors btw

[2018-12-20 05:16] rasom commented on #7147
@mariapaulafn what was the previous version on your device? Did you install nightlies?

[2018-12-20 06:29] rasom commented on #7147
Unfortunately, we can do nothing about this,  realm databases are completely removed on @mariapaulafn device... there is a way to get a file with the private key (using app like `iExplorer`),  but better if they can just restart the app and restore account using passphrase...

[This issue is already fixed in develop](https://github.com/status-im/status-react/commit/c506521778161e10d6d154dfc2ed9754

[2018-12-20 07:14] mandrigin commented on #805
oh, cool that we have this issue already, this is already on our roadmap :)

[2018-12-20 08:11] jakubgs commented on #1890
Definitely stale. Artifactory is DEAD. :fireworks:

[2018-12-20 08:58] ghost commented on #1762
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 09:04] mariapaulafn commented on #7147
@rasom I don't really remember. I should have updated last around 2 months ago. I updated again yesterday, and this happened. Will recover from passphrase!

[2018-12-20 09:18] ghost commented on #5876
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 09:28] ghost commented on #5578
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 09:28] ghost commented on #2234
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 09:33] adambabik commented on #7101
Working on it.

[2018-12-20 09:35] churik commented on #7101
@adambabik
It is already fixed in https://github.com/status-im/status-react/pull/7144 :) so seems that required changes were added there

[2018-12-20 09:38] adambabik commented on #7101
@churik that went with a geth 1.8.20 upgrade :/ If that's ok then great but I can also prepare a build without it.

There were just few changes in the upgrade so I believe it should be smooth.

[2018-12-20 09:40] churik commented on #7101
IMO that's OK if stats is right (couldn't check)
@siphiuel WDYT?

[2018-12-20 09:58] ghost commented on #5933
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 10:19] vitvly commented on #7101
@churik should be fine

[2018-12-20 10:33] oskarth commented on #1890
YOU WOKE IT @jakubgs Now we gotta wait another couple of months

[2018-12-20 10:34] oskarth commented on #7121
Looking at this issue description, I don't understand what the acceptance criteria for it is.

[2018-12-20 10:35] adambabik commented on #7101
Let's use https://github.com/status-im/status-go/releases/tag/0.17.10-beta.1.

[2018-12-20 10:35] jakubgs commented on #1890
Forgot to close =].

[2018-12-20 10:36] #1890 closed, assigned to nobody

[2018-12-20 10:48] ghost commented on #4471
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-20 11:24] oskarth commented on #6757
Is the fact that #status-core-chat is unusable (at least for me on desktop) due to spam considered somewhat in scope? Would be useful to understand interface with chat team, since this isn't only captured in eg. TTT, and it breaks basic UX.

[2018-12-20 11:29] yenda commented on #7121
@oskarth this is just an mvp item for TTT on the chat-team epic board so that we have the little card over all others when it's our turn to work on TTT. Regarding acceptance criteria they are not defined yet as this is still in research phase and the outcome will determine the acceptance criteria of this one.

@errorists the problem with pay on reply is that there is no way to enforce an actual re

[2018-12-20 12:07] mandrigin commented on #6757
@oskarth it isn't unusable in Mobile, it looks like it is a desktop-specific issue

[2018-12-20 12:27] churik opened #7150 "Very long messages (> 10000 chars) cause extremely high performance on desktop app"
### Description

*Type*: Bug

*Summary*: if several very long messages (>10000 chars) are sent in a row to public chats, it affects to performance a lot and application starts hanging. CPU consumption jumps > 100%
![cpu](https://user-images.githubusercontent.com/4557972/50284754-5a4bde00-045a-11e9-9bba-0b6c8e035a03.png)

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

[2018-12-20 13:52] #7100 closed, assigned to vkjr, rachelhamlin

[2018-12-20 13:54] #7128 closed, assigned to pedropombeiro

[2018-12-20 15:06] Serhy commented on #5244
I don't see this issue anymore in 0.9.33 Develop. Closing for now.

[2018-12-20 15:06] #5244 closed, assigned to nobody

[2018-12-20 19:23] StatusSceptre commented on #6398
Hey @sounak98 you've  been  approved to work on this issue; please let us know if you need  any help.

[2018-12-20 19:37] #7139 closed, assigned to nobody

[2018-12-20 21:27] santteegt commented on #4391
Hi,

Should I be using the methods in [data_store/local_storage.cljs](https://github.com/status-im/status-react/blob/develop/src/status_im/data_store/local_storage.cljs)? I tried to find any usages of this methods but I couldn't find it in the code

[2018-12-21 01:43] rachelhamlin commented on #7121
Yeah, let's go with the simpler option—version 1 of the contract, 1:1 spam filtering. I don't feel that it really enables the use cases in the white paper, but given that we can't guarantee that User B replies to a message anyway (Whisper limitation @yenda?), it's truthfully the only option.

So basically, we drop a bunch of the screens from the MVP in support of the following @errorists:

![image

[2018-12-21 07:14] asemiankevich opened #7155 "Message preview is not cleared when deleting chat history on desktop"
### Description

*Type*: Bug

*Summary*: ...

#### Expected behavior
[Not messages] placeholder in message preview when chat history is deleted

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/50329632-119f2e00-0509-11e9-988a-799a8b823183.png)

### Reproduction

- Open Status
- Join any chat
- Send some messages
- Delete history
- Go to Home screen

[2018-12-21 08:07] jeluard commented on #6587
Relates to https://github.com/ipfs/community/issues/319

[2018-12-21 09:19] churik commented on #7150
It is still reproducible when messages contain link

[2018-12-21 09:21] yenda opened #7157 "MVP 4 Block users"
# Problem

An overview of the background required to understand the problem.
A problem description.

# Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

# Acceptance Criteria

Rules for the future PR to be accepted.

# Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans and thoughts.

#

[2018-12-21 09:59] flexsurfer opened #7158 "EIP1193 (new ethereum provider)"
https://eips.ethereum.org/EIPS/eip-1193

<blockquote><div>Ethereum Improvement Proposals</div><div><strong><a href="http://eips.ethereum.org/EIPS/eip-1193">Ethereum Provider JavaScript API</a></strong></div><div>Ethereum Improvement Proposals (EIPs) describe standards for the Ethereum platform, including core protocol specifications, client APIs, and contract standards.</div></blockquote>

[2018-12-21 10:00] vkjr commented on #6568
@churik, @siphiuel, can we close this now, when #6990 is merged?

[2018-12-21 10:39] #6568 closed, assigned to vitvly

[2018-12-21 11:07] churik opened #7159 "Commit hash for version number is taken from develop branch"
### Description

*Type*: Bug
*Summary*: version commit is shown according to latest commit to develop branch, release branch shouldn't contain this commit.

#### Expected behavior
commit hash is shown according to the latest commit to the corresponding branch (in this case to `release/desktop/0.9.0`)

#### Actual behavior
commit hash is shown according to the latest commit to the corresponding bra

[2018-12-21 12:40] mandrigin commented on #7052
fails unit-tests

[2018-12-21 12:51] #7052 closed, assigned to nobody

[2018-12-21 13:13] rachelhamlin commented on #7128
Thanks for hopping on this one @PombeirP!

[2018-12-21 13:29] #7150 closed, assigned to vitvly

[2018-12-21 13:55] richard-ramos commented on #7121
@rachelhamlin , yes
1. Yes, since we would be using the contract as a registry for the required fees.
4. Both options require gas spent by UserA

[2018-12-21 13:57] ghost commented on #5856
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-21 13:57] #5856 closed, assigned to antdanchenko

[2018-12-21 14:31] churik opened #7167 "Toggle which enable logging works from second attempt"
### Description

*Type*: Bug
*Summary*: when you enable logging, it is not enabled from the first time - so you should log in again and enable it second time. Reproducible on Linux and Windows. Couldn't reproduce on Mac OSx.

#### Expected behavior
can enable logging from the first attempt

#### Actual behavior
logging is enabled only from second attepmt

### Reproduction

- Open Status
- Log in
-

[2018-12-21 15:15] churik commented on #7159
ready to merge to `release/desktop/0.9.0`

[2018-12-21 15:37] churik commented on #5836
still reproducible

[2018-12-21 15:38] churik commented on #5350
still reproducible

[2018-12-21 15:38] churik commented on #5297
still reproducible

[2018-12-22 03:29] oskarth commented on #5928
Still relevant probably. Candidate for bounty? At least blocking subset

[2018-12-22 19:47] krisc commented on #7103
@gitcoinbot  I'm stuck on building status. There are a couple people in the #status-core chat helping me with this. But here is the error I get when I run 'make setup':

[code]
I have node v10.14.0
Java 8
android-ndk-r10e
android-sdk-26.1.1-1

[2018-12-23 02:09] ghost commented on #2872
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 02:09] ghost commented on #2753
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 05:47] krisc commented on #7103
Here is the output with the stacktrace option:

[code]
Gradle version 4.4

[2018-12-23 06:29] krisc commented on #7103
Okay I gave the project dir 777 permissions. It went further but still encountered an error:
[code]

[2018-12-23 07:22] krisc commented on #7103
after I 777 the /opt/android-sdk directory, I get this error:
[code]

[2018-12-23 07:52] krisc commented on #7103
[code]

[2018-12-23 08:09] ghost commented on #5674
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-23 10:09] ghost commented on #5955
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 10:59] ghost commented on #5959
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 12:30] sounak98 commented on #6398
@StatusSceptre I coudn't find the guide to setting up the developer's environment! It'd be great if I get any help.

[2018-12-23 13:49] ghost commented on #5953
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 13:49] ghost commented on #5951
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 13:59] ghost commented on #1548
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 13:59] ghost commented on #5963
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 14:29] ghost commented on #5929
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 14:31] jeluard commented on #7103
Weird. Looks like you are using an incorrect gradle version somehow.

[2018-12-23 15:09] ghost commented on #5968
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 15:59] ghost commented on #4744
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 16:39] ghost commented on #3864
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 16:39] ghost commented on #2432
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 17:18] StatusSceptre commented on #6398
https://status.im/build_status/ Does this help?

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/build_status/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></blockquote>

[2018-12-23 17:48] krisc commented on #7103
Okay, building works now. Thanks to Roman for helping me. He suggested removing the `node_modules` directory then reinstalling via `npm install` and now it builds successfully

[2018-12-23 20:19] ghost commented on #3187
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-23 23:22] DivyeshPuri commented on #7076
@jeluard Can you explain the issue a bit more please

[2018-12-24 04:13] ghost commented on #2832
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 05:44] pablanopete opened #7171 "haptic sticking on swiping to right on Status Mobile"
Couldn't really  describe what's going on so here's a  screen  recording.

https://sendvid.com/xakbtsd6

<blockquote><img src="https://thumbs2.sendvid.com/ad/20/xakbtsd6.jpg" width="48" align="right"><div>Sendvid</div><div><strong><a href="https://sendvid.com/xakbtsd6">ScreenRecording 12 23 2018 23 32 32</a></strong></div></blockquote>

iOS 12.1.2 iPhone X

[2018-12-24 07:59] ghost commented on #4418
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-24 09:09] ghost commented on #5829
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 09:13] ghost commented on #4961
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 11:43] sounak98 commented on #6398
When trying to run `make setup`:

[code]

[2018-12-24 11:50] #7131 closed, assigned to flexsurfer

[2018-12-24 12:09] ghost commented on #5886
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-24 12:09] #5886 closed, assigned to nobody

[2018-12-24 12:47] sounak98 commented on #6398
@StatusSceptre this error shows up when running [this script](https://gist.github.com/zhy0/66d4c5eb3bcfca54be2a0018c3058931).

[code]

[2018-12-24 12:59] ghost commented on #5988
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 13:13] asemiankevich commented on #7005
looks good to me
![image](https://user-images.githubusercontent.com/28752642/50400307-cbf79500-0796-11e9-9c55-22d5fbd55e37.png)

[2018-12-24 13:19] ghost commented on #5989
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 14:09] ghost commented on #5858
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 14:09] ghost commented on #5841
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-24 14:09] #5858 closed, assigned to churik

[2018-12-24 15:02] #7005 closed, assigned to dmitryn

[2018-12-24 15:19] ghost commented on #5884
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-24 15:19] #5884 closed, assigned to nobody

[2018-12-24 16:34] jeluard commented on #7076
In a nutshell it's about exposing [whisper](https://github.com/ethereum/wiki/wiki/JSON-RPC#shh_post) functions (all `shh_ ones`) to [extensions](https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/core.cljs).

[2018-12-24 16:54] #7167 closed, assigned to vitvly

[2018-12-24 17:26] vkjr opened #7176 "Add links preview to Status Desktop"
# Problem

Links preview absent on status desktop but usually implemented in all chat apps

# Implementation

Existing `react-native-link-preview` module can be resued

# Acceptance Criteria

Link previews shown in chat when user sends link along or without text

[2018-12-24 18:32] pablanopete opened #7178 "Loading status takes ~20 secs or longer"
# Problem

When I open status it takes a very long time to load initial state with multiple public chats opened.

Video example on iPhone X with 250MB down connection

https://sendvid.com/2umj6ak4

<blockquote><img src="https://thumbs2.sendvid.com/91/aa/2umj6ak4.jpg" width="48" align="right"><div>Sendvid</div><div><strong><a href="https://sendvid.com/2umj6ak4">8D9</a></strong></div><div>Upload and

[2018-12-24 18:42] pablanopete commented on #7178
Looks like #7099 is possibly related, can close if already ref.@rasom is this the same problem?

[2018-12-24 19:31] rasom commented on #7178
Hey @pablanopete, how many chats do you have in the app? Which version are you running?

[2018-12-24 20:32] pablanopete commented on #7178
0.9.32 (stable release, latest public hotfix from TestFlight) @rasom

I’ve got a whole lot of chats ¯\_(ツ)_/¯ at least 50+ individual + public chats and group chats.

[2018-12-25 04:36] rasom commented on #7178
ok, I see. This particular problem is already fixed in `develop`, but it hasn't been released.

[2018-12-25 07:23] ghost commented on #6000
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-25 08:32] #7097 closed, assigned to cammellos

[2018-12-25 09:08] #7155 closed, assigned to rasom

[2018-12-25 09:21] Serhy opened #7179 "Nothing displayed on Home view for 1-1 chat when latest message is send/request command"
***Type***: Bug

***Summary***: When latest message sent or received in 1-1 chat is the`/send` / `/request` commands - on the Home view screen it's shown as 'No messages yet'

#### Expected behavior
`Send` / `Request` message displayed on Home screen in 1-1 chat having `/send` / `/request` commands as the latest message
#### Actual behavior
Nothing (on Mobile app) / `No messages yet` (on Dektop) d

[2018-12-25 12:17] asemiankevich opened #7182 "Unexpected EOF reading string starting ""*--. when restarting desktop"
### Description

*Type*: Bug

*Summary*: `Unexpected EOF reading string starting ""*--.`

#### Expected behavior
no errors when restarting desktop

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/50422091-c2823180-0857-11e9-918a-e033c948addc.png)

### Reproduction

I had a group chat with @churik with some characters. After i closed desktop and re-opened - this er

[2018-12-25 12:33] ghost commented on #3996
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-25 12:33] ghost commented on #3601
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-25 12:43] asemiankevich commented on #7182
should be fixed in https://github.com/status-im/status-react/pull/7172

[2018-12-25 12:43] #7182 closed, assigned to nobody

[2018-12-25 13:33] ghost commented on #6016
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-25 13:45] mukulverm4 commented on #7104
Hey @jeluard, the `error` property should be for the react native front-end, right?

[2018-12-25 13:53] ghost commented on #6018
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-25 15:43] ghost commented on #5043
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-25 15:43] #5043 closed, assigned to nobody

[2018-12-25 16:00] Serhy opened #7184 "Blank screen in app when open universal link for user self contact code [MacOS]"
***Type***: Bug

*Summary*: Universal deep link to user profile should lead to Profile screen. However, on MacOS desktop app, in a case user opens URL having own public key from browser - it redirects to Status app with blank screen. No way to return back or anywhere else until app is restarted.
It's only for contact-self user universal links. URLs with user contact codes correctly open profile sc

[2018-12-26 06:34] ghost commented on #5907
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-26 06:34] #5907 closed, assigned to dmitryn, andmironov, errorists

[2018-12-26 06:34] jeluard commented on #7104
`error` would be an extra property added to the extension [input](https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/core.cljs#L319) component. It could reuse what has been done for the regular [input component](https://github.com/status-im/status-react/blob/develop/src/status_im/ui/components/text_input/view.cljs#L26).

[2018-12-26 09:57] churik opened #7187 "No matching clause: error at attempt quickly log out from desktop app"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: if you logging out quickly after login,  "No matching clause error: " is shown. On mobile log out button is disabled for several sec so issue is not reproducible

#### Expected behavior
no error; log out button is disabled when you can't log out

#### Actual behavior
<img width="336" alt="sdfsdf" src="https://use

[2018-12-26 10:15] asemiankevich opened #7188 "undefined is not an object (evaluating 'e.substring') when dapps / stickers offline"
### Description

*Type*: Bug

*Summary*: `undefined is not an object (evaluating 'e.substring')` when accessing [ens.status.eth] url

#### Expected behavior
If this URL could not be opened - show user-friendly pop-up

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/50442395-d25d4c80-090f-11e9-9efe-2919a62dc896.png)

### Reproduction

- Open Status
- Recover account

[2018-12-26 10:15] ghost commented on #5859
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-26 10:15] #5859 closed, assigned to antdanchenko

[2018-12-26 11:54] churik opened #7189 "Can't create new account or restore existing after error "This account already exists but passwords don't match" until relaunch app"
### Description

*Type*: Bug

*Summary*: after "This account already exists but passwords don't match" error is shown (at attempt to restore the same account with different passwords) - you can't create a new account (the app is hanging on step "Creating account") neither add existing account using seed phrase until full account restart.

#### Expected behavior
can create new account

#### Actual

[2018-12-26 14:34] ghost commented on #6001
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-26 14:48] asemiankevich opened #7190 "Wallet set up is shown after transaction is completed"
### Description

*Type*: Bug

*Summary*: I receoverd account. I opened 1x1 chat. I send a request of HND token. Then i sent STT 0 amount in this 1x1 chat - wallet set up screen was shown as i did not complete onboarding yet. I finished signing txn and tapped OK. wallet set up screen is shown again .

#### Expected behavior
wallet onboarding is not shown once done

#### Actual behavior
![image](htt

[2018-12-26 14:53] asemiankevich commented on #7189
@churik this is in release 0.9.33 (2018122603) at least android

[2018-12-26 16:05] ghost commented on #2146
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-26 17:34] ghost commented on #5424
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-26 17:34] Serhy opened #7192 "Autologin persists for account if user used invalid password, brining no way to log in"
***Type***: Bug

***Summary***: Autologin upon Status app launch happens despite the user tried to log in with the wrong password. This may lead to consequences of one (or more) accounts stuck in a deadlock with no ability to get to password input screen, thus making account unusable. Please see steps to reproduce below.
**NOTE**: it's ok with Release 0.9.32 version.

#### Expected behavior
No aut

[2018-12-26 20:31] tbenr commented on #6597
@gitcoinbot I'll start working on this when back from holidays

[2018-12-26 21:24] krisc commented on #7103
@jeluard After getting status to actually build and with holidays out of the way, I finally had a chance to get started on this. I have some questions. When is the status app calling `ethereum/send-transaction`? When I make a transaction from one user to another, it doesn't seem to call `ethereum/send-transaction` at all.

Maybe a more general question would be how is the best way to debug extensi

[2018-12-27 00:15] ghost commented on #1564
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 00:15] #1564 closed

[2018-12-27 00:25] ghost commented on #5385
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 00:25] #5385 closed, assigned to nobody

[2018-12-27 04:14] 3ach commented on #6875
[Extension to test](https://status-im.github.io/pluto/try.html?hash=QmeMu4Yj5LWT7jyGUNB4nUtwdRfYTmp5orJNsbgPVpckfu). It appears to work with the status-go changes in [this](https://github.com/status-im/status-go/pull/1330).

[2018-12-27 07:10] jeluard commented on #6875
@zachzundel Great work!!

[2018-12-27 07:14] jeluard commented on #7103
`ethereum/send-transaction` is only called by extensions, so you need to install one using it and then trigger it. See [this](https://status-im.github.io/pluto/try.html?hash=QmZjmcwcsUefSpxnR6qqELEQTrU7xS612qxsaoBwRu1QAC) example.

Best way to debug your changes in `status-react` is probably just to add extra log statements.

[2018-12-27 08:12] churik commented on #6926
@rachelhamlin @siphiuel @annadanchenko
[13](https://ci.status.im/job/status-react/job/release/job/release%2Fdesktop%2F0.9.0/13/ ) build was tested and IMO it doesn't contain new release-blockers.

Testing results are here: https://ethstatus.testrail.net/index.php?/plans/view/2178

<blockquote><img src="https://static.testrail.io/5.6.0.3841/images/favicon.ico" width="48" align="right"><div><strong>

[2018-12-27 09:02] ghost commented on #1762
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 09:22] ghost commented on #5876
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 09:22] #5876 closed, assigned to nobody

[2018-12-27 09:32] ghost commented on #2234
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 09:32] ghost commented on #5578
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 09:32] #2234 closed, assigned to yenda

[2018-12-27 09:32] #5578 closed, assigned to nobody

[2018-12-27 10:02] ghost commented on #5933
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 10:02] #5933 closed, assigned to nobody

[2018-12-27 10:12] ghost commented on #5985
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-27 10:52] ghost commented on #4471
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-27 10:52] #4471 closed, assigned to nobody

[2018-12-27 12:09] asemiankevich opened #7194 "Invalid arity: 5 error shown when tapping development mode toggle after extension is installed"
### Description

*Type*: Bug

*Summary*: `Invalid arity: 5` error shown when tapping development mode toggle after extension is installed

#### Expected behavior
no errors

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/50479687-df01a380-09e8-11e9-8e1d-417620f9bf5a.png)

### Reproduction

- Open Status
- Enable dev mode
- Install extension
- Tap dev mode toggle ag

[2018-12-27 14:36] #7179 closed, assigned to rasom

[2018-12-27 14:47] rachelhamlin commented on #6398
Hey @sounak98 - apologies for the delay. We've all been taking some time off for the holidays, but either @flexsurfer or @jeluard can help you when we're back online.

[2018-12-27 16:12] ghost commented on #5195
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-27 20:14] krisc commented on #7103
Thanks, wasn't aware of those docs. I'm having trouble installing that extension though. On my status app it says under "Errors" `missing-property :on-result` and it says "No errors" on Pluto. Any idea why it's saying that?

[2018-12-28 07:55] jeluard commented on #7103
@krisc Some properties have been renamed in recent status releases. Try to update status or to change `on-result` to `on-success`.

[2018-12-28 07:56] jeluard commented on #6398
@sounak98 Not sure what the script you mention is doing. I would suggest to follow our docs: it should be self sufficient.

[2018-12-28 09:09] cammellos opened #7196 "Universal links not working on some devices"
It has been reported that universal links from https://people-ops.status.im/status-channels/ are not working.

The link is opened in the browser instead of status-app.

The app is installed, the version is `0.9.32`, the OS is android pie.

![error](https://user-images.githubusercontent.com/1017008/50510075-96012c00-0a88-11e9-9573-752ee0012a6d.jpg)

<blockquote><img src="https://people-ops.status.i

[2018-12-28 10:14] churik opened #7197 "User can open own profile from system messages or from group info"
### Description

*Type*: Bug

*Summary*: after user has been made admin he can open own profile from group info screen

#### Expected behavior
user can't open own profile screen from group Group info

#### Actual behavior
can see own profile with options, that cannot be performed
![ownpre](https://user-images.githubusercontent.com/4557972/50512284-8c2ff680-0a91-11e9-972e-1fefee46e58c.png)

### Rep

[2018-12-28 13:22] #7189 closed, assigned to rasom

[2018-12-28 22:13] krisc commented on #7103
Okay, the call to `ethereum/send-transaction` wanted an `on-result`

In `extensions/ethereum.cljs` it looks like the gas defaults to 21000. But I made some transactions with that extension, and looking at the details, the gas limit was 25756. Where did this number come from?

[2018-12-29 04:42] 3ach commented on #6875
I hope that this bounty can be completed though the PR has not been merged because it is currently blocked.

[2018-12-29 05:28] StatusSceptre commented on #6875
@zachzundel absolutely! great work on this.

[2018-12-29 11:26] Swader opened #7198 "Letting phone go to sleep while any non-home screen is open crashes Status when relaunched"
### User Story

As a user, I want to be able to keep using the app after it goes to sleep and wakes.

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
When an Android device running Status goes to sleep with a dapp or chat open, reopening

[2018-12-29 13:20] stefantalpalaru commented on #7122
It works now.

[2018-12-29 13:20] #7122 closed, assigned to nobody

[2018-12-30 02:17] ghost commented on #2753
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 02:17] ghost commented on #2872
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 02:17] #2753 closed, assigned to nobody

[2018-12-30 02:17] #2872 closed, assigned to nobody

[2018-12-30 05:35] StatusSceptre commented on #6594
Great work on this one @tbenr !

[2018-12-30 05:40] StatusSceptre commented on #7075
@speedyfixer you've been approved, @jeluard may be able to help with your initial question.

[2018-12-30 06:17] speedyFixer commented on #7075
Thanks @StatusSceptre , @jeluard could you help me with my initial question?

[2018-12-30 06:37] sounak98 commented on #6398
@jeluard the doc has the link to the script. And I was getting some errors while running `make setup`.

[code]

[2018-12-30 07:13] mukulverm4 commented on #3797
Hey @blockchain1977 , I'm having the same issue, how did you solve this?

[2018-12-30 08:07] ghost commented on #4710
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-30 09:52] jeluard commented on #7103
@krisc There is no value provided as of now. What tx are you executing to get this?
`:gas` has to be set to the value returned by `estimateGas` (plus 10% for margin).

[2018-12-30 09:54] jeluard commented on #7075
@speedyFixer This is the place that should be enhanced: https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/ethereum.cljs#L242
`data` and `topics` are available as hex. They should be decoded into clojure maps (that might require user to provide some hints).

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div

[2018-12-30 09:56] jeluard commented on #6398
`You have not accepted the license agreements of the following SDK components:`
Looks like you have to launch android studio and accept some license.

[2018-12-30 10:10] ghost commented on #5955
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 10:10] #5955 closed, assigned to nobody

[2018-12-30 10:57] ghost commented on #6073
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-30 10:57] ghost commented on #4935
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-30 11:07] ghost commented on #5959
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 11:07] #5959 closed, assigned to nobody

[2018-12-30 12:27] speedyFixer commented on #7075
Thanks @jeluard , now, I'm reading status-react repo. I will keep you informed of my progress.

[2018-12-30 13:57] ghost commented on #5951
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 13:57] ghost commented on #5953
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 13:57] #5951 closed, assigned to flexsurfer

[2018-12-30 13:57] #5953 closed, assigned to flexsurfer

[2018-12-30 14:07] ghost commented on #5963
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 14:07] ghost commented on #1548
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 14:07] #5963 closed, assigned to flexsurfer

[2018-12-30 14:07] #1548 closed

[2018-12-30 14:37] ghost commented on #5929
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 14:37] #5929 closed, assigned to nobody

[2018-12-30 15:10] ghost commented on #5968
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 15:10] #5968 closed, assigned to nobody

[2018-12-30 15:51] tbenr commented on #6594
@StatusSceptre thank you!!

[2018-12-30 16:07] ghost commented on #4744
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 16:07] #4744 closed, assigned to yenda

[2018-12-30 16:47] ghost commented on #2432
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 16:47] ghost commented on #3864
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 16:47] #2432 closed, assigned to yenda

[2018-12-30 16:47] #3864 closed, assigned to yenda

[2018-12-30 17:39] mukulverm4 commented on #7104
Hey @jeluard, I'm getting this `Error: File not found: index.android.js in any of the project roots` while building. I found an issue on this in the repository that was closed without any resolution. Please help or let me know if I should raise an issue.

[2018-12-30 17:53] krisc commented on #7103
I made a vote using that extension you linked to me as an example. The value was 0 ETH and Gas limit was 25756 and Gas used was 21464.  Just wondering where that 25756 is coming from.

[2018-12-30 20:27] ghost commented on #3187
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-30 20:27] #3187 closed, assigned to nobody

[2018-12-30 21:18] krisc commented on #7103
I saw that I'm getting a warning from gitcoin for abandonment of bounty. It in has taken me quite longer than I thought to wrap my head around the codebase and ecosystem. If you need this done urgently, you're welcome to assign this bounty to someone else. But if not, I can grind through this and get this done eventually. Thanks for your patience so far :)

[2018-12-30 21:57] StatusSceptre commented on #7103
@krisc feel free to continue, I will snooze the warning just keep us updated!

[2018-12-31 04:16] ghost commented on #2832
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 04:16] #2832 closed, assigned to nobody

[2018-12-31 07:56] ghost commented on #4955
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-31 09:16] ghost commented on #4961
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 09:16] ghost commented on #5829
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 09:16] #4961 closed, assigned to nobody

[2018-12-31 09:16] #5829 closed, assigned to nobody

[2018-12-31 10:41] jeluard commented on #7104
@mukulverm4 Looks like you are missing some `react-native` process running? Make sure you follow our docs and don't get any unexpected error message.

[2018-12-31 10:57] sounak98 commented on #6398
I had accepted the license using the command `./sdkmanager --licenses`, It was still not showing the same error message. I'm looking into it.

[2018-12-31 13:06] ghost commented on #5988
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 13:06] #5988 closed, assigned to nobody

[2018-12-31 13:26] ghost commented on #5989
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 13:26] #5989 closed, assigned to nobody

[2018-12-31 14:16] ghost commented on #5841
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-12-31 14:16] #5841 closed, assigned to nobody

[2018-12-31 15:06] ghost commented on #3375
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-31 16:36] ghost commented on #4297
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-12-31 17:47] mukulverm4 commented on #7104
I tried again and got the following while make setup in Ubuntu
[code]

[2018-12-31 18:28] kuhnchris commented on #6597
@StatusSceptre you may want to hit the snooze button for 5 days or something ;-)

[2018-12-31 22:17] tbenr commented on #6597
@StatusSceptre yes please :)

[2019-01-01 07:33] ghost commented on #6000
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-01 07:33] #6000 closed, assigned to nobody

[2019-01-01 11:13] ghost commented on #6106
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-01 12:43] ghost commented on #3601
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-01 12:43] ghost commented on #3996
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-01 12:43] #3601 closed, assigned to denis-sharypin

[2019-01-01 12:43] #3996 closed, assigned to denis-sharypin

[2019-01-01 13:23] ghost commented on #5364
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-01 13:25] jeluard commented on #7104
@mukulverm4 Never seen this one. There might be some other errors before this one?

[2019-01-01 13:43] ghost commented on #6016
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-01 13:43] #6016 closed, assigned to nobody

[2019-01-01 14:03] ghost commented on #6018
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-01 14:03] #6018 closed, assigned to nobody

[2019-01-01 14:13] ghost commented on #5899
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-01 17:03] ghost commented on #5016
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-01 17:32] mukulverm4 commented on #7104
No, no error before this.

[2019-01-02 07:20] ghost commented on #4966
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-02 08:40] ghost commented on #6123
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-02 09:26] rasom opened #7199 "pr"

[2019-01-02 09:27] #7199 closed, assigned to nobody

[2019-01-02 09:30] ghost commented on #6125
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-02 10:00] ghost commented on #6124
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-02 11:00] Serhy commented on #5899
Not an issue anymore with 0.9.33 develop build. "Intrinsic gas too low" pop-up appears when a transaction is sent with the gas limit value less than 21000.
Closing this issue!

[2019-01-02 11:00] #5899 closed, assigned to goranjovic

[2019-01-02 12:30] ghost commented on #5202
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-02 12:59] jeluard commented on #7198
@asemiankevich Do you mind taking a look at this and see if you can reproduce?

[2019-01-02 13:18] Serhy commented on #5202
Issue still present in 0.9.33 develop build (removing `stale` label, updating platform label)

[2019-01-02 14:03] asemiankevich commented on #7198
@jeluard can't reproduce it yet. Tried Android 7 and 8, both released version and nightly build.

[2019-01-02 14:40] ghost commented on #6001
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-02 14:40] #6001 closed, assigned to nobody

[2019-01-02 16:10] ghost commented on #2146
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-02 16:10] #2146 closed, assigned to andmironov

[2019-01-02 16:53] jeluard commented on #6398
@sounak98 Any luck ? :)

[2019-01-02 17:13] StatusSceptre commented on #6597
Snoozed! :)

[2019-01-02 17:40] ghost commented on #5424
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-02 17:40] #5424 closed, assigned to jakubgs

[2019-01-02 19:01] speedyFixer commented on #7075
Hi, I already read the status-react repo, I will back from holidays in two days.

[2019-01-02 19:32] StatusSceptre commented on #7076
@shamardy you've been approved to start work.

[2019-01-02 19:44] StatusSceptre commented on #4391
@santteegt are you still needing help with this issue?

[2019-01-02 19:49] StatusSceptre commented on #1762
@tbenr were you still wanting to work on this one? Are there any updates otherwise? I can add a bounty to it but wasn't sure of the context.

[2019-01-02 20:49] santteegt commented on #4391
Hi,

Sorry, I was out during the holidays. Yeah!, I wanted to know how you're currently managing to persist values in local storage in case you're already doing this on the app, or does local storage functionality needs to be implemented?

[2019-01-02 20:53] StatusSceptre commented on #4391
Ah no problems! @goranjovic may be able to help with that question once he’s back from holidays as well.

[2019-01-02 21:24] StatusSceptre commented on #6973
You've  been approved @johnlenin00

[2019-01-03 10:02] ghost commented on #6140
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-03 10:21] vkjr commented on #5859
@antdanchenko, do we have now e2e tests for desktop?

[2019-01-03 10:21] #7113 closed, assigned to flexsurfer

[2019-01-03 10:22] ghost commented on #5985
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-03 10:43] vkjr opened #7200 "Add "mark read" in desktop chats"
# Problem

Sometimes to many messages are shown as unread in a chat. If user not going to scroll to the top and read them all, he should have option to mark all messages as read.

# Implementation

# Acceptance Criteria
User can mark messages in a chat as read

# Notes

# Future Steps

[2019-01-03 10:51] vkjr opened #7201 "Better markdown support in desktop"
# Problem

Desktop chat has very limited markdown support, it can be extended with more features [TBD]

# Implementation

# Acceptance Criteria

# Notes

# Future Steps

[2019-01-03 10:58] vkjr opened #7202 "Allow multiple messages selection in desktop chat"
# Problem

Currently only one messages can be selected in desktop chat.

# Implementation

# Acceptance Criteria

User can select multiple messages in desktop chat

# Notes

# Future Steps

[2019-01-03 11:07] vkjr opened #7203 "Allow "pinning" channel"
# Problem

As a user I want to be able to pin channel in status desktop and have important chats always on top.

# Implementation

# Acceptance Criteria

# Notes

# Future Steps

[2019-01-03 11:52] ghost commented on #6159
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-03 13:04] jeluard opened #7204 "Add extension event to sign transaction data"
### User Story
As a developer, I want an [extension](https://status.im/extensions/) event to sign transaction details as hex. The signed data can then be sent to a remote relayer that will be able to send the transaction to the blockchain using [eth_sendRawTransaction](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendrawtransaction)

This will require changes to `status-go`.

See some potent

[2019-01-03 13:52] ghost commented on #6165
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-03 14:02] ghost commented on #5550
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-03 16:22] ghost commented on #5195
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-04 05:41] StatusSceptre commented on #7204
@iamonuwa you’ve been approved because of your extensive work with status before and quick turn around

@flash-git and @srisankethu will definitely keep you in mind for more bounties as there will be plenty upcoming so please do apply!

[2019-01-04 06:52] Swader commented on #7198
This happens for me on 9, so it might not be present on older operating systems.

[2019-01-04 07:32] iamonuwa commented on #7204
@StatusSceptre @gitcoinbot work already in progress.

[2019-01-04 08:00] ghost commented on #6172
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-04 15:02] debragail commented on #1762
@StatusSceptre would be down to work on this if there's a bounty

[2019-01-04 18:02] mukulverm4 commented on #7104
@jeluard I am still unable to build status in Ubuntu and I found out this same [issue](https://github.com/status-im/status-react/issues/5636). Can you confirm that it builds on Ubuntu?

Also, is there any way to build on Windows?

[2019-01-04 18:37] corpetty opened #7205 "GitHub Dependency Vulnerability Report: pyyaml"
Github has sent us a dependecy vuln report.  It is as follows:

## Dependency in question
`pyyaml` as found in

https://github.com/status-im/status-react/blob/develop/test/appium/requirements.txt

## Severity
9.8 Critical
Arbitrary code execution.

## CVE
https://nvd.nist.gov/vuln/detail/CVE-2017-18342

## Remediation
Upgrade pyyaml to version 4.2b1 or later. For example:

`pyyaml>=4.2b1`

<blockq

[2019-01-04 18:40] corpetty commented on #7205
Looks like upgrading to 4.1 won't have any breaking changes.

[CHANGELOG](https://github.com/yaml/pyyaml/blob/master/CHANGES)

[2019-01-04 23:40] speedyFixer commented on #7075
Hello, I'm back from holidays, today, I was coding some extensions and added it in Status App also I read almost all the documentation (Learning about status.im). I'm feel more confident with my knowledge about this great project :)

Tomorrow I will try to change data and log from hex to clojure maps and I will look up a way for testing it.

Note:
Maybe I am not going to be quick because It's my f

[2019-01-05 09:08] jeluard commented on #7104
@mukulverm4 Yes I am using ubuntu myself. Not sure about windows.

[2019-01-05 09:08] jeluard commented on #7075
@speedyFixer Great to hear that! Please take your time!

[2019-01-06 05:12] sounak98 commented on #6398
Yeah I've fixed that particular error, but there are a lot of other errors coming up which are becoming very difficult to fix. Running `make react-native` gives:
[code]
There are a couple of other errors too. Is there a pre-built docker image?

[2019-01-06 08:12] ghost commented on #4710
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-06 08:12] #4710 closed, assigned to nobody

[2019-01-06 09:22] ghost commented on #6182
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-06 09:42] ghost commented on #6183
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-06 10:02] Swader commented on #6939
One suggestion on how to approach this problem: https://discuss.status.im/t/listing-custom-assets-and-tcring-their-verification/918/2

<blockquote><img src="https://discuss.status.im/letter_avatar_proxy/v2/letter/h/ebca7d/200.png" width="48" align="right"><div><img src="/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" height="14"> Status.im</div><div><strong><a href="http

[2019-01-06 10:12] ghost commented on #6184
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-06 11:02] ghost commented on #4935
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-06 11:02] ghost commented on #6073
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-06 11:52] ghost commented on #6187
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-06 13:03] ghost commented on #5162
Has this been pushed live? I'm still not seeing results. iOS v12.1.2/Status v0.9.32.

[2019-01-06 16:05] rachelhamlin commented on #5162
@jimeejones it's not in the release build yet—it should be live in a few weeks.

[2019-01-06 18:08] StatusSceptre commented on #7076
Hi @shamardy are you still  going to  work on this issue?

[2019-01-06 20:48] shamardy commented on #7076
@StatusSceptre Yes, I am still working on this issue. I will have a PR ready in a few days.

[2019-01-07 00:04] StatusSceptre commented on #7076
Cool have snoozed notifications for the next 5 days

[2019-01-07 02:04] oskarth commented on #2146
@flexsurfer @denis-sharypin Just for posterity, what happened with this issue? OK if we aborted it, would be nice to tie this up with comment here

[2019-01-07 02:05] oskarth commented on #6926
Hey! Any updates on this? When is the new ETA? I guess people are just getting back from vacation today or early last week :)

[2019-01-07 02:31] oskarth opened #7208 "Add quick search function for mobile"
# Problem
Using Status chat day-to-day, to exchange essential information not documented elsewhere, searching chats becomes more desireable. To objective of search being to read, quote, reply to or copy historic messages.

- As a user I want to find specific messages from the past
- As a user I want to search for specific messages by topic
- As a user I want to search for specific messages by user

[2019-01-07 02:31] oskarth commented on #7208
See https://github.com/status-im/status-react/issues/6252

I added the bounty labels but it's unlikely I'll review the code, so I defer to @yenda et al for how to deal with it a la https://discuss.status.im/t/bounties-bounties-for-everyone/784

[2019-01-07 08:05] ghost commented on #4955
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-07 08:05] #4955 closed, assigned to nobody

[2019-01-07 08:11] jeluard commented on #6398
@sounak98 Have you tried to change `fs.inotify.max_user_watches sysctl` ? Looks like your ubuntu requires some configuration changes.

`There are a couple of other errors too. Is there a pre-built docker image?`
No we don't have any ATM.

[2019-01-07 08:52] flexsurfer commented on #2146
Fixed here https://github.com/status-im/status-react/pull/6160

[2019-01-07 08:58] errorists commented on #7208
Designs for mobile are available here, though they go a step further than search on desktop allowing to search message history in addition to filtering chats/contacts. [Figma link](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=618%3A7739)

[2019-01-07 09:03] vkjr commented on #6926
@oskarth, release build is ready. There are some refinements for the blog post in progress. As I understood, publishing is planned for Tuesday. @rachelhamlin, could you please confirm?

Probably even tomorrow, because today is a holiday in a lot of countries - orthodox christmas.

[2019-01-07 09:52] rachelhamlin commented on #6926
Yup, that's right. We have a few edits to make to the blog post, and Noman is finishing updates to the desktop landing page. Tuesday should be a go.

[2019-01-07 09:53] adambabik opened #7209 "Improving stats in Status Desktop"
### Description

*Type*: Bug

*Summary*:
It's great to see stats on "Advanced settings" in Status Desktop but there is a few improvements we can do.

#### Expected behavior
1. Mailserver requests stats should be removed.
2. The presented values should be formatted with a proper unit. JSON-RPC `debug_metrics` call [passes `true`](https://github.com/status-im/status-react/blob/a04952b60c55190f628083

[2019-01-07 10:19] ghost commented on #6205
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-07 11:05] ghost commented on #6186
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-07 11:15] ghost commented on #6155
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-07 12:31] iamonuwa commented on #7204
@StatusSceptre just to be clear, this is a golang task?

[2019-01-07 12:41] jeluard commented on #7204
@iamonuwa The bulk of it yes. There will be some work to glue it in status-react and make it available to extensions too

[2019-01-07 13:34] #6594 closed, assigned to nobody

[2019-01-07 14:06] Swader commented on #4955
Tested on Android 9+, looks fixed.

[2019-01-07 14:18] jeluard opened #7212 "Endless loop while signing transaction"
### User Story

As a user, I want to have a flawless signing experience while

### Description

*Type*: Bug

Signing a transaction in the ENS DApp might lead to wallet transaction screen being stuck in an endless loop. Users then never get back to the DApp page.

[2019-01-07 14:26] jeluard commented on #7212
@asemiankevich Would be nice to see if this can be reproduced somehow.
Did you ever saw something like this?

[2019-01-07 14:27] Swader commented on #4935
This is still a problem.

[2019-01-07 14:31] Swader commented on #6073
Still happens.

[2019-01-07 15:15] ghost commented on #3375
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-07 15:18] Swader commented on #3375
[A build system should not talk to the internet.](https://www.reddit.com/r/programming/comments/4bjss2/an_11_line_npm_package_called_leftpad_with_only/d1a0i2k/) Reopening.

[2019-01-07 15:23] mandrigin commented on #6757
replaced by https://www.pivotaltracker.com/epic/show/4178343

<blockquote><div><strong><a href="https://www.pivotaltracker.com/epic/show/4178343">Reliable Messaging - Pivotal Tracker</a></strong></div></blockquote>

[2019-01-07 15:23] #6757 closed, assigned to mandrigin

[2019-01-07 15:29] Swader commented on #6172
Keeping this alive, is important.

[2019-01-07 15:33] Swader commented on #5195
This is a 10xUX fix. Reopening.

[2019-01-07 15:35] Swader commented on #6159
Keeping this alive.

[2019-01-07 15:38] Swader commented on #7200
@vkjr I think you mean "mark read" but "mark unread" would be cool too.

[2019-01-07 15:40] Swader commented on #5985
Reopening

[2019-01-07 15:47] jeluard commented on #6172
@Swader Do you know some contracts identified using ENS? I know very few.
How do you see this being useful for you?

[2019-01-07 15:51] Swader commented on #6172
I always bind every contract I develop to an ENS address. This is to prevent fraud and make sure people add the right token, rather than a slightly different one on a similar address sent to them by a malicious actor. But this is probably blocked by the general inability to add custom tokens in general, no? Or is that underway somewhere? I missed it if so, and wrote about the desire for this [here

[2019-01-07 15:55] jeluard commented on #6172
Yes that was more an issue for internal uses! Now would be useful once users can declare their custom token too.

[2019-01-07 16:01] Swader commented on #6172
Ahh, I see. Internally I don't see a use for this. User-facing, very much so once we can add custom assets.

[2019-01-07 16:45] ghost commented on #4297
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-07 16:45] #4297 closed, assigned to denis-sharypin

[2019-01-07 17:08] jakubgs commented on #6339
Is this still an issue? As far as I can tell the number used in nightlies should be generated the same way as releases, which means it should be a timestamp like this: `2019010718` or something to that effect.

Can someone that has an iOS device confirm that nightlies use a build number like that?

[2019-01-07 17:09] iamonuwa commented on #7204
Alright, thank you

[2019-01-07 17:34] jeluard opened #7213 "Support universal links resolution in Status browser"
### User Story

As a user, I want to have universal links resolved from within Status browser.

### Description

*Type*: Trying to open universal link from withing Status browser ends up with 'Unable to load page' in the Status webview. Universal links to user profiles, chats, webpages should redirect to appropriate place in Status app (see steps to reproduce for expected behavior)

### Steps to r

[2019-01-07 17:34] jeluard commented on #7213
Cannot reproduce this.

[2019-01-07 17:35] jeluard commented on #7213
@asemiankevich Can you take a look and see if you can reproduce?

[2019-01-07 17:37] jeluard opened #7214 "Add custom scheme support for ethereum-*"
### User Story

As a user, I want to have ethereum links (EIP [681](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md)) redirect to status wallet.
Also clicking on such link in external apps should open status wallet.

*Type*: Feature

[2019-01-07 19:38] debragail commented on #6973
@StatusSceptre I can totally do this if he abandons.

[2019-01-07 19:41] pablanopete commented on #5195
Thanks @Swader for the backup on this one! Good thing @mandrigin is doing a bit of work related to it as well  :D

[2019-01-07 20:33] BlinkyStitt opened #7215 "Buttons offscreen for "App" would like to connect to your wallet"
# Problem
When approving a new site on an iPhone XS Max, the buttons to approve/deny are pushed off the bottom of the screen.

You can see just the top of them which is barely enough to tap, but you can't read the text so you have to guess what the buttons say.

![img!UNITO-UNDERSCORE!7777](https://user-images.githubusercontent.com/624221/50792000-66b4a100-1278-11e9-8680-8d1a35964559.PNG)

[2019-01-07 20:45] ghost commented on #6227
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-07 22:49] krisc commented on #7103
@jeluard  Made some progress, but I'm not sure how to call the `estimate-gas-web3` function from `extensions/ethereum.cljs`.

`(defn estimate-gas-web3 [web3 obj cb])`

What do I pass in for `web3`? I couldn't find an instance for `web3` or some sort of constant that is accessible from `extensions/ethereum.cljs`

[2019-01-08 06:20] speedyFixer commented on #7075
Thanks @jeluard , I got stuck running status-react in my local environment (Ubuntu) but in the end I could run it. Now I can look the ethereum logs and test them. Could someone snooze the Gitcoin bot for a few days?

[2019-01-08 07:30] jeluard commented on #7103
I believe you can extract it from the db (`:web3`)

[2019-01-08 08:08] johnlenin00 commented on #6973
I stopped work. I was having difficulties building and I ended up forgetting over the weekend.
Nothing to do with the code, it's just that my setup is wonky and I need to fix up some things on my end.
Work's open again for anyone who wants it.

[2019-01-08 08:49] #6710 closed, assigned to pedropombeiro

[2019-01-08 09:08] ghost commented on #6238
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-08 10:03] annadanchenko commented on #6339
@jakubgs I can upgrade fine on real iOS device from 0.9.32 release to today's nightly, so looks like there is no issue anymore. Version after upgrade to nightly: 0.9.33 (201901083)

[2019-01-08 10:36] Serhy commented on #7213
Updated title and description: issue is when opening universal link from withing Status browser.

[2019-01-08 10:43] jakubgs commented on #6339
Thanks for verifying!

[2019-01-08 10:46] dmitryn opened #7216 "Import account to Keycard"
# Problem

When creating new Status account, It should be possible to import existing account to Keycard by entering mnemonic phrase.

# Implementation

https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=0%3A1

<blockquote><img src="/file/UfQjpWl1hmRchHIyY3Wvu2nW/thumbnail?ver=thumbnails/e59ee715-babe-4094-b5cd-6967dc112d3a" width="48" align="right"><div><img src="h

[2019-01-08 10:49] dmitryn opened #7217 "Check card state before installation"
# Problem

Card state should be checked before starting the installation. For example, it might already have account on it or there is no slots to pair new device so proper screen with possible actions and explanation should be shown to the user.

# Implementation

Card states diagram:
https://www.figma.com/file/UfQjpWl1hmRchHIyY3Wvu2nW/Hardwallet-light-flows?node-id=0%3A1

<blockquote><img src="/

[2019-01-08 10:56] Serhy commented on #6339
@jakubgs @annadanchenko, with iPhoneX  iOS 12.1.2 I still see the error when I try to upgrade Release 0.9.32 to latest nightly.
1) Install from Test Flight release version 0.9.32 (2018121711).
2) Create new account. Status version displays as 0.9.32 (9999) in `Profile` -> `About` info
3) Upgrade to latest nightly build from Diawii: Navigate to https://i.diawi.com/c2kfqQ -> tap `Install application

[2019-01-08 11:04] jakubgs commented on #6339
Wait, what? You mean to say that the build number changes despite you not installing a different Status version? Or am I misunderstanding?

[2019-01-08 11:05] jakubgs commented on #6339
~~What is the build ID of this release: https://i.diawi.com/c2kfqQ ?~~

Okay, so the build number of https://i.diawi.com/c2kfqQ is `2019010803`, which is different from both `2018121711` and `9999`, so it should install just fine.

[2019-01-08 11:16] ghost commented on #6106
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-08 11:18] annadanchenko commented on #6339
I've rechecked once more on another iOS device with iOS 12.1.2 (latest available version) and can reproduce issue. So, despite different version number for nightly there is issue with upgrade.

In https://github.com/status-im/status-react/issues/6339#issuecomment-452242224 iOs version was 11.0.3 and issue does not exists on that device for same steps

[2019-01-08 11:20] vkjr commented on #7200
@Swader, thanks for noticing, you are right, I meant "mark read" :)

[2019-01-08 11:22] rachelhamlin opened #7219 "Polish Kyber wallet extension"
Using this issue to track changes required to polish the Kyber wallet extension, so that it meets the standards of a Status native feature.

### UI Issues

- Menu option should be title case: `Exchange Assets` not `assets`
- Screen is cut off at top. Top is white. I should see OS icons on purple BG (iPhone XS):
<img src="https://user-images.githubusercontent.com/15470435/50826584-5665fa00-133c-11e

[2019-01-08 11:26] mandrigin commented on #6339
@annadanchenko hmm, can't find any information about changes in iOS 12 related to that, but it looks like an iOS issue...

[2019-01-08 11:36] annadanchenko commented on #7198
@jeluard just got similar crash on Android 9 (real pixel xl device) today's nightly build after returning from sleep while Status was running (can't find exact steps to reproduce yet but maybe log would be helpful)

--------- beginning of crash
01-08 12:25:06.386  7342  7342 E AndroidRuntime: FATAL EXCEPTION: main
01-08 12:25:06.386  7342  7342 E AndroidRuntime: Process: im.status.ethereum, PID: 7

[2019-01-08 11:46] ghost commented on #5548
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-08 12:03] Swader commented on #6106
This needs to stay open until resolved.

[2019-01-08 12:04] Swader commented on #5548
This is an important accessibility issue and needs to stay open.

[2019-01-08 12:38] jeluard commented on #7196
Superseded by #7213

[2019-01-08 12:38] #7196 closed, assigned to nobody

[2019-01-08 13:26] ghost commented on #5364
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-08 15:33] jeluard commented on #7219
# UI issues

- [x] Menu option should be title case: `Exchange Assets` not `assets`
- [x] Screen is cut off at top. Top is white
- [x] Bad alignment in token selector. Display should be responsive, keeping token symbol on same line as "available"
 - Blocked by [Pluto #113](https://github.com/status-im/pluto/issues/113)

# Bugs

- [x] Amount field is not responsive to my input. No done/return optio

[2019-01-08 17:06] ghost commented on #5016
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-08 17:08] mandrigin commented on #6351
we can also... not have any web servers on the same IP...

[2019-01-08 17:32] pablanopete opened #7224 "0.9.33 public mobile release"
Creating this issue to manage 0.9.33 public release.

open issues and PRs for release: https://github.com/status-im/status-react/labels/release

(template from prior release issues)

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="ht

[2019-01-08 18:38] StatusSceptre commented on #6973
Open to help @debragail, would love to see if you got the issues fixed @johnlenin00 no rush and we can always help out in status!

https://get.status.im/chat/public/status

<blockquote><div><strong><a href="https://get.status.im/chat/public/status">Join the public chat: #status in Status</a></strong></div></blockquote>

[2019-01-08 19:00] pcowgill opened #7225 "Erasing old data doesn't work on Status desktop on MacOS"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to open Status on desktop so that I can use the app.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections b

[2019-01-08 19:03] StatusSceptre commented on #7075
Snoozed @speedyFixer !

[2019-01-08 21:54] krisc commented on #7103
@jeluard Cool. So I'll try to continue tomorrow, but here's a WIP so far. I chose to modify `execute-send-transaction` in `extensions/ethereum.cljs` so I can access the `gas` field and also `(:web3 db)`.  This definitely broke the app, but let me know if this is a step in the right direction or if there is something obvious that I am missing. I may have tangled things up in callback hell, but I'll

[2019-01-08 22:29] Swader commented on #5016
Still an issue. Confirmed on Android 9.0. Privacy mode has no effect.

[2019-01-09 03:26] speedyFixer commented on #7075
Thanks @StatusSceptre , @jeluard I couldn't be able to make that re-frisk UI debugger works and seems like Figwheel hangs waiting for connects, is there any way to reach some that help me with it? Any Advice?

[2019-01-09 07:19] kn commented on #6973
I have something working for mobile here: https://github.com/kn/status-react/commit/367673eb280fb35dca980b1ab26a3bcd89b0e50f

TODOs for mobile:
* add event listener for locale change
* test on android

I realized we have own version of `react-native-i18n` forked for `desktop`. Should we fork `react-native-language` and implement desktop binding as well?

[2019-01-09 07:22] cammellos opened #7226 "pfs database not encrypted on iOS"
Investigation has shown that the database files for PFS are not encrypted on IOS (mac/linux/android has been verified to be encrypted).

Win needs to be also tested.

Expected:
DB files on IOS are encrypted
Actual:
DB files on IOS are not encrypted

[2019-01-09 07:26] ghost commented on #4966
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-09 07:26] #4966 closed, assigned to nobody

[2019-01-09 08:20] jeluard commented on #7075
@speedyFixer I am not using re-frisk. You can always do plain println style debugging.

[2019-01-09 08:21] jeluard commented on #7075
Actually for this task unit tests would probably be the simplest option.

[2019-01-09 08:26] jeluard commented on #7103
In the second case (with estimate-gas call) `transaction` won't reference a transaction as it is created in the async callback, not returned by `estimate-gas-web3`.
You would need to call `open-modal-wallet-for-transaction` in the callback too.

[2019-01-09 08:31] jeluard commented on #7219
Current Kyber extension: https://status-im.github.io/pluto/try.html?hash=QmaMARUtPrvDmU4RUBaQ4UahVfCeKzGShFGgLZYWanRptN

<blockquote><img src="/pluto/img/favicon.png" width="48" align="right"><div><strong><a href="https://status-im.github.io/pluto/index.html">Pluto · A grammar for data manipulation</a></strong></div><div>A grammar for data manipulation</div></blockquote>

[2019-01-09 08:40] ghost commented on #6123
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-09 08:40] #6123 closed, assigned to nobody

[2019-01-09 09:30] ghost commented on #6125
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-09 09:30] #6125 closed, assigned to nobody

[2019-01-09 09:40] mandrigin commented on #7224
@pablanopete thanks for creating the issue!

Just for the record, this release will be internal and won't be publicly available. We will target 0.9.34 to be a public release.

[2019-01-09 09:42] mandrigin commented on #7224
the release branch is [`release/0.9.33`](https://github.com/status-im/status-react/tree/release/0.9.33)

[2019-01-09 10:00] ghost commented on #6124
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-09 10:01] churik commented on #6124
Should be open

[2019-01-09 10:27] Swader opened #7230 "Universal App Help"
* As a developer, I want an easy way to integrate Status' help docs into my light-weight version of status.
* As a user, I want to have easy access to help materials on any screen of the app.

---

I propose maintaining a repository of app help content which is rendered dynamically in the app on request, and is multi-language friendly. This would allow for community contributions and out-of-organi

[2019-01-09 10:33] rachelhamlin commented on #7224
Just for posterity, we discussed an early Feb target for `0.9.34`.

The work on device syncing & reliability will be great to have public, since ETHDenver is promoting an #ETHDenver channel in Status.

[2019-01-09 10:58] annadanchenko opened #7231 "Version number is not fully visible in About screen"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Version number is not fully visible in About screen
![screenshot_20190109-112517](https://user-images.githubusercontent.com/6584810/50895114-6d2

[2019-01-09 11:27] hesterbruikman commented on #7230
@mandrigin and @andmironov would you agree that in theory a 'help' infrastructure throughout the app fits in Core? I think it's beyond the Polish scope for now. @mandrigin, if it fits core, how do you want to handle improvements like this? Do they qualify for a Core icebox?

[2019-01-09 11:47] rachelhamlin commented on #7114
@yenda

[code]

On this, can the app detect any of a user's names, or does it require manual input?

[2019-01-09 11:57] hesterbruikman commented on #7114
@andmironov fyi

This implies that an existing ENS username needs to be selectable as Display name in the new Profile screens.

[2019-01-09 12:00] ghost commented on #5301
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-09 12:24] yenda commented on #7114
it requires manual input that can then be validated by the app

[2019-01-09 12:45] rachelhamlin opened #7234 "Expand contact management features"
Update contact list with a button to add a contact from there, search, indexes for long lists and editing

[2019-01-09 12:55] rachelhamlin commented on #7234
https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=510%3A3116

<blockquote><img src="/file/TNCyHKtR3sx5EL6YznFWUa4O/thumbnail?ver=thumbnails/059d3123-70a7-46eb-b8c7-08b393783287" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile">Figma</a

[2019-01-09 13:03] errorists commented on #7234
I'm linking designs that use the current profile design, since we may want to get ahead of core and include contacts list before the redesign? [Figma link](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1606%3A12561)

[2019-01-09 13:08] iamonuwa commented on #7204
Am going to stop work because I can't devote more time to this due to my day work.

[2019-01-09 13:36] rachelhamlin opened #7235 "Implement Tribute to Talk setting flow"
### User Stories

As a user who values privacy and/or is in demand, I would like to set a minimum required SNT amount to contact me, so that I can prevent spam.

As a user with a tribute set, I would like the option to edit the amount, to adapt based on the number of requests I'm receiving.

As a user with a tribute set, I would like the option to disable and open myself up to new contacts again.

[2019-01-09 13:44] vkjr commented on #7225
@pcowgill, thanks!

[2019-01-09 13:45] jeluard commented on #7204
@iamonuwa Sorry to hear that. Any WIP you would like to share?

[2019-01-09 13:49] vkjr opened #7236 "Add shortcuts to navigate start/end of line"
Feedback from user:

on desktop(mac), in the chat input,

I shift+enter to line break all the time

I also use various keyboard shortcuts like

ctrl+p to move the caret up,
ctrl+n to move down,
ctrl+b to move left,
ctrl+f to move right,
ctrl+w to delete word backward
ctrl+h to backspace
ctrl+d to del

all these work great! love it!

what doesn't work as expected are these related keyboard shortcut

[2019-01-09 13:49] rachelhamlin commented on #5371
@yenda @siphiuel we didn't talk about this one during the call. Is it quick enough that we could do alongside TtT?

[2019-01-09 14:11] rachelhamlin opened #7237 "Implement Tribute to Talk chat flow"
### User Story

As a user looking for new contacts, I want the option to pay tribute to people I am interested in speaking with.

### Description

*Type*: Feature

*Summary*: New system message required.

See [row 3 Figma designs](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=1319%3A13403)

cc @errorists for further chat specs.

#### Expected behavior
When I try to chat with a u

[2019-01-09 14:18] errorists commented on #7235
Regarding content for 'Learn more' and more general any text I'm using in designs, who can we work with to get it proofed and written if needed?

[2019-01-09 14:21] rachelhamlin commented on #7235
I'm happy to do that. I'll weigh in on copy for the existing screens as well - tomorrow morning.

[2019-01-09 15:10] ghost commented on #6262
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-09 15:45] StatusSceptre commented on #7224
In that case should I change the title to 0.9.34? just so the issue can be updated with all relevant information and we’re all on the same page about release. @rachelhamlin @mandrigin

[2019-01-09 15:50] StatusSceptre commented on #7204
@Flash-Git or @srisankethu are you wanting to try and tackle this one? Please apply if so.

[2019-01-09 16:00] Flash-Git commented on #7204
I'm afraid I'm working on something else now. Thanks for asking though!

[2019-01-09 16:51] pablanopete commented on #7224
Great thanks for all the information! Updating the title to reflect the public release for coordination, since 0.9.33 will be internally tested.

@mandrigin @rachelhamlin

[2019-01-09 17:26] Serhy opened #7244 "'Join chat' presented to user in any group chat after upgrade on to 0.9.33 release build"
*Type*: Bug

*Summary*: Users who have group chats in 0.9.32 release version (even they were admins who created Group Chat) will be presented with a 'JOIN CHAT' button. After 'Join chat' button tap OR message was sent to this chat, - a system message `[username] joined group` shown (only for user who "joined" the chat again).

Message history is kept, but those messages sent in group after user up

[2019-01-09 17:36] pablanopete opened #7245 "Automatically join new users into #introductions public channel"
As a new user to status I would l like to be entered into a public chat through on-boarding so I can see that there is conversation and I can connect with the community and understand how public chats work.

This was feedback from a new user joining status and I also believe it would help new users get the hang of Status chats, as well as build the community.

Not sure of the technical feasibility

[2019-01-09 17:38] pablanopete commented on #7245
Screenshots shared from feedback of community member.
https://monosnap.com/file/DkWNbvHBMCyqHqgtBHE0wdYY74clXc

<img width="616" alt="screen shot 2019-01-09 at 11 37 23 am" src="https://user-images.githubusercontent.com/18363825/50917412-0f8f0780-1403-11e9-8ca7-199b03d8b067.png">

<img width="605" alt="screen shot 2019-01-09 at 11 37 38 am" src="https://user-images.githubusercontent.com/18363825/5

[2019-01-09 18:18] srisankethu commented on #7204
@StatusSceptre I will give it a try. I am actually travelling. I can give my best effort after Jan16. Anyway, I will see if I can complete the task.

[2019-01-09 20:31] asemiankevich commented on #7244
@Serhy its not a bug, it was introduced in #7112 PR as a feature (with ugly design for now). It will be improved later. cc @annadanchenko

[2019-01-09 22:27] krisc commented on #7103
@jeluard Okay, this code logically makes more sense to me, but I was only able to test it once today because my computer keeps crashing when deploying to my device :/

[code]
When using that DTwitter extension, upon voting the Send Transaction screen never shows up. I haven't done a thorough trace yet, though. I'll try to do that tomorrow.

[2019-01-09 23:01] speedyFixer commented on #7075
Thanks @jeluard , I was able to run re-frisk and Figwheel, so for any beginner dev with the same problem:

I was running status-react with a Real Android device but "figwheel-urls" in env/dev/env/config.cljs is set with 10.0.2.2 (Special alias to your host loopback interface, Host machine) so the problem was that figwheel was waiting for app connections that never happened because a wrong IP. Ther

[2019-01-10 03:11] xardinero commented on #6134
Size also too big to access settings.
![screenshot from 2019-01-10 10-10-11](https://user-images.githubusercontent.com/46549216/50943681-01eb8780-14c0-11e9-9d15-5fd904d52c36.png)

[2019-01-10 03:13] xardinero commented on #6134
Also in split screen on Linux isn't balanced.
![screenshot from 2019-01-10 00-37-44](https://user-images.githubusercontent.com/46549216/50943744-38c19d80-14c0-11e9-9464-5a3f9f915600.png)

[2019-01-10 08:06] errorists commented on #7237
It would be soo awesome if we gave [this little task](https://github.com/status-im/status-react/issues/6979) a bump while working on this since if we're to add new styles of messages it would be appropriate to use the new, correct colour values in place. 🙏

[2019-01-10 08:15] ghost commented on #6246
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-10 09:05] ghost commented on #6281
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-10 09:11] rachelhamlin commented on #6979
@siphiuel @yenda let's treat this one as a precursor to #7237 so that we can have correct styling.

[2019-01-10 09:12] rachelhamlin commented on #7237
Good to know - thanks @errorists! I assigned @siphiuel to that one as well, adding to Pivotal board.

[2019-01-10 09:15] ghost commented on #4187
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-10 09:44] antdanchenko opened #7248 "e2e test builds against PRs are not triggered automatically"
# Problem

The job https://ci.status.im/job/end-to-end-tests/job/status-app-end-to-end-tests/ is not triggered automatically by the probot when a PR is moved into `TO TEST` section on https://github.com/status-im/status-react/projects/7

# Notes
There are 2 possible reasons:

1. apk file for e2e test should be named pr_number.apk during `upload to SauceLabs` stage, (e.g. 7172.apk), but apks have d

[2019-01-10 09:54] pedropombeiro commented on #7248
If I take https://github.com/status-im/status-react/pull/7242 as an example, the reason that the test build wasn't triggered by Probot is that the PR isn't considered mergeable (`Merging is blocked`):

[code]

[2019-01-10 09:54] jakubgs commented on #7248
Okay, so I think I know what the problem is:
https://github.com/status-im/status-react/blob/develop/ci/android.groovy#L28
If the `CHANGE_ID` is checked from parent job, and the new PR CI setup does not run those via a parent job.

I'll make a PR.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.c

[2019-01-10 09:54] pedropombeiro commented on #7248
So I guess we have to decide if we want to enforce GPG commit signing or not...

[2019-01-10 09:59] jakubgs commented on #7248
Fix for wrong filename: https://github.com/status-im/status-react/pull/7249
With this the filename will be: `${changeId}.apk`

[2019-01-10 10:14] Serhy commented on #7244
Yes, I see in https://github.com/status-im/status-react/pull/7112 the note that we agreed for this scenario when upgrading from 0.9.32 to 0.9.33.
I confirmed it should not be the case when upgrading from 0.9.33 to next (0.9.34) release. (Upgrade made from 0.9.33 RC to latest nighly)

Taking this into account and that Group Chats are in Beta state closing this issue.

[2019-01-10 10:14] #7244 closed, assigned to nobody

[2019-01-10 10:15] antdanchenko commented on #7248
@PombeirP I think that we can trigger them whenever PR is in `TO TEST` section and has an apk for e2e tests <img width="779" alt="screen shot 2019-01-10 at 12 13 38 pm" src="https://user-images.githubusercontent.com/12611990/50961754-36b40a80-14d1-11e9-8cef-1e28138d08ae.png">
Without waiting for the mergeable_state

[2019-01-10 10:29] rachelhamlin commented on #7245
This would be a nice improvement to help new users stick. It's definitely a cold onboarding right now. Will consider this for a future chat iteration, once TtT MVP is shipped.

[2019-01-10 10:40] rachelhamlin opened #7250 "Contact Requests"
### User Story

_Send requests_
As a user, I want to send contact requests to friends in Status so that I can see their display names and photos, and circumvent Tribute to Talk for people I know.

_Receive requests_
As a user, I want to review my list of contact requests and either approve or ignore them.

As a user, I want to be notified when I have a new contact request in case someone I know is

[2019-01-10 10:46] #7248 closed, assigned to nobody

[2019-01-10 10:47] rachelhamlin commented on #7224
Yeah, let's use to manage `0.9.34` instead.

I've begun a list of updates to be included in the [release notes](https://notes.status.im/mobile-release-notes), although it's very incomplete.

Easiest thing is probably to ask team leads what updates need to be publicly released since December 6th.
cc @mandrigin @yenda @jeluard @guylouis @goranjovic 👋

[2019-01-10 11:02] jakubgs commented on #6351
And we don't. None of out `eth.*` fleet hosts have any webservers on 80/443.

[2019-01-10 11:21] annadanchenko commented on #7198
for now the best steps to reproduce I can find is:
1. Install Status
2. Run it (so start screen with create new account/recover account is shown)
3. Leave a phone for a night with this and turn the phone on in the morning

[2019-01-10 12:11] jeluard commented on #7224
@mandrigin Is the branch you shared for `0.9.34` ? Might be worth renaming it?

[2019-01-10 12:30] flexsurfer commented on #7219
# UI issues

- [x] Screen is cut off at top. Top is white
https://github.com/status-im/status-react/pull/7251
# Bugs

- [x] Amount field is not responsive to my input. No done/return option, I need to manually click into the next field to move on
-  Amount field in the wallet works the same, there is no return button on a numeric keyboard, but I made some improvements to UI, now all fields should

[2019-01-10 12:33] mandrigin commented on #7224
@jeluard then we can just ignore the internal release. Initially I thought that it makes sense to track internal releases too, but, whatever.

[2019-01-10 12:41] #7231 closed, assigned to mandrigin

[2019-01-10 12:45] jeluard commented on #7224
My bad I didn't know we have internal releases.

[2019-01-10 12:58] #6599 closed, assigned to nobody

[2019-01-10 13:00] vkjr commented on #6926
Release published - https://status.im/get_desktop/
https://our.status.im/status-desktop-is-officially-in-alpha-v0-9-0/

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/get_desktop/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></blockquote>
<blockquote><img src="https://our.status.im/content/images/2019/01/Desktop-cover.png" widt

[2019-01-10 13:00] #6926 closed, assigned to vitvly, yenda, vkjr

[2019-01-10 13:00] jeluard commented on #7037
@churik Should be fixed now. Please reopen if you can still reproduce :)

[2019-01-10 13:00] #7037 closed, assigned to nobody

[2019-01-10 13:00] jeluard commented on #7194
@asemiankevich Can you still reproduce this?

[2019-01-10 13:08] ghost commented on #6295
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-10 14:03] ghost commented on #5550
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-10 14:03] #5550 closed, assigned to nobody

[2019-01-10 14:27] pedropombeiro commented on #7248
OK @antdanchenko fixed Probot (a lot had changed since the last time it was working!)

[2019-01-10 14:33] ghost commented on #1126
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-10 14:55] sounak98 commented on #6398
I've successfully built the app, but the app stops at the welcome screen. Metro gives this error:
[code]

[2019-01-10 15:01] Serhy commented on #6166
Updated build version (happens at the moment with v0.9.33) and scenario with autologin included which is fails

[2019-01-10 15:06] jeluard commented on #6398
Do you run both the right `make watch` and `react-native start` processes?
Also `react-native log-android` might give you some more details.

[2019-01-10 15:27] StatusSceptre commented on #7245
Possibly even consider adding a “join chat” display if automation doesn’t make as much sense, where a user can see there is not just a blank screen with 0 chats.

[2019-01-10 15:57] Serhy opened #7253 "'Ethereum node started incorrectly error' when app starts from universal link for extension"
***Type***: Bug
***Summary***: Status app is not running. When user navigates to universal link for extention app starts but right away the `Ethereum node started incorrectly error` appears.

#### Expected behavior
Navigation to 'Extension' screen with extension data users is about to install happens after login to account if user started Status from extension universal link. After user tap 'OK' s

[2019-01-10 16:00] Serhy commented on #7253
https://github.com/status-im/status-react/issues/6166 is related

[2019-01-10 16:34] Serhy commented on #7192
https://github.com/status-im/status-react/pull/7193 fix merged. Closing this issue.

[2019-01-10 16:34] #7192 closed, assigned to rasom

[2019-01-10 17:29] DivyeshPuri commented on #7105
Thank you for assigning me. I am working on this issue and will ask for help if I get stuck.

[2019-01-10 17:30] Serhy opened #7255 "Contact stuck on login screen when opening Status if scan universal link QR code via native device camera app"
***Type***: Bug

*Summary*: Status app is closed. When contact scans QR code of universal link Status starts and offers to log in to account (if autologin was not selected). However, once "Sign In" button tapped after valid password entered contact stucks on login screen with no user (see screenshot).

Might be the same fix as for https://github.com/status-im/status-react/issues/6166

#### Expecte

[2019-01-10 19:56] Swader commented on #7198
No need for overnight. I can reproduce with 100% accuracy within 3 minutes on any Android 9+ device.

1. Open any non-chatlist screen
2. Wait for phone sleep or sleep manually
3. Unlock after 3 minutes

[2019-01-10 22:37] decanus commented on #6688
The EIP has been updated @rachelhamlin, the implementation will need updating too. https://eips.ethereum.org/EIPS/eip-1577

<blockquote><div>Ethereum Improvement Proposals</div><div><strong><a href="http://eips.ethereum.org/EIPS/eip-1577">contenthash field for ENS</a></strong></div><div>Ethereum Improvement Proposals (EIPs) describe standards for the Ethereum platform, including core protocol spec

[2019-01-10 23:04] krisc commented on #7103
@jeluard Okay, I was able to test this some more today. The Send Transaction screen never pops up. I added additional log messages to ensure that `models.wallet/open-modal-wallet-for-transaction` is indeed being called. So I'm not sure what is going on.

[2019-01-11 04:47] speedyFixer commented on #7075
Hi, now I am playing around with ethereum/logs event in extensions, I think that I will make a WIP PR on next Thursday or sooner if possible.

[2019-01-11 05:28] sounak98 commented on #6398
No I run the `make run-android` and `make react-native` processes.

[2019-01-11 07:02] jeluard commented on #7103
@krisc Is it working w/o your change?

[2019-01-11 08:22] krisc commented on #7103
@jeluard yeah, it doesn't work when `models.wallet/open-modal-wallet-for-transaction` is called in the callback. I put a log message in `models.wallet/open-modal-wallet-for-transaction` so it's definitely being called.

[2019-01-11 08:28] jeluard commented on #6688
@decanus Do you mind pointing at what changed specifically?

[2019-01-11 08:53] rachelhamlin commented on #7219
Reminder for myself - I need to test again once I can complete an exchange (was blocked when I created the issue)

[2019-01-11 09:11] GaneshSaiKumar commented on #3317
is this solved?

[2019-01-11 09:51] errorists commented on #7171
Yeah, this entire swipe gesture is super janky and just bad. I’d suggest we either redo it altogether instead of patching up or replace it with a long press gesture.

[2019-01-11 11:34] decanus commented on #6688
@jeluard The multicodec table used and the way the hashes are encoded.

[2019-01-11 13:21] rachelhamlin commented on #6688
thanks @decanus 🙏

[2019-01-11 18:59] #7158 closed, assigned to flexsurfer

[2019-01-12 06:58] jinhojang6 opened #7259 "Status desktop clients crash in some cases"
# Problem
Some status desktop users cannot use the desktop client on Windows. There are 4 cases.

1) A user received an error message as below (Windows 7 32bit)
![](https://user-images.githubusercontent.com/41753422/51070342-8b9c7180-15f4-11e9-8c76-b0aba652445c.png)

It does not support 32 bit operating systems

2) A user received an error message as below (Windows 10 64bit)
![](https://user-image

[2019-01-12 17:28] mukulverm4 commented on #7104
Hey @jeluard, even after many attempts I haven't been able to setup the environment. I am gonna stop working on this now. I am sorry to have wasted your time.

[2019-01-13 15:49] ghost commented on #6317
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-13 15:49] ghost commented on #6187
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-13 15:49] ghost commented on #6184
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-13 15:49] ghost commented on #6183
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-13 15:49] ghost commented on #6182
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-13 15:49] #6187 closed, assigned to nobody

[2019-01-13 15:49] #6184 closed, assigned to mandrigin

[2019-01-13 15:49] #6182 closed, assigned to nobody

[2019-01-13 17:47] kayuzee commented on #6939
How is there not more voices on this, it's a integral issue to allow adoption of Status, espdicslly with the ease of access for the dexes through the browser.

Like any normal app, it should follow the metamask approach to add a token by address (and auto read decimals and symbol from chain) to add the custom token. Happy to provide more details and examples for how others use it, but standard bes

[2019-01-13 19:23] Swader commented on #6939
Keep spreading the word and asking others to +1 this, let's show the demand.

[2019-01-13 21:47] Swader commented on #6183
Unclear if resolved.

[2019-01-14 08:47] jeluard opened #7262 "Remove shortcut creation when following universal links inside status"
As a user, I don't want to have extra unusable items created in the home screen.
See more details [here](https://github.com/status-im/status-react/pull/7218#issuecomment-453102062)

### Description

*Type*: Bug

[2019-01-14 09:37] #7213 closed, assigned to jeluard, asemiankevich

[2019-01-14 09:47] ghost commented on #6319
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-14 10:27] ghost commented on #6205
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-14 11:07] ghost commented on #6186
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-14 11:07] #6186 closed, assigned to nobody

[2019-01-14 11:17] ghost commented on #6155
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-14 11:17] #6155 closed, assigned to nobody

[2019-01-14 11:49] Swader commented on #6205
This should be a bounty.

[2019-01-14 12:16] #6621 closed, assigned to nobody

[2019-01-14 15:38] rachelhamlin commented on #7114
@andmironov @yenda @hesterbruikman maybe we can hop on a call this week to talk about our options here?

[2019-01-14 16:59] StatusSceptre opened #7266 "Add new asset for Ethdenver event"
This is for a custom token on XDAI network

we'll need address, name, symbol and icon image should be added

For public release 0.9.34

[2019-01-14 17:07] ghost commented on #5445
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-14 18:23] pablanopete commented on #7266
part of #7224 release needs.

[2019-01-14 20:47] ghost commented on #6227
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-14 20:47] #6227 closed, assigned to nobody

[2019-01-14 22:46] vs77bb commented on #7075
Hi @speedyFixer, any update on progress here?

[2019-01-15 07:41] #6875 closed, assigned to nobody

[2019-01-15 07:58] ghost commented on #379
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 08:21] rachelhamlin commented on #7266
cc @goranjovic - a request for ETHDenver

[2019-01-15 08:28] ghost commented on #4959
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 08:58] ghost commented on #6352
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 09:46] Serhy commented on #6319
Not reproducible with 0.9.33 build.

[2019-01-15 09:46] #6319 closed, assigned to nobody

[2019-01-15 09:55] hesterbruikman commented on #7114
@rachelhamlin Following up on Status today

[2019-01-15 10:24] Serhy commented on #6140
Still reproducible with 0.9.33 develop build.

[2019-01-15 10:28] ghost commented on #5949
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 10:30] mandrigin commented on #6352
It still does... @jakubgs maybe you can take a look?

[2019-01-15 10:33] jakubgs commented on #6352
Sure, will check it out.

[2019-01-15 10:38] churik opened #7270 "Timestamps in chat list don't match timestamps of last sent messages"
### Description

*Type*: Bug

*Summary*: timestamps in chat list differ from timestamps of last sent message, and basically time of fetching message is displayed instead.

#### Expected behavior
can see timestamp of last sent message in both chat list and chat

#### Actual behavior
 time when message was fetched is shown in chat list
<img width="417" alt="img_0d55f218135a-1 jpeg 2019-01-14 16-53-4

[2019-01-15 11:34] Swader commented on #5949
Unknown if still present. Keeping alive.

[2019-01-15 12:08] ghost commented on #6360
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 12:43] Serhy opened #7274 "Address and web3 authorising permission window disappears right away ENS/Voting dapp home view loads"
***Type***: Bug

***Summary***: With enabled browser privacy mode we ask users for permissions to Wallet address and enabling web3 in a pop-up. In latest ENS Dapp respective pop-up disappears right away after Dapp screen loads. This makes ENS Dapp screen unresponsive.
We need to persist and keep web3 + address permission access pop-up in that case on Status browser level

Note: it's OK with iOS St

[2019-01-15 13:15] annadanchenko commented on #7274
on Android 9, today's nightly build:
- Open status and create new account
- Navigate to Profile -> ENS names
Result: popup with permission request is shown for very short moment and than is hidden, so I can tap on Allow/Deny. If tap on "Let's go" button then nothing happens

[2019-01-15 14:38] ghost commented on #6367
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 14:39] mandrigin commented on #6367
cc @PombeirP maybe you can help to fix that...

[2019-01-15 14:58] ghost commented on #6315
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-15 15:49] churik opened #7281 "Random 'java.lang.NullPointerException' at attempt to start 0.9.32-1"
### Description

*Type*: Bug
*Summary*: sometimes at attempt to start build 0.9.32-1 'java.lang.NullPointerException: Attempt to invoke virtual method 'void android.os.Messenger.send(android.os.Message)' on a null object reference'. Can't reproduce manually, can be random.

#### Expected behavior
can start app

#### Actual behavior
<img width="192" alt="sdfsadf" src="https://user-images.githubuser

[2019-01-15 16:12] #6352 closed, assigned to jakubgs

[2019-01-15 16:19] annadanchenko opened #7282 "Sometimes no history is retrieved if join public chat"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Sometimes if join public chat there is no history retrieved (stable wifi connection, even if there is history, even if use "Fetch last 24 hours"

[2019-01-15 16:44] pedropombeiro commented on #6367
@mandrigin looks like the file is being downloaded [here](https://github.com/status-im/status-react/blob/develop/Makefile#L53) and unzipped [here](https://github.com/status-im/status-react/blob/develop/Makefile#L85). I guess we need to figure out a way to avoid executing those steps if we see that there's a local version already there. I like the way we solve it on Android, we have separate folder

[2019-01-15 17:10] mandrigin commented on #6367
That would be the perfect solution but I’m not sure iOS is capable of it...

[2019-01-15 18:40] Swader commented on #6315
Keeping this alive until confirmed as no longer relevant.

[2019-01-15 18:56] speedyFixer commented on #7075
Hi @vs77bb , I will soon submit a PR, sorry for the delay, I had some problems with my computer.

[2019-01-15 19:43] StatusSceptre commented on #7105
Hey @DivyeshPuri are you still attempting this issue? Please update with a WIP if so.

[2019-01-15 20:04] StatusSceptre commented on #2884
@kfirmanty Can you please apply on gitcoin for this bounty so we can pay it out to you? Thanks for the work on this and apologies for the delay.

[2019-01-15 20:22] StatusSceptre commented on #7076
@shamardy can you please submit a WIP if you're still working on this issue?

[2019-01-15 20:24] tbenr commented on #6597
@StatusSceptre can you please snooze again? i'm sill on #6596 (I slowed down a bit because of holidays\job)

[2019-01-15 20:25] StatusSceptre commented on #4391
@santteegt you can always join a public channel in Status if you're still having trouble, let me know if this is  still on your  radar.

[2019-01-15 20:27] StatusSceptre commented on #6597
Snoozed for 100 days 💯

[2019-01-15 20:29] StatusSceptre commented on #6398
@sounak98 were you able to get the build running to work on this fix? Please submit a WIP if so.

[2019-01-16 02:01] StatusSceptre commented on #7266
@austintgriffith to help update when there's more information available.

[2019-01-16 05:01] DivyeshPuri commented on #7105
@StatusSceptre Yes, I am working on this issue will be pushing WIP PR in a day or two.

[2019-01-16 07:31] cammellos commented on #7282
Looking into this, checking the logs one thing that can be noticed is that the public-chat was joined before the mailserver was ready (that would explain why it only happens sometimes), but will check to validate that.

[2019-01-16 07:38] ghost commented on #6376
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-16 07:48] ghost commented on #6377
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-16 08:16] churik commented on #6517
Also can be reproduced on desktop

[2019-01-16 09:01] pedropombeiro commented on #6367
I imagine that if you put a second path for local files at above the line at https://github.com/status-im/status-react/blob/develop/ios/StatusIm.xcodeproj/project.pbxproj#L1884, it should work.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong

[2019-01-16 09:14] annadanchenko commented on #7282
using debug PR https://github.com/status-im/status-react/pull/7285 can reproduce on Android build (real Galaxy S6, Android 6.0.1)

modified steps:
1. create new account
2. add picture to profile (to allow access to Storage)
3. Log out
4. log in
5. join "status" or "status-core" chat and check if history is retrieved

[Status.log](https://github.com/status-im/status-react/files/2763385/Status.log)

[2019-01-16 09:25] churik commented on #7282
@cammellos tested 0.9.32 release build on `eth.staging` fleet and some messages are not fetched when you go back from offline.
**Steps to reproduce:**
- close app
- send ~10 messages in different chats from another device
- open app and log in
- wait 2+ mins for messages to fetch

**Expected result:** all messages are fetched
**Actual result:** none of the messages are fetched
Reproducible almost

[2019-01-16 09:31] cammellos commented on #7282
@churik would you mind using the test build from https://github.com/status-im/status-react/pull/7285 and replicate? thanks!

[2019-01-16 10:43] churik commented on #7282
@cammellos can't reproduce https://github.com/status-im/status-react/issues/7282#issuecomment-454709787 on https://github.com/status-im/status-react/pull/7285 on eth.staging. Tried around 10 times with different chats number, mailservers and network -  no success

UPD: can't reproduce https://github.com/status-im/status-react/issues/7282#issuecomment-454709787 as well on `eth.staging` + 0.9.32, tr

[2019-01-16 11:00] asemiankevich commented on #7282
i dont see messages in the following case:
- 2 devices in contacts, iOS and android
- ios goes offline
- android sends some messages to ios
- ios gets back online

As a result i see PN coming to iOS but no messages that were sent while iOS was offline. In order to receive them i have to restart the app.

[2019-01-16 11:38] ghost commented on #6387
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-16 12:05] ghost commented on #5301
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-16 12:13] Swader commented on #5301
Not resolved.

[2019-01-16 12:15] Swader commented on #6376
One of the basics of good software development is NOT having your build system talk to the internet. This is absolutely essential, removing Stale.

[2019-01-16 14:36] jakubgs opened #7286 "Change name of App when building PRs"
We need to use a different App ID when building PRs to avoid replacing the release build with a broken PR build.

[2019-01-16 15:18] ghost commented on #6262
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-16 15:18] #6262 closed, assigned to nobody

[2019-01-16 16:18] ghost commented on #6394
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-16 16:36] #7054 closed, assigned to jakubgs

[2019-01-16 17:58] ghost commented on #5666
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-16 19:13] 3ach commented on #7204
Yes I am still working on it, I will get something up over the coming
weekend.

On Tue, Jan 15, 2019 at 10:17 AM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-01-16 20:05] ghost commented on #6392
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-17 03:28] sounak98 commented on #6398
@StatusSceptre even after several attempts I could not run the build.

[2019-01-17 03:47] santteegt commented on #4391
Hi @StatusSceptre,

Tried that previously but I did not receive a response. I'll try it again.

I have this bounty in my TODO list, however, I'm currently a little busy with final projects until Jan 25th. In case you need this bounty to be fulfilled as soon as possible, let me know so I can change the status to stop Work in case someone else is able to pick this bounty and solve it before I'm avai

[2019-01-17 07:04] rasom opened #7288 "Request chat history on demand while on cellular connection"
## Pivotal link
https://www.pivotaltracker.com/story/show/163186553

# Problem

Currently, chats' history is requested from the mailservers regardless of what kind of internet connection is used on the device. For cellular connection, it might cause unacceptable traffic consumption.

# Implementation

When network connection type changes to cellular a dialog with the next options can be shown to t

[2019-01-17 08:24] ghost commented on #6246
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-17 08:24] #6246 closed, assigned to nobody

[2019-01-17 08:56] rasom commented on #7288
hey @andmironov, can you take a look, please?

[2019-01-17 09:14] ghost commented on #6281
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-17 09:14] #6281 closed, assigned to nobody

[2019-01-17 09:24] ghost commented on #4187
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-17 09:27] Swader commented on #4187
Still not resolved.

[2019-01-17 09:54] rachelhamlin commented on #7234
@andmironov @errorists so [these two screens](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=510%3A3116) are how the profile should look with and without a registered ENS name, right?

![image](https://user-images.githubusercontent.com/15470435/51309051-d75f7880-1a43-11e9-8ebe-8fa6e90054d9.png)

@yenda is the ENS display on the righthand screen possible without reverse look up

[2019-01-17 11:44] ghost commented on #6412
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-17 13:12] andmironov commented on #7288
Started doing some explorations, here's iteration #1 (not final, needs to be discussed)
Since sync will not work by itself anymore, it has to be explicit when syncing is off, to avoid confusion

<img width="3030" alt="sync" src="https://user-images.githubusercontent.com/3115606/51320926-671c1b80-1a72-11e9-8a8e-535e4a6be303.png">

Also, there should be on-demand syncing inside chats when syncing is

[2019-01-17 13:14] ghost commented on #6295
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-17 13:34] Swader commented on #6295
Still present on OS X

[2019-01-17 14:34] ghost commented on #1126
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-17 14:40] Swader commented on #1126
Still nothing.

[2019-01-17 15:14] ghost commented on #1563
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-17 16:41] zachferland opened #7292 "Loading iframe in Status Browser"
## Intro
Our lib [3box](https://github.com/3box/3box-js) uses an iframe to share ipfs/orbitdb data locally across domains (vs syncing everything from server each new domain).

## Issue
 Iframe works in all major browsers but has failed in all mobile dapp browsers (IOS at least, haven't got an android device to test on yet) including Status wallet. Seems like this could have to with the 'WebViews'

[2019-01-17 17:24] #6772 closed, assigned to pedropombeiro

[2019-01-17 17:24] #3488 closed, assigned to nobody

[2019-01-17 18:28] pedropombeiro commented on #2984
@asemiankevich we should see if we can close this due to #7268, it should fix it.

[2019-01-17 20:05] pablanopete commented on #7292
Thanks for opening this issue @zachferland - pinging  @flexsurfer who might be able to help point out where the issue lies in the browser.

[2019-01-17 22:23] speedyFixer commented on #7075
Hi, I think that ethereum/logs isn't working, I get 0 values with call it in custom extension, so I'm going to check this in order to solve this issue.

[2019-01-18 02:09] zachferland commented on #7292
Revisited again later in the day, after a bit of time, was able to build and run the app (Status) in the simulator (IOS) and capture some error output with the inspector. Looks like it may not actually be the iframe alone, but iframes (with differing origins) that use IndexedDB. Not exactly sure if this yet, and not clear why this is only the case in webview (not safari generally), this may also o

[2019-01-18 06:50] errorists commented on #7288
@andmironov is that icon a permanent fixture in the navigation bar? If so, I strongly dislike this solution, we're not Dropbox, people shouldn't have to stare at a syncing icon inside a chat app :) I think including that would also undermine the perceived reliability of the network, this stuff should work without me having to think about it and only tell me if it doesn't.
What happened with the id

[2019-01-18 07:10] jeluard commented on #7292
@zachferland Can you detail what you mean by iframe don't run? Do you need `web3` features available from the iframe?

[2019-01-18 07:39] rasom commented on #7288
@andmironov, just one note: this issue is about syncing of messages history, not about syncing of blockchain state (which we will have soon as well). Those two processes are going to be separate.

[2019-01-18 07:54] churik commented on #2984
I'll check it in nightly, but I can say that it was fixed in PR

[2019-01-18 08:27] rachelhamlin commented on #6941
`All inputs that accept addresses should display a warning if the entered address is not in mixed case or if it is not valid according to eip-55`

Do we re-use this error pop-up for invalid address for this case? @goranjovic @denis-sharypin

<img src="https://user-images.githubusercontent.com/15470435/51374328-fd981d80-1b02-11e9-9812-f45245448fe2.png" width=250/>

[2019-01-18 08:38] #2984 closed, assigned to lukaszfryc

[2019-01-18 09:02] denis-sharypin commented on #6941
@rachelhamlin  not, really. In the new design, it should be like this. But I can't come up with the good wording for that. "This address is not checksummed" sounds too technical for me.
<img width="503" alt="screenshot 2019-01-18 09 58 43" src="https://user-images.githubusercontent.com/6559881/51376070-be200000-1b07-11e9-986b-d53041e5abe9.png">

[2019-01-18 09:06] rachelhamlin commented on #6941
Could simply say `Error in address`?

[2019-01-18 12:04] annadanchenko opened #7299 "Error on running app "status_im.react_native.js_dependencies.keychain.SetUsername is not a function""
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Error "status_im.react_native.js_dependencies.keychain.SetUsername is not a function" is shown if start the app after installing last nightly (f

[2019-01-18 12:56] mandrigin commented on #7299
this was an issue in our fork that I fixed recently, see this commit: https://github.com/status-im/react-native-keychain/commit/33eb25baf359414f7a30a34a0298a6347f698138

maybe we need to have an dependency upgrade

[2019-01-18 13:12] churik commented on #7299
@mandrigin can you please help with it?

[2019-01-18 13:23] mandrigin commented on #7299
I think @vkjr should know what to do, probably just update the react-keychain dependency there.

[2019-01-18 14:13] zachferland commented on #7292
@jeluard specifically thought loading the iframe was blocked due to some policy in the webview that differed from other browsers. But after looking into it before, I specifically mean it throws the error in the comment above (found from running status app in simulator (IOS)), which I think is indexeddb, which then blocks orbitdb/ipf from running in the iframe. Don't need any web3 features in the i

[2019-01-18 14:14] mandrigin commented on #7299
@PombeirP can it be related with the stuff you did with dependencies?

[2019-01-18 14:21] jeluard commented on #7292
I guess it does? Could you try to reproduce with a simple iframe doing some indexedb things?

[2019-01-18 14:33] vkjr commented on #7299
@PombeirP, in your changes `react-native-keychain' tag points not to the last commit - https://github.com/status-im/react-native-keychain/releases

This one is the last one and contains fixes from @mandrigin related to `setUsername` function - https://github.com/status-im/react-native-keychain/commit/33eb25baf359414f7a30a34a0298a6347f698138

<blockquote><img src="https://avatars3.githubusercontent

[2019-01-18 14:55] zachferland commented on #7292
yup! that's the plan, will try to create a minimal example that creates the same error, will post here how it goes

[2019-01-18 14:58] pedropombeiro commented on #7299
I tried to make the tags point to the same commit SHA, but there was one exception which looked harmless to use the same commit on mobile and desktop, let me check if that was the one.

[2019-01-18 15:02] pedropombeiro commented on #7299
@vkjr develop was pointing to https://github.com/status-im/react-native-keychain/commit/ea1bfe6b803ab712d6009a40267db820ce2ec2cd, and my upgrade moved it to the following commit: https://github.com/status-im/react-native-keychain/commit/43e5512cabb8ee064fd9e503be943dcf2c7d7669. I guess that was a bad commit and we need https://github.com/status-im/react-native-keychain/commit/33eb25baf359414f7a30a

[2019-01-18 15:02] vkjr commented on #7299
@PombeirP, I'm updating and checking PR with fix right now.

[2019-01-18 15:27] yenda commented on #7245
What is the idea here exactly? To suggest to the user to drop by #status chat? I suppose this requires some UX design flow @hesterbruikman @andmironov

[2019-01-18 15:56] churik commented on #6895
Still reproducible

[2019-01-18 19:49] ghost commented on #6433
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-18 20:11] zachferland commented on #7292
Turns out it is a general safari constraint, that differs from other browsers (including chrome/firefox). Not an IOS/Webview specific issue, but had not realized since always testing on desktop with metamask and chrome/firefox. Iframe can't use IndexedDB storage when not same origin. But can use local storage, seems this is true because historically this was the behavior, but was not enabled when

[2019-01-18 22:40] #7299 closed, assigned to nobody

[2019-01-20 09:00] Swader commented on #6433
Still broken.

[2019-01-20 13:27] jakubgs commented on #1125
I found a pretty sweet tool here:
https://reproducible-builds.org/tools/
Which is:
https://salsa.debian.org/reproducible-builds/diffoscope
It can generate diff reports on various formats, including APK files.

Example diff between two builds of the same commit(`` and ``) generated with:
[code]
https://examples.status.im/diffs/40aff1/

I intend to make an automation that will generate comparisons o

[2019-01-20 17:00] tbenr commented on #6596
@gitcoinbot @StatusSceptre working on it, in the next days I should be able to publish a PR

[2019-01-21 08:17] jeluard commented on #7292
@zachferland Right this is something we plan to implement. Not entirely sure about IndexedDB but probably not persisted either.

[2019-01-21 09:22] rachelhamlin commented on #7266
Hey guys! Do you think this token will be ready by end of week? That's the safest deadline to guarantee that it makes it into the public release.

@pablanopete @austintgriffith

[2019-01-21 09:59] hesterbruikman commented on #5674
Finding this a bit painful. As suggested by Maciej and Lukas, can the Save password message be hidden when not available?

![screenshot_20190121-104906](https://user-images.githubusercontent.com/35233054/51466880-80231600-1d6b-11e9-8d8a-2437ea5a6ebb.png)

[2019-01-21 12:09] rachelhamlin commented on #6587
To-do - @jeluard you can list options for this issue here.

Two most popular options from the call were me 6 (??) option and using a hash.

[2019-01-21 12:26] jeluard commented on #6587
Will do! BTW it is meeseeks :) https://meeseeks.app/

<blockquote><div><strong><a href="https://meeseeks.app/">loading...</a></strong></div></blockquote>

[2019-01-21 12:37] andmironov commented on #7288
Here's an iteration 2, based on the initial @rasom 's concept. cc @mandrigin

<img width="1547" alt="iteration2" src="https://user-images.githubusercontent.com/3115606/51475083-74971580-1d92-11e9-89cb-a97592759782.png">

btw, implementing this requires implementing the bottom sheet component. Example of how it works can be found here https://framer.cloud/AvjzY by tapping on the little arrow icon n

[2019-01-21 12:47] goranjovic commented on #6895
@churik Possibly fixed in PR #7263

[2019-01-21 12:48] goranjovic commented on #6941
Maybe take a look and see how other wallets did it? It makes sense to be consistent in wording.

There are three cases:
- address is checksummed and the checksum is correct, it's A OK and nothing should happen
- address is not checksummed i.e. all letters are lowercase, there should be a warning but user should be able to continue. That's the case when user is say copying the address from an app t

[2019-01-21 15:17] jeluard commented on #6587
See some notes [here](https://notes.status.im/browser-ens-dapp-research?view)

[2019-01-21 20:44] zachferland commented on #7292
Got around to trying localstorage and indexeddb in a simple example and it was persisted, at least for apps at domains. But of course not for dapps fetched from ipfs as referenced elsewhere.

[2019-01-21 22:04] StatusSceptre commented on #2884
Thanks @kfirmanty can you now "submit  work"  through gitcoin so i  can get you approved?

[2019-01-22 03:00] StatusSceptre commented on #7104
@mukulverm4 This has been far from a waste of time, we're glad to hear your feedback and we are aware of the difficulty some users find setting up our build setup. The good news is there is a great amount of work going on towards making the build process simpler for newcomer developers. Would love it if we could nail down what the problem was and hopefully allow and encourage you to contribute.

[2019-01-22 03:03] pablanopete commented on #7245
Yes @yenda as stated above, just logging the issue as it was a newcomers input they wouldn't had noticed public chats without this.

[2019-01-22 04:05] dbe commented on #7266
Hey @rachelhamlin,

I'm working on the burner-wallet with Austin for ETH Denver. We are going to come up with a firm code freeze data asap and can update this at that point.

One quick question: Does the contract address for our token need to be hard-coded and sent out as part of a release, or is that something we could update dynamically in case there were any changes we were forced to make to th

[2019-01-22 05:33] hesterbruikman commented on #7245
Thanks for bringing the feedback @hutch and looping in @yenda. Expanding on boarding with some sort of intro and improved empty state screens is on the backlog for core, indeed needs a design proposal first.

Will take this along as a requirement.

[2019-01-22 06:07] rasom commented on #7288
@andmironov, i'm ok with these screens, the only question is about that grey badge with offline status. As i remember quite a lot of people are annoyed by this badge atm and also it takes too much real estate on some screens (on chats list screen it blocks access to the first chat in the list, on chat screen it blocks the whole "add contact" badge, probably something else).
Do we really want to us

[2019-01-22 08:47] denis-sharypin commented on #6941
I checked a few mobile wallets with not checksummed address and none of them checking addresses for that.  I got this error once only on myetherwallet.com and the description was like "This address is not checksummed". But I find such description too technical, something that an average user won't get.

[2019-01-22 08:47] rachelhamlin commented on #7266
Hey @dbe - unfortunately at this point, we hard code token addresses :( So there is pressure to include it in time for testing and release.

[2019-01-22 08:54] errorists commented on #7288
@rasom I'll just chime in saying, the grey status bar was updated and the issues you've listed will be fixed as part of this PR https://github.com/status-im/status-react/pull/7141

[2019-01-22 08:59] rasom commented on #7288
@errorists, got it, thanks

[2019-01-22 09:26] rachelhamlin commented on #6941
Thanks for researching, @denis-sharypin.

I suspect this error state is unlikely anyway. Most people will copy/paste an address.

That said, I suggest sticking to plain English with `Error in address` or even `Check for typos`.

[2019-01-22 10:02] rachelhamlin commented on #7274
Works fine for me on iOS.

New account -> ENS names -> pop-up appears and remains until I take action.

[2019-01-22 10:07] Serhy commented on #7274
Same issue with Voting Dapp (https://vote.status.im) as well

<blockquote><div><strong><a href="https://vote.status.im/">Status.im - Survey</a></strong></div></blockquote>

[2019-01-22 12:44] annadanchenko opened #7323 "Old infura project id is in logcat after upgrade to infura hotfix 0.9.32"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: After upgrade from 0.9.32 hotfix 2 to infura hotfix (build 3) there is old infura project id `z6GCTmjdP3FETEJmMBI4 ` instead of new `f315575765b

[2019-01-22 14:06] rachelhamlin opened #7325 "EIP681 URLs direct to Status"
### User Story

As a user, I want to have EIP681 style URI links redirected to Status.

### Description

*Type*: Feature

*Summary*: Formerly EIP67, now [681](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md).

Currently blocked by PR #7263

#### Expected behavior
Allows Ethereum transactions to be represented by a URL or QR code, which then open in Status.

[2019-01-22 14:23] rachelhamlin commented on #5584
Designs are updated here: https://www.figma.com/file/JEYzJxBPSmuLBffZO0CT9rj2/Web3-and-Status-API-permissions?node-id=41%3A38

In the future, we can explore:
- options to turn these permissions back `On` from this screen later
- making these settings accessible from the browser itself
- whether we can send back a more specific response from the user to the DApp, e.g. `Ignore for now`

[2019-01-22 15:47] annadanchenko commented on #7323
should be fixed in https://github.com/status-im/status-react/pull/7324

[2019-01-22 16:12] jeluard commented on #7219
@rachelhamlin All listed issues should be fixed in the following extension version: https://status-im.github.io/pluto/try.html?hash=QmPzBb1siNHz8MtsMXHz7gq92KRTbHW3VHbCJGEiPYvrVr

<blockquote><img src="/pluto/img/favicon.png" width="48" align="right"><div><strong><a href="https://status-im.github.io/pluto/index.html">Pluto · A grammar for data manipulation</a></strong></div><div>A grammar for data

[2019-01-22 16:59] ghost commented on #6521
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6518
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6521
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #4367
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #4367
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #4569
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6518
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #4569
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6513
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6515
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6515
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6513
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6493
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6493
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6491
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6491
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6504
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6489
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6492
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6504
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6487
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6489
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #5654
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6487
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #6492
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 16:59] ghost commented on #5654
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6481
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6473
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6481
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6482
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6473
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6480
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6482
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6477
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6479
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6480
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6461
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6477
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6446
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6479
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6456
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6461
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #5967
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6446
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6434
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6456
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #5967
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6434
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-01-22 17:04] ghost commented on #6360
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #4959
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #379
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #4959
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #6360
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #5445
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #379
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #6317
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] ghost commented on #5445
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] #6360 closed, assigned to nobody

[2019-01-22 17:04] ghost commented on #6317
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-01-22 17:04] #379 closed

[2019-01-22 17:04] #5445 closed, assigned to nobody

[2019-01-22 17:04] #6317 closed, assigned to nobody

[2019-01-22 17:14] Swader commented on #4959
Not. Resolved.

[2019-01-22 17:15] Swader commented on #5967
Not resolved.

[2019-01-22 17:16] Swader commented on #6434
Not stale.

[2019-01-22 17:16] Swader commented on #6446
Keepalive

[2019-01-22 17:17] Swader commented on #6479
How does such an important feature go stale?

[2019-01-22 17:17] Swader commented on #6480
Keepalive

[2019-01-22 17:18] Swader commented on #6473
keepalive