[2019-03-22 21:59] j-zerah commented on #7726
@oskarth hows this for some general comms leading up to the shut down:
https://notes.status.im/0CFcsVB-Ru2zzv2lzckUVg

[2019-03-24 07:29] ghost commented on #7107
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-24 07:29] #7107 closed, assigned to nobody

[2019-03-24 13:27] ghost commented on #6414
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-24 13:27] #6414 closed, assigned to nobody

[2019-03-24 17:27] ghost commented on #7176
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-25 04:39] ghost commented on #7178
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-25 05:59] oskarth commented on #7726
@j-zerah looks great, perfect!

[2019-03-25 07:09] ghost commented on #7125
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-25 07:09] #7125 closed, assigned to cammellos

[2019-03-25 07:46] #4935 closed, assigned to rasom

[2019-03-25 07:57] jeluard commented on #7104
@alexanmtz As long as you follow the steps in the docs you should be good yes.

[2019-03-25 08:16] asemiankevich opened #7822 "Cancel button does not disable Chaos Unicorn toggle"
# Problem

If i toggle the Chaos Unicorn toggle -> it becomes enabled even i tap cancel on the next pop up

![image](https://user-images.githubusercontent.com/28752642/54904099-90cc4580-4eee-11e9-9504-81f857bd848f.png)

# Steps

1. open status
2. open profile
3. tap Chaos mode toggle
4. tap Cancel
5. pay attention to the toggle

# NOTE

if [Cancel] button here is not supposed to cancel the toggle

[2019-03-25 08:45] asemiankevich opened #7823 "All assets are enabled if i select recipient and go back"
# Problem

All assets are enabled again when i select recipient and go back

# Steps

1. open status
2. recover account with a lot of assets (or several, does not matter, should be more than ETH only)
3. add a contact
4. tap wallet
5. manage assets -> disable all assets
6. tap send -> select recipient
7. tap back

# Video
https://drive.google.com/open?id=1xmf9_uTmUcdgmbwukbYdGjCMhAbGd2w8

[2019-03-25 08:49] alexanmtz commented on #7104
Yeah @jeluard , I followed all the steps and still having this error on node. I will try to figure out why this is happening.

[2019-03-25 08:59] ghost commented on #4272
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-25 13:57] churik opened #7826 "Can't start app on Windows (after fresh install)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: After installation can't start Status app. No logs are created.

#### Expected behavior
can start status app
#### Actual behavior
app doesn't start

### Reproduction

If you have the previous installation of Status App:
- uninstall app
- delete app data in /AppData/Local/Status
- restart your laptop (or vm)

After

[2019-03-25 14:08] #7190 closed, assigned to rasom

[2019-03-25 14:08] #7821 closed, assigned to rasom

[2019-03-25 14:19] ghost commented on #7007
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-25 14:19] #7007 closed, assigned to nobody

[2019-03-25 14:55] rachelhamlin commented on #7598
Hey @StatusSceptre, who will manage Gitcoin moving forward?

[2019-03-25 15:01] guylouis commented on #6939
@goranjovic can this be a bounty or you do not recommend it ?

[2019-03-25 15:55] #7673 closed, assigned to yenda

[2019-03-25 16:09] ghost commented on #7184
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2019-03-25 16:12] Serhy commented on #7184
Still reproducible in 0.12.0 develop build

[2019-03-25 16:17] tbenr commented on #7357
@gitcoinbot - I'll publish a WIP this evening or tomorrow

[2019-03-25 16:32] StatusSceptre commented on #4158
awaiting the merge.

[2019-03-25 17:56] asemiankevich commented on #7822
@annadanchenko said no one will fix it :(

[2019-03-25 17:56] #7822 closed, assigned to nobody

[2019-03-25 19:38] StatusSceptre commented on #7598
@rachelhamlin, Corey and Andy.

[2019-03-25 19:44] StatusSceptre commented on #6573
As @sandumjacob applied first, he'll get first shot.  If he doesn't respond within a reasonable amount of time to start work then I'll switch it over.

Thank you for applying!

[2019-03-25 19:47] e18r commented on #7598
Hi, thanks for accepting me. I already managed to solve my development environment issues and I'm already at the beginning of chapter 5 of the Brave Clojure book. I'll start working on this tomorrow morning!

[2019-03-25 19:47] StatusSceptre commented on #4391
This gitcoin bounty has expired.  What is the current status of the work being done?  @mandrigin @santteegt.  Once I get an update and approval from @mandrigin or @asemiankevich I'll approve work and change expiry.

[2019-03-25 19:49] StatusSceptre commented on #7667
after reviews and merge I will pay out. Thanks for submitting work!

[2019-03-26 03:49] ghost commented on #6454
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-26 03:49] #6454 closed, assigned to nobody

[2019-03-26 08:59] ghost commented on #6921
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-26 08:59] ghost commented on #6510
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-26 08:59] #6921 closed, assigned to goranjovic

[2019-03-26 08:59] #6510 closed, assigned to nobody

[2019-03-26 09:02] tbenr opened #7829 "Network definition: network-id / chain-id confusion"
### User Story

As a developer I want to have a clear distinction between **network-id** _as id in the :db storing network definitions_ and **network-id** _as chain-id we connect to_

I found confusion here: `network/core.cljs`

### Description

as per https://chainid.network/ and `utils/ethereum/core.cljs` it seems to me we refer to networks by chain-id but in UI and in the code we still use `:ne

[2019-03-26 10:52] jeluard opened #7833 "Sync installed extensions between paired devices"
### User Story

As a user, I want all my installed extensions to be synced between devices.

### Description

*Type*: Feature

Syncing works in two steps:

Once devices are paired, there's a `Sync all` button, used to sync data unidirectionally (from the device where sync-all is pressed, to any paired device). Any further extension will be synced automatically, by sending a specially crafted messa

[2019-03-26 10:59] #7354 closed, assigned to nobody

[2019-03-26 11:52] churik opened #7834 "Types are overlapping with names on DApps tab while scrolling"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: when scrolling in DApps tab - types (i.e. "Exchages", "Games" etc) are overlapping with Dapp list. Relevant only for IOS.

#### Expected behavior
no overlapping
#### Actual behavior
![2019-03-26 12 50 50](https://user-images.githubusercontent.com/4557972/54994937-cee86880-4fc5-11e9-8ab7-1f69478720b9.jpg)

### Rep

[2019-03-26 11:55] annadanchenko opened #7835 "Can send tx fine if in Chaos mode on staging fleet"
# Problem

I can send a transaction while my Android/iOS app is in Chaos mode (connected to staging). Using builds from https://github.com/status-im/status-react/pull/7831 that enabled Chaos mode with test dns record.

When Chaos mode is turned off and on then expected 500 Internal sever error is returned after sending tx. After relaunching the app - Chaos mode is on but tx can be sent

Would expe

[2019-03-26 11:59] churik commented on #5749
It is still happening on release 0.11.0

[2019-03-26 12:19] antdanchenko commented on #7696
test case added with significant changes in steps https://ethstatus.testrail.net/index.php?/cases/view/5784
automated test has been added in #7836

[2019-03-26 12:19] #7696 closed, assigned to antdanchenko

[2019-03-26 12:19] ghost commented on #6799
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-26 12:29] #7826 closed, assigned to pedropombeiro

[2019-03-26 12:49] cammellos opened #7837 "Offline shown even though there's connectivity"
Offline banner is show in the app even though the app is clearly connected (can browse dapps, check balance).

[2019-03-26 13:59] mandrigin commented on #4391
@StatusSceptre yeah, it should still be a valid bounty

[2019-03-26 14:22] churik opened #7841 "Keyboard overlaps "Sync using Mobile data" popup"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when keyboard is opened and WI-Fi connection is lost, "Sync user Mobile data" popup appears, but it is hidden partially behind keyboard

#### Expected behavior
can see popup

#### Actual behavior
![Isdfsd](https://user-images.githubusercontent.com/4557972/55004350-5f30a880-4fda-11e9-91e9-c87a5662f6f5.png)

### Rep

[2019-03-26 14:45] churik commented on #6799
still relevant

[2019-03-26 15:03] annadanchenko commented on #7835
fixed by https://github.com/status-im/status-react/pull/7839

[2019-03-26 15:03] #7835 closed, assigned to nobody

[2019-03-26 16:05] e18r commented on #7598
Today I took a look at the source code, and particularly at the function `show-mainnet-is-default-alert` from `src/status_im/accounts/core.cljs`. There I realized that the beta warning is not enabled in my environment because I'm obviously not on mainnet. That realization took me to the file `src/status_im/utils/config.cljs` which loads config options from the namespace `status-im.react-native.js-

[2019-03-27 08:18] Serhy opened #7843 "No suggestion list of options in /principles extension appears in chat"
***Type***: Bug

*Summary*:  When select `/principles` chat command (after installing respective extension) there is no list of suggested options appears.

It's all OK with, e.g. `/gfycat` extension - suggestion input there appears.

No issues with 0.10.1 release builds.
No issues with the build made of https://github.com/status-im/status-react/pull/7740

#### Expected behavior
List of suggestions

[2019-03-27 09:09] ghost commented on #7147
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-03-27 09:09] #7147 closed, assigned to nobody

[2019-03-27 13:42] rachelhamlin commented on #7746
@Swader the "could not be reached" error was expected?

[2019-03-27 13:43] jeluard commented on #7843
Please check with https://status.im/extensions/play.html?hash=QmSvd5iehhrkSCQR12hEyJtJzCjEQo1ax8936BnkBhQi5a

[2019-03-27 13:53] Serhy commented on #7843
Works perfectly with 0.11.0 release!

[2019-03-27 14:16] annadanchenko commented on #7731
there is no approved TestFlight build yet, so new release date is March 28.

Main topics of release: adding Chaos mode, splitting Home into Chats/DApps

[2019-03-27 14:27] Swader commented on #7746
@rachelhamlin yep, I was on the wrong wifi

[2019-03-27 14:41] jeluard commented on #7843
Do you want to keep this issue open?

[2019-03-27 15:07] Serhy opened #7847 "[TESTS] Cover with e2e tests `/principles` extension"
Cover with e2e tests #7843 issue

[2019-03-27 15:08] Serhy commented on #7843
Closed.

[2019-03-27 15:08] #7843 closed, assigned to nobody

[2019-03-27 15:35] e18r commented on #7598
Today I figured out a way to accomplish what is expected.

In the accounts database, a boolean entry called `mainnet-warning-shown?` stores whether the beta alert was already shown to a certain user. I'm going to modify that entry into a string called `mainnet-warning-shown-version`, which will store the version of status that the beta alert was shown in. That way, knowing the current version and

[2019-03-27 15:43] rachelhamlin commented on #7726
@oskarth I just commented this in #312-janitors but probably better here:

Have we provided user-friendly specifics as to which features will break on Chaos Unicorn Day? The blog posts seem more geared toward advanced users in that they name services that will be shut down, but do not specify the product impact.

Can we add more laymen terms to the website and blog posts? e.g. `You will not receiv

[2019-03-27 15:59] Serhy opened #7848 "App crash when changing network while Wallet tab displays Transaction Details"
**_Type_**: Bug

**_Summary_**: If contact makes an activity required force re-login (toggle Bootnode/Fleets switch/Network change), - but not account 'Log Out', - while on Wallet tab there is a Transaction Details view - app crashes.

After app restart user can proceed use app fine

#### Expected behavior
Account logs out if toggle Bootnode toggle/Switch Fleets/Change network while Wallet tab dis

[2019-03-28 00:08] eswarasai commented on #3585
@yenda -- Looks like the PR is merged now. Is this issue good to go with? Let me know the exact implementation steps you have in mind so that I can follow them avoiding any further confusion. Thanks :)

[2019-03-28 03:18] oskarth commented on #7726
@rachelhamlin The blog post was meant for all users, but perhaps some things could be made more explicit. I'd be a bit cautious of doing too much preparation/busy work as we want to see how things work in the real world when things break without forewarning, e.g. as a fire drill.

If we want to change some copy, I suggest editing it here directly: https://github.com/status-im/chaos-unicorn-day/edi

[2019-03-28 10:06] annadanchenko commented on #7726
updated https://github.com/status-im/chaos-unicorn-day/edit/master/README.md

[2019-03-28 10:42] tbenr opened #7851 "Fairdex Dapp doesn't work"
# Problem Fairdex Dapp

https://fairdex.net

After:
- approving all terms&cond
- giving permission to access wallet
- Fairdex Dapp stucks while loading (wallet)?

![image](https://user-images.githubusercontent.com/15999009/55151227-10a41b00-514e-11e9-8b36-c2f6fb14b280.png)

it somewhat interacts with the wallet by the way:

![image](https://user-images.githubusercontent.com/15999009/55151391-72648

[2019-03-28 10:54] annadanchenko commented on #7596
is it suitable https://pbs.twimg.com/profile_images/1057983528128954369/Ux8N5qTk_400x400.jpg ?

[2019-03-28 11:29] decanus opened #7854 "Content overlaps on status desktop"
On Status desktop `V0.9.0` content overlaps when clicking on the profile tab. This depends on the application window size.
![image](https://user-images.githubusercontent.com/7621705/55154424-12bda800-5155-11e9-881a-c5cffcedb687.png)

[2019-03-28 13:24] Swader commented on #7726
The post says users on mobile will get an error after attempting to send a tx on mobile 0.11+. This does not clarify whether or not the error is just a reporting error, or if the TX actually fails. I would assume it does not actually fail, as we have status-go on mobile for a reason (that reason being signing txs and sending them). Am I correct?

[2019-03-28 14:53] annadanchenko commented on #7731
released 0.11.0 (2019032709), status-go v0.23.0-beta.8-chaos on March 28, 2019

[2019-03-28 14:53] #7731 closed, assigned to nobody

[2019-03-28 17:22] churik opened #7858 "Make new Desktop release build with 0.11.0"
For Chaos Unicorn Day we needed one new release for desktop.

So for this required:
- make new release branch release/desktop/0.11.0
- update version in this branch
- confirm, that logging is switched off by default in release builds

[2019-03-28 22:17] hesterbruikman commented on #7598
Thanks for sharing your progress @e18r! I'm not the right person to give you hints. However, please try the channel #status-core-help https://get.status.im/chat/public/status-core-help

[2019-03-28 22:23] hesterbruikman opened #7859 "Can't select listitem below plus button on iOS"
## Problem
When in chat list view I cannot select the listitem below the plusbutton. When there are more than 8 items in the list, the last item can never be selected.

### Expected behavior
I can tap next to the plus button to select a list item

### Current behavior
Space around the list item is not tappable.

# (Feature or Bug? i.e Type: Bug)
Bug

# Implementation
Either the area around the plu

[2019-03-29 02:58] kobuta23 opened #7860 "com.facebook.react.bridge.ReadableNativeMap cannot be cast to java.lang.String"
### User Story
As a user, I want to sign a message on ethfinex from my android status app so that an order is posted to 0x markets.

### Description
_Type_: bug

_Summary_:

When signing an order on ethfinex, upon inputting my password, the screen freezes and this message shows:
Java.lang.ClassCastException: com.facebook.react.bridge.ReadableNativeMap cannot be cast to java.lang.String
And I am in

[2019-03-29 09:23] jeluard commented on #7352
@emmaodia Any news? Do you expect to push a PR soonish? :)

[2019-03-29 09:51] 0xc1c4da commented on #7436
➤ Jarrad Hope commented:

testing

[2019-03-29 12:21] #7430 closed, assigned to nobody

[2019-03-29 12:23] vitvly commented on #7858
Branch `release/desktop/0.11.0` created, version updated to 0.11.0.

[2019-03-29 12:27] vitvly commented on #7858
Logging should be switched off by default in release builds.

[2019-03-29 13:19] corpetty opened #7863 "Chat vulnerable to IDN attack"
# Problem
Our chat is vulnerable to an IDN homograph attack as described in [this](https://wildfire.blazeinfosec.com/security-advisory-signal-idn-homograph-attack-2/) article.

It appears as though browser correctly handles these URLs, but rendered links in chat (both mobile and desktop) do not.

It is important that we properly validate and sanitize text to protect our users from phishing attacks

[2019-03-29 15:21] rachelhamlin opened #7864 "Remove Oasis.Direct and ERCDEX"
### Description

*Summary*: These DApps are no longer active and can be removed from our DApp list:

ERC dEX - app link directs to landing page; DApp no longer active?
Oasis.Direct - shut down by Maker

[2019-03-29 15:23] churik commented on #7858
Closed, pages  https://status.im/stable/ i https://status.im/get_desktop/  are updated.
Thanks @siphiuel !

[2019-03-29 15:23] #7858 closed, assigned to nobody

[2019-03-29 16:36] tbenr commented on #7371
@jeluard I'm going to start playing with this

[2019-04-01 05:31] oskarth commented on #6939
Ping @goranjovic

[2019-04-01 07:17] decanus opened #7870 "Cannot Click last chat in a list on mobile"
### Description

Due to the new chat icon, the last chat in a list on mobile can not be clicked if there is a list longer than screen length.

#### Expected behavior
When clicking on the chat I expect it to open.

#### Actual behavior
Nothing happens.

### Reproduction
Ensure you have more chats active than can fit on a screen, scroll to the bottom and try to open the last chat.

### Additional In

[2019-04-01 08:47] annadanchenko commented on #7870
duplicate of #7859

[2019-04-01 08:47] #7870 closed, assigned to nobody

[2019-04-01 11:52] Serhy commented on #6482
Can not reproduce now.

[2019-04-01 12:39] Serhy commented on #3097
Re-opening because it's still an issue in 0.11.0 app version.

[2019-04-01 16:03] churik opened #7871 ""Error: there is no route defined for key home" when scanning valid bootnode after navigating to "Scan QR" in Home"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

_Summary_: basically issue is that there is only one camera view, and if it is opened in several tabs (i.e. in 1) Home -> scan QR -> camera view with "Scan QR" is shown, in 2) Profile -> add bootnode (or mailserver) -> scan QR -> camera view with "Add bootnode" or mailserver is shown) and then if user is switching between th

[2019-04-01 16:37] annadanchenko commented on #3175
can reproduce on Google pixel xl, android 9
Release 0.11.0 of mobile app

[2019-04-01 17:14] krisc commented on #5776
I think whoever is behind @StatusSceptre has changed? Just trying to bump this. Can I get approved?

[2019-04-01 20:39] pedropombeiro opened #7872 "Mailserver request error after restoring drive"
# Problem

I had an issue with my Linux install and had to restore an image from a month ago. When opening a chat in Status Desktop I see the following when I click on the gray error at the bottom:

![image](https://user-images.githubusercontent.com/138074/55358072-d2e91e80-54ce-11e9-8493-56c95d95f09e.png)

# Acceptance Criteria

New messages arrive for chats even though the database is old.

[2019-04-01 21:05] krisc commented on #7204
@jeluard care to comment here? I have a WIP for the `status-react` side of this, but I would like your clarification before continuing.

[2019-04-02 06:03] jeluard commented on #7204
The bulk of this issue is to implement to go logic in status-go. I don't have more details I am afraid.

[2019-04-02 08:07] goranjovic commented on #6939
@guylouis I don't recommend bountying this - it's too large in scope for a bounty. It's pretty large even as a non-bounty issue.

[2019-04-02 08:08] goranjovic commented on #7863
@corpetty Should I create a separate issue for the ENS name in wallet and refer to this one?

[2019-04-02 11:09] #7864 closed, assigned to nobody

[2019-04-02 12:46] churik commented on #6451
closed after RN-upgarde in nightly 02/04/2019

[2019-04-02 12:48] churik commented on #2866
no console chat anymore

[2019-04-02 13:40] churik opened #7875 "Keyboard overlapped message input when replying to long message (can't see what I'm typing)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I always want to see what I'm typing.

### Description

*Type*: Bug

*Summary*: when replying snippet is ~5 rows (max) and you typing a reply in message box - you can't see what you are typing starting from 3d lin on Android (LG V20) and from 8d line on IOS (IPhone 7).
This issue is reproducible on

[2019-04-02 15:08] #7133 closed, assigned to nobody

[2019-04-02 18:24] StatusSceptre commented on #5776
Apologies, working through the flow of doing this on a regular cadence.  Will try and be more responsive with approvals.

[2019-04-03 03:48] brockelmore opened #7881 "Extension issues vs Native Discussion"
# Problem

After having tried to develop an extension, the limitations around event & view data flows are painfully apparent for the developer. This increases the burden for some potentially fantastic additions to the Status ecosystem and leads to degradation of the usefulness of Extensions.

Pain points:
1) Not being able to arbitrarily call events from a view; See the kyber extension example for

[2019-04-03 04:59] oskarth commented on #6939
If it is too large in scope it should probably be broken down into manageable chunks, and then bountied.

[2019-04-03 06:22] mandrigin commented on #7881
@brockelmore I agree that a full-fledged programming language is more convenient.
But how do you protect the users from malicious extensions in that case?

As I understand, one of the ideas of this design was being able to protect users from tracking, stealing data, etc.

cc @corpetty @jeluard

[2019-04-03 06:52] jeluard commented on #7881
As pointed by @mandrigin one of the pillar behind the extensions design is to prevent unexpected runtime behavior. The limited scope of extensions provides this: they can be analyzed dynamically and all details presented to the end user for approval.

Also keep in mind that extensions are alpha (advertised as such) and lack the maturity you might expect from programming environment.

It is certain

[2019-04-03 08:37] jeluard commented on #7860
@kobuta23 Can you post steps to reproduce this?

[2019-04-03 09:51] #7667 closed, assigned to nobody

[2019-04-03 09:54] #7357 closed, assigned to nobody

[2019-04-03 10:46] yenda commented on #3585
@hesterbruikman what are your thought on this one based on your work on semantics? The way I see it deleting a contact would be equivalent to removing it from your group of added users, right now we have `:contact/added` system tag that could be removed but `delete` might not be the best term for that

[2019-04-03 11:28] adambabik opened #7884 "Clock value is from the past"
# Problem

For `#status` chat, I observed a very strange `clock` values for some envelopes from a particular account.

Take a look:
[code]

# Notes

It looks like some old clock value was initially calculated and only later updated to the correct one.

cc @annadanchenko

[2019-04-03 11:41] hesterbruikman commented on #3585
I agree, Delete is not the best term. Deleting a user is simply not possible. Remove from group would be more accurate.

Following the semantics I'm using now in the [owl ](https://uxenzo.com/~status/userandchatmanagement_1.0.0.owl), there would be an additional tag needed to capture the state of someone who is a Trusted user (a.k.a. added).
:contact/assigned
:group/trusted_users

To capture the s

[2019-04-03 11:47] cammellos commented on #7884
@adambabik not sure I read this correctly, but roughly looks correct, your concern is that:

`155426119985601`

is much smaller than

`155614702284313`

?

[2019-04-03 11:50] adambabik commented on #7884
Yeah and the fact that there are other messages sent around the same time
with higher clock value by others.

It might be correct behavior but if so I wonder how the mobile client
handles it.

That person also complained that the order of messages is incorrect for
his/her.

[2019-04-03 11:59] bitsikka commented on #5242
seems related to
https://github.com/status-im/status-react/issues/7863

[2019-04-03 11:59] cammellos commented on #7884
Ok, so in terms of clock values:

We use lamport timestamps for ordering as it's one way to achieve causal ordering.

Basically clock value of a new message is equal to `last-clock-value-in-a-chat + 1`.

If there's no clock value (i.e you never fetched any message from the chat, see those `ping` messages), we initialize that with a `timestamp` (instead of 0), but since it's a logic clock, the actu

[2019-04-03 14:31] hesterbruikman opened #7886 "Update text input field in ENS DApp (component)"
# Problem
[Search for available name] input field in ENS DApp can be improved.

The input field needs to communicate that a name needs to consist of:
- at least 5 characters
- letters and numbers only

# Implementation
The following or a variation of.

- Add label 'Search for available name'
- Add placeholder 'e.g. johndoe66
- A description with above information

Issue requires design input. @and

[2019-04-03 14:32] hesterbruikman commented on #7886
cc @rachelhamlin @jeluard please review if it makes sense to bounty this issue.

[2019-04-03 14:44] errorists commented on #7886
<img width="375" alt="03@2x" src="https://user-images.githubusercontent.com/4932774/55488130-ba444a00-562f-11e9-90cb-d03c8302a76c.png">

[2019-04-03 14:49] jeluard commented on #7886
I believe it does, yes!

ENS DApp source is hosted in a different repo: https://github.com/status-im/ens-usernames
It might be simpler to move the issue there?

[2019-04-03 14:59] hesterbruikman commented on #7886
Good idea, I'll move it there.

And thank you @errorists , that is some lightingspeed design work!
Small note: I don't think spaces are allowed, so maybe just `apocalypse22` or something as placeholder.

[2019-04-03 15:04] annadanchenko opened #7887 "'PIN does not match' error is shown if PIN is correct but card was removed. Can lead to PIN being blocked"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: If correct PIN was entered to sign a transaction but card was removed before action is completed then 'PIN does not match' error is shown. In cas

[2019-04-03 15:24] annadanchenko opened #7890 "'PIN does not match' error instead of 'Wrong card tapped' if use another card while signing transaction"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Wrong error 'PIN does not match' error instead of expected 'Wrong card tapped' is shown if user tries to sign a transaction with another card

##

[2019-04-03 15:36] annadanchenko opened #7891 "App crashes if send transaction from chat signed with keycard"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: App crashes if send transaction from chat:

[code]

#### Expected behavior
[comment]: # (Describe what you expected to happen.)
no crash, transac

[2019-04-03 15:45] churik opened #7892 "Card is not usable after crash on stage "Generating mnemonic phrase" in offline state"
### Description
_Type_: Bug

_Summary_: after crash in offline mode when generating mnemoinc phrase during sign up, I can't find a way to continue - tried with `keycard-cli` and with application - in both cases can't connect to card.

#### Expected behavior
Can continue after go back online

#### Actual behavior
Application is crashed.

After this crash I'm unable to use this card anymore.
If I tr

[2019-04-03 15:53] annadanchenko opened #7893 "Card is not detected if it's next to the phone and was used to launch Status app"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: If Status app is not launched and you put your phone on keycard and does not move them: Status app is launched automatically and let's you to sel

[2019-04-03 15:57] guylouis opened #7894 "After 'Reset card' the user status account is kept on the mobile"
Type of issue: UX

After a successful reset of the card:
- the user is kept logged in his account
- the account still exists on the phone and to log in the user is asked to enter a password

Problem:
- it's confusing for the user to be kept login in his account since he deleted his unique way to login his account (note: except if he has several keycard with the same hd wallet)
- the user has no wa

[2019-04-03 16:06] guylouis opened #7895 "'Reset card' flow - issues with a non continuous long tap"
Reset card flow works perfectly well if keycard remains tapped during the whole flow which is
step 1-  ask the user to tap
step 2- show a warning screen
step 3- ask the pin

If the user does not keep his card hold on to the phone the following can happen
- user is asked to tap his card (step 1)
- user taps but removes the card
- user is prompted the warning screen (step 2)
- user clicks next
- use

[2019-04-03 16:07] churik opened #7896 ""Wrong word" validation message overlaps required word number on "Recovery phrase" step"
### Description

*Type*: Bug
*Summary*: if you enter wrong word while checking your recovery phrase, in order to continue you need to go back to "Your recovery phrase" screen, because word number is overlapped with "Wrong word" validation message

#### Expected behavior
Can see which word is needed

#### Actual behavior
![Monosnap 2019-04-03 18-02-35](https://user-images.githubusercontent.com/4557

[2019-04-03 16:24] annadanchenko opened #7897 "PIN screen is shown if cancel sign message in DApp and switch to Chats tab"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: PIN screen is shown on Chats tab after user returns from PIN screen to sign a message in the DApp and taps on Chats tab

#### Expected behavior
[

[2019-04-03 16:52] annadanchenko opened #7898 "PIN value is shown in confirmation popup after changing PIN"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Remove PIN value (111222 on picture) from confirmation popup shown after user resets his PIN
![Screenshot!UNITO-UNDERSCORE!20190403-171114](https

[2019-04-03 17:14] annadanchenko opened #7899 "No info that card is needed not only to sign tx but also to log in and other typos on Complete screen"
# Problem

After setting up a card (creating PIN, etc) there is Complete screen with text "This card is now essential part your account security. Transactions can't be sent without it"

There are 2.5 issues that need fixes:
1. Add "of", so it says "essential part of your account security"
2. Add extra sentence or rephrase existing one to say that you also need card to log in into the app (not only

[2019-04-03 17:33] annadanchenko opened #7900 "Text overlaps border on keycard setup screens (on steps 1. PIN code, 2. Initialization ... )"
# Problem

On several steps (at least step 1 and 2) for setting up a keycard text on the top overlaps its container. Would expect ... at the end of the text or that it's not visible if goes beyond box border

* Device: real Galaxy S6, Android 6.0.1
* Status version: 0.12.0 apk  http://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190402-123212-80ef5d-pr.apk

![1s](https://user-images.githubus

[2019-04-04 07:55] churik opened #7904 "No dots are shown when entering wrong PIN or PUK code"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: when entering wrong PIN or PUK codes, initially in design validation error is shown under dots (required number of symbols). For there are no dots shown until the user starts typing. It is relevant for all screens where PIN or PUK code is needed (sign in, log in, change pin, reset)

#### Expected behavior
![eexe]

[2019-04-04 08:42] churik opened #7905 "Two names for recovery phrase ("recovery phrase", "mnemonic phrase") are using during setup process"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: it may be confusing for users to see 2 names of the same thing during setup process - after 4 step app says "Next step is generating mnemonic phrase" while next step is "Recovery phrase" in header.
So needs to be chaged in "Card is paired" screen and in "Generating mnemonic phrase" screen to "Recovery phrase" for

[2019-04-04 08:51] annadanchenko opened #7906 "App gets stuck on Hold your card screen if set new PIN after 2 unsuccessful attempts"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Screen "Hold your card" is shown even if card is touching the phone in case user changed PIN after 2 unsuccessful attempts. If move card away and

[2019-04-04 09:08] adambabik commented on #7884
That makes sense, I wanted to confirm that there is no "heuristic" that would try to rearrange messages if any new appear in the chat or something like that. And we don't have any UI that would suggest waiting until the request for message before sending new messages?

This is pretty common case I would say. When working on the console client, it's pretty common to see a few messages out of order

[2019-04-04 09:09] churik commented on #7215
This particular screen should be fixed here (see discussion here: https://github.com/status-im/status-react/pull/7873#issuecomment-479429993)

[2019-04-04 09:13] cammellos commented on #7884
Currently we don't have that, but there's an outstanding PR moving in that direction https://github.com/status-im/status-react/pull/7663 although is only for empty chats.
Also currently we have too much room for messages with high clock value (1 month), and we should shrink that to something more sensible (a day or even less), but we need to wait for #status to normalize first, and possibly use NT

[2019-04-04 09:14] churik commented on #7215
@mandrigin set please size for this one. Thanks!

[2019-04-04 09:32] mandrigin commented on #7215
Done!

Note to the bounty hunters: you only need to fix the dialog that is on the initial screenshot in the issue description.

[2019-04-04 09:57] churik opened #7908 ""Enter pair code" field partially or fully overlapped (depends on text size) by keyboard"
### Description
_Type_: Bug

_Summary_: on "Enter pair code" screen input field partially (with default "Medium" text size) or fully (with "Large" text size) overlapped by keyboard and it is not scrollable.

#### Expected behavior
Can see what I'm typing or can scroll

#### Actual behavior
![](https://user-images.githubusercontent.com/4557972/55547032-c03e3780-56d0-11e9-9514-0b3c78e90173.png)

###

[2019-04-04 10:18] churik opened #7909 ""Invalid card cryptogram" after entering wrong code when pairing card"
### Description
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: after entering wrong pairing code when pairing code instead of validation error "Invalid card cryptogram" is shown and to start again you need manually get back on "Choose an authentication

[2019-04-04 10:34] #7454 closed, assigned to nobody

[2019-04-04 10:36] dmitryn commented on #7897
`enter-pin` screen is part of the `chat-stack`. When you dispatch `:navigate-to :chat-stack`, view-id changes to `:chat-stack`, but then `:screens/on-will-focus :enter-pin` gets dispatched for some reason (which changes view to :enter-pin).

@rasom do you have an idea what's happening? I might be using stack in a wrong way.

[2019-04-04 10:37] dmitryn commented on #7897
Not sure why enter-pin is a part of chat-stack. But the same thing happens when you navigate to wallet-stack (and enter-pin screen needs to be part of the stack) .

[2019-04-04 11:15] dmitryn commented on #7891
I have fix for this one. Waiting for https://github.com/status-im/status-react/pull/7882 to be merged first

[2019-04-04 12:56] churik opened #7911 ""Status-unknown go error" at attempt to log in to account when card is reset"
### Description
_Type_: Bug

_Summary_: when I reset a card, I actually accept the fact that the account will not be useful anymore (or it should be usable?), but it is not handling in app.
I would expect that after I reset card I automatically logged out and redirected to initial screen without any accounts, where I can create new account.
For this:
1) we need explicitly warn users, that account

[2019-04-04 13:11] annadanchenko opened #7912 "Unable to load page if open names.statusnet.eth during chaos unicorn day"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If open names.statusnet.eth with chaos mode on then "unable to load page" error is shown. Part of feedback from @oskarth was "Should get a more

[2019-04-04 13:15] churik opened #7913 "If card has keys on it, there is no way to use it with new device (cannot restore an account with pairing code)"
### Description
_Type_: Bug
_Summary_: when I create account with keycard, there is no way to restore it with pairing code.

#### Expected behavior
can restore account

#### Actual behavior
"This card has already an account on it. If you wish to change it, login first and then reset your card".
So if you don't have card-reader or device with initial install - it is dead end for card.

### Reproduc

[2019-04-04 13:50] cammellos opened #7914 "Messages are marked as not confirmed"
quite a few users have reported

a) Messages marked as not confirmed
b) Messages not being sent
c) Spinner is never removed from messages

This happens in conjunction of 1) Disabling automatic selection 2) Starting stopping the app while requests to the mailserver are happening (i.e Fetch 24 hours).

There are probably a few issues at play here.

[2019-04-04 14:01] annadanchenko opened #7915 "Text for empty chat state is shown upside down and text direction is strange"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: After joining public chat or 1:1 chat its text and icon are shown upside down. Only after sending there at least 1 message the text and icon are

[2019-04-04 14:09] churik commented on #7915
Appeared after merge https://github.com/status-im/status-react/pull/7663, but in last builds https://github.com/status-im/status-react/pull/7663#issuecomment-478569201 they were OK.

[2019-04-04 14:13] bitsikka commented on #7915
on it

[2019-04-04 15:09] annadanchenko commented on #7765
can reproduce same issue if have 2 accounts:
1. 1st account is on Ropsten
2. 2nd account is recovered (thus on Mainnet)

Steps:
1. create account1 and switch to ropsten
2. log out
3. recover account to have second one
4. add someone to contacts of the second account
5. from wallet send a request to the contact (as second account): despite the fact that ETH and SNT are shown as assets and Mainnet i

[2019-04-04 15:13] bitsikka commented on #7915
found possible reason:

It is probably due to the recent migration to RN 0.59.2 which probably does not include this fix
https://github.com/facebook/react-native/commit/198eb0269781803cc16254916b0477916afbcb0e

opting for temporary solution until RN is upgraded again separately.

temp fix coming up

[2019-04-04 15:26] churik opened #7917 "Contacts are not synced between 0.11.0 and current nightly"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: contact list is not synced if one device is using release 0.11.0 and second - current nightly.

#### Expected behavior
 public chats and contact are shown on Device B.
Also group chats and 1-1 chats are synced correctly.

#### Actual behavior
contacts are not synced.

### Reproduction
[comment]: # (Describe how we

[2019-04-04 16:19] mandrigin commented on #7915
@bitsikka what do you think about upgrading RN instead (0.59.2 → 0.59.3), it is just a bugfix release, it shouldn't affect our app much.

[2019-04-04 16:29] bitsikka commented on #7915
agreed - that's a better idea.

[2019-04-04 20:18] bitsikka commented on #7915
- upgrade fixes the problem - tested locally

- cannot send PR to nonexistent branch in `status-im/react-native`

- PR to `status-im/status-react` (with only changes to `package.json.orig`, `yarn.lock`, `Podfile.lock`) depends on PR to `status-im/react-native`

- *These PRs for upgrading RN looks to be better performed internally by a Core dev*

- upgrade also fixes at least one another problem I'

[2019-04-04 23:59] e18r commented on #7598
Hello @hesterbruikman, @rachelhamlin, @StatusSceptre, @churik, Corey and Andy:

Have you got the time to check out my pull request? Here it is in case you missed it: [PR](https://github.com/status-im/status-react/pull/7862)

Please let me know if you encounter anything unusual. Thanks!

[2019-04-05 01:29] rachelhamlin commented on #7598
@e18r thanks for pinging us! Posting in Status, or @corpetty can you review?

[2019-04-05 04:00] bitsikka commented on #7915
cc @rasom
ping @mandrigin

[2019-04-05 04:17] oskarth commented on #6939
@mandrigin @guylouis Can Core or Keycard/Wallet help break this task done a bit into parts that can be bountied out? Some kind of dependency tree or so. E.g. visual screens can easily be done in separation with mocking and flag, and API call for get/post can be done and tested separately, as well as any dependency for this (LES / Infura blockers etc, should point to this specific issue / upstream

[2019-04-05 06:28] mandrigin commented on #7915
@bitsikka I think there is no reason for us to use our own fork or RN at that moment. all the patches we had are already in upstream.
@rasom wdyt?

[2019-04-05 07:27] bitsikka commented on #7915
Makes sense 👍

Meanwhile, testing with mainstream RN
Plus, going to keep some mind on cases/issues discussed in PR for RN upgrade to 0.59.2

[2019-04-05 09:58] bitsikka commented on #7915
no dice
ran into issues with regular RN :(

issues like
[code]

[2019-04-05 12:40] mandrigin commented on #7915
@bitsikka so you don't have this exact issue on the latest develop? because it is for sure doesn't sound  like RN-related to me.

[2019-04-05 12:56] mandrigin commented on #6939
I bet core knows very little about how the tokens are stored...
I know to display a token we should store it's address, number of decimals and some artworks.
Is there anything else we need to support to make it happen? Assuming that the UI to add it already exists and assuming that we don't assist user that much with solving errors.

[2019-04-05 12:57] dmitryn commented on #7911
I agree that after reseting the card and logout, we also need to delete or hide account from the accounts list as it becomes unusable. We don't have account removal at the moment, so maybe we could just hide it from the list not to confuse user.

@guylouis what do you think?

[2019-04-05 13:40] cammellos commented on #7915
@bitsikka that's also in develop, https://github.com/status-im/status-react/issues/7917 has the same logs

It means some code is returning `db` instead of `cofx` somewhere, I can take a look at it on Monday.

[2019-04-05 14:10] guylouis commented on #7911
I agree !

I also opened this issue yesterday about the same problem https://github.com/status-im/status-react/issues/7894

I also think that after card reset we should log out the user from his account, because he can't truly use it for any transactions.

[2019-04-05 14:12] guylouis commented on #6939
@goranjovic can definitely help here

[2019-04-05 14:57] bitsikka commented on #7915
@cammellos my bad.. I know at least one place in the code I wrote where I'm returning db instead of cofx. I'm testing it out and so far it gets rid of that particular error above, but, emits another similar error having to do with wallet. Going to continue hunt down and testing.

Thanks for that insight too - I was baffled by the error but now it makes sense.

[2019-04-05 15:08] #7799 closed, assigned to nobody

[2019-04-05 15:53] corpetty commented on #7863
@goranjovic yes.

[2019-04-05 15:59] StatusSceptre commented on #5242
@mandrigin adding bounty now.

[2019-04-05 17:47] bitsikka commented on #7915
@cammellos, @mandrigin fixed (in PR #7922 as a fix for #7917) the error I mentioned above

So, that error is indeed not concerned with this issue

Hence, no reason so far to not make a PR to upgrade RN to 0.59.3, which will fix this issue

[2019-04-05 17:49] mandrigin commented on #7915
great! ping me when it's ready!

[2019-04-05 19:32] trowacat commented on #7875
I will look into this and see if I am able to help

[2019-04-05 19:58] bitsikka commented on #7915
ping @mandrigin

[2019-04-06 11:35] tbenr commented on #7667
@StatusSceptre ping:)

[2019-04-08 00:58] Shrinks99 opened #7926 "Keyboard doesn't minimize properly on iOS"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to minimize the keyboard by swiping down on the chat portion of the screen so that Status has the same keyboard UX as every other implementation on iOS.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or

[2019-04-08 10:21] churik commented on #7915
@bitsikka thanks for your fix!

There are several issues.

#### 1) No label is shown if you open chat via valid deep link

**Steps:**
- tap on valid deep link (i.e. https://get.status.im/chat/public/coo)
- pay attention to opened chat

**Expected result:** can see icon \ label for empty screen state
**Actual result:**
![photo_2019-04-08 12 07 10](https://user-images.githubusercontent.com/4557972/5

[2019-04-08 11:22] churik opened #7930 "No label is shown for empty chat screen if you open public chat via valid deep link after opening another public chat via deep link"
### Description

*Type*: Bug
*Summary*: can't see label \ icon of public chat when navigating to 2 different chats one by one via deep links.
Introduced by https://github.com/status-im/status-react/issues/7454

#### Expected behavior
Can see chat name / icon

#### Actual behavior
Chat area is empty
![photo_2019-04-08 12 07 10](https://user-images.githubusercontent.com/4557972/55720375-f812eb00-5a0

[2019-04-08 11:38] churik opened #7931 "Text for chat name for empty public chat is not centered if contains > 1 row"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when username contains > 2 rows, username is not centered.

#### Expected behavior
Username is centered

#### Actual behavior
*Android*
<img width="228" alt="dsfdsf" src="https://user-images.githubusercontent.com/4557972/55721139-dd417600-5a02-11e9-9c7e-3b388a91ef5b.png">
*IOS*
<img width="230" alt="fffff" src="ht

[2019-04-08 11:38] churik commented on #7931
@errorists would appreciate if you can provide design feedback. Thanks!

[2019-04-08 11:44] errorists commented on #7931
thanks Chu for tagging me and easy, like you said it should be centred :)

[2019-04-08 11:48] #7915 closed, assigned to nobody

[2019-04-08 13:23] bitsikka opened #7933 "joining public chat with messages throws error"
# Problem

When joining new busy public chat that is sure to have offline messages being fetched from mail-server(not empty after joining), following error is thrown:

[code]

# Implementation

A bug was introduced in #7454 whereby part of event handler behind event `:message/add` is returning db instead of cofx

fix by returning cofx

PR with fix coming up

[2019-04-08 13:31] 0xc1c4da opened #7934 "joining public chat with messages throws error"
# Problem
When joining new busy public chat that is sure to have offline messages being fetched from mail-server(not empty after joining), following error is thrown:

[code]

# Implementation
A bug was introduced in #7454 whereby part of event handler behind event `:message/add` is returning db instead of cofx

fix by returning cofx

PR with fix coming up

[2019-04-08 13:34] churik commented on #7933
@bitsikka I didn't face this error when joining #status (which is most of the busy chats as I know).
Any clues how it can be reproducible and what it depends on (i.e. the number of messages, a message with some content, etc)?

[2019-04-08 13:35] churik commented on #7934
closed as duplicate of #7933

[2019-04-08 13:35] #7934 closed, assigned to nobody

[2019-04-08 13:41] 0xc1c4da commented on #7934
➤ Tetiana Churikova commented:

@bitsikka I didn't face this error when joining #status (which is most of the busy chats as I know).
Any clues how it can be reproducible and what it depends on (i.e. the number of messages, a message with some content, etc)?

[2019-04-08 14:09] churik opened #7935 "Can't see group admin profile from group info view"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to navigate to group admin profile before joining group chat from group info screen.

### Description

*Type*: Bug or Feature?

*Summary*: don't see any reason to block the user from navigating to admin profile from Group view. Now it can be done via system messages or via messages

[2019-04-08 14:14] churik commented on #7917
@yenda would you mind take a look?

[2019-04-08 14:16] errorists commented on #7935
Tapping on any of the group participants (note: not only the picture but the entire width of the list cell) should take you to their respective profile. For admins, there's the additional ••• next to each member for admin-y type controls

[2019-04-08 14:26] bitsikka commented on #7933
@churik it should be any public chat with any number or kind of messages - or basically, it has to be not empty upon joining

Not sure why you are not getting the error but it may be due to few reasons
- I'm encountering the errors in development build where errors of this type manifests in UI
- It is possible I have perhaps slower connection than yours
- perhaps in your case the errors are in the

[2019-04-08 14:32] 0xc1c4da commented on #7934
➤ bitsikka commented:

@churik it should be any public chat with any number or kind of messages - or basically, it has to be not empty upon joining

Not sure why you are not getting the error but it may be due to few reasons

  * I'm encountering the errors in development build where errors of this type manifests in UI
  * It is possible I have perhaps slower connection than yours
  * perhaps in y

[2019-04-08 14:34] churik commented on #7933
@bitsikka you are right, it is not shown in UI. Found this error in logs after joining chat.

[2019-04-08 14:42] 0xc1c4da commented on #7934
➤ Tetiana Churikova commented:

@bitsikka you are right, it is not shown in UI. Found this error in logs after joining chat.

[2019-04-08 14:46] hesterbruikman commented on #7935
Thanks for raising  @churik. For completeness, I want to add that this means we're deciding that info of group members is shared through an invite.

2 questions:
- Is there specific group information, you both would look for? For example, would showing the number of group members in the invite be sufficient? Sounds like we might be missing something in the invite flow if there is an incentive to g

[2019-04-08 16:21] dmitryn commented on #7892
App needs internet to fetch bip39 words list during keycard setup. I will check if we can pre-download that list and put it to app resources.

[2019-04-08 17:27] #4158 closed, assigned to nobody

[2019-04-08 17:27] #7931 closed, assigned to nobody

[2019-04-08 18:17] krisc commented on #5287
@StatusSceptre FYI, the successfully merged PR is this one https://github.com/status-im/status-react/pull/7745

[2019-04-08 19:28] krisc commented on #5654
Is @pbteja1998 still working on this? I might want to take over if not.

[2019-04-08 19:32] krisc commented on #6483
@asemiankevich  Is the reason why this feature isn't present because emoji-only messages are to be displayed as bigger icons and such without the text box? I'm wondering if when this feature is implemented, if it is desired that emojis still be larger and without the text box.

[2019-04-08 19:34] krisc commented on #5217
@StatusSceptre , Is @sandumjacob still working on this?

[2019-04-08 19:35] errorists commented on #7935
Hell yes, it should. I'm still overdue for filing an issue for that, maybe we can make a small bounty?

Hard to say, I'm making an educated guess a current number of members would go appreciated. More evolutionary, we can add optional descriptions for groups that would also be visible in invites.

[2019-04-09 07:11] goranjovic commented on #6939
We already merged the supporting changes some time ago - previously we had hardcoded tokens, now they are subscription driven, which means that now their info can be stored in the database.
I'll put together an itemized list of things to do here. It should give us a clue what can be removed from the minimal PR scope.

[2019-04-09 07:37] mandrigin commented on #6939
@goranjovic thanks!

[2019-04-09 08:02] bitsikka commented on #6850
Probably should've made a separate PR for this particular issue, but, encountering it while working on #7454, whose issues were in a way overlapping with this, was bothersome. So fix for this according to reasoning proposed above, is included in #7454 which is now merged.

https://github.com/status-im/status-react/blob/be2b2a112eda82408fff4a6880732434bc32e858/src/status_im/ui/screens/chat/views.cl

[2019-04-09 10:24] churik commented on #6850
Yeah, it is not, so seems #7454 fixed it.
Thanks @bitsikka !

[2019-04-09 10:24] #6850 closed, assigned to nobody

[2019-04-09 12:16] andmironov opened #7941 "Add extra space for the (+) button on the home screen"
# Problem
Currently the (+) button covers the last item of the recent chats list

# Implementation
Let's add extra 64px to the bottom of the list (the same height as a list item)

![](https://user-images.githubusercontent.com/3115606/55799524-447e2980-5ada-11e9-85d2-5dd0cfc04b9c.png)

[2019-04-09 12:35] andmironov commented on #7697
Hey, is it possible to put the search bar at the top of the recent chats list and "scroll out" the list "scrollTop: -50px" ( 50px is the search bar's height) to keep things simple? So if the user pulls the list down, the search bar will just appear at the top.

[2019-04-09 12:39] andmironov commented on #7697
Here's a very basic demo of what i described above @yenda https://www.dropbox.com/s/vycr23fzuiwc72r/search.mov?dl=0

[2019-04-09 13:42] hesterbruikman commented on #7697
@andmironov I think I see what you mean, so no fancy pull effect, but just another 'listitem' that becomes visible on scroll.

Works for me, although I would be eager to see if we can find someone through a bounty who has a lot of experience with nuanced gesture behaviors in React Native; As it might benefit us elsewhere. How do you feel about trying that route and resorting to the -50px solution

[2019-04-09 13:47] errorists commented on #7697
@hesterbruikman @andmironov that was our intention from the very beginning. The somewhat convoluted animation behaviour is where we arrived by trying to reverse engineer this in React Native. The desired behaviour can be observed in this crude prototype https://framer.cloud/bwcXm/

basically, it puts search at a negative -1 position in the list. I recall Eric wanting to bounty it out so someone el

[2019-04-09 14:00] hesterbruikman commented on #7697
@StatusSceptre how we move this to Gitcoin?:)

Also, would appreciate a ping here if/once setup. Would like to share the bounty more widely as the issue has turned out to be pretty advanced React stuff.

[2019-04-09 14:21] StatusSceptre commented on #7454
@mandrigin is this work finished and ready for payout?

[2019-04-09 14:24] StatusSceptre commented on #4158
@PombeirP is this work completed and ready for payout?

[2019-04-09 14:29] StatusSceptre commented on #7697
Pinging you on Status to discuss bounty details.

[2019-04-09 14:30] Serhy commented on #4158
@StatusSceptre yes, respective PR with a fix has merged. Ready for payout.

[2019-04-09 17:45] annadanchenko commented on #7941
@andmironov should it be mentioned as solution for https://github.com/status-im/status-react/issues/7859 and this one closed?

[2019-04-09 19:32] krisc commented on #5776
pretty much done here https://github.com/status-im/status-react/pull/7880

Just fixing an error check.

[2019-04-10 08:27] mandrigin commented on #6483
@krisc yeah, emoji-only messages should look exactly like they are right now.

[2019-04-10 10:38] #7787 closed, assigned to churik

[2019-04-10 11:38] #7892 closed, assigned to nobody

[2019-04-10 12:20] corpetty opened #7947 "Feature: Blank out app preview screen when switching apps on mobile"
# Feature Request

As a user, I'd like the app preview screen to be blanked out when switching apps.  This would increase my privacy.

As a bonus, I would like this to be a user option, but on by default.

[2019-04-10 13:39] Serhy opened #7948 "Redirect to Chat screen when scan QR code within Dapp"
**_Type_**: Bug

**_Summary_**: User is redirected to Chats screen after QR code scanned within Dapp.
On iOS it ends up on a blank screen so only app restart can help.

#### Expected behavior
User keep staying in Dapp after QR code scanned withing Dapp

#### Actual behavior
User redirected to Chats screen after QR code scanned withing Dapp (Android)

![ioscrahsStatusDapScansQR](https://user-images

[2019-04-10 16:20] krisc commented on #6483
@StatusSceptre  @mandrigin  Okay, I found in the code where long-presses are handled. This should be a quick fix.

[2019-04-10 16:31] guylouis commented on #7786
@goranjovic can you precise in the issue what's the foreseen strategy we plan to follow to fix this ? thanks !

[2019-04-11 07:45] bitsikka commented on #7917
@yenda @cammellos I gave it a shot at https://github.com/bitsikka/status-react/commit/76110b9d60189236dbdbb12398d7a55deb2a83b7 . With regards to syncing contacts only, would that work? 🤔

not making a PR because not sure of the logic and because did not test with 0.11.0 device. Did test it between MacOS latest nightly(A) and iOS-simulator dev build(B) though.

@churik seems like syncing of 1-1 and

[2019-04-11 08:08] cammellos commented on #7917
not in front of the laptop, but does not seem to be what we need. What
looks like is  that in he commit I have sent you before @yenda introduced a
new field for contacts ( system tags) and validate against it (check if
present). Older version don't send this field, so newer versions discard
the message, so the change broke compatibility. Newer version should accept
older version messages and act a

[2019-04-11 08:10] bitsikka opened #7952 "Joining already joined public chat causes never ending "Loading...""
### User Story

As a user when I re-join already active public chat, I do not want to see "Loading..." intro screen.

This is a more relatable description of #7819

#### Expected behavior

Proper intro header of the chat is seen

#### Actual behavior

Intro header of populated chat, or empty chat screen shows never ending "Loading..." intro

### Reproduction

1) Have some public chats - join a new

[2019-04-11 08:19] cammellos commented on #7917
https://github.com/status-im/status-react/blob/b16c224fd5602330e76db0952cdeb7a08e8f0ba4/src/status_im/contact/db.cljs#L31 this field should not be required, if it is, it will break compatibility as older version are not sending it (it was not present before), or alternatively the message should be validated without and a sensible default should be set if not there.

[2019-04-11 08:26] bitsikka commented on #7917
Ah I see, make sense(kind of) now

as a noob, got confused between `system-tags` and `partitioned-topc`

This is a bit beyond contextual knowledge I have gained so far

[2019-04-11 10:39] Serhy opened #7953 "E2E Android nightly/release build is 'Status PR' (im.status.ethereum.pr)"
**_Summary_**: e2e Android builds should have `im.status.ethereum` ID. But they latest nightly creates them with `im.status.ethereum.pr` ID.
Regression from https://github.com/status-im/status-react/pull/7493

#### Expected behavior
Nightly/release Android e2e job creates 'Status' artefact

#### Actual behavior
Nightly/release Android e2e job creates 'Status PR' artefact

[2019-04-11 11:38] churik commented on #7391
Reproduced again on switched 2 accounts after upgrade from 0.11.0 to https://github.com/status-im/status-react/pull/7862 PR build on Android 8.
So login -> logout -> login to another account causes an error.
Logcat: [logcat2.log](https://github.com/status-im/status-react/files/3068386/logcat2.log)

[2019-04-11 11:43] churik commented on #7598
@rachelhamlin not sure what to do with bounty.
https://github.com/status-im/status-react/pull/7862 fixes issue for Android only.
Should I create another one for IOS?

[2019-04-11 12:17] churik commented on #7917
@cammellos are you on it or I should ping @yenda?

[2019-04-11 12:22] cammellos commented on #7917
@churik i can take a look at it, but i won't have time this week for sure

On Thu, Apr 11, 2019, 14:17 Tetiana Churikova <notifications@github.com>
wrote:

[2019-04-11 12:24] andmironov commented on #7941
@annadanchenko yes, thank you!

[2019-04-11 13:45] bitsikka commented on #7917
@cammellos @churik I am taking another crack at it

[2019-04-11 14:35] rachelhamlin commented on #7598
I think that's the best bet @churik.

[2019-04-11 17:35] #7930 closed, assigned to nobody

[2019-04-11 18:50] #7598 closed, assigned to churik, hesterbruikman

[2019-04-11 18:53] mandrigin commented on #6835
@asemiankevich @goranjovic what do you think of making it a reasonable size bounty?

[2019-04-11 18:54] mandrigin commented on #7391
@churik @Serhy what do you think about making it a smaller bounty? `M` or even `S`?

[2019-04-11 18:56] mandrigin commented on #6517
@StatusSceptre any news on approval of this bounty?

[2019-04-11 18:57] mandrigin commented on #7215
@StatusSceptre any news on approval of this bounty?

[2019-04-12 07:56] #7953 closed, assigned to nobody

[2019-04-12 08:33] bitsikka commented on #7917
@cammellos @churik when you have time please take a look

This PR takes care of contacts not syncing as in issue title only

[2019-04-12 08:54] 0xc1c4da opened #7965 "Improve makefile to only make Nix install the bare minimum for intended platform"
[comment]: # (Please replace ... with your information. Remove < and >)
[comment]: # (To auto-close issue on merge, please insert the related issue number after # i.e fixes #566)

### Summary
[comment]: # (Summarise the problem and how the pull request solves it)
This PR allows the Makefile to leverage the target-os argument to only install the packages that are required for what we're building. E

[2019-04-12 09:14] 0xc1c4da commented on #7965
➤ Autobot commented:

Jenkins Builds ❔  Commit  #️⃣  Finished (UTC)  Duration  Platform  Result  ✔️  442ff31d #1 ( https://ci.status.im/job/status-react/job/prs/job/macos/job/PR-7964/1/ )  2019-04-12 09:08:47  ~23 min macos 📦 dmg ( https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-190412-084523-442ff3-pr.dmg )

[2019-04-12 09:21] Serhy commented on #7391
@mandrigin yes, OK for bounty. Just not sure about the complexity of the fix. Similar issue with a crash after logout we fixed in the past by disabling the ability to log out (Disabled 'Log out' and 'Advanced' buttons on profile) until all after-login activities finished (https://github.com/status-im/status-react/pull/7032 and https://github.com/status-im/status-react/pull/7144)

[2019-04-12 12:19] hesterbruikman opened #7968 "Information bottom sheet on Wallet > [Receive]"
# Problem
When people participate in a Status chat, other users can access and view their wallet address.

Wallet address becomes accessible through:

* Profile view
* Command features in chat
* Send transaction > Select recipient
 (regardless of whether the viewing user has been added as a contact.

People are currently not informed that their wallet address is exposed when they participate in a

[2019-04-12 13:24] churik opened #7969 "Tap on "Fetch messages" leads to endless spinner if connection is lost during fetching"
### Description
_Type_: Bug
_Summary_: introduced in https://github.com/status-im/status-react/pull/7919 - decision was to fix it separately. "Fetch messages" still can lead to the endless spinner when the app goes offline-online during fetching.

#### Expected behavior
messages fetched normally

#### Actual behavior
https://user-images.githubusercontent.com/4557972/55971883-9f528500-5c82-11e9-9bd

[2019-04-12 13:33] churik opened #7970 "Beta alert is not shown after upgrading on IOS with enabled "Save password""
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: issue in https://github.com/status-im/status-react/pull/7862 - decided to be fixed separately. So if on 0.11.0 you have "Save password until logout" enabled, after upgrade to current nightly you will not see beta alert (IOS only)

#### Expected behavior
beta alert is shown

#### Actual behavior
no beta alert

###

[2019-04-12 14:03] StatusSceptre commented on #5776
noted, waiting for merge.

[2019-04-12 14:05] StatusSceptre commented on #6483
noted, awaiting merge.

[2019-04-12 14:08] StatusSceptre commented on #5242
Giving @dragosroua this one.  Will switch if it becomes stale.

[2019-04-12 14:15] bitsikka commented on #7969
I may have some context on this one. Will take a look after I see about #7917

[2019-04-12 14:19] dragosroua commented on #5242
On it.

[2019-04-12 15:06] 0xc1c4da commented on #5845
➤ Corey Petty commented:

Is this still needed.  I'm not sure of the current status of this thread.

[2019-04-12 16:57] annadanchenko opened #7972 "Welcome screen and beta warning overlap each other if put app on background after creating account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*:
On some Android devices (Galaxy S6, Android 6.0.1) beta warning popup and Welcome screen are overlapping each other if app was moved to background and back after account is created.

Note: on another real Android device Pixel XL, Android 9 it can't be reproduced
![Screenshot_20190412-183639](https://user-images.gi

[2019-04-12 17:14] Serhy commented on #7972
Hmm, cannot reproduce with Android 6.0.1 Galaxy Note 4 (nightly April 12).
However, unlike to Galaxy S6 (on video in description), I don't have so heavy lags with Status "layers redrawing" when it foregrounds (on video it's noticeable when Status just opened that password+popup appears first and then the bottom sheet Get Started)

Android 8.1 looks OK too.

[2019-04-12 22:55] krisc commented on #5217
@lukaszfryc Is this still relevant? I tried reproducing the bug following the steps, and the text pasted into an external app is black as expected.

[2019-04-13 12:20] bitsikka opened #7974 "upon re-syncing unseen message badges disappear(marked seen) without seeing the new messages"
### User Story
As a user when I hit "Sync all devices" on device A which was already synced with device B, If there are new unseen messages for already synced public chats in both device, I do not want the public chats in device B to be marked as seen.

### Expected behavior
unseen messages in target sync device B are not marked as seen or unseen badges are not affected upon sync

### Actual behav

[2019-04-15 03:26] oskarth commented on #6939
so...what's happening with this @goranjovic?

[2019-04-15 07:27] asemiankevich opened #7975 "Confirm password does not result an alert if passwords do not match"
# Problem

no alert is shown when i enter password confirmation which does not match initial password i entered while creating account from scratch if i enter less than 6 chars

## Steps
1. Open status
2. Tap create new account
3. Enter password and tap next
4. Enter any other numbers in confirmation and tap Next

## Expected result

1. Alert shown that password does not match
2. Next button is no

[2019-04-15 07:58] goranjovic commented on #6939
Apologies for the delays everyone, had my hand full elsewhere.

I expanded the work description to include the itemized scope and removed some high complexity items from it. We can address those in a different issue/bounty when this one is done.

Added:

---

Minimal path

- new screens for custom token entry by address and token details (see designs)
- validation that checks if the address corres

[2019-04-15 08:25] #6483 closed, assigned to nobody

[2019-04-15 08:58] annadanchenko opened #7976 "0.12.0 mobile release"
issue to manage mobile 0.12.0 release

- open issues and PRs for release: https://github.com/status-im/status-react/labels/release
- release notes to be added: https://notes.status.im/mobile-release-notes
- release branch: https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/
- compare 0.11.0 and 0.12.0 branches: https://github.com/status-im/status-react/compare/release/0.11.x.

[2019-04-15 08:59] annadanchenko commented on #7976
Release blockers summary:
1. ~#7917 Contacts are not synced between 0.11.0 and current nightly (fixed, merged)~
2. ~#7948 Redirect to Chat screen when scan QR code within Dapp (pr in testing #8014. (when fixed needs to be cherry picked to 0.12.0) )~ Removed from release
3. ~#7988 Google Play release inaccurate marketing claim (fixed on playstore)~
4. ~#8008 Error "No protocol method IDeref.-deref

[2019-04-15 09:05] #7975 closed, assigned to nobody

[2019-04-15 10:14] oskarth commented on #6939
Thanks @goranjovic, can we please pull those apart into separate issues, where relevant, and create bounties of them? Unless this work is going to start this week.

That's fine

That's fine, you can also inspect actual contract address, optionally add link to etherscan which has basic ad hoc reputation system

[2019-04-15 11:04] goranjovic commented on #6939
@oskarth

Are we ok with having this hidden behind a flag until at least minimum path bounties been fully merged?

[2019-04-15 11:11] Serhy commented on #7454
@StatusSceptre yes, the work was done, we can see it in nightly builds as well. Ready for payout.

[2019-04-15 12:08] oskarth commented on #6939
Yes.

[2019-04-15 12:15] hesterbruikman commented on #7454
@mandrigin given last week's update to the nr of days fetching of public chat messages, this needs a copy update. Shall I created a xs bounty for that or do you know a core contributor that has time for this change?

[2019-04-15 12:18] mandrigin commented on #7454
@hesterbruikman I think it should be done in https://github.com/status-im/status-react/pull/7961

[2019-04-15 12:53] corpetty commented on #5845
@jarradh, Feel like most of those things aren't watched anymore due to mobile-ui update for desktop.  Am I wrong there?

[2019-04-15 13:38] jeluard commented on #7104
@alexanmtz Did you try with recent develop? It should be simpler now

[2019-04-15 14:49] Serhy commented on #6433
Still an issue with 0.11.0 release (and `0.12.0 (2019041502)` nightly).
@mandrigin could we make it a bounty? (`bounty-S` I think)

[2019-04-15 14:53] mandrigin commented on #6433
@Serhy yep, sounds good, let's make it a bounty

[2019-04-15 15:55] e18r commented on #7598
Hi @rachelhamlin, let me know if anything remains to be done. Otherwise please don't forget to make the payment. Thank you!

[2019-04-15 19:32] jeluard commented on #7355
@StatusSceptre Can we approve @tbenr ?

[2019-04-16 02:07] rachelhamlin commented on #7598
I'm sorry about the delay @e18r! I actually don't control the purse strings on gitcoin. @corpetty could you pay this one out for us?

[2019-04-16 03:39] oskarth commented on #5845
The backend key store etc is likely different. I.e. if I get malware, can it steal my keys? These types of threat models are slightly different from Android/iPhone AFAIK. Best to check with Core

[2019-04-16 05:18] bitsikka commented on #7976
@annadanchenko please consider including #7936 and #7820 in this release as they are part of completion of #7454 which this release already includes

[2019-04-16 09:10] alexanmtz commented on #7104
Hello @jeluard , I was stuck on this, I will try again today about the progress

[2019-04-16 10:40] goranjovic opened #7983 "Basic user added ERC-20 support"
# Problem
Currently Status only supports a limited fixed list which is manually maintained by core contributors.
If a user own some tokens which are not on that list, they would not appear in any of the Wallet screens.

The issue is particularly irritating when the user buys unsupported tokens on one of the exchange dapps listed in Status but then never sees them appear under assets.

## Implement

[2019-04-16 11:00] RyRy79261 opened #7984 "window.web3 Undefined"
### User Story

As a developer, I want to follow the [Status Documentation](https://dev.status.im/developer_tools/status_web_api.html) to connect to a dapp-

### Description
*Type*: Bug
*Summary*: window.web3 is undefined, the deprecated `ethereum.enable()`functions

#### Expected behavior

`web3` to be injected into the dapp browsers window variable to provide the dapp with `web3.currentProvider`

[2019-04-16 11:02] RyRy79261 commented on #5791
#7984

Seems to be the same issue

[2019-04-16 11:07] RyRy79261 opened #7985 "EIP 1102 compliance"
### User Story

As a developer, I want to follow the standard specified in the [Status Documentation](https://dev.status.im/developer_tools/status_web_api.html) for requesting account access and connecting to the wallet.

### Description

*Type*: Bug

When running the EIP 1102 function for requesting account access `ethereum.send('eth_requestAccounts')` there is no permission request on Status

*S

[2019-04-16 11:31] flexsurfer commented on #7985
hey @RyRy79261 thanks for the issue, currently EIP still in progress, and you can find here current status implementation https://status.im/developer_tools/access_eth_provider.html , if you want to use latest EIP specification it's available under `ethereumBeta` provider

[2019-04-16 12:15] RyRy79261 commented on #7985
Awesome, thanks @flexsurfer !

[2019-04-16 14:24] tbenr commented on #6573
@StatusSceptre @sandumjacob are you still working on this?

[2019-04-16 15:34] jeluard commented on #7984
Can you clarify `window.web3 is undefined, the deprecated ethereum.enable()functions` ?
Not super clear what you are doing exactly.

The documentation you should follow is [here](https://status.im/developer_tools/access_eth_provider.html)
Note that you can [debug](https://dev.status.im/developer_tools/debug.html) remotely to get a better picture.

[2019-04-16 15:43] #7985 closed, assigned to nobody

[2019-04-16 15:44] jeluard commented on #7984
Is this still relevant now that #7985 has been answered?

[2019-04-16 15:48] harryfei opened #7987 "Can we add cross app communication api for other mobile app?"
### User Story

As a mobile app creater, I want to use Status to sign ETH transactions so that I can write a native mobile dapp.

### Description

*Type*: Feature

*Summary*:

Both iOS and Android have cross app communication mechanism. Can we implement some APIs for other mobile apps to leverage the ETH wallet.
The other app may want to:

* Use the ETH account address as account
* Sign blockchain

[2019-04-16 15:56] annadanchenko commented on #7983
@goranjovic can we add to Acceptance Criteria that token transactions should be shown in Transaction history, please?

[2019-04-16 15:56] flexsurfer commented on #7984
@RyRy79261 I've changed our docs, because if privacy mode is enabled we don't provide web3 provider, but you always can get access to status api with `window.ethereum.status` object
changes in docs https://github.com/status-im/status.im/pull/273/files

[2019-04-16 19:11] #7969 closed, assigned to nobody

[2019-04-16 19:34] #7917 closed, assigned to nobody

[2019-04-16 20:00] rachelhamlin commented on #7886
Thanks for creating this @hesterbruikman. Closing status-react issue.

[2019-04-16 20:00] #7886 closed, assigned to hesterbruikman

[2019-04-16 21:21] e18r commented on #7598
@rachelhamlin thank you so much for your support. Until next time!

[2019-04-17 04:38] oskarth opened #7988 "Google Play release inaccurate marketing claim"
Did anyone notice the app release in Google Play says "Beta Features: Light Client - Status runs a full implementation of Go Ethereum, with the light client and Whisper protocols enabled"? This is just false right now, we don't have light client enabled. It's exactly the type of technical inaccuracy as marketing claim we had on our wall of shame before.

Noticed by going to get.status.im on Androi

[2019-04-17 06:25] oskarth commented on #7976
https://github.com/status-im/status-react/issues/7988

[2019-04-17 06:25] oskarth commented on #7726
This was tracked in Pivotal Tracker etc. Chaos Unicorn Done, see lessons learned post https://our.status.im/chaos-unicorn-day-what-we-learned-by-breaking-status/

Follow ups tracked in retrospective and Wrike. Closing this one.

[2019-04-17 09:09] churik opened #7989 ""Can't find web3 library" at attempt to open simpledapp.eth from DApps list"
### Description
_Type_: Bug

_Summary_: issue is reproducible if try to open DApp `simpledapp.eth` from DApps list - not always from first attempt, but if you try to repeat it twice - three times, it is reproducible.

#### Expected behavior
simpledapp.eth is opened normally

#### Actual behavior
![2019-04-17 11 01 26](https://user-images.githubusercontent.com/4557972/56274999-2af36800-6100-11e9-93

[2019-04-17 09:40] jeluard commented on #7989
@flexsurfer Have you seen that?

[2019-04-17 09:41] flexsurfer opened #7990 "Support for s10 galaxy series"
# Problem

there is no camera on screenshots, in most cases camera cut the UI elements in the toolbar

![image](https://user-images.githubusercontent.com/11790366/56277931-8f64f600-6105-11e9-92f7-6860fb079733.png)
![image](https://user-images.githubusercontent.com/11790366/56277958-9c81e500-6105-11e9-8c18-9fe0d13c2502.png)
![image](https://user-images.githubusercontent.com/11790366/56277983-aa376a

[2019-04-17 09:54] annadanchenko commented on #7988
updated description in PlayStore (for each of 10 translations) by deleting this claim. It says "Updates to your app usually become available on Google Play within a few hours, but may sometimes take longer."
<img width="1074" alt="Screen Shot 2019-04-17 at 12 01 15" src="https://user-images.githubusercontent.com/6584810/56279659-d0aad500-6108-11e9-88cd-9bf7abfc26fd.png">

Will re-check content sho

[2019-04-17 10:25] churik commented on #7933
Checked on Android 8 (joining all type of chats, fetching messages from offline mode) and IOS 11.
No more `console.error` in logs.
One more thank you @bitsikka for noticing and fixing it.
Failed teats are not related to PR, so ready to merge.

[2019-04-17 10:33] churik opened #7991 ""Device2" and "Device1" links are set randomly in TestRail"
On TestRail links to Sauce Labs to `Device1` and `Device2` can be mixed up.

Expected that names are matched links.

Example of test result - https://ethstatus.testrail.net/index.php?/tests/view/583778

![Transaction message is shown in 1x1 chat when sending assets from wallet - TestRail 2019-04-17 11-26-14](https://user-images.githubusercontent.com/4557972/56281443-e91cee80-610c-11e9-8d2a-0f3f0a6

[2019-04-17 10:34] churik commented on #7991
cc @antdanchenko

[2019-04-17 10:47] RyRy79261 commented on #7984
@flexsurfer Thanks!

I've updated the init functions to detect status as initially we were using 'eth_requestAccounts' to unlock. Will add a flow in for Status :)

Detection code:

[code]

[2019-04-17 12:58] bitsikka opened #7992 "new public chat started as a result of clicking a universal link is not synced across paired devices"
# Problem

As a user, when I click on a universal link for a new public chat and join the public chat, I expect the public chat to be created in all my paired devices.

Public chat is not propagated across paired devices.

## Solution

merge PR #7820

[2019-04-17 13:38] StatusSceptre commented on #6505
@goranjovic do you still want a bounty for this?

[2019-04-17 14:29] StatusSceptre commented on #7947
@phitotient, I approved @bitsikka over you based on the description provided.  We are happy to have you work on our bounties, but please inform us on how you plan to tackle the problem so we can make quality decisions on approval.  Thank you!

[2019-04-17 14:31] goranjovic commented on #6505
@StatusSceptre yes, let's do that. Size S seems appropriate

[2019-04-17 14:31] annadanchenko commented on #7976
planned dates are shifted to include some extra features into the 0.12.0 release.

### New dates:
Expected feature freeze date: end of day April 24
Expected release date: April 30

### Old dates (no longer valid):
~Expected feature freeze date: end of day April 17~
~Expected release date: April 23~

[2019-04-17 14:46] StatusSceptre commented on #6505
k

[2019-04-17 14:53] StatusSceptre commented on #6640
Is there a bounty size we'd like to make this?

[2019-04-17 14:54] StatusSceptre commented on #4614
all, do we want to continue and add a bounty to this, or remove it?

[2019-04-17 15:24] StatusSceptre commented on #6996
@nofwayy pinging again.

[2019-04-17 15:25] StatusSceptre commented on #6996
@mandrigin do you have any insight here?

[2019-04-17 15:28] StatusSceptre commented on #7045
@PombeirP can I remove this from bounties, or would you like me to reopen it once again?

[2019-04-17 15:31] StatusSceptre commented on #4606
@PombeirP Cleaning up the bounty tracking board.  Is this still relevant for bounties, and being worked on?  If so, It needs a bounty.

[2019-04-17 15:34] StatusSceptre commented on #3451
@PombeirP and @yenda do we still want this as an open bounty?  It's been 3 months since he relesed himself from it.

[2019-04-17 15:38] StatusSceptre commented on #4391
I've increased the expiry of this bounty.

[2019-04-17 15:39] StatusSceptre commented on #4391
@leonardohof I see you applied for this bounty about a month ago.  Would you still like to work on this?"

[2019-04-17 15:40] hesterbruikman commented on #7171
Can we close this issue as it will be addressed here: https://github.com/status-im/status-react/issues/7715#?

[2019-04-17 15:44] flexsurfer commented on #7989
can't reproduce

[2019-04-17 15:48] mandrigin commented on #6996
@StatusSceptre I think it isn't valid anymore after switching to nix.

[2019-04-17 15:48] #6996 closed, assigned to nobody

[2019-04-17 15:57] guylouis commented on #4614
If the point is about using this private key as the master seed of the HD tree as an alternative to mnemonic, it's more of an onboarding question than a wallet one. My feeling is that we want to make onboarding as simple as possible, and I wouldn't complexify it with another way to import the master seed.

On the other hand, as part fo the multiple account management across status and in the walle

[2019-04-17 15:57] bitsikka commented on #7947
thanks @StatusSceptre for considering me!

starting work on this

[2019-04-17 16:12] hesterbruikman commented on #4184
@guylouis can you add this issue to the Wallet backlog, possibly as a requirement or related to in-app notifications? Original design included reminders: 1) badge on Profile and b) warning in Wallet as soon as you have assets.

Ideally, IMO, we encourage more through in-app notifications that are already on the backlog,

cc @andmironov @errorists

[2019-04-17 16:18] hesterbruikman commented on #7693
@Serhy do you recall if this was with the old or new navigation (without or with DApps)? Looking to see if the issue is still relevant.

[2019-04-17 16:39] StatusSceptre commented on #7105
getting through a lot of backlog where things slipped through the cracks.  All is good here.

[2019-04-17 16:41] StatusSceptre commented on #7104
@jeluard is this no longer a bounty?  It was cancelled previously.  I'd like to remove it from the board if so.

[2019-04-17 16:43] StatusSceptre commented on #7204
@jeluard @krisc is work still being done on this?

[2019-04-17 16:48] StatusSceptre commented on #5217
@lukaszfryc I'd like to either approve a worker for this, or rmove it.  What is the status of this bounty?

[2019-04-17 17:19] mandrigin commented on #5217
@annadanchenko @Serhy can you try to reproduce this one? If it doesn't reproduce anymore — feel free to close it, otherwise ping @StatusSceptre to approve a worker.

[2019-04-17 17:20] mandrigin commented on #4606
@StatusSceptre I think it is still relevant.

[2019-04-17 17:41] sandumjacob commented on #5217
@krisc I copied the address and pasted it into Google Keep and it shows up as white.

[2019-04-17 17:46] mandrigin commented on #5217
So looks like it is still valid

[2019-04-17 17:50] mandrigin commented on #7045
I think let’s close it and come back after push notifications update that is planned for Q2

[2019-04-17 17:56] StatusSceptre commented on #7358
@jeluard @g-laz77 what is the status of this work?

[2019-04-17 17:59] StatusSceptre commented on #7352
@emmaodia @jeluard What is the status of this work, can we expect a WIP or a PR soon?

[2019-04-17 18:02] StatusSceptre commented on #5654
@Serhy, is @pbteja1998 still working on this issue?  I will approve him if so, if not i'll let @krisc start on it.

[2019-04-17 18:04] StatusSceptre commented on #6573
Stopped work from @sandumjacob based on inactivity.  @welsakka, since you applied next do you still want this.  If not, it is open for applications.

[2019-04-17 18:16] StatusSceptre commented on #5217
@sandumjacob has been afk on other bounties.  I would like to know he still wants this bounty before I accept him.

[2019-04-17 18:25] pbteja1998 commented on #5654
@StatusSceptre I have stopped working on this issue through gitcoin more than a week ago.

[2019-04-17 19:06] StatusSceptre commented on #7046
ok, removing the tag, please re-add when you'd like to fund it again.

[2019-04-17 19:07] StatusSceptre commented on #7044
thoughts on pricing?  I'll fund it then.

[2019-04-17 20:09] StatusSceptre commented on #5654
@pbteja1998 thank you for the update, @krisc do you want to pick this up?

[2019-04-18 01:09] rachelhamlin commented on #4614
Ding ding. To that end, not something to bounty right now.

[2019-04-18 07:04] annadanchenko commented on #7988
fixed. if open description in playstore there is no "Light Client - Status runs a full implementation of Go Ethereum, with the light client and Whisper protocols enabled"

![Screenshot_20190418-090137](https://user-images.githubusercontent.com/6584810/56342655-e2e44c00-61b8-11e9-8b04-851cda763cb1.png)

[2019-04-18 07:22] mandrigin commented on #4606
Note to a future bounty hunter:
There are a few things to take into account while doing this bounty:
(1) Previews should be shown un-furled only when sent from contacts
(2) Un-furling should happen on the *sender* side (cc @corpetty, what do you think about it?)
(3) The cookie storage/cookie header should be EMPTY when doing request to unfurl

I think we can add an additional field to a whisper me

[2019-04-18 08:20] asemiankevich commented on #7989
issue is reproducible on android for me this way:

1. open status
2. switch to ropsten
3. open simple dapp (probably will load normally)
4. go back to dapps list and open simple dapp from the list (not from the shortcut) again
5. repeat step 4

basically i am able to repro it without step 5, so second attempt is not successful

[2019-04-18 08:31] asemiankevich opened #7995 "Random redirect (to home or wallet screens) when scanning extension QR code"
# Problem

User is redirected to Home screen right after scanning extension qr code, which does not allow him to actually press the Install button

# Steps
1. open status
2. enable dev mode -> extensions
3. tap Scan button and scan any extension QR (for ex https://get.status.im/extension/ipfs@Qmb1B3jXNdc9WZCcWFzpkTXtrurnKxYQFvUDhp2J4SVCCX)

Please check the video attached
https://drive.google.com/

[2019-04-18 09:18] Serhy opened #7996 "Endless loading indicator on Dapp view after opening universal link from within Dapp"
***Type*:** Bug

**_Summary_**: When universal link (to public chat/contact profile) is opened from Dapp (or webpage) user is redirected to respective view (public chat view / user profile view) as expected. However, navigating back to Dapp screen - at the same time we load the universal link page (with 'Open in Status' button) which has several consequences:
1) There is endless blue loading indic

[2019-04-18 09:24] bitsikka commented on #7974
Note(for future): Just realized that this, in one case is a feature, not a bug 😅 . Like when one has read all messages in device A and then one re-syncs, one would expect all messages in device B to be marked as read.

However, currently,  we have not explicitly implemented the feature of syncing messages and their read state yet. In this case, it is probably good default to not affect the read st

[2019-04-18 09:27] jeluard commented on #7104
Feel free to remove it.

[2019-04-18 09:34] bitsikka commented on #7996
this part sounds like related to #7952 and if it is, as proposed in 7952, merging #7820 would fix it

[2019-04-18 09:39] Serhy commented on #7996
Yes, thanks @bitsikka that's correct. There is a second public chat join activity happens, so it's #7952

[2019-04-18 10:19] Serhy commented on #7693
@hesterbruikman it was with and without separate DApp screen. In both cases apparently, something happens (requests to etherscan / fiat exchange rate request / redrawing Wallet screen not optimised / etc.) which produces delay upon navigation to main Wallet screen.

Confirmed issue still present in 0.12.0 `(20190418)` develop build.

[2019-04-18 10:27] alexanmtz commented on #7104
Hello @jeluard , I could run the project successfully 🚀 😄

I have the following screen with an input which triggers an error as described here:
![screen-changed](https://user-images.githubusercontent.com/88840/56354970-6875f500-61d5-11e9-8854-9301fc4d5c4e.png)

So this issue is solved and now we need to extend the input to support numerical range in #7105 ?

[2019-04-18 10:44] jeluard commented on #7104
Great news!

But no it’s not fixed. The issue is about implementing this in extensions.
You have more details in the original issue.

[2019-04-18 11:08] Serhy commented on #7995
Looks like this is the same as https://github.com/status-im/status-react/issues/7948
Let's keep both issues open, - I think fix of https://github.com/status-im/status-react/issues/7948 likely will resolve Scan QR code when adding extensions

[2019-04-18 11:34] asemiankevich commented on #7995
oh sorry @Serhy i did not notice this one, my bad!

[2019-04-18 12:41] vkjr opened #7998 "Can't run desktop in dev mode"
# Problem

Whenever I try to run the desktop in dev mode, it says "We are not able to decrypt your data...".  In console there is an error `Could not decrypt database Error: Unable to open a realm at path '/Users/vkjr/work/projects/github/status-im3/status-react/~/status-files/data1 /default.realm/default.realm.management': make_dir() failed: No such file or directory.`

## Acceptance Criteria

No

[2019-04-18 13:53] #6457 closed, assigned to nobody

[2019-04-18 14:10] jeluard commented on #7984
Closing as doc has been updated.

[2019-04-18 14:10] #7984 closed, assigned to nobody

[2019-04-18 15:28] Serhy opened #8001 "DappStore view blinks when deleting item from list of Recent section [Android]"
***Type***: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
***Summary***: When Android user deletes Dapp from Recent section on Dapp screen - DappStore section blinks.
Not bug on iOS.

<img width="328" alt="Screenshot 2019-04-18 at 16 11 13" src="https://user-images.githu

[2019-04-18 15:50] decanus opened #8002 "Different timestamps"
# Problem

The status client currently has 2 different timestamps for specific messages, in the message overview it displays when a message was received (when I last opened status) whereas in the chat it displays when the message was actually sent.

It probably makes more sense to display both as when the message was actually sent.

**Overview**
![IMG_6779](https://user-images.githubusercontent.co

[2019-04-18 16:52] iamonuwa commented on #7983
@gitcoinbot work in progress

[2019-04-18 18:21] corpetty commented on #4606
Going off what he proposes in terms of what to include, I don't see any problem right now with the content (it's what slack does, afterall).

We do need to be cognizant of what the user is sending out in terms of personal information. I'm looking further into it, but start with what @mandrigin mentions.

furthermore, this should be an option for the user.

[2019-04-18 23:03] krisc commented on #7204
I haven't had time to work on this. I can stop work if anyone else would like to take it on.

[2019-04-19 10:02] #7933 closed, assigned to nobody

[2019-04-19 14:46] churik commented on #8002
@decanus
thanks for reporting!
This issue is already reported in https://github.com/status-im/status-react/issues/7270

[2019-04-19 14:46] #8002 closed, assigned to nobody

[2019-04-19 18:36] krisc commented on #5654
@StatusSceptre  Yep, just applied!

[2019-04-21 05:15] bitsikka commented on #7715
@gitcoinbot currently occupied with another bounty, will be on this soon.

[2019-04-21 23:54] Skyge commented on #7215
@StatusSceptre Hi, I am so sorry for replying so late, I have got to do something private suddenly, so I will stop to do this bounty, but I have asked another bro and he will help on the bounty. @iamonuwa

[2019-04-22 02:25] decanus opened #8007 "TouchID Feature Request"
### Description

Instead of having to enter my password manually on my iPhone or Mac, I would like to be able to use TouchID when this technology is available. There is already a TouchID library which may make this implementation easier:
 - https://github.com/naoufal/react-native-touch-id

This could also be useful for signing transactions etc.

[2019-04-22 05:34] oskarth commented on #8007
@mandrigin @StatusSceptre wdyt about a bounty for this one?

[2019-04-22 07:02] tbenr commented on #8007
Is this related to #6573 ?

[2019-04-22 07:55] annadanchenko opened #8008 "Error "No protocol method IDeref.-deref defined for type undefined:" and crash if open DApp permissions"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Error and crash if open DApp permissions
[code]

#### Expected behavior

Dapp permission screen is opened

#### Actual behavior

Error "No proto

[2019-04-22 08:47] asemiankevich opened #8011 "Error 503 when accessing dapps"
# Problem
error 503 when accessing simpledapp.eth or ens dapp

Failed to load resource: the server responded with a status of 503 (Service Unavailable)

ciqne5onq6dbtaqlamhh6yi3bv36o7olkaaucygae5gmdd4boxceyja.infura.status.im/:1

<html><body><h1>503 Service Unavailable</h1>
No server is available to handle this request.
</body></html>

![image](https://user-images.githubusercontent.com/28752642/56

[2019-04-22 08:58] annadanchenko commented on #8011
1. on iOS, with 0.11.0 release, browser privacy mode is ON, Ropsten: I can open Test Dapp fine, address is resolved to https://ciqne5onq6dbtaqlamhh6yi3bv36o7olkaaucygae5gmdd4boxceyja.infura.status.im
2. on iOS, with 0.11.0 release, browser privacy mode is ON, Mainnet: 503 error if open ENS Dapp from profile, address is resolved to https://ciqhjnk4hajetn6bu3slnf5im6e5vzkwv34wlgfncrpgwvlbkwpzcxa.inf

[2019-04-22 09:58] oskarth commented on #8007
Indeed, seems like a dup. Searching for touch ID didn't show that issue, so I added Touch ID to that issue's title. GH still hasn't indexed it though https://github.com/status-im/status-react/search?q=touchid&type=Issues

Can probably close this one?

[2019-04-22 13:03] decanus opened #8013 "Feature Request: Touch Bar Integration"
### Description

Similar to Telegram desktop on Mac, it would be great if status had touch bar integrations. Currently due to the limited options just having an emoji keyboard button would probably suffice. Additionally requesting and sending payments could also be added, later maybe support for stickers.

There are already libraries to get this done in react native:
 - https://github.com/ptmt/rea

[2019-04-22 14:29] churik commented on #7329
For now in current nightly and https://github.com/status-im/status-react/pull/8005 (comment below from https://github.com/status-im/status-react/pull/8005#issuecomment-485409659):

However, it is the same on nightly. And I faced with behavior that sometimes after relogin not all transactions are loaded and only relogin helps to see all token and ETH transactions (video https://take.ms/JLEYs)
These

[2019-04-22 15:01] churik commented on #6835
It is OK for new transactions in https://github.com/status-im/status-react/pull/8005 (last days), but still the case for older transactions.

sometimes it is still reproducible after relogin or just after recover account (can be related to https://github.com/status-im/status-react/issues/7329)

[2019-04-22 19:24] #7998 closed, assigned to nobody

[2019-04-23 02:04] iamonuwa commented on #7983
@gitcoinbot work is in progress

[2019-04-23 06:51] flexsurfer opened #8015 "can't connect to mailserver"
I have this each time i open status desktop, and when i try to quit the app it doesn't quit by itself i have to force quit
https://youtu.be/k6LpYS1GIMU

[Status-debug-logs.zip](https://github.com/status-im/status-react/files/3106168/Status-debug-logs.zip)

[2019-04-23 07:02] mandrigin commented on #8015
A few interesting lines in the logs (at different times):
```t=2019-04-23T08:43:45+0200 lvl=eror msg="Failed handling message with error" package=status-go/services/sshext.PublicAPI err="no payload"```

[code]

[code]

@adambabik @cammellos does that ring a bell to you?

[2019-04-23 07:11] cammellos commented on #8015
[code]
This are not related, should be downgraded to debug (I thought I did, depends on which version of the app they are running)

[2019-04-23 07:12] alexanmtz commented on #7104
I see @jeluard , I'm working on it.

[2019-04-23 07:33] asemiankevich opened #8016 "Status app crashes with some golang errors"
# Problem

1. Status has crashed when i opened a browser tab after network switch
1. Status has crashed after i stayed on home tab for a while after log in (recovered account)
1. Status has crashed when i was entering a name on new account set up

# Steps

1. open status -> create account
1. switch to ropsten
1. open dapp tab and wait for a while

# Device
Huawei P10 Lite, Android 8.0.0, EMUI 8.0.

[2019-04-23 07:39] flexsurfer commented on #8016
from logs, it doesn't seem related to a browser tab, it's a panic in go, but we don't interact with go in browser tab somehow

[2019-04-23 07:40] asemiankevich commented on #8016
thanks Andrey, i am still not clear on the steps, so just added the ones i did

[2019-04-23 07:52] adambabik commented on #8015
Nothing interesting in the first part of logs.
[code]
is from Whisper package and it means that the connection was broken.

Also, how the title of this issues is connected with the description? I see on the video that connection to mail server is pretty unstable but finally it stabilizes. That's the problem?

[2019-04-23 07:53] churik commented on #8016
Can't reproduce on LG V20 (Android 8) - tried ~5 times, waited om browser tab ~3 min.

[2019-04-23 07:54] asemiankevich commented on #8016
@adambabik since it is go related (assuming i am reading logs correctly) - could you please take a look?

[2019-04-23 07:57] flexsurfer commented on #8015
it's really random, it may take a long time to establish a connection in auto mode, but it's not possible to connect in manual mode, before last week it was more stable and fast

[2019-04-23 08:08] jakubgs commented on #8011
OH:
[code]

[2019-04-23 08:21] cammellos commented on #8015
andrey, do you have status logs? they might be more telling

On Tue, Apr 23, 2019, 09:57 Andrey <notifications@github.com> wrote:

[2019-04-23 08:33] jakubgs commented on #8011
Yep:
[code]

[2019-04-23 08:34] jakubgs commented on #8011
We use LetsEncrypt for this cert since CloudFlare doesn't support wildcard certificates of this type, but `certbot` doesn't think the certificate needs a refresh:
[code]
Must be some misconfiguration. Investigating.

[2019-04-23 08:41] jakubgs commented on #8011
Looks expired to me:
[code]

[2019-04-23 08:43] jakubgs commented on #8011
And now it's not:
[code]
And all I did is `systemctl reload nginx` on our proxy host.
So looks like `certbot` did refresh the cert on the 23rd, but failed to make Nginx notice. There are indeed two certificates now:
[code]

Works now:
https://ciqne5onq6dbtaqlamhh6yi3bv36o7olkaaucygae5gmdd4boxceyja.infura.status.im/

[2019-04-23 08:52] jakubgs commented on #8011
According to: https://certbot.eff.org/docs/using.html#renewing-certificates

[code]
But according to this thread one can also use the `--nginx` option:
https://github.com/certbot/certbot/issues/5486
I'm not sure which approach is correct yet.

[2019-04-23 08:55] jakubgs commented on #8011
Ah, since we don't use the `--nginx` option in our initial cert creation the hook is probably the correct way.
Fix: https://github.com/status-im/infra-misc/commit/8ad24657b83deb136e903ab1879f2cf7b9afd00a
I consider this fixed. But I have added myself a calender reminder to check this in before next expiry date.

[2019-04-23 08:57] #8011 closed, assigned to nobody

[2019-04-23 10:09] Skyge commented on #7215
@StatusSceptre This is a specific task for iPhone, but `iamonuwa` does not have the suitable environment, so he can not do this either, so sorry. Maybe someone else will do this task, if no one find this, I will come back after 8 days, by then, I must have solved my private things.

[2019-04-23 10:32] 0xc1c4da commented on #4193
➤ Hester Bruikman commented:

No parsing of messages in the UI. Protocol move to Go. Request only what's seen on screen.  Adam is working on this atm. RPC API.
No fetching messages through Web3 library.
Messages stored in Status Go.

No ETA > Igor Mandrigin can you give a worst case indication?
No Blockers

Next steps
- Structure API for limited activity by Clojure
- Push message events
- New meth

[2019-04-23 10:37] 0xc1c4da commented on #6419
➤ Hester Bruikman commented:

Data sync might improve situation; still inherent to peer-to-peer network.

Can give impression that connectivity is lost even though messages was received, but message order got displaced. How to make sure it's clear that a dated messages is received.

Compare timestamps (local + Whisper timestamp). Define behavior for message based on threshold while preventing 'fak

[2019-04-23 10:42] 0xc1c4da commented on #7693
➤ Hester Bruikman commented:

Wallet requests

Wallet needs loading states to show on navigation.

[2019-04-23 10:52] 0xc1c4da commented on #7714
➤ Hester Bruikman commented:

[2019-04-23 11:02] 0xc1c4da commented on #7436
➤ Hester Bruikman commented:

no signal received that all messages are received;

improve identification of envelops that are relevant
recognize last messages to recipient

Dmitry Shulyak can you give an estimate of when this issue will be merged? This week feasible?

Issue needs:
- documentation Dmitry Shulyak
- Assess required changes React Roman Volosovskyi (likely less than day)

[2019-04-23 11:23] tbenr commented on #6573
@StatusSceptre If @welsakka can't start on this, I can by the end of the week.

[2019-04-23 11:55] #7471 closed, assigned to nobody

[2019-04-23 17:14] welsakka commented on #6573
I am unable due to time constraints, thank you for the opportunity

[2019-04-23 17:34] 0xc1c4da commented on #7436
➤ Dmitry Shulyak commented:

Hester Bruikman there are several possible causes of such issue.
application either:
- can't download all history in allocated time window, and because of it will re-try again and again
- app downloaded all data, but status-go part didn't report that it was downloaded correctly

for the latter we need to update status-go dependency and change how status-react waits for

[2019-04-24 09:17] flexsurfer commented on #8016
@mandrigin could you take a look, please?

[2019-04-24 09:28] flexsurfer opened #8026 "[Wallet] Sign transaction module"
Implement a new module, it should

- [x] get tx data map on input
- [x] show title (1)
- [x] show tx details on the bottom sheet (details should be different for sending eth or calling contract (2))
- [x] it's only possible to change one field -  network fee in this module
- [x] sign with password
- [x] show sent popup

this issue doesn't include:
- USD values (3)  https://github.com/status-im/sta

[2019-04-24 09:51] flexsurfer opened #8027 "[Wallet] Show values in the user's currency"
Currently, the transaction overview shows only the token being transacted. It should also include the user's currency.

[FIGMA LINK](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=3865%3A45)

**Expected behavior**
![image](https://user-images.githubusercontent.com/11790366/56650405-3bb75700-6687-11e9-9bf5-8dbab5de700a.png)

**Actual behavior**
![image](https://user-image

[2019-04-24 09:52] flexsurfer opened #8028 "[Wallet] Epic"
EIPs
- [x] EIP681 https://github.com/status-im/status-react/issues/7325 PR https://github.com/status-im/status-react/pull/8004
- [x] EIP55 https://github.com/status-im/status-react/issues/4959 PR https://github.com/status-im/status-react/pull/8029

Bugs

- [x] No loading indicator if pull to refresh on main Wallet screen [ios only] https://github.com/status-im/status-react/issues/7812

Features
-

[2019-04-24 09:58] #8008 closed, assigned to nobody

[2019-04-24 10:00] #7671 closed, assigned to nobody

[2019-04-24 11:08] Serhy commented on #5967
Can not reproduce with 0.11.0 Release (and 0.12.0 Develop). Happy to close this one!

[2019-04-24 11:08] #5967 closed, assigned to nobody

[2019-04-24 11:08] Serhy commented on #5975
Can not reproduce with 0.11.0 Release (and 0.12.0 Develop). Happy to close this one!

[2019-04-24 11:08] #5975 closed, assigned to nobody

[2019-04-24 13:16] adambabik commented on #8016
Quite interesting. It seems like a bug in github.com/golang/snappy (compression lib) or github.com/ethereum/go-ethereum rlpx implementation. Are we able to reproduce it? @asemiankevich

[2019-04-24 13:28] alexanmtz commented on #7104
Hello @jeluard , I'm having a great progress on this issue and this is a really cool project. I'm still newbie on closure.js, but I can see how the architecture works.

After I changed the code locally and I added the `error` property, I would like to test, and I created an extension like this:

[code]

And locally I activated this extension and I'm not sure if my changes is reflecting on the exte

[2019-04-24 14:48] churik opened #8030 "Contacts that added after initial sync on 0.12.0 are shown in contact list on release 0.11.0, but in fact are not added as contacts"
### Description
*Type*: Bug
*Summary*: guess leftover from https://github.com/status-im/status-react/issues/7917.
If device from current nightly and 0.11.0 are synced and user add contact on current nightly - it will appear in Contact List on 0.11.0, but if you open user profile - it is not added as a contact.

#### Expected behavior
contact A is added as a contact on `device B`

#### Actual behav

[2019-04-24 15:11] jeluard commented on #7104
Sounds like you are doing everything right! If you have the whole status dev flow setup, you should be good.

[2019-04-24 15:31] rachelhamlin opened #8032 "[Onboarding] Update sign-in flow"
### User Story
As an existing user, I want to log into my account or choose from multiple accounts, if I have them.

### Description
_Type_: Feature

_Summary_: Update account sign-in flow according to new [onboarding designs](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702).

#### Expected behavior
The two primary sign-in screens have minor UI adjustments.

![im

[2019-04-24 16:22] bitsikka commented on #7715
@gitcoinbot working on initial PR

[2019-04-24 17:53] #7329 closed, assigned to nobody

[2019-04-25 01:32] #8007 closed, assigned to nobody

[2019-04-25 06:59] #7760 closed, assigned to nobody

[2019-04-25 06:59] #8001 closed, assigned to nobody

[2019-04-25 07:14] annadanchenko commented on #8030
@cammellos @churik added it to release blockers because users do not update desktop so often (so will keep 0.11.0 version or lower) but will update mobile, so for most of them such issue will occur.

[2019-04-25 07:18] annadanchenko commented on #7976
release branch is created https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/

[2019-04-25 08:21] annadanchenko commented on #7976
@jakubgs ios builds are failing in https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/  last 2 ios builds failed with
[code]

https://ci.status.im/job/status-react/job/combined/job/mobile-ios/6111/console

[2019-04-25 08:32] jakubgs commented on #7976
This looks like it might be related to the change of user we use for signing iOS builds from `support@status.im` to `auto@status.im`.

[2019-04-25 08:44] jakubgs commented on #7976
Then again it might not. I'm checking `/Users/jenkins/Library/Logs/gym/StatusIm-StatusIm.log` for errors and I'm not seeing any clear culprit, but it doesn't appear to be signing related.

[2019-04-25 10:45] #8030 closed, assigned to cammellos

[2019-04-25 10:46] mandrigin commented on #7976
@jakubgs there is another issue later in the process, but for that we just need to update Fastlane. Also, the build is in TestFlight anyway.

[2019-04-25 11:12] jakubgs commented on #7976
Fastlane upgrade: https://github.com/status-im/status-react/pull/8040

[2019-04-25 12:47] jakubgs commented on #7976
Looks like first successful build is here:
https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/7/

[2019-04-25 13:40] jeluard commented on #7948
@asemiankevich Actually you can see the behavior I describe in the gif

[2019-04-25 14:22] jakubgs commented on #7976
#8025 has been added by Igor:
https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/8/

[2019-04-25 14:42] rachelhamlin commented on #7995
So is this issue conditional upon user scanning an extension first, or is it 3 separate things that are all  blocked?

1. Can't scan valid extension QR
2. Can't scan valid boot node QR
3. Can't scan valid mail server QR?

The latter two are more important than the first. @jeluard how hard is it to come up with a fix for this, do we know why it's happening?

[2019-04-25 14:58] jeluard commented on #7995
@rachelhamlin I have to look into this, the other similar issue I fixed is not related. It looks like a bad regression indeed.

Can someone clarify if this is only for extensions, as detailed in the description?

[2019-04-25 15:23] richard-ramos opened #8043 "Feature Request: obtain ens username via the Status DApp API"
### Description
Allow dapps to obtain the user's ENS username via the status api:

[code]

[2019-04-25 16:40] Serhy commented on #7995
@jeluard @rachelhamlin sorry for the confusion here

There is the same bug when scanning QR code from any of:
`Profile` -> `Extentions` -> tap `Scan QR code` -> scan valid QR code
`Profile` -> `Bootnodes` ->`+` ->  tap `Scan QR code` -> scan valid QR code
`Profile` -> `Mailserver` ->`+` ->  tap `Scan QR code` -> scan valid QR code

And once QR code value read, - there is a redirect to an unexpecte

[2019-04-25 17:13] Serhy opened #8044 "Redirect to Chats main view happens after QR code scan on 'Add bootnode' or 'Add mailserver' screen"
***Type***: Bug

***Summary***: There is the same bug when contact scans QR code on the `Add bootnode` and `Add mailserver` screens: contact redirected from `Add bootnode` / `Add mailserver` screens.

On iOS its redirect to blank screen.
On Android there is a redirect to Chats/Dapps/Wallet/Profile screens (it depends, apparently, which tab was active prior navigation)

It's noticeable (on Android)

[2019-04-25 17:17] Serhy commented on #7995
Created https://github.com/status-im/status-react/issues/8044 as a separate issue for Bootnodes and Mailserver parts

[2019-04-25 18:11] annadanchenko commented on #7976
@rachelhamlin agree to add https://github.com/status-im/status-react/issues/8044 to the scope?

[2019-04-25 19:10] rachelhamlin commented on #7976
I agree that we should.

On Thu, Apr 25, 2019 at 2:11 PM Anna Danchenko <notifications@github.com>
wrote:

[2019-04-26 01:09] yenda opened #8045 "[TTT] no tribute amount and tribute message after relogin"
# Problem

After a transaction has been paid and user re-login and goes to the chat with the contact he paid tribute to, the value of the tribute and the personalized message are gone.

## Implementation

Currently tribute amount and personalized message are not persisted and just fetched from the manifest which is necessary to make sure it is as up to date as possible. However once the tribute ha

[2019-04-26 01:13] yenda opened #8046 "[TTT] disallow transaction for amount of SNT above user balance"
# Problem

When pressing "Pay to chat" the user is asked to sign a transaction. However he can move forward and send the transaction even though his balance is insufficient, leading to a failed transaction.

The main problem is that the wallet is not managing failed erc20 token transaction very well, because they don't emit logs and may just appear as a regular transaction with 0 eth and some data

[2019-04-26 01:17] yenda opened #8047 "[TTT] Disable TTT when contract is stopped"
# Problem

TTT contract is stoppable, so that when we move to a better version of the feature which for instance allows anonymous payments or escrow instead of direct payment, we don't have version mismatches with older clients.

## Implementation

The current implementation will check if the contract is stopped when the user logs in, if it is, tribute to talk filter will be disabled, user will be

[2019-04-26 03:11] rachelhamlin commented on #8044
@jeluard do you mind taking a look at it while we firm up designs for onboarding?

[2019-04-26 07:18] jeluard commented on #8044
@rachelhamlin Sure!

[2019-04-26 08:07] jeluard commented on #8044
@Serhy Please give #8044 a try. It will help us pinpoint the issue.

[2019-04-26 08:14] churik opened #8049 "Delete options "Fetch 48-60h", "Fetch 84-96h" from release"
With https://github.com/status-im/status-react/pull/8025 accidentally to `release` branch were included options  "Fetch 48-60h", "Fetch 84-96h".
Please remove it and merge this PR to `develop` and to `release` branches

[2019-04-26 09:47] Serhy commented on #8044
https://github.com/status-im/status-react/pull/8048 -> fixes current #8044 and #7995 issue

[2019-04-26 10:56] churik opened #8051 "TypeError (evaluating 'a.replace') when logging out with wallet is on 'Send transaction' screen"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: when user logs out with "Send transaction" screen on Wallet tab - app is crashed.

#### Expected behavior
logged out normally

#### Actual behavi

[2019-04-26 11:07] asemiankevich commented on #8051
@dmitryn could be a regression of recent keycard merges?

[2019-04-26 11:29] weekly-digest[bot] opened #8052 "Weekly Digest (19 April, 2019 - 26 April, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 42 issues were created.
Of these, 20 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #8044 [Redirect to Chats main view happens after QR code scan on 'Add bootnode' or 'Add mailserver' screen  ](https://github.com/status-im/status-rea

[2019-04-26 12:17] asemiankevich commented on #7913
@dmitryn can we rebase ? i think we have the fix for navigation when user is not able to recover account -> redirect to home screen when tapping a card. Should be fixed in another PR i belive

[2019-04-26 12:20] Serhy commented on #7948
Removed the 'release' label (mail server and bootnode parts, as the reason of this issue marked as 0.12.0 release blocker, were fixed separately)
This issue is about QR code scan in Dapps only.

[2019-04-26 12:28] #8044 closed, assigned to nobody

[2019-04-26 12:42] Serhy commented on #7995
https://github.com/status-im/status-react/pull/8048 fixed issue of QR code scan when adding Extension.
Closing this one.

[2019-04-26 12:42] #7995 closed, assigned to nobody

[2019-04-26 12:55] #7890 closed, assigned to nobody

[2019-04-26 12:57] #7908 closed, assigned to nobody

[2019-04-26 12:57] #7909 closed, assigned to nobody

[2019-04-26 13:47] #8051 closed, assigned to nobody

[2019-04-26 14:30] churik commented on #8049
Fixed in https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/10/

[2019-04-26 14:30] #8049 closed, assigned to nobody

[2019-04-26 14:43] yenda opened #8054 "`:network` in app-db isn't always correct"
# Problem

If I create an account, switch to ropsten, then create another account, it will be on mainnet but the `:network` key on app db will still be `testnet_rpc` which is going to lead to a lot of undesirable effects

# Implementation

Set the field with the correct value

[2019-04-26 15:10] Swader commented on #7948
+1

[2019-04-26 15:10] mpetrunic commented on #7948
+1

[2019-04-26 15:22] yenda opened #8056 "[TTT] copy for disabled contract"
# Problem

There is no screen in Figma for what it should look like to the user once TTT is disabled because the contract has been stoped:

We need:
- a warning that is shown to the user explaining that he needs to update status to keep using the feature (can be just a popup with some text)
- either remove the tribute to talk action from profile menu (my prefered option) or show it in red or somet

[2019-04-26 15:33] yenda opened #8057 "[TTT] add version to manifest"
# Problem

Currently the tribute to talk manifest has no versioning.

# Implementation

- add :version 1 to the current :tribute-to-talk map in the manifest
- add a check version = 1 when fetching the manifest of a contact

- show a warning to the user that he can't chat with a contact if the manifest version is above 1 in current release @errorists could you propose something for that?

[2019-04-26 15:55] #8057 closed, assigned to nobody

[2019-04-26 16:32] bitsikka commented on #7947
@gitcoinbot already submitted PR #8009 for main issue. Currently on pause while working on bonus part of the issue due to slowness problems on my workstation/build-system.

[2019-04-26 19:58] alexanmtz commented on #7104
@jeluard I've created the PR https://github.com/status-im/status-react/pull/8061

[2019-04-27 18:49] 0xc1c4da commented on #7436
➤ Hester Bruikman commented:

Dmitry Shulyak apologies for the delay in responding! It would be great if you could describe why we need this flow indeed. Regardless of whether it's user facing. Seems like it impacts performance if this flow is not followed.

I can't imagine this is the first time this sequence is being discussed; so I want to make sure I'm not missing any reasoning. Roman Volosovs

[2019-04-29 07:40] 0xc1c4da commented on #7436
➤ Roman Volosovskyi commented:

We do not wait for an envelope which matches <code>lastEnvelopeHash</code>: we treat the request as completed after <code>mailserver.request.completed</code> signal.

We do not trigger fetching of filters in some special way in the app, it is done by regular polling.

Dmitry Shulyak
- Is it guaranteed that we will receive <code>lastEnvelopeHash</code> message on the

[2019-04-29 08:10] 0xc1c4da commented on #7436
➤ Dmitry Shulyak commented:

then we have another issue. previously signal wasn't sent after all envelopes were added to the filters. so there was always a chance that we will be missing envelopes

i changed that in recent status-go update, signal now is sent after messages were added to filters. but if filters are polled concurrently then we have kinda same issue

no, there is no such guarantee

[2019-04-29 09:05] pedropombeiro commented on #3451
I believe this has since been implemented elsewhere, so we can close the issue.

[2019-04-29 09:23] pedropombeiro commented on #7044
@StatusSceptre not sure I follow, isn't pricing standard? The issue is already marked as M size. at first thought, this should be relatively straightforward for someone familiar with RN and Clojure, but I'm almost sure issues will appear with programmatic requests to scroll the view, hence the M size.

[2019-04-29 09:30] errorists commented on #8056
@yenda I'm a bit out of the context, this all is for a person who had TtT running but the contract was somehow stopped right? so to make sure I get it:
• updating Status will once again make the feature active?
• unless updated, In his own profile he won't be able to access any of the Tribute to Talk settings
• if he opens a chat with a paywalled contact for whom he previously paid, he should be i

[2019-04-29 10:27] churik opened #8064 "Deleted custom mailserver reappears after relogin"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug
_Summary_: when add and delete custom mailserver it reappears after relogin.

#### Expected behavior
don't see deleted mailserver

#### Actual behavior
can see deleted mailserver

### Reproduction

* Open Status
* Go to profile
* Add custom mailserver, i.e. from https://gist.github.com/jacqueswww/3ddfc5ecfa09ecea702744ab15a22

[2019-04-29 11:23] annadanchenko commented on #7976
#8063 added Loading indicator animation with useNativeDriver (build 13)

[2019-04-29 11:40] yenda commented on #8056
This one should be feasible yes
@3esmit could you confirm?

yes the feature should basically disappear from the settings or be shown as permanently disabled (until update)

no only for a new contact that is paywalled

[2019-04-29 12:22] kevinsimper commented on #7983
@iamonuwa Hi Onuwa, did you create a PR for the first commit? 😄

[2019-04-29 12:25] kevinsimper commented on #7983
@goranjovic I think the screens are really nice. Is there a reason why you shouldn't be able to add tokens that you don't own yet?

Where do you define the shorthand for the token? Like if you added manually the Status token and needed to define that it is SNT.

[2019-04-29 12:58] 3esmit commented on #8056
If the contract was stopped it means it cannot change the settings in the contract until the contract is enabled again or a new contract address is defined at client.
In case of disabled contract, the behavior could be:
1. Disable TTT
2. Use last defined setting
3. Use a default value

[2019-04-29 13:10] flexsurfer opened #8066 "[ENS Names] ENS username and name verification screens"
Implement ENS username registration and verification screens

![image](https://user-images.githubusercontent.com/11790366/57460708-eded4200-7275-11e9-8af8-8a12ae69db85.png)

![image](https://user-images.githubusercontent.com/11790366/57460647-cd24ec80-7275-11e9-8c97-aef906aed014.png)

![image](https://user-images.githubusercontent.com/11790366/57460619-baaab300-7275-11e9-9e3c-f69856b1b1e3.png)

cr

[2019-04-29 13:23] flexsurfer opened #8067 "[ENS Names] Use ens username in chat"
Implement ens username settings and show ens names in chats

![image](https://user-images.githubusercontent.com/11790366/56898694-fda8a180-6a91-11e9-96f4-82334ba9bfb3.png)

![image](https://user-images.githubusercontent.com/11790366/56898966-9b03d580-6a92-11e9-8fe9-5b43fb7b49ff.png)

crossed element not in the scope of this PR

Acceptance criteria:

1) pixel perfect
2) it should be possible to sel

[2019-04-29 13:26] flexsurfer opened #8068 "[Profile] Epic"
### Done

- [x] [Bounty] [Profile] Other profile screen UI https://github.com/status-im/status-react/issues/8071
       **Features**: better UX and contacts prompts

- [x] [Profile] My profile edit and share screens https://github.com/status-im/status-react/issues/8069
       **Features**:  name change restriction and better UX

- [x] [Profile] My profile screens reorganisation and items design  h

[2019-04-29 13:34] ghost commented on #7178
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-04-29 13:34] ghost commented on #7176
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-04-29 13:34] ghost commented on #5836
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-04-29 13:34] ghost commented on #5297
This issue has been automatically closed. Please re-open if this issue is important to you.

[2019-04-29 13:34] #7178 closed, assigned to nobody

[2019-04-29 13:34] #5836 closed, assigned to nobody

[2019-04-29 13:34] #7176 closed, assigned to nobody

[2019-04-29 13:56] flexsurfer opened #8069 "[Profile] My profile edit and share screens"
Implement new UI for user name

![image](https://user-images.githubusercontent.com/11790366/60961500-9ec29c80-a30c-11e9-8640-ef974325065b.png)

![image](https://user-images.githubusercontent.com/11790366/60961624-e1847480-a30c-11e9-9f93-4c3a8507d0f5.png)

Implement share icon and screen
![image](https://user-images.githubusercontent.com/11790366/60961543-b732b700-a30c-11e9-87f4-4cd729fb0cb9.png)

[2019-04-29 14:17] errorists commented on #8056
thanks! my take on it,
For points 1 and 2, we show the TtT menu in profile with a red warning and label to update Status and a '!' character in the profile tab badge -> [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=4675%3A147)

For paywalled contacts, point 3, if we're not sure if the sent messages arrive I'd rather disable and hide the input altogether there and block s

[2019-04-29 14:25] flexsurfer opened #8070 "[Profile] My profile screens reorganisation and items design"
Introduce items design and screens organisation
![image](https://user-images.githubusercontent.com/11790366/56901995-aad2e800-6a99-11e9-97dd-c2bbac5930f0.png)

Privacy and security
![image](https://user-images.githubusercontent.com/11790366/56902129-e79edf00-6a99-11e9-8f7d-ee755129b4e1.png)

Need help
![image](https://user-images.githubusercontent.com/11790366/56902258-2fbe0180-6a9a-11e9-9e9c-1562

[2019-04-29 15:07] flexsurfer opened #8071 "[Profile] Other profile screen UI"
![image](https://user-images.githubusercontent.com/11790366/60942166-f697de00-a2e1-11e9-9d78-cedbbb4578b2.png)

![image](https://user-images.githubusercontent.com/11790366/57010380-8c393200-6bfc-11e9-9bc3-25b00f075074.png)

crossed element not in the scope of this PR

Acceptance criteria:

1) pixel perfect
2) new design introduced
3) Profile details introduced
4) prompts introduced

Figma:
https:/

[2019-04-29 15:17] asemiankevich opened #8072 "TypeError: null is not an object (evaluating 'o.cljs$core$IFn$_invoke$arity$1') when deleting group chat"
# Problem
![image](https://user-images.githubusercontent.com/28752642/56906301-9c40fc80-6aaa-11e9-9b6d-7025bf766ab9.png)

## Steps

1. use android and create a group chat with ios
1. as ios accept invitation to group chat
1. as ios tap 3 dots -> group info -> delete chat

NOTE: when doing same on android - it is crashing (no error message, status app is closed).

## Builds
Release candidate 0.9.12

[2019-04-29 15:39] StatusSceptre commented on #5776
@mandrigin can I get an update on this?  It's been a while.

[2019-04-29 15:49] StatusSceptre commented on #7355
Can I get an update on this, do we expect this to merge soon? What is the current state?

[2019-04-29 17:29] bitsikka commented on #7715
@gitcoinbot yes, still working

[2019-04-29 18:36] dmitryn commented on #7896
I suggest to close the issue as this screen will look differently in new onboarding design and should not have this problem as there is enough space to show error tooltip https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=469%3A299

<img width="363" alt="Screenshot 2019-04-29 21 35 38" src="https://user-images.githubusercontent.com/23836/56918472-d3bda200-6ac6-11e9-80af-d49b65c

[2019-04-30 03:28] oskarth opened #8074 "Auto assign reviews to Core"
## Problem
Often PRs don't get picked up by core contributors, and they take a long time to get reviewed. This is especially a problem for non core contributors.

## Context

Aside from https://github.com/status-im/status-react/blob/develop/doc/decisions/0011-tweak-pr-process.md, which mostly helps core contributors who know who to ask, I also set up two teams: #status-core and #status-core-ui. Th

[2019-04-30 04:17] oskarth commented on #8074
Also fyi @annadanchenko

[2019-04-30 05:20] 0xc1c4da commented on #7399
➤ Oskar T commented:

Is this really Eric D? Not Volodymyr Kozieiev?

[2019-04-30 05:47] vkjr commented on #7399
Eric created this long ago as a proposal, so I decided not to create a new github issue for ongoing work since this one already describes the problem.

[2019-04-30 06:44] dshulyak opened #8075 "Integrate status-go API for querying mail servers that allows to skip already received data"
# Problem
In current implementation application will try to fetch same data if request was interrupted due any issues (app closed, connection interrupted).

## Implementation
In https://github.com/status-im/status-go/pull/1446/ new API allows to track timestamp update for each topic and if request was interrupted we will start the next one from the last updated timestamp.

app will have to call `s

[2019-04-30 07:42] goranjovic commented on #7983
@kevinsimper

How do you mean that? You should be able to add any token whether or not you have any balance, as long as it wasn't already added by you or in the default list.

Shorthand symbol, token name and number of decimals defined by the token contract will be used, at least in this iteration. That's why this one is titled "basic" support. Ideally, you should be able to set your own values th

[2019-04-30 08:01] asemiankevich opened #8076 "Can't sync old account on 2 devices"
### Description

Seems there is an issue when syncing same account multiple times. I used my general one to sync , recovered it on 2 devices and i dont see the devices in list to be synced.

#### Expected behavior

I should be able to sync my existing account as many times as i want. If this is not possible - then clearly inform user about the limit.

#### Actual behavior

can't sync account betwe

[2019-04-30 10:03] tbenr commented on #7355
@StatusSceptre from a pure dev perspective, the current state is DONE

[2019-04-30 11:21] churik opened #8080 ""Fetch messages" appear in all 1-1 chats after creating new group chat"
### Description
_Type_: Bug
_Summary_: IMO introduced by https://github.com/status-im/status-react/pull/7997
After creating new group chat "Fetch messages" appears in all 1-1 chats. And if you tap on it in one of the chats - it disappears from others as well.

#### Expected behavior
no "Fetch messages" in 1-1 chat

#### Actual behavior
"Fetch messages" is shown

### Reproduction

* Open Status
* A

[2019-04-30 11:36] dmitryn commented on #7893
I get
[code]
when i try to interact with the keycard that was connected before app was launched.

Let me check keycard java SDK on this error and if such interaction is possible.

[2019-04-30 11:51] flexsurfer opened #8082 "Some dapps don't work in status when privacy mode is enabled"
# Problem

Some dapps don't support EIP 1193, and they just don't work in status when privacy mode is enabled

## Future Steps

Find out how we could inform users about this

[2019-04-30 12:32] asemiankevich commented on #8016
just reproduced it in release candidate 0.9.12 build 13 (android) but without any steps , just opened status and stayed in home screen @adambabik

[2019-04-30 13:23] annadanchenko commented on #7976
moved release date to May 1 to finish final test cycle for build 13.

[2019-04-30 13:26] kevinsimper commented on #7983
@goranjovic Sorry I misread the error and misunderstood it, I didn't understand it as you already had the token on the list. I don't think it needs to be a red error, maybe instead just green or neutral :)

![image](https://user-images.githubusercontent.com/1126497/56964659-ee8e2600-6b5b-11e9-9993-10f9a6604214.png)

[2019-04-30 16:04] yenda commented on #8046
fixed

[2019-04-30 16:04] yenda commented on #8045
fixed

[2019-04-30 16:04] #8045 closed, assigned to nobody

[2019-04-30 16:09] yenda commented on #8056
So current proposal is that when contract is stopped on old client we should:
- block input when not whitelisted? by contact
- show red warning and label on tribute to talk settings (cf figma https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=4671%3A6)

@errorists the problem with your figma design for the chat is that you assume we can know that tribute to talk is enabled, the thing

[2019-04-30 17:30] pedropombeiro commented on #8074
@oskarth can you please clarify the part which you'd like to automate with Probot? Is it the automatic assignment to `#status-core` for PRs from external contributors?

[2019-04-30 19:52] StatusSceptre commented on #5242
@dragosroua what is the status of this bounty.  Please provide an update or I'll have to stop work with you and open it back up.  Thank you.

[2019-04-30 19:53] StatusSceptre commented on #7204
I will stop work on this and open it back up.

[2019-04-30 19:57] StatusSceptre commented on #7105
I've stopped work on this bounty.  Please re-apply if you'd like to work on it @alexanmtz or if you were currently working on it.  You have priority but it's been stale for a while.  We apologize for the lack of response here, the bounty process is getting taken over and getting a more watchful eye.

[2019-04-30 20:01] StatusSceptre commented on #7358
I'm stopping work on this bounty and opening it back up due to inactivity.

[2019-04-30 20:03] StatusSceptre commented on #7352
@jeluard I'm stopping work on this due to inactivity.

[2019-04-30 20:08] StatusSceptre commented on #6573
you've got it @tbenr, let me know if you have changed your mind.

[2019-04-30 20:11] dragosroua commented on #5242
Hi

Sorry for the misunderstanding, I stopped working on this a few days ago, I
thought you got the notification already. I got a notification myself
saying something about the issue being escalated to somebody (not a very
clear message, IMHO) so I inferred I have to step down from it.

Best,
Dragos Roua
------------------
Meet me in one of these places:
http://dragosroua.com
http://21.co/dragosro

[2019-04-30 20:13] StatusSceptre commented on #4614
ok, removing label and wiping off the bounty tracker, add it again if you want it back into consideration.

[2019-04-30 20:15] StatusSceptre commented on #6640
@yenda @churik following up on bounty size and if it is still bounty worthy.

[2019-04-30 20:16] StatusSceptre commented on #7697
@hesterbruikman any movement on the criteria here?   I'm more than happy to discuss.

[2019-04-30 20:19] StatusSceptre commented on #7968
@bitsikka this might be an easy one for you based on previous work.  Thoughts?

[2019-04-30 20:27] StatusSceptre commented on #5242
Thanks for the update!  Hope to see you on around with this and other bounties!

[2019-04-30 20:28] StatusSceptre commented on #5242
@skeptycal are you still wanting to work on this?

[2019-04-30 20:31] StatusSceptre commented on #7355
@tbenr we have a policy to payout on merge or core contributor approval.  While I'm sure your work, based on past experience is sufficient, I'd like to stick to policy.  Hopefully we can get this resolved by tomorrow.

@jeluard thoughts?

[2019-04-30 20:41] StatusSceptre commented on #7044
@PombeirP pricing isn't necessarily standard.  Typically a M bounty can be funded automatically and ranges from 150-400 with most of the time it just being set to 300.  That is quite a range, and should be up to the CC to choose.  These ranges are in flux as we tune the gitcoin bounty process as all work isn't the same.

[2019-04-30 20:59] tbenr commented on #7355
@StatusSceptre sure, no problem at all

[2019-04-30 21:47] yenda commented on #6640
I think this feature is too big for a bounty, it would also require design input before it can be implemented

[2019-05-01 03:08] oskarth commented on #8074
@PombeirP To keep it simple, I'd say auto assign all PRs to status-core. Unless it's very straight forward to filter on non CCs

[2019-05-01 06:47] rasom commented on #8072
@asemiankevich can't be reproduced in `develop` and nightly, probably is fixed some PR with a different objective

[2019-05-01 07:07] asemiankevich commented on #8072
Reproduced as described in nightly https://i.diawi.com/de1gDm iOS.

[2019-05-01 07:15] alexanmtz commented on #7105
@StatusSceptre I'm waiting for #7104. I created the PR #8061. So I'm working on the dependent issue and once is merged then I will work on this

[2019-05-01 07:29] rasom commented on #8072
@asemiankevich either it is device specific or some steps are missed: checked again with https://i.diawi.com/de1gDm and no results

[2019-05-01 07:30] asemiankevich commented on #8072
i could repro it within 2 devices i have.
1. add a contact
2. create a group chat
3. open group chat and tap 3 dots menu
4. tap group info
5. tap delete chat

[2019-05-01 07:42] churik commented on #8080
cc @rasom

[2019-05-01 07:43] rasom commented on #8072
thanks @asemiankevich, I always skipped `group info` step :D will file a fix in 10 mins

[2019-05-01 07:51] errorists opened #8087 "Add 'Drafts' to the Chat Tab"
# Problem

Currently whenever we compose a message and instead of sending it we go back to chats tab, we correctly save whatever we wrote in this chat as a draft. However it's not indicated in the Chats tab, making this actually cool feature go unnoticed and impossible to keep track of.

## Implementation

For each chat with a drafted message, we show a text label in list item preview, simply sayi

[2019-05-01 07:59] errorists commented on #8069
@flexsurfer if you need help visualising the top bar's scroll behaviour or the animation for sharing, this prototype can help 👉 https://framer.cloud/AvjzY/

[2019-05-01 08:25] flexsurfer commented on #8069
nice, thanks!

[2019-05-01 08:47] flexsurfer opened #8088 "[Profile] Other profile nicknames"
Introduce nicknames
![image](https://user-images.githubusercontent.com/11790366/57010687-5006d100-6bfe-11e9-9a51-e8080d9929a7.png)

TBD: nicknames edit screen

crossed element not in the scope of this PR

Acceptance criteria:

1) pixel perfect
2) possible to edit naicknames
3) nicknames are shown in chats

Figma:
https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=510%3A3116

[2019-05-01 08:52] flexsurfer opened #8089 "[Onboarding] Epic"
**In progress**

- [ ] @siphiuel   [**BUG**][Onboarding] Design touch-ups #8551

**Not started**

- [ ] [Onboarding] Integrate fingerprint functionality #8533
- [ ]  [Onboarding] Welcome screens #8135
        Features:  New design and UX

**Postponed**

- [ ] [Onboarding] Store keys with the 6-digit pincode #8535 - **blocked by status-go, work in progress**
        Features:  New design, UX and ne

[2019-05-01 09:17] annadanchenko commented on #7527
can reproduce on release 0.12.0 build 13 both ios and android

[2019-05-01 09:21] yenda opened #8090 "[TTT] Design copy for TTT not available on current network"
# Problem

Currently TTT is only available on mainnet, the TTT setting should reflect that on other networks by either not showing up or showing a warning

[2019-05-01 09:23] iamonuwa commented on #7983
I'll be sending it in

[2019-05-01 09:26] annadanchenko commented on #7527
seems like there is some specific case when it can be reproduced, so assigned to myself to investigate more

[2019-05-01 10:35] errorists commented on #8090
Let's show it disabled with a message like so

<img width="375" alt="Double" src="https://user-images.githubusercontent.com/4932774/57013808-8730ae80-6c0d-11e9-950d-28c35d56297d.png">

https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=4706%3A0

also @yenda if I'm on testnet and hit a paywall myself, I assume we need to communicate it too right?

[2019-05-01 10:59] yenda commented on #8090
What do you mean I don't understand the question

[2019-05-01 11:05] errorists commented on #8090
in the instance of a user not being on mainnet, if he would encounter a new contact with TtT enabled, would he be able to interact and pay the tribute?

[2019-05-01 11:16] yenda commented on #8090
Ttt is per network, so if let's say I'm on mainnet and you are on ropsten,
I have no way to know if you have ttt enabled. That's why swarm feeds will
be much better and reliable.

On Wed, May 1, 2019, 13:05 Maciej Zadykowicz <notifications@github.com>
wrote:

[2019-05-01 12:27] flexsurfer commented on #8082
![image](https://user-images.githubusercontent.com/11790366/57016968-404ab500-6c1d-11e9-9092-2ce47dc0e193.png)

[2019-05-01 12:38] yenda commented on #8090
https://github.com/status-im/status-react/issues/8090#issuecomment-488253204 has been implemented in current ttt-flow draft

[2019-05-01 12:38] #8090 closed, assigned to errorists

[2019-05-01 12:41] yenda commented on #8047
@3esmit since we are going to put this one as a bounty could you explain here how to check if the contract is stopped?

[2019-05-01 13:04] #7819 closed, assigned to nobody

[2019-05-01 13:44] flexsurfer commented on #8082
![image](https://user-images.githubusercontent.com/11790366/57019895-0a5efe00-6c28-11e9-976a-5ab102eb3e91.png)

[2019-05-01 14:40] hesterbruikman commented on #8082
Can't pinpoint why, but it took me a while to process.

@errorists have you considered radiobuttons?

- Allow all DApps Wallet access
- Ask for permission _(some DApps might not work)_

[2019-05-01 14:44] errorists commented on #8082
@hesterbruikman that's good, why isn't it designed like this at the settings level ? :)

[2019-05-01 14:50] hesterbruikman commented on #8082
Good call... I'll at a link to this issue to align when we move focus back to Settings.

[2019-05-01 17:01] annadanchenko opened #8098 "Update Android app icon as PlayStore demands"
# Problem
New app icon specification for Google Play
App icons on Google Play are changing. From June 24, transparent backgrounds will no longer be allowed, and Google Play will dynamically add rounded corners and drop shadows to icons.

Let us know when your icon meets the new specification. If you're not quite ready, you can keep using the old specification for now. We'll automatically scale dow

[2019-05-01 17:29] rasom commented on #7834
not relevant anymore

[2019-05-01 17:29] #7834 closed, assigned to nobody

[2019-05-01 17:41] #8064 closed, assigned to nobody

[2019-05-01 17:43] #7992 closed, assigned to nobody

[2019-05-01 17:44] #7952 closed, assigned to nobody

[2019-05-01 17:44] #7974 closed, assigned to nobody

[2019-05-01 19:05] yenda opened #8102 "[TTT] No limit for number of chars in manifest"
# Problem

A user could set a very large number of characters in his message or a very high snt-amount. Both could cause all sorts of performances issues and even crashes with extreme numbers.

I propose a silent 2k char limit for the message and 100 digits for the snt-amount

@rachelhamlin @errorists

# Implementation

- fetching: before doing anything with the manifest file, count the number of

[2019-05-01 19:25] yenda opened #8103 "[TTT] tribute received"
# Expectation

![Screenshot from 2019-05-01 21-23-17](https://user-images.githubusercontent.com/1181225/57037534-b409b380-6c57-11e9-9958-6cc0aebe46bd.png)

# Actual

![Screenshot_1556738465](https://user-images.githubusercontent.com/1181225/57037516-a8b68800-6c57-11e9-901f-351de6b3cec5.png)

[2019-05-01 19:40] hesterbruikman commented on #8098
@errorists @andmironov

My guess is that we want update this to the circular logo. Right?

[2019-05-01 20:23] yenda commented on #8054
solved

[2019-05-01 20:23] #8054 closed, assigned to nobody

[2019-05-01 20:24] #8046 closed, assigned to nobody

[2019-05-01 21:02] tbenr commented on #6573
@StatusSceptre started working on it

[2019-05-02 04:12] oskarth opened #8104 "bzz://theswarm.eth doesn't work"
# Problem
bzz://theswarm.eth doesn't resolve

# Expected behavior
It resolves, probably using Swarm gateway

OR link to issue on "We don't yet have Swarm support, we'd love to, here's the <GHI> you can follow along"

## Notes
Customer feedback https://www.reddit.com/r/ethereum/comments/bjhptq/status_release_0120_introducing_discover_v1_and/

cc @mandrigin @flexsurfer @yenda @annadanchenko fyi

[2019-05-02 04:32] 3esmit commented on #8047
There is a public boolean named stopped, which, in embark/web3.js, can be accessed by `await MessageTribute.methods.stopped().call();`

This is the corresponding line in the smart contract source:
https://github.com/status-im/contracts/blob/6c854c6a8873b4734c0ba106d807fbdf2ecb6960/contracts/communication/MessageTribute.sol#L14

[2019-05-02 06:10] errorists commented on #8098
It's a bit outdated, this is what Google now calls a 'Legacy Icon', since some time now they've switched to a concept called Adaptive Icons that take different mask shape depending on the manufacturer, it's really cool https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

I'll create assets for one and we can see if it works with RN.

edit: actually I think that's

[2019-05-02 06:31] hesterbruikman commented on #8098
That's pretty cool, especially those visual effects!

[2019-05-02 06:46] errorists commented on #8098
Ok, I've created all of the necessary assets, available here [Dropbox](https://www.dropbox.com/sh/powx7dtzbu62goo/AAC2jeyqVyB846kUs57W-LvAa?dl=0)

It has two layers, foreground and background, together they combine the icon. Best instructions on how to include them in the app, I found over here https://proandroiddev.com/android-adaptive-icons-are-easier-than-you-think-3c66be2dd4dd

[2019-05-02 06:53] flexsurfer commented on #8104
We resolve ens according to EIP 1577 https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1577.md, and `theswarm.eth` doesn't  follow it https://manager.ens.domains/name/theswarm.eth, and also we have a small bug in resolution code which will be addressed here https://github.com/status-im/status-react/pull/8042

[2019-05-02 08:19] #7859 closed, assigned to nobody

[2019-05-02 08:19] churik opened #8105 "No labels for icons are shown on Group Info screen"
### Description
_Type_: Bug
_Summary_: no icons are displayed on "Group Info" screen for group chats

#### Expected behavior
Can see labels for options

#### Actual behavior
![Screenshot!UNITO-UNDERSCORE!2019-05-02-10-14-45](https://user-images.githubusercontent.com/4557972/57063393-60cd4a80-6cc3-11e9-9646-4b03b3e60e68.png)

### Reproduction

* Open Status
* Create account
* Add contact
* Create g

[2019-05-02 08:25] rachelhamlin commented on #8102
I'm on board. But not a release blocker.

[2019-05-02 08:29] yenda commented on #8047
@3esmit thank you! could you deploy a version of the contract that is stopped so that we can make a build that uses it to test this bounty?

[2019-05-02 09:09] #8072 closed, assigned to nobody

[2019-05-02 09:17] churik commented on #8105
@yenda I believe it is regression from TtT Pr, can you please take a look?

[2019-05-02 09:19] yenda commented on #8105
I'm off until Tuesday I assigned @siphiuel

[2019-05-02 09:26] errorists commented on #8102
I'm ok with the welcome message being capped at a reasonable 280 chars and something much smaller for SNT, like 6 digits. We can have twitter style char counters if it helps, but agree, I'm more inclined to ship it and apply lessons learned than getting it perfect on release.

[2019-05-02 11:07] #7848 closed, assigned to nobody

[2019-05-02 11:33] churik opened #8107 "Wallet balance is not updated when transaction is received"
### Description
_Type_: Bug
_Summary_: in current nightly when the transaction is received - wallet balance is not updated after switching to another tab and going back until login / logout. Cause failure of e2e test [test_backup_recovery_phrase_warning_from_wallet](https://ethstatus.testrail.net/index.php?/tests/view/611459)
Introduced by https://github.com/status-im/status-react/pull/8050.

####

[2019-05-02 11:36] churik commented on #8107
@flexsurfer please, take a look when you have a time

[2019-05-02 11:41] pedropombeiro commented on #8074
Auto-assigning to status-core would be straightforward, not sure how much work would be to filter on non-CCs.

[2019-05-02 11:42] churik opened #8108 "Error when open transaction details screen"
### Description
_Type_: Bug
_Summary_: opening transaction details screen from `Transaction history` causes an error.

#### Expected behavior
No error

#### Actual behavior
![photo!UNITO-UNDERSCORE!2019-05-02 13 38 50](https://user-images.githubusercontent.com/4557972/57072916-a26bee80-6cdf-11e9-81b5-86e0a0ab9b42.jpeg)

### Reproduction
[comment]: # (Describe how we can replicate the bug step by s

[2019-05-02 11:50] pedropombeiro commented on #8074
This existing Probot app could be interesting: https://github.com/kentaro-m/auto-assign

[2019-05-02 12:09] errorists commented on #8098
hey @mandrigin who can we ask about including those assets in android resources?

[2019-05-02 12:49] #4959 closed, assigned to nobody

[2019-05-02 14:05] #8080 closed, assigned to nobody

[2019-05-02 16:27] #7948 closed, assigned to nobody

[2019-05-02 16:28] #7355 closed, assigned to nobody

[2019-05-02 17:55] 0xc1c4da opened #8115 "Adopt e2e to new Status.im design"
Fix deep-link e2e tests and opening a link from chat

[2019-05-03 07:41] Serhy commented on #8115
Fixed in https://github.com/status-im/status-react/pull/8114

[2019-05-03 07:41] #8115 closed, assigned to nobody

[2019-05-03 08:01] #7104 closed, assigned to nobody

[2019-05-03 08:21] Serhy opened #8117 "Wrong value in QR code of nightly .apk and diawi links on https://status.im/nightly"
**_Type_**: Bug

**_Summary_**: There is a correct and relevant links to nightly build on status.im/nightly page for buttons `iOS App` and `Android App`, but QR codes below store links to the old nightly builds (~1 month old nightly)

Apparently, issue in https://ci.status.im/job/misc/job/status.im job where we generate QR code.

#### Expected behavior
QR code for nightly Mobile links stores the s

[2019-05-03 09:07] bitsikka commented on #7715
Just barely got my development machine in order after having it being broken more than a week ago

Please bare with me

[2019-05-03 09:08] bitsikka commented on #7688
@hesterbruikman we can close this

[2019-05-03 09:14] Serhy opened #8118 "'Wallet' ->'Receive' -> 'Share' shares not checksummed address"
**_Type_**: Bug

**_Summary_**: EIP-55 has been implemented recently on Send and Receive screens so there is a checksummed address now used.
But when user wants to share the address ('Wallet' ->'Receive' -> 'Share' ) - no checksum applied to address value in that case.

#### Expected behavior
'Wallet' ->'Receive' -> 'Share' shares address with checksum

#### Actual behavior
'Wallet' ->'Receive' ->

[2019-05-03 10:38] churik opened #8121 "Resolved ENS address is not checksummed"
### Description
_Type_: Bug
_Summary_: when pasting valid ENS name as a recipient, get `Error in address: <address>` when tapping on `Done`

#### Expected behavior
address is resolved

#### Actual behavior
![photo!UNITO-UNDERSCORE!2019-05-03 12 34 15](https://user-images.githubusercontent.com/4557972/57132403-cabb2200-6d9f-11e9-8870-6da9e64002be.jpeg)

### Reproduction
[comment]: # (Describe how w

[2019-05-03 10:50] annadanchenko commented on #8108
@flexsurfer @mandrigin can you help to investigate which change causes this issue, please?

[2019-05-03 10:54] mandrigin commented on #8108
@annadanchenko @flexsurfer I can take a look in ~2h, if anyone has time before that feel free to take it over (but ping me here).

[2019-05-03 11:33] churik commented on #8108
Most likely it is introduced by #8050 - checked PRs list for that day when issue was introduced and IMO #8050 or TTT PR can cause it.
Checked both PRs and issue is reproducible only in #8050.

[2019-05-03 11:40] mandrigin commented on #8108
if so, @flexsurfer can you take a look? it would be much easier for you to fix it...

[2019-05-03 12:46] asemiankevich opened #8123 "Fetch more messages before 1 Jan 1970 is shown if message in public chat received before sync is done"
# Problem
If i join a public chat and sync is not yet done and a message is coming at this moment -> then Fetch more messages button suggests me 1 Jan 1970 period for fetching

## Steps

* open status on android
* open status on ios
* as android join public chat test
* as ios join public chat test
* from android send a message to this public chat while ios is still syncing (i used iphone 7)
* pay

[2019-05-03 14:24] asemiankevich commented on #8108
can't reproduce in nightly https://ci.status.im/job/status-react/job/manual/307/console (nightly with new status go on staging fleet)

[2019-05-03 14:34] asemiankevich commented on #8121
i believe it is not wallet problem, since wallet received address resolved from ens usernames contract. We need to update ENS contract here to send checksummed addresses when resolved.
@richard-ramos  please take a look
or @3esmit :)

[2019-05-03 14:44] asemiankevich commented on #7989
can't reproduce anymore, issue is fixed

[2019-05-03 14:45] #7989 closed, assigned to nobody

[2019-05-03 15:08] richard-ramos commented on #8121
Hi @asemiankevich  .
The resolver is working as it should. You can check this on etherscan for the resolver used by status ens domain:
https://etherscan.io/address/0x5ffc014343cd971b7eb70732021e26c35b744cc4#readContract
If you go to the form "4. addr" and paste the value: `0x371decdaf7c88ef7881bcc3ecb2f08e4e9b2436c29b9ace2770ff5f6d90e06a8`  which is the hash representation of `nastya.stateofus.eth

[2019-05-03 15:08] asemiankevich commented on #8121
ah okay then it is still wallet , thank you for clarifying !

[2019-05-03 19:09] kuhnchris commented on #6505
Hmm. As previously seen in the discussion - Price 1 sometimes causes problems aswell - is there any API we could query instead that would give us a "valid 24h gas price" for example, or just a wild guess in the range within the last 24-48h? We could also just set a default value of like... 3-5 gwei, and add a user setting to override a default whenever 0 is returned or the gas service is unreachab

[2019-05-03 20:02] krisc commented on #5776
There are still some issues with the PR. I'll have more time to resolve this after the weekend.

[2019-05-06 06:43] 0xc1c4da commented on #7117
➤ Hester Bruikman commented:

Rachel Hamlin considering this discuss post. Perhaps mentions need to be higher on the priority list. Seems like a first step to #viral #dapp #mentions

https://discuss.status.im/t/friend-to-friend-content-discovery-community-feeds/1212/2

[2019-05-06 08:28] #7898 closed, assigned to nobody

[2019-05-06 09:01] #8118 closed, assigned to nobody

[2019-05-06 09:07] asemiankevich commented on #8016
also, reproduced when staying with camera opened (to scan qr code)

[code]

[2019-05-06 09:19] flexsurfer opened #8130 "[Onboarding] Splash screen"
Implement splash screen for ios and Android

![image](https://user-images.githubusercontent.com/11790366/57216652-bd48a680-6ff0-11e9-90b1-3dee121f6dc9.png)

Figma: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

[2019-05-06 09:24] flexsurfer opened #8131 "[Onboarding] Get started screens"
![image](https://user-images.githubusercontent.com/11790366/57216771-1c0e2000-6ff1-11e9-87ad-c5b0f48fb6f8.png)

**Recovery is not in the scope of this PR**

Acceptance criteria:

1. pixel perfect
1. it's possible to swipe pictures
1. pictures is autoswiped?

Figma: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

[2019-05-06 09:29] flexsurfer opened #8132 "[Onboarding] Generate keys"
![image](https://user-images.githubusercontent.com/11790366/57216975-a3f42a00-6ff1-11e9-942e-0df289e2bd47.png)

![image](https://user-images.githubusercontent.com/11790366/57217022-c71ed980-6ff1-11e9-8997-2646b9e1625b.png)

**status-go issue** https://github.com/status-im/status-go/issues/1456

Acceptance criteria:

1. pixel perfect
1. it's possible to generate accounts
1. choose an account

Figma

[2019-05-06 09:46] flexsurfer opened #8134 "[Onboarding] Select storage and save with password"
![image](https://user-images.githubusercontent.com/11790366/57217928-41e8f400-6ff4-11e9-8cbf-da0b98c566d2.png)

**Keycard is not in the scope of this PR**

Acceptance criteria:

1. pixel perfect
1. it's possible to select device storage
1. store with password

Figma: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

[2019-05-06 09:55] flexsurfer commented on #6573
![image](https://user-images.githubusercontent.com/11790366/57218524-cd16b980-6ff5-11e9-9df5-9a0e1738ce6d.png)

[2019-05-06 11:26] flexsurfer opened #8135 "[Onboarding] Welcome screens"
These screens are displayed to new users after they generate their key.

![image](https://user-images.githubusercontent.com/11790366/64327799-96b17100-cfcc-11e9-94ca-f6c11197ca4c.png)

Acceptance criteria:

1. pixel perfect
1. welcome screen is shown
1. Browse public chats prompt is shown

Figma: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=1669%3A42

[2019-05-06 11:59] flexsurfer opened #8136 "[Onboarding] Recovery"
![image](https://user-images.githubusercontent.com/11790366/57223637-fee44c00-7006-11e9-98f6-7c814de5bbcb.png)

**Pincode not in the scope of this PR**

Acceptance criteria:

1. pixel perfect
1. it's possible to recover account

Figma: https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=927%3A14702

[2019-05-06 13:18] 3esmit commented on #8121
seems like there is an empty space at the beginning?
If all chars are lowercase, or all chars are uppercase, than checksum should not be tested, it should only test the checksum if some are uppercase, and other lowercase.

[2019-05-06 13:21] 3esmit commented on #8047
Yes. I can also stop the current one and reenable it later.

[2019-05-06 13:44] asemiankevich opened #8138 "Wallet address validation error when scanning contact code with 2 cameras opened on 2 tabs"
# Problem

Wallet address validation error is shown in case user has opened cameras on 2 tabs and trying to scan valid contact code

![image](https://user-images.githubusercontent.com/28752642/57229035-d87ddb00-701d-11e9-9779-f84241fb03ce.png)

# Steps

1. open status
2. open wallet - bypass onboarding - send - scan qr
3. tap chat tab -> plus button -> add contact -> scan code
4. scan valid contac

[2019-05-06 13:47] asemiankevich opened #8139 "QR code scanner is overlapped with white background when switching between tabs"
# Problem
White screen is overlapping camera, it is visible on iPhone 7 and less visible on Androids i have (7 and 8)

![image](https://user-images.githubusercontent.com/28752642/57229291-60fc7b80-701e-11e9-804d-91a89527cd6d.png)

## Steps

1. open camera on chat tab (add contact -> scan code)
1. open camera on profile tab (mailserver -> add new -> scan code)
1. open camera on wallet tab (send ->

[2019-05-06 14:28] #7871 closed, assigned to nobody

[2019-05-06 14:28] #8123 closed, assigned to nobody

[2019-05-06 14:46] flexsurfer commented on #8107
@churik are you sure steps are correct? we never had an auto-update for balance

[2019-05-06 15:25] churik commented on #8107
@flexsurfer Yeah, steps are not exact, you are right.
I updated steps.
But anyway I think that we should add an issue that assets are not updated automatically or even on pull-to-refresh, it will be separate issue.

[2019-05-06 17:48] skeptycal commented on #5242
Hi, Sorry for the delay ... I can be working on this if you want. I didn't get a notice ...

[2019-05-06 17:49] krisc commented on #5654
Finally have some time to look at this. @Serhy where can I find that SimpleDapp in Ropsten you refer to in reproducing the issue?

[2019-05-07 01:56] bitsikka commented on #7947
@gitcoinbot making progress on this. Will post update to PR soon.

[2019-05-07 01:57] bitsikka commented on #7715
@gitcoinbot yes, working on it

[2019-05-07 06:59] jakubgs commented on #7976
Shouldn't this be closed? Or will this be also used to track `0.12.1`?

[2019-05-07 07:25] #7976 closed, assigned to nobody

[2019-05-07 09:24] rachelhamlin commented on #7983
Hey there @iamonuwa! Just following up alongside @gitcoinbot to check whether you're still involved here.

[2019-05-07 09:31] GriffGreen opened #8143 "Allow for a time limit to send multiple transactions without having to type in a password multiple times"
# Problem

I have to send multiple transactions all at once and type in my password again and again and again

## Implementation

I dont know if it is possible (or practical), but i would love a feature that would allow me to temporarily unlock my key and send a bunch of txs without having to type in the pw every time...

In my dream situation, i could choose a number of txs AND an amount of time

[2019-05-07 09:38] #1442 closed

[2019-05-07 12:15] flexsurfer commented on #8108
@churik could you try please in this PR https://github.com/status-im/status-react/pull/8140

[2019-05-07 12:58] asemiankevich opened #8144 "Do not validate recovery phrase for keycard until user finishes input"
# Problem

Wrong passphrase tooltip shown when i start typing my recovery phrase even i did not finish entering it

![image](https://user-images.githubusercontent.com/28752642/57300993-a08b9c00-70e0-11e9-93e3-07307b98e8df.png)

## Steps

1. use keycard with account on it or create new one
2. tap I already have account -> keycard
3. enter pairing code
4. enter PIN
5. enter 1 word of recovery phrase

[2019-05-07 13:06] asemiankevich opened #8145 "Rework Pair code to avoid characters that could be mistyped"
# Problem
Pairing code could contain capital [L] and lower case [i] which look identical to the user therefore pairing code could be hard to guess.

![image](https://user-images.githubusercontent.com/28752642/57301523-ee54d400-70e1-11e9-8b69-a279b56fc8e0.png)

## Steps

1. open status
1. tap create new account
1. select keycard
1. hold the card until app generates your keys

## Details
Some doc he

[2019-05-07 13:40] guylouis commented on #8145
@dmitryn since he's the one generating the pairing code

[2019-05-07 15:08] asemiankevich opened #8147 "Improve pairing code UX for incorrect attempts"
# Problem

If wrong pairing code is entered , user is not able to proceed after [Next] button is hit, however the input field is not cleared and red tooltip remains for next attempts which might make user think that next attempts are not being processed by system.

NOTE: if i remove the card and tap it again - field is cleared.

![image](https://user-images.githubusercontent.com/28752642/57310382-

[2019-05-07 16:32] bitgamma commented on #8145
just a note: we can chose to restrict the character set for the password when **generating** it without problems. We can even restrict it to number. However for compatibility with other wallets, which might use arbitrary alphanumeric passwords, we should still allow the user to enter any password when **pairing**

[2019-05-08 08:34] oskarth commented on #7200
@flexsurfer @rachelhamlin I understand this might not be on the critical path. However, it's a much needed feature, so can we bounty it up please?

[2019-05-08 08:37] annadanchenko commented on #7200
@oskarth also see https://github.com/status-im/status-react/issues/7119

[2019-05-08 08:41] oskarth commented on #7119
If it requires design and we don't have resources then we have two options IMO:
1) Make design a bounty
2) Failing that, make bounty to integrate it under dev mode w. flag

[2019-05-08 08:45] rachelhamlin commented on #8028
@flexsurfer @yenda looks like we need an issue for fixing Tx list? https://discuss.status.im/t/proposal-fix-the-transactions-list/1190/12

[2019-05-08 08:48] flexsurfer commented on #8028
@rachelhamlin yes, I'll add soon

[2019-05-08 09:35] jakubgs commented on #8117
Issues about our website should be reported to the site repo: https://github.com/status-im/status.im

I'll take a look at this today.

[2019-05-08 09:55] #8121 closed, assigned to nobody

[2019-05-08 10:04] jakubgs commented on #8117
Fix: https://github.com/status-im/status.im/pull/317

[2019-05-08 10:14] #8117 closed, assigned to nobody

[2019-05-08 10:30] jakubgs commented on #8117
https://dev.status.im/stable/ - looks fixed to me.

[2019-05-08 10:30] jakubgs commented on #8117
Pushed to master.

[2019-05-08 10:33] churik opened #8150 "EIP681 `value`, `chain_id`, `gasLimit` and `gasPrice` are not supported"
### Description

*Type*: Bug
*Summary*: Some of the parameters mentioned in [EIP681 spec](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md) are not supported in Status app.

1)  Links without `function_name` are not resolved, i.e. `ethereum:0xfb6916095ca1df60bb79Ce92ce3ea74c37c5d359?value=2.014e18` so when scanning URL with this link, got an error
<img width="225" alt="Monosnap 2019-05

[2019-05-08 11:35] #7894 closed, assigned to nobody

[2019-05-08 11:35] #7911 closed, assigned to nobody

[2019-05-08 12:44] #7325 closed, assigned to nobody

[2019-05-08 12:45] #8105 closed, assigned to nobody

[2019-05-08 13:02] yenda opened #8151 "Use status-go subscriptions for wallet"
# Problem
As described in https://discuss.status.im/t/proposal-fix-the-transactions-list/1190 the current wallet implementation relies on a loop that pull transaction data from a third party service to fetch the transaction list.

This causes: dependence to a third party service, delays and performance issues.

An overview of the background required to understand the problem.
A problem description

[2019-05-08 13:07] yenda opened #8152 "Persist wallet transactions"
# Problem

Every time users logs in, transactions are fetched again.

## Implementation

- the transactions should be persisted in realm
- remember oldest checked block and query whole history iteratively over time
- remember latest checked block to only query from there

## Acceptance Criteria

- token transactions older than 2 weeks are visible in transaction history
- history is only fetched fo

[2019-05-08 13:10] yenda opened #8153 "[Wallet] Ensure failed token transactions are shown as such"
# Problem

Token transactions can fail when the user doesn't have enough tokens at the moment the transaction is included in the chain. This isn't shown properly especially in the transaction received messages in chat

## Implementation

- if a transaction has 0 eth and some data, we show it as a contract call and try to decode the data in a human readable form
- if a transaction has 0 eth, some d

[2019-05-08 13:11] yenda commented on #8028
@rachelhamlin @flexsurfer I added:
- #8151 Use status-go subscriptions in wallet
- #8152 Persist wallet transaction (includes getting rid of the limited transaction history for tokens)
- #8153 Ensure failed token transactions are shown as such

[2019-05-08 13:15] flexsurfer commented on #8028
Great, thanks @yenda !

[2019-05-08 13:49] annadanchenko opened #8154 "App crashes upon launch on Pixel 3"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: User reports that "I have the latest stable status.im release on google pixel 3 and it crashes immediately on launch"

#### Expected behavior

a

[2019-05-08 14:40] flexsurfer commented on #7983
i'm working on it

[2019-05-08 14:41] #8107 closed, assigned to nobody

[2019-05-08 20:35] asemiankevich opened #8157 "ERROR [status-im.models.transactions:99] - Request for block info failed"
# Problem

Found in https://github.com/status-im/status-react/pull/8112 but was not introduced there

![image](https://user-images.githubusercontent.com/28752642/57406504-97d2bd00-71e9-11e9-87bd-58c2efd39c71.png)

## Steps

Test that has failed https://ethstatus.testrail.net/index.php?/tests/view/635270

## Logs

[code]

[2019-05-08 20:41] yenda commented on #8157
This will be fixed within #8151

[2019-05-08 20:42] asemiankevich commented on #8157
thanks @yenda :)

[2019-05-08 23:59] yenda opened #8159 "Use newBlockFilter signal from status-go"
## Problem

Currently transactions confirmations is updated as part of the transaction fetching loop so it is delayed and based on information provided by a third party

## Rationale

While trivial, this issue will be done first as part of wallet improvement because it is the simplest use case for the newly added status-go subscriptions to eth filters

## Implementation

- Use status-go eth_newBlo

[2019-05-09 08:20] churik opened #8160 ""this.props.onPress is not a function" on tapping back from transaction details screen"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug
_Summary_: when tapping button "Back" on screen "Transaction details" - got an error "this.props.onPress is not a function". User still can navigate back using native keyboard.

#### Expected behavior
no error

#### Actual behavior
![photo!UNITO-UNDERSCORE!2019-05-09 10 17 00](https://user-images.githubusercontent.com/4557972

[2019-05-09 08:45] rachelhamlin commented on #8026
Notes from [8/5/2018 call](https://notes.status.im/035Hrq-DS7uj7VRbwzxkKA?edit):

- Keeping signing phrase, not using emoji guard.
- Overview screen can not be edited by the user in first iteration.
- `Cancel` brings user back to the screen where Tx was initiated: from wallet, to the input fields. From DApp, to the screen that launched Tx. From chat, back to chat.
- Confirmation pop-up appears ove

[2019-05-09 08:55] #8082 closed, assigned to nobody

[2019-05-09 09:00] churik opened #8161 "Sometimes node is stopped on logout events and app crashes with "discovery.stopped" event"
### Description

*Type*: Bug
*Summary*: app can  crash on logout events - i.e. logout, switching on custom  bootnode / network.
I faced with it nearly 5 times during a week on both IOS and Android, but couldn't reproduce consistently.
Issue is different from https://github.com/status-im/status-react/issues/7391, but steps are the same.

**NOTE: can be reproduced when i logged out manually from key

[2019-05-09 09:13] bitsikka commented on #7715
focusing completely on this now, now that another PR that was also being worked on along with this is in ready-to-review state

[2019-05-09 09:38] asemiankevich opened #8162 "[Tests] Dapp permissions tooltip"
Create tests that will cover scenarios for Dapp permission tooltip. Tests should be covered in nightly. Probably not all scenarios should be included.

1. ensure dapp permission tooltip is shown upon launch on Dapps tab
2. ensure you can close the tooltip and it will appear again with next app launch
3. ensure you can click radio buttons
4. ensure that first option prompts the dapp to ask permissi

[2019-05-09 10:03] Serhy commented on #8157
Get this error on the real device with Android 8.1 with nightly build after sending a transaction in DApp -> Sign Tx -> tap 'Done' button.

[2019-05-09 10:11] vkjr opened #8163 "Bad chat performance in mobile UI for desktop"
# Problem

`FlatList` implementation in `react-native-desktop` works slow and makes chat in mobile ui for desktop unusable

## Implementation

As a workaround, until `FlatList` implementation is buggy we can use `ScrollView` component that has optimization on Qt side of `react-native-desktop`

## Acceptance Criteria

User able to scroll chat back and forth without serious lags

[2019-05-09 10:43] annadanchenko commented on #8157
@asemiankevich how often does it happen? is it on both ios and android?

[2019-05-09 10:44] flexsurfer commented on #8157
@yenda do you know the reason of this? can we have a quick temporary fix for this just to unblock autotests?

[2019-05-09 10:47] rachelhamlin commented on #8150
Relabeling this `feature` because it's about completing the implementation of EIP681, not a problem with the portion we have complete.

[2019-05-09 10:52] annadanchenko commented on #8139
best solution would be to make QR scanner as modal (according to @flexsurfer )

[2019-05-09 10:53] annadanchenko commented on #8139
@asemiankevich please, open a separate issue for crash issue

[2019-05-09 10:55] yenda commented on #8157
@flexsurfer I don't think there is a quick fix because I can't reproduce it. My guess is that sometimes get-block-info returns nothing if the block is not found (requested too soon, the node didn't receive it yet). It will be fixed anyway by the end of the day with my token transaction PR which removes it completely

[2019-05-09 10:55] annadanchenko commented on #8138
should be solved after #8139 is solved by making QR scan window modal)

[2019-05-09 10:56] #8138 closed, assigned to nobody

[2019-05-09 10:58] annadanchenko commented on #8104
not our bug

[2019-05-09 11:25] errorists opened #8166 "Fix the margin between the plus button and bottom tab bar"
# Problem
With one of recent PRs that aimed to fix the bottom row of chat list not being tappable we introduced the side effect of the chat's plus button almost touching the bottom tab bar, which is bad :) It was OK when first implemented.

## Implementation
Increase the bottom margin between the tappable and bottom tab bar to 16. When in doubt, here's the [Figma file ](https://www.figma.com/file/

[2019-05-09 11:32] asemiankevich opened #8167 "Crash when switching between tabs with cameras opened (iOS)"
# Problem
When switching between tabs with open cameras I got a crash but can't repro it right now , also it was not crashing on androids, ios (iPhone 7) only. Here is the dump

## Logs

[code]

## Steps

1. open camera on chat tab (add contact -> scan code)
2. open camera on profile tab (mailserver -> add new -> scan code)
3. open camera on wallet tab (send -> scan qr)
4. switch between 3 tabs

[2019-05-09 11:32] asemiankevich commented on #8139
https://github.com/status-im/status-react/issues/8167

[2019-05-09 11:36] annadanchenko commented on #8166
@errorists there is already https://github.com/status-im/status-react/issues/7941
should it end up in 1 issue and other closed?

[2019-05-09 11:39] errorists commented on #8166
Thanks @annadanchenko but correct me if I'm wrong, in the latest nightly, the bug described in the GH issue you just mentioned is already fixed I can tap on the last item on the chat list. However it looks like it did introduce this side effect of plus button being positioned too close to the bottom tab bar, described in this issue.

[2019-05-09 11:42] asemiankevich commented on #8157
i got it once within autotests and i see sergey could repro with dapp. Both cases were seen on androids. I did not hunt for this bug more yet

[2019-05-09 11:42] annadanchenko commented on #8166
@errorists oh, you are right, #7941 is no longer reproducible, so will close it and this one is valid. thanks :)

[2019-05-09 11:44] churik commented on #8108
closed in #8140

[2019-05-09 11:44] #8108 closed, assigned to nobody

[2019-05-09 11:46] annadanchenko commented on #8166
what about design expectation in #7941 "Let's add extra 64px to the bottom of the list (the same height as a list item)" is it same as you propose? @errorists

[2019-05-09 11:47] annadanchenko commented on #7941
can tap on + now, see #8166 for design of + button

[2019-05-09 11:47] #7941 closed, assigned to nobody

[2019-05-09 11:48] errorists commented on #8166
No, it was something @andmironov suggested to mitigate the issue we had where the last item would not be tappable, fixed now. Andrei can you confirm that it's still the desired behaviour, if so I will change the description of this issue.

[2019-05-09 12:03] vkjr opened #8168 "Two-pane Status UI on large screens"
### User Story

As a user, I want to have two-pane UI on large screens (tabletы f.ex.) so that I don't have to spend time navigating back and forth from messages list to chat list.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what act

[2019-05-09 15:54] annadanchenko commented on #7976
Artefacts from https://ci.status.im/job/status-react/job/release/job/release%252F0.12.x/13/ are used for 0.12.0 release

APK: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190429-110727-0ceb4c-release.apk
IOS: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190429-110727-0ceb4c-release.ipa

[2019-05-09 15:58] annadanchenko opened #8173 "0.13.0 mobile release"
issue to manage mobile 0.13.0 release

- open issues and PRs for release: https://github.com/status-im/status-react/labels/release
- release notes to be added: https://notes.status.im/mobile-release-notes
- release branch:  https://ci.status.im/job/status-react/job/release/job/release%252F0.13.x/
- compare 0.12.x and 0.13.0: https://github.com/status-im/status-react/compare/release/0.12.x...releas

[2019-05-09 16:04] annadanchenko commented on #7976
hotfix 0.12.1 was released on May 7 to include https://github.com/status-im/status-react/pull/8018

[2019-05-09 16:35] pedropombeiro commented on #7794
Seems to be working

[2019-05-09 16:35] #7794 closed, assigned to nobody

[2019-05-09 19:10] e18r commented on #4606
Hi, I'll start working on this in a few hours.

[2019-05-10 05:44] oskarth commented on #7948
@Serhy @jeluard did we do some kind of post mortem of this regression (afaict?) and how it was introduced? Would be useful to find the root to ensure it doesn't happen in the future, as this had real world impact on e.g. https://discuss.status.im/t/other-ways-to-obtain-snt/1211/6?u=oskarth

We have a post mortem category on Discuss that'd be useful to use for this.

cc @flexsurfer @rachelhamlin @a

[2019-05-10 06:03] oskarth commented on #8104
If the problem is upstream, can we please be good Ethereum and OSS citizens and open a bug upstream?

[2019-05-10 06:04] oskarth commented on #8104
@mandrigin Don't know how you label upstream bugs, but once we have a corresponding ticket I guess we want to indicate that this is blocked by upstream bug / wontfix etc.

[2019-05-10 06:08] oskarth commented on #8104
I was trying to find upstream but don't know where it is, could open in go-ethereum I guess but probably better place.

@decanus wdyt?

[2019-05-10 07:05] mandrigin commented on #8104
@oskarth I'm a bit out of context here, but why is at an upstream bug? I thought @flexsurfer meant that the domain isn't set up according to standards.

[2019-05-10 07:16] jeluard commented on #7948
This is a regression introduced by recent transition related refactoring AFAIK.

I let @flexsurfer and @annadanchenko dig more and come up with a discuss post

[2019-05-10 08:11] oskarth commented on #8104
The standard is new, and standards are changing. Swarm has existed for longer than that standard. They probably want to support that standard, but someone needs to tell them. This is not just about them but about our users. Swarm is a big Ethereum project and people bump into this in real life and think this is the fault of Status.

If they can't / won't, and we definitely can't resolve it for som

[2019-05-10 08:21] annadanchenko opened #8177 "Android compatibility warnings about unsupported APIs in PlayStore"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: PlayStore has 4 warnings in Android compatibility about unsupported APIs. The following APIs are greylisted and Google can’t guarantee that they

[2019-05-10 08:43] J12B opened #8178 "Can't open newly installed nightly on Mac"
# Problem

Installed the latest nightly (from https://status.im/get/) on my Mac (running Mojava 10.14.4).

Upon installation I tried to open the app but received an error message:

"We were not able to decrypt your data, you might need to create new account and erase your old data by tapping "Apply". Clicking on "Cancel" will try again.

Problem: Clicking "apply" or "apply" has no action - the scr

[2019-05-10 08:55] churik commented on #8178
Question: from which version you are upgraded?

With this error you can't use your dataset - you need to clean all data, reinstall app and restore your account from seed phrase. If you use several devices, you can pair them after installation and restore your contacts / public chats / username / photo.

Steps:
- delete your status app completely form `Applications`
- delete your Status data inside

[2019-05-10 08:58] J12B commented on #8178
Thanks! As far as I can tell, the last nightly I installed was StatusIm-190412-103700-89f34a-nightly. around 12th April. Will take suggested action!

[2019-05-10 09:01] pedropombeiro commented on #8178
For what it's worth, I tried the upgrade on Mojave but it was successful, so at least it doesn't look like a widespread problem.

[2019-05-10 09:12] churik commented on #8178
Yes, I did the same approximately every week, didn't notice the problem as well.

[2019-05-10 10:04] annadanchenko commented on #7988
For some reason, old text is shown again in PlayStore listing for 0.12.1 release

<img width="1558" alt="Screen Shot 2019-05-10 at 12 05 49" src="https://user-images.githubusercontent.com/6584810/57519643-13cd2200-731c-11e9-98b3-2e3eb6ffc06c.png">

[2019-05-10 10:12] J12B commented on #8178
Followed your instructions @churik and I'm back up and now running with the latest nightly. Thanks!

[2019-05-10 10:13] mandrigin commented on #8173
@annadanchenko probably we would want to actually update the release schedule as a part of the release process too.

[2019-05-10 10:15] mandrigin commented on #8104
so that sounds like 2 issues: one is to show a warning that is a part of our UI and another is to ping them?
where do you think is the best place to ask these questions to the Swarm guys and gals?

[2019-05-10 10:16] #8178 closed, assigned to nobody

[2019-05-10 10:20] annadanchenko commented on #7988
updating the description again by removing "Light Client - Status runs a full implementation of Go Ethereum, with the light client and Whisper protocols enabled"

Will monitor it for couple of days and contact customer support if it returns.

[2019-05-10 14:02] guylouis opened #8180 "Keycard users should have a "remember me" feature too"
### Problem

Standard Status users can chose on their login screen a "remember" me option, that allows them to not enter their password/Pin when they next try to login.

With current implementation keycard users don't have this choice, and must always tap their card and enter their PIN to login.

### Desired behaviour

When first login with his keycard, we ask the user if he wants to be remembered

[2019-05-10 14:10] decanus commented on #8104
@oskarth I think its best to find out who owns this name and then update it, I guess we could easily ping the swarm guys.

Depending on what resolver they use, the can still support EIP-1577 and their old resolution

[2019-05-10 14:11] StatusSceptre commented on #7697
@hesterbruikman @andmironov @errorists are we still working on this criteria or is it still wanting to be put up for bounties?

[2019-05-10 14:18] errorists commented on #7697
@StatusSceptre the criteria are visible here -> https://framer.cloud/bwcXm/

to rephrase: we want to put the search bar in the -1 position of the chat list, meaning it's a bit like a basement. you can drag it from under there and tuck it away again. I think we're ready to bounty it up

[2019-05-10 14:19] StatusSceptre commented on #5776
@krisc any update here?

[2019-05-10 14:21] StatusSceptre commented on #7983
@flexsurfer does this mean you're taking over the workload, or working with @iamonuwa?  Please DM us for discussion on this issue.

[2019-05-10 14:33] StatusSceptre commented on #7697
For a bounty this large, there is additional criteria in order for it to be approved, namely a comment with the following:
- Proposed bounty amount
- Estimated time to completion
- Estimated required experience level
- Why we’re outsourcing it

When that happens, I need two more CCs to thumbs up it, and finance to give it a rocket.  it will then be funded.

[2019-05-10 14:36] StatusSceptre commented on #5787
@bryanapinos are you still wanting this bounty.  The previous worker has stopped and did not complete the work?  If so, I'll approve you to start working.

[2019-05-10 19:14] krisc commented on #5776
@StatusSceptre I'm preparing a new PR right now for another issue that might solve this one too.

[2019-05-11 04:17] 0xc1c4da commented on #7729
➤ Rachel Hamlin commented:

Did this come up in context of v1 launch Nabil Naghdy?

[2019-05-11 04:17] 0xc1c4da commented on #7729
➤ Nabil Naghdy commented:

No it didn't. I just moved it, because I was playing around with Wrike :)

[2019-05-11 04:17] 0xc1c4da commented on #7729
➤ Rachel Hamlin commented:

Okay, gotcha!

[2019-05-11 04:17] 0xc1c4da commented on #7729
➤ Nabil Naghdy commented:

Yeah. Feel free to move to a future work folder

[2019-05-11 04:56] #7965 closed, assigned to nobody

[2019-05-11 12:27] #7891 closed, assigned to nobody

[2019-05-11 12:27] #7897 closed, assigned to nobody

[2019-05-11 14:08] asemiankevich opened #8187 "[Keycard] Keyboard is active after logout or change PIN"
# Problem
When logging out from an account which was created with keycard -> keyboard is active, and UI looks messy.

Same issue (active keyboard) appears when changing PIN

![image](https://user-images.githubusercontent.com/28752642/57570843-4146c800-740f-11e9-9dac-0eb8ac1874c7.png)

![image](https://user-images.githubusercontent.com/28752642/57571324-342cd780-7415-11e9-98c9-207c08cdbbd4.png)

##

[2019-05-11 14:16] asemiankevich commented on #8187
@dmitryn probably some leftover of this PIN screen removal, please take a look

[2019-05-11 15:01] asemiankevich opened #8188 "[Keycard] Wrong keycard error shown if quickly tap the card on login flow several times"
# Problem
`Wrong keycard` error shown if quickly tap the card on login flow several times. Confuses user, since the card is valid.

![image](https://user-images.githubusercontent.com/28752642/57571416-8e7a6800-7416-11e9-95b7-83e25d25bab2.png)

## Steps

1. create account with keycard
1. login
1. logout
1. remove the card away from phone and select account to login the one you just created
1. enter

[2019-05-11 15:16] ThePeregrineCo commented on #7983
Following- this is a key feature for my use case. Thx!

[2019-05-11 15:35] asemiankevich opened #8189 "[Keycard] Something went wrong error shown when multitapping card in Unpair card flow"
# Problem
Something went wrong error shown when multitapping card in Unpair card flow

![image](https://user-images.githubusercontent.com/28752642/57571812-545f9500-741b-11e9-903c-76fd42d9abac.png)

## Steps

1. create account with keycard
1. login
1. profile -> keycard -> unpair card
1. confirm the dialog -> enter PIN
1. tap the card quickly several times

## Logs

[code]

[2019-05-11 15:58] asemiankevich opened #8190 "Error: another request with the same topic was sent less than 3s ago"
# Problem

```console.error: "ERROR [status-im.mailserver.core:342] - mailserver: messages request error for topic #{"0xc2b35603" "0xf8946aac" "0x13c27e2d"}: Error: another request with the same topic was sent less than 3s ago. Please wait for a bit longer, or set force to true in request parameters"```

![image](https://user-images.githubusercontent.com/28752642/57572096-c9809980-741e-11e9-9d81-8

[2019-05-11 17:45] tbenr commented on #7204
is this still relevant? @StatusSceptre @jeluard

[2019-05-11 20:05] #7887 closed, assigned to nobody

[2019-05-11 20:05] #7906 closed, assigned to nobody

[2019-05-11 20:10] #7913 closed, assigned to nobody

[2019-05-12 09:20] flexsurfer commented on #8160
we missed this issue here https://github.com/status-im/status-react/pull/8140

[2019-05-12 16:18] alexanmtz commented on #7105
@gitcoinbot I'm working on this issue

[2019-05-12 16:55] bitsikka commented on #7947
@gitcoinbot already submitted PR, waiting for review

[2019-05-12 16:59] bitsikka commented on #7715
@gitcoinbot ran into some more build system hiccups, but making good progress nevertheless. Almost ready with full PR with fleshed out feature.

[2019-05-13 03:07] decanus commented on #6573
Will this work on Macs with touch id support too?

[2019-05-13 05:46] oskarth commented on #7726
@jarradh why did you reopen this issue? For follow ups they have been captured already in separate tasks, retro and Wrike. If we want to have it visible in GH I suggest we make a new meta issue as this is obsolete.

[2019-05-13 05:48] oskarth commented on #8104
Asked here https://gitter.im/ethersphere/orange-lounge?at=5cd9052bbdc3b64fcf39331d

[2019-05-13 06:08] acud commented on #8104
The ENS entry is indeed in the old resolver format. The EIP specified that a transition period should exist while maintaining backwards compatibility and we assume to still be in that transition period (the period length is not mentioned in the EIP). Swarm supports ENS resolution through both the updated EIP resolver _and_ the old resolver.

[2019-05-13 07:53] #8160 closed, assigned to nobody

[2019-05-13 09:07] oskarth commented on #8104
Thanks @justelad! Do you have any idea roughly of how long you currently assume the transition period to be, given that this is currently underspecified? This might inform how much users and dapp browers should rely on this standard being implemented.

@flexsurfer is there any technical reason we wouldn't support the old resolver, given the information provided above?

[2019-05-13 09:18] rachelhamlin commented on #7983
@StatusSceptre taking over workload so we can get this out. Thanks though @iamonuwa for anything you have done!

[2019-05-13 09:21] annadanchenko commented on #8173
agreed with @rachelhamlin to add extra 1 week before release, so more features can be added. Candidates to be added (in progress now):
- Basic ERC-20 support  https://github.com/status-im/status-react/issues/7983
- Sending bug reports with logs to Status email

new release dates:
Expected feature freeze date: May 22, 2019
Expected release date: May 28, 2019

[2019-05-13 09:34] acud commented on #8104
@oskarth I arbitrarily shoot to discontinue the old resolver support later this year, somewhere around July probably. Supporting the old contract right now comes at zero cost from our side so we're also not so pressed to deprecate it.

[2019-05-13 09:52] hesterbruikman commented on #7697
@StatusSceptre @flexsurfer provided an estimate. It's smaller than the original. Will replace the label.
- Proposed bounty amount
_S_
- Estimated time to completion
_?_
- Estimated required experience level
_Experience with React Native animations_
- Why we’re outsourcing it
_More pressing priorities. And leveraging the opportunity to connect with contributors who have experience developing animat

[2019-05-13 10:14] annadanchenko opened #8196 "0.12.2 mobile hotfix release"
issue to manage mobile 0.12.2 hotfix release

- open issues and PRs for release: https://github.com/status-im/status-react/labels/release
- release notes to be added: https://notes.status.im/mobile-release-notes

Hotfix release scope:
- Update client with new status-go v0.25.0-beta.0
- on iOS client change staging to beta fleet
- update beta fleet with status-g0 v0.25.0-beta.0 (cluster is updated

[2019-05-13 10:17] flexsurfer commented on #8104
@oskarth  i'm not sure if there is a standard for the `content` field so we could support it, we supported it for ipfs because there were a few Dapps on ipfs which used ens names and we still maintaining backwards compatibility for the `content` field for ipfs, but EIP says ` This condition MUST be enforced until at least March 31st, 2019.`

[2019-05-13 10:47] flexsurfer commented on #8131
@andmironov could you provide more details on pictures behaviour?

[2019-05-13 11:26] asemiankevich opened #8197 "[ViewManager for tag 1987 could not be found] error when installing stickers [android]"
# Problem
Error occurred when installing stickers by autotest
https://ethstatus.testrail.net/index.php?/tests/view/642307

Can't reproduce manually

[code]

# Logs

[code]

[2019-05-13 11:27] asemiankevich commented on #8197
@flexsurfer please take a look

[2019-05-13 12:10] #8056 closed, assigned to errorists

[2019-05-13 13:03] annadanchenko commented on #7988
Description is no updated. Contacted CS and it can take up to 2 business days to get an answer

[2019-05-13 13:37] #8159 closed, assigned to nobody

[2019-05-13 14:17] annadanchenko commented on #8196
info valid on May 13:
- apk for release: **not the last one in the list!** Use 2019051310. Version: 0.12.2. Uploaded: Today, 1:25 PM
- ios version for release: 2019051311 (sent to Apple review)

[2019-05-13 14:31] rachelhamlin commented on #8047
@yenda @3esmit what size bounty should this be?

[2019-05-13 14:39] asemiankevich opened #8200 "Error: chat.chat-id must be of type 'string', got 'null' (null)""
# Problem

```console.error: "ERROR [status-im.utils.async:19] - failed to run task Error: chat.chat-id must be of type 'string', got 'null' (null)"```

error
    YellowBox.js:59:8
_callTimer
    JSTimers.js:152:14
_callImmediatesPass
    JSTimers.js:200:17
callImmediates
    JSTimers.js:473:30
__callImmediates
    MessageQueue.js:337:6
<unknown>
    MessageQueue.js:135:6
__guard
    MessageQueue.

[2019-05-13 15:24] 0xc1c4da commented on #7200
➤ Hester Bruikman commented:

cc Rachel Hamlin

[2019-05-13 15:29] e18r commented on #4606
Hi, this a quick report on my progress so far in this issue. In the past days I've been working on the unfurl library. It turns out that library is a Clojure, not a ClojureScript library. Given there aren't other URL unfurling libraries for ClojureScript, I decided to make it compatible. I [opened an issue](https://github.com/clj-commons/unfurl/issues/6) in their Github repo, and the main develope

[2019-05-13 15:59] rachelhamlin commented on #7119
@oskarth I believe the designs for mobile are still okay, but understand your interest is more in having the feature for desktop (#7200). Given that we now have mobile UI on desktop, should we put a bounty on the mobile version first and then desktop separately?

[2019-05-13 18:07] krisc commented on #5654
Still interested in working on this, but currently have issues with nix.

[2019-05-13 18:08] krisc commented on #7204
@tbenr I haven't had a chance to really work on this. Would you like to take over?

[2019-05-13 18:21] dmitryn commented on #8187
Weird bug – It only happens after new account setup, but it's not reproducible if you re-open the app.

I see a lot of repeated events in log:
[code]
which got dispatched immediately after logout

[2019-05-14 04:03] oskarth commented on #7119
@rachelhamlin sure, no specific preference on order/platform, I think the desktop should follow naturally after mobile UI.

[2019-05-14 04:38] oskarth commented on #8074
@PombeirP any update on this? Or how it fits into prios

[2019-05-14 08:06] vkjr commented on #7399
This issue was closed because referenced in #7551 PR. But for now mobile UI merged under flag, so we can't call this issue closed.

[2019-05-14 08:31] rachelhamlin commented on #6375
@StatusSceptre could we publish this one and also #8047 on gitcoin?

[2019-05-14 08:32] rachelhamlin commented on #7119
@oskarth okay, I'm putting one on #6375 as it has the best description and designs linked.

[2019-05-14 08:43] rachelhamlin commented on #7200
FYI - we are putting a bounty on the mobile version of this feature, #6375.

[2019-05-14 08:58] pedropombeiro opened #8203 "Reproducible Android builds"
# Problem
In order to provide verifiability in the builds we provide to users, we want to make our builds reproducible (Android first). This will also allow us to publish the Android app on [F-Droid](https://f-droid.org/en/docs/Reproducible_Builds/).

## Implementation
The recent effort of migrating to Nix (including pinning our tools, SDKs and ensuring a pure build environment) should have done m

[2019-05-14 09:05] pedropombeiro commented on #8074
I'll need to put aside some time to work on this. I've been deep into reproducible builds and haven't looked into this yet.