[2020-12-17 15:12] shivekkhurana commented on #11556
@errorists Updated the login screen to be the entry point:

<details>
<summary>Screenshot 🖼</summary>

![Screenshot_2020-12-17_at_13 50 16](https://user-images.githubusercontent.com/1925158/102505534-1f5ffd80-40a8-11eb-9dc9-7d6de3db339f.png)

</details>

[2020-12-17 18:48] Batatos commented on #11525
Hi @churik ,

I want to be assigned on this.

[2020-12-17 19:29] cyanlemons opened #11560 "Clean the Cruft"
The status-react repository has a lot of cruft. It takes roughly two pages worth of scrolling to even reach the beginning of the README. As part of a renewed effort to make our GitHub account & repos more palatable to newcomers and developers alike, we should make sure we don't leave unnecessary files laying around in our repo, particularly in the root folder.

After a quick observation, I've iden

[2020-12-18 09:05] #11544 closed, assigned to cammellos

[2020-12-18 09:05] #11545 closed, assigned to cammellos

[2020-12-18 09:10] qoqobolo opened #11561 "Blank page after navigating to browser tabs view from browser screen and using back gesture"
# Bug Report

## Problem

If open browser tabs right after the browser screen and tap the Android back button or swipe to go back on iOS, an empty page will be opened.

#### Expected behavior

Navigation to browser screen when using the back gesture from the tab screen

#### Actual behavior

Blank page

![ezgif com-gif-maker (20)](https://user-images.githubusercontent.com/67952253/102596207-22df9d

[2020-12-18 12:12] bitgamma commented on #9703
the format implemented is 5 characters, where a lower-case letter is followed by a number. 0/1 l/o are excluded from the list of allowed symbols  to allow confusion. The reason for this exact format is a compromise between length, number of possible combinations and making sure that no embarassing words are generated.

[2020-12-18 17:37] hesterbruikman commented on #11474
Further design input:

The need for a verification might be generic and can be captured in a modular `verification dialog design`

Webview modal that can include captcha, IP verification, or both, depending on what is required for a given service

[2020-12-20 15:39] bitsikka commented on #11474
@hesterbruikman and all those interested, please join BrightID discord's #☯status channel https://discord.gg/jk8jdsdr for latest update. I submitted the POC for hackathon few minutes before the deadline 😅  🤞

it only has a very much a shortcut/hacky basic integration of linking and checking verification through the profile tab, list-item button below ENS
![image](https://user-images.githubusercont

[2020-12-20 15:48] bitsikka commented on #11474
cc @3esmit need your help with smart-contract based integration that BrightID has template for(therefore maximally decentralized / secure) rather than interacting with rest api backend (temporarily implemented currently in POC)

@cammellos / status-go backend team, need your help with persisting verification data

but first let us all decide for certain if it is a good idea to go with BrightID rou

[2020-12-20 15:51] bitsikka commented on #11474
Current POC implementation is in my fork of status-react https://github.com/bitsikka/status-react

Failed attempt at persisting verification data implementation is in my fork of status-go https://github.com/bitsikka/status-go

[2020-12-20 15:57] bitsikka commented on #11474
I had fun with the idea/hackathon, got started getting updated with 1 year of status-react progress that I had missed. Will be able to continue contributing hereforth 💪  😅  now.  As well gained a renewed and deep appreciation for how the core team is wresting with seemingly insurmountable task of delivering the goods 🙏

[2020-12-20 15:59] bitsikka commented on #11474
Just to set expectation, no sybil-resistance integration yet :(  - just a basic, hacky/shortcuty integration (linking/verification) for now

[2020-12-21 09:29] churik opened #11565 "app.tornado.cash crashes app on Android with 'java.lang.illegalArgumentException'"
# Bug Report

## Problem
Initially reported by a user.
At attempt to deposit ETH via dapp `app.tornado.cash` status crashes with error:
![Screenshot_20201220-105743_Status](https://user-images.githubusercontent.com/4557972/102760835-6256f500-4376-11eb-8c3b-3ca1cd6fdbdb.jpg)
Works with MetaMask in Chrome and with Status on IOS.

#### Expected behavior
can deposit ETH or gracefully handled error

##

[2020-12-21 12:02] #10604 closed, assigned to nobody

[2020-12-21 12:22] rasom commented on #11507
closed by 7055c46

[2020-12-21 12:22] #11507 closed, assigned to rasom

[2020-12-21 12:24] rasom commented on #9987
this one is partially implemented already, the rest of it is likely irrelevant. Closing it

[2020-12-21 12:24] #9987 closed, assigned to rasom

[2020-12-21 14:08] #9703 closed, assigned to bitgamma

[2020-12-21 15:10] #11502 closed, assigned to rasom

[2020-12-22 12:33] #11256 closed, assigned to nobody

[2020-12-22 12:33] #11432 closed, assigned to Ferossgp

[2020-12-22 12:33] #11433 closed, assigned to nobody

[2020-12-22 13:59] qoqobolo opened #11569 "Own profile picture isn't displayed in the member list on the Group info screen"
# Bug Report

## Problem

If set a profile picture, create or join a group chat, and navigate to Group info, the own profile picture will not be displayed in the member list.

#### Expected behavior

Own profile picture is displayed in Group info.

#### Actual behavior

No own profile picture.

<img width="236" alt="Screenshot 2020-12-22 at 14 40 23" src="https://user-images.githubusercontent.com/

[2020-12-22 15:01] rasom opened #11570 "Make sure wallet history and transfers watching works with a custom RPC node"
# Bug Report

## Problem

Currently when a custom RPC node is set historical data can't be fetched and that makes wallet's history unusable. Also in case if a new tx is sent we don't watch for confirmation.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)
We should give a user an option to keep using our own infura RPC for historical

[2020-12-23 08:44] #11557 closed, assigned to cammellos

[2020-12-23 11:28] #11493 closed, assigned to Ferossgp

[2020-12-23 16:25] #11219 closed, assigned to cammellos

[2020-12-23 16:25] #11220 closed, assigned to cammellos

[2020-12-24 08:52] hesterbruikman opened #11575 "Long messages not collapsed"
# Bug Report

## Problem
Long messages not collapsed. Expand chevron and gradient is visible

#### Expected behavior
Long messages are partly hidden

#### Actual behavior
![Screenshot_20201223-200057_Status](https://user-images.githubusercontent.com/35233054/103075699-6bd99a80-45cc-11eb-8f03-7e8ae31ad3a1.jpg)

#### Notes
Regression

### Reproduction
- Open Status
- Find collapsed message in #statu

[2020-12-24 10:17] qoqobolo opened #11578 "Long messages are out of bubble borders if collapsed in chat view on Android"
# Bug Report

## Problem

If open some chat containing a collapsed message, part of this message will be out of the bubble.

#### Expected behavior

The bottom part of the message is hidden if the message is collapsed

#### Actual behavior

The bottom part of the message is shown

<img width="354" alt="Screenshot 2020-12-24 at 11 15 03" src="https://user-images.githubusercontent.com/67952253/10308

[2020-12-24 10:52] churik opened #11579 ""Save password" is not saved if enable "Lock app with fingerprint" from Settings"
# Bug Report

## Problem
Working as expected on 1.9.

When enabling biometric authentication from "Privacy and security" it is not saved after relogin
#### Expected behavior
"Save password" is enabled

#### Actual behavior
"Save password" is not enabled

![IMAGE 2020-12-24 11:51:18](https://user-images.githubusercontent.com/4557972/103084069-55d4d580-45de-11eb-8292-1f06953c5b66.jpg)

### Reproduct

[2020-12-24 13:54] churik opened #11580 "Add Giphy & Tenor gif support"
As a user
I want to be able to preview Giphy & Tenor
So that I can send and receives gifs in chat

### Description

Giphy & Tenor have been whitelisted in status-go, status-react can now leverage that support.
There seem to be some questions about how we fetch those, so that needs to be looked at.

For example

[2020-12-24 13:59] #11575 closed, assigned to Ferossgp

[2020-12-24 13:59] #11578 closed, assigned to nobody

[2020-12-24 14:25] churik opened #11582 "Blank profile picture is shown in case of setting profile picture on one device and sending message from another device"
# Bug Report

## Problem
Related to https://github.com/status-im/status-react/issues/11558 and should be resolved after it.

When the user has the same multiaccount on several devices and profile picture is set only on one device - at attempt to send something from device without profile picture blank userpicture is shown for other users.

#### Expected behavior
profile picture is the same as set

[2020-12-24 14:26] churik commented on #11582
not a blocker for 1.10, but would be nice to have it addressed

[2020-12-24 15:50] churik opened #11585 ""Increase Gas" and "Cancel" do not replace transactions on keycard accounts"
# Bug Report

## Problem
In case of using "Increase gas" or "Cancel" on keycard multiaccount instead of replacing initial transaction new transaction is created.
So basically feature is not working on keycard.
Leftover from https://github.com/status-im/status-react/pull/11456

#### Expected behavior
Transaction is dropped and replaced

#### Actual behavior
New transaction with increased nonce is c

[2020-12-28 02:26] qfrank opened #11586 "Warning: Every element in a seq should have a unique :key:..."
# Bug Report

## Problem

It's very annoying to see the long warn log message `Warning: Every element in a seq should have a unique :key:...` while testing and trying to find your custom log information within `Metro(node)`.

#### Expected behavior

Don't print the long warn log message in `Metro(node)` after select `Join public chat`

#### Actual behavior

It will print the long warn log message

[2020-12-28 02:27] qfrank commented on #11586
I'll submit a PR soon to solve this.

[2020-12-28 04:03] qfrank commented on #11426
Pls review this [PR](https://github.com/status-im/status-go/pull/2096) , thanks!

[2020-12-28 08:38] cammellos commented on #11580
This has been fixed by disabling gifs previews.
I will convert it to a feature request.

[2020-12-28 12:19] churik opened #11590 "Double tap on "Increase Gas" or "Cancel" leads top several transaction screens"
# Bug Report

## Problem

Leftover from https://github.com/status-im/status-react/pull/11456
If tap several times on option "Cancel" or "Increase Gas" - several transaction screens appear.

#### Expected behavior
one transaction screen

#### Actual behavior
several transaction screens

https://user-images.githubusercontent.com/4557972/103213893-58ea0180-490f-11eb-8e7e-564977709d7a.mp4

### Reprodu

[2020-12-28 16:10] #11579 closed, assigned to cammellos

[2020-12-28 22:42] johndejohn opened #11591 "Add send video, send files, video call, phone call & send location features in private and group chat"
# Feature Issue
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
![Capture+_2020-12-29-01-17-11](https://user-images.githubusercontent.com/40263018/103247400-d47f9900-4977-11eb-9a72-b3f0297c4d91.png)

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description
[comment]: # (Describe the feature you would like and include designs and Figma

[2020-12-29 08:09] cammellos commented on #11591
Thanks for the feature request, we use https://discuss.status.im/ for those, please open a post there.
thank you!

[2020-12-29 08:09] #11591 closed, assigned to nobody

[2020-12-29 08:13] #11586 closed, assigned to nobody

[2020-12-29 08:19] cammellos commented on #7633
I believe this one has now been fixed.

[2020-12-29 08:50] cammellos commented on #11585
This is sort of fixed, I will close it for now, and open a feature request for increase gas/cancel transaction on keycard.

[2020-12-29 08:50] #11585 closed, assigned to nobody

[2020-12-29 08:52] cammellos opened #11594 "Add increase gas of a transaction on keycard accounts"
### User Story

As a keycard user
I want to be able to increase gas of a transaction
So that I can speed it up

### Description

Currently this feature is implemented on normal accounts, but hidden for keycard.

[2020-12-29 09:05] cammellos opened #11595 "Add cancel transaction on keycard accounts"
### User Story
As a keycard user
I want to be able to cancel a transaction
So that I can correct any error that I have made

### Description
Currently this feature is implemented on normal accounts, but hidden for keycard.

[2020-12-29 10:14] flexsurfer opened #11596 "Improve sql storage"
| Table                                       | Rows  |
|---------------------------------------------|-------|
| user_messages                               | 90,439 |
| blocks_ranges                               | 23,307 |
| contacts                                    | 17,074 |
| bundles                                     | 14,999 |
| push_notification_client_queries            | 13,549 |
| i

[2020-12-29 11:02] churik opened #11597 ""Increase gas" and "Cancel" buttons don't trigger transaction screen if transaction is not found in infura"
# Bug Report

## Problem
Reproduced several times with transaction triggered from DApp - sometimes buttons are not responsible as transaction isn't fetched from Infura.
And all subsequent transactions can't be located on etherscan, so maybe better to split in 2 issues.

#### Expected behavior
Can cancel transaction only if it can be found in history

#### Actual behavior
Transaction can't be locat

[2020-12-29 12:35] qfrank commented on #11488
Looking into this :)

[2020-12-29 14:18] churik opened #11599 "Install sticker button is overlapped with keycard menu"
# Bug Report

## Problem
After moving keycard menu it is overlapped with install sticker button, I assume that it needs to be a bit more left (and we can do it really tiny one)
![Sauce Labs | Test Details: 2020-12-29 15-14-03](https://user-images.githubusercontent.com/4557972/103289884-92427000-49e8-11eb-9539-2b6a50acfc6d.png)

It is reason for failed `test_install_pack_and_send_sticker`

[2020-12-29 14:37] churik opened #11600 "java.lang.NullPointerException when creating account or recovering it from seed phrase"
# Bug Report

## Problem
Several times in weeks (so ~0.5% cases) e2e are failed on account creation (or recovering from seed phrase) with error.
Several times I faced with this error on real device.

#### Expected behavior
no error

#### Actual behavior
![image](https://user-images.githubusercontent.com/4557972/103291162-6f658b00-49eb-11eb-8b40-093481541635.png)

### Reproduction

[comment]: # (De

[2020-12-30 14:19] cammellos opened #11602 "Sluggish performance on private group chats"
# Bug Report

User have reported bad performance when chatting on private group chats.

## Problem

This can be due to many factors:
1) Private group chats are an extension of 1-to-1s, so in order to send a message you will have to send n messages, one for each member.
2) Because of redundancy, the history is also transmitted with each message, increasing the cost of POW calculation.

### Potentia

[2020-12-30 16:19] #11379 closed, assigned to rasom

[2020-12-31 00:31] qfrank commented on #11555
looking into this :)

[2021-01-04 08:27] #10978 closed, assigned to qfrank

[2021-01-04 09:06] guylouis opened #11606 "Favorites - when changing the name of a favorite, the past name appears quickly when saving it"
**behaviour**
when changing the default name of the favorite and when saving this favorite, the past name appears briefly, it's confusing because one wonders which name was used in the end (eventhough it's the new one that it saved)

**video**
https://discord.com/channels/624205794384281629/626738033701683200/795577636260544522

[2021-01-05 04:22] johndejohn opened #11607 "Network info alert"
# Problem
I just test the app
When I select in profile -> advanced -> (on mainnet RPC) network info -> press to refresh showing this alert few days.
But working well on POA network. No alert.

![2021-01-05-07-08-19.png](https://user-images.githubusercontent.com/40263018/103606748-42076880-4f28-11eb-85d9-f3106499624d.png)
## Implementation

Known steps towards feature implementation.
What needs fur

[2021-01-07 09:12] flexsurfer opened #11610 "App crashes on Android with GiFDecoder error"
![image](https://user-images.githubusercontent.com/11790366/103873841-b2e98480-50d0-11eb-9f39-8fab2f6f9b33.png)

open #test channel, and scroll until you have a crash

[2021-01-07 09:13] flexsurfer commented on #11610
seems related to https://github.com/status-im/status-react/pull/11584

[2021-01-07 15:01] hesterbruikman opened #11613 "Improvements to Cancel and Speed up transaction"
# Feature Issue
Cancel and Speed up transaction was planned for release 1.10, but pulled from release as some unforeseen cases occurred that made the feature feel unreliable.

#### Root causes

* Nonce or tx object is not stored locally; after a signed transaction has been dispatched, transaction information (including the required nonce) is only available through an http request to Infura
  * Tx

[2021-01-07 20:20] cammellos commented on #11602
Better yet is to only propagate the history that's necessary for the post to be processed correctly by other peers, only sending a full history on joining.

[2021-01-08 16:41] cammellos opened #11617 "Resending messages is to eager"
We noticed in group chats that performance degrade quickly as the number of users increase.

One of the reason is that we re-send messages too eagerly, I can see in log a ton of `message.sent` event.
This is probably fine when you have a one to one, but with a group chat of 15 users it means that you will be sending (for a single message):

15 messages on the first round
15 messages after 30 secon

[2021-01-08 20:45] cammellos commented on #11197
I figured out I believe the root cause of this issue, there was a bug in `status-go` that would cause a busy loop to run, due to push notifications.
The fix will be included in 1.10 and hopefully it should resolve the issue.

[2021-01-08 23:35] cammellos opened #11618 "App crashes after coming back from background"
On my account the app crashes coming back from background.
This is not easy to replicate on other devices as is due to the amount of data (mailserver topics) on the device and the amount of memory (moto g5).

The error is an out-of-memory error at the bridge level:
[code]

After investigation this is due to the many calls that we make to status-go after pulling messages to the mailserver.
Most of

[2021-01-11 08:54] cammellos opened #11620 "Investigate topic/mailserver usage"
## Problem

Quite a few users have reported long syncing time, especially after some usage of the app.
This task is an investigation in the behavior.

[2021-01-11 09:01] cammellos commented on #11620
I managed to replicate long syncing time.
I have dumped the topics that my app is listening to and check against the database how many envelopes are present per topic.

This is the script used to build the query with the topics:

[test.txt](https://github.com/status-im/status-react/files/5794686/test.txt)

This is the last 3 days of all the topics broken down by count:

[all-topics.txt](https://gi

[2021-01-11 10:15] #11426 closed, assigned to qfrank

[2021-01-11 11:25] flexsurfer commented on #11610
it crashes on Samsung S10, when rendering preview for `https://www.youtube.com/watch?v=LO35cdWL1MQ`

[2021-01-11 11:40] flexsurfer commented on #7633
Gif crashes on Samsung S10 https://github.com/status-im/status-react/issues/11610

[2021-01-11 15:46] #11606 closed, assigned to flexsurfer

[2021-01-11 17:20] hesterbruikman opened #11626 "Group chat subtitle shows 'no members'"
# Bug Report

## Problem
Group chat subtitle shows 'no members' when group info shows 19 members

#### Expected behavior
Accurate number of members is shown in subtitle

#### Actual behavior
Subtitle of group chat shows 'no members'

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Join group chat with members
-  (in case of existing group chat

[2021-01-12 09:35] #11610 closed, assigned to flexsurfer

[2021-01-12 09:57] guylouis opened #11627 "Add GRT erc20 token in our default list of supported tokens in the wallet"
**summary**
add GRT erc20 token to our default list of erc20 token supported by the wallet

**user story**
a user holding GRT token in his wallet account should see in his list of assets the number of GRT tokens he holds

**details**
the token details (name, contract address, decimals) are here (provided by the Graph team directly)
https://docs.google.com/document/d/1zFXNliXfeie5ufukQjXLxWI8rqavZI

[2021-01-12 10:55] flexsurfer commented on #11627
@guylouis logo is 404

[2021-01-12 11:02] guylouis commented on #11627
thanks for the headsup @flexsurfer
link corrected

[2021-01-12 12:46] #11488 closed, assigned to qfrank

[2021-01-12 13:20] flexsurfer commented on #11257
@churik is this still relevant?

[2021-01-12 13:20] flexsurfer commented on #11555
hey @qfrank are you still looking ? :)

[2021-01-12 13:43] churik commented on #11257
@Serhy  has more experience in starter pack testing, maybe he is aware

[2021-01-12 15:17] churik opened #11631 "Crash on enabling chat link previews on Android 10 or later"
# Bug Report

## Problem
Issue is not reproducible on release 1.10.
When enable youtube link previews on Android 10, got java exception and app crash.

#### Expected behavior
no crash, previews are enabled

#### Actual behavior
![IMAGE 2021-01-12 16:13:06](https://user-images.githubusercontent.com/4557972/104333008-0e60ab80-54f1-11eb-9a1e-28bf6bbbe901.jpg)

### Reproduction

[comment]: # (Describe

[2021-01-12 15:19] flexsurfer commented on #11631
duplicate https://github.com/status-im/status-react/issues/11610

[2021-01-12 15:20] flexsurfer commented on #11631
should be fixed in tomorrow nightly

[2021-01-12 15:20] churik commented on #11631
right. thank you!

[2021-01-12 15:20] #11631 closed, assigned to nobody

[2021-01-12 17:13] #11627 closed, assigned to flexsurfer

[2021-01-13 07:24] flexsurfer commented on #566
@cammellos why its reopened?

[2021-01-13 07:26] cammellos commented on #566
@flexsurfer I think it's a bug with the zenhub autmation, it reopened it a few times already, didn't notice that it did this time, I need to figure out why is reopening this issue specifically (it has to do with the issue number 566)

[2021-01-13 07:29] #5162 closed, assigned to nobody

[2021-01-13 07:30] flexsurfer commented on #5242
@churik could we recheck it ?

[2021-01-13 08:28] flexsurfer commented on #6574
implemented on long press

[2021-01-13 08:28] #6574 closed, assigned to nobody

[2021-01-13 10:48] churik opened #11634 "Maigrate e2e to eu datacenter"
Attempt to switch to eu-datacenter leads to error with some tests in parallel ([details](https://github.com/status-im/status-react/pull/11628))
It was made by patching `sauceclient` lib 1.0.0 in https://github.com/status-im/status-react/pull/11624 which  was reverted in https://github.com/status-im/status-react/pull/11633

Currently, we switched back to US (15 sessions) and have 1 session in EU to

[2021-01-13 10:52] churik opened #11635 "Update xdist lib to 2.2.0"
At attempt to update pytest-xdist from 1.34.0 to 2.2.0 got results in github for each test separately (example is in https://github.com/status-im/status-react/pull/11628)

[2021-01-13 11:22] #11626 closed, assigned to flexsurfer

[2021-01-13 13:45] jakubgs opened #11637 "Unable to use status-go fork to build status-react"
Currently when a fork of `status-go` is used that isn't from `status-go` org it fails to build due to Go requirements for module paths:
[code]

[2021-01-13 13:47] qfrank commented on #11555
hi @flexsurfer , sorry for stop looking for some days for personal reason :) is it urgent? or i'll continue looking tomorrow

[2021-01-13 13:48] jakubgs commented on #11637
Looks like I found the culprit:
https://github.com/status-im/status-react/blob/46d430b69ce7bb0d7c2bc58abbefd163e2daa474/nix/status-go/source.nix#L47
This is what happens when you just put stuff in without understanding the purpose of the argument.
We just have to drop `${owner}` and make it `status-im`.

[2021-01-13 14:16] #11637 closed, assigned to jakubgs

[2021-01-14 09:11] #11599 closed, assigned to rasom

[2021-01-14 11:27] cammellos commented on #11197
This is now fixed and included in develop

[2021-01-14 11:27] #11197 closed, assigned to cammellos, Serhy

[2021-01-14 11:47] #11535 closed, assigned to rasom

[2021-01-14 14:37] cammellos opened #11643 "Display profile picture only of users I have added to contacts"
As a user
I want to see only the profile pictures of users I have added to my contacts
So that I won't be subject to inappropriate pictures in public chats

### Description

Because of the demand for moderation in app stores to some apps, we decided to limit our exposure and protect users from inappropriate content.
Users should only be seeing profile pictures of other users if they added them as

[2021-01-14 14:46] cammellos opened #11644 "Add list of website where you can buy crypto"
As a user
I want to discover places where I can buy crypto
So that I can get rich and buy a lambo

### Description

There should be a banner in wallet that opens a list of links that if clicked takes you to the right website.

### Scope

The designs shows a webview where the website opens. This can be de-scoped if necessary and the link can be opened in the system browser (if opened in the status

[2021-01-14 14:49] errorists commented on #11643
[Preference setting design](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4717%3A2107)

[2021-01-14 15:00] guylouis commented on #11644
For our ability to change the list without a new release, I'd propose as a scope:
- remove/add entries of the list
- edit content of an entry (picture, title, description, fees and countries)
- (later) possibility to change the copy of  the string "Choose a service you'd like ..."
- (later) possibility to change the copy and url of the "learn more" link

[2021-01-14 15:35] cammellos commented on #11643
Status go part is here https://github.com/status-im/status-go/pull/2117

[2021-01-14 17:06] #11431 closed, assigned to shivekkhurana

[2021-01-15 03:47] danimesq opened #11645 "[Question] How this ReactNative project is ported to Desktop?"
How can an ReactNative project such as Status, be also compiled to desktop while keeping the same codebase?

[2021-01-15 03:51] danimesq opened #11646 "[Question] Are Status posts feature also implemented in the desktop version?"

[2021-01-15 03:58] danimesq opened #11647 "Status' replies"
As both messages and statuses have support to react with emojis, and messages have support to replies, I think status should have this feature as well.

[2021-01-15 03:58] danimesq commented on #11647
Also, for both messages and statuses, these replies could support nested replies, and these replies could work as statuses themselves so also supporting reactions.

[2021-01-15 04:01] danimesq commented on #11647
Just looked at it now, and thankfully this issue isn't a duplicate of another issue, so probably this is the first issue suggesting this so needed feature.

Also related, an bugfix: https://github.com/status-im/status-react/issues/10874

[2021-01-15 04:03] danimesq opened #11648 "Reactions: show default emojis on first arrow, but also support inputing any emoji as reaction"

[2021-01-15 04:08] danimesq opened #11649 "Package to UWP"
Porting into the Universal Windows Platform would allow the Status .exe app to be packaged inside an .appx package, listed in the Microsoft Store while using UWP's notifications, live tile and other of its features. Maybe it would be the first Ethereum/Web3 wallet to enter Microsoft Store and take advantage of the UWP's APIs.

[2021-01-15 08:40] cammellos commented on #11620
After further investigation I discovered that I had a lot of orphaned topics:

out of 500 ish topics only 120 had a filter associated. This meant that I was fetching a lot of messages that I would have never being able to decrypt.
After cleaning up the topics connection issue went away, so there's clearly a bug somewhere which causes topics to be leaked.

Regarding heavy usage topics, I haven't ye

[2021-01-15 08:43] cammellos commented on #11645
We used to have our fork of `react-native-desktop` and run the same codebase, but after some discussion we moved to nim/qt implementation, which is a separate codebase other than status-go (backend) which is a shared component. https://github.com/status-im/nim-status-client
By the way the best place for questions and feature requests is https://discuss.status.im/ .
Thanks!

[2021-01-15 08:43] #11645 closed, assigned to nobody

[2021-01-15 08:44] cammellos commented on #11646
It's in the work I believe.

[2021-01-15 08:44] #11646 closed, assigned to nobody

[2021-01-15 08:47] cammellos commented on #11648
Please open a feature request on https://discuss.status.im/
We use issues (or try to :) ) mostly for things that we already agreed to implement or bugs.
Thank you

[2021-01-15 08:47] #11648 closed, assigned to nobody

[2021-01-15 08:48] cammellos commented on #11647
This is a bit tricky, as the way they work you only see messages in your timeline from people you follow, so if you reply to a message from someone you don't follow you would not see it, but we could change the mechanics to allow replies to shows from anyone.

In any case please open a feature request on https://discuss.status.im/
We use issues (or try to :) ) mostly for things that we already agr

[2021-01-15 08:48] #11647 closed, assigned to nobody

[2021-01-15 08:49] cammellos commented on #11649
This seems to be an issue for status-desktop,
https://github.com/status-im/nim-status-client , this repo only contains the mobile code.
Thanks

[2021-01-15 08:49] #11649 closed, assigned to nobody

[2021-01-15 09:12] cammellos commented on #11620
Ok, thanks to @jakubgs we figure out where these topics are coming from.
They are from the push notification servers.
Clients should be publishing on those, but should not be fetching messages from mailservers, whether they should be subscribed is a different story, as you need to be subscribed to publish a message, so that's inevitable, but they should unsubscribe shortly after. Though that funct

[2021-01-15 12:19] churik commented on #11643
can we rename it or add more explicit explanation that it is not setting for exposing my profile picture, but for me to see other's profile pictures?
It is extremely unclear and IMO it will be confusing for users.
@cammellos @errorists

[2021-01-15 12:21] errorists commented on #11643
we can 'Show profile picture **of**'. it should be clear from the label alone, I'm very much open to other suggestions how to phrase it

[2021-01-15 12:33] churik commented on #11643
Let's add 'of' or 'from' if no objections.
Just asked Diana and Sergey and got the same answer - that at first glance it loos like setting for exposing my profile picture.
And maybe some small label on the screen itself with an explanation sort of "who's profile pictures I choose to see" wouldn't hurt.

@errorists would you mind to update design in figma?

[2021-01-15 13:50] qoqobolo opened #11651 "No spinner when pressing "Fetch more messages" in public chat + white toggles in Sync settings on Android"
# Bug Report

## Problem 1

If press `Fetch more messages` in chat view downloading spinner doesn't appear.

#### Expected behavior

Spinner appears when pressing `Fetch more messages`

#### Actual behavior

No spinner

https://user-images.githubusercontent.com/67952253/104734670-e798b400-5740-11eb-8d65-b21797554f4f.mp4

### Reproduction

- Join public chat
- Tap `Fetch more messages`

## Problem

[2021-01-16 01:22] danimesq commented on #11649
Moved to: https://github.com/status-im/nim-status-client/issues/1684

[2021-01-16 01:24] danimesq commented on #11646
@cammellos, is there an open issue on nim-status to track it?

[2021-01-16 08:04] cammellos commented on #11620
The number of topics has increased again a lot overnight (332), a 100 topics jump,  and the app re-requested 24 hours of data for all topics even though it should not have, giving long blue spinner times.

[2021-01-17 11:39] flexsurfer commented on #11239
https://github.com/status-im/status-react/pull/11612

[2021-01-17 11:39] #11239 closed, assigned to nobody

[2021-01-17 16:58] cammellos commented on #11620
Ok, I have figured out at least what the topic is:
They are the partitioned topic of the push notification server.
Those are heavy traffic topics as they are used by many clients.
The two actions would be:
1) Use a different scheme for push notification servers
2) Don't fetch data from partitioned topics that are not yours (this is currently a bug). We need to create a topic because we want to pos

[2021-01-18 03:03] xx007 opened #11652 "Can I define networkid myself"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to define networkid myself
### Description

app start, show the toast ethereum node started incorrectly

it will prompt that the networkid is different from the actual networkid. Clicking the ok button will exit the app and can no longer be used.

I have a main chain wit

[2021-01-18 08:30] flexsurfer commented on #11652
hi, you can connect to your custom network
1)open Advanced in Profile
2)open Network
![image](https://user-images.githubusercontent.com/11790366/104890378-c8339e00-596f-11eb-8d93-9cc55e4a8efe.png)
3)press "+"
4) select custom
![image](https://user-images.githubusercontent.com/11790366/104890437-d7b2e700-596f-11eb-86cc-9ce8313bfd70.png)

[2021-01-18 09:14] #11643 closed, assigned to flexsurfer

[2021-01-18 10:28] qoqobolo opened #11654 "Public chat with #{chat_key} name appears on the secondary device after pairing"
# Bug Report
## Problem
If open Profile of some User on Device A and then pair Device A and Device B, the public chat with #{user_chat_key} name will appear on Device B. If the User has posts in the Status tab, they will be displayed in this chat.

#### Expected behavior
No public chat on paired device

#### Actual behavior
Public chat on **_Device B:_**

![](https://user-images.githubusercontent.

[2021-01-18 16:03] jakubgs opened #11657 "Investigate broken iOS Nightly builds"
We are seeing Nightly builds failing since 14th of January ([#1814](https://ci.status.im/job/status-react/job/nightly/1814/)).

The failures show this in logs:

[code]

This is most probably related to one of the upgrade to XCode 12 and React-Native 63: https://github.com/status-im/status-react/commit/abac5247bf0bfb2688efbf4082a28f1d21b969cd

[2021-01-18 16:04] jakubgs commented on #11657
Interestingly enough PR builds are working just fine:
https://ci.status.im/job/status-react/job/prs/job/ios/view/change-requests/job/PR-11655/
https://ci.status.im/job/status-react/job/prs/job/ios/view/change-requests/job/PR-11656/

[2021-01-18 16:08] jakubgs commented on #11657
It's worth noting that after https://github.com/status-im/status-react/commit/abac5247bf0bfb2688efbf4082a28f1d21b969cd the removal of `ReactNativeConfig` was reverted in https://github.com/status-im/status-react/commit/f28f479256c50a9533d13ef499c0b93f1680a445.

[2021-01-18 16:13] jakubgs commented on #11657
The main differences between PR builds and Nightly builds are:

* Use of [`.env.nightly`](https://github.com/status-im/status-react/blob/develop/.env.nightly) instead of [`.env.pr`](https://github.com/status-im/status-react/blob/develop/.env.pr)
* Use of different [App name and ID](https://github.com/status-im/status-react/blob/329182fdbe0c2d18b6b9c026c43094dd9581bd99/fastlane/Fastfile#L109-L110)

[2021-01-18 16:14] jakubgs commented on #11657
And as expected the manual build fails the same way: https://ci.status.im/job/status-react/job/manual/89/

[2021-01-18 16:15] jakubgs commented on #11657
If I look at `/Users/jenkins/Library/Logs/gym/StatusIm-StatusIm.log` I can see this:
[code]

[2021-01-18 16:19] jakubgs commented on #11657
@flexsurfer can you tell me what changes did you do in our XCode project to get the `ios/StatusIm.xcodeproj/project.pbxproj` changes I can see in https://github.com/status-im/status-react/pull/11642?

[2021-01-18 16:21] jakubgs commented on #11657
If I look under `/Users/jenkins/Library/Developer/Xcode/DerivedData/StatusIm-gzbepwnrlqbukxbmmpfskimspfch/Build/Intermediates.noindex/ArchiveIntermediates/StatusIm/InstallationBuildProductsLocation/Applications/StatusIm.app/` I can see that there is no `StatusIm` folder or file in there:
[code]

[2021-01-18 17:38] jakubgs commented on #11657
This looks related:
https://stackoverflow.com/questions/64123206/xcode-12-problems-build-input-file-cannot-be-found-building-for-release-on

[2021-01-19 09:03] jakubgs commented on #11657
Here's an attempt at fixing a nightly by Andrey by removing the `arm64` architecture as suggested above: https://github.com/status-im/status-react/pull/11658

[2021-01-19 09:14] flexsurfer commented on #11657
and now for some reason we have reactnativeconfig error back on PR builds https://ci.status.im/job/status-react/job/prs/job/ios/job/PR-11658/1/consoleText

[2021-01-19 09:15] jakubgs commented on #11657
And here's a manual nightly type build from #11658: https://ci.status.im/job/status-react/job/manual/93/

[2021-01-19 09:21] flexsurfer commented on #11657
ok , same error as for PR build, and @vkjr saying it's fixed for him just by re-adding reactnativeconfig library locally

[2021-01-19 09:21] jakubgs commented on #11657
Aaaaand it fails with:
[code]

[2021-01-19 09:22] flexsurfer commented on #11657
https://github.com/status-im/status-react/commit/a19859ea76d97326a72a39a16448dd538e494df4 this commit "fixed" the issue, but as you can see there are no changes in it, just random number changed (timestamp?)

[2021-01-19 09:33] flexsurfer commented on #11657
so it seems like re-adding reactnativeconfig library changes something on the machine , because next time fresh repo builds fine

[2021-01-19 10:02] xx007 commented on #11652
Do it according to your method, it is ok, network ok

I want to modified Mainnet with upstream RPC

So I modified the file src/status_im/utils/config.cljs
Also changed to custom_rpc

Because I am not a user, I coded as a developer. I want to write networkid directly in the code,

But after the change, the chat shows Offline after launching, and the wallet cannot be obtained

How should I change th

[2021-01-19 10:04] shivekkhurana opened #11659 "Keycard migration flow is missing the popup that informs user about migration success"
# Bug Report

## Problem
https://github.com/status-im/status-react/pull/11526#issuecomment-762736743

#### Expected behavior
Designs in comment linked above.

[2021-01-19 10:08] flexsurfer commented on #11657
it seems it makes changes in `~/Library/Developer/Xcode/DerivedData/`

[2021-01-19 10:23] guylouis commented on #11395
note:
it would make sense to have this banner only when the login screen is the login screen of a non-keycard account :)

[2021-01-19 10:40] jakubgs commented on #11657
Based on this error:
[code]
I found this comment:

https://github.com/invertase/react-native-firebase/issues/1667#issuecomment-463246823

[2021-01-19 12:30] jakubgs commented on #8512
I'm trying to build the recent `1.10.1` release via Fdroid docker image but the Gradle build in Nix fails with:
[code]
I'm confused as to how it knows about `/home/builder` if the build is pure and doesn't inherit OS env variables.

[2021-01-19 12:31] jakubgs commented on #8512
Ah, I already had this issue: https://github.com/status-im/status-react/issues/8512#issuecomment-661011683

[2021-01-19 12:34] johndejohn opened #11660 "Add group chat profile picture"
# Feature Issue
Let group chat admin add or managagable profile picture
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the implementation

[2021-01-19 13:39] johndejohn opened #11662 "Add Group invite with QR Code"
# Feature Issue
![Capture+_2021-01-19-16-38-46.png](https://user-images.githubusercontent.com/40263018/105042071-dc14f800-5a74-11eb-9e98-a2b314e241f9.png)
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description
[comment]: # (Describe the feature you would like and include designs and Fi

[2021-01-19 14:14] jakubgs commented on #11657
Looks like https://github.com/status-im/status-react/pull/11658 is a working fix.

[2021-01-19 16:14] #11657 closed, assigned to jakubgs

[2021-01-19 16:16] flexsurfer commented on #566
@cammellos is there a timer ?

[2021-01-19 16:34] qoqobolo opened #11664 "Error "Failed to create database.." while attempting to log in after log out"
# Bug Report

## Problem

If log out using the bottom "Sign out" in User Profile, then while attempting to log in an error appears and login is not possible until re-open the application.

#### Expected behavior

No error, can log in

#### Actual behavior

<img width="337" alt="Screenshot 2021-01-19 at 20 22 44" src="https://user-images.githubusercontent.com/67952253/105062496-f2be4d80-5a7a-11eb-9

[2021-01-19 17:14] jakubgs commented on #8512
I've updated the [F-Droid PR](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7179) with the release `1.10.1` in a branch with a small android fix - [`fdroid-test-release`](https://github.com/status-im/status-react/tree/fdroid-test-release) - but according to @licaon-kter its still wrong, an he linked this:

https://www.virustotal.com/gui/file/25da6ed1a277e1245480768f0dfe4c05aa7095440764b50d

[2021-01-19 17:23] jakubgs commented on #8512
I found out you can check for strings in an APK using `aapt` utility from Android SDK build tools:
[code]
But I can't find anything containing `google` or related:
[code]

[2021-01-19 17:25] jakubgs commented on #8512
Oh, but I can find even more by unpacking the APK with `apktool`:
[code]

[2021-01-19 17:49] cammellos commented on #11664
[code]
Seems like a status-go error, will take a look

[2021-01-19 20:08] cammellos commented on #11664
I don't think we have an issue here, basically that error is coming from a PR that I made
I created a manual build (but not published) with nightly parameters
I take tests have been running against it for some reason, is that possible?
(currently nightly and develop are fine, only my PR was giving that error)

[2021-01-20 09:17] qoqobolo opened #11665 "Youtube-link preview is resized incorrectly in chat view for videos with short title"
# Bug Report

## Problem

If send YouTube-link with a short title to the chat, its preview will be cropped relative to the title length.

#### Expected behavior

Standard preview size regardless of title length.

#### Actual behavior

<img width="262" alt="Screenshot 2021-01-20 at 12 18 50" src="https://user-images.githubusercontent.com/67952253/105146647-838b3c80-5b00-11eb-8ca6-64582b508482.png">

[2021-01-20 10:33] qoqobolo commented on #11664
Yes, it seems the manual build was taken by mistake. Everything is fine then. Sorry for bothering you.

[2021-01-20 10:33] #11664 closed, assigned to nobody

[2021-01-20 12:11] flexsurfer commented on #11569
fixed in develop

[2021-01-20 12:11] #11569 closed, assigned to flexsurfer

[2021-01-20 12:30] flexsurfer commented on #11257
@Serhy ?

[2021-01-20 13:13] flexsurfer commented on #11555
hey @qfrank we would like to include this one in the next release, any updates from your side? :)

[2021-01-20 13:30] churik commented on #11582
not reproducible anymore on nightly 20/01/21

[2021-01-20 13:30] #11582 closed, assigned to flexsurfer

[2021-01-20 13:33] Serhy opened #11667 "Can't connect wallet to zapper.fi (DeFi) in Status browser"
# Bug Report

## Problem

There is no permission access buttons (Accept/Decline) appears when I try to connect wallet in zapper.fi selecting 'Status' as wallet option to connect

#### Expected behavior

Can connect wallet to zapper.fi

#### Actual behavior

Engless spinner in Status browser when trying to connect to zapper.fi

<img width="314" alt="Screenshot 2021-01-20 at 15 26 03" src="https://u

[2021-01-20 13:36] flexsurfer commented on #11667
![image](https://user-images.githubusercontent.com/11790366/105182042-dbd83380-5b2c-11eb-88c1-8fb8e05ed3c2.png)

[2021-01-20 13:38] flexsurfer commented on #11667
its not a Status issues i guess, at least we have manual option and it works

![image](https://user-images.githubusercontent.com/11790366/105182226-1772fd80-5b2d-11eb-8bfc-96f2997f4833.png)

[2021-01-20 13:41] flexsurfer commented on #11565
https://stackoverflow.com/a/32638439

[2021-01-20 14:00] flexsurfer commented on #8282
fixed

[2021-01-20 14:00] #8282 closed, assigned to nobody

[2021-01-20 15:18] Serhy commented on #11257
This is a correct answer. If contract for starter pack distribution which is called was empty then there is no icons (this data pulled from contract).
I've checked in test network and icons are visible:

<img width="252" alt="Screenshot 2021-01-20 at 17 16 29" src="https://user-images.githubusercontent.com/8749671/105195647-80fe0680-5b43-11eb-8350-0572ec96e5f1.png">

Closing this issue

[2021-01-20 15:18] #11257 closed, assigned to nobody

[2021-01-20 16:26] qoqobolo opened #11670 "Mention disappears from the input field in chat view on Android"
# Bug Report

## Problem

When typing, the mention is not displayed in the input field.
Can be sent but in the input field looks like nothing has been entered.
The issue is not reproducible at the first attempt, i.e need to re-open the chat view.

#### Expected behavior

Mention is visible in the input field

#### Actual behavior

https://user-images.githubusercontent.com/67952253/105202897-c07823

[2021-01-20 16:47] qoqobolo opened #11671 "No name of the second user in the list of suggestions for mentions in 1-1 chat"
# Bug Report

## Problem

If start 1-1 chat with User A and type `@`, then his name will not appear in the list of mention suggestions, only mine.

#### Expected behavior

Both my name and the name of the second user are in the suggestions list

#### Actual behavior

<img width="341" alt="Screenshot 2021-01-20 at 20 30 14" src="https://user-images.githubusercontent.com/67952253/105205103-29609a80-

[2021-01-21 10:17] #11665 closed, assigned to nobody

[2021-01-21 10:51] #11635 closed, assigned to nobody

[2021-01-21 15:24] #8284 closed, assigned to nobody

[2021-01-22 08:37] qfrank commented on #11555
hi @flexsurfer , i have found the cause , updates coming soon~

[2021-01-22 12:31] Serhy opened #11674 "Token balance not fetched when on Mobile network"
# Bug Report

## Problem

When login to account under mobile network, even the 'Use mobile data' option is enabled, - all token balances are not shown (shown as `...`). `Scan tokens` and pull-to-refresh in wallet account doesn't help. However, re-enabling `Use mobile data` in the same session makes `Scan tokens` option work again.

#### Expected behavior

Tokens appear after using 'Scan tokens' wh

[2021-01-22 17:32] hesterbruikman commented on #11613
@flexsurfer, for the gas estimation when replacing a tx, wondering if this Infura update makes a difference: https://blog.infura.io/announcing-our-acquisition-of-any-sender-and-the-alpha-release-of-infura-transactions/

(Even though we would probably want a more self-reliant solution eventually as goes for use of Infura in general)

[2021-01-23 13:52] qfrank commented on #11555
corresponding [PR](https://github.com/status-im/status-go/pull/2125)

[2021-01-25 09:12] cammellos commented on #11620
Don't fetch data from partitioned topics that are not yours (this is currently a bug). We need to create a topic because we want to post to it, but we should never fetch data from it.

Both have been addressed, another issue that I came up against is that my app made after 24 hours of being offline:

17 requests against the mailserver, each asking for 1000 messages,that means that the query return

[2021-01-25 09:37] errorists opened #11675 "Improved `Start New Private Chat` interface"
# Problem
The scope of this issue is to implement the redesigned changes to the Start New Chat interface. It's an improvement over the current one in clarity and use experience.

## Implementation
![Frame 50](https://user-images.githubusercontent.com/4932774/105687806-2e349e00-5ef9-11eb-9ea8-34f872f814a4.png)

:art: [Figma can be found here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat

[2021-01-25 10:03] cammellos commented on #11620
The code was still using bloomfilters, there was yet another place where that was not passed :(

[2021-01-25 14:14] #11570 closed, assigned to rasom

[2021-01-25 16:00] errorists opened #11678 "Add a dedicated Token Details view"
# Feature Issue

Scope of this feature is to add a dedicated view to track token value across time, up-down % trends and perform all interactions for that token. This view would be accessed by tapping on a token in your wallet.
_Outside of scope: it would also be presented when you 'mention' token in chat by prefixing it with `$` character (type `$snt` creates a link to this details view in a mess

[2021-01-25 16:55] Samyoul commented on #11644
First step to implementing this feature, the json list of on ramps https://github.com/status-im/crypto-on-ramps

[2021-01-26 09:36] guylouis commented on #11644
list of URLs for the initial list

- wyre -> https://pay.sendwyre.com/purchase
- moonpay -> https://buy.moonpay.com/
- transak -> https://global.transak.com/
- ramp -> https://ramp.network/buy/
- localcryptos -> https://localcryptos.com/

[2021-01-26 09:42] rasom opened #11681 "[wallet] Reduce the number of RPC request by inactive users"
# [wallet] Reduce the number of RPC request by inactive users

Significant part of our users is more insterested in chat functionality than in wallet, and that means we don't really need to watch their addresses for incoming/outgoing transfers unless we spotted that those users have some activity related to the wallet.

## How it works currently:
- We check transfers history every 20 mins

## How

[2021-01-26 10:58] Samyoul commented on #11644
@guylouis in case you missed it yesterday these links are implemented in the [on ramps json document](https://github.com/status-im/crypto-on-ramps). Any changes to the links can be addressed in this repo.

[2021-01-26 11:27] qoqobolo opened #11683 "Can't fetch message history after rejoining a public chat"
# Bug Report

## Problem

If join a public chat, delete it and join it again, there will be no history for the day that was already fetched before deletion

#### Expected behavior

Can get history after rejoining

#### Actual behavior

https://user-images.githubusercontent.com/67952253/105839394-b4bcae80-5fd1-11eb-912a-17cd690532c6.mp4

### Reproduction

- Join public chat
- Navigate to home scree

[2021-01-26 12:18] cammellos commented on #11602
This has now been merged.

[2021-01-26 12:18] #11602 closed, assigned to cammellos

[2021-01-26 12:18] cammellos commented on #11618
This has now been merged.

[2021-01-26 12:18] #11618 closed, assigned to cammellos

[2021-01-26 13:01] cammellos commented on #11683
This is due to the added message caching, we should be clearing the cache when this happen.
I will take a look  at it

[2021-01-26 13:05] Samyoul commented on #11644
The PR for the go code https://github.com/status-im/status-go/pull/2131, currently in draft but as it stands this PR will get the on ramp data from the https://github.com/status-im/crypto-on-ramps repo. I'll add some caching so we are not hammering github or whatever other service we may choose to use in the future.

[2021-01-27 09:35] flexsurfer commented on #11651
React native PR : https://github.com/facebook/react-native/pull/30057 here you can find issues

[2021-01-27 10:43] hesterbruikman opened #11688 "Rename History node to Status node"
## Problem
For consistency across app and comms on status.im and to lateron promote running a Status node, the naming 'Status node' is preferred. See also this [thread on Discord](https://discord.com/channels/624205794384281629/689475399586938931/803844381727522857)

#### Expected behavior
Glossary refers to Status node
Sync settings refers to Status node

#### Actual behavior
Glossary refers to H

[2021-01-27 13:48] qoqobolo opened #11690 "Invisible digits in Request transaction dialog in 1-1 chat on Android"
# Bug Report

## Problem

If open the `Request transaction` dialog in 1-1 chat and enter some ETH, digits in the field will be invisible.

#### Actual behavior

https://user-images.githubusercontent.com/67952253/105999465-0470a800-60ae-11eb-9c2f-310fb81eb568.mp4

### Reproduction

- Open 1-1 chat
- Initiate the `Request transaction` dialog
- Enter some ETH

### Additional Information

- Status ver

[2021-01-27 14:49] guylouis commented on #11644
decided on 27/11 with the team, that for a first iteration we'll keep the list of services static (the JSON file), embedded in the code. This is to avoid having to share the user IP adress to the server hosting the JSON file (e.g github).

[2021-01-27 15:50] #11651 closed, assigned to flexsurfer

[2021-01-28 02:52] johndejohn opened #11693 "Browser add search engine. duckduckgo etc.. Or user select preferences"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the implementation should cover. E.g. New users, existing users, public ch

[2021-01-28 12:57] #11690 closed, assigned to flexsurfer

[2021-01-29 00:19] qfrank commented on #4391
looking into this~

[2021-01-29 15:21] cammellos opened #11699 "Pinned messages in chats"
As a user
I want to be able to pin messages
So I can welcome new joiners with important information
So I can keep important messages visible

### Description

We want to allow users in a group chat to pin messages.
This should work for private group chats, one-to-ones and community chats.
Public chats are excluded.

The way it works is that pinned messages will be ordered just like normal messages

[2021-01-29 15:23] guylouis commented on #6640
replaced by #11699

[2021-01-29 15:23] #6640 closed, assigned to nobody

[2021-02-02 10:00] churik opened #11703 "No way to sign in to opensea"
# Bug Report

## Problem
"Check on OpenSea" on wallet account redirects to opensea.io, and user can't login (no option for status account, so web3 permission window doesn't appear, Sign in button doesn't do anything)
![IMAGE 2021-02-02 10:59:25](https://user-images.githubusercontent.com/4557972/106583752-b9d7ab80-6545-11eb-83d0-2fa85d042005.jpg)

#### Expected behavior
can sign in to OpenSea (or t

[2021-02-02 10:43] flexsurfer opened #11704 "Android 11 flatlist performance degradation"
## Problem

UI is slow and laggy

https://www.reddit.com/r/reactnative/comments/l04qz9/android_11_real_device_performance/

Visually difference is:
Galaxy S20 with One UI v3.0: https://drive.google.com/file/d/1seJrP8hosUaXidjMF4YOahUBlnzZESei/view?usp=sharing
Galaxy S8 with One UI v1.0: https://drive.google.com/file/d/1yf8aoXFgVlzbmTkG08w_WeW_bSi3bRq5/view?usp=sharing

[2021-02-02 12:28] bitgamma opened #11706 "signing typed data with wrong chain ID fails without proper error message"
# Bug Report

## Problem

When signing a typed message, the chain ID is part of the message being signed. If this differs from the currently selected network, hashing the message fails (correctly). However this failure is not caught/shown anywhere and the user is still prompted to tap their card. At this point the process stalls, with the NFC prompt showing "Processing" forever. The user can only

[2021-02-02 12:29] bitgamma commented on #11706
/cc @guylouis @gravityblast

[2021-02-02 16:15] #11703 closed, assigned to nobody

[2021-02-03 08:18] linceaerian opened #11708 "[Android] Register 2nd password Autofill does not work & no paste option available"
# Bug Report

First of all, Hello Maintainer & Devs :)

## Problem

Second password prompt during register attempt does not accept "paste" (not shown in interface)
and does not trigger "Autofill" correctly.

#### Expected behavior

Either having autofill working or at least being able to paste the password.

#### Actual behavior

![Screenshot_2021-02-03-08-59-33-265_im status ethereum](https://use

[2021-02-03 10:47] #11674 closed, assigned to rasom

[2021-02-03 11:30] #11688 closed, assigned to nobody

[2021-02-03 15:53] qoqobolo opened #11710 "Mentions are not counted when shortening long messages"
# Bug Report

## Problem

If paste to the input field a message with a length of 4096 chars, it will be impossible to continue typing. But if delete one char, type `@`, and select any mention from the suggestions list, it will be inserted into the message, although its length will be >4096 chars.

Also, if send a message containing >30 mentions it will be sent, but **will never be received by the

[2021-02-03 16:42] qoqobolo opened #11711 "Mention in push notification is displayed as chat key on Android"
# Bug Report

## Problem

Mention in PN is displayed as chat key, instead of a 3-random user name or ENS.

#### Expected behavior

A 3-random user name or ENS is shown in PN

#### Actual behavior

<img width="356" alt="Screenshot 2021-02-03 at 17 37 57" src="https://user-images.githubusercontent.com/67952253/106778721-8f214c00-6646-11eb-95fd-4ce3bdc2bb90.png">

### Reproduction

Device A (Android)

[2021-02-03 17:11] johndejohn opened #11712 "Let waku broadcast mode as option for send message"
# Feature Issue
I know waku protocol is main feature of this project more secure, decentralized and p2p. But the waku broadcast eating too much battery and data usage. Maybe, let whisper waku broadcast as option mode in setting (Users can enable or disable the feature) for messaging, it can be increase the usability.
And add additional layer in waku protocol, direct p2p(not broadcast) the message

[2021-02-04 08:33] churik commented on #10678
closed as it fixed in current develop

[2021-02-04 08:33] #10678 closed, assigned to antdanchenko

[2021-02-04 11:13] jakubgs opened #11713 "iOS builds failing due to unaccepted privacy statement"
We've been seeing failing iOS builds due to the following error:
[code]
https://ci.status.im/job/status-react/job/combined/job/mobile-ios/8685/

[2021-02-04 11:15] jakubgs commented on #11713
This started yesterday, and we tried a bunch of things. Like trying to log in all users in the ORG - and remove some - to see if any of them get the privacy statement to acknowledge. But none of that worked. This idea came from:

https://github.com/fastlane/fastlane/issues/12675#issuecomment-395927914

[2021-02-04 11:16] jakubgs commented on #11713
I also found some issues with login on `macos-01`:

![image](https://user-images.githubusercontent.com/2212681/106885286-ad3c8a00-66e2-11eb-89b4-20fe08419fb7.png)

![image](https://user-images.githubusercontent.com/2212681/106885299-b168a780-66e2-11eb-8325-3ab6f9fa38c3.png)

![image](https://user-images.githubusercontent.com/2212681/106885316-b7f71f00-66e2-11eb-9138-8f1e9750bee9.png)

![image](htt

[2021-02-04 11:17] jakubgs commented on #11713
Today I found this issue which appears to have a lot of :+1: and affects a lot of people: https://github.com/fastlane/fastlane/issues/18098

[2021-02-04 11:20] jakubgs commented on #11713
This comment provides a good summary: https://github.com/fastlane/fastlane/issues/18098#issuecomment-773208059

The issue appears to be caused by Apple starting to enforce the requirement for 2FA, which `auto@status.im` doesn't have.

In general there are 3 options:

* Use [App Store Connect (ASC) API Key](https://docs.fastlane.tools/app-store-connect-api/) - Robust and what Apple wants us to use

[2021-02-04 11:21] jakubgs commented on #11713
I've decided to go the [ASC API Key](https://developer.apple.com/documentation/appstoreconnectapi/creating_api_keys_for_app_store_connect_api) and to create one I needed to log in as the Holder of our Apple account.

I'm seeing this:
![image](https://user-images.githubusercontent.com/2212681/106885889-8a5ea580-66e3-11eb-8602-cdcfaeb9d472.png)

[2021-02-04 11:22] jakubgs commented on #11713
After accepting I can create the API keys:
![image](https://user-images.githubusercontent.com/2212681/106886000-ae21eb80-66e3-11eb-9af6-b770833f5ff4.png)

[2021-02-04 11:23] jakubgs commented on #11713
There are different roles you can pick. I'll start with App Manager and go from there:
![image](https://user-images.githubusercontent.com/2212681/106886123-d14c9b00-66e3-11eb-9e47-ba67ee4c4a7f.png)

[2021-02-04 11:45] jakubgs commented on #11713
I've added the ASC API credentials to Jenkins credentials, there's the PR: https://github.com/status-im/status-react-jenkins/pull/22

[2021-02-04 12:13] jakubgs commented on #11713
And here's the PR for this repo: https://github.com/status-im/status-react/pull/11714

[2021-02-04 12:48] jakubgs commented on #11713
It's green, the fix works: https://ci.status.im/job/status-react/job/prs/job/ios/job/PR-11714/2/

[2021-02-04 14:10] #11713 closed, assigned to jakubgs

[2021-02-04 14:19] qoqobolo opened #11715 "Improvements for remote push notifications on Android and iOS: add sound, redirect to the chat, show a content in PN"
### User Story

As a user, I want:

- Сan tap PN and be redirected to the chat
- Can see the content of the message in PN
- Can receive push notifications with sound

### Description

When tapping on notification, app is opened, after log in, chat is opened in which the user received a message.
When a notification is received, it displays the message content.
User can set sound for PNs in settings

[2021-02-04 15:23] errorists opened #11716 "Implement new Connectivity dialogues and remove 'Offline' snackbars"
# Problem
Currently we display prominent 'Offline' snackbars whenever mail server connection is lost. This is misleading in setting the expectation that all messaging is offline when that's not the case. In addition the interface used to capture communication around network state is too prominent prominent compared to the kind of reliability that's experienced.

## Implementation
![](https://user-

[2021-02-04 16:55] #11670 closed, assigned to cammellos

[2021-02-04 16:55] #11671 closed, assigned to cammellos

[2021-02-05 06:44] oskarth commented on #11712
We agree that bandwidth usage is a problem for Waku v1! Current development is happening under Waku v2. See:

https://vac.dev/waku-v2-plan and https://github.com/status-im/nim-waku/

[2021-02-05 07:02] #11607 closed, assigned to nobody

[2021-02-05 07:57] cammellos commented on #11712
Closing this for now, thanks @oskarth for answering and thanks @johndejohn for the question

[2021-02-05 07:57] #11712 closed, assigned to nobody

[2021-02-05 09:42] churik commented on #11706
@bitgamma I believe that is the reason why signing in to CryptoKitties is not working with keycard?
![IMAGE 2021-02-05 10:26:32](https://user-images.githubusercontent.com/4557972/107015011-9f4b3f80-679c-11eb-81c1-50ae2fd005cd.jpg)
After signing I see that user was signed out immediately, so dapp not usable with keycard on nightly 05/02/21

[2021-02-05 09:49] bitgamma commented on #11706
@churik yes this is probably related. I will investigate those issues together

[2021-02-05 09:50] churik commented on #11706
actually I deleted comment because after 3d attempt I could login normally, so not sure what happened. also will investigate from my side

[2021-02-05 11:14] flexsurfer commented on #6375
Implementation notes : https://notes.status.im/-iLVTV7ESK68JCFc0AzvmQ?both
Blockers: https://notes.status.im/-iLVTV7ESK68JCFc0AzvmQ?both#2-persists-scroll-position-between-chats
Miro board: https://miro.com/app/board/o9J_kjoK_tI=/

[2021-02-05 15:13] #11117 closed, assigned to rasom, Samyoul

[2021-02-08 08:40] churik commented on #11175
after https://github.com/status-im/status-react/pull/11653 PNs for commands in chat are not working anymore, so feature is the same for IOS and for Android.

[2021-02-08 11:46] cammellos commented on #11699
@gravityblast @bitgamma @guylouis clarified with @errorists and left a note in the task:
From a user profile, you always see the message pinned your one to one chat with them, regardless of where you access it from.
Left a note in the task as well.

[2021-02-08 12:27] flexsurfer commented on #566
again?

[2021-02-08 14:21] cammellos opened #11724 "[Spike] Investigate using a replacement for RN FlatList"
# Problem

As part of https://github.com/status-im/status-react/issues/6375
we started hitting some FlatList limitations.
The one that we most struggled with is inserting messages on both ends so we can implement pagination on both sides.
In this spike we should try out different react native list implementations to see if there's a suitable replacement out-of-the-box.

## Acceptance criteria

- L

[2021-02-08 15:10] #11580 closed, assigned to shivekkhurana

[2021-02-08 15:21] flexsurfer commented on #11724
we could look at this component : https://github.com/Flipkart/recyclerlistview

[2021-02-08 15:23] flexsurfer commented on #11724
How Discord achieves native iOS performance with React Native: https://blog.discord.com/how-discord-achieves-native-ios-performance-with-react-native-390c84dcd502

Current implementation: https://notes.status.im/-iLVTV7ESK68JCFc0AzvmQ?both

[2021-02-09 09:21] guylouis commented on #11699
@errorists @cammellos
rules for pining are clear. What about unpinning though ? which of the two following logic are we doing:
i/ an admin (group chat, community) or participant (1-1 chat) can only unpin his own pinned messages
ii/ an admin (group chat, community) or participant (1-1 chat) can unpin pinned messages from other admin or the other participant (1-1 chat)

[2021-02-09 10:51] shivekkhurana commented on #11659
@hesterbruikman On successful migration to Keycard, the "get started" screen pops up instead of the chat pane. But the [UI suggests showing a popup message](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8192%3A466) on the chat screen instead. Do you want to get rid of the "get started" screen on migration?

[2021-02-09 12:32] churik opened #11728 "No picture in preview for youtube and github links"
# Bug Report

## Problem
After enabing preview for giphy.com no more pictures for Github and Youtube links are shown.

#### Expected behavior
can see link preview with images

#### Actual behavior
![IMAGE 2021-02-09 13:28:04](https://user-images.githubusercontent.com/4557972/107363584-a47cf700-6ada-11eb-8ec2-096877a22edf.jpg)

### Reproduction

[comment]: # (Describe how we can replicate the bug s

[2021-02-09 13:15] Serhy opened #11729 "No connection with Keycard when sending transaction on Galaxy S20"
# Bug Report

## Problem

On Galaxy S20 (Android 11) when I try to sign transaction, - on the step to hold the card -  the Keycard is not recognised. It keeps the message 'Still looking for card...'. Neither haptic feedback occurs.
However, if I turn OFF and back ON the NFC reader from setting and again hold the card - keycard recognised fine.
It's not happening when login in to account or changin

[2021-02-09 13:52] flexsurfer commented on #11729
ping @bitgamma

[2021-02-09 14:54] bitgamma commented on #11729
@Serhy could you try also the build at https://github.com/status-im/status-react/pull/11540 ? since there have been some changes to connection handling on the Android side as well, it would be interesting to see if it has any effect

[2021-02-09 15:40] Serhy commented on #11729
@bitgamma yes, it's indeed all good with latest build (https://status-im-prs.ams3.cdn.digitaloceanspaces.com/StatusIm-210209-143341-9ee9f5-pr-universal.apk) from #11540
Great, thanks for update!
I keep this issue open though, until #11540 is merged.

[2021-02-09 15:46] #11728 closed, assigned to cammellos, shivekkhurana

[2021-02-09 17:33] errorists commented on #11699
`ii` is the correct way to go considering `i` may end up with orphaned messages as the person who pinned their message may no longer be in the chat to remove them

[2021-02-10 01:55] johndejohn opened #11731 "Public chat hastag # name input other languages"
# Feature Issue
![Capture+_2021-02-10-04-57-13.png](https://user-images.githubusercontent.com/40263018/107453683-7e983680-6b5c-11eb-8fba-d8670548ff5d.png)

### User Story
As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description
[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the implem

[2021-02-10 12:35] churik opened #11733 "Can't send images > 1 MB from IOS"
# Bug Report

## Problem
The standard size for photos / selfies, made from IPhone 12 is > 2 MB.
At attempt to send any standard photo from gallery or directly from camera image message including description is not sent.
Note: the same photos are sent fine from Android device (Xiaomi Mi Note 9, Android 10)
Currently, the same behavior is in Release 1.10.

#### Expected behavior
Message is sent

###

[2021-02-10 12:53] churik commented on #11733
The compressed  image is 628 kb and it still couldn't be sent
[status_logs.zip](https://github.com/status-im/status-react/files/5958263/status_logs.zip)

[2021-02-10 14:31] flexsurfer commented on #11395
@guylouis is there a figma link ?

[2021-02-10 15:57] Serhy opened #11735 "Different account restored after "Move keystore file" to keycard on Galaxy S20"
# Bug Report

## Problem

When moving multiaccount keystore file to keycard with respective feature, - there is a different account restored from the same seed phrase which were used for multiaccount recovered on device keystorage.
However on login screen I see "correct" account (public key), - after login in to it there is a different address and public key. For note: this "different" account is

[2021-02-10 16:05] Serhy commented on #11735
@bitgamma if you may suggest where I can look more here let me know please.
Also, I retested that scenario with my account seed phrase in (https://status-im-prs.ams3.cdn.digitaloceanspaces.com/StatusIm-210209-143341-9ee9f5-pr-universal.apk) from #11540 and it reproduced there.

[2021-02-10 17:39] Serhy commented on #11735
It turns out the reason of above issue is in pasting of seed phrase from clipboard.
If I type seed phrase then all behaves fine.
'Enter seed phrase' UI behaves correctly if user has entered whitespace at the beginning/end, or different seed phrase - the error pop-up 'Seed phrase is not match' appears. But in my case seed phrase correct and no any UI errors. Additionally the same approach with anot

[2021-02-11 08:45] cammellos commented on #11667
Tested and it's fixed in develop/1.11, feel free to re-open if it's still an issue

[2021-02-11 08:45] #11667 closed, assigned to nobody

[2021-02-11 08:46] #11652 closed, assigned to nobody

[2021-02-11 08:46] cammellos commented on #11731
Thanks, we don't allow characters for security reasons as it would make easier to spoof chat names

[2021-02-11 08:46] #11731 closed, assigned to nobody

[2021-02-11 09:05] cammellos opened #11737 "Remove image metadata before sending"
As a user
I want the app to remove any image metadata before sending
So I don't have to disclose it when sending images

### Description
All the metadata should be removed before sending an image

### Technical implementation

https://github.com/scottleedavis/go-exif-remove is an example, we don't have to use the library necessarily but might help

[2021-02-11 09:45] cammellos opened #11738 "Add our.status.im link unfurling"
As a user
I want to be able to see a preview for our.status.im
So that I can see that content without having to leave the app

[2021-02-11 09:46] cammellos opened #11739 "Add medium.com link unfurling"
As a user
I want to be able to see a preview for medium
So that I can see that content without having to leave the app

[2021-02-11 09:52] flexsurfer commented on #11737
its already removed when we resize and compress image https://github.com/status-im/status-react/issues/10769

[2021-02-11 09:52] #11737 closed, assigned to nobody

[2021-02-11 09:59] cammellos commented on #11737
Oh thanks, a user mentioned that it wasn't so I assumed it wasn't :)
I'll get back to them!

[2021-02-11 10:08] flexsurfer commented on #11555
great job @qfrank it seems status-go is ready to be merged we need to resolve conflicts , merge and create PR in status-react, cc @cammellos

[2021-02-11 19:00] hesterbruikman commented on #11659
Apologies for the late reply @shivekkhurana

I think a popup on top of the chat screen is better in this case such that you can see the impact of migration on your chats. I suspect it's reassuring to immediately see your chats have remained unaffected if your db was not reset and informative to see your chat list is empty if your db was deleted. In both cases with a modal on top, but in context of

[2021-02-12 09:21] churik commented on #10874
Not relevant in 1.11

[2021-02-12 09:21] #10874 closed, assigned to nobody

[2021-02-12 09:38] churik commented on #10875
Still relevant in 1.11

[2021-02-12 09:39] churik commented on #10876
still relevant in 1.11

[2021-02-12 09:45] churik commented on #10895
still relevant on 1.11

[2021-02-12 09:46] churik commented on #11001
relevant on release 1.11

[2021-02-12 09:51] churik commented on #11003
not relevant on 1.11 - can see ENS name in PN

[2021-02-12 09:52] churik commented on #11176
still relevant on release 1.11

[2021-02-12 09:57] churik commented on #11711
not reproducible on nightly 12/02 in 1-1, group and public chats

[2021-02-12 09:57] #11711 closed, assigned to nobody

[2021-02-12 10:38] Serhy opened #11742 "Error when redeeming TORN token from tornado.cash"
# Bug Report

## Problem

Originally reported by user that he is not able to redeem TORN tokens using the status wallet. transaction failing with the following error:

`cannot unmarshal non-string into Go struct field SendTxArgs.value of type *hexutil.Big`

Can't reproduce because I don't have TORN tokens to redeem :(

#### Expected behavior

Can redeem vTORN tokens from https://app.tornado.cash/a

[2021-02-12 10:39] qoqobolo opened #11743 "App crashes if tap "Connect" multiple times while switching between Mainnet and Ropsten"
# Bug Report

## Problem

If quickly tap "Connect" multiple times while switching from Mainnet to Ropsten or vice versa and press
"Confirm" two times, the app will crash after the second press.

#### Expected behavior

No crash

#### Actual behavior

https://user-images.githubusercontent.com/67952253/107758131-bfdc4200-6d26-11eb-93ef-016d1cd07eee.mp4

#### Notes

On Android, the app crashes more o

[2021-02-12 11:14] shivekkhurana commented on #11735
@Serhy What happens if you logout of this restored (Complete Disguised Jackal) ? Do you see this on the multiaccount list or the original account (Lightsalmon Wry Javalina) ?

If you see "Lightsalmon Wry Javalina", and you login again, what do you see on the profile page?

[2021-02-12 11:17] shivekkhurana commented on #11659
I didn't suggest getting rid of the popup. The success popup is a good thing.
The question was about the ["getting started" screen](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4540%3A13440).

[2021-02-12 12:40] hesterbruikman commented on #11659
So ideally, the pop up is shown on top of chat screen. The getting started screen would not be part of this flow.

[2021-02-12 16:13] Serhy commented on #11735
@shivekkhurana Yes, when login out or Force Stop of Status and opening Status - there is always on login screen `Lightsalmon Wry Javalina` (original correct account) and `Complete Disguised Jackal` on Profile screen after login in.

Another note: after all above steps when we migrated to Keycard, -if I recover my original account with seed phrase - it recovers fine. Mean that inside DB there is a

[2021-02-13 00:57] acolytec3 commented on #10794
Someone just asked me about this in the Status discord so thought I'd mention it here.  That reference to "look up the name on Etherscan" isn't helpful since Etherscan (at least per the instructions) doesn't show you the label hash.  I did some digging on the ENS site and [here](https://docs.ens.domains/contract-api-reference/name-processing#how-do-i-find-the-labelhash-namehash-of-a-name) they pro

[2021-02-14 02:17] johndejohn opened #11745 "Chat id route"
# Feature Issue
./src/status_im/router/core.cljs

The public and group chat Id routing in or from  join.status.im ? and it can be route to decentralise ?

![Screen Shot 2021-02-14 at 04.33.28.png](https://user-images.githubusercontent.com/40263018/107866599-ac92b900-6e83-11eb-972b-4751a824f01d.png)

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[

[2021-02-14 18:49] adamsoffer opened #11746 "Add support for the WalletConnect protocol"
# Feature Issue

### User Story
As a user, I want my Status wallet to support the WalletConnect protocol so that I can use my wallet inside defi desktop and mobile dapps such as Zerion.

[2021-02-15 08:04] cammellos commented on #11746
Thanks for the feature request, currently wallet connect 1.0 relies on a centralized server, so we are opting and working together with the creators of wallet connect 2.0 for a protocol built on waku.
cc @oskarth

Closing for now as will be tracked somewhere else.

[2021-02-15 08:04] #11746 closed, assigned to nobody

[2021-02-15 08:06] cammellos commented on #11745
Unfortunately that's not possible, as universal links don't allow it. Though if you have the app already installed it won't be hitting the https endpoints.

Thank you

[2021-02-15 08:06] #11745 closed, assigned to nobody

[2021-02-15 08:53] shivekkhurana commented on #11735
This is really weird and abrupt. As of now, the Keycard migration process is just the "Restore using seed phrase" flow without the initial steps.

The image that you posted with the same account stored on Keycard and the device is an illegal state and should never occur.

1. Were you able to reproduce this step with other seed phrases?
2. Can you send me the seed phrase of `Lightsalmon Wry Javalin

[2021-02-15 10:01] Serhy commented on #11742
Attached [geth.log](https://github.com/status-im/status-react/files/5980790/geth.log) and [Status.log](https://github.com/status-im/status-react/files/5980791/Status.log) from user report

[2021-02-15 11:42] #11428 closed, assigned to nobody

[2021-02-15 11:45] flexsurfer commented on #11704
https://github.com/facebook/react-native/issues/30034

[2021-02-15 11:51] flexsurfer commented on #11704
for messages we use an inverted flatlist, and it has issues on some phones with Android 11

[2021-02-15 12:51] #11739 closed, assigned to cammellos

[2021-02-15 12:51] #11738 closed, assigned to cammellos

[2021-02-15 13:52] #11704 closed, assigned to nobody

[2021-02-15 16:39] hesterbruikman opened #11751 "Let user change language in Settings"
# Problem
It is often difficult for translation contributors to see the context in which copy appears, as a result translations don't always fit context or UI. Allowing translation contributors to easily switch language in the app helps them review and adapt copy in context

## User story
As a translation contributor I want to view the app in my native language, without having to change the langua

[2021-02-16 14:44] johndejohn opened #11755 "Bottom bar not showing well in dark/light appearance"
# Problem
![Capture+_2021-02-16-18-04-29.png](https://user-images.githubusercontent.com/40263018/108081451-09f45900-7082-11eb-91ce-ff35c54fd7b4.png)
![Capture+_2021-02-16-18-05-00.png](https://user-images.githubusercontent.com/40263018/108081482-1082d080-7082-11eb-8ee6-432512c0664c.png)

## Implementation
Known steps towards feature implementation.
What needs further specifying and investigating.

[2021-02-16 15:26] #11716 closed, assigned to flexsurfer

[2021-02-17 00:09] johndejohn opened #11757 "Add in group chat send/receive transactions feature"
# Feature Issue

Add in group chat send and receive payments feature

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the implementation should cover. E.g. New users, existing users, public chat, group chat, etc)

[2021-02-17 11:10] bitgamma commented on #11706
turned out to be more of an UX problem, I updated the description accordingly. I also separated the other issue which I was investigating together with this since they turned out not to be related.

[2021-02-17 11:15] bitgamma opened #11759 "Sign with Keycard doesn't use the correct account when signing messages/typed data"
# Bug Report

## Problem

When signing a message or typed data from a dApp using Keycard, the sign method is called without a path, which would use the current path on card instead of the active account. When using the default account this does not give problems, but when addings accounts to the multiaccount it means the signature generated will be wrong one.

## Steps to reproduce

Using a Keycar

[2021-02-17 11:15] bitgamma commented on #11759
/cc @guylouis @gravityblast

[2021-02-17 12:03] cammellos commented on #11644
Closing this, it has been merged

[2021-02-17 12:03] #11644 closed, assigned to cammellos, Samyoul

[2021-02-17 13:47] flexsurfer commented on #11755
thanks @johndejohn could you tell phone model and android version

[2021-02-17 13:49] flexsurfer commented on #11755
https://github.com/status-im/status-react/pull/10846/files

[2021-02-17 14:03] johndejohn commented on #11755
I tested LG G6 and Samsung S10+
Android 9 and One UI

[2021-02-17 14:10] flexsurfer commented on #11755
thanks, @churik @Serhy  did we break it at some point?

[2021-02-17 14:17] errorists opened #11760 "Allow copying and pasting of images in chat's input"
# Problem

Scope of this issue is to allow pressing in the chat input to evoke the native actions tooltip, select paste from it (if an image is present in clipboard) and following that, this image would be loaded into the input as if it was selected from other sources (gallery, camera).

## Implementation

[Design](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=6990%3A226)

Multi

[2021-02-17 15:38] guylouis opened #11762 "Do not show keycard upsell banner when user has another account with keycard"
related to #11395

as a user
if one of my multiaccount is stored on keycard on my device
and I am logging to another account on the same device that is not stored on keycard,
then I don't want to see a banner to upsell me Keycard
because I already know about keycard

[2021-02-17 16:48] churik commented on #11755
Works for me as expected on Android 10 (Xiaomi Mi Note 9 pro)
@Serhy @qoqobolo please check on your devices also, thanks.

[2021-02-17 17:08] johndejohn commented on #11755
Now looks working well some unknown reason in dark mode

I just restart the phone.

![Capture+_2021-02-18-01-59-36.png](https://user-images.githubusercontent.com/40263018/108279029-01d51000-718d-11eb-9256-8f7b350140ee.png)

[2021-02-17 17:13] qoqobolo commented on #11755
It looks fine on Google Pixel 2 (Android 11) as well.

[2021-02-17 17:23] errorists commented on #11755
@flexsurfer hey any ideas what's up with the `+` icon next to `Add to contacts`, why it's so big?

[2021-02-17 17:50] flexsurfer commented on #11755
@errorists OMG, have no idea

[2021-02-18 12:12] churik opened #11764 "Data that was added before pairing devices is not synced anymore across synced devices"
# Bug Report

## Problem
Regression issue after #11744
Contacts / nicknames / public chats that were added prior to device pairing, are not syncing after initial sync.
Blocker for tests 6317,5762.

#### Expected behavior
Contacts / nicknames / public chats appear on device 2

#### Actual behavior
Nothing appears after initial sync

#### Acceptance Criteria

 tests 6317,5762 are passed

### Reprodu

[2021-02-18 12:13] churik commented on #11764
cc @flexsurfer

[2021-02-18 13:00] churik opened #11765 ""Manage keys and storage" screens show top padding (or margin)"
# Bug Report

## Problem
Leftover from https://github.com/status-im/status-react/pull/11540#issuecomment-780611335

## ISSUE 16: all screens in "Manage keys and storage" should be aligned with design.
![photo_2021-02-17 15 54 13](https://user-images.githubusercontent.com/4557972/108221737-6914a500-7138-11eb-8a1f-302780260517.jpeg)
<img width="579" alt="photo_2021-02-17 15 50 06 jpeg 2021-02-17 15-

[2021-02-18 14:52] cammellos opened #11767 "Implement swipe-to-delete gesture in chat view"
As a user
I want to be able to swipe on a chat in the home view and delete a chat
So that I can delete a chat quickly

### Description

A user should be able to delete a chat by swiping on it on the home view.

We want any of the `quo/list-item` to be able to have this functionality, so the component should be generic.

It's fine for the scope of this task to just remove the chat from the re-frame

[2021-02-18 20:27] johndejohn opened #11769 "Reply to audio message with audio message ?"
# Feature Issue
Long press reply to audio message with audio message, text or save audio something?

![Capture+_2021-02-18-23-32-05.png](https://user-images.githubusercontent.com/40263018/108417882-95681880-7241-11eb-9d87-1509cc694120.png)

### User Story
As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description
[comment]: # (Describe the feature you would like and include d

[2021-02-18 22:47] johndejohn opened #11770 "Public chat spam filter feature ?"
# Feature Issue
You can block them, but they also create new account send again...

![Capture+_2021-02-19-01-32-16.png](https://user-images.githubusercontent.com/40263018/108431759-5becd880-7254-11eb-975e-979d55680044.png)

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description
[commen

[2021-02-19 01:26] johndejohn opened #11771 "Audio message playing automatically stop when scroll down in the chat"
# Bug Report
Tested in Android 9
## Problem

An overview of the background required to understand the problem.
A problem description.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

#### Notes

For the developer who will b

[2021-02-19 09:16] churik opened #11772 "NFC connection errors at attempt to use keycard on IPhone 7"
Leftover from #11540
In general connection is unstable, and to create multiaccount I could from 4th attempt (NFC reader on device is working, can use it in other applications)
After creating account couldn't login.

Tried > 5 times - no successful login after you log out from app.
Once got crash.

**Steps:**
1) restore multiaccount from seed phrase (store on keycard)
2) log out
3) try to login

**

[2021-02-19 09:26] #10013 closed, assigned to gravityblast, bitgamma

[2021-02-19 09:46] bitgamma commented on #11729
@Serhy #11540 just merged

[2021-02-19 10:27] cammellos opened #11775 "Unfurling of a community link in chat"
As a user
I want to see a community link unfurled in chat
So that I can see what the community is about without having to go to the preview page

### Description

If a user sends a community link in the form of `https://xxxxx/community-pk` (TBD), we should (possibly optionally) unfurl the link.

To unfurl this link we should make a request to a mailserver with a specific topic based on the public

[2021-02-19 12:16] Serhy commented on #11729
Thanks @bitgamma ! Can't reproduce anymore this bug with develop build on Galaxy S20.
Closing this issue.

[2021-02-19 12:16] #11729 closed, assigned to bitgamma

[2021-02-19 13:14] Serhy commented on #11735
Hey @shivekkhurana as discussed on Discord I'm not really comfortable to share my account seed phrase for now :)
I also tried several more different seed phrases and they behaved fine.
Also, I noticed one thing:
On the main Seed Phrase recovery view (`Open Status` -> `Access Existing keys` -> `Recover with seed phrase`) we trim seed phrase value when entered. So if there are whitespaces at the beg

[2021-02-19 13:25] guylouis opened #11777 "Enable keeping database when migrating account to keycard"
relates to #11431 "Migrate account to a regular keycard from logged out "Manage keys and storage"

When solving #11431 we intentionally left out the case where the user wants to keep its data base when migrating. So the user is forced to reset its database and the check box is checked and greyed out in flow like this https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8218%3A745

[2021-02-19 13:33] bitsikka commented on #11770
I have thought about this problem and would like to note it down here.

### For the current public chat feature
We could perhaps have an opt-in, BrightID verified filter one can activate for a given public chat, to only see BrightID verified user's messages. On top of that if one blocks a BrightID verified user for distasteful speech, the offending user cannot come back again and again to disturb

[2021-02-19 13:34] guylouis opened #11778 "Enable migration to keycard from signed-in state"
relates to #11431 "Migrate account to a regular keycard from logged out "Manage keys and storage" and epic #11237

when solving #11431 we sticked to the case where the user starts the flow fro a signed out state, and begins by chosing the multiaccount he wants to migrate in the list of multiaccounts

this issue is about proposing the same migration flow from a signed-in state

Design
https://www.f

[2021-02-19 18:26] johndejohn commented on #11770
I think the app bundle with device hardware info, wifi mac address, model number etc.. , will much pratic and easy way to avoid create spam accounts.
And the user, use bundled app, just could create few accounts. max 5 accounts limit something.
Prevent spam chat also need to waku filters

![Capture+_2021-02-19-21-10-15.png](https://user-images.githubusercontent.com/40263018/108544138-19300c80-72f7

[2021-02-19 19:03] bitsikka commented on #11770
Cool 👍🏽 !

Hadn't thought about it in those ways. Thanks!

There definitely are various ways to prevent reasonable amount and types of spam, perhaps with various tradeoffs.

I'd imagine the tradeoffs would have to be weighted in terms of privacy, security, performance, and practicality; As well as whether it is a global and top-down enforced rule, or peer-to-peer and bottom-up enforcement.

Curiou

[2021-02-20 11:12] johndejohn opened #11779 "Add in public and group chat or community, feedback feature ?"
# Feature Issue
Looks the reaction emoji section can be add the feedback feature

![Capture+_2021-02-20-14-30-35.png](https://user-images.githubusercontent.com/40263018/108642701-e7b26f00-74b7-11eb-8b41-850a59e4dca3.png)

### User Story
As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description
[comment]: # (Describe the feature you would like and include designs and Figma li

[2021-02-22 10:37] #11759 closed, assigned to bitgamma

[2021-02-22 13:38] cammellos opened #11780 "Not all messages are fetched from nodes when many on the same topic"
Not all messages are fetched from the status node when joining a chat with many messages:

### Steps

1) Join `test100`
2) Wait for all the messages to be received
3) Open chat

### Expected

4) All messages from 21->1 are there

### Actual

4) There are gaps between messages

[2021-02-22 13:54] churik opened #11781 "Chat transaction commands in PR/nightly builds (ropsten)"
# Problem

Due to gas price testing of commands is too expensive, it should be possible to test them on Ropsten at least in PR builds (ideally in nightly builds also)

## Acceptance Criteria

Enabled commands in 1-1 chat on Ropsten

[2021-02-22 15:25] bitgamma commented on #10985
most likely fixed when merging #11540, can be closed?

[2021-02-23 11:24] #10985 closed, assigned to nobody

[2021-02-23 12:18] shivekkhurana commented on #11765
<img width="388" alt="Screenshot 2021-02-23 at 5 47 21 PM" src="https://user-images.githubusercontent.com/1925158/108842382-328ace80-75ff-11eb-8374-76a59b35ad50.png">

https://discord.com/channels/624205794384281629/626738033701683200/813745275083948092

[2021-02-23 12:36] jakubgs commented on #8512
Our update to `fdroiddata` has been merged 2 days ago: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7179

According to the docs:

https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md#merge-requests

So I assume we have to wait a bit.

[2021-02-23 12:37] jakubgs commented on #8512
One thing that makes me wonder is if the fact that there's already an app named Status in F-Droid could be a problem:

![image](https://user-images.githubusercontent.com/2212681/108844347-4b35bd00-75dc-11eb-9e97-32d5f79a2d8d.png)

https://f-droid.org/en/packages/com.james.status/

I doubt it.

[2021-02-23 12:39] jakubgs commented on #8512
According to these docs our screenshots and other metadata should be automatically pulled from our `fastlane/metadata` folder:

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/#fastlane-structure

[2021-02-23 12:47] licaon-kter commented on #8512
The app was built, waiting for "deploy" as the cycle ends

Ref: https://f-droid.org/wiki/index.php?title=Special:RecentChanges&days=7&from=&hidebots=0&hideanons=1&hideliu=1&limit=500

[2021-02-23 12:49] jakubgs commented on #8512
Oh, thanks for explaining. I can see it was built successfully here:

![image](https://user-images.githubusercontent.com/2212681/108845677-00b54000-75de-11eb-9935-8fb662860753.png)

https://f-droid.org/wiki/page/im.status.ethereum/lastbuild_2021021509

So that bodes well.

[2021-02-23 13:43] flexsurfer commented on #11555
ping @qfrank @cammellos

[2021-02-23 14:13] qfrank commented on #11555
hi @flexsurfer , just back from Spring Festival , sorry for the late response, i'll resolve it tomorrow :)

[2021-02-23 15:05] churik opened #11786 "Pinned custom status node disconnected after relogin"
# Bug Report

## Problem
In  >50% cases custom mailserver is disconnected after relogin.
It is blocker for part of 5767 e2e.
![image](https://user-images.githubusercontent.com/4557972/108862793-dd47c080-75f0-11eb-8145-86bf21ba9a68.png)

#### Expected behavior
Connected to custom mailserver

#### Actual behavior
Connected to another mailserver

### Reproduction

[comment]: # (Describe how we can re

[2021-02-23 16:48] #11439 closed, assigned to vkjr

[2021-02-23 17:15] #10259 closed, assigned to bitgamma

[2021-02-23 21:34] johndejohn opened #11789 "Wallet pop-up Ui in dark mode"
Looks there need to the pop-up corner framing will better in dark mode.

# Problem
![Capture+_2021-02-24-00-29-21.png](https://user-images.githubusercontent.com/40263018/108911033-bf517e80-7637-11eb-97bc-6dc092294dba.png)

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

[2021-02-23 22:15] johndejohn opened #11790 "Wallet sync able to enable/disable feature ?"
# Feature Issue

The status node(mail server) can be enable or disable.
There ethereum network block fetching also have to be enable or disable sync feature.
The user may just use chatting, not wallet. And this save data and phone battery.

![Capture+_2021-02-24-01-00-27.png](https://user-images.githubusercontent.com/40263018/108914718-d6469f80-763c-11eb-8576-ba167d45c3ae.png)
![Capture+_2021-02-2

[2021-02-24 10:50] jakubgs commented on #8512
I've thought of a way to make the build definition less verbose - which I should have done earlier - in https://github.com/status-im/status-react/pull/11791.

This would make the definition for next version much slimmer:
[code]

I'm wondering if F-Droid has a policy of not changing previously released versions. If not I guess it's fine as it is.

[2021-02-24 10:57] licaon-kter commented on #8512
We have, we don't modify already built :)

[2021-02-24 11:23] jakubgs commented on #11683
Not sure if this is the same issue, but if you use `Clear history` and then `Fetch messages` the same thing happens: nothing.

[2021-02-24 11:41] cammellos commented on #11683
same issue, yes

[2021-02-24 19:01] jakubgs commented on #8512
Okay, I can see a deploy has taken place:
![image](https://user-images.githubusercontent.com/2212681/109051378-c2517b00-76da-11eb-8b69-5d90fd5e5606.png)

And the app page is now available:
https://f-droid.org/en/packages/im.status.ethereum/

But I don't see it anywhere in search results when searching for `status` or `ethereum`:
https://search.f-droid.org/?q=status&lang=en
https://search.f-droid.o

[2021-02-24 19:02] jakubgs commented on #8512
Ah, but I can see it in the app search:
![image](https://user-images.githubusercontent.com/2212681/109051832-39870f00-76db-11eb-8238-2b124ad8abc4.png)

[2021-02-24 22:07] iurimatias commented on #11699
adding link https://github.com/status-im/status/issues/11

[2021-02-25 07:48] jakubgs commented on #8512
But the site search still does not return it:

![image](https://user-images.githubusercontent.com/2212681/109119931-9d462200-7745-11eb-902a-07391628cbc0.png)

[2021-02-25 09:00] subeeeee commented on #4050
!! 我也遇到了一样的问题

[2021-02-25 09:24] licaon-kter commented on #8512
Yeah, search is work in progress both website and in client, things are moving for the better

"status" works but not "Status" :)

[2021-02-25 09:26] licaon-kter commented on #8512
BTW, when will the website be updated with the F-Droid badge too?

[2021-02-25 09:34] jakubgs commented on #8512
That's already being done as part of https://github.com/status-im/status-react/pull/11791.

[2021-02-25 09:36] licaon-kter commented on #8512
I meant on https://status.im :D

[2021-02-25 09:38] jakubgs commented on #8512
That requires CSS magic, and I don't touch that.

[2021-02-25 09:43] jakubgs commented on #8512
@jinhojang6 could you take a look at adding an F-Droid download option to our website?

This might be a good opportunity to also refactor out the download badges as a separate partial/template:
https://github.com/status-im/status.im/blob/master/themes/navy/layout/index.ejs#L13-L17

[2021-02-25 10:25] qoqobolo opened #11795 "Keycard icon overlaps long 3 random name on "Your keys" screen"
# Bug Report

## Problem

Keycard icon overlaps long 3 random name on "Your keys" screen

#### Expected behavior

Line break or dots at the end of a long name

#### Actual behavior

Device: iPhone SE

<img width="356" alt="Screenshot 2021-02-25 at 11 13 49" src="https://user-images.githubusercontent.com/67952253/109138324-8a8a1800-775a-11eb-8308-77ef90c1021d.png">

### Reproduction

- Create keyca

[2021-02-25 11:06] #11762 closed, assigned to nobody

[2021-02-26 09:23] churik commented on #11795
@bitgamma @gravityblast  please, take a look if you have a chance, thank you!

[2021-02-26 09:44] bitgamma commented on #11795
is this really iOS only or can it be reproduced on Android devices with low-res screens?

[2021-02-26 10:39] guylouis commented on #11395
**Problem**
after some discussions, it was considered that the banner defined above is too intrusive and pushy for our users
- it's a bit pro-eminent
- it's shown each time a user signs in his non-keycard account

**Solution:**
- change the banner to this one which is smaller and can be clicked out
https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=8469%3A28991
- the banner sho

[2021-02-26 13:33] churik opened #11797 "Communities issues"
Umbrella issue for leftovers from https://github.com/status-im/status-react/pull/11566

### 1. Reply option is shown on read-only chats on long tap on messages

 **Steps:**
 - as user A: create community (require approval), create chat and send some message
- as user B: import community, join
- as user B: long tap on message in chat
**Expected result:**
Reply is not available
 **Actual result:**
!

[2021-02-26 13:37] guylouis commented on #11213
@qoqobolo from your testing and remarks here https://github.com/status-im/status-react/pull/11653#issuecomment-774038002

would you say this one can be closed?

cc @cammellos

[2021-02-26 14:01] qoqobolo commented on #11213
@guylouis

in this PR, of all the acceptance criteria, the following were implemented:

- When user is mentioned and has local notifications on Android enabled, mention notification appears when the app is closed
- When tapping on mention notification, app is opened, after log in, chat is opened where user was mentioned

So closing is at your and @cammellos discretion.

[2021-02-26 14:35] #11743 closed, assigned to nobody

[2021-02-27 00:11] johndejohn opened #11798 "Swipe left/right to switch the main screen feature"
# Feature Issue
![Capture+_2021-02-27-03-05-17.png](https://user-images.githubusercontent.com/40263018/109368221-7a348300-78a9-11eb-9baf-df059c605c2e.png)

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the impl

[2021-03-01 00:09] johndejohn opened #11799 "Timeline privacy feature?"
# Feature Issue

I see everyone can watch everyone's timeline whithout permission.
There must be a privacy feature, let who can see the timeline contents.
1. Just in contact's persons
2. Everyone
3. Just me
4. etc..
5. etc..

### User Story
![Capture+_2021-03-01-02-57-09.png](https://user-images.githubusercontent.com/40263018/109438517-759fd400-7a3b-11eb-92d1-37093bcf89d7.png)
As a <user|developer

[2021-03-01 00:15] #11755 closed, assigned to nobody

[2021-03-01 11:18] flexsurfer commented on #11555
@churik @qoqobolo merged in develop, so can be tested with the latest nightly

[2021-03-01 11:21] flexsurfer commented on #11795
its not an ios issue, we had it before for long names , so i guess its fine, it should be fixed in list component

[2021-03-01 15:26] #11764 closed, assigned to flexsurfer

[2021-03-01 15:34] cammellos opened #11806 "Send notification on receiving a request for a community (android)"
[code]

### Description

A notification should be visualized on someone receiving a notification, if clicked on, it should take the user to the list of membership requests.

This is only for android devices.

Part of https://github.com/status-im/status/issues/75

[2021-03-01 15:36] cammellos opened #11807 "Send notification on receiving a request for a community (ios)"
[code]

### Description

A notification should be visualized on someone receiving a notification, if clicked on, it should take the user to the list of membership requests.

This is only for ios devices.

Part of https://github.com/status-im/status/issues/75

[2021-03-01 15:39] cammellos commented on #11654
I believe this can be closed now, open if necessary, thanks!

[2021-03-01 15:40] cammellos commented on #10895
I believe this should be fixed in latest develop, could you please test it @churik if you have some time?
feel free to close if fixed, thanks!

[2021-03-01 15:41] churik commented on #10895
right. it is fixed, thank you!

[2021-03-01 15:41] #10895 closed, assigned to nobody

[2021-03-01 15:56] guylouis opened #11808 "Notification settings for mentions on Android"
Relates to #11213

This issue is about allowing users to setup in notifications preferences in android, how they want their @mentions notifications

- [ ] User can disable Show @mentions in Notification preferences on Android

- [ ] When `Show @mentions is disabled, local notifications are no longer received

- [ ] User can Hide message content and sender in Notification preferences on Android

-

[2021-03-01 15:56] guylouis commented on #11213
thanks @qoqobolo

Let's have this one closed, and part of 1.12 release.

I have created a new issue #11808 for the missing settings for mentions notification which are
- User can disable Show @mentions in Notification preferences on Android
- When `Show @mentions is disabled, local notifications are no longer received
- User can Hide message content and sender in Notification preferences on Androi

[2021-03-01 15:56] #11213 closed, assigned to nobody

[2021-03-01 16:10] jakubgs opened #11809 "Remove or upgrade react-native-device-info to 7.4.0"
# Description

The dependency on `react-native-device-info` is causing our APK to include Google dependencies that we do not use or want.

Because of this we were force to make a separate branch called [`fdroid-release/1.11.x`](https://github.com/status-im/status-react/tree/fdroid-release/1.11.x) as a [dirty fix](https://github.com/status-im/status-react/commit/f010a0cd8897077bfc9b8864cdb019ae8655

[2021-03-01 16:14] cammellos commented on #11809
we can't remove referrer code as it's actively used

[2021-03-01 16:17] jakubgs commented on #11809
This project upgraded to `v8.0.0` to fix this issue: https://github.com/MBach/LeMondeRssReader/pull/36

[2021-03-01 16:22] jakubgs commented on #11809
You can verify if the build includes GoogleAPI stuff by disassembling to built APK using:
[code]
And then search the resulting unpacked APK for instances of `googleapi` with `grep`/`ack`/`ag`.

[2021-03-01 16:23] jakubgs commented on #11809
I'm also adding a `make release-fdroid` target in https://github.com/status-im/status-react/pull/11791 but I'm not sure if it's ready yet.

[2021-03-01 16:25] jakubgs commented on #11809
As far as I understand this stuff:
https://github.com/status-im/status-react/blob/f71faee5c2a869485e9dfafe3de5e704838a6ca2/src/status_im/utils/config.cljs#L47
https://github.com/status-im/status-react/blob/f71faee5c2a869485e9dfafe3de5e704838a6ca2/src/status_im/acquisition/core.cljs#L111-L123
Might not be necessary after you've upgraded this dependency. But not sure.

[2021-03-01 16:59] flexsurfer commented on #11809
[code]

[2021-03-01 17:00] flexsurfer commented on #11809
@jakubgs i can build dev build just fine but have error above when building realease

[2021-03-01 17:04] jakubgs commented on #11809
Have you done `make nix-update-gradle`? Seems like it changes some dependencies.

[2021-03-01 17:05] flexsurfer commented on #11809
yes

[2021-03-01 17:15] jakubgs commented on #11809
The missing library is:
[code]
But we clearly have that included in our dependencies:
[code]

[2021-03-01 17:16] jakubgs commented on #11809
OH WAIT, i think i get it

[2021-03-01 17:18] jakubgs commented on #11809
The issue isn't `junit-jupiter-api`, it's `junit-bom`:
[code]
Which is related to newer version of Gradle, as I mentioned in https://github.com/status-im/go-maven-resolver/pull/5.

In that case I had trouble with:
[code]
But this appears to be an issue specifically related to Gradle 6, and we are still on Gradle 5.
https://github.com/status-im/status-react/blob/293fd5fae1d35551e8d801de81bffabf8ca4

[2021-03-01 17:20] jakubgs commented on #11809
Although if we look at the `build.gradle` of `react-native-device-info` it shows to default to `4.4.1`:
[code]
https://github.com/react-native-device-info/react-native-device-info/blob/v7.4.0/android/build.gradle#L10

[2021-03-01 17:22] jakubgs commented on #11809
Ah yes, Gradle Build tools `4.1.0` are indeed the issue:

![image](https://user-images.githubusercontent.com/2212681/109533962-1a152b00-7abb-11eb-86d0-974767c14f57.png)

https://developer.android.com/studio/releases/gradle-plugin

[2021-03-01 17:23] jakubgs commented on #11809
So either we have to apply the https://github.com/react-native-device-info/react-native-device-info/pull/1153 fix before https://github.com/react-native-device-info/react-native-device-info/commit/b79d6ca8232c4a7a8306b00933f31af0dc8fb2e9 was added and changed the default Gradle Build plugin version from `3.6.3` to `4.1.1`, or we have to upgrade to Gradle 6.

[2021-03-01 17:28] jakubgs commented on #11809
They did leave a possibility of overriding the `4.1.1` default with `buildGradlePluginVersion`:
[code]
So in theory we could try reverting it back to `3.6.3` by setting that.

https://docs.gradle.org/current/dsl/org.gradle.api.plugins.ExtraPropertiesExtension.html

[2021-03-01 17:56] jakubgs commented on #11809
I added the following line to `android/build.gradle` in the `ext` block:
[code]
But it fails the same way. I guess I'm missing something, or this just won't work.

[2021-03-02 06:13] flexsurfer commented on #11809
i guess its because of `if (project == rootProject) {`

[2021-03-02 06:15] flexsurfer commented on #11809
btw we also have `classpath "com.android.tools.build:gradle:${project.ext.gradlePluginVersion}"` where do we set it ?

[2021-03-02 06:58] flexsurfer commented on #11809
prepared a fork with reverted gradle https://github.com/status-im/react-native-device-info/commits/v7.4.0-gradle but it didn't help, same error

[2021-03-02 08:17] flexsurfer commented on #11809
@jakubgs

[2021-03-02 09:19] jakubgs commented on #11809
So I think my change in https://github.com/status-im/go-maven-resolver/pull/5 might actually be the fix.
I used the commit from the PR and ran `make nix-update-gradle` and it worked:
[code]
Maybe it might even work without the fork?

[2021-03-02 09:20] jakubgs commented on #11809
I'm gonna try reverting your last commit and see if that works too.

[2021-03-02 09:35] jakubgs commented on #11809
It worked without the fork added in 5b7389f5a. I'll try pushing without it.

[2021-03-02 10:47] #11765 closed, assigned to shivekkhurana

[2021-03-02 10:56] churik opened #11811 "Sometimes new transaction is not shown after coming back from background even after pull-to-refresh"
# Bug Report

## Problem
In ~30 % e2e  `test_send_eth_in_1_1_chat_transaction_push` failed on receiver side because confirmed transaction doesn't come (even after pull-to-refresh gesture on account view)

#### Expected behavior
transaction is received, balance is updated.

#### Actual behavior
 Balance 0 ETH is not changed during 400 seconds

#### Acceptance Criteria
6253 e2e is passed

### Reprod

[2021-03-02 11:16] Serhy opened #11812 ""Next" button hidden behind keyboard when moving multiaccount to keystore [iOS]"
# Bug Report

## Problem

Folllow up fix from https://github.com/status-im/status-react/pull/11784
It occurs on iOS only and in a case the seed phrase view visited the second time in a same app session.
Partially it's present on seed phrase view when recover non-keycard account but on seed phrase when Move to Keycard storage view it looks worse.
With this issue we need to fix both

#### Expected b

[2021-03-02 13:53] qoqobolo commented on #11654
@cammellos  Checked on develop, the issue is still reproducible, but steps are now in a different order:

1. Recover the same multiaccount on Device A and Device B
2. Open some User Profile on Device A, for instance from public chat. It doesn't matter if there are posts in his Status tab
3. Sync Device A and Device B
4. Check chat list on Device B

So I'll reopen this issue, but edit the title and

[2021-03-02 14:13] qoqobolo commented on #11555
Tested.
@qfrank thanks for the fix!
The issue can be closed.

[2021-03-02 14:13] #11555 closed, assigned to qfrank

[2021-03-02 15:25] cammellos commented on #11654
thanks, pushed a fix here https://github.com/status-im/status-react/pull/11813

[2021-03-02 15:58] #11809 closed, assigned to flexsurfer

[2021-03-02 16:24] jinhojang6 opened #11815 "GNT to GLM Migration was not implemented"
# Bug Report

## Problem

GNT(Golem Network Token) was migrated to GLM 3 months ago, but the Status wallet still uses GNT which was deprecated.
- Reference: https://blog.golemproject.net/gnt-to-glm-migration/

#### Expected behavior

Status wallet shows GLM and use the new smart contract address, 0x7DD9c5Cba05E151C895FDe1CF355C9A1D5DA6429

#### Actual behavior

Status wallet shows GNT and uses the

[2021-03-02 23:29] johndejohn opened #11817 "Audio recording noisy ? Quality low ?"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a <user|developer|...>, I want to <task> **so that** <goal>.

### Description

[comment]: # (Describe the feature you would like and include designs and Figma links if available.)
[comment]: # (Describe the use cases the implementation should cover. E.g. New users, existing users, public ch

[2021-03-03 08:58] cammellos commented on #11654
Merged in develop, closing again :)

[2021-03-03 08:58] #11654 closed, assigned to cammellos

[2021-03-03 09:49] cammellos opened #11818 "Improve translation process"
# Problem

The translation process is a bit rocky at this, as it's not well connected to the development process, which means that we always scramble last moment to add translations.

## Implementation

1) When sending a PR, we should check that `en.json` has new keys. If that's the case, merging the PR should be blocked unless screenshots are attached. We should provide a way for devs to override

[2021-03-03 10:57] churik commented on #11811
Also can be the reason of failed e2e with error:
`Balance ETH 0 is not changed during 400 seconds!`
Examples of failed e2e:
- 6253: [test_send_eth_in_1_1_chat_transaction_push](https://ethstatus.testrail.net/index.php?/tests/view/2177353)
- 6225:  [test_send_funds_between_accounts_in_multiaccount_instance](https://ethstatus.testrail.net/index.php?/tests/view/2177340)
- 6292: [test_keycard_send_fun

[2021-03-03 11:18] #11815 closed, assigned to flexsurfer

[2021-03-03 11:20] #11395 closed, assigned to flexsurfer

[2021-03-03 11:44] johndejohn opened #11820 "Can some " Pro contributer " tell me how to disconnect play store relation ?"
# Problem
I changed to the new keystrore, name in string etc.. Build it, and install my device. but still showing in play store " installed" as "status" app. Maybe there have a .json file ..
Or must to change ./status-go-version.json ?
Can someone directly tell me the file path have to change

Thanks to time saver pros;

![Capture+_2021-03-03-14-20-09.png](https://user-images.githubusercontent.com

[2021-03-03 13:10] hesterbruikman opened #11821 "Finetuning RPC calls for new accounts"
# Problem
#11723 optimizes the number of RPC calls based on user activity. This reduces unnecessary calls to Infura for 'chat-only' users; allowing to support more accounts without reaching daily limits of our Infura subscription.

The user activity that triggers RPC calls can be 'smarter' to ensure that in specific cases where the user expects a balance update, this appears without manual user ac

[2021-03-03 13:10] hesterbruikman commented on #11821
cc @rasom can you please check if this covers the improvements we discussed on Discord?

[2021-03-03 13:47] jakubgs commented on #8512
The new `v1.12.0` release has been cut, and this one will try out the new build setup introduced in #11791.

I've built the new release locally and it looks correct:
[code]
[code]

So I've created a PR for `fdroiddata`: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8489

It's marked as `work-in-progress` since our `release/v1.12.x` branch can still receive some patches before final release

[2021-03-03 14:06] jakubgs commented on #8512
This is interesting. When I run `lint im.status.ethereum` using the Docker image I get nothing:
[code]
But the PR build job is complaining about my formatting:

![image](https://user-images.githubusercontent.com/2212681/109817296-10fa9a00-7c32-11eb-8133-3affe827bb20.png)

[2021-03-03 14:10] jakubgs commented on #8512
My guess would be that the `registry.gitlab.com/fdroid/docker-executable-fdroidserver:latest` image must be outdated.

[2021-03-03 14:17] licaon-kter commented on #8512
Try `fdroid lint -f -v appid`

Anyway, run `fdroid rewritemeta -v appid` just to be sure.

[2021-03-03 14:49] jakubgs commented on #8512
I tried both and got thing.

[2021-03-03 15:02] churik opened #11822 "Own status updates are shown on other user profiles"
# Bug Report

## Problem
After posting something to your status it is shown on any other user profile

#### Expected behavior
Only status updates of another user is shown

#### Actual behavior
Can see own updates and other user profile statuses
https://user-images.githubusercontent.com/4557972/109825154-d1d04700-7c39-11eb-80b8-4322350797de.mp4

### Reproduction

- Open Status
- Post something to o

[2021-03-03 15:31] churik opened #11823 "After migrating multiaccount to keycard can't fetch transaction history and balance isn't fetched automatically"
# Bug Report

## Problem
If migrating recovered from seed phrase multiaccount to keycard, after login:
1) assets are not loaded automatically
2) can't load transaction history using pull-to-refresh

#### Expected behavior
- all assets are visible
- can load transaction history

#### Actual behavior
https://user-images.githubusercontent.com/4557972/109828916-5f616600-7c3d-11eb-9473-6499cefd74f6.mp4

[2021-03-03 15:55] jakubgs commented on #8512
Oh, it looks like the `sudo` section commands don't run within the repo:
[code]
Because it can't find our `Makefile` that defines `fdroid-nix-dir`. So I guess I'm forced to create the folder explicitly.

[2021-03-03 15:58] jakubgs commented on #8512
I guess I could just:
[code]
But that's not that much less verbose than:
[code]

[2021-03-03 16:00] churik commented on #11823
@rasom it is likely the regression from https://github.com/status-im/status-react/pull/11723

[2021-03-03 18:05] cammellos commented on #11817
Thanks for the question, unfortunately that'd due to the low bandwidth requirements of the waku protocol.

[2021-03-03 18:05] #11817 closed, assigned to nobody

[2021-03-03 21:33] johndejohn commented on #11817
The parasite noises could be remove..

[2021-03-04 07:02] #11820 closed, assigned to nobody

[2021-03-04 07:03] #11799 closed, assigned to nobody

[2021-03-04 07:03] #11798 closed, assigned to nobody

[2021-03-04 07:03] #11790 closed, assigned to nobody

[2021-03-04 07:04] #11779 closed, assigned to nobody

[2021-03-04 07:53] #11770 closed, assigned to nobody

[2021-03-04 07:54] #11769 closed, assigned to nobody

[2021-03-04 07:54] #11757 closed, assigned to nobody

[2021-03-04 08:03] rasom commented on #11823
@churik that happens only when account is recovered, but doesn't happen with a newly created account?

[2021-03-04 08:18] rasom commented on #11823
@churik
how exactly do I "Migrate multiaccount to keycard"?

[2021-03-04 08:30] rasom commented on #11823
ok, steps to reproduce could be reduced to
- restore multiacc to keycard

[2021-03-04 12:55] Serhy opened #11836 "java.lang.numberFormatException when receive TX in 1-1 chat. Can't proceed use Status after, - until Force Stop"
# Bug Report

## Problem

`java.lang.numberFormatException for input string ""` error appears when received transaction in 1-1 chat.
After tap on 'Exit' - can't proceed to use Status. It's frozen. When re-opening Status was stuck on logo screen (apparently it's enabled Notifications settings which plays role here of app stuck on  Status logo view because we keep running Status when Notification ON

[2021-03-04 13:28] churik commented on #11836
added to 1.12 as IMO it is really dreadful issue

[2021-03-04 15:04] guylouis commented on #11716
the screen I get is different from the designs, with a bottom part showing

![image](https://user-images.githubusercontent.com/11461437/109983384-0fe56d80-7d03-11eb-901e-a87fe39c7bc3.png)

I find the bottom part confusing because I read 'Use mobile data' and I don't immediately understand that it refers to the download of history message, but take it as a use 'mobile data with status' which is mor

[2021-03-04 16:24] hesterbruikman opened #11839 "Use disabled checkbox on Key management"
# Problem
The current implementation to the keystore file from a regular account to Keycard will always reset the database (until a future iteration is implemented). To manage this temporary dependency the design includes a 'disabled checkbox'.

### Current
Visual styling of the 2nd checkbox makes it look like it can be unchecked, while in fact this is not possible, as the 2nd check box is depende

[2021-03-04 16:42] guylouis commented on #11806
It would be nice if we could have a badge here showing that there are pending request for approvals:

![image](https://user-images.githubusercontent.com/11461437/109997713-c6038400-7d10-11eb-9c2c-0a86866c6f7d.png)

especially if the user has not acted on the notifications and has cancelled them, so that he sees that he has a couple of membership to accept/refuse

@errorists @cammellos

[2021-03-04 16:43] #11823 closed, assigned to rasom

[2021-03-05 04:33] flexsurfer opened #11840 "Share setting extension"
# Feature Issue

It should be possible to send setting in the chat as a message, so other user could use your settings

### User Story

As a community manager or participant i want to share community mailserver in the chat

As a user i want to share bootnode or maiserver in the chat

[2021-03-05 09:47] churik opened #11842 "Java error at attempt to unlock the multiaccount at attempt to restore exisiting multiaccount on device"
# Bug Report

## Problem
Regression issue likely after https://github.com/status-im/status-react/pull/11834
After attempt to restore existing multiaccount and use "Unlock" getting this error
![IMAGE 2021-03-05 10:37:00](https://user-images.githubusercontent.com/4557972/110096910-b894db00-7d9e-11eb-8afc-2065342e5de6.jpg)
After reopening app can login normally

#### Expected behavior
can unlock acco

[2021-03-05 10:21] churik opened #11843 ""Enable all" is disabled after relogin for 3 or 4 chat link previews after relogin"
# Bug Report

## Problem
If you use "Enable all" for chat link previews, after relogin some of them are disabled (giphy and medium, sometimes github) and need to be enabled again.

#### Expected behavior
all chat link previews are enabled by using "Enable all"

#### Actual behavior

https://user-images.githubusercontent.com/4557972/110101759-445d3600-7da4-11eb-8eea-6c6707618471.mp4

### Reproducti

[2021-03-05 11:04] jakubgs commented on #8512
Looke like this is still necessary because of `ENOSPC` errors:
[code]

[2021-03-05 11:10] licaon-kter commented on #8512
Yeah, a simple search for "node.js ENOSPC" popups a lot of results 🤷

[2021-03-05 11:15] jakubgs commented on #8512
I think it might make sense to do:
[code]
With targets I've added in https://github.com/status-im/status-react/pull/11845.
This way the purpose is self-explanatory via the targets themselves, and it's more concise.

Unless you have some reservations @licaon-kter.

[2021-03-05 13:00] #11842 closed, assigned to rasom

[2021-03-05 13:28] flexsurfer opened #11846 "Offload messages"
In this PR we've removed messages offloading on viewabe changed
https://github.com/status-im/status-react/pull/11754/files#diff-84be73c73188c18f0e2140a6bd999af01997782bb12ebe7379a74be57a51fe9fL34

Why message offloading was disabled in this PR

it conflicts with endreached event, we offload messages and then endreached event fired and we load 20 messages again. This happens also when sending messa

[2021-03-05 15:10] #11822 closed, assigned to flexsurfer

[2021-03-05 15:10] #11836 closed, assigned to cammellos

[2021-03-05 16:39] guylouis opened #11847 "Upsell keycard with notification for users with assets that are worth more than x"
relates to this MVP #11395

**issue with this MVP above**
it targets any user that doesn't have a keycard, without taking into account if the user has some value to protect or not
in particular the banner is thus shown to every single one of new status users that use a standard (non keycard account).
We want the upsell to be more tageted

**solution**
- when a user has on his device, on one of the

[2021-03-08 06:13] #9229 closed, assigned to bitgamma

[2021-03-08 08:52] hesterbruikman opened #11849 "Move pull to refresh to the main account to make it more easily discoverable"
# Problem
See also #11821

Currently, following #11723 the account balance is not automatically updated for newly generated accounts and imported accounts with zero value. The user can pull to refresh to start fetching balance. However, pull to refresh is currently only available on individual account screens, not on the account overview screen.

Especially for users with only one account, this ca

[2021-03-08 10:30] guylouis commented on #11335
closing this because it's not the short term plan anymore

[2021-03-08 14:29] cammellos opened #11852 "Add "delivered" message confirmations to private group chats"
[code]

### Description

Next to each private group sent chat message there should be an icon indicating the state of the message:

- The message is actually being sent (sending state)
- The message has been propagated to the network (sent state)
- The message has reached its destination (delivered state)

### Out of scope

- Public chats

### Designs
https://www.figma.com/file/aS1ct66VQ6V0cio7vSq

[2021-03-08 19:25] #11843 closed, assigned to flexsurfer

[2021-03-09 07:24] #11693 closed, assigned to nobody

[2021-03-09 07:32] flexsurfer opened #11855 "Messages rendering performance"
js thread with times on Android 6.0 device (6cpu1.8)
![image](https://user-images.githubusercontent.com/11790366/110433242-7c1ff280-80b0-11eb-9069-a14c8537fd6f.png)

As you can see there are 3 major parts we could improve
1) use js data (don't use js->clj)
2) improve dates preparation (probably move to status-go)
3) and most important improve items layout, if we use simple text component in the re

[2021-03-09 09:18] guylouis opened #11856 "Allow dApps to suggest change of RPC (EIP-3085)"
As a user, I want a dApp to be able to propose to me to switch the ethereum chain my wallet (and thus browser experience) is interacting with while I am browsing the dapps.

Metamask will use this EIP to do this https://eips.ethereum.org/EIPS/eip-3085 and we should follow the same standard because it's de facto the one that dapps will use

Considerations:
- security first. This is a sensitive feat

[2021-03-09 09:30] flexsurfer commented on #11855
receiving one new message
[code]

[2021-03-09 12:42] flexsurfer commented on #11797
Fixed following issues

- [x]  1. Reply option is shown on read-only chats on long tap on messages
- [x]  2. Can't set image from gallery as community icon (IOS only)
- [x]  3. Navigation: back from chat brings you to the chat list instead of chats inside community
- [x]  4. Navigation: leave community from "Members" page doesn't redirect you to chat list
- [x]  5. Placeholder for empty community

[2021-03-09 13:33] trosel opened #11859 "Do not scroll conversation view down during initial sync after being away for a long time"
# Bug Report

## Problem

When I tap on a channel in iOS that has had a lot of activity since I was last there, the new messages pop-in continuously until I have received the latest message on my device. Sometimes this can take a long time if there was a lot of messages. While this is happening, my view is being dragged downward with the latest messages.

If I want to "catch up" with the conversat

[2021-03-09 14:42] flexsurfer commented on #11859
thanks for the issue @trosel we have already similar one here https://github.com/status-im/status-react/issues/6375, so i'll close this one

[2021-03-09 14:42] #11859 closed, assigned to nobody

[2021-03-09 15:57] churik opened #11860 "After relogin on mobile network transaction history is reset (need to load it again) and "Load more" button doesn't do anything when open history for 1 time"
# Bug Report

## Problem
2 issues with transaction history on mobile network:

#### 1) When open transaction history for first time, "Load more" button doesn't do anything on click.
#### 2) No caching of transaction history in view, so after relogin on mоbile network (with "Use mobile data" = OFF) it is empty again
Also there is no indication that it should be pull-to-refresh to download transacti

[2021-03-10 08:05] flexsurfer commented on #11733
[code]

[2021-03-10 08:10] flexsurfer commented on #11733
@churik you say that its 628Kb how did you check that? im not sure what whese numbers are [1377157][1048576] but it seems like its a size of message and its more than 628

[2021-03-10 12:05] qoqobolo opened #11861 "App crashes if start migrating to Keycard until the Seed phrase screen is opened, press back and try to log in"
# Bug Report

## Problem

App crashes when trying to migrate from a regular account to Keycard if go through the "Key managment" screen, navigate to "Enter seed phrase" screen, return to the login screen and try to log in.
If try this flow on iOS device, User will be able to log in, but his multiaccount will be empty.

#### Expected behavior

Can be able to log to the regular multiaccount if the m

[2021-03-10 14:55] jinhojang6 opened #11864 "Loopring smart contract bug"
Like the GLM(Golem Network Token) [issue](https://github.com/status-im/status-react/issues/11815) we solved recently, one of our community members rasied an issue with the Loopring token(LRC).

Loopring token launched their second token
(ref: https://www.reddit.com/r/loopringorg/comments/c4u57w/loopring_and_loopringcoin_v2/)

So the smart contract address should be changed to `0xbbbbca6a901c926f24

[2021-03-10 15:18] qoqobolo opened #11865 "Cursor jumps if trying to set it to specific place in long message in input field (iOS only)"
# Bug Report

## Problem

If type or paste scrollable text message into the input field of any chat and try to place the cursor to some specific place in the text, it will jump to another random place.
Cursor placement works fine with long press.

#### Expected behavior

Can set the cursor to any place in long text with a quick tap.

#### Actual behavior

https://user-images.githubusercontent.com/

[2021-03-11 09:33] rasom commented on #11860
It can be reproduced in 1.11.1 as well.

[2021-03-11 13:37] guylouis commented on #11818
for 2. you mean localize right ?

[2021-03-12 09:36] guylouis commented on #11839
This looks like a bug remaining form PR "Migrate on-device accounts to keycard" #11526

@shivekkhurana if you can take a look at it whenever you have a chance, many thanks !

[2021-03-13 08:51] flexsurfer opened #11868 "timeline reloads when scrolling and load more messages"
timeline reloads when scrolling and load more messages

[2021-03-13 18:57] ckorder opened #11870 "Browser Enhancement - Settings spoof language + Adware / Malware blocker"
# Built-in browser lacks privacy and potentially security

I would love to see the feature enhancements for the built-in browser:

### Setting for spoofing language

On android the system language or the keyboard **language settings get automatically transmitted to websites**. It would be nice if this could be optional spoofed if the user enabled this within the settings area as well as the timezo

[2021-03-13 23:49] mxmzb opened #11871 "Show hint, that you can buy username only from predefined wallet"
_this should be a UI/UX improvement_

# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be informed that I need to transfer tokens only to the predefined main wallet to buy a username with it.

Back story: I played around with the app and created a second wallet. Then I transferred SNT to it to buy a username, just to rea

[2021-03-13 23:52] mxmzb opened #11872 "Make username purchasable through secondary wallets"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, you should be able to purchase a username from a secondary wallet.

### Description

This is a more sophisticated feature request for https://github.com/status-im/status-react/issues/11871

[2021-03-15 10:55] Serhy opened #11876 "User keeps staying in Pending after 'Decline' of it's request to join GroupChat"
# Bug Report

## Problem

In group chat when admin taps 'Decline' upon user request to join group chat, - this user keeps in 'Pending' list. It looks as nothing happens (on Admin side) but user who requested access receives 'Membership request was declined'.
Issue is on group chat admin side. All fine in Release 1.11.1

All good after re-login and also no issue when admin 'Accept's requests

####

[2021-03-15 14:21] qoqobolo opened #11877 "No push notifications for group chats on Android"
# Bug Report

## Problem

User doesn't receive push notifications for messages in group chats on Android device, except for invite and mention messages.

#### Expected behavior

PNs for all types of messages in group chats

#### Actual behavior

No PNs

### Reproduction

Device 1 (Android)
- Enable push notifications

Device 2:
- Add Device 1 to contacts
- Create a group chat with Device 1 (Device

[2021-03-15 17:08] #11797 closed, assigned to flexsurfer

[2021-03-15 19:29] #11681 closed, assigned to rasom

[2021-03-16 08:29] flexsurfer commented on #11596
| Table                                       | Rows  | Delta |
|---------------------------------------------|-------| -------|
| user_messages                               | 105,900 | +15,461
| blocks_ranges                               | **7** |
| contacts                                    | 20,500 | +3,426
| bundles                                     | 21,175 | +6,175
| push_notification_c

[2021-03-16 08:35] #11876 closed, assigned to flexsurfer

[2021-03-16 08:59] danimesq commented on #11344
@tom4399

[2021-03-16 09:43] Serhy opened #11879 "Blinking top bar of chat view when type first char in the input or after sending message [iOS]"
# Bug Report

## Problem

When user type the very first char in message input the top bar of chat view always blinks. The same when sending message.
Apparently it may be connected to appear-disappearing of the command-image icons located to the left of chat input when the first character appears(disappears) in the input.

Doesn't happen on Android.

#### Expected behavior

Chat view is static (no

[2021-03-16 09:53] Serhy commented on #11879
Also there is might be related minor issue to it (it's also only iOS when typing the first char)

If user user sent a mention in chat as the very first item in the message, - the next time this user starts to type a char in message input it's visible that this char has a colour of mention (but quickly backs to regular colour)

(Slowed down twice. Pay attention to the char in input when it changes

[2021-03-16 10:09] rapidddenis opened #11880 "Open user profile when tapping on user icon in 1-1 chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user i want to be directed to a user profile when tapping on a user icon in 1-1 chat instead of selecting “view profile” from menu
The same goes for a community profile

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: <Bug|Feature>

[comment]: # (Describe the feature you would like,

[2021-03-16 10:14] churik opened #11881 "Remove self-mentions"
# Problem
Currently self-mentions are useless and moreover can cause new issues (in some cases it can be shown as plain text or with redundant domain)
![photo_2021-03-16 09 55 06](https://user-images.githubusercontent.com/4557972/111292347-637f8180-8648-11eb-88d0-c5213b10fc50.jpeg)
<img width="397" alt="photo_2021-03-16 09 55 29 jpeg 2021-03-16 09-58-41" src="https://user-images.githubusercontent.

[2021-03-16 10:46] churik opened #11882 "Replace ` #status` with `#support` in Profile > Need help"
# Problem
Currently  "Request a feature" (Profile > Need help)  redirects to ` #status` channel.
Better to have more dedicated channel (suggested `#support` to handle these requests)

[2021-03-16 11:47] Serhy opened #11883 "Unread indicator re-appears for received message after relogin"
# Bug Report

## Problem

When user received messages in chat which already on foreground - we should mark them as "**read**", - however, - unread indicator re-appears  after user re-logins to account for all such messages.

#### Expected behavior

No unread message indicator for read messages after re-login to account

#### Actual behavior
Unread message indicator for read messages appears after

[2021-03-16 12:59] #11852 closed, assigned to cammellos

[2021-03-16 14:51] guylouis opened #11885 "Add ETH2x-FLI erc20 token in our default list of supported tokens in the wallet"
summary
add ETH2x-FLI erc20 token to our default list of erc20 token supported by the wallet

user story
a user holding ETH2x-FLI token in his wallet account should see in his list of assets the number of ETH2x-FLI tokens he holds

details
the token details are here
https://docs.google.com/document/d/1or50qQ6QNq-cugSpN0V4cMU9NyrMvXTsvAxqXVUdWCM/edit

[2021-03-16 14:54] guylouis commented on #11885
@j-zerah I have a doubt is the name of the token FLI or ETH2x-FLI ?

[2021-03-17 07:44] cammellos opened #11889 "Allow sending messages offline"
[code]

### Description

Currently the input is disabled if the user is offline.
We should allow the user to send messages when offline and make sure that they are sent once it goes back online.

### Technical implemnentation

For 1-to-1 & private group chat messages one way to do this is to "pause" datasync when offline, and restart it when the user is online, that should just work.

For public c

[2021-03-17 08:13] #11868 closed, assigned to flexsurfer

[2021-03-17 08:31] flexsurfer commented on #1125
https://f-droid.org/en/packages/im.status.ethereum/

[2021-03-17 08:31] #1125 closed

[2021-03-17 08:33] flexsurfer commented on #4391
cc @rasom

[2021-03-17 08:34] #5587 closed, assigned to jakubgs

[2021-03-17 08:58] flexsurfer commented on #1751
we clear storage on sign in because we don't want to share it between multiaccounts, so we need somehow store the previous account and clear only if it has changed

[2021-03-17 09:24] shivekkhurana commented on #11777
This feature requires a "password reset" feature as a foundation. ~I wasn't able to find an issue for that~ Issue link: https://github.com/status-im/status/issues/48

[2021-03-17 09:44] wighawag commented on #1751
Hi @flexsurfer , do you mean, you are planning to delete the storage if the user switch account back and forth ?

This would not be what users expect .You'll need to keep the local storage for each multi account separately, so they are retrieved when logged in.
if this is not possible, `localStorage.setItem` should then throw to not give false expectation to users and applications

[2021-03-17 09:56] flexsurfer commented on #1751
yeah , thanks, if possible we should first try to switch

[2021-03-17 09:56] #11882 closed, assigned to flexsurfer

[2021-03-17 10:20] #11880 closed, assigned to nobody

[2021-03-17 10:21] Serhy opened #11895 "No last message when opening chat but it was visible on chat-preview"
# Bug Report

## Problem

Sometimes it happens that message is received and it's visible on chat preview with unread indicator. But when opening this chat - message(s) are not visible for, relatively, quite a while (sometimes for 4-5 sec of top-level device, sometimes up to 10 seconds). Below are log for when delay of message appearance happened.

#### Expected behavior

Message is visible when op

[2021-03-17 10:22] Serhy commented on #11895
Will add more details once I have it.
Not reproduced in develop1.13 builds yet

[2021-03-17 10:29] jakubgs opened #11896 "F-Droid: Implement auto updates"
We have successfully deployed two versions of the Android app to F-Droid as part of #8512.

Right now the update process is manual and described in the [`doc/FDROID.md`](https://github.com/status-im/status-react/blob/develop/doc/FDROID.md) file. But it is possible to [automate this process](https://f-droid.org/en/docs/Update_Processing/) using the `AutoUpdateMode`, `UpdateCheckMode`, and `UpdateCh

[2021-03-17 10:29] jakubgs commented on #8512
The `1.12.0` has been released: https://f-droid.org/packages/im.status.ethereum/

![image](https://user-images.githubusercontent.com/2212681/111452447-d35a3e80-8712-11eb-9d44-7c28a510dae8.png)

And I've merged the last update to F-Droid docs in #11845 and I consider this done.

I have opened a separate issue for possible F-Droid auto-updates: https://github.com/status-im/status-react/issues/11896

[2021-03-17 10:29] #8512 closed, assigned to jakubgs

[2021-03-17 10:31] licaon-kter commented on #8512
Hope I didn't merge too early :)

[2021-03-17 10:32] licaon-kter commented on #11896
You can't install since Android doesn't allow this, different singnature.

[2021-03-17 10:51] jakubgs commented on #8512
It's fine. We're coming out with `1.12.1` soonish.

[2021-03-17 11:22] rapidddenis opened #11897 "No wallet support for https://marketplace.windingtree.com/"
# Bug Report

## Problem

Can’t create an account

#### Expected behavior

Selected status wallet used for creating an account

#### Actual behavior

Metamask used instead.

#### Notes

iOS

#### Acceptance Criteria

Rules for the future PR to be accepted.

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- ...
- Step 3, etc.

### Additional Infor

[2021-03-17 13:26] Serhy commented on #11895
Reproduced in nightly build.

However, it's not exactly the one I saw in release (plus below scenario is not reproduced in Release1.12), - current one is the something connected to navigation between screens.

**Reproduction**:
1) UserA and UserB joins same public chat (or group)
2) UserB sends text message in public chat
3) UserA taps UserB user icon to navigate to it’s profile -> and tap Chat fr

[2021-03-17 13:30] #11883 closed, assigned to flexsurfer

[2021-03-17 16:02] qoqobolo opened #11898 "Tokens disappear from the token list after adding a new account to Wallet"
# Bug Report

## Problem

If create a new account in Wallet that already contains some tokens, then after adding the account, tokens will disappear from the token list. Only tokens that were added to an additional account previously and have a positive balance will be displayed.

#### Expected behavior

All tokens are shown after adding a new account

#### Actual behavior

https://user-images.gith

[2021-03-17 17:35] hesterbruikman commented on #7642
Closing as no longer relevant since ENS registration is integrated

[2021-03-17 17:35] #7642 closed, assigned to nobody

[2021-03-17 17:39] hesterbruikman commented on #7996
Closing as I can no longer reproduce the issue (cc @Serhy @churik)

[2021-03-17 17:39] #7996 closed, assigned to nobody

[2021-03-17 17:44] #9289 closed, assigned to nobody

[2021-03-17 17:48] #9538 closed, assigned to nobody

[2021-03-17 17:51] hesterbruikman commented on #9607
Verify in current UI

[2021-03-18 00:31] licaon-kter commented on #11896
That's me the bot :)

Anyway, the `versionName` is more important as people tend to compare that between stores and then open issues with _"when is this going to be updated too"_

`versionCode` is usually not that visible.

[2021-03-18 09:23] #10242 closed, assigned to nobody

[2021-03-18 09:23] hesterbruikman commented on #10242
closing as pull to refresh was recently implemented https://github.com/status-im/status-react/pull/11478

Another issue to track moving it to the account overview screen here https://github.com/status-im/status-react/issues/11849

[2021-03-18 09:25] hesterbruikman commented on #10257
@corpetty is this issue still relevant? I'm checking what UI design is needed for the Network setting screens

[2021-03-18 09:44] hesterbruikman commented on #10392
Closing as I can no longer reproduce on iOS (1.12). Belief this is resolved as the bottom sheet no longer pops up automatically, but after tapping on 'no wifi' icon

cc @churik @Serhy

[2021-03-18 09:44] #10392 closed, assigned to nobody

[2021-03-18 10:10] hesterbruikman commented on #10643
Closing epic as issue is closed

[2021-03-18 10:10] #10643 closed, assigned to nobody

[2021-03-18 11:26] hesterbruikman commented on #11789
@errorists is this issue already included in #10721?

I found bottom sheet styling there, but no popup styling, not sure if the same can be applied

[2021-03-18 11:45] hesterbruikman commented on #11885
@simonricoo in the Google doc is a logo for the token. Can you please check if that one needs any changes/design to fit the token list?

[2021-03-18 11:51] hesterbruikman commented on #10594
First bullet captured in #11872

[2021-03-18 11:53] hesterbruikman commented on #11871
Thanks for raising this @mxmzb! I will close this issue as I 100% agree this should actually be resolved by allowing to select an account when registering an ENS name (as you decsribe in #11872)

cc @guylouis

[2021-03-18 11:53] #11871 closed, assigned to nobody

[2021-03-18 13:25] #11389 closed, assigned to nobody

[2021-03-18 13:27] #11387 closed, assigned to nobody

[2021-03-18 17:41] Serhy opened #11902 "Balance is not shown after account recover"
# Bug Report

## Problem

After account with funds recovered - there is no balance shown in Wallet right away. 'Scan Token' helps in that case or re-login to account also does the job.
It's on Ropsten test network (couldn't reproduce on Mainnet) with e2e.apk builds.

Also it's not reproducible with all the account with positive EHTro balance, however even then the fix for "specific"(provided in re

[2021-03-19 02:50] imrane commented on #11861
Is this iOS released in production on the AppStore? I can't see the key management option in mine.

[2021-03-19 04:38] flexsurfer opened #11904 "update swarm gateway"
new gateway https://gateway.ethswarm.org/bzz

[2021-03-19 08:31] churik opened #11906 "Can't send assets from wallet (IOS 14, IPhone 7 Plus)"
# Bug Report

## Problem
Reported by user, couldn't reproduce (iPhone 12 (IOS 14), iPhone 7 (IOS 13), IPhone 8 Plus (IOS 12))

<img width="347" alt="Screenshot 2021-03-26 at 12 43 52" src="https://user-images.githubusercontent.com/67952253/112626757-ec5ca100-8e30-11eb-80e7-76210e11e534.png">

#### Expected behavior
can send assets from wallet

#### Actual behavior

https://user-images.githubuserco

[2021-03-19 11:53] #11904 closed, assigned to flexsurfer

[2021-03-19 16:23] #11902 closed, assigned to rasom

[2021-03-21 11:12] rapidddenis opened #11912 "Add action icons under opened pic"
# Feature Issue

Right now when picture is opened, there is an ugly drop down menu with actions to do. This design is “slow” compared to usual set of actions icons under the picture.

### User Story

As a user I want to have more usual way of saving, sharing, etc. of pictures

![PNG image](https://user-images.githubusercontent.com/41779817/111902611-57802f00-8a4f-11eb-9d56-42fe8ba29c85.png)

[2021-03-22 08:34] #9719 closed, assigned to nobody

[2021-03-22 08:34] hesterbruikman commented on #9719
Captured in https://github.com/status-im/status-react/issues/10794

[2021-03-22 10:14] qoqobolo opened #11913 "Back gesture on Android"
### User Story

As a user, I want to use a swipe-to-back gesture in Status on Android devices.

### Description

Currently, users have to press the arrow to go back, even on Android devices that have the back gesture.

### Acceptance Criteria

Users can use the back gesture in the Status app on all Android devices that support this type of navigation.

### Notes

The feature request was originally

[2021-03-22 10:35] hesterbruikman commented on #11847
@guylouis Is the intention here to send a push notification or an in-app notification https://github.com/status-im/status/issues/35?

I'd prefer an in-app notification as a) it is less aggressive and b) can be timely as the user is likely interacting with the app when conditions are met. Potentially there is argument c) can also work on F-droid as it doesn't require push notifications dependencies

[2021-03-22 13:56] churik opened #11914 "Communities improvements"
## 1. Creating community process

### 1.1 [Design] No community colour (M)
![image](https://user-images.githubusercontent.com/4557972/111962943-438e0900-8af3-11eb-9190-d7e721dbe181.png)
### 1.2 [ISSUE] after setting profile image option "Remove" is shown, it is not working (S)
![IMAGE 2021-03-22 09:50:37](https://user-images.githubusercontent.com/4557972/111963667-0f671800-8af4-11eb-8fa3-fa720807f

[2021-03-22 14:05] churik commented on #11914
To summarize:
## 1. Creating community process (general, about all types of communities)

- [ ] **Low:** 1.1 [Design] No community colour
- [ ] **Medium:** 1.2 [ISSUE] after setting profile image option "Remove" is shown, it is not working
- [ ] **Low:** 1.3 [Design]  No [banner](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=15316%3A0) after creating community
- [ ] **Low:** 1.4

[2021-03-22 14:29] flexsurfer commented on #11897
thanks., but its better to file issue on windingtree.com

[2021-03-22 16:47] #11864 closed, assigned to flexsurfer

[2021-03-23 11:01] hesterbruikman commented on #11872
Actually, closing this issue @mxmzb . Will be addressed by https://github.com/status-im/status-react/issues/10142

[2021-03-23 11:01] #11872 closed, assigned to nobody

[2021-03-23 15:03] churik commented on #11895
Also as part of this issue noticed that an unread indicator is not shown, if new messages arrived to chat which was opened once and then user went back to home view.
Reproducible with public, 1-1 chats

**Steps:**
- user A: join public chat `zzz`
- user B: join public chat `zzz`
- user A: tap back
- user B: send several messages to `zzz`
- user A: pay attention to  `zzz` chat.

**Expected result:*

[2021-03-24 07:43] rapidddenis opened #11918 "Unexpected return to settings"
# Problem

https://user-images.githubusercontent.com/41779817/112272797-8a573c80-8c74-11eb-8a6b-04ac28a0b97f.MOV

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind while implementing it. Mostly about related issues and future plans a

[2021-03-24 14:54] eerlo opened #11922 "Crypto Onramp using "Transak" doesn't let us to change the default purchase value on Android"
# Bug Report

## Problem

Crypto Onramp using "Transak" doesn't let us change the default purchase value on Android.
Every time we try to change the purchase value, it recalculates and focuses out of the input

#### Expected behavior

It should let us change the purchase value we want to buy.

#### Actual behavior

Every time we try to change the purchase value, it recalculates and focuses out of

[2021-03-24 15:10] cammellos opened #11923 "Split js provider library in a separate repo"
In order to share code with desktop and better identify compatibility issues with other providers (metamask/ether.js) we should separate the js code in a separate repo and share it with desktop.

[2021-03-24 15:49] #11860 closed, assigned to rasom

[2021-03-24 17:02] guylouis opened #11925 "Can't connect Hermez wallet dApp to Status wallet"
**Issue**
As a user I can't connect Hermez wallet dApp (https://wallet.hermez.io/login) to my status wallet

**Reproduction**
- in Status browser browse https://wallet.hermez.io/login
- click on 'connect with metamask'
- the user then gets the following error  "input is invalid type"
![IMG_03F4D93CC4E8-1](https://user-images.githubusercontent.com/11461437/112443014-bc3bd200-8d4c-11eb-830e-822ad161

[2021-03-24 17:49] flexsurfer commented on #11925
for some reason page won't load on iphone

[2021-03-24 20:34] #11897 closed, assigned to nobody

[2021-03-25 07:11] churik opened #11926 "Youtube link plreviews are not shown"
# Bug Report

## Problem

Links with domains `youtube.com` and `youtu.be` are not shown previews in chats

#### Expected behavior
previews are shown

#### Actual behavior
![IMAGE 2021-03-25 08:10:30](https://user-images.githubusercontent.com/4557972/112432722-90ffb580-8d41-11eb-8f32-c163a911083c.jpg)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Stat

[2021-03-25 09:11] flexsurfer commented on #11925
ok on android i can see it uses both eth_sign and signTypedData_v4, both not supported by status, personal_sign is supported instead of eth_sign and signTypedData_v4 blocked by https://github.com/MetaMask/eth-sig-util/issues/106, so i guess its time to just implement both just to be compatible with MM? cc @cammellos

[2021-03-25 09:12] flexsurfer commented on #11925
eth_sign can be just supported by personal_sign in status, i guess latest dapps and libraries use eth_sign as personal_sign with same parameters

[2021-03-25 10:10] guylouis commented on #11922
I can't reproduce the problem with status v1.12 and a one plus 6 (android)
iOS v1.12 on iphone 12 working fine too on my side

[2021-03-25 11:41] guylouis commented on #11847
@hesterbruikman indeed these are good arguments to do this with in-app notifications

[2021-03-25 11:47] iurimatias commented on #11923
On that note, wondering if this also makes sense for other shared stuff like for e.g, translations, and assets - so long it doesn't introduce a noticeable overhead

[2021-03-25 13:22] guylouis commented on #11885
after discussion, we confirmed it is ETH2x-FLI

[2021-03-25 14:14] churik commented on #11926
Ok, seems it was temporary downtime on API side or smth similar

[2021-03-25 14:15] #11926 closed, assigned to nobody

[2021-03-29 07:35] flexsurfer commented on #11885
@simonricoo could you please add logo to figma ?

[2021-03-29 08:45] hesterbruikman commented on #11885
@flexsurfer Simon is OOO. @guylouis what's the timeline for this? Can it wait two weeks and be included in 1.13 or 1.14?

[2021-03-29 09:26] guylouis commented on #11885
@j-zerah call actually

[2021-03-29 09:42] flexsurfer commented on #11885
@errorists could you please assist with this ? we just need to import svg to figma where we have all tokens assets

[2021-03-29 09:53] hesterbruikman commented on #11885
fyi Maciej is out today

If it's urgent I can add the SVG to Figma. If it's not I'd rather wait, as I don't know if there's any styling to the icons I'm not aware of

[2021-03-29 16:08] guylouis commented on #11885
discussed with Jonny, this can definitely wait for simon to be back

[2021-03-30 09:14] guylouis opened #11938 "3 dots bottom sheet on a community does not have the right entries"
when a user of a community is browsing a community and presses the 3 dots button on the top right, the planned design is as follows (designs are for the case when the user is an admin of the community)
https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=16052%3A1492
![image](https://user-images.githubusercontent.com/11461437/112964444-a1040480-9148-11eb-97de-9b674ed13e29.png)
meaning

[2021-03-30 09:32] shivekkhurana commented on #11735
@Serhy I have fixed the other issue that you pointed, but have not been able to reproduce the "different account being restored" issue.

Can we mark this as stale and look into it if there are further reports? Or do you want to keep this open and try to reproduce with other seed phrases?

[2021-03-31 07:08] flexsurfer commented on #11923
I've looked into this and i should say, there will be not much profit from separating provider.js , because most logic is in status-react and status-go, provider.js just a tiny warper used for redirect request from the webview to the application, also we can't use it as npm library, it should be included in the project as a string, so i wouldn't separate it

[2021-03-31 07:39] cammellos commented on #11923
I think it's still worth it,
currently some dapps work on desktop and some don't work on mobile, having it in a separate repo will help have a consistent experience between the two projects, leverage shared resources and any fix that we implement will benefits both.

Also why do you say we can't include it as an npm library?
We can slurp the file after pulling it right?

[2021-03-31 08:01] qoqobolo opened #11944 "Transaction status is not updated in tx history during 10 min after confirmations on network on LTE with disabled mobile sync"
# Bug Report

## Problem

Status of transaction sent on LTE with disabled mobile sync, and has already received confirmation on the network (can be checked on Etherscan), won't be updated immediately after confirmation in account view in tx history.
To update the status pull-to-refresh is needed.

#### Expected behavior

Tx status is automatically updated immediately after confirmations are receiv

[2021-03-31 08:19] flexsurfer commented on #11923
yeah probably we can slurp it from node modules folder

[2021-03-31 09:55] guylouis commented on #11699
@gravityblast
I guess it would be helpful to mention here the go issue/pr ongoing for this feature

[2021-03-31 10:05] gravityblast commented on #11699
yes it's this one:

https://github.com/status-im/status-go/pull/2180

[2021-03-31 13:09] #11821 closed, assigned to rasom

[2021-03-31 19:45] #11806 closed, assigned to cammellos

[2021-03-31 19:45] #11807 closed, assigned to cammellos

[2021-03-31 19:45] #11877 closed, assigned to cammellos

[2021-04-01 08:32] #11944 closed, assigned to rasom

[2021-04-01 13:41] eerlo commented on #11922
Adding a screen recording of the problem. On Samsung Galaxy A51.

https://user-images.githubusercontent.com/1106118/113302789-c9ba0480-92d6-11eb-960d-99287c37bcd2.mp4

[2021-04-02 10:03] Serhy commented on #11254
Also adding another video to show blinking notification toggle-button screen. Sometimes e2e test with Keycard is stuck on this screen (there is no automated redirect to Notifications with buttons screen).

https://user-images.githubusercontent.com/8749671/113405169-10306180-93b2-11eb-8c9c-45690dfe931c.mp4

[2021-04-02 14:01] jakubgs opened #11951 "iOS simulator failing due to 'Statusgo.h' file not found"
@rasom and others before him have reported an issue where the simulator fails to start(or just the build fails) with:
[code]

[2021-04-02 14:01] jakubgs commented on #11951
Two remedies that we found to work is running `make nix-update-pods` or just removing `ios/Pods` folder from the repo and re-running the command, like `make run-ios`. But it's unclear why that works.

[2021-04-02 14:03] jakubgs commented on #11951
As far as I know Cocoapods are configured to symlink `react-native-status`:
https://github.com/status-im/status-react/blob/be0ad943eaf9807c79fae405c15a2a573d7ffc29/ios/Podfile#L23

Which is exactly what they do:
[code]

[2021-04-02 14:04] jakubgs commented on #11951
According to @rasom:
[code]
[code]
[code]

[2021-04-02 14:04] jakubgs commented on #11951
He also says that "when it works i see Statusgo.framework here"

![image](https://user-images.githubusercontent.com/2212681/113422488-1aac2480-93cd-11eb-9129-ee173356a800.png)

And "when it doesn't, dir exists, but it is not shown in xcode".

![image](https://user-images.githubusercontent.com/2212681/113425351-fdc62000-93d1-11eb-9173-6798663c8989.png)

[2021-04-02 14:11] jakubgs commented on #11951
Something is different between the first `make run-ios` and the second `make run-ios` once `ios/Pods` have been updated.

But what?

[2021-04-02 14:11] #11394 closed, assigned to bitgamma

[2021-04-02 14:38] jakubgs commented on #11951
I tried reproducing this issue on `macos-03` with Remmina and tmux shell but after `make clean` and `make run-ios` I got:
[code]
Which is completely different...

[2021-04-02 14:57] jakubgs commented on #11951
Okay, I managed to reproduce it:

![image](https://user-images.githubusercontent.com/2212681/113426933-6f06d280-93d4-11eb-9351-6e80b212c7b3.png)

And `status-go` header seems correctly symlinked:
[code]

[2021-04-02 14:58] jakubgs commented on #11951
And the copied `Statusgo.framework` is there:
[code]
And all the files seem to be there:
[code]

[2021-04-02 15:10] guylouis commented on #11914
2.4 detailed in this issue: https://github.com/status-im/status-react/issues/11938

[2021-04-04 08:35] rapidddenis opened #11953 "There is no way to backup seed phrase for additional wallets!"
# Feature Issue

Have installed and created status  account a while ago, backed up seed phrase. Than created an additional wallet account. Yesterday have found “my acc totally broken”, on chat screen there are a lot of invites, non of chats I’m using opens. Reinstalled app and restored my acc with backup to find that MY ADDITIONAL WALLET IS MISSING AND THERE IS NO WAY RESTORE IT BECAUSE THERE IS N

[2021-04-05 12:22] nahuhh commented on #11953
If you added an account from the wallet screen and selected "generate an account", the seed phrase for that account is the same as your original.

Click generate an account again and it will come back.

If you added an account by logging out and creating a new one, you should have the seed phrase...
Hope this helps

- nah.uhh

[2021-04-05 13:04] Serhy commented on #11735
Closing this issue for now, @shivekkhurana, thanks for fix #11939
It didn't fix the issue so I mark it as stale, will open once reproduce with one more seed phrase.

[2021-04-05 14:28] #11953 closed, assigned to nobody

[2021-04-05 14:42] nahuhh opened #11955 "[Bug] show / hide password "eye" won't "hide' password"
# Bug Report

## Problem

#### Expected behavior

[comment]: the 👀 in the password field should hided the password.

#### Actual behavior

[comment]: unable to hide password after revealing password.

#### Notes

For the developer who will be investigating. Is it related to another PR? Tips on where to start?

#### Acceptance Criteria

Rules for the future PR to be accepted.

### Reproduction

[co

[2021-04-05 14:48] nahuhh opened #11956 "[Request] remember "saved account passwords" on account switches"
# Feature Issue

[comment]: saving the password when you have more than one account. The password gets forgotten when you switch accounts. If I saved the password, it should remain saved.

### User Story

As a user I want to save my password once on account 1, log out and log into account 2 and save the password there as well. When go log out of account 2 and tap on account 1, the password for acc

[2021-04-05 14:56] nahuhh opened #11957 "[Browser] extend haptic feedback to the browser forward / back / refresh buttons"
# Feature Issue

[comment]: the setting menu has haptic feedback. In the browser, it is absent.

Within the browser, the forward and back buttons don't respond immediately.  Without any feedback (visual or haptic) it is hard to tell if
A) you tapped the button
B) if the page is loading

A) Would like haptic feedback on the forward/back/refresh buttons. And/or a visual cue (highlight the button whe

[2021-04-05 14:58] nahuhh commented on #11957
Related  #9937

[2021-04-06 06:23] cammellos opened #11958 "Add activity center"
As a user
I want to have a activity center
So incoming invitation/messages from new contacts can be grouped and don't pollute the chat area

### Description

Chats from non-contacts and new group chat invitation from non contacts should open in the activity center first, with an option  to accept, in which case they will be moved to the main chat view.

### Acceptance criteria

- A chat from a non

[2021-04-06 07:40] hesterbruikman commented on #11958
One note of caution on the title. I prefer referring to this as Activity Centre to not set expectations that everything you get a 'notification' for will be displayed here. As especially for the time being it's only incoming chats from non-contacts. Potato, potato, but sometimes issues titles go into commits, go into blog posts, etc

[2021-04-06 07:46] cammellos commented on #11958
good point, thank you, updated

[2021-04-06 12:26] flexsurfer commented on #11951
@briansztamfater is this related https://github.com/status-im/status-react/pull/11935 ?

[2021-04-06 12:40] pinkfrog9 opened #11959 "IOS failed to build"
Running `make run-ios` gives the following error output:
[code]
On macOs11.2.3 with the toolchain updated to the latest.

[2021-04-06 12:41] briansztamfater commented on #11951
@flexsurfer It could be. As this is a recent change, my thoughts are that this probably happened because of an outdated pods installation prior of updating the branch to the latest that includes #11935 and that's why ´make nix-update-pods´ fixes it. So I am wondering what happens with a fresh install of the branch, need to try.

[2021-04-07 10:21] jakubgs opened #11961 "iOS build failing with 'main.jsbundle does not exist'"
The iOS nightly builds have been broken for several days because of:
[code]
Specifically `main.jsbundle does not exist`.

This started happening on the 3rd of April: https://ci.status.im/job/status-react/job/nightly/1903/

[2021-04-07 10:22] jakubgs commented on #11961
What's interesting is that there are no new commits recorded between build [1902](https://ci.status.im/job/status-react/job/nightly/1902/) and [1903](https://ci.status.im/job/status-react/job/nightly/1903/), and yet the former succeeded while the latter failed.

[2021-04-07 10:23] jakubgs commented on #11961
I tried purging the Jenkins workspaces with:
[code]
But it didn't help: https://ci.status.im/job/status-react/job/nightly/1909/

[2021-04-07 10:24] jakubgs commented on #11961
This error was mentioned in one comment in the PR that implemented use of `shadow-cljs`: https://github.com/status-im/status-react/pull/10217#issuecomment-617737277

[2021-04-07 10:27] jakubgs commented on #11961
According to the logs this is the script that failed:
[code]
And when I check it's contents I see this:
[code]
[code]
Which is simply this:
https://github.com/status-im/status-react/blob/be0ad943eaf9807c79fae405c15a2a573d7ffc29/ios/StatusIm.xcodeproj/project.pbxproj#L526
And when i check the `ios/react-native-xcode.log` there's nothing useful in it:
[code]

[2021-04-07 10:53] jakubgs commented on #11961
I tried building locally with `make release-ios BUILD_TYPE=nightly` but it fails with some unrelated error:
[code]

[2021-04-07 12:15] qoqobolo opened #11964 ""TypeError: Network request failed" when switching to Goerli network"
# Bug Report

## Problem

Originally the issue was reported by user:

I also can't even set it up manually, as the "chain-id already defined"

#### Expected behavior

Can switch to Goerli network

#### Actual behavior

<img width="246" alt="Screenshot 2021-04-07 at 14 10 06" src="https://user-images.githubusercontent.com/67952253/113864250-f6748d00-97aa-11eb-84ad-74546e848ae4.png">

### Reproducti

[2021-04-07 12:49] guylouis commented on #11922
can't reproduce with one plus 6, I definitely can edit the amount :)
 I'll ask to some other CCs if they can test.

[2021-04-07 13:22] hesterbruikman commented on #11922
Tried with VPN, but I can't replicate the issue. @eerlo on What Android OS version was this?

@cammellos Do you think WebView version is relevant?

[2021-04-07 17:23] jakubgs commented on #11961
I fixed piping of logs into `ios/react-native-xcode.log` with:
[code]
And I got back this:
[code]
https://ci.status.im/job/status-react/job/combined/job/mobile-ios/8856

[2021-04-07 17:26] jakubgs commented on #11961
This is the script that is being called: `node_modules/react-native/scripts/react-native-xcode.sh`

[2021-04-07 17:29] jakubgs commented on #11961
This issue seems to be exactly the same thing, and `react-native` version also matches: https://github.com/facebook/react-native/issues/31094

This comment - https://github.com/facebook/react-native/issues/31094#issuecomment-796743154 - indicates that the issue might be related to `PATH` and how `metro-bundler` identifies `watchman`.

[2021-04-07 17:37] flexsurfer commented on #11961
https://github.com/facebook/react-native/issues/31138#issuecomment-799415325

[2021-04-07 17:38] jakubgs commented on #11961
As per usual, it makes no fucking sense. But I'm gonna try some other things first.

[2021-04-07 18:02] jakubgs commented on #11961
Lol, I fixed it by doing:
[code]
https://ci.status.im/job/status-react/job/manual/128/

[2021-04-07 18:23] jakubgs commented on #11961
But the normal nightly failed...
https://ci.status.im/job/status-react/job/combined/job/mobile-ios/8858

![1440445292514](https://user-images.githubusercontent.com/2212681/113915520-2b9ad280-97df-11eb-8e61-0a21cd68c91b.jpg)

[2021-04-08 00:10] tennox commented on #11964
It should at least be possible to add a custom goerli network.
But I also think it's just to fix the URL, as the blockscout URL is not an RPC one, afaik.

[2021-04-08 03:51] briansztamfater commented on #10876
I was able to reproduce this one and #10875 on 1.12 production build, but if testing on a local debug build both issues work as expected 🤔
Any insights for better debugging these Push Notification-related issues?

[2021-04-08 06:53] jakubgs commented on #11961
I don't know why either, but it seems like upgrading Fastlane - and some other gems - worked: https://github.com/status-im/status-react/pull/11967

But only for a manual nightly build: https://ci.status.im/job/status-react/job/combined/job/mobile-ios/8863
It failed for the PR build: https://ci.status.im/job/status-react/job/prs/job/ios/job/PR-11967/2/

Makes no sense to me.

[2021-04-08 07:43] hesterbruikman opened #11968 "Remove ability to grab screenshot on Release"
# Problem
Both iOS and Android Status app currently includes the ability to grab screenshots. On Android this ability is disabled by default, but an option is provided to enable. On iOS there is no setting to enable/disable screenshots (only 'Hide previews' when moving between apps).

There is always the option to grab another phone or a Nightly or Develop build. However, the option to enable scre

[2021-04-08 07:46] jakubgs commented on #11961
A second manual nightly build on the same commit failed: https://ci.status.im/job/status-react/job/manual/132/

So I think the first one worked only because it accidentally ran on a host on which had `~/Library/Developer/Xcode/DerivedData` removed.

[2021-04-08 10:31] jakubgs commented on #11961
As far as I can tell this is something specific to `nightly` builds, because PR builds seems to work fine:

![image](https://user-images.githubusercontent.com/2212681/114012154-43696980-9866-11eb-8ac9-c683ca2f2edd.png)

While `nightly` builds are failing:

![image](https://user-images.githubusercontent.com/2212681/114012191-4ebc9500-9866-11eb-8430-a7c913131fe7.png)

[2021-04-08 10:43] jakubgs commented on #11961
I tried running the `node ./node_modules/react-native/cli.js bundle` command with `--verbose` added but I see no addition log messages explaining why no output bundle is created. I might have to go back to the roots and add some `console.log()`s.

[2021-04-08 11:12] jakubgs commented on #11961
By doing dirty `console.log()` debugging I can see this function call never exists:
https://github.com/react-native-community/cli/blob/v4.10.0/packages/cli/src/commands/bundle/buildBundle.ts#L88
Which appears to be starting a Metro server:
[code]

[2021-04-08 11:19] jakubgs commented on #11961
And this appears to be the constructor of the server:
https://github.com/facebook/metro/blob/v0.64.0/packages/metro/src/Server.js#L124-L150

[2021-04-08 12:46] jakubgs commented on #11961
This line:
[code]
https://github.com/facebook/metro/blob/v0.64.0/packages/metro/src/index.js#L316
Calls `buildBundle`:
https://github.com/facebook/metro/blob/v0.64.0/packages/metro/src/shared/output/bundle.js#L21

[2021-04-08 12:57] jakubgs commented on #11961
As far as I can tell there's multiple async functions run by that Node process, and one of them exits with code 0, and kills the Metro bundle process before it finishes. I base that on different number of `console.log()` prints I get at different times without changing anything at all.

[2021-04-08 13:44] jakubgs commented on #11961
Now it seems to be hanging on this call:
https://github.com/facebook/metro/blob/v0.64.0/packages/metro/src/DeltaBundler/DeltaCalculator.js#L119

[2021-04-08 14:07] jakubgs commented on #11961
Now the behavior has changed on `macos-03`. I'm running this:
[code]
And now it's getting stuck for no good reason, instead of exiting with `0` without creating the `main.jsbundle`.
Very, very confusing and annoying.

[2021-04-08 17:26] jakubgs commented on #11961
And now the nightly build worked even though I didn't change anything in the repo:
https://ci.status.im/job/status-react/job/nightly/1912/
All I did was clean up workspaces and `DerivedData`.

I swear. I hate iOS so much. So much.

[2021-04-08 18:11] jakubgs commented on #11961
And now I'm unable to reproduce the issue, either for the PR or the nightly build. This is so dumb.

[2021-04-08 19:36] rasom commented on #11951
@jakubgs can we build status-go before installing pods? Or we already do this?

[2021-04-08 20:31] jakubgs commented on #11951
@rasom `status-go` is built as part of the process which prepares the `ios` shell. Take a look:
https://github.com/status-im/status-react/blob/965438bc8779e473cdcd3b2609f54bb2fc704275/nix/shells.nix#L69
The shell comes from here:
https://github.com/status-im/status-react/blob/965438bc8779e473cdcd3b2609f54bb2fc704275/nix/mobile/ios/default.nix#L13-L23
And it includes `status-go-shell` via `inputsFr

[2021-04-09 04:52] rasom commented on #11951
@jakubgs so just to make it shorter, you say that `pod install` already happens after `status-go` is compiled and everything is symlinked as expected, correct?

[2021-04-09 05:08] rasom commented on #11951
@jakubgs
just checked locally and `Copying Statusgo.framework from Nix store to ...` happens after `pod install`, that's likely the reason of the failure.

[2021-04-09 06:32] rasom commented on #11951
it can be fixed by changing order here, apparently it has reverse order of execution
https://github.com/status-im/status-react/blob/965438bc8779e473cdcd3b2609f54bb2fc704275/nix/mobile/ios/default.nix#L21-L22

[2021-04-09 06:37] jakubgs commented on #11961
And now it's fucked again: https://ci.status.im/job/status-react/job/nightly/1913/

[2021-04-09 06:38] jakubgs commented on #11961
Oh wait, but the error is different:
[code]
Looks like #11951 now...

[2021-04-09 07:43] jakubgs commented on #11951
You're right, I tested it on `macos-03` and I can see it does change order:
[code]
[code]

[2021-04-09 08:12] guylouis commented on #11922
With my Oneplus using android 10 and webview version 89.0.4389.105 I don't have the issue

@eerlo could you precise what is your android version, and the webview version ?

To find out the webview version you need to go to Settings < Apps < Android System WebView

Thanks !

[2021-04-09 08:20] jakubgs commented on #11951
Nice, a manual nightly build with this fix included in #11967 worked: https://ci.status.im/job/status-react/job/manual/138/

[2021-04-09 08:23] #11951 closed, assigned to jakubgs

[2021-04-09 08:47] jakubgs commented on #11961
I'm not actually sure I fixed this permanently, but at least after merging #11967 the nightly build worked:
https://ci.status.im/job/status-react/job/nightly/1914/

[2021-04-09 08:51] guylouis opened #11972 "webview can't access camera"
**Problem**:
on android and iOS our users browsing buy crypto third party services from our banner, and thus in the webview, cannot access their device camera from the webview. Accessing the camera is important because it used at KYC level by these third party service

**Reproduction**:
- android: go to ramp, enter amount and an email, select wire transfer (for  instance), you're redirected to the

[2021-04-09 09:16] guylouis opened #11974 "Webview in buy crypto can't access Latamex (cookie error) - iOS"
**Problem**: when browsing Latamex third party service with our webview, in buy crypto service, users can't access latamex service and get a message saying cookies should be enabled.

**Reproduction:**
- on a ~~android~~ IOS device
- click on buy crypto banner + latamex
- enter an amount + your email, click 'comprar'
- you'll get such an error message
![image](https://user-images.githubusercontent

[2021-04-09 14:24] eerlo commented on #11922
Samsung Galaxy A51.
Android Version 10.
Android Webview version 89.0.4389.105.

[2021-04-09 14:31] eerlo commented on #11972
@guylouis the same problem happens for LATAMEX and MoonPay

![image](https://user-images.githubusercontent.com/1106118/114195805-2ba5ea00-9927-11eb-9a2d-060ecadc3388.png)

[2021-04-09 14:43] eerlo opened #11976 "Wyre asks for required field that is not in the screen"
# Problem

Wyre buy crypto webview asks for a required "reservationId" field.

## Implementation

Open Wyre buy crypto option and try to complete the steps to buy crypto (Using BRL currency)
you will notice that you can't proceed with the purchase because it asks for a required field that is not in the screen.

![image](https://user-images.githubusercontent.com/1106118/114197324-99064a80-9928-11eb

[2021-04-09 14:44] eerlo commented on #11976
Samsung Galaxy A51.
Android Version 10.
Android Webview version 89.0.4389.105.

[2021-04-10 20:46] briansztamfater commented on #11913
As per talked in #11970 with @errorists, system's back gesture is already working if gestures are enabled from the Android device settings. Maybe it's worth testing with some Android devices that support gestures to verify, but I tested on an emulator and it worked. Example below 👇

![android-back-default](https://user-images.githubusercontent.com/18485527/114283435-195ba700-9a20-11eb-99f9-a3c2599

[2021-04-11 06:10] cammellos opened #11977 "Audio messages are displayed in public chats"
Audio messages should not be displayed in public chats and should be discarded.

### Expected behavior

Audio messages are dropped on receiving when sent in public chats

### Actual behavior

Audio messages are displayed in public chats

[2021-04-11 09:08] errorists commented on #11958
Catching up, this wasn't quite the idea I had for this, I believe we discussed with Andrey to have a list item placed on the chat list to group all new chats, especially once T2T kicks in, activity centre was supposed to be a springboard for incoming notifications and only that
Either way the linked UI isn't quite production level, @cammellos I would ask kindly to please let me know once any furth

[2021-04-12 07:03] cammellos commented on #11958
@errorists of course, we rushed it out to address the spam issue, but we'll appreciate your input so it's closer to your idea.
thanks

[2021-04-12 07:55] errorists opened #11979 "Add support for SOCKS token 🧦"
# Problem

👏 Support 👏 SOCKS 👏

## Implementation

[Icon asset ](https://www.figma.com/file/euHYLLNiRjtHR6xv5qq0KI1C/Userpicks?node-id=829%3A3)

[Exported icons](https://github.com/status-im/status-desktop/files/6294893/SOCKS.Icons.zip)

[Etherscan](https://etherscan.io/token/0x23b608675a2b2fb1890d3abbd85c5775c51691d5)

## Acceptance Criteria

$SOCKS can be selected as an asset in our token list

[2021-04-12 08:40] cammellos opened #11981 "Add option to receive chats invites and new chats only from contacts"
As a user
I want to have an option to receive chats invites & new chats only from contacts
So that I can't be easily spammed

### Description

A user should have an option to allow new chats & messages only from contacts as a stop-gap measure for spam.
If the user is not in contacts, new messages or chat invitations should not be received by the user (it's very similar to block feature, but they w

[2021-04-12 13:09] #11913 closed, assigned to briansztamfater

[2021-04-13 03:08] qfrank commented on #11977
Hi @cammellos ! Pls review corresponding [PR](https://github.com/status-im/status-go/pull/2196) thanks :)

[2021-04-13 08:38] jakubgs commented on #11961
The nightly has been green for a few days now:

![image](https://user-images.githubusercontent.com/2212681/114523093-47213580-9c44-11eb-9718-ad0af9ab551a.png)

So I'm going to close this for now, but knowing Apple this might be re-opened in the future.

[2021-04-13 08:38] #11961 closed, assigned to jakubgs

[2021-04-13 09:28] guylouis commented on #11938
Closing the issue because with the nightly above but with today's nightly there is no problem because the following bottom sheet appear when the user is pressing the + sign on the bottom of the community

Note: it means I just probably did not notice the '+' sign in the above nightly, and misinterpreted that I needed to press the ... sign to get to options

'+' sign
![IMG_C82142A55CD0-1](https://u

[2021-04-13 09:28] #11938 closed, assigned to flexsurfer

[2021-04-13 19:58] #11675 closed, assigned to briansztamfater

[2021-04-14 08:10] #11898 closed, assigned to rasom

[2021-04-14 08:14] #11461 closed, assigned to vkjr

[2021-04-14 08:32] guylouis commented on #11976
I have the exact same issue on any browser: brave on my mac, brave on my iphone, or status webview. John had the same issue this weekend too.

Not sure anyone managed to make https://pay.sendwyre.com/ work

I looked at the wyre public doc but did not find any relevant info

Let's try to reach wyre team

[2021-04-14 10:10] errorists opened #11990 "Include a 'My Profile' button in the Start New Chat dialogue"
# Problem

The scope of this issue is to add a shortcut to your contact details (chat key and ENS username) inside the Start New Chat dialogue. This follows recent user research studies and prior experiences where we identified that people have difficulty figuring out what to enter when asked for a chat key or ENS name _and_ expecting to share their details with others also from this location.

##

[2021-04-14 11:35] Serhy opened #11991 "No unread message indicators after navigation back to 'Chats' main view via tap on Chats tab button"
# Bug Report

## Problem

There are several scenarios of navigation in app which may lead to bug when subsequent receiving messages won't have unread indicator (and message won't be visible in chat - see first scenario below)
#### Expected behavior

Unread indicator is visible always when message received in chat until user has opened chat view when message received.
#### Actual behavior

No unrea

[2021-04-14 12:45] churik commented on #11811
It is a blocker now for 5% of cases.
Transaction will not appear even after relogin.

https://user-images.githubusercontent.com/4557972/114711986-dfe0af80-9d2f-11eb-8bd8-d610f812c44b.mp4

[code]
Comment from Roman:

[2021-04-14 12:56] qoqobolo opened #11994 "No chats on Home screen after reopening the app if appearance doesn't match the device settings (dark/light mode)"
# Bug Report

## Problem

If switch the application to dark mode, having the device in light mode (or vice versa), then after reopening the application the existing chats will disappear from the Home screen.
To display chats again, need to switch to another tab and reopen the Home screen.

#### Expected behavior

Chats don't disappear

#### Actual behavior

https://user-images.githubusercontent.co

[2021-04-14 14:52] rasom commented on #11811
well, transaction was detected
[code]

[2021-04-14 15:44] qoqobolo opened #11995 "No background for link preview in chat view when opening reactions panel"
# Bug Report

## Problem

When calling the reactions panel in chat view on Light mode, the link preview description doesn't have any background, so reading is slightly difficult.

#### Expected behavior

Light background or a different font color for better description readability

#### Actual behavior

<img width="289" alt="Screenshot 2021-04-14 at 17 29 37" src="https://user-images.githubusercon

[2021-04-15 11:46] guylouis opened #11999 "Buy crypto account selection screen modification for phase 1.5"
Phase 1 of Buy Crypto consisted of providing a list of third party services where our users could buy crypto with Fiat.

Phase 1.5 brings:

- [ ] ux improvement: users can chose the wallet address they want to use with the chosen service
- [ ] user can manually copy address for cases where selected address cannot be passed to 3rd party service
- [ ] an extra legal notice
- [ ] requires updating th

[2021-04-15 12:02] guylouis opened #12000 "Wallet refresh after user has used buy crypto feature"
In order to reduce the number of requests to infura, we have reduced the frequency and situations where the wallet is refreshed.
When a user uses buy crypto, he expects to know he received his crypto as soon as he received them.

We should trigger refresh of the wallet after right after the user has used on buy crypto feature.

note: exact behaviour to be decided and described before implementatio

[2021-04-15 14:43] #11811 closed, assigned to rasom

[2021-04-16 07:57] hesterbruikman commented on #12000
Good news on this one, @rasom already updated the behavior in #11924

[2021-04-16 07:57] rasom commented on #12000
@hesterbruikman @guylouis currently after opening "buy crypto" we check history 20 and then 40 minutes later. Do you want to have some additional intervals, like check in 5/10 mins and then return to 20 minutes period?

[2021-04-16 08:08] hesterbruikman commented on #12000
Ah I thought tx history checking was resumed _for_ 30 mins for an empty account in case 'buy crypto' is tapped. Do I understand correctly that we check _at_ 20 min and _at_ 40 min, after tapping 'buy crypto'?

If so, yes I think additional intervals would be good.

Another discussion would be to include other methods for incoming pending transactions so that we know with more accuracy if it makes

[2021-04-16 08:25] hesterbruikman commented on #12000
Reopening after discussion on [Discord](https://discord.com/channels/624205794384281629/626738033701683200/832529786454409246)

#11821 implemented watching for transactions, however the interval is low and can be configured
Agreed interval is 2/3/5/10/20

Pull to refresh as merged in #11937 should give the user sufficient options to fill the gaps in between intervals

[2021-04-16 10:09] #10031 closed, assigned to nobody

[2021-04-16 10:17] bitgamma commented on #9451
@Serhy this should be fixed now

[2021-04-16 10:20] bitgamma commented on #10461
@churik this should be fixed now

[2021-04-16 12:19] churik opened #12003 "No chat preview after relogin if open chat view from push notification before"
# Bug Report

## Problem

When open 1-1 chat via push notification and relogin - there is no chat preview shown for this chat. Reproducible only on Android devices, as there is presented navigation to 1-1 chat when tapping on PN.

https://user-images.githubusercontent.com/4557972/115022517-c53c4100-9ebd-11eb-87b8-bcd76f31be74.mp4

#### Expected behavior
chat preview is shown

#### Actual behavior

[2021-04-16 12:27] cammellos commented on #11974
@guylouis I followed your instruction but I am not receiving the error, I reach a step where it asks me to validate my email.
Did you reach the same step or the error occurred earlier?

[2021-04-16 18:45] #11958 closed, assigned to cammellos, flexsurfer

[2021-04-16 18:45] #11981 closed, assigned to cammellos

[2021-04-18 16:10] Peteza23 opened #12004 "1.12.2 (20210326072315)"
# Bug Report

## Problem

An overview of the background required to understand the problem.
A problem description.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

#### Notes

For the developer who will be investigating. Is

[2021-04-19 07:31] #12004 closed, assigned to nobody

[2021-04-19 09:26] Serhy opened #12006 "Duplicated items after navigation in chat view from Activity Center"
# Bug Report

## Problem

If I have 2 or more items in Activity Center, and I navigate to chat view (Group/1-1) from Activity Center (doesn't matter which one - `Group`->`Decline` or `Group` -> `Join` or open 1-1 chat) the next time I open Activity Center - there will be still two chat items but the one which supposed to be removed from list, - it duplicates the one which is left.

(it's outstandi

[2021-04-19 09:57] Serhy opened #12007 "No custom user icon in Activity Center"
# Bug Report

## Problem

When user has `Appearance` -> `Show profile pictures of` -> `Everyone` and `Accept new chats from` -> `Anyone` chat requests which appears in `Activity Center` does not have custom user image if it was set. But it appears right away when open chat view.

#### Expected behavior

Custom user icon is visible on the Activity Center view
#### Actual behavior

https://user-imag

[2021-04-19 12:44] #11775 closed, assigned to vkjr

[2021-04-19 12:52] #11925 closed, assigned to flexsurfer

[2021-04-19 14:18] #11979 closed, assigned to briansztamfater

[2021-04-19 16:26] #11972 closed, assigned to cammellos

[2021-04-19 16:53] #11991 closed, assigned to flexsurfer

[2021-04-19 16:53] #11994 closed, assigned to flexsurfer

[2021-04-20 06:47] churik opened #12008 ""Community information is not found" after opening community view from home"
# Bug Report

## Problem
Just after creating community "Not found" when accessing it via home view.
Blocker for testing/dogfooding communities.

## Expected behavior
Can see community page

#### Actual behavior
![IMAGE 2021-04-20 08:42:37](https://user-images.githubusercontent.com/4557972/115349619-5d834000-a1b4-11eb-85c7-5faae41a1ec0.jpg)

### Reproduction

[comment]: # (Describe how we can repli

[2021-04-20 08:11] flexsurfer commented on #11596
after group chats spam

| Table                                       | Rows  | Delta |
|---------------------------------------------|-------| -------|
| user_messages                               | 122,200 | +17,000
| blocks_ranges                               | **7** |
| contacts                                    | 23,500 | +3,000
| bundles                                     | 26,175 | +5,1

[2021-04-20 08:21] vkjr commented on #12008
@flexsurfer, checked recent commits and found out that issue was introduced by [chat list optimization](https://github.com/status-im/status-react/commit/073371c4edf667488d4dea65fb9c6c7042930249). Unfortunately I wasn't able to quickly understand the reason, so reassigning issue to you.

Strange thing I noticed: when navigated to community page, `community-id` comes as an object and `community` ret

[2021-04-20 09:06] #12006 closed, assigned to cammellos

[2021-04-20 09:40] anastasiyaig opened #12010 "Naming validation for communities"
As a user
I want to limit the number of characters available when creating community names/channel names/channel categories
So that the UI is not cluttered

### Description

Community names should allow anything and just limit to 30 characters

Channel names should allow anything besides:
 - spaces, they should be replaced as the user types with dashes `-`
 - Uppercase letter, they should be repla

[2021-04-20 12:21] qoqobolo opened #12011 "Invisible messages in public and group chats if they were received while user was on another screen"
# Bug Report

## Problem

If User joins a public (or group) chat, opens another user's profile, starts 1-1 chat from his profile, received one more message in public chat at this moment (while on 1-1 chat view), navigates to Home screen via tapping `Back` button, and opens public chat again to read the new message, this message won't be displayed in the chat history. It will be shown only after pu

[2021-04-20 15:22] Serhy opened #12014 "Skip 'Accept and join' view when navigating back from public chat joined from referral"
# Bug Report

## Problem

When Status installed from a 'public chat registration' referral link - we show 'Accept and Join' view which. When tap on Accept button - user is redirected to public chat. However, when navigating back via `<-` top-left Back button -  user is navigated back to  'Accept and Join' view. We have to skip(to remove) this view after 'Accept and Join' button pressed.
There is a

[2021-04-20 15:44] #12008 closed, assigned to flexsurfer

[2021-04-21 07:12] cammellos commented on #10876
@churik I think this one might be fixed in develop / 1.13, could you please confirm?
It should just show "Image" I believe (or "Audio message" etc)

[2021-04-21 07:23] cammellos opened #12016 "Extend syncing period"
As a user
I want to retrieve more than 24 hours of data
So that if I am offline for the weekend I will still be able to read old messages

### Description

We want to allow the user to retrieve more days of history without having to manually hit the gaps buttons.
The issue is that syncing is already fairly slow on 24 hours, so we need to strike a balance between fetching too much data and have slo

[2021-04-21 07:29] cammellos opened #12017 "Add encryption for communities"
As a community user
I want my messages to be encrypted
So that I am confident that someone not in the community won't be able to read them

### Description

Currently community messages are encrypted in the same way we encrypt public chats, based on the id of the community/chat.
This is not enough for on-request/invitation only communities, and we should have a different algorithm for encrypting t

[2021-04-21 07:33] cammellos opened #12018 "Allow editing community basic information"
As a community admin
I want to be able to edit my community
So that I can correct any mistake or update community info to reflect some changes

### Description

Some fields in the community should be editable (name, color,image and description).
This will probably involve some status-go changes (albeit they should be simple).

#### Designs

https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?

[2021-04-21 09:20] Serhy opened #12020 "Error instead audio message and rest of audio messages doesn't play after that"
# Bug Report

## Problem

There is an audio message in chat which error with `java.io.IOException: Prepare Async failed: status=0x800000` when tap play button.
Other audio messages in same chat have no response when I hit Play button after that error appears.

#### Expected behavior

No errors when playing audiomessages

#### Actual behavior

<img width="238" alt="Screenshot 2021-04-21 at 12 15 54

[2021-04-21 09:21] nahuhh commented on #11968
I'd appreciate it if the option (on android) was left as is.
If I want to take screenshots of my passwords, my banking info, or even to take pictures of private areas or whatever I may choose. We should be allowed to assume the risk.

Perhaps
A) provide a warning when enabling screenshots
B) relocate the toggle to advanced options
C) leave it there for PR, nightly AND f-droid builds as well.

Or

[2021-04-21 09:42] churik commented on #10876
yes, it is fixed, thank you!!!

[2021-04-21 09:42] #10876 closed, assigned to nobody

[2021-04-21 10:57] churik opened #12022 "Chat with empty preview remains in activity centre if open 1-1 chat from PN"
# Bug Report

## Problem
If open incoming  message in 1-1 chat from PNs - it will be not removed from activity center and will be shown on home view and in activity centre without preview of last message.
After tapping on it in activity center chat preview is erased on home screen and will remain empty until new messages arrive (related to https://github.com/status-im/status-react/issues/12003)
##

[2021-04-21 11:08] #12014 closed, assigned to flexsurfer

[2021-04-21 11:10] #12011 closed, assigned to flexsurfer

[2021-04-21 12:32] jakubgs opened #12025 "Group Chat names containing # break deep links"
## Problem

When a Group Chat is created with `#` in the name it breaks the deep link. For example:

https://join.status.im/g/args?a=0x0461f576da67dc0bca9888cdb4cb28c80285b756b324109da94a081585ed6f007cf00afede6b3ee5638593674fee100b590318fc7bdb0054b8dd9445acea216ad2&a1=#broken-group-name&a2=c3ba1620-eb44-4758-afc5-8853f8abdc73-0x0461f576da67dc0bca9888cdb4cb28c80285b756b324109da94a081585ed6f007cf00a

[2021-04-21 13:34] churik opened #12026 "No message in 1-1 chat for receiver when assets are sent to ENS name (mainnet)"
# Bug Report

## Problem
When some ETH/tokens are sent via 1-1 chat and confirmation of transaction lasts more ~5-7 mins, message won't appear in 1-1 chat even after confirmation of transaction.

#### Expected behavior
can see message about sending ETH in 1-1 chat;
would be nice to show message in 1-1 chat just after sending (in Pending state), If that's not possible for now - at least after trans

[2021-04-21 13:39] Serhy opened #12027 "Username not resolved to ENS right after 1-1 chat opened after username search from 'Start new chat' by ENS"
# Bug Report

## Problem

When searching user by ENS name from 'Start new chat' we display user ENS name found. But when tap upon username item from profile search and navigating to 1-1 chat view - there is a default three-word name displays.
Later, if ENS name synced in chat, - it's correctly updated as chat name. However, it makes sense to display ENS name right away since user have searched ENS

[2021-04-21 21:03] nahuhh opened #12028 "False error for 1:1 messages "not confirmed - tap for options""
# Bug Report

## Problem

#### Expected behavior
Messages that are confirmed with 2 checkmarks shouldnt change to show they are unconfirmed.

#### Actual behavior

Confirmed messages show an error

![Screenshot_20210421_164439.jpg](https://user-images.githubusercontent.com/50635951/115619597-0ec3cc00-a2c2-11eb-8aba-0713c5ff2298.jpg)
#### Notes

### Reproduction

[comment]: # (Describe how we can r

[2021-04-22 03:42] Sjymmd opened #12029 "account's avatar didn't synchronize from mobile client to the Mac"
# Bug Report

## Problem

Account's avatar didn't synchronize from mobile client to the Mac

#### Expected behavior
when using synchronize feature ，my account‘s chat and purchase do synchronize to Mac，but avatar didn't work

[2021-04-22 04:03] Sjymmd opened #12030 "some fonts in the bottom navigation bar didn't be hidden"
# Bug Report

## Problem

In some language,some fonts in the bottom navigation bar didn't be hidden

#### Expected behavior
![Image of BUG](https://ftp.bmp.ovh/imgs/2021/04/6dfc12c45cd3cbe6.png)

[2021-04-22 11:06] #10380 closed, assigned to flexsurfer

[2021-04-22 11:07] flexsurfer commented on #10380
actually its not an issue

[2021-04-22 11:10] flexsurfer commented on #10386
https://github.com/status-im/status-react/pull/11911

[2021-04-22 11:10] #10386 closed, assigned to nobody

[2021-04-22 11:12] flexsurfer commented on #10382
we shouldn't unmount chat screen, but there is no way in react-native-navigation

[2021-04-22 11:14] #12022 closed, assigned to cammellos

[2021-04-22 12:01] qoqobolo opened #12033 "Can't open Status tab after upgrade from 1.12 to 1.13 if the tab has never been opened before upgrade"
# Bug Report

## Problem

If User has never opened the "Status" tab in version 1.12, then after upgrading to 1.13 he will not be able to open the "Status" tab. The endless spinner will be displayed on this screen.

#### Expected behavior

Can open "Status" tab

#### Actual behavior

<img width="348" alt="Screenshot 2021-04-22 at 13 34 54" src="https://user-images.githubusercontent.com/67952253/115