[2017-11-23 12:31] oskarth commented on #2276
I forgot what the state of this was. Removing myself and leaving it open for now. Possibly it's been solved already, or that it can be closed.

[2017-11-23 12:57] oskarth opened #2513 "Upgrade status-go and clarify changes needed on status-react side to use new API"
Once https://github.com/status-im/status-go/pull/472 is merged we want to upgrade status-go as it has been a while. There are also some unknown issues on status-react side that clarification so we can use their new API.

- [x] PR to upgrade status-go
- [x] https://github.com/status-im/status-react/issues/2515
- [x] Update https://github.com/status-im/status-react/pull/2509

[2017-11-23 14:11] annadanchenko commented on #2436
@poiga I mean that if we use some function(s) to verify that a string is a valid password on 'Create account' step then same function(s) should be used to validate the password on 'Recover account' step. I assume it was not the case as more "relaxed" checks were done on recover, e.g. at some point it was possible to create a password with length < 6 chars or as here - it was possible to create pas

[2017-11-23 17:33] poiga commented on #1393
I am working on this.

[2017-11-23 17:39] oskarth commented on #2246
@kuzdu Sorry about this, we had a lot of issues with Artifactory recently which likely caused the timeouts. Can you try again please?

[2017-11-24 07:44] SHA-2048 commented on #1379
OK very sorry for that. I'm having some troubles installing the app on my old macbook. I'll submit a fix as soon as I manage to test properly. Thanks !

[2017-11-24 07:58] asemiankevich commented on #2285
I spoke to @flexsurfer about this issue and seems the issue is not fixed yet. I am moving this back to Inbox. @alwx could ypu please take a look into it again or continue coversation so we can come up with a solution?

[2017-11-24 08:10] flexsurfer commented on #2285
we have two debug in code, 1 - means app running in debug mode, 2 - means cli debug, and it's confusing

[2017-11-24 10:34] oskarth commented on #2513
How to check what has been changed since last (rolling release) version of status-go: grep for status-go, find a string like `develop-gad9a877`. This is the `git describe` format of commit used. Remove the 'g' and show diff from this commit to `HEAD`:

[code]

In this case:

[code]

[2017-11-24 10:50] oskarth commented on #2513
Added instructions here: https://wiki.status.im/Upgrading_status-go_on_status-react_side

[2017-11-24 11:02] oskarth opened #2515 "Support CreateAndInitJail"
### User Story

As a developer, I want to use the latest status-go interfaces to get all the improvements they have been working on, such as jail perf/semantics.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sect

[2017-11-24 11:03] oskarth commented on #2515
This might also be impacted by https://github.com/status-im/status-react/pull/2450. Something to keep in mind.

[2017-11-24 13:07] goranjovic opened #2516 "Assets - Toolbar title and logo"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want ERC20 tokens to be supported in Status Wallet

### Description

*Type*: Feature

*Summary*: Token name and logo in toolbar title

#### Expected behavior

As per designs:

Android:

![selection_001](https://user-images.githubusercontent.com/711764/33211865-cf72d72e-d120-11e7-9a63-0a0b32ae619d.p

[2017-11-24 13:14] goranjovic opened #2517 "Asset screen - My Token tab - main area UI"
### User Story

As a user I want ERC20 tokens to be supported in Status Wallet

### Description

*Type*: Feature

*Summary*: Asset screen - My Token tab - main area

Implement UI and style it as per platform. Use mocked data (sub returning a hardcoded value) and show alerts on button actions.

Open questions:

- Should this screen also have a *Request* button, like the one in main Wallet screen?

[2017-11-24 13:21] goranjovic opened #2518 "Assets UI - Transactions list in My Token screen"
### User Story

As a user I want ERC20 tokens to be supported in Status Wallet

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: UI markup for the transactions list in My Token screen/tab. Use actual data from etherscan API.

*Expected look:*

android:

![selection_005](https://user-images.githubusercontent.com/711764/33212224-58d37946-d122-11e7-811f-f03a57

[2017-11-24 14:26] goranjovic commented on #2492
This one should be done as a refactor/cleanup task after the screen is implemented.

[2017-11-24 18:30] annadanchenko opened #2520 "New messages in the group chat are shown not at the end of the chat but in the middle (e.g 17th message is shown after 8th)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In the group chat user sends 17 messages "1", "2" .... "17". Message "17" is shown not at the end of the list but after message "8". Next messag

[2017-11-24 19:56] oskarth commented on #2520
Grepping through log file for `clock-value` it's clear message 17 isn't received properly. According to the contract it should always increment it when receiving a message: https://github.com/status-im/status-react/blob/develop/src/status_im/utils/clocks.cljs#L31-L32

So it seems likely something has changed the way messages are received. This assumes this used to work, which IIRC you said it did

[2017-11-25 06:05] foreseaz commented on #2343
@andytudhope , from the User Story it says "as a Cantonese speaker", so is this issue for Cantonese translation (but your response to @difengJ said it's for Shanghaiese, which is zh_wuu).

I live in Hong Kong for a long time and more than happy to help translate to Cantonese (zh_hk)

[2017-11-25 10:24] goranjovic commented on #2465
Merged in PR

[2017-11-25 10:24] #2465 closed, assigned to goranjovic

[2017-11-25 11:25] annadanchenko commented on #2520
Updated the description: yes it used to work, at least on the latest released 0.9.12 version.
On the same devices with the same steps messages are shown in the expected order, so 17 goes after 16

[2017-11-26 01:47] mfekadu commented on #1246
Thanks @morelazers! Worked perfectly!

[2017-11-26 16:40] Alonski commented on #2456
I was thinking about this a few days ago.
Would an online Web UI for translations be a good idea?

- It would always be up to date with the last build/nightly in regards to English translations.
- Translators can come in and find their language to see if it needs updating.
- They can update the translations in the UI, which will probably look nicer than staring at cj files 😄

Other ideas:
- Users

[2017-11-27 06:45] andytudhope commented on #2343
Hi @foreseaz! Thanks for picking that up - have edited it. We don't really have anyone on the team who can verify a Cantonese translation but would love for you to do it. Is there anyone with an active/verifiable GH profile that you could convince to review your work? If so, I can organise a bounty for you?

[2017-11-27 07:35] foreseaz commented on #2343
@andytudhope Thanks for your response, may I know GH profile stands for?

[2017-11-27 08:24] #2351 closed, assigned to nobody

[2017-11-27 09:33] oskarth opened #2521 "Identify a minimal repeatable procedure that causes bad perf problems"
### User Story

As a developer, I want to have a minimal bad case for bad perf so that I can work to fix it.

### Description

*Type*: QA

*Summary*: Identify a series of repeatable steps that leads to a bad experience w.r.t perf.

See https://docs.google.com/document/d/1OZtzfojToJtZhj2LnokA9-YU7aL_gm9NzaGtI-vuZ6E/edit#

[2017-11-27 09:37] oskarth opened #2522 "Measure CPU and disk usage during minimal bad perf case (as well as other metrics)"
### User Story

As a developer, I want to have a quantified baseline in bed perf case so that we can test hypotheses.

### Description

*Type*: Feature / Tooling

*Summary*: Measure CPU and disk usage during minimal bad perf case (as well as other metrics), as well specific instructions for how to do this test.

Platform specific as Android and iOS are different.

It might turn out that Xcode with

[2017-11-27 09:58] asemiankevich opened #2523 "Ru translation fixes"
### Description

*Type*: Bug
***NOTE* still collecting all the discrapencies please do not build any pr untill this is done**
*Summary*:

1. in line 330 change `не применимо` to `неприменимо`
2. Remove line 123 as this case is no more valid
3. Make line 201 and 202 alike so make ether `скопировать` for both or `копировать` for both
4. Fix usage. Please put this:

line 66 :datetime-second

[2017-11-27 10:23] andytudhope commented on #2343
Sorry, GitHub profile. We generally tend to look more kindly on contributor's who are active here and have submitted open source code to various repos before.

[2017-11-27 11:33] oskarth commented on #2513
Fixed in develop

[2017-11-27 11:33] #2513 closed, assigned to nobody

[2017-11-27 11:36] asemiankevich commented on #2449
@jeluard I was able to send a transaction to dApp while interacting with the dApp. Like for example when I create auction in Auction house dApp I should pay for it - so I need to send some funds to this app. I was able to do so in previous versions.

[2017-11-27 13:16] pablanopete commented on #2437
@trybeee Hey are you still working on this? Just following up - seems you've made a bunch of commits.

[2017-11-27 13:21] dmitryn commented on #2437
@pablanopete thanks for reminding me. I'm going to ask guys who are reviewing that PR to look at my changes.

[2017-11-27 13:49] foreseaz commented on #2343
@andytudhope noticed, I will try to find an active friend as the reviewer.
Btw, I also saw the traditional Chinese [zh_hant](https://github.com/status-im/status-react/blob/develop/src/status_im/translations/zh_hant.cljs) is already there, which is fairly enough for Taiwan, Hong Kong, Macau and Singapore / Malaysia for now. According to [Comparison of national standards of Chinese](https://en.wikip

[2017-11-27 14:35] yenda opened #2526 "QR code in profile wrongfully has chain id suffix"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

When I scan the current code in the user profile (to add it as contact for instance) I get an invalid address because there is '@3' appended at the end of the address.

The suffix is in the QR code itself, you can see it when scanning the code with an external reader as well

[2017-11-27 15:24] andytudhope commented on #2343
Hi @foreseaz - if you could create an issue for what you would want to see in the standardization of different traditional Chinese, that'd be great (it's not a strong suit of mine, unfortunately). Then I can assign a bounty once discussed with the rest of the team.

[2017-11-27 15:57] foreseaz opened #2528 "Separate App Strings zh_hant to Localised Traditional Chinese"
### User Story

As a user from different regions using traditional Chinese (1. Hong Kong / Macau, 2. Taiwan, 3. Singapore / Malaysia), I want to see the localised indicating message.

### Description

*Type*: Feature

*Summary*: We need someone eloquent and versatile in different Traditional Chinese (including HK/Macau standard, Taiwan Standard, Singapore/Malaysia Standard) to separate the latest

[2017-11-27 15:58] foreseaz commented on #2343
@andytudhope [issue](https://github.com/status-im/status-react/issues/2528) created.

[2017-11-27 16:04] andytudhope commented on #2528
Ok great! Next question @foreseaz, can you do all 3? 😉

[2017-11-27 16:09] foreseaz commented on #2528
A reference of [Comparison of national standards of Chinese](https://en.wikipedia.org/wiki/Comparison_of_national_standards_of_Chinese#Linguistic_differences) could found here. For example, `Message` in `HK/Macau traditional Chinese` should be `訊息` and in `TW/SG ~` should be `簡訊`.

[2017-11-27 16:12] foreseaz commented on #2528
@andytudhope I am more than happy to dig into them.

[2017-11-27 19:55] dbalatero opened #2529 "Initial Mac developer setup is fairly complex in this project"
### User Story

As a developer, I want to quickly get setup so that I can start contributing to Status. I also want other developers to be able to quickly get setup for the same reason!

### Description

*Type*: Feature

*Summary*: When initially checking out this repository and setting it up, I found that there was a lot of [setup](https://wiki.status.im/Building_Status) that needed to happen to

[2017-11-27 20:56] adambabik opened #2530 "Create `catalog` cell variable on status-react side"
### User Story

As a developer, I'd like to move creating `catalog` variable from status-go to status-react, as status-go has no knowledge about it and why it is required.

### Description

*Type*: Feature

*Summary*: In status-go, during cell initialization, the following code is executed:
[code]

status-go does not know about `_status_catalog`, thus, it should not rely on it.

#### Expected beha

[2017-11-27 22:21] asaphko opened #2531 "xcode build failing with /bin/sh git related issue"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to follow the Building Status wiki page so that I can build status ;)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actual

[2017-11-27 22:22] oskarth commented on #2504
Blocked by lack of `geth.log` on device:

[code]

Asked in Go channel

[2017-11-27 22:25] oskarth commented on #2531
@asaphko try: `git clone git@github.com:status-im/status-react.git -b master && cd status-react && git checkout -b develop` or the equivalent (master branch needs to be created)

From https://github.com/status-im/wiki.status.im/pull/51 - if this works we should update wiki with this.

[2017-11-27 22:36] asaphko commented on #2531
Ok - this works up to `mvn -f modules/react-native-status/ios/RCTStatus dependency:unpack`

which return:
`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:2.10:unpack (default-cli) on project Messenger: Unable to find artifact.: Could not find artifact status-im:status-go-ios-simulator:zip:bug-whisper-on-geth1.6.1-g3f6f0fa+ in ci.status.im (http://139.162.11.12:8081

[2017-11-27 22:36] asaphko commented on #2531
the full error is:
`[ERROR] Try downloading the file manually from the project website.
[ERROR]
[ERROR] Then, install it using the command:
[ERROR]     mvn install:install-file -DgroupId=status-im -DartifactId=status-go-ios-simulator -Dversion=bug-whisper-on-geth1.6.1-g3f6f0fa+ -Dpackaging=zip -Dfile=/path/to/file
[ERROR]
[ERROR] Alternatively, if you host your own repository you can deploy the fi

[2017-11-27 22:43] oskarth commented on #2531
Did you checkout develop after this branch switching dance? master only needs to be created, we still use develop for everything.

`bug-whisper-on-geth1.6.1-g3f6f0fa` is an old branch of status-go and indicates you are still on master branch (https://github.com/status-im/status-react/blob/master/modules/react-native-status/android/build.gradle#L18)

[2017-11-28 07:04] kenrestivo commented on #2456
Is this bounty still open? I see pull requests, does that mean someone is already working on it?

[2017-11-28 07:55] jeluard commented on #2526
@yenda How do you scan it? Is it with status?

[2017-11-28 08:52] pablodip commented on #2529
How about doing this in Clojure? It has some benefits:

* Same language as the main in the repo, so we can access any of the project code.
* Much more powerful language.

We could use either [Lumo](https://github.com/anmonteiro/lumo) ([example of script](https://gist.github.com/yogthos/d9d2324016f62d151c9843bdac3c0f23#file-gallery-cljs)) or [Boot](http://boot-clj.com/) ([simple example](https://gi

[2017-11-28 08:58] Alonski commented on #2529
I would be willing to help build/test on Windows.

[2017-11-28 10:02] andytudhope commented on #2456
There are some folks working on it already @kenrestivo, but feel free to poke around other bounties if you're interested, or this one if you feel you can do it better. @Alonski that does sound interesting, but seems like a lot of work for not too much gain (this is not a major pain point for us). I'm not sure how easy it would be to integrate a web UI with gh webhooks and ensure the correct contri

[2017-11-28 10:07] andytudhope commented on #2529
@pablodip feel free to give that a go, I agree with both your reasons. Am unconvinced about the need for things like nvm and rvm, and cljs might help get away from those. That said, whatever is easiest, most intuitive and most generalisable for every kind of developer is what wins here...

[2017-11-28 10:10] jeluard commented on #2529
@pablodip Using `lumo` sounds like a nice idea (we already have node as a dependency).
It would be pretty interesting to use it for day-to-day dev workflow which is a little cumbersome too.

[2017-11-28 10:26] oskarth opened #2533 "Fix Jenkins Slack integration"
### User Story

As a tester I want to get notifications about builds being completed.

### Description

*Type*: Bug

*Summary*: Fix Slack Jenkins integration.

#### Expected behavior
Get notified about builds.

#### Actual behavior
We don't get notified about builds.

### Solution
Fix Jenkins Slack integration with plugins and webhooks, requires checking both ends.

### Additional Information
Work

[2017-11-28 10:32] yenda commented on #2456
@Alonski @andytudhope This is a really good idea.

We already agreed in the team that translations are more data than code so at some point we would move it to edn or json files, which would make things even simpler.

I had this idea of a web UI or a special mode in the app to change translations but we really don't have the time in the core team to work on that kind of side tracks. So if you want

[2017-11-28 10:33] oskarth opened #2534 "status-go logs stopped logging to geth.log on iOS simulator"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to see geth logs so I can see what is going on status-go side and actually debug issues.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happ

[2017-11-28 10:52] Alonski commented on #2456
@yenda @andytudhope Could I help in migrating the translations to JSON in the process?

[2017-11-28 10:55] andytudhope commented on #2456
@Alonski so some of the devs have been questioning whether the complexity introduced in other PRs with checkpoints etc is not worth it, and they would prefer "translations as data and a UI to do the translations.We don't have time for that, so if an external contributor does it it would be great. This PR was a good way to test the candidate anyway, it makes me pretty confident about him he's a goo

[2017-11-28 11:17] Alonski commented on #2456
@andytudhope Ok so I will write up an RFC for both features and find some time. Glad to be able to help 😀

[2017-11-28 12:39] asemiankevich commented on #2521
1. Tapping multiple times on `Send` button makes the app unsuable.
Go to 1x1 chat - > /request -> tap ~20 times green send button
https://app.testfairy.com/projects/4803622-status/builds/7170527/sessions/28/?accessToken=tsJMUzhy/tmn6-e-7ZTOenqfgc0
This happens on iOS, i tried Andriod and was not able to re-create.
https://github.com/status-im/status-react/issues/2426

2. Sending a lot of requests

[2017-11-28 12:40] adambabik commented on #2534
I had some issues with CWD on iOS using Go. What we can do is to create a `geth.log` file in `RCTStatus.m` and use its absolute path in `LogFile` config property. Basically, all paths set in the config passed to Go should be absolute.

Can we verify this assumption (absolute path to `geth.log`) first?

[2017-11-28 12:47] oskarth commented on #2534
@adambabik Sure. Will do this soon.

[2017-11-28 14:59] annadanchenko commented on #1244
Session with video and log (see from 08:02), user types /16 tries to send - onlt second tap on the send button sends the message, first one has no effect.
https://app.testfairy.com/projects/4803590-status/builds/7178534/sessions/2/?accessToken=xJejZdXk5Iy-Y0exoTu-n/Jqm0M

[2017-11-28 16:12] annadanchenko commented on #2520
verified ok in PR build and merged to develop. should be fixed in 0.9.13 release

[2017-11-28 16:12] #2520 closed, assigned to janherich

[2017-11-28 16:12] annadanchenko commented on #2484
verified ok in PR build and merged to develop. should be fixed in 0.9.13 release

[2017-11-28 16:12] #2484 closed, assigned to janherich

[2017-11-28 16:32] oskarth commented on #2521
@asemiankevich This is really good, great starting point to tie these minimal repeatable qualitative problems into quantitative things we can test and fix.

[2017-11-28 16:42] oskarth commented on #2521
@asemiankevich To clarify, are all these issues reproducible on iOS and Android? Does it matter if it is a high-end or low-end device?

[2017-11-28 17:18] dbalatero commented on #2529
Anyone that also does serious Node or Ruby development (as I do, and many others probably do) typically needs to manage multiple versions of node/ruby across many different projects. It gets more complex to deviate from that once they are in place.

[2017-11-28 17:22] oskarth commented on #2534
@adambabik Not sure what counts as root directory in this execution context but:

[code]
or

[code]

Both results in `SetLogFile err filehandler: open /Documents/ethereum/testnet_rpc/geth.log: no such file or directory`.

This used to work though. status-react has always passed "geth.log" as far as I can tell. What has changed on status-go side last few months in this regard?

[2017-11-28 17:23] andytudhope commented on #2529
Yeah, I actually use and love `nvm`, but was the offshoot of another discussion. I convinced myself that the way you set up the bash script is good and what I would have done, so am happy to see us move forward with that for now (pending a last review from the developer-xp swarm).

[2017-11-28 18:53] dbalatero commented on #2529
@andytudhope Cool!

[2017-11-28 19:31] flexsurfer commented on #2529
i also wanted to try Lumo, so voting for it

[2017-11-28 19:37] dbalatero commented on #2529
I'm looking at Lumo, but not seeing great use cases for bootstrapping a bunch of different dependencies via shell commands. Also the setup requirements currently don't seem to require having a Clojure environment, they're just shell commands to be run in sequence.

Besides "Lumo looks cool, I want to try it" (which is understandable), can someone articulate why this would be a better choice for sh

[2017-11-28 19:52] jeluard commented on #2529
@dbalatero For the particular task you are tackling shell sounds fine to me. IMHO `lumo` would be perfect to simplify our dev workflow.

[2017-11-28 20:05] dbalatero commented on #2529
@jeluard Ah totally – I'm just getting into the project, but I imagine that could help with stuff that this file deals with? https://github.com/status-im/status-react/blob/develop/run-osx.sh

[2017-11-28 20:10] jeluard commented on #2529
Exactly!

[2017-11-28 20:39] oskarth commented on #2534
Fixed in develop.

[2017-11-28 20:39] #2534 closed, assigned to oskarth

[2017-11-28 23:38] oskarth opened #2538 "Script to bundle local status-go into status-react (iOS)"
As a developer I want to bundle local status-go into status-react in one click and bundle.

This issue is about iOS, enhance with Android in later issues.

[2017-11-28 23:46] oskarth opened #2539 "Script to bundle local status-go for Android and IOS"
### User Story

As a developer, I want to build and bundle status-go locally with any platform.

### Description

*Type*: Tooling/Feature

*Summary*: Extend existing script (https://github.com/status-im/status-react/pull/2537) to allow for building on Android and both.

#### Expected behavior
Can bundle local status-go for Android, iOS and both. Also require STATUS_GO_HOME and STATUS_REACT_HOME to

[2017-11-28 23:47] oskarth commented on #2539
Suggested bounty: small or medium.

[2017-11-29 06:32] jeluard commented on #2475
@asemiankevich Can you confirm it has been fixed?

[2017-11-29 06:36] jeluard commented on #1626
@asemiankevich Is this still relevant?

[2017-11-29 06:51] adambabik commented on #2534
I believe it's this commit https://github.com/status-im/status-react/commit/5739bcbb7bcb6b518979cc7a6a97867d7dba9ae0?

[2017-11-29 07:35] flexsurfer commented on #2437
@asemiankevich i think it works as design, so if you type empty parameter for command you can't send it, here the same, but it doesn't look empty because we have dots for security, so nobody wants to create empty password, let's close this issue because it not worth it, because it requires changes for all commands

[2017-11-29 07:58] dbalatero opened #2541 "npm install breaks lock files across developer machines"
### User Story

As a developer, I want to have consistent package lock files so that I don't go crazy.

### Description

*Type*: Bug

*Summary*: `npm` is kind of busted–running `npm install` on my machine modifies the existing `package-lock.json` file. This is wrong behavior, as I have not added/removed/upgraded any packages.

#### Expected behavior

Running `npm install` out of the box does not s

[2017-11-29 09:03] jeluard commented on #2033
@flexsurfer Can we close this?

[2017-11-29 09:04] #2228 closed, assigned to jeluard

[2017-11-29 09:07] #1898 closed, assigned to nobody

[2017-11-29 09:13] pablodip opened #2543 "Improve definition and existence of translation labels"
Related to #2510

### Description

Labels are not defined in the English language, so the English language is used as the source of truth for translations, which couples the translation of English with the definition of labels.

We could use a spec to define existent labels, which could automatically be checked somehow against the code with a task. That way we could treat English as the rest of th

[2017-11-29 09:14] oskarth opened #2544 "Add support for env variables / flags to status-go"
### User Story

As a developer, I want to be able to set ENV variables - such as flags - that show up on status-go so that I or anyone with access to CI can easily try different behaviors and test assumptions around perf.

### Description

*Type*: Feature

*Summary*: Add binding for changing environment on status-go side.

#### Expected behavior
Set env variables on status-react side that impacts

[2017-11-29 09:14] oskarth commented on #2504
Env variables not supported by default, forking part of issue to https://github.com/status-im/status-react/issues/2544

[2017-11-29 09:23] asemiankevich commented on #1626
@jeluard havent seen this in recent develop, let's close

[2017-11-29 09:23] #1626 closed, assigned to nobody

[2017-11-29 09:31] flexsurfer commented on #2033
@jeluard no it's not done https://github.com/status-im/status-react/pull/2092#issuecomment-343945727

[2017-11-29 09:46] dmitryn commented on #2437
@flexsurfer i agree no one should use 6 spaces as a password, though it's a technically valid password in current implementation.
 And yes, it's a very rare case that someone would enter this type of password so maybe the bugfix doesn't worth it really.

[2017-11-29 09:46] oskarth commented on #2544
Blocked by https://github.com/status-im/status-go/pull/483

[2017-11-29 10:19] denis-sharypin opened #2546 "Fix text styles in a chat list view"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to clearly understand which message is read and which isn't for system messages.

### Description

*Type*: Bug

We have to fix how systems messages are shown now in a chat list view.

#### Expected behavior
1. Seen system messages should have a grey color as a normal chat seen messages
2. Syst

[2017-11-29 10:44] asemiankevich commented on #2437
I am closing this issue as discussed above

[2017-11-29 10:44] #2437 closed, assigned to nobody

[2017-11-29 11:24] janherich opened #2547 "Efficient Subscriptions"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

Subscriptions in our should be as effective as possible, forming a tree with potentially many simple, fast (lookup only) Level-1 `re-frame` subscriptions which are recalculated every-time the `app-db` is swapped, but less more complicated, slower subscriptions, which take those Level-1 subscriptions as input

[2017-11-29 11:35] asemiankevich commented on #2521
@oskarth updated comment

[2017-11-29 12:35] andytudhope opened #2548 "Need an easy setup script for linux boxes"
### User Story

As a developer, I want to be able to get going quickly with Status on my Linux machine so that I don't get blocked by trivial things I shouldn't need to worry about before getting my hands really dirty.

### Description

*Type*: Feature

*Summary*: I would love @dbalatero (or any other contributor) to write a bash script for Linux that devs can use to build Status easily.

#### Exp

[2017-11-29 12:43] status-open-bounty commented on #2529
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x3cd0ad8a039a96be7904de99fc3fb7924f20ed08](https://etherscan.io/address/0x3cd0ad8a039a96be7904de99fc3fb7924f20ed08)
Network: Mainnet
Paid to: dbalatero

[2017-11-29 16:03] pablanopete commented on #2529
Hey @dbalatero we've got separate issues created for a Linux script and another one for a script to bundle local Status-go and iOS - can you change the issue description to only focus on Mac for this one and we can handle the other ones in separate ref. issues for tracking / bounty purposes.

https://github.com/status-im/status-react/issues/2539

https://github.com/status-im/status-react/issues/25

[2017-11-29 16:13] #2456 closed, assigned to nobody

[2017-11-29 16:52] status-open-bounty commented on #2548
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x09fd3155e1fc33581d6cfcb19f3295b91accbeb0](https://etherscan.io/address/0x09fd3155e1fc33581d6cfcb19f3295b91accbeb0)
Network: Mainnet
Paid to: dbalatero
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-11-29 18:36] dbalatero commented on #2531
@oskarth I think I know what to do to fix this, and I can open a PR against develop for it. Since my machine is broken in the same way it will be easy for me to validate it.

The thing to do will be to update all references to `master` in this Xcode build script to be `develop`, since that's what we want our "master" to be for all intents and purposes.

Let me know if that sounds good and I'll ope

[2017-11-29 20:56] janherich commented on #2425
@asemiankevich Is this still happening on develop ?

[2017-11-29 20:57] janherich commented on #2488
@churik As the related fix was already merged into develop some time ago, testing doesn't need to happen on a branch.

[2017-11-29 20:58] janherich commented on #2442
@annadanchenko @asemiankevich As the related PR was already tested & merged, can we move this to closed ?

[2017-11-29 21:45] dbalatero commented on #2548
I'll jump on this as soon as we get #2525 merged!

[2017-11-29 22:13] asaphko commented on #2531
I had to switch back to xcode 9 after finding out 8.3.x doesn't work with ios 11 (.........).
will test if this fixes the built for xcode 9 as well.

[2017-11-29 23:54] dbalatero commented on #2531
@asaphko Great! Follow the repro steps here: https://github.com/status-im/status-react/pull/2553

And if you can add a comment to my PR indicating whether it worked or not, that would help me get it merged :)

[2017-11-30 00:17] dbalatero commented on #2529
@pablanopete done

[2017-11-30 06:05] dbalatero commented on #2548
After having experimented a bunch this evening with bootstrapping my own base Linux dependencies, I've found some libraries might have different install procedures depending on which Ubuntu version you're on. This might increase the complexity of this script, as I'm not sure what Ubuntu version people use and which libraries might deviate until diving deeper in.

[2017-11-30 07:09] MichelKansou commented on #2529
@dbalatero how can you apply for this bounty ?

[2017-11-30 08:04] asemiankevich commented on #2475
@jeluard I have tested this both on Android and iOS: I can't reproduce it anymore in latest develop
iOS `0.9.11d404-1557.404`
Android `0.9.10-389-g899293ef+`

[2017-11-30 08:04] #2475 closed, assigned to jeluard

[2017-11-30 09:18] status-open-bounty commented on #2528
Balance: 0.000000 ETH
Tokens: SNT: 4000.00
Contract address: [0x9e4c7a8b8c48bc4d5efc97a039d293fde2f30652](https://etherscan.io/address/0x9e4c7a8b8c48bc4d5efc97a039d293fde2f30652)
Network: Mainnet
Paid to: foreseaz
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-11-30 09:36] annadanchenko opened #2558 "`gte() not a number: null` if initiate transaction from the DApp Action House"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Initiate transaction from DApp Action House (try to Register Name) -> popup `gte() not a number: null` is shown. No Send transaction screen is s

[2017-11-30 09:47] #2529 closed, assigned to nobody

[2017-11-30 09:49] jeluard commented on #2541
If there is an issue with the existing `package-lock.json` then the simplest is probably to fix it. `yarn` might introduced unforeseen issues.

[2017-11-30 09:55] oivoodoo commented on #2548
Hi @dbalatero is it possible to have docker environment via docker-compose setup? usually I am using in all my projects compose for making release version and local dev. it's much faster to get a teammate on board to help.  if you need help with it I can give a try to setup the env for this case.

[2017-11-30 09:57] asemiankevich opened #2559 "Sending a lot of requests causes hot phone issue (old devices, for ex iPhone 5S)"
### Description

*Type*: Bug

*Summary*: Sending a lot of requests causes hot phone issue (old devices, for ex iPhone 5S)

#### Actual behavior
Phone becomes hot

### Reproduction
1. Open Status
2. Go to 1x1 chat
3. Call /request and tap  SEND multiple times

TF https://app.testfairy.com/projects/4803590-status/builds/7178001/sessions/22/?accessToken=dMvajQBcXlV/FTQ5QjuQluS3nEo

[2017-11-30 11:17] yenda commented on #2541
Does rn-nodeify hack still work with yarn ?

[2017-11-30 11:29] #2449 closed, assigned to nobody

[2017-11-30 11:30] jeluard commented on #2558
Fixed by PR #2542

[2017-11-30 12:02] asemiankevich commented on #2425
its not happenin in `0,9.10-407-g2b8acc15+` develop, closing

[2017-11-30 12:02] #2425 closed, assigned to janherich

[2017-11-30 12:05] asemiankevich commented on #2442
closing

[2017-11-30 12:05] #2442 closed, assigned to janherich

[2017-11-30 13:02] Alonski opened #2560 "Translations Web App + Overhaul"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

User story 1: As a translator, I want to ensure I translate all English(Default) strings to my target language in the simplest way and in a not overly technical way.

User story 2: As a reviewer, I want to ensure any updated translations create a PR with the necessary translated strings for all relevant Defaul

[2017-11-30 13:29] andytudhope commented on #2560
@pablodip might be interested by this...

[2017-11-30 16:16] ahmetmertugrul opened #2561 "Translate App Strings to Turkish"
## **User Story**

As a Turkish language speaker, I want to be able to interact with Status in my native language.

## **Description**

_Type_: Feature

_Summary_: We need someone fluent (and eloquent) in Turkish to translate all the latest strings in Status from English. We would like to invite our community members to take on these tasks in order
a) To become a bit more acquainted with the Statu

[2017-11-30 17:43] divan commented on #2504
To test this build, first checkout original hypothesis link: https://github.com/status-im/status-go/issues/432#issuecomment-341201789 — we've identified a strong correlation between introduced delay for writing headers on disk and CPU usage, which assumed to be the main factor for heating the phone.

The test should go with this scenario:
 - Set delay to 0 (or just don't set it), perform fresh ins

[2017-11-30 18:25] dbalatero commented on #2541
@yenda Looks like it does: https://github.com/mvayngrib/rn-nodeify/pull/51

@jeluard You're probably right, I was just having extreme deja vu having been down this road at work and eventually flipping the bar table and switching to `yarn` 😉

One thing to consider is that I'd like the new `scripts/setup-osx` script to be ran fairly often by devs as dependencies change, and `npm install` is taking a

[2017-11-30 18:31] dbalatero commented on #2548
@oivoodoo Definitely possible yeah. Making it a dependency might be heavy. Docker should run the same scripts that a normal Ubuntu dev machine would to bootstrap.

At this point we're just getting the base dependencies setup to reduce that friction and to focus on that one problem. Scripts for building+running I think will come next!

[2017-11-30 19:48] annadanchenko commented on #2488
@janherich Request message does not show the icon both for recipient and for sender. It means that recipient can't click on the request message to get the send command with pre-populated data.
![screenshot_20171130-203620](https://user-images.githubusercontent.com/6584810/33451534-9cd82d2a-d60f-11e7-8d3d-e848f42188ae.png)

See from 00:36 https://app.testfairy.com/projects/4803622-status/builds/719

[2017-11-30 19:49] oskarth commented on #1828
We now have a linux node up, need to set up Jenkins stuff there though. Then:

`node ('linux1') { <android specific stuff> }`
`node ('macos') { <macos specific stuff> }`

Naive test currently fails with: `java.nio.file.NoSuchFileException: /home/jenkins/env.groovy`
https://jenkins.status.im/job/status-react/job/pull%20requests/job/bug%252Fjenkins-test/7/console

[2017-11-30 19:55] oskarth commented on #2533
I clicked some buttons and pushed some keys and now we got:

[code]

[2017-11-30 19:55] #2533 closed, assigned to nobody

[2017-11-30 20:22] annadanchenko commented on #2504
For the iOS build with a delay (experiment/cpu-test-#2504 - build 11): https://app.testfairy.com/projects/4803590-status/builds/7191826/sessions/2/?accessToken=A5Y0jy44mSxpTil9bPhVUTbwcWo
it took ~10 minutes, 21:06 started, 21:17 finished syncing on Ropsten. Phone was not hot/warm when started. Phone become moderate warm when syncing.

Waiting for 15 minutes to get it cold for sure.

For the iOS n

[2017-11-30 20:42] oskarth commented on #2511
![image](https://user-images.githubusercontent.com/1552237/33453682-cfc6ae80-d616-11e7-96d3-c4c12fdcadca.png)

[2017-11-30 20:48] annadanchenko commented on #2504
let's make same build for Android (as TestFairy shows also Temperature stats for Android devices) and perform same measurements @oskarth

[2017-11-30 20:57] oskarth commented on #2511
I've now added https://jenkins.status.im/job/status-react/job/parametrized%20build/ with same defaults as we have in `.env.jenkins`, plus repo+branch.

In principle we can parameterize anything, so if we want Android or iOS only build we can do that, etc.

Some downsides / rough edges:

- Jenkinsfile.parameters copy paste of source control (couldn't figure out how to pick it from Git)
- Annoying t

[2017-11-30 21:01] oskarth commented on #2511
Here's the actual ENV used echoed, as is comparable to `.env` or `.env.jenkins` or `.env.prod` in root directory.

![image](https://user-images.githubusercontent.com/1552237/33454685-de544bbc-d619-11e7-8f8d-9d2907ab1934.png)

[2017-11-30 21:03] dmitryn commented on #2523
@asemiankevich fixing chat header text "last online N minutes ago" requires adding new pluralization rule for RU language – we only support `:one` and `:other` for now. Ideally, it should be:
* 1 минуту назад
* 2 минуты назад
* 5 минут назад

Adding new pluralizator seems like work out of scope for current issue. Please also keep in mind that other languages would also require proper pluralization

[2017-11-30 21:11] #2558 closed, assigned to nobody

[2017-11-30 21:26] annadanchenko opened #2565 "If send ~abc~ to chat then can't login after restart"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In 1-1 chat with Jarrad send `~abc~`. As a result the popup is shown `message.content must be of type 'string', got 'object' ([TaggedValue: a, b

[2017-11-30 21:50] andytudhope opened #2566 "Make it easier for all contributors to use CI tools (jenkins)"
### User Story

As an external contributor I want some CI to give me feedback in PR if build was successful or not. I either want Jenkins to build my PR and deliver it much like Travis-CI or CircleCI does so that I can easily see if my submission passes all the necessary tests etc., or we should move over to one of the others to see if we can improve a bunch of processes and handle some sensitive

[2017-11-30 21:55] dbalatero commented on #2566
I think moving to Travis-CI makes sense to me as it seems like a lot of OSS projects use it and it supports a number of build matrices. It seems easier to work with from a setup standpoint as well. Jenkins feels like older clunkier software to me (this isn't a reason to switch though, just my personal bias).

I think out of the box it will support building forked repos, and we could fix Slack noti

[2017-12-01 07:22] Alonski commented on #2566
I also recommend moving to Travis which is free for OSS as @dbalatero said.
I can also help with this.
Can I get access to the Jenkins tool so that I can remodel it for Travis?

[2017-12-01 07:26] jeluard commented on #2566
What problem would moving away from Jenkins solve for us? (assuming Jenkins is available for everyone)

Jenkins offers us great flexibility (integration with external tools with slack) and we can control its scalability (especially macOSX builds are well known to be slow on TravisCI).
Ultimately Jenkins interactions will be automated so no one has to look at it.

[2017-12-01 07:29] jeluard commented on #2541
`yarn` might be a better tool but it's only useful if it works in the context of our project.

If you can do some tests to validate it works I will give it a try to check it in real dev conditions.

[2017-12-01 07:46] Alonski commented on #2566
Maybe Jenkins can be setup to build every pull request and comment if it succeeds or fails? I am not as familiar with Jenkins but can look into it

[2017-12-01 07:52] jeluard commented on #2566
@Alonski Yes we already have such behavior but it publishes result in an internal slack. What would be great is to have it published to GH too (and share build details at the same time).
This way everyone could see the result of the build.

See our current Jenkins config [here](https://github.com/status-im/status-react/blob/develop/Jenkinsfile)

[2017-12-01 09:55] Alonski commented on #2566
I'll try playing around with it this week. Hopefully I'll be able to get it working in my own branch

[2017-12-01 10:12] annadanchenko commented on #1996
1. Tap on profile image does nothing in Recent statuses list (Discover -> Recent Statuses -> All) and in Popular hashtags list  (Discover ->  Popular hashtags -> All). Would expect that user profile will be opened.
![screenshot_20171201-110310](https://user-images.githubusercontent.com/6584810/33478119-7d97f70a-d688-11e7-92d6-9ff792fec1de.png)

both real iphone 6s, iOs 10.3.3 and Pixel XL Android

[2017-12-01 10:12] annadanchenko commented on #1996
2. If user taps on own username/picture then we show empty profile now.
![img-0775](https://user-images.githubusercontent.com/6584810/33500167-2c0258e0-d6d8-11e7-924f-044aab57f0e1.png)

from 00:11 https://app.testfairy.com/projects/4803590-status/builds/7178534/sessions/14/?accessToken=/qIpAA16Tomzj34kiIP9DbaMoA8
both iOs and Android

 I would expect:
- we do not open anything for the user (it'll

[2017-12-01 11:38] asemiankevich opened #2569 "Investigate: battery drain status issue"
### Description

*Type*: Bug

*Summary*: Investigate and capture battery consumption by status app as there were several complains about that. I heard Jarrad experienced the same issue.

Not too much details for now, so need to investigate both platforms. I saw similar issue using iPhone 5S but it is quite old and that is may be the case.

This ticket is for tracking purposed and investigation - w

[2017-12-01 12:45] oskarth opened #2570 "Offline Inboxing: Add bindings to AddPeer on status-go side"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

MVP for https://github.com/status-im/ideas/issues/1.

### Description

*Type*: Feature

*Summary*: Add bindings to `AddPeer` on status-go side.

- [x] status-go updated
- [x] iOS bindings
- [x] Android bindings
- [x] Clojurescript StatusModule

#### Expected behavior
Possible to call AddPeer from Clojurescript

[2017-12-01 12:49] #2445 closed, assigned to nobody

[2017-12-01 12:53] oskarth commented on #2570
Also see https://github.com/status-im/status-cluster/issues/11

[2017-12-01 13:34] asemiankevich commented on #2436
After converstion with @flexsurfer I am closing this issue as Won't fix

[2017-12-01 13:34] #2436 closed, assigned to nobody

[2017-12-01 14:17] asemiankevich opened #2571 "Add proper pluralization rules for supported languages"
### Description

*Type*: Bug

*Summary*: In scope of this issue:

- add new pluralization rule for RU language – we only support ` :one` and `:other ` for now. Ideally, it should be:

1 минуту назад
2 минуты назад
5 минут назад

Example on how it can be done for Russian language is here: https://github.com/fnando/i18n-js/blob/master/README.md (Pluralization section)

- add the same rules for other

[2017-12-01 14:35] annadanchenko commented on #2504
Android, with delay, build cpu_test 14:

Ropsten, ~15 mins to sync on Samsung Galaxy S6, temperature went from 23.5C to 29.9C (+6.4): https://app.testfairy.com/projects/4803622-status/builds/7198135/sessions/1/?accessToken=tdhIKtjb-iEGJtrL6tFfdt3VZjw

Android, Develop build (no delay):

Ropsten, ~6 mins to sync on Samsung Galaxy S6, temperature went from 22.5C to 25.5C (+3):
https://app.testfairy.

[2017-12-01 14:53] asemiankevich commented on #2488
Fixed in PR (merged) and looks good in latest develop `0.9.10-411-gf07b5363+`

[2017-12-01 14:53] #2488 closed, assigned to janherich

[2017-12-01 14:54] #2210 closed, assigned to goranjovic

[2017-12-01 15:12] #2468 closed, assigned to nobody

[2017-12-01 17:11] dbalatero commented on #2566
If builds for Mac are slow on Travis that's a great reason to not switch.
Ultimately what I want as a non-core-team member is to see every commit
build status in Github via integration, and to be able to click through to
a URL and see exactly what failed. Other than that I'm good.

Someone with admin rights to Github/Jenkins will likely have to set this up
though.

On Fri, Dec 1, 2017 at 1:55 AM A

[2017-12-01 17:11] dbalatero commented on #2541
I absolutely agree!

On Thu, Nov 30, 2017 at 11:29 PM Julien Eluard <notifications@github.com>
wrote:

[2017-12-01 21:43] oskarth opened #2573 "Offline inboxing: Filter should allowp2p"
### User Story

As a user I want to allow mailbox to send my node historic messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Add message filter with `allowP2P` true.

Should be just setting message filter like this:

`web3.shh.newMessageFilter({ KeyId: string, Topic: string , allowP2P: true })`.

Since web3 supports it. Also investigate any possib

[2017-12-02 12:18] janherich commented on #2435
Hi @asemiankevich, is this still happening ?

[2017-12-02 12:47] oskarth commented on #2570
As far as I can tell we can't use because admin is not part of web3. Instead we need to do a IPC call to https://github.com/status-im/status-go/issues/487

Updating issue to reflect this.

[2017-12-02 13:01] oskarth commented on #2570
Blocked by https://github.com/status-im/status-go/issues/487

However, if function signature is agreed upon, preparation PR can be done for this.

[2017-12-02 13:11] oskarth opened #2576 "Offline inboxing: Add MailServer enode as peer and mark as trusted"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

MVP for status-im/ideas#1.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Call `(status/add-peer mailserver-enode)` in relevant place. Also call `shhMarkAsTrustedPeer(enode)`, which is supported as web3 call.

Depends on https://github.com/status-im/status-react/issu

[2017-12-02 13:12] oskarth commented on #2576
Blocked by https://github.com/status-im/status-react/issues/2570

[2017-12-02 13:32] ahmetmertugrul opened #2577 "Error undefined is not an object (evaluating 'u[n]') if tap many times on Contact Group title"
### Description

*Type*: Bug

I clicked too much on the gray area.
![1](https://user-images.githubusercontent.com/6959106/33515774-4084c794-d778-11e7-8f6c-94ebd480833d.png)

The error message came to the screen.

![2](https://user-images.githubusercontent.com/6959106/33515791-99f029b8-d778-11e7-8c66-8b1c0b5494e8.png)

 Video: [https://drive.google.com/file/d/1xTwrBdHJHbMnaYnf5ND2A4Oc557hhwr9/view]

[2017-12-02 14:10] oskarth opened #2578 "Offline inboxing: Generate and store hardcoded mailserver pw/symkey"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

Part of MVP for offline inboxing.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*:  Generate, add and store symkey to be used when calling requestMessages.

- `shh_generateSymKeyFromPassword` and `shh_addSymKey`
- store symkeyID somewhere, or possibly do this inline in

[2017-12-02 15:23] oskarth opened #2579 "Offline inboxing: test if we need new filter, if yes add"
### User Story

MVP of offline inboxing.

### Description

*Type*: Feature

*Summary*: After calling `requestMessages`, investigate if we need an additional filter beyond the one we already have for 1on1 chat.

For the MVP we only care about 1on1 messages. In status-react we use the following to filter messages:

- hardcoded topic for all PMs
- public key

See https://wiki.status.im/Whisper_Messag

[2017-12-02 15:28] oskarth opened #2580 "Offline inboxing: dedup messages"
### User Story

MVP for offline inboxing.

### Description

*Type*: Feature

*Summary*: Once we get messages we presumably need to dedup these when storing/displaying them.

#### Expected behavior
No duplicates.

#### Actual behavior
Unknown.

[2017-12-02 17:57] ghost opened #2581 "Error undefined is not an object (evaluating 'u[n]')"
Error undefined is not an object (evaluating 'u[n]') shown while holding a contact icon.

Operating system: Android 4.4.0

[2017-12-02 18:02] ghost opened #2582 "Edit chat stays open after entering on other menu and coming back."
When editing a group chat, if the menu is not closed it will remain opened even if entering on other menu like "Wallet" and coming back to that group chat.

Operating system: Android 4.4.0

[2017-12-02 18:07] ghost opened #2583 "Back button issues"
When pressing phone's built in back button the app closes.
It does not close options or submenus opened but closes the app.

[2017-12-02 21:22] annadanchenko commented on #2581
@ardielgonzalez thank you for the bug report! Can you, please, add steps to reproduce and the screenshot of the screen with `contact icon`?

[2017-12-02 21:25] annadanchenko commented on #2583
@ardielgonzalez thank you for the bug report! Can you, please, add steps to reproduce? For example:
1. Launch Status
2. Sign in
3. Open Console chat
4. press device back button

[2017-12-03 01:56] MrVuuu commented on #2334
How to claim bounty?

[2017-12-03 15:49] annadanchenko opened #2589 "No amount is shown in Wallet field on Send Transaction screen (`Main Wallet ETH` instead of `Main Wallet 0.1 ETH`)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

On Send Transaction screen there is no value shown in the Wallet field. It happens for both cases when user has 0 ETH or some ETH, e.g 0.1 ETH.

![img_0778](https://user-images.githubusercontent.com/6584810/33526963-deafe3f6-d848-11e7-8de8-132876b94b38.jpg)

[comment]: # (Describe the feature you would like, or briefly summ

[2017-12-03 16:32] andytudhope commented on #2577
Thanks for submitting this issue @ahmetertugrul! The team will look into it this coming week.

[2017-12-03 16:56] ahmetmertugrul commented on #2577
Not at all @andytudhope .

[2017-12-03 17:04] annadanchenko commented on #1341
Etherplay is removed from Dapps

[2017-12-03 17:04] #1341 closed

[2017-12-03 17:24] annadanchenko commented on #1477
see video and log https://app.testfairy.com/projects/4803590-status/builds/7202630/sessions/9/?accessToken=I7Atdzgqmg4T44LhfzABkULLOYo

[2017-12-03 17:49] #2014 closed, assigned to nobody

[2017-12-03 18:19] Serhy opened #2590 "Blank QR code on a quick double tap of the 'Show QR code'"
**Type: Bug**

***Summary***: Blank QR code appears if quickly tap twice (or more) on the 'Show QR code' on profile page for 'Show QR code' area, 'Show QR code' of the 'Address' and 'Public key' area.

***Expected behaviour:***
QR code of the 'Public key'/'Address' is displayed if to tap twice (or more) times on 'Show QR code'
***Actual behaviour:***
Blank area on a place where QR code should be d

[2017-12-04 07:42] ghost commented on #2583
1.- App closed, not running in backgound
2.-Sign in
3.-Open wallet/Chat/Discover/Contacts
4.-Hit back button
5.-App closes

[2017-12-04 07:50] ghost commented on #2581
1.-Go to contacts menu
2.-Hold on any contact's profile icon
3.-Get error
![screenshot_2017-12-02-13-08-16](https://user-images.githubusercontent.com/34160036/33541644-bb165a9a-d8c7-11e7-8a0f-24991fb4572d.png)

[2017-12-04 10:36] rasom commented on #1923
resolved in `develop`

[2017-12-04 10:36] #1923 closed, assigned to nobody

[2017-12-04 10:42] oskarth commented on #2538
This should've been closed in https://github.com/status-im/status-react/pull/2537 but wasn't for some reason.

https://github.com/status-im/status-react/pull/2586 enhances it by fixing first-run bug.

[2017-12-04 10:42] #2538 closed, assigned to oskarth

[2017-12-04 12:23] Serhy opened #2594 "java.lang.SecurityException on /location request with denied access of the device location"
***Type***: Bug

***Summary***: There is an exception happens
*java.lang.SecurityException: Looks like the app doesn't have the permission to access location. Add the following line to your app's AndroidManifest.xml: <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />*
when /location is requested while user denied Status app to access device location:
![screenshot_20171207-2

[2017-12-04 12:59] asemiankevich commented on #2435
Seems its gone in develop `0.9.10-412-g16930cf4+`

[2017-12-04 12:59] #2435 closed, assigned to nobody

[2017-12-04 16:52] #2547 closed, assigned to janherich

[2017-12-04 18:39] Serhy opened #2598 "Emoji are not visible in 1-1 chat message bubbles"
***Type***: Bug

***Summary***: ...
Emoji in 1-1 chat messages are not visible on Android 4.4.2.
If they accompanied by the text - only text is shown.
If the message consist only emoji - empty message bubble is present. However, it's all fine in group or public chat.

**Expected behavior**
Emoji are visible in 1-1 chat messages

**Actual behavior**
No emoji are visible in 1-1 chat messages
![no_em

[2017-12-04 19:40] gdeer81 commented on #737
@alwx so is this just a matter of sending a PR to instabug with all of the locales covered?

[2017-12-04 20:49] annadanchenko opened #2602 "After upgrade: null is not an object (evaluating 'e.toLowerCase') if last message in chat is Request"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

In the upgraded app (if last sent message in the chat was Request message) after sign in:
1. Popup `null is not an object (evaluating 'e.toLowerCase') is shown each time after sign in
2. If open chat and tap on back button then same popup is shown and no navigation happens, so user stays in the chat and need to re-launch ap

[2017-12-04 20:51] annadanchenko commented on #2602
also mentioned in comment https://github.com/status-im/status-react/issues/2473#issuecomment-346013566 but no special data described there. Because initial issue there is different, I've created this one and closed #2473

[2017-12-04 20:52] annadanchenko commented on #2473
@churik please, see #2602 closing this issue as initial problem described is not connected with upgrade and comment about upgrade does not have any specific data to use to reproduce the issue

[2017-12-04 20:52] #2473 closed, assigned to nobody

[2017-12-04 21:08] annadanchenko commented on #2577
@ahmetertugrul thanks a lot for the bug report!
1. Please, report each bug as a separate issue, otherwise it's hard to track what's going on with each of them (bug 1 can be fixed when bug 2 might fail verification and bug 3 might be closed)
2. Please, specify the Android OS version and the device you are using for testing
3. For the bug1 - there is another issue reported with same error message: #

[2017-12-04 21:43] annadanchenko commented on #2583
@ardielgonzalez what is the expected behaviour from your point of view if Chats tab is active and user hits the device back button?

I've tried on real Samsung Galaxy S6, Android 6.0.1 in other apps to compare the behaviour. At least in
1. WeChat - if open app and first is WeChat tab - hit back button - app is minimized
2. WhatsApp - open app, Chats is first tab - hit back button - app is minimize

[2017-12-05 09:55] oskarth commented on #2573
In develop but not verified end to end, moving to done with this provision.

[2017-12-05 10:46] ahmetmertugrul opened #2603 "Previously typed message stays in the input field if continue typing right after hitting send button"
### Description

*Type*: Bug

I wrote a lot of characters in Message Box and send message. But, old characters were not erased when I wrote again.

Video: [https://drive.google.com/file/d/1GMceq-2Iuin9VwxldaATMNGDLY19EoST/view](https://drive.google.com/file/d/1GMceq-2Iuin9VwxldaATMNGDLY19EoST/view)

### Reproduction

- Open Status
- Sign in
- Chat with console
- Click Message Box
- Write character

[2017-12-05 10:58] ahmetmertugrul opened #2604 "Expansion problem with Status emojis in Message Box"
### Description

*Type*: Bug

I wrote a lot of emojis with Android keyboard's emojis in Message Box. Message Box expands as I write. I wrote a lot of emojis with Status emojis in Message Box. Message Box don't expands as I write.

Video: [https://drive.google.com/file/d/1FHMWOQBTUkbFc0WeTVTLCHqpArY4WGcs/view](https://drive.google.com/file/d/1FHMWOQBTUkbFc0WeTVTLCHqpArY4WGcs/view)

### Reproduction

[2017-12-05 11:05] ahmetmertugrul opened #2605 "White screen error"
### Description

*Type*: Bug

I quickly switch between submenus and History and Unsigned menus. Screen was white and Status wasn't open.

Video 1: [https://drive.google.com/file/d/1Lsfv4a46EshLUu3VPSB75x8241J6OwsK/view](https://drive.google.com/file/d/1Lsfv4a46EshLUu3VPSB75x8241J6OwsK/view)

Video 2: [https://drive.google.com/file/d/1-toJCcuCYLGQJijjtLtNSqpxDBZxCsqG/view](https://drive.google.com/

[2017-12-05 12:36] asemiankevich opened #2606 "Assert failed: (number? n) when viewing Asset details"
### Description

*Type*: Bug

*Summary*: `Assert failed: (number? n) ` error shown when trying to view detials of the asset on Main wallet screen

#### Expected behavior
Asset details screen shown

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33607334-daeb6cba-d9d1-11e7-840d-26703eda3956.png)

### Reproduction
- Open Status
- Go to Wallet
- Click any asset

###

[2017-12-05 12:41] asemiankevich opened #2608 "Index 0 out of bounds: node has no children error shown when accessing Transaction history screen"
### Description

*Type*: Bug

*Summary*: Error `java.lang.ArrayIndexOutOfBoundsException: Index 0 out of bounds: node has no children` shown when opening Transaction history

#### Expected behavior
No errors

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33607512-79f6af22-d9d2-11e7-8fc4-a21a3045f1b6.png)
## NOTE: app crashes when clicking the `Exit` button
### Re

[2017-12-05 14:15] asemiankevich opened #2609 "Unknown Testnet instead of selected one in user profile"
### Description

*Type*: Bug

*Summary*: `Unknown` Testnet is shown in Testnet warning

#### Expected behavior
I expect the name of network I am connected to

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33611441-723058d0-d9df-11e7-80e9-abbbc22b278c.png)

### Reproduction

- Open Status
- Go to Profile
- Pay attention to testnet warning message

### Additional I

[2017-12-05 14:32] goranjovic commented on #1996
Fixed the bug from first screenshot.

The one from second screenshot (empty profile screen) is a side effect of another known bug - https://github.com/status-im/status-react/issues/2306

[2017-12-05 14:46] ahmetmertugrul opened #2610 "White screen error 2"
### Description

*Type*: Bug

I quickly switch between History and Unsigned. Screen was white.

Video: [Video](http://sendvid.com/6wywo6hf)

### Reproduction

- Open Status
- Sign in
- Open Wallet
- Open Transactions
- Open Unsigned
- Open History
- Open Unsigned
- Open History
- Show white screen
- Click back button
- Open Transactions
- Open Unsigned
- Open History
- Open Unsigned
- Open History

[2017-12-05 15:33] #2423 closed, assigned to nobody

[2017-12-05 18:16] #2570 closed, assigned to oskarth

[2017-12-05 18:16] oskarth commented on #2570
Fixed in develop

[2017-12-05 22:13] annadanchenko opened #2613 "Long username is not cut with ... so button Chat goes outside of the card in Discover"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
Button `Chat` is moved outside of the card if username is too long in Discover, Discover -> Popular hashtags -> All and in Discover -> Recent St

[2017-12-05 22:16] shonefos opened #2614 "Offline message after turn on cellular data"
After I turned off the cellular data and started it up again the offline message remained in the chat, I had to do it cold start on iPhone to make the Offline message disappear

*Type*: Bug

#### Expected behavior
[comment]: # Once I'm online , the Offline message should be disappear automatically
![img_6953](https://user-images.githubusercontent.com/6567655/33633765-388ee082-da12-11e7-85b7-f09b4b

[2017-12-05 22:22] shonefos opened #2615 "Message sent when i was offline"
[comment]: Although I was offline, the message was sent to my chat window

*Type*: <Feature>

![img_6953 2](https://user-images.githubusercontent.com/6567655/33634037-14593e5a-da13-11e7-80d8-42740f105f6e.PNG)

#### Expected behavior
[comment]: There should be an answer, the message is not sent

[comment]: # (Android or iOS.)
* Operating System: iPhone 6+ (11.2)

[2017-12-05 22:40] shonefos opened #2616 "Keyboard issue"
[comment]: # If I type something in chat and after that go back and tap on the icon(wallet, Chats, Discover, Contacts) in the menu will open my keyboard, only the second tap will open the desired window.

*Type*: <Bug>

* Operating System: <iOS>
iPhone 6+(11.2)

[2017-12-05 22:51] annadanchenko opened #2617 "Card with less popular hashtag goes before card with more popular hashtag in Discover"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In discover, popular hashtags section shows most popular hashtags. So, card with hashtag "X" is shown first in the row if X is mentioned in more

[2017-12-05 22:53] shonefos opened #2618 "Don't get a message for repeat password"
After I add the password for the first time again, I get a message to enter the password, so it seems a bit confusing.

*Type*: <Feature>

Expected behavior
After the first entry of the password need to get message / repeat your password"

* Operating System: <iOS>
iPhone 6+

[2017-12-05 23:01] shonefos opened #2619 "Placeholder overlaping"
Placeholder overlap under the action

*Type*: <Bug>

#### Expected behavior
After tapping on the input field, the placeholder should disappear

 ( iOS.)
* Operating System: <Android|iOS>
iPhone 5
iPhone 6+
![img_6961](https://user-images.githubusercontent.com/6567655/33635550-9fcbeb4a-da18-11e7-9639-b2b3b717f2bf.PNG)

[2017-12-05 23:04] annadanchenko opened #2620 "Back button brings user to Discover instead of Popular hashtags or Recent Statuses if Chat was opened from one of these screens"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: User opens Discover -> All (in Popular hashtags), so Popular hashtags screen is opened -> tap on Chat button, so 1-1 chat is opened. After this

[2017-12-05 23:09] annadanchenko commented on #2619
@jeluard seems like #1286  is back. Can you, please, check if it can be reproduced on your device (as it was before)?

[2017-12-05 23:13] shonefos commented on #2619
Maybe I got an older version via Testflight.

[2017-12-05 23:14] annadanchenko commented on #2616
@shonefos thank you for the bug report! Can you, please add steps to reproduce like
- Launch Status
- Sign in
- Open chat with Jarrad
- Tap inside input field, type "Abc" and tap on send button.
- Tap on button "<" to return to Chats
etc, so we can use them to reproduce the issue.

It would be also great to have a picture of the exact issue (if it demonstrates itself visually) and video of the ste

[2017-12-05 23:17] annadanchenko commented on #2619
@shonefos if it's iOs 10.X then you can check it in device settings -> general -> Storage & iCloud usage -> Manage Storage -> Status. If iOS 11.X - there is some similar settings but shorter path - somewhere in the Storage, sorry don't have now device to check exact path - will find in about 10 hours

[2017-12-05 23:23] shonefos commented on #2619
0.9.12(1557.321)

![img_6962](https://user-images.githubusercontent.com/6567655/33636267-bd50a432-da1b-11e7-8404-ff977df8dbe5.PNG)

[2017-12-05 23:25] annadanchenko commented on #2619
also good idea @shonefos :) so you have 0.9.12 and it looks like we have a regression for the fixed issue

[2017-12-05 23:26] shonefos commented on #2616
Reproduction :
* Launch Status app
* Log in
* Open Chat
* Tap on input field "aaaa"
* Tap on Back button
* Tap on Menu icon Contacts

[2017-12-05 23:29] shonefos commented on #2616
https://www.youtube.com/watch?v=s4Ufnr6kuFc

[2017-12-05 23:32] shonefos commented on #2619
@annadanchenko sorry, I didn't know which is the latest version , good luck :)

[2017-12-06 06:44] kodalim opened #2621 "messaging inconsistencies"
### Messages not sent always.

As a tester verifying if Status messages are sent across properly

### Description

[comment]: # Defect
*Type*: Bug

#### Expected behavior
Messages should be working between two Status apps just like Whatsapp

#### Actual behavior
Doesn't work so. After a period of inactivity, when we try to send messages, messages are not received. The online status on phones refle

[2017-12-06 06:48] andytudhope commented on #2334
Hi @MrVuuu. The PR submitted here: https://github.com/status-im/status-react/pull/2362 was slghtly better/more accurate than yours. However, there are still a bunch of comments needing to be fixed on ti and the original contributor seems to have lost interest. If you'd like to rebase onto his branch, fix the outstanding review comments and submit, then you'll likely be awarded the bounty.

[2017-12-06 07:33] rasom commented on #1547
Already implemented in `develop`

[2017-12-06 07:33] #1547 closed

[2017-12-06 07:55] jeluard commented on #2619
@annadanchenko I had this appear sporadically. I guess it never has been fixed.

[2017-12-06 07:55] jeluard commented on #2619
Some big related changes are in flux so maybe not worth looking at: https://github.com/status-im/ideas/issues/45

[2017-12-06 09:00] asemiankevich opened #2622 "Invalid Console response {Iine , :column}"
### Description

*Type*: Bug

*Summary*: invalid Console response for unexpected inputs or Web3 commands `{:line 399, :column 22759}`

#### Expected behavior

Console should reply accordingly the request performed, ether Web3 reply or `Message [message] is not defined`

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33653150-121c1120-da7d-11e7-86f6-d3ced24c2130.pn

[2017-12-06 09:37] kodalim opened #2623 "Message ordering incorrect if messages are received after a time lag"
### User Story

As a tester, I am verifying if messages sent from one phone are received in the order that have been sent.

### Description
Type - Bug
*Summary*: Messages are not always received in the order that they have been sent.

#### Expected behavior
Messages sent should be received by the receiver in the order sent

#### Actual behavior
First, there are inconsistencies in sending and recei

[2017-12-06 11:08] status-open-bounty commented on #2620
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x8c4386a1c0201a1262e47866488aca7e858febad19591ba5f50ae497ed3708c7](https://etherscan.io/tx/0x8c4386a1c0201a1262e47866488aca7e858febad19591ba5f50ae497ed3708c7)

[2017-12-06 11:59] ReneeAB opened #2626 "The app is still offline and swipe functionality is broken after the user tried to open the transactions history while offline."
### Description

*Type*: Bug

*Summary*: There are a couple of issues when the app is disconnected to the Wifi when using an iPhone.
First, after trying to open the Transaction history from the "Wallet", when the user swipes right to a different page the "Wallet" tab at the bottom of the page is still highlighted and clicking on the "Wallet", "Chats", "Discover" and "Contacts" does not work. Then,

[2017-12-06 12:01] graemerycyk opened #2627 "Editing of users phone number via the action sheet doesn't work on iOS"
### User Story

As a User, I want to "Edit" my Phone number so that my Phone number is changed and stored in my profile.

### Description

*Type*: Bug

*Summary*: When the user opens the profile view and Phone Number is set to "Not specificed" pressing the "..." and “Edit” in the action sheet, results in nothing happening when "Edit is pressed" the action sheet button doesn’t seem to work.

#### E

[2017-12-06 12:11] graemerycyk opened #2628 "User profile edit information isn’t updated for other users iOS"
### User Story

As User A, when User B edits his or her information I want those changes to be reflected in User A's chat/contact/search results for User B.

### Description

*Type*: Bug

*Summary*: User information isn’t updated on from one user to another, ie User A updates their status/name/picture and then these changes are not updated in User B's information for User A.

#### Expected behavio

[2017-12-06 12:18] graemerycyk opened #2629 "Changing iOS Privacy settings from the OS level settings lead to the user being is signed out from the app"
### User Story

As User when Uprivacy setting are changed on the OS level settings I want to still be signed in.

### Description

*Type*: Bug

*Summary*: When the app is open and you are logged in but you navigate away and change the Privacy settings from the OS level settings the user is signed out from the app.

#### Expected behavior
When OS settings are changed with regarss to Status, the use

[2017-12-06 12:53] Monali109-zz opened #2630 "Status App - Edit Chat option is not working as intended"
**Description**

 Type: Bug

*Summary*: ...
After sign in to Status App -
1. Go to **Chats** option.
2. Then click on  Edit option. Edit Chats option will display on screen
3.Please see the attached screenshots.
4. After clicking to edit option  - Delete chat option is displaying.
![screenshot_2017-12-06-18-00-58-337_im status ethereum](https://user-images.githubusercontent.com/20433356/33662496-f

[2017-12-06 13:24] ReneeAB opened #2631 "Error Null is not an object (evaluating 'c.greaterThanOrEqualTo') is displayed when trying to send ETH offline"
### Description

*Type*: Bug

*Summary*:
When the user is not connect to the wifi, Error Null is not an object (evaluating 'c.greaterThanOrEqualTo') is displayed when trying to send ETH from the wallet.

#### Expected behavior

The user should be able to enter an amount and a recipient before signing in.

#### Actual behavior
The error message prevent the user to select a recipient or an amount.

[2017-12-06 13:28] Monali109-zz opened #2632 "Recover Access is creating another new account"
**Description**
*Type*: Feature

*Summary*: ...
1.  Open Status app.
2. Click on Recover access option.
3. After that screen will appear as shown in attached screenshot.
![screenshot_2017-12-06-17-54-30-465_im status ethereum](https://user-images.githubusercontent.com/20433356/33663477-2b26de00-dab6-11e7-9e22-56eef1f74743.png)
4. Click on Recover Access option once again. It opens another new acco

[2017-12-06 13:41] Quiark opened #2633 "Crash immediately after logging into account"
# Problem

Simply crashes pretty much always, after selecting account and entering password

# Information

Device: OnePlus One
OS: LineageOS, rooted
build.display: bacon-userdebug 7.1.2 NJH47F 410d9b4f68
build.fingerprint: oneplus/bacon/A0001:6.0.1/MHC19Q/ZNH2KAS1KN:user/release-keys

logcat:
[code]

Originally reported at https://github.com/status-im/status-go/issues/502#issuecomment-349602231
S

[2017-12-06 13:49] ahmetmertugrul commented on #2577
@annadanchenko I'm updated and added video.

[2017-12-06 14:05] asemiankevich commented on #2631
Hey @ReneeAB !

Thank you for your time spent on this bug report, could you please add more details how to reproduce it? OS version and device would be bunch of help!

[2017-12-06 14:20] oskarth commented on #1996
@goranjovic Can this be closed?

[2017-12-06 14:21] asemiankevich commented on #2632
Hi @Monali109, thank you for your report! As I can see from screenshot this is expected behavior for the application. To recover an account which was created before you need to use your secret phrase that was generated along with your account you are trying to restore.
Please keep in mind the pass phrase should be exactly the same otherwise new account will be created instead. We also have an open

[2017-12-06 14:21] #2632 closed, assigned to nobody

[2017-12-06 14:21] ReneeAB opened #2635 "Invalid predicate error is displayed when the user uses foreign characters in hashtags"
### Description

*Type*: Bug

*Summary*:
invalid predicate error is displayed when the user uses foreign characters in hastags.

#### Expected behavior
The user should be able to type and save foreign characters or get an user friendly message when foreign characters are nor allowed.

#### Actual behavior
invalid predicate error is displayed when the user uses foreign characters to update the prof

[2017-12-06 14:49] asemiankevich commented on #2630
Hi @Monali109 !

What you are describing is expected behavior of the application. So when you are on Chats tab you can click Edit -> Remove selected chat from the list.

Other option for Edit is when you create group chat - so you can modify chat's name , invite or remove participants. You can add your custom chat name when you are creating it as well as you can change it later - just go to this g

[2017-12-06 14:49] #2630 closed, assigned to nobody

[2017-12-06 15:03] oskarth opened #2636 "Merge PR script from external contributor with code signing"
### User Story

As a developer, I want all commits that make it into develop to be code signed by a core contributor's PGP key so that I know the certified source of changes introduced in our code base.

### Description

*Type*: Feature/Tooling

*Summary*: Write a script that automate most parts of merging a PR from an external contributor while still signing the commit from the command line.

For

[2017-12-06 15:15] #2523 closed, assigned to asemiankevich

[2017-12-06 15:16] #1224 closed

[2017-12-06 15:39] kodalim opened #2637 "Sending Transaction - Choosing the recipient via 'Use Address From Clipboard' results in error"
![screenshot_20171206-161925](https://user-images.githubusercontent.com/34264946/33669855-8ff331a4-dac9-11e7-886b-f2c5bb4606b2.png)
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a tester trying to choose recipient for sending a transaction from the clipboard selection results in error

### Description

#### Expected behavior
Should choose the user publ

[2017-12-06 15:47] annadanchenko commented on #2637
@kodalim thanks for the bug report! Please, specify
- Status version,
- build you are using for testing (link to apk or  is it from PlayStore/TestFligh)
- OS version (e.g. Android 6.0.1)
- device model (e.g. Galaxy S6)

[2017-12-06 15:48] jeluard commented on #2637
Pasted address is not a proper ethereum address (incorrect format, it is too long).

[2017-12-06 15:48] andytudhope commented on #2637
Hi @kodalim. It looks like you have tried to use the Public Key there, rather than the address, which is what is needed. Ethereum addresses have the form: 0x27b4eC0EA57F2149AA115DA28C7E6dFC393D3FdB (i.e. a fair bit shorter than what it seems you were trying to pass in there).

[2017-12-06 15:50] Monali109-zz opened #2639 "Status app installation"
### Description

Type: Bug

_Summary_
Status App not able to install.
#### Expected behavior
Should display install option.

#### Actual behavior
On Lenovo device - OS Android 6.0, on store tried to install, but install option is not visible.
It's displaying as following screenshot(Early Access) -
![screenshot_2017-12-06-20-43-14](https://user-images.githubusercontent.com/20433356/33670230-9baebbd

[2017-12-06 15:55] status-open-bounty commented on #2613
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x677294cf0cc96484c147de0fb2cebb0a185416af98b9fd62684afba3cea590b1](https://etherscan.io/tx/0x677294cf0cc96484c147de0fb2cebb0a185416af98b9fd62684afba3cea590b1)

[2017-12-06 15:57] #2637 closed, assigned to nobody

[2017-12-06 15:57] poiga commented on #2613
is there an error in the bounty page? https://openbounty.status.im/app shows reward is 0.

[2017-12-06 15:58] annadanchenko commented on #2613
@poiga contract is still deploying so haven't sent any SNT to it yet

[2017-12-06 15:59] andytudhope commented on #2639
Hi @Monali109! Thanks for the report. Our App Store invites are full, but you can always get the latest nightly apk files from here: http://artifacts.status.im:8081/artifactory/nightlies-local/

Just navigate to that link on your phone and click on the lastest .apk file and give it permission to install on your device. These are not necessarily stable, but at least you can see all the latest devel

[2017-12-06 15:59] #2639 closed, assigned to nobody

[2017-12-06 16:12] jeluard opened #2640 "Cleanup react-native source folder"
### User Story

As a developer, I want to remove useless code.

### Description

React Native way of loading images (via `require`) used to be an issue when running tests under `nodejs`. This is not the case anymore.

Code in [react-native/resources](https://github.com/status-im/status-react/blob/develop/react-native/src/status_im/react_native/resources.cljs) should be integrated in the main `src`

[2017-12-06 16:36] annadanchenko commented on #2628
@grycyk thanks for the bug report! How many times can you reproduce it? Like 3 out of 3 attempts. How long have you waited after info was updated? Was it all data (name, status, picture) updated or only part of it? Can you add a video if possible?

[2017-12-06 16:41] graemerycyk commented on #2628
All data it seems, I have tried several times to update and nothing is pushed through. I can try again with new users?

[2017-12-06 16:42] Monali109-zz opened #2641 "Not able to edit phone number in settings option"
### Description

Type: Bug

*Summary*: ...
Not able to edit/ enter  phone number in settings option.
Please see attached screenshot.
![screenshot_2017-12-06-21-58-14-099_im status ethereum 1](https://user-images.githubusercontent.com/20433356/33673220-3825b9f2-dad2-11e7-9c34-035e5293e334.png)

#### Expected behavior
User should be able to enter/edit number on UI.

#### Actual behavior
Not able to

[2017-12-06 16:59] jeluard opened #2642 "Allow to send/request ERC20 token: wallet"
### User Story

As a user, I want to send ERC20 tokens from the wallet.

### Description

Modify the wallet so that ERC20 tokens can be sent / requested.

*Type*: Feature

[2017-12-06 17:02] jeluard opened #2643 "Allow to send/request ERC20 token: command"
### User Story

As a user, I want to send ERC20 tokens from the chat.

### Description

Modify the `send` and `request` commands so that they support ERC20 tokens.

*Type*: Feature

[2017-12-06 17:03] Monali109-zz opened #2644 "Displaying an error on UI"
### Description

 Type: Bug

*Summary*: ...
Sign in status. Go to contacts list. click on State of the DApps option. Displaying an error on UI as Undefined is not an object(evaluating 'u[n]').
![screenshot_2017-12-06-22-22-40-360_im status ethereum](https://user-images.githubusercontent.com/20433356/33674411-6dd0b61c-dad5-11e7-8f52-b18b99ff8fb7.png)

#### Expected behavior
Shouldn't display an err

[2017-12-06 17:11] jeluard opened #2645 "Improve QR code to add ERC20 support"
### User Story

As a user, I want to be able to scan QR code containing ERC20 tokens details.

### Description

QR code can be used to encapsulate ERC20 tokens transfer. Make sure those are supported.

*Type*: Feature

[2017-12-06 17:52] graemerycyk commented on #2628
@annadanchenko looks like it has been fixed, now I am seeing the profile updates occurring almost right away! 🙌

[2017-12-06 18:02] ahmetmertugrul opened #2646 "Password's first character is looks"
### Description

*Type*: Bug

When the new account is opened, the first character of the password appears when all characters except the first character of the password are deleted.

Video: [https://drive.google.com/file/d/1i6XDqq5Mhf1YL3lVC33ggINouACliOrK/view](https://drive.google.com/file/d/1i6XDqq5Mhf1YL3lVC33ggINouACliOrK/view)

### Reproduction

- Open Status
- Open new account
- Click /pass

[2017-12-06 18:29] graemerycyk commented on #2641
@annadanchenko This looks like a duplicate of https://github.com/status-im/status-react/issues/2627

[2017-12-06 18:43] graemerycyk commented on #2631
@asemiankevich

I have been able to reproduce this on iOS 11.2 & iPhone SE if this helps.

Reproducing seems pretty straightforward, this was how I got this error message to appear, ETH seems to be the issue, and not being offline, I think...

Preconditions: I guess being offline isn't required, as I can reproduce this error message when online, I think wallet just needs to be empty.

Steps:
* Ope

[2017-12-06 18:49] graemerycyk commented on #2631
@asemiankevich @ReneeAB I would suggest trying to reproduce this with a fresh install and as new user, as it looks like this is not longer reproducible after you do this:

* Open Status and Login
* Then go to the "Wallet" tab
* Press "Send" segment
* The "Amount text field will begin focus and a numeric keypad should be visible
* Type the digit 1
* "Error null is not an object (evaluating 'c.great

[2017-12-06 18:59] graemerycyk commented on #2631
Figured it out, offline is the best way to reproduce this in fact but the cause is due to this ... you see in the USD on the main wallet screen. Offline is causing an issue with the calculation (guessing here), but what happens is it leads to a null value in the wallet and then throwing the user that error.

![img_f8528a11cd75-1](https://user-images.githubusercontent.com/10434839/33679731-d7b4cfd4

[2017-12-06 20:22] ReneeAB commented on #2631
Hi @grycyk you are right, I haven't been able to reproduce it again with my two users, I guess each user will see the issue one or two times then, it will not be reproducible. Thanks for your explanation.

[2017-12-06 20:29] annadanchenko commented on #2644
@Monali109 Please, search for the known bugs before reporting new one. We are happy that you help but regret you will waste time for reporting already known issues. If search for "undefined is not" phrase then you can find  #2577

I'm closing this one as it's a duplicate bug report

[2017-12-06 20:29] #2644 closed, assigned to nobody

[2017-12-06 20:32] annadanchenko commented on #2641
@Monali109 Please, search for the known issues before reporting new ones. As @grycyk mentioned it's a duplicate of #2627, so no need to report it again. However, if you find some known issue where you can add extra info, especially if they have label "Help to reproduce" then please write a comment with any extra info/video/logs you can add.

[2017-12-06 20:32] #2641 closed, assigned to nobody

[2017-12-06 21:32] ReneeAB opened #2647 "java.lang.NullPointerException is displayed and Status Crash when the user slide the Fee bar to the maximum"
### Description

*Summary*:
java.lang.NullPointerException is displayed and Status Crash when the user slide the Fee bar to the maximum, I got two different error message each time (see screenshot) however, the issue is not that easy to reproduce.

*Type*: Bug

#### Expected behaviour
The  error message should not be displayed when the user changes the fee

#### Actual behavior
java.lang.NullPoint

[2017-12-06 21:35] ahmetmertugrul commented on #2561
![1](https://user-images.githubusercontent.com/6959106/33686612-8ac418e8-dae6-11e7-8c94-bcca031f8df6.png)

![2](https://user-images.githubusercontent.com/6959106/33686613-8aeaac2e-dae6-11e7-95ab-0bcee482e182.png)

![3](https://user-images.githubusercontent.com/6959106/33686615-8b0d4f4a-dae6-11e7-8f3d-fe7b185523b6.png)

![4](https://user-images.githubusercontent.com/6959106/33686616-8b324520-dae6-1

[2017-12-06 23:10] ReneeAB opened #2648 "Status and usernames are not properly updated in some cases, as a result, some messages do not reach the recipient."
### Description

*Type*: Bug

*Summary*:
Status and usernames are not properly updated in some cases, as a result messages to not reach the recipient.

#### Expected behaviour
When a users change their status and name, they should see their updated status and name on the discovery page and the chat, the others users should see the changes as well on the discovery page and on the chat.

#### Actual

[2017-12-07 05:10] kodalim commented on #2637
Status version: 0.9.12+
Build: From PlayStore
OS version: Android 7.0
Device : Samsung Galaxy Note5/7.0,

@annadanchenko - Please note the above information. I have tested this on Android version of 6.0.1 on other devices and the behavior is the same.

@andytudhope - Agree that I have used the Public Key copied in the clip board instead of the address. I  verified using the address in the clipboar

[2017-12-07 07:33] andytudhope commented on #1774
@nrakochy I see that you've had no response from the Iwansbrough team? Any further progress here/other ideas?

[2017-12-07 07:42] asemiankevich commented on #2631
@ReneeAB @grycyk I can't reproduce it with my iOS 11.11 , will update the device and dig more. Thank you!

[2017-12-07 08:32] dbalatero commented on #2566
@Alonski see here: https://jenkins.io/solutions/github

Most CI solutions I've seen hook into Github's API, vs posting a comment. Using an API hook would be nicer integration, if possible.

Also I think Jenkins should be publicly open, at least as a read-only URL. That way everyone sees the same view of CI.

[2017-12-07 08:42] Monali109-zz opened #2650 "Reorder groups option on User Interface unable to reorder"
### User Story
1. As a User I want to Reorder the groups.
2. As a Tester I want to test the UI of option Reorder groups & see that I am able to reorder the groups.

### Description
 Type: Bug
*Summary*: ...
1.Sign in to status.
2.Select Contacts option.
3.Select the option Reorder groups.

#### Expected behavior
After Selecting Reorder groups on UI, User should be able to reorder the groups, using

[2017-12-07 09:12] #1996 closed, assigned to goranjovic

[2017-12-07 09:12] #2516 closed, assigned to goranjovic

[2017-12-07 09:12] #2517 closed, assigned to goranjovic

[2017-12-07 09:32] graemerycyk commented on #2631
@asemiankevich this might help you? -> http://share.xctest.io/mT9lsY

[2017-12-07 09:48] goranjovic opened #2651 "Add a Request button to Assets screen - My Token tab"
## User Story

*Type*: Feature

*Summary*: Add a no-op "Request" button to My token layout

[2017-12-07 09:49] asemiankevich opened #2652 "Wallet: Asset screen does not match UI mocks"
### Description

*Type*: Bug

*Summary*: I will list the UI discrapencies which are currently taking place in ERC20 implementation (https://github.com/status-im/ideas/issues/3)

#### Expected behavior

- Asset main screen: https://app.zeplin.io/project/5863cdcee68455850f1929f2/screen/5991fb08dd2ec4ce5e3978c5
- Wallet main screen:
https://app.zeplin.io/project/5863cdcee68455850f1929f2/screen/5991fb

[2017-12-07 10:47] antdanchenko opened #2653 "'Error registering name' after sending a transaction to dApp"
### Description

*Type*: Bug

#### *Summary*: The error is shown after creation of an auction.
 Please note, the error is shown in dApp, however the issue should be on our side:
* **The issue first occurred in im.status.ethereum-6d5251.apk (05-Dec-2017 19:01)**
* **The issue can not be reproduced in im.status.ethereum-afd7fc.apk (05-Dec-2017 03:15)**

#### Expected behavior
Auction is created, 'Yo

[2017-12-07 10:50] oskarth commented on #2578
Solved in https://github.com/status-im/status-react/pull/2624. Done inline.

[2017-12-07 10:50] #2578 closed, assigned to oskarth

[2017-12-07 10:51] oskarth commented on #2573
Closing this as it has been done. If there are bugs new issues will be opened.

[2017-12-07 10:51] #2573 closed, assigned to oskarth

[2017-12-07 11:42] asemiankevich commented on #2631
@grycyk yes, appreciate that. That makes a lot of sense

[2017-12-07 11:56] antdanchenko opened #2654 "Maintenance of end-to-end tests for Status app"
### User Story

As an automation engineer, I want to keep tests up to date with current product behavior

### Description

*Type*: Bug

*Summary*:
- test_send_funds_via_request is failing because requested sum is not found. The sum is too small so it has been rounded in app.
- transaction tests and wallet tests are running in parallel and using same users, additional user should be added in order

[2017-12-07 11:57] asemiankevich commented on #2631
I checked latest develop http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a68f06.apk and the issue is not there. I assume it is fixed in develop build but it is taking place in `0.9.12` release.

[2017-12-07 11:59] graemerycyk commented on #2631
Ok lmk when there is a new testflight build and i can retest if you need.

[2017-12-07 12:09] oskarth commented on #2576
Slight setback. Just noticed it exists in web3.js (https://github.com/ethereum/web3.js/search?utf8=%E2%9C%93&q=markTrustedPeer&type=) but not in our fork (https://github.com/status-im/web3.js/search?utf8=%E2%9C%93&q=markTrustedPeer&type=). Investigating.

[2017-12-07 13:01] asemiankevich opened #2655 "Wallet: Missing (default) icons for assets"
### Description

*Type*: Bug

*Summary*: There is a hardcoded (for now) list of tokens under Mainnet and some of them are displayed with default picture.

#### Expected behavior
I want all tokens that are avaliable shown with associated icon

#### Actual behavior
Missing icons for the following tokens:

`REP`, `AdEx` + `Metal` + `Target Coin` + `BitDice` + `Enjin Coin` + `AVT`, + `TIME` + `PRG`

!

[2017-12-07 13:13] oskarth commented on #2512
This is done with following provisions:

- under custom status-go build with status-go 470 branch
- under flag
- end to end not confirmed outside of getting OK response from status-go

To be really done status-go #470 is merged to develop. (API might change).

[2017-12-07 13:29] asemiankevich opened #2658 "JSON Parse error: Unexpected EOF [erc20 branch 2634]"
### Description

*Type*: Bug

*Summary*: `JSON Parse error: Unexpected EOF` shown when I launch upgraded app (from release 0.9.12b to ERC20 branch). After i click to close the error message white screen appears and I am not able to use the app

#### Expected behavior
Should be able to upgrade release version to current branch with no errors on launch

#### Actual behavior

![image](https://user-im

[2017-12-07 13:30] janherich opened #2659 "Unviewed count notification is not persisted between app restarts"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Whenever user get some new messages in chat which is not open while he

[2017-12-07 14:26] annadanchenko commented on #2627
duplicate of #1677

[2017-12-07 14:26] #2627 closed, assigned to nobody

[2017-12-07 14:30] graemerycyk commented on #2627
Whoops, sorry @annadanchenko I searched the open issues but didn't come across #1677

[2017-12-07 15:36] oskarth commented on #2576
Done in develop

[2017-12-07 15:36] #2576 closed, assigned to oskarth

[2017-12-07 15:37] oskarth commented on #2579
Appears nothing extra is needed.

[2017-12-07 15:37] #2579 closed, assigned to oskarth

[2017-12-07 15:41] oskarth commented on #2512
status-go #470 merged to develop, new argument `peer`.

Use status-go develop instead of own rebased franken build.

[2017-12-07 15:44] oskarth commented on #2482
Not critical. Removing from offline inbox for now. Can revisit this later at some point.

[2017-12-07 16:13] rasom commented on #1785
We can write our own `fetch` with timeout in Java/Obj-c

[2017-12-07 16:23] annadanchenko commented on #2577
Can reproduce on develop build,  but error does not stay on the screen (can see it in the log):
`00:59 I/ReactNativeJS: MESSAGE: undefined is not an object (evaluating 'u[n]')` https://app.testfairy.com/projects/4803622-status/builds/7234321/sessions/24/?accessToken=fJKIF2Zh4bpUhM2lvwJdsDeomlM
Device: real device from BitBar cloud LG G4, ANDROID 6.0
- nightly develop build http://artifacts.status.

[2017-12-07 16:31] annadanchenko commented on #2581
@ardielgonzalez I can't reproduce the issue yet. Would you mind to install the development build where extra logging is enabled, try to reproduce the issue and let me know the outcomes, please? To find the video/log from your device I need to know date-time-minutes when session was started, country and the device type you are using. Development build from Dec 7: http://artifacts.status.im:8081/art

[2017-12-07 16:43] annadanchenko commented on #2582
@andmironov @denis-sharypin  from UX perspective is it ok that Group chat menu (with options Members, Search chat, Notifications, Settings) stays open after user press device Back button and navigates from Group chat to Chats? So when user returns back to the Group chat then menu stays open.  I assume it's OK as I've returned to the same state where I left the screen...
![screenshot_20171207-17405

[2017-12-07 16:47] annadanchenko commented on #2583
@ardielgonzalez can you, please, double check if the app is closed and not minimised? I can't reproduce the closing, in my case it's minimized. Also would be very helpful if you can share the device model used and OS version.

[2017-12-07 17:12] Monali109-zz opened #2660 "AuctionHouse Dapp - Initiating transactions"
### Description

Type: Bug

*Summary*: ...
Sign in Status
start AuctionHouse Dapp
click on create auction.

#### Expected behavior
Should validate _before_  initiating transactions, that, Wallet Balance > 0 ETH.

#### Actual behavior
Please see the attached screenshot.
![screenshot_2017-12-07-21-15-57-579_im status ethereum](https://user-images.githubusercontent.com/20433356/33728157-8cd5d112-db9f

[2017-12-07 17:15] annadanchenko commented on #2660
not a Status app issue. Dapp can choose what to do but we can't fix it as it's in scope of the Dapp

[2017-12-07 17:15] #2660 closed, assigned to nobody

[2017-12-07 17:21] annadanchenko opened #2661 "No commands shown in chat on a second and next app runs"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Empty line with no commands are shown in 1-1 and group chats. Expected to see browse, send, request and location commands. On 1st app run (when

[2017-12-07 17:24] annadanchenko commented on #2661
@antdanchenko please, add such check to the autotests

[2017-12-07 17:35] Monali109-zz commented on #2661
@annadanchenko  If _no messages_ are there at all, then _Delete chat_ this option shouldn't be enable. When no messages are there or no chat then Delete chat option should be disable & if any messages are there then only it should get enable.(_feature_).

[2017-12-07 17:45] yenda commented on #1785
@rasom there is https://github.com/robinpowered/react-native-fetch-polyfill

[2017-12-07 17:57] annadanchenko commented on #2661
@Monali109 I'm not sure how the comment on Delete chat relates to this issue. Please, create a separate issue if you found some problem

[2017-12-07 17:58] Monali109-zz commented on #1100
Sign in to Status.
Tap to DApp(Melonport).
![dapp](https://user-images.githubusercontent.com/20433356/33730513-32ca7234-dba6-11e7-8c19-ee387c998e10.png)
Please see the attached screenshot.
@annadanchenko  Here it's displaying Web page not available.

[2017-12-07 19:02] graemerycyk commented on #2616
Same issue got another way to reproduce:

* Launch Status app
* Log in
* Open Discover
* Select a DApp from the "All" section
* Press the back button
* Keyboard will appear

Video here -> http://share.xctest.io/Exj2na (ignore the last bit when i take a screenshot)

This isn't always reproducible though, but you can see it occur in the video. I'll keep an eye on this if I have any other ways to nar

[2017-12-07 19:05] graemerycyk commented on #2648
possibly related to #2628 ?

[2017-12-07 19:39] graemerycyk opened #2662 "Scroll view doesn't seem to be implemented on the DApp profile view iOS (see link for screenshot)"
### User Story

As User when I open a DApp profile I want to be able to scroll to see the whole page.

### Description

*Type*: Bug

*Summary*: When the a DApp is opened from the "Discover" tab is open and you are looking at the whole view, if the DApp has a long "Description" then this can lead to the URL being below the screen and a scroill view is not implimented here it seems. See screenshot -

[2017-12-07 19:59] ReneeAB commented on #2648
Hi @grycyk , I just read issue #2628 and I can confirm that it is the same issue.

[2017-12-07 20:01] ReneeAB commented on #2648
Issue closed as duplicated of #2628

[2017-12-07 20:01] #2648 closed, assigned to nobody

[2017-12-07 20:46] annadanchenko commented on #2594
Can reproduce it if Location setting is set to ON.
- real Samsung Galaxy S6, Android 6.0.1 on a nightly build, Status version 0.9.10-427-ga68f0652+ Video and log: https://app.testfairy.com/projects/4803622-status/builds/7234321/sessions/49/?accessToken=WvFC/nuC-4m3NzirEozrIq6uQOo
- real Google Pixel XL, Android 8.0 on a nightly build, Status version 0.9.10-427-ga68f0652+
Video and log: https://app

[2017-12-07 21:05] annadanchenko commented on #2647
@ReneeAB thanks for the bug report! Can you please rephrase this step and maybe split it into smaller steps: `Slide the "Fee" bar from right to left several time very fast the click on the blue arrow button to send several times (this is what I did the first time see screenshot 1) )`? I guess this is the key to reproduce the bug but I can't get it on my device, so would really appreciate if you ca

[2017-12-07 21:15] annadanchenko commented on #2598
Can reproduce on nightly develop build from Dec 7. http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a68f06.apk
Status version:  0.9.10-427-ga68f0652+ (1984)
Device: real device from BitBar cloud,
LG Optimus L70, Android 4.4.2
See video and log from 01:53 https://app.testfairy.com/projects/4803622-status/builds/7234321/sessions/50/?accessToken=9zML5l0rXbnJ4ifs68U4jzlLl

[2017-12-07 21:17] annadanchenko commented on #2603
@ahmetertugrul thanks again for the bug reports! Please, update the video so it's shared on youtube on in the google drive

[2017-12-07 21:33] annadanchenko commented on #2603
Can reproduce on real Google Pixel XL (no Samsung keyboard here), Android 8.0 with nightly develop build from Dec 7: http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a68f06.apk
Status version  0.9.10-427-ga68f0652+ (1984)
Log and video from TestFairy: https://app.testfairy.com/projects/4803622-status/builds/7234321/sessions/54/?accessToken=/dmNhQW8wMia-SVoGtl1spv/vMk

[2017-12-07 21:41] annadanchenko commented on #2605
can't reproduce yet :(
@ahmetertugrul Can you reproduce the bug on this development build: http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-a68f06.apk ? Please, use wifi so we can get extra log and video to investigate the problem. If it's reproduced then comment on the date-time-minute when app was launched, your country and device used, so we can find your recorded

[2017-12-07 21:43] annadanchenko commented on #2610
@ahmetertugrul Please, add the info as another way to reproduce #2605 and close this one

[2017-12-07 21:51] annadanchenko commented on #2614
@shonefos Please, review steps to reproduce - I can't reproduce the issue if following them. What I've done:
1. Launch app
2. Sign in
3. Open existing group chat
4. Turn on Flight mode. As a result, see "Offline" grey line in the group chat
5. Close the app
6. Turn off flight mode
7. Launch app
8. Sign in
9. Open group chat -> see no grey "Offline" message

Video might be also helpful.

[2017-12-07 21:54] annadanchenko commented on #2615
@shonefos It looks message is sent and it's shown in the chat. This does not depend if app is offline or not. If it message would get Delivered status then yes it would be an issue. So far, it's just sent to the node that will try to send it to the network when online.

[2017-12-07 21:54] #2615 closed, assigned to nobody

[2017-12-07 22:16] annadanchenko commented on #2616
@shonefos @grycyk It looks like there are some extra conditions to get this issue that are not described. I've tried both scenario following the steps to reproduce and can't reproduce it. I've checked both videos:
1. on https://www.youtube.com/watch?v=s4Ufnr6kuFc I see that starting point is Contacts and Console chat is opened from that location. This is 1st difference from the written steps that

[2017-12-07 22:21] annadanchenko commented on #2618
@shonefos  Thanks for the bug report! We will re-design on-boarding, so the way password is handled will be changed. Closing it as "won't fix" for now

[2017-12-07 22:21] #2618 closed, assigned to nobody

[2017-12-07 22:25] annadanchenko commented on #2621
@kodalim thanks for the bug report! Please add details about
1. `After a while note` - how much time is it? Like 10 minutes or 2 hours?
2. What are the device models and OS versions of the phone A and phone B?

[2017-12-07 22:29] annadanchenko commented on #2628
closing as it can't be reproduced anymore

[2017-12-07 22:29] #2628 closed, assigned to nobody

[2017-12-07 22:31] graemerycyk commented on #2616
Yeah like I mentioned in the last part of my previous comment, its not always as expected. Once I have some more time I will dig into it little further, it shouldn't be that hard I think to figure this one out, just a little time and some exploring for the exact issue.

[2017-12-07 22:42] annadanchenko commented on #2631
I can confirm that issue exists in 0.9.12 (can reproduce on iOS) and does not exist in nightly develop build from Dec 07. Closing it as can't reproduce on more recent version, so nothing to fix. Thank you @ReneeAB and @grycyk for reporting and digging into it!

[2017-12-07 22:42] #2631 closed, assigned to nobody

[2017-12-07 22:55] annadanchenko commented on #2626
@ReneeAB thank you for the bug report! Can you please be more specific with steps to reproduce? For example, on what step is Flight mode is turned on? What makes you think that app is offline at the end in `Reconnect the iPhone to the wifi, Status is still offline.`? There is definitely a bug, however it looks like app is just frozen and does not respond to any taps except swiping, so I would not

[2017-12-07 22:58] shonefos commented on #2616
@annadanchenko which phone did you use?

[2017-12-07 22:58] annadanchenko commented on #2635
@ReneeAB thanks a lot for the bug report! Please, specify exact content of the status with foreign characters, so anyone can type the same characters in status and reproduce the issue.

[2017-12-07 23:05] graemerycyk commented on #2616
iPhone SE, iOS 11.2 Status version 0.9.12

[2017-12-07 23:12] shonefos commented on #2614
@annadanchenko https://youtu.be/JEHyjDBqWi4

[2017-12-07 23:39] annadanchenko commented on #2616
@shonefos I have used 2 iOS devices:
Iphone 7 plus, iOS 11.0.3
iPhone 6s, iOS 10.3.3

[2017-12-07 23:43] shonefos commented on #2616
Very strange situation, I would say it has something to do with user credentials in Wallet Menu.
I can not reproduce what the cause is, but I caught it again.
https://youtu.be/9BMLh7Idqsc

[2017-12-08 00:11] oskarth opened #2664 "Offline inbox [MVP]: end to end test"
### User Story

As a user, I want to see messages sent to me offline so I can use Status as a normal chat app.

### Description

*Type*: Feature

*Summary*: Capability to see messages sent when I was offline in 1-1 chat with previously talked to contact.

#### Expected behavior
I see messages after TTL expired.

#### Actual behavior
I don't see messages after TTL expired.

### Testing protocol

Re

[2017-12-08 00:26] kodalim commented on #2621
@annadanchenko

1. I definitely noticed it after two hours but I also note it always for much shorter times as I am continuing my testing. I see that a big hindrance to my testing. I need to always sign back in to keep getting the messages. If it is due to network, I don't notice such issues with Whatsapp messaging.

2. The device models are Mi Redmi 6.0.1 (Phone B) and Samsung Galaxy 7.0 (Phone A

[2017-12-08 00:28] #2610 closed, assigned to nobody

[2017-12-08 02:36] Monali109-zz commented on #2661
@annadanchenko  ok, sorry. It was for chat feature so........

[2017-12-08 03:19] Monali109-zz opened #2665 "New account option - password"
### Description
While creating new account, after typing password, it's displaying {:message "" is not defined"}.Please see the attached screenshot.
Type: Bug
*Summary*: ...
#### Expected behavior
Should be able to create new account.
#### Actual behavior
Not able to create new account using app.
![unexpected](https://user-images.githubusercontent.com/20433356/33749647-e3982ef0-dbf4-11e7-9b19-aea6

[2017-12-08 03:39] Monali109-zz commented on #2665
password option was not visible early, so............closing.... working fine.

[2017-12-08 03:39] #2665 closed, assigned to nobody

[2017-12-08 06:49] Monali109-zz opened #2666 "Edit chat/ Delete chat feature on UI"
### Description
Any text of message is editable, only after sending them or typing. If nothing messages are there on UI, means there is nothing to delete or edit or no chat then **Delete chat** option, shouldn't be enable.
Type: Feature

#### Expected behavior
Option **Delete chat**, this should be enable only when there are any messages/chat. If no messages are there it should be disable.

#### A

[2017-12-08 07:27] yenda commented on #1785
@rasom Maybe you were right and we should write our own because the problem with these libraries (that try to add timeout to fetch) is that it is a response timeout and not a connection timeout. So the request keeps going even after the timeout is reached.

[2017-12-08 08:34] annadanchenko commented on #2666
@Monali109 Delete chat feature does not delete messages in the chat. It deletes a chat from the list in Chats. Let's say you have 20 chats and want only 5 of them to be shown on Chats tab then you use Delete Chat for the rest of 15 chats. No matter if they contain messages or not. So, the feature works now as expected and deletes a chat.

Regarding Actual behaviour description:`Before sending any

[2017-12-08 08:34] #2666 closed, assigned to nobody

[2017-12-08 08:34] Monali109-zz opened #2667 "After changing the language settings in Phone, app's language is not changing according to changed language settings"
### Description
After changing to language settings app also should display according to changed language.
 Type: Bug

#### Expected behavior
Changed the language input settings in phone. All app's language changed according to that. Here status app's not getting sync with phone's language settings(after changing the language from english to any other language.)

#### Actual behavior
Please see th

[2017-12-08 08:35] annadanchenko commented on #2667
@Monali109 It's expected, we do not translate app name

[2017-12-08 08:35] #2667 closed, assigned to nobody

[2017-12-08 08:49] jeluard opened #2668 "General repository cleanup"
### User Story

As a developer, I want to have a clean repository with no old files and clean structure.

### Description

* remove irrelevant files (verify they are not used anymore): (e.g. `CHANGELOG.md`, ..)
* verify if `shim.js` is still used, remove if not
* remove `env/test` and simplify `env/dev/user.clj` accordingly
* migrate `docs` to wiki.status.im

*Type*: Bug

[2017-12-08 09:16] goranjovic commented on #2662
Hey, thanks for the report @grycyk
Do you have a non-default system text size, i.e. is this why you suspect that dynamic text size may have some effect on this?

[2017-12-08 09:25] asemiankevich commented on #2662
I can reproduce it on 4 " screen with the following device config (iOS): settings -> Display and Brightness -> Text Size -> Move the slider to maximum value. NOTE: restart Status to apply changes.

@goranjovic I would say we need to think about this a bit more since that change ^ reflects though all the app UI

[2017-12-08 09:45] #1511 closed

[2017-12-08 09:48] status-open-bounty commented on #2620
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x05bf21d5c7727b5e37ad147b249c4ea595a2ca96](https://etherscan.io/address/0x05bf21d5c7727b5e37ad147b249c4ea595a2ca96)
Network: Mainnet
Paid to: nrakochy
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-08 10:15] ReneeAB commented on #2647
Hi @annadanchenko , I don't have the Android phone in my possession anymore, but I will try again later today on my phone (iPhone SE) and see if I can reproduce the bug there, if yes I will record it as you suggested. I updated the step above to make it easier to read I hope it helps.

[2017-12-08 10:52] jeluard opened #2669 "Remove dependency on user.clj"
### User Story

As a developer, I want to have a predictable environment.

### Description

`user.clj` is loaded automatically by clojure runtime. This loading can't be controlled.
This is an issue as we are using it to setup and load figwheel dependencies even when it's not required.
e.g. `lein cljsbuild once android` never terminates

The modern way to manage complex `figwheel` workflow is to re

[2017-12-08 11:36] asemiankevich commented on #1529
@jeluard @denis-sharypin I assume we can close it?

[2017-12-08 11:39] asemiankevich commented on #1528
@goranjovic Do we need this issue?

[2017-12-08 12:09] jeluard commented on #1529
No we don't. Closing.

[2017-12-08 12:09] #1529 closed

[2017-12-08 12:33] chadyj commented on #2522
As a start can we list the primary metrics?

Where possible lets phrase the metrics in terms of users and tangible app experiences.

Lastly, metrics vary considerably per device and OS. Can we come up with a handful of widely used devices that we benchmark against?

[2017-12-08 13:16] status-open-bounty commented on #2613
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x9e5d7caa676b6e3ef43d305055812b09708b2432](https://etherscan.io/address/0x9e5d7caa676b6e3ef43d305055812b09708b2432)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-08 13:18] graemerycyk commented on #2662
@goranjovic yeah, was a hunch I had, the text is not too large, and I normally use a little larger font type to QA on iPhone in general to check these sorts of issues and general font issues.

Just fyi is the default setting -> http://share.xctest.io/HaRrll and this is what i normally use -> http://share.xctest.io/G3DLvl 🙌

[2017-12-08 14:27] puilp0502 commented on #2560
Can I tackle this? This seems to be interesting!

[2017-12-08 14:39] Monali109-zz opened #2672 "Augur App - Unable to open"
### Description

 Type: Bug

#### Expected behavior
Sign in to  Status.
Open DApp - Augur
App should be able to open

#### Actual behavior
Unable to connect to network.
Please see attached screenshot.
![screenshot_2017-12-08-19-59-00-769_im status ethereum](https://user-images.githubusercontent.com/20433356/33770350-3e32a7c4-dc53-11e7-8bf0-fc05c8c1020f.png)

Same for other DApp - Melon port also.

[2017-12-08 14:43] ReneeAB commented on #2626
Hi @annadanchenko, I modified the steps to make it easier to reproduce, when I switched off the airplane mode I opened Status again and I wait to see if the "Offline" disappears after few seconds but it was still displayed at the top of the "Chats" page.

[2017-12-08 14:43] Alonski commented on #2560
Hey @puilp0502! I would love some help. Can you send me a message on Riot we can chat about this?

[2017-12-08 14:49] puilp0502 commented on #2560
Sure. What's your Riot ID?

[2017-12-08 14:53] Alonski commented on #2560
@puilp0502 My Riot ID is `alon`

[2017-12-08 14:58] ReneeAB commented on #2635
Hi @annadanchenko, I included the exact text you need to enter in order to reproduce the issue.

[2017-12-08 15:36] #2589 closed, assigned to nobody

[2017-12-08 15:36] #2606 closed, assigned to nobody

[2017-12-08 15:36] #2608 closed, assigned to nobody

[2017-12-08 15:39] asemiankevich commented on #2589
fixed in branch (0.9.10-431-g7f028ef5+, 0.9.11d431-1557.431)

[2017-12-08 15:39] asemiankevich commented on #2606
fixed in branch (0.9.10-431-g7f028ef5+, 0.9.11d431-1557.431)

[2017-12-08 15:39] asemiankevich commented on #2608
fixed in branch (0.9.10-431-g7f028ef5+, 0.9.11d431-1557.431)

[2017-12-08 15:39] asemiankevich commented on #2658
fixed in branch (0.9.10-431-g7f028ef5+, 0.9.11d431-1557.431)

[2017-12-08 15:39] #2658 closed, assigned to nobody

[2017-12-08 15:51] Monali109-zz opened #2673 "After Reinstallation app, @browse cmd not working"
### Description

Type: Bug

#### Expected behavior
Should work @browse cmd & message shouldn't receive from unknown contact.

#### Actual behavior
1. Messsage received from unknown contact.
2.@browse command not working. Previously it was working.
![unknownct](https://user-images.githubusercontent.com/20433356/33773373-a412bd72-dc5d-11e7-925c-01c3373f58f2.png)

* Status version: ...App reinstalled

[2017-12-08 16:27] Monali109-zz opened #2674 "After clicking on Phone number - Edit option displaying an Error"
### Description

Type: Bug

#### Expected behavior
Shouldn't display error.

#### Actual behavior
Sign to status.
Go to edit  - phone number option & click.
It's displaying an error. Please see attached screenshot.
![nullobject](https://user-images.githubusercontent.com/20433356/33774871-ae81307c-dc62-11e7-96ca-d41b7b3acf6c.png)

### Additional Information

* Status version: ...After Reinstallatio

[2017-12-08 17:26] #2548 closed, assigned to nobody

[2017-12-08 20:20] ahmetmertugrul commented on #2605
Video: [https://drive.google.com/file/d/1tCEnAzQtyjsx2zQJqcWD2NXCQjP4YxuK/view](https://drive.google.com/file/d/1tCEnAzQtyjsx2zQJqcWD2NXCQjP4YxuK/view)

"im.status.ethereum-a68f06.apk" is troubled.

- Status version: 0.9.10-427-ga68f0652+ (1984)

- Operating System: Android 6.0 - LG G4 (Real Device)

[2017-12-08 20:36] ahmetmertugrul commented on #2603
Video: [https://drive.google.com/file/d/1FrlfLlpJlkPSYgBtr1Kfbb2B7BpMMGXR/view](https://drive.google.com/file/d/1FrlfLlpJlkPSYgBtr1Kfbb2B7BpMMGXR/view)

- Status version: 0.9.10-427-ga68f0652+ (1984)

- Operating System: Android 6.0 - LG G4 (Real Device)

[2017-12-08 21:18] ahmetmertugrul commented on #2577
Video: [https://drive.google.com/file/d/1NK44keXqSsea2RAyh1Dr6cmXfhTzHb7L/view](https://drive.google.com/file/d/1NK44keXqSsea2RAyh1Dr6cmXfhTzHb7L/view)

- Status version: 0.9.10-427-ga68f0652+ (1984)

- Operating System: Android 6.0 - LG G4 (Real Device)

[2017-12-09 09:06] Monali109-zz opened #2676 "App stopped, after clicking on Wallet Assets & On Mobile screen it's displaying an error summary"
**### Description**

**Type**: Bug

**_Summary*: ..._**
1.Sign to Status.
2.Go to wallet option.
3.click on Assets STT.Please see attached screenshot.
![assertfailed](https://user-images.githubusercontent.com/20433356/33794202-51e7b9ae-dced-11e7-834f-88f185dfe2cb.png)
4.click on ok. click on ETH.(Screen is displaying an error)
![java](https://user-images.githubusercontent.com/20433356/33794213-80a

[2017-12-09 11:00] oskarth commented on #2512
Done in https://github.com/status-im/status-react/issues/2664

[2017-12-09 11:00] #2512 closed, assigned to oskarth

[2017-12-09 11:01] oskarth commented on #2664
All seems OK in testing yesterday, but QA also wants to ensure no other regressions in other parts of the app have been introduced. Since @annadanchenko is on vacation, this will happen on later next week.

[2017-12-09 11:47] karan42 commented on #1366
This looks like an SDK version issue, I'm unable to reproduce this on my Nokia 3 running Android 7.1.1 app version: 0.9.10.429-gf227962a+.

More details here https://stackoverflow.com/questions/20653305/full-screen-theme-for-appcompat the Answer by KrHashisM

[2017-12-09 21:37] graemerycyk commented on #2569
I assume this can be measured in Xcode using Instruments to evaluate the energy impact. Just an idea.

[2017-12-10 11:10] rasom commented on #2661
The problem is fixed in `develop` now but still exists when switching to JSC jail, so the issue shouldn't be closed.

[2017-12-10 12:56] jameszaghini opened #2678 "lein prod-build throws exceptions when using Java 9"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to follow the build instructions so that I can build and run the project.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what ac

[2017-12-10 13:26] pabloruiz55 opened #2679 "Status freezes on splash screen (iOS)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to launch the application on an iOS device.

### Description

Type: bug
I downloaded, built and launched everything as instructed in the wiki. When building the app on Xcode (be it simulator or actual device) the app hangs on the splash screen and doesn't do anything. In the Xcode console I c

[2017-12-10 16:36] jameszaghini commented on #2679
@pabloruiz55 I had the same problem. See #2678 for a workaround

[2017-12-10 18:58] graemerycyk commented on #2616
I was just able to reproduce this:

Pre conditions:
user must be being signed in and have the Discover tab open

Steps:
open a chat from recent status
double tab on the back button
click another tab Wallet or Chat for example, the keyboard should open up (see video)

*This seems to need to be done very fast, and if first time fails just keep trying these steps*

Video -> http://share.xctest.io/U5B

[2017-12-10 19:09] graemerycyk commented on #2605
Just change tabs very fast, straight up monkey testing, I think being offline helps. I was able to reproduce this several times, I can add a video see video -> http://share.xctest.io/Nx0tsJ

iPhone SE | iOS 11.2 | Status v0.9.12

[2017-12-11 08:37] andytudhope commented on #2678
@jameszaghini did you try run our new script with `./scripts/setup-osx`? We are in the process of merging some PRs which also set up everything correctly for Linux and will update the instructions as soon as that is done in one go. Meanwhile, that script should set up everything correctly for you...

[2017-12-11 08:39] andytudhope commented on #2679
Duplicate of #2678 - please try removing the directory, cloning again and running `./scripts/setup-osx` instead and let me know how it goes.

[2017-12-11 08:39] #2679 closed, assigned to nobody

[2017-12-11 09:19] asemiankevich opened #2680 "Location selection is not displayed after /location command was called in chat (Android)"
### Description

*Type*: Bug

*Summary*: When `/location` comamnd was called in 1x1 chat - endless spinner is show to end user, however map is not displayed, as well as location selection is not avaliable

#### Expected behavior
Map is shown after `/location` command is called

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33823659-f2fddf82-de6c-11e7-9eb8-83b981f

[2017-12-11 09:49] denis-sharypin commented on #2582
@ardielgonzalez  Hey, thanks for a feedback. As a part of a Status design team, I agree with a @annadanchenko 's comment above. We should try to keep a state of the screen while we are jumping between different screens/tabs

[2017-12-11 10:46] #2531 closed, assigned to nobody

[2017-12-11 11:58] asemiankevich opened #2681 "No dot/comma is shown on keyboard when requesting/sending funds"
### Description
_Type_: Bug

_Summary_: No dot/comma displayed on keyboard, so can't request or send decimal amount

#### Expected behavior
![image](https://user-images.githubusercontent.com/28752642/33829738-85ec82fc-de82-11e7-929e-b1e760624928.png)

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33829851-f2942e0a-de82-11e7-8d44-c6a2d689cc34.png)

### Reproductio

[2017-12-11 12:12] asemiankevich opened #2682 "Picture in user profile is not updated when selecting from gallery or capture [2217]"
### Description

*Type*: Bug

*Summary*: Can't update picture niether selecting from gallery nor capturing

#### Expected behavior
Profile picture is updated

#### Actual behavior
Profile pictrure remains default

### Reproduction

- Open Status
- Go to profile-> Edit -> Select from gallery
- Edit -> Capture

### Additional Information
* Status version:  0.9.10-433-g25ec3602+ (1990)
* Operating Sy

[2017-12-11 12:16] yenda commented on #2681
Reminder for me : https://github.com/facebook/react-native/issues/12988

[2017-12-11 13:12] asemiankevich commented on #2676
Hi @Monali109 ! Thanks for reporting this problem! This is already fixed in latest develop, would you like to check http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk ?

[2017-12-11 13:12] #2676 closed, assigned to nobody

[2017-12-11 13:13] asemiankevich commented on #2674
@Monali109 could you please specify build and device? I dont see this error in last nighlty http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk

[2017-12-11 13:16] asemiankevich commented on #2673
@Monali109 Seems you are observing some known problem (https://github.com/status-im/status-react/issues/2661) that is already fixed in http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk. Would you mind to check this new build?

[2017-12-11 13:16] #2673 closed, assigned to nobody

[2017-12-11 13:20] asemiankevich commented on #2672
Hi @Monali109 ! Thanks for reporting this. This behaviour is no longer present in latest nightly build (http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk) P

[2017-12-11 13:20] #2672 closed, assigned to nobody

[2017-12-11 13:30] flexsurfer opened #2683 "Do not run sync state loop on upstream RPC networks"
We don't need sync state on upstream RPC networks because they do not need to sync

[2017-12-11 13:39] Monali109-zz commented on #2674
@asemiankevich   Re installed from this url -
http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk ,
still exists same error.
Device -  Redmi Note 4
OS - Android 6.0.1

[2017-12-11 14:11] Monali109-zz opened #2686 "Send location is running in infinite loop"
### Description
Sign to Status.
Go to chats.
Select Contact
click on /location
Select Deny
After selecting Deny also, app is trying to Send the location & screen is appearing as following screenshot.
![sendloc](https://user-images.githubusercontent.com/20433356/33834896-a5ed4cc6-deaa-11e7-9deb-098de035b318.png)
Note - Please see Time is also varying with actual  time & app time.
*Type*: Bug

*Summ

[2017-12-11 14:13] asemiankevich commented on #2686
@Monali109 Hi this is known issue reported (https://github.com/status-im/status-react/issues/2680) so I will close this one to aviod duplicates

[2017-12-11 14:13] #2686 closed, assigned to nobody

[2017-12-11 14:14] jeluard commented on #2678
@jameszaghini Thanks for the report!

This is a tooling issue that has been [fixed](https://dev.clojure.org/jira/browse/CLJS-2377). We just have to wait for next ClojureScript release.

In the meantime I suggest you continue to rely on your fix!

[2017-12-11 14:14] #2678 closed, assigned to nobody

[2017-12-11 14:24] asemiankevich commented on #2674
@Monali109 that looks very odd to me, I can't find your session in TestFairy. Can you please try again? Also , i did the same on my Xiaomi and still can't reproduce this issue https://app.testfairy.com/projects/4803622-status/builds/7268381/sessions/31/?accessToken=tHiWi05ogqL4DtPjYVWn-1kcubg

[2017-12-11 14:57] goranjovic commented on #1528
@asemiankevich No, it's replaced by the new more specific issues now. Closing

[2017-12-11 14:57] #1528 closed

[2017-12-11 15:11] Monali109-zz commented on #2674
@asemiankevich  Please see, done screen recording.
https://drive.google.com/file/d/12H-7cOTLMbDL7xbAmSo04TryfREUu000/view?usp=sharing

[2017-12-11 16:17] ankitjain28may commented on #2613
I would like to fix this

[2017-12-11 17:04] Monali109-zz commented on #2674
@asemiankevich  Re tested twice, now not able to reproduce. Fixed. Thanks. Closing for now

[2017-12-11 17:10] Monali109-zz commented on #2674
@asemiankevich  Twice didn't display error, but after sometime, it's still  reproducible.

@asemiankevich  After reinstallation latest app, the account which is created with previous version exists. So after reinstallation with new version the account which is created for that initially this error doesn't display. After swicth user & open the account which was created with previous version & click

[2017-12-11 17:29] Monali109-zz commented on #1575
@annadanchenko  Unfortunately, Status has stopped.
Status Version -
artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk

Same on Device - Lenovo A6000
OS - Android 4.4.4

[2017-12-11 18:13] Monali109-zz opened #2688 "Tap on Deny to Status app to send/view sms, then also app is sending the confirmation code - /Phone"
### Description
Sign to Status.
Go to Console
click on  /Phone.
Enter Phone number - Pop up message will display that - Allow Status to send //view sms ?
Click on Deny on UI
![phoneview](https://user-images.githubusercontent.com/20433356/33846403-ba2c485a-decc-11e7-982e-a525e1ed278f.png)
After clicking on Deny option then also confirmation message app is sending.
![confirm](https://user-images.git

[2017-12-11 18:32] oskarth commented on #1209
Accidentally merged/closed, to be tested in develop.

[2017-12-11 18:40] Monali109-zz opened #2689 "Tap on GNOSIS DApp displaying code / web page not available - error"
### Description

*Type*: Bug

*Summary*: ...
Sign to Status
Click on DApp - GNosis
Please see attached screenshot.
![gnesoisdapp](https://user-images.githubusercontent.com/20433356/33847448-8b51952c-ded0-11e7-8c65-77ce5e69f85c.png)

#### Expected behavior
DApp web page, should be able to open.

#### Actual behavior
As attached screenshot.

### Additional Information
[comment]: # (Please do your be

[2017-12-11 18:58] Monali109-zz opened #2690 "Navigation on UI not working after opening DApp"
### Description

*Type*: Bug
*Summary*: ...
Sign to Satus.
Open DApp - Auction house
Please see attached screenshot.
On UI not able to navigate.
![swipe](https://user-images.githubusercontent.com/20433356/33848200-087b41c2-ded3-11e7-81c5-47bec0ab039b.png)

#### Expected behavior
Application should be able to navigate with gesture.

#### Actual behavior
Unable to navigate using gesture, forward, ba

[2017-12-11 19:38] yenda commented on #2682
Fixed in the branch

[2017-12-11 19:38] yenda commented on #2681
Fixed in the branch

[2017-12-11 22:20] ahmetmertugrul commented on #2604
I can't see the third line because of the save button when I write in the profile biography box.

Video: [https://drive.google.com/file/d/1u3_k4tT6SetAtHs-mQ6B0U_4WymB_IJf/view](https://drive.google.com/file/d/1u3_k4tT6SetAtHs-mQ6B0U_4WymB_IJf/view)

* Status version: 0.9.12+

* Operating System: Android 6.0 - LG G4 (Real Device)

[2017-12-12 05:06] gholmes86 opened #2693 "Recover access does not have error validation"
Description
Type: Bug

When entering an invalid recover access paraphrase(less than 12 words) and invalid password, no error message is displayed for incorrect information.  Error checking is needed for recover access

[comment]: # ()
![recoveracess](https://user-images.githubusercontent.com/9959969/33868168-0251e9b0-dec7-11e7-90f3-3340943bb54f.PNG)

*Summary*: ...

#### Expected behavior
[comment

[2017-12-12 05:45] gholmes86 opened #2694 "When logging back in the app the wallet Syncing becomes stuck and doesn't time out"
### Description

*Type*: Bug

When logging out and logging back in the mobile application, after clicking wallet the Syncing message displays and the spinning icon does not stop spinning

#### Expected behavior
If a network issue is causing this to occur there should be a timeout and a timeout error should be displayed

#### Actual behavior
Syncing message and spinning icon displays and does not t

[2017-12-12 06:05] gholmes86 opened #2695 "Unable to edit Profile phone number"
### Description
*Type*: Bug
![editphonenumber](https://user-images.githubusercontent.com/9959969/33869734-12a2121e-ded0-11e7-9153-60e5e120103f.PNG)

[comment]: # User is unable to edit profile phone number after clicking Edit within Phone number for a user profile
*Summary*: ...

#### Expected behavior
[comment]: #User should be able to edit phone number

#### Actual behavior
[comment]: # User una

[2017-12-12 06:52] SatadruGanguly commented on #2613
I want to fix this. How do you begin? Do you have any code to act on?

[2017-12-12 07:26] asemiankevich commented on #2682
Fixed in branch `0.9.10-438-g6948dd17+`

[2017-12-12 07:26] asemiankevich commented on #2681
Fixed in branch `0.9.10-438-g6948dd17+`

[2017-12-12 07:46] asemiankevich opened #2696 "No send message shown in chat if sending from wallet"
### Description

*Type*: Bug

*Summary*: send Funds to a contact from wallet -> no new send message is shown in the chat as well as no chat created if this is the very fisrt message

#### Expected behavior
new send message is shown in the chat

#### Actual behavior
no new messages are shown in the chat

### Reproduction
- Open Status
- Open Wallet
- Tap Send
- Type some valid amount, e.g. 1234
- F

[2017-12-12 08:36] asemiankevich opened #2697 "Null is not an object (evaluating 'e.toLowerCase') error shown [2217]"
### Description

*Type*: Bug

*Summary*: Error `Null is not an object (evaluating 'e.toLowerCase')` shown when upgarding to PR 2217

#### Expected behavior
No errors when upgraded

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33874469-f851a87e-df2f-11e7-9ce0-8a94e19d4ad3.png)

### Reproduction

- Install 0.9.12
- Upgrade to PR 2217
- Login

### Additional Inform

[2017-12-12 09:38] andytudhope commented on #2613
What do you mean @SatadruGanguly? All the relevant code is in this repo? If you've not used GitHub before, I'm not sure you'll be able to fix this... Our codebase in this repo is mostly Clojure with some React Native thrown in, so if those are strengths of yours, finding the correct files to fix should not be too hard.

[2017-12-12 09:42] asemiankevich commented on #2697
Fixed in `0.9.10-439-gf6a12938+`

[2017-12-12 10:13] rasom commented on #2661
Android: https://i.diawi.com/UypGmR
iOS: https://i.diawi.com/2fowUB

[2017-12-12 10:38] asemiankevich commented on #2697
Realized it is duplicate of https://github.com/status-im/status-react/issues/2602. Closing

[2017-12-12 10:38] #2697 closed, assigned to nobody

[2017-12-12 11:27] asemiankevich opened #2698 "Unable to run iOS builds"
### Description

*Type*: Bug

*Summary*: can't start builds for the following PRs on **iOS** https://github.com/status-im/status-react/pull/2217 , https://github.com/status-im/status-react/pull/2663

`Dec 12 13:18:37 iPhonerv StatusIm[391] <Notice>: There was an error collecting entropy from the browser:
Dec 12 13:18:37 iPhonerv StatusIm[391] <Notice>: { [TypeError: undefined is not an object (eva

[2017-12-12 12:59] janherich opened #2699 "Messages are received in different order then sent"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

When user A sends messages in rapid succession to user B, while user B is offline, once user B starts the app and and the messages are received, they are displayed in a wrong order, see the attached screenshot.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Reproduction
[comment]: # (Describe

[2017-12-12 14:01] Monali109-zz opened #2700 "Status app - Translation in hindi starting message to type password (click word) is missing"
### Description

*Type*: Bug

*Summary*: ...

#### Expected behavior
Translation in any language should display correctly.

#### Actual behavior
In hindi after sign in status displaying as following screenshot.
![hindi](https://user-images.githubusercontent.com/20433356/33888101-0de6d42e-df72-11e7-94d1-d3ac5716376d.png)

### Solution
Last line should be , -
शुरुआत करने के लिए इस संदेश पर क्लिक करे

[2017-12-12 18:13] oskarth opened #2701 "Offline inboxing iteration 1: Support public chat"
### User Story

User A enters public chat room X. User A goes offline and people keep chatting. When User A comes back they instantly see all the missed messages in X.

### Description

*Type*: Feature

*Summary*: Add support for group chat

#### Expected behavior
User A enters public chat room X. User A goes offline and people keep chatting. When User A comes back they instantly see all the misse

[2017-12-12 18:29] oskarth commented on #2580
Actually don't think this is necessary at all. Happens at protocol level.

[2017-12-12 18:29] #2580 closed, assigned to nobody

[2017-12-12 19:15] oskarth opened #2702 "Spike out more user-intuitive message order"
### User Story

As a user, I want messages to show up in an intuitive order so I can have a familiar and pleasant user experience.

As a developer, I want to understand and communicate semantics of message ordering clock-value.

As a (dev)tester, I want to report bugs that are bugs and not expected behavior.

### Description

*Type*: Feature/Spike

*Summary*: Spike out mini buffer where messages a

[2017-12-12 19:23] oskarth commented on #2699
Fairly sure this isn't a bug but is just bad UX due to indeterministic order. All the info is most likely in there but we haven't made (explicit) design choice to re-order received messages. See issue above.

[2017-12-13 02:02] charlesg3 commented on #2467
I've had pretty good success with the thi.ng/geom-viz library (see: https://github.com/thi-ng/geom/blob/master/geom-viz/src/index.org ). I've ended up creating some sort of wrapper functions to get graphs and what not to look exactly like I want.

[2017-12-13 04:59] Monali109-zz commented on #2605
Same thing observed on
Status Version -  http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-ee2904.apk
Device - Mi Redmi Note 4
OS -       Android  - 6.0.1
Please see following link
https://drive.google.com/file/d/13spn7r-k3KzZnBtPtIEgB58Mpu11NkBe/view

[2017-12-13 06:10] Monali109-zz opened #2703 "Edit box of messages is not getting clear automatically in an app"
### User Story
1. As a **User** I want to send a message, but forgot something so I navigate to other options like discovery, contacts etc. & come back again to type the message, but Edit box is not cleared. It's displaying previous message on Edit box, even though didn't send.
2. As a **Tester** I want to test that, after typing message, suppose, User goes back or navigate to other options & come

[2017-12-13 08:04] andytudhope commented on #2703
I disagree with this user story. Personally, I prefer it that my messages stay in the edit box - as I can navigate away to check something and then come back and pick up where I left off. It is the default behaviour in almost any other messaging service I currently use, from Slack to WhatsApp and FB messenger.

[2017-12-13 08:10] flexsurfer opened #2704 "Add personal message sign support"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Dapp's developer, I want to sign messages in Status.

### Description

Some [things have changed](https://medium.com/metamask/the-new-secure-way-to-sign-data-in-your-browser-6af9dd2a1527) with signing data in Ethereum.

The methods `personal_sign` and its partner, `personal_ecRecover `have replaced the pr

[2017-12-13 08:11] #2703 closed, assigned to nobody

[2017-12-13 08:12] jeluard commented on #2704
Looks like it is implemented by latest [web3](https://github.com/ethereum/web3.js/blob/develop/lib/web3/methods/personal.js#L60)

[2017-12-13 08:14] jeluard commented on #2704
See also some [example usage](https://github.com/danfinlay/js-eth-personal-sign-examples)

[2017-12-13 08:17] dmitryn commented on #2701
Testing how it works in group chats. It seems working well, the only thing i've noticed is the warning:
[code]

I get this immediately after sign in (with existing group chat  but with no new chat messages in it)

UPD: notified @JekaMas about this warning

[2017-12-13 08:26] Monali109-zz commented on #2703
@andytudhope  Depends on Requirements of App & User view. Thanks

[2017-12-13 08:54] ReneeAB commented on #2647
Hi @annadanchenko I want to try the second option and check if I can reproduce the ussue in the most recent version, what are the steps to install the most recent nightly build on Android and iOS? Do I keep the versions I installed from the TestFlight and  and Play Store?

[2017-12-13 09:11] Monali109-zz opened #2705 "Not able to cancel the account while creating, nor able to delete account after creation"
### User Story
1. As a **User** I want to cancel the account while creating or after creation of account want to delete it.
 If already one account is created, then while creating another account want to cancel & switch to another account.
2. As a **Tester** I want to test that, after creation of account, I am able to delete it, or While creating the account able to Cancel account .
3. As a **Deve

[2017-12-13 09:16] andytudhope commented on #2647
Hi @ReneeAB. The latest nightly builds for android are here (just ctrl+f filter for December as they're not always in order): http://artifacts.status.im:8081/artifactory/nightlies-local/

We use diawi for iOS builds, but only core team members have access to it, so using the latest TestFlight version is the best you can do there.

[2017-12-13 09:54] dmitryn commented on #2701
There is no artifactory build for https://github.com/status-im/status-go/commit/ba6c96532bfdfcc1bc95d5535d3d6b04ee7de49e yet, not sure i need to build it myself with `make statusgo`. Still good to use `feature-add-enode-to-requestMessages-params-g4509f423-41`

UPD: not relevant, updated to latest develop build

[2017-12-13 10:51] ghost commented on #1393
This fixed for all devices I could test on :)

[2017-12-13 10:56] goranjovic commented on #2518
Expanding the scope of this task to also include the token transaction data

[2017-12-13 10:59] goranjovic opened #2706 "ERC20 token historical value - last 30 days"
### User Story

As a user I want to see my ERC20 token value in USD.

### Description

*Type*: Feature

*Summary*: Use cryptocompare to get the following data:

- USD value of the selected token for the last 30 days.
- USD value of the selected token for the current day and previous day (use the difference to calculate change indicator)

[2017-12-13 14:31] churik commented on #2661
Checked with Galaxy S7 - android 7.0 and Galaxy S7 (emulator) 7.1:
- issue is not reproducible
- Regression (fresh install):
console | /password
console | /browse
console | /faucet
profile set status with hashtag |  
contacts | add
1-1 chat | /location
1-1 chat | ordinary message
1-1 chat | emoji
1-1 chat | /request
1-1 chat | /send
create group chat  |
add smbd to group chat |
Group Chat | /locat

[2017-12-13 14:38] #2661 closed, assigned to rasom, churik

[2017-12-13 15:30] ReneeAB commented on #2647
Hi, after installing the nightly build, I get a message that states that all interactions with the app is saved, so it means that I don't have to start anything manually right? Then where are the vidoes saved? I cannot find it on the phone.
Also I have seen that message again but this time I selected "/Send" and the error message was displayed before I had the time to do anything, unfortunatly I d

[2017-12-13 17:42] asemiankevich opened #2709 "Invariat Violation error shown when opening transaction history screen [2217]"
### Description

*Type*: Bug

*Summary*: Error `Invariat Violation: Native anumated module is not available` shown when opening txn history screen

#### Expected behavior
Able to see History of transactions

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/33953298-8fe4a310-e045-11e7-9a85-9772f95abf64.png)

### Reproduction

- Open Status
- Go to Wallet
- Open Trans

[2017-12-13 18:15] pafcu commented on #2335
@andytudhope Feel free to check my PR if you feel something could be rephrased or improved.

[2017-12-13 18:25] pablanopete commented on #1393
Thanks @poiga ! Getting our QA team to look into it ASAP 👍

[2017-12-13 19:01] kodalim opened #2711 "Group Chat Name if edited is not reflected in the corresponding member accounts."
![img_0380](https://user-images.githubusercontent.com/34264946/33955649-42c778c4-e062-11e7-984e-aace96d2f661.JPG)

### User Story

As a tester trying to edit the Group Chat name.

### Description

#### Expected behavior
The group chat name modified should be reflected in the chat window of all the members.
#### Actual behavior
The edited Group chat name is not reflected in the members chat window.

[2017-12-13 19:13] kodalim opened #2712 "Group chat settings does not indicate owner in settings."
### User Story

As a user, I would like to see the number of members in a group chat.
### Description

Type - Feature
The Group Chat name indicates 4 members but the settings list only three members that were added by the owner of the Group chat.

#### Expected behavior
Would like to see all the members listed including the owner of the chat displayed as 'You'

#### Actual behavior
'You' is not di

[2017-12-13 19:31] kodalim opened #2713 "Group chat settings - Leave Chat doesn't prompt allowing inadvertent exit"
### User Story

As a user trying to test Leave chat functionality

### Description
*Type*: Feature
Leave Chat should prompt the user before deleting the chat for the user
#### Expected behavior
A prompt such as 'Do you want to exit' or Another 'Leave Chat' should appear instead of deleting the chat in the first go.

#### Actual behavior
Clicking on Leave chat, deletes the chat and the chat session

[2017-12-13 20:00] kodalim opened #2714 "Group Chat - Inviting and Removal of member messages show 'Unknown Contact'"
### User Story
![screenshot_20171214-012318](https://user-images.githubusercontent.com/34264946/33959569-f583d0a6-e06d-11e7-97ba-8b0e5e0ff8b6.png)
As a user trying to test deleting members and inviting members into Group Chat

### Description
*Type*: Feature
A message is sent to all the members of the group when a member is added or removed after the chat has been originally created.
#### Expected

[2017-12-13 20:09] status-open-bounty commented on #2668
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x60e65748247e8804ba09d036d67424ed800cb1de](https://etherscan.io/address/0x60e65748247e8804ba09d036d67424ed800cb1de)
Network: Mainnet
Paid to: poiga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-13 20:56] placer14 commented on #2668
I'm happy to start working through these tasks.

[2017-12-13 21:20] andytudhope commented on #2668
Perfect @placer14. Please go ahead, no need for much permission round here.

Also, please join https://chat.status.im and ping me there to make sure you have access to edit the wiki. Anyone can - that's why we use it - but if you're doing this then I can prob make your life easier and make sure you changes don't require review there before being published.

[2017-12-13 21:21] status-open-bounty commented on #2640
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0xa194b6de9ed0eed3ed7044a4bf0beae92a8b8f95](https://etherscan.io/address/0xa194b6de9ed0eed3ed7044a4bf0beae92a8b8f95)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-13 21:41] placer14 commented on #2668
@andytudhope I'm `mg` on chat.status.im. I could not locate you. Please reach out.

[2017-12-13 21:51] status-open-bounty commented on #2636
Balance: 0.000000 ETH
Tokens: SNT: 4000.00
Contract address: [0xbe4fd5b148bd1e38cc0d65d30db2237d597e5914](https://etherscan.io/address/0xbe4fd5b148bd1e38cc0d65d30db2237d597e5914)
Network: Mainnet
Paid to: dottedmag
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-13 22:06] janherich commented on #2709
Already fixed in the branch

[2017-12-13 22:07] annadanchenko commented on #2604
@ahmetertugrul please, next time report the issue separately if it's from the other area. Do not add a comment to the existing issue unless the area/outcome are completely the same. Right now, we have a mix of 2 problems mentioned in one report: 1. initial issue with emoji and 2. your comment about profile field. They are different and it will be misleading for the developer who will try to fix th

[2017-12-13 22:08] annadanchenko commented on #2711
expected. Works as rename contact and is visible only to the one who renamed it.

[2017-12-13 22:08] #2711 closed, assigned to nobody

[2017-12-13 22:11] annadanchenko commented on #2705
remove account: duplicate for https://github.com/status-im/status-react/issues/1126
cancel while creating: won't fix

[2017-12-13 22:11] #2705 closed, assigned to nobody

[2017-12-13 22:17] annadanchenko commented on #2674
@Monali109 we support upgrade only from the released version (available on PlayStore or TestFlight). Please, see https://wiki.status.im/How_to_help_with_testing for the procedure

When reporting issues on upgrade, please, specify initial version of Status app and the Status app version after the upgrade. In case you perform upgrade where initial version in not the released one - it's not a valid i

[2017-12-13 22:20] annadanchenko commented on #2695
duplicate of #1677
Please, search for the known issues before reporting them. For example this one can be found be searching for "profile" and "phone" words. We are happy you have time to help and sorry when you need to waste it to report duplicates :(

[2017-12-13 22:20] #2695 closed, assigned to nobody

[2017-12-13 23:08] ahmetmertugrul commented on #2604
@annadanchenko I found the white screen error in 2 different ways. When I published this error as two different titles, you said 'you closed the second'. So I wrote this error here.

[2017-12-13 23:11] ahmetmertugrul commented on #2419
I can't see the third line because of the save button when I write in the profile biography box.

Video: https://drive.google.com/file/d/1u3_k4tT6SetAtHs-mQ6B0U_4WymB_IJf/view

    Status version: 0.9.12+

    Operating System: Android 6.0 - LG G4 (Real Device)

[2017-12-14 01:25] Monali109-zz commented on #2674
@annadanchenko  ok. Thanks

[2017-12-14 01:25] #2674 closed, assigned to nobody

[2017-12-14 05:16] Monali109-zz commented on #2605
can't reproduce on latest build. Please see  latest build.
OS Android 6.0.1
Status Version  - Latest

[2017-12-14 07:39] #2690 closed, assigned to nobody

[2017-12-14 11:15] dmitryn opened #2718 "Add clojure code quality tools (kibit, bikeshed)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer I want to see suggestions from code quality tools like kibit and bikeshed so that my code is well formatted and aligned with Clojure styleguides.

### Description

When PR is made, code quality tools may add comments to PR or block merging until it fixed.

We already use CodeClimate and `kibit`

[2017-12-14 14:04] #1393 closed

[2017-12-14 14:57] #2640 closed, assigned to nobody

[2017-12-14 15:12] chadyj opened #2719 "Black bars are shown when using iPhone X"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a iPhone X user, I want to use Status so that it is optimized for my device.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. S

[2017-12-14 15:32] foopang commented on #2635
Cannot reproduce it in Android emulator (Google Nexus 5 - 6.0.0 - API23 - 1080x1920).

[2017-12-14 15:51] churik commented on #2546
All messages (not only system) are greyed out (screen)
![grey](https://user-images.githubusercontent.com/4557972/34000922-51314012-e0f7-11e7-8615-08cbbbc715c3.png)

[2017-12-14 16:07] churik opened #2720 "Counter of unread messages is reset after reopening app"
### Description

*Type*: Bug

*Summary*:
user want to see unread messages after reopening the Status app, but when you close app and then open it with unread messages - they are marked as read after log in.

#### Expected behavior
user can see amount of unread messages after reopening app

#### Actual behavior
no unread messages after reopening app

### Reproduction

- Open Status
- Start 1-1 chat

[2017-12-14 18:17] dmitryn commented on #2546
@churik it's okay by current design. Showing badge is enough for now (acknowledged by design team)

[2017-12-14 19:50] Serhy opened #2721 "Unresponsive app after /send in 1-1 and group chat (android)"
***Type***: Bug

***Summary***: Application becomes unresponsive in 1-1 chat screen after /send with the valid amount of ETH (doesn't matter if /send ETH value exceed the wallet amount). On the video example it happens on the second attempt, thought it's not stick to 3nd try of /send request. On real device reproduced from the first try for new user several times.

**Expected behavior:**
"Insuffic

[2017-12-14 21:28] andytudhope commented on #2719
@chadyj could we put this issue up for bounty given that the steps to solve seem fairly easy to follow? Suggest a small bounty.

[2017-12-14 23:07] annadanchenko commented on #2721
can reproduce on develop build  0.9.10-443-g460f6a38+ (2000), https://jenkins.status.im/job/status-react/job/parametrized%20build/129/

Created account, requested ETH, opened chat with Jarrad, typed 0.0001 (was very slow in updating the number) and tapped on send icon (maybe even before the number 1 was shown)

See log/video from 01:08 https://app.testfairy.com/projects/4803622-status/builds/72911

[2017-12-15 09:10] foopang commented on #2613
Is anyone working on this task? If not, I can submit a fix soon.

[2017-12-15 09:52] andytudhope commented on #2613
@foopang please go ahead, doesn't seem like we have any PRs submitted for this yet.

[2017-12-15 09:58] ReneeAB opened #2725 "A new account is created when trying to recover an account with invalid passphrase and password."
### Description
A new account is created when trying to recover an account with invalid passphrase and password. when you log in the account it does not seems that account existed before.

*Type*: Bug

*Summary*:

#### Expected behavior
An error message stating the the account does not exist should be displayed

#### Actual behavior
A new account is created when trying to recover an account with i

[2017-12-15 10:31] Serhy opened #2727 "Error "message.chat-id must be type of ‘string’ got null (null)" if member of group chat leaves the chat"
***Type***: Bug

***Summary***: When participant of group chat leaves the chat - all members receives an error " message.chat-id must be type of ‘string’ got null (null)" message. Doesn't matter if it's chat owner or joined members leaves the chat.
It's also doesn't matter if the chat member who receives the error message - been on chat screen or any other screen (e.g. the list of chats or wallet

[2017-12-15 10:41] oskarth commented on #2664
Done in develop under flag

[2017-12-15 10:41] #2664 closed, assigned to oskarth

[2017-12-15 10:47] ReneeAB opened #2728 "A new contact is not added on the contact list when the current user has is QR code scanned by others users."
### Description

*Type*: Bug

*Summary*:
A new contact (User A) is not added on the current user's contact list when User A scanned the current user's QR code and confirmed the addition of a new contact.

#### Expected behavior
The current user should see the new contact (User A) on the "Contacts" page.

#### Actual behavior
The current user cannpt see the new contact (User A) on the "Contacts" pa

[2017-12-15 10:58] status-open-bounty commented on #1691
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x6908a0a98109fa9d741e7e0ac407ec86e944bb6326505275fdace45198134f49](https://etherscan.io/tx/0x6908a0a98109fa9d741e7e0ac407ec86e944bb6326505275fdace45198134f49)

[2017-12-15 11:08] status-open-bounty commented on #1961
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0xb0cd5f653f069f2ae81b779c744ba2edfc3f1136](https://etherscan.io/address/0xb0cd5f653f069f2ae81b779c744ba2edfc3f1136)
Network: Mainnet
Paid to: monokh
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-15 11:13] status-open-bounty commented on #2044
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x3bffbdde761c9eb31452459018f7a9c1e6048ee0](https://etherscan.io/address/0x3bffbdde761c9eb31452459018f7a9c1e6048ee0)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-15 11:23] Serhy opened #2729 "Digits or capital letters are not accepted in the public chat topic name"
***Type*** Bug

***Summary***: When user tries to join public chat and types in the public chat topic **digits** OR **capital letters** - the value of what was tap appears and removed right away (so it looks like blinking). It's also noticeable that what was entered after digits/capital letters appended, - this may be connected to https://github.com/status-im/status-react/issues/2603 though.
It's

[2017-12-15 11:24] oskarth commented on #2504
Done, but not necessarily critical for product MVP.

[2017-12-15 11:24] #2504 closed, assigned to oskarth

[2017-12-15 12:17] andytudhope commented on #2635
Difficult to reproduce and likely that this UI will disappear in MVP, so removing bounty labels.

[2017-12-15 13:46] jeluard opened #2731 "Allow feature flags to be turned on/off"
### User Story

As a developer, I want to turn on/off feature flags from a simple developer screen

### Description

Some features part of a developer release are hidden behind a statically set flag. As a developer I want to be able to change the value of those flags from a simple screen. Restarting would then allow me to see relevant changes.

See [config.cljs](https://github.com/status-im/status

[2017-12-15 14:23] yenda commented on #2719
@andytudhope the update to react-native 50.3 will be merged in develop soon, it's better to wait for it

[2017-12-15 15:06] #1690 closed, assigned to nobody

[2017-12-15 15:26] #2546 closed, assigned to nobody

[2017-12-15 15:33] churik commented on #1209
suppose that this issue can be related to #2622

[2017-12-15 15:52] churik commented on #1209
At the moment just for invalid input started with web3. it returns "undefined" message
![img_0040](https://user-images.githubusercontent.com/4557972/34049721-20b09026-e1c1-11e7-8c4f-a3d84719d2cd.jpg)
Checked with IOS and Android build 0.9.11d443 (15.12.2017)

[2017-12-15 17:51] annadanchenko commented on #2725
it's expected. To recover account you need the exact passphrase and password as were used in your account. If you are using others then you get an account for that passphrase/password.

[2017-12-15 17:51] #2725 closed, assigned to nobody

[2017-12-15 17:53] chadyj commented on #1244
This happened to me with version 0.911d446 build 2002.1.
It could be fixed by restarting the app. However, I couldn't reproduce it again, and tried the above steps.

[2017-12-15 19:18] Serhy commented on #2729
"Feature", not a bug. Closing this one.
So only lowercase letters are supported in the public topic name.

[2017-12-15 19:18] #2729 closed, assigned to nobody

[2017-12-15 19:25] placer14 commented on #2668
@alwx, you've created https://github.com/status-im/status-react/blame/develop/shim.js. Can you help me understand it's importance to the repo and if it can be removed (or maybe moved closer to where its consumed)?

[2017-12-15 20:34] placer14 commented on #2668
@jeluard, what does `dev/test` refer to? If it's a directory, it doesn't appear in the status-react `develop` tree. Maybe it's already been removed?

[2017-12-15 20:50] placer14 commented on #2668
Would it be appropriate to move https://github.com/status-im/status-react/blob/develop/update.sh and https://github.com/status-im/status-react/blob/develop/postinstall.sh into `scripts/`?

[2017-12-16 01:16] foopang commented on #2044
I will start working on it.

[2017-12-16 06:34] yenda commented on #2668
You can delete update.sh I accidentally committed it in my last commit. postinstall is a npm script not a script for developer so I don't think we want to move it with the dev scripts. shim.js is not really used but it's more because we don't know how to use it. It comes with rn-nodeify and contains shims required for some libs, we just don't use these particular libs ATM.

[2017-12-16 07:22] ScriptsAndCodes commented on #2613
Would like to help wth this..

[2017-12-16 13:52] jeluard commented on #2668
@placer14 Sorry that was [env/test](https://github.com/status-im/status-react/tree/develop/env/test/) actually.

[2017-12-16 21:36] nrakochy commented on #1774
@andytudhope  Sorry for the delay. I am working on a work-around as a substitute for fixing the underlying lib...

[2017-12-16 22:10] dottedmag commented on #2636
I had a look at this issue, made a crude version of a script, and now would like to understand the typical workflow to make it more usable.

Do maintainers add a remote, fetch it and review locally, and then merge, or do they review code on GitHub and want the script only for a merge stop?

[2017-12-16 22:35] oskarth commented on #2636
@dottedmag Thanks! I think it's more common for core contributors to review code in Github and then only run merge script from CLI, but some might prefer to fetch it and review locally (@rasom?). Whatever is easiest would be great to get started :)

[2017-12-16 22:39] dottedmag commented on #2636
A case with a local branch for is easier — while information for looking up PR details is one `curl` away, Bash does not have JSON parser, `grep`-ing result is brittle, and `hub(1)` is not especially helpful either.

[2017-12-16 22:54] oskarth commented on #2636
In that case, go for it! Anything than what we currently have is an improvement :) Would you mind including instructions for how a normal core contributor should deal with an external PR in your upcoming PR? adding remotes etc.

[2017-12-16 22:55] dottedmag commented on #2636
No problem, where should these instructions go?

[2017-12-16 22:56] oskarth commented on #2636
In the PR and as comments in the script would be great!

[2017-12-17 07:31] dottedmag commented on #2636
The current WiP is in the PR — is this a right direction to go?

[2017-12-17 09:01] #2528 closed, assigned to nobody

[2017-12-17 09:27] monokh commented on #1961
Working on this :slightly_smiling_face: expect a PR soon

[2017-12-18 08:15] asemiankevich opened #2750 "Error undefined is not an object error shown when entering pass pharse to recover account"
### Description

*Type*: Bug

*Summary*: `undefined is not an object (evaluating 'e.nativeEvent.contentSize.height') error shown when recovering account in latest develop

#### Expected behavior
No errors when recovering account

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/34095600-13ae5768-e3e3-11e7-8e45-1f3327560ba6.png)

### Reproduction
- Open Status
- Clic

[2017-12-18 09:07] churik commented on #2721
can reproduce on nightly 18/12 develop build.
0.9.10-458-ga7f8526c+

See log/video from 05:38: https://app.testfairy.com/projects/4803622-status/builds/7310246/sessions/1/?accessToken=8RF6ZU0pkIv4rYAmRnTei7G4pN0

[2017-12-18 09:32] dmitryn opened #2751 "Allow switching between wnodes for offline messaging"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to select wnode i want to use for offline messaging.

### Description

Settings screen should have "offline message settings" where user could select wnode to use for offline messaging. This feature should be toggled by configuration flag.

### Notes

Check idea https://github.com/status-im/i

[2017-12-18 09:40] oskarth opened #2752 "Decide on supported devices for product MVP"
### User Story

As a developer, I want to know which devices we want to support (i.e. have acceptable perf on) in order to do relevant profiling, testing and fixing.

### Description

*Type*: Feature/Decision

*Summary*: Make a list of supported devices on Android and iOS respectively. Alternatively set a minimum/reference device version for each platform that we can use for benchmarking.

#### Ex

[2017-12-18 09:53] oskarth opened #2753 "Make status-react without status-go bundled at all"
### User Story

As a developer, I want to make sure no status-go code is being run at all, even if stubbing is used, so that I can accurately do perf checks.

### Description

*Type*: Feature/Tooling (branch)

*Summary*: Make a branch of status-react that doesn't include status-go as a module at all.

#### Expected behavior
status-react build with no status-go in it. (Alternatively dead code elimi

[2017-12-18 10:09] oskarth commented on #2426
Part of 55/Fast-status. @asemiankevich comment on it being a compact bad case:

Go to 1x1 chat - > /request -> tap ~20 times blue send button
https://app.testfairy.com/projects/4803622-status/builds/7170527/sessions/28/?accessToken=tsJMUzhy/tmn6-e-7ZTOenqfgc0
This happens on iOS, i tried Andriod and was not able to re-create.

[2017-12-18 10:11] oskarth commented on #2478
Part of 55/Fast-status. @asemiankevich comment on it being a compact bad case:

[2017-12-18 10:12] oskarth commented on #2559
Part of 55/Fast-status. @asemiankevich comment on it being a compact bad case:

https://app.testfairy.com/projects/4803590-status/builds/7178001/sessions/22/?accessToken=dMvajQBcXlV/FTQ5QjuQluS3nEo
Do not have any other android old device by hand but it may be not platform-specific
#2559

[2017-12-18 10:13] oskarth commented on #1552
Part of 55/Fast-status. @asemiankevich comment on it being a compact bad case:

Iphone 7 is rendering map faster , this current lag was noticed on Android device

[2017-12-18 10:14] oskarth commented on #2521
Closing for now as links to issues have been captured. Will sync/repro this with:

(a) supported devices
(b) supported user stories (product MVP)

[2017-12-18 10:14] #2521 closed, assigned to nobody

[2017-12-18 10:20] churik opened #2754 "Avatar in 1-1 chat is not updated after setting it up in User Profile"
### Description

*Type*: Bug
*Summary*:
when you start a chat with user A and than user A set up or change profile photo - it does not affect to Chats with user A.

#### Expected behavior
user avatar is updated in "Chats"

#### Actual behavior
user avatar leaves the same
![dev_ava](https://user-images.githubusercontent.com/4557972/34101579-ca093a54-e3ee-11e7-801d-e68aa3010192.png)

### Reproductio

[2017-12-18 11:26] chadyj commented on #2752
I looked at current device market share to get a sense for device usage and popularity.

On iOS the current top phones are:

iPhone 6s
iPhone 7
iPhone 7 Plus
iPhone 6
iPhone X
iPhone 8 Plus
iPhone 8

On Android, the current top phones are:

Samsung Galaxy J7
Samsung Galaxy Grand Prime
Samsung Galaxy J2
Samsung Galaxy J5
Samsung Galaxy J7(2016)
Samsung Galaxy S7 Edge
Samsung Grand Prime Plus

Top a

[2017-12-18 13:35] jeluard opened #2755 "Improve specs report readability"
### User Story

As a developer, I want to easily understand `specs` error (both in terminal and in app)

### Description

*Type*: Feature

Errors generated by `specs` are pretty hard to decypher (especially because of how we use specs).

![specs](https://user-images.githubusercontent.com/359723/34108257-b3ba97dc-e3ff-11e7-9c0f-b17a9dbbd6c6.png)

It would help to get human friendly error messages (

[2017-12-18 14:12] jeluard opened #2756 "Allow easy status-go log level modification"
### User Story

As a developer, I want to easily modify `status-go` log level via feature flags

### Description

*Type*: Feature

`status-go` log level is hardcoded. It should be possible to set it via [feature flag](https://github.com/status-im/status-react/blob/develop/.env)

Log levels are set here:

* android https://github.com/status-im/status-react/blob/develop/modules/react-native-status/a

[2017-12-18 14:30] churik opened #2757 "Unresponsive app after several invalid inputs with /request command in Group Chat"
### Description
*Type*: Bug
*Summary*:
application get stuck after sending several invalid amount inputs (e.g. 0.001@@W) with /request command in Group Chat

#### Expected behavior
Amount is not valid number error;
app is responsive

#### Actual behavior
app unresponsive, no error is shown

### Reproduction

- Open Status
- Start Group Chat
- Use /request command with invalid amount (e.g. 0.001@@W

[2017-12-18 14:56] status-open-bounty commented on #2755
Balance: 0.000000 ETH
Tokens: SNT: 4000.00
Contract address: [0x08e1451d4f34cd67e9b4647bccb251483eeec6d7](https://etherscan.io/address/0x08e1451d4f34cd67e9b4647bccb251483eeec6d7)
Network: Mainnet
Paid to: pablodip
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-18 15:50] status-open-bounty commented on #2669
Balance: 0.000000 ETH
Tokens: SNT: 4000.00
Contract address: [0x5dff394cb22e3c4f3ba71e8f5773ad98ebe126c4](https://etherscan.io/address/0x5dff394cb22e3c4f3ba71e8f5773ad98ebe126c4)
Network: Mainnet
Paid to: poiga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-18 16:42] oskarth commented on #2756
Additionally it is set here in a slightly different format (mostly for TFLogs): https://github.com/status-im/status-react/blob/ed3597fd7ce52fbcf96351338edc49180818e49e/ios/StatusIm/AppDelegate.m#L71

[2017-12-18 17:38] annadanchenko commented on #2701
@dmitryn @oskarth #2701 is mixing terms "public" and "group" chats.

Summary: Add support for group chat
Title: Offline inboxing iteration 1: Support public chat

Status app has public chats and has group chats. Do we address both types of chats or only one of them. If one then is it public chat or group chat?

[2017-12-18 18:50] dmitryn commented on #2701
@annadanchenko we address both types of chats here. The reason behind mixing terms is that they work similar to each other from the dev standpoint.

[2017-12-19 04:16] Lvivyanyn commented on #2334
I am a native Ukrainian speaker and I would like to participate.

[2017-12-19 04:57] foopang commented on #2755
@jeluard I think `Phrase` does not serve this purpose well because the target audience for generated messages are end-users of an application not developers.

Between `Expound` and `Pinpointer`, `Expound` seems more mature and more configurable. By default, it doesn't display the errors very clearly readable IMO, see screencap.

![screenshot from 2017-12-19 12-54-11](https://user-images.githubuser

[2017-12-19 06:57] jeluard commented on #2755
@foopang Actually the target is developers and this is to help us debug faster. The red screen is not shown to end users.
This is for the very specific subset of `app-db` related errors. For this case I believe we can do a little better and I would expect to be able to see errors at the key level (as we are mostly interested by first level `app-db` issues). So something that would pinpoint me whic

[2017-12-19 07:35] treebeard opened #2760 "Errors 'no protocol method' and 'null is not an object' shown when signing in"
### Description

*Type*: Bug

*Summary*: During the first attempt to sign in, error 'no protocol method lAssociative' shows up, and all subsequent sign in attempts show error 'null is not an object (evaluating 'cljs.core.deref(status_im.data_store.realm.core.account_realm).path') until app is restarted.

#### Expected behavior
No errors when logging in.

#### Actual behavior
![screenshot_20171219-

[2017-12-19 09:01] oskarth commented on #2752
After talking with @chadyj and @annadanchenko, to keep it simple we can use the following two reference devices:

- iOS: iPhone 6s
- Android: Samsung Galaxy S6

This doesn't mean "if it works on these everything is fine perf wise", it means "if it doesn't work on these we have a big problem" (and same goes for S6+/6s+ of course).

Marking this issue as done for now as getting more high-granular vi

[2017-12-19 09:01] #2752 closed, assigned to nobody

[2017-12-19 09:03] oskarth commented on #2559
@asemiankevich Can this be reproduced on either:

- iPhone 6s (or above), or
- Samsung Galaxy 6 (or above)

Answer to this question would let us know if this is a prio for 55/Fast status or not.

[2017-12-19 09:17] status-open-bounty commented on #2756
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0xff1506214cd6ffbad8cecef35f93e8bc67680cbd](https://etherscan.io/address/0xff1506214cd6ffbad8cecef35f93e8bc67680cbd)
Network: Mainnet
Paid to: PombeirP
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-19 09:19] status-open-bounty commented on #2577
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x4f1afccd9beeede2f44345ce745d28f837801f5de36af632d8e521ab19d770ce](https://etherscan.io/tx/0x4f1afccd9beeede2f44345ce745d28f837801f5de36af632d8e521ab19d770ce)

[2017-12-19 09:24] asemiankevich commented on #2559
iPhone 7 looks much better, Android is hard to say as sending multiple requests make the app unresponsive. I assume there is a fix for that somewhere on its way.

[2017-12-19 09:31] oskarth commented on #2559
@asemiankevich is this captured somewhere? do you know what issue?

[2017-12-19 09:49] asemiankevich commented on #2559
it is known issue https://github.com/status-im/status-react/issues/2757

[2017-12-19 10:30] status-open-bounty commented on #2539
Balance: 0.000000 ETH
Contract address: [0x06f287aefdbf07a5ab96e96c4bfd9d795b336ea5](https://etherscan.io/address/0x06f287aefdbf07a5ab96e96c4bfd9d795b336ea5)
Network: Mainnet
Paid to: PombeirP
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-19 10:41] status-open-bounty commented on #2731
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0x463b19444da90a9fae2913cd4d2a0548107f667b](https://etherscan.io/address/0x463b19444da90a9fae2913cd4d2a0548107f667b)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-19 10:47] status-open-bounty commented on #2604
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0x4b6efb1d5fafd71994dec549ef2fa17214e28792](https://etherscan.io/address/0x4b6efb1d5fafd71994dec549ef2fa17214e28792)
Network: Mainnet
Paid to: mlahia
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-19 11:35] foopang commented on #2755
@jeluard Is this what you are expecting?
![screenshot from 2017-12-19 19-30-45](https://user-images.githubusercontent.com/4666757/34155241-80bf3302-e4f3-11e7-9512-cb4d3906f7a7.png)

[2017-12-19 11:55] asemiankevich opened #2762 "App not installed message when upgrading"
### Description

*Type*: Bug

*Summary*: Can't upgrade - `app not installed` message shown when installing any build on exisiting 0.9.12b release (android)

#### Expected behavior
Upgarde is successful

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/34155932-304a6e72-e4cc-11e7-81f2-339c9f87b884.png)

### Reproduction

- Install release 0.9.12b
- Create account
- U

[2017-12-19 12:03] asemiankevich opened #2763 "java.lang.NullPointerException error when rendering the map [0.9.12b]"
### Description

*Type*: Bug

*Summary*: Error shown when closing map inline. This happens when location command is called for the first time and I assume its  because of slow map rendering however the device is not that old.

#### Expected behavior
Error `java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.maps.MapView.onResume()' on a null object reference

[2017-12-19 13:18] churik commented on #2613
Issue is still reproducible with Iphone 5S, build 0.9.11d462
It is not truncated enough for such screen size.
Followed the steps described in issue.
![5s](https://user-images.githubusercontent.com/4557972/34158835-b4906968-e4cf-11e7-99c8-7a96f814897b.png)

[2017-12-19 13:37] churik commented on #2613
And for Iphone 7 - big gap between name and "Chat" button
![11](https://user-images.githubusercontent.com/4557972/34159607-85024c2c-e4d2-11e7-96cd-9ecdf8f0e877.png)

[2017-12-19 14:10] #2374 closed, assigned to janherich

[2017-12-19 14:10] #1875 closed, assigned to janherich

[2017-12-19 14:23] asemiankevich commented on #2559
@oskarth can we move the issue in backlog or somewhere else then?

[2017-12-19 14:32] Serhy commented on #2613
The same behaviour as above on Android on Popular #hashtags, Recent statuses:
![screenshot_2017-12-19-16-03-25](https://user-images.githubusercontent.com/8749671/34161649-fa3e81d4-e4d9-11e7-9fc0-0a608e35425e.png)

Similar on 'Popular #hashtags' -> 'All', 'Recent statuses' -> 'All' screen view:
![pop_hashtg_all_4_5_inch](https://user-images.githubusercontent.com/8749671/34161470-7024758a-e4d9-11e7-

[2017-12-19 14:55] foopang commented on #2613
@Serhy @churik fixed again in the latest commit. Please try again.

[2017-12-19 14:59] dmitryn opened #2764 "Add offline messaging settings screen"
This issue is extracted from bigger one https://github.com/status-im/status-react/issues/2751

### User Story

As a user I want to view offline messaging settings.

### Description

Offline messaging settings screen allows to see whisper node connection.
Screen is read-only for now. Managing connection will be done in #2751

<img width="786" alt="screenshot 2017-12-19 17 53 49" src="https://user-i

[2017-12-19 17:00] jeluard commented on #2755
@foopang It is, yes!

[2017-12-19 17:07] oskarth commented on #2559
@asemiankevich Sorry, of course. Done!

[2017-12-20 02:20] foopang opened #2769 "How to perform a db schema migration task?"
The below errors showed up on the app screen after I pulled the latest code from Github and rebuilt the app myself. Do I need to perform a db schema migration task? And how? I couldn't find it on the wiki pages. If I have to to uninstall the older version of the app completely, how can I preserve the old data so I don't have to recreate the data every time reinstalling the app?

[code]

[2017-12-20 06:59] foopang opened #2771 "Unable to connect to CLJS REPL"
### User Story

As a developer, I want to be able to connect to CLJS REPL so that I can do interactive stuff via CLJS REPL.

### Description

*Type*: Bug

Seems that it happens after [this commit](https://github.com/status-im/status-react/commit/56c59c741fc6f915135e2d6dec44a21ab296ea99), the CLJS REPL is not accessible anymore.

*Summary*: ...

#### Expected behavior
Figwheel connects to the appli

[2017-12-20 08:09] #2750 closed, assigned to janherich

[2017-12-20 09:12] denis-sharypin commented on #2655
Hey, @asemiankevich we decided to go with ≈100 popular tokens (at that moment) for our MVP. We have to come up with a process of adding remaining token pics

[2017-12-20 09:30] ReneeAB opened #2772 "App is not responsive when user type a wrong URL under / faucet on the Console page/chat."
### Description
The app does not respond when the user enter a wrong URL after selecting "/faucet" during the chat with the Console.
*Type*: Bug

*Summary*:

#### Expected behavior
The "incorrect faucet please select one from the list." error message disappear when the user send a valid URL and the user recseives ETH.

#### Actual behavior
The "incorrect faucet please select one from the list." er

[2017-12-20 11:06] annadanchenko commented on #2701
Tested OK (ios and Android real devices), for public and for group chats
 1. when users are not in contact of each other 2. whey they are contacts 3. when several messages are sent 4. location command is sent, when emoji is sent 5. in group chat (same things as above) + send, request commands

Extra notes:
1. New user joins public chat -> will receive old messages (from all time he was not in the

[2017-12-20 11:19] Serhy commented on #2613
Dynamic cut of the long names happens right now, yes. However, we cut username too soon. So there is a large gap stays on any screen width:
For instance Android on 4.5” screen:
Popular hashtag/Recent statuses view:
![popular_4_5](https://user-images.githubusercontent.com/8749671/34204308-cc21caf6-e586-11e7-910b-9232b376e5c8.png)

Popular hashtag/Recent statuses -> ‘All’ view:
![popular_all_4_5](ht

[2017-12-20 12:09] status-open-bounty commented on #2590
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0xff904a4dd0c0d70f14ccf375869cefeb7e8826fe](https://etherscan.io/address/0xff904a4dd0c0d70f14ccf375869cefeb7e8826fe)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-20 12:12] status-open-bounty commented on #2594
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x69f823163ba7b8250ce1e30603cd8c530d32134f419b639ab6c8e2fa60a1bc88](https://etherscan.io/tx/0x69f823163ba7b8250ce1e30603cd8c530d32134f419b639ab6c8e2fa60a1bc88)

[2017-12-20 13:43] churik opened #2773 "/location command is displayed as json in Chats until message is unread for not added contact"
### Description

*Type*: Bug

*Summary*:
if you have unread messages with locations, last of them is displayed as json (red) until you
1) open 1-1 chat with user
2) add user as contact

![loc](https://user-images.githubusercontent.com/4557972/34209669-c9a8b842-e59b-11e7-9227-1426775bf69e.png)

#### Expected behavior
location is displayed like user readable content
marked green on screen

#### Actu

[2017-12-20 14:35] dmitryn commented on #2771
@foopang it works for me. Try `(cljs-repl "ios")` where argument is device you're using.

[2017-12-20 14:37] ghost commented on #2771
@foopang you mai want to set some params before launching REPL, like: "BUILD_IDS="ios" lein repl"

[2017-12-20 15:20] asemiankevich opened #2775 "Discover: Popular hashtags counter is misplaced"
### Description

*Type*: Bug

*Summary*: counter on Discover screen is misplaced

#### Expected behavior
Should be right aligned on the card

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/34213978-06ae0a38-e5b2-11e7-828f-1d08af6dac3b.png)

### Reproduction

- Open Status
- Set up a status with hashtag
- navigate to discover tab

### Additional Information
* Statu

[2017-12-20 15:28] janherich commented on #2773
@churik Can you confirm that while it's initially displayed as json, after some time (couple of second at most), its changed to the readable text of location ?

[2017-12-20 15:31] churik commented on #2773
@janherich nope, for me it is till message is unread for new chat (contact is not added).
Also I added TF session
After I open 1-1 chat > go back to "Chat" tab - everything is displayed as plain text (as expected)

[2017-12-20 16:44] foopang commented on #2613
@Serhy Sorry, should have checked more carefully by myself first. It looks fine on Android now for me. I am not able to check on iOS yet, appreciate if you could help me check on iOS.

![screenshot from 2017-12-21 00-35-54](https://user-images.githubusercontent.com/4666757/34217914-bf372712-e5e7-11e7-9688-1b60bede27c5.png)

[2017-12-20 16:54] foopang commented on #2771
@dmitryn @poiga Thanks! I tried both methods you mentioned, still no luck. Maybe just me couldn't get the CLJS REPL up and running? Strange...will seek further solutions myself.

----
Leiningen 2.7.1 on Java 1.8.0_144 OpenJDK 64-Bit Server VM
node v8.9.3
npm 5.5.1

[2017-12-20 20:35] dbalatero commented on #2566
I wanted to check in and see what the status is on this and/or if there is an open PR to track this work? Thanks!

[2017-12-20 22:42] #2760 closed, assigned to nobody

[2017-12-21 03:08] foopang commented on #2613
Looks fine too on iOS now...

![simulator screen shot - iphone 5s - 2017-12-21 at 11 04 31](https://user-images.githubusercontent.com/4666757/34238919-397f0ede-e63f-11e7-8c32-cdab09526869.png)
![simulator screen shot - iphone 6 - 2017-12-21 at 11 04 22](https://user-images.githubusercontent.com/4666757/34238921-3f2fff64-e63f-11e7-9189-0d8c52344546.png)

[2017-12-21 07:01] andytudhope commented on #2566
Hi @dbalatero! I thought you were on holiday 😉 So, our new devops guy @v2nek is working on this, and last I heard there may be a OAuth solution to allowing some external contributors access to Jenkins. Though I also think that moving over to yarn with @oskarth is maybe more pressing right now.

[2017-12-21 07:18] jeluard commented on #2706
Removed from current scope.

[2017-12-21 07:18] #2706 closed, assigned to goranjovic

[2017-12-21 07:18] jeluard commented on #2466
Removed from current scope.

[2017-12-21 07:18] #2466 closed, assigned to goranjovic

[2017-12-21 07:18] jeluard commented on #2467
Removed from current scope.

[2017-12-21 07:18] #2467 closed, assigned to goranjovic

[2017-12-21 07:19] jeluard commented on #2651
Removed from current scope.

[2017-12-21 07:19] #2651 closed, assigned to goranjovic

[2017-12-21 07:19] jeluard commented on #2518
Removed from current scope.

[2017-12-21 07:19] #2518 closed, assigned to nobody

[2017-12-21 07:21] jeluard commented on #2464
Removed from current scope.

[2017-12-21 07:21] #2464 closed, assigned to nobody

[2017-12-21 07:22] jeluard commented on #2652
Removed from current scope.

[2017-12-21 07:22] #2652 closed, assigned to nobody

[2017-12-21 07:43] jeluard opened #2780 "Prevent re-frame misleading messages when reloading"
### User Story

As a developer, I don't want to have spurious warning messages.

### Description

*Type*: Feature

`re-frame` generates some warnings when a `handler` is re-defined. While great in theory it generates lots of unwanted messages when reloading the code via `figwheel`.
Implement one of the described [workaround](https://github.com/Day8/re-frame/issues/204) so that it does not happen.

[2017-12-21 07:46] status-open-bounty commented on #2683
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0x0abeadbb9e15b734a37e38cc6bd585b539f771d8](https://etherscan.io/address/0x0abeadbb9e15b734a37e38cc6bd585b539f771d8)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-21 08:19] churik opened #2782 "User avatar is misplaced in 1-1 chat when chat history is more than one day"
### Description
*Type*: Bug
*Summary*:
if history in 1-1 chat contains more than 1 day - user avatar is placed under current day messages
![ios1](https://user-images.githubusercontent.com/4557972/34253877-1c3c9a22-e652-11e7-80b6-0d9529e3c5e4.png)

#### Expected behavior
user avatar in 1-1 chat in the beginning of chat history

#### Actual behavior
user avatar in 1-1 chat in the beginning of curren

[2017-12-21 08:31] janherich commented on #2782
Hi @churik are we sure we want that behaviour (user avatar always at the very beginning of the chat history) ?
As the current user status is displayed in the user avatar and the current user status is something which can be changed and user would want to communicate that to other, it would be very hard for him to actually do that in chat with let's say 1000 old messages - nobody would see the user

[2017-12-21 08:55] status-open-bounty commented on #2780
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0xbf4a82af0722b4c3e2cad58e2a8de53f9e234044](https://etherscan.io/address/0xbf4a82af0722b4c3e2cad58e2a8de53f9e234044)
Network: Mainnet
Paid to: pablodip
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-21 09:35] asemiankevich opened #2784 "Irresponsive app when open Wallet screen"
### Description

*Type*: Bug

*Summary*: app freezes when open the wallet screen

#### Expected behavior
Able to navigate through the app UI

#### Actual behavior
App is not responsive to any tap

### Reproduction
- Open Status
- Set up account and /faucet some ETH
- Open Wallet

### Additional Information
* Status version: `0.9.10-467-g0a7ba2fe+ (2024)`
* Operating System: Android|iOS

#### Logs

[2017-12-21 10:09] dbalatero commented on #2566
Sounds good, I'll jump back on that yarn PR. I'm back as of yesterday!

[2017-12-21 10:15] oskarth commented on #2566
@dbalatero Welcome back! Our new devops guy is looking into GH auth or so at https://github.com/status-im/status-cluster/issues/14 (private repo unfortunately)

[2017-12-21 10:21] oskarth opened #2785 "Offline inbox: Use new status-go with breaking change in requesMessages"
- [x] Bump status-go develop
- [x] Change peer/enode to `mailServerPeer` in `shh_requestMessages` . params
- [x] Sanity check requestMessages still works in logs

See https://github.com/status-im/status-go/pull/513#issuecomment-353202984

[2017-12-21 10:41] oskarth opened #2787 "Upgrade status-go checklist for breaking changes"
List of breaking changes for commits. Makes sure we don't accidentally merge breaking changes into status-react. Mini changelog.

## Background

Status-react depends on status-go, and sometimes the interface changes, and the person upgrading status-go isn’t aware of this breaking change. Previously we have communicated such changes in an ad hoc way, and now we want to make it slightly less ad hoc.

[2017-12-21 11:30] churik commented on #2782
@janherich as for me idea of displaying User avatar + status as a normal message is redundant, because all this data is already displayed in header.
But if we have this feature, it is wrong to place message with ava to the middle of conversation just because next day came)

[2017-12-21 11:32] goranjovic opened #2788 "Zero parameter commands fail to run"
### User Story

As a developer I want to be able to create bot commands that do not take any parameters

### Description

*Type*: Feature

*Summary*:

#### Expected behavior

The command is executed.

#### Actual behavior

The command is not executed. Instead, this message is shown in chat history:

![selection_001](https://user-images.githubusercontent.com/711764/34254391-2ab2512e-e64c-11e7-8f79-

[2017-12-21 11:37] #2771 closed, assigned to nobody

[2017-12-21 11:37] #2769 closed, assigned to nobody

[2017-12-21 11:45] #2780 closed, assigned to nobody

[2017-12-21 11:49] janherich commented on #2782
@churik We have *almost* all data displayed in header as well, but one crucial piece (current user status - `the future belongs to those who...`) is missing there.
I agree that user-message in the middle of the conversation feels super strange from visual point of view, even if it makes easier for recipient to discover the current status of the sender.

[2017-12-21 12:03] goranjovic commented on #2788
Invalid bug, caused by a missing return value

[2017-12-21 12:03] #2788 closed, assigned to nobody

[2017-12-21 12:30] andytudhope commented on #2668
What is the status of your work here @placer14? Is there an open PR that I am missing, or are you only working on your own branch?

[2017-12-21 13:10] andmironov commented on #2782
There is a slight UI update coming with no avatar + name in the empty chat, but just `There are no messages in this chat yet` text instead

![ios_chat-12](https://user-images.githubusercontent.com/3115606/34257103-80f37d52-e669-11e7-881c-d28b70e71cc6.png)

[2017-12-21 13:11] churik opened #2789 "Error at attempt to send location with scandinavian letters after invalid input with Demo Bot"
### Description
*Type*: Bug
*Summary*: after you send some invalid input in Demochat (like "aaa") and got message "seems that you don't want to send a money:( cnt=2" -  at attempt to use /location with Scndinavian/German ect specific letters - got an error on Android
![andr1](https://user-images.githubusercontent.com/4557972/34257032-c94f4cec-e660-11e7-9fc9-b7ed931bcbc9.png)

#### Expected behavio

[2017-12-21 13:14] Serhy commented on #2613
Yes! That looks great now! Thanks @foopang
Long usernames on Android, iOS on the small and large screens doesn't move Chat button now on Discover neither on Popular hashtag -> ALL, Recent hashtag -> ALL pages.

[2017-12-21 13:21] janherich commented on #2782
@andmironov the question is more about the situation when we have many messages in chat (message history spans several days). We can then do some choices:
1. (Current behavior) Always pin user message (with his/her photo & current status) to the last message group (current day messages) - this makes sense from the usability view, as whenever recipient wants to look-up current status (expression of

[2017-12-21 13:36] churik commented on #1961
Checked:
*install
- all default avatars: 1-1 Chat, group Chat, Public Chat,
- icons on discover screen
- icons on contacts screen
- messaging in 1-1, Group chat
*upgrade
with 1-1 chat, group chat users with default profile picture and profile picture which is set from Gallery.
in IOS works correct, on android upgrade check is blocked by #2762

[2017-12-21 14:33] ReneeAB opened #2791 "Console PRofile - Console QR Code is displayed under the "Public key" section but not under the "Address" section"
*Type*: Bug

*Summary*:
I am not sure if users are supposed to see the Console QR Code or not but when you select the console profile, the QR Code is displayed under the "Public key" section  but not under the "Address" section.

#### Expected behavior
The console QR Code should be displayed under the section "Address" or "public key" or none of them.

#### Actual behavior
The console QR Code is n

[2017-12-21 15:11] #2044 closed, assigned to nobody

[2017-12-21 15:44] asemiankevich opened #2792 "Time lag in messaging (iOS - Android)"
### Description

*Type*: Bug

*Summary*: Sometimes there is a weird messaging behaviour like messages are sent but not received on the other side. That is mostly happening when I use iOS - Android pair. I was able to re-create this once using release build and @chadyj has seen it in develop . My assumption is something weird is in messaging itself (no matter of the build) but we need to investigat

[2017-12-21 16:09] divan commented on #2792
I was able to reproduce it with iPad<->Android pair as well.

[2017-12-21 17:02] jeluard opened #2793 "Rely on latest re-natal config.cljs"
### User Story

As a developer, I don't want to have files part of `git` automatically modified by tools (e.g. `re-natal`)

### Description

Currently [android](https://github.com/status-im/status-react/blob/develop/env/dev/env/android/main.cljs) and [ios](https://github.com/status-im/status-react/blob/develop/env/dev/env/ios/main.cljs) main files are modified each time `re-natal` is run.
Rely on

[2017-12-21 19:31] status-open-bounty commented on #2793
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0xb50ed998e4e59d593269d303dedeb842200b8d5e](https://etherscan.io/address/0xb50ed998e4e59d593269d303dedeb842200b8d5e)
Network: Mainnet
Paid to: t4sk
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-21 19:36] oskarth commented on #2753
Question: Is this a blocker for "My main concern was to see if status-go has high CPU usage that needs to be investigated and fixed in context of this idea/swarm."

Answer(divan): Unlikely. That would nice to have, to be 100% sure, but 99.9% is good enough so far.

Moving to low prio for now.

[2017-12-21 19:56] #2613 closed, assigned to nobody

[2017-12-21 21:02] andytudhope commented on #2755
Fixed by https://github.com/status-im/status-react/pull/2770

[2017-12-21 21:02] #2755 closed, assigned to nobody

[2017-12-22 03:21] placer14 commented on #2668
@andytudhope Sorry, I had finished the work but never wrapped it up and posted the PR. I erred on the side of removing less than more as I'm quite new to status and wasn't sure how to exercise all of the moving parts past running the tests and building production. Please let me know if further attention is needed somewhere.

[2017-12-22 08:32] asemiankevich commented on #2784
I can't reproduce it in last nightly

https://app.testfairy.com/projects/4803622-status/builds/7346063/sessions/2/?accessToken=swFb3RcWqOUgRRoaBQBZDcefcH0

https://app.testfairy.com/projects/4803590-status/builds/7353468/sessions/2/?accessToken=HH-QsOTpknNlt92AGs-qCH1uEl4

Nightly build (develop)
Tests: :+1:)
Android: http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-4

[2017-12-22 08:32] #2784 closed, assigned to nobody

[2017-12-22 12:52] foopang commented on #2775
@asemiankevich should it be placed to the right most?

![screenshot from 2017-12-22 20-50-17](https://user-images.githubusercontent.com/4666757/34298686-fb4b1b8c-e759-11e7-90d5-a5b37ae9f47d.png)

[2017-12-22 13:25] churik commented on #2792
@divan , could reproduce it again
IOS TF (chat starts from 06:53)
 https://app.testfairy.com/projects/4803590-status/builds/7354057/sessions/3/?accessToken=0vbxKvcyadgnRiwTCIUsk-cvdRY - all messages is visible, works fine.

Android TF (started chat 35:50)- https://app.testfairy.com/projects/4803622-status/builds/7354051/sessions/1/?accessToken=coJTk8jLKLEFaaQO8kvWgFsaSXc

Steps for me:
- scan QR o

[2017-12-22 13:40] asemiankevich commented on #2775
@foopang that's true

[2017-12-22 13:51] foopang commented on #2775
@asemiankevich submitted a fix https://github.com/status-im/status-react/pull/2797

[2017-12-22 14:15] #1961 closed, assigned to nobody

[2017-12-22 15:43] asemiankevich opened #2798 "Crash when choosing recipient (iPhone X)"
### Description

*Type*: Bug

*Summary*: There was a crash encountered by @oskarth on iPhone X. There are no stable steps to reproduce it and I can't dig into because I don't have this device.

#### Expected behavior
No crashes

#### Actual behavior
App crashed

### Reproduction
- Open Status
- go to Wallet -> Send -> Choose recipient
- app crashes

### Additional Information
* Status version: `0.

[2017-12-22 16:28] #2701 closed, assigned to dmitryn

[2017-12-22 16:40] foopang commented on #2683
Not sure if I understand the requirement correctly, but I wanna give it a try. So here is the PR https://github.com/status-im/status-react/pull/2799

[2017-12-22 18:17] oskarth commented on #2798
I tried reproducing it once right after it crashed and was unable to.

[2017-12-22 21:45] pedropombeiro commented on #2756
I'm giving this a go.

[2017-12-22 21:56] pedropombeiro commented on #2756
@jeluard Noticed that in `.env` we have a setting that seems redundant, given that we already have a `LOG_LEVEL` entry:
[code]
Given that we now will actually be using `LOG_LEVEL` everywhere, there's no reason why we shouldn't replace `DEBUG_LOGS_ENABLED` with `LOG_LEVEL`, right?

[2017-12-22 22:04] oskarth commented on #2756
@PombeirP Correct, provided this code is adjusted to respect LOG_LEVEL:

[code]

see `AppDelegate.m`.

[2017-12-22 22:08] pedropombeiro commented on #2756
Exactly, thanks!

[2017-12-23 17:18] Serhy opened #2805 "User stays on 'Add new contact' page when public key submitted after recover account"
***Type***: Bug
***Summary***: When user adds new contact which exists in chat list in unconfirmed state - the user stays on 'Add new contact' view

**Note**: passphrase and password of the user which received transaction from another user is provided in the steps below .

#### Expected behavior
User redirected to 1-1 chat view after submitting public key
#### Actual behavior
User stays on 'Add ne

[2017-12-25 08:00] flexsurfer commented on #2683
you understand correctly, thanks @foopang , i just added small comments in PR

[2017-12-25 09:54] churik opened #2808 "No redirection to "Add new contact" after scanning QR with public key(after first app launch)"
### Description

*Type*: Bug
*Summary*:
when you scan QR of new user in order to add him to your contacts (when you add new user for 1 time), app does not redirect you to screen "Add new contact" for confirmation. It redirect to "Chats" tab.

#### Expected behavior
"Add new contact" screen with scanned QR

#### Actual behavior
tab "Chats" opens

### Reproduction

- Open Status
- Set up password
-