[2019-10-28 11:23] StatusSceptre commented on #8818
Okay, thanks for the heads up @agutsal. You aren't blocked on Status though, are you?

[2019-10-28 11:24] StatusSceptre commented on #6946
Ahaha okay! Easy. I'll find you another one @acolytec3. Please hold... :)

[2019-10-28 11:25] acolytec3 commented on #6946
@cammellos My job here is done. 😁

[2019-10-28 12:21] AlphaSerpentis commented on #8718
I just need someone to review if the code actually works.

[2019-10-28 13:10] aahutsal commented on #8818
@StatusSceptre nope, seems generic Gitcoin bug. We've made some progress already. I'll update you

[2019-10-28 14:01] alexjg commented on #8443
@StatusSceptre @gitcoinbot I'm still working. Life has been very hectic the last few weeks, hence low productivity. Apologies for that. I am aiming to finish this one off ASAP.

[2019-10-28 14:36] churik opened #9306 "Can't scan QR code after scanning another QR and going back"
# Bug Report

## Problem
If you go back to scanning QR code from + > Scan QR code > scan code - not possible to scan QR until you reopen the same view one more time (so go back to home view and Scan QR code  again)

#### Expected behavior
can san QR

#### Actual behavior
nothing happens

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create mu

[2019-10-28 15:00] andremedeiros commented on #8299
@hesterbruikman @errorists do we understand how iOS/Android decide to hide the top bar? Sounds like this could be a huge improvement in terms of screen usage (particularly for lower end phones.)

[2019-10-28 15:03] Serhy opened #9307 "Seedphrase with any value outside dictionary always recovers the same account"
# Bug Report

## Problem

If any of seed phase values outside of Status dictionary we still give ability to proceed with recovering flow notifying user that "One or more words might be misspelled". However, in that case there is always the same address and public key is recovered: 0x959FD7Ef9089B7142B6B908Dc3A8af7Aa8ff0FA1
Which corresponds to empty mnemonic .

Apart that it's bug itself, another

[2019-10-28 15:05] Serhy commented on #9307
@rachelhamlin due to reasons explained in the description I included in V1.
Makes sense to bounty as fo me, apparently we fail to grab the seedphrase value after `...some words might be misspelled...` pop-up submission

[2019-10-28 15:12] Serhy commented on #8837
I have iOS 12 and could not reproduce this issue with enabled Keychain in Settings.
@churik could you check it please with iOS 13?

[2019-10-28 15:22] jakubgs commented on #9270
I've found the fix for the missing version: https://github.com/status-im/status-go/pull/1656
With this merged I'll be able to make #9262 work.

[2019-10-28 15:30] errorists commented on #8299
@andremedeiros we just need for it to happen, hiding the toolbar was always there as part of the design for quite a long time now [Figma](https://www.figma.com/file/MYWmd1buvc2AMvUmFP9w42t5/Browser?node-id=3000%3A772)

If we want to hide the address bar along with it, sure we could discuss that. that's like 56 pixels of additional space, 52 for the toolbar.

[2019-10-28 15:32] hesterbruikman commented on #8299
To add, here are 2 related issues. If we solve them, it'll probably make it easier to fix this. I don't think we control the topbar well atm.

- Include a safeArea in the topbar: https://github.com/status-im/status-react/issues/8981
- Search bar hide on scroll (address bar would than act as the Search bar component: https://github.com/status-im/status-react/issues/7697

The browser address bar is

[2019-10-28 15:40] errorists commented on #8299
to only add to that so it's not confused, it's a different behaviour we want for those. Browser's address bar is a predefined Y axis animation that happens when a certain scroll velocity value has been achieved on scroll.
For the Search Bar, it's placed at a -1 position in the list, kinda like a basement. We don't animate it.

[2019-10-28 16:17] rachelhamlin commented on #8837
Thanks @Serhy. I'm going to deprioritize in that case.

[2019-10-28 16:17] churik commented on #8709
After attempt to login \ reopening an app I can't login to app two times more - it crashes on start:

![photo_2019-10-28 17 17 56](https://user-images.githubusercontent.com/4557972/67696296-e6962e00-f9a6-11e9-915c-03e71f90e956.jpeg)

[code]

[2019-10-28 17:11] #9180 closed, assigned to nobody

[2019-10-28 17:15] #9205 closed, assigned to StatusSceptre

[2019-10-28 17:31] rachelhamlin commented on #9108
[Raw notes from our call](https://notes.status.im/-no8zwGcR5aj24u4QKapWg)

I'm going to sit down tomorrow morning and map out the pros & cons of each option as I understood them, and Maciej is thinking on designs.

[2019-10-29 08:39] #9231 closed, assigned to nobody

[2019-10-29 09:25] StatusSceptre commented on #8443
All good @alexjg! Good to know. Hope all's well.

[2019-10-29 09:51] guylouis opened #9311 "Keycard sign in – Frozen keys"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

After 3 wrong passcode entry attempts, the key the user is trying to access should become "Frozen" which means that the user can no longer access it just with their passcode. To access a frozen key the user has to use either the pairing and PUK codes or the seed phrase.

When the key is "Frozen" it is still list

[2019-10-29 09:52] guylouis opened #9312 "Keycard sign in – "Wrong passcode" indicator"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

The "Wrong passcode" indicator should be displayed for 2.2 seconds and disappear (to be replaced with the number of attempts indicator https://github.com/status-im/status-react/issues/9285), as well as the red background of the dots below it.

When the error appears **the device should vibrate** if possible.

Th

[2019-10-29 09:53] guylouis opened #9313 "Keycard sign in – When there is only one key, there's no "<" neither "Cancel""
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

When there's only one key, there should be no "<" neither "Cancel" on the first step of the keycard sign in. The "<" button should be present on the step 2 thought, to let users re-enter the passcode or just come back for whatever reason.

Image:

<img width="1627" alt="back" src="https://user-images.githubuserc

[2019-10-29 09:54] guylouis opened #9314 "Keycard sign in – When there is more than one key, "Cancel" should be replaced by a "back" icon on Step 1"
Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)

[2019-10-29 09:55] guylouis opened #9315 "Keycard sign in – Layout fixes and support of small screens"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`
There are several layout issues on the sign in screens:

**General comment:**
_Please take all the values (margins, heights, width from Figma. If something seems wrong or inconsistent, please, leave a comment in Figma or here)_

**Step 1.**
- The "Access key" button should be in a footer with a 1px top border. Th

[2019-10-29 09:56] guylouis opened #9316 "Keycard sign in – Review of card errors depending on their state"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

There are three error situations design at the moment:
- Brand new card tapped while trying to sign in;
- Wrong card tapped while trying to sign in;
- Unpaired card tapped while trying to sign in (not a very common use-case);

Those situations should be reviewed as well as the designs.

Images:
<img width="1293"

[2019-10-29 10:00] guylouis commented on #9307
can't it be linked with #9062 ?
I'd cc @dmitryn

[2019-10-29 10:25] rachelhamlin commented on #9268
@churik to understand the situation - this was on a simple log-in attempt? 😱

[2019-10-29 10:28] churik commented on #9268
@rachelhamlin
yes. login > Access key > Enter Seed phrase > Back > try to login: error

[2019-10-29 10:35] yenda opened #9317 "Contacts are not syncing between devices"
# Bug Report

## Problem

When testing develop as of 29/10/2019 contacts are not syncing in the following scenario:
- create account on iOS device
- recover account on Android device
- pair both device, sync all
- send 1-1 message to the account from another device
- add contact on Android device
- contact is not synced
- sync all on both devices
- contact is still not synced

[2019-10-29 10:38] guylouis opened #9318 "Onboarding with Keycard – "Select key storage" screen copy"
Part of #9274 Epic: Onboarding with keycard

in "Select key storage" the copy does not adress user's possible questions
- why should make a choice
- what difference the choice makes
- what is a seed phrase (we mention it here, we probably should not) ?
next: define new copy

[2019-10-29 10:39] guylouis opened #9319 "Onboarding with Keycard – "Store your key on Keycard" screen"
Part of #9274 Epic: Onboarding with keycard

Wrong layout in  "Store your key on Keycard"
Onboarding -> Store your key on Keycard
- 1, 2, 3 Layout is wrong;
- “Begin setup” should be inside a block and overlap the potentially scrollable list;

[2019-10-29 10:40] guylouis opened #9320 "(keycard onboarding) Wrong layout in "Hold card to the back of your phone to start" screen"
Part of #9274 Epic: Onboarding with keycard

Wrong layout in "Hold card to the back of your phone to start" screen
image is too small + line brakes are strange

[2019-10-29 10:41] guylouis opened #9321 "(keycard onboarding) Copy in "Hold card to the back of your phone to start" screen"
Part of #9274 Epic: Onboarding with keycard

Copy  in "Hold card to the back of your phone to start" screen
"And maintain card to phone contact during setup" should be deleted

[2019-10-29 10:42] guylouis opened #9322 "(keycard onboarding) connection error when removing card"
Part of #9274 Epic: Onboarding with keycard

connection error when removing card (and it happens a lot since nfc connection is unstable)
when removing card, and putting it up again -> we have an infinite spinner and we should just hide the pop-up and continue the process

[2019-10-29 10:44] guylouis opened #9323 "(keycard onboarding) layout of the passcode definition screen is wrong"
Part of #9274 Epic: Onboarding with keycard

layout of the passcode definition screen is wrong
- when error is shown "pass code does not match" it should disappear after 5 s.
- circles are not changing colors when pressed
- on confirm screen there is no back button
- last 6th little circle for digits does not turn blue when typed

[2019-10-29 10:45] guylouis opened #9324 "Onboarding with Keycard – Copy: Write codes down and store them securely screen"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

Some minor changes to be made for the sake of consistency:
- It should be `pairing code` instead of `pair code`
- It should be `your key` instead of `Status multiaccount`

[2019-10-29 10:46] guylouis opened #9325 "Onboarding with Keycard – Copy: Backup your seed phrase screen"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

Some minor changes to be made for the sake of consistency:
- Remove `“”` from `“Seed”`
- Remove `Learn more` (since we don't have good information material to show)

[2019-10-29 10:47] Serhy commented on #9307
This issue is a bit different from #9062 but likely touches the same module.
I'd keep this one open and if we fix it along with #9062 it will be great!

[2019-10-29 10:48] guylouis opened #9326 "(keycard onboarding) text size in confirming seed words is wrong: the letters are cut"
Part of #9274 Epic: Onboarding with keycard

text size in confirming seed words is wrong: the letters are cut

[2019-10-29 10:50] guylouis opened #9327 "(keycard onboarding) in confirming seed words if a wrong word in input then keyboard disappears : it should not"
Part of #9274 Epic: Onboarding with keycard

in confirming seed words: if a wrong word in input then
- keyboard disappears : it should not (because then user its 'back' and still does not have a keyboard'

[2019-10-29 10:51] guylouis opened #9328 "(keycard onboarding) error message when typing a 'wrong word' in seed verification is not according to design"
Part of #9274 Epic: Onboarding with keycard

 error message when typing a 'wrong word' in seed verification  is not according to design

[2019-10-29 10:52] guylouis opened #9329 "Onboarding with Keycard – Review cancelation in onboarding flow"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

When canceling the onboarding flow a pop-up is shown saying 'Dangerous operation'. Should be reviewed and only popped up as a dangerous operation at places where there is a danger. In other places let's show a generic popup. Suggested copy:

[code]

If changed, please review https://github.com/status-im/

[2019-10-29 10:57] guylouis opened #9330 "(access a key with keycard) "Recover a key stored on keycard" screen layout and copy"
Part of #9277 : Epic for accessing a key with keycard

"Recover a key stored on keycard" screen layout and copy
"Begin recovery" copy should be "Get started"
Content of the button should be centered

[2019-10-29 10:59] guylouis opened #9331 "(access key with keycard) "There's nothing to recover here" screen when user taps the card"
Part of #9277 : Epic for accessing a key with keycard

"There's nothing to recover here" screen when user taps the card
- copy issue :  "There's nothing to recover here" -> should be "There is no key on this card"
- remove "generate a new key" button to make things simpler for the user

[2019-10-29 11:00] guylouis opened #9332 "(access key with keycard) If user cancel the process art any stage, he gets a pop-up saying: "Dangerous operation"."
Part of #9277 : Epic for accessing a key with keycard

If user cancel the process art any stage, he gets a pop-up saying: "Dangerous operation". This has sense in the onboarding flows but not in the 'access' flow since the card is already intialized and there is no danger :)

[2019-10-29 11:02] guylouis opened #9333 "(access key with keycard) Entering pairing code is wrongly formatted (user can't read the text)"
Part of #9277 : Epic for accessing a key with keycard

Entering pairing code is wrongly formatted (user can't read the text)

[2019-10-29 11:02] guylouis opened #9334 "Access key with Keycard – Bug after entering the pairing code"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

After entering the pairing code, when user types enter, an error message (connection lost) is shown, where what we should have is an indication to tap the card.

Image:
<img width="1000" alt="Screen Shot 2019-11-04 at 14 56 41" src="https://user-images.githubusercontent.com/3115606/68103919-afc69780-ff

[2019-10-29 11:04] guylouis opened #9335 "(access key with keycard) if pairing code is wrong then the message is "invalid pairing password", should be changed"
Part of #9277 : Epic for accessing a key with keycard

if pairing code is wrong then the message is "invalid pairing password", should be changed to "wrong code". See figma.
And this wrong pairing code should stay on the screen to be edited, there's no need to delete
Sometimes this error message is shown even if no pairing code has been entered (example when cancelling the access, and starting aga

[2019-10-29 11:05] guylouis opened #9336 "(access key with keycard) "Enter your 6-digit passcode" should be "Enter your passcode""
Part of #9277 : Epic for accessing a key with keycard

"Enter your 6-digit passcode" should be "Enter your passcode"

[2019-10-29 11:06] guylouis opened #9337 "Access key with Keycard – copy of current "Recovery key..." screen is not ok"
Part of #9277 : Epic for accessing a key with keycard

current "Recovery key..." screen : copy
- "Recovery key..."  should be changed to "Processing ..."
- "This will take a few seconds" should b changed to "

[2019-10-29 13:38] Serhy commented on #9307
With @rachelhamlin 's help found there is a separate issue https://github.com/status-im/status-react/issues/9050 which dealing with seed phrase words outside of the BIP29 list which may fix this issue as well.
Keeping this issue open until #9050 is addressed.

[2019-10-29 13:44] rachelhamlin commented on #9108
Okay, here's an excellent summary of the tradeoffs written by Eric:

**In-chat "request" option (#1 in notes)**
- less convenient (need to request funds or share/request sharing address first)
- medium privacy (can't infer wallet from address, wallet address is revealed to users when the user decides to in order to transact)
- high security (the wallet accounts are not in memory unlike chat key)

[2019-10-29 13:47] churik commented on #8837
It is reproducible on IOS 13.0.
Please, prioritize it again @rachelhamlin

[2019-10-29 13:51] StatusSceptre commented on #8837
Ick okay, thank you for checking @churik!

[2019-10-29 14:04] #8555 closed, assigned to nobody

[2019-10-29 14:04] #8742 closed, assigned to nobody

[2019-10-29 14:04] #9136 closed, assigned to nobody

[2019-10-29 14:04] #7438 closed, assigned to nobody

[2019-10-29 14:04] #8216 closed, assigned to nobody

[2019-10-29 14:04] #8217 closed, assigned to nobody

[2019-10-29 14:04] #8550 closed, assigned to nobody

[2019-10-29 14:04] #8554 closed, assigned to nobody

[2019-10-29 14:07] #8784 closed, assigned to nobody

[2019-10-29 14:32] errorists commented on #9108
@rachelhamlin for sending, would the user need to first invoke `/send` -> this pings the other dude with a request to obtain his address -> and then once that is given, he needs to invoke the `/send` command the second time, this time typing in the asset and amount?

[2019-10-29 14:38] jakubgs commented on #8512
Thanks to work by Eric in https://github.com/status-im/status-react/pull/9308 Firebase has been removed from `status-react` so I can return to working on this in the nearby future.

[2019-10-29 15:02] errorists commented on #9108
in the meantime, designs are 👉 [here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=6608%3A30316) 👈
I assumed `yes` to the question above

[2019-10-29 15:03] rachelhamlin commented on #9108
The user needs a means to follow through on the transaction, but it doesn’t
have to mean invoking ‘/send’ again, unless we want it to.

On Tue, Oct 29, 2019 at 2:32 PM Maciej Zadykowicz <notifications@github.com>
wrote:

[2019-10-29 15:18] oskarth commented on #9108
What's the issue with sharing basic hot wallet when you add someone as contact? This can be swappable in later editions, and also be toggled as something to enable or not.

This to me would be the KISS user story, where a new user can add e.g. ambassador as contact and then ambassador can surprise them with some amount of funds.

How would this work exactly? Then the public keys wouldn't match so

[2019-10-29 15:40] yenda commented on #9108
What are you calling a hot wallet here? so far in this discussion when we talk about hot wallet we are talking about the wallet address that can be derived from the public key of the chat account, the same wallet you had in pre-v1, whose private key is loaded in memory.

How does what work? "the recipient can share the proof and you can' deny it" means the recipient can reveal to someone else that

[2019-10-29 15:48] yenda commented on #9108
Also regarding sharing the address in the contact request that is
definitely another option. It definitely simplifies the flow. It was
initially discarded for privacy reasons but as discussed yesterday since
there is trade-offs to be made anyway I would be fine with it. The
information should be conveyed to the user that this is shared with the
contact, it could be a label in the account screen.

[2019-10-29 17:06] rachelhamlin commented on #9108
@oskarth you don't have a problem with the privacy/security of a hot wallet for chat contacts? e.g. that users will probably transfer funds from that wallet into one other, blowing the privacy benefits? Or perhaps even leave funds there interminably?

[2019-10-30 03:50] andmironov opened #9341 "Keycard sign in – Active state of pin pad buttons"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

The pin pad numbers should have an active state when pressed

[code]

The transition between those states:

[code]

Video:
<img width="375" alt="ыскуут" src="https://user-images.githubusercontent.com/3115606/68083697-c236c780-fe66-11e9-818b-05f9e5815226.gif">

Image:

<img width="938" alt="Screen Shot 2019-11-04

[2019-10-30 06:15] oskarth commented on #9108
Either that or just any arbitrary hot wallet supported by multiaccount key structure. Ideally these can be rotated/compartmentalized to make funds fungible in a certain context (e.g. kudos hot wallet vs other wallets), but that's a later iteration.

I'm not convinced by this threat model, given that (a) It is with a trusted contact (b) you can choose to send it with your profile or not (share hot

[2019-10-30 06:26] yenda commented on #9108
I like the idea of marking the coins, in the account model wouldn't it be
every easier as you'd mark addresses from anonymous to spoiled?

On Wed, Oct 30, 2019, 07:15 Oskar Thorén <notifications@github.com> wrote:

[2019-10-30 06:59] errorists commented on #9108
I don't like this contacts approach that much If I'm honest, it adds another layer of complexity for users to keep track of, with which contacts you shared what, also further muddling the meaning of a contact.
What if I don't want to be contacts with someone but plan on transacting in chat? Once you add someone as a contact, how can you share or change your address, should you remove them from con

[2019-10-30 08:07] andmironov opened #9342 "Keycard sign in – Error message copy needs to be changed"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

If the user enters a wrong pin Status says “6 digit passcode does not match”. It should be replaced with "Wrong passcode"

[2019-10-30 08:07] #9281 closed, assigned to nobody

[2019-10-30 08:09] andmironov opened #9344 "Keycard sign in – "Access key" copy, layout and behavior"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

On the sign in screen:
- For  accessing key, the button label copy should be "Access key" whereas its "Recover key" currently;
- The "Access key" button should be in a footer with a 1px top border. This footer should stick to the bottom regardless of the size of the device screen;
- Tap on "Access key" should op

[2019-10-30 08:10] #9282 closed, assigned to nobody

[2019-10-30 08:10] andmironov opened #9345 "Keycard sign in – "More" button behavior is wrong + breadcrumbs must be dropped"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

1. On the sign in screen, the **"..."** in the top right corner should open a drop-down with one item only "Get a new key"

Image:
<img width="800" alt="get-a-new-key" src="https://user-images.githubusercontent.com/3115606/67676898-8e1e5b00-f9bd-11e9-89e1-6a6d44e1c1a0.png">

Figma:
https://www.figma.com/file/dEI

[2019-10-30 08:11] #9283 closed, assigned to nobody

[2019-10-30 08:11] andmironov opened #9346 "Keycard sign in – Replace ... characters in address with the horizontal ellipsis special character"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

Instead of three dots, in "0x8ueq...8ujj" to follow the designs, the character used in the implementation should be the **Horizontal Ellipsis**

HTML Entity:
- `&#8230;`
- `&#x2026;`
- `&mldr;`

More options:
https://www.compart.com/en/unicode/U+2026

[2019-10-30 08:11] #9284 closed, assigned to nobody

[2019-10-30 08:13] andmironov opened #9347 "Keycard sign in – Show the number of passcode wrong attempts"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

We should display the number of attempts if it's less than three to warn the user. The number of attempts **should be displayed after the "Wrong passcode" message** flashes, not overlap it. A video of how it should work is below.

Please notice that the "2 wrong attempts" error is fired **200ms after** the "Wron

[2019-10-30 08:13] #9285 closed, assigned to nobody

[2019-10-30 08:14] andmironov opened #9348 "Keycard sign in – Frozen keys"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

After 3 wrong passcode entry attempts, the key the user is trying to access should become "Frozen" which means that the user can no longer access it just with their passcode. To access a frozen key the user has to use either the pairing and PUK codes or the seed phrase.

When the key is "Frozen" it is still list

[2019-10-30 08:14] andmironov opened #9349 "Keycard sign in – "Wrong passcode" indicator"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

The "Wrong passcode" indicator should be displayed for 2.2 seconds and disappear (to be replaced with the number of attempts indicator https://github.com/status-im/status-react/issues/9285), as well as the red background of the dots below it.

When the error appears **the device should vibrate** if possible.

Th

[2019-10-30 08:15] #9312 closed, assigned to nobody

[2019-10-30 08:15] #9311 closed, assigned to nobody

[2019-10-30 08:16] #9313 closed, assigned to nobody

[2019-10-30 08:16] andmironov opened #9350 "Replace "Cancel" with "<" and remove extra screen if only one key"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

There is currently a `Cancel` button in the sign in flow. This should be replaced with a `<`.

When there's only one key, the `<` button should be present from step 2 onward, so users re-enter the passcode or just come back for whatever reason.

Image:

<img width="1627" alt="back" src="https://user-images.githu

[2019-10-30 08:17] andmironov opened #9351 "Keycard sign in – When there is more than one key, "Cancel" should be replaced by a "back" icon on Step 1"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

[2019-10-30 08:18] #9351 closed, assigned to nobody

[2019-10-30 08:20] #9314 closed, assigned to nobody

[2019-10-30 08:21] andmironov opened #9352 "Keycard sign in – When there is more than one key, "Cancel" should be replaced by a "back" icon on Step 1"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

See https://github.com/status-im/status-react/issues/9350 for reference

[2019-10-30 08:21] #9315 closed, assigned to nobody

[2019-10-30 08:22] andmironov opened #9353 "Keycard sign in – Layout fixes and support of small screens"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_

There are several layout issues on the sign in screens:

**General comment:**
_Please take all the values (margins, heights, width from Figma. If something seems wrong or inconsistent, please, leave a comment in Figma or here)_

**Step 1.**
- The "Access key" button should be in a footer with a 1px top border. T

[2019-10-30 08:38] oskarth commented on #9108
It doesn't have to be tightly coupled with contacts, just as a standard user expectation (If I know you I can give money to you).

You can still share wallet with them, either with request or specific share-wallet command.

You do an update action, it can happen automatically. Just like with profile pics.

The can be given a popup "allow contact to send money to my <hot wallet>" where they can sel

[2019-10-30 08:58] andmironov opened #9354 "Keycard sign in – Don't ask for the Keycard all the time to sign in"
_Part of #9264 keycard sign in epic (mark as checked there, when closing this issue)_
_Replacing https://github.com/status-im/status-react/issues/8180 with this new issue_

The user should be able to choose not to be asked for the Keycard to sign in all the time. This should be done using the same way currently "Save password" feature works, for non-keycard keys in Status.

- The should be a check

[2019-10-30 09:00] andmironov commented on #8180
New issue for this https://github.com/status-im/status-react/issues/9354

[2019-10-30 09:01] #9266 closed, assigned to nobody

[2019-10-30 09:22] andmironov commented on #9266
Replaced by https://github.com/status-im/status-react/issues/9354

[2019-10-30 09:23] #8180 closed, assigned to nobody

[2019-10-30 09:32] andmironov opened #9355 "Onboarding with Keycard – "Select key storage" screen copy"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

There are two pieces of copy that might be better: The subtitle and the "About key storage" section.

**The problems I see in the subtitle:**

* `Your key is stored locally` – Is that correct when it comes to Keycard;
– `There is no copy` – Why should there be? Is that addressing something the user wants

[2019-10-30 09:58] rachelhamlin commented on #9108
So I'm not convinced this idea is simpler than the request flow.

- Users need to have proper expectations set around what it means to add a contact. The send/request flows make the exposure explicit.
- It may include an additional step in the contact flow anyway (e.g. "Share hot wallet with this person?") - how is it better to do this out of context? It makes more sense to share my wallet with so

[2019-10-30 10:01] #9319 closed, assigned to nobody

[2019-10-30 10:01] andmironov opened #9356 "Onboarding with Keycard – "Store your key on Keycard" screen"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

- The layout and styles should be the same as in Figma;
- The "Begin setup" button should be in a footer with a 1px top border. This footer should stick to the bottom regardless of the size of the device screen;
- The layout of the numbered list and footer should change on devices with small screens foll

[2019-10-30 10:22] rachelhamlin commented on #8845
So for a quick improvement here, what if we:

Reduce the number of #Status-[language] channels. We could show only the alt Status channel that matches the language of the user's device.

Additionally make the list a little more interesting, and match the new [welcome screen](https://github.com/status-im/status-react/issues/8135):
- #introductions
- #chitchat
- #status
- #status-[device language if

[2019-10-30 10:29] rachelhamlin commented on #9037
Reviewing this issue again and I'm no longer thinking that it's strictly required for v1. I'm happy to finish the WIP PR, but want to comment that some of the open issues in [keycard](https://github.com/status-im/status-react/issues/8135) are probably more urgent to fix for launch.

[2019-10-30 11:02] 3esmit opened #9357 "ENS name is not resolved when scanned from QRCode"
# Bug Report

After fixing #9238, it was noted that it caused this other bug.

## Problem

QRcode scanner uses EIP681 to read transaction requests. the specification allows ENS names to be used in this format, which was not happening. #9238 fixed it but the transaction screen still not resolving the ENS name, even if displaying it.

#### Expected behavior

This qr code scanned
`ethereum:pay-snt.th

[2019-10-30 11:11] rachelhamlin commented on #8897
@siphiuel will we run into trouble when we submit v1 with UIWebView included?

[2019-10-30 11:20] churik opened #9358 "Crash at signing transaction"
# Bug Report

## Problem

In some cases Status may crash during signing transaction.
I can't say in what cases it is possible scenario for real users cc @rachelhamlin

#### Expected behavior
no crash

#### Actual behavior
Status crashed

#### Notes
First time I see this error is 30/10/2019 on current nightly, couldn't reproduce manually. Caught by e2e in nightly.

### Reproduction

- Open Status
-

[2019-10-30 11:20] rachelhamlin commented on #9159
Wait @hesterbruikman, what do you mean that only nightlies allow creating multiple accounts?

On v1, all users will be able to create multiple multi-accounts, unless I missed something.

Though there seems to be very low incentive to do so.

@gravityblast could you share some sense of an estimate here? How big of an effort would it be to check account balances using the Go API, is it mainly work t

[2019-10-30 11:22] rachelhamlin commented on #8935
Yup, think so, thanks @churik

[2019-10-30 11:22] #8935 closed, assigned to nobody

[2019-10-30 11:26] hesterbruikman commented on #9159
I meant allowed up until now. I would reasonably expect a very limited number of users to have had the chance to create multiple accounts up to this point. That makes this still an issue in V1, but not critical for a transition to V1.

[2019-10-30 11:28] acolytec3 commented on #9235
@rachelhamlin just applied for this one. Can I pick it up?

[2019-10-30 11:47] rachelhamlin commented on #7197
Hey @iamserver - apologies for my delay, I missed that you applied, but you're approved to start work if you're still interested.

[2019-10-30 11:48] flexsurfer opened #9359 "Hardware back button doesn't work on Android"
# Bug Report

## Problem

Android hardware back button does nothing when used on any view.

![213123123](https://user-images.githubusercontent.com/8749671/68214487-364ba980-ffe6-11e9-9d99-a03cc4bacdcd.gif)

#### Expected behaviour

Hardware back button returns to previous view used. If tapped when on `Chats` view then Status put on background.

[2019-10-30 11:49] flexsurfer opened #9360 "Dapp's permission form doesn't fit in the bottom sheet"
# Bug Report

## Problem

Dapp's permission form doesn't fit in the bottom sheet
![image](https://user-images.githubusercontent.com/11790366/67855868-9be5f480-fb13-11e9-97b9-f43c07b0a3fb.png)

[2019-10-30 12:12] j-zerah commented on #8845
This looks ok to me.

#status - seems a bit vague and I wouldn't necessarily know what is expected in that channel as a newcomer. It does imply that the Status team should be there which is good so im cool with it. The only other thing we could call it is #support

Also - often times we get questions from developers asking where they can get in touch with our dev team for questions and support. Do

[2019-10-30 12:13] churik opened #9361 "Balance is not updated after sending / receiving transaction and sometimes no transaction is shown in transaction history (for new accounts)"
# Bug Report

## Problem
The balance on multi-account and individual account view is not updated after sending or receiving transaction until relogin.
Reproduced only on IOS 13.
UPD: it is not only IOS issue. Has been noticed with Androids too.

#### Expected behavior
Balance is updated

#### Actual behavior
Balance is not updated

### Reproduction

[comment]: # (Describe how we can replicate the

[2019-10-30 12:13] churik commented on #9361
cc @rachelhamlin - `v1 release` scope from my POV

[2019-10-30 12:48] aahutsal commented on #8818
Looks like it's fixed now - I can login to gitcoin. Finishing and will update with PR soon.
Sorry for few days delay, @StatusSceptre

[2019-10-30 13:15] StatusSceptre commented on #8818
No problem @agutsal. We'll be on the lookout for your PR.

[2019-10-30 13:25] rachelhamlin commented on #8845
`#status - seems a bit vague and I wouldn't necessarily know what is expected in that channel as a newcomer.`

Agreed. I like the idea of a #support channel, as that's much more clearcut.

The purpose of #status is even more vague in that case. Today it's effectively our small talk or chitchat channel. I like giving people a dedicated space to talk about the project though.

I would actually sugge

[2019-10-30 13:40] rachelhamlin commented on #8717
Hmm, in your most recent suggestion, 1 and 2 are still speaking to the same benefit @hesterbruikman. Why not call out the fact that it can also be used as a wallet address?

1. Customize your display name
An ENS name can replace your random 3-word name in chat. Be @yourname instead of Breezy Tall Elephant.

2. Simplify your ETH address
You can receive funds to your easy-to-share ENS name rather th

[2019-10-30 14:14] #8877 closed, assigned to StatusSceptre

[2019-10-30 14:17] #8738 closed, assigned to nobody

[2019-10-30 14:17] #9173 closed, assigned to nobody

[2019-10-30 14:17] #9233 closed, assigned to nobody

[2019-10-30 16:07] vitvly commented on #8897
@rachelhamlin I don't think so, this is only a deprecation warning. As Apple hasn't yet provided an exact deadline when they will actually start rejecting apps with UIWebView, we should be safe for now. Once Apple provides the deadline, I think there will still be a fair amount of time (> 1 month) before it comes into effect.

[2019-10-30 16:29] rachelhamlin commented on #8897
Great :) that's good to hear. Thanks @siphiuel.

[2019-10-30 16:42] churik commented on #9361
UPD: seems it is not only IOS issue.
The same issue is reproducing on Android sometimes (testing only on new accounts).
Steps:
- create account
- request ETHro and STT from faucet
- send some STT to another account

So:
1) balance is not updated during > 10 mins
2) no transactions fetched.

Reproduced ~5 time in a row.
Example of transaction (Ropsten): 0xd28cdefa3e742f639233629b663662ce540f665d039

[2019-10-30 17:16] andremedeiros commented on #9108
We've written up an RFC [here](https://github.com/status-im/team-core/issues/5).

[2019-10-31 04:46] andmironov opened #9364 "Onboarding with Keycard – Hold card to the back of your phone screen"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

This screen, as well as any other card-to-phone interaction screen, needs to be revisited, after testing it on several devices.

Here's https://github.com/status-im/status-react/issues/9365 a proposal of how this screen should behave and handle all the possible states.

[2019-10-31 05:16] andmironov opened #9365 "Keycard -> Device interaction flow"
**What's the problem?**
The way the flow has been designed does not take into account several edge-cases, which were discovered after testing it.
- The connection with the Keycard often is pretty had to establish (due to the fact that NFC readers are weak on many devices) and easy to interrupt;
- Sometimes after a successful connection, it might take up to 15 sec to process the data transfer, whic

[2019-10-31 05:16] #9276 closed, assigned to nobody

[2019-10-31 05:17] oskarth commented on #9108
Thanks! Right now this issue is quite muddled and I think we have strayed off the initial problem description quite a lot. The linked RFC body text has a lot more clarity on the actual problem, trade-offs and proposed solution. I suggest we close this issue and re-open with somethig more targeted towards the proposal (assuming there's consensus on it).

[2019-10-31 05:24] #9320 closed, assigned to nobody

[2019-10-31 05:35] andmironov opened #9366 "Onboarding with Keycard – Copy: Hold card to the back of your phone screen"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

Copy of all the screens which require a card interaction should be changed. Also, the loading spinners should be removed from the top of the screen, since the states should be handled according to https://github.com/status-im/status-react/issues/9365

<img width="1388" alt="Screen Shot 2019-10-31 at 13 4

[2019-10-31 05:35] #9321 closed, assigned to nobody

[2019-10-31 05:41] andmironov opened #9367 "Onboarding with Keycard – Connection error when removing card"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

Errors should be handled according to https://github.com/status-im/status-react/issues/9365
The copy and the layout of the popup and the "Are you sure" prompt should be changed to be more generic and less context-specific.

Also, currently if the connection is re-established there's an infinite spinner b

[2019-10-31 05:56] #9322 closed, assigned to nobody

[2019-10-31 06:13] andmironov opened #9368 "Onboarding with Keycard – Enter and confirm passcode screens"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

**Copy**
- Headers should be changed to `Create a passcode` and `Confirm the passcode`;
- At the bottom of both screens, the copy is changed to `You'll need the passcode to open Status and sign transactions`;

**Navigation and errors**
- On the `Create a passcode` screen there should be a 'Cancel' button

[2019-10-31 06:15] flexsurfer commented on #8709
PN have been removed for v1

[2019-10-31 06:15] #8709 closed, assigned to nobody

[2019-10-31 06:19] flexsurfer commented on #8401
v1 will be incompatible with v13

[2019-10-31 06:19] #8401 closed, assigned to nobody

[2019-10-31 06:55] iAmServer commented on #7197
Am in

[2019-10-31 07:54] #9323 closed, assigned to nobody

[2019-10-31 08:03] andmironov commented on #9224
@rachelhamlin check out the issues in https://github.com/status-im/status-react/issues/9264, all updated and cleaned up, some new issues added after review. Also this is part of many others https://github.com/status-im/status-react/issues/9365

[2019-10-31 09:13] churik commented on #9361
More logs / video for no transaction in history: https://app.saucelabs.com/tests/305bd602fd1b46f1ac53adc2af11294b?auth=241e576dcd6e709499b2898335a9aad6#96

[2019-10-31 09:27] #9108 closed, assigned to nobody

[2019-10-31 09:47] andmironov opened #9370 "Onboarding with Keycard – Confirm the seed phrase screen"
_Part of #9274 onboarding with Keycard epic (mark as checked there, when closing this issue)_

- Suggesting new copy to help address the possible question the user might have:

[code]

- Is it okay that it's possible to go back and see the seed phrase again? If not, it should be "Cancel" instead of the "back" icon;
- The layout should be fixed according to Figma. The word is vertically and horizon

[2019-10-31 09:48] #9327 closed, assigned to nobody

[2019-10-31 09:48] rachelhamlin opened #9371 "New /send and /request flows to facilitate seamless token transfer"
### User Story

As a member of the Status community team, I need an easy means of distributing SNT to new users when the product launches.

As a user of Status, I want to seamlessly exchange funds with others without sacrificing my privacy.

### Description

*Summary*: As a result of [this RFC](https://github.com/status-im/team-core/issues/5) and the discussion in #9108, we've decided to support t

[2019-10-31 09:49] #9326 closed, assigned to nobody

[2019-10-31 09:49] #9328 closed, assigned to nobody

[2019-10-31 11:43] zoek1 commented on #7633
I'm still working on this, i just need click the stop button at the issue to submit other work. I'll post my updates between today and tomorrow.

[2019-10-31 12:44] Serhy opened #9372 "Message sent to user who is offline not received when he appears back online"
# Bug Report

## Problem
No messages sent in 1-1 chat are received by recipient who appears online after being offline when messages were sent.
I **can't reproduce it with real devices** but it started to constantly fail with e2e using emulators.

#### Expected behavior
Message sent to contact who is offline is received when contact appears online
#### Actual behavior
Message sent to contact who i

[2019-10-31 14:03] 3esmit commented on #9371
Would be nice if the `/request` command generates a [EIP681](https://eips.ethereum.org/EIPS/eip-681) link.

I see that this is might not be so simple because all the implications that EIP681 brings, however the rendering of request box could be limited to ERC20 and ETH transfers.
In future a better support for any type of request box using EIP681 would be implemented.

So sending a message with th

[2019-10-31 14:37] cammellos commented on #9216
cc @rachelhamlin

[2019-11-01 00:13] alexjg commented on #8443
@gitcoinbot Yup still going. Pushing hard to get a PR in before the weekend.

[2019-11-01 09:29] cammellos commented on #9372
Will take a look at this

[2019-11-01 09:42] StatusSceptre commented on #9280
@yenda @cammellos can one of you point @ryanschneider to the relevant code?

[2019-11-01 09:46] rachelhamlin commented on #9203
@yenda do you have any thoughts on how we could improve this one?

Step 1 - show newest transactions first/only (until when is 'new'?)
Step 2 - ?

[2019-11-01 10:16] ScyDev commented on #5242
@gitcoinbot Yes. I'll work on it in the coming weeks. Can this reminder be set to 1 week or so?

[2019-11-01 10:40] yenda commented on #9280
@ryanschneider I think this is happening here: https://github.com/status-im/status-go/blob/develop/services/wallet/downloader.go#L242

[2019-11-01 10:43] yenda commented on #9203
@rachelhamlin I would say

- step 1 implement fetching transactions from etherscan (only the first 20 transactions)
- step 2 if on wifi or user starts scrolling, fetch more
- step 3 make sure fetching from infura can take over if etherscan is down

[2019-11-01 12:22] rachelhamlin commented on #7633
Sounds good @zoek1 - thanks for the update.

[2019-11-01 12:50] rachelhamlin commented on #9361
Great to see you back on the project @igetgames! I've approved you both here and on #8837.

[2019-11-01 13:12] rachelhamlin commented on #9235
Approved @acolytec3! Can we truncate to the maximum amount that fits the screen while still displaying the `Amount` and `Network Fee` text in full?

[2019-11-01 14:02] rasom commented on #9062
just to clarify, issues title states:

As far as I understand, there is no problem in ability to recover keycard's account as a regular account on device. Almost likely we want that account/phrase to be compatible with any other wallet/storage, so that shouldn't be a problem at all.

But we still have two problems with keycard's mnemonic:
1. The phrase which we show during keycard setup can not be

[2019-11-01 14:08] #9234 closed, assigned to nobody

[2019-11-01 14:34] rasom commented on #8750
@hesterbruikman @guylouis @dmitryn @corpetty

What if user forgot password or lost their card and still wants to use the app? I would suggest that we show an option to restore account but with removing all sensitive data (like chat history, contacts) if we consider that this data is sensitive. If user knows mnemonic they have control over acc anyway. **Prohibition of recovering here doesn't really

[2019-11-01 15:49] acolytec3 commented on #9235
@rachelhamlin Yep, I think there are probably a couple of ways to approach this one but need to experiment a little bit.  I've tried directly truncating the values for Amount and Network Fee but that yields the situation but the most straight forward method for doing so yields a fixed length decimal  (i.e. the two amounts are always X.XXXX ETH).  This would have the benefit of always having a guar

[2019-11-01 22:59] #4193 closed, assigned to nobody

[2019-11-03 12:00] 3esmit commented on #9357
@acolytec3 to make this work, after eip681.cljs passed the ens name, resolve it before inserting it on field, to mimic what happens when someone manually enter the ens name.

Note that in case of `ethereum:pay-snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16`, snt.thetoken.eth should find out the address and select proper token, and for the parameters with ens names (in this ca

[2019-11-03 12:17] acolytec3 commented on #9357
Yep, I hadn't accounted for additional address parameters needing resolution.  Right now it will only work for the main address being an ENS format since I'm just re-using the `set-recipient` method which assumes it only needs to resolve the "to" field from the transaction.  Will add that into the PR once I have time to think how to rework the `fill-request-from-qr` appropriately.

[2019-11-03 12:31] 3esmit opened #9380 "QRCode transaction don't detects default account balance"
# Bug Report

the following payment link `ethereum:0x3d597789ea16054a084ac84ce87f50df9198f415?value=1e15`
![image](https://user-images.githubusercontent.com/224810/68085122-02bd2380-fe1c-11e9-815b-54b2f0ccfc91.png)

Dont work, it scans and fills the transaction screen but it says no funds, even when there are funds.

## Problem

Probably caused by the change to multiaccounts.

#### Expected behavi

[2019-11-03 12:41] acolytec3 commented on #9357
@3esmit  Don't mind this.  PR isn't 100% done per our comments on other threads.  I just needed to clear out a space in my Gitcoin dashboard to allow me to apply for the other QR one.

[2019-11-03 12:41] 3esmit opened #9381 "Chat's QRCode scanner dont exits after scan"
# Bug Report

## Problem

When a qrcode is scanned it brings to result screen, but it is kept open in background, when tapping back it shows the camera open, however it wont work for scanning qr codes anymore.

#### Expected behavior

After scan it should close camera and scanner.

#### Actual behavior

After scan camera is kept open in background

### Reproduction

1. Open Status
2. Open QR code

[2019-11-03 12:59] 3esmit commented on #9380
@acolytec3  feel free to fix this in the same PR you are working with other QRcode stuff, as this issue is a blocker for properly testing #9240 or open a separate if you prefer.

[2019-11-04 01:12] alexjg commented on #8443
Quick update here. I'm working on getting the `refreshControl` property of the relevant `ScrollView`s set up in order to build the specced UI. I'm struggling a little to figure out how to pass a react component as a property to a reagent view, which I need to do to pass `RefreshControl` to the `refreshControl` property, but I'll figure it out.

In terms of events and applications state I'm thinkin

[2019-11-04 05:05] andmironov opened #9382 "Access key with Keycard – Recover a key stored on keycard screen"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

Copy updates:
- `Begin recovery` copy should be `Get started`;

Layout updates:
– Look for detailed layout specification in Figma;

Image:
<img width="829" alt="Screen Shot 2019-11-04 at 13 04 12" src="https://user-images.githubusercontent.com/3115606/68100574-b3522280-ff03-11e9-8592-0e3bb39167e4.png">

[2019-11-04 05:05] #9330 closed, assigned to nobody

[2019-11-04 05:09] andmironov opened #9383 "Access a key with Keycard – There is no key on this card"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

Copy updates:
- `There's nothing to recover here` copy should be `There is no key on this card`;

Layout updates:
- Remove "generate a new key" button to make things simpler for the user;

Image:
<img width="441" alt="Screen Shot 2019-11-04 at 13 07 58" src="https://user-images.githubusercontent.com/31

[2019-11-04 05:10] #9331 closed, assigned to nobody

[2019-11-04 05:24] andmironov opened #9384 "Access key with Keycard – Interaction with Keycard screens"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

All card-to-phone interaction screens need to be revisited, after testing the flow on several devices.

<img width="1375" alt="Screen Shot 2019-11-04 at 13 23 40" src="https://user-images.githubusercontent.com/3115606/68101005-5c018180-ff06-11e9-9248-c8ade1215122.png">

Here's #9365 a proposal of how t

[2019-11-04 05:50] andmironov opened #9385 "Access key with Keycard – "Cancel" button"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

Currently, if the user taps "Cancel" at any point of the "Access key with Keycard" flow, they get a "Dangerous operation" alert which is misleading.

Let's replace that with a generic "Are you sure to cancel?" prompt.
Suggested copy:

[code]
If changed, please review https://github.com/status-im/status

[2019-11-04 06:03] andmironov opened #9386 "Access key with Keycard – Enter your pairing code screen"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

Currently, the screen layout is implemented with several bugs.

- The error message should be shown according to Figma.
- In the current build, the "wrong passcode" error message is sometimes shown even if no pairing code has been entered (for instance, when canceling the process, and starting again);

[2019-11-04 06:03] #9333 closed, assigned to nobody

[2019-11-04 06:34] andmironov opened #9387 "Access key with Keycard – Success screen"
_Part of #9277 Access a key with Keycard epic (mark as checked there, when closing this issue)_

As an indicator of a successful flow, to make it more generic, let's replace the "Key has been successfully recovered" screen with the **Chats** with a popup.

Suggested copy:
[code]

Image:
<img width="434" alt="Screen Shot 2019-11-04 at 14 32 58" src="https://user-images.githubusercontent.com/3115606

[2019-11-04 06:49] andmironov opened #9388 "Access key with Keycard – Enter your passcode screen"
- The screen title should be `Enter your passcode`
- There should be an active state of the pin pad buttons according to https://github.com/status-im/status-react/issues/9341
- The "Wrong passcode" error message should appear according to https://github.com/status-im/status-react/issues/9349
- Add additional sub-heading to explain which code exactly are we asking for. Suggested copy: `Enter the pa

[2019-11-04 06:53] #9335 closed, assigned to nobody

[2019-11-04 07:00] #9337 closed, assigned to nobody

[2019-11-04 07:05] #9332 closed, assigned to nobody

[2019-11-04 07:05] #9336 closed, assigned to nobody

[2019-11-04 07:11] rasom opened #9389 "Transaction's amount is shown in exponential notation"
# Bug Report

#### Expected behavior

Transaction's amount and fee are shown as regular numbers

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior
Transaction's amount is shown in exponential notation.

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

### Reproduction

[comment]: # (Describe how we

[2019-11-04 07:11] cammellos commented on #6946
Closed via https://github.com/status-im/status-react/pull/9294

[2019-11-04 07:11] #6946 closed, assigned to cammellos

[2019-11-04 09:40] yenda commented on #9371
I agree with @3esmit on generating an EIP681 link, so I'll look into it for the completion of phase 1 as described in the RFC:

[code]

[2019-11-04 10:18] flexsurfer commented on #9062
@rachelhamlin @guylouis wdyt ?

[2019-11-04 13:28] guylouis commented on #9019
-deleted- sorry I mixed up  two issues

[2019-11-04 13:50] cammellos commented on #9275
Could we get a well formatted user story (as a user...) for this one please?

[2019-11-04 13:53] cammellos commented on #9260
Could we get a well formatted user story for this one (As a user? )? Not sure what the actual feature is, looks a bit more like a chore? (Does have any impact on the user? ). If it's a chore we should probably not estimate it, or if estimated, don't count it as velocity

[2019-11-04 13:55] cammellos commented on #9238
This might be a feature, as we never implemented it (not sure), if so, could we get a well formatted user story? (as a user ....)

[2019-11-04 13:56] cammellos commented on #9226
Could we add a well formed user story to the issue (as a user ... )?

[2019-11-04 14:06] vitvly commented on #9260
@cammellos it would enable running Dapps in Status's browser

[2019-11-04 14:07] vitvly commented on #9275
@cammellos added a sample scenario

[2019-11-04 14:09] cammellos commented on #9260
So, should we add something like:
As a user
I want to be able to run Dapps in Status browser
So I can use my favourite dapps
?

I thought this was already possible, what would be the difference with the current state of things?

[2019-11-04 14:13] vitvly commented on #9260
I've included a link to RFC for a project this task is part of: https://github.com/status-im/team-core/issues/4. Sorry, forgot to link it earlier.

[2019-11-04 14:14] cammellos commented on #9275
Just to make sure I understand, the feature is basically to allow user to sign a transaction/make a payment  without a pin?
Should we add something on the lines:

As a user
I want to be able to use my keycard without a pin
So making transaction is effortless

Does that capture the feature?

[2019-11-04 14:14] vitvly commented on #9260
We plan to migrate to another WebView library, so this particular feature will have to be re-implemented.

[2019-11-04 14:15] vitvly commented on #9275
@cammellos yes, perfect

[2019-11-04 14:18] cammellos commented on #9260
Ok, this looks to me like is a chore (we are swapping out a dependency), as if completed we will have feature parity with current app and no impact to the user (not saying it's no worth it, just figuring this out so we can properly estimate it)

[2019-11-04 14:20] vitvly commented on #9260
Correct, this is not going to introduce any new end-user functionality.

[2019-11-04 14:21] cammellos commented on #9260
cool, I will mark this as chore and update the spreadsheet, thanks!

[2019-11-04 14:24] vitvly commented on #9260
@cammellos thank you!

[2019-11-04 14:24] #9061 closed, assigned to nobody

[2019-11-04 14:25] yenda commented on #9290
So this issue is about replacing the regular view by a modal view @errorists ? If that is just that it should be ridiculously simple.

[2019-11-04 14:27] yenda commented on #9288
@cammellos we discussed using the number of connected peers for chats  the other day, if we base the connectivity status on that it could be less spotty don't you think?

[2019-11-04 14:30] yenda commented on #9275
/me runs out to buy a NFC blocker wallet for his keycard

[2019-11-04 14:30] guylouis commented on #8750
My suggestion on what we need now (v1) and a way forward:

**NOW (v1)** the goal is to limit at the maximum the amount of work, while preserving our principles
- we need to be able to remove a account from a keycard (it's a user right to control his secrets since he owns them, if he wants to delete it from this piece of hardware we have to allow him). I suggest that when the user does that, we rem

[2019-11-04 14:32] yenda commented on #9260
@cammellos it should be measured to verify but one of the original motivation was that it would improve initial load time of webviews

[2019-11-04 14:34] guylouis opened #9393 "A mnemonic generated while creating a Keycard multi-account is invalid with other wallets"
more details in this issue #9062 closed for better clarity

**Description**
When user generates a new keycard multiaccount, he 's been provided by status a 12 word mnemonic

**Problem**
This mnemonic cannot be used to recover the multiaccount with another wallet (e.g MEW), the mnemonic is said to be invalid

**Additional remark**
When trying to recover the same mnemonic on the device itself withou

[2019-11-04 14:35] guylouis commented on #9050
changed name of issue to "In recovery, we need to refuse any mnemonic with words out of our supported BIP-39 dictionaries" to distinguish it from newly created #9393

[2019-11-04 14:36] cammellos commented on #9288
It depends, we use that already for chat.
Currently we have:

Chat offline -> Chat is offline but the OS says we are online (peers count = 0)
Wallet offline -> Peer count > 0 but OS says we are offline
Offline -> Both chat and wallet are offline

Not sure we should be using peers count for Wallet, as the two things are not coupled, conversely, we should not be using OS online/offline for chat, as

[2019-11-04 14:36] guylouis commented on #9062
There were several problems yes !

#9231 should solve the issue of creating a keycard account based on a seed entered by the user. This was a typo issue in the code that you fixed. It seems there are device specific issues that prevent  losing it now.

#8750 tackles the issue of preventing to have  "two accounts with the same root key on a single device, one stored on keycard and another on device

[2019-11-04 14:37] guylouis commented on #8750
closing this one then

[2019-11-04 14:38] guylouis commented on #9062
closing this one, since tackled in the three issues listed above

[2019-11-04 14:38] #9062 closed, assigned to nobody

[2019-11-04 14:43] yenda commented on #9224
@churik @rachelhamlin @andmironov so is everything in the original issue still relevant and unique to this issue or can some of the scope be removed as already included in other issues?

[2019-11-04 15:48] jakubgs opened #9394 "Select mailservers based on ping"
### User Story

Currently the mailservers from the fleet are selected randomly, which results in me getting connected to the Hong Kong mailservers almost every time when I'm in Europe and should be getting the european ones.

### Description

This results in a really bad experience for users with slow sync times and bad latency.

### Acceptance Criteria

The simplest solution would be to just do a

[2019-11-04 15:55] jakubgs commented on #9394
I'm not sure where this should be implemented though, `status-go`, or `status-react`. My first guess would be `status-go`, but I'm actually not sure where the code that selects the mailserver lives.

[2019-11-04 16:09] jakubgs commented on #9394
Thanks to Eric I know where currently the selection code lives:
https://github.com/status-im/status-react/blob/02ce0782b1fc773a4ad2a18749426ee2863d17cc/src/status_im/mailserver/core.cljs#L70-L83

[2019-11-04 16:18] guylouis commented on #9275
:) we'll for sure deliver keycards in NFC blocker material, and might
provide a NFC blocker sleeve too

Le lun. 4 nov. 2019 à 15:30, yenda <notifications@github.com> a écrit :

[2019-11-04 18:21] adambabik commented on #9394
This would even leave in status-protocol-go, in a separate package probably. We have two issues there:
- https://github.com/status-im/status-protocol-go/issues/99
- https://github.com/status-im/status-protocol-go/issues/98

[2019-11-04 20:12] #9270 closed, assigned to nobody

[2019-11-05 02:35] acolytec3 commented on #9357
@3esmit @yenda  Follow-up question here.  When handling an ERC20 transfer, the flow of the logic is:
 `choose-recipient/fill-results-from-qr` -> `choose-recipient/extract-details` which then calls `eip681/parse-uri` - to identify the token based on the contract address passed.   I'm struggling to figure out how to take the result of that `parse-uri` which contains the address for the token contrac

[2019-11-05 05:20] #9268 closed, assigned to nobody

[2019-11-05 09:22] errorists commented on #9290
@yenda no it's not lol. I mean that too, and I'm happy it's ridiculously simple, that's good.

there's more to it

<img width="981" alt="Screenshot 2019-11-05 at 10 19 23" src="https://user-images.githubusercontent.com/4932774/68194699-c45b6c00-ffb5-11e9-9a36-8f776b253e2c.png">

- [ ] The list needs to use our list item component
- [ ] remove the dividers in the list
- [ ] fix the padding for list

[2019-11-05 10:51] cammellos commented on #9372
closed via #9392 9392

[2019-11-05 10:52] cammellos commented on #9216
closed via #9379

[2019-11-05 10:52] #9216 closed, assigned to cammellos

[2019-11-05 11:55] gravityblast commented on #9275
just to add a comment about the security of your wallets.
the payment scenario uses a different applet in the card, so it has a different key, which is completely separated from the one used for the hardware wallet scenario, the one where **the PIN is always needed** and only usable on a paired device.

[2019-11-05 12:23] 3esmit commented on #9238
@cammellos I dont think it's a new feature. QRCode scanning used to support EIP681 links but never fully implemented the spec. This issue is part of an effort of correctly and widely supporting EIP681. See #9183

[2019-11-05 12:41] churik commented on #9224
I'm not sure about priorities, for me this one sounds like `v1 release`, I'm not sure about other stuff.

[2019-11-05 13:02] rachelhamlin commented on #9224
Nice and granular. Thank you @guylouis @andmironov! I think we can close this one and replace it with #9264?

[2019-11-05 13:46] churik commented on #9224
@rachelhamlin #9264 will be in release scope?

[2019-11-05 14:15] rachelhamlin commented on #9224
@churik I think we should segment it into P0 and P1. Working on it. I think the need to remove breadcrumbs is also missing...

[2019-11-05 14:24] rachelhamlin commented on #9345
What does it do currently? Is it there?

[2019-11-05 14:27] rachelhamlin commented on #9347
What happens currently? No information displayed? What happens when the user runs out of attempts, is there an error message?

[2019-11-05 14:29] rachelhamlin commented on #9348
Was this speced for v1 @guylouis?

[2019-11-05 14:30] rachelhamlin commented on #9349
How is it working currently?

[2019-11-05 14:35] rachelhamlin commented on #9352
I'm including this one in #9350.

[2019-11-05 14:35] #9352 closed, assigned to nobody

[2019-11-05 14:43] rachelhamlin commented on #9264
@guylouis @churik @andmironov hey FYI,  I segmented these into P0, P1 and P2. Updated one of the issues to include the removal of the "Step 1 of 2" breadcrumbs.

I'm not sure if we've captured the lack of key on the sign in screen either?
![image](https://user-images.githubusercontent.com/15470435/68217478-91779f00-ffda-11e9-91e2-9ff987a1baf2.png)

[2019-11-05 15:28] Serhy opened #9400 "Different userpic (or no userpic at all) in public chat"
# Bug Report

## Problem

In public/group chats received messages are recognised like they were sent from single account:  userpics of previous contacts are 'replaced' by current latest message.

#### Expected behavior

Userpic corresponds to usermane and displayed next to each message apart the scenario of when two or more messages send by same user in public/group chats

#### Actual behavior

Us

[2019-11-05 15:49] churik commented on #9224
@rachelhamlin feel free to close this one after prioritizing https://github.com/status-im/status-react/issues/9264

[2019-11-06 05:52] rasom commented on #9203
@Serhy @yenda @flexsurfer

Yesterday I checked how it works on `status-go` side. It seems that there is some kind of binary search which happens on the interval from the first block until the current block. The algorithm checks if there's any change in balance value during that interval, if there was a change divides it into two intervals and checks balance change in these intervals, and so on, un

[2019-11-06 07:57] aahutsal commented on #8818
@gitcoinbot I've been busy fighting with:
a) Gitcoin login bug
b) Gitcoin opera wallet integration bug
c) setting up dockerized `status-react` development environment.

a) is fixed. b) would not fix that fast, but I'll use workaround c) hopefuly will finish today

Once after that I'll submit PR. Had to setup `status` clojure+nix dev environment as I belive there are more work on `status-react` rep

[2019-11-06 08:41] flexsurfer commented on #9203
@hesterbruikman @errorists @rachelhamlin i also think we shouldn't retrieve any history by default and have an option for ` for day, week, month and the rest of history` because we don't want to rely on etherscan, and transaction history from blockchain is too expensive operation, so for v1 i suggest to do not retrieve any tx history by default, and have options to retrieve for day, week and  mont

[2019-11-06 08:49] errorists commented on #9203
@flexsurfer I don't disagree but do you imagine that would be a manual fetch, so at first it's all empty right. you press a button to load last 10 items in history, as you start scrolling down you fetch backwards in batches of 10.

what I'm saying is, I don't fancy placing buttons there like we did for chat to fetch missing gaps in history, those suck

[2019-11-06 10:16] guylouis commented on #9206
@churik
hey Chu ! I am curious about what you think of the criticity of this one? if right PIN is entered, then everything is ok and if it's a wrong PIN the app needs to be killed right ?

[2019-11-06 10:18] churik commented on #9206
Yes, I believe it should be fixed - just to display validation error.
I think that it should be done in v1 scope.

[2019-11-06 10:46] guylouis commented on #9349
It just shows the error message (the copy needs to be changed see #9342 ) and is not removed after a delay, which is confusing to the user

[2019-11-06 10:48] churik commented on #9231
if card is initialized with a secret on it, ask the user to reset card
if card is initialized with no secret on it, ask for pin, and load secret

@guylouis I didn't catch the idea of it.

Now if I try to restore account from seed phrase (account was created with Keycard) with following steps:
1) create account with KeyCard
2) reinstall app
3) Access Key > Enter seed phrase
4) enter seed phrase > s

[2019-11-06 10:58] StatusSceptre commented on #8818
Just ping me if you'd like support solving any of the issues with item c today - thanks for the update @agutsal!

[2019-11-06 11:02] StatusSceptre commented on #8443
Hey @alexjg - do you need any help trouble shooting your build env?

[2019-11-06 11:08] guylouis commented on #9345
the more button is here, but it shows two entries "create a new key" and "add another key" which is confusing. There should be only one entry as defined by Andrei above

[2019-11-06 11:16] guylouis commented on #9348
" To access a frozen key the user has to use either the pairing and PUK codes or the seed phrase."

Well actually it's possible that user has two duplicates of the same card, so the frozen state is a qualification of the card and not of the account ....
So: I'd avoid greying out a keycard multiaccount

When a user tries to tap a card with a PIN, he should always be shown the following:
- if he's e

[2019-11-06 11:19] guylouis commented on #9354
this one is high priority from a user experience stand point, since login with keycard all the time is a irl pain !

[2019-11-06 11:20] guylouis commented on #9264
IRL not having  #9354 is a real pain, because it means taping your card and entering your pin fro every interaction you have with status app
It should probably be higher prio

[2019-11-06 11:31] rasom commented on #9203
Just tried to play with that `wallet_getTransfers` method and it seems that search through the whole history happens regardless of requests parameters. Request itself only returns data which already exists in database, and routine which scans history dispatches signals with found transactions. So we don't have any control on this on `status-react` side, and solution which I proposed will not work.

[2019-11-06 11:49] cammellos commented on #9400
I'll take this one, my doing likely

[2019-11-06 12:14] #9224 closed, assigned to nobody

[2019-11-06 12:50] hesterbruikman commented on #9361
Reproduced yesterday on nightly, Mainnet (0.14.0 (2019102802)) on Android Galaxy s10e. It easily took >30' before I could see the transaction. Could have solved by relogin, not 100% sure.

To add: Token balance is also not up to date after relaunch and login 1 day later. Eth amount is valid, but token balance shows 0 while it's not. cc @churik have you seen that on other devices as well?

[2019-11-06 13:23] guylouis commented on #9264
@rachelhamlin

[2019-11-06 13:41] yenda commented on #9203
@rasom correct observations, I think though that @rachelhamlin @andremedeiros have already been discussing with etherscan about using their API.
If we want to fix rewrite the on-chain parsing though, I think that it is better to rely on the number of transactions than a time portion as it is more meaningful for the user. You can request how many transactions have been made on a particular address

[2019-11-06 14:13] churik opened #9404 "Unable to create account on some devices with Android 6"
# Bug Report

## Problem
Can't create account on Samsung Galaxy phones (Android 6.0.0 only) - on last step of account creation application is crashed with error:
<img width="147" alt="eeee" src="https://user-images.githubusercontent.com/4557972/68305338-cbfb3d80-00a7-11ea-81d7-edf4007c3b7e.png">

### Additional Information

[comment]: # (Please do your best to fill this out.)
- Status version: nig

[2019-11-06 14:15] churik commented on #9404
@rachelhamlin didn't include it in V1, because don't have info about how many users use Android 6.0.0 on Samsung Galaxy devices.

[2019-11-06 14:16] guylouis commented on #8750
after discussion with @rachelhamlin closing this one and following v1 approach described above
design work will be needed for post v1 approach

[2019-11-06 14:16] #8750 closed, assigned to nobody

[2019-11-06 14:57] jakubgs commented on #9394
This must be the method that actually tells the node to connect to the mailserver:
https://github.com/status-im/status-react/blob/2e8e1a35add435c044d6f61f208da80386fa0d24/src/status_im/mailserver/core.cljs#L214-L233

[2019-11-06 14:59] jakubgs commented on #9394
According to Adam the call to get fastest mailservers should be an RCP call.

[2019-11-06 15:03] jakubgs commented on #9394
A request should send a list of mailservers to check, and possibly a timeout for the check, and return a list of objects with round trip time:
[code]

[2019-11-06 15:06] jakubgs commented on #9394
New RPC calls are exposed by adding methods here:
https://github.com/status-im/status-go/blob/develop/services/mailservers/api.go
For more details read:
https://github.com/status-im/status-go/blob/develop/services/mailservers/README.md

[2019-11-06 15:36] rasom commented on #9203
@yenda there is a [method](https://web3js.readthedocs.io/en/v1.2.2/web3-eth.html#gettransactioncount) which returns how many transactions was made, but I doubt that it's possible to make such request for a period of time.

[2019-11-06 16:05] guylouis commented on #9231
Great feedback !

Just to be clear:
- this case is about the user that wants to type his mnemonic and 'put it' on a keycard. So it's "access key">"enter seed"
-  it's not about: the user that has already a keycard with a mnemonic imported on it, and want to add this keycard account on its phone. This use case is tackled with "access key">"access with keycard"

First off the copy of the error messa

[2019-11-06 16:19] rachelhamlin commented on #9361
Hey there @igetgames - how's this one going for you? It's blocking our test team on something and I also realize it may not be straightforward to fix. Might have one contributors take it off you if you're finding it challenging. Let me know what you think.

[2019-11-06 16:39] churik commented on #9231
@guylouis
OK, much clear now, thanks!
So if I understood correctly, now I should be able to port mnemonic to keycard through this flow
"access key">"enter seed"?

If so, we need to test it and create separate test case for it.

[2019-11-06 16:47] #9400 closed, assigned to cammellos

[2019-11-06 17:19] #8718 closed, assigned to StatusSceptre

[2019-11-06 17:22] guylouis commented on #9231
"So if I understood correctly, now I should be able to port mnemonic to keycard through this flow
"access key">"enter seed"?"
yes, exactly

[2019-11-06 17:33] flexsurfer commented on #9050
after discussion with @gravityblast we decided to implement validation in status-go https://github.com/status-im/status-go/issues/1663

[2019-11-06 17:43] hesterbruikman commented on #8717
Sorry I dropped off here! This looks better! Few notes:

- I think we'd better go for `1. Customize your name in chat` so we get rid of the display name terminology
- Major benefit is `Receiving transactions in chat`. Based on earlier convs this week and talking to @errorists.

1.  Customize your display name
An ENS name can replace your random 3-word name in chat. Be @yourname instead of Breezy T

[2019-11-06 18:04] acolytec3 commented on #9381
@gitcoinbot Yes, still working on it.

[2019-11-06 18:04] acolytec3 commented on #9380
@gitcoinbot Yes, still working on it.

[2019-11-06 18:22] jakubgs commented on #9081
According to Adam the best way to collect these metrics would be to subscribe to the `envelopeFeed`:
https://github.com/status-im/whisper/blob/39d4d0a14f/whisperv6/whisper.go#L178-L182
And listen for the `EventEnvelopeReceived` event:
https://github.com/status-im/whisper/blob/39d4d0a14f/whisperv6/events.go#L19
Which would allow me to collect envelope metrics(size, numbers) in InfluxDB without havi

[2019-11-06 19:10] jakubgs commented on #9394
Example interface for ICMP probing from Adam:
[code]

[2019-11-06 21:02] guylouis commented on #9347
a message saying that the passcode entered was wrong is shown, but the number of attempts remaining is not shown
keycard api provides this information so we can and should display it : https://status.im/keycard_api/apdu/verifypin.html

[2019-11-07 05:47] rasom commented on #9393
@guylouis before I fix this one, I want to clarify what was the reason for creation of mnemonic for `pairing` in the first place?

The problem is that "the wrong mnemonic" here is not a random bug, it was intentionally generated [as described here](https://github.com/status-im/react-native-status-keycard/blob/master/docs/usage.md#generate-mnemonic-phrase). As far as I understand this mnemonic shou

[2019-11-07 06:42] guylouis commented on #9393
@rasom to clarify: the mnemonic entered here should be used to represent the seed of the multiaccount, it is definitely the seed of the BIP32 account.

For now (v1), it is not used for anything related to the pairing of the card. After v1, we will think and design about how the pairing code of the card (which is today an independant value generated randomly and provided by the user) can be derived

[2019-11-07 07:10] gravityblast commented on #9393
the mnemonic should restore the master key, which is used to derive all the other private keys. the pairing password is something custom and can be generated randomly. @yenda  proposed to derive the pairing password from the mnmonic, so that the user needs to remember less things. but we don't have different mnemonics, it's just one.

[2019-11-07 07:28] rasom commented on #9393
@guylouis @gravityblast got it, thanks

[2019-11-07 08:59] #7501 closed, assigned to nobody

[2019-11-07 08:59] #7046 closed, assigned to nobody

[2019-11-07 09:17] yenda commented on #9203
@rasom yes that is the one I'm talking about, it takes a block argument so you can use it with a dichotomic search to find a timespan than contains for instance 10 transactions. I'm not 100% sure about token transactions though, outgoing would be included because that's a contract call and still a transaction, but I think you can only be aware of incoming token transactions to your address through

[2019-11-07 10:03] yenda commented on #8933
@churik @rachelhamlin I tested that one on Android OP7P with my account and it seems like it is already fixed?

[2019-11-07 10:04] churik commented on #8933
will check today and close if not relevant.

[2019-11-07 10:24] churik commented on #8933
Issue is gone, confirmed on Android8 - LG V20 and IOS 13 - IPhone7.

[2019-11-07 10:24] #8933 closed, assigned to nobody

[2019-11-07 10:32] marcusrbrown commented on #9361
Hi @rachelhamlin. I've been digging into this and see the issue possibly happening in either of a couple cases:

* `status-go` is not firing the `"wallet" "newblock"` event for new accounts, which is required to update the balances when transactions are updated
* `status-go` is firing the `"wallet" "history"` event for new accounts, which would not update the balances, even though transactions are

[2019-11-07 12:24] flexsurfer commented on #9361
![image](https://user-images.githubusercontent.com/11790366/68388862-e265cf80-0161-11ea-8235-5ecd6019c2cf.png)

[2019-11-07 12:32] #9342 closed, assigned to nobody

[2019-11-07 12:37] flexsurfer commented on #9361
thanks @igetgames , i also think the issue probably on status-go side, and I created the issue https://github.com/status-im/status-go/issues/1665

[2019-11-07 12:59] #9350 closed, assigned to nobody

[2019-11-07 13:11] jakubgs commented on #9394
At first I thought ICMP will be simplest, but it appears it is not because sending ICMP packets requires creating a [raw socket](http://man7.org/linux/man-pages/man7/raw.7.html) which require special permissions:
[code]
And fails on Linux without `sudo` with:
[code]
__NOTE:__ This is true for Darwin as well.

So the most sensible thing to do will be to do a TCP `SYN` > `SYN-ACK` > `RST` handshake

[2019-11-07 13:18] jakubgs commented on #9394
This package could be used as a template to write such a TCP handshake ping:
https://github.com/tevino/tcp-shaker
Example command line tool test:
[code]
One thing that worries me though is that it's only for Linux, and their non-Linux code is a dummy:
https://github.com/tevino/tcp-shaker/blob/master/checker_nonlinux.go
But I think the linux code should work fine on Android.

[2019-11-07 13:25] errorists commented on #8854
![ens](https://user-images.githubusercontent.com/4932774/68392562-4ee4cc80-016a-11ea-9a55-7e5736d33d5a.png)

can i drop this here and ask kindly whomever is working on this to address those. you're awesome.

[2019-11-07 13:31] flexsurfer commented on #8854
thanks @errorists

[2019-11-07 14:07] aahutsal commented on #8818
@StatusSceptre Looks like Gitcoin is broken again :(

I'll be messaging here.
Going to use [BrowserStack](https://www.browserstack.com/list-of-browsers-and-platforms/live?utm_source=beamer&utm_medium=sidebar&utm_campaign=5-new-Android-devices-added-to-real-device-cloud&utm_content=ctalink) to test on iOS device and show you. If you prefer some other _platform independet_ way to test on iOS - lemme

[2019-11-07 14:20] rasom commented on #9206
My both keycards are dead, that's why can't work on it now.

[2019-11-07 14:22] #9393 closed, assigned to nobody

[2019-11-07 14:32] StatusSceptre commented on #9361
Thanks so much for your research here @igetgames - I will pay out the partial bounty to thank you for your investigation. Are you also at work on #8837?

[2019-11-07 15:22] marcusrbrown commented on #9361
Yep, I’m also working on #8837 and should have it completed this weekend. Thanks!

[2019-11-07 16:29] jakubgs commented on #9394
I tried reading the code of https://github.com/tevino/tcp-shaker but it's really obtuse. Syscalls verywhere, weird use of `sync.Map` and `sync.Poll` as well as a Linux `epoll`. Really hard to follow.

I could just use it, but `epoll` doesn't exist on Mac, so I don't know if that's gonna fly in Apple devices, I'd have to implement the same code but for `darwin` using probably something like `kqueue

[2019-11-07 16:45] guylouis commented on #9393
Do you know if this being closed, the app prevents to have a ODA and a KCA with the same seed ? as reproduced in #9062

[2019-11-07 17:13] jakubgs commented on #9394
MacOS lacks [`syscall.SOL_TCP`](https://linux.die.net/man/7/tcp) but its equivalent is `syscall.IPPROTO_TCP`.

There's also no `TCP_QUICKACK`. We could use `TCP_NODELAY` instead, but:

But we don't intend to send any bytes, just close immediately, so it shouldn't have any effect.

[2019-11-07 17:15] jakubgs commented on #9394
When I do those two changes listed above the only build errors appear to be related to lack of `epoll`:
[code]
So in theory I could port this code to use [`kqueue`](https://www.freebsd.org/cgi/man.cgi?kqueue) and it might work.

[2019-11-07 17:24] jakubgs commented on #9394
This is a nice example of how `Kqueue` is used in Go:
https://gist.github.com/nbari/386af0fa667ae03daf3fbc80e3838ab0
Here's the Go's implementation:
https://golang.org/src/syscall/syscall_darwin.go
And a nice example of `kqueue` usage in C:
https://jmmv.dev/2004/10/example-of-kqueue.html

[2019-11-07 18:19] jakubgs commented on #9394
This might help me build a standalone binary for Android using Gomobile:

This way I could verify if this TCP knocking will even work.

[2019-11-07 18:48] jakubgs commented on #9394
I made an example App using the [`x/mobile/app`](https://godoc.org/golang.org/x/mobile/app) module:
[code]
And it fails on Android with this:
[code]
Which I guess suggests that Android blocks use of some of the socket flags that `tcp-shaker` uses.

[2019-11-07 18:50] jakubgs commented on #9394
If you look at the `SocketOptions` documentation for Android:
https://developer.android.com/reference/java/net/SocketOptions
There is no `TCP_QUICKACK` available, only `TCP_NODELAY`.

[2019-11-07 20:00] ScyDev commented on #5242
Yes. I'll work on it in the coming weeks. I have reported back to the dev team that I'm progressing. Can this reminder be set to 1 week or so?

[2019-11-08 08:32] rasom commented on #9393
@guylouis nope that issue is not fixed, it should be a separate task because they are unrelated

[2019-11-08 08:57] jakubgs commented on #9394
I tested the ICMP ping using `golang.org/x/net/icmp` in a [simple app](https://gist.github.com/jakubgs/f12e395ee97357c45a3a5408445dd393) and got back:
[code]
Similar thing if I try to use an UDP ping:
[code]
Both fail on the `icmp.ListenPacket()` call, first with `ip4:icmp` and second with `udp`.

So it doesn't look like ICMP ping is something that can be done on Android without extra permissions.

[2019-11-08 09:17] jakubgs commented on #9394
I narrowed down the `permission denied` error on the TCP pinger to this call:
[code]
It seems like one of those flags is not allowed. But which one?

[2019-11-08 09:35] jakubgs commented on #9394
GLORIOUS SUCCESS!
I managed to make the `permission denied` error to go away by specifying a custom `AndroidManifst.xml` which contained the following permission:
[code]
Looks like the default is not to give network access to an app.
But now it fails with `tcp.ErrTimeout`, but that's an improvement.

[2019-11-08 09:47] jakubgs commented on #9394
It doesn't seem like the adding of `INTERNET` permissions helps the ICMP test app:
[code]

[2019-11-08 09:59] StatusSceptre commented on #5242
I don't think we can customize the Gitcoin system messages. But glad you are still working!

[2019-11-08 10:13] rachelhamlin commented on #8717
I think you mean...

`1. Customize your name in chat` no? :) Or even `1. Customize your chat name`

And as for #3, that's a good point.

I think because it only applies to scenarios in which you are requesting/receiving, I might title it, `3. Receive transactions in chat` or even `3. Receive transactions freely` (although we do not have plans to add an address list back to wallet yet, so this migh

[2019-11-08 10:23] rachelhamlin commented on #7197
Hey @iAmServer! Checking in. Are you still on this one?

[2019-11-08 10:24] rachelhamlin commented on #9361
Okay, awesome. Thanks for the update!

[2019-11-08 10:25] rachelhamlin commented on #7633
Hey @zoek1! Just checking in, how is this going for you?

[2019-11-08 10:27] rachelhamlin commented on #8818
@agutsal Gitcoin shouldn't block you from developing on Status though. Is it blocking your work flow in some way?

[2019-11-08 10:30] rachelhamlin commented on #9290
Hey @hellasol, welcome to the project! I approved you for work on the basis of your comments. Let us know if you need any help getting set up.

[2019-11-08 11:14] #9256 closed, assigned to nobody

[2019-11-08 11:14] jakubgs commented on #9394
Interestingly enough `TCP_QUICKACK` is not listed in the Android socket docs:
https://developer.android.com/reference/java/net/SocketOptions
But it doesn't throw any errors when I set it so maybe it's just undocumented:
[code]

[2019-11-08 11:31] jakubgs commented on #9394
The timeout happens even through the `epoll` that listens for the `fd` events has quite the range:
[code]
Where `epollET` is:
[code]
Which shifts first bit 31 places left, and gives us `2147483648`, which I assume is supposed to represent the [`EPOLLET`](https://golang.org/pkg/syscall/#pkg-constants) flag, which is weird because it is available in the `syscall` package:
[code]
Which is the negativ

[2019-11-08 11:32] jakubgs commented on #9394
I tried using `syscall.EPOLLET` but I get this during build:
[code]
So I assume the local definition of `epollET` is some kind of workaround for that.

[2019-11-08 12:14] aahutsal commented on #8818
No, that's generic Gitcoin issue @rachelhamlin. There are bunch of issues on Gitcoin. I'm working currently.

It took lot of time to setup Dockerized `Status+Nix` development environment.

Can yo tell me if `make run-desktop` works normally or not tested (consider `make startdev-desktop` and `make react-native-desktop` are running in other terminals)? Have problems with it.

[2019-11-08 12:39] flexsurfer commented on #7990
we could consider this library https://github.com/th3rdwave/react-native-safe-area-context

[2019-11-08 13:10] ScyDev commented on #5242
The @gitcoinbot provides links to snooze the reminders. Check his comment above :)

[2019-11-08 13:42] andmironov commented on #9275
Working on the UX for this.

This signature request does not follow the regular pattern since it requires from the seller an interaction with some other person's card, therefore, the UX flow differs a lot:
- Bigger typeface and buttons;
- Less information because:
  1. Trust happens offline between the seller and the buyer;
  2. Less convenient for the buyer to read complex data from somebody else

[2019-11-08 13:59] jakubgs commented on #9394
I don't get why the value of `syscall.EPOLLET` in Go is a negative number when the `EpollEvent` structure uses an unsigned `uint32` for its flags:
[code]
https://golang.org/pkg/syscall/#EpollEvent
As if they wanted it to be unusable? Or is it simply a mistake?

[2019-11-08 14:01] #8993 closed, assigned to nobody

[2019-11-08 14:01] #9059 closed, assigned to nobody

[2019-11-08 14:17] jakubgs commented on #9394
Interestingly the `syscall.EPOLL_NONBLOCK` flag is not available:
[code]

[2019-11-08 14:43] StatusSceptre commented on #5242
The last place I thought to look :) I clicked on '5 days' and it took me back to the issue portal. No message or notification confirming the change, and no visible option to do so from the page:

![image](https://user-images.githubusercontent.com/42685581/68484904-262a0900-0236-11ea-8b62-174a497e58e1.png)

So I guess we'll see if it worked..!

[2019-11-08 14:51] jakubgs commented on #9394
Instead of relying on the pipe that the default `tcp-shaker` code uses I tried calling the `syscall.EpollWait` method myself:
[code]
And what I get back is an event with `Events` attribute set to `4` which is `EPOLLOUT`, which means that the connection is ready for writing. Which means that this method can work, but for some reason doesn't trigger through reading of the pipe in the `waitPipeTimeou

[2019-11-08 15:54] hesterbruikman commented on #8717
Thanks @rachelhamlin Great points! I'll take this last set and will make a final call based on what they look like on screen.

[2019-11-08 16:35] jakubgs commented on #9394
Turns out that `tcp-shaker` uses `EpollWait()` itself:
[code]
https://github.com/tevino/tcp-shaker/blob/9f5b7a96d888d963841cdd52c87c72bef159dc91/socket_linux.go#L83-L110

I need to debug why this call doesn't catch the socket being ready.

[2019-11-08 17:00] jakubgs commented on #9394
Okay, I can see what is failing on Android, and that's this call:
[code]
https://github.com/tevino/tcp-shaker/blob/9f5b7a96/socket_linux.go#L100
Which results in an error:
[code]
This seems to be caused by the fact that the file descriptor has the value of `0`, which doesn't exist.

[2019-11-08 17:35] jakubgs commented on #9394
This wouldn't be an issue if the implementation just listened for one `fd` at a time, but `tcp-shaker` seem to use a `sync.Map` and a `sync.Poll` to juggle multiple pipes in the [`CheckingLoop()`](https://github.com/tevino/tcp-shaker/blob/9f5b7a96d888d963841cdd52c87c72bef159dc91/checker_linux.go#L41-L52), since then I could assume the file descriptor number.

[2019-11-09 15:46] jakubgs commented on #9394
I made the simplest possible implementation of the TCP ping here:
https://github.com/status-im/infra-utils/blob/master/tcp-ping/main.go
And this implementation works just fine on my `amd64` architecture:
[code]
We can see that the `EpollEvent` returns on the 2nd position the socket file descriptor number `3`.

But when I push the `arm64` binary to my Android phone and run it:
[code]
The `EpollEven

[2019-11-09 16:55] jakubgs commented on #9394
I have implemented essentially the same thing but in pure C:
https://github.com/status-im/infra-utils/blob/master/tcp-ping/main.c
And on Linux it returns the socket file descriptor as expected:
[code]
And the same thing done on Android:
[code]
Which clearly shows that the issue is - as I suspected -  with Go and how it handles `epoll` events.

[2019-11-09 17:13] jakubgs commented on #9394
I have found out that the `syscall` package is on a code freeze, and the the [`golang.org/x/sys/unix`](https://godoc.org/golang.org/x/sys/unix) package contains the more up-to-date implementations.
I have [modified the simple Go implementation](https://github.com/status-im/infra-utils/commit/ec20ad39f6ecf85777ade7d696d65b63407afef4) to use `x/sys/unix` and it turns out that it works that way:
[cod

[2019-11-09 17:20] jakubgs commented on #9394
This issue appears to be somehow related: https://github.com/golang/go/issues/32192
Tt talks about missing fields in the `EpollEvent`, but in `x/sys/unix` rather than `syscall`, which is how I found that it even existed.

[2019-11-09 17:36] jakubgs commented on #9394
I have opened an issue with the Go repo: https://github.com/golang/go/issues/35479
Maybe it will at least help someone else not waste hours researching the same thing as me.

[2019-11-10 11:18] alexjg commented on #8443
Hey @StatusSceptre possibly yeah. Should I create issues on the bug tracker or ask for advice in discuss.status.im?

[2019-11-10 11:58] jakubgs commented on #9394
Also created a PR for `tcp-shaker` to fix this: https://github.com/tevino/tcp-shaker/pull/18

[2019-11-10 18:05] jakubgs commented on #9394
I'm trying to port `tcp-shaker` to `darwin` but it appears that the lack of `TCP_QUICKACK` flag makes it impossible to send the `RST` right after `SYN-ACK` from the server.

On linux the packet exchange looks correct - `SYN` > `SYN-ACK` > `RST`:
![linux_tcp_ping_000](https://user-images.githubusercontent.com/2212681/68548390-b6aa4a00-03ec-11ea-8e00-7d8e64d0bfe6.png)
But on MacOS the damned thing e

[2019-11-10 18:16] jakubgs commented on #9394
That's correct, if I don't set `TCP_QUICKACK` on Linux it sends the `ACK` too:
![linux_tcp_ping_002_000](https://user-images.githubusercontent.com/2212681/68548480-bf4f5000-03ed-11ea-9245-e0ac25768a4a.png)
So I don't really see how I can make this work the same way on MacOS.

[2019-11-10 20:28] hesterbruikman commented on #8717
@yenda Looking to update the copy, but they are now 5 points instead of 4.
`1 2 3 4 @`

where it was
`1 2 3 @`

Can you take a look to make sure:
`ens-welcome-point-4-title` shows `4` instead of `@`
`ens-welcome-point-x` and `ens-welcome-point-x-title` shows a `@`
_(this would be a new 5th point but I'd rather not number it as the prefix shouldn't be a number but an `@`)_

1. Customize your chat n

[2019-11-10 22:01] alexjg commented on #8443
I'm working around it at the moment. It's not slowing me down too much as I'm mostly stuck on how to get the `refreshControl` property to actually do anything. I've successfully passed the `RefreshControl` to the `ScrollView` using `reagent/as-element` but it's not doing anything useful (`ScrollView` just displays blank). I'm still troubleshooting that but am beginning to wonder if I'll need to wr

[2019-11-10 22:49] alexjg commented on #8443
I've managed to get `RefreshControl` working but it doesn't really give us the hooks we need. It renders the spinner on top of the scrollview content in the z axis and doesn't really expose any way to render the spinner elsewhere or slowly transition it in as the user scrolls down. I think we'll need to build the pull to refresh functionality ourselves, so unless there's already something in the c

[2019-11-11 06:40] rasom commented on #9229
[Keycard's side of this task is already implemented](https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/hardwallet/settings/views.cljs#L127), so we need to make sure that there is an API for multiacc removal.

[2019-11-11 09:32] StatusSceptre commented on #8443
I'm just going to ping a few people who might be able to help. @alexjg is having trouble with his build environment - @PombeirP @yenda @flexsurfer could one of you possibly help trouble shoot?

[2019-11-11 09:35] flexsurfer opened #9425 "UI hangs right after sign in for 1-2s on slow Android devices"
# Bug Report

## Problem

UI hangs right after sign in for 1-2s on slow Android devices
And it's not responsive, user actions ignoring

#### Expected behavior

UI works smoothly right after sign in its possible to click buttons

#### Notes

These two events might be the reason

![image](https://user-images.githubusercontent.com/11790366/68576755-f3b72080-046e-11ea-93cc-aa11391159cd.png)

signal is

[2019-11-11 09:36] flexsurfer commented on #9425
cc @rachelhamlin

[2019-11-11 09:43] rachelhamlin commented on #9360
This doesn't block user does it @flexsurfer?

[2019-11-11 09:44] StatusSceptre commented on #9307
Think we can close this one @Serhy? I don't foresee us needing to fix it so long as we are preventing users from recovering non-dictionary seedphrases.

[2019-11-11 09:49] rachelhamlin commented on #9177
@guylouis I think we bumped this one from v1 must-haves, right? Want to double check w/ you, I forgot to drop release label last week.

[2019-11-11 10:25] flexsurfer commented on #9360
yeah it's just a reminder for me to fix, it's just a 10min fix

[2019-11-11 10:27] flexsurfer commented on #9425
as a solution we could use js object like here https://github.com/status-im/status-react/pull/9305

[2019-11-11 10:34] flexsurfer commented on #8443
@alexjg @rachelhamlin i'm not sure , issue title says "Add loading state for currency conversion" why do we need RefreshControl for it?

[2019-11-11 10:35] pedropombeiro commented on #5587
This has already been achieved for Android builds with the work I've done earlier in the year on pure Nix e2e builds.

[2019-11-11 10:37] cammellos commented on #9425
also we could try first to use `clj-bean` to see if it improves things, while keep the ease of use

[2019-11-11 10:38] pedropombeiro commented on #1125
The Android build (both status-react and status-go) have been deterministic since Q2 2019, so I think we have what we need to move forward on this.

[2019-11-11 10:39] flexsurfer commented on #8443
@alexjg could you provide more details pls better in a new issue with screenshots or video thanks!

[2019-11-11 10:44] flexsurfer commented on #9425
for config we use transit, so we need to change it first

[2019-11-11 10:46] jakubgs commented on #1125
I spent a fair bit researching how to build for F-Droid in https://github.com/status-im/status-react/issues/8512 but their tooling is pretty trash, as is their documentation. I'll get back to it eventually.

[2019-11-11 10:51] Serhy commented on #9307
Okay. Agree to close as #9050 should automatically fix this issue too.

[2019-11-11 10:51] #9307 closed, assigned to nobody

[2019-11-11 11:12] jakubgs commented on #9394
Well, apparently, if I call `close()` on the socket right after `connect()` I can get the `RST` I want:
![darwin_tcp_ping_002_000](https://user-images.githubusercontent.com/2212681/68583028-7db9b600-047c-11ea-9ddc-caa1dcb99a63.png)
But that kinda makes the whole `kqueue` thing and `kevent` listening pointless, since the socket is already closed right after I've opened it.

[2019-11-11 11:28] jakubgs commented on #9394
It looks like as long as I call `unix.Close()` before I call `unix.Kevent()` to wait for a socket event it closes correctly with a `RST` right after `SYN-ACK`.

But it also means that `unix.Kevent()` times out and returns an event for a non-existent socket, so calling `unix.GetsockoptInt()` on it makes no sense.

[2019-11-11 11:42] #8089 closed, assigned to nobody

[2019-11-11 13:14] Serhy opened #9427 "Error "... function n(a0) {[bytecode]}" appears when message received in Group chat user not joined to yet"
# Bug Report

## Problem
When user receives a message in Group chat he was invited to but not joined yet, - the `fx/defn expects a map of cofx as first argument got ' ' inn function function n(a0) { [bytecode] }` error appears. Canceling this error allows to proceed with app using but each new message raises error again

#### Expected behavior
No errors when when message received in Group chat use

[2019-11-11 13:29] churik commented on #9264
@rachelhamlin can we mark P0 as `v1 release` here?

[2019-11-11 13:38] flexsurfer commented on #8854
### Summary

- [x] remove link between adding user to contact and displaying of ENS name completely

**When setting "Show my ENS name in chat" is on, add ENS name to:**

- [x] preview of 1-1 chat in Home Screen
- [x]  1-1 chat
- [x]  options in 1-1 chat
- [x] user profile (full ENS + dafault 3-word random name)
- [x] group chat
- [x] group info in group chat
- [x]  contacts list
- [x] preview of c

[2019-11-11 13:41] flexsurfer commented on #8854
| 1-1 chat in Home Screen | 1-1 chat | options in 1-1 chat |
| ------------- | ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/11790366/68591479-21ad5c80-0491-11ea-9f57-7922003a67aa.png) | ![image](https://user-images.githubusercontent.com/11790366/68591509-32f66900-0491-11ea-88cc-cf5d367f2a8e.png) | ![image](https://user-images.githubusercontent.com/11790366/6

[2019-11-11 13:41] flexsurfer commented on #8854
| user profile  | contacts list | preview  in ENS name |
| ------------- | ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/11790366/68591596-5e795380-0491-11ea-94ef-7dfd90e2d85a.png) | ![image](https://user-images.githubusercontent.com/11790366/68591723-ab5d2a00-0491-11ea-9e0e-ef3da93a5ff4.png) | ![image](https://user-images.githubusercontent.com/11790366/68591

[2019-11-11 13:50] Serhy opened #9429 "Message counter reappears after relogin in chats"
# Bug Report

## Problem
After message received and read - message counter disappears as expected. However, after re-login to account, each message counts as "unread" and so unread message counter reappears each relogin in any type of chats.

#### Expected behavior
All read messages keep the 'read' status and no 'Unread' message counter in chat after contact relogin.

#### Actual behavior
<img wid

[2019-11-11 13:51] churik commented on #8854
@churik
TC 6226 should be completed in scope of this PR.

related to https://github.com/status-im/status-react/pull/9428

[2019-11-11 14:58] jakubgs commented on #9394
The issue with closing the connection right after I open it is that currently I don't know how I can actually check if it succeeded or not. I'm probably missing something, and maybe some combination of flags for `unix.GetsockoptInt()` would allow me to verify what actually happened to the connection.

[2019-11-11 15:04] Serhy opened #9430 "Received messages disappeared in chats after re-login"
# Bug Report

## Problem
Received messages in public/1-1/group chats disappear from respective chat view after re-login to account.
If I received message while I was online - those messages are kept upon next login BUT issue # https://github.com/status-im/status-react/issues/9429 takes place. And it needs 2-3 relogin attempts so those received messages are gone
But in a case of public chat like `#

[2019-11-11 15:16] churik opened #9431 "Clearing history doesn't clear day swimlines in chat and messages reappear after log out"
# Bug Report

## Problem

"Clear history" leaves days in chat and if you log out through Profile > log out and login again - messages will reappear in chat.

The issue is not reproducible if you reopen app, only with relogin through profile.

#### Expected behavior
Chat is empty

#### Actual behavior
Just after clearing:
![photo_2019-11-11 16 11 25](https://user-images.githubusercontent.com/455797

[2019-11-11 15:24] churik commented on #9431
cc @rachelhamlin - regression issue, appeared after 05/11/11 (not sure what is the reason)

[2019-11-11 15:24] churik commented on #9430
cc @rachelhamlin

[2019-11-11 15:35] rachelhamlin commented on #9371
Update: Just had a call with Eric, Andrei and André to discuss option to implement GUI style commands in this go-around. Because there are several bugs that need to be fixed with the legacy commands to support their basic function, and the GUI option simply requires a new UI to change the entry point to commands—we've decided to green light the GUI option.

@andmironov will update the GUI designs

[2019-11-11 15:46] rachelhamlin commented on #9264
Thanks for calling it out guys. I re-added #9354 to v1 must-have scope, but will leave the other UI issues out and categorize them as p1s.

[2019-11-11 15:50] churik commented on #9264
@rachelhamlin  without fix for https://github.com/status-im/status-react/issues/9344 and https://github.com/status-im/status-react/issues/9345 it is not possible to create another multiaccount if you have only keycard account on phone due to wrong navigation and problems with keycard login screen
From my POV they required for v1.

[2019-11-11 15:58] alexjg opened #9432 "Error when viewing compile error box in development"
# Bug Report

## Problem

When I tap an error in the development environment (for example if Figwheel reports a compile error, which appears as a yellow box error) then the application crashes with the following error:

![Screenshot (11 Nov 2019 15_50_14)](https://user-images.githubusercontent.com/224635/68601010-65a55f00-049b-11ea-8f6e-00761eb6194f.png)

#### Expected behavior

The original error

[2019-11-11 15:58] alexjg commented on #8443
@flexsurfer I've created a new issue [here](https://github.com/status-im/status-react/issues/9432)

[2019-11-11 15:59] alexjg commented on #8443
@flexsurfer as regards the RefreshControl, there's been a slight change in scope throughout this issue and the plan is now to implement a pull to refresh interaction for the currency conversion rather than an inline loading state. See [this comment](https://github.com/status-im/status-react/issues/8443#issuecomment-539045418)

[2019-11-11 16:45] jakubgs commented on #9394
Okay, I managed to get it working, but not exactly. The key was using the right `kevent` filter:
[code]
The implementation was done in: https://github.com/status-im/tcp-shaker/commit/804f4fa394c3241e95bea701aee8949ea17554a5 ([`support-darwin`](https://github.com/status-im/tcp-shaker/tree/support-darwin) branch)

But the issue is that it doesn't send the `RST` packet right away, it first `ACK`s the

[2019-11-11 16:46] jakubgs commented on #9394
This article was very useful in figuring this shit out:
http://eradman.com/posts/kqueue-tcp.html

[2019-11-11 16:47] jakubgs commented on #9394
@adambabik in your opinion, would `status-go` be fine with a `SYN` > `SYN-ACK` > `ACK` > `RST` kind of TCP ping, or could that cause problems?

[2019-11-11 16:52] flexsurfer commented on #8443
hey @alexjg i've discussed pull and refresh with @andmironov we can ignore it for this issue, and just show loader indicator when we load balance

[2019-11-11 17:01] Serhy opened #9433 "No replies on message receiver chat view"
# Bug Report

## Description
There are no replies on message receiver side in 1-1/public/group chats

#### Expected behavior
Replies are present for message receiver
#### Actual behavior

<img width="448" alt="Screenshot 2019-11-11 at 18 55 58" src="https://user-images.githubusercontent.com/8749671/68605341-ec1a6a80-04b4-11ea-8082-5aa20b97e56f.png">

### Reproduction

- Open Status and create User

[2019-11-11 17:02] Serhy commented on #9433
cc @rachelhamlin

[2019-11-11 21:56] 3esmit commented on #9381
Still happens in Commit: 1cdfff0

[2019-11-11 22:02] 3esmit commented on #9380
Still happens in Commit: 1cdfff0

I notice that, when using the `Send` button from the wallet, it works fine.

How to reproduce:
1. Open Status
2. (From the Chats Tab) tap on the + plus button
3.  Tap on `Scan QR code`
4.  It dont works.

[2019-11-11 22:02] 3esmit commented on #9381
I notice that, when using the `Send` button from the wallet, it works fine.

How to reproduce:
1. Open Status
2. (From the Chats Tab) tap on the + plus button
3.  Tap on `Scan QR code`
4.  It dont works.

[2019-11-11 22:03] acolytec3 commented on #9381
Hmm, l'll take another look. It always navigates back to the send
transaction screen for me.

On Mon, Nov 11, 2019, 4:57 PM Ricardo Guilherme Schmidt <
notifications@github.com> wrote:

[2019-11-11 22:26] 3esmit commented on #9381
It is kept open in background, when you go to chat tab there is open a qr code scanner with camera on, but not actually working as scanner.

How to reproduce:
1. Open Status
2. (From the Chats Tab) tap on the + plus button
3.  Tap on `Scan QR code`
4.  Scan some code
5.  Tap `back` on the transaction screen
6.  Tap `Chat`  to navigate to chat screen
7.  QR code scanner is open with camera but non

[2019-11-11 23:31] acolytec3 commented on #9381
Thanks. I'm not about to recreate and will push a fix tonight or tomorrow.

[2019-11-12 00:06] acolytec3 commented on #9381
@3esmit @yenda Now that I've played with this a little bit, I think this is just one symptom of a potentially bigger issue.  Basically, what's going on is that every time you navigate between any of the 4 top-level menu items (chat/wallet/settings/dapps), the `navigate-to` event is firing and going to the last view in the `navigation-stack` for that top-level menu item.  In this particular scenari

[2019-11-12 00:54] yenda commented on #9381
~~@3esmit are you trying to scan EIP681 or status contact codes? Does scanning contact codes work? Because I think the camera in the Chat screen is for adding chats only, so it won't work for anything else by design. (could be changed though)~~

ok tried by myself and it's indeed scanning EIP681 but not when you go back. I think that there by need to be a navigation-reset here instead of navigate

[2019-11-12 01:53] 3esmit commented on #9381
@yenda It seems to detect the transaction link when scanned from chat screen, but it don't works because of #9380

I see that is out of context, but if scanner detects that is a transaction request, why error, instead of shortcut.

If the support of transaction request in chat qr code scanner is a bug, we might need to open an issue to remove it, and set #9380 as invalid.

[2019-11-12 03:54] acolytec3 commented on #9381
@yenda @3esmit I could see it going either way in terms of should you allow the chat link to QR process eip681 links . Should I just push a commit doing that navigate -reset approach so that you won't land back in the QR scanner when going back to chat and call it done there?

[2019-11-12 07:31] 3esmit commented on #9381
Yes, this is a bug regardless of the supporting of EIP681 in chat qrcode scanner scanner, as happens when scanning contact codes aswell.

[2019-11-12 07:33] guylouis commented on #9177
@rachelhamlin yes, it's out of v1
@andrei I guess this one should be closed and be part of your newly edited issues right ?

[2019-11-12 08:06] guylouis opened #9435 "it must not be possible to create two accounts (one with keycard, one without keycard) with the same seed"
**Description**
It is currently possible to create two accounts that have the same mnemonic (hence the same seed) one with keycard, one without keycard.

**Problem**
This is a security problem and totally defeats the purpose of keycard. The problem is that it gives a false sense of security to the user
- that uses keycard to keep his private keys offline, in a cold storage
- while they are still s

[2019-11-12 08:07] guylouis commented on #9393
ok, I created #9435

[2019-11-12 08:13] guylouis commented on #9229
Ok
Decided with @Rachel Hamlin <rachel@status.im> that resetting a keycard and
removing its account is post v1.0

Le lun. 11 nov. 2019 à 07:40, Roman Volosovskyi <notifications@github.com>
a écrit :

[2019-11-12 09:24] #9206 closed, assigned to nobody

[2019-11-12 09:56] guylouis commented on #9264
@rachelhamlin I moved #9354  part of the P0 of the epic too, for consistency.
As for #9344 and #9345, great point @churik , they are already P0, if we can't have them in v1.0.0, let's have them in v1.0.1 :)

[2019-11-12 10:28] #9433 closed, assigned to cammellos

[2019-11-12 10:28] #9427 closed, assigned to cammellos

[2019-11-12 10:28] #9430 closed, assigned to cammellos

[2019-11-12 10:28] #9431 closed, assigned to cammellos

[2019-11-12 10:29] cammellos commented on #9429
Close via https://github.com/status-im/status-react/commit/13b01ce8795c8890cc5b733bef21dba65435ca41

[2019-11-12 10:29] #9429 closed, assigned to cammellos

[2019-11-12 10:39] flexsurfer commented on #8854
| group chat  | group info in group chat |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/11790366/68594055-0d6c5e00-0497-11ea-8443-812d79424c4a.png) | ![image](https://user-images.githubusercontent.com/11790366/68664224-4ad8f600-0540-11ea-848e-fc1249f70831.png) |

[2019-11-12 10:49] errorists opened #9436 "Message notification badges are aligned incorrectly in tab bar"
![unknown](https://user-images.githubusercontent.com/4932774/68664695-0732bc00-0541-11ea-8dd1-6f6e811a5f0a.png)
as you can see on the image above, the badge is offset horizontally to the right, appearing detached from the icon it belongs to. I believe this was introduced here https://github.com/status-im/status-react/pull/9340

#### Expected behavior

Badge is placed 16px to the right of the left

[2019-11-12 11:03] alexjg commented on #8443
As in just show the loading spinner at the top of the page (and associated error report) but not implement the pull to refresh?

[2019-11-12 11:09] flexsurfer commented on #8443
@alexjg correct, thanks!

[2019-11-12 11:16] flexsurfer commented on #8845
@rachelhamlin @errorists any final decision how we want to implement this for v1?

[2019-11-12 11:31] errorists commented on #8845
@flexsurfer Yes, please follow this design for now [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=6238%3A813)

to recap, it's a hardcoded list, no dedicated categories subview just yet

[2019-11-12 11:34] flexsurfer commented on #8845
thanks, @rachelhamlin do we have a list we want for v1 ?

[2019-11-12 13:37] #8676 closed, assigned to nobody

[2019-11-12 13:39] churik commented on #9280
@rachelhamlin it is more visible now, I faced it several times per day.
It is pretty dangerous from user perspective, user may think that he lost assets.
So should be added to v1 from my POV.
Assets don't appear at all in some cases, sometimes they appear after several re-logins

[2019-11-12 14:39] rachelhamlin commented on #8845
@flexsurfer definitely want the list of public chats updated, so if you want to implement this new screen as well, be my guest. :) Please make sure to remove all the alternate languages and display only the one relevant to user's device (if not in English).

[2019-11-13 11:13] rasom commented on #9345
@andmironov

I don't get what that means

**upd** forget it, I'm retarded

[2019-11-13 11:43] flexsurfer commented on #8845
| English | Russian | Deutsch |
| ------------- | ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/11790366/68760694-bee3ce80-0612-11ea-80aa-6b6eb3fe2021.png) | ![image](https://user-images.githubusercontent.com/11790366/68760743-de7af700-0612-11ea-8a23-09715af003e3.png) | ![image](https://user-images.githubusercontent.com/11790366/68760851-15e9a380-0613-11ea-9c

[2019-11-13 11:52] errorists commented on #8845
nice, I like that contextual language chat!

[2019-11-13 11:55] Serhy commented on #7847
Not relevant because no extensions in 0.14 build for now

[2019-11-13 11:55] #7847 closed, assigned to nobody

[2019-11-13 12:00] Serhy commented on #7693
It was fixed. Closing this issue.

[2019-11-13 12:00] #7693 closed, assigned to nobody

[2019-11-13 12:06] jakubgs commented on #9394
Here's an initial implementation of the TCP ping RCP call in `status-go`:
https://github.com/status-im/status-go/pull/1672
It needs some tweaks but it works:
[code]
[code]

[2019-11-13 14:29] churik opened #9444 "Message history is not shown if you go to the public chat through the link from another chat"
# Bug Report
Not critical from my POV, because if you go back and open chat from home view - the history is loaded.

## Problem
#### Expected behavior
can see chat history

#### Actual behavior
chat view is empty

#### Acceptance Criteria

Rules for the future PR to be accepted.

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

1) Create a new account
2) Create

[2019-11-13 14:30] churik commented on #9444
From @cammellos:
the issue is that when you go from chat->chat component-did-mount is not called, as the component is not unmonted.

[2019-11-14 08:11] rasom commented on #9348
@guylouis @andmironov
another reason why I wouldn't grey out the account is that a user can enter PUK on another device and "unfroze" the card there. We can't know it before user will try to interact with a card. So forcing them to enter PUK code might be unnecessary.

[2019-11-14 08:26] rasom commented on #9354
Don't forget that iOS part is kind of irrelevant for those tasks.

[2019-11-14 09:11] andmironov commented on #9348
Wait, but, if I accessed a frozen key on another device it does not mean it should unfreeze on the old one.

What if my device was stolen and the card got frozen because the thief does not know my passcode?

[2019-11-14 09:14] andmironov commented on #9354
It is for now but should be kept in mind that the copy + icon ("Fingerprint"+ fingerprint icon) might change depending on the device in the future

[2019-11-14 09:18] guylouis commented on #9348
It all comes down to that 'being frozen or unfrozen' is a status for the card and not the account on the phone

What would make more sense is to never show the account as freezed on any phone, because the phone has no way to know if the card is forzen or not actually

[2019-11-14 09:18] andmironov commented on #8443
Hey! Just to make things clear, I still think having a pull-to-refresh is important, but it could be ignored **for now** to keep things simple

that would work for now! I don't know how often the amounts get updated in the background, but if we want to keep things transparent and stay resourceful (Principles!) we still need to show this after a certain timeout:

<img width="405" alt="Screen Shot 2

[2019-11-14 09:18] #9227 closed, assigned to nobody

[2019-11-14 09:20] andmironov commented on #9348
ok, but how do we prevent users from entering the passcode more than 3 times and inform them about it?

[2019-11-14 09:23] guylouis commented on #9348
With regards to the 3 PIN attempts, it's exactly the same experience as with your banking card and with ATMs, it's the user responsability to remember that he has already made 2 wrong attempts with his card, when he tries for the third time (with the same phone, or another one) and thus take the risk to block it

[2019-11-14 09:47] andmironov commented on #9348
Sorry, i still don't understand. What is that? In my banking app the card gets blocked :-)

[2019-11-14 09:53] guylouis commented on #9348
Let's say you go to an ATM and type 2 times a wrong PIN. You will get on this ATM a message saying that you have only one attempt left on your card. Then you leave and try with another ATM, when you type your PIN on this new ATM you don't get a warning message before entering your PIN that you only one have attempt left on your card. It's your responsability to know that you have only one attempt

[2019-11-14 10:07] churik opened #9446 "Connection with card is not restored if it was lost during login"
# Bug Report

## Problem
After interrupting connection with the card during log in it is not restoring after tapping card again, so you need to enter PIN again.
#### Expected behavior
connection is restored

#### Actual behavior
endless spinner
![photo_2019-11-14 11 01 30](https://user-images.githubusercontent.com/4557972/68846968-24e15c00-06ce-11ea-8c31-b937533f2f86.jpeg)

### Reproduction

[comm

[2019-11-14 10:25] alexjg commented on #8443
I'm happy to add that UI to the component I'm building, it's not particularly complicated. However, where's the best place to track that timeout? As part of the component state or is there something in the application state I can use?

[2019-11-14 10:51] andmironov commented on #8443
sorry, I am not familiar with how often the amounts get updated and how long it takes so let's find that out first :-) maybe there's no reason for this state to exist at all

[2019-11-14 11:04] #8854 closed, assigned to nobody

[2019-11-14 11:51] hesterbruikman commented on #8443
This is a good point. We used to have issues with cryptocompare and a far from pretty loading state would persists, covering the wallet amount. But maybe the conversion pulling works different now.

[2019-11-14 12:29] rasom commented on #9354
@andmironov @guylouis
I'm not sure the whole thing as it is formulated at the moment makes sense. Currently we can neither decrypt user's database nor start listening for incoming messages without keycard, so I don't think that it actually makes sense to be able to log into the app without using the keycard. We can store PIN if user doesn't want to enter it, but card will still be needed.

[2019-11-14 12:50] rasom commented on #9348
@andmironov considering that we won't grey out accounts, are there any changes that should happen in design before proceeding with implementation?

[2019-11-14 13:30] guylouis commented on #9354
As discussed and agreed in #keycard channel, the encryption key m / 43' / 60' / 1581' / 1' / 0 can be stored on the phone when the user selects the 'don't ask for card all the time ' option

[2019-11-14 14:21] flexsurfer commented on #9425
there are two different things why UI hangs
1) we have huge fx for tokens validation in nightlies
2) because of react-navigation we initialize all views and subscriptions after sign in

in this task, we'll address the only first one

[2019-11-14 14:41] andmironov commented on #9371
Current state of the GUI https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4520%3A37198

[2019-11-14 20:20] acolytec3 commented on #9381
@yenda @3esmit  I'm going to work this one in a separate PR since it doesn't seem to be really related to the work on #9240.

@yenda to resolve this, it seems like firing `navigate-reset` isn't the right approach since this actually grabs the navigation as part of the process and I think all we really want to do is pop the :qr-scanner spot off the `navigation-stack` so it doesn't navigate back to

[2019-11-15 05:44] ryanschneider commented on #9280
@yenda based on the error message reported, I think it's actually happening here:

https://github.com/status-im/status-go/blob/89659f85b49b48f4409ed9f522397b99728b214b/services/wallet/iterative.go#L69

Which seems to be called from here:

https://github.com/status-im/status-go/blob/89659f85b49b48f4409ed9f522397b99728b214b/services/wallet/commands.go#L98

But I can't find where that's called to see

[2019-11-15 09:29] #8995 closed, assigned to cammellos

[2019-11-15 12:23] jakubgs commented on #9394
I've finally merged the `status-go` changes: https://github.com/status-im/status-go/pull/1672
Big kudos to Adam for helping me a lot with that PR.

@yenda you can see how the RPC call should be used here:
https://github.com/status-im/status-go/blob/develop/rtt/README.md

The call should be available as long as you use a version from [`v0.34.0-beta.9`](https://github.com/status-im/status-go/tree/v0

[2019-11-15 12:54] flexsurfer commented on #9425
for 2 we could show loading indicator until UI will be ready

[2019-11-15 13:00] #8845 closed, assigned to nobody

[2019-11-15 13:00] #9290 closed, assigned to nobody

[2019-11-15 14:53] Serhy opened #9451 "Not possible to pair new account with keycard having pre-generated PUK/Passcode"
# Bug Report

## Problem
Applet in the new keycards is not initialised. Means there is no PIN/PUK/Passcode generated yet.
However in a case keycard has PUK code and Passcode generated but not paired to any account there is a weird flow happens while creating new account with keycard as key storage: after confirming 'Seed' phrase user redirected right to 'Confirm passcode'. And entering any passcod

[2019-11-15 15:03] Serhy commented on #9451
@guylouis please, need your input here for expected behavior

I suggest in that case we follow the same flow when keycard has not been initialised. So
`Begin setup` -> Hold the card to the phone

The next is:
`Enter passcode` -> `Confirm passcode` (not  `Enter your pairing code` screen) appears.

After confirming passcode we redirected to `Enter your pairing code` screen followed by `Backup "Seed"

[2019-11-15 15:15] churik opened #9453 "Can open multiaccount with empty password if tap on "Next" quickly 2 times in a row"
# Bug Report

## Problem
If tap quickly several times on the "Next" button on the "Select key storage" screen, one "Create your password" screen will be dismissed and you will be redirected directly to "Confirm your password" screen and can proceed with an empty screen.

#### Expected behavior
will be redirected to "Create your password" screen

#### Actual behavior
redirected "Confirm your passwo

[2019-11-15 15:33] guylouis commented on #9451
@Serhy thanks for finding this bug!

I fully agree with your suggestion of desired behaviour

In terms of priority regarding v1 release, since in v1 we will not have 'reset keycard' feature #9229, this case will happen only very rarely, as you said only "when user stops keycard pairing during new account creation at 'Write codes down and store them securely' screen tapping 'Cancel' on this screen

[2019-11-15 15:37] andmironov commented on #9348
@guylouis ok, but my question is, how do we indicate that the user has no attempts left?

[2019-11-15 15:38] Serhy commented on #9451
Yes, agree it's not a V1 priority issue.

[2019-11-15 15:38] andmironov commented on #9348
@rasom most likely yes, as soon as I understand :-) currently I don't. We need to prevent users from entering the prong passcode mare than three times, right?

[2019-11-16 19:53] acolytec3 commented on #9381
@yenda Fixed the spec error by changing the `assoc` to `update` when updating the navigation stack.  That said, it hasn't solved the problem.  I modified the code slightly  to just build a brand new navigation stack per below
`(let [[navigation-stack'] `({:chat-stack :home})]`
and I verified in re-frisk that the :qr-scanner` keyword is being removed from the stack after I successfully scan a QR co

[2019-11-17 03:16] yenda commented on #9381
I'll try to look tomorrow but you cannot just alter the navigation-stack like that. There is also a stack in react-navigation as well and they need to stay synced. That's why I was suggesting navigate-reset which let's you define a new stack for both

[2019-11-17 03:50] acolytec3 commented on #9381
That makes sense. I saw some references in the code to the react navigation
stack so will look at that as an alternative to what I have now.

On Sat, Nov 16, 2019, 10:16 PM yenda <notifications@github.com> wrote:

[2019-11-18 06:41] cammellos opened #9465 "Improve bandwidth usage"
As a user
I want the status-app to consume less bandwidth
So I can use the app without burning through my data plan

### Problem
Currently the status-app uses a large amount of bandwidth https://github.com/status-im/status-react/issues/9081 . This is likely due to how whisper works https://discuss.status.im/t/fixing-whisper-for-great-profit/1419 .

A potential solution has already been identified

[2019-11-18 06:53] cammellos opened #9466 "[WIP] Ensure connectivity is maintained in case the connected node is down"
As a user
I want to maintain connectivity with at least a waku-node even if the one I am connected goes down
So that I can continue using the app if there are some technical issues

### Assumptions
* Waku nodes are used in the app
* The client connects to a single waku-node

### Problem

By connecting to a single node, the app would loose connectivity if that node is down.

In that case the app sh

[2019-11-18 06:57] cammellos opened #9467 "Connect to the closest waku-node"
As a user
I want to connected to the closet waku node
So that I can retrieve messages faster

### Problem

Waku nodes will be located in different geographical reason, likely there will be a tangible performance difference by connecting to the closest node available.

A client should connect to the closest node available by ping time, and should prefer connecting to that node if available.

### Ac

[2019-11-18 07:05] cammellos commented on #9425
@flexsurfer are you actively looking into this or should I take a look? (I have noticed you moved it in "To do")

[2019-11-18 07:54] flexsurfer commented on #9425
@cammellos I've made a research and found two reasons, 1 was only in nightly and 2 not so critical and could be done later, but if you want you can look at it, i don't work on in it anymore

[2019-11-18 07:58] flexsurfer commented on #9425
2. because of react-navigation we initialize all views and subscriptions after sign in

i think the solution could just keep loading indicator until UI is initializing, so it's not a performance optimization but just make UX better

[2019-11-18 08:33] ScyDev commented on #5242
@gitcoinbot Yes, working on it.

[2019-11-18 09:43] errorists opened #9469 "Update chat message appearance"
The purpose of this task is to align any chat message styling with the intended design, some of the values outlines in the story may already be correct and present in code, nevertheless I ask to double check that's the case. The purpose here is to make sure the chat message UI is bug free and a joy to look at while providing a solid foundation to build chat based features like message extensions,

[2019-11-18 09:51] StatusSceptre commented on #7197
Hi @iAmServer are you still working on this issue?

[2019-11-18 09:52] StatusSceptre commented on #7633
Hi @zoek1 are you planning to finish this issue?

[2019-11-18 09:54] StatusSceptre commented on #8818
Hi @agutsal do you plan to finish this bounty?

[2019-11-18 10:01] StatusSceptre commented on #8837
Hi there @igetgames - are you still working on this one?

[2019-11-18 10:17] yenda commented on #8443
@alexjg you can call `update-prices` https://github.com/status-im/status-react/blob/88dbeead42f640a1ba8592041bbdcff656297799/src/status_im/wallet/core.cljs#L242

It uses `get-prices` here https://github.com/status-im/status-react/blob/298f000fcb4bd98b4180f196fcd80c0508696983/src/status_im/utils/prices.cljs#L42 to which you can add a timeout

[2019-11-18 10:18] errorists opened #9470 "Ignore Dark Mode setting on iOS13"
# Problem

At present, whenever dark mode is enabled on iOS, it only introduces a bunch of bugs without any advantages.

- Status bars are presented white making them invisible against our white backgrounds,

- photo picker dialogues are presented with incorrect styling all over, making them difficult to use
- dark keyboards are an unwelcome sight without a Dark Mode of our own.

## Implementation

[2019-11-18 10:45] oskarth commented on #9467
@cammellos do you think response time is related enough to bandwidth usage that it should be part of the same piece of work? or do you think this will directly impact bandwidth due to things like connection drops etc?

Another option might be to tackle this independently.

[2019-11-18 10:52] rachelhamlin opened #9471 "Infura/Etherscan request optimization"
# Problem

Placeholder issue: Ensure we have an adequate # of balance requests from Infura and/or Etherscan before v1.

Related issue - #8746

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for the future PR to be accepted.

## Notes

Random notes to keep in mind while implementing it. Mostly about rela

[2019-11-18 11:11] errorists opened #9472 "Add an empty state for contact lists"
### User Story

As a user I want to be provided with some assistance when I'm presented with an empty list of contacts, to invite and add some of my friends here.

### Description

Let's add an empty state for when any of the contacts list is empty, both in Profile -> Contacts and New Chat -> 'Contacts' list

Tapping the 'Invite friends' button presents a Share Sheet with the option to share your

[2019-11-18 11:15] rachelhamlin opened #9473 "Fix ENS setting glitches + disallow setting before Tx confirmed"
# Bug Report

## Problem

As I was reclaiming my ENS name `rachel.stateofus.eth` on the 18/11/19 nightly, I ran into a couple of small snags:

1. The '->' button to trigger the transaction is very, very slow to respond. I tapped on it many times before the bottom sheet finally appeared.

2. When the bottom sheet did appear, it loaded with this `Invalid number` error.

![IMG_5953](https://user-imag

[2019-11-18 11:28] #8135 closed, assigned to StatusSceptre

[2019-11-18 11:52] cammellos commented on #9467
@oskarth historically we have had issues with connection drops, as if you get disconnected from a mailserver/waku node while you are syncing messages, you have to start from scratch, leading to fetching the same messages multiple times.

This is technically correct, as mailserver don't have a synchronization protocol and therefore they are not consistent which each others, so attempting to use the

[2019-11-18 12:01] churik commented on #9473
@rachelhamlin

2) "Invalid number" in Gas Price is known issue in all wallet flows, should we log it separately @flexsurfer ?

3) You saw several transaction sign screens because you tapped a lot of times.
Is there any way to prevent multi tapping @flexsurfer ?

[2019-11-18 12:41] flexsurfer commented on #9473
@churik  what do you mean by issue for 2 ?  we have an issue to show this error with more user friendly message

for 3 yes, we must prevent this

[2019-11-18 13:37] elegant651 commented on #9054
Close issues with #8135 #9170
Can you check for this bounty please? https://gitcoin.co/issue/status-im/status-react/9054/3515
@rachelhamlin @StatusSceptre

[2019-11-18 13:40] #9345 closed, assigned to nobody

[2019-11-18 14:36] corpetty commented on #9394
as a side effect, all clients will be constantly broadcasting their IP to the list of available mailservers.

[2019-11-18 14:38] jakubgs commented on #9394
I don't know about constantly. I guess only at login, and when a connection with current one fails, or when a user triggers a check. I don't think it should be periodic at all.

[2019-11-18 14:38] rachelhamlin commented on #9159
Agreed @hesterbruikman! I've left it as p1, though we don't have a plan yet.

[2019-11-18 14:41] corpetty commented on #9394
as long as at the moment of choosing, the client has relatively refreshed response times, otherwise they may make a decision on stale data, leading to poor UX

[2019-11-18 14:42] corpetty commented on #9394
this will become more necessary as the available choices move outside of our control and community based.

[2019-11-18 14:45] jakubgs commented on #9394
True fact, but that would mean it's necessary only when user opens the mailserver list view, otherwise a refresh of that data is only necessary when a connection to previously used mailserver fails.

[2019-11-18 15:00] yenda commented on #9394
@jakubgs @corpetty the way I'm implementing it right now it uses the method whenever it needs to connect to a mailserver if the user didn't pin one already. This means that it does it at login, whenever going back online after being offline, and when removing a custom mailserver (if there is no selected mailserver). This will be superseeded soon by waku node anyway.

[2019-11-18 15:04] churik commented on #9473
Ah. OK, just didn't find it from the 1 attempt. Thanks!

[2019-11-18 20:12] acolytec3 commented on #9381
@3esmit  #9476 fixes this now.  @yenda Thanks for the guidance on the react-native `navigation-stack` updates.  I found the `navigate-reset` utility method that does what is needed and updated my PR accordingly.

[2019-11-18 23:19] freedomtrain opened #9477 "Building Desktop on MacOS Catalina ?"
I have followed the directions in the documentation for build Status Desktop.
I m running on macOS Catalina.
When I do make release-desktop the build process runs but end with
make[1]: Leaving directory

Thanks for your help

[2019-11-18 23:20] #9477 closed, assigned to nobody

[2019-11-18 23:21] freedomtrain opened #9478 "Desktop Build Fails on macOS Catalina."
I have followed the directions in the documentation for building Status Desktop.
I m running on macOS Catalina.
When I do "make release-desktop" the build process runs but ends with
"make[1]: Leaving directory..."

Thanks for your help

[2019-11-19 06:34] saratsista commented on #6205
@mandrigin Can I start working on this issue?

[2019-11-19 07:41] errorists commented on #9394
@jakubgs you asked about the UI, so this is how I imagine it would look like. Split into two lists, one for recommended and other for everything else, each mailserver lists response time with relative ranges like Fast - Average - Slow - No response. This would leave any ambiguity out. For kicks on the left is how it currently looks like 🤢

![servers](https://user-images.githubusercontent.com/49327

[2019-11-19 09:29] churik opened #9480 "Quoted messages are cut when contains several rows"
# Bug Report

## Problem

Last char is cut from message when using `>` markdown and message contains several rows

#### Expected behavior
Full message

#### Actual behavior
![photo_2019-11-19 10 25 06](https://user-images.githubusercontent.com/4557972/69133865-df9aa100-0ab6-11ea-82df-358efed0235f.jpeg)

#### Notes

Introduced by markdown support commit https://github.com/status-im/status-react/com

[2019-11-19 09:40] churik opened #9481 "Input field in chat is overlapping by status tab if navigate to chat by tag-link"
# Bug Report

## Problem
![photo_2019-11-19 10 40 32](https://user-images.githubusercontent.com/4557972/69135208-078b0400-0ab9-11ea-96bb-eb0dcc7a5cbc.jpeg)

#### Expected behavior
no overlapping

#### Actual behavior
input field is overlapped

### Reproduction

- Open Status
- Join public chat
- Send  tag-link to another chat (i.e. #status)
- Tap on it to join chat

### Additional Information
- St

[2019-11-19 09:49] churik opened #9482 "Stickers in "Recent" are not aligned to the right if they are from different stickerpacks"
# Bug Report

## Problem

![photo_2019-11-19 10 45 51](https://user-images.githubusercontent.com/4557972/69135660-c47d6080-0ab9-11ea-9e80-eaa87b851934.jpeg)

#### Expected behavior
stickers are aligned to the right

#### Actual behavior
stickers are not aligned

### Reproduction

- Open Status
- Join any public chat
- Install free stickerpack and buy another one
- Send one sticker from each sticke

[2019-11-19 11:55] Serhy opened #9484 "Reintroduce back collapsing of long messages in chats"
# Bug Report

## Problem

After moving message parsing to status-go (in https://github.com/status-im/status-react/pull/9409) we lost (as known issue) collapsing messages when message content has more than 20 lines.

#### Expected behavior
Messages with more than X (variable) lines are collapsed in message bubble

#### Actual behavior
Messages with more than X (variable) lines are collapsed in mess

[2019-11-19 11:55] Serhy commented on #9484
There is a https://github.com/status-im/status-react/issues/9469 task dedicated to styling of long messages but this issue is for reintroducing line-limit back.

[2019-11-19 11:57] churik opened #9485 "Messages >~ 5000 chars break layout in chat on Android"
# Bug Report

## Problem
Messages from others are not bubbled (reported in https://github.com/status-im/status-react/issues/3097)  and if you are a sender of message, content is not shown (white screen instead)
5000 is approximate number, the message with 4661 is rendered fine, 5000 contains an issue.

#### Expected behavior
All messages are shown, markdown is preserved (as on IOS)

#### Actual be

[2019-11-19 12:33] churik opened #9487 "Not all items are displayed with markdown in nested message"
# Bug Report

## Problem
If a lot of items should be shown with markdown, it applies only for some of them in the start and in the end of the message.
REproducible with Android only(tried with Android 8 and Android 9)

#### Expected behavior
Markdown is applied to all items

#### Actual behavior
![no_markdown](https://user-images.githubusercontent.com/4557972/69146479-3eb8df80-0ad0-11ea-874b-acb89

[2019-11-19 12:50] churik opened #9488 "Reply in input box is not scrollable"
# Bug Report

## Problem

On released 0.13.2 when you tap on long message > Reply you can scroll inside input box to see all content.
Currently you see only three first rows and ..., content is not scrollable

#### Expected behavior
Content is scrollable and can see the whole message

#### Actual behavior
<img width="218" alt="photo_2019-11-19 13 47 33 jpeg 2019-11-19 13-47-48" src="https://user-i

[2019-11-19 12:56] Serhy opened #9489 "No sorting of chat elements per latest activity on Chats view"
# Bug Report

## Problem

When message is received to chat we do not move the chat item to the top of list of chats on `Chats`. It's randomly (could not identify pattern yet) sorted  and stands among list of the rest chat elements making it non user friendly as you need o scroll across whole list of chats to find out where new message received.

#### Expected behavior
Chat items on `Chats` view so

[2019-11-19 12:57] rachelhamlin commented on #9371
Thanks @andmironov!

@yenda do we have existing implementations of the [amount input](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4624%3A9) and [network fee adjustor](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4624%3A76) for the bottom sheet? Wherever possible in the I would like to reuse existing components and functionality.

We have [an issue open]

[2019-11-19 13:44] jakubgs commented on #9081
I've added a `Topic` attribute to `Envelope` in https://github.com/status-im/whisper/pull/38.

[2019-11-19 14:06] rachelhamlin commented on #9371
Update: I understand we are implementing the [all-in-one modal version](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4648%3A38630) of the designs. No need to display `Add extensions` @flexsurfer.

[2019-11-19 14:10] Serhy opened #9490 "Userpic in reply snippet not updated after re-reply different user message"
# Bug Report

## Problem

When user quotes message from different user (including your own account) while reply snippet already present in message input - then the userpic of different user is not updated in message input.

#### Expected behavior
Userpic corresponds to contact who message is quoted

#### Actual behavior
Userpic in reply snippet not updated after re-replying different user message

[2019-11-19 14:31] churik commented on #9490
Continuation of #6214 - closed it

[2019-11-19 14:31] #6214 closed, assigned to nobody

[2019-11-19 14:32] churik commented on #9489
@rachelhamlin seems like a very annoying issue, especially when you have a lot of chats.
Probably worth to be included into v1?

[2019-11-19 14:52] rachelhamlin commented on #9489
Added to P1, and agreed this would be nice to fix.

[2019-11-19 15:03] rachelhamlin opened #9491 "Support for multicollateral DAI"
# Problem

Multi-collateral DAI launched on November 18th. Changes to the DAI token are required to support this shift.

## Implementation

- The current DAI token is now 'single collateral DAI' and should be renamed to `SAI`.
- In addition to `SAI`, we should add the new `DAI` to our hardcoded token list.
- The address for multi-collateral `DAI` is [0x6b175474e89094c44da98b954eedeac495271d0f](htt

[2019-11-19 15:11] churik opened #9492 "Userpic (avatar) in group chat is not shown if sender of the message matches with last system message"
# Bug Report

## Problem
If user sends a message just after he was joined to public chat - his userpic is not shown for both messages (system and sent).
So if sender of the message is the same that in last system message - userpic is not shown.

#### Expected behavior
Avatar is shown

#### Actual behavior
<img width="226" alt="photo_2019-11-19 16 08 54 jpeg 2019-11-19 16-09-16" src="https://user-i

[2019-11-19 15:21] churik opened #9493 "No SNT by default after multiaccount creation / restoring"
# Problem

On release 0.13.2 after creating the account you saw ETH + SNT by default, and now only ETH enabled.
So to see SNT you need to go to the options > Mange assets > enable SNT.

I believe that it is better to return SNT by default, as it was before.

[2019-11-19 15:30] marcusrbrown commented on #8837
I am, I’ll post an update tonight.

[2019-11-19 15:38] Serhy opened #9494 "`Your key recovered` screen on create/recover account if navigation to "Recover keycard" was while onboarding"
# Bug Report

## Problem

If to visit `Recover with Keycard` screen prior new account creation/recovering there is unexpected `You key successfully recovered` screen appears at the end of onboarding. Tapping `Finish` closes screen and I can proceed to use app fine, so issue is just the unexpected view about keycard which non-keycard key storage used.

#### Expected behavior
No `Your key has been s

[2019-11-19 15:43] yenda commented on #9371
Update follow up on RFC, we are implemting the GUI commands rather than fixing the text based ones as it will be faster, and preferable from a UX perspective.

- @flexsurfer is implementing the simplified  [all-in-one modal version](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=4648%3A38630)  of the GUI commands based off existing components
- we will remove the old commands (

[2019-11-19 15:50] churik opened #9495 "Empty chat instead of spinner while messages are rendering"
# Bug Report

## Problem
When chat contains heavy messages and you open it after relogin or on the next day instead of spinner like in [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=3%3A1031) you see "It's been quiet here"

#### Expected behavior
Spinner like in [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=3%3A1031)

#### Actual behavior
![rend

[2019-11-19 16:14] churik commented on #9344
@andmironov

This one (most critical one) is fixed in https://github.com/status-im/status-react/pull/9441
The rest has lower Prio for now, so moved it to P1 in epic #9264

[2019-11-19 16:17] churik commented on #9264
@guylouis @andmironov FYI: moved to P1 issue #9344 according to https://github.com/status-im/status-react/issues/9344#issuecomment-555581132

[2019-11-19 17:27] acolytec3 commented on #9491
Could I pick this one up?

[2019-11-19 17:58] errorists commented on #9488
actually this was done by me on purpose :D 3 lines hard limit

[2019-11-19 18:10] StatusSceptre commented on #9491
@acolytec3 yes please! It's a very small one (~50USD) and funded in ETH rather than DAI as I migrated our funds, but Gitcoin still supports only SAI :)

[2019-11-19 19:36] acolytec3 commented on #9491
@StatusSceptre Thanks!  Got a  PR going locally.  Who normally creates the assets in the 1x/2x/3x PNG sizes?  I took a first pass at it using GIMP and just took the DAI.png from the Maker Assets and shrunk it to 120, 80, and then 40 px across like all the other token PNGs.  Will include that in the PR.

[2019-11-19 21:44] 532910 commented on #7491
Looks fine, thank you!

[2019-11-20 06:47] cammellos commented on #9487
Verified it's not a problem with markdown specifically, seems like it's more of an issue with rendering an android

[2019-11-20 07:54] cammellos commented on #9490
Looks like this is a caching issue with re-frame (or the way we use re-frame). Subscription `chats/photo-path` is not re-run (likely because is cached), but the value passed to the view is the old one. I have verified the correct `from` parameter is passed.
You can also verify that by resetting the re-frame subscription cache (reload code), and the right picture will appear.

[2019-11-20 08:34] StatusSceptre commented on #9491
Would @errorists or @andmironov be willing to help convert the DAI logos to our required formats? :)

[2019-11-20 08:36] errorists commented on #9491
I am willing, always for the mysterious StatusSceptre! :)

[2019-11-20 08:57] errorists commented on #9491
and the assets can be found[ here](https://www.dropbox.com/sh/4du46xb25ox8ip2/AABwIYg8Ki19TcKARy1R2_HUa?dl=0)
I used [this image](https://twitter.com/MakerDAO/status/1196521459016798208) for reference since everyone seems to do their own take on the SAI badge

[2019-11-20 09:11] churik commented on #9488
Ah, so it is not an issue?
Ok, closing then

[2019-11-20 09:11] #9488 closed, assigned to nobody

[2019-11-20 11:25] #9492 closed, assigned to cammellos

[2019-11-20 11:27] #9489 closed, assigned to cammellos

[2019-11-20 11:30] #9453 closed, assigned to nobody

[2019-11-20 11:31] #9446 closed, assigned to nobody

[2019-11-20 11:47] flexsurfer commented on #9482
Oops

[2019-11-20 12:21] jakubgs opened #9500 "Upgrade nixpkgs to include Go 1.13"
I was requested by @cammellos to upgrade the current Go version we are using:
https://github.com/status-im/status-react/blob/5ecc7590d98fafd834a065dad82c01649b47c973/nix/derivation.nix#L20
But in order to do that I might have to do a full upgrade of our [`nixpkgs`](https://github.com/status-im/nixpkgs) fork.

Previous Go upgrade for reference: https://github.com/status-im/nixpkgs/commit/35e0ad9f6d

[2019-11-20 13:44] churik commented on #9372
@cammellos unfortunately still reproducible.
Full logcat:  [logcat.log](https://github.com/status-im/status-react/files/3869494/logcat.log)
Video: https://app.saucelabs.com/tests/594d71aa5cc341f5b314e927cb03a1a4?auth=76ad41f8a5554e8422ece59fda63526f#54

[2019-11-20 14:32] rasom commented on #9435
@guylouis
We have two ways to restore account at the moment:
1. by entering mnemonic
2. by pairing a keycard with existing acc on it

The problem with the second case is that we have to pair a card with a device before we can get master key address and check that this multiaccount already exists. We disabled the option to unpair card https://github.com/status-im/status-react/issues/9227 , and so t

[2019-11-20 14:56] jakubgs commented on #9500
It appears that the main issue with upgrading `nixpkgs` is that our `status-mods` branch in [our fork](https://github.com/status-im/nixpkgs/tree/status-mods) contains quite a few custom fixes to make old QT version work for MacOS desktop builds:

* https://github.com/status-im/nixpkgs/commit/f9763e572651199117f4444de0df6783068fecde
* https://github.com/status-im/nixpkgs/commit/e2ab4ad56aed99eca93c

[2019-11-20 14:57] vkjr commented on #9500
@vkjr, totally fine with that!

[2019-11-20 16:08] rachelhamlin commented on #4605
I really like the way Telegram and WhatsApp do this. At least on iOS/Safari, Telegram shows a panel of recent chats, and WhatsApp shows a list:

<img src="https://user-images.githubusercontent.com/15470435/69255521-dd683d80-0baf-11ea-9ae8-83f7d748ea35.png" width=250/>

I think we could bounty this one. @errorists would you want to work on something for the mobile browser share window?

[2019-11-20 16:15] errorists commented on #4605
I'd really like if we had a system going on for anything that's shareable. it can be a chat message, a wallet address, url, and you can pick if you want to share internally with one of your contacts or pass it over to the OS and share it with other apps. or the other way around, share something you like outside of Status, where you'd be asked to provide with who (private chat) or what group / publ

[2019-11-20 16:36] guylouis commented on #9435
for reference, this was discussed in the channel, and there is indeed a possibility to check some hash of the master key on the keycard by tapping the keycard, prior to any card-phone pairing. So by comparing this hash with the hash of the multiaccount on the phone, we can check if they are similar or not.

[2019-11-20 17:27] alexjg commented on #8443
I've been using the `prices-loading` and `prices-update` state to track most of this stuff at the moment so adding a timeout shouldn't be too tricky. Most of what I'm doing at the moment is figuring out how the react native animations framework works in a reagent context. I've pretty much got my head around that now so I'm just putting it all together.

[2019-11-20 20:28] 3esmit opened #9505 "Token Warnings"
# Feature Issue

Add a feature for warning users about tokens they hold and needs some action to be taken, such as upgrading to a new contract, or about potential security issues on the token.
The current listing of tokens the wallet have, could have a new optional fields for enabling this warnings.

### User Story

As a user, I want to be warned when I hold tokens which are not good to use, as fo

[2019-11-21 14:21] #9491 closed, assigned to StatusSceptre

[2019-11-21 14:59] jakubgs commented on #9500
I'm working on this in the `nixpkgs-upgrade` branch using the [`status-mods-upgrade`](https://github.com/status-im/nixpkgs/tree/status-mods-upgrade) branch of `nixpkgs` and currently I'm struggling with building `gomobile` correctly.

When building `status-go` I was getting:
[code]

So I checked the strings and indeed the pats in `gomobile` have been changed:
[code]
Which means it gets treated wit

[2019-11-21 15:01] jakubgs commented on #9500
This same process is done in the `buildGoPackage` function from `nixpkgs`:
https://github.com/status-im/nixpkgs/blob/dd5a7c9b/pkgs/development/go-packages/generic/default.nix#L46
https://github.com/status-im/nixpkgs/blob/dd5a7c9b/pkgs/development/go-packages/generic/default.nix#L211-L213
So in theory this is standard practice for Go packages compiled via Nix. Why then does it cause problems with `

[2019-11-21 15:48] flexsurfer commented on #9381
will be fixed here https://github.com/status-im/status-react/pull/9499

[2019-11-21 16:10] acolytec3 commented on #9381
Good by me.  Thanks all!

[2019-11-21 18:06] #9235 closed, assigned to StatusSceptre

[2019-11-21 18:16] acolytec3 commented on #9235
@StatusSceptre  PR merged!  Hopefully gitcoin doesn't get confused by this being in the old DAI :smiley:

[2019-11-22 11:09] errorists opened #9509 "Chat onboarding tooltip needs fixes to scroll behaviour"
# Problem

The current implementation of the chat onboarding tooltip has issues that relate to scrolling.

- First, if the list of chats is empty, the screen can't be scrolled. This should be fixed to accommodate scrolling, when the list is empty.

- Secondly, after the tooltip is dismissed, the list still counts its height for the purpose of scrolling. This can be best observed on the video below

[2019-11-22 11:24] jakubgs commented on #9500
My guess is that for some reason the Go upgrade to 1.13 causes it to ignore modules available in the `vendor` folder of `status-go` repo.

According to this page:

But I don't see us using this flag in `status-go` repo.

[2019-11-22 11:42] jakubgs commented on #9500
Looks like setting `GO111MODULE=off` fixes the `status-go` build errors.

[2019-11-22 12:00] Serhy opened #9510 "Timestamps in message bubble always displayed on second line"
# Bug Report

## Problem

Timestamp in message bubbles always displayed on next line after message content. We need to include width of timestamp value and if it fits (along with the text) message bubble max width -> to display it on the same line.

#### Expected behavior

If timestamp fits message bubble max width - it  is displayed on the same line with text
<img width="355" alt="Screenshot 2019

[2019-11-22 12:20] jakubgs commented on #9500
Now my issue is the `STATUS_REACT_HOME` env variable which normally was set here:
https://github.com/status-im/status-react/blob/b5038523879318dbb0fc081d0e898f71f71f4d69/nix/mobile/android/targets/release-android.nix#L112
And this somehow magically propagated to all the other Nix modules like the `fastlane/default.nix` which uses it to find `fastlane/Fastfile` location:
https://github.com/status-i

[2019-11-22 13:30] jakubgs commented on #9500
I found the Release notes for Nix 2.3, and this one sounds related:

Which is:

So I downgraded Nix to `2.2.1` and tried building again, and it failed the same way.
I'm confused as to which change caused this.

[2019-11-22 13:37] Serhy opened #9511 "Push Notification appears when app on foreground"
# Bug Report

## Problem

When message received while app on foreground (even in the same chat message received in to) - push notification appears anyway.
The same happens when app appears on foreground from background - PN appears (again).

#### Expected behavior
No PN appears if Status app on foreground

#### Actual behavior

If Status is running on foreground state or appears on foreground from

[2019-11-22 14:22] rachelhamlin commented on #9471
We're seeing a fairly regular pattern of failure by Infura to provide data in a timely fashion.

The ENS setting flow threw me [three errors/bugs](https://github.com/status-im/status-react/pull/9437#issuecomment-555915861) as a result of Infura failures.

[2019-11-22 14:43] jakubgs commented on #9500
Nope, still failing:
[code]
I can't tell how any of my changes other than a Nix upgrade could have cause this.

[2019-11-22 14:44] rachelhamlin commented on #9288
@cammellos @yenda @errorists @hesterbruikman considering this one for a bounty. It sounds like we need to do the following:

- ~Change the visual appearance of the snack bar~
- Prevent the blue nightrider from showing if snackbar is visible
- Snackbar takes precedence over nightrider; only display nightrider when chat IS connected and chats are being loaded
- Change the way we determine 'connected

[2019-11-22 15:27] errorists commented on #9288
Yes, I meant this is for a sensible engineer person to do a sensible implementation of the snackbar.
I can't prescribe the exact formula for that, but it mostly has to do with:
• adding delays when we consider a change of state permanent,
• being more lax and forgiving
• smoothing the animation so it doesn't drop frames,
• forcing the state to be persistent for at least ~1000ms so it doesn't blink

[2019-11-22 16:04] acolytec3 commented on #9235
@rachelhamlin @StatusSceptre Can this one get paid out today, now that it's merged? Just don't want it to get lost since the issue is closed.

[2019-11-22 16:24] StatusSceptre commented on #9288
You're right @errorists! Buttons. They're buttons.

Okay—description updated & bounty applied. 🤞

[2019-11-22 16:29] cammellos commented on #9288
There are 2 offlines states, one is for the chat and one for the wallet.
The reason is that the one we use for the wallet has been very unreliable, many times not reporting connectivity while effectively we can send chat messages. Peer count is the only one we actually use for chat, while for wallet we are forced to use the OS / react-native-net-info capabilities

[2019-11-22 16:33] errorists commented on #9288
Should we bundle / display the wallet state together with chat connectivity in the Chat tab?

[2019-11-22 16:37] cammellos commented on #9288
@errorists currently the snackbar has more states then the ones described in the issue:

* Connecting
* Wallet offline (Chat online but wallet offline)
* Chat offline (Chat offline but wallet offline)
* Offline (Both chat & wallet offline)
* Connected

How do you think it should be?

[2019-11-22 16:41] errorists commented on #9288
**Connecting** ✅ after coming back from Offline state or after having prolonged connectivity issues
**Wallet offline** ❎ - should be moved to wallet tab, don't show wallet state in chat
**Chat offline** ✅
**Offline** ❎ same as Chat offline for the purpose of Chat tab, if wallet is offline too, that should be displayed separately in the wallet tab
**Connected** ✅ follows **Connecting** once success

[2019-11-22 16:44] cammellos commented on #9288
sounds good, what about tabs like Profile/Settings, should we not show any connectivity state there other than Connecting/Connected (or not even those)?

[2019-11-22 16:47] errorists commented on #9288
Yes, I think this should be contextual to be understood - or - we need to be more explicit with the wording as to what exactly is offline and then having users read that. I prefer the first option, to separate wallet state into wallet tab, chat state into chat. if you're on airplane mode or something similar where there is no internet at all, then we could introduce a global snackbar state that ap

[2019-11-22 17:06] rachelhamlin commented on #9288
To be completely explicit, are you wishing for the copy to say this for each state @errorists?

Wallet offline ❎ - should be moved to wallet tab, don't show wallet state in chat
Chat offline ✅
Offline ❎ same as Chat offline for the purpose of Chat tab, if wallet is offline too, that should be displayed separately in the wallet tab
Connected ✅ follows Connecting once successful

I think `Offline` i

[2019-11-22 17:12] errorists commented on #9288
yes, i think it's enough, alternatively 'Chat offline' - 'Wallet offline'?

I think this will need to be designed but the way I imagined is exactly like chat, cc @andmironov

<img width="375" alt="offline" src="https://user-images.githubusercontent.com/4932774/69445828-6bc8f480-0d53-11ea-8ac1-61c7ac04103b.png">

[2019-11-25 07:17] flexsurfer opened #9525 "It takes too long time to load dapps list on Android and there is no list at all on ios"
# Bug Report

## Problem

Because of dap.ps the only way to navigate to different dapps,  it's a major part of our application, and currently list of dapps works really bad, It takes too long time to load dapps list on Android and there is no list at all on ios

#### Expected behavior

list loads fast on ios and android

Related issue : https://github.com/dap-ps/discover/issues/16

[2019-11-25 07:17] flexsurfer commented on #9525
cc @rachelhamlin @andremedeiros

[2019-11-25 09:54] flexsurfer commented on #9509
![image](https://user-images.githubusercontent.com/11790366/69530171-e1121080-0f71-11ea-8bad-efefe03d4925.png)

[2019-11-25 09:54] rachelhamlin commented on #9525
Hmm. Wonder if this has the same root as the [iOS bug](https://github.com/dap-ps/discover/issues/16) - dapps not loading at all. We had a contributor on it but I think we should take a look at this ourselves before v1.  Dapps are loading okay on my desktop browser.

Any chance this is also [Infura related](https://github.com/dap-ps/discover/issues/54)?

[2019-11-25 10:03] rachelhamlin opened #9528 "Can't submit DApps on dap.ps"
# Bug Report

## Problem

Issue is captured in the dap-ps org repo:

[Can't submit new DApp on iOS](https://github.com/dap-ps/discover/issues/12)

#### Expected behavior

User can complete a form and stake SNT in order to submit their DApp to be listed.

#### Actual behavior

Connectivity errors.

#### Acceptance Criteria

Submission is successful.

### Reproduction

- On iOS, navigate to https://

[2019-11-25 10:10] StatusSceptre commented on #9288
You're approved @tbenr!

In addition to fixing/smoothing the behavior of the snackbar animation, could you also implement the `Offline` snackbar in the wallet module?

The possible connectivity states are captured in [this comment](https://github.com/status-im/status-react/issues/9288#issuecomment-557602815). But regardless of which module is connected or disconnected, the copy should only ever re

[2019-11-25 10:44] jakubgs commented on #9500
I tried using:
[code]
As Adam suggested, but `gomobile` fails while trying to download dependencies, so it doesn't work.

[2019-11-25 11:21] flexsurfer commented on #9525
yes it's in the description

here are two different issues:
1) list is empty on ios, because of CORS
2) loading long time on Android - because of infura yes, but different infura - ipfs, stickers also slow because of infura ipfs

[2019-11-25 12:32] jakubgs commented on #9525
But we are loading those Infura IPFS resources via an AWS CDN, so those should be cached.

[2019-11-25 12:35] flexsurfer commented on #9525
@jakubgs could you elaborate? i believe we load them directly from ipfs.infura

[2019-11-25 12:43] jakubgs commented on #9525
Not directly, what we do is our backend calls Infura and makes images available via it's own API available at `/metadata/image` which is affected by the AWS CloudFront CDN as you can see from the headers:

![dap_ps_image_req](https://user-images.githubusercontent.com/2212681/69541467-7e2c7380-0f89-11ea-9e41-e3979499aa99.png)

![dap_ps_image_req_headers_000](https://user-images.githubusercontent.co

[2019-11-25 12:54] flexsurfer commented on #9525
yeah was talking about stickers in the status app, sorry for confusion

[2019-11-25 13:23] tbenr commented on #9288
@StatusSceptre sure, let me start with the main topic. I'll keep you informed

[2019-11-25 14:30] rasom commented on #8818
@errorists >  i'm sure you don't, doesn't look like something we have anymore

We don't have this screen anymore. No screen, no issue

[2019-11-25 14:30] #8818 closed, assigned to nobody

[2019-11-25 14:41] jakubgs commented on #9500
Android builds seem to work, but iOS is failing when building `git`:
[code]
But hacks around that can be found in `nixpkgs`, which is setting `doCheck = false`:
https://github.com/NixOS/nixpkgs/blob/9b67ea91/pkgs/os-specific/linux/openvswitch/default.nix#L45
But that is already done in our branch:
https://github.com/status-im/nixpkgs/blob/dd5a7c9b/pkgs/applications/version-management/git-and-tools

[2019-11-25 14:45] jakubgs commented on #9500
Looks like this is a known issue: https://github.com/NixOS/nixpkgs/issues/73806
And it seem to have been fixed 3 days ago in: https://github.com/NixOS/nixpkgs/pull/73826

[2019-11-26 00:29] jakubgs commented on #9500
PR: https://github.com/status-im/status-react/pull/9531

[2019-11-26 05:14] rasom commented on #9354
@andmironov @guylouis
We still don't have touch/Face ID login implemented in our app, so for the first version i would prefer to have just a checkbox with label like "Don't ask password on next login", similar to what we have for on-device account, and then on the next iteration add touch/Face ID.

Does it sound good enough?

[2019-11-26 06:52] guylouis commented on #9354
@rasom seems good to me

[2019-11-26 11:12] flexsurfer commented on #9184
same on galaxy s10

[2019-11-26 12:18] errorists commented on #4605
I did simple designs for sharing from outside of Status to Status and the inverse, 👀 [here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=7253%3A35051)

Now sharing inside of Status, that's slightly another thing, we might want to label it as `Forwarding` or I can try bundling thet in the Share outside flow.

[2019-11-26 14:32] #9184 closed, assigned to nobody

[2019-11-26 14:33] #9359 closed, assigned to nobody

[2019-11-26 14:34] #9360 closed, assigned to nobody

[2019-11-26 15:28] rasom commented on #9354
@andmironov
Currently it possible to connect card to device at `step 1` screen and then on entering pin you will be logged into account without `step 2` screen shown at all. Can we somehow move that checkbox to `step 1`? Because there's a chance user will never see that option.

[2019-11-26 15:31] #9500 closed, assigned to nobody

[2019-11-26 15:49] jakubgs opened #9538 "Improve mailserver selection screen"
### Description

In the process of work on #9394 the #9475 PR has implemented automatic `mailserver` selection based on TCP ping using the `mailserver_ping` JSON RPC call, but it did not modify the UI to display to the user the newly available data.

An improved design was proposed by @errorists :

![servers](https://user-images.githubusercontent.com/4932774/69126482-99d6dc00-0aa8-11ea-89d8-640f59

[2019-11-26 15:50] jakubgs commented on #9394
Created a separate issue for UI improvement as #9475 doesn't address it: #9538

[2019-11-27 08:01] andmironov commented on #9354
@rasom you mean the user will never see it if it’s on? If yes, I believe it’s safe to say this should be handled in settings (turning the biometric sign in off)

I understand the reason to put the checkbox to ‘step 1’ thought but it’s hard to fit it in there now.

On the other hand, we will have to do it eventually if we’re going to implement the new card interaction design (https://github.com/sta

[2019-11-27 10:50] andmironov commented on #9365
UPD video of how it works https://dribbble.com/shots/8379578-NFC-card-interaction

[2019-11-27 11:18] andmironov commented on #9354
We might go with this, showing the popup when the checkbox is checked

<img width="773" alt="Screen Shot 2019-11-27 at 14 17 40" src="https://user-images.githubusercontent.com/3115606/69719020-b0240e00-1120-11ea-845d-237b702e3290.png">

cc @rasom

[2019-11-27 11:30] rasom commented on #9354
@andmironov biometric auth is not mandatory when we save password for a regular acc (and it is kind of hidden in settings, that's why i had no idea about it till yesterday), should we have a parity here with a keycard account?

[2019-11-27 12:48] andmironov commented on #9354
It's not, but for the regular sign in it should work the same (show a popup asking if the user wants to enable biometric), it just has not been implemented yet (i don't know why and i don't know what's the plan)

<img width="847" alt="Screen Shot 2019-11-27 at 15 47 17" src="https://user-images.githubusercontent.com/3115606/69724649-64c42c80-112d-11ea-9e6d-96065295a32f.png">

Please see all the si

[2019-11-27 13:32] #9210 closed, assigned to nobody

[2019-11-27 13:32] #9381 closed, assigned to nobody

[2019-11-27 14:57] churik opened #9540 "Search can't be opened by pull-to-refresh gesture"
# Bug Report

## Problem

Search edit box appears and immediately hides when pull-to-refresh - so the search of chats is not usable.

#### Expected behavior
Can search

#### Actual behavior
![search](https://user-images.githubusercontent.com/4557972/69733814-41e64800-112e-11ea-9fca-8a025d4acbf8.gif)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Statu

[2019-11-27 15:11] #9435 closed, assigned to nobody

[2019-11-27 17:22] errorists commented on #9540
@rachelhamlin search is embarrassing at the moment, can I put forward a suggestion to disable it for v1? :)

[2019-11-28 09:01] ScyDev commented on #5242
@gitcoinbot Yes, working on it.

[2019-11-28 09:33] churik commented on #9540
It is at least a way to access chats quickly, so don't agree with removal.
It's OK when you have 20 chats, but if you have 100 it's quite difficult to find particular one.

[2019-11-28 10:27] andmironov opened #9542 "Make "Sync over mobile network" modal even less annoying"
Let's make the "Remember my choice" checkbox checked by default to make the modal less annoying.

[2019-11-28 10:30] andmironov opened #9543 "Signing phrase popup minor fix"
1. Let's treat the tap outside the popup (on the overlay) as "Maybe later" (if it's not treated this way already);
2. Let's show the signing phrase popup next time only when the app is opened again (not each time the wallet tab is opened)

[2019-11-28 12:12] flexsurfer commented on #9525
blocked by dap-ps/discover#16

[2019-11-28 14:17] StatusSceptre commented on #9050
Can I close this one @flexsurfer? Or do we need to build the error message?

[2019-11-28 14:19] flexsurfer commented on #9050
no, because we still need to make changes in status-react after status-go part will be ready

[2019-11-28 16:29] guylouis commented on #9348
moving this as a P2 in the EPIC, until it's clarified

[2019-11-28 17:34] guylouis commented on #9354
cc @rachel for last remark about last remark about  signin

[2019-11-28 22:31] #9394 closed, assigned to nobody

[2019-11-28 23:12] tbenr commented on #9288
@StatusSceptre @errorists i see that it could be that thesnackbar could hold an error message like `An error occured while fetching history, check the logs for details`. Do we still need to support such messages to user?

[2019-11-29 07:28] flexsurfer opened #9550 "Improve stickers usage experience"
# Bug Report

## Problem

Currently, stickers loading slow and without loading indicator

#### Expected behavior

Stickers load fast with loading indicator

Steps to improve
1) use cloudflare https://github.com/status-im/status-react/issues/8376
2) show loader when loading packs or stickers

[2019-11-29 10:27] #9509 closed, assigned to nobody

[2019-11-29 11:23] flexsurfer commented on #9473
fixed all points except Do not allow user to "Show my ENS username in chats" unless the setting Tx is mined. It should be grayed out if the Tx is not yet confirmed., @churik  lets create separate issue, thanks

[2019-12-02 09:47] churik commented on #8837
issue is not reproducible after redesigning sign flow.

[2019-12-02 10:11] #9543 closed, assigned to nobody

[2019-12-02 10:43] churik opened #9562 "Crash with "Can't popup empty list" error at attempt to sign transaction after tapping on "Done" several times in "Recipient""
# Bug Report

## Problem

Reproducible only on account with large amount of transactions, so can't reproduce on new accounts.
Crash is happening when trying to resolve ENS name or just tap on "Done" several times on "Recipient" screen since the wallet is extremely slow, it is a very common scenario.

#### Expected behavior
can sign transaction

#### Actual behavior
"Can't pop empty list" and crash

[2019-12-02 12:26] oskarth commented on #9465
@PombeirP do you have a link to the status-nim integration issue that is blocking this on the Nim side? `waku/0` (including bridging) is already merged in nim-eth.

[2019-12-02 12:38] Serhy commented on #9542
@flexsurfer checkbox is checked not by default at the first time mobile sync pop-up appears, but it's not applied (choice not remembered, while  'Remember my choice' = 'True'). If to uncheck it and check again - then yes, selection is remembered and mobile sync pop-up does not appear. But not when it's checked by default.

**To reproduce:**
1) Open Status with Wifi mode
2) Create new account
3) Be

[2019-12-02 12:54] rachelhamlin commented on #4605
Dig the share sheets @errorists, and good call on the sign-in screen for external app to Status.

[2019-12-02 13:01] churik opened #9565 "Do not allow user to "Show my ENS username in chats" unless the setting Tx is mined"
# Bug Report

## Problem
"Show my ENS username in chats"  is available when transaction for setting chat key don't get enough confirmations, because it will not be visible in chat.

#### Expected behavior
should be greyed out when the transaction is pending

#### Actual behavior
available immidiately

#### Notes
Leftover from #9473

### Reproduction

[comment]: # (Describe how we can replicate the

[2019-12-02 13:05] churik commented on #9562
cc @rachelhamlin

[2019-12-02 13:16] churik opened #9566 "Multitapping on "Register" button opens several transaction signing screens when register new ENS"
# Bug Report

## Problem
Several screens with transaction signing are shown when tapping on "Register" button several times.
Found during testing https://github.com/status-im/status-react/pull/9546

#### Expected behavior
only one screen is opened

#### Actual behavior

![multitapping](https://user-images.githubusercontent.com/4557972/69962296-053f9580-150e-11ea-97e0-bc8fcb21843d.gif)

### Reprodu

[2019-12-02 14:24] flexsurfer commented on #7633
i've tested react-native-fast-image library and can't really see any advantage for status app, and also local images don't work https://github.com/DylanVann/react-native-fast-image/issues/410, so i'll close this issue

[2019-12-02 14:31] #9213 closed, assigned to nobody

[2019-12-02 14:31] #9473 closed, assigned to nobody

[2019-12-02 15:49] errorists commented on #9288
@tbenr Certainly not :)

[2019-12-02 16:07] tbenr commented on #9288
@errorists great. Sorry for the broken english 🤣

[2019-12-02 16:17] tbenr commented on #9288
@errorists just want to double-check. Are you sure we want to remove also the message "History syncing offline, waiting for Wi-Fi." when user choose to sync only on wifi connection?

[2019-12-02 16:22] errorists commented on #9288
first, what does it mean, `History syncing offline`? if we were to keep it, somebody would need to make some sense out if this copy here. Either it's in sync or not, history is not syncing so what can I expect? this is as vague as ui labels go :) cc @rachelhamlin @hesterbruikman

[2019-12-02 16:35] tbenr commented on #9288
@errorists a part of the text, what is meaningful to me is that we are communicating to the user he is offline because he configured wifi only and he can also interact to fix it ("Change")

![image](https://user-images.githubusercontent.com/15999009/69976851-fa92f980-1529-11ea-87b7-79db20bebe94.png)

[2019-12-02 16:38] errorists commented on #9288
I'd phrase it differently like `To receive new messages connect to Wi-Fi`. I've pinged the copywriting crack team to help figure this one out :)

[2019-12-02 17:25] #9354 closed, assigned to nobody

[2019-12-02 17:29] tbenr commented on #9288
please consider also (on connection error to mail server):
![image](https://user-images.githubusercontent.com/15999009/69980747-1cdc4580-1531-11ea-9e83-bd1f969c162e.png)

and (error getting messages from connected mailserver):
![image](https://user-images.githubusercontent.com/15999009/69980908-7cd2ec00-1531-11ea-97d0-78f58a7adbb6.png)

[2019-12-02 17:36] rasom commented on #9470
All mentioned issues except Status Bar are fixed in #9564.
Status Bar should be fixed with RN upgrade https://github.com/facebook/react-native/issues/26619#issuecomment-541143915

[2019-12-02 17:38] errorists commented on #9288
@cammellos do we still need any of the above? the 'error occurred' one is as helpful as a door handle on a zipper ;)

[2019-12-02 17:54] tbenr commented on #9288
lol. btw @cammellos is `:sync-state` in app-db still used? if not, how can I see if wallet is really online. it seems to me we relay on general connectivity status and peers count only:
https://github.com/status-im/status-react/blob/67e6ab6055afd1ce7ffb29937708372e2d1eaee4/src/status_im/subs.cljs#L320-L334

[2019-12-02 17:55] pedropombeiro commented on #9465
https://github.com/status-im/nimbus/issues/406

[2019-12-03 02:29] oskarth commented on #9465
I don't believe all (perhaps even most?) of those issues are a blocker for  getting experimental Waku support in the app and testing that it works end to end, with bridging etc.

[2019-12-03 06:15] #9510 closed, assigned to cammellos

[2019-12-03 09:49] pedropombeiro commented on #9465
Yeah, the most important right now are in the `Regarding wrapper/API implementation` section, as well as successfully integrating `libnimbus.a` into `libgojni.so` (which I'm currently working on).

[2019-12-03 09:52] Serhy opened #9570 "Release iOS 0.13.3 crashes on launch"
# Bug Report

## Problem

iOS beta release 0.13.3 crashes on launch (iOS13.2)

#### Expected behavior

Stautus launches
#### Actual behavior

Status crashes

<img width="277" alt="Screenshot 2019-12-03 at 11 52 29" src="https://user-images.githubusercontent.com/8749671/70039983-6aa18e00-15c3-11ea-9665-3bcbbc8051eb.png">

#### Notes
Jenkins job made release build https://ci.status.im/job/status-rea

[2019-12-03 10:16] #8376 closed, assigned to nobody

[2019-12-03 10:16] #9550 closed, assigned to nobody

[2019-12-03 10:32] Serhy commented on #9570
cc @rachelhamlin @jakubgs @andremedeiros

[2019-12-03 11:22] jakubgs commented on #9570
I fixed the build, but I have no idea about why the crash happens, I'm not a mobile developer.

[2019-12-03 12:11] #9542 closed, assigned to nobody

[2019-12-03 15:02] rachelhamlin commented on #9471
I specifically seem to have some grave Infura issue on my device. When I tested the image sending PR, I got these errors:

<img src="https://user-images.githubusercontent.com/15470435/70062322-b6613100-15dd-11ea-8301-2ac16a1c3f63.jpeg" width=250/>
<img src="https://user-images.githubusercontent.com/15470435/70062299-ae08f600-15dd-11ea-852b-68a0c6f1f9ea.jpeg" width=250/>
<img src="https://user-imag

[2019-12-04 07:21] flexsurfer opened #9573 "Enabling biometric on signin issues"
# Bug Report

## Problem

1) It says keycard for regular accounts without keycard
![image](https://user-images.githubusercontent.com/11790366/70121344-b0fff700-166e-11ea-8c57-18e0283ae3d2.png)

2) Clitical security issue
  - check "save password"
  - enable biometric
 - press "save password"
 - press "cancel"

save password still selected, and biometric should be enabled, sig in, check biometric,

[2019-12-04 07:21] flexsurfer commented on #9573
@churik @rasom

[2019-12-04 07:51] flexsurfer opened #9575 "Make sure status supports EIP 1102 and EIP 1193"
https://medium.com/metamask/breaking-changes-to-the-metamask-inpage-provider-b4dde069dd0a

1) In Metamask, the provider by default has an empty array of accounts, which will be populated if the user gives access to the dapp, while Status' provider returns null. This causes Status to raise this error: "The requested account has not been authorized by the user." in this code block

It is causing pro

[2019-12-04 08:37] Serhy commented on #9570
Build `0.13.3 (2019120317)` tested with iOS 13.2, looks good:
- Can install build from TestFlight and launch fine
- Can create and recover an accounts
- Can see messages from public chats and can exchange messages in 1-1/Group
- Can send transaction in 1-1 chat and from Wallet
- Can send transaction in DApp

Thank you @flexsurfer, @jakubgs !

[2019-12-04 09:13] churik commented on #9573
missed it, thx @flexsurfer

[2019-12-04 09:14] hesterbruikman opened #9576 "Disable search bar on empty chat state and fix pull-to-refresh gesture"
# Problem
1. The current implementation of the searchbar only includes searching the local chat list. When the list is empty, there are no items to search. In context of the empty state screen the search bar can easily be misinterpreted as a way to 'search for public channels'. See image below.

![Screenshot_20191204-095055_Status](https://user-images.githubusercontent.com/35233054/70129326-d268df

[2019-12-04 09:14] hesterbruikman commented on #9576
cc @errorists @rachelhamlin

[2019-12-04 09:16] jakubgs commented on #9570
So ultimately the commit that will be released is 3480aef404ad98ff00904da90daad756676d92fb on the [release/0.13.x](https://github.com/status-im/status-react/tree/release/0.13.x) branch.

Can we press the release button already, or are there any remaining qualms?

[2019-12-04 09:18] #9470 closed, assigned to nobody

[2019-12-04 09:35] #8585 closed, assigned to nobody

[2019-12-04 09:40] Serhy commented on #9494
Closing since https://github.com/status-im/status-react/pull/9574 fixed it.

[2019-12-04 09:40] #9494 closed, assigned to nobody

[2019-12-04 09:50] Serhy commented on #9570
Pressed the button, but it's Waiting for Review now. As soon as reviewed, will release

[2019-12-04 09:51] jakubgs commented on #9570
Awesome, thanks Sergey!

[2019-12-04 11:42] churik opened #9577 "Can't create new keycard multiaccount after connection to card get lost after PIN setup"
# Bug Report

## Problem
If connection is lost right after confirming PIN - user is redirected to pairing screen instead of backup seed phrase screen.

#### Expected behavior
can create account

#### Actual behavior
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4557972/70139336-8c1d7b00-1692-11ea-93c6-f093e30a17bf.gif)

### Reproduction

[comment]: # (Describe how we can repl

[2019-12-04 11:42] churik commented on #9577
New v1 issue.
cc @rachelhamlin @gravityblast

[2019-12-04 12:06] StatusSceptre commented on #9576
Great point. Mind if I bounty this?

[2019-12-04 12:09] errorists commented on #9576
maybe bundle it with this one? https://github.com/status-im/status-react/issues/9540

[2019-12-04 13:49] rachelhamlin commented on #9371
Hey @yenda - would you mind posting a progress update here? :)

[2019-12-04 14:56] churik opened #9580 "Amount and asset are reset when scanning ETH address"
# Bug Report

## Problem

Usually users set amount, then asset, then select From and To when sending transaction.
If in field TO scan ethereum address (i.e. `ethereum: 0xcf2272205cc0cf96Cfbb9Dd740BD681D1E86901E` - all previous parameters except From will be reset.
It is very common flow so issue is very visible.

#### Expected behavior
 Asset and Amount are preserved, can sign transaction

#### Ac

[2019-12-04 15:17] churik commented on #9580
сс @rachelhamlin @flexsurfer

[2019-12-04 15:44] churik opened #9583 "Overlapping with system bar on "Send transaction" screen (LG phones)"
# Bug Report

## Problem

On LG phones due to keyboard "Send transaction" screen is overlapping with system bar.
Probably can ve reproduced on some other models - verified that on Samsung, Xiaomi, OneNote and Google Pixel (tried smallest screens) - the issue is not reproducible.

LG V20 and LG G5:
![photo_2019-12-04 16 40 41](https://user-images.githubusercontent.com/4557972/70156852-da437600-16b4

[2019-12-04 16:12] churik opened #9584 "Sometimes confirmation window does not appear on logout"
# Bug Report

## Problem
Causes false e2e failures.
Can be reproduced ~ 1 from 4 times.
Generally on Logout confirmation popup appears and you need to tap OK for logout, but sometimes it just logged out automatically.

#### Expected behavior
confirmation popup

#### Actual behavior
user is logged out

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Stat

[2019-12-04 17:05] churik opened #9585 "Unsupported top level event type error at attempt to swipe on IOS"
# Bug Report

## Problem
At attempt to swipe got error.
Most likely was introduced by https://github.com/status-im/status-react/pull/9571, was found during testing rebased https://github.com/status-im/status-react/pull/9547

#### Expected behavior
no error, can swipe

#### Actual behavior

![IMG_D5EDB3F7DCE4-1](https://user-images.githubusercontent.com/4557972/70162826-a1a89a00-16be-11ea-8750-d30f

[2019-12-04 17:13] ScyDev commented on #5242
After a lot of messing around with the Nix dev environment, I'm now finally working on the issue itself. Future issues will process faster now that I've got everything up and running.

[2019-12-04 17:14] churik opened #9586 "Random crash when click on + > Start new chat"
# Bug Report

## Problem

Sometimes app crashes after tapping + > start new chat (e2e tests caught this behavior 2 times in one set of 150 e2e).
Couldn't reproduce manually.
Most likely was introduced by https://github.com/status-im/status-react/pull/9571, was found during testing rebased https://github.com/status-im/status-react/pull/9547

#### Expected behavior
no crash

#### Actual behavior
app

[2019-12-05 09:00] StatusSceptre commented on #9540
Merging with #9576

[2019-12-05 09:00] #9540 closed, assigned to nobody

[2019-12-05 09:48] #9238 closed, assigned to nobody

[2019-12-05 09:48] #9357 closed, assigned to nobody

[2019-12-05 10:13] andmironov commented on #9264
Addressed in https://github.com/status-im/status-react/issues/9367 and in other issues where this bug occures

[2019-12-05 10:13] andmironov commented on #9057
Addressed in https://github.com/status-im/status-react/issues/9367 and in other issues where this bug occurs

[2019-12-05 10:13] #9057 closed, assigned to nobody

[2019-12-05 10:15] andmironov commented on #9177
Addressed in https://github.com/status-im/status-react/issues/9356

[2019-12-05 10:15] #9177 closed, assigned to nobody

[2019-12-05 10:17] #8701 closed, assigned to nobody

[2019-12-05 10:18] andmironov commented on #9201
addressed in https://github.com/status-im/status-react/issues/9277

[2019-12-05 10:18] #9201 closed, assigned to nobody

[2019-12-05 10:18] andmironov commented on #9200
addressed in https://github.com/status-im/status-react/issues/9277

[2019-12-05 10:18] #9200 closed, assigned to guylouis

[2019-12-05 10:26] andmironov commented on #8253
Closing this issue, the findings listed here are addressed in https://github.com/status-im/status-react/issues/9264, https://github.com/status-im/status-react/issues/9274, https://github.com/status-im/status-react/issues/9277

[2019-12-05 10:26] #8253 closed, assigned to nobody

[2019-12-05 10:30] andmironov commented on #8189
Closing for now, will address later in UX issues for Keycard settings

[2019-12-05 10:30] #8189 closed, assigned to nobody

[2019-12-05 10:30] andmironov commented on #8147
Closing for now, will address later in UX issues for Keycard settings

[2019-12-05 10:30] #8147 closed, assigned to nobody

[2019-12-05 10:31] andmironov commented on #7905
Addressed in https://github.com/status-im/status-react/issues/9277

[2019-12-05 10:31] #7905 closed, assigned to andmironov

[2019-12-05 10:34] guylouis commented on #7895
will need to recheck if issue is stil present

[2019-12-05 10:37] andmironov commented on #7900
Addressed in https://github.com/status-im/status-react/issues/9274

[2019-12-05 10:37] #7900 closed, assigned to nobody

[2019-12-05 10:38] andmironov commented on #7899
Addressed in https://github.com/status-im/status-react/issues/9264

[2019-12-05 10:38] #7899 closed, assigned to nobody

[2019-12-05 10:38] andmironov commented on #7896
Addressed in https://github.com/status-im/status-react/issues/9277

[2019-12-05 10:38] #7896 closed, assigned to nobody

[2019-12-05 10:38] andmironov commented on #8188
Addressed in https://github.com/status-im/status-react/issues/9264

[2019-12-05 10:38] #8188 closed, assigned to nobody

[2019-12-05 12:11] acolytec3 commented on #9050
@flexsurfer once we finalize my PR, is the work on the status-react side to replace all of the phrase validation related functions in `ethereum.mnemonic` with a single call to the `ValidMnemonic` in status-go since that validates word length, words being in the dictionary, and checksum?

[2019-12-05 12:14] flexsurfer commented on #9050
probably we could still validate length in status-react, and if the length is valid, then validate in status-go

[2019-12-05 13:55] churik commented on #9372
Reproducible for 1-1 and group chats. See https://github.com/status-im/status-react/pull/9547#issuecomment-561181808

[2019-12-05 13:55] churik commented on #9372
Crucial one for v1 release cc @rachelhamlin

[2019-12-05 13:59] #9570 closed, assigned to nobody

[2019-12-05 14:01] cammellos commented on #9372
I have investigated this issue a bit, it seems to do with those messages not being fetched from the mailserver.

I have checked the topics requested and it looks ok, but probably there's some issue there, this happens mostly for negotiated topics as far as I can see.

Online->Online works fine.

[2019-12-05 17:03] #9577 closed, assigned to nobody

[2019-12-05 18:48] rachelhamlin opened #9592 "Hide "searching message history coming soon" on chat search and "blocked users" when empty"
# Problem

1. Let's hide this second section. It's confusing & message history is also not coming soon.

![image](https://user-images.githubusercontent.com/15470435/70264108-b4d76a80-178f-11ea-8f47-4fafb5aed19c.png)

2. Hide `Blocked users` until I have actually populated this list. No sense in showing 0 blocked users under contacts.

![image](https://user-images.githubusercontent.com/42685581/704

[2019-12-06 09:14] flexsurfer opened #9593 "Add network for cloudflare RPC"
Add network configuration for cloudflare

[code]

https://developers.cloudflare.com/distributed-web/ethereum-gateway/interacting-with-the-eth-gateway/

[2019-12-06 11:56] andmironov opened #9596 "Minor fixes in popup"
- The title should have "Fingerprint" (Touch ID/Face ID for iOS) in it;
- Paddings and type size must be re-checked. Also, line-height of the main text. If it's not possible to make the text grey with some words black, all text should be grey, not black

<img width="873" alt="Screen Shot 2019-12-06 at 14 54 16" src="https://user-images.githubusercontent.com/3115606/70321413-50bcb100-1838-11ea-8869

[2019-12-06 12:05] churik opened #9597 "Mailserver is not selected automatically if account was created offline and user go to online after"
# Bug Report

## Problem
If multiaccount if network is lost at account creation, after back to online mailserver is not selected automatically.

#### Expected behavior
mailserver is selected, can send/ receive messages

#### Actual behavior
mailserver is not selected, can't fetch history, send/ receive messages

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

[2019-12-06 13:13] andmironov opened #9598 "Keycard Settings – New settings main screen"
Currently, if I understand correctly there are the following options available:
- Change passcode;
- Help (link to https://keycard.tech);
- Reset card;
- Unpair card;

If some of those are not available yet, please let me know in comments

Also, I suggest the card to have a dark background and replace "Linked" with "Paired" for consistency;

<img width="421" alt="Screen Shot 2019-12-06 at 16 14 13

[2019-12-06 13:41] churik opened #9599 "Doesn't support a name error at attempt to trigger "Report a bug" dialog without network and no dialog on shaking"
# Bug Report

## Problem
Can't open   "Submit a bug" dialog when offline

#### Expected behavior
- can see dialog on shaking
- no error, at least can seve a draft with logs

#### Actual behavior
![photo_2019-12-06 14 26 25](https://user-images.githubusercontent.com/4557972/70326357-ae4efe80-1834-11ea-8296-62c95b5603ed.jpeg)

### Reproduction

[comment]: # (Describe how we can replicate the bug ste

[2019-12-06 13:44] andmironov opened #9600 "Keycard Settings – Change passcode"
<img width="1613" alt="Screen Shot 2019-12-06 at 16 44 10" src="https://user-images.githubusercontent.com/3115606/70327365-b49aa600-1847-11ea-8924-10aeb8223616.png">

Everything here is quite straightforward, let me know if I am missing something? Is the "Confirm with card" step necessary? cc @guylouis

Figma https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=917%3A19200

[2019-12-06 13:47] andmironov opened #9601 "Keycard Settings – Unpair card"
<img width="1569" alt="Screen Shot 2019-12-06 at 16 47 09" src="https://user-images.githubusercontent.com/3115606/70327537-0e9b6b80-1848-11ea-8218-001570fa9f56.png">

All the steps and copy are on the image. Am I missing something @guylouis ?

Figma https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=576%3A0

[2019-12-06 15:43] #9097 closed, assigned to nobody

[2019-12-06 15:49] elegant651 commented on #9054
@StatusSceptre Can you check for this? I also want to participate in other task. Thanks

[2019-12-06 16:13] yenda opened #9604 "Mnemonic should not be persisted when recovering account"
When recovering an account, the mnemonic saved in the database. It should not. It can be checked by looking at :multiaccount :mnemonic value in app-db after login. The mnemonic is there.

[2019-12-07 03:15] acolytec3 commented on #9050
@flexsurfer Understood. I'll work up a local branch and see if I can get it to call the new Go method. Not 100% sure I've got everything set up right on the status-go side but we'll see.

[2019-12-07 04:50] 3esmit opened #9606 "QRCode scanned ERC681 (Transaction Request) does not fill value"
# Bug Report

## Problem

When using QRCode scanner an ERC681 link, it fills only the author and token. Value is not filled.

#### Acceptance Criteria

Value must be filled for erc20 token transfers and for ETH value transfers when processing ERC681 links.

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Open a Wallet
- new Transaction
- Scan Q

[2019-12-07 05:08] 3esmit opened #9607 "Improve ENS names UI/UX"
# Feature Issue

### User Story

As a user I want to have full information about ENS names.

### Description

There are some places where ENS names are supported. Such as to make a payment, you can enter an ENS name. However, after the ENS name is resolved it is discarded, leaving only the address.

This can be confusing, specially for users unaware of what is ENS.
Also, it might hide information,

[2019-12-07 05:13] 3esmit opened #9608 "Chat QRCode scanner does not recognize ERC681 links"
# Bug Report

## Problem

In past, it was easy to scan a ERC681 link by using the Chat QRCode Scanner, but since multi-accounts, that stopped working.

Now, 4 more taps are necessary, assuming that user knows the path.

[2019-12-07 05:43] 3esmit opened #9609 "Universal QRCode scanner"
# Feature Issue

### User Story

As a user I want to have easy access to a QRCode scanner, so I don't have to find the right place to scan something.

### Description

Currently we have two QRCode scanners, one in chat, and other in the transaction form. It's correct for each of them only accept the types they expect, however it becomes complicated to users if they have to find the right place to

[2019-12-07 12:38] flexsurfer commented on #5242
@churik  @cammellos is this issue still relevant?

[2019-12-07 18:21] leafcutterant opened #9611 "Wallet: Add "Send max""
### User Story

As a user, I want to have a button "Send max" so that I can send the maximum amount of a currency and leave no dust behind.

### Description

*Type*: Feature

*Summary*: see above

### Additional Information
* Operating System: Android

[2019-12-07 19:40] flexsurfer commented on #8139
fixed

[2019-12-07 19:40] #8139 closed, assigned to nobody

[2019-12-07 19:41] flexsurfer commented on #7990
fixed

[2019-12-07 19:41] #7990 closed, assigned to hesterbruikman

[2019-12-07 19:56] developerfred commented on #7204
@jeluard is it still open?

[2019-12-07 19:58] leafcutterant commented on #4614
I'd like to join those who have been asking for this, I believe, quite essential wallet functionality.

Status is basically useless to me without this.

[2019-12-09 07:29] cammellos commented on #5242
This is still relevant, I have tried and most of those still resolve as link.

The thing is that technically `https://test!.com` is a valid link, as I don't think there's a limitation on which character can be in a URL.
But http://test!.com it should though be URL encoded at some point (likely when clicking), in order to be handled correctly. so maybe that's what we should do instead of completely

[2019-12-09 07:30] cammellos commented on #5242
Also the parsing is not done in status-react anymore , it's here https://github.com/status-im/markdown , but if we only decide to url-encode those links when the user clicks on them, then the change is only in status-react.

[2019-12-09 08:57] flexsurfer commented on #5242
@churik could please confirm that it doesn't crash anymore? in that case we could just escape urls opened from chat

[2019-12-09 09:49] #9585 closed, assigned to nobody

[2019-12-09 11:00] rasom commented on #9586
I can't reproduce this issue

[2019-12-09 12:27] rasom commented on #9586
@churik unless we have clear steps to reproduce I'm not sure what to fix here.

[2019-12-09 14:12] churik opened #9620 "No icon and name is shown for keycard account after logout"
# Bug Report

## Problem
![photo_2019-12-09 15 07 08](https://user-images.githubusercontent.com/4557972/70441939-97f3ad80-1a95-11ea-9b0b-56b303e64f18.jpeg)

#### Expected behavior
can see picture and 3-random name

#### Actual behavior
see screenshot

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create account with keycard
- Reopen app

###

[2019-12-09 14:12] churik commented on #9620
cc @rachelhamlin @rasom