[2017-12-25 11:35] oskarth opened #2809 "Offline inbox: Support requestMessages in web3.js"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Clojure developer, I want to use web3.js API so that our API calls are consistent.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature/Refactor

*Summary*: Mirror shh_requestMessages so we can call it via HTTP-RPC.

#### Expected behavior
Request messages like right now but usin

[2017-12-25 11:47] oskarth commented on #2751
Moving to blocked as https://github.com/status-im/status-react/issues/2764 has been extract from this, and we probably want to factor this out into bounties once above PR and refactoring is done.

[2017-12-25 11:50] oskarth opened #2810 "Offline inbox: Support markTrustedPeer in web3.js"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Clojure developer, I want to use web3.js API so that our API calls are consistent.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature/Refactor

*Summary*: Mirror shh_markTrustedPeer so we can call it via HTTP-RPC.

Essentially same as https://github.com/status-im/status-react/i

[2017-12-25 12:40] asemiankevich opened #2811 "/phone suggestions are not localized therefore I can't enter phone using significant format"
### Description

*Type*: Bug

*Summary*:

when entering /phone command on Android device under Airplane mode it shows suggestions that are not localized so local phone number is not acceptable in Significant format. The same case works fine on iOS under Airplain mode.  I assume suggestions are based on sim-card installed in the phone even its in airplaine.

#### Expected behavior
I should be able

[2017-12-25 12:46] oskarth opened #2812 "Bash script that allows one to see a five-number summary of PR open time"
### User Story

As a developer, I want to know how long PRs stay open over time so that I can improve the code delivery speed.

### Description

*Type*: Feature/Tooling

*Summary*: Write a bash script that allows one to see a five-number summary of PR open time.

`./scripts/pr-statistics.sh` =>

[code]

Additionally, the following options don't have to be exposed as arguments but should be changea

[2017-12-25 12:49] oskarth commented on #1522
Old issue.

[2017-12-25 12:49] #1522 closed

[2017-12-25 12:52] oskarth opened #2813 "Flag hygiene: Remove NOTIFICATIONS_WIP_ENABLED flag"
### User Story

As a developer I want flags to be up to date so we know what behaviors we want to toggle.

### Description

*Type*: Feature/Refactor

*Summary*: Remove NOTIFICATIONS_WIP_ENABLED flag while keeping behavior for flag ON.

See https://github.com/status-im/status-react/blob/develop/src/status_im/utils/config.cljs#L19

#### Expected behavior
PNs work with flag.

#### Actual behavior
Sam

[2017-12-25 13:01] churik commented on #2805
Reproducible only after recovering account

[2017-12-25 13:02] churik commented on #2808
Can be related to #2805

[2017-12-25 13:06] oskarth opened #2814 "Benchmark and investigate crypto perf by changing library"
### User Story

As a developer, I want to use the fastest safe crypto possible, so I have a good user experience.
### Description

*Type*: Feature/Perf

*Summary*: Replace ECCJS (SJCL) library with libsodium/chloride while keeping interface and check perf.

- [ ] Try libsodium/chloride while keeping interface same
- [ ] Make a solid benchmark comparing current encrypt/decrypt function vs libsodium

[2017-12-25 14:05] #2256 closed, assigned to alwx

[2017-12-25 14:06] SHA-2048 commented on #1379
@annadanchenko with the help of @lahian I've been able to test it on the iPhone simulator. I've update the PR with a working version. Please take a look when you have time :) . Thanks !

[2017-12-25 14:07] asemiankevich commented on #2379
![image](https://user-images.githubusercontent.com/28752642/34340505-fc622fc2-e995-11e7-9464-da7422fb9125.png)
in  0.9.10-474-gc8168e9f+ (2031)

[2017-12-25 14:16] antdanchenko opened #2816 "Extend appium automated tests to measure CPU and RAM and add comparison of the values with previous build per each test"
### User Story
As an automation engineer I would like to add tracking and reporting on CPU/RAM changes in each test

### Minimum Viable Product:
 - Add measurement of current CPU/RAM consumption on single device for 'Create User' and 'Add User' flows using existing automated tests. ('Create User' and 'Add User' flows have been chosen as sample, in future each test will measure and report differenc

[2017-12-25 14:19] #2565 closed, assigned to nobody

[2017-12-25 14:43] SHA-2048 commented on #1720
@asemiankevich and @annadanchenko maybe this can be closed as per @dmitryn findings

[2017-12-25 14:51] SHA-2048 commented on #1267
tested this with develop branch and an iPhone 6 simulator. It is working as expected. So maybe you can re-check it @annadanchenko and close the issue if not needed anymore.

[2017-12-25 17:55] #2785 closed, assigned to dmitryn

[2017-12-25 17:55] #2764 closed, assigned to dmitryn

[2017-12-25 18:25] asemiankevich opened #2819 "Improve `pull-to-refresh` gesture performance on iOS"
### Description

*Type*: Bug

*Summary*: this is the issue @Chad noticed during test session and it is clearly visible on my iPhone 5S: when I pull down the screen to refresh (transaction history or main wallet) it is not smooth and I can see 2 spinners sometimes for a second as well as the UI itself hangs for a second. TF does not show it perfectly but if you try to do it on real device i believe

[2017-12-25 18:44] #2698 closed, assigned to nobody

[2017-12-25 18:45] #2682 closed, assigned to yenda

[2017-12-26 01:18] #2636 closed, assigned to nobody

[2017-12-26 08:44] pablodip commented on #2731
@jeluard Some questions about this:

* Why exactly do you want to change those values from a screen instead of from code? So that you can do it in a production build?
* If that is for a production build, how should this screen be made visible in the app?
* Why would restarting be necessary for changes to be applied? Because of some particular startup process?
* Where do you think the state of thes

[2017-12-26 09:28] asemiankevich commented on #2683
@flexsurfer @foopang no syncing indicator on main wallet  when on Rikeby / Ropsten?

[2017-12-26 10:12] pedropombeiro commented on #2539
@oskarth where does the Android bundle normally go in the `status-react/modules/react-native-status/android` subtree?

**Update**: I needed to revisit this for another issue, and understood how the Android build is done - delved into Gradle and Maven (not a stack I've dealt with before). I guess one option would be to change the `compile` directive at https://github.com/status-im/status-react/blob

[2017-12-26 11:10] #2773 closed, assigned to janherich

[2017-12-26 11:10] churik commented on #2773
Is not reproducible with 0.9.11d481

[2017-12-26 11:12] #1209 closed

[2017-12-26 12:41] asemiankevich commented on #2808
@churik Can't reproduce it with last nightly : https://app.testfairy.com/projects/4803622-status/builds/7371377/sessions/35/?accessToken=v52lmRmTtVfcdTlOyNpu7eq7cDk

Can you please double check ?

[2017-12-26 12:46] #2343 closed, assigned to nobody

[2017-12-26 12:52] status-open-bounty commented on #2814
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc75f00705082a7c7ec68886862a81fd7a0e7b3b31a5a35981f50511bbf26f352](https://etherscan.io/tx/0xc75f00705082a7c7ec68886862a81fd7a0e7b3b31a5a35981f50511bbf26f352)

[2017-12-26 13:18] churik opened #2820 ""Back" in Console chat doesn't redirect to Sign In screen (when user has several accounts in one device)"
### Description

*Type*: Bug
*Summary*: when you create new account in Console chat "Back" arrow is not working until you set up password
![back](https://user-images.githubusercontent.com/4557972/34357451-f1aab512-ea4f-11e7-9901-c344f75d91dd.png)

#### Expected behavior
"Back" redirects to main screen with list of users ("Sign in to Status")
![1](https://user-images.githubusercontent.com/4557972/3

[2017-12-26 13:19] churik commented on #2808
I cannot reproduce it anymore as well on today nightly.

[2017-12-26 13:43] rasom commented on #2762
Do you mean Play Market version? I tried to upgrade it using lates nightly http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-279ebc.apk and it was upgraded successfully.

[2017-12-26 16:14] #2590 closed, assigned to Serhy

[2017-12-26 16:26] #2335 closed, assigned to nobody

[2017-12-26 16:36] status-open-bounty commented on #2812
Balance: 0.000000 ETH
Tokens: SNT: 1200.00
Contract address: [0xab907a8c2c480e0d0f99cba9f4618517088f8798](https://etherscan.io/address/0xab907a8c2c480e0d0f99cba9f4618517088f8798)
Network: Mainnet
Paid to: StudioEtrange
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-26 17:34] status-open-bounty commented on #2810
Balance: 0.000000 ETH
Tokens: SNT: 560.00
Contract address: [0xb6984bb365a88412818b72a6efd001bd7c734aee](https://etherscan.io/address/0xb6984bb365a88412818b72a6efd001bd7c734aee)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-26 17:34] status-open-bounty commented on #2809
Balance: 0.000000 ETH
Tokens: SNT: 220.00
Contract address: [0x3d13381dad2c892d45ccc6416311c66511edb5bd](https://etherscan.io/address/0x3d13381dad2c892d45ccc6416311c66511edb5bd)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-26 17:39] Serhy commented on #2762
Tested on Android 7.0 (Samsung real device), Android 4.4.4 (Nexus 5 emulator), Android 6.0.0 (Samsung S6 emulator), Android 5.1.0 (Samsung S6 emulator), Android 6.0.0 (Nexus 5.0.0)
In all case I could successfully upgraded from 0.9.12b in PlayMarket to latest develop (0.9.10-481-g279ebc31+)

[2017-12-26 17:41] #2762 closed, assigned to Serhy

[2017-12-27 03:12] onbjerg commented on #2812
I'm working on this one, but I have a few q's:

- What are some acceptance criteria?
- What tools are assumed to be available on the platform (or, what platforms are targeted)?

Some tools, even basic ones like `date`, differ wildly for macOS users compared to Linux users. 😔

[2017-12-27 06:40] #2683 closed, assigned to nobody

[2017-12-27 07:33] #2775 closed, assigned to nobody

[2017-12-27 07:35] #2118 closed, assigned to nobody

[2017-12-27 11:13] churik opened #2822 "Rows and focus are overlapped by keyboard when text in input field (Chat) contains more than 2 rows of text or 8 rows emoji"
### Description
*Type*: Bug

*Summary*: when you type more than 2 rows of text or 7 rows of emoji focus goes below input field and all next rows are overlapped by keyboard, so you cannot see what you are typing
![andr_20](https://user-images.githubusercontent.com/4557972/34386376-fbac5a84-eb30-11e7-8e12-d76e693ffeb8.png)

#### Expected behavior
user can see what he types and top row goes upper inp

[2017-12-27 11:34] churik opened #2823 "App is freezing after cutting/deleting long text from input field in Chat (more than 7 rows)"
### Description
*Type*: Bug

*Summary*: when input field in Chat contains several rows of text (7+ rows), user cut part of this text or all text or just quickly delete symbols,  input field doesn't restore initial state and app becomes unresponsive with this size of input field
![andr_2](https://user-images.githubusercontent.com/4557972/34380449-2b231de2-eb0a-11e7-9c5b-6da5ec67eb58.png)

#### Expe

[2017-12-27 12:37] Serhy opened #2824 "'bot.js loading failed browse TypeError: null is not an object' if quickly tap on send button for password creation in console"
***Type***: Bug

***Summary***: If quickly send password on a first password submission (i.e to tap twice on 'Send message' button), - second step (to confirm the password) does not hide characters under asterisks ('••••••') and after password confirmation got submitted - the error `bot.js loading failed browse TypeError: null is not an object (evaluating 'params["password-confirmation"].length')`

[2017-12-27 12:40] Serhy commented on #2824
Root cause of the issue might be similar (or same) as in the https://github.com/status-im/status-react/issues/1604

[2017-12-27 15:57] churik opened #2825 "Input field (Chat) is partly overlapped by keyboard (status emoji) or contains redundant padding (emoji keyboard)"
### Description
*Type*: Bug

*Summary*:
1) when text contains more than 3 rows and last row contains status emoji (used emoji icon in the right corner of input field) - last row is overlapped
![iphonw_em](https://user-images.githubusercontent.com/4557972/34385990-0e987a9e-eb2f-11e7-983c-22b38049062b.png)
2) when text contains more than 3 rows and each row contains native emoji  (used emoji keyboar

[2017-12-27 16:19] Serhy opened #2826 "Test script test_balance_and_eth_rate should be reworked since the test fails with false-positive result"
### Description
Test script test_balance_and_eth_rate often fails with a false-positive result. This should be fixed.
Should be reworked to verify that [currency]balance and ETH balance are equal to the expected, instead of ETH rate

test_balance_and_eth_rate (will become test_eth_and_currency_balance)
Steps:

1) Recover user with funds
2) Navigate to ‘Wallet’ view
Verify:
* ETH Balance is equal t

[2017-12-27 17:02] jeluard commented on #2731
@pablodip This requires some special screen so would be only available from development releases. Goal is to change their value without having to rebuild the app.
Those flags are currently stored in `env` files packaged in the app and read during startup.

[2017-12-28 00:24] noman-land opened #2832 "React Native Android setup link is broken in setup script"
The link at the end of the setup script points to https://facebook.github.io/react-native/docs/android-setup.html, which no longer works.

https://github.com/status-im/status-react/blob/develop/scripts/lib/setup/output.sh#L70

[2017-12-28 07:41] status-open-bounty commented on #2287
Current balance: 0.000000 ETH
Contract address: [0xa66ce5fb7430bfe55b6e5b1d36ae0f88e836ed39](https://ropsten.etherscan.io/address/0xa66ce5fb7430bfe55b6e5b1d36ae0f88e836ed39)
![QR Code](http://7d1f0959.ngrok.io/qr/status-im/status-react/bounty/2287/0455cafe699f636d2c01f5f1784b9858141784a8d675ffd5ff5c606123ce6921/qr.png)
Network: Testnet (Ropsten)
To claim this bounty sign up at [http://7d1f0959.ngr

[2017-12-28 07:41] status-open-bounty commented on #2813
Balance: 0.000000 ETH
Tokens: SNT: 380.00
Contract address: [0xd4b5c3deb7102bad105817dc4661de872f9bed46](https://etherscan.io/address/0xd4b5c3deb7102bad105817dc4661de872f9bed46)
Network: Mainnet
Paid to: taylorjdawson
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-28 07:42] status-open-bounty commented on #2719
Balance: 0.000000 ETH
Tokens: SNT: 750.00
Contract address: [0x8bd841ba3010c667bd80146597377fa8ec3bcfd0](https://etherscan.io/address/0x8bd841ba3010c667bd80146597377fa8ec3bcfd0)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-28 07:56] jeluard opened #2834 "Migrate android build to latest gradle plugin"
### User Story

As a developer, I want to use latest tools to benefit from greater performance

### Description

*Type*: Feature

Migrate to latest [gradle plugin](https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html) as it provides greater compilation performance.

[2017-12-28 10:29] status-open-bounty commented on #2834
Balance: 0.000000 ETH
Tokens: SNT: 750.00
Contract address: [0x23d368d696d568cb267c3fc1fdc025c678909ffe](https://etherscan.io/address/0x23d368d696d568cb267c3fc1fdc025c678909ffe)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-28 13:02] foopang commented on #2809
Hi, I am working on this issue along #2810, just not sure how to test and verify everything works as expected.

[2017-12-28 13:54] dmitryn commented on #2809
@foopang check the logs with "offline inbox" prefix and make sure you don't see any errors. From UI POV you could send message to public chat, wait for 3min, sign in with another account and verify you have unread messages in that public chat.

[2017-12-28 13:56] churik commented on #1379
Issue is not fixed

[2017-12-28 14:01] SHA-2048 commented on #1379
@churik can please put some details?
I've tested the fix on an iphone 6 simulator and the anounymous user name was displaying correctly instead of "Unkown contact"

[2017-12-28 14:14] asemiankevich opened #2840 "App crashes when granting camera with access"
### Description

*Type*: Bug

*Summary*: App crashes when giving the camera access to scan QR code. @flexsurfer has noticed that on his `Xiaomi Redmi Note 3`. It was done when app was launched for the 1st time after install. After that it is not reproducible.

#### Expected behavior
no crashes

#### Actual behavior
`java.lang.RuntimeException: getParameters failed (empty parameters)
	at android.ha

[2017-12-28 14:17] churik commented on #2427
now the problem is changed a bit. When uses scans address, he does not remain on the Select Recipient (is redirected to main wallet screen):
03:34 - 03:39 - https://app.testfairy.com/projects/4803622-status/builds/7392127/sessions/1/?accessToken=50sCII-PfNe1ATrHmaQ5x/dg7kk
0.9.10-491-g153cd02b

[2017-12-28 14:23] churik commented on #1379
@mlahia I checked wrong PR (#2452), sorry for mistake, will check on #2815

[2017-12-28 14:30] annadanchenko commented on #2820
@churik please
1. modify description of the actual result

so it describes what's happening. Currently, it only indicates that there is an issue but does not tell exactly what happens after you tap on Back button. See https://wiki.status.im/Bug_Report#Good_Bug_Title for details
2. update

with the screen title and preferably its picture

[2017-12-28 15:31] churik commented on #2820
@annadanchenko done, thanks for comment

[2017-12-28 16:02] #2620 closed, assigned to nobody

[2017-12-28 16:44] churik opened #2842 "Several cards are added in "Popular #hastags" after adding one hashtag [2483]"
### Description

*Type*: Bug

*Summary*: when user add #one hashtag, than #another (in Profile status) and go "Popular #hashtags> All - several items for  #another hashtag are displayed.
first hashtag -> one item on "Popular #hashtags"
second hashtag -> two items on "Popular #hashtags" and so on.

#### Expected behavior
amount of items in "Popular #hashtags" is equal number of hashtags

#### Actua

[2017-12-28 17:30] churik opened #2843 "Search in Discover leads to Search in Chats [2483]"
### Description
*Type*: Bug

*Summary*: tap on Search icon in Discover redirects to Chats with open Search field (focus outside Search field).
So, functionality of searching status by tag is blocked.

#### Expected behavior
focus in search field in Discover, so I can search tags

#### Actual behavior
redirected on Chats (focus outside Search field)

### Reproduction

- Open Status
- Install Status

[2017-12-28 21:53] dottedmag commented on #1048
I'll take this one.

[2017-12-29 05:40] oskarth commented on #2842
Marking as low priority since Discovery won't be in MVP.

[2017-12-29 07:44] jeluard commented on #2408
It looks like the snippet mentioned above is not the only one triggering this warning.
To fully solve this issue we must ensure no more warnings are generated.

[2017-12-29 09:16] jeluard commented on #2408
`core-async` might be the culprit. Also note `dispatch-n` is not a viable alternative as it use `setTimeout` underneath.

Proposed solution should workaround all guilty `setTimeout` / `setInterval` with background timers (see [some details](https://facebook.github.io/react-native/docs/timers.html) and look for @yenda associated commit).

[2017-12-29 09:18] status-open-bounty commented on #2408
Balance: 0.000000 ETH
Tokens: SNT: 660.00
Contract address: [0xaa8ebd54c4d7fff5523b262fe107c406af5ddc71](https://etherscan.io/address/0xaa8ebd54c4d7fff5523b262fe107c406af5ddc71)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2017-12-29 10:44] jeluard opened #2848 "Provide correct gas estimate default for ERC20"
### User Story

As a user, I want the gas default to match the ERC20 token I am sending.

### Description

*Type*: Feature

Leverage `estimateGas` to provide a proper gas estimation.

[2017-12-29 12:53] tomohavvk commented on #2334
I am a native Ukrainian speaker and I would like to participate. I found some spelling errors, I want to help you in fixing them. Please approve.

[2017-12-29 13:11] asemiankevich commented on #2417
removed this `bounty` label for a while - lets wait new branch for ERC20 support, Julien and Goran have made a lot of changes to Wallet so this may be fixed already

[2017-12-29 13:35] churik commented on #1379
Install:
Public chat:
* check that default usernames are shown instead of Unknown contact (when users are not added as contacts of each other) when users did not change them before
* check that default usernames are shown instead of Unknown contact (when users are not added as contacts of each other) when users set another profile name
*check that one user add another as contact and profile names

[2017-12-29 15:53] michaelsbradleyjr commented on #2812
Following on @onbjerg's question:  would it be acceptable (or better, even) to implement this as a standalone executable/bundle (for mac, win, linux)? That's possible with quite a few languages, of course, some closer to the Clojure/Script family than others.  OCaml/Reason and Racket might be good options, though the latter would definitely produce a small portable bundle vs. a single static binar

[2017-12-29 15:56] michaelsbradleyjr commented on #2812
If having it be a shell script is the preferred way, then [creationix/nvm](https://github.com/creationix/nvm)'s [nvm.sh](https://github.com/creationix/nvm/blob/master/nvm.sh) demonstrates a wealth of well-honed feature detection and portability practices.

[2017-12-29 16:56] pablodip commented on #2408
Confirmed that core async uses setTimeout internally: https://github.com/clojure/core.async/blob/master/src/main/clojure/cljs/core/async/impl/dispatch.cljs#L36

[2017-12-29 17:48] Serhy opened #2852 "[Perf] User story 1: Time lags navigating through different app views after log in when user has a lot of sent/received messages"
***Type***: Bug

***Summary***: When user logs in into account, application becomes unresponsive for some time. It depends from how many messages user sent or received - more messages cause more time for app to hung up.
It's also visible that application retrieves all the messages user sent/received in chats it had before log out.
For example, in my case with Samsung J7  I had user with about 150

[2017-12-30 03:32] foopang commented on #2408
I am working on a fix now:)

[2017-12-30 10:58] andytudhope opened #2854 "Cannot Scan QR code from DApp"
### User Story

As a developer, I want to be able to build DApps that can scan QR codes.

### Description

*Type*: Feature

*Summary*: In line with this idea for Decentralart: https://github.com/status-im/ideas/issues/66, we need to be able to scan QR codes directly from a DApp within Status.

#### Expected behavior
Can scan a QR code easily and get the returned data to display.

#### Actual behav

[2017-12-30 11:09] andytudhope opened #2855 "`status.response` no longer works"
### User Story

As a developer, I want to be able to use response messages so that I can guide users intuitively through any chatbot interactions.

### Description

*Type*: Bug

*Summary*: `status.response` used to work well, now it doesn't.

#### Expected behavior
`status.response` returns a message based on a user's input.

#### Actual behavior
The user message that should trigger `status.respon

[2017-12-30 13:58] raghav-garg commented on #1048
I can help you on this!

[2018-01-01 11:02] jeluard opened #2862 "Generate payment request QR code with proper symbol"
### User Story

As a user, I want to be able to generate payment requests containing symbol details.

*Type*: Feature

[2018-01-01 14:31] oskarth commented on #2852
Thanks for this @Serhy! Will try to reproduce tomorrow.

[2018-01-01 15:44] Kimoa85 opened #2863 "When editing my own profile it is not possible to add my phone number"
Type: Bug

**Summary:**
When entering my profile and trying to add my phone number nothing happenes

**Expected behavior**
when pressing the kebab menu near my phone number field it should be possible to edit it

**Actual behavior**
the menu opens and when selecting Edit nothing happens

**Reproduction**
Enter your own profile's kebab menu,  scroll down to Phone number and select the kebab menu ne

[2018-01-01 15:51] Kimoa85 opened #2864 "Error loading data when entering wallet"
Type: Bug

Summary:
When entering my wallet I see an error on top "error loading data" after changing network

Expected behavior
I suppose it should be able to load the data

Actual behavior
there is an error on top of the page saying it is unable to load the data

Reproduction
In any of your Status accounts, try entering the wallet and look at the top part of the screen.

Additional Information
S

[2018-01-01 16:02] Kimoa85 opened #2865 "null is not an object (evaluating 'c.greaterThanOrEqualTo') error when trying to send an amount through the wallet screen when changing a network"
Type: Bug

Summary:
null is not an object (evaluating 'c.greaterThanOrEqualTo') error when trying to send an amount through the wallet screen when changing a network

Expected behavior
Error shouldn't appear, if there is a network issue there should be a valid\relevant error, otherwise, no error should appear

Actual behavior
Error appears

Reproduction
Create an account, switch to a different net

[2018-01-01 16:15] Kimoa85 opened #2866 "message "aaaa" is not defined appears as: {:message "aaaa" is not defined"}"
Type: Bug

Summary:
When messaging the console a non-defined message it appears ass: {:message "aaaa" is not defined"}
rather than just appear as: message "aaaa" is not defined

Expected behavior
message "aaaa" is not defined

Actual behavior
{:message "aaaa" is not defined"}

Reproduction
Enter a chat with console, type "aaaa" receive the reply {:message "aaaa" is not defined"}

Additional Inform

[2018-01-02 00:13] rubberbird commented on #2812
Can you please confirm linux distro and version?

[2018-01-02 07:26] oskarth commented on #2852
Able to reproduce on iPhone X, recent develop build.

- Sent 100 messages to some test user
- Logout and login again

- Clicking Sign in takes ~3
- Immediately clicking on the user chat takes 5s for screen to load
- Clicking on other chat with ~3 messages takes maybe ~200ms
- Subsequent clicks on bad chats are pretty much instant
- Also notice scrolling quickly up through messages leads to a janky

[2018-01-02 07:40] oskarth commented on #2812
Hi all, sorry for the late reply!

@onbjerg

1. What it says in description, other than that fairly free form :)

2. Minimal but reasonable assumptions, e.g. if math is annoying in bash then OK to to use small unix utility that is available on OSX and Linux, at least. I'd assume OSX and Ubuntu LTS to keep it simple, since most devs are on one of these platforms (or something very similar).

Re dat

[2018-01-02 08:32] #2669 closed, assigned to nobody

[2018-01-02 08:33] oskarth commented on #2852
Did some further investigation to see where problem is.

# Rough notes

On iPhone 6s simulator on latest develop.

## A New chat

1. Add contact, send one message, logout

2. From click 'sign in' there are maybe ~50 events and can't copy paste, but nothing that takes crazy long time. Longest:

360ms: add-contacts
330ms: initialize-chats
190ms: change-account-handler
111ms: choose-predefined-expand

[2018-01-02 11:37] #1379 closed

[2018-01-02 11:42] Serhy opened #2867 "java.lang.NullPointerException: Attempt to read from field 'android.animation.Animator android.animation.AnimatorSet$Node.mAnimation' when I tap on 'Requesting 0 ETH' message in group chat"
*Type*: Bug

*Summary*: `java.lang.NullPointerException: Attempt to read from field 'android.animation.Animator android.animation.AnimatorSet$Node.mAnimation'` exception appeared after I tap on "Requesting 0 ETH" from another contact in group chat on Android 7.0 (Samsung J7 real device).
/request message with 0 ETH was sent from iPhone X.

I can not reproduce it now, but there is a TF session with

[2018-01-02 12:07] oskarth commented on #2721
@churik @Serhy or @annadanchenko can you confirm https://github.com/status-im/status-react/pull/2835 solves it for time being? If so we can edit issue to say "Under JSC flag" (and possibly adjust priority).

[2018-01-02 14:40] janherich commented on #2852
@oskarth I investigated the issue and here are my findings:
On the sender side, `:update-message-status` indeed takes dominant chunk of the time when user logs in and a lot of messages are to be sent.
The handling of that event is very ineffective and clumpy in develop, it should be more efficient in my outstanding branch currently tested (https://github.com/status-im/status-react/pull/2807).
If e

[2018-01-02 15:42] Serhy opened #2868 "'from [username]'/'to [username]' is not shown in request/send message bubble in group chat on message sender screen"
***Type***: Bug
***Summary***: When UserA request/send ETH in group chat from/to UserB - there is no recipient in /request (/send) message bubble is shown on the message sender screen (on UserA chat screen in this case). However, it is displayed on receiver's side (UserB in this case).

#### Expected behavior
'from [username]'/'to [username]' is visible in request/send ETH message bubble in group

[2018-01-02 16:01] chadyj opened #2869 "User is frequently logged out"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to stay logged into the app so that I can easily use it without logging on.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actua

[2018-01-02 16:21] janherich commented on #2868
@Serhy just to be clear, this happens on develop, #2807 branch, or both ?

[2018-01-02 17:02] Serhy commented on #2868
@janherich both branches affected: develop and #2807

[2018-01-02 17:08] Serhy opened #2870 "Deleted 1-1 chat reappear in 'Chats' list after next user log in"
***Type***: Bug

***Summary***: When I delete 1-1 chat(s) with previously read messages I had with another contacts (so no Unread message counter displayed on Chat screen), after I log out and log back in - all deleted chats reappear and display all messages I had with the contacts, that were deleted, - like they were Unread.
The main issue is that we should not resurrect deleted 1-1 chats at all.

[2018-01-02 17:13] chadyj opened #2871 "Show unread message badge notifications"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see unread notifications so that I can know if I have unread messages whilst in other chats or other parts of the app.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what yo

[2018-01-02 18:38] status-open-bounty commented on #2871
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x2a2c00ceb099b5dcde878732fca2375007a398f1d79c5b208b1bcc480ee02570](https://etherscan.io/tx/0x2a2c00ceb099b5dcde878732fca2375007a398f1d79c5b208b1bcc480ee02570)

[2018-01-02 19:04] #2756 closed, assigned to nobody

[2018-01-03 00:26] chadyj commented on #2869
In the future it might be nice for the user to set the authentication level from a Privacy section in Settings. Eg always require login, or require if inactive for X minutes. Also will be nice to have touch/faceID integrated at some stage.

[2018-01-03 07:44] oskarth commented on #2869
Removing this part:

From the scope issue as it should be its own issue.

[2018-01-03 07:48] oskarth opened #2872 "Non-reversible actions should be authenticated so I can protect my wallet/info/account and feel secure"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want my transactions and other non-reversible actions to be authenticated so I can protect my wallet/info/account and feel secure.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*:  As a user I want to authenticate non-reversible actions, such as sending a

[2018-01-03 07:49] oskarth commented on #2869
Edited and factored this issue into two to keep scope limited: https://github.com/status-im/status-react/issues/2872

[2018-01-03 07:49] oskarth commented on #2872
Chad:

[2018-01-03 07:50] oskarth commented on #2872
Also see https://github.com/status-im/ideas/issues/58 for swarm that will likely deal with this.

[2018-01-03 08:27] flexsurfer commented on #2792
Messages don't work at all on Android https://app.testfairy.com/projects/4803622-status/builds/7416814/sessions/59/?accessToken=b8Vc8pYbYJZ4v8UQaMyqTC8H0hA

[2018-01-03 08:37] churik commented on #2808
TF (00:50 - 01:20) https://app.testfairy.com/projects/4803622-status/builds/7416814/sessions/60/?accessToken=iitQI2auyVyOD2RcugI0chfRiH8

build 0.9.10-5022-g2f4c750d+ (nightly 02.01.18)

[2018-01-03 09:10] churik commented on #2840
new details -
1) instead of QR code white screen is shown:
00:55 - 01:15: https://app.testfairy.com/projects/4803622-status/builds/7416814/sessions/55/?accessToken=Fk5c5J9iWFKGy0W1NQywpqDh9EY
2) after relaunch app camera is not working.

Scanning QR and camera start working after reset the phone.
@flexsurfer did I miss something?

[2018-01-03 09:46] antdanchenko opened #2874 "Refactoring of e2e automation framework"
### User Story

As an automation engineer I would like to keep automation framework in readable state, decrease running time and bypass minor issues which blocks automated tests from testing core features.

### Description
The framework should be refactored in order to increase readability, so each test team member could be easily involved in creation of e2e tests,
Decrease running time.
Bypass mi

[2018-01-03 10:19] Chu127001 commented on #2721
@oskarth  It is not reproducible in current dev, so #2835 solves it for now.

[2018-01-03 10:55] oskarth commented on #2874
@antdanchenko Can you add PRs to QA Pipeline projects in the future? Should end up in right column by default then.

[2018-01-03 11:28] oskarth opened #2878 "Jenkins: Get nightly to two sigma reliability"
### User Story

As a developer, I want nightly to work so I can focus on my work.

As a tester, I want nightly to work so I can focus on my work.

### Description

*Type*: Feature/Devops (and tooling)

*Summary*: Get nightly build to 95% (two sigma) reliability over last some reasonable time frame (30d / 100 builds).

#### Expected behavior
95% build success of nightly build over some reasonable t

[2018-01-03 11:30] oskarth commented on #2878
Note that this isn't 100% a devops task but also in terms of devs not merging faulty PRs. The general goal is the same and is part of ensuring reliability so core contributors can focus on work, not things breaking all the time.

[2018-01-03 11:31] annadanchenko commented on #2863
duplicate of #1677

[2018-01-03 11:31] #2863 closed, assigned to nobody

[2018-01-03 11:33] asemiankevich opened #2879 "STT /request message is showing ETH"
### Description

*Type*: Bug

*Summary*: It is a separate issue related to erc20 branch but @jeluard and @goranjovic will work on it a bit later and we don't want to block Goran's work awaiting for the fix in branch.

When I /request tokens (STT) and select a contact from contact list - the request message shows ETH

#### Expected behavior
When STT / SNT was requested I want it to be clearly indic

[2018-01-03 11:36] oskarth opened #2880 "Jenkins: Get nightly to build in under 10m"
### User Story

As a developer, I want CI to run fast so I can quickly get feedback and ship quicker.
As a tester, I want the same thing.

### Description

*Type*: Feature/Devops

*Summary*: Make (successful) nightly build run in under 10m on average.

#### Expected behavior
Nightly build in <10m.

#### Actual behavior
Nightly build in 14-20m.

Source: https://jenkins.status.im/job/status-react/jo

[2018-01-03 11:36] oskarth commented on #2880
Can also get some support from Clojure devs, but a lot of it is just playing around with tooling and getting build steps to run, not much domain specific knowledge.

[2018-01-03 12:01] oskarth commented on #1708
Issue and profiling a bit outdated but many observations still stand. Closing this in favor of more targeted https://github.com/status-im/status-react/issues/2880

[2018-01-03 12:01] #1708 closed, assigned to nobody

[2018-01-03 12:12] oskarth commented on #2874
@antdanchenko Oops my bad, thought this was a PR. Meant to comment on https://github.com/status-im/status-react/pull/2875 - removing issue from pipeline (PR already there)

[2018-01-03 12:13] jeluard opened #2881 "Update wallet main screen"
### User Story

As a user, I want to have access to latest wallet  UI changes

### Description

Update wallet main screen so that main actions are displayed as a list. `transaction history` is now a first class action.
[Mockups](https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5a589a0fccc89d66c86d6be8)

*Type*: Feature

[2018-01-03 12:15] jeluard opened #2882 "Update wallet send transaction screen"
User Story

As a user, I want to have access latest wallet UI changes

Description

Update wallet send transaction screen `recipient selection` and `amount` display. `advanced` screen and `token` selection will also be updated.

Type: Feature

[2018-01-03 12:16] jeluard opened #2883 "Update wallet receive transaction screen"
User Story

As a user, I want to have access latest wallet UI changes

Description

Update wallet receive transaction screen so that it reflects mockup changes.

Type: Feature

[2018-01-03 15:44] mixeliusini commented on #2334
I am a native Ukrainian speaker and I would like to participate too. Is the bounty still relevant?

[2018-01-03 15:46] oskarth commented on #2751
Not part of iteration 1, will bounty up at some point.

[2018-01-03 16:12] poiga commented on #1774
I am working on this!

[2018-01-03 16:16] yevh-berdnyk opened #2884 "Recipient name is not shown when scanning QR code to send transaction from wallet"
### Description

*Type*: Bug

*Summary*: Only recipient’s address shown in the Recipient field when scanning QR code of the request from wallet

#### Expected behavior
Recipient name is shown in the Recipient field
![2018-01-03 18 14 13](https://user-images.githubusercontent.com/29711298/34531502-325e197a-f0bb-11e7-983c-4cb04605c4aa.jpg)

#### Actual behavior
Recipient address is not shown in the

[2018-01-03 16:18] oskarth opened #2885 "Offline inboxing: Confirm `admin_peers` and `admin_addPeer` are available when called via `CallRPC` binding."
Converting old note to issue so this doesn't get lost. Not a priority right now, but for correctness this might come up at some point.

Confirm `admin_peers` and `admin_addPeer` are available when called via `CallRPC` binding.

Context: AddPeer -> wait resp -> markTrustedPeer possible race condition. Possible solution: poll for isPeerAdded (or check peers list directly as above)

[2018-01-03 16:44] oskarth opened #2886 "Jenkins: parameterized build auto rebase"
As a QA/dev I don't want to have to ask contributor/rebase on develop all the time, 95% of rebases are automatic.

Make auto rebase part of parameterized build by exposing JENKINS_REBASE_DEVELOP build flag.

[2018-01-03 17:06] #2886 closed, assigned to oskarth

[2018-01-03 17:58] kylerchin opened #2889 "Suggestion: Change Icons from 3 dots to edit pencil icon in UI"
That way, the UI is less confusing. Thanks!

_Sent from my Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2018-01-03 20:15] pedropombeiro commented on #2287
Starting to work on this.

[2018-01-03 21:01] StudioEtrange commented on #2812
Ok then, done.
How we submit this ? Is it just a PR to do ?

[2018-01-03 21:06] ghost commented on #2812
please read https://wiki.status.im/Building_Status contributing paragraph :)

[2018-01-03 21:08] StudioEtrange commented on #2812
Ok, that's rule on coding convention. But what about the bounty mechanism.
Do I have just to submit a new PR relating to this issue ?

[2018-01-03 21:09] poiga commented on #2812
Yes

[2018-01-03 21:12] chadyj opened #2892 "Random names are shown instead of a users chosen name"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see the profile names of users I interact with in p2p chats, group chats, and public chats so that I can identify users and follow along with chats.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

[comment]: # (Describe the feature you would like, or bri

[2018-01-03 21:17] ghost commented on #2812
Also read ' status-open-bounty commented 8 days ago •'

To claim this bounty sign up at https://openbounty.status.im and make sure to update your Ethereum address in My Payment Details so that the bounty is correctly allocated.
To fund it, send ETH or ERC20/ERC223 tokens to the contract address.

[2018-01-03 21:25] yevh-berdnyk opened #2894 "Street is not found by name when sending location"
### Description

*Type*: Bug

*Summary*:
Entered street name is not found in the list of suggestions when typing an address with a real street to /location command

#### Expected behavior
Entered street is found

#### Actual behavior
Not relevant list of locations is displayed when typing part of street name
![part](https://user-images.githubusercontent.com/29711298/34540444-40e04abe-f0dd-11e7-9ff

[2018-01-03 21:25] StudioEtrange commented on #2812
Ok, then
I made some guess. Mainly about the info you wanted to be printed out for the five number summary.
For now I print creation date of PR. The oldest one, the newest one, and I compute date for mean, q1 and q3, by using every creation date of opened PR.
Is that the result expected ?

Or, you want spent five number summary of spent time (so only for closed issue) ?

I have the both solution i

[2018-01-03 23:47] Chumalaka commented on #1691
Hi @oskarth. How can I help here? Is this task still open?

[2018-01-04 01:21] dottedmag commented on #1048
@flexsurfer Got this one working too. Please have a look.

[2018-01-04 03:41] mplsvbhvr commented on #2760
I have the same error - was a fix ever found?

[2018-01-04 06:30] t4sk commented on #2352
@CrypoNinja Can you create a pull request? Once the pull request is created, you should be able to see "File Changed" link at the top of this page.

[2018-01-04 06:37] andytudhope commented on #1691
Hi @Chumalaka! It is very much still open and you can help by submitting a PR that fixes the bug 😉

[2018-01-04 07:09] oskarth commented on #2287
Thanks @PombeirP, let me know if you have any questions.

[2018-01-04 08:09] CrypoNinja commented on #2352
give me a couple of days, cuase i am traveling aisan islands where internet
is unstable. mikio

On Jan 4, 2018 3:30 PM, "Tasuku Nakamura" <notifications@github.com> wrote:

@CrypoNinja <https://github.com/cryponinja> Can you create a pull request?
Once the pull request is created, you should be able to see "File Changed"
link at the top of this page.

—
You are receiving this because you were ment

[2018-01-04 08:29] #2009 closed, assigned to jeluard

[2018-01-04 08:29] #2642 closed, assigned to jeluard

[2018-01-04 08:29] #2645 closed, assigned to jeluard

[2018-01-04 08:39] goranjovic opened #2899 "Set /send command currency to always ETH"
Type: Bug

When we use `/send` command from chat, there is no currency parameter - only ETH transactions can be initiated from there.

Expected:

Wallet screen that shows up after a `/send` command was used should show ETH as the currency.

Actual:

Send command causes a red screen error

[2018-01-04 08:41] oskarth commented on #2792
@churik @flexsurfer thinks it could be offline inboxing, I doubt it (@annadanchenko tested it on Android), but could you make a build with this flag off to make sure?

[2018-01-04 08:51] asemiankevich commented on #2894
Hi @yevh-berdnyk ! Thanks for your bug report. We are using 3-d party map service so if it does not have particular street / address / location - we can't send it within Status as well.

[2018-01-04 09:08] dmitryn opened #2900 "Unread badge counter doesn't fit large numbers"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Unread messages counter badge doesn't fit large numbers on chat list screen.

#### Expected behavior
[comment]: # (Describe what you expected to

[2018-01-04 09:11] churik commented on #2419
The same behavior for Iphone 5s:
![biogr_overlap](https://user-images.githubusercontent.com/4557972/34556645-d5da73ee-f13f-11e7-9b2b-d8fa60657fa4.png)

v0.9.11d499 (build with PR #2833)

[2018-01-04 10:01] pedropombeiro commented on #2287
Thanks @oskarth! This is the first time I've had contact with ClojureScript, or any LISP-inspired language for that matter, so I'd welcome any input as to whether I'm killing any baby seals here :-)

Could you please take a look at my commit, and check if I'm going in the right direction? https://github.com/PombeirP/status-react/commit/971a506df1b13921212c89dbd61a8d4004ee1c5b

For the [payload](ht

[2018-01-04 10:28] oskarth commented on #2287
@PombeirP without looking at it in detail, in general it seems like the right direction! If you open a PR I can review more thoroughly.

Payload: I forgot exactly how this worked, but right now we aren't using it due to end to end encryption concerns (Firebase untrusted and unclear interception for Android and iOS). For now we just want to make sure some payloadJSON shows up in e.g. console logs o

[2018-01-04 10:31] pedropombeiro commented on #2287
@oskarth OK, the current code should be fine then, since I see the data from the CLJS side appear on the Android side logs. I'll create a PR then, thanks!

[2018-01-04 11:34] asemiankevich commented on #2865
Hi @Kimoa85 ! I assume this is due to missing validation (maybe), so you are trying to send funds with 0 balance (switching to another network will renew your balance to 0 until you /faucet funds there again).
I am not able to reproduce the issue in latest nightly, I am seeing `Insufficient funds` tooltip in all the cases performed:
- created account on ropsten -> faucet funds -> switched to rikeb

[2018-01-04 11:35] oskarth commented on #2787
TODO: Update this based on current status-go version

UPDATE JAN 16: Done.

[2018-01-04 11:41] asemiankevich opened #2903 "Error Invalid arity: 0 shown in several cases"
### Description

*Type*: Bug

*Summary*: when I am switching between networks (RPCs) I can receive Error `Invalid arity:0 `.  This happens when I have more than 1 account on Ropsten for ex and then switch to Rinkeby and vise versa.

or

Error `Error invalid arity:0`  when try to recover access with valid passphrase and password. The same happens if to try to recover user with invalid passphrase/pa

[2018-01-04 11:55] oskarth commented on #2812
Copy paste from PR as I realize it wasn't really clear from issue:

@StudioEtrange Oh right, I realize this wasn't super clear in initial issue, but what I meant by:

Is that one should be able to run `./scripts/pr-statistics.sh` with some variable like:
[code]
And then script should only check PRs in that interval.

The use case is to track how we improve merge speed over time.

[2018-01-04 12:08] Serhy opened #2904 "'Error invalid arity:0' appears on recover account with valid (or invalid) passphrase and password"
### Description

***Type***: Bug

***Summary***: Error `Error invalid arity:0` when try to recover access with valid passphrase and password. The same happens if to try to recover user with invalid passphrase/password.

#### Expected behavior
Account recovered and I'm able to log in.
#### Actual behavior
`Error invalid arity:0` error appears
![screenshot_20180104-134818](https://user-images.github

[2018-01-04 12:50] #2659 closed, assigned to janherich

[2018-01-04 13:12] andytudhope commented on #2900
Pretty cool that there were 357 messages in the status chat this morning though 😉 🎉 Can we maybe bounty this @dmitryn?

[2018-01-04 13:16] asemiankevich opened #2905 "Implement PN informational message for Android users (Onboarding)"
### Description

*Type*: Feature

*Summary*: this is a feature request. I want Android users to be informed about Push Notifications enabled feature. Just from user side - i even dont know about PNs while on Android and iOS informs me about it right after i start the app.

#### Expected behavior
We have this security alert on iOS saying about PNs. Its just a system notification but we can try to i

[2018-01-04 13:20] goranjovic opened #2906 "New Profile screen tab"
### User Story

As a user I want to easily access my profile in a dedicated tab

### Description

*Type*: Feature

*Summary*: The new profile screen contains the following items:
- username
- profile image
- main currency - hardcoded to USD and not selectable
- network settings
- log out

To be done in the scope of a separate issue:
- #3051 notification settings - to link to OS native notification

[2018-01-04 13:25] mandrigin commented on #2905
One side note about how iOS behaves.

The dialog on the screenshot is a system dialog. If a user presses "Don't Allow" in there (even by mistake), it won't be possible for the app to request the notification permission again (until a user resets her phone).
That's why FB Messenger or WhatsApp show this [ugly full-screen dialog](http://www.thepicky.com/images/2017/01/Turn_on_whatsapp_notifications.

[2018-01-04 13:28] asemiankevich commented on #2905
@mandrigin right as I said above its system message for sure. We need to think about it, maybe @andmironov has some thoughts :)

[2018-01-04 13:38] asemiankevich commented on #2904
closing this one due to merge with https://github.com/status-im/status-react/issues/2903

[2018-01-04 13:38] #2904 closed, assigned to nobody

[2018-01-04 13:46] #2894 closed, assigned to nobody

[2018-01-04 13:51] flexsurfer commented on #2892
changed label because it works as designed

[2018-01-04 14:13] oskarth commented on #2878
@v2nek thoughts on this one? want to own it and figure out what we need to do to get there? Might include processes for merging / simplifying build steps etc. Happy to assist too.

[2018-01-04 14:21] churik opened #2908 "0.00 ETH is shown instead of specified amount (with comma) on "Send transaction" screen after /send command"
### Description
*Type*: Bug

*Summary*:
when you open chat and use /send command with some amount (with comma i.e. 0,001) , enter amount - Send transaction with 0.00ETH instead of specified amount
![oldamount](https://user-images.githubusercontent.com/4557972/34567518-47f1cccc-f16b-11e7-94fd-68a8d5498760.png)

#### Expected behavior
specified amount is shown

#### Actual behavior
0.00 ETH

### Rep

[2018-01-04 14:31] v2nek commented on #2878
This looks stable since most of pipeline configs were migrated to jenkinsfile from git, you and @rasom  did most of the required changes, and now it depends mostly on devs to keep it green as much as possible.

We can improve this by building all PR's after change of destination branch, but now it creates queue of builds for few hours. We can add more macos machines, or reduce number of open PR's,

[2018-01-04 14:34] #2899 closed, assigned to goranjovic

[2018-01-04 14:35] oskarth commented on #2878
While I agree it is up to each dev, it is also up to someone to own the problem and do whatever is necessary to make sure this happens, for example by installing processes/automation/telling people to do X/not Y. I was hoping this person could be you! :)

[2018-01-04 14:48] asemiankevich commented on #2889
Thank you for your suggestion @kylerchin ! We are working on future designs right now :)

[2018-01-04 14:48] #2889 closed, assigned to nobody

[2018-01-04 14:51] status-open-bounty commented on #2900
Balance: 0.000000 ETH
Contract address: [0x976f8e12fa1494eadfae905e1a625f56027e8d97](https://etherscan.io/address/0x976f8e12fa1494eadfae905e1a625f56027e8d97)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-04 15:36] Saemy1 commented on #2246
for mac users, at least at my end, it works only when I add /pom.xml:

`mvn -f modules/react-native-status/ios/RCTStatus/pom.xml dependency:unpack`

[2018-01-04 16:43] dmitryn commented on #2852
One more easy/fast way to reproduce the issue:
* Join #status public channel
* Log out
* Log in back
* App is completely unresponsive (real device android or ios simulator)
* Watch events spamming log file: `:incoming-message`, `:chat-received-message/add`
 .. wait for app to be responsive
* Go to public chat
* Bunch of `send-seen` events (@janherich already commented on that above)
* App is unres

[2018-01-04 17:02] kylerchin commented on #2908
Android too

[2018-01-04 17:13] churik commented on #2428
Is not reproducible with current develop

[2018-01-04 17:13] #2428 closed, assigned to nobody

[2018-01-04 17:39] yevh-berdnyk opened #2909 "Received request displayed without amount and text ‘Requesting’ if received during syncing"
### Description

*Type*: Bug

*Summary*: When user A on Ropsten during syncing receives funds request from user B on Ropsten with Upstream RPC (no sync) requested amount and text are not displayed in the message

#### Expected behavior
Requested amount is shown on user A screen

#### Actual behavior
Requested amount and text are not shown on user A screen - only icon of request is shown
![2018-01-

[2018-01-04 18:09] churik commented on #2602
Faced with issue on Android as well (Galaxy S7).
I have several /request in group chat and one in 1-1 chat before upgrade.
After upgrade and sign in (worked with app for 2 min after sign in, can see in TF session for first 2 min) I see same error with more details (debug is on):
![egtolower](https://user-images.githubusercontent.com/4557972/34577691-bafc8c1a-f18a-11e7-87ab-e07b584d6d57.png)
TF ses

[2018-01-04 19:05] oskarth commented on #2878
Putting this as high-priority because it is unbelievable how much time we are wasting on Jenkins/QA merge cycle being blocked last few months. We have to fix this.

[2018-01-04 20:55] Emnnke commented on #2900
For Android: if you need to show a number greater than 999, mb, you can use the reduction for 1000 messages of 1k, for the number of messages more than 1000 - 1k+ ?

[2018-01-04 21:15] chadyj opened #2912 "Wrong icon shown for Android push notification"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to know to that Status sent a push notification so that I can read unread messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and wh

[2018-01-04 21:42] annadanchenko commented on #2699
can reproduce on nightly build  0.9.10-512-gb42df648+ (2069)
TF of receiver: https://app.testfairy.com/projects/4803622-status/builds/7430381/sessions/50/?accessToken=kNYHtw2SXnwmHSIst1GdjXtOGrM
TF of sender: https://app.testfairy.com/projects/4803590-status/builds/7434230/sessions/30/?accessToken=3QipeQu1it8dpNgBuCel5Jc7ry0

Sender sent 5 messages when receiver was offline:
1. "Test it send offli

[2018-01-04 21:50] annadanchenko commented on #2823
@churik can you reproduce it?

[2018-01-05 01:15] janherich opened #2914 "Chat list rendering incorrectly when new chat appears"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: The recent move to `FlatList` introduced bug when chat list is not prop

[2018-01-05 06:22] oskarth commented on #2699
Actual PR that activates queue message behavior https://github.com/status-im/status-react/pull/2860

[2018-01-05 06:41] jeluard commented on #2643
Postponed due to MVP changes: `send` and `request` will be simpler and only accept `contact` as an optional argument.
This requires deep linking support and changes to the API.

[2018-01-05 06:55] #2813 closed, assigned to nobody

[2018-01-05 06:56] #2530 closed, assigned to nobody

[2018-01-05 06:57] oskarth commented on #2903
@asemiankevich Can we only add PRs to the board? That way it is clear for devs what to REVIEW and MERGE, and we don't get duplicates. All PRs addressing issues should link to these in their PR summary.

[2018-01-05 07:02] oskarth commented on #2511
This is done. Can be enhanced in separate issue.

[2018-01-05 07:02] #2511 closed, assigned to nobody

[2018-01-05 07:03] oskarth commented on #1970
@goranjovic do you know if this is still an issue?

[2018-01-05 07:34] asemiankevich commented on #2903
@oskarth yeah sure, sorry

[2018-01-05 08:26] #2702 closed, assigned to oskarth

[2018-01-05 08:36] oskarth commented on #2878
Additionally: https://github.com/status-im/status-react/commits/develop CI/checks feedback shoul be green. Not sure why they often aren't right now, maybe WIP integration?

Not sure if this is a separate issue or not.

[2018-01-05 08:38] dumiz commented on #2352
Done the translation, please take a look

[2018-01-05 10:14] StudioEtrange commented on #2812
Ok, done : )
PR is approved
Waiting for merge :)

[2018-01-05 10:51] oskarth opened #2920 "[Perf] Experiment: spike out using many topics for chat"
Based on https://github.com/status-im/ideas/issues/55#issuecomment-355511183 findings

Trying naive things.

## Additional work

- [ ] Extend asym basic for spike: https://github.com/status-im/status-react/pull/2922#issuecomment-355561775
- [ ] Get status-go custom build with envelopes
- [ ] Validate open/recv envelopes differ with flag on and off, possibly with background noise (#status desktop c

[2018-01-05 11:06] foopang opened #2921 "Improvements needed for custom figwheel script"
Follow-up from #2749

As a developer, I want the custom figwheel script to be more decoupled so that I can have more control when using my editor integrated with REPL.

My usual workflow is start nREPL once, then in Emacs CIDER  connect to nREPL to do whatever actions I need like firing up figwheel, CLJS REPL, etc. So I would have to avoid `lein figwheel-repl` because it doesn't create a nREPL ses

[2018-01-05 12:09] oskarth commented on #2903
Blocked by this when testing https://github.com/status-im/status-react/issues/2920

[2018-01-05 12:33] asemiankevich opened #2923 "Implement sending / receiving STT (SNT) in chats"
### Description

*Type*: Bug

*Summary*: In terms of implementation of `ERC20` support we did not achieve the following:

1. Send command (no token support) (upgrade to API, support for deep linking), so we have disabled `send request` button when currency is set to STT due to this reason

2. Can't see the token history , this is the problem @goranjovic was trying to resolve however etherscan API

[2018-01-05 12:46] asemiankevich opened #2924 "Currency style is broken on wallet screen when sending funds in 1x1 chat"
### Description

*Type*: Bug

*Summary*: Asset indicator is black

#### Expected behavior
Currency should be white font matching other styles

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/34776855-53054e3c-f629-11e7-8d83-2547bc296f19.png)

### Reproduction

- Open Status
- Faucet some funds and call /send command in 1x1 chat
- Pay attention to wallet screen

##

[2018-01-05 13:38] asemiankevich opened #2925 "Password request message is not shown after application is launched after install"
### Description

*Type*: Bug

*Summary*: we have this issue appears from time to time and there are several issues closed for this https://github.com/status-im/status-react/issues/2049, https://github.com/status-im/status-react/issues/1130 for example and this issue is stable to reproduce in `release build ` from Jan 5 2018

https://jenkins.status.im/job/status-react/job/release/job/release%252F0.

[2018-01-05 13:45] #2029 closed, assigned to jeluard

[2018-01-05 13:45] #2879 closed, assigned to nobody

[2018-01-05 14:00] churik commented on #2914
can be reproduced with any chat (1-1 Chat, Group chat)
Faced on IOS 11, IPhone 7

[2018-01-05 14:18] churik opened #2927 "Error :No matching Clause (android) or Error: Invalid arity: 0 (IOS) at attempt to open transaction on unsigned screen"
### Description

*Type*: Bug
*Summary*: when you try to send some ETH from wallet and choose "Sign later", than you cannot sign transaction because of error
Android:
![unsigned](https://user-images.githubusercontent.com/4557972/34612480-b182c728-f232-11e7-9074-41175b8fb283.png)
IOS:
![unsignediphone](https://user-images.githubusercontent.com/4557972/34613098-3547e604-f235-11e7-934b-13cdf5b24935.pn

[2018-01-05 14:19] asemiankevich commented on #2912
![image](https://user-images.githubusercontent.com/28752642/34612828-67a24db8-f23c-11e7-9d46-27dbf8506034.png)

just to inform - it looks fine on Android 7

[2018-01-05 16:09] yevh-berdnyk opened #2930 "App crashes when switching users during network syncing"
### Description

*Type*: Bug

*Summary*: App crashes on users switch right after changing network and while syncing is in progress

#### Expected behavior
User B should be logged in

#### Actual behavior
App crashes

#### Precondition
There are 2 users on the device

### Reproduction
1. Open Status app
2. Login as user A
3. Open Profile
4. Click Network Settings
5. Choose Ropsten network
6. Click

[2018-01-05 16:13] churik commented on #2823
Cannot reproduce on current develop.

[2018-01-05 16:13] #2823 closed, assigned to nobody

[2018-01-05 16:15] churik commented on #2808
Floating issue, cannot reproduce on current dev build (05.01.18) again

[2018-01-05 16:15] #2808 closed, assigned to nobody

[2018-01-05 16:19] oskarth commented on #2925
Can reproduce on release build 3. Workaround is to already have an account...

[2018-01-05 16:56] rubberbird commented on #2812
so your only getting real values for the newest and oldedt PR? surely you need to get all the created_at values for all open PR's to have a valid data set, otherwise your jist guessing.

[2018-01-05 16:58] oskarth commented on #2812
@rubberbird Could you elaborate? Is this a comment on this solution https://github.com/status-im/status-react/pull/2893/files? If so would you mind reviewing and pointing out where you think the logic is faulty? Thanks!

[2018-01-05 17:56] StudioEtrange commented on #2812
@rubberbird That's what is done for now in https://github.com/status-im/status-react/pull/2893/files all PR in the selected period are fetched.

Then, depending of the use mode :
* "open" : **ALL** PR of the chosen period with state open (not merged nor closed) are selected. Here to compute stats `created_at` values from json are checked to be selected as the PR selection. Then It computes spent t

[2018-01-05 19:07] denis-sharypin commented on #2912
I created a notification/status bar icon. @asemiankevich  please assign to somebody who can upload it to the Android project
[ic_stat_status_android_8.zip](https://github.com/status-im/status-react/files/1607611/ic_stat_status_android_8.zip)

[2018-01-05 19:26] churik opened #2931 "[Perf] User story 2: Minimize data consumption"
### User Story

As a user, I want to use Status with cell network and don't care about huge traffic consumption.

### Description
*Type*: Feature

*Summary*:
when smbd is using app on regular basis (open chat, send location, use group and public chats), so just daily tasks for chat, he doesn't expect a lot of traffic consumption so goal is to use data amount comparable with other apps during perfo

[2018-01-06 01:48] 0xc1c4da commented on #2931
Hi @churik so  the comparison between actions and data usage here shouldn't have a 1:1 relationship. Status is a decentralised application and what I suspect (although we should confirm) your actually measuring in all of these is blockchain synchronisation and whisper message passing, and therefore the amount for each action is time dependent on your ability to carry out that action.

For example,

[2018-01-06 08:25] oskarth opened #2933 "npm install mapbox step slow and unreliable"
### User Story

As a developer, I want fast builds so I can work more effectively.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature/Tooling

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Make mapbox install step faster/more reliable by

[2018-01-06 08:27] oskarth commented on #2880
See https://github.com/status-im/status-react/issues/2933

Also more generally for just local (reliable) build this is the best I can do to actually make sure env works. It takes 8-12m depending on Internet speed. yarn, vendoring and a bunch of other stuff can probably help here.

[code]

cc @rasom @v2nek

[2018-01-06 08:32] oskarth commented on #2933
See https://github.com/mapbox/react-native-mapbox-gl/issues/916 for possible root cause

[2018-01-06 09:46] oskarth commented on #2933
See https://github.com/mapbox/react-native-mapbox-gl/issues/916 for possible root cause

[2018-01-06 12:28] oskarth opened #2934 "Documentation for protocol namespace and function/defs for chat, listeners, group"
### User Story

As a developer, I want to have up to date documentation for core namespaces so I know what the code is supposed to be doing.

### Description

*Type*: Feature/Documentation

*Summary*: Write documentation for protocol/{chat,listeners,group}.cljs namespace and core functions/definitions.

#### Expected behavior
Documentation inline.

#### Actual behavior
No documentation.

### Notes

[2018-01-06 12:33] oskarth opened #2935 "Uncomment and fix failing tests"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want tests to work so that I can verify modules work as expected.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature/Tests

*Summary*: Uncomment https://github.com/status-im/status-react/blob/develop/test/cljs/status_im/test/runner.cljs tests, fix them and make sur

[2018-01-06 18:49] oskarth opened #2937 "Solve intermittent node_modules/web3/dist/web3.min.js (No such file or directory)"
### User Story

As a developer, I want to have a reliable build process so I can focus on gettin work done.

### Description

*Type*: Bug

*Summary*: Fix build scripts and instructions so that `node_modules/web3/dist/web3.min.js` is always present.

#### Expected behavior
`node_modules/web3/dist/web3.min.js` (and more broadly, `node_modules/web3/`) should always be present when running `npm instal

[2018-01-07 06:55] status-open-bounty commented on #2934
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x15b4224e9f35a76c1b506eca2aa1756a57e0e75ae0c22a3ef676d4f59601ddc6](https://etherscan.io/tx/0x15b4224e9f35a76c1b506eca2aa1756a57e0e75ae0c22a3ef676d4f59601ddc6)

[2018-01-07 06:56] status-open-bounty commented on #2935
Balance: 0.000000 ETH
Tokens: SNT: 250.00
Contract address: [0xa7bcfcf1262ccff376930d3aef3c740a7b8fabf2](https://etherscan.io/address/0xa7bcfcf1262ccff376930d3aef3c740a7b8fabf2)
Network: Mainnet
Paid to: cammellos
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-07 06:56] status-open-bounty commented on #2751
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0xa17cce7e404871395406f25793e107b5707a95c9](https://etherscan.io/address/0xa17cce7e404871395406f25793e107b5707a95c9)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-07 12:34] t4sk commented on #2731
I am going to try this issue

[2018-01-07 20:38] lukaszfryc opened #2938 "App crashes on iPad after clicking on a new group chat message in Chats tab"
### Description

*Type*: Bug

*Summary*: App crashes after clicking on a new group chat message in chat list (Chats tab). User is logged out. After logging in again the group chat does not contain the new message badge / indicator and can be successfully opened. Also, the app does not crash when a group message is received while being in the group chat screen.
The issue occurs on iPad Mini ([iPad2

[2018-01-07 21:29] annadanchenko commented on #2925
1. Password request is not shown on iOS devices (tried on iPhone 6s, iOS 10.3.3 and iPhone 7 plus, iOS 11.0.3)
Release build 5
https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.13/5/console
No TF sessions are recorded

2. Password request is shown on Android device on the same build (Pixel XL, Android 8.1.0) in 4 out of 5 attempts. On the failing attempt there was an error

[2018-01-07 22:25] annadanchenko commented on #2914
Scenario 1 (as described in issue): device A (with wrong Console icon for chat with B): https://app.testfairy.com/projects/4803622-status/builds/7443571/sessions/140/?accessToken=ENMz5wtsxCPZxCHs08McI1jebL4 from 2:30
device B: https://app.testfairy.com/projects/4803590-status/builds/7452263/sessions/5/?accessToken=-CdWBt0sJh3sWKJU2vGiSGLcgFo

note on steps: you need to paste the key when adding a

[2018-01-07 23:09] annadanchenko commented on #2699
Need to recheck on release build, as #2860 is merged and seems to fix the issue
tests to do:
1. more then 30 messages sent in 1-1, group and public chats by 1 user. If works then by several users
2. recheck offline inboxing

[2018-01-08 06:28] oskarth commented on #2925
Gonna try to reproduce and look into this, but since it is bug fixing day and this is high-priority I think it'd be fine if someone else looked into it as well.

[2018-01-08 07:14] oskarth commented on #2925
Repro on release build:
- Remove app from phone
- Install Release build 5 on iPhone X (iOS: https://i.diawi.com/MQaoL1)
- Try to setup password
- Click allow notifications
- No password prompt

Also repro locally on release branch with `cp .env.prod .env`. Logs: https://gist.github.com/oskarth/d472e5b42503e62e5df979a6662ddbe4

Hypothesis: something is different in .env that surfaces behavior (JSC?

[2018-01-08 07:27] oskarth commented on #2721
Adding release tag:

- so it shows up in bug fixing day filter https://github.com/status-im/status-react/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Abug+label%3Arelease

-we need to solve it, and preferably soon

- it might simplify/get rid of other bugs

[2018-01-08 07:28] oskarth commented on #2721
Adding release tag so it shows up in bug fixing day filter https://github.com/status-im/status-react/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Abug+label%3Arelease

We need to solve it, and preferably soon. It might also simplify/get rid of other classes bugs.

That said it if this issue isn't solved it won't be in 0.9.13 release.

cc @rasom

[2018-01-08 07:45] jeluard commented on #2927
@churik Fixed by #2928

[2018-01-08 08:37] oskarth commented on #2852
Workaround, doesn't address underlying problem at all: https://github.com/status-im/status-react/pull/2941

Root problem: @janherich and @dmitryn are looking into it AFAIK. What do you guys think about splitting it into receiving /  sending problem? Since events etc are different. And maybe if there's a 3rd problem.

[2018-01-08 08:43] dmitryn commented on #2870
It was an attempt to fix that https://github.com/status-im/status-react/pull/1343

[2018-01-08 08:49] janherich commented on #2870
True, that was my first PR for status. The root cause of the issue is the fact, that we have to create new 1-1 chat whenever we receive new chat message from contact X, even if chat with contact X was already deleted before - the reason is that we can't know if upon deleting some chat, we don't want to ever receive message from deleted contact in the future.
If that would be relaxed (it's ok to ne

[2018-01-08 08:56] oskarth opened #2942 "Disable offline inbox for public/group chat for workaround perf fix"
Workaround for #2852 to unblock people from running app (it prevented @yenda from attending test session e.g. IIRC).

Since offline inboxing and desktop were introduced, we went from testing with ~10 messages to ~1000 messages. This surfaced inefficiencies such as this issue. It also means someone who joins a public channel such as #status will experience significant lag when signing in. To remedy

[2018-01-08 09:15] oskarth commented on #2782
@annadanchenko Given the above discussion, coming change in UI and the fact that this isn't really a bug per se (more unexpected, for some user), I don't think it makes sense to see this as a priority issue. I think we should remove this from release scope.

[2018-01-08 09:16] dmitryn commented on #2870
@janherich right, 1-1 chat just gets deleted from db and i don't see way to track it. So when new message arrives, chat gets inserted back. Instead we can set it as "inactive" to track it was deleted.

[2018-01-08 09:47] denis-sharypin commented on #2923
Some small UI tweaks
![artboard](https://user-images.githubusercontent.com/6559881/34665623-42077cb4-f461-11e7-8c73-804baf68711f.jpg)

[2018-01-08 10:00] oskarth commented on #2822
@churik does this solve it? https://github.com/status-im/status-react/pull/2858 sorry, it was in review queue for a long time.

[2018-01-08 10:38] jeluard commented on #2417
Cannot reproduce with latest develop.

[2018-01-08 10:50] annadanchenko commented on #2653
Can reproduce on nightly build from Dec 7
 0.9.11d523 (2080)
TF (iOS real device): https://app.testfairy.com/projects/4803590-status/builds/7452263/sessions/16/?accessToken=/F8oSNaEJBwWXzv/d/7rH1R5zjI

[2018-01-08 11:01] oskarth commented on #2313
@rasom @yenda What are your thoughts on this one?

[2018-01-08 11:01] oskarth commented on #2313
Tentatively adding to release for bug fix day, but we need to repro it first. Might be cut from scope (no worse than 0.9.12 release).

[2018-01-08 11:17] annadanchenko commented on #2782
@oskarth I disagree as user avatar+status shown in the mid of the chat is confusing and does not look nice. It will affect all users who open chat for more than 1 day, so will be very visible.

I propose to remove all username, avatar and status from chat (as name and avatar are shown on the top of the chat) and status will be removed with discover.

@andmironov agree?

[2018-01-08 12:08] #2921 closed, assigned to nobody

[2018-01-08 12:22] janherich commented on #2782
Implemented according to @annadanchenko 's suggestion - https://github.com/status-im/status-react/pull/2944

[2018-01-08 13:15] churik commented on #2931
Below are main wallet/balance actions available in Status and data usage for them:

Action | Consumption | Details / Comments
-- | -- | --
/faucet | ~1,1 MB |  
wallet: send ETH via QR scanning | ~1,8 MB |  
transaction details: wait 12 confirmations | ~4 MB | open 'Transaction details screen' several times in order to retrieve last data from etherscan.io
wallet: get STT tokens:  send a 0 ETH tran

[2018-01-08 13:46] jeluard commented on #2931
@churik Great stuff! Could you also track the time it took to perform the test ?

[2018-01-08 13:47] pedropombeiro commented on #2925
@oskarth what do you think about merging https://github.com/status-im/status-react/pull/2946 instead of https://github.com/status-im/status-react/pull/2939, since that achieves the original goal in https://github.com/status-im/status-react/pull/2803#issuecomment-354145328?

[2018-01-08 13:50] goranjovic commented on #2805
Can't reproduce on latest develop.
After I add the public key I just get the chat with that contact, as normal.

[2018-01-08 13:50] oskarth commented on #2925
@PombeirP Thanks for quick PR! However, right now we are going to merge #2939 since:

- It fixes root issue (which blocks people from using app/release branch)
- Has been tested by QA
- Default user flag (good practice)

But we will also review and test your PR :)

[2018-01-08 13:54] churik commented on #2931
@jeluard I've updated a comment

[2018-01-08 14:07] #2927 closed, assigned to jeluard

[2018-01-08 14:14] #2793 closed, assigned to nobody

[2018-01-08 14:14] t4sk commented on #2731
PR is in WIP. I've created a list of TODO. I would appreciate any feedback.

[2018-01-08 14:21] churik opened #2949 "'Transaction underpriced' error at attempt to send ETH from wallet after /send command in chat"
### Description
*Type*: Bug
*Summary*: after  /send command in chat I'm unable to send transaction from wallet because default transaction fee is unset:
![sentrans1](https://user-images.githubusercontent.com/4557972/34674479-beddc072-f48e-11e7-8aef-a7638410e18b.png)
At attempt to send transaction get an error:
![underprice](https://user-images.githubusercontent.com/4557972/34674534-fa1e3b1c-f48e-1

[2018-01-08 14:22] asemiankevich opened #2950 "Sign and Delete buttons are not shown for unsigned transaction on Unsigned tab"
### Description

*Type*: Bug

*Summary*: `sign` and `delete`buttons are missing on Unsigned transaction screen

#### Expected behavior
![image](https://user-images.githubusercontent.com/28752642/34674779-3ac74b82-f498-11e7-82c6-7989d6bf3a8e.png)

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/34674789-43566a94-f498-11e7-8268-0f86a7e51f5f.png)

### Reproduction

-

[2018-01-08 14:32] yenda opened #2951 "Remove whisper filter when chat is removed once many topics is implemented"
Following #2953

Once the many  whisper topics are implemented and used by default in develop, we need to remove the filter for a given chat topic when it is removed from the chat list to avoid decrypting messages that are not read anymore.

[2018-01-08 14:56] flexsurfer opened #2952 "Rework tabs"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

remove unused tabs (contacts, discovery), remove drawer (profile sidebar), prepare for home tab update, remove tab swipe UI

[2018-01-08 15:41] #2721 closed, assigned to rasom

[2018-01-08 16:22] status-open-bounty commented on #1785
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0xff96d75896f629d4f539ad3cd091fba76eaf0b8d](https://etherscan.io/address/0xff96d75896f629d4f539ad3cd091fba76eaf0b8d)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-08 16:37] asemiankevich opened #2957 "No matching Clause (android) at attempt to open transaction"
### Description

*Type*: Bug

*Summary*: can't open transaction details no matter online or offline

#### Expected behavior
can view transaction details

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/34680769-fcb310ca-f4aa-11e7-8884-1e22874cd1a4.png)

### Reproduction

- Open Status
- Faucet some funds
- Open transaction details

### Additional Information
* And

[2018-01-08 16:51] yenda commented on #2957
@jeluard could it be because there is no default clause in your fix ?

[2018-01-08 16:51] dmitryn commented on #2957
Similar error `Error: invalid arity 0` happens if you have 2 accounts and try to visit sign in screen.
Cannot copy-paste stacktrace from ios simulator, but seems to be related to flat-list call from: `ui.screens.accounts.views.accounts`

[2018-01-08 16:57] dmitryn commented on #2903
Similar error `Error: invalid arity 0` happens if you have 2 accounts and try to visit sign in screen.
Cannot copy-paste stacktrace from ios simulator, but seems to be related to flat-list call from: `ui.screens.accounts.views.accounts`

<img width="528" alt="screenshot 2018-01-08 19 50 13" src="https://user-images.githubusercontent.com/23836/34681589-68205d84-f4ad-11e7-9db3-b61220f68c87.png">

[2018-01-08 18:56] yenda commented on #2951
Closed because of https://github.com/status-im/status-react/pull/2943#issuecomment-356056397

[2018-01-08 18:56] #2951 closed, assigned to yenda

[2018-01-08 19:55] lukaszfryc opened #2958 "App crashes after staying in a chat screen for some time (can be reproduced on a slow iPad Mini, iOS 9.3.5)"
### Description

*Type*: Bug

*Summary*: The app crashes after staying in a chat screen for couple of minutes. Happens for both 1-1 chat and group chat.
I think it maybe related to a slow device I'm testing on - iPad Mini ([iPad2,5](https://everymac.com/ultimate-mac-lookup/?search_keywords=iPad2,5)), iOS 9.3.5. I could not reproduce it on my 2nd device - iPhone 6, iOS 11.2.1. Anyway, I think it's

[2018-01-08 20:34] ghost opened #2959 "Bug:Android:Not able to recover access (Invalid arity - Screenshot provided)"
### User Story
As a user, I wanted to recover access

### Description
*Type*: Bug

*Summary*:
I forgot the password so I wanted to recover access. I entered the 12 words and double checked to make sure they were right, I entered a new password to the "password" textbox assming that's what it's asking (Which logically must be the case) after tapping the button, the following happened:
https://drive

[2018-01-08 21:26] lukaszfryc opened #2960 "User stays on "Add new contact" screen after adding a contact that was previously removed"
### Description

*Type*: Bug

*Summary*: When a contact that was removed is added again the user is not redirected to the 1-1 chat. Instead, the user stays on "Add new contact" screen.

#### Expected behavior
User is redirected to 1-1 chat with the contact.

#### Actual behavior
User stays on "Add new contact" screen. No indicator that the contact was added is shown:

![img_26961174db3d-1](https:/

[2018-01-08 22:01] lukaszfryc commented on #1659
I've retested it on 0.9.12 (TestFlight) on iPhone 6, iOS 11.2.1. After removing a group chat and sending a new message by another group member I didn't get the empty chat you mentioned. The group chat is not available either.

[2018-01-08 22:09] Chumalaka commented on #2935
Hi @oskarth, I can take care of this. :)

[2018-01-08 22:42] Chumalaka commented on #2594
Hi @andytudhope, is this still an issue? I would like to check it out.

[2018-01-08 23:32] lukaszfryc opened #2961 "Sometimes offline indicator hides and appears again after device goes online"
*Type*: Bug

*Summary*: Sometimes the "Offline" gray message is still visible after device goes online. When airplane mode is turned off the indicator disappears for a second and appears again. Then, it won't go away until the app is killed and opened again. I could reproduce it 3/7 times.

#### Expected behavior
The offline indicator should always hide when device goes online.

#### Actual behavi

[2018-01-08 23:39] lukaszfryc commented on #2961
@annadanchenko I've just found https://github.com/status-im/status-react/issues/2614 Looks like my issue is a duplicate of it.

[2018-01-08 23:39] #2961 closed, assigned to nobody

[2018-01-09 00:11] mplsvbhvr commented on #2313
Thanks for the update oskarth

[2018-01-09 05:57] oskarth commented on #2852
Also see https://github.com/status-im/status-react/pull/2941#issuecomment-356185956

[2018-01-09 06:35] oskarth opened #2963 "[Perf] Test hypothesis 1: RN Bridge render bottleneck"
## Identified Behavior

Toggling between chat list and chat tabs is noticeably laggy on many devices. Compare with Telegram e.g. Additionally, this might also impact other common transitions.

- [x] Behavior has been confirmed to be part of MVP.
- [x] Confirm this is still a problem for end users on our supported devices.

## Hypothesis

Bad performance for toggling between tabs is due to RN Bridg

[2018-01-09 06:36] oskarth commented on #2963
@rasom Do you want to own this issue? Do you agree with it?

@annadanchenko Concurrently with testing of this hypothesis, can you please confirm this is still a problem for end users on our supported devices?

[2018-01-09 06:51] andytudhope commented on #2594
Hi @Chumalaka, you can be sure that if the issue is still open and there is a bounty on it, then it is still an issue. Please do go ahead - no need to comment on issues really - PRs are always better proof than comments anyway 😉 Looking forward to seeing you skillz!

[2018-01-09 06:56] oskarth opened #2964 "[Perf] Test hypothesis 2: Many Whisper topics increase performance"
## Identified Behavior

@b00ris and @jeka found in simulation testing that CPU usage of status-go can be drastically reduced by moving from one to many Whisper topics.

No end user behavior has been identified yet.

- [x] Part of MVP scope
- [ ] Identified end user behavior

## Hypothesis

Changing from one topic to many topics to drastically decrease number of opened envelopes will lead to better

[2018-01-09 06:56] oskarth commented on #2964
@yenda do you want to own this?

@b00ris and @JekaMas can you please assist @yenda?

[2018-01-09 06:56] status-open-bounty commented on #2937
Current balance: 0.000000 ETH
Tokens: SNT: 250.00
Contract address: [0xc21c7737d9498f82d200825445d3fc6421edeaf3](https://etherscan.io/address/0xc21c7737d9498f82d200825445d3fc6421edeaf3)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/2937/4cc7ff6db6b3cf81c669cb0204864ab25d6789728b8a60cd6f54130f5071f6fc/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openb

[2018-01-09 07:01] oskarth commented on #2931
@churik What about idle in foreground?

I'm in the process of cutting this issue up a bit into more manageable chunks. Starting with biggest wins.

Immediate goal as I see it: Get within order of magnitude of TG for most common cases, assuming there is repeatable 1-1 correspondence (see Jarrad's comment).

[2018-01-09 07:15] oskarth opened #2965 "[Perf] Test hypothesis 3: Whisper network overhead"
## Identified Behavior

@churik observed that Status takes up a lot of bandwidth when doing common operations, in total two orders of magnitude more than Telegram.

Specifically, creating an account takes ~30mb vs <1mb for Telegram.

- [x] User story part of MVP scope
- [x] Identified end user behavior

## Hypothesis

Whisper overhead is cause of x30+ data for creating an account when using Ropste

[2018-01-09 07:15] oskarth commented on #2965
@divan do you want to look into this? I know you mentioned it a bit.

[2018-01-09 07:19] oskarth commented on #2964
If I understand things correctly, this https://github.com/ethereum/go-ethereum/pull/15811 needs to be in our status-go for our RPC filters to work. @b00ris can you confirm?

If so, is this available in status-go status-go repo so we can use this from status-react?

[2018-01-09 07:37] v2nek commented on #2937
This was solved by https://github.com/status-im/status-react/pull/2877

[2018-01-09 07:40] andytudhope commented on #2937
Ah, gahd damn. Have just funded it as well... OK then, will work to undo it manually, thanks @v2nek

[2018-01-09 07:49] oskarth commented on #2937
@v2nek This is not a solution, it's a hack to get around the root of the problem. See the additional information section in the issue.

@andytudhope Leave it be, please.

[2018-01-09 08:10] jeluard commented on #2526
@yenda Can you confirm this is fixed now?

[2018-01-09 08:40] v2nek commented on #2880
Few days ago i've started thinking about this, and as first try changed build cores for iOS from 1 to 3. This increased build speed a little: from 8-9 minutes to 6-7 minutes.

Also we can add some more memory to jvm (default value is 1024).

There are lots of other tools that could be used to increase speed.
this http://biercoff.com/how-to-crazy-easily-speed-up-your-npm-install-speed/
on nightly g

[2018-01-09 08:51] yenda commented on #2526
@jeluard I confirm qr codes are just incompatible between versions so not a bug

[2018-01-09 08:51] #2526 closed, assigned to jeluard

[2018-01-09 08:57] v2nek commented on #2880
Tested setting
[code]
this decreased android build step from 5+ minutes to 1 minute 20s.
However this build need to be tested.

[2018-01-09 10:03] v2nek commented on #2880
There is no speed improvements in
`
OTHER_SWIFT_FLAGS="-Onone -Xfrontend -warn-long-function-bodies=100 -Xfrontend -warn-long-expression-type-checking=100 -Onone" SWIFT_WHOLE_MODULE_OPTIMIZATION=YES
`
that are recommended by
https://jobs.zalando.com/tech/blog/improving-swift-compilation-times-from-12-to-2-minutes/
https://discuss.bitrise.io/t/ios-builds-slow-any-solution-to-speed-it-up/61/17
https

[2018-01-09 10:09] oskarth commented on #2880
Great ideas @v2nek!

[2018-01-09 10:17] #2957 closed, assigned to yenda

[2018-01-09 10:29] asemiankevich commented on #2959
Hi @RasaKh , thanks for report! We have already this documented - please see https://github.com/status-im/status-react/issues/2903

[2018-01-09 10:48] #2959 closed, assigned to nobody

[2018-01-09 11:36] v2nek commented on #2880
We also may want to try https://jenkins.io/blog/2017/09/25/declarative-1/
this may provide some speed improvement if build machine is not utilised.

also i've removed `#org.gradle.parallel=true` from settings, as it seems to be making build to fail.
Removed both options.

[2018-01-09 11:55] #2782 closed, assigned to janherich, annadanchenko

[2018-01-09 12:12] churik opened #2970 "App freezes when a lot unread messages come in background (100+)"
### Description

*Type*: Bug
*Summary*: app freezes if a lot of messages (~100 in my case) come when app is in background.
Relaunch doesn't help (3 attempts)

### Expected behavior
app is responsive; chats are synchronised;

### Actual behavior
app is unresponsive; only part of messages are synchronised (17 in my case)

### Reproduction

**Precondition**:
- User A, User B, User C are contacts (dif

[2018-01-09 12:19] #2970 closed, assigned to nobody

[2018-01-09 12:20] churik commented on #2852
App freezes when a lot unread messages come in background (~100 in my case)
*Summary*: app freezes if a lot of messages (~100 in my case) come when app is in background.
Relaunch doesn't help (3 attempts)

### Expected behavior
app is responsive; chats are synchronised;

### Actual behavior
app is unresponsive; only part of messages are synchronised (17 in my case)

### Reproduction

**Preconditio

[2018-01-09 12:52] rasom commented on #2963
@oskarth yes and yes

[2018-01-09 13:48] asemiankevich commented on #2903
First 2 cases should be fixed by https://github.com/status-im/status-react/pull/2968 by Dmitry. Eric is working on this iOS issue.

[2018-01-09 14:12] asemiankevich commented on #2903
Reopened as there is one more PR coming to fix this completely

[2018-01-09 14:13] #2314 closed, assigned to yenda

[2018-01-09 14:24] yenda opened #2971 "[bash] make sure the merge-pr scripts prompt when there is multiple commits"
### User Story

As a developper I want the merge-pr scripts in `status-react/scripts/merge-pr.sh`  to prompt for confirmation if the PR has more than 1 commit, so that we do not accidentally merge commits that should have been squashed beforehand

Reuse code in `status-react/scripts/merge-external-pr.sh` for that

[2018-01-09 14:31] andytudhope commented on #2971
@yenda I am pretty sure the `merge-external-pr.sh` script does this already? https://github.com/status-im/status-react/blob/develop/scripts/merge-external-pr.sh#L93

[2018-01-09 14:46] annadanchenko opened #2972 "Error "Doesn't support name" shown if send ETH in 1-1 chat [2915]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: In PR build for #2915: If use send command in 1-1 chat then error is shown and if close it then white screen, so need to relaunch app. Error:
[c

[2018-01-09 15:02] churik commented on #2852
@janherich it shouldn't be closed, I added comment here, it is reproducible in build with PR as well as in develop

[2018-01-09 15:06] janherich commented on #2852
@churik My bad, the issue was automatically closed because the related PR was merged.

[2018-01-09 15:07] #2903 closed, assigned to yenda

[2018-01-09 15:53] asemiankevich opened #2974 "Currency selector is broken [iOS]"
### Description

*Type*: Bug

*Summary*: in iOS currency selector is broken

#### Expected behavior

UI looks good

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/34729611-3d726ffc-f56e-11e7-88c7-ddb43522e794.png)

### Reproduction

- Open Status
- Go to Wallet
- Tap Send
- Pay attention to currency selector

### Additional Information
* Status version: latest de

[2018-01-09 16:01] asemiankevich opened #2975 "Advanced button is broken (iOS)"
### Description

*Type*: Bug

*Summary*: fix Advanced button styling and appearance on iOS

#### Expected behavior
no broken styles

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/34730025-4dd583a6-f56f-11e7-9722-11bb9e99ffbf.png)

### Reproduction

- Open Status
- Go to wallet
- tap send
- pay attention to advanced button

### Additional Information
* Status ver

[2018-01-09 16:01] #2868 closed, assigned to janherich

[2018-01-09 18:27] asemiankevich opened #2976 "User avatar is not shown in chat (1x1 and group chat)"
### Description

*Type*: Bug

*Summary* user avatar is not shown in 1x1 chat

#### Expected behavior
avatar is shown at the very beginning of the chat

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/34736326-9e667168-f583-11e7-82b6-f1980dd5ffad.png)

### Reproduction

- Open Status
- Open 1x1 chat with Jarrad

### Additional Information

* Status version: latest d

[2018-01-09 18:29] asemiankevich commented on #2972
just FYI @annadanchenko @janherich i dont see this in latest develop

Branch: status-im:develop
Android: https://i.diawi.com/U2MSdm
iOS: https://i.diawi.com/2MsZf8

[2018-01-09 18:47] asemiankevich commented on #2976
due to https://github.com/status-im/status-react/pull/2944 it is not a bug

[2018-01-09 18:47] #2976 closed, assigned to nobody

[2018-01-09 18:48] churik commented on #2822
@oskarth yes, it is

[2018-01-09 20:34] lukaszfryc opened #2977 "Chat input has 2 lines when a long url is used in the browse command"
### Description

*Type*: Bug

*Summary*: Chat input seems to be showing an empty line when a long url is used in the browse command.

#### Expected behavior
Long url should be truncated and displayed in one line.

#### Actual behavior
Input shows 2 lines:

![pasted graphic 1-kopia](https://user-images.githubusercontent.com/7532782/34741962-d2a6cecc-f584-11e7-96a5-3198b318095e.png)

### Reproductio

[2018-01-09 20:50] lukaszfryc opened #2978 "No explanation in iOS Settings why Status needs location access"
### Description

*Type*: Bug

*Summary*: There is no explanation in iOS Settings why Status app needs a location access. The explanation maybe necessary before submitting the app to AppStore. It also builds confidence.
Here is a Chrome app example: "Get a better experience in Chrome based on your location."

#### Expected behavior
There is an "App explanation" in Location Settings.

#### Actual be

[2018-01-09 21:09] lukaszfryc opened #2979 "Allow to open a location in Google Maps iOS app"
### User Story

As a user, I want to open a location in Google Maps iOS app because I don't use the native Maps app.

### Description

*Type*: Feature

*Summary*: Currently there is no option to open a location in Google Maps app. "Open Map" option redirects to native iOS Maps app or asks to install Maps app in case it's not installed. Since Google Maps are quite popular it's maybe worth to suppor

[2018-01-09 21:24] lukaszfryc opened #2980 "Map image in a location message is blurred"
### Description

*Type*: Bug

*Summary*: Quality of a map image in the  location message is poor. Map seems to be blurred. I'd expect the same quality as in Send Location picker:

![image](https://user-images.githubusercontent.com/7532782/34743634-aaeb28b4-f58a-11e7-8295-948b24388dbe.png)

![image](https://user-images.githubusercontent.com/7532782/34743666-d5efb25a-f58a-11e7-81eb-fffab0e8d155.png)

[2018-01-09 21:41] lukaszfryc opened #2981 "Long address overlaps next chat when that chat is clicked (Chats tab)"
### Description

*Type*: Bug

*Summary*: When the last message in a chat contains a long address it overlaps the next chat when that chat is clicked:

![image](https://user-images.githubusercontent.com/7532782/34744396-594fb530-f58d-11e7-9b81-8f7e890c2506.png)

In this example the overlapping text appears only while clicking "Console" chat.

#### Expected behavior
First chat should not overlap the

[2018-01-09 21:49] annadanchenko opened #2982 ""Invalid arity: 0" error if open transaction history on iOS [release]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Only on release build (ok in develop), so maybe some commit is not included? if open transaction history then error "Invalid arity: 0" is shown.

[2018-01-09 22:02] lukaszfryc opened #2983 "Send transaction screen is scrolled so that it does not show recipient or amount fields"
### Description

*Type*: Bug

*Summary*: Sometimes when "Send transaction" screen is opened it does not show recipient, wallet or amount fields. It looks like the screen is being scrolled when the keyboard appears. The screen can be fixed by scrolling it a little bit in any direction.

![image](https://user-images.githubusercontent.com/7532782/34745095-aca01eb2-f58f-11e7-94ae-28b1d6e6c3c1.png)

Or

[2018-01-09 22:12] lukaszfryc commented on #2884
Same happens in iOS app (0.9.12, TestFlight). Note that the same recipient name is shown in Unsigned Transactions screen when the transaction has been unsigned:

![image](https://user-images.githubusercontent.com/7532782/34745940-885d2452-f592-11e7-98ca-f23676bba563.png)

[2018-01-09 22:50] lukaszfryc opened #2984 "Incoming message notification is shown even though user has logged to a different account"
### Description

*Type*: Bug

*Summary*: When user logs out she still receives notifications about incoming chat messages. It happens even after the user has logged in to a different account.

#### Expected behavior
User that has logged out should not receive any notifications.

#### Actual behavior
Incoming message notifications are shown even though user is logged out. It happens even after the

[2018-01-09 23:33] lukaszfryc opened #2985 "Transaction is not immediately visible in Transactions History"
### Description

*Type*: Bug

*Summary*: When a user sends ETH and then goes to Transactions History the transaction is not visible there. User needs to wait until the transaction has at least couple of confirmations to see it in history. Not seeing the transaction immediately may lead him to think that something went wrong.

#### Expected behavior
Transaction that was sent is immediately visible

[2018-01-10 07:01] dmitryn opened #2986 "Figwheel reloads env.android.main on every change"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer I want to use figwheel code reloading without restarting app.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sect

[2018-01-10 07:23] jeluard opened #2987 "Improve screen navigation"
### User Story

As a developer, I want to easily pass arguments to screens I navigate to.

### Description

Our current navigation logic involves [defining](https://github.com/status-im/status-react/blob/7c4d2f2ece00838cf458e661daa468587efe533d/src/status_im/ui/screens/views.cljs#L116) a screen by a key, [dispatching](https://github.com/status-im/status-react/blob/7c8aa7572400f1e6e200511795d11ff35

[2018-01-10 08:00] #2604 closed, assigned to churik

[2018-01-10 08:09] #2950 closed, assigned to goranjovic

[2018-01-10 08:17] oskarth commented on #2653
@rasom do you think you have time to look at this?

[2018-01-10 08:55] b00ris commented on #2964
@oskarth Yes, it's true. I try to push https://github.com/ethereum/go-ethereum/pull/15811 today.
I think i could make separated branch with go-ethereum fix.
@yenda @oskarth Yes, of course. How could we help you now?

[2018-01-10 09:40] asemiankevich opened #2989 "Wallet: Transaction fee screen UI does not match mocks"
### Description

*Type*: Bug

*Summary*:

I am checking against the invision https://projects.invisionapp.com/share/KXEWN9XHM#/screens/269284710 (iOS) and Zeplin (Android) and here are the remarks:

1. No `Done` button (both)
2. No `question` icon (both)
3. No bottom line (both)
4. Too many space for Gas limit and Gas price, Amount and Fee (both)
5. No `~`sign (both)
6. Cross should be back button

[2018-01-10 10:16] status-open-bounty commented on #2987
Balance: 0.000000 ETH
Tokens: SNT: 520.00
Contract address: [0xf7c1fbf14c86044f3b557c1dcf7b2d4022f214cc](https://etherscan.io/address/0xf7c1fbf14c86044f3b557c1dcf7b2d4022f214cc)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-10 10:17] yenda commented on #2982
@annadanchenko can you recheck the release now that this commit that was fixing it in develop has been cherry picked into the release ? https://github.com/status-im/status-react/pull/2919/commits/b1baa8e906662303fe1bc31fdc57b125ebfdc331

[2018-01-10 10:19] status-open-bounty commented on #2986
Balance: 0.000000 ETH
Tokens: SNT: 260.00
Contract address: [0x6550701dd18970f831ea9e5197e9f4f12925657a](https://etherscan.io/address/0x6550701dd18970f831ea9e5197e9f4f12925657a)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-10 10:22] oskarth commented on #2965
@annadanchenko pointed out it might also be a good idea to test most common user action, which is probably:

It'd also be OK to replace specific hypothesis with one related to this. The general idea is to use a specific scenario and spike test, as there's likely to be overlap in solution. If there isn't it'd be good to have a hunch as to why for future experiments.

[2018-01-10 12:39] annadanchenko opened #2990 "Lags and app crash if have two 1-1 chats [release]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: There are 2 1-1 chats and each has 2 messages. After app relaunch (kill it and run again) and doing nothing, just waiting for about 3 minutes on

[2018-01-10 13:04] churik opened #2991 "Counter of unread messages shows amount for already read messages [2915]"
### Description

*Type*: Bug
*Summary*:
- in console chat: counter of unread messages shows 2 unread messages when you open "Chats" after setting app password; after receiving faucet request shows 1 unread message;

- in 1-1, Group Chat: when you go back after receiving /send command or text message, you also see unread message.

#### Expected behavior
no new mesaages

#### Actual behavior
scenari

[2018-01-10 13:16] dmitryn commented on #2990
Happens to me in silmulator as well, here what i see in `/data/thumbstones`:

[code]

[2018-01-10 13:26] janherich commented on #2972
I'm not able to simulate the issue on this branch, tested on iOS simulator, `/send` command in 1-1 chat works fine
There is one thing which is wrong though, and that's this warning when trying to send something:
![screen shot 2018-01-10 at 14 27 00](https://user-images.githubusercontent.com/1910609/34775199-89814928-f612-11e7-97d5-178a9253c23a.png)
But that's not related to this PR.

[2018-01-10 14:03] janherich commented on #2991
@churik I'm unable to simulate the scenario with unread messages counter when sending/receiving. Maybe the build you are using for testing is outdated and doesn't include the unread counter fix already merged in develop, I will trigger a new build to be sure.

[2018-01-10 14:29] churik commented on #2417
reproducible with current release branch 0.9.13 (2080.21)

[2018-01-10 15:28] dmitryn commented on #2924
Going to merge it after https://github.com/status-im/status-react/pull/2973 will be merged (due to conflicts)

[2018-01-10 15:48] jeluard commented on #2417
Ok I now can reproduce the issue.

[2018-01-10 16:00] rasom commented on #2653
https://github.com/status-im/status-go/issues/547

[2018-01-10 16:41] oskarth commented on #2924
@dmitryn Where is the PR for this? Can't see it

[2018-01-10 17:09] dmitryn commented on #2924
I was waiting for dependent PR #2973

[2018-01-10 18:06] annadanchenko commented on #2990
On @oskarth request made extra investigation
1. Set Location = On in Android Os settings
2. On first run, after adding contacts, opened location command to get a promt and Allowed sharing location (but haven't sent any location to the chat)
3. Relaunched app waited about 2-5 minutes on Chats screen doing nothing with the phone -> app crashed (or went on background, so not visible on foreground and

[2018-01-10 18:25] annadanchenko commented on #2924
“Currency should be white font matching other styles” right? I still see black on iOS (if send from 1-1 chat) complete tf session from acc creation, see 02:19: https://app.testfairy.com/projects/4803590-status/builds/7470489/sessions/3/?accessToken=wTYIjyFBDkJCBpcUBtgpxj2Yziw or https://s3.amazonaws.com/testfairy/screenshots/4803590/7470489/89181943/87_cefbafeae52cd22f8a180c513719cf9766b2fcb3_o.jp

[2018-01-10 18:31] annadanchenko commented on #2924
android is ok (tried 1-1, group chats and inititating tx from Dapp - all ETH are white)

[2018-01-10 18:31] dmitryn commented on #2924
@annadanchenko fixed that for ios too, let's wait for another build

[2018-01-10 19:02] annadanchenko opened #2995 "Unread counter shows amount for messages already seen in Console"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For Console: this counter is shown each time you interact in console, e.g send faucet, use web3, set debug on etc -> you are in Console, see its

[2018-01-10 19:15] annadanchenko commented on #2924
tested on build 4 for PR on iOs and Android:
1. send form 1-1 chat: see ETH white, can complete sending tx
2. send from group chat: see ETH white, cand complete sending
3. in Auction House Dapp: initiated transaction, see ETH white
4. In TX from unsigned: if Sign -> see ETH white

[2018-01-10 19:34] #2924 closed, assigned to dmitryn

[2018-01-10 19:52] annadanchenko commented on #2991
Updated bug description, same comment is in PR https://github.com/status-im/status-react/pull/2988#issuecomment-356640505

@janherich took latest PR build (created on 20:21 today)
can reproduce issues with send and it's more wide: even if text message is sent when i'm in chat then unread counter shows 1 if go back to Chats

1st run: android receiver, when 1st message is received and i’m in chat ->

[2018-01-10 19:54] annadanchenko commented on #2995
duplicate of #2991

[2018-01-10 19:54] #2995 closed, assigned to janherich

[2018-01-10 22:54] annadanchenko commented on #2981
same as #1436
It exists in 0.9.12 from testFlight and already fixed for next 0.9.13 release

[2018-01-10 22:54] #2981 closed, assigned to nobody

[2018-01-11 05:29] oskarth commented on #2990
[code]

EDIT: See https://github.com/status-im/status-react/issues/2408 and https://github.com/status-im/status-react/commit/e273568544ee507c65e582bbfeb918663ade746f

EDIT2: Consider verifying with https://github.com/status-im/status-react/pull/2853

[2018-01-11 06:56] oskarth commented on #2990
Two observations:
- logs stop after 00:25 for some reason
- (private) memory performance keeps increasing from 300mb (presumably) to 1900 at end of 6m, suggesting perhaps a memory leak

On the other hand, memory perf is barely changing (increasing a bit) on Android, so I don't know.

[2018-01-11 07:31] oskarth commented on #2990
Using nightly build 174 and three devices with fresh accounts: iPhone 6s, iPhone X and Galaxy S8.

- All have each other as contacts
- All send one message to all others
- Wait 5m on chat list screen (phone goes to background)
- No crash on any device

However:

- Go look at each chat and flip tabs, then kill app
- Wait 5m on chat list screen
- Only Galaxy S8 unresponsive for 20-30s then crashes,

[2018-01-11 08:09] oskarth commented on #2990
@rasom If you could have a look at this too it'd be great. I'm out of time and ideas right now. @yenda might try bisect.

[2018-01-11 08:39] jeluard opened #2998 "Allow both release and develop version to coexist"
### User Story

As a developer, I want to have both release and developer version running at the same time on android.

### Description

Currently both versions share same identifier preventing to keep the released version installed.

*Type*: Feature

[2018-01-11 08:46] status-open-bounty commented on #2998
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xcdc5efe1eaa92ab61a785dabb4c7f2201841c55d3271f7265effe31371081266](https://etherscan.io/tx/0xcdc5efe1eaa92ab61a785dabb4c7f2201841c55d3271f7265effe31371081266)

[2018-01-11 09:04] jeluard opened #2999 "Simplify our figwheel config"
### User Story

As a developer, I want to rely on a clean figwheel configuration

### Description

Our current figwheel conf is retrieved by some code from project.clj. This is pretty complex, brittle and makes `project.clj` unnecessarily big. Migrate relevant conf to the figwheel ns.

Tasks:
* remove lein-figwheel plugin
* migrate all figwheel conf from `project.clj` to `figwheel` ns

*Type*: Fea

[2018-01-11 09:35] #2812 closed, assigned to nobody

[2018-01-11 09:40] #2417 closed, assigned to jeluard

[2018-01-11 13:55] divan commented on #2965
@oskarth I'm working on the code that will allow testing this hypothesis. If I'm going to do the verification myself — cannot answer right now.

[2018-01-11 13:56] oskarth commented on #2965
@divan Gotcha, thanks. Probably worth checking with @JekaMas so there is no overlap in effort, he is doing something similar I believe.

[2018-01-11 13:59] asemiankevich commented on #2313
@oskarth @yenda some logs attached ^

[2018-01-11 14:18] churik commented on #2805
Isn't reproducible with current release 0.9.13 (2080.21)

[2018-01-11 14:19] #2805 closed, assigned to goranjovic

[2018-01-11 14:38] Serhy commented on #2313
This can be reproduced upgrading from 0.9.12 to 0.9.13 in next way (confirmed on both Android and iOS - so below if to interchange 'Android user' with 'iOS user' you'll get the same error on respective device).

Key items to note here:
- user should be added from same Status version (it’s not reproducible if 0.9.12 scans QR code and adds user from 0.9.13 version)
- delete chats

Steps:
1) Install

[2018-01-11 14:54] jeluard opened #3001 "Remove ERC20_ENABLED flag"
### User Story

As a developer, I want to have a clean codebase

### Description

ERC20 support has now be finalized and enabled. `ERC20_ENABLED` flag is now useless

*Type*: Feature

[2018-01-11 16:06] jeluard opened #3003 "Add media API support for DApps"
### User Story

As a developper, I want to be able to leverage all web technologies in my DApp.

### Description

Some web API usages require user permission (usually some popup a user has to confirm).
Those API should be available to DApps authors.

As we already asks specific user permission (e.g. camera) it would be great to reuse those and not asks for already granted permission.

At least med

[2018-01-11 16:11] adambabik commented on #2653
I tried to reproduce this issue on iOS and couldn't do it:

<img width="280" alt="screen shot 2018-01-11 at 17 09 10" src="https://user-images.githubusercontent.com/277870/34834454-523cec16-f6f2-11e7-9880-ba8e5c7ce392.png">
<img width="280" alt="screen shot 2018-01-11 at 17 09 48" src="https://user-images.githubusercontent.com/277870/34834470-574cbb5a-f6f2-11e7-9326-801601461e04.png">

[2018-01-11 16:17] #2870 closed, assigned to dmitryn, Serhy

[2018-01-11 16:38] chadyj opened #3004 "Prepare iOS App Store Metadata"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer/marketer/designer, I want to add app metadata so that the app can be submitted and published on the App Store.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what yo

[2018-01-11 17:01] status-open-bounty commented on #3003
Balance: 0.000000 ETH
Tokens: SNT: 520.00
Contract address: [0x8074a5d6e8008296ec83ced284e1917a05626f88](https://etherscan.io/address/0x8074a5d6e8008296ec83ced284e1917a05626f88)
Network: Mainnet
Paid to: rasom
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-11 18:11] annadanchenko commented on #2990
Logs from debugging by @rasom
[code]

[code]

[code]

[2018-01-11 18:51] janherich commented on #2313
@Serhy I have one question, which would help me tremendously - can you confirm that the above bug **doesn't** happen when the step 18. (deleting all chats) is omitted from the sequence ?

[2018-01-11 19:11] annadanchenko commented on #2990
from crashing session android: [log_jan11.txt](https://github.com/status-im/status-react/files/1623800/log_jan11.txt)

[2018-01-11 23:46] yenda commented on #2931
@churik I was profiling the app myself today and oddly there is network activity everytime I type a letter on the simulator. On devices it must be worst since for sure instabug and test fairy are enabled. Did you measure with them disabled ? Otherwise it is an unfair an unfair comparison for status app.

[2018-01-11 23:50] mandrigin commented on #2990
I managed to run the app under Instruments, but, frankly no real breakthrough there.
Some of my findings (iOS Simulator, iOS 11.2):
1. STR. For me, it was enough to receive 1-2 messages while being on the "Chats" tab. I joined a public channel (`#status`), restarted the app and it crashed.
2. It is a memory leak. I managed to grow the app to over 3GB in size on my iOS simulator.
3. It looks like t

[2018-01-12 05:30] oskarth commented on #2942
Solved in https://github.com/status-im/status-react/pull/2941.

[2018-01-12 05:30] #2942 closed, assigned to oskarth

[2018-01-12 05:39] oskarth commented on #2975
Closing this as it has been merged into release branch. @asemiankevich re-open if you feel this is in error.

[2018-01-12 05:39] #2975 closed, assigned to jeluard

[2018-01-12 05:40] oskarth commented on #2974
Closing this as it has been fixed in PR above.

[2018-01-12 05:40] #2974 closed, assigned to jeluard

[2018-01-12 05:44] oskarth commented on #2852
because on Android app crashes even without lots of messages in 1-2 minutes after launch
so can’t test lags are better or not for more advanced scenario " -- Anna

[2018-01-12 06:03] oskarth commented on #2653
@adambabik Hm, but you reproduced the failing sequence that @rasom found on status-go side right? Do you think this isn't the problem?

[2018-01-12 07:53] flexsurfer opened #3005 "Fullscreen browsing experience"
### User Story

As a user, I want to have a fullscreen browsing experience with basic refresh control.

### Description

In *Home* tab, clicking on a DApp or website opens a fullscreen browser with some basic control. See https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268744353
Clicking a web link in chat also opens this browser.

Closing a browser will either redirect you to the Home t

[2018-01-12 08:03] adambabik commented on #2653
@oskarth no, I could not reproduce the problem with a test using neither local nor remote node.

[2018-01-12 08:13] jeluard opened #3006 "Remove search features"
### Description

Make sure all existing search features are removed.

*Type*: Feature

[2018-01-12 08:15] jeluard opened #3007 "Remove old commands"
### Description

*Type*: Feature

Remove command `/location` from all chats.

[2018-01-12 08:17] jeluard opened #3008 "Update Home tab"
### User Story

As a user, I want to have chats and DApps accessible in a unified list.

### Description

Detailed mockup is available [here](https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268817723)

*Type*: Feature

[2018-01-12 08:28] jeluard opened #3009 "Rework chat UI"
### User Story

As a user, I want a clean chat experience.

### Description

Find mockup details [here](https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268975254)

e.g.

![selection_021](https://user-images.githubusercontent.com/711764/35666926-25c1b24e-072c-11e8-98b4-5bc4a86997f1.png)

![selection_022](https://user-images.githubusercontent.com/711764/35666933-2912b24a-072c-11e8-81fc-777

[2018-01-12 08:30] jeluard opened #3010 "Rework 1-1 chat details UI"
### User Story

As a user, I want a clean chat details screen.

### Description

Find mockup details [here](https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268969745)

*Type*: Feature

[2018-01-12 08:30] jeluard opened #3011 "Rework group chat details UI"
### User Story

As a user, I want a clean chat details screen.

### Description

Find mockup details [here](https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268969745)

*Type*: Feature

[2018-01-12 08:31] jeluard opened #3012 "Introduce Home add button"
### User Story

As a user, I want to create chats and browse DApps using a unified button.

### Description

This new button navigates to a new screen that offers creation option and access to a list of recently opened elements.

This issue does not cover implementation of `new chat`, `invite friends` and what happens when you click on a recent item.

Find mockup details [here](https://projects.in

[2018-01-12 08:34] jeluard opened #3013 "Chat swipe based deletion"
### User Story

As a user, I want to delete chats

### Description

A deleted chat will not appear in the Home tab list anymore.

Find mockup details [here](https://projects.invisionapp.com/share/KXEWN9XHM#/screens/272559937)

*Type*: Feature

[2018-01-12 08:36] jeluard opened #3014 "Rework chat input"
### User Story

As a user, I want a clean input

### Description

Find mockup [here](https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268959996)
_CAUTION_ No changes to commands behavior is expected.

*Type*: Feature

[2018-01-12 08:38] jeluard opened #3015 "Global error handling"
### User Story

As a user, I want a global UI for errors
### Description

Waiting for a mockup

*Type*: Feature

[2018-01-12 09:10] #2952 closed, assigned to flexsurfer

[2018-01-12 10:08] churik opened #3016 "Unread message counter in Console chat shows "1" after using command when actually all messages are read"
Associated with #2915
### Description

*Type*: Bug
*Summary*: after upgrade console chat shows 1 unread message after using command (faucet, web3, ect) in "Chat" view, which are not marked as read.
<img width="332" alt="counter" src="https://user-images.githubusercontent.com/4557972/34830425-78ddc198-f6ec-11e7-9a0e-eb455347da65.png">

#### Expected behavior
all messages are read

#### Actual behav

[2018-01-12 10:51] oskarth commented on #2914
Reopening until this has been put in release branch. In develop.

[2018-01-12 11:01] Serhy commented on #2313
@janherich Yes, excluding 18th step from above scenario - does not bring errors after upgrade from 0.9.12 to 0.9.13 version. Deleting the chats - is the root cause.

[2018-01-12 13:07] annadanchenko commented on #2982
@yenda yes, now can't reproduce it on release build, so closing the issue

[2018-01-12 13:07] #2982 closed, assigned to yenda, annadanchenko

[2018-01-12 13:44] oskarth commented on #2914
Changes in develop re home tab that makes this brittle to merge; Jan will create separate PR with same diff targeting release branch.

[2018-01-12 13:52] #2419 closed, assigned to nobody

[2018-01-12 14:08] oskarth commented on #2914
Cherry-picked https://github.com/status-im/status-react/pull/3018 that targets release branch into release. Closing.

[2018-01-12 14:08] #2914 closed, assigned to janherich

[2018-01-12 14:09] oskarth commented on #2991
@janherich @annadanchenko can we close this one after https://github.com/status-im/status-react/pull/2915 or no?

[2018-01-12 14:11] #2426 closed, assigned to yenda

[2018-01-12 14:13] #1604 closed

[2018-01-12 14:15] oskarth commented on #1604
Cherry-picked to release too. Two commits from  https://github.com/status-im/status-react/pull/2663 and https://github.com/status-im/status-react/pull/2988

[2018-01-12 15:55] #2539 closed, assigned to nobody

[2018-01-12 16:08] churik opened #3021 "Default gas price is different for send command from 1-1 Chat and wallet screen"
### Description
*Type*: Bug
*Summary*: default gas price is different, when you go to "Send transaction" screen via /send command from chat with default fee OR when you go to "Send transaction" screen via "Send" from wallet, so seems that gas limit / gas price is calculated in different way.
![gasprice](https://user-images.githubusercontent.com/4557972/34883373-24cfc7d2-f7c2-11e7-8ce0-b19a47d5ba22

[2018-01-12 16:42] oskarth commented on #2990
Reopening as @rasom can repro on Android 5 easily. WIP.

[2018-01-12 16:50] churik opened #3022 "Empty Gas limit and Gas price if you send transaction from DApp"
### User Story

As a user, I want to see Gas limit and Gas price for transaction from DApp (Auction house in my case)

### Description
*Type*: Bug
*Summary*: on "Send transaction"  screen details no info about Gas limit and Gas price which will be used for transaction from DApp, but after a while you can see that Transaction is send and gas was used.

#### Expected behavior
Can see actual Gas pric

[2018-01-12 18:49] #2949 closed, assigned to goranjovic

[2018-01-12 18:53] #2900 closed, assigned to nobody

[2018-01-12 20:01] oskarth commented on #2990
Closing as it can't be reproduced on Android 6 anymore, and Android 5 not part of supported OS (lots of general memory leak issues, etc).

[2018-01-12 20:01] #2990 closed, assigned to mandrigin, yenda, rasom

[2018-01-13 09:32] oskarth commented on #2906
Removing from Pipeline as we want PRs here, probably better to track issues in swarm boards like 61-app-structure.

[2018-01-13 09:50] goranjovic commented on #2906
gotcha

[2018-01-13 09:51] oskarth commented on #2925
Already fixed in develop and release but https://github.com/status-im/status-react/pull/2946 fixes additional stuff.

[2018-01-13 09:51] #2925 closed, assigned to oskarth

[2018-01-13 09:59] #2834 closed, assigned to nobody

[2018-01-13 10:32] #2935 closed, assigned to nobody

[2018-01-13 11:33] oskarth commented on #2822
Solved in https://github.com/status-im/status-react/pull/2858 but PR didn't close issue.

[2018-01-13 11:33] #2822 closed, assigned to nobody

[2018-01-13 14:28] cammellos opened #3028 "Unable to access the profile section for a user"
### User Story

As a user, I want to be view the profile section so that I can remove a contact.

### Description

*Type*: Bug

I was trying to replicate issue #2960 , but it would throw an error every time I tried to access that panel, seems like a needed icon ( icons/chats) has been removed.

#### Expected behavior

I am able to access the view profile section

#### Actual behavior

An error is

[2018-01-13 14:30] goranjovic commented on #3028
Good catch!

[2018-01-14 07:14] #2352 closed, assigned to nobody

[2018-01-14 15:59] #2334 closed, assigned to nobody

[2018-01-14 17:05] tegila opened #3034 "Java 9 ClassNotFoundException: javax.xml.bind.DatatypeConverter"
status-react $ make prod-build
lein prod-build
Compiling ClojureScript...
Exception in thread "main" java.lang.ClassNotFoundException: javax.xml.bind.DatatypeConverter, compiling:(cljs/util.cljc:1:1)
	at clojure.lang.Compiler.load(Compiler.java:7526)
	at clojure.lang.RT.loadResourceScript(RT.java:379)
	at clojure.lang.RT.loadResourceScript(RT.java:370)
	at clojure.lang.RT.load(RT.java:460)
	at clo

[2018-01-14 17:32] yevh-berdnyk opened #3035 "Align automated tests with new design"
### User Story

As an automation engineer, I want to update automated test scripts in order to successfully run against new design.

### Description
Currently 80% of automated tests are failing due to the redesign.
Rework views and scripts to be aligned with new design

[2018-01-15 07:53] jeluard commented on #3034
This is a known (#2678) tooling issue. In the meantime you can use Java 8.

[2018-01-15 07:53] #3034 closed, assigned to nobody

[2018-01-15 08:32] jeluard opened #3037 "Fix android compilation warnings"
### User Story

As a developer, I don't want warnings when running commands.

### Description

*Type*: Bug

Running `react-native run-android` generates a bunch of warnings. We want to remove as much as possible.

Examples of warnings:

[code]

Some might be related to our dependencies: in this case we must create issues in relevant project if needed.

[2018-01-15 09:39] dmitryn opened #3038 "[Perf] Test hypothesis 4: re-frame event queue is getting overwhelmed"
### Identified behaviour
When receiving bunch of messages tapping on any UI component doesn't do anything (app stays freezing).

### Hypothesis

re-frame event queue is getting overwhelmed with events related to receiving messages (incoming-message,pre-received-message,etc) and seen events (send-seen) when you enter the chat.

### Notes

Useful insights on how re-frame event queue works https://gi

[2018-01-15 11:18] raghav-garg commented on #1720
This can be changed by overriding default behaviour of textField of iPhone, In for it!

[2018-01-15 12:08] denis-sharypin commented on #2906
Hey @goranjovic or QA team if you need to check design files they are here:
https://zpl.io/2vyZWqJ

[2018-01-15 12:28] Serhy commented on #2852
Tested this with latest release version (Android: http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-132082.apk
 iOS: https://i.diawi.com/fHejaj) on Samsung J7 (Android 7.0 real device) and iPhoneX.

Unfortunately, I can't say it became better.
On Android device with the user having ~170 text/emoji messages (only 1-1 chats used) - after log in almost freezing the app fo

[2018-01-15 12:37] denis-sharypin commented on #3013
Hey! To be more precise there are mockups for iOS and Android and [an SVG icon of a trash bin](https://www.dropbox.com/s/gz3jytu9ftoun39/icon_delete-red.svg?dl=0).
![swipe to delete](https://user-images.githubusercontent.com/6559881/34942683-d6539c94-f9f8-11e7-902b-38eeb8cefa3a.jpg)

[2018-01-15 12:51] #2986 closed, assigned to nobody

[2018-01-15 15:08] jeluard opened #3041 "Improve svg color handling"
### User Story

As a developer, I want to easily manipulate `svg` fragments color at run time.

### Description

*Type*: Feature

`svg` colors are handled at startup time were a color argument can be provided per icon instance that will be used to replace all `svg` `prefill`s attribute.
This prevent having `svg` with colors for only parts of the design and is inherently static. Find a way to fix b

[2018-01-15 16:14] jeluard opened #3042 "Remove wallet custom error handling"
### User Story

As a user, I want to have all errors surfaced the same way

### Description

*Type*: Feature

Wallet main screen currently shows errors in a specific way. We want all errors to be shown the same way.
It might be interesting to introduce a generic error handling facility (backed by native popup for now).

[2018-01-15 23:01] nrakochy commented on #3003
It looks like this feature probably needs to be added to the [WebChromeClient](https://developer.android.com/reference/android/webkit/WebChromeClient.html), which is part of the [React Native Webview Bridge](https://github.com/alinz/react-native-webview-bridge) module.

However, [React Native Webview Bridge](https://github.com/alinz/react-native-webview-bridge) has not accepted a PR in over a year

[2018-01-16 07:21] jeluard commented on #3003
@nrakochy We do have our own [fork](https://github.com/status-im/react-native-webview-bridge/) for `react-native-webview-bridge` so you can make changes here.

Moving to the bundled webview support is definitively on our radar. We have some hacks currently in the webview support so probably not straightforward but worth considering. I will open a dedicated issue to track that.

[2018-01-16 07:37] jeluard opened #3046 "Implement webview using react-native features"
### User Story

As a developer, I want to use supported libraries

### Description

*Type*: Feature

Our webview support currently relies on an [unsupported library](https://github.com/alinz/react-native-webview-bridge).
Migrate to the native react-native [webview support](https://facebook.github.io/react-native/docs/webview.html).

Note that our [fork](https://github.com/status-im/react-native-we

[2018-01-16 07:39] jeluard commented on #3003
@nrakochy I just created a new issue (#3046) for the webview migration. In case you continue enjoying hacking on status ;) (probably longer term so this issue still applies)

[2018-01-16 07:47] jeluard opened #3047 "Migrate EIP681 to latest draft"
### Description

*Type*: Feature

Some recent changes have been published to https://github.com/ethereum/EIPs/pull/681:
* https://github.com/ethereum/EIPs/pull/681/commits/b5444e4c94d0d402ae6b4d1de42652a861e36f39
* https://github.com/ethereum/EIPs/pull/681/commits/f4ba09d033f7ea3f08b96922be0f8e1ae90971f9
* https://github.com/ethereum/EIPs/pull/831/files

Update our implementation to reflect those.

[2018-01-16 10:23] asemiankevich opened #3049 "No messages received (1x1 or group chat) on some devices"
### Description

*Type*: Bug

*Summary*: No messaging apperas on some devices. I have this problem with Huawei and @flexsurfer with his Xiaomi. List will be updated

#### Expected behavior
user can chat no matter which device is used

#### Actual behavior
can't chat chat using:

- iPhone 5S
- Xiaomi Redmi Note 4
- Xiaomi Redmi 3
- Huawei P10 Lite

### Additional Information
* Status version: lates

[2018-01-16 10:28] goranjovic opened #3050 "Explore getting token transaction history entry"
### User Story

As a user I want to see my ERC20 token transactions in the transaction history along with eth transactions.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Right now ERC20 token transactions do not show in the transaction history screen, simply because we get that information from Etherscan API and there is no publicly available service th

[2018-01-16 10:32] flexsurfer commented on #3049
Node is active, you can send and receive transactions, open Dapps, and also message label is sent, but whisper messages are not propagated to other devices

[2018-01-16 10:44] goranjovic opened #3051 "Redirect to native app notification settings from Profile screen"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be able to easily navigate from the Profile screen to the appropriate OS settings screen where I can set notification preferences for the app.

### Description

*Type*: Feature

*Summary*:

Notifications button on Profile tab should open OS native screen with Notification preferences for St

[2018-01-16 10:49] goranjovic opened #3052 "New edit profile screen"
### User Story

As a user I want to enjoy while I edit my Status profile on a beautiful new Edit Profile screen.

### Description

*Type*: Feature

*Summary*:

Replace the old edit screen with the new profile screen but with editable name and profile image. Add all image change related actions and menus.

screens 3/4 and 5/6 from the left - https://zpl.io/VQo59qn

[2018-01-16 10:58] goranjovic opened #3054 "Review and where needed restyle remaining Profile related screens"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to view and interact with screens which look nice and consistent

### Description

*Type*: Feature

*Summary*: Update the following screens:

- Select network
- Show QR code

https://zpl.io/VQo59qn

[2018-01-16 11:02] dmitryn opened #3055 ""Could not find peer" error when application starts"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

When application starts it tries to connect to whisper node to get offline messages from. Sometimes that node isn't available so you end up see

[2018-01-16 11:06] oskarth commented on #3055
Thanks for this @dmitryn, I believe we briefly talked about this in Slack a few weeks ago but I can't find it in history/notes. @adambabik do you recall? It was about using polling for AddPeer call or something like this, I believe. As a way to get around race issue (assuming that is the case, I guess it can fail for other reasons too).

As I recall it the idea would be something like: AddPeer ->

[2018-01-16 11:22] annadanchenko opened #3057 "Error chat-contact.identity must be of type 'string', got 'object' shown for group chat members after new member is added"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Error ```chat-contact.identity must be of type 'string', got 'object' (['0x0428c9d6c1aaaa8369a7c63819684f30e34396dc0907d49afeac85a0a774ccb919b3482097d992e66bcc538e7a0c6acf874c77748f396f53c0a102e10d1a37765b'])``` is shown to all group chat members after admin added new member. If close the error then can continue

[2018-01-16 12:03] Serhy opened #3058 "Username and profile icons displayed not from who sent the message in group chat when several contacts send the messages in the same group chat"
*Type*: Bug

*Summary*: There is a messing with username+profile icon in group chat screen when several chat members send messages in to the same group chat.

#### Expected behavior
Username and profile icon in group chat displays from message sender contact

#### Actual behavior
Username and profile icon shown in group chat from contact who did not sent the message.

### Reproduction

1) Open Sta

[2018-01-16 13:06] adambabik commented on #3049
Is it possible to run the app with `LogLevel` set to `DEBUG` and collect `geth.log` file? TF logs are of no use here. From `geth.log` we can figure out peers the session was using and inspect them.

[2018-01-16 13:40] status-open-bounty commented on #3001
Balance: 0.000000 ETH
Tokens: SNT: 160.00
Contract address: [0x1017e2c08ff5eeb78f5a93e3e03fe9d5824b83bb](https://etherscan.io/address/0x1017e2c08ff5eeb78f5a93e3e03fe9d5824b83bb)
Network: Mainnet
Paid to: cammellos
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-16 13:48] #2313 closed, assigned to janherich

[2018-01-16 14:34] Serhy commented on #3016
Could not reproduce upgrading from 0.9.12+ on latest develop (0.9.11d581) - (after #3002 is merged)
Closing this issue.

[2018-01-16 14:34] #3016 closed, assigned to janherich

[2018-01-16 14:45] adambabik commented on #3055
@oskarth yeah, it's probably because we called `makeTrustedPeer` on an enode that was added via `addPeer` but not connected successfully yet.

Exactly, for now, polling between `AddPeer` and `markTrustedPeer` seems like the only option.

[2018-01-16 14:48] #1774 closed, assigned to nobody

[2018-01-16 14:52] #3028 closed, assigned to nobody

[2018-01-16 14:54] status-open-bounty commented on #2999
Current balance: 0.000000 ETH
Contract address: [0x3a8045bf9d2d4d2d0333a6bedea3382c83f52b1d](https://ropsten.etherscan.io/address/0x3a8045bf9d2d4d2d0333a6bedea3382c83f52b1d)
![QR Code](http://7d1f0959.ngrok.io/qr/status-im/status-react/bounty/2999/09772a5030d1a723dde376df908a466a8435f20b4d069da394ce34ba766a1a4c/qr.png)
Network: Testnet (Ropsten)
To claim this bounty sign up at [http://7d1f0959.ngr

[2018-01-16 14:56] ligi commented on #3047
might be bundled with another change that seems to come as @pirapira found a flaw in the current spec https://github.com/ethereum/EIPs/pull/831#discussion_r161771262 - the issue was found via 861 - but the same problem is in 681

[2018-01-16 14:57] status-open-bounty commented on #3013
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x0c3dbe8c9f53aa9e27f80fc77c531b231e11b1ad](https://etherscan.io/address/0x0c3dbe8c9f53aa9e27f80fc77c531b231e11b1ad)
Network: Mainnet
Paid to: hanwencheng
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-16 14:58] status-open-bounty commented on #3037
Balance: 0.000000 ETH
Tokens: SNT: 800.00
Contract address: [0x60310d20f9c628ee7028ce05310b6667e193a4cc](https://etherscan.io/address/0x60310d20f9c628ee7028ce05310b6667e193a4cc)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-16 15:01] pablanopete commented on #2668
Is this one still relevant @jeluard ? @placer14 are you still working through this one - is there something specific you were needing other than what's been done so far?

[2018-01-16 15:09] status-open-bounty commented on #3046
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x73f57b290dfc6a1d6035950ed7ce00307e18ca6f455823e50045bb04d5acce83](https://etherscan.io/tx/0x73f57b290dfc6a1d6035950ed7ce00307e18ca6f455823e50045bb04d5acce83)

[2018-01-16 15:13] pablanopete commented on #1267
What's the state of this? @annadanchenko? Can we revoke since this drawer will be removed?

[2018-01-16 15:15] oskarth commented on #1267
@pablanopete Correct, no longer part of UI. Don't know what happens if we close with outstanding bounty - do you want to close it?

[2018-01-16 15:18] pablanopete commented on #1691
Is this error still relevant @oskarth?

[2018-01-16 15:22] oskarth commented on #1691
@pablanopete As far as I know nothing has changed.

[2018-01-16 15:49] asemiankevich opened #3059 "Text box takes too much space when using /browse"
### Description

*Type*: Bug

*Summary*: text box is too large when browsing with /browse command for long urls.

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/34997393-7702a0f0-faed-11e7-813b-f2d1480312a7.png)

### Reproduction
- Open Status
- Select chat with Jarrad
- /browse for google.com

### Additional Information
* Status version: develop  0.9.10-581-geb17

[2018-01-16 15:56] #2809 closed, assigned to nobody

[2018-01-16 16:15] #2810 closed, assigned to nobody

[2018-01-16 16:19] annadanchenko opened #3060 "Error null is not an object (evaluating 'e.remove') after providing correct confirmation code [Android]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Android only: Error ``` null is not an object (evaluating 'e.remove') ``` after user provides correct confirmation code in Console. As a result,

[2018-01-16 16:33] annadanchenko commented on #2699
in 1-1 chat messages are received in other order than sent.
receiver: https://app.testfairy.com/projects/4803590-status/builds/7512658/sessions/8/?accessToken=fAkqZkJG-4-AeFIT/xafXrMFMMc

0. receiver is offline
1. sender sends 6 messages (T1, T2... T6)
2. immediately after this (no waiting for several minutes) receiver signs in to Status app. Later messages arrive in this order: T1 T6 T3 T4 T2 T5

[2018-01-16 17:03] #2971 closed, assigned to nobody

[2018-01-16 17:16] oskarth commented on #2699
Only thing I can think of is that there's a lot of Whisper processing going on at startup, so the 500ms delay isn't enough to reorder messages. It'd be useful to see if this can be reproduced when receiver is online at same time.

We can probably figure out a way to adjust the delay-ms, but this is an enhancement, not a critical bug fix, so removing it from release scope in order not to delay it a

[2018-01-16 18:06] Serhy opened #3062 "Error 'unknown icon: :icons/chats' if select contact profile icon -> Profile in 1-1 chat"
***Type***: Bug

*Summary*: `Error: Unknown icon: :icons/chats` displayed if to tap in 1-1 chat -> contact avatar icon -> 'Profile'.

#### Expected behavior
Profile details are displayed to tap in 1-1 chat -> contact profile icon -> 'Profile'
#### Actual behavior
`Error: Unknown icon: :icons/chats` displayed if to tap in 1-1 chat -> contact avatar icon -> 'Profile'

<img width="294" alt="screen sh

[2018-01-16 19:56] poiga commented on #2668
@pablanopete I have PR submitted on this - #2911. Still waiting to be reviewed by @yenda .

[2018-01-16 20:50] jeluard opened #3064 "Explicitly define keyExtractor for list"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be sure list elements don't behave funky because of incorrect `keyExtractor`.

### Description

*Type*: Bug

[list](https://github.com/status-im/status-react/blob/develop/src/status_im/ui/components/list/views.cljs) provides a default [keyExtractor](https://github.com/status-im/status

[2018-01-17 07:19] oskarth commented on #3057
PR closed by accident, issue still open https://github.com/status-im/status-react/pull/3063#issuecomment-358218218

[2018-01-17 08:22] jeluard opened #3067 "Replace incorrect aget access"
### User Story

As a developer, I want to rely on good dev practises

### Description

*Type*: Feature

`aget` is only supposed to be used for `array` access and not `object fields` access. Replace all incorrect usages with proper access (to be defined).

[2018-01-17 08:58] Serhy commented on #3062
Fixed in latest develop.
Closing the issue.

[2018-01-17 08:58] #3062 closed, assigned to nobody

[2018-01-17 10:21] Serhy opened #3069 "On recent iPhone versions: null is not an object (evaluating 'e.schema') after password submitted when creating new user"
*Type*: Bug

*Summary*: `null is not an object (evaluating 'e.schema')` after password submitted when creating new user. I can proceed to use the app after the error, can add new user and chat. Happens on iPhoneX with 11.1.2 version. Android 7.0, android 6.0, iPhone 7 - are OK.

#### Expected behavior
No error after password submitted when creating new user
#### Actual behavior
`null is not an obj

[2018-01-17 10:26] janherich commented on #3069
I very strongly suspect the reason for the bug is `iPhone X` being considerably faster, so it's some race condition happening with our super fragile app-startup process :/
Systematic way to fix it is to rework the app startup process, getting rid of imperative, time dependent dispatches, I planned to do that after new year, but release bugfixing got priority.

[2018-01-17 10:28] oskarth commented on #2852
@Serhy Can

TF session: https://app.testfairy.com/projects/4803622-status/builds/7490826/sessions/21/?accessToken=M6-kUEyoZtzAAwNj2cWFkvrVCVY -> check there 00:50 - 01:30 time interval. App is unresponsive.

be reproduced on 0.9.12? What is behavior there?

[2018-01-17 11:29] Serhy commented on #2852
On 0.9.12 it looks really well. I can't say this issue is a problem on 0.9.12.

With >150 messages after log in on 0.9.12 I almost don't see lags - navigation through different screens not laggy (well lags are up to 1 second) on Samsung J7 (same device used when reported the issue)

[2018-01-17 11:29] asemiankevich opened #3070 "Account could not be added within scanning public key QR code [release]"
### Description

*Type*: Bug

*Summary*:

NOTE: this is not reproducible in develop branch

----------------
Branch: status-im:develop
Android: https://i.diawi.com/sEMb1c
iOS: https://i.diawi.com/huqBY4

1. Using iOS device i am scanning public key QR on adroid and receive `invalid` content notice
2. Using Android device i am sacnning public key QR on iOS device and it just apperas blank

#### Exp

[2018-01-17 13:51] #2881 closed, assigned to jeluard

[2018-01-17 15:35] #3057 closed, assigned to yenda

[2018-01-17 16:04] #2668 closed, assigned to nobody

[2018-01-17 16:06] #1048 closed

[2018-01-17 16:23] yenda opened #3074 "Combine PR scripts and clean up usage of merge-external-pr.sh"
This bounty has 2 requirements:

1. `./merge-external-pr.sh REPO_URL BRANCH` doesn't work (it seems like it is trying to do the push on the upstream repository). Passing in only the number of the PR does, so clean up the script to only expect that single argument so it is clearer for everyone.

2. Combine the `merge-pr.sh` and `merge-external-pr.sh` scripts, based primarily on the `external` one a

[2018-01-17 16:25] yenda opened #3075 "Fix merge-pr script prompt"
The merge-pr script is prompting ```"There are multiple commits in this PR. Are you sure you wish to continue without squashing?"``` even when there is only one commit.

[2018-01-17 17:12] jeluard opened #3076 "Separate figwheel from dev lein profile"
### User Story

As a developer, I want control on my build files and minimize surprises

### Description

*Type*: Bug

With current lein configuration you can't run `lein cljsbuild once` without starting fiwheel (so it never finishes).

Proposed improvement: create a separate `figwheel` profile that will have all necessary dependencies and source-paths (like `env/dev`) and simplify the `dev` profi

[2018-01-17 18:04] oskarth commented on #3074
@yenda Do you think we should also merge `merge-pr` script here and put bounty up for it?

[2018-01-17 18:04] oskarth commented on #3075
@andytudhope Do you want to take this one? Bring your bash skillz to the next level :P

Unless we do in https://github.com/status-im/status-react/pull/2919

[2018-01-17 18:16] chadyj commented on #3059
`/browse` is being removed in favour of a better DApp browser in https://github.com/status-im/status-react/issues/3007

[2018-01-17 20:12] #3058 closed, assigned to janherich

[2018-01-17 20:28] andytudhope commented on #3075
I'm suitably embarrassed 😛  Sorry guys... Not really bash skillz, more like git fu and that I struggle with... Maybe we do merge the two scripts though - seems like a neater solution and good bounty?

[2018-01-17 20:34] dmitryn commented on #3055
https://github.com/ethereum/go-ethereum/wiki/Connecting-to-the-network

More info on `admin.peers()`

[2018-01-17 21:01] yenda commented on #3075
I agree with merging the two scripts and starting with the merge-external-pr.sh script as base as it is already better

[2018-01-17 21:26] JekaMas commented on #2965
@divan @oskarth I've done with whisper network overhead. I've tested network overhead of clean geth without status app to get a bias.

Test env: **Geth**/v1.8.0-unstable-3f40b22d/linux-amd64/go1.9.2
Metodology: each case ran for 10 minutes on two independent nodes at the same time
Script: https://gist.github.com/JekaMas/bd726dbc563864998d1df191b6976e1e

## IDLE
### With whisper
Stats (bytes/s):

|

[2018-01-17 23:19] lukaszfryc commented on #3059
@asemiankevich looks like it's a duplicate of https://github.com/status-im/status-react/issues/2977

[2018-01-18 07:39] jeluard opened #3078 "Allow devtools debugging"
### User Story

As a developer, I want to have access to existing debugger

### Description

*Type*: Feature

RN applications can be [debugged](https://facebook.github.io/react-native/docs/debugging.html#chrome-developer-tools) using chrome devtools allowing to benefit from its advanced perf tools.
For some reason it is very slow with our apps. Figure out what is causing this slowness (might be re

[2018-01-18 08:10] status-open-bounty commented on #3067
Balance: 0.000000 ETH
Tokens: SNT: 350.00
Contract address: [0xed672385ac7f2c18acecc948c44dab03552f5bcb](https://etherscan.io/address/0xed672385ac7f2c18acecc948c44dab03552f5bcb)
Network: Mainnet
Paid to: poiga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-18 09:02] #3001 closed, assigned to nobody

[2018-01-18 10:39] mandrigin opened #3080 "[Perf] Test hypothesis 6: re-frame queue throughput causes bad app responsiveness"
### Identified Behavior

Not well defined in a specific user story yet, but generally: app responsiveness is bad.

- [ ] User story part of MVP scope
- [ ] Identified end user behavior

### Hypothesis

There exists UI events which aren't processed in <= 0.3 seconds, from the time of queueing it to the time of execution. This delay causes the user to feel the app isn't generally responsive.

### As

[2018-01-18 10:58] dmitryn commented on #3080
https://github.com/Day8/re-frame/blob/master/src/re_frame/router.cljc#L8

[2018-01-18 11:04] mandrigin commented on #3080
@dmitryn thanks! I'll try forking it and take a look if I can add simple log messages to it, to begin with.

[2018-01-18 11:14] annadanchenko opened #3081 "Error null is not an object (evaluating 'e.toLowerCase') when switching to Chats or to Wallet [upgrade]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Only on release build, does not happen in develop. Error "null is not an object (evaluating 'e.toLowerCase')" is shown after upgrade if sign in

[2018-01-18 12:58] dmitryn commented on #3038
This particular experiment has come to end with this https://github.com/status-im/status-react/pull/3045 being merged.

[2018-01-18 12:58] #3038 closed, assigned to dmitryn

[2018-01-18 13:08] dmitryn opened #3082 "[Perf] Measure re-frame events dispatching, handling and subscription time"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to know how much time it takes to dispatch re-frame event, handle it and calculate a subscription so that i could better optimize app for perfomance.

### Description

Vanilla `:foo-event` would be introduced and measured against.

**What to measure:**
- event dispatch with no app-db cha

[2018-01-18 13:11] dmitryn commented on #3082
Dispatch timings:
* no app-db changes: 1-2ms
* app-db update, spec off: 2-4ms
* app-db update, spec on: 20-25ms

[2018-01-18 13:16] jeluard commented on #3081
Relevant exception

[code]

[2018-01-18 13:24] chadyj opened #3083 "Chat "more options", delete, and profile"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see actions available from within a chat, so that I can delete a chat or view a profile

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to hap

[2018-01-18 14:37] dmitryn opened #3085 "[Perf] Measure views rendering"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to know when components getting updated and how long it takes to render them so i could optimize app for perfomance.

### Description

As a start it could be just debug prints to log with an option to easily switch debugging off.

[2018-01-18 15:30] pablodip commented on #3067
@jeluard

Proper access with raw Clojurescript is this one: https://github.com/status-im/status-react/blob/develop/src/status_im/core.cljs#L12

My recommendation is to use [this library](https://github.com/binaryage/cljs-oops), which comes with some [superpowers](https://github.com/binaryage/cljs-oops#benefits), including [better development](https://github.com/binaryage/cljs-oops#play-it-safe-dur

[2018-01-18 16:03] jeluard commented on #3067
@pablodip Thanks for the details!

I am reluctant to depend on an external library for this as we try to minimize those for security reasons.
We could just incorporate the relevant code (small?) in our codebase.

[2018-01-18 17:09] oskarth commented on #3075
Agree, let's do it, @andytudhope do you want to write this up and we can close one of these issues? I can add details if needed.

[2018-01-18 17:09] oskarth commented on #3055
@dmitryn Do you want to write up a bounty for doing "Hide error from user as it's not informative to him"? And we can link here.

[2018-01-18 17:13] denis-sharypin commented on #2906
@goranjovic Hey, I found really small issues. It would be nice of you if you fix them. Thanks!

![slice](https://user-images.githubusercontent.com/6559881/35111256-20ad3104-fc7b-11e7-93c9-d35c484f122e.png)

[2018-01-18 17:58] denis-sharypin commented on #2906
And one more thing: could you update a button label style for Android? I made a mistake and used a wrong one. I made an update in the Zeplin prototype
<img width="425" alt="screenshot 2018-01-18 18 57 11" src="https://user-images.githubusercontent.com/6559881/35113358-722f114a-fc81-11e7-8159-1600343374d1.png">

[2018-01-18 19:10] annadanchenko commented on #2602
initial issue can't be reproduced. https://github.com/status-im/status-react/issues/2602#issuecomment-355355979 is moved to https://github.com/status-im/status-react/issues/3081

[2018-01-18 19:10] #2602 closed, assigned to janherich

[2018-01-18 19:11] annadanchenko commented on #3081
similar bug was mentioned in https://github.com/status-im/status-react/issues/2602#issuecomment-355355979

[2018-01-18 20:07] yenda commented on #2681
@asemiankevich can you list the devices that encounter this issue as well as the language in which it happens, this is important for this issue. For a device on which the bug is present please try with english US and french or russian

[2018-01-18 22:38] janherich commented on #3081
@annadanchenko Can you please test if you are able to trigger the same error on current `develop` build as well ?

[2018-01-18 22:53] pacamara commented on #3037
@jeluard Have pushed a fix which removes nearly all the warnings, and explains what/why for the remaining ones: https://github.com/status-im/status-react/pull/3086

[2018-01-19 03:38] nrakochy commented on #1687
I ran into this issue today on iOS by running

    react-native run-ios --udid "id#" --configuration Debug

It created the same log as OP.

As a work-around, I dropped the original `didFinishLaunchingWithOptions` into a delayed `didFinishLaunchingWithOptionsAfterDelay`.

This prevents the app crash from timeout, but I am not sure that this issue is fixed (can't find the source where I got this wor

[2018-01-19 09:56] #2852 closed, assigned to janherich, Serhy

[2018-01-19 10:22] annadanchenko commented on #3081
@janherich I can't reproduce it on last nightly build. tried 4 times with same dataset both ios and android. I've updated issue description with exact dataset I'm using to reproduce the issue

[2018-01-19 12:37] asemiankevich opened #3089 "Application crash during installation"
### Description

*Type*: Bug

*Summary*: Sometimes Status crashes during install. Can't reproduce on real device but it could be due to lack of knowledge about the root cause.

#### Expected behavior
I can install app on emulator

#### Actual behavior

https://saucelabs.com/beta/tests/5eb199e375e04f6b905bdf7de52aac66/metadata#6

![image](https://user-images.githubusercontent.com/28752642/35150990-

[2018-01-19 13:24] asemiankevich commented on #3081
I can repro it as well:

https://app.testfairy.com/projects/4803590-status/builds/7525740/sessions/13/?accessToken=eXQ9P6Mhv742hxTZ39H9fkn38ZE

https://app.testfairy.com/projects/4803622-status/builds/7525714/sessions/37/?accessToken=nmKAq0yCFQQol4gRVNi9JnNQZ8o

![image](https://user-images.githubusercontent.com/28752642/35152865-37aded34-fd35-11e7-9aca-4c7e426dc139.png)

![image](https://user-ima

[2018-01-19 13:56] andytudhope commented on #3075
@oskarth I have updated #3074 to reflect the need to merge scripts and check that PRs from core team members are indeed squashed. Please review there and then I will assign a bounty.

[2018-01-19 13:56] #3075 closed, assigned to nobody

[2018-01-19 16:06] asemiankevich opened #3091 "Error undefined is not a function (evaluating 'i(e)') shown when tapping more link in group chat"
### Description

*Type*: Bug

*Summary*: Having more than 4 member in a group chat I can go to settings and should be able to view all members in the chat by tapping `more` link. When I do that i receive an error `undefined is not a function (evaluating 'i(e)')`

#### Expected behavior
List of members can be viewed

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/3

[2018-01-19 16:19] dmitryn opened #3092 "App shows the white fullscreen"
*Type*: Bug

### Description

During the last dogfooding session i faced another bug: app shows white fullscreen (no controls/buttons available and no status bars).

It happened after i was actively chatting 1-1 and having group chats with many participants and messaging opened. During the first app run i was not having any issues (expect slow UI in general). But then i closed the app, opened it a

[2018-01-19 16:20] asemiankevich opened #3093 "Uniformative modal window opened when clicking "read" indicator in a group chat"
### Description

*Type*: Feature

*Summary*: There is an indicator uder a message in a group chat which appears when the message is read by someone. When I tap it - modal is shown without any relevant info.

@denis-sharypin can we please perform some research on it? like do we need this feature at  all and if yes - how it should look like? Honeslty it has never been tested and therefore it hard to

[2018-01-19 16:23] dmitryn commented on #3092
TF session, watch on `1:22`

https://app.testfairy.com/projects/4803622-status/builds/7525714/sessions/61/?accessToken=v-n2HJ272QP9bqOKxuGHzPzM49Q

[2018-01-19 16:48] asemiankevich opened #3094 "Not all group chat participants are shown in /send suggestions"
### Description

*Type*: Bug

*Summary*: I have 7 participants in a group chat. Not all of them are added to my contacts. When i tap /send in this group chat to send some funds somebody - I can see only those members in suggestions which I have added to my contacts personally. This seems to be wrong as I can send funds to anyone easily from wallet or in 1x1 chat without adding contact to a list.

[2018-01-19 16:51] Serhy opened #3095 "[Perf] User story 1: Time lags navigating through different app views after log in when user has a lot of sent/received messages"
***Type***: Bug

***Summary***: This is a follow up to #2852 to investigate it further and fix the time lags that user experience right after log in to account with a lot of already received messages when navigate between different screens.
On 0.9.12+ app version, user account with 1000+ sent/received messages, on Samsung Galaxy S6 emulator, according to https://github.com/status-im/status-react/p

[2018-01-19 17:34] dmitryn commented on #3092
Cannot reproduce it on current develop build http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-0b035c.apk

[2018-01-19 17:37] oskarth commented on #3074
@andytudhope @yenda Edited issue and approve it

[2018-01-19 17:41] dmitryn opened #3096 "Log spammed by :init-scope-error Error: filter not found"
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug

### Description

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

Leave app in idle state (5-10 minutes). Come back, check the log:

[code]

Log is getting spammed by these messages. App is working fine though.

### Rep

[2018-01-19 17:42] dmitryn commented on #3096
![bug](https://user-images.githubusercontent.com/23836/35163878-303cbf5c-fd59-11e7-8ebd-a0404518b0d0.gif)

[2018-01-19 18:28] dmitryn commented on #3096
Tried 2 times - it happens every time for me after long idle time.

[2018-01-19 18:36] janherich commented on #3081
Trying super hard with the same path as described in ticket (all types of chat before upgrade, `/request`, `/send` and `/location` commands in 1-1 chat with and group chat) and I can't really trigger the bug, testing on real device iPhone SE and `0.9.12` from testflight upgraded to latest release build:
Android: http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-1d6b94.

[2018-01-19 19:25] Serhy opened #3097 "No bubble background on messages with > 200 lines"
***Type***: Bug

***Summary***: When the message is really huge (exact number depends from device, but in case of Samsung Galaxy S6 emulator - it's > 190 lines, in a case on Samsung J7 on Android 7.0 it's > 220 messages), such sent or received message on Android is not wrapped up in bubble.
On iOS message wrapped up in bubble disregard the line number in message. However, empty bubbles are present

[2018-01-19 19:53] oskarth commented on #2963
One problem with this experiment setup is that a lot of calls, as @rasom pointed out, aren't bidirectional, e.g. some are async/unidirectional. This means it isn't always straightforward to see what the cost of each "bridge crossing".

@rasom You've posted a bunch of observations from this in Slack, would you mind posting a summary of things you found in this issue so we don't lose it?

[2018-01-19 19:54] oskarth commented on #2964
@yenda Are you still blocked by tooling for this?

[2018-01-19 19:56] oskarth commented on #2965
@JekaMas Would you mind making the main metrics on the same format as @churik's investigation? So it is more clear what the difference is in terms of magnitude.

[2018-01-19 19:58] oskarth commented on #3080
This user story seems like a good candidate to test for these things. https://github.com/status-im/status-react/issues/3095, FYI @mandrigin

[2018-01-20 00:25] pacamara commented on #2998
@jeluard Hi, here's a fix for this issue: https://github.com/status-im/status-react/pull/3098 :beers:

[2018-01-20 06:34] pablanopete commented on #1267
@oskarth I'll need to ping @tpatja about revoking.

[2018-01-20 07:28] status-open-bounty commented on #3064
Balance: 0.000000 ETH
Tokens: SNT: 300.00
Contract address: [0xaa75c6224373ba9a8e038ee3562f5871de70ec11](https://etherscan.io/address/0xaa75c6224373ba9a8e038ee3562f5871de70ec11)
Network: Mainnet
Paid to: voxlet
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-20 07:33] status-open-bounty commented on #3074
Balance: 0.000000 ETH
Tokens: SNT: 300.00
Contract address: [0x5d0016ee0cec5cb5ef84ce4952277eb0cad8b098](https://etherscan.io/address/0x5d0016ee0cec5cb5ef84ce4952277eb0cad8b098)
Network: Mainnet
Paid to: sebastiandelgado
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-20 07:33] status-open-bounty commented on #3076
Balance: 0.000000 ETH
Tokens: SNT: 300.00
Contract address: [0x7611d0f09048e178d57773eb097f64f0c4ce75cf](https://etherscan.io/address/0x7611d0f09048e178d57773eb097f64f0c4ce75cf)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-20 08:33] pablanopete commented on #2577
This UI will be changed in MVP - can be revoked / closed.

[2018-01-20 16:41] yevh-berdnyk opened #3099 "Sign and Delete buttons are not shown for unsigned transaction"
### Description

*Type*: Bug

*Summary*: When a transaction is added to be signed later there is no way to sign or delete it - expected buttons don’t appear

#### Expected behavior
Sign and Delete buttons are shown
![2018-01-20 18 35 28](https://user-images.githubusercontent.com/29711298/35185672-cf7a35ce-fe10-11e7-9bce-7203e2d451dd.jpg)

#### Actual behavior
Sign and Delete buttons are not shown

[2018-01-21 19:28] sebastiandelgado commented on #3074
Hey all, I'm a new contributor and will spend some time today working on this.

[2018-01-21 19:32] yevh-berdnyk opened #3102 "Add accessibility labels to all listed elements for e2e tests"
### User Story

As an automation engineer I need accessibility labels to be added for specific elements

### Description

Accessibility labels are required for building stable mobile test automation solution
Please, add accessibility labels for all listed elements:

**Sign in view:**
- sign-in-view
- create-account-button
- recover-access-button
<img width="518" alt="sign-in-view" src="https://use

[2018-01-21 21:16] annadanchenko commented on #2653
verified ok on release candidate and nightly builds (0.9.11d600), ios and Android

[2018-01-21 21:16] #2653 closed, assigned to rasom

[2018-01-21 21:41] annadanchenko commented on #2720
can't reproduce on nightly and on release builds anymore
TF release build:
https://app.testfairy.com/projects/4803622-status/builds/7525714/sessions/86/?accessToken=2mWQWelqKLBVaYN0dmi13ZsPA6A
https://app.testfairy.com/projects/4803622-status/builds/7525714/sessions/87/?accessToken=7avJsqHecS1XGTFi4VZxLD3T5U0

[2018-01-21 21:41] #2720 closed, assigned to nobody

[2018-01-21 21:54] #2757 closed, assigned to rasom

[2018-01-21 22:07] annadanchenko commented on #2754
Can reproduce on nightly build (jan 21). If avatar is not changing on last step: wait for 1 minute on Chats screen or open 1-1 chat with a, send text message and return to Chats.

See on 00:16 profile picture is shown and on 0:19 it's gone https://app.testfairy.com/projects/4803590-status/builds/7549901/sessions/9/?accessToken=WPEoZE2nOtBHGBa8dYggxkucnDc

(user A: real galaxy s6, user B real iphon

[2018-01-21 22:21] annadanchenko commented on #3099
can also reproduce on iOS

[2018-01-21 22:26] hanwencheng opened #3103 "hanged on reloading screen."
### User Story

As a developer, I want to contribute to the project and debug it.

### Description

*Type*: Bug (actually configuration issue)

Hi, I want to make some contribution but meet build problem, tried ask on dev-status channel but get no response, so I post here as well:
In IOS simulator the app is **successful installed and run**, but I cannot do `reload` or `remotely debug`, if I click

[2018-01-21 22:34] #2991 closed, assigned to nobody

[2018-01-21 22:37] annadanchenko commented on #2985
we need to show pending transactions in history. Is it a good candidate for bug fixing day @goranjovic @jeluard ?

[2018-01-21 22:51] annadanchenko commented on #2727
works ok on nightly build (from january 21)

[2018-01-21 22:51] #2727 closed, assigned to janherich

[2018-01-21 22:55] sebastiandelgado commented on #3074
I took a shot at this with PR #3104. Thanks in advance for review/comments :)

I am making the following assumption in this PR:
 - This script will only be run by core devs who have been allowed access to external forks using the `maintainer_can_modify` ('allow edits from maintainers') rule when enabled. If this isn't the case, under which circumstances will devs without write access to upstream u

[2018-01-21 23:22] annadanchenko opened #3105 "Date is no longer shown in Transaction History"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: No date is shown on Transaction history, so it's unclear when transaction was done. On 0.9.12 we had the date shown, so it seems like a regressi

[2018-01-22 07:44] asemiankevich commented on #2912
@goranjovic @jeluard would mind to look into this?

[2018-01-22 08:51] flexsurfer commented on #3049
@adambabik  [geth.log](https://github.com/status-im/status-react/files/1651224/geth.log)

[2018-01-22 09:28] yenda commented on #3074
Hi, thanks for taking the time to work on this issue !

Yes, `merge-pr.sh` is used to merge core contributors PR and is mostly a simpler version of `merge-external-pr.sh`.

What do you mean by original ? I had this issue with the latest version of merge-pr.sh

You can create a dummy repo to try it out on your account. We will also merge this PR with it

[2018-01-22 10:15] Serhy opened #3108 "[Perf] User story 3: Time lag when user sends the very first message in group chat"
### User Story

As a user I want my message appear in the chat in <0.3 second after I tap the 'Send' message button

***Type***: Bug

***Summary***: There is a noticeable time lag on the first message sending in group chat comparing to next message sending. This is the time delay when user taps on "Send" message blue button and when the actual message appears in group chat list. Depends from devic

[2018-01-22 11:00] flexsurfer commented on #3103
hey @hanwencheng why do you want to reload project manually? it reloads automatically, while you change code

[2018-01-22 11:07] hanwenc commented on #3103
Hey, @flexsurfer, I actually want to debug it with chrome-dev-tools, but by click `remotely debug` and `reload`, I get the same result as the screenshot shows.

[2018-01-22 11:10] flexsurfer commented on #3103
hey @hanwenc you can use re-frisk `http://localhost:4567/` for debug purposes, you don't need to use chrome-dev-tools, also you can see logs in ios console (or android adb )

[2018-01-22 11:11] dmitryn commented on #3103
Also, `react-devtools` works fine for me without "remote debug" and "reload"

[2018-01-22 11:22] #2906 closed, assigned to goranjovic

[2018-01-22 11:26] hanwencheng commented on #3103
@flexsurfer That helps, thanks!

[2018-01-22 11:56] asemiankevich opened #3111 "[Perf] User story 6: Visible timelag on creating account"
### Description

*Type*: Bug

*Summary*: There is a visible time lag when creating account. Password message is hanging for 2-3 seconds visible for user when is should be hidden after user set up a password confirmation. Sometimes password message overlaps other messages in Console.

#### Expected behavior
No lags when creating account. After I confirm password - confirm password message dissapera

[2018-01-22 12:01] flexsurfer commented on #3103
but let's do not close this issue, because we should fix this reload issue anyway

[2018-01-22 12:49] ReneeAB opened #3112 "The screen flickers when the user try to add new contact from the wallet and the Invalid address error is displayed."
### Description

*Summary*:
When the user wants to send a transaction to a new recipient the screen flickers when trying to add a new user using the QR code, the error message Invalid address is displayed.
#### Expected behavior
Users should not see the screen flickering when adding a new contact usong the QR code.

#### Actual behavior
The screen flickers when users scan the QR code.

![image 3](

[2018-01-22 13:02] dmitryn commented on #2754
I'm able to reproduce this. The reason for this bug is that we receive `contact-request` message which triggers `:contact-request-received` event that dispatches `update-contact!` event.

Quickfix would be comparing contact `last-updated` and message timestamp and do not run update if message is older. But this looks more like workaround so i have more general question - why do we process `contact

[2018-01-22 13:36] oskarth commented on #2699
Latest develop using iPhone Xs and Android Galaxy S8 (receiver).

Can't reproduce when app is in background.

Can reproduce when app is in background and the foregrounded (sign-in not necessary).

Investigating. Current hypothesis: 500ms not enough when coming from background due to other Whisper events.

[2018-01-22 13:57] jeluard commented on #3103
@flexsurfer See https://github.com/status-im/status-react/issues/3078

[2018-01-22 14:05] andytudhope commented on #3074
Thanks @sebastiandelgado! One thing, you our PR says that it will work regardless of whether the PR is signed or not, but we need to make sure that each PR gets signed by a core contributor, so that needs to be changed afaik, cc @oskarth.

[2018-01-22 14:06] flexsurfer commented on #3103
@jeluard yeah i mean sometimes i want to reload app using cmnd+R, and it hangs, i need to close it and reopen, lets fix this in this issue

[2018-01-22 14:08] adambabik commented on #3049
Thanks @flexsurfer. From this log, it looks like the app received some very old Whisper messages and in such a case, the protocol disconnects from the peers who sent these old messages (`envelope.Expiry + 10 seconds * 2 < now`). What is strange is that all Whisper nodes sent these old messages which may suggest that something is wrong with the clock settings on this device. Can you make sure the c

[2018-01-22 14:09] jeluard commented on #3103
@flexsurfer Oh right reload is different.. Maybe we can create a bounty for it?

[2018-01-22 14:09] flexsurfer commented on #3103
@jeluard i think yes, would be good

[2018-01-22 14:20] flexsurfer commented on #3049
yes @adambabik , thats the reason, switched clock sync with the net back and messages work

[2018-01-22 15:44] oskarth commented on #2699
Annoyingly, I can't reproduce the background bad behavior in Genymotion with dev mode, and having issues getting local build to run on Android.

[2018-01-22 16:09] Serhy opened #3116 "No message received in 1-1, group chat by the contact which is online after ~10 minutes of being offline"
***Type***: Bug

***Summary***: No message (text/emoji, /request, /location, /send) received by the contact in 1-1, group chat when a message is sent to the contact which appears online after been ~10 minutes offline, until the contact re-log in into account.
**Please note**, messages have been sent to user when he is online.
The key of this case is: to go offline for 10 minutes and get back onlin

[2018-01-22 17:39] jeluard opened #3118 "Allow app reloading in development mode"
### User Story

As a developer, I want to be able to reload the app while developing

### Description

Type: Feature

RN applications can be reloaded while developing using react-native developer menu.
This is currently broken and forces to restart the whole application.

[2018-01-22 17:39] jeluard commented on #3103
@flexsurfer @hanwencheng  See #3118

[2018-01-22 18:29] sebastiandelgado commented on #3074
@yenda Thanks for clearing those up. By 'original' I meant the latest version of merge-pr.sh, so I think we're on the same page there. I have run it on a dummy repo: `https://github.com/sebastiandelgado/status-react-dummy` by modifying the script to use:
[code]
It worked as expected!

I did find a typo on line 83 where `$PR_LOCAL_BRANCH` is spelt as `$PR_LOCAL_BRACNCH` so I updated that but it did

[2018-01-22 18:35] sebastiandelgado commented on #3074
Whoops. Looks like I somehow included a bunch of commits that weren't mine. Will remove them from my branch and update

[2018-01-22 22:51] hanwencheng commented on #3103
@flexsurfer I open the system log window and run`$react-native log-ios`, the logs from `taoensso.timbre` does not appear. Is there any config need to be set? I tried to edit the `LOG_LEVEL` in `config.cljs`, but it seems does not work.

[2018-01-23 06:05] oskarth commented on #2699
After recent PRs, the main invariant of the pre-receiver has been broken:

[code]

Notice how it calls add-fn even when there are messages with lower `clock-value` that comes in <<500ms after. This is because it checks on `message-id`, when it should check on chat identifier. However, reverting to previous behavior and/or using `chat-id` still sometimes causes the second `go-loop` in `pre-receiver

[2018-01-23 09:11] dmitryn commented on #3103
@hanwencheng related issue https://github.com/facebook/react-native/issues/9441

You can see your logs in Console.app though or in Xcode if you run app from there.

[2018-01-23 11:26] #3091 closed, assigned to dmitryn

[2018-01-23 13:12] annadanchenko commented on #3081
Same issue can be reproduced, see https://github.com/status-im/status-react/pull/3110#issuecomment-359779866

[2018-01-23 15:58] #2754 closed, assigned to dmitryn

[2018-01-23 17:11] #3099 closed, assigned to jeluard

[2018-01-23 17:17] #3105 closed, assigned to jeluard

[2018-01-23 18:37] stephengroat commented on #2937
@oskarth `yarn` definitely work better than `npm`, but i think the real issue here is the use of the `sh` function while not checking the return code. you can exit on a non-zero return code, showing build failed. does anyone know what package the `sh` function is out of?

[2018-01-23 21:12] #3074 closed, assigned to nobody

[2018-01-24 03:18] bryanlynn8 commented on #3013
I can code this out, let me know.

[2018-01-24 03:47] pablanopete commented on #3013
@kingbean no need to ask! Pull requests are encouraged on bounties issues

[2018-01-24 06:33] oskarth commented on #2937
@stephengroat This can happen locally too though, so not just a Jenkins config issue. But I'm all for checking return codes. One can just wrap shell command in it and check return code I think. Here are some docs https://jenkins.io/doc/pipeline/steps/workflow-durable-task-step/#code-sh-code-shell-script

[2018-01-24 08:39] asemiankevich opened #3123 "Network field does not fit screen size on new profile (small screens)"
### Description

*Type*: Bug

*Summary*: Due to full network name the length of it does not fit screen size and is written in 2 lines which looks as a bug. Low prio as I am not sure if the range of supported screens / devices is changed , maybe we dont support iPhone 5S anymore

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/35322309-d890e2ce-00fa-11e8-95c6-374c2c

[2018-01-24 08:42] #3049 closed, assigned to nobody

[2018-01-24 08:42] #2985 closed, assigned to yenda

[2018-01-24 08:46] asemiankevich opened #3124 "Add notification: Date/time should be synced with network to have messaging working"
### Description

*Type*: Feature
*Summary*: There was a bug https://github.com/status-im/status-react/issues/3049 and it turned out that messaging works only when date/time is synced with network on the device. We need to add a notification for a user saying that.

First of all we need to investigate if there is an option to track it on a device level if you changed your system time  manually or a

[2018-01-24 08:53] asemiankevich opened #3125 "Date label overlaps transaction details on transaction history screen"
### Description

*Type*: Bug

*Summary*: Date label overlaps transaction details on transaction history screen when scrolling

#### Expected behavior

Date is not overlapping transaction details

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/35322891-db11cee4-00fc-11e8-8e29-bf3bee096444.png)

### Reproduction

- Open Status
- Go to Transaction history and scroll

[2018-01-24 11:10] annadanchenko commented on #2448
@hesterbruikman @andmironov @denis-sharypin what would you suggest from design point of view?

[2018-01-24 11:33] denis-sharypin commented on #2448
I think we should use plain numbers with small formatting (I added small spaces every three digits)

![format numbers](https://user-images.githubusercontent.com/6559881/35330095-7a7a25e4-0102-11e8-891d-2c03045a168a.png)

[2018-01-24 12:29] dmitryn opened #3126 "Error on joining chat with many messages"
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*:

App shows redbox error "No more than 1024 pending puts are allowed on a single channel. Consider using a windowed buffer" when you join #status public channel.

#### Expected behavior
No error is shown.

#### Actual behavior
Redbox error is shown.

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step

[2018-01-24 12:34] annadanchenko commented on #2448
after discussion with @jeluard @hesterbruikman decision was to show what user typed, e.g. 0,000000001 For after MVP stage: design team need to come with better readable solution for long amounts like this, as it's hard to count zeros to understand what amount will be sent

[2018-01-24 12:52] asemiankevich opened #3127 "Back button is inactive when creating account"
### Description

*Type*: Bug

*Summary*: Back button is inactive when creating account

#### Expected behavior
User is redirected back to Home screen when tapping back button. No new account was created.

#### Actual behavior
Back button is not active. User has to kill the app to get back to Home screen

### Reproduction
- Open Status
- Create one account and logout
- On home screen tap create acc

[2018-01-24 13:43] dmitryn opened #3129 "Message of type contact-request doesn't contain contact object"
#### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: While investigating https://github.com/status-im/status-react/pull/3110 we found `contact-request` message that doesn't contain `contact` objec

[2018-01-24 14:20] dmitryn commented on #3129
I think we need to implement validation on any incoming/outgoing message to conform to formats described in specs (and have it described here as well https://wiki.status.im/Whisper_Messaging)

[2018-01-24 14:35] dmitryn commented on #3129
Seems like it's "ack" message

[2018-01-24 14:38] dmitryn commented on #3129
It should not be processed as `contact-request` message then https://github.com/status-im/status-react/blob/develop/src/status_im/protocol/handlers.cljs#L438

[2018-01-24 15:10] asemiankevich opened #3130 "Sign transaction button is available when having 0 funds for some dapps (CK, Auction house) and tokens"
### Description

*Type*: Feature

*Summary*: we have now several edge cases when sending tokens from wallet:
1 - I send tokens with gas price and gas limit set to 0 and i receive this `transaction underpriced` https://prnt.sc/i4y92k

2 - when i set too high gas price or gas limit and transaction fee is more than i have on my balance. In this case i am receiving `insufficient funds` https://prnt.sc

[2018-01-24 16:18] #3129 closed, assigned to nobody

[2018-01-24 17:14] #2960 closed, assigned to nobody

[2018-01-24 17:42] yenda commented on #3118
@jeluard could you specify the difference between a reload and a restart ?

[2018-01-24 17:46] jeluard commented on #3118
@yenda This is the reload option as available in RN developer menu. Not sure what it is doing but it does not work with status.

[2018-01-24 17:48] goranjovic commented on #3118
@jeluard What I noticed is that automatic reloading via figwheel stops working as soon as first red screen is shown. Whenever that happens, only app restart helps. Maybe it's related.

[2018-01-24 18:24] chadyj opened #3131 "Screen cut off when using ERC dEX DApp"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to use ERC dEX so that I can trade.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

[2018-01-24 18:36] lukeautry commented on #3131
That is weird. FWIW (and you can see the intended layout just in mobile mode in Chrome or your desktop browser), the tab bar is a fixed position element stuck to the bottom of the screen - the fact that anything can appear below that is quite strange. Is that white panel rendered in the browser, or does it belong to status?

[2018-01-24 18:38] pablanopete commented on #3131
CC @rasom @jeluard @oskarth ^

[2018-01-24 18:57] GeorgiG opened #3132 "Lost conversation parts on 1-1 chats"
### User Story

As a user, I want to send messages so that to be sure that the other side would receive them.

### Description

*Type*: Bug

*Summary*: I've created 2 virtual Android devices and started a 1-1 conversation between them. Then I left the devices for some time and resumed the conversation.

#### Expected behavior

I expected to receive the messages sent from each of the accounts when

[2018-01-24 19:31] GeorgiG opened #3133 "The Cyrillic Unicode codes appear when entering such strings"
### User Story

As a user, I don't want to see the unicodes of the Cyrillic alphabet when entering such messages.

### Description

*Type*: Bug

*Summary*: The Cyrillic unicode equivalents get visualized when entering such messages.

#### Expected behavior

The unicodes should be hidden for the end-users.

#### Actual behavior

They are visible for a blink of an eye.

### Reproduction

1. Start a

[2018-01-24 19:40] chadyj opened #3134 "Ethereum node problems when unlocking ZRX permission using ERC dEX DApp"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user using ERC dEX I want to unlock ZRX allowance permission so that I can exchange tokens.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what ac

[2018-01-24 19:41] GeorgiG opened #3135 "The @browse command doesn't handle properly Cyrillic URLs"
### User Story

As a user, I want to see the Cyrillic URLs properly.

### Description

*Type*: Bug/Feature

*Summary*: The Cyrillic URLs should be handled properly.

#### Expected behavior

To see the proper URL

#### Actual behavior

![capture](https://user-images.githubusercontent.com/5781465/35353148-ec394bfa-014e-11e8-940f-ba393b450156.JPG)

### Reproduction

1. Open Status
2. Start a group/1-

[2018-01-24 19:54] lukeautry commented on #3134
Are you guys hosting your own Mainnet nodes? Is it possible that any of the nodes in the cluster are out of sync?

For it to be saying the token contract doesn't exist would mean that the node is somewhere in a block prior to August 2017.

[2018-01-24 20:11] chadyj commented on #3134
Update: In Status I was using `Mainnet`.
I then tried `Mainnet with upstream RPC` and it worked as expected.

[2018-01-24 20:49] mandrigin commented on #3135
Coming from the browser development background, I probably will add my $0,02 here.

Showing unicode URLs as they are (non-punicoded) opens a huge security hole in the system: URL spoofing.
For instance, if I register domains:
- "fаcebook.com" (Cyrillic а);
- "ассounts.gооglе.com" (Cyrillic o and e in the URL).
It wouldn't be possible for a user to distinguish them from the real domain names.

So i

[2018-01-24 21:00] #3134 closed, assigned to nobody

[2018-01-24 21:16] hanwencheng commented on #3103
@dmitryn thanks!

[2018-01-25 09:23] asemiankevich opened #3136 "Add a line under profile image when editing profile"
### Description

*Type*: Bug

*Summary*: Add a line to profile for both platforms to match the mock

#### Expected behavior

![image](https://user-images.githubusercontent.com/28752642/35380383-2479f232-01ca-11e8-9471-7aa6e197dfe4.png)

iOS
![image](https://user-images.githubusercontent.com/28752642/35380233-bb0c12bc-01c9-11e8-9334-b7c2ee58871b.png)

Android
![image](https://user-images.githubuser

[2018-01-25 09:29] Serhy commented on #3108
Short talk we had in slack recently as a vector for investigation here:

[1] it looks like when user sends the message - we process it first (encrypt/encode) on background and then display in chat list. Disregard of what’s happening now when user taps on blue ‘Send’ message button - it it possible to prioritise UI message rendering process first and then do the rest of things related to actual sen

[2018-01-25 10:36] #2908 closed, assigned to alwx

[2018-01-25 11:40] asemiankevich commented on #2622
Lets have it fixed as we are receiving a lot of tickets in Instabug for this.

[2018-01-25 11:56] jeluard opened #3139 "Migrate hiccup properties to kebab-case"
### User Story

As a developer, I want to follow good coding convention

### Description

*Type*: Feature

`reagent` allows to define component properties in `kebab-case` (e.g. `:background-color`). Make sure all existing `camel-case` usages (e.g. `:backgroundColor`) are migrated to `kebab-case`.

[2018-01-25 11:59] jeluard opened #3140 "Migrate colors to the new colors ns"
### User Story

As a developer, I want to limit proliferation of colors

### Description

*Type*: Bug

A new `colors` ns has been introduced to create a color palette (based on design team input). grow it and migrate (after removing useless ones) existing colors from `styles` ns.

[2018-01-25 12:01] goranjovic opened #3141 "Refactor all ui.components namespaces to replace :refer with :as"
### User Story

As a developer I want to both have a clean code and to easily submit/review PRs.

### Description

*Type*: Refactor

*Summary*: Right now we spend way too much effort communicating back and forth about refactoring to meet the guideline and always require namespaces with aliases, i.e. with `:as` and without `:refer`.

Instead of doing that in every PR, we'll do a number of package w

[2018-01-25 13:22] #3052 closed, assigned to goranjovic

[2018-01-25 13:22] #3054 closed, assigned to goranjovic

[2018-01-25 13:55] rasom commented on #2963
To sum up communication through RN bridge, we have the next types of messages:

1.	status-module
The main concern was related to the way how we use web3, but it seems that regardless of number of incoming messages we don’t have more than 6-8 in/out RN bridge messages related to this module.

2.	Timing/JSTimers
This module is used by animation (not native), when we call setTimeout/setInterval expli

[2018-01-25 15:45] dmitryn opened #3142 "Add flag to enable spec validation in release builds"
### User Story

As a developer I want to enable spec validation in release so i could find bugs in release builds faster.

### Description

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: We have app-db validated to specs in develop, but it's disabled for release. We

[2018-01-25 16:46] chadyj opened #3143 "Cannot sign in to Cryptokitties"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to sign in to CryptoKitties so that I can collect and breed digital cats.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actuall

[2018-01-25 20:11] stephengroat commented on #2937
even though Jenkins sets the `-e` flag in its `sh` command, [`e` is ignored in bash loops](https://unix.stackexchange.com/questions/65532/why-does-set-e-not-work-inside). i've run into it before, makes debugging impossible

since `yarn` can interpret `package.json` and seems to run a lot smoother, i'd try installing it locally on the jenkins boxes and switching out `npm` for `yarn` in all of the s

[2018-01-26 06:06] status-open-bounty commented on #3136
Balance: 0.000000 ETH
Tokens: SNT: 200.00
Contract address: [0x3cd45f8982c6fab0a0f2fabce01ea582f1f7526a](https://etherscan.io/address/0x3cd45f8982c6fab0a0f2fabce01ea582f1f7526a)
Network: Mainnet
Paid to: salax
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-26 08:45] asemiankevich opened #3145 "Update Ethereum to Ether asset name"
### Description

*Type*: Bug

*Summary*: We want to use `Ether` in asset name

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/35431615-359e8842-028e-11e8-9b0f-e893c2773632.png)

### Reproduction

- Open Status
- Go to Manage assets on wallet tab

### Additional Information
* Status version: latest develop
* Operating System: Android, iOS

[2018-01-26 09:00] dmitryn commented on #3082
Good idea would be to have metrics for incoming message: what events dispatched, how long it takes for each to finish.

[2018-01-26 09:20] goranjovic commented on #3141
Skipping `action-button` and `chat-icon` to avoid conflicts with #3005

[2018-01-26 09:28] janherich opened #3146 "[Perf] Test Hypothesis 5: synchronous realm reads/writes are the major factor contributing to bad UI performance and event processing speed"
### Identified Behavior

The app UI is very slow to respond in certain cases, it's most visible when receiving a lot of messages, but also when sending a new message, user perceives noticeable lags between hitting the `send` button and UI updated as a result of such action (new message is rendered, etc.)

- [x] User story part of MVP scope
- [x] Identified end user behavior

### Hypothesis

Accord

[2018-01-26 09:34] dmitryn commented on #3082
Events associated with 1 incoming message (order is not always strict, as its async events)
re-frame events marked with *
log records marked with **
[code]

[2018-01-26 11:18] annadanchenko commented on #3081
should be in release (already there) and in develop

[2018-01-26 14:04] denis-sharypin commented on #3136
@asemiankevich  great bug description!

[2018-01-26 16:51] Serhy opened #3151 "Typing ".0" is not replaced by 0.0 in "Specify amount" field on 'Send transaction' wallet screen"
***Type***: Bug

***Summary***: The dot disappears and replaced with '0' when you start typing the amount you want to send to recipient from the 'Send Transaction' screen with the dot followed by '0'.
This is not the case for any other figures after dot other than 0. For instance `.1` - replaced with `0.1`, or `.3` - with the `0.3`

**Expected behavior**
Typing `.0` value in 'Specify amount' edit

[2018-01-26 19:35] annadanchenko opened #3152 "App version for release build is 0.9.14d3 instead of 0.9.13"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
On latest release build 70:
iOS app version: 0.9.14d3
Android app version: 0.9.13-3-g848bcaea+

![img_2587](https://user-images.githubuserconten

[2018-01-26 20:03] annadanchenko opened #3153 "Sign in after upgrade and get error null is not an object"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If delete group chat in the attached dataset on 0.9.12 and upgrade it to 0.9.13 release or to the develop build then on sign in there is ```Erro

[2018-01-26 20:28] annadanchenko opened #3154 "After upgrade deleted 1-1 chat is shown and error Missing value for property 'chat.is-active' [upgrade]"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Error ``` Missing value for property 'chat.is-active' ``` if upgrade 0.9.12 attached dataset to 0.9.13 release build 70. After closing the error user can proceed using the app. In addition, new 1-1 chat is shown in Chats that was deleted before upgrade.

#### Expected behavior
[comment]: # (Describe what you expe

[2018-01-26 20:41] annadanchenko commented on #3152
fixed by @oskarth in release build 71

[2018-01-26 20:41] #3152 closed, assigned to nobody

[2018-01-27 08:00] status-open-bounty commented on #3051
Balance: 0.000000 ETH
Tokens: SNT: 370.00
Contract address: [0xb0f6d5e2d4151034e8e9e727d7e89cbcd7fd4815](https://etherscan.io/address/0xb0f6d5e2d4151034e8e9e727d7e89cbcd7fd4815)
Network: Mainnet
Paid to: jeluard
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-27 08:00] status-open-bounty commented on #3078
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe7d0db96a42b574c6b7a15c46b5d1ccf7d11b4d738f25ad8badba52efd5f3777](https://etherscan.io/tx/0xe7d0db96a42b574c6b7a15c46b5d1ccf7d11b4d738f25ad8badba52efd5f3777)

[2018-01-27 08:01] status-open-bounty commented on #1879
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xf9327beed210922f5b71644ba1c7c59a057f23d4c13412c03bd1fab768ccdd10](https://etherscan.io/tx/0xf9327beed210922f5b71644ba1c7c59a057f23d4c13412c03bd1fab768ccdd10)

[2018-01-27 08:01] status-open-bounty commented on #3041
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x80d641904f488877e73db9ef37bb6ed747fda617e71ce60d7987909b9eed5c04](https://etherscan.io/tx/0x80d641904f488877e73db9ef37bb6ed747fda617e71ce60d7987909b9eed5c04)

[2018-01-27 08:02] status-open-bounty commented on #3118
Balance: 0.000000 ETH
Tokens: SNT: 370.00
Contract address: [0xd40a88a9d8696d847f9b727c11be6acfc5a96e52](https://etherscan.io/address/0xd40a88a9d8696d847f9b727c11be6acfc5a96e52)
Network: Mainnet
Paid to: poiga
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-01-28 11:28] Serhy opened #3156 "Transaction failed 'known transaction' error on Wallet screen"
***Type***: Bug

***Summary***: Transaction failed: 'known transaction' error popup displayed on wallet screen. It was appeared on iPhoneX, however we can't reproduce it now.

#### Expected behavior
No error "Transaction failed: 'known transaction''

#### Actual behavior
![wdfsdfsdf](https://user-images.githubusercontent.com/8749671/35481482-0206bebe-042d-11e8-8202-7b8edd35ac2c.JPG)

### Reproduct

[2018-01-28 13:19] Serhy opened #3157 "TypeError: null is not an object (evaluating 't.length') when 'Show QR' of DApp address"
***Type***: Bug

*Summary*: The `TypeError: null is not an object (evaluating 't.length')` error appears when request to 'Show QR code' for Address field is made from DApp profile. App is unresponsive and stays on white screen after I tap 'OK' on the pop-up with this error.
Same relates to 'Console' profile screen.
Apparently we had the same issue in #2233 (second item from description)

#### Expe

[2018-01-29 08:03] flexsurfer opened #3158 "Introduce Open Dapp screen"

[2018-01-29 09:05] janherich commented on #3146
Branch testing the hypothesis is called `feature/offband-realm-#3146`

[2018-01-29 09:34] pedropombeiro commented on #2699
@oskarth does that mean we have no unit tests for this ordering logic?

[2018-01-29 10:08] Serhy opened #3159 "App crashes on the second launch after user created and app shut down"
***Type***: Bug

***Summary***: App crashes on the second launch after user is created and app shut down. This is noticed by autotests however, is not reproduced manually so far neither on same emulator nor on real device (Samsung J7 Android 7.0). Below are logs attached for the session where crash occurs.

#### Expected behavior
App launches fine on the second run
#### Actual behavior
App crashes