[2018-10-16 16:03] 3esmit commented on #5807
@PombeirP Does this version includes testfairy?

[2018-10-16 16:06] Serhy commented on #5204
@lukaszfryc well, yes and no.
Yes, there is no more pop-up like in the description of this issue with `Transport.topic` error. But the `transport.topic` error visible in logs.
However the last deserves a separate issue. Thanks for mentioning it!
Closing this one!

[2018-10-16 16:06] #5204 closed, assigned to cammellos

[2018-10-16 16:06] adambabik commented on #6250
I would call it proper validation :D Just wording around it was bad and confusing. I believe it is also fixed so in the future it will be very easy to spot network IDs mismatch :)

[2018-10-16 17:03] SlizkovaGanna commented on #5445
Popup for 'Message copied to clipboard'
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/43638377/47033829-78594180-d17e-11e8-9615-e45c605fc16a.png">

[2018-10-16 17:13] corpetty commented on #6346
we need a way to get the logs of users who have a bug, and their personal description of what happened.  Isn't that about it?  I'd like the people who sort through these instabug reports to chime in here.

[2018-10-16 17:47] #6330 closed, assigned to mandrigin, yenda, arnetheduck, oskarth, rasom, corpetty, annadanchenko

[2018-10-16 18:06] chadyj commented on #6348
Dupe of https://github.com/status-im/status-react/issues/6347 ?

[2018-10-17 03:19] arnetheduck opened #6351 "Chat non-functional on networks that block ports other than 80/443"
Visited the Liberty Science Center today and to my surprise found a pic of Vitalik on the wall - turns out he made it to their list of resident Genuises: https://lsc.org/index.php?cID=1592 :)

They also have a free wifi that, like many other free wifi's on airports, cafes and libraries that I've been to and tried using Status, blocks anything other than web traffic, usually by port filtering (help

[2018-10-17 06:11] errorists commented on #4690
It will require a couple of minor visual tweaks but other than that I can't think of anything else to further improve it. I'll update the designs today

<blockquote><img src="https://framer.cloud/rlnqR/1/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/rlnqR">Scroll - Unread</a></strong></div><div>This project was made with Framer, a design tool for t

[2018-10-17 06:38] chadyj commented on #4690
Thanks for picking this up. It’s been a big pain point and feature request so looking forward to getting it done for our next release.

Don’t forget desktop designs too 😜

[2018-10-17 07:33] lukaszfryc commented on #6348
yes it is. Closing this one.

[2018-10-17 07:33] #6348 closed, assigned to nobody

[2018-10-17 07:35] lukaszfryc commented on #6347
@rasom could you take this release blocker? It should be a quick fix.

[2018-10-17 07:46] lukaszfryc commented on #6346
@corpetty It's me. I'm happy to remove Instabug provided users still can relatively easily let us know about their issues. So, let's first create alternative solution, maybe so simple like https://github.com/status-im/status-react/issues/6346#issuecomment-430280350 or shake to get to #requests-and-reports (maybe showing some info screen before it). And then, remove Instabug.

[2018-10-17 07:53] lukaszfryc commented on #379
Ben also complained about getting random characters in recovery phrase input:

<img src="https://user-images.githubusercontent.com/7532782/47070821-58636580-d1f2-11e8-9320-6810b688bac7.png" width="500">

Would be good to find out if it's a react-native issue and what we can do about it.

[2018-10-17 08:15] flexsurfer commented on #4181
fixed https://github.com/status-im/status-react/pull/5875

[2018-10-17 08:15] #4181 closed, assigned to nobody

[2018-10-17 08:15] annadanchenko commented on #6126
If we release with this bug then user can set a short password that will be invalid after the bug is fixed. So, after upgrade user will not be able to sign in. imo, we need to fix it before release. @chadyj

[2018-10-17 08:34] rasom commented on #6347
ok

[2018-10-17 08:49] mandrigin opened #6352 "Desktop signing script for macOS breaks signing process"
### Description

Sometimes (probably, when > 1 Desktop build happens at the same time), after executing signing process there are stale entries left in keychains list.

See this job: https://ci.status.im/job/status-react/job/combined/job/desktop-macos/2614/console

[code]

Most of these entries don't have files behind them, so it doesn't hurt, but sometimes there are a few that might be leftovers.

[2018-10-17 08:54] asemiankevich opened #6353 "Cancel button is an overkill for extension confirmation dialog"
### Description

*Type*: Bug

*Summary*: There is a confirmation dialog when adding an extension. It contains `Cancel` button which is not necessary as this dialog just confirms the extension values are added to db after `install` button is pressed.

#### Expected behavior
Remove the cancel button. Show alert view with 1 button https://facebook.github.io/react-native/docs/alert

#### Actual behavi

[2018-10-17 09:15] asemiankevich opened #6356 "Allow only 1 extension to be added for account"
### Description

*Type*: Bug

*Summary*: Since we technically limited extensions to have only 1 for now (current limitation) we need to do the same in UI and don't confuse user.

#### Expected behavior
1 extension could be added for an account in UI

#### Actual behavior

Now I can add as many as I want however only 1 persists in database

![image](https://user-images.githubusercontent.com/2875264

[2018-10-17 09:16] ghost commented on #4600
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-17 09:16] #4600 closed, assigned to nobody

[2018-10-17 09:33] chadyj commented on #6346
I agree with Oskar. Let’s treat the replacement as a separate issue and for now just remove Instabug. We can go a release without Instabug feedback.

[2018-10-17 09:36] lukaszfryc opened #6358 "User redirected to Home tab after sending transaction in 1-1 chat"
### Description

*Type*: Bug

*Summary*: When tx is sent in 1-1 chat and "Got it" button is pressed, the user is redirected to Home tab with list of chats instead of being redirected to the 1-1 chat.

### Reproduction

- Create 1-1 chat and send transaction

### Additional Information
* Status version: StatusIm-181016-175842-c33889-nightly
* Operating System: Android, iOS

[2018-10-17 09:36] lukaszfryc commented on #6358
I would not consider it release blocker for 0.9.30. cc @annadanchenko

[2018-10-17 09:40] lukaszfryc commented on #6346
I think it is not a good idea. We have many Instabug reports every week from both old and new users. Without Instabug replacement, we will lose valuable feedback as well as disappoint some of the existing users.

I'd at least implement redirecting to #status-requests-and-reports public chat when "Submit a bug" or "Request a feature" buttons are clicked in "Help Center" in Profile. This should be r

[2018-10-17 09:41] chadyj commented on #6346
There is small UI change needed: Profile >  Need Help >
We can remove “submit a bug” and “suggest a feature”.

We can bring this back when we do the replacement.

[2018-10-17 09:42] pedropombeiro commented on #5807
@3esmit I think this is determined by the `.env` file located together with the `StatusIm.exe`, and from what I see it is disabled.

[2018-10-17 09:49] cammellos commented on #6346
I would also consider not using status public-chats for bug reports, instead maybe email is preferable (emailto, could be both), but we don't want to rely on our own app to behave correctly in this cases (what if the problem is actually in publishing to public chats?)

[2018-10-17 09:51] chadyj commented on #6346
Great idea Lukasz.

On the Need Help menu let’s add something like “Ask a question in #status”. Tapping that will open up the channel.

Status is probably best for now as that is where the community hangs out.

[2018-10-17 09:53] chadyj commented on #6346
Fair point. But big issues like that will be on our radar before users. After all we are chatting in pub chats to build Status.

[2018-10-17 09:55] cammellos commented on #6346
that's true, we might miss some that are more subtle and depends on the state of the device, I think it will be worth adding an email option eventually, but in the meantime seems like there's consensus:
1) Remove instabug
2) Change links in the help center to redirect to `#status`

anything else?

[2018-10-17 09:57] oskarth commented on #6346
One reason I like public chats for reporting is that it gives us an opportunity to directly engage with people. People can chat about issues, and see if something is already reported etc. I agree it shouldn't be the only way, but I don't think it's a bad idea to make it the primary way.

[2018-10-17 10:10] lukaszfryc commented on #6358
Hm, I can't reproduce it now. I will double check it soon.

[2018-10-17 10:21] lukaszfryc commented on #5949
I can also replicate it when I:
- Open public chat and click on some non-contact
- Click send transaction in that user profile screen
- Send transaction ("/send") from 1-1 chat with that user. The bug will happen all the time until the user is added as contact.

<img src="https://user-images.githubusercontent.com/7532782/47079904-de89a700-d206-11e8-8b05-08c800159851.png" width="200">

Even though

[2018-10-17 11:25] #6126 closed, assigned to janherich

[2018-10-17 11:39] pedropombeiro commented on #5807
Posted new build at http://bit.ly/desktop-win10-894738a2 with "nightly" .env settings

<blockquote><img src="https://ssl.gstatic.com/docs/doclist/images/icon_14_archive_favicon.ico" width="48" align="right"><div>Google Docs</div><div><strong><a href="https://drive.google.com/file/d/15nKTwN7s4Xm2hf8TZHAO4Edz4TspUtr8/view?usp=sharing&usp=embed_facebook">StatusWin10-2.7z</a></strong></div></blockquot

[2018-10-17 11:51] asemiankevich opened #6360 "re-frame db spec check failed error"
### Description

*Type*: Bug

*Summary*:

[code]

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/47084383-fae40e80-d21b-11e8-8067-a667706e624c.png)

### Reproduction

- Open Status develop
- Recover account
- Tap Set up wallet

NOTE: i have read that @rasom experienced the same issue. Steps may not be accurate.

[2018-10-17 12:01] #6307 closed, assigned to rasom

[2018-10-17 12:09] #6094 closed, assigned to alwx

[2018-10-17 12:12] andytudhope commented on #6340
Maker specifically requested MKR: https://github.com/status-im/status-react/pull/6178

[2018-10-17 12:21] StatusSceptre commented on #2884
@iamonuwa are you karol on the Status Riot chat? Because, if not, someone else is already working on this...

[2018-10-17 12:39] SlizkovaGanna opened #6361 "No bold font in messages in 1-1 and public chats for text wrapped up in asterisks [iOS]"
Type: Bug

Summary: Text wrapped up in asterisks is not displayed with bold font style in 1-1 chat and public chats for iOS.
It's all fine for Android.

**Expected behavior**

Text in message bubble wrapped up in asterisks displayed with bold font style in 1-1 and public chats on iOS

**Actual behavior**

Text in message bubble wrapped up in asterisks is not displayed with bold font style in 1-1 a

[2018-10-17 12:40] SlizkovaGanna commented on #3180
This issue is no longer valid - a different one was created :)
https://github.com/status-im/status-react/issues/6361
Tested on Release 0.9.30 (10755) - a nightly from 17 Oct 2018

[2018-10-17 12:41] #3180 closed, assigned to lukaszfryc

[2018-10-17 13:26] #6320 closed, assigned to cammellos, yenda

[2018-10-17 13:47] annadanchenko commented on #5567
state for today: app token for TF is regenerated and TF is removed from the app, so no new sessions are created. I'm not deleting TF account yet as I want to get confirmation from TF CustomerSupport about backups being deleted.

[2018-10-17 13:47] SlizkovaGanna opened #6364 "Username overlaps the frame of a reply quote for desktop"
Type: Bug

Summary: Username overlaps the reply quotation frame when resizing the app window

**Expected behavior**

Text is not overlapping the quotation frame

**Actual behavior**

Text is overlapping the quotation frame

**Reproduction**

1. Open Status desktop with any chat
2. Reply to any message
3. Resize the app window to reproduce one of the cases below:

<img width="309" alt="image" src="

[2018-10-17 14:05] #6347 closed, assigned to rasom

[2018-10-17 14:10] hetvart opened #6366 "Fix failed tests under https://github.com/status-im/status-react/pull/6357"
Scope:
~~- test_can_see_all_transactions_in_history~~ - skipped in scope of the task since it requires more time to fix.
- test_privacy_policy_is_accessible
- test_create_account

[2018-10-17 14:16] ghost commented on #5232
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-17 14:35] mandrigin opened #6367 "`make startdev-ios-simulator` overrides bundled status-go"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to test new status-go locally. For that, I use `scripts/bundle-status-go.sh`. Unfortunately, if I run `make startdev-ios-simulator`, it overwrites the `Statusgo.framework` built by the bundling script.
We should somehow preserve it.

[2018-10-17 14:55] SlizkovaGanna commented on #6315
@chadyj @hesterbruikman @errorists please let me know what you think on this one.

This was a fix delivered in https://github.com/status-im/status-react/issues/5745
The thing I’m worried is that in terms of usability we did not solve the issue for someone who forgot their password.
So the only solution for a user (not sure it’s an obvious one) is to re-install the app and recover the account one m

[2018-10-17 14:57] SlizkovaGanna opened #6368 "An old username is displayed for existing contacts, after recovering your account"
Type: Bug

Summary: When user recovers an account, and changes his name in Profile settings - his old name is still displayed in chats (1-1 and a public chat) and on profile page

**Expected behavior**

A new name should be displayed for a user each time it is updated

**Actual behavior**

After the account was recovered, an old name (the 'before-recovery' one) is still displays in chats and profi

[2018-10-17 17:55] jakubgs commented on #6336
Sorry, must have lost this one in all the github notifications.

![cpu](https://user-images.githubusercontent.com/2212681/47105940-5d84dc80-d213-11e8-8b6b-ba6598c05d3f.png)
![load](https://user-images.githubusercontent.com/2212681/47105942-607fcd00-d213-11e8-8662-707de4004f12.png)
![mem](https://user-images.githubusercontent.com/2212681/47105943-607fcd00-d213-11e8-9b22-3f9c61fbe9bb.png)
![net](htt

[2018-10-17 21:38] iamonuwa commented on #2884
@statustestbot no am not

[2018-10-18 00:57] arnetheduck commented on #5567
I'm curious - with testfairy gone, how was our dependency graph affected? was testfairy a single-library dependency or did the removal take any other libraries with it? @rasom ? did the app become any smaller as a result?

[2018-10-18 01:52] yenda commented on #5567
@arnetheduck still 1868 packages

[2018-10-18 02:22] rachelhamlin opened #6374 "Add Kickback to DApp list"
### Description

*Type*: Feature

*Summary*: Add Kickback to the DApp list.

#### Expected behavior
Kickback appears under `Social Networks`.

Expected order:
`Cent`
`Kickback`
`Peepeth`
`Purrbook`

URL: https://kickback.events/

[Logo](https://www.dropbox.com/s/p74hgw8r7298d50/kickback.svg?dl=0)

#### Actual behavior
No Kickback in DApp list

<blockquote><img src="/card.png" width="48" align="rig

[2018-10-18 05:20] chadyj commented on #5567
Removed Testfairy from the privacy policy.
https://www.iubenda.com/privacy-policy/45710059

Instabug removal PR is complete and being reviewed
https://github.com/status-im/status-react/pull/6359

A post-mortem is being done for this incident.
https://discuss.status.im/t/post-mortems-learning-from-our-mistakes/581

Closing this issue since TF is now removed.

[2018-10-18 05:20] #5567 closed, assigned to rasom

[2018-10-18 05:43] dshulyak commented on #5461
what is eth_signTypedData_**v3**? is it any different from EIP-712 spec?

[2018-10-18 05:47] rasom commented on #5567
@arnetheduck well, from what I see apk size is pretty much the same, around 43MB

[2018-10-18 06:04] sidsverma commented on #5461
No, eth_signTypedData_v3 is what EIP-712 spec requires you to do.
@jeluard I am building one. So, no, not yet.

[2018-10-18 06:09] dshulyak commented on #5461
there is no **v3** tag in the EIP though

[2018-10-18 06:52] nuo-admin commented on #5461
Check this out:
https://medium.com/metamask/eip712-is-coming-what-to-expect-and-how-to-use-it-bb92fd1a7a26

On Wed, Oct 17, 2018 at 11:10 PM Dmitry Shulyak <notifications@github.com>
wrote:

--

Thanks

Siddharth Verma
Co-Founder, Nuo
+91 81470 19806

[2018-10-18 07:17] errorists opened #6375 "[THE ISSUE] Add an unread messages indicator inside chats"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user, I want to see the number of unread messages in a chat so that I can continue my chats where I left them and track my progress in catching up with new messages.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Feature

[comment]: # (Describe the feature you would like, or briefly

[2018-10-18 07:17] errorists commented on #4690
Added the feature request, complete with designs here https://github.com/status-im/status-react/issues/6375

[2018-10-18 07:24] chadyj commented on #6375
Thanks @errorists

@dmitryn @yenda @janherich Would love your feedback on this. I recall we had some scroll position issues?

[2018-10-18 07:32] mandrigin opened #6376 "Build system: keep local cache of dependencies"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want stable builds on CI. Right now each build tries to download a lot of files from internet. If any of the services that we use to download from is down or something is wrong with any connection, build fails. That slows us down.

At the same time, we don't update our dependencies that often

[2018-10-18 07:39] mandrigin opened #6377 "Jenkins: builds restarted from "Blue Ocean" sometimes fail"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to reliably restart builds.

When builds are restarted from BlueOcean, we frequently have this error:
`No such property: cmn for class: WorkflowScript`,
see https://ci.status.im/blue/organizations/jenkins/status-react%2Fpull%20requests/detail/PR-6369/4/pipeline/

### Descripti

[2018-10-18 07:50] dmitryn commented on #6375
@chadyj yes, there are issues with maintaining scroll position on Android that i didn't overcome without using delay (not good for UX) https://github.com/status-im/status-react/pull/5665

[2018-10-18 07:55] adambabik commented on #6336
@jakubgs it's interesting that we use the same type of servers but the performance is so different... We can bump them to 2 vCPU and 4 GB mem and see if that helps.

When I sshed on one of HK machine, it was visible that the server is struggling with CPU (load was high and everything was super slow).

[2018-10-18 07:55] emizzle opened #6378 "Connect to network via HTTP command fails"
### User Story
As a developer, I want to interact with the Status app via HTTP commands so that I can issue commands from a JS library.

### Description
*Type*: Bug

*Summary*:
Running `POST` commands from Postman application.

#### Expected behavior
1. `POST` to `/network` > get `network-id` response
2. `POST` to `/network/connect` (passing in `network-id` from step 1 response) > get message "Net

[2018-10-18 08:02] oskarth commented on #5666
@rachelhamlin Has this been addressed in https://github.com/status-im/status-react/issues/5583 or not?

Right now there's a lack of clear mapping to WoS item and milestone:

### 2. Weak certificate checks (SOLVED)

#### Principles violation
security

#### Details
Browser only validates whether SSL certificates are valid or not. Phishing sites can have valid certificates. By comparison, Google Safe

[2018-10-18 08:19] oskarth commented on #5589
@adambabik @jakubgs What's the state of this?

[2018-10-18 08:19] churik opened #6379 "Cannot proceed to user profile from public chats"
### User Story

As a user, I want to view user profiles by clicking user pictures.

### Description

*Type*: Bug

*Summary*: the feature is lost in https://github.com/status-im/status-react/pull/6243, so for now user cannot proceed to user profile from public chat.

#### Expected behavior
user profile is opened

#### Actual behavior
<img width="341" alt="1_2" src="https://user-images.githubusercon

[2018-10-18 08:19] oskarth commented on #5590
@adambabik what's the state of this?

[2018-10-18 08:25] lukaszfryc commented on #6346
I agree that public chats are the best way to handle user feedback for us. It brings openess, engagement, etc. Sure, Status may not work but then, we already know about it as Chad mentioned.

Yes, I'd change links for “submit a bug” and “suggest a feature” to redirect to a public chat. For visibility, I'd use `#status` for now. Btw, I think this channel is already being used in this way.

[2018-10-18 08:30] goranjovic commented on #5975
The previous fix for this caused another bug - #6283 reopened this one

[2018-10-18 08:38] chadyj commented on #6294
@sonyx6 can you help us with a draft please?

[2018-10-18 08:42] lukaszfryc commented on #6346
@chadyj could you confirm it? We could include it in the https://github.com/status-im/status-react/pull/6359 to have complete solution.

[2018-10-18 08:44] chadyj commented on #6346
@lukaszfryc yep this looks solid https://github.com/status-im/status-react/issues/6346#issuecomment-430566392

[2018-10-18 08:44] annadanchenko opened #6381 "Problem with encryption key error after upgrade from 0.9.29"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: User gets "We detected problem with the encryption key" error and can't log in to existing account after upgrading from 0.9.29. There should be

[2018-10-18 08:54] adambabik commented on #5590
@dshulyak implemented rate limiting solution that is being finalized I believe. It allows Whisper nodes to monitor the volume of ingress and egress network traffic. PRs: https://github.com/status-im/whisper/pull/1 and https://github.com/status-im/status-go/pull/1222.

[2018-10-18 08:55] jeluard opened #6382 "Makes extensions dev-mode aware"
What is expected when installing an extension:
• install an extension, activated by default, command present
• swith off dev mode, command not present
• restart status, command not present
• enable dev mode, command present

Also make sure that an extension cannot be added twice.

[2018-10-18 08:59] chadyj commented on #5585
- Review claims
- Fact check and highlight incorrect statements
- Success is addressing incorrect statements

Ping @j-zerah please make this a priority.

[2018-10-18 09:08] oskarth commented on #5590
Is there a plan to push this to client and do stress testing?

cc @chadyj @annadanchenko

[2018-10-18 09:10] oskarth commented on #5590
For client protection need to integrate in UI probably, cc @PombeirP as well

[2018-10-18 09:15] j-zerah commented on #5585
how do you want me to document this? We have been asking all teams to review new material.
https://docs.google.com/document/d/1j8qX9r5EGmVahPfZnQNJg8HGEInxgSWG2pO81_6Jfg8/edit

We remove any claims from new website copy
https://docs.google.com/document/d/1Ftt5zsvNkbUstt5xeCe8uRYyNdD9gbtYo127yOk8GH8/edit?ts=5bc284bd

without doing an entire audit (which will come after devcon) im not sure how you w

[2018-10-18 09:18] chadyj commented on #5585
Perhaps if we can have one document with all website copy. Then doing a discuss post asking everyone to fact check and comment, and work on revisions. We need to bridge marketing + engineering. Thoughts?

[2018-10-18 09:34] j-zerah commented on #5585
that works. Pasted above is the WIP copy deck. Once it is final, we can fact check it. But please note, we have asked people to weigh in on these (i.e. Iuri from embark, Akshi from Studio, Jacek from Nimbus).

[2018-10-18 09:54] #6239 closed, assigned to goranjovic

[2018-10-18 10:08] Serhy opened #6384 "Cover #6283 issue by automated test"
### Description

Issue https://github.com/status-im/status-react/issues/6283 need to be covered by autotest.
Instead of creating a separate one we can extend already existing test_send_transaction_from_daap to wait for balance update on Wallet main screen.

[2018-10-18 10:17] chadyj commented on #5590
No plan has been discussed. @adambabik @PombeirP can you please elaborate what is needed for testing in an issue?

[2018-10-18 10:23] annadanchenko commented on #6381
@janherich 0.9.29 release apk can be found in https://drive.google.com/drive/folders/1PHnITeXCp3DZGhmhq0SMhjTgcOoUDBe8?usp=sharing

<blockquote><div><strong><a href="https://drive.google.com/drive/folders/1PHnITeXCp3DZGhmhq0SMhjTgcOoUDBe8?usp=sharing">0.9.29 from PlayStore - Google Drive</a></strong></div></blockquote>

[2018-10-18 10:29] mandrigin opened #6386 "Handle mailserver error signals from status-go"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

With https://github.com/status-im/status-go/pull/1244 merged, the `mailserver.request.completed` event data also have `errorMessage` field.

If it is empty, the signal means the same as before, that the request has been completed successfully. If it isn't empty, it notifies about an error, so we need to show i

[2018-10-18 10:41] adambabik commented on #5590
Let's wait with the UI work until we specify signals emitted from status-go. What we can collect is some UX scenarios. The obvious one we want to support is to allow unsubscribing from particular public/private channels depending on how much data they generate.

[2018-10-18 11:04] Serhy commented on #4193
Re-testing it now in scope of PR #6372

[2018-10-18 11:19] chadyj commented on #6294
This is the beta warning for mobile:

So as a starting point how about:

[2018-10-18 11:27] chadyj commented on #6379
Thanks for logging.

Until this is fixed it kinda works if you click in a certain position, like top right of avatar.  If you click around you can usually get it to work.

[2018-10-18 11:28] ghost commented on #5242
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-18 11:29] chadyj commented on #6273
Thanks @jakubgs. I'll close this issue then. We can still use the release feature and try to improve as we go.

[2018-10-18 11:29] #6273 closed, assigned to jakubgs

[2018-10-18 11:29] lukaszfryc opened #6387 "E2E tests fail on "System UI has stopped""
### Description

Sometimes E2E tests false fail on "System UI has stopped" popover. Would be great to dismiss it or restart the emulator if it appears.

<img src="https://user-images.githubusercontent.com/7532782/47151343-c040ab80-d2d9-11e8-98a2-d7d74687a0fd.png" width="200">

https://app.saucelabs.com/tests/d9bd64bdcdf547ff8ec367f8f15ae424/watch?auth=1eaafd7b2ac294227b21dba61045f29c#20

[2018-10-18 13:02] #5038 closed, assigned to dmitryn

[2018-10-18 13:53] rachelhamlin commented on #5666
@oskarth no, #5583 was just for browser security; we block known phishing sites using MetaMask phishing detect. We will also add Google Safe Browsing to the browser.

SSL pinning is separate and I will update the Hackmd, but it seems this is the wrong link?

[2018-10-18 14:28] denis-sharypin commented on #6225
Feedback from the wallet meeting where I presented those designs:
— create a custom image for a custom token that should be different from our current default picture for tokens
— provide functionality to edit token address and delete it from the list

[2018-10-18 14:33] chadyj commented on #6225
Looks great @denis-sharypin

[2018-10-18 14:34] hetvart commented on #6384
@Serhy
as far as I got the issue #6283 the problem is not in balance update in wallet but in navigation to a recently visited or unknown chat screen whereas we expect to return back to Status Test DApp screen.

The test you mentioned is aimed to check whether we can send a tx from Status Test DApp and verify this tx appears in network.

Based on this I prefer to follow atomic style checks and add

[2018-10-18 14:44] #6228 closed, assigned to alwx

[2018-10-18 14:47] chadyj commented on #6311
Update:

We have [3 PR's left](https://github.com/status-im/status-react/pulls?q=is%3Aopen+label%3Arelease+is%3Apr).

Everything is assigned and in progress.

If all goes well we can cut the release tomorrow and start testing.

[2018-10-18 14:52] chadyj commented on #6311
Yenda:

Pilu:

The mail server itself never times out. It receives the request, it sends messages 1 by 1, and at the end it sends the "response" message.
This means that even if status-go fires the timeout, the server can continue to send messages.

@yenda @pilu Is there action required for this? Next steps?

[2018-10-18 14:53] goranjovic commented on #6311
The remaining PR for sidechains is here #6388

[2018-10-18 14:56] mandrigin commented on #6311
Just a small note that it is so much easier to track everything here than in Slack.

@chadyj mailserver timing out doesn't mean that you won't receive all the messages anyway, because, as I understand, it is not a p2p timeout, it is our waiting time to receive all the messages.

[2018-10-18 14:56] gravityblast commented on #6311
@chadyj  we already fixed these things in the last days in `status-go`. Now the mail server sends back an error message, and envelopes can be packed in single messages. The client-side timeout is still needed though in case the mailserver doesn't send the response or in case of connectivity problems

[2018-10-18 14:57] mandrigin commented on #6311
I think we need to calculate timeout starting from the _last message received from the mailserver_ and not from the actual request time. Maybe we also might want to show how many messages are received.

[2018-10-18 14:58] ghost commented on #4338
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-18 15:08] ghost commented on #3625
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-18 15:08] ghost commented on #3997
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-18 15:08] ghost commented on #4011
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-18 15:18] ghost commented on #1563
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-18 15:32] #6381 closed, assigned to janherich

[2018-10-18 15:56] mandrigin opened #6392 "[Desktop] Dark color scheme"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to have choice between dark/bright themes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Secti

[2018-10-18 15:59] chadyj opened #6393 "auto mail server selection UI"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to control over how mail servers are chosen.

### Description

By default Status will auto-select a mail server. It status encounters problems it will switch servers.

Status will "pin" a mail server if a user selects a mail server, but there is no way to unpin it. Also, there is no UI indica

[2018-10-18 16:00] mandrigin commented on #6393
Also, it should behave like that on Desktop too.

[2018-10-18 16:01] mandrigin commented on #6392
@oskarth @andytudhope how to make a bounty out of this issue nowadays?

[2018-10-18 16:04] mandrigin commented on #6392
@errorists @denis-sharypin your input is also appreciated to iron out the details.

[2018-10-18 16:06] dmitryn opened #6394 "Add custom url support to Linux"
### Description

Add custom url support to Linux (MacOS support was added in https://github.com/status-im/status-react/issues/5038)

Links like "status-im://chat/public/status" should open "status" public chat in Status app (https://wiki.status.im/Universal_Links)

### Solution

Possible option might be using `xdg-open` that might work on most linux window managers (gnome, kde, xfce).

On Ubuntu,

[2018-10-18 16:18] SlizkovaGanna opened #6395 "Error messages do not disappear when switching the screens, on 'New chat' page"
Type: Bug

Summary: Error messages on 'new chat' page, after being triggered, do not disappear when moving from the screen

**Expected behavior**

Error messages, along with inserted data, should disappear from 'Contact code' and 'Topic' input fields when moving from the screen

**Actual behavior**

Inserted data is cleared out. But error messages are still shown for 'Contact code' and 'Topic' inp

[2018-10-18 16:21] churik opened #6396 "Got "Connecting to peers" or "Offline" and couldn't send new messages after going back from sleep mode"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: can reproduce it constantly on Mac OSx VM 10.13.6, but cannot find exact action on the local computer.
When VM came back from sleep mode, app doesn't detect online mode and all messages, sent from this state will be never received.

#### Expected behavior
can send\receive messages

#### Actual behavior
"Connecting

[2018-10-18 16:27] oskarth commented on #6392
Awesome! I defer to @andytudhope or @pablanopete for latest instructions/docs, not sure where they went.

[2018-10-18 16:28] oskarth commented on #5666
I am confused, do we have two issues on wall of shame but none of them actually corresponds to the wall of shame item?

[2018-10-18 16:29] oskarth commented on #5666
Sorry you are right, wrong link. https://notes.status.im/s/wall-of-shame-prague

<blockquote><div><strong><a href="https://notes.status.im/s/wall-of-shame-prague">Wall of shame, Prague edition - CodiMD</a></strong></div><div>  # Wall of shame, Prague edition  More like a book at this point. Alternative title: **Book of gaps</div></blockquote>

[2018-10-18 16:32] oskarth commented on #5585
FWIW I know it has gotten a lot better, it's just not clear to me what success criteria looks like - some process that is ongoing and is followed everytime there's a big marketing push, perhaps. Don't know.

[2018-10-18 16:40] Serhy commented on #6384
@hetvart thanks for raising it.
Agree to have a separate test dedicated to this scenario. There are also "key-points" in above scenario (2nd and 4th in https://github.com/status-im/status-react/issues/6384#issuecomment-431033147) which we need to cover which would be redundant to update test_send_transaction_from_daap.
Created https://ethstatus.testrail.net/index.php?/cases/view/5654

<blockquote>

[2018-10-18 16:53] rachelhamlin opened #6398 "Implement Google Safe Browsing"
### User Story

As a user, I want to be protected from visiting known scam sites in the Status browser.

### Description

*Type*: Feature

*Summary*: This is a build on #5801. At the time, we decided to implement only MetaMask phishing detect while [discussing](https://discuss.status.im/t/3rd-party-http-services/437) the addition of more HTTP services, like Google Safe Browsing.

After speaking wi

[2018-10-18 16:55] rachelhamlin commented on #5666
I just created a [new issue](https://github.com/status-im/status-react/issues/6398) for Google Safe Browsing and updated the `weak certificate check` item in Hackmd to include that + this issue.

SSL certificate pinning was not identified as a must-have in our WoS discussion, but rather good practice. Thus it's not directly tied to the `weak certificate check` WoS item, but it is related.

[2018-10-18 17:11] errorists commented on #6392
Hey, happy to help but why is it desktop only? 😔

[2018-10-18 17:17] oskarth commented on #5666
Gotcha, thanks!

[2018-10-18 17:51] rachelhamlin commented on #5666
Sure thing!

On Thu, Oct 18, 2018 at 1:18 PM Oskar Thorén <notifications@github.com>
wrote:

[2018-10-18 18:06] #4784 closed, assigned to nobody

[2018-10-18 18:18] chadyj commented on #6396
@goranjovic Did you have this issue on Linux too?

[2018-10-18 18:26] #5433 closed, assigned to nobody

[2018-10-18 20:02] mandrigin commented on #6392
@errorists I would prefer having a separate issue for mobile... For making it an easier bounty.

[2018-10-18 20:03] mandrigin opened #6399 "[Mobile] Dark color scheme"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to have choice between dark/bright themes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Secti

[2018-10-18 20:03] mandrigin commented on #6392
@errorists mobile: https://github.com/status-im/status-react/issues/6392

[2018-10-18 20:25] #6009 closed, assigned to yenda

[2018-10-19 05:40] lukaszfryc opened #6402 ""div() not a number: null" error after connecting to Ropsten and opening Wallet"
### Description

*Type*: Bug

*Summary*:

<img src="https://user-images.githubusercontent.com/7532782/47199433-ed409d00-d371-11e8-9a44-75187c037471.png" width="200">

### Reproduction

- Create account
- Go to Profile, Advanced, Networks
- Switch to Ropsten, **you are not logged out but app says you are connected**
- Open Wallet and finish onboarding

### Additional Information
* Status version: l

[2018-10-19 05:43] lukaszfryc commented on #6402
It maybe related to not being logged out after switching networks (see steps to reproduce). I'm not sure if this is expected now.

[2018-10-19 05:52] lukaszfryc commented on #6402
@mandrigin or @rasom, could you take it?

[2018-10-19 05:57] lukaszfryc commented on #6402
All works fine on previous nightly `248e60`. So, there are only couple of new commits in which the bug was introduced:

<img src="https://user-images.githubusercontent.com/7532782/47200032-a43e1800-d374-11e8-9db2-1ee642a9c5da.png" width="600">

[2018-10-19 06:17] hetvart commented on #6384
@Serhy
thank you!

[2018-10-19 06:19] #6346 closed, assigned to cammellos

[2018-10-19 06:20] asemiankevich commented on #6402
@alwx please take a look. Also https://github.com/status-im/status-react/issues/6378 could be related too.

UPD: here is the API commit that broke it https://github.com/status-im/status-react/pull/6341

[2018-10-19 06:29] asemiankevich commented on #6378
which build is used here? i tried latest develop @jeluard @emizzle

![image](https://user-images.githubusercontent.com/28752642/47201118-70b5ba80-d381-11e8-87b5-eba56a7c5f3e.png)

![image](https://user-images.githubusercontent.com/28752642/47201151-8925d500-d381-11e8-966c-9fd9bd46f6c1.png)

[2018-10-19 06:53] chadyj commented on #6163
Closing since Instabug was removed.

[2018-10-19 06:53] #6163 closed, assigned to nobody

[2018-10-19 06:54] chadyj commented on #4619
Removed instabug

[2018-10-19 06:54] #4619 closed, assigned to nobody

[2018-10-19 06:55] chadyj commented on #5152
Testfairy is removed

[2018-10-19 06:55] #5152 closed, assigned to cammellos

[2018-10-19 07:18] annadanchenko commented on #6311
looks like more extensions PR will need to be added according to @jeluard :

We are still missing some bits for extensions otherwise they are essentially unusable..
Also need to push one PR to add kickback to the DApp list

[2018-10-19 07:24] chadyj commented on #6311
@jeluard @rachelhamlin Help us out and tag any essentials with the `release` tag as well as ping us in this thread.

[2018-10-19 07:26] chadyj commented on #6311
Have another release issue https://github.com/status-im/status-react/issues/6402
Can someone please grab that?

[2018-10-19 07:26] jeluard commented on #6311
@chadyj Already tagged, will tag more. I'll let you know once everything is out

[2018-10-19 07:48] jeluard commented on #6311
@chadyj @alwx is on #6402

[2018-10-19 08:06] errorists commented on #6393
Some small tweaks, thanks @chadyj for inspiration :) Also I'd love if we could trim down the text there in the toggle, I believe the emphasis on 'best' is important there to understand on what basis is the mailserver selected.

<img width="767" alt="screenshot 2018-10-19 at 10 02 35" src="https://user-images.githubusercontent.com/4932774/47205438-369ae780-d386-11e8-97fe-4e834cafe4b6.png">

Designs

[2018-10-19 08:50] churik opened #6407 "Messages sent when you logged in to other account will be never received"
### Description

*Type*: Bug
*Summary*: when you have several accounts on your desktop (i.e. `User A` and `User B`) when you log in to `User B` account, some messages for `User A` were sent, they will never be fetched when `User A` will log in again.

#### Expected behavior
all messages fetched (can see `1234` in #test)

#### Actual behavior
messages are not fetched (no new messages)

### Reproduc

[2018-10-19 09:07] #6374 closed, assigned to jeluard

[2018-10-19 09:34] chadyj commented on #6311
Heads up everyone!
There are several new PR's today. Appreciate any help in testing/reviewing/merging 🍻

[2018-10-19 09:37] churik opened #6410 "Message history is not fetched for desktop (reproducible on some accounts)"
### Description

*Type*: Bug

*Summary*: when you join to channel, history for last 24h is not fetched for desktop. For example, if you join to channel #a from mobile, send several messages here and then join to #a in desktop - you cannot see these messages.
Reproducible for my account only on desktop.

Cannot reproduce it on fresh or restored account, only on existing installation (using it from

[2018-10-19 10:08] dmitryn commented on #6351
Had this issue today. Chat doesn't work when using YOTA mobile operator in Russia that probably blocks ports other than 80 and 443.

[2018-10-19 11:15] EugeOrtiz commented on #6297
A couple of questions to clarify this issue @goranjovic @chadyj :
- Do we want the entire the wallet functionality on desktop (send/receive)? Why? What use cases we want to cover?
- Also, if the idea is to experiment, should this be available on a different "demo" or the actual product?

[2018-10-19 11:35] asemiankevich opened #6411 "Add gist support to extensions again"
### Description

*Type*: Bug

*Summary*: gist support is gone when implementing validation that forces user to use Pluto to create extensions.

#### Expected behavior

both gist and ipfs are allowed as extension providers

#### Actual behavior

pluto allows to install extensions from url, but Status doesn't because of this validation function:

[code]

[2018-10-19 11:43] asemiankevich opened #6412 "Add visual indication that connection to node is trying to be established"
### Description

*Type*: Bug

*Summary*:

![image](https://user-images.githubusercontent.com/28752642/47216321-382bd600-d3ad-11e8-9786-e96455be51e2.png)

#### Expected behavior
either add spinner and show connect button as disabled once tapped or show Error network request failed faster

#### Actual behavior

- button looks enabled so i feel like tap was not successful
- nothing is happening from

[2018-10-19 12:00] #6402 closed, assigned to alwx

[2018-10-19 12:08] rachelhamlin commented on #6374
New Kickback looks so awesome. 🙌🏼

[2018-10-19 12:28] yenda commented on #6410
@churik could you check that this problem isn't caused by hongkong mailserver ?

[2018-10-19 12:31] churik commented on #6410
@yenda
used  mail-02.do-ams3.eth.beta mailservers

[2018-10-19 12:52] churik opened #6414 ""Connecting to peers" error after setting custom time until restarting app"
### Description

*Type*: Bug

*Summary*: when you set custom time and go back to status app, "Connecting to peers" error appears and you cannot send/receive messages for a while.
Can be reproduced on Android, desktop, on IOS several times I saw the same issue, but sometimes it is just unusable until restarting (history for chats is missed, you cannot send message. Video is [here](https://monosnap.

[2018-10-19 12:55] yenda commented on #6410
This error in the log is definitely the reason why no history is being fetched, but there isn't enough information for me to figure out how your account got to that state.
Could you try to find a reproducible way to get an account that gets into that state ?

 ``` "ERROR [status-im.utils.async:19] - failed to run task Error: transport-inbox-topic.topic must be of type 'string', got 'null' (null)"`

[2018-10-19 13:00] churik commented on #6410
@yenda
can I have any clue on what it can be related?
Chat or message amount, contact requests, or reasons can be the same as here: https://github.com/status-im/status-react/issues/6114?

[2018-10-19 13:20] churik opened #6415 "Messages sent when "Connecting to peers" is displayed will be lost"
### Description

*Type*: Bug
*Summary*: "Connecting to peers" error doesn't lead to disappearing "Send" button, so you can type and send message but in fact it will not be sent. The same for desktop - you can send message, it will be shown in "Sent" state, but in fact will be never received.

#### Expected behavior
**Mobile**
button is hidden on mobile. If for some reason user sent a message befor

[2018-10-19 13:23] oskarth opened #6416 "Ensure TF recovery phrase security vulnerability post mortem trigger is correct"
1. Checkout commit before presumed trigger https://github.com/status-im/status-react/pull/5521/files
1. Change TestFfairy token to new one (check with QA, cc @annadanchenko)
1. Create and recover account
1. Check TF to ensure that we identified the trigger correctly

This is important as we want to make sure we identify the trigger correctly, as well as communicate it correctly and confidently. As

[2018-10-19 13:25] oskarth commented on #6416
^ @rasom @yenda @dmitryn do either of you want to take this one?

[2018-10-19 13:29] chadyj commented on #6311
Release has been cut so testing can commence. Here is what we've got https://github.com/status-im/status-react/compare/release/0.9.29...release/0.9.30

Builds for testing are building here https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.30/

We will cherry pick the other PR's when done.

[2018-10-19 13:32] annadanchenko commented on #6416
APP Token value can be found in https://app.testfairy.com/settings/  section "SDK App Token". To access TF use shared LastPass account from Shared folder

[2018-10-19 13:37] annadanchenko commented on #6311
@jakubgs @rasom all existing 5 builds in https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.30/ failed. Are you fixing it?

<blockquote><img src="/static/ff3fc112/favicon.ico" width="48" align="right"><div><strong><a href="https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.30/">release/0.9.30 [status-react » release] [Jenkins]</a></strong></div></blo

[2018-10-19 13:38] dmitryn commented on #6416
@oskarth i can look at this one

[2018-10-19 13:47] dmitryn commented on #6416
@annadanchenko could you send me TF token on Status app please?

[2018-10-19 13:56] yevh-berdnyk opened #6417 "1-1 chats are restored when recovering an account"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: For a recovered account all 1-1 chats with messages received during last 24 hours are restored

#### Expected behavior
No old 1-1 chats are rest

[2018-10-19 14:01] asemiankevich opened #6418 "Request message stays opened after it was answered with required amount"
### Description

*Type*: Bug

*Summary*: Request message remains  opened (send button is active and clickable) even i have sent required funds

#### Expected behavior
Once request is answered - send button is not active

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/47222849-741c6680-d3c0-11e8-95a7-62266724fdf3.png)

### Reproduction
- Open Status
- Go to 1x1 ch

[2018-10-19 14:07] janherich commented on #6418
@asemiankevich Just to clarify, the bug happens on latest develop/nightly, correct ?

[2018-10-19 14:07] lukaszfryc commented on #6311
FYI, battery consumption looks similar to what it was on latest release (0.9.29). At least on Android device we always used to measure it (Samsung Galaxy S8). ~0.42% (avg of 2 experiments) battery was consumed in a 15 min test. Previously it was ~0.41%.

<img src="https://user-images.githubusercontent.com/7532782/47223164-d2454b80-d3b8-11e8-93a7-c01dd211ac91.png" width="400">

All results are [her

[2018-10-19 14:10] asemiankevich commented on #6418
@janherich yes i just used https://status-im.ams3.digitaloceanspaces.com/StatusIm-181019-101134-7d0c65-nightly.apk that should be latest nightly

<blockquote></blockquote>

[2018-10-19 14:14] churik opened #6419 "Timestamps for messages doesn't match real time if user send message from device with custom time"
### Description

*Type*: Bug
*Summary*:  when anybody send a message from device with custom time (not another timezone, but custom time, i.e. when there is 10:00 UTC, and user set 09:45) - timestamps for such messages are shown with difference in minutes from nearest timezone, so in chat it looks like wrong message ordering (but it is not, wrong are message timestamps)

#### Expected behavior
tim

[2018-10-19 14:38] #6382 closed, assigned to alwx

[2018-10-19 15:06] jeluard commented on #6311
I cherry-picked the relevant PRs we merge after the cut.
We are expecting another PR for extensions.

[2018-10-19 15:08] hetvart opened #6423 "The long-term fix for scrolling to the top/bottom of a view"

[2018-10-19 15:14] pablanopete commented on #1563
this one is still a problem from a DApp UX perspective.

[2018-10-19 15:18] rachelhamlin commented on #6311
@jeluard great. what PR is left?

[2018-10-19 15:50] jeluard commented on #6311
@rachelhamlin A PR restricting the number of extensions installable to 1

[2018-10-19 16:05] lukaszfryc opened #6426 "Can't enter seed to recover password. Random characters generated when typing"
### Description

*Type*: Bug

*Summary*:

Ben reported ([Instabug](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/637)) that he can't type his seed in the recovery screen. He's getting random characters when trying to type. He's getting the issue on 0.9.29 and latest nightly (Oct 12). He said that the issue does not happen in other apps or previou

[2018-10-19 16:32] rachelhamlin commented on #6311
@jakubgs @rasom any update on jenkins issues?

[2018-10-19 16:38] annadanchenko commented on #6311
We can get to the android/ios builds here https://jenkins.status.im/job/status-react/job/release/job/release%252F0.9.30/8/ so not a blocker, but we still have blocking issue with https://jenkins.status.im/job/status-react/job/upload_release_ios/ that uploads iOS build to TestFlight because we need it for testing iOS upgrades cc @jakubgs @rasom @mandrigin

<blockquote><img src="/static/ff3fc112/fav

[2018-10-19 16:47] dmitryn commented on #6416
It seems not possible to make Jenkins build from commit that was while ago due to Jenkins pipeline changes, so i reverted TF version to 2.10.0 on current codebase
https://github.com/status-im/status-react/commit/ef222c3ad5432ece227a96d567ed72a454cd5418
and made custom build https://ci.status.im/job/status-react/job/combined/job/mobile-android/5594/ that showed that seed phrase is **NOT hidden** on

[2018-10-19 16:53] yevh-berdnyk opened #6427 "Chats are not sorted by time if messages received when user deleted app data"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When user removes all the app data, receives messages in 1-1 chats and after that recovers his account chats are not sorted by time

#### Expect

[2018-10-19 17:06] mandrigin commented on #6311
There is a commit in the previous release branch that fixes upload iOS job. I think I never backported it to develop :(

[2018-10-19 17:16] dmitryn commented on #6416
Seems like TF version upgrade was not the real reason of bug.

Found another PR https://github.com/status-im/status-react/pull/6171 that removed `hideView` call https://github.com/status-im/status-react/pull/6171/files#diff-7376277fc14fd1b6ec5162eb03d9c233L21

/cc @corpetty

<blockquote><img src="https://avatars2.githubusercontent.com/u/2364994?s=400&v=4" width="48" align="right"><div><img src="ht

[2018-10-19 17:18] dmitryn commented on #6416
Actually it was 11 days ago. I'm going to revert that commit and check it on TF 2.14.1 version.

[2018-10-19 17:44] rasom commented on #6311
https://gist.github.com/rasom/f0fdf66339184b3ff3fc113edc86ec73 well we also have some slack related error there, probably fixed, checking now

<blockquote><img src="https://avatars2.githubusercontent.com/u/2364994?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> Gist</div><div><strong><a href="https://gist.github.com/rasom/f0fdf66339184b3ff

[2018-10-19 17:49] jrainville commented on #6304
Hi, I can't wait to use Status on Windows, as I am currently using a VM with Ubuntu just to use Status.
Is there a way I can help test it or use it right now?

[2018-10-19 17:56] maxhora commented on #6304
@jrainville Pedro is on vacation, I haven't yet looked, but suppose to look into this to check if I can continue from the point he stopped ( I believe he was able to automate building of Windows version ) and evaluate next steps.

[2018-10-19 18:03] chadyj commented on #6311
Ha that is sorta my fault. When I quit Slack it must have broke the Fastlane<>Slack integration which is throwing errors.

We need to remove the Slack actions from the Fastfile like:

[code]

[2018-10-19 18:08] chadyj commented on #6304
@jrainville Try here https://github.com/status-im/status-react/issues/5807#issuecomment-430594740

[2018-10-19 18:19] jrainville commented on #6304
Nice. Just installed. It works well for now. Do you want me to report issues here or somewhere else?

[2018-10-19 18:29] #5839 closed, assigned to dmitryn

[2018-10-19 18:30] chadyj commented on #6304
Feedback welcome, thanks!

This thread was for stuff that works on Linux/Mac, but doesn't work in the Windows platform build.  For example a weird icon.

[2018-10-19 18:33] chadyj commented on #6379
cc @flexsurfer

[2018-10-19 19:13] dmitryn commented on #6416
Revision 1cb5828ce6e3079971a1edbfa25b2603758f2a12
TF 2.14.1
Android
https://app.testfairy.com/projects/6688250-statusdebug/builds/8634169/sessions/4404442924

Revision 6e0d18f76de3b79cae57360119a584f8fbfd6c7c
TF 2.10.0
Android
https://app.testfairy.com/projects/6688250-statusdebug/builds/8634147/sessions/4404441326

I'm having weird results.
Checked both revisions (before and after upgrade to 2.14

[2018-10-19 19:19] dmitryn commented on #6416
If anyone could help to reproduce the bug, here is `.env` with updated TF token to use:

[code]

TF credentials to access dashboard are in shared account.

[2018-10-19 19:28] chadyj commented on #5839
Cheers @dmitryn you have been a desktop star!

[2018-10-19 19:34] jeluard commented on #6311
Last PR we would like to be part of the release: https://github.com/status-im/status-react/pull/6428

[2018-10-20 07:58] chadyj commented on #6351
@PombeirP Let's prioritize this

[2018-10-20 08:21] chadyj opened #6429 "filter chats to quickly find a channel or contact"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to filter existing chats so that I can easily find a channel or contact chat.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

After using Status every day it can be common to have 50+ chats containing both public channels and 1-1 chats. With so many chats it ca

[2018-10-20 08:29] chadyj commented on #4433
@dmitryn This is unblocked now, right?

[2018-10-20 16:11] rasom opened #6430 "[ios] [nightly builds] password is printed in the logs when "Save password" option is used"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: password is printed in the logs when "Save password" option is used

#### Expected behavior
no password in the logs

#### Actual behavior
passwo

[2018-10-20 19:17] yevh-berdnyk opened #6432 "Fiat value is 0 in transaction request messages for both request sender and recipient"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Fiat value if shown as 0 when sending a transaction request from 1-1 chat

#### Expected behavior
Transaction request messages contain correct f

[2018-10-20 19:42] yevh-berdnyk opened #6433 "Wallet balance is not updated when refreshing wallet screen"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: Can't get current balance in wallet until opening another screen and going back to wallet. Refreshing is not updating a balance

#### Expected be

[2018-10-20 20:12] yevh-berdnyk opened #6434 "Duplicated letters in passphrase input with selected Shift key"
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  Letters are duplicated if Shift button is double clicked on passphrase input field when recovering an account

#### Expected behavior
Letters are entered one by one

#### Actual behavior
Letters are double

[2018-10-21 07:24] rasom commented on #6434
One of the solutions here might be the usage of [autoCapitalize](https://facebook.github.io/react-native/docs/textinput#autocapitalize)='characters'. As long as all characters will be capitalized no need to care about the shift button.
TextInput's controlled value is quite buggy in RN, so it might be not worth fixing it other way.

[2018-10-21 07:30] annadanchenko commented on #6432
@yevh-berdnyk @janherich it's expected that fiat value for *test* ETH and tokens on Ropsten is 0, as test ether has no value. As I can see on mainnet fiat value is shown as expected.
![screenshot_20181021-102852](https://user-images.githubusercontent.com/6584810/47264282-58c66e00-d51c-11e8-9f92-ce4abd1af898.png)

[2018-10-21 08:02] annadanchenko commented on #6430
note that issue happens only in nightly and PR builds. Releases in testFlight are not affected.

[2018-10-21 10:08] annadanchenko commented on #6432
@goranjovic for some reason, expected 0 value for Ropsten and Rinkeby ETH and tokens is already in develop build, even before https://github.com/status-im/status-react/pull/6388 is merged.

[2018-10-21 10:28] ghost commented on #5182
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-21 10:48] ghost commented on #5259
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-21 10:48] ghost commented on #5183
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-21 10:48] #5183 closed, assigned to nobody

[2018-10-21 13:48] mjdietzx opened #6435 "Users are unable to download files to device in Status"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer working on a DApp compatible with Status

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*

[2018-10-21 15:43] annadanchenko commented on #6311
Current state (Sunday evening):
1. 2 release PRs still need fixes: https://github.com/status-im/status-react/pull/6388 and https://github.com/status-im/status-react/pull/6428
2. We can't upload iOS version to TestFlight - https://jenkins.status.im/job/status-react/job/upload_release_ios/ needs fixing or some other way to upload. The faster we submit it to review the better. Next release build with

[2018-10-21 16:05] mandrigin commented on #6311
I'll take a look at (2) tomorrow, Apple still doesn't look at the test builds on weekends, so the earliest review we can get is tomorrow evening (European time) anyway.

[2018-10-21 22:27] janherich commented on #6418
@goranjovic I investigated the bug and the cause is that when sending ropsten eth, asset in params is filled with "ETH" symbol (even if it's actually `ETHro` from command suggestions list), while request doesn't go through wallet, so it stays `ETHro`.
As a result of this, the check condition for clearing the request (if the response `/send` command has the same asset and value) is never true due t

[2018-10-22 05:30] asemiankevich commented on #6418
thanks for investigation @janherich ! @goranjovic please take a look

[2018-10-22 06:40] jakubgs commented on #6336
It might be related to the concept of CPU credits that exists in Alibaba Cloud:
https://www.alibabacloud.com/help/doc-detail/59977.htm

So I've decided to try a different family of instances - `sn1ne` - meaning "compute optimized type family with enhanced network performance".

https://www.alibabacloud.com/help/doc-detail/25378.htm#sn1ne

Instance type | vCPU | Memory (GiB) | Local disks (GiB)* |

[2018-10-22 06:54] rachelhamlin commented on #6311
Alex is looking at #6428 this morning.

[2018-10-22 06:55] jakubgs commented on #6336
Done and deployed: https://github.com/status-im/infra-eth-cluster/commit/b1ba291a86ecab319cb2b27c1395ddd32342634f

We'll see how the hosts will behave in thd coming days. But I think this issue shows that we either need more performance metrics from whisper/mail nodes or we need more graphs for already existing metrics, to measure performance of not just hosts but the nodes themselves.

I've added

[2018-10-22 07:05] jakubgs commented on #6336
Done and deployed: https://github.com/status-im/infra-eth-cluster/commit/b1ba291a86ecab319cb2b27c1395ddd32342634f

We'll see how the hosts will behave in thd coming days. But I think this issue shows that we either need more performance metrics from whisper/mail nodes or we need more graphs for already existing metrics, to measure performance of not just hosts but the nodes themselves.

I've added

[2018-10-22 07:36] annadanchenko opened #6438 "Duplicate request messages in 1:1 chat after upgrade from 0.9.29"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
Before upgrade there is one request for ETH and one for SNT. After upgrade both requests are shown twice. Before upgrade user switched from main

[2018-10-22 07:44] mandrigin commented on #6311
Will test uploading to TestFlight now.

[2018-10-22 07:46] 0xc1c4da commented on #6410
I haven't received any private messages or any public chat history on mobile or desktop unless i'm online ( I know because i still receive push notifications). If it's public chat history I seem to get only 24 hours at most but I have rather dramatic inconsistencies in public chat history when comparing desktop and mobile

[2018-10-22 07:50] mandrigin commented on #6311
Will test uploading to TestFlight now.

[2018-10-22 08:09] mandrigin commented on #6311
testing uploading to TestFlight

[2018-10-22 08:15] oskarth commented on #6410
This is just a feeling, but it seems to me like we've had a few incidents last few weeks that have lead to less reliability, both "perceived" and real. This leads to a loss of trust for users, including core contributors.

Perhaps we can get to the root of the problem, and see what we can do to stop it in the future? For example, changes to mailserver logic could probably be inspected under more c

[2018-10-22 08:26] mandrigin commented on #6311
`upload_release_ios` is fixed on 0.9.30, will fix the `develop` now.

[2018-10-22 08:27] lukaszfryc commented on #6438
I can replicate this issue using the same steps (with switching to Ropsten). But, I could not replicate it without switching to Ropsten first (tried 1 test so far).

cc @annadanchenko

[2018-10-22 08:39] lukaszfryc commented on #6438
I can replicate it using the same steps (with switching to Ropsten). But, I cannot replicate it when without the network switch.

[2018-10-22 08:46] lukaszfryc commented on #6336
The HK mailserver works fine now. I'm closing this issue.

[2018-10-22 08:46] #6336 closed, assigned to nobody

[2018-10-22 09:14] lukaszfryc commented on #6415
I also replicated it today on release/0.9.30.

cc @chadyj @mandrigin

[2018-10-22 09:17] hetvart opened #6439 "Investigate false failures for nightly"
im.status.ethereum-e2e-83a92a.apk

[2018-10-22 09:32] lukaszfryc commented on #6336
Closing this issue as the HK mailserver works fine now.

[2018-10-22 09:42] lukaszfryc commented on #6336
Closing this issue as the HK mailserver works fine now.

[2018-10-22 09:44] errorists opened #6440 "Increase the width of mobile message bubbles."
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want the chat bubbles large enough to comfortably fit longer writing and use the available space most effectively.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, w

[2018-10-22 09:50] goranjovic opened #6441 "HTTP Fetch does not work on Linux"
### User Story

### Description

*Type*: Bug

*Summary*: HTTP calls don't work on linux. Found the issue in PR #6312 when getting transaction history from etherscan didn't work.

#### Expected behavior
HTTP fetch calls return the correct content

#### Actual behavior
HTTP fetch calls silently return empty string for any URL.

[2018-10-22 09:50] goranjovic commented on #6441
closing, will create an issue in react-native-desktop

[2018-10-22 09:50] #6441 closed, assigned to nobody

[2018-10-22 09:50] goranjovic commented on #6441
closing, will create an issue in react-native-desktop

[2018-10-22 10:00] dmitryn commented on #4433
@chadyj right, going to update it to the latest develop and send it to review.

[2018-10-22 11:12] oskarth opened #6445 "[DESKTOP] Push notifications for DM only"
# Problem

Enabling push notifications on desktop gives you notifications for all public channels. This is way too noisy and there's no option to just get notifications for DMs, like mobile, as far as I can tell.

# Implementation

Use same code as mobile, or similar with relevant abstraction.

# Acceptance Criteria

Allow for notifications for DMs only and not public chats.

# Notes

N/A

# Futur

[2018-10-22 11:17] oskarth opened #6446 "Localethereum seemingly not supported by Status"
# Problem

As a user I want to be able to onboard to crypto with the most secure and best UX possible. Specifically I'd like to be able to use localethereum with Status to go from fiat to ETH as soon as possible.

This is possible in imToken etc and many others https://blog.localethereum.com/localethereum-integrates-with-wallets/

# Implementation

- Ensure officially supported
- Work out any nece

[2018-10-22 11:22] oskarth opened #6447 "Status marked as battery draining app on Android Samsung S6"
#  Problem

Status is marked as a battery draining app by App power monitor on Android. This is obviously a big problem as people will remove apps that drain too much problems. It appears it is due to using battery in the background, unlike other apps.

This problem happens within a few minutes of launching the app and has been reported by many users.

# Implementation

Do whatever is necessary to

[2018-10-22 11:24] oskarth commented on #6447
If someone is willing to bet $50 or more they fixed the problem dac-zero (https://discuss.status.im/t/sitg-experiment-2-dac0-liquid-pledging/426) is willing to pay $500, provided you opted in to the SNT pool (https://discuss.status.im/t/be-part-of-the-dao-nao/507).

<blockquote><img src="https://discuss.status.im/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" width="48"

[2018-10-22 11:28] oskarth opened #6449 "Desktop messages can't be resent"
# Problem

As a desktop user I want to be able to resend messages by clicking on them. Right now it is just red text.

# Implementation

Similar to mobile, click and get asked to resend.

# Acceptance Criteria

Can obviously resend messages.

# Notes

N/A

# Future Steps

See if we can share more code with mobile to make the same thing possible on both platforms. When that isn't possible, consider

[2018-10-22 12:09] lukaszfryc commented on #6336
Closing this issue as the HK mailserver works fine now.

[2018-10-22 12:11] jrainville commented on #6304
Found my first issue with the Windows build.
When trying to re-open Status after the weekend (computer was closed), I got this error message:
![image](https://user-images.githubusercontent.com/11926403/47291505-e748f700-d5d1-11e8-8d59-60346c5f9971.png)

Than, clicking Apply, it gets stuck on a white screen.
Closing and re-opening Status doesn't fix it.

Never had that on Ubuntu.

[2018-10-22 12:14] lukaszfryc commented on #6447
@mandrigin @yenda do we have a clear understanding what is causing it? If not, how we can research it?

[2018-10-22 12:22] goranjovic commented on #6250
Doc all the steps to add a network - https://discuss.status.im/t/dev-tutorial-how-to-add-new-network/598

<blockquote><img src="https://discuss.status.im/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" width="48" align="right"><div><img src="/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" height="14"> Status.im</div><div><strong><a href="https:/

[2018-10-22 12:29] asemiankevich commented on #6449
@oskarth as far as i know `resend` feature is disabled on mobile . @janherich may clarify something more

[2018-10-22 12:40] lukaszfryc opened #6450 ""Add to contact" bar does not hide when "X" button is clicked to close it"
### Description

*Type*: Bug

*Summary*:

Clicking "X" should hide the "Add to contacts" bar so it is never shown again. But, at this moment "X" does nothing.

<img src="https://user-images.githubusercontent.com/7532782/47292629-e9c64380-d607-11e8-8f05-e58465c749d4.png" width="200">

#### Expected behavior
When "X" is clicked, the bar is hidden forever. If chat is opened again the bar is not shown

[2018-10-22 12:52] janherich commented on #6449
@asemiankevich I just checked, and on mobile, it's not even possible to send messages while user is offline, so hard to tell. I will check in the code, but I'm not aware of and was not really involved in any discussion about disabling message re-sending, better to ask @dmitryn since he originally developed the feature.

[2018-10-22 12:54] lukaszfryc opened #6451 "Reply message snippet is not scrollable in chat"
### Description

*Type*: Bug

*Summary*:

According to the [design guidelines](https://app.zeplin.io/project/5a55d587ba304eed4d2c942f/screen/5b5abafd892d5c933636787d), the reply area/box in a chat should be scrollable to see the full message. Currently it's not.

#### Expected behavior

<img src="https://user-images.githubusercontent.com/7532782/47293301-06637b00-d60a-11e8-8670-f2353f710e48.png" w

[2018-10-22 12:55] asemiankevich commented on #6449
@janherich oh jeez i am sorry i thought you designed everything in Status :D indeed @dmitryn could clarify a bit

[2018-10-22 13:02] #6356 closed, assigned to nobody

[2018-10-22 13:05] lukaszfryc opened #6452 "Send button hidden behind keyboard when replying to long message"
### Description

*Type*: Bug

*Summary*:

When replying to a long message, user can't send more than ~8 lines because the send button is hidden behind the keyboard. I could only replicate it on Android. The amount of lines that can be send is probably related to the device screen size.

<img src="https://user-images.githubusercontent.com/7532782/47293696-22b3e780-d60b-11e8-8f67-121f05ff2b14.png" w

[2018-10-22 13:08] chadyj commented on #6311
Thanks @mandrigin.  I got the TestFlight build and was able to install.

Still have 2 PR's in progress from @goranjovic @alwx.

Heads up that there is also a suggestion to add PR's https://github.com/status-im/status-react/pull/6425 and https://github.com/status-im/status-react/pull/6448 to the release. I added the release tags @rasom can you please take a look and see if we should include it?

Go

[2018-10-22 13:23] churik opened #6453 "Push notifications are closed on click instead of redirection to app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have options "close" and "reply" on PN (like in other messages) and to be redirected to appropriate chat when I click on PNs.

### Description

*Type*:  Bug

*Summary*: PNs on both MAC OSx and Linux don't have options "Close" and "Reply" for quick responses. When I click on PN on Mac OSx -

[2018-10-22 13:23] oskarth commented on #6449
Huh, why did we disable a useful feature?

[2018-10-22 13:27] lukaszfryc opened #6454 "Public chat that was re-opened should not be empty"
### Description

*Type*: Bug

*Summary*:

If a public chat is removed from the chat list and then reopened again, its content is empty. There is "Fetching messages" but the old messages (before removing the chat) do not appear. I think it's counter-intuitive and the app should display old messages when public chat is re-opened.
I'd say old messages should be displayed even though the user has clea

[2018-10-22 13:29] jeluard opened #6455 "Allow multiple extensions installation"
### User Story

As a user, I want to be able to install multiple extensions at the same time.

### Description

*Type*: Feature

Only 1 extension can be built at a time. Relax this constraint.

This includes:

* using the extension URL as unique ID
* making sure that new extensions using already installed hook ids will be rejected (*warning* one extension can define multiple hooks)
* allowing user

[2018-10-22 13:29] #6277 closed, assigned to flexsurfer

[2018-10-22 13:30] #5487 closed, assigned to nobody

[2018-10-22 13:30] #5486 closed, assigned to nobody

[2018-10-22 13:32] jeluard opened #6456 "Fix extensions universal link regression on iOS"
### User Story

As a user, I want to load an extension by scanning its QR code with stock camera app on iOS

### Description

*Type*: Feature

[2018-10-22 13:36] oskarth commented on #6447
It'd also be great to understand why this wasn't an acceptance criteria for the swarm/team that dealt with this over a period of a few months. I know we made huge improvements, but this seems like a pretty clear cut case of either it works (according to Android battery monitor, which end users trusts) or it doesn't?

[2018-10-22 13:36] lukaszfryc commented on #6415
More context: when Status detects that you are offline, the send button will be hidden. But, it may happen that you may sent a message before the app knows the device is offline. In that case, the message is lost but marked as "sent". Btw, there is no "resend" functionality (https://github.com/status-im/status-react/issues/6449).

@chadyj do you consider it a blocker for release 0.9.30?

[2018-10-22 13:36] oskarth commented on #6447
^ @chadyj fyi

[2018-10-22 13:41] lukaszfryc commented on #6449
Actually, it is possible. The app does not detect you are offline immediately. So, if you sent a message before seeing "Offline" status, that message will be marked as "sent" but lost (https://github.com/status-im/status-react/issues/6415)

[2018-10-22 13:42] jeluard opened #6457 "Implement extension data persistence"
### User Story

As a user, I want my extension data to survive status restarts

*Type*: Feature

Per extension data stored in app-db should be persisted in realm. See `store/get`, `store/put` and `store/append`.
In the future there might be non-persistent extension so that should be considered in the design.

[2018-10-22 13:45] dmitryn commented on #6449
I didn't know it was disabled. @asemiankevich can you point to issue / PR where it has happened?

As for desktop, resending might be done in similar way using mobile client code. Desktop just needs its own UI part.

[2018-10-22 13:48] asemiankevich commented on #6449
@dmitryn @oskarth seems i am wrong. I thought it was disabled. sorry for confusion

[2018-10-22 13:49] goranjovic commented on #6432
@annadanchenko @yevh-berdnyk That's ok, it's because of the previous PR #6260 which is already in develop. The one corner case that's not done by #6260 is when sender and receiver are on different networks, but the fix for that is addressed in #6388

Closing this issues as it's fully covered by those two PRs

[2018-10-22 13:49] #6432 closed, assigned to janherich

[2018-10-22 13:54] churik opened #6458 "Can get only 3 push notifications on Mac OS x unless make cleanup of notification center"
### Description

*Type*:  Bug

*Summary*: in Mac OSx amount of PNs are restricted to 3, so when you reached the limit you should manually clean notification center to get another 3 notifications.

#### Expected behavior
Can see all notifications, if their amount is restricted - just replaced last notification with the content of new

#### Actual behavior
you can get only 3 notifications

### Repro

[2018-10-22 13:55] dmitryn commented on #6416
@rasom could you please help to reproduce the bug https://github.com/status-im/status-react/issues/5567?
I've checked out both revisions https://github.com/status-im/status-react/issues/6416#issuecomment-431468664 (before and after the 2.14.1 upgrade)
and they both hide the passphrase.

[2018-10-22 14:07] churik commented on #6449
@asemiankevich @oskarth  but there is no more "Not sent" status (AFAIK) and I couldn't see this feature for a while.
That's why https://github.com/status-im/status-react/issues/6415 and https://github.com/status-im/status-react/issues/6080 were reported (that's where resend options should be used IMO).

From offline mode it is not possible to send a message (button is disabled). For desktop - it i

[2018-10-22 14:10] mandrigin opened #6459 "Desktop builds are failing for macOS"
[comment]: # (Please replace ... with your information. Remove < and >)

macOS Desktop builds are blocking CI for PRs, hence the labels

### User Story

Linking fails. see https://ci.status.im/job/status-react/job/combined/job/desktop-macos/2817/console

Saving you a click:
[code]

*Type*: Bug

<blockquote><img src="/static/ff3fc112/favicon.ico" width="48" align="right"><div><strong><a href="https

[2018-10-22 14:11] mandrigin commented on #6459
@MaxRis @vkjr @churik who in the desktop team can look at that? it seems like it stopping literally all the PRs from being built :(

[2018-10-22 14:11] mandrigin commented on #6459
(jfyi @jakubgs)

[2018-10-22 14:12] lukaszfryc commented on #6449
Looks like this GHI should be marked as bug. Resending messages should already work for both mobile and desktop. I suggest to add "bug" label to this issue and work on other issues "Not sent" status, etc. in a separate GHI.

[2018-10-22 14:21] mandrigin commented on #6447
@oskarth thanks for creating this issue, finally.

I'll document my decision chain here.

unlike on iOS, on Android, devp2p node keeps running in the background, that helps Whisper to receive messages even when the app is minimized w/o mailservers.

That is what probably causes SGS app power monitor to freak out. So, there is a compromise between receiving more messages w/o mailservers and app pow

[2018-10-22 14:33] jeluard commented on #6311
#6428 has been tested, merged and cherry-picked

[2018-10-22 14:34] Serhy opened #6460 "Received messages duplicated in public chat after upgrade 0.9.29 -> 0.9.30 if contact was in Ropsten prior upgrade"
***Type***: Bug
***Summary***: Received messages in public channel duplicated after contact upgrade 0.9.29 Release app version to 0.9.30 when:
- user joins "active" public channel in Mainnet (e.g. `#status`)
- user switched to Ropsten prior upgrade
- user scrolls to the top of public channel after upgrade (the very latest messages in chat are not duplicated - but the deeper in history user scrolls

[2018-10-22 14:38] churik opened #6461 "Toggle is flickering when you switch between Profile and Home (when notifications are switched on)"
### Description

*Type*: Bug
*Summary*:
toggle element is flickering when switching to Profile and back to Home, but the state doesn't change (on is preserved)

#### Expected behavior
no flickering

#### Actual behavior
toggle is flickering

### Reproduction

- Open Status
- Log in
- Go to profile
- Switch on notifications
- Switch between Profile and Home

### Additional Information
* Status vers

[2018-10-22 14:56] Serhy commented on #6311
https://github.com/status-im/status-react/issues/6460 - one more regression we need to include in 0.9.30 release

[2018-10-22 15:08] churik opened #6464 "Empty push notifications are shown for /send and /request commands in chat"
### Description

*Type*:  Bug

*Summary*: when`/send` or `/request` messages are coming  - no test is shown in push notifications for them.

#### Expected behavior
Can see `/request 1 ETH`

#### Actual behavior
PN is empty
<img width="173" alt="send_requesr" src="https://user-images.githubusercontent.com/4557972/46792779-ccae8c80-cd4c-11e8-9eeb-ef2624f55f24.png">

### Reproduction
*Prerequisites:*

[2018-10-22 15:17] churik commented on #6318
The same for push notifications - no logo when they are coming, no `Status` picture app is opened in dock.
On the dock (Linux Ubuntu 16.04):
<img width="137" alt="status_l" src="https://user-images.githubusercontent.com/4557972/47301069-54827980-d61e-11e8-84e8-d0f63a8b3f63.png">
Push notifications:
![image](https://user-images.githubusercontent.com/4557972/46796350-20bd6f00-cd55-11e8-9162-cf7d28cc

[2018-10-22 15:19] #6459 closed, assigned to nobody

[2018-10-22 15:49] ghost commented on #5281
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:49] ghost commented on #5283
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:49] ghost commented on #5275
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:49] ghost commented on #5273
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:59] ghost commented on #5283
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:59] ghost commented on #5281
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:59] ghost commented on #5275
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 15:59] ghost commented on #5273
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:09] ghost commented on #5283
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:09] ghost commented on #5281
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:09] ghost commented on #5275
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:09] ghost commented on #5273
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:19] ghost commented on #5283
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:19] ghost commented on #5281
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:19] ghost commented on #5275
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:19] ghost commented on #5273
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-22 16:22] lukaszfryc commented on #6449
@dmitryn could you take https://github.com/status-im/status-react/issues/6415 and https://github.com/status-im/status-react/issues/6080 to fix resending messages on mobile?

[2018-10-22 16:34] rachelhamlin commented on #6311
Alex looking at #6428 this morning.

On Sun, Oct 21, 2018 at 6:05 PM Igor Mandrigin <notifications@github.com>
wrote:

[2018-10-22 16:59] oskarth commented on #6447
I think it makes sense to do what default Android and iOS apps do and power off by default. Can be advanced mode to turn on battery intensive background fetching.

What do normal mail apps do?

[2018-10-22 17:11] #6410 closed, assigned to nobody

[2018-10-22 17:17] mandrigin commented on #6447
@oskarth normal apps don't keep multitudes of p2p connections. It's hell of a lot easier not to keep a connection if you only make requests to some rest/soap/graphql APIs.
They can just sync once a few minutes because the response time is very predictable.

[2018-10-22 17:18] mandrigin commented on #6447
but sure, we can shutdown the node, it will just take a few more seconds to get your messages when you return from background.

[2018-10-22 17:47] dmitryn commented on #6449
@lukaszfryc i'll take a look at #6415 - will hide send button while "Connecting to peers" shown (i.e. no mailserver connection)

[2018-10-22 17:59] ghost commented on #4792
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-22 17:59] #4792 closed, assigned to nobody

[2018-10-22 17:59] jakubgs commented on #5589
We have iptables rate limiting rules in place here:
https://github.com/status-im/infra-eth-cluster/blob/master/ansible/roles/rate-limit/defaults/main.yml
https://github.com/status-im/infra-eth-cluster/blob/master/ansible/roles/rate-limit/tasks/main.yml

I did minimal tests to verify it works, but I guess a proper stress test would be in order.

<blockquote><div><strong><a href="https://github.com/

[2018-10-22 18:57] dmitryn commented on #5339
@vkjr how things are going with this one? As a developer for both mobile and desktop platforms, i'd really like `clj-rn` to work for desktop too.

I can work on clj-rn support for desktop if you didn't start with this one yet.

[2018-10-22 21:16] arnetheduck commented on #5567
either we're doing something wrong or testfairy is doing something right :) interesting

[2018-10-23 06:58] chadyj commented on #6311
@mandrigin If we want this to be ready for the hackathon then when is the absolute latest we should submit to Apple?  We are getting really close, and I expect much of the team will be travelling so we should set a hard deadline or we risk being late.

@annadanchenko How did regression testing go?

[2018-10-23 07:05] chadyj commented on #6454
Deleting the chat history was intentional and flagged by @adambabik in https://github.com/status-im/status-react/issues/4215 as a security-related feature.  @adambabik Can you elaborate on the use case here?

It seems to make sense if a user "deletes" the chat then it shouldn't be "un-deleted". Perhaps a "leave chat" command is a better fix for users that want to leave a chat and return to it late

[2018-10-23 07:09] ghost commented on #802
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-23 07:09] mandrigin commented on #6311
@chadyj we have an older build of 0.9.30 approved (I submitted it yesterday), so we theoretically should get Insta-approvals for the newer builds too. In the meantime, can you post release notes here?

[2018-10-23 07:12] chadyj commented on #6311
Thanks Igor.

Release notes are here https://docs.google.com/document/d/1Z0mFlJJkNbRgv6qm80ob5g4PEvsI8cTmbwZpcRPWPho/edit

<blockquote><img src="https://lh5.googleusercontent.com/8HPrqui70EEzEnxev4gaBEgitMo_UkXOvajQPFY64N_kB8XBJvsdAZkxd61qeQCb7xNTig=w1200-h630-p" width="48" align="right"><div>Google Docs</div><div><strong><a href="https://docs.google.com/document/d/1Z0mFlJJkNbRgv6qm80ob5g4PEvsI8cT

[2018-10-23 07:52] lukaszfryc commented on #6311
Re regression testing, we have not done the full regression yet because of [open issues](https://github.com/status-im/status-react/labels/release). We have 2 open PRs that may introduce regressions in messaging area: https://github.com/status-im/status-react/pull/6466 and https://github.com/status-im/status-react/pull/6448. And https://github.com/status-im/status-react/pull/6388 that may affect tr

[2018-10-23 07:57] jeluard commented on #6311
I had to cherry-pick a tiny tiny extension bug: #6463

[2018-10-23 08:06] adambabik commented on #6454
This is about removing stuff you chatted about without a need to remove the application completely. It was meant to provide additional privacy and security as messages stored on the device are decrypted and encrypted again on the database level.

"Leave chat" sounds good. We should make a distinction here I believe. Other use case is to "silence chat" and "Leave chat" might cover this.

[2018-10-23 08:07] asemiankevich commented on #6450
@lukaszfryc @annadanchenko @churik its a dupe of https://github.com/status-im/status-react/issues/5695

[2018-10-23 08:13] churik commented on #6450
Yes, thanks @asemiankevich

[2018-10-23 08:16] annadanchenko commented on #6311
@jeluard I see you marked it (#6463) with skip-qa and merged directly to release. Can you comment on any tests done by yourself for it? will you check it also in the release build?

[2018-10-23 08:16] SlizkovaGanna opened #6472 "Sending a request/response with an amount that exceeds 18 numbers after a dot, in 1-1 chat, doesn't trigger an error"
Type: **Bug**

Summary: When inserting more then 18 numbers after a dot in a request or response in 1-1 chat, user should be redirected to Wallet with all the data reflected, but an error in the 'Amount' field 'Amount too precise. Max number of decimals is 18.'
But currently, such request/response lead to nothing, as if it was never sent.

**Expected behavior**

When inserting more then 18 numbers

[2018-10-23 08:17] churik commented on #6449
@oskarth @siphiuel wdyt about hiding "Send" button when app detects offline mode ("Offline", "Connecting to peers")?

[2018-10-23 08:23] oskarth commented on #6449
Hiding or maybe grey disable? Like this is something you can normally do but not right now. I feel like this is a design decision?

@chadyj @denis-sharypin

[2018-10-23 08:34] lukaszfryc commented on #6454
I think having 2 options like "Delete chat" and "Leave chat" will only create confusion. Personally, I do not see a reason why I should not see a history of a public chat when I join it again. Imagine, I deleted #status chat but decided to join it after few days. I'd assume that I can scroll it to see all historical messages.

Maybe we should treat 1-1 chats differently than group/public chats. Me

[2018-10-23 08:40] churik commented on #6449
@EugeOrtiz please, help)

[2018-10-23 08:41] #6450 closed, assigned to nobody

[2018-10-23 08:43] lukaszfryc commented on #5695
It also does not work in a standard scenario when user receives a message from non-contact and sees "Add to contacts" bar.

[2018-10-23 08:43] jeluard commented on #6311
@annadanchenko Yes this fix relates to changes needed to have some specific feature of extension working. Harmless out of the scope of extension. Will validate manually myself.

[2018-10-23 08:52] annadanchenko commented on #6311
@chadyj on yesterday's release build test team completed most of critical and high priority tests and found no more blockers besides known in https://github.com/status-im/status-react/issues?q=is%3Aopen+is%3Aissue+label%3Arelease

Unfortunately, we are still in progress of fixing 2 issues for duplicated messages after upgrade (#6460, #6438) and an issue to add new networks #6250 that also impacts

[2018-10-23 09:02] mandrigin opened #6473 "[Desktop] Hack local encrypted backups (import/export to JSON)"
**Disclaimer**: this task isn't about "make it right", it is about "make it work" with the least possible effort. For me, better to have this feature in an inconvenient way than to lose data every now and then.

[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to lose my data (opened chatrooms & contacts, my profile info) when I upgra

[2018-10-23 09:37] mandrigin opened #6475 "Unsafe unicode characters are not filtered in when displaying username"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Currently we allow any unicode characters in our names, including different unsafe modifiers (line breaks, RTL overrides, etc).

That makes it possible to either cause a DoS attack on some users rendering chats unusable or even spoof other users, pretending to be someone else.

You don't need any special tools and very tiny

[2018-10-23 09:41] mandrigin commented on #6475
cc @corpetty

[2018-10-23 09:48] rachelhamlin commented on #6435
Thanks for reporting this @mjdietzx! Can you share the URL to your DApp? I'd like to test this particular flow, too.

[2018-10-23 09:48] mandrigin opened #6476 "Implement UI for managing trusted peers in LES/ULC"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to use my custom LES and ULC servers to test stuff. For instance, if I run my own nodes locally or in DAppNode or somewhere else.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

*Type*: Feature

devp2p stack has this notion of static peers (`admin_addPeer`) functionality.

[2018-10-23 10:07] goranjovic opened #6477 "Add Dev Mode and Network Switching to Desktop"
### User Story

As a developer I want to enable advanced in progress features in the app and use different networks

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Add an option in Profile to enable/disable dev mode. When dev mode is enabled, allow Network switching with the same selection of networks as on mobile.

[2018-10-23 10:40] ghost commented on #5217
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-23 10:53] bhauman commented on #6454
There is a simple straightforward solution for this. This is to delete the messages but not change the `deleted-at-clock-value` which is essentially a marker that says messages have been deleted up to this point. This mark is meant to capture the idea of choosing to clear the history.

The problem is that the code is currently conflating the idea of clearing the history with deleting the chat. Thi

[2018-10-23 11:00] ghost commented on #4569
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-23 11:15] mandrigin opened #6479 "Implement JS Console"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Status developer or a DApps developer, I find it very useful to be able to call arbitrary web3 methods. We used to have a console account for it, now it is gone.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature
Bring JS console back with 2 modes:
- "unlimited" — calls private

[2018-10-23 11:15] chadyj commented on #6477
Nice :)

[2018-10-23 11:18] mandrigin opened #6480 "Research vipnode integration"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

This issue is created to document and keep track integration with vipnode (https://vipnode.org).

cc @oskarth @goranjovic

<blockquote><img src="https://vipnode.org/img/preview-card.png" width="48" align="right"><div><strong><a href="https://vipnode.org/">Economic incentive for Ethereum full nodes · Vipnode</

[2018-10-23 11:26] asemiankevich opened #6481 "Profile picture for android device is not updated in 1x1 chat when change it offline"
### Description

*Type*: Bug

*Summary*: If i change pic on Android for an account that is recovered on desktop and mobile at the same time, the picture is not updated in 1x1 chat when I go back online.

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior
[comment]: # (Describe what actually happened.)

### Reproduction

- Recover account on desktop
-

[2018-10-23 11:29] vkjr commented on #5339
I didn't. Thanks for taking this!

[2018-10-23 11:35] Serhy opened #6482 ""java.langRuntimeException: getParameters failed (empty parameters)" app crash when 'Capture' profile photo"
***Type***: Bug

***Summary***: When contact makes a photo with 'Capture' for profile the app freeze up and after I tap any area of captured photo - the `java.langRuntimeException: getParameters failed (empty parameters)` error appears. App closes. After restart no prifile image updated.
**NOTE:**  In a case I zoom-in/zoom-out to make a photo - all stored correctly
Not always reproduces and confir

[2018-10-23 11:35] bhauman commented on #6454
I would further add that is seems the security concern is removing the messages from the persistent datastore and not about the messages in memory.

[2018-10-23 11:38] lukaszfryc commented on #5654
I suggest to give it at least medium-severity.

[2018-10-23 11:46] asemiankevich commented on #6451
@lukaszfryc I have to rename this to `Reply message snippet is not scrollable in 1x1 chat` what clearly indicates problem and location of the problem

[2018-10-23 11:54] asemiankevich opened #6483 "Message which contains emoji only cannot be long-tapped and cannot be quoted"
### Description

*Type*: Bug

*Summary*: I can't quote emojis messages because long tap is not effective on such messages

#### Expected behavior
I should be able to quote them as other messages sent in 1x1 chat

#### Actual behavior
a message which consists of emojis only can't be quoted as long tap does nothing in this case

![image](https://user-images.githubusercontent.com/28752642/47358739-4f

[2018-10-23 11:57] chadyj commented on #6473
+1

Also have you seen this PR that syncs contacts? https://github.com/status-im/status-react/pull/6242

[2018-10-23 11:57] lukaszfryc commented on #6451
@asemiankevich it's for all chats.

[2018-10-23 12:05] asemiankevich commented on #6291
dupe https://github.com/status-im/status-react/issues/6290

[2018-10-23 12:09] jeluard commented on #6311
How mandatory is #6250 ?
We must have the new release out for the hackathon or we can't test easily extensions.

[2018-10-23 12:11] lukaszfryc opened #6484 "Cannot sign up to CryptoKitties. Nothing happens when sign up button is pressed"
### Description

*Type*: Bug

*Summary*:

When "Sign Up" is pressed, the button changes temporary to "Signing in.." but then returns back to "Sign Up". In result, a new user cannot create account in CryptoKitties. I did not find any logs in logcat or chrome dev tools.

<img src="https://user-images.githubusercontent.com/7532782/47359424-05475200-d6cd-11e8-9af4-1edfe6bbb2e0.png" width="200">

Note

[2018-10-23 12:12] lukaszfryc commented on #6481
Duplicate of https://github.com/status-im/status-react/issues/5746?

[2018-10-23 12:13] #6290 closed, assigned to nobody

[2018-10-23 12:17] annadanchenko commented on #6311
imo, if we can't fix it today we need to drop it to release the rest.

but there are upgrade issue and they are not pretty at all to release with, @janherich any estimates when fixes will be ready?

[2018-10-23 12:19] Serhy commented on #5654
Updated severity.

[2018-10-23 12:28] lukaszfryc opened #6486 "SuperRare collectibles are not loading when accessed from Wallet"
### Description

*Type*: Bug

*Summary*: I have a SuperRare collectible but it is not loading when I open it from Wallet tab. I waited for 5 min but the spinner did not disappear. If I go to https://superrare.co dapp and sign in, I can see the collectible there. But when I go back to Wallet -> SuperRare, the spinner is still there.

<img src="https://user-images.githubusercontent.com/7532782/47360

[2018-10-23 12:28] rachelhamlin commented on #6311
I would also vote to drop it in order to get us closer to release (cc @andytudhope)

[2018-10-23 12:32] asemiankevich commented on #6311
@chadyj ^

[2018-10-23 12:32] annadanchenko opened #6487 "No error "Invalid asset - Unknown token" is shown if use Send from request of the token not listed in the Assets"
###

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Nothing happens if use Send on the request for the token that is not listed in Wallet's assets. E.g. User A added only SNT to the list of v

[2018-10-23 13:05] Serhy opened #6489 "No 'Share' option on a long tap on wallet address from Wallet modal screen [iOS]"
***Type***: Bug

***Summary***:  There is no 'Share' option on a long tap on wallet address in 'Wallet modal' screen on iOS (it's present on Android). 'Copy' address option is present only.

#### Expected behavior
'Share' option is present on a long tap on wallet address in Wallet modal screen [iOS]
#### Actual behavior
No 'Share' option is present on a long tap on wallet address in Wallet modal s

[2018-10-23 13:10] ghost commented on #5296
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-23 13:18] annadanchenko commented on #6311
@yenda added https://github.com/status-im/status-react/pull/6478 to the release too. However, I'm not sure how critical it is (described scenario works fine without this PR or steps are wrong in the PR), waiting for Eric to comment

[2018-10-23 13:30] ghost commented on #4625
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-23 13:30] goranjovic commented on #6311
regarding #6250 - we can bypass the upgrade decryption problem if we don't include the migration to add two sidechains to the existing accounts. In practice, this would mean that hackaton participants who want to use the sidechains would have to use a new account (but at least they would be able to do that)

wdyt @annadanchenko @andytudhope ?

[2018-10-23 13:41] chadyj commented on #6311
Sounds like a decent trade off to get this release shipped.

[2018-10-23 13:47] goranjovic commented on #6311
@chadyj Ok, I'll remove the migrations then.

[2018-10-23 13:52] lukaszfryc commented on #5749
@goranjovic @dmitryn any updates on it? Some users may find Status Wallet unreliable if they come across this issue. Imagine seeing "no tx found" in 1-1 chat and not seeing any TXs in the history even though someone is telling you that he already sent you the tokens. It's pretty bad experience.

[2018-10-23 13:59] goranjovic opened #6491 "Remove default provided network options from account data"
### User Story

As a developer I want to be able to easily add/remove networks and sidechains without complex migrations.

### Description

*Type*: Refactor

*Summary*: Right now network options are copied by value from the hardcoded location to the base database (account table). This was done like so in order to allow custom networks where user sets a custom network by entering the settings in th

[2018-10-23 14:19] goranjovic opened #6492 "Ensure token payment message upgradeability"
### User Story

As a user I want my payment messages to work gracefully between different versions of the app.
As a developer I want to be able to add/remove selection of supported tokens easily

### Description

*Type*: Feature

*Summary*: Receiving messages from future versions of the app should work reasonably well and without broken behavior and/or crashes, because future version sent a paymen

[2018-10-23 14:21] yenda commented on #6311
@goranjovic maybe there is a bug in the migration ?

[2018-10-23 14:26] goranjovic opened #6493 "Ensure cross network payment message upgradeability"
### User Story

As a user I want my payment messages to work gracefully between different versions of app using different networks.
As a developer I want to be able to add/remove selection of supported networks easily

### Description

*Type*: Feature

*Summary*: Receiving messages from future versions of the app should work reasonably well and without broken behavior and/or crashes, because futur

[2018-10-23 14:42] chadyj opened #6495 "Nightly cleaning of Testflight users is broken"
Status has had recurring problems exceeding the 10k Testflight user limit. To address this we implemented a nightly Fastlane script to remove inactive testers.

Every night [Jenkins runs a job](https://ci.status.im/job/status-tools/job/Clean%20Testflight%20Users/) that cleans users with [bundle exec fastlane ios clean](https://github.com/status-im/status-react/blob/develop/fastlane/Fastfile#L143)

[2018-10-23 14:57] asemiankevich opened #6497 "Timestamp for outgoing emojis messages is hardly visible in chat"
### Description

*Type*: Bug

*Summary*: Timestamp for messages containing the only emojis is almost invisible for the sender

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/47369697-ec4e9900-d6ec-11e8-8706-289d1d0f7949.png)

### Reproduction

- Open Status
- Go to any chat
- Send emoji
- Check timestamp

[2018-10-23 15:00] hetvart opened #6498 "Can remove profile picture test coverage"
https://ethstatus.testrail.net/index.php?/cases/view/5454

<blockquote><img src="https://static.testrail.io/5.5.1.3746/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/5454">Login - TestRail</a></strong></div></blockquote>

[2018-10-23 15:28] #6429 closed, assigned to yenda

[2018-10-23 15:37] rachelhamlin commented on #6311
So this PR should solve both #6460 + #6438: https://github.com/status-im/status-react/pull/6488

But build process is delaying us, per `Ragged Understated Loon`. 😕

[2018-10-23 16:37] chadyj commented on #6417
Ah have enjoyed this "feature" as I get chat and message history on a new device.

Why is the expected behaviour that no chats should be shown (if indeed there are recent chats)?

[2018-10-23 16:58] yevh-berdnyk commented on #6417
@chadyj I remember we removed restoring of chats but unfortunatelly I can't find an issue/PR
@annadanchenko maybe you can advise?

[2018-10-23 22:01] pablanopete commented on #6311
also agree this won't be a problem because xDaichain is a brand new side chain so people won't have any tokens in it before the hackathon anyways very likely - creating a new account is a bit of a UX slowdown but also agree to get it in release shipped and since it's blocking old accounts it makes sense.

[2018-10-24 06:45] annadanchenko commented on #6311
@rachelhamlin is there anything to be changed in the mobile app for ENS usernames? like linking to the Dapp url on mainnet ?

[2018-10-24 06:49] chadyj opened #6500 "Desktop chat search being weird"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

I grabbed the newest nightly and went to start searching for contacts to filter the list, but it isn't working as expected.

For example I see "yenda" in the list

<img width="338" alt="screen shot 2018-10-24 at 8 43 19 am" src="https://user-images.githubusercontent.com/116099/47411498-3c6b4100-d769-11e8-8a32-dae008a1470a.p

[2018-10-24 07:16] chadyj commented on #6311
We are 2 days away from the Hackathon and so really have to wrap up this release today.  People will also be traveling so availability will be limited.

The de-duplication work is being done so thanks @janherich @rasom for making it a priority. Please yell out if you are blocked or can't get this done in a few hours.

@goranjovic do you expect to wrap up the sidechain issue this morning, or should

[2018-10-24 07:45] #6460 closed, assigned to rasom

[2018-10-24 07:45] churik commented on #6500
not reproducible for me, I can search normally for 1-1 chats, public and group chats. Probably you can attach log or add some specific steps/details?

[2018-10-24 07:49] chadyj commented on #6438
Fixed in https://github.com/status-im/status-react/pull/6488

[2018-10-24 07:49] #6438 closed, assigned to janherich

[2018-10-24 07:49] annadanchenko commented on #6311
@goranjovic @chadyj despite known non-critical issues I propose to merge #6388 and document known issues in release notes. see them in https://github.com/status-im/status-react/pull/6388#issuecomment-432549313

[2018-10-24 07:49] jeluard commented on #6311
@chadyj Everything is ready for extensions.

Let's :ship: :ship: :ship:

[2018-10-24 08:00] #6250 closed, assigned to goranjovic

[2018-10-24 08:02] churik opened #6501 "Chats are not sorted by timestamps of last incoming messages"
### Description

*Type*: Bug

*Summary*:
Chats should be sorted according to last messages - newest on the top.
For now, when user gets the new message - chat does not move to the top, so it keeps the same postion.

#### Expected behavior
chats with newest messages on the top.

#### Actual behavior
<img width="467" alt="1234567" src="https://user-images.githubusercontent.com/4557972/47415335-793c3

[2018-10-24 08:29] rachelhamlin commented on #6311
@chadyj @annadanchenko nothing to change in status-react. The entry point on the profile screen links to `names.statusnet.eth`.

The ENS _contract_ still needs to be deployed to mainnet, which will require a change with the `names.statusnet.eth` ENS resolver, but nothing more to do in Status to support this.

We're aiming to have this done today, so it will happen ahead of the release.

[2018-10-24 08:30] rachelhamlin commented on #6311
We've tested the ENS DApp thoroughly on Ropsten and as soon @bgits or @3esmit deploys the contract to mainnet, will test there as well.

[2018-10-24 08:37] chadyj commented on #6311
⚡️⚡️⚡️All the outstanding `release` issues have been closed. ⚡️⚡️⚡️

The release build [can be downloaded from jenkins](https://ci.status.im/job/status-react/job/release/job/release%252F0.9.30/24/) for testing.

However the Testflight upload [failed](https://ci.status.im/job/status-react/job/upload_release_ios/52/console) complaining about `Invalid username and password combination`. @mandrigin @j

[2018-10-24 09:08] goranjovic opened #6504 "Cross network main currency payment messages show wrong fiat value"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see fiat prices for my assets on multiple different chains.

### Description

*Type*: Bug

*Summary*: Assets from different chains can have non-zero prices (e.g. sidechains). Those prices need to be applied when we calculate fiat value of said assets.

Since sender and receiver can use diff

[2018-10-24 09:17] goranjovic opened #6505 "getGasPrice can return 0"
### User Story

As a user I want useful default gas price settings on all networks when I send transactions.

### Description

*Type*: Bug

*Summary*: For some reason, on xDAI chain `getGasPrice` sometimes gives 0 as the result (paritytech/parity-ethereum#9795). This means that the default gas price in Send Transaction screen is going to be 0 and unless user changes that value manually, that trans

[2018-10-24 09:22] chadyj commented on #6311
Roman fixed (thanks) the Fastlane issue and build 11274 is ready for testing in Testflight. ⚡️⚡️⚡️

[2018-10-24 09:24] EugeOrtiz opened #6506 "UI fixes for bubble-less chat area"
### Description
Type: UI Fixes

Summary: We are introducing UI fixes in order to improve the design and increase readability of the chat area.

### Solution
UI fixes include:
- New open source font [Inter UI](https://rsms.me/inter/). Note that this font will eventually be used across other Status products (mobile, desktop, websites)
- Adjusted paddings and line heights to improve readability
- Ali

[2018-10-24 10:11] churik opened #6508 "Can add myself in contacts via public chat"
### Description

*Type*: Bug

*Summary*:  feature is introduced by https://github.com/status-im/status-react/pull/6243. For now I can proceed to my own profile from public chat

#### Expected behavior
user profile is unclickable

#### Actual behavior
Can proceed to my own profile

### Reproduction

- Open Status
- Join any public channel
- Click on my user profile pic (top right of avatar, accordi

[2018-10-24 10:15] goranjovic opened #6509 "Get token config from the contracts instead of using hardcoded values"
### User Story

As a developer I want an easier way to add correct and verified token config to the supported tokens list.

### Description

*Type*: Refactor

*Summary*: Right now when we add new ERC-20 tokens we have to supply the following info: contract address, symbol, name, number of decimals and icon in png format with symbol in the file name.

Supplying correct information there is extremel

[2018-10-24 10:16] goranjovic commented on #6396
@chadyj No, but I do constantly have it on Mac

[2018-10-24 10:43] jeluard opened #6510 "Unexpected browser refresh behavior"
### User Story

As a user, I expect browser refresh behavior to match others behavior.

### Description

*Type*: Bug

While browsing a DApp, URL is not updated as it should be. This breaks the refresh behavior as refreshing will redirect the user to the original page.

According to Makoto (Kickback):

[code]

[2018-10-24 11:01] chadyj commented on #6379
This is working for me now.

[2018-10-24 11:06] kimjf commented on #6311
I am traveling today but should be able to help with the release tomorrow. Do we need an intro written for the notes? If we do could you highlight in the notes the key updates to call out?

Sent from my iPhone

[2018-10-24 11:08] ghost commented on #5297
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-24 11:08] goranjovic commented on #6340
Related (as a general solution for this kind of problems) - #6509

[2018-10-24 11:08] 0xc1c4da opened #6511 "12 Word Seed phrase to 24"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to have more secure keys so that I feel more confident in the security of my funds..

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, a

[2018-10-24 11:27] yenda commented on #6379
@churik can you check that again ? It's working for me in current nightlies

[2018-10-24 11:29] churik commented on #6379
Cannot reproduce

[2018-10-24 11:29] #6379 closed, assigned to flexsurfer

[2018-10-24 11:53] asemiankevich opened #6513 "Can't back up pass phrase having Russian app version due to broken translation"
### Description

*Type*: Bug

*Summary*: Broken translation does not let me see which word i am asked for, so I cant back up my phrase easily

#### Expected behavior

Word number is shown, like `word #12`

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/47428621-7ace2380-d79c-11e8-8cf4-963fcf41a593.png)

### Reproduction

- Change system language to Russian
- Open

[2018-10-24 12:00] asemiankevich commented on #6451
@lukaszfryc still should be readable and searchable

[2018-10-24 12:28] chadyj commented on #6311
I noticed one issue in the TF version where messages are not ordered properly. Older messages are shown before newer messages.

<img width="57" alt="screen shot 2018-10-24 at 2 26 44 pm" src="https://user-images.githubusercontent.com/116099/47430204-0940a600-d799-11e8-90b1-43341a4e0baf.png">

@yenda Fixed a related ordering issue today on desktop. Same cause?

[2018-10-24 12:34] jeluard commented on #6311
@chadyj I have this issues for days. Probably not a recent regression.

[2018-10-24 12:43] rachelhamlin commented on #6311
@kimjf no stress, already written! Coordinating with Jonny on the posts.

[2018-10-24 12:44] churik opened #6515 "0 fiat value is shown for /request command in 1-1 chat for tokens which are not added to assets"
### Description

*Type*: Bug
*Summary*: when token is not added to assets, any request in 1-1 chat for this token shows 0 fiat value.

#### Expected behavior
correct fiat value is shown

#### Actual behavior
<img width="188" alt="fiat_value" src="https://user-images.githubusercontent.com/4557972/47430654-48bbc200-d79a-11e8-81e6-329ac3f99cc6.png">

### Reproduction

*Prerequisites:* User A and User

[2018-10-24 12:46] goranjovic commented on #6515
Closely related to #6504

[2018-10-24 12:48] #5339 closed, assigned to dmitryn

[2018-10-24 13:17] churik opened #6517 "Value divided by 1000 (1 istead of 1000) is shown in Home for last messages for /send and / request command if value is greater than 100"
### Description

*Type*: Bug
*Summary*: if last messages in chat are /send or /request command with value > 100 - it shows wrong value (divided by 1000). For example if last message is `/request 10000 STT`, in Home you can see 10 STT.

#### Expected behavior
the correct value is shown (`/request 10000 STT`)

#### Actual behavior
<img width="420" alt="wr_kl" src="https://user-images.githubuserconte

[2018-10-24 13:38] ghost commented on #4367
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-24 13:42] annadanchenko commented on #6311
test team is very close to complete regression testing on the last release build. So far, no blocking issues found. In ~30 min we expect to complete testing and potentially we are OK to release.

@chadyj when do we want to release it? On TestFlight it's 11274 in 0.9.30. For Android: https://ci.status.im/job/status-react/job/release/job/release%252F0.9.30/24/artifact/pkg/StatusIm-181024-080818-46d2

[2018-10-24 13:47] goranjovic opened #6518 "Replace EIP681 regexes with simpler and more readable parsers"
### User Story

As a developer I... well, want to get rid of complex regexes

### Description

*Type*: Refactor

*Summary*: EIP681 URLs are reasonably simple to parse without reliance on regex patterns.

The original bug behind this issue was found in PR #6388 - there was a regex bug where numerical network ids with more than one digit did not work.

[2018-10-24 13:48] ghost commented on #4592
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-24 13:51] yenda commented on #6311
@chadyj it is not the same cause because the cause on desktop wasn't related to mobile at all. I think it is because the timestamp of chats isn't based on last message but time when the last message was received in the chat, so when receiving messages from inbox the chats are ordered based on when the last message was received from there

[2018-10-24 14:06] chadyj commented on #6311
Nice one @annadanchenko and team!

If everything looks good let's shoot for 10am CEST tomorrow! 🌮

We will use 11274 in TF and 11274 in Google Play currently in the internal test track.

[2018-10-24 14:16] ghost commented on #5232
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-24 14:17] #5232 closed, assigned to cammellos

[2018-10-24 14:28] ghost commented on #5049
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-24 14:51] rachelhamlin commented on #6311
Didn't realize this was already approved by Apple! Nice job, everyone!

Might be preferable to release later in the day, from a product perspective.

We just deployed the ENS contract to mainnet, and Barry is making a few last changes to the DApp before we can test on mainnet.

Once `0.9.30` is live & announced, people will know they can register names. @asemiankevich and I will test the DApp as s

[2018-10-24 14:57] EugeOrtiz opened #6521 "Standardize desktop build update experience (MacOS)"
### User Story

As a user, I want a standard way to update my desktop app version on MacOS.

### Description & current behavior
**Type**: Fix

**Current implementation**
<img width="342" alt="captura de pantalla 2018-10-24 a la s 1 00 32 p m" src="https://user-images.githubusercontent.com/37297779/47439653-0d76be80-d7ad-11e8-9269-fbb099f8e59e.png">

The current implementation for upgrading to the

[2018-10-24 16:20] #6500 closed, assigned to yenda

[2018-10-24 16:34] jakubgs opened #6522 "Find a way to manage build numbers without using git tags"
Currently we are using git tags with a format of `build-[0-9]+` to globally track build numbers which are then used in metadata for Android and iOS builds. They have to be long integers, they have to be incremented, and they cannot clash across multiple builds.

This is also related to us wanting to release the app on GitHub, but the "Releases" section is cluttered up with `build-*` tags.
Related:

[2018-10-24 18:30] ligi opened #6524 "Crash: RuntimeException: Unable to start activity - attempt to invoke virtual method 'int com.instabug.library.settings.a.m()' on a null object reference"
### User Story

In the context of preparing for the status hackathon I gave the app another spin. Worked at first - but got a crash later in the process when opening the app.
Unfortunately I could not yet reproduce - but I think the stacktrace (see bottom) could be useful for you.

### Additional Information

* Status version: 0.9.29 (9839) node:0.15.0 ( afaik currently the latest on google play)

[2018-10-24 19:44] rachelhamlin commented on #6311
Update: [ENS DApp](https://cloudflare-ipfs.com/ipfs/QmSKe8h1QJ2h2QWWqCC3nwVSA4ekWgKZ7MBsTDxwP4Hchf/) works well in my run-through of each core flow, but there's one tiny and fatal issue. The price is wrong below the fold on the first screen.

This requires attention from both @bgits and @3esmit to re-deploy the DApp, once fixed. After speaking with @j-zerah, think it makes sense to target 3 pm CES

[2018-10-24 20:21] tersec commented on #6316
[code]
Seems to be alive. From my understanding, that's capturing ENS lookups. Is that correct? Is it capturing all both registrations and lookups?

Is it only `approveAndCall` calls (looks like methodId `0xcae9ca51` at https://etherscan.io/tx/0xa2a8247f13024e93f12029005e155ad67352c3861a4d44e5d512af3d30538abd)?

`0x744d70fdbe2ba4cf95131626614a1763df805b9e` is the same address as for SNT transactio

[2018-10-24 20:40] tersec commented on #6316
@rachelhamlin @chadyj
[code]

Still returns 0 results, despite https://etherscan.io/address/0xdb5ac1a559b02e12f29fc0ec0e37be8e046def49 showing contract creation from 7-odd hours ago. It probably just takes that long for events to show up -- that end-to-end system latency's useful to know.

<blockquote><img src="/images/favicon2.ico" width="48" align="right"><div><strong><a href="https://etherscan.

[2018-10-25 08:27] denis-sharypin commented on #6225
Updates https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet_Source-of-Truth?node-id=160%3A3954

<blockquote><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet_Source-of-Truth?node-id=160%3A3954">Figma</a></strong></div></blockquote>

[2018-10-25 09:16] annadanchenko commented on #6311
@chadyj @mandrigin 11274 build is in Ready to Submit state that looks like it wasn't submitted to review. Can you send it to review if it's so, please?

[2018-10-25 09:17] jeluard commented on #6411
Fixed by @alw

[2018-10-25 09:17] #6411 closed, assigned to nobody

[2018-10-25 09:22] annadanchenko commented on #6311
nevermind, just did it myself and got approval right after this

[2018-10-25 09:22] mandrigin commented on #6311
done. approved. "testing"

[2018-10-25 09:24] EugeOrtiz commented on #6445
We should only have push notifications for:

1. New 1:1 chat message
2. Someone mentions the @user in a public or group
3. Somebody replies directly to user's message in a group or public chat

[2018-10-25 09:45] ghost commented on #5316
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-25 10:52] rachelhamlin commented on #6311
Latest version of the ENS DApp is deployed, now we need Ricardo to update the ENS URI to contain the new IPFS hash.

He should be landing in Prague soon, but I think we should push the release back one more hour to 4 PM CEST to be safe.

[2018-10-25 11:29] ghost commented on #5242
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-25 11:47] chadyj commented on #6294
Hey @dmitryn interested in grabbing this launch blocker for desktop? I think you did the mobile warnings, right?

[2018-10-25 11:48] chadyj commented on #6501
Fixed in https://github.com/status-im/status-react/pull/6507

[2018-10-25 11:48] #6501 closed, assigned to yenda

[2018-10-25 11:50] chadyj commented on #5444
Heya @MaxRis @siphiuel is this still an issue? It has been 'in progress' for weeks

[2018-10-25 11:51] chadyj commented on #6175
Hey @MaxRis how is the progress on this issue?

[2018-10-25 11:56] mjdietzx commented on #6435
hey @rachelhamlin, thanks for the response.

you can try out our DApp at https://blockimmo.ch

To actually see this bug, you will need to login (easy in Status - in browser requires MetaMask), and then go to your profile. After completing the first step of our user onboarding process (anti money laundering), you will be prompted to download our terms and conditions. This is where you will see the

[2018-10-25 12:51] maxhora commented on #6175
@chadyj was not able to really start this because of issues with desktop notifications, supposing to work on it shortly.

[2018-10-25 12:52] maxhora commented on #5444
@chadyj I think we can close it for now (the issue should be fully "resolved" after completion of https://github.com/status-im/status-react/issues/6175)

[2018-10-25 13:20] chadyj commented on #6175
Ok I'll move it out of `in progress` for now

[2018-10-25 13:21] #5444 closed, assigned to vitvly

[2018-10-25 14:05] ghost commented on #4856
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-25 14:55] dmitryn commented on #6294
@chadyj probably not me, but i can add warning to desktop

[2018-10-25 15:05] ghost commented on #4338
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-25 15:05] #4338 closed, assigned to andmironov

[2018-10-25 15:15] ghost commented on #4272
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-25 15:15] ghost commented on #4011
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-25 15:15] ghost commented on #3997
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-25 15:16] ghost commented on #3625
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-25 15:16] #3625 closed, assigned to denis-sharypin

[2018-10-25 15:23] chadyj commented on #6311
0.9.30 is released!

https://our.status.im/v0-9-30-release-extensions-ens-security/

<blockquote><img src="https://our.status.im/content/images/2018/10/Wallet_upgrade__0.9.30.jpg" width="48" align="right"><div>Our Status</div><div><strong><a href="https://our.status.im/v0-9-30-release-extensions-ens-security/">v0.9.30 Release – Extensions, ENS Names, and more!</a></strong></div><div>The Status Hac

[2018-10-25 15:23] #6311 closed, assigned to nobody

[2018-10-25 15:27] mandrigin opened #6530 "Show currently connected peers in advanced settings"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer/QA, I want to know which peers I am connected to.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Create a separate screen in "Advanced" settings available in dev mode, that shows the peers one connected to. Essentially, it should be a result of `admin_peers` web3

[2018-10-25 15:48] mattcrum commented on #6351
Thanks for this. I imagine this is my issue as well as Status works great at home and on mobile but will hang on my office network.

[2018-10-25 16:41] arnetheduck commented on #6351
Chatted with @pablanopete about this a little - there are slightly longer term solutions that would be more solid ways to address this - for future reference:

* Change the status node default to port 80/443
  * conflicts with web servers on the same IP
  * on unix, you need root access for ports <1024

* Change the transport to WebRTC or Websockets
  * This is a better long-term solution. Togethe

[2018-10-25 17:03] Pedro-vk commented on #5443
Is it possible in any WebView on Android or needs to be set by the app that contains the WebView? I'm asking that because I've been trying to debug on Status and I was not able. I was able to debug on Coinbase wallet (Toshi).

[2018-10-25 17:24] SlizkovaGanna opened #6531 "For a specific case, link is not clickable for desktop (emoticons and special characters without spaces after the URL)"
Description

Type: **Bug**

Summary: For desktop specifically, when a link is inserted in format like 'ukr.net' or 'http://ecase.com.ua' with an emoticon at the end (no space to separate the link from the emoticon), the link is non-clickable. Also, sometimes reproduces for special characters - check the examples attached.

**Expected behavior**

If a link is invalid, 'cannot open this URL should b

[2018-10-26 08:25] pedropombeiro commented on #6351
Although this can probably be solved by using a reverse proxy (e.g. nginx) on the node to weed out Status traffic from other traffic, that also means that we'd be making it easy for adversaries to filter our traffic, making it look more like a stop-gap solution.

[2018-10-26 08:56] pedropombeiro commented on #4345
@errorists do you feel it is absolutely necessary to have the `Fetching messages` text message visible? Wouldn't the unobtrusive horizontal marquee progress bar be enough by signaling to the user that work is being done in the background, without revealing the exact nature of the work?

[2018-10-26 08:57] pedropombeiro commented on #4345
@errorists do you feel it is absolutely necessary to have the `Fetching messages` text message visible? Wouldn't the unobtrusive horizontal marquee progress bar be enough by signaling to the user that work is being done in the background, without revealing the exact nature of the work?

[2018-10-26 14:23] morelazers opened #6534 "Extension throws error which requires force closing the app and disabling the extension"
### Description

As a developer, I should receive helpful error messages

Type: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: I created an extension, installed it and then used it in a chat - the app then crashed with an error which could not be recovered from

[2018-10-26 20:25] Pedro-vk opened #6538 "Enable dapp debugging for Android WebView"
Enable dapp debugging for developer mode on Android.
I'm having errors with opt-in web3 provider access and I'm not able to debug it. It works fine in MetaMask with the new way of enable web3 provider.

Thanks!

[2018-10-27 10:42] rachelhamlin opened #6539 "Display SNT price for SNT transactions"
### User Story

As a user, I want to know how many tokens I'm sending with each transaction, so that I can verify the correct amount is being sent.

### Description

*Type*: Feature

*Summary*: When a user is sending SNT for a transaction, can we reflect that in the wallet interface?

#### Expected behavior
For an SNT transaction, the wallet tells me how much SNT I am sending, rather than 0 ETH.

[2018-10-27 11:54] chadyj commented on #6539
We will have this as part of the wallet redesign :-)
https://docs.google.com/presentation/d/11vEgAbZgXvCwiS2QdMmW3vjOBApx5y8ARXNbFLyJBuk/edit#slide=id.g32ab737105_2_49
cc @denis-sharypin

<blockquote><img src="https://lh4.googleusercontent.com/Y81kjIb9TtxidBE1_e0sKd0dp5sDO92fNxJhrMFDC1aRybpVn7vfodWii5dFpZ4qVfZa5Q=w1200-h630-p" width="48" align="right"><div>Google Docs</div><div><strong><a href="ht

[2018-10-27 12:25] asemiankevich commented on #6524
@ligi thansk for the report! This should gone in 0.9.30 release that is out now : )

[2018-10-27 12:26] ligi commented on #6524
Thanks for the fix!

[2018-10-27 13:03] churik commented on #6210
Still reproducible. There is no popup with `contact.whisper-identity must be of type 'string' got 'null' `, but still can see `Unknown` in user profile.

[2018-10-27 13:29] Serhy opened #6540 ""There is no route defined for key wallet-transaction-sent" app crash after Sign TX in Dapp"
***Type***: Bug

***Summary***: It appeared for me when I tried to use `aftifaqts.club` Dapp. After signing the transaction in this Dapp - app crashed with the `There is no route defined for key wallet-transaction-sen` error.
Note: in a case when using another tx fee (i.e. if I hit 'Done' button from Transaction Fee screen)
Note2: it's all fine when sending transaction two times in a row from Simp

[2018-10-27 13:51] rachelhamlin commented on #6539
Woo! Should I close this?

[2018-10-27 15:16] yevh-berdnyk commented on #5857
We don't need to install and uninstall an app for each test in current implementation with Docker so closing the issue

[2018-10-27 15:16] #5857 closed, assigned to yevh-berdnyk

[2018-10-27 19:39] maraoz opened #6542 "how can I export my private key (not mnemonic words) from Android wallet?"

[2018-10-27 19:43] maraoz commented on #6542
Same question for exporting the mnemonic words, can't find it either! :(

[2018-10-28 03:34] ricmoo commented on #6539
I am having the same issue. I was just poked that I should mention that here. :)

[2018-10-28 05:07] denis-sharypin commented on #6539
Would be amazing if developers could follow mockups. Screenshot from figma
<img width="482" alt="screenshot 2018-10-28 05 59 47" src="https://user-images.githubusercontent.com/6559881/47612245-c885ad00-da76-11e8-9f74-e9b7fc214f2e.png">
Also representing a ENS smart contract with the user pick and name also would help users understand what's going on

[2018-10-28 07:52] ghost commented on #5270
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-28 10:23] rasom commented on #6294
https://github.com/status-im/react-native-desktop/issues/362

[2018-10-28 10:27] jakubgs commented on #6252
I just noticed that the desktop app has a search feature now, in the top left corner.
I guess the only thing missing is adding some key bindings so the workflow is mouse-less, like:

1. Press ctrl+k (or others) to focus the search field regardless of where you are in the app
2. Type your query
3. (optional) select the channel/person using arrow keys if necessary
4. Open that channel/chat with ente

[2018-10-28 10:31] churik commented on #6396
Can be reproducible on mobile as well, only restarting app helps (faced with this on IOS and on Android 7.0 (Genymotion emulator, Samsung Galaxy S7))

[2018-10-28 10:53] ghost commented on #5259
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-28 10:53] #5259 closed, assigned to nobody

[2018-10-28 13:39] oftenfrequent opened #6545 "Sending a Transaction based on data retrieved from scanQRCode causes the transaction modal to disappear"
As the title says, firing a transaction immediately with data received from `scanQRCode` causes the transaction modal to disappear. I believe it has something to do with the browser only expecting one overlay modal. Since the QR scan modal takes precedence, if there is not sufficient time for the QR scan modal to disappear _before_ the transaction modal appears, then the transaction modal will sli

[2018-10-28 14:06] SlizkovaGanna opened #6547 "For desktop, PN are not received when app is closed"
Type: Bug

Summary: There is a rule listed for mobile in https://github.com/status-im/status-react/issues/4910 :
Notification appears whenever a message is received and the app is on background or turned off
The assumption is that the same behaviour is valid for desktop.

**Expected behaviour**

Push notifications should be received when app is closed on desktop

**Actual behaviour**

Push notific

[2018-10-28 14:53] ghost commented on #5336
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-28 16:19] agoeden12 commented on #2884
I have already cancelled work a week ago and notified the funder that there
was not enough documentation at the time when he accepted me to work so I
would appreciate it if I stopped receiving emails saying I abandoned work.

Thanks,
Andrew Goeden
State Farm Enterprise Technology Intern
mobile: 678-622-3049

On Sun, Oct 28, 2018, 12:15 Gitcoin.co Bot <notifications@github.com> wrote:

[2018-10-28 18:01] lrettig opened #6550 "Cannot send SNT in chat using slash command"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be able to send SNT to my friend in a status chat.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections b

[2018-10-28 21:44] maxhora commented on #6547
cc: @chadyj
Currently desktop doesn't support receiving or generation of push notifications, it supports just generation of local desktop notifications in OSX notification center.

That sounds as valid feature request.

[2018-10-29 07:27] ghost commented on #5341
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-29 11:16] chadyj commented on #6531
cc @janherich

[2018-10-29 12:22] ghost commented on #4868
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-29 13:14] denis-sharypin commented on #4975
Fixed by this https://github.com/status-im/status-react/pull/6541

[2018-10-29 13:14] #4975 closed, assigned to nobody

[2018-10-29 14:52] ghost commented on #5348
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-29 16:22] ghost commented on #5273
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-29 16:22] ghost commented on #5283
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-29 16:22] #5273 closed, assigned to nobody

[2018-10-29 16:22] #5283 closed, assigned to nobody

[2018-10-30 07:12] ghost commented on #802
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-30 07:12] #802 closed

[2018-10-30 08:16] lukaszfryc opened #6556 "Crash when opening universal link to contact profile in Status browser"
### Description

*Type*: Bug

*Summary*:

App crashes when trying to open universal link to a contact from within Status browser. The crash happens when "Open in Status" button is clicked:

<img src="https://user-images.githubusercontent.com/7532782/47704440-ed6b5300-dc23-11e8-95da-c798fff8dcbf.png" width="200">

#### Expected behavior
Universal link to a contact profile can be opened from within

[2018-10-30 11:12] ghost commented on #5354
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-30 12:12] ghost commented on #4205
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-30 13:12] ghost commented on #5296
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-30 13:12] #5296 closed, assigned to nobody

[2018-10-30 13:45] ghost commented on #4625
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-30 13:45] #4625 closed, assigned to alwx

[2018-10-30 18:20] jeluard opened #6558 "Make web3 opt-in default"
### User Story

As a user, I want the latests web3 optin support to be enabled by default.

### Description

*Type*: Feature

Web3 optin is enabled by default.

[2018-10-30 21:25] ghost commented on #5358
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-10-31 08:21] denis-sharypin commented on #4011
up

[2018-10-31 08:44] goranjovic commented on #6396
Also two hackaton participants mentioned that they had this problem on genymotion run within osx. Restarting the app helped.

[2018-10-31 10:32] churik opened #6561 ""Network request failed" at attempt to switch to profile when offline"
### Description

*Type*: Bug
*Summary*: can see error when switching to profile without connection (when offline)

#### Expected behavior
no error is shown

#### Actual behavior
<img width="568" alt="netw" src="https://user-images.githubusercontent.com/4557972/47781917-3a702780-dcff-11e8-88cc-e8d04458555e.png">

### Reproduction

- Open Status
- Log in
- Go to offline
- Open Profile

### Additiona

[2018-10-31 10:59] yevh-berdnyk commented on #4205
The issue is still reproducible and should not be closed

[2018-10-31 10:59] axic opened #6562 "Have the ability to retrieve the seed even after it was backed up"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user it would be nice to have a way retrieving the seed even after it was backed up.

### Description

*Type*: Feature

*Summary*: I had two different accounts, because started to use the app quite a while back and one of the recent derivation changes caused a new account to be created. I did back up one

[2018-10-31 11:02] churik commented on #5242
Still reproducible

[2018-10-31 11:10] ghost commented on #5297
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-31 13:50] ghost commented on #4592
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-31 13:50] #4592 closed, assigned to nobody

[2018-10-31 14:19] rachelhamlin opened #6563 "SuperRare art not loading in Status"
### Description

*Type*: Feature

*Summary*: SuperRare art is not loading in the Status wallet.

#### Expected behavior
I can see the SuperRare artwork that I own.

#### Actual behavior

Images in SuperRare are not loading.

![image](https://user-images.githubusercontent.com/15470435/47794201-48827000-dd20-11e8-993f-2f4cda62f288.png)

[2018-10-31 14:20] rachelhamlin commented on #6563
Duplicate issue

[2018-10-31 14:20] #6563 closed, assigned to nobody

[2018-10-31 14:30] ghost commented on #5049
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-10-31 14:30] #5049 closed, assigned to nobody

[2018-11-01 06:09] cheatfate commented on #5793
I'm just curious, because i'm actually very interested in this feature.
You said you are using `react-native-keychain`, and i see this library is actually supports `Keychain.BIOMETRY_TYPE::FINGERPRINT`. Is it tough task to implement fingerprint usage on Android?

[2018-11-01 07:55] chadyj opened #6564 "Desktop offline inbox broken"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a desktop user, I want to fetch messages so that I can read offline messages.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens.

[2018-11-01 08:02] chadyj commented on #6564
[Status.log ](https://gist.githubusercontent.com/chadyj/4f821a6f16117bd41c74607287781469/raw/33ceb8be65100b1a5c7ecee4aedee6bddec93630/Status.log)

I tried looking for problems but this log file is gnarly!

[2018-11-01 08:18] chadyj commented on #6564
Also tried logging out, creating a new account, joining public chats, but still didn't download history.

[2018-11-01 08:28] asemiankevich commented on #6564
i saw that and reinstalled status for today's nightly and finally was able to get some messages

[2018-11-01 09:40] churik opened #6565 "Click on link quotes the message instead of opening it in browser"
### Description

*Type*: Bug

*Summary*: in this https://github.com/status-im/status-react/pull/6263 were fixed onPress events (checked on https://github.com/status-im/status-react/pull/6263#issuecomment-433468282), but in current nightly instead of redirecting to browser it is quoting a message in text area

#### Expected behavior
link is opened

#### Actual behavior
message is quoted; no redirec

[2018-11-01 09:52] chadyj commented on #6564
[Geth.log](https://gist.githubusercontent.com/chadyj/8d150eb2037e0bd94eede57d1797d507/raw/633298e44d526043fad014e859da8d53c5afc503/geth.log) by request :)

[2018-11-01 09:57] churik commented on #6564
Some of people mentioned the same for mobile, so I don't think it is device-specific

[2018-11-01 09:57] chadyj commented on #6565
@janherich Are we expecting some improvements from you that will fix this issue?

[2018-11-01 10:36] goranjovic commented on #6505
Tried this out in local and it doesn't look like a good idea any more. What happens is that if 0 is silently replaced by 1 wei, then the transaction is also going to fail (e.g. on xdai 1 gwei looks like a good gas cost at the moment), but the reason for it is obscured by the replacement.

[2018-11-01 10:41] churik commented on #6564
Steps to reproduce with new public chat:

- Mobile: create new public chat  (i.e. `#testone`)
- Mobile: send a message to this chat (i.e. `123`)
- Mobile: close an app
- Desktop: log in
- Desktop: join `#testone`
- Waiting for messages to fetch

Expected result:
messages are fetched
Actual result:
no messages, constant  "Fetching messages"

Reproducible only for desktop.
[Status.log](https://githu

[2018-11-01 11:12] chadyj commented on #6393
cc @cammellos We discussed something like this in the past

[2018-11-01 11:27] chadyj commented on #6564
Tried to repro on latest android nightly, and mobile works ok. As far as I can see it is desktop only.

[2018-11-01 11:29] cammellos commented on #6564
yes, so far it feels almost like mobile & desktop are running two different versions of status-go, but investigating

[2018-11-01 11:39] cammellos commented on #6564
figured out the reason, desktop pulls a version which is generated by github automatically.
That means that it is not pulling the code you uploaded, but the code of status-go at the time you created a release (therefore it might not be the same in mobile, and also we can't really choose which code desktop is bundled with).

[2018-11-01 11:48] chadyj commented on #5314
Hey @alwx did you make any progress with this before things got busy with devcon?

Either way still interested, or should we unassign so someone else can grab?  cc @siphiuel

[2018-11-01 11:48] maxhora commented on #6564
@cammellos currently, the URL of status-go sources is obtained there https://github.com/status-im/status-react/blob/develop/modules/react-native-status/desktop/CMakeLists.txt#L41 as
[code]
where ${STATUS_GO_VERSION} gets the value from file https://github.com/status-im/status-react/blob/develop/STATUS_GO_VERSION and at the moment it's `0.16.4-4-gaf1f6eb5`

<blockquote><img src="https://avatars3.gi

[2018-11-01 11:48] vitvly commented on #6564
@cammellos great find! We are pulling the release from e.g. https://github.com/status-im/status-go/archive/v0.16.4-4-gaf1f6eb5.zip, and not https://github.com/status-im/status-go/releases/download/v0.16.4-4-gaf1f6eb5/status-go-0.16.4-4-gaf1f6eb5.aar (in case of Android). Why would they be different?

<blockquote></blockquote>
<blockquote></blockquote>

[2018-11-01 11:54] cammellos commented on #6564
@siphiuel @MaxRis basically to give a concrete example:
We created a release based on a branch on jenkins excluding a commit in develop, as it gives this error on the mailserver. This commit was therefore excluded from the ios/android artifact.

We then created a release on github uploading the artifacts (without that commit), but the archive that desktop uses is created automatically on github ba

[2018-11-01 12:08] maxhora commented on #6175
1st step is to investigate possibility to execute custom JS script by Qt-only tools (WebEngine Qt's module)

[2018-11-01 12:29] #6061 closed, assigned to vitvly

[2018-11-01 12:33] #6415 closed, assigned to dmitryn

[2018-11-01 12:36] chadyj commented on #6316
@tersec looks like the queries are working nicely so what do you think about doing daily auto updates for analytics.status.im?

[2018-11-01 12:47] ghost commented on #5368
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-01 13:06] pedropombeiro commented on #6564
Some time ago I had started https://github.com/status-im/status-go/pull/1208 to harmonize the way we build mobile and desktop (to download prebuilt status-go on both cases), but for some reason that wasn't merged and then I got started on the Windows port effort.

[2018-11-01 14:04] #6564 closed, assigned to cammellos

[2018-11-01 14:07] ghost commented on #4856
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-01 14:13] vitvly opened #6567 "Show connection status within app"
### Description
It would be nice to have an indicator somewhere in the app that would show which mailserver the app is connected to, and whether the connection is active. This should work in conjunction with the current network status notifications.

In case when there is a connection failure, click on the indicator should display a window with a more detailed error text, that can be useful during

[2018-11-01 14:18] vitvly opened #6568 "Show connection stats inside the app"
### Description
In order to debug some of the connection issues, it would be nice to enable connection stats logging on the client side. E.g., it can be hidden under a Profile->Advanced menu, and would display
- bytes/packets total counts sent in both directions
- current bandwidth usage
- average timeout values
- etc.

Related to #6567

[2018-11-01 14:22] vitvly opened #6569 "Do not display logs by default in release builds; make it possible to enable in the UI"
### Description
We should disable all logs by default. However, it should be possible to temporarily enable logging via advanced settings in Profile.

[2018-11-01 14:24] vitvly opened #6570 "Fix scroll stuttering in chat view"
### Description
Scrolling the chat view if often laggy and/or stuttering, even after all messages have been fetched from the mailserver, and there is no new content.

[2018-11-01 14:36] vitvly opened #6571 "Provide standard context menus in input fields"
### Description
There are some menu actions that are standard across desktop apps and should be available from context menus in edit fields, e.g.:

- Cut
- Copy
- Paste
- etc.
<img width="270" alt="screen shot 2018-11-06 at 16 24 23" src="https://user-images.githubusercontent.com/1019573/48070440-8da31800-e1e0-11e8-867c-f56e9c44baf0.png">

[2018-11-01 14:37] ghost commented on #4813
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-01 14:47] ghost commented on #4679
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-01 14:47] ghost commented on #4889
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-01 15:17] ghost commented on #4272
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-01 15:33] chadyj commented on #5749
Ping @goranjovic any updates on this?
Cc @oskarth

[2018-11-01 21:27] ghost commented on #5375
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-02 00:04] maxhora commented on #6175
Was able to use Qt's WebEngine to run JS test app https://github.com/status-im/react-native-desktop/tree/feature/webengine-executor
Blocking thing is realm module used in status-react. Support of WebEngine, probably, will require too much effort.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com

[2018-11-02 03:07] hbakhtiyor opened #6572 "can't run desktop linux version"
getting the error when run `StatusIm-181025-083129-0bc9fb-nightly.AppImage`

[code]

os: ubuntu 18.04.1 64-bit

[2018-11-02 07:18] axic opened #6573 "[Onboarding] Have the ability to use fingerprint log in to the app (including Touch ID)"
### User Story

As a user it would be nice to use fingerprint log in to the app. In many environments (such as conferences) it feels awkward to enter passwords on the phone while people/cameras are potentially watching and that password unlocks access to digital assets.

---

To the bounty hunter:

(1) Add a setting to require touch/face-id to sign-in (just like "Browser privacy mode")
(2) Impleme

[2018-11-02 08:59] tersec commented on #6316
[code]

and

[code]

Are the current (by per distinct user and by per day, respectively; one can also combine them) queries, for the record.

@chadyj analytics.status.im is, as far as I know, deprecated; https://status.im/analytics/ is the current URL, with a better design. I'm not sure if it makes sense to keep analytics.status.im updated.

<blockquote><img src="/img/share.png" width="48" align="

[2018-11-02 09:57] goranjovic opened #6574 "Design token details screen"
### User Story

As a user I want to be able to easily check and verify any details on any of my tokens (name, symbol, icon, address, decimals)

### Description

*Type*: Feature

*Summary*:

User should have an easy way to double check things like contract address of any of his tokens without having to look at the code. This need is increased by the fact that we won't be hardcoding decimals for the

[2018-11-02 10:21] chadyj commented on #6316
Ah fantastic! Let's shut the old one down :)

So will you be able to update https://status.im/analytics/ens_registration.html daily?

<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a href="https://status.im/analytics/">Status, a Mobile Client for Ethereum 2.0</a></strong></div></blockquote>
<blockquote><img src="/img/share.png" width="48" align="right"><div><strong><a

[2018-11-02 10:28] J12B opened #6575 "Certain channels do not load in Status Desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # The #status channel does not load for me in Desktop. I can join the Channel, but no messages load. If I join the channel in Mobile, I can see new messages come in. Literally, I've been in the Status channel for a week on desktop, but have had zero messages. I've tried "clear history" and "delete

[2018-11-02 10:32] adambabik commented on #6314
If we want to keep the unique number of people participating in the chats thorough day, week, month, we need to unfortunately store the numbers somewhere. The problem is that the counter can be restarted any moment. To get an increasing counter you can do `shh_unique_authors_total{source="slave-01.ac-cn-hongkong-c.metrics.hq",fleet="eth.beta"}` but then if the container backing up the number resta

[2018-11-02 11:18] 0x-r4bbit opened #6576 "Can't set profile picture on Android"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to set my profile picture.

I know this is supposed to be working already on mobile and in fact, it did work for me once with an earlier nightly version of Status. However, for the past month or so, I'm unable to set a profile picture.

I've looked through existing issues and found

[2018-11-02 11:37] vitvly commented on #6565
There was some bad merge on my part in react-native-desktop. Fixed it, so we can retest in the new nightly where it will pickup the fixed react-native repo.

[2018-11-02 14:16] chadyj commented on #5271
Still having memory issues. My desktop was using 4.6gb ram.

Perhaps some deeper memory profiling needs to be done?

[2018-11-02 14:50] flexsurfer commented on #5162
fixed in develop

[2018-11-02 15:00] oskarth commented on #5749
I feel like the proper solution for this is to prioritize getting LES etc to work and figure out ways to make it better (CHT; WiFi only; periodic; ULC; even combine with Infura and VIP NODE; improving JSON RPC like Augur; etc)

[2018-11-02 15:42] jfarid27 opened #6580 "No visual feedback when registering an ENS with no SNT"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want visual feedback when registering an ENS with no SNT.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections b

[2018-11-02 15:56] jfarid27 opened #6581 "Cryptokitties connection is broken."
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want visual feedback when completing a cryptokitties connection

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sect

[2018-11-02 16:04] StatusSceptre commented on #6550
Hey @lrettig you may need to first go to your wallet and “manage assets”
At the top right elipses and add the token you have before it shows in chat.

Just tested and as soon as I have the asset added in my wallet I can send tokens in chat.

[2018-11-03 10:57] ghost commented on #5382
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-04 07:53] ghost commented on #5270
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-04 07:53] #5270 closed, assigned to nobody

[2018-11-04 11:03] ghost commented on #3894
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-04 14:01] ghost commented on #5366
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-04 15:01] ghost commented on #5336
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-04 15:01] #5336 closed, assigned to EugeOrtiz

[2018-11-04 16:31] ghost commented on #5404
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-04 16:31] ghost commented on #5403
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-04 16:31] ghost commented on #5402
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-04 19:51] ghost commented on #5405
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-05 08:20] churik commented on #6565
Fixed in nightly 05/11/2018

[2018-11-05 08:20] #6565 closed, assigned to vitvly

[2018-11-05 08:41] rachelhamlin opened #6583 "Message reply mixes up sender & content"
### User Story
As a user, I want to reply to messages in a chat, so that other participants know specifically what I'm responding to.

### Description

*Type*: Bug

*Summary*: Double tapping on a message created a reply to the message below it. The content was wrong, but the sender was partially correct and had the right display name.

#### Expected behavior
When I double tap on a message to reply

[2018-11-05 08:56] 0x-r4bbit opened #6584 "Desktop app crashed and is unable to start anymore"
Yesterday I've experienced for the first time with Status Desktop that, right after trying to login, the "App quit unexpectedly". After that, the application seems unable to start again. While I can start the Status program, there's no window showing up with the app (basically like running any program on mac but having all windows closed).

I've reinstalled the latest nightly and now luck. After I

[2018-11-05 09:02] jeluard commented on #5887
Duplicates #6169

[2018-11-05 09:02] #5887 closed, assigned to denis-sharypin

[2018-11-05 09:05] rachelhamlin commented on #6169
@jeluard why did we want only the path to be visible? Did you mean to have the path following `denis.stateofus.eth`?

[2018-11-05 09:13] rachelhamlin opened #6585 "Granting profile access to a DApp gives access to any DApp with same host"
### User Story

As a user, I want to know that my data is granted only to the DApps I specify, so that I have control over my privacy and information.

### Description

*Type*: Bug

*Summary*: Currently, requests for a user's contact code or Ethereum provider come from the hosting service, typically `ipfs.infura.io/...`.

Once the user grants permission for their data, the permission is given to _

[2018-11-05 09:24] jeluard commented on #6169
@rachelhamlin In case of a website hosted on IPFS there is no real URL. The one we have right now (infura based) and kind of implementation details and I don't think we should show it.

So the only interesting part left is the current path the user is navigating (that's `index.html`, `/folder/user.html?key=value`, ..)

[2018-11-05 09:26] jeluard commented on #6585
@flexsurfer Why do we need design here?

[2018-11-05 09:28] flexsurfer commented on #6585
@jeluard if we want to grant access to full URL, we need to understand how to show it to a user, and if there any sense to show it at all, maybe something like grant access to this Dapp or smth

[2018-11-05 09:41] jeluard commented on #6585
@denis-sharypin does that makes sense? We need some design love here! :)

[2018-11-05 09:43] jeluard opened #6587 "IPFS hosted apps should not share cookies/etc"
### User Story

As a user, I want to know that my data is not shared between different IPFS hosted apps (cookies, localStorage). As we are currently leveraging infura subdomains

### Description

*Type*: Bug

*Summary*: Currently opening an ENS/IPFS app will redirect to `ipfs.infura.io/..`. Because of web cookies and localStorage policues this leads to share data between DApps. Make sure this type

[2018-11-05 09:54] lukaszfryc commented on #5594
@PombeirP @cammellos is there anything we can do about this issue? It's really inconvenient to ask users again to add me as contact after I recovered my account.

[2018-11-05 10:02] cammellos commented on #5594
@lukaszfryc https://github.com/status-im/status-react/pull/6242 had a way to sync your contacts across your devices, unfortunately there were a few issues and I pull the plug on this one (code is in but not enabled), once group-chats & pairing (sending one-to-one messages) are tested ok & merged, I can re-enable, that should alleviate the pain, as long as you have at least one device with the cont

[2018-11-05 10:04] lukaszfryc commented on #5594
@cammellos cool. That should help. But, is there a plan to recover contacts (and other account data) in case I don't have any other device?

[2018-11-05 10:09] cammellos commented on #5594
That's a difficult choice to make, basically we'd need to allow the user to make a backup, technically it's simple, but we would need to have a discussion on the security implications.

I can say 100% that we don't want messages to be restored in different devices through a online-backup, as that would invalidate PFS (Signal as well does not allow you to do that). Contacts/chats etc we could consi

[2018-11-05 10:10] lukaszfryc commented on #5594
I see. Thanks for info. Let me create a discuss post with it.

[2018-11-05 10:12] J12B opened #6588 "Mobile app crashed upon clicking on a Status mobile notification."
![screenshot_20181105-100330](https://user-images.githubusercontent.com/41283474/47991811-1c316f80-e0e3-11e8-8fd3-c0bee237ff9e.png)

### Description

*Type*: Bug

[comment]: # I received a mobile notification on my phone for a new message. I clicked on the notification and received an error message (screenshot attached). The app then crashed.

#### Actual behavior
[comment]: # (Describe what actua

[2018-11-05 10:35] rachelhamlin commented on #6169
After discussing this in Status, I think that if we want to display file paths, it should come after the ENS name. For example:
`statusnames.eth/page.html`

[2018-11-05 10:35] rachelhamlin commented on #6169
Curious: what happens when I interact with the browser bar in this mockup? It has two lines. Which text am I editing when I tap it? Should there be some animation to minimize one line?

[2018-11-05 10:39] flexsurfer commented on #6169
let's make it simple, show only ens, and if you click on it show full url

[2018-11-05 10:42] jeluard commented on #6580
@jfarid27 Thanks for the feedback! This issue should probably be added to the https://github.com/status-im/ens-usernames repo.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/ens-usernames">status-im/ens-u

[2018-11-05 10:44] rachelhamlin commented on #6169
That works @flexsurfer!

[2018-11-05 10:46] flexsurfer commented on #6169
@rachelhamlin `Reproduction Navigate to vote.status.im in any browser.` , but `vote.status.im` is regular dns, it's not ens, redirect for it implemented on `status.im` side, we don't do any redirects for it in the status browser

[2018-11-05 11:09] denis-sharypin commented on #6574
I added screens to the flow of adding custom tokens. https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet_Source-of-Truth?node-id=160%3A3954

<blockquote><img src="/file/XUehMnhyD1FGcWzvGz6SXqvh/thumbnail?ver=thumbnails/8de4d769-18c3-450b-91c4-df12616f0030" width="48" align="right"><div><img src="https://static.figma.com/app/icon/1/favicon.svg" height="14"> Figma</div><div><strong><a href="h

[2018-11-05 11:14] denis-sharypin commented on #6585
Yeah probably better to say something generic then
<img width="374" alt="screenshot 2018-11-05 12 14 31" src="https://user-images.githubusercontent.com/6559881/47995036-62db9580-e0f4-11e8-920b-3a0054cb30e6.png">

[2018-11-05 11:42] alwx commented on #5496
@charlescrain it now gives us the following error:

[code]

Were there any breaking changes made recently?

[2018-11-05 11:51] ghost commented on #1623
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-05 12:23] rachelhamlin commented on #6169
Gotcha @flexsurfer so we can only handle domains that the browser redirects, aka ENS addresses?

[2018-11-05 12:31] ghost commented on #4868
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-05 12:33] hetvart opened #6589 "Fix profile picture related tests"
Lately, 3 tests related to profile picture are permanently failing.
- Can set own profile picture from gallery (https://ethstatus.testrail.net/index.php?/cases/view/5302)
- Can remove profile picture (https://ethstatus.testrail.net/index.php?/cases/view/5454)
- Can select picture for profile several times in a row. save - change - change - change save etc (https://ethstatus.testrail.net/index.php?

[2018-11-05 12:37] hetvart opened #6590 "Fix tests using offline mode"
Android API Google Emulator hosted on Saucelabs started failing due to permissions restriction while switching network connection type (via API).

Need to change a way to go airplane mode/wifi only etc.
Affected tests:

- [x] Can read messages sent to me when I was offline (1-1 chat) (https://ethstatus.testrail.net/index.php?/cases/view/5310)
- [x] Offline status is shown in Home and Chats when be

[2018-11-05 12:41] ghost commented on #5410
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-05 12:42] EugeOrtiz commented on #6571
@siphiuel is this related to issue #5547?

[2018-11-05 12:59] hetvart commented on #6589
See the related PR: https://github.com/status-im/status-react/pull/6591

[2018-11-05 13:18] jeluard commented on #6534
@morelazers Do you remember by any chance what your extensions looked like? Can't access the one on IPFS :)

[2018-11-05 13:30] pedropombeiro opened #6593 "Improve quality of logs in Status Desktop"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to be able to quickly scan high-quality logs from Status Desktop so that I can quickly diagnose an issue.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what

[2018-11-05 13:42] jeluard opened #6594 "Add local chats contacts data in chat command payloads"
### User Story

As a developer, I want to have access to a contacts available in current chat. This data will be part of the previews and on-send/on-receive events.
In 1-1 chat, get access to the recipient details via `:contact`
In private group-chats, get access to all group members via `:contacts`
In public chat, does nothing.

### Description

*Type*: Feature

[2018-11-05 13:42] pedropombeiro opened #6595 "Fix hex value format error in call to :shh/send-direct-message"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

Unexpected errors appear on the log in Status Desktop (see `:send-status-message-error` line on Logs section)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

14:33:29.869 - D - ubuntu-server err:  "ERROR [status-im.events:1033] - :send-status-message-error Error: invalid argument 0:

[2018-11-05 13:44] jeluard opened #6596 "Add a component to access local camera"
### User Story

As a developer, I want a component giving access to local camera and gallery images. This allows developers to access raw image data.

 This will require proper permissions.

### Description

*Type*: Feature

[2018-11-05 13:47] jeluard opened #6597 "Add a map component"
### User Story

As a developer, I want a status [extensions](https://status.im/extensions/) component allowing to show map details.

 This must leverage a webview that will be exposed as a standalone component.
How data is passed back and forth is open to discussion.
Special care must be taken to security and privacy.

### Description

*Type*: Feature

[2018-11-05 13:47] lukaszfryc opened #6598 "Can’t click on buttons in user profile when the profile is accessed from group info screen"
### Description

*Type*: Bug

*Summary*: If a user profile screen is opened by clicking on user in a group info screen, the buttons "Send message", "Send transaction", "Add to contact", etc. do not trigger any action.

#### Expected behavior
The buttons navigate to correct screens and screen hierarchy is correct. E.g. clicking "Send transaction" opens chat with "/send" and the back button in chat

[2018-11-05 13:51] cammellos commented on #6595
@PombeirP when does this occur, do you have repro-steps?

[2018-11-05 13:53] jeluard opened #6599 "Improve ethereum events"
### User Story

As a developer, I want an easy to use set of ethereum events

### Description

*Type*: Feature

`ethereum` events must return a map
It must be esy to understand if some parameters was wrong.

[2018-11-05 13:59] lukaszfryc opened #6600 "Group chat should reappear when user is added back to it again"
### Description

*Type*: Bug

*Summary*: When user is re-added to a group chat, the chat should be immediately shown on the user side with “{username} joined the group”. Currently, it’s shown only after user is added back and a new message is received.

### Reproduction

- Turn ON dev mode to be able to access group chats
- Create a group chat and invite 2nd user
- 2nd user: Leave the group chat
-

[2018-11-05 14:01] jeluard opened #6601 "Add ethereum/log events"
### User Story

As a developer, I want an event to access ethereum logs

### Description

*Type*: Feature

[2018-11-05 14:05] rachelhamlin commented on #6585
Suggest: `This DApp`

[2018-11-05 14:09] jeluard opened #6602 "Add geolocation event"
### User Story

As a developer, I want an event to access user current location. This will require proper permissions.

See https://github.com/status-im/status-react/blob/develop/src/status_im/extensions/core.cljs

### Description

*Type*: Feature

[2018-11-05 14:11] ghost commented on #4910
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-05 14:13] lukaszfryc opened #6603 "Differentiate between user being removed from a group chat vs user leaving the chat by himself"
### Description

*Type*: Feature

*Summary*:

Currently, when user is removed from a group chat there is "{username} left the group" system message (implemented in https://github.com/status-im/status-react/pull/6532). But, I think we should be more specific here and say "{username} was removed from the group" or "{username} was removed from the group by {username2}". This way both the user and oth

[2018-11-05 14:14] jeluard opened #6604 "Finish chat command support"
### User Story

As a developer, I want to be able to provide parameter value from a suggestion implementation.

### Description

*Type*: Feature

[2018-11-05 14:15] lukaszfryc commented on #6603
cc @errorists

[2018-11-05 14:16] cammellos commented on #6598
@lukaszfryc are you sure you are not on your own profile?
If that is the case, should we allow a user to see to his profile page?

[2018-11-05 14:17] jeluard opened #6605 "Improve unhandled command message design"
### User Story

As a user, I want unrecognized chat command to be nicely rendered.
This happens if one of the chat command recipient doesn't have the necessary extension installed.

### Description

*Type*: Feature

[2018-11-05 14:33] asemiankevich opened #6606 "User is redirected to home screen after opening and closing link in a chat"
### Description

*Type*: Bug

*Summary*: After i received a link in chat and opened it in Status browser i tap close and then i am redirected to Home screen which is not expected. I want to be redirected to the same chat i opened the link from.

#### Expected behavior
User is redirected back to the chat where the link was opened from

#### Actual behavior
User is redirected to Home screen

### Rep

[2018-11-05 14:37] EugeOrtiz opened #6607 ""Create group chat" fixes for Desktop"
### Description
UI fixes for the process of creating a group chat on desktop.

### Solution
![group chat - select contacts - contact list1](https://user-images.githubusercontent.com/37297779/49299258-0e7ec800-f49e-11e8-8303-01c31079e8bf.png)

[Figma designs - Desktop](https://www.figma.com/file/MRYBI5axcTwL4Ft8xAYhFOfy/Desktop-Chat?node-id=219%3A41389) > Group chat

[Figma designs - Mobile](https:

[2018-11-05 14:40] lukaszfryc commented on #6598
@cammellos oh, you are right. I was on my own profile. So, I think we should not allow to click on user's own profile.

Btw, I found that non-admin can't access other people's profiles in group chat info screen. There is no options ("...") button like group admin has:

<img src="https://user-images.githubusercontent.com/7532782/48004207-d5f30500-e110-11e8-9ac1-3bce9f0519d4.png" width="500">

I thi

[2018-11-05 14:41] jeluard opened #6608 "Create more extensions example"
### User Story

As a user, I want access to example for easy on-ramp

### Description

*Type*: Feature

[2018-11-05 15:01] ghost commented on #5348
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-05 15:40] pedropombeiro commented on #6595
@cammellos it happens every time I sign in to an account. Attaching a recent log from Desktop where it happened 3 times.

[Status.log](https://github.com/status-im/status-react/files/2549388/Status.log)

[2018-11-06 06:44] dshulyak commented on #5461
@flexsurfer @jeluard signTypedData wa implemented and will be added with the next update of status-go. i assumed that the integration with status-react will be done the same way as for signing raw data and transactions. So, there is a binding for this call with a following signature https://github.com/status-im/status-go/blob/develop/lib/library.go#L356

<blockquote><img src="https://avatars3.gith

[2018-11-06 07:18] ghost commented on #5420
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-06 08:16] tersec commented on #6314
The rate is all that matters here, so that's fine.

[2018-11-06 09:44] churik opened #6613 "Scrollbar width doesn't match visible part of chat history"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: introduced in https://github.com/status-im/status-react/pull/6403.
Scrollbar width is not constant when you scroll chat history (doesn't fit rea

[2018-11-06 10:03] morelazers commented on #6534
@jeluard https://ipfs.enzypt.io/ipfs/QmdY2qeffNwYs4cyn2WreHzKisB7opBaCLFuoepmsr7pJe

<blockquote></blockquote>

[2018-11-06 10:33] rachelhamlin commented on #6435
Hey again @mjdietzx - just to update you, we're looking into this issue. I've received your submission to have blockimmo listed in Status and the DApp looks great. We think it's probably best not to list the DApp until this bug is fixed, as it blocks a key step in onboarding. Am I understanding that correctly?

[2018-11-06 10:40] lukaszfryc opened #6614 "Navigate to profile screen after clicking on a member in group info screen"
### Description

*Type*: Feature

*Summary*: When a group chat member (**non-admin**) opens the group info screen, he should be able to click on a member to see his/her profile.

#### Expected behavior
1) When member is clicked, navigate to his/her profile screen.
2) When I click on myself, nothing should happen.

#### Actual behavior
Currently, nothing happens when clicking on member's avatar or

[2018-11-06 10:41] lukaszfryc commented on #6598
I created https://github.com/status-im/status-react/issues/6614.

[2018-11-06 10:41] #6598 closed, assigned to nobody

[2018-11-06 10:49] mjdietzx commented on #6435
Hey @rachelhamlin , thanks!

I've looked into this more, and I don't think this is actually a bug. What I realized is all browsers have this problem on iOS (safari + other DApp browsers). It is due to iOS being strict about downloading files onto the device, and not Status itself.

So this is a non-issue (I forgot to close this bug). Thanks for the help though!

And we have implemented this part o

[2018-11-06 10:49] #6435 closed, assigned to nobody

[2018-11-06 10:54] rachelhamlin commented on #6435
@mjdietzx perfect! I'll include it in the next issue to add to our list. Thanks for testing thoroughly.

[2018-11-06 11:01] rachelhamlin opened #6615 "Add new DApps"
### Description

*Type*: Feature

*Summary*: Add 3 new DApps to list. These DApps were submitted by the developers.

#### Expected behavior

Crypto Takeovers, Cryptographics and blockimmo appear on DApp list.

**Crypto Takeovers**

Category: Fun & Games
Order: after CryptoPunks
[Icon](https://drive.google.com/file/d/144mkD6uw6zmwRa6ygfSNAsFnvmKtzHu0/view?usp=sharing)
URL: https://cryptotakeovers.c

[2018-11-06 11:18] ghost commented on #5354
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-06 13:19] lukaszfryc commented on #6208
Closing this issue as it is already implemented. Currently, a user can leave group chat by simply deleting it. She will not receive messages anymore and can be added back to the chat by the admin.

[2018-11-06 13:19] #6208 closed, assigned to nobody

[2018-11-06 13:22] lukaszfryc commented on #6201
@errorists could you link a design for the empty state? I can't find it in [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=227%3A320) project.

[2018-11-06 13:23] lukaszfryc commented on #3670
Already fixed as a part of bringing back group chats.

[2018-11-06 13:23] #3670 closed, assigned to nobody

[2018-11-06 13:26] lukaszfryc commented on #6201
Marking as `high-priority` as I think we can't release group chats with that blank page. We need to have some empty state.

[2018-11-06 13:29] lukaszfryc commented on #6206
Still the case. Low prio though.

[2018-11-06 13:34] J12B opened #6618 "Mobile notifications don't clear when selected"
### Description

*Type*: Bug

[comment]: # I have received a mobile notification at the top of my screen from Status: "You have a new message". When I click the notification, it takes me into Status. However, the notification doesn't clear when doing that, so it still appears like I have a new message even though I do not.

I can clear the notification by swiping, but would expect the notification

[2018-11-06 14:03] errorists commented on #6201
It's over here [Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=469%3A243). The 'invite friends' button there does the same thing as tapping '+' in Home and choosing Invite Friends.

[2018-11-06 14:16] EugeOrtiz commented on #6568
This is **very** technical information to solve a specific issue. Why do we need to show it to people that are not developers? What value do we offer with this? Is there any other way to obtain this info somehow without showing it in the UI? @siphiuel @chadyj

[2018-11-06 14:26] vitvly commented on #6571
@EugeOrtiz yes, this is mostly a (much less detailed) duplicate. I changed the title and description so that it is context menu-specific.

[2018-11-06 14:34] vitvly commented on #6568
@EugeOrtiz This might be hidden under Developer-only settings. This would assist in debugging end-user connectivity issues - users would be able to see and send us their network stats/logs. Right now we can only get app crash dumps, and only when app crashed. Sometimes app seems to be healthy, but there are no data sent. So if an end-user experiences message delivery issues, they cannot really see

[2018-11-06 14:57] #6534 closed, assigned to nobody

[2018-11-06 14:58] EugeOrtiz opened #6619 "Sync user profile image on desktop and mobile"
### User Story
As a user, I want to see my profile image synced both on mobile and desktop.

### Description
*Type*: Bug

*Summary*: After updating my user image on mobile, I don't see it reflected on desktop.

I changed my image on mobile:
![img_7454](https://user-images.githubusercontent.com/37297779/48070918-b4992400-e1b7-11e8-8f09-414175867a22.PNG)

This is what I see on desktop:
<img width="3

[2018-11-06 15:16] EugeOrtiz opened #6621 "Push notifications don't show who is sending the message"
### User Story

As a user, I want to see where a message is coming from when I receive a push notification.

### Description
*Type*: Bug

*Summary*: Push notifications don't indicate where the message is coming from and the only way to know is by opening the app and searching for that message.

#### Expected behavior
Show origin of the message on a push notification.

#### Actual behavior
Nothing

[2018-11-06 15:48] ghost commented on #5426
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-06 16:45] #2884 closed, assigned to nobody

[2018-11-06 16:46] schemar opened #6624 "Add OST to assets list"
### User Story

As a user I want to keep `OST` in my status wallet so that I can track and trade `OST`.

### Description

*Type*: Feature

*Summary*:
Add `OST` to the list of assets. [OST on etherscan.](https://etherscan.io/token/0x2c4e8f2d746113d0696ce89b35f0d8bf88e0aeca)

- symbol: OST
- name: Open Simple Token
- address: 0x2c4e8f2d746113d0696ce89b35f0d8bf88e0aeca
- decimals: 18

#### Expected b

[2018-11-06 17:23] schemar commented on #6624
After I realized how straight-forward it was, I  went ahead and created the PR 😊

[2018-11-06 20:55] ghost commented on #5432
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-06 21:28] ghost commented on #5358
This issue has been automatically closed. Please re-open if this issue is important to you.

[2018-11-06 21:28] #5358 closed, assigned to nobody

[2018-11-07 09:55] churik opened #6628 "After first login with existing account "Send" button is disabled until logout"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when login for the first time after upgrading to the new build, "Send" button will be disabled until relogin to the app.
Could reproduce 2 times from 5 attempts.

#### Expected behavior
Can send message

#### Actual behavior
Send button is disabled
<img width="346" alt="12345" src="https://user-images.githubuserco

[2018-11-07 10:20] adambabik commented on #6567
I think this issue should be marked as high-priority. Below, you can find more technical details how this Connectivity Indicator could be implemented.

---

### State "Connected with N"

- when we have at least one peer connected
- N is replaced with the number of connected peers
- `admin_peers` JSON-RPC command can be used to retrieve currently connected peers (`CallPrivateRPC` must be used)
- in

[2018-11-07 10:29] vitvly commented on #6567
Thanks @adambabik , great writeup!

[2018-11-07 12:32] ghost commented on #3734
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-07 13:04] hetvart opened #6631 "Create autotest for listed cases"
- [x] Can complete txn to dapp after onboarding called from dapp is completed https://ethstatus.testrail.net/index.php?/cases/view/5380
- [x] ~Can send Korean/Chinese characters in chat~ https://ethstatus.testrail.net/index.php?/cases/view/5392
- [x] Assets shown after account recovery (tokens and collectibles)https://ethstatus.testrail.net/index.php?/cases/view/5381
- [x] [Check fiat value is cor

[2018-11-07 13:17] hetvart commented on #6631
Can complete txn to dapp after onboarding called from dapp is completed.
Status: ready
https://github.com/status-im/status-react/pull/6632

[2018-11-07 13:28] EugeOrtiz commented on #6567
@siphiuel Where do you imagine this being shown? Is this a "technical" thing that we want to show to everybody?

[2018-11-07 13:30] Serhy opened #6633 "Bold instead of italic font on iOS for text wrapped in tildes"
***Type***: Bug

***Summary***: Text wrapped in tildes displayed with the bold font on iOS instead of italic.
Note: text wrapped in asterisks displays with the bold font as well - issue is that we need an italic for text in tildes.

**Note**: it's all fine on Android.
On desktop app there is no font at all applied but text is parsed (i.e. the `~text~` and `*bold*` displayed without asterisks/tilde

[2018-11-07 13:52] ghost commented on #4475
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2018-11-07 13:59] jakubgs commented on #6567
This needs to be shown to the users. Right now the app has no transparency on what is going behind the scenes, and anything doesn't work then there is almost no feedback to the user. This probably be inside those grey popups at the top that indicate the current state.

[2018-11-07 14:07] vitvly commented on #6567
I'd like this to be always visible somewhere in the corner, as a green/red indicator, and a click on it would show more detailed info as per @adambabik 's description. Maybe this can be visible only if a corresponding preferences option is turned on.

[2018-11-07 14:09] jakubgs commented on #6567
Yeah, and icon indicator with details on hover/touch does sound much nicer.

[2018-11-07 15:18] #4433 closed, assigned to dmitryn

[2018-11-07 15:55] flexsurfer commented on #6581
can't reproduce @lukaszfryc  could you confirm, please?

[2018-11-07 15:55] flexsurfer commented on #6484
can't reproduce @lukaszfryc could you confirm, please?

[2018-11-07 15:57] flexsurfer commented on #5418
fixed

[2018-11-07 15:57] #5418 closed, assigned to nobody

[2018-11-07 16:10] #3913 closed, assigned to nobody

[2018-11-07 17:08] charlescrain commented on #5496
Hi @alwx,
it shouldn't have changed, investigating now.

[2018-11-07 17:11] hetvart commented on #6631
Can send Korean/Chinese characters in chat
Status: ready
https://github.com/status-im/status-react/pull/6637

[2018-11-07 17:11] lukaszfryc commented on #6581
I only see the MetaMask request which is fixed by #6627

[2018-11-07 17:13] churik commented on #5960
@Serhy
still reproducilble on current nightly
Video: http://take.ms/r0ebQ

<blockquote><img src="https://api.monosnap.com/rpc/file/download?id=t2hRYiUmIvtJSDEdhfiMV3FAOchCYj&type=preview" width="48" align="right"><div>Monosnap screenshot tool</div><div><strong><a href="https://monosnap.com/file/t2hRYiUmIvtJSDEdhfiMV3FAOchCYj">File "screencast 2018-11-07 18-12-19.mp4"</a></strong></div><div>Monosna

[2018-11-07 17:13] charlescrain commented on #5496
@alwx @jeluard Can you guys check now? The VM we used ran out of space. My apologies for that.

[2018-11-07 17:16] vkjr commented on #6584
@PascalPrecht, Status communicates with process called `ubuntu-server`. When app crashes it sometimes doesn't terminate. So you can open Activity Monitor and kill it manually. After that app should start fine.

[2018-11-07 17:32] churik opened #6638 "[Pairing] restore sync of contact list across devices"
### Description

*Type*: Feature

*Summary*: after merge https://github.com/status-im/status-react/pull/6362 feature of syncing contacts between pairing devices was removed (https://github.com/status-im/status-react/pull/6242) and should be restored.

#### Expected behavior
contact list is synced across devices

#### Actual behavior
contact list is not synced

### Reproduction
[comment]: # (Descri

[2018-11-07 17:50] charlescrain commented on #5496
@alwx @jeluard I just double checked the graphql in the example i posted and it is working now.

[2018-11-07 17:59] 0x-r4bbit commented on #6584
@vkjr thanks! That did the trick! :)

Do we want to keep this open though? I think this is probably not the expected fix to this problem.

[2018-11-07 18:11] vkjr commented on #6584
@PascalPrecht, I thought we already had issue for this, but can't find it. So lets keep this one.

[2018-11-07 18:14] 0x-r4bbit commented on #6584
Probably this one? https://github.com/status-im/react-native-desktop/issues/385

[2018-11-07 18:20] pedropombeiro commented on #6584
Yesterday I fixed a related one: https://github.com/status-im/react-native-desktop/issues/381

[2018-11-07 18:23] vkjr commented on #6584
@PombeirP, looks like we answering different parts of complex problem :)
@PascalPrecht, the crash you encounter is fixed by @PombeirP already, but problem with `ubuntu-server` process hanging after crash is still around.

[2018-11-07 18:31] churik opened #6639 "[Pairing] implement new design for device pairing"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: currently device pairing is not intuitive and has a lot of cosmetics issues.
Currently on desktop:
<img width="339" alt="desk" src="https://user-images.githubusercontent.com/4557972/48151875-c3203200-e2c2-11e8-8411-0234840dc76f.png">
On IOS:
<img width="189" alt="ios_3" src="https://user-images.githubusercont

[2018-11-07 18:42] churik commented on #6115
@asemiankevich WDYT about selecting pinned chats and have limit for 3 or 5 main chats selected by user instead of defined list?
In this case we can also enable it for public releases

[2018-11-07 18:51] vitvly commented on #6584
There used to be an issue https://github.com/status-im/status-react/issues/5444, which was closed in favor of https://github.com/status-im/status-react/issues/6175

[2018-11-07 19:03] vkjr commented on #6584
@siphiuel, thanks! So I think this one can be closed.

[2018-11-07 19:10] 0x-r4bbit commented on #6584
Alright closing this in favour of #6175 as well then

[2018-11-07 19:10] 0x-r4bbit commented on #6584
Thanks everyone for your quick support!

[2018-11-07 19:10] #6294 closed, assigned to dmitryn

[2018-11-07 19:37] churik opened #6640 "Pinned messages in 1-1 and group chats"
### User Story

As a user, I want to pin or star messages to have quick access to them.

### Description

*Type*: Feature request

*Summary*: to have quick access to selected messages which I want to save would be nice to create feature like pinned messages at least for group (for admin) and 1-1 chats. Not sure if we can that for public chats due to security reasons.
How it works in other messenge