[2018-03-12 02:20] chadyj opened #3538 "Metrics opt-in toggle in settings"
Add a toggle in Settings to opt-out of metric collection (for those already opted-in).

Related to https://github.com/status-im/status-react/issues/3537.

Possible copy that mirrors the onboarding opt-in:

Help improve Status?
Share anonymous usage data with Status to help improve the product. [Toggle]

[2018-03-12 02:33] chadyj opened #3539 "`Help improve Status` learn more page"
Status asks new users if they would like to help improve the product by sending anonymous usage stats. To help users make an informed choice we will create a `learn more` page that explains what/why/how we collect data. This page is available from the opt-in screen shown during onboarding as well as the opt-in toggle in settings.

* [x] Create copy for page
* [x] Create page and host at https://wi

[2018-03-12 07:28] chadyj commented on #2869
@lukaszfryc I can't think of any reason why a user would be logged within normal use over a few hours. The behaviour of other apps like you suggest is expected here.

I've seen some web apps give an option to the user like "keep me logged in", etc. This could be an option in the future to give users granular control, but for now we can keep them logged in until they log out.

[2018-03-12 07:33] jeluard commented on #3538
@denis-sharypin Could you add this to existing mockups?

[2018-03-12 07:43] mandrigin commented on #2869
One concern here, of course, is that we will have to cache both account ID and password somewhere on a device in that case.
So,
1. We need to use OS-recommended provided secure storage for that:
    - iOS: Keychain
    - Android: ???
2. We need to encrypt the password with some key when storing it (preferably, derived from something unique for the app installation + salt);
3. We need someone with

[2018-03-12 07:51] mandrigin commented on #2869
That is all important because the credentials aren't revokable. If someone steals this auth data, the user account will be compromised forever, right?

[2018-03-12 08:07] mandrigin commented on #2869
One more thing to think about: requiring to always enter a password will lead to people choosing poor passwords that are easy to type.

[2018-03-12 08:10] chadyj commented on #2869
Great points @mandrigin.
Once these underlying issues are addressed we can also explore enhanced improvements like touch/faceid!

[2018-03-12 09:40] lukaszfryc commented on #2869
Having to use Touch or Face ID so often maybe really frustrating. Imagine clicking a notification, having to authenticate and then waiting for the app to log you in. It's time consuming.

I wonder if there is a way to keep the app always ready to use and only require authentication for crucial activities like transactions / wallet.

[2018-03-12 09:41] mandrigin commented on #2869
💯
we need to split the app into a wallet and a messenger.
they have very different requirements and expectations on security mechanisms

[2018-03-12 09:46] pedropombeiro commented on #3424
@oskarth Yeah, I got that impression from the PR description, so wanted to make sure we didn't overlook the issue in the future. If we're happy with how things are, then it's fine to close this by me.

[2018-03-12 09:46] #3424 closed, assigned to yenda

[2018-03-12 11:05] oskarth commented on #3424
Makes sense. I think it is good enough for now, might want to tweak messaging. @yenda should get his reward for pushing this through weekend before offsite!

cc @andytudhope

[2018-03-12 11:26] yenda commented on #3505
Race condition in the intialization sequence fixed by @dmitryn

[2018-03-12 12:37] #3051 closed, assigned to jeluard

[2018-03-12 13:54] alwx commented on #3322
Have no way to verify, but it's likely that this bug is fixed here: https://github.com/status-im/status-react/pull/3540

[2018-03-12 14:34] alwx commented on #3474
Tested the latest `develop` on iPhone 6s, 7 and 7 Plus, everything works fine.

[2018-03-12 14:43] dmitryn commented on #3525
I've ran into this.
@vemv what's inside your `index.ios.js`? Should be just bunch of `require` statements with `start()` fn call on the end. More info on `index.*.js` files here: https://github.com/drapanjanas/re-natal/blob/7094b20a06fbbe23b91e92f8bf14762ac5b7cc3e/README.md#development-with-figwheel

<blockquote><img src="https://avatars3.githubusercontent.com/u/1648448?s=400&v=4" width="48" align

[2018-03-12 14:48] #3505 closed, assigned to yenda

[2018-03-12 15:29] #3478 closed, assigned to alwx

[2018-03-12 20:52] yenda opened #3544 "Callback not working for requestMultiple"
### Description

*Type*: Bug

When prompting the user for a permission request the promise never executes the callback `.then` of `requestMultiple()`

See https://facebook.github.io/react-native/docs/permissionsandroid.html

#### Expected behavior
Callback is executed

#### Actual behavior
Callback is ignored

Blocks #3509

### Acceptance criteria
When using camera for the first time in the app, t

[2018-03-12 21:05] yenda commented on #3424
@oskarth The current solution is polling `admin_peers` through JSON-RPC which is not ideal and results in a delay up to 30 secs for the message to appear/disappear. I created a new issue on status-go side asking for the implementation of signals or callbacks for these events https://github.com/status-im/status-go/issues/728

[2018-03-13 03:10] foopang commented on #3477
@lukaszfryc I think **Join public chat** is outdated in your screenshot. There are some items missing. I assume you want to provide accessibility labels for that?

![screenshot from 2018-03-13 11-08-23](https://user-images.githubusercontent.com/4666757/37320515-fed8bbb2-26ae-11e8-9f5d-89da0c89ef4a.png)

[2018-03-13 05:27] chadyj opened #3545 "Log events in Mixpanel"
After Mixpanel is [integrated in Status](https://github.com/status-im/status-react/issues/3537) we can now start collecting basic events in order to see engagement, retention, and understand basic adoption.

[This spreadsheet has a list of basic events](https://docs.google.com/spreadsheets/d/1wV9CPA1hgTBVHg0bjT2C-ixsRSZGXmeejYluN9yuu2Y/edit#gid=0) to be instrumented.  Priority ones have an asteris

[2018-03-13 07:29] lukaszfryc commented on #3477
@foopang yes, please provide labels for the list of items like "status", "openbounty". The label can be named "chat-item".

[2018-03-13 10:28] #3448 closed, assigned to nobody

[2018-03-13 11:30] jeluard commented on #3492
@lukaszfryc By too small you mean hitting area is too small? Or font size is too small?

[2018-03-13 11:37] annadanchenko commented on #3492
Font size is too small

[2018-03-13 11:43] annadanchenko commented on #3526
Have similar issue with Unknown chat if use Send transaction command in nightly build for March 13
Can't reproduce next issue with 1:1 chatting

[2018-03-13 11:47] #3482 closed, assigned to jeluard

[2018-03-13 11:52] lukaszfryc commented on #3492
Yes, I meant the font size.

2018-03-13 12:37 GMT+01:00 Anna Danchenko <notifications@github.com>:

<blockquote><img src="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com">Build software better, together</a></strong></div><div>

[2018-03-13 11:57] annadanchenko commented on #3474
Can reproduce on the real iphone 7 plus on last nightly build (March 13)
See from 00:10 https://app.testfairy.com/projects/4803590-status/builds/7880187/sessions/2/?accessToken=5j0kkP33JJ50MYk1cW7jHJ8/2ro

[2018-03-13 12:25] #3485 closed, assigned to nobody

[2018-03-13 13:53] lukaszfryc opened #3550 "Prevent statusbot from moving issues from Contributor back to To Test queue"
### Description

When a Github issue is put in Contributor, the statusbot is moving it back to To Test queue. This triggers autotests rerun which is useless.

#### Expected behavior
Issue stays in Contributor

#### Actual behavior
Issue is moved from Contributor to To Test queue:

<img src="https://user-images.githubusercontent.com/7532782/37345869-247f3854-26ce-11e8-9072-990a0e9251b9.png" width="

[2018-03-13 13:54] lukaszfryc commented on #3550
@antdanchenko @jeluard do you have any idea how to fix it?

[2018-03-13 13:56] lukaszfryc commented on #3550
Some time ago I used to add a negative review which prevented statusbot from doing it. But, it’s not the way github reviews should be used. So, we need to fix it in a different way

[2018-03-13 14:11] asemiankevich opened #3551 "Faucet request error in latest nightly"
### Description

*Type*: Bug

*Summary*: i am receiving faucet request error in status ui however faucet seems to be alive http://51.15.45.169:3001/faucet-info

#### Expected behavior
no faucet error, can request some test eth

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/37346842-80ad8fb4-26e1-11e8-8a3f-d854f9a6caac.png)
### Reproduction

- Open Status
- Fauce

[2018-03-13 14:34] antdanchenko commented on #3550
@PombeirP please, take a look

[2018-03-13 14:47] dmitryn commented on #3551
<img width="451" alt="screenshot 2018-03-13 17 46 06" src="https://user-images.githubusercontent.com/23836/37349030-8c7791a0-26e6-11e8-9917-6262677e2872.png">

Get this on current develop

[2018-03-13 14:49] pedropombeiro commented on #3550
@lukaszfryc let's track the issue [here](https://github.com/status-im/status-github-bot/issues/20). I'll see if I can fix that tomorrow.

[2018-03-13 15:07] jeluard commented on #3544
@yenda Do you think this is a RN issue or a status issue?

[2018-03-13 15:17] #3325 closed, assigned to alwx

[2018-03-13 15:22] #1785 closed, assigned to nobody

[2018-03-13 15:23] #3550 closed, assigned to nobody

[2018-03-13 15:28] #3369 closed, assigned to nobody

[2018-03-13 15:37] jeluard commented on #3322
@asemiankevich Can you confirm this has been fixed while fixing #3540 ?

[2018-03-13 15:39] asemiankevich commented on #3322
yes , confirm @jeluard

[2018-03-13 15:40] #3322 closed, assigned to alwx

[2018-03-13 17:30] pedropombeiro commented on #3451
Looking at the Firebase docs, this could be achieved by sending a [collapsible message](https://firebase.google.com/docs/cloud-messaging/concept-options#collapsible_and_non-collapsible_messages), containing either simply [data](https://firebase.google.com/docs/cloud-messaging/concept-options#notifications_and_data_messages), or perhaps a hybrid (data + notification). It would work on both iOS and

[2018-03-13 22:05] cammellos commented on #3551
seems like it's working now in current develop branch, could it be a temporary issue with faucet server?

[2018-03-14 00:40] vemv commented on #3359
Updated https://wiki.status.im/Building_Status:

[code]

[2018-03-14 01:11] vemv commented on #3525
@dmitryn thanks for the support! I'll store the tip in my mind.

Now I git cloned status-react again and followed https://wiki.status.im/Building_Status from scratch (armed with a cleaner MacOS/brew/npm installation, more familiarity, etc).

One specific pitfall I had formerly fallen into was https://github.com/status-im/status-react/issues/3359 . As a workaround, in my original attempt I had chan

[2018-03-14 01:11] #3525 closed, assigned to nobody

[2018-03-14 01:18] vemv opened #3554 "Constrain react-native-background-timer requirement?"
A plain `pod` install (with pod 1.3.1) over a pristine status-react clone will result in the following diff:

[code]

It is undesirable that following https://wiki.status.im/Building_Status results in dirty Podfile state.

Probably worth fixing?

Cheers - Victor

[2018-03-14 05:47] chadyj opened #3555 "Upgrade Instabug SDK for new features"
Instabug has several new features that can be beneficial to the test, UX, and product teams, and will be useful as an enhanced source in OKR measurement.

Some of the new features:

https://github.com/Instabug/instabug-reactnative

In addition to upgrading, we have switched from two project for iOS and Android, and have setup a new RN Instabug project.  Both iOS and Android now have a single share

[2018-03-14 07:29] #3551 closed, assigned to nobody

[2018-03-14 09:57] flexsurfer commented on #3327
for backup seed will be `:seed-backed-up?` in account, and this button on right screen should open profile

[2018-03-14 10:15] mandrigin opened #3558 "Show the revision of status-go in the version label"
blocked by
- https://github.com/status-im/status-go/issues/732 (status-go API for getting revision)
- https://github.com/status-im/status-react/issues/889 (version label)

### User Story

As a developer, I want to see the exact version of status-go in the UI of Status client.

### Description
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what

[2018-03-14 10:34] annadanchenko opened #3559 "No protocol method IDeref.-deref defined for type null Error if use send command in chat"
### Description

*Type*: Bug
When use send command in 1:1 or group chat then error `No protocol method IDeref.-deref defined for type null` is shown on wallet screen. If close the error popup then it's possible to proceed using the app and sign a transaction
*Summary*:

#### Expected behavior
Can sign transaction on wallet screen

#### Actual behavior
Error after Wallet screen is shown:
[code]
###

[2018-03-14 10:57] annadanchenko opened #3560 "Request and send message is shown in the wrong place of the chat (not as last message)"
### Description

*Type*: Bug

*Summary*: send or request message is shown between previous sent messages
#### Expected behavior
Last message is shown at the very bottom of the chat (as last message)

#### Actual behavior
Send/request message is inserted between previous messages, so it's shown not as last message

### Reproduction
https://app.testfairy.com/projects/4803622-status/builds/7881428/se

[2018-03-14 11:19] status-open-bounty commented on #3474
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb6cd29983714ccde9fbdeafb3ef8fcb072bc4b301288610657b6e1d6edb62a1d](https://etherscan.io/tx/0xb6cd29983714ccde9fbdeafb3ef8fcb072bc4b301288610657b6e1d6edb62a1d)

[2018-03-14 11:22] status-open-bounty commented on #3544
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x617a9debce6c9f856b49f8eeae0852108342f45a99753ce4f0086d3020090951](https://etherscan.io/tx/0x617a9debce6c9f856b49f8eeae0852108342f45a99753ce4f0086d3020090951)

[2018-03-14 11:29] status-open-bounty commented on #3558
Balance: 0.000000 ETH
Tokens: SNT: 600.00
Contract address: [0x23b09c93872ae84fc87aa172b10838d8f4ecdf18](https://etherscan.io/address/0x23b09c93872ae84fc87aa172b10838d8f4ecdf18)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-14 11:33] dmitryn commented on #3111
I would close this since we have new onboarding

[2018-03-14 11:33] #3111 closed, assigned to nobody

[2018-03-14 11:48] goranjovic opened #3561 "Chat screen toolbar"
### User Story

As a user I want a nice chat UI

### Description

*Type*: Feature

*Summary*: Re-style the toolbar in Chat screens to conform with the designs. Note that toolbar content should be left leaning for both Android and iOS

### Additional Notes
Zeplin designs: https://zpl.io/VYWL0kL
Invisionapp prototype: https://projects.invisionapp.com/share/KXEWN9XHM#/screens/268975254

[2018-03-14 12:16] lukaszfryc opened #3562 "Some messages were missing in the middle of 1-1 chat"
### Description
*Type*: Bug

*Summary*: When app was in the background it received ~70 messages from single 1-1 chat. When the chat was opened, some messages were missing. Scrolling up through messages and then loading them again by scrolling to the bottom to the last message fixed it. Note that it cannot be easily reproduced. It's happend only once for 5 tries.

#### Expected behavior
Chat contai

[2018-03-14 13:04] asemiankevich opened #3564 "Randomly generated name is shown for opponent until i am added to contacts"
### Description

*Type*: Bug

#### Expected behavior
Since we have new onboarding and I am able to set up my custom name right after I have my account being set I want this name to be shown for the people I am trying to add to my contacts list or want to chat with. I talked to @denis-sharypin and this  is accepted to be expected behavior.

#### Actual behavior
Randomly generated user name is shown

[2018-03-14 14:06] #3509 closed, assigned to dmitryn

[2018-03-14 14:54] #3511 closed, assigned to jeluard

[2018-03-14 14:56] enricrp8 commented on #3352
Is it still unfixed?

[2018-03-14 15:22] denis-sharypin commented on #3352
@enricrp8  still open, yep

[2018-03-14 16:05] asemiankevich commented on #3492
![image](https://user-images.githubusercontent.com/28752642/37414618-9dbfea82-27ba-11e8-9a33-964252ae9962.png)
looks good to me , @lukaszfryc wdyt?

[2018-03-14 16:34] denis-sharypin commented on #3538
@chadyj hey,
we are showing a screen ((it will be implemented) during onboarding where we describe stuff about metrics. I' think it would be consistent to reuse it one more time. Let me know what you think.

![metrics opt-in](https://user-images.githubusercontent.com/6559881/37416337-12c36a14-27e0-11e8-8915-56687ebc48f5.png)

[2018-03-14 17:44] mandrigin opened #3567 "Notify status-go when the app goes to and from background"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want the app to use less energy when it is in background.
One option is to reduce network activity of an ethereum node when the app goes to background. To do that, status-go needs to be notified of these changes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-03-14 21:01] annadanchenko opened #3568 "Error "Invariant Violation: `refreshing` prop must be set as a boolean..." if sign in when device is offline"
### Description

*Type*: Bug

*Summary*: When device is offline and user runs the app and signs in then Error "Invariant Violation: `refreshing` prop must be set as a boolean in order to use `onRefresh`, but got `null`" is shown. If close error popup then white screen is shown and app is unuasable

#### Expected behavior
It's possible to sign in when device has no Internet connection (e.g. in flig

[2018-03-14 21:17] annadanchenko opened #3569 "`Error loading data` popup is shown right after sign in and later randomly on ios devices"
### Description

*Type*: Bug

*Summary*:
After sign in there is popup `Error loading data` shown. If switch to wallet then instead of amount in USD there is "... USD" shown. In the same time, can send messages in chat and can see full TestFairy log so it looks like connection was not broken. Later in random moments more popups with Error loading data are shown if keep using the app

Happens only o

[2018-03-15 01:23] chadyj commented on #3538
Thanks @denis-sharypin !

Nice idea to reuse the screen, since that has more info and context, and is familiar.

The implementation though seems a bit mixed. The setting doesn't have an arrow like the others that push to a new screen, just as the `Network` one above. It also seems at odds with `development mode` which is also a on/off switch, but is shown differently. And while I like the idea of

[2018-03-15 02:20] goranjovic commented on #2492
Outdated in its original form, it referred to the Wallet components that may be useful in Assets screens

[2018-03-15 02:20] #2492 closed, assigned to goranjovic

[2018-03-15 05:21] churik opened #3571 "Validation error 'Password confirmation doesn't match password' is shown after you fix value in 'Confirm password'"
### Description
*Type*: bug-bounty
*Summary*: on screen 'Confirm password' after typing wrong Password and appearing 'Password confirmation doesn't match password' is shows even you fix value in input field until you tap on 'Next'
![password](https://user-images.githubusercontent.com/4557972/37445509-286734c2-2821-11e8-80b3-cfb32408fce3.png)

#### Expected behavior
'Password confirmation doesn't m

[2018-03-15 06:01] antdanchenko opened #3572 "Only first text is shown for sender/recipient, after sending two formatted texts on one line, in any chat"
### Description

*Type*: Bug

*Summary*:
User A sends `~first text~ *second text*` to any chat
As result, only `first text` is shown for both users

#### Expected behavior
~first text~ *second text* - is shown for User A and User B
#### Actual behavior
first text  - is shown for User A and User B

### Reproduction

- Open Status on 2 devices
- As  User A start new chat with User B
- As User A ente

[2018-03-15 06:42] status-open-bounty commented on #3455
Balance: 0 ETH
Tokens: SNT: 1600.00
Contract address: [0xab68e3bf970b4f9e58e517de7e354787794d098a](https://etherscan.io/address/0xab68e3bf970b4f9e58e517de7e354787794d098a)
Network: Mainnet
Paid to: PombeirP
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-15 07:19] jeluard opened #3573 "List PRs based on a commit range"
### User Story

As a developer, I want an easy way to list PRs related to new commits in a release.

### Description

*Type*: Feature

A simple script that takes a range as input (2 branches, tags or commits) and returns a list of all PRs that have contributed commits in this range.

[2018-03-15 08:27] jeluard opened #3574 "Document steps to setup iOS remote build"
### User Story

As a linux developer, I want to have an easy way to build .ipa remotely using a headless Mac

### Description

*Type*: Feature

Provide step by step documentation on how to setup remote iOS build from linux using a headless Mac machine.
It should be as easy as executing a command and getting the binary back (using `ssh` or similar).

[2018-03-15 08:30] dmitryn commented on #3544
@andytudhope hey, this bounty seems "locked" here (PR closed 2 issues at once which is not supported yet). Should be processed manually i guess.

[2018-03-15 08:33] jeluard opened #3575 "Create clj script"
### User Story

As a developer, I want to have a simple hackable dev workflow.

### Description

*Type*: Feature

Provide a `clj` based script that offers similar feature as our `lein` script.
Specifically:
* prod builds
* figwheel+repl based dev

Keep existing lein script for now.
As a first step we might want to keep `package.json`. Later we can migrate to `:npm-deps` usage.

[2018-03-15 08:40] dmitryn commented on #3575
@jeluard do you suggest moving away from `lein` to using `deps.edn`? https://clojure.org/guides/deps_and_cli

<blockquote><img src="../images/clojure-logo-icon-32.png" width="48" align="right"><div><strong><a href="https://clojure.org/guides/deps_and_cli">Clojure - Deps and CLI Guide</a></strong></div></blockquote>

[2018-03-15 08:41] jeluard commented on #3575
Yes, maybe not soonish but at least investigate.

[2018-03-15 08:45] dmitryn commented on #3575
This repo provide an example of how it may work out https://github.com/aroemers/clojure-cli-tools-build

<blockquote><img src="https://avatars2.githubusercontent.com/u/1654946?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/aroemers/clojure-cli-tools-build">aroemers/clojure-cli-tools-bui

[2018-03-15 08:47] #3492 closed, assigned to jeluard

[2018-03-15 09:39] commiteth commented on #3399
![Contract deploying](http://localhost:3003/img/deploying_contract.png)
Transaction: [0x964db935c4c9a854ca2d6db049a01e7425eff072360d2c577e4210b86f053fe0](https://ropsten.etherscan.io/tx/0x964db935c4c9a854ca2d6db049a01e7425eff072360d2c577e4210b86f053fe0)

[2018-03-15 09:40] commiteth commented on #3399
![Contract deploying](http://localhost:3003/img/deploying_contract.png)
Transaction: [0x964db935c4c9a854ca2d6db049a01e7425eff072360d2c577e4210b86f053fe0](https://ropsten.etherscan.io/tx/0x964db935c4c9a854ca2d6db049a01e7425eff072360d2c577e4210b86f053fe0)

[2018-03-15 10:47] lukaszfryc commented on #3382
@annadanchenko I think we should increase priority of this issue. Especially know when it's so easy to delete chats (swipe to delete). Users may simply delete chats to clean up some space. Then, they can't start new chat which is quite critical.

[2018-03-15 10:48] status-open-bounty commented on #3399
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x52847b9a3bc220e01dfc172492252e936398a30b459477b39562b18cadbb9a6e](https://etherscan.io/tx/0x52847b9a3bc220e01dfc172492252e936398a30b459477b39562b18cadbb9a6e)

[2018-03-15 11:35] annadanchenko commented on #2448
can't reproduce on nightly build March 14 (ios/android). Seems like it was silently fixed somewhere :)

[2018-03-15 11:35] #2448 closed, assigned to nobody

[2018-03-15 11:42] lukaszfryc opened #3577 "Clicking send transaction in profile screen should open keyboard to specify amount"
### Description
*Type*: Bug

*Summary*: When "Send transaction" is clicked in profile screen, the "/send" command is placed into the chat input but the input does not have focus. In result, the keyboard and "Specify amount" popup are not present.

#### Expected behavior
I'd expect that focus is put into the input to allow me to type transaction amount.

#### Actual behavior
"/send" is put into the

[2018-03-15 11:42] #3559 closed, assigned to nobody

[2018-03-15 11:47] lukaszfryc opened #3578 "Profile screen can be scrolled even when content fits the screen"
### Description
*Type*: Bug

*Summary*: The person profile screen can always be scrolled even though everything is visible on the screen. I'd have scroll only when it's needed (content does not fit the screen).

#### Expected behavior
Screen should not be scrollable when content fits the screen.

#### Actual behavior
Screen can be scrolled. But, the good thing is that the scroll bounces back, so t

[2018-03-15 11:49] #3248 closed, assigned to goranjovic

[2018-03-15 11:53] #3304 closed, assigned to nobody

[2018-03-15 12:20] #3472 closed, assigned to nobody

[2018-03-15 12:56] #3477 closed, assigned to nobody

[2018-03-15 12:57] #3399 closed, assigned to nobody

[2018-03-15 12:59] #3394 closed, assigned to nobody

[2018-03-15 13:05] lukaszfryc opened #3579 "Profile screen should show the real name of a person from public chat"
### Description
*Type*: Bug

*Summary*: Public chat shows real names. But, when you open profile of person you see default name („anonymous name”) which does not make sense since you already seen the real name in the chat

#### Expected behavior
In case of a public chat, profile screen should show the real name.

#### Actual behavior
Profile screen shows the default name.

### Reproduction
- Open

[2018-03-15 13:08] lukaszfryc opened #3580 "Send transaction should not redirect to public chat where send command is not available"
### Description
*Type*: Bug

*Summary*: Send transaction should not redirect to public chat where "send" command is not available. Instead, it should redirect to 1-1 chat.

#### Expected behavior
Clicking send transaction button in profile screen opened from public chat should redirect to 1-1 chat.

#### Actual behavior
It redirects back to the public chat where "send" command is not available.

#

[2018-03-15 13:11] lukaszfryc opened #3581 "Profile screen should show contact address no matter if the person was added as contact"
### Description
*Type*: Bug

*Summary*: Address is empty until person is not added as contact. When „Add to contacts” is clicked the address immediately shows up. Why not have it there all the time then?
<img src="https://user-images.githubusercontent.com/7532782/37463311-20684368-2855-11e8-8728-8d8bb23fc237.png" width="300">

#### Expected behavior
Contact address is visible

#### Actual behavior

[2018-03-15 13:13] lukaszfryc opened #3582 "No "Add to contact" button when conversation was started from public chat"
### Description
*Type*: Bug

*Summary*: There is no "Add to contact" button when chat is opened after clicking "Start conversation" in profile screen.

#### Expected behavior
"Add to contact" button is shown for the other person when conversation was started from public chat

#### Actual behavior
"Add to contact" is not visible in this case. See steps to reproduce.

### Reproduction
a. device A, B

[2018-03-15 13:17] #3520 closed, assigned to cammellos

[2018-03-15 13:35] #3544 closed, assigned to dmitryn

[2018-03-15 14:09] jeluard opened #3583 "Display Jenkins failure in related PR"
### User Story

As a developer, I want to quickly glance reason for Jenkins failire

### Description

*Type*: Feature

When a PR Jenkins build fails, publish a comment in GH so that failure reason is quickly available to everybody.

[2018-03-15 14:22] #3379 closed, assigned to nobody

[2018-03-15 14:50] lukaszfryc opened #3585 "Add option to remove contact from profile screen"
### Description
_Type_: Feature

_Summary_: Before #3570, there was an option to remove a contact from profile screen. Now it's gone and there is no way to remove a contact.

#### Expected behavior
![](https://user-images.githubusercontent.com/7532782/37470718-6f66177a-2868-11e8-950a-432fe8690b86.png)

#### Actual behavior
![](https://user-images.githubusercontent.com/7532782/37470522-feb9391c-286

[2018-03-15 15:09] #3572 closed, assigned to nobody

[2018-03-15 15:11] #3009 closed, assigned to goranjovic

[2018-03-15 15:15] annadanchenko opened #3586 "Sender's name in chat should be above top left message corner instead of right one"
### Description

*Type*: Bug
See issue marked with "1": username ios should be on top of the left corner, now it's on the right side
![img_1976](https://user-images.githubusercontent.com/6584810/37472195-c6ea6ae8-286b-11e8-8ca1-7d90cced11c7.jpg)

design
<img width="377" alt="screen shot 2018-03-15 at 15 29 03" src="https://user-images.githubusercontent.com/6584810/37472281-f9492af6-286b-11e8-9109-

[2018-03-15 15:18] annadanchenko opened #3587 "Avatar should be displayed on the same line as the bottom of the message instead of its top"
### Description

*Type*: Bug
See issue marked with "2": Avatar next to the message is shown on the same line as username while in designs it's shown on the same line as the last line of the message
![img_1976](https://user-images.githubusercontent.com/6584810/37472195-c6ea6ae8-286b-11e8-8ca1-7d90cced11c7.jpg)

design
<img width="377" alt="screen shot 2018-03-15 at 15 29 03" src="https://user-image

[2018-03-15 15:22] annadanchenko opened #3588 ""There are no messages in this chat yet" is left-aligned instead of centred as in design"
### Description

*Type*: Bug

*Summary*:
"There are no messages in this chat yet" is left-aligned instead of centred as in design
Now:
![32743](https://user-images.githubusercontent.com/6584810/37472739-1661c200-286d-11e8-90df-a3c5d974344d.jpg)

Design:
<img width="372" alt="screen shot 2018-03-15 at 16 21 52" src="https://user-images.githubusercontent.com/6584810/37472732-1329e914-286d-11e8-9ace-

[2018-03-15 16:24] annadanchenko opened #3590 "Crash after error Attempt to invoke virtual method 'java.lang.String android.net.Uri.getScheme()' on a null object reference"
### Description

*Type*: Bug

*Summary*: App hangs and crashes with error `Attempt to invoke virtual method 'java.lang.String android.net.Uri.getScheme()' on a null object reference` if put app to background and then tap on Status icon on device screen to open it again. If try same steps in released 0.9.14 version then app is launched ok and can be used

#### Expected behavior
App is launched with

[2018-03-15 16:56] annadanchenko opened #3591 "url text is truncated in the middle so user can't see full link text when tapping on it"
### Description

*Type*: Bug
url sent to the chat is not fully shown because some text in the middle is replaced with "...".
![screenshot_20180315-175227](https://user-images.githubusercontent.com/6584810/37478233-f3710d8e-2879-11e8-8522-d3d8c35d509d.png)

*Summary*:

#### Expected behavior
According to the design we need to show full url text
<img width="364" alt="screen shot 2018-03-15 at 15 56

[2018-03-15 17:02] naghdy commented on #3591
I personally think truncation is better, because pasting really long URL's always turn out ugly. However, it could be used maliciously.

[2018-03-15 17:32] yenda commented on #3591
@naghdy unless we have a way to show the full URL on long tap for instance the most prudent thing to do is to always show the full URL

[2018-03-15 17:50] naghdy commented on #3591
Ok that makes sense.

[2018-03-16 08:09] status-open-bounty commented on #3591
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x55be51b459d858d989e86a32def8e45fab13b242](https://etherscan.io/address/0x55be51b459d858d989e86a32def8e45fab13b242)
Network: Mainnet
Paid to: kixi
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-16 08:17] status-open-bounty commented on #3388
Balance: 0.000000 ETH
Tokens: SNT: 2129.15
Contract address: [0xa4fec41f181c290fe5e0526bff35d80dbf7d5dce](https://etherscan.io/address/0xa4fec41f181c290fe5e0526bff35d80dbf7d5dce)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-16 08:36] annadanchenko opened #3593 "Hide passphrase field when recording TestFairy session"
### Description

*Type*: Feature

*Summary*: In TestFairy session (enabled on develop, nightly and PR builds) we need to hide passphrase field, so its content is not shown on video recorded by TestFairy.

How to do this: https://docs.testfairy.com/Security/Hiding_Sensitive_Data.html

### Reproduction

- Install nightly build
- use wifi and launch Status app
- On screen Sign in to Status tap on but

[2018-03-16 08:46] status-open-bounty commented on #3456
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x5bf80c9cc859baa2ec679c449b2b1e47b31ecc74](https://etherscan.io/address/0x5bf80c9cc859baa2ec679c449b2b1e47b31ecc74)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-16 09:36] cammellos opened #3594 "No username is shown in public chats"
### User Story

As a user,
I want to see the usernames of people in the public chat
so that I can see who sent a message

### Description

*Type*: Bug

No username is shown next to messages when in public chat.

#### Expected behavior
When I am in a public chat I see the account username next to each message.

#### Actual behavior
No username is shown.

### Reproduction

- Create/join a public cha

[2018-03-16 09:53] dmitryn commented on #3544
Related issue https://github.com/status-im/open-bounty/issues/357

[2018-03-16 10:18] status-open-bounty commented on #3575
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0xf2ec8a8c0c0c4bac68d38f9ea11ef1bccc8c56c2](https://etherscan.io/address/0xf2ec8a8c0c0c4bac68d38f9ea11ef1bccc8c56c2)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-16 12:46] #3594 closed, assigned to cammellos

[2018-03-16 13:50] #3427 closed, assigned to pedropombeiro

[2018-03-16 15:28] asemiankevich opened #3598 "Can't swipe-to-delete last chat item - delete button is overlapped with blue plus"
### Description

*Type*: Bug-Bounty

*Summary*: When i have 6 chat items on my home tab i hardly can remove the last one because the delete button is hidden under plus button so i need to delete other chats to make is possible.

#### Expected behavior
easily can remove chats using swipe gesture

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/37529146-6e5c7da8-294

[2018-03-16 16:00] asemiankevich opened #3599 "No message history appears until i send any new message to previously removed chat"
### Description

*Type*: Bug-Bounty

*Summary*: No message history until i type in the chat again after deletion

#### Expected behavior

If i deleted chat with a person i do see 2 possible options when i start chatting with him again:

1. totally new chat is created and started with no history as i removed it (like Viber, Watsap)
2. if we use offline inboxing and storing the messages they should

[2018-03-16 16:02] yevh-berdnyk opened #3600 "Can't open URL from chat in web browser"
### User Story

As a user I want to open sent/received URLs in web browser on my phone

### Description

*Type*: Bug-Bounty

*Summary*: Nothing happens when trying to open URL from a chat in web browser

#### Expected behavior
URL is opened in web browser

#### Actual behavior
Application chooser dialog is hidden. URL is not opened

### Reproduction
- Open Status
- Navigate to a chat (one-to-one,

[2018-03-16 16:31] asemiankevich commented on #3417
also can't select picture from gallery when access to camera denied

[2018-03-16 16:40] asemiankevich opened #3601 "No guidance shown to change user picture when app is not allowed to access gallery (iOS)"
### Description

*Type*: Bug-Bounty

*Summary*: When i restrict access of the status app to my pictures i want this ether to be asked again or any other visible and informative app feedback to user

#### Expected behavior
When the application is not able to access my photos i want this to be announced when i try to change my user picture

#### Actual behavior

I am still able to tap Edit - Select

[2018-03-16 17:00] asemiankevich opened #3603 "Tabs are visible along with keyboard when focusing on input field (android)"
### Description

*Type*: Bug-Bounty

*Summary*: tabs are visible along with keyboard when focusing on input field

#### Expected behavior

when i focus on a input field keyboard is opened along with tabs so i can switch to tabs. As an edge case i can see keyboard overlapping wallet screen

#### Actual behavior

tabs are visible with keyboard

![image](https://user-images.githubusercontent.com/2875

[2018-03-16 17:30] yevh-berdnyk opened #3604 "Multiple chat elements for one browsed URL"
### User Story

As a user I only want to see the URLs I opened on the home screen once, so that my chat list is less cluttered.

### Description

*Type*: Feature

*Summary*:

Each time I open the same URL from a chat or from the browser, it is added to the home screen again as a new chat element, cluttering the screen.

These should be de-duplicated:

![image](https://user-images.githubusercontent

[2018-03-16 17:47] #3582 closed, assigned to cammellos

[2018-03-16 18:16] yevh-berdnyk opened #3606 "Wallet address is copied/shared without 0x prefix"
### User Story

As a user I want to share my wallet address so that other users can send me ETH.

### Description

*Type*: Bug-Bounty

*Summary*: Wallet address is shared and copied without 0x prefix

#### Expected behavior
Wallet address is copied/shared with 0x prefix

#### Actual behavior
Wallet address is copied/shared without 0x prefix
<img width="413" alt="screen shot 2018-03-02 at 11 10 44

[2018-03-17 02:21] denis-sharypin commented on #3538
@chadyj  thanks for a feedback.
For the second screen, you were right and I fixed it.
For the last screen: def we could use buttons but I believe we are missing an interface lightness.
Feel free to decide which option is better.
![metrics opt-in 02](https://user-images.githubusercontent.com/6559881/37550705-92d04a16-29c4-11e8-817d-c82cb77bd781.png)

[2018-03-17 05:55] denis-sharypin opened #3609 "Remove showing users profile from 'Creating New Chat' flow"
### User Story

As a user, I want to start a chat with a friend from a contact list without seeing his profile, so we need to delete this step from the flow.

### Description

*Type*:Bug

Delete step number 2 in the flow during you starting a chat with a user from your contacts

![artboard](https://user-images.githubusercontent.com/6559881/37552114-34fd04ca-29e1-11e8-9866-b3406e5e4a15.png)

#### E

[2018-03-17 06:06] denis-sharypin commented on #3601
It has to be designed before fixing. Let me do it

[2018-03-17 06:26] denis-sharypin commented on #3601
@asemiankevich  Also if you deny access to camera and chose Capture — app crashes. It was caught on nightly 17/03/18 and 0.9.14

[2018-03-17 10:39] asemiankevich commented on #3601
@denis-sharypin yeah this is known

[2018-03-17 11:28] lukaszfryc commented on #3590
Same has happened for me on Samsung S8, Android 7.0. I tried to click on a notification when app was in the background.

[2018-03-17 17:36] Marina-Kovalevich opened #3610 "Can't recieve new messages in Group Chat after it was deleted"
### Description

*Type*: Bug

*Summary*: When member deletes Group chat without leaving it, he is still shown to the rest of the members of the Group chat as a member but he has no access to this chat anymore.

#### Expected behavior
When member deletes Group chat he leaves it automatically by default.
Or as Viber has it: when member leaves Group Chat he recieves message like delete chat and leave

[2018-03-17 17:51] Marina-Kovalevich opened #3611 "No timestamp for Group Chat till messages are sent"
### Description

*Type*: Bug

*Summary*: No timestamp for Group chat creation on the homescreen till messages are sent.
In Viber Group chat has timestamp of creation even if there is no messages in it.

#### Expected behavior
When Group chat is created it has timestamp on homescreen even there is no messages in it.

#### Actual behavior
No timestamp for new Group chat till some messages are sent.

[2018-03-17 18:09] Marina-Kovalevich opened #3612 "User is redirected to previously opened Chat when sending transaction from user profile"
### Description

*Type*: Bug

*Summary*: When tap Send transaction from someone's profile user is redirected to the previously opened chat.

#### Expected behavior
When tap Send transaction in someone's profile, send transaction message must be shown in the chat with selected User.

#### Actual behavior
Previously opened chat is shown. If no chats were opened before user is redirected to Console c

[2018-03-17 18:22] Marina-Kovalevich opened #3613 "No confirmation message when swipe-to-delete chat"
### Description

*Type*: Bug

*Summary*: Chat can be deleted from chat profile (delete chat) and by swipe-to-delete. When user deletes chat via chat profile, confirmation message is shown when we use swipe-to-delete there is no message.

#### Expected behavior
Confirmation message is shown when chat when we use swipe-to-delete chat.

#### Actual behavior
No confirmation message appeares.

### Repr

[2018-03-17 22:32] Marina-Kovalevich opened #3614 "Cannot uncheck all checkboxes in wallet transaction history filter using one button"
### Description

*Type*: Bug

*Summary*: In wallet transaction history filter all checkboxes can be checked with one button.
But when all checkboxes are checked we can't uncheck them all using the same button

#### Expected behavior
When all checkboxes are checked all of them can be unchecked when tap on one button

#### Actual behavior
When tap on button Select all- all checkboxes are checked,whe

[2018-03-18 07:21] #3035 closed, assigned to antdanchenko

[2018-03-18 09:33] Marina-Kovalevich opened #3615 "Error Invariant Violation after sign in when Offline"
### Description

*Type*:Bug

*Summary*: Error "Invariant Violation:'refreshing' prop must be set as a boolean in order to use 'onRefresh',but got 'null' " after sign in Status when Offline

#### Expected behavior
User is able to sign in when offline

#### Actual behavior
Error when sign in, If tap OK blanket screen appeares.

![screenshot_2018-03-18-12-09-58-954_im status ethereum](https://user-im

[2018-03-18 09:36] asemiankevich commented on #3615
Can repro on ios as well

[2018-03-18 10:03] antdanchenko commented on #3615
@Marina-Kovalevich thanks for adding an issue, however it seems to be a duplicate of https://github.com/status-im/status-react/issues/3568

[2018-03-18 11:03] #3615 closed, assigned to nobody

[2018-03-19 05:22] denis-sharypin opened #3616 "Add 'Selectable' to a Text component on profile and wallet screens"
### User Story

As a user, I want to have an opportunity to copy contact codes and wallet address manually.

### Description

*Type*: Feature

Afer a long press, I would like to have an opportunity to copy contact codes and wallet adress through a native platform instrument for iOS and Android. I believe it could be done by adding props `Selectable` to a Text component. Docs: https://facebook.gith

[2018-03-19 08:11] asemiankevich opened #3617 "Push notifications are not shown when decline permissions upon account creation and then enabled"
### Description

*Type*: Bug

*Summary*: Upon initial creation of the account in status app user is asked about the notification permissions. Once i decline them using this pop up I am not able to enable notifications even settings are set correct (from disabled to enabled).

#### Expected behavior
I want to receive notifications once the option is enabled in device settings

#### Actual behavior

[2018-03-19 08:15] #3617 closed, assigned to nobody

[2018-03-19 08:25] asemiankevich opened #3618 "Cant use "/" symbol when customizing name on user profile tab"
### Description

*Type*: Bug

*Summary*: can't use `/` in user name when setting this up in user profile tab. Please note that this symbol is allowed when creating account

#### Expected behavior
can apply name `19/03/2018` as a user name on user profile tab. If some symbols are not allowed in user name then:
- restrict this input for account creation flow
- disable save button on user profile tab

[2018-03-19 08:25] chadyj commented on #3538
@jeluard @flexsurfer Any feedback on the designs?

[2018-03-19 08:40] jeluard commented on #3538
@chadyj @denis-sharypin Looks good! Maybe hard to spot diff between sharding on or off?

[2018-03-19 09:25] asemiankevich opened #3619 "Error chat-id="{:updated-at nil, :unviewed-messages nil, :last-from-clock-value 0, :group-admin nil"
### Description

*Type*: Bug

*Summary*: Error `chat-id="{:updated-at nil, :unviewed-messages nil, :last-from-clock-value 0, :group-admin nil, :color \"#a187d5\", :contacts [{:identity \"0x044cc1996bbe9635ca48763c41e710700fd463b453ead0877e0b292b43aba0766ce7c4cda4c94487c4c3eb67bb6f8ed2ae6fdc653ed29895daf04aad81a3fbfd66\", :is-in-chat true}], :name \"%##}{]{#%^+=\u2022\xA3\u20AC$>~|\\\\_.??\u2019\",

[2018-03-19 09:29] annadanchenko commented on #3606
users can't send ETH from myetherwallet using address without 0x

[2018-03-19 09:40] asemiankevich opened #3620 "Deleted chats are shown after relaunch"
### Description

*Type*: Bug

*Summary*:

When I delete 1-1 chat(s) with previously read messages I had with another contacts (so no Unread message counter displayed on Chat screen), after I log out and log back in - all deleted chats reappear and display all messages I had with the contacts, that were deleted, - like they were Unread.
The main issue is that we should not resurrect deleted 1-1 cha

[2018-03-19 10:05] annadanchenko commented on #3560
should be fixed by https://github.com/status-im/ideas/issues/87

[2018-03-19 10:37] annadanchenko commented on #3269
already implemented

[2018-03-19 10:37] #3269 closed, assigned to nobody

[2018-03-19 10:42] asemiankevich commented on #3613
@denis-sharypin would you mind to take a look? we need to unify the behavior as well as decide if we want to keep these 2 delete options together (i think yes but want to double check) .

[2018-03-19 10:44] asemiankevich commented on #3610
@denis-sharypin please take a look!

[2018-03-19 10:45] denis-sharypin commented on #3613
@asemiankevich
yes @Marina-Kovalevich  is right. We have to show this alert when deleting chat with swipe to delete action

[2018-03-19 10:46] asemiankevich commented on #3611
@denis-sharypin is this some part of onboarding?

[2018-03-19 10:48] annadanchenko commented on #3089
according to @antdanchenko it's not reproducible last 2-3 weeks, so closing

[2018-03-19 10:48] #3089 closed, assigned to nobody

[2018-03-19 10:58] denis-sharypin commented on #3611
@asemiankevich nope
but let's add it, seems like a good idea

[2018-03-19 10:58] asemiankevich commented on #3611
@denis-sharypin let's make it a bounty! :)

[2018-03-19 11:00] denis-sharypin commented on #3611
@asemiankevich  could you double check on Android group chat icon is half shown. If so please create an issue from that. Thanks!

[2018-03-19 11:03] asemiankevich commented on #3611
@denis-sharypin on it

[2018-03-19 11:20] asemiankevich opened #3621 "Group chat icon is partially shown on Home tab (Android)"
### Description

*Type*: Bug

*Summary*: Group chat icon is partially shown on Android

#### Expected behavior
icon is shown the same as on iOS

![image](https://user-images.githubusercontent.com/28752642/37592836-ff774f94-2b80-11e8-95de-5b82889ffd22.png)

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/37592871-1d57c868-2b81-11e8-8244-a4fbe780ca52.png)

### Reprod

[2018-03-19 11:24] denis-sharypin commented on #3610
@asemiankevich  yep, it's a bug.

[2018-03-19 11:29] asemiankevich commented on #3610
@denis-sharypin do we want any notification for user when deleting group chat ( like in Viber or something)?

[2018-03-19 11:40] asemiankevich opened #3622 "Contact name is not shown (ios)"
### Description

*Type*: Bug

*Summary*: When i have a contact with particular name (`%##}{]{#%^+=•£€$>~|\_.??’`) this name is not shown for me and is displayed as blank . In some random cases previous name of the contact is shown

#### Expected behavior
[comment]: # (Describe what you expected to happen.)

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/37593385-

[2018-03-19 11:50] denis-sharypin commented on #3610
@asemiankevich I believe we have it already!

[2018-03-19 12:01] asemiankevich commented on #3527
@denis-sharypin this is expected behavior for now taking into account we have offline inboxing enabled for 1x1 chat. So when i delete 1x1 chat and start it again i will see all the previous messages. However the second part probably looks reasonable - do not see any option to clear 1x1 chat history for now. What do you think? do we want it? It normally exists in regular messages

[2018-03-19 12:22] Serhy commented on #3460
Fixed in release and develop. Closing this one!

[2018-03-19 12:22] #3460 closed, assigned to nobody

[2018-03-19 12:29] asemiankevich commented on #3488
Probably will be a part of https://github.com/status-im/ideas/issues/86,  i have added appropriate label so @lukaszfryc feel free to use it wherever you see related issues, i think it will help to collect them

[2018-03-19 12:48] jeluard commented on #3591
Apparently @lukaszfryc requested short URLS: https://github.com/status-im/status-react/pull/3299#issuecomment-368461587

[2018-03-19 12:57] Serhy commented on #3342
Reproduced in 280th nightly on iPhoneX.
Not reproduced on iPhone7, iPhone8.

[2018-03-19 12:57] denis-sharypin commented on #3591
I vote for always showing a full URL b/c of fishing cc @lukaszfryc

[2018-03-19 13:09] asemiankevich commented on #733
@rasom  i believe we can close it?

[2018-03-19 13:14] asemiankevich commented on #1228
i did see several Instabug reports for this as well so we may want to fix this unless it is redesiged with onboarding, then lets close it @annadanchenko

[2018-03-19 13:19] #1618 closed

[2018-03-19 13:20] asemiankevich commented on #1674
Closing, having new UI already

[2018-03-19 13:20] #1674 closed, assigned to nobody

[2018-03-19 13:24] rasom commented on #3280
@divan is there a problem on both platforms or only ios?

[2018-03-19 13:27] asemiankevich commented on #1664
@denis-sharypin any thoughts on this? Current develop does not have dapps descriptions
![image](https://user-images.githubusercontent.com/28752642/37598126-69b2ca30-2b92-11e8-90fc-ed84ca17cf99.png)

[2018-03-19 13:29] asemiankevich commented on #1632
bchat is no longer shown in the app

[2018-03-19 13:29] #1632 closed, assigned to nobody

[2018-03-19 13:30] asemiankevich commented on #2434
tabs sliding is disabled now, closing

[2018-03-19 13:30] #2434 closed, assigned to nobody

[2018-03-19 13:32] asemiankevich commented on #2427
when i scan QR for user address i am still on send transaction screen to specify other details i need before signing transaction and this is expected now. Closing

[2018-03-19 13:32] #2427 closed, assigned to nobody

[2018-03-19 13:33] asemiankevich commented on #2379
closing this one as we dont have /phone command anymore

[2018-03-19 13:33] #2379 closed, assigned to janherich

[2018-03-19 13:36] asemiankevich commented on #2230
havent seen the issue for a long time already, closing

[2018-03-19 13:36] #2230 closed, assigned to nobody

[2018-03-19 13:38] #2200 closed, assigned to nobody

[2018-03-19 13:38] #2070 closed, assigned to nobody

[2018-03-19 13:39] asemiankevich commented on #1962
i believe it is already outdated, closing

[2018-03-19 13:39] #1962 closed, assigned to nobody

[2018-03-19 13:41] #1846 closed, assigned to nobody

[2018-03-19 13:42] asemiankevich commented on #1844
@oskarth i think we can close this one?

[2018-03-19 13:43] asemiankevich commented on #1841
this dapp was removed from list

[2018-03-19 13:43] #1841 closed, assigned to nobody

[2018-03-19 13:45] lukaszfryc commented on #3591
I think long urls have been truncated even before #3299. I suggested to
keep it this way. But, I agree that it could be used maliciously.

On Mon, 19 Mar 2018 at 13:57, Denis Sharypin <notifications@github.com>
wrote:

[2018-03-19 13:45] asemiankevich commented on #1704
redesigned

[2018-03-19 13:45] #1704 closed, assigned to nobody

[2018-03-19 13:46] asemiankevich commented on #1703
@denis-sharypin are we still up for it?

[2018-03-19 13:46] #1682 closed, assigned to nobody

[2018-03-19 13:48] #3621 closed, assigned to nobody

[2018-03-19 13:51] #3127 closed, assigned to nobody

[2018-03-19 14:10] asemiankevich commented on #2478
i was not able to repro it - can you pelase give it a try and close if so ?  @churik

[2018-03-19 14:13] Serhy commented on #3201
Not relevant anymore as we updated the design on group/public chat settings screen and the confirmation action is present for edit chat name activity.

[2018-03-19 14:13] #3201 closed, assigned to nobody

[2018-03-19 15:35] annadanchenko commented on #3512
@yevh-berdnyk personally I think that transforming sent amount to other amount (even by rounding) might confuse users who see other numbers than what was sent. Let's consult with design team on the common approach to take. Maybe we can use 2 lines for long amounts...

[2018-03-19 15:36] annadanchenko commented on #3512
btw it's duplicate for #941 but I will close the initial issue, as screenshots are outdated there

[2018-03-19 15:38] annadanchenko commented on #941
will keep #3512 as open

[2018-03-19 15:38] #941 closed

[2018-03-19 15:52] cammellos commented on #3612
This one should be fixed by #3596

[2018-03-19 15:54] cammellos commented on #3612
Actually, correct that, might be fixed :)

[2018-03-19 16:01] #2871 closed, assigned to flexsurfer

[2018-03-19 16:01] #3328 closed, assigned to flexsurfer

[2018-03-19 17:03] status-open-bounty commented on #3609
Balance: 0.000000 ETH
Tokens: SNT: 0.00
Contract address: [0x07aa907ff6179bd1d0cce6b875ce33e049d5647c](https://etherscan.io/address/0x07aa907ff6179bd1d0cce6b875ce33e049d5647c)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-19 17:09] status-open-bounty commented on #3319
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x2bcb741bbed93cc5914b95da5dc44f0213187f31](https://etherscan.io/address/0x2bcb741bbed93cc5914b95da5dc44f0213187f31)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-19 17:09] status-open-bounty commented on #3588
Balance: 0.000000 ETH
Contract address: [0xe02fbffb3422ddb8e2227c3495f710ba4f8e0c10](https://etherscan.io/address/0xe02fbffb3422ddb8e2227c3495f710ba4f8e0c10)
Network: Mainnet
Paid to: foopang
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-19 17:16] annadanchenko commented on #1144
can't reproduce anymore (nightly build March 19, Android)

[2018-03-19 17:16] #1144 closed

[2018-03-19 17:17] status-open-bounty commented on #3574
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x3fe2c8954f380ef0b72215f13d05242b61e1a49d836069dde2ed41700ab6b4a6](https://etherscan.io/tx/0x3fe2c8954f380ef0b72215f13d05242b61e1a49d836069dde2ed41700ab6b4a6)

[2018-03-19 17:19] annadanchenko commented on #930
not relevant anymore

[2018-03-19 17:19] #930 closed

[2018-03-19 17:20] annadanchenko commented on #1038
can't reproduce on nightly build March 19, iphone 6s

[2018-03-19 17:20] #1038 closed

[2018-03-19 17:20] annadanchenko commented on #1107
not relevant anymore because of new onboarding

[2018-03-19 17:20] #1107 closed

[2018-03-19 17:22] annadanchenko commented on #1136
there is no status field in profile anymore

[2018-03-19 17:22] #1136 closed

[2018-03-19 17:25] annadanchenko commented on #1208
can't reproduce on nightly build March 19 (Android and iOS)

[2018-03-19 17:25] #1208 closed

[2018-03-19 17:26] annadanchenko commented on #1211
can't reproduce on nightly build March 19 (Android and iOS)

[2018-03-19 17:26] #1211 closed

[2018-03-19 17:28] annadanchenko commented on #1214
can't reproduce on nightly build March 19 (Android and iOS)

[2018-03-19 17:28] #1214 closed

[2018-03-19 17:32] annadanchenko commented on #1216
can reproduce nightly build March 19

[2018-03-19 17:44] annadanchenko commented on #3064
@jeluard if you are fine with the implementation based on the review we can merge. Haven't found any functional bugs with "light weight" regression tests (send messages and ETH in 1:1 and group chats)

[2018-03-19 17:47] annadanchenko commented on #1284
TestFairy session with logcat and video: https://app.testfairy.com/projects/4803622-status/builds/7912666/sessions/68/?accessToken=8m//5iGnEjZThGDbcCnxk7TVh7w

[2018-03-19 17:52] annadanchenko commented on #1287
done (swipe to delete)

[2018-03-19 17:52] #1287 closed

[2018-03-19 17:55] annadanchenko commented on #1380
done (can tap on user avatar to open user profile and then add to contacts from it)  https://github.com/status-im/status-react/issues/3224

[2018-03-19 17:55] #1380 closed

[2018-03-19 17:56] rasom commented on #2869
[code]

[2018-03-19 18:04] #3064 closed, assigned to nobody

[2018-03-19 18:05] annadanchenko commented on #1913
can't reproduce on nightly March 19

[2018-03-19 18:05] #1913 closed, assigned to nobody

[2018-03-19 18:06] annadanchenko commented on #1953
can't reproduce

[2018-03-19 18:06] #1953 closed, assigned to nobody

[2018-03-19 18:07] annadanchenko commented on #1958
can't reproduce (there is no Unsigned Transaction screen anymore)

[2018-03-19 18:07] #1958 closed, assigned to nobody

[2018-03-19 18:08] #3462 closed, assigned to nobody

[2018-03-19 18:09] annadanchenko commented on #1963
can't reproduce

[2018-03-19 18:09] #1963 closed, assigned to nobody

[2018-03-19 18:09] annadanchenko commented on #2120
no search feature anymore

[2018-03-19 18:09] #2120 closed, assigned to yenda

[2018-03-19 18:20] annadanchenko commented on #2219
rechecked on nightly build from March 29. Text messages sent when on "Mainnet with upstream RPC" are received ok. Nothing received and Messages connection problem grey line is shown for Mainnet.

[2018-03-19 18:25] annadanchenko commented on #3060
no phone command anymore

[2018-03-19 18:25] #3060 closed, assigned to nobody

[2018-03-19 18:28] annadanchenko commented on #3333
yes it's fixed

[2018-03-19 18:28] #3333 closed, assigned to nobody

[2018-03-19 18:44] #3361 closed, assigned to nobody

[2018-03-19 18:45] annadanchenko commented on #674
there is no phone command and confirmation-code command anymore

[2018-03-19 18:45] #674 closed

[2018-03-19 18:46] annadanchenko commented on #2824
closing because of new onboarding flow (password is no longer in console)

[2018-03-19 18:46] #2824 closed, assigned to nobody

[2018-03-19 18:57] annadanchenko commented on #1680
closing issue as there is no feedback

[2018-03-19 18:57] #1680 closed, assigned to nobody

[2018-03-19 19:07] annadanchenko commented on #2772
can't reproduce on nightly build from March 19

[2018-03-19 19:07] #2772 closed, assigned to nobody

[2018-03-19 19:10] annadanchenko commented on #3059
no browse command anymore

[2018-03-19 19:10] #3059 closed, assigned to nobody

[2018-03-19 19:10] annadanchenko commented on #2977
no browse command anymore

[2018-03-19 19:10] #2977 closed, assigned to nobody

[2018-03-19 19:36] Marina-Kovalevich opened #3624 "Error Message.from-clock-value must be of type 'number' when sign transaction later from deleted 1-1 chat"
### Description

*Type*: Bug

*Summary*: Error message “message.from-clock-value must be of type ‘number’,got ‘null’ (null)” when sign transaction later if 1-1 chat with this transactions was deleted. After transactions signed user cannot start 1-1 chat with receiver, but is redirected to Unknown chat.

#### Expected behavior
Transaction signed later from wallet, no error appears, user can start 1

[2018-03-19 20:17] Marina-Kovalevich opened #3625 "No hint shown on transaction history screen when all filter checkboxes are unchecked"
### User Story

As a user if I uncheck all checkboxes in wallet transaction history I see blank field in transaction history. This may be confusing.
If user don't have any transactions there is message "No transactions in your history yet".
If there are no unsingned transactions there is message "You don't have any unsigned transactions"

### Description

*Type*: Bug

*Summary*: No hint that there

[2018-03-19 20:32] asemiankevich commented on #3624
i can reproduce on ios as well , the app hangs after the error received on iPhone 7.
TF for logs https://app.testfairy.com/projects/4803590-status/builds/7906391/sessions/63/?accessToken=tCTL300Kcx1zUwuAxXyILgBtZkQ

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/7906391/sessions/63/?accessToken=tCTL300Kcx1zUwuAxXyILgBtZkQ">TestFairy: Status 0.9.11d779 (2

[2018-03-19 20:38] asemiankevich commented on #3625
@denis-sharypin it may be confusing to the user if he faces with this edge case like I diselected all filters and forgot about it and then got back to transactions and saw this blank screen. What do you think?

[2018-03-19 21:23] rasom commented on #2869
[code]

[2018-03-20 01:25] status-open-bounty commented on #3555
Balance: 0.000000 ETH
Tokens: SNT: 2000.00
Contract address: [0x8dd56bbb479c0d9709bc44fb7baab10986c6a8c6](https://etherscan.io/address/0x8dd56bbb479c0d9709bc44fb7baab10986c6a8c6)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-20 06:25] denis-sharypin commented on #1664
@goranjovic  Do you remember we had them in the previous version of Discovery? Where those descriptions now?

[2018-03-20 06:29] denis-sharypin commented on #3625
On it!

[2018-03-20 07:05] #2654 closed, assigned to antdanchenko

[2018-03-20 07:05] #2874 closed, assigned to antdanchenko

[2018-03-20 07:06] #3281 closed, assigned to antdanchenko

[2018-03-20 07:11] status-open-bounty commented on #3616
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0xb2fc4379141bc90d5e24b5458730ba10078529f4](https://etherscan.io/address/0xb2fc4379141bc90d5e24b5458730ba10078529f4)
Network: Mainnet
Paid to: go1t
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-20 08:39] denis-sharypin commented on #1703
Let's make a small bounty of it:
1. If you have a custom user picture you will see a menu where on top of the list we have `Remove current` picture option  (on the right)

2. If you don't have a custom picture or you have deleted it and open this menu again you will see our current context menu. (on the left)

![remove current photo](https://user-images.githubusercontent.com/6559881/37643828-63060

[2018-03-20 09:10] denis-sharypin opened #3629 "Extra hyphenation of description text on the empty home tab"
### User Story

As a user, I want to to see good right formatting.

### Description

*Type*: Bug

Delete extra hyphenation between first sentence and second.

#### Expected behavior
![ios_signup_12_1 copy 18 1x](https://user-images.githubusercontent.com/6559881/37645340-2213f95c-2c59-11e8-988a-f63c3932347f.jpg)

#### Actual behavior
![img_3740](https://user-images.githubusercontent.com/6559881/376

[2018-03-20 09:16] lukaszfryc commented on #1664
This is for sure needed for curated list of dapps we select for beta release https://github.com/status-im/ideas/issues/88

[2018-03-20 09:30] denis-sharypin opened #3630 "Improve dynamic image sizing"
### User Story

As a user, I want to see that illustrations fits the screen of the app.

### Description

*Type*: Bug

Images that we are using in the app should have the dynamic size to properly fit the screen.

#### Expected behavior
Image doesn't touch the grey line on the top
![right](https://user-images.githubusercontent.com/6559881/37646264-c7f840ba-2c5b-11e8-8cde-810b30c2e150.jpg)

#### Act

[2018-03-20 10:02] divan opened #3631 "Dockerized build process"
### User Story

As a developer, I want to regularly build an app for iOS and Android locally and test its functionality. However, I've never been able to build and run iOS version and had hours long (sometimes days) struggle with various build process issues for Android. In BKK, 4 core developers were sitting at my laptop for a few hours, trying to build iOS version for the device, and the best re

[2018-03-20 11:24] annadanchenko commented on #3624
will be fixed in scope of https://github.com/status-im/ideas/issues/87

[2018-03-20 11:25] annadanchenko commented on #3620
will be fixed in scope of https://github.com/status-im/ideas/issues/87

[2018-03-20 11:25] annadanchenko commented on #3619
will be fixed in scope of https://github.com/status-im/ideas/issues/87

[2018-03-20 11:37] Serhy commented on #2826
Has been fixed. Closing the issue.

[2018-03-20 11:37] #2826 closed, assigned to Serhy

[2018-03-20 11:39] status-open-bounty commented on #3629
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x7b490424e030d25f211857071ac7c106eeb62792](https://etherscan.io/address/0x7b490424e030d25f211857071ac7c106eeb62792)
Network: Mainnet
Paid to: msuess
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-20 11:59] chadyj opened #3632 "Add 'opt-in' screen to recovery flow"
Newly created accounts have an option to opt-in to helping Status by sharing some anonymous usage metrics. However, this is missing for recovered accounts.

Since we have no way of knowing the users original opt-in settings we should ask the user again if they would like to share.

Testing: @lukaszfryc

[2018-03-20 12:05] asemiankevich commented on #1719
@denis-sharypin would you mind to look into this ? Probably it will be redesigned soon? What is the design of this behavior ?

[2018-03-20 12:06] asemiankevich commented on #2696
@janherich is there any news on this? Will it be fixed in new protocol ? I really want to have this fixed soon

[2018-03-20 12:09] Serhy commented on #3181
This is not reproducible anymore. Closing this issue.

[2018-03-20 12:09] #3181 closed, assigned to nobody

[2018-03-20 12:15] denis-sharypin commented on #1719
I need help from @chadyj  and @hesterbruikman for this. More like a product decision.
My question would be even: do we want to show 1-to-1 transactions for everyone in a group chat?

[2018-03-20 12:18] asemiankevich commented on #3342
@Serhy i want to exclude this from scope as seems the issue is some kind of device-specific and probably is on dapp side. I would say if you are still able to see the transaction in history and your balance is updated - that is pretty much it from Status side. WDYT?

[2018-03-20 12:19] Serhy commented on #3189
Rechecked above scenario with the chat with 300+ messages on latest develop (282th) and it's all fine! Can't reproduce anymore. Closing this issue.

[2018-03-20 12:19] #3189 closed, assigned to nobody

[2018-03-20 12:24] Serhy commented on #3293
Retested above scenario as well as browsing google maps - on latest develop (282th) and it's all fine! Can't reproduce anymore. Closing this issue.

[2018-03-20 12:24] #3293 closed, assigned to nobody

[2018-03-20 12:26] asemiankevich commented on #2696
Per Jan comment:
Ok, so this is something which I already answered long ago (we discussed about it with @roman as well), it's basically not possible to do it with current code - you can't easily create artificial `/send` message without actually going through the bot send process, but you don't want that because you are sending through wallet
What we really need is to ditch bot code handling sendi

[2018-03-20 12:27] Serhy commented on #3261
This is not reproducible anymore. Neither in release nor on develop builds.
Closing the issue.

[2018-03-20 12:27] #3261 closed, assigned to nobody

[2018-03-20 12:54] Serhy commented on #3196
#3247 fixed it. Closing the issue.

[2018-03-20 12:54] #3196 closed, assigned to nobody

[2018-03-20 12:55] denis-sharypin commented on #3616
@foopang  Do you feel like you can fix this? :)  I really like your contribution!

[2018-03-20 13:00] hesterbruikman commented on #1719
I would say yes; even though it feels undesireable. It is a logical result of starting a 1:1 transaction within a group chat. Also, it gives the highest level of user control.

That said, my gut feeling is that people will switch to 1:1 chat for transactions and it needs to be easy to select a group chat member to start a 1:1 chat.

[2018-03-20 13:29] status-open-bounty commented on #1216
Balance: 0 ETH
Tokens: SNT: 937.66
Contract address: [0x2ad413f0586885da2d7744ed56d1995971c564ac](https://etherscan.io/address/0x2ad413f0586885da2d7744ed56d1995971c564ac)
Network: Mainnet
Paid to: goranjovic
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-20 13:36] foopang commented on #3616
@denis-sharypin Thanks! I will keep an eye on it. I feel that it is a very beginner-friendly task, I guess you may wanna let new contributors work on it first.
I will quickly submit a PR after a couple of days if no one else is picking up the task :)

[2018-03-20 13:36] asemiankevich commented on #1228
@denis-sharypin is there any redesign for restore access? asking if the issue is worth fixing

[2018-03-20 13:49] lukaszfryc commented on #3564
#3579 is related

[2018-03-20 13:52] lukaszfryc commented on #3479
@foopang would you be interested in implementing it?

[2018-03-20 13:52] jeluard commented on #2696
@asemiankevich Most probably will be solved when improving bot API

[2018-03-20 13:52] Serhy commented on #3342
Correct, transaction is visible in history for this case.
Fine for me to exclude from scope for now, ok.

[2018-03-20 13:54] status-open-bounty commented on #3176
Balance: 0.000000 ETH
Tokens: SNT: 500.00
Contract address: [0xf10343a344a14443bab0852cf0085600ed463873](https://etherscan.io/address/0xf10343a344a14443bab0852cf0085600ed463873)
Network: Mainnet
Paid to: TheCriw
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-20 13:55] #3007 closed, assigned to alwx

[2018-03-20 14:24] lukaszfryc commented on #2984
If it's really a bug, it should probably be resolved as part of https://github.com/status-im/ideas/issues/86

[2018-03-20 14:30] nikitalukianov commented on #3512
Guys, I'm working on the new design of chat/ messages/ layout and we'll make all space more optimize. But now this bug will fixed by @denis-sharypin in the current layout

[2018-03-20 14:31] lukaszfryc commented on #1564
It looks normal on my Galaxy S8 (Android 7.0):
<img src="https://user-images.githubusercontent.com/7532782/37660769-76212a16-2c53-11e8-94b3-020c9b46cad8.png" width="300">

cc @alwx

[2018-03-20 14:37] foopang commented on #3479
@lukaszfryc sure, I will work on it tomorrow. But again, accessibility labels cannot be added for those OS native menu items.

[2018-03-20 14:38] lukaszfryc commented on #3479
@foopang yes. Let's skip them.

[2018-03-20 14:41] andmironov commented on #3571
+ we need to define how the error tooltips work when field becomes valid in general

[2018-03-20 14:46] andmironov commented on #3503
Nice point, although it was not an issue for UX test sessions participants

[2018-03-20 14:48] denis-sharypin commented on #1719
@asemiankevich Give your confirmation for `Expected behavior`.  Send and request messages should be tappable only for a user to whom it refers.

[2018-03-20 14:52] annadanchenko commented on #1228
Also need to provide explanation text for the user (here should be only 12 words)

[2018-03-20 15:20] asemiankevich commented on #2869
https://github.com/status-im/status-react/issues/1235 related

[2018-03-20 15:27] denis-sharypin opened #3633 "Transfer Network and Offline messages screens to a new design"
### User Story

As a user, I want to see a consistent design over all screens.

### Description

*Type*: Feature

Scope of this issue:

1. Transfer Network settings screen in the profile to a new `List component`; get rid of a grey background;  use our new blue color for selected elements.
2. Transfer Offline messages settings screen in the profile to a new `List component`; get rid of a grey back

[2018-03-20 15:40] #3503 closed, assigned to nobody

[2018-03-20 16:02] #3588 closed, assigned to nobody

[2018-03-20 16:05] Serhy opened #3634 "No redirect to Wallet screen when /send used in 1-1 chat which was started from contact profile view in public chat"
***Type***: Bug

***Summary***: From public chats user may navigate to contact profile screen and from there wind up on 1-1 chat screen (tapping 'Send message' or 'Send transaction' option). However, when any of contacts in this 1-1 chat try to send ETH via /send command - the 'Specify amount' screen just disappear with no redirect to Wallet screen

#### Expected behavior
Redirect to Wallet screen

[2018-03-20 16:09] #3580 closed, assigned to cammellos

[2018-03-20 16:11] #3609 closed, assigned to nobody

[2018-03-20 18:38] yevh-berdnyk commented on #3630
Checked on Android, real device LG V20 and emulator Google Nexus 5:
<img width="605" alt="screen shot 2018-03-20 at 8 35 33 pm" src="https://user-images.githubusercontent.com/29711298/37675710-a312af42-2c7e-11e8-9862-b900701a3ef1.png">

[2018-03-20 19:01] yevh-berdnyk opened #3635 "Spinner disappears when sign in"
### User Story

As a user I want to where I am when performing sign in

### Description

*Type*: Bug

*Summary*: When a user is signing in spinner disappears earlier than sign in is performed so user sees a screen with password input

#### Expected behavior
Spinner with info message is shown all the time while sign in is being performed

#### Actual behavior
After Sign in button is tapped spinner

[2018-03-20 19:02] yevh-berdnyk commented on #3499
The same thing (but only on Android) for sign in to an account which already has been used on current device: spinner appears for a moment when tapping Sign in button and disappears after that.
To reproduce:

- Open Status
- Create an account
- Go to profile and log out
- Select the same user, provide password and click Sign in button

[2018-03-21 05:42] denis-sharypin commented on #3587
👀

[2018-03-21 06:36] status-open-bounty commented on #3611
Balance: 0.000000 ETH
Tokens: SNT: 1018.64
Contract address: [0x00c4650f3d64dd2ee31def87735174b351207c3a](https://etherscan.io/address/0x00c4650f3d64dd2ee31def87735174b351207c3a)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-21 07:00] chadyj commented on #3631
Awesome project! I'm happy to help test.
Another benefit is making it trivial to integrate with CI systems like CircleCI.

[2018-03-21 08:03] asemiankevich commented on #3635
@yevh-berdnyk seems like a duplicate of https://github.com/status-im/status-react/issues/3499

[2018-03-21 08:29] lukaszfryc commented on #3635
Yes, I think it's a duplicate

[2018-03-21 08:34] yevh-berdnyk commented on #3635
@asemiankevich , @lukaszfryc the difference is this issue about login with newly created account (or any account which was already logged in with on current device) and #3499 (if I understood correctly) is about recovering account with passphrase

[2018-03-21 08:36] asemiankevich commented on #3635
yeah @yevh-berdnyk would you mind to keep it in any one issue? Having 2 separate does not look too much reasonable :) @lukaszfryc

[2018-03-21 08:39] yevh-berdnyk commented on #3635
@asemiankevich ok, I'll add a comment and close this issue

[2018-03-21 09:14] #3319 closed, assigned to nobody

[2018-03-21 09:56] #3567 closed, assigned to mandrigin

[2018-03-21 11:12] denis-sharypin commented on #3604
@yevh-berdnyk  Could you ask an opinion somebody from design team before you are posting UX related issues? What you mentioned here is made by design

[2018-03-21 11:30] #3635 closed, assigned to nobody

[2018-03-21 11:34] yevh-berdnyk commented on #3604
@denis-sharypin sorry, didn't know it's only about design.
So do you mean it's not an issue and should be left as it is?

[2018-03-21 12:03] denis-sharypin commented on #3604
@yevh-berdnyk  yep!

[2018-03-21 12:28] yevh-berdnyk commented on #3604
It was discussed and agreed being an issue

[2018-03-21 14:25] lukaszfryc opened #3637 "Can't add or remove group chat members"
### Description
*Type*: Bug

*Summary*: Since #3502 a group chat admin can't remove or add members. This should be fixed.

#### Expected behavior
Group chat admin can add or remove members

#### Actual behavior
There is no option to add or remove group chat members by admin.

### Reproduction
- Open Status
- Create group chat
- Open group chat settings and try to add or remove a member

### Additi

[2018-03-21 14:59] lukaszfryc opened #3638 "Can’t edit url in Status browser"
### Description
*Type*: Bug

*Summary*: Nothing happens when I tap on the Status browser url bar on iPhones. In result I can't edit the url.
Everything works fine on Galaxy S8 (Android 7.0)

#### Expected behavior
Url field should be focused and I should be able to edit the url

<img src="https://user-images.githubusercontent.com/7532782/37717307-8e28aaa8-2d20-11e8-94a0-c58c77b28a2a.png" width="30

[2018-03-21 15:23] lukaszfryc opened #3639 "Persist browser history to allow to go back & forth when user returns to DApp"
### Description

*Type*: Feature

*Summary*: We have back & next buttons in Status browser. But, when you leave a Dapp (or web page) and then go back the browsing history is not persisted. Meaning, you can't press back button to go to a page you've been previously. I believe this would be a nice to have feature someday in the future.

#### Expected behavior
When returning to a dapp the browser his

[2018-03-21 15:31] lukaszfryc opened #3640 "No Join button when joining public chat"
### Description
*Type*: Bug

*Summary*: I think we miss "join" button in New Public Chat screen. It would be probably more clear if instead of pressing "Return" on native keyboard, the join button would appear in the top rigth corner. Or maybe "Return" text could change to "Join"?

#### Expected behavior

<img src="https://user-images.githubusercontent.com/7532782/37719224-d29f6998-2d24-11e8-9947-

[2018-03-21 15:31] lukaszfryc commented on #3640
@denis-sharypin wdyt?

[2018-03-21 15:42] lukaszfryc opened #3641 "Specify amount popup maybe unexpectedly closed when trying to change the transaction fee"
### Description
*Type*: Bug

*Summary*: When user tries to change a transaction fee and she taps near the slider the whole specify amount popup hides. This can be really frustrating.

#### Expected behavior
Specify amount popup does not hide when tapped.

#### Actual behavior
When you tap inside red rectangles shown on the following picture, the popup hides:
<img src="https://user-images.githubuse

[2018-03-21 15:44] lukaszfryc opened #3642 ""Welcome to Status" image has low quality on Samsung Galaxy S8 screen"
### Description
*Type*: Bug

*Summary*: Welcome to Status image is low quality on Samsung Galaxy S8 screen.

#### Expected behavior
Image is sharp

#### Actual behavior
Image is low quality.

### Reproduction
- Install Status
- Open Status on a device with high resolution like Galaxy S8

### Additional Information
* Status version: nightly, March 21
* Operating System: Android

[2018-03-21 16:06] rasom commented on #2869
[code]

[2018-03-21 16:09] rasom commented on #2869
may be related https://github.com/facebook/react-native/issues/18467

[2018-03-21 16:11] rasom commented on #2869
https://github.com/facebook/react-native/issues/17276#issuecomment-357538208

[2018-03-21 16:13] rasom commented on #2869
and again
[code]

[2018-03-21 16:26] rasom commented on #2869
[code]

[2018-03-21 19:42] yevh-berdnyk opened #3643 "Too small tap area of Back button on seed phrase backup screen"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Back button is hard to click because of too small tap area

#### Expected behavior
Back button is easily clickable on whole its area

#### Actual behavior
Back button tap area is too small,

[2018-03-21 20:29] yevh-berdnyk opened #3644 "Can't open app settings on Android 8"
### Description

*Type*: Bug

*Summary*: On Android 8.0 it's impossible to open application settings from profile - error `The app wasn't found in the list of installed apps` is shown. Only reproducible on Android 8.0, checked on other devices and it's ok

#### Expected behavior
App settings is opened

#### Actual behavior
`The app wasn't found in the list of installed apps` error is shown

<img w

[2018-03-22 03:34] denis-sharypin commented on #3640
@lukaszfryc Nice catch!
We will fix this by following mobile browsers behavior and simply change keyboard type.
![image](https://user-images.githubusercontent.com/6559881/37749856-8afd11b0-2dbc-11e8-8867-7a63df37b04e.png)

[2018-03-22 08:30] chadyj opened #3648 "Set "mainnet with upstream" from the profile screen as the default for dev/internal builds."
### User Story

As a (dev/nightly) user, I want to use Status on Mainnet so that I can use wallet and Dapps properly.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

Mainnet is needed fo

[2018-03-22 09:13] asemiankevich opened #3649 "Messages connection problem tooltip when switching to any network from default"
### Description

*Type*: Bug

*Summary*: Recently we implemented the `messages connection problem` tooltip indicating connection problems but now i do see this when switching to other networks from default (Ropsten with RPC) and i dont want to see it when switching to Mainnet especially

#### Expected behavior
No error messages when switching  to Mainnet or any other network

#### Actual behavior

[2018-03-22 09:15] asemiankevich commented on #3644
@jeluard i remember this issue in PR but it was reproducible for Android 7 and u fixed that , would you mind to take a look?

[2018-03-22 09:17] status-open-bounty commented on #3648
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x9a389e624074fbdb4587bff9bc9a22a6f69f9b6e24a140727ac97bec99aa2d6d](https://etherscan.io/tx/0x9a389e624074fbdb4587bff9bc9a22a6f69f9b6e24a140727ac97bec99aa2d6d)

[2018-03-22 09:24] flexsurfer commented on #3143
related to https://github.com/status-im/status-react/issues/2704

[2018-03-22 09:35] asemiankevich opened #3650 "Open dapp button should be blue"
### Description

*Type*: Bug

*Summary*: Arrow and `_` sign should be blue by design

#### Expected behavior

![image](https://user-images.githubusercontent.com/28752642/37762371-2624ab48-2dcd-11e8-9800-d907ba16fbfb.png)

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/37762393-37aa32e8-2dcd-11e8-9db6-7026612d06fa.png)

![image](https://user-images.githubuserconten

[2018-03-22 09:41] jeluard commented on #3644
Sure! Just added in on the pile! ;)

[2018-03-22 09:45] #3537 closed, assigned to jeluard

[2018-03-22 09:45] #3545 closed, assigned to jeluard

[2018-03-22 09:49] mandrigin commented on #1391
@asemiankevich is is still a valid issue?

[2018-03-22 09:53] asemiankevich commented on #3649
@yenda please take a look

[2018-03-22 09:55] annadanchenko commented on #1849
@asemiankevich what's the expected behaviour? Should be chats sorted by date/time when last message was sent there? So chat with more recent message is on top?

[2018-03-22 10:36] status-open-bounty commented on #2704
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xbcca941bf7a0fdc331a7bfe2488056aaf027144a8b9388d8cc0323a2ff172411](https://etherscan.io/tx/0xbcca941bf7a0fdc331a7bfe2488056aaf027144a8b9388d8cc0323a2ff172411)

[2018-03-22 10:37] andytudhope commented on #3143
@flexsurfer seeing as we have a large bounty on 2704, can I remove the `bounty-awaiting-approval` label here?

[2018-03-22 10:38] flexsurfer commented on #3143
@andytudhope this still needs a small bounty to inject window.chrome = { webstore: true }

[2018-03-22 10:46] denis-sharypin opened #3651 "Make Console icon style look like dev tool"
### User Story

As a developer, I want to see that console is more look like terminal/bash so that  I can trust it more and could find it through a list of chats easily.

### Description

*Type*: Feature

I would like to restyle a Console user pick and replaced empty state text to achieve the user story.

The scope of the issue:
—  Rename Console to Status Console
—  Delete small icon with two dot

[2018-03-22 10:50] denis-sharypin commented on #3651
Pic @2x:
![statusconsole 2x](https://user-images.githubusercontent.com/6559881/37766439-80602eb2-2df9-11e8-9784-52114c376037.png)

[2018-03-22 10:53] chadyj opened #3652 "Add mixpanel events to backup seed flow"
Work in https://github.com/status-im/status-react/issues/3537 and https://github.com/status-im/status-react/issues/3545 added opt-in metric events to most of Status, but it missed out on the new onboarding changes.  In order to understand onboarding usage we should add events to the following:

| Screen  | Event |
| ------------- | ------------- |
| Profile  | Tapping Advance Open/Closed  |
| Prof

[2018-03-22 10:54] asemiankevich commented on #1849
I do expect the following:

chats are ordered by creation date from old to new, newest on top of the list
when i receive message in any chat - it appears on top of others

that is a quite old issue, let me double check it in develop now , probably we should close it :)

[2018-03-22 11:03] status-open-bounty commented on #3651
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0xb247f56c74c8a805ec90130702ce0d063f2eb99e](https://etherscan.io/address/0xb247f56c74c8a805ec90130702ce0d063f2eb99e)
Network: Mainnet
Paid to: msuess
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-22 11:04] status-open-bounty commented on #3143
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x8a754904a1a463270ef712d04dec03a79f9e8f80](https://etherscan.io/address/0x8a754904a1a463270ef712d04dec03a79f9e8f80)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-22 11:07] denis-sharypin commented on #3538
@jeluard
The mockup with the second version of design could be found here: https://zpl.io/blN3WPG
When a user taps a button it pushes back to the main settings screen.  Focus of the screen should be the same as it was before (bottom of the screen).  State of the row should have changed from on to off or vice-versa.
User could easily spot diff between sharing on or off from the settings screen

<bl

[2018-03-22 11:08] flexsurfer commented on #3651
it should be svg not image

[2018-03-22 13:53] status-open-bounty commented on #3573
Balance: 0.000000 ETH
Tokens: SNT: 3984.88
Contract address: [0xa349771ebcd7e683aba7fb2551774050e0ee2d81](https://etherscan.io/address/0xa349771ebcd7e683aba7fb2551774050e0ee2d81)
Network: Mainnet
Paid to: jwagener
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-22 14:28] antdanchenko opened #3654 "Add parameter for building the app with specified default network"
### User Story
As an automation engineer I would like an option to build an app with default network set to `Ropsten with upstream RPC' to be added

### Description
In order to run transaction automated tests against each PR on daily basis we need to build the app with default network set to 'Ropsten with upstream RPC' instead of 'Mainnet' (assuming that 'Mainnet' is going to be the default networ

[2018-03-22 14:30] Serhy opened #3655 "Bottom tab panel jump around when switching between tabs on an iPhone X"
***Type***: Bug

***Summary***: Switching between main screens (Home-Wallet-Profile) on iPhoneX has a noticeable side-effect of jumping bottom panel. We need to "bind" this tab panel to bottom device screen on appropriate views (Home, Wallet, Profile).

#### Expected behavior
There is no flickering of the bottom tab panel when switching between tabs on an iPhone X

#### Actual behavior
Bottom tab

[2018-03-22 14:34] yevh-berdnyk opened #3656 "`java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.net.Uri.getScheme()' on a null object reference` launching app when it's on background"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to be able to open the app clicking on it's icon when it's running in background

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: Error `java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.net.Uri.getScheme()' on a nu

[2018-03-22 14:45] yevh-berdnyk commented on #3656
closing as it's duplicate of #3590

[2018-03-22 14:45] #3656 closed, assigned to nobody

[2018-03-22 14:50] annadanchenko commented on #3616
It's possible to copy values for Contact code and Address so it's OK.
However, when long tap on these fields in iOS then there is no selection shown, only "Copy" is shown. So user does not see what's selected: https://s3.amazonaws.com/testfairy/screenshots/4803590/7949991/93617113/10_fb7e2d530c6566841f4b853da0423bec72bf8861_o.jpg
On the design, there is selection and Copy.
See video (after 00:40)

[2018-03-22 14:59] status-open-bounty commented on #3654
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x406dc24c61d08840f8be3488e267ea7edab2b66b](https://etherscan.io/address/0x406dc24c61d08840f8be3488e267ea7edab2b66b)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-22 15:31] #3629 closed, assigned to flexsurfer

[2018-03-22 16:12] #3591 closed, assigned to nobody

[2018-03-22 21:46] msuess commented on #2704
Taking a crack at this :)

[2018-03-23 06:52] #3203 closed, assigned to flexsurfer

[2018-03-23 08:25] asemiankevich commented on #3564
https://github.com/status-im/status-react/issues/3510 is more recent - closing this one

[2018-03-23 08:25] #3564 closed, assigned to nobody

[2018-03-23 08:27] asemiankevich commented on #3510
@yenda I do know this is working this way right now. We want to change it to work like any other messenger (viber or watsapp)

[2018-03-23 11:00] #3606 closed, assigned to dmitryn

[2018-03-23 11:02] #1858 closed, assigned to nobody

[2018-03-23 11:02] #2819 closed, assigned to nobody

[2018-03-23 11:46] yevh-berdnyk commented on #3512
On iPhone 8+ last characters are hidden:
<img width="416" alt="screen shot 2018-03-02 at 10 35 02 pm" src="https://user-images.githubusercontent.com/29711298/37827514-7968dd78-2ea0-11e8-843e-b9ef537687c8.jpeg">

[2018-03-23 13:08] yevh-berdnyk opened #3665 "Browser back and forward buttons are not disabled on the last or the first browsed page"
### Description

*Type*: Bug

*Summary*: Browser back and forward buttons are not disabled when user on the first or the last page

#### Expected behavior
Browser back button is disabled when user returns to the first browsed page

#### Actual behavior
Browser back button is not disabled when user returns to the first browsed page

<img width="413" alt="screen shot 2018-03-21 22 27 15 pm" src="htt

[2018-03-23 14:09] yevh-berdnyk opened #3666 "Outdated name and profile picture are shown for contact who changed them when user was offline"
### Description

*Type*: Bug

*Summary*: When user changes his name and profile picture in the time when his contact is offline outdated name and picture are shown for the contact when he comes back online

#### Expected behavior
New name and profile picture are shown in user's A profile and a chat with him

#### Actual behavior
Outdated name and profile picture are shown in user's A profile and 1

[2018-03-23 14:20] jeluard opened #3667 "Show spinner when refreshing wallet on iOS"
### User Story

As a user, I want visual feedback showing wallet refreshed on iOS

### Description

*Type*: Bug

When refreshing wallet on iOS no spinner is shown.
Make sure a spinner is shown (can be for a fixed amount of time) while keeping a smoothing pulling (no jump)

[2018-03-23 16:15] yenda commented on #3510
@asemiankevich Do I understand right what you want is:

- you add someone, he sees your name but you don't see hia name
- he adds you back and you see his name

If that's the case it's already in the new protocol

[2018-03-23 19:06] yevh-berdnyk opened #3670 "Group chat profile doesn't show users who are not in the contacts list"
### User Story

As a user I want to see the other members of a group chat I was added to

### Description

*Type*: Bug

*Summary*: If members of a group chat didn't add each other as contacts their are not shown in the group chat's profile members list

#### Expected behavior
All group chat members and admin should be listed in the group chat profile

#### Actual behavior
'3 members' caption is sh

[2018-03-23 19:10] yevh-berdnyk commented on #3412
It is still reproducible on Android in the latest nightly build (0.9.10-793-gd692ddc7+), real device LG V20, Android 7.0

[2018-03-23 22:38] ghikio commented on #3598
I would like to work on this issue, but how could we solve this? We could try to hide the new button if the remove one is active, but it doesn't sound like the correct solution

[2018-03-24 00:10] FiberJW commented on #3555
Do you mind if I tackled this?

Would this be getting off of your status-im/instabug-reactnative fork and upgrading to the latest 2.8.0 version? Do you imagine anything breaking to support the new features? Are their and things from your fork that would need to cherrypicked into the latest update?

Thanks

[2018-03-24 04:45] chadyj commented on #3555
@fiber-god Go for it!
Yes, see if you can use the official package to make future upgrades easier.

[2018-03-24 14:42] flexsurfer commented on #3650
@asemiankevich and also there should be background circle on Android, not only on ios

[2018-03-25 06:31] flexsurfer commented on #3176
@Serhy and also icon color should be different

[2018-03-25 12:57] geniusmaster33 commented on #1722
Is this story completely developed. or still the app supports only STT

[2018-03-26 02:05] msuess commented on #3651
Taking a stab at this!

[2018-03-26 05:40] denis-sharypin commented on #3512
@yevh-berdnyk  Hey, it will be properly fixed in the upcoming redesign of the transaction messages.
For now, as a quick fix, we need to decrease a size of those numbers to 15 px(current font size of the messages in the chat) and make sure that `ETH` is 15 px as well.

[2018-03-26 08:30] jeluard opened #3675 "Add lookback integration for iOS"
### User Story

As a user, I want to be able to use [Lookback](https://lookback.io/) on iOS

### Description

*Type*: Feature

Make sure lookback work on iOS. An option is to integrate https://github.com/negativetwelve/react-native-lookback
Also provide details about the size and permission impact on the resulting ipa file.

Lookback must be disabled on release build by default and the lookback to

[2018-03-26 09:09] rasom commented on #2869
It seems that the only way to solve this issue is to restore state after crash so that user don't have to enter password again.

In most cases app is purged when being suspended on iOS because system needs more memory, and as far as i can say it can happen even to application which consumes ~2MB being suspended. So better to focus on restoring state after termination (and on all security related c

[2018-03-26 10:10] andytudhope opened #3677 "`/debug` mode no longer works in Console"
### User Story

As a 3rd party developer, I want to turn `/debug` mode on in `Console` so that I can build and test my DApp in Status.

### Description

*Type*: Bug

*Summary*:  You need to enable `debug` mode in Status in order to for `status-dev-cli` to work between your machine and device. It no longer does.

#### Expected behavior
[comment]: # Sending the `/debug` command to `Console` after en

[2018-03-26 10:10] andytudhope commented on #3677
Already known: https://github.com/status-im/status-react/issues/3440

[2018-03-26 10:10] #3677 closed, assigned to nobody

[2018-03-26 10:29] denis-sharypin opened #3678 "Remove extra state for editing userpic"
### User Story

As a user, I want to tap once on a userpick to edit it to get a context menu.

### Description

*Type*: Bug

Currently, while you are in the editing mode on the profile tab you have to tap twice on the userpick to open a context menu. Take a look at the Actual behavior

#### Actual behavior
![artboard](https://user-images.githubusercontent.com/6559881/37901473-7b3cbcf0-311b-11e8-82

[2018-03-26 10:39] andytudhope commented on #3667
Does there not need to be some design direction given here @jeluard @denis-sharypin?

[2018-03-26 10:39] status-open-bounty commented on #3667
Balance: 0.000000 ETH
Tokens: SNT: 1000.00
Contract address: [0x611b1fe60ad0a46e558ca1f4f602aef501fd1496](https://etherscan.io/address/0x611b1fe60ad0a46e558ca1f4f602aef501fd1496)
Network: Mainnet
Paid to: psdp
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-26 10:44] denis-sharypin commented on #3667
You can spot an idea of how it should work here ( don't pay attention to the old wallet design) It should a typical pull-to-refresh behaviour
https://framer.cloud/fBQyZ

[2018-03-26 10:52] asemiankevich commented on #3670
related to https://github.com/status-im/status-react/issues/3094

[2018-03-26 11:01] #3652 closed, assigned to lukaszfryc, flexsurfer

[2018-03-26 11:02] lukaszfryc commented on #3619
Note: Happens only for swipe to delete. It works fine when chat is removed from chat option menu (Delete chat)

[2018-03-26 12:19] asemiankevich opened #3681 "No commands shown (release 0.9.16 branch)"
### Description

*Type*: Bug

*Summary*: no commands shown on android and ios neither in console nor in chats

#### Expected behavior
/faucet , /debug , /send and /request are avaliable

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/37905871-f35d555e-3108-11e8-87d3-c9cb0b112434.png)

### Reproduction

- Open Status
- Turn on development mode
- Go to console and

[2018-03-26 12:29] asemiankevich opened #3682 "Spinner is missing for pull-to-refresh gesture (iOS)"
### Description

*Type*: Bug

*Summary*: We have a `pull-to-refresh` gesture on main wallet screen that is currently missing spinner when i pull to refresh (iOS)

#### Expected behavior
i see spinner when i pull to refresh

![image](https://user-images.githubusercontent.com/28752642/37906479-ef2618de-310a-11e8-83e9-0b9d3bec2f92.png)

#### Actual behavior
no spinner

### Reproduction

- Open Status

[2018-03-26 12:39] asemiankevich opened #3683 "Advanced option does not autoscroll the screen up"
### Description

*Type*: Bug

*Summary*: When i tap `Advanced` button anywhere it exists - i dont want to scroll the screen - the options should appear via autoscroll

#### Expected behavior
screen is autoscrolled when I tap Advanced so I dont need to scroll

#### Actual behavior
I need to scroll the screen to reach the Advanced options. Here is the list of them:

1. Home -> Profile -> advanced
2.

[2018-03-26 12:40] denis-sharypin opened #3684 "Move alert asking about Push Notifications (iOS) to the home tab"
### User Story

As a user, I want to have a better context before letting Status sends me Push Notifications so that I'll give this permission easily.

### Description

*Type*: Feature

Move permission alert asking about Push Notifications to the Home tab

![slice](https://user-images.githubusercontent.com/6559881/37906782-56d13d02-312d-11e8-9123-e78634c04e91.jpg)

#### Expected behavior
Having th

[2018-03-26 12:45] #3682 closed, assigned to nobody

[2018-03-26 12:55] jeluard commented on #3682
Duplicates https://github.com/status-im/status-react/issues/3667 ?

[2018-03-26 13:24] chadyj opened #3685 "Automate alpha release deployments"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to automatically upload release binaries so that it improves our manual release process.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to

[2018-03-26 16:35] #889 closed

[2018-03-27 02:00] oskarth commented on #3568
@lukaszfryc Can you confirm this is still in 0.9.16 release branch? @jeluard says https://github.com/status-im/status-react/pull/3393 should've fixed it, which was merged before release branch was cut.

[2018-03-27 02:12] oskarth commented on #3568
Unable to reproduce on iOS simulator in develop. Expected behavior works for me with described steps (Airplane mode <=> Network offline).

[2018-03-27 02:12] oskarth commented on #3568
Unable to reproduce on iOS simulator in develop. Expected behavior works for me with described steps (Airplane mode <=> Network offline).

[2018-03-27 02:30] oskarth commented on #3637
In previous discussions around group chat we said we'd wanted to disable this for MVP/Beta to stay focused, so I propose we cut this from scope and flesh out proper group chat as part of a swarm. Thoughts?

cc @chadyj

[2018-03-27 02:49] oskarth commented on #3620
When I delete chat using "Delete chat" option it appears to work as expected. When I delete chat using swipe-based deletion in iOS simulator I get the following error:

The message then disappears. If I logout and login again I then see the chat that was swipe-deleted.

Thus it seems likely https://github.com/status-im/status-react/commit/502a28ec7a82894dea97e5ae0e7a9ceeef1cc9ca is the culprit.

@

[2018-03-27 03:11] yenda commented on #3620
No it's not  502a28e, the whole chat.events namespace is screwed, someone probably failed a rebase, there is events overwritten by wrong events, especially :remove-chat that is replaced by one using events that don't exist anymore.

[2018-03-27 03:57] oskarth opened #3689 "Remove JSC_ENABLED flag and turn on behavior by default"
### User Story

As a developer, I want flags to reflect possible variables in app, so it's clear what configurations app can be in and options are minimized.

### Description

We always want to use JSC since this is required for App store releases, and behavior is stable enough.

*Type*: Feature/Tooling

*Summary*:  Remove JSC_Enabled flag everywhere and turn on behavior by default.

#### Expected

[2018-03-27 06:11] #3481 closed, assigned to alwx

[2018-03-27 06:37] lukaszfryc commented on #3620
@oskarth I see the same behaviour on my side.

[2018-03-27 06:43] lukaszfryc commented on #3637
@oskarth yes, I think we can remove it from the Beta scope. I can't remember when I wanted to add or remove a friend in Messanger group chat for example. It maybe very useful for chats with long history of messages. But, I think we are fine without it for the Beta. User can always create a new group chat.

[2018-03-27 06:48] chadyj commented on #3637
@lukaszfryc Can we apply the same thinking to other related issues?

[2018-03-27 07:24] status-open-bounty commented on #3689
Balance: 0 ETH
Tokens: SNT: 1100.00
Contract address: [0xd67e9ab3487bb23e907986333fbf38b81be6cc01](https://etherscan.io/address/0xd67e9ab3487bb23e907986333fbf38b81be6cc01)
Network: Mainnet
Status: Pending user to save ETH address
Winner: ambilo
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-27 07:32] status-open-bounty commented on #3684
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa88446f4af8af0e1e2369f4fc81061ce2691a0e6eb663eedc2c7f3a482400d03](https://etherscan.io/tx/0xa88446f4af8af0e1e2369f4fc81061ce2691a0e6eb663eedc2c7f3a482400d03)

[2018-03-27 07:34] status-open-bounty commented on #3678
Balance: 0.000000 ETH
Tokens: SNT: 2200.00
Contract address: [0xf44da88ccabecdce7c62099c2d2fc08823b5479b](https://etherscan.io/address/0xf44da88ccabecdce7c62099c2d2fc08823b5479b)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-27 07:35] status-open-bounty commented on #3675
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xf74bba7007f0a9dec4e05ad529d1878f4d2eda2ca3575687596f29a91f775648](https://etherscan.io/tx/0xf74bba7007f0a9dec4e05ad529d1878f4d2eda2ca3575687596f29a91f775648)

[2018-03-27 07:38] pedropombeiro opened #3690 "Use thread pool instead of new threads on Android"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to leverage thread pools so that I don't incur the cost of creating a new thread every time.

### Description

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summar

[2018-03-27 07:42] status-open-bounty commented on #3690
Balance: 0.000000 ETH
Tokens: SNT: 550.00
Contract address: [0xada243d5513dfa17f2fa4ec7d1cb69f6809aa514](https://etherscan.io/address/0xada243d5513dfa17f2fa4ec7d1cb69f6809aa514)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-27 07:57] lukaszfryc commented on #3417
@jeluard any update on this one?

[2018-03-27 08:00] jeluard commented on #3417
@lukaszfryc Not working on it right now. Unassigned myself.

[2018-03-27 09:36] lukaszfryc commented on #3681
Also, when receive request is sent from Wallet the message in 1-1 chat is not formatted properly:

<img src="https://user-images.githubusercontent.com/7532782/37959294-1770d54c-31b3-11e8-8039-b1ce24a43abe.png" width="300">

[2018-03-27 09:36] #3620 closed, assigned to janherich

[2018-03-27 09:56] lukaszfryc opened #3694 ""Network request failed" dialog appears every time a new screen is opened in offline mode"
### Description
*Type*: Bug

*Summary*: "Network request failed" dialog is useful to let user know that some request has timed out because of a network issue. But, the dialog has started appearing every time a new screen is opened or message sent which makes it really annoying.

#### Expected behavior
The dialog appears only when there was a network timeout while executing some request.

#### Actu

[2018-03-27 10:04] lukaszfryc commented on #3221
Here is a related UI bug. Would be good to fix it (truncate long text "...") as part of the issue.

<img src="https://user-images.githubusercontent.com/7532782/37960771-c22b55e0-31b6-11e8-9f63-ae01cf6e0504.png" width="300">

[2018-03-27 10:17] lukaszfryc commented on #3439
Not valid anymore since we disabled adding or removing people to group chats.

[2018-03-27 10:17] #3439 closed, assigned to nobody

[2018-03-27 10:19] lukaszfryc commented on #3464
Not high priority anymore since admin can remove existing or add new members now (3221da4).

[2018-03-27 10:19] lukaszfryc commented on #3463
Not high priority anymore since admin can remove existing or add new members now (3221da4).

[2018-03-27 10:24] lukaszfryc commented on #3613
Hm, I'm not sure. We already require 2 actions from user. First to swipe then to click delete. Isn't it the same as clicking delete button to see the dialog (swiping in our case) and then clicking delete (in our case clicking the delete button after swipe).

[2018-03-27 10:29] asemiankevich commented on #3613
yeah like other messengers have this so I think we can have it too (like telegram, viber, etc)

[2018-03-27 10:40] lukaszfryc commented on #3568
Can't reproduce it either (Android, iOS).

[2018-03-27 10:40] #3568 closed, assigned to lukaszfryc

[2018-03-27 12:52] #3685 closed, assigned to nobody

[2018-03-27 13:07] status-open-bounty commented on #3417
Balance: 0.000000 ETH
Tokens: SNT: 2200.00
Contract address: [0x49c46bfa994bdb9f1fa6d2846cc30d9560bc9107](https://etherscan.io/address/0x49c46bfa994bdb9f1fa6d2846cc30d9560bc9107)
Network: Mainnet
Paid to: okilimnik
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-27 13:14] #3590 closed, assigned to nobody

[2018-03-27 13:16] status-open-bounty commented on #3694
Balance: 0.000000 ETH
Tokens: SNT: 1100.00
Contract address: [0xae1cf7459bc48886deb786534c4814293dc96835](https://etherscan.io/address/0xae1cf7459bc48886deb786534c4814293dc96835)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-27 13:17] status-open-bounty commented on #3681
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x1713924118c6394e42592d0c96620cb82b24d609728efc53b9bcf24a53cde88f](https://etherscan.io/tx/0x1713924118c6394e42592d0c96620cb82b24d609728efc53b9bcf24a53cde88f)

[2018-03-27 13:19] #3575 closed, assigned to nobody

[2018-03-27 13:45] asemiankevich opened #3698 "Decrease tapping area to make the version number not clickable"
### Description

*Type*: Bug

*Summary*: Decrease tapping area in the Profile tab so tapping version will not ask me to log out.

#### Expected behavior

![image](https://user-images.githubusercontent.com/28752642/37963335-a371cffc-31c6-11e8-8656-9e28f366263d.png)

I want to have the tapping area related to log out button and not for the version

#### Actual behavior
tapping version asks me if i r

[2018-03-27 13:50] yevh-berdnyk opened #3699 "Error: Invalid arity: 0 when changing network"
### Description

*Type*: Bug

*Summary*: `Error: Invalid arity: 0` when tapping on a network element from profile

#### Expected behavior
Network details and Connect button appear

#### Actual behavior
`Error: Invalid arity: 0` appears. App crashes

![2018-03-27 16 47 43](https://user-images.githubusercontent.com/29711298/37971456-a4da9cb2-31de-11e8-9fa5-4a4f8365ff00.jpg)

### Reproduction
- Open

[2018-03-27 13:51] #1849 closed, assigned to nobody

[2018-03-27 14:16] cammellos opened #3700 "Can't go to settings in android"
### User Story

As an android user,
I want to access the settings of the app
so that I can change them easily.

### Description

*Type*: Bug

*Summary*:
When clicking on Notifications from profile in the app on android, I am not redirected to the settings in android.

#### Expected behavior
I am redirected to the settings view in android
#### Actual behavior
Nothing happens
### Reproduction

- Ope

[2018-03-27 14:22] jeluard commented on #3700
Probably duplicates #3644

[2018-03-27 14:46] asemiankevich commented on #3612
yes it is fixed now - other part (opening /send dialog) is here https://github.com/status-im/status-react/issues/3577

[2018-03-27 14:46] #3612 closed, assigned to nobody

[2018-03-27 14:49] lukaszfryc commented on #3637
@oskarth I will remove the bounty. This issue is already implemented and is just temporary disabled by #3502. Once we have the new protocol we can revert it to re-enable this feature (adding and removing group chat members).

[2018-03-27 14:54] Serhy opened #3701 "[87-new-protocol] No contacts on Group Info screen of the non-admin group chat member"
***Type***: Bug

***Summary***: Any of contacts (even admin) are not present on Group Info screen in the Group Chat member side (non-admin group chat member). Even those who are in my contact list.
(Related issue exist already https://github.com/status-im/status-react/issues/3670)

#### Expected behavior
All contacts who are members of the group chat are listed in the Group Info screen

#### Actua

[2018-03-27 14:59] dmitryn commented on #3681
@asemiankevich not reproducible in develop on Nexus 5X - is it on release branch only?

[2018-03-27 15:00] asemiankevich commented on #3681
it was in last nightly and release @dmitryn

[2018-03-27 15:05] #3440 closed, assigned to nobody

[2018-03-27 15:39] Serhy opened #3702 "Message from 'System' appears in group-chat after contact re-login"
***Type***: <Bug|Feature>

*Summary*: Contact has been added in group chat. When he re-logins to account group chat receives the message from 'system' like `1522162060304-1968bcd3-e7c4-5dfb-b176-42c79a5cfa5b invited 0x04fd04ef1873c822f8585abf1f0e8636ca765e821156b8c506ef13ce1790bfd44e554b6e5d5c8d132eaa66451638c4585feff253ab9d7d188c4d4504e83e88efc8 and removed {:identity "0x04fd04ef1873c822f8585abf1

[2018-03-27 16:05] Serhy opened #3703 "Adding contact via scanning QR code redirects to Home instead 1-1 chat"
***Type***: Bug

***Summary***: When user scans QR code to add new contact - instead of 1-1 chat redirect happens on Home screen.
**Note**: it's all fine when adding new contact via paste-submit public key

#### Expected behavior
Redirect to 1-1 chat when adding new contact via QR code
#### Actual behavior
Redirect to Home screen when adding new contact via QR code

### Reproduction

- Open Status

[2018-03-27 16:25] Serhy opened #3705 "Admin is not shown in send/receive suggestions on non-admin group-chat member side"
***Type***: Bug

**Summary**: There is a group chat created. Admin can see the list of contacts in /send or /receive suggestion screen. However, any other group chat member (even if everyone is in contacts of each other) can not see the group chat **admin**  in the list of contacts when viewing the list of recipients of the /send or /receive screens.
Any group chat member should be able to see all

[2018-03-27 16:29] Serhy commented on #3705
This issue and #3701 - are related to each other - the root of both is that non-group chat member fails to receive (or maybe just to display) group chat members.

[2018-03-27 16:29] dmitryn opened #3706 "Collect mixpanel events while offline"
### Description

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
When app goes offline, we cannot track mixpanel events because we do it in realtime by calling `mixpanel/track` which does http API call. As a result, we simply drop/ignore the events when app is offline.

### Sol

[2018-03-28 07:22] jeluard commented on #3538
@denis-sharypin Is the `Learn more` screen something we want during the onboarding process too? It's not there currently. BTW what does it points to?

[2018-03-28 07:27] jeluard commented on #3538
@denis-sharypin Also what do you think about having the exact same screen for both profile and onboarding? Currently the user activation part is slightly different.

[2018-03-28 08:48] asemiankevich commented on #3700
duplicate

[2018-03-28 08:48] #3700 closed, assigned to nobody

[2018-03-28 08:52] lukaszfryc commented on #3681
So maybe https://github.com/status-im/status-react/commit/49a53645fb9002ac038e89160aa259ddec2c6c3c fixed it. @alwx @dmitryn @jeluard any idea? Btw, it could be cherry picked to `release/0.9.16` anyway to make Andy even more happier :)

[2018-03-28 09:00] Serhy opened #3708 "Error 'null is not an object (evaluating 't.cljs$core$IFn$_invoke$arity$1') after log in"
***Type*:** Bug

***Summary***: `Error 'null is not an object (evaluating 't.cljs$core$IFn$_invoke$arity$1')` after log in appears. I can proceed to use the app after that. Have no exact steps to reproduce it yet but logs (might be related to delete/leave group chat by participants)

#### Expected behavior
No errors after log in

#### Actual behavior
Error 'null is not an object (evaluating 't.clj

[2018-03-28 09:17] dmitryn commented on #3681
@lukaszfryc hard to tell, maybe that was a fix. I think it's easier to cherry-pick and check if it resolves the error in release/0.9.16

[2018-03-28 10:27] #3694 closed, assigned to nobody

[2018-03-28 10:54] dmitryn commented on #3388
This issue might be resolved  by https://github.com/status-im/status-react/pull/3660 as we're switching to react-native-testfairy 2.8.0

[2018-03-28 11:20] Serhy opened #3713 "Error 'function (e) {switch(arguments.length){case 1....' upon sending 'Request ETH' from Wallet"
*Type*: Bug

*Summary*: The `function (e) {switch(arguments.length){case 1:return cljs.core.dissoc.cljs$core$IFn$_invoke$arity$1(arguments[0]);case 2:return cljs.core.dissoc.cljs$core$IFn$_invoke$arity$2(arguments[0],arguments[1]);default:for(var c=[],r=arguments.length,s=0;s<r;)c.push(arguments[s]),s+=1;return c=new cljs.core.IndexedSeq(c.slice(2),0,null),cljs.core.dissoc.cljs$core$IFn$_invoke$ar

[2018-03-28 11:30] chadyj commented on #3539
The wiki page is up at https://wiki.status.im/Help_Improve_Status#Help_Improve_Status

Final step is to add a `Learn more` link to the opt-in screen and settings opt-in toggle screen. This should open a web view of the wiki page that can be easily closed. (we don't want to take users away from the signup flow)

<img width="294" alt="learnmore" src="https://user-images.githubusercontent.com/116099/

[2018-03-28 13:13] #3632 closed, assigned to lukaszfryc, flexsurfer

[2018-03-28 13:13] asemiankevich opened #3716 "Restoring account event is treated as account created by Mixpanel"
### Description

*Type*: Bug

*Summary*: Restoring account is treated as account created by Mixpanel

https://mixpanel.com/report/1541909/live/#chosen_columns:!('$browser','$city',mp_country_code,distinct_id,'$referring_domain'),column_widths:!(200,100,223,153,96,366,182),query:(distinct_ids:!(),is_or_query:!f,on:'(%2225b7e2df%22%20in%20properties%5B%22app-version%22%5D)%20and%20(defined%20(proper

[2018-03-28 13:45] lukaszfryc commented on #3681
Does not work on iOS as well. Tested on iPhone 6, iOS 11.2.1

[2018-03-28 14:09] flexsurfer commented on #3681
Maybe some race conditions?

[2018-03-28 14:41] #3678 closed, assigned to nobody

[2018-03-28 15:04] #3699 closed, assigned to flexsurfer

[2018-03-28 15:13] dmitryn commented on #3681
Not reproducible on real nexus 5x with develop build

[2018-03-28 15:17] flexsurfer commented on #3681
Not reproducible on real xiaomi with nightly build

[2018-03-28 15:56] chadyj commented on #3555
In addition to upgrading, we have switched from two project for iOS and Android, and have setup a new RN Instabug project.  Both iOS and Android now have a single shared token: `758630ed52864cbad9c5eeeac596c60c`.

This should be moved to the .env file (@dmitryn suggestion).

[2018-03-28 16:25] Serhy opened #3719 "Cleared message history reappears in Group and Public chats with all received messages"
***Type***: Bug

***Summary***: Cleared chat history reappears after contact re-log in with all received messages prior chat history in the Group/Public chat

#### Expected behavior
No reappearance of cleared message history after re-login in Group and Public chats
#### Actual behavior
Reappearance of cleared message history after re-login  in Group and Public chats with all **received** messages

[2018-03-28 17:09] lukaszfryc commented on #3681
Please try the release branch as well.

2018-03-28 17:17 GMT+02:00 Andrey Shovkoplyas <notifications@github.com>:

[2018-03-28 17:26] #3573 closed, assigned to nobody

[2018-03-28 17:37] status-open-bounty commented on #3650
Balance: 0.000000 ETH
Tokens: SNT: 550.00
Contract address: [0x65f3a55352ba16e17ad37c94ee5678debd73044b](https://etherscan.io/address/0x65f3a55352ba16e17ad37c94ee5678debd73044b)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-28 18:34] cammellos commented on #3719
@Serhy I can replicate in current develop (public chats), can you do the same?

[2018-03-28 18:38] mlennie opened #3721 "How can I use device's native features (movement, geolocation)?"
I would like to build a mobile dapp that can sense a user's movement or location change.

Can I build a dapp with truffle and react and access the phone's native features such as geolocation or phone movement?

Could I make an ionic native app and use it through status so that the user can send ether payments and have access to device native features?

I found the following which suggests that I c

[2018-03-28 22:18] FiberJW commented on #3555
Sorry, I just got swamped with a bunch of school work and it will be a while before I can tackle this. If anyone else wants this bounty, go for it!

[2018-03-29 06:30] denis-sharypin commented on #3538
@jeluard
1. It will be fixed here https://github.com/status-im/status-react/issues/3539
2. I see what you mean, but this screen in the onboarding flow doesn't have any states because we show it once. But this screen should have states since it could be open by the user anytime

[2018-03-29 07:49] #3650 closed, assigned to nobody

[2018-03-29 07:57] yevh-berdnyk opened #3723 "Automated solution for messaging reliability"
### Description

*Summary*: In order to test messaging reliability a tool for generating any amount of messages in any type of chat by any amount of users should be created.

A message sent by a user should be received and displayed for all chat participants in given amount of time and in correct order

### Solution

*Summary*: Existing e2e messaging tests will be extended in order to fit requirem

[2018-03-29 08:00] antdanchenko commented on #3723
@chadyj any additional features should be added?

[2018-03-29 08:52] alwx commented on #3681
trying to understand and fix it.

got an information that it seems to work fine when JSC flag is set to 1.

[2018-03-29 09:03] asemiankevich commented on #3681
@alwx maybe 0 ? JSC is enabled by default i think

[2018-03-29 09:12] #3654 closed, assigned to nobody

[2018-03-29 09:30] lukaszfryc commented on #3681
@alwx coud you create a built with it? @asemiankevich isn't it the same build you has made?

[2018-03-29 10:09] #3388 closed, assigned to nobody

[2018-03-29 14:48] alwx commented on #3681
@asemiankevich sorry, 0, you're right. the issue was introduced here: https://github.com/status-im/status-react/commit/e0f42d28d7b8061141ca1eee266d94cb93d5a055

[2018-03-29 16:27] chadyj opened #3729 "Typos and grammar problems"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want copy to be clear and typo-free so that I can focus on the message.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happe

[2018-03-29 17:06] status-open-bounty commented on #3698
Balance: 0.000000 ETH
Tokens: SNT: 593.29
Contract address: [0x412be54fb414dcc28763bc3ad2d140bbc1ee109f](https://etherscan.io/address/0x412be54fb414dcc28763bc3ad2d140bbc1ee109f)
Network: Mainnet
Paid to: ovx
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-29 17:15] status-open-bounty commented on #3706
Balance: 0.000000 ETH
Tokens: SNT: 2373.15
Contract address: [0x69764a52f4dec97bf80b06238bf462ce5e8d4703](https://etherscan.io/address/0x69764a52f4dec97bf80b06238bf462ce5e8d4703)
Network: Mainnet
Paid to: msuess
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-03-29 18:30] chadyj opened #3732 "[WIP] Mixpanel tracking issues."
WIP.  Adding notes here while testing.

- [x] Missing events for signing Dapp transaction. There should be distinct events for signing a wallet transaction or signing a dapp transaction
- [x] Event doesn't fire for tapping "+" on home
- [x] Event doesn't fire when tapping "invite friends" from "+/new" menu
- [ ] Add property to `send-current-message` with chat type (eg p2p, group, public)
- [x] `G

[2018-03-29 21:51] msuess commented on #2814
Would love to have a look at this. Is this still relevant?

@oskarth AFAICT libsodium uses Curve25519 instead of P384. While the interface could stay the same, we won't be able to decrypt old messages using the new implementation. Is this a problem?

[2018-03-30 03:57] oskarth commented on #2814
cc @yenda @janherich who can answer this better wrt new protocol development.

[2018-03-30 09:16] lukaszfryc opened #3734 "Unknown contact indicator (blue circle) maybe hard to understand"
### Description
_Type_: Bug

_Summary_:

Update new contact indicator to:

![](https://user-images.githubusercontent.com/4932774/42817671-145cbf32-89cf-11e8-95ba-8c8eb92d8f36.png)

Behaviour:

1) The indicator ("NEW") should only appear on the chat list in Home tab
2) The indicator should disappear once the chat is opened
3) Remove old indicator (blue dot) from chat screen

![](https://user-images

[2018-03-30 09:17] lukaszfryc commented on #3734
@denis-sharypin @andmironov what do you think?

[2018-03-30 09:23] goranjovic opened #3735 "Broken /send and /request commands"
### Description

*Type*: Bug

Now the chat commands appear but when `/receive` or `/send` is used the following error shows:

<img src="https://user-images.githubusercontent.com/7532782/38090404-bae67744-3362-11e8-8e23-3ef24b6977cf.png" width="200">

**Everyting works fine when the token is send or received from Wallet.**

To reproduce:
1. Install latest app
2. Open 1-1 chat
3. Type `/receive 0.00

[2018-03-30 09:44] lukaszfryc opened #3737 "Allow easy e2e tests debugging by including link to jenkins build, app file and the app version"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a person who reviews e2e test results I'd like to know exactly which build was used in the tests.

### Description

Test results do not include build sha or build link:

<img src="https://user-images.githubusercontent.com/7532782/38132796-e8896116-340c-11e8-9121-23da90804d97.png" width="400">

As a result,

[2018-03-30 09:45] lukaszfryc commented on #3737
@antdanchenko how can I get commit id of the .apk file?

[2018-03-30 10:17] #3729 closed, assigned to nobody

[2018-03-30 12:16] #3735 closed, assigned to goranjovic

[2018-03-30 13:12] jeluard commented on #3538
@denis-sharypin About 2. : if we don't show both alternatives to users it forces them to change the sharing value even so they might navigate to this screen by mistake or curiosity.
Also I feel it's more consistent (and simpler :D) to have the exact same screen for both.

[2018-03-30 13:45] chadyj commented on #3538
Whatever the solution, can we make sure to keep the the onboarding as-is? 1 tap to opt-in is easier than a toggle then text. 1 tap should be the goal for signup.

[2018-03-30 15:10] chadyj commented on #3675
The new Instabug has a screen recording feature available. @hesterbruikman @jpbowen
Not sure if it meets your needs, but check it out. Here is an example of a recording. https://insta.co/bugs/nfErq1qd

<blockquote><img src="/favicon.ico?v=eE5LjeB9Od" width="48" align="right"><div><strong><a href="https://insta.co/bugs/nfErq1qd">Bug #nfErq1qd | Instabug</a></strong></div></blockquote>

[2018-03-30 15:37] #3555 closed, assigned to dmitryn

[2018-03-30 15:39] chadyj opened #3738 "Send user events to Instabug so that surveys can be triggered"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a UXR, I want to create Instabug surveys after specific app events so that I can survey users with relevant context.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expe

[2018-03-30 15:52] yevh-berdnyk opened #3739 "Error `com.facebook.react.common.JavascriptException: Provided schema version 22 is less than last set version 23.' when launching the app"
### Description

*Type*: Bug

*Summary*: Error `com.facebook.react.common.JavascriptException: Provided schema version 22 is less than last set version 23.' when launching the app

#### Expected behavior
The app is opened

#### Actual behavior
The app crashes
![2018-03-30 18 47 44](https://user-images.githubusercontent.com/29711298/38143825-e0b1e2d6-344a-11e8-8ec8-f0c425d36344.jpg)

### Reproducti

[2018-03-30 16:09] dmitryn commented on #3738
I'd suggest to also collect events during offline app usage.

Check if Instabug library handles this. If not, it could be implemented like here:

https://github.com/status-im/status-react/pull/3733

[2018-03-30 16:37] #3644 closed, assigned to cammellos

[2018-03-30 16:39] dmitryn commented on #3738
I've sent several events using `(.logUserEventWithName instabug "send-current-message")` but i don't see i can use this event as a condition/trigger for survey. Please make sure we could use this feature before starting to work on current issue.

[2018-03-30 17:15] #3633 closed, assigned to jeluard

[2018-03-30 17:35] chadyj commented on #3738
@dmitryn Events are now showing up in surveys and on user profiles. Looks like there can be a delay in events being sent or received. But they are there now!

<img width="518" alt="screen shot 2018-03-30 at 7 33 46 pm" src="https://user-images.githubusercontent.com/116099/38147178-651253b6-3451-11e8-8ff8-024dd78dc51e.png">

<img width="506" alt="screen shot 2018-03-30 at 7 35 19 pm" src="https://u

[2018-03-30 17:46] chadyj commented on #3738
Looks like you'll need to do something like `Instabug.logUserEventWithNameAndParams("tap",{"key": "send-current-message"});` so in the Instabug UI we could do

"tap" equals "send-current-message"

I've asked Instabug about instead doing "if exists" or "count > 5" or something for more flexibility.

[2018-03-31 08:04] chadyj commented on #3716
Nice catch!

[2018-03-31 08:12] chadyj commented on #3443
@goranjovic Is it worth picking this up again? Any new thoughts on doing it differently?

[2018-03-31 13:52] yevh-berdnyk commented on #3719
@Serhy, @cammellos, I've also reproduced it in nightly build

[2018-04-02 08:07] lukaszfryc opened #3740 "Run E2E tests as part of the Jenkins PR build"
### Description

Currently, E2E tests for PRs are run in a separate Jenkins build. Instead, they should be run as a last step of the PR build using the .apk that was created in the previous step.

<img src="https://user-images.githubusercontent.com/7532782/38188630-105d12e4-365d-11e8-8ede-3db3da9e4ae2.png" width="400">

This way we could:
- Be sure what build (commit id) was used
- Have everything

[2018-04-02 08:09] lukaszfryc commented on #3737
We actually need only the jenkins build link. Version of the app (commit id) and the .apk itself could be easily found when https://github.com/status-im/status-react/issues/3740 is implemented.

[2018-04-02 08:12] lukaszfryc commented on #3740
@antdanchenko @yevh-berdnyk wdyt? Having everything in one place (one pipeline) seems like a good idea. Especially if we want tests to block the PRs in Q2.

[2018-04-02 11:07] #3022 closed, assigned to flexsurfer

[2018-04-02 11:08] antdanchenko commented on #3740
@lukaszfryc It seems that you know my opinion since we already discussed that

Anyway, instead of running in a PR job, would be better to run in our own job where we can build the app from a PR branch
Steps for building the app for tests are different, so we won't be able to reuse the app from the PR job in nearest future. Also running in the PR job will add ~20 minutes of execution time

_The onl

[2018-04-02 11:20] asemiankevich commented on #3538
@jeluard @chadyj @nikitalukianov @denis-sharypin so what is the final decision ?

[2018-04-02 12:03] status-open-bounty commented on #2704
Balance: 0 ETH
Tokens: SNT: 4500.00
Contract address: [0xb3bf7f041757997f33c15565c7d225b048ff4606](https://etherscan.io/address/0xb3bf7f041757997f33c15565c7d225b048ff4606)
Network: Mainnet
Paid to: andytudhope
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-02 12:07] Serhy commented on #3719
Retested the scenario from description on 323rd Jenkins nightly build and could not reproduce it on Android and iOS.

[2018-04-02 12:07] status-open-bounty commented on #3684
Balance: 0.000000 ETH
Tokens: SNT: 2200.00
Contract address: [0x2ede3dc568b443a6f3b9885e80f7089cf44b97d3](https://etherscan.io/address/0x2ede3dc568b443a6f3b9885e80f7089cf44b97d3)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-02 12:10] status-open-bounty commented on #3648
Balance: 0.000000 ETH
Tokens: SNT: 2200.00
Contract address: [0x5f289a636680e1a55e2842b7eae75395eeff5480](https://etherscan.io/address/0x5f289a636680e1a55e2842b7eae75395eeff5480)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-02 12:12] #3739 closed, assigned to nobody

[2018-04-02 12:23] status-open-bounty commented on #2814
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc12c9f951fe1669418d3752b8429fddb05c2bd747df07e42683064b9d6f51b5e](https://etherscan.io/tx/0xc12c9f951fe1669418d3752b8429fddb05c2bd747df07e42683064b9d6f51b5e)

[2018-04-02 12:40] yevh-berdnyk commented on #3740
@lukaszfryc I think the only step which could be added to PR jobs is the 'first layer' of tests which will block the PR. But anyway we need to rebuild the app for other tests (with Ropsten) so it would be better to run them separately and don't duplicate even few tests in PR job

[2018-04-02 15:52] #3176 closed, assigned to nobody

[2018-04-02 15:56] #3651 closed, assigned to nobody

[2018-04-02 15:58] #3479 closed, assigned to nobody

[2018-04-02 17:40] yevh-berdnyk opened #3745 "Messages connection problem tooltip is shown when messages are received"
### User Story

As a user, I want to understand when messages can't be received so that I see 'Messages connection problem' tooltip is shown.

### Description

*Type*: Bug

*Summary*: Sometimes when 'Messages connection problem' tooltip is shown user is still able to receive new messages and see new chats added

#### Expected behavior
'Message connection problem' tooltip is not shown when it's pos

[2018-04-03 06:37] #3684 closed, assigned to nobody

[2018-04-03 06:38] #3143 closed, assigned to nobody

[2018-04-03 07:49] asemiankevich opened #3748 "Adjust settings screens to match the mocks (android)"
### Description

*Type*: Bug

*Summary*: align the header on settings screens to the left (android)

#### Expected behavior

1. **Network settings** header is aligned to left
2. **Offline messages settings** header is aligned to left

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/38236292-5d5500a0-372c-11e8-98ae-e37caa98a9f5.png)

![image](https://user-images.gi

[2018-04-03 08:01] asemiankevich opened #3749 "Adjust settings screens to match the mocks (ios)"
### Description

*Type*: Bug

*Summary*: There are a lot of screens that are missing the top line (delimiter) on iOS.

#### Expected behavior

1. Network settings screen has top delimiter (line) under the header as shown on the mocks
![image](https://user-images.githubusercontent.com/28752642/38236657-8b7d0382-372d-11e8-8093-054178f57cef.png)

2. Offline messages settings screen has delimiter (lin

[2018-04-03 08:06] lukaszfryc commented on #3740
Steps for building the app for tests are different, so we won't be able to reuse the app from the PR job in nearest future. Also running in the PR job will add ~20 minutes of execution time

Yes, I see that we use `.env.e2e` environments to build it. So, you are right. We can't reuse the .apk from "Deploy (Android)" stage.

But, I think it would be better idea to run everything that is needed for

[2018-04-03 10:47] chadyj commented on #3738
This feature exists :-)

<img width="503" alt="screen shot 2018-04-03 at 12 50 13 pm" src="https://user-images.githubusercontent.com/116099/38245220-9422a1bc-373d-11e8-936a-c152af630135.png">

For this condition a survey would be shown to a user that sent 5 messages.

[2018-04-03 12:46] yenda commented on #3708
This was a bug in develop, fix got merged https://github.com/status-im/status-react/issues/3735

[2018-04-03 12:47] yenda commented on #3713
This was a bug in develop, fix got merged #3735

[2018-04-03 12:47] #3713 closed, assigned to cammellos

[2018-04-03 12:48] yenda commented on #3703
Should be fixed in the latest build of new-protocol-app branch

[2018-04-03 12:58] jeluard commented on #3398
@foopang By any chance were you able to take a look at this ? :)

[2018-04-03 13:22] #3638 closed, assigned to goranjovic

[2018-04-03 13:52] status-open-bounty commented on #3539
Balance: 0.000000 ETH
Tokens: SNT: 550.00
Contract address: [0x6dfdac64bc043ff5bed2fffd2661c85880589d75](https://etherscan.io/address/0x6dfdac64bc043ff5bed2fffd2661c85880589d75)
Network: Mainnet
Paid to: pacamara
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-03 14:16] Serhy opened #3751 "chat-id = "{:updated at nil.... error when leaving the group chat having formatted text messages"
***Type***: Bug

***Summary***: `chat-id = "{:updated at nil....` error when leaving the group chat having formatted text messages

#### Expected behavior
No error error when leaving the group chat having formatted text messages
#### Actual behavior
![image](https://user-images.githubusercontent.com/8749671/38252416-bfbc34d6-375c-11e8-8fea-77cf0474acc5.png)

### Reproduction

- Open Status on Devi

[2018-04-03 14:24] asemiankevich opened #3752 "Can't message in Rinkeby"
### Description

*Type*: Bug

*Summary*: It appears that i can't see messages under Rinkeby / Rinkeby with RPC network. After i switch back to Ropsten - I can see all the messages coming

#### Expected behavior
I can exchange messages under Rinkeby network

#### Actual behavior
Messages are not delivered

### Reproduction

- Open Status
- Having 2 accounts under Rinkeby try to exchange messages

#

[2018-04-03 14:26] adambabik commented on #3752
I will investigate first the state of our Rinkeby cluster.

[2018-04-03 14:37] janherich commented on #3719
The issue is fixed in `experiment/new-protocol-app` branch @Serhy .
It was little bit more tricky, because the root cause of the issue (which is for sure present in develop as well, it's just not reproducible 100% of time) is the fact the we need to know past message ids to be able to reject them when they are received again - once we truly hard delete messages from app-db and realm, there is no w

[2018-04-03 14:54] Serhy commented on #3719
Thanks a lot, @janherich for clarification!
So as the the issue in Develop and new-protocol-app and fixed in the experiment/new-protocol-app - we can close the issue after new-protocol is merged and we validate bug is gone in Develop.

However, I'll check it in scope of `experiment/new-protocol-app`.

[2018-04-03 15:53] flexsurfer commented on #3491
080 onboarding swarm are working on copies, so they all will be rewritten, so this issue is not relevant anymore

[2018-04-03 15:53] #3491 closed, assigned to alwx

[2018-04-03 16:17] hesterbruikman commented on #3738
Couldn't get the same view of custom conditions to select:( Any advice @dmitryn ?

[2018-04-03 16:51] Serhy commented on #3702
While testing fix for https://github.com/status-im/status-react/issues/3719 (194th build for experiment/new-protocol-app) it was noticed that now, navigating to the chat with 'System' message appeared after re-log - fires the error followed by app crash: `TypeError: null is not an object (evaluating 'e.lastIndexOf')`.

[2018-04-03 17:02] Serhy commented on #3719
In the next builds Android: https://i.diawi.com/xXkFsd and iOS: https://i.diawi.com/dTtQ2K (194th Jenkins build) issue not reproduced anymore!
The only exception is that I wasn't able to check GroupChat on non-admin side due to app crash - described in https://github.com/status-im/status-react/issues/3702#issuecomment-378319563

Once it passes develop along with the test covered GroupChat - we are

[2018-04-03 17:06] yenda commented on #3702
@Serhy thanks, we will address this separately as discussed on Slack, I will make a build for tomorrow with all the latest fixes and disabling group-chat, so the testing should be focused on verifying that everything else works fine. Then we will make a PR to fix all the private group-chat bugs

[2018-04-03 17:06] janherich commented on #3702
@Serhy To be honest, I didn't test the group chat since it will be disabled anyway, so I suggest to make separate Issue for that.

[2018-04-04 05:00] yenda commented on #2814
@msuess Hi thanks for your interest, we have removed crypto libraries from clojure side as they were used to generate a keypair for message encryption, with the benefit that we don't need nodeify hack anymore to use them.

However it can still be interesting if one of these libs can work without the crypto node module, for local data encryption. We probably need to flesh out the requirements for t

[2018-04-04 05:59] jeluard commented on #3538
@denis-sharypin WDYT?

[2018-04-04 06:09] chadyj commented on #3352
@foopang Any interest in this one?

[2018-04-04 07:12] #3214 closed, assigned to nobody

[2018-04-04 07:32] #3538 closed, assigned to nobody

[2018-04-04 08:26] divan commented on #3631
Ongoing work is in https://github.com/status-im/status-react/tree/feature/docker-build branch.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react">status-im/status-react</a></strong></div><div>st

[2018-04-04 08:46] Serhy opened #3755 "Error 'Doesn't support name' when sending /send or /request commands in 1-1 chat"
***Type***: Bug

***Summary***: Error 'Doesn't support name' when sending /send or /request requests in 1-1 chat. No messages in chat appears.
**Note**: in a case when sending ETH amount to contact via /send options - the error appears but the transaction succeed (and displayed in the history).

#### Expected behavior
/request and /send in 1-1 works with no errors
#### Actual behavior
Error 'Doesn

[2018-04-04 09:11] mandrigin commented on #2704
@flexsurfer we have `web3.personal.sign` support which is exactly that `personal_sign`. Does that mean, that we need to provide a signal from the Go side for Status to show a password dialog, just like with transactions?

[2018-04-04 09:14] flexsurfer commented on #2704
@mandrigin yeah i think so, do you need a password for this function?

[2018-04-04 09:19] jeluard commented on #2704
@mandrigin Maybe we could think about making this mechanism more generic? Are there any other call that would require authentication?

[2018-04-04 09:20] mandrigin commented on #2704
@jeluard emm... signing a transaction? 😅

[2018-04-04 09:21] mandrigin commented on #2704
@flexsurfer it assumes that the account is locked, as I can see https://ethereum.stackexchange.com/a/25610

<blockquote><img src="https://cdn.sstatic.net/Sites/ethereum/img/apple-touch-icon@2.png?v=fcf6615497f4" width="48" align="right"><div><strong><a href="https://ethereum.stackexchange.com/questions/25601/what-is-the-difference-between-web3-eth-sign-web3-eth-accounts-sign-web3-eth-p/25610">What

[2018-04-04 09:23] jeluard commented on #2704
:D I was thinking maybe https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethcall and potentially others might fit this scenario.
Also maybe an opportunity to think how we could offer alternative authentication methods (fingerprint, face recognition, ..)

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align="right"><div><img src="https://assets-

[2018-04-04 09:30] mandrigin commented on #2704
@jeluard as I understand, at the moment, when a TX is created, we (status-go) give you (status-react) a notification, then you show a dialogue and call our `completeTransaction` API with a password to unlock the account.
I can see how the same mechanics can be made more generic to support other types of methods that require a signature.

[2018-04-04 10:23] divan commented on #3631
So as described in the README in the docker-build/ folder in abovementioned branch, the process to use this is following:

1. Build the docker image with (presumably) all dependencies downloaded and included into the docker image:
[code]
**Note: The build part may require at some point manually enter "y" to accept Android NDK licenses (despite `echo y` in the pipe), but that should be solved.**

1

[2018-04-04 11:05] Serhy commented on #3755
Fixed in PR-3273, 201st build in jenkins.

[2018-04-04 11:05] #3755 closed, assigned to nobody

[2018-04-04 12:29] foopang commented on #3398
@jeluard Sorry, don't have time to look at this issue yet. I think I might not be able to work on this unfortunately.

[2018-04-04 12:31] foopang commented on #3352
@chadyj Yes, looks like a relatively easy task. I will give it a try when I have time.

[2018-04-04 12:47] antdanchenko opened #3757 "TypeError: null is not an object (evaluating `e.lastindex0f`) in public and group chats after receiving a message which starts with `/`"
### Description
*Type*: Bug
The error `TypeError: null is not an object (evaluating 'e.lastindex0f')` is shown when a user receives a message which starts with `/` in opened public or group chat

#### Expected behavior
Message which starts with `/` is received and displayed for a user in  in opened public or group chat, no error is shown.

#### Actual behavior
`TypeError: null is not an object (ev

[2018-04-04 13:19] lukaszfryc commented on #3740
Here is how I see the pull request pipeline:

|Step|Current pipeline|New pipeline|
|-|-|-|
|1|Git & Dependencies|Git & Dependencies|
|2|Tests|Tests|
|3|Build|Build|
|4|Build (Android)|Build (Android)|
|5|Deploy (Android)|Deploy (Android)|
|6|Build (iOS)|Build (iOS)|
|7|Deploy (iOS)|Deploy (iOS)|
|8|Slack Notification|Slack Notification|
|9|Build (Android) for e2e testing|Build (Android) for e2e te

[2018-04-04 13:22] lukaszfryc commented on #3740
One reason to not have it in a single pipeline is that the PR Jenkins Job can't execute few builds in parallel. Meaning, the PRs will be blocked by long-running builds. But, if that's the case we should just increase resources in this Job.

[2018-04-04 14:30] lukaszfryc commented on #3740
Here is how we could extend `Jenkinsfile`

[code]

So, the `macos1` node would execute `linux1` node to run the appium tests. But, `macos1` would need to wait until `linux1` is done. In order to simplify it, I think we could execute appium tests on `macos1` node and remove `linux1` completely. `macos1` image would contain all necessary dependencies.

I'd also add couple of more `macos1` slaves to

[2018-04-04 14:33] lukaszfryc commented on #3740
@antdanchenko @yevh-berdnyk any thoughts? I think at least the smoke stage (first level tests) maybe necessary in the PR build since they will block it if failed.

[2018-04-04 16:32] lukaszfryc opened #3760 "Mainnet should not be in the network list after upgrading from nightly to release build"
### Description
*Type*: Bug

*Summary*: When nightly is upgraded to release build the mainnet is still on the network list. It does not disappear after logging out and logging in again. It does though when new account is created.
Looks like some account config may not be upgraded properly.

#### Expected behavior
Mainnet should not be in the release app (current release config).

#### Actual behav

[2018-04-04 16:43] antdanchenko commented on #3740
you can try in order to see how it goes, but please define the suite which should block a PR first

and for me it makes sense to execute `Smoke e2e tests (Android)` before `Slack Notification`, WDYT?

please note, that beside increasing an amount of slaves we should take care about number of sessions (on SauceLab) for tests to be executed (right now 24 sessions can be used in the same time and a l

[2018-04-04 16:52] antdanchenko commented on #3740
Tests are going to run and spam results to a PR even if it's not in `TO TEST` in your variation of the pipeline

We tried that before and it was too noisy, so we are running them only if a PR is in `TO TEST`. So I would recommend not to run them if a PR is not in `TO TEST`

[2018-04-04 17:04] antdanchenko commented on #3745
I would really like to get the issue fixed.
Since half of transactions via request and chat tests are suffering from the error (it's not possible to interact with elements if any error is present, in order not to miss an error)

[2018-04-04 17:53] lukaszfryc commented on #3740
@yevh-berdnyk could you take it?

It makes sense. It we say that critial things do not work (smoke test), there is no need to announce the builds. But, it means that smoke tests should run with every commit. To be honest, I'd start with running them only when PR is in TO TEST and leave the slack notification stage as it is. Then if we see that smoke tests give value, are stable, fast, etc. we can

[2018-04-04 20:15] msuess opened #3761 "App DB contains clear text password under :accounts/create"
### User Story

As a user, I want my password to be protected so that no one can steal it.

As a developer, I want sensitive data to be removed from app-db as soon as possible so that I can't accidentally leak it.

### Description

*Type*: Bug

*Summary*: After account creation, data under the `:accounts/create` key stays there, containing `:password` and `:password-confirm`.

#### Expected behavi

[2018-04-05 07:13] lukaszfryc opened #3763 "Can't login after upgrade, "is:issue no protocol method IAssociative,-assoc defined for type cljs.core/Symbol:command=password""
### Description
*Type*: Bug

*Summary*: We had a case when `is:issue no protocol method IAssociative` error dialog that appeared after upgrading the app prevented user from logging in or creating a new account.

<img src="https://user-images.githubusercontent.com/7532782/38351589-715af098-38b0-11e8-8180-68f4b9eadc90.png" width="200">

Everything was fixed after the app was killed and opened again.

[2018-04-05 07:17] flexsurfer opened #3764 "Do not show "/" button in chats if there are no commands"
There are no commands in public chats, and "/" button is confusing, users trying to send commands

[2018-04-05 07:48] lukaszfryc commented on #3562
Hey @janherich are your working on this? Do you need any help?

[2018-04-05 07:52] #2958 closed, assigned to nobody

[2018-04-05 07:52] #2938 closed, assigned to nobody

[2018-04-05 07:53] janherich commented on #3562
Hi @lukaszfryc I'm working on that as a part of the new protocol which will be hopefully merged very soon

[2018-04-05 07:54] asemiankevich commented on #3364
closing this one as outdated

[2018-04-05 07:54] #3364 closed, assigned to nobody

[2018-04-05 08:05] adambabik commented on #3752
One node was down, I fixed it. There should be three Rinkeby nodes available now. However, there are no mailservers for Rinkeby so only online messaging works.

[2018-04-05 08:08] #3571 closed, assigned to alwx

[2018-04-05 08:12] asemiankevich opened #3765 "Hide three dots menu and swipe-to-delete for Console chat"
### Description

*Type*: Bug

*Summary*: after Console redesign, we still have three dots options to remove console chat and view profile, it seems to be outdated to me as removing/displaying Console chat is now controlled with Dev mode toggle in profile. And viewing Console profile does not have any use cases.

#### Expected behavior
three dots menu is not shown when viewing console chat so the u

[2018-04-05 08:44] flexsurfer commented on #3757
@antdanchenko the reason not in "/" it's because empty image-path of one of participants

[2018-04-05 08:45] lukaszfryc opened #3766 "Track errors and exceptions that happen inside the mobile app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a Status stakeholder (developer, tester or PM), I want to understand when user experience was broken by error dialogs, message reliability tooltips, etc. so I can fix it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or bri

[2018-04-05 08:46] goranjovic opened #3767 "Add a new batch of DApps to the default list"
As a user I want to try out cool dapps in the Status browser. Also, kitties!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: Add these dapps to default contacts https://docs.google.com/spreadsheets/d/1cPjVu5AizyGgz6J4PJwK62LQfB8LHTnPmAdJvyBqQLE/edit#gid=492008138

<blockquote><div><strong><a href="https://docs.google.com/spreadsheets/d/1cPjVu5AizyGgz6J4PJ

[2018-04-05 10:46] antdanchenko opened #3770 "'Help to improve Status' popup is not disappearing after tapping on 'Share'/'Don't share' buttons after recovering of a user"
### Description

*Type*: Bug
'Help to improve Status' popup doesn't disappear after tapping on `No, I don't want to share` or `Share usage` after recovering a user
Please note, home screen is displayed for several seconds and only after the popup appears. In previous version home screen wasn't displayed before the popup.

#### Expected behavior
Popup disappears after tapping on `No, I don't want t

[2018-04-05 11:31] asemiankevich opened #3773 "Error: null is not an object (evaluating 'e.lastIndexOf')"
### Description

*Type*: Bug

*Summary*:

#### Expected behavior
no error

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/38363612-ff05c1e8-38dd-11e8-9a0a-4e677c8f45f1.png)

`NAME: "TypeError"
MESSAGE: TypeError: null is not an object (evaluating 'e.lastIndexOf')

This error is located at:
    in member-photo
    in reagent112
    in RCTView
    in RCTView
    in

[2018-04-05 11:35] antdanchenko commented on #3773
@asemiankevich The issue sounds like https://github.com/status-im/status-react/issues/3757

[2018-04-05 11:36] asemiankevich opened #3774 "iOS random crash"
### Description

*Type*: Bug

*Summary*: random crash for ios in new protocol branch
#### Expected behavior
no errors

#### Actual behavior
0   JavaScriptCore                      0x189f70a2c bmalloc::Heap::allocateLarge(std::__1::lock_guard&, unsigned long, unsigned long) (in JavaScriptCore) + 24
1   JavaScriptCore                      0x189f6e2a0 bmalloc::Allocator::allocateLarge(unsigned long)

[2018-04-05 11:39] asemiankevich commented on #3770
@flexsurfer is this condition also fixed? https://github.com/status-im/status-react/issues/3773

[2018-04-05 11:41] flexsurfer commented on #3770
@asemiankevich yes here https://github.com/status-im/status-react/issues/3757

[2018-04-05 11:42] goranjovic opened #3775 "Descriptions are not shown in Open DApp screen"
### User Story

As a user I want to see the description of a dapp before I open it.

### Description

*Type*: Bug

*Summary*: DApp descriptions are not shown in Open DApp screen.

#### Expected behavior
There is a description on that screen

#### Actual behavior
The description field is blank

### Reproduction

- Open Status
- Open any dapp from the list

[2018-04-05 11:45] flexsurfer commented on #3773
@asemiankevich @antdanchenko yes this is the same issue and it's fixed here #3757

[2018-04-05 11:47] #3773 closed, assigned to nobody

[2018-04-05 12:55] Serhy commented on #3703
Confirmed as fixed. Closing this one.

[2018-04-05 12:55] #3703 closed, assigned to cammellos

[2018-04-05 13:13] status-open-bounty commented on #3765
Balance: 0.000000 ETH
Contract address: [0x28ad489de2f21554be79b540f3f5684a1342be07](https://etherscan.io/address/0x28ad489de2f21554be79b540f3f5684a1342be07)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-05 14:11] #3757 closed, assigned to flexsurfer

[2018-04-05 14:35] lukaszfryc opened #3777 "Development mode toggle shows enabled state by default"
### Description
*Type*: Bug

*Summary*: When a new account is created, the development mode toggle is ON. But, it does not mean that the dev mode is enabled. When the toggle is tapped, its state does not change but the development mode is enabled as usual.

#### Expected behavior
The toggle should be OFF when a new account is created.

#### Actual behavior
The toggle is ON even though development

[2018-04-05 14:46] #3770 closed, assigned to flexsurfer

[2018-04-05 16:16] Serhy opened #3778 "Offline messages not received until message sender sends one more message"
***Type***: Bug

***Summary***: Offline inbox messages does not arrive after contact appears online (even staying >10 minutes). However, please see the details in reproduction ***when*** offline messages arrive:

#### Expected behavior
Offline messages received after contact appears online
#### Actual behavior
Offline messages are not received after contact appears online

### Reproduction

- Inst

[2018-04-06 10:30] yenda opened #3780 "Remove old migrations"
Since we are introducing breaking changes in the next release there is no point keeping the old migrations and they can be removed

[2018-04-06 10:33] yenda opened #3781 "Reintroduce group chats"
The new protocol disabled group chat before all bugs are fixed and they are feature complete again.

This issue is about reintroducing them after fixing the bugs.

# Steps

- refactor contact events and subscriptions
- fix group chat message types, particularly the GroupLeave which shouldn't use it's message-id in the system-message created

[2018-04-06 10:36] yenda opened #3782 "Clean up app-db and data-store schemas"
With the new protocol the code has been greatly improved and simplified, we should now review the current data representations that we have and clean up the app-db and data-store schemas, removing duplications and using better names.

Exemples:
- current-public-key in app-db is a duplicate of the public-key of current-account
- public-key and whisper-id in contacts are the same, we need to decide

[2018-04-06 10:39] yenda opened #3783 "Protocol versionning"
With the new protocol we can now easely introduce versionning in message-types by changing the tag of a message type that needs to be upgraded.

For that to be usefull we need to display a comprehensive warning to the user when a message-type that the application cannot read has been received, which would mean they are using an older version of the app and that they should update.

[2018-04-06 10:41] chadyj commented on #3783
Along these lines is it worth considering introducing some app-level system instructing users to upgrade? I've seen Instabug reports about issues from really old versions that have been fixed by a new update, but the user didn't know.

[2018-04-06 11:55] chadyj opened #3784 "Provide users with delivery status feedback when sending messages"
### User Story

As a user, I want to see feedback when sending messages so that I can be certain the message was sent.

As a user, I want to know if messages failed to send so that I can take action.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to h

[2018-04-06 12:10] chadyj opened #3785 "Remove "seen by everyone" from public chat"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to clarity when sending group chat messages so that I won't be confused about who has seen it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

When a user sends a message in a public chat there is an erroneous label that reports the message was seen by everyone. Th

[2018-04-06 12:12] Serhy opened #3786 "Messages are not received in chats or stay in 'Waiting for message to arrive...' state"
***Type***: Bug

***Summary***: With the new protocol changes made in latest nightly develop build there are issues with message receiving.  What happens is that even device stays online - the app frequently loses connection, so messages sent to this Contact are not received. After some time once message sender sends one more message - it picks up all previous messages from offline inbox (from off

[2018-04-06 12:50] yevh-berdnyk commented on #3513
Reproduced it for 1-1 chat in the latest nightly http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-74281a.apk

<blockquote></blockquote>

[2018-04-06 13:19] #3764 closed, assigned to flexsurfer

[2018-04-06 13:36] chadyj opened #3787 "[WIP] Improve network offline and mail server error messaging"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to know when problems are preventing me from sending or receiving messages so that I can wait or take other action

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Errors such as being offline or mail server issues prevent users from chatting. Therefore we shoul

[2018-04-06 13:57] #3785 closed, assigned to nobody

[2018-04-06 14:00] yevh-berdnyk opened #3788 "Can't delete a chat swiping it"
### User Story

As a user I want to be able to delete chat swiping them

### Description

*Type*: Bug

*Summary*: Unable to delete a chat when clicking Delete button after swiping a chat on the chat's list

#### Expected behavior
Chat is deleted

#### Actual behavior
Delete button disappears but chat is not removed from the list

### Reproduction

- Open Status
- Create a chat (1to1 or join public

[2018-04-06 14:48] antdanchenko opened #3789 "Do not show 'Shake to provide your feedback' popup"
### User Story

As an automation engineer I would like `Shake to provide your feedback` (see screenshot) popup to be removed.

- The popup prevents automated tests from entering valid passphrase and it's not possible to interact with this specific popup (to wait for presence/absence)
- A user loses focus from input field, after appearing of the popup. (This is happening on password entering in ~70

[2018-04-06 15:01] nikitalukianov commented on #3784
feedback when sending messages, all states:
![errors_states](https://user-images.githubusercontent.com/33906272/38428361-41d865ac-39c4-11e8-8d81-e89b507498be.png)

[2018-04-06 16:50] chadyj commented on #3785
Fixed in https://github.com/status-im/status-react/pull/3339

[2018-04-06 17:05] chadyj commented on #3723
Can you test push notifications, and background or offline states as well?
Also, would it help to test multiple concurrency with 20 chats instead of just one?

[2018-04-06 17:23] chadyj opened #3792 "Measure message send/receive ratio on internal builds"
### User Story

As a developer, I want to measure the ratio of sent and received messages on real devices with real users so that I can benchmark deliverability reliability.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Message reliability is a crucial feature of Status, but it in a decentralized environment it can be difficult to measure. To ensure that Status is

[2018-04-06 17:29] chadyj opened #3793 "Improve timestamps in chat messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see timestamps so that I know when messages were sent.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happen

[2018-04-07 03:04] kwingram25 commented on #3788
Not sure where this was introduced but it seemed to be calling :delete-chat and crashing, instead of :remove-chat.

[2018-04-07 05:08] #868 closed

[2018-04-07 05:58] blockchain1977 opened #3797 "Cannot find entry file index.android.js when running "react-native run-android""
### User Story

As a developer, I want to run compile and deploy status-react into Android Emulator so that debug the code of status-react.

### Description

Cannot find entry file index.android.js in any of the roots when running "react-native run-android"

### Reproduction

On Ubuntu 16.04, I downloaded status-react source code and ran "scripts/setup". It hang somewhere. So that I ran "yarn inst

[2018-04-07 09:11] #3643 closed, assigned to alwx

[2018-04-07 10:20] #3698 closed, assigned to nobody

[2018-04-07 10:20] #3797 closed, assigned to nobody

[2018-04-07 10:21] yenda opened #3798 "Encrypt realm database and store password in keychain"
### User Story

As a user, I want the realm database to be encrypted so that even in case of an exploit on my mobile OS allowing access to protected files, my data is still safe (this does not concern the account keys which are already encrypted)

### Description

*Type*: Feature

*Summary*: Encrypt the realm database following recommendations of realm documentation https://realm.io/docs/tech-note

[2018-04-08 05:12] ovx commented on #3721
Hey @mlennie, in Status you're not limited to a specific JS framework, you can use React or any other.  Ionic should work also but remember Status loads online dApps hosted on the internet (not native apps).

Most of the HTML5/JS features should work just fine the usual way as you would use them in the browser; Status doesn't provide a bridge to the native features but it injects Web3 which provid

[2018-04-08 12:43] rachelhamlin commented on #1664
@lukaszfryc I can provide descriptions once we have our list ready.

[2018-04-08 20:01] chadyj opened #3799 "Missing iOS App Store Icon"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to iOS builds to iTunes Connect so that there aren't any errors.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually ha

[2018-04-09 06:26] lukaszfryc commented on #1664
OK, I'll assign you to this issue. Btw, let's link this issue to DApp Experience https://github.com/status-im/ideas/pull/122 when it's merged.

[2018-04-09 07:28] asemiankevich opened #3803 "Add unique transaction users for e2e tests"
### Description

*Type*: Bug

*Summary*: We are experiencing lack of accounts to have the e2e tests run simultaneously. When I have the same account recovered on 2 devices and I am trying to message with those 2 accounts using 3d one - the problem is that message would be received by anyone and never reach the second one. If fails our tests for now.

#### Expected behavior

Tests have enough  uniq

[2018-04-09 07:43] #3780 closed, assigned to yenda

[2018-04-09 08:03] denis-sharypin commented on #3749
We need to implement a line for header on iOS like everywhere not only on the setting screen. For instance, chat doesn't have it right now. Maybe it's to create a separate a bit bigger issue for that?

[2018-04-09 08:11] denis-sharypin opened #3804 "Navigate back by swiping from the left side of the screen (left-edge swipe) (iOS)"
### User Story

As a user, I want to navigate back by swiping from the left side of the screen so that I don't always need to reach my finger to back button at the top.

### Description

*Type*: Feature

*Summary*:  To achieve a user story you need to implement a left-edge swipe on a system level.

#### Expected behavior
The general rule for having this would be: left-edge swipe should work where

[2018-04-09 08:13] asemiankevich commented on #3749
I removed the label for bounty as I need to list all the screens where the top line is missing on iOS.

[2018-04-09 08:13] denis-sharypin commented on #1205
Closed, will be partly fixed in #3804

[2018-04-09 08:13] #1205 closed

[2018-04-09 08:17] #3648 closed, assigned to nobody

[2018-04-09 08:19] denis-sharypin commented on #1664
@rachelhamlin  we already have a long list of the dapps in the dev builds. Maybe we could already prepare descriptions for them?

[2018-04-09 09:13] rachelhamlin commented on #1664
@denis-sharypin was wondering why I didn't see the updated list in Status. Does it match the "Status Beta" tab on this sheet? https://docs.google.com/spreadsheets/d/1cPjVu5AizyGgz6J4PJwK62LQfB8LHTnPmAdJvyBqQLE/edit#gid=492008138

<blockquote><div><strong><a href="https://docs.google.com/spreadsheets/d/1cPjVu5AizyGgz6J4PJwK62LQfB8LHTnPmAdJvyBqQLE/edit#gid=492008138">Google Sheets - create and edit

[2018-04-09 09:17] lukaszfryc commented on #1664
@rachelhamlin the PR https://github.com/status-im/status-react/pull/3772 has not been merged yet so it's not in the nightly build.

Here is the build with the dapp list:
iOS: https://i.diawi.com/p5DJWc
Android: https://i.diawi.com/Ma76Dj

<blockquote><div><strong><a href="https://i.diawi.com/p5DJWc">Install - Diawi - Development and In-house Apps Wireless Installation</a></strong></div></blockquot

[2018-04-09 10:21] yevh-berdnyk opened #3805 "Can't open ERC dEX DApp twice"
### User Story

As a user I want to have an ability to open DApps again after deleting already opened DApps from chats list

### Description

*Type*: Bug

*Summary*: Can't open ERC dEX DApp more that once after deleting it from the chat's list

#### Expected behavior
Can open ERC dEX DApp

#### Actual behavior
Loading indicator is showing for a long time and the DApp page was not finally loaded

<

[2018-04-09 10:55] #3767 closed, assigned to goranjovic

[2018-04-09 11:07] dmitryn commented on #3738
- [ ] Merge this to https://github.com/status-im/status-react/tree/release/0.9.17

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/status-react">status-im/status-react</a></strong></div><div>status-react -

[2018-04-09 11:14] denis-sharypin commented on #3799
We haven't updated all our ios and android icons with new color and fixed glyph shape.  Do you think it could be fixed here as well? I provide you with AppStore icon but with new color and the new glyph. What do you think?
——
Here it is:
![app store 1024px x 1024px](https://user-images.githubusercontent.com/6559881/38494813-84d4963e-3bf7-11e8-9e5b-2b3cea819c4c.png)

[2018-04-09 11:24] adambabik opened #3806 "Provide separate MailServers for each network"
### User Story

As a user, I'd like to have a list of available MailServers for each network so I can switch between networks and still be able to communicate with people being offline.

### Description

*Type*: Feature

*Summary*: Currently, we have a single list of MailServers that are used for every network, however, it's incorrect. A given MailServer can work only with a specific network.

###

[2018-04-09 16:42] jeluard opened #3813 "Disable external bots"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to disable unused features that might introduce a security risk. External bots is one of them.

### Description

*Type*: Bug

Disable the ability to execute external bots. This is done by removing the `debug` command available in the console.

[2018-04-09 17:41] yevh-berdnyk opened #3814 "No messages received after deleting 1-1 chat and starting it again"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to have an ability to start again already deleted chats

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: When one2one chat was deleted by one of its participants and started again both users can't receive messages

#### Expected behavior
Users can send and

[2018-04-09 21:08] #3765 closed, assigned to nobody

[2018-04-10 01:28] oskarth commented on #3792
Requires closed access, unable to bounty.

[2018-04-10 05:22] yenda opened #3815 "Messaging benchmark"
### User Story

As a developer, I want to be able to run a repeatable benchmark on the devices so that I can evaluate the impact of changes in the protocol and get statistics on the reliability.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*:

In advanced options I can tap on benchmark options, and select one of my contacts to start the benchmark.

The be

[2018-04-10 05:24] yenda commented on #3815
This should also allow us to accumulate a lot of messages faster in the UI and see how the app behaves under those conditions

[2018-04-10 05:40] yenda commented on #3783
@chadyj It can hardly be done without any kind of centralization, if it seems really necessary in the future, we can have all new account subscribe by default to an update topic, on which we would then post warning for new updates

[2018-04-10 07:14] chadyj opened #3817 "Disable iOS predictive text for passphrase"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to type my passphrase so that iOS doesn't track and store sensitive information.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what

[2018-04-10 07:29] denis-sharypin opened #3818 "If a message contains only an emoji, show it without chat bubble"
### User Story

As a user, I want to see a big emoji and don't want to have them in the 'chat bubble jail' so that I will get more fun.

### Description

*Type*: Feature

*Summary*: Currently when you send emoji in a chat it appears in a chat bubble that makes it really small to recognize. We would like to remove this bubble for messages that contain only emojis.

#### Expected behavior
![emoji fr

[2018-04-10 07:44] asemiankevich opened #3819 "User is redirected to Home tab when changes to Profile applied"
### Description

*Type*: Bug

*Summary*: When changes to the profile applied (like user name or user picture) user is redirected to Home tab instead of staying on Profile

#### Expected behavior
Profile tab is still shown when i save changes to my profile

#### Actual behavior

home tab is shown

### Reproduction
- Open Status
- Tap profile
- Edit user name and save

### Additional Information
* S

[2018-04-10 07:51] asemiankevich opened #3820 "Can't scroll assets when having more than 3 in the list"
### Description

*Type*: Bug

*Summary*: Assets are not shown when having more than 3 in the list

#### Expected behavior
I want to scroll list of assets

#### Actual behavior
I can't scroll the list

![image](https://user-images.githubusercontent.com/28752642/38543316-f465bb08-3cac-11e8-918b-17d86e459c72.png)

### Reproduction

- Open Status
- Switch to Mainnet
- Go to Wallet -> Manage assets ->

[2018-04-10 08:14] lukaszfryc commented on #3792
We could track message ID and timestamp. As you've said, we would connect IDs of sent and received message to determine if the message was delivered and how much time it took (after filtering out cases when a user was offline).

We also need to know if a recipient of message enabled sharing usage data. If not, we never know if the message was delivered. The simple solution is to always track the m

[2018-04-10 08:23] cammellos commented on #3792
Elasticsearch would handle this fine, you can use aggregations to get the send/receive ratio, you might need to be a bit careful on how to structure your data, just to make sure it's easy to query.

[2018-04-10 08:28] lukaszfryc opened #3821 "Wallet screen loads longer than usual because of lots of :update-prices-* events"
### Description
*Type*: Bug

*Summary*: Switching to Wallet screen is really slow on the latest nightly. It takes 2-4s. Seems to be related to lots of`:update-prices-*` events being dispatched.

#### Expected behavior
Wallet screen loads as fast as usual. There are no unnecessary `:update-prices-*` events.

#### Actual behavior
<img src="https://user-images.githubusercontent.com/7532782/38545053-7

[2018-04-10 08:32] flexsurfer opened #3822 "New contract handler is not called after contract deployment"
Problem

var simplestorageContract = web3.eth.contract([{"constant":false,"inputs":[{"name":"x","type":"uint256"}],"name":"set","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"get","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"}]);
var simplestorage = simplestorageContract.new(

[2018-04-10 08:38] flexsurfer opened #3823 "Sync calls are not supported in Status on ios"
when i try to call sync function web3.version.node it crashes with error

[Error] Failed to load resource: Could not connect to the server. (localhost, line 0, x2)
[Error] XMLHttpRequest cannot load http://localhost:8545/ due to access control checks.
[Error] ReferenceError: Can't find variable: errors

https://github.com/status-im/status-react/blob/develop/resources/js/web3_init.js#L25 we need to

[2018-04-10 08:39] flexsurfer opened #3824 "Blockchain Cuties does not load inside Status"
https://blockchaincuties.co/ does not load inside Status

<blockquote><img src="https://blockchaincuties.co/static/share_image.png" width="48" align="right"><div><strong><a href="https://blockchaincuties.co/">Blockchain Cuties</a></strong></div><div>Blockchain Cuties is the new collectible crypto game with adventures where you get to play with puppies, lizards, bear cubs, cats and other real and f

[2018-04-10 08:56] lukaszfryc commented on #3792
Yeah, I think it could be much more powerful in terms of processing the data. We could also put there some other technical logs.

[2018-04-10 09:03] lukaszfryc commented on #3819
Fixed in https://github.com/status-im/status-react/pull/3801

[2018-04-10 09:03] #3819 closed, assigned to nobody

[2018-04-10 09:07] status-open-bounty commented on #3820
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x61169dc4582ba128288a05206f5051dd6dc54a89039c06572ae57f834bb0e15d](https://etherscan.io/tx/0x61169dc4582ba128288a05206f5051dd6dc54a89039c06572ae57f834bb0e15d)

[2018-04-10 09:08] status-open-bounty commented on #3050
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x61169dc4582ba128288a05206f5051dd6dc54a89039c06572ae57f834bb0e15d](https://etherscan.io/tx/0x61169dc4582ba128288a05206f5051dd6dc54a89039c06572ae57f834bb0e15d)

[2018-04-10 09:16] status-open-bounty commented on #3818
Balance: 0.000000 ETH
Tokens: SNT: 2800.00
Contract address: [0xceebb14acc54511a4bcd68691f18d68401e900ba](https://etherscan.io/address/0xceebb14acc54511a4bcd68691f18d68401e900ba)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-10 09:17] vikmeup commented on #3050
We already figured this out at Trust Wallet.
Open source repo: https://github.com/TrustWallet/trust-ray

`/transactions?address=0xe47494379c1d48ee73454c251a6395fdd4f9eb43` will return all the ether and ERC20 transfers.

Documentation available: https://github.com/TrustWallet/trust-ray/wiki/API

<blockquote><img src="https://avatars2.githubusercontent.com/u/32179889?s=400&v=4" width="48" align="rig

[2018-04-10 09:26] status-open-bounty commented on #3817
Balance: 0.000000 ETH
Tokens: SNT: 900.00
Contract address: [0x965f94d30964eaf345f57ddc0fa220f77feb0f6e](https://etherscan.io/address/0x965f94d30964eaf345f57ddc0fa220f77feb0f6e)
Network: Mainnet
Paid to: kwingram25
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-10 09:27] status-open-bounty commented on #3787
Balance: 0.000000 ETH
Tokens: SNT: 2800.00
Contract address: [0x487fa83df50215e8f07fccbc67971de02849d6a5](https://etherscan.io/address/0x487fa83df50215e8f07fccbc67971de02849d6a5)
Network: Mainnet
Paid to: trybeee
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-10 10:01] lukaszfryc commented on #3815
I really like this idea. I think @yevh-berdnyk started doing similar tests on UI level as a part of https://github.com/status-im/ideas/issues/91. She used @mandrigin's [chat bot](https://github.com/mandrigin/status-go-bots/blob/master/cmd/pinger/main.go). But nevertheless, I think it's worth having such tests below the UI level.

Btw, how we are going to check the send/delivery ratio? There is an

[2018-04-10 10:12] yenda commented on #3815
@lukasfryc that would be different because here we are using the fact that the benchmark is a basic ping-pong between the two contacts. If a ping is not responded to after TTL expired we consider the message lost

[2018-04-10 10:27] nikitalukianov commented on #3784
![sending_messages](https://user-images.githubusercontent.com/33906272/38551829-dfc9991a-3cc2-11e8-88a8-ee599bf29244.png)

[2018-04-10 11:11] chadyj commented on #3792
No. We don't want to track metadata.

[2018-04-10 11:17] Serhy opened #3825 "Message content cleared from message input box after tap on chat view screen"
***Type***: Bug

***Summary***: When a user has message content in the message input box and taps on the chat screen area, - we hide the keyboard. However, along with that, we clear the message content which is entered. We need to keep it.
**Note:** If user taps on back to Home screen button (`<` one) or chat settings (`...` one) in the app top bar - keyboard hides but message input box content is

[2018-04-10 11:25] chadyj commented on #3314
Done in https://github.com/status-im/status-react/pull/3772

[2018-04-10 11:27] #3314 closed, assigned to goranjovic

[2018-04-10 11:30] flexsurfer commented on #1251
related issue https://github.com/status-im/status-react/issues/2704

[2018-04-10 11:33] nikitalukianov commented on #3784
![sending_messages_android](https://user-images.githubusercontent.com/33906272/38554684-310043c0-3ccc-11e8-907c-789c9150ffb5.png)
![sending_messages_ios](https://user-images.githubusercontent.com/33906272/38554685-311e90fa-3ccc-11e8-9f64-08a4f4c44288.png)

[2018-04-10 11:34] #1251 closed

[2018-04-10 11:40] nikitalukianov commented on #3784
There are new updates for Android & iOS states. It's a new design of chat, cause i optimised space into messages, removed avatars from "yours" messages. The different btw Android & iOS screens — is space to states below the message (4px — Android, 3px — iOS). It's because the different font space etc.

[2018-04-10 11:46] lukaszfryc commented on #3817
It seems to be only iOS issue. I did some research on Android and have not found anything like that.

[2018-04-10 12:19] dshulyak commented on #2479
As I understand filters are relying on subscriptions https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB and we don't support them in our transport layer at the moment. In order to support them, we need to switch transport to unix sockets or web sockets or implement subscriptions using signals.

<blockquote><img src="https://avatars3.githubusercontent.com/u/6250754?s=400&v=4" width="48" align

[2018-04-10 12:26] chadyj opened #3827 "Message reliability survey"
### User Story

As a UX Researcher, I want to run a message reliability survey so that I can measure and understand the messaging experience of users.

### Description

*Type*: Feature

*Summary*:

Let's understand how users feel about sending and receiving messages with Status! We can do this using Instabug and its reporting feature (see https://github.com/status-im/status-react/issues/3738) and

[2018-04-10 12:29] lukaszfryc commented on #3784
How do we know that a message was delivered? I'd like to test that.

So the timeout is 30s. After it, the spinner which indicates `sending` status, changes to the error message.
What logic will trigger the error? One example I think of is that message didn't leave the device for some reason. Another one may be that a node did not accept it for some reason. Do I understand this correctly?

[2018-04-10 12:31] chadyj commented on #3784
Yep that sounds right. That is two failure modes. @rasom can you think of others?

[2018-04-10 12:33] lukaszfryc commented on #3784
@nikitalukianov what should happen when a device is offline and I sent a message? FB Messanger shows a circle indicator that the message has not been sent yet. In our case, should we keep the spinner going on until the network is back?

I'd not show the red error "Not sent.." in this case.

[2018-04-10 12:36] lukaszfryc commented on #3787
Note that this status should be shown in chats list (Home tab) as well.

[2018-04-10 12:39] lukaszfryc commented on #3792
@chadyj what do you think? If we don't know if a recipient has data sharing enabled, we may mess up our results. Some messages may never be delivered.

[2018-04-10 12:40] lukaszfryc commented on #3792
How about tracking the timestamp to calculate time it took to deliver a message?

[2018-04-10 12:47] dmitryn commented on #3174
Hi @grishick !

I've just checked your DApp and it seems loading without errors. I do see web3 object in Chrome console when loading https://s3-us-west-1.amazonaws.com/turnsy/dapp/www/index.html.

Console log:

<img width="616" alt="screenshot 2018-04-10 15 45 01" src="https://user-images.githubusercontent.com/23836/38557659-5b9c7658-3cd6-11e8-9456-55f5ecb407be.png">

How page looks like:

<img wi

[2018-04-10 12:49] lukaszfryc commented on #3793
@chadyj is it always going to be the time message has been sent (presented in device timezone)? E.g I'm sending a message now and Status shows current time in my timezone. The message is delivered after 30min because the recipient was offline. The time recipient sees is the time message was sent (the same time that I saw). She sees it in her local timezone.

[2018-04-10 12:55] #3681 closed, assigned to nobody

[2018-04-10 13:05] #2912 closed, assigned to nobody

[2018-04-10 13:06] chadyj commented on #3792
@lukaszfryc First checkbox in the issue 😎

Cool idea

[2018-04-10 13:06] #1664 closed, assigned to rachelhamlin

[2018-04-10 13:06] #3775 closed, assigned to goranjovic

[2018-04-10 13:07] chadyj commented on #3793
@lukaszfryc Not sure what is implemented in Go currently, but this issue is just surfacing that internal time.

[2018-04-10 15:45] status-open-bounty commented on #3050
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd872f15c294a79ccdd008842fbf33e4dc4043c78c234041ab0b0c984b0efa420](https://etherscan.io/tx/0xd872f15c294a79ccdd008842fbf33e4dc4043c78c234041ab0b0c984b0efa420)

[2018-04-10 15:46] status-open-bounty commented on #3820
Balance: 0.000000 ETH
Tokens: SNT: 450.00
Contract address: [0x81c1bca764f23cce5d15886a3b6d212a42ee212c](https://etherscan.io/address/0x81c1bca764f23cce5d15886a3b6d212a42ee212c)
Network: Mainnet
Paid to: goranjovic
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-04-10 15:50] status-open-bounty commented on #3050
Current balance: 0.000000 ETH
Contract address: [0xd9f7b78d7940867e503dd0dabd1b4da2e7f339ec](https://etherscan.io/address/0xd9f7b78d7940867e503dd0dabd1b4da2e7f339ec)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/3050/04353576bf222cf9bb34bbad3f1438e3727e369051c564887f4c844f74383064/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](htt

[2018-04-10 18:12] cammellos commented on #3793
@lukaszfryc correct, it will always be the time of the sender.
@chadyj  do we have any designs ready for this? I had a look around but could not find any. Adding the timestamp in the message bubble a la whatsapp seems like a good starting point, what do you think?

[2018-04-10 18:17] chadyj commented on #3793
@cammellos Should be ready tomorrow. @nikitalukianov is working on it.

Here is a WIP from old designs for reference.

<img width="572" alt="screen shot 2018-04-10 at 8 16 49 pm" src="https://user-images.githubusercontent.com/116099/38575637-2d4fb56e-3cfc-11e8-811c-2da617ae9e95.png">

[2018-04-10 18:32] skypper opened #3828 "TestFlight Invite Problem"
I receive the following error when I try to opt-in to test the iOS app.
_Something went wrong, please contact the application owner: {"code"=>"ITC.apps.tf.max.app.testers", "description"=>"Failed to create tester."}_

PS: I couldn't find any contact form on the website to report the issue.

[2018-04-11 06:45] ovx commented on #3818
I have a commit which fixes this issues here https://github.com/ovx/status-react/commit/7a4d1adea8165e379f059e4171b5fb6941755d30 but the problem with emoji is that this simple regex doesn't necessarily match all of them.

I ES6 there is a unicode mode for regex (https://github.com/tc39/proposal-regexp-unicode-property-escapes#matching-emoji) which should work better but this mode doesn't currently

[2018-04-11 06:59] denis-sharypin commented on #3818
@goranjovic  @jeluard  @flexsurfer  Could you assist guys? ↑

[2018-04-11 07:01] jeluard commented on #3818
@ovx This [article](https://medium.com/reactnative/emojis-in-javascript-f693d0eb79fb) might help. Specifically it mentions a regexp used by lodash we could use.
Please also consider the performance impact of this.

[2018-04-11 07:30] lukaszfryc commented on #3815
Ok. Anyway, I'm super interested in the tests. We could also use them for some stress testing.

[2018-04-11 07:49] ovx commented on #3818
@jeluard Thanks! lodash's regex helps a lot, with some additional tweaking for this guy (☺️) it handles all emoji in my test screen, but there probably will be more codes which are not handled by this regex.

It has, of course, some performance impact, but I don't see any other solution for detection of emoji. (Except for the unicode mode which should be fast I assume)

[2018-04-11 07:59] janherich commented on #3818
@ovx The thing is, regex lookups are expensive, so we should probably think about caching them (have a look at the private `parse-text` function in the namespace, and how is used), because view functions by default are NOT cached and will be run each time something in subscription changes (react VDOM diffing will make sure that even when those functions are run and producing output multiple times,

[2018-04-11 08:00] endenwer commented on #3818
I also wanted to do this. But I thought to add flag `emoji-only?` to message and set that flag when saving message to data store. It would be more performant but wont work for messages what already in the store.

[2018-04-11 08:01] martinklepsch opened #3830 "Dev Mode showed as enabled but not enabled for new account"
Steps to reproduce:

1. Log into an account and ensure that dev mode is enabled, and the console is visible in Home tab
2. Log out
3. Create new account
4. Verify the following issues:
    - Dev mode toggle will be enabled
    - The console is not visible on Home tab
    - Tapping Dev mode toggle again will keep the toggle enabled and Console will appear in home tab.

Untested: maybe this issue al

[2018-04-11 08:05] lukaszfryc commented on #3830
Duplicate of https://github.com/status-im/status-react/issues/3777

[2018-04-11 08:05] #3830 closed, assigned to nobody

[2018-04-11 08:06] ovx commented on #3818
@janherich I understand that, but you have any other idea how to detect emoji? Ad `memoize`, does it actually have some sort of upper limit for memory usage and garbage collection or does the memory consumption grow into infinity? I didn't find any documentation for that.

[2018-04-11 08:08] janherich commented on #3818
The performance of running regex once when new message is being rendered is most probably super negligible (we already have more complicated regexes which are also run each time message is being rendered to transform url's in message text into clickable actions), it will be overshadowed by actual rendering.
The problem is naive implementation when we just call the regex in view function without an

[2018-04-11 08:10] jeluard commented on #3818
@ovx Do you mind running some basic bench on long lines on real hardware? To get some ballpark figure.
Also no, `memoize` is not bound, you control when you don' want to call it.

[2018-04-11 08:16] janherich commented on #3818
@ovx Detecting via regex is fine, we just have to make sure that this detection happens only when necessary. Memoize not having upper bound is not a problem, we have lazy loading and don't render every message in chat when it's opened + it will be just minor (constant) increase of memory for each message rendered (we will still have way more messages in app-db then that, unless you open all the ch

[2018-04-11 08:23] ovx commented on #3818
@jeluard @janherich I will implement `memoize` and also apply regex match only on very short messages (let's say <= 20 chars, which would allow 10 emoji and if there's more it will simply have a bubble). I'll also try to get some benchmarks with and without matching.

[2018-04-11 08:24] cammellos commented on #3818
Another option is to just store that in the database, at the expenses of storage, you only check on receive if the message contains an emojii ( say you have a message-type of :emoji), not sure whether is worth considering for this though.

@janherich while I agree that will likely never be a problem using an unbound memory structure, I would avoid it if not necessary (`clojure.core.memoize` has a

[2018-04-11 08:28] janherich commented on #3818
@cammellos Sure, that's why I said the cleanest solution would be to pull all those more expensive things into `re-frame` subscriptions, which do "proper caching" :)
Additional benefit would be logic free uncluttered view functions, more portable to desktop project, etc.

[2018-04-11 08:28] cammellos commented on #3818
@janherich yes, agree with you

[2018-04-11 09:02] chadyj commented on #3828
Thanks for the bug report.

I tried to reproduce the issue but didn't encounter the problem. Maybe there was a temporary issue, or perhaps an issue with your account.

Would you mind trying again and seeing if the issue is still there?

[2018-04-11 09:12] denis-sharypin opened #3832 "Hide tab bar when editing userpick in the profile"
### User Story

As a user, I don't want to see a tab bar while editing the photo so that I could be fully focused on that process.

### Description

*Type*: Bug

*Summary*: Fun Android bug that keeps showing a tab bar above keyboard while a user is editing userpick or name. Tab bar should be hidden. Check iOS build for reference.

#### Expected behavior
<img width="428" alt="screenshot 2018-04-11

[2018-04-11 09:13] annadanchenko commented on #3804
@denis-sharypin I expect that it will be applicable not only for 1:1 chats but for group and public chats. If so, can you update the expected result and issue description, please?

If there are other cases (navigating in Wallet, Profile, DApps) can you share general rule and also exceptions? One exception I can think of is what happens if use swiping on main Home screen - will the "previous" scree

[2018-04-11 09:25] denis-sharypin commented on #3489
fixed here https://github.com/status-im/status-react/issues/3678

[2018-04-11 09:25] #3489 closed, assigned to nobody

[2018-04-11 09:33] mandrigin commented on #2704
I got a branch with the implementation (https://github.com/status-im/status-go/tree/igorm/implement-personal-sign).
It has API changes.
1) Method renames:
- `CompleteTransaction` becomes `ApproveSignRequest`
- `DiscardTransaction` becomes `DiscardSignRequest`

2) Signal changes
`transaction.queued`→  `sign-request.queued`
`transaction.failed`→ `sign-request.failed`

3) Signal logic changes
When an

[2018-04-11 10:14] ovx commented on #3818
@janherich thanks, re-frame subs sound like a good solution, I'll check them out.

[2018-04-11 10:40] #3593 closed, assigned to nobody

[2018-04-11 11:00] #3706 closed, assigned to nobody

[2018-04-11 11:21] yevh-berdnyk commented on #3723
@chadyj yes, we can test background and offline states, but notifications testing requires more research.
Tests with multiple chats will also be added, thanks

[2018-04-11 12:11] dmitryn commented on #3174
On Ropsten it still has no access to web3:

<img width="626" alt="screenshot 2018-04-11 15 08 20" src="https://user-images.githubusercontent.com/23836/38615731-638f0208-3d9a-11e8-83ab-f605e53e309c.png">

@grishick what network does your ÐApp support?

[2018-04-11 12:18] dmitryn commented on #3131
@chadyj i don't have this issue using iOS simulator (iPhone 6) and real android (oneplus 5)

[2018-04-11 12:26] dmitryn commented on #3131
Cannot reproduce this on iPhone X in simulator as well.

[2018-04-11 12:28] goranjovic commented on #3131
@dmitryn Can't reproduce it either on last nightly with iPhone 6s real device

[2018-04-11 12:48] chadyj commented on #3131
I just tried it with the nightly and the problem is still happening.
To reproduce make sure you search for a token then scroll.

Tested with real iPhone X.

![ercdex-scroll](https://user-images.githubusercontent.com/116099/38617464-6e343d5c-3d97-11e8-85a7-39c1960c7675.gif)

[2018-04-11 12:53] dmitryn commented on #3131
Still not reproducible for me (i don't have real iPhone X though)

[2018-04-11 12:59] goranjovic commented on #3131
Ok I see it now (real 6s)

[2018-04-11 13:00] dmitryn commented on #3131
@goranjovic i suggest you to look at this further

[2018-04-11 13:06] flexsurfer commented on #3131
@goranjovic as i remember i could reproduce this in chrome so the problem not in status

[2018-04-11 13:09] chadyj commented on #3131
I tried to reproduce in Chrome on iOS and it worked as expected.

[2018-04-11 13:09] goranjovic commented on #3131
Looks ok in Toshi too. Seems related to keyboard somehow

[2018-04-11 13:12] flexsurfer commented on #3131
@goranjovic it reproduced for specific webview size, so if you play with browser window size on a desktop you will reproduce it for sure

[2018-04-11 13:13] flexsurfer commented on #3131
imo we can't fix it in status

[2018-04-11 13:15] cammellos opened #3838 "Move to yarn instead of npm"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer,
I would like to use yarn instead of npm,
because it's faster (in our case) and does not get stuck installing packages

### Description

We agreed to move to yarn instead of npm.

We tried to do so but failed as we were not able to build a release in a reasonable amount of time.

Moving to yarn