[2020-04-14 14:58] gravityblast commented on #10167
in our current use case we open the request screen from a point of sale dapp, and we need a complex message to be signed so the standard uri wouldn't work, but we can think about it for other use cases.

[2020-04-14 15:48] andremedeiros commented on #10277
@churik can this be reproduced with a non-keycard account too?

[2020-04-14 15:55] andremedeiros commented on #10064
@GregTheGreek we get FIAT prices from a 3rd party source, although we've made some updates to that system. Can you confirm you still see this issue?

[2020-04-14 15:58] 0x-r4bbit commented on #10219
Thanks @Onebotband !

Closing this as resolved.

[2020-04-14 15:58] #10219 closed, assigned to nobody

[2020-04-14 16:18] #8275 closed, assigned to iurimatias, 0x-r4bbit

[2020-04-14 17:11] #9275 closed, assigned to nobody

[2020-04-14 17:11] #10205 closed, assigned to nobody

[2020-04-15 07:27] errorists opened #10334 "Send Anonymous Messages in public chats"
# Feature Issue

The scope of this feature is to design and implement an interface to seamlessly send messages in public chats that display the `Anonymous` account to all its recipients rather than your chat key.

### User Story

As a user, I want to send anonymous messages in chats so that I don't have to reveal my chat key when I want to send a message anonymously and its recipients won't know i

[2020-04-15 08:08] Neustradamus opened #10335 "Please update Bouncy Castle"
Please update Bouncy Castle
- https://www.bouncycastle.org/
- https://www.bouncycastle.org/releasenotes.html
- http://www.bouncycastle.org/latest_releases.html
- https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=bouncy%20castle
- https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=bouncycastle
- https://www.cvedetails.com/vulnerability-list/vendor_id-7637/Bouncycastle.html

[2020-04-15 10:21] #10058 closed, assigned to nobody

[2020-04-15 11:00] errorists commented on #10303
I'm not sure about this one, the way this UI is designed, switching between subviews inside a subview, I don't find it elegant and somewhat counter to how these building blocks were meant to function. Not my circus not my monkeys, just thought to mention this

[2020-04-15 11:19] rachelhamlin opened #10336 "Add sticker submissions to market place"
# Problem

We have two sticker market submissions via Google. Would like to push these to the sticker market with associated metadata.

## Implementation

- Add sticker packs to sticker market interface

## Acceptance Criteria

Pack 1
**Artist name:** Mugen Feng
**Sticker pack name:** Dogeth
**Pack price in SNT:** 20
**ETH address:** 0x595645110FDE0691A94DE393e080558539237126
[Sticker images](http

[2020-04-15 11:33] churik commented on #10277
@andremedeiros no

[2020-04-15 15:26] churik commented on #9606
AFAIK now (on nightly 15/04/2020) links with params (value, contract address, etc) are resolved only if scanning them from wallet -> QR icon at the top from wallet view.
In case of usage for scanning ERC681 link Send transaction screen > To > Scan recipient address only address is resolved.

it is confirmed by @hesterbruikman (pinging just in case)
@3esmit that's the issue, did I understand correc

[2020-04-15 22:50] #10039 closed, assigned to nobody

[2020-04-16 04:20] 3esmit commented on #10336
Some problems with the information below.

Pack 1 was named "Dogeth" by the artist. Why is it being called "Shiba Pack"? Is this right?
Pack 1 suggested name is suffixed with the word "Pack", which is redundant and does not happen for other packs in the market. Is this right?

Pack 2 is missing the pack name.

[2020-04-16 07:48] flexsurfer commented on #7633
probably we should give one more chance to this issue and consider https://developers.google.com/speed/webp/  for stickers @Ferossgp @errorists

[2020-04-16 07:50] errorists commented on #7633
@flexsurfer if we all agree to use webp, I can run all of our stickers through the converter app

[2020-04-16 08:49] TomaszWaszczyk commented on #7358
The link in the bounty does not work: https://status.im/extensions/

[2020-04-16 08:52] TomaszWaszczyk commented on #6205
@mandrigin Can I start working on this issue?

[2020-04-16 09:11] #10293 closed, assigned to nobody

[2020-04-16 10:02] #10306 closed, assigned to michaelsbradleyjr

[2020-04-16 11:34] #10052 closed, assigned to nobody

[2020-04-16 12:59] flexsurfer commented on #10335
hi, what do you mean by the update? could you please elaborate on what is this?

[2020-04-16 13:40] churik opened #10345 "Token ENS name is not resolved in EIP-681 links"
# Bug Report

## Problem
Leftover  after https://github.com/status-im/status-react/pull/10280 - ENS name for token is not resolved (i.e.
ethereum:snt.thetoken.eth/transfer?address=3esmit.stateofus.eth&uint256=1337e17)
#### Expected behavior
asset is SNT

#### Actual behavior
error is shown

### Reproduction

- Open Status
- Go to wallet
- Scan QR with link `ethereum:snt.thetoken.eth/transfer?addre

[2020-04-16 13:48] churik commented on #7044
don't think it is still relevant.
@rachelhamlin reopen if it is

[2020-04-16 13:48] #7044 closed, assigned to nobody

[2020-04-16 13:54] #10297 closed, assigned to cammellos

[2020-04-16 13:54] #10274 closed, assigned to nobody

[2020-04-16 13:55] rachelhamlin opened #10346 "Build front-end user referral flow"
# Problem

Chat platform success is in network effects. The user referral program rewards Android users for bringing their friends and family into Status. 100 SNT to the referrer for each new user who creates an account.

App store rules prevent us from being able to offer this scheme on iOS.

## Implementation

3 separate entry points for the invite flow:
- From app intro screen, [in existing `In

[2020-04-16 13:57] Neustradamus commented on #10335
@flexsurfer: Thanks for your comment!
I have done several tickets in this organization, it has been solved for one:
- https://github.com/status-im/status-keycard-java/issues/20

Here in this project: https://github.com/status-im/status-react/search?q=bouncycastle&unscoped_q=bouncycastle

Currently the last version is 1.65, please look previous links, there are CVEs...

[2020-04-16 14:00] flexsurfer commented on #10335
@jakubgs are you aware about that?

[2020-04-16 14:13] churik opened #10348 "Scroll position in chat is not maintaining (chat is auto-scrolling when new message is coming)"
# Bug Report

## Problem
Continuation of https://github.com/status-im/status-react/issues/10274
From user POV: It just jumps, as if it’s refreshing the chat.
For example, if you scroll up a few messages and then someone sends a new message to the chat, you will notice the chat jump so you know a new message has appeared.

#### Expected behavior
scroll position is the same

#### Actual behavior
cha

[2020-04-16 14:14] churik commented on #10348
From @cammellos: it is blocker for  #6375

[2020-04-16 14:36] jakubgs commented on #10335
I'm not aware of every single dependency we use but we clearly use it here:
https://github.com/status-im/status-keycard-java/blob/4a69788473fbe25fc2227e9971dce7b63a6a8273/lib/src/main/java/im/status/keycard/applet/RecoverableSignature.java#L3-L10
So seems like someone will have to update it.

[2020-04-16 15:54] churik commented on #4272
tracking in https://github.com/status-im/status-react/issues/7117

[2020-04-16 15:54] #4272 closed, assigned to errorists

[2020-04-16 15:58] churik commented on #4184
I think it may be closed as it is tracked in https://github.com/status-im/status-react/issues/10163

[2020-04-16 15:58] #4184 closed, assigned to nobody

[2020-04-16 19:19] ghost opened #10352 "DARK MODE for status-im on iOS and andriod"
# Feature Issue
 status-Im should integrate dark mode to the app as a minority of apps like this have dark mode compatibility and it would be nice to have an option to have dark mode

[2020-04-16 19:33] ghost commented on #10352
here is some guidelines for dark mode for ios and Andriod for their platform

https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/dark-mode/
https://developer.android.com/guide/topics/ui/look-and-feel/darktheme

[2020-04-16 21:56] autonome commented on #1885
Just saw this when trying to register my .stateofus.eth username on iOS app. There's no default fee populated which is weird too.

[2020-04-16 22:00] corpetty opened #10353 "Feature Request: Addition of Unstoppable Domains resolution into the application"
# Feature Issue

### User Story

As a user, I would like to do the following:
- resolve <domain>.crypto in the web3 browser
- resolve owned .crypto NFTs in the wallet
- resolve username records in chat search (will require record standardization agreement with UD)

### Acceptance Criteria

I can do all of the previously mentioned things in user stories

### Notes
This could probably be broken up i

[2020-04-17 05:14] bigcook12345 commented on #10353
This would help me out a lot actually. I'm just trying to understand this whole thing. It's pretty confusing. Dove in head first with minimal experience.

[2020-04-17 07:44] hesterbruikman commented on #4184
Thanks for cleaning this up @churik

[2020-04-17 08:29] #8717 closed, assigned to nobody

[2020-04-17 08:31] #10203 closed, assigned to nobody

[2020-04-17 09:32] 0x-r4bbit commented on #10326
I've been looking into this and I'm experiencing a very weird behaviour.

- When adding new accounts (watch-only or proper), these are added to the status client. This can be verified by using its RPC API to call into `accounts_getAccount`
- Removing watch accounts also properly removes it from the status client. Verification is done the same way
- Here's the thing, even though the account in ques

[2020-04-17 09:43] #10301 closed, assigned to iurimatias, jrainville

[2020-04-17 09:54] rachelhamlin commented on #10336
Thanks for checking me, @3esmit! I added the missing name for pack 2, but there's a conflict.

I pulled these from the [Sticker Market form submissions](https://docs.google.com/spreadsheets/d/1Gkaebx7zgbTXqiWNDd5fseAR2B-NiuuzPdjmdW8lr6w/edit?usp=sharing).

It looks like Shiba Pack was renamed and submitted to the latest contest. I missed the results from that and see we have 9 other packs to add a

[2020-04-17 10:00] yenda commented on #10326
@PascalPrecht indeed that should be reported in status-go repo

[2020-04-17 11:10] 0x-r4bbit commented on #10326
Created an issue over at https://github.com/status-im/status-go/issues/1939

[2020-04-17 13:11] hesterbruikman opened #10359 "Add help text to Account settings > Type"
# Problem
Account information is an advanced feature that provides the user with information about where their keys are stored (`Storage`) and what type they are (`Type`), meaning whether they are derived from the same seed, a different seed, or a watch only account. The latter should inform users about what seed phrase would be required to recover the account.

Tge `Type` label is not clear and d

[2020-04-17 14:02] #10277 closed, assigned to nobody

[2020-04-17 14:07] jrainville commented on #10288
@Serhy I just tested the Zerion Dapp in Metamask and the same behaviour happens.

The problem is with the Dapp itself, and not with Status. A Dapp should watch for account changes and then react accordingly. That's why Cryptokitty and Sablier don't have the issue.

One way to fix it inside Status would be to force refresh the Dapp when we switch accounts, but it is not something we should do. Meta

[2020-04-17 17:53] jrainville commented on #10109
I just tested and checked the code and I can no longer reproduce.
I think this was fixed in https://github.com/status-im/status-react/commit/b1170179cd3833bd8894689a8d75451b93147ea8 by @flexsurfer

[2020-04-17 22:47] KyleNie opened #10362 "Can't load any messages after rejoining a public group"
# Bug Report

## Problem

If I delete a public group and join it again, no messages will load as if it's an empty group. "Fetch more messages" doesn't work.

#### Expected behavior

Previous messages are loaded.

#### Actual behavior

Nothing appears and "fetch more messages" button won't get it work.
### Reproduction

- Join a public group
- delete chat
- join the same group again
### Additional

[2020-04-18 04:06] jonaharagon opened #10363 "Feature Request: Mobile Push Notifications"
# Feature Issue

The Status iOS application does not appear to send any chat notifications. Apologies if this is already being tracked elsewhere (and please point me in that direction if so). I saw some issues that mentioned push notifications but nothing tracking whether or not they would be (re?)implemented and why.

### User Story

As a user, I want to be able to message other users on Status a

[2020-04-19 10:55] weekly-digest[bot] opened #10364 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 45 issues were created.
Of these, 19 issues have been closed and 26 issues are still open.
## OPEN ISSUES
:green_heart: #10363 [Feature Request: Mobile Push Notifications](https://github.com/status-im/status-react/issues/10363), by [JonahAragon](https://github.com/Jona

[2020-04-20 09:44] guylouis commented on #10167
Some thoughts after reading this in detail
- when status gets a EIP681 link, this link does not have information about which account to use (and it makes sense!) it's up to status UI to allow the user to chose from which account this will be paid
- The account could thus be any of the accounts from the user excepting read-only accounts
- regarding the ability to open status from a link on the keyc

[2020-04-20 10:08] Serhy opened #10366 "App Dark mode: signing phrase+message not visible when Signing message in Dapps"
# Bug Report

## Problem

Whenn Status in Dark Mode the Sign Message bottom sheet has white fill colour. Thus signing phrase and signing message are not visible (apparently blended with text colour)

#### Expected behavior

Can see signing phase and signing message in Dark mode when Signing Message in Dapps
#### Actual behavior

<img width="470" alt="Screenshot 2020-04-20 at 13 04 31" src="https:/

[2020-04-20 10:11] gravityblast commented on #10167
@guylouis what's the use case though? Normally a URI opens the wallet with a payment pre-filled.
With the cash applet the user doesn't even use a device, it's the "merchant" that has the device. what could be a use case for the merchant to use a link/qrcode?

[2020-04-20 10:17] guylouis commented on #10167
<del> I think when it makes sense to include the detail of the payment (amount, asset) in the QR code/link itself. For instance to streamline the user experience at a booth that sells only one item (scan this QR code to get your one hot dog, or entrance ticket), thus the 'price' of the item is already encoded.

hmm yes good point, I think Hester had in mind a case where one given point of sales ap

[2020-04-20 10:34] hesterbruikman commented on #10167
👆 Exactly, a dedicated payment app (other than the Status merchant dapp) uses a link to create a payment request that the buyer then signs on their own device. Considering the numerous merchant apps already out there, integrating with inventory, accounting, etc.. From a merchant's perspective it would be way more convenient to send a payment request from their existing UI than to have to 'get into

[2020-04-20 11:48] cammellos commented on #10363
@JonahAragon  thanks for the detailed issue, just to give some historical context and better make a decison:

The method we used before for push notifications was something similar to this (although without a server, users were exchanging tokens for notifications through contact requests, which was questionable in terms of security in my opinion).

I believe the reason why we decided to stop using

[2020-04-20 12:11] guylouis commented on #10167
the point to clarify (btw is 'the client' above a typo, do you mean the merchant or the buyer ?) is if the request screen is prompted on the merchant phone (in this case this is some kind of inter-app communications between the pos app and status) or the buyer phone (in this case, I personnaly need to think about how this would work, this doesn't seem obvious to me for now)

[2020-04-20 12:35] #10366 closed, assigned to nobody

[2020-04-20 12:45] 0x-r4bbit commented on #9977
Seems like this can't reproduced in a simulator because even if WIFI and mobile data is turned off it'll still sign messages.

Trying to setup testing with real device now

[2020-04-20 12:45] flexsurfer commented on #10362
@cammellos probably for public chats we need to clear all data, and consider it as brand new chat when joining again, wdyt ?

[2020-04-20 12:52] cammellos commented on #10362
@flexsurfer it's actually an explicit behavior, we did this I believe because we were required by the previous security audit.

The idea is that if you join a chat, delete it because you don't want some of those messages, if you re-join the chat you don't want to see them again.

I am not sure that's really needed for public chats (while 1-to-1 I would be more cautios, also there are some technica

[2020-04-20 12:59] flexsurfer commented on #10352
thanks @epicodertime dark mode has been implemented and currently in testing, will be available in the next release 1.3

[2020-04-20 12:59] #10352 closed, assigned to nobody

[2020-04-20 13:17] errorists commented on #10362
to be honest, I think it goes against common sense expectation. a public chat is an immutable record of conversations; if you left it and rejoined, you would fully expect to fetch its latest state including everything you seen before

I think the expectation is more like, you don't want to participate in it, it's about choosing to subscribe to a conversation

_edit_: maybe to leave a more definite

[2020-04-20 14:08] churik opened #10369 "App freezes on transaction signing after entering wrong password"
# Bug Report

## Problem
After entering wrong password on Signing transaction screen app is freezing with endless spinner.
Reproducible in 1-1, wallet flows

#### Expected behavior
Can enter valid password and sign transaction

#### Actual behavior
![photo_2020-04-20 16 05 24](https://user-images.githubusercontent.com/4557972/79760711-c1b0c100-8320-11ea-972e-8922ebbd937f.jpeg)

### Reproduction

[

[2020-04-20 14:37] andremedeiros commented on #10017
Closing this as the related issue has been implemented/fixed.

[2020-04-20 14:37] #10017 closed, assigned to nobody

[2020-04-20 14:40] flexsurfer commented on #10369
@churik was introduced here
https://github.com/status-im/status-react/pull/9390

https://github.com/status-im/status-react/commit/e11385e35093f6f312bf0a037dc63fe829f3fc2b#diff-598cee30285d1d51df0def4398019d98R337

[2020-04-20 14:49] andremedeiros commented on #9269
@cammellos @Serhy sounds like this one can be closed. Is that right?

[2020-04-20 14:50] churik opened #10371 "Message that contains only emoji are shown as replies to "Unknown" in all chats"
# Bug Report

## Problem

![photo_2020-04-20 16 44 59](https://user-images.githubusercontent.com/4557972/79764933-49e59500-8326-11ea-8ed6-03ea5616eb04.jpeg)

#### Expected behavior
ordinary message, not reply

#### Actual behavior
message is shown as reply from unknown

### Reproduction

- Open Status
- Join any chat
- Send emoji

### Additional Information

- Status version: RC 1.3 #5
- Operating

[2020-04-20 14:57] flexsurfer commented on #10371
probably related to https://github.com/status-im/status-react/pull/10304 ? @cammellos

[2020-04-20 15:02] cammellos commented on #10371
possibly, I can have a look at it tomorrow

[2020-04-20 15:06] StatusSceptre commented on #10371
Would be great guys @cammellos @flexsurfer I don't want to release 1.3 with this.

[2020-04-20 17:32] jonaharagon commented on #10363
It might be worth looking into how Signal’s “Sealed Sender” feature works, it’s my understanding that they’ve solved that metadata issue.

But regardless, I think is still worth considering as an opt-in/out feature in the app where people could make the convenience/privacy tradeoff themselves. I definitely can’t speak for all your users, but I know that for myself and the people I chat with who ar

[2020-04-20 18:01] cammellos commented on #10363
Thanks for the suggestion, they partially solve the issue, Sealed Sender provides metadata protection for the sender, but not the receiver (while waku and whisper before protected both), also it is probably trivial for them to correlate IP addresses.

I think you are making a very good point, and it's an option that we should definitely consider.
It's always difficult to strike a balance between p

[2020-04-20 18:04] #10369 closed, assigned to nobody

[2020-04-20 18:11] andremedeiros commented on #10363
There's definitely not a clear equivalent for iOS planned at the moment. We've talked about decentralized notifications by sidecar'ing those onto the desktop client (when that's ready.) The potential equivalent on iOS would be background updates, but those aren't consistent or frequent enough that I'd call them push notifications.

Let me look at the other points you've made and get back to you.

[2020-04-20 19:05] iurimatias commented on #8664
@churik I can't reproduce this issue, it seems fixed.

[2020-04-20 20:24] hesterbruikman opened #10373 "Add collectibles support to Status wallet 🦋"
# Feature Issue
Different use cases for Keycard and the Core app at Devcon 6 have been proposed to the event organizers; Per invitation of the organizers who are looking to provide applications for dogfooding at the event.

Core to the proposal is the use of NFT's:
- authenticate attendees,
- offer them NFTs,
- check if they own a given NFT, thus authorizing specific actions at participating booth

[2020-04-20 20:26] hesterbruikman commented on #10373
@guylouis @andremedeiros please check if this accurately captures the Devcon proposal and work required by Core to support the proposal

[2020-04-20 20:41] richard-ramos commented on #2681
@churik, @Serhy
Is this still an issue? Currently that input field is set as "numeric" as seen on this line https://github.com/status-im/status-react/blob/37028c62a2433067122be126db1183ec4addc487/src/status_im/ui/screens/wallet/send/views.cljs#L104 which according to this guide https://lefkowitz.me/visual-guide-to-react-native-textinput-keyboardtype-options/ should display the keyboard

On my phon

[2020-04-21 05:29] flexsurfer commented on #10373
the big issue with NFTs they don't follow same standard, implementation of every token is different

other wallets use third party APIs https://docs.opensea.io/reference#api-overview

yes, it can be sent, and in chat as well but every token must be implemented separately

about 4h

this might be tricky to implement

[2020-04-21 06:53] errorists commented on #10373
[the complete new designs are here](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=8436%3A37143), please let me know if I'm missing something. Collectible display, info, sending flows, and yes I went ahead and added OpenSea integration

[2020-04-21 07:44] Serhy commented on #2681
@richard-ramos yes, it's still an issue (same like in on real https://github.com/status-im/status-react/issues/2681#issuecomment-591486481)
I see it on real device Samsung Galaxy Note 4 with Android 6.0.1

Here is the video of numeric keyboard view in Status and in Chrome(used Airswap dapp):
https://drive.google.com/file/d/1X1e7-JR7TT9mWqoNqVhWDwA6WZt5kSr6/view?usp=sharing

Here is [keyboard_galax

[2020-04-21 08:08] Serhy commented on #9269
Mm, i'd actually be glad if we look at it.

So the `Reproduction` there in description is just to show how to reproduce the issue. And it still reproducible.
And so consequences of connecting to same mailserver in less than 10 sec may still be on place.

[2020-04-21 08:12] cammellos commented on #9269
Yes, I think we should keep this open for now, as we haven't done any work with that regard

[2020-04-21 08:15] churik commented on #8664
Yes, I'm surprized, because rechecked it  on 26 Feb https://github.com/status-im/status-react/issues/8664#issuecomment-591525514
Thank you for taking a look!

[2020-04-21 08:15] #8664 closed, assigned to iurimatias

[2020-04-21 08:19] churik commented on #9599
Confirmed - fixed in v1.3.
Thank you for taking a look!

[2020-04-21 08:19] #9599 closed, assigned to nobody

[2020-04-21 08:41] 0x-r4bbit opened #10375 "Can't install Status on real android device using make command"
# Bug Report

## Problem

This repository comes with a couple of `make` commands to run Status in different environments, including virtual devices and real devices.

I tried installing and running Status on my Android device (Pixel 1) and followed the following steps:

1. Put my phone in develop mode and enabled USB debugging
2. Pulled changes from latest `develop`
3. Ran `make shell TARGET=andro

[2020-04-21 09:25] StatusSceptre commented on #10244
From Roman-

it can't be "fixed" on our side, we have next options:
1. we could force those guys to add logs to that contract call (but that won't fix transfers from other contracts)
2. or create our own "archival nodes" with some custom API for those cases
3. or implement "wallet contract" as Ricardo mentioned in core
but that's not a simple fix unfortunately

[2020-04-21 09:38] StatusSceptre commented on #10371
it can't be "fixed" on our side, we have next options:
1. we could force those guys to add logs to that contract call (but that won't fix transfers from other contracts)
2. or create our own "archival nodes" with some custom API for those cases
3. or implement "wallet contract" as Ricardo mentioned in core
but that's not a simple fix unfortunately

[2020-04-21 10:11] gravityblast commented on #10375
yes I had the same problem with a pixel 2

[2020-04-21 10:13] emizzle commented on #10375
Happens to me also on an HTC U11

[2020-04-21 10:16] jakubgs commented on #10375
I don't see how it doesn't work.
[code]
Though it is true that the `make android-clean` target is fucked due to lack of `TARGET`.
Here's a fix: https://github.com/status-im/status-react/pull/10376

I'll take a look at the rest.

[2020-04-21 11:26] flexsurfer opened #10377 "[perfromance] Improve sign in flow"
The app should work smooth after sign in

1) split events on the smallest ones
2) optimize events code
3) split screens initialization (currently all subscriptions are created and rendered in one step)

![image](https://user-images.githubusercontent.com/11790366/79863285-c6847c00-83d7-11ea-894a-f9e23602ca44.png)

[2020-04-21 11:29] flexsurfer opened #10378 "[perfromance] Investigate reagent tick"
Reagent doesn't support react native , so it uses fake function for next tick `(js/setTimeout 16)` and in combination with `fx/merge` when we have one big event , it doesn't work good, probably we should fork reagent library and use  `(js/setTimeout 0)`because currently we just waste 16ms

![image](https://user-images.githubusercontent.com/11790366/79862745-d9e31780-83d6-11ea-9259-473d27dda9e1.png

[2020-04-21 11:33] flexsurfer opened #10379 "[perfromance][chat] Optimize chat subscriptions"
Currently, we have lots of computations and business login inside chat subscriptions, we should move all that into events , we should have only one subscription where we get messages stream from app-db

![image](https://user-images.githubusercontent.com/11790366/79863740-8d98d700-83d8-11ea-9dea-7294aefa9d0c.png)

![image](https://user-images.githubusercontent.com/11790366/79863801-ab663c00-83d8-11

[2020-04-21 11:35] churik commented on #5124
Still relevant.
For v.1.3 Arabic text is overlapped with timestamps
<img width="184" alt="Monosnap 2020-04-21 13-34-34" src="https://user-images.githubusercontent.com/4557972/79861572-e7979d80-83d4-11ea-912e-64cb36114c3e.png">

[2020-04-21 11:38] flexsurfer opened #10380 "[perfromance][chat] Remove all subscriptions from list items"
We shouldn't use subscriptions inside list items because when we scrolling subscriptions are being created , run and disposed , also when app-db is updated it's expensive to update all subscriptions  and views

![image](https://user-images.githubusercontent.com/11790366/79863801-ab663c00-83d8-11ea-8841-a1e5bea30122.png)

[2020-04-21 11:40] flexsurfer opened #10381 "[perfromance][contact] Optimize contacts subscriptions"
Currently, we have lots of subscriptions for contacts with computations, we should move all that into events , we should have only subscriptions where we get contacts from app-db

Related issue: https://github.com/status-im/status-react/issues/10287

![image](https://user-images.githubusercontent.com/11790366/79864138-3b0bea80-83d9-11ea-9674-5726369906b3.png)

[2020-04-21 11:45] flexsurfer opened #10382 "[perfromance][contact] Optimize navigation"
Currently, navigation to chat event takes more than 100ms, investigate why this is happening

![image](https://user-images.githubusercontent.com/11790366/79863670-6fcb7200-83d8-11ea-8d70-1c0435ee5122.png)

![image](https://user-images.githubusercontent.com/11790366/79864050-11eb5a00-83d9-11ea-9d9e-6cacdb4a8618.png)

[2020-04-21 11:53] flexsurfer opened #10383 "[performance] Performance EPIC"
https://discuss.status.im/t/the-story-about-100ms/1630

General:

* [x]  Investigate reagent tick #10378

Sign in:

* [x] Improve sign in flow #10377

Chat:

* [ ] Optimize chat subscriptions #10379
~* [ ] Remove all subscriptions from list items #10380~
* [x] Optimize input field in chat #10385
* [x] Optimize chat view #10386
* [x] Optimize navigation #10382

Contacts:

* [ ] Optimize contacts su

[2020-04-21 12:04] jakubgs commented on #10375
Oh! Interesting, I just noticed we are using a pretty old Gradle plugin version:
https://github.com/status-im/status-react/blob/387b9cb37a3a5a10484e75bc3a639affc4335ffe/android/gradle.properties#L30
We've upgrade to Gradle `5.6.4` in #10340 but I missed this.
According to the docs the plugin version appropriate for Gradle `5.6.4` is `3.6.0+`:
https://developer.android.com/studio/releases/gradle-pl

[2020-04-21 12:14] rachelhamlin opened #10384 "Protocol specs"
# Problem
To create a developer-friendly spec for other teams that may wish to build Status clients, we're dedicating time to documentation during the last half of April.

## Implementation
We'll complete the following sections:

* [x] How we use IPFS gateway for stickers—Gheorghe @Ferossgp
* [x] How notifications work since changes last few months—Eric @yenda
* [x] How we interface with the Ether

[2020-04-21 12:32] flexsurfer opened #10385 "[perfromance][chat] Optimize input field in chat"
We need to use local state when entering text in the chat input field because currently, every entered char leads to this

![image](https://user-images.githubusercontent.com/11790366/79866334-e79b9b80-83dc-11ea-9a37-a9aa58882ec2.png)

[2020-04-21 12:36] flexsurfer opened #10386 "[perfromance][chat] Optimize chat view"
Decrease number of subscriptions and views in the chat view, currently, every entered char leads to this

![image](https://user-images.githubusercontent.com/11790366/79866334-e79b9b80-83dc-11ea-9a37-a9aa58882ec2.png)

[2020-04-21 12:59] #10371 closed, assigned to cammellos

[2020-04-21 13:40] 0x-r4bbit commented on #10375
So there are two issues here, one being that we can't get past the splash screen, the other one, which only I am experiencing, is that `make run-android` fails with said error. I really hope this can be fixed with gradle clean. Otherwise I'm not sure what to do. Notice that this happened after I've uninstalled Status from the device (not sure if that's related)

[2020-04-21 13:42] j-zerah commented on #10336
@rachelhamlin looks like you have all the info you need for Shiba pack and Stanny.

We have reached out to all other artists but have not heard back. As long as they have the google form, it is up to them to upload the correct information right?

[2020-04-21 13:46] jakubgs commented on #10375
Here's a Gradle plugin upgrade PR that fixes errors from `make run-android`: #10387

But now I'm seeing the same issue, the screen is black after installation of `Status Debug` build.

[2020-04-21 14:23] churik opened #10389 "Sometimes messages-replies don't change state to "Sent" (endless spinner)"
# Bug Report

## Problem

The issue is mostly visible from restored accounts (however sometimes can be reproduced and from freshly created account).
If send first message as reply - it may freeze with endless spinner (reproducibility ~90% with restored accounts) - and ~30-40% of the next messages-replies don't change state.

#### Expected behavior
messages are sent

#### Actual behavior
<img width

[2020-04-21 14:36] churik commented on #10389
It is pretty visible in 1.3 (like 50% of replies are with endless spinner), so decided it is blocker for v1.3

[2020-04-21 14:36] churik commented on #10389
cc @cammellos

[2020-04-21 14:52] guylouis commented on #10373
100%

One precision though, on devcon has not accepted our proposal yet, but the idea is that
**i. during Devcon**
Users will be able to collect NFTS on their keycard with a tap, prove ownership by the keycard of a given NFT by a tap. Fo this the NFTS won't actually be the property of the user wallet by they will be the property of a smartcontract that we call a NFT Bucket. So during i. users wont

[2020-04-21 14:54] Serhy commented on #10389
Confirmed with Android 8 and 9 and iOS 13.3

Here is the video and respective logcat logs for that video: https://drive.google.com/file/d/1qBGtv4ocpCwnIgTtbzf1abfoB2Su3L6e/view?usp=sharing

[replies_logcat.log](https://github.com/status-im/status-react/files/4510750/replies.log)

[2020-04-21 15:22] churik opened #10390 "New invite to group chat will be not sent if user left chat and then will be readded"
# Bug Report

## Problem
Currently, we have odd behavior after user left and was readded by admin - chat is not recreated and user doesn't receive the invite.
As a user, I want to be warned that if I left chat - it is forever and I can't be added to the same group again if this behavior is expected.

#### Expected behavior
User is warned about consequences

#### Actual behavior
User can be added b

[2020-04-21 15:23] churik commented on #10390
@hesterbruikman would like to have your opinion on this, thank you!

[2020-04-21 16:08] churik opened #10392 ""Sync using mobile data?" bottom sheet is overlapped with keyboard if app is in foreground"
# Bug Report

## Problem
Issue is reproducible when focus is set in input field with open keyboard (i.e. chat) and app is in foreground (so you don't manually switching off wi-fi to trigger it)

#### Expected behavior
Keyboard is closed, bottom sheet is visible

#### Actual behavior

![photo_2020-04-21 17 51 54](https://user-images.githubusercontent.com/4557972/79886544-60105580-83f9-11ea-87a0-315

[2020-04-21 16:29] andremedeiros commented on #10373
@flexsurfer help me understand, why is every token separate?

[2020-04-21 17:15] flexsurfer commented on #10373
@andremedeiros because not all of NFTs uses ERC721, they have their own contracts

[2020-04-21 17:24] hesterbruikman commented on #10390
Agree, that's unexpected behavior. Seems more like user B's action is `abandon` instead of `leave`. So either we can think of copy changes to better reflect what happens or allow re-adding. @cammellos can you please explain why a user cannot be re-added after leaving a group chat?

[2020-04-21 17:38] hesterbruikman commented on #10373
There will be a process around this as tokens need to be authenticated and addresses for NFT buckets provided, so following ERC721 could be a requirement

[2020-04-21 17:38] cammellos commented on #10390
User can be re-added to a chat from a technical perspective,I think it's just a choice we have to make, no technical reason to be one way or the other.

[2020-04-21 17:46] flexsurfer commented on #10373
but ERC721 will work only for sending, for showing them there is no standard and every NFT should be implemented separately, but to send them we need to show them first :) so ...

[2020-04-21 17:53] hesterbruikman commented on #10373
Gotcha. So we'd also need a stickerpack like specification for image formats

[2020-04-21 18:13] michaelsbradleyjr commented on #9684
Related to #9976 (blocker).

[2020-04-21 18:49] michaelsbradleyjr commented on #9584
I am unable to reproduce this bug in current `develop`, using either iOS simulator or a physical android device.

The code related to logout was refactored in d823a2082a9edac8949d18d80065c2637f111812 and some other commits a couple of months ago.

@churik have you encountered this bug in e2e testing recently?

[2020-04-21 19:04] iurimatias commented on #9855
@vkjr can this issue be closed after #9743 ?

[2020-04-21 19:09] #7829 closed, assigned to nobody

[2020-04-21 19:15] iurimatias commented on #8469
closing as per the comment saying it's been solved

[2020-04-21 19:15] #8469 closed, assigned to nobody

[2020-04-21 19:55] michaelsbradleyjr commented on #7851
Hello @tbenr,

I'm not sure if this issue is still relevant to you / Fairdex, but for Dapps to integrate with Status wallet currently they need to implement EIP-1102.

See:  https://status.im/developer_tools/run_on_status/dapp_store_requirements.html

If this issue is no longer relevant, can you close it?

[2020-04-21 20:09] iurimatias commented on #9478
@fredhampton closing this since the old desktop client is no longer there

[2020-04-21 20:09] #9478 closed, assigned to iurimatias

[2020-04-21 20:56] andremedeiros commented on #10373
Well that sounds fun.

[2020-04-21 21:14] tbenr commented on #7851
Hi @michaelsbradleyjr
It is no more relevant to me.
Closing.

[2020-04-21 21:14] #7851 closed, assigned to iurimatias, michaelsbradleyjr

[2020-04-22 05:15] guylouis commented on #10373
I imagine we have two problems (well at least :))
i.  use a list of erc721 contract adresses of the NFTs we want to scan
ii. showing the NFTs in the wallet interface

for i. I imagine we hardcode the list for now, right ? couldn't we have the list stored on ipfs and access it from status to make adding an ERC721 easier ?

for ii. a first step could be to support only erc-721 contracts that impleme

[2020-04-22 05:36] flexsurfer commented on #10373
would be great if we could find at least one NFT which has optional erc721 metadata :)

[2020-04-22 05:50] flexsurfer commented on #10373
usually, it looks like that
[code]

[2020-04-22 06:45] #6576 closed, assigned to iurimatias, 0x-r4bbit

[2020-04-22 06:54] StatusSceptre opened #10395 "Research and spec personal nodes"
https://github.com/status-im/specs/issues/102

[2020-04-22 07:19] guylouis commented on #10373
ok, so is this the right conclusion below ?
- we can only add erc-721 support one by one by hardcoding them
- or use a service like opensea API (but we have an issue with principles here)
- we should define a format of ERC721 metadata that we support in status. We need this at least for Devcon if our dogfooding proposal goes through, since users will collect NFTS on the show with their keycards, a

[2020-04-22 07:35] Serhy commented on #10392
Not reproducible on Android 8. I guess it iOS specific. I remember in the past there was such issue I could see on iOS only, so possible to be iOS specific.

Howerver on iPhoneX with iOS 13.3 I could not reproduce it...
Device with WIfi and Mobile network enabled -> Opened public chat with focus in message input -> turned off wifi router and in ~20 sec: Keyboard disappeared + `Sync using mobile da

[2020-04-22 08:15] vkjr commented on #9855
@iurimatias, #9743 didn't close this issue, it started it :)

[2020-04-22 08:40] churik opened #10396 "Quoted text (using markdown) in dark mode is hardly visible"
# Bug Report

## Problem
<img width="182" alt="Monosnap 2020-04-22 10-32-55" src="https://user-images.githubusercontent.com/4557972/79959643-a9f24d80-8484-11ea-9e17-c6344dad1653.png">

#### Expected behavior
Text is more visible

#### Actual behavior

see screenshot

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- User A: join to public chat, send message wi

[2020-04-22 08:49] hesterbruikman commented on #9976
~~@flexsurfer to clarify, is this intended to include `incoming` pending transactions?~~

Sorry, I didn't read carefully. I see you included `incoming` pending tx. Comment below still holds. If there's any difference in implementation between `outgoing` and `incoming` pending transactions, best to cover pending transaction for Starterpack first.

[2020-04-22 09:15] churik opened #10398 "User is navigated to "Your keys have been successfully recovered" screen instead of accounts list if tap on "Back" after unlock existing account"
# Bug Report

## Problem
"Back" button brings user to wrong screen instead of multiaccounts  list if it is clicked from login screen after tapping "Unlock" existing multiaccount
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/4557972/79963527-d361a800-8489-11ea-9c7a-e118901c80d3.gif)

#### Expected behavior
list of multiaccounts

#### Actual behavior
<img width="90" alt="Mo

[2020-04-22 10:10] muhammadaffan14github opened #10399 "Master"
# Bug Report

## Problem

An overview of the background required to understand the problem.
A problem description.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

#### Notes

For the developer who will be investigating. Is

[2020-04-22 11:20] #10399 closed

[2020-04-22 11:26] cammellos commented on #10389
This is actually 2 issues, one is specific to replies and only present in 1.3 , the other one is both in 1.2 and 1.3 and it's for any kind of message, it might be the cause of those reports "I am connected to mailserver but sending messages show always spinning", I will address both.

[2020-04-22 11:52] errorists commented on #10390
it shouldn't be a one-way street: one of admins removes a user, anyone who's a group admin can choose to add him back, the same flow is repeated again when the user was added for the first time. there's no limit in place on how many times a user can be removed and invited back, the same goes for leaving the chat by the user

[2020-04-22 11:56] cammellos commented on #10390
cool, we can change the behavior

[2020-04-22 11:56] errorists commented on #10390
@cammellos thank you!

[2020-04-22 12:03] churik commented on #9584
no, for a long time.
I'll close it for now, thanks!

[2020-04-22 12:03] #9584 closed, assigned to iurimatias, michaelsbradleyjr

[2020-04-22 12:25] Serhy opened #10404 "Message marked as sent but it's not (when bad network connection)"
# Bug Report

## Problem

It was noticed and reproduced cases when message is sent and visible on sender side and sent but in fact it's not reached mailserver.
That easy to reproduce on iOS when WiFi enabled (and no mobile network) -> you disable WiFi and there is 5-7 seconds till device (or Status) recognise WiFi is OFF. And sending messages in this range - they are marked and 'Sent' (no message

[2020-04-22 12:34] errorists commented on #10396
you guys are awesome, good catch! I've filled in all the markdown values for dark theme [here](https://www.figma.com/file/9hkPcxsqDTWa9b9c49OX3X/Dark-Mode?node-id=130%3A4675)

[2020-04-22 12:38] errorists commented on #10396
@flexsurfer while we're at it, would it be possible please to correct the chat avatar initial, it should be the same for both dark theme and light, currently as you can see on the screenshot attached in the issue the text is dark?
<img width="1671" alt="Screenshot 2020-04-22 at 14 38 16" src="https://user-images.githubusercontent.com/4932774/79982638-e9319600-84a6-11ea-9d05-4cd841f08973.png">

[2020-04-22 12:47] errorists commented on #10233
I absolutely forgot about this issue, apologies for that!

here's the mockup, this should be placed centred in the webview

![error](https://user-images.githubusercontent.com/4932774/79983487-264a5800-84a8-11ea-9f08-3672ca377ac4.png)

👉 👉 👉 [Figma link](https://www.figma.com/file/MYWmd1buvc2AMvUmFP9w42t5/Browser?node-id=4783%3A15088) 👈 👈 👈

[2020-04-22 12:48] flexsurfer commented on #10396
@errorists done
![image](https://user-images.githubusercontent.com/11790366/79983659-627db880-84a8-11ea-8830-c78c12b1dc7b.png)

[2020-04-22 12:49] errorists commented on #10396
@flexsurfer legend, as always 🙏

[2020-04-22 12:51] errorists commented on #10233
for the image I guess it would be cool if we could fetch the same ipfs hash we use normally for the sticker rather than embedding it?

[2020-04-22 12:53] flexsurfer commented on #10396
@errorists @churik super local change, do you want this to be cherry picked in 1.3 ? i think chat avatar initial would be nice to have in 1.3 wdyt ?

[2020-04-22 12:54] errorists commented on #10396
It would be cool if we could introduce the dark mode in as good shape as possible, yes

[2020-04-22 13:42] rasom opened #10409 "Invalid passphrase for keycard multiacc"
##  Problem

In case if multiacc creation is interrupted on seed phrase confirmation step an invalid seed phrase is shown when multiacc creation process is restarted.

#### Expected behavior

A valid phrase is shown

#### Actual behavior

Invalid phrase is shown

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

1. Generate new keys
2. Store on keycard
3. Begin

[2020-04-22 13:42] rasom commented on #10409
@guylouis

[2020-04-22 13:54] #10396 closed, assigned to nobody

[2020-04-22 14:22] jakubgs commented on #10375
The Gradle plugin upgrade in #10387 was reverted in #10402 due to issues so I went one version lower in #10410, and I'll do the upgrade to `3.6.0` separate.

[2020-04-22 14:55] #10389 closed, assigned to cammellos

[2020-04-22 15:20] rachelhamlin commented on #10336
In this case, we are good to publish the data in the issue. I am going to rename Shiba Pack to `Dogeth` as that's what the artist submitted to the competition, and that happened after his Shiba Pack submission. cc @3esmit

[2020-04-22 15:29] #10378 closed, assigned to nobody

[2020-04-23 05:28] flexsurfer commented on #10373
my suggestion is to use ipfs

`function tokenURI(uint256 _tokenId) external view returns (string);`  should return `ipfs://hash`

`"ERC721 Metadata JSON Schema"`

"image" should contain  `ipfs://hash`

this is will be similar to how our stickers work , but in that case, such NTFs will be supported only by Status

another option would be to implement component for NFTs in status which will be like

[2020-04-23 05:40] flexsurfer opened #10414 "Implement support for latest version of eip-1193"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md#request

[2020-04-23 05:49] errorists commented on #10373
`another option would be to implement component for NFTs in status which will be like the special Dapp`

@flexsurfer which special Dapp do you mean? do you mean showing the collectible in a webview?

`will be opened not a full screen and it will show only specific view, for example, one NFT or list of NFTs`

why not full screen? so if I get that right, we have a list of collectibles you own in you

[2020-04-23 05:50] guylouis commented on #10373
@flexsurfer

can you help me understand ? thanks

[2020-04-23 06:27] flexsurfer commented on #10373
we already show them in webview :) it will be webview only technically for user it will be looking like native it only about implementation

i mean it will be part of status UI, not in the browser, we won't open browser

[2020-04-23 06:36] flexsurfer commented on #10373
because all NFTs are web2, open sea also web2, so they use uri just as in regular web, not sure if they will add support for ipfs protocol

[2020-04-23 08:34] jakubgs opened #10416 "Research desktop build process"
Since it's been a while that desktop has been built I need to refresh my knowledge on how that worked.

[2020-04-23 08:36] churik commented on #9928
Still reproducible on RC v1.3

[2020-04-23 08:37] churik commented on #9956
It is resolved in https://github.com/status-im/status-react/pull/10405

[2020-04-23 08:37] #9956 closed, assigned to nobody

[2020-04-23 08:38] churik commented on #7914
It is fixed in https://github.com/status-im/status-react/pull/10405

[2020-04-23 08:38] #7914 closed, assigned to nobody

[2020-04-23 08:42] jakubgs commented on #10416
First of all the JSBundle, which based on [`Jenkinsfile`](https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f88/ci/Jenkinsfile.linux#L79-L83) was made with `make jsbundle-desktop`:
https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f88/Makefile#L214-L219
Which would trigger a `lein` to build this profile which is an alias for `jsbu

[2020-04-23 08:57] jakubgs commented on #10416
The next step based on [`Jenkinsfile`](https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f88/ci/Jenkinsfile.linux#L84-L88) would be `./scripts/build-desktop.sh compile`:
https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f88/scripts/build-desktop.sh#L112-L150
Which in turn would run `cmake` and make use of this `CMakeList.txt`:
htt

[2020-04-23 09:01] jakubgs commented on #10416
After compilation comes the `bundle` stage based on the [`Jenkinsfile`](https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f88/ci/Jenkinsfile.linux#L89-L93) which just calls `./scripts/build-desktop.sh bundle`:
https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f88/scripts/build-desktop.sh#L441-L448
That in turn calls this monster 2

[2020-04-23 09:04] jakubgs commented on #10416
This is quite the monstrosity, especially the `build-desktop.sh` script, which is in severe need of refactoring.

Another thing that needs refactoring is how we build `status-go` in Nix. Before what happened is that the Nix shell used to build desktop included the necessary env variables with path to the library:
https://github.com/status-im/status-react/blob/da038aaa67d5fabf764b7d62a04222fc902f2f

[2020-04-23 09:18] jakubgs commented on #10416
The way `status-go` is built is with separate derivations for mobile and desktop, here are the files:

* `nix/status-go/build-status-go.nix` - Generic arguments for using `buildGoPackage`
* `nix/status-go/build-mobile-status-go.nix` - Calls `buildStatusGo` with platform arguments
* `nix/status-go/build-desktop-status-go.nix` - Calls `buildStatusGo` with platform arguments
* `nix/status-go/default.

[2020-04-23 09:34] jakubgs commented on #10416
Currently the diagram of Nix file dependencies looks more like this:
[code]
It's `build-status-go.nix` that messes the logic of this. What I'd prefer is something obvious like:
[code]

[2020-04-23 09:40] jakubgs commented on #10416
I wasn't sure so I checked how `status-go` is included in the iOS build and it seems like Xcode expects it to be located at `../modules/react-native-status/ios/RCTStatus/Statusgo.framework`:
https://github.com/status-im/status-react/blob/f23053eaca8d503ebb4df3677e2f636d0d952502/ios/StatusIm.xcodeproj/project.pbxproj#L112
Which happens through this `shellHook`:
https://github.com/status-im/status-r

[2020-04-23 10:06] StatusSceptre commented on #9754
Hi @bild96 - sorry, but this is actually closed.

[2020-04-23 10:41] flexsurfer commented on #10382
it happens because react-navigation renders next screen and we have lots of views, reagent creates all these views

[2020-04-23 10:42] flexsurfer commented on #10382
![image](https://user-images.githubusercontent.com/11790366/80090458-d4650900-855f-11ea-86b2-39dfd96a6211.png)

[2020-04-23 10:45] #10390 closed, assigned to nobody

[2020-04-23 11:01] rachelhamlin opened #10417 "Redefine technical specs for image sending"
[These specs](https://github.com/status-im/specs/issues/69) are being discussed and updated in order to proceed with sending images in chat.

[2020-04-23 11:18] #10409 closed, assigned to nobody

[2020-04-23 12:29] guylouis commented on #10023
tested on nightly form 23/04 and this is solved

[2020-04-23 12:29] #10023 closed, assigned to nobody

[2020-04-23 13:45] Serhy opened #10418 "Can login to account just via tap upon it from `Your keys` view"
# Bug Report

## Problem

Issue came from user report:
At one point it may happen that user able to login to some of accounts without entering the password
but just tapping upon multiaccount item on 'Your keys' view.
It may be connected to navigation or the way we sort accounts on 'Your keys' screen after curtain (9 items in user case, 10 in my case) number of accounts created.
See steps to reprod

[2020-04-23 14:00] rasom commented on #9451
can't reproduce this issue

[2020-04-23 17:04] jakubgs commented on #10416
I started working on a refactoring for `status-go` by refactoring Android SDK first: #10420

[2020-04-24 05:59] emizzle commented on #9832
@andmironov -- I can't seem to replicate this *working* as expected anywhere. Could you send a screenshot of a token where this *works*?

[2020-04-24 07:45] Serhy opened #10423 ""cannot locate account for address: [wallet address]" error when sending TX"
# Bug Report

## Problem

It was appeared while sending TX (from Wallet and 1-1 chat). No steps to reproduce so far for

#### Expected behavior

No errors when sending TXs
#### Actual behavior

"cannot locate account for address: [wallet address]" error when sending TX

#### Notes

For the developer who will be investigating. Is it related to another PR? Tips on where to start?

### Reproduction
-

[2020-04-24 08:50] Serhy opened #10424 ""Offline, waiting for WiFi" chat status when Mobile network connected is misleading"
# Bug Report

## Problem

In `Profile` -> `Sync settings` -> `Mobile data` there is a setting **Use mobile data**
When this setting is disabled and Status is used in mobile network in chats there is an info status in chats: "Offline, waiting for WiFi. Change"
Which is confusing because in fact user is still possible to receive and send messages. What is disabled if offline inbox history (receiving

[2020-04-24 08:51] Serhy commented on #10424
cc @hesterbruikman @errorists. Your wisdom required. Maybe it's simple translation change

[2020-04-24 09:40] #10326 closed, assigned to iurimatias, 0x-r4bbit

[2020-04-24 09:41] Serhy opened #10425 "Blank Chats view if quickly tap twice "<" back button from any chat view"
# Bug Report

## Problem

Tapping quickly `<` back button while in any chat view leads to blank Chats view. It's "refreshed" and back to normal after navigate back-and-forth between tabs though.
It may not be reproduced from the first time, but not hard enough to reproduce.

#### Expected behavior

Chats view shown if quickly tap twice "<" back button from any chat view
#### Actual behavior

![Twi

[2020-04-24 09:48] hesterbruikman opened #10426 "Truncate Chat key display in Profile in middle"
# Problem
Profile shows chat key truncated at the end. To increase legibility of the screen as a whole this string is intended to be shortened and allow verifying the first and last characters.

## Implementation
14 characters with ellipsis (`…`) character between first 10 and last 4.

## Acceptance Criteria
Implementation follows [Figma](https://www.figma.com/file/2EOxCzpNXEn1854bK7Ywma/Untitled?

[2020-04-24 09:56] churik commented on #10423
@ceripower
do you still have this issue?
if yes, would you mind to send us logs via shaking your phone?

[2020-04-24 10:11] hesterbruikman opened #10427 "First carrousel image onboarding is cut off"
# Problem
In dark mode it becomes visible that the walkie-talkie is cut off at the bottom.

![Screenshot_20200424-112146_Status PR](https://user-images.githubusercontent.com/35233054/80201281-2f603400-8624-11ea-9251-fa57fca2a105.jpg)

## Implementation
Requires investigation as to why the image is cut off.
Specification of image size, position and padding in [Figma](https://www.figma.com/file/dEIl

[2020-04-24 10:19] ceripower commented on #10423
Hey @churik! Thanks for checking in.

I needed to make the transaction urgently so I deleted the app, reinstalled it and tried again and it worked then. Apologies I can't retrieve a log for you relating to the original issue (or is it still helpful if I send something from the now-functioning app?)

[2020-04-24 10:21] churik commented on #10423
No, thanks! please send us logs if you have this issue in the future.

[2020-04-24 10:49] churik opened #10428 "After 1 launch of application buttons ob android native dialogs are unaccessible"
# Bug Report

## Problem

<img width="254" alt="Monosnap 2020-04-24 12-35-20" src="https://user-images.githubusercontent.com/4557972/80203853-1d809000-8628-11ea-842c-3b1c18c20554.png">

Not sure that this issue is only about keycard errors but tried with the error-report dialog for creating account flow and I couldn't.

#### Expected behavior
Can tap OK button

#### Actual behavior
OK button is no

[2020-04-24 11:15] churik commented on #10275
@rasom
Issue is again reproducible, failing on the same step.
Logcat:
[new_logcat.log](https://github.com/status-im/status-react/files/4528511/new_logcat.log)
Error from logs:
[code]

The same as before I see endless spinner on Confirm passcode step:
<img width="198" alt="Monosnap 2020-04-24 13-14-40" src="https://user-images.githubusercontent.com/4557972/80206952-96ceb180-862d-11ea-8e56-e555feaec

[2020-04-24 11:16] Serhy opened #10429 "Margin issue in public chat input field"
# Bug Report

## Problem

Few issues related to margin values of input fields:
1) `(+)` -> `Join public chat`
2) `Profile` -> `Advanced` -> `Bootnodes` ->  `(+)` -> both fields
3)  `Profile` -> `Sync settings` -> `Devices` -> input field

#### Expected behavior

Margin of placeholder and cursor in input is pleasing to the eye
#### Actual behavior

<img width="603" alt="Screenshot 2020-04-24 at 14

[2020-04-24 11:17] Serhy commented on #10429
cc @Ferossgp

[2020-04-24 13:17] churik opened #10431 "Pending transactions are not shown in wallet (keycard accounts only)"
# Bug Report

## Problem
On multiaccounts, created with password, all outgoing transactions are immediately shown in transaction history as pending.
They are not shown on multiaccounts, created with keycard.

#### Expected behavior
Can see pending outgoing transaction

#### Actual behavior
No pending outgoing transactions
![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/4557

[2020-04-24 13:59] churik opened #10432 "Can't open watch-only account inside keycard multiaccount due to missing address field"
# Bug Report

## Problem
no address name is shown, so not possible to add watch-only account
![photo_2020-04-24 15 53 42](https://user-images.githubusercontent.com/4557972/80220202-c8eb0e00-8643-11ea-8dee-242d2cbb4096.jpeg)

#### Expected behavior
can paste address to address field

#### Actual behavior
no address field

### Reproduction

- Open Status
- Create account with keycard
- Go to wallet

[2020-04-24 15:24] Serhy opened #10433 "Android build crashes after launch with Java.lang.UnsatisfiedLinkError"
# Bug Report

## Problem

Right after start Android builds crashes with
<img width="338" alt="Screenshot 2020-04-24 at 18 01 41" src="https://user-images.githubusercontent.com/8749671/80229116-a1527080-8658-11ea-8ed3-442ae496a91c.png">

Apparently after changes https://github.com/status-im/status-react/pull/10420

[2020-04-24 15:25] churik opened #10434 "Account is freezing with endless spinner if tap on account from list during sign in when autologin is enabled"
# Bug Report

## Problem
During autologin before home view is shown, app redirects to list of accounts for several moments.
If during this time user click on this account from list - in case of keycard account is freezing (public chats history is not loaded, instead of + endless spinner is shown)

#### Expected behavior
Redirect to home view, no errors

#### Actual behavior
**Ordinary account:**
`

[2020-04-24 17:28] jakubgs commented on #10433
Testing a revert here: c305b24c99f09929fc64582cf90976c8942097e9
https://ci.status.im/job/status-react/job/manual/667/

[2020-04-24 17:42] jakubgs commented on #10433
Nope, looks like issue was caused by: 548fe04f54fe6d6b572dd8ecbbf6de88227f68d1
Testing revert: 5c43eddc3b347b0fb7ac02f4f6c913a731fb6a7c
https://ci.status.im/job/status-react/job/combined/job/mobile-android/12588/

[2020-04-24 18:32] jakubgs commented on #10433
Fixed with https://github.com/status-im/status-react/commit/439643daa4ed9f1d8ee0662141d73818ea474a55.
Build: https://ci.status.im/job/status-react/job/manual/669/

[2020-04-24 18:33] #10433 closed, assigned to nobody

[2020-04-25 15:18] fasih commented on #10425
Same thing is happening if you tap any channel hashtag from another conversation in android devices.

[2020-04-25 16:23] cyanlemons commented on #8512
Hello! What's the current status of this issue? Many of us are eager to see Status on F-Droid.

[2020-04-26 08:58] jakubgs commented on #8512
Other priorities. I do intent to get back to it.

For now you can just install an APK from https://status.im/.

[2020-04-26 10:55] weekly-digest[bot] opened #10435 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 69 issues were created.
Of these, 28 issues have been closed and 41 issues are still open.
## OPEN ISSUES
:green_heart: #10434 [Account is freezing with endless spinner if tap on account from list  during sign in when autologin is enabled](https://github.com/status-im/

[2020-04-27 07:16] #9566 closed, assigned to iurimatias, michaelsbradleyjr

[2020-04-27 07:57] #9985 closed, assigned to nobody

[2020-04-27 08:24] jakubgs commented on #10416
Continuation of Nix refactoring - #10437 - next one with `status-go` changes comes after it.

[2020-04-27 08:55] churik opened #10439 "Keyboard for entering PIN is hidden after error on signing and should go back to Signing phrase bottom sheet to continue signing"
# Bug Report

## Problem
Currently, after some errors (could check only on "Wrong card" error, not sure how to trigger another) during signing transaction, you can't continue signing until canceling current state (closing bottom sheet for signing) and after redirecting to signing phrase bottom sheet custom keyboard for entering PIN code is hidden.

#### Expected behavior
5) "Wrong card" is shown
6

[2020-04-27 09:02] emizzle commented on #10427
@hesterbruikman, which device is this? I've tested on a Pixel 2 and cannot replicate. ![Imgur](https://i.imgur.com/tcnx1zS.png)

[2020-04-27 09:19] hesterbruikman commented on #10424
How about `Can't sync chat history. Check settings`

Where settings is a link to `sync settings`

Related Todo's are:
- Update the sync dialog
- Update Settings

[2020-04-27 09:28] hesterbruikman commented on #10427
Ah interesting. This is on Galaxy S10e. Let me check iPhone 👀

[2020-04-27 09:37] errorists commented on #10424
after some follow up with @hesterbruikman we decided to change this to

`No Wi-fi, message syncing disabled. Settings` where Settings gets the underline and link

just making sure it isn't communicated as an error,
thanks!

[2020-04-27 09:41] churik opened #10440 ""6-digit passcode is blocked" error is overlapped on login screen"
# Bug Report

## Problem
![photo_2020-04-27 11 37 20](https://user-images.githubusercontent.com/4557972/80357574-78f68c00-887b-11ea-8f10-01386dfa6a72.jpeg)

#### Expected behavior
no overlapping

#### Actual behavior
"6-digit passcode is blocked" error is overlapping with "Don't ask card to sign in"

### Reproduction

- Open Status
- Create account with keycard
- Log out
- Enter wrong PIN 3 times

[2020-04-27 09:55] churik commented on #10428
cc @guylouis

[2020-04-27 09:55] churik commented on #10431
cc @guylouis

[2020-04-27 09:56] churik commented on #10432
cc @guylouis

[2020-04-27 09:56] churik commented on #10434
cc @guylouis

[2020-04-27 09:56] churik commented on #10439
cc @guylouis

[2020-04-27 09:57] churik commented on #10440
cc @guylouis

[2020-04-27 10:08] churik commented on #9661
oops, duplicated in #10440
closing it.

[2020-04-27 10:08] #10440 closed, assigned to nobody

[2020-04-27 11:36] flexsurfer commented on #10423
this error is happening here in status-go https://github.com/status-im/status-go/blob/8b61d92d5834215fb06532c527b0bead7b4625d9/account/accounts.go#L159 it can't find KeyFile

[2020-04-27 11:53] guylouis commented on #10428
cc @bitgamma
do you know which is the test we apply to the card when displaying this message ? meaning are we discrimintaing between the case where the card is a keycard (e.g with the global platform key of the card ?) and the card is another card than keycard (e.g. your VISA card in your wallet) ?
If not, how could we discriminate (which criteria is best) so that wer can have two different error

[2020-04-27 11:55] flexsurfer commented on #10423
as an assumption problem might be in the checksummed address @gravityblast wdyt ? how do we   store and finding keyfiles?

[2020-04-27 11:56] flexsurfer commented on #10423
for example, if we're trying to sign tx with checksummed and not address in the from the field will be any difference do you lowercase address?

[2020-04-27 12:15] bitgamma commented on #10428
I don't know exactly what test we make, but I guess we only try to SELECT the applet's AID. We could check the keys by issuing an INITIALIZE UPDATE, but we risk to block the card's ISD if it happens about 5 times (depends on card) so that'd be a bad idea. We could use the ATR + the output of the GET DATA command to see if it is a card with the same configuration as the JCOP4 platform we use.

Sinc

[2020-04-27 12:48] guylouis commented on #10428
Ok so the message is ok
We just need an OK button to close the issue

[2020-04-27 13:09] churik commented on #9349
@guylouis
I see several issues in current version of the app apart from #9661 in this flow

## When user is logged out
### 1) Reopening screen from state "PUK code is required"  leads to PIN-code screen
 If user after exceeding attempts of passcodes tap back and open account from list -> he will see again 6-digit passcode, not sure it is expected.
![ezgif com-video-to-gif (5)](https://user-images.

[2020-04-27 13:31] churik commented on #10428
It's not only on this error. After error all system-dialogs with OK, Cancel, Continue etc buttons are shown without these buttons.
They are cut until restrt of the application.

[2020-04-27 14:21] churik opened #10443 "Keycard logged sensitive information"
# Bug Report

## Problem
Currently you can found in logcat sensitive information about passcode, mnemonic, pairing

#### Expected behavior
No sensitive info in logs

#### Actual behavior
from adb logcat:
[code]

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create account with keycard, sign in, sign transaction
- Pay attention to `adb logcat`

[2020-04-27 14:21] churik commented on #10443
cc @guylouis

[2020-04-27 14:25] gravityblast commented on #10423
@flexsurfer I don't think it can be related because the address received is somehow sanitized with:
`addressObj := types.BytesToAddress(types.FromHex(address))`
And then the comparison is: `types.HexToAddress("0x"+accountKey.Address).Hex() == addressObj.Hex()`

so they  are always converted to an `Address` object and then serialized back to hex in the same way.

It's also strange that it happens o

[2020-04-27 14:27] #9241 closed, assigned to nobody

[2020-04-27 14:27] #9722 closed, assigned to nobody

[2020-04-27 14:27] #9735 closed, assigned to nobody

[2020-04-27 14:27] #9963 closed, assigned to nobody

[2020-04-27 14:27] #10006 closed, assigned to nobody

[2020-04-27 14:27] #10050 closed, assigned to nobody

[2020-04-27 14:27] #10066 closed, assigned to nobody

[2020-04-27 14:27] #10112 closed, assigned to nobody

[2020-04-27 14:27] #10364 closed, assigned to nobody

[2020-04-27 15:43] #10385 closed, assigned to nobody

[2020-04-27 16:04] churik opened #10444 "Can't change PIN code after recovering account with keycard"
# Bug Report

## Problem

At attempt to change PIN code in Settings > Keycard after entering right PIN code endless spinner is shown

#### Expected behavior
can change PIN code

#### Actual behavior
endless spinner
![photo_2020-04-27 18 01 36](https://user-images.githubusercontent.com/4557972/80393849-5b441980-88b1-11ea-9459-5ecf4270fda5.jpeg)

### Reproduction

- Open Status
- Recover account  wi

[2020-04-27 16:04] churik commented on #10444
cc @guylouis

[2020-04-27 16:11] guylouis commented on #9764
solved by using JCOP4 from NXP

[2020-04-27 16:11] #9764 closed, assigned to nobody

[2020-04-27 17:53] iurimatias commented on #10065
unassigning this due to https://github.com/status-im/status-react/pull/10342#issuecomment-614406994 cc: @andremedeiros

[2020-04-27 19:40] #10288 closed, assigned to iurimatias, jrainville

[2020-04-27 19:43] #10109 closed, assigned to iurimatias, jrainville

[2020-04-27 19:45] errorists commented on #10201
Ok we figured this one out to fork Inter and replace default characters with ones from the disambiguation set and disable the feature to replace `x` with `×` when joined by digits.

It's called Inter Status and ready to be used in the app

<img width="855" alt="Screenshot 2020-04-27 at 21 29 23" src="https://user-images.githubusercontent.com/4932774/80413798-4d51c100-88d0-11ea-910e-eb43cf7e3a2b.pn

[2020-04-27 21:30] emizzle commented on #10427
@hesterbruikman -- seemed to happen on narrow devices (where the title was pushed to two lines). See the comments in https://github.com/status-im/status-react/pull/10442 as there is some UI guidance needed.

[2020-04-27 22:31] iurimatias opened #10445 "Abstract animation calls so it skips animations on desktop"
### Description

Mobile uses an animation library that doesn't seem to be (currently) compatible with desktop, we need to add some sort of abstraction so it still uses animations in mobile while skipping them in desktop.

For now the goal would be to do this with the tabs component

https://github.com/status-im/status-react/compare/dcb77afb9473e08a9c104ec7937d8ffe30b77275...9e57b59960d1978c0b5e3e9

[2020-04-27 22:35] iurimatias opened #10446 "experiment: add (contacts) list component"
### Description

Add the contacts list components to the main desktop window, we need to do this to test some assumptions and see if there are any unforeseen roadblocks

[2020-04-27 22:36] iurimatias opened #10447 "experiment: add QR code generation to desktop"
### Description

Add the QR code generation widget to the main desktop window, we need to do this to test some assumptions and see if there are any unforeseen roadblocks

[2020-04-27 22:38] iurimatias opened #10448 "add two panes component to desktop"
### Description

Add a two pane component to main desktop window, we need to do this to test some assumptions and see if there are any unforeseen roadblocks

[2020-04-28 08:01] #10418 closed, assigned to nobody

[2020-04-28 08:56] guylouis opened #10449 "Info screen (place holder)"
**Context**

We have developed a 'request screen' feature which has two flavors
**- one for payments authorized by the keycard to a destination adress**
issue
https://github.com/status-im/status-react/issues/9275
spec
https://notes.status.im/mkFLHD6ORzmCTRYTdk13mA
**- one to redeem assets from a smart contract to a destination adress**
issue and sepc
https://github.com/status-im/status-react/issue

[2020-04-28 09:22] churik opened #10452 "PUK code field is not shown in "Generate account" flow in wallet if user exceed 3 retries of passcode"
# Bug Report

## Problem

6-digit passcode instead of 12-digit PUK when 3 retries of the passcode are exceeded during "Generate account" flow in the wallet
![photo_2020-04-28 11 06 28](https://user-images.githubusercontent.com/4557972/80469109-65f9bf80-8940-11ea-82e3-076d14fe8e1e.jpeg)

#### Expected behavior
Can enter PUK-code, change passcode and proceed

#### Actual behavior
user can't generate

[2020-04-28 09:40] churik commented on #10452
cc @guylouis

[2020-04-28 09:55] hesterbruikman commented on #10427
Good catch, looks like that's it. Just checked iPhone 8 which is fine too. @errorists any advice on how to handle text on small screens in onboarding carousel?

[2020-04-28 09:57] errorists commented on #10427
@hesterbruikman I already commented in the issue

[2020-04-28 10:33] #9562 closed, assigned to nobody

[2020-04-28 10:58] churik commented on #9349
so @hesterbruikman I think we need to define 3 workflows when user is logged in and user is logged out.
#### User is logged in

- [ ] Reopening screen from state "PUK code is required" leads to PIN-code screen
- [ ] 3 invalid passcode attempts -> valid PUK -> change PIN
- [ ] 3 invalid passcode attempts -> invalid PUK code -> keycard is frozen

#### User is logged out

- [ ] Reopening screen from

[2020-04-28 11:23] hesterbruikman opened #10454 "Implement interface ERC721TokenReceiver and interogation of metadata JSON schema"
# Problem
See also https://github.com/status-im/status-react/issues/10373 to add collectibles in wallet. This issue is more generic and is to provide NFT support regardless of potentially hardcoding any NFTs for Devcon

Few collectibles are currently supported and they are hardcoded as all NFTs follow different formatting and many have their content stored on OpenSea.

We want to set clear require

[2020-04-28 11:56] hesterbruikman commented on #10454
cc @andremedeiros for planning @guylouis for requirements to communicate to NFT developers (image size still TBD)

[2020-04-28 13:10] #10432 closed, assigned to nobody

[2020-04-28 13:59] yenda opened #10456 "Shadow-cljs part 2"
The first step of the transition to shadow-cljs is considered done as iOS and Android are building, and dev commands are working. Some corners were cut in order to "limit" the chunk of work, so the following tasks are still pending:

* [x] move tests alongside their cljs counterpart instead of separate test dir
* [ ] move translations and js-files back into modules
* [x] restore hot-reloading
* [x

[2020-04-28 14:49] rachelhamlin commented on #10336
@3esmit one more pack added. Are you able to handle this one?

[2020-04-28 15:11] vkjr commented on #10384
[3rd party APIs used for core functionality that impacts things like availability/censorship and privacy (DRAFT)](https://notes.status.im/zMADIsmGRe69US4hMl1EWw?view)

[2020-04-28 17:36] #8590 closed, assigned to nobody

[2020-04-28 22:15] michaelsbradleyjr commented on #4569
@churik scenario 3 seems to be resolved on current `develop`, i.e. a gas price `< 0.000000001` or with too many significant digits (that would result in fractional wei) is not allowed.

Here's a gas price that's too small (9 zeroes before the 1):
![image](https://user-images.githubusercontent.com/194260/80542688-1b456b00-8973-11ea-9a1e-bd84dc0dd8a1.png)

Here's a gas price with too many decimal pl

[2020-04-28 22:19] michaelsbradleyjr commented on #4569
I tried with a huge gas limit and this error was shown after I clicked update:
![image](https://user-images.githubusercontent.com/194260/80543348-47152080-8974-11ea-9714-dbb99b83585d.png)

It seems to me it would be better to display that in advance (with Update disabled), like the other input validation warnings.

[2020-04-29 01:12] emizzle commented on #9832
Closed due to new icon set -- see https://github.com/status-im/status-react/pull/10436#issuecomment-620495157.

[2020-04-29 01:12] #9832 closed, assigned to emizzle

[2020-04-29 07:13] Ferossgp commented on #10384
[How we use IPFS gateway for stickers](https://notes.status.im/s/_WLWrkr_I#)

[2020-04-29 07:49] vitvly commented on #10384
Dapp browser API usage: https://notes.status.im/s/FnEGcXIq8

[2020-04-29 08:06] churik commented on #4569
@michaelsbradleyjr yes, I agree.
Thank you for taking a look into this.

[2020-04-29 08:24] flexsurfer commented on #10456
i can take these two

-  restore hot-reloading
-  integrate re-frisk

[2020-04-29 09:22] churik opened #10460 "Can't finish card setup if creating card flow is canceled on PUK / Pairing code screen or after that"
# Bug Report

## Problem

An overview of the background required to understand the problem.
A problem description.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.)

#### Actual behavior

[comment]: # (Describe what actually happened. Please include screenshots if possible.)

#### Notes

For the developer who will be investigating. Is

[2020-04-29 09:27] churik opened #10461 "Can't finish card setup if "Access key" flow is canceled on PUK / Pairing code screen if it is second account created with keycard"
# Bug Report

## Problem
Found during retesting flows in https://github.com/status-im/status-react/pull/10458
Endless spinner on "Confirm the passcode" state if "Access your key" flow was interrupted on 2 step (PUK / Pairing code screen)

#### Expected behavior
can finish setup

#### Actual behavior
Endless spinner after confirming passcode

### Reproduction

[comment]: # (Describe how we can repl

[2020-04-29 09:27] churik commented on #10461
cc @guylouis @rasom

[2020-04-29 10:27] churik commented on #9349
consider one more possible flow for this case - 3 invalid passcode attempts when User is recovering key from keycard. In this case currently after exceeding attempts app still requesting Passcode

[2020-04-29 11:02] rachelhamlin opened #10462 "Research & spec centralized PNs"
# Problem

Let's explore centralized push notifications as an *option* for all users, in order to improve retention rates.

## Implementation

We could bring back the old implementation of PNs, relying on Firebase.

Implementation strategy is up to technical team.

The requirements for this issue are to conduct research and write a spec for how centralized PNs could work.

## Acceptance Criteria

[2020-04-29 11:55] #10275 closed, assigned to nobody

[2020-04-29 11:55] #10444 closed, assigned to nobody

[2020-04-29 11:57] #10431 closed, assigned to nobody

[2020-04-29 12:35] rasom commented on #10428
I can't reproduce this in dev env

[2020-04-29 14:12] #10443 closed, assigned to nobody

[2020-04-29 14:48] #10377 closed, assigned to nobody

[2020-04-29 14:51] rasom commented on #10461
I can't reproduce it in `develop`

[2020-04-29 15:32] churik commented on #10461
@guylouis
updated issue because it is reproducible only if it is 2 account on device, created with keycard.
Do we expect that users will use several keycards accounts in one device?
Anyway don't think that this is blocking issue because with happy path everything is OK with second account as well, so from my POV case is pretty rare.

[2020-04-29 16:05] jakubgs commented on #10416
Another round of refactoring, this time focused on `status-go` builds: #10464

[2020-04-29 16:20] andremedeiros commented on #10373
I am 100% with @flexsurfer here, with a small correction.

We should support any URI that `tokenURI` returns, with maybe a privacy toggle for IPFS only. Anything that returns the JSON metadata format is supported tho.

[2020-04-29 16:24] errorists opened #10468 "Add sounds 🎶"
##  Add Sounds to Status
### User Story

As a user, I want my actions to be accompanied with sound feedback so I know when an action I took was successful. I want these sounds to be unique so I can easily recognise them among others.

### Description

The scope of this issue is to figure out where and how we can best accompany the visual user interface with an additional layer of feedback in the f

[2020-04-29 17:12] errorists commented on #10454
just want to chime in that's painfully low :( imo anything less than 1080 is too small

[2020-04-29 17:58] hesterbruikman opened #10469 "Typo in Enter recipient"
# Bug Report

## Problem
Current: Enter address or username of the rec**e**pient
Expected: Enter address or username of the rec**i**pient

#### Acceptance Criteria
Typo is corrected

### Reproduction
- Open Status
- Tap `Wallet`
- Tap `Send`
- Tap `Choose recipient`
- Tap `Enter recipient address`

[2020-04-29 23:46] michaelsbradleyjr commented on #4569
I said:

However, when investigating how to make that change I found it to be non-trivial, so PR #10470 simply fixes scenario 2.

[2020-04-30 06:05] guylouis commented on #10461
I agree this is a corner case ! i moved it to LOW priorities

[2020-04-30 07:57] churik opened #10471 "Markdown formatting characters are visible on message preview on home view"
# Bug Report

## Problem
On home:
![photo_2020-04-30 09 54 17](https://user-images.githubusercontent.com/4557972/80686189-a2f0be00-8ac8-11ea-9410-67488d01d563.jpeg)

On chat view:
![photo_2020-04-30 09 54 56](https://user-images.githubusercontent.com/4557972/80686212-aa17cc00-8ac8-11ea-985f-e29c9ce97289.jpeg)

#### Expected behavior
no markdown formatting characters on home view

#### Actual behav

[2020-04-30 08:01] #10460 closed, assigned to nobody

[2020-04-30 08:44] rachelhamlin commented on #10384
Bravo team.

Specs in progress from @cammellos as linked in Discord (to-do: ENS):
https://github.com/status-im/specs/blob/db9612dd983463d2e8358b5c1e916ce476737857/docs/stable/9-blockchain-usage.md#ENS

Push notifications/mentions by @yenda
https://github.com/status-im/specs/pull/104
https://github.com/status-im/specs/pull/105

[2020-04-30 08:51] flexsurfer commented on #10384
Dapp browser API usage: https://notes.status.im/s/FnEGcXIq8

[2020-04-30 09:31] jakubgs opened #10472 "App doesn't respect deep browser links with paths"
# Problem

Currently the app does __not__ respect deep browser links with paths. For example:

* https://join.status.im/b/status.im/docs opens https://status.im/
* https://join.status.im/b/nixos.org/nix/manual/ opens https://nixos.org/

The same is true for any other site.

#### Notes

This is important because @guylouis wants to use this link:
https://join.status.im/b/status.im/keycard
As a QR co

[2020-04-30 09:34] jakubgs commented on #10472
Or I'm wrong... it just worked for the Nixos manual site.

[2020-04-30 09:35] jakubgs commented on #10472
Some more links for testing:

https://join.status.im/b/status.im/snt-utility/
https://join.status.im/b/https://status.im/snt-utility/
https://join.status.im/b/github.com/status-im/status-react/issues/10472
https://join.status.im/b/https://github.com/status-im/status-react/issues/10472

[2020-04-30 09:39] jakubgs commented on #10472
I think that was a red herring. I was confused by the fact that our browser shows just the domain:
![status_app_just_domain](https://user-images.githubusercontent.com/2212681/80696095-3630f000-8ad7-11ea-9bfe-9831ee1c3827.jpg)

[2020-04-30 09:39] #10472 closed, assigned to cammellos

[2020-04-30 10:01] jakubgs opened #10473 "Status browser doesn't show full URL"
Right now if you open a site with a path, like https://status.im/snt-utility/ what you'll see in the address bar will be just the domain:

![status_app_just_domain](https://user-images.githubusercontent.com/2212681/80698036-2ff04300-8ada-11ea-9a7b-f9f8c97073e9.jpg)

But any normal browser would show the URL without the protocol: `status.im/snt-utility/`

[2020-04-30 11:07] hesterbruikman opened #10474 "Send images > 4. Implement UI image message sending and display"
# Problem
As part of epic Send images, discussed in https://github.com/status-im/specs/issues/69:

* [ ] 1. Write spec doc based on [this thread](https://github.com/status-im/specs/issues/69) #10417
* [ ] 2. Implementation image content type for chat messages https://github.com/status-im/specs/pull/107
* [ ] 3. Implement image compression for message type (status-go) - OPTIONAL
* [ ] **4. Message

[2020-04-30 11:28] hesterbruikman opened #10475 "Send images > 6. Message actions and reply"
# Problem
As part of epic Send images, discussed in status-im/specs#69:

* [ ] 1. Write spec doc based on [this thread](https://github.com/status-im/specs/issues/69) #10417
* [ ] 2. Implementation image content type for chat messages status-im/specs#107
* [ ] 3. Implement image compression for message type (status-go) - OPTIONAL
* [ ] 4. Message sending and display #10474
* [ ] 5. UI for capture a

[2020-04-30 13:34] guylouis commented on #10223
here's the figma design
https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=5849%3A42261

@hesterbruikman may you change the link if I did not use the right one ?

Also @siphiuel @bitgamma @gravityblast :
as for the account field, we did not fully precise how this should work. Here's a tentative
- if receiver = one of the status account address then write its name
- if receiver <> o

[2020-04-30 13:44] #10143 closed, assigned to nobody

[2020-04-30 14:01] rachelhamlin commented on #10384
Next step is to move into peer review. I suggest the following people review...

@flexsurfer - IPFS gateway usage: https://notes.status.im/s/_WLWrkr_I#
@yenda  - How we interface with Ethereum blockchain: https://github.com/status-im/specs/blob/db9612dd983463d2e8358b5c1e916ce476737857/docs/stable/9-blockchain-usage.md#ENS (once finished)
@cammellos (once finished writing) - Push notifications, men

[2020-04-30 14:07] hesterbruikman commented on #10223
Thanks @guylouis This link leads more directly to the flow: https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=9051%3A46835

[2020-04-30 15:01] bitgamma commented on #10223
@guylouis yeah the way you describe is fine. I don't see however the input for the account anywhere in the flow, how does the user select that?

[2020-04-30 15:07] guylouis commented on #10223
@bitgamma yes, it's a work in progress, discussed it this morning with @hesterbruikman

[2020-04-30 15:08] hesterbruikman opened #10479 "Images in chat"

[2020-04-30 15:10] hesterbruikman opened #10480 "Referrals on Android"

[2020-04-30 15:10] hesterbruikman opened #10481 "Starterpack Android"

[2020-04-30 15:16] hesterbruikman opened #10482 "Keycard integration (Android)"

[2020-04-30 15:16] hesterbruikman opened #10483 "Keycard integration iOS"

[2020-04-30 15:18] hesterbruikman opened #10484 "Redeem through Keycard"

[2020-04-30 15:22] andremedeiros commented on #10473
Safari on iOS only displays the padlock (open or closed) and the domain name. I think we might want to stay consistent here.

@hesterbruikman WDYT?

[2020-04-30 15:25] hesterbruikman opened #10485 "Sounds"

[2020-04-30 15:27] hesterbruikman opened #10486 "Notifications (Android)"
https://github.com/status-im/status-react/pull/10294 merged without associated issue. Other issues in this epic are nice to have

[2020-04-30 15:28] hesterbruikman opened #10487 "Notifications (iOS)"

[2020-04-30 15:29] andremedeiros commented on #9511
@churik @Serhy is this still happening?

[2020-04-30 15:45] hesterbruikman opened #10488 "Starterpack iOS"

[2020-04-30 16:01] hesterbruikman opened #10489 "Release v1.4"

[2020-04-30 16:01] hesterbruikman opened #10490 "Release v1.5"

[2020-04-30 16:01] hesterbruikman opened #10491 "Release v1.6"

[2020-05-01 07:25] Serhy commented on #9511
No, with the new notifications it's all fine! No PN when Status is on foreground

[2020-05-01 07:25] #9511 closed, assigned to nobody

[2020-05-01 09:36] churik opened #10494 "Tapping on "Back up your seed phrase" from wallet doesn't open back up seed phrase flor"
# Bug Report

## Problem
Tapping on  "Back up your seed phrase" from wallet do nothing
![photo_2020-05-01 11 34 13](https://user-images.githubusercontent.com/4557972/80796520-b458c980-8b9f-11ea-8189-2f3f5be96dfd.jpeg)

#### Expected behavior
Back up seed phrase flow is opened

#### Actual behavior
nothing is heppening

### Reproduction

[comment]: # (Describe how we can replicate the bug step by s

[2020-05-01 09:36] churik commented on #10494
cc @flexsurfer @Serhy

[2020-05-01 10:19] churik commented on #10494
reason of failed  e2e `5358`

[2020-05-01 10:21] churik commented on #10461
Cleared milestone as it is not blocker

[2020-05-01 10:32] churik opened #10495 "Own profile is not opened from deep link"
# Bug Report

## Problem

Blocker for e2e 5780.
On tapping on `https://join.status.im/u/my_chat_key` user is redirected to home screen instead of own profile.

#### Expected behavior
Profile is shown

#### Actual behavior
User is redirected to home screen

#### Notes
Appeared on nightly 30/04/2020
The issue is not critical, but it is regression so good to fix in next release.

### Reproduction

[c

[2020-05-01 13:05] hesterbruikman opened #10499 "Markdown rendering doesn't respect spacing between paragraphs"
# Bug Report

## Problem
When entering text with multiple paragraphs, space between paragraphs is not rendered.

#### Expected behavior
When entering text with a space between paragraphs, text is displayed _with_ space between paragraphs

#### Actual behavior
When entering text with a space between paragraphs, text is displayed _without_ space between paragraphs

#### Notes
- Occurs on iOS and And

[2020-05-01 13:18] hesterbruikman opened #10500 "Performance improvements"

[2020-05-01 13:18] hesterbruikman opened #10501 "Component library"

[2020-05-01 13:28] hesterbruikman opened #10502 "Chat key sharing"

[2020-05-01 13:29] hesterbruikman opened #10503 "Emoji reactions"

[2020-05-01 13:29] hesterbruikman opened #10504 "SNT reactions"

[2020-05-01 13:35] hesterbruikman opened #10505 "Link to buy crypto on exchange"
Enable shortest path to buy crypto. Include a banner to a category on dap.ps

### User stories
As a user
I want to be directed to where I can buy crypto
because some functionality in the app requires holding crypto

As a user
I'm more likely to return to the application when it holds value for me

### Implementation
Design on [Figma](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-

[2020-05-01 13:36] hesterbruikman opened #10506 "Merging multiaccounts"

[2020-05-01 13:40] hesterbruikman opened #10507 "Migrate multiaccounts"

[2020-05-01 13:40] hesterbruikman opened #10508 "Account contracts"

[2020-05-01 13:49] hesterbruikman opened #10509 "Mentions"
* [ ] Parse `@0xpk` messages in Status Go
* [ ] Implement message styling in status-react
* [ ] Implement auto completion in status-react to allow ENS name and random name entry
* [ ] Show notification for mention

### References
https://github.com/status-im/specs/issues/67
https://github.com/status-im/status-react/issues/7117

[2020-05-01 14:01] hesterbruikman opened #10510 "Animations"

[2020-05-01 14:01] hesterbruikman opened #10511 "Navigation"
In addition to linked issues the epic includes:

- Supporting native back navigation in Browser on Android

[2020-05-01 14:05] hesterbruikman opened #10512 "Value display"

[2020-05-01 14:07] hesterbruikman opened #10513 "Overall UX improvements"

[2020-05-01 14:11] hesterbruikman opened #10514 "Image display"

[2020-05-01 14:29] hesterbruikman opened #10515 "Stickerpack"

[2020-05-01 14:32] hesterbruikman opened #10516 "URL handling in chat"
This epic should address different types of urls and how to app responds to sending and receiving them.

Initial version includes a global setting to Enable/Disable previews.

### User stories
- As a user who received a url, I want to have the option to preview a url to see what it's about before opening _(in chat)_
- As a user who sent a url, I want to have the option to preview a url to see what

[2020-05-01 14:35] hesterbruikman opened #10517 "Import accounts"

[2020-05-01 14:40] hesterbruikman opened #10518 "Lokalization"

[2020-05-01 14:41] hesterbruikman opened #10519 "Collectibles"

[2020-05-01 14:43] hesterbruikman opened #10520 "In browser navigation"

[2020-05-01 14:50] hesterbruikman commented on #5341
Closing issue as signing phrase is shown upon first time opening wallet

[2020-05-01 14:50] #5341 closed, assigned to nobody

[2020-05-01 14:51] hesterbruikman opened #10522 "Transaction overview"

[2020-05-01 14:55] hesterbruikman opened #10524 "Desktop release management"

[2020-05-01 14:58] hesterbruikman opened #10525 "Contacts"

[2020-05-01 15:00] hesterbruikman commented on #5590
@oskarth can you tell me if this issue is still relevant on Waku?

[2020-05-01 15:05] hesterbruikman opened #10526 "Dapp links/opening"

[2020-05-01 15:08] hesterbruikman commented on #6165
Still valid in v1.3

[2020-05-01 15:34] hesterbruikman opened #10527 "Remove multiaccounts"

[2020-05-01 15:41] hesterbruikman commented on #6300
Stuck on verifying address, after connecting account through permission dialog

![Screenshot_20200501-173833_Status.jpg](https://images.zenhubusercontent.com/5eaacc9bd76e4cffd53fcf08/5404e01a-26ae-4fb3-82af-9bd058eb4328)

[2020-05-01 15:44] hesterbruikman opened #10528 "Read messages handling"

[2020-05-01 15:47] hesterbruikman commented on #6398
@andremedeiros @siphiuel seems this issue should be closed since moving to webview. Is that right?

[2020-05-01 15:48] hesterbruikman commented on #6447
@Serhy do you know if this is still relevant? I can only test Android 7 :/

[2020-05-01 16:38] hesterbruikman commented on #9976
@flexsurfer incoming pending transactions seem to work fine. Are you still finding issues with this?

[2020-05-01 16:41] hesterbruikman commented on #3997
@churik just looking into this. Incoming pending transactions work fine. Outgoing pending transactions seem to be 'fake' and disappear after relogin https://github.com/status-im/status-react/issues/9684 and https://github.com/status-im/status-react/issues/9684

Pending request described here would be a different feature. If I send a request through chat command or wallet* I should see it in histor

[2020-05-01 16:42] hesterbruikman opened #10529 "Transaction history"

[2020-05-01 16:45] hesterbruikman opened #10530 "Gas control"

[2020-05-01 16:45] hesterbruikman opened #10531 "Gas control"

[2020-05-01 16:51] hesterbruikman commented on #10473
Leaving this to the ninja of browser navigation @errorists

Personally I'm not a frequent iOS user and when I do, I'm confused by the url being obfuscated.

[2020-05-01 16:58] hesterbruikman opened #10532 "Receiving messages & Connectivity"

[2020-05-01 17:06] hesterbruikman opened #10533 "EIP support"

[2020-05-01 17:08] #10500 closed, assigned to nobody

[2020-05-01 17:12] hesterbruikman opened #10534 "Account settings and information"

[2020-05-01 17:18] hesterbruikman opened #10535 "Spam control"

[2020-05-01 17:18] #10535 closed, assigned to nobody

[2020-05-01 17:18] hesterbruikman opened #10536 "Block users"

[2020-05-01 17:19] hesterbruikman opened #10537 "Cookie management"

[2020-05-01 17:22] hesterbruikman commented on #10303
Your circus @errorists 😄🐒  Please close this issue and #10305 if you disagree with the design. It's a legacy idea.

[2020-05-01 17:26] hesterbruikman commented on #10296
@qfrank please check if this PR is in line with your request: https://github.com/status-im/specs/pull/107

[2020-05-01 17:29] hesterbruikman commented on #10286
@jakubgs Looks like this issue can be closed, correct?

[2020-05-01 17:31] hesterbruikman opened #10538 "Back up seed phrase alerts"

[2020-05-01 17:32] hesterbruikman opened #10539 "ENS registration and resolution"

[2020-05-01 17:38] hesterbruikman opened #10540 "Dark mode"

[2020-05-01 18:13] hesterbruikman opened #10541 "Social recovery"

[2020-05-01 18:28] hesterbruikman opened #10542 "Read only public channels"

[2020-05-01 18:28] hesterbruikman opened #10543 "Channel discovery/promotion"

[2020-05-01 18:29] hesterbruikman opened #10544 "Mute chats"

[2020-05-01 18:32] hesterbruikman opened #10545 "Block users"

[2020-05-01 18:33] hesterbruikman opened #10546 "Tribute to Talk"

[2020-05-01 19:03] hesterbruikman opened #10547 "in-app notifications"

[2020-05-02 09:41] jakubgs commented on #10286
I don't think so, the requirements for those are still there:
https://github.com/status-im/status-react/blob/1bcf884c27cc16b926ce8a7d952972f1a623646f/src/status_im/ethereum/tokens.cljs#L168-L171
But I don't see it in the assets:
[code]

[2020-05-02 09:47] jakubgs commented on #10286
The PR that I merged was fixing a bug that was introduced in loading images. It did not fix the lack of some images.

[2020-05-03 10:55] weekly-digest[bot] opened #10549 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 113 issues were created.
Of these, 24 issues have been closed and 89 issues are still open.
## OPEN ISSUES
:green_heart: #10547 [in-app notifications](https://github.com/status-im/status-react/issues/10547), by [hesterbruikman](https://github.com/hesterbruikman)
:green

[2020-05-04 00:57] #4569 closed, assigned to michaelsbradleyjr

[2020-05-04 04:20] 3esmit opened #10554 "Allow Sticker Pack to be uninstalled"
# Feature Issue

Currently is only possible for users to Install a new Sticker Pack, to uninstall a sticker pack is not possible and would require wiping all the app data.

### User Story

As a user I don't want to use a specific sticker pack anymore, or for whatever reason I want to uninstall it.

### Description

Pressing on the "Green Check Icon" would uninstall the sticker pack.

### Acceptanc

[2020-05-04 09:00] #10302 closed, assigned to michaelsbradleyjr, churik

[2020-05-04 09:16] Serhy commented on #6447
Can't reproduce with Android 6.0.1 (Galaxy Note 4)
Also Samsung S6 comes with Android 5 which we do not support.
We didn't have any reports for draining battery after V1 (and especially after Waku upgrade).
This is not relevant anymore, @hesterbruikman

[2020-05-04 09:16] #6447 closed, assigned to nobody

[2020-05-04 09:46] Serhy opened #10556 "App crash when entering query in URL input on Browser view"
# Bug Report

## Problem

Status app crashes with `java.lanng.IllegalArgumentException: Invalid URL host: ...` error when searching for URL with whitespace at the beginning or simply a query of two words separated by whitespace
Crash reproduced on Android but on iOS there is a just endless black page with loading indicator

#### Expected behavior
1) Trimmed URL value before execution
2) Searching

[2020-05-04 12:13] Serhy opened #10557 ""TypeError: Network request failed" crash on sticker market"
# Bug Report

## Problem

User reported about errors and crashes, apparently related to infura and requests to it for stickers:

<img width="318" alt="Screenshot 2020-05-04 at 15 05 53" src="https://user-images.githubusercontent.com/8749671/80964037-d27d2e80-8e18-11ea-8105-f4234f0a1dd0.png">
<img width="311" alt="Screenshot 2020-05-04 at 15 06 11" src="https://user-images.githubusercontent.com/874

[2020-05-04 12:23] churik commented on #10556
Crashes from https://github.com/status-im/status-react/issues/5242 are again reproducible

[2020-05-04 14:01] hesterbruikman commented on #6447
Thanks for checking!

[2020-05-04 14:08] flexsurfer opened #10560 "dragonereum.io doesn't work on Android"
# Bug Report

## Problem

https://dapp.dragonereum.io dapp doesn't recognize status as wallet on Android

#### Expected behavior

Dapp asks for permissions

#### Actual behavior

Suggests to download wallet

#### Notes

Probably related to latest webview update and js injection on Android

#### Acceptance Criteria

Rules for the future PR to be accepted.

### Reproduction

Open dapp.dragonereum.io

[2020-05-04 14:09] flexsurfer commented on #10560
ping @andremedeiros

[2020-05-04 16:15] #10491 closed, assigned to nobody

[2020-05-04 16:16] #10490 closed, assigned to nobody

[2020-05-04 16:16] #10489 closed, assigned to nobody

[2020-05-04 16:53] jakubgs opened #10563 "Nix eating up disk space too fast"
Currently the `status-react-patched-npm-gradle-modules` derivation:
![status_react_biggest_nix](https://user-images.githubusercontent.com/2212681/80991833-ec2e6e00-8e38-11ea-8ac0-c156c1d1629d.png)
Which comes from here:
https://github.com/status-im/status-react/blob/d35deefcb59302eb79b2d748a01eae65bd15e44e/nix/mobile/android/maven-and-npm-deps/default.nix#L30-L36
Which is rebuilt every time anythi

[2020-05-04 17:01] jakubgs commented on #10563
The size is split between `.m2` maven cache folder and `project` which contains `node_modules`:
[code]

[2020-05-04 17:03] jakubgs commented on #10563
The simplest and most obvious thing that I can think of is changing this:
https://github.com/status-im/status-react/blob/d35deefcb59302eb79b2d748a01eae65bd15e44e/nix/tools/maven/maven-repo-builder.nix#L42-L49
To use `ln` instead of `cp`. It's so obvious I'm surprised I didn't notice it before.

[2020-05-04 17:06] jakubgs commented on #10563
And of course something stupid fails:
[code]

[2020-05-04 17:44] Bild96 opened #10565 "Dapp crashes!"
**Errors and crashes, apparently related to infura and requests to it for Status Dapp stickers.**

incident details /* Pictures are included at the end of the report */ :

App version: 1.3.1 (20200502104447)
OS: ios
Node version: StatusIM/v0.52.2/darwin-arm64/go1.13.4
Mailserver: mail-01.do-ams3.eth.prod
----------------------------------------
Node Info
id: 712ff2e7c4de92242d5cde6f49136e74780026d

[2020-05-04 17:50] iurimatias opened #10566 "test issue"

[2020-05-04 17:50] #10566 closed, assigned to nobody

[2020-05-04 18:11] iurimatias opened #10567 "update messages payload to latest spec"
https://specs.status.im/spec/6#message

[2020-05-04 19:04] iurimatias opened #10569 "proof-of-concept"

[2020-05-04 19:05] #10569 closed, assigned to nobody

[2020-05-04 19:10] #10567 closed, assigned to 0x-r4bbit

[2020-05-04 19:16] jakubgs commented on #10563
I managed to get it working, a big improvement:
[code]
From `725 MB` to `32 MB` for `.m2` Maven cache folder. Not bad.

[2020-05-04 20:36] jakubgs commented on #10563
I have an attempt at [`nix/reduce-store-size`](https://github.com/status-im/status-react/tree/nix/reduce-store-size) and [it builds fine](https://ci.status.im/job/status-react/job/manual/707/) but I'm getting a weird warning when building the `jsbundle`:
[code]
Which seems to be caused by 33bd07ae71c553f07a24c16e86c90ee6bca4309a which just makes Clojure dependencies be pulled in via symlinks.
@yen

[2020-05-04 22:23] iurimatias opened #10571 "put basic tabs component on desktop"
take existing tabs component and put it in a desktop namespace without animations on

[2020-05-04 22:25] iurimatias opened #10572 "add account wizard to desktop"
add/copy/adapt existing account wizard to desktop

[2020-05-05 04:11] flexsurfer commented on #10565
Duplicate  https://github.com/status-im/status-react/issues/10557

[2020-05-05 04:11] #10565 closed, assigned to nobody

[2020-05-05 06:20] errorists commented on #10473
yea, don't care much what Safari on iOS does. we should totally try and fit and middle truncate the entire URL 👍

[2020-05-05 06:30] #10303 closed, assigned to nobody

[2020-05-05 06:30] errorists commented on #10303
closing this one only, #10305 is still relevant

[2020-05-05 08:03] hesterbruikman commented on #10554
@3esmit sounds like there is a need for something like `update` stickerpack. Is that right?

[2020-05-05 08:07] qfrank commented on #10296
yes

[2020-05-05 08:13] hesterbruikman opened #10575 "Open search engine when no url is detected in browser address bar input"
# Problem
When no url in the browser address bar is detected, desired, conventional, browser behavior is to open a search engine.

## Implementation
When no url in the browser address bar is detected open Duckduckgo with input as search query.

## Acceptance Criteria

## Notes
Can be paired with #10473

## Future Steps

[2020-05-05 08:13] hesterbruikman commented on #10575
cc @andremedeiros @errorists

[2020-05-05 08:14] #10255 closed, assigned to flexsurfer

[2020-05-05 08:15] churik opened #10576 "Change button "Sign with keycard" in dark mode"
# Bug Report

## Problem

In https://github.com/status-im/status-react/pull/10558:
![photo_2020-05-05 10 14 50](https://user-images.githubusercontent.com/4557972/81046708-453de680-8eb9-11ea-909a-81fbd2d42034.jpeg)

@errorists can you please assist to improve it?

[2020-05-05 08:16] churik commented on #10576
cc @guylouis

[2020-05-05 08:17] hesterbruikman commented on #10346
@errorists can you please add the designs here that inform the user of all conditions required to receive their incentive? (Incl Install Status, Buy Starterpack on Android)

[2020-05-05 08:20] errorists commented on #10346
sure,[ here they are](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=9537%3A116)
this bottom sheet is shown after any of the invite entry points are pressed
<img width="870" alt="Screenshot 2020-05-05 at 10 20 23" src="https://user-images.githubusercontent.com/4932774/81047110-0b211480-8eba-11ea-85cf-e572c0276471.png">

[2020-05-05 08:25] errorists commented on #10576
<img width="369" alt="Screenshot 2020-05-05 at 10 24 48" src="https://user-images.githubusercontent.com/4932774/81047440-a87c4880-8eba-11ea-926e-37a139ff6f40.png">

sure, use the turquoise colour found on the 'keycard' logo for the button background, white on everything else

[2020-05-05 09:34] hesterbruikman commented on #10296
Cool, thank, in that case I'm closing this issue 👍

[2020-05-05 09:34] #10296 closed, assigned to nobody

[2020-05-05 10:08] churik commented on #10576
сс @flexsurfer

[2020-05-05 11:54] Serhy commented on #10560
It works for me with nightly 5th of May on Android 9 and iOS13: - dapp.dragonnereum.io asks for Wallet permissions and sees my account after I allowed permissions.
However bug confirmed on Android 8.1 (when Dragonereum is loads view blinks and there is a blank webpage  displayed (with their discord button)

<img width="182" alt="Screenshot 2020-05-05 at 14 54 05" src="https://user-images.githubuse

[2020-05-05 13:14] andremedeiros commented on #3997
@Samyoul to document the Go side of this feature so that it can be implemented in RN.

[2020-05-05 15:15] #10576 closed, assigned to nobody

[2020-05-05 15:16] #10557 closed, assigned to flexsurfer

[2020-05-05 15:22] 3esmit commented on #10336
All packs listed here are added.

[2020-05-05 15:22] #10336 closed, assigned to nobody

[2020-05-05 15:29] hesterbruikman commented on #10452
fyi Also occurs when exceeding 3 attempts on sign in screen

[2020-05-05 15:33] hesterbruikman commented on #10452
Original issues

Countdown to freezing keys: https://github.com/status-im/status-react/issues/9285
When keys are frozen (not implemented): https://github.com/status-im/status-react/issues/9348 cc @churik @guylouis

[2020-05-05 18:30] #9389 closed, assigned to nobody

[2020-05-05 20:09] 3esmit commented on #10554
@hesterbruikman This issue is for the "uninstall" feature, which is something normal to have. We expect users not wanting some packs and wanting to remove from that list.

Updates of sticker packs are also another feature, I didn't opened an issue about update because its less common that uninstalling a sticker pack.
Currently Updates of Sticker packs are only possible by Status, but in future a p

[2020-05-06 06:28] oskarth commented on #5590
@hesterbruikman it is mitigated but not completely solved by rate limiting as an option in Waku: https://specs.vac.dev/specs/waku/waku.html

However, it isn't clear to me to what extent this has been enabled (as in actually disconnecting spamming peers, not just disconnecting) and/or battle tested in the actual app. Once https://github.com/status-im/specs/issues/61 is addressed our configuration s

[2020-05-06 09:02] churik opened #10587 "`Unable to resolve spec` at attempt to rename group chat"
# Bug Report

## Problem

Can't rename group chat due to error
![photo_2020-05-06 10.59.19.jpeg](https://images.zenhubusercontent.com/5a12b3598a75884b908817f8/8fb5dcc4-e74c-4fcd-afcc-b67e94ba5b99)
Appeared in nightly 05/05/2020

#### Expected behavior
chat is renamed

#### Actual behavior
error

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- C

[2020-05-06 10:21] jakubgs commented on #10563
Next step would be to try to avoid copying `node_modules` in this shell:
https://github.com/status-im/status-react/blob/cd8e953c46a05a61155cf3c7bfd7dc8f61f3e5c0/nix/mobile/android/maven-and-npm-deps/default.nix#L74
But I have to do it in such a way that React Native doesn't complain about read-only files.

[2020-05-06 10:38] errorists commented on #10554
[Here are the designs](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=9564%3A492), once installed, the detailed view of a pack has a clearly labeled Uninstall button. Also, enabling updates is a great idea!

![Sticker Market -_ Stickers Bought](https://user-images.githubusercontent.com/4932774/81167844-3aa54f00-8f96-11ea-8c7e-3c1218eff580.jpg)

[2020-05-06 14:13] churik opened #10591 ""Cannot call a class as a function" error when scrolling on account view (transaction history or assets)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "Cannot call a class as a function" error when scrolling on account view with several assets or in transaction history

#### Expected behavior
n

[2020-05-06 14:27] guylouis commented on #1126
will the user need to input his password to delete his account ?

[2020-05-06 14:31] #10506 closed, assigned to nobody

[2020-05-06 15:36] #10414 closed, assigned to flexsurfer

[2020-05-06 15:38] #10536 closed, assigned to nobody

[2020-05-06 16:17] andremedeiros commented on #10259
@guylouis looks like that PR has been merged.

Is this still an issue?

[2020-05-06 16:25] churik opened #10593 "Amount is hardly visible when appearance is set to dark, but system theme is light"
# Bug Report

## Problem

![photo_2020-05-06 18.22.53.jpeg](https://images.zenhubusercontent.com/5a12b3598a75884b908817f8/0c85df82-83b8-4650-b064-f18c26e62f38)

#### Expected behavior
amount is visible

#### Actual behavior
font is black

### Reproduction
**Prerequisites:** turn off dark mode on your phone
- Open Status
- Go to Settings -> Appearance -> set dark mode
- Open send transaction bottom

[2020-05-06 19:35] 3esmit commented on #10575
Can we make this system even smarter?

E.g. If we paste a transaction hash, or address, it could open etherscan.io.

Not sure how useful it would be, just some food for thought.

[2020-05-06 20:29] hesterbruikman commented on #10575
Great idea! Thanks for documenting it here. I'm not sure about the privacy impact and any favoritism. Food for thought though. Maybe there's a site search that can be done one Duckduckgo instead.

Also, we could see if a submitting a [bang](https://duckduckgo.com/bang?c=Research&sc=Reference) makes sense

[2020-05-06 20:43] andremedeiros commented on #10575
If we're not using APIs we can make etherscan an option. Ethplorer wanted to partner up not that long ago and I'm sure we could re-ignite that conversation.

[2020-05-06 20:48] hesterbruikman commented on #10575
That could work. As long as we're smart about offering options so we don't get a (new) settings junk drawer. Maybe a shortcut after first time address lookup

[2020-05-06 21:37] cyanlemons opened #10594 "Do not default the receiving Ethereum address to the ENS address"
# Feature Issue

[comment]: # (Please replace ... with your information. Remove < and >)

### Description

As a user, I believe that Status should not default the receiving Ethereum address to the same address that was used to register one's ENS username. Instead, it should always ask the receiving party which Status account they would like to use to accept the money.

If one wishes to send a cryp

[2020-05-06 22:26] cyanlemons commented on #10309
In the same line of thought, I believe it would be nice to provide an "Incognito" mode where all cookies, local storage and cache always ends up getting cleared automatically.

If possible, it would be nice if the "Incognito" was an option that would persist even after the Status app has been fully closed – which is not the case for most browsers, but is a very desirable feature nonetheless.

[2020-05-07 04:53] flexsurfer commented on #10591
same for transactions history

[2020-05-07 06:52] flexsurfer commented on #10594
ping @hesterbruikman

[2020-05-07 10:10] hesterbruikman commented on #10594
That makes total sense @cyanlemons

- You should be able to select the account you wish to use to register your ENS name
- Accept and share address should allow you to select the address that you would like to share

This is not trivial from a design perspective as we do not want to paralyze people with options. That said I'll add it to an epic on ENS improvements (registration and resolution)

cc

[2020-05-07 10:39] #10593 closed, assigned to flexsurfer

[2020-05-07 11:12] #10587 closed, assigned to flexsurfer

[2020-05-07 11:13] #10494 closed, assigned to flexsurfer

[2020-05-07 13:54] errorists opened #10604 "Disable elevation on Android Tab Bar, replace it with a 1pt divider"
# Problem

We can't seem to achieve the desired outcome using elevation values on Android's bottom tab bar, this might be acceptable in light mode but makes the shadow completely unnoticeable in dark mode.

## Implementation

1. Disable elevation on Tab Bar on Android
2. Add a 1px divider, Light Grey (and dark theme equivalent), aligned to the top of the Top Bar, width equals Top Bar width.

<img

[2020-05-07 15:25] guylouis commented on #10259
@andremedeiros
mmmh which PR do you mean?
I don't think this has been worked on yet, it needs investigation on the react side with help from @bitgamma and we considered this is low priority and will do that later on, after launch

[2020-05-07 15:48] andremedeiros commented on #10495
This one should wait until we spec out and define deeplinking/URI structure as per status-im/specs#112

[2020-05-07 16:26] bitgamma commented on #10259
this has been partly addressed by merging https://github.com/status-im/react-native-status-keycard/pull/23 (we merged it to close some other issues which it incidentally fixed). However there are still several areas that could be seriously improved performance-wise, so let's leave this open for now.

[2020-05-07 16:41] churik commented on #10495
skipped in #10605

[2020-05-07 17:05] errorists commented on #10575
The intended design for address bar includes recommendations for typing so I imagine we could reuse the same UI here: to match the string with browsing history, suggest a search engine search or if the entered string is a hash/address suggest ethplorer

<img width="1239" alt="Screenshot 2020-05-07 at 19 02 23" src="https://user-images.githubusercontent.com/4932774/81323389-97d3fa00-9095-11ea-82b1-

[2020-05-07 17:08] hesterbruikman commented on #10575
❤ great! That resolves favoritism and privacy concerns in one go as it's an explicit user action and choice

[2020-05-08 07:48] hesterbruikman commented on #7234
@errorists wdyt? Looks to me like this issue can be closed

[2020-05-08 07:51] hesterbruikman commented on #10312
User report in #support

[2020-05-08 07:51] errorists commented on #7234
@hesterbruikman we can but bear in mind the current contact list implementation isn't finished yet, most of all it's missing the button to add a contact from there, search, indexes for long lists and editing. [Figma](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=510%3A4233)

[2020-05-08 08:39] #10525 closed, assigned to nobody

[2020-05-08 08:53] Serhy opened #10608 "Transaction command status in 1-1 chat flipped after Accept/Decline transaction"
# Bug Report

## Problem

When 1-1 command confirms or declines status then command indication about Incoming or Outgoing transaction changed to the it's opposite state

#### Expected behavior

Transaction command keep the same state after Accept/Decline
#### Actual behavior

![1113](https://user-images.githubusercontent.com/8749671/81310830-49226200-908d-11ea-81c1-ac11ff20646a.gif)

### Reproduct

[2020-05-08 12:29] hesterbruikman opened #10614 "Styling update Unlock screen"
# Problem
Styling of the Unlock screen does not match design in Figma

[x] We recently removed the account key from the Unlock screen https://github.com/status-im/status-react/issues/10272
[ ] Larger user name
[ ] Standardize margins

## Implementation
![Frame 179](https://user-images.githubusercontent.com/35233054/81405470-fe115900-9137-11ea-9128-00b6b9d8e89b.png)

## Acceptance Criteria
Match de

[2020-05-09 00:25] cyanlemons opened #10616 "Addressing the issue of anonymity (or rather lack thereof)"
## Preface
By and large, Status provides far more anonymity than your average messaging service. However, this issue will specifically be concerned with the following adversaries:

- Any governmental entity with subpoena power
- A malicious/coerced mailserver operator
- A malicious/coerced Infura employee

**The threat model is as follows:** given a particular chat key, Ethereum address or ENS use

[2020-05-10 10:55] weekly-digest[bot] opened #10617 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 67 issues were created.
Of these, 43 issues have been closed and 24 issues are still open.
## OPEN ISSUES
:green_heart: #10616 [Addressing the issue of anonymity (or rather lack thereof)](https://github.com/status-im/status-react/issues/10616), by [cyanlemons](https://

[2020-05-11 08:49] churik opened #10619 ""No matching clause: web3" when open Dapp permissions in settings"
# Bug Report

## Problem
Can't revoke access for Dapp.
Error:
![photo_2020-05-11 10 39 53](https://user-images.githubusercontent.com/4557972/81541703-d3abdf80-9373-11ea-8e85-e5883d9cd322.jpeg)
Appeared on nightly 08/05/2020.

#### Expected behavior
Can revoke access

#### Actual behavior
"No matching clause: web3" when opening Dapp in Settings > Privacy and security

### Reproduction

[comment]: #

[2020-05-11 10:23] churik opened #10622 "Endless spinner on adding new account in wallet (keycard only)"
# Bug Report
## Problem
Can't add new account in wallet - endless spinner.

#### Expected behavior
New account is added

#### Actual behavior
![photo!UNITO-UNDERSCORE!2020-05-11 12.20.08.jpeg](https://images.zenhubusercontent.com/5a12b3598a75884b908817f8/e35ded6f-5604-4631-8759-7cc16e6b8f98)

### Reproduction

* Open Status
* Restore multiaccount from seed phrase (select storage - Keycard)
* Go to

[2020-05-11 11:49] hesterbruikman commented on #7234
Issues (to be created) for this epic:

* [x] Add an empty state to contacts list #10891
Issues (to be created) for this epic:
* [ ] Add search to contact list #
* [x] Add a button to add new contacts to contact list #10892
https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=510%3A4233
* [ ] Add long press menu to contacts
https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?

[2020-05-11 13:46] Fukunaga42 commented on #6300
Hello guys we currently not support WEB3 injected wallet with the actual version. I'll notify you when it will be the case. But beesides that we are currently working on a SDK with JS library and some React Component to easliy interact with the dether protocol. You will be able to easily display the map, and/or easily add tellers on your own on the protocols. I'll keep you updated when we'll publi

[2020-05-12 06:50] rasom commented on #10622
This is almost likely caused by @yenda's refactoring because `:hardwallet.callback/on-export-key-success` handles is not registered now.

[2020-05-12 07:43] #10622 closed, assigned to rasom

[2020-05-12 08:45] cammellos commented on #10616
Thanks for the detailed post!

In terms of disclosing your public key, I believe you are correct regarding 3rd party services for the most part, one thing I would like to add is that your chat key is not the same as your wallet keys, as we decoupled the two (they are derived from the same root key but use different derivation paths). So I believe at no point we send Infura your chat key, while we

[2020-05-12 11:40] hesterbruikman opened #10627 "Add Status logo/styling to QR code"
# Problem
Chat (key) QR code is intended to easily invite others to join you on Status. Allowing users to share the QR code wherever they want (e.g. social media, website, slidedeck) can increase acquisition. Currently, the QR code is not suited for use outside the app and status.im; It shows no context of what the QR code would do (e.g. download and deeplink to user or chat), nor communicates tha

[2020-05-12 11:47] hesterbruikman opened #10628 "Allow saving or sharing QR code as image file"
**Following https://github.com/status-im/status-react/issues/10627**

# Problem
Chat (key) QR is undergoing style changes to make it more suitable to share outside of the app and join.status.im (e.g. social media, website, slide deck). Once implemented, the user will also need to be able to save the QR code as an image to share it in other places.

Screenshots are not suitable as they are blocked

[2020-05-12 14:43] #10556 closed, assigned to vitvly

[2020-05-12 17:31] #10608 closed, assigned to nobody

[2020-05-12 19:04] vitvly opened #10630 "[WEBVIEW] URL display bug"
# Problem

Right now it is possible to replace the page location in address bar without user's knowledge.

More detail in
  - https://github.com/status-im/security-reports/issues/14
  - https://github.com/status-im/security-reports/issues/15

## Implementation

`react-native-webview` library provides some events that can be handled in order to mitigate this vulnerability.
  - `onLoad`: we can trac

[2020-05-12 21:29] corpetty commented on #10616
imo, until we have the ability for light clients (mobile) to be a full participant on the network (as useful as a status node), the easiest way forward is make it incredibly easy for users to run a full node themselves, and attach their light client trust (mobile's dependance) onto it. The full node doesn't broadcast the information it receives from light clients, but it can harvest them. This is

[2020-05-12 22:45] cyanlemons commented on #10616
Thanks for the input @cammellos & @corpetty.

Although I was aware the two are technically decoupled, I do believe that there is an indirect threat here. For instance, an undercover law enforcement agent could request to send me 200 DAI on Status. Even if I don't know the guy, it's quite an appealing offer and I would likely accept. It's free money, right? I could even use a fresh Status account j

[2020-05-13 09:45] cammellos commented on #10616
Yes, definitely an issue

That's correct, there's a bit of confusion about naming, as discussed here :) https://discuss.status.im/t/wherefore-art-thou-mailserver-treatise-on-waku-terminology/1664/4

Basically they will be able to access to your message (waku envelope) and understand that that particular envelope originated from your node, but they won't be able to access the signature, so they won

[2020-05-13 09:46] flexsurfer opened #10631 "make it possible to debug webview in chrome on nightly"
Before it was possible to debug nighties webview with chrome, after moving to community webview this doesn't work anymore

[2020-05-13 10:25] churik opened #10632 "No protocol method error at attempt to send funds from keycard account"
# Bug Report
## Problem
Can't send ETH in 1-1 chat from keycard account
![photo!UNITO-UNDERSCORE!2020-05-13 12.22.14.jpeg](https://images.zenhubusercontent.com/5a12b3598a75884b908817f8/99ed28b5-e2ac-48f9-955e-5abf1e95ae88)

#### Expected behavior
can sign transaction

#### Actual behavior
error

### Reproduction

* Open Status
* Create or restore account with keycard
* Start 1-1 chat with any ENS

[2020-05-13 10:25] churik commented on #10632
cc @rasom @guylouis

[2020-05-13 11:01] Serhy opened #10634 "Image of 'Get started' view changes height/width if navigate back from "Enter seed phrase""
# Bug Report

## Problem

If to navigate back to main welcome view from "Enter your seed phrase" view then images become really small aligned to the top.
It happens only when navigating back from "Enter you seed phrase" view, but all **fine** when navigating back from `Generate keys`  or `Recover with Keycard` view.

No issues on iOS

#### Expected behavior

Images keep staying on the same place

[2020-05-13 11:02] Serhy commented on #10634
All good with Release 1.3.1 build.

[2020-05-13 13:09] churik commented on #10634
@hesterbruikman do you think it should be fixed in 1.4.1?
Regression issue, but affects main carousel view.

[2020-05-13 16:55] hesterbruikman commented on #10634
Yes please, I also can't image this being a massive task. Do you think it's a regression of this merge? https://github.com/status-im/status-react/pull/10442

[2020-05-14 05:44] flexsurfer opened #10638 "Sticker pack is loading forever"
# Bug Report

## Problem

henrystats@discord
 it seems the issue with ens names (transaction failing) also affects sticker packs
i tried getting dogeth sticker packs few weeks ago- the transaction failed
if i try to get it now - i cant, it shows as if it is loading

#### Expected behavior

it should be possible to purchase sticker again if transaction has failed

[2020-05-14 07:07] simonricoo commented on #10305
Expected behaviour:
![Screen_Recording_2020-05-13_at_18 43 57](https://user-images.githubusercontent.com/52249767/81903576-3bf00080-95c2-11ea-8c88-08e41f1f632c.gif)

[2020-05-14 08:28] hesterbruikman opened #10642 "Keycard management"
includes: https://app.zenhub.com/workspaces/status-5729dbcd8c3f63656a8f6eaa/issues/status-im/status-react/10507

[2020-05-14 08:28] hesterbruikman opened #10643 "Keycard upsell"

[2020-05-14 08:56] hesterbruikman commented on #1126
Closing this issue, same as #10195

[2020-05-14 08:56] #1126 closed

[2020-05-14 09:31] nicholasmueller opened #10644 "Requiring chainId for EIP712 signing"
# Bug Report

## Problem

Status dapp browser requires the chainId to be defined when signing transactions using eip712 domain typeddata, even though this field is defined as optional in the [eip712 spec](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md#definition-of-domainseparator).

[code]

#### Expected behavior

To be able to sign a transaction on networks that don't include the c

[2020-05-14 11:35] Serhy opened #10646 ""No protocol method iMap" error when recover the same seed phrase"
# Bug Report

## Problem

This is a navigation issue problem for now (see steps to reproduce).

When user tries to recover the same account (for example if forgot password) the pop-up `Multiaccount already exist` appears. Tapping "Unlock" navigates to login screen of the account which supposed to be recovered. But if to tap `<` top-left button user winds up on `You keys have beed successfully reco

[2020-05-14 14:09] hesterbruikman opened #10648 "Integrate status-go with nim"

[2020-05-14 14:09] hesterbruikman opened #10649 "Mirror chat UI in QT"

[2020-05-14 14:09] hesterbruikman opened #10650 "Mirror wallet UI in QT"

[2020-05-14 14:14] hesterbruikman opened #10651 "Packaging for distribution"

[2020-05-14 14:18] hesterbruikman opened #10652 "Onboarding/Account setup"

[2020-05-14 14:34] hesterbruikman opened #10654 "Integrate client with Nimbus"
to provide list of things to support status-go; this will create API for Nimbus to implement

[2020-05-14 14:46] #10648 closed, assigned to nobody

[2020-05-14 17:58] hesterbruikman commented on #9661
Overlap is fixed, but ideally we have the new PUK screen implemented for this issue:

- 'Don't ask for card to sign in' not shown
- PUK entry field has 3 dot areas, in ling with 12 digit PUK
- No overflow menu as this is a separate screen from the Passcode entry and doesn't require 'Get new keys' at this level

Does that make sense? Let me know if you see any issues implementing the flow as on [Fi

[2020-05-15 01:12] cstrat opened #10657 "Can't use dApps (outside of dApp explorer) in iOS app"
# Problem

In previous versions I was able to use dApps from within the app just by navigating to their URL.
This is now not possible, it looks as if I have not given permission - but there is no way to grant permission.

## Implementation

Example, navigate to dapp via URL not via the dApp explorer.
The dApp loads but it loads as if there were no web3 interface.
There is no prompt to give permiss

[2020-05-15 08:24] hesterbruikman commented on #6960
Closing to merge into https://github.com/status-im/status-react/issues/7118

[2020-05-15 08:24] #6960 closed, assigned to nobody

[2020-05-15 08:46] rasom commented on #9661
@hesterbruikman you are right, it will be fixed with updated PUK flow

[2020-05-15 08:58] hesterbruikman commented on #10167
I mean client of the buyer.
- Merchant shows QR
- Buyer scans QR
- Buyer selects wanting to pay with Keycard
- Device of buyer prompts Keycard sign tx request

alterntatively:
- Merchant asks payment method
- Buyer chooses Keycard
- Merchant shows QR (keycard_signtypeddata)
- Buyer scans QR
- Device of buyer prompts Keycard sign tx request

[2020-05-15 09:34] #10434 closed, assigned to rasom

[2020-05-15 10:10] churik commented on #10657
@cstrat
Thank you for reporting!
Can you please specify DApp URL what is worked before, and stopped working now?

[2020-05-15 10:11] churik commented on #10632
closed in nightly 15/05/2020

[2020-05-15 10:11] #10632 closed, assigned to nobody

[2020-05-15 10:15] churik opened #10658 ""connection is secure" tooltip is not aligned with URL field"
# Bug Report

## Problem
![photo_2020-05-15 12.12.58.jpeg](https://images.zenhubusercontent.com/5a12b3598a75884b908817f8/6f46008c-0e26-4556-aed8-b8a9e3e0b4c0)

#### Expected behavior
tooltip is aligned with URL input field

#### Actual behavior
tooltip is shown in the middle of the page

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create ac

[2020-05-15 11:41] churik opened #10659 "Update framework for keycard to support pairing and commands in 1-1 chats"
# Problem

Currently there is no option to add automation tests for:
- pairing card flows (Recover from keycard)
- sending assets in one-to-one chat
At attempt to send ETH in 1-1 chat (Ropsten) - "Sign and send" label on message is not changed

## Acceptance Criteria
- can recover predefined card using "Recovery card" flow
- can send ETH in 1-1 chat to ENS and using "Sign and send" label on messag

[2020-05-15 11:41] churik commented on #10659
cc @rasom @guylouis

[2020-05-15 11:53] Serhy commented on #10634
@hesterbruikman yes, likely regression from #10442 (likely because it was dealing with images) because all fine in release 1.3 app version.

[2020-05-15 12:06] cstrat commented on #10657
dice2.win and etheroll.com (although the second isn't working at the moment anyway)

[2020-05-15 12:39] churik opened #10660 "Navigation Back and Forward doesn't work on dap.ps website"
# Bug Report

## Problem
Arrows Back and Forward are always grayed out on dap.ps store.
Issue is not reproducible on v.1.3. and on IOS.

#### Expected behavior
Can go "Back"

#### Actual behavior
<img width="182" alt="Monosnap 2020-05-15 14-36-55" src="https://user-images.githubusercontent.com/4557972/82051089-8dc78200-96b9-11ea-8ab0-1a368a9f6881.png">

### Reproduction

[comment]: # (Describe how

[2020-05-15 12:40] churik commented on #10660
@hesterbruikman not sure if it is a blocker for 1.4, but may cause another navigation issues on similar URLs.
cc @flexsurfer

[2020-05-15 14:11] guylouis commented on #10659
do we agree that this is not blocking for release, right?

[2020-05-15 14:12] churik commented on #10659
yes

[2020-05-15 15:31] hesterbruikman opened #10662 "Multipart attachments"

[2020-05-15 15:42] hesterbruikman opened #10663 "Channel reputation"

[2020-05-15 16:06] hesterbruikman opened #10664 "Adjust Starterpack to include DAI and relevant copy"
# Problem
DAI will be added through Starterpack view getpack. Current implementation needs to be reviewed for any adjustments required in terms of copy and layout to accommodate including DAI

## Implementation

## Acceptance Criteria

## Notes

## Future Steps

Steps which should be taken after this issue has been resolved.

[2020-05-17 22:56] jakubgs commented on #10563
I believe this was resolved finally by https://github.com/status-im/status-react/pull/10640 and https://github.com/status-im/status-react/pull/10665:
[code]

[2020-05-17 22:56] #10563 closed, assigned to jakubgs

[2020-05-18 04:40] flexsurfer opened #10667 "Upgrade eth-phishing-detect library"
# Bug Report

## Problem

 eth-phishing-detect library is outdated , we need to find a way to use a recent version for every release

[2020-05-18 07:12] errorists opened #10669 "Audio Messages 🗣️💬"
### User Story

As a user I want to be able to compose and send audio messages in chat instead of having to type it with keyboard. I want message recipients to be able to play back my audio messages.

### Description

The scope of this issue is to add a new message type of an `Audio Message` to our chat and the interface to record one.

We should cap the maximum length of an audio message to somet

[2020-05-18 08:13] churik commented on #10657
@cstrat
I tried dice2.win now on Status v.1.0 (we updated webview on v1.3) and I see that it supports only Trust Wallet.
I didn't manage to connect etheroll.com to Status wallet as well.

It would be really helpful if you can specify Status version when they worked before.
Currently, I'm not able to reproduce this issue because for me it looks like apps don't support Status at all.

[2020-05-18 08:14] guylouis commented on #10167
Ok so this is a way for the payment terminal to prompt the tap of the keycard on the buyer's phone and not the payment terminal itself

note: a 'status pay' account user might be able to make payments with his status phone without keycard too. That's something we can decide fro a UX standpoint and design the multisig of smart contract accordingly

@hesterbruikman @gravityblast @bitgamma

[2020-05-18 08:25] churik commented on #10619
not reproducible on nightly 18/05/2020

[2020-05-18 08:25] #10619 closed, assigned to nobody

[2020-05-18 09:43] cstrat commented on #10657
I remember seeing that same trust wallet message or something similar in the past when I hadn't given permission to status. There was an update to status somewhere along the way when they made you explicitly give permission for dApps.

Maybe there was an update with dice2.win and they now don't support status? I thought status just had a web3 interface.

[2020-05-18 10:36] hesterbruikman commented on #10167
Good point! What I like about this payment flow is that it moves technical requirements from the merchant to the buyer, which is a lot more suited to certain locales and merchant types

[2020-05-18 15:00] Serhy opened #10677 "[TESTS] Rerun e2e test if error from pop-op in the list of rerun items"
From the test suite there are some tests which may fail due to emulator side issues.
In a case final step with error is visible error displayed in pop-up pytest fails the test before the error from pop-up grabbed for existing rerun

Example of test https://app.saucelabs.com/tests/6c29af02e56b436aafa1e2a681d4dcb7?auth=046552a64e04d8fbf5cf4505099bafcb#106

We need ability to re-run the test if the e

[2020-05-18 15:09] Serhy opened #10678 "[TESTS] Add locator to element in failed test report"
When test failed we use classname of an element which was not found

E.g.: https://ethstatus.testrail.net/index.php?/tests/view/1413753&group_by=tests:status_id&group_order=desc&group_id=10

[code]

Should be:
[code]

[2020-05-18 15:25] Serhy opened #10679 "[TESTS] @marks.skipped tests should be marked as SKIPPED in TestRail"
If the test marked with @marks.skipped we need respective status be assigned to the test in TestRail

[2020-05-19 09:26] hesterbruikman opened #10683 "Keycard integration (Android) fixes"

[2020-05-19 09:45] guylouis commented on #10223
For clarification
"if receiver = one of the status account address then write its name"

the name of this account is not the 3 word name of the multiaccount, but the name of the account itself like "Status 1" etc.

[2020-05-19 10:35] #10631 closed, assigned to vitvly

[2020-05-19 14:17] hesterbruikman commented on #7045
@Serhy do you know if this issue is still relevant with the current notification implementation on android?

[2020-05-19 14:20] hesterbruikman commented on #5254
@Serhy this seems like one to test with the emulator without Google Play Services

[2020-05-19 15:53] kmoll commented on #9912
I am experiencing this too, although it seems to be more than just a given session.  Is there a way to release the name if the transaction fails?

[2020-05-19 16:09] hesterbruikman opened #10690 "QR code scanner in `Start new chat` gives error scanning from join.status.im"
# Bug Report

## Problem
Join.status.im gives a full url to support installing the app if this is not the case yet. The QR code scanner in `Start new chat` > `QR scanner` does not detect full url and gives an error.

This is the case when scanning a ENS name QR and when scanning chat key QR

![Screenshot_20200519-170114_Status](https://user-images.githubusercontent.com/35233054/82349045-ea000e00-9

[2020-05-20 07:58] Serhy commented on #5254
I've tested latest develop build (19th of May) on Genymotion emulator: Galaxy S7 with Android 7.1 And there are no GooglePlay Services installed.

Notifications are working for me, pop-up about new message received in 1-1 chat appears like on real devices with gplay service installed.

[2020-05-20 08:45] churik opened #10694 "Amount is not accessible on "Send Transaction" screen when token name is too long"
# Bug Report

## Problem

Reported by user.
When token name is long, it can overlap enter amount field, so you can't send transaction

#### Expected behavior
Can enter amount

#### Actual behavior
![image0](https://user-images.githubusercontent.com/4557972/82425383-ba4b1780-9a86-11ea-9d3e-48ba09dd26d3.jpeg)

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Op

[2020-05-20 09:13] hesterbruikman commented on #5254
Thanks @Serhy ! Closing this. We can reopen if we get bug reports from real devices w/o Google Play services

[2020-05-20 09:13] #5254 closed, assigned to yenda

[2020-05-20 09:56] hesterbruikman opened #10695 "Check if cryptocompare returns USD value"
# Problem
User report: The case where Cryptocompare call is successful, but cannot deliver USD value is not handled. Currently, only an error state exists for the scenario that Status cannot connect to Cryptocompare or is not getting USD values altogether. There is not distinction for individual tokens.

e.g. https://www.cryptocompare.com/coins/ret/overview/ETH

### Current
When account holds toke

[2020-05-20 12:58] henrystats commented on #9912
Issue also affects sharing of personal link. If your ens name is pending, it still generates a link with your pending ens name.

i.e https://join.status.im/u/henrystats.stateofus.eth

[2020-05-21 08:19] flexsurfer commented on #10312
@hesterbruikman @cammellos  this issue pretty critical, because we have more and more spam, so user have to block that, and more users use status longer so they will be facing this issue more and more

[2020-05-21 08:22] flexsurfer commented on #9943
still an issue

[2020-05-21 08:24] cammellos commented on #10312
Probably the best thing to do here is to actually show a loading screen to the user. This is a fairly rare action, and it's expensive as deletion from the database take a long time (we want to delete rather than soft delete), and then we need to re-calculate all messages count, last messages etc.
Would that be ok?

[2020-05-21 10:09] flexsurfer commented on #10312
but based on users feedback app crashes `whenever i block someone on Status, app crashes after i click 'block user'`, so loading screen won't help

[2020-05-21 12:04] hesterbruikman commented on #10312
Added to 1.4.1 which is planned to be the fixes release following release of Keycard integration.

I actually haven't been able to reproduce the issue myself and would like to better understand under what circumstance this occurs and how common this is. Does it have to do with the number of messages the user you want to block has left in a chat?

Also, and I'm sure this has been discussed, why are

[2020-05-21 12:12] cammellos commented on #10312
Yes, removal from database can be very expensive, and this is one of those cases.

Not sure what the discussion was initially, it makes sense to remove everything, so that you don't have your chat overwhelmed by spam, though whether this is necessary I don''t know, blocking from the moment forward can also be ok.

There's the issue of say the user has a message that makes the app barely usable, in

[2020-05-21 16:37] churik opened #10699 "Balance of custom tokens is not updated until app restart"
# Bug Report
## Problem
If you have some custom tokens in your account their balance is not shown just after adding, only after app restart.

#### Expected behavior
Can see balance after adding

#### Actual behavior

The actual of custom tokens amount is shown only after app restart

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

* Open Status
* Deposit some c

[2020-05-22 07:54] #5124 closed, assigned to cammellos

[2020-05-22 12:15] churik commented on #10312
Tried to reproduce it:
- open Status , join #status channel and load history for 30 days
- join #status-chines channel, load history
- blocked most active users one-by-one

In my case (tested on IPhone7) - no problems with blocking or rendering chat messages after user block.

[2020-05-22 12:46] flexsurfer commented on #10312
yeah it won't be visible on new account

[2020-05-22 15:13] hesterbruikman opened #10704 "Feature parity Wallet UI in Qt"

[2020-05-22 15:14] hesterbruikman opened #10705 "V2 Chat UI in Qt"

[2020-05-25 07:20] cammellos commented on #10705
What is this exactly? can we add some description or see some public discussions about it?

[2020-05-25 12:03] #10471 closed, assigned to cammellos

[2020-05-25 12:32] #10591 closed, assigned to yenda

[2020-05-25 14:03] #10245 closed, assigned to nobody

[2020-05-25 14:31] #9661 closed, assigned to rasom

[2020-05-25 16:05] hesterbruikman opened #10712 "Feature parity chat UI in Qt"

[2020-05-26 06:06] flexsurfer commented on #7757
@hesterbruikman is this still an issue?

[2020-05-26 15:07] Serhy opened #10714 "Status crashes with 'java.lang.AssertionError: No System TLS' error upon lauch"
# Bug Report

## Problem

Can't start Status (on Android 9). App crashes with
[code]

It's all fine on Android 8.1 but on Android 9 I get crashes all the time on both Nightly Develop and PR builds

E2E tests which are running on Android 10, sometimes may may crash the session with the same error (but it's 1 of 20 times)
#### Expected behavior

Status app starts
#### Actual behavior

App crash when

[2020-05-26 16:16] vitvly commented on #10630
Logs of different scenarios that show how `onLoadStart`, `onLoadEnd`, `onLoad`, `onNavigationStateChange` fire in response to different webview actions: https://gist.github.com/siphiuel/886ab7515649bc7bd5db9891a84d382d

[2020-05-27 08:24] churik commented on #10714
cc @hesterbruikman - for me looks like release-blocker

[2020-05-27 09:27] churik commented on #10127
The same in nightly builds - it should be `INFO` by default, in fact it is `DEBUG`.
Log example:
[code]
Nothing changes in log etries when I set `TRACE` level (no `TRACE` entries in logcat) or `ERROR` level (still see `DEBUG`)

So for me only works only disabling logs and only after full manual restart of the application (after logout still Debug level is set in fact)

[2020-05-27 09:38] hesterbruikman commented on #10714
Is this on emulator or real device?

[2020-05-27 09:44] flexsurfer commented on #10714
both

[2020-05-27 09:52] hesterbruikman commented on #10714
Yes, that's definitely a blocker. Any thoughts on the cause yet? @flexsurfer are you available to investigate further?

[2020-05-27 10:02] churik commented on #10714
e2e caught it for 1 time on nightly 04/05/2020.
As we didn't see this on real devices, this issue was considered as emulator-specific and we tried to resolve it by updating caps for sauce-lab.

[2020-05-27 13:38] hesterbruikman opened #10718 "Update FAQ links"
# Problem
FAQ will be moved to https://status.im/faq/ this requires links to be updated in the app

## Implementation
1. Keycard onboarding > Learn more https://status.im/faq/#keycard
1. `Settings` > `Keycard` > `Help`https://status.im/faq/#keycard
1. `Settings` > `Need help` > `Frequently asked questions`https://status.im/faq/

![Frame 1](https://user-images.githubusercontent.com/35233054/8303661

[2020-05-27 13:39] Serhy commented on #10714
I found that app starts fine if I restart device.

If I Force Stop + Clear data of Status build - app keeps crashing on start. And even if I deinstall and install it again - all the time app crashes upon start.

However any build (Nightly/PR) starts fine the first time after device restart.

[2020-05-27 17:21] guylouis opened #10719 "Change copy of seed backup warning message in Keycard onboarding"
in Keycard onboarding, the following message is shown to the user after he is been shown is seed phrase.
![image](https://user-images.githubusercontent.com/11461437/83050102-527b6a80-a04c-11ea-9d1f-31e970148126.png)

The copy is actually incorrect, since if the user has lost his device, if he still has his pairing code then he will be able to access his funds from an other phone.

The copy should

[2020-05-27 17:23] guylouis opened #10720 "10719"

[2020-05-27 17:23] #10720 closed, assigned to nobody

[2020-05-28 07:29] errorists opened #10721 "Dark Mode 1.1"
# Problem
It seems that some people find the dark mode to not have enough contrast between the blue accent colour and dark backgrounds.
tl;dr this is a result of me trying to replace all blue values with a single colour. This colour couldn't be bright enough for punchy contrast because then outgoing message bubbles or notification badges would stop being readable with the white text on them.
To ov

[2020-05-28 09:16] guylouis opened #10722 "Change keycard website link in keycard onboarding"
In onboarding when user selects to store his keys on Keycard the first screen popped up is
![image](https://user-images.githubusercontent.com/11461437/83122735-5521a280-a0d4-11ea-9fcf-b3fbd5207fa1.png)
The link used in "Learn more about Keycard" is https://keycard.tech

This link should be changed to https://status.im/keycard-integration

This new site is user oriented site with CTA to buy keycard

[2020-05-28 09:48] hesterbruikman commented on #10722
Also needs to be updated in Recover with Keycard flow

![Screenshot_20200528-114709_Status PR](https://user-images.githubusercontent.com/35233054/83126484-26f29180-a0d9-11ea-95c7-dc18d20031e7.jpg)

[2020-05-28 12:33] cammellos commented on #10179
One potential implementation for this is, given the requirements described above:

An admin of the group will generate an invite link.
This link will include at least:

1) The admin public key
2) The group chat ID (not sure we need this, as it can be revealed at later stages)
3) The group chat name at the time of invitation (might change after that)
4) A unique identifier for the invitation

If th

[2020-05-28 12:37] errorists commented on #10179
if it helps the designs I did some time ago for this feature can be found [here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=8927%3A39804)

[2020-05-28 12:44] cammellos commented on #10179
@errorists thanks, very helpful.

Looking at the designs, all the above still stands, a couple of things:

1) Does anyone see the `Group membership request`? or only the creator of the link/admin? (others might see it "read-only"). For simplicity it'd be better if only the admin sees it, but both options can be worked on.

2) In the group membership request, I think we should invite the user to ve

[2020-05-28 13:03] errorists commented on #10179
@cammellos
re: 1. I think the expectation is only the admin, so it helps that it's also the simpler one
re: 2. So could the person compose a short message that would be shown to the admin? You'd still be able to tap on their username to go their profile and `Send a message` to begin a new private chat if desired. It increases the complexity but we did a similar idea with Tribute to Talk to verify

[2020-05-28 13:08] cammellos commented on #10179
@errorists sure, that's totally fine

[2020-05-28 13:13] errorists commented on #10179
my biggest concern here is spam and a link once published can't be made void right? so things might get out of hand fast for the poor admin. I honestly think that for groups the mechanism we have in place now of adding members manually from a contacts list is absolutely sufficient. but hey, happy to help finalise the UI if we're going with that.

[2020-05-28 13:14] errorists commented on #10179
also I guess it should return some kind of error if you visit a link to a group that's full

[2020-05-28 13:20] cammellos commented on #10179
We can give the admin an option to void the link, meaning that it will not receive anymore requests from it. It will just ignore those requests and won't see them in the UI. You can even just specify how many users can be used for before-hand potentially.

This is tricky, if you mean that the receiver should show an error if the group chat is full as soon as it clicks, that won't be possible, as y

[2020-05-28 13:26] errorists commented on #10179
it will considerably increase the complexity but I feel it's worth it to give that kind of granular control to keep admins happy.

So an alternative: if a person joins an invite to a full chat, admin will have the button to accept him greyed out until he makes room? What I guess I'm saying, groups are capped at 12 members so this doesn't seem like an edge case.

[2020-05-28 13:28] cammellos commented on #10179
Yes, that's fine, we should also spike on increasing the participants, it might be that's fine to increase now to a higher number.

[2020-05-28 13:32] errorists opened #10724 "Onboarding carousel autoscroll and progress indicator"
# Problem
At present, the discoverability of subsequent pages in onboarding carousel is low, people often skip scrolling ahead because they aren't aware it's an option. There's very little affordance involved to help guide them. That's a problem, because they enter not knowing about the full possibilities of the product.

## Implementation
![Screen Recording (Safari)](https://user-images.githubuse

[2020-05-28 13:57] hesterbruikman opened #10725 "Onboarding flow"

[2020-05-28 14:54] hesterbruikman commented on #10179
Thanks for following up here! All makes sense to me. @cammellos do you see more details required for anyone to start work on this issue, in addition to the designs on Figma?

I imagine this also creates a new link type for status.im to handle, to be shown in a QR code and for status app QR code reader to handle. @errorists can you add these steps (between screen 4 and 5) of opening the link on Des

[2020-05-28 15:00] errorists commented on #10179
I've changed the design a bit… well actually I started fresh following the discussion. For admins it now resides in a single view tucked inside group profiles so that chat history is clear of all those requests, it's also more prominent and they have options to control if a link is active or not. If desired I can add generating new links. All in all, I think it's more spam resistant, granular and

[2020-05-28 15:06] hesterbruikman commented on #10179
🤔 depends if multiple invite links can be created. If yes, I'd say they can, but only in response to a new invite link. However we haven't discussed multiple invite links here, so I don't know if that's an option. If it's not, I'd suggest yes, until the admin Blocks the requesting user

[2020-05-28 15:11] cammellos commented on #10179
I would add in the issue that this is only possible with android if the app is not already installed, so that expectations are clear (so As an Android user ...). I would also remove `System requirement` section (I would leave technical requirements always out of the issues), just the functional ones, unless there are some hard technical requirement (i.e the one about the URL, although you can tran

[2020-05-29 08:54] hesterbruikman commented on #10714
[Status-debug-logs.zip](https://github.com/status-im/status-react/files/4700710/Status-debug-logs.zip)

[2020-05-29 10:02] #10718 closed, assigned to flexsurfer

[2020-06-01 07:50] errorists opened #10727 "Images 1.1 📷"
# Problem
During the development of the [images PR](https://github.com/status-im/status-react/pull/10609) (great job everyone!) we agreed to cut some things from the scope of the PR and work on those separately. This issue tracks them.

## Implementation

* [ ] Allow copying and posting an image to and from clipboard and sending those images in chat [Design](https://www.figma.com/file/aS1ct66VQ6V0

[2020-06-01 08:48] jakubgs commented on #10210
Shouldn't this be closed? @hesterbruikman ?

[2020-06-01 08:58] #10210 closed, assigned to churik

[2020-06-01 09:21] churik opened #10728 ""Frequently Asked Questions" link in "Need help" leads to 404"
# Bug Report

## Problem
In nightly builds link in Need help > Frequently Asked Questions leads to 404

#### Expected behavior
https://status.im/docs/FAQs.html is opened

#### Actual behavior
https://status.im/faq/ is opened; 404

### Reproduction

- Open Status
- Create account > open Profile
- section Need help > Frequently Asked Questions

### Additional Information

[comment]: # (Please do you

[2020-06-01 09:37] churik commented on #10728
#10723

[2020-06-01 11:19] #10714 closed, assigned to nobody

[2020-06-01 14:53] rasom commented on #10722
@guylouis @hesterbruikman I see "page not found" at https://status.im/keycard-integration

[2020-06-01 16:39] rasom commented on #10722
@guylouis do you mean that new link is https://keycard.tech? It is a bit unclear in the issue description.

[2020-06-01 17:46] hesterbruikman commented on #10722
@rasom as far as I know this is work in progress, but with high confidence content for https://status.im/keycard-integration will be ready and live by release. Let me verify in #marketing to be sure

[2020-06-01 18:14] hesterbruikman commented on #10722
Confirmed. https://status.im/keycard-integration  is the correct url and will be live when Keycard integration is released

[2020-06-02 09:13] rasom commented on #10722
thanks @hesterbruikman

[2020-06-02 09:19] hesterbruikman commented on #10719
For clarity, these are the current dialogs for regular multiaccount and keycard multiaccount. The issue is to change the keycard multiaccount message only as the keys can be accessed on another device with the pairingcode (not requiring the seed phrase)

![Frame 2](https://user-images.githubusercontent.com/35233054/83503064-d311ef00-a4c2-11ea-9ea9-cf3c288ee9ec.png)

[2020-06-02 09:29] errorists opened #10732 "Remove message spinners and 'Sent' status"
# Problem
We show spinners when sending a message for the purpose of guesstimating its sent status. The spinner persists as long as it wasn't received by a selected mailserver. Problem is, this can be misleading as recipients and other mailservers might already received your message in the meantime. This is followed by the 'Sent' label which in this configuration would have no further purpose.
It'

[2020-06-02 10:02] errorists opened #10734 "Show message timestamps on tap, remove from bubbles 🕙"
# Problem
Visible timestamps on all bubbles clutter up the chat and add noise when they're not needed. I recall we had a conversation here on how to make chat more 'readable', this is a huge part of it as you're asking your brain to filter out ambient, unnecessary information from a chat, all the time. Also, timestamps don't align that great hanging on odd random positions and in our case can be i

[2020-06-02 12:34] hesterbruikman opened #10737 "Notifications (Android) improvements"

[2020-06-02 12:39] #10486 closed, assigned to nobody

[2020-06-02 13:17] hesterbruikman opened #10738 "Collectibles 2"

[2020-06-02 13:19] #10519 closed, assigned to nobody

[2020-06-02 13:35] #10452 closed, assigned to rasom

[2020-06-02 13:40] guylouis commented on #9349
@rasom  I imagine you can close this one

[2020-06-02 14:05] #10719 closed, assigned to rasom

[2020-06-02 14:11] churik opened #10739 "Keycard reset is not possible during card pairing (and it leads to impossibility to pair card at all)"
# Bug Report

## Problem

Leftover from  #10655 (issue 14)
If during pairing keycard enter 3 times wrong passcode or already trying to use frozen card - resetting account is not possible, so basically it is wasted card (you can only update it using kecard-cli and card reader)

#### Expected behavior
can set new PIN

#### Actual behavior
can't proceed after 2 step
<img width="181" alt="Monosnap 202

[2020-06-02 14:11] churik commented on #10739
cc @guylouis

[2020-06-02 14:54] churik opened #10742 "On canceling bottom sheet on PUK entering app proceeds to the start of the flow of resetting PIN"
# Bug Report

## Problem

Leftover from  #10655 (issue 19)
Canceling resetting passcode flow after card freeze on entering PUK code leads to resetting flow to 1 step.

#### Expected behavior
same screen

#### Actual behavior
step 1/2 in Reset passcode flow
(in that case only 1 attempt for entering PUK is left, but you need to start over again)
![photo_2020-06-02 16 53 30](https://user-images.githu

[2020-06-02 14:55] churik commented on #10742
cc @guylouis

[2020-06-02 21:11] #10223 closed, assigned to nobody

[2020-06-03 06:54] #9349 closed, assigned to rasom

[2020-06-03 07:05] rasom commented on #10428
@churik tried on latest nightly, the issue is not reproducible on redmi note 8 pro, android 9

[2020-06-03 08:04] churik opened #10744 "Error at attempt to set custom-domain ENS as main"
# Bug Report

## Problem

![photo_2020-06-03 09 58 23](https://user-images.githubusercontent.com/4557972/83611085-c784fd80-a580-11ea-9877-56e465ec902a.jpeg) at attempt to set `.eth` name as main

#### Expected behavior
no error

#### Actual behavior
Null is not an object

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Add ENS name with custom

[2020-06-03 08:55] Serhy opened #10745 "Disable images in Release 1.4 and enabled Group chats back"
# Bug Report

## Problem

We need to disable images in Release 1.4 (currently in StatusIm-200602-180557-03d29a-release-universal.apk it's enabled)
Also we lost Group chats (but they are present in .e2e.env) - need to enable them back.

#### Expected behavior

No images icon in chats
Group chats are present on `Chats` -> `(+)`
#### Actual behavior

Images icon in chats
No Group chats are present on

[2020-06-03 08:56] churik opened #10746 "Arrow for quoted messages are shown only on your own replies"
# Bug Report

## Problem
<img width="445" alt="Genymotion for personal use - Google Pixel-for tests (1080x1920, 420dpi) - 192 168 58 101 2020-06-03 10-51-59 png 2020-06-03 10-52-59" src="https://user-images.githubusercontent.com/4557972/83616809-901a4f00-a588-11ea-96e4-db1b01e01680.png">

#### Expected behavior
Replies looks like in 1.3.

#### Actual behavior
Arrow is shown only for replying on ow

[2020-06-03 08:59] #10732 closed, assigned to flexsurfer

[2020-06-03 09:16] cammellos commented on #10745
This has now been done, would you mind checking and closing the issue if it's all ok?

[2020-06-03 09:29] churik opened #10747 "Can't search for 1-1 chat with ENS name"
# Bug Report

## Problem
No search results at attempt to search for 1-1 chats with users with ENS names

#### Expected behavior
1-1 chat is found

#### Actual behavior
no search results

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Start 1-1 with ENS name  (I.e. `sergey`)
- go back to home view
- Type `sergey` in Search field

### Additional

[2020-06-03 10:43] churik opened #10751 "Messages from blocked used are shown in public and group chats until reopening chat"
# Bug Report

## Problem
On 1.3 when you block user from public chat after redirection back you don't see messages from him. On 1.4 they are shown until you go back and open chat again from home view.

#### Expected behavior
no messages from blocked user

#### Actual behavior
messages from the blocked user are still shown

### Reproduction

[comment]: # (Describe how we can replicate the bug step

[2020-06-03 12:11] Serhy commented on #10745
Everything is fixed now!
Thanks @cammellos !

[2020-06-03 12:11] #10745 closed, assigned to cammellos

[2020-06-03 14:43] #10690 closed, assigned to Ferossgp

[2020-06-04 07:11] #10751 closed, assigned to cammellos

[2020-06-04 07:12] #10746 closed, assigned to cammellos

[2020-06-04 07:47] #10747 closed, assigned to cammellos

[2020-06-04 07:54] churik opened #10755 "ENS name with custom domain is not resolved in public and 1-1 chats"
# Bug Report

## Problem
ENS name with custom domain is not resolved in public and 1-1 chats

**Steps:**
- as user A: add ENS-name with custom domain
- as user A: send message to public chat
- as User B: join public chat, waiting for name to be resolved
or
- start chat with ENS-name with custom domain
- pay attention to chat header (should be ENS name)

**Actual result:** ENS name isn't shown in w

[2020-06-04 10:07] 0xc1c4da opened #10756 "Dark Mode does not change navigation bar colour"
# Bug Report

## Problem

When turning on dark mode in Status, the software navigation bar in the Android OS remains white.

#### Expected behavior

When I enable Dark Mode, I expect the navigation bar to turn dark.
When I enable System Mode and I have Dark System mode, I expect the navigation bar to turn dark.
When I disable Dark Mode, I expect the navigation bar to turn light.

#### Actual behav

[2020-06-04 10:36] #10744 closed, assigned to flexsurfer

[2020-06-04 10:36] #10755 closed, assigned to nobody

[2020-06-04 10:51] #9912 closed, assigned to jrainville

[2020-06-04 15:24] churik opened #10758 "Can't login or create account with keycard account after logout if push notifications are enabled"
# Bug Report

## Problem
At attempt to login with keycard after logout with enabled push notifications can't proceed - card is not recognized.

#### Expected behavior
can login;
if on this step try to create new account using "Generate new key" > keycard, the same issue will appear

#### Actual behavior
https://drive.google.com/open?id=17ZveIvJVq3Ya9aYpARPqNLL_J9RciTtC

### Reproduction

[comment]

[2020-06-04 15:24] churik commented on #10758
cc @guylouis @hesterbruikman @yenda

[2020-06-04 16:52] hesterbruikman commented on #10179
Updated based on @cammellos last comments. @andremedeiros can you look into if anyone/who is available to work on this in the coming weeks?

[2020-06-04 21:56] NikkotheAIDEV commented on #4102
If I'm individual I should write `SELF` under `MANUFACTURER`, right? Also `SUBMITTER NAME` should be the same as the name on my Apple Developer Account, right?

[2020-06-05 03:09] 0xc1c4da commented on #10756
duplicate of #10253

[2020-06-05 03:09] #10756 closed, assigned to nobody

[2020-06-05 07:45] hesterbruikman opened #10761 "Copy change for iOS only"
# Problem
`Block screenshots` and `hiding preview` on app switching works differently on iOS vs Android. This issue is to update the copy for iOS to accurately reflect the behavior.

### Current
`Block screenshots`
### Expected
`Hide preview`

##Background
iOS hides the preview while allowing screenshots, whereas Android has a single function that hides preview and blocks screenshots.

'How do I a

[2020-06-05 07:56] tbenr commented on #10669
@rachelhamlin I'd like to start working on this audio feature, if not yet allocated to someone :)
My plan would be to start working on the underlining audio functionalities first, UI later or maybe someone else

[2020-06-05 08:13] hesterbruikman commented on #10669
@tbenr that would be lovely! Please bear with me while I set up a bounty.

Rachel moved on to new adventures recently: https://www.honestday.work/

[2020-06-05 08:16] tbenr commented on #10669
ohh goodluck to rachel!

no rush at all for the bounty!

[2020-06-05 08:30] hesterbruikman commented on #10669
@cammellos where does this issue stand on the protocol level? Does it require multipart attachments and is there work required to implement that?

[2020-06-05 08:43] flexsurfer commented on #10669
hey @tbenr welcome back ;) we just finished sending images, and for this one we did some research, so we send images as base64 string, probably we want the same with sounds, so we need to record audio and send it as base64 and then be able to play it, there are a few libraries for rn, or probably we could implement file saving, reading converting in status-go, with images we send path to a local f

[2020-06-05 08:55] cammellos commented on #10669
Welcome back @tbenr!

as @flexsurfer said, we just implemented images, we have quite a lot of freedom in the format.

You can pass to status-go a filepath for example, and we can take care of the conversion, if necessary, for images we send the binary and we convert on base64 on receiving the message.

I had a quick look at how to implement it, the main challenge to me looked like that unlike imag

[2020-06-05 08:55] tbenr commented on #10669
@flexsurfer nice to talk to you again. Yes i saw what you did for images and we could go similarly with sound.

looking into this:
https://github.com/react-native-community/react-native-audio-toolkit

[2020-06-05 08:59] errorists opened #10762 "Make the Android Status bar notification icon same in appearance as its neighbours"
# Bug Report

## Problem

The Status notification icon in the status bar is using a blue colour fill, making it stand out unnecessarily from the rest.

#### Expected behavior

It should follow the same system appearance, usually that's a light grey colour and only use the alpha channel found in the asset.

Icons to be used can be found [here](https://www.dropbox.com/home/Exports/yenda%20icon)

###

[2020-06-05 09:01] flexsurfer commented on #4187
Still relevant in Statusv1.14.0 but now it always shows (1) if pn is enabled
![image](https://user-images.githubusercontent.com/11790366/83857880-ecfa3e80-a71b-11ea-983c-85968f3fc5bb.png)

[2020-06-05 09:03] tbenr commented on #10669
hi @cammellos, nice to talk to you again too :) yes it's clear. Thanks for the explanations. I'll spend some other time to find an inline solution before going to filesystem. I'll let you know!

[2020-06-05 10:33] #10758 closed, assigned to nobody

[2020-06-05 10:33] hesterbruikman opened #10764 "Support universal QR code scanner"
# Problem
Follow up on PR #10729 that was fixed #10690

This issue enabled scanning 1:1 chats, but did not yet included support for public chat or dapp scanning. A universal scanner can resolve this.

Universal scanner has existed in the past, but was removed from V1 in order to simplify the action list under the plus-button. At the time there was no design to give the Universal QR code scanner a

[2020-06-05 10:42] hesterbruikman commented on #10764
@churik @errorists would love to get your 👀 on this to check if all use cases are covered. @flexsurfer I believe you worked on the Universal QR code reader in the past. What would need to happen to bring it back?

@errorists do you think the universal QR code reader should eventually replace dedicated QR code readers? There could be a benefit in getting relevant error messages and e.g. prevent add

[2020-06-05 12:07] hesterbruikman opened #10766 "Add Notification Action on Android"
# Problem

Status' notification service on Android requires the app to remain in the foreground. Therefore a Foreground notification is shown to users as soon as they enable notifications.

In order the receive notifications the remains open and the keys unlocked. This poses a security risk for messaging when a phone is stolen while notifications are enabled and the service is running.

Currently

[2020-06-05 12:08] hesterbruikman commented on #10766
@yenda please add any details you think are necessary for anyone to work on this

[2020-06-05 13:57] andremedeiros commented on #10669
@cammellos I actually think we should lay the foundation for multipart attachments. After we do that we don't have to limit file sizes and people can build whatever they want on top of it.

Is the cost and complexity of implementing that a lot higher than going straight for audio messages?

[2020-06-05 14:21] cammellos commented on #10669
I would say it is,
the thing is that both audio messages and multipart can be worked on separately, the only dependencies is file size limit, but we would in any case limit audio messages to a reasonable size (what that is, is to be discussed).

What I think multipart depends on rather, is rate limiting by size (currently we limit only by number of messages, but if those messages are 1MB each, the

[2020-06-05 14:44] andremedeiros commented on #10669
You had me at

[2020-06-05 18:54] alesandroortiz commented on #10630
FYI, I know this issue is unrelated, but while trying to repro the missing onLoadStart behavior with my PoC app + Status.im's RNWV fork, I ran into an error due to a non-existent import.

I submitted a PR to fix. Am able to continue testing with the fix, so not blocked at the moment.

https://github.com/status-im/react-native-webview/pull/1/files

[2020-06-07 15:22] tbenr commented on #10669
@cammellos just an update on my current experiments\thoughts

first a summary of requirements we have so far:
1. playback: inline base64 data (nice to have)
2. recording: metering (to get a realtimeish waveform representation?)
3. playback: some sort of waveform representation

let's see:

1. react-native-sound plus this PR https://github.com/zmxv/react-native-sound/pull/635 seems able to to that

[2020-06-07 20:16] cammellos commented on #10669
Sounds good, thanks for looking into it @tbenr!
If waveform is a bit of a hurdle, shall we maybe implement it a later stage? (we can have a player just like whatsapp for example, at least at the first version). What do you say @errorists ?

[2020-06-08 06:16] errorists commented on #10669
enjoying the discussion! @cammellos re: waveform, can I please ask you guys to give it a shot first? In my experience every time I agree to carve out some UI deemed difficult for later, it never gets a follow up and @tbenr said it complicates things a bit and not that it's impossible :)

[2020-06-08 07:30] tbenr commented on #10669
@errorists one question for you: in your design, while recording there is a scrolling waveform so you see the last x seconds of registration. When rec is done you see the whole waveform.

what about having something like this while recording?
![image](https://user-images.githubusercontent.com/15999009/84000175-78fea700-a964-11ea-82cc-549548f2c4e1.png)

like last second or two of recording bars. Th

[2020-06-08 07:43] flexsurfer commented on #10669
imo, we're not developing professional sound editor, so having not the actual waveform sounds fine to me

alternative 2 looks more flexible ?

[2020-06-08 07:50] tbenr commented on #10669
@flexsurfer what is the best way to draw the peak bars?

this?
https://github.com/react-native-community/art

[2020-06-08 07:52] tbenr commented on #10669
my idea is that while recording we have few bars so each bar could be a single view.
in case of full peaks array, we have a ton of them (unless we cap to a low resolution representation)

[2020-06-08 07:54] errorists commented on #10669
@tbenr sure, we could do that, would need to adjust the design

@flexsurfer in general yes, you're right but it is the most well known and accurate representation of audio and it's useful as it will show you if you're recording too loudly or not loud enough. We have no deadlines here, so why not try.

[2020-06-08 07:55] cammellos commented on #10669
I would consider splitting this in 2 tasks to be honest.

While I agree with @errorists and I think he makes a fair point that often when we split tasks the second part never gets done, in this case it looks to me that most of the complexity will be the waveform, which is not going to provide the most benefit to the user (although it does look pretty neat), and we might delay the release of this f

[2020-06-08 07:58] flexsurfer commented on #10669
@tbenr  we already use https://github.com/react-native-community/react-native-svg it looks like a good fit for this task

[2020-06-08 07:59] tbenr commented on #10669
@cammellos
ok I start working on the audio module with:
1. metering feedback while recording
2. inline base64 data support for playback

agree?

[2020-06-08 08:00] cammellos commented on #10669
@tbenr sounds good to me, thanks!

[2020-06-08 08:55] errorists opened #10768 "Replace icons with the new set"
# Problem
We've redesigned our entire icon library for better consistency, appearance and brand recognition. This is a simple issue to replace the current library with the new one and maybe get rid of some obsolete icons and duplicates in the process

## Implementation

* [ ] Overwrite the current list of icon assets with the ones [found here](https://www.dropbox.com/sh/pkkztvl8n35pw32/AAC8LpLZKlO

[2020-06-08 09:51] hesterbruikman opened #10769 "Strip EXIF data from image"
# Problem
As a user I want to make sure no image can be traced back to me through exif data.

## Implementation
TBD

## Acceptance Criteria
All exif data is stripped before an image is send

## Notes
**Discussion**: Is it worthwhile to maintain date (without time)? This could help users receiving an image determine validity, i.e. was this an image of current events or past events?

[2020-06-08 09:51] churik opened #10770 "java.lang.AssertionError: No System TLS at attepmt to start app"
# Bug Report

## Problem

Sometimes e2e are randomly failing when app is starting with "No System TLS" - so far was caught by e2e, not real devices

#### Expected behavior
no error

#### Actual behavior
 Unexpected Alert is shown: 'java.lang.AssertionError: No System TLS'
Examples of e2e:
- https://saucelabs.com/jobs/f1e1aad320d7450bafae12b227b38f09?auth=7cb0d44691bea5fb277a6aa8c2ee019a (~30 % of

[2020-06-08 09:53] #10417 closed, assigned to nobody

[2020-06-08 09:54] #10474 closed, assigned to flexsurfer

[2020-06-08 09:54] #10475 closed, assigned to flexsurfer

[2020-06-08 09:59] hesterbruikman commented on #10769
@jarradh added stripping exif data to 1.5. What are your thoughts on the discussion note above? Wondering if leaving date makes sense or if that still poses privacy issues. Also depends if stripping exif is an all or nothing action and whether it's even possible to be selective

[2020-06-08 10:20] hesterbruikman commented on #10363
Cross posting proposed options and discussion by @flexsurfer: https://discuss.status.im/t/decentralized-push-notifications-for-ios/1718

[2020-06-08 10:20] hesterbruikman commented on #10462
Cross posting proposed options and discussion by @flexsurfer: https://discuss.status.im/t/decentralized-push-notifications-for-ios/1718

[2020-06-08 10:24] churik opened #10771 "Can't load old transaction history (> 8 Apr)"
# Bug Report

## Problem
Reproducible only on mainnet.
If open transaction history and tap "Load more history" more than once - no more history is loaded. Therefore, for my account I'm unable to load history older than 8 Apr.

#### Expected behavior
More history is loaded

#### Actual behavior
nothing happens

#### Notes

For the developer who will be investigating. Is it related to another PR? Ti

[2020-06-08 10:57] churik opened #10772 "Dictated messages on IOS are shown with `obj` on Android"
# Bug Report

## Problem
Messages, which are created with "Dictate" option on IOS, are shown with `obj` in the end of message on Android.

#### Expected behavior
No `obj` in the end of message

#### Actual behavior
<img width="186" alt="Monosnap 2020-06-08 12-55-08" src="https://user-images.githubusercontent.com/4557972/84022871-53cf6000-a987-11ea-8818-e346c905a982.png">

### Reproduction

[commen

[2020-06-08 12:21] churik opened #10773 "Standard settings for Push notifications are turned off by default in status app (Android 10)"
As a user
I would like to have "Show on lock screen", "Display popup windows while running on background",  "Notification badges" enabled by default
So that I have a better out-of-the-box experience when receiving notifications

#### Acceptance criteria
 "Show on lock screen",  "Display popup windows while running on background", "Notification badges" settings are enabled by default.

### Addition

[2020-06-08 12:46] cammellos opened #10775 "Implement rate limiting by size"
### User Story

As a user
I want to be protected against an attacker sending multiple large files
So that I won't be consuming too much bandwith

### Description

Currently we only rate limit data based on the number of packets, but an attacker could potentially send a lower amount of packets so that it does not breach the limit, each one of a large size, which would result in an excessive data co

[2020-06-08 12:47] cammellos commented on #10775
Specs PR: https://github.com/vacp2p/specs/pull/141
Implementation PR: https://github.com/status-im/status-go/pull/1989

[2020-06-08 13:10] churik opened #10776 ""Join Group" and "Decline invitation" are still displayed after removing user from group chat"
# Bug Report

## Problem

Buttons "Join Group" and "Decline invitation" are shown even user was removed from group chat.

#### Expected behavior

[comment]: # (Describe what you expected to happen. Please include designs if possible.
User can't join or decline invite to group chat if he was removed

#### Actual behavior
![photo_2020-06-08 15 06 02](https://user-images.githubusercontent.com/4557972

[2020-06-08 13:37] errorists commented on #10776
also, the second button `Decline…` is not updating its blue colour for dark mode :)

[2020-06-08 14:51] churik opened #10777 "No message in 1-1 chat when sending small amount of tokens to ENS name"
# Bug Report

## Problem
If sending small amount of tokens (0.00000001 BLT, 0.0000001 DGD, 0.0000000001 SNT) to user with ENS name - messages are not shown, but transactions are sent

#### Expected behavior
message in 1-1 chat

#### Actual behavior
transaction is sent, no message
![ezgif com-video-to-gif (20)](https://user-images.githubusercontent.com/4557972/84044766-45de0700-a9a8-11ea-82bd-b2bb0

[2020-06-08 15:19] churik opened #10779 "Keyboard is not closed if Scan QR code is opened and focus is set in Enter username field"
# Bug Report

## Problem

![photo_2020-06-08 17 14 05](https://user-images.githubusercontent.com/4557972/84047367-783d3380-a9ab-11ea-9327-d614dcae1765.jpeg)

#### Expected behavior
keyboard is closed

#### Actual behavior
keyboard overlaps part of the camera view

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Tap on +
- Set focus in "Enter us

[2020-06-08 18:47] jrainville opened #10782 "New messages scroll to the bottom even if the user manually scrolled up"
If you scroll up in a conversation to see previous messages, new messages should not scroll down automatically.

The automatic scrolling should only appear when the user scrolled at the bottom

[2020-06-08 18:50] jrainville commented on #10782
My bad, I created this issue in the wrong repo in Zenhub

[2020-06-08 18:50] #10782 closed, assigned to jrainville

[2020-06-09 06:57] alesandroortiz commented on #10630
@siphiuel Hi, nice to meet you over GitHub!

I got a local build running today, however I was unable to repro the missing onLoadStart event within the Status.im app.

This is on Android 10 with Android System WebView 83.0.4103.96 (Stable channel).

What environment produced those logs with the missing events? Particularly interested in the Android OS version and the Android WebView version + chann

[2020-06-09 08:06] StatusSceptre commented on #7633
@flexsurfer as you self-assigned, can I remove the bounty from this issue on Gitcoin?

[2020-06-09 08:07] StatusSceptre commented on #9754
Now closed on Gitcoin

[2020-06-09 08:09] flexsurfer commented on #7633
yes, thanks

[2020-06-09 08:24] StatusSceptre commented on #4391
@PascalPrecht shall I un-assign you from this issue?

[2020-06-09 08:31] StatusSceptre commented on #4606
@errorists I believe you already have designs for this. Could you add these here or create a new issue?

[2020-06-09 08:48] errorists commented on #4606
yes, the chat part is [here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=6942%3A34653) and the settings part is [here](https://www.figma.com/file/TNCyHKtR3sx5EL6YznFWUa4O/Profile?node-id=4717%3A1065)
It's work in progress, I've yet to document how the message bubble is presented.

This needs to be discussed with regards of security policy and technical feasibility. The securit

[2020-06-09 09:08] #10482 closed, assigned to nobody

[2020-06-09 09:14] #10722 closed, assigned to rasom

[2020-06-09 09:22] churik opened #10784 "If 2 keycard multiaccounts are opened on one device it is not possible to log in to second multiaccount until you manually log out from the first multiaccount"
# Bug Report

## Problem
When 2 keycard multiaccounts are opened on device and you close app when logged in to 1 multiaccount, at attempt to login to 2 multiaccount you'll get an endless processing spinner.

#### Expected behavior
Can login

#### Actual behavior
can't login to 2 multiaccount;
can't create or restore new multiaccount with keycard.

### Reproduction

[comment]: # (Describe how we ca

[2020-06-09 09:27] churik opened #10785 ""Make admin" icon is not shown on IOS"
# Bug Report

## Problem

![photo_2020-06-09 11 25 39](https://user-images.githubusercontent.com/4557972/84130750-f5b48280-aa43-11ea-913f-3428482fa7ce.jpeg)

#### Expected behavior
icon is shown

#### Actual behavior
no icon

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create group chat
- Go to group info
- Open user options

### Additional

[2020-06-09 09:51] StatusSceptre commented on #5776
URL scanning fixed in #10729
Support for universal QR code scanner will be reintroduced in #10764

[2020-06-09 09:51] #5776 closed, assigned to nobody

[2020-06-09 10:17] churik opened #10786 "Some assets (ADX in particular case) are not shown on wallet when they are received to multiaccount until manual adding"
# Bug Report

## Problem
When receiving some assets to wallet, sometimes they are not shown until manual enabling them in assets (transaction is confirmed) and reopening app.
Reproducibility 100% with ADX.

#### Expected behavior
ADX amount is shown

#### Actual behavior
ADX is not shown, amount is displayed only after (1) enabling ADX manually in assets and (2) restarting app
Video is [here]( htt

[2020-06-09 11:03] Ferossgp commented on #10785
fixed in https://github.com/status-im/status-react/pull/10686

[2020-06-09 11:04] churik opened #10787 "'Enter seed phrase input' is not centered"
# Bug Report

## Problem

![photo_2020-06-09 13 01 18 jpeg 2020-06-09 13-02-10](https://user-images.githubusercontent.com/4557972/84140224-8f366100-aa51-11ea-9818-2749536c60ed.png)

#### Expected behavior
on IOS and Android input is centered

### Reproduction

- Open Status
- Tap on Access key

### Additional Information

- Status version: release 1.4
- Operating System: iOS

[2020-06-09 11:56] churik opened #10789 ""Next" button is overlapped by keyboard on "Enter your seed phrase" and on "Create a password" screens"
# Bug Report

## Problem
![image](https://user-images.githubusercontent.com/4557972/84144241-3918ec00-aa58-11ea-9a93-1ce1fc30b83a.png)

![image](https://user-images.githubusercontent.com/4557972/84155621-d419c200-aa68-11ea-8bf0-c325f267e080.png)

Not reproducible on release 1.4

#### Expected behavior
Next button is visible

### Reproduction

[comment]: # (Describe how we can replicate the bug ste

[2020-06-09 13:10] bitgamma opened #10790 "Integrate new react-native-status-keycard with better error handling"
Until now, the method autoOpenSecureChannel and autoPair from the SDK returned the same type of exception on connection lost and other APDU related errors.

After merging https://github.com/status-im/react-native-status-keycard/pull/29 we will get a different exception type for the two situations. The steps to take in status-react are

1. Update to the new react-native-status-keycard
2. Verify tha

[2020-06-09 13:10] bitgamma commented on #10790
/cc @guylouis

[2020-06-09 14:09] Serhy commented on #10789
Has been fixed by https://github.com/status-im/status-react/pull/10778
Closing this issue

[2020-06-09 14:09] #10789 closed, assigned to nobody

[2020-06-09 14:26] churik commented on #10784
сс @guylouis

[2020-06-09 14:41] churik opened #10791 "Handling cases when wrong card is tapped"
# Feature Issue

Currently, cases when wrong card is tapped at attempt to long, sign transaction, change PIN and other flows are not consistent and can cause bugs.

### User Story

As a user, I want to see nice error if I'm using wrong card and want to be able to continue working with app after tapping valid keycard.

### Description
### Case 1: Wrong card on login or on send transaction flow
Endl

[2020-06-10 06:54] #10768 closed, assigned to Ferossgp

[2020-06-10 06:56] #10785 closed, assigned to nobody

[2020-06-10 09:06] hesterbruikman commented on #10770
Issue appeared on

- Phone model: Galaxy s10e
- OS: Android 10
- Version: 1.4.0 (20200604071356)
- Action: Launch

App was unresponsive, including dialog. Had to kill the app. Everything was fine on restart.

![Screenshot_20200610-104201_Status](https://user-images.githubusercontent.com/35233054/84248714-1ba45a80-ab0a-11ea-8b94-63926e232783.jpg)

[2020-06-10 09:13] churik opened #10793 "When changing name on adding new account is wallet in keycard multiaccount, 6-digit keyboard is displayed along with native keyboard"
# Bug Report

## Problem
![photo_2020-06-10 11 10 21](https://user-images.githubusercontent.com/4557972/84249406-01b74780-ab0b-11ea-8000-b0e129e056db.jpeg)

#### Expected behavior
native keyboard is closed

#### Actual behavior
custom keyboard is shown with native

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Create multiaccount with keycard

[2020-06-10 09:26] churik commented on #7996
still relevant on release 1.4

[2020-06-10 09:28] churik commented on #8404
not relevant anymore on release 1.4

[2020-06-10 09:28] #8404 closed, assigned to nobody

[2020-06-10 09:30] churik commented on #8405
Not relevant anymore on release 1.4; error now chainId3 doesn't match selected chain.

[2020-06-10 09:30] #8405 closed, assigned to nobody

[2020-06-10 09:31] churik commented on #8771
Didn't see it for a long time, suppose it is gone

[2020-06-10 09:31] #8771 closed, assigned to nobody

[2020-06-10 09:31] churik commented on #8809
Not relevant anymore on 1.4

[2020-06-10 09:31] #8809 closed, assigned to nobody

[2020-06-10 09:36] churik commented on #8840
not relevant anymore on release 1.4

[2020-06-10 09:36] #8840 closed, assigned to nobody

[2020-06-10 09:40] churik commented on #7497
Unread message counter is redesigned, don't think this issue is relevant anymore in 1.4

[2020-06-10 09:40] #7497 closed, assigned to nobody

[2020-06-10 09:45] churik commented on #9317
Issue with syncing is logged in #9805

[2020-06-10 09:45] #9317 closed, assigned to nobody

[2020-06-10 09:52] churik commented on #9212
Is not relevant anymore according to current desktop work (confirmed with @vkjr)
@jakubgs reopen if it is still needed

[2020-06-10 09:52] #9212 closed, assigned to nobody

[2020-06-10 09:52] churik commented on #9133
Is not relevant anymore according to current desktop work (confirmed with @vkjr)
@jakubgs reopen if it is still needed

[2020-06-10 09:52] #9133 closed, assigned to nobody

[2020-06-10 09:52] churik commented on #9098
Is not relevant anymore according to current desktop work (confirmed with @vkjr)

[2020-06-10 09:53] churik commented on #9091
Is not relevant anymore according to current desktop work (confirmed with @vkjr)

[2020-06-10 09:53] #9091 closed, assigned to nobody

[2020-06-10 09:54] hesterbruikman opened #10794 "'Release username' flow for stateofus.eth ENS name is broken"
# Problem
When the stateofus ENS username expires after 1 year, the user needs to 'Release' the name and re-register it. In order to do so, the user is directed to a blogpost with instructions https://our.status.im/managing-your-ens-name-in-v1/

Following the instructions is virtually impossible using Status alone:
- 'Release username' opens Browser selection, which does not include Status browser

[2020-06-10 10:00] hesterbruikman commented on #7757
Sorry I missed this @flexsurfer hasn't been an issue recently, but I'll dust off that phone to give it a try. Would appreciate some spam in this case as the issue occurs with having a decent number of chats open 0x04f1ab965a3db6433923ceba0488ff605f230aca4c4c93bb6563c10b700cfdbbed2a364c980b9cf9679f352584d4da44cc01fc1e7257f1d2b80ffff5af64aa129f

[2020-06-10 10:17] churik commented on #9469
@errorists most of the issues are addressed I guess, should we close this one?

[2020-06-10 10:19] errorists commented on #9469
@churik right most but not all, it's still awaiting @Ferossgp to follow up on points 10 and 8 🙏 we agreed to leave it open until then

[2020-06-10 11:24] churik commented on #9485
Issue is not reproducible on Status 1.4

[2020-06-10 11:24] #9485 closed, assigned to nobody

[2020-06-10 11:27] churik commented on #9487
Still relevant on 1.4

[2020-06-10 11:28] churik commented on #9490
still relevant on release 1.4

[2020-06-10 11:30] churik commented on #9606
can be closed after implementing  processing ERC681 links from wallet -> scan QR

[2020-06-10 11:30] #9606 closed, assigned to nobody

[2020-06-10 11:37] churik commented on #9652
Not relevant in 1.4

[2020-06-10 11:37] #9652 closed, assigned to nobody

[2020-06-10 11:46] churik commented on #9770
Not relevant with bottom sheet on v1.4

[2020-06-10 11:46] #9770 closed, assigned to nobody

[2020-06-10 11:46] churik commented on #9771
Not reproducible in 1.4

[2020-06-10 11:46] #9771 closed, assigned to nobody

[2020-06-10 11:49] churik commented on #9779
It is closed - now at attempt to restore the same account suggestion popup with "Unlock" button

[2020-06-10 11:49] #9779 closed, assigned to nobody

[2020-06-10 12:30] churik commented on #9905
Not relevant in 1.4

[2020-06-10 12:30] #9905 closed, assigned to nobody

[2020-06-10 12:38] churik commented on #10062
@cammellos
is it still relevant?
what device do you use to reproduce it?

[2020-06-10 12:40] cammellos commented on #10062
@churik it was reported by the community, I have asked for the device but did not get an asnwer back

[2020-06-10 12:45] churik commented on #10064
The prices are the same if add multi-account via seed phrase or add it as watch-only account for wallet.
@GregTheGreek reopen please if it is still happening to you.

[2020-06-10 12:45] #10064 closed, assigned to nobody

[2020-06-10 12:52] churik commented on #10218
It is not reproducible on v.1.4

[2020-06-10 12:52] #10218 closed, assigned to nobody

[2020-06-10 12:53] churik commented on #10235
Currently, login screen is shown, not a list of accounts, so it is fixed in 1.4

[2020-06-10 12:53] #10235 closed, assigned to nobody

[2020-06-10 13:17] #10787 closed, assigned to nobody

[2020-06-10 13:42] churik commented on #10286
still relevant on 1.4

[2020-06-10 13:43] churik commented on #10287
@flexsurfer this one is relevant?

[2020-06-10 13:55] churik commented on #10425
not reproducible on nightly 10/06/2020

[2020-06-10 13:55] #10425 closed, assigned to nobody

[2020-06-10 13:58] churik commented on #10429
From initial issue only public chat name is left, the rest is fixed

[2020-06-10 14:14] churik commented on #10638
It is still reproducible on v1.4.
In case if the transaction is dropped from network, I've got endless spinner on stickerpack

[2020-06-10 14:17] churik commented on #10728
fixed

[2020-06-10 14:17] #10728 closed, assigned to nobody

[2020-06-10 16:30] flexsurfer commented on #10287
yes

[2020-06-10 16:36] Serhy opened #10798 "Message counter not clears if user receives reply to user's message in 1-1/Group chat"
# Bug Report

## Problem

If UserA, while not being in respective 1-1/Group chat view, receives a reply message from UserB to UserB's own message - then after UserA read the reply message counter is not cleared. To be precise, such reply message on Chats view displayed as `2` (not `1` as it has to be for reply messages)

After re-login to account it's all fine
Also there is no issue in public chat

[2020-06-11 08:16] 0x-r4bbit commented on #4391
@StatusSceptre yes please!

[2020-06-11 12:46] churik opened #10801 "Message description should always be located below the image in chat"
# Bug Report

## Problem
Leftover from https://github.com/status-im/status-react/pull/10609.
Expected that is you attach some text to image, it is always will appear after image in chat. Currently it sometimes appears below, sometimes under image.

#### Expected behavior
description is below

#### Actual behavior
<img width="183" alt="Monosnap 2020-05-27 16-26-21" src="https://user-images.githubus

[2020-06-11 12:52] churik opened #10802 "Profile name is not shown on on long-press image in chat"
# Bug Report

## Problem
Leftover from https://github.com/status-im/status-react/pull/10609
No username is displayed on preview mode of image if tap on options.
<img width="183" alt="Monosnap 2020-05-27 16-26-21" src="https://user-images.githubusercontent.com/4557972/83033035-e2aeb500-a036-11ea-9a61-f87f158df70a.png">

#### Expected behavior
The profile name is shown

#### Actual behavior
No profi

[2020-06-11 15:15] jinhojang6 opened #10803 "Translation JSON files with '_' don't work"
Used the latest apk file (StatusIm-200611-025900-db202f-nightly-universal.apk)

**Test cases:**
Changed the device language into
- Korean
- German
- Turkish
- French
- Indonesian
- Spanish (Colombia)
- Simplified Chinese -> zh.JSON
- Traditional Chinese -> zh_TW.JSON
- Brazilian Portuguese -> pt_BR.JSON

**Bugs:**
Language JSON files with `_` showed wrong translations

- Brazilian Portuguese -> sh

[2020-06-11 16:43] 3esmit commented on #10803
The file for pt_BR is actually named `pt_br.json` instead of `pt_BR.json` https://github.com/status-im/status-react/blob/develop/translations/pt_br.json

maybe its a case sensitive issue? Not sure, because zh_TW is `zh_TW.json` and it's reported as not working as well?

[2020-06-11 19:54] tbenr commented on #10669
@cammellos at the end i decided to fork `react-native-audio-toolkit`, hopfuly they'll accept the PRs.

it has been harder to manage the base64 since it is based on `AVPlayer` instead of `AVAudioPlayer`. Never worked on objective-c stuff but I finally managed :)

working on this branch:
https://github.com/tbenr/react-native-audio-toolkit/tree/base64-data-url-support

now ios base64 is working. i'll

[2020-06-12 11:34] StatusSceptre commented on #10429
@Ferossgp Can you verify whether this issue will be resolved by Thursday's Quo test-inputs merge https://github.com/status-im/status-react/pull/10797#event-3433712104?

[2020-06-12 11:38] StatusSceptre commented on #10253
@Ferossgp I suspect this issue is resolved by `Change status-bar color on theme change` https://github.com/status-im/status-react/pull/10778 can you confirm?

[2020-06-12 12:13] #10439 closed, assigned to rasom

[2020-06-12 13:51] churik commented on #10803
сс @hesterbruikman  - should include it in 1.4?
(IMO would be better to 1.4.1)

[2020-06-12 14:03] churik opened #10807 "Input is search fields on Android is not aligned and cancel is not shown"
# Bug Report

## Problem
Text is cut, cancel doesn't appear after input some text.
All fine with IOS.
![photo_2020-06-12 16 01 08](https://user-images.githubusercontent.com/4557972/84510859-f4928800-acc5-11ea-8071-606b0f2a1e67.jpeg)

#### Expected behavior
Search field is the same

#### Actual behavior
Text is cut; no Cancle button

### Reproduction

[comment]: # (Describe how we can replicate the

[2020-06-12 14:44] churik opened #10808 "Can't recover keys from keycard"
# Bug Report

## Problem
No next button on "Enter pairing code" stage
![Sauce Labs | Test Details: 2020-06-12 16-41-29](https://user-images.githubusercontent.com/4557972/84514615-99639400-accb-11ea-8696-8ce082b68641.png)

#### Expected behavior
Can pair device with keycard

#### Actual behavior
No next button on "Enter your pairing code" screen

### Reproduction
**Prerequisites:** have initialized

[2020-06-12 14:44] churik commented on #10808
cc @guylouis

[2020-06-12 15:05] hesterbruikman commented on #10803
Agree. It's a shame, but after go ahead to Marketing I don't consider additions to release an option unless it's a blocker. Will add to 1.4.1 list on Zenhub

[2020-06-12 17:18] tbenr commented on #10669
android works as well. much easier.

![image](https://user-images.githubusercontent.com/15999009/84529216-59a7a700-ace1-11ea-9b10-71eecb29dc37.png)

switching to metering.

[2020-06-12 21:20] mulles commented on #8512
Congratulations to reproducible builds: https://our.status.im/reproducable-builds-with-nix/
-> Great work!

I wonder if this brings us a step closer to a submission to the f-droid store, does their build process support building with Nix?

[2020-06-13 10:13] benjaminaaron opened #10809 "No contract events reaching the frontend"
# Bug Report

## Problem
I can't find a way to make contract events reach my frontend in the Status browser. I reduced our [Fin4-dApp](https://github.com/FuturICT2) to the absolute minimum and made a few test cases.
👉  Code at [benjaminaaron/dev-dApp](https://github.com/benjaminaaron/dev-dApp), live at [dev.finfour.net](https://dev.finfour.net):

<kbd>
  <img src="https://user-images.githubusercon

[2020-06-13 16:22] benjaminaaron commented on #10809
**Update**: I included `ethers` and that works! 🥳
drizzle, web3 and @truffle/contract don't.

[2020-06-15 04:53] flexsurfer opened #10811 "There should be an option to continue opening suspicious urls"
# Feature Issue

There should be an option to continue opening suspicious urls

### User Story

Currently if status detects URL as phishing it's not possible to open such URL, there should be an option to continue opening

More details: https://discuss.status.im/t/web3-browser-blocking-content/1761

[2020-06-15 07:26] Ferossgp commented on #10253
@StatusSceptre no, #10778 fixed the color for the top system bar only

[2020-06-15 07:26] Ferossgp commented on #10429
Yes, this is fixed in #10797

[2020-06-15 07:26] #10429 closed, assigned to Ferossgp

[2020-06-15 07:44] flexsurfer commented on #10803
@jinhojang6 fixed Brazilian by renaming json `pt_br.json -> pt_BR.json` not sure about Traditional Chinese, because for me iphone uses   `:zh-Hant-US` which falls to `:zh`

[2020-06-15 09:31] jakubgs commented on #8512
It should. I just have to get back to dealing with F-Droid, and being alone in this kinda means I have many other priorities.