[2019-09-25 10:22] bshevchenko commented on #8443
@rachelhamlin and again no luck :(

[2019-09-25 10:33] guylouis commented on #9028
cc @yenda for his advice on the root problem
@rachelhamlin wdyt regarding priorities ?

I personally think we should have it part of v1, it comes down to being able to support :
- status manages several wallets(=multiaccounts)
- any multiaccount at creation can either be protected by a password on the phone, or by a keycard

If for some reasons (priorities) we prevent not supporting more than one

[2019-09-25 10:34] guylouis commented on #9028
cc @dmitryn too FYI

[2019-09-25 11:28] churik commented on #8819
Updated logs and video: https://saucelabs.com/jobs/ef23df5e879f45ff90c4005f6078fb0f?auth=120c5c03347eaa054ab252dbcd0ed0b9

[2019-09-25 11:56] rachelhamlin opened #9037 "Error states for new Tx overview: contract & network fees"
# Problem

We redesigned the transaction overview screen in #8026, but error states have not been updated to match.

There are two key error states we need to cover:
(1) When the user does not have enough ETH to pay for network fees (gas).
(2) Contract-related errors that are special cases arising from an inability of the contract to accurately calculate gas.

Initially we spec'd out these error s

[2019-09-25 11:57] rachelhamlin commented on #9037
cc @andmironov for your review and also @flexsurfer - do you know if this bottom sheet is implemented yet? If not, I will create a separate issue for it.

EDIT: [the old version of the screen](https://github.com/status-im/status-react/issues/8485#issuecomment-534986846) exists. We can continue to use that for this PR, with added error state for insufficient network fee. To be updated on Figma, ple

[2019-09-25 11:57] flexsurfer commented on #8485
it's implemented in a simple form
![image](https://user-images.githubusercontent.com/11790366/65598727-61c98600-df9c-11e9-9157-a4effae40806.png)

[2019-09-25 11:58] rachelhamlin commented on #8691
Closing this issue in favor of #9037, which combines this and #8485 into one.

[2019-09-25 11:58] #8691 closed, assigned to nobody

[2019-09-25 11:59] rachelhamlin commented on #8485
Thanks @flexsurfer! We can run with that for now. I will create a separate issue to handle the slider, but it can be done after v1 - agreed @andmironov?

Can you put the network fee error state on this design for the interim?

Let's continue within #9037. It replaces this issue.

[2019-09-25 11:59] #8485 closed, assigned to nobody

[2019-09-25 12:18] rachelhamlin opened #9039 "Implement network fee slider & custom setting"
# Problem

We want to go from this:
<img src="https://user-images.githubusercontent.com/15470435/65599552-06949500-df96-11e9-9d54-1b4b16f07a46.png" width=250/>

To this easy sliding scale, with optional custom setting:
![image](https://user-images.githubusercontent.com/15470435/65600095-5a53ae00-df97-11e9-890c-efd67ea1bf6b.png)

[Figma link](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobi

[2019-09-25 12:27] rachelhamlin opened #9040 "Hide 'export account' option for v1"
# Problem

The `Export account` menu option needs to be hidden from the individual account settings menu for v1, as the feature will not be introduced until later:

<img src="https://user-images.githubusercontent.com/15470435/65600492-1d3beb80-df98-11e9-81cf-c1d361595ae5.png" width=250/>

## Acceptance Criteria

When you click into an account within the account explorer and tap the '...' toolbar,

[2019-09-25 13:32] yenda opened #9043 "Verify reagent/react-native rendering assumptions"
# Problem

We need to test the following assumptions

- if I have 5 subscriptions on a view, and the 5 of them change,
does the view re-render once, 5, or some other random number of times?

- when I pass a map to a component, and I destructure that map in
the arguments and only use keys that don't change, does the component
still re-rerenders when the map changes?

Reagent tracks any dereferences

[2019-09-25 13:34] yenda opened #9044 "Load big .js files in native part"
# Problem

We have the following in the codebase:

[code]

this is big files going through the bridge

## Implementation

put it it native code for our webviews, for web3 it should be under an option since it can be enabled or disabled as a user option

[2019-09-25 13:34] yenda opened #9045 "Use images the right way"
# Problem

We have multiple way of using images

## Implementation

https://facebook.github.io/react-native/docs/images

Remove
[code]

## Acceptance Criteria

No more images in android/ and ios/

[2019-09-25 14:48] churik opened #9046 "Can't type ENS name in "New chat" screen (when start typing "0X04" appears)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when start to type ENS name, can't finish because "0X04" appears on the start of the string, and it is not possible to delete it.
Also when you paste valid ENS - it is replaced by public key

#### Expected behavior
can type ENS

#### Actual behavior
0X04 appears
![lop](https://user-images.githubusercontent.com/455

[2019-09-25 15:03] alexjg commented on #8443
@rachelhamlin brilliant, I don't have much bandwidth (literal and mental) this week but I should be able to get this sorted the early part of next week.

[2019-09-25 16:23] krisc commented on #6505
What's up with this issue? I'd like to give it a shot if possible.

[2019-09-25 18:22] acolytec3 commented on #8443
@alexjg FYI, I'd started poking around the code base trying to figure out how this one would work and it requires the one I'm going to try and finish (#8027) before you'll have anything to work with since the currency conversion isn't currently in the code.  Whenever we get there, this is the code that will render the activity indicator they want.  I got that much working already. :-)

[code]

[2019-09-25 19:30] yenda commented on #8027
@acolytec3 note that the comment above is not correct, you should not call cryptocompare for this bounty. This bounty is much simpler than that. If you are not familiar with subscriptions check re-frame GitHub repo they have great documentation, as well as the subs.cljs namespace where most of the subscriptions are declared, including :prices

What you need to do is simply to make a subscription t

[2019-09-26 02:44] 3esmit commented on #8968
I guess is a different issue now.

[2019-09-26 02:48] 3esmit commented on #9037
Please, don't totally hide 'data' field from contract calls.

[2019-09-26 04:06] yenda commented on #8968
Ok I agree with Ricardo we should not allow it

[2019-09-26 07:45] flexsurfer opened #9048 "Remove UUID related code"
UUID is not used anymore, we need to remove all related code
Actually mostly revert this commit https://github.com/status-im/status-react/commit/00b8ae311d9a653d4c6402e6a3ad70a5082f1fda

[2019-09-26 08:04] churik commented on #9046
Was introduced on nightly 11/09/2019

[2019-09-26 08:10] yenda commented on #9046
@siphiuel could it be b215292b2307a1f59080d480d96e2e8016dee64a ?

[2019-09-26 08:37] vitvly commented on #9046
@yenda hm, could be, have to investigate where this 0x04 comes from

[2019-09-26 08:40] yenda commented on #9046
It comes from `status-im.ethereum.ens` uncompressed public key

[2019-09-26 08:45] yenda commented on #9046
[code]
in `new_chat.views`, the problem is that new-identity should not be the default value if there is an error

[2019-09-26 09:42] vitvly commented on #9046
Will fix this, introduced in my PR, thanks @yenda for the hint.

[2019-09-26 10:34] yenda opened #9050 "In recovery, we need to refuse any mnemonic with words out of our supported BIP-39 dictionaries"
# Problem

As a user I want to have only BIP39 seedphrases so that I won't be using a memory wallet which is inherently unsafe.

# Description

_Updated description on 31/10/19. Issue is ready for pick-up._ [RH]

https://github.com/status-im/status-react/pull/9005#issuecomment-535437102

We MUST not let the user enter invalid seedphrases (not valid based on BIP39)

The roadmap for this feature:

[

[2019-09-26 12:47] yenda commented on #9040
@rachelhamlin what was that option suppose to do exactly?

[2019-09-26 13:00] rachelhamlin commented on #9040
@yenda pretty sure it's for this keystore flow: https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Mobile-wallet?node-id=3294%3A31930 (I wasn't part of that design review)

[2019-09-26 16:24] hesterbruikman opened #9054 "Update Onboarding to include illustrations"
# Problem
The current onboarding flow includes .

The illustrations have been designed to bring across the value proposition and playfully explain key concepts of the Status core app; keys, whisper communication, dedicated browser.

## Implementation
Follow Figma design to display 3D images. Specification on dimensions to follow in week of Mon sep 30.

## Acceptance Criteria
Positioning according

[2019-09-26 16:24] hesterbruikman commented on #9054
cc @rachelhamlin @errorists

[2019-09-26 17:35] yenda commented on #8535
https://docs.google.com/document/d/1Mp6Dr_n0h_xwyKBiLcdU4TBggXRDlT4ShmOVnMgqzC8/edit?usp=sharing

require some very complex changes in status-go and native code.

The only argument to not do it in status-react was that it is risky because of dependencies, but it's kind of ridiculous considering that the seedphrase is going through status-react anyway so until we have some kind of 100% native eleme

[2019-09-26 22:51] acolytec3 commented on #8027
@yenda, thanks! I've got a start of things following your suggestion and will hopefully get a working PR in the next day or two. Just still navigating through the forest of tooling so my productivity is still kind of slow.

[2019-09-27 02:15] bitsikka commented on #8981
I am still on this and 8847. Sorry for delays. It is due mainly to my own temporary motivational deficiencies and distractions :p

[2019-09-27 03:01] bitsikka commented on #7990
This issue might in some ways relate to `statusBar` which is also a concern of #8981 [Topbar] 🤔 . And what is done to resolve this, could affect that general area.

Keeping an eye on this one :)

[2019-09-27 05:03] cammellos commented on #8865
Can't replicate in latest develop, might have been fixed in the meantime, @status-im/status-core  could anyone try to replicate as well? If another can't replicate we can close the issue.

[2019-09-27 06:24] yenda commented on #8535
@rachelhamlin @siphiuel @corpetty @flexsurfer @andremedeiros @andmironov

TLDR: So the simple approach is just about decoupling the user secret (previously password, after that PIN or biometrics) and the encryption key of the db+keys by using the hash of the seedphrase as encryption key, stored in the keystore, and releasing it on correct pin code or biometric (the simple user secret).
My gutsfeel

[2019-09-27 07:19] rachelhamlin commented on #8535
@yenda thanks for bringing some critical thinking here :)

I don't have much POV to offer on the implementation - but because this is not included for v1, I'd suggest we discuss it during the core sync on Monday, and later rank its priority during our Oct 15 core planning session.

[2019-09-27 07:46] rachelhamlin commented on #8981
You're doing great @bitsikka 😄 Thanks for the update.

[2019-09-27 07:47] yenda commented on #8535
after v1 is too late, we should get this as part of the audit, the implementation is negligible we need to get the concept audited as well as the validity of the use of `.setInternetCredentials` to protect a secret in keystore, which is also critical as of now anyway since it is used for storing the password

[2019-09-27 08:09] churik opened #9055 "Can't restore keycard account or pair card ("Cannot retrieve a valid key for a given account" error)"
### Description

*Type*: Bug
*Summary*: when restoring multiaccount that stored on keycard:
1. ordinary account is restored (login with password)
2. Cannot retrieve a valid key for a given account: no key for given address or file at attempt to login.
The same behavior is reproducible for pairing keycard to the new device (after unpairing).

#### Expected behavior
the account is restored; can log

[2019-09-27 09:57] churik opened #9057 "Nothing happens when holding keykard right back agains after error"
### Description

*Type*: Bug
*Summary*: it is not possible to continue working with keycard from the same screen after any error (i.e. "Not keycard applet installed") at attempt to hold the same card to the back of the phone "Connection to the card is lost" appeared, and if you hold right card - nothing happens. To proceed you need to go back and open this screen again.

Screens where I can reprod

[2019-09-27 10:39] yenda commented on #8180
The proposal here https://github.com/status-im/status-react/issues/8535#issuecomment-535609803 is directly relevant to this issue, because to avoid having to login with keycard you need to store the chat account on the device and encrypt it with a secret stored in the keystore.

So I see it working that way:
- if the device has no secured enclave, it still works as of now and there is no way to lo

[2019-09-27 10:45] guylouis commented on #8180
cc @andmironov @yenda
also, as discussed furing today's weekly, this should go through a design review, to make sure the full experience (no keycard/keycard, biometric/no biometric) is consistent, and user is not lost

[2019-09-27 11:44] rachelhamlin opened #9058 "Separate status-react issue templates into bug & feature"
@jakubgs would you do the honor? Assuming we can override the existing templates in status-react (`Full Bug Report` and `Simple Issue Report`), I think this makes more sense:

### Full Bug Report --> Feature Issue

[Old template in hackmd](https://hackmd.io/wR7LASy4R2uT2uy0XK2DXg)
[Proposed template in hackmd](https://hackmd.io/8Qnps_oQRWWcti-7kMcYxw)

### Simple Issue Report --> Bug Report

[Old

[2019-09-27 11:51] errorists commented on #9054
All of the assets [can be found here ](https://www.dropbox.com/sh/7k6agwbldlvgbrc/AABPmVgmTwjsB8ZkXLEY98w8a?dl=0)

Already compressed, **don't fiddle with the images pls!**

[2019-09-27 11:54] jakubgs commented on #9058
What about the `Issue default title`, do you have any suggestions for this?

(Also, we have https://notes.status.im/, use that instead of https://hackmd.io/)

[2019-09-27 12:12] churik opened #9059 "Add warning message at the last PUK-code attempt"
###  User Story

As a user, I want to see that my card will be blocked and I can't use multiaccount anymore if I entered 3 times wrong PIN code and 4 times wrong PUK-code.

### Implementation
Add warning on last PUK-code attempt with a clear explanation that account will be not usable if you enter invalid PUK-code.

### Acceptance Criteria
Warning is implemented

[2019-09-27 12:50] jakubgs commented on #9058
PR for updating the templates: #9060

[2019-09-27 12:58] churik commented on #9057
@andmironov please take a look

[2019-09-27 14:01] churik opened #9061 "Account balance is not fetched when multiaccount is created with keycard"
###  Description

*Type*: Bug

*Summary*: if multi-account is created with the keycard, the balance of account is not fetched.
It remains with "..." instead of converted value regardless of network.
Is reproducible for me every time and only with accounts, created with keycard.

However, the overall balance of the whole multiaccount is updated after relogin - but balance of separate account remain

[2019-09-27 14:12] Serhy opened #9062 "Can recover account with seedphrase created with keycard"
***Type***: Bug
Account created with keycard can be recovered in Status as normal account.

***Summary***: Account created with keycard can be recovered in Status as normal account.

#### Expected behavior
Image for expected case!
<img width="383" alt="Screenshot 2019-09-27 at 17 06 17" src="https://user-images.githubusercontent.com/8749671/65775596-27e9b280-e149-11e9-998e-95c1f0c7f3ee.png">

####

[2019-09-27 14:15] Serhy commented on #9062
@guylouis the expected result of this behavior based on relatively old requirements. Would there might be another expected result?

[2019-09-27 17:09] rachelhamlin commented on #6505
@krisc hey there! Thank you for applying. From my perspective, this is a rather low priority. What is it that interests you about this issue? We have a backlog of more pressing items & I might suggest that we scan that for a match for your skills, and create a new bounty for you instead. :)

[2019-09-27 17:49] rachelhamlin commented on #8535
I spoke with @cammellos about this as well. What do you think of spending a day next week to spike on it, ensure that `there's a clear migration path for existing users (which should be easy, we have done it before, but best to spend some time ensuring that, since a lot of things have changed)` and then marking it as nice-to-have?

I don't want to get caught up in thinking that everything account

[2019-09-27 18:28] yenda commented on #8535
@rachelhamlin yes if @corpetty validates the concept I can already do the underlying part that doesn't have any UI changes but ensures that there will be no need to change the encryption key of the db and keyfiles, which is not that simple I believe because otherwise we would have the "change password" feature for a long time already. That means storing the sha3 of the mnemonic in the secure encla

[2019-09-28 04:44] cammellos commented on #8535
@yenda just some additional conxtex about re-encrypting the db:

We already had data migrations re-encrypting the db, basically what we do is use the filename as version, i.e `{installation-id}.v1.db`.
Both keys are then passed  `old-key` `new-key`, if a `v1.db` is found, we copy to `v2.db`, open with `old-key`, re-encrypt with `new-key`, delete `v1.db`. Once the migration is done, `old-key` can b

[2019-09-28 10:12] yenda commented on #8535
@cammellos thanks for the info I didn't know it was feasible now already without changes. However there is still the issue that if we want to use the sha3 of the mnemonic and the user already backed it up, we need to design and implement a specific flow for the migration, which I'd rather avoid considering we could just implement the decoupling of password/encryption key now (for devices with keys

[2019-09-28 10:25] cammellos commented on #8535
yes, that's a good point, so at least that needs taking care of if we want
to have a smooth transition

On Sat, Sep 28, 2019, 12:12 yenda <notifications@github.com> wrote:

[2019-09-28 11:41] yenda opened #9064 "Can we abstract pairing code & PUK from the seed to simplify the user experience ?"
### User Story

As a User I don't want to deal with pair code and PUK code because I already have a card, a pin code and a seed phrase to deal with.

### Description

Since the app is setting both when creating the keycard account, both code could be replaced by something derived from the seed phrase (to be recoverable by elements I already know instead of new ones). I would suggest sha3 of seed p

[2019-09-28 12:00] #9040 closed, assigned to nobody

[2019-09-28 14:14] speedyFixer commented on #7197
I'm back! Thanks for waiting :)

[2019-09-29 06:20] weekly-digest[bot] opened #9066 "Weekly Digest (22 September, 2019 - 29 September, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 44 issues were created.
Of these, 12 issues have been closed and 32 issues are still open.
## OPEN ISSUES
:green_heart: #9065 [upgrade Go: 1.11 > 1.12](https://github.com/status-im/status-react/pull/9065), by [jakubgs](https://github.com/jakubgs)
:green_heart: #9064 [P

[2019-09-29 14:53] alexjg commented on #8443
@gitcoinbot I'm still planning on working on this, although it looks like it may have already been resolved in #8027

[2019-09-30 08:24] errorists commented on #9054
<img width="510" alt="Screenshot 2019-09-30 at 10 22 43" src="https://user-images.githubusercontent.com/4932774/65861394-75923500-e36c-11e9-855b-ba789aeb4b1d.png">
<img width="530" alt="Screenshot 2019-09-30 at 10 22 50" src="https://user-images.githubusercontent.com/4932774/65861397-775bf880-e36c-11e9-9bb0-b5d26c5c724a.png">

[2019-09-30 08:38] #9034 closed, assigned to nobody

[2019-09-30 08:48] rachelhamlin commented on #9028
@yenda pinging you again - do you have insight into the problem?

It seems logical to include. I am worried about the size of the v1 backlog. But if we don't support multiple keycards in v1, we need screens to explain that.

[2019-09-30 08:50] dmitryn commented on #9028
@rachelhamlin it's fixed in https://github.com/status-im/status-react/pull/9053

[2019-09-30 08:53] rachelhamlin commented on #9028
Awesome @dmitryn!

[2019-09-30 08:54] rachelhamlin commented on #8927
@yenda FYI to request a bounty, please label 'bounty-awaiting-approval' and add to project Status Bounty Tracker, I'll be much more likely to see it!

[2019-09-30 09:22] guylouis commented on #9050
@dmitryn @andmironov
any design work needed here ?

[2019-09-30 09:29] yenda commented on #9050
yes we need a design for the auto completion of the words

[2019-09-30 09:36] guylouis commented on #9062
@Serhy
do you mean that
- user has a multiaccount on his phone created with seed1
- user decides to create a new multiaccount, which : is protected by keycard, uses the same seed1

and in this case
- there are two multiaccounts on the phone with the same seed1, one being a keycard multiaccount, and the other one a non-keycard ?

If yes, that's an issue since there should never be two multiaccounts

[2019-09-30 09:49] yenda commented on #8877
@churik is it reproducible?

[2019-09-30 09:49] yenda commented on #8865
@churik is it reproducible?

[2019-09-30 09:50] churik commented on #8877
I'll take a look today, but I suppose yes (no "help to reproduce" label).
Nastya rechecked it

[2019-09-30 09:51] churik commented on #8865
It's fixed, yes

[2019-09-30 09:51] #8865 closed, assigned to cammellos

[2019-09-30 09:51] yenda commented on #8852
@churik is it reproducible?

[2019-09-30 09:52] guylouis commented on #9064
This is a nice idea to simplify user's complexity and the numbers of 'codes' he needs to remember/write down

Just to clarify current model:
The pairing code + PUK + PIN are attributes of the cards and:
- are set-up at initialization stage, before any seed is loaded
- are independent of the seed
So in current model, a user could have a card fully set-up and then reset it (removes seed), he'd keep

[2019-09-30 09:54] yenda commented on #8810
It's fixed since the alert was implemented, though now we are moving towards no invalid seedphrases allowed at all

[2019-09-30 09:54] #8810 closed, assigned to nobody

[2019-09-30 09:55] yenda commented on #8772
Fixed

[2019-09-30 09:55] #8772 closed, assigned to nobody

[2019-09-30 10:14] churik opened #9071 "Quoted messages (replies) contains chat key instead of generated name"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*:  instead of 3-word name chat key is shown when you reply to a message.

#### Expected behavior
The reply contains a randomly generated name

#### Actual behavior
![photo_2019-09-30 12 12 54](https://user-images.githubusercontent.com/4557972/65870018-ac237c00-e37b-11e9-9f1b-3b781ba4682f.jpeg)

### Reproduction

[c

[2019-09-30 10:16] bitgamma commented on #9064
From a security point of view, you'd be entering the seed on all your devices, so you are widening the attack window a lot. With the current solution, the attack window for the seed phrase (which the most valuable secret) exists only when you load a seed phrase on the card and that should happen once per seed phrase. With the proposed solution, the attack window is every time you pair a device or

[2019-09-30 10:30] #8883 closed, assigned to nobody

[2019-09-30 10:30] #8882 closed, assigned to nobody

[2019-09-30 10:37] yenda commented on #9064
@bitgamma I think it can still be solved in an elegant way for the user. There is two possible cases where the user would pair the keycard with a new device:
- user has a new device, and still has the old one: we can have a flow that allows the old device to show a qr code of the pairing code and the new one to scan it, that way the user doesn't have to enter any seed phrase, with this flow the us

[2019-09-30 10:45] #8739 closed, assigned to nobody

[2019-09-30 10:46] #8605 closed, assigned to nobody

[2019-09-30 10:54] #8068 closed, assigned to nobody

[2019-09-30 10:55] #8028 closed, assigned to nobody

[2019-09-30 11:17] bitgamma commented on #9064
The idea of transferring the codes from one device to the other is great! It is both more secure and more convenient than typing the seed phrase everytime. I think the loss of old device scenario is at least less likely to happen and so the security compromise becomes much easier to accept.

Since the user can change pairing code and PUK (using a different app for example) however we must also be

[2019-09-30 12:09] hesterbruikman commented on #9064
+ 1. The reverse would be great for desktop onboarding as well. Although I imagine more complex as the old device somehow needs to know if the QR code of a new device can be trusted. For another time.

I see this compromise totally dependent on the use case of Keycard. Meaning the use of Keycard as a _cold storage_ vs keycard as a _cash alternative_. For the scenario of a cash alternative, the amo

[2019-09-30 12:12] yenda commented on #9064
Could you describe what you mean by reverse here @hesterbruikman

this can already be done by just removing the seed phrase.

[2019-09-30 12:21] bitgamma commented on #9064
@hesterbruikman this is a scenario we have considered. Version 2.3 of Keycard (unreleased) also includes a KeycardCash applet which has no authentication code at all (not even PIN and the keypair is generated automatically on card) and is meant to be used as a cash equivalent with payment terminals. The applet is parallel and separate from the main wallet applet so one could use only one applet or

[2019-09-30 12:44] hesterbruikman commented on #9064
@yenda with reverse I mean accessing a multiaccount you already have on mobile on desktop. As I imagine desktop can't necesarily scan a QR code shown on the mobile client, I suspect the mobile client needing some sort verification that the desktop client can be trusted. In other words, I'm not clear on how that would work.

@bitgamma cool, I didn't realize KeycardCash was already implemented!

[2019-09-30 13:00] yenda commented on #9064
@hesterbruikman it is not really relevant to this issue anymore but then we could have a dedicated flow on desktop that shows a QRCode and when you scan from the mobiles it recovers the account on the desktop. Unless we are planning to have the wallet on desktop I think the way it would work would be that the desktop has a special flow that creates and starts a throaway account, when the mobile sc

[2019-09-30 13:17] corpetty commented on #9064
There might be something in the way WhatsApp does desktop, where it pairs
with a phone.  @3esmit has spent some time thinking about this and it's
worth looking into.  I'm trying to get caught up on this on the phone.

On Mon, Sep 30, 2019, 9:00 AM yenda <notifications@github.com> wrote:

[2019-09-30 13:28] hesterbruikman commented on #9064
Will move the conversation to a more relevant place. 👍

[2019-09-30 13:33] #8973 closed, assigned to nobody

[2019-09-30 13:55] #8945 closed, assigned to nobody

[2019-09-30 13:56] #9048 closed, assigned to nobody

[2019-09-30 14:08] guylouis commented on #9028
@chu @rachelhamlin sorry if the question was already addressed and the answer is obvious: in the new QA process who closes issues like this one ?

[2019-09-30 14:15] #8934 closed, assigned to nobody

[2019-09-30 14:16] guylouis commented on #9050
pinging @rachelhamlin too here

given the number of things to complete for v1, we could consider to go for a stepped approach:
- step 1/ (like Trust wallet does, most minimalist approach) user enters seed, if mnemonic is not correct (some words are not part of dictionary, or the checksum is not ok) then when user validates mnemonic we show a minimalist error message "seed phrase not correct" and t

[2019-09-30 14:24] yenda commented on #9028
@guylouis if the PR that claims to fix is merged it is closed automatically

[2019-09-30 17:03] #9058 closed, assigned to nobody

[2019-09-30 17:05] krisc commented on #6505
@rachelhamlin I just browsed through open bounties for Status in the Gitcoin explorer. I wanted to work on this one as a way to warm up to the Status codebase since haven't worked on Status for a couple months.

Is there a way for me to browse through issues by priority?

[2019-09-30 19:35] janus commented on #6505
@rachelhamlin

Please I have free time and would like to get involved in your pressing items. Where is the list of pressing items?

[2019-10-01 02:20] acolytec3 commented on #8027
@rachelhamlin Just checking in on this.  I've applied on gitcoin and haven't officially been accepted to work on this yet though my PR is close to done (pending final review from the devs/designers).

[2019-10-01 05:41] 3esmit commented on #9050
Agree with step based. Step 1 is the MVP, Step 2 and Step 3 are UX improvements.

[2019-10-01 05:49] oskarth opened #9081 "Bandwidth usage way too high for limited data plan"
# Problem

As a user with a limited data plan, I want the bandwidth usage to be substantially lower, so that I can use Status on 3G/4G with a limited data plan.

## Details

[code]

Using iOS, current period under Cellular data says the following for similar apps:
- Status 14.8 GB
- Telegram 1.8 GB
- Line 884 MB
- Fastmail 210 MB
- Signal 203 MB

Note that all apps outside of Status have attachmen

[2019-10-01 05:51] oskarth commented on #9081
^ fyi @status-im/status-core @rachelhamlin @cammellos @jakubgs

[2019-10-01 06:54] cammellos commented on #9081
@oskarth which version of the app are you running? could you please add it to the description

[2019-10-01 09:01] oskarth commented on #9081
@cammellos done

[2019-10-01 09:11] vitvly commented on #8981
@flexsurfer Do we want to integrate it with react-navigation's header? https://reactnavigation.org/docs/en/headers.html#replacing-the-title-with-a-custom-component.

[2019-10-01 09:15] rachelhamlin commented on #9081
It's actually on my mind, but not captured, you're right @oskarth. To justify that slightly, we haven't had mental bandwidth to focus on much outside of SNT utility, multi-account, keycard and bugs this year—until now. So bandwidth will be a topic during our Oct 15 planning session (discuss post TK today).

The issue of capturing user feedback is something that I very much hope to prioritize now t

[2019-10-01 09:30] oskarth commented on #9081
Yeah that's fair, I think it's a larger systemic issue though, as user's feedback doesn't make its way to GHIs. Perhaps cause it is too intimidating? Or they give feedback in other forums and then there's a lack of follow up? Something re community link missing here, not quite sure what. cc @jonathanbarker @j-zerah FYI.

I'd like this to be an open discussion, but we can bring it up there as well.

[2019-10-01 09:48] cammellos commented on #9081
There's also to note that the version used for bandwidth is currently still listening to the old shared topic, which will be disabled for v1.
From the bandwidth tests https://docs.google.com/spreadsheets/d/13kffxZaPnvULoy5Qh5sZSI2551KusCLJWUcdhKyobkE/edit#gid=0 , that version is ~6 times more bandwidth hungry than v1 (15 MB vs 94), although the benchmark are to be taken with a pinch of salt.
Curre

[2019-10-01 09:51] vitvly commented on #8708
@Serhy is it still reproducible?

[2019-10-01 09:57] vitvly commented on #8564
@Serhy does it still reproduce? Error description in the image above suggests that it could be resolved in https://github.com/status-im/status-react/pull/8868

[2019-10-01 10:10] vitvly commented on #8998
Just checked that password input has autofocus set, so need to more how this can be reproduced. Is it on iOS?

[2019-10-01 10:12] vitvly commented on #8901
Added accessibility-label to `Learn more` links in https://github.com/status-im/status-react/pull/8903.

[2019-10-01 10:13] #9071 closed, assigned to cammellos

[2019-10-01 10:15] Serhy commented on #8708
Not reproducible anymore with the latest develop build (nightly October 01).
Thanks @siphiuel ! Closing the issue.

[2019-10-01 10:15] #8708 closed, assigned to nobody

[2019-10-01 10:36] bitsikka commented on #8981
Thanks for bringing this up @siphiuel 👍

I'll see how to make topbar play proper with react-navigation, as the approach (previous/new(so-far)) has been to ignore react-navigation.

I did wonder about it sometimes, because it has been a while since I noticed that currently, (in the continued ignoring approach), the transition from chat-list to specific chat, (the header area transition), in iOS (so

[2019-10-01 12:57] Serhy commented on #8564
@siphiuel  No, can't reproduce.
Now, with the latest nightly, there is no such crash. App simply re-opens if it was closed (lost connection or something like that if I recall correctly about the reason of when that crash happened in the past).
No crash errors now.
Closing the issue.

[2019-10-01 12:57] #8564 closed, assigned to nobody

[2019-10-01 14:21] andremedeiros commented on #9081
Commendable effort, @cammellos! What does this involve and how hard would it be to get this to run as part of the test suite?

[2019-10-01 14:45] guylouis opened #9084 "Improve BIP-39 mnemonic entry experience"
**Description**

When user recovers a BIP39 12 words mnemonic, and the mnemonic does not fullfill BIP 39:
- one or some words are not part of the dictionary we store in status
- the checksum is not good

then we show a basic error message following step 1 of the description in
https://github.com/status-im/status-react/issues/9050

**Problem**

Some guidance could be provided to the user for better

[2019-10-01 14:45] guylouis commented on #9084
cc @rachelhamlin @hesterbruikman @andmironov

[2019-10-01 14:45] guylouis commented on #9050
This issue is thus about step 1, and will be closed once step 1 is done.

No design work needed.

If words are bad, or checksum is bad, error message can be : "Your seed phrase is not correct, please try again"

Improvements will be provided with https://github.com/status-im/status-react/issues/9084

[2019-10-01 15:01] guylouis commented on #9064
After discussion on 01/10, one possible implementation:

* pairing code and puk are derived from seed (exact hash tbd)
* design impact
      - no more puk+pairing code screen in onboarding
     -  no more mention of puk + pairing code in leaflet
      - to manage case of a user that wants to use a new phone
             - one screen to show pairing code in the form a QR code
             - in 'rec

[2019-10-01 15:05] hesterbruikman commented on #9050
Additional step here for which I'm curious if it's feasible at all:

step 4/ prevent native on-screen keyboard from auto completing the seed phrase. Currently having the first 2 letters of my phrase is all I need to recover:)

[2019-10-01 15:34] hesterbruikman commented on #9081
Thought on the UI side:
We already implemented 'fetch messages' to allow for more user controlled bandwidth use. Could expand this to channels (cc @errorists ). That is after exploring other options to save bandwidth while retaining all functionality.

Regarding feedbacak will check in #statusphere / ambassadors channel to see if they reecognize the issue. As reliability and notifications, which a

[2019-10-01 15:49] 3esmit commented on #9064
PUK could be derived from the first word of seedphrase, so user would just have to memorize the first word of his seed phrase to use as PUK

[2019-10-01 15:53] hesterbruikman commented on #9064
cc @andmironov

This item I'm not clear on what it could look like in the UI. If both are derived from the seed phrase is it more like a button to trigger this?

[2019-10-01 16:29] #9055 closed, assigned to nobody

[2019-10-02 02:02] igormuba commented on #8485
What about the bounty? It expires soon

[2019-10-02 05:56] cammellos commented on #9081
@andremedeiros We are going only to test status-protocol-go, as automating the testing of status-react is much harder (so we won't be testing mailserver interactions until that code is ported).

The strategy that I am following is to have two clients (or more, for now just two), interact with each other for a specified amount of time/messages. Both client will be dockerized and run through docker-

[2019-10-02 06:47] cammellos opened #9088 "Store eip1581 extended key"
# Problem

After a discussion triggered by https://github.com/status-im/status-react/pull/9033 it was decided to store the extended key at path `m/43'/60'/1581'` so that in the future if and when we would like to derive an encryption key from this path it will be available to the user without having to input their seed phrase again.
This has no impact on the user experience, so it's just a technic

[2019-10-02 06:48] cammellos commented on #9088
cc @gravityblast @corpetty @andremedeiros

Could you have a look everything makes sense?

@gravityblast I will want to ask a few questions, what the best way to reach you these days? (emails/status?). Thanks!

[2019-10-02 07:20] #7399 closed, assigned to nobody

[2019-10-02 08:02] flexsurfer commented on #9088
but we store root key, and we can derive encryption key in any time no? why do we need to enter seed phrase?

[2019-10-02 08:04] flexsurfer commented on #9088
so currently we encrypt and store root key using user password, what we want to do later, ask user a password derive encryption key from root key, encrypt and store root key using derived encryption key and remove user password?

[2019-10-02 08:07] hesterbruikman commented on #8443
@alexjg Looks like the in line spinner is implemented in #9063, I'm missing the total value loader @andmironov can you check what remains to be implemented of the loading state design that @alexjg can work on here?

[2019-10-02 08:22] cammellos commented on #9088
From the conversation had yesterday, my understanding is that we do not store the master key, but only those that we use to derive extra chat keys (`m/43'/60'/1581'/0'...`) and extra wallet `m/44'/60'/0'...`), the encryption key would be a leaf of `m/43'/60'/1581'`, which we currently do not store, so the task would be to store that, from which whisper keys, but not wallet keys can be derived.

ap

[2019-10-02 08:33] churik commented on #8819
no more failures

[2019-10-02 08:33] #8819 closed, assigned to cammellos

[2019-10-02 08:40] flexsurfer commented on #8977
@3esmit i believe we must "reset" browser on account change, to clear all data, cookies etc from security and privacy pov?

[2019-10-02 08:49] rachelhamlin commented on #8977
Would a lower fi, less risky way of solving this problem be to allow the user to set a custom default account from the wallet screen? @simonricoo @flexsurfer

[2019-10-02 08:52] churik commented on #8852
no, for me not

[2019-10-02 08:52] #8852 closed, assigned to nobody

[2019-10-02 08:59] vkjr opened #9090 "Excessive logging in status desktop"
# Problem

Status desktop generates very heavy logs. It is because last update of `ubuntu-server` binaries was made from incorrect version of ubuntu-server.js with debug logging enabled.

## Implementation

- new ubuntu-server binaries need to be generated
- nix files should be updated to use new binaries

## Acceptance Criteria

After start and logging in Status.log contains ~165kb of logs instea

[2019-10-02 09:00] andmironov commented on #8180
here are the latest designs for it

<img width="844" alt="Screen Shot 2019-10-02 at 12 00 24" src="https://user-images.githubusercontent.com/3115606/66031514-3ef32080-e50c-11e9-8e49-e9bda44b360d.png">

full flow here https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4566%3A12

[2019-10-02 09:02] vkjr opened #9091 "Blank profile screen in Status Desktop"
# Problem

When user switches to own profile page it shows blank. But if he scrolls it with mouse content appears.
Same issues exists when open profile pages of other users.

## Implementation

TBD

## Acceptance Criteria

Profile page shows all information

## Notes

[2019-10-02 09:23] andmironov commented on #8443
cc @rachelhamlin i'm not sure where I should be looking for the latest build to check that.

The only other loading state of the transaction overview I can remember is "Calculating..." the network fee when interaction with a contract. Do you happen to know if that has been addressed already? I believe it's part of the "error states" issue now, isn't it?

[2019-10-02 09:26] andmironov commented on #8998
I don't know what is the best way to address that, but here's a general rule i can think of:

**when the input is invisible and entering something in it is the only "happy" flow, the keyboard should be persistent and it should be impossible to hide it**

because it's hard to get it back when you can't see the input

[2019-10-02 10:13] churik commented on #8877
It is reproducible.
Tested on IOS 11.4.1., iPhone 7

[2019-10-02 10:25] vkjr opened #9093 "Error on `share` button press in Status Desktop"
# Problem

Error occurs when "share" button pressed on profile screen.
![Screen Shot 2019-10-02 at 1 11 21 PM](https://user-images.githubusercontent.com/5786310/66040774-fe51d200-e520-11e9-90f1-d3faa9ef5341.png)

## Implementation

This button can be removed along with other options non-functional for desktop like "scan QR" and "invite friends"

## Acceptance Criteria

User can't trigger error scr

[2019-10-02 11:21] #7781 closed, assigned to nobody

[2019-10-02 11:32] vkjr opened #9095 "Wrong size of onboarding images on desktop"
# Problem

Start screen and register screen contain images that scaled incorrectly for desktop:

![Screen Shot 2019-10-02 at 2 25 54 PM](https://user-images.githubusercontent.com/5786310/66040894-3fe27d00-e521-11e9-9691-e530433f0e33.png)
![Screen Shot 2019-10-02 at 2 25 59 PM](https://user-images.githubusercontent.com/5786310/66040899-4244d700-e521-11e9-9d8f-ec021ea95154.png)

## Implementation

T

[2019-10-02 11:47] 3esmit commented on #8977
@flexsurfer No,  the **change of ethereum address should not refresh the page** and nither change local data, because can cause mistakes and certainly will cause annoyance.

Ideally **DApps should detect those changes**. In past dapps used a "thread" (setInterval) in loop checking for a change in account, which was horrible, and so I understand your suggestion of refresh the page and local storage

[2019-10-02 12:15] hesterbruikman commented on #8853
@3esmit I'm trying a PR build based off of a develop branch dated today, on iOS.

In the following steps I run into what seems like a contract gas estimate issue when re-registering my ENS name. Raising it as I thought this was resolved. If it's resolved in an open PR, please ignore:

1. Recover account with seed phrase
2. Receive new Whisper ID (a.k.a chat key)
3. Go to profile > ENS usernames
4.

[2019-10-02 12:19] #8047 closed, assigned to nobody

[2019-10-02 12:27] rachelhamlin commented on #8027
Hey! So sorry about that @acolytec3. I just approved you 😬We're a bit bottlenecked, but thank you so much for the PR.

[2019-10-02 12:29] hesterbruikman commented on #8443
Seems like the loading state for the Total value and the 'pull to refresh' loading state is not implemented yet.

To test:
Install build from #9063 (https://github.com/status-im/status-react/pull/9063#issuecomment-536079760)
- Open wallet
- Check Total value
- Switch to airplane mode
- Tap on `...` and `set currency`
- Select another currency
- Check total value (will now be indicated as `0`

@and

[2019-10-02 12:36] 3esmit commented on #8853
The ENS Usernames interface built-in status-react does not compiles with the smart contracts ABI, @hesterbruikman, that's why you get the error.

The interface is trying to register the username again, instead of simply calling `Resolver.setPubkey(x,y)`

This is what should be done by status-react: https://github.com/status-im/status-react/issues/8853#issuecomment-531423965
The comment explains in

[2019-10-02 12:44] #8496 closed, assigned to nobody

[2019-10-02 13:13] hesterbruikman commented on #8853
Thanks @3esmit! Glad to see you jump in on Core and Keycard!

Will follow up with @rachelhamlin to see how this fits in Core planning. IMO, we need this to work from profile, as designed.

Instructing our loyal Beta users to re-register and pay (aka only 10SNT) is bad enough. But having to do so by manually copying a url in our underdeveloped browser, after manually copying your current Whisper ID

[2019-10-02 13:44] flexsurfer commented on #8977
@3esmit but what the difference between multiaccount and account?  if i change account i still don't want dapp to know that another one is mine as well, maybe we could add a checkbox "clear data" enabled by default? @errorists

[2019-10-02 13:49] acolytec3 commented on #8027
Thanks!  Just submitted my PR on gitcoin.  Just waiting on the other two reviewers to provide feedback or approve.

[2019-10-02 13:57] 3esmit commented on #8853
I believe the ENS Usernames is not finished it, and is good to heads up the team that is important.

I put Core into my priority because of the v1 launch, which is more important at this moment then other research I am doing, but I am happy to be always around, feel free to ping me anytime.

[2019-10-02 14:14] yenda commented on #9088
We do store the root key for non keycard accounts

[2019-10-02 14:17] gravityblast commented on #9088
the master key is never stored. I think with "root key", @flexsurfer means the parent of the BIP44 key, which is used to derived the next child keys. At least I see in the clojure code we call it `path-root`:

`(def ^:const path-root "m/44'/60'/0'/0")`

[2019-10-02 14:48] gravityblast commented on #9088
in theory we never want to store the master key, otherwise there's no reason to store the others, we can just derive them.

@yenda @flexsurfer are we using `MultiAccountStoreAccount`?
We should only use `MultiAccountStoreDerivedAccounts` passing the master key, so that only the derived accounts are saved.

 `MultiAccountStoreAccount` can be use in case an imported key is not an extended key, so we

[2019-10-02 14:55] gravityblast commented on #9088
here is the documentation about the account generator:

https://github.com/status-im/status-go/blob/develop/account/generator/README.md

[2019-10-02 14:58] cammellos commented on #9088
@yenda looking at the code does seem we save the master key, `storeAccount` with the id of the multiaccount the user selected, I'll look into it, I will remove it and instead save the parents of the keys if we need to derive again ( `"m/44'/60'/0'/0"` `m/43'/60'/1581'` ), any objections?

[2019-10-02 15:08] corpetty commented on #9088
no problem from me here.

[2019-10-02 15:08] corpetty commented on #9088
could we get comments on which key we store in the code to be inline with naming described in this doc: https://notes.status.im/QxNC1H2cQMG7t8GvEb_Ctw

[2019-10-02 15:31] 3esmit commented on #8977
Ah, I see the issue. I think we need to rethink the flow of authentication of dapp.

1. when opens an tab user is opening a session, when he loads an app it would be not authenticated (no accounts) but it would have a db, cookies or whatever...
2. when user is requested account or when user manually go to accounts it can change what accounts are exposed, when there is a change that event is fired

[2019-10-02 15:46] #9090 closed, assigned to nobody

[2019-10-02 16:05] vkjr opened #9097 "Missed avatar and name on account recover, desktop"
# Problem

Avatar and name not shown when recover account

![Screen Shot 2019-10-02 at 7 03 06 PM](https://user-images.githubusercontent.com/5786310/66061145-877bff80-e547-11e9-9ad0-0e34a1cb38b5.png)

## Implementation

TBD

## Acceptance Criteria

Avatar and name should be shown

## Notes

[2019-10-02 16:19] vkjr opened #9098 "Desktop crashes after account recover in dev mode"
# Problem

When launched in dev mode status desktop fails with red screen:

![Screen Shot 2019-10-02 at 7 16 19 PM](https://user-images.githubusercontent.com/5786310/66062174-9499ee00-e549-11e9-89cc-cf00532e8f61.png)

## Implementation

TBD
## Acceptance Criteria

Status desktop should successfully start in dev mode

## Notes

[2019-10-02 16:32] rachelhamlin commented on #8027
Excellent, nicely done @acolytec3! I'll try to give it a whirl myself tomorrow and get payment to you ASAP (we typically wait for PRs to be merged but recognize there is a long wait for that right now).

[2019-10-02 16:37] rachelhamlin commented on #8853
`Instructing our loyal Beta users to re-register and pay (aka only 10SNT) is bad enough.`

Ah, just to be clear @hesterbruikman - this is not the intention for this issue. Is that the impression that it gives? Your experience [here](https://github.com/status-im/status-react/issues/8853#issuecomment-537465132) sounds like a problem to fix in this scope.

A user should be able to reclaim their name

[2019-10-02 17:25] alexjg commented on #7781
@rachelhamlin Gitcoin is nagging me about the bounty for this expiring in one day. Is there anything left to do to get it paid?

[2019-10-02 18:10] hesterbruikman commented on #8853
Thanks @rachelhamlin the issue described is clear to me. I think it was misaligned expectations. Thought we already had this covered 😬

The experience I had was the opposite; in order to change the ENS name I needed to register at 10SNT. If I understand @3esmit this is expected behavior when using the 'built-in' ENS usernames interface, until this the status-react ENS username interface calls `Res

[2019-10-02 18:19] acolytec3 commented on #8027
Thanks!  Are there any other issues coming up for bounties soon?  Would love to take a crack at another one if so.

[2019-10-02 18:39] yenda commented on #8853
This is just a bug right now @hesterbruikman you are asked to pay 10snt but the transaction will fail because you own it already and you will loose the gas.

It's already fixed in my branch I just need to work on the UI which was not finished

[2019-10-02 18:46] hesterbruikman commented on #8853
Hmmm, the transaction was succesful after I manually set gas limit and price. It's added under 'Your usernames'. Regardless, let's follow up next week. Enjoy your vacation!;)

[2019-10-02 18:52] 3esmit commented on #8853
@hesterbruikman Are you sure it "was succesful"? Seems like it was not, based on the fact that `hester.stateofus.eth` still returns `Beautiful Fuchsia Atlasmoth`.
Maybe we have an other issue here aswell regarding that UI don't alerts of failing transaction.

[2019-10-02 18:53] yenda commented on #8853
It was not successful, the gas estimation failed because the transaction would have failed, your transaction probably just burned all the gas you manually set and made no changes

There is no point trying to use the native flow right now it is broken (and has always been). What the app shows is just not true because the logic is very basic and considers that a submitted transaction will succeed

[2019-10-02 18:59] 3esmit commented on #8853
Yeah, it happen exactly what @yenda told:

[code]

Notice: `status: "0x0"`

It should be 0x1.

https://etherscan.io/tx/0xeea6ec004e986f97fa5d3672d67ab4db0a1baf0d1f7bb0004b29ec6697d6b913

[2019-10-02 20:02] andremedeiros commented on #9081
That makes perfect sense, @cammellos. Thank you.

[2019-10-02 20:15] hesterbruikman commented on #8853
Could that be a syncing issue? Below is a screenshot of my seed phrase recovered on a 2nd device, with a new random name and Whisper ID
![0BEF2B41-21D5-4510-B131-5B3068D8FE09](https://user-images.githubusercontent.com/35233054/66078207-dcc50a80-e561-11e9-9868-734676774b81.jpg)

[2019-10-02 20:57] 3esmit commented on #8853
Probably you tricked the app to think you registered xD

[2019-10-02 21:04] yenda commented on #8853
There  is no point trying to use the native flow right now it is broken (and  has always been). What the app shows is just not true because the logic  is very basic and considers that a submitted transaction will succeed
--

[2019-10-02 21:06] yenda commented on #8853
I dont why my comment above is in bold sorry

[2019-10-03 06:08] cammellos commented on #9088
Update on progress:
seems like we are storing the master key, it is currently used to generate new wallet addresses.
So the scope of the task has changed to:
1) Stop storing master key
2) Store instead `"m/44'/60'/0'/0"` from which any wallet key can be derived

In addition to storing eip1581, from which any chat key can be derived.
I will update the task.

[2019-10-03 09:07] rachelhamlin commented on #8853
On the bright side, we heard you loud and clear. 📣

[2019-10-03 09:53] churik opened #9101 "Restored account for e2e doesn't receive messages from new users"
# Bug Report

## Problem
`basic_user` in e2e stops receive messages from unknown users (who don't add him as contact)

#### Expected behavior
the message is received

#### Actual behavior
the message is not received

#### Notes
Was introduced in nightly 01/10/2019
Test case is [here](https://ethstatus.testrail.net/index.php?/tests/view/872554&group_by=cases:section_id&group_order=asc&group_id=735)

[2019-10-03 09:54] churik commented on #9101
cc @rachelhamlin

[2019-10-03 10:00] rachelhamlin commented on #9088
Thanks @cammellos :)

[2019-10-03 10:12] cammellos commented on #9101
@churik A few questions:

Does it always fail? Or sometimes it works some other it doesn't?
Can you replicate outside e2e? (I have tried and it works fine on my side)
Do you have geth.log for those?

Best guess is that because we keep only max 3 devices synchronized, during these tests it was probably sending to other devices, as it's recovered often, but only geth.log will tell.

[2019-10-03 10:15] churik commented on #9101
@cammellos
- I have tried 3 times with this particular account and can reproduce outside e2e
- I'll try to get geth.log (sometimes it is not created on my LG V20) and get back to this
- also it wasn't reproducible before 01/10/2019 - have never seen this failure.

[2019-10-03 10:22] cammellos commented on #9101
Yes, that's interesting, by the way I am receiving your messages, I have one recovered as well :)

[2019-10-03 10:27] churik commented on #9101
@cammellos reproduced again.
Geth.log for device_1 (`basic_user`, Android 8):
[geth (3).log](https://github.com/status-im/status-react/files/3685546/geth.3.log)
Geth.log for device_2(sender, IOS 11.4.1):
[geth.log](https://github.com/status-im/status-react/files/3685573/geth.log)

[2019-10-03 10:37] cammellos commented on #9101
Yes, seems like it has not targeted the correct devices:
`failed to handle Encryption message: device not found`
I can have a look to see if there's any particular change that might have made this more likely to happen (if tests are run many times or in parallel though, it's bound to happen), but overall it would be better to use always a different account, that way tests could also be run in para

[2019-10-03 10:48] churik commented on #9101
if you don't find obvious reason, I can change this particular test (didn't notice problems with others)
So don't hesitate to ping me

[2019-10-03 12:15] churik commented on #9101
Now it is used in 2 tests for chatting, one of them `test_block_user_from_public_chat` is critical - you can see this failure [here](https://github.com/status-im/status-react/pull/9096#issuecomment-537894296)

[2019-10-03 13:43] andremedeiros commented on #9101
Is this something we can automate to make sure no regressions happen in the future?

[2019-10-03 13:45] churik commented on #9101
hm, it is automated.
It is an issue that I could find thanks to e2e testing. It is not reproducible with other accounts.

[2019-10-03 13:58] andremedeiros commented on #9101
Perfect! Thank you for getting on this.

[2019-10-03 14:01] churik commented on #9062
@guylouis the question here is that case:
1) User create keycard multiaccount on device1 (seed1)
2) User tries to restore ordinary account with seed1 on device2

On our test cases (written by Nastya) - it is not possible, error is
<img width="383" alt="Screenshot 2019-09-27 at 17 06 17" src="https://user-images.githubusercontent.com/8749671/65775596-27e9b280-e149-11e9-998e-95c1f0c7f3ee.png">

I wa

[2019-10-03 14:02] cammellos commented on #9101
this is due to a known limitation (as far as I can tell, further investigation is needed, but I am fairly positive), if you restore an account on multiple devices, only 3 will be kept in sync, in order of last activity (there needs to be a limit, otherwise it can be maliciously exploited by an attacker).

In case of users that are used by e2e tests, it is recovered multiple times a day and it's li

[2019-10-03 14:05] churik commented on #9101
@cammellos I'll fix the tests in this case, if it is not common issue and couldn't be reproduced normally.

[2019-10-03 14:16] dmitryn commented on #9062
It's not the case when 2 identical account are created.
For same seed phrase status-go `multiAccountImportMnemonic` and keycard `generateAndLoadKey` derive different keys. For instance, `curtain mosquito taste relief topple valid initial plug fall there talk core` derive path `m/43'/60'/1581'/0'/0`:
* status-go `0x04a0a4d09cdafdca75b131d82df8a1a593efe0293573694a74ff1d99be65e39899d331b0f21201a04489

[2019-10-03 14:20] dmitryn commented on #9062
I'd like to ask someone from @status-im/go to check if `multiAccountImportMnemonic` works as expected.

[2019-10-03 14:38] andmironov commented on #9054
Heya! Just one more thing that has been lost along the way. The idea of this carousel was that it **moves by itself** to the next item (and then back to the first one when reaches the end) every ~7sec (might change if feels too much/not enough).

Important: the auto-move should stop once the user swipes or even rests their finger on the screen.

Do you think we can fit this little fix in?

[2019-10-03 14:41] andmironov commented on #8443
sorry i'd go with this if it's possible

<img width="361" alt="Screen Shot 2019-07-26 at 13 42 46" src="https://user-images.githubusercontent.com/3115606/61946440-45649980-afab-11e9-9bdc-6f69c5cfe7df.png">

[2019-10-03 14:50] andmironov commented on #9050
what we def can do is just not display the autocomplete part of the keyboard, but should we? we have pretty standard words in our dictionary, why not allow to auto-complete those?

[2019-10-03 14:54] andmironov commented on #9050
Here's the current design. There's a word count and a popup we display after the user hits "Next" if the seed phrase has words that are not in our dictionary

<img width="807" alt="Screen Shot 2019-10-03 at 16 54 07" src="https://user-images.githubusercontent.com/3115606/66138205-822dbc00-e5fe-11e9-8a72-ad43dc42d709.png">

[2019-10-03 14:59] guylouis commented on #9062
cc @gravityblast

[2019-10-03 15:22] rachelhamlin commented on #9054
@elegant651 you're approved! Welcome aboard. Let us know if you have any questions.

There are more details in the comments on image scaling, and also [a request for the carousel to auto-scroll](https://github.com/status-im/status-react/issues/9054#issuecomment-537974411).

Please focus on the basics from the issue; if you can set it up to auto scroll as well I'll include a tip on the completed is

[2019-10-03 15:27] rachelhamlin commented on #8443
Hey @alexjg - apologies that this issue was out of date. Are you still tracking? I'm happy to refocus this on the items from @hesterbruikman's [comment](https://github.com/status-im/status-react/issues/8443#issuecomment-537469823).

@hesterbruikman pull to refresh = on wallet overview, and individual wallet?

[2019-10-03 15:27] guylouis commented on #9064
in the end the user is responsible for remembering his PUK and pairing code since they cannot be queryed to the card
https://status.im/keycard_api/apdu/changepin.html
@bitgamma please slap me if that's not true :)

So the most we can propose is probably is feature for advanced users who know or think that their puk and pairing is not corresponding with their seed any more
- ask PIN and SEED
- PUK

[2019-10-03 15:31] rachelhamlin commented on #7990
Hey there @hackereunji any progress here? Shall I take you off it?

[2019-10-03 15:36] rachelhamlin commented on #7781
Hey! So sorry @alexjg, I've just paid you, + tip for quality of work and responsiveness. Hope to see you back on other issues! I know you're assigned #8443 and the scope has changed a bit. Let me know if you'd like any others passed your way.

[2019-10-03 15:36] rachelhamlin commented on #7197
Hey @speedyFixer! Just checking in to see how things are going.

[2019-10-03 15:39] HackerEunji commented on #7990
Oh, sorry for the inconvenience! I was thinking about how to fix it.... but please take me off it! This is so hard for me:( Good luck for your work!

[2019-10-03 15:45] rachelhamlin commented on #8027
@acolytec3 awesome! Unfurling of URLs in chat can wait; I just saw you applied on Gitcoin. I haven't bountied any of these yet, but they're blockers for our v1 release, do any of them catch your eye?

https://github.com/status-im/status-react/issues/8938
https://github.com/status-im/status-react/issues/8960
https://github.com/status-im/status-react/issues/8818

Also - I can pay for this bounty onc

[2019-10-03 15:51] rachelhamlin commented on #6505
Hi there @krisc and @janus! Thanks for your patience. Here's a selection of our open v1 release blockers. Let me know if any are a match for your skills/interests and we can put a price on them?

https://github.com/status-im/status-react/issues/8998
https://github.com/status-im/status-react/issues/8951
https://github.com/status-im/status-react/issues/8940
https://github.com/status-im/status-react/

[2019-10-03 15:52] rachelhamlin commented on #7990
Okay, thanks for your reply @HackerEunji :) All the best.

[2019-10-03 15:54] acolytec3 commented on #8027
I'll take #8938!  I think I have an instinct on how to turn it around and
therefore more manageable for me since I'm relatively new to this CLJS
game, ;-).

I'm still kind of interested in trying out that unfurling one so might go
ahead and work on it some once I get 8938 done since it presents a good
opportunity to learn more about how interoperability with Javascript works
(since I've never touc

[2019-10-03 15:57] J12B commented on #9081
re: capturing user/community feedback - have we considered an "engagement survey" type mechanism for our main community users? Similar to one for core contributors, but focused on feedback they have for Status products, features, etc

[2019-10-03 16:05] rachelhamlin commented on #8027
🙌 Bounty processing! I invited you @acolytec3.

[2019-10-03 18:40] hesterbruikman commented on #9081
We have had those in the past and it surely is time to bring them back! It was always a bit more of a one off, never a solid mechanism that better balances effort-output.

Regarding bandwidth, a quick poll in #statusphere brought no alarming response by 3 active community member/contributors. All estimating a monthly 1GB going to Status. Not to say that it's not a problem:)

[2019-10-03 18:47] speedyFixer commented on #7197
Hi @rachelhamlin I wasn't able to reproduce the issue with emulator, I will try again this weekend with two real devices or maybe was the status version. Sorry for forget add a progress message here.

[2019-10-03 18:48] hesterbruikman commented on #8443
Good point. Ideally loading state for wallet overview and individual account screen @andmironov can you point to the design of the loading state for the individual account?

Regarding pull to refresh, @andmironov, wdyt? Not sure how this would behave with the title/header on the individual account screen.

[2019-10-03 19:17] janus commented on #6505
I have some Clojure skill and a bit of go. But I am not greatly involved in React Native. I use only Android phones. You did not indicate the OS of interest.

[2019-10-03 21:00] acolytec3 commented on #8938
@rachelhamlin Initial PR is submitted so can submit on Gitcoin whenever you have time to approve.  :-)

[2019-10-03 21:35] alexjg commented on #8443
@rachelhamlin I've been keeping half an eye on this, still keen to work on it. @andmironov suggested creating a new issue, do you want to do that or continue with this one?

[2019-10-03 21:42] alexjg commented on #7781
@rachelhamlin Thank you so much, this is a fun project to work on :slightly_smiling_face: I'll keep at it on 8443 before I grab another one.

[2019-10-04 08:49] rachelhamlin commented on #8443
It sounds like the original issue is no longer relevant, but since there's already a bounty attached, I can repurpose it according to the comments :) I'll update the issue once we have alignment. OK for you @alexjg?

1. Pull to refresh behavior is uncertain - when and how should this work? (@andmironov task)
2. Loading state should be implemented for multiaccount overview, per [this comment](https

[2019-10-04 08:50] rachelhamlin commented on #7781
@alexjg yay - glad you think so! We'll get the requirements on that one nailed down today.

[2019-10-04 09:18] jakubgs commented on #8292
I think this can be solved as the Android builds now include the `arm64-v8a` architecture:
https://github.com/status-im/status-react/blob/d2a51f9711f1c74c0327fcd076dc1bff5fa32d4f/android/gradle.properties#L44

[2019-10-04 09:18] #8292 closed, assigned to nobody

[2019-10-04 09:31] alexjg commented on #8443
Works for me, I'll wait for you folks to clarify things before I get started.

[2019-10-04 09:37] rachelhamlin commented on #6505
All issues in status-react are for iOS & Android, RN mobile @janus :)

We will manually test bounty PRs on multiple devices. Here's our quick start for getting set up: https://status.im/build_status/status_react_quickstart.html

[2019-10-04 10:28] rachelhamlin commented on #7197
That's okay. I had a really weird freeze while trying to test this situation.

_Edit: This happened on the the [biometric PR branch](https://github.com/status-im/status-react/pull/9033) from 4/10._

1. Create a group chat and invite yourself with another account.
2. Make your other account an admin.
3. Login to your other account.
4. Open the new group chat—you will see that you've been made admin

[2019-10-04 10:42] rachelhamlin commented on #9054
Hey @elegant651 would you like to implement #8135 in the scope of this PR, as well? I will pay you both bounties using tip, if you can complete both.

[2019-10-04 10:43] rachelhamlin commented on #8135
Hey @jorgeluisrezende I'm going to remove you due to inactivity - please let me know if it's a mistake.

[2019-10-04 10:43] #8966 closed, assigned to nobody

[2019-10-04 10:54] #9088 closed, assigned to cammellos

[2019-10-04 11:23] rachelhamlin commented on #8554
On iOS, when I choose `Maybe later`, I still see this pop-up shortly after onboarding:

![IMG_5084](https://user-images.githubusercontent.com/15470435/66204035-c9b95400-e6a1-11e9-8b54-86720f5b4dab.PNG)

[2019-10-04 12:59] elegant651 commented on #9054
Sure, I'll do both of them. should I deal with #8135 first?

[2019-10-04 13:02] churik commented on #9101
@cammellos
now I can see this issue on restored account, that I don't use for e2e.
So yes, I restore it a lot ~1 time per day - but it is not so often as in e2e.
And that bother me because I really can't say when it could start for other users.
And also I used this account many times before, so obviously that smth happened in nightly 01/10/2019.

[2019-10-04 13:10] cammellos commented on #9101
1 time per day should not be enough to cause issues, I'll investigate, could you send me the geth.logs in the meantime of the user who did not receive the message?

[2019-10-04 13:28] churik commented on #9101
@cammellos sorry can't reproduce it again now - attached whole log of affected device.
Issue was somewhere between 14:40 - 15:10 (GMT+2)

[geth.log](https://github.com/status-im/status-react/files/3690722/geth.log)

[2019-10-04 14:27] rachelhamlin commented on #9054
Awesome! Up to you @elegant651. You can submit it all in one PR if you like.

[2019-10-04 14:34] churik opened #9107 "Collectibles (except CryptoKitties) are not loaded (endless spinner) after relogin"
# Bug Report

## Problem
CryptoStrickers and EthermonAssets are not loaded after reopening app. If you open Collectibles and tap on CryptoStrickers and EthermonAssets - endless spinner is shown (waited ~5 mins)
Reproducible on both Android and IOS.

#### Expected behavior
Collectibles are loaded

#### Actual behavior
Endless spinner
![crypti](https://user-images.githubusercontent.com/4557972/66215

[2019-10-04 16:14] #8027 closed, assigned to StatusSceptre

[2019-10-04 16:42] rachelhamlin commented on #9054
Hey @elegant651, update: we actually updated the illustrations in the onboarding issue being worked on by one of our core contributors. So in that case, definitely deal with #8135 first, and #8135 only please 😬

Sorry about that - issues flying left and right! Sometimes we overlap.

[2019-10-04 17:07] rachelhamlin opened #9108 "Proof of account ownership / SNT distribution"
# Problem

[DRAFT]

In order to facilitate:

- Return of chat commands to send/receive Txs
- Sending of funds to a list of contacts from the wallet

We need to establish proof of account ownership from user A to user B.

From [notes](https://notes.status.im/9O5GHmMaRZS9LD1GLH-5yA) on the issue by GL:

## Implementation

I believe we decided to do this

## Acceptance Criteria

My understanding is t

[2019-10-04 18:22] acolytec3 commented on #8027
@rachelhamlin [PR](https://github.com/status-im/status-react/pull/9063) was just merged :-)

[2019-10-04 22:03] krisc commented on #6505
@rachelhamlin thanks for posting those issues. Can we chat in Status? Here's my contact code:
0x04825abbccf20caa211e1564dc566222278f3f08a5d0013f9277d643a8e10e52e48486248d432a31ce3832ce7eb51d44a62503e54f8088595310b28c0a2a3016c3

[2019-10-05 02:15] acolytec3 commented on #8960
@churik I'd be interested in taking a stab at resolving this one. Is the Android camera permissions bug fixed yet? I don't have macos so can only do it if so.

[2019-10-05 02:39] elegant651 commented on #9054
Got it.

[2019-10-05 05:03] #3585 closed, assigned to nobody

[2019-10-06 02:47] 3esmit commented on #9108
Possible solutions I can see:

## Interactive
### 1. On "friendship":
- similar to how users exchange given name & profile picture
### 2. On request:
- paying user send private system message to other user
- user sends payment to account sent by other user
### 3. Shared anonymous contract
- everyone uses the same contract
- proofs to withdraw are sent via message
- user can withdraw from any accou

[2019-10-06 06:20] weekly-digest[bot] opened #9110 "Weekly Digest (29 September, 2019 - 6 October, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 43 issues were created.
Of these, 27 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #9108 [Proof of account ownership ](https://github.com/status-im/status-react/issues/9108), by [rachelhamlin](https://github.com/rachelhamlin)
:green

[2019-10-06 08:02] flexsurfer commented on #3734
@errorists is this still relevant?

[2019-10-06 08:05] flexsurfer commented on #4488
@churik  can we close this?

[2019-10-06 08:06] #4556 closed, assigned to nobody

[2019-10-06 08:10] #4814 closed, assigned to nobody

[2019-10-06 16:02] speedyFixer commented on #7197
Ok I'm going to stop in Gitcoin, Yes @rachelhamlin , I would like :)

[2019-10-07 06:45] errorists commented on #3734
@flexsurfer I'd ask to close this one, it's not 100% accurate anymore. Once we start working on chat again, I'll create a proper issue.

[2019-10-07 07:02] #3734 closed, assigned to nobody

[2019-10-07 07:29] tbenr commented on #8657
@gitcoinbot a WIP has been submitted

[2019-10-07 08:54] rachelhamlin commented on #7026
This is still relevant and true, right, @cammellos?

[2019-10-07 09:05] cammellos commented on #7026
This is still relevant, but won't be addressed any time soon, it's the same for 1-to-1 chats and it's all described in the specs, it will require some input from ux if we want to address this (implement some contact request flow before user can exchange messages etc)

[2019-10-07 09:07] rachelhamlin opened #9131 "Group chat UI cleanup [DRAFT]"
# Problem

Skeleton issue to log & follow up.

- Spacing on group chat screens is off
- Admin view of `group info` is inconsistent from group member view (in an unintentional way—one has '...' to show member info, the other is simply tappable)
- ???

## Implementation

Known steps towards feature implementation.
What needs further specifying and investigating.

## Acceptance Criteria

Rules for th

[2019-10-07 09:28] errorists commented on #9131
Thanks for logging it in the system @rachelhamlin

in the meantime, all of the Group Chat designs [are kept here in Figma](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=227%3A320)

A recap of things that need work:

---

Profiles, they're both out of date and having a bunch of layout / ux issues of their own.

<img width="435" alt="Group 55" src="https://user-images.githubuserco

[2019-10-07 09:42] churik commented on #4488
not relevant anymore after wallet redesign, thx @flexsurfer

[2019-10-07 09:42] #4488 closed, assigned to nobody

[2019-10-07 10:13] #8938 closed, assigned to StatusSceptre

[2019-10-07 10:16] acolytec3 commented on #8027
@rachelhamlin I got a notification from gitcoin about a tip but it referenced a bounty I didn't worked on.  Was it supposed to be for this one or #8938?

[2019-10-07 10:31] acolytec3 commented on #8938
@rachelhamlin Can you (or @StatusSceptre) approve me on Gitcoin so I can submit work on this PR given that the PR was just merged?  Thanks!

[2019-10-07 10:41] jakubgs opened #9133 "Desktop app doesn't start on LInux"
### Problem

New Desktop app doesn't start on Linux. It exists after 1 second without any errors.

### Example

[code]
Nothing happens, it just exits

[2019-10-07 11:38] Serhy commented on #8997
The same with iOS 12.4.1 when opening camera in any place of app:
`+ -> Scan QR code`
`+ -> Start new chat -> button next to 'Enter chat key' input`
`Wallet -> Status account -> Send -> Specify recipient -> Scan QR code`
`Profile -> Edit upon profile userpic -> Capture`

[2019-10-07 12:03] corpetty commented on #9133
Confirmed on Arch Linux.

[2019-10-07 12:04] rachelhamlin commented on #8027
Whoops, not quite sure how I managed that. I underpaid you as well @acolytec3. It was for this one.

I tipped you 60 DAI on #8135 and meant to 80 DAI pay for this one, #8027.

I'll send over another 20 on this one and close it out on Gitcoin. Sorry about that!

[2019-10-07 12:08] rachelhamlin commented on #8027
Jokes. I can't pay out less than the full 80 DAI for this one.

I'll add 20 DAI as tip for your work on #8938 instead @acolytec3.

[2019-10-07 12:09] acolytec3 commented on #8027
@rachelhamlin No worries! Was just a little confused when I saw the linked
issue on the gitcoin notification.

Given that I've finished #8938, would love to keep working if there are
other issues that need immediate attention. Anything I can look at?

On Mon, Oct 7, 2019, 8:04 AM Rachel Hamlin <notifications@github.com> wrote:

[2019-10-07 12:09] rachelhamlin commented on #8938
Done @acolytec3! Will add your 20 DAI tip for the other issue where I shorted you on here.

[2019-10-07 12:14] rachelhamlin commented on #8135
My mistake—I prematurely paid out this bounty to @acolytec3. I was trying to pay him for his work on #8027.

But that's okay. I will pay @elegant651 for this work either on this bounty, or via #9054 when completed.

[2019-10-07 12:16] rachelhamlin commented on #8027
Indeed there are more in the queue for you, @acolytec3!

What about one of these bugs?

[Wallet balance refresh not working properly ](https://github.com/status-im/status-react/issues/8951)
[Recent stickers not populating ](https://github.com/status-im/status-react/issues/8937)

[2019-10-07 12:22] rachelhamlin commented on #7197
@speedyFixer cool! Any of these interest you?

https://github.com/status-im/status-react/issues/8998
https://github.com/status-im/status-react/issues/8940
https://github.com/status-im/status-react/issues/8930
https://github.com/status-im/status-react/issues/8877
https://github.com/status-im/status-react/issues/8718
https://github.com/status-im/status-react/issues/8662

[2019-10-07 12:42] acolytec3 commented on #8027
#8951 sounds cool. I'll take it!

On Mon, Oct 7, 2019, 8:16 AM Rachel Hamlin <notifications@github.com> wrote:

[2019-10-07 13:10] rachelhamlin commented on #8135
Minor question, but I want to confirm @errorists:

Do we display _both_ of these screens each time a user generates a new key, regardless of whether they have other Status keys already?

[2019-10-07 13:13] errorists commented on #8135
Good question,
Welcome to Status, can't hurt, I would show it each time. We're very welcoming.
The empty state for chats, also show each time, the alternative would be a sad empty list and they can dismiss it.

[2019-10-07 14:17] Serhy opened #9135 "User is not asked to re-login after changing Fleet settings (and no mailserver selected)"
# Bug Report

## Problem

When changing fleet from Profile there is no mailserver from the mailservers pool of particular fleet is set, thus - no messages are received from offline.

And in general with all the rest of consequences of when mailserver set to null: e.g. Fetch more message in public chat results in 'An error occured while fetching history' or if I send message to 1-1/group chat - no

[2019-10-07 14:21] Serhy commented on #9135
@rachelhamlin I see it as low-prio issue, taking that 'Fleet settings' is "Advanced mode" of using Status and that there is no issue after re-login.
Good candidate for bounty

[2019-10-07 14:41] andmironov commented on #8443
Sorry for a slight change of plans, but after diving a bit deeper into this issue i realized that it's better not to use animated placeholders here, since this screen is not exactly a use-case for those. For instance, it would be pretty annoying if you want just to update the conversion rate but instead you get all your list of assets replaced with placeholders.

And the alternative is a good old

[2019-10-07 14:52] rachelhamlin commented on #8135
Cool, agreed, both screens for all new users then. 👍

[2019-10-07 15:02] Serhy opened #9136 "No Push Notifications when app is closed [Android]"
# Bug Report

## Problem
There are no push notifications appear when message is sent to user in 1-1 chat when Status is closed on Android.
No issues when app on background.

#### Expected behavior

PN with hashed username appears when messages is sent to user in 1-1 chat when Status is closed

#### Actual behavior
No PN with hashed username appears when messages is sent to user in 1-1 chat when St

[2019-10-07 15:06] andmironov commented on #8443
**Individual accounts**

Initial loading and pull-to-refresh works almost exactly the same as the account explorer

<img width="841" alt="Screen Shot 2019-10-07 at 17 05 37" src="https://user-images.githubusercontent.com/3115606/66323842-b669eb00-e924-11e9-8d0f-98fdf30b38cb.png">

But the thing is that when the history tab is opened for the first time, it has a loading state of its own since it wo

[2019-10-07 15:29] churik opened #9138 "Missing translation in "Need help" section ("Ask a question")"
## Problem

![IMG_B479C9D21CC5-1](https://user-images.githubusercontent.com/4557972/66325396-78ba9180-e927-11e9-8f0b-055258295143.jpeg)

#### Expected behavior
"Ask a question" as I can remember

#### Actual behavior
missing translation

### Reproduction

[comment]: # (Describe how we can replicate the bug step by step.)

- Open Status
- Open Profile > Need help

### Additional Information

- Stat

[2019-10-07 16:02] churik commented on #8960
Hello @acolytec3 !
Android issue with QR code is fixed, for IOS we have https://github.com/status-im/status-react/issues/8997

[2019-10-07 16:23] alexjg commented on #8443
@gitcoinbot I'm still working on this. I've been waiting for the spec to shake out. which looks like it's happened now so I'll look to make a start on it tomorrow.

[2019-10-07 20:29] corpetty commented on #9081
one plan: have a separate type of public chat that isn't as private (with respect to traffic analysis). You could just have it as an option and have some UI element that notes what kind of public channel it is.

This could also be the default and then we can set up relays that allows people to communicate in these at bandwidth costs (similar to @jakubgs bridge)

[2019-10-08 00:51] acolytec3 commented on #8960
Cool, I'm working on #8951 at the moment but will look at this one next if it's not already being worked by someone else.

[2019-10-08 02:08] acolytec3 commented on #8951
@yenda, I've reproduced scenario and have a question about trying to solve.  You said above a "bad fix" would be to have status-react ask for balance once online connectivity is established.  In looking at re-frisk when in this scenario, it looks like the :error-unable-to-fetch-balance error is just never cleared from the wallet subscriptions, even though we're clearly connected (seeing new block

[2019-10-08 07:53] cammellos commented on #9081
Here's a rough tool to check for bandwidth:
https://github.com/status-im/status-protocol-go-bandwidth-test

The issue is not due to public chats I believe ( we have high usage even without joining any public chat from the previous bandwidth tests ), it's mainly due to discovery topics, as you  receive messages not sent to you, while in public chat is the chance is lower (there's a chance that your

[2019-10-08 08:45] #9025 closed, assigned to nobody

[2019-10-08 11:13] Serhy opened #9139 "Can not purchase sticker pack (too low no sign with password button)"
# Bug Report

## Problem
When I tap purchase button upon non-free sticker pack there is 'Authorise' bottom sheet appears. But there are only `From [address]`, `To [address]` and `Asset` fields are present. No `Sign with password`. So no way to purchase at the moment sticker pack.

#### Expected behavior
<img width="289" alt="Screenshot 2019-10-08 at 14 11 57" src="https://user-images.githubusercon

[2019-10-08 11:19] #8989 closed, assigned to nobody

[2019-10-08 11:19] #9023 closed, assigned to nobody

[2019-10-08 11:19] #9028 closed, assigned to nobody

[2019-10-08 11:28] #8937 closed, assigned to nobody

[2019-10-08 12:49] churik opened #9140 "No conversion for some tokens and currencies"
# Bug Report

## Problem

It is the same as https://github.com/status-im/status-react/issues/4508.
Should be automated with fix.

#### Expected behavior
as we are using https://min-api.cryptocompare.com for fetching tokens price, there are several tokens presented in Status app, but not provided by https://min-api.cryptocompare.com/.

List of tokens:
- XPA (no info)
- ٨ (DentaCoin, should be DCA f

[2019-10-08 13:03] corpetty commented on #9081
have we ever tried playing with a dynamic tuning of the bloom filters based on user preference?  It's basically a sliding scale of how much you poll for based on how much information you want to give the server your asking.  If a user doesn't care about that, then they can at least minimize the amount of "extra stuff" they're getting.

[2019-10-08 13:26] cammellos commented on #9081
That's a fairly big chance, it means we would be fundamentally changing how whisper works, basically say you don't even use a bloom filter, but you pass just a list of topics (provides no darkness, but best bandwidth), you still have an issue with the shared topic (currently each user is assigned to a random bucket based on the pk, n = 5000).

We also have a personal topic, that can be used instea

[2019-10-08 13:33] rachelhamlin commented on #9136
Just to keep my head on straight: this is the expected behavior on iOS (but not Android), right?

[2019-10-08 13:34] rachelhamlin commented on #9140
BRLN is the ETHBerlin token so that one doesn't have a price :)

[2019-10-08 13:35] Serhy commented on #9136
Not expected on iOS as well :)
On iOS we just had never it's working afair. Respective issue for iOS https://github.com/status-im/status-react/issues/7438

[2019-10-08 13:43] rachelhamlin commented on #9136
👌🏼 Is this one a regression @Serhy?

[2019-10-08 13:45] ScyDev commented on #5787
Is this bounty still active? I'd like to work on it.
@mandrigin @rachelhamlin

[2019-10-08 13:58] corpetty commented on #9081
thoroughly agreed.

[2019-10-08 14:01] speedyFixer commented on #7197
#8877 sounds good :)

[2019-10-08 14:06] ScyDev commented on #7968
Why is this still an open issue on Gitcoin?

[2019-10-08 14:19] rachelhamlin commented on #7197
@speedyFixer I added a bounty to #8877 - go for it!

[2019-10-08 14:33] rachelhamlin commented on #5787
@ScyDev it's not a priority for us. Would you like to work on something that is?

[2019-10-08 14:54] ScyDev commented on #5787
@rachelhamlin Sure, please link me to one that is.

[2019-10-08 18:25] MarkOSullivan94 commented on #3585
Can you remove this from Gitcoin? https://gitcoin.co/issue/status-im/status-react/3585/2490

[2019-10-08 22:34] speedyFixer commented on #7197
Thanks @rachelhamlin , I stopped work on Gitcoin.

[2019-10-09 06:25] #8936 closed, assigned to StatusSceptre

[2019-10-09 09:40] #9139 closed, assigned to nobody

[2019-10-09 10:08] acolytec3 commented on #8951
@rachelhamlin @yenda I'm stuck on this one and wondering if I should pass it off to someone else.  As best I can tell, the issue lies mainly with the fact that the listener set to detect network changes under the net-info module is never firing off any events, and therefore is never updating the network-status subscription, which in turn means the update balances/prices events are never firing whe

[2019-10-09 11:37] Serhy commented on #9136
@rachelhamlin yes it's a regression, but I could not find nightly build issue appeared (we don't have autotests for PNs as well).
Earliest build I confirmed it's not working is 26th of September nightly develop build.

[2019-10-09 12:09] ScyDev commented on #4606
@rachelhamlin Would this one be a priority? If so, I'm ready to start work on it right away and not afraid to dig into the framework and learn all about it.

[2019-10-09 13:18] rachelhamlin commented on #4606
Sorry for my delay @ScyDev - also no. We have quite a few issues open that don't have bounties applied yet, I'm looking at our v1 release backlog. How about this small fix to get started?

https://github.com/status-im/status-react/issues/8818

Or this one?
https://github.com/status-im/status-react/issues/8837

[2019-10-09 13:21] churik commented on #8730
Not reproducible for me (Android 8, LG V20)

[2019-10-09 13:21] #8730 closed, assigned to nobody

[2019-10-09 13:24] #9138 closed, assigned to nobody

[2019-10-09 13:54] #9107 closed, assigned to nobody

[2019-10-09 14:37] #9046 closed, assigned to nobody

[2019-10-09 15:20] rachelhamlin commented on #8998
I don't remember what build this was on but haven't been able to reproduce it since, so I'm closing it.

[2019-10-09 15:20] #8998 closed, assigned to nobody

[2019-10-09 15:24] rachelhamlin commented on #8941
@yenda can I close this issue and fold it into the acceptance criteria for #8853?

[2019-10-09 15:26] yenda commented on #8941
@rachelhamlin yes

[2019-10-09 15:29] #8941 closed, assigned to nobody

[2019-10-09 15:29] rachelhamlin commented on #8941
Feels good

[2019-10-09 15:46] rachelhamlin commented on #8999
Fixed https://github.com/status-im/status-react/pull/9149/

[2019-10-09 15:46] #8999 closed, assigned to nobody

[2019-10-09 16:18] elegant651 commented on #9054
I'm currently working : #8135

[2019-10-09 17:30] 3esmit opened #9152 "Impossible to disable "Automatic Selection" in "Mailserver settings""
# Bug Report

## Problem

I want to use a custom mailserver, I am able to add a custom mailserver, but not to change the automatic selection to off, so I can't select my custom mailserver.

#### Expected behavior

No bug.

#### Actual behavior

Contains bug.

#### Notes
Perhaps can be fixed together with #8956

#### Acceptance Criteria

Users should be able to create a custom mail server, unselect

[2019-10-09 21:00] acolytec3 commented on #8938
@rachelhamlin, any chance I can get paid for this plus the other 20 from  #8027 side the PR is merged?

[2019-10-10 05:24] 3esmit commented on #9152
If this is just happening to me, might be a bug in my config. I added a mailserver in my lan and then noticed that.

[2019-10-10 07:05] adambabik commented on #9081
We have quite granular Whisper metrics that can answer most of these questions: https://github.com/status-im/whisper/blob/master/whisperv6/metrics.go. For example, we have `envelopeAddedCounter` and `envelopeNewAddedCounter` which difference can tell how many duplicates we receive. Or `envelopeErrNoBloomMatchCounter` which tells about the number of messages not matching bloom filter.

What we woul

[2019-10-10 09:16] rachelhamlin commented on #8845
People often ask what other channels are active within #status. I think it's a great idea to set up and encourage use of additional spaces that are _not_ about crypto or our own product. After all, we want people to use Status day-to-day and to talk about things that matter to them.

The community's favorite subreddits might be a good input for this list.

@errorists what do you think about adding

[2019-10-10 09:20] ScyDev commented on #4606
@rachelhamlin Alright, I'll gladly take both of them. Thanks!

[2019-10-10 09:32] rachelhamlin commented on #4606
@ScyDev I'll put a price on them and invite you - they both look small to me but will be good to get you started. Welcome aboard!

Edit: update - Gitcoin is not recognizing that Metamask is unlocked and is preventing me from creating bounties...I'm going to put each of them at 60 DAI though, so you're aware. Will try again later.

[2019-10-10 09:37] rachelhamlin commented on #8938
Definitely & thanks for reminder @acolytec3. Gitcoin is currently not recognizing that Metamask is unlocked so I'm blocked. Going to try again later and escalate if necessary.

[2019-10-10 09:53] yenda commented on #8951
@acolytec3 how do you check if `:status-im.network.net-info/network-info-changed` is fired? If you use re-frisk you won't see it because going to airplane mode will also cut the connection for re-frisk. I just tried on real device while looking at adb logs and the events is indeed fired.

[2019-10-10 10:02] #8657 closed, assigned to nobody

[2019-10-10 10:17] acolytec3 commented on #8951
@yenda That explains what I was seeing as I was just using the emulator.  I'll try some further debugging on an actual device and see if I see anything else that looks out of place.  Maybe this is a dumb question but if I'm testing it on an actual device, will re-frisk keep it's connection even if I switch to airplane mode (since the device maintains connectivity via USB?

[2019-10-10 10:20] yenda commented on #8951
@acolytec3 There is a bug anyway in `handle-network-info-change`: change `is-connected` to `isConnected`

maybe that fixes the whole thing or at least it will get you closer to the solution

[2019-10-10 10:22] yenda commented on #8951
@acolytec3 and yes on a real device re-frisk keeps the connection, but you need to use `make android-ports` to make sure that the ports are open for the repl and re-frisk

[2019-10-10 10:36] acolytec3 commented on #8951
@yenda Thanks for the guidance!  That explains why network-status was always nil in the subscriptions.  I now see it changing back and forth correctly in re-frisk on my device.  That doesn't appear to solve the update-balance problem by itself but I think it's part of the problem.  I've made that specific change locally and will add it to my PR (unless you've already got it going in another one to

[2019-10-10 11:03] acolytec3 commented on #8951
@yenda Further update, subsequent testing shows that the above `isConnected` change does appear to solve scenario 2 that @churik outlined above.  It doesn't fix scenario 1 since the `:get-balances` effect is only called in 3 scenarios
1) When the wallet is initialized by the `initialize-wallet` effect - this is what causes the first issue, since the device isn't connected so it can't retrieve the

[2019-10-10 11:37] flexsurfer commented on #8446
blocked by https://github.com/status-im/status-go/issues/1635

[2019-10-10 11:53] 3esmit commented on #9152
I reinstalled and the issue is not there. Seems like this is caused when added an mailserver. I will investigate further.

[2019-10-10 12:15] yenda commented on #8951
@acolytec3 just to clarify for scenario 1 did you try with an empty account or restoring an account which has transaction?

If you had transactions on the account do they start to show up in the transaction history once you are back online? If that is not the case there might be a bug on status-go side

[2019-10-10 13:32] acolytec3 commented on #8951
Empty account. Then, I took the same account, went to airplane mode, sent a
transaction to it and waited for it to mine, switched off airplane mode and
the account balance updated ~15-30 seconds later.

On Thu, Oct 10, 2019, 8:16 AM yenda <notifications@github.com> wrote:

[2019-10-10 13:39] jakubgs commented on #9081
We had a short meeting today about the badwidth testing and I've noted down some things:

## Knowledege

- The [status-protocol-go-bandwidth-test](https://github.com/status-im/status-protocol-go-bandwidth-test) by Andrea can already do some basic tests
  - Runs a separate processes in Docker
  - Can control duration, numbers of messages, numbers of peers
- What we want is a way to run these kinds

[2019-10-10 13:40] acolytec3 commented on #8951
I can check it again this afternoon once I get home from work.

On Thu, Oct 10, 2019, 9:31 AM Andrew Day <konjou@gmail.com> wrote:

[2019-10-10 13:58] ScyDev commented on #4606
@rachelhamlin Thanks! I've been trying to get in touch with you through Status. Is there a Discord or Slack channel for easier discussion?

[2019-10-10 14:05] flexsurfer commented on #8662
@Serhy cant reproduce

[2019-10-10 14:36] churik opened #9159 "To warn user that for restoring all funds on multiaccount he needs to create all accounts manually"
###  User Story

As a user, I want to be sure that I didn't lose my funds if I create several accounts inside my multiaccount when I need to restore it on other device.

### Description

Currenty if you have multi-account with several accounts and funds on each of them, to restore multiaccount with all funds you need apart from restoring from seed phrase to create the corresponding number of accou

[2019-10-10 14:59] #6835 closed, assigned to nobody

[2019-10-10 15:00] rachelhamlin commented on #8662
Me neither. I entered a search term, hit cancel, and saw my chats list again. iOS

[2019-10-10 15:04] #8997 closed, assigned to nobody

[2019-10-10 15:09] rachelhamlin commented on #9159
Wait, so, sorry I'm not testing myself @churik but...

Is it the case that, to recover my additional accounts, I have to go through the `Add account` > `Add an account` > `Generate a new key` flow...? Or is there a recovery flow there I'm missing?

In other words, what does it mean to create `account B` and `account C` manually?

[2019-10-10 15:10] rachelhamlin commented on #4606
@ScyDev oh, sorry about that! I've been on and off chat today. Just got your Status messages, we can chat there :)

[2019-10-10 15:12] churik commented on #9159
@rachelhamlin
it means that you need to
1) recover your account from seed phrase, and you will see only `Status account`
2) then you need to go to wallet > Add account > Generate new account > `Account B` will be restored (address will be the same, but you can set new name \ color)
3) and do step 2 again for `Account C`

In that case you will see all your funds.

[2019-10-10 15:16] rachelhamlin commented on #9159
Wow, so. We could clue the user into this bizarro situation. But I would much rather restore all of their accounts altogether. That would be the right solution.

Is it possible @flexsurfer?

[2019-10-10 15:40] flexsurfer commented on #9159
i believe we've discussed this, in the future we'll scan paths and restore all accounts with non zero balances

[2019-10-10 16:04] acolytec3 commented on #8951
One follow up here, I was poking around the issue log and I wonder if #9061 might be related to scenario 1 above.  Since there aren't any transactions on the account that @churik described there, seems like it could be the same root issue where it's not updating the balance of the given account (maybe because there's a `:balance-update` error on the account).  I'll dig through `status-im.ethereum.

[2019-10-10 18:06] yenda commented on #8951
@acolytec3 so I think it's okay to update the balance when back online if the balance was not previously set, in that case that wouldn't be a bad fix because the status-go won't notifiy you of any transaction since there is none.

[2019-10-10 19:00] #8551 closed, assigned to nobody

[2019-10-10 19:00] #8911 closed, assigned to nobody

[2019-10-10 19:00] #9054 closed, assigned to StatusSceptre

[2019-10-10 19:36] acolytec3 commented on #8951
@yenda So interestingly, I checked this again in the following way and here's what I see.

1) Open Status app
2) Turn on airplane mode
3) Login with account with previous balance
4) Turn off airplane mode the
5) Wait a few minutes
6) The account value never updates and remains "..."
7) Check the transaction history and it shows the previous inbound transaction.

This is a different scenario than @

[2019-10-10 19:48] yenda commented on #8951
@acolytec3 In your scenario did you send a transaction while offline or do you mean that there is only transaction that have been there for a while? If that is the case I think it still confirms my previous comment, and the correct way to fix it afaict would be to update the balance when back online only if the current balance is still nil (meaning there was no successful balance check yet)

[2019-10-10 19:52] acolytec3 commented on #8951
@yenda In this most recent attempt, I did the latter and agree that it does confirm.  Will work on some changes tonight and tomorrow and hopefully update my PR with an appropriate trigger for update-balance by the weekend.

[2019-10-10 23:00] adambabik commented on #9081
Not sure I would recommend pull-based tools for load testing. Unless these load tests will be fairly long. Also, Prometheus due to getting data periodically can miss some fluctuations which might be interesting for us. Maybe writing to InfluxDB? Having all data points can be also an advantage.

[2019-10-10 23:29] jakubgs commented on #9081
I did consider InfluxDB too, we can see what works better. I'd agree that a push rather than pull scheme would work better for benchmarks.

[2019-10-11 09:09] #8977 closed, assigned to nobody

[2019-10-11 09:23] flexsurfer opened #9173 "Onboarding screens UI glitches"
# Bug Report

## Problem

![image](https://user-images.githubusercontent.com/11790366/66640278-f842ac00-ec18-11e9-829f-acb904efd059.png)
![image](https://user-images.githubusercontent.com/11790366/66640295-fd9ff680-ec18-11e9-941b-68a687a16449.png)

#### Expected behavior

Screens must look great

[2019-10-11 09:25] flexsurfer opened #9174 "It's possible to go back while creating new multiaccount"
# Bug Report

## Problem

![image](https://user-images.githubusercontent.com/11790366/66640674-acdccd80-ec19-11e9-88c1-2071e4094d0f.png)

#### Expected behaviour

back button must be disabled

[2019-10-11 09:49] Serhy commented on #8662
Can reproduce with develop builds.
Maybe last step was unclear (sorry for that). So

Means tap `<-` backspace button on keyboard to clear chracters in the search input field.

Video of the issue: https://drive.google.com/file/d/1JZd-siJiSciU_74w7OtJV4-Qw_JvSk52/view

[2019-10-11 11:10] #8662 closed, assigned to nobody

[2019-10-11 11:22] churik opened #9177 "Keycard onboarding UI touchups / use components"
## Problem
After https://github.com/status-im/status-react/pull/8903 it is required to use same components across all onboarding process, including Keycard part.
It should resolve differences in design and issues with long text (i.e. impossibility to create account  with Keycard when the application  in Russian - screenshot is attached)
![photo_2019-10-11 13 20 56](https://user-images.githubuserco

[2019-10-11 11:43] churik opened #9179 "Temporarily delete PN across the app"
# Problem
Currently, we have a bunch of issues related to PN and enabling notifications.
Basically PNs are not working at all when app is closed and some [other issues ](https://github.com/status-im/status-react/issues?q=is%3Aissue+label%3Apush-notifications+is%3Aopen)
Also to have permission to send PNs "Enable notifications" screen was introduced. There are several issues with it currently:

1)

[2019-10-11 12:17] churik opened #9180 "Account name remains if you change address to another on "Send transaction" screen"
# Bug Report

## Problem
Account name remains in "Recipient" field when you change field value to scanned or pasted address of another user

#### Expected behavior
no account name is shown

#### Actual behavior
<img width="222" alt="sasdsad" src="https://user-images.githubusercontent.com/4557972/66650624-57acb600-ec31-11e9-8f9c-57a1a127304a.png">

### Reproduction

- Open Status
- Go to Wallet > S

[2019-10-11 12:18] churik commented on #9180
@rachelhamlin believe we can live with it in `v1 release`
Add a label if you think it should be added in scope.

[2019-10-11 13:02] churik commented on #8956
Let's fix it, looks ugly

[2019-10-11 13:02] churik commented on #8956
@rachelhamlin remove label, if you think it is out of scope

[2019-10-11 14:17] churik opened #9181 "Can't add several custom mailservers until relogin"
# Bug Report

#### Problem
There are two issues in adding and using custom mailserver:
1) when you connect to mailserver, some hash is shown instead of name :
<img width="229" alt="testetss" src="https://user-images.githubusercontent.com/4557972/66656961-49659680-ec3f-11e9-8944-6623c6f73190.png">
2) when you added custom mailserver, look it's detailes, you can't add new one: if you tap on "+", det

[2019-10-11 15:48] rachelhamlin commented on #9179
Before we do this, I think we need to put a bit of effort toward a POC for [this proposal](https://discuss.status.im/t/fixing-notifications/1379?u=rachel).

I've heard a few technical concerns and if we are going to disable PNs entirely, let's make sure we have recorded our research into whether a more ideal implementation is feasible.

TL;DR: please no one pick up this issue next.

[2019-10-11 22:54] 3esmit opened #9183 "URL Format for Transaction Requests (EIP681) is poorly supported"
EIP681 is supported only in QRCodes and the specification is partially supported.

### EIP681 - URL Format for Transaction Requests
https://eips.ethereum.org/EIPS/eip-681
A link that pop up a transaction in the wallet.
**In Status.im:** Useful as chat message and for dapp support.

#### Examples
Donate 0.314 SNT (0x744d70fdbe2ba4cf95131626614a1763df805b9e) to 3esmit's address (0x3d597789ea16054a08

[2019-10-12 08:27] 3esmit opened #9184 "Set password keyboard starts uppercase on old android (6.0.1)"
# Bug Report

## Problem

Using Status v1 on older android 6.0.1 (Marshmallow) starts with uppercase on set password (Multiaccount creation).
Should verify if password keyboard is being used correctly, and ensure that all versions of software use a safe keyboard.

#### Expected behavior

Keyboard starts as a password keyboard.

#### Actual behavior

Keyboard starts as text mode.

#### Notes

For t

[2019-10-12 10:02] oskarth opened #9185 "Message fetching after being offline takes way too long"
# Problem

As a user of the mobile app, I want message fetching to be very fast, so that I can quickly use Status to talk with people and don't get frustrated with a slow loading dialogue.

**This is one of the first things a user notices, and empirically I see a lot of people frustrated by it**. It is related to the bandwidth issue (https://github.com/status-im/status-react/issues/9081) but is so

[2019-10-12 10:03] oskarth commented on #9185
^ fyi @adambabik @cammellos @andremedeiros @jakubgs @rachelhamlin

[2019-10-12 13:42] oskarth commented on #9108
This came up during Devcon drinks.

@jacqueswww and @gravityblast had some thoughts on how this can easily be achieved, essentially it amounts to signing (in the general cryptographic sense, not with eth) the transaction (all cryptographic key requirements are already met). We can also easily default to the first "hot" wallet (and later extend to being able to rotate the use of this), which then l

[2019-10-12 14:32] 3esmit commented on #9108
Another option to solve the problem:

- Update SNTPlaceholder (SNT Controller) with special transaction method, using two ethereum signed messages, one from token sender with destination chat key, other signed by chat key defining destination wallet.

Not the best because it requires a non standard function and the change of a very sensitive smart contract, might be useful as last resort or to bra

[2019-10-12 15:05] gravityblast commented on #9108
I would be ok to send from and receive funds to the chat key when sending through chat, like a tipping account as we said in some discussions.

If instead we want to allow the sender to select any "from" account, he can just create a signature from that account and include it in the message body.

The message is signed by the chat key; the "sub-message" is signed by the tx "from" key, containing t

[2019-10-13 06:20] weekly-digest[bot] opened #9186 "Weekly Digest (6 October, 2019 - 13 October, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 75 issues were created.
Of these, 36 issues have been closed and 39 issues are still open.
## OPEN ISSUES
:green_heart: #9185 [Message fetching after being offline takes way too long](https://github.com/status-im/status-react/issues/9185), by [oskarth](https://github.c

[2019-10-13 12:32] 3esmit commented on #9108
_Just a breakout of the issue._

## Proposed solution
Interactive, on request: Use protocol to inform wallet address on request.
Flow:
1. Sender requests wallet address by chat (protocol message)
2. Receiver chat-key signs message containing any address they want to receive payments into.
3. Receiver makes transaction from any wallet they control and sends transaction hash by chat
4. If transactio

[2019-10-13 12:37] elegant651 commented on #8135
I finished welcome page, and move into empty state chat page. But, where can I get image assets on this page? like multiple icons and close button.
Also, how to retrieve suggested tags below 'Follow your interests in one of ...'?

[2019-10-13 18:32] alexjg commented on #8443
@gitcoinbot I'm still working on it, going slow due to life intruding on my quiet moments of software engineering. Looking to get it finished this week though.

[2019-10-13 19:01] acolytec3 commented on #8938
@rachelhamlin Any luck here with metamask?

[2019-10-13 19:40] acolytec3 commented on #8960
@rachelhamlin I think I've got #8951 finished up at this point (pending final review from @yenda and QA), can I start on this one?  I'm able to reproduce the bug locally and ready to dig in.  Alternatively, are there any other high priority items for v1 I could help with?

[2019-10-14 06:40] errorists commented on #8845
@rachelhamlin Don’t you guys think it’s too early for that? Those will be dead chats with no activity, without the kind of UX in place yet necessary to facilitate meaningful interaction, especially compared to all of the other places available on the web to discuss things. There’s nothing more sad than scrolling an endless list of channels, decide on the one that interests you only to find it empt

[2019-10-14 08:23] yenda commented on #9185
@oskarth I think this should be replicated in the console client before becoming a status-react issue wdyt? At this point status-react has little to do with the efficiency of receiving historical messages. Moving filters and mailserver logic might help a tiny bit, but I suspect that most of the time is spent receiving 24h of messages matching your bloom filter. With smaller accounts it is much fas

[2019-10-14 08:24] errorists commented on #8135
@elegant651 here are the assets for [the header icon ](https://www.dropbox.com/sh/v56rlj4u87r6zb4/AADPDchcUbDLIne3gp3s0HcUa?dl=0)
The close icon implementation can be already be found in the [Browser tab's permission dialogue](https://github.com/status-im/status-react/pull/8959#issuecomment-529968852)

for the tags, @rachelhamlin what's the latest thought here, should we hardcode a nice set for ne

[2019-10-14 08:49] yenda commented on #9159
So what is the task here?
- a warning?
- scanning paths until 0 balance accounts? (but in this this case maybe we still need a warning, when do you stop scanning? maybe I created 10 accounts and only used the first and last?)

[2019-10-14 08:52] yenda commented on #9140
well if they are not in cryptocompare what are we suppose to do? we can't make up a price for it if there is no market.

So I suppose this task is about using the right symbol for the 3 that are named differently in cryptocompare?

[2019-10-14 09:34] andmironov opened #9200 "Several Keycard issues while trying to recover an account"
**Hold card to the back of your phone to start screen**

* We never mention that if you are already holding your Keycard to your phone you need to put it away and hold again for the connection to be established `Design work needed`;
* We ask to maintain "card to phone" connection even though it's not necessary all the time. It's necessary only when we specifically ask for it and show the image `De

[2019-10-14 09:41] andmironov opened #9201 "A few bugs from the recovery flow (Keycard and seed phrase)"
Was using LG Nexus

**Enter your pairing code screen**

- The layout is wrong in many places here: margins, text alignment, error placement;

<img width="944" alt="Screen Shot 2019-10-14 at 12 16 05" src="https://user-images.githubusercontent.com/3115606/66740959-0db81000-ee7d-11e9-8699-2f599bee0333.png">

- I somehow ended up on this screen with no keyboard opened. To open it i had to tap randoml

[2019-10-14 10:09] churik commented on #9140
Ofc we can't.
I think it is better to delete all currencies, which we can't support and replace symbols with the right ones. In the future it should be automated (e2e), because seems that lists are hardcoded and didn't take into account that list of currencies/tokens can be changed in cryptocompare.

[2019-10-14 10:20] churik commented on #9177
More issues #9200 and #9201

[2019-10-14 10:23] adambabik commented on #9185
I though that moving to Postgres fixed that and receiving messages is fast now.

In terms to replicate it in the console client, we need to implement the logic from status-react. We need to do it anyway at some point. Should we prioritize it?

There was also an idea to download N messages instead of 24 hours because it leads to either downloading massive amount of messages or no messages at all if

[2019-10-14 10:34] cammellos commented on #9185
Mind that this test has been done with version 0.13.1, and specifically says:

Which means that discovery topic is included, postgres won't help with that because is bound to the quantity of data retrieved, not with how quickly we query it (postgres helps with when you join a new chat, or if discovery topic is disabled, such as in v1)

This is easily done when joining a new public chat, but can't

[2019-10-14 10:42] vitvly commented on #9177
@dmitryn not sure if this is the best approach, but that's what I did when fixing #8911 (Basic recovery flow):

1. Move views from `status-im.ui.screens.multiaccounts.recover.views` to `status-im.ui.screens.intro.views` so that `top-bar`, `bottom-bar`, etc. can be re-used.
2. Re-use logic from `status-im.multiaccounts.create.core` for recovery flow as much as possible, but preserve `status-im.mult

[2019-10-14 11:22] Serhy opened #9203 "No transaction history when address has a lot (100+) of transactions"
# Bug Report

_Expected behavior updated 1/11/19. Issue is ready for pick-up._ [RH]

## Problem

For the recovered accounts having a lot of transactions it very long to fetch and display transaction history in History tab. Another note is that we apparently fetch them from the earliest to latest transaction which makes much less sense than if we reverse this order (so currently I see TXs I had 2 y

[2019-10-14 11:23] Serhy commented on #9203
@rachelhamlin, included this in V1 scope since highly likely the issue to be seen by users

[2019-10-14 11:48] oskarth commented on #9185
Definitely agree using v1 RC and console client/somehing CLI (assuming all features are there) would be better. As an end user, the most immediate impact is in the user-interfacing status-react, but upstream issues would be good too.

Has anyone been been able to replicate it / not replicate it? More data points would be great

[2019-10-14 12:10] rachelhamlin commented on #9203
Yes, let's try to fix. 👍

[2019-10-14 14:34] churik opened #9205 ""Resend" option doesn't resend message on Android"
# Bug Report

## Problem
"Resend" option doesn't work on android devices (tried on LG V20, Android 8).
Also popup is not closed when tapping on the blurred area.

#### Expected behavior
can resend message

#### Actual behavior
<img width="225" alt="photo_2019-10-14 16 27 18 jpeg 2019-10-14 16-27-31" src="https://user-images.githubusercontent.com/4557972/66759011-b9725780-ee9f-11e9-908d-9bbef58f2d3

[2019-10-14 15:21] churik opened #9206 "Endless processing spinner after entering wrong PIN when signing message from DApp"
# Bug Report

## Problem

If you enter wrong PIN instead of validation error endless "Processing" spinner is shown.
Also translation is missing on signing screen.
<img width="242" alt="miss" src="https://user-images.githubusercontent.com/4557972/66762623-a911ab00-eea6-11e9-9585-c255cba28629.png">

#### Expected behavior
validation error, can enter valid PIN

#### Actual behavior
![proc_s](https://

[2019-10-15 00:46] acolytec3 opened #9210 "Send transaction page text testnet warning message runs off screen"
# Bug Report

## Problem

The warning message for not sending real ETH on testnet runs off the screen on Oneplus 6T on the Send Transaction screen.

#### Expected behavior

Warning message should wrap nicely

#### Actual behavior

Warning message runs half a character off screen before wrapping.

#### Acceptance Criteria

Warning message wraps correctly.

### Reproduction

- Open Status
- Login to

[2019-10-15 04:56] oskarth commented on #9185
I tried to replicate it with console-client, but it doesn't work for me. https://github.com/status-im/status-console-client/issues/131 Not really ready to wipe my main installation on phone for this. Anyone else who can replicate it and post stats for v1 would be appreciated!

[2019-10-15 07:31] #9066 closed, assigned to nobody

[2019-10-15 07:31] #9110 closed, assigned to nobody

[2019-10-15 07:31] #9186 closed, assigned to nobody

[2019-10-15 08:09] flexsurfer commented on #4193
All from above comment is done, but we still have UI freeze, we need to investigate if status-go might be a reason for this freeze

[2019-10-15 08:19] cammellos commented on #4193
@flexsurfer just thinking aloud, but it seems like the problem is more likely in status-react or between status-react and status-go.

Because of how whisper works, you will receive messages from any 1-to-1 sent by anyone on status, so theoretically if the problem was in status-go solely, then we should be able to replicate on account C by sending 200 messages between A & B (C will receive them and

[2019-10-15 08:29] flexsurfer commented on #9203
as a quick simple solution, show only new transactions in history

[2019-10-15 09:38] jakubgs opened #9212 "MacOS app build lacking "notarization""
# Description

In the process of upgrading to XCode 11.1 in #9172 an issue was discovered with verification of MacOS builds:
[code]
The specific command that failed was:
https://github.com/status-im/status-react/blob/9ff21348f3827debc252e963f4609ec8347a6641/scripts/sign-macos-pkg.sh#L116

# Symptoms
A `dmg` not properly signed and rejected by `spctl` utility appears on MacOS like this:
![unknown](

[2019-10-15 10:15] Serhy commented on #9212
This seem to be the same (or similar) behavior with previous builds too, when launching MacOS build.
To "bypass" this I did:
`Control + click` on installed Status app -> `Open` -> click `Open` button

That worked for too for https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-191015-092131-848866-pr-universal.dmg build (taken from #9172)

[2019-10-15 10:23] yenda commented on #8717
Point 2 is even less clear on the right it says ETH address in the title and talks about chat key. It is actually doing both you wallet address and chat key

[2019-10-15 11:17] yenda opened #9213 "ENS addr is checked instead of owner"
# Bug Report

## Problem

the native ens registration flow checks the addr and not the owner of the ens name

#### Expected behavior

it should check if the owner is the user wallet, otherwise he can't make a transaction to change the pubkey for instance because he doesn't own the name, even if the addr is his.

this means that we probably need a few extra flows for the following cases:
- user is

[2019-10-15 11:38] yenda commented on #9185
@oskarth does console client to mailserver fetching though?

[2019-10-15 11:55] #8960 closed, assigned to nobody

[2019-10-15 12:20] churik opened #9214 "Unpairing card doesn't warn user about consequences and there is no automatic logout after unpairing"
# Problem

Basically account, created with keycard after unpairing card is useless - so after logout you can't login again on the same device (you can't pair it again before app reinstall)
Also If you tap back right after unpairing, you can see error:
![photo_2019-10-15 14 12 11](https://user-images.githubusercontent.com/4557972/66830506-ec772280-ef55-11e9-856a-6c12b135b94d.jpeg)

[Status.log](htt

[2019-10-15 12:54] andmironov commented on #9214
Hey! Thanks for the heads up! This means that the process of unpairing should be redesigned. I will be working on it. cc @guylouis @dmitryn

[2019-10-15 13:17] andmironov commented on #9214
<img width="1649" alt="Screen Shot 2019-10-15 at 16 21 16" src="https://user-images.githubusercontent.com/3115606/66835236-d7a38a80-ef67-11e9-8e69-6ce76be4a90e.png">

Here's a first draft of the flow. You can leave comments in Figma https://www.figma.com/file/bPS9GrvMr7LnH7vnkmuveQfd/Settings?node-id=576%3A0

[2019-10-15 14:59] adambabik opened #9216 "Use eth.staging as a default fleet for development and nightlies"
# Feature Issue

After upgrade of geth and Whisper, the algorithm to calculate envelope's PoW in Whisper changed. It means that sending a message from a client before and after the change might calculate PoW totally different and messages won't be exchanged.

In order to fix it, all clients and forwarding Whisper nodes have to use the same Whisper PoW algorithm.

That's why in https://github.com/s

[2019-10-15 16:37] Serhy opened #9217 "Network fee values fetching takes >1 min"
# Bug Report

## Problem
Often when signing transactions especially from Dapp in emulators, network fee can take forever to be fetched and calculated which results in 0 as network fee TX value.
It's not always reproducible (that network fee takes more than 1 min to update) but happens often when e2e tests are running: e.g. https://app.saucelabs.com/tests/02ffaf2d675747efb0733450b8251b04?auth=7d0ae

[2019-10-16 03:30] oskarth commented on #9185
@yenda nope, so that's another reason ;) WIP to get this support though I believe, cc @adambabik @cammellos

[2019-10-16 07:44] cammellos commented on #9205
@churik I tried to replicate on android emulator, and an huawei media pad, but in both cases it worked as expected, would you mind trying to replicate once more? seems more like a UI bug to me, does deleting a chat work ? (the one that uses the same pop-up). Thanks!

I have tried to install nightly on a moto g5 , but I can't install status anymore on there (says This app could not be installed), m

[2019-10-16 07:59] adambabik commented on #9216
cc @oskarth

[2019-10-16 08:02] churik commented on #9205
@cammellos yes, deleting is working fine.
Unfortunately, I have only one device, where I can replicate it.
@Serhy please help

[2019-10-16 08:23] guylouis commented on #9200
Hey Andrei, what would you think of splitting this one in two :
- one about improvbements to NFC tapping user experience
- one about user story and wording experience

?

[2019-10-16 09:05] guylouis commented on #9062
tested with today's nightly StatusIm-191016-025900-8e9010-nightly-universal.apk
and I confirm that on the same phone if I create
- a multiaccount with seed1  with no keycard
- a multiaccount with seed1 with one keycard

Then: I get two multiaccounts on the phone with different
- 3 names
- wallet account

Whereas the intended behaviour is that
- these two multiaccounts should be identical (same see

[2019-10-16 09:09] Serhy commented on #9205
Yes, I reproduced on my devices (Android 6.0.1, Android 8, Android 9)
So as described in the steps, first you need to get 'Not confirmed. Tap for options' under message.
(I've got it catching 'Send' button active while WiFi disabled)
Now, if you stay Offline with `Not confirmed` state under message - tapping upon this option has no issues when Resend/Delete and tapping anywhere on screen closes th

[2019-10-16 09:10] Serhy commented on #9205
I can record video of what happens with logcat if needed.

[2019-10-16 09:12] cammellos commented on #9205
Just to make sure, did you use the latest nightly?

[2019-10-16 09:13] Serhy commented on #9205
Yes, `0.14.0 (2019101602)` nightly build.

[2019-10-16 09:21] vitvly commented on #4193
@flexsurfer @cammellos I've commented away this line but still see a delay. Tried on `#hugechat111`  - 200 messages.

[2019-10-16 09:27] cammellos commented on #4193
@siphiuel you don't see any message coming through once you comment out that line, correct? (i.e chat is empty)

[2019-10-16 09:32] vitvly commented on #4193
@cammellos yes it is empty (screenshot: https://monosnap.com/file/jgWijRZ2PgeZLiyXuprXU4D73zYNsO). I'll also try on a device once #9220 build is ready

[2019-10-16 09:38] cammellos commented on #9205
ok, replicated by waiting to come back online, thanks!

[2019-10-16 09:40] guylouis commented on #7904
I guess this can be closed right @churik  ?

[2019-10-16 09:41] churik commented on #7904
a long time ago, I suppose yes

[2019-10-16 09:41] #7904 closed, assigned to nobody

[2019-10-16 10:36] Serhy commented on #4193
I've checked freezing time of latest nightly develop and build with commented out message.new signal (build from #9220 ) on Galaxy Note 4
New user having no chats, - joins public chat and receives 100 messages in public chat

| Build | receiving 100 messages from public chat freezes app up to |
| --- | --- |
| 0.9.33 Develop (24rd of January) (from above comments) | ~3 sec |
| 0.14.0  Develop (16t

[2019-10-16 10:37] andmironov opened #9222 "NFC tapping user experience"
### The problem
The Card-to phone interaction is not intuitive. A few specific examples illustrating that point are given below:

**Hold card to the back of your phone to start screen**

* We never mention that if you are already holding your Keycard to your phone you need to put it away and hold again for the connection to be established `Design work needed`;
* We ask to maintain "card to phone"

[2019-10-16 10:38] cammellos commented on #4193
Ok, so looks like the issue is most likely in status-go, I will have a look at it, thanks!

[2019-10-16 11:13] flexsurfer commented on #8940
the first step of navigation improvement, for v1 we want to avoid broken app states, so i added a list of views there it's possible to navigate back safely, we can remove v1 label and continue improvements after v1

[2019-10-16 11:26] errorists commented on #8940
@flexsurfer I'll go ahead and ask you here, would it be possible for the navigation to work like below, so currently if you navigate back from a `Chat`, it would take you to the previous screen, the `New chat`. Instead what it should do is take you to the root view, the `Chats List`, skipping the sequence of any screens in between?

![frame](https://user-images.githubusercontent.com/4932774/669150

[2019-10-16 11:28] flexsurfer commented on #8940
@errorists yes it's possible

[2019-10-16 11:29] errorists commented on #8940
@flexsurfer you're awesome, thanks for the quick reply
![relax](https://user-images.githubusercontent.com/4932774/66915311-fd3c9c80-f018-11e9-9a66-483ba466d1a2.gif)

[2019-10-16 11:53] churik opened #9224 "Implement designs for sign in screens"
# Feature Issue

### User Story

As a user, I want to see consistent sign in screens across the app.

### Description
Figma: [Sign In Design](https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=4566%3A12)

*Summary*: currently across the app we have different from design login screens and mismatch in them for ordinary accounts and for keycard.

### Acceptance Criteria
For V1 is

[2019-10-16 12:28] #9174 closed, assigned to cammellos

[2019-10-16 13:30] churik opened #9225 "Re-implement filter for transaction history"
# Bug Report

## Problem
During redesign filter for transaction history was lost.
I couldn't find it in [wallet design](https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet?node-id=1743%3A303)

#### Expected behavior
Can filter transaction history ("Incoming", "Outgoing", "Pending", "Failed")

#### Actual behavior
No option in new wallet

@errorists or @andmironov can you check it please?

c

[2019-10-16 13:31] rachelhamlin commented on #8135
Apologies for delay @elegant651! How about these for suggested channels?

#introductions #chitchat #status
#crypto #tech #music  #movies

[2019-10-16 13:42] errorists commented on #8135
<img width="375" alt="Frame 3" src="https://user-images.githubusercontent.com/4932774/66924788-8a88ec80-f02b-11e9-8d1b-6a28b622a73c.png">

[2019-10-16 13:48] corpetty commented on #7968
canceled on gitcoin.

[2019-10-16 13:53] andmironov commented on #9225
Hey! Now history is the third tab on the individual account screen:

<img width="513" alt="Screen Shot 2019-10-16 at 16 52 42" src="https://user-images.githubusercontent.com/3115606/66925662-6cc08500-f035-11e9-91ee-04cce97a3b99.png">

[2019-10-16 13:54] errorists commented on #9225
@andmironov can I filter the list?

[2019-10-16 14:17] andmironov commented on #9225
Oh nope, you can't, it has been lost indeed.

[2019-10-16 14:23] guylouis commented on #9224
waouh great point

What is the screen on the left and the one on the right, is that the difference between design and implementation, or  difference between keycard multiaccount and non-keycard multiaccount ?

aslo what do you mean by frozen account ?

[2019-10-16 14:25] churik commented on #8930
should be closed in https://github.com/status-im/status-react/pull/8903

[2019-10-16 14:25] #8930 closed, assigned to nobody

[2019-10-16 14:26] #8901 closed, assigned to nobody

[2019-10-16 14:27] acolytec3 commented on #8960
@rachelhamlin Any chance you can setup a bounty for this one on gitcoin so I can submit work o it?  The PR has been merged so it's all done at this point.  :-)

[2019-10-16 14:31] andmironov commented on #9224
"Frozen accounts" is something I added just recently. An account turns frozen (btw it should be "Frozen key") when the user exceeds the number of attempts to enter the correct passcode.

<img width="826" alt="Screen Shot 2019-10-16 at 17 31 03" src="https://user-images.githubusercontent.com/3115606/66929020-ffafee00-f03a-11e9-867b-e66fcb992d89.png">

A frozen key is still listed in the list of ava

[2019-10-16 14:32] churik commented on #9224
@guylouis
1) it is how it looks now vs how it is designed
2) answered by @andmironov , thx

[2019-10-16 14:58] hesterbruikman opened #9226 "Styling + add date seed phrase backed up"
# Problem
Recently functionality was introduced to remove the notification to back up seed phrase, once the  process to back up seed phrase has been completed. #9105

The visual style of this implementation leaves the list item as greyed out. This can result in confusing it for a header and being unsure about whether the seed phrase has been backed up. We want to make it more apparent that the see

[2019-10-16 15:09] guylouis opened #9227 "Remove keycard unpairing for v1"
Keycard needs to be paired to a phone in order to use Keycard as a hardware wallet.
One keycard can be paired to maximum 5 phones (keycard holds 5 pairing slots)
One phone can be paired up to Np cards

unpairing will be done after v1. This needs to be removed from current implementation.

[2019-10-16 15:11] guylouis opened #9228 "Add an unpairing keycard feature"
Unpairing a card is an advanced feature for users that might be in the following situation:
- they have used their keycard with 5 phones and want to pair to a new one
- have more than Np cards paired to a phone

The most simple unpairing feature consist of removing the card and phone pairing slot.

We can possibly add a feature to remove all pairing slots from a card. This is usefull if the user h

[2019-10-16 15:32] #8484 closed, assigned to nobody

[2019-10-16 15:32] #8853 closed, assigned to nobody

[2019-10-16 15:39] yenda commented on #4193
@cammellos before looking into status-go, which does not make sense to me because the UI is freezing, I think you should check this:

[code]

this involves:
- an event dispatch `[:signals/signal-received (.-jsonEvent %)]` on every signal
- a json to clj conversion `(types/json->clj event-str)` even when you comment out processing the messages

so I wouldn't be surprised if the UI is still choking

[2019-10-16 15:44] cammellos commented on #4193
makes sense, good point

[2019-10-16 15:46] guylouis opened #9229 "Clean keycard and remove multi-account"
**Situation**

Currently, after a keycard has been set-up after onboarding the keycard has
- setup a PIN, Pairing code, PUK
- secrets loaded (which correspond to status multiaccount seed)

**Problem**

There is no possibility for the user to remove the secrets loaded physically from the card

A user might want to delete the secrets from his card because
- despite the high level of hardware securit

[2019-10-16 18:47] acolytec3 commented on #9183
Could I take a stab at this?  I just fixed a bug in #8960 where EIP681 URIs embedded in QR codes seems to work right on the send-transaction screen and would love to dig a bit deeper into understanding this EIP.

[2019-10-16 19:05] acolytec3 commented on #8851
Quick note, I could not reproduce this on a Oneplus 6T with a current build from the develop branch.  The in-app back button appears to work just fine and navigates back to the previous page as expected so wondering if it got fixed.

[2019-10-16 23:05] zoek1 commented on #7633
@rachelhamlin could i take this bounty? i have expirence with RN :)

[2019-10-17 06:05] kilimanjaro2 commented on #7633
Yes please. I forgot about it, in fact.

On Wed 16 Oct, 2019, 18:05 Miguel Angel Gordián, <notifications@github.com>
wrote:

[2019-10-17 07:01] gravityblast commented on #9062
I'm trying with yesterday's and today's nightly but even when I select keycard it asks for a password and the keycard is never used.
Does it work for you?

[2019-10-17 07:32] guylouis opened #9231 "Recover a key from seed on keycard: a password is asked to the user (it should not)"
Tested with today's nightly StatusIm-191017-025900-7b6dfa-nightly-universal.apk

From a fresh download of status, user actions
- access key
- from seed
- enter seed
- to keycard

then Status asks for a password (before even asking to tap a keycard or anything)

Correct behaviour should be : ask to the user to tap a card, and then depending on its state proceed
- if card is not initialzed: initiali

[2019-10-17 07:34] guylouis commented on #9062
no it doesn't
opened an issue https://github.com/status-im/status-react/issues/9231

[2019-10-17 08:04] gravityblast commented on #9062
@churik are you only trying to recover a normal mnemonic phrase in a different device?
Maybe I'm missing something but device 2 shouldn't know that the mnemonic has been used for a keycard. or does device 2 already have the same account with keycard as well?

[2019-10-17 08:22] hesterbruikman commented on #8717
@yenda Agree, that copy doesn't make sense:S

What about:
**Simplify your addresses**
Chat with people using an easy to read and share name: myname.stateofus.eth

To make sure I understand correctly, if I'm using another wallet like Gnosis safe (random, but they were integrating ENS). And I send funds to yenda.stateofus.eth, where do those funds end up?

- The account of the key we use for Whisper

[2019-10-17 09:03] rachelhamlin commented on #8845
@hesterbruikman @errorists I'm just reading the conversation in #core about this that I missed yesterday. I'm under the impression that we can measure activity in a certain Whisper topic/chat, and thus there is some room for imagination here. See Andrea's comment here: https://github.com/status-im/infra-misc/issues/26#issuecomment-540490325

Another means to make chat more active would be to [load

[2019-10-17 09:46] gravityblast commented on #9062
@dmitryn
We tried to import your mnemonic to both keycard and status-go manually (outside status) and deriving the chat key.
They both derive the same public key `0x04a0a4d09cdafdca75b131d82df8a1a593efe0293573694a74ff1d99be65e39899d331b0f21201a044893e34c718276c9563803a66cb600e07559d5a5d15f2361b`.

So I guess maybe we are deriving something else from within status?
I can't really test it because th

[2019-10-17 10:13] guylouis commented on #9061
as noted by @churik , this bugs prevents performing any transaction from the wallet it self or from dApp

[2019-10-17 10:25] StatusSceptre commented on #7633
Sure @zoek1, can you please apply on gitcoin? Let us know if you have any questions. Welcome!

[2019-10-17 10:30] flexsurfer commented on #7633
@zoek1 also if you'll work in  this you can use this PR https://github.com/status-im/status-react/pull/8399

[2019-10-17 10:54] churik commented on #9062
@gravityblast
nightly build is working with keycard, I suppose you download it from https://status.im/nightly/ which is not updated ~for 1 month.
Please use https://ci.status.im/job/status-react/job/nightly/ to get latest develop builds.

Maybe I'm missing something but device 2 shouldn't know that the mnemonic has been used for a keycard. or does device 2 already have the same account with keycar

[2019-10-17 10:55] rachelhamlin commented on #8938
Hi @acolytec3 unfortunately I'm still blocked on Metamask. :/ But another colleague is able to get in, so he'll pay you for this one + tip for #8027.

Awesome work on #8960 too. I'll get help setting up a belated bounty there as well.

[2019-10-17 11:02] acolytec3 commented on #8938
@rachelhamlin, awesome, thanks! Hold off on #8951 till @yenda confirms my
approach is what he's thinking. #8960 is the one where the PR has been
merged already.

Any others that need attention right now?

On Thu, Oct 17, 2019, 6:55 AM Rachel Hamlin <notifications@github.com>
wrote:

[2019-10-17 11:26] 3esmit commented on #9183
The issue here refers as EIP681 being fully supported in Status.
It must be breakdown into two types of issue
## Specification related
 1. - [ ] ENS names must resolve (see [this](https://github.com/status-im/status-react/blob/develop/src/status_im/ethereum/eip681.cljs#L44)) #9238
 2. - [ ] `chainId`, `gasPrice`, `gasLimit` fields support #8150
## Implementation related
 3. - [ ] a) should only ac

[2019-10-17 12:08] acolytec3 commented on #9183
@3esmit, definitely, would love to take that on.

[2019-10-17 12:12] guylouis commented on #9062
Full reproduction of the issue. I have to use a different mnemonic than the one above because it's not possible to recover a seed on a keycard now (issue #9231 )

**FIRST STEP: SET UP A KEYCARD MULTIACCOUNT**
- download latest nightly, in my case: StatusIm-191017-025900-7b6dfa-nightly-universal
- use a brand new keycard
- generate a key
- chose "Far Peppery Harpseal" ....5817
- chose to store it o

[2019-10-17 12:28] churik opened #9233 "Overlapping on some screens (onboarding, wallet - English, Galaxy S7)"
# Bug Report

It is very visible and in happy-path flow, so should be fixed in v1 IMO.
## Problem
On "Send Transaction" screen:
<img width="153" alt="App Live Dashboard 2019-10-17 13-54-43" src="https://user-images.githubusercontent.com/4557972/67008401-ae126c80-f0e9-11e9-9d14-13567c81b7bd.png">

On "Select key storage" (during onboarding):
<img width="144" alt="s7_overlap" src="https://user-image

[2019-10-17 12:29] cammellos commented on #4193
@Serhy would you mind trying the same with https://github.com/status-im/status-react/pull/9230 (still building for now, it should be build #3).
You will not see any message (same as above), we just need to make sure that we repopulate the chat.

Thanks!

[2019-10-17 12:29] 3esmit commented on #9229
If user forgets Pairing code, PUK and/or PIN, it should be able to reset?

[2019-10-17 13:07] churik opened #9234 ""Remove current photo" is shown for new account and profile info is duplicated in header after any change"
# Bug Report

## Problem

#### Expected behavior
1. Removing photo is not shown when photo is not set
2. The header is not changed after removing/setting custom photo

If you scrolling and switching between profile and other tabs.

#### Actual behavior

![removing_photo](https://user-images.githubusercontent.com/4557972/67011106-3e06e500-f0ef-11e9-8710-482a698f9bb4.gif)

### Reproduction

- Open S

[2019-10-17 13:09] churik commented on #9234
@rachelhamlin issue doesn't block user from anything, but it is common action for a majority of users.
So added in v1 (remove if you don't think it is important for v1)
I believe can be bounty.

[2019-10-17 13:19] churik commented on #8935
@rachelhamlin I think now it is part of https://github.com/status-im/status-react/issues/9224
Should we close this one?

[2019-10-17 13:22] StatusSceptre commented on #8960
@acolytec3 this has been reserved for you, go ahead an apply and we'll pay it out.

[2019-10-17 14:18] rachelhamlin commented on #8352
Note - if this issue is only happening when connection is throttled, it could simply be fixed by changing the error copy to be more instructive, e.g. `Connection lost. Please try again.`

[2019-10-17 14:22] rachelhamlin commented on #8995
Introduce custom changes required to support markdown, _as_ a react-native library? @yenda

Adding to bounty backlog. 👍

[2019-10-17 14:27] #8209 closed, assigned to nobody

[2019-10-17 15:07] rachelhamlin commented on #9159
@errorists I know how much you love warnings and error messages. Do you have any thoughts on how we could tell users that they need to manually recover their additional accounts by "generating a new key"? It's a bit shocking from a UX perspective, but the incidence of this occurring should be low. 🤞

I rate it P1.

[2019-10-17 15:14] rachelhamlin commented on #8962
What's the state of this one guys? Is it actually a v1 requirement? @flexsurfer @cammellos

[2019-10-17 15:15] rachelhamlin commented on #8897
@siphiuel curious - do you think we need to prioritize this one for v1?

[2019-10-17 15:21] churik commented on #9177
related issue: https://github.com/status-im/status-react/issues/8851

[2019-10-17 15:22] errorists commented on #9159
@rachelhamlin sorry I missed this. I didn't work on multiaccount so will ping @andmironov instead, I'd assume/hope it was thought through at some point 🤞

I'm thinking of adding an additional step on account recovery that would inform users what they need to do on condition they want to access any additional accounts they had along with their balances, because it's not obvious at all.

[2019-10-17 15:24] rachelhamlin commented on #8325
I'm removing this from the v1 release backlog bc users have other avenues to report bugs, namely #status, or perhaps some other #support channel.

cc @andremedeiros

[2019-10-17 15:24] rachelhamlin commented on #8135
Thanks @errorists!

[2019-10-17 15:27] rachelhamlin commented on #8851
Thanks for that @acolytec3! I believe it's been reported somewhere else and should get fixed in the scope of another issue, if it still exists. Closing.

[2019-10-17 15:27] #8851 closed, assigned to nobody

[2019-10-17 15:31] hesterbruikman commented on #9159
Discussed this with @gravityblast (tagging for accuracy). As I understood there is an API in Go that should allow to check for any funds on accounts derived from the mnemonic. If fund amount is >0 these accounts can be imported along with the recovered key.

Not sure what is required to implement this and whether it's more work, to implement a warning to move funds manually or to implement react u

[2019-10-17 15:33] errorists commented on #9234
🙌
I'm also experiencing the duplicate header more often than I'd like, (seen above on the video), would really appreciate if there's a fix for that.

[2019-10-17 15:37] cammellos commented on #8962
@rachelhamlin I am not working on this actively, we have improved chat performance of about 45% in the previous task, I can spend more time on this if necessary, but maybe it's time to re-asses if performance are now acceptable?

[2019-10-17 16:21] gravityblast commented on #9159
yes we can use go to derive n addresses and checking the balance

[2019-10-17 16:34] gravityblast commented on #9062
@guylouis I think we display the wrong public key.
Try again setting up a Keycard, then re-install status and pair the card with your pairing password.
The public key is different, and in this case we aren't even using the mnemonic phrase.

[2019-10-17 17:07] gravityblast commented on #9062
@churik I used the build you say but trying importing a mnemonic to a keycard instead of setting up a new account from scratch and it wasn't working

[2019-10-17 17:21] vitvly commented on #8897
@rachelhamlin this is in scope for webview migration, as UIWebView was removed from community webview back in version 7.0.1: https://github.com/react-native-community/react-native-webview/releases/tag/v7.0.1

[2019-10-17 21:05] acolytec3 commented on #8960
@statussceptre work submitted, thanks!

[2019-10-17 23:07] acolytec3 commented on #9183
@3esmit in terms of ENS resolution, is it necessary that the resolution happen within the EIP681 module code or can that module just verify the ens address is constructed correctly and leave it to the view that calls the `eip681/parse-uri` method to then call `ens/get-addr` similar to how the wallet/send-transaction view does it?

[2019-10-18 03:42] oskarth commented on #9216
Is anyone handling this in @status-im/status-core (also cc @andremedeiros in case you aren't in that team yet)?

[2019-10-18 04:50] oskarth commented on #9081
Discuss post: https://discuss.status.im/t/fixing-whisper-for-great-profit/1419
Theoretical model numbers: https://htmlpreview.github.io/?https://github.com/vacp2p/research/blob/master/whisper_scalability/report.html
Waku mode draft: https://github.com/status-im/specs/pull/54

@jakubgs any luck with above?

Also it'd be great if we can figure out where other traffic might be coming from, i.e. thing

[2019-10-18 06:01] tmlee commented on #9140
May I suggest considering our API at https://www.coingecko.com/en/api

One of the pain points we hear from developers is to support unknown ERC-20 tokens. To solve that problem we provide an endpoint to query token price using contract addresses. Since we support over 5500 coins/tokens there is a chance that you may find the token market data from CoinGecko.

Here is example for CDAI
https://api.c

[2019-10-18 06:55] Serhy opened #9235 "Amount and Network Fee text overlap in 'Sending' screen when there are long values"
# Bug Report

## Problem
Transaction amount and network fee often calculated up to eighteenth digit precision  (in case of 18-decimals asset). In that case the 'Amount' and 'Network Fee' text on the 'Sending...' screen overlapped by it's value.

#### Expected behavior
Long values of amount and network fee does not overlap the text

`I would ask to truncate … the numeric values at the end so that t

[2019-10-18 06:56] Serhy commented on #9235
@errorists, @andmironov need your design input here

[2019-10-18 07:02] errorists commented on #9235
agree it's not great. I would ask to truncate `…` the numeric values at the end so that the entire text label of `Amount` / `Network Fee` is visible. Both are already displayed in their entirety in the header of the bottom sheet.

[2019-10-18 07:05] yenda commented on #9081
@oskarth on a new account there would only be a handful of calls for infura afaik. The heavy stuff is only when there is transactions to recover

[2019-10-18 07:57] Serhy commented on #9235
@rachelhamlin is it a good candidate for bounty?

[2019-10-18 08:13] errorists commented on #8845
Here's what I'm thinking for the design

Ideally, I'd like to have a shorter list for now, if we can make propagate it with channels based on recent activity that's great. Otherwise hardcode it with a list of channels we think would have the most activity.

![Group 1](https://user-images.githubusercontent.com/4932774/67077591-db195a80-f18f-11e9-9561-ccbf62ddee39.png)

I'd park the full list of eve

[2019-10-18 08:16] Serhy commented on #4193
@cammellos with Android #4th build from #9230 (https://status-im-prs.ams3.digitaloceanspaces.com/StatusIm-191017-142532-fa00f5-pr-universal.apk)
I don't receive any message at all. Neither after going back online from offline state nor when both devices are online and exchange messages in public chat (however user with nightly build receives messages from user with #9230th PR build)
From the good

[2019-10-18 08:25] cammellos commented on #4193
@Serhy that's expected, I disabled receiving messages. Did you join a chat with lots of messages posted today? (A chat that gives you the same problem )

Also https://github.com/status-im/status-react/pull/9220 should also not receive messages, is that correct?
I might dm you as I have a few questions.
Thanks!

[2019-10-18 08:28] Serhy commented on #4193
Yes, I joined chat with 100 messages posted today (not exactly the same chat that were tested before though).
And yes, no messages were in #9220 but there was app freezes.

[2019-10-18 08:34] cammellos commented on #4193
Ok, so looks like the bottle neck is the actually parsing of json messages, I will have a look at that, I wil push another build in the meantime to pin point better the issue

[2019-10-18 08:50] yenda commented on #4193
@cammellos it might be worth trying transit reader, I've experienced faster parsing than with js/JSON. However that may require more work afterword to make it work properly because chances are it will parse all the way down including content itself.

[2019-10-18 08:55] cammellos commented on #4193
@yenda thanks, we will have a proper discussion about changing the format (discuss post?), so we consider all the options, I won't make any decision now, but I will verify if it's actually faster using a different format first

[2019-10-18 09:29] yenda commented on #4193
@cammellos I'm not talking about changing the format but just using transit decoder on the json itself, because transit is json.

[2019-10-18 09:30] cammellos commented on #4193
oh I see, you are just basically saying to just use a different json decoder, sure we can try that

[2019-10-18 09:38] jakubgs commented on #9216
This can be easily changed by using the `FLEET` parameter in Jenkins:
https://ci.status.im/job/status-react/job/manual/build
Or just modifying the default value here:
https://github.com/status-im/status-react/blob/647bde7c6b46faf0eb4bf240457b385255275380/.env.nightly#L6
And other `.env.*` files.

[2019-10-18 09:40] jakubgs commented on #9216
Although do take into account that the `eth.staging` fleet is much smaller than the `eth.beta` one. Though considering our small usage it should be fine.

[2019-10-18 10:10] #8446 closed, assigned to flexsurfer

[2019-10-18 10:11] flexsurfer commented on #9037
WIP https://github.com/status-im/status-react/pull/9236

[2019-10-18 11:49] 3esmit opened #9238 "EIP681 does not support ENS_NAME"
Currently if you try to use EIP-681 using ENS names it gives an error about invalid link.

Anywhere an address is expected, it should accept ENS names, for example, this should be valid:
`ethereum:pay-snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16`

![image](https://user-images.githubusercontent.com/224810/67328402-c6bac200-f4ef-11e9-9017-4fca1ab1ad6d.png)

The resolution is

[2019-10-18 11:50] 3esmit commented on #9183
@acolytec3 See #9238

It should only validate the ENS_NAME, but the resolve is up to the UI.

[2019-10-19 05:56] elegant651 commented on #9054
currently working : #8135

[2019-10-20 06:20] weekly-digest[bot] opened #9241 "Weekly Digest (13 October, 2019 - 20 October, 2019)"
Here's the **Weekly Digest** for [*status-im/status-react*](https://github.com/status-im/status-react):

 - - -
# ISSUES
Last week 54 issues were created.
Of these, 25 issues have been closed and 29 issues are still open.
## OPEN ISSUES
:green_heart: #9240 [Fixes #9238](https://github.com/status-im/status-react/pull/9240), by [acolytec3](https://github.com/acolytec3)
:green_heart: #9238 [EIP681 do

[2019-10-20 15:37] tbenr commented on #8877
@gitcoinbot still need some time

[2019-10-20 16:46] tbenr commented on #8877
@rachel working on this but i cant do any transaction: after signing I always get this error:
![image](https://user-images.githubusercontent.com/15999009/67162958-dc05e400-f369-11e9-8922-3fe5e11abdeb.png)
any help?
cc @asemiankevich

[2019-10-20 18:16] tbenr commented on #8877
@rachelhamlin @asemiankevich I created a new account and now works. Maybe i was using an old account with statusgo issues.

[2019-10-21 06:13] rasom commented on #8650
just to double check, we don't want to show it unless user has some assets in their wallet, right?

[2019-10-21 06:53] guylouis commented on #9229
given the low value ($) of the card it self we've not designed it this way ...
the user must remember his PIN (or PUK) to access his card, and he must remember his pairing if he has no phone paired

If we implement https://github.com/status-im/status-react/issues/9064 after v1, the user will be able to recover any keycard if he has his seed (and if PUK/Pairing hasn't been changed form the derived

[2019-10-21 07:11] guylouis commented on #9062
@gravityblast yes this is #9231

with regards to the public key issue, who can check where is the bug, is it @dmitryn ? Can you share here elements that leads to think issue is on react and not go ? Thanks

[2019-10-21 07:14] hesterbruikman commented on #8650
Correct. Intention is to show the notification in:
**Profile** - at all times until backup process has been completed.
**Wallet** - only when the user has assets in _any one of the accounts that is derived from the root key_.

For example:

1. I create a multiaccount (root key incl chat and wallet)
2. I do not back up seed phrase > _no_ notification in wallet
3. I receive funds on initial account

[2019-10-21 07:50] rasom commented on #8650
@hesterbruikman it should work as you described in #9253

[2019-10-21 09:23] gravityblast commented on #9062
@guylouis first of all there's something wrong with the mnemonic. if you try to import it in any other wallet like mycrypto, you will see it's invalid.
Then if I use the mnemonic with our new and old libraries in go, I see that the right address is the second one. so I guess there's something wrong when we call the keycard API maybe.
yes I htink @dmitryn knows more about it

[2019-10-21 09:30] StatusSceptre commented on #7633
@zoek1 you're approved for the issue on gitcoin. 👍

[2019-10-21 09:30] StatusSceptre commented on #8443
@alexjg pretty sure you're still making progress in your own time but check in w/ us this week if you can :)

[2019-10-21 09:33] StatusSceptre commented on #8981
Hi @bitsikka! Just checking in with you. How are things?

[2019-10-21 09:39] StatusSceptre commented on #9233
@churik can I combine with this issue? https://github.com/status-im/status-react/issues/7990

I'll add more DAI to the bounty if so.

[2019-10-21 09:40] StatusSceptre commented on #8818
Cool - welcome aboard @gutsal-arsen, you're approved. :)

[2019-10-21 09:41] bitsikka commented on #8981
@StatusSceptre I am back from vacation, and continuing work on this. Expecting to send a PR by the end of this week.

[2019-10-21 11:06] oskarth commented on #9216
It seems like the app might be ignoring this setting and using beta fleet anyway

that might be an issue on our side, settings might be saved but not applied, since we moved them to status-go
so the client might still be hitting the beta fleet, I am on something else but could take a look at this later, but I'd rather focus on what I am currently finishing off, so if anyone would like to investiga

[2019-10-21 11:52] acolytec3 commented on #8960
@StatusSceptre Quick bump to remind this PR has been approved and merged already.

[2019-10-21 13:42] churik opened #9255 "Value is erased when go back to Profile from ENS username after validating it"
# Bug Report

## Problem

After entering valid name if you go back to profile and open ENS name again - value will be erased, but button "To continue" will be enabled

#### Expected behavior
Value is preserved

#### Actual behavior
![ens_name](https://user-images.githubusercontent.com/4557972/67209949-889e9f00-f418-11e9-8977-852f3e1e3b63.gif)

![IMG_A9F0BFA81AEA-1](https://user-images.githubuserco

[2019-10-21 13:55] andmironov opened #9256 "Remove the "~" from the fiat currency value "~10.4 USD""
Is it necessary to show the approximation symbol next to the fiat currency value everywhere? If not, let's remove it?

<img width="864" alt="Screen Shot 2019-10-21 at 16 55 27" src="https://user-images.githubusercontent.com/3115606/67211540-9b6aa100-f423-11e9-87b1-8b4b66b5feef.png">

[2019-10-21 15:26] alexjg commented on #8443
Apologies, I thought I had responded to @gitcoinbot. Yup I'm still trucking on, hoping to submit a PR tomorrow.

[2019-10-21 15:31] StatusSceptre commented on #8962
Nope, I think it makes good sense to measure again before continuing work. I'm removing this from v1 and deprioritising on the backlog. Thanks @cammellos.

[2019-10-21 15:37] cammellos commented on #8962
Sounds good @StatusSceptre

[2019-10-21 19:47] acolytec3 commented on #9234
@churik @yenda @flexsurfer @errorists Not sure who to direct this question to but in looking at the underlying code, is it safe to assume that if a user ever adds an image as their profile picture, it will always be jpeg and if it's the system generated identicon, it will always be png?  It looks like the [update-picture event](https://github.com/status-im/status-react/blob/dbb4dfa61bb579bb0e9051f

[2019-10-21 21:02] errorists commented on #9234
To me it’s not as clear, I have pictures in my gallery that aren’t JPG and I can choose to use any one of them as my profile pic. Unless we save these locally as jpegs, chances are you’d end up using PNGs for avatar pictures too.

[2019-10-21 21:34] ljtron commented on #6433
I have a question how do you call the function named “_iexecDoracleGetVerifiedResult” on your doracle smart contract, so it will check the result stored on the iExec’s smart contract from the step by step guide

[2019-10-21 22:25] acolytec3 commented on #9234
@errorists That's what I wondered too but when I set an image with a PNG extension as my profile pic, re-frisk is still showing the photo-path value as a base64/jpeg.  I think that regardless of the actual format, it's being saved as a bas64/jpeg representation by `update-picture` and that seems to work just fine.  So, I think should be a safe assumption unless somebody else knows otherwise.  I'll

[2019-10-22 04:37] oskarth commented on #9185
@cammellos you mentioned something about 200 messages freezing up the app, is there an up to date issue for that?

[2019-10-22 04:38] oskarth commented on #9185
@cammellos you mentioned something about 200 messages freezing up the app, is there an up to date issue for that?

also cc @andremedeiros re perf

EDIT: here it is https://github.com/status-im/status-react/issues/4193

[2019-10-22 05:53] bitsikka commented on #9234
@acolytec3

I have worked in these areas and have few notes I'd like to share

I too have used profile pic being saved as base64/jpeg to determine whether or not to render border around profile pic.

So that approach also works.

Still, fwiw, In the past, it worked as intended, with a little bit different implementation (and so this bug is a regression).

The logic used to be, to compare `photo-pa

[2019-10-22 06:03] bitsikka commented on #8981
@jakubgs @PombeirP
Help!
I am having problems running `make shell` with target env `iOS` in latest develop :(
[code]

this started happening after recent merge of https://github.com/status-im/status-react/commit/f28fd8fc9c218000842eda9c9a488cf24869322f

[2019-10-22 08:16] vitvly opened #9260 "[WebView-migration] JS injection prior to document load"
# Feature Issue

We are migrating from RN's built-in WebView to [react-native-community/webview](https://github.com/react-native-community/react-native-webview). In scope of this migration, we will maintain our own [fork](https://github.com/status-im/react-native-webview).

This issue deals with the high-priority task that has to be completed first: supporting JS injection into WebView prior to do

[2019-10-22 09:11] acolytec3 commented on #9234
@bitsikka I like that approach. Solves the issue more exactly than mine does. That said, it feels like execution time might be slightly longer if you're generating an identicon every time you render the page versus just looking at the first part of the string. I dunno if it's enough to make a difference in page load so will leave it to the reviewers on whether to change. Thanks for the suggestion!

[2019-10-22 10:30] yenda commented on #9108
@rachelhamlin @errorists is there designs for address request?

[2019-10-22 10:38] StatusSceptre commented on #9233
[This is a handy benchmark](https://www.screensizemap.com/?utm_source=departmentofproduct_newsletter&utm_medium=departmentofproduct_newsletter&utm_campaign=departmentofproduct_newsletter) when thinking about the importance of these two issues - the Samsung Galaxy J7 has popularity under 2% compared to other screen sizes. (Data from Statcounter)

[2019-10-22 10:46] errorists commented on #9108
@yenda are we doing manual address requests? there are no designs for that, should I create them? i thought you're on notifications now :P

[2019-10-22 10:50] StatusSceptre commented on #8960
Oops! I'm sorry about that @acolytec3. It's paid :)

[2019-10-22 10:51] acolytec3 commented on #8960
Thanks!

On Tue, Oct 22, 2019, 6:50 AM StatusSceptre <notifications@github.com>
wrote:

[2019-10-22 10:52] StatusSceptre commented on #8718
Hey @alphaserpentis, wonderful. Welcome to the project! Let us know if you need any support.

[2019-10-22 10:52] StatusSceptre commented on #8812
All yours @tbenr! Thanks for applying.

[2019-10-22 10:56] StatusSceptre commented on #5242
Hi @scydev - slowly getting around to approving bounties. You're officially assigned, welcome to the project! Let us know if you need any help.

[2019-10-22 11:26] AlphaSerpentis commented on #8718
On Tue, Oct 22, 2019 at 5:52 AM StatusSceptre <notifications@github.com>
wrote:

Thank you for giving me this opportunity!

Also, is there a Discord of some sort so we can communicate easily?

[2019-10-22 12:06] bitsikka commented on #9234
@acolytec3

👍

good point about perf..
Something worth looking into maybe: recently, there was a change(related to perf - moving to golang) in the way identicons are generated(and maybe cached - not sure)

Edit: confirmed! `identicon/identicon` is `memoize`d (plus, one/first time execution done in status-go) - pretty sure ok to use perf wise

[2019-10-22 12:28] hesterbruikman commented on #8447
@bitsikka catching up here. Do I understand correctly that this issue is on pause while you are working on Topbar https://github.com/status-im/status-react/issues/8981 and were waiting for #8776 to be merged?

Do you have an ETA on when you might get around to this issue? If it's plus 2 weeks we might see if someone else can pick this one up, but obviously not if you're 90% there.

[2019-10-22 12:29] jakubgs commented on #8981
@bitsikka Oh yeah, there was a bug there, in this line:
https://github.com/status-im/status-react/blob/dbb4dfa61bb579bb0e9051f4dadd84e48b18157e/Makefile#L32
If you change the `=` to `:=` it should work fine.

[2019-10-22 12:34] bitsikka commented on #8981
@jakubgs
Thanks!!!
I can move ahead with temp local fix 👍

[2019-10-22 12:35] yenda commented on #9234
@bitsikka @acolytec3 I think checking if the photo-path is the same as the identicon is the most robust solution. Also there is no point doing that check more than once. You can do it at login, and store some value in app-db like personalized-picture? that you set to true if the two are different.

[2019-10-22 12:42] hesterbruikman commented on #9224
@andmironov @yenda can you confirm flow 1 and 5 in this issue?

Following the same rationale of not showing the key on the multiple accounts (aka `Your keys`) screen, because it might change in the future/is not an accurate representation of the root key, I imagine we also don't want to include it in the single account view. (Currently it is included in flow 1 and 5).

Context: https://github.com/

[2019-10-22 12:43] bitsikka commented on #9234
@yenda
indeed the most robust.. 👍  I'm still catching up with updated changes :) and somewhat stuck behind in old implementations. I understand you mean that both `identicon` and `photo-path` fields are there in the new db, whereas iirc only `photo-path` was there before. Or, something like that.

[2019-10-22 12:57] bitsikka commented on #8447
@hesterbruikman yes we are in total sync

- This one is on pause while I work on Topbar
- Positive that `Topbar` will take < 2 weeks (only ~30% there so far)
- I am 50% present till 9 more days, and more-or-less 100% present till New Year

[2019-10-22 13:09] hesterbruikman commented on #8717
Just realized the above doesn't make sense for point 2 either as it basically repeats point 1. How about the following @yenda @rachelhamlin @errorists

1. Readable chat key
Your chat key becomes an easy to read and shareable name: myname.stateofus.eth.

2. Show your name in Status
Control your privacy by using your ENS name in chat instead of your random 3-word name (e.g. @vitalik94 instead of Bre

[2019-10-22 13:30] hesterbruikman commented on #8884
@Serhy @churik would love to hear your thoughts on this. I always understood the risk of mistaking testnet for mainnet, to be in sending funds _to_ a testnet address, not _from_ a testnet address.

It seems more useful to me to have this warning appear when you tap on `Receive` or `Share`.

[2019-10-22 13:44] jinhojang6 commented on #8845
@errorists I do like the design, personally

[2019-10-22 15:05] acolytec3 commented on #9234
@yenda I'll update my PR along those lines.

[2019-10-22 15:14] #8650 closed, assigned to nobody

[2019-10-22 17:45] AlphaSerpentis commented on #8718
I cannot install the test build, do I need my device's UDID provisioned?

If so, here's the UDID: 7d72aeaaf0935466e247ac640f7b6f77287456a4

@StatusSceptre

[2019-10-22 19:14] yenda commented on #9108
@rachelhamlin @errorists I suppose manual address requests make sense yes, or that could be included in the contact request but I think separated is better, so that it is not implicit for the user

[2019-10-22 20:17] 3esmit commented on #9238
There was a confusion with the interpretation with EIP681, and the link
` ethereum:snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16` should be invalid.

Using ENS_NAME requires prefix `pay`.

This would be the correct link
`ethereum:pay-snt.thetoken.eth/transfer?address=unicorn.stateofus.eth&uint256=1e16`

![image](https://user-images.githubusercontent.com/224810/67328402-c6bac

[2019-10-23 06:35] rasom commented on #9233
I can't find any Figma screens for the first case, would it be fine with a multiline text
<img width=300 src=https://user-images.githubusercontent.com/2364994/67364507-5b690280-f578-11e9-99bd-2e740688b43e.png />

[2019-10-23 08:06] errorists commented on #9108
@yenda ok, I mean I agree that contacts should be kept separate and exclusive from any address sharing. Take a look please at [these designs here](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=5373%3A485) and tell me what you think. I'm pretty sure I'm missing something. I added it both ways there so you can choose to share your address yourself or the sender can choose to reque

[2019-10-23 08:57] StatusSceptre commented on #8812
@tbenr scope change - let's leave the image off of the unlock screen, for privacy reasons. It needs to be fixed **only on the profile screen**.

We don't want users to have any personally identifying information on the unlock screen + are willing to make the trade off of not being able to identify their account(s) as easily, since multiple multi-accounts is not a use case we're designing for.

[2019-10-23 09:14] Serhy commented on #8884
We had on the Send transaction view (when sending from Wallet) ‘You are on [network]. [Real/Test] ETH will be sent’. But then we introduced new tx flow and lost it (we have those actually now too but just when sending from Wallet)
The same in my opinion would make sense to reflect in the ‘Sending transaction’ bottom sheet, i.e. displaying network in all cases.

Risks here are about what is going o

[2019-10-23 09:16] churik commented on #9233
@rasom that's because the whole flow should be fully redesigned according to https://www.figma.com/file/XUehMnhyD1FGcWzvGz6SXqvh/Wallet - but I believe it is out of scope for `v1 release`.
So seems fine to me for now.

[2019-10-23 10:03] hesterbruikman commented on #9108
Question: What are the chances we would be able to update shared wallet info post request?

scenario
- @errorists requests my wallet address
- I select account x and send @errorists my wallet address for account x
- Later I decide to change the address I want to share with @errorists to z, for whatever reason. _Worst case because the account was imported, stored on another tree and I lost it._
- I

[2019-10-23 10:20] jacqueswww commented on #9108
@hesterbruikman This is a valid concern. I think I might have simple suggestion to solve this:
- The client (of the receiver) maintains the list of shared addresses already.
- Additionally the the client of the sender maintains a list of shared addresses for contacts, that was already received.
- Every sending of a transaction to contact should follow the request contact's shared address protocol,

[2019-10-23 10:28] hesterbruikman commented on #9108
Thanks @jacqueswww that makes sense! With

Do you mean every transaction sending or every chat message sending? I ask because we use the contact list also as a selection option from the Wallet. So if I select a contact's address there it either must be up to date or follow the same "existing_address" check.

[2019-10-23 10:32] guylouis opened #9264 "[EPIC] Keycard Sign in"
I segmented these into P0, P1, P2. [RH]

P0

* [x] ISSUE #9342
**Error message copy needs to be changed**
* [x] ISSUE #9345
**"More" button behavior is wrong**

* [x] ISSUE #9350
**Change `Cancel` to `<` and remove extra screen if only one key**
* [x] ISSUE #9354
**Don't ask for the Keycard all the time to sign in**

P1

* [ ] ISSUE #9349
**"Wrong passcode" indicator**
* [ ] ISSUE #9346
**Replace

[2019-10-23 10:33] jacqueswww commented on #9108
@hesterbruikman I mean with every transaction sending on the protocol level. I have updated my original message. The suggestion should work for both aspects of the UI, as it's just part of the sending process, if you just wanted the address you'd request and then just not proceed with the sending step.

There is the added benefit, that you could have a settings that auto shares the sharing address

[2019-10-23 10:34] guylouis opened #9266 "(WIP) - don't ask for the card to sign in"
let's close #8180 and replace it by this one

cc @andmironov

[2019-10-23 11:03] tbenr commented on #8812
@StatusSceptre that's right.

But it's not really clear which part has to be fixed..

do we need to call `multiaccounts_updateAccount` as per  https://github.com/status-im/status-go/issues/1634#issuecomment-542183585 to save image at statusgo side?

which part of profile screen is not working? yesterday I did a quick test and on profile the image was persisted correctly. Not 100% sure btw..

[2019-10-23 11:10] andmironov commented on #9224
@hesterbruikman  working on a more complete issue about Keycard sign-in with @guylouis to replace a number of smaller issues including this one will be ready next week. WIP https://github.com/status-im/status-react/issues/9264

[2019-10-23 11:12] churik opened #9268 ""Multiaccount is currently empty" at attempt to login after navigating to Enter seed phrase and go back"
# Bug Report

## Problem

Continuation of https://github.com/status-im/status-react/issues/8930#issuecomment-534646028

#### Expected behavior
Can log in

#### Actual behavior
![photo_2019-10-23 13 11 40](https://user-images.githubusercontent.com/4557972/67387185-abef5880-f596-11e9-8d6c-1e23f335919e.jpeg)

#### Notes

For the developer who will be investigating. Is it related to another PR? Tips o

[2019-10-23 11:12] churik commented on #9268
cc @rachelhamlin

[2019-10-23 11:33] cammellos commented on #4193
PR is here:
https://github.com/status-im/status-react/pull/9263#pullrequestreview-305789984 , this one was measured to have 40/45% improvement over current develop.

I copy below the findings:

## Findings

Looking at the performance of the app when receiving messages through the profiler, we can see that the bottleneck is (as we already know) in the JS thread, which is hogged for the whole time p

[2019-10-23 11:38] rachelhamlin commented on #9224
@guylouis I'm reviewing your WIP #9264 - can we align on which of these issues we're selecting to fix?

In my opinion, some of these issues are optimizations that can be punted until later, and I'd like to be consistent in fixing issues across keycard + regular screens. I think only issues pertaining to flow 5 should be fixed, because they're inconsistent with the regular screens.

Here's my take

[2019-10-23 11:43] hesterbruikman commented on #8884
Got it, so you might send a high amount on Mainnet, mistaking it for Testnet.

If that's the risk I suspect the currency indicator (ETHri ETHro STT) plays an important role in communicating what you're sending. This hasn't always been that visual, if we even use a distinction at all. We can also play with absence presence of USD value. E.g. show USD on Mainnet, and replace it with something like T

[2019-10-23 11:57] hesterbruikman commented on #9108
Kudos to whoever already replaced Contacts from the selection options in Wallet with Accounts. At least it's not a concern for now as there is no selecting contacts in the Wallet transaction flow, so no risk of selecting a contact with an old address.

This sounds good and means @errorists 's design would work as the account address displayed might be outdated, but can then be corrected and update

[2019-10-23 12:07] rasom commented on #9233
@churik ok thanks

[2019-10-23 12:47] ScyDev commented on #5242
Thanks! I'll work on it in the coming weeks.

[2019-10-23 13:39] Serhy opened #9269 "Often 'Could not connect to mailserver' when unstable connection and pinned mailserver"
# Bug Report

## Problem
When connection is not stable it's not rare case to see 'Could not connect to mailserver'. There are different scenarios but all of them has the same root cause: when trying to connect to the same mailsever in a short period of time (not sure exact value but < 10s for sure) the 'Could not connect to mailserver' appears. See below user scenarios:

**Usecase#1:**
User has un

[2019-10-23 13:41] Serhy commented on #9269
@rachelhamlin I would like to include it in V1-scope. Fix of this issue should increase UX by not alarming with 'Could not connect to mailserver' for those who use pinned mailservers.

[2019-10-23 13:52] jakubgs opened #9270 "Status-go version missing from About page"
## Problem
Right now the app is not showing the `status-go` version:
![](https://user-images.githubusercontent.com/2212681/67287042-acc2b480-f4da-11e9-925c-82f6bed39a9b.jpg)
This also translates to that version not being shown in peer name when connecting to other peers.

## Notes
Based on my investigation and help from Eric and Adam I found out this:

#### Before
We used to set the `Version` valu

[2019-10-23 13:54] jakubgs commented on #9270
I have attempted to fix this issue in #9262 but quickly realized that adding the `-X` flags at build time changes nothing. Which is why I'm pretty sure that `NewNodeConfig` is never called when `status-go` is run within a mobile app, because if it was then the value of `params.Version` would have been assigned to the `Version` within `NodeConfig` structure here:
https://github.com/status-im/status

[2019-10-23 13:55] cammellos commented on #4193
PR with 40/45% improvements has now been merged, I will not actively work on this for now probably as there are diminished returns, but will keep moving stuff to status-go in the scope of other tasks that should help with this, unless there are objections.

[2019-10-23 14:00] jakubgs commented on #9270
But this `GenerateConfig` method in `mobile/status.go` makes me wonder:
https://github.com/status-im/status-go/blob/81b0a7b29/mobile/status.go#L51-L52
It appears to be using `NewNodeConfig` function, which doesn't add up for me because if it does then setting `Version` with `-X` flags should work.

[2019-10-23 14:02] #8381 closed, assigned to nobody

[2019-10-23 14:02] #8075 closed, assigned to nobody

[2019-10-23 14:22] jakubgs commented on #9270
I've built my own branch of `status-go` with some additional logging in `GenerateConfig` and I could not find it being called in the app logs. After that I've looked at how it's called in `status-react` and I found the `modules/react-native-status/ios/RCTStatus/RCTStatus.m` file.
For example, it appears to define how to call `OpenAccounts` from `status-go/mobile/status.go`:
https://github.com/stat

[2019-10-23 15:26] Serhy commented on #8884
With the 'network value' I mean this indication:

<img width="834" alt="64119803-57540c00-cda3-11e9-948a-cbf81bcf8082" src="https://user-images.githubusercontent.com/8749671/67403863-38137700-f5bb-11e9-9f4d-2672abb1d289.png">

Yes, we have ETHri/ETHro indicating that it's something non-mainnet and USD values on TestNet are 0 everywhere disregard ETH/token amounts.
<img width="361" alt="Screenshot

[2019-10-24 05:22] aahutsal commented on #8818
@StatusSceptre Thanks. Started. Will keep you posted.

[2019-10-24 06:57] cammellos commented on #7833
closing this for now as not relevant anymore

[2019-10-24 06:57] #7833 closed, assigned to cammellos

[2019-10-24 09:01] guylouis opened #9274 "[EPIC] Onboarding with Keycard"
* [ ] ISSUE #9355
**"Select key storage" screen copy**
* [ ] ISSUE #9356
**"Store your key on Keycard" screen**
* [ ] ISSUE #9364
**Hold card to the back of your phone screen**
* [ ] ISSUE #9366
**Copy: Hold card to the back of your phone screen**
* [ ] ISSUE #9367
**Connection error when removing card**
* [ ] ISSUE #9368
**Enter and confirm passcode screens**
* [ ] ISSUE #9324
**Copy: Write codes

[2019-10-24 09:54] jacqueswww commented on #9108
My 2c on the matter is yes, why not - as long as the latest address is always requested before allowing the copying all should be fine. And I think it's ok that some people might want to send funds to an address outside status (for example an 'anonymous' tip).

[2019-10-24 10:36] vitvly opened #9275 "Implement support for web3.keycard.signTypedData flow"
# Feature Issue
One of use cases that should be supported for Keycard is pinless data signing. Signing should work with `signTypedData` API available from `web3.keycard` namespace that is equivalent to `web3.eth.signTypedData` as documented in [EIP-712](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md).

### User Story
As a user, I want to be able to use my keycard without a pin, so ma

[2019-10-24 10:45] hesterbruikman commented on #9108
This would be the ideal! Hope that's an option and would love to understand any requirements and implications to make that happen (e.g. delays, the other user having to be 'online').

I'd also be happy to let users copy the address with the risk of sending funds into the void if it's no longer used #learnfrommistakes. However, as the current design proposal does imply that the address shown in the

[2019-10-24 10:48] rachelhamlin commented on #9108
I absolutely love the designs @errorists.

@yenda if you're content to own this one, I'd like to hear your reaction to the UI.

This is a bigger item than I realized - and thus I want to recommend considering a leaner MVP for v1. Per @oskarth's suggestion, we could simply use the main hot wallet (the default) and leave the choice to select one to a future version.

I would certainly suggest we lea

[2019-10-24 10:57] errorists commented on #9108
my 0.02c, I can't say I agree with this approach, commands are broken as is, their discoverability is low thanks to the super confusing icon and we're placing additional functionality inside that may sit there for months to come because it already 'kinda' works.
I don't enjoy shipping half assed features, certainly not while we're supposed to make the move out of beta. i would move this entire sco

[2019-10-24 11:03] rachelhamlin commented on #9108
So what if instead of building out this UI to this extent, we put more love into the command UI? I know you have improvements waiting there as well.

The only reason I'm pushing proof of ownership for v1 is _so_ we can allow for quick and easy transferring of SNT to new users who will onboard en masse for the first time as a result of our v1 marketing push. Thoughts on how to better do that, if no

[2019-10-24 11:16] errorists commented on #9108
command UX would need a lot of love, it's basically awaiting a redesign from CLI to a GUI, we'd have to ask Andrey but I believe it's larger in scope than this work here.
So let's assume we move requests to commands, it would cut the profile portion of scope as messages still need to get shown. Is it really that much more effort to include the buttons in profile vs placing the /request in the list

[2019-10-24 11:27] rachelhamlin commented on #9108
@hesterbruikman did we have data on the low discoverability of chat commands previously?

@errorists is there not an MVP 'low-hanging fruit' improvement for chat commands as well? You mention the icon, that's one simple thing we could fix.

Alternative 1:
- Make minor improvements to chat command UI, reenable them
- Wallet sharing request happens through chat command UI

Alternative 2:
- Make mino

[2019-10-24 11:42] errorists commented on #9108
@rachelhamlin we did user testing of commands back in September 2018, right around ETHBerlin. I'm sure @hesterbruikman can point you to results. The key take away I vividly recall was that even when asked, people had trouble making the association it's the icon to transfer assets, it was often literally the last place they looked.

If we ever were to expand the list to something more than send - r

[2019-10-24 11:53] rachelhamlin commented on #9108
I'm sure that's true. I also love the `+` and bucket of options, and see it limits the number of fixed default commands we'd want to support. You'd rather have everything be an extension and leave the user to choose their top N commands.

Looking forward to @yenda's feedback on this one. My goal is still to minimize the amount of work involved, while making it as easy as possible to transfer SNT t

[2019-10-24 12:23] gravityblast commented on #9275
it looks good to me @siphiuel
The only thing I would change is:

I would generate the hash and then wait for a card, so that as soon as the card is "connected", we just send the data and receive back the signature. NFC connection is always weak so better doing just one thing

[2019-10-24 12:24] vitvly commented on #9275
@gravityblast thanks! Corrected

[2019-10-24 12:49] hesterbruikman commented on #9108
Anecdotally, I would say sending transactions in chat is perceived as key feature by our userbase inside the Ethereum community. At Devcon someone demoed it with much excitement and I didn't dare tell him that he'd better not update if he wants to keep that feature.

As I also supported leaving it out of V1 in favor of having the basics of Onboarding, Keycard and multiple key management in place (

[2019-10-24 13:10] guylouis opened #9276 "(WIP) New card NFC interaction flow"
cc @andmironov

https://www.figma.com/file/dEIljL7UPbXgsZUA0Q4qlE5E/Onboarding?node-id=5358%3A146

problem
- current implemented design is misleading for the user, experience can be much improved
- current implementation is not iOS ready

[2019-10-24 13:44] jakubgs commented on #9081
Here's an update on the current state of my work on this:

## Metrics

* https://github.com/status-im/status-go/pull/1648 - Re-implementing our own metrics by using [Prometheus client library](https://github.com/prometheus/client_golang).
* [status-im/status-react#9270](https://github.com/status-im/status-react/issues/9270) - Researching missing `status-go` version from the App
* [status-im/status

[2019-10-24 14:01] guylouis opened #9277 "[EPIC] Access a key with Keycard"
* [ ] ISSUE #9382
**Recover a key stored on keycard screen**
* [ ] ISSUE #9383
**There is no key on this card**
* [ ] ISSUE #9384
**Interaction with Keycard screens**
* [ ] ISSUE #9385
**"Cancel" button**
* [ ] ISSUE #9386
**Enter your pairing code screen**
* [ ] ISSUE #9387
**Success screens**
* [ ] ISSUE #9388
**Enter your passcode screen**
* [ ] ISSUE #9334
**Bug after entering the pairing code

[2019-10-25 06:59] zoek1 commented on #7633
Yep, i just finish the setup of the project. I'll start working on this right now. :grinning:

[2019-10-25 07:56] tbenr commented on #8812
@asemiankevich need help understanding is there is actually something to fix.. can you help?

[2019-10-25 08:35] churik opened #9280 "Assets (tokens) are not loaded due to infura error"
# Bug Report

## Problem
Sometimes due to "context deadline exceeded" from `infura.io` balance can't be fetched. Can't reproduce, but potentially it can be an issue on mainnet as well.
Caught by e2e.

#### Expected behavior
Balance assets are loaded

#### Actual behavior
No assets (tokens) are shown.
Full video / log: https://app.saucelabs.com/tests/aaa060e1b584497db876f67e5687a319?auth=f2c8623188

[2019-10-25 08:37] churik commented on #9280
@adambabik @cammellos would be nice if you can comment issue to understand it better.
Thanks a lot!

[2019-10-25 08:49] guylouis opened #9281 "Keycard sign in – Error message copy needs to be changed"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

If the user enters a wrong pin Status says “6 digit passcode does not match”. It should be replaced with "Wrong passcode"

[2019-10-25 08:51] guylouis opened #9282 "Keycard sign in – "Access key" copy, layout and behavior"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

On the sign in screen:
- For  accessing key, the button label copy should be "Access key" whereas its "Recover key" currently;
- The "Access key" button should be in a footer with a 1px top border. This footer should stick to the bottom regardless of the size of the device screen;
- Tap on "Access key" should op

[2019-10-25 08:53] guylouis opened #9283 "Keycard sign in – "More" button behavior is wrong"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

On the sign in screen, the **"..."** in the top right corner should open a drop-down with one item only "Get a new key"

Image:
<img width="800" alt="get-a-new-key" src="https://user-images.githubusercontent.com/3115606/67676898-8e1e5b00-f9bd-11e9-89e1-6a6d44e1c1a0.png">

Figma:
https://www.figma.com/file/dEIljL

[2019-10-25 08:54] guylouis opened #9284 "Keycard sign in – Replace ... characters in address with the horizontal ellipsis special character"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

Instead of three dots, in "0x8ueq...8ujj" to follow the designs, the character used in the implementation should be the **Horizontal Ellipsis**

HTML Entity:
- `&#8230;`
- `&#x2026;`
- `&mldr;`

More options:
https://www.compart.com/en/unicode/U+2026

[2019-10-25 08:55] guylouis opened #9285 "Keycard sign in – Show the number of passcode wrong attempts"
`Part of #9264 keycard sign-in epic (mark as checked there, when closing this issue)`

We should display the number of attempts if it's less than three to warn the user. The number of attempts **should be displayed after the "Wrong passcode" message** flashes, not overlap it. Here's a video of how it should work:

<img width="256" alt="screen1" src="https://user-images.githubusercontent.com/311560

[2019-10-25 09:44] cammellos commented on #9280
@churik it means it's taking too long the request, and it's timing out, we can probably extend it (at least for tests)

[2019-10-25 09:54] hesterbruikman commented on #8139
- Can't reproduce on iPhone 8 (iOS13)
- Can't fully reproduce on Galaxy S10e (Android 9) and Fairphone 2 (Android 7)
On Android the tapping from scanner to scanner works without white background appearing. Exception tapping on Wallet where the full background is black, including header.

![Screenshot_20191025-115102](https://user-images.githubusercontent.com/35233054/67561967-226a9280-f71e-11e9-83

[2019-10-25 10:35] hesterbruikman commented on #8981
@bitsikka can you tell if the topbar is also used in `open browser window`? Checking if it also resolves this issue: https://github.com/status-im/status-react/issues/7990#issuecomment-494757234

[2019-10-25 11:05] churik commented on #8139
still reproducible on IPhone 7
![photo_2019-10-25 13 04 55](https://user-images.githubusercontent.com/4557972/67566432-0ec42980-f728-11e9-8f3d-da35492d0179.jpeg)

[2019-10-25 11:45] bitsikka commented on #8981
@hesterbruikman

This issue specifically mentions "**do not implement browser topbar in this component**" in the original post above.

I think the intention is to keep the implementation of StatusBar-in-Topbar and Status-Bar-in-borwser-topbar separate. So, PR for this issue likely won't fix that issue directly.

But, clearly, issues related to StatuBar are related, and how it is handled in one can

[2019-10-25 12:30] hesterbruikman commented on #8981
Missed that comment! Thanks for pointing out.

Noted. There's no overstating how much your work on all these issues is appreciated! Please do take your time and we'll be happy to see you back in the flow in November.

[2019-10-25 14:58] rachelhamlin commented on #9108
Silly question, but if we supported the CLI in development mode only—would users without it enabled be able to receive chat transactions?

@yenda @andremedeiros

[2019-10-25 15:06] hesterbruikman opened #9288 "Improve 'snackbar' animation behavior"
# Problem
We use a 'snackbar' (i.e. notification bar) to indicate the client's connectivity status. On spotty networks the snackbar changes states every few milliseconds and makes the app appear glitchy (i.e. bar is visually perceived as 'flicker').

The bar has the following states:

- Connecting
- Offline
- Connected

The snackbar is used in combination with the blue 'nightrider' when connected

[2019-10-25 15:12] hesterbruikman commented on #9288
cc @errorists @rachelhamlin

[2019-10-25 15:34] hesterbruikman opened #9289 "Include Select storage step in onboarding on iOS"
# Problem
The onboarding flow has recently been updated. Part of the onboarding flow includes a screen `Select key storage` asking the user to select where they want to store their newly generated key.

This screen includes the options to select:

Default

- This device

Advanced

- Keycard

Purpose of this screen is a) functional (select storage location) and b) non-functional (communicate that t

[2019-10-25 15:36] hesterbruikman commented on #9289
cc @rachelhamlin @rasom

[2019-10-25 16:05] hesterbruikman opened #9290 "New chat window - UI fixes"
# Problem
`New chat window,` fixes to: layout, list items, headers, input field, scroll view.

The `New chat window` UI is currently implemented as a new screen, it should instead behave as a modal popover sliding on top of the [+]-button bottom sheet.

@errorists any prototype or reference for the overlay animation? Assuming on completion both the popover and bottom sheet are dismissed.

Designs:

[2019-10-25 16:19] rachelhamlin commented on #9289
Do you think it's a little strange to offer an option that has only one option? 😅

Perhaps we should include keycard reference, grayed out? This also acts as keycard promotion.

[2019-10-25 16:20] errorists commented on #9290
the modal view is the default presentation style as of iOS13, it's called the sheet style and can be dismissed at any time with a swipe down gesture from the top. On Android it's the default [full screen dialog](https://material.io/components/dialogs/#full-screen-dialog) presentation.

[2019-10-25 16:22] StatusSceptre commented on #8139
Does it prevent QR code from scanning properly @churik?

[2019-10-25 16:22] errorists commented on #9289
I was about to say the same, Rachel beat me to it :) This should be its own iOS specific design that can introduce the concept but doesn't fool users into thinking they're asked to make a choice.

please, hold off with this one until a proper design is specified

[2019-10-25 16:27] rachelhamlin commented on #8812
Tested on nightly just now, iOS and it's not an issue for me either. I'll close this one. Sorry for the wasted effort @tbenr! I'll email you.

[2019-10-25 16:27] #8812 closed, assigned to StatusSceptre

[2019-10-25 16:35] churik commented on #8139
@StatusSceptre  no. it is just a cosmetic issue

[2019-10-25 16:49] ryanschneider commented on #9280
Can someone familiar with the status code point me to where this is happening?  Based on the logs it sounds like a eth_getLogs query is being slow, but we’ve done a lot of optimizations on our end to make those performant so I’d like to see if I can reproduce a consistently slow query.

[2019-10-25 18:45] acolytec3 commented on #9180
@churik @rachelhamlin FYI, was looking for something to work on and this one looked pretty straight-forward (and it was! ).  PR submitted.

[2019-10-27 08:57] ScyDev commented on #5242
@gitcoinbot Yes. I'll work on it in the coming weeks.

[2019-10-27 22:41] j-zerah commented on #9108
Jumping in here to give my 0.02c

From a marketing and community perspective, removing chat commands and any sort of ability to send tokens via chat is a pretty big issue.  To Hesters point, this is one of the favorite features of many people. Not only does it provide a really cool way to onborad new users into Status, it also depicts the power of Status and the cohesive ecosystem we have created

[2019-10-28 03:31] oskarth commented on #4193
Great stuff @cammellos!

[2019-10-28 03:35] oskarth commented on #9108
100% agree, and same from several people in here Ethereum community I have talked to. This is one of the few killer features we actually have right now.

[2019-10-28 08:19] rasom commented on #8845
@rachelhamlin @errorists did we make our choice on design and the way how this task should be implemented? It is marked as `p0` task on board but it's a bit unclear from the conversation how to proceed.

[2019-10-28 08:22] #8951 closed, assigned to StatusSceptre

[2019-10-28 08:48] errorists commented on #8845
☝️ good point. @rachelhamlin maybe let's park this for after v1 and then implement the list ordered by activity with suggestions from @yenda on how to that. I can't speak on effort required. We're in the process of adding the much improved chat empty state with recommended channels to join so this imo is less critical for v1?
As for design, I have no intention of changing it from what's shown abov

[2019-10-28 08:55] rachelhamlin commented on #8845
Yeah, sorry @rasom, I wasn't expecting someone to tackle this yet - it's not ready to be picked up.

For v1, we don't need to implement any new designs. I was more curious for @errorists' opinion on how we could improve.

I'll get back on this today. As I recall - people have typically been a bit confused about the prompt to create/join a new public channel. We have the chance to steer activity as

[2019-10-28 09:02] errorists commented on #8845
Almost everyone, me included, thinks that the input to enter your public chat name is actually a search box :) It's a combination of its placement, styling and the list below. That's where this new design comes in

[2019-10-28 09:39] rachelhamlin commented on #9108
So let's do this:

Build the [wallet share flow](https://www.figma.com/file/aS1ct66VQ6V0cio7vSqS8UoG/Chat?node-id=5373%3A485) proposed by @errorists. Are you on board with that @yenda?

_And_ re-enable chat commands in production. Either exactly as they are, or perhaps with an MVP improvement, such as an icon update to increase discoverability. Do you want to suggest something for that @errorists?

[2019-10-28 09:47] yenda commented on #9108
Lgtm, @errorists I might just update the copy in the chat message about sharing your account, sounds a bit scary, the message should be clearer about the fact that you are sharing the address so that the other user can send you funds?

[2019-10-28 09:48] jakubgs commented on #9270
After discussing this with Adam it looks like there's a `loadNodeConfig()` method that is __always__ called, and this includes `status-react`, and could always set `Version`:
https://github.com/status-im/status-go/blob/81b0a7b2/api/backend.go#L344-L353
By adding here a line for setting `Version` I can make the `params.Version` value be relevant again:
I will do a test branch to verify this today.

[2019-10-28 09:49] yenda commented on #9108
also maybe as a first quick step I could enable commands when the user has a username? because in that case the proof of ownership is already there

[2019-10-28 09:54] hesterbruikman commented on #9108
This means the account address you share is the address used to purchase ENS, correct? So it leaves out the account selection part of the flow, but would work as long as you have ENS?

Not great from a privacy perspective yet, but makes sense to me. You chat identity and that address are already connected anyway.

[2019-10-28 10:00] StatusSceptre commented on #8135
Hey @elegant651! Just checking in - are you still making progress on this one?

[2019-10-28 10:00] StatusSceptre commented on #8443
Hey @alexjg - checking in, I bet you're still working but want to confirm.

[2019-10-28 10:04] StatusSceptre commented on #8718
Hey @AlphaSerpentis - I apologize for missing this! On Status, we can communicate in #status-core or you can ping me, Rachel, at 0x04d6d9f89df553eaf338dbd66ffd8c256c4f45042ee5460be28d9d77933ad6d59b6f1554e2075f5b130d556e1957715a03b8447bfacad951910184243a96a9a8b8.

Do you still need help getting set up?

[2019-10-28 10:09] elegant651 commented on #8135
@StatusSceptre I already finished the task, and was waiting for the review : https://github.com/status-im/status-react/pull/9170

[2019-10-28 10:18] StatusSceptre commented on #8139
Okay, thanks @churik.

[2019-10-28 10:20] StatusSceptre commented on #9180
@acolytec3 so good. are you still looking for issues? :) let me point you to some I'd like to sneak into v1. I'll tip you on the next...!

[2019-10-28 10:29] rachelhamlin commented on #8995
@acolytec3 here's a great candidate for you to look into! Are you interested?

[2019-10-28 10:30] StatusSceptre commented on #8135
Oh, sorry about that @elegant651. I'll see if I can nudge it through. Thank you!

[2019-10-28 10:31] acolytec3 commented on #9180
I'm open.  Which one(s) do you have in mind?

[2019-10-28 10:36] acolytec3 commented on #8995
@rachelhamlin Funny coincidence, I was actually looking at this last night.  Question though, are you looking for full markdown support or just support for bold/italics?  My question stems from the fact that I saw a number of libraries on npm that support markdown so there is already a lot of that sort of thing that exists today.  That said, does it make more sense to try writing it directly in Cl

[2019-10-28 10:45] errorists commented on #9108
yeah, I'd like that. I would go with the `↓↑` icon since it more closely suggests users intent rather than the interface to use it `[/]`

<img width="375" alt="Chat Input" src="https://user-images.githubusercontent.com/4932774/67672526-6b1d8800-f978-11e9-9494-a598e6bb0f77.png">

[2019-10-28 10:47] cammellos commented on #8995
@acolytec3 I am looking into something related to this, we would like to move parsing of text on the sender side and just render according to the recipe on the receiving end, for performance reason.

I wasn't aware that we used a fork of react-native for rendering bold/italic/code, so that changes a bit things, I will have to understand why it was done (likely performance), and if that's still the

[2019-10-28 10:50] rachelhamlin commented on #9108
Okay, I'm thrown for a loop by the feedback here.

As I understand - a simpler first step for wallet sharing would be to enable it only for people with ENS names.

But that doesn't solve our distribution issue, which is what I'm actually trying to prioritize here.

Eric's suggestion for that problem is the revival of a hot wallet derived from the chat key, like we used to have. That's no small cha

[2019-10-28 10:56] acolytec3 commented on #8995
@cammellos Sure, that's fine.

@rachelhamlin, any other specific issues you want me to take a look at?

[2019-10-28 11:05] rachelhamlin commented on #8995
Yes - definitely, let's @cammellos.

@acolytec3 want to take a look into [this one](https://github.com/status-im/status-react/issues/6946) instead?

[2019-10-28 11:06] rachelhamlin commented on #8837
@Serhy could you do me a huge favor and check if this one can be reproduced on develop?

[2019-10-28 11:10] acolytec3 commented on #6946
@rachelhamlin
I'm down to take a look though it looks like @cammellos is already on the case. Is the preferred approach to not let the sender even send to the past or to resolve on the receiver side?

[2019-10-28 11:15] cammellos commented on #6946
I am on this one, sorry @acolytec3  :)

[2019-10-28 11:16] aahutsal commented on #8818
@gitcoinbot having troubles logging in to Gitcoin since Friday past week. Solving with Gitcoin support. Will continue once solved. Sorry for that.