[2018-06-25 12:00] goranjovic commented on #2696
Now that we have Clojure generated payment messages we can do the following:

- Send a 1:1 message to the whisper id of the recipient after every successfully sent transaction, whether it was from Wallet Send or from Chat /send. If whisper id is not available (e.g. if the user pasted the address of a non-Status user), then no chat message is sent, which is fine.
- Remove the `execute-stored-comman

[2018-06-25 12:19] flexsurfer commented on #4413
can't repro on Android

[2018-06-25 12:42] lukaszfryc opened #4931 "New username or avatar should be discarded if Done button was not clicked in Profile"
### Description

*Type*: Bug

*Summary*: When name or avatar are updated in Profile but not saved (by clicking Done button) they stay updated until user logs out. Instead, if user left Profile but did not click Done, her changes should be discarded.

#### Expected behavior
If Done button was not pressed, the changes made in Profile should be discarded.

#### Actual behavior
If Done button was not

[2018-06-25 13:03] lukaszfryc commented on #4820
Yes, I've just found that I can reproduce it every time when I upgrade from 0.9.20 to 0.9.21. Steps:

1. Install 0.9.20 and add few public channels. Do not read them all so you could have some unread messages.
2. Upgrade to 0.9.21
3. Open the public channels. Scroll to read the messages, the counter is still there. Click options menu and click "Clear all", the chat is cleared but the counter is st

[2018-06-25 13:05] churik commented on #4167
reproducible on [release build 18](http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-f62e7d-rel.apk)

[2018-06-25 13:06] chadyj opened #4932 "Add privacy policy to signup and recover"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to read a privacy policy before I use the app so that I can be informed.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

A privacy policy is an important part of apps to both offer legal compliance and informed consent on usage, privacy policies, etc.

#### Exp

[2018-06-25 13:11] lukaszfryc commented on #4820
cc @janherich

[2018-06-25 13:37] flexsurfer commented on #4423
@lukaszfryc any updates?

[2018-06-25 14:15] lukaszfryc opened #4934 "Amount in transaction fee does not display currency symbol (ETH) correctly"
### Description

*Type*: Bug

*Summary*: "ETH" should be shown at the end of amount. Also, it should have the same color as in Total Fee field. Here is how looks now:

<img src="https://user-images.githubusercontent.com/7532782/41855238-69401a4c-7892-11e8-8753-4e9b6383693f.png" width="200">

### Reproduction

- Open Status
- Go to wallet and send transaction
- Open Advanced -> Transaction Fee

###

[2018-06-25 14:20] antdanchenko opened #4935 "Account is blocked by `Ethereum node started incorrectly` error if custom network url doesn't match chain"
### Description
`Ethereum node started incorrectly` error and bunch of `Wrong decimals for token...` errors same to as described in https://github.com/status-im/status-react/issues/6840 issue is shown on login
the app is closed after pressing on 'OK' button, if user provides Mainnet RPC, but selects different chain (ropsten or rinkeby)

#### Expected behavior
User can use the account in order to c

[2018-06-25 14:21] oskarth commented on #2878
Update with same methodology last 60 builds:

[code]

So 20/60 (33%), i.e. still bad.

[2018-06-25 14:27] flexsurfer commented on #4426
@lukaszfryc could you please compare with the native os browser, not chrome

[2018-06-25 14:47] rachelhamlin commented on #4413
@flexsurfer a few other instances. In CK, can't click on the buttons in the banner, or the Discourse button in the corner:

![image](https://user-images.githubusercontent.com/15470435/41857264-5f1f52a8-7897-11e8-81da-0096a1ee174a.png)

![image](https://user-images.githubusercontent.com/15470435/41857314-7dca53b0-7897-11e8-96df-0fb1d98ed448.png)

[2018-06-25 14:51] flexsurfer commented on #4413
that's true, same reason, both trying to open link in new tab

[2018-06-25 14:57] yevh-berdnyk opened #4936 "Can't sign or cancel transaction with minimum gas price and/or gas limit"
### User Story

As a user, I want it to be possible to sign a transaction with minimum gas price and gas limit

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Can't sign or cancel a transaction after decreasing gas price or gas limit to

[2018-06-25 15:15] churik opened #4937 "Default username is shown on tapping on three dots in 1:1 chat (Android only)"
### Description

*Type*: Bug

*Summary*: when you tap on three dots in 1:1 chat to see possible actions, you can see default username instead of custom even user is already in your contact list.

#### Expected behavior
custom username

#### Actual behavior
default username
![wrname](https://user-images.githubusercontent.com/4557972/41858924-ac8dc48c-78a3-11e8-9dde-f7251ff2a56b.png)

### Reproducti

[2018-06-25 15:28] yevh-berdnyk commented on #4936
closing as duplicate of #4569

[2018-06-25 15:28] #4936 closed, assigned to nobody

[2018-06-25 15:53] rachelhamlin opened #4938 "Change copy for browser options from chat link"
### User Story

As a user, I want to know the difference between two confusing browser options when I open a link.

### Description

*Type*: Feature

*Summary*: Change copy on the first option when opening a link inside Status.

<img src="https://user-images.githubusercontent.com/15470435/41860919-24df5e04-78a0-11e8-823e-47112324ee03.png" width=250/>

#### Expected behavior
When a user clicks on a

[2018-06-25 15:54] rachelhamlin commented on #4844
Closing because we now have assets for #4380.

[2018-06-25 15:54] #4844 closed, assigned to nobody

[2018-06-25 19:09] churik opened #4940 ""Couldn’t connect to mailservers" if I set custom date/time (for mailservers A, B, E, F)"
### Description

*Type*: Bug

*Summary*: custom date/time (for me Android) cause "panic: runtime error: slice bounds out of range" on some mailservers

#### Expected behavior
mailservers are running

#### Actual behavior
receive "Couldn’t connect to mailservers" ~every 1 min

### Reproduction

- Open Status
- Open  Settings>General Management> Date and Time
- Turn off Automatic Date and Time
- Set

[2018-06-25 20:12] reinermatthew opened #4941 "The iOS Keyboard Prevents Sign In with an Existing Account"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story
As a user, I want to log  into Status using an account created on another device so that I can use my account on both devices.

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you exp

[2018-06-26 07:06] cammellos commented on #4940
I will be addressing the `status-react` side, so that we won't be querying the mailserver with the wrong parameters, which we believe it causes the crash.

The peer won't be able still to connect to the mailserver, as we don't support peers with clock skews for now I believe (status-go to confirm), but should not crash the mailserver in the current state.

[2018-06-26 07:37] lukaszfryc commented on #4423
I could not reproduce it in recent nightlies. Feel free to close this issue if there is nothing we can do / debug here.

[2018-06-26 07:39] flexsurfer commented on #4423
thanks @lukaszfryc so i have fixed it then :)

[2018-06-26 07:40] #4423 closed, assigned to nobody

[2018-06-26 08:03] chadyj commented on #4941
Hi @reinermatthew thanks for the bug report.
We are rolling out some fixes for iPad support, so look out for an update soon https://github.com/status-im/status-react/issues/4662

[2018-06-26 08:03] #4941 closed, assigned to nobody

[2018-06-26 08:40] flexsurfer commented on #209
https://github.com/status-im/react-native-desktop

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/react-native-desktop">status-im/react-native-desktop</a></strong></div><div>react-native-desktop - A Deskto

[2018-06-26 08:40] #209 closed

[2018-06-26 09:23] flexsurfer commented on #4413
will be fixed here https://github.com/status-im/status-react/pull/4919

[2018-06-26 09:40] cammellos opened #4944 "Add universal/deep links"
As a user,
I want to send a link to a public channel
so I can invite others to join a discussion.

Eg clicking https://status.im/chats/public/status opens the Status app then joins the #status public channel

As a user,
I want to send a link to my profile
so that others can easily add me as a contact.

Eg clicking https://status.im/profiles/0x234567890876 opens the Status app, then opens the profi

[2018-06-26 10:32] chadyj commented on #4820
This comes and goes for me.

[2018-06-26 10:36] churik commented on #4940
Is not reproducible anymore

[2018-06-26 10:36] #4940 closed, assigned to cammellos

[2018-06-26 10:55] GeorgiG opened #4948 "Shaky chat screen if receiving new messages and they are not currently vissible"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want the screen to be shaky when reading old messages so that I would have a smooth user experience.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected

[2018-06-26 11:14] cammellos commented on #4937
Just more info on this, this is just due to some rendering issues.
To replicate:

1) Send contact request to A
2) On A go to 1-to-1 chat with B
3) On B update username
4) On A click on 3 dots

[2018-06-26 12:41] lukaszfryc commented on #4608
I think this may require more advanced UI/UX. Simply citing a message may create even more mess in the chat. We may want to research messages threads, like for instance Slack does it.

cc @errorists

[2018-06-26 13:14] lukaszfryc opened #4950 "Enable spam prevention in chats in release builds"
### Description

*Type*: Bug

*Summary*: Spam prevention in chats (https://github.com/status-im/status-react/pull/4537) is currently only enabled in internal builds. This issue is to enable it in release builds as well.

#### Expected behavior
Spam prevention is enabled in all builds including release.

#### Actual behavior
Spam prevention is enabled only for nighlty/PR builds.

### Reproduction

[2018-06-26 13:17] dmitryn commented on #4950
Fixed by https://github.com/status-im/status-react/pull/4947

[2018-06-26 13:17] #4950 closed, assigned to dmitryn

[2018-06-26 14:16] churik opened #4951 "Crash if you launch Google Setup assistant on Transaction Fee screen"
### Description

*Type*: Bug
*Summary*: if Google assistant is not set up for your phone, launching it on Transaction Fee screen causes Java.Lang.NullPointerException and eventually app stops responding and you should relaunch it.

#### Expected behavior
no error

#### Actual behavior
![dsfsd](https://user-images.githubusercontent.com/4557972/41917320-c90c3d72-7962-11e8-9ba7-d2733e19f023.png)

###

[2018-06-26 14:56] churik opened #4952 "Сannot enter valid password if "Wrong password" is shown and keyboard is hidden (send transaction screen)"
### Description
*Type*: Bug
*Summary*: after validation error "Wrong password" if your keyboard is already hidden (you tapped on "Done" or "Back"  after entering password) - you cannot set focus on password field to open keyboard again.

#### Expected behavior
can focus on password field and edit password; keyboard is opened.

#### Actual behavior
cannot focus on password field, so cannot sign tra

[2018-06-26 15:14] dmitryn opened #4954 "Remote app config"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer or product manager, I want to change app configuration  without releasing app upgrade so that i can enable/disable/change features on the fly.

### Description

App configuration settings https://github.com/status-im/status-react/blob/develop/.env.prod should be adjustable on the fly without an

[2018-06-26 15:28] churik opened #4955 ""Show more" overlaps with time if message contains ~< 12 chars in every row"
### Description
*Type*: Bug

*Summary*: if message width is ~< 12 chars (for IOS 7) - "Show more" and time are overlapping in 1-1 and public chats

#### Expected behavior
no overlapping

#### Actual behavior
![shmore](https://user-images.githubusercontent.com/4557972/41922577-190664d2-796e-11e8-9173-f693dcb14ac8.png)

### Reproduction

- Open Status
- Log in
- Open any chat
- Type message with > 2

[2018-06-27 07:14] rachelhamlin commented on #4596
@asemiankevich can you try reproducing this one for me?

[2018-06-27 07:33] flexsurfer commented on #4954
we can use whisper :)

[2018-06-27 07:58] lukaszfryc commented on #2869
This is something that comes again and again in Instabug reports. It breaks smooth experience of the app. Imagine receiving a message notification and having to type the password and wait for being logged in until you can see the message or respond. It's a common experience.

@chadyj can we estimate it using RICE?

[2018-06-27 08:38] lukaszfryc opened #4959 "Use checksummed address in Wallet"
### Description

*Type*: Feature

*Summary*: Currently, a wallet address shown in Status is not checksummed. It means, there is a higher probability of an error while using the address.  If the same address would  checksummed, it can be validated more extensively to check its correctness. That's why it makes sense to show all wallet addresses in the checksummed version.

Example of non-checksummed

[2018-06-27 08:43] pedropombeiro opened #4960 "Add Arabic localized channel to public chats"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to discover new public chats so that I can discuss topics of interest in my localized language.

As a core contributor, I want to also be able to join the topic relevant to my dialect

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Add new language as public ch

[2018-06-27 08:45] lukaszfryc opened #4961 "Warn if not checksummed address is used"
### Description

*Type*: Feature

*Summary*: Not checksummed addresses can't be validated (against checksum) if they are correct. It means there is higher probability users can make a mistake while typing an address. [MyEtherWallet warns if not checksummed address is used](https://kb.myetherwallet.com/addresses/what-does-checksummed-mean.html). Would be great to the same in Status.

#### Expected

[2018-06-27 09:05] annadanchenko opened #4963 "Token name and amount overlap in 1:1 chat token list"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
Long token name overlaps with long amount in 1:1 chat list of tokens
![screenshot_20180626-170247](https://user-images.githubusercontent.com/658

[2018-06-27 09:06] lukaszfryc opened #4964 "Always show wallet address in one line"
### Description

*Type*: Bug

*Summary*: Instead of showing address in 2 lines we should rather show "..." in the middle of it. Same as for an address in login screen.

<img src="https://user-images.githubusercontent.com/7532782/41964311-ef8d1e16-79f9-11e8-8da3-2c74bfe72ae1.png" width="200">

### Reproduction

- Open Status
- Go to Wallet -> Send transaction
- Choose recipient address

### Additio

[2018-06-27 09:08] annadanchenko commented on #4964
@denis-sharypin wdyt?
@lukaszfryc it seems like a UX question and matter of taste imo. Don't you want to see full address of a receiver? For example, I prefer to see exact address to whom I send funds.

[2018-06-27 09:17] lukaszfryc opened #4965 "Message bubble shown in two lines instead of one"
### Description

*Type*: Bug

*Summary*: Single line message and timestamp should be displayed in single line if there is enough space. See message "1" and its timestamp look like on iPhone X (11.2.1):

<img src="https://user-images.githubusercontent.com/7532782/41964493-6c4d4cd2-79fa-11e8-9593-ba27c57a0287.png" width="200">

#### Expected behavior
The message and timestamp are displayed in single

[2018-06-27 09:17] lukaszfryc commented on #4965
@Serhy could you check if you can reproduce it on iPhone X?

[2018-06-27 09:19] goranjovic commented on #4963
In short term, we'll remove the balance from that popup. In the updated design it's placed in the amount param suggestion anyway, so it's not supposed to stay there.
Will add balance back to the amount suggestion box as a part of #4972

[2018-06-27 09:47] PombeirP commented on #2869
I know that @mandrigin is already looking into this.

[2018-06-27 09:49] denis-sharypin commented on #4964
It's important to show the full address in this exact case bc this screen is also a confirmation screen of sending transaction.
Also this issue affects only big-screen phones

[2018-06-27 09:51] lukaszfryc opened #4966 "Adjust copy of "no such host" in case of failed transaction"
### Description

*Type*: Bug

*Summary*: Currently, the following error is shown probably in case if a request timeout:

<img src="https://user-images.githubusercontent.com/7532782/41966438-680deb72-79ff-11e8-9df0-a865aff8a6db.png" width="200">

Would be great to make it more clear what happened. Please update the body copy to something like: `Looks like the network is taking to long to respond, t

[2018-06-27 09:55] GeorgiG opened #4967 "It's possible to recover an account by entering a valid Passphrase and invalid Password"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be sure that no one can recover my account without knowing the valid password of my account.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to ha

[2018-06-27 09:57] lukaszfryc commented on #4964
OK. So it looks like there is no obvious way to make it look a bit better. Maybe having a bigger padding around the "..." button could help to understand that "A" is still part of the address. Anyway, unless you think it's a good idea and it's worth doing, let's close this issue.

[2018-06-27 10:22] denis-sharypin commented on #4966
Sounds good! Thanks @lukaszfryc !

[2018-06-27 11:06] Serhy commented on #4965
It looks good on iPhoneX (iOS 11.2.5). Screenshot:

<img width="310" alt="screen shot 2018-06-27 at 13 53 18" src="https://user-images.githubusercontent.com/8749671/41969890-96513f90-7a11-11e8-8e44-7fa0d025009b.png">

What is very likely in the message from the description is that contact sent it with the return at the end. In that case, it ends up with timestamp in the second line.

So this issue

[2018-06-27 11:12] lukaszfryc commented on #4965
@Serhy what about that last message on your screenshot. The issue here is that the bubble it's bigger than single line.

[2018-06-27 11:35] lukaszfryc opened #4968 "Update "open in browser" copies"
### Description

*Type*: Feature

*Summary*: It may not be clear what's the difference between 2 browsers. These copies could be updated to:
- "Open in Status browser"
- "Open in external browser"

<img src="https://user-images.githubusercontent.com/7532782/41971401-90371c18-7a0e-11e8-9411-fc864126d621.png" width="200">

### Reproduction

- Open Status
- Go to a chat
- Click on a message with link

[2018-06-27 11:38] lukaszfryc commented on #4214
Fixed by showing "Fetching messages" status

[2018-06-27 11:38] #4214 closed, assigned to nobody

[2018-06-27 11:45] lukaszfryc opened #4969 ""Fetching messages.." appears too often and may be annoying"
### Description

*Type*: Feature

*Summary*: Seeing "Fetching messages.." so often (like every time app resumes from bg) maybe annoying. It also covers "Add to contact" button and chat list in Home. However, I'm not sure how to best solve it. Maybe show it no often than 60s or show it only when a chat / chat list is empty?

<img src="https://user-images.githubusercontent.com/7532782/41971824-0559d

[2018-06-27 11:46] annadanchenko commented on #4968
@lukaszfryc duplicate of https://github.com/status-im/status-react/issues/4938 ?

[2018-06-27 11:47] annadanchenko commented on #4967
it's expected: passphrase(seed phrase) is the only thing you need to recover account.
Password is to log in to the app and sign transaction

[2018-06-27 11:47] #4967 closed, assigned to nobody

[2018-06-27 11:48] lukaszfryc commented on #4968
yes

[2018-06-27 11:48] #4968 closed, assigned to nobody

[2018-06-27 12:07] Serhy commented on #4965
@lukaszfryc the last message there was sent in a way:

1) In message editbox type `1`
2) Tap `Return` from keyboard
3) Tap `Send message` blue button
**Result**: double line message sent.
**Expected** **result**: one line message.

So what originally reported is very likely sent in a way I described above. I even found that message in status channel and copied it content via 'Copy to clipboard' ac

[2018-06-27 12:14] maxhora opened #4970 "Status-Desktop is not usable after creating account if you click on "Share Data with Status""
Issue found and reported by @churik

# Status-Desktop is not usable after creating account if you click on "Share Data with Status"
### Steps
- Open StatusIm
- Create account
- Tap on "Share data". Popup with confirmation should appear.
- Tap on "Yes" or "Cancel"

### Expected result
can use Status

### Actual result
![merged status](https://user-images.githubusercontent.com/4557972/41957673-5f8df

[2018-06-27 12:45] goranjovic opened #4972 "Add param suggestion box for amount in /send and /request"
### User Story

As a user I want to have useful hints about ether/token amount while I send or request assets by chat.

### Description

*Type*: Feature

*Summary*: Suggestion box for amount parameter should contain current balance, fiat value of assets being sent/requested

TODO: add designs link

[2018-06-27 13:24] lukaszfryc commented on #2869
@mandrigin any update on this issue?

[2018-06-27 13:52] denis-sharypin commented on #4964
Alright, adding an extra 10 px padding to the left side of the `...` button is a nice idea!

[2018-06-27 13:54] lukaszfryc commented on #4964
@denis-sharypin should the padding be the same as for the next field (Asset)?

[2018-06-27 14:34] denis-sharypin commented on #4964
@lukaszfryc yes. that would be more consistent

[2018-06-27 16:16] EugeOrtiz commented on #4970
Are we having a share data feature for desktop as P0?

[2018-06-27 17:38] denis-sharypin opened #4975 "Dapp icons should be 40px"
### User Story

As a user, I want to see consistency in the icons sizes on the home tab .

### Description

*Type*: Bug

Somehow dapps icons smaller than icons from other instances. They should have size 40 px as well
<img width="840" alt="screenshot 2018-06-27 19 04 01" src="https://user-images.githubusercontent.com/6559881/41990010-80942700-7a41-11e8-8b0d-2747156d00cd.png">

#### Expected behavi

[2018-06-27 17:43] denis-sharypin commented on #4679
I think the home tab could be a place for favorite dapps

[2018-06-27 18:08] oskarth commented on #4819
@andytudhope can we bump this up to a medium or large to reflect urgency?

[2018-06-27 18:15] pablanopete commented on #4819
@oskarth ill change it -- More SNT has been sent to reflect size of bounty / priority to contract address as well.

[2018-06-27 18:18] status-open-bounty commented on #4848
Balance: 0.0 ETH
Contract address: [0xe7ce6b3a3f5550eaa4d56a53b128c4bb6eb5c85a](https://etherscan.io/address/0xe7ce6b3a3f5550eaa4d56a53b128c4bb6eb5c85a)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: gnl
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-06-27 18:20] status-open-bounty commented on #4253
Current balance: 0.0 ETH
Contract address: [0x466c39f86d248989c8518a5275c4d4cede672896](https://etherscan.io/address/0x466c39f86d248989c8518a5275c4d4cede672896)
![QR Code](https://openbounty.status.im/qr/status-im/status-react/bounty/4253/0d16a0967d84cedbc12a8771ab6aaf41f2bbc880648a9b7a77d4013d4b4b091d/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://

[2018-06-27 19:18] EugeOrtiz opened #4976 "Clicking on Version number shouldn't log the user out"
When clicking in version number (under user's profile) I immediately get logged out from the application.

<img width="280" alt="captura de pantalla 2018-06-27 a la s 4 23 30 p m" src="https://user-images.githubusercontent.com/37297779/41994958-82c1fc20-7a26-11e8-9752-6589138bc3d5.png">

Expected behavior:
Only clicking on "Log out" should log the user out of the app, clicking on version number sh

[2018-06-27 19:18] EugeOrtiz opened #4977 "Logout is missing confirmation dialog"
This wasn't specified before, but the "log out" functionality should have a confirmation dialog:

<img width="761" alt="captura de pantalla 2018-06-27 a la s 4 30 19 p m" src="https://user-images.githubusercontent.com/37297779/41995295-94cfabf0-7a27-11e8-8693-14d9efcf8ffb.png">

**Expected behavior:**
When user clicks on "Log out", a modal with a confirmation dialog should appear. If the user clic

[2018-06-28 08:14] pedropombeiro commented on #3999
I believe this has been fixed already, closing.

[2018-06-28 08:14] #3999 closed, assigned to nobody

[2018-06-28 08:21] #4960 closed, assigned to pedropombeiro

[2018-06-28 08:34] #4598 closed, assigned to vkjr

[2018-06-28 09:14] churik commented on #4970
@EugeOrtiz you cannot exclude it, it is part of the mobile app. It is not separate feature.

[2018-06-28 09:24] maxhora commented on #4970
But we can skip processing of button press for now if this feature is not important as P0

[2018-06-28 09:51] #4841 closed, assigned to maxhora

[2018-06-28 12:10] oskarth commented on #4819
Thanks! I realized after that 56 is still RC and might not solve those perf issues. But it also seems like quite a lot of breaking changes so still worthwhile to have increased bounty.

[2018-06-28 14:31] goranjovic opened #4983 "Optimize merging of transaction and transfer info"
### User Story

As a user I want the history of my transactions and token transfers to be clear and not confusing.

### Description

We can cover the most common special cases of #4556 (e.g regular token send via `transfer` method)
using a few tricks:

- generate a mock unconfirmed token transfer immediately after Send (the way we do with transactions)
- merge the new pieces of info more selective

[2018-06-28 14:32] goranjovic commented on #4556
Created #4983 to cover some low hanging fruit improvements we can do to make this look better in the short term.

[2018-06-28 18:57] EugeOrtiz opened #4986 "UI/UX fixes for User Profile (left panel)"
**Current implementation (June 28th) vs design:**
<img width="283" alt="captura de pantalla 2018-06-28 a la s 3 59 04 p m" src="https://user-images.githubusercontent.com/37297779/42055013-4aa962da-7aec-11e8-8497-c5aa9c84b968.png"><img width="287" alt="captura de pantalla 2018-06-28 a la s 3 59 36 p m" src="https://user-images.githubusercontent.com/37297779/42055021-4eeeff62-7aec-11e8-92b4-dd5ebe48

[2018-06-28 19:34] EugeOrtiz opened #4987 "UI/UX fixes for top navigation bar"
**List of fixes:**

- [x] Plus button is missing blue style (losing hierarchy) **(High prio)**:
<img width="283" alt="captura de pantalla 2018-06-28 a la s 4 35 48 p m" src="https://user-images.githubusercontent.com/37297779/42056671-59363378-7af1-11e8-87d7-22555e92f198.png">

- [ ] Top navigation bar height should be 68px:
<img width="372" alt="captura de pantalla 2018-06-28 a la s 4 35 10 p m" s

[2018-06-29 07:36] lukaszfryc commented on #4964
OK, I'll create a separate issue for the padding. Closing this one.

[2018-06-29 07:36] #4964 closed, assigned to nobody

[2018-06-29 08:54] churik commented on #4976
Closed in #4978

[2018-06-29 08:54] #4976 closed, assigned to rcullito

[2018-06-29 09:02] goranjovic opened #4991 "Overlap between command param placeholder text and value when starting to type"
### User Story

As a user I want a clean and smooth UI without glitches

### Description

*Type*: Bug

*Summary*: When you start typing a command parameter value, placeholder text is briefly overlapped with the text being typed.

#### Expected behavior
There is no overlap

#### Actual behavior
There is overlap

### Reproduction
Try any command e.g. `/send` and then type the param values by hand, e

[2018-06-29 09:14] churik opened #4992 "Implement User Profile screen"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see nice profile screen with photo, options, etc

### Description

*Type*: Feature
*Summary*: implement user profile screen according to design zpl.io/25qZqB3

#### Expected behavior
User profile looks like here: zpl.io/25qZqB3

#### Actual behavior
![Uploading Prof.png…]()

### Reproducti

[2018-06-29 09:17] denis-sharypin commented on #3305
fixed here https://github.com/status-im/status-react/issues/4414

[2018-06-29 09:17] #3305 closed, assigned to denis-sharypin

[2018-06-29 09:19] churik commented on #4986
Closed because Profile design is not implemented yet (created #4992  for developers) and issues with "Share contact code" button are related to PR #4908 (mentioned here and should be fixed in this PR)

[2018-06-29 09:19] #4986 closed, assigned to nobody

[2018-06-29 09:56] churik commented on #4970
@MaxRis if so, we should exclude it at all from desktop app, because this workflow is most common.
This means two options as I can see:
1 - fix issue
2 - change sign up flow.

[2018-06-29 10:05] churik commented on #4881
@MaxRis you told in `Slack` that it should be implemented for last `desktop` [build](https://jenkins.status.im/job/status-react/job/desktop/job/manual/2/)
But I still can see same behavior if I download  `StatusImBundle.app.zip`.
Am I doing smth in wrong way or additional parameters should be added to Jenkins pipeline to generate `.dmg` file?

[2018-06-29 10:17] maxhora commented on #4881
Hey @churik , I mainly meant that it's not required to create some directories by hands any more. But really haven't aware about complains described in this ticket. I'm supposing to look into creation of .dmg instead of .zip and others things too hopefully.

[2018-06-29 10:18] Serhy opened #4994 "Trim message content once 'Send message' tapped"
**_Type_**: Feature

**_Summary_**:
Originally raised in the #4965.
At the moment we include whitespaces/line breaks at the beginning and the end of message content when a user sends such message in chat. It doesn't bring any value in the message content and stretches message bubble with empty space. Let's trim message content once user taps 'Send message' button in any chat.
WhatsApp/Telegram, fo

[2018-06-29 10:20] Serhy commented on #4965
#4994 created that should fix the problem described here.
Closing this one.

[2018-06-29 10:20] #4965 closed, assigned to nobody

[2018-06-29 10:58] churik opened #4995 "Message history is overlapping when you have several chats with history>1 day (when switching between chats)"
### Description
*Type*:  bug

*Summary*: when you switching between chats with several days history, messages from yesterday and earlier can be overlapping between different chats.
Blocked by  status-im/react-native-desktop#253.

#### Expected behavior
no overlapping

### Actual result:
"Today" disappears
messages from "Yesterday" are overlapping between chats
<img width="325" alt="m1" src="https:

[2018-06-29 11:48] maxhora opened #4996 "Use status-go main development branch"
### Description
*Type*:  change

*Summary*: use status-go main development branch

[2018-06-29 11:53] andmironov commented on #2146
WIP https://share.goabstract.com/61f72263-8edc-4223-b77d-d141c97315f4

![color pallette](https://user-images.githubusercontent.com/3115606/42090978-37584776-7bac-11e8-98a8-1c0acd654191.png)

[2018-06-29 12:31] lukaszfryc commented on #4820
Many people on Instabug complain about this issue. Maybe we could prioritize it?

@janherich have you been able to reproduce it?

[2018-06-29 13:11] lukaszfryc opened #4998 ""Realm file description failed" can be sometimes reproduced after the upgrade"
### Description

*Type*: Bug

*Summary*: @cammellos wrote: _I think we know what this is, sometimes the data is not cleared properly from android/ios directory (this might happen if automatic backups are enabled), and realm decryption fails as it's an old database, we probably want to handle this cases in the same way we handle invalid keys (ask to reset)_

<img src="https://user-images.githubuser

[2018-06-29 13:18] lukaszfryc opened #4999 "Add KIN token to Wallet assets"
### Description

*Type*: Feature

*Summary*: Add support for `KIN` token to Status Wallet.

### Expected behaviour
`KIN` is shown in Wallet -> Manage Assets and in Wallet itself (if addresss has the token).

### Actual behaviour
Currently, the wallet shows only first 100 tokens from cryptocompare and the list does not include `KIN`.

### Reproduction

- Open Status
- Open Wallet
- Open options and

[2018-06-29 13:21] vitvly commented on #4275
Related react-native-desktop issue: https://github.com/status-im/react-native-desktop/issues/278

[2018-06-29 13:43] janherich commented on #4820
@lukaszfryc Not yet, but of course I can focus on that if it's priority

[2018-06-29 13:43] lukaszfryc opened #5000 "Incorrect timestamp of last message in Home"
### Description

*Type*: Bug

*Summary*:

Timestamp in Home screen shows time when a message was received but should show sent date instead:

<img src="https://user-images.githubusercontent.com/7532782/42095237-53045176-7bb2-11e8-8af2-8e77987ff15d.png" width="200">

The message was sent 3:32PM. The chat shows it correctly:

<img src="https://user-images.githubusercontent.com/7532782/42095281-72b33

[2018-06-29 13:47] lukaszfryc commented on #4820
No worries. We can prioritize it next week if you have other things right now.

[2018-06-29 14:20] EugeOrtiz commented on #4986
Good, thanks!

[2018-06-29 18:53] chuck-sys commented on #3226
I'm currently working on this. But say for instance besides a `:style` there is also an `:on-press` key. Should the component also handle these, or should it only handle the default, where only `:style` is specified?

[2018-06-29 20:37] #4937 closed, assigned to cammellos

[2018-06-30 04:03] nirvanaitsolutions commented on #4605
There is a NPM package react-native-share-menu which works well for Android. May I give it a try?

[2018-07-02 08:14] #4849 closed, assigned to nobody

[2018-07-02 09:16] jpbowen commented on #4912
@dmitryn would like to understand if any of these upgrades are possible post-beta?

Upgrade Instabug SDK the latest is: v2.13.2
In Android the latest version is: v4.15.2
In iOS the latest version is: v7.14.5

[2018-07-02 09:40] chadyj commented on #4944
Created a wiki page with some info on Universal Links https://wiki.status.im/Universal_Links

<blockquote><img src="/favicon.ico" width="48" align="right"><div><strong><a href="https://wiki.status.im/Universal_Links">Universal Links - Status Wiki</a></strong></div></blockquote>

[2018-07-02 09:41] churik opened #5012 "Crashes and CPU overload while fetching long history (>500 messages)"
### User Story

As a user, I want to see all messages fetched correctly and I could use app (switch to profile, add new contacts etc.) simultaneously.

### Description
*Type*: Bug

*Summary*: reproducible with last `status-go develop` branch (#5001). When you join public channels with 7-day history > 500 messages (i.e., #status) then:
1) application hangs or crashes
2) StatusIm CPU Usage ~99-102 %

[2018-07-02 10:00] chadyj opened #5013 "Changelog for releases"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to a simple dev-focused workflow so that I can manage and view the app's changelog.

As a user, I want up to date and accurate release notes so that I can follow progress.

As a marketer, I want an always up to date source of truth so that I can effectively broadcast to the community.

#

[2018-07-02 10:17] Serhy opened #5014 "Nothing happens upon tap on links in app browser intended to open in new window [iOS]"
***Type***: Bug

***Summary***: Links in Dapps with target="_blank" attribute suppose to open link in new window. On iOS nothing happens upon tap on such links used in Dapp.
E.g. of links:
Oasis Direct dapp -> scroll to the bottom -> any of `Documentation`/`Legal`/`Oasisdex.com` links
CryptoKitties dapp -> at hte very top `Kitty Pride` / `Experimental`
DAI by Maker DAO dapp -> `BUY DAI` button

**

[2018-07-02 10:23] cammellos commented on #5000
@lukaszfryc At the moment we show the time the last message received/sent by us, pretty sure is intentional ( we made a few changes to that code some time ago in a PR), should we change the logic to use the last message received timestamp? What should we display when there are no messages?

[2018-07-02 10:27] flexsurfer commented on #5014
will be fixed here https://github.com/status-im/status-react/pull/4919

[2018-07-02 11:21] yevh-berdnyk opened #5015 "Create atomic tests for chats management and DApps"
Cases to cover:

- [x] C1395 | Can delete 1-1 chat via 'Swipe-to-delete' option. If relaunch app deleted chat is not shown
- [x] C3694 | Can add a contact from public chat
- [x] C763   | Can add new contact by pasting public key
- [x] C1396 | Can use `Open DApp` and open google.com
- [x] C1397 | Can use back/fwd buttons when browsing a website
- [x] C3718 | Delete public chat via 'Swipe-to-delete'

[2018-07-02 11:52] Serhy opened #5016 "Oasisdex.com Dapp responds with 'Not connected to ethereum' when I open it from Android app browser"
### User Story

As a user, I want to open and browse oasisdex.com Dapp from Status app browser on Android device.

### Description

*Type*: Bug
*Summary*: Oasisdex.com Dapp could not detect Status as ethereum client and responses with the respective page notifying about Matamask/Mist installation in Android app browser.
Redirect to oasisdex.com happens from `DAI by Maker DAO` Dapp we have already.

[2018-07-02 11:57] dmitryn commented on #4912
@jpbowen yes, we already have PR for that upgrade https://github.com/status-im/status-react/pull/4788

[2018-07-02 12:00] denis-sharypin commented on #4966
hey @obi2020 if you have time please have a look into this, thanks!

[2018-07-02 12:06] #4996 closed, assigned to maxhora

[2018-07-02 12:11] churik commented on #4987
closed, because should be resolved in #4752 and you comment design there as well

[2018-07-02 12:13] churik commented on #4977
blocked by https://github.com/status-im/react-native-desktop/issues/256

[2018-07-02 12:19] churik commented on #4864
Should be fixed in #4693

[2018-07-02 12:19] #4864 closed, assigned to nobody

[2018-07-02 12:33] churik commented on #4863
Should be fixed in #4693

[2018-07-02 12:33] #4863 closed, assigned to nobody

[2018-07-02 12:50] churik commented on #4860
@EugeOrtiz  what is it about? Where is it missing and what should be done regarding this issue?

[2018-07-02 13:13] churik opened #5018 "Implement display of message statuses"
### User Story

As a user, I want to see whether my message is Sent, Seen or not sent and resend if it attempt was unsuccessful.
### Description

*Type*: Feature

*Summary*:
* in 1-1 Chat :
1) Sent - [design](https://zpl.io/Vkml10Z)
2) Seen
3) Not sent, Tap for options - [design](https://zpl.io/VqEOzY4)
* in Public Chat:
1) Sent - [design](https://zpl.io/Vkml10Z)
2) Not sent, Tap for options - [de

[2018-07-02 13:15] flexsurfer commented on #3226
hey @cheukyin699 , thanks for working on this, what do you mean about `:on-press` key, could you provide an example? thanks

[2018-07-02 13:24] pedropombeiro opened #5019 "Support mailserver pagination in app"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want the app to request a number of historic messages from the mailserver instead of a fixed time window so that the app stays responsive and doesn't request a ton of old messages that I don't care about. For that we need to leverage the work done in https://github.com/status-im/status-go/issues/1

[2018-07-02 13:31] maxhora commented on #4881
Jenkins now should build .dmg . Introduced in https://github.com/status-im/status-react/pull/5010

[2018-07-02 13:46] churik commented on #4790
Small fixes in #4839

[2018-07-02 13:46] #4790 closed, assigned to vkjr

[2018-07-02 13:48] churik commented on #4434
Blocked by https://github.com/status-im/react-native-desktop/issues/256

[2018-07-02 14:03] chadyj opened #5021 "Manage Play Store metadata with Fastlane and Git"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer and marketer, I want to integrate Play Store metadata into my workflow so that the Play Store is always up to date.

### Description

During the beta launch, we realized that we neglected the Play Store metadata. Images were old, and the copy still referred to alpha. Since Play Store management

[2018-07-02 14:29] #5013 closed, assigned to chadyj

[2018-07-02 14:32] pedropombeiro commented on #4605
@nirvanaitsolutions that sounds interesting. What do you think @jeluard?

[2018-07-02 14:48] churik commented on #4439
@EugeOrtiz can you please provide the design?

[2018-07-02 14:50] jeluard commented on #4605
@nirvanaitsolutions Is that https://github.com/meedan/react-native-share-menu you are talking about?
In general we rather not rely on extra deps, especially native and unmaintained :sweat_smile:

The native part looks fairly short. Maybe we could directly add it to our own native layer?

<blockquote><img src="https://avatars2.githubusercontent.com/u/60577?s=400&v=4" width="48" align="right"><div><

[2018-07-02 14:53] #4963 closed, assigned to goranjovic

[2018-07-02 14:54] churik commented on #4418
@EugeOrtiz I don't see here design with "Sign in" screen before sign in and during Sign Up. Can you please provide them?

[2018-07-02 15:07] churik commented on #4270
@MaxRis can we somehow to trigger build with high-quality image resolution?
AFAIK it is only about some option in Jenkins (fix me if I'm wrong)

[2018-07-02 15:07] #4267 closed, assigned to rcullito

[2018-07-02 15:08] #4226 closed, assigned to vitvly

[2018-07-02 15:08] #4225 closed, assigned to vitvly

[2018-07-02 15:13] maxhora commented on #4270
@churik I believe that it's not so easy, unfortunately. @vkjr Could you please suggest if you have an idea if it's possible to tweak it quickly

[2018-07-02 16:01] mandrigin opened #5022 "Battery life regressed in Beta"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

In Beta, our Android users found out that the battery life is not as good as, say in 0.9.19 release.

### Description

Most probable reason for that is a regression introduced by React Native upgrade to 0.55.4.

A symptom that follows that regression is the keyboard being laggy when typing many long messages (

[2018-07-02 17:07] annadanchenko opened #5023 "[ipad] `Fetching messages` or `Offline` grey line is shorter than screen length in landscape mode"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: `Fetching messages` or `Offline` grey line in desktop mode is shorter than screen length in landscape mode
![img-0429](https://user-images.githu

[2018-07-02 17:16] annadanchenko opened #5024 "[ipad] Button "Ok, continue" is not visible on Backup Seed Phrase screen in landscape mode"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Button "Ok, continue" is not visible on Backup Seed Phrase screen in landscape mode. Picture also seems to be of a wrong size for landscape scre

[2018-07-02 17:17] EugeOrtiz commented on #4418
Design currently WIP.

[2018-07-02 17:18] EugeOrtiz commented on #4439
Designs here > zpl.io/V1qZyPk (Zeplin)

[2018-07-02 17:27] EugeOrtiz commented on #4860
@churik I added more details, let me know if it needs to be more clear.

[2018-07-02 17:32] annadanchenko opened #5025 "[ipad] Send transaction screen is shown partially if initiate transaction from DApp"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Sometimes, Send transaction screen is shown partially if initiate transaction from DApp and app is in landscape mode.

Note: if turn app to port

[2018-07-02 18:35] chadyj opened #5026 "Automate release notes with changelog.md contents"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to seamlessly update release note on Google Play and App Store so that I can automate releases.

### Description

We now have a [Changelog](https://github.com/status-im/status-react/issues/5013) of up to date changes, but these still have to be manually copied to the Play Store and App S

[2018-07-03 07:07] churik commented on #2820
Is not reproducible in beta

[2018-07-03 07:07] #2820 closed, assigned to nobody

[2018-07-03 07:14] churik commented on #2825
Can reproduce only (beta):
2. when text contains more than 3 rows and each row contains native emoji (used emoji keyboard) - input field has additional padding (looks like empty row)

[2018-07-03 07:32] churik commented on #4561
Cannot reproduce (beta)

[2018-07-03 07:32] #4561 closed, assigned to nobody

[2018-07-03 07:46] vkjr commented on #4270
@MaxRis, @churik, initially I supposed that adding few lines to info.plist will be enough but after spending an hour or two on this I didn't find the quick solution :( Needs more deep investigation.
I can take this task since I already worked on it.

[2018-07-03 08:53] chuck-sys commented on #3193
Would there be multiple `GITHUB_NAME`s per time range? Or would there be a single `GITHUB_NAME` within a bounded time range, but multiple time ranges with different `GITHUB_NAME`s?

So, something like this:

[code]

Or like this:
[code]

[2018-07-03 09:02] Serhy commented on #3275
It was fixed. Could not reproduce this issue with 0.9.21 build.

[2018-07-03 09:02] #3275 closed, assigned to lukaszfryc

[2018-07-03 09:05] Serhy commented on #3296
Could not reproduce this bug. No complains were since the time it reported.
Closing it.

[2018-07-03 09:05] #3296 closed, assigned to nobody

[2018-07-03 09:07] Serhy commented on #3430
It was all OK since the time issue reported.
Closing this issue.

[2018-07-03 09:07] #3430 closed, assigned to nobody

[2018-07-03 09:08] Serhy commented on #3450
Still reproducible (for Console part, can't confirm in Group Chats as they are disabled in develop/release builds (0.9.21) ) on the same Android device as in description.

[2018-07-03 09:45] rachelhamlin commented on #3131
Still seeing Chad's original keyboard issue in Status, but not other browsers. @jeluard @flexsurfer I think it's our problem.

https://willalways.love/
<img src="https://user-images.githubusercontent.com/15470435/42211903-f43e5f96-7eb4-11e8-95e6-a483d822e067.png" width=250 />
In this case, the modal is so short that you can't see what's happening in the frame.

ddex
<img src="https://user-images.g

[2018-07-03 09:53] chadyj opened #5028 "Option to use ENS address instead of contact code"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to add a contact with their ENS address so that I don't need to use the cumbersome whisper contact code.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

Soon users will be able to register ENS addresses inside Status, so we want to make ENS available everywhere

[2018-07-03 10:38] #2696 closed, assigned to goranjovic

[2018-07-03 10:50] antdanchenko opened #5030 "Create atomic tests (smoke tests - phase 2)"
Tests to be created:

- [x] C3706 Can clear history of public chat. After re-login no past history is shown in chat
- [x] C3450 Can set currency for assets other than USD (profile->main currency)
- [x] C3705 Connection is not secure warning appears when custom URL is opened
- [x] C3707 | Can add custom network
- [x] C3719 | Can delete 1:1 chat with Delete chat
- [x] C3720 | Can delete public chat

[2018-07-03 11:09] bgits commented on #5028
What would you need from the ENS swarm to read directly from the contract. ABI?

[2018-07-03 11:16] chadyj commented on #4944
Found an issue when opening a dapp link FROM a dapp:
1. Go Home > New > Open Dapp
2. Paste in https://wiki.status.im/Universal_Links
3. Scroll down and tap the cryptokitties link

It briefly showed  “unable to load page -1002 unsupported URL”, and seemed to load it twice. Then going back to Home showed 2 Cryptokitties tabs that were opened, and the original has the `status-im://` address which is

[2018-07-03 11:21] flexsurfer commented on #5028
hey @bgits yes, ABI should be enough , and method name and params

[2018-07-03 11:40] lukaszfryc opened #5031 "Public chat shows double "#" in name"
### Description

*Type*: Bug

*Summary*: "##" is shown in the options dialog (both on Android and iOS):

<img src="https://user-images.githubusercontent.com/7532782/42217671-60700a50-7ec6-11e8-9de3-ddd2bffa042e.png" width="200">

#### Expected behavior
"#status"

#### Actual behavior
"##status"

### Reproduction

- Open Status
- Open "#status" chat
- Open chat options menu

### Additional Informat

[2018-07-03 11:58] lukaszfryc commented on #5000
For incoming messages, I think we should show timestamp of when the message was sent (not received). Of course if we can do it. @chadyj wdyt?

[2018-07-03 12:15] #4901 closed, assigned to alwx

[2018-07-03 13:46] Serhy opened #5035 "'java.lang.NullPointerException void android.os.Messenger.send(android.os.message)' on the first app install"
***Type***: Bug

***Summary***: Sporadic error after app install and first app start (on Android emulator). Couldn't reproduce on real device nor on emulator the second time.

#### Expected behavior
No errors once app run after the build install

#### Actual behavior
![nullpointer](https://user-images.githubusercontent.com/8749671/42223134-b4fb9e4a-7edf-11e8-92d3-401d76c2c605.png)

### Reproductio

[2018-07-03 14:18] status-open-bounty commented on #4380
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0xf3e77d01fe3e8a3fbcb42a5466a018e891557830](https://etherscan.io/address/0xf3e77d01fe3e8a3fbcb42a5466a018e891557830)
Network: Mainnet
Paid to: flexsurfer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-07-03 15:05] lukaszfryc opened #5036 "Recovered account sees default username instead of custom name"
### Description

*Type*: Bug

*Summary*: After account is recovered, an other user needs to update their name in profile before the recovered account can see it. Without it, the default name is always shown. This happen when recovered account was on latest version of the app and the other user used 0.9.20 (or older). The issue still even when the other user updates latest version.

#### Expected b

[2018-07-03 15:21] churik opened #5038 "Add custom URL scheme to status-desktop"
### User Story

As a user in want to open universal links directly in my status-desktop app.

### Description

*Type*: Feature

*Summary*: The goal is to eliminate any friction to opening up Status. No more copy/pasting long contact codes, or cumbersome instructions (Open Status, tap Home, then New, then ……..).
Description of universal links is [here](https://wiki.status.im/Universal_Links).
Pull

[2018-07-03 15:22] #4745 closed, assigned to cammellos

[2018-07-03 15:23] churik commented on #5036
Is it not the same https://github.com/status-im/status-react/issues/4573?

[2018-07-03 15:30] #4873 closed, assigned to flexsurfer

[2018-07-03 15:31] #4904 closed, assigned to flexsurfer

[2018-07-03 17:57] #4900 closed, assigned to flexsurfer

[2018-07-03 19:28] bgits commented on #5028
@flexsurfer You can see how we use methods from `PublicResolver` here: https://github.com/status-im/contracts/blob/151-ens-usernames/app/components/ens/nameLookup.js#L184

EmbarkJs gives us a nice interface to use, perhaps you can leverage that.

If you prefer can just generate a JSON.

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div

[2018-07-03 20:12] EugeOrtiz commented on #4987
@churik I don't see these design comments on that issue that you mention. Also, I think that issue doesn't involve the top navigation with + button (as we talked with @siphiuel). I think we should keep this separately, otherwise the other issue is becoming super large and complex.

[2018-07-03 20:24] EugeOrtiz commented on #4970
+1 to remove it from V1. This makes more sense when the app is available for a broader audience and metrics can help us make decisions.

[2018-07-03 20:26] maxhora commented on #4970
+1 for `change sign up flow.`

[2018-07-03 23:18] rcullito commented on #4860
@MaxRis @vkjr any idea where the right place is to drop this font in for QT to pick up?

Had experimented with changing the font but could only get system-wide fonts such as Helvetica to show up in place of Roboto rather than from a custom file. Thanks!

cc:
https://github.com/supermarin/YosemiteSanFranciscoFont
https://github.com/AppleDesignResources/SanFranciscoFont

[2018-07-04 07:29] churik commented on #4987
Ok, let's keep it opened, but I don't think it is high-prio for now, because at least blue styling will be  added in  #4752.
Are you agree?

[2018-07-04 07:46] jeluard opened #5042 "Introduce extended DApp API"
### User Story

As a DApp developer, I want to have access to status specifics API in my DApp

### Description

A DApp will be able to access a status object allowing to access status specifics API. The syntax will follow the one defined in this [proposition](https://discuss.status.im/t/status-web-dapps-api/141).

The only API exposed at first will be `currentPublicKey`.

*Type*: Feature

[2018-07-04 08:09] lukaszfryc commented on #4181
Few users mentioned this bug on Instabug. I updated the severity of it to medium and priority to high.

[2018-07-04 08:20] lukaszfryc opened #5043 "New chat button covers the red delete chat button"
### Description

*Type*: Bug

*Summary*: Floating "+" button covers the delete button:

<img src="https://user-images.githubusercontent.com/7532782/42265385-aebf549c-7f73-11e8-94ff-8581e279f20a.png" width="200">

#### Expected behavior

#### Actual behavior

### Reproduction

- Open Status
- Have long list of chats
- Swipe a chat on the bottom to delete it

### Additional Information
* Status vers

[2018-07-04 08:21] lukaszfryc commented on #5043
@errorists any idea how this could be improved?

[2018-07-04 09:27] #4799 closed, assigned to flexsurfer

[2018-07-04 11:06] vkjr commented on #4860
@rcullito, I checked in Qt, not additional fonts installation needed, setting font.family to "SFProText" is enough.
Let me check if we have a bug on `react-native-desktop` side...

[2018-07-04 11:12] lukaszfryc opened #5047 "Do not show QR code scanner when camera permissions has not been granted"
### Description

*Type*: Bug

*Summary*: When user did not agree to use camera and clicked "Do not show again" on the camera permission popup, the next time he tries to scan QR code following screen is shown:

When trying to scan contact QR code:

<img src="https://user-images.githubusercontent.com/7532782/42273886-df5577fa-7f8a-11e8-9739-21aa7c1063f1.png" width="200">

When trying to scan wallet

[2018-07-04 11:23] vkjr commented on #4860
@rcullito, I checked, we have a correct implementation of `fontFamily` property in `react-native-desktop`.
But as I noticed, `react/text` is not a direct referencing of a `Text` component, it is a function that requires you to move font styling in a separate function argument. Here is how you can achieve desired behavior:

[code]

Here I used `SFProText` fontFamily, since it is mentioned in zeplin

[2018-07-04 12:02] churik opened #5048 ""Send" button is not disabled in transaction request after sending transaction"
### Description

*Type*: Bug
*Summary*: when you send transaction as a response to another user `/request` command, "Send" button should become disabled. Now it is still active and you can tap on it again.

#### Expected behavior
"Send" button is disabled

#### Actual behavior
"Send" button is enabled
![fgdfg](https://user-images.githubusercontent.com/4557972/42276027-dbad1a94-7f9a-11e8-924b-db87f

[2018-07-04 12:17] goranjovic commented on #3094
Closing since group chat and its send command are disabled for the time being.

[2018-07-04 12:17] #3094 closed, assigned to nobody

[2018-07-04 12:22] churik opened #5049 "Geth.log is not created on some devices"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Geth.log is not created on my device, when permission to storage is granted.

#### Expected behavior
[comment]: # (Describe what you expected to happen.)
 Geth.log is presented

#### Actual

[2018-07-04 13:19] #4154 closed, assigned to nobody

[2018-07-04 13:19] #3849 closed, assigned to nobody

[2018-07-04 13:38] denis-sharypin commented on #4136
was fixed here https://github.com/status-im/status-react/issues/4415

[2018-07-04 13:38] #4136 closed, assigned to nobody

[2018-07-04 13:53] churik commented on #4930
Could reproduce for IOS as well.
TF session (06:00 - 07:00): https://app.testfairy.com/projects/4803590-status/builds/8514859/sessions/4395450128/?accessToken=y3VjSWNUpVKU5Q5cMmBDQ1tRmqo

<blockquote><div><strong><a href="https://app.testfairy.com/projects/4803590-status/builds/8514859/sessions/4395450128/?accessToken=y3VjSWNUpVKU5Q5cMmBDQ1tRmqo">TestFairy: Status 0.9.21 (6157) @2018</a></strong><

[2018-07-04 16:39] dickolsson commented on #3931
I'm having the same issue on iOS and Status version 0.9.21 (6123).

When I create the new password I can paste in a password generated by my password manager. This sets the expectation that I would be able to do the same when entering that password for login. But I'm not.

No matter how I try, it's not possible to paste in the password during log-in.

I had to re-create my Status account with a si

[2018-07-04 17:40] denis-sharypin opened #5057 "Intentionally decapitalize words in the recovery phrase field"
### User Story

As a user, I don't want to create a new account while recovering it by mistake.

### Description

*Type*: Bug

*Summary*: Process of recovering account is a case sensitive.  If you use your recovery phrase but with the capitalized first letters, our app will create a different account from that. We need to prevent this by decapitalize words in the recovery phrase field

#### Expect

[2018-07-04 18:08] denis-sharypin opened #5058 "Align recovery phrase words correctly"
### User Story

As a user, I don't want to be confused by misalignment of recovery words so that I would not think that there are some extra spaces in my words.

### Description

*Type*: Bug

*Summary*: Align words to the red line how it's shown on the screenshot

#### Expected behavior
<img width="926" alt="screenshot 2018-07-04 19 52 10" src="https://user-images.githubusercontent.com/6559881/422

[2018-07-04 18:17] status-open-bounty commented on #3604
Balance: 0 ETH
Tokens: SNT: 1000.00
Contract address: [0xd4cad6c4d66650d1cc5346bdb017e7e80b7a5b5a](https://etherscan.io/address/0xd4cad6c4d66650d1cc5346bdb017e7e80b7a5b5a)
Network: Mainnet
Paid to: kennytilton
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-07-04 19:16] antdude opened #5059 "Google Play says Status app is incompatible with BlueStacks v3.52.67.1911 (Android v4.4.2)."
In my installed BlueStacks v3.52.67.1911 (Android v4.4.2; https://www.bluestacks.com/) in my decade old updated 64-bit W7 HPE SP1 desktop PC, I was unable to install 7/4/2018 Status app from https://play.google.com/store/apps/details?id=im.status.ethereum&hl=en due to its incompatibility error as shown below in my screen shot/capture:
![bluestacks3](https://user-images.githubusercontent.com/998681

[2018-07-05 07:45] maxhora commented on #4995
@churik this Issue should be re-validated against latest manual desktop build. Hopefully, shouldn't appear any more since https://github.com/status-im/status-react/pull/4578 is merged already.

[2018-07-05 07:46] maxhora commented on #4249
@churik this Issue should be re-validated against latest manual desktop build. Hopefully, shouldn't appear any more since https://github.com/status-im/status-react/pull/4578 is merged already.

[2018-07-05 08:10] lukaszfryc opened #5060 "Bump version to 0.9.22"
### Description

*Type*: Bug

*Summary*: Bump version name in Profile screen from 0.9.21 to 0.9.22. It's done in https://github.com/status-im/status-react/blob/release/0.9.22/VERSION. See PR with previous bumps  like https://github.com/status-im/status-react/pull/4812

### Reproduction

- Open Status
- Open Profile
- See version name

### Additional Information
* Status version: 0.9.22
* Operating

[2018-07-05 08:11] #4748 closed, assigned to chadyj

[2018-07-05 08:17] lukaszfryc commented on #5022
Removing "release" label since this is not a blocker for upcoming release. Performance was (temporary) fixed by downgrading RN.

[2018-07-05 08:17] lukaszfryc commented on #4954
I'm removing "release" label since it's not a blocker for upcoming release (0.9.22).

[2018-07-05 08:18] lukaszfryc commented on #4780
I'm removing "release" label since it's not a blocker for upcoming release (0.9.22).

[2018-07-05 08:18] lukaszfryc commented on #4779
I'm removing "release" label since it's not a blocker for upcoming release (0.9.22).

[2018-07-05 08:20] #4775 closed, assigned to goranjovic

[2018-07-05 08:20] #4858 closed, assigned to goranjovic

[2018-07-05 08:21] dmitryn commented on #4954
@lukaszfryc sure, i didn't mean it's a blocker, but related to how we release the app, i.e. how we can change config on-the-fly after release done.

[2018-07-05 09:38] #4983 closed, assigned to goranjovic

[2018-07-05 09:46] chadyj commented on #5060
When we do this we should also update CHANGELOG.md too

[2018-07-05 10:30] lukaszfryc commented on #3413
Happened again for me on iOS

[2018-07-05 10:30] #5030 closed, assigned to antdanchenko

[2018-07-05 11:04] asemiankevich opened #5063 "Calculate fiat value of /send and /request on the recipient side"
### Description

*Type*: Bug

*Summary*: We have a PR https://github.com/status-im/status-react/pull/5044 that introduces localization of `/send` and `/request` messages based on user preferences. So if I set up my wallet in EURO all the transaction messages will be shown in the currency I have selected.

The issue it the following: when i send a request to a person in EUR ( i have my wallet in EU

[2018-07-05 11:07] lukaszfryc commented on #3981
I just had the same crash again. Samsung Galaxy S8, Android 7.1, release/0.9.22 branch. Logcat:

[code]

[2018-07-05 11:13] churik opened #5064 "Messages containing only emojis are not displayed in desktop"
### Description
*Type*: Bug

*Summary*:

#### Expected behavior
can see message with emoji

#### Actual behavior
message is not displayed in status-desktop
![no message](https://user-images.githubusercontent.com/4557972/42320016-780b15be-805c-11e8-83eb-acd8ec91b922.png)

### Reproduction
*Prerequisites:* user A (mobile) and User B (desktop) are joined to same public chat (i.e., #tocheck)

- Open S

[2018-07-05 11:19] churik commented on #4249
Still reproducible on [desktop, build 11](https://jenkins.status.im/job/status-react/job/desktop/job/manual/11/)
Video: [header](http://take.ms/0tdtL)

[2018-07-05 11:26] churik commented on #4995
Is not reproducible  on [desktop, build 11](https://jenkins.status.im/job/status-react/job/desktop/job/manual/11/)

[2018-07-05 12:17] antdanchenko opened #5066 "Add atomic tests (smoke tests - phase 2)"
Tests to be added:

- [x] 3725 Backup seed warning shown in Wallet if account has funds
- [x] 3751 Need help section in Profile
- [x] 1416 Can open a profile of another contact from 1-1 chat (top right corner -> Profile)

[2018-07-05 13:32] #4806 closed, assigned to goranjovic

[2018-07-05 13:32] #4926 closed, assigned to goranjovic

[2018-07-05 14:10] dickolsson commented on #3931
One additional thing to note: it's possible to paste the password into the field when you do a transaction. But again, not when you log in. This leads me to think that's really just an oversight with the password field for the login field.

Should probably be labelled as a bug?

[2018-07-05 14:11] asemiankevich commented on #4930
@yevh-berdnyk https://ethstatus.testrail.net/index.php?/cases/view/3764

<blockquote><img src="https://static.testrail.io/5.5.0.3731/images/favicon.ico" width="48" align="right"><div><strong><a href="https://ethstatus.testrail.net/index.php?/cases/view/3764">Login - TestRail</a></strong></div></blockquote>

[2018-07-05 15:00] alwx commented on #2541
Fixed here: https://github.com/status-im/status-react/pull/5056

[2018-07-05 15:21] maxhora commented on #4249
@rcullito @churik chat headers visibility issue visually looks like the corresponding text label doesn't get the width correctly and brake one line test into multi-line. It seems it somehow depends on the length of available chats titles.

[2018-07-05 16:12] churik commented on #4995
Eventually reproduced on [desktop, build 11](https://jenkins.status.im/job/status-react/job/desktop/job/manual/11/)
Can be reproducible with two public channels, one has 1+ day history, second has 2+ day history (i.e., #status).
Steps:
- scroll up to chat with 2+ day history ;
- use pull-to-refresh in order to see history before yesterday;
- switch to chat with 1+ day history ;
- check "Yesterday"

[2018-07-05 16:38] churik commented on #5012
Same crash is reproducible if you are switching between 3 different public chats with different message history (1 day, 2 days, 3 days)
Video: http://take.ms/cdUQq
Build:  reproduced on [desktop, build 11](https://jenkins.status.im/job/status-react/job/desktop/job/manual/11/)

<blockquote><img src="https://api.monosnap.com/rpc/file/download?id=CYeDgFtyAPdoVzqv3494gCPruaLRwf&type=preview" width="48

[2018-07-05 17:00] churik opened #5070 "Message history dates don't match real values"
### User Story

As a user, I want to see when my messages were delivered to me.

### Description

*Type*: Bug
*Summary*: if you are switching between chats with different history length (1 day, 2 days, 2+ days) eventually these days are overlapping through all chats. For example:
<img width="897" alt="h1" src="https://user-images.githubusercontent.com/4557972/42336280-e48e7b84-808b-11e8-937b-3dfed

[2018-07-05 17:42] status-open-bounty commented on #4843
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe260a013d0f884f5af43291910664f334382f739f378958bb7fe15bc1be2347e](https://etherscan.io/tx/0xe260a013d0f884f5af43291910664f334382f739f378958bb7fe15bc1be2347e)

[2018-07-05 17:46] status-open-bounty commented on #4938
Balance: 0 ETH
Tokens: SNT: 250.00
Contract address: [0x8001b8c9ed1d5d7d91d2bf560a94e3d857da9fcd](https://etherscan.io/address/0x8001b8c9ed1d5d7d91d2bf560a94e3d857da9fcd)
Network: Mainnet
Paid to: tbenr
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-07-05 18:36] rcullito commented on #4860
:ok_hand: perfect, thanks for looking into it @vkjr. Yes had tried just updating it at the platform level but had not applied the styling to the `react/text/` element itself so thank you for that!

[2018-07-05 20:04] rcullito commented on #4860
@vkjr, realizing I meant to ask that although font-family is implemented correctly, we'd still need to include "SFProText" in a place where it could be referenced though, right? It looks like through http://doc.qt.io/qt-5/qfontdatabase.html

Currently there are a couple of possible font directories, one in both `status-react` and `react-native-desktop`, but I'm not totally sure how this would be i

[2018-07-05 22:22] luigar opened #5071 "Backup Seed Phrase screen does not correctly fit on screen, gets cut on top and on the bottom."
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

Type: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Backup Seed Phrase screen is incorrectly displayed it get partly cut on top and on the bottom.

#### Expected behavior

[2018-07-06 05:45] juliomvr opened #5073 "Missing messages on public chats"
### Description

*Type*: Bug

Not all messages are being received on public chats,
#### Expected behavior
All messages should be received and displayed on public chats

#### Actual behavior
Some messages are never received, see images to check differences on the same public chat

Device 1:
![image](https://user-images.githubusercontent.com/25910226/42361620-6f29f238-80bd-11e8-8684-e752f6624aaf.png

[2018-07-06 06:48] vkjr commented on #4860
@rcullito, later for linux probably we will need to support adding of a new font through the assets. But it looks like for mac you don't need need to install "SFProText" since it is one of a system fonts (as I understood).

On my mac abovementioned code works perfectly and changes the font in the messages list. Didn't it work for your mac?

[2018-07-06 06:56] chadyj opened #5074 "Support non-ascii characters in universal links"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to join "status 日本語" via a universal link so that I can easily join and chat with my local community.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you

[2018-07-06 07:53] #4930 closed, assigned to goranjovic

[2018-07-06 09:50] jakubgs commented on #2566
This has already been resolved. There is now anonymous read-only access enabled to Jenkins Build logs.
Example:
https://jenkins.status.im/blue/organizations/jenkins/status-react%2Fpull%20requests/detail/PR-4919/13/pipeline
I'm gonna close this issue in a day or few if this is enough.

<blockquote><div><strong><a href="https://jenkins.status.im/blue/organizations/jenkins/status-react%2Fpull%20reque

[2018-07-06 09:53] jeluard commented on #2566
@jakubgs Great! Could you document this in https://github.com/status-im/docs.status.im ? :grin:

<blockquote><img src="https://avatars3.githubusercontent.com/u/11767950?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/status-im/docs.status.im">status-im/docs.status.im</a></strong></div><d

[2018-07-06 10:21] #4887 closed, assigned to rasom

[2018-07-06 10:21] #5022 closed, assigned to nobody

[2018-07-06 10:24] #3639 closed, assigned to nobody

[2018-07-06 10:30] jakubgs commented on #2566
Updated as requested by @jeluard:
https://github.com/status-im/docs.status.im/pull/28

[2018-07-06 10:42] jeluard commented on #2566
Thanks @jakubgs !

[2018-07-06 11:54] #4413 closed, assigned to flexsurfer

[2018-07-06 13:42] Serhy opened #5078 "No browsing history kept for particular Dapps (CryptoKitties,CryptoFighters,CryptoStrikers etc) on iOS"
***Type***: Bug

***Summary***: Status app browser on iOS does not track and keep the browsing history in particular Dapps.
**Note:** It's all fine on Android app browser. Also there are similar Dapps in status curated list which are fine on iOS.
See steps to reproduce for CryptoKitties (where history is not tracked) and Etheremon dapp (where history is tracked and kept fine).

#### Expected behav

[2018-07-06 13:46] Serhy opened #5079 "Browsing history is not saved after contact re-login to account"
***Type***: Bug

*Summary*: We keep browsing history when a user navigates through different pages in Dapps/websites. However, once contact re-logins to account browsing history is flushed and only latest navigated URI is kept.
It would be nice to keep the browsing history per Dapp even after re-opening of Status app.

#### Expected behavior
Browsing history is kept after contact re-logins to acco

[2018-07-06 14:22] vitvly opened #5081 "Provide support for custom react-native-desktop branches in Jenkins builds"
**Problem**:
Currently it's not possible to build `desktop` branch against a particular `react-native-desktop` branch.

**Solution**:
One workaround as suggested by @MaxRis is creating ad-hoc branches forked from `desktop` changing `react-native-desktop` repo URL in `package.json`.

However, it would be better if job config included a string parameter designating the target `react-native-desktop`

[2018-07-06 14:24] rasom commented on #5079
This has never beed considered as a feature before so it's hard to say that this is a bug IMO

[2018-07-06 14:30] vitvly opened #5082 "[MERGE] Use different package.json/re-natal config for desktop and mobile"
**Problem**:
The following node modules have different versions in `develop` and `desktop` branches:
 - react-native
 - react-native-i18n
 - react-native-config
 - react-native-fs
 - react-native-http-bridge
 - react-native-webview-bridge
 - react-native-keychain
 - react-native-securerandom

It might be quite complicated to synchronize the versions of those modules, so a simpler approach is neede

[2018-07-06 14:31] vitvly opened #5083 "[MERGE] Create a temp branch for desktop->develop merge"
**Problem**:
It is important to have a testing ground for the desktop->develop merge.

**Solution**:
Create a branch containing a version of `desktop` rebased against `develop`.

[2018-07-06 14:33] vitvly opened #5084 "[MERGE] Verify Figwheel operation"
Figwheel in `desktop` branch contains some specific changes. Need to verify whether it does not break Figwheel on `develop`.

[2018-07-06 14:38] vitvly opened #5085 "[MERGE] CLJS parameterization depending on platform"
**Problem**:
CLJS code has been modified in `desktop` branch, in particular:
  - `status-im.react-native.js-dependencies` ns had some components commented out.
  - `status-im.ui.components.icons.vector-icons` was changed on `desktop` to use Qt's built-in functionality
  - maybe some more

**Solution**:
Parameterize these code sections by wrapping them inside `(if platform/desktop?)` expressions. I

[2018-07-06 14:40] vitvly opened #5086 "[MERGE] Fix Jenkins builds"
Fix Jenkins builds so that all target platform builds are created from the same version of code.

[2018-07-06 15:03] #5057 closed, assigned to goranjovic

[2018-07-06 15:13] chadyj opened #5088 "Improve in-app content for clarity and accuracy"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want clear, consistent and accurate copy and tone so that guidance is clear and I'm confident in my actions.

### Description

Status has evolved but the app has a mismatch of styles, different terms, and lacks a cohesive copy tone and brand voice.

Now that @obi2020 is onboard we can take a fresh

[2018-07-06 15:32] rcullito commented on #4860
@vkjr I'm on linux :) so will look into adding the font through the assets. Thank you for clarifying that it works natively on Mac though!

[2018-07-06 15:42] Serhy commented on #5079
That's fair remark, @roman, agree.
This is a “dept” from #3639 feature request that we decided to implement separately. So like a `bug/feature` :)
Changed to `feature`.

[2018-07-06 18:22] #4460 closed, assigned to nobody

[2018-07-06 18:29] #4455 closed, assigned to nobody

[2018-07-06 18:30] #5015 closed, assigned to yevh-berdnyk

[2018-07-06 18:32] #4235 closed, assigned to nobody

[2018-07-06 18:33] #4175 closed, assigned to nobody

[2018-07-06 18:37] yevh-berdnyk commented on #4174
Can't reproduce it anymore so closing

[2018-07-06 18:37] #4174 closed, assigned to nobody

[2018-07-06 18:47] yevh-berdnyk commented on #3955
Can't reproduce it anymore

[2018-07-06 18:47] #3955 closed, assigned to nobody

[2018-07-06 18:50] yevh-berdnyk commented on #3805
Checked and now can't reproduce also so closing the issue

[2018-07-06 18:50] #3805 closed, assigned to nobody

[2018-07-06 18:50] #3723 closed, assigned to yevh-berdnyk

[2018-07-06 20:15] juliomvr opened #5091 "Login with "I already have an account" needed validation or additional instructions"
### Description

*Type*: Bug

*Summary*:
When login clicking the "I already have an account" button using correct passphrase and password is not working, it creates a new wallet instead of recovering wallet and funds.

There is a workarround for this, instead of writing all 12 phrase words separated by a space, try typing the 12 words clicking "enter" for each word(new line for each one) and this

[2018-07-06 20:17] #3665 closed, assigned to nobody

[2018-07-06 20:41] #3510 closed, assigned to nobody

[2018-07-06 20:44] #3307 closed, assigned to nobody

[2018-07-06 20:46] #2930 closed, assigned to nobody

[2018-07-06 20:46] #2909 closed, assigned to nobody

[2018-07-06 20:51] yevh-berdnyk commented on #2884
Checked on the latest nightly build: [Android](http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-4aaf0b-n-fl.apk), [iOS](https://i.diawi.com/mQPY3y) - the bug is still reproducible

[2018-07-06 22:56] juliomvr opened #5093 ""OTHER ACCOUNTS" button disappear after first click"
### User Story

As a user, I want to have the same user experience every time I come back to the same screen, "Sign in to Status" window in this case.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarize the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Su

[2018-07-06 23:41] trowacat commented on #3175
Does this still need to be worked on?

[2018-07-07 05:44] debragail commented on #2848
i started this and i'll try to finish, i just can't do a Status build on Yosemite.  :(

[2018-07-07 15:19] vkjr commented on #4860
@EugeOrtiz, will we have the same font for both Linux and Mac?

[2018-07-07 15:27] vkjr commented on #4992
@churik, is this one really `in progress`? If so, `assignee, revelio!` :)

[2018-07-07 20:07] EugeOrtiz commented on #4860
Good question @vkjr ! Actually, the SF is only for Apple OS and products:

_"A. Limited License. Subject to the terms of this License, you may use the Apple Font solely for creating mock-ups of user interfaces to be used in software products running on Apple’s iOS or OS X operating systems, as applicable. The foregoing right includes the right to show the Apple Font in screen shots, images, mock-u

[2018-07-08 09:38] dickolsson commented on #3931
Picking up on more people having issues with this:

https://twitter.com/vietlq/status/1015565874542141441?s=21

https://twitter.com/logonaut/status/1015611164544335875?s=21

[2018-07-08 15:08] vkjr commented on #4860
@EugeOrtiz, have no idea :)

[2018-07-08 15:16] vkjr commented on #4438
@siphiuel, should be unblocked now.

[2018-07-08 21:05] juliomvr opened #5095 "Invalid Error message on offline transaction"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to see the correct error message, not an error message that may confuse me or don't understand.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to hap

[2018-07-09 07:03] churik commented on #4249
@MaxRis so the problem is not in react-native side?

[2018-07-09 07:36] maxhora commented on #4249
@churik I haven't yet checked exactly this issue, but it seems that after recent change in react-native-desktop headers started working better/differently at least for me :)

[2018-07-09 08:58] #5060 closed, assigned to nobody

[2018-07-09 09:18] churik commented on #4992
Yes, it is in #4908  PR.

[2018-07-09 09:59] lukaszfryc opened #5097 "Clicking "return" on device keyboard sends the message"
### Description

*Type*: Bug

*Summary*: Pressing "return" on keyboard adds new line but also sends the current message. It happens for both Android and iOS. You can replicate it by opening a chat (e.g. 1:1 chat) typing one line of message and pressing "return" keyboard button.

#### Expected behavior
"return" should add new line but do not send the message.

#### Actual behavior
"return" adds new

[2018-07-09 09:59] lukaszfryc commented on #5097
This was introduced in https://github.com/status-im/status-react/pull/5005

[2018-07-09 10:11] churik opened #5098 "No padding in Profile when username>~30 chars"
### Description

*Type*: Bug
*Summary*: when username contains several words or username is long (around or more 30 chars),it is displayed without padding and text doesn't wrap by words

#### Expected behavior
1) center align
2) padding (same as for Log Out)
3) ... if name is more than 3 rows

#### Actual behavior
![monosnap 2018-07-09 12-58-32](https://user-images.githubusercontent.com/4557972/42

[2018-07-09 10:13] churik commented on #5098
@EugeOrtiz would you mind providing examples of how it should be when the username is long and contains several or one words?

[2018-07-09 10:34] churik opened #5099 ""Share my contact code" should be displayed in popup"
### Description
_Type_: Feature

_Summary_: according to "Share QR code" designs (zpl.io/25qZqB3, zpl.io/bAqjqPO, zpl.io/VxY83em) qr-code is located in separate popup window.
It was blocked due to status-im/react-native-desktop#258 (should be unblocked now)

#### Expected behavior
![image](https://user-images.githubusercontent.com/4557972/42445114-c3ebec58-837a-11e8-9076-4b0b33a2591e.png)

#### Ac

[2018-07-09 10:47] #4992 closed, assigned to vitvly

[2018-07-09 10:47] #4438 closed, assigned to vitvly

[2018-07-09 11:01] annadanchenko commented on #5093
@denis-sharypin @andmironov was there special intention to not show Other accounts or we should consider it as a bug?

[2018-07-09 11:54] denis-sharypin commented on #5093
@annadanchenko  no there is no special intention regarding this. Let's fix it! Thanks, good catch! @juliomvr

[2018-07-09 12:17] Serhy opened #5100 "Offline inboxing doesn't work under Mailservers A, B and C with the Ropsten network"
***Type***: Bug

*Summary*: Users connected to any of `Status Mailservers A`, `Status Mailservers B` or `Status Mailservers C` with the **Ropsten** network keep getting 'Failed to connect to mailserver. Tap to reconnect'. Offline inbox for this settings doesn't work.

Note: it's all **fine on Mainnet** for any mailserver (including A B and C), but fails for Ropsten. Node version for app build is a

[2018-07-09 12:20] annadanchenko commented on #5091
@juliomvr can you provide exact passphrase in both formats and screenshots or video for the issue, please? So, it's visible that there are no typos in the passphrase used and what is the contact code for recovered account.

I tried to reproduce it on version 0.9.21 (6130) version on Samsung Galaxy S6, Android 6.0.1 and got same account recovered for both formats. For both recovered accounts public

[2018-07-09 12:23] annadanchenko commented on #5059
Not a bug because minimal supported Android version is Android 6.0
see https://github.com/status-im/status-react/issues/4651

[2018-07-09 12:23] #5059 closed, assigned to nobody

[2018-07-09 13:14] churik commented on #4249
It is still trimmed to shortest channel name in the list (for example if you are switching between #tchu channel and 'Testing IOS recover' 1-1 chat, chat header for 1-1 becomes 'Testin')
![reco](https://user-images.githubusercontent.com/4557972/42452562-0e70bc1e-8393-11e8-9d6c-cfaee7a5134b.png)

Build: [build_15](https://jenkins.status.im/job/status-react/job/desktop/job/manual/15/)
Video: [header

[2018-07-09 13:35] churik opened #5103 "Apply design for selectable text"
### Description
*Type*: Feature

*Summary*: apply design from zpl.io/V18jyew (Zeplin), when user selects some part of message to copy it.

#### Expected behavior
<img width="719" alt="captura de pantalla 2018-07-07 a la s 4 59 21 p m" src="https://user-images.githubusercontent.com/37297779/42414232-1f332ccc-8207-11e8-9336-bb36e3bbcb90.png">

#### Actual behavior
![too contr](https://user-images.gi

[2018-07-09 13:49] rcullito commented on #4860
@EugeOrtiz Ubuntu has its own font https://en.wikipedia.org/wiki/Ubuntu_(typeface), and then I think beyond that it's pretty scattered! Roboto appears to work ok as the default (which is what was already in place to use as the app font)

<blockquote><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Ubuntu.svg/1200px-Ubuntu.svg.png" width="48" align="right"><div><strong><a href="h

[2018-07-09 14:30] vitvly opened #5104 "Layout issues in chat list during frequent updates"
**Description**:
The problem is reproduced when adding new public channels. Once public channel data start arriving, last message content/timestamp UI elements update frequently, and at some point the layout becomes broken (note timestamp label shifted to the left in the video). However, if user switches tabs and goes back again, the problem disappears.

Related to issue #14 in https://github.com/

[2018-07-09 14:30] churik opened #5105 "Long message is not scrolling automatically when you select text"
### Description
*Type*: Bug

*Summary*:  when you are trying to copy part of the text of long message, which should be scrolled automatically, it is not scrolled so you cannot see part of the selected text (overlapped by input field)

#### Expected behavior
the message is automatically scrolled, all selected rows are visible

#### Actual behavior
![copy](https://user-images.githubusercontent.com/4

[2018-07-09 15:05] luigar opened #5106 "Invalid Name used in 1-1 Chat after starting chat reading Contact Code Image"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:   2 Accounts were created on real devices.
a)
Status version: 0.9.21
Op

[2018-07-09 15:12] EugeOrtiz commented on #5098
Yes, here it is >> zpl.io/2vY99kP (Zeplin):

<img width="918" alt="captura de pantalla 2018-07-09 a la s 12 15 32 p m" src="https://user-images.githubusercontent.com/37297779/42459313-ceef7dee-8371-11e8-9e70-92fe4c05f996.png">

[2018-07-09 15:29] cammellos commented on #5106
@luigar Thanks for opening the issue.

If I understand correctly account `A` never added the contact back, is that correct?

We only share contact information in 2 cases:

1) `A` starts chatting with `B` , in that case `A` information is shared with `B`, but **not the other way around** . This is to preserve privacy of `B`, who has never acknowledge to share information.

2) `A` adds `B` as a cont

[2018-07-09 15:30] luigar opened #5107 "Joining a Group Chat Brought history from before the user entered it."
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:   2 Accounts were used on real devices, for comparison.
a)
Status versi

[2018-07-09 15:32] annadanchenko commented on #5107
it's expected that user will get public chat history if any. In 0.9.21 it's 7 day's history, in 0.9.22 it's 1 day history (last 24 hours)

[2018-07-09 15:32] #5107 closed, assigned to nobody

[2018-07-09 15:43] luigar commented on #5106
That is correct A never added the contact back.

Only B added A by reading the code image, And B Spoke to A but A did not write back will validate that point.
But checking A's Chats there is/was no link to "Add to contacts"

[2018-07-09 15:50] cammellos commented on #5106
Just to make sure:
1) If you open on A's phone the 1-to-1 chat with B you don't see `Add to contacts`? Could you send me a screenshot of that chat + a screenshot of `B`'s profile from phone `A`?

Also replying to a message does not disclose your info, only starting a chat does.
Thank you!

[2018-07-09 15:58] EugeOrtiz commented on #4860
@rcullito Hmm yes, Ubuntu doesn't look good for this. Arial should be OK too. Can we have two screenshots of how Roboto and Arial look like in comparison? Thanks!

[2018-07-09 16:00] rcullito commented on #4860
@EugeOrtiz sure! Arial should work fine. Most of the sytem-wide fonts tend to be on there. I'll upload here :+1:

[2018-07-09 16:11] antdude commented on #5059
Thanks.

[2018-07-09 16:20] juliomvr commented on #5091
Hello  @annadanchenko ,

I retested this again and now realized I had a mistake during the issue report,  after doing the recovery instead of checking the contact code what I checked was the wallet funds and saw my total funds were USD$0 but the thing is I forgot to switch to Ropsten network, now I did and my funds are there.

In conclusion, there is no issue, sorry

[2018-07-09 16:26] luigar commented on #5106
After verifying on Chat A there is a Link to Add to Contacts seems that the times i verified it coincided with "fetching" or "connecting" i get these messages very often.

This might be a good update to make it more visible and less hidden behind certain popups.

![screenshot_20180709-122423](https://user-images.githubusercontent.com/1890179/42463058-eba9a6de-8359-11e8-8b7e-0acef55b24fd.png)

[2018-07-09 16:27] chadyj commented on #3931
Also seeing a few bug reports for this too.

[2018-07-09 16:40] EugeOrtiz commented on #5103
This should also happen in these cases:

1. Messages (this issue already described above)
2. Sharing contact code  (**High prio**)
3. User profile card - Contact code
4. When writing a message
5. New public chat - Input field
6. New 1:1 chat - Input field

![text selection cases](https://user-images.githubusercontent.com/37297779/42463769-73c8e9da-837d-11e8-9196-1ee708c9b6ad.png)

As a general rul

[2018-07-09 16:44] EugeOrtiz commented on #4839
I'm moving this back to non-high-priority column since the high prio item in the list was already covered.

[2018-07-09 16:45] EugeOrtiz commented on #4881
@churik should we move this to non-P0 column?

[2018-07-09 16:45] rcullito commented on #4860
cc @EugeOrtiz

Some of the fonts are styled inline, so the ones that change here are the lines starting with:
"Status is an open source..."
and
"Status is built with..."

Hope this helps!

## Arial

![arial](https://user-images.githubusercontent.com/909156/42464061-ecf69b3e-8375-11e8-9222-cbeaf0c91056.png)

## Helvetica

![helvetica](https://user-images.githubusercontent.com/909156/42464065-f01902

[2018-07-09 16:57] pablanopete commented on #4066
Is this one still relevant @denis-sharypin or @jeluard  ? Working on old bounties / revoking those that don't make sense any longer.

[2018-07-09 17:04] flexsurfer commented on #4066
hey @pablanopete not relevant anymore

[2018-07-09 17:31] annadanchenko commented on #5091
ok, thank you for rechecking it :) I'm closing the issue then

[2018-07-09 17:31] #5091 closed, assigned to nobody

[2018-07-10 08:01] #5097 closed, assigned to janherich

[2018-07-10 08:06] #4820 closed, assigned to janherich

[2018-07-10 08:34] rasom commented on #3931
hm, i can't reproduce this on iphone X

[2018-07-10 08:47] #4662 closed, assigned to mandrigin

[2018-07-10 08:53] churik opened #5112 "Cannot quickly switch between chats (TouchableHighlight is working slowly)"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to switch between chats without lags or hangs

### Description

*Type*: Bug

*Summary*: when user has several chats, especially with a long history (like #status), during switching application can hang

#### Expected behavior
I can switch between chats

#### Actual behavior
I cannot switch be

[2018-07-10 08:54] vkjr commented on #5112
@siphiuel, could you please specify, what issue in `react-native-desktop` impacts this? Thanks.

[2018-07-10 09:08] churik opened #5113 "Public chat name is cut when it is selected"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: current chat name is cut even there is enough space to display it fully

#### Expected behavior
full chat name (i.e. #ethereum)

#### Actual behavior
last char is cut ( #ethereu)
![wrchatna

[2018-07-10 09:16] vitvly commented on #5112
@vkjr There is no issue yet.

The problem is either that:
  - TouchableHighlight components wrapping chat list items do not respond to onPress events at all in some cases (then this is definitely RN-related)
  - and/or it could be that chat content loads slowly enough for the process to be perceived to the user (in this case I think it would be nice to provide some kind of spinner to the user, lik

[2018-07-10 09:18] vitvly commented on #5112
Watched the attached video again. Seems that it is the first problem from the list above, as even smaller chats are not clickable.

[2018-07-10 09:23] vitvly opened #5115 "Timestamp layout issues"
**Description**:
When loading a public chat with some history, latest message timestamp in chat list becomes offset to the right. The issue disappears when e.g. user moves to Profile tab and then back to Home tab.

Attachment: https://monosnap.com/file/EGYMCZ6ELN2n9FDYYvJKfs6bjypSYV

<blockquote><img src="https://api.monosnap.com/rpc/file/download?id=EGYMCZ6ELN2n9FDYYvJKfs6bjypSYV&type=preview" wi

[2018-07-10 09:26] #5115 closed, assigned to nobody

[2018-07-10 09:45] churik opened #5117 "No validation message if you are trying to add invalid contact code or Join public chat with invalid name"
### User Story

As a user, I want to see what I did wrong if I entered invalid chat name or contact code

### Description

*Type*: Feature

*Summary*: I want to see button enabled (if I insert invalid contact code in "New Chat" or set the wrong topic in "Join Public Chat"( i.e., #1234)) and after clicking - corresponding validation error, like in mobile client.

#### Expected behavior
*Design:* zp

[2018-07-10 09:54] churik opened #5118 "Design issues for New Chat and Join public chats"
Posted by @EugeOrtiz:
**GENERAL**
- [ ] There is an extra grey line below the input fields titles. (Mid prio)
<img width="565" alt="captura de pantalla 2018-06-21 a la s 9 28 15 a m" src="https://user-images.githubusercontent.com/37297779/41719209-c43e01d0-7535-11e8-8e53-156f1ee77b74.png">

- [ ] Review color of “0x…” placeholder (it has low contrast now). (Mid prio)
- [ ] Enabled main button shou

[2018-07-10 10:33] #4250 closed, assigned to vitvly

[2018-07-10 10:33] #4281 closed, assigned to vitvly

[2018-07-10 10:34] #5070 closed, assigned to nobody

[2018-07-10 11:48] chadyj commented on #3931
Thank you @dickolsson and @heyhaigh for the bug report. We are looking into this.

[2018-07-10 12:23] annadanchenko commented on #3931
Can reproduce issue from https://github.com/status-im/status-react/issues/3931#issuecomment-402523894 on real iPhone 6s, iOS 11.4.1 and real iPhone 5s, iOS 11.4.
Can't reproduce issue for the same steps (see below) on real iPhone 7 plus, iOS 11.4 step 15 from list below works fine
Used last nightly build from  https://i.diawi.com/6EsmgH (Updated: 2018/07/10 03:36:11 UTC)

Steps:
1. in the Notes ap

[2018-07-10 13:06] Serhy opened #5120 ""BigNumber error: div() nut a number: null" navigating to Asset list having collectible"
***Type***: Bug

***Summary***: `BigNumber error: div() nut a number: null` appears followed by the app crash when contact with enabled collectable asset navigates to `Wallet` -> `Send transaction` -> `Asset` screen

#### Expected behavior
Only ERC20 tokens (with ETH) are displayed on `Wallet` -> `Send transaction` -> `Asset` even if contact enabled collectibles (CryptoKitty/CryptoStriker/Etheremo

[2018-07-10 13:35] chadyj commented on #4938
cc @obi2020

[2018-07-10 13:36] chadyj commented on #5088
Comment from Slack:

[2018-07-10 15:31] jakubgs commented on #2566
I'm closing this since I consider this handled by the read-only access to the Blue Ocean UI.

[2018-07-10 15:31] #2566 closed, assigned to nobody

[2018-07-10 15:51] dmitryn opened #5124 "Detect right-to-left text direction"
### User Story
As a developer I want to know when text is going to be displayed right-to-left so that i could adjust views and styles to display that properly.

### Description
For Arabic, Hebrew and other right-to-left languages React Native aligns text to the right. That is breaking layout for chat messages.

As a quickfix we're using regexp to detect most of right-to-left languages, but this me

[2018-07-10 16:21] pedropombeiro opened #5127 "Remove our app from automatic backups"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want my app data to stay locally on my device and not get synced to Google or Apple so that I stay in control of my data.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did

[2018-07-11 02:22] yenda opened #5130 "Fix mailserver connection problem UX"
# Problems

When a mailserver is down and was randomly selected by the app at startup, one need to restart the app or select another mailserver manually in the settings.
A server can be down because it has been blocked, we stopped it, it doesn't have any free slot for connection.

# Implementation

The app should try to connect to another mailserver if the one that was picked doesn't work, unless

[2018-07-11 07:24] #4970 closed, assigned to rcullito

[2018-07-11 07:49] churik commented on #4435
According to #4436  it is blocked by  status-im/react-native-desktop#256

[2018-07-11 07:52] annadanchenko opened #5131 "`Error: Doesn't support name` if open Send transaction from Dapp and then go to Wallet for 1st time"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "Error: Doesn't support name" if open Send Transaction screen from Dapp then open Wallet for 1st time.

#### Expected behavior
[comment]: # (Des

[2018-07-11 08:20] #3732 closed, assigned to nobody

[2018-07-11 08:57] rachelhamlin opened #5132 "Add DApps"
### User Story

As a user, I want to see an updated DApp list in the new release, so that I have more options to explore.

### Description

*Type*: Feature

*Summary*:

Add DApps highlighted in green from July 11 section of this [this spreadsheet](https://docs.google.com/spreadsheets/d/1BLAcybCxF9z9huYxxHu2xctFYahs2T24bdPqWomPZXk/edit#gid=0).

New additions for 0.9.23:

- [DDEX](https://ddex.io/)

[2018-07-11 09:36] #5047 closed, assigned to rasom

[2018-07-11 09:37] #4931 closed, assigned to rasom

[2018-07-11 10:17] #5120 closed, assigned to goranjovic

[2018-07-11 11:13] #3931 closed, assigned to rasom

[2018-07-11 12:11] churik opened #5135 "No proper error if access to Keychain is denied"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to see why I cannot use application and how to fix it.

### Description

*Type*: Bug

*Summary*:
user is asked twice if he chooses "Deny" when keychain access is required, and after reopening app he eventually he got an error `'encryptionKey must be of type 'binary', got (null)`

#### Expecte

[2018-07-11 12:30] churik opened #5136 "Chat history is not displayed for selected chat if you are switching from "Profile""
### Description

*Type*: Bug

*Summary*: if you switch to profile tab from Home, where you have opened 1-1 or public chat, when you click to "Home" again - no history is shown, you should select chat one more time to see messages.

#### Expected behavior
history is visible for selected chat

#### Actual behavior
![chatarea](https://user-images.githubusercontent.com/4557972/42571063-a563521c-851e-1

[2018-07-11 14:02] annadanchenko commented on #3931
@heyhaigh  @dickolsson fix should be available in the next release 0.9.23

[2018-07-11 14:46] dmitryn opened #5138 "Perform periodic transaction state updates"
### Description

After transaction message has been sent/received (with /send command) we need to periodically fetch transactions data (using etherscan API) to display transaction state to the user.

Now we run transactions state update after certain events like transaction message sent/received, user opens Wallet or user taps on chat message with transaction. If user doesn't perform any of these

[2018-07-11 14:53] lukaszfryc opened #5139 ""div() not a number" error when selecting token in send transaction screen"
### Description

*Type*: Bug

*Summary*: If some collectible (like Cryptokitty) is selected in managed assets and user selects an asset in send transaction, the error appears. The app needs to be killed to work again.

<img src="https://user-images.githubusercontent.com/7532782/42580289-7714edba-852a-11e8-9ac0-323e1509229b.png" width="200">

### Reproduction

- Go to Wallet
- Open Manage Assets fr

[2018-07-11 14:55] churik opened #5140 "Make application version more informative"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a QA/developer, I want to know what exact version of app I used to make sure I installed build with right changes.

### Description

*Type*: Feature
*Summary*:
For now, version for desktop is the same through different PRs (V0.0.1) and it is not associated with Jenkins build (it is just read from a file).

[2018-07-11 15:16] trowacat commented on #5139
Hi @lukaszfryc , I've investigated how to reproduce this error. In order for this to happen (on all devices I've tested so far) you must have selected one of the cryptocollectibles to be selected in your managed assets. (you don't need to have any, it just needs to show up on the wallet screen). Afterwards, this error comes up when selecting the type of currency to send.

Once the collectible is r

[2018-07-11 15:25] #5000 closed, assigned to cammellos

[2018-07-11 15:30] #4998 closed, assigned to cammellos

[2018-07-11 16:14] #4920 closed, assigned to dmitryn

[2018-07-11 16:24] cammellos opened #5141 "Disable automatic backups in Android/IOS"
### User Story

As a user
I don't want to have backups enabled by default
As I don't want to store confidential data on third party servers

### Description

In Android automatic backups are enabled in `Manifest.xml`, while in IOS we store data under `Documents`, which is automatically backed up.
To have perfect forward secrecy these need to be disabled, as otherwise we would sent data through the

[2018-07-11 18:27] chadyj commented on #4932
More info on the privacy policy >>> https://discuss.status.im/t/mobile-app-privacy-policy/190

<blockquote><img src="https://discuss.status.im/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" width="48" align="right"><div><img src="/uploads/default/original/1X/8c298ce8e38884365c17cdf0afea1ae108e992f9.png" height="14"> Status.im</div><div><strong><a href="https://discuss.st

[2018-07-11 19:03] dickolsson commented on #3931
@annadanchenko Thanks a ton!

[2018-07-11 19:09] the-frey commented on #4600
@georgiemathews are you on OSX?

[2018-07-12 01:19] juliomvr opened #5146 "Status Console invalid error messages"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user and/or developer, I want to see a correct error message when using the Status Console.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what ac

[2018-07-12 02:18] kennytilton commented on #3604
Which of N duplicates should be shown, the most recent or the oldest?

[2018-07-12 07:22] #5141 closed, assigned to cammellos

[2018-07-12 07:30] churik opened #5147 "Custom contact picture and username are not updated after adding user as contact (Public chat, 1-1 chat header)"
### Description

*Type*: Bug

*Summary*:
contact picture (custom) is not updated after user added you to his contacts in Public Chat, as well as chat header is not updated in 1-1 chat

#### Expected behavior
7) 1-1 chat: chat header is updated;
8) Public chat: can see custom user photo;

#### Actual behavior
7) 1-1 chat: chat header is not updated;
![custname](https://user-images.githubusercontent

[2018-07-12 07:33] lukaszfryc commented on #5139
@trowacat thanks so much for steps to reproduce! It happens on my side as well.

[2018-07-12 07:39] churik commented on #4995
Cannot reproduce after merging #4752

[2018-07-12 07:39] #4995 closed, assigned to nobody

[2018-07-12 07:48] lukaszfryc opened #5148 "Add Augur dapp"
### Description

*Type*: Feature

*Summary*: Add Augur to dapp list. Make sure it's usable.

### Reproduction

- Open Status
- Click new chat button
- Open DApps and select Augur

### Additional Information
* Operating System: Android, iOS

[2018-07-12 07:55] lukaszfryc commented on #5139
This is already fixed by https://github.com/status-im/status-react/pull/5121 and will be included in next release.

[2018-07-12 07:55] #5139 closed, assigned to nobody

[2018-07-12 08:16] churik opened #5150 "User picture is displayed for every message in public chat"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: user picture is shown for each message when user send to public chat several messages in a row
* NOTE:  issue can be replicated only on current chat, so if you open channel with unread messages - only one user picture is displayed (as expected)

#### Expected behavior
one picture is displayed for all messages

###

[2018-07-12 08:18] churik commented on #4266
Fixed in #4752

[2018-07-12 09:33] #4944 closed, assigned to cammellos

[2018-07-12 09:39] #4301 closed, assigned to dmitryn

[2018-07-12 09:50] #4073 closed, assigned to dmitryn

[2018-07-12 09:59] #4767 closed, assigned to nobody

[2018-07-12 10:10] churik opened #5151 "Resizing application window issues"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to work with application regardless of the app window size.

### Description
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  several issues can be

[2018-07-12 12:04] #5078 closed, assigned to flexsurfer

[2018-07-12 12:50] vitvly commented on #4275
Above issue #278 is fixed. However, there is an issue with onPress handlers not firing for nested `<Text>` components: https://github.com/status-im/react-native-desktop/issues/290.

[2018-07-12 12:52] yevh-berdnyk opened #5152 "TestFairy warning appears after each logout"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: TestFairy warning is shown each time when a user performs logout

#### Expected behavior
TestFairy warning is not shown

#### Actual behavior
TestFairy warning is not shown

### Reproductio

[2018-07-12 15:01] EugeOrtiz commented on #4875
@churik I'll restore the previous title since bottom nav is already implemented and this list are just fixes  (not a screen per se).

[2018-07-12 15:04] churik commented on #4875
@EugeOrtiz Ok, thanks

[2018-07-12 16:59] Serhy opened #5154 "Disable default autocapitalise in password input when sign in transactions"
***Type***: Bug

***Summary***: When autopitalised setting is 'ON' on Android - we apply it to password input field when Sign in Transactions. Any other password fields (and passphrase as well where we even de-capitalise the input value) has disabled auto-capitalize. Lets make the same on password field on sign in password input as well.
(Users are also asking about that in <a href="https://dashbo

[2018-07-12 17:47] Serhy opened #5155 "'Unknown token' on attempt to send/request tokens in 1-1 chat (which are enabled in wallet)"
***Type***: Bug

***Summary***: On attempt to send or request any token (enabled in Wallet) in 1-1 chat there an `Invalid asset`+`Unknown token - [token]` error displays giving no way to send/request tokens in 1-1 chat.

#### Expected behavior
Able to send or request tokens in 1-1 chat

#### Actual behavior
`Unknown token - [token]` error on attempt to send or request token in 1-1 chat (including

[2018-07-12 18:22] #3131 closed, assigned to flexsurfer

[2018-07-12 19:24] EugeOrtiz commented on #5103
[UPDATE] It looks even weirder now (dark highlight over black text):

<img width="307" alt="captura de pantalla 2018-07-12 a la s 4 23 32 p m" src="https://user-images.githubusercontent.com/37297779/42654719-fa32bbe4-85ef-11e8-971e-68d1663b085c.png">

[2018-07-12 19:38] EugeOrtiz opened #5156 "Wrong value (1) is shown for unread messages counter if user has 9+ unread messages"
**Description**
Type: Bug.

Summary: When the user receives more than 9 unread messages, the unread messages badge shows "1" instead of "9+".

**Expected behavior**
Show "9+" badge when the user receives more than 9 unread messages.

Design >> zpl.io/V0ypA59 (Zeplin):
<img width="338" alt="captura de pantalla 2018-07-12 a la s 4 48 29 p m" src="https://user-images.githubusercontent.com/37297779/42

[2018-07-12 21:09] EugeOrtiz opened #5157 "Same contact/chat is showing different names"
**Type**: Bug
**Summary**: Username on the left panel is different from the name on chat's top header:

<img width="1429" alt="captura de pantalla 2018-07-12 a la s 6 12 48 p m" src="https://user-images.githubusercontent.com/37297779/42659744-8ee8b536-85ff-11e8-8010-38c2223589a2.png">

**Current behavior**
Left panel is showing the contact name, but a random name is shown on the chat's top header.

[2018-07-12 22:42] yevh-berdnyk commented on #4835
Looks like the issue not only a visual defect. It's not possible to paste a password from clipboard after entering wrong password.

Steps:

- Enter or paste wrong password
- Click Sign transaction button
- Erase password
- Long tap on the enter password input

After that paste pop up is not shown

[2018-07-13 02:25] pablanopete commented on #5148
Does augur have a web view ĐApp?

[2018-07-13 05:17] #4854 closed, assigned to goranjovic

[2018-07-13 07:02] rachelhamlin opened #5162 "No results displayed in Etheroll"
### User Story

As a user, I want to see results in Etheroll.

### Description

*Type*: Bug

*Summary*: On the [Etheroll results page](https://etheroll.com/#/results), I should see a populated list under "All results."

On Status, it displays 0.

#### Expected behavior
Etheroll results page displays 100+ results.

<img src="https://user-images.githubusercontent.com/15470435/42677166-da166cd8-8672-

[2018-07-13 07:13] churik commented on #5157
It is duplicate of https://github.com/status-im/status-react/issues/5147

[2018-07-13 07:13] #5157 closed, assigned to rcullito, churik

[2018-07-13 07:13] lukaszfryc commented on #5148
That's a good question. We've had Augur in our dapp list some time ago so I assume it had web client back then (https://github.com/status-im/status-react/issues/3240). But, looking at https://www.augur.net/get-started/ now I see only desktop client. So, if there is no existing web client we should probably close this issue. Please correct me if I'm wrong.

<blockquote><img src="https://augur.net/d

[2018-07-13 07:39] churik commented on #5156
@EugeOrtiz thanks for reporting!

[2018-07-13 08:06] #5127 closed, assigned to cammellos

[2018-07-13 08:24] #5155 closed, assigned to goranjovic

[2018-07-13 08:24] hesterbruikman commented on #4854
Really happy this has been updated. It's a lot more explanatory and in line with what other apps are doing. An alternative we may consider in the future is _'Access phrase'_. Now that wallets are more interoperable I do believe this is more accurate and can be used in both accessing a previously created Status account and an existing compatible wallet.

_'Access'_ implies that the wallet remains a

[2018-07-13 08:47] rachelhamlin commented on #5148
Yeah, let's close. We also have #5132 - you can update that with any other DApps that should be added as well.

[2018-07-13 08:47] #5148 closed, assigned to nobody

[2018-07-13 09:29] churik commented on #4835
@yevh-berdnyk is it not this one? https://github.com/status-im/status-react/issues/4952

[2018-07-13 09:47] chadyj opened #5164 "Remove refCode from `invite friends` link"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I don't want to inadvertently share my wallet address so that I can preserve my privacy.

### Description

Within the "+" menu Status has an option to Invite Friends that invokes the system share sheet which sends a link to Status. The link contains a refCode that doesn't have any functionality and

[2018-07-13 10:23] annadanchenko commented on #5146
duplicate of https://github.com/status-im/status-react/issues/2622

[2018-07-13 10:23] #5146 closed, assigned to nobody

[2018-07-13 10:47] jakubgs commented on #5100
The servers for both networks - Ropsten and Mainnet - Are exactly the same, use the same ports and the same enode addresses. The fact that the latter works while the former doesn't indicates to me that the issues is not with the infrastructure but rather with implementation of either `status-go` or `status-react`.

[2018-07-13 11:15] yevh-berdnyk commented on #4835
@churik I think no because it's possible to enter new password if not hiding a keyboard but it's not possible to paste it anyway.
But they are relative for sure

[2018-07-13 11:31] jakubgs commented on #5100
Oh wait, no, the update done in https://github.com/status-im/status-react/commit/96628caa9ede2f9eca8405b84c792f3134245833 did not include a fix for the `testnet`, since it's the same fleet! I'll make a PR.

[2018-07-13 11:35] jakubgs commented on #5100
Here you go: https://github.com/status-im/status-react/pull/5167

[2018-07-13 11:54] chadyj opened #5169 "Remove Mixpanel"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

To ensure Status complies with our values we should remove Mixpanel.

See https://discuss.status.im/t/replacing-mixpanel-a-short-term-brainstorm/149/1 for the background.

This includes the event code that posts to Mixpanel, and the onboarding and settings screens.

#### Expected behavior
No data sent to Mixp

[2018-07-13 12:04] errorists commented on #3918
The button is unnecessary, all we need is a well-worded placeholder. Hey @obi2020 , could you draft us a placeholder text for an empty list with no contacts available, also should we instruct on how to add people in 1:1 chats?

[2018-07-13 12:22] hesterbruikman commented on #3918
For context: the screen might hold contacts as well as DApps and websites the user has visited. It's more like a 'recent activity'/Homescreen at the moment. An ongoing conversation on the distinction between DApps, private-, public-, group- chats here: https://status-im.slack.com/archives/G90BT4EEQ/p1531408290000290

<blockquote><img src="https://cfr.slack-edge.com/436da/marketing/img/meta/favicon

[2018-07-13 12:32] lukaszfryc commented on #4354
I've just experienced a crash when logging in to a custom network. Steps I did:
1. I created custom network on mainnet
2. I switched to the network and was logged out
3. The app crashed while I was trying to log in again

I can't replicate it now.

Notes:
- Galaxy S8, Android 7.1
- e9fcba0, nightly 13
- Crash log
[code]

[2018-07-13 12:38] lukaszfryc opened #5170 "Crash when switching from custom network to some other network"
### Description

*Type*: Bug

*Summary*: I add a custome network (mainnet) and switch to it. Then, when I try to switch back to Ropsten or Mainnet the iOS app crashes. Everything works fine when app is opened again. I can log in. Also, the issue does not happen on Android.

[code]

### Reproduction

- Open Status
- Go to profile and add custom network like "https://mainnet.infura.io/z6GCTmjdP3FETE

[2018-07-13 13:05] #4824 closed, assigned to nobody

[2018-07-13 13:57] yevh-berdnyk opened #5171 "Error about too precise amount is not shown when requesting an asset from wallet with more than allowed decimals"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When requesting tokens from wallet and setting an amount with more than

[2018-07-13 14:10] #4276 closed, assigned to rcullito

[2018-07-13 14:13] #4266 closed, assigned to nobody

[2018-07-13 14:22] churik commented on #4280
Moved to #5012

[2018-07-13 14:22] #4280 closed, assigned to nobody

[2018-07-13 14:23] churik commented on #4689
Not relevant (confirmed by @siphiuel )

[2018-07-13 14:23] #4689 closed, assigned to vitvly

[2018-07-13 14:46] churik opened #5172 "Implement Advanced Settings (Mailserver switching)"
### Description

*Type*: Feature

*Summary*: user should be able to switch between mailservers.

#### Expected behavior
Design is [here](zpl.io/agveN81)
![image](https://user-images.githubusercontent.com/4557972/42697717-8fb0c3f8-86c4-11e8-9f84-07fe5d18d1ab.png)

#### Actual behavior
No advanced settings in Profile

[2018-07-13 14:51] churik commented on #4735
Closed in #5145

[2018-07-13 14:51] #4735 closed, assigned to nobody

[2018-07-13 15:04] #3226 closed, assigned to nobody

[2018-07-15 13:40] #4795 closed, assigned to nobody

[2018-07-16 06:56] #4938 closed, assigned to nobody

[2018-07-16 08:23] errorists commented on #5043
What we could do is create an exception that if you swipe a cell that is partially covered by a FAB, the FAB would move its position 1:1 along with the cell (animate it on a X axis). But a better alternative would be to change the swipe mechanism so that instead of tapping the uncovered button to delete, you'd only have to swipe for a set minimum distance: after you'd swiped for say 60 points we'd

[2018-07-16 08:27] annadanchenko commented on #3413
same for me on PR build https://github.com/status-im/status-react/pull/5087#issuecomment-404797358
1. create new account and log out
2. recover account with funds in it
3. open wallet
4. scan qr for recipient address -> crash

real iPhone 6s, iOS 11.4.1
https://app.testfairy.com/projects/4803590-status/builds/8524280/sessions/4396437389/?accessToken=bNE1VshU7NX1lrIqoZ5U7V4aj8c

<blockquote><div><s

[2018-07-16 08:29] lukaszfryc opened #5179 "Show fiat value in transaction details"
### Description

*Type*: Feature

*Summary*: We could show USD (or other currency) value of transaction and transaction cost in Transaction Details screen:

<img src="https://user-images.githubusercontent.com/7532782/42748987-6e309b7a-88e2-11e8-80b2-77fd6ba3109b.png" width="200">

Which is how how a transaction is shown on Etherscan:

<img src="https://user-images.githubusercontent.com/7532782/427

[2018-07-16 08:30] lukaszfryc commented on #5179
This improvement was suggested by @naghdy on [Instabug](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/390).

[2018-07-16 08:41] cammellos opened #5180 "Encrypt account realm with user password"
### User Story

As a user
I want to have each user account encrypted with a different key based on the user password
So that an attacker breaking the keychain will not be able to decrypt my data

### Description

At the moment we encrypt the database on disk using only the keychain.
User data can be also encrypted with both the keychain and the user password (generating a key from both), so that c

[2018-07-16 08:53] lukaszfryc commented on #4367
@chad is multi-device support something we want to support in Status 1.0? If yes, can we add it to the milestone?

[2018-07-16 08:54] lukaszfryc commented on #4367
@churik I suppose we should have similar support while simultaneously signed in mobile and desktop app. When is the 1st version of the desktop app coming?

[2018-07-16 09:38] #4681 closed, assigned to nobody

[2018-07-16 09:51] jeluard commented on #3604
@kennytilton Does that make a concrete difference? I would go with last one.

[2018-07-16 09:56] jeluard commented on #3604
Oh I think I got your point. We should definitely keep the most recent one (higher in the list)

[2018-07-16 10:02] kennytilton commented on #3604
Thanks, I should have made clearer the consequence I saw, viz., the list is sorted to show most recent first, so taking the most recent maps to that ordering better, otherwise an entry moves to the bottom.

[2018-07-16 10:20] lukaszfryc opened #5182 "Show gas limit and nonce without waiting for confirmations"
### Description

*Type*: Feature

*Summary*: Gas limit and nonce are signed in transaction and there is no need to wait for confirmations to show them. They can be shown right after transaction is created.

<img src="https://user-images.githubusercontent.com/7532782/42753713-0d19707c-88f2-11e8-8324-32c71354c9b9.png" width="200">

#### Expected behavior
Gas limit and nonce are shown even though the

[2018-07-16 10:21] lukaszfryc commented on #5182
How about "Data" field. I assume it also can be shown immediately since transaction data is known (0x for value transfer).

[2018-07-16 10:29] lukaszfryc commented on #4608
Btw, Telegram has really a nice interaction for replying to a message. User can reply to any message by swiping it to the left:

<img src="https://user-images.githubusercontent.com/7532782/42754124-9098235c-88f3-11e8-9b4d-4ce6c86cd3cd.png" width="200">

The reply is quoted and generates a notification.

We can start with this if we don't want to implement threads. Such quoting is definitely good e

[2018-07-16 10:32] lukaszfryc opened #5183 "Allow to use camera front and back cameras while taking profile picture"
### Description

*Type*: Feature

*Summary*: Currently, user can only take a profile picture using front-facing camera. We should allow for flipping the camera to use both front and back cameras.

### Reproduction

- Open Status
- Go to Profile
- Press Edit, tap on the profile picture and select camera

### Additional Information
* Status version: 0.9.22
* Operating System: Android, iOS

[2018-07-16 10:39] churik opened #5184 "Add possibility to navigate to user profile from public chat and go back"
### User Story

As a user, I want to initiate chat  with public chat participants

### Description

*Type*: Feature
*Summary*: user should be able to open profile public chat member by clicking on his profile picture and go back.

#### How it is implemented in mobile

[comment]: # (Describe what you expected to happen.)
When user clicks on user pic of any public chat participant, he is redirectied

[2018-07-16 10:39] lukaszfryc opened #5185 "Scroll position jumps around as new messages arrive in chat"
### Description

*Type*: Bug

*Summary*: As I scroll up to catch up on the conversation, the scroll position jumps around as new messages arrive. This is pretty annoying, especially on busy public chats.

<img src="https://user-images.githubusercontent.com/7532782/42754465-d8f0a768-88f4-11e8-91e8-6c148a1dab85.png" width="200">

#### Expected behavior
Scroll position does not jump when new message

[2018-07-16 10:53] jakubgs commented on #5100
The fix has been tested and merged.

[2018-07-16 10:53] #5100 closed, assigned to nobody

[2018-07-16 10:58] lukaszfryc commented on #4816
I can also reproduce `GL_OUT_OF_MEMORY` that leads to rendering issues while scrolling "tweets" in Peepeth. I test on a $500 device (Galaxy S8, Android 7.1) where the experience should be really smooth. But instead after couple of scrolls I see:

<img src="https://user-images.githubusercontent.com/7532782/42754993-f06f3ede-88f6-11e8-8b1d-d3726bf58e7f.png" width="200">

Steps:
- Open Status on Sams

[2018-07-16 10:58] lukaszfryc commented on #4816
There are some reports on Instabug about this issue. Would be great if we could at least understand how to improve it.

[2018-07-16 11:23] #3441 closed, assigned to goranjovic

[2018-07-16 11:37] churik opened #5186 "User Profile View (contact) should be displayed in popup window"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature
*Summary*: according to User Profile designs (zpl.io/Vqx03r6):
- user profile card has to be located in a separate popup window;
- "Add to contacts" and "In contacts" icons look different;

#### Expected behavior
![design](https://user-images.githubusercontent.com/4557972/42756499-09d5329e-8905-11e8-9077-4ae62e7bc63c.png

[2018-07-16 11:48] yevh-berdnyk opened #5187 "Offline status is not shown in Home after creating an account"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to know when I'm offline.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: When turni

[2018-07-16 11:51] KriszNeumann commented on #3675
Lookback Live and Self-Test for iOS both work with any prototype that can be publicly viewed in a browser using a URL. For example, InVision, Marvel, Axure, and Proto.io all allow for prototypes to be accessed via a browser whereas some others can only be viewed within their own app.

To use Lookback with a prototype that can viewed in a browser:

Go to your project settings (cog icon in upper rig

[2018-07-16 12:07] Serhy opened #5188 "Users connected to Rinkeby network doesn't receive messages sent from Mainnet/Ropsten"
***Type***: Bug

***Summary***: Text/emoji/TX-related(send/receive) messages sent in Rinkeby network are not received by the contacts connected to Ropsten/Mainnet in 1-1/public chats (and vice versa - messages sent in Mainnet/Ropsten network are not received by the contacts who using Rinkeby network).
It includes the cases when both contacts are online and exchange messages or offline.

**Note**:

[2018-07-16 12:14] Serhy commented on #3752
This is not reproduced anymore.
Having 2 accounts under Rinkeby network - exchange messages fine. Offline inboxing between two also works fine.

Issue now only that Rinkeby user can't receive any message from Mainnet or Ropsten (while Mainnet <-> Ropsten message exchange works fine).
Issue for message exchange between Rinkeby <-> Mainnet/Ropsten created in #5188 separately.

Closing this one.

[2018-07-16 12:14] #3752 closed, assigned to nobody

[2018-07-16 14:11] kennytilton commented on #3604
This seems to have been fixed by commit a644075310c on 2018-07-06.

[2018-07-16 14:19] flexsurfer commented on #3604
hey guys, this issue hasn't been fixed, let me suggest one solution, we generate new id for every link from chat or for every new open url , https://github.com/status-im/status-react/blob/develop/src/status_im/ui/screens/browser/events.cljs#L47. i think we could use the host as a browser id, in that case, we will have only one item for every host on the home screen

[2018-07-16 15:23] annadanchenko commented on #5024
see also https://github.com/status-im/status-react/issues/5071

[2018-07-16 15:24] annadanchenko commented on #5024
also on iphone 5s - no way to tap on the button as it's not shown on the screen
![img_3563](https://user-images.githubusercontent.com/6584810/42768215-3b9f4afc-891f-11e8-87fc-63bd533df214.jpg)

[2018-07-16 15:35] #5187 closed, assigned to nobody

[2018-07-16 15:57] #4670 closed, assigned to nobody

[2018-07-16 15:59] #5023 closed, assigned to dmitryn

[2018-07-16 16:27] kennytilton commented on #3604
Ok, my current obviously unreliable impression (after a hard stare at the new model.browser code and some testing to confirm) is that the exact "Reproduction" story above -- dupes after *consecutive* visits to the same URL  -- is fixed. But the overall report is about *any* dupes consecutive or not, and that indeed is what I have been working on, and that is not fixed.

My approach was to leave hi

[2018-07-16 17:24] churik opened #5194 "User picture borders are not visible for pictures with white background"
### Description

*Type*: Bug
*Summary*:
User picture visually doesn't have borders (white on white) in chat list, headers, user profiles.

#### Expected behavior
User profile picture has grey borders, i.e. like on "Sign in" screen.
<img width="506" alt="sign_in" src="https://user-images.githubusercontent.com/4557972/42773015-ba2961c2-8934-11e8-8699-a2033cf5d75a.png">

#### Actual behavior
4.contac

[2018-07-16 17:29] pablanopete opened #5195 "Backup user contacts functionality"
### User Story

As a User, I want to backup my existing contacts so that if I lose my account or restore it I can easily keep a file of to reload all of my contacts into Status.

### Expected behavior
As a user I expect for there to be a way to save a small file for contact backups as i've built out a long list of friends on status.

### Actual behavior
No method currently exists to backup contact

[2018-07-16 19:25] kennytilton commented on #3604
OK, turned out to be a one-word change to my fix, `:url` -> `browser/get-current-url`. PR later after I study up on the mechanics.

[2018-07-17 03:03] status-open-bounty commented on #4846
Balance: 0 ETH
Tokens: SNT: 0.00
Contract address: [0xcca814b81b704b6997a162634eb8406017b2059f](https://etherscan.io/address/0xcca814b81b704b6997a162634eb8406017b2059f)
Network: Mainnet
Status: Pending maintainer confirmation
Winner: 751895405
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-07-17 03:11] status-open-bounty commented on #5031
Balance: 0 ETH
Tokens: SNT: 5500.00
Contract address: [0x1bcc47901fdaaa09c1693698b06b4647ddce3766](https://etherscan.io/address/0x1bcc47901fdaaa09c1693698b06b4647ddce3766)
Network: Mainnet
Paid to: kdeme
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-07-17 03:12] status-open-bounty commented on #5124
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xcbbba60554e3903e4b0e2a4f90cb48301d45ece748be9ec9ca8d92720f364367](https://etherscan.io/tx/0xcbbba60554e3903e4b0e2a4f90cb48301d45ece748be9ec9ca8d92720f364367)

[2018-07-17 03:12] status-open-bounty commented on #4999
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb1e8f051ae88ea88548e380f1e007018fe64b054d87518c008d3f423250932d8](https://etherscan.io/tx/0xb1e8f051ae88ea88548e380f1e007018fe64b054d87518c008d3f423250932d8)

[2018-07-17 06:49] #5130 closed, assigned to cammellos

[2018-07-17 07:44] rachelhamlin opened #5199 "Entering a blank URL creates a dead end"
### User Story

As a user, I want to be able to quit the browser when I've entered a blank URL.

### Description

*Type*: Bug

*Summary*:  Reported on [Instabug](https://insta.co/bugs/76JOnnzPdk7nm4ZnSx3UYg).

When you hit enter on the browser bar without inputting any text, you get stuck on the next screen. The "X" button throws an error:

<img src="https://user-images.githubusercontent.com/15470

[2018-07-17 07:49] churik opened #5200 "Unread messages badge is missing on "Home""
### User Story

As a user, I want to see that I have unread messages even if I leave chat list.

### Description

*Type*: Bug

*Summary*: there is no unread messages badge on Home.

#### Expected behavior
unread messages is presented on "Home"
![unread](https://user-images.githubusercontent.com/4557972/42803195-e82968be-89ad-11e8-9ba6-0a00e4cdcb22.png)

#### Actual behavior
no unread messages badg

[2018-07-17 07:52] hesterbruikman commented on #5195
Suspect this has something to do with unclarity around what is being backup with what we currently call _Backup seedphrase_ (aka Recovery phrase).

Next to explaining that the wallet is backed up, we might need to be explicit about what is not backed up. https://github.com/status-im/status-react/issues/4856

Design effort would need to go into:
- Specifying where in the flow the option to back up

[2018-07-17 08:18] denis-sharypin commented on #5132
You can find icons for dapp here https://www.dropbox.com/sh/0loxh6g2out7per/AABsDG5HhQ1v7pfDKwOZzC3Ha?dl=0

<blockquote><img src="https://www.dropbox.com/static/images/spectrum-icons/generated/content/content-folder_dropbox-large.png" width="48" align="right"><div>Dropbox</div><div><strong><a href="https://www.dropbox.com/sh/0loxh6g2out7per/AABsDG5HhQ1v7pfDKwOZzC3Ha?dl=0">To upload</a></strong></d

[2018-07-17 10:46] errorists commented on #5043
I've illustrated my proposed solution with a prototype, I've also added a long-press menu if redesigning the swipe behaviour seems like an overkill https://framer.cloud/CEGLr

<blockquote><img src="https://framer.cloud/CEGLr/2/framer/social-1200x630.png" width="48" align="right"><div><strong><a href="https://framer.cloud/CEGLr">Chat List</a></strong></div><div>This project was made with Framer, a

[2018-07-17 11:00] churik opened #5201 "No redirect for manually edited links (for webview)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: cannot navigate to manually edited URL.  "Return" ("Done" for android) doesn't reload page, as well as "Reload" button.

#### Expected behavior
page is reloaded; new webpage is shown

#### Actual behavior
nothing happens

### Reproduction

- Open Status
- Send link to public chat
- Open link
- Put focus to webview

[2018-07-17 11:12] churik opened #5202 "Hide "Back", "Forward" and "Reload" buttons when keyboard open on Android"
### Description
_Type_: Bug
_Summary_: If user opens keyboard to modify URL in webview on Android, he can see navigation buttons and accidentally tap on them.

#### Expected behavior
navigation buttons are hidden (overlapped by keyboard) like on iOS
![ios](https://user-images.githubusercontent.com/4557972/42813942-49c7409c-89cb-11e8-9354-d07c3d100641.png)

#### Actual behavior
OnAndroid:
![1234](h

[2018-07-17 11:20] lukaszfryc commented on #5043
@errorists I like the long-press interaction more than swipe to delete. Here is my reasoning:

1. In the near future, we may want to consider swiping between Home, Wallet and Profile tabs on Android. If so, swipe to delete may interfere with swiping between tabs
2. Long-press can display menu with additional options like "Mark as read" or "Pin to the top". It's a good place to display them. Telegr

[2018-07-17 11:38] 26000 commented on #4614
@pablanopete could you possibly tell what wallet is on the screenshot? i want to generate an ethereum address which i wouls be able to access from anywhere, at least status.im and mist. i currently see no way to do it, you aren't able to import an account from seed to mist or import a keyfile to status. and metamask seeds seem to be incompatible with status.

**EDIT:** i was wrong, status.im just

[2018-07-17 11:48] Serhy opened #5204 "Missing value for property transport.topic in 1-1 chat for recovered account"
*Type*: Bug

*Summary*: Autotest failed with the `Missing value for property transport.topic` erro in 1-1 chat for a recovered account. Could not reproduce for the same account manually but anyway keeping this issue here for now

#### Expected behavior
No errors in 1-1 chat

#### Actual behavior
Missing value for property transport.topic in 1-1 chat for recovered account

<img width="410" alt="scr

[2018-07-17 12:42] errorists commented on #3734
<img width="833" alt="screen shot 2018-07-17 at 14 37 31" src="https://user-images.githubusercontent.com/4932774/42817671-145cbf32-89cf-11e8-95ba-8c8eb92d8f36.png">
Here's an idea, we could use a more descriptive label, it's similar to what Messenger does. cc @andmironov

[2018-07-17 12:59] errorists commented on #5043
@lukaszfryc All good points!

1. I've considered this heavily, but in the context of having separate tabs inside the Home screen, for example swiping between Chats, Group Chats and Dapps.
2. Technically we could allow for additional actions inside the swipe gesture, exposing different buttons by swiping from left and right. Depending on how often you access those actions, gestures might be more co

[2018-07-17 13:47] lukaszfryc commented on #5043
Good idea. It's how Facebook Messenger works. And, because of that, the app uses long press instead of swipe to delete a chat.

Swipe gesture maybe a bit more convenient if you have lot of items to remove. But only a little since you need to confirm each action anyway (delete dialog). If you want to remove many chats or dapps quickly, I'd consider some bulk action (option to select many items). Bu

[2018-07-17 13:56] lukaszfryc commented on #3734
@errorists I love it! Looks much more clear and encouraging :)

If we would have it, how do you plan to change this screen? Can we remove that blue dot and leave only "Add to contacts" button?

<img src="https://user-images.githubusercontent.com/7532782/42821804-ae2fa76e-89d9-11e8-9035-47e650fc9694.png" width="200">

[2018-07-17 14:05] errorists commented on #5043
Summing up, I'm in favour of removing the swipe gesture in its current implementation and replacing it with a long press action.

[2018-07-17 14:26] errorists commented on #3734
@lukaszfryc yeah totally, I believe the 'Add to contacts' button implies sufficiently that the person is not a contact yet, and having the label next to the username would be redundant.

[2018-07-17 15:37] EugeOrtiz commented on #5200
Designs here >> zpl.io/2ZJ6Zmw (Zeplin):

<img width="496" alt="captura de pantalla 2018-07-17 a la s 12 37 13 p m" src="https://user-images.githubusercontent.com/37297779/42828033-2c4b112c-89be-11e8-8508-a4852e3c5954.png">

[2018-07-17 15:43] flexsurfer commented on #5202
i'm not sure we need these buttons while typing, but we need more content area for sure, so maybe it's not a bug but the feature? :)

[2018-07-17 16:01] Serhy commented on #5199
It's not reproduced for me on iOS and Android 7, Android 6 in latest nightly.
But I can reproduce on 0.9.22, yes.
So this issue is fixed and won't appear in next release (0.9.23).

A minor thing on Android is that when I submit empty URL - we keep an empty Browser item on Home screen. But this is a separate one.

Closing this issue.

[2018-07-17 16:01] #5199 closed, assigned to nobody

[2018-07-17 16:05] jeluard commented on #4880
Proposed syntax is available in the [extensions branch](https://github.com/status-im/status-react/tree/extensions)

[2018-07-17 16:05] #4880 closed, assigned to jeluard

[2018-07-17 17:25] #5164 closed, assigned to cammellos

[2018-07-17 17:27] #5024 closed, assigned to dmitryn

[2018-07-17 18:19] #5132 closed, assigned to jeluard

[2018-07-17 21:29] EugeOrtiz commented on #5147
Note: This also happens when my contact changes his/her name, the old name is shown in chat header and the new name is shown in left panel:

<img width="1429" alt="captura de pantalla 2018-07-17 a la s 6 24 46 p m" src="https://user-images.githubusercontent.com/37297779/42846367-195b9dc6-89ef-11e8-892d-ec6ff509c2f2.png">

[2018-07-18 07:53] denis-sharypin commented on #4162
FYI: design and scope of the issue are outdated. Will be updated soon

[2018-07-18 08:13] flexsurfer commented on #5162
![image](https://user-images.githubusercontent.com/11790366/42868665-8e68b540-8a7b-11e8-8b69-6cf05c322ebb.png)

[2018-07-18 08:14] flexsurfer commented on #5162
@mandrigin could you take a look, do we need to implement this on go side?

[2018-07-18 08:28] annadanchenko opened #5211 "Info text is shown instead of Welcome to Status picture on first sign in"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: There is info text shown instead of  Welcome to Status picture after user signs in for the first time

Now:
![screenshot_20180718-112528](https:

[2018-07-18 08:50] annadanchenko commented on #5211
Issue does not happen in https://jenkins.status.im/job/status-react/job/nightly/499/ but happens in https://jenkins.status.im/job/status-react/job/nightly/500/ where 2 PRs are merged:
1. [#5169] Remove Mixpanel (commit: bb7d31a) (detail / githubweb)
2. Remove share data screen from appium tests (commit: 9766740) (detail / githubweb)

<blockquote><img src="/static/dcd3070e/favicon.ico" width="48" a

[2018-07-18 09:37] Serhy opened #5212 "No Push Notification permission is asked for iOS once new account created"
***Type***: Bug

***Summary***: App doesn't asking to grant permission for PN during onboarding on iOS. Thus, no PN could be enabled for iOS for new users with the fresh build. Exactly the same issue we had fixed in the https://github.com/status-im/status-react/issues/4240

**Note**: In a case of upgrading from the previous version where permissions granted - works fine.
The issue with the new acc

[2018-07-18 09:39] jakubgs opened #5213 "Add way to select different fleets for use with the app"
### User Story

As a sysadmin(devops is a buzzword) I want the app to be able to switch between different `eth` fleets without having to re-build the whole application. This is necessary to test infrastructure changes and `statusd` version changes on a __staging__ fleet before it's deployed to the fleet used in the public release.

### Description

Right now we have 3 fleets:
* [`eth.test`](https:

[2018-07-18 09:51] churik opened #5214 "Can proceed to "Sign in" screen without specifying recipient"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: you can proceed to "Sign In" screen if you are specifying any asset and amount only, without a recipient.
If asset is ETH -> intrinsic gas too low
If asset is not ETH -> null is not an object (evaluating 'e.substring') error

#### Expected behavior
cannot proceed when "Choose Recipient" is empty
#### Actual behavi

[2018-07-18 10:33] lukaszfryc opened #5217 "Wallet address text is white when copy-pasted into external app"
### Description

*Type*: Bug

*Summary*: Wallet address text has white color when it is copy&pasted into an external app like Gmail or Notes. Happens only on Android with the wallet address. When a chat message is copied, the text has black color.

<img src="https://user-images.githubusercontent.com/7532782/42876136-08eb81ee-8a86-11e8-9e5b-2fae915404f3.png" width="200">

#### Expected behavior
The

[2018-07-18 10:46] churik commented on #4569
Also, decimals in Gas Price should be up to 9, if you specify i.e. 1.000000000000001 in "Gas Price", endless spinner is shown on sign transaction screen.
* Status version: release 61 (0.9.23 (6212))
* Operating System: Android, iOS
* TF session: https://app.testfairy.com/projects/4803622-status/builds/8528545/sessions/4396594466/?accessToken=BXmHukoWHbGMt/ToL1Fa4xBiw9A

<blockquote><div><strong><a

[2018-07-18 11:54] #5201 closed, assigned to flexsurfer

[2018-07-18 12:29] #5214 closed, assigned to goranjovic

[2018-07-18 13:14] Newbie1010 commented on #1720
(BOOL)textField:(UITextField *)textField shouldChangeCharactersInRange:(NSRange)range replacementString:(NSString *)string

Check using:
NSString *resultString = [textField.text stringByReplacingCharactersInRange:range withString:string];
BOOL isPressedBackspaceAfterSingleSpaceSymbol = [string isEqualToString:@""] && [resultString isEqualToString:@""] && range.location == 0 && range.length == 1;
i

[2018-07-18 13:23] kennytilton commented on #3604
Yes, @flexsurfer , thanks and I *did* run that red light, except I was already done with my coding and I thought my approach was the least intrusive. But I should have hit the brakes. :)

[2018-07-18 13:43] kennytilton commented on #3604
Ok, one thing, @flexsurfer: the suggested approach of using the host as the browser-id is dead simple but a deep change that would, if I do it well, require me to track down all uses of the browser list and make sure I am not breaking anything. Or can someone such as yourself just direct me to do it that way? My thinking was, the stated problem is clutter, so de-clutter the screen. ie, Without alt

[2018-07-18 13:54] flexsurfer commented on #3604
yes @kennytilton it's safe and we can just use `host` as `browser-id`,  we already use dapp name as `browser-id`, so it'll work the same but uses `host` instead `name` , thanks

[2018-07-18 14:43] churik opened #5223 "Transaction request with amount < 0.000001 is displayed in Scientific format in chat"
### Description

*Type*: Bug
*Summary*: if you send transaction request with amount less than  0.000001 from wallet, it is displayed  with an exponential notation in chat.
Not reproducible if you send transaction request from chat with same amount.

#### Expected behavior
0.0000002

#### Actual behavior
2e-7
![exp](https://user-images.githubusercontent.com/4557972/42888418-ea702942-8ab0-11e8-8610-

[2018-07-18 15:27] churik opened #5224 "Default Gas price is displayed in Transaction Details for transaction sent from DApp even if you set custom one"
### Description

*Type*: Bug
*Summary*: if you sent the transaction from DApp (i.e. set auction for feeding CryptoKitty) and set a custom Gas Price - default one is displayed in Transaction history until a transaction will be confirmed.

#### Expected behavior
custom Gas Price

#### Actual behavior
default Gas Price is displayed
![cust](https://user-images.githubusercontent.com/4557972/42891323-c0

[2018-07-18 16:17] jeluard opened #5226 "Migrate clj scripts to latest clj-rn"
### User Story

As a developer, I want to reduce the number of commands/shells I have to use.

### Description

*Type*: Feature

Latest `clj-rn` removes the need for `react-native start`. Migrate clj conf to this model.

[2018-07-18 21:37] kennytilton commented on #3604
I looked around and did not see any existing utility for extracting the host from a URL, but cemerick has a small clj/cljs lib that is testing well: https://github.com/cemerick/url. I propose we go with that instead of some ad hoc regex.

A second question is whether to attempt to switch existing history to the new `browser-id` as it is pulled from storage on login. The alternative is to endure a

[2018-07-19 05:07] zacck-zz commented on #3574
@jeluard  perhaps I can try this one out.
So as I understand

1. You have a developer on a linux machine
2. Said developer edits some code and wants to test their work
3. The developer should then be able to connect to a headless mac
4. Push their code to the mac
5. Have the mac build a `.ipa`
6. Then have the `.ipa` dowloaded back to their linux box

Is this what you are aiming for?

[2018-07-19 08:50] denis-sharypin commented on #5043
Shame on me but I have just discovered that you can remove chats with the long press on FB messenger. Can it be considerated as a not popular behavior?  I like the idea of adding some new options to the context menu though.

I personally would try to focus on current problems and needs. Yeah, maybe in the near future we will need a swipe between home tab categories, but most likely we will create

[2018-07-19 09:04] flexsurfer commented on #3604
@kennytilton i'm not sure about a library, we're trying to do not add external libraries, better to just get necessary function, and copy it to our utilities, second question, don't worry about history and old browsers it's not worth it. Thanks

[2018-07-19 09:09] #4817 closed, assigned to flexsurfer

[2018-07-19 09:18] #5211 closed, assigned to rasom

[2018-07-19 09:18] #5212 closed, assigned to rasom

[2018-07-19 09:46] lukaszfryc commented on #5043
I don't think so. Messenger and Telegram use it.

[2018-07-19 09:49] #3981 closed, assigned to flexsurfer

[2018-07-19 09:50] #4354 closed, assigned to flexsurfer

[2018-07-19 09:50] #4676 closed, assigned to flexsurfer

[2018-07-19 09:50] #5079 closed, assigned to flexsurfer

[2018-07-19 09:50] #5170 closed, assigned to flexsurfer

[2018-07-19 10:09] #5014 closed, assigned to nobody

[2018-07-19 12:34] flexsurfer commented on #4167
@Serhy should be fixed?

[2018-07-19 13:45] kennytilton commented on #3604
@jeluard @flexsurfer FYI I am proceeding (a) with cemerick's url lib and (b) exploring converting legacy (stored) browsers to the new browser-id. Not sure if I need to re-write storage or not, but will pop back here as I learn more.

[2018-07-19 13:51] flexsurfer commented on #3604
@kennytilton have you seen my comment above?

[2018-07-19 13:56] kennytilton commented on #3604
@flexsurfer Yes, got it. Thx. Will do: pull the URL parser into our code, don't sweat history.

[2018-07-19 14:08] Serhy commented on #4167
Indeed, @flexsurfer, it's not an issue anymore.
Closing.

[2018-07-19 14:08] #4167 closed, assigned to nobody

[2018-07-19 14:11] lukaszfryc opened #5232 "Handle errors that may happen during account creation"
### Description

*Type*: Bug

*Summary*:

When I recovered an account, I got an error dialog saying "Error No item 1 in vector of length 1 This error is located at: in home in reagent20". I had to kill the app, open it again and log in. Everything worked fine afterwards, the account was recovered. I could not reproduce this isssue.

I talked abou it with @cammellos and it looks like we don't handl

[2018-07-19 15:09] status-open-bounty commented on #5226
Balance: 0 ETH
Tokens: SNT: 2500.00
Contract address: [0x05e2e2f9a06cb44a456caeda37ab1a42d7e2c2a7](https://etherscan.io/address/0x05e2e2f9a06cb44a456caeda37ab1a42d7e2c2a7)
Network: Mainnet
Paid to: endenwer
Visit [https://openbounty.status.im](https://openbounty.status.im) to learn more.

[2018-07-19 15:59] denis-sharypin commented on #5043
My telegram client doesn’t have it :(

[2018-07-19 16:47] #5042 closed, assigned to flexsurfer

[2018-07-19 20:53] EugeOrtiz opened #5235 "Add correct Status icon to OSX dock"
**User story**
As a user, I want to quicky identify the Status desktop app by taking a look at the icon on the dock.

**Description**
Type: Fix (visual).
Summary: Replace current square icon with the correct Status logo.

**Current view**:
<img width="374" alt="captura de pantalla 2018-07-19 a la s 5 55 39 p m" src="https://user-images.githubusercontent.com/37297779/42969605-1c2288a0-8b7d-11e8-9fe

[2018-07-19 21:07] EugeOrtiz commented on #5235
It would be great to also include other platforms (linux, etc.) views of this icon.

[2018-07-20 09:14] #4851 closed, assigned to nobody

[2018-07-20 09:14] #4865 closed, assigned to dmitryn

[2018-07-20 09:14] #5138 closed, assigned to dmitryn

[2018-07-20 09:16] dmitryn commented on #4857
I think it can be closed after https://github.com/status-im/status-react/pull/5221 was merged that should fix this issue.

[2018-07-20 09:16] #4857 closed, assigned to dmitryn

[2018-07-20 10:37] goranjovic commented on #5171
The core issue here is probably that precision validation only works right for decimal format. This is probably displayed in scientific and validation fails because of #5223

I'm going to try fixing the validation for all formats

[2018-07-20 10:42] churik opened #5242 "Unsafe characters aren't excluded or encoded in URL"
As a user, I want to tap any link on chat or type any char in webview and don't see any crashes or app hanging.

### The app doesn't crash anymore, only parsing URLs in UI is wrong!
### Description
_Type_: Bug
_Summary_: some of chars are unsafe and couldn't be the part of link; for such types of links other chats (`Telegram`, `Slack`) are excluded them as part of link.
In Status these chars are r

[2018-07-20 12:36] yevh-berdnyk opened #5243 "No error when changing profile picture and denying access to device photos"
### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: No error pop up is shown if selecting a photo from gallery for profile picture and denying camera permission

#### Expected behavior
Error pop up is shown like when denying camera access:
[

[2018-07-20 12:43] Serhy opened #5244 "Extend blue Wallet background on it's Set up and Send transaction (from 1-1 chat) screens on iPhoneX"
***Type***: Bug

***Summary***: We need to adjust two Wallet related screens for iPhoneX and extend it's blue background to the very bottom and top edge. The first one is 'Set up your wallet' screen and 'Send transaction screen accessed from 1-1 chat as a reply to /request (or straight send via /send).

**Note**: the Send transaction screen is OK when accessed directly from Wallet (`Wallet` -> `Se

[2018-07-20 13:16] hetvart opened #5246 "UI: transaction fee value is beyond of "Transaction Fee" field boundary"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: transaction fee value is beyond of "Transaction Fee" field boundary while signing in transaction

#### Expected behavior
Transaction Fee value s

[2018-07-20 14:05] kennytilton commented on #3604
Ok, @flexsurfer and @jeluard : I thought I would get pre-approval for my current plan, which is a simple function `url-domain` wrapping `(.getDomain (goog.Uri url))` and using that to derive `:browser-id` (instead of the current random key). Since `goog.Uri` will thow an error on an input such as "42", I propose wrapping the above in a try-catch and simply returning nil on any invalid input, but t

[2018-07-20 15:00] jeluard commented on #3604
Looks good to me! The alternative is even better.
@flexsurfer WDYT ?

[2018-07-20 15:07] denis-sharypin commented on #3431
we got rid of this UI

[2018-07-20 15:07] #3431 closed, assigned to denis-sharypin

[2018-07-20 15:07] kennytilton commented on #3604
Another even more minimalist solution that just came to me is, should goog.Uri not come up with a domain-name, hey, just fall back on the random key and whatever happens downstream, on the navigation I mean, is what would happen anyway, so we address duplication without introducing any new issue that would arise anyway if somehow bad urls started sneaking through.

[2018-07-20 15:46] lukaszfryc opened #5248 "REP tokens are not shown in Wallet"
### Description

*Type*: Bug

*Summary*:
I've bought some REP using Airswap but Wallet still shows 0 REP despite 29 confirmations for the transaction:
<img src="https://user-images.githubusercontent.com/7532782/43011554-25a8d66e-8c44-11e8-8451-8df08d321f39.png" width="200">

Also, I'd expect that the transaction in transaction history will change from ETH to REP after a while. But it's not, instea

[2018-07-20 15:46] lukaszfryc commented on #5248
The bug was originally reported by a user via [Instabug](https://dashboard.instabug.com/applications/status-6b2838c6-8064-445d-ae12-3c35e96f3a69/beta/bugs/409).

[2018-07-20 20:56] rcullito commented on #5184
hey @churik one UX question on here that might also be good to get @EugeOrtiz 's opinion on. Do we want to be able to go straight from a public chat to a user profile to sending that user a direct message without adding them to contacts? Should that be possible to go straight through that workflow or would the user doing the "adding" have to add them before sending the direct message. Just a thoug

[2018-07-21 15:15] knightmike commented on #4020
getWindow().setSoftInputMode(WindowManager.LayoutParams.SOFT_INPUT_ADJUST_RESIZE)

Put this in the onCreate Method

OR

<activity
...
android:windowSoftInputMode="adjustPan">

In the layout.

PS- New here. Still trying to figure out the way around the code and how to claim bounty.

[2018-07-21 15:18] knightmike commented on #4020
<activity
   ...
   android:windowSoftInputMode="adjustPan">
</activity>

Even better

[2018-07-22 09:34] goranjovic commented on #5248
TX on Etherscan - https://etherscan.io/token/0x1985365e9f78359a9b6ad760e32412f4a445e862

<blockquote><img src="/images/favicon2.ico" width="48" align="right"><div><strong><a href="https://etherscan.io/token/0x1985365e9f78359a9b6ad760e32412f4a445e862">Reputation (REP) Token Tracker</a></strong></div><div>The Ethereum BlockChain Explorer, API and Analytics Platform</div></blockquote>

[2018-07-22 15:03] hetvart opened #5253 "[Android Transaction] Send transaction is not shown in 1:1 chat when sending to a recipient from within the wallet"
[comment]: # (Please replace ... with your information. Remove < and >)
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: transaction is not shown in 1:1 chat when trying to send ETH from within

[2018-07-22 16:34] ghost opened #5254 "No push Notifications w/o Google Play Services"
### User Story

As a user of Android AOSP / LineageOS, I would like for Status to be as functional with the Google Play services, as it is without this centralised component.

### Description

[comment]:
*Type*: Bug

[comment]:
*Summary*: I am not seeing any notifications when receiving a message.

[2018-07-22 17:06] hetvart commented on #5253
Just did the same test with STT. The actual result is the same.

[2018-07-22 17:36] hetvart opened #5255 "[Wallet] Invalid address error is shown when entering recipient address"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: user cannot send a transaction entering contact address manually because an error occurs

#### Expected behavior
[comment]: # (Describe what you

[2018-07-23 06:07] jeluard commented on #3574
@zacck Sounds about right! Does that make sense? Any idea how to achieve that?

[2018-07-23 06:17] zacck-zz commented on #3574
@jeluard  It makes sense, I have some ideas on how do to do this.
Key seems to be figuring out how to communicate with a `headless` mac from Linux, everything else seems to be straightforward

[2018-07-23 06:22] cammellos commented on #3574
@jeluard seems what you want is some setup like:
`srcs` directories and output are shared between linux and the headless mac as `NFS` for example, that avoids having to `push` the code & `pull` the `ipa` each time.

[2018-07-23 06:38] jeluard commented on #3574
I'd rather have everything done over ssh (with tars and all). NFS sounds like an great way to have something broken all the time :D

[2018-07-23 06:49] zacck-zz commented on #3574
@cammellos good idea!  maybe instead we can only do `checkouts` instead of pushing all the code every time we can just push changes .... basically, use the mac as a ci machine

[2018-07-23 06:59] cammellos commented on #3574
@zacck I guess it depends how often you would like to regenerate the `ipa` and how fast you want your feedback loop.
I personally use `vnc` server on my mac and then just keep everything running with `fighweel` etc, so I can get a quick feedback loop using the simulator, loading files & genrating `ipa` is too slow for development, so seem like it solves a different problem, so `ssh`/`rsync` seems

[2018-07-23 09:44] #4826 closed, assigned to goranjovic

[2018-07-23 09:54] annadanchenko commented on #5255
@hetvart it's expected, as contact code is not Wallet address. You can find address in the Wallet -> Request Transaction screen

[2018-07-23 09:54] #5255 closed, assigned to nobody

[2018-07-23 09:56] annadanchenko commented on #5253
will be implemented as new feature in 0.9.23 version. It's expected that there is no message if send from Wallet in 0.9.22 and lower versions

[2018-07-23 09:56] #5253 closed, assigned to nobody

[2018-07-23 10:00] annadanchenko commented on #5254
@GustavMarwin can you provide more info and describe the exact scenario when notification is not received, please? For example: user A sends user B message "hi" in 1:1 chat when user B has app running on background. User A has B in Contacts list, user B has A in Contacts list. For both users app runs on Galaxy S7, Android 7.0. App version 0.9.22

[2018-07-23 10:26] #5248 closed, assigned to goranjovic

[2018-07-23 10:37] errorists commented on #4608
Here's a prototype of the design. I've decided to go with a long press rather than swipes since

- I find it more discoverable than swipes,
- we already use it,
- the swipes we have right now are rather janky,
- we create a unified behaviour for all message actions.

👉 https://framer.cloud/XvSUR/

<blockquote><img src="https://framer.cloud/XvSUR/5/framer/social-1200x630.png" width="48" align="righ

[2018-07-23 10:44] CryogenDev opened #5259 "[Feature Request] WhoTheEth Support"
### User Story

As a user and web developer, I want WhoTheEth support so that users can send funds to a name as well as an address.

# Type: Feature

# Summary:

WhoTheEth is a dApp that gives every Ethereum address a custom name, and an API hook to boot so other dApps and apps can hook into it. I'm hoping you'll integrate it so that people can send funds to a username, making everyone's lives eas

[2018-07-23 10:47] jeluard opened #5260 "Implement web3 provider Opt-in access"
### User Story

As a user, I want to make sure my privacy is not at risk when using a DApp.
As a developer, I want to follow community standards.

### Description

*Type*: Feature

Implement web3 provider Opt-in access as defined by [EIP1102](https://eips.ethereum.org/EIPS/eip-1102). This pattern follows the pattern used in our recently merged status web DApp API support.

UX will be augmented so

[2018-07-23 10:49] lukaszfryc opened #5261 "Disable "Send" button and change it to "Sent" after transaction is signed"
### Description

*Type*: Bug

*Summary*: When "/request" message is received, the "Send" button is still active after the transaction is signed. Instead, it should be disabled to indicate that user responded to the "/request" message.

#### Expected behavior
"Send" button should change to "Sent" and become disabled after the transaction is signed.

#### Actual behavior
"Send" button does not chang

[2018-07-23 10:51] rachelhamlin commented on #4608
This looks great @errorists.

When I click on a reply, it scrolls that to the top of the window, right? Is there any sort of highlight or animation to emphasize it?

And if I'm the person being replied to, is there any visual distinction or would the copy simply say, "You"?

[2018-07-23 10:55] janherich commented on #5261
@lukaszfryc Just to be clear, is this the case in recent develop (after `feature/cljs-commands` was merged) as well ?

[2018-07-23 11:17] errorists commented on #4608
@rachelhamlin good catch on both, thanks!

It should scroll to the original message you've replied to and once there we could also show the 'scroll back to bottom' button to allow a quick jump back.

I like to keep things simple, I find a copy change to 'You' sufficient but I'll explore it a bit, see if there's something to be done with the icon etc.

[2018-07-23 11:57] lukaszfryc commented on #5261
@janherich yes, it had happened before cljs-commands was merged

[2018-07-23 12:23] goranjovic opened #5265 "Transactions from other account on the same app may appear in transaction history"
### User Story

As a user I want correct transaction history shown in all my accounts

### Description

If user has two accounts on the same phone, it is possible that transaction history update is requested, then in the mean time user logs out and logs back in as a different account. Received transactions should not be added to the history of the other account.

*Type*: Bug

#### Expected behavio

[2018-07-23 12:33] asemiankevich opened #5267 "Error message.chat-id must be of type 'string', got 'null' (null) when sending tokens / ETH from wallet"
*Type*: Bug

*Summary*:  Error `message.chat-id must be of type 'string', got 'null' (null)` when sending ETH / tokens from wallet

#### Expected behavior
No errors when sending assets

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/43076504-18dbfcea-8e8d-11e8-96b9-544617e0bf8b.png)

### Reproduction

- Open Status (mainnet)
- Tap wallet
- Tap select recipient an

[2018-07-23 13:00] janherich commented on #5267
@asemiankevich One question - when seeing this error, was the recipient of the funds in sender's contacts, eq was there already existing chat with the recipient on sender's device ?

[2018-07-23 13:01] asemiankevich commented on #5267
my bad, forgot to mention.
recipient is NOT in contacts @janherich

[2018-07-23 13:03] lukaszfryc commented on #5261
duplicate of https://github.com/status-im/status-react/issues/5048

[2018-07-23 13:03] #5261 closed, assigned to nobody

[2018-07-23 13:03] janherich commented on #5267
Awesome thanks, it's then super easy to solve, given one condition -> when recipient is not in contacts, we don't expect that sending transaction with open chat with him (so the `/send` message actually has place to land), correct @asemiankevich @annadanchenko @goranjovic ?

[2018-07-23 13:05] asemiankevich commented on #5267
@janherich i believe this case (sending from wallet creates new chat) is not implemented yet , Goran could confirm . New chat is created when only user has recipient in contacts (for now)

[2018-07-23 13:08] goranjovic commented on #5267
@janherich @asemiankevich
If the recipient is in contacts, the payment message should appear in the chat. If no chat exists, it should be created. Either way, if the transaction was initiated from Wallet the app should go to Transaction sent and from there (by tapping Done) to main Wallet screen, i.e. not navigate to that chat automatically.

If the recipient is not in contacts, there should be no

[2018-07-23 13:14] janherich commented on #5267
@goranjovic got it, thanks !

[2018-07-23 13:23] #5171 closed, assigned to goranjovic

[2018-07-23 13:32] asemiankevich opened #5270 "Transaction failed 502 Bad Gateway when signing transaction from wallet"
### Description

*Type*: Bug

*Summary*: Received this error several times today, not sure about stable steps to reproduce yet

#### Expected behavior
No infura issues when signing transaction

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/43079436-ca5de34a-8e95-11e8-9e03-76cc47deb087.png)

### Reproduction

- Open Status (mainnet)
- Go to wallet
- Tap select rec

[2018-07-23 14:42] status-open-bounty commented on #5244
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xdca2c486589e82a2b8009de5a815fde30acddb6375c2b034dc462c4a09c8c2d4](https://etherscan.io/tx/0xdca2c486589e82a2b8009de5a815fde30acddb6375c2b034dc462c4a09c8c2d4)

[2018-07-23 15:01] asemiankevich commented on #4608
@rachelhamlin @errorists
- what about quoting send/request messages?
- what about quoting my own messages?
- any plans for PNs for this action? (I assume this should trigger notification, just to double check)

[2018-07-23 15:21] #5083 closed, assigned to vkjr

[2018-07-23 16:04] ghost commented on #5254
@annadanchenko : so I think there's no need to go deep into troubleshooting to understand that at this point in time, Status notifications cannot work properly outside of the Google Play ecosystem due to the fact that Status will quickly get suspended by Android and will have no way to check for new messages nor to display notifications.

Signal solves that by keeping a notification displayed at a

[2018-07-23 16:13] annadanchenko commented on #4608
@errorists how about long messages that are shown with "Show more" link at the end to expand the message? Should it be same in the quote or only 1st time visible text to be shown?

[2018-07-23 16:15] annadanchenko commented on #4608
@rachelhamlin as I see from issue description it's intended only for public or group chats. However, I might want to quote some specific message in 1:1 chat so it's clear which part of the dialog is addressed. Should the scope be expanded for 1:1 chats too?

[2018-07-23 16:16] annadanchenko commented on #4608
@errorists if I will quote a link - should it be clickable in the quote message? I would expect yes :)

[2018-07-23 16:23] annadanchenko commented on #4608
@errorists
1. what if I want to quote a quote? trying to long tap in the prototype but nothing happens.
2. Also wondering how copy/paste and share will work on the quote especially if it hides some long text: I would expect that the full quoted text and full reply will be copied... but what happens when I share or paste it? any cuts?

[2018-07-23 18:08] rcullito commented on #4279
this issue has since been fixed :+1:

[2018-07-23 18:08] #4279 closed, assigned to rcullito

[2018-07-23 19:55] maxhora opened #5271 "Memory leaks on chats switching"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want to switch chats infinity number of times and do not have crashes because of memory allocation errors.

### Description

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Section

[2018-07-24 07:47] errorists commented on #4608
Thanks for the feedback @asemiankevich @annadanchenko I will address all of your points and more in-depth cases in a separate design documentation that I'll be preparing now, the purpose of the prototype was to communicate the general design and interactions.

Currently, you can't select or copy them unlike regular messages, my thinking here is replying to them should follow the same rule. To me,

[2018-07-24 08:58] andytudhope opened #5273 "Universal Links to DApps"
Based on #4944

As a user, I want to send a link to a DApp so I can invite others to join the game/trade/whatever.

Eg clicking https://get.status.im/dapps/cryptostrikers opens the Status app in the browser with Cryptostrikers.

## Description

EDIT: It turns out that when a user clicks on a link in the format:

https://get.status.im/browse/www.cryptokitties.co

It will already be opened in Status

[2018-07-24 09:20] #3604 closed, assigned to nobody

[2018-07-24 09:22] #4783 closed, assigned to nobody

[2018-07-24 09:23] #5154 closed, assigned to goranjovic

[2018-07-24 09:44] churik opened #5275 "Text wrapped up with asterisks (*) or tildes (~) are not displayed as bold or italic on desktop"
### Description

*Type*: Bug
*Summary*: Text of message is not formatted accordingly on home screen when message in chat (1-1  / public) sent wrapped up with asterisks (`*`) or tildes (`~`)

#### Expected behavior
Text of message formatted on home screen in **bold**/_italic_ font when message in chat sent wrapped up with asterisks (`*`) or tildes (`~`)

#### Actual behavior
Text of message is not

[2018-07-24 11:11] Graeme-Code opened #5276 "ETH in wallet address not displaying in Status Wallet"
[comment]: # (Please replace ... with your information. Remove < and >)
*User Story*
As a user, I want to see ETH which I have sent to my status wallet address so that I may use it in status.

*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:

I transfered

[2018-07-24 11:26] goranjovic commented on #5276
Hi @Graeme-Code thanks for the bug report!

Just a few extra questions from me:

1.  Does anything happen when you pull the Wallet screen down? (i.e. pull to refresh).
2. I see on the screenshot that not even asset prices were updated. Is there any specific network condition on that phone, e.g. slow connection (2g, edge, etc), maybe proxy, etc? I assume that other apps on the same phone can access

[2018-07-24 11:26] churik opened #5277 "Text after less-than (`<`) is not displayed in messages"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: any text after less-than (`<`) sign is cut off on desktop.

#### Expected behavior
test is displayed

#### Actual behavior
no text after less-than (`<`) sign
![lessthen](https://user-images.githubusercontent.com/4557972/43135201-43683a6c-8f4d-11e8-926e-ebb63fbc4846.png)

### Reproduction

- Open Status-desktop
-

[2018-07-24 11:30] rachelhamlin opened #5278 "Persist state for browser session [Android]"
### User Story

As a user, I want to be able to switch between DApps, chat, and wallet without losing my place in a DApp, so that I can multi-task.

### Description

*Type*: Feature

*Summary*: Maintain state after a user has exited a DApp, so that when they reopen that instance of the browser, their data or activity is not lost.

#### Expected behavior
I select two tokens in DDEX and edit the Lim

[2018-07-24 12:18] #5267 closed, assigned to goranjovic

[2018-07-24 13:16] EugeOrtiz commented on #5184
That's a good question. I think that when you start talking to somebody that it is not in your contacts, he/she automatically becomes your contact.

@churik Are we talking about opening the user profile card by clicking on the picture within the message area, right?:
<img width="375" alt="captura de pantalla 2018-07-24 a la s 10 13 49 a m" src="https://user-images.githubusercontent.com/37297779/43

[2018-07-24 13:22] churik opened #5281 "Days in chat doesn't take into account user timezone"
### User Story

As a user, I want to see in chat history split by days according to my timezone (always started from 00:00 and to 00:00 next day)

### Description

*Type*: Bug
*Summary*: in public, 1-1 chats day for every user starts at 00:00 UTC. this means that i.e. "Today" for the user from Tokyo starts at 10 AM, all messages sent before 10 AM were placed in "Yesterday" history.

#### Expected

[2018-07-24 13:26] Graeme-Code commented on #5276
Hi @goranjovic  for sure,
1. When pulling the screen down the loading icon in the center top quickly appears and disappears.
2. I'm on good wifi at the moment and first discovered the issue on my wifi at home (10mbps). Other apps are working well. Switching to 4G doesn't change the result.

Here is a video of changing from network to wifi as well as the refresh interaction:
https://drive.google.co

[2018-07-24 13:34] EugeOrtiz commented on #5194
Here is the design (color and thickness) of the image border >> zpl.io/V1q4GPB (Zeplin)

<img width="224" alt="captura de pantalla 2018-07-24 a la s 10 34 18 a m" src="https://user-images.githubusercontent.com/37297779/43141770-24fc16fe-8f2d-11e8-9ba4-86922d59d59b.png">

[2018-07-24 14:45] lukaszfryc opened #5283 "Change "return" to "Go" when modifying browser url"
### Description

*Type*: Bug

*Summary*: When re-entering URL, the keyboard button should say "Go" to indicate the navigation. Currently it says "return" (iOS) and "Done" (Android):

<img src="https://user-images.githubusercontent.com/7532782/43145952-62624e18-8f60-11e8-9dee-64fbdf929c6f.png" width="200">

#### Expected behavior
When browser url is modified, the navigation button should say "Go".

[2018-07-24 14:46] alwx commented on #2937
Already fixed: https://github.com/status-im/status-react/pull/4974

[2018-07-24 14:46] #2937 closed, assigned to alwx

[2018-07-24 15:00] churik commented on #5184
@rcullito
The user automatically becomes your contact when you are chat initiator.
So it is right behaviour in #4893.
@EugeOrtiz yes, it is about navigating to profile by clicking on the picture.

[2018-07-24 15:04] rcullito commented on #5184
Great. Thanks for both of your feedback @EugeOrtiz and @churik. Somewhat related here is including the "back button" on the user profile to get back to the chat.

That has been done, and now I am wondering if it also makes sense to include the back button on the chat toolbar itself?

Once it is in place for one screen, visually: it quickly becomes difficult to live without :)

[2018-07-24 16:04] jeluard commented on #3838
Closing for now as it appears moving to yarn is not practical for us.

[2018-07-24 22:11] heyhaigh commented on #3931
Wonderful, thanks all! Cc @annadanchenko + @dickolsson

[2018-07-25 06:07] jeluard opened #5285 "Create documentation for web DApp API"
### User Story

As a user, I want to have enough documentation to start using the web DApp API.

### Description

*Type*: Feature

Add a new markdown file documenting the `Web DApp API` in the [docs folder](https://github.com/status-im/docs.status.im/tree/develop/docs).
This page will then be referenced in the `Build DApps` section in the [sidebars.json](https://github.com/status-im/docs.status.im

[2018-07-25 07:00] knocte commented on #802
I'm curious, does Status.IM support cold storage mode (work offline without internet) or you mean pair with another wallet?

[2018-07-25 08:06] lukaszfryc opened #5286 "Missing value for property 'account.address' error when account is recovered"
### Description

*Type*: Bug

*Summary*: This error happens only when there was already account with chat and user logged out and recovered another account. When recover button is pressed, "ReactNativeJS: Error: No item 1 in vector of length 1" error appears and then "Missing value for property 'account.address'". The app work fine when killed and opened again.

<img src="https://user-images.githu

[2018-07-25 08:07] lukaszfryc commented on #5286
This maybe the same issue as we recently closed: https://github.com/status-im/status-react/issues/4126 (PR: https://github.com/status-im/status-react/pull/4896)

[2018-07-25 08:08] lukaszfryc commented on #5286
@cammellos I wonder if https://github.com/status-im/status-react/issues/5232 will fix such errors?

[2018-07-25 08:11] lukaszfryc commented on #5286
Let's add testrail test scenario(s) before merging the fix

[2018-07-25 08:32] jeluard commented on #1939
ENS support is duplicated by #4747 and #5028. IPFS will be considered later.

[2018-07-25 08:32] #1939 closed, assigned to nobody

[2018-07-25 08:33] jeluard commented on #669
Relates to #4747 and #5028

[2018-07-25 08:53] jeluard commented on #3838
@alwx Can you share the gist of your findings?

[2018-07-25 08:55] vkjr commented on #4730
@chu, @asemiankevich, PR #5284 will be the last one about merging `desktop` and `develop` branch. I'm wondering, how we will test the `stable and reliable messaging` after it is merged?
Do we have a dedicated tests for that?

[2018-07-25 08:56] asemiankevich commented on #4730
@vkjr we have message reliability tests for mobile app (automated). Nothing is automated for desktop yet. The only solution I see for now is testing this manually for the desktop. Do you have any suggestions in mind?

[2018-07-25 09:04] vkjr commented on #4730
@asemiankevich, not really :( Was asking mostly because I'm assigned to this one. Maybe after merge I'll remove the assignment and change description since merge on itself doesn't guarantee reliable messaging.

[2018-07-25 09:12] lukaszfryc commented on #3413
Happened again for me on recent nightly

[2018-07-25 09:21] #5031 closed, assigned to nobody

[2018-07-25 09:23] asemiankevich opened #5287 "Do not redirect to home tab when closing error dialog after scanning invalid QR contact code"
### Description

*Type*: Feature

*Summary*: when i scan an invalid QR to start new chat - error dialog appears saying the content is not valid (expected). But when i click OK - dialog closes so I need to perform actions again to scan new code. I expect i stay on the same screen to have the possibility to scan any other QR again

#### Expected behavior

- [ ] do not redirect a user to Home tab aft

[2018-07-25 10:01] churik opened #5288 "Welcome screen is missing after sign in"
### Description

*Type*: Bug
*Summary*: after first sign in user should see welcome screen (design is [here](https://zpl.io/be4M3DP))

#### Expected behavior
after sign in:
![welcome new](https://user-images.githubusercontent.com/37297779/43415567-4867abf6-940c-11e8-9a76-1f37ecdc3577.png)

#### Actual behavior
<img width="568" alt="2" src="https://user-images.githubusercontent.com/4557972/43194155

[2018-07-25 11:49] annadanchenko opened #5292 "Constant error 'Could not connect to mailserver' if mailserver B is selected"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Error 'Could not connect to mailserver' if mailserver B is selected both on Ropsten and on Mainnet. If tap to reconnect same error is shown agai

[2018-07-25 11:52] Serhy opened #5293 "Messaging/transacting take too long to be processed if there is a 'Pending...' tx message"
***Type***: Bug

***Summary***: On Mainnet, once there is a transaction sent in 1-1 chat that will take too much time to be mined (or put into a block) which is also visible as `Pending...` status of `/send` message - further messages or transactions start to take way too long time for processing:
- spinner below sent message takes > 1m and actual message indeed not received by recipient
- transac

[2018-07-25 12:06] asemiankevich opened #5294 "Collectibles (cryptokitties) are not being loaded for the very first time (spinner and blank screen)"
### Description

*Type*: Bug

*Summary*: Blank screen and spinner shown when I am trying to view collectibles for the very first time in wallet

#### Expected behavior
Collectibles are shown (all cryptokittes)

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/43199891-2415cec0-901c-11e8-82ae-8fea8054c4f7.png)

### Reproduction

NOTE: you will be able to load your ki

[2018-07-25 12:57] divan commented on #5292
Seems like this particular mailserver has stuck and stopped processing incoming requests. For now, we just restarted the container, but here are some logs from affected server for future investigation:

Logs before it happened:

a lot of
`bad envelope received, peer will be disconnected peer=4c4ee27f706a35ad err="very old message"`
messages, followed by

`failed to send direct message to peer: wri

[2018-07-25 13:07] asemiankevich opened #5296 "Second transaction to CryptoKitties is very slow (spinner shown for ±10 seconds after i hit Sign button)"
### Description

*Type*: Bug

*Summary*: When i perform second in a row transaction to  CryptoKitties dapp - it is super slow, meaning:

- [ ] when i hit `sign transaction`button - it is not disabled for several seconds
- [ ] when it is finally disabled spinner shown saying txn in being processed and it takes ~10 seconds

#### Expected behavior

No lags when signing 2d in a row txn to dapp

#### A

[2018-07-25 14:30] churik opened #5297 "0 CryptoKitties are shown instead of actual amount in Collectibles on some recovered accounts"
### Description

*Type*: Bug

*Summary*: when I restore my account I don't see Cryptokitties in Collectibles section, but I can see them in DApp. Pull-to-refresh or relogin doesn't help. Is reporducible on account `0xcf2272205cc0cf96cfbb9dd740bd681d1e86901e`.

#### Expected behavior
1 CryptoKitty

#### Actual behavior
0 Cryptokitty
<img width="145" alt="0_cr" src="https://user-images.githubusercon

[2018-07-25 16:49] annadanchenko opened #5299 "Status logo is shown and no other screens if run Android app first time"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Only Status logo screen is shown for ~3-5 minutes if run Android mobile Status app for the first time, after this system proposes to Wait or sto

[2018-07-25 21:33] debragail commented on #4819
willing to work on this is .56 still the target @oskarth ?

[2018-07-25 23:46] rcullito commented on #5103
@MaxRis or @vkjr do you have any ideas on this? It looks like an inline alteration of `selection-color` won't do the update here. Seems like this might be a good opportunity to do in `react-native-desktop` if we don't have support yet? Thanks!

[2018-07-26 06:48] adambabik commented on #5292
Yesterday, we restarted a container running Mailserver B as it was not responding, after that, we noticed logs suggesting successful delivery of stored messages.

I checked this on today's nightly and Mailserver B worked fine. I did not see any errors and messages synced.

[2018-07-26 08:48] asemiankevich commented on #5299
looks  good to me in http://artifacts.status.im:8081/artifactory/nightlies-local/im.status.ethereum-0aaf20-n-fl.apk

<blockquote></blockquote>

[2018-07-26 08:57] asemiankevich opened #5301 "Please scan a valid contact code error shown when tapping Start a new chat"
### Description
_Type_: Bug

_Summary_: `Please scan a valid contact code` error shown when tapping Start a new chat

#### Expected behavior
No errors shown when i did not scan anything yet

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/43252321-db53cf66-90ca-11e8-9a5c-2579f3cc9724.png)

### Reproduction

* Open Status
* Tap start new chat

### Additional Informa

[2018-07-26 09:06] annadanchenko commented on #5299
also can't reproduce on new nightly and what's strange on the same nightly where it happened yesterday. As @yenda suggested might be an issue with TestFairy

[2018-07-26 09:06] #5299 closed, assigned to nobody

[2018-07-26 09:26] annadanchenko opened #5302 "Public channel with not-allowed name can be created via deep links"
### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
_Type_: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
_Summary_: With deep link like https://get.status.im/chat/public/notAllowed123Name user can navigate to the public channel "notAllowed123Name" that contains

[2018-07-26 09:42] vkjr commented on #5103
@rcullito, we already have support for `selectionColor` property of Text in `react-native-desktop`. So all we need is just add `selectable: true` and `selectionColor: ....` in all the places :)

[2018-07-26 11:03] churik opened #5303 "No validation for amount value for /request, /send commands in 1-1 chat"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: it is possible to request invalid amount with symbols, letters etc (i.e. `/request ETH 0,1Aaa` will successfully proceed to 1-1 chat). If user u

[2018-07-26 11:19] vkjr commented on #4977
https://github.com/status-im/react-native-desktop/issues/256 fixed now, so this probably can be unblocked.

[2018-07-26 11:20] vkjr commented on #4434
https://github.com/status-im/react-native-desktop/issues/256 fixed now, so this probably can be unblocked.

[2018-07-26 11:21] vkjr commented on #4435
https://github.com/status-im/react-native-desktop/issues/256 fixed now, so this probably can be unblocked.

[2018-07-26 11:26] Serhy commented on #1391
By this time we have an offline inbox support for contact requests and concurrent requests (represented by a step `Add 2-d account to contacts list using copied public key`) works as well.
Retested scenario from the description on Release 0.9.23 and develop 0.9.24 (6250) versions for Android and iOS and can confirm it's not an issue anymore.

[2018-07-26 12:31] annadanchenko opened #5306 "Send button is disabled in request message if cancel sending and send other amount from Wallet to the same contact"
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Send button is disabled but user didn't send requested amount. It happens if user taped on Send button, closed Send transaction screen without sending funds, ope

[2018-07-26 12:46] annadanchenko commented on #5048
Can't reproduce on July 26 nightly https://jenkins.status.im/job/status-react/job/nightly/522/
tried requesting of ETH and STT. Sent is shown after using Send button and sending requested funds. button becomes disabled as expected after it was used.

My testing: https://app.testfairy.com/projects/4803622-status/builds/8537431/sessions/4397170748/?accessToken=ccVACeXXOagw-oodsS1C0lnvEYA

[2018-07-26 13:01] #5048 closed, assigned to nobody

[2018-07-26 13:36] churik commented on #2825
Is not reproducible anynore (nightly 26/07/2018 0.9.24 (6255))

[2018-07-26 13:36] #2825 closed, assigned to lukaszfryc

[2018-07-26 13:38] churik commented on #4367
@lukaszfryc it is supposed for internal use only for 1 version (end of Q3)

[2018-07-26 13:39] churik commented on #4418
@EugeOrtiz please provide them once it'll be ready.
Thanks!

[2018-07-26 13:56] vkjr commented on #5082
Merge is done, so this one can be closed.

[2018-07-26 13:56] #5082 closed, assigned to nobody

[2018-07-26 13:56] vkjr commented on #5085
Merge is done, so this one can be closed.

[2018-07-26 13:56] #5085 closed, assigned to nobody

[2018-07-26 13:57] vkjr commented on #5086
Merge is done, so this one can be closed.

[2018-07-26 13:57] #5086 closed, assigned to nobody

[2018-07-26 13:57] vkjr commented on #5084
Merge is done, so this one can be closed.

[2018-07-26 13:57] #5084 closed, assigned to nobody

[2018-07-26 13:58] #5140 closed, assigned to nobody

[2018-07-26 14:12] vkjr commented on #4860
@EugeOrtiz, have you made a decision regarding font on Linux?

[2018-07-26 14:30] churik commented on #5202
I believe it is a bug, because we hadn't it before (on release 0.9.22(6164) and behavior is different on Android.

[2018-07-26 14:39] goranjovic opened #5307 "Show "New contract" when transaction recipient is empty"
### User Story

As a user I want clear and unambiguous UI when I deploy a new smart contract from Status

### Description

Modal Wallet Send shows "Specify recipient" instead of "New contract" when deploying a new contract.

*Type*: Bug

#### Expected behavior

Recipient is "New contract"

#### Actual behavior

Recipient is "Specify recipient"

### Reproduction

- Switch to Ropsten and open Status

[2018-07-26 15:08] rcullito commented on #5103
thanks for chiming in @vkjr ! I've tried with `selection-color` inline on the text (in addition to selectable: true)  but have been unable to alter it as desired. Since the selection color is already being set to dark purple for desktop it seems like we must already be setting the default somewhere?

[2018-07-26 15:11] flexsurfer commented on #5202
I believe it is a feature, because i made this change :) do you really need these buttons?

[2018-07-26 15:14] annadanchenko commented on #5293
might be connected with https://github.com/status-im/status-react/issues/5296 and both can have same root cause after merged https://github.com/status-im/status-react/pull/5221 ? @dmitryn

[2018-07-26 16:51] annadanchenko opened #5310 "Validate words when recovery phrase is entered and show warning if they do not match expected words"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Other account will be recovered if user makes a typo when entering a word in Recovery phrase. We can introduce validation of the entered wor

[2018-07-26 18:53] EugeOrtiz commented on #4434
@churik I can still see this issue in the latest build. Is it really done?

[2018-07-26 18:59] EugeOrtiz opened #5311 "Implement chat secondary actions on left panel"
**Story**
As a user, I want to be able to find secondary actions on 1:1 and public chats when I right-click on the user's row on the left panel.

**Actual behaivor**
Nothing happens when right clicking on a 1:1 or public chat row on left panel.

**Expected behavior**
When right clicking on "Super Violet Coordinated" row:
<img width="813" alt="captura de pantalla 2018-07-26 a la s 4 02 01 p m" src=

[2018-07-26 19:05] EugeOrtiz opened #5313 "Implement public chat secondary actions on left panel"
**Story**
As a user, I want to be able to find secondary actions on public chats when I right-click on the chat's row on the left panel.

**Actual behavior**
Nothing happens when right clicking on a public chat row on left panel.

**Expected behavior**
When right clicking on "#peoplewholovedogs" row:
<img width="375" alt="captura de pantalla 2018-07-26 a la s 4 06 20 p m" src="https://user-images.

[2018-07-26 19:08] EugeOrtiz opened #5314 "Implement secondary actions on public and 1:1 chat headers"
**Story**
As a user, I want to be able to perform some actions (clear history, delete chat) on a chat conversation (1:1 and public).

**Current behavior**
<img width="1086" alt="captura de pantalla 2018-07-26 a la s 4 09 52 p m" src="https://user-images.githubusercontent.com/37297779/43283141-71722b3c-90ee-11e8-9255-d4fe0c3cbf6a.png">

**Expected behavior**
<img width="805" alt="captura de pantall

[2018-07-27 06:01] churik commented on #4434
@EugeOrtiz It is not done, it is unblocked for future development by fixing RN-related error.

[2018-07-27 06:37] jeluard opened #5315 "Define a proposal for a basic CLI"
### User Story

As a user, I want to have a basic CLI to interact with a running Status instance. First step is to define what we plan to implement.

### Description

*Type*: Feature

This [proposal](https://gist.github.com/jeluard/7611c538887565a9c16429522bdeb8c5) can be used as a basis for discussion.

Plan is to:

* align with Embark and others DApps devs needs
* publish proposal to discuss to

[2018-07-27 06:46] errorists commented on #4608
Published the finalised designs
Zeplin: [zpl.io/aRYAgnv](zpl.io/aRYAgnv)
Prototype: https://framer.cloud/XvSUR/
Updated the prototype to allow replying to other replies, replying to yourself.

One change from what we discussed above: links in quotes are not tappable, I've prototyped and tested that and it was a mess, the touch target for links was so small that more often than not I'd hit the surr

[2018-07-27 07:38] noman-land commented on #5131
I'm getting "Error: Doesn't support name" for a totally different reason. Not sure if to file it as a separate issue.

I'm trying to run the `/request` command in a 1-1 chat to request 1 SNT or 0.0001 ETH from a contact and this error pops up.

[2018-07-27 07:55] churik commented on #5202
I don't; but I think  it should be the same in Andorid and IOS on such case

[2018-07-27 08:26] errorists commented on #4932
Proposed design prototype https://framer.cloud/kBFqz
In the design team, we agreed that the welcome screen is the best place to host the T&C and Privacy Policy.
In the user profile, I've added a common 'About' section where users will find the T&C and Privacy Policy. I also propose to move the Version number there, it feels like a more natural fit than having in next to 'Log Out'.

<blockquote><im

[2018-07-27 09:36] goranjovic opened #5316 "Kill all pending http requests on logout"
### User Story

As a user I want the fetched data for my different accounts on the same device to be kept separate.

### Description

Whenever user logs out, we should kill all pending http requests so that we would avoid the situations where a request is sent while user is logged in and response handled when he's logged out or logged in with a different account.

This issue is a generic fix for a

[2018-07-27 09:44] annadanchenko commented on #4272
how should it work in public chat for someone in your Contacts vs a stranger? E.g. if I'm in your Contacts list you will see "Anna" as a name, if not - you will see something anonymous like "Great White Cat". So when name is sent to chat what others will see (will it be Anna and Great White Cat depending on me being in their Contacts)? Will it be possible to tag a stranger and this person will be

[2018-07-27 09:50] vkjr commented on #4730
Merging to `develop` finished. So this issue could be tested to check if messaging is reliable.

[2018-07-27 10:04] maxhora opened #5317 "Make sure that actual config .env files are used to create binary distribution packages on Jenkins"
Make sure that MacOS app bundle and Linux AppImage are built on Jenkins pipeline with actual config .env files.

Currently, for Linux we use separate copy of .env file from `deployment` folder in git. For MacOS, seems, .env file from pre-uploaded .app bundle skeleton is used.

In both above cases .env files are not get updated automatically if default settings are changes for mobile project. This

[2018-07-27 10:11] maxhora commented on #4730
Please aware about https://github.com/status-im/status-react/issues/5317 potential issue.

[2018-07-27 10:43] vkjr commented on #4730
@MaxRis, good point, thanks!

[2018-07-27 10:46] vkjr commented on #5103
@rcullito, dark purple goes from qt internals

[2018-07-27 11:22] churik opened #5321 "/send and /request commands sent 1-1 chat aren't shown in chat history"
### User Story

As a user, I want to see if user send me transaction in 1-1 chat

### Description

*Type*: Bug
*Summary*: /send or /request commands should be displayed in chat history and chat list.

#### Expected behavior
like in mobile (without TX until there is the wallet in status desktop)
![ch_p](https://user-images.githubusercontent.com/4557972/43317860-42f72e88-91a7-11e8-8d72-74eed80f8f54.